Repository airbytehq/airbyte, changes with the owners that .github/CODEOWNERS names for each.
All owners: @airbytehq/connector-extensibility, @airbytehq/connector-operations, @airbytehq/protocol-reviewers, @airbytehq/destinations, @airbytehq/jdbc-connectors, @airbytehq/dbsources

.github/CODEOWNERS:

# CDK and Connector Acceptance Tests
/airbyte-cdk/ @airbytehq/connector-extensibility
/airbyte-integrations/connector-templates/ @airbytehq/connector-extensibility
/airbyte-integrations/bases/connector-acceptance-tests/ @airbytehq/connector-operations

# Protocol related items
/docs/understanding-airbyte/airbyte-protocol.md @airbytehq/protocol-reviewers

# Normalization
/airbyte-integrations/bases/base-normalization/ @airbytehq/destinations

# Java-based connectors
/airbyte-integrations/bases/base-java/ @airbytehq/jdbc-connectors

# Java-based source connectors
/airbyte-integrations/bases/debezium-v1-4-2/ @airbytehq/dbsources
/airbyte-integrations/bases/debezium-v1-9-6/ @airbytehq/dbsources
/airbyte-integrations/connectors/source-jdbc/ @airbytehq/dbsources
/airbyte-integrations/connectors/source-alloydb/ @airbytehq/dbsources
/airbyte-integrations/connectors/source-bigquery/ @airbytehq/dbsources
/airbyte-integrations/connectors/source-clickhouse/ @airbytehq/dbsources
/airbyte-integrations/connectors/source-cockroachdb/ @airbytehq/dbsources
/airbyte-integrations/connectors/source-db2/ @airbytehq/dbsources
/airbyte-integrations/connectors/source-mssql/ @airbytehq/dbsources
/airbyte-integrations/connectors/source-mysql/ @airbytehq/dbsources
/airbyte-integrations/connectors/source-oracle/ @airbytehq/dbsources
/airbyte-integrations/connectors/source-postgres/ @airbytehq/dbsources
/airbyte-integrations/connectors/source-redshift/ @airbytehq/dbsources
/airbyte-integrations/connectors/source-snowflake/ @airbytehq/dbsources
/airbyte-integrations/connectors/source-tidb/ @airbytehq/dbsources

# Java-based destination connectors
/airbyte-integrations/bases/standard-destination-test/ @airbytehq/destinations
/airbyte-integrations/bases/base-java-s3/ @airbytehq/destinations
/airbyte-integrations/bases/bases-destination-jdbc/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-bigquery/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-bigquery-denormalized/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-azure-blob-storage/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-clickhouse/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-databricks/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-gcs/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-mariadb-columnstore/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-mysql/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-mssql/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-oracle/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-postgres/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-redshift/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-rockset/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-s3/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-snowflake/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-tidb/ @airbytehq/destinations

Update expected records
  airbyte-integrations/connectors/source-woocommerce/integration_tests/expected_records.jsonl
Owners: none

Update to use rev-parse
  .github/workflows/connectors_tests.yml
Owners: none

Update to use rev-parse (#27598)
  .github/workflows/connectors_tests.yml
Owners: none

Update to use rev-parse (#27598)
  .github/workflows/connectors_tests.yml
Owners: none

Update to use rev-parse (#27598)
  .github/workflows/connectors_tests.yml
Owners: none

Override page_size
  airbyte-integrations/connectors/source-twilio/source_twilio/streams.py
Owners: none

find records with data_field
  airbyte-integrations/connectors/source-twilio/source_twilio/streams.py
Owners: none

Issue 26581/per partition cursor (#27223)
  airbyte-cdk/python/airbyte_cdk/sources/abstract_source.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/incremental/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/incremental/per_partition_cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/model_to_component_factory.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/retrievers/simple_retriever.py
  airbyte-cdk/python/unit_tests/sources/declarative/incremental/test_per_partition_cursor.py
  airbyte-cdk/python/unit_tests/sources/declarative/incremental/test_per_partition_cursor_integration.py
  airbyte-cdk/python/unit_tests/sources/declarative/parsers/test_model_to_component_factory.py
  airbyte-cdk/python/unit_tests/sources/declarative/retrievers/test_simple_retriever.py
Owners: @airbytehq/connector-extensibility

connectors-ci: better connector test debugging experience (1/2) (#27550)
  tools/ci_connector_ops/ci_connector_ops/pipelines/actions/secrets.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/bases.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/commands/groups/connectors.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/contexts.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/pipelines/connectors.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/tests/templates/test_report.html.j2
  tools/ci_connector_ops/setup.py
Owners: none

🚨🚨 🐛 Convex source fix skipped records (#27226)
  airbyte-integrations/connectors/source-convex/Dockerfile
  airbyte-integrations/connectors/source-convex/acceptance-test-config.yml
  airbyte-integrations/connectors/source-convex/metadata.yaml
  airbyte-integrations/connectors/source-convex/source_convex/source.py
  airbyte-integrations/connectors/source-convex/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-convex/unit_tests/test_streams.py
  docs/integrations/sources/convex.md
Owners: none

Override page_size
  airbyte-integrations/connectors/source-twilio/source_twilio/streams.py
Owners: none

find records with data_field
  airbyte-integrations/connectors/source-twilio/source_twilio/streams.py
Owners: none

Turn off java formatter (#27579)
  .github/workflows/connectors_tests.yml
Owners: none

🤖 Bump minor version of Airbyte CDK
  airbyte-cdk/python/.bumpversion.cfg
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/Dockerfile
  airbyte-cdk/python/setup.py
Owners: @airbytehq/connector-extensibility

Update the schema
  airbyte-integrations/connectors/source-woocommerce/Dockerfile
  airbyte-integrations/connectors/source-woocommerce/metadata.yaml
  airbyte-integrations/connectors/source-woocommerce/source_woocommerce/schemas/products.json
Owners: none

add some awful pretty print code
  airbyte-integrations/connectors/destination-bigquery/src/test/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGeneratorIntegrationTest.java
Owners: @airbytehq/destinations

more comment
  airbyte-integrations/connectors/destination-bigquery/src/test/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGeneratorIntegrationTest.java
Owners: @airbytehq/destinations

Update changelog
  docs/integrations/sources/woocommerce.md
Owners: none

Revert "Update changelog"
  docs/integrations/sources/woocommerce.md
Owners: none

Update changelog
  docs/integrations/sources/woocommerce.md
Owners: none

chore: increase look back to 120 minutes for events steams of klaviyo (#128)
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/streams.py
Owners: none

🤖 Add CoinGecko Coins connector to cloud
  airbyte-integrations/connectors/source-coingecko-coins/metadata.yaml
Owners: none

source fb marketing: fix CATs
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/acceptance-test-config.yml
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/ad_account.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/base_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_client.py
  docs/integrations/sources/facebook-marketing.md
Owners: none

optimize the cache for more hits
  airbyte-cdk/python/airbyte_cdk/entrypoint.py
  airbyte-cdk/python/unit_tests/sources/fixtures/source_test_fixture.py
  airbyte-cdk/python/unit_tests/sources/test_integration_source.py
Owners: @airbytehq/connector-extensibility

fix typo
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_client.py
Owners: none

formatting
  airbyte-cdk/python/airbyte_cdk/entrypoint.py
Owners: @airbytehq/connector-extensibility

connectors-ci: do not cache unpinned cdk
  tools/ci_connector_ops/ci_connector_ops/pipelines/actions/environments.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/commands/groups/connectors.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/utils.py
Owners: none

source-postgres : Add logic to handle xmin wraparound (#27466)
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/xmin/PostgresXminHandler.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/xmin/XminCtidUtils.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/xmin/PostgresXminHandlerTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/xmin/XminCtidUtilsTest.java
Owners: @airbytehq/dbsources

postgres-source: complete implementation for for ctid and xmin sync (#27302)
  airbyte-commons/src/main/java/io/airbyte/commons/util/AutoCloseableIterators.java
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresQueryUtils.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/AirbyteMessageWithCtid.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidPostgresSourceOperations.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidStateIterator.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidStateManager.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/PostgresCtidHandler.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/xmin/PostgresXminHandler.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/xmin/XminCtidUtils.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/xmin/XminStateManager.java
  airbyte-integrations/connectors/source-postgres/src/main/resources/internal_models/internal_models.yaml
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/XminPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/xmin/PostgresXminHandlerTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/xmin/XminCtidUtilsTest.java
Owners: @airbytehq/dbsources

postgres-source: complete implementation for for ctid and xmin sync (#27302)
  airbyte-commons/src/main/java/io/airbyte/commons/util/AutoCloseableIterators.java
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresQueryUtils.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/AirbyteMessageWithCtid.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidPostgresSourceOperations.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidStateIterator.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidStateManager.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/PostgresCtidHandler.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/xmin/PostgresXminHandler.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/xmin/XminCtidUtils.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/xmin/XminStateManager.java
  airbyte-integrations/connectors/source-postgres/src/main/resources/internal_models/internal_models.yaml
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/XminPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/xmin/PostgresXminHandlerTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/xmin/XminCtidUtilsTest.java
Owners: @airbytehq/dbsources

postgres-source: complete implementation for for ctid and xmin sync (#27302)
  airbyte-commons/src/main/java/io/airbyte/commons/util/AutoCloseableIterators.java
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresQueryUtils.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/AirbyteMessageWithCtid.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidPostgresSourceOperations.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidStateIterator.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidStateManager.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/PostgresCtidHandler.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/xmin/PostgresXminHandler.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/xmin/XminCtidUtils.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/xmin/XminStateManager.java
  airbyte-integrations/connectors/source-postgres/src/main/resources/internal_models/internal_models.yaml
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/XminPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/xmin/PostgresXminHandlerTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/xmin/XminCtidUtilsTest.java
Owners: @airbytehq/dbsources

Automated Commit - Formatting Changes
  airbyte-commons/src/main/java/io/airbyte/commons/util/AutoCloseableIterators.java
Owners: none

Source S3: Add logging for file reading
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/stream.py
Owners: none

Source S3: update docs
  docs/integrations/sources/s3.md
Owners: none

Source S3: Add logging for file reading (#27604)
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/stream.py
  docs/integrations/sources/s3.md
Owners: none

Source S3: Add logging for file reading (#27604)
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/stream.py
  docs/integrations/sources/s3.md
Owners: none

Source S3: Add logging for file reading (#27604)
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/stream.py
  docs/integrations/sources/s3.md
Owners: none

fix CAT
  airbyte-integrations/connectors/source-facebook-marketing/acceptance-test-config.yml
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/spec.json
Owners: none

adjust docs
  docs/connector-development/connector-builder-ui/authentication.md
Owners: none

increased connectors version
  airbyte-integrations/connectors/source-google-directory/Dockerfile
  airbyte-integrations/connectors/source-google-directory/metadata.yaml
  docs/integrations/sources/google-directory.md
Owners: none
