Repository airbytehq/airbyte, changes with the owners that .github/CODEOWNERS names for each.
All owners: @airbytehq/ai-language-models, @airbytehq/dev-tooling, @airbytehq/python-team, @airbytehq/dev-marketplace-contributions, @airbytehq/protocol-reviewers, @airbytehq/dbsources, @airbytehq/destinations

migrate connector to manifest-only
  airbyte-integrations/connectors/source-reply-io/README.md
  airbyte-integrations/connectors/source-reply-io/__init__.py
  airbyte-integrations/connectors/source-reply-io/acceptance-test-config.yml
  airbyte-integrations/connectors/source-reply-io/main.py
  airbyte-integrations/connectors/source-reply-io/manifest.yaml
  airbyte-integrations/connectors/source-reply-io/metadata.yaml
  airbyte-integrations/connectors/source-reply-io/poetry.lock
  airbyte-integrations/connectors/source-reply-io/pyproject.toml
  airbyte-integrations/connectors/source-reply-io/source_reply_io/__init__.py
  airbyte-integrations/connectors/source-reply-io/source_reply_io/manifest.yaml
  airbyte-integrations/connectors/source-reply-io/source_reply_io/run.py
  airbyte-integrations/connectors/source-reply-io/source_reply_io/source.py
  docs/integrations/sources/reply-io.md
Owners: none

migrate connector to manifest-only
  airbyte-integrations/connectors/source-polygon-stock-api/README.md
  airbyte-integrations/connectors/source-polygon-stock-api/__init__.py
  airbyte-integrations/connectors/source-polygon-stock-api/acceptance-test-config.yml
  airbyte-integrations/connectors/source-polygon-stock-api/main.py
  airbyte-integrations/connectors/source-polygon-stock-api/manifest.yaml
  airbyte-integrations/connectors/source-polygon-stock-api/metadata.yaml
  airbyte-integrations/connectors/source-polygon-stock-api/poetry.lock
  airbyte-integrations/connectors/source-polygon-stock-api/pyproject.toml
  airbyte-integrations/connectors/source-polygon-stock-api/source_polygon_stock_api/__init__.py
  airbyte-integrations/connectors/source-polygon-stock-api/source_polygon_stock_api/run.py
  airbyte-integrations/connectors/source-polygon-stock-api/source_polygon_stock_api/source.py
  docs/integrations/sources/polygon-stock-api.md
Owners: none

migrate connector to manifest-only
  airbyte-integrations/connectors/source-oura/README.md
  airbyte-integrations/connectors/source-oura/__init__.py
  airbyte-integrations/connectors/source-oura/acceptance-test-config.yml
  airbyte-integrations/connectors/source-oura/main.py
  airbyte-integrations/connectors/source-oura/manifest.yaml
  airbyte-integrations/connectors/source-oura/metadata.yaml
  airbyte-integrations/connectors/source-oura/poetry.lock
  airbyte-integrations/connectors/source-oura/pyproject.toml
  airbyte-integrations/connectors/source-oura/source_oura/__init__.py
  airbyte-integrations/connectors/source-oura/source_oura/manifest.yaml
  airbyte-integrations/connectors/source-oura/source_oura/run.py
  airbyte-integrations/connectors/source-oura/source_oura/source.py
  docs/integrations/sources/oura.md
Owners: none

remove bubble_sort tests
  airbyte-cdk/python/airbyte_cdk/bubble_sort.py
  airbyte-cdk/python/unit_tests/test_bubble_sort.py
Owners: @airbytehq/python-team

migrate connector to manifest-only
  airbyte-integrations/connectors/source-orbit/README.md
  airbyte-integrations/connectors/source-orbit/__init__.py
  airbyte-integrations/connectors/source-orbit/acceptance-test-config.yml
  airbyte-integrations/connectors/source-orbit/main.py
  airbyte-integrations/connectors/source-orbit/manifest.yaml
  airbyte-integrations/connectors/source-orbit/metadata.yaml
  airbyte-integrations/connectors/source-orbit/poetry.lock
  airbyte-integrations/connectors/source-orbit/pyproject.toml
  airbyte-integrations/connectors/source-orbit/source_orbit/__init__.py
  airbyte-integrations/connectors/source-orbit/source_orbit/manifest.yaml
  airbyte-integrations/connectors/source-orbit/source_orbit/run.py
  airbyte-integrations/connectors/source-orbit/source_orbit/source.py
  docs/integrations/sources/orbit.md
Owners: none

migrate connector to manifest-only
  airbyte-integrations/connectors/source-omnisend/README.md
  airbyte-integrations/connectors/source-omnisend/__init__.py
  airbyte-integrations/connectors/source-omnisend/acceptance-test-config.yml
  airbyte-integrations/connectors/source-omnisend/main.py
  airbyte-integrations/connectors/source-omnisend/manifest.yaml
  airbyte-integrations/connectors/source-omnisend/metadata.yaml
  airbyte-integrations/connectors/source-omnisend/poetry.lock
  airbyte-integrations/connectors/source-omnisend/pyproject.toml
  airbyte-integrations/connectors/source-omnisend/source_omnisend/__init__.py
  airbyte-integrations/connectors/source-omnisend/source_omnisend/manifest.yaml
  airbyte-integrations/connectors/source-omnisend/source_omnisend/run.py
  airbyte-integrations/connectors/source-omnisend/source_omnisend/source.py
  docs/integrations/sources/omnisend.md
Owners: none

migrate connector to manifest-only
  airbyte-integrations/connectors/source-lemlist/README.md
  airbyte-integrations/connectors/source-lemlist/__init__.py
  airbyte-integrations/connectors/source-lemlist/acceptance-test-config.yml
  airbyte-integrations/connectors/source-lemlist/main.py
  airbyte-integrations/connectors/source-lemlist/manifest.yaml
  airbyte-integrations/connectors/source-lemlist/metadata.yaml
  airbyte-integrations/connectors/source-lemlist/poetry.lock
  airbyte-integrations/connectors/source-lemlist/pyproject.toml
  airbyte-integrations/connectors/source-lemlist/source_lemlist/__init__.py
  airbyte-integrations/connectors/source-lemlist/source_lemlist/manifest.yaml
  airbyte-integrations/connectors/source-lemlist/source_lemlist/run.py
  airbyte-integrations/connectors/source-lemlist/source_lemlist/source.py
  docs/integrations/sources/lemlist.md
Owners: none

migrate connector to manifest-only
  airbyte-integrations/connectors/source-gainsight-px/README.md
  airbyte-integrations/connectors/source-gainsight-px/__init__.py
  airbyte-integrations/connectors/source-gainsight-px/acceptance-test-config.yml
  airbyte-integrations/connectors/source-gainsight-px/main.py
  airbyte-integrations/connectors/source-gainsight-px/manifest.yaml
  airbyte-integrations/connectors/source-gainsight-px/metadata.yaml
  airbyte-integrations/connectors/source-gainsight-px/poetry.lock
  airbyte-integrations/connectors/source-gainsight-px/pyproject.toml
  airbyte-integrations/connectors/source-gainsight-px/source_gainsight_px/__init__.py
  airbyte-integrations/connectors/source-gainsight-px/source_gainsight_px/manifest.yaml
  airbyte-integrations/connectors/source-gainsight-px/source_gainsight_px/run.py
  airbyte-integrations/connectors/source-gainsight-px/source_gainsight_px/source.py
  docs/integrations/sources/gainsight-px.md
Owners: none

migrate connector to manifest-only
  airbyte-integrations/connectors/source-dremio/README.md
  airbyte-integrations/connectors/source-dremio/__init__.py
  airbyte-integrations/connectors/source-dremio/acceptance-test-config.yml
  airbyte-integrations/connectors/source-dremio/main.py
  airbyte-integrations/connectors/source-dremio/manifest.yaml
  airbyte-integrations/connectors/source-dremio/metadata.yaml
  airbyte-integrations/connectors/source-dremio/poetry.lock
  airbyte-integrations/connectors/source-dremio/pyproject.toml
  airbyte-integrations/connectors/source-dremio/source_dremio/__init__.py
  airbyte-integrations/connectors/source-dremio/source_dremio/manifest.yaml
  airbyte-integrations/connectors/source-dremio/source_dremio/run.py
  airbyte-integrations/connectors/source-dremio/source_dremio/source.py
  docs/integrations/sources/dremio.md
Owners: none

migrate connector to manifest-only
  airbyte-integrations/connectors/source-datascope/BOOTSTRAP.md
  airbyte-integrations/connectors/source-datascope/README.md
  airbyte-integrations/connectors/source-datascope/__init__.py
  airbyte-integrations/connectors/source-datascope/acceptance-test-config.yml
  airbyte-integrations/connectors/source-datascope/main.py
  airbyte-integrations/connectors/source-datascope/manifest.yaml
  airbyte-integrations/connectors/source-datascope/metadata.yaml
  airbyte-integrations/connectors/source-datascope/poetry.lock
  airbyte-integrations/connectors/source-datascope/pyproject.toml
  airbyte-integrations/connectors/source-datascope/source_datascope/__init__.py
  airbyte-integrations/connectors/source-datascope/source_datascope/manifest.yaml
  airbyte-integrations/connectors/source-datascope/source_datascope/run.py
  airbyte-integrations/connectors/source-datascope/source_datascope/source.py
  docs/integrations/sources/datascope.md
Owners: none

migrate connector to manifest-only
  airbyte-integrations/connectors/source-clickup-api/README.md
  airbyte-integrations/connectors/source-clickup-api/__init__.py
  airbyte-integrations/connectors/source-clickup-api/acceptance-test-config.yml
  airbyte-integrations/connectors/source-clickup-api/main.py
  airbyte-integrations/connectors/source-clickup-api/manifest.yaml
  airbyte-integrations/connectors/source-clickup-api/metadata.yaml
  airbyte-integrations/connectors/source-clickup-api/poetry.lock
  airbyte-integrations/connectors/source-clickup-api/pyproject.toml
  airbyte-integrations/connectors/source-clickup-api/source_clickup_api/__init__.py
  airbyte-integrations/connectors/source-clickup-api/source_clickup_api/run.py
  airbyte-integrations/connectors/source-clickup-api/source_clickup_api/source.py
  docs/integrations/sources/clickup-api.md
Owners: none

migrate connector to manifest-only
  airbyte-integrations/connectors/source-chartmogul/README.md
  airbyte-integrations/connectors/source-chartmogul/__init__.py
  airbyte-integrations/connectors/source-chartmogul/acceptance-test-config.yml
  airbyte-integrations/connectors/source-chartmogul/bootstrap.md
  airbyte-integrations/connectors/source-chartmogul/main.py
  airbyte-integrations/connectors/source-chartmogul/manifest.yaml
  airbyte-integrations/connectors/source-chartmogul/metadata.yaml
  airbyte-integrations/connectors/source-chartmogul/poetry.lock
  airbyte-integrations/connectors/source-chartmogul/pyproject.toml
  airbyte-integrations/connectors/source-chartmogul/source_chartmogul/__init__.py
  airbyte-integrations/connectors/source-chartmogul/source_chartmogul/manifest.yaml
  airbyte-integrations/connectors/source-chartmogul/source_chartmogul/run.py
  airbyte-integrations/connectors/source-chartmogul/source_chartmogul/source.py
  docs/integrations/sources/chartmogul.md
Owners: none

migrate connector to manifest-only
  airbyte-integrations/connectors/source-captain-data/README.md
  airbyte-integrations/connectors/source-captain-data/__init__.py
  airbyte-integrations/connectors/source-captain-data/acceptance-test-config.yml
  airbyte-integrations/connectors/source-captain-data/main.py
  airbyte-integrations/connectors/source-captain-data/manifest.yaml
  airbyte-integrations/connectors/source-captain-data/metadata.yaml
  airbyte-integrations/connectors/source-captain-data/poetry.lock
  airbyte-integrations/connectors/source-captain-data/pyproject.toml
  airbyte-integrations/connectors/source-captain-data/source_captain_data/__init__.py
  airbyte-integrations/connectors/source-captain-data/source_captain_data/manifest.yaml
  airbyte-integrations/connectors/source-captain-data/source_captain_data/run.py
  airbyte-integrations/connectors/source-captain-data/source_captain_data/source.py
  docs/integrations/sources/captain-data.md
Owners: none

migrate connector to manifest-only
  airbyte-integrations/connectors/source-ashby/README.md
  airbyte-integrations/connectors/source-ashby/__init__.py
  airbyte-integrations/connectors/source-ashby/acceptance-test-config.yml
  airbyte-integrations/connectors/source-ashby/bootstrap.md
  airbyte-integrations/connectors/source-ashby/main.py
  airbyte-integrations/connectors/source-ashby/manifest.yaml
  airbyte-integrations/connectors/source-ashby/metadata.yaml
  airbyte-integrations/connectors/source-ashby/poetry.lock
  airbyte-integrations/connectors/source-ashby/pyproject.toml
  airbyte-integrations/connectors/source-ashby/source_ashby/__init__.py
  airbyte-integrations/connectors/source-ashby/source_ashby/manifest.yaml
  airbyte-integrations/connectors/source-ashby/source_ashby/run.py
  airbyte-integrations/connectors/source-ashby/source_ashby/source.py
  airbyte-integrations/connectors/source-ashby/unit_tests/test_dummy.py
  docs/integrations/sources/ashby.md
Owners: none

configure days_requested
  airbyte-integrations/connectors/source-plaid/source_plaid/manifest.yaml
Owners: none

lint
  airbyte-integrations/connectors/source-plaid/source_plaid/manifest.yaml
Owners: none

Added logging for verifying the results from show queries
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeDestinationHandler.kt
Owners: @airbytehq/destinations

update sample config
  airbyte-integrations/connectors/source-plaid/integration_tests/sample_config.json
Owners: none

fix types, address PR review comments partially
  airbyte-cdk/python/airbyte_cdk/connector_builder/message_grouper.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/csv_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/requests_native_auth/abstract_oauth.py
  airbyte-cdk/python/airbyte_cdk/sources/utils/schema_helpers.py
  airbyte-cdk/python/airbyte_cdk/utils/event_timing.py
Owners: @airbytehq/python-team

Revert "remove bubble_sort tests"
  airbyte-cdk/python/airbyte_cdk/bubble_sort.py
  airbyte-cdk/python/unit_tests/test_bubble_sort.py
Owners: @airbytehq/python-team

add a comment
  airbyte-cdk/python/airbyte_cdk/bubble_sort.py
Owners: @airbytehq/python-team

commit them files
  .github/workflows/codeflash-optimize.yml
  airbyte-cdk/python/airbyte_cdk/bubble_sort.py
  airbyte-cdk/python/poetry.lock
  airbyte-cdk/python/pyproject.toml
  airbyte-cdk/python/unit_tests/test_bubble_sort.py
Owners: @airbytehq/dev-tooling, @airbytehq/python-team

[airbyte-cdk] refactor error handling in abstract source (#40571)
  airbyte-cdk/python/airbyte_cdk/sources/abstract_source.py
Owners: @airbytehq/python-team

remove unwanted comment
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/state/MongoDbStateManager.java
Owners: @airbytehq/dbsources

merge
  airbyte-cdk/python/poetry.lock
  airbyte-cdk/python/pyproject.toml
Owners: @airbytehq/python-team

🤖 patch bump Python CDK to version 4.5.2
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/pyproject.toml
Owners: @airbytehq/python-team

🤖 Cut version 4.5.2 of source-declarative-manifest
  airbyte-integrations/connectors/source-declarative-manifest/metadata.yaml
  airbyte-integrations/connectors/source-declarative-manifest/poetry.lock
  airbyte-integrations/connectors/source-declarative-manifest/pyproject.toml
  docs/integrations/sources/low-code.md
Owners: none

remove test files
  airbyte-cdk/python/airbyte_cdk/bubble_sort.py
  airbyte-cdk/python/unit_tests/test_bubble_sort.py
Owners: @airbytehq/python-team

Only run on main repo
  .github/workflows/codeflash-optimize.yml
Owners: @airbytehq/dev-tooling

Add a comment
  .github/workflows/codeflash-optimize.yml
Owners: @airbytehq/dev-tooling

rename
  .github/workflows/cdk-codeflash.yml
Owners: @airbytehq/dev-tooling

Revert "remove test files"
  airbyte-cdk/python/airbyte_cdk/bubble_sort.py
  airbyte-cdk/python/unit_tests/test_bubble_sort.py
Owners: @airbytehq/python-team

migrate connector to manifest-only
  airbyte-integrations/connectors/source-zendesk-sell/README.md
  airbyte-integrations/connectors/source-zendesk-sell/__init__.py
  airbyte-integrations/connectors/source-zendesk-sell/acceptance-test-config.yml
  airbyte-integrations/connectors/source-zendesk-sell/main.py
  airbyte-integrations/connectors/source-zendesk-sell/manifest.yaml
  airbyte-integrations/connectors/source-zendesk-sell/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-sell/poetry.lock
  airbyte-integrations/connectors/source-zendesk-sell/pyproject.toml
  airbyte-integrations/connectors/source-zendesk-sell/source_zendesk_sell/__init__.py
  airbyte-integrations/connectors/source-zendesk-sell/source_zendesk_sell/manifest.yaml
  airbyte-integrations/connectors/source-zendesk-sell/source_zendesk_sell/run.py
  airbyte-integrations/connectors/source-zendesk-sell/source_zendesk_sell/schemas/call_outcomes.json
  airbyte-integrations/connectors/source-zendesk-sell/source_zendesk_sell/schemas/calls.json
  airbyte-integrations/connectors/source-zendesk-sell/source_zendesk_sell/schemas/collaborations.json
  airbyte-integrations/connectors/source-zendesk-sell/source_zendesk_sell/schemas/contacts.json
  airbyte-integrations/connectors/source-zendesk-sell/source_zendesk_sell/schemas/deal_sources.json
  airbyte-integrations/connectors/source-zendesk-sell/source_zendesk_sell/schemas/deal_unqualified_reasons.json
  airbyte-integrations/connectors/source-zendesk-sell/source_zendesk_sell/schemas/deals.json
  airbyte-integrations/connectors/source-zendesk-sell/source_zendesk_sell/schemas/lead_conversions.json
  airbyte-integrations/connectors/source-zendesk-sell/source_zendesk_sell/schemas/lead_sources.json
  airbyte-integrations/connectors/source-zendesk-sell/source_zendesk_sell/schemas/lead_unqualified_reasons.json
  airbyte-integrations/connectors/source-zendesk-sell/source_zendesk_sell/schemas/leads.json
  airbyte-integrations/connectors/source-zendesk-sell/source_zendesk_sell/schemas/loss_reasons.json
  airbyte-integrations/connectors/source-zendesk-sell/source_zendesk_sell/schemas/notes.json
  airbyte-integrations/connectors/source-zendesk-sell/source_zendesk_sell/schemas/orders.json
  airbyte-integrations/connectors/source-zendesk-sell/source_zendesk_sell/schemas/pipelines.json
  airbyte-integrations/connectors/source-zendesk-sell/source_zendesk_sell/schemas/products.json
  airbyte-integrations/connectors/source-zendesk-sell/source_zendesk_sell/schemas/stages.json
  airbyte-integrations/connectors/source-zendesk-sell/source_zendesk_sell/schemas/tags.json
  airbyte-integrations/connectors/source-zendesk-sell/source_zendesk_sell/schemas/tasks.json
  airbyte-integrations/connectors/source-zendesk-sell/source_zendesk_sell/schemas/text_messages.json
  airbyte-integrations/connectors/source-zendesk-sell/source_zendesk_sell/schemas/users.json
  airbyte-integrations/connectors/source-zendesk-sell/source_zendesk_sell/schemas/visit_outcomes.json
  airbyte-integrations/connectors/source-zendesk-sell/source_zendesk_sell/schemas/visits.json
  airbyte-integrations/connectors/source-zendesk-sell/source_zendesk_sell/source.py
  docs/integrations/sources/zendesk-sell.md
Owners: none

migrate connector to manifest-only
  airbyte-integrations/connectors/source-yotpo/README.md
  airbyte-integrations/connectors/source-yotpo/__init__.py
  airbyte-integrations/connectors/source-yotpo/acceptance-test-config.yml
  airbyte-integrations/connectors/source-yotpo/main.py
  airbyte-integrations/connectors/source-yotpo/manifest.yaml
  airbyte-integrations/connectors/source-yotpo/metadata.yaml
  airbyte-integrations/connectors/source-yotpo/poetry.lock
  airbyte-integrations/connectors/source-yotpo/pyproject.toml
  airbyte-integrations/connectors/source-yotpo/source_yotpo/__init__.py
  airbyte-integrations/connectors/source-yotpo/source_yotpo/manifest.yaml
  airbyte-integrations/connectors/source-yotpo/source_yotpo/run.py
  airbyte-integrations/connectors/source-yotpo/source_yotpo/schemas/email_analytics.json
  airbyte-integrations/connectors/source-yotpo/source_yotpo/schemas/raw_data.json
  airbyte-integrations/connectors/source-yotpo/source_yotpo/schemas/reviews.json
  airbyte-integrations/connectors/source-yotpo/source_yotpo/schemas/unsubscribers.json
  airbyte-integrations/connectors/source-yotpo/source_yotpo/schemas/webhook_events.json
  airbyte-integrations/connectors/source-yotpo/source_yotpo/schemas/webhooks.json
  airbyte-integrations/connectors/source-yotpo/source_yotpo/source.py
  airbyte-integrations/connectors/source-yotpo/source_yotpo/spec.yaml
  docs/integrations/sources/yotpo.md
Owners: none

.github/CODEOWNERS:

# Vector db connectors
/airbyte-integrations/connectors/destination-pinecone @airbytehq/ai-language-models
/airbyte-integrations/connectors/destination-weaviate @airbytehq/ai-language-models
/airbyte-integrations/connectors/destination-milvus @airbytehq/ai-language-models
/airbyte-integrations/connectors/destination-qdrant @airbytehq/ai-language-models
/airbyte-integrations/connectors/destination-chroma @airbytehq/ai-language-models
/airbyte-integrations/connectors/destination-snowflake-cortex @airbytehq/ai-language-models
/airbyte-cdk/python/airbyte_cdk/destinations/vector_db_based @airbytehq/ai-language-models

# CI/CD
/.github/ @airbytehq/dev-tooling
/airbyte-ci/ @airbytehq/dev-tooling

# Python CDK and Connector Acceptance Tests
/airbyte-cdk/python @airbytehq/python-team
/airbyte-integrations/connector-templates/ @airbytehq/dev-marketplace-contributions
/airbyte-integrations/bases/connector-acceptance-test/ @airbytehq/dev-tooling

# Build customization file change
/airbyte-integrations/connectors/**/build_customization.py @airbytehq/dev-tooling

# Protocol related items
/docs/understanding-airbyte/airbyte-protocol.md @airbytehq/protocol-reviewers

# Bulk CDK
/airbyte-cdk/bulk @airbytehq/dbsources @airbytehq/destinations
/airbyte-cdk/bulk/core/extract/ @airbytehq/dbsources
/airbyte-cdk/bulk/core/load/ @airbytehq/destinations
/airbyte-cdk/bulk/toolkits/extract-*/ @airbytehq/dbsources
/airbyte-cdk/bulk/toolkits/load-*/ @airbytehq/destinations

# Java CDK
/airbyte-cdk/java/airbyte-cdk @airbytehq/dbsources @airbytehq/destinations
/airbyte-cdk/java/airbyte-cdk/*-sources/ @airbytehq/dbsources
/airbyte-cdk/java/airbyte-cdk/*-destinations/ @airbytehq/destinations
/airbyte-cdk/java/airbyte-cdk/typing-deduping/ @airbytehq/destinations

# Java connectors catch-all
/buildSrc/ @airbytehq/dbsources @airbytehq/destinations
/airbyte-integrations/connectors/source-*/**/*.java @airbytehq/dbsources
/airbyte-integrations/connectors/source-*/**/*.kt @airbytehq/dbsources
/airbyte-integrations/connectors/source-*/**/*.gradle @airbytehq/dbsources
/airbyte-integrations/connectors-performance/source-harness/ @airbytehq/dbsources
/airbyte-integrations/connectors/destination-*/**/*.java @airbytehq/destinations
/airbyte-integrations/connectors/destination-*/**/*.kt @airbytehq/destinations
/airbyte-integrations/connectors/destination-*/**/*.gradle @airbytehq/destinations
/airbyte-integrations/connectors-performance/destination-harness/ @airbytehq/dbsources

# Java-based certified or incubating source connectors
/airbyte-integrations/connectors/source-mongodb-v2/ @airbytehq/dbsources
/airbyte-integrations/connectors/source-mssql/ @airbytehq/dbsources
/airbyte-integrations/connectors/source-mysql/ @airbytehq/dbsources
/airbyte-integrations/connectors/source-postgres/ @airbytehq/dbsources

# Java-based certified or incubating destination connectors
/airbyte-integrations/connectors/destination-bigquery/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-postgres/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-postgres-strict-encrypt/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-s3/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-snowflake/ @airbytehq/destinations
/airbyte-integrations/connectors/destination-redshift/ @airbytehq/destinations

# Python critical connectors
/airbyte-integrations/connectors/source-facebook-marketing/ @airbytehq/python-team
/airbyte-integrations/connectors/source-hubspot/ @airbytehq/python-team
/airbyte-integrations/connectors/source-salesforce/ @airbytehq/python-team
/airbyte-integrations/connectors/source-shopify/ @airbytehq/python-team
/airbyte-integrations/connectors/source-stripe/ @airbytehq/python-team
