Repository airbytehq/airbyte, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api, area/connectors, area/documentation, area/octavia-cli, CDK, normalization

.github/labeler.yml:

# Union of api, connectors, documentation, octavia-cli, CDK and normalization.
area/api:
  - airbyte-api/*
  - airbyte-api/**/*

area/connectors:
  - airbyte-integrations/connectors/*
  - airbyte-integrations/connectors/**/*

area/documentation:
  - docs/*
  - docs/**/*

area/octavia-cli:
  - octavia-cli/*
  - octavia-cli/**/*

CDK:
  - airbyte-cdk/*
  - airbyte-cdk/**/*

normalization:
  - airbyte-integrations/bases/base-normalization/*
  - airbyte-integrations/bases/base-normalization/**/*

Simplify making db.
  airbyte-integrations/connectors/destination-snowflake-bulk/src/main/java/io/airbyte/integrations/destination/snowflake_bulk/BulkConsumer.java
Labels: area/connectors

wip migrate tests
  airbyte-integrations/connectors/source-mysql/acceptance-test-config.yml
  airbyte-integrations/connectors/source-mysql/src/main/resources/cloud_deployment_spec.json
  airbyte-integrations/connectors/source-mysql/src/test-integration/resources/expected_cloud_deployment_spec.json
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/MySqlCloudDeploymentJdbcSourceAcceptanceTest.java
Labels: area/connectors

fix schema change detection
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGenerator.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGenerator.java
Labels: area/connectors

remove duplicates from helm installation docs
  docs/deploying-airbyte/on-kubernetes-via-helm.md
Labels: area/documentation

bump cdk version
  airbyte-integrations/connectors/destination-chroma/metadata.yaml
  airbyte-integrations/connectors/destination-chroma/setup.py
  airbyte-integrations/connectors/destination-milvus/metadata.yaml
  airbyte-integrations/connectors/destination-milvus/setup.py
  airbyte-integrations/connectors/destination-qdrant/metadata.yaml
  airbyte-integrations/connectors/destination-qdrant/setup.py
  airbyte-integrations/connectors/destination-weaviate/metadata.yaml
  airbyte-integrations/connectors/destination-weaviate/setup.py
  airbyte-integrations/connectors/source-azure-blob-storage/metadata.yaml
  airbyte-integrations/connectors/source-azure-blob-storage/setup.py
  airbyte-integrations/connectors/source-gcs/metadata.yaml
  airbyte-integrations/connectors/source-gcs/setup.py
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/setup.py
Labels: area/connectors

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/MySqlCloudDeploymentJdbcSourceAcceptanceTest.java
Labels: area/connectors

add changelog
  docs/integrations/destinations/chroma.md
  docs/integrations/destinations/milvus.md
  docs/integrations/destinations/qdrant.md
  docs/integrations/destinations/weaviate.md
  docs/integrations/sources/azure-blob-storage.md
  docs/integrations/sources/gcs.md
  docs/integrations/sources/s3.md
Labels: area/documentation

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGenerator.java
Labels: area/connectors

bump cdk version
  airbyte-integrations/connectors/destination-pinecone/setup.py
  docs/integrations/destinations/pinecone.md
Labels: area/connectors, area/documentation

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
Labels: area/connectors

:rotating_light: :rotating_light: Source Stripe: fix multiple issues regarding Refunds, CheckoutSessions and CheckoutSessionsLineItems + fix stream schemas (#32286)
  airbyte-integrations/connectors/source-stripe/acceptance-test-config.yml
  airbyte-integrations/connectors/source-stripe/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-stripe/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-stripe/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/checkout_sessions_line_items.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/invoices.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/subscription_schedule.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/subscriptions.json
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  airbyte-integrations/connectors/source-stripe/source_stripe/spec.yaml
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_streams.py
  docs/integrations/sources/stripe-migrations.md
  docs/integrations/sources/stripe.md
Labels: area/connectors, area/documentation

:rotating_light: :rotating_light: Source Stripe: fix multiple issues regarding Refunds, CheckoutSessions and CheckoutSessionsLineItems + fix stream schemas (#32286)
  airbyte-integrations/connectors/source-stripe/acceptance-test-config.yml
  airbyte-integrations/connectors/source-stripe/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-stripe/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-stripe/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/checkout_sessions_line_items.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/invoices.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/subscription_schedule.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/subscriptions.json
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  airbyte-integrations/connectors/source-stripe/source_stripe/spec.yaml
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_streams.py
  docs/integrations/sources/stripe-migrations.md
  docs/integrations/sources/stripe.md
Labels: area/connectors, area/documentation

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
Labels: area/connectors

Automated Commit - Formatting Changes
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/DebeziumEventUtils.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/mongodb/MongoDbCdcEventUtils.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/java/io/airbyte/cdk/integrations/debezium/internals/DebeziumEventUtilsTest.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/java/io/airbyte/cdk/integrations/debezium/internals/mongodb/MongoDbCdcEventUtilsTest.java
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoUtil.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbCdcInitializer.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbCdcState.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/MongoDbSourceConfigTest.java
Labels: area/connectors, CDK

remove debug changes
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/db/jdbc/AbstractJdbcCompatibleSourceOperations.java
  airbyte-cdk/java/airbyte-cdk/core/src/test/java/io/airbyte/cdk/db/jdbc/AbstractJdbcCompatibleSourceOperationsTest.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/DebeziumStateDecoratingIterator.java
Labels: CDK

more to reset
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialLoadRecordIterator.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialReadUtil.java
Labels: area/connectors

fix bug
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/source/jdbc/JdbcSSLConnectionUtils.java
Labels: CDK

Automated Commit - Formatting Changes
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/db/jdbc/AbstractJdbcCompatibleSourceOperations.java
Labels: CDK

bump source-mysql-strict-encrypt to 3.1.7
  airbyte-integrations/connectors/source-mysql-strict-encrypt/metadata.yaml
Labels: area/connectors

bump source-mysql-strict-encrypt to 3.1.7 (#32611)
  airbyte-integrations/connectors/source-mysql-strict-encrypt/metadata.yaml
Labels: area/connectors

bump source-mysql-strict-encrypt to 3.1.7 (#32611)
  airbyte-integrations/connectors/source-mysql-strict-encrypt/metadata.yaml
Labels: area/connectors

empty streams
  airbyte-integrations/connectors/source-cart/acceptance-test-config.yml
Labels: area/connectors

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
Labels: area/connectors

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
Labels: area/connectors

Paypal Transaction Source: Updates QL to 200 (#32390)
  airbyte-integrations/connectors/source-paypal-transaction/metadata.yaml
Labels: area/connectors

Paypal Transaction Source: Updates QL to 200 (#32390)
  airbyte-integrations/connectors/source-paypal-transaction/metadata.yaml
Labels: area/connectors

Chargebee Source: Updated QL in metadata (#32382)
  airbyte-integrations/connectors/source-chargebee/metadata.yaml
Labels: area/connectors

Chargebee Source: Updated QL in metadata (#32382)
  airbyte-integrations/connectors/source-chargebee/metadata.yaml
Labels: area/connectors

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
Labels: area/connectors

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
Labels: area/connectors

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
Labels: area/connectors

added SAT for custom report
  airbyte-integrations/connectors/source-pinterest/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-pinterest/source_pinterest/spec.json
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_reports.py
Labels: area/connectors

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_reports.py
Labels: area/connectors

config with custom report example
  airbyte-integrations/connectors/source-pinterest/integration_tests/config_custom_report.json
Labels: area/connectors

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
Labels: area/connectors

Source Cart: fix schema and allow to use connector on Airbyte Cloud (#32517)
  airbyte-integrations/connectors/source-cart/Dockerfile
  airbyte-integrations/connectors/source-cart/acceptance-test-config.yml
  airbyte-integrations/connectors/source-cart/metadata.yaml
  airbyte-integrations/connectors/source-cart/source_cart/schemas/addresses.json
  airbyte-integrations/connectors/source-cart/source_cart/schemas/customers_cart.json
  airbyte-integrations/connectors/source-cart/source_cart/schemas/order_items.json
  airbyte-integrations/connectors/source-cart/source_cart/schemas/order_payments.json
  airbyte-integrations/connectors/source-cart/source_cart/schemas/order_statuses.json
  airbyte-integrations/connectors/source-cart/source_cart/schemas/orders.json
  airbyte-integrations/connectors/source-cart/source_cart/schemas/products.json
  docs/integrations/sources/cart.md
Labels: area/connectors, area/documentation

Source Cart: fix schema and allow to use connector on Airbyte Cloud (#32517)
  airbyte-integrations/connectors/source-cart/Dockerfile
  airbyte-integrations/connectors/source-cart/acceptance-test-config.yml
  airbyte-integrations/connectors/source-cart/metadata.yaml
  airbyte-integrations/connectors/source-cart/source_cart/schemas/addresses.json
  airbyte-integrations/connectors/source-cart/source_cart/schemas/customers_cart.json
  airbyte-integrations/connectors/source-cart/source_cart/schemas/order_items.json
  airbyte-integrations/connectors/source-cart/source_cart/schemas/order_payments.json
  airbyte-integrations/connectors/source-cart/source_cart/schemas/order_statuses.json
  airbyte-integrations/connectors/source-cart/source_cart/schemas/orders.json
  airbyte-integrations/connectors/source-cart/source_cart/schemas/products.json
  docs/integrations/sources/cart.md
Labels: area/connectors, area/documentation

Increased testing coverage -- added test to parse_response w/ changeable_fields
  airbyte-integrations/connectors/source-twilio/source_twilio/streams.py
  airbyte-integrations/connectors/source-twilio/unit_tests/test_streams.py
Labels: area/connectors

Add autoupdate
  Makefile
  airbyte-ci/connectors/pipelines/pipelines/cli/airbyte_ci.py
  airbyte-ci/connectors/pipelines/pyproject.toml
Labels: none

Move to shell scripts
  Makefile
  airbyte-ci/connectors/pipelines/pipelines/cli/airbyte_ci.py
  tools/bin/make/airbyte_ci_check.sh
  tools/bin/make/airbyte_ci_clean.sh
  tools/bin/make/airbyte_ci_dev_install.sh
  tools/bin/make/airbyte_ci_install.sh
Labels: none
