Repository airbytehq/airbyte, changes with the labels that .github/labeler.yml gives for each.
All labels: area/platform, team/frontend, area/api, area/server, area/scheduler, area/protocol, area/worker, kubernetes, area/connectors, area/documentation, CDK, normalization

pass parameters through kwargs
  airbyte-cdk/python/airbyte_cdk/sources/configurable/retrievers/simple_retriever.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/states/state.py
Labels: CDK

Get more java error messages
  tools/bin/ci_integration_test.sh
Labels: none

Bolder result
  tools/bin/ci_integration_test.sh
Labels: none

fix test
  airbyte-cdk/python/unit_tests/sources/configurable/test_factory.py
Labels: CDK

update interface
  airbyte-cdk/python/airbyte_cdk/sources/configurable/checks/check_stream.py
Labels: CDK

update interface to pass source in interface
  airbyte-cdk/python/airbyte_cdk/sources/configurable/checks/connection_checker.py
Labels: CDK

update interface to pass source in interface
  airbyte-cdk/python/airbyte_cdk/sources/configurable/configurable_source.py
Labels: CDK

rename to stream_slicer
  airbyte-cdk/python/airbyte_cdk/sources/configurable/retrievers/simple_retriever.py
Labels: CDK

Allow passing a string or an enum
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/http_requester.py
  airbyte-cdk/python/unit_tests/sources/configurable/requesters/test_http_requester.py
Labels: CDK

Define StateType enum
  airbyte-cdk/python/airbyte_cdk/sources/configurable/states/dict_state.py
  airbyte-cdk/python/unit_tests/sources/configurable/requesters/test_dict_state.py
Labels: CDK

fix spec like docs
  airbyte-integrations/connectors/source-zendesk-chat/source_zendesk_chat/spec.json
Labels: area/connectors

Debug file contents
  tools/bin/ci_integration_test.sh
Labels: none

Update ad_account.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/ad_account.json
Labels: area/connectors

unit tests pass
  airbyte-cdk/python/airbyte_cdk/sources/configurable/create_partial.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/parsers/factory.py
  airbyte-cdk/python/unit_tests/sources/configurable/test_create_partial.py
Labels: CDK

fix typo in log
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/ConnectionManagerUtils.java
Labels: area/platform, area/worker

add one more tests
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/TemporalClientTest.java
Labels: area/platform, area/worker

update dict state
  airbyte-cdk/python/airbyte_cdk/sources/configurable/states/dict_state.py
Labels: CDK

update
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/sendgrid.py
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/sendgrid.yaml
Labels: area/connectors

Just give an output message
  tools/bin/ci_integration_test.sh
Labels: none

Update postgres spec to 0.3.19
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
Labels: none

Java integration test update (#13113)
  tools/bin/ci_integration_test.sh
Labels: none

Java integration test update (#13113)
  tools/bin/ci_integration_test.sh
Labels: none

Java integration test update (#13113)
  tools/bin/ci_integration_test.sh
Labels: none

🐞 Postgres destination: add missing jdbc param from 0.3.19 in connector spec (#13112)
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
Labels: none

🐞 Postgres destination: add missing jdbc param from 0.3.19 in connector spec (#13112)
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
Labels: none

🐞 Postgres destination: add missing jdbc param from 0.3.19 in connector spec (#13112)
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
Labels: none

can read
  airbyte-cdk/python/airbyte_cdk/sources/configurable/create_partial.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/parsers/factory.py
  airbyte-cdk/python/unit_tests/sources/configurable/test_factory.py
Labels: CDK

PgLsn New Test Case for .toString() (#12899)
  airbyte-db/lib/src/test/java/io/airbyte/db/PgLsnTest.java
Labels: none

PgLsn New Test Case for .toString() (#12899)
  airbyte-db/lib/src/test/java/io/airbyte/db/PgLsnTest.java
Labels: none

PgLsn New Test Case for .toString() (#12899)
  airbyte-db/lib/src/test/java/io/airbyte/db/PgLsnTest.java
Labels: none

fix test
  airbyte-cdk/python/unit_tests/sources/configurable/test_factory.py
Labels: CDK

fix from yaml update
  airbyte-cdk/python/airbyte_cdk/sources/configurable/create_partial.py
  airbyte-cdk/python/unit_tests/sources/configurable/test_create_partial.py
Labels: CDK

elif
  airbyte-cdk/python/airbyte_cdk/sources/configurable/states/dict_state.py
Labels: CDK

convert state_type if not of type type
  airbyte-cdk/python/airbyte_cdk/sources/configurable/states/dict_state.py
Labels: CDK

convert state_type if not of type type
  airbyte-cdk/python/airbyte_cdk/sources/configurable/states/dict_state.py
  airbyte-cdk/python/unit_tests/sources/configurable/requesters/test_dict_state.py
Labels: CDK

Add a test
  airbyte-cdk/python/unit_tests/sources/configurable/parsers/test_yaml_parser.py
Labels: CDK

move test to right module
  airbyte-cdk/python/unit_tests/sources/configurable/interpolation/test_interpolated_request_parameter_provider.py
Labels: CDK

Add missing test
  airbyte-cdk/python/unit_tests/sources/configurable/interpolation/test_interpolated_mapping.py
Labels: CDK

Low code connectors: string interpolation with jinja (#12852)
  airbyte-cdk/python/airbyte_cdk/sources/configurable/decoders/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/decoders/decoder.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/decoders/json_decoder.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/interpolation/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/interpolation/interpolated_mapping.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/interpolation/interpolated_string.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/interpolation/interpolation.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/interpolation/jinja.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/paginators/interpolated_paginator.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/request_params/interpolated_request_parameter_provider.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/configurable/interpolation/test_interpolated_mapping.py
  airbyte-cdk/python/unit_tests/sources/configurable/interpolation/test_interpolated_request_parameter_provider.py
  airbyte-cdk/python/unit_tests/sources/configurable/interpolation/test_interpolated_string.py
  airbyte-cdk/python/unit_tests/sources/configurable/interpolation/test_jinja.py
  airbyte-cdk/python/unit_tests/sources/configurable/requesters/paginators/test_interpolated_paginator.py
  airbyte-cdk/python/unit_tests/sources/configurable/requesters/paginators/test_interpolated_string.py
Labels: CDK

Use authbase instead of deprecated class
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/requester.py
Labels: CDK

.github/labeler.yml:

# union of frontend, api, server, scheduler, protocol, worker, kubernetes
area/platform:
  - airbyte-webapp/*
  - airbyte-webapp/**/*
  - airbyte-api/*
  - airbyte-api/**/*
  - airbyte-server/*
  - airbyte-server/**/*
  - airbyte-scheduler/*
  - airbyte-scheduler/**/*
  - airbyte-protocol/*
  - airbyte-protocol/**/*
  - airbyte-workers/*
  - airbyte-workers/**/*
  - kube/*
  - kube/**/*
  - charts/*
  - charts/**/*

team/frontend:
  - airbyte-webapp/*
  - airbyte-webapp/**/*

area/api:
  - airbyte-api/*
  - airbyte-api/**/*

area/server:
  - airbyte-server/*
  - airbyte-server/**/*

area/scheduler:
  - airbyte-scheduler/*
  - airbyte-scheduler/**/*

area/protocol:
  - airbyte-protocol/*
  - airbyte-protocol/**/*

area/worker:
  - airbyte-workers/*
  - airbyte-workers/**/*

kubernetes:
  - kube/*
  - kube/**/*
  - charts/*
  - charts/**/*

area/connectors:
  - airbyte-integrations/connectors/*
  - airbyte-integrations/connectors/**/*
  - airbyte-integrations/builds.md

area/documentation:
  - docs/*
  - docs/**/*

CDK:
  - airbyte-cdk/*
  - airbyte-cdk/**/*

normalization:
  - airbyte-integrations/bases/base-normalization/*
  - airbyte-integrations/bases/base-normalization/**/*
