Repository airbytehq/airbyte, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api, area/connectors, area/documentation, area/octavia-cli, CDK, normalization

Destination bigquery error grouping: even more fixes (#32468)
  .github/CODEOWNERS
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/base/AirbyteExceptionHandler.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/CatalogParser.java
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  docs/integrations/destinations/bigquery.md
Labels: area/connectors, area/documentation, CDK

remove source-xero from Cloud (#32476)
  airbyte-integrations/connectors/source-xero/metadata.yaml
Labels: area/connectors

remove source-xero from Cloud (#32476)
  airbyte-integrations/connectors/source-xero/metadata.yaml
Labels: area/connectors

Update docs/connector-development/connector-builder-ui/partitioning.md
  docs/connector-development/connector-builder-ui/partitioning.md
Labels: area/documentation

Rebuild docs.airbyte.com once a day with latest metadata
  .github/workflows/rebuild-docs-yml
Labels: none

job name
  .github/workflows/rebuild-docs-yml
Labels: none

test the adapter
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/concurrent_source_adapter.py
  airbyte-cdk/python/unit_tests/sources/concurrent_source/__init__.py
  airbyte-cdk/python/unit_tests/sources/concurrent_source/test_concurrent_source_adapter.py
  airbyte-cdk/python/unit_tests/sources/test_concurrent_source.py
Labels: CDK

unit tests
  airbyte-integrations/connectors/source-stripe/setup.py
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_source.py
Labels: area/connectors

rename field and comment
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/concurrent_source.py
Labels: CDK

be sure to load connector secrets for acceptance test
  .github/workflows/connector-performance-command.yml
Labels: none

rename field
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/concurrent_stream_processor.py
Labels: CDK

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoUtil.java
Labels: area/connectors

mypy
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/concurrent_source.py
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/concurrent_source_adapter.py
Labels: CDK

rename
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/concurrent_source_adapter.py
Labels: CDK

comments
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/concurrent_source_adapter.py
Labels: CDK

change call rate policy to use MovingWindow
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_source.py
Labels: area/connectors

bump the cdk
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-integrations/connectors/source-mongodb-v2/build.gradle
Labels: area/connectors, CDK

Bump versions + deploy
  airbyte-integrations/connectors/source-mongodb-v2/build.gradle
  airbyte-integrations/connectors/source-mongodb-v2/metadata.yaml
  docs/integrations/sources/mongodb-v2.md
Labels: area/connectors, area/documentation

[source-mongodb-v2] : Fix support to read UUIDs (#32285)
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/mongodb/MongoDbCdcEventUtils.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/java/io/airbyte/cdk/integrations/debezium/internals/mongodb/MongoDbCdcEventUtilsTest.java
  airbyte-integrations/connectors/source-mongodb-v2/build.gradle
  airbyte-integrations/connectors/source-mongodb-v2/metadata.yaml
  docs/integrations/sources/mongodb-v2.md
Labels: area/connectors, area/documentation, CDK

[source-mongodb-v2] : Fix support to read UUIDs (#32285)
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/mongodb/MongoDbCdcEventUtils.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/java/io/airbyte/cdk/integrations/debezium/internals/mongodb/MongoDbCdcEventUtilsTest.java
  airbyte-integrations/connectors/source-mongodb-v2/build.gradle
  airbyte-integrations/connectors/source-mongodb-v2/metadata.yaml
  docs/integrations/sources/mongodb-v2.md
Labels: area/connectors, area/documentation, CDK

fix tests
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/scenarios/thread_based_concurrent_stream_source_builder.py
  airbyte-cdk/python/unit_tests/sources/test_source_read.py
Labels: CDK

chore: remove unused import
  airbyte-integrations/connectors/source-mailchimp/unit_tests/test_source.py
Labels: area/connectors

Update README.md (#32464)
  docs/connector-development/testing-connectors/README.md
Labels: area/documentation

Update README.md (#32464)
  docs/connector-development/testing-connectors/README.md
Labels: area/documentation

Airbyte-ci: Generate binary files for airbyte-ci (#31930)
  .github/actions/run-dagger-pipeline/action.yml
  .github/workflows/airbyte-ci-release-experiment.yml
  airbyte-ci/connectors/pipelines/README.md
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/connectors/bump_version/pipeline.py
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/connectors/migrate_to_base_image/pipeline.py
  airbyte-ci/connectors/pipelines/pipelines/cli/airbyte_ci.py
  airbyte-ci/connectors/pipelines/pipelines/cli/dagger_run.py
  airbyte-ci/connectors/pipelines/pipelines/consts.py
  airbyte-ci/connectors/pipelines/pipelines/helpers/git.py
  airbyte-ci/connectors/pipelines/poetry.lock
  airbyte-ci/connectors/pipelines/pyproject.toml
Labels: none

Airbyte-ci: Generate binary files for airbyte-ci (#31930)
  .github/actions/run-dagger-pipeline/action.yml
  .github/workflows/airbyte-ci-release-experiment.yml
  airbyte-ci/connectors/pipelines/README.md
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/connectors/bump_version/pipeline.py
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/connectors/migrate_to_base_image/pipeline.py
  airbyte-ci/connectors/pipelines/pipelines/cli/airbyte_ci.py
  airbyte-ci/connectors/pipelines/pipelines/cli/dagger_run.py
  airbyte-ci/connectors/pipelines/pipelines/consts.py
  airbyte-ci/connectors/pipelines/pipelines/helpers/git.py
  airbyte-ci/connectors/pipelines/poetry.lock
  airbyte-ci/connectors/pipelines/pyproject.toml
Labels: none

bump version
  airbyte-integrations/connectors/source-mailchimp/metadata.yaml
Labels: area/connectors

test
  airbyte-integrations/connectors/source-pokeapi/source_pokeapi/source.py
Labels: area/connectors

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-pokeapi/source_pokeapi/source.py
Labels: area/connectors

chore: merge acceptance-test-config
  airbyte-integrations/connectors/source-mailchimp/acceptance-test-config.yml
Labels: area/connectors

airbyte-ci: improve release workflow
  .github/workflows/airbyte-ci-release.yml
Labels: none

Mark OSS only streams in doc
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation

Source Facebook Marketing - Add support for ad rule libraries
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/ad_rule_libraries.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/source.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/__init__.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/streams.py
Labels: area/connectors

airbyte-ci: improve release workflow (#32488)
  .github/workflows/airbyte-ci-release.yml
Labels: none

airbyte-ci: improve release workflow (#32488)
  .github/workflows/airbyte-ci-release.yml
Labels: none

Source Facebook Marketing - Add support for multi-accounts
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-facebook-marketing/sample_files/sample_config.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/api.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/ad_accounts.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/source.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/spec.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/__init__.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/async_job_manager.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/base_insight_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/conftest.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_async_job_manager.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_base_insight_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_client.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_errors.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_multi_account.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_source.py
Labels: area/connectors

airbyte-ci release: fix auth in workflow
  .github/workflows/airbyte-ci-release.yml
Labels: none

🐛 Source Instagram: Include media_product_type in Media and Stories Schemas (#32423)
  airbyte-integrations/connectors/source-instagram/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/media.json
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/stories.json
  airbyte-integrations/connectors/source-instagram/source_instagram/streams.py
  docs/integrations/sources/instagram.md
Labels: area/connectors, area/documentation

🐛 Source Instagram: Include media_product_type in Media and Stories Schemas (#32423)
  airbyte-integrations/connectors/source-instagram/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/media.json
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/stories.json
  airbyte-integrations/connectors/source-instagram/source_instagram/streams.py
  docs/integrations/sources/instagram.md
Labels: area/connectors, area/documentation

airbyte-ci release: fix auth in workflow (#32489)
  .github/workflows/airbyte-ci-release.yml
Labels: none

.github/labeler.yml:

# Union of api, connectors, documentation, octavia-cli, CDK and normalization.
area/api:
  - airbyte-api/*
  - airbyte-api/**/*

area/connectors:
  - airbyte-integrations/connectors/*
  - airbyte-integrations/connectors/**/*

area/documentation:
  - docs/*
  - docs/**/*

area/octavia-cli:
  - octavia-cli/*
  - octavia-cli/**/*

CDK:
  - airbyte-cdk/*
  - airbyte-cdk/**/*

normalization:
  - airbyte-integrations/bases/base-normalization/*
  - airbyte-integrations/bases/base-normalization/**/*
