Repository airbytehq/airbyte, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api, area/connectors, area/documentation, area/octavia-cli, CDK, normalization

Makes google ads connector custom and adds campaign criterion to it
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/campaign_criterion.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
Labels: area/connectors

Google ads: ignore deactivated accounts, while leaving logs in
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
Labels: area/connectors

Added last_change_date_time to campaign criterion
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/common.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/campaign_criterion.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
Labels: area/connectors

Source Tiktok: fix include_deleted not working on non-report entities
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/streams.py
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/streams_test.py
Labels: area/connectors

Make 'start_date' config parameter optional
  airbyte-integrations/connectors/source-pinterest/source_pinterest/source.py
  airbyte-integrations/connectors/source-pinterest/source_pinterest/spec.json
Labels: area/connectors

Update CDK version in requirements
  airbyte-integrations/connectors/source-pinterest/setup.py
Labels: area/connectors

Add suggested streams
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
Labels: area/connectors

Add missing fields to schema
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/ad_groups.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/ads.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/board_pins.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/board_section_pins.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/campaigns.json
Labels: area/connectors

Enable client-side rate limiting on source-stripe #31512 (#32284)
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/setup.py
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  airbyte-integrations/connectors/source-stripe/source_stripe/spec.yaml
  airbyte-integrations/connectors/source-stripe/unit_tests/test_source.py
  docs/integrations/sources/stripe.md
Labels: area/connectors, area/documentation

Enable client-side rate limiting on source-stripe #31512 (#32284)
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/setup.py
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  airbyte-integrations/connectors/source-stripe/source_stripe/spec.yaml
  airbyte-integrations/connectors/source-stripe/unit_tests/test_source.py
  docs/integrations/sources/stripe.md
Labels: area/connectors, area/documentation

Update version
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  docs/integrations/sources/pinterest.md
Labels: area/connectors, area/documentation

update: fallback endpoints for storage provider.
  airbyte-integrations/connectors/source-kyve/source_kyve/stream.py
  airbyte-integrations/connectors/source-kyve/source_kyve/utils.py
Labels: area/connectors

Source Tiktok: modify configuration spec
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/spec.json
Labels: area/connectors

review comment
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/unstructured_parser.py
Labels: CDK

Source Tiktok: metadata version update
  airbyte-integrations/connectors/source-tiktok-marketing/metadata.yaml
Labels: area/connectors

review comment
  airbyte-cdk/python/airbyte_cdk/destinations/vector_db_based/document_processor.py
Labels: CDK

Source Tiktok: update changelog
  docs/integrations/sources/tiktok-marketing.md
Labels: area/documentation

Source Tiktok: update changelog again
  docs/integrations/sources/tiktok-marketing.md
Labels: area/documentation

File CDK: Improve unstructured parser (#32554)
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/unstructured_parser.py
  airbyte-cdk/python/setup.py
Labels: CDK

File CDK: Improve unstructured parser (#32554)
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/unstructured_parser.py
  airbyte-cdk/python/setup.py
Labels: CDK

Source Bing Ads: Fix start date from stream state
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/report_streams.py
Labels: area/connectors

Vector DB CDK: Delete cdc records (#32496)
  airbyte-cdk/python/airbyte_cdk/destinations/vector_db_based/document_processor.py
  airbyte-cdk/python/unit_tests/destinations/vector_db_based/document_processor_test.py
Labels: CDK

Vector DB CDK: Delete cdc records (#32496)
  airbyte-cdk/python/airbyte_cdk/destinations/vector_db_based/document_processor.py
  airbyte-cdk/python/unit_tests/destinations/vector_db_based/document_processor_test.py
Labels: CDK

source-mysql: port strict encrypt behavior to main connector
  airbyte-integrations/connectors/source-mysql/acceptance-test-config.yml
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/resources/expected_strict_encrypt_spec.json
Labels: area/connectors

🤖 Bump patch version of Python CDK
  airbyte-cdk/python/.bumpversion.cfg
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/Dockerfile
  airbyte-cdk/python/setup.py
Labels: CDK

🤖 Bump patch version of Python CDK
  airbyte-cdk/python/.bumpversion.cfg
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/Dockerfile
  airbyte-cdk/python/setup.py
Labels: CDK

Source Bing Ads: update docs
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  docs/integrations/sources/bing-ads.md
Labels: area/connectors, area/documentation

enable parallelism on bigquery tests (#32580)
  airbyte-integrations/connectors/destination-bigquery/gradle.properties
Labels: area/connectors

enable parallelism on bigquery tests (#32580)
  airbyte-integrations/connectors/destination-bigquery/gradle.properties
Labels: area/connectors

update expected records
  airbyte-integrations/connectors/source-stripe/integration_tests/expected_records.jsonl
Labels: area/connectors

adjust
  airbyte-integrations/connectors/source-google-drive/integration_tests/spec.json
  airbyte-integrations/connectors/source-google-drive/setup.py
  airbyte-integrations/connectors/source-google-drive/source_google_drive/spec.py
  airbyte-integrations/connectors/source-google-drive/unit_tests/test_utils.py
  docs/integrations/sources/google-drive.md
Labels: area/connectors, area/documentation

added custom reports
  airbyte-integrations/connectors/source-pinterest/acceptance-test-config.yml
  airbyte-integrations/connectors/source-pinterest/integration_tests/configured_catalog_custom_report.json
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  airbyte-integrations/connectors/source-pinterest/source_pinterest/reports/reports.py
  airbyte-integrations/connectors/source-pinterest/source_pinterest/source.py
  airbyte-integrations/connectors/source-pinterest/source_pinterest/spec.json
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_reports.py
  docs/integrations/sources/pinterest.md
Labels: area/connectors, area/documentation

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-pinterest/source_pinterest/reports/reports.py
  airbyte-integrations/connectors/source-pinterest/source_pinterest/source.py
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_reports.py
Labels: area/connectors

Disable source-bing-ads upgrade to 2.0.0
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
Labels: area/connectors

🐛 Source Bing Ads: Disable upgrade to 2.0.0 (#32604)
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
Labels: area/connectors

🐛 Source Bing Ads: Disable upgrade to 2.0.0 (#32604)
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
Labels: area/connectors

Google Drive: Improve folder URL input (#32547)
  airbyte-integrations/connectors/source-google-drive/integration_tests/spec.json
  airbyte-integrations/connectors/source-google-drive/metadata.yaml
  airbyte-integrations/connectors/source-google-drive/setup.py
  airbyte-integrations/connectors/source-google-drive/source_google_drive/spec.py
  airbyte-integrations/connectors/source-google-drive/source_google_drive/stream_reader.py
  airbyte-integrations/connectors/source-google-drive/source_google_drive/utils.py
  airbyte-integrations/connectors/source-google-drive/unit_tests/test_utils.py
  docs/integrations/sources/google-drive.md
Labels: area/connectors, area/documentation

Google Drive: Improve folder URL input (#32547)
  airbyte-integrations/connectors/source-google-drive/integration_tests/spec.json
  airbyte-integrations/connectors/source-google-drive/metadata.yaml
  airbyte-integrations/connectors/source-google-drive/setup.py
  airbyte-integrations/connectors/source-google-drive/source_google_drive/spec.py
  airbyte-integrations/connectors/source-google-drive/source_google_drive/stream_reader.py
  airbyte-integrations/connectors/source-google-drive/source_google_drive/utils.py
  airbyte-integrations/connectors/source-google-drive/unit_tests/test_utils.py
  docs/integrations/sources/google-drive.md
Labels: area/connectors, area/documentation

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
Labels: area/connectors

self-managed docs rewrite
  docs/enterprise-setup/assets/okta-app-integration-name.png
  docs/enterprise-setup/assets/okta-create-new-app-integration.png
  docs/enterprise-setup/assets/okta-login-redirect-uris.png
  docs/enterprise-setup/self-managed/README.md
  docs/enterprise-setup/self-managed/implementation-guide.md
  docs/enterprise-setup/self-managed/sso.md
  docusaurus/sidebars.js
Labels: area/documentation

.github/labeler.yml:

# Union of api, connectors, documentation, octavia-cli, CDK and normalization.
area/api:
  - airbyte-api/*
  - airbyte-api/**/*

area/connectors:
  - airbyte-integrations/connectors/*
  - airbyte-integrations/connectors/**/*

area/documentation:
  - docs/*
  - docs/**/*

area/octavia-cli:
  - octavia-cli/*
  - octavia-cli/**/*

CDK:
  - airbyte-cdk/*
  - airbyte-cdk/**/*

normalization:
  - airbyte-integrations/bases/base-normalization/*
  - airbyte-integrations/bases/base-normalization/**/*
