Repository airbytehq/airbyte, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api, area/connectors, area/documentation, area/octavia-cli, CDK, normalization

properly wire up the field and fix the reset
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/model_to_component_factory.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/default_paginator.py
  airbyte-cdk/python/unit_tests/sources/declarative/parsers/test_model_to_component_factory.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/paginators/test_default_paginator.py
Labels: CDK

clean up code
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/paginators/test_default_paginator.py
Labels: CDK

make sure to test with a reset
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/paginators/test_default_paginator.py
Labels: CDK

mypy errors
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/model_to_component_factory.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/default_paginator.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/request_options/request_options_provider.py
Labels: CDK

int
  airbyte-cdk/python/unit_tests/sources/declarative/parsers/test_model_to_component_factory.py
Labels: CDK

doc updates
  docs/understanding-airbyte/jobs.md
Labels: area/documentation

Add new streams
  airbyte-integrations/connectors/source-surveymonkey/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-surveymonkey/metadata.yaml
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/schemas/contact_lists.json
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/schemas/questions.json
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/schemas/survey_categories.json
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/schemas/survey_folders.json
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/source.py
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/streams.py
  airbyte-integrations/connectors/source-surveymonkey/unit_tests/test_streams.py
  docs/integrations/sources/surveymonkey.md
Labels: area/connectors, area/documentation

chore: Update docs
  docs/integrations/sources/surveymonkey.md
Labels: area/documentation

Add new stream ad_account_targeting_analytics
  airbyte-integrations/connectors/source-pinterest/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-pinterest/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/ad_account_targeting_analytics.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/source.py
  airbyte-integrations/connectors/source-pinterest/source_pinterest/streams.py
  docs/integrations/sources/pinterest.md
Labels: area/connectors, area/documentation

update docs
  docs/integrations/sources/pinterest.md
Labels: area/documentation

use custom binary in connectors tests
  airbyte-ci/connectors/pipelines/pipelines/dagger/actions/system/docker.py
Labels: none

update changelog
  docs/integrations/destinations/duckdb.md
Labels: area/documentation

large data error by bigquery fixed
  airbyte-db/db-lib/src/main/java/io/airbyte/db/bigquery/BigQueryDatabase.java
  airbyte-integrations/connectors/source-bigquery/src/main/java/io/airbyte/integrations/source/bigquery/BigQuerySource.java
Labels: area/connectors

add log to calculate the elapsed time of querying connections
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java
Labels: none

remove check not needed
  airbyte-integrations/connectors/source-bigquery/src/main/java/io/airbyte/integrations/source/bigquery/BigQuerySource.java
Labels: area/connectors

trigger CI
  docs/integrations/sources/tiktok-marketing.md
Labels: area/documentation

fix unit tests
  airbyte-integrations/connectors/source-tiktok-marketing/metadata.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/streams_test.py
Labels: area/connectors

fix expected records for pull_requests stream
  airbyte-integrations/connectors/source-github/integration_tests/expected_records.jsonl
Labels: area/connectors

fixed unit tests
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/avro_format.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/csv_format.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/parquet_format.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/avro_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/csv_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/parquet_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/default_file_based_stream.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/csv_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/unstructured_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/validation_policy_scenarios.py
Labels: CDK

removed wrong imports
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/avro_format.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/parquet_format.py
Labels: CDK

updated changelog
  airbyte-cdk/python/CHANGELOG.md
Labels: CDK

fix expected records for workflow_runs stream
  airbyte-integrations/connectors/source-github/integration_tests/expected_records.jsonl
Labels: area/connectors

fix expected records for workflow_jobs stream
  airbyte-integrations/connectors/source-github/integration_tests/expected_records.jsonl
Labels: area/connectors

Add raising error if waiting time is longer than 10 minutes
  airbyte-integrations/connectors/source-pinterest/source_pinterest/streams.py
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_source.py
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_streams.py
Labels: area/connectors

Fix max waiting time for Reports streams
  airbyte-integrations/connectors/source-pinterest/source_pinterest/reports/reports.py
Labels: area/connectors

bumped hte version, fixed flake8 errors
  airbyte-cdk/python/.bumpversion.cfg
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/csv_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/unstructured_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/validation_policy_scenarios.py
Labels: CDK

Update version
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  docs/integrations/sources/pinterest.md
Labels: area/connectors, area/documentation

fix create and delete
  airbyte-integrations/connectors/source-vk-ads-new/setup.py
  airbyte-integrations/connectors/source-vk-ads-new/source_vk_ads_new/auth.py
  airbyte-integrations/connectors/source-vk-ads-new/source_vk_ads_new/source.py
Labels: area/connectors

fixed max time
  airbyte-integrations/connectors/source-pinterest/source_pinterest/reports/reports.py
Labels: area/connectors

updated docs
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  docs/integrations/sources/pinterest.md
Labels: area/connectors, area/documentation

Source Hubspot: fix expected records (#32645)
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.jsonl
Labels: area/connectors

Source Github: fix expected records (#32644)
  airbyte-integrations/connectors/source-github/integration_tests/expected_records.jsonl
Labels: area/connectors

remove dbz short-circuiting logic
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/postgres/PostgresDebeziumStateUtil.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/java/io/airbyte/cdk/integrations/debezium/internals/PostgresDebeziumStateUtilTest.java
Labels: CDK

remove anyof from spec
  airbyte-integrations/connectors/destination-qdrant/Dockerfile
  airbyte-integrations/connectors/destination-qdrant/destination_qdrant/config.py
  airbyte-integrations/connectors/destination-qdrant/metadata.yaml
  airbyte-integrations/connectors/destination-qdrant/setup.py
  docs/integrations/destinations/qdrant.md
Labels: area/connectors, area/documentation

Fix check for zip extension
  airbyte-integrations/connectors/source-s3/source_s3/v4/stream_reader.py
Labels: area/connectors

prepare release
  docs/integrations/destinations/qdrant.md
Labels: area/documentation

Update version
  airbyte-integrations/connectors/source-s3/metadata.yaml
  docs/integrations/sources/s3.md
Labels: area/connectors, area/documentation

also snowflake
  airbyte-integrations/connectors/destination-snowflake/build.gradle
Labels: area/connectors

Automated Commit - Formatting Changes
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/base/Destination.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination/buffered_stream_consumer/BufferedStreamConsumer.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination/buffered_stream_consumer/RecordSizeEstimator.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination/record_buffer/BaseSerializedBuffer.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination/record_buffer/SerializableBuffer.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/buffers/BufferEnqueue.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/buffers/MemoryAwareMessageBatch.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/buffers/StreamAwareQueue.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/protocol/PartialAirbyteGlobalState.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/protocol/PartialAirbyteMessage.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/protocol/PartialAirbyteRecordMessage.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/protocol/PartialAirbyteStateMessage.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/protocol/PartialAirbyteStreamState.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/protocol/deser/PartialJsonDeserializer.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/protocol/deser/StringIterator.java
  airbyte-cdk/java/airbyte-cdk/core/src/test/java/io/airbyte/cdk/integrations/base/FailureTrackingAirbyteMessageConsumerTest.java
  airbyte-cdk/java/airbyte-cdk/core/src/test/java/io/airbyte/cdk/integrations/destination/buffered_stream_consumer/BufferedStreamConsumerTest.java
  airbyte-cdk/java/airbyte-cdk/core/src/test/java/io/airbyte/cdk/integrations/destination/record_buffer/InMemoryRecordBufferingStrategyTest.java
  airbyte-cdk/java/airbyte-cdk/core/src/test/java/io/airbyte/cdk/integrations/destination_async/AsyncStreamConsumerTest.java
  airbyte-cdk/java/airbyte-cdk/core/src/test/java/io/airbyte/cdk/integrations/destination_async/FlushWorkersTest.java
  airbyte-cdk/java/airbyte-cdk/core/src/test/java/io/airbyte/cdk/integrations/destination_async/buffers/StreamAwareQueueTest.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/s3/avro/AvroRecordFactory.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/s3/avro/AvroSerializedBuffer.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/s3/avro/S3AvroWriter.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/s3/csv/CsvSerializedBuffer.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/s3/csv/CsvSheetGenerator.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/s3/csv/NoFlatteningSheetGenerator.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/s3/csv/S3CsvWriter.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/s3/csv/StagingDatabaseCsvSheetGenerator.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/s3/jsonl/JsonLSerializedBuffer.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/s3/parquet/ParquetSerializedBuffer.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/s3/parquet/S3ParquetWriter.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/s3/writer/DestinationWriter.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/staging/AsyncFlush.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryAsyncFlush.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryAsyncStandardFlush.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryStagingConsumerFactory.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/uploader/AbstractBigQueryUploader.java
Labels: area/connectors, CDK

also this?
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/JdbcSqlOperations.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/SqlOperations.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/copy/CopyConsumerFactory.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/copy/StreamCopier.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/copy/azure/AzureBlobStorageStreamCopier.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/copy/gcs/GcsStreamCopier.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/copy/s3/S3StreamCopier.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/s3/BlobStorageOperations.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/s3/S3StorageOperations.java
Labels: CDK

.github/labeler.yml:

# Union of api, connectors, documentation, octavia-cli, CDK and normalization.
area/api:
  - airbyte-api/*
  - airbyte-api/**/*

area/connectors:
  - airbyte-integrations/connectors/*
  - airbyte-integrations/connectors/**/*

area/documentation:
  - docs/*
  - docs/**/*

area/octavia-cli:
  - octavia-cli/*
  - octavia-cli/**/*

CDK:
  - airbyte-cdk/*
  - airbyte-cdk/**/*

normalization:
  - airbyte-integrations/bases/base-normalization/*
  - airbyte-integrations/bases/base-normalization/**/*
