Repository airbytehq/airbyte, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api, area/connectors, area/documentation, area/octavia-cli, CDK, normalization

fixes for tests
  airbyte-integrations/connectors/source-my-hours/setup.py
  airbyte-integrations/connectors/source-my-hours/source_my_hours/auth.py
Labels: area/connectors

derp
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestination.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/DataAdapter.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/JdbcBufferedConsumerFactory.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/JdbcSqlOperations.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/SqlOperations.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/SqlOperationsUtils.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/test/java/io/airbyte/cdk/integrations/destination/jdbc/TestJdbcSqlOperations.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/java/io/airbyte/cdk/integrations/standardtest/destination/LocalAirbyteDestination.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/java/io/airbyte/cdk/integrations/standardtest/destination/PerStreamStateMessageTest.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/s3/avro/S3AvroWriter.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/s3/jsonl/S3JsonlWriter.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/s3/parquet/S3ParquetWriter.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/s3/writer/DestinationWriter.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/writer/BigQueryTableWriter.java
  airbyte-integrations/connectors/destination-bigquery/src/test/java/io/airbyte/integrations/destination/bigquery/BigQueryRecordConsumerTest.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeSqlOperations.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeSqlStagingOperations.java
  airbyte-integrations/connectors/destination-snowflake/src/test/java/io/airbyte/integrations/destination/snowflake/SnowflakeSqlOperationsTest.java
Labels: area/connectors, CDK

Automated Commit - Formatting Changes
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestination.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/JdbcSqlOperations.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/SqlOperations.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/copy/CopyConsumerFactory.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/copy/StreamCopier.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/s3/BlobStorageOperations.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/s3/S3StorageOperations.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/s3/avro/S3AvroWriter.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/s3/jsonl/S3JsonlWriter.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/s3/parquet/S3ParquetWriter.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/writer/BigQueryTableWriter.java
  airbyte-integrations/connectors/destination-bigquery/src/test/java/io/airbyte/integrations/destination/bigquery/BigQueryRecordConsumerTest.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeSqlOperations.java
Labels: area/connectors, CDK

???
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryAsyncFlush.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryAsyncStandardFlush.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryRecordConsumer.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/formatter/BigQueryRecordFormatter.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/formatter/DefaultBigQueryRecordFormatter.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/uploader/AbstractBigQueryUploader.java
Labels: area/connectors

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/formatter/BigQueryRecordFormatter.java
Labels: area/connectors

return AirbyteMessage if max retry exeeded for 202 status code
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
  docs/integrations/sources/github.md
Labels: area/connectors, area/documentation

more fix
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/test/java/io/airbyte/cdk/integrations/destination/s3/avro/AvroSerializedBufferTest.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/test/java/io/airbyte/cdk/integrations/destination/s3/csv/CsvSerializedBufferTest.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/test/java/io/airbyte/cdk/integrations/destination/s3/csv/S3CsvWriterTest.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/test/java/io/airbyte/cdk/integrations/destination/s3/jsonl/JsonLSerializedBufferTest.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/test/java/io/airbyte/cdk/integrations/destination/s3/parquet/ParquetSerializedBufferTest.java
Labels: CDK

updated changelog
  docs/integrations/sources/github.md
Labels: area/documentation

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-github/source_github/streams.py
Labels: area/connectors

Automated Commit - Formatting Changes
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/test/java/io/airbyte/cdk/integrations/destination/s3/avro/AvroSerializedBufferTest.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/test/java/io/airbyte/cdk/integrations/destination/s3/csv/CsvSerializedBufferTest.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/test/java/io/airbyte/cdk/integrations/destination/s3/csv/S3CsvWriterTest.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/test/java/io/airbyte/cdk/integrations/destination/s3/jsonl/JsonLSerializedBufferTest.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/test/java/io/airbyte/cdk/integrations/destination/s3/parquet/ParquetSerializedBufferTest.java
Labels: CDK

updated unittest
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
Labels: area/connectors

schema fixes
  airbyte-integrations/connectors/source-my-hours/Dockerfile
  airbyte-integrations/connectors/source-my-hours/acceptance-test-config.yml
  airbyte-integrations/connectors/source-my-hours/metadata.yaml
  airbyte-integrations/connectors/source-my-hours/source_my_hours/auth.py
  airbyte-integrations/connectors/source-my-hours/source_my_hours/schemas/clients.json
  airbyte-integrations/connectors/source-my-hours/source_my_hours/schemas/projects.json
  airbyte-integrations/connectors/source-my-hours/source_my_hours/schemas/time_logs.json
  airbyte-integrations/connectors/source-my-hours/source_my_hours/schemas/users.json
  airbyte-integrations/connectors/source-my-hours/source_my_hours/spec.json
  docs/integrations/sources/my-hours.md
Labels: area/connectors, area/documentation

Update docs/integrations/sources/s3.md
  docs/integrations/sources/s3.md
Labels: area/documentation

update cdk to latest
  airbyte-integrations/connectors/source-my-hours/setup.py
Labels: area/connectors

changelog
  docs/integrations/sources/my-hours.md
Labels: area/documentation

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-my-hours/acceptance-test-config.yml
Labels: area/connectors

make new version patch 0.3.1
  airbyte-integrations/connectors/destination-duckdb/metadata.yaml
  docs/integrations/destinations/duckdb.md
Labels: area/connectors, area/documentation

add unexpected columns to time_logs stream
  airbyte-integrations/connectors/source-my-hours/source_my_hours/schemas/time_logs.json
Labels: area/connectors

Hook up V0 of protocol protobuf.
  airbyte-integrations/connectors/source-e2e-test/build.gradle
  airbyte-integrations/connectors/source-e2e-test/src/main/java/io/airbyte/integrations/source/e2e_test/SpeedBenchmarkGeneratorIterator.java
  deps.toml
Labels: area/connectors

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-e2e-test/src/main/java/io/airbyte/integrations/source/e2e_test/SpeedBenchmarkGeneratorIterator.java
Labels: area/connectors

refactor stream list
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/source.py
Labels: area/connectors

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/source.py
Labels: area/connectors

✨ Source Mailchimp: Add Interests, InterestCategories, Tags streams (#32218)
  airbyte-integrations/connectors/source-mailchimp/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-mailchimp/integration_tests/configured_catalog_without_email_activities.json
  airbyte-integrations/connectors/source-mailchimp/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-mailchimp/metadata.yaml
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/interest_categories.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/interests.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/tags.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/source.py
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/streams.py
  airbyte-integrations/connectors/source-mailchimp/unit_tests/test_source.py
  airbyte-integrations/connectors/source-mailchimp/unit_tests/test_streams.py
  docs/integrations/sources/mailchimp.md
Labels: area/connectors, area/documentation

.github/labeler.yml:

# Union of api, connectors, documentation, octavia-cli, CDK and normalization.
area/api:
  - airbyte-api/*
  - airbyte-api/**/*

area/connectors:
  - airbyte-integrations/connectors/*
  - airbyte-integrations/connectors/**/*

area/documentation:
  - docs/*
  - docs/**/*

area/octavia-cli:
  - octavia-cli/*
  - octavia-cli/**/*

CDK:
  - airbyte-cdk/*
  - airbyte-cdk/**/*

normalization:
  - airbyte-integrations/bases/base-normalization/*
  - airbyte-integrations/bases/base-normalization/**/*
