Repository airbytehq/airbyte, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api, area/connectors, area/documentation, area/octavia-cli, CDK, normalization

.github/labeler.yml:

# Union of api, connectors, documentation, octavia-cli, CDK and normalization.
area/api:
  - airbyte-api/*
  - airbyte-api/**/*

area/connectors:
  - airbyte-integrations/connectors/*
  - airbyte-integrations/connectors/**/*

area/documentation:
  - docs/*
  - docs/**/*

area/octavia-cli:
  - octavia-cli/*
  - octavia-cli/**/*

CDK:
  - airbyte-cdk/*
  - airbyte-cdk/**/*

normalization:
  - airbyte-integrations/bases/base-normalization/*
  - airbyte-integrations/bases/base-normalization/**/*

updating aircall calls stream
  airbyte-integrations/connectors/source-aircall/streams/calls.patch.json
Labels: area/connectors

Source Bing Ads: update setup deps
  airbyte-integrations/connectors/source-bing-ads/setup.py
Labels: area/connectors

Add new stream and update docs
  airbyte-integrations/connectors/source-bigcommerce/Dockerfile
  airbyte-integrations/connectors/source-bigcommerce/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-bigcommerce/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-bigcommerce/metadata.yaml
  airbyte-integrations/connectors/source-bigcommerce/source_bigcommerce/manifest.yaml
  docs/integrations/sources/bigcommerce.md
Labels: area/connectors, area/documentation

update version and changelog
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  docs/integrations/sources/stripe.md
Labels: area/connectors, area/documentation

Update docs, fix schema
  airbyte-integrations/connectors/source-bigcommerce/source_bigcommerce/schemas/order_coupons.json
  docs/integrations/sources/bigcommerce.md
Labels: area/connectors, area/documentation

Source Bing Ads: update default time periods
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/report_streams.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_reports.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_source.py
Labels: area/connectors

Source Facebook Marketing - Add adset optimization goal
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/ad_sets.json
Labels: area/connectors

Source Facebook Marketing - Add campaigns is_skadnetwork_attribution
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/campaigns.json
Labels: area/connectors

improve unstructured parser
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/unstructured_parser.py
  airbyte-cdk/python/setup.py
Labels: CDK

bump memory for sources with unstructured data
  airbyte-integrations/connectors/source-azure-blob-storage/metadata.yaml
  airbyte-integrations/connectors/source-google-drive/metadata.yaml
  airbyte-integrations/connectors/source-s3/metadata.yaml
Labels: area/connectors

source-chartmogul: improve v1.0.0 breaking change messaging (#32519)
  airbyte-integrations/connectors/source-chartmogul/metadata.yaml
  docs/integrations/sources/chartmogul-migrations.md
Labels: area/connectors, area/documentation

source-chartmogul: improve v1.0.0 breaking change messaging (#32519)
  airbyte-integrations/connectors/source-chartmogul/metadata.yaml
  docs/integrations/sources/chartmogul-migrations.md
Labels: area/connectors, area/documentation

source-freshsales: improve v1.0.0 breaking change messaging (#32518)
  airbyte-integrations/connectors/source-freshsales/metadata.yaml
  docs/integrations/sources/freshsales-migrations.md
Labels: area/connectors, area/documentation

source-freshsales: improve v1.0.0 breaking change messaging (#32518)
  airbyte-integrations/connectors/source-freshsales/metadata.yaml
  docs/integrations/sources/freshsales-migrations.md
Labels: area/connectors, area/documentation

memory testing
  airbyte-integrations/connectors/source-google-drive/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-google-drive/source_google_drive/stream_reader.py
Labels: area/connectors

fix test
  airbyte-integrations/connectors/source-google-drive/integration_tests/spec.json
Labels: area/connectors

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-google-drive/source_google_drive/stream_reader.py
Labels: area/connectors

roll back a few versions
  airbyte-cdk/python/setup.py
Labels: CDK

Automated Commit - Formatting Changes
  airbyte-cdk/python/setup.py
Labels: CDK

Source Bing Ads: fix empty cursor field value state update
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/bulk_streams.py
Labels: area/connectors

airbyte-ci: use new self hoste runners
  .github/workflows/airbyte-ci-tests.yml
  .github/workflows/cat-tests.yml
  .github/workflows/connectors_nightly_build.yml
  .github/workflows/connectors_tests.yml
  .github/workflows/connectors_weekly_build.yml
  .github/workflows/format_check.yml
  .github/workflows/format_fix.yml
  .github/workflows/metadata_service_deploy_orchestrator_dagger.yml
  .github/workflows/publish_connectors.yml
  .github/workflows/publish_pypi.yml
Labels: none

Add error handlers
  airbyte-integrations/connectors/source-gong/source_gong/manifest.yaml
Labels: area/connectors

Update docs
  docs/integrations/sources/gong.md
Labels: area/documentation

added exit from sync on failed backoff
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_finance_streams.py
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/connectors, area/documentation

Update docs, update version
  airbyte-integrations/connectors/source-gong/Dockerfile
  airbyte-integrations/connectors/source-gong/metadata.yaml
  docs/integrations/sources/gong.md
Labels: area/connectors, area/documentation

updated change log
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_finance_streams.py
Labels: area/connectors

Source Amazon Seller Partner: remove advanced_stream_options
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_finance_streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_order_items_stream.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_reports_stream_sales_and_traffic.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_reports_streams_rate_limits.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_reports_streams_settlement_report.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_transform_function.py
Labels: area/connectors

Source Bing Ads: fix schema
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/keyword_performance_report_daily.json
Labels: area/connectors

Source Facebook Marketing - Add parallelization with gevent
  airbyte-integrations/connectors/source-facebook-marketing/main.py
  airbyte-integrations/connectors/source-facebook-marketing/setup.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/api.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/source.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/spec.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/base_insight_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/base_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/patches.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_api.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_client.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_errors.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_multi_account.py
Labels: area/connectors

Source Amazon Seller Partner: remove advanced_stream_options
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_finance_streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_order_items_stream.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_reports_stream_sales_and_traffic.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_reports_streams_rate_limits.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_reports_streams_settlement_report.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_transform_function.py
Labels: area/connectors

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_reports_stream_sales_and_traffic.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_reports_streams_rate_limits.py
Labels: area/connectors

Source Slack: increase timeout for full refresh CAT (#32548)
  airbyte-integrations/connectors/source-slack/acceptance-test-config.yml
Labels: area/connectors

Source Slack: increase timeout for full refresh CAT (#32548)
  airbyte-integrations/connectors/source-slack/acceptance-test-config.yml
Labels: area/connectors

big changelog entry
  docs/integrations/destinations/bigquery.md
Labels: area/documentation

fix spaces
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/FlushWorkers.java
Labels: CDK

add new stream contacts
  airbyte-integrations/connectors/source-surveymonkey/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-surveymonkey/metadata.yaml
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/schemas/contacts.json
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/source.py
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/streams.py
  docs/integrations/sources/surveymonkey.md
Labels: area/connectors, area/documentation

Increased version to 0.7.3
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
Labels: area/connectors

Source Amazon Seller Partner: fix merge conflict
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_reports_stream_sales_and_traffic.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_reports_streams_rate_limits.py
Labels: area/connectors

Source Amazon Seller Partner: update docs
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  docs/integrations/sources/amazon-seller-partner-migrations.md
Labels: area/connectors, area/documentation
