Repository airbytehq/airbyte, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api, area/connectors, area/documentation, area/octavia-cli, CDK, normalization

bump deadline;
  airbyte-integrations/connectors/source-freshsales/metadata.yaml
Labels: area/connectors

update breaking change messaging
  airbyte-integrations/connectors/source-freshsales/metadata.yaml
  docs/integrations/sources/freshsales-migrations.md
Labels: area/connectors, area/documentation

bump deadline;
  airbyte-integrations/connectors/source-chartmogul/metadata.yaml
Labels: area/connectors

update messaging
  airbyte-integrations/connectors/source-chartmogul/metadata.yaml
  docs/integrations/sources/chartmogul-migrations.md
Labels: area/connectors, area/documentation

[docs] Show metadata above header, remove ID
  docusaurus/src/css/custom.css
  docusaurus/src/remark/docsHeaderDecoration.js
Labels: none

Automated Commit - Formatting Changes
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcDestinationHandler.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcV1V2Migrator.java
Labels: CDK

test
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/java/io/airbyte/cdk/integrations/debezium/internals/DebeziumEventUtilsTest.java
Labels: CDK

test
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/resources/mongodb/delete_airbyte_message_no_schema.json
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/resources/mongodb/delete_no_before_airbyte_message_no_schema.json
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/resources/mongodb/insert_airbyte_message_no_schema.json
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/resources/mongodb/update_airbyte_message_no_schema.json
Labels: CDK

Async Destinations - Make debug messages less scary
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/FlushWorkers.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/buffers/BufferManager.java
Labels: CDK

TODO comments to pick off from discussion
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/CustomSqlType.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/JdbcBufferedConsumerFactory.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcSqlGenerator.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcTyperDeduper.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/TypeAndDedupeQueryBuilder.java
Labels: CDK

Automated Commit - Formatting Changes
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestination.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/CustomSqlType.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/JdbcBufferedConsumerFactory.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/TypeInfoRecordSet.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/WriteConfig.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcDestinationHandler.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcSqlGenerator.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcTyperDeduper.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/TypeAndDedupeQueryBuilder.java
  airbyte-integrations/bases/bases-destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/typing_deduping/JdbcDestinationHandler.java
  airbyte-integrations/bases/bases-destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/typing_deduping/JdbcSqlGenerator.java
  airbyte-integrations/bases/bases-destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/typing_deduping/JdbcTyperDeduper.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGenerator.java
Labels: area/connectors, CDK

destination redshift v2: implement migrator (#32524)
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcDestinationHandler.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcTyperDeduper.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcV1V2Migrator.java
Labels: CDK

Automated Commit - Formatting Changes
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/CustomSqlType.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/JdbcBufferedConsumerFactory.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcSqlGenerator.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcTyperDeduper.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/TypeAndDedupeQueryBuilder.java
Labels: CDK

set of squashed commits to make rebases easier:
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestination.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/CustomSqlType.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/JdbcBufferedConsumerFactory.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/JdbcMetaDataUtils.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/JdbcSqlOperations.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/SqlOperations.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/SqlOperationsUtils.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/TableSchemaRecordSet.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/TypeInfoRecordSet.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/WriteConfig.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcDestinationHandler.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcSqlGenerator.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcTyperDeduper.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/AirbyteProtocolType.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/AirbyteType.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/Array.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/SqlGenerator.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/Struct.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/TypeAndDedupeQueryBuilder.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/TypeAndDedupeTransaction.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/Union.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/UnsupportedOneOf.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/test/java/io/airbyte/integrations/base/destination/typing_deduping/MockSqlGenerator.java
  airbyte-integrations/bases/bases-destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/typing_deduping/JdbcDestinationHandler.java
  airbyte-integrations/bases/bases-destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/typing_deduping/JdbcSqlGenerator.java
  airbyte-integrations/bases/bases-destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/typing_deduping/JdbcTyperDeduper.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGenerator.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGenerator.java
  airbyte-integrations/connectors/destination-redshift/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGenerator.java
Labels: area/connectors, CDK

Minor refactoring to structure
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestination.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/ColumnDefinition.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/CustomSqlType.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/JdbcBufferedConsumerFactory.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/JdbcSqlOperations.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/TableDefinition.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcDestinationHandler.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcSqlGenerator.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/build.gradle
  airbyte-integrations/connectors/destination-redshift/build.gradle
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftInsertDestination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGenerator.java
Labels: area/connectors, CDK

Automated Commit - Formatting Changes
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestination.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/ColumnDefinition.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/JdbcBufferedConsumerFactory.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/TableDefinition.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcDestinationHandler.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcSqlGenerator.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftInsertDestination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGenerator.java
Labels: area/connectors, CDK

cleanup
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcSqlGenerator.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/Array.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/Struct.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/Union.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/UnsupportedOneOf.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGenerator.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGenerator.java
Labels: area/connectors, CDK

wire in migrator? maybe I'll regret this later
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestination.java
Labels: CDK

Load connector secrets in performance harness to pass acceptance test (#32480)
  .github/workflows/connector-performance-command.yml
Labels: none

Load connector secrets in performance harness to pass acceptance test (#32480)
  .github/workflows/connector-performance-command.yml
Labels: none

Automated Commit - Formatting Changes
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestination.java
Labels: CDK

add getQuote method to JdbcSqlGenerator
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcSqlGenerator.java
Labels: CDK

cdk bumpbs
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-snowflake/build.gradle
Labels: area/connectors, CDK

copy tweaks
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/FlushWorkers.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/buffers/BufferManager.java
Labels: CDK

remove comma
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/buffers/BufferManager.java
Labels: CDK

bump versions
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/snowflake.md
Labels: area/connectors, area/documentation

docs
  airbyte-cdk/java/airbyte-cdk/README.md
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, CDK

abstract class
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestination.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcSqlGenerator.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/test/java/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestinationTest.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftStagingS3Destination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGenerator.java
Labels: area/connectors, CDK

3
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/source/jdbc/JdbcSSLConnectionUtils.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
Labels: area/connectors, CDK

Automated Commit - Formatting Changes
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/test/java/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestinationTest.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGenerator.java
Labels: area/connectors, CDK

Add missing field email_contacts to UserInsights
  airbyte-integrations/connectors/source-instagram/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/user_insights.json
Labels: area/connectors

Update docs with <HideInUI>
  docs/integrations/sources/instagram.inapp.md
  docs/integrations/sources/instagram.md
Labels: area/documentation

remove datasource param
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestination.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/test/java/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestinationTest.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftInsertDestination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftStagingS3Destination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGenerator.java
Labels: area/connectors, CDK

Fix schema enforced config UI
  airbyte-integrations/connectors/source-mongodb-v2/src/main/resources/spec.json
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/MongoDbSourceConfigTest.java
Labels: area/connectors

[docs] Show metadata above header, remove ID (#32525)
  docusaurus/src/css/custom.css
  docusaurus/src/remark/docsHeaderDecoration.js
Labels: none

[docs] Show metadata above header, remove ID (#32525)
  docusaurus/src/css/custom.css
  docusaurus/src/remark/docsHeaderDecoration.js
Labels: none

Config/Catalog checks
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoDbSource.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoUtil.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/MongoUtilTest.java
Labels: area/connectors

:bug: Source Amazon Seller Partner: remove AWS signature (#32508)
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/setup.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/auth.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_finance_streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_order_items_stream.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_reports_stream_sales_and_traffic.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_reports_streams_rate_limits.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_reports_streams_settlement_report.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_transform_function.py
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/connectors, area/documentation

:bug: Source Amazon Seller Partner: remove AWS signature (#32508)
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/setup.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/auth.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_finance_streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_order_items_stream.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_reports_stream_sales_and_traffic.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_reports_streams_rate_limits.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_reports_streams_settlement_report.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_transform_function.py
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/connectors, area/documentation

tests
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/mongodb/MongoDbCdcEventUtils.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/java/io/airbyte/cdk/integrations/debezium/internals/mongodb/MongoDbCdcEventUtilsTest.java
  airbyte-integrations/connectors/source-mongodb-v2/integration_tests/expected_spec.json
Labels: area/connectors, CDK

.github/labeler.yml:

# Union of api, connectors, documentation, octavia-cli, CDK and normalization.
area/api:
  - airbyte-api/*
  - airbyte-api/**/*

area/connectors:
  - airbyte-integrations/connectors/*
  - airbyte-integrations/connectors/**/*

area/documentation:
  - docs/*
  - docs/**/*

area/octavia-cli:
  - octavia-cli/*
  - octavia-cli/**/*

CDK:
  - airbyte-cdk/*
  - airbyte-cdk/**/*

normalization:
  - airbyte-integrations/bases/base-normalization/*
  - airbyte-integrations/bases/base-normalization/**/*
