Repository airbytehq/airbyte, changes with the labels that .github/labeler.yml gives for each.
All labels: area/platform, area/api, area/server, area/worker, kubernetes, area/connectors, area/documentation, CDK, normalization

.github/labeler.yml:

# union of frontend, api, server, scheduler, protocol, worker, kubernetes
area/platform:
  - airbyte-api/*
  - airbyte-api/**/*
  - airbyte-persistence/*
  - airbyte-persistence/**/*
  - airbyte-server/*
  - airbyte-server/**/*
  - airbyte-workers/*
  - airbyte-workers/**/*
  - kube/*
  - kube/**/*
  - charts/*
  - charts/**/*

area/api:
  - airbyte-api/*
  - airbyte-api/**/*

area/server:
  - airbyte-server/*
  - airbyte-server/**/*

area/worker:
  - airbyte-workers/*
  - airbyte-workers/**/*

kubernetes:
  - kube/*
  - kube/**/*
  - charts/*
  - charts/**/*

area/connectors:
  - airbyte-integrations/connectors/*
  - airbyte-integrations/connectors/**/*

area/documentation:
  - docs/*
  - docs/**/*

CDK:
  - airbyte-cdk/*
  - airbyte-cdk/**/*

normalization:
  - airbyte-integrations/bases/base-normalization/*
  - airbyte-integrations/bases/base-normalization/**/*

Fix flake warnings
  airbyte-integrations/connectors/source-airtable/source_airtable/source.py
  airbyte-integrations/connectors/source-airtable/unit_tests/conftest.py
Labels: area/connectors

Push analytics_conversations integration to fork
  airbyte-integrations/connectors/source-genesys/integration_tests/configured_analytics_catalog.json
  airbyte-integrations/connectors/source-genesys/source_genesys/schemas/analytics_conversations.json
  airbyte-integrations/connectors/source-genesys/source_genesys/source.py
Labels: area/connectors

fix tests
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_simple_streams/data_input/catalog_schema_change.json
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_simple_streams/dbt_test_config/dbt_data_tests_tmp_incremental/simple_streams_second_run_row_counts.sql
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_simple_streams/dbt_test_config/dbt_data_tests_tmp_schema_change/simple_streams_third_run_row_counts.sql
Labels: normalization

New Source - Tenkft
  airbyte-integrations/connectors/source-tenkft/.dockerignore
  airbyte-integrations/connectors/source-tenkft/Dockerfile
  airbyte-integrations/connectors/source-tenkft/README.md
  airbyte-integrations/connectors/source-tenkft/acceptance-test-config.yml
  airbyte-integrations/connectors/source-tenkft/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-tenkft/build.gradle
  airbyte-integrations/connectors/source-tenkft/integration_tests/__init__.py
  airbyte-integrations/connectors/source-tenkft/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-tenkft/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-tenkft/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-tenkft/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-tenkft/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-tenkft/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-tenkft/main.py
  airbyte-integrations/connectors/source-tenkft/requirements.txt
  airbyte-integrations/connectors/source-tenkft/setup.py
  airbyte-integrations/connectors/source-tenkft/source_tenkft/__init__.py
  airbyte-integrations/connectors/source-tenkft/source_tenkft/schemas/bill_rates.json
  airbyte-integrations/connectors/source-tenkft/source_tenkft/schemas/project_assignments.json
  airbyte-integrations/connectors/source-tenkft/source_tenkft/schemas/projects.json
  airbyte-integrations/connectors/source-tenkft/source_tenkft/schemas/users.json
  airbyte-integrations/connectors/source-tenkft/source_tenkft/source.py
  airbyte-integrations/connectors/source-tenkft/source_tenkft/spec.yaml
  airbyte-integrations/connectors/source-tenkft/source_tenkft/streams.py
  airbyte-integrations/connectors/source-tenkft/unit_tests/__init__.py
  airbyte-integrations/connectors/source-tenkft/unit_tests/conftest.py
  airbyte-integrations/connectors/source-tenkft/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-tenkft/unit_tests/test_source.py
  airbyte-integrations/connectors/source-tenkft/unit_tests/test_streams.py
  docs/integrations/sources/tenkft.md
Labels: area/connectors, area/documentation

Source Tenkft - changelog added
  docs/integrations/sources/tenkft.md
Labels: area/documentation
