Repository airbytehq/airbyte, changes with the labels that .github/labeler.yml gives for each.
All labels: area/platform, team/frontend, area/api, area/server, area/scheduler, area/protocol, area/worker, kubernetes, area/connectors, area/documentation, CDK, normalization

.github/labeler.yml:

# union of frontend, api, server, scheduler, protocol, worker, kubernetes
area/platform:
  - airbyte-webapp/*
  - airbyte-webapp/**/*
  - airbyte-api/*
  - airbyte-api/**/*
  - airbyte-server/*
  - airbyte-server/**/*
  - airbyte-scheduler/*
  - airbyte-scheduler/**/*
  - airbyte-protocol/*
  - airbyte-protocol/**/*
  - airbyte-workers/*
  - airbyte-workers/**/*
  - kube/*
  - kube/**/*
  - charts/*
  - charts/**/*

team/frontend:
  - airbyte-webapp/*
  - airbyte-webapp/**/*

area/api:
  - airbyte-api/*
  - airbyte-api/**/*

area/server:
  - airbyte-server/*
  - airbyte-server/**/*

area/scheduler:
  - airbyte-scheduler/*
  - airbyte-scheduler/**/*

area/protocol:
  - airbyte-protocol/*
  - airbyte-protocol/**/*

area/worker:
  - airbyte-workers/*
  - airbyte-workers/**/*

kubernetes:
  - kube/*
  - kube/**/*
  - charts/*
  - charts/**/*

area/connectors:
  - airbyte-integrations/connectors/*
  - airbyte-integrations/connectors/**/*
  - airbyte-integrations/builds.md

area/documentation:
  - docs/*
  - docs/**/*

CDK:
  - airbyte-cdk/*
  - airbyte-cdk/**/*

normalization:
  - airbyte-integrations/bases/base-normalization/*
  - airbyte-integrations/bases/base-normalization/**/*

Show integration test results on the Action Summary (#13072)
  .github/workflows/test-command.yml
  tools/bin/ci_integration_test.sh
Labels: none

Show integration test results on the Action Summary (#13072)
  .github/workflows/test-command.yml
  tools/bin/ci_integration_test.sh
Labels: none

Show integration test results on the Action Summary (#13072)
  .github/workflows/test-command.yml
  tools/bin/ci_integration_test.sh
Labels: none

Adding sass
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
Labels: area/platform, team/frontend

Rename Toggle -> Switch
  airbyte-webapp/src/components/EntityTable/components/StatusCell.tsx
  airbyte-webapp/src/components/LabeledToggle/LabeledToggle.tsx
  airbyte-webapp/src/components/base/Switch/Switch.tsx
  airbyte-webapp/src/components/base/Switch/index.tsx
  airbyte-webapp/src/components/base/Toggle/index.tsx
  airbyte-webapp/src/components/base/index.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/EnabledControl.tsx
  airbyte-webapp/src/views/Connection/CatalogTree/StreamHeader.tsx
  airbyte-webapp/src/views/Connection/CatalogTree/components/BulkHeader.tsx
Labels: area/platform, team/frontend

Apply suggestions from code review
  airbyte-integrations/connectors/source-dockerhub/sample_files/config.json
  airbyte-integrations/connectors/source-dockerhub/sample_files/invalid_config.json
  airbyte-integrations/connectors/source-dockerhub/source_dockerhub/spec.yaml
Labels: area/connectors

Update docs/integrations/sources/dockerhub.md
  docs/integrations/sources/dockerhub.md
Labels: area/documentation

repo optimized/added more artifacts/indent fix
  airbyte-bootloader/build.gradle
  airbyte-db/lib/build.gradle
  build.gradle
  repositories.gradle
Labels: none

Loading state test works
  airbyte-webapp/src/components/base/Switch/Switch.module.scss
  airbyte-webapp/src/components/base/Switch/Switch.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/EnabledControl.tsx
Labels: area/platform, team/frontend

cleanup
  airbyte-webapp/src/components/base/Switch/Switch.module.scss
  airbyte-webapp/src/components/base/Switch/Switch.tsx
  airbyte-webapp/src/components/base/Switch/index.tsx
Labels: area/platform, team/frontend

Better
  airbyte-webapp/src/components/base/Switch/Switch.stories.tsx
Labels: area/platform, team/frontend

Switch to classnames, move svg's, code review bits, move theme content into scss.
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/public/images/Progress.svg
  airbyte-webapp/public/images/ProgressReverse.svg
  airbyte-webapp/src/components/base/Switch/Switch.module.scss
  airbyte-webapp/src/components/base/Switch/Switch.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/EnabledControl.tsx
  airbyte-webapp/src/scss/_colors.scss
  airbyte-webapp/src/scss/_fonts.scss
Labels: area/platform, team/frontend

Added switch to storybook
  airbyte-webapp/src/components/base/Switch/Switch.stories.tsx
  airbyte-webapp/src/components/base/Switch/Switch.tsx
Labels: area/platform, team/frontend

Mostly working styles
  airbyte-webapp/src/components/base/Switch/Switch.module.scss
  airbyte-webapp/src/components/base/Switch/Switch.tsx
Labels: area/platform, team/frontend

Added loading where available
  airbyte-webapp/src/components/EntityTable/components/StatusCell.tsx
  airbyte-webapp/src/components/LabeledToggle/LabeledToggle.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/MetricsPage/components/MetricsForm.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/NotificationPage/components/NotificationsForm.tsx
Labels: area/platform, team/frontend

Smooth
  airbyte-webapp/src/components/base/Switch/Progress.svg
  airbyte-webapp/src/components/base/Switch/ProgressReverse.svg
  airbyte-webapp/src/components/base/Switch/Switch.module.scss
  airbyte-webapp/src/components/base/Switch/Switch.tsx
Labels: area/platform, team/frontend

Edmundo CR
  airbyte-webapp/src/components/LabeledSwitch/LabeledSwitch.tsx
Labels: area/platform, team/frontend

LabeledToggle -> LabeledSwitch
  airbyte-webapp/src/components/LabeledSwitch/LabeledSwitch.tsx
  airbyte-webapp/src/components/LabeledSwitch/index.tsx
  airbyte-webapp/src/components/LabeledToggle/index.tsx
  airbyte-webapp/src/components/index.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/MetricsPage/components/MetricsForm.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/NotificationPage/components/NotificationsForm.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/NotificationPage/components/WebHookForm.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/Sections/PropertySection.tsx
  airbyte-webapp/src/views/Settings/PreferencesForm/PreferencesForm.tsx
Labels: area/platform, team/frontend

Import variables from SASS in TS
  airbyte-webapp/src/scss/export.module.scss
  airbyte-webapp/src/theme.ts
Labels: area/platform, team/frontend

Refactor code
  airbyte-webapp/src/components/base/Switch/Progress.svg
  airbyte-webapp/src/components/base/Switch/ProgressReverse.svg
  airbyte-webapp/src/components/base/Switch/Switch.module.scss
  airbyte-webapp/src/scss/_variables.scss
Labels: area/platform, team/frontend

Adjust styling to discussion with Nico
  airbyte-webapp/src/components/base/Switch/Switch.module.scss
Labels: area/platform, team/frontend

Minor adjustments
  airbyte-webapp/src/components/EntityTable/components/StatusCell.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/EnabledControl.tsx
Labels: area/platform, team/frontend

invalidate connection on source and destination item pages when updating status
  airbyte-webapp/src/components/EntityTable/components/StatusCell.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/DestinationItemPage/components/DestinationConnectionTable.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SourceConnectionTable.tsx
Labels: area/platform, team/frontend

Fix switch loading status in NotificationForm
  airbyte-webapp/src/pages/SettingsPage/pages/NotificationPage/components/NotificationsForm.tsx
Labels: area/platform, team/frontend

Update classnames in package-lock
  airbyte-webapp/package-lock.json
Labels: area/platform, team/frontend

auto-bump connector version
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
Labels: none

Source Facebook marketing: Fix duplicating records during insights lookback period (#13047)
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/base_insight_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/conftest.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/helpers.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_base_insight_streams.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/connectors, area/documentation

Source Facebook marketing: Fix duplicating records during insights lookback period (#13047)
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/base_insight_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/conftest.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/helpers.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_base_insight_streams.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/connectors, area/documentation

Source Facebook marketing: Fix duplicating records during insights lookback period (#13047)
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/base_insight_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/conftest.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/helpers.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_base_insight_streams.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/connectors, area/documentation

[9964] destination-mqtt: fixed build tests failures
  airbyte-integrations/connectors/destination-mqtt/src/main/java/io/airbyte/integrations/destination/mqtt/MqttDestination.java
  airbyte-integrations/connectors/destination-mqtt/src/main/java/io/airbyte/integrations/destination/mqtt/MqttRecordConsumer.java
Labels: area/connectors

While updating the connection, disable reset and sync buttons
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/EnabledControl.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/StatusMainInfo.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/StatusView.tsx
Labels: area/platform, team/frontend

Disable switch while loading
  airbyte-webapp/src/components/base/Switch/Switch.tsx
Labels: area/platform, team/frontend

[9964] destination-mqtt: added changelog
  docs/integrations/destinations/mqtt.md
Labels: area/documentation

- fix merge conflicts - fix Type
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/TransformationView.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/calculateInitialCatalog.ts
  airbyte-webapp/src/views/Connection/ConnectionForm/formConfig.tsx
Labels: area/platform, team/frontend

update tests
  airbyte-webapp/src/views/Connection/ConnectionForm/calculateInitialCatalog.test.ts
Labels: area/platform, team/frontend

Sentences
  README.md
Labels: none

Update mapping type to [str, Any]
  airbyte-cdk/python/airbyte_cdk/sources/configurable/interpolation/interpolated_mapping.py
Labels: CDK

add comment
  airbyte-cdk/python/airbyte_cdk/sources/configurable/interpolation/interpolated_mapping.py
Labels: CDK

Add comment
  airbyte-cdk/python/airbyte_cdk/sources/configurable/interpolation/jinja.py
Labels: CDK

pass parameters through kwargs
  airbyte-cdk/python/airbyte_cdk/sources/configurable/retrievers/simple_retriever.py
Labels: CDK
