Repository airbytehq/airbyte, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api, area/connectors, area/documentation, area/octavia-cli, CDK, normalization

airbyte-ci release: fix auth in workflow (#32489)
  .github/workflows/airbyte-ci-release.yml
Labels: none

Update airbyte-protocol.md
  docs/understanding-airbyte/airbyte-protocol.md
Labels: area/documentation

Source Bing Ads: update test config
  airbyte-integrations/connectors/source-bing-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-bing-ads/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-bing-ads/integration_tests/expected_records.jsonl
Labels: area/connectors

Marked start_date as optional
  airbyte-integrations/connectors/source-instagram/source_instagram/source.py
  airbyte-integrations/connectors/source-instagram/source_instagram/streams.py
  airbyte-integrations/connectors/source-instagram/unit_tests/conftest.py
  airbyte-integrations/connectors/source-instagram/unit_tests/test_source.py
  airbyte-integrations/connectors/source-instagram/unit_tests/test_streams.py
Labels: area/connectors

Set max retry time to 10 minutes
  airbyte-integrations/connectors/source-instagram/source_instagram/api.py
Labels: area/connectors

File CDK: Improve stream config appearance (#32420)
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/file_based_stream_config.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/csv_scenarios.py
Labels: CDK

File CDK: Improve stream config appearance (#32420)
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/file_based_stream_config.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/csv_scenarios.py
Labels: CDK

Update version
  airbyte-integrations/connectors/source-instagram/integration_tests/spec.json
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  docs/integrations/sources/instagram.md
Labels: area/connectors, area/documentation

🤖 Bump patch version of Python CDK
  airbyte-cdk/python/.bumpversion.cfg
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/Dockerfile
  airbyte-cdk/python/setup.py
Labels: CDK

🤖 Bump patch version of Python CDK
  airbyte-cdk/python/.bumpversion.cfg
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/Dockerfile
  airbyte-cdk/python/setup.py
Labels: CDK

Add suggested streams
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  docs/integrations/sources/instagram.md
Labels: area/connectors, area/documentation

[MVP-295] ✨ Custom Connector - Google Analytics (#6)
  airbyte-integrations/connectors/source-google-analytics-arcane/.dockerignore
  airbyte-integrations/connectors/source-google-analytics-arcane/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-arcane/README.md
  airbyte-integrations/connectors/source-google-analytics-arcane/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-analytics-arcane/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-google-analytics-arcane/build.gradle
  airbyte-integrations/connectors/source-google-analytics-arcane/integration_tests/__init__.py
  airbyte-integrations/connectors/source-google-analytics-arcane/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-google-analytics-arcane/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-google-analytics-arcane/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-google-analytics-arcane/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-google-analytics-arcane/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-google-analytics-arcane/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-google-analytics-arcane/main.py
  airbyte-integrations/connectors/source-google-analytics-arcane/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-arcane/requirements.txt
  airbyte-integrations/connectors/source-google-analytics-arcane/setup.py
  airbyte-integrations/connectors/source-google-analytics-arcane/source_google_analytics_arcane/__init__.py
  airbyte-integrations/connectors/source-google-analytics-arcane/source_google_analytics_arcane/authenticator.py
  airbyte-integrations/connectors/source-google-analytics-arcane/source_google_analytics_arcane/schemas/accounts.json
  airbyte-integrations/connectors/source-google-analytics-arcane/source_google_analytics_arcane/schemas/properties.json
  airbyte-integrations/connectors/source-google-analytics-arcane/source_google_analytics_arcane/schemas/report_pages_performance.json
  airbyte-integrations/connectors/source-google-analytics-arcane/source_google_analytics_arcane/source.py
  airbyte-integrations/connectors/source-google-analytics-arcane/source_google_analytics_arcane/spec.json
  airbyte-integrations/connectors/source-google-analytics-arcane/source_google_analytics_arcane/utils.py
  airbyte-integrations/connectors/source-google-analytics-arcane/unit_tests/__init__.py
  airbyte-integrations/connectors/source-google-analytics-arcane/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-google-analytics-arcane/unit_tests/test_source.py
  airbyte-integrations/connectors/source-google-analytics-arcane/unit_tests/test_streams.py
Labels: area/connectors

uninstall useless test deps
  airbyte-integrations/connectors/source-s3/setup.py
Labels: area/connectors

update changelog
  docs/integrations/sources/mailchimp.md
Labels: area/documentation

source-s3: remove useless test deps (#32495)
  airbyte-integrations/connectors/source-s3/setup.py
Labels: area/connectors

source-s3: remove useless test deps (#32495)
  airbyte-integrations/connectors/source-s3/setup.py
Labels: area/connectors

delete cdc records
  airbyte-cdk/python/airbyte_cdk/destinations/vector_db_based/document_processor.py
  airbyte-cdk/python/unit_tests/destinations/vector_db_based/document_processor_test.py
Labels: CDK

format
  airbyte-cdk/python/unit_tests/destinations/vector_db_based/document_processor_test.py
Labels: CDK

fix type error
  airbyte-cdk/python/airbyte_cdk/destinations/vector_db_based/document_processor.py
Labels: CDK

fix build
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/spec.json
  airbyte-integrations/connectors/source-azure-blob-storage/setup.py
  airbyte-integrations/connectors/source-gcs/setup.py
  airbyte-integrations/connectors/source-s3/integration_tests/spec.json
  airbyte-integrations/connectors/source-s3/setup.py
Labels: area/connectors

update
  airbyte-integrations/connectors/source-google-drive/integration_tests/spec.json
  airbyte-integrations/connectors/source-google-drive/setup.py
Labels: area/connectors

Update metadata.yaml
  airbyte-integrations/connectors/destination-langchain/metadata.yaml
Labels: area/connectors

Add search stream to source confluence
  airbyte-integrations/connectors/source-confluence/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-confluence/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-confluence/metadata.yaml
  airbyte-integrations/connectors/source-confluence/source_confluence/components.py
  airbyte-integrations/connectors/source-confluence/source_confluence/manifest.yaml
  airbyte-integrations/connectors/source-confluence/source_confluence/schemas/search.json
  docs/integrations/sources/confluence.md
Labels: area/connectors, area/documentation

chore: use general KYVE api endpoints
  airbyte-integrations/connectors/source-kyve/source_kyve/spec.yaml
Labels: area/connectors

fix: update Dockerfile source version
  airbyte-integrations/connectors/source-kyve/Dockerfile
  airbyte-integrations/connectors/source-launchdarkly/Dockerfile
Labels: area/connectors

chore: tidy
  airbyte-integrations/connectors/source-kyve/source_kyve/stream.py
Labels: area/connectors

chore: key type (int -> string).
  airbyte-integrations/connectors/source-kyve/source_kyve/stream.py
Labels: area/connectors

chore: update integration test config.
  airbyte-integrations/connectors/source-kyve/integration_tests/config.json
Labels: area/connectors

chore: spelling + descriptions
  airbyte-integrations/connectors/source-kyve/README.md
  airbyte-integrations/connectors/source-kyve/setup.py
  airbyte-integrations/connectors/source-kyve/source_kyve/spec.yaml
  airbyte-integrations/connectors/source-kyve/source_kyve/stream.py
Labels: area/connectors

update: resolve tests; add primary_key.
  airbyte-integrations/connectors/source-kyve/source_kyve/stream.py
  airbyte-integrations/connectors/source-kyve/unit_tests/test_streams.py
Labels: area/connectors

update: resolve tests.
  airbyte-integrations/connectors/source-kyve/acceptance-test-config.yml
  airbyte-integrations/connectors/source-kyve/metadata.yaml
  airbyte-integrations/connectors/source-kyve/source_kyve/spec.yaml
  airbyte-integrations/connectors/source-kyve/source_kyve/stream.py
  airbyte-integrations/connectors/source-kyve/source_kyve/util.py
  airbyte-integrations/connectors/source-kyve/unit_tests/test_streams.py
Labels: area/connectors

update: mainnet support; remove schemas.
  airbyte-integrations/connectors/source-kyve/README.md
  airbyte-integrations/connectors/source-kyve/integration_tests/multiple_pools_config.json
  airbyte-integrations/connectors/source-kyve/metadata.yaml
  airbyte-integrations/connectors/source-kyve/setup.py
  airbyte-integrations/connectors/source-kyve/source_kyve/schemas/bitcoin/block.json
  airbyte-integrations/connectors/source-kyve/source_kyve/schemas/bitcoin/transaction.json
  airbyte-integrations/connectors/source-kyve/source_kyve/schemas/celo/block.json
  airbyte-integrations/connectors/source-kyve/source_kyve/schemas/celo/transaction.json
  airbyte-integrations/connectors/source-kyve/source_kyve/schemas/cosmos/block.json
  airbyte-integrations/connectors/source-kyve/source_kyve/schemas/cosmos/parsedtxs.json
  airbyte-integrations/connectors/source-kyve/source_kyve/schemas/evm/block.json
  airbyte-integrations/connectors/source-kyve/source_kyve/schemas/evm/transaction.json
  airbyte-integrations/connectors/source-kyve/source_kyve/schemas/uniswap/event.json
  airbyte-integrations/connectors/source-kyve/source_kyve/spec.yaml
  airbyte-integrations/connectors/source-kyve/source_kyve/stream.py
  airbyte-integrations/connectors/source-kyve/unit_tests/test_data.py
  airbyte-integrations/connectors/source-kyve/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-kyve/unit_tests/test_util.py
  airbyte-integrations/connectors/source-launchdarkly/Dockerfile
  docs/integrations/sources/kyve.md
Labels: area/connectors, area/documentation

chore: update expected_records
  airbyte-integrations/connectors/source-mailchimp/integration_tests/expected_records.jsonl
Labels: area/connectors

fix id type in tags schema
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/tags.json
Labels: area/connectors

fix specs
  airbyte-integrations/connectors/source-s3/integration_tests/cloud_spec.json
Labels: area/connectors

updated date time
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/board_pins.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/board_section_pins.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/catalogs.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/catalogs_feeds.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/source.py
Labels: area/connectors

Add primary key for UserLifetimeInsights and UserInsights
  airbyte-integrations/connectors/source-instagram/source_instagram/streams.py
Labels: area/connectors

add handling for empty last_open field
  airbyte-integrations/connectors/source-mailchimp/metadata.yaml
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/streams.py
  airbyte-integrations/connectors/source-mailchimp/unit_tests/test_streams.py
  docs/integrations/sources/mailchimp.md
Labels: area/connectors, area/documentation

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-pinterest/source_pinterest/source.py
Labels: area/connectors

fix method name in parse_response
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/streams.py
Labels: area/connectors

.github/labeler.yml:

# Union of api, connectors, documentation, octavia-cli, CDK and normalization.
area/api:
  - airbyte-api/*
  - airbyte-api/**/*

area/connectors:
  - airbyte-integrations/connectors/*
  - airbyte-integrations/connectors/**/*

area/documentation:
  - docs/*
  - docs/**/*

area/octavia-cli:
  - octavia-cli/*
  - octavia-cli/**/*

CDK:
  - airbyte-cdk/*
  - airbyte-cdk/**/*

normalization:
  - airbyte-integrations/bases/base-normalization/*
  - airbyte-integrations/bases/base-normalization/**/*
