Repository airbytehq/airbyte, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api, area/connectors, area/documentation, area/octavia-cli, CDK, normalization

.github/labeler.yml:

# Union of api, connectors, documentation, octavia-cli, CDK and normalization.
area/api:
  - airbyte-api/*
  - airbyte-api/**/*

area/connectors:
  - airbyte-integrations/connectors/*
  - airbyte-integrations/connectors/**/*

area/documentation:
  - docs/*
  - docs/**/*

area/octavia-cli:
  - octavia-cli/*
  - octavia-cli/**/*

CDK:
  - airbyte-cdk/*
  - airbyte-cdk/**/*

normalization:
  - airbyte-integrations/bases/base-normalization/*
  - airbyte-integrations/bases/base-normalization/**/*

Automated Commit - Formatting Changes
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/CatalogParser.java
Labels: CDK

Destination Bigquery docs: Clarify service account usage (#18642)
  docs/integrations/destinations/bigquery.md
Labels: area/documentation

Destination Bigquery docs: Clarify service account usage (#18642)
  docs/integrations/destinations/bigquery.md
Labels: area/documentation

we are the codeowners
  .github/CODEOWNERS
Labels: none

fix schemas
  airbyte-integrations/connectors/source-freshsales/Dockerfile
  airbyte-integrations/connectors/source-freshsales/__int__.py
  airbyte-integrations/connectors/source-freshsales/expected.json
  airbyte-integrations/connectors/source-freshsales/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-freshsales/integration_tests/minimal.json
  airbyte-integrations/connectors/source-freshsales/metadata.yaml
  airbyte-integrations/connectors/source-freshsales/source_freshsales/manifest.yaml
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/accounts.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/completed_tasks.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/contacts.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/lost_deals.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/open_deals.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/open_tasks.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/past_appointments.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/upcoming_appointments.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/won_deals.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/source.py
  airbyte-integrations/connectors/source-freshsales/source_freshsales/spec.yaml
  docs/integrations/sources/freshsales-migrations.md
  docs/integrations/sources/freshsales.md
Labels: area/connectors, area/documentation

remove unused files
  airbyte-integrations/connectors/source-freshsales/expected.json
  airbyte-integrations/connectors/source-freshsales/integration_tests/minimal.json
Labels: area/connectors

add comments, update test
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_streams.py
  docs/integrations/sources/stripe-migrations.md
Labels: area/connectors, area/documentation

Revert gitignore change
  airbyte-ci/.gitignore
Labels: none

✨ Source Freshsales : Migrate Python CDK to Low-code CDK (#31685)
  airbyte-integrations/connectors/source-freshsales/Dockerfile
  airbyte-integrations/connectors/source-freshsales/README.md
  airbyte-integrations/connectors/source-freshsales/__int__.py
  airbyte-integrations/connectors/source-freshsales/acceptance-test-config.yml
  airbyte-integrations/connectors/source-freshsales/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-freshsales/metadata.yaml
  airbyte-integrations/connectors/source-freshsales/setup.py
  airbyte-integrations/connectors/source-freshsales/source_freshsales/manifest.yaml
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/accounts.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/completed_tasks.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/contacts.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/lost_deals.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/open_deals.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/open_tasks.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/past_appointments.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/upcoming_appointments.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/won_deals.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/source.py
  airbyte-integrations/connectors/source-freshsales/source_freshsales/spec.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/spec.yaml
  airbyte-integrations/connectors/source-freshsales/unit_tests/__init__.py
  airbyte-integrations/connectors/source-freshsales/unit_tests/conftest.py
  airbyte-integrations/connectors/source-freshsales/unit_tests/test_source.py
  docs/integrations/sources/freshsales-migrations.md
  docs/integrations/sources/freshsales.md
Labels: area/connectors, area/documentation

✨ Source Freshsales : Migrate Python CDK to Low-code CDK (#31685)
  airbyte-integrations/connectors/source-freshsales/Dockerfile
  airbyte-integrations/connectors/source-freshsales/README.md
  airbyte-integrations/connectors/source-freshsales/__int__.py
  airbyte-integrations/connectors/source-freshsales/acceptance-test-config.yml
  airbyte-integrations/connectors/source-freshsales/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-freshsales/metadata.yaml
  airbyte-integrations/connectors/source-freshsales/setup.py
  airbyte-integrations/connectors/source-freshsales/source_freshsales/manifest.yaml
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/accounts.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/completed_tasks.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/contacts.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/lost_deals.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/open_deals.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/open_tasks.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/past_appointments.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/upcoming_appointments.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/won_deals.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/source.py
  airbyte-integrations/connectors/source-freshsales/source_freshsales/spec.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/spec.yaml
  airbyte-integrations/connectors/source-freshsales/unit_tests/__init__.py
  airbyte-integrations/connectors/source-freshsales/unit_tests/conftest.py
  airbyte-integrations/connectors/source-freshsales/unit_tests/test_source.py
  docs/integrations/sources/freshsales-migrations.md
  docs/integrations/sources/freshsales.md
Labels: area/connectors, area/documentation

[ISSUE #32308] stripe stream concurrent when sync mode full refresh
  airbyte-integrations/connectors/source-stripe/main.py
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  airbyte-integrations/connectors/source-stripe/unit_tests/conftest.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_source.py
Labels: area/connectors

fix: add 429 error handling
  airbyte-integrations/connectors/source-insightly/source_insightly/manifest.yaml
Labels: area/connectors

fix files
  airbyte-integrations/connectors/source-salesloft/Dockerfile
  airbyte-integrations/connectors/source-salesloft/acceptance-test-config.yml
  airbyte-integrations/connectors/source-salesloft/metadata.yaml
  airbyte-integrations/connectors/source-salesloft/setup.py
  airbyte-integrations/connectors/source-salesloft/source_salesloft/components.py
  airbyte-integrations/connectors/source-salesloft/source_salesloft/manifest.yaml
  airbyte-integrations/connectors/source-salesloft/unit_tests/conftest.py
  airbyte-integrations/connectors/source-salesloft/unit_tests/test_source.py
  airbyte-integrations/connectors/source-salesloft/unit_tests/test_streams.py
  docs/integrations/sources/salesloft.md
Labels: area/connectors, area/documentation

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  airbyte-integrations/connectors/source-stripe/unit_tests/conftest.py
Labels: area/connectors

self-review
  airbyte-integrations/connectors/source-stripe/main.py
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  airbyte-integrations/connectors/source-stripe/unit_tests/conftest.py
Labels: area/connectors

Update version
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  docs/integrations/sources/stripe.md
Labels: area/connectors, area/documentation

remove superfluous call to shutdown
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/concurrent_source.py
Labels: CDK

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-stripe/main.py
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
Labels: area/connectors

add unit test
  airbyte-cdk/python/unit_tests/sources/test_concurrent_source.py
Labels: CDK

yield from []
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/concurrent_source.py
Labels: CDK

remove useless comment
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/concurrent_source.py
Labels: CDK

Set sample size = 1 in schemaless mode
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoUtil.java
Labels: area/connectors

comment
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/concurrent_stream_processor.py
Labels: CDK

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoUtil.java
Labels: area/connectors

fix comment
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/partition_generation_completed_sentinel.py
Labels: CDK

remove superfluous check
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/concurrent_source.py
Labels: CDK

remove source-xero from Cloud
  airbyte-integrations/connectors/source-xero/metadata.yaml
Labels: area/connectors

1
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/source/jdbc/JdbcSSLConnectionUtils.java
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
Labels: area/connectors, CDK

More efficient discovery
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoUtil.java
Labels: area/connectors

cdk logistics
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
Labels: CDK

connector logistics
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  docs/integrations/destinations/bigquery.md
Labels: area/connectors, area/documentation

Source Bing Ads: update full_refresh_config
  airbyte-integrations/connectors/source-bing-ads/acceptance-test-config.yml
Labels: area/connectors

Automated Commit - Formatting Changes
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestination.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/CustomSqlType.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/JdbcBufferedConsumerFactory.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/TypeInfoRecordSet.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/WriteConfig.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcDestinationHandler.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcSqlGenerator.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcTyperDeduper.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/TypeAndDedupeQueryBuilder.java
  airbyte-integrations/bases/bases-destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/typing_deduping/JdbcDestinationHandler.java
  airbyte-integrations/bases/bases-destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/typing_deduping/JdbcSqlGenerator.java
  airbyte-integrations/bases/bases-destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/typing_deduping/JdbcTyperDeduper.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGenerator.java
Labels: area/connectors, CDK

set of squashed commits to make rebases easier:
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestination.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/CustomSqlType.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/JdbcBufferedConsumerFactory.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/JdbcMetaDataUtils.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/JdbcSqlOperations.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/SqlOperations.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/SqlOperationsUtils.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/TableSchemaRecordSet.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/TypeInfoRecordSet.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/WriteConfig.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcDestinationHandler.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcSqlGenerator.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcTyperDeduper.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/AirbyteProtocolType.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/AirbyteType.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/Array.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/SqlGenerator.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/Struct.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/TypeAndDedupeQueryBuilder.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/TypeAndDedupeTransaction.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/Union.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/UnsupportedOneOf.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/test/java/io/airbyte/integrations/base/destination/typing_deduping/MockSqlGenerator.java
  airbyte-integrations/bases/bases-destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/typing_deduping/JdbcDestinationHandler.java
  airbyte-integrations/bases/bases-destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/typing_deduping/JdbcSqlGenerator.java
  airbyte-integrations/bases/bases-destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/typing_deduping/JdbcTyperDeduper.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGenerator.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGenerator.java
  airbyte-integrations/connectors/destination-redshift/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGenerator.java
Labels: area/connectors, CDK

Minor refactoring to structure
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestination.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/ColumnDefinition.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/CustomSqlType.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/JdbcBufferedConsumerFactory.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/JdbcSqlOperations.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/TableDefinition.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcDestinationHandler.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcSqlGenerator.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/build.gradle
  airbyte-integrations/connectors/destination-redshift/build.gradle
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftInsertDestination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGenerator.java
Labels: area/connectors, CDK

Automated Commit - Formatting Changes
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/CustomSqlType.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/JdbcBufferedConsumerFactory.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcSqlGenerator.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcTyperDeduper.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/TypeAndDedupeQueryBuilder.java
Labels: CDK

TODO comments to pick off from discussion
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/CustomSqlType.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/JdbcBufferedConsumerFactory.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcSqlGenerator.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcTyperDeduper.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/TypeAndDedupeQueryBuilder.java
Labels: CDK

Automated Commit - Formatting Changes
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestination.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/ColumnDefinition.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/JdbcBufferedConsumerFactory.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/TableDefinition.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcDestinationHandler.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcSqlGenerator.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftInsertDestination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGenerator.java
Labels: area/connectors, CDK

extract a facade
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/concurrent_source.py
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/concurrent_source_adapter.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/scenarios/stream_facade_builder.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/scenarios/stream_facade_scenarios.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/scenarios/thread_based_concurrent_stream_scenarios.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/scenarios/thread_based_concurrent_stream_source_builder.py
  airbyte-cdk/python/unit_tests/sources/test_concurrent_source.py
  airbyte-cdk/python/unit_tests/sources/test_source_read.py
Labels: CDK

Destination bigquery error grouping: even more fixes (#32468)
  .github/CODEOWNERS
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/base/AirbyteExceptionHandler.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/CatalogParser.java
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  docs/integrations/destinations/bigquery.md
Labels: area/connectors, area/documentation, CDK
