Repository airbytehq/airbyte, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api, area/connectors, area/documentation, area/octavia-cli, CDK, normalization

update changelog
  docs/integrations/sources/mailchimp.md
Labels: area/documentation

qa-check: tolerate http string in expected records
  airbyte-ci/connectors/connector_ops/connector_ops/qa_checks.py
  airbyte-ci/connectors/connector_ops/pyproject.toml
Labels: none

update prop type in schema
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/reports.json
Labels: area/connectors

format: `airbyte-ci format fix all` on PR from `airbyte-ci format check all` on master
  .github/workflows/format_check.yml
  .github/workflows/format_fix.yml
Labels: none

check after fix
  .github/workflows/format_fix.yml
Labels: none

continue on failure on master check
  .github/workflows/format_check.yml
Labels: none

Delete changes for primary key
  airbyte-integrations/connectors/source-instagram/source_instagram/streams.py
Labels: area/connectors

remove aws signature
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/setup.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/auth.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_finance_streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_order_items_stream.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_reports_stream_sales_and_traffic.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_reports_streams_rate_limits.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_reports_streams_settlement_report.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_transform_function.py
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/connectors, area/documentation

Source Bing Ads: update test config
  airbyte-integrations/connectors/source-bing-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-bing-ads/integration_tests/configured_catalog_full_refresh.json
  airbyte-integrations/connectors/source-bing-ads/integration_tests/expected_records.jsonl
Labels: area/connectors

mention langchain in docs
  docs/integrations/destinations/milvus.md
  docs/integrations/destinations/pinecone.md
  docs/integrations/destinations/weaviate.md
Labels: area/documentation

add to chroma/qdrant as well
  docs/integrations/destinations/chroma.md
  docs/integrations/destinations/qdrant.md
Labels: area/documentation

adjust
  docs/integrations/destinations/chroma.md
  docs/integrations/destinations/qdrant.md
Labels: area/documentation

fix: update check streams
  airbyte-integrations/connectors/source-insightly/source_insightly/manifest.yaml
Labels: area/connectors

🐛 Source Bing Ads: normalize numeric values (#32422)
  airbyte-integrations/connectors/source-bing-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-bing-ads/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-bing-ads/integration_tests/configured_catalog_full_refresh.json
  airbyte-integrations/connectors/source-bing-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/streams.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_reports.py
  docs/integrations/sources/bing-ads.md
Labels: area/connectors, area/documentation

🐛 Source Bing Ads: normalize numeric values (#32422)
  airbyte-integrations/connectors/source-bing-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-bing-ads/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-bing-ads/integration_tests/configured_catalog_full_refresh.json
  airbyte-integrations/connectors/source-bing-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/streams.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_reports.py
  docs/integrations/sources/bing-ads.md
Labels: area/connectors, area/documentation

fix: add ignored column for users stream
  airbyte-integrations/connectors/source-insightly/acceptance-test-config.yml
Labels: area/connectors

Google Drive: Fix shared drives (#32429)
  airbyte-integrations/connectors/source-google-drive/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-drive/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-google-drive/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-google-drive/integration_tests/spec.json
  airbyte-integrations/connectors/source-google-drive/metadata.yaml
  airbyte-integrations/connectors/source-google-drive/setup.py
  airbyte-integrations/connectors/source-google-drive/source_google_drive/spec.py
  airbyte-integrations/connectors/source-google-drive/source_google_drive/stream_reader.py
  docs/integrations/sources/google-drive.md
Labels: area/connectors, area/documentation

Google Drive: Fix shared drives (#32429)
  airbyte-integrations/connectors/source-google-drive/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-drive/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-google-drive/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-google-drive/integration_tests/spec.json
  airbyte-integrations/connectors/source-google-drive/metadata.yaml
  airbyte-integrations/connectors/source-google-drive/setup.py
  airbyte-integrations/connectors/source-google-drive/source_google_drive/spec.py
  airbyte-integrations/connectors/source-google-drive/source_google_drive/stream_reader.py
  docs/integrations/sources/google-drive.md
Labels: area/connectors, area/documentation

update
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
Labels: area/connectors

S3, Azure Blob Storage, GCS, Pinecone, Weaviate, Milvus, Chroma, Qdrant: Update CDK to improve spec generation (#32357)
  airbyte-integrations/connectors/destination-chroma/Dockerfile
  airbyte-integrations/connectors/destination-chroma/metadata.yaml
  airbyte-integrations/connectors/destination-chroma/setup.py
  airbyte-integrations/connectors/destination-milvus/destination_milvus/config.py
  airbyte-integrations/connectors/destination-milvus/integration_tests/spec.json
  airbyte-integrations/connectors/destination-milvus/metadata.yaml
  airbyte-integrations/connectors/destination-milvus/setup.py
  airbyte-integrations/connectors/destination-pinecone/destination_pinecone/config.py
  airbyte-integrations/connectors/destination-pinecone/integration_tests/spec.json
  airbyte-integrations/connectors/destination-pinecone/metadata.yaml
  airbyte-integrations/connectors/destination-pinecone/setup.py
  airbyte-integrations/connectors/destination-qdrant/Dockerfile
  airbyte-integrations/connectors/destination-qdrant/metadata.yaml
  airbyte-integrations/connectors/destination-qdrant/setup.py
  airbyte-integrations/connectors/destination-weaviate/destination_weaviate/config.py
  airbyte-integrations/connectors/destination-weaviate/integration_tests/spec.json
  airbyte-integrations/connectors/destination-weaviate/metadata.yaml
  airbyte-integrations/connectors/destination-weaviate/setup.py
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/spec.json
  airbyte-integrations/connectors/source-azure-blob-storage/metadata.yaml
  airbyte-integrations/connectors/source-azure-blob-storage/setup.py
  airbyte-integrations/connectors/source-gcs/Dockerfile
  airbyte-integrations/connectors/source-gcs/integration_tests/spec.json
  airbyte-integrations/connectors/source-gcs/metadata.yaml
  airbyte-integrations/connectors/source-gcs/setup.py
  airbyte-integrations/connectors/source-s3/integration_tests/cloud_spec.json
  airbyte-integrations/connectors/source-s3/integration_tests/spec.json
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/setup.py
  docs/integrations/destinations/chroma.md
  docs/integrations/destinations/milvus.md
  docs/integrations/destinations/pinecone.md
  docs/integrations/destinations/qdrant.md
  docs/integrations/destinations/weaviate.md
  docs/integrations/sources/azure-blob-storage.md
  docs/integrations/sources/gcs.md
  docs/integrations/sources/s3.md
Labels: area/connectors, area/documentation

S3, Azure Blob Storage, GCS, Pinecone, Weaviate, Milvus, Chroma, Qdrant: Update CDK to improve spec generation (#32357)
  airbyte-integrations/connectors/destination-chroma/Dockerfile
  airbyte-integrations/connectors/destination-chroma/metadata.yaml
  airbyte-integrations/connectors/destination-chroma/setup.py
  airbyte-integrations/connectors/destination-milvus/destination_milvus/config.py
  airbyte-integrations/connectors/destination-milvus/integration_tests/spec.json
  airbyte-integrations/connectors/destination-milvus/metadata.yaml
  airbyte-integrations/connectors/destination-milvus/setup.py
  airbyte-integrations/connectors/destination-pinecone/destination_pinecone/config.py
  airbyte-integrations/connectors/destination-pinecone/integration_tests/spec.json
  airbyte-integrations/connectors/destination-pinecone/metadata.yaml
  airbyte-integrations/connectors/destination-pinecone/setup.py
  airbyte-integrations/connectors/destination-qdrant/Dockerfile
  airbyte-integrations/connectors/destination-qdrant/metadata.yaml
  airbyte-integrations/connectors/destination-qdrant/setup.py
  airbyte-integrations/connectors/destination-weaviate/destination_weaviate/config.py
  airbyte-integrations/connectors/destination-weaviate/integration_tests/spec.json
  airbyte-integrations/connectors/destination-weaviate/metadata.yaml
  airbyte-integrations/connectors/destination-weaviate/setup.py
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/spec.json
  airbyte-integrations/connectors/source-azure-blob-storage/metadata.yaml
  airbyte-integrations/connectors/source-azure-blob-storage/setup.py
  airbyte-integrations/connectors/source-gcs/Dockerfile
  airbyte-integrations/connectors/source-gcs/integration_tests/spec.json
  airbyte-integrations/connectors/source-gcs/metadata.yaml
  airbyte-integrations/connectors/source-gcs/setup.py
  airbyte-integrations/connectors/source-s3/integration_tests/cloud_spec.json
  airbyte-integrations/connectors/source-s3/integration_tests/spec.json
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/setup.py
  docs/integrations/destinations/chroma.md
  docs/integrations/destinations/milvus.md
  docs/integrations/destinations/pinecone.md
  docs/integrations/destinations/qdrant.md
  docs/integrations/destinations/weaviate.md
  docs/integrations/sources/azure-blob-storage.md
  docs/integrations/sources/gcs.md
  docs/integrations/sources/s3.md
Labels: area/connectors, area/documentation

use spec
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_adapters.py
Labels: CDK

qa-check: tolerate http string in expected records (#32499)
  airbyte-ci/connectors/connector_ops/connector_ops/qa_checks.py
  airbyte-ci/connectors/connector_ops/pyproject.toml
Labels: none

qa-check: tolerate http string in expected records (#32499)
  airbyte-ci/connectors/connector_ops/connector_ops/qa_checks.py
  airbyte-ci/connectors/connector_ops/pyproject.toml
Labels: none

format: `airbyte-ci format fix all` on PR / `airbyte-ci format check all` on master (#32491)
  .github/workflows/format_check.yml
  .github/workflows/format_fix.yml
Labels: none

format: `airbyte-ci format fix all` on PR / `airbyte-ci format check all` on master (#32491)
  .github/workflows/format_check.yml
  .github/workflows/format_fix.yml
Labels: none

use public interface
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_concurrent_stream_processor.py
Labels: CDK

✨ Source Insightly : Migrate Python CDK to Low-code CDK (#31162)
  airbyte-integrations/connectors/source-insightly/Dockerfile
  airbyte-integrations/connectors/source-insightly/README.md
  airbyte-integrations/connectors/source-insightly/__init__.py
  airbyte-integrations/connectors/source-insightly/acceptance-test-config.yml
  airbyte-integrations/connectors/source-insightly/bootstrap.md
  airbyte-integrations/connectors/source-insightly/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-insightly/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-insightly/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-insightly/metadata.yaml
  airbyte-integrations/connectors/source-insightly/setup.py
  airbyte-integrations/connectors/source-insightly/source_insightly/manifest.yaml
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/contacts.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/opportunities.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/organisations.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/projects.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/tasks.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/teams.json
  airbyte-integrations/connectors/source-insightly/source_insightly/source.py
  airbyte-integrations/connectors/source-insightly/source_insightly/spec.json
  airbyte-integrations/connectors/source-insightly/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-insightly/unit_tests/test_source.py
  airbyte-integrations/connectors/source-insightly/unit_tests/test_streams.py
  docs/integrations/sources/insightly.md
Labels: area/connectors, area/documentation

✨ Source Insightly : Migrate Python CDK to Low-code CDK (#31162)
  airbyte-integrations/connectors/source-insightly/Dockerfile
  airbyte-integrations/connectors/source-insightly/README.md
  airbyte-integrations/connectors/source-insightly/__init__.py
  airbyte-integrations/connectors/source-insightly/acceptance-test-config.yml
  airbyte-integrations/connectors/source-insightly/bootstrap.md
  airbyte-integrations/connectors/source-insightly/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-insightly/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-insightly/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-insightly/metadata.yaml
  airbyte-integrations/connectors/source-insightly/setup.py
  airbyte-integrations/connectors/source-insightly/source_insightly/manifest.yaml
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/contacts.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/opportunities.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/organisations.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/projects.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/tasks.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/teams.json
  airbyte-integrations/connectors/source-insightly/source_insightly/source.py
  airbyte-integrations/connectors/source-insightly/source_insightly/spec.json
  airbyte-integrations/connectors/source-insightly/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-insightly/unit_tests/test_source.py
  airbyte-integrations/connectors/source-insightly/unit_tests/test_streams.py
  docs/integrations/sources/insightly.md
Labels: area/connectors, area/documentation

upgrade snowflake jdbc driver
  airbyte-integrations/connectors/destination-snowflake/build.gradle
Labels: area/connectors

updated events expected records
  airbyte-integrations/connectors/source-klaviyo/integration_tests/expected_records.jsonl
Labels: area/connectors

remove message repository property
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/concurrent_source.py
Labels: CDK

add call_ratee_policy parameter (for testing)
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  airbyte-integrations/connectors/source-stripe/source_stripe/spec.yaml
Labels: area/connectors

✨ Source Stripe: have all full_refresh stream syncs be concurrent (#32473)
  airbyte-integrations/connectors/source-stripe/main.py
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  airbyte-integrations/connectors/source-stripe/unit_tests/conftest.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_source.py
  docs/integrations/sources/stripe.md
Labels: area/connectors, area/documentation

✨ Source Stripe: have all full_refresh stream syncs be concurrent (#32473)
  airbyte-integrations/connectors/source-stripe/main.py
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  airbyte-integrations/connectors/source-stripe/unit_tests/conftest.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_source.py
  docs/integrations/sources/stripe.md
Labels: area/connectors, area/documentation

Fix test
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/MongoUtilTest.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/resources/schema_discovery_response_schemaless.json
Labels: area/connectors

increase maximum_attempts_to_acquire to never hit it
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
Labels: area/connectors

Source Bing Ads: improve UX
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
Labels: area/connectors

updated adding cursor field to report columns
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/streams.py
Labels: area/connectors

added new test
  airbyte-integrations/connectors/source-pinterest/source_pinterest/source.py
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_source.py
Labels: area/connectors

.github/labeler.yml:

# Union of api, connectors, documentation, octavia-cli, CDK and normalization.
area/api:
  - airbyte-api/*
  - airbyte-api/**/*

area/connectors:
  - airbyte-integrations/connectors/*
  - airbyte-integrations/connectors/**/*

area/documentation:
  - docs/*
  - docs/**/*

area/octavia-cli:
  - octavia-cli/*
  - octavia-cli/**/*

CDK:
  - airbyte-cdk/*
  - airbyte-cdk/**/*

normalization:
  - airbyte-integrations/bases/base-normalization/*
  - airbyte-integrations/bases/base-normalization/**/*
