Repository airbytehq/airbyte, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api, area/connectors, area/documentation, area/octavia-cli, CDK, normalization

.github/labeler.yml:

# Union of api, connectors, documentation, octavia-cli, CDK and normalization.
area/api:
  - airbyte-api/*
  - airbyte-api/**/*

area/connectors:
  - airbyte-integrations/connectors/*
  - airbyte-integrations/connectors/**/*

area/documentation:
  - docs/*
  - docs/**/*

area/octavia-cli:
  - octavia-cli/*
  - octavia-cli/**/*

CDK:
  - airbyte-cdk/*
  - airbyte-cdk/**/*

normalization:
  - airbyte-integrations/bases/base-normalization/*
  - airbyte-integrations/bases/base-normalization/**/*

JDBC sources: improve timestamptz handling (#32616)
  airbyte-integrations/connectors/source-redshift/src/main/java/io/airbyte/integrations/source/redshift/RedshiftSource.java
  airbyte-integrations/connectors/source-redshift/src/main/java/io/airbyte/integrations/source/redshift/RedshiftSourceOperations.java
  airbyte-integrations/connectors/source-redshift/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/RedshiftSourceOperationsTest.java
  docs/integrations/sources/redshift.md
Labels: area/connectors, area/documentation

improve spec
  airbyte-integrations/connectors/source-mongodb-v2/src/main/resources/spec.json
Labels: area/connectors

add permissions to prerequisites and add ui tags
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation

tag removal
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation

✨ Source Iterable: add userId to applicable streams
  airbyte-integrations/connectors/source-iterable/Dockerfile
  airbyte-integrations/connectors/source-iterable/metadata.yaml
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/email_bounce.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/email_click.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/email_complaint.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/email_open.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/email_send.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/email_send_skip.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/email_subscribe.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/email_unsubscribe.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/events.json
  docs/integrations/sources/iterable.md
Labels: area/connectors, area/documentation

Update bash headers
  tools/bin/make/airbyte_ci_check.sh
  tools/bin/make/airbyte_ci_clean.sh
  tools/bin/make/airbyte_ci_dev_install.sh
  tools/bin/make/airbyte_ci_install.sh
Labels: none

Shellcheck
  tools/bin/make/airbyte_ci_clean.sh
  tools/bin/make/airbyte_ci_install.sh
Labels: none

Add source microsoft onedrive
  airbyte-integrations/connectors/source-microsoft-onedrive/README.md
  airbyte-integrations/connectors/source-microsoft-onedrive/acceptance-test-config.yml
  airbyte-integrations/connectors/source-microsoft-onedrive/integration_tests/__init__.py
  airbyte-integrations/connectors/source-microsoft-onedrive/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-microsoft-onedrive/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-microsoft-onedrive/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-microsoft-onedrive/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-microsoft-onedrive/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-microsoft-onedrive/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-microsoft-onedrive/integration_tests/spec.json
  airbyte-integrations/connectors/source-microsoft-onedrive/main.py
  airbyte-integrations/connectors/source-microsoft-onedrive/metadata.yaml
  airbyte-integrations/connectors/source-microsoft-onedrive/requirements.txt
  airbyte-integrations/connectors/source-microsoft-onedrive/setup.py
  airbyte-integrations/connectors/source-microsoft-onedrive/source_microsoft_onedrive/__init__.py
  airbyte-integrations/connectors/source-microsoft-onedrive/source_microsoft_onedrive/schemas/TODO.md
  airbyte-integrations/connectors/source-microsoft-onedrive/source_microsoft_onedrive/schemas/customers.json
  airbyte-integrations/connectors/source-microsoft-onedrive/source_microsoft_onedrive/schemas/employees.json
  airbyte-integrations/connectors/source-microsoft-onedrive/source_microsoft_onedrive/source.py
  airbyte-integrations/connectors/source-microsoft-onedrive/source_microsoft_onedrive/spec.py
  airbyte-integrations/connectors/source-microsoft-onedrive/source_microsoft_onedrive/stream_reader.py
  airbyte-integrations/connectors/source-microsoft-onedrive/unit_tests/__init__.py
  airbyte-integrations/connectors/source-microsoft-onedrive/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-microsoft-onedrive/unit_tests/test_source.py
  airbyte-integrations/connectors/source-microsoft-onedrive/unit_tests/test_streams.py
Labels: area/connectors

Move install scripts to airbyte-ci
  Makefile
  airbyte-ci/bin/airbyte_ci_check.sh
  airbyte-ci/bin/airbyte_ci_clean.sh
  airbyte-ci/bin/airbyte_ci_dev_install.sh
  airbyte-ci/bin/airbyte_ci_install.sh
  airbyte-ci/connectors/pipelines/README.md
Labels: none

Update implementation-guide.md (#32625)
  docs/enterprise-setup/self-managed/README.md
  docs/enterprise-setup/self-managed/implementation-guide.md
  docs/enterprise-setup/self-managed/sso.md
  docusaurus/sidebars.js
Labels: area/documentation

Update implementation-guide.md (#32625)
  docs/enterprise-setup/self-managed/README.md
  docs/enterprise-setup/self-managed/implementation-guide.md
  docs/enterprise-setup/self-managed/sso.md
  docusaurus/sidebars.js
Labels: area/documentation

java-cdk: introduce TestDatabase
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/db/MySqlUtils.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/db/PostgresUtils.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/db/factory/DataSourceFactory.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/base/ssh/SshBastionContainer.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/AirbyteDebeziumHandler.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/DebeziumRecordIterator.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/RecordWaitTimeUtil.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/java/io/airbyte/cdk/integrations/debezium/internals/DebeziumRecordIteratorTest.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/java/io/airbyte/cdk/integrations/debezium/internals/FirstRecordWaitTimeUtilTest.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/java/io/airbyte/cdk/integrations/debezium/internals/RecordWaitTimeUtilTest.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/java/io/airbyte/cdk/integrations/debezium/CdcSourceTest.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/java/io/airbyte/cdk/integrations/source/jdbc/test/JdbcSourceAcceptanceTest.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/java/io/airbyte/cdk/testutils/ContainerFactory.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/java/io/airbyte/cdk/testutils/PostgresTestDatabase.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/java/io/airbyte/cdk/testutils/TestDatabase.java
  build.gradle
  buildSrc/src/main/groovy/airbyte-java-connector.gradle
Labels: CDK

fix format
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/db/factory/DataSourceFactory.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/java/io/airbyte/cdk/testutils/TestDatabase.java
Labels: CDK

added logging for start date
  airbyte-integrations/connectors/source-pinterest/source_pinterest/source.py
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_source.py
Labels: area/connectors

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-pinterest/source_pinterest/reports/reports.py
  airbyte-integrations/connectors/source-pinterest/source_pinterest/source.py
Labels: area/connectors

revert changes
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
Labels: area/connectors

revert changes
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
Labels: area/connectors

:tada: Source Pinterest add custom resports (#32601)
  airbyte-integrations/connectors/source-pinterest/acceptance-test-config.yml
  airbyte-integrations/connectors/source-pinterest/integration_tests/config_custom_report.json
  airbyte-integrations/connectors/source-pinterest/integration_tests/configured_catalog_custom_report.json
  airbyte-integrations/connectors/source-pinterest/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  airbyte-integrations/connectors/source-pinterest/source_pinterest/reports/reports.py
  airbyte-integrations/connectors/source-pinterest/source_pinterest/source.py
  airbyte-integrations/connectors/source-pinterest/source_pinterest/spec.json
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_reports.py
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_source.py
  docs/integrations/sources/pinterest.md
Labels: area/connectors, area/documentation

:tada: Source Pinterest add custom resports (#32601)
  airbyte-integrations/connectors/source-pinterest/acceptance-test-config.yml
  airbyte-integrations/connectors/source-pinterest/integration_tests/config_custom_report.json
  airbyte-integrations/connectors/source-pinterest/integration_tests/configured_catalog_custom_report.json
  airbyte-integrations/connectors/source-pinterest/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  airbyte-integrations/connectors/source-pinterest/source_pinterest/reports/reports.py
  airbyte-integrations/connectors/source-pinterest/source_pinterest/source.py
  airbyte-integrations/connectors/source-pinterest/source_pinterest/spec.json
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_reports.py
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_source.py
  docs/integrations/sources/pinterest.md
Labels: area/connectors, area/documentation

test fixes
  airbyte-cdk/java/airbyte-cdk/core/build.gradle
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/db/factory/DataSourceFactory.java
  airbyte-cdk/java/airbyte-cdk/core/src/test/java/io/airbyte/cdk/db/factory/DataSourceFactoryTest.java
Labels: CDK

Move to auto_update.py
  airbyte-ci/connectors/pipelines/pipelines/cli/airbyte_ci.py
  airbyte-ci/connectors/pipelines/pipelines/cli/auto_update.py
Labels: none

Format
  .github/actions/run-dagger-pipeline/action.yml
  airbyte-ci/connectors/pipelines/pipelines/cli/airbyte_ci.py
  airbyte-ci/connectors/pipelines/pipelines/cli/auto_update.py
Labels: none

make initial setup time configurable
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/db/jdbc/JdbcUtils.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/mysql/MySqlDebeziumStateUtil.java
Labels: CDK

🐛 Source Amazon Seller Partner: remove `max_wait_seconds` from spec (#32462)
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/setup.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_finance_streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_order_items_stream.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_reports_stream_sales_and_traffic.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_reports_streams_settlement_report.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_transform_function.py
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/connectors, area/documentation

🐛 Source Amazon Seller Partner: remove `max_wait_seconds` from spec (#32462)
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/setup.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_finance_streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_order_items_stream.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_reports_stream_sales_and_traffic.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_reports_streams_settlement_report.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_transform_function.py
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/connectors, area/documentation

fix json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/coupon.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/invoice.json
Labels: area/connectors

add new field business_entity_id
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/invoice.json
Labels: area/connectors

update doc
  docs/integrations/sources/chargebee.md
Labels: area/documentation

update version dockerImageTag metadata
  airbyte-integrations/connectors/source-chargebee/metadata.yaml
Labels: area/connectors

update version
  docs/integrations/sources/chargebee.md
Labels: area/documentation

add new fields
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/addon.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/coupon.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/credit_note.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/customer.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/event.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/invoice.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/item.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/order.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/payment_source.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/plan.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/promotional_credit.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/subscription.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/transaction.json
  docs/integrations/sources/chargebee.md
Labels: area/connectors, area/documentation

update cloud requirements
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation

Use existing table if it fits
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGenerator.java
Labels: area/connectors

Update Cloud Docs (#32539)
  docs/cloud/core-concepts.md
  docs/cloud/getting-started-with-airbyte-cloud.md
  docs/cloud/managing-airbyte-cloud/configuring-connections.md
  docs/cloud/managing-airbyte-cloud/manage-airbyte-cloud-notifications.md
  docs/cloud/managing-airbyte-cloud/manage-airbyte-cloud-workspace.md
  docs/cloud/managing-airbyte-cloud/manage-connection-state.md
  docs/cloud/managing-airbyte-cloud/manage-credits.md
  docs/cloud/managing-airbyte-cloud/manage-schema-changes.md
  docs/cloud/managing-airbyte-cloud/review-sync-history.md
  docs/cloud/managing-airbyte-cloud/understand-airbyte-cloud-limits.md
  docs/integrations/destinations/firestore.md
Labels: area/documentation

Update Cloud Docs (#32539)
  docs/cloud/core-concepts.md
  docs/cloud/getting-started-with-airbyte-cloud.md
  docs/cloud/managing-airbyte-cloud/configuring-connections.md
  docs/cloud/managing-airbyte-cloud/manage-airbyte-cloud-notifications.md
  docs/cloud/managing-airbyte-cloud/manage-airbyte-cloud-workspace.md
  docs/cloud/managing-airbyte-cloud/manage-connection-state.md
  docs/cloud/managing-airbyte-cloud/manage-credits.md
  docs/cloud/managing-airbyte-cloud/manage-schema-changes.md
  docs/cloud/managing-airbyte-cloud/review-sync-history.md
  docs/cloud/managing-airbyte-cloud/understand-airbyte-cloud-limits.md
  docs/integrations/destinations/firestore.md
Labels: area/documentation

Reinstate Pardot source connector doc (#32579)
  docs/integrations/sources/pardot.md
Labels: area/documentation

Reinstate Pardot source connector doc (#32579)
  docs/integrations/sources/pardot.md
Labels: area/documentation

toggle cdk local
  airbyte-integrations/connectors/source-mysql/build.gradle
Labels: area/connectors

strict encrypt mysql
  airbyte-integrations/connectors/source-mysql-strict-encrypt/build.gradle
Labels: area/connectors

Source Amazon Seller Partner: add test for report options
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_source.py
Labels: area/connectors
