Repository airbytehq/airbyte, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api, area/connectors, area/documentation, area/octavia-cli, CDK, normalization

.github/labeler.yml:

# Union of api, connectors, documentation, octavia-cli, CDK and normalization.
area/api:
  - airbyte-api/*
  - airbyte-api/**/*

area/connectors:
  - airbyte-integrations/connectors/*
  - airbyte-integrations/connectors/**/*

area/documentation:
  - docs/*
  - docs/**/*

area/octavia-cli:
  - octavia-cli/*
  - octavia-cli/**/*

CDK:
  - airbyte-cdk/*
  - airbyte-cdk/**/*

normalization:
  - airbyte-integrations/bases/base-normalization/*
  - airbyte-integrations/bases/base-normalization/**/*

wip
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/MySqlStrictEncryptJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test/resources/expected_cloud_spec.json
  airbyte-integrations/connectors/source-mysql/src/test/resources/expected_oss_spec.json
Labels: area/connectors

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
Labels: area/connectors

Make GET_V2_SETTLEMENT_REPORT_DATA_FLAT_FILE stream incremental
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_incremental.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/future_state.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/connectors, area/documentation

Add test for DatetimeTransformerMixin
  airbyte-integrations/connectors/source-instagram/source_instagram/streams.py
  airbyte-integrations/connectors/source-instagram/unit_tests/conftest.py
  airbyte-integrations/connectors/source-instagram/unit_tests/test_source.py
  airbyte-integrations/connectors/source-instagram/unit_tests/test_streams.py
Labels: area/connectors

fix
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/partition_enqueuer.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_partition_enqueuer.py
Labels: CDK

upd expected records
  airbyte-integrations/connectors/source-stripe/integration_tests/expected_records.jsonl
Labels: area/connectors

Removes print statements
  airbyte-integrations/connectors/source-twilio/unit_tests/test_streams.py
Labels: area/connectors

🚨🚨✨ Source Instagram: Add primary keys for UserLifetimeInsights and UserInsights; add airbyte_type to timestamp fields (#32500)
  airbyte-integrations/connectors/source-instagram/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/media.json
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/stories.json
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/user_insights.json
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/user_lifetime_insights.json
  airbyte-integrations/connectors/source-instagram/source_instagram/streams.py
  airbyte-integrations/connectors/source-instagram/unit_tests/conftest.py
  airbyte-integrations/connectors/source-instagram/unit_tests/test_source.py
  airbyte-integrations/connectors/source-instagram/unit_tests/test_streams.py
  docs/integrations/sources/instagram-migrations.md
  docs/integrations/sources/instagram.md
Labels: area/connectors, area/documentation

🚨🚨✨ Source Instagram: Add primary keys for UserLifetimeInsights and UserInsights; add airbyte_type to timestamp fields (#32500)
  airbyte-integrations/connectors/source-instagram/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/media.json
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/stories.json
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/user_insights.json
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/user_lifetime_insights.json
  airbyte-integrations/connectors/source-instagram/source_instagram/streams.py
  airbyte-integrations/connectors/source-instagram/unit_tests/conftest.py
  airbyte-integrations/connectors/source-instagram/unit_tests/test_source.py
  airbyte-integrations/connectors/source-instagram/unit_tests/test_streams.py
  docs/integrations/sources/instagram-migrations.md
  docs/integrations/sources/instagram.md
Labels: area/connectors, area/documentation

Source Github: fix expected records
  airbyte-integrations/connectors/source-github/integration_tests/expected_records.jsonl
Labels: area/connectors

ping proxy test
  airbyte-ci/connectors/pipelines/pipelines/dagger/actions/system/docker.py
Labels: none

Source Hubspot: fix expected records
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.jsonl
Labels: area/connectors

Source Amazon Seller Partner: fix stream report options
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
Labels: area/connectors

use custom binary in connectors tests
  .github/workflows/connectors_tests.yml
Labels: none

wip
  airbyte-integrations/connectors/source-google-drive/source_google_drive/stream_reader.py
Labels: area/connectors

Source Bing Ads: fix expected records
  airbyte-integrations/connectors/source-bing-ads/integration_tests/expected_records.jsonl
Labels: area/connectors

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
Labels: area/connectors

improve documentation
  docs/integrations/destinations/pinecone.md
Labels: area/documentation

Source Amazon Seller Partner: add test for report options
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_source.py
Labels: area/connectors

improve documentation
  airbyte-integrations/connectors/destination-pinecone/destination_pinecone/config.py
  airbyte-integrations/connectors/destination-pinecone/integration_tests/spec.json
  docs/integrations/destinations/pinecone.md
Labels: area/connectors, area/documentation

Source Bing Ads: unpin version (#32643)
  airbyte-integrations/connectors/source-bing-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
Labels: area/connectors

Source Bing Ads: unpin version (#32643)
  airbyte-integrations/connectors/source-bing-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
Labels: area/connectors

get read working with basic pagination
  airbyte-integrations/connectors/source-netsuite-odbc/source_netsuite_odbc/discover_utils.py
  airbyte-integrations/connectors/source-netsuite-odbc/source_netsuite_odbc/reader_utils.py
  airbyte-integrations/connectors/source-netsuite-odbc/source_netsuite_odbc/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-netsuite-odbc/source_netsuite_odbc/source.py
Labels: area/connectors

Source Mailchimp: Handle empty fields in Reports stream (#32543)
  airbyte-integrations/connectors/source-mailchimp/metadata.yaml
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/reports.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/streams.py
  airbyte-integrations/connectors/source-mailchimp/unit_tests/test_streams.py
  docs/integrations/sources/mailchimp.md
Labels: area/connectors, area/documentation

Source Mailchimp: Handle empty fields in Reports stream (#32543)
  airbyte-integrations/connectors/source-mailchimp/metadata.yaml
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/reports.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/streams.py
  airbyte-integrations/connectors/source-mailchimp/unit_tests/test_streams.py
  docs/integrations/sources/mailchimp.md
Labels: area/connectors, area/documentation

CU-866b1ffma - 前端开发 - DA20231112-079 - Role tooltip
  airbyte-webapp/src/components/EntityTable/ConnectionTable.tsx
  airbyte-webapp/src/components/icons/QuestionIcon.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/locales/zh.json
  airbyte-webapp/src/pages/SettingsPage/pages/UserManagementPage/components/UserTable.tsx
Labels: none

add test, use super methods
  airbyte-integrations/connectors/source-redshift/src/main/java/io/airbyte/integrations/source/redshift/RedshiftSource.java
  airbyte-integrations/connectors/source-redshift/src/main/java/io/airbyte/integrations/source/redshift/RedshiftSourceOperations.java
  airbyte-integrations/connectors/source-redshift/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/RedshiftSourceOperationsTest.java
Labels: area/connectors

actually exercise the class
  airbyte-integrations/connectors/source-redshift/src/main/java/io/airbyte/integrations/source/redshift/RedshiftSourceOperations.java
  airbyte-integrations/connectors/source-redshift/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/RedshiftSourceOperationsTest.java
Labels: area/connectors

another update of expected records
  airbyte-integrations/connectors/source-stripe/integration_tests/expected_records.jsonl
Labels: area/connectors

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-redshift/src/main/java/io/airbyte/integrations/source/redshift/RedshiftSourceOperations.java
  airbyte-integrations/connectors/source-redshift/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/RedshiftSourceOperationsTest.java
Labels: area/connectors

Vector DBs: Mention langchain in docs (#32501)
  docs/integrations/destinations/chroma.md
  docs/integrations/destinations/milvus.md
  docs/integrations/destinations/pinecone.md
  docs/integrations/destinations/qdrant.md
  docs/integrations/destinations/weaviate.md
Labels: area/documentation

Vector DBs: Mention langchain in docs (#32501)
  docs/integrations/destinations/chroma.md
  docs/integrations/destinations/milvus.md
  docs/integrations/destinations/pinecone.md
  docs/integrations/destinations/qdrant.md
  docs/integrations/destinations/weaviate.md
Labels: area/documentation

changelog
  docs/integrations/sources/redshift.md
Labels: area/documentation

Remove more logging
  airbyte-integrations/connectors/destination-snowflake-bulk/src/main/java/io/airbyte/integrations/destination/snowflake_bulk/BulkConsumer.java
Labels: area/connectors

:bug: Source Stripe: update availability strategy (#32638)
  airbyte-integrations/connectors/source-stripe/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/source_stripe/availability_strategy.py
  airbyte-integrations/connectors/source-stripe/source_stripe/stream_helpers.py
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_availability_strategy.py
  docs/integrations/sources/stripe.md
Labels: area/connectors, area/documentation

:bug: Source Stripe: update availability strategy (#32638)
  airbyte-integrations/connectors/source-stripe/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/source_stripe/availability_strategy.py
  airbyte-integrations/connectors/source-stripe/source_stripe/stream_helpers.py
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_availability_strategy.py
  docs/integrations/sources/stripe.md
Labels: area/connectors, area/documentation

better start_date management
  airbyte-integrations/connectors/source-pinterest/source_pinterest/reports/reports.py
  airbyte-integrations/connectors/source-pinterest/source_pinterest/source.py
Labels: area/connectors

Updated streams for tesorio
  airbyte-integrations/connectors/source-pendo-python/source_pendo_python/streams.py
Labels: area/connectors

Just replace the table
  airbyte-integrations/connectors/destination-snowflake-bulk/src/main/java/io/airbyte/integrations/destination/snowflake_bulk/BulkConsumer.java
Labels: area/connectors

JDBC sources: improve timestamptz handling (#32616)
  airbyte-integrations/connectors/source-redshift/src/main/java/io/airbyte/integrations/source/redshift/RedshiftSource.java
  airbyte-integrations/connectors/source-redshift/src/main/java/io/airbyte/integrations/source/redshift/RedshiftSourceOperations.java
  airbyte-integrations/connectors/source-redshift/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/RedshiftSourceOperationsTest.java
  docs/integrations/sources/redshift.md
Labels: area/connectors, area/documentation
