Repository airbytehq/airbyte, changes with the labels that .github/labeler.yml gives for each.
All labels: area/platform, area/frontend, area/api, area/server, area/protocol, area/worker, kubernetes, area/connectors, area/documentation, CDK, normalization

Revert "some change in global var"
  airbyte-db/db-lib/src/main/java/io/airbyte/db/mongodb/MongoUtils.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io.airbyte.integrations.source.mongodb/MongoDbSource.java
Labels: area/connectors

Remove date-time in connectors.md because it looks like a change :/ (#23372)
  airbyte-config/specs/src/main/java/io/airbyte/config/specs/ConnectorMarkdownGenerator.java
Labels: none

Remove date-time in connectors.md because it looks like a change :/ (#23372)
  airbyte-config/specs/src/main/java/io/airbyte/config/specs/ConnectorMarkdownGenerator.java
Labels: none

Remove date-time in connectors.md because it looks like a change :/ (#23372)
  airbyte-config/specs/src/main/java/io/airbyte/config/specs/ConnectorMarkdownGenerator.java
Labels: none

update object map
  objects/14/b0fc24d29a2a1fd7167f3daff3c92bc739b983
  objects/dc/6f8aa5787f8026515a0b37f1e7eb3730b6deb3
Labels: none

update object map
  objects/d3/11442818a27d58a26a992762b968d46de0fe5f
  objects/d7/1adb70cf23e636c9fca1c7571abe8a755702ef
Labels: none

update object map
  objects/3a/413937781b06b7c460a10d01f7283b342cc3c6
  objects/68/eb5efd118d9f0ce3cd7f0dddfbc9fcf017ea04
Labels: none

[ISSUE #22438] adding tests
  airbyte-cdk/python/Dockerfile
  airbyte-cdk/python/source_declarative_manifest/README.md
  airbyte-cdk/python/source_declarative_manifest/__init__.py
  airbyte-cdk/python/source_declarative_manifest/main.py
  airbyte-cdk/python/unit_tests/test_source_declarative_manifest.py
Labels: CDK

update object map
  objects/f0/d0242f0be183b5de01fdf06ee540207919f8e9
Labels: none

return sqlite file
  airbyte-integrations/connectors/source-tiktok-marketing/advertiser_ids.sqlite
Labels: area/connectors

update object map
  objects/f1/a607bee2187bc363451e523bdc21ff716cf908
Labels: none

update object map
  objects/61/395920f211b0138d65226125e5682259aef414
Labels: none

update object map
  objects/62/12e545dc3a0b317aeb52f59aa387421984b052
Labels: none

update object map
  objects/fe/2a819f6c3a2f8c11cd7462a1bbfde187a1cd11
Labels: none

remove generated date from connectors.md
  connectors.md
Labels: none

update object map
  objects/aa/e9e75b427c9c50b4ee22159eaf037f73854275
Labels: none

Bumps docker version and corrects changelog date.
  airbyte-integrations/connectors/destination-s3/Dockerfile
  docs/integrations/destinations/s3.md
Labels: area/connectors, area/documentation

update object map
  objects/d4/165b0aed494e84409bb93375a66d8be179c696
Labels: none

remove generated date from connectors.md (#23392)
  connectors.md
Labels: none

remove generated date from connectors.md (#23392)
  connectors.md
Labels: none

remove generated date from connectors.md (#23392)
  connectors.md
Labels: none

update object map
  objects/cc/91aed648c7190f1eae1afa65862d56aa0485e2
Labels: none

formatting
  connectors.md
Labels: none

update object map
  objects/f7/8e6a17464efcd25bd41c8b9275997dc4251b19
Labels: none

update object map
  objects/06/9d06a022bb0e7b1ecfd347c7cf748e25c556c7
  objects/2f/425850e72e1825a903dcf95c6949b8236b2519
  objects/7c/1bb1d81a56ba551516ee283ea1b4796439f12b
  objects/ce/8cae433242701998bc6f3b87ffc37eb98b6c19
Labels: none

regenerate to fix formatting
  connectors.md
Labels: none

update object map
  objects/17/4bfa877b1c46cf13f2a48a718c4a1c411e4ec9
Labels: none

regenerate to fix formatting (#23393)
  connectors.md
Labels: none

regenerate to fix formatting (#23393)
  connectors.md
Labels: none

regenerate to fix formatting (#23393)
  connectors.md
Labels: none

connectors.md modified
  connectors.md
Labels: none

update object map
  objects/a0/1c1a9f6f489c8c969a7a15a94b3169a2206f3e
  objects/eb/78ecfba99300eca4714005f1c5445ea102140e
Labels: none

update object map
  objects/73/a367ce7c32324c165dfe7ac0e3c62f4fdf37aa
  objects/81/352ad42fc5bcab39afc3ed7fcaa2b097de8db7
  objects/93/714b048e3195a53cd6d58cc1ef1565afea17e0
Labels: none

connectors.md updated
  connectors.md
Labels: none

update object map
  objects/27/cc4bf8ccb2d73fe97faa947e6029f6ed95365d
  objects/86/ea803df141722c248220719bab743c02b0ffbf
Labels: none

auto-bump connector version
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
Labels: none

update object map
  objects/7f/0ee59f82a25e09b05a1bb564bbebf0960c3098
Labels: none

update object map
  objects/d9/4c426e5c746a6763b83c7595202876ae4a93bb
Labels: none

fix formatting and update source-acceptance-test to connector-acceptance-test
  airbyte-integrations/connectors/source-unleash/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-unleash/build.gradle
  airbyte-integrations/connectors/source-unleash/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-unleash/main.py
  airbyte-integrations/connectors/source-unleash/requirements.txt
  airbyte-integrations/connectors/source-unleash/setup.py
  airbyte-integrations/connectors/source-unleash/source_unleash/source.py
Labels: area/connectors

Source Facebook Pages: remove extra component
  airbyte-integrations/connectors/source-facebook-pages/source_facebook_pages/components.py
  airbyte-integrations/connectors/source-facebook-pages/source_facebook_pages/manifest.yaml
  airbyte-integrations/connectors/source-facebook-pages/unit_tests/test_nested_dpath_extractor.py
Labels: area/connectors

.github/labeler.yml:

# union of frontend, api, server, scheduler, protocol, worker, kubernetes
area/platform:
  - airbyte-api/*
  - airbyte-api/**/*
  - airbyte-persistence/*
  - airbyte-persistence/**/*
  - airbyte-protocol/*
  - airbyte-protocol/**/*
  - airbyte-server/*
  - airbyte-server/**/*
  - airbyte-workers/*
  - airbyte-workers/**/*
  - kube/*
  - kube/**/*
  - charts/*
  - charts/**/*

area/frontend:
  - airbyte-webapp/*
  - airbyte-webapp/**/*
  - airbyte-webapp-e2e-tests/*
  - airbyte-webapp-e2e-tests/**/*

area/api:
  - airbyte-api/*
  - airbyte-api/**/*

area/server:
  - airbyte-server/*
  - airbyte-server/**/*

area/protocol:
  - airbyte-protocol/*
  - airbyte-protocol/**/*

area/worker:
  - airbyte-workers/*
  - airbyte-workers/**/*

kubernetes:
  - kube/*
  - kube/**/*
  - charts/*
  - charts/**/*

area/connectors:
  - airbyte-integrations/connectors/*
  - airbyte-integrations/connectors/**/*
  - airbyte-integrations/builds.md

area/documentation:
  - docs/*
  - docs/**/*

CDK:
  - airbyte-cdk/*
  - airbyte-cdk/**/*

normalization:
  - airbyte-integrations/bases/base-normalization/*
  - airbyte-integrations/bases/base-normalization/**/*
