Repository airbytehq/airbyte, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api, area/connectors, area/documentation, area/octavia-cli, CDK, normalization

Update AvroFormat.java
  airbyte-integrations/connectors/source-kafka/src/main/java/io/airbyte/integrations/source/kafka/format/AvroFormat.java
Labels: area/connectors

Update AvroFormat.java
  airbyte-integrations/connectors/source-kafka/src/main/java/io/airbyte/integrations/source/kafka/format/AvroFormat.java
Labels: area/connectors

cloud docs
  docs/cloud/core-concepts.md
  docs/cloud/getting-started-with-airbyte-cloud.md
  docs/cloud/managing-airbyte-cloud/configuring-connections.md
  docs/cloud/managing-airbyte-cloud/manage-airbyte-cloud-notifications.md
  docs/cloud/managing-airbyte-cloud/manage-airbyte-cloud-workspace.md
  docs/cloud/managing-airbyte-cloud/manage-connection-state.md
  docs/cloud/managing-airbyte-cloud/manage-credits.md
  docs/cloud/managing-airbyte-cloud/manage-schema-changes.md
  docs/cloud/managing-airbyte-cloud/review-sync-history.md
  docs/cloud/managing-airbyte-cloud/understand-airbyte-cloud-limits.md
  docs/integrations/destinations/firestore.md
Labels: area/documentation

CU-85zu4abdw - Webapp responsiveness
  airbyte-webapp/src/components/ConnectionStep/ConnectionStep.tsx
  airbyte-webapp/src/components/ConnectionStep/components/StepBox.tsx
  airbyte-webapp/src/components/StepsMenu/StepsMenu.tsx
  airbyte-webapp/src/views/Connection/CatalogTree/styles.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/components/SyncCatalogField.module.scss
Labels: none

Source Bing Ads: refactor
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/bulk_streams.py
Labels: area/connectors

Source Bing Ads: fix for summary report type
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/report_streams.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_source.py
Labels: area/connectors

Updated source version
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
Labels: area/connectors

Source Bing Ads: refactor tests
  airbyte-integrations/connectors/source-bing-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_bulk_streams.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_source.py
Labels: area/connectors

added skipping to configs; raised the error in parsers
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/avro_format.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/csv_format.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/parquet_format.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/avro_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/csv_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/jsonl_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/parquet_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/default_file_based_stream.py
Labels: CDK

Update docs for Pinterest
  docs/integrations/sources/pinterest.md
Labels: area/documentation

updated expected records for tiket mertics stream
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/expected_records.jsonl
Labels: area/connectors

Update changelog
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation

Source Bing Ads: add tests
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/bulk_streams.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_bulk_streams.py
Labels: area/connectors

Source Zendesk Support: connector health: updated expected records for ticket mertics stream (#32540)
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/expected_records.jsonl
Labels: area/connectors

Source Zendesk Support: connector health: updated expected records for ticket mertics stream (#32540)
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/expected_records.jsonl
Labels: area/connectors

Source Klaviyo: updated events expected records (#32504)
  airbyte-integrations/connectors/source-klaviyo/integration_tests/expected_records.jsonl
Labels: area/connectors

Source Klaviyo: updated events expected records (#32504)
  airbyte-integrations/connectors/source-klaviyo/integration_tests/expected_records.jsonl
Labels: area/connectors

add option to not store text
  airbyte-integrations/connectors/destination-pinecone/destination_pinecone/config.py
  airbyte-integrations/connectors/destination-pinecone/destination_pinecone/indexer.py
  airbyte-integrations/connectors/destination-pinecone/integration_tests/spec.json
  airbyte-integrations/connectors/destination-pinecone/metadata.yaml
  airbyte-integrations/connectors/destination-pinecone/unit_tests/pinecone_indexer_test.py
  docs/integrations/destinations/pinecone.md
Labels: area/connectors, area/documentation

prepare release
  docs/integrations/destinations/pinecone.md
Labels: area/documentation

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/destination-pinecone/destination_pinecone/config.py
Labels: area/connectors

Fix generating error using _try_get_error based on list of errors
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/http_requester.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/test_http_requester.py
Labels: CDK

Source Bing Ads: add tests
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/bulk_streams.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_bulk_streams.py
Labels: area/connectors

airbyte-ci: use binary in CI
  .github/actions/run-dagger-pipeline/action.yml
Labels: none

use connectors.airbyte.com url
  .github/actions/run-dagger-pipeline/action.yml
Labels: none

improve folder input for Google Drive connector
  airbyte-integrations/connectors/source-google-drive/source_google_drive/spec.py
  airbyte-integrations/connectors/source-google-drive/source_google_drive/stream_reader.py
  airbyte-integrations/connectors/source-google-drive/source_google_drive/utils.py
  airbyte-integrations/connectors/source-google-drive/unit_tests/test_utils.py
Labels: area/connectors

prepare release
  airbyte-integrations/connectors/source-google-drive/metadata.yaml
  docs/integrations/sources/google-drive.md
Labels: area/connectors, area/documentation

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-google-drive/source_google_drive/spec.py
  airbyte-integrations/connectors/source-google-drive/source_google_drive/stream_reader.py
  airbyte-integrations/connectors/source-google-drive/source_google_drive/utils.py
  airbyte-integrations/connectors/source-google-drive/unit_tests/test_utils.py
Labels: area/connectors

airbyte-ci: use binary in CI (#32497)
  .github/actions/run-dagger-pipeline/action.yml
Labels: none

airbyte-ci: use binary in CI (#32497)
  .github/actions/run-dagger-pipeline/action.yml
Labels: none

✨ Source Instagram: Marked start_date as optional; set max retry time to 10 minutes (#32494)
  airbyte-integrations/connectors/source-instagram/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-instagram/integration_tests/spec.json
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  airbyte-integrations/connectors/source-instagram/source_instagram/api.py
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/user_insights.json
  airbyte-integrations/connectors/source-instagram/source_instagram/source.py
  airbyte-integrations/connectors/source-instagram/source_instagram/streams.py
  airbyte-integrations/connectors/source-instagram/unit_tests/conftest.py
  airbyte-integrations/connectors/source-instagram/unit_tests/test_source.py
  airbyte-integrations/connectors/source-instagram/unit_tests/test_streams.py
  docs/integrations/sources/instagram.inapp.md
  docs/integrations/sources/instagram.md
Labels: area/connectors, area/documentation

✨ Source Instagram: Marked start_date as optional; set max retry time to 10 minutes (#32494)
  airbyte-integrations/connectors/source-instagram/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-instagram/integration_tests/spec.json
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  airbyte-integrations/connectors/source-instagram/source_instagram/api.py
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/user_insights.json
  airbyte-integrations/connectors/source-instagram/source_instagram/source.py
  airbyte-integrations/connectors/source-instagram/source_instagram/streams.py
  airbyte-integrations/connectors/source-instagram/unit_tests/conftest.py
  airbyte-integrations/connectors/source-instagram/unit_tests/test_source.py
  airbyte-integrations/connectors/source-instagram/unit_tests/test_streams.py
  docs/integrations/sources/instagram.inapp.md
  docs/integrations/sources/instagram.md
Labels: area/connectors, area/documentation

updated SAT
  airbyte-integrations/connectors/source-pinterest/acceptance-test-config.yml
  airbyte-integrations/connectors/source-pinterest/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_source.py
Labels: area/connectors

Source Bing Ads: update accounts schema
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/accounts.json
Labels: area/connectors

Source Bing Ads: update expected records
  airbyte-integrations/connectors/source-bing-ads/integration_tests/expected_records.jsonl
Labels: area/connectors

Source Slack: increase timeout for full refresh CAT
  airbyte-integrations/connectors/source-slack/acceptance-test-config.yml
Labels: area/connectors

:tada: Source Pinterest - new streams (#32299)
  airbyte-integrations/connectors/source-pinterest/acceptance-test-config.yml
  airbyte-integrations/connectors/source-pinterest/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  airbyte-integrations/connectors/source-pinterest/source_pinterest/reports/reports.py
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/audiences.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/board_pins.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/board_section_pins.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/catalogs.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/catalogs_feeds.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/catalogs_product_groups.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/conversion_tags.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/customer_lists.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/keywords.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/reports.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/source.py
  airbyte-integrations/connectors/source-pinterest/source_pinterest/streams.py
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_reports.py
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_source.py
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_streams.py
  docs/integrations/sources/pinterest.md
Labels: area/connectors, area/documentation

:tada: Source Pinterest - new streams (#32299)
  airbyte-integrations/connectors/source-pinterest/acceptance-test-config.yml
  airbyte-integrations/connectors/source-pinterest/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  airbyte-integrations/connectors/source-pinterest/source_pinterest/reports/reports.py
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/audiences.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/board_pins.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/board_section_pins.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/catalogs.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/catalogs_feeds.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/catalogs_product_groups.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/conversion_tags.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/customer_lists.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/keywords.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/reports.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/source.py
  airbyte-integrations/connectors/source-pinterest/source_pinterest/streams.py
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_reports.py
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_source.py
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_streams.py
  docs/integrations/sources/pinterest.md
Labels: area/connectors, area/documentation

update spec
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.json
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/connectors, area/documentation

update changelog
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation

feat: add stream stream coupons
  airbyte-integrations/connectors/source-bigcommerce/source_bigcommerce/schemas/order_coupons.json
Labels: area/connectors

.github/labeler.yml:

# Union of api, connectors, documentation, octavia-cli, CDK and normalization.
area/api:
  - airbyte-api/*
  - airbyte-api/**/*

area/connectors:
  - airbyte-integrations/connectors/*
  - airbyte-integrations/connectors/**/*

area/documentation:
  - docs/*
  - docs/**/*

area/octavia-cli:
  - octavia-cli/*
  - octavia-cli/**/*

CDK:
  - airbyte-cdk/*
  - airbyte-cdk/**/*

normalization:
  - airbyte-integrations/bases/base-normalization/*
  - airbyte-integrations/bases/base-normalization/**/*
