Repository airbytehq/airbyte, changes with the labels that .github/labeler.yml gives for each.
All labels: area/platform, team/frontend, area/api, area/server, area/protocol, area/worker, kubernetes, area/connectors, area/documentation, CDK, normalization

Revert "Fix error message with missing docs (#17014)" (#17063)
  airbyte-webapp/src/components/DocumentationPanel/DocumentationPanel.tsx
  airbyte-webapp/src/core/domain/Documentation.test.ts
  airbyte-webapp/src/core/domain/Documentation.ts
Labels: area/platform, team/frontend

Revert "Fix error message with missing docs (#17014)" (#17063)
  airbyte-webapp/src/components/DocumentationPanel/DocumentationPanel.tsx
  airbyte-webapp/src/core/domain/Documentation.test.ts
  airbyte-webapp/src/core/domain/Documentation.ts
Labels: area/platform, team/frontend

Revert "Fix error message with missing docs (#17014)" (#17063)
  airbyte-webapp/src/components/DocumentationPanel/DocumentationPanel.tsx
  airbyte-webapp/src/core/domain/Documentation.test.ts
  airbyte-webapp/src/core/domain/Documentation.ts
Labels: area/platform, team/frontend

refactored WarningMessage component
  airbyte-webapp/src/theme.ts
  airbyte-webapp/src/views/Connector/ServiceForm/components/WarningMessage.module.scss
  airbyte-webapp/src/views/Connector/ServiceForm/components/WarningMessage.tsx
Labels: area/platform, team/frontend

Fix comments
  airbyte-webapp/src/components/JobItem/components/ResetStreamDetails.module.scss
  airbyte-webapp/src/components/JobItem/components/ResetStreamDetails.tsx
  airbyte-webapp/src/components/icons/ResetIcon.tsx
  airbyte-webapp/src/locales/en.json
Labels: area/platform, team/frontend

Add DD Tests Tracing
  airbyte-workers/build.gradle
Labels: area/platform, area/worker

Bump Airbyte version from 0.40.8 to 0.40.9
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-cron/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte-bootloader/Chart.yaml
  charts/airbyte-server/Chart.yaml
  charts/airbyte-temporal/Chart.yaml
  charts/airbyte-webapp/Chart.yaml
  charts/airbyte-worker/Chart.yaml
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/platform, team/frontend, area/server, area/worker, kubernetes, area/documentation

Fix format
  airbyte-db/db-lib/src/main/java/io/airbyte/db/bigquery/BigQueryDatabase.java
Labels: none

Fix format
  airbyte-db/db-lib/src/main/java/io/airbyte/db/bigquery/BigQueryDatabase.java
Labels: none

incremental for funnels, revenue
  airbyte-integrations/connectors/source-mixpanel/acceptance-test-config.yml
  airbyte-integrations/connectors/source-mixpanel/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-mixpanel/integration_tests/configured_catalog_incremental.json
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams/base.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams/funnels.py
Labels: area/connectors

Fix format (#17066)
  airbyte-db/db-lib/src/main/java/io/airbyte/db/bigquery/BigQueryDatabase.java
Labels: none

Fix format (#17066)
  airbyte-db/db-lib/src/main/java/io/airbyte/db/bigquery/BigQueryDatabase.java
Labels: none

Fix format (#17066)
  airbyte-db/db-lib/src/main/java/io/airbyte/db/bigquery/BigQueryDatabase.java
Labels: none

.github/labeler.yml:

# union of frontend, api, server, scheduler, protocol, worker, kubernetes
area/platform:
  - airbyte-webapp/*
  - airbyte-webapp/**/*
  - airbyte-api/*
  - airbyte-api/**/*
  - airbyte-persistence/*
  - airbyte-persistence/**/*
  - airbyte-protocol/*
  - airbyte-protocol/**/*
  - airbyte-server/*
  - airbyte-server/**/*
  - airbyte-workers/*
  - airbyte-workers/**/*
  - kube/*
  - kube/**/*
  - charts/*
  - charts/**/*

team/frontend:
  - airbyte-webapp/*
  - airbyte-webapp/**/*

area/api:
  - airbyte-api/*
  - airbyte-api/**/*

area/server:
  - airbyte-server/*
  - airbyte-server/**/*

area/protocol:
  - airbyte-protocol/*
  - airbyte-protocol/**/*

area/worker:
  - airbyte-workers/*
  - airbyte-workers/**/*

kubernetes:
  - kube/*
  - kube/**/*
  - charts/*
  - charts/**/*

area/connectors:
  - airbyte-integrations/connectors/*
  - airbyte-integrations/connectors/**/*
  - airbyte-integrations/builds.md

area/documentation:
  - docs/*
  - docs/**/*

CDK:
  - airbyte-cdk/*
  - airbyte-cdk/**/*

normalization:
  - airbyte-integrations/bases/base-normalization/*
  - airbyte-integrations/bases/base-normalization/**/*
