Repository airbytehq/airbyte, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api, area/connectors, area/documentation, area/octavia-cli, CDK, normalization

.github/labeler.yml:

# Union of api, connectors, documentation, octavia-cli, CDK and normalization.
area/api:
  - airbyte-api/*
  - airbyte-api/**/*

area/connectors:
  - airbyte-integrations/connectors/*
  - airbyte-integrations/connectors/**/*

area/documentation:
  - docs/*
  - docs/**/*

area/octavia-cli:
  - octavia-cli/*
  - octavia-cli/**/*

CDK:
  - airbyte-cdk/*
  - airbyte-cdk/**/*

normalization:
  - airbyte-integrations/bases/base-normalization/*
  - airbyte-integrations/bases/base-normalization/**/*

implement overwriteFinalTable + clearLoadedAt
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGenerator.java
Labels: area/connectors

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGenerator.java
Labels: area/connectors

enable parallelism on bigquery tests
  airbyte-integrations/connectors/destination-bigquery/gradle.properties
Labels: area/connectors

enable test parallelism
  airbyte-integrations/connectors/destination-redshift/gradle.properties
Labels: area/connectors

derp
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGenerator.java
Labels: area/connectors

migrate to base image
  airbyte-integrations/connectors/source-freshdesk/Dockerfile
  airbyte-integrations/connectors/source-freshdesk/metadata.yaml
  airbyte-integrations/connectors/source-greenhouse/Dockerfile
  airbyte-integrations/connectors/source-greenhouse/metadata.yaml
  airbyte-integrations/connectors/source-iterable/Dockerfile
  airbyte-integrations/connectors/source-iterable/metadata.yaml
  airbyte-integrations/connectors/source-monday/Dockerfile
  airbyte-integrations/connectors/source-monday/metadata.yaml
  airbyte-integrations/connectors/source-snapchat-marketing/Dockerfile
  airbyte-integrations/connectors/source-snapchat-marketing/metadata.yaml
  airbyte-integrations/connectors/source-twilio/Dockerfile
  airbyte-integrations/connectors/source-twilio/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-talk/Dockerfile
  airbyte-integrations/connectors/source-zendesk-talk/metadata.yaml
Labels: area/connectors

implement v1/v2 migrator
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGenerator.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGeneratorIntegrationTest.java
Labels: area/connectors

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGenerator.java
Labels: area/connectors

fix test
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/java/io/airbyte/integrations/base/destination/typing_deduping/BaseSqlGeneratorIntegrationTest.java
Labels: CDK

remove redundant param
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/JdbcSqlOperations.java
Labels: CDK

start implementing schema change detection
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGenerator.java
Labels: area/connectors

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGenerator.java
Labels: area/connectors

test
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/db/jdbc/AbstractJdbcCompatibleSourceOperations.java
  airbyte-cdk/java/airbyte-cdk/core/src/test/java/io/airbyte/cdk/db/jdbc/AbstractJdbcCompatibleSourceOperationsTest.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/DebeziumStateDecoratingIterator.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialLoadRecordIterator.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialReadUtil.java
Labels: area/connectors, CDK

stripe: update date in changelog
  docs/integrations/sources/stripe.md
Labels: area/documentation

add schema mode to state
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbCdcInitializer.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbCdcState.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbCdcStateHandler.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/resources/spec.json
Labels: area/connectors

Add state schema flag to mismatch validation
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoDbSource.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoUtil.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/MongoUtilTest.java
Labels: area/connectors

use medium for format
  .github/workflows/format_check.yml
  .github/workflows/format_fix.yml
  .github/workflows/publish_pypi.yml
Labels: none

fix typo
  .github/workflows/connectors_tests.yml
Labels: none

airbyte-ci: use new self hosted runners (#32537)
  .github/workflows/airbyte-ci-tests.yml
  .github/workflows/cat-tests.yml
  .github/workflows/connectors_nightly_build.yml
  .github/workflows/connectors_tests.yml
  .github/workflows/connectors_weekly_build.yml
  .github/workflows/format_check.yml
  .github/workflows/format_fix.yml
  .github/workflows/metadata_service_deploy_orchestrator_dagger.yml
  .github/workflows/publish_connectors.yml
  .github/workflows/publish_pypi.yml
Labels: none

airbyte-ci: use new self hosted runners (#32537)
  .github/workflows/airbyte-ci-tests.yml
  .github/workflows/cat-tests.yml
  .github/workflows/connectors_nightly_build.yml
  .github/workflows/connectors_tests.yml
  .github/workflows/connectors_weekly_build.yml
  .github/workflows/format_check.yml
  .github/workflows/format_fix.yml
  .github/workflows/metadata_service_deploy_orchestrator_dagger.yml
  .github/workflows/publish_connectors.yml
  .github/workflows/publish_pypi.yml
Labels: none

Add connector for ironsource
  airbyte-integrations/connectors/source-ironsource/.dockerignore
  airbyte-integrations/connectors/source-ironsource/Dockerfile
  airbyte-integrations/connectors/source-ironsource/README.md
  airbyte-integrations/connectors/source-ironsource/acceptance-test-config.yml
  airbyte-integrations/connectors/source-ironsource/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-ironsource/integration_tests/__init__.py
  airbyte-integrations/connectors/source-ironsource/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-ironsource/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-ironsource/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-ironsource/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-ironsource/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-ironsource/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-ironsource/main.py
  airbyte-integrations/connectors/source-ironsource/metadata.yaml
  airbyte-integrations/connectors/source-ironsource/requirements.txt
  airbyte-integrations/connectors/source-ironsource/setup.py
  airbyte-integrations/connectors/source-ironsource/source_ironsource/__init__.py
  airbyte-integrations/connectors/source-ironsource/source_ironsource/schemas/TODO.md
  airbyte-integrations/connectors/source-ironsource/source_ironsource/schemas/creatives.json
  airbyte-integrations/connectors/source-ironsource/source_ironsource/source.py
  airbyte-integrations/connectors/source-ironsource/source_ironsource/spec.yaml
  airbyte-integrations/connectors/source-ironsource/source_ironsource/streams.py
  airbyte-integrations/connectors/source-ironsource/unit_tests/__init__.py
  airbyte-integrations/connectors/source-ironsource/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-ironsource/unit_tests/test_source.py
  airbyte-integrations/connectors/source-ironsource/unit_tests/test_streams.py
Labels: area/connectors

Add connector for applovin
  airbyte-integrations/connectors/source-applovin/.dockerignore
  airbyte-integrations/connectors/source-applovin/Dockerfile
  airbyte-integrations/connectors/source-applovin/README.md
  airbyte-integrations/connectors/source-applovin/acceptance-test-config.yml
  airbyte-integrations/connectors/source-applovin/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-applovin/bootstrap.md
  airbyte-integrations/connectors/source-applovin/build.gradle
  airbyte-integrations/connectors/source-applovin/icon.svg
  airbyte-integrations/connectors/source-applovin/integration_tests/__init__.py
  airbyte-integrations/connectors/source-applovin/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-applovin/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-applovin/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-applovin/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-applovin/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-applovin/integration_tests/invalid_config_access_token.json
  airbyte-integrations/connectors/source-applovin/integration_tests/invalid_config_oauth.json
  airbyte-integrations/connectors/source-applovin/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-applovin/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-applovin/main.py
  airbyte-integrations/connectors/source-applovin/metadata.yaml
  airbyte-integrations/connectors/source-applovin/requirements.txt
  airbyte-integrations/connectors/source-applovin/setup.py
  airbyte-integrations/connectors/source-applovin/source_applovin/__init__.py
  airbyte-integrations/connectors/source-applovin/source_applovin/schemas/TODO.md
  airbyte-integrations/connectors/source-applovin/source_applovin/schemas/campaigns.json
  airbyte-integrations/connectors/source-applovin/source_applovin/schemas/creatives.json
  airbyte-integrations/connectors/source-applovin/source_applovin/schemas/targets.json
  airbyte-integrations/connectors/source-applovin/source_applovin/source.py
  airbyte-integrations/connectors/source-applovin/source_applovin/spec.yaml
  airbyte-integrations/connectors/source-applovin/source_applovin/streams.py
  airbyte-integrations/connectors/source-applovin/unit_tests/__init__.py
  airbyte-integrations/connectors/source-applovin/unit_tests/test_source.py
  airbyte-integrations/connectors/source-applovin/unit_tests/test_streams.py
Labels: area/connectors

Add connector publishing CI for voodoo
  .circleci/config.yml
Labels: none

updated exceptions to use the AibyteTracedException
  airbyte-integrations/connectors/source-shopify/source_shopify/utils.py
Labels: area/connectors

Source Tiktok - retires on 40002
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/streams.py
Labels: area/connectors

Tiktok should import deleted ads when config parameter is present
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/streams.py
Labels: area/connectors

updated changelog and bumped the version
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/Dockerfile
Labels: CDK

fixed conflicts
  airbyte-cdk/python/Dockerfile
Labels: CDK

airbyte-ci bin release: trigger on all PRs
  .github/workflows/airbyte-ci-release.yml
Labels: none

airbyte-ci bin release: trigger on all PRs (#32590)
  .github/workflows/airbyte-ci-release.yml
Labels: none

airbyte-ci bin release: trigger on all PRs (#32590)
  .github/workflows/airbyte-ci-release.yml
Labels: none

fix branches
  .github/workflows/airbyte-ci-release.yml
Labels: none

added unexpected fields
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_INVENTORY_PLANNING_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_STORAGE_FEE_CHARGES_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_LEDGER_DETAIL_VIEW_DATA.json
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/connectors, area/documentation

updated changelog
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation

updated connector version
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/connectors, area/documentation

add start date to config
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/source.py
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/spec.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/streams.py
  airbyte-integrations/connectors/source-mailchimp/unit_tests/conftest.py
  airbyte-integrations/connectors/source-mailchimp/unit_tests/test_source.py
Labels: area/connectors

🚨🚨 Source Amazon Seller Partner: remove brand analytics reports from cloud (#32355)
  airbyte-integrations/connectors/source-amazon-seller-partner/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_get_fba_fulfillment_current_inventory_data.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_get_fba_fulfillment_inventory_adjustments_data.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_get_fba_fulfillment_inventory_receipts_data.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_get_fba_fulfillment_inventory_summary_data.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_get_fba_fulfillment_monthly_inventory_data.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_FULFILLMENT_CURRENT_INVENTORY_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_FULFILLMENT_INVENTORY_ADJUSTMENTS_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_FULFILLMENT_INVENTORY_RECEIPTS_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_FULFILLMENT_INVENTORY_SUMMARY_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_FULFILLMENT_MONTHLY_INVENTORY_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  docs/integrations/sources/amazon-seller-partner-migrations.md
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/connectors, area/documentation

🚨🚨 Source Amazon Seller Partner: remove brand analytics reports from cloud (#32355)
  airbyte-integrations/connectors/source-amazon-seller-partner/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_get_fba_fulfillment_current_inventory_data.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_get_fba_fulfillment_inventory_adjustments_data.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_get_fba_fulfillment_inventory_receipts_data.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_get_fba_fulfillment_inventory_summary_data.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_get_fba_fulfillment_monthly_inventory_data.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_FULFILLMENT_CURRENT_INVENTORY_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_FULFILLMENT_INVENTORY_ADJUSTMENTS_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_FULFILLMENT_INVENTORY_RECEIPTS_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_FULFILLMENT_INVENTORY_SUMMARY_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_FULFILLMENT_MONTHLY_INVENTORY_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  docs/integrations/sources/amazon-seller-partner-migrations.md
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/connectors, area/documentation

Source Amazon Seller Partner: remove extra dependencies
  airbyte-integrations/connectors/source-amazon-seller-partner/setup.py
Labels: area/connectors

Source Amazon Seller Partner: update docs
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/connectors, area/documentation
