Repository airbytehq/airbyte, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api, area/connectors, area/documentation, area/octavia-cli, CDK, normalization

Update airbyte-integrations/connectors/source-twitter/source_twitter/manifest.yaml
  airbyte-integrations/connectors/source-twitter/source_twitter/manifest.yaml
Labels: area/connectors

added more info, fixed SAT
  airbyte-integrations/connectors/source-pinterest/acceptance-test-config.yml
  airbyte-integrations/connectors/source-pinterest/source_pinterest/source.py
Labels: area/connectors

update connector parsing logic
  .github/workflows/connector-performance-command.yml
Labels: none

2
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/source/jdbc/JdbcSSLConnectionUtils.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
Labels: area/connectors, CDK

remove base prefix
  .github/workflows/connector-performance-command.yml
Labels: none

upd changelog
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation

Update contact-support.md
  docs/operator-guides/contact-support.md
Labels: area/documentation

Update contact-support.md
  docs/operator-guides/contact-support.md
Labels: area/documentation

updated docs
  docs/integrations/sources/pinterest.md
Labels: area/documentation

:sparkles: Source Bing Ads: custom reports (#32306)
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/client.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/source.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/spec.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/streams.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_client.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_source.py
  docs/integrations/sources/bing-ads.md
Labels: area/connectors, area/documentation

:sparkles: Source Bing Ads: custom reports (#32306)
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/client.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/source.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/spec.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/streams.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_client.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_source.py
  docs/integrations/sources/bing-ads.md
Labels: area/connectors, area/documentation

Source Mailchimp: Add expected records (#32226)
  airbyte-integrations/connectors/source-mailchimp/acceptance-test-config.yml
  airbyte-integrations/connectors/source-mailchimp/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-mailchimp/integration_tests/state.json
  airbyte-integrations/connectors/source-mailchimp/metadata.yaml
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/reports.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/campaignType.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/streams.py
  docs/integrations/sources/mailchimp.md
Labels: area/connectors, area/documentation

Source Mailchimp: Add expected records (#32226)
  airbyte-integrations/connectors/source-mailchimp/acceptance-test-config.yml
  airbyte-integrations/connectors/source-mailchimp/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-mailchimp/integration_tests/state.json
  airbyte-integrations/connectors/source-mailchimp/metadata.yaml
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/reports.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/campaignType.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/streams.py
  docs/integrations/sources/mailchimp.md
Labels: area/connectors, area/documentation

Update contact-support.md
  docs/operator-guides/contact-support.md
Labels: area/documentation

Update contact-support.md
  docs/operator-guides/contact-support.md
Labels: area/documentation

🐛 Source Mailchimp: Connection Check Error Handling (#32466)
  airbyte-integrations/connectors/source-mailchimp/metadata.yaml
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/source.py
  airbyte-integrations/connectors/source-mailchimp/unit_tests/test_source.py
  docs/integrations/sources/mailchimp.md
Labels: area/connectors, area/documentation

🐛 Source Mailchimp: Connection Check Error Handling (#32466)
  airbyte-integrations/connectors/source-mailchimp/metadata.yaml
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/source.py
  airbyte-integrations/connectors/source-mailchimp/unit_tests/test_source.py
  docs/integrations/sources/mailchimp.md
Labels: area/connectors, area/documentation

refactor JdbcSslUtils
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/source/jdbc/JdbcSSLConnectionUtils.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
Labels: area/connectors, CDK

increase maximum_attempts_to_acquire to avoid crashing in acquire_call
  airbyte-cdk/python/airbyte_cdk/sources/streams/call_rate.py
Labels: CDK

fix cart schema and allow to use on cloud
  airbyte-integrations/connectors/source-cart/Dockerfile
  airbyte-integrations/connectors/source-cart/acceptance-test-config.yml
  airbyte-integrations/connectors/source-cart/metadata.yaml
  airbyte-integrations/connectors/source-cart/source_cart/schemas/addresses.json
  airbyte-integrations/connectors/source-cart/source_cart/schemas/customers_cart.json
  airbyte-integrations/connectors/source-cart/source_cart/schemas/order_items.json
  airbyte-integrations/connectors/source-cart/source_cart/schemas/order_payments.json
  airbyte-integrations/connectors/source-cart/source_cart/schemas/order_statuses.json
  airbyte-integrations/connectors/source-cart/source_cart/schemas/orders.json
  airbyte-integrations/connectors/source-cart/source_cart/schemas/products.json
  docs/integrations/sources/cart.md
Labels: area/connectors, area/documentation

CDK: increase `maximum_attempts_to_acquire` to avoid crashing in acquire_call (#32516)
  airbyte-cdk/python/airbyte_cdk/sources/streams/call_rate.py
Labels: CDK

CDK: increase `maximum_attempts_to_acquire` to avoid crashing in acquire_call (#32516)
  airbyte-cdk/python/airbyte_cdk/sources/streams/call_rate.py
Labels: CDK

🤖 Bump patch version of Python CDK
  airbyte-cdk/python/.bumpversion.cfg
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/Dockerfile
  airbyte-cdk/python/setup.py
Labels: CDK

🤖 Bump patch version of Python CDK
  airbyte-cdk/python/.bumpversion.cfg
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/Dockerfile
  airbyte-cdk/python/setup.py
Labels: CDK

Update airbyte-protocol.md (#32490)
  docs/understanding-airbyte/airbyte-protocol.md
Labels: area/documentation

Update airbyte-protocol.md (#32490)
  docs/understanding-airbyte/airbyte-protocol.md
Labels: area/documentation

update posthog rate limit docs (#32460)
  docs/integrations/sources/posthog.md
Labels: area/documentation

update posthog rate limit docs (#32460)
  docs/integrations/sources/posthog.md
Labels: area/documentation

update CDK version
  airbyte-integrations/connectors/source-stripe/setup.py
  airbyte-integrations/connectors/source-stripe/source_stripe/spec.yaml
Labels: area/connectors

implement migrator?
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcDestinationHandler.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcV1V2Migrator.java
Labels: CDK

Add schemaless mode to debezium incremental sync
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/AirbyteDebeziumHandler.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/DebeziumEventUtils.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/DebeziumStateDecoratingIterator.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/mongodb/MongoDbCdcEventUtils.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/java/io/airbyte/cdk/integrations/debezium/internals/DebeziumEventUtilsTest.java
  airbyte-integrations/connectors/source-mongodb-v2/metadata.yaml
Labels: area/connectors, CDK

stuff
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcV1V2Migrator.java
Labels: CDK

Source Bing Ads: remove old files
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/reports.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/streams.py
Labels: area/connectors

update posthog doc
  docs/integrations/sources/posthog.md
Labels: area/documentation

Source Bing Ads: fix merge conflicts
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/bulk_streams.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/report_streams.py
Labels: area/connectors

Source Bing Ads: fix merge conflicts
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_reports.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_source.py
Labels: area/connectors

delete jdbctyperdeduper
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcTyperDeduper.java
Labels: CDK

update posthog
  docs/integrations/sources/posthog.md
Labels: area/documentation

Docs: fix posthog (#32522)
  docs/integrations/sources/posthog.md
Labels: area/documentation

Docs: fix posthog (#32522)
  docs/integrations/sources/posthog.md
Labels: area/documentation

.github/labeler.yml:

# Union of api, connectors, documentation, octavia-cli, CDK and normalization.
area/api:
  - airbyte-api/*
  - airbyte-api/**/*

area/connectors:
  - airbyte-integrations/connectors/*
  - airbyte-integrations/connectors/**/*

area/documentation:
  - docs/*
  - docs/**/*

area/octavia-cli:
  - octavia-cli/*
  - octavia-cli/**/*

CDK:
  - airbyte-cdk/*
  - airbyte-cdk/**/*

normalization:
  - airbyte-integrations/bases/base-normalization/*
  - airbyte-integrations/bases/base-normalization/**/*
