Repository airbytehq/airbyte, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api, area/connectors, area/documentation, area/octavia-cli, CDK, normalization

Add makefile skeleton
  Makefile
Labels: none

Address code review comments
  airbyte-ci/connectors/pipelines/pipelines/cli/airbyte_ci.py
  tools/bin/make/airbyte_ci_install.sh
Labels: none

Move to dev
  airbyte-ci/connectors/pipelines/pyproject.toml
Labels: none

Update readme and warning
  airbyte-ci/connectors/pipelines/README.md
  tools/bin/make/airbyte_ci_check.sh
Labels: none

Update docs
  airbyte-ci/connectors/pipelines/README.md
  airbyte-ci/connectors/pipelines/pyproject.toml
Labels: none

Add clean command
  Makefile
  tools/bin/make/airbyte_ci_clean.sh
  tools/bin/make/airbyte_ci_dev_install.sh
Labels: none

Add comment
  airbyte-ci/connectors/pipelines/README.md
Labels: none

Automated Commit - Formatting Changes
  airbyte-ci/connectors/pipelines/pipelines/cli/airbyte_ci.py
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
Labels: area/connectors

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
Labels: area/connectors

fix spotless bugs
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/mongodb/MongoDbCdcEventUtils.java
  airbyte-integrations/connectors/source-mongodb-v2/build.gradle
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoUtil.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbCdcInitializer.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbCdcStateHandler.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/resources/spec.json
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/MongoUtilTest.java
Labels: area/connectors, CDK

Fixing types for fields seen in initial customer ingest
  airbyte-integrations/connectors/source-pendo-python/source_pendo_python/schemas/guide.json
  airbyte-integrations/connectors/source-pendo-python/source_pendo_python/schemas/report.json
Labels: area/connectors

update expected spec
  airbyte-integrations/connectors/source-mongodb-v2/integration_tests/expected_spec.json
Labels: area/connectors

Update approve-and-merge dispatch
  .github/workflows/airbyte-ci-tests.yml
  .github/workflows/approve-and-merge-dispatch.yml
  .github/workflows/format_fix.yml
  .github/workflows/gradle.yml
  .github/workflows/slash-commands.yml
Labels: none

Format
  .github/workflows/approve-and-merge-dispatch.yml
Labels: none

Move to demo command
  .github/workflows/approve-and-merge-demo-dispatch.yml
  .github/workflows/approve-and-merge-dispatch.yml
  .github/workflows/slash-commands.yml
Labels: none

update spec + add config migration
  airbyte-integrations/connectors/source-amazon-seller-partner/main.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/config_migrations.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_migrations.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_migrations/migrated_config.json
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_migrations/not_migrated_config.json
Labels: area/connectors

Source Amazon Seller Partner: valdiate report
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/utils.py
Labels: area/connectors

Source Bing Ads: update expected records
  airbyte-integrations/connectors/source-bing-ads/integration_tests/expected_records.jsonl
Labels: area/connectors

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
Labels: area/connectors

Source Bing Ads: fix unit tests
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_reports.py
Labels: area/connectors

update expected spec
  airbyte-integrations/connectors/source-mongodb-v2/integration_tests/expected_spec.json
Labels: area/connectors

update expected spec
  airbyte-integrations/connectors/source-mongodb-v2/integration_tests/expected_spec.json
Labels: area/connectors

update expected spec
  airbyte-integrations/connectors/source-mongodb-v2/acceptance-test-config.yml
Labels: area/connectors

fix redirect error
  docusaurus/redirects.yml
Labels: none

rename
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/concurrent_read_processor.py
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/concurrent_source.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_concurrent_read_processor.py
Labels: CDK

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-mongodb-v2/acceptance-test-config.yml
Labels: area/connectors

fix
  docusaurus/redirects.yml
Labels: none

fix broken link
  docs/enterprise-setup/self-managed/implementation-guide.md
Labels: area/documentation

test fix
  airbyte-cdk/java/airbyte-cdk/core/src/test/java/io/airbyte/cdk/db/jdbc/TestJdbcUtils.java
Labels: CDK

Automated Commit - Formatting Changes
  airbyte-cdk/java/airbyte-cdk/core/src/test/java/io/airbyte/cdk/db/jdbc/TestJdbcUtils.java
Labels: CDK

Delete docs/connector-development/testing-connectors/testing-a-local-catalog-in-development.md
  docs/connector-development/testing-connectors/testing-a-local-catalog-in-development.md
Labels: area/documentation

check availability from the worker
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/concurrent_read_processor.py
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/concurrent_source.py
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/partition_generation_completed_sentinel.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/partition_enqueuer.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_concurrent_read_processor.py
Labels: CDK

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
Labels: area/connectors

Update sidebars.js
  docusaurus/sidebars.js
Labels: none

update expected spec
  airbyte-integrations/connectors/source-mongodb-v2/acceptance-test-config.yml
Labels: area/connectors

Apply suggestions from code review
  docs/enterprise-setup/self-managed/implementation-guide.md
  docs/enterprise-setup/self-managed/sso.md
Labels: area/documentation

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-mongodb-v2/acceptance-test-config.yml
Labels: area/connectors

Update License documentation (#32575)
  LICENSE
  docs/project-overview/licenses/license-faq.md
Labels: area/documentation

Update License documentation (#32575)
  LICENSE
  docs/project-overview/licenses/license-faq.md
Labels: area/documentation

docstrings and remove unused param
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/concurrent_source.py
  airbyte-cdk/python/airbyte_cdk/sources/utils/slice_logger.py
Labels: CDK

.github/labeler.yml:

# Union of api, connectors, documentation, octavia-cli, CDK and normalization.
area/api:
  - airbyte-api/*
  - airbyte-api/**/*

area/connectors:
  - airbyte-integrations/connectors/*
  - airbyte-integrations/connectors/**/*

area/documentation:
  - docs/*
  - docs/**/*

area/octavia-cli:
  - octavia-cli/*
  - octavia-cli/**/*

CDK:
  - airbyte-cdk/*
  - airbyte-cdk/**/*

normalization:
  - airbyte-integrations/bases/base-normalization/*
  - airbyte-integrations/bases/base-normalization/**/*
