Repository airbytehq/airbyte, changes with the labels that .github/labeler.yml gives for each.
All labels: area/platform, area/frontend, area/api, area/server, area/protocol, area/worker, kubernetes, area/connectors, area/documentation, CDK, normalization

.github/labeler.yml:

# union of frontend, api, server, scheduler, protocol, worker, kubernetes
area/platform:
  - airbyte-api/*
  - airbyte-api/**/*
  - airbyte-persistence/*
  - airbyte-persistence/**/*
  - airbyte-protocol/*
  - airbyte-protocol/**/*
  - airbyte-server/*
  - airbyte-server/**/*
  - airbyte-workers/*
  - airbyte-workers/**/*
  - kube/*
  - kube/**/*
  - charts/*
  - charts/**/*

area/frontend:
  - airbyte-webapp/*
  - airbyte-webapp/**/*
  - airbyte-webapp-e2e-tests/*
  - airbyte-webapp-e2e-tests/**/*

area/api:
  - airbyte-api/*
  - airbyte-api/**/*

area/server:
  - airbyte-server/*
  - airbyte-server/**/*

area/protocol:
  - airbyte-protocol/*
  - airbyte-protocol/**/*

area/worker:
  - airbyte-workers/*
  - airbyte-workers/**/*

kubernetes:
  - kube/*
  - kube/**/*
  - charts/*
  - charts/**/*

area/connectors:
  - airbyte-integrations/connectors/*
  - airbyte-integrations/connectors/**/*
  - airbyte-integrations/builds.md

area/documentation:
  - docs/*
  - docs/**/*

CDK:
  - airbyte-cdk/*
  - airbyte-cdk/**/*

normalization:
  - airbyte-integrations/bases/base-normalization/*
  - airbyte-integrations/bases/base-normalization/**/*

update object map
  objects/13/acea127f1ac602f50721eda3637de10a9c1427
  objects/2a/72e13eee8062c551f77c4add5c063f95e8926e
  objects/5e/90f857c8650e70ddc5cff69ef6961daabc2ebe
  objects/63/d510315c29882bbb8c5f8a2f618097d1f75a16
  objects/6c/f83dad866e9d2338e8d4102d9ba3a51f72de8e
  objects/7c/7e31e2b64ed2f5532efef90acbd6c9c29ebb5c
  objects/99/7731a281e311723a911ef242aa6cd9fe6ae2d1
  objects/99/85450b5d47d88ff0ef746902570d373a7681f2
  objects/c1/87589fed9fad57248274800d1c5c2cb87a8d28
  objects/cd/b9ed0a8daf3d460260bfc34d7b25ba8a40a3d9
  objects/d5/d84f4ee03923b32a639b23c8c22a34035f9340
  objects/d6/f2f4f679ed7dfecacbaec41a6db90d4c126899
  objects/d8/bb7c7b443ed710c277fe976646c15c23142cbc
  objects/e6/766ff9fbd39af7ddc6676dde62b6327200f368
  objects/eb/1500e0612522deaeb7504c077f52784d8acf85
Labels: none

handle case assign variable is_sandbox
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/source.py
Labels: area/connectors

remove airbyte-featureflag
  .github/workflows/gradle.yml
Labels: none

update object map
  objects/d4/8bf0099fe1c75fbad853545dfb0ff82ff4f9ce
Labels: none

update object map
  objects/19/a894f56a21bcef83ba9551f062c4c121715a06
  objects/35/38bb27d58fedbf325c6b7fa62e239bb6971553
Labels: none

Source Facebook Pages: bump version && update docs
  airbyte-integrations/connectors/source-facebook-pages/Dockerfile
  docs/integrations/sources/facebook-pages.md
Labels: area/connectors, area/documentation

update object map
  objects/52/41f00f1154c39b527bb0ab7424232794a65315
Labels: none

update object map
  objects/b1/3ddcd74073abfa7da0db01586818f8e1396052
  objects/b9/3ba3d0a024d64b447b565506cf782be7dc6743
  objects/c6/02a0ec4b9d5727bd08b7599acfb76b0640be76
Labels: none

Source Facebook Pages: add allowed hosts
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-facebook-pages/source_facebook_pages/components.py
Labels: area/connectors

update object map
  objects/66/df53f66275778f8a98ca5e3a0033d8d9781cf0
Labels: none

update object map
  objects/11/a1656c0e968f0c64984bfefdcecc9000c0ccae
  objects/69/a3897674e9c9bddb97c81248d86e40ecb037bc
Labels: none

update object map
  objects/4a/5e0d6afb84f2a07ada9fd3f97ee94dddf3b142
Labels: none

Changes to airbyte-config should trigger base build (#23370)
  .github/workflows/gradle.yml
Labels: none

Changes to airbyte-config should trigger base build (#23370)
  .github/workflows/gradle.yml
Labels: none

Changes to airbyte-config should trigger base build (#23370)
  .github/workflows/gradle.yml
Labels: none

update object map
  objects/bb/44e580d1d810974dc8ec8bfce2151852c574c8
Labels: none

update object map
  objects/f1/56427c354959fac3a6bb34e93c02c8fdd3650a
Labels: none

Source Chargebee: update version
  airbyte-integrations/connectors/source-chargebee/Dockerfile
  docs/integrations/sources/chargebee.md
Labels: area/connectors, area/documentation

update object map
  objects/fe/cc205568f40e9f1f256a0be252dd9ae4386d02
Labels: none

update object map
  objects/b0/c75f35e59e40de9b82fc8dc35c6e1a5f7f7410
Labels: none

Source Chargebee: pin CDK to version beta 0.29
  airbyte-integrations/connectors/source-chargebee/setup.py
Labels: area/connectors

update object map
  objects/3d/b273f7dbc78a3322f37e1e7e68f2ecb1c94dba
Labels: none

Source Google Sheets: slugify column names (#23057)
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-sheets/.dockerignore
  airbyte-integrations/connectors/source-google-sheets/Dockerfile
  airbyte-integrations/connectors/source-google-sheets/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-sheets/build.gradle
  airbyte-integrations/connectors/source-google-sheets/google_sheets_source/__init__.py
  airbyte-integrations/connectors/source-google-sheets/main.py
  airbyte-integrations/connectors/source-google-sheets/setup.py
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/__init__.py
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/client.py
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/helpers.py
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/models/__init__.py
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/models/spreadsheet.py
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/models/spreadsheet_values.py
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/source.py
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/spec.yaml
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/utils.py
  airbyte-integrations/connectors/source-google-sheets/unit_tests/test_helpers.py
  airbyte-integrations/connectors/source-google-sheets/unit_tests/test_utils.py
  connectors.md
  docs/integrations/sources/google-sheets.md
Labels: area/connectors, area/documentation

Source Google Sheets: slugify column names (#23057)
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-sheets/.dockerignore
  airbyte-integrations/connectors/source-google-sheets/Dockerfile
  airbyte-integrations/connectors/source-google-sheets/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-sheets/build.gradle
  airbyte-integrations/connectors/source-google-sheets/google_sheets_source/__init__.py
  airbyte-integrations/connectors/source-google-sheets/main.py
  airbyte-integrations/connectors/source-google-sheets/setup.py
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/__init__.py
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/client.py
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/helpers.py
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/models/__init__.py
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/models/spreadsheet.py
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/models/spreadsheet_values.py
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/source.py
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/spec.yaml
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/utils.py
  airbyte-integrations/connectors/source-google-sheets/unit_tests/test_helpers.py
  airbyte-integrations/connectors/source-google-sheets/unit_tests/test_utils.py
  connectors.md
  docs/integrations/sources/google-sheets.md
Labels: area/connectors, area/documentation

Source Google Sheets: slugify column names (#23057)
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-sheets/.dockerignore
  airbyte-integrations/connectors/source-google-sheets/Dockerfile
  airbyte-integrations/connectors/source-google-sheets/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-sheets/build.gradle
  airbyte-integrations/connectors/source-google-sheets/google_sheets_source/__init__.py
  airbyte-integrations/connectors/source-google-sheets/main.py
  airbyte-integrations/connectors/source-google-sheets/setup.py
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/__init__.py
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/client.py
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/helpers.py
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/models/__init__.py
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/models/spreadsheet.py
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/models/spreadsheet_values.py
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/source.py
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/spec.yaml
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/utils.py
  airbyte-integrations/connectors/source-google-sheets/unit_tests/test_helpers.py
  airbyte-integrations/connectors/source-google-sheets/unit_tests/test_utils.py
  connectors.md
  docs/integrations/sources/google-sheets.md
Labels: area/connectors, area/documentation

update object map
  objects/a4/31a52aaa5b905c9138fba862218e1afef4e93b
Labels: none

update object map
  objects/5e/fca3ab28791753b8d9839b9f9089eea887d01f
Labels: none

update object map
  objects/6b/a3014ec45d8f1d23f8a0687af079e4432c92ee
  objects/c2/1409e32d1c0a195312f12bbb6d4a3bd41abe9c
Labels: none

update object map
  objects/14/e9fcbf5955d1bfe384a7b883fa234146fe072a
  objects/ad/94ef83481fb2add481e94d458faab7172904f1
  objects/c3/bdae1ab1f7afc77d01890e8c72fa3ea44229a4
  objects/d1/57bdb7ef441faf99c006e34185dfc47b0b389c
Labels: none

auto-bump connector version
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  connectors.md
Labels: none

update object map
  objects/bb/63d88f0a9bd2286542f463839e547203e02442
Labels: none

update object map
  objects/ab/05e3b2939fd68fa1aca793b91c45a19b6c7c0a
Labels: none

Source Google Ads: add custom full_refresh stream (#22703)
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-ads/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-google-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-google-ads/integration_tests/expected_records.txt
  airbyte-integrations/connectors/source-google-ads/source_google_ads/custom_query_stream.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/utils.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_custom_query.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_source.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_utils.py
  connectors.md
  docs/integrations/sources/google-ads.md
Labels: area/connectors, area/documentation

Source Google Ads: add custom full_refresh stream (#22703)
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-ads/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-google-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-google-ads/integration_tests/expected_records.txt
  airbyte-integrations/connectors/source-google-ads/source_google_ads/custom_query_stream.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/utils.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_custom_query.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_source.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_utils.py
  connectors.md
  docs/integrations/sources/google-ads.md
Labels: area/connectors, area/documentation

Source Google Ads: add custom full_refresh stream (#22703)
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-ads/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-google-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-google-ads/integration_tests/expected_records.txt
  airbyte-integrations/connectors/source-google-ads/source_google_ads/custom_query_stream.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/utils.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_custom_query.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_source.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_utils.py
  connectors.md
  docs/integrations/sources/google-ads.md
Labels: area/connectors, area/documentation

update object map
  objects/36/8feb3c98d42b496ab780a3940f7149167a07f4
  objects/ed/744d8bfd7b117f05e08dd67c19d98f6f824dcd
Labels: none

auto-bump connector version
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  connectors.md
Labels: none

update object map
  objects/53/f8e8838a9b2986e108f65d3ca2f4007bf7e2c7
Labels: none

update object map
  objects/0a/833da64553e4e17f17a53d3db13094f82afc19
  objects/3f/692ec3b2599c6087918168c59739874a6ee49a
  objects/e6/770c6f99254f9ae272edf544e964a70bcaea1e
Labels: none

update object map
  objects/73/4b5c52f3e3cebf3597c809be0a87ebe95cc532
Labels: none
