Repository airbytehq/airbyte, changes with the labels that .github/labeler.yml gives for each.
All labels: area/platform, team/frontend, area/api, area/server, area/scheduler, area/protocol, area/worker, kubernetes, area/connectors, area/documentation, CDK, normalization

test
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/AmazonSellerPartnerOAuthFlow.java
Labels: none

updated postgres destination tests
  airbyte-integrations/connectors/destination-postgres/src/test/java/io/airbyte/integrations/destination/postgres/PostgresDestinationTest.java
Labels: area/connectors

#12486 doc upd: add note on use of custom queries
  docs/integrations/sources/google-ads.md
Labels: area/documentation

updated after review
  airbyte-integrations/connectors/source-bing-ads/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/client.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/spec.json
Labels: area/connectors

auto-bump connector version
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amplitude/source_amplitude/api.py
Labels: area/connectors

:bug: Source Amplitude: time offset causes a lot of duplicates (#13074)
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amplitude/Dockerfile
  airbyte-integrations/connectors/source-amplitude/source_amplitude/api.py
  docs/integrations/sources/amplitude.md
Labels: area/connectors, area/documentation

:bug: Source Amplitude: time offset causes a lot of duplicates (#13074)
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amplitude/Dockerfile
  airbyte-integrations/connectors/source-amplitude/source_amplitude/api.py
  docs/integrations/sources/amplitude.md
Labels: area/connectors, area/documentation

:bug: Source Amplitude: time offset causes a lot of duplicates (#13074)
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amplitude/Dockerfile
  airbyte-integrations/connectors/source-amplitude/source_amplitude/api.py
  docs/integrations/sources/amplitude.md
Labels: area/connectors, area/documentation

update comments
  airbyte-cdk/python/airbyte_cdk/sources/lcc/requesters/requester.py
Labels: CDK

update test spec.json
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/spec.json
Labels: area/connectors

Update airbyte-integrations/connectors/source-dockerhub/Dockerfile
  airbyte-integrations/connectors/source-dockerhub/Dockerfile
Labels: area/connectors

Update airbyte-integrations/connectors/source-dockerhub/.dockerignore
  airbyte-integrations/connectors/source-dockerhub/.dockerignore
Labels: area/connectors

remove no_state
  airbyte-cdk/python/airbyte_cdk/sources/lcc/states/no_state.py
  airbyte-cdk/python/unit_tests/sources/lcc/states/test_no_state.py
Labels: CDK

Get jar publishing working.
  airbyte-commons/build.gradle
  airbyte-config/models/build.gradle
  airbyte-workers/build.gradle
  build.gradle
Labels: area/platform, area/worker

rename package
  airbyte-cdk/python/airbyte_cdk/sources/configurable/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/checks/connection_checker.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/configurable_source.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/configurable_stream.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/extractors/http_extractor.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/paginators/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/paginators/no_pagination.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/paginators/paginator.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/request_params/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/request_params/request_parameters_provider.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/requester.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/retriers/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/retriers/default_retrier.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/retriers/retrier.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/retrievers/retriever.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/retrievers/simple_retriever.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/schema/schema_loader.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/states/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/states/state.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/stream_slicers/single_slice.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/stream_slicers/stream_slicer.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/types.py
  airbyte-cdk/python/unit_tests/sources/configurable/__init__.py
  airbyte-cdk/python/unit_tests/sources/configurable/checks/__init__.py
  airbyte-cdk/python/unit_tests/sources/configurable/extractors/__init__.py
  airbyte-cdk/python/unit_tests/sources/configurable/interpolation/__init__.py
  airbyte-cdk/python/unit_tests/sources/configurable/iterators/__init__.py
  airbyte-cdk/python/unit_tests/sources/configurable/iterators/test_only_once.py
  airbyte-cdk/python/unit_tests/sources/configurable/requesters/__init__.py
  airbyte-cdk/python/unit_tests/sources/configurable/requesters/paginators/__init__.py
  airbyte-cdk/python/unit_tests/sources/configurable/requesters/paginators/test_no_paginator.py
  airbyte-cdk/python/unit_tests/sources/configurable/requesters/request_params/__init__.py
  airbyte-cdk/python/unit_tests/sources/configurable/retrievers/__init__.py
  airbyte-cdk/python/unit_tests/sources/configurable/retrievers/test_simple_retriever.py
  airbyte-cdk/python/unit_tests/sources/configurable/states/__init__.py
  airbyte-cdk/python/unit_tests/sources/configurable/test_configurable_stream.py
Labels: CDK

merge
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.py
Labels: area/connectors

checkout from alex/cac
  airbyte-cdk/python/airbyte_cdk/sources/configurable/interpolation/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/interpolation/interpolated_mapping.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/interpolation/interpolated_string.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/interpolation/interpolation.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/interpolation/jinja.py
  airbyte-cdk/python/unit_tests/sources/configurable/interpolation/test_interpolated_mapping.py
  airbyte-cdk/python/unit_tests/sources/configurable/interpolation/test_interpolated_string.py
  airbyte-cdk/python/unit_tests/sources/configurable/interpolation/test_jinja.py
Labels: CDK

Add missing tests
  airbyte-cdk/python/unit_tests/sources/lcc/requesters/paginators/test_interpolated_paginator.py
  airbyte-cdk/python/unit_tests/sources/lcc/requesters/paginators/test_interpolated_string.py
Labels: CDK

Add missing files
  airbyte-cdk/python/airbyte_cdk/sources/configurable/states/test_interpolated_request_parameter_provider.py
  airbyte-cdk/python/airbyte_cdk/sources/lcc/requesters/request_params/interpolated_request_parameter_provider.py
Labels: CDK

missing file
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/paginators/interpolated_paginator.py
Labels: CDK

update default value and match pattern for replication_end_date
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.json
Labels: area/connectors

use replication end date for full_refresh sync mode when provided. cleanup based on review comments
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
Labels: area/connectors

rename
  airbyte-cdk/python/airbyte_cdk/sources/configurable/interpolation/interpolated_string.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/request_params/interpolated_request_parameter_provider.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/states/test_interpolated_request_parameter_provider.py
  airbyte-cdk/python/unit_tests/sources/configurable/interpolation/test_jinja.py
Labels: CDK

comment
  airbyte-cdk/python/airbyte_cdk/sources/configurable/interpolation/jinja.py
Labels: CDK

jinja dependency
  airbyte-cdk/python/setup.py
Labels: CDK

Add comment
  airbyte-cdk/python/airbyte_cdk/sources/configurable/interpolation/jinja.py
Labels: CDK

comment
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/paginators/interpolated_paginator.py
Labels: CDK

Revert "delete unused file"
  airbyte-cdk/python/airbyte_cdk/sources/configurable/interpolation/interpolation.py
Labels: CDK

pass kwargs directly
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/paginators/interpolated_paginator.py
Labels: CDK

delete unused field
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/paginators/interpolated_paginator.py
Labels: CDK

rename
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/paginators/interpolated_paginator.py
Labels: CDK

delete unused field
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/paginators/interpolated_paginator.py
Labels: CDK

isort
  airbyte-cdk/python/airbyte_cdk/sources/configurable/interpolation/interpolated_mapping.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/interpolation/jinja.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/request_params/interpolated_request_parameter_provider.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/states/test_interpolated_request_parameter_provider.py
  airbyte-cdk/python/airbyte_cdk/sources/lcc/states/no_state.py
  airbyte-cdk/python/airbyte_cdk/sources/lcc/states/state.py
  airbyte-cdk/python/unit_tests/sources/configurable/interpolation/test_interpolated_mapping.py
  airbyte-cdk/python/unit_tests/sources/configurable/interpolation/test_interpolated_string.py
  airbyte-cdk/python/unit_tests/sources/configurable/interpolation/test_jinja.py
  airbyte-cdk/python/unit_tests/sources/lcc/requesters/paginators/test_interpolated_paginator.py
  airbyte-cdk/python/unit_tests/sources/lcc/states/test_no_state.py
Labels: CDK

Revert "isort"
  airbyte-cdk/python/airbyte_cdk/sources/configurable/checks/connection_checker.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/configurable_source.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/extractors/http_extractor.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/interpolation/interpolated_mapping.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/interpolation/interpolation.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/interpolation/jinja.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/paginators/no_pagination.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/paginators/paginator.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/request_params/interpolated_request_parameter_provider.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/request_params/request_parameters_provider.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/requester.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/retriers/default_retrier.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/retrievers/retriever.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/retrievers/simple_retriever.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/schema/schema_loader.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/stream_slicers/single_slice.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/stream_slicers/stream_slicer.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/types.py
  airbyte-cdk/python/airbyte_cdk/sources/lcc/states/no_state.py
  airbyte-cdk/python/airbyte_cdk/sources/lcc/states/state.py
  airbyte-cdk/python/unit_tests/sources/configurable/iterators/test_only_once.py
  airbyte-cdk/python/unit_tests/sources/configurable/requesters/paginators/test_no_paginator.py
  airbyte-cdk/python/unit_tests/sources/configurable/retrievers/test_simple_retriever.py
  airbyte-cdk/python/unit_tests/sources/configurable/test_configurable_stream.py
  airbyte-cdk/python/unit_tests/sources/lcc/requesters/paginators/test_interpolated_paginator.py
  airbyte-cdk/python/unit_tests/sources/lcc/states/test_no_state.py
Labels: CDK

format
  airbyte-cdk/python/airbyte_cdk/sources/configurable/interpolation/interpolated_mapping.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/interpolation/interpolation.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/interpolation/jinja.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/request_params/interpolated_request_parameter_provider.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/states/test_interpolated_request_parameter_provider.py
  airbyte-cdk/python/unit_tests/sources/configurable/interpolation/test_interpolated_mapping.py
  airbyte-cdk/python/unit_tests/sources/lcc/requesters/paginators/test_interpolated_paginator.py
Labels: CDK

bump version
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/Dockerfile
Labels: area/connectors

decoder
  airbyte-cdk/python/airbyte_cdk/sources/configurable/decoders/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/decoders/decoder.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/decoders/json_decoder.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/paginators/interpolated_paginator.py
  airbyte-cdk/python/unit_tests/sources/configurable/requesters/paginators/test_interpolated_paginator.py
  airbyte-cdk/python/unit_tests/sources/configurable/requesters/paginators/test_interpolated_string.py
Labels: CDK

better error handling
  airbyte-cdk/python/airbyte_cdk/sources/configurable/interpolation/interpolated_mapping.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/interpolation/interpolated_string.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/interpolation/jinja.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/paginators/interpolated_paginator.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/request_params/interpolated_request_parameter_provider.py
Labels: CDK

remove nostate
  airbyte-cdk/python/airbyte_cdk/sources/lcc/states/no_state.py
  airbyte-cdk/python/unit_tests/sources/lcc/states/test_no_state.py
Labels: CDK

Refactor database initialization logic (#12961)
  airbyte-db/lib/src/main/java/io/airbyte/db/check/DatabaseAvailabilityCheck.java
  airbyte-db/lib/src/main/java/io/airbyte/db/check/DatabaseCheck.java
  airbyte-db/lib/src/main/java/io/airbyte/db/check/DatabaseCheckException.java
  airbyte-db/lib/src/main/java/io/airbyte/db/check/DatabaseMigrationCheck.java
  airbyte-db/lib/src/main/java/io/airbyte/db/check/impl/ConfigsDatabaseAvailabilityCheck.java
  airbyte-db/lib/src/main/java/io/airbyte/db/check/impl/ConfigsDatabaseMigrationCheck.java
  airbyte-db/lib/src/main/java/io/airbyte/db/check/impl/JobsDatabaseAvailabilityCheck.java
  airbyte-db/lib/src/main/java/io/airbyte/db/check/impl/JobsDatabaseMigrationCheck.java
  airbyte-db/lib/src/main/java/io/airbyte/db/init/DatabaseInitializationException.java
  airbyte-db/lib/src/main/java/io/airbyte/db/init/DatabaseInitializer.java
  airbyte-db/lib/src/main/java/io/airbyte/db/init/impl/ConfigsDatabaseInitializer.java
  airbyte-db/lib/src/main/java/io/airbyte/db/init/impl/JobsDatabaseInitializer.java
  airbyte-db/lib/src/main/java/io/airbyte/db/instance/DatabaseConstants.java
  airbyte-db/lib/src/main/java/io/airbyte/db/instance/DatabaseInstance.java
  airbyte-db/lib/src/main/java/io/airbyte/db/instance/MinimumFlywayMigrationVersionCheck.java
  airbyte-db/lib/src/main/java/io/airbyte/db/instance/configs/ConfigsDatabaseInstance.java
  airbyte-db/lib/src/main/java/io/airbyte/db/instance/jobs/JobsDatabaseInstance.java
  airbyte-db/lib/src/test/java/io/airbyte/db/check/impl/AbstractDatabaseAvailabilityCheckTest.java
  airbyte-db/lib/src/test/java/io/airbyte/db/check/impl/ConfigsDatabaseAvailabilityCheckTest.java
  airbyte-db/lib/src/test/java/io/airbyte/db/check/impl/ConfigsDatabaseMigrationCheckTest.java
  airbyte-db/lib/src/test/java/io/airbyte/db/check/impl/JobsDatabaseAvailabilityCheckTest.java
  airbyte-db/lib/src/test/java/io/airbyte/db/check/impl/JobsDatabaseMigrationCheckTest.java
  airbyte-db/lib/src/test/java/io/airbyte/db/init/DatabaseInitializerTest.java
  airbyte-db/lib/src/test/java/io/airbyte/db/init/impl/AbstractDatabaseInitializerTest.java
  airbyte-db/lib/src/test/java/io/airbyte/db/init/impl/ConfigsDatabaseInitializerTest.java
  airbyte-db/lib/src/test/java/io/airbyte/db/init/impl/JobsDatabaseInitializerTest.java
Labels: none

.github/labeler.yml:

# union of frontend, api, server, scheduler, protocol, worker, kubernetes
area/platform:
  - airbyte-webapp/*
  - airbyte-webapp/**/*
  - airbyte-api/*
  - airbyte-api/**/*
  - airbyte-server/*
  - airbyte-server/**/*
  - airbyte-scheduler/*
  - airbyte-scheduler/**/*
  - airbyte-protocol/*
  - airbyte-protocol/**/*
  - airbyte-workers/*
  - airbyte-workers/**/*
  - kube/*
  - kube/**/*
  - charts/*
  - charts/**/*

team/frontend:
  - airbyte-webapp/*
  - airbyte-webapp/**/*

area/api:
  - airbyte-api/*
  - airbyte-api/**/*

area/server:
  - airbyte-server/*
  - airbyte-server/**/*

area/scheduler:
  - airbyte-scheduler/*
  - airbyte-scheduler/**/*

area/protocol:
  - airbyte-protocol/*
  - airbyte-protocol/**/*

area/worker:
  - airbyte-workers/*
  - airbyte-workers/**/*

kubernetes:
  - kube/*
  - kube/**/*
  - charts/*
  - charts/**/*

area/connectors:
  - airbyte-integrations/connectors/*
  - airbyte-integrations/connectors/**/*
  - airbyte-integrations/builds.md

area/documentation:
  - docs/*
  - docs/**/*

CDK:
  - airbyte-cdk/*
  - airbyte-cdk/**/*

normalization:
  - airbyte-integrations/bases/base-normalization/*
  - airbyte-integrations/bases/base-normalization/**/*
