Repository airbytehq/airbyte, changes with the labels that .github/labeler.yml gives for each.
All labels: area/platform, team/frontend, area/api, area/server, area/scheduler, area/protocol, area/worker, kubernetes, area/connectors, area/documentation, CDK, normalization

Refactor database initialization logic (#12961)
  airbyte-db/lib/src/main/java/io/airbyte/db/check/DatabaseAvailabilityCheck.java
  airbyte-db/lib/src/main/java/io/airbyte/db/check/DatabaseCheck.java
  airbyte-db/lib/src/main/java/io/airbyte/db/check/DatabaseCheckException.java
  airbyte-db/lib/src/main/java/io/airbyte/db/check/DatabaseMigrationCheck.java
  airbyte-db/lib/src/main/java/io/airbyte/db/check/impl/ConfigsDatabaseAvailabilityCheck.java
  airbyte-db/lib/src/main/java/io/airbyte/db/check/impl/ConfigsDatabaseMigrationCheck.java
  airbyte-db/lib/src/main/java/io/airbyte/db/check/impl/JobsDatabaseAvailabilityCheck.java
  airbyte-db/lib/src/main/java/io/airbyte/db/check/impl/JobsDatabaseMigrationCheck.java
  airbyte-db/lib/src/main/java/io/airbyte/db/init/DatabaseInitializationException.java
  airbyte-db/lib/src/main/java/io/airbyte/db/init/DatabaseInitializer.java
  airbyte-db/lib/src/main/java/io/airbyte/db/init/impl/ConfigsDatabaseInitializer.java
  airbyte-db/lib/src/main/java/io/airbyte/db/init/impl/JobsDatabaseInitializer.java
  airbyte-db/lib/src/main/java/io/airbyte/db/instance/DatabaseConstants.java
  airbyte-db/lib/src/main/java/io/airbyte/db/instance/DatabaseInstance.java
  airbyte-db/lib/src/main/java/io/airbyte/db/instance/MinimumFlywayMigrationVersionCheck.java
  airbyte-db/lib/src/main/java/io/airbyte/db/instance/configs/ConfigsDatabaseInstance.java
  airbyte-db/lib/src/main/java/io/airbyte/db/instance/jobs/JobsDatabaseInstance.java
  airbyte-db/lib/src/test/java/io/airbyte/db/check/impl/AbstractDatabaseAvailabilityCheckTest.java
  airbyte-db/lib/src/test/java/io/airbyte/db/check/impl/ConfigsDatabaseAvailabilityCheckTest.java
  airbyte-db/lib/src/test/java/io/airbyte/db/check/impl/ConfigsDatabaseMigrationCheckTest.java
  airbyte-db/lib/src/test/java/io/airbyte/db/check/impl/JobsDatabaseAvailabilityCheckTest.java
  airbyte-db/lib/src/test/java/io/airbyte/db/check/impl/JobsDatabaseMigrationCheckTest.java
  airbyte-db/lib/src/test/java/io/airbyte/db/init/DatabaseInitializerTest.java
  airbyte-db/lib/src/test/java/io/airbyte/db/init/impl/AbstractDatabaseInitializerTest.java
  airbyte-db/lib/src/test/java/io/airbyte/db/init/impl/ConfigsDatabaseInitializerTest.java
  airbyte-db/lib/src/test/java/io/airbyte/db/init/impl/JobsDatabaseInitializerTest.java
Labels: none

Refactor database initialization logic (#12961)
  airbyte-db/lib/src/main/java/io/airbyte/db/check/DatabaseAvailabilityCheck.java
  airbyte-db/lib/src/main/java/io/airbyte/db/check/DatabaseCheck.java
  airbyte-db/lib/src/main/java/io/airbyte/db/check/DatabaseCheckException.java
  airbyte-db/lib/src/main/java/io/airbyte/db/check/DatabaseMigrationCheck.java
  airbyte-db/lib/src/main/java/io/airbyte/db/check/impl/ConfigsDatabaseAvailabilityCheck.java
  airbyte-db/lib/src/main/java/io/airbyte/db/check/impl/ConfigsDatabaseMigrationCheck.java
  airbyte-db/lib/src/main/java/io/airbyte/db/check/impl/JobsDatabaseAvailabilityCheck.java
  airbyte-db/lib/src/main/java/io/airbyte/db/check/impl/JobsDatabaseMigrationCheck.java
  airbyte-db/lib/src/main/java/io/airbyte/db/init/DatabaseInitializationException.java
  airbyte-db/lib/src/main/java/io/airbyte/db/init/DatabaseInitializer.java
  airbyte-db/lib/src/main/java/io/airbyte/db/init/impl/ConfigsDatabaseInitializer.java
  airbyte-db/lib/src/main/java/io/airbyte/db/init/impl/JobsDatabaseInitializer.java
  airbyte-db/lib/src/main/java/io/airbyte/db/instance/DatabaseConstants.java
  airbyte-db/lib/src/main/java/io/airbyte/db/instance/DatabaseInstance.java
  airbyte-db/lib/src/main/java/io/airbyte/db/instance/MinimumFlywayMigrationVersionCheck.java
  airbyte-db/lib/src/main/java/io/airbyte/db/instance/configs/ConfigsDatabaseInstance.java
  airbyte-db/lib/src/main/java/io/airbyte/db/instance/jobs/JobsDatabaseInstance.java
  airbyte-db/lib/src/test/java/io/airbyte/db/check/impl/AbstractDatabaseAvailabilityCheckTest.java
  airbyte-db/lib/src/test/java/io/airbyte/db/check/impl/ConfigsDatabaseAvailabilityCheckTest.java
  airbyte-db/lib/src/test/java/io/airbyte/db/check/impl/ConfigsDatabaseMigrationCheckTest.java
  airbyte-db/lib/src/test/java/io/airbyte/db/check/impl/JobsDatabaseAvailabilityCheckTest.java
  airbyte-db/lib/src/test/java/io/airbyte/db/check/impl/JobsDatabaseMigrationCheckTest.java
  airbyte-db/lib/src/test/java/io/airbyte/db/init/DatabaseInitializerTest.java
  airbyte-db/lib/src/test/java/io/airbyte/db/init/impl/AbstractDatabaseInitializerTest.java
  airbyte-db/lib/src/test/java/io/airbyte/db/init/impl/ConfigsDatabaseInitializerTest.java
  airbyte-db/lib/src/test/java/io/airbyte/db/init/impl/JobsDatabaseInitializerTest.java
Labels: none

isort
  airbyte-cdk/python/airbyte_cdk/sources/configurable/checks/connection_checker.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/configurable_source.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/decoders/json_decoder.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/extractors/http_extractor.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/interpolation/interpolated_mapping.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/interpolation/interpolated_string.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/interpolation/jinja.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/paginators/interpolated_paginator.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/paginators/no_pagination.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/paginators/paginator.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/request_params/request_parameters_provider.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/requester.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/retriers/default_retrier.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/retrievers/retriever.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/retrievers/simple_retriever.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/schema/schema_loader.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/stream_slicers/single_slice.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/stream_slicers/stream_slicer.py
  airbyte-cdk/python/airbyte_cdk/sources/configurable/types.py
  airbyte-cdk/python/airbyte_cdk/sources/lcc/states/state.py
  airbyte-cdk/python/unit_tests/sources/configurable/interpolation/test_interpolated_mapping.py
  airbyte-cdk/python/unit_tests/sources/configurable/interpolation/test_jinja.py
  airbyte-cdk/python/unit_tests/sources/configurable/iterators/test_only_once.py
  airbyte-cdk/python/unit_tests/sources/configurable/requesters/paginators/test_interpolated_paginator.py
  airbyte-cdk/python/unit_tests/sources/configurable/requesters/paginators/test_no_paginator.py
  airbyte-cdk/python/unit_tests/sources/configurable/retrievers/test_simple_retriever.py
  airbyte-cdk/python/unit_tests/sources/configurable/test_configurable_stream.py
Labels: CDK

update test spec.json
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/spec.json
Labels: area/connectors

remove print
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/paginators/next_page_url_paginator.py
Labels: CDK

move test
  airbyte-cdk/python/unit_tests/sources/configurable/stream_slicers/__init__.py
  airbyte-cdk/python/unit_tests/sources/configurable/stream_slicers/test_datetime_stream_slicer.py
Labels: CDK

delete duplicates
  airbyte-cdk/python/airbyte_cdk/sources/lcc/decoders/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/lcc/decoders/decoder.py
  airbyte-cdk/python/airbyte_cdk/sources/lcc/decoders/json_decoder.py
  airbyte-cdk/python/airbyte_cdk/sources/lcc/interpolation/interpolated_mapping.py
  airbyte-cdk/python/airbyte_cdk/sources/lcc/interpolation/interpolated_string.py
  airbyte-cdk/python/airbyte_cdk/sources/lcc/interpolation/interpolation.py
  airbyte-cdk/python/airbyte_cdk/sources/lcc/interpolation/jinja.py
  airbyte-cdk/python/unit_tests/sources/lcc/requesters/paginators/test_interpolated_paginator.py
  airbyte-cdk/python/unit_tests/sources/lcc/requesters/paginators/test_interpolated_string.py
Labels: CDK

End date configuration for tiktok (#12838)
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/Dockerfile
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/source.py
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/spec.py
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/streams.py
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/streams_test.py
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/unit_test.py
  docs/integrations/sources/tiktok-marketing.md
Labels: area/connectors, area/documentation

End date configuration for tiktok (#12838)
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/Dockerfile
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/source.py
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/spec.py
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/streams.py
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/streams_test.py
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/unit_test.py
  docs/integrations/sources/tiktok-marketing.md
Labels: area/connectors, area/documentation

End date configuration for tiktok (#12838)
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/Dockerfile
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/source.py
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/spec.py
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/streams.py
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/streams_test.py
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/unit_test.py
  docs/integrations/sources/tiktok-marketing.md
Labels: area/connectors, area/documentation

update
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/sendgrid.py
Labels: area/connectors

updated docs
  docs/integrations/sources/bing-ads.md
Labels: area/documentation

chore: updated seed spec for tiktok-marketing
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
Labels: none

chore: updated seed spec for tiktok-marketing (#13094)
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
Labels: none

chore: updated seed spec for tiktok-marketing (#13094)
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
Labels: none

chore: updated seed spec for tiktok-marketing (#13094)
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
Labels: none

🎉Source Google Search Console: increase unit test coverage at least 90% (#13037)
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-google-search-console/setup.py
  airbyte-integrations/connectors/source-google-search-console/unit_tests/conftest.py
  airbyte-integrations/connectors/source-google-search-console/unit_tests/unit_test.py
  docs/integrations/sources/google-search-console.md
Labels: area/connectors, area/documentation

🎉Source Google Search Console: increase unit test coverage at least 90% (#13037)
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-google-search-console/setup.py
  airbyte-integrations/connectors/source-google-search-console/unit_tests/conftest.py
  airbyte-integrations/connectors/source-google-search-console/unit_tests/unit_test.py
  docs/integrations/sources/google-search-console.md
Labels: area/connectors, area/documentation

🎉Source Google Search Console: increase unit test coverage at least 90% (#13037)
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-google-search-console/setup.py
  airbyte-integrations/connectors/source-google-search-console/unit_tests/conftest.py
  airbyte-integrations/connectors/source-google-search-console/unit_tests/unit_test.py
  docs/integrations/sources/google-search-console.md
Labels: area/connectors, area/documentation

cleanup and publishing
  airbyte-analytics/build.gradle
  airbyte-api/build.gradle
  airbyte-commons-docker/build.gradle
  airbyte-commons/build.gradle
  airbyte-config/init/build.gradle
  airbyte-config/models/build.gradle
  airbyte-config/persistence/build.gradle
  airbyte-json-validation/build.gradle
  airbyte-notification/build.gradle
  airbyte-protocol/models/build.gradle
  airbyte-scheduler/client/build.gradle
  airbyte-scheduler/models/build.gradle
  airbyte-scheduler/persistence/build.gradle
  airbyte-server/build.gradle
  airbyte-workers/build.gradle
  build.gradle
Labels: area/platform, area/api, area/server, area/scheduler, area/protocol, area/worker

Add retry logic to ApiErrorBoundary component and move boundary one level deeper
  airbyte-webapp/src/components/ApiErrorBoundary/ApiErrorBoundary.tsx
  airbyte-webapp/src/packages/cloud/cloudRoutes.tsx
  airbyte-webapp/src/pages/routes.tsx
Labels: area/platform, team/frontend

Update ApiErrorBoundary to use Button component, add strings to en.json
  airbyte-webapp/src/components/ApiErrorBoundary/ApiErrorBoundary.tsx
  airbyte-webapp/src/locales/en.json
Labels: area/platform, team/frontend

Add clearOnLocationChange flag to ApiErrorBoundary to clear the error when navigating to another page
  airbyte-webapp/src/components/ApiErrorBoundary/ApiErrorBoundary.tsx
  airbyte-webapp/src/packages/cloud/cloudRoutes.tsx
Labels: area/platform, team/frontend

Simplify cannot reach message error message on cloud.
  airbyte-webapp/src/packages/cloud/locales/en.json
Labels: area/platform, team/frontend

Add error boundaries to DestinationItemPage and SourceItemPage
  airbyte-webapp/src/components/ApiErrorBoundary/ApiErrorBoundary.tsx
  airbyte-webapp/src/packages/cloud/cloudRoutes.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/DestinationItemPage/DestinationItemPage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/SourceItemPage.tsx
  airbyte-webapp/src/pages/routes.tsx
Labels: area/platform, team/frontend

Remove location and retry options from ApiErrorBoundary
  airbyte-webapp/src/components/ApiErrorBoundary/ApiErrorBoundary.tsx
  airbyte-webapp/src/packages/cloud/cloudRoutes.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/DestinationItemPage/DestinationItemPage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/SourceItemPage.tsx
  airbyte-webapp/src/pages/routes.tsx
Labels: area/platform, team/frontend

delete dead code
  airbyte-cdk/python/airbyte_cdk/sources/configurable/requesters/request_params/interpolated_request_parameter_provider.py
Labels: CDK

Add ApiErrorBoundary to onboarding page
  airbyte-webapp/src/pages/OnboardingPage/OnboardingPage.tsx
Labels: area/platform, team/frontend

Show titles on most onboarding steps even in error
  airbyte-webapp/src/pages/OnboardingPage/OnboardingPage.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/ConnectionStep.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/DestinationStep.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/SourceStep.tsx
Labels: area/platform, team/frontend

Refactored docs to teamplate (#13033)
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  docs/integrations/sources/intercom.md
Labels: area/documentation

Refactored docs to teamplate (#13033)
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  docs/integrations/sources/intercom.md
Labels: area/documentation

Refactored docs to teamplate (#13033)
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  docs/integrations/sources/intercom.md
Labels: area/documentation

Add the ability to hide the header for ApiErrorBoundaries and BaseClearView
  airbyte-webapp/src/components/ApiErrorBoundary/ApiErrorBoundary.tsx
  airbyte-webapp/src/components/BaseClearView/BaseClearView.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/DestinationItemPage/DestinationItemPage.tsx
  airbyte-webapp/src/pages/OnboardingPage/OnboardingPage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/SourceItemPage.tsx
  airbyte-webapp/src/views/common/ErrorOccurredView.tsx
  airbyte-webapp/src/views/common/StartOverErrorView.tsx
Labels: area/platform, team/frontend

Remove retry logic from state change in ApiErrorBoundary
  airbyte-webapp/src/components/ApiErrorBoundary/ApiErrorBoundary.tsx
Labels: area/platform, team/frontend

Bumped release stage version
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
Labels: none

auto-bump connector version
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
Labels: none

🎉 Source Bing Ads: implement `OAuth2.0` support, remove `redirect_uri`, change `Account ID` to `User ID` in spec (#12937)
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-bing-ads/Dockerfile
  airbyte-integrations/connectors/source-bing-ads/README.md
  airbyte-integrations/connectors/source-bing-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-bing-ads/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-bing-ads/setup.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/client.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/reports.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/accounts.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/source.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/spec.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/accountperformancereportmonthly_records.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/accounts_records.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_source.py
  airbyte-oauth/src/main/java/io/airbyte/oauth/OAuthImplementationFactory.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/MicrosoftBingAdsOAuthFlow.java
  airbyte-oauth/src/test/java/io/airbyte/oauth/flows/MicrosoftBingAdsOAuthFlowTest.java
  docs/integrations/sources/bing-ads.md
Labels: area/connectors, area/documentation

🎉 Source Bing Ads: implement `OAuth2.0` support, remove `redirect_uri`, change `Account ID` to `User ID` in spec (#12937)
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-bing-ads/Dockerfile
  airbyte-integrations/connectors/source-bing-ads/README.md
  airbyte-integrations/connectors/source-bing-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-bing-ads/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-bing-ads/setup.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/client.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/reports.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/accounts.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/source.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/spec.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/accountperformancereportmonthly_records.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/accounts_records.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_source.py
  airbyte-oauth/src/main/java/io/airbyte/oauth/OAuthImplementationFactory.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/MicrosoftBingAdsOAuthFlow.java
  airbyte-oauth/src/test/java/io/airbyte/oauth/flows/MicrosoftBingAdsOAuthFlowTest.java
  docs/integrations/sources/bing-ads.md
Labels: area/connectors, area/documentation

🎉 Source Bing Ads: implement `OAuth2.0` support, remove `redirect_uri`, change `Account ID` to `User ID` in spec (#12937)
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-bing-ads/Dockerfile
  airbyte-integrations/connectors/source-bing-ads/README.md
  airbyte-integrations/connectors/source-bing-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-bing-ads/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-bing-ads/setup.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/client.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/reports.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/accounts.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/source.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/spec.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/accountperformancereportmonthly_records.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/accounts_records.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_source.py
  airbyte-oauth/src/main/java/io/airbyte/oauth/OAuthImplementationFactory.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/MicrosoftBingAdsOAuthFlow.java
  airbyte-oauth/src/test/java/io/airbyte/oauth/flows/MicrosoftBingAdsOAuthFlowTest.java
  docs/integrations/sources/bing-ads.md
Labels: area/connectors, area/documentation

updated cursor_field name for HydroVu source connector
  airbyte-integrations/connectors/source-hydrovu/source_hydrovu/source.py
Labels: area/connectors

.github/labeler.yml:

# union of frontend, api, server, scheduler, protocol, worker, kubernetes
area/platform:
  - airbyte-webapp/*
  - airbyte-webapp/**/*
  - airbyte-api/*
  - airbyte-api/**/*
  - airbyte-server/*
  - airbyte-server/**/*
  - airbyte-scheduler/*
  - airbyte-scheduler/**/*
  - airbyte-protocol/*
  - airbyte-protocol/**/*
  - airbyte-workers/*
  - airbyte-workers/**/*
  - kube/*
  - kube/**/*
  - charts/*
  - charts/**/*

team/frontend:
  - airbyte-webapp/*
  - airbyte-webapp/**/*

area/api:
  - airbyte-api/*
  - airbyte-api/**/*

area/server:
  - airbyte-server/*
  - airbyte-server/**/*

area/scheduler:
  - airbyte-scheduler/*
  - airbyte-scheduler/**/*

area/protocol:
  - airbyte-protocol/*
  - airbyte-protocol/**/*

area/worker:
  - airbyte-workers/*
  - airbyte-workers/**/*

kubernetes:
  - kube/*
  - kube/**/*
  - charts/*
  - charts/**/*

area/connectors:
  - airbyte-integrations/connectors/*
  - airbyte-integrations/connectors/**/*
  - airbyte-integrations/builds.md

area/documentation:
  - docs/*
  - docs/**/*

CDK:
  - airbyte-cdk/*
  - airbyte-cdk/**/*

normalization:
  - airbyte-integrations/bases/base-normalization/*
  - airbyte-integrations/bases/base-normalization/**/*
