Repository airbytehq/airbyte, changes with the labels that .github/labeler.yml gives for each.
All labels: area/platform, team/frontend, area/api, area/server, area/scheduler, area/protocol, area/worker, kubernetes, area/connectors, area/documentation, CDK, normalization

leverage generator
  airbyte-cdk/python/airbyte_cdk/sources/configurable/retrievers/simple_retriever.py
Labels: CDK

mvoe isWorkflowStateRunning into ConnectionManagerUtils to be more direct
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/ConnectionManagerUtils.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalClient.java
Labels: area/platform, area/worker

format
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalClient.java
Labels: area/platform, area/worker

Add logic to recover from quarantined and completed states (#13071)
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/ConnectionManagerUtils.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalClient.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/exception/UnreachableWorkflowException.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/TemporalClientTest.java
Labels: area/platform, area/worker

Add logic to recover from quarantined and completed states (#13071)
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/ConnectionManagerUtils.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalClient.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/exception/UnreachableWorkflowException.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/TemporalClientTest.java
Labels: area/platform, area/worker

Add logic to recover from quarantined and completed states (#13071)
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/ConnectionManagerUtils.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalClient.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/exception/UnreachableWorkflowException.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/TemporalClientTest.java
Labels: area/platform, area/worker

add incremental for `workflowruns`
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/source_github/streams.py
  docs/integrations/sources/github.md
Labels: area/connectors, area/documentation

github.md updated
  docs/integrations/sources/github.md
Labels: area/documentation

11797 New SFTP source
  airbyte-integrations/connectors/source-sftp/.dockerignore
  airbyte-integrations/connectors/source-sftp/Dockerfile
  airbyte-integrations/connectors/source-sftp/README.md
  airbyte-integrations/connectors/source-sftp/build.gradle
  airbyte-integrations/connectors/source-sftp/src/main/java/io/airbyte/integrations/source/sftp/SftpClient.java
  airbyte-integrations/connectors/source-sftp/src/main/java/io/airbyte/integrations/source/sftp/SftpCommand.java
  airbyte-integrations/connectors/source-sftp/src/main/java/io/airbyte/integrations/source/sftp/SftpSource.java
  airbyte-integrations/connectors/source-sftp/src/main/java/io/airbyte/integrations/source/sftp/enums/SftpAuthMethod.java
  airbyte-integrations/connectors/source-sftp/src/main/java/io/airbyte/integrations/source/sftp/enums/SupportedFileExtension.java
  airbyte-integrations/connectors/source-sftp/src/main/java/io/airbyte/integrations/source/sftp/parsers/CsvFileParser.java
  airbyte-integrations/connectors/source-sftp/src/main/java/io/airbyte/integrations/source/sftp/parsers/JsonFileParser.java
  airbyte-integrations/connectors/source-sftp/src/main/java/io/airbyte/integrations/source/sftp/parsers/SftpFileParser.java
  airbyte-integrations/connectors/source-sftp/src/main/java/io/airbyte/integrations/source/sftp/parsers/SftpFileParserFactory.java
  airbyte-integrations/connectors/source-sftp/src/main/java/io/airbyte/integrations/source/sftp/util/JsonSchemaGenerator.java
  airbyte-integrations/connectors/source-sftp/src/main/resources/spec.json
  airbyte-integrations/connectors/source-sftp/src/test-integration/java/io/airbyte/integrations/source/sftp/SftpSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-sftp/src/test-integration/resources/sftp/Dockerfile
  airbyte-integrations/connectors/source-sftp/src/test-integration/resources/sftp/error-20220419.csv
  airbyte-integrations/connectors/source-sftp/src/test-integration/resources/sftp/log-20220419.csv
  airbyte-integrations/connectors/source-sftp/src/test-integration/resources/sftp/log-20220420.json
  airbyte-integrations/connectors/source-sftp/src/test/java/io/airbyte/integrations/source/sftp/parsers/CsvFileParserTest.java
  airbyte-integrations/connectors/source-sftp/src/test/java/io/airbyte/integrations/source/sftp/parsers/JsonFileParserTest.java
  airbyte-integrations/connectors/source-sftp/src/test/resources/log-test.csv
  airbyte-integrations/connectors/source-sftp/src/test/resources/log-test.json
  docs/SUMMARY.md
  docs/integrations/sources/sftp.md
Labels: area/connectors, area/documentation

fix
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.py
Labels: area/connectors

fix
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
Labels: area/connectors

Update airbyte-integrations/bases/base-normalization/dbt-project-template/macros/cross_db_utils/datatypes.sql
  airbyte-integrations/bases/base-normalization/dbt-project-template/macros/cross_db_utils/datatypes.sql
Labels: normalization

fix
  airbyte-oauth/src/main/java/io/airbyte/oauth/BaseOAuthFlow.java
Labels: none

configured_catalog.json, github.md updated
  airbyte-integrations/connectors/source-github/integration_tests/configured_catalog.json
  docs/integrations/sources/github.md
Labels: area/connectors, area/documentation

test
  airbyte-oauth/src/main/java/io/airbyte/oauth/BaseOAuth2Flow.java
Labels: none

🎉 Source Mixpanel: increase unit_test coverage up to 90% (#13085)
  airbyte-integrations/connectors/source-mixpanel/unit_tests/conftest.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_source.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_streams.py
Labels: area/connectors

🎉 Source Mixpanel: increase unit_test coverage up to 90% (#13085)
  airbyte-integrations/connectors/source-mixpanel/unit_tests/conftest.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_source.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_streams.py
Labels: area/connectors

🎉 Source Mixpanel: increase unit_test coverage up to 90% (#13085)
  airbyte-integrations/connectors/source-mixpanel/unit_tests/conftest.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_source.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_streams.py
Labels: area/connectors

record_slice_key added
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/source_github/utils.py
Labels: area/connectors

test
  airbyte-oauth/src/main/java/io/airbyte/oauth/BaseOAuth2Flow.java
Labels: none

test
  airbyte-oauth/src/main/java/io/airbyte/oauth/BaseOAuth2Flow.java
Labels: none

SAT fixed, abnormal_state.json added
  airbyte-integrations/connectors/source-github/acceptance-test-config.yml
  airbyte-integrations/connectors/source-github/integration_tests/abnormal_state.json
Labels: area/connectors

Firebolt destination
  airbyte-integrations/connectors/destination-firebolt/Dockerfile
  airbyte-integrations/connectors/destination-firebolt/README.md
  airbyte-integrations/connectors/destination-firebolt/bootstrap.md
  airbyte-integrations/connectors/destination-firebolt/build.gradle
  airbyte-integrations/connectors/destination-firebolt/destination_firebolt/__init__.py
  airbyte-integrations/connectors/destination-firebolt/destination_firebolt/destination.py
  airbyte-integrations/connectors/destination-firebolt/destination_firebolt/spec.json
  airbyte-integrations/connectors/destination-firebolt/destination_firebolt/writer.py
  airbyte-integrations/connectors/destination-firebolt/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/destination-firebolt/integration_tests/integration_test.py
  airbyte-integrations/connectors/destination-firebolt/integration_tests/invalid_config.json
  airbyte-integrations/connectors/destination-firebolt/integration_tests/invalid_config_s3.json
  airbyte-integrations/connectors/destination-firebolt/integration_tests/messages.jsonl
  airbyte-integrations/connectors/destination-firebolt/main.py
  airbyte-integrations/connectors/destination-firebolt/requirements.txt
  airbyte-integrations/connectors/destination-firebolt/setup.py
  airbyte-integrations/connectors/destination-firebolt/unit_tests/test_firebolt_destination.py
  airbyte-integrations/connectors/destination-firebolt/unit_tests/test_writer.py
  docs/SUMMARY.md
  docs/integrations/README.md
  docs/integrations/destinations/firebolt.md
Labels: area/connectors, area/documentation

fix params for VendorDirectFulfillmentShipping
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
Labels: area/connectors

add comments for better understanding
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
Labels: area/connectors

Fix survey_ids schema, fix epoch time start_date, add stream_slices
  airbyte-integrations/connectors/source-qualaroo/source_qualaroo/schemas/responses.json
  airbyte-integrations/connectors/source-qualaroo/source_qualaroo/source.py
  airbyte-integrations/connectors/source-qualaroo/source_qualaroo/spec.json
  airbyte-integrations/connectors/source-qualaroo/source_qualaroo/streams.py
Labels: area/connectors

updated mongo destination tests
  airbyte-integrations/connectors/destination-mongodb/src/main/java/io/airbyte/integrations/destination/mongodb/MongodbDestination.java
  airbyte-integrations/connectors/destination-mongodb/src/test-integration/java/io/airbyte/integrations/destination/mongodb/MongodbDestinationAcceptanceTest.java
Labels: area/connectors

Formatting
  airbyte-integrations/connectors/source-qualaroo/source_qualaroo/schemas/responses.json
  airbyte-integrations/connectors/source-qualaroo/source_qualaroo/source.py
  airbyte-integrations/connectors/source-qualaroo/source_qualaroo/spec.json
  airbyte-integrations/connectors/source-qualaroo/source_qualaroo/streams.py
Labels: area/connectors

test
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_source.py
Labels: area/connectors

Bump version
  airbyte-integrations/connectors/source-qualaroo/Dockerfile
  docs/integrations/sources/qualaroo.md
Labels: area/connectors, area/documentation

Update tests
  airbyte-integrations/connectors/source-qualaroo/source_qualaroo/source.py
  airbyte-integrations/connectors/source-qualaroo/source_qualaroo/streams.py
  airbyte-integrations/connectors/source-qualaroo/unit_tests/test_streams.py
Labels: area/connectors

Formatting
  airbyte-integrations/connectors/source-qualaroo/source_qualaroo/source.py
  airbyte-integrations/connectors/source-qualaroo/source_qualaroo/streams.py
Labels: area/connectors

sort AWSRegion
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/constants.py
Labels: area/connectors

clean up tests for sources
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/MssqlJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/MySqlJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-oracle/src/test/java/io/airbyte/integrations/source/oracle/OracleJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresJdbcSourceAcceptanceTest.java
Labels: area/connectors

up
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/AmazonSellerPartnerOAuthFlow.java
Labels: none

add import
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/AmazonSellerPartnerOAuthFlow.java
Labels: none

removed unused plugin form subproject
  airbyte-workers/build.gradle
Labels: area/platform, area/worker

Fix bug in response incremental stream
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/streams.py
Labels: area/connectors

Include incremental stream in integration tests configured catalog
  airbyte-integrations/connectors/source-surveymonkey/integration_tests/configured_catalog.json
Labels: area/connectors

Formatting
  airbyte-integrations/connectors/source-surveymonkey/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/streams.py
Labels: area/connectors

.github/labeler.yml:

# union of frontend, api, server, scheduler, protocol, worker, kubernetes
area/platform:
  - airbyte-webapp/*
  - airbyte-webapp/**/*
  - airbyte-api/*
  - airbyte-api/**/*
  - airbyte-server/*
  - airbyte-server/**/*
  - airbyte-scheduler/*
  - airbyte-scheduler/**/*
  - airbyte-protocol/*
  - airbyte-protocol/**/*
  - airbyte-workers/*
  - airbyte-workers/**/*
  - kube/*
  - kube/**/*
  - charts/*
  - charts/**/*

team/frontend:
  - airbyte-webapp/*
  - airbyte-webapp/**/*

area/api:
  - airbyte-api/*
  - airbyte-api/**/*

area/server:
  - airbyte-server/*
  - airbyte-server/**/*

area/scheduler:
  - airbyte-scheduler/*
  - airbyte-scheduler/**/*

area/protocol:
  - airbyte-protocol/*
  - airbyte-protocol/**/*

area/worker:
  - airbyte-workers/*
  - airbyte-workers/**/*

kubernetes:
  - kube/*
  - kube/**/*
  - charts/*
  - charts/**/*

area/connectors:
  - airbyte-integrations/connectors/*
  - airbyte-integrations/connectors/**/*
  - airbyte-integrations/builds.md

area/documentation:
  - docs/*
  - docs/**/*

CDK:
  - airbyte-cdk/*
  - airbyte-cdk/**/*

normalization:
  - airbyte-integrations/bases/base-normalization/*
  - airbyte-integrations/bases/base-normalization/**/*
