Repository airbytehq/airbyte, changes with the labels that .github/labeler.yml gives for each.
All labels: area/platform, team/frontend, area/api, area/server, area/scheduler, area/protocol, area/worker, kubernetes, area/connectors, area/documentation, CDK, normalization

.github/labeler.yml:

# union of frontend, api, server, scheduler, protocol, worker, kubernetes
area/platform:
  - airbyte-webapp/*
  - airbyte-webapp/**/*
  - airbyte-api/*
  - airbyte-api/**/*
  - airbyte-server/*
  - airbyte-server/**/*
  - airbyte-scheduler/*
  - airbyte-scheduler/**/*
  - airbyte-protocol/*
  - airbyte-protocol/**/*
  - airbyte-workers/*
  - airbyte-workers/**/*
  - kube/*
  - kube/**/*
  - charts/*
  - charts/**/*

team/frontend:
  - airbyte-webapp/*
  - airbyte-webapp/**/*

area/api:
  - airbyte-api/*
  - airbyte-api/**/*

area/server:
  - airbyte-server/*
  - airbyte-server/**/*

area/scheduler:
  - airbyte-scheduler/*
  - airbyte-scheduler/**/*

area/protocol:
  - airbyte-protocol/*
  - airbyte-protocol/**/*

area/worker:
  - airbyte-workers/*
  - airbyte-workers/**/*

kubernetes:
  - kube/*
  - kube/**/*
  - charts/*
  - charts/**/*

area/connectors:
  - airbyte-integrations/connectors/*
  - airbyte-integrations/connectors/**/*
  - airbyte-integrations/builds.md

area/documentation:
  - docs/*
  - docs/**/*

CDK:
  - airbyte-cdk/*
  - airbyte-cdk/**/*

normalization:
  - airbyte-integrations/bases/base-normalization/*
  - airbyte-integrations/bases/base-normalization/**/*

up
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_source.py
Labels: area/connectors

11797 Added readme doc
  docs/integrations/README.md
Labels: area/documentation

11797 Added readme doc
  docs/integrations/README.md
Labels: area/documentation

Remove unused imports
  airbyte-integrations/connectors/source-qualaroo/source_qualaroo/source.py
Labels: area/connectors

revert versions that were not published
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/connectors/destination-dynamodb/Dockerfile
  airbyte-integrations/connectors/destination-mssql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/destination-mssql/Dockerfile
  airbyte-integrations/connectors/destination-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/destination-mysql/Dockerfile
  airbyte-integrations/connectors/destination-oracle-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/destination-oracle/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
Labels: area/connectors

Improve check connection performance for all JDBC-related DBs (#12820)
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/connectors/destination-azure-blob-storage/Dockerfile
  airbyte-integrations/connectors/destination-clickhouse-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/destination-clickhouse/Dockerfile
  airbyte-integrations/connectors/destination-gcs/Dockerfile
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/AbstractJdbcDestination.java
  airbyte-integrations/connectors/destination-mariadb-columnstore/Dockerfile
  airbyte-integrations/connectors/destination-mssql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/destination-mssql-strict-encrypt/src/test-integration/java/io/airbyte/integrations/destination/mssql_strict_encrypt/MssqlStrictEncryptDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mssql/src/test-integration/java/io/airbyte/integrations/destination/mssql/MSSQLDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mssql/src/test-integration/java/io/airbyte/integrations/destination/mssql/MSSQLDestinationAcceptanceTestSSL.java
  airbyte-integrations/connectors/destination-oracle-strict-encrypt/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/destination-postgres/Dockerfile
  airbyte-integrations/connectors/destination-redshift/Dockerfile
  airbyte-integrations/connectors/destination-rockset/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/README.md
  docs/integrations/destinations/azureblobstorage.md
  docs/integrations/destinations/clickhouse.md
  docs/integrations/destinations/dynamodb.md
  docs/integrations/destinations/gcs.md
  docs/integrations/destinations/mariadb-columnstore.md
  docs/integrations/destinations/mssql.md
  docs/integrations/destinations/mysql.md
  docs/integrations/destinations/oracle.md
  docs/integrations/destinations/postgres.md
  docs/integrations/destinations/redshift.md
  docs/integrations/destinations/rockset.md
  docs/integrations/destinations/snowflake.md
Labels: area/connectors, area/documentation

Improve check connection performance for all JDBC-related DBs (#12820)
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/connectors/destination-azure-blob-storage/Dockerfile
  airbyte-integrations/connectors/destination-clickhouse-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/destination-clickhouse/Dockerfile
  airbyte-integrations/connectors/destination-gcs/Dockerfile
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/AbstractJdbcDestination.java
  airbyte-integrations/connectors/destination-mariadb-columnstore/Dockerfile
  airbyte-integrations/connectors/destination-mssql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/destination-mssql-strict-encrypt/src/test-integration/java/io/airbyte/integrations/destination/mssql_strict_encrypt/MssqlStrictEncryptDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mssql/src/test-integration/java/io/airbyte/integrations/destination/mssql/MSSQLDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mssql/src/test-integration/java/io/airbyte/integrations/destination/mssql/MSSQLDestinationAcceptanceTestSSL.java
  airbyte-integrations/connectors/destination-oracle-strict-encrypt/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/destination-postgres/Dockerfile
  airbyte-integrations/connectors/destination-redshift/Dockerfile
  airbyte-integrations/connectors/destination-rockset/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/README.md
  docs/integrations/destinations/azureblobstorage.md
  docs/integrations/destinations/clickhouse.md
  docs/integrations/destinations/dynamodb.md
  docs/integrations/destinations/gcs.md
  docs/integrations/destinations/mariadb-columnstore.md
  docs/integrations/destinations/mssql.md
  docs/integrations/destinations/mysql.md
  docs/integrations/destinations/oracle.md
  docs/integrations/destinations/postgres.md
  docs/integrations/destinations/redshift.md
  docs/integrations/destinations/rockset.md
  docs/integrations/destinations/snowflake.md
Labels: area/connectors, area/documentation

Improve check connection performance for all JDBC-related DBs (#12820)
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/connectors/destination-azure-blob-storage/Dockerfile
  airbyte-integrations/connectors/destination-clickhouse-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/destination-clickhouse/Dockerfile
  airbyte-integrations/connectors/destination-gcs/Dockerfile
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/AbstractJdbcDestination.java
  airbyte-integrations/connectors/destination-mariadb-columnstore/Dockerfile
  airbyte-integrations/connectors/destination-mssql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/destination-mssql-strict-encrypt/src/test-integration/java/io/airbyte/integrations/destination/mssql_strict_encrypt/MssqlStrictEncryptDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mssql/src/test-integration/java/io/airbyte/integrations/destination/mssql/MSSQLDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mssql/src/test-integration/java/io/airbyte/integrations/destination/mssql/MSSQLDestinationAcceptanceTestSSL.java
  airbyte-integrations/connectors/destination-oracle-strict-encrypt/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/destination-postgres/Dockerfile
  airbyte-integrations/connectors/destination-redshift/Dockerfile
  airbyte-integrations/connectors/destination-rockset/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/README.md
  docs/integrations/destinations/azureblobstorage.md
  docs/integrations/destinations/clickhouse.md
  docs/integrations/destinations/dynamodb.md
  docs/integrations/destinations/gcs.md
  docs/integrations/destinations/mariadb-columnstore.md
  docs/integrations/destinations/mssql.md
  docs/integrations/destinations/mysql.md
  docs/integrations/destinations/oracle.md
  docs/integrations/destinations/postgres.md
  docs/integrations/destinations/redshift.md
  docs/integrations/destinations/rockset.md
  docs/integrations/destinations/snowflake.md
Labels: area/connectors, area/documentation

remove documentation link
  airbyte-webapp/src/views/Connector/ServiceForm/components/Controls/ConnectorServiceTypeControl.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/Controls/DocumentationLink.tsx
Labels: area/platform, team/frontend

remove X from documentation panel
  airbyte-webapp/src/components/DocumentationPanel/DocumentationPanel.tsx
Labels: area/platform, team/frontend

added test for mysql destination
  airbyte-integrations/connectors/destination-mysql/src/test-integration/java/io/airbyte/integrations/destination/mysql/MySQLDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mysql/src/test/java/io/airbyte/integrations/destination/mysql/MySQLDestinationTest.java
Labels: area/connectors

up
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_source.py
Labels: area/connectors

update refresh date
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/base_insight_streams.py
Labels: area/connectors

update test_base_insight_streams
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_base_insight_streams.py
Labels: area/connectors

[9964] destination-mqtt: fixed build tests failures (#13099)
  airbyte-integrations/connectors/destination-mqtt/src/main/java/io/airbyte/integrations/destination/mqtt/MqttDestination.java
  airbyte-integrations/connectors/destination-mqtt/src/main/java/io/airbyte/integrations/destination/mqtt/MqttRecordConsumer.java
  docs/integrations/destinations/mqtt.md
Labels: area/connectors, area/documentation

[9964] destination-mqtt: fixed build tests failures (#13099)
  airbyte-integrations/connectors/destination-mqtt/src/main/java/io/airbyte/integrations/destination/mqtt/MqttDestination.java
  airbyte-integrations/connectors/destination-mqtt/src/main/java/io/airbyte/integrations/destination/mqtt/MqttRecordConsumer.java
  docs/integrations/destinations/mqtt.md
Labels: area/connectors, area/documentation

[9964] destination-mqtt: fixed build tests failures (#13099)
  airbyte-integrations/connectors/destination-mqtt/src/main/java/io/airbyte/integrations/destination/mqtt/MqttDestination.java
  airbyte-integrations/connectors/destination-mqtt/src/main/java/io/airbyte/integrations/destination/mqtt/MqttRecordConsumer.java
  docs/integrations/destinations/mqtt.md
Labels: area/connectors, area/documentation

adopt basic tests + avoid DateTime issue #13123
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryTestDataComparator.java
Labels: area/connectors

up
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_source.py
  airbyte-oauth/src/main/java/io/airbyte/oauth/BaseOAuth2Flow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/AmazonSellerPartnerOAuthFlow.java
Labels: area/connectors
