Repository airbytehq/airbyte, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api, area/connectors, area/documentation, area/octavia-cli, CDK, normalization

Fix start_date type to date
  airbyte-integrations/connectors/source-instagram/integration_tests/spec.json
  airbyte-integrations/connectors/source-instagram/source_instagram/source.py
Labels: area/connectors

Fix docs
  docs/integrations/sources/instagram.md
Labels: area/documentation

do not emit stream status if the streams are not available
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/concurrent_read_processor.py
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/concurrent_source.py
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/partition_generation_completed_sentinel.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/abstract_stream.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/partition_enqueuer.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/partitions/types.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_concurrent_partition_generator.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_concurrent_read_processor.py
Labels: CDK

rename
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/concurrent_read_processor.py
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/concurrent_source.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_concurrent_read_processor.py
Labels: CDK

Automated Commit - Formatting Changes
  airbyte-ci/connectors/metadata_service/lib/metadata_service/docker_hub.py
Labels: none

Update version
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  docs/integrations/sources/instagram.md
Labels: area/connectors, area/documentation

update
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/concurrent_source.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/abstract_stream.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/partition_enqueuer.py
Labels: CDK

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
Labels: area/connectors

Update format to use new action
  .github/workflows/approve-and-merge-demo-dispatch.yml
Labels: none

CI TEST: Benign docstring change (#32624)
  .github/workflows/approve-and-merge-demo-dispatch.yml
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/test/commands.py
Labels: none

CI TEST: Benign docstring change (#32624)
  .github/workflows/approve-and-merge-demo-dispatch.yml
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/test/commands.py
Labels: none

Benign docstring change
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/test/commands.py
Labels: none

Fix format
  .github/workflows/approve-and-merge-demo-dispatch.yml
Labels: none

CI TEST: Benign docstring change (#32628)
  .github/workflows/approve-and-merge-demo-dispatch.yml
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/test/commands.py
Labels: none

CI TEST: Benign docstring change (#32628)
  .github/workflows/approve-and-merge-demo-dispatch.yml
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/test/commands.py
Labels: none

Benign docstring change
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/test/commands.py
Labels: none

Revert
  .github/workflows/approve-and-merge-demo-dispatch.yml
Labels: none

Test CI: Benign docstring change (#32629)
  .github/workflows/approve-and-merge-demo-dispatch.yml
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/test/commands.py
Labels: none

Test CI: Benign docstring change (#32629)
  .github/workflows/approve-and-merge-demo-dispatch.yml
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/test/commands.py
Labels: none

Benign docstring change
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/test/commands.py
Labels: none

additional content and fixes
  docs/enterprise-setup/self-managed/README.md
  docs/enterprise-setup/self-managed/sso.md
  docusaurus/sidebars.js
Labels: area/documentation

Handle static args
  .github/workflows/approve-and-merge-demo-dispatch.yml
  .github/workflows/slash-commands.yml
Labels: none

TEST CI: Benign docstring change (#32630)
  .github/workflows/approve-and-merge-demo-dispatch.yml
  .github/workflows/slash-commands.yml
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/test/commands.py
Labels: none

TEST CI: Benign docstring change (#32630)
  .github/workflows/approve-and-merge-demo-dispatch.yml
  .github/workflows/slash-commands.yml
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/test/commands.py
Labels: none

TEST CI: Benign docstring change
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/test/commands.py
Labels: none

One final commit
  .github/workflows/approve-and-merge-demo-dispatch.yml
  .github/workflows/slash-commands.yml
Labels: none

TEST CI: Benign docstring change (#32631)
  .github/workflows/approve-and-merge-demo-dispatch.yml
  .github/workflows/slash-commands.yml
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/test/commands.py
Labels: none

TEST CI: Benign docstring change (#32631)
  .github/workflows/approve-and-merge-demo-dispatch.yml
  .github/workflows/slash-commands.yml
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/test/commands.py
Labels: none

TEST CI: Benign docstring change
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/test/commands.py
Labels: none

Remove accept logging
  airbyte-integrations/connectors/destination-snowflake-bulk/src/main/java/io/airbyte/integrations/destination/snowflake_bulk/BulkConsumer.java
Labels: area/connectors

sanity
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoUtil.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/MongoUtilTest.java
Labels: area/connectors

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoUtil.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/MongoUtilTest.java
Labels: area/connectors

:bug: Source Amazon Seller Partner: fix OAuth (#32550)
  airbyte-integrations/connectors/source-amazon-seller-partner/main.py
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/config_migrations.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_migrations.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_migrations/migrated_config.json
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_migrations/not_migrated_config.json
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/connectors, area/documentation

:bug: Source Amazon Seller Partner: fix OAuth (#32550)
  airbyte-integrations/connectors/source-amazon-seller-partner/main.py
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/config_migrations.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_migrations.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_migrations/migrated_config.json
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_migrations/not_migrated_config.json
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/connectors, area/documentation

bump DuckDB version to 0.9.2
  airbyte-integrations/connectors/destination-duckdb/poetry.lock
  airbyte-integrations/connectors/destination-duckdb/pyproject.toml
Labels: area/connectors

bump dockerImageTag
  airbyte-integrations/connectors/destination-duckdb/metadata.yaml
Labels: area/connectors

CU-866b161nv - 前端开发 - DA20231112-077 - change the icon field in all the responses to string
  airbyte-webapp/src/pages/ConnectionPage/pages/CreationFormPage/components/ExistingEntityForm.tsx
Labels: none

bump CDK version
  airbyte-integrations/connectors/source-mysql/build.gradle
Labels: area/connectors

use cloudDeploymentMode method
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
Labels: area/connectors

delete cloud-spec.json
  airbyte-integrations/connectors/source-mysql/src/main/resources/cloud-spec.json
Labels: area/connectors

.github/labeler.yml:

# Union of api, connectors, documentation, octavia-cli, CDK and normalization.
area/api:
  - airbyte-api/*
  - airbyte-api/**/*

area/connectors:
  - airbyte-integrations/connectors/*
  - airbyte-integrations/connectors/**/*

area/documentation:
  - docs/*
  - docs/**/*

area/octavia-cli:
  - octavia-cli/*
  - octavia-cli/**/*

CDK:
  - airbyte-cdk/*
  - airbyte-cdk/**/*

normalization:
  - airbyte-integrations/bases/base-normalization/*
  - airbyte-integrations/bases/base-normalization/**/*
