Repository airbytehq/airbyte, changes with the labels that .github/labeler.yml gives for each.
All labels: area/frontend, area/api, area/core, area/protocol, area/worker, area/connectors, area/documentation, CDK, normalization

.github/labeler.yml:

area/frontend:
  - airbyte-webapp/*
  - airbyte-webapp/**/*

area/api:
  - airbyte-api/*
  - airbyte-api/**/*

area/core:
  - airbyte-server/*
  - airbyte-server/**/*
  - airbyte-scheduler/*
  - airbyte-scheduler/**/*

area/protocol:
  - airbyte-protocol/*
  - airbyte-protocol/**/*

area/worker:
  - airbyte-workers/*
  - airbyte-workers/**/*

area/connectors:
  - airbyte-integrations/connectors/*
  - airbyte-integrations/connectors/**/*
  - airbyte-integrations/builds.md

area/documentation:
  - docs/*
  - docs/**/*

CDK:
  - airbyte-cdk/*
  - airbyte-cdk/**/*

normalization:
  - airbyte-integrations/bases/base-normalization/*
  - airbyte-integrations/bases/base-normalization/**/*

display exception when getting address in use error
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubeProcessFactory.java
Labels: area/worker

6/17 changelog updates
  docs/project-overview/changelog/connectors.md
  docs/project-overview/changelog/platform.md
Labels: area/documentation

retry installing socat
  .github/workflows/gradle.yml
Labels: none

try inet4 address specifically
  airbyte-workers/src/test-integration/java/io/airbyte/workers/process/KubePodProcessIntegrationTest.java
Labels: area/worker

switch order of install
  .github/workflows/gradle.yml
Labels: none

6/17 changelog updates (#4194)
  docs/project-overview/changelog/connectors.md
  docs/project-overview/changelog/platform.md
Labels: area/documentation

6/17 changelog updates (#4194)
  docs/project-overview/changelog/connectors.md
  docs/project-overview/changelog/platform.md
Labels: area/documentation

6/17 changelog updates (#4194)
  docs/project-overview/changelog/connectors.md
  docs/project-overview/changelog/platform.md
Labels: area/documentation

use unique ports for each
  airbyte-workers/src/test-integration/java/io/airbyte/workers/process/KubePodProcessIntegrationTest.java
Labels: area/worker
