Repository airbytehq/airbyte, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api, area/connectors, area/documentation, area/octavia-cli, CDK, normalization

.github/labeler.yml:

# Union of api, connectors, documentation, octavia-cli, CDK and normalization.
area/api:
  - airbyte-api/*
  - airbyte-api/**/*

area/connectors:
  - airbyte-integrations/connectors/*
  - airbyte-integrations/connectors/**/*

area/documentation:
  - docs/*
  - docs/**/*

area/octavia-cli:
  - octavia-cli/*
  - octavia-cli/**/*

CDK:
  - airbyte-cdk/*
  - airbyte-cdk/**/*

normalization:
  - airbyte-integrations/bases/base-normalization/*
  - airbyte-integrations/bases/base-normalization/**/*

changelog
  docs/integrations/sources/mongodb-v2.md
Labels: area/documentation

self-managed docs rewrite (#32605)
  docs/deploying-airbyte/on-kubernetes-via-helm.md
  docs/enterprise-setup/assets/okta-app-integration-name.png
  docs/enterprise-setup/assets/okta-create-new-app-integration.png
  docs/enterprise-setup/assets/okta-login-redirect-uris.png
  docs/enterprise-setup/self-managed/README.md
  docs/enterprise-setup/self-managed/implementation-guide.md
  docs/enterprise-setup/self-managed/sso.md
  docusaurus/redirects.yml
  docusaurus/sidebars.js
Labels: area/documentation

self-managed docs rewrite (#32605)
  docs/deploying-airbyte/on-kubernetes-via-helm.md
  docs/enterprise-setup/assets/okta-app-integration-name.png
  docs/enterprise-setup/assets/okta-create-new-app-integration.png
  docs/enterprise-setup/assets/okta-login-redirect-uris.png
  docs/enterprise-setup/self-managed/README.md
  docs/enterprise-setup/self-managed/implementation-guide.md
  docs/enterprise-setup/self-managed/sso.md
  docusaurus/redirects.yml
  docusaurus/sidebars.js
Labels: area/documentation

hack
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/db/jdbc/AbstractJdbcCompatibleSourceOperations.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/db/jdbc/JdbcSourceOperations.java
Labels: CDK

remove useless comment
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/concurrent_read_processor.py
Labels: CDK

Add poc of the cdk image publish
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/cdk_publish/__init__.py
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/cdk_publish/commands.py
  airbyte-ci/connectors/pipelines/pipelines/cli/airbyte_ci.py
Labels: none

Automated Commit - Formatting Changes
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/db/jdbc/AbstractJdbcCompatibleSourceOperations.java
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
Labels: area/connectors, CDK

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
Labels: area/connectors

update ref to published cdk
  airbyte-integrations/connectors/source-mongodb-v2/build.gradle
Labels: area/connectors

Fix metadata
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
Labels: area/connectors

Hotfix: Fix formatting issue (#32619)
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
Labels: area/connectors

Hotfix: Fix formatting issue (#32619)
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
Labels: area/connectors

move to redshift-specific class
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/db/jdbc/AbstractJdbcCompatibleSourceOperations.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/db/jdbc/JdbcSourceOperations.java
  airbyte-integrations/connectors/source-redshift/src/main/java/io/airbyte/integrations/source/redshift/RedshiftSourceOperations.java
Labels: area/connectors, CDK

fully revert
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/db/jdbc/AbstractJdbcCompatibleSourceOperations.java
Labels: CDK

CI: Add a test version of the approve and merge command that requires required checks to be passing (#32612)
  .github/workflows/airbyte-ci-tests.yml
  .github/workflows/approve-and-merge-demo-dispatch.yml
  .github/workflows/format_fix.yml
  .github/workflows/gradle.yml
  .github/workflows/slash-commands.yml
Labels: none

CI: Add a test version of the approve and merge command that requires required checks to be passing (#32612)
  .github/workflows/airbyte-ci-tests.yml
  .github/workflows/approve-and-merge-demo-dispatch.yml
  .github/workflows/format_fix.yml
  .github/workflows/gradle.yml
  .github/workflows/slash-commands.yml
Labels: none

Benign docstring change
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/test/commands.py
Labels: none

Add case for null types that haven't otherwise been handled
  airbyte-integrations/connectors/destination-s3-glue/src/main/java/io/airbyte/integrations/destination/s3_glue/GlueOperations.java
Labels: area/connectors

Update to v3
  .github/workflows/approve-and-merge-demo-dispatch.yml
  .github/workflows/slash-commands.yml
Labels: none

update ahref
  docs/cloud/core-concepts.md
  docs/cloud/getting-started-with-airbyte-cloud.md
Labels: area/documentation

CI TEST: Benign docstring change (#32620)
  .github/workflows/approve-and-merge-demo-dispatch.yml
  .github/workflows/slash-commands.yml
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/test/commands.py
Labels: none

CI TEST: Benign docstring change (#32620)
  .github/workflows/approve-and-merge-demo-dispatch.yml
  .github/workflows/slash-commands.yml
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/test/commands.py
Labels: none

Benign docstring change
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/test/commands.py
Labels: none

Repository dispatch
  .github/workflows/slash-commands.yml
Labels: none

CI TEST: Benign docstring change (#32621)
  .github/workflows/slash-commands.yml
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/test/commands.py
Labels: none

CI TEST: Benign docstring change (#32621)
  .github/workflows/slash-commands.yml
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/test/commands.py
Labels: none

Benign docstring change
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/test/commands.py
Labels: none

updated description and order in spec
  airbyte-integrations/connectors/source-pinterest/source_pinterest/source.py
  airbyte-integrations/connectors/source-pinterest/source_pinterest/spec.json
Labels: area/connectors

Format only
  .github/workflows/approve-and-merge-demo-dispatch.yml
Labels: none

CI TEST: Benign docstring change (#32622)
  .github/workflows/approve-and-merge-demo-dispatch.yml
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/test/commands.py
Labels: none

CI TEST: Benign docstring change (#32622)
  .github/workflows/approve-and-merge-demo-dispatch.yml
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/test/commands.py
Labels: none

Benign docstring change
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/test/commands.py
Labels: none

Updated reports stream schema
  airbyte-integrations/connectors/source-pendo-python/source_pendo_python/schemas/report.json
Labels: area/connectors

Apply all rules
  .github/workflows/approve-and-merge-demo-dispatch.yml
Labels: none

CI TEST: Benign docstring change (#32623)
  .github/workflows/approve-and-merge-demo-dispatch.yml
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/test/commands.py
Labels: none

CI TEST: Benign docstring change (#32623)
  .github/workflows/approve-and-merge-demo-dispatch.yml
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/test/commands.py
Labels: none

Benign docstring change
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/test/commands.py
Labels: none

Update implementation-guide.md
  docs/enterprise-setup/self-managed/implementation-guide.md
Labels: area/documentation

fixed report_config start_date
  airbyte-integrations/connectors/source-pinterest/source_pinterest/source.py
Labels: area/connectors

Add retry functionality
  airbyte-ci/connectors/metadata_service/lib/metadata_service/docker_hub.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/validators/metadata_validator.py
Labels: none
