Repository airbytehq/airbyte, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api, area/connectors, area/documentation, area/octavia-cli, CDK, normalization

bump version
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  docs/integrations/sources/mysql.md
Labels: area/connectors, area/documentation

Small type fixed - An JSON -> A JSON
  docs/understanding-airbyte/airbyte-protocol.md
Labels: area/documentation

Address PR comments
  airbyte-integrations/connectors/source-confluence/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-confluence/source_confluence/manifest.yaml
  airbyte-integrations/connectors/source-confluence/source_confluence/schemas/space.json
Labels: area/connectors

update availability strategy
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/source_stripe/availability_strategy.py
  airbyte-integrations/connectors/source-stripe/source_stripe/stream_helpers.py
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_availability_strategy.py
  docs/integrations/sources/stripe.md
Labels: area/connectors, area/documentation

upd changelog
  docs/integrations/sources/stripe.md
Labels: area/documentation

🐛CDK: Fix of generate the error message using _try_get_error based on list of errors (#32545)
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/http_requester.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/test_http_requester.py
Labels: CDK

🐛CDK: Fix of generate the error message using _try_get_error based on list of errors (#32545)
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/http_requester.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/test_http_requester.py
Labels: CDK

🤖 Bump patch version of Python CDK
  airbyte-cdk/python/.bumpversion.cfg
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/Dockerfile
  airbyte-cdk/python/setup.py
Labels: CDK

🤖 Bump patch version of Python CDK
  airbyte-cdk/python/.bumpversion.cfg
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/Dockerfile
  airbyte-cdk/python/setup.py
Labels: CDK

Small typo fixed - An JSON -> A JSON (#32637)
  docs/understanding-airbyte/airbyte-protocol.md
Labels: area/documentation

Small typo fixed - An JSON -> A JSON (#32637)
  docs/understanding-airbyte/airbyte-protocol.md
Labels: area/documentation

✨ Source Pinterest: Marked start date as optional; add missing fields; add suggested streams (#32592)
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  airbyte-integrations/connectors/source-pinterest/setup.py
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/ad_groups.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/ads.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/board_pins.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/board_section_pins.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/campaigns.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/source.py
  airbyte-integrations/connectors/source-pinterest/source_pinterest/spec.json
  docs/integrations/sources/pinterest.md
Labels: area/connectors, area/documentation

✨ Source Pinterest: Marked start date as optional; add missing fields; add suggested streams (#32592)
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  airbyte-integrations/connectors/source-pinterest/setup.py
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/ad_groups.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/ads.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/board_pins.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/board_section_pins.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/campaigns.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/source.py
  airbyte-integrations/connectors/source-pinterest/source_pinterest/spec.json
  docs/integrations/sources/pinterest.md
Labels: area/connectors, area/documentation

update streams with a different availability strategy
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_availability_strategy.py
Labels: area/connectors

remove required replication start date from spec, make it optional
  airbyte-integrations/connectors/source-amazon-seller-partner/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_source.py
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/connectors, area/documentation

updated changelog and CAT config
  airbyte-integrations/connectors/source-amazon-seller-partner/acceptance-test-config.yml
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/connectors, area/documentation

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
Labels: area/connectors

fix changelog
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation

Deprecate langchain destination (#32455)
  airbyte-integrations/connectors/destination-langchain/Dockerfile
  airbyte-integrations/connectors/destination-langchain/metadata.yaml
  airbyte-integrations/connectors/destination-langchain/setup.py
  docs/integrations/destinations/langchain.md
Labels: area/connectors, area/documentation

Deprecate langchain destination (#32455)
  airbyte-integrations/connectors/destination-langchain/Dockerfile
  airbyte-integrations/connectors/destination-langchain/metadata.yaml
  airbyte-integrations/connectors/destination-langchain/setup.py
  docs/integrations/destinations/langchain.md
Labels: area/connectors, area/documentation

🐛 Source Bing Ads: Fix start date parsing from stream state (#32597)
  airbyte-integrations/connectors/source-bing-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/report_streams.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_reports.py
  docs/integrations/sources/bing-ads.md
Labels: area/connectors, area/documentation

🐛 Source Bing Ads: Fix start date parsing from stream state (#32597)
  airbyte-integrations/connectors/source-bing-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/report_streams.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_reports.py
  docs/integrations/sources/bing-ads.md
Labels: area/connectors, area/documentation

Source Bing Ads: refactor
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
Labels: area/connectors

Source Bing Ads: fix merge conflicts
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
Labels: area/connectors

Source Bing Ads: unpin version
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
Labels: area/connectors

Source Amazon Seller Partner: fix method typo naming
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
Labels: area/connectors

🐛 Source Instagram: Change start_date type to date; fix docs (#32627)
  airbyte-integrations/connectors/source-instagram/integration_tests/spec.json
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  airbyte-integrations/connectors/source-instagram/source_instagram/source.py
  docs/integrations/sources/instagram.md
Labels: area/connectors, area/documentation

🐛 Source Instagram: Change start_date type to date; fix docs (#32627)
  airbyte-integrations/connectors/source-instagram/integration_tests/spec.json
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  airbyte-integrations/connectors/source-instagram/source_instagram/source.py
  docs/integrations/sources/instagram.md
Labels: area/connectors, area/documentation

Add primary key for UserLifetimeInsights and UserInsights
  airbyte-integrations/connectors/source-instagram/source_instagram/streams.py
Labels: area/connectors

Add airbyte_type for timestamp fields
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/media.json
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/user_insights.json
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/user_lifetime_insights.json
Labels: area/connectors

Fix breaking changes messages
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  docs/integrations/sources/instagram-migrations.md
Labels: area/connectors, area/documentation

Fix formatting error
  airbyte-integrations/connectors/source-instagram/source_instagram/common.py
  airbyte-integrations/connectors/source-instagram/source_instagram/streams.py
Labels: area/connectors

Add transforming timestamps to RFC3339
  airbyte-integrations/connectors/source-instagram/source_instagram/common.py
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/stories.json
  airbyte-integrations/connectors/source-instagram/source_instagram/streams.py
  airbyte-integrations/connectors/source-instagram/unit_tests/test_common.py
  airbyte-integrations/connectors/source-instagram/unit_tests/test_streams.py
Labels: area/connectors

Fix typo in airbyte_type
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/media.json
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/user_insights.json
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/user_lifetime_insights.json
Labels: area/connectors

Fix transforming timestamp to RFC3339
  airbyte-integrations/connectors/source-instagram/source_instagram/common.py
  airbyte-integrations/connectors/source-instagram/source_instagram/streams.py
  airbyte-integrations/connectors/source-instagram/unit_tests/test_common.py
  airbyte-integrations/connectors/source-instagram/unit_tests/test_streams.py
Labels: area/connectors

Update version
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  docs/integrations/sources/instagram-migrations.md
  docs/integrations/sources/instagram.md
Labels: area/connectors, area/documentation

Fix expected records
  airbyte-integrations/connectors/source-instagram/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-instagram/unit_tests/test_common.py
Labels: area/connectors

typo fix
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
Labels: area/connectors

Source Facebook Marketing: enable support for multi-account ad rules library retrieval
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_multi_account.py
Labels: area/connectors

update expected records
  airbyte-integrations/connectors/source-stripe/integration_tests/expected_records.jsonl
Labels: area/connectors

.github/labeler.yml:

# Union of api, connectors, documentation, octavia-cli, CDK and normalization.
area/api:
  - airbyte-api/*
  - airbyte-api/**/*

area/connectors:
  - airbyte-integrations/connectors/*
  - airbyte-integrations/connectors/**/*

area/documentation:
  - docs/*
  - docs/**/*

area/octavia-cli:
  - octavia-cli/*
  - octavia-cli/**/*

CDK:
  - airbyte-cdk/*
  - airbyte-cdk/**/*

normalization:
  - airbyte-integrations/bases/base-normalization/*
  - airbyte-integrations/bases/base-normalization/**/*
