Repository airbytehq/airbyte, changes with the labels that .github/labeler.yml gives for each.
All labels: area/api, area/connectors, area/documentation, area/octavia-cli, CDK, normalization

:bug: CDK: Apply log level on the entrypoint's logger (#32410)
  airbyte-cdk/python/airbyte_cdk/entrypoint.py
  airbyte-cdk/python/airbyte_cdk/utils/is_cloud_environment.py
Labels: CDK

:bug: CDK: Apply log level on the entrypoint's logger (#32410)
  airbyte-cdk/python/airbyte_cdk/entrypoint.py
  airbyte-cdk/python/airbyte_cdk/utils/is_cloud_environment.py
Labels: CDK

📝 Update partition docs to reflect parent stream / parameterized requests UI split (#32409)
  docs/connector-development/connector-builder-ui/partitioning.md
Labels: area/documentation

📝 Update partition docs to reflect parent stream / parameterized requests UI split (#32409)
  docs/connector-development/connector-builder-ui/partitioning.md
Labels: area/documentation

add foreign key segment_id to record
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/segment_members.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/streams.py
Labels: area/connectors

useLocalCdk = false
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-snowflake/build.gradle
Labels: area/connectors

feat: add default note for timezone
  airbyte-integrations/connectors/source-snapchat-marketing/source_snapchat_marketing/source.py
Labels: area/connectors

Source Bing Ads: update expected records
  airbyte-integrations/connectors/source-bing-ads/integration_tests/expected_records.jsonl
Labels: area/connectors

Async Destinations - Make debug messages less scary (#32526)
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/FlushWorkers.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/buffers/BufferManager.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/snowflake.md
Labels: area/connectors, area/documentation, CDK

Async Destinations - Make debug messages less scary (#32526)
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/FlushWorkers.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/buffers/BufferManager.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/snowflake.md
Labels: area/connectors, area/documentation, CDK

pass airbytestream instead of configured stream to as_airbyte_message (#32412)
  airbyte-cdk/python/airbyte_cdk/sources/abstract_source.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/manifest_declarative_source.py
  airbyte-cdk/python/airbyte_cdk/utils/stream_status_utils.py
  airbyte-cdk/python/unit_tests/utils/test_stream_status_utils.py
Labels: CDK

pass airbytestream instead of configured stream to as_airbyte_message (#32412)
  airbyte-cdk/python/airbyte_cdk/sources/abstract_source.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/manifest_declarative_source.py
  airbyte-cdk/python/airbyte_cdk/utils/stream_status_utils.py
  airbyte-cdk/python/unit_tests/utils/test_stream_status_utils.py
Labels: CDK

Source Bing Ads: update expected records
  airbyte-integrations/connectors/source-bing-ads/integration_tests/expected_records.jsonl
Labels: area/connectors

🤖 Bump patch version of Python CDK
  airbyte-cdk/python/.bumpversion.cfg
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/Dockerfile
  airbyte-cdk/python/setup.py
Labels: CDK

🤖 Bump patch version of Python CDK
  airbyte-cdk/python/.bumpversion.cfg
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/Dockerfile
  airbyte-cdk/python/setup.py
Labels: CDK

remove html table
  docs/cloud/managing-airbyte-cloud/manage-schema-changes.md
  docs/integrations/destinations/firestore.md
Labels: area/documentation

Hubspot PoC
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/state_converter.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/source.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
Labels: area/connectors, CDK

Source Bing Ads: update expected records
  airbyte-integrations/connectors/source-bing-ads/integration_tests/expected_records.jsonl
Labels: area/connectors

Docs: Updates Stripe Source Connector Docs (Removes inapp page, adds <HideInUI>, adds Limitations & Troubleshooting) (#32370)
  docs/integrations/sources/stripe.inapp.md
  docs/integrations/sources/stripe.md
Labels: area/documentation

Docs: Updates Stripe Source Connector Docs (Removes inapp page, adds <HideInUI>, adds Limitations & Troubleshooting) (#32370)
  docs/integrations/sources/stripe.inapp.md
  docs/integrations/sources/stripe.md
Labels: area/documentation

Docs: Updates Exchange Rates API Source Connector Docs (Removes inapp page, adds <HideInUI>, adds Limitations & Troubleshooting) (#32369)
  docs/integrations/sources/exchange-rates.inapp.md
  docs/integrations/sources/exchange-rates.md
Labels: area/documentation

Docs: Updates Exchange Rates API Source Connector Docs (Removes inapp page, adds <HideInUI>, adds Limitations & Troubleshooting) (#32369)
  docs/integrations/sources/exchange-rates.inapp.md
  docs/integrations/sources/exchange-rates.md
Labels: area/documentation

Source Bing Ads: update upgradeDeadline
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
Labels: area/connectors

Docs: Updates Zendesk Support Source Connector Docs (Removes inapp page, adds <HideInUI>, adds Limitations & Troubleshooting) (#32368)
  docs/integrations/sources/zendesk-support.inapp.md
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation

Docs: Updates Zendesk Support Source Connector Docs (Removes inapp page, adds <HideInUI>, adds Limitations & Troubleshooting) (#32368)
  docs/integrations/sources/zendesk-support.inapp.md
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation

Docs: Updates Google Analytics v4 Source Connector Docs (Removes inapp page, adds <HideInUI>, adds Limitations & Troubleshooting) (#32367)
  docs/integrations/sources/google-analytics-v4.inapp.md
  docs/integrations/sources/google-analytics-v4.md
Labels: area/documentation

Docs: Updates Google Analytics v4 Source Connector Docs (Removes inapp page, adds <HideInUI>, adds Limitations & Troubleshooting) (#32367)
  docs/integrations/sources/google-analytics-v4.inapp.md
  docs/integrations/sources/google-analytics-v4.md
Labels: area/documentation

Mailchimp Source: Updated QL to 200 (#32393)
  airbyte-integrations/connectors/source-mailchimp/metadata.yaml
Labels: area/connectors

Mailchimp Source: Updated QL to 200 (#32393)
  airbyte-integrations/connectors/source-mailchimp/metadata.yaml
Labels: area/connectors

Automated Commit - Formatting Changes
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestination.java
Labels: CDK

Automated Commit - Formatting Changes
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/TypeInfoRecordSet.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcV1V2Migrator.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGeneratorIntegrationTest.java
Labels: area/connectors, CDK

destination redshift v2: implement migrator (#32524)
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcDestinationHandler.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcTyperDeduper.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcV1V2Migrator.java
Labels: CDK

cleanup
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcSqlGenerator.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/Array.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/Struct.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/Union.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/UnsupportedOneOf.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGenerator.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGenerator.java
Labels: area/connectors, CDK

set of squashed commits to make rebases easier:
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestination.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/CustomSqlType.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/JdbcBufferedConsumerFactory.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/JdbcMetaDataUtils.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/JdbcSqlOperations.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/SqlOperations.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/SqlOperationsUtils.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/TableSchemaRecordSet.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/TypeInfoRecordSet.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/WriteConfig.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcDestinationHandler.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcSqlGenerator.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcTyperDeduper.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/AirbyteProtocolType.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/AirbyteType.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/Array.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/SqlGenerator.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/Struct.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/TypeAndDedupeQueryBuilder.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/TypeAndDedupeTransaction.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/Union.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/UnsupportedOneOf.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/test/java/io/airbyte/integrations/base/destination/typing_deduping/MockSqlGenerator.java
  airbyte-integrations/bases/bases-destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/typing_deduping/JdbcDestinationHandler.java
  airbyte-integrations/bases/bases-destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/typing_deduping/JdbcSqlGenerator.java
  airbyte-integrations/bases/bases-destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/typing_deduping/JdbcTyperDeduper.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGenerator.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGenerator.java
  airbyte-integrations/connectors/destination-redshift/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGenerator.java
Labels: area/connectors, CDK

wire in migrator? maybe I'll regret this later
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestination.java
Labels: CDK

Automated Commit - Formatting Changes
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGeneratorIntegrationTest.java
Labels: area/connectors

mistyped field
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGeneratorIntegrationTest.java
Labels: area/connectors

make jdbcsqlgenerator abstract (#32532)
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestination.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcSqlGenerator.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/test/java/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestinationTest.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftInsertDestination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftStagingS3Destination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGenerator.java
Labels: area/connectors, CDK

add getQuote method to JdbcSqlGenerator
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcSqlGenerator.java
Labels: CDK

checkpoint
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/TypeInfoRecordSet.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcSqlGenerator.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcV1V2Migrator.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGeneratorIntegrationTest.java
Labels: area/connectors, CDK

.github/labeler.yml:

# Union of api, connectors, documentation, octavia-cli, CDK and normalization.
area/api:
  - airbyte-api/*
  - airbyte-api/**/*

area/connectors:
  - airbyte-integrations/connectors/*
  - airbyte-integrations/connectors/**/*

area/documentation:
  - docs/*
  - docs/**/*

area/octavia-cli:
  - octavia-cli/*
  - octavia-cli/**/*

CDK:
  - airbyte-cdk/*
  - airbyte-cdk/**/*

normalization:
  - airbyte-integrations/bases/base-normalization/*
  - airbyte-integrations/bases/base-normalization/**/*
