Repository airbytehq/airbyte, pull requests merged in 2020-09, with the labels that each got.

#170 Source pages
  dataline-webapp/src/core/resources/BaseResource.ts
  dataline-webapp/src/core/resources/Connection.ts
  dataline-webapp/src/pages/OnboardingPage/OnboardingPage.tsx
  dataline-webapp/src/pages/OnboardingPage/components/ConnectionStep.tsx
  dataline-webapp/src/pages/SourcesPage/SourcesPage.tsx
  dataline-webapp/src/pages/SourcesPage/pages/AllSourcesPage/components/FrequencyCell.tsx
  dataline-webapp/src/pages/SourcesPage/pages/AllSourcesPage/components/LastSyncCell.tsx
  dataline-webapp/src/pages/SourcesPage/pages/AllSourcesPage/components/NameCell.tsx
  dataline-webapp/src/pages/SourcesPage/pages/AllSourcesPage/components/SourcesTable.tsx
  dataline-webapp/src/pages/SourcesPage/pages/AllSourcesPage/components/StatusCell.tsx
  dataline-webapp/src/pages/SourcesPage/pages/CreateSourcePage/CreateSourcePage.tsx
  dataline-webapp/src/pages/SourcesPage/pages/SourceItemPage/SourceItemPage.tsx
  dataline-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/DeleteModal.tsx
  dataline-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/DeleteSource.tsx
  dataline-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SettingsView.tsx
  dataline-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/StatusMainInfo.tsx
  dataline-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/StatusView.tsx
Labels: area/frontend

#215 First process to push integrations
  .github/workflows/gradle.yml
  dataline-config/init/src/main/resources/config/SOURCE_CONNECTION_SPECIFICATION/37eb2ebf-0899-4b22-aba8-8537ec88b5a8.json
  dataline-config/init/src/main/resources/config/STANDARD_SOURCE/9fed261d-d107-47fd-8c8b-323023db6e20.json
  dataline-integrations/build.gradle
  dataline-integrations/singer/bigquery/build.gradle
  dataline-integrations/singer/bigquery/destination/.dockerignore
  dataline-integrations/singer/bigquery/destination/Dockerfile
  dataline-integrations/singer/bigquery/destination/README.md
  dataline-integrations/singer/bigquery/destination/bigquery-destination.sh
  dataline-integrations/singer/bigquery/destination/build.gradle
  dataline-integrations/singer/bigquery/destination/docker/.dockerignore
  dataline-integrations/singer/bigquery/destination/docker/build.gradle
  dataline-integrations/singer/bigquery/destination/requirements.txt
  dataline-integrations/singer/bigquery/destination/src/test-integration/java/io/dataline/integration_tests/destinations/TestBigQueryDestination.java
  dataline-integrations/singer/bigquery/destination/src/test-integration/resources/singer-tap-output.txt
  dataline-integrations/singer/build.gradle
  dataline-integrations/singer/csv/destination/Dockerfile
  dataline-integrations/singer/exchangerateapi_io/source/.dockerignore
  dataline-integrations/singer/exchangerateapi_io/source/Dockerfile
  dataline-integrations/singer/exchangerateapi_io/source/README.md
  dataline-integrations/singer/exchangerateapi_io/source/build.gradle
  dataline-integrations/singer/postgres/build.gradle
  dataline-integrations/singer/postgres/destination/.dockerignore
  dataline-integrations/singer/postgres/destination/Dockerfile
  dataline-integrations/singer/postgres/destination/build.gradle
  dataline-integrations/singer/postgres/destination/check_connection.py
  dataline-integrations/singer/postgres/destination/docker/.dockerignore
  dataline-integrations/singer/postgres/destination/docker/build.gradle
  dataline-integrations/singer/postgres/destination/requirements.txt
  dataline-integrations/singer/postgres/destination/run.sh
  dataline-integrations/singer/postgres/destination/src/test-integration/java/io/dataline/integration_tests/destinations/TestPostgresDestination.java
  dataline-integrations/singer/postgres/destination/src/test-integration/resources/singer-tap-output.txt
  dataline-integrations/singer/postgres/source/Dockerfile
  tools/build/Dockerfile.base
  tools/integrations/manage.sh
  tools/lib/lib.sh
Labels: area/integration, type/enhancement

#226 Refeshing on the webapp was returning 404
  Dockerfile.build
  dataline-webapp/nginx/default.conf
Labels: area/frontend, type/bug

#237 build gradle modules in parallel to speed up builds
  gradle.properties
Labels: area/developer, type/enhancement

#241 Fix Job scheduler which keeps adding new jobs
  dataline-scheduler/src/main/java/io/dataline/scheduler/Job.java
  dataline-scheduler/src/main/java/io/dataline/scheduler/ScheduleJobPredicate.java
  dataline-scheduler/src/test/java/io/dataline/scheduler/ScheduleJobPredicateTest.java
  dataline-scheduler/src/test/java/io/dataline/scheduler/persistence/DefaultSchedulerPersistenceTest.java
  dataline-server/src/main/java/io/dataline/server/handlers/JobHistoryHandler.java
  dataline-webapp/src/pages/SourcesPage/pages/AllSourcesPage/components/LastSyncCell.tsx
  dataline-webapp/src/pages/SourcesPage/pages/AllSourcesPage/components/SourcesTable.tsx
Labels: area/orchestrator, type/bug

#238 Get location from window
  dataline-webapp/src/config/index.ts
Labels: area/frontend

#250 Miscellaneous fixes for gradle
  build.gradle
  dataline-api/build.gradle
  dataline-webapp/tsconfig.json
  docker-compose.build.yaml
  docker-compose.dev.yaml
  docker-compose.yaml
Labels: area/developer, type/enhancement

#253 Rearrange SyncWorker code & Fix bugs
  dataline-commons/src/main/java/io/dataline/commons/io/IOs.java
  dataline-commons/src/test/java/io/dataline/commons/io/IOsTest.java
  dataline-integrations/singer/postgres/destination/src/test-integration/java/io/dataline/integration_tests/destinations/TestPostgresDestination.java
  dataline-integrations/singer/postgres/source/src/test-integration/java/io/dataline/integrations/io/dataline/integration_tests/sources/SingerPostgresSourceTest.java
  dataline-scheduler/build.gradle
  dataline-scheduler/src/main/java/io/dataline/scheduler/WorkerRunFactory.java
  dataline-singer/src/main/resources/singer_json/SingerCatalog.json
  dataline-workers/src/main/java/io/dataline/workers/TargetConsumer.java
  dataline-workers/src/main/java/io/dataline/workers/WorkerUtils.java
  dataline-workers/src/main/java/io/dataline/workers/process/DockerProcessBuilderFactory.java
  dataline-workers/src/main/java/io/dataline/workers/protocols/singer/DefaultSingerTap.java
  dataline-workers/src/main/java/io/dataline/workers/protocols/singer/DefaultSingerTarget.java
  dataline-workers/src/main/java/io/dataline/workers/protocols/singer/SingerCatalogConverters.java
  dataline-workers/src/main/java/io/dataline/workers/protocols/singer/SingerCheckConnectionWorker.java
  dataline-workers/src/main/java/io/dataline/workers/protocols/singer/SingerDiscoverSchemaWorker.java
  dataline-workers/src/main/java/io/dataline/workers/protocols/singer/SingerJsonStreamFactory.java
  dataline-workers/src/main/java/io/dataline/workers/protocols/singer/SingerMessageTracker.java
  dataline-workers/src/main/java/io/dataline/workers/protocols/singer/SingerMessageUtils.java
  dataline-workers/src/main/java/io/dataline/workers/protocols/singer/SingerProtocolPredicate.java
  dataline-workers/src/main/java/io/dataline/workers/protocols/singer/SingerSyncWorker.java
  dataline-workers/src/main/java/io/dataline/workers/protocols/singer/SingerTap.java
  dataline-workers/src/main/java/io/dataline/workers/protocols/singer/SingerTarget.java
  dataline-workers/src/test/java/io/dataline/workers/TargetConsumerTest.java
  dataline-workers/src/test/java/io/dataline/workers/protocols/singer/DefaultSingerTapTest.java
  dataline-workers/src/test/java/io/dataline/workers/protocols/singer/DefaultSingerTargetTest.java
  dataline-workers/src/test/java/io/dataline/workers/protocols/singer/SingerCatalogConvertersTest.java
  dataline-workers/src/test/java/io/dataline/workers/protocols/singer/SingerCheckConnectionWorkerTest.java
  dataline-workers/src/test/java/io/dataline/workers/protocols/singer/SingerDiscoverSchemaWorkerTest.java
  dataline-workers/src/test/java/io/dataline/workers/protocols/singer/SingerJsonStreamFactoryTest.java
  dataline-workers/src/test/java/io/dataline/workers/protocols/singer/SingerMessageTrackerTest.java
  dataline-workers/src/test/java/io/dataline/workers/protocols/singer/SingerMessageUtilsTest.java
  dataline-workers/src/test/java/io/dataline/workers/protocols/singer/SingerProtocolPredicateTest.java
  dataline-workers/src/test/java/io/dataline/workers/protocols/singer/SingerSyncWorkerTest.java
  dataline-workers/src/test/java/io/dataline/workers/singer/SingerTapFactoryTest.java
Labels: area/orchestrator, type/bug, type/enhancement

#283 Fix master and fix integration tests lifecycles
  dataline-integrations/README.md
  dataline-integrations/build.gradle
  dataline-integrations/singer/bigquery/destination/build.gradle
  dataline-integrations/singer/exchangerateapi_io/source/build.gradle
  dataline-integrations/singer/postgres/destination/build.gradle
  dataline-integrations/singer/postgres/source/build.gradle
  dataline-integrations/singer/postgres/source/src/test-integration/java/io/dataline/integrations/io/dataline/integration_tests/sources/SingerPostgresSourceTest.java
  settings.gradle
Labels: area/developer, area/integration, type/bug

#257 Add missing ui parts
  .editorconfig
  dataline-webapp/package-lock.json
  dataline-webapp/package.json
  dataline-webapp/src/components/FrequencyForm/FrequencyForm.tsx
  dataline-webapp/src/components/SimpleTableComponents/SimpleTableComponents.tsx
  dataline-webapp/src/components/StatusIcon/StatusIcon.tsx
  dataline-webapp/src/components/TreeView/TreeView.tsx
  dataline-webapp/src/config/index.ts
  dataline-webapp/src/core/helpers.tsx
  dataline-webapp/src/core/resources/Connection.ts
  dataline-webapp/src/core/resources/Job.ts
  dataline-webapp/src/core/resources/JobLogs.ts
  dataline-webapp/src/core/resources/Schema.ts
  dataline-webapp/src/data/FrequencyConfig.json
  dataline-webapp/src/locales/en.json
  dataline-webapp/src/pages/OnboardingPage/OnboardingPage.tsx
  dataline-webapp/src/pages/OnboardingPage/components/ConnectionForm.tsx
  dataline-webapp/src/pages/OnboardingPage/components/ConnectionStep.tsx
  dataline-webapp/src/pages/SourcesPage/pages/AllSourcesPage/components/FrequencyCell.tsx
  dataline-webapp/src/pages/SourcesPage/pages/CreateSourcePage/CreateSourcePage.tsx
  dataline-webapp/src/pages/SourcesPage/pages/CreateSourcePage/components/ConnectionForm.tsx
  dataline-webapp/src/pages/SourcesPage/pages/CreateSourcePage/components/ConnectionStep.tsx
  dataline-webapp/src/pages/SourcesPage/pages/SourceItemPage/SourceItemPage.tsx
  dataline-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/JobItem.tsx
  dataline-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/JobLogs.tsx
  dataline-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/JobsList.tsx
  dataline-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SchemaView.tsx
  dataline-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SettingsView.tsx
  dataline-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/StatusMainInfo.tsx
  dataline-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/StatusView.tsx
Labels: area/frontend

#285 Update on README.md layout ahead of soft launch
  README.md
  docs/.gitbook/assets/dataline_light-background (1).svg
  docs/.gitbook/assets/deploy-locally.svg
  docs/.gitbook/assets/deploy-on-aws.svg
  docs/.gitbook/assets/deploy-on-gcp.svg
  docs/.gitbook/assets/sources_list.png
Labels: area/documentation, type/enhancement

#295 Ui fixes
  dataline-webapp/src/components/Label/Label.tsx
  dataline-webapp/src/components/LabeledToggle/LabeledToggle.tsx
  dataline-webapp/src/components/ServiceForm/ServiceForm.tsx
  dataline-webapp/src/components/ServiceForm/components/ConstructValidationSchema.tsx
  dataline-webapp/src/components/ServiceForm/components/EditControls.tsx
  dataline-webapp/src/components/ServiceForm/components/FormContent.tsx
  dataline-webapp/src/components/Table/Table.tsx
  dataline-webapp/src/config/index.ts
  dataline-webapp/src/core/resources/SourceSpecification.ts
  dataline-webapp/src/locales/en.json
  dataline-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SettingsView.tsx
  dataline-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/StatusMainInfo.tsx
Labels: area/frontend

#315 Fix Postgres Integration for Acceptance Tests
  dataline-config/init/src/main/resources/config/SOURCE_CONNECTION_SPECIFICATION/2168516a-5c9a-4582-90dc-5e3a01e3f607.json
Labels: area/integration, type/bug

#326 Preparing PR for docs
  README.md
  docs/.gitbook/assets/10-000-feet-view.png
  docs/.gitbook/assets/dataline_light-background (1) (1).svg
  docs/.gitbook/assets/dataline_light-background (1).svg
  docs/.gitbook/assets/dataline_light-background (2).svg
  docs/architecture/api.md
  docs/architecture/high-level-overview.md
  docs/changelog.md
  docs/company-handbook/company-handbook/README.md
  docs/company-handbook/company-handbook/business-model.md
  docs/company-handbook/company-handbook/culture-and-values.md
  docs/company-handbook/company-handbook/future-milestones.md
  docs/company-handbook/company-handbook/roadmap.md
  docs/company-handbook/company-handbook/strategy.md
  docs/company-handbook/company-handbook/team.md
  docs/contributing/contributing-to-dataline/README.md
  docs/contributing/contributing-to-dataline/developing-locally.md
  docs/contributing/contributing-to-dataline/updating-documentation.md
Labels: area/documentation

#327 GitBook PR process
  docs/contributing/contributing-to-dataline/updating-documentation.md
Labels: area/documentation, type/enhancement

#328 Docs: better gitbook process explanations
  docs/contributing/contributing-to-dataline/updating-documentation.md
Labels: area/documentation, type/enhancement

#329 More GitBook process changes
  docs/contributing/contributing-to-dataline/updating-documentation.md
Labels: area/documentation, type/enhancement

#350 Use redirect instead of the real link for the public slack
  README.md
  docs/deployment/deploying-airbyte/on-aws-ec2.md
  docs/deployment/deploying-airbyte/on-gcp-compute-engine.md
  docs/deployment/deploying-airbyte/with-docker.md
Labels: area/documentation, type/enhancement

#365 Fix worker logs not writing to independent files
  airbyte-commons/src/main/resources/log4j2.xml
  airbyte-commons/src/test/java/io/airbyte/commons/logging/Log4j2ConfigTest.java
Labels: area/worker, type/bug

#379 Fix logging configuration
  airbyte-commons/src/main/resources/log4j2.xml
  airbyte-commons/src/test/java/io/airbyte/commons/logging/Log4j2ConfigTest.java
  airbyte-scheduler/src/main/java/io/airbyte/scheduler/JobSubmitter.java
  airbyte-scheduler/src/test/java/io/airbyte/scheduler/JobSubmitterTest.java
Labels: type/bug

#380 Add documentation and tests for currency api
  README.md
  airbyte-commons/src/main/java/io/airbyte/commons/io/IOs.java
  airbyte-commons/src/test/java/io/airbyte/commons/io/IOsTest.java
  airbyte-config/init/src/main/resources/config/SOURCE_CONNECTION_SPECIFICATION/37eb2ebf-0899-4b22-aba8-8537ec88b5a8.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE/9fed261d-d107-47fd-8c8b-323023db6e20.json
  airbyte-integrations/singer/exchangeratesapi_io/source/.dockerignore
  airbyte-integrations/singer/exchangeratesapi_io/source/Dockerfile
  airbyte-integrations/singer/exchangeratesapi_io/source/README.md
  airbyte-integrations/singer/exchangeratesapi_io/source/build.gradle
  airbyte-integrations/singer/exchangeratesapi_io/source/entrypoint.sh
  airbyte-integrations/singer/exchangeratesapi_io/source/requirements.txt
  airbyte-integrations/singer/exchangeratesapi_io/source/src/test-integration/java/io/airbyte/integration_tests/sources/SingerExchangeRatesApiSourceTest.java
  airbyte-integrations/singer/stripe/source/src/test-integration/java/io/airbyte/integration_tests/sources/SingerStripeSourceTest.java
  airbyte-integrations/src/main/java/io/airbyte/integrations/Integrations.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/DockerProcessBuilderFactory.java
  docs/.gitbook/assets/10-000-feet-view (1) (1).png
  docs/.gitbook/assets/10-000-feet-view (2) (1).png
  docs/.gitbook/assets/airbyte_white-background (1) (2) (1).svg
  docs/.gitbook/assets/aws_ec2_ami (2) (1) (1).png
  docs/.gitbook/assets/aws_ec2_instance_type (1) (2) (1).png
  docs/.gitbook/assets/aws_ec2_instance_view (1) (2) (1).png
  docs/.gitbook/assets/aws_ec2_launch (1) (2) (1).png
  docs/.gitbook/assets/aws_ec2_security_group (1) (2) (1).png
  docs/.gitbook/assets/aws_ec2_ssh_key (1) (2) (1).png
  docs/.gitbook/assets/deploy-locally (1) (2) (1).svg
  docs/.gitbook/assets/deploy-on-aws (1) (2) (1).svg
  docs/.gitbook/assets/deploy-on-gcp (1) (2) (1).svg
  docs/.gitbook/assets/gcp_ce_configure (1) (2) (1).png
  docs/.gitbook/assets/gcp_ce_launch (1) (2) (1).png
  docs/.gitbook/assets/sources_list (1) (2) (1).png
  docs/SUMMARY.md
  docs/architecture/high-level-overview.md
  docs/contributing/contributing-to-airbyte/documentation-templates/integration-documentation-template.md
  docs/deployment/deploying-airbyte/on-aws-ec2.md
  docs/deployment/deploying-airbyte/on-gcp-compute-engine.md
  docs/integrations/destinations/bigquery.md
  docs/integrations/sources/exchangerates-io.md
Labels: area/documentation, area/integration, type/enhancement

#395 Fix logs
  airbyte-webapp/public/favicon.ico
  airbyte-webapp/public/logo.png
  airbyte-webapp/public/logo.svg
  airbyte-webapp/public/logo112.png
  airbyte-webapp/public/logo224.png
  airbyte-webapp/public/logo336.png
  airbyte-webapp/public/simpleLogo.svg
  airbyte-webapp/src/components/BaseClearView/BaseClearView.tsx
  airbyte-webapp/src/components/Label/Label.tsx
  airbyte-webapp/src/components/ServiceForm/components/FormContent.tsx
  airbyte-webapp/src/core/resources/Job.ts
  airbyte-webapp/src/core/resources/JobLogs.ts
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/JobLogs.tsx
Labels: area/frontend

#358 Add segment
  airbyte-webapp/src/components/FrequencyForm/FrequencyForm.tsx
  airbyte-webapp/src/components/hooks/useSegment.tsx
  airbyte-webapp/src/config/index.ts
  airbyte-webapp/src/core/analytics/AnalyticsService.ts
  airbyte-webapp/src/pages/OnboardingPage/OnboardingPage.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/ConnectionForm.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/ConnectionStep.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/DestinationStep.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/PrepareDropDownLists.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/SourceStep.tsx
  airbyte-webapp/src/pages/PreferencesPage/PreferencesPage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/AllSourcesPage/components/SourcesTable.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/CreateSourcePage/CreateSourcePage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/CreateSourcePage/components/ConnectionForm.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/CreateSourcePage/components/ConnectionStep.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/CreateSourcePage/components/SourceStep.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/SourceItemPage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/DeleteSource.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SchemaView.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SettingsView.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/StatusMainInfo.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/StatusView.tsx
  airbyte-webapp/src/pages/routes.tsx
Labels: area/frontend

#398 Missed two Dataline
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/new-integration-request.md
Labels: type/bug

#422 Save onboarding state
  airbyte-api/src/main/openapi/config.yaml
  airbyte-config/init/src/main/resources/config/STANDARD_WORKSPACE/5ae6b09b-fdec-41af-aaf7-7d94cfc33ef6.json
  airbyte-config/models/src/main/resources/json/StandardWorkspace.json
  airbyte-server/src/main/java/io/airbyte/server/handlers/WorkspacesHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WorkspacesHandlerTest.java
  airbyte-webapp/src/core/resources/Workspace.ts
  airbyte-webapp/src/pages/OnboardingPage/OnboardingPage.tsx
  airbyte-webapp/src/pages/PreferencesPage/PreferencesPage.tsx
  airbyte-webapp/src/pages/routes.tsx
Labels: area/api, area/frontend, type/bug

#418 Fix check connection
  airbyte-api/src/main/openapi/config.yaml
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendDestinationImplementationHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendSourceImplementationHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WebBackendDestinationImplementationHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WebBackendSourceImplementationHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/helpers/DestinationImplementationHelpers.java
  airbyte-webapp/src/components/ServiceForm/ServiceForm.tsx
  airbyte-webapp/src/components/ServiceForm/components/EditControls.tsx
  airbyte-webapp/src/components/Spinner/Spinner.tsx
  airbyte-webapp/src/core/resources/DestinationImplementation.tsx
  airbyte-webapp/src/core/resources/SourceImplementation.tsx
  airbyte-webapp/src/pages/DestinationPage/DestinationPage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SettingsView.tsx
Labels: area/frontend

#439 BQ doesn't work now that connection check works
  airbyte-integrations/singer/bigquery/destination/.dockerignore
  airbyte-integrations/singer/bigquery/destination/Dockerfile
  airbyte-integrations/singer/bigquery/destination/bigquery-destination.sh
  airbyte-integrations/singer/bigquery/destination/entrypoint.sh
  airbyte-integrations/src/main/java/io/airbyte/integrations/Integrations.java
Labels: area/integration, type/bug

#447 Fix button state in source and destination forms
  airbyte-webapp/src/components/ServiceForm/ServiceForm.tsx
  airbyte-webapp/src/components/ServiceForm/components/BottomBlock.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/DestinationStep.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/SourceStep.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/CreateSourcePage/components/SourceStep.tsx
Labels: area/frontend

#460 Remove unnecessary test
  airbyte-webapp/public/fonts/courierPrime/CourierPrime-Regular.eot
  airbyte-webapp/public/fonts/courierPrime/CourierPrime-Regular.svg
  airbyte-webapp/public/fonts/courierPrime/CourierPrime-Regular.ttf
  airbyte-webapp/public/fonts/courierPrime/CourierPrime-Regular.woff
  airbyte-webapp/public/fonts/courierPrime/CourierPrime-Regular.woff2
  airbyte-webapp/src/components/ServiceForm/components/FormContent.tsx
  airbyte-webapp/src/components/StepsMenu/components/Step.tsx
  airbyte-webapp/src/index.css
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/OnboardingPage/OnboardingPage.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/ConnectionStep.tsx
  airbyte-webapp/src/pages/SourcesPage/components/EmptyResource.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/AllSourcesPage/AllSourcesPage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/AllSourcesPage/components/SourcesTable.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/CreateSourcePage/CreateSourcePage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/CreateSourcePage/components/ConnectionStep.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/JobLogs.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SchemaView.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/StatusView.tsx
  airbyte-webapp/src/pages/routes.tsx
  airbyte-webapp/src/theme.ts
Labels: area/frontend
