Repository airbytehq/airbyte, pull requests merged in 2020-11, with the labels that each got.

#829 Super fast spotless
  build.gradle
Labels: area/developer

#849 Fix build failure on master due to docs check
  tools/site/link_checker.sh
Labels: type/bug

#815 Frontend v0.4.0
  airbyte-integrations/connectors/source-hubspot-singer/resources/57eb1576-8f52-463d-beb6-2e107cdf571d.json
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/public/favicon.ico
  airbyte-webapp/public/logo.png
  airbyte-webapp/public/logo112.png
  airbyte-webapp/public/logo224.png
  airbyte-webapp/public/logo336.png
  airbyte-webapp/public/simpleLogo.svg
  airbyte-webapp/src/components/BaseClearView/BaseClearView.tsx
  airbyte-webapp/src/components/FrequencyForm/FrequencyForm.tsx
  airbyte-webapp/src/components/Input/Input.tsx
  airbyte-webapp/src/components/Label/Label.tsx
  airbyte-webapp/src/components/ServiceForm/ServiceForm.tsx
  airbyte-webapp/src/components/ServiceForm/components/ConstructValidationSchema.tsx
  airbyte-webapp/src/components/ServiceForm/components/FormContent.tsx
  airbyte-webapp/src/components/ServiceForm/components/PropertyField.tsx
  airbyte-webapp/src/components/ServiceForm/useBuildForm.tsx
  airbyte-webapp/src/components/SideBar/SideBar.tsx
  airbyte-webapp/src/components/TextWithHTML/TextWithHTML.tsx
  airbyte-webapp/src/components/TextWithHTML/index.tsx
  airbyte-webapp/src/components/TreeView/TreeView.tsx
  airbyte-webapp/src/config/index.ts
  airbyte-webapp/src/core/form/types.ts
  airbyte-webapp/src/core/form/uiWidget.test.ts
  airbyte-webapp/src/core/form/uiWidget.ts
  airbyte-webapp/src/core/helpers.tsx
  airbyte-webapp/src/core/jsonSchema/schemaToUiWidget.test.ts
  airbyte-webapp/src/core/jsonSchema/schemaToUiWidget.ts
  airbyte-webapp/src/core/jsonSchema/schemaToYup.test.ts
  airbyte-webapp/src/core/jsonSchema/schemaToYup.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/DestinationPage/DestinationPage.tsx
  airbyte-webapp/src/pages/OnboardingPage/OnboardingPage.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/ConnectionForm.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/SourceStep.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/AllSourcesPage/components/ConnectorCell.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/CreateSourcePage/CreateSourcePage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/CreateSourcePage/components/ConnectionForm.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/CreateSourcePage/components/ConnectionStep.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/CreateSourcePage/components/SourceStep.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SchemaView.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SettingsView.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/StatusMainInfo.tsx
  package-lock.json
Labels: area/frontend

#865 Fix form not revalidating values
  airbyte-webapp/src/components/ServiceForm/ServiceForm.tsx
  airbyte-webapp/src/components/ServiceForm/components/FormContent.tsx
  airbyte-webapp/src/components/ServiceForm/useBuildForm.tsx
  airbyte-webapp/src/core/jsonSchema/schemaToYup.test.ts
  airbyte-webapp/src/core/jsonSchema/schemaToYup.ts
  airbyte-webapp/src/pages/OnboardingPage/components/SourceStep.tsx
Labels: area/frontend

#915 Fix toggle
  airbyte-webapp/src/components/ServiceForm/components/PropertyField.tsx
Labels: area/frontend, type/bug

#950 Fix boolean field wrong mapping for yup schema
  airbyte-webapp/src/core/jsonSchema/schemaToYup.test.ts
  airbyte-webapp/src/core/jsonSchema/schemaToYup.ts
Labels: area/frontend, priority/critical, type/bug

#1113 Add airbyte_version to segment track calls
  airbyte-webapp/nginx/default.conf.template
  airbyte-webapp/public/index.html
  airbyte-webapp/src/config/index.ts
  airbyte-webapp/src/core/analytics/AnalyticsService.ts
  docker-compose.yaml
Labels: area/frontend
