Repository airbytehq/airbyte, pull requests merged in 2020-10, with the labels that each got.

#475 Indicate server is starting up
  airbyte-webapp/src/App.tsx
  airbyte-webapp/src/components/NetworkErrorBoundary/NetworkErrorBoundary.tsx
  airbyte-webapp/src/components/NetworkErrorBoundary/components/ServerIsStarting.tsx
  airbyte-webapp/src/components/NetworkErrorBoundary/index.tsx
  airbyte-webapp/src/locales/en.json
Labels: area/frontend

#477 Add more space between Name and Connector
  airbyte-webapp/src/components/PageTitle/PageTitle.tsx
  airbyte-webapp/src/components/Table/Table.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/AllSourcesPage/components/NameCell.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/AllSourcesPage/components/SourcesTable.tsx
Labels: area/frontend

#487 Webapp take tracking strategy from env
  airbyte-webapp/Dockerfile
  airbyte-webapp/nginx/default.conf
  airbyte-webapp/nginx/default.conf.template
  airbyte-webapp/public/index.html
  airbyte-webapp/src/config/index.ts
Labels: area/frontend

#516 Fix name conflict in gradle dependency
  build.gradle
Labels: area/developer, type/bug

#508 Add launch button instead of a toggle in source list
  airbyte-webapp/src/core/resources/Connection.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/SourcesPage/pages/AllSourcesPage/AllSourcesPage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/AllSourcesPage/components/SourcesTable.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/AllSourcesPage/components/StatusCell.tsx
Labels: area/frontend

#542 Change AirbyteMessage emitted_at type
  airbyte-integrations/singer/base-singer/base_singer/singer_helpers.py
  airbyte-protocol/models/src/main/resources/airbyte_protocol/airbyte_message.yaml
Labels: area/integration, type/enhancement

#471 Clickable onboarding steps
  airbyte-api/src/main/openapi/config.yaml
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendDestinationImplementationHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendSourceImplementationHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WebBackendDestinationImplementationHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WebBackendSourceImplementationHandlerTest.java
  airbyte-webapp/src/components/ServiceForm/ServiceForm.tsx
  airbyte-webapp/src/components/ServiceForm/components/EditControls.tsx
  airbyte-webapp/src/components/ServiceForm/components/FormContent.tsx
  airbyte-webapp/src/components/StepsMenu/StepsMenu.tsx
  airbyte-webapp/src/components/hooks/services/useConnectionHook.tsx
  airbyte-webapp/src/components/hooks/services/useDestinationHook.tsx
  airbyte-webapp/src/components/hooks/services/useSourceHook.tsx
  airbyte-webapp/src/core/resources/DestinationImplementation.tsx
  airbyte-webapp/src/core/resources/SourceImplementation.tsx
  airbyte-webapp/src/pages/DestinationPage/DestinationPage.tsx
  airbyte-webapp/src/pages/OnboardingPage/OnboardingPage.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/DestinationStep.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/SourceStep.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/StepsConfig.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/AllSourcesPage/components/SourcesTable.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/CreateSourcePage/CreateSourcePage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/SourceItemPage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SchemaView.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SettingsView.tsx
Labels: area/frontend

#593 Simplify singer shim implementation
  airbyte-integrations/base-python/airbyte_protocol/entrypoint.py
  airbyte-integrations/base-python/airbyte_protocol/integration.py
  airbyte-integrations/base-singer/.dockerignore
  airbyte-integrations/base-singer/Dockerfile
  airbyte-integrations/base-singer/base_singer/__init__.py
  airbyte-integrations/base-singer/base_singer/singer_helpers.py
  airbyte-integrations/base-singer/base_singer/source.py
  airbyte-integrations/base-singer/build.gradle
  airbyte-integrations/base-singer/requirements.txt
  airbyte-integrations/base-singer/setup.py
  airbyte-integrations/singer/exchangeratesapi/source/build.gradle
  airbyte-integrations/singer/exchangeratesapi/source/requirements.txt
  airbyte-integrations/singer/exchangeratesapi/source/source_exchangeratesapi_singer/source.py
  airbyte-integrations/singer/exchangeratesapi/source/src/test-integration/java/io/airbyte/integration_tests/sources/SingerExchangeRatesApiSourceTest.java
  airbyte-integrations/singer/stripe_abprotocol/source/build.gradle
  airbyte-integrations/singer/stripe_abprotocol/source/requirements.txt
  airbyte-integrations/singer/stripe_abprotocol/source/source_stripe_singer/source.py
  airbyte-integrations/singer/stripe_abprotocol/source/src/test-integration/java/io/airbyte/integration_tests/sources/SingerStripeSourceTest.java
  airbyte-integrations/singer/stripe_abprotocol/source/src/test-integration/resources/stripe_catalog.json
  airbyte-integrations/singer/stripe_abprotocol/source/src/test-integration/resources/sync_output_subset.txt
  airbyte-integrations/template/python-source/template_python_source/source.py
  airbyte-integrations/template/singer-source/README.md
  airbyte-integrations/template/singer-source/build.gradle
  airbyte-integrations/template/singer-source/requirements.txt
  airbyte-integrations/template/singer-source/sample_files/test_catalog.json
  airbyte-integrations/template/singer-source/sample_files/test_config.json
  airbyte-integrations/template/singer-source/template_singer_source/source.py
Labels: area/integration, type/enhancement

#604 Move java-template-destination under template
  airbyte-integrations/template/java-destination/.dockerignore
  airbyte-integrations/template/java-destination/Dockerfile
  airbyte-integrations/template/java-destination/README.md
  airbyte-integrations/template/java-destination/build.gradle
  airbyte-integrations/template/java-destination/src/main/java/io/airbyte/integrations/destination/template/DestinationTemplate.java
  airbyte-integrations/template/java-destination/src/main/resources/spec.json
Labels: area/integration, type/refactoring

#605 Fix python codegen
  airbyte-integrations/base-python/airbyte_protocol/models/__init__.py
  airbyte-integrations/base-python/airbyte_protocol/models/airbyte_catalog.py
  airbyte-integrations/base-python/airbyte_protocol/models/airbyte_connection_status.py
  airbyte-integrations/base-python/airbyte_protocol/models/airbyte_type.py
  airbyte-integrations/base-python/bin/generate-protocol-files.sh
  airbyte-integrations/base-python/build.gradle
Labels: area/integration, type/bug

#713 Frontend updates for v0.3.0
  airbyte-webapp/src/components/DropDown/components/ValueInput.tsx
  airbyte-webapp/src/components/LabeledToggle/LabeledToggle.tsx
  airbyte-webapp/src/components/ServiceForm/components/FormContent.tsx
  airbyte-webapp/src/components/ServiceForm/components/PropertyField.tsx
  airbyte-webapp/src/components/Toggle/Toggle.tsx
  airbyte-webapp/src/core/resources/SourceSpecification.ts
  airbyte-webapp/src/locales/en.json
Labels: area/frontend
