Repository airbytehq/airbyte, pull requests merged in 2021-05, with the labels that each got.

#3169 Change Server init conditional
  airbyte-commons/src/main/java/io/airbyte/commons/version/AirbyteVersion.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
Labels: area/core

#3220 Adding concepts docs, structure for CDK documentation
  .github/PULL_REQUEST_TEMPLATE/new_python_source.md
  airbyte-cdk/python/docs/concepts/README.md
  airbyte-cdk/python/docs/tutorials/README.md
  airbyte-cdk/python/docs/tutorials/cdk-tutorial-python-http/0-getting-started.md
  airbyte-cdk/python/docs/tutorials/cdk-tutorial-python-http/1-creating-the-source.md
  airbyte-cdk/python/docs/tutorials/cdk-tutorial-python-http/2-install-dependencies.md
  airbyte-cdk/python/docs/tutorials/cdk-tutorial-python-http/3-define-inputs.md
  airbyte-cdk/python/docs/tutorials/cdk-tutorial-python-http/4-connection-checking.md
  airbyte-cdk/python/docs/tutorials/cdk-tutorial-python-http/5-declare-schema.md
  airbyte-cdk/python/docs/tutorials/cdk-tutorial-python-http/6-read-data.md
  airbyte-cdk/python/docs/tutorials/cdk-tutorial-python-http/7-use-connector-in-airbyte.md
  airbyte-cdk/python/docs/tutorials/cdk-tutorial-python-http/8-test-your-connector.md
  airbyte-cdk/python/docs/tutorials/cdk-tutorial-python-http/README.md
  docs/SUMMARY.md
  docs/contributing-to-airbyte/cdk-tutorial-alpha/README.md
  docs/contributing-to-airbyte/using-the-airbyte-cdk/README.md
Labels: area/documentation

#3171 🎉 Added tutorial to deploy Airbye on Azure VM #3170
  docs/.gitbook/assets/azure_shell_create_rg.png
  docs/.gitbook/assets/azure_shell_create_vm.png
  docs/.gitbook/assets/azure_shell_download_ssh_key.png
  docs/.gitbook/assets/azure_shell_launch.png
  docs/.gitbook/assets/azure_shell_vm_overview.png
  docs/SUMMARY.md
  docs/deploying-airbyte/on-azure-vm-cloud-shell.md
Labels: area/documentation

#3243 CDK: Test integration.py
  airbyte-cdk/python/airbyte_cdk/base_python/integration.py
  airbyte-cdk/python/unit_tests/base_python/test_integration.py
Labels: santa

#3245 Add primary_key noop to docs and PokeAPI connector.
  airbyte-cdk/python/docs/tutorials/cdk-tutorial-python-http/5-declare-schema.md
  airbyte-integrations/connectors/source-pokeapi/source_pokeapi/source.py
  docs/faq/differences-with/meltano-vs-airbyte.md
Labels: area/documentation, area/integration

#3269 Document usage of `./gradlew format` and workaround for files without import statements
  airbyte-integrations/connectors/source-pokeapi/source_pokeapi/pokemon_list.py
  docs/contributing-to-airbyte/developing-locally.md
Labels: area/documentation

#3270 Reorganize CDK documentation directory structure to be less nested
  airbyte-cdk/python/README.md
  airbyte-cdk/python/docs/tutorials/cdk-tutorial-python-http/README.md
  docs/SUMMARY.md
  docs/contributing-to-airbyte/using-the-airbyte-cdk/README.md
Labels: area/documentation

#3246 Bump K8s deployment version to latest stable version
  kube/overlays/dev/.env
  kube/overlays/dev/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  kube/resources/kustomization.yaml
  kube/resources/scheduler.yaml
  kube/resources/server.yaml
  kube/resources/temporal.yaml
Labels: area/developer, community_pr

#3369 Add guide on how to upgrade a connector
  docs/.gitbook/assets/upgrading_connector_admin_panel.png
  docs/SUMMARY.md
  docs/integrations/custom-connectors.md
Labels: area/documentation, area/integration

#2486 pkg: rest-hooks patch
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/components/hooks/services/useDestinationHook.tsx
  airbyte-webapp/src/components/hooks/services/useSourceHook.tsx
Labels: area/frontend, community_pr

#3399 Add updated architecture diagram to high level docs.
  docs/.gitbook/assets/understanding_airbyte_high_level_architecture.png
  docs/understanding-airbyte/high-level-view.md
Labels: area/documentation

#3403 Add a CDK speedrun tutorial doc
  airbyte-cdk/python/docs/tutorials/cdk-tutorial-any-percent/cdk-speedrun.md
  docs/SUMMARY.md
Labels: area/documentation

#3426 Add Rust as a connector specific dependency to source-file
  airbyte-integrations/connectors/source-file/README.md
Labels: area/documentation

#3140 Display icons
  airbyte-webapp/src/components/ConnectionBlock/ConnectionBlock.tsx
  airbyte-webapp/src/components/ConnectionBlock/components/ConnectionBlockItem.tsx
  airbyte-webapp/src/components/CreateConnectionContent/CreateConnectionContent.tsx
  airbyte-webapp/src/components/DefaultLogoCatalog/DefaultLogoCatalog.tsx
  airbyte-webapp/src/components/DefaultLogoCatalog/index.tsx
  airbyte-webapp/src/components/DropDown/components/ListItem.tsx
  airbyte-webapp/src/components/DropDown/components/ValueInput.tsx
  airbyte-webapp/src/components/EntityTable/ConnectionTable.tsx
  airbyte-webapp/src/components/EntityTable/ImplementationTable.tsx
  airbyte-webapp/src/components/EntityTable/components/ConnectorCell.tsx
  airbyte-webapp/src/components/EntityTable/components/NameCell.tsx
  airbyte-webapp/src/components/EntityTable/types.ts
  airbyte-webapp/src/components/EntityTable/utils.tsx
  airbyte-webapp/src/components/ImageBlock/ImageBlock.tsx
  airbyte-webapp/src/components/SourceAndDestinationsBlocks/TableItemTitle.tsx
  airbyte-webapp/src/components/index.tsx
  airbyte-webapp/src/core/resources/DestinationDefinition.ts
  airbyte-webapp/src/core/resources/SourceDefinition.ts
  airbyte-webapp/src/pages/AdminPage/components/ConnectorCell.tsx
  airbyte-webapp/src/pages/AdminPage/components/DestinationsView.tsx
  airbyte-webapp/src/pages/AdminPage/components/SourcesView.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/AllConnectionsPage/components/ConnectionsTable.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionItemPage.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/SettingsView.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/StatusMainInfo.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/StatusView.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/CreationFormPage/CreationFormPage.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/CreationFormPage/components/DestinationForm.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/CreationFormPage/components/SourceForm.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/AllDestinationsPage/components/DestinationsTable.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/CreateDestinationPage/CreateDestinationPage.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/DestinationItemPage/DestinationItemPage.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/DestinationItemPage/components/DestinationConnectionTable.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/DestinationItemPage/components/DestinationSettings.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/DestinationStep.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/usePrepareDropdownLists.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/AllSourcesPage/components/SourcesTable.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/CreateSourcePage/CreateSourcePage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/SourceItemPage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SourceConnectionTable.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SourceSettings.tsx
  airbyte-webapp/src/utils/imageUtils.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/ConnectionForm.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/components/Connector.tsx
Labels: area/frontend

#3437 Address issue with icon in onboarding
  airbyte-webapp/src/components/DropDown/DropDown.tsx
  airbyte-webapp/src/components/DropDown/components/ListItem.tsx
  airbyte-webapp/src/components/ImageBlock/ImageBlock.tsx
  airbyte-webapp/src/components/ImageBlock/index.tsx
  airbyte-webapp/src/components/ServiceForm/ServiceForm.test.tsx
  airbyte-webapp/src/components/ServiceForm/ServiceForm.tsx
  airbyte-webapp/src/components/ServiceForm/components/Controls/ConnectorServiceTypeControl.tsx
  airbyte-webapp/src/components/Table/Table.tsx
  airbyte-webapp/src/components/index.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/CreationFormPage/components/DestinationForm.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/CreationFormPage/components/SourceForm.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/CreateDestinationPage/CreateDestinationPage.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/CreateDestinationPage/components/DestinationForm.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/DestinationItemPage/components/DestinationSettings.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/DestinationStep.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/SourceStep.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/usePrepareDropdownLists.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/CreateSourcePage/CreateSourcePage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/CreateSourcePage/components/SourceForm.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/SourceItemPage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SourceSettings.tsx
Labels: type/bug

#3460 Handle exceptions in waitForTemporalServerandLog
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalPool.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/TemporalPoolTest.java
Labels: area/core

#3480 Fix speedrun tutorial link.
  docs/contributing-to-airbyte/python/tutorials/cdk-speedrun.md
Labels: area/documentation

#3455 Fix styles for checkbox component
  airbyte-webapp/src/components/CheckBox/CheckBox.tsx
Labels: area/frontend

#3449 Show error from BE for create connector modal
  airbyte-webapp/src/core/resources/BaseResource.ts
  airbyte-webapp/src/pages/AdminPage/components/CreateConnector.tsx
  airbyte-webapp/src/pages/AdminPage/components/CreateConnectorModal.tsx
Labels: area/frontend

#3508 fix e2e tests
  airbyte-e2e-testing/cypress/integration/source.spec.js
  airbyte-e2e-testing/cypress/support/commands/common.js
  airbyte-e2e-testing/cypress/support/commands/source.js
  tools/bin/e2e_test.sh
Labels: area/frontend

#3524 Update CDC docs with link to demo video
  docs/understanding-airbyte/cdc.md
Labels: area/documentation

#3537 Further clarify where to run deployment commands in EC2/GCP deployments
  docs/deploying-airbyte/on-aws-ec2.md
  docs/deploying-airbyte/on-gcp-compute-engine.md
Labels: area/documentation

#3584 Fix icons in dropdown in source page
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/SourceItemPage.tsx
Labels: area/frontend, type/bug

#3601 Add troubleshooting mac m1 deploy
  docs/deploying-airbyte/local-deployment.md
Labels: area/documentation

#3603 🎉 allow users to access both the api and webapp from the same port
  .env
  .env.dev
  airbyte-webapp/nginx/default.conf.template
  docker-compose.yaml
  kube/overlays/dev/.env
  kube/overlays/stable/.env
  kube/resources/webapp.yaml
Labels: SM

#3625 :tada: fix for filenames too long in local Win deployment
  docs/deploying-airbyte/local-deployment.md
Labels: area/documentation, community_pr

#3572 Change onSelect to onChange. Suppress console.log during CI
  airbyte-webapp/build.gradle
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/components/DropDown/DropDown.tsx
Labels: area/frontend
