Repository airbytehq/airbyte, pull requests merged in 2021-07, with the labels that each got.

#4450 Update and rename code-of-conduct.md to slack-code-of-conduct.md
  docs/SUMMARY.md
  docs/project-overview/slack-code-of-conduct.md
Labels: area/documentation

#4169 Separate config validation from FileSystemConfigPersistence
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/FileSystemConfigPersistence.java
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/ValidatingConfigPersistence.java
  airbyte-config/persistence/src/test/java/io/airbyte/config/persistence/FileSystemConfigPersistenceTest.java
  airbyte-config/persistence/src/test/java/io/airbyte/config/persistence/ValidatingConfigPersistenceTest.java
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/SchedulerApp.java
  airbyte-server/src/main/java/io/airbyte/server/ConfigDumpImport.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/test/java/io/airbyte/server/migration/RunMigrationTest.java
Labels: area/core

#4452 Better logging for Job Submission errors.
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/DefaultJobPersistence.java
Labels: area/core

#4454 enable automatic migration for kube on or above 0.26.5-alpha
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
Labels: area/core

#4458 Bump version: 0.26.4-alpha → 0.27.0-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend

#4453 Doc for Automatic Upgrade of Airbyte
  docs/operator-guides/upgrading-airbyte.md
Labels: area/documentation

#4456 🐛 bugfix Source Okta: Fix endless loop while syncing data from logs stream
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/1d4fdb25-64fc-4569-92da-fcdca79a8372.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-okta/CHANGELOG.md
  airbyte-integrations/connectors/source-okta/Dockerfile
  airbyte-integrations/connectors/source-okta/source_okta/source.py
Labels: area/connectors, community_pr

#4467 minor fix to upgrade airbyte doc
  docs/operator-guides/upgrading-airbyte.md
Labels: area/documentation

#4382 🎉 Source Cockroachdb: Added new source for Cockroachdb
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/9fa5862c-da7c-11eb-8d19-0242ac130003.json
  airbyte-config/init/src/main/resources/icons/cockroachdb.svg
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-cockroachdb/Dockerfile
  airbyte-integrations/connectors/source-cockroachdb/build.gradle
  airbyte-integrations/connectors/source-cockroachdb/src/main/java/io/airbyte/integrations/source/cockroachdb/CockroachDbSource.java
  airbyte-integrations/connectors/source-cockroachdb/src/main/resources/spec.json
  airbyte-integrations/connectors/source-cockroachdb/src/test-integration/java/io/airbyte/integrations/source/cockroachdb/CockroachDbSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-cockroachdb/src/test-integration/java/io/airbyte/integrations/source/cockroachdb/CockroachDbSourceComprehensiveTest.java
  airbyte-integrations/connectors/source-cockroachdb/src/test/java/io/airbyte/integrations/source/cockroachdb/CockroachDbJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-cockroachdb/src/test/java/io/airbyte/integrations/source/cockroachdb/CockroachDbSourceTest.java
  airbyte-integrations/connectors/source-cockroachdb/src/test/java/io/airbyte/integrations/source/cockroachdb/CockroachDbSpecTest.java
  airbyte-integrations/connectors/source-jdbc/build.gradle
  airbyte-integrations/connectors/source-jdbc/src/testFixtures/java/io/airbyte/integrations/source/jdbc/test/JdbcSourceAcceptanceTest.java
  airbyte-test-utils/build.gradle
  airbyte-test-utils/src/main/java/io/airbyte/test/utils/CockroachDBContainerHelper.java
  docs/SUMMARY.md
  docs/integrations/README.md
  docs/integrations/sources/cockroachdb.md
Labels: area/connectors, area/documentation

#4475 Fix pubsub description YAML frontmatter
  docs/integrations/destinations/pubsub.md
Labels: area/documentation

#4476 Add 7/1/2021 connector changelog
  docs/project-overview/changelog/connectors.md
Labels: area/documentation

#4477 Add platform changelog for 0.27.0
  docs/project-overview/changelog/platform.md
Labels: area/documentation

#4459 dbt mysql install in dockerfile
  airbyte-integrations/bases/base-normalization/Dockerfile
  airbyte-integrations/bases/base-normalization/setup.py
Labels: normalization

#4479 Add changelog summaries for the last 3 updates on main changelog doc.
  docs/project-overview/changelog/README.md
Labels: area/documentation

#4480 Update tech writer job.
  docs/career-and-open-positions/technical-content-writer.md
Labels: area/documentation

#4464 🐛 bugfix Source Okta: Fix endless loop while syncing data from logs stream
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/1d4fdb25-64fc-4569-92da-fcdca79a8372.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-okta/CHANGELOG.md
  airbyte-integrations/connectors/source-okta/Dockerfile
  airbyte-integrations/connectors/source-okta/source_okta/source.py
  airbyte-integrations/connectors/source-okta/unit_tests/unit_test.py
  docs/integrations/sources/okta.md
Labels: area/connectors, area/documentation

#4451 Add Airflow demo script for one click deployment
  .gitignore
  resources/examples/airflow/.env
  resources/examples/airflow/README.md
  resources/examples/airflow/airflow.sh
  resources/examples/airflow/assets/airbyte_connection_id.png
  resources/examples/airflow/assets/airflow_start_dag.png
  resources/examples/airflow/dags/dag_airbyte_example.py
  resources/examples/airflow/docker-compose.yaml
  resources/examples/airflow/down.sh
  resources/examples/airflow/logs/.gitkeep
  resources/examples/airflow/requirements.txt
  resources/examples/airflow/up.sh
Labels: depends-on-airflow

#4482 Add 0.27.0 Slack release summary
  docs/project-overview/changelog/README.md
Labels: area/documentation

#4455 Github Store should not error if the file cannot be found.
  airbyte-server/src/main/java/io/airbyte/server/handlers/DestinationDefinitionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SourceDefinitionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/services/AirbyteGithubStore.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/DestinationDefinitionsHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/SourceDefinitionsHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/services/AirbyteGithubStoreTest.java
Labels: area/core

#4491 Add note about rate limits with the HubSpot API
  docs/integrations/sources/hubspot.md
Labels: area/documentation

#4490 Add note about placing your Redshift cluster and server in the same SG
  docs/integrations/destinations/redshift.md
Labels: area/documentation

#4121 Source Shopify: Add support for draft orders
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-shopify/Dockerfile
  airbyte-integrations/connectors/source-shopify/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-shopify/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-shopify/integration_tests/no_refunds_catalog.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/draft_orders.json
  airbyte-integrations/connectors/source-shopify/source_shopify/source.py
  docs/integrations/sources/shopify.md
Labels: area/connectors, area/documentation, community_pr

#4495 Publish PR (#4121)
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/9da77001-af33-4bcd-be46-6252bf9342b9.json
  airbyte-integrations/connectors/source-shopify/source_shopify/source.py
  docs/integrations/sources/shopify.md
  tools/integrations/manage.sh
Labels: area/connectors, area/documentation

#4492 Add standalone getting started guides structure.
  docs/integrations/getting-started/destination-redshift.md
  docs/integrations/getting-started/source-facebook-marketing.md
  docs/integrations/getting-started/source-github.md
Labels: area/documentation

#4510 Move reset guide to Operator guides
  docs/SUMMARY.md
  docs/operator-guides/reset.md
Labels: area/documentation

#4511 Move deploying section above Operator guides
  docs/SUMMARY.md
Labels: area/documentation

#4517 Update upgrading Airbyte with the new workflow and move it to Operator Guides
  .gitbook.yaml
  docs/SUMMARY.md
  docs/operator-guides/upgrading-airbyte.md
Labels: area/documentation

#4524 bump intercom entrypoint airbyte
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/d8313939-3782-41b0-be29-b3ca20d8dd3a.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-intercom-singer/Dockerfile
  airbyte-integrations/connectors/source-shopify/source_shopify/source.py
  resources/examples/airflow/docker-compose-superset.yaml
Labels: area/connectors

#4469 Zendesk airbyte entrypoint
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/d29764f8-80d7-4dd7-acbe-1a42005ee5aa.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/bases/standard-source-test/src/main/java/io/airbyte/integrations/standardtest/source/SourceAcceptanceTest.java
  airbyte-integrations/connectors/source-zendesk-support-singer/Dockerfile
  airbyte-integrations/connectors/source-zendesk-support-singer/integration_tests/catalog_subset.json
  airbyte-integrations/connectors/source-zendesk-support-singer/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-zendesk-support-singer/sample_files/full_catalog.json
  airbyte-integrations/connectors/source-zendesk-support-singer/sample_files/sample_catalog.json
  airbyte-integrations/connectors/source-zendesk-support-singer/singer_rendered_catalog.json
  tools/integrations/manage.sh
Labels: area/connectors

#4070 🎉 New source: airbyte-native twilio connector
  airbyte-integrations/connectors/source-twilio/.dockerignore
  airbyte-integrations/connectors/source-twilio/Dockerfile
  airbyte-integrations/connectors/source-twilio/README.md
  airbyte-integrations/connectors/source-twilio/acceptance-test-config.yml
  airbyte-integrations/connectors/source-twilio/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-twilio/build.gradle
  airbyte-integrations/connectors/source-twilio/integration_tests/__init__.py
  airbyte-integrations/connectors/source-twilio/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-twilio/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-twilio/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-twilio/integration_tests/constant_records_catalog.json
  airbyte-integrations/connectors/source-twilio/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-twilio/integration_tests/no_empty_streams_catalog.json
  airbyte-integrations/connectors/source-twilio/integration_tests/no_empty_streams_no_usage_records_catalog.json
  airbyte-integrations/connectors/source-twilio/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-twilio/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-twilio/main.py
  airbyte-integrations/connectors/source-twilio/setup.py
  airbyte-integrations/connectors/source-twilio/source_twilio/__init__.py
  airbyte-integrations/connectors/source-twilio/source_twilio/auth.py
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/accounts.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/addresses.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/alerts.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/applications.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/available_phone_number_countries.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/available_phone_numbers_local.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/available_phone_numbers_mobile.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/available_phone_numbers_toll_free.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/calls.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/conference_participants.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/conferences.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/dependent_phone_numbers.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/incoming_phone_numbers.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/keys.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/message_media.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/messages.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/outgoing_caller_ids.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/queues.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/recordings.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/transcriptions.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/usage_records.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/usage_triggers.json
  airbyte-integrations/connectors/source-twilio/source_twilio/source.py
  airbyte-integrations/connectors/source-twilio/source_twilio/spec.json
  airbyte-integrations/connectors/source-twilio/source_twilio/streams.py
  airbyte-integrations/connectors/source-twilio/unit_tests/unit_test.py
  docs/integrations/sources/twilio.md
  tools/bin/ci_credentials.sh
Labels: area/connectors, area/documentation

#4531 Destination MySQL: bump version
  .github/workflows/publish-command.yml
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/ca81ee7c-3163-4246-af40-094cc31e5e42.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/connectors/destination-mysql/Dockerfile
  docs/integrations/destinations/mysql.md
Labels: area/connectors, area/documentation

#4532 Add LOG_LEVEL for temporal
  docker-compose.yaml
Labels: community_pr

#4472 🎉 Source Shopify - change the default stream cursor_field to 'updated_at' where possible
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/9da77001-af33-4bcd-be46-6252bf9342b9.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-shopify/Dockerfile
  airbyte-integrations/connectors/source-shopify/README.md
  airbyte-integrations/connectors/source-shopify/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-shopify/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-shopify/integration_tests/no_refunds_catalog.json
  airbyte-integrations/connectors/source-shopify/integration_tests/state.json
  airbyte-integrations/connectors/source-shopify/source_shopify/source.py
  docs/integrations/sources/shopify.md
Labels: area/connectors, area/documentation

#4097 🎉 New Source: SurveyMonkey
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-integrations/connectors/source-surveymonkey/.dockerignore
  airbyte-integrations/connectors/source-surveymonkey/Dockerfile
  airbyte-integrations/connectors/source-surveymonkey/README.md
  airbyte-integrations/connectors/source-surveymonkey/acceptance-test-config.yml
  airbyte-integrations/connectors/source-surveymonkey/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-surveymonkey/build.gradle
  airbyte-integrations/connectors/source-surveymonkey/integration_tests/__init__.py
  airbyte-integrations/connectors/source-surveymonkey/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-surveymonkey/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-surveymonkey/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-surveymonkey/main.py
  airbyte-integrations/connectors/source-surveymonkey/requirements.txt
  airbyte-integrations/connectors/source-surveymonkey/sample_files/state.json
  airbyte-integrations/connectors/source-surveymonkey/setup.py
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/__init__.py
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/schemas/survey_pages.json
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/schemas/survey_questions.json
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/schemas/survey_responses.json
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/schemas/surveys.json
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/source.py
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/spec.json
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/streams.py
  airbyte-integrations/connectors/source-surveymonkey/unit_tests/test_for_updated_state.py
  tools/bin/ci_credentials.sh
Labels: area/connectors

#4502 Add lazy log library
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/components/JobItem/components/JobCurrenLogs.tsx
  airbyte-webapp/src/components/JobItem/components/JobLogs.tsx
  airbyte-webapp/src/components/JobItem/components/Logs.tsx
Labels: area/frontend, type/enhancement

#4530 🎉 API: Add an endpoint to list workspaces
  airbyte-api/src/main/openapi/config.yaml
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WorkspacesHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WorkspacesHandlerTest.java
  docs/reference/api/generated-api-html/index.html
Labels: area/api, area/core, area/documentation, community_pr

#4555 add acctest script for fb source
  airbyte-integrations/connectors/source-facebook-marketing/acceptance-test-docker.sh
Labels: area/connectors

#4552 SAT: cursor_paths should support custom nested and absolute paths
  airbyte-integrations/bases/source-acceptance-test/CHANGELOG.md
  airbyte-integrations/bases/source-acceptance-test/Dockerfile
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/tests/test_incremental.py
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/utils/json_schema_helper.py
  airbyte-integrations/bases/source-acceptance-test/unit_tests/__init__.py
  airbyte-integrations/bases/source-acceptance-test/unit_tests/test_json_schema_helper.py
Labels: Acceptance Tests

#4345 SAT: Add validation of data types in the output records #3253
  airbyte-integrations/bases/source-acceptance-test/CHANGELOG.md
  airbyte-integrations/bases/source-acceptance-test/Dockerfile
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/config.py
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/tests/test_core.py
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/utils/__init__.py
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/utils/asserts.py
  airbyte-integrations/bases/source-acceptance-test/unit_tests/test_asserts.py
  docs/contributing-to-airbyte/building-new-connector/source-acceptance-tests.md
Labels: area/documentation

#4563 Minor kube docs corrections.
  docs/deploying-airbyte/on-kubernetes.md
  docs/operator-guides/upgrading-airbyte.md
Labels: area/documentation

#4027 🎉 Native Gitlab connector
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/5e6175e5-68e1-4c17-bff9-56103bbb0d80.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-gitlab/.dockerignore
  airbyte-integrations/connectors/source-gitlab/CHANGELOG.md
  airbyte-integrations/connectors/source-gitlab/Dockerfile
  airbyte-integrations/connectors/source-gitlab/README.md
  airbyte-integrations/connectors/source-gitlab/acceptance-test-config.yml
  airbyte-integrations/connectors/source-gitlab/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-gitlab/build.gradle
  airbyte-integrations/connectors/source-gitlab/integration_tests/__init__.py
  airbyte-integrations/connectors/source-gitlab/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-gitlab/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-gitlab/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-gitlab/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-gitlab/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-gitlab/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-gitlab/main.py
  airbyte-integrations/connectors/source-gitlab/requirements.txt
  airbyte-integrations/connectors/source-gitlab/setup.py
  airbyte-integrations/connectors/source-gitlab/source_gitlab/__init__.py
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/branches.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/commits.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/epic_issues.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/epics.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/group_labels.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/group_members.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/group_milestones.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/groups.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/issues.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/jobs.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/merge_request_commits.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/merge_requests.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/pipelines.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/pipelines_extended.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/project_labels.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/project_members.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/project_milestones.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/projects.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/releases.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/tags.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/users.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/source.py
  airbyte-integrations/connectors/source-gitlab/source_gitlab/spec.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/streams.py
  airbyte-integrations/connectors/source-gitlab/unit_tests/unit_test.py
  docs/integrations/sources/gitlab.md
  docs/project-overview/changelog/connectors.md
  tools/bin/ci_credentials.sh
Labels: area/connectors, area/documentation

#4561 📝 Source Google Adwords: update docs with deprecation info for Adwords API
  docs/integrations/sources/google-adwords.md
Labels: area/documentation

#4174 🎉 Native GitHub connector
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/ef69ef6e-aa7f-4af1-a01d-ef775033524e.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-github/.dockerignore
  airbyte-integrations/connectors/source-github/CHANGELOG.md
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/README.md
  airbyte-integrations/connectors/source-github/acceptance-test-config.yml
  airbyte-integrations/connectors/source-github/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-github/build.gradle
  airbyte-integrations/connectors/source-github/integration_tests/__init__.py
  airbyte-integrations/connectors/source-github/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-github/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-github/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-github/integration_tests/incremental_configured_catalog.json
  airbyte-integrations/connectors/source-github/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-github/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-github/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-github/integration_tests/small_streams_configured_catalog.json
  airbyte-integrations/connectors/source-github/integration_tests/too_large_streams_configured_catalog.json
  airbyte-integrations/connectors/source-github/main.py
  airbyte-integrations/connectors/source-github/requirements.txt
  airbyte-integrations/connectors/source-github/setup.py
  airbyte-integrations/connectors/source-github/source_github/__init__.py
  airbyte-integrations/connectors/source-github/source_github/schemas/assignees.json
  airbyte-integrations/connectors/source-github/source_github/schemas/collaborators.json
  airbyte-integrations/connectors/source-github/source_github/schemas/comments.json
  airbyte-integrations/connectors/source-github/source_github/schemas/commit_comments.json
  airbyte-integrations/connectors/source-github/source_github/schemas/commits.json
  airbyte-integrations/connectors/source-github/source_github/schemas/events.json
  airbyte-integrations/connectors/source-github/source_github/schemas/issue_events.json
  airbyte-integrations/connectors/source-github/source_github/schemas/issue_labels.json
  airbyte-integrations/connectors/source-github/source_github/schemas/issue_milestones.json
  airbyte-integrations/connectors/source-github/source_github/schemas/issues.json
  airbyte-integrations/connectors/source-github/source_github/schemas/projects.json
  airbyte-integrations/connectors/source-github/source_github/schemas/pull_requests.json
  airbyte-integrations/connectors/source-github/source_github/schemas/releases.json
  airbyte-integrations/connectors/source-github/source_github/schemas/reviews.json
  airbyte-integrations/connectors/source-github/source_github/schemas/stargazers.json
  airbyte-integrations/connectors/source-github/source_github/schemas/teams.json
  airbyte-integrations/connectors/source-github/source_github/source.py
  airbyte-integrations/connectors/source-github/source_github/spec.json
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/unit_tests/unit_test.py
  docs/integrations/sources/github.md
  docs/project-overview/changelog/connectors.md
  tools/bin/ci_credentials.sh
Labels: area/connectors, area/documentation

#4545 Webapp: correct link for namespace and normalization
  airbyte-webapp/src/config/index.ts
Labels: area/frontend

#4318 🎉 Source Snowflake: Added new comprehensive data type tests
  airbyte-db/src/main/java/io/airbyte/db/Databases.java
  airbyte-integrations/connectors/source-snowflake/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/SnowflakeSourceComprehensiveTest.java
Labels: area/connectors

#4568 🐛 Source PostgreSQL: Fixed PostgreSQL CDC numeric handling
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/decd338e-5647-4c0b-adf4-da0e75f5a750.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/DebeziumRecordPublisher.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcPostgresSourceComprehensiveTest.java
Labels: area/connectors, community_pr

#4578 Fix broken link in Local CSV doc
  docs/integrations/destinations/local-csv.md
Labels: area/documentation

#4537 📚 add doc to describe how CDK handles schemas
  airbyte-cdk/python/docs/concepts/schemas.md
  docs/SUMMARY.md
  docs/contributing-to-airbyte/python/concepts/basic-concepts.md
  docs/contributing-to-airbyte/python/concepts/schemas.md
Labels: CDK, area/documentation

#4587 Source Stripe: remove pattern in accoutn_id and bump stripe version
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e094cb9a-26de-4645-8761-65c0c425d1de.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-stripe/Dockerfile
  airbyte-integrations/connectors/source-stripe/source_stripe/spec.json
  docs/integrations/sources/stripe.md
Labels: area/connectors, area/documentation

#4591 Add operator guide for persistant volume on regional GKE cluster
  docs/deploying-airbyte/on-kubernetes.md
Labels: area/documentation

#4590 🐛 Source Github: Fix schema for pull_request stream
  airbyte-integrations/connectors/source-github/CHANGELOG.md
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/source_github/schemas/pull_requests.json
Labels: area/connectors, community_pr

#4567 🐛 Kubernetes: Fix server starting up before Temporal ready to operate
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-tests/src/automaticMigrationAcceptanceTest/resources/docker-compose-migration-test-first-run.yaml
  airbyte-tests/src/automaticMigrationAcceptanceTest/resources/docker-compose-migration-test-second-run.yaml
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalPool.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalUtils.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/TemporalPoolTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/TemporalUtilsTest.java
  docker-compose.yaml
  kube/resources/scheduler.yaml
  kube/resources/server.yaml
Labels: area/core, area/worker

#4539 Add entrypoint and bump version for remaining connectors.
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/2470e835-feaf-4db6-96f3-70fd645acc77.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/253487c0-2246-43ba-a21f-5116b20a2c50.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/29b409d9-30a5-4cc8-ad50-886eb846fea3.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/2af123bf-0aaf-4e0d-9784-cb497f23741a.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/396e4ca3-8a97-4b85-aa4e-c9d8c2d5f992.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/5a1d14c2-d829-49cd-8437-1e87dc9f5368.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/6ff047c0-f5d5-4ce5-8c81-204a830fa7e1.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/859e501d-2b67-471f-91bb-1c801414d28f.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/9e0556f4-69df-4522-a3fb-03264d36b348.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/aea2fd0d-377d-465e-86c0-4fdc4f688e51.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/af6d50ee-dddf-4126-a8ee-7faee990774f.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/fdc8b827-3257-4b33-83cc-106d234c34d4.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-appsflyer-singer/Dockerfile
  airbyte-integrations/connectors/source-appstore-singer/Dockerfile
  airbyte-integrations/connectors/source-aws-cloudtrail/Dockerfile
  airbyte-integrations/connectors/source-braintree-singer/Dockerfile
  airbyte-integrations/connectors/source-chargebee/Dockerfile
  airbyte-integrations/connectors/source-gitlab-singer/Dockerfile
  airbyte-integrations/connectors/source-gitlab/Dockerfile
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-adwords-singer/Dockerfile
  airbyte-integrations/connectors/source-google-search-console-singer/Dockerfile
  airbyte-integrations/connectors/source-marketo-singer/Dockerfile
  airbyte-integrations/connectors/source-mixpanel-singer/Dockerfile
  airbyte-integrations/connectors/source-posthog/Dockerfile
  airbyte-integrations/connectors/source-quickbooks-singer/Dockerfile
  airbyte-integrations/connectors/source-salesforce-singer/Dockerfile
  airbyte-integrations/connectors/source-zoom-singer/Dockerfile
  buildSrc/src/main/groovy/airbyte-python.gradle
  docs/integrations/sources/appstore.md
  docs/integrations/sources/aws-cloudtrail.md
  docs/integrations/sources/braintree.md
  docs/integrations/sources/gitlab.md
  docs/integrations/sources/google-ads.md
  docs/integrations/sources/google-search-console.md
  docs/integrations/sources/marketo.md
  docs/integrations/sources/mixpanel.md
  docs/integrations/sources/posthog.md
  docs/integrations/sources/quickbooks.md
  docs/integrations/sources/salesforce.md
  docs/integrations/sources/zoom.md
  gradle.properties
  tools/bin/ci_credentials.sh
Labels: area/connectors, area/documentation

#4598 Source GitHub: few updates
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/ef69ef6e-aa7f-4af1-a01d-ef775033524e.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-github/CHANGELOG.md
  airbyte-integrations/connectors/source-github/Dockerfile
  docs/integrations/sources/github.md
Labels: area/connectors, area/documentation

#4439 🎉 New source: Square
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/77225a51-cd15-4a13-af02-65816bd0ecf4.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-square/.dockerignore
  airbyte-integrations/connectors/source-square/Dockerfile
  airbyte-integrations/connectors/source-square/README.md
  airbyte-integrations/connectors/source-square/acceptance-test-config.yml
  airbyte-integrations/connectors/source-square/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-square/build.gradle
  airbyte-integrations/connectors/source-square/integration_tests/__init__.py
  airbyte-integrations/connectors/source-square/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-square/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-square/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-square/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-square/integration_tests/state.json
  airbyte-integrations/connectors/source-square/integration_tests/test_streams/categories.json
  airbyte-integrations/connectors/source-square/integration_tests/test_streams/customers.json
  airbyte-integrations/connectors/source-square/integration_tests/test_streams/discounts.json
  airbyte-integrations/connectors/source-square/integration_tests/test_streams/items.json
  airbyte-integrations/connectors/source-square/integration_tests/test_streams/locations.json
  airbyte-integrations/connectors/source-square/integration_tests/test_streams/modifier_list.json
  airbyte-integrations/connectors/source-square/integration_tests/test_streams/orders.json
  airbyte-integrations/connectors/source-square/integration_tests/test_streams/payments.json
  airbyte-integrations/connectors/source-square/integration_tests/test_streams/refunds.json
  airbyte-integrations/connectors/source-square/integration_tests/test_streams/shifts.json
  airbyte-integrations/connectors/source-square/integration_tests/test_streams/taxes.json
  airbyte-integrations/connectors/source-square/integration_tests/test_streams/team_member_wages.json
  airbyte-integrations/connectors/source-square/integration_tests/test_streams/team_members.json
  airbyte-integrations/connectors/source-square/main.py
  airbyte-integrations/connectors/source-square/requirements.txt
  airbyte-integrations/connectors/source-square/setup.py
  airbyte-integrations/connectors/source-square/source_square/__init__.py
  airbyte-integrations/connectors/source-square/source_square/schemas/TODO.md
  airbyte-integrations/connectors/source-square/source_square/schemas/categories.json
  airbyte-integrations/connectors/source-square/source_square/schemas/customers.json
  airbyte-integrations/connectors/source-square/source_square/schemas/discounts.json
  airbyte-integrations/connectors/source-square/source_square/schemas/items.json
  airbyte-integrations/connectors/source-square/source_square/schemas/locations.json
  airbyte-integrations/connectors/source-square/source_square/schemas/modifier_list.json
  airbyte-integrations/connectors/source-square/source_square/schemas/orders.json
  airbyte-integrations/connectors/source-square/source_square/schemas/payments.json
  airbyte-integrations/connectors/source-square/source_square/schemas/refunds.json
  airbyte-integrations/connectors/source-square/source_square/schemas/shifts.json
  airbyte-integrations/connectors/source-square/source_square/schemas/taxes.json
  airbyte-integrations/connectors/source-square/source_square/schemas/team_member_wages.json
  airbyte-integrations/connectors/source-square/source_square/schemas/team_members.json
  airbyte-integrations/connectors/source-square/source_square/source.py
  airbyte-integrations/connectors/source-square/source_square/spec.json
  airbyte-integrations/connectors/source-square/source_square/utils.py
  airbyte-integrations/connectors/source-square/unit_tests/connection_test.py
  airbyte-integrations/connectors/source-square/unit_tests/utils_test.py
  docs/SUMMARY.md
  docs/integrations/sources/square.md
  tools/bin/ci_credentials.sh
Labels: area/connectors, area/documentation

#4601 add source-definitions
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/badc5925-0485-42be-8caa-b34096cb71b5.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-surveymonkey/README.md
  docs/SUMMARY.md
  docs/integrations/README.md
  docs/integrations/sources/surveymonkey.md
Labels: area/connectors, area/documentation

#4609 Create head-of-lead-generation.md
  docs/SUMMARY.md
  docs/career-and-open-positions/head-of-lead-generation.md
Labels: area/documentation

#4493 🎉 Python CDK: Allow setting network adapter args on outgoing HTTP requests
  .github/workflows/publish-cdk-command.yml
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/http.py
  airbyte-cdk/python/docs/concepts/http-streams.md
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/streams/http/test_http.py
Labels: CDK

#4613 🎉 Destination S3: support `anyOf`, `allOf`, and `oneOf`
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/4816b78f-1489-44c1-9060-4b19d5fa9362.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/connectors/destination-s3/Dockerfile
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/avro/JsonSchemaType.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/avro/JsonToAvroSchemaConverter.java
  airbyte-integrations/connectors/destination-s3/src/test/java/io/airbyte/integrations/destination/s3/avro/JsonToAvroSchemaConverterTest.java
  airbyte-integrations/connectors/destination-s3/src/test/resources/parquet/json_schema_converter/get_avro_schema.json
  airbyte-integrations/connectors/destination-s3/src/test/resources/parquet/json_schema_converter/get_field_type.json
  docs/integrations/destinations/s3.md
Labels: area/connectors, area/documentation

#4615 Migrate Quickstart to use PokeAPI
  docs/.gitbook/assets/getting-started-connection.png
  docs/.gitbook/assets/getting-started-destination.png
  docs/.gitbook/assets/getting-started-logs.png
  docs/.gitbook/assets/getting-started-source.png
  docs/quickstart/add-a-destination.md
  docs/quickstart/add-a-source.md
  docs/quickstart/set-up-a-connection.md
Labels: area/documentation

#4616 Quick typo fix in quickstart guide
  docs/quickstart/add-a-source.md
Labels: area/documentation

#4468 Create on on-oci-vm.md
  docs/.gitbook/assets/OCIScreen1.png
  docs/.gitbook/assets/OCIScreen2.png
  docs/.gitbook/assets/OCIScreen3.png
  docs/.gitbook/assets/OCIScreen4.png
  docs/deploying-airbyte/on-oci-vm.md
Labels: area/documentation, community_pr

#4617 🐛 platform: Fix silent failures in sources
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/IntegrationRunner.java
  airbyte-workers/src/main/java/io/airbyte/workers/DefaultReplicationWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/protocols/airbyte/DefaultAirbyteDestination.java
  airbyte-workers/src/main/java/io/airbyte/workers/protocols/airbyte/DefaultAirbyteSource.java
  airbyte-workers/src/test/java/io/airbyte/workers/DefaultReplicationWorkerTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/protocols/airbyte/DefaultAirbyteDestinationTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/protocols/airbyte/DefaultAirbyteSourceTest.java
Labels: area/worker

#4619 add oracle dpeloyment guide to summary.md
  docs/SUMMARY.md
Labels: area/documentation

#4240 🎉 New Source: Paypal Transaction
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/d913b0f2-cc51-4e55-a44c-8ba1697b9239.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-paypal-transaction/.dockerignore
  airbyte-integrations/connectors/source-paypal-transaction/CHANGELOG.md
  airbyte-integrations/connectors/source-paypal-transaction/Dockerfile
  airbyte-integrations/connectors/source-paypal-transaction/README.md
  airbyte-integrations/connectors/source-paypal-transaction/acceptance-test-config.yml
  airbyte-integrations/connectors/source-paypal-transaction/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-paypal-transaction/bin/fixture_helper.py
  airbyte-integrations/connectors/source-paypal-transaction/bin/paypal_transaction_generator.py
  airbyte-integrations/connectors/source-paypal-transaction/build.gradle
  airbyte-integrations/connectors/source-paypal-transaction/integration_tests/__init__.py
  airbyte-integrations/connectors/source-paypal-transaction/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-paypal-transaction/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-paypal-transaction/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-paypal-transaction/integration_tests/configured_catalog_balances.json
  airbyte-integrations/connectors/source-paypal-transaction/integration_tests/configured_catalog_transactions.json
  airbyte-integrations/connectors/source-paypal-transaction/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-paypal-transaction/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-paypal-transaction/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-paypal-transaction/integration_tests/state.json
  airbyte-integrations/connectors/source-paypal-transaction/main.py
  airbyte-integrations/connectors/source-paypal-transaction/requirements.txt
  airbyte-integrations/connectors/source-paypal-transaction/setup.py
  airbyte-integrations/connectors/source-paypal-transaction/source_paypal_transaction/__init__.py
  airbyte-integrations/connectors/source-paypal-transaction/source_paypal_transaction/schemas/TODO.md
  airbyte-integrations/connectors/source-paypal-transaction/source_paypal_transaction/schemas/balances.json
  airbyte-integrations/connectors/source-paypal-transaction/source_paypal_transaction/schemas/transactions.json
  airbyte-integrations/connectors/source-paypal-transaction/source_paypal_transaction/source.py
  airbyte-integrations/connectors/source-paypal-transaction/source_paypal_transaction/spec.json
  airbyte-integrations/connectors/source-paypal-transaction/unit_tests/unit_test.py
  docs/SUMMARY.md
  docs/integrations/sources/paypal-transaction.md
  tools/bin/ci_credentials.sh
Labels: area/connectors, area/documentation

#4626 set db version after full import is complete
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/JobPersistence.java
  airbyte-server/src/main/java/io/airbyte/server/ConfigDumpImport.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
Labels: area/core

#4622 Add documentation for configuring Kube GCS logging.
  docs/deploying-airbyte/on-kubernetes.md
Labels: area/documentation

#4640 Bump version: 0.27.0-alpha → 0.27.1-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend

#4644 0.27.1 Platform Patch Notes
  docs/project-overview/changelog/platform.md
Labels: area/documentation

#4359 🎉 New Source: Zendesk Sunshine
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/325e0640-e7b3-4e24-b823-3361008f603f.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-zendesk-sunshine/.dockerignore
  airbyte-integrations/connectors/source-zendesk-sunshine/Dockerfile
  airbyte-integrations/connectors/source-zendesk-sunshine/README.md
  airbyte-integrations/connectors/source-zendesk-sunshine/acceptance-test-config.yml
  airbyte-integrations/connectors/source-zendesk-sunshine/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-zendesk-sunshine/build.gradle
  airbyte-integrations/connectors/source-zendesk-sunshine/integration_tests/__init__.py
  airbyte-integrations/connectors/source-zendesk-sunshine/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-zendesk-sunshine/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-zendesk-sunshine/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-zendesk-sunshine/main.py
  airbyte-integrations/connectors/source-zendesk-sunshine/requirements.txt
  airbyte-integrations/connectors/source-zendesk-sunshine/sample_files/state.json
  airbyte-integrations/connectors/source-zendesk-sunshine/setup.py
  airbyte-integrations/connectors/source-zendesk-sunshine/source_zendesk_sunshine/__init__.py
  airbyte-integrations/connectors/source-zendesk-sunshine/source_zendesk_sunshine/schemas/jobs.json
  airbyte-integrations/connectors/source-zendesk-sunshine/source_zendesk_sunshine/schemas/limits.json
  airbyte-integrations/connectors/source-zendesk-sunshine/source_zendesk_sunshine/schemas/object_records.json
  airbyte-integrations/connectors/source-zendesk-sunshine/source_zendesk_sunshine/schemas/object_type_policies.json
  airbyte-integrations/connectors/source-zendesk-sunshine/source_zendesk_sunshine/schemas/object_types.json
  airbyte-integrations/connectors/source-zendesk-sunshine/source_zendesk_sunshine/schemas/relationship_records.json
  airbyte-integrations/connectors/source-zendesk-sunshine/source_zendesk_sunshine/schemas/relationship_types.json
  airbyte-integrations/connectors/source-zendesk-sunshine/source_zendesk_sunshine/source.py
  airbyte-integrations/connectors/source-zendesk-sunshine/source_zendesk_sunshine/spec.json
  airbyte-integrations/connectors/source-zendesk-sunshine/source_zendesk_sunshine/streams.py
  docs/SUMMARY.md
  docs/integrations/README.md
  docs/integrations/sources/zendesk-sunshine.md
  tools/bin/ci_credentials.sh
Labels: area/connectors, area/documentation

#4646 0.27.1 Connector Patch Notes
  docs/SUMMARY.md
  docs/integrations/sources/cockroachdb.md
  docs/integrations/sources/surveymonkey.md
  docs/project-overview/changelog/connectors.md
Labels: area/documentation

#4647 Update connector certification table with new sources
  docs/integrations/README.md
Labels: area/documentation

#4656 Add hint to Airflow guide about local example
  docs/operator-guides/using-the-airflow-airbyte-operator.md
Labels: area/documentation

#4649 fix version for kube automatic migration support
  docs/operator-guides/upgrading-airbyte.md
Labels: area/documentation

#4358 🎉 New source: Dixa
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-dixa/.dockerignore
  airbyte-integrations/connectors/source-dixa/Dockerfile
  airbyte-integrations/connectors/source-dixa/README.md
  airbyte-integrations/connectors/source-dixa/acceptance-test-config.yml
  airbyte-integrations/connectors/source-dixa/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-dixa/build.gradle
  airbyte-integrations/connectors/source-dixa/integration_tests/__init__.py
  airbyte-integrations/connectors/source-dixa/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-dixa/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-dixa/integration_tests/catalog.json
  airbyte-integrations/connectors/source-dixa/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-dixa/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-dixa/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-dixa/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-dixa/main.py
  airbyte-integrations/connectors/source-dixa/requirements.txt
  airbyte-integrations/connectors/source-dixa/setup.py
  airbyte-integrations/connectors/source-dixa/source_dixa/__init__.py
  airbyte-integrations/connectors/source-dixa/source_dixa/schemas/conversation_export.json
  airbyte-integrations/connectors/source-dixa/source_dixa/source.py
  airbyte-integrations/connectors/source-dixa/source_dixa/spec.json
  airbyte-integrations/connectors/source-dixa/unit_tests/unit_test.py
  docs/SUMMARY.md
  docs/integrations/README.md
  docs/integrations/sources/dixa.md
Labels: area/connectors, area/documentation, community_pr

#4525 Combine admin and settings
  airbyte-webapp/src/components/SideMenu/SideMenu.tsx
  airbyte-webapp/src/components/SideMenu/components/MenuItem.tsx
  airbyte-webapp/src/components/SideMenu/index.tsx
  airbyte-webapp/src/components/hooks/services/useConnector.tsx
  airbyte-webapp/src/components/hooks/services/useWorkspaceHook.tsx
  airbyte-webapp/src/components/index.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/AdminPage/AdminPage.tsx
  airbyte-webapp/src/pages/AdminPage/components/DestinationsView.tsx
  airbyte-webapp/src/pages/AdminPage/index.tsx
  airbyte-webapp/src/pages/SettingsPage/SettingsPage.tsx
  airbyte-webapp/src/pages/SettingsPage/components/FeedbackBlock.tsx
  airbyte-webapp/src/pages/SettingsPage/components/useWorkspaceEditor.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/AccountPage/AccountPage.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/AccountPage/components/AccountForm.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/AccountPage/index.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConfigurationsPage/ConfigurationsPage.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConfigurationsPage/components/ImportConfigurationModal.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConfigurationsPage/components/LogsContent.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConfigurationsPage/index.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/DestinationsPage.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/SourcesPage.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/components/ConnectorCell.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/components/ConnectorsView.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/components/CreateConnector.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/components/CreateConnectorModal.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/components/ImageCell.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/components/PageComponents.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/components/UpgradeAllButton.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/components/VersionCell.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/index.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/MetricsPage/MetricsPage.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/MetricsPage/components/MetricsForm.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/MetricsPage/index.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/NotificationPage/NotificationPage.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/NotificationPage/components/NotificationsForm.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/NotificationPage/components/WebHookForm.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/NotificationPage/index.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/SourcesPage/SourcesPage.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/SourcesPage/components/ConnectorCell.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/SourcesPage/components/ImageCell.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/SourcesPage/components/PageComponents.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/SourcesPage/components/UpgradeAllButton.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/SourcesPage/components/VersionCell.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/SourcesPage/index.tsx
  airbyte-webapp/src/pages/routes.tsx
  airbyte-webapp/src/views/layout/SideBar/SideBar.tsx
Labels: area/frontend, type/enhancement

#4575 Job history purging
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/SchedulerApp.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/DefaultJobPersistence.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/JobPersistence.java
  airbyte-scheduler/persistence/src/main/resources/job_history_purge.sql
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/DefaultJobPersistenceTest.java
Labels: area/core

#4678 0.27.1 Announcement Summary
  docs/project-overview/changelog/README.md
Labels: area/documentation

#4682 🐛 Source Sendgrid: add start_time config and correct primary_key
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/fbb5fbe2-16ad-4cf4-af7d-ff9d9c316c87.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-sendgrid/Dockerfile
  airbyte-integrations/connectors/source-sendgrid/sample_files/no_spam_reports_configured_catalog.json
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/schemas/contacts.json
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/schemas/suppression_groups.json
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/spec.json
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/streams.py
Labels: area/connectors

#4607 use common abstraction for CDC via debezium for postgres
  airbyte-integrations/bases/debezium/src/testFixtures/java/io/airbyte/integrations/debezium/CdcSourceTest.java
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/CdcMySqlSourceTest.java
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/AirbyteFileOffsetBackingStore.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/DebeziumEventUtils.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/DebeziumRecordIterator.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/DebeziumRecordPublisher.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresCdcConnectorMetadataInjector.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresCdcProperties.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresCdcSavedInfoFetcher.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresCdcStateHandler.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresCdcTargetPosition.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/AirbyteFileOffsetBackingStoreTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/DebeziumEventUtilsTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/DebeziumRecordPublisherTest.java
  airbyte-integrations/connectors/source-postgres/src/test/resources/delete_change_event.json
  airbyte-integrations/connectors/source-postgres/src/test/resources/delete_message.json
  airbyte-integrations/connectors/source-postgres/src/test/resources/insert_change_event.json
  airbyte-integrations/connectors/source-postgres/src/test/resources/insert_message.json
  airbyte-integrations/connectors/source-postgres/src/test/resources/test_debezium_offset.dat
  airbyte-integrations/connectors/source-postgres/src/test/resources/update_change_event.json
  airbyte-integrations/connectors/source-postgres/src/test/resources/update_message.json
Labels: area/connectors

#4604 use common abstraction for CDC via debezium for mysql
  airbyte-integrations/bases/debezium/src/testFixtures/java/io/airbyte/integrations/debezium/CdcSourceTest.java
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/AirbyteFileOffsetBackingStore.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/AirbyteSchemaHistoryStorage.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/DebeziumEventUtils.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/DebeziumRecordIterator.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/DebeziumRecordPublisher.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/FilteredFileDatabaseHistory.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlCdcConnectorMetadataInjector.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlCdcProperties.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlCdcSavedInfoFetcher.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlCdcStateHandler.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlCdcTargetPosition.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/TargetFilePosition.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/CdcMySqlSourceTest.java
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/AirbyteFileOffsetBackingStore.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/DebeziumEventUtils.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/DebeziumRecordIterator.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/DebeziumRecordPublisher.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresCdcConnectorMetadataInjector.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresCdcProperties.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresCdcSavedInfoFetcher.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresCdcStateHandler.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresCdcTargetPosition.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/AirbyteFileOffsetBackingStoreTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/DebeziumEventUtilsTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/DebeziumRecordPublisherTest.java
  airbyte-integrations/connectors/source-postgres/src/test/resources/delete_change_event.json
  airbyte-integrations/connectors/source-postgres/src/test/resources/delete_message.json
  airbyte-integrations/connectors/source-postgres/src/test/resources/insert_change_event.json
  airbyte-integrations/connectors/source-postgres/src/test/resources/insert_message.json
  airbyte-integrations/connectors/source-postgres/src/test/resources/test_debezium_offset.dat
  airbyte-integrations/connectors/source-postgres/src/test/resources/update_change_event.json
  airbyte-integrations/connectors/source-postgres/src/test/resources/update_message.json
Labels: area/connectors

#4655 test to show how automatic migration handles deprecated definitions
  airbyte-server/src/test/java/io/airbyte/server/migration/RunMigrationTest.java
  airbyte-server/src/test/resources/migration/dummy_data/config/SOURCE_CONNECTION/e48cae1a-1f5c-42cc-9ec1-a44ff7fb4969.json
  airbyte-server/src/test/resources/migration/dummy_data/config/STANDARD_SOURCE_DEFINITION/4eb22946-2a79-4d20-a3e6-effd234613c3.json
  airbyte-server/src/test/resources/migration/dummy_data/config/STANDARD_SOURCE_DEFINITION/d2147be5-fa36-4936-977e-f031affa5895.json
Labels: area/core

#4690 Fix dixa tests
  airbyte-integrations/connectors/source-dixa/source_dixa/schemas/conversation_export.json
  airbyte-integrations/connectors/source-dixa/unit_tests/unit_test.py
Labels: area/connectors

#4580 introduce common abstraction for CDC via debezium
  airbyte-integrations/bases/debezium/build.gradle
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/AirbyteDebeziumHandler.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/CdcMetadataInjector.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/CdcSavedInfoFetcher.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/CdcStateHandler.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/CdcTargetPosition.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/AirbyteFileOffsetBackingStore.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/AirbyteSchemaHistoryStorage.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/DebeziumEventUtils.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/DebeziumRecordIterator.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/DebeziumRecordPublisher.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/FilteredFileDatabaseHistory.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/SnapshotMetadata.java
  airbyte-integrations/bases/debezium/src/test/java/io/airbyte/integrations/debezium/AirbyteFileOffsetBackingStoreTest.java
  airbyte-integrations/bases/debezium/src/test/java/io/airbyte/integrations/debezium/DebeziumEventUtilsTest.java
  airbyte-integrations/bases/debezium/src/test/java/io/airbyte/integrations/debezium/DebeziumRecordPublisherTest.java
  airbyte-integrations/bases/debezium/src/test/resources/delete_change_event.json
  airbyte-integrations/bases/debezium/src/test/resources/delete_message.json
  airbyte-integrations/bases/debezium/src/test/resources/insert_change_event.json
  airbyte-integrations/bases/debezium/src/test/resources/insert_message.json
  airbyte-integrations/bases/debezium/src/test/resources/test_debezium_offset.dat
  airbyte-integrations/bases/debezium/src/test/resources/update_change_event.json
  airbyte-integrations/bases/debezium/src/test/resources/update_message.json
  airbyte-integrations/bases/debezium/src/testFixtures/java/io/airbyte/integrations/debezium/CdcSourceTest.java
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlCdcConnectorMetadataInjector.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlCdcProperties.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlCdcSavedInfoFetcher.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlCdcStateHandler.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlCdcTargetPosition.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/TargetFilePosition.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/CdcMySqlSourceTest.java
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/AirbyteFileOffsetBackingStore.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/DebeziumEventUtils.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/DebeziumRecordIterator.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/DebeziumRecordPublisher.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresCdcConnectorMetadataInjector.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresCdcProperties.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresCdcSavedInfoFetcher.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresCdcStateHandler.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresCdcTargetPosition.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  settings.gradle
Labels: area/connectors

#4696 Source Dixa: fix timezone
  airbyte-integrations/connectors/source-dixa/source_dixa/source.py
  airbyte-integrations/connectors/source-dixa/unit_tests/unit_test.py
Labels: area/connectors

#4701 Publish Dixa source
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/0b5c867e-1b12-4d02-ab74-97b2184ff6d7.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-dixa/source_dixa/source.py
  airbyte-integrations/connectors/source-dixa/unit_tests/unit_test.py
Labels: area/connectors

#4677 allow injecting filters for server
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
Labels: area/core

#4702 upgrade postgres version for new cdc abstraction
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/decd338e-5647-4c0b-adf4-da0e75f5a750.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-postgres/Dockerfile
Labels: area/connectors

#4705 Fix dependencies for Superset demo
  resources/examples/airflow/README.md
  resources/examples/airflow/assets/postgres_setup.png
  resources/examples/airflow/assets/superset_database_setup.png
  resources/examples/airflow/superset/docker-compose-superset.yaml
  resources/examples/airflow/superset/docker/.env
  resources/examples/airflow/superset/docker/.env-non-dev
  resources/examples/airflow/superset/docker/docker-bootstrap.sh
  resources/examples/airflow/superset/docker/docker-ci.sh
  resources/examples/airflow/superset/docker/docker-entrypoint.sh
  resources/examples/airflow/superset/docker/docker-frontend.sh
  resources/examples/airflow/superset/docker/docker-init.sh
  resources/examples/airflow/superset/docker/frontend-mem-nag.sh
  resources/examples/airflow/superset/docker/pythonpath_dev/.gitignore
  resources/examples/airflow/superset/docker/pythonpath_dev/superset_config.py
  resources/examples/airflow/superset/docker/pythonpath_dev/superset_config_local.example
Labels: area/documentation

#4684 Update on-oci-vm.md
  docs/deploying-airbyte/on-oci-vm.md
Labels: area/documentation, community_pr

#4703 upgrade mysql version for new cdc abstraction
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/435bb9a5-7887-4809-aa58-28c27df0d7ad.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-mysql/Dockerfile
Labels: area/connectors

#4679 fix config init race condition
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
Labels: area/core

#4666 🐛 Destination S3: fix minio output for parquet format
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/parquet/S3ParquetWriter.java
Labels: area/connectors, community_pr

#4718 Bump destination s3 version
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/4816b78f-1489-44c1-9060-4b19d5fa9362.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/connectors/destination-s3/Dockerfile
  docs/integrations/destinations/s3.md
Labels: area/connectors, area/documentation

#4691 Fix scheduler race condition.
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/JobSubmitter.java
  airbyte-scheduler/app/src/test/java/io/airbyte/scheduler/app/JobSubmitterTest.java
Labels: area/core

#4724 Bump version: 0.27.1-alpha → 0.27.2-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend

#4645 🐛 Source Square: Update _send_request method due to changes in Airbyte CDK
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/77225a51-cd15-4a13-af02-65816bd0ecf4.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-square/Dockerfile
  airbyte-integrations/connectors/source-square/source_square/source.py
  docs/integrations/sources/square.md
Labels: area/connectors, area/documentation

#4713 🎉 Destination Snowflake: tag snowflake traffic with airbyte ID to enable optimizations from Snowflake
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/424892c4-daac-4491-b35d-c6688ba547ba.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/DestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeDatabase.java
  docs/integrations/destinations/snowflake.md
  docs/integrations/sources/stripe.md
Labels: area/connectors, area/documentation

#4541 🎉 New source: Typeform
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e7eff203-90bf-43e5-a240-19ea3056c474.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-typeform/.dockerignore
  airbyte-integrations/connectors/source-typeform/Dockerfile
  airbyte-integrations/connectors/source-typeform/README.md
  airbyte-integrations/connectors/source-typeform/acceptance-test-config.yml
  airbyte-integrations/connectors/source-typeform/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-typeform/build.gradle
  airbyte-integrations/connectors/source-typeform/integration_tests/__init__.py
  airbyte-integrations/connectors/source-typeform/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-typeform/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-typeform/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-typeform/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-typeform/integration_tests/state.json
  airbyte-integrations/connectors/source-typeform/main.py
  airbyte-integrations/connectors/source-typeform/requirements.txt
  airbyte-integrations/connectors/source-typeform/setup.py
  airbyte-integrations/connectors/source-typeform/source_typeform/__init__.py
  airbyte-integrations/connectors/source-typeform/source_typeform/schemas/forms.json
  airbyte-integrations/connectors/source-typeform/source_typeform/schemas/responses.json
  airbyte-integrations/connectors/source-typeform/source_typeform/source.py
  airbyte-integrations/connectors/source-typeform/source_typeform/spec.json
  airbyte-integrations/connectors/source-typeform/unit_tests/test_responses_stream.py
  docs/SUMMARY.md
  docs/integrations/sources/typeform.md
  tools/bin/ci_credentials.sh
Labels: area/connectors, area/documentation

#4725 Upgrade postgres and redshift destination to remove basic_normalization attribute
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/25c5221d-dce2-4163-ade9-739ef790f503.json
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/f7a7d195-377f-cf5b-70a5-be6b819019dc.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/connectors/destination-postgres/Dockerfile
  airbyte-integrations/connectors/destination-redshift/Dockerfile
Labels: area/connectors

#4732 fix broken assertions for automatic migration tests
  airbyte-server/src/test/java/io/airbyte/server/migration/RunMigrationTest.java
  airbyte-tests/src/automaticMigrationAcceptanceTest/java/io/airbyte/test/automaticMigrationAcceptance/MigrationAcceptanceTest.java
Labels: area/core

#4721 Slightly improve sed-based yaml parsing
  airbyte-workers/src/main/resources/dbt_transformation_entrypoint.sh
Labels: area/worker, community_pr

#4730 throw exception if we close engine before snapshot is complete + increase timeout for subsequent records
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/decd338e-5647-4c0b-adf4-da0e75f5a750.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/DebeziumRecordIterator.java
  airbyte-integrations/connectors/source-postgres/Dockerfile
Labels: area/connectors

#4717 allow publishing airbyte-server to local maven repo
  airbyte-server/Dockerfile
  airbyte-server/build.gradle
Labels: area/core

#4719 CDK: Add initial Destination abstraction and tests
  airbyte-cdk/python/airbyte_cdk/connector.py
  airbyte-cdk/python/airbyte_cdk/destinations/__init__.py
  airbyte-cdk/python/airbyte_cdk/destinations/destination.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/destinations/test_destination.py
Labels: CDK

#4739 Update docs on GitHub connector now that its Airbyte native
  docs/integrations/sources/github.md
Labels: area/documentation

#4740 Remove statement about Postgres connector being based on Singer
  docs/integrations/sources/postgres.md
Labels: area/documentation

#4738 upgrade fabric8 client
  airbyte-scheduler/app/build.gradle
Labels: area/core

#4689 🎉 Source MSSQL: implementation for CDC
  airbyte-integrations/bases/debezium/build.gradle
  airbyte-integrations/bases/debezium/src/testFixtures/java/io/airbyte/integrations/debezium/CdcSourceTest.java
  airbyte-integrations/bases/standard-source-test/src/main/java/io/airbyte/integrations/standardtest/source/TestDataHolder.java
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcConnectorMetadataInjector.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcProperties.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcSavedInfoFetcher.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcStateHandler.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcTargetPosition.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
  airbyte-integrations/connectors/source-mssql/src/main/resources/spec.json
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceComprehensiveTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/MssqlSourceTest.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/CdcMySqlSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  docs/integrations/sources/mssql.md
  docs/understanding-airbyte/cdc.md
Labels: area/connectors, area/documentation

#4694 bump up MSSQL version for cdc
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/b5ea17b1-f170-46dc-bc31-cc744ca984c1.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-mssql/Dockerfile
Labels: area/connectors

#4747 MSSQL docs - fixed broken links and styling
  docs/integrations/sources/mssql.md
Labels: area/documentation

#4527 Fix enabling connection in refresh catalog mode
  airbyte-webapp/src/components/hooks/services/useConnectionHook.tsx
  airbyte-webapp/src/core/domain/connection/ConnectionService.ts
  airbyte-webapp/src/core/domain/connection/index.ts
  airbyte-webapp/src/core/domain/connection/types.ts
  airbyte-webapp/src/core/resources/Connection.ts
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/EnabledControl.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/SettingsView.tsx
Labels: area/frontend, type/bug

#4674 Do not update deprecated connectors
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/components/Table/Table.tsx
  airbyte-webapp/src/components/hooks/services/useConnector.test.tsx
  airbyte-webapp/src/components/hooks/services/useConnector.tsx
  airbyte-webapp/src/components/index.tsx
  airbyte-webapp/src/core/domain/connector/DestinationDefinitionService.ts
  airbyte-webapp/src/core/domain/connector/SourceDefinitionService.ts
  airbyte-webapp/src/core/domain/connector/connector.ts
  airbyte-webapp/src/core/domain/connector/index.ts
  airbyte-webapp/src/core/domain/connector/source.ts
  airbyte-webapp/src/core/resources/DestinationDefinition.ts
  airbyte-webapp/src/core/resources/SourceDefinition.ts
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/SourcesPage.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/components/ConnectorCell.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/components/ConnectorsView.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/components/CreateConnector.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/components/CreateConnectorModal.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/components/VersionCell.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/SourcesPage/SourcesPage.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/SourcesPage/components/ConnectorCell.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/SourcesPage/components/ImageCell.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/SourcesPage/components/PageComponents.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/SourcesPage/components/UpgradeAllButton.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/SourcesPage/components/VersionCell.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/SourcesPage/index.tsx
Labels: area/frontend, type/bug

#4683 🐛 Source Slack: add float_ts field
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/c2281cee-86f9-4a86-bb48-d23286b4c7bd.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-slack/Dockerfile
  airbyte-integrations/connectors/source-slack/acceptance-test-config.yml
  airbyte-integrations/connectors/source-slack/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-slack/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-slack/source_slack/schemas/channel_messages.json
  airbyte-integrations/connectors/source-slack/source_slack/schemas/threads.json
  docs/integrations/sources/slack.md
Labels: area/connectors, area/documentation

#4522 copy docs to webapp docker image
  airbyte-webapp/Dockerfile
  airbyte-webapp/build.gradle
Labels: area/frontend

#4708 🐛 Source GitHub: fix bug with `IssueEvents` stream and add handling for rate limiting
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/ef69ef6e-aa7f-4af1-a01d-ef775033524e.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/source_github/source.py
  airbyte-integrations/connectors/source-github/source_github/streams.py
  docs/integrations/sources/github.md
Labels: area/connectors, area/documentation

#4742 Fix some api-spec errors.
  airbyte-api/src/main/openapi/config.yaml
  docs/reference/api/generated-api-html/index.html
Labels: area/api, area/documentation

#4692 Source PostHog: Use account information for checking the connection
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/af6d50ee-dddf-4126-a8ee-7faee990774f.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-posthog/Dockerfile
  airbyte-integrations/connectors/source-posthog/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-posthog/source_posthog/schemas/annotations.json
  airbyte-integrations/connectors/source-posthog/source_posthog/schemas/cohorts.json
  airbyte-integrations/connectors/source-posthog/source_posthog/schemas/events.json
  airbyte-integrations/connectors/source-posthog/source_posthog/schemas/feature_flags.json
  airbyte-integrations/connectors/source-posthog/source_posthog/schemas/insights.json
  airbyte-integrations/connectors/source-posthog/source_posthog/source.py
  airbyte-integrations/connectors/source-posthog/source_posthog/streams.py
  docs/integrations/sources/posthog.md
Labels: area/connectors, area/documentation

#4761 Bump version: 0.27.2-alpha → 0.27.3-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend

#4514 RFC: Split Platform and Connector Builds
  .github/workflows/gradle.yml
  .github/workflows/publish-cdk-command.yml
  airbyte-config/models/README.md
  airbyte-migration/README.md
  airbyte-tests/src/automaticMigrationAcceptanceTest/java/io/airbyte/test/automaticMigrationAcceptance/MigrationAcceptanceTest.java
  build.gradle
  docs/contributing-to-airbyte/developing-locally.md
  docs/contributing-to-airbyte/gradle-cheatsheet.md
  settings.gradle
  tools/bin/acceptance_test.sh
  tools/bin/acceptance_test_kube.sh
  tools/bin/check_images_exist.sh
  tools/bin/cloud_storage_logging_test.sh
  tools/bin/e2e_test.sh
  tools/bin/release_version.sh
Labels: area/documentation

#4768 Restore template generator and fix formatting.
  .github/workflows/gradle.yml
  airbyte-integrations/connectors/source-scaffold-source-http/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-scaffold-source-http/main.py
  airbyte-integrations/connectors/source-scaffold-source-http/setup.py
  airbyte-integrations/connectors/source-scaffold-source-http/source_scaffold_source_http/source.py
  airbyte-integrations/connectors/source-scaffold-source-http/unit_tests/unit_test.py
  airbyte-integrations/connectors/source-scaffold-source-python/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-scaffold-source-python/main.py
  airbyte-integrations/connectors/source-scaffold-source-python/setup.py
  airbyte-integrations/connectors/source-scaffold-source-python/source_scaffold_source_python/source.py
  airbyte-integrations/connectors/source-scaffold-source-python/unit_tests/unit_test.py
Labels: area/connectors

#4772 db config persistence builder suggestion
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/ConfigPersistenceBuilder.java
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/ConfigPersistenceFactory.java
  airbyte-config/persistence/src/test/java/io/airbyte/config/persistence/ConfigPersistenceBuilderTest.java
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/SchedulerApp.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
Labels: area/core

#4775 Remove example use cases from docs
  docs/SUMMARY.md
Labels: area/documentation

#4669 🎉 Stripe Source: Fix subscriptions stream to return all kinds of subscriptions (including expired and canceled)
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e094cb9a-26de-4645-8761-65c0c425d1de.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-stripe/CHANGELOG.md
  airbyte-integrations/connectors/source-stripe/Dockerfile
  airbyte-integrations/connectors/source-stripe/README.md
  airbyte-integrations/connectors/source-stripe/acceptance-test-config.yml
  airbyte-integrations/connectors/source-stripe/build.gradle
  airbyte-integrations/connectors/source-stripe/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-stripe/integration_tests/expected_subscriptions_records.txt
  airbyte-integrations/connectors/source-stripe/integration_tests/non_disputes_events_catalog.json
  airbyte-integrations/connectors/source-stripe/integration_tests/non_invoice_line_items_catalog.json
  airbyte-integrations/connectors/source-stripe/integration_tests/subscription_catalog.json
  airbyte-integrations/connectors/source-stripe/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-stripe/setup.py
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/balance_transactions.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/charges.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/customer_balance_transactions.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/customers.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/disputes.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/events.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/invoice_items.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/invoice_line_items.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/invoices.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/payouts.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/products.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/subscription_items.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/subscriptions.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/transfers.json
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  docs/contributing-to-airbyte/building-new-connector/source-acceptance-tests.md
  docs/integrations/sources/stripe.md
  tools/bin/ci_credentials.sh
Labels: area/connectors, area/documentation

#4709 Add note about orphaned Airbyte configs preventing automatic upgrades
  docs/operator-guides/upgrading-airbyte.md
Labels: area/documentation

#4792 Patch 0.27.2 and 0.27.3 platform notes
  docs/project-overview/changelog/platform.md
Labels: area/documentation

#4794 Connector notes for 0.27.3
  docs/project-overview/changelog/connectors.md
Labels: area/documentation

#4796 Add new logo to GitHub page
  README.md
  docs/.gitbook/assets/airbyte_new_logo.svg
Labels: area/documentation

#4795 🐛 CDK: Fix logging of initial state value
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/abstract_source.py
  airbyte-cdk/python/setup.py
Labels: CDK

#4811 bug fix: use register api
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
Labels: area/core

#4808 🐛 Add missing dependencies for acceptance tests to run.
  airbyte-integrations/connector-templates/source-python-http-api/integration_tests/acceptance.py
  airbyte-integrations/connector-templates/source-python-http-api/main.py.hbs
  airbyte-integrations/connector-templates/source-python-http-api/setup.py.hbs
  airbyte-integrations/connector-templates/source-python-http-api/source_{{snakeCase name}}/source.py.hbs
  airbyte-integrations/connector-templates/source-python-http-api/unit_tests/unit_test.py.hbs
  airbyte-integrations/connector-templates/source-python/integration_tests/acceptance.py
  airbyte-integrations/connector-templates/source-python/main.py.hbs
  airbyte-integrations/connector-templates/source-python/setup.py.hbs
  airbyte-integrations/connector-templates/source-python/source_{{snakeCase name}}/source.py.hbs
  airbyte-integrations/connector-templates/source-python/unit_tests/unit_test.py.hbs
  airbyte-integrations/connectors/source-scaffold-source-http/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-scaffold-source-http/main.py
  airbyte-integrations/connectors/source-scaffold-source-http/setup.py
  airbyte-integrations/connectors/source-scaffold-source-http/source_scaffold_source_http/source.py
  airbyte-integrations/connectors/source-scaffold-source-http/unit_tests/unit_test.py
  airbyte-integrations/connectors/source-scaffold-source-python/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-scaffold-source-python/main.py
  airbyte-integrations/connectors/source-scaffold-source-python/setup.py
  airbyte-integrations/connectors/source-scaffold-source-python/source_scaffold_source_python/source.py
  airbyte-integrations/connectors/source-scaffold-source-python/unit_tests/unit_test.py
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/balance_transactions.json
  settings.gradle
Labels: area/connectors

#4771 🎉 Add Python Destination Template
  airbyte-integrations/connector-templates/destination-python/.dockerignore
  airbyte-integrations/connector-templates/destination-python/Dockerfile
  airbyte-integrations/connector-templates/destination-python/README.md
  airbyte-integrations/connector-templates/destination-python/build.gradle
  airbyte-integrations/connector-templates/destination-python/destination_{{snakeCase name}}/__init__.py
  airbyte-integrations/connector-templates/destination-python/destination_{{snakeCase name}}/destination.py
  airbyte-integrations/connector-templates/destination-python/destination_{{snakeCase name}}/spec.json
  airbyte-integrations/connector-templates/destination-python/integration_tests/integration_test.py
  airbyte-integrations/connector-templates/destination-python/main.py
  airbyte-integrations/connector-templates/destination-python/setup.py
  airbyte-integrations/connector-templates/destination-python/unit_tests/unit_test.py
  airbyte-integrations/connectors/destination-scaffold-destination-python/.dockerignore
  airbyte-integrations/connectors/destination-scaffold-destination-python/Dockerfile
  airbyte-integrations/connectors/destination-scaffold-destination-python/README.md
  airbyte-integrations/connectors/destination-scaffold-destination-python/build.gradle
  airbyte-integrations/connectors/destination-scaffold-destination-python/destination_scaffold_destination_python/__init__.py
  airbyte-integrations/connectors/destination-scaffold-destination-python/destination_scaffold_destination_python/destination.py
  airbyte-integrations/connectors/destination-scaffold-destination-python/destination_scaffold_destination_python/spec.json
  airbyte-integrations/connectors/destination-scaffold-destination-python/integration_tests/integration_test.py
  airbyte-integrations/connectors/destination-scaffold-destination-python/main.py
  airbyte-integrations/connectors/destination-scaffold-destination-python/setup.py
  airbyte-integrations/connectors/destination-scaffold-destination-python/unit_tests/unit_test.py
Labels: area/connectors

#4814 Fix format errors.
  airbyte-integrations/connector-templates/destination-python/destination_{{snakeCase name}}/spec.json
  airbyte-integrations/connectors/destination-scaffold-destination-python/destination_scaffold_destination_python/spec.json
Labels: area/connectors

#4670 🎉 Migrate config persistence to database
  .env
  airbyte-config/init/src/main/resources/seed/workspace_definitions.yaml
  airbyte-config/models/src/main/java/io/airbyte/config/ConfigSchema.java
  airbyte-config/models/src/main/java/io/airbyte/config/ConfigSchemaMigrationSupport.java
  airbyte-config/models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-config/persistence/build.gradle
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/AirbyteConfigsTable.java
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/ConfigPersistenceBuilder.java
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/DatabaseConfigPersistence.java
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/FileSystemConfigPersistence.java
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/YamlSeedConfigPersistence.java
  airbyte-config/persistence/src/main/resources/airbyte_configs_table.sql
  airbyte-config/persistence/src/test/java/io/airbyte/config/persistence/BaseTest.java
  airbyte-config/persistence/src/test/java/io/airbyte/config/persistence/ConfigPersistenceBuilderTest.java
  airbyte-config/persistence/src/test/java/io/airbyte/config/persistence/DatabaseConfigPersistenceTest.java
  airbyte-config/persistence/src/test/java/io/airbyte/config/persistence/YamlSeedConfigPersistenceTest.java
  airbyte-db/src/main/java/io/airbyte/db/Database.java
  airbyte-db/src/main/java/io/airbyte/db/Databases.java
  airbyte-db/src/main/resources/config_tables/AirbyteConfigs.yaml
  airbyte-scheduler/app/build.gradle
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/SchedulerApp.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/DatabaseSchema.java
  airbyte-server/build.gradle
  airbyte-server/src/main/java/io/airbyte/server/ConfigDumpExport.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-tests/src/automaticMigrationAcceptanceTest/java/io/airbyte/test/automaticMigrationAcceptance/MigrationAcceptanceTest.java
  docker-compose.yaml
  docs/operator-guides/configuring-airbyte-db.md
  tools/bin/e2e_test.sh
Labels: area/core, area/documentation

#4676 🎉 Source intercom: migration to CDK
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/d8313939-3782-41b0-be29-b3ca20d8dd3a.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-intercom/.dockerignore
  airbyte-integrations/connectors/source-intercom/Dockerfile
  airbyte-integrations/connectors/source-intercom/README.md
  airbyte-integrations/connectors/source-intercom/acceptance-test-config.yml
  airbyte-integrations/connectors/source-intercom/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-intercom/build.gradle
  airbyte-integrations/connectors/source-intercom/integration_tests/__init__.py
  airbyte-integrations/connectors/source-intercom/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-intercom/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-intercom/integration_tests/catalog.json
  airbyte-integrations/connectors/source-intercom/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-intercom/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-intercom/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-intercom/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-intercom/main.py
  airbyte-integrations/connectors/source-intercom/requirements.txt
  airbyte-integrations/connectors/source-intercom/setup.py
  airbyte-integrations/connectors/source-intercom/source_intercom/__init__.py
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/admins.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/companies.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/company_attributes.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/company_segments.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/contact_attributes.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/contacts.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/conversation_parts.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/conversations.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/segments.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/tags.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/teams.json
  airbyte-integrations/connectors/source-intercom/source_intercom/source.py
  airbyte-integrations/connectors/source-intercom/source_intercom/spec.json
  airbyte-integrations/connectors/source-intercom/unit_tests/unit_test.py
  docs/integrations/sources/intercom.md
  tools/bin/ci_credentials.sh
Labels: area/connectors, area/documentation

#4686 🎉 New source: Pipedrive connector
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/d8286229-c680-4063-8c59-23b9b391c700.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-pipedrive/.dockerignore
  airbyte-integrations/connectors/source-pipedrive/Dockerfile
  airbyte-integrations/connectors/source-pipedrive/README.md
  airbyte-integrations/connectors/source-pipedrive/acceptance-test-config.yml
  airbyte-integrations/connectors/source-pipedrive/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-pipedrive/build.gradle
  airbyte-integrations/connectors/source-pipedrive/integration_tests/__init__.py
  airbyte-integrations/connectors/source-pipedrive/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-pipedrive/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-pipedrive/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-pipedrive/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-pipedrive/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-pipedrive/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-pipedrive/main.py
  airbyte-integrations/connectors/source-pipedrive/setup.py
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/__init__.py
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/schemas/activities.json
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/schemas/activity_fields.json
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/schemas/deals.json
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/schemas/leads.json
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/schemas/persons.json
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/schemas/pipelines.json
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/schemas/stages.json
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/schemas/users.json
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/source.py
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/spec.json
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/streams.py
  airbyte-integrations/connectors/source-pipedrive/unit_tests/unit_test.py
  docs/SUMMARY.md
  docs/integrations/README.md
  docs/integrations/sources/pipedrive.md
  tools/bin/ci_credentials.sh
Labels: area/connectors, area/documentation

#4687 Make MAX_WORKERS Env Var.
  .env
  airbyte-config/models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/SchedulerApp.java
  docker-compose.yaml
  kube/overlays/dev/.env
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable/.env
  kube/resources/scheduler.yaml
Labels: area/core

#4820 🐛 Source Facebook: Improve rate limit management
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e7778cfc-e97c-4458-9ecb-b4f2bba8946c.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/api.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/connectors, area/documentation

#4826 Source Facebook: fix formatting and publish new version
  airbyte-integrations/connectors/source-facebook-marketing/acceptance-test-config.yml
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/configured_catalog_without_creatives.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/api.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams.py
Labels: area/connectors

#4800 📚 CDK: Add python destination tutorial
  airbyte-integrations/connectors/destination-kvdb/destination_kvdb/spec.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams.py
  docs/contributing-to-airbyte/building-new-connector/README.md
  docs/contributing-to-airbyte/tutorials/building-a-python-destination.md
  docs/contributing-to-airbyte/tutorials/building-a-python-source.md
Labels: area/connectors, area/documentation

#4830 📚 Source Shopify: migrate to new sandbox, update API version to 2021-07
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/9da77001-af33-4bcd-be46-6252bf9342b9.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-shopify/Dockerfile
  airbyte-integrations/connectors/source-shopify/acceptance-test-config.yml
  airbyte-integrations/connectors/source-shopify/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-shopify/integration_tests/no_refunds_catalog.json
  airbyte-integrations/connectors/source-shopify/integration_tests/state.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/abandoned_checkouts.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/orders.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/price_rules.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/transactions.json
  airbyte-integrations/connectors/source-shopify/source_shopify/source.py
  docs/integrations/sources/shopify.md
Labels: area/connectors, area/documentation

#4805 🐛 Source Instagram: Read previous state format and upgrade it
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/6acf6b55-4f1e-4fca-944e-1a3caef8aba8.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-instagram/Dockerfile
  airbyte-integrations/connectors/source-instagram/source_instagram/source.py
  airbyte-integrations/connectors/source-instagram/source_instagram/streams.py
  docs/integrations/sources/instagram.md
Labels: area/connectors, area/documentation

#4816 Add placeholder
  airbyte-webapp/public/empty-connections.png
  airbyte-webapp/public/empty-destinations.png
  airbyte-webapp/public/empty-sources.png
  airbyte-webapp/src/components/Placeholder/Placeholder.tsx
  airbyte-webapp/src/components/Placeholder/index.tsx
  airbyte-webapp/src/components/Placeholder/types.ts
  airbyte-webapp/src/pages/ConnectionPage/pages/AllConnectionsPage/AllConnectionsPage.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/AllDestinationsPage/AllDestinationsPage.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/DestinationItemPage/DestinationItemPage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/AllSourcesPage/AllSourcesPage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/SourceItemPage.tsx
Labels: area/frontend

#4809 Add update button
  airbyte-webapp/src/config/index.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/views/layout/SideBar/SideBar.tsx
Labels: area/frontend

#4840 Point to new location for connector build status history
  airbyte-integrations/builds.md
  tools/status/init.sh
  tools/status/policy.json
  tools/status/report.sh
Labels: area/connectors

#4685 Add openreplay
  airbyte-webapp/nginx/default.conf.template
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/components/hooks/useOpenReplay.tsx
  airbyte-webapp/src/config/index.ts
  airbyte-webapp/src/pages/routes.tsx
  kube/overlays/dev/.env
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable/.env
  kube/resources/webapp.yaml
Labels: area/frontend, type/enhancement

#4566 🎉 Source mixpanel: migration to CDK
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/12928b32-bf0a-4f1e-964f-07e12e37153a.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/859e501d-2b67-471f-91bb-1c801414d28f.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-mixpanel/.dockerignore
  airbyte-integrations/connectors/source-mixpanel/Dockerfile
  airbyte-integrations/connectors/source-mixpanel/README.md
  airbyte-integrations/connectors/source-mixpanel/acceptance-test-config.yml
  airbyte-integrations/connectors/source-mixpanel/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-mixpanel/build.gradle
  airbyte-integrations/connectors/source-mixpanel/integration_tests/__init__.py
  airbyte-integrations/connectors/source-mixpanel/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-mixpanel/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-mixpanel/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-mixpanel/integration_tests/configured_catalog_annotations.json
  airbyte-integrations/connectors/source-mixpanel/integration_tests/configured_catalog_cohort_members.json
  airbyte-integrations/connectors/source-mixpanel/integration_tests/configured_catalog_cohorts.json
  airbyte-integrations/connectors/source-mixpanel/integration_tests/configured_catalog_engage.json
  airbyte-integrations/connectors/source-mixpanel/integration_tests/configured_catalog_export.json
  airbyte-integrations/connectors/source-mixpanel/integration_tests/configured_catalog_funnels.json
  airbyte-integrations/connectors/source-mixpanel/integration_tests/configured_catalog_incremental.json
  airbyte-integrations/connectors/source-mixpanel/integration_tests/configured_catalog_revenue.json
  airbyte-integrations/connectors/source-mixpanel/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-mixpanel/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-mixpanel/main.py
  airbyte-integrations/connectors/source-mixpanel/requirements.txt
  airbyte-integrations/connectors/source-mixpanel/setup.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/__init__.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/schemas/annotations.json
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/schemas/cohort_members.json
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/schemas/cohorts.json
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/schemas/engage.json
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/schemas/export.json
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/schemas/funnels.json
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/schemas/revenue.json
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/source.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/spec.json
  airbyte-integrations/connectors/source-mixpanel/unit_tests/unit_test.py
  docs/integrations/sources/mixpanel.md
  tools/bin/ci_credentials.sh
Labels: area/connectors, area/documentation

#4844 Add openreplay variable
  docker-compose.yaml
Labels: priority/high, type/bug

#4848 Update job description
  docs/SUMMARY.md
  docs/career-and-open-positions/founding-account-executive
  docs/career-and-open-positions/recruiter.md
  docs/career-and-open-positions/senior-product-manager
Labels: area/documentation

#4822 🐛 Kube: Fix Source Ports not releasing.
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerUtils.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcessInfo.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubeProcessFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/protocols/airbyte/DefaultAirbyteDestination.java
  airbyte-workers/src/main/java/io/airbyte/workers/protocols/airbyte/DefaultAirbyteSource.java
  airbyte-workers/src/test/java/io/airbyte/workers/DefaultDiscoverCatalogWorkerTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/normalization/DefaultNormalizationRunnerTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/process/KubeProcessFactoryTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/protocols/airbyte/DefaultAirbyteDestinationTest.java
Labels: area/worker
