Repository airbytehq/airbyte, pull requests merged in 2021-09, with the labels that each got.

#5661 SAT: check records to comply jsonschema format field
  airbyte-integrations/bases/source-acceptance-test/setup.py
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/utils/asserts.py
  airbyte-integrations/bases/source-acceptance-test/unit_tests/test_asserts.py
  docs/connector-development/testing-connectors/source-acceptance-tests-reference.md
Labels: area/documentation

#5158 🎉 New Source: Facebook Pages
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/010eb12f-837b-4685-892d-0a39f76a98f5.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-facebook-pages/.dockerignore
  airbyte-integrations/connectors/source-facebook-pages/.gitignore
  airbyte-integrations/connectors/source-facebook-pages/Dockerfile
  airbyte-integrations/connectors/source-facebook-pages/README.md
  airbyte-integrations/connectors/source-facebook-pages/acceptance-test-config.yml
  airbyte-integrations/connectors/source-facebook-pages/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-facebook-pages/build.gradle
  airbyte-integrations/connectors/source-facebook-pages/integration_tests/__init__.py
  airbyte-integrations/connectors/source-facebook-pages/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-facebook-pages/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-facebook-pages/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-facebook-pages/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-facebook-pages/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-facebook-pages/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-facebook-pages/main.py
  airbyte-integrations/connectors/source-facebook-pages/requirements.txt
  airbyte-integrations/connectors/source-facebook-pages/setup.py
  airbyte-integrations/connectors/source-facebook-pages/source_facebook_pages/__init__.py
  airbyte-integrations/connectors/source-facebook-pages/source_facebook_pages/metrics.py
  airbyte-integrations/connectors/source-facebook-pages/source_facebook_pages/schemas/page.json
  airbyte-integrations/connectors/source-facebook-pages/source_facebook_pages/schemas/page_insights.json
  airbyte-integrations/connectors/source-facebook-pages/source_facebook_pages/schemas/post.json
  airbyte-integrations/connectors/source-facebook-pages/source_facebook_pages/schemas/post_insights.json
  airbyte-integrations/connectors/source-facebook-pages/source_facebook_pages/source.py
  airbyte-integrations/connectors/source-facebook-pages/source_facebook_pages/spec.json
  airbyte-integrations/connectors/source-facebook-pages/source_facebook_pages/streams.py
  airbyte-integrations/connectors/source-facebook-pages/unit_tests/unit_test.py
  tools/bin/ci_credentials.sh
Labels: area/connectors

#5777 Update generated AirbyteProtocol models to contain oauth changes
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/models/airbyte_protocol.py
  airbyte-cdk/python/setup.py
Labels: CDK

#5776 [protocol] add oauth params to connector specification
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/models/airbyte_protocol.py
  airbyte-cdk/python/setup.py
  airbyte-protocol/models/src/main/resources/airbyte_protocol/airbyte_protocol.yaml
Labels: CDK, area/protocol

#5767 🐛 CDK: fix number of records mismatch
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/abstract_source.py
  airbyte-cdk/python/setup.py
Labels: CDK

#5708 :bug: Slack source connector: do not give up retry attempts if there is 429 error
  airbyte-integrations/connectors/source-slack/setup.py
  airbyte-integrations/connectors/source-slack/source_slack/source.py
Labels: area/connectors

#5801 🐛 Source Shopify: Fixed `line_items/discount allocations` & `duties` parts of `orders` schema
  airbyte-cdk/python/airbyte_cdk/models/airbyte_protocol.py
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/9da77001-af33-4bcd-be46-6252bf9342b9.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/bases/airbyte-protocol/airbyte_protocol/models/airbyte_protocol.py
  airbyte-integrations/connectors/source-shopify/Dockerfile
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/orders.json
  airbyte-protocol/models/src/main/resources/airbyte_protocol/airbyte_protocol.yaml
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors, CDK, area/protocol

#5788 🐛 Source Github: handling empty repos, check method using RepositoryStats stream
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/ef69ef6e-aa7f-4af1-a01d-ef775033524e.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/source_github/source.py
  airbyte-integrations/connectors/source-github/source_github/streams.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors

#5523 Jira structure: back to swagger schemas, but fix incorrect
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/68e63de2-bb83-4c7e-93fa-a8a9051e3993.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-jira/Dockerfile
  airbyte-integrations/connectors/source-jira/source_jira/schemas/application_roles.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/avatars.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/dashboards.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/filter_sharing.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/filters.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/groups.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_comments.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_custom_field_contexts.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_field_configurations.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_fields.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_link_types.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_navigator_settings.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_notification_schemes.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_priorities.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_remote_links.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_resolutions.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_security_schemes.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_type_schemes.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_type_screen_schemes.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_votes.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_watchers.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_worklogs.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issues.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/jira_settings.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/labels.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/permission_schemes.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/permissions.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/project_avatars.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/project_categories.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/project_components.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/project_email.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/project_permission_schemes.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/project_types.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/project_versions.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/projects.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/screen_schemes.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/screen_tab_fields.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/screen_tabs.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/screens.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/time_tracking.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/users.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/webhooks.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/workflow_scheme_project_associations.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/workflow_schemes.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/workflow_status_categories.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/workflow_statuses.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/workflow_transition_rules.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/workflows.json
  airbyte-integrations/connectors/source-jira/source_jira/streams.py
  docs/integrations/sources/jira.md
Labels: area/documentation, area/connectors

#5779 🎉 Oracle specify schema(s) to discover.
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-integrations/connectors/source-oracle/Dockerfile
  airbyte-integrations/connectors/source-oracle/src/main/java/io/airbyte/integrations/source/oracle/OracleSource.java
  airbyte-integrations/connectors/source-oracle/src/main/resources/spec.json
  airbyte-integrations/connectors/source-oracle/src/test-integration/java/io/airbyte/integrations/source/oracle/OracleSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-oracle/src/test-integration/java/io/airbyte/integrations/source/oracle/OracleSourceDatatypeTest.java
  airbyte-integrations/connectors/source-oracle/src/test/java/io/airbyte/integrations/source/oracle/OracleJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-oracle/src/test/java/io/airbyte/integrations/source/oracle/OracleSourceTest.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/AbstractRelationalDbSource.java
  docs/integrations/sources/oracle.md
Labels: area/documentation, area/connectors

#5792 mainly spec/config updates
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksDestination.java
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksStreamCopier.java
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksStreamCopierFactory.java
  airbyte-integrations/connectors/destination-databricks/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/parquet/S3ParquetWriter.java
Labels: area/connectors

#5561 :tada: New Destination: DynamoDB
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/8ccd8909-4e99-4141-b48d-4984b70b2d89.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/connectors/destination-dynamodb/.dockerignore
  airbyte-integrations/connectors/destination-dynamodb/Dockerfile
  airbyte-integrations/connectors/destination-dynamodb/README.md
  airbyte-integrations/connectors/destination-dynamodb/build.gradle
  airbyte-integrations/connectors/destination-dynamodb/sample_secrets/config.json
  airbyte-integrations/connectors/destination-dynamodb/src/main/java/io/airbyte/integrations/destination/dynamodb/DynamodbChecker.java
  airbyte-integrations/connectors/destination-dynamodb/src/main/java/io/airbyte/integrations/destination/dynamodb/DynamodbConsumer.java
  airbyte-integrations/connectors/destination-dynamodb/src/main/java/io/airbyte/integrations/destination/dynamodb/DynamodbDestination.java
  airbyte-integrations/connectors/destination-dynamodb/src/main/java/io/airbyte/integrations/destination/dynamodb/DynamodbDestinationConfig.java
  airbyte-integrations/connectors/destination-dynamodb/src/main/java/io/airbyte/integrations/destination/dynamodb/DynamodbOutputTableHelper.java
  airbyte-integrations/connectors/destination-dynamodb/src/main/java/io/airbyte/integrations/destination/dynamodb/DynamodbWriter.java
  airbyte-integrations/connectors/destination-dynamodb/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-dynamodb/src/test-integration/java/io/airbyte/integrations/destination/dynamodb/DynamodbDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-dynamodb/src/test/java/io/airbyte/integrations/destination/dynamodb/DynamodbDestinationTest.java
  docs/SUMMARY.md
  docs/integrations/destinations/dynamodb.md
Labels: area/documentation, area/connectors, community_pr

#5745 🎉 Redshift Destination: Disable STATUPDATE flag when using S3 staging to speed up performance
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftStreamCopier.java
Labels: area/connectors

#5831 Bump Airbyte version from 0.29.13-alpha to 0.29.14-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend

#5830 🐛 Source Slack: Fix sync operations hang forever issue
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/c2281cee-86f9-4a86-bb48-d23286b4c7bd.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-slack/Dockerfile
  airbyte-integrations/connectors/source-slack/source_slack/source.py
  docs/integrations/sources/slack.md
Labels: area/documentation, area/connectors

#5784 :bug: Destination snowflake: updated snowflake query timeout
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/424892c4-daac-4491-b35d-c6688ba547ba.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/README.md
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeDatabase.java
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors

#5847 Format code and add missing doc links
  airbyte-integrations/bases/source-acceptance-test/unit_tests/test_utils.py
  airbyte-integrations/connectors/source-facebook-pages/README.md
  airbyte-integrations/connectors/source-facebook-pages/acceptance-test-config.yml
  airbyte-integrations/connectors/source-slack/source_slack/source.py
  docs/deploying-airbyte/on-kubernetes.md
  docs/integrations/sources/facebook-pages.md
Labels: area/documentation, area/connectors

#5849 Bump Airbyte version from 0.29.14-alpha to 0.29.15-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend

#5798 :bug: Fix hubspot datetime empty string
  airbyte-integrations/bases/base-python/setup.py
  airbyte-integrations/bases/source-acceptance-test/CHANGELOG.md
  airbyte-integrations/bases/source-acceptance-test/Dockerfile
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/utils/asserts.py
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/integration_tests/integration_test.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/api.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_field_type_converting.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors

#5812 Start airbyte-oauth module
  airbyte-api/src/main/openapi/config.yaml
  airbyte-oauth/build.gradle
  airbyte-oauth/src/main/java/io/airbyte/oauth/OAuthFlowImplementation.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/OAuthImplementationFactory.java
  airbyte-server/build.gradle
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/OAuthHandler.java
  docs/reference/api/generated-api-html/index.html
  settings.gradle
Labels: area/documentation, area/api, area/core

#5853 🐛 Source Shopify: fix for incorrect `amount` type in `order_refunds` schema
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/9da77001-af33-4bcd-be46-6252bf9342b9.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-shopify/Dockerfile
  airbyte-integrations/connectors/source-shopify/acceptance-test-config.yml
  airbyte-integrations/connectors/source-shopify/integration_tests/no_refunds_catalog.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/order_refunds.json
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors

#5549 🎉 New Destination: MongoDB
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/8b746512-8c2e-6ac1-4adc-b59faafd473c.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/destination-mongodb/.dockerignore
  airbyte-integrations/connectors/destination-mongodb/Dockerfile
  airbyte-integrations/connectors/destination-mongodb/README.md
  airbyte-integrations/connectors/destination-mongodb/build.gradle
  airbyte-integrations/connectors/destination-mongodb/src/main/java/io/airbyte/integrations/destination/mongodb/MongodbDestination.java
  airbyte-integrations/connectors/destination-mongodb/src/main/java/io/airbyte/integrations/destination/mongodb/MongodbNameTransformer.java
  airbyte-integrations/connectors/destination-mongodb/src/main/java/io/airbyte/integrations/destination/mongodb/MongodbRecordConsumer.java
  airbyte-integrations/connectors/destination-mongodb/src/main/java/io/airbyte/integrations/destination/mongodb/MongodbWriteConfig.java
  airbyte-integrations/connectors/destination-mongodb/src/main/java/io/airbyte/integrations/destination/mongodb/exception/MongodbDatabaseException.java
  airbyte-integrations/connectors/destination-mongodb/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-mongodb/src/test-integration/java/io/airbyte/integrations/destination/mongodb/MongodbDestinationAcceptanceTest.java
  docs/SUMMARY.md
  docs/integrations/README.md
  docs/integrations/destinations/mongodb.md
Labels: area/documentation, area/connectors

#5813 🐛 Destination BigQueryDenormalized : fixed stackoverflow and array type parsing when source forget to send "items" details for it
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/079d5540-f236-4294-ba7c-ade8fd918496.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedDestination.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedDestinationTest.java
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors

#5856 docs (faq): fix typos and grammar
  docs/faq/data-loading.md
Labels: area/documentation, community_pr

#5799 :bug:Source Typeform: add support for multiple choices in responses
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e7eff203-90bf-43e5-a240-19ea3056c474.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-typeform/Dockerfile
  airbyte-integrations/connectors/source-typeform/source_typeform/schemas/responses.json
  docs/integrations/sources/typeform.md
Labels: area/documentation, area/connectors, community_pr

#5875 updated mongodb data hash from integer to UUID string
  airbyte-integrations/connectors/destination-mongodb/src/main/java/io/airbyte/integrations/destination/mongodb/MongodbDestination.java
  airbyte-integrations/connectors/destination-mongodb/src/main/java/io/airbyte/integrations/destination/mongodb/MongodbRecordConsumer.java
  airbyte-integrations/connectors/destination-mongodb/src/main/java/io/airbyte/integrations/destination/mongodb/MongodbWriteConfig.java
Labels: area/connectors

#5876 Source Facebook Pages: update documentation
  docs/.gitbook/assets/facebook-pages-1.png
  docs/integrations/README.md
  docs/integrations/sources/facebook-pages.md
Labels: area/documentation

#5861 Add sentry
  airbyte-webapp/.env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/index.tsx
Labels: type/enhancement, area/frontend

#5892 Commit updated lock file
  airbyte-webapp/package-lock.json
Labels: area/frontend

#5834 :bug: Source Hubspot: fix array fields in schema with missed items property
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/36c891d9-4bd9-43ac-bad2-10e12756272c.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/acceptance-test-config.yml
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/campaigns.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/companies.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/line_items.json
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors

#5897 pg ssh normalization squashed
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/ssh/readme.md
  airbyte-integrations/bases/base-normalization/.dockerignore
  airbyte-integrations/bases/base-normalization/Dockerfile
  airbyte-integrations/bases/base-normalization/build.gradle
  airbyte-integrations/bases/base-normalization/entrypoint.sh
  airbyte-integrations/bases/base-normalization/normalization/transform_config/transform.py
  airbyte-integrations/bases/base-normalization/unit_tests/test_transform_config.py
  airbyte-integrations/bases/source-acceptance-test/unit_tests/test_utils.py
  airbyte-integrations/connectors/destination-postgres/src/test-integration/java/io/airbyte/integrations/destination/postgres/SshKeyPostgresDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-postgres/src/test-integration/java/io/airbyte/integrations/destination/postgres/SshPasswordPostgresDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-postgres/src/test-integration/java/io/airbyte/integrations/destination/postgres/SshPostgresDestinationAcceptanceTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/DbtTransformationRunner.java
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/DefaultNormalizationRunner.java
  airbyte-workers/src/main/resources/dbt_transformation_entrypoint.sh
  airbyte-workers/src/main/resources/sshtunneling.sh
Labels: area/connectors, area/worker, normalization

#5743 SSH for Postgres Destination
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/AirbyteMessageConsumer.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/ssh/SshWrappedDestination.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/ssh/readme.md
  airbyte-integrations/bases/base-normalization/.dockerignore
  airbyte-integrations/bases/base-normalization/Dockerfile
  airbyte-integrations/bases/base-normalization/build.gradle
  airbyte-integrations/bases/base-normalization/entrypoint.sh
  airbyte-integrations/bases/base-normalization/normalization/transform_config/transform.py
  airbyte-integrations/bases/base-normalization/unit_tests/test_transform_config.py
  airbyte-integrations/connectors/destination-postgres/Dockerfile
  airbyte-integrations/connectors/destination-postgres/src/main/java/io/airbyte/integrations/destination/postgres/PostgresDestination.java
  airbyte-integrations/connectors/destination-postgres/src/test-integration/java/io/airbyte/integrations/destination/postgres/SshKeyPostgresDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-postgres/src/test-integration/java/io/airbyte/integrations/destination/postgres/SshPasswordPostgresDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-postgres/src/test-integration/java/io/airbyte/integrations/destination/postgres/SshPostgresDestinationAcceptanceTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/DbtTransformationRunner.java
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/DefaultNormalizationRunner.java
  airbyte-workers/src/main/resources/dbt_transformation_entrypoint.sh
  airbyte-workers/src/main/resources/sshtunneling.sh
  docs/integrations/destinations/postgres.md
  docs/integrations/sources/postgres.md
  tools/bin/ci_credentials.sh
Labels: area/documentation, area/connectors, area/worker, normalization

#5894 📚 Add doclink for how to preview connector specifications in the UI
  docs/connector-development/connector-specification-reference.md
Labels: area/documentation

#5877 make source-bigquery compile
  airbyte-integrations/connectors/source-bigquery/src/main/java/io/airbyte/integrations/source/bigquery/BigQuerySource.java
Labels: area/connectors

#5619 :tada: Salesforce Native Connector: init version
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/2470e835-feaf-4db6-96f3-70fd645acc77.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/b117307c-14b6-41aa-9422-947e34922962.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/bases/standard-source-test/src/main/java/io/airbyte/integrations/standardtest/source/SourceAcceptanceTest.java
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-salesforce-singer/.dockerignore
  airbyte-integrations/connectors/source-salesforce-singer/Dockerfile
  airbyte-integrations/connectors/source-salesforce-singer/README.md
  airbyte-integrations/connectors/source-salesforce-singer/build.gradle
  airbyte-integrations/connectors/source-salesforce-singer/requirements.txt
  airbyte-integrations/connectors/source-salesforce-singer/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-salesforce-singer/source_salesforce_singer/__init__.py
  airbyte-integrations/connectors/source-salesforce-singer/source_salesforce_singer/source.py
  airbyte-integrations/connectors/source-salesforce-singer/standard_test/catalog.json
  airbyte-integrations/connectors/source-salesforce/.dockerignore
  airbyte-integrations/connectors/source-salesforce/BOOTSTRAP.md
  airbyte-integrations/connectors/source-salesforce/Dockerfile
  airbyte-integrations/connectors/source-salesforce/README.md
  airbyte-integrations/connectors/source-salesforce/acceptance-test-config.yml
  airbyte-integrations/connectors/source-salesforce/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-salesforce/build.gradle
  airbyte-integrations/connectors/source-salesforce/integration_tests/__init__.py
  airbyte-integrations/connectors/source-salesforce/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-salesforce/integration_tests/configured_catalog_bulk.json
  airbyte-integrations/connectors/source-salesforce/integration_tests/configured_catalog_rest.json
  airbyte-integrations/connectors/source-salesforce/integration_tests/future_state.json
  airbyte-integrations/connectors/source-salesforce/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-salesforce/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-salesforce/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-salesforce/main.py
  airbyte-integrations/connectors/source-salesforce/requirements.txt
  airbyte-integrations/connectors/source-salesforce/setup.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/__init__.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/api.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/exceptions.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/rate_limiting.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/source.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/spec.json
  airbyte-integrations/connectors/source-salesforce/source_salesforce/streams.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/unit_test.py
  docs/integrations/sources/salesforce.md
  tools/bin/ci_credentials.sh
Labels: area/documentation, area/connectors

#5881 BigQuery Denormalized NPE fix
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/079d5540-f236-4294-ba7c-ade8fd918496.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedRecordConsumer.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedDestinationTest.java
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors

#5908 🐛 Source Intercom: Fix schema ts and array issue
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/d8313939-3782-41b0-be29-b3ca20d8dd3a.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-intercom/Dockerfile
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/companies.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/company_attributes.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/company_segments.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/contact_attributes.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/contacts.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/conversation_parts.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/conversations.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/segments.json
  docs/integrations/sources/intercom.md
Labels: area/documentation, area/connectors

#5824 make generics less confusing for ConfigPersistence.replaceAllConfigs
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/ConfigPersistence.java
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/DatabaseConfigPersistence.java
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/FileSystemConfigPersistence.java
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/ValidatingConfigPersistence.java
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/YamlSeedConfigPersistence.java
  airbyte-config/persistence/src/test/java/io/airbyte/config/persistence/DatabaseConfigPersistenceTest.java
  airbyte-server/src/main/java/io/airbyte/server/ConfigDumpImporter.java
Labels: area/core

#5896 remove unused spec/check/discover job persistence helpers
  airbyte-scheduler/client/src/main/java/io/airbyte/scheduler/client/DefaultSchedulerJobClient.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/DefaultJobCreator.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/JobCreator.java
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/DefaultJobCreatorTest.java
Labels: area/core

#5925 Bump Airbyte version from 0.29.15-alpha to 0.29.16-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend

#5778 Fix CDK speedrun stream stub
  docs/connector-development/tutorials/cdk-speedrun.md
Labels: area/documentation

#5780 Add a variant of the CDK speedrun that uses the PokeAPI
  airbyte-cdk/python/docs/tutorials/http_api_source_assets/configured_catalog_pokeapi.json
  airbyte-cdk/python/docs/tutorials/http_api_source_assets/pokemon.json
  docs/connector-development/tutorials/cdk-speedrun-pokeapi.md
Labels: area/documentation, CDK

#5871 Source Freshdesk: Fix incorrect type for `unique_external_id` in `con…
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/ec4b9503-13cb-48ab-a4ab-6ade4be46567.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-freshdesk/CHANGELOG.md
  airbyte-integrations/connectors/source-freshdesk/Dockerfile
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/schemas/contacts.json
Labels: area/connectors, community_pr

#5909 Switch logging logs to DEBUG. Add job id label to Kube workers.
  airbyte-config/models/src/main/java/io/airbyte/config/helpers/LogClientSingleton.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubeProcessFactory.java
Labels: area/worker

#5850 🐛 Save Temporal Workflow Id to the DB instead of the Workspace volume.
  airbyte-db/lib/src/main/java/io/airbyte/db/instance/jobs/migrations/V0_29_15_001__Add_temporalWorkflowId_col_to_Attempts.java
  airbyte-db/lib/src/main/resources/jobs_database/Attempts.yaml
  airbyte-db/lib/src/main/resources/jobs_database/schema_dump.txt
  airbyte-migration/src/test/java/io/airbyte/migrate/MigrationCurrentSchemaTest.java
  airbyte-scheduler/persistence/build.gradle
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/DefaultJobPersistence.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/JobPersistence.java
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/DefaultJobPersistenceTest.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SchedulerHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/SchedulerHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/migration/RunMigrationTest.java
  airbyte-tests/src/acceptanceTests/java/io/airbyte/test/acceptance/AcceptanceTests.java
  airbyte-workers/build.gradle
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalAttemptExecution.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/TemporalAttemptExecutionTest.java
Labels: area/worker, area/core

#5939 Bump Airbyte version from 0.29.16-alpha to 0.29.17-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend

#5865 Inject masked OAuth params for UI Validation
  airbyte-api/src/main/openapi/config.yaml
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/JobScheduler.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/job_factory/OAuthConfigSupplier.java
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/DefaultJobCreatorTest.java
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/job_factory/OAuthConfigSupplierTest.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/OAuthHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendDestinationsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendSourcesHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WebBackendSourcesHandlerTest.java
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api, area/core

#5761 Add a config for instance wide oauth parameters
  airbyte-api/src/main/openapi/config.yaml
  airbyte-config/models/src/main/java/io/airbyte/config/ConfigSchema.java
  airbyte-config/models/src/main/resources/types/DestinationOAuthParameter.yaml
  airbyte-config/models/src/main/resources/types/SourceOAuthParameter.yaml
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java
  airbyte-integrations/bases/base-normalization/entrypoint.sh
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/JobScheduler.java
  airbyte-scheduler/client/src/main/java/io/airbyte/scheduler/client/DefaultSynchronousSchedulerClient.java
  airbyte-scheduler/client/src/test/java/io/airbyte/scheduler/client/DefaultSynchronousSchedulerClientTest.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/DefaultJobCreator.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/job_factory/DefaultSyncJobFactory.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/job_factory/OAuthConfigSupplier.java
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/DefaultJobCreatorTest.java
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/job_factory/DefaultSyncJobFactoryTest.java
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/job_factory/OAuthConfigSupplierTest.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/OAuthHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendDestinationHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendDestinationsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendSourceHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendSourcesHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WebBackendDestinationHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WebBackendSourceHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WebBackendSourcesHandlerTest.java
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api, normalization, area/core

#5917 🐛 Destination BigQuery Denormalized: Fixed compilation error
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedDestination.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedRecordConsumer.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedDestinationTest.java
  tools/bin/ci_credentials.sh
Labels: area/connectors

#5860 🎉 Source Github: add reaction streams
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/ef69ef6e-aa7f-4af1-a01d-ef775033524e.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-github/source_github/schemas/commit_comment_reactions.json
  airbyte-integrations/connectors/source-github/source_github/schemas/issue_comment_reactions.json
  airbyte-integrations/connectors/source-github/source_github/schemas/issue_reactions.json
  airbyte-integrations/connectors/source-github/source_github/schemas/pull_request_comment_reactions.json
  airbyte-integrations/connectors/source-github/source_github/schemas/shared/reaction.json
  airbyte-integrations/connectors/source-github/source_github/source.py
  airbyte-integrations/connectors/source-github/source_github/streams.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors

#5787 :bug: Source Zendesk Support: fix incremental logic for ticket_comments stream
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/79c1aa37-dae3-42ae-b333-d1c105477715.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-zendesk-support/Dockerfile
  airbyte-integrations/connectors/source-zendesk-support/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/integration_test.py
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-zendesk-support/setup.py
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/ticket_metrics.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/spec.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/streams.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/unit_test.py
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors

#5947 🎉 Source Lever Hiring: initial template blank
  airbyte-integrations/connectors/source-lever-hiring/.dockerignore
  airbyte-integrations/connectors/source-lever-hiring/Dockerfile
  airbyte-integrations/connectors/source-lever-hiring/README.md
  airbyte-integrations/connectors/source-lever-hiring/acceptance-test-config.yml
  airbyte-integrations/connectors/source-lever-hiring/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-lever-hiring/build.gradle
  airbyte-integrations/connectors/source-lever-hiring/integration_tests/__init__.py
  airbyte-integrations/connectors/source-lever-hiring/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-lever-hiring/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-lever-hiring/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-lever-hiring/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-lever-hiring/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-lever-hiring/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-lever-hiring/main.py
  airbyte-integrations/connectors/source-lever-hiring/requirements.txt
  airbyte-integrations/connectors/source-lever-hiring/setup.py
  airbyte-integrations/connectors/source-lever-hiring/source_lever_hiring/__init__.py
  airbyte-integrations/connectors/source-lever-hiring/source_lever_hiring/source.py
  airbyte-integrations/connectors/source-lever-hiring/source_lever_hiring/spec.json
  airbyte-integrations/connectors/source-lever-hiring/source_lever_hiring/streams.py
  airbyte-integrations/connectors/source-lever-hiring/unit_tests/__init__.py
  airbyte-integrations/connectors/source-lever-hiring/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-lever-hiring/unit_tests/test_source.py
  airbyte-integrations/connectors/source-lever-hiring/unit_tests/test_streams.py
Labels: area/connectors

#5938 move GH testing script from top level into connector directory
  airbyte-integrations/connectors/source-github/fixtures/README.md
  airbyte-integrations/connectors/source-github/fixtures/github.py
  airbyte-integrations/connectors/source-github/fixtures/main.py
  airbyte-integrations/connectors/source-github/fixtures/requirements.txt
  airbyte-integrations/connectors/source-github/fixtures/run.sh
  airbyte-integrations/connectors/source-github/fixtures/scripts/create_branches_and_commits.sh
  airbyte-integrations/connectors/source-github/fixtures/scripts/init_repository.sh
Labels: area/connectors

#5750 :tada:Source Bing Ads: Add Report streams
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/47f25999-dd5e-4636-8c39-e7cea2453331.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-bing-ads/Dockerfile
  airbyte-integrations/connectors/source-bing-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-bing-ads/bootstrap.md
  airbyte-integrations/connectors/source-bing-ads/build.gradle
  airbyte-integrations/connectors/source-bing-ads/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-bing-ads/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-bing-ads/integration_tests/state.json
  airbyte-integrations/connectors/source-bing-ads/setup.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/client.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/reports.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/account_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/ad_group_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/ad_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/budget_summary_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/campaign_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/keyword_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/source.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/spec.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_reports.py
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors

#5833 :bug: CDK: fix bug with limit parameter for incremental stream
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/abstract_source.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/test_source.py
Labels: CDK

#5910 🎉 Sendgrind add single send stats
  airbyte-integrations/connectors/source-sendgrid/Dockerfile
  airbyte-integrations/connectors/source-sendgrid/acceptance-test-config.yml
  airbyte-integrations/connectors/source-sendgrid/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-sendgrid/integration_tests/expected_records.txt
  airbyte-integrations/connectors/source-sendgrid/sample_files/no_spam_reports_configured_catalog.json
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/schemas/single_sends.json
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/source.py
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/streams.py
  docs/integrations/sources/sendgrid.md
Labels: area/documentation, area/connectors

#5940 add instancewide variables setter endpoints
  airbyte-api/src/main/openapi/config.yaml
  airbyte-db/lib/src/main/java/io/airbyte/db/mongodb/MongoUtils.java
  airbyte-integrations/connectors/source-github/fixtures/github.py
  airbyte-integrations/connectors/source-github/fixtures/main.py
  airbyte-integrations/connectors/source-mongodb-v2/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/MongoDbSourceAcceptanceTest.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/OAuthHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/OAuthHandlerTest.java
  docs/reference/api/generated-api-html/index.html
  settings.gradle
Labels: area/documentation, area/connectors, area/api, area/core

#5905 🐛 Fix okta incremental stream
  airbyte-integrations/connectors/source-okta/Dockerfile
  airbyte-integrations/connectors/source-okta/acceptance-test-config.yml
  airbyte-integrations/connectors/source-okta/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-okta/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-okta/source_okta/schemas/groups.json
  airbyte-integrations/connectors/source-okta/source_okta/schemas/users.json
  airbyte-integrations/connectors/source-okta/source_okta/source.py
  docs/integrations/sources/okta.md
Labels: area/documentation, area/connectors

#5302 :tada: Google Ads improvement: Support user-specified queries
  .github/workflows/test-command.yml
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-ads/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-google-ads/integration_tests/configured_catalog_protobuf_msg.json
  airbyte-integrations/connectors/source-google-ads/integration_tests/configured_catalog_without_empty_streams.json
  airbyte-integrations/connectors/source-google-ads/integration_tests/expected_records_msg.txt
  airbyte-integrations/connectors/source-google-ads/setup.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/custom_query_stream.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/google_ads.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/spec.json
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_google_ads.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_source.py
  docs/integrations/sources/google-ads.md
  tools/bin/ci_integration_test.sh
Labels: area/documentation, area/connectors

#5350 🎉 New Source: Google Search Console
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/eb4c9e00-db83-4d63-a386-39cfa91012a8.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-google-search-console/.dockerignore
  airbyte-integrations/connectors/source-google-search-console/BOOTSTRAP.md
  airbyte-integrations/connectors/source-google-search-console/Dockerfile
  airbyte-integrations/connectors/source-google-search-console/README.md
  airbyte-integrations/connectors/source-google-search-console/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-search-console/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-google-search-console/build.gradle
  airbyte-integrations/connectors/source-google-search-console/credentials/Dockerfile
  airbyte-integrations/connectors/source-google-search-console/credentials/README.md
  airbyte-integrations/connectors/source-google-search-console/credentials/credentials.json
  airbyte-integrations/connectors/source-google-search-console/credentials/get_authentication_url.py
  airbyte-integrations/connectors/source-google-search-console/credentials/get_credentials.sh
  airbyte-integrations/connectors/source-google-search-console/credentials/get_refresh_token.py
  airbyte-integrations/connectors/source-google-search-console/credentials/setup.py
  airbyte-integrations/connectors/source-google-search-console/integration_tests/__init__.py
  airbyte-integrations/connectors/source-google-search-console/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-google-search-console/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-google-search-console/integration_tests/catalog.json
  airbyte-integrations/connectors/source-google-search-console/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-google-search-console/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-google-search-console/main.py
  airbyte-integrations/connectors/source-google-search-console/requirements.txt
  airbyte-integrations/connectors/source-google-search-console/sample_files/sample_config.json
  airbyte-integrations/connectors/source-google-search-console/setup.py
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/__init__.py
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/schemas/search_analytics_all_fields.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/schemas/search_analytics_by_country.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/schemas/search_analytics_by_date.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/schemas/search_analytics_by_device.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/schemas/search_analytics_by_page.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/schemas/search_analytics_by_query.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/schemas/sitemaps.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/schemas/sites.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/service_account_authenticator.py
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/source.py
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/spec.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/streams.py
  airbyte-integrations/connectors/source-google-search-console/unit_tests/unit_test.py
  docs/integrations/sources/google-search-console.md
  tools/bin/ci_credentials.sh
Labels: area/documentation, area/connectors

#5962 use secret instead of configmap for envs
  kube/overlays/dev-integration-test/.env
  kube/overlays/dev-integration-test/.secrets
  kube/overlays/dev-integration-test/kustomization.yaml
  kube/overlays/dev/.env
  kube/overlays/dev/.secrets
  kube/overlays/dev/kustomization.yaml
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/.secrets
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/.secrets
  kube/overlays/stable/kustomization.yaml
  kube/resources/scheduler.yaml
  kube/resources/server.yaml
  kube/resources/temporal.yaml
  kube/resources/worker.yaml
Labels: community_pr

#5965 Separate connector upgrade from import
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/ConfigPersistence.java
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/DatabaseConfigPersistence.java
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/FileSystemConfigPersistence.java
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/ValidatingConfigPersistence.java
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/YamlSeedConfigPersistence.java
  airbyte-server/src/main/java/io/airbyte/server/ConfigDumpImporter.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
Labels: area/core

#5943 :tada: Pipedrive source: add organizations stream
  airbyte-integrations/connectors/source-pipedrive/Dockerfile
  airbyte-integrations/connectors/source-pipedrive/acceptance-test-config.yml
  airbyte-integrations/connectors/source-pipedrive/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-pipedrive/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-pipedrive/integration_tests/expected_records.txt
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/schemas/deals.json
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/schemas/organizations.json
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/schemas/persons.json
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/source.py
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/streams.py
  docs/integrations/sources/pipedrive.md
Labels: area/documentation, area/connectors

#5984 Remove v0.30.0 file-based migration
  airbyte-config/models/src/main/resources/types/Notification.yaml
  airbyte-migration/README.md
  airbyte-migration/src/main/java/io/airbyte/migrate/Migrations.java
  airbyte-migration/src/main/java/io/airbyte/migrate/migrations/MigrationV0_30_0.java
  airbyte-migration/src/main/resources/migrations/migrationV0_30_0/airbyte_config/Notification.yaml
  airbyte-migration/src/main/resources/migrations/migrationV0_30_0/airbyte_config/NotificationType.yaml
  airbyte-migration/src/main/resources/migrations/migrationV0_30_0/airbyte_config/SlackNotificationConfiguration.yaml
  airbyte-migration/src/main/resources/migrations/migrationV0_30_0/airbyte_config/StandardWorkspace.yaml
  airbyte-migration/src/test/java/io/airbyte/migrate/MigrationCurrentSchemaTest.java
  airbyte-migration/src/test/java/io/airbyte/migrate/migrations/MigrateV0_30_0Test.java
  airbyte-migration/src/test/resources/migrations/migrationV0_30_0/input_config/NOTIFICATION.yaml
  airbyte-migration/src/test/resources/migrations/migrationV0_30_0/input_config/NOTIFICATION_TYPE.yaml
  airbyte-migration/src/test/resources/migrations/migrationV0_30_0/input_config/SLACK_NOTIFICATION_CONFIGURATION.yaml
  airbyte-migration/src/test/resources/migrations/migrationV0_30_0/input_config/STANDARD_WORKSPACE.yaml
  airbyte-migration/src/test/resources/migrations/migrationV0_30_0/output_config/NOTIFICATION.yaml
  airbyte-migration/src/test/resources/migrations/migrationV0_30_0/output_config/NOTIFICATION_TYPE.yaml
  airbyte-migration/src/test/resources/migrations/migrationV0_30_0/output_config/SLACK_NOTIFICATION_CONFIGURATION.yaml
  airbyte-migration/src/test/resources/migrations/migrationV0_30_0/output_config/STANDARD_WORKSPACE.yaml
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/DefaultJobPersistence.java
Labels: area/core

#5605 Add scheduler client that pulls from bucket cache
  airbyte-config/models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-scheduler/client/build.gradle
  airbyte-scheduler/client/src/main/java/io/airbyte/scheduler/client/BucketSpecCacheSchedulerClient.java
  airbyte-scheduler/client/src/test/java/io/airbyte/scheduler/client/BucketSpecCacheSchedulerClientTest.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
Labels: area/core

#5983 🐛 Surveymonkey source: fix gzip compressed http response caching
  airbyte-integrations/connectors/source-surveymonkey/Dockerfile
  airbyte-integrations/connectors/source-surveymonkey/acceptance-test-config.yml
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/schemas/survey_questions.json
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/spec.json
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/streams.py
  docs/integrations/sources/surveymonkey.md
Labels: area/documentation, area/connectors

#5924 :bug: Snowflake destination: snowflake s3 destination COPY is writing records from different table in the same raw table fix
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/424892c4-daac-4491-b35d-c6688ba547ba.json
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/f7a7d195-377f-cf5b-70a5-be6b819019dc.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/bases/standard-destination-test/src/main/resources/edge_case_catalog.json
  airbyte-integrations/bases/standard-destination-test/src/main/resources/edge_case_messages.txt
  airbyte-integrations/connectors/destination-jdbc/Dockerfile
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/s3/S3StreamCopier.java
  airbyte-integrations/connectors/destination-redshift/Dockerfile
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftStreamCopier.java
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeS3StreamCopier.java
  docs/integrations/destinations/redshift.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors

#5729 🐛 Destination S3: fixed s3 destination field naming for Parquet and Avro formats
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/4816b78f-1489-44c1-9060-4b19d5fa9362.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/connectors/destination-s3/Dockerfile
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3NameTransformer.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/avro/JsonToAvroSchemaConverter.java
  airbyte-integrations/connectors/destination-s3/src/test-integration/java/io/airbyte/integrations/destination/s3/S3DestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-s3/src/test/resources/parquet/json_schema_converter/get_avro_schema.json
  docs/integrations/destinations/s3.md
Labels: area/documentation, area/connectors

#5945 🐛 Source Shopify: fix the connector's performance for `incremental refresh`
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/9da77001-af33-4bcd-be46-6252bf9342b9.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-shopify/Dockerfile
  airbyte-integrations/connectors/source-shopify/README.md
  airbyte-integrations/connectors/source-shopify/integration_tests/state.json
  airbyte-integrations/connectors/source-shopify/source_shopify/source.py
  airbyte-integrations/connectors/source-shopify/source_shopify/utils.py
  airbyte-integrations/connectors/source-shopify/unit_tests/test_cached_stream_state.py
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors

#6022 Google Ads Source: Annotate oauth flow init parameters
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/253487c0-2246-43ba-a21f-5116b20a2c50.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/source_google_ads/spec.json
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors

#5951 Source google sheets: fix full_refresh test by adding supported_sync_modes to Stream inistialization
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/71607ba1-c0ac-4799-8049-7f4b90dd50f7.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-google-sheets/Dockerfile
  airbyte-integrations/connectors/source-google-sheets/google_sheets_source/helpers.py
  airbyte-integrations/connectors/source-google-sheets/unit_tests/test_helpers.py
  docs/integrations/sources/google-sheets.md
Labels: area/documentation, area/connectors

#6025 Connector Changelogs 9/1/2021 and 9/9/2021
  docs/project-overview/changelog/connectors.md
Labels: area/documentation

#6028 Add CHANGELOG summaries for last 3 updates.
  docs/project-overview/changelog/README.md
Labels: area/documentation

#6029 Add Platform CHANGELOG notes up to 0.29.17
  docs/project-overview/changelog/platform.md
Labels: area/documentation

#5994 publish spec as part of connector publish script
  .github/workflows/publish-command.yml
  airbyte-scheduler/client/src/main/java/io/airbyte/scheduler/client/BucketSpecCacheSchedulerClient.java
  tools/integrations/manage.sh
Labels: area/core

#5973 🐛 Keen destination: fix for timestamp inference for complex types
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/81740ce8-d764-4ea7-94df-16bb41de36ae.json
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/8aaf41d0-f6d2-46de-9e79-c9540f828142.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/connectors/destination-keen/Dockerfile
  airbyte-integrations/connectors/destination-keen/src/main/java/io/airbyte/integrations/destination/keen/KeenHttpClient.java
  airbyte-integrations/connectors/destination-keen/src/main/java/io/airbyte/integrations/destination/keen/KeenTimestampService.java
  airbyte-integrations/connectors/destination-keen/src/test-integration/java/io/airbyte/integrations/destination/keen/KeenDestinationTest.java
  airbyte-integrations/connectors/destination-keen/src/test/java/KeenTimestampServiceTest.java
  airbyte-integrations/connectors/destination-keen/src/test/resources/cursors_catalog.json
  docs/integrations/destinations/keen.md
Labels: area/documentation, area/connectors

#5826 🐛 Source Facebook Marketing: fix url parsing and add report that exposes conversions.
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/source.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_streams.py
Labels: area/connectors, community_pr

#6038 🍾 Remove automatic filtering of system schemas from Oracle source.
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-oracle/Dockerfile
  airbyte-integrations/connectors/source-oracle/src/main/java/io/airbyte/integrations/source/oracle/OracleSource.java
  docs/integrations/sources/oracle.md
Labels: area/documentation, area/connectors

#6047 Source Google Search Console: format schemas
  airbyte-integrations/connectors/source-google-search-console/credentials/credentials.json
  airbyte-integrations/connectors/source-google-search-console/integration_tests/catalog.json
  airbyte-integrations/connectors/source-google-search-console/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-google-search-console/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-google-search-console/sample_files/sample_config.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/schemas/search_analytics_all_fields.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/schemas/search_analytics_by_country.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/schemas/search_analytics_by_date.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/schemas/search_analytics_by_device.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/schemas/search_analytics_by_page.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/schemas/search_analytics_by_query.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/schemas/sitemaps.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/schemas/sites.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/spec.json
Labels: area/connectors

#6060 publish PR #5946
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e7778cfc-e97c-4458-9ecb-b4f2bba8946c.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors

#4978 🐛 Source Facebook Marketing: Convert values' types according to schema types
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e7778cfc-e97c-4458-9ecb-b4f2bba8946c.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/acceptance-test-config.yml
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/future_state.json
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/ad_sets.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/shared/targeting.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_streams.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors

#6036 use spec when persisting source configs
  airbyte-config/persistence/build.gradle
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/SchedulerApp.java
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/WorkspaceHelperTest.java
  airbyte-server/src/main/java/io/airbyte/server/ConfigDumpImporter.java
  airbyte-server/src/main/java/io/airbyte/server/RunMigration.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/ArchiveHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SourceHandler.java
  airbyte-server/src/test/java/io/airbyte/server/ConfigDumpImporterTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/ArchiveHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/SourceHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/migration/RunMigrationTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerApp.java
Labels: area/worker, area/core

#6004 🎉 Source Stripe: Add `PaymentIntents` stream
  .gitignore
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e094cb9a-26de-4645-8761-65c0c425d1de.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-stripe/Dockerfile
  airbyte-integrations/connectors/source-stripe/acceptance-test-config.yml
  airbyte-integrations/connectors/source-stripe/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-stripe/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-stripe/integration_tests/expected_subscriptions_records.txt
  airbyte-integrations/connectors/source-stripe/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-stripe/integration_tests/non_disputes_events_catalog.json
  airbyte-integrations/connectors/source-stripe/setup.py
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/payment_intents.json
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors

#5629 Add skeleton for databricks destination
  airbyte-integrations/connectors/destination-databricks/.dockerignore
  airbyte-integrations/connectors/destination-databricks/Dockerfile
  airbyte-integrations/connectors/destination-databricks/README.md
  airbyte-integrations/connectors/destination-databricks/build.gradle
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksDestination.java
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksNameTransformer.java
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksSqlOperations.java
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksStreamCopier.java
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksStreamCopierFactory.java
  airbyte-integrations/connectors/destination-databricks/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-databricks/src/test-integration/java/io/airbyte/integrations/destination/databricks/DatabricksDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/CopyConsumerFactory.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/StreamCopier.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/StreamCopierFactory.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/gcs/GcsStreamCopier.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/gcs/GcsStreamCopierFactory.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/s3/S3StreamCopier.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/s3/S3StreamCopierFactory.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/parquet/S3ParquetWriter.java
  docs/integrations/destinations/databricks.md
Labels: area/documentation, area/connectors

#6066 Revert "Add skeleton for databricks destination"
  airbyte-integrations/connectors/destination-databricks/.dockerignore
  airbyte-integrations/connectors/destination-databricks/Dockerfile
  airbyte-integrations/connectors/destination-databricks/README.md
  airbyte-integrations/connectors/destination-databricks/build.gradle
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksDestination.java
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksNameTransformer.java
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksSqlOperations.java
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksStreamCopier.java
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksStreamCopierFactory.java
  airbyte-integrations/connectors/destination-databricks/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-databricks/src/test-integration/java/io/airbyte/integrations/destination/databricks/DatabricksDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/CopyConsumerFactory.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/StreamCopier.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/StreamCopierFactory.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/gcs/GcsStreamCopier.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/gcs/GcsStreamCopierFactory.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/s3/S3StreamCopier.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/s3/S3StreamCopierFactory.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/parquet/S3ParquetWriter.java
  docs/integrations/destinations/databricks.md
Labels: area/documentation, area/connectors

#5998 🎉 New Destination: Databricks
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/destination-databricks/.dockerignore
  airbyte-integrations/connectors/destination-databricks/.gitignore
  airbyte-integrations/connectors/destination-databricks/BOOTSTRAP.md
  airbyte-integrations/connectors/destination-databricks/Dockerfile
  airbyte-integrations/connectors/destination-databricks/README.md
  airbyte-integrations/connectors/destination-databricks/build.gradle
  airbyte-integrations/connectors/destination-databricks/lib/.keep
  airbyte-integrations/connectors/destination-databricks/sample_secrets/config.json
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksConstants.java
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksDestination.java
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksDestinationConfig.java
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksNameTransformer.java
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksSqlOperations.java
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksStreamCopier.java
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksStreamCopierFactory.java
  airbyte-integrations/connectors/destination-databricks/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-databricks/src/test-integration/java/io/airbyte/integrations/destination/databricks/DatabricksDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-databricks/src/test/java/io/airbyte/integrations/destination/databricks/DatabricksDestinationConfigTest.java
  airbyte-integrations/connectors/destination-databricks/src/test/java/io/airbyte/integrations/destination/databricks/DatabricksStreamCopierTest.java
  airbyte-integrations/connectors/destination-gcs/src/test-integration/java/io/airbyte/integrations/destination/gcs/AvroRecordHelper.java
  airbyte-integrations/connectors/destination-gcs/src/test-integration/java/io/airbyte/integrations/destination/gcs/GcsAvroDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-gcs/src/test-integration/java/io/airbyte/integrations/destination/gcs/GcsParquetDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/CopyConsumerFactory.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/CopyDestination.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/StreamCopier.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/StreamCopierFactory.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/gcs/GcsStreamCopier.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/gcs/GcsStreamCopierFactory.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/s3/S3StreamCopier.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/s3/S3StreamCopierFactory.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3Consumer.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3DestinationConfig.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/avro/S3AvroWriter.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/csv/S3CsvWriter.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/jsonl/S3JsonlWriter.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/parquet/S3ParquetWriter.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/util/AvroRecordHelper.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/writer/BaseS3Writer.java
  airbyte-integrations/connectors/destination-s3/src/test-integration/java/io/airbyte/integrations/destination/s3/S3AvroDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-s3/src/test-integration/java/io/airbyte/integrations/destination/s3/S3DestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-s3/src/test-integration/java/io/airbyte/integrations/destination/s3/S3ParquetDestinationAcceptanceTest.java
  docs/SUMMARY.md
  docs/integrations/README.md
  docs/integrations/destinations/databricks.md
  docs/integrations/destinations/s3.md
  tools/bin/ci_credentials.sh
Labels: area/documentation, area/connectors

#6058 Source PostHog: add support for self-hosted instances
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/af6d50ee-dddf-4126-a8ee-7faee990774f.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-posthog/Dockerfile
  airbyte-integrations/connectors/source-posthog/source_posthog/source.py
  airbyte-integrations/connectors/source-posthog/source_posthog/spec.json
  airbyte-integrations/connectors/source-posthog/source_posthog/streams.py
Labels: area/connectors, community_pr

#6059 publish #6058
  airbyte-integrations/connectors/source-posthog/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-posthog/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-posthog/source_posthog/spec.json
  docs/integrations/sources/posthog.md
Labels: area/documentation, area/connectors

#6040 Destination Kafka: correct spec json and data types in config
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/9f760101-60ae-462f-9ee6-b7a9dafd454d.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/connectors/destination-kafka/Dockerfile
  airbyte-integrations/connectors/destination-kafka/src/main/java/io/airbyte/integrations/destination/kafka/KafkaDestinationConfig.java
  airbyte-integrations/connectors/destination-kafka/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-kafka/src/test-integration/java/io/airbyte/integrations/destination/kafka/KafkaDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-kafka/src/test/java/io/airbyte/integrations/destination/kafka/KafkaRecordConsumerTest.java
  airbyte-integrations/connectors/destination-keen/src/main/java/io/airbyte/integrations/destination/keen/KeenTimestampService.java
  docs/integrations/destinations/kafka.md
Labels: area/documentation, area/connectors

#6069 Fix or delete broken links
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-close-com/README.md
  airbyte-integrations/connectors/source-close-com/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-search-console/README.md
  airbyte-integrations/connectors/source-google-search-console/acceptance-test-config.yml
  airbyte-integrations/connectors/source-lever-hiring/README.md
  docs/project-overview/changelog/connectors.md
Labels: area/documentation, area/connectors

#6072 Fix more doc issues
  airbyte-integrations/connectors/destination-databricks/src/main/resources/spec.json
  airbyte-integrations/connectors/source-lever-hiring/README.md
  docs/integrations/destinations/databricks.md
Labels: area/documentation, area/connectors

#6000 Added optional platform flag for build image script
  docs/connector-development/tutorials/building-a-java-destination.md
  tools/bin/build_image.sh
Labels: area/documentation

#6073 Fix dependabot security alert.
  airbyte-integrations/connector-templates/generator/package-lock.json
  airbyte-integrations/connector-templates/generator/package.json
  airbyte-integrations/connectors/destination-databricks/sample_secrets/config.json
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksConstants.java
  airbyte-integrations/connectors/destination-s3/src/test-integration/java/io/airbyte/integrations/destination/s3/S3DestinationAcceptanceTest.java
Labels: area/connectors

#6081 update salesforce docs
  docs/integrations/sources/salesforce.md
Labels: area/documentation

#5949 🎉 Source Github: add caching for all streams
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/ef69ef6e-aa7f-4af1-a01d-ef775033524e.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/source_github/streams.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors

#6065 Interface changes to support separating secrets from the config
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/WorkspaceHelperTest.java
  airbyte-server/src/main/java/io/airbyte/server/ConfigDumpImporter.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/DestinationHandler.java
  airbyte-server/src/test/java/io/airbyte/server/ConfigDumpImporterTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/DestinationHandlerTest.java
Labels: area/core

#6125 Bump Airbyte version from 0.29.17-alpha to 0.29.18-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend

#6121 return auth spec in the API
  airbyte-api/src/main/openapi/config.yaml
  airbyte-server/src/main/java/io/airbyte/server/converters/OauthModelConverter.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SchedulerHandler.java
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api, area/core

#6044 :building_construction: CDK: support nested refs resolving
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/utils/schema_helpers.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/utils/test_schema_helpers.py
Labels: CDK

#6130 feat: path for nested fields
  airbyte-webapp/src/core/domain/catalog/fieldUtil.ts
  airbyte-webapp/src/core/domain/catalog/models.ts
  airbyte-webapp/src/views/Connection/CatalogTree/CatalogSection.tsx
  airbyte-webapp/src/views/Connection/CatalogTree/FieldRow.tsx
  airbyte-webapp/src/views/Connection/CatalogTree/StreamHeader.tsx
  airbyte-webapp/src/views/layout/SideBar/components/ConnectionsIcon.tsx
Labels: type/bug, area/frontend

#6148 Fix request middleware for ConnectionService
  airbyte-webapp/src/hooks/services/useConnectionHook.tsx
  airbyte-webapp/src/packages/cloud/services/useDefaultRequestMiddlewares.tsx
Labels: type/bug, area/frontend, airbyte-cloud

#5656 Jamakase/update onboarding flow
  airbyte-e2e-testing/cypress/integration/onboarding.spec.js
  airbyte-webapp/public/newsletter.png
  airbyte-webapp/public/play.svg
  airbyte-webapp/public/process-arrow.svg
  airbyte-webapp/public/rectangle.svg
  airbyte-webapp/public/rocket.png
  airbyte-webapp/public/stars-background.svg
  airbyte-webapp/public/video-background.svg
  airbyte-webapp/public/videoCover.png
  airbyte-webapp/src/App.tsx
  airbyte-webapp/src/components/CenteredPageComponents/BigButton.tsx
  airbyte-webapp/src/components/ContentCard/ContentCard.tsx
  airbyte-webapp/src/components/CreateConnectionContent/CreateConnectionContent.tsx
  airbyte-webapp/src/components/Modal/Modal.tsx
  airbyte-webapp/src/components/base/Card/Card.tsx
  airbyte-webapp/src/components/base/Titles/Titles.tsx
  airbyte-webapp/src/config/casesConfig.json
  airbyte-webapp/src/hooks/services/Onboarding/OnboardingService.tsx
  airbyte-webapp/src/hooks/services/Onboarding/index.tsx
  airbyte-webapp/src/hooks/services/useConnectionHook.tsx
  airbyte-webapp/src/hooks/services/useWorkspace.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/packages/cloud/routes.tsx
  airbyte-webapp/src/packages/cloud/views/layout/SideBar/SideBar.tsx
  airbyte-webapp/src/pages/OnboardingPage/OnboardingPage.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/ConnectionStep.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/DestinationStep.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/FinalStep.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/HighlightedText.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/LetterLine.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/ProgressBlock.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/SourceStep.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/StepsCounter/StepsCounter.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/StepsCounter/components/StarsIcon.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/StepsCounter/components/StepItem.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/StepsCounter/index.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/TitlesBlock.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/UseCaseBlock.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/VideoItem/VideoItem.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/VideoItem/components/PlayButton.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/VideoItem/components/ShowVideo.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/VideoItem/index.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/WelcomeStep.tsx
  airbyte-webapp/src/pages/OnboardingPage/types.ts
  airbyte-webapp/src/pages/OnboardingPage/useStepsConfig.tsx
  airbyte-webapp/src/pages/routes.tsx
  airbyte-webapp/src/theme.ts
  airbyte-webapp/src/views/Connector/ServiceForm/components/Controls/ConnectorServiceTypeControl.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/Controls/Instruction.tsx
  airbyte-webapp/src/views/Feedback/SyncCompletedModal/SyncCompletedModal.tsx
  airbyte-webapp/src/views/Feedback/SyncCompletedModal/components/BadIcon.tsx
  airbyte-webapp/src/views/Feedback/SyncCompletedModal/components/FeedbackButton.tsx
  airbyte-webapp/src/views/Feedback/SyncCompletedModal/components/GoodIcon.tsx
  airbyte-webapp/src/views/Feedback/SyncCompletedModal/components/ModalBody.tsx
  airbyte-webapp/src/views/Feedback/SyncCompletedModal/components/ModalHeader.tsx
  airbyte-webapp/src/views/Feedback/SyncCompletedModal/index.tsx
  airbyte-webapp/src/views/layout/SideBar/SideBar.tsx
  airbyte-webapp/src/views/layout/SideBar/components/OnboardingIcon.tsx
Labels: area/frontend

#6097 Doc explains normalization full-refresh implications
  docs/faq/data-loading.md
  docs/quickstart/set-up-a-connection.md
Labels: area/documentation

#6156 Bump Airbyte version from 0.29.18-alpha to 0.29.19-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend

#6031 Add information on which destinations support Incremental - Deduped H…
  docs/integrations/destinations/azureblobstorage.md
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/dynamodb.md
  docs/integrations/destinations/gcs.md
  docs/integrations/destinations/kafka.md
  docs/integrations/destinations/keen.md
  docs/integrations/destinations/local-csv.md
  docs/integrations/destinations/local-json.md
  docs/integrations/destinations/meilisearch.md
  docs/integrations/destinations/mongodb.md
  docs/integrations/destinations/mssql.md
  docs/integrations/destinations/mysql.md
  docs/integrations/destinations/oracle.md
  docs/integrations/destinations/postgres.md
  docs/integrations/destinations/pubsub.md
  docs/integrations/destinations/redshift.md
  docs/integrations/destinations/s3.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation

#6155 Update Airbyte Spec acknowledgements.
  docs/understanding-airbyte/airbyte-specification.md
Labels: area/documentation

#5891 🎉 Create a Helm Chart For Airbyte
  .github/workflows/helm.yaml
  charts/airbyte/.gitignore
  charts/airbyte/.helmignore
  charts/airbyte/Chart.lock
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/ci.sh
  charts/airbyte/files/sweep-pod.sh
  charts/airbyte/templates/NOTES.txt
  charts/airbyte/templates/_helpers.tpl
  charts/airbyte/templates/env-configmap.yaml
  charts/airbyte/templates/gcs-log-creds-secret.yaml
  charts/airbyte/templates/pod-sweeper/configmap.yaml
  charts/airbyte/templates/pod-sweeper/deployment.yaml
  charts/airbyte/templates/scheduler/deployment.yaml
  charts/airbyte/templates/server/deployment.yaml
  charts/airbyte/templates/server/pvc-data.yaml
  charts/airbyte/templates/server/service.yaml
  charts/airbyte/templates/serviceaccount.yaml
  charts/airbyte/templates/temporal/configmap.yaml
  charts/airbyte/templates/temporal/deployment.yaml
  charts/airbyte/templates/temporal/service.yaml
  charts/airbyte/templates/tests/test-webapp.yaml
  charts/airbyte/templates/webapp/deployment.yaml
  charts/airbyte/templates/webapp/ingress.yaml
  charts/airbyte/templates/webapp/service.yaml
  charts/airbyte/values.yaml
Labels: community_pr

#6143 Fix OAuth Summary strings
  airbyte-api/src/main/openapi/config.yaml
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api

#6134 :bug: Fixed test for gcs, csv, json-local, mongodb and meilisearch destination
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/af7c921e-5892-4ff2-b6c1-4a5ab258fb7e.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/DestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-csv/src/test-integration/java/io/airbyte/integrations/destination/csv/CsvDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-gcs/src/test-integration/java/io/airbyte/integrations/destination/gcs/GcsDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-local-json/src/test-integration/java/io/airbyte/integrations/destination/local_json/LocalJsonDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-meilisearch/Dockerfile
  airbyte-integrations/connectors/destination-meilisearch/src/main/java/io/airbyte/integrations/destination/meilisearch/MeiliSearchDestination.java
  airbyte-integrations/connectors/destination-meilisearch/src/test-integration/java/io/airbyte/integrations/destination/meilisearch/MeiliSearchDestinationAcceptanceTest.java
Labels: area/connectors

#6149 🐛 Source Recharge: change cursor_field from created_at on updated_at
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/45d2e135-2ede-49e1-939f-3e3ec357a65e.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-recharge/Dockerfile
  airbyte-integrations/connectors/source-recharge/acceptance-test-config.yml
  airbyte-integrations/connectors/source-recharge/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-recharge/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-recharge/integration_tests/streams_with_output_records_catalog.json
  airbyte-integrations/connectors/source-recharge/requirements.txt
  airbyte-integrations/connectors/source-recharge/sample_files/sample_state.json
  airbyte-integrations/connectors/source-recharge/source_recharge/api.py
  docs/integrations/sources/recharge.md
Labels: area/documentation, area/connectors

#6214 Format.
  .github/workflows/helm.yaml
  airbyte-integrations/connectors/destination-csv/src/test-integration/java/io/airbyte/integrations/destination/csv/CsvDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-gcs/src/test-integration/java/io/airbyte/integrations/destination/gcs/GcsDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-local-json/src/test-integration/java/io/airbyte/integrations/destination/local_json/LocalJsonDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-meilisearch/src/main/java/io/airbyte/integrations/destination/meilisearch/MeiliSearchDestination.java
  airbyte-integrations/connectors/destination-meilisearch/src/test-integration/java/io/airbyte/integrations/destination/meilisearch/MeiliSearchDestinationAcceptanceTest.java
  build.gradle
Labels: area/connectors

#6135 🐛 BigQuery source: Fix nested structs
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/bfd1ddf8-ae8a-4620-b1d7-55597d2ba08c.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-db/lib/src/main/java/io/airbyte/db/bigquery/BigQuerySourceOperations.java
  airbyte-integrations/connectors/source-bigquery/Dockerfile
  airbyte-integrations/connectors/source-bigquery/src/test-integration/java/io/airbyte/integrations/source/bigquery/BigQuerySourceTest.java
  docs/integrations/sources/bigquery.md
Labels: area/documentation, area/connectors

#5244 🎉 Source Shopify: convert prices into numbers
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/9da77001-af33-4bcd-be46-6252bf9342b9.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-shopify/Dockerfile
  airbyte-integrations/connectors/source-shopify/acceptance-test-config.yml
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/abandoned_checkouts.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/customers.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/draft_orders.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/order_refunds.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/order_risks.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/orders.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/products.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/transactions.json
  airbyte-integrations/connectors/source-shopify/source_shopify/source.py
  airbyte-integrations/connectors/source-shopify/source_shopify/transform.py
  airbyte-integrations/connectors/source-shopify/unit_tests/test_transform.py
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors

#6224 Add kubernetes labels to PRs
  .github/labeler.yml
Labels: community_pr

#6159 🔪 Gut the FAQ and link to our Discourse
  docs/SUMMARY.md
  docs/faq/README.md
  docs/quickstart/deploy-airbyte.md
  docs/quickstart/set-up-a-connection.md
Labels: area/documentation

#6236 Switch out old Speedrun Tutorial.
  docs/connector-development/tutorials/cdk-speedrun-deprecated.md
  docs/connector-development/tutorials/cdk-speedrun-pokeapi.md
  docs/connector-development/tutorials/cdk-speedrun.md
Labels: area/documentation

#6188 🐛 Fix minor bugs.
  airbyte-config/models/src/main/java/io/airbyte/config/helpers/LogClientSingleton.java
  airbyte-config/models/src/test/java/io/airbyte/config/helpers/CloudLogsClientTest.java
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/JobScheduler.java
  build.gradle
Labels: area/core

#6220 🐞 Fix db config persistence initialization
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/ConfigSeedProvider.java
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/DatabaseConfigPersistence.java
  airbyte-config/persistence/src/test/java/io/airbyte/config/persistence/DatabaseConfigPersistenceInitializeTest.java
  airbyte-config/persistence/src/test/java/io/airbyte/config/persistence/DatabaseConfigPersistenceTest.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
Labels: area/core

#6237 📝 Fix links to getting-started page
  docs/examples/slack-history.md
  docs/examples/zoom-activity-dashboard.md
Labels: area/documentation

#6075 :bug: Source MixPanel: allow pulling data from different regions
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/12928b32-bf0a-4f1e-964f-07e12e37153a.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-mixpanel/Dockerfile
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/source.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/spec.json
  airbyte-integrations/connectors/source-mixpanel/unit_tests/unit_test.py
  docs/integrations/sources/mixpanel.md
Labels: area/documentation, area/connectors

#6243 Bump Airbyte version from 0.29.19-alpha to 0.29.20-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, kubernetes

#6247 🐞 Update connector definitions after migrations
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/DatabaseConfigPersistence.java
  airbyte-config/persistence/src/test/java/io/airbyte/config/persistence/DatabaseConfigPersistenceLoadDataTest.java
  airbyte-config/persistence/src/test/java/io/airbyte/config/persistence/DatabaseConfigPersistenceMigrateFileConfigsTest.java
  airbyte-config/persistence/src/test/java/io/airbyte/config/persistence/DatabaseConfigPersistenceTest.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-tests/src/automaticMigrationAcceptanceTest/java/io/airbyte/test/automaticMigrationAcceptance/MigrationAcceptanceTest.java
Labels: area/core

#6248 Bump Airbyte version from 0.29.20-alpha to 0.29.21-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, kubernetes

#6252 📝 Add link to java 14 in documentation
  docs/contributing-to-airbyte/developing-locally.md
  docs/understanding-airbyte/tech-stack.md
Labels: area/documentation

#5898 🎉 GitHub Source: Don't minimize output fields
  airbyte-integrations/connectors/source-github/source_github/schemas/commits.json
  airbyte-integrations/connectors/source-github/source_github/schemas/events.json
  airbyte-integrations/connectors/source-github/source_github/schemas/issue_events.json
  airbyte-integrations/connectors/source-github/source_github/schemas/issue_milestones.json
  airbyte-integrations/connectors/source-github/source_github/schemas/issues.json
  airbyte-integrations/connectors/source-github/source_github/schemas/projects.json
  airbyte-integrations/connectors/source-github/source_github/schemas/pull_requests.json
  airbyte-integrations/connectors/source-github/source_github/schemas/releases.json
  airbyte-integrations/connectors/source-github/source_github/streams.py
Labels: area/connectors, community_pr

#6227 🐛 Source GitHub: Add error handling for streams that are not applicable to some repos
  airbyte-integrations/connectors/source-github/source_github/streams.py
Labels: area/connectors, community_pr

#5693 :tada:Source Hubspot: Add contacts associations to Deals stream.
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/36c891d9-4bd9-43ac-bad2-10e12756272c.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/source_hubspot/client.py
Labels: area/connectors, community_pr

#6018 FB Marketing Oauth flow implementation
  airbyte-api/src/main/openapi/config.yaml
  airbyte-oauth/src/main/java/io/airbyte/oauth/BaseOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/OAuthImplementationFactory.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/FacebookMarketingOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/google/GoogleAdsOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/google/GoogleAnalyticsOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/google/GoogleOAuthFlow.java
  airbyte-oauth/src/test-integration/java/io.airbyte.oauth.flows/FacebookMarketingOAuthFlowIntegrationTest.java
  airbyte-oauth/src/test-integration/java/io/airbyte/oauth/flows/google/GoogleAdsOAuthFlowIntegrationTest.java
  airbyte-oauth/src/test-integration/java/io/airbyte/oauth/flows/google/GoogleAnalyticsOAuthFlowIntegrationTest.java
  airbyte-oauth/src/test/java/io/airbyte/oauth/flows/FacebookMarketingOAuthFlowTest.java
  airbyte-oauth/src/test/java/io/airbyte/oauth/flows/google/GoogleAdsOAuthFlowTest.java
  airbyte-oauth/src/test/java/io/airbyte/oauth/flows/google/GoogleAnalyticsOAuthFlowTest.java
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api

#6087 🐛 Source Intercom: Fix "updated_at" data type
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/d8313939-3782-41b0-be29-b3ca20d8dd3a.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-intercom/Dockerfile
  airbyte-integrations/connectors/source-intercom/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-intercom/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/companies.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/company_attributes.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/company_segments.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/contacts.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/conversation_parts.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/conversations.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/segments.json
  airbyte-integrations/connectors/source-intercom/source_intercom/source.py
  docs/integrations/sources/intercom.md
Labels: area/documentation, area/connectors, community_pr

#6123 inject tolerations and add node selectors for worker pods
  airbyte-config/models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-config/models/src/test/java/io/airbyte/config/EnvConfigsTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerUtils.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubeProcessFactory.java
  kube/overlays/dev-integration-test/.env
  kube/overlays/dev/.env
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable/.env
  kube/resources/worker.yaml
Labels: area/worker, community_pr

#6311 Added externalDB password secret value
  charts/airbyte/templates/server/deployment.yaml
Labels: kubernetes

#6136 5595/UI workspace user errors
  airbyte-webapp/.env
  airbyte-webapp/src/packages/cloud/services/users/UseUserHook.ts
  airbyte-webapp/src/packages/cloud/views/users/InviteUsersModal/InviteUsersForm.tsx
  airbyte-webapp/src/packages/cloud/views/users/InviteUsersModal/InviteUsersModal.tsx
  airbyte-webapp/src/packages/cloud/views/users/UsersSettingsView/UsersSettingsView.tsx
Labels: type/bug, area/frontend, airbyte-cloud

#6309 Update instance wide oauth parameters
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/OAuthHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/OAuthHandlerTest.java
Labels: area/core

#6328 🐛 Source Stripe: Remove incorrect timestamp formats from coupons and subscriptions stream schemas
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e094cb9a-26de-4645-8761-65c0c425d1de.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-stripe/Dockerfile
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/coupons.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/subscriptions.json
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors

#6234 Add High-Level overview to Namespaces doc.
  docs/understanding-airbyte/namespaces.md
Labels: area/documentation

#6306 Google analytics v4: Oauth2.0 config
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/utils/json_schema_helper.py
  airbyte-integrations/connectors/source-google-analytics-v4/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-v4/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-google-analytics-v4/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-google-analytics-v4/source_google_analytics_v4/source.py
  airbyte-integrations/connectors/source-google-analytics-v4/source_google_analytics_v4/spec.json
  airbyte-integrations/connectors/source-google-analytics-v4/unit_tests/unit_test.py
  docs/integrations/sources/google-analytics-v4.md
Labels: area/documentation, area/connectors

#6346 Fix exception on API calls
  airbyte-server/src/main/java/io/airbyte/server/ConfigDumpImporter.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
Labels: area/core

#6209 🐛 Source Salesforce: fix bug with pagination for BULK API
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/b117307c-14b6-41aa-9422-947e34922962.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-salesforce/Dockerfile
  airbyte-integrations/connectors/source-salesforce/integration_tests/configured_catalog_bulk.json
  airbyte-integrations/connectors/source-salesforce/integration_tests/configured_catalog_rest.json
  airbyte-integrations/connectors/source-salesforce/integration_tests/future_state.json
  airbyte-integrations/connectors/source-salesforce/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-salesforce/source_salesforce/streams.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors

#6238 🎉 Source greenhouse: added identification of accessible streams for API keys with limited permissions
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/59f1e50a-331f-4f09-b3e8-2e8d4d355f44.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-greenhouse/Dockerfile
  airbyte-integrations/connectors/source-greenhouse/acceptance-test-config.yml
  airbyte-integrations/connectors/source-greenhouse/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-greenhouse/integration_tests/__init__.py
  airbyte-integrations/connectors/source-greenhouse/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-greenhouse/integration_tests/config_invalid.json
  airbyte-integrations/connectors/source-greenhouse/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-greenhouse/integration_tests/configured_catalog_users_only.json
  airbyte-integrations/connectors/source-greenhouse/requirements.txt
  airbyte-integrations/connectors/source-greenhouse/setup.py
  airbyte-integrations/connectors/source-greenhouse/source_greenhouse/client.py
  airbyte-integrations/connectors/source-greenhouse/source_greenhouse/schemas/applications.json
  airbyte-integrations/connectors/source-greenhouse/source_greenhouse/schemas/candidates.json
  airbyte-integrations/connectors/source-greenhouse/source_greenhouse/schemas/users.json
  docs/integrations/sources/greenhouse.md
  tools/bin/ci_credentials.sh
Labels: area/documentation, area/connectors

#6056 📝 🎉 Source Shopify: added the `pre_tax_price` to `orders/line_items` schema, update `stream_slices` logic
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/9da77001-af33-4bcd-be46-6252bf9342b9.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-shopify/Dockerfile
  airbyte-integrations/connectors/source-shopify/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-shopify/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-shopify/integration_tests/state.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/orders.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/orders_refunds.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/orders_risks.json
  airbyte-integrations/connectors/source-shopify/source_shopify/source.py
  airbyte-integrations/connectors/source-shopify/source_shopify/utils.py
  airbyte-integrations/connectors/source-shopify/unit_tests/test_cached_stream_state.py
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors

#6318 🎉 Source MSSQL: Added support for connection via SSH tunnels (#5966)
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/b5ea17b1-f170-46dc-bc31-cc744ca984c1.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-intercom/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-mssql/Dockerfile
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/AbstractSshMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/MssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/SshKeyMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/SshPasswordMssqlSourceAcceptanceTest.java
  docs/integrations/sources/mssql.md
  tools/bin/ci_credentials.sh
Labels: area/documentation, area/connectors

#6331 add displaySetupWizard as an api option
  airbyte-api/src/main/openapi/config.yaml
  airbyte-server/src/main/java/io/airbyte/server/handlers/WorkspacesHandler.java
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api, area/core

#6353 🐛 Source Amplitude: Correct output schemas on cohorts, events, active_users, and average_session_lengths streams
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/fa9f58c6-2d03-4237-aaa4-07d75e0c1396.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-amplitude/CHANGELOG.md
  airbyte-integrations/connectors/source-amplitude/Dockerfile
  airbyte-integrations/connectors/source-amplitude/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amplitude/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-amplitude/requirements.txt
  airbyte-integrations/connectors/source-amplitude/source_amplitude/schemas/active_users.json
  airbyte-integrations/connectors/source-amplitude/source_amplitude/schemas/average_session_length.json
  airbyte-integrations/connectors/source-amplitude/source_amplitude/schemas/cohorts.json
  airbyte-integrations/connectors/source-amplitude/source_amplitude/schemas/events.json
  docs/integrations/sources/amplitude.md
Labels: area/documentation, area/connectors

#6357 Fix google analytics auth flow parameters.
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/eff3616a-f9c3-11eb-9a03-0242ac130003.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-google-analytics-v4/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-v4/source_google_analytics_v4/spec.json
  docs/integrations/sources/google-analytics-v4.md
Labels: area/documentation, area/connectors

#6235 Add Glossary of Terms to Understanding Airbyte
  docs/.gitbook/assets/glossary_dag_example.png
  docs/SUMMARY.md
  docs/understanding-airbyte/glossary.md
Labels: area/documentation

#6350 Minor typos on tools/openapi2jsonschema readme
  tools/openapi2jsonschema/README.md
Labels: community_pr

#6219 🎉 CDK: Add support for custom headers passing to the request in `OAuth2Authenticator. refresh_access_token`
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/auth/oauth.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/destinations/__init__.py
  airbyte-cdk/python/unit_tests/singer/__init__.py
  airbyte-cdk/python/unit_tests/sources/__init__.py
  airbyte-cdk/python/unit_tests/sources/streams/__init__.py
  airbyte-cdk/python/unit_tests/sources/streams/http/__init__.py
  airbyte-cdk/python/unit_tests/sources/streams/http/auth/__init__.py
  airbyte-cdk/python/unit_tests/sources/streams/http/auth/test_auth.py
  airbyte-cdk/python/unit_tests/sources/streams/http/requests_native_auth/__init__.py
Labels: CDK

#6241 6240/Add profile type filter = seller
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/profiles.py
Labels: area/connectors, community_pr

#6223 🎉 Source GitHub: Add option to pull commits from user-specified branches
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/ef69ef6e-aa7f-4af1-a01d-ef775033524e.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/acceptance-test-config.yml
  airbyte-integrations/connectors/source-github/source_github/source.py
  airbyte-integrations/connectors/source-github/source_github/spec.json
  airbyte-integrations/connectors/source-github/source_github/streams.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors

#6141 🎉 New Source: Lever Hiring
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/3981c999-bd7d-4afc-849b-e53dea90c948.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-lever-hiring/acceptance-test-config.yml
  airbyte-integrations/connectors/source-lever-hiring/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-lever-hiring/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-lever-hiring/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-lever-hiring/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-lever-hiring/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-lever-hiring/integration_tests/spec.json
  airbyte-integrations/connectors/source-lever-hiring/setup.py
  airbyte-integrations/connectors/source-lever-hiring/source_lever_hiring/schemas.py
  airbyte-integrations/connectors/source-lever-hiring/source_lever_hiring/source.py
  airbyte-integrations/connectors/source-lever-hiring/source_lever_hiring/spec.json
  airbyte-integrations/connectors/source-lever-hiring/source_lever_hiring/streams.py
  airbyte-integrations/connectors/source-lever-hiring/unit_tests/conftest.py
  airbyte-integrations/connectors/source-lever-hiring/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-lever-hiring/unit_tests/test_source.py
  airbyte-integrations/connectors/source-lever-hiring/unit_tests/test_streams.py
  docs/SUMMARY.md
  docs/integrations/README.md
  docs/integrations/sources/lever-hiring.md
  tools/bin/ci_credentials.sh
Labels: area/documentation, area/connectors
