Repository airbytehq/airbyte, pull requests merged in 2021-08, with the labels that each got.

#5125 Enable `additionalProperties` in spec.json for destinations
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/079d5540-f236-4294-ba7c-ade8fd918496.json
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/22f6c74f-5699-40ff-833c-4a879ea40133.json
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/25c5221d-dce2-4163-ade9-739ef790f503.json
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/3986776d-2319-4de9-8af8-db14c0996e72.json
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/424892c4-daac-4491-b35d-c6688ba547ba.json
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/9f760101-60ae-462f-9ee6-b7a9dafd454d.json
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/af7c921e-5892-4ff2-b6c1-4a5ab258fb7e.json
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/ca81ee7c-3163-4246-af40-094cc31e5e42.json
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/d4353156-9217-4cad-8dd7-c108fd4f74cf.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-jdbc/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-kafka/Dockerfile
  airbyte-integrations/connectors/destination-kafka/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-meilisearch/Dockerfile
  airbyte-integrations/connectors/destination-meilisearch/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-mssql/Dockerfile
  airbyte-integrations/connectors/destination-mssql/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-mysql/Dockerfile
  airbyte-integrations/connectors/destination-mysql/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-oracle/Dockerfile
  airbyte-integrations/connectors/destination-oracle/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-postgres/Dockerfile
  airbyte-integrations/connectors/destination-postgres/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeInsertDestinationAcceptanceTest.java
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/kafka.md
  docs/integrations/destinations/mssql.md
  docs/integrations/destinations/mysql.md
  docs/integrations/destinations/oracle.md
  docs/integrations/destinations/snowflake.md
Labels: area/connectors, area/documentation

#5098 Set MAX_RETRIES and MAX_SYNC_JOB_ATTEMPTS by env vars
  .env
  .env.dev
  airbyte-config/models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/JobRetrier.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/SyncWorkflow.java
  docker-compose.yaml
Labels: area/core, area/worker

#4861 🎉 Source Zendesk: Migration from Singer to CDK
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/79c1aa37-dae3-42ae-b333-d1c105477715.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/d29764f8-80d7-4dd7-acbe-1a42005ee5aa.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-zendesk-support/.dockerignore
  airbyte-integrations/connectors/source-zendesk-support/Dockerfile
  airbyte-integrations/connectors/source-zendesk-support/README.md
  airbyte-integrations/connectors/source-zendesk-support/acceptance-test-config.yml
  airbyte-integrations/connectors/source-zendesk-support/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-zendesk-support/build.gradle
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/__init__.py
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/integration_test.py
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-zendesk-support/main.py
  airbyte-integrations/connectors/source-zendesk-support/requirements.txt
  airbyte-integrations/connectors/source-zendesk-support/setup.py
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/__init__.py
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/group_memberships.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/groups.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/macros.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/organizations.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/satisfaction_ratings.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/shared/attachments.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/shared/metadata.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/shared/via.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/shared/via_channel.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/sla_policies.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/tags.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/ticket_audits.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/ticket_comments.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/ticket_fields.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/ticket_forms.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/ticket_metrics.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/tickets.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/users.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/source.py
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/spec.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/streams.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/unit_test.py
  docs/integrations/sources/zendesk-support.md
  tools/bin/ci_credentials.sh
Labels: area/connectors, area/documentation

#5135 🐛 Source S3: fixed bug in spec so that Format field displays in UI correctly
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/69589781-7828-43c5-9f63-8925b1c1ccc2.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/integration_tests/spec.json
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/spec.py
  docs/integrations/sources/s3.md
Labels: area/connectors, area/documentation

#5138 Fix changelog formats
  docs/project-overview/changelog/README.md
  docs/project-overview/changelog/connectors.md
Labels: area/documentation

#5139 Add community changelog summaries
  docs/project-overview/changelog/README.md
Labels: area/documentation

#5081 🎉 New Source: Apify Dataset
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/47f17145-fe20-4ef5-a548-e29b048adf84.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-apify-dataset/.dockerignore
  airbyte-integrations/connectors/source-apify-dataset/Dockerfile
  airbyte-integrations/connectors/source-apify-dataset/README.md
  airbyte-integrations/connectors/source-apify-dataset/acceptance-test-config.yml
  airbyte-integrations/connectors/source-apify-dataset/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-apify-dataset/build.gradle
  airbyte-integrations/connectors/source-apify-dataset/integration_tests/__init__.py
  airbyte-integrations/connectors/source-apify-dataset/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-apify-dataset/integration_tests/catalog.json
  airbyte-integrations/connectors/source-apify-dataset/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-apify-dataset/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-apify-dataset/main.py
  airbyte-integrations/connectors/source-apify-dataset/requirements.txt
  airbyte-integrations/connectors/source-apify-dataset/setup.py
  airbyte-integrations/connectors/source-apify-dataset/source_apify_dataset/__init__.py
  airbyte-integrations/connectors/source-apify-dataset/source_apify_dataset/source.py
  airbyte-integrations/connectors/source-apify-dataset/source_apify_dataset/spec.json
  airbyte-integrations/connectors/source-apify-dataset/unit_tests/unit_test.py
  docs/SUMMARY.md
  docs/integrations/README.md
  docs/integrations/sources/apify-dataset.md
  tools/bin/ci_credentials.sh
Labels: area/connectors, area/documentation

#5123 🐛 Source Intercom: correct rate limit
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/d8313939-3782-41b0-be29-b3ca20d8dd3a.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-intercom/Dockerfile
  airbyte-integrations/connectors/source-intercom/source_intercom/source.py
  docs/integrations/sources/intercom.md
Labels: area/connectors, area/documentation, community_pr

#5146 Update connector spec reference with specific example.
  docs/connector-development/connector-specification-reference.md
Labels: area/documentation

#5134 📚 Source Google Search Console: added missing description of how to obtain Service Account key
  docs/integrations/sources/google-search-console.md
Labels: area/documentation

#5100 Source salesforce: add configuration values for quota limit
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/2470e835-feaf-4db6-96f3-70fd645acc77.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/bases/base-singer/Dockerfile
  airbyte-integrations/bases/base-singer/base_singer/singer_helpers.py
  airbyte-integrations/connectors/source-salesforce-singer/Dockerfile
  airbyte-integrations/connectors/source-salesforce-singer/source_salesforce_singer/spec.json
  docs/integrations/sources/salesforce.md
Labels: area/connectors, area/documentation

#5029 🐛 Destination BigQuery: Introduced chunk size config
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/22f6c74f-5699-40ff-833c-4a879ea40133.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDestination.java
  airbyte-integrations/connectors/destination-bigquery/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDestinationTest.java
  docs/integrations/destinations/bigquery.md
Labels: area/connectors, area/documentation

#4913 🎉 Source Hubspot: update user-defined custom field schema generation
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/36c891d9-4bd9-43ac-bad2-10e12756272c.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/acceptance-test-config.yml
  airbyte-integrations/connectors/source-hubspot/integration_tests/integration_test.py
  airbyte-integrations/connectors/source-hubspot/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/api.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/campaigns.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/contact_lists.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/deals.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/email_events.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/engagements.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/subscription_changes.json
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_field_type_converting.py
  docs/integrations/sources/hubspot.md
Labels: area/connectors, area/documentation

#5159 🐛 Source Google-Ads: add "login-customer-id" setting
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/253487c0-2246-43ba-a21f-5116b20a2c50.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/spec.json
  docs/integrations/sources/google-ads.md
Labels: area/connectors, area/documentation

#5155 🐛Paypal transaction: fix start date min limit
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/d913b0f2-cc51-4e55-a44c-8ba1697b9239.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-paypal-transaction/Dockerfile
  airbyte-integrations/connectors/source-paypal-transaction/source_paypal_transaction/source.py
  docs/integrations/sources/paypal-transaction.md
Labels: area/connectors, area/documentation

#5164 Add note about sending EC2 logs to CloudWatch
  docs/deploying-airbyte/on-aws-ec2.md
Labels: area/documentation

#5174 Add doc note about airbyte-configs table in db
  docs/operator-guides/configuring-airbyte-db.md
Labels: area/documentation

#5137 Source Mailchimp: fix primary key for email activities
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/b03a9f3e-22a5-11eb-adc1-0242ac120002.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-mailchimp/Dockerfile
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/streams.py
  docs/integrations/sources/mailchimp.md
Labels: area/connectors, area/documentation

#5186 Update Sendgrind connector docs page
  docs/integrations/sources/sendgrid.md
Labels: area/documentation

#4907 Remove json schema parameter
  airbyte-integrations/connectors/source-amplitude/integration_tests/configured_catalog_without_events.json
  airbyte-integrations/connectors/source-amplitude/integration_tests/streams_with_output_records_catalog.json
  airbyte-integrations/connectors/source-apify-dataset/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-asana/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-aws-cloudtrail/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-cart/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-dixa/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-google-adwords-singer/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-google-search-console-singer/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-googleanalytics-singer/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-googleanalytics-singer/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-harvest/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-intercom/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-jira/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-jira/integration_tests/issue_worklogs_configured_catalog.json
  airbyte-integrations/connectors/source-jira/integration_tests/issues_configured_catalog.json
  airbyte-integrations/connectors/source-jira/integration_tests/labels_catalog.json
  airbyte-integrations/connectors/source-jira/integration_tests/projects_configured_catalog.json
  airbyte-integrations/connectors/source-jira/integration_tests/workflows_configured_catalog.json
  airbyte-integrations/connectors/source-klaviyo/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-mailchimp/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-okta/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-pipedrive/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-recharge/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-recharge/integration_tests/streams_with_output_records_catalog.json
  airbyte-integrations/connectors/source-s3/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-scaffold-source-http/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-scaffold-source-python/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-sendgrid/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-sendgrid/sample_files/no_spam_reports_configured_catalog.json
  airbyte-integrations/connectors/source-shopify/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-shopify/integration_tests/no_refunds_catalog.json
  airbyte-integrations/connectors/source-slack/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-slack/integration_tests/full_refresh_catalog.json
  airbyte-integrations/connectors/source-square/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-surveymonkey/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-twilio/integration_tests/constant_records_catalog.json
  airbyte-integrations/connectors/source-twilio/integration_tests/no_empty_streams_catalog.json
  airbyte-integrations/connectors/source-twilio/integration_tests/no_empty_streams_no_usage_records_catalog.json
  airbyte-integrations/connectors/source-typeform/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-us-census/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-zendesk-chat/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-zendesk-sunshine/integration_tests/configured_catalog.json
Labels: Acceptance Tests, area/connectors, cleanup, testing, zazmic

#5210 add randomness to slug if dupe
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WorkspacesHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WorkspacesHandlerTest.java
Labels: area/core

#5215 Add link to the FAQ from Quickstart Deploy
  docs/quickstart/deploy-airbyte.md
Labels: area/documentation

#5216 Add direction to CDK from adding a source in Quickstart
  docs/quickstart/add-a-source.md
Labels: area/documentation

#5217 Link to Slack community from Getting Started and the Python CDK docs
  docs/connector-development/cdk-python/README.md
  docs/quickstart/deploy-airbyte.md
Labels: area/documentation

#5218 Add warning about the airbyte_raw prefix for the MSSQL destination
  docs/integrations/destinations/mssql.md
Labels: area/documentation

#5204 clarify process for updating docs
  docs/contributing-to-airbyte/updating-documentation.md
Labels: area/documentation

#4550 🎉 New Source: Kustomer
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-kustomer-singer/.dockerignore
  airbyte-integrations/connectors/source-kustomer-singer/.gitignore
  airbyte-integrations/connectors/source-kustomer-singer/Dockerfile
  airbyte-integrations/connectors/source-kustomer-singer/README.md
  airbyte-integrations/connectors/source-kustomer-singer/acceptance-test-config.yml
  airbyte-integrations/connectors/source-kustomer-singer/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-kustomer-singer/build.gradle
  airbyte-integrations/connectors/source-kustomer-singer/integration_tests/__init__.py
  airbyte-integrations/connectors/source-kustomer-singer/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-kustomer-singer/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-kustomer-singer/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-kustomer-singer/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-kustomer-singer/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-kustomer-singer/main.py
  airbyte-integrations/connectors/source-kustomer-singer/requirements.txt
  airbyte-integrations/connectors/source-kustomer-singer/setup.py
  airbyte-integrations/connectors/source-kustomer-singer/source_kustomer_singer/__init__.py
  airbyte-integrations/connectors/source-kustomer-singer/source_kustomer_singer/source.py
  airbyte-integrations/connectors/source-kustomer-singer/source_kustomer_singer/spec.json
  airbyte-integrations/connectors/source-kustomer-singer/unit_tests/unit_test.py
  docs/SUMMARY.md
  docs/integrations/README.md
  docs/integrations/sources/kustomer.md
Labels: area/connectors, area/documentation, community_pr

#5219 publish 4550
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeInsertDestinationAcceptanceTest.java
  airbyte-integrations/connectors/source-apify-dataset/integration_tests/catalog.json
  airbyte-integrations/connectors/source-apify-dataset/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-apify-dataset/source_apify_dataset/spec.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/api.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_field_type_converting.py
  airbyte-integrations/connectors/source-kustomer-singer/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-kustomer-singer/main.py
  airbyte-integrations/connectors/source-kustomer-singer/setup.py
  airbyte-integrations/connectors/source-kustomer-singer/source_kustomer_singer/source.py
  airbyte-integrations/connectors/source-kustomer-singer/unit_tests/unit_test.py
  airbyte-integrations/connectors/source-s3/integration_tests/spec.json
  airbyte-integrations/connectors/source-scaffold-source-http/integration_tests/configured_catalog.json
Labels: area/connectors

#5209 🐛 Add back seeds for config import
  airbyte-server/src/main/java/io/airbyte/server/ConfigDumpImporter.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/ArchiveHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/ArchiveHandlerTest.java
Labels: area/core

#5156 🎉 Source Github: Extend existing streams with `user` property
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/ef69ef6e-aa7f-4af1-a01d-ef775033524e.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/acceptance-test-config.yml
  airbyte-integrations/connectors/source-github/integration_tests/small_streams_configured_catalog.json
  airbyte-integrations/connectors/source-github/source_github/schemas/comments.json
  airbyte-integrations/connectors/source-github/source_github/schemas/commit_comments.json
  airbyte-integrations/connectors/source-github/source_github/schemas/issues.json
  airbyte-integrations/connectors/source-github/source_github/schemas/pull_requests.json
  airbyte-integrations/connectors/source-github/source_github/schemas/reviews.json
  airbyte-integrations/connectors/source-github/source_github/schemas/shared/user.json
  airbyte-integrations/connectors/source-github/source_github/schemas/stargazers.json
  airbyte-integrations/connectors/source-github/source_github/streams.py
  docs/integrations/sources/github.md
Labels: area/connectors, area/documentation

#5222 Update MySQL source connector documentation
  docs/integrations/sources/mysql.md
Labels: area/documentation, community_pr

#5208 📚 Document how to obfuscate secrets & accept multiline strings in UI
  docs/connector-development/connector-specification-reference.md
Labels: area/documentation

#5230 Fix file change issue in build
  .github/workflows/gradle.yml
  airbyte-integrations/connectors/source-scaffold-source-python/integration_tests/configured_catalog.json
Labels: area/connectors

#5197 🐛 Source S3: fixed bug where sync could hang indefinitely
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/69589781-7828-43c5-9f63-8925b1c1ccc2.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/integration_tests/spec.json
  airbyte-integrations/connectors/source-s3/setup.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/fileformatparser.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/spec.py
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors

#5161 🎉 CDK: Allow setting request non-JSON data
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/exceptions.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/http.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/rate_limiting.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/streams/http/test_http.py
Labels: CDK

#5250 🐛 Source hubspot: correctly use logger exception printing
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/36c891d9-4bd9-43ac-bad2-10e12756272c.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-github/source_github/schemas/shared/user.json
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/source_hubspot/api.py
  airbyte-integrations/connectors/source-kustomer-singer/main.py
  airbyte-integrations/connectors/source-s3/integration_tests/spec.json
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors

#5252 allow injecting deployment mode via env variable
  airbyte-analytics/src/main/java/io/airbyte/analytics/Deployment.java
  airbyte-analytics/src/test/java/io/airbyte/analytics/SegmentTrackingClientTest.java
  airbyte-analytics/src/test/java/io/airbyte/analytics/TrackingClientSingletonTest.java
  airbyte-config/models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/SchedulerApp.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
Labels: area/core

#5267 Fix presta shop links
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/d60a46d4-709f-4092-a6b7-2457f7d455f5.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-prestashop/README.md
  docs/project-overview/changelog/connectors.md
Labels: area/documentation, area/connectors

#4789 Populate the PK from the Singer discovery run (#2713)
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/singer/singer_helpers.py
  airbyte-cdk/python/airbyte_cdk/sources/singer/source.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/singer/test_singer_helpers.py
  airbyte-cdk/python/unit_tests/singer/test_singer_source.py
Labels: priority/medium, CDK, community_pr

#5276 🎉 Source Shopify: Add `status` property to `Products` stream
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/9da77001-af33-4bcd-be46-6252bf9342b9.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-shopify/Dockerfile
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/products.json
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors

#5275 404 Exception Handling.
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/JobNotifier.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/WorkspaceHelper.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/job_tracker/JobTracker.java
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/JobNotifierTest.java
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/WorkspaceHelperTest.java
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/job_tracker/JobTrackerTest.java
  airbyte-server/build.gradle
  airbyte-server/src/main/java/io/airbyte/server/handlers/ConnectionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendDestinationHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendSourceHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/ConnectionsHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WebBackendDestinationHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WebBackendSourceHandlerTest.java
  airbyte-tests/src/acceptanceTests/java/io/airbyte/test/acceptance/AcceptanceTests.java
  build.gradle
Labels: area/core

#5292 Bump version: 0.29.2-alpha → 0.29.3-alpha
  .bumpversion.cfg
  .env
  airbyte-scheduler/app/src/test/java/io/airbyte/scheduler/app/JobSubmitterTest.java
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/core

#5272 🐛 Add batch to insert records in MSSQL (2100 params limit)
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/d4353156-9217-4cad-8dd7-c108fd4f74cf.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/DestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mssql/Dockerfile
  airbyte-integrations/connectors/destination-mssql/src/main/java/io/airbyte/integrations/destination/mssql/SqlServerOperations.java
  docs/integrations/destinations/mssql.md
Labels: area/documentation, area/connectors

#5261 🐛 Destination BigQuery(Denormalized): Fix processing arrays of records
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedRecordConsumer.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedDestinationTest.java
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors

#5320 Bump version: 0.29.3-alpha → 0.29.4-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend

#5307 🐛 Destination Oracle: Fix destination check for users without dba role
  airbyte-integrations/connectors/destination-oracle/Dockerfile
  airbyte-integrations/connectors/destination-oracle/src/main/java/io/airbyte/integrations/destination/oracle/OracleOperations.java
  docs/integrations/destinations/oracle.md
Labels: area/documentation, area/connectors

#5354 🐛 source instagram - fix failures
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/6acf6b55-4f1e-4fca-944e-1a3caef8aba8.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-instagram/Dockerfile
  airbyte-integrations/connectors/source-instagram/integration_tests/test_streams.py
  airbyte-integrations/connectors/source-instagram/source_instagram/source.py
  docs/integrations/sources/instagram.md
Labels: area/documentation, area/connectors

#5334 🐛 Source HubSpot: Fix `empty string` inside `number / float` datatype
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/36c891d9-4bd9-43ac-bad2-10e12756272c.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/README.md
  airbyte-integrations/connectors/source-hubspot/setup.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/api.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/campaigns.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/companies.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/contact_lists.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/contacts.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/deal_pipelines.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/deals.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/email_events.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/engagements.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/forms.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/line_items.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/owners.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/products.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/quotes.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/subscription_changes.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/tickets.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/workflows.json
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_field_type_converting.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors

#5375 Remove calendly link and correct mysql docs
  docs/integrations/sources/mysql.md
  docs/quickstart/deploy-airbyte.md
Labels: area/documentation

#5369 fix mysql integration tests
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/source/mysql/CdcMySqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/source/mysql/MySqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/source/mysql/MySqlSourceComprehensiveTest.java
Labels: area/connectors

#5374 Fix scaffold source errors
  airbyte-integrations/connector-templates/generator/generate.sh
  airbyte-integrations/connectors/source-scaffold-source-http/setup.py
  airbyte-integrations/connectors/source-scaffold-source-http/unit_tests/unit_test.py
Labels: area/connectors

#5370 fix postgres integration tests
  airbyte-integrations/bases/standard-source-test/src/main/java/io/airbyte/integrations/standardtest/source/SourceComprehensiveTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcPostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcPostgresSourceComprehensiveTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/PostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/PostresSourceComprehensiveTest.java
Labels: area/connectors

#5383 Clean up json schema in code generators
  airbyte-integrations/connector-templates/source-python-http-api/integration_tests/configured_catalog.json
  airbyte-integrations/connector-templates/source-python/integration_tests/configured_catalog.json
  airbyte-integrations/connector-templates/source-singer/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-scaffold-source-http/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-scaffold-source-python/integration_tests/configured_catalog.json
Labels: area/connectors

#5377 Fix segment analytics
  airbyte-webapp/src/views/common/AnalyticsInitializer.tsx
Labels: type/bug, area/frontend

#5352 🐛 Kube Pod Name Edge Case
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubeProcessFactory.java
  airbyte-workers/src/test/java/io/airbyte/workers/process/KubeProcessFactoryTest.java
Labels: area/worker

#5136 Source Github: Support syncing multiple repositories/organizations
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/ef69ef6e-aa7f-4af1-a01d-ef775033524e.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/acceptance-test-config.yml
  airbyte-integrations/connectors/source-github/integration_tests/small_streams_configured_catalog.json
  airbyte-integrations/connectors/source-github/source_github/schemas/assignees.json
  airbyte-integrations/connectors/source-github/source_github/schemas/collaborators.json
  airbyte-integrations/connectors/source-github/source_github/schemas/comments.json
  airbyte-integrations/connectors/source-github/source_github/schemas/commit_comments.json
  airbyte-integrations/connectors/source-github/source_github/schemas/commits.json
  airbyte-integrations/connectors/source-github/source_github/schemas/events.json
  airbyte-integrations/connectors/source-github/source_github/schemas/issue_events.json
  airbyte-integrations/connectors/source-github/source_github/schemas/issue_labels.json
  airbyte-integrations/connectors/source-github/source_github/schemas/issue_milestones.json
  airbyte-integrations/connectors/source-github/source_github/schemas/issues.json
  airbyte-integrations/connectors/source-github/source_github/schemas/projects.json
  airbyte-integrations/connectors/source-github/source_github/schemas/pull_requests.json
  airbyte-integrations/connectors/source-github/source_github/schemas/releases.json
  airbyte-integrations/connectors/source-github/source_github/schemas/reviews.json
  airbyte-integrations/connectors/source-github/source_github/schemas/stargazers.json
  airbyte-integrations/connectors/source-github/source_github/schemas/teams.json
  airbyte-integrations/connectors/source-github/source_github/source.py
  airbyte-integrations/connectors/source-github/source_github/spec.json
  airbyte-integrations/connectors/source-github/source_github/streams.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors

#5356 Convert debezium transaction timestamps data type
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/435bb9a5-7887-4809-aa58-28c27df0d7ad.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/b5ea17b1-f170-46dc-bc31-cc744ca984c1.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/decd338e-5647-4c0b-adf4-da0e75f5a750.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/DebeziumEventUtils.java
  airbyte-integrations/bases/debezium/src/test/resources/delete_message.json
  airbyte-integrations/bases/debezium/src/test/resources/insert_message.json
  airbyte-integrations/bases/debezium/src/test/resources/update_message.json
  airbyte-integrations/connectors/source-mssql/Dockerfile
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceTest.java
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/CdcMySqlSourceTest.java
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
Labels: area/connectors

#4911 🎉 New Source: Bing Ads
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/47f25999-dd5e-4636-8c39-e7cea2453331.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-bing-ads/.dockerignore
  airbyte-integrations/connectors/source-bing-ads/Dockerfile
  airbyte-integrations/connectors/source-bing-ads/README.md
  airbyte-integrations/connectors/source-bing-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-bing-ads/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-bing-ads/build.gradle
  airbyte-integrations/connectors/source-bing-ads/integration_tests/__init__.py
  airbyte-integrations/connectors/source-bing-ads/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-bing-ads/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-bing-ads/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-bing-ads/main.py
  airbyte-integrations/connectors/source-bing-ads/requirements.txt
  airbyte-integrations/connectors/source-bing-ads/setup.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/__init__.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/cache.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/client.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/accounts.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/ad_groups.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/ads.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/campaigns.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/source.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/spec.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_client.py
  docs/SUMMARY.md
  docs/integrations/sources/bing-ads.md
  tools/bin/ci_credentials.sh
Labels: area/documentation, area/connectors

#5409 Bump version: 0.29.5-alpha → 0.29.6-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend

#5410 Bump version: 0.29.6-alpha → 0.29.7-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend

#5073 🎉 New Source: short.io
  airbyte-integrations/connectors/source-shortio/.dockerignore
  airbyte-integrations/connectors/source-shortio/Dockerfile
  airbyte-integrations/connectors/source-shortio/README.md
  airbyte-integrations/connectors/source-shortio/acceptance-test-config.yml
  airbyte-integrations/connectors/source-shortio/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-shortio/build.gradle
  airbyte-integrations/connectors/source-shortio/integration_tests/__init__.py
  airbyte-integrations/connectors/source-shortio/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-shortio/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-shortio/integration_tests/catalog.json
  airbyte-integrations/connectors/source-shortio/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-shortio/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-shortio/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-shortio/integration_tests/state.json
  airbyte-integrations/connectors/source-shortio/main.py
  airbyte-integrations/connectors/source-shortio/requirements.txt
  airbyte-integrations/connectors/source-shortio/setup.py
  airbyte-integrations/connectors/source-shortio/source_shortio/__init__.py
  airbyte-integrations/connectors/source-shortio/source_shortio/schemas/clicks.json
  airbyte-integrations/connectors/source-shortio/source_shortio/schemas/links.json
  airbyte-integrations/connectors/source-shortio/source_shortio/source.py
  airbyte-integrations/connectors/source-shortio/source_shortio/spec.json
  airbyte-integrations/connectors/source-shortio/unit_tests/unit_test.py
Labels: area/connectors, community_pr

#5418 Various shortio connector cleanups.
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-integrations/connectors/source-hubspot/source_hubspot/api.py
  airbyte-integrations/connectors/source-shortio/acceptance-test-config.yml
  airbyte-integrations/connectors/source-shortio/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-shortio/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-shortio/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-shortio/integration_tests/state.json
  airbyte-integrations/connectors/source-shortio/source_shortio/schemas/links.json
  airbyte-integrations/connectors/source-shortio/source_shortio/source.py
  tools/bin/ci_credentials.sh
Labels: area/connectors

#5378 Add custom dbt as feature
  airbyte-webapp/src/App.tsx
  airbyte-webapp/src/core/request/useRequestMiddlewareProvider.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/ConnectionForm.tsx
Labels: area/frontend

#5379 fix value extraction from JSON in source comprehensive test
  airbyte-integrations/connectors/source-bigquery/src/test-integration/java/io/airbyte/integrations/source/bigquery/BigQuerySourceComprehensiveTest.java
Labels: area/connectors

#5451 Bump version: 0.29.7-alpha → 0.29.8-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend

#5421 🎉 Source Chargebee: expand endpoint support
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/686473f1-76d9-4994-9cc7-9b13da46147c.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-chargebee/Dockerfile
  airbyte-integrations/connectors/source-chargebee/acceptance-test-config.yml
  airbyte-integrations/connectors/source-chargebee/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-chargebee/integration_tests/future_state.json
  airbyte-integrations/connectors/source-chargebee/integration_tests/product_catalog_v2_configured_catalog.json
  airbyte-integrations/connectors/source-chargebee/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/attached_item.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/customer.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/item.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/item_price.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/order.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/subscription.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/source.py
  airbyte-integrations/connectors/source-chargebee/source_chargebee/streams.py
  docs/integrations/sources/chargebee.md
Labels: area/documentation, area/connectors

#5433 BigQuery normalization: make credentials json optional
  airbyte-integrations/bases/base-normalization/Dockerfile
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_primary_key_streams/dbt_schema_tests/schema_test.yml
  airbyte-integrations/bases/base-normalization/normalization/transform_config/transform.py
  airbyte-integrations/bases/base-normalization/unit_tests/test_transform_config.py
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/resources/spec.json
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/DefaultNormalizationRunner.java
  docs/understanding-airbyte/basic-normalization.md
Labels: area/documentation, area/connectors, area/worker, normalization

#5076 Refactor dbt transformation entrypoint script
  airbyte-workers/src/main/resources/dbt_transformation_entrypoint.sh
Labels: area/worker

#5389 fix DATETIME data type handling in mysql cdc
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/435bb9a5-7887-4809-aa58-28c27df0d7ad.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/MySQLDateTimeConverter.java
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlCdcProperties.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/source/mysql/CdcMySqlSourceComprehensiveTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/source/mysql/MySqlSourceComprehensiveTest.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/CdcMySqlSourceTest.java
Labels: area/connectors

#5398 🎉 JAVA-Based connectors: Bumped version for some javabased connector to start using Config Validator from core module
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/356668e2-7e34-47f3-a3b0-67a8a481b692.json
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/4816b78f-1489-44c1-9060-4b19d5fa9362.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/447e0381-3780-4b46-bb62-00a4e3c8b8e2.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/9fa5862c-da7c-11eb-8d19-0242ac130003.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/b39a7370-74c3-45a6-ac3a-380d48520a83.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/bad83517-5e54-4a3d-9b53-63e85fbd4d7c.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e2d65910-8c8b-40a1-ae7d-ee2416b2bfa2.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e87ffa8e-a3b5-f69c-9076-6011339de1f6.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/destination-pubsub/Dockerfile
  airbyte-integrations/connectors/destination-s3/Dockerfile
  airbyte-integrations/connectors/source-clickhouse/Dockerfile
  airbyte-integrations/connectors/source-cockroachdb/Dockerfile
  airbyte-integrations/connectors/source-db2/Dockerfile
  airbyte-integrations/connectors/source-oracle/Dockerfile
  airbyte-integrations/connectors/source-redshift/Dockerfile
  airbyte-integrations/connectors/source-snowflake/Dockerfile
  docs/integrations/destinations/pubsub.md
  docs/integrations/destinations/s3.md
  docs/integrations/sources/clickhouse.md
  docs/integrations/sources/cockroachdb.md
  docs/integrations/sources/db2.md
  docs/integrations/sources/mssql.md
  docs/integrations/sources/oracle.md
  docs/integrations/sources/postgres.md
  docs/integrations/sources/redshift.md
  docs/integrations/sources/snowflake.md
Labels: area/documentation, area/connectors

#5339 🎉 New Destination: Keen
  airbyte-integrations/connectors/destination-keen/.dockerignore
  airbyte-integrations/connectors/destination-keen/Dockerfile
  airbyte-integrations/connectors/destination-keen/build.gradle
  airbyte-integrations/connectors/destination-keen/src/main/java/io/airbyte/integrations/destination/keen/KeenCharactersStripper.java
  airbyte-integrations/connectors/destination-keen/src/main/java/io/airbyte/integrations/destination/keen/KeenDestination.java
  airbyte-integrations/connectors/destination-keen/src/main/java/io/airbyte/integrations/destination/keen/KeenHttpClient.java
  airbyte-integrations/connectors/destination-keen/src/main/java/io/airbyte/integrations/destination/keen/KeenRecordsConsumer.java
  airbyte-integrations/connectors/destination-keen/src/main/java/io/airbyte/integrations/destination/keen/KeenTimestampService.java
  airbyte-integrations/connectors/destination-keen/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-keen/src/test-integration/java/io/airbyte/integrations/destination/keen/KeenDestinationTest.java
  airbyte-integrations/connectors/destination-keen/src/test/java/KeenTimestampServiceTest.java
  airbyte-integrations/connectors/destination-keen/src/test/resources/cursors_catalog.json
  airbyte-integrations/connectors/destination-keen/src/test/resources/nested_cursor_catalog.json
  airbyte-integrations/connectors/destination-keen/src/test/resources/number_cursor_catalog.json
  airbyte-integrations/connectors/destination-keen/src/test/resources/string_cursor_catalog.json
  docs/SUMMARY.md
  docs/integrations/destinations/keen.md
Labels: area/documentation, area/connectors

#5450 Sherif/publish pr 5339
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/81740ce8-d764-4ea7-94df-16bb41de36ae.json
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/8aaf41d0-f6d2-46de-9e79-c9540f828142.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/destination-keen/src/test-integration/java/io/airbyte/integrations/destination/keen/KeenDestinationTest.java
  docs/SUMMARY.md
  docs/integrations/README.md
  tools/bin/ci_credentials.sh
Labels: area/documentation, area/connectors

#5476 Source Zendesk: correct field unread to boolean
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/40d24d0f-b8f9-4fe0-9e6c-b06c0f3f45e4.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-zendesk-chat/Dockerfile
  airbyte-integrations/connectors/source-zendesk-chat/source_zendesk_chat/schemas/chats.json
  docs/integrations/sources/zendesk-chat.md
Labels: area/documentation, area/connectors

#5463 🐛 📚 Source Hubspot: Fix fail on reading stream using `API Key` without required permissions
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/36c891d9-4bd9-43ac-bad2-10e12756272c.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/source_hubspot/api.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_client.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors

#5490 Bump version: 0.29.8-alpha → 0.29.9-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend

#5456 🐛 Source Github: Fix set up validation
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/ef69ef6e-aa7f-4af1-a01d-ef775033524e.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/source_github/source.py
  airbyte-integrations/connectors/source-github/source_github/spec.json
  airbyte-integrations/connectors/source-github/source_github/streams.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors

#5492 Update beginners-guide-to-catalog.md
  docs/understanding-airbyte/beginners-guide-to-catalog.md
Labels: area/documentation, community_pr

#5431 remove command fetcher
  airbyte-workers/build.gradle
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubeProcessFactory.java
  airbyte-workers/src/main/resources/entrypoints/main.sh
  airbyte-workers/src/test-integration/java/io/airbyte/workers/process/KubePodProcessIntegrationTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/process/KubePodProcessTest.java
Labels: area/worker

#5497 🎉 Add shortio to the source_definitions.yaml with documentation.
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  docs/integrations/README.md
  docs/integrations/sources/shortio.md
Labels: area/documentation

#5452 Improve Apify dataset source docs
  docs/.gitbook/assets/apify_trigger_airbyte_connection.png
  docs/integrations/sources/apify-dataset.md
Labels: area/documentation

#5423 🎉 Added UserLocationReport to Google Ads
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/source_google_ads/google_ads.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/user_location_report.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
Labels: area/connectors, community_pr

#5500 Bump Google Ads contributor code
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/253487c0-2246-43ba-a21f-5116b20a2c50.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/user_location_report.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors

#5422 🐛 Fix issue 5411: Connector skipping dates
  airbyte-integrations/connectors/source-google-ads/source_google_ads/google_ads.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_google_ads.py
Labels: area/connectors, community_pr

#5508 Add Patch notes through 0.29.9
  docs/project-overview/changelog/platform.md
Labels: area/documentation

#5510 8/9/2021 Connector Patch Notes
  docs/project-overview/changelog/connectors.md
Labels: area/documentation

#5512 8/18/2021 Connector Patch notes
  docs/project-overview/changelog/connectors.md
Labels: area/documentation

#5481 Source Mailchimp: correct output schema to handle date-time values
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/b03a9f3e-22a5-11eb-adc1-0242ac120002.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-mailchimp/Dockerfile
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/campaigns.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/lists.json
  docs/integrations/sources/mailchimp.md
Labels: area/documentation, area/connectors

#5509 Source Google Ads: enable additional params spec.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/253487c0-2246-43ba-a21f-5116b20a2c50.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/destination-keen/src/main/java/io/airbyte/integrations/destination/keen/KeenCharactersStripper.java
  airbyte-integrations/connectors/destination-keen/src/main/java/io/airbyte/integrations/destination/keen/KeenDestination.java
  airbyte-integrations/connectors/destination-keen/src/main/java/io/airbyte/integrations/destination/keen/KeenHttpClient.java
  airbyte-integrations/connectors/destination-keen/src/main/java/io/airbyte/integrations/destination/keen/KeenRecordsConsumer.java
  airbyte-integrations/connectors/destination-keen/src/main/java/io/airbyte/integrations/destination/keen/KeenTimestampService.java
  airbyte-integrations/connectors/destination-keen/src/test-integration/java/io/airbyte/integrations/destination/keen/KeenDestinationTest.java
  airbyte-integrations/connectors/destination-keen/src/test/java/KeenTimestampServiceTest.java
  airbyte-integrations/connectors/destination-keen/src/test/resources/cursors_catalog.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/streams.py
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/setup.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/user_location_report.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/spec.json
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_google_ads.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors

#5223 🎉 Source Github: Add MultipleTokenAuthenticator
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/README.md
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/auth/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/auth/token.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/streams/http/auth/test_auth.py
  airbyte-integrations/connectors/source-github/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-github/source_github/source.py
  airbyte-integrations/connectors/source-github/source_github/spec.json
  airbyte-integrations/connectors/source-github/unit_tests/unit_test.py
  docs/connector-development/cdk-python/README.md
Labels: area/documentation, area/connectors, CDK

#5519 Source Github: bump version, update changelog
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/ef69ef6e-aa7f-4af1-a01d-ef775033524e.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-github/Dockerfile
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors

#5457 4776: Python CDK: Validate input config.py against spec
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/destinations/destination.py
  airbyte-cdk/python/airbyte_cdk/entrypoint.py
  airbyte-cdk/python/airbyte_cdk/sources/utils/schema_helpers.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/destinations/test_destination.py
  airbyte-cdk/python/unit_tests/sources/streams/http/test_http.py
  airbyte-cdk/python/unit_tests/test_entrypoint.py
Labels: CDK

#5528 Remove BQ_keyfile.json mentions in normalization
  airbyte-integrations/bases/base-normalization/Dockerfile
  airbyte-integrations/bases/base-normalization/normalization/transform_config/transform.py
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/DefaultNormalizationRunner.java
Labels: area/worker, normalization

#5532 Bump version: 0.29.9-alpha → 0.29.10-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend

#5544 Fix documentation links
  airbyte-integrations/connectors/source-bing-ads/README.md
  airbyte-integrations/connectors/source-mssql/acceptance-test-config.yml
  airbyte-integrations/connectors/source-postgres/acceptance-test-config.yml
  airbyte-integrations/connectors/source-quickbooks-singer/acceptance-test-config.yml
  airbyte-integrations/connectors/source-shortio/README.md
  airbyte-integrations/connectors/source-shortio/acceptance-test-config.yml
  docs/project-overview/changelog/connectors.md
Labels: area/documentation, area/connectors

#4329 🎉 New Destination: Google Cloud Storage
  .gitignore
  airbyte-integrations/connectors/destination-gcs/readme.md
  airbyte-integrations/connectors/destination-gcs/src/main/java/io/airbyte/integrations/destination/gcs/avro/GcsAvroWriter.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/gcs/GcsConfig.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/gcs/GcsStreamCopier.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/gcs/GcsStreamCopierFactory.java
  gradlew
Labels: area/connectors, community_pr

#5545 Revert placeholder PR
  .gitignore
  airbyte-integrations/connectors/destination-gcs/readme.md
  airbyte-integrations/connectors/destination-gcs/src/main/java/io/airbyte/integrations/destination/gcs/avro/GcsAvroWriter.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/gcs/GcsConfig.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/gcs/GcsStreamCopier.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/gcs/GcsStreamCopierFactory.java
  gradlew
Labels: area/connectors

#5484 Deprecate server uuid
  airbyte-db/src/main/java/io/airbyte/db/ServerUuid.java
  airbyte-db/src/main/resources/jobs_database/schema.sql
  airbyte-db/src/test/java/io/airbyte/db/TestServerUuid.java
  docs/SUMMARY.md
Labels: area/documentation

#5552 Correct format in CI running
  airbyte-cdk/python/airbyte_cdk/sources/utils/schema_helpers.py
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_primary_key_streams/data_input/catalog.json
  airbyte-integrations/bases/base-normalization/normalization/transform_catalog/stream_processor.py
  airbyte-integrations/connectors/source-github/source_github/source.py
Labels: area/connectors, normalization, CDK

#5560 Bump version: 0.29.10-alpha → 0.29.11-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend

#5531 🐛 Source Intercom: Fixed pagination issue
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/d8313939-3782-41b0-be29-b3ca20d8dd3a.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-intercom/Dockerfile
  airbyte-integrations/connectors/source-intercom/setup.py
  airbyte-integrations/connectors/source-intercom/source_intercom/source.py
  airbyte-integrations/connectors/source-intercom/unit_tests/unit_test.py
  docs/integrations/sources/intercom.md
Labels: area/documentation, area/connectors

#5572 📚 Update spree-commerce.md
  docs/integrations/sources/spree-commerce.md
Labels: area/documentation, community_pr

#5297 :tada: Set max_sync_timeout in days by env vars
  .env
  .env.dev
  airbyte-config/models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/SyncWorkflow.java
  docker-compose.yaml
Labels: area/worker, community_pr

#5570 🔪 Get rid of retries within an attempt.
  .env
  .env.dev
  airbyte-config/models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/RetryingTemporalAttemptExecution.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/SyncWorkflow.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/RetryingTemporalAttemptExecutionTest.java
  docker-compose.yaml
Labels: area/worker

#5582 :tada: Source Cart.com: add order_items stream
  airbyte-integrations/connectors/source-cart/Dockerfile
  airbyte-integrations/connectors/source-cart/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-cart/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-cart/source_cart/schemas/order_items.json
  airbyte-integrations/connectors/source-cart/source_cart/source.py
  airbyte-integrations/connectors/source-cart/source_cart/spec.json
  airbyte-integrations/connectors/source-cart/source_cart/streams.py
  airbyte-integrations/connectors/source-intercom/unit_tests/unit_test.py
  docs/integrations/sources/cart.md
Labels: area/documentation, area/connectors

#5542 Destination Oracle: change table limit and format record data
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/3986776d-2319-4de9-8af8-db14c0996e72.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/connectors/destination-oracle/Dockerfile
  airbyte-integrations/connectors/destination-oracle/build.gradle
  airbyte-integrations/connectors/destination-oracle/src/main/java/io/airbyte/integrations/destination/oracle/OracleNameTransformer.java
  airbyte-integrations/connectors/destination-oracle/src/main/java/io/airbyte/integrations/destination/oracle/OracleOperations.java
  airbyte-integrations/connectors/destination-oracle/src/test-integration/java/io/airbyte/integrations/destination/oracle/OracleIntegrationTest.java
  docs/integrations/destinations/oracle.md
Labels: area/documentation, area/connectors

#5588 Add missing import statement.
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/SyncWorkflow.java
Labels: area/worker

#5589 Bump version: 0.29.11-alpha → 0.29.12-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend

#5470 🐛 Source Shopify: Fixed rate limits throttling
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/9da77001-af33-4bcd-be46-6252bf9342b9.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-shopify/Dockerfile
  airbyte-integrations/connectors/source-shopify/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/TODO.md
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/custom_collections.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/draft_orders.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/order_refunds.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/orders.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/transactions.json
  airbyte-integrations/connectors/source-shopify/source_shopify/source.py
  airbyte-integrations/connectors/source-shopify/source_shopify/utils.py
  airbyte-integrations/connectors/source-shopify/unit_tests/test_control_rate_limit.py
  airbyte-integrations/connectors/source-shopify/unit_tests/unit_test.py
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors

#5535 remove 5s wait for kube pod processes
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
Labels: area/worker

#5538 use ram disk for kubernetes process config mounts
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
Labels: area/worker

#5593 🐛 Add regex to log4j to mask any apikey=<secret_key> strings.
  airbyte-commons/src/main/resources/log4j2.xml
  airbyte-workers/src/test/java/io/airbyte/workers/DefaultReplicationWorkerTest.java
Labels: area/worker

#5596 Jamakase/update styles
  airbyte-webapp/src/components/ConnectionBlock/ConnectionBlock.tsx
  airbyte-webapp/src/components/ContentCard/ContentCard.tsx
  airbyte-webapp/src/components/EntityTable/components/SortButton.tsx
  airbyte-webapp/src/components/JobItem/components/MainInfo.tsx
  airbyte-webapp/src/components/LoadingPage/LoadingPage.tsx
  airbyte-webapp/src/components/StatusIcon/StatusIcon.tsx
  airbyte-webapp/src/components/Table/Table.tsx
  airbyte-webapp/src/components/base/Toggle/Toggle.tsx
  airbyte-webapp/src/config/index.ts
  airbyte-webapp/src/packages/cloud/locales/en.json
  airbyte-webapp/src/packages/cloud/theme.ts
  airbyte-webapp/src/packages/cloud/views/auth/LoginPage/LoginPage.tsx
  airbyte-webapp/src/packages/cloud/views/auth/SignupPage/SignupPage.tsx
  airbyte-webapp/src/packages/cloud/views/auth/components/CheckBoxControl.tsx
  airbyte-webapp/src/packages/cloud/views/layout/SideBar/SideBar.tsx
  airbyte-webapp/src/packages/cloud/views/layout/SideBar/components/ConnectionsIcon.tsx
  airbyte-webapp/src/packages/cloud/views/layout/SideBar/components/DestinationIcon.tsx
  airbyte-webapp/src/packages/cloud/views/layout/SideBar/components/SourceIcon.tsx
  airbyte-webapp/src/packages/cloud/views/users/InviteUsersModal/InviteUsersModal.tsx
  airbyte-webapp/src/packages/cloud/views/workspaces/WorkspacePopout/WorkspacePopout.tsx
  airbyte-webapp/src/packages/cloud/views/workspaces/WorkspacePopout/components/ExitIcon.tsx
  airbyte-webapp/src/packages/cloud/views/workspaces/WorkspacesPage/components/WorkspacesList.tsx
  airbyte-webapp/src/theme.ts
  airbyte-webapp/src/views/layout/SideBar/components/ConnectionsIcon.tsx
  airbyte-webapp/src/views/layout/SideBar/components/DestinationIcon.tsx
  airbyte-webapp/src/views/layout/SideBar/components/SourceIcon.tsx
Labels: area/frontend

#4630 Scaling Airbyte document.
  docs/SUMMARY.md
  docs/deploying-airbyte/on-kubernetes.md
  docs/operator-guides/scaling-airbyte.md
Labels: area/documentation

#5585 🍾 Add env based toleration to scheduled pods.
  airbyte-config/models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-config/models/src/main/java/io/airbyte/config/WorkerPodToleration.java
  airbyte-config/models/src/test/java/io/airbyte/config/EnvConfigsTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerUtils.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubeProcessFactory.java
Labels: area/worker, community_pr

#5607 🍾 Update scaling doc. Add question on long running discover schema.
  docs/faq/data-loading.md
  docs/faq/getting-started.md
  docs/operator-guides/scaling-airbyte.md
Labels: area/documentation

#5608 Format + Buff up log regex to handle dashes as well.
  airbyte-commons/src/main/resources/log4j2.xml
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-config/models/src/main/java/io/airbyte/config/WorkerPodToleration.java
  airbyte-config/models/src/test/java/io/airbyte/config/EnvConfigsTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
  airbyte-workers/src/test/java/io/airbyte/workers/DefaultReplicationWorkerTest.java
Labels: area/worker

#5363 🎉 Python CDK: Allow to ignore http status errors and override retry parameters
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/http.py
  airbyte-cdk/python/docs/tutorials/cdk-tutorial-python-http/6-read-data.md
  airbyte-cdk/python/docs/tutorials/http_api_source.md
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/streams/http/test_http.py
  airbyte-integrations/bases/base-python/docs/tutorials/http_api_source.md
  docs/connector-development/tutorials/cdk-tutorial-python-http/6-read-data.md
Labels: area/documentation, CDK

#5501 🎉 New Source: Trello
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/8da67652-004c-11ec-9a03-0242ac130003.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-trello/.dockerignore
  airbyte-integrations/connectors/source-trello/Dockerfile
  airbyte-integrations/connectors/source-trello/README.md
  airbyte-integrations/connectors/source-trello/acceptance-test-config.yml
  airbyte-integrations/connectors/source-trello/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-trello/build.gradle
  airbyte-integrations/connectors/source-trello/integration_tests/__init__.py
  airbyte-integrations/connectors/source-trello/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-trello/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-trello/integration_tests/catalog.json
  airbyte-integrations/connectors/source-trello/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-trello/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-trello/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-trello/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-trello/main.py
  airbyte-integrations/connectors/source-trello/requirements.txt
  airbyte-integrations/connectors/source-trello/setup.py
  airbyte-integrations/connectors/source-trello/source_trello/__init__.py
  airbyte-integrations/connectors/source-trello/source_trello/schemas/actions.json
  airbyte-integrations/connectors/source-trello/source_trello/schemas/boards.json
  airbyte-integrations/connectors/source-trello/source_trello/schemas/cards.json
  airbyte-integrations/connectors/source-trello/source_trello/schemas/checklists.json
  airbyte-integrations/connectors/source-trello/source_trello/schemas/lists.json
  airbyte-integrations/connectors/source-trello/source_trello/schemas/users.json
  airbyte-integrations/connectors/source-trello/source_trello/source.py
  airbyte-integrations/connectors/source-trello/source_trello/spec.json
  airbyte-integrations/connectors/source-trello/source_trello/utils.py
  airbyte-integrations/connectors/source-trello/unit_tests/__init__.py
  airbyte-integrations/connectors/source-trello/unit_tests/conftest.py
  airbyte-integrations/connectors/source-trello/unit_tests/test_control_rate_limit.py
  airbyte-integrations/connectors/source-trello/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-trello/unit_tests/test_source.py
  airbyte-integrations/connectors/source-trello/unit_tests/test_streams.py
  docs/SUMMARY.md
  docs/integrations/README.md
  docs/integrations/sources/trello.md
  tools/bin/ci_credentials.sh
Labels: area/documentation, area/connectors

#5543 Integrate database with Flyway and jOOQ
  .env
  airbyte-api/src/main/java/io/airbyte/api/client/AirbyteApiClient.java
  airbyte-api/src/main/openapi/config.yaml
  airbyte-commons/src/main/java/io/airbyte/commons/version/AirbyteVersion.java
  airbyte-config/models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/ConfigPersistenceBuilder.java
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/ConfigSeedProvider.java
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/DatabaseConfigPersistence.java
  airbyte-config/persistence/src/test/java/io/airbyte/config/persistence/ConfigPersistenceBuilderTest.java
  airbyte-db/README.md
  airbyte-db/build.gradle
  airbyte-db/src/main/java/io/airbyte/db/Database.java
  airbyte-db/src/main/java/io/airbyte/db/instance/BaseDatabaseInstance.java
  airbyte-db/src/main/java/io/airbyte/db/instance/DatabaseMigrator.java
  airbyte-db/src/main/java/io/airbyte/db/instance/FlywayDatabaseMigrator.java
  airbyte-db/src/main/java/io/airbyte/db/instance/FlywayMigrationDatabase.java
  airbyte-db/src/main/java/io/airbyte/db/instance/configs/ConfigsDatabaseMigrator.java
  airbyte-db/src/main/java/io/airbyte/db/instance/configs/ConfigsFlywayMigrationDatabase.java
  airbyte-db/src/main/java/io/airbyte/db/instance/jobs/JobsDatabaseMigrator.java
  airbyte-db/src/main/java/io/airbyte/db/instance/jobs/JobsFlywayMigrationDatabase.java
  airbyte-db/src/main/resources/configs_database/schema_dump.txt
  airbyte-db/src/main/resources/jobs_database/schema_dump.txt
  airbyte-db/src/test/java/io/airbyte/db/instance/AbstractDatabaseTest.java
  airbyte-db/src/test/java/io/airbyte/db/instance/configs/AbstractConfigsDatabaseTest.java
  airbyte-db/src/test/java/io/airbyte/db/instance/configs/ConfigsDatabaseInstanceTest.java
  airbyte-db/src/test/java/io/airbyte/db/instance/development/DevDatabaseMigrator.java
  airbyte-db/src/test/java/io/airbyte/db/instance/development/FlywayFormatter.java
  airbyte-db/src/test/java/io/airbyte/db/instance/development/MigrationDevHelper.java
  airbyte-db/src/test/java/io/airbyte/db/instance/development/MigrationDevHelperTest.java
  airbyte-db/src/test/java/io/airbyte/db/instance/jobs/AbstractJobsDatabaseTest.java
  airbyte-db/src/test/java/io/airbyte/db/instance/jobs/JobsDatabaseInstanceTest.java
  airbyte-db/src/test/java/io/airbyte/db/instance/toys/AbstractToysDatabaseTest.java
  airbyte-db/src/test/java/io/airbyte/db/instance/toys/ToysDatabaseInstance.java
  airbyte-db/src/test/java/io/airbyte/db/instance/toys/ToysDatabaseMigrator.java
  airbyte-db/src/test/java/io/airbyte/db/instance/toys/ToysDatabaseMigratorTest.java
  airbyte-db/src/test/java/io/airbyte/db/instance/toys/migrations/V0_30_4_001__Add_timestamp_columns.java
  airbyte-db/src/test/java/io/airbyte/db/instance/toys/migrations/V0_30_4_002__Remove_updated_at_column.java
  airbyte-db/src/test/resources/migration_template.txt
  airbyte-db/src/test/resources/toys_database/pre_migration_schema.txt
  airbyte-db/src/test/resources/toys_database/schema.sql
  airbyte-db/src/test/resources/toys_database/schema_dump.txt
  airbyte-scheduler/app/build.gradle
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/SchedulerApp.java
  airbyte-server/build.gradle
  airbyte-server/src/main/java/io/airbyte/server/ConfigurationApiFactory.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/main/java/io/airbyte/server/ServerFactory.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/DbMigrationHandler.java
  docker-compose.yaml
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api, area/core

#5620 Add kube resource limit to minio and pod-sweeper
  kube/overlays/stable-with-resource-limits/set-resource-limits.yaml
Labels: community_pr

#5717 Bump version: 0.29.12-alpha → 0.29.13-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend

#5680 Add Bing Ads to connector grading table
  docs/integrations/README.md
  docs/integrations/sources/shortio.md
Labels: area/documentation

#5686 Add Faros AI CDK information to CDK docs
  docs/connector-development/README.md
  docs/connector-development/cdk-faros-js/README.md
Labels: area/documentation

#5690 Add note to source-file about changing the parsed data type(s)
  docs/integrations/sources/file.md
Labels: area/documentation

#5521 New source connector bigcommerce
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/59c5501b-9f95-411e-9269-7143c939adbd.json
  airbyte-config/init/src/main/resources/icons/bigcommerce.svg
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-bigcommerce/.dockerignore
  airbyte-integrations/connectors/source-bigcommerce/Dockerfile
  airbyte-integrations/connectors/source-bigcommerce/README.md
  airbyte-integrations/connectors/source-bigcommerce/acceptance-test-config.yml
  airbyte-integrations/connectors/source-bigcommerce/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-bigcommerce/build.gradle
  airbyte-integrations/connectors/source-bigcommerce/integration_tests/__init__.py
  airbyte-integrations/connectors/source-bigcommerce/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-bigcommerce/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-bigcommerce/integration_tests/catalog.json
  airbyte-integrations/connectors/source-bigcommerce/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-bigcommerce/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-bigcommerce/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-bigcommerce/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-bigcommerce/main.py
  airbyte-integrations/connectors/source-bigcommerce/requirements.txt
  airbyte-integrations/connectors/source-bigcommerce/setup.py
  airbyte-integrations/connectors/source-bigcommerce/source_bigcommerce/__init__.py
  airbyte-integrations/connectors/source-bigcommerce/source_bigcommerce/schemas/customers.json
  airbyte-integrations/connectors/source-bigcommerce/source_bigcommerce/schemas/orders.json
  airbyte-integrations/connectors/source-bigcommerce/source_bigcommerce/schemas/pages.json
  airbyte-integrations/connectors/source-bigcommerce/source_bigcommerce/schemas/shared/meta.json
  airbyte-integrations/connectors/source-bigcommerce/source_bigcommerce/schemas/transactions.json
  airbyte-integrations/connectors/source-bigcommerce/source_bigcommerce/source.py
  airbyte-integrations/connectors/source-bigcommerce/source_bigcommerce/spec.json
  airbyte-integrations/connectors/source-bigcommerce/unit_tests/unit_test.py
  docs/integrations/sources/bigcommerce.md
Labels: area/documentation, area/connectors, community_pr

#5722 Publish source bigcommerce
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/59c5501b-9f95-411e-9269-7143c939adbd.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-bamboo-hr/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-bamboo-hr/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-bigcommerce/acceptance-test-config.yml
  airbyte-integrations/connectors/source-bigcommerce/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-bigcommerce/integration_tests/catalog.json
  airbyte-integrations/connectors/source-bigcommerce/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-bigcommerce/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-bigcommerce/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-bigcommerce/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-bigcommerce/source_bigcommerce/schemas/customers.json
  airbyte-integrations/connectors/source-bigcommerce/source_bigcommerce/schemas/orders.json
  airbyte-integrations/connectors/source-bigcommerce/source_bigcommerce/schemas/pages.json
  airbyte-integrations/connectors/source-bigcommerce/source_bigcommerce/schemas/shared/meta.json
  airbyte-integrations/connectors/source-bigcommerce/source_bigcommerce/schemas/transactions.json
  airbyte-integrations/connectors/source-bigcommerce/source_bigcommerce/source.py
  airbyte-integrations/connectors/source-bigcommerce/source_bigcommerce/spec.json
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/AbstractRelationalDbSource.java
  docs/SUMMARY.md
  docs/integrations/README.md
  tools/bin/ci_credentials.sh
Labels: area/documentation, area/connectors

#5332 🎉 Destination Azure blob storage: introduced new connector with jsonl and csv formats
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/b4c5d105-31fd-4817-96b6-cb923bfc04cb.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/destination-azure-blob-storage/.dockerignore
  airbyte-integrations/connectors/destination-azure-blob-storage/Dockerfile
  airbyte-integrations/connectors/destination-azure-blob-storage/README.md
  airbyte-integrations/connectors/destination-azure-blob-storage/build.gradle
  airbyte-integrations/connectors/destination-azure-blob-storage/sample_secrets/config.json
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageConnectionChecker.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageConsumer.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageDestination.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageDestinationConfig.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageDestinationConstants.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageFormat.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageFormatConfig.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageFormatConfigs.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/csv/AzureBlobStorageCsvFormatConfig.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/csv/AzureBlobStorageCsvWriter.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/csv/BaseSheetGenerator.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/csv/CsvSheetGenerator.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/csv/NoFlatteningSheetGenerator.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/csv/RootLevelFlatteningSheetGenerator.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/jsonl/AzureBlobStorageJsonlFormatConfig.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/jsonl/AzureBlobStorageJsonlWriter.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/writer/AzureBlobStorageWriter.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/writer/AzureBlobStorageWriterFactory.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/writer/BaseAzureBlobStorageWriter.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/writer/ProductionWriterFactory.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageCsvDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageJsonlDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobDestinationTest.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageFormatConfigsTest.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test/java/io/airbyte/integrations/destination/azure_blob_storage/csv/AzureBlobStorageCsvFormatConfigTest.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test/java/io/airbyte/integrations/destination/azure_blob_storage/csv/NoFlatteningSheetGeneratorTest.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test/java/io/airbyte/integrations/destination/azure_blob_storage/csv/RootLevelFlatteningSheetGeneratorTest.java
  docs/SUMMARY.md
  docs/integrations/README.md
  docs/integrations/destinations/azureblobstorage.md
  tools/bin/ci_credentials.sh
Labels: area/documentation, area/connectors

#5598 Lightweight export/import of configurations scoped by workspace Id
  airbyte-api/src/main/openapi/config.yaml
  airbyte-server/src/main/java/io/airbyte/server/ConfigDumpExporter.java
  airbyte-server/src/main/java/io/airbyte/server/ConfigDumpImporter.java
  airbyte-server/src/main/java/io/airbyte/server/RunMigration.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/ArchiveHandler.java
  airbyte-server/src/test/java/io/airbyte/server/ConfigDumpImporterTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/ArchiveHandlerTest.java
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api, area/core

#5600 remove sleep logic when the queue is full from CDC
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/DebeziumRecordIterator.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/DebeziumRecordPublisher.java
  airbyte-integrations/connectors/source-mssql/Dockerfile
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
Labels: area/connectors

#5336 🐛 Destination Postgres: fix \u0000(NULL) value processing
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/25c5221d-dce2-4163-ade9-739ef790f503.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination/buffered_stream_consumer/BufferedStreamConsumer.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination/buffered_stream_consumer/StreamDateFormatter.java
  airbyte-integrations/bases/base-java/src/test/java/io/airbyte/integrations/destination/buffered_stream_consumer/BufferedStreamConsumerTest.java
  airbyte-integrations/connectors/destination-jdbc/build.gradle
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/DataAdapter.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/JdbcSqlOperations.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/SqlOperations.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/CopyConsumerFactory.java
  airbyte-integrations/connectors/destination-jdbc/src/test/java/io/airbyte/integrations/destination/jdbc/DataAdapterTest.java
  airbyte-integrations/connectors/destination-jdbc/src/test/java/io/airbyte/integrations/destination/jdbc/SqlOperationsUtilsTest.java
  airbyte-integrations/connectors/destination-jdbc/src/test/java/io/airbyte/integrations/destination/jdbc/TestJdbcSqlOperations.java
  airbyte-integrations/connectors/destination-mssql/src/main/java/io/airbyte/integrations/destination/mssql/SqlServerOperations.java
  airbyte-integrations/connectors/destination-mysql/src/main/java/io/airbyte/integrations/destination/mysql/MySQLSqlOperations.java
  airbyte-integrations/connectors/destination-oracle/src/main/java/io/airbyte/integrations/destination/oracle/OracleOperations.java
  airbyte-integrations/connectors/destination-postgres/Dockerfile
  airbyte-integrations/connectors/destination-postgres/build.gradle
  airbyte-integrations/connectors/destination-postgres/src/main/java/io/airbyte/integrations/destination/postgres/PostgresDataAdapter.java
  airbyte-integrations/connectors/destination-postgres/src/main/java/io/airbyte/integrations/destination/postgres/PostgresDestination.java
  airbyte-integrations/connectors/destination-postgres/src/main/java/io/airbyte/integrations/destination/postgres/PostgresSqlOperations.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftSqlOperations.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeSqlOperations.java
  docs/integrations/destinations/postgres.md
Labels: area/documentation, area/connectors

#5726 Source GitHub: use new repo for SAT tests
  airbyte-integrations/connectors/source-github/acceptance-test-config.yml
  airbyte-integrations/connectors/source-github/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-github/integration_tests/incremental_configured_catalog.json
  airbyte-integrations/connectors/source-github/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-github/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-github/integration_tests/small_streams_configured_catalog.json
  airbyte-integrations/connectors/source-github/integration_tests/too_large_streams_configured_catalog.json
Labels: area/connectors

#5700 Add API endpoint to complete oauth
  airbyte-api/src/main/openapi/config.yaml
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/OAuthHandler.java
Labels: area/api, area/core

#5701 Harvest normalization failure: fixing the schemas
  airbyte-integrations/connectors/source-harvest/source_harvest/schemas/estimate_messages.json
  airbyte-integrations/connectors/source-harvest/source_harvest/schemas/expenses.json
  airbyte-integrations/connectors/source-harvest/source_harvest/schemas/expenses_categories.json
  airbyte-integrations/connectors/source-harvest/source_harvest/schemas/expenses_clients.json
  airbyte-integrations/connectors/source-harvest/source_harvest/schemas/expenses_team.json
  airbyte-integrations/connectors/source-harvest/source_harvest/schemas/invoice_messages.json
  airbyte-integrations/connectors/source-harvest/source_harvest/schemas/invoice_payments.json
  airbyte-integrations/connectors/source-harvest/source_harvest/schemas/invoices.json
  airbyte-integrations/connectors/source-harvest/source_harvest/schemas/project_assignments.json
  airbyte-integrations/connectors/source-harvest/source_harvest/schemas/project_budget.json
  airbyte-integrations/connectors/source-harvest/source_harvest/schemas/projects.json
  airbyte-integrations/connectors/source-harvest/source_harvest/schemas/roles.json
  airbyte-integrations/connectors/source-harvest/source_harvest/schemas/time_clients.json
  airbyte-integrations/connectors/source-harvest/source_harvest/schemas/time_entries.json
  airbyte-integrations/connectors/source-harvest/source_harvest/schemas/time_projects.json
  airbyte-integrations/connectors/source-harvest/source_harvest/schemas/time_tasks.json
  airbyte-integrations/connectors/source-harvest/source_harvest/schemas/time_team.json
  airbyte-integrations/connectors/source-harvest/source_harvest/schemas/uninvoiced.json
  airbyte-integrations/connectors/source-harvest/source_harvest/schemas/users.json
  airbyte-integrations/connectors/source-harvest/source_harvest/streams.py
Labels: area/connectors

#5707 Python CDK: fix retry attempts in case of user defined backoff time
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/http.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/streams/http/test_http.py
Labels: CDK

#5749 Source Harvest: upd version and doc
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/fe2b4084-3386-4d3b-9ad6-308f61a6f1e6.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-harvest/Dockerfile
  docs/integrations/sources/harvest.md
Labels: area/documentation, area/connectors

#5621 Fix facebook marketing source SAT fail on invalid config file
  .pre-commit-config.yaml
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/utils/schema_helpers.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/test_entrypoint.py
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/tests/test_core.py
  airbyte-integrations/connectors/source-facebook-marketing/acceptance-test-config.yml
Labels: area/connectors, CDK

#5617 CDK: private configuration option _limit and _page_size
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/entrypoint.py
  airbyte-cdk/python/airbyte_cdk/sources/abstract_source.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/http.py
  airbyte-cdk/python/airbyte_cdk/sources/utils/schema_helpers.py
  airbyte-cdk/python/docs/tutorials/cdk-tutorial-python-http/3-define-inputs.md
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/test_source.py
  airbyte-cdk/python/unit_tests/test_entrypoint.py
Labels: CDK

#5697 🐛 Source Slack: Fix max retries issue
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/c2281cee-86f9-4a86-bb48-d23286b4c7bd.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-slack/Dockerfile
  airbyte-integrations/connectors/source-slack/acceptance-test-config.yml
  airbyte-integrations/connectors/source-slack/integration_tests/full_refresh_catalog.json
  airbyte-integrations/connectors/source-slack/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-slack/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-slack/source_slack/source.py
  docs/integrations/sources/slack.md
Labels: area/documentation, area/connectors

#5746 Destination Oracle: use airbyte default column name + correct ci tests
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/3986776d-2319-4de9-8af8-db14c0996e72.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/connectors/destination-oracle/Dockerfile
  airbyte-integrations/connectors/destination-oracle/src/main/java/io/airbyte/integrations/destination/oracle/OracleDestination.java
  airbyte-integrations/connectors/destination-oracle/src/test-integration/java/io/airbyte/integrations/destination/oracle/OracleIntegrationTest.java
  docs/integrations/destinations/oracle.md
Labels: area/documentation, area/connectors

#5748 Implement databricks connector as a copy destination
  airbyte-integrations/connectors/destination-databricks/build.gradle
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksDestination.java
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksStreamCopier.java
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksStreamCopierFactory.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/CopyConsumerFactory.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/StreamCopier.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/StreamCopierFactory.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/gcs/GcsStreamCopier.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/gcs/GcsStreamCopierFactory.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/s3/S3StreamCopier.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/s3/S3StreamCopierFactory.java
Labels: area/connectors
