Repository airbytehq/airbyte, pull requests merged in 2021-04, with the labels that each got.

#2696 Settings page
  airbyte-webapp/src/components/PreferencesForm/PreferencesForm.tsx
  airbyte-webapp/src/components/PreferencesForm/components/EditControls.tsx
  airbyte-webapp/src/components/PreferencesForm/components/Feedback.tsx
  airbyte-webapp/src/components/PreferencesForm/index.tsx
  airbyte-webapp/src/components/SideBar/SideBar.tsx
  airbyte-webapp/src/components/hooks/services/useWorkspaceHook.tsx
  airbyte-webapp/src/components/index.tsx
  airbyte-webapp/src/core/resources/Workspace.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/PreferencesPage/PreferencesPage.tsx
  airbyte-webapp/src/pages/SettingsPage/SettingsPage.tsx
  airbyte-webapp/src/pages/SettingsPage/components/AccountSettings.tsx
  airbyte-webapp/src/pages/SettingsPage/index.tsx
  airbyte-webapp/src/pages/routes.tsx
Labels: area/frontend

#2774 Add oneOf description and title
  airbyte-webapp/src/components/ServiceForm/components/FormSection.tsx
  airbyte-webapp/src/components/ServiceForm/components/Property/GroupControls.tsx
  airbyte-webapp/src/core/form/types.ts
  airbyte-webapp/src/core/jsonSchema/schemaToUiWidget.ts
Labels: area/frontend

#2650 Add search to schema view
  airbyte-webapp/src/components/TreeView/TreeView.tsx
  airbyte-webapp/src/views/Connector/FrequencyForm/components/SchemaView.tsx
Labels: area/frontend

#2817 Add view when connection list is empty
  airbyte-webapp/src/components/index.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/ConnectionPage/pages/AllConnectionsPage/AllConnectionsPage.tsx
Labels: area/frontend

#2814 Make email a required field in the onboarding flow
  airbyte-e2e-testing/cypress/integration/onboarding.spec.js
  airbyte-webapp/src/components/PreferencesForm/PreferencesForm.tsx
  airbyte-webapp/src/locales/en.json
Labels: area/frontend

#2846 Change to loading button
  airbyte-webapp/src/components/Button/index.tsx
  airbyte-webapp/src/components/EntityTable/components/StatusCell.tsx
  airbyte-webapp/src/components/EntityTable/hooks.tsx
  airbyte-webapp/src/components/Toggle/index.tsx
  airbyte-webapp/src/components/index.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/AllConnectionsPage/components/ConnectionsTable.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/DestinationItemPage/components/DestinationConnectionTable.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SourceConnectionTable.tsx
Labels: area/frontend

#2844 Add tooltips for connection status icons
  airbyte-webapp/src/components/EntityTable/components/AllConnectionsStatusCell.tsx
  airbyte-webapp/src/components/EntityTable/components/NameCell.tsx
  airbyte-webapp/src/components/StatusIcon/StatusIcon.tsx
  airbyte-webapp/src/locales/en.json
Labels: area/frontend

#2845 Add destinationSyncModes to connection form
  airbyte-webapp/src/components/CreateConnectionContent/CreateConnectionContent.tsx
  airbyte-webapp/src/components/ImageBlock/ImageBlock.tsx
  airbyte-webapp/src/components/TreeView/TreeView.tsx
  airbyte-webapp/src/components/TreeView/components/SyncSettingsCell.tsx
  airbyte-webapp/src/components/TreeView/components/TreeViewSection.tsx
  airbyte-webapp/src/components/hooks/services/useDestinationHook.tsx
  airbyte-webapp/src/core/resources/Connection.ts
  airbyte-webapp/src/core/resources/DestinationDefinitionSpecification.ts
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/SettingsView.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/CreationFormPage/CreationFormPage.tsx
  airbyte-webapp/src/pages/OnboardingPage/OnboardingPage.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/ConnectionStep.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/DestinationStep.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/SourceStep.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/ConnectionForm.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/components/BottomBlock.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/components/Connector.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/components/EditControls.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/components/SchemaView.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/components/Search.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/index.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/useInitialSchema.tsx
  airbyte-webapp/src/views/Connector/FrequencyForm/index.tsx
Labels: area/frontend

#2861 Test json schema
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/components/ArrayOfObjectsEditor/ArrayOfObjectsEditor.tsx
  airbyte-webapp/src/components/ArrayOfObjectsEditor/components/EditorHeader.tsx
  airbyte-webapp/src/components/Multiselect/Multiselect.tsx
  airbyte-webapp/src/components/ServiceForm/ServiceForm.test.tsx
  airbyte-webapp/src/components/ServiceForm/components/FormSection.tsx
  airbyte-webapp/src/components/ServiceForm/components/Property/Control.tsx
  airbyte-webapp/src/components/ServiceForm/components/Property/GroupControls.tsx
  airbyte-webapp/src/components/base/TagInput/TagInput.tsx
  airbyte-webapp/src/setupTests.ts
  airbyte-webapp/src/utils/testutils.tsx
Labels: area/frontend

#2894 Add namespace to schema UI
  airbyte-webapp/src/components/TreeView/components/TreeViewSection.tsx
  airbyte-webapp/src/core/domain/catalog/api.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/views/Connection/ConnectionForm/components/SchemaView.tsx
Labels: area/frontend

#2936 Standard Tests: gradle command for running tests
  airbyte-integrations/bases/standard-test/build.gradle
  airbyte-integrations/connectors/source-hubspot/build.gradle
  buildSrc/src/main/groovy/airbyte-standard-test.gradle
  settings.gradle
Labels: zazmic

#2943 Add refresh schema button
  airbyte-webapp/src/components/CreateConnectionContent/CreateConnectionContent.tsx
  airbyte-webapp/src/locales/en.json
Labels: area/frontend

#2938 Add webhook settings block
  airbyte-webapp/src/components/hooks/services/useWorkspaceHook.tsx
  airbyte-webapp/src/core/resources/Notifications.ts
  airbyte-webapp/src/core/resources/Workspace.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/SettingsPage/components/AccountSettings.tsx
  airbyte-webapp/src/pages/SettingsPage/components/WebHookForm.tsx
Labels: area/frontend

#3032 Fix issue with Connection info update
  airbyte-webapp/src/components/TreeView/TreeView.tsx
  airbyte-webapp/src/components/TreeView/components/TreeViewSection.tsx
Labels: area/frontend, type/bug

#3095 Fix Postgres replication tutorial command
  docs/getting-started.md
  docs/tutorials/postgres-replication.md
Labels: area/documentation, cleanup

#3101 Command line fixes for toy connector tutorial.
  docs/tutorials/toy-connector.md
Labels: area/documentation, cleanup

#3153 Standard Tests: hotfix for parsing and image pulling
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/utils/connector_runner.py
  airbyte-integrations/connector-templates/source-singer/acceptance-test-config.yml.hbs
Labels: Standard tests, type/bug, zazmic

#2914 Remove table name from column names
  airbyte-webapp/src/components/MainView/MainView.tsx
  airbyte-webapp/src/components/TreeView/components/TreeViewSection.tsx
  airbyte-webapp/src/core/domain/catalog/fieldUtil.ts
  airbyte-webapp/src/pages/ConnectionPage/pages/CreationFormPage/CreationFormPage.tsx
  airbyte-webapp/src/views/layout/SideBar/SideBar.tsx
  airbyte-webapp/src/views/layout/SideBar/components/Connections.tsx
  airbyte-webapp/src/views/layout/SideBar/components/Destination.tsx
  airbyte-webapp/src/views/layout/SideBar/components/Source.tsx
  airbyte-webapp/src/views/layout/SideBar/index.tsx
Labels: area/frontend

#3147 Add Python CDK Alpha Tutorial to Docs
  airbyte-integrations/bases/base-python/README.md
  docs/SUMMARY.md
  docs/contributing-to-airbyte/tutorials/cdk-tutorial-alpha/0-getting-started.md
  docs/contributing-to-airbyte/tutorials/cdk-tutorial-alpha/1-creating-the-source.md
  docs/contributing-to-airbyte/tutorials/cdk-tutorial-alpha/2-install-dependencies.md
  docs/contributing-to-airbyte/tutorials/cdk-tutorial-alpha/3-define-inputs.md
  docs/contributing-to-airbyte/tutorials/cdk-tutorial-alpha/4-connection-checking.md
  docs/contributing-to-airbyte/tutorials/cdk-tutorial-alpha/5-declare-schema.md
  docs/contributing-to-airbyte/tutorials/cdk-tutorial-alpha/6-read-data.md
  docs/contributing-to-airbyte/tutorials/cdk-tutorial-alpha/7-use-connector-in-airbyte.md
  docs/contributing-to-airbyte/tutorials/cdk-tutorial-alpha/8-test-your-connector.md
  docs/contributing-to-airbyte/tutorials/cdk-tutorial-alpha/README.md
Labels: area/documentation
