Repository airbytehq/airbyte, pull requests merged in 2021-06, with the labels that each got.

#3691 🎉 New source: Amazon Seller Partner (SP) API
  airbyte-integrations/connectors/source-amazon-seller-partner/.dockerignore
  airbyte-integrations/connectors/source-amazon-seller-partner/.gitignore
  airbyte-integrations/connectors/source-amazon-seller-partner/Dockerfile
  airbyte-integrations/connectors/source-amazon-seller-partner/README.md
  airbyte-integrations/connectors/source-amazon-seller-partner/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amazon-seller-partner/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-amazon-seller-partner/build.gradle
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/__init__.py
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-amazon-seller-partner/main.py
  airbyte-integrations/connectors/source-amazon-seller-partner/requirements.txt
  airbyte-integrations/connectors/source-amazon-seller-partner/setup.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/__init__.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/amazon.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/client.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FLAT_FILE_ALL_ORDERS_DATA_BY_ORDER_DATE_GENERAL.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/Orders.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/test.csv
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_amazon.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_client.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_source.py
Labels: community_pr

#3807 Get source and destination from cache
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionItemPage.tsx
Labels: priority/critical

#3835 docs: link to 'Transformations with SQL' page
  docs/understanding-airbyte/basic-normalization.md
Labels: community_pr

#3832 Add changelog for the Stripe source
  docs/integrations/sources/stripe.md
Labels: area/documentation

#3878 Add documentation around what the reset button does.
  docs/.gitbook/assets/reset_your_data_1.png
  docs/SUMMARY.md
  docs/quickstart/reset.md
Labels: area/documentation

#3892 🎉 Added document for locating files in local destination on windows
  docs/.gitbook/assets/windows-wsl2-docker-folders.png
  docs/tutorials/locating-files-local-destination.md
Labels: community_pr

#3913 changed documentation url
  airbyte-integrations/connectors/source-google-search-console-singer/source_google_search_console_singer/spec.json
Labels: community_pr

#3910 updating integrations destinations local files doccs
  docs/integrations/destinations/local-csv.md
  docs/integrations/destinations/local-json.md
Labels: community_pr

#3664 🎉 New Source: Amplitude
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/fa9f58c6-2d03-4237-aaa4-07d75e0c1396.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-amplitude/.dockerignore
  airbyte-integrations/connectors/source-amplitude/CHANGELOG.md
  airbyte-integrations/connectors/source-amplitude/Dockerfile
  airbyte-integrations/connectors/source-amplitude/README.md
  airbyte-integrations/connectors/source-amplitude/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amplitude/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-amplitude/build.gradle
  airbyte-integrations/connectors/source-amplitude/integration_tests/__init__.py
  airbyte-integrations/connectors/source-amplitude/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-amplitude/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-amplitude/integration_tests/configured_catalog_without_events.json
  airbyte-integrations/connectors/source-amplitude/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-amplitude/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-amplitude/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-amplitude/integration_tests/streams_with_output_records_catalog.json
  airbyte-integrations/connectors/source-amplitude/main.py
  airbyte-integrations/connectors/source-amplitude/setup.py
  airbyte-integrations/connectors/source-amplitude/source_amplitude/__init__.py
  airbyte-integrations/connectors/source-amplitude/source_amplitude/api.py
  airbyte-integrations/connectors/source-amplitude/source_amplitude/schemas/active_users.json
  airbyte-integrations/connectors/source-amplitude/source_amplitude/schemas/annotations.json
  airbyte-integrations/connectors/source-amplitude/source_amplitude/schemas/average_session_length.json
  airbyte-integrations/connectors/source-amplitude/source_amplitude/schemas/cohorts.json
  airbyte-integrations/connectors/source-amplitude/source_amplitude/schemas/events.json
  airbyte-integrations/connectors/source-amplitude/source_amplitude/source.py
  airbyte-integrations/connectors/source-amplitude/source_amplitude/spec.json
  airbyte-integrations/connectors/source-amplitude/unit_tests/unit_test.py
  docs/SUMMARY.md
  docs/integrations/sources/amplitude.md
  tools/bin/ci_credentials.sh
Labels: area/documentation

#3819 🎉 Added JDBC source connector bootstrap template
  airbyte-integrations/connector-templates/generator/build.gradle
  airbyte-integrations/connector-templates/generator/plopfile.js
  airbyte-integrations/connector-templates/source-java-jdbc/.dockerignore
  airbyte-integrations/connector-templates/source-java-jdbc/Dockerfile
  airbyte-integrations/connector-templates/source-java-jdbc/build.gradle
  airbyte-integrations/connector-templates/source-java-jdbc/src/main/java/io/airbyte/integrations/source/{{snakeCase name}}/{{pascalCase name}}Source.java.hbs
  airbyte-integrations/connector-templates/source-java-jdbc/src/main/resources/spec.json.hbs
  airbyte-integrations/connector-templates/source-java-jdbc/src/test-integration/java/io/airbyte/integrations/source/{{snakeCase name}}/{{pascalCase name}}SourceAcceptanceTest.java.hbs
  airbyte-integrations/connector-templates/source-java-jdbc/src/test/java/io/airbyte/integrations/source/{{snakeCase name}}/{{pascalCase name}}JdbcSourceAcceptanceTest.java.hbs
  airbyte-integrations/connector-templates/source-java-jdbc/src/test/java/io/airbyte/integrations/source/{{snakeCase name}}/{{pascalCase name}}SourceTests.java.hbs
  airbyte-integrations/connectors/source-scaffold-java-jdbc/Dockerfile
  airbyte-integrations/connectors/source-scaffold-java-jdbc/build.gradle
  airbyte-integrations/connectors/source-scaffold-java-jdbc/src/main/java/io/airbyte/integrations/source/scaffold_java_jdbc/ScaffoldJavaJdbcSource.java
  airbyte-integrations/connectors/source-scaffold-java-jdbc/src/main/resources/spec.json
  airbyte-integrations/connectors/source-scaffold-java-jdbc/src/test-integration/java/io/airbyte/integrations/source/scaffold_java_jdbc/ScaffoldJavaJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-scaffold-java-jdbc/src/test/java/io/airbyte/integrations/source/scaffold_java_jdbc/ScaffoldJavaJdbcJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-scaffold-java-jdbc/src/test/java/io/airbyte/integrations/source/scaffold_java_jdbc/ScaffoldJavaJdbcSourceTests.java
  docs/contributing-to-airbyte/building-new-connector/java-connectors.md
Labels: area/documentation

#3902 Add troubleshooting section and remove FAQ file
  docs/SUMMARY.md
  docs/deploying-airbyte/local-deployment.md
  docs/deploying-airbyte/on-aws-ec2.md
  docs/deploying-airbyte/on-azure-vm-cloud-shell.md
  docs/deploying-airbyte/on-gcp-compute-engine.md
  docs/faq/data-loading.md
  docs/faq/getting-started.md
  docs/faq/technical-support.md
  docs/troubleshooting/README.md
  docs/troubleshooting/new-connection.md
  docs/troubleshooting/on-deploy.md
  docs/troubleshooting/running-sync.md
  docs/troubleshooting/upgrading.md
Labels: area/documentation

#3768 🎉 Posthog: New Source
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/af6d50ee-dddf-4126-a8ee-7faee990774f.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-posthog/.dockerignore
  airbyte-integrations/connectors/source-posthog/CHANGELOG.md
  airbyte-integrations/connectors/source-posthog/Dockerfile
  airbyte-integrations/connectors/source-posthog/README.md
  airbyte-integrations/connectors/source-posthog/acceptance-test-config.yml
  airbyte-integrations/connectors/source-posthog/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-posthog/build.gradle
  airbyte-integrations/connectors/source-posthog/integration_tests/__init__.py
  airbyte-integrations/connectors/source-posthog/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-posthog/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-posthog/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-posthog/integration_tests/state.json
  airbyte-integrations/connectors/source-posthog/main.py
  airbyte-integrations/connectors/source-posthog/requirements.txt
  airbyte-integrations/connectors/source-posthog/sample_files/state.json
  airbyte-integrations/connectors/source-posthog/setup.py
  airbyte-integrations/connectors/source-posthog/source_posthog/__init__.py
  airbyte-integrations/connectors/source-posthog/source_posthog/schemas/annotations.json
  airbyte-integrations/connectors/source-posthog/source_posthog/schemas/cohorts.json
  airbyte-integrations/connectors/source-posthog/source_posthog/schemas/events.json
  airbyte-integrations/connectors/source-posthog/source_posthog/schemas/events_sessions.json
  airbyte-integrations/connectors/source-posthog/source_posthog/schemas/feature_flags.json
  airbyte-integrations/connectors/source-posthog/source_posthog/schemas/insights.json
  airbyte-integrations/connectors/source-posthog/source_posthog/schemas/insights_path.json
  airbyte-integrations/connectors/source-posthog/source_posthog/schemas/insights_sessions.json
  airbyte-integrations/connectors/source-posthog/source_posthog/schemas/persons.json
  airbyte-integrations/connectors/source-posthog/source_posthog/schemas/sessions.json
  airbyte-integrations/connectors/source-posthog/source_posthog/schemas/trends.json
  airbyte-integrations/connectors/source-posthog/source_posthog/source.py
  airbyte-integrations/connectors/source-posthog/source_posthog/spec.json
  airbyte-integrations/connectors/source-posthog/source_posthog/streams.py
  airbyte-integrations/connectors/source-posthog/unit_tests/unit_test.py
  docs/SUMMARY.md
  docs/integrations/sources/posthog.md
  tools/bin/ci_credentials.sh
Labels: area/documentation

#3986 Fix webbackend api
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WebBackendConnectionsHandlerTest.java
Labels: area/core

#3975 Add issue about loading a lot of tables
  docs/faq/data-loading.md
  docs/troubleshooting/new-connection.md
  docs/troubleshooting/on-deploy.md
  docs/troubleshooting/running-sync.md
Labels: area/documentation

#3983 Working Kube Cancel.
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerUtils.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
Labels: area/core, area/worker

#3656 Making single port 8000 default and update NetworkErrorBoundary
  .env
  .env.dev
  airbyte-api/src/main/openapi/config.yaml
  docs/deploying-airbyte/on-aws-ec2.md
  docs/deploying-airbyte/on-azure-vm-cloud-shell.md
  docs/deploying-airbyte/on-gcp-compute-engine.md
  docs/deploying-airbyte/on-kubernetes.md
  docs/tutorials/upgrading-airbyte.md
  kube/overlays/dev/.env
  kube/overlays/stable/.env
Labels: area/documentation, community_pr

#4015 Bump version: 0.24.7-alpha → 0.24.8-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  docs/tutorials/upgrading-airbyte.md
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend

#3176 Fix API to update source/dest name when requested by the UI
  airbyte-server/src/main/java/io/airbyte/server/converters/ConfigurationUpdate.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/DestinationHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SchedulerHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SourceHandler.java
  airbyte-server/src/test/java/io/airbyte/server/converters/ConfigurationUpdateTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/DestinationHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/SchedulerHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/SourceHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/helpers/DestinationHelpers.java
  airbyte-server/src/test/java/io/airbyte/server/helpers/SourceHelpers.java
Labels: area/core

#4020 Normalization with empty catalog
  airbyte-integrations/bases/base-normalization/Dockerfile
  airbyte-integrations/bases/base-normalization/integration_tests/test_ephemeral.py
  airbyte-integrations/bases/base-normalization/normalization/transform_catalog/catalog_processor.py
  airbyte-integrations/bases/base-normalization/normalization/transform_catalog/stream_processor.py
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/DefaultNormalizationRunner.java
Labels: area/worker, normalization

#4022 Bump version: 0.24.8-alpha → 0.25.0-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  docs/tutorials/upgrading-airbyte.md
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend

#3844 🎉 New Source: Snowflake DB
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e2d65910-8c8b-40a1-ae7d-ee2416b2bfa2.json
  airbyte-config/init/src/main/resources/icons/snowflake.svg
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-db/src/main/java/io/airbyte/db/Databases.java
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-integrations/connectors/source-jdbc/src/testFixtures/java/io/airbyte/integrations/source/jdbc/test/JdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-snowflake/.dockerignore
  airbyte-integrations/connectors/source-snowflake/CHANGELOG.md
  airbyte-integrations/connectors/source-snowflake/Dockerfile
  airbyte-integrations/connectors/source-snowflake/README.md
  airbyte-integrations/connectors/source-snowflake/build.gradle
  airbyte-integrations/connectors/source-snowflake/src/main/java/io.airbyte.integrations.source.snowflake/SnowflakeJdbcStreamingQueryConfiguration.java
  airbyte-integrations/connectors/source-snowflake/src/main/java/io.airbyte.integrations.source.snowflake/SnowflakeSource.java
  airbyte-integrations/connectors/source-snowflake/src/main/resources/spec.json
  airbyte-integrations/connectors/source-snowflake/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/SnowflakeJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-snowflake/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/SnowflakeSourceAcceptanceTest.java
  docs/SUMMARY.md
  docs/integrations/sources/snowflake.md
  tools/bin/ci_credentials.sh
Labels: area/documentation

#4043 Remove Postgres references in OracleDB Destination Docs
  docs/integrations/destinations/oracle.md
Labels: area/documentation

#4048 📚 Replace npm install + generate -> ./generate.sh in docs
  airbyte-cdk/python/docs/tutorials/cdk-tutorial-any-percent/cdk-speedrun.md
  airbyte-cdk/python/docs/tutorials/cdk-tutorial-python-http/1-creating-the-source.md
  airbyte-cdk/python/docs/tutorials/http_api_source.md
  airbyte-integrations/bases/base-python/docs/tutorials/http_api_source.md
  docs/contributing-to-airbyte/building-new-connector/java-connectors.md
  docs/contributing-to-airbyte/python/tutorials/cdk-speedrun.md
  docs/contributing-to-airbyte/python/tutorials/cdk-tutorial-python-http/1-creating-the-source.md
  docs/tutorials/tutorials/build-a-connector-the-hard-way.md
  docs/tutorials/tutorials/building-a-python-source.md
Labels: CDK, area/documentation

#4031 Add supportsDBT and supportsNormalization to API objects
  airbyte-api/src/main/openapi/config.yaml
  airbyte-cdk/python/airbyte_cdk/models/airbyte_protocol.py
  airbyte-integrations/bases/airbyte-protocol/airbyte_protocol/models/airbyte_protocol.py
  airbyte-integrations/connectors/destination-oracle/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-s3/src/main/resources/spec.json
  airbyte-protocol/models/src/main/resources/airbyte_protocol/airbyte_protocol.yaml
  airbyte-server/src/main/java/io/airbyte/server/handlers/OperationsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SchedulerHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/DestinationHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/OperationsHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/helpers/ConnectorSpecificationHelpers.java
  docs/reference/api/generated-api-html/index.html
Labels: CDK, area/core, area/documentation, area/protocol

#4055 Make operations run with UI integration
  airbyte-integrations/bases/base-normalization/entrypoint.sh
  airbyte-server/src/main/java/io/airbyte/server/handlers/OperationsHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/OperationsHandlerTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/DbtTransformationRunner.java
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/DefaultNormalizationRunner.java
  airbyte-workers/src/main/resources/dbt_transformation_entrypoint.sh
Labels: area/core, area/worker, normalization

#4040 fail if entrypoint not found on connector image
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
Labels: area/worker

#4038 AWS S3 and Alternative S3 destination connector feature
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/s3/S3Config.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/s3/S3StreamCopier.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3Consumer.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3DestinationConfig.java
  airbyte-integrations/connectors/destination-s3/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-s3/src/test-integration/java/io/airbyte/integrations/destination/s3/S3CsvDestinationAcceptanceTest.java
  docs/integrations/destinations/s3.md
Labels: area/documentation, community_pr

#4077 Fix invalid JSON syntax
  docs/contributing-to-airbyte/python/tutorials/cdk-tutorial-python-http/3-define-inputs.md
Labels: area/documentation

#4078 Job description for content writer
  docs/SUMMARY.md
  docs/career-and-open-positions/technical-content-writer.md
Labels: area/documentation

#3842 🎉 New source: Google Ads API
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-integrations/connectors/source-google-ads/.dockerignore
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/README.md
  airbyte-integrations/connectors/source-google-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-ads/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-google-ads/build.gradle
  airbyte-integrations/connectors/source-google-ads/integration_tests/__init__.py
  airbyte-integrations/connectors/source-google-ads/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-google-ads/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-google-ads/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-google-ads/integration_tests/conftest.py
  airbyte-integrations/connectors/source-google-ads/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-google-ads/integration_tests/test_incremental.py
  airbyte-integrations/connectors/source-google-ads/main.py
  airbyte-integrations/connectors/source-google-ads/requirements.txt
  airbyte-integrations/connectors/source-google-ads/setup.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/__init__.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/google_ads.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/ad_group_ad_report.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/spec.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/utils.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_google_ads.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_source.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_utils.py
  tools/bin/ci_credentials.sh
Labels: community_pr

#3507 Add docs on custom Operations
  docs/.gitbook/assets/basic-normalization-configuration.png
  docs/.gitbook/assets/copy-personal-token.png
  docs/.gitbook/assets/custom-dbt-transformations-seed.png
  docs/.gitbook/assets/custom-dbt-transformations.png
  docs/.gitbook/assets/new-personal-token.png
  docs/.gitbook/assets/setup-custom-transformation.png
  docs/SUMMARY.md
  docs/tutorials/transformation-and-normalization/transformations-with-airbyte.md
  docs/tutorials/transformation-and-normalization/transformations-with-dbt.md
  docs/tutorials/transformation-and-normalization/transformations-with-sql.md
  docs/understanding-airbyte/basic-normalization.md
  docs/understanding-airbyte/connections/README.md
  docs/understanding-airbyte/connections/incremental-append.md
  docs/understanding-airbyte/connections/incremental-deduped-history.md
  docs/understanding-airbyte/operations.md
Labels: area/documentation

#3624 🎉 migration: implement logic to migrate basic_normalization from destination to sync
  airbyte-api/src/main/java/io/airbyte/api/client/AirbyteApiClient.java
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/DestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-bigquery/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-jdbc/src/test-integration/java/io/airbyte/integrations/destination/jdbc/JdbcDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mssql/src/test-integration/java/io/airbyte/integrations/destination/mssql/MSSQLDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mssql/src/test-integration/java/io/airbyte/integrations/destination/mssql/MSSQLDestinationAcceptanceTestSSL.java
  airbyte-integrations/connectors/destination-mysql/src/test-integration/java/io/airbyte/integrations/destination/mysql/MySQLDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-postgres/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-postgres/src/test-integration/java/io/airbyte/integrations/destination/postgres/PostgresDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-redshift/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/RedshiftCopyDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-snowflake/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeInsertDestinationAcceptanceTest.java
  airbyte-migration/src/main/java/io/airbyte/migrate/Migrations.java
  airbyte-migration/src/main/java/io/airbyte/migrate/migrations/MigrationV0_14_0.java
  airbyte-migration/src/main/java/io/airbyte/migrate/migrations/MigrationV0_26_0.java
  airbyte-migration/src/main/resources/migrations/migrationV0_26_0/airbyte-config/OperatorDbt.yaml
  airbyte-migration/src/main/resources/migrations/migrationV0_26_0/airbyte-config/OperatorNormalization.yaml
  airbyte-migration/src/main/resources/migrations/migrationV0_26_0/airbyte-config/OperatorType.yaml
  airbyte-migration/src/main/resources/migrations/migrationV0_26_0/airbyte-config/StandardSyncOperation.yaml
  airbyte-migration/src/test/java/io/airbyte/migrate/MigrationCurrentSchemaTest.java
  airbyte-migration/src/test/java/io/airbyte/migrate/migrations/MigrateV0_26_0Test.java
  airbyte-migration/src/test/resources/migrations/migrationV0_26_0/input_config/DESTINATION_CONNECTION.yaml
  airbyte-migration/src/test/resources/migrations/migrationV0_26_0/input_config/STANDARD_SYNC.yaml
  airbyte-migration/src/test/resources/migrations/migrationV0_26_0/input_config/STANDARD_WORKSPACE.yaml
  airbyte-migration/src/test/resources/migrations/migrationV0_26_0/output_config/DESTINATION_CONNECTION.yaml
  airbyte-migration/src/test/resources/migrations/migrationV0_26_0/output_config/STANDARD_SYNC.yaml
  airbyte-migration/src/test/resources/migrations/migrationV0_26_0/output_config/STANDARD_SYNC_OPERATION.yaml
  airbyte-migration/src/test/resources/migrations/migrationV0_26_0/output_config/STANDARD_WORKSPACE.yaml
  airbyte-server/src/main/java/io/airbyte/server/converters/ConfigFileArchiver.java
  airbyte-tests/src/acceptanceTests/java/io/airbyte/test/acceptance/AcceptanceTests.java
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerConstants.java
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/NormalizationRunner.java
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/NormalizationRunnerFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/SyncWorkflow.java
  airbyte-workers/src/test/java/io/airbyte/workers/normalization/NormalizationRunnerFactoryTest.java
Labels: area/core, area/worker

#4045 Add oracle destination to config files
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/3986776d-2319-4de9-8af8-db14c0996e72.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  docs/integrations/README.md
Labels: area/documentation

#4106 Add transform airbyte dbt to Summary and change links
  docs/SUMMARY.md
  docs/tutorials/transformation-and-normalization/transformations-with-airbyte.md
  docs/tutorials/transformation-and-normalization/transformations-with-dbt.md
  docs/tutorials/transformation-and-normalization/transformations-with-sql.md
Labels: area/documentation

#4110 Minor code style step
  docs/contributing-to-airbyte/code-style.md
Labels: area/documentation

#4052 Refactor tutorials section in docs to be more clear
  .gitbook.yaml
  docs/SUMMARY.md
  docs/contributing-to-airbyte/README.md
  docs/contributing-to-airbyte/building-new-connector/README.md
  docs/contributing-to-airbyte/tutorials/README.md
  docs/contributing-to-airbyte/tutorials/adding-incremental-sync.md
  docs/contributing-to-airbyte/tutorials/beginners-guide-to-catalog.md
  docs/contributing-to-airbyte/tutorials/build-a-connector-the-hard-way.md
  docs/contributing-to-airbyte/tutorials/building-a-python-source.md
  docs/operator-guides/README.md
  docs/operator-guides/browsing-output-logs.md
  docs/operator-guides/locating-files-local-destination.md
  docs/operator-guides/transformation-and-normalization/README.md
  docs/operator-guides/transformation-and-normalization/transformations-with-airbyte.md
  docs/operator-guides/transformation-and-normalization/transformations-with-dbt.md
  docs/operator-guides/transformation-and-normalization/transformations-with-sql.md
  docs/operator-guides/upgrading-airbyte.md
  docs/operator-guides/using-the-airflow-airbyte-operator.md
  docs/troubleshooting/running-sync.md
  docs/understanding-airbyte/connections/incremental-deduped-history.md
Labels: area/documentation

#4116 Add community Code of Conduct.
  docs/SUMMARY.md
  docs/project-overview/code-of-conduct.md
Labels: area/documentation

#4067 Test PR 4038
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/4816b78f-1489-44c1-9060-4b19d5fa9362.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/connectors/destination-s3/Dockerfile
Labels: area/connectors

#4120 Adding links to set up walkthrough in docs
  README.md
  docs/quickstart/deploy-airbyte.md
Labels: area/documentation

#4076 SQL operations in Oracle destination
  airbyte-integrations/connectors/destination-oracle/src/main/java/io/airbyte/integrations/destination/oracle/OracleOperations.java
  airbyte-integrations/connectors/source-scaffold-java-jdbc/src/test-integration/java/io/airbyte/integrations/source/scaffold_java_jdbc/ScaffoldJavaJdbcSourceAcceptanceTest.java
Labels: community_pr

#4113 Update users stream of Jira source to use correct endpoint and query param
  airbyte-integrations/connectors/source-jira/source_jira/streams.py
Labels: area/connectors, community_pr

#4125 Added getting started for google ads connector
  docs/integrations/sources/google-ads.md
Labels: area/documentation

#4126 Bump jira source connector version
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/68e63de2-bb83-4c7e-93fa-a8a9051e3993.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-jira/CHANGELOG.md
  airbyte-integrations/connectors/source-jira/Dockerfile
  docs/integrations/sources/jira.md
Labels: area/connectors, area/documentation

#4104 🎉 Custom DBT Transformations operations is now live! (Fixed migrations NPE)
  airbyte-migration/src/main/java/io/airbyte/migrate/migrations/MigrationV0_26_0.java
  airbyte-migration/src/test/resources/migrations/migrationV0_26_0/input_config/DESTINATION_CONNECTION.yaml
  airbyte-migration/src/test/resources/migrations/migrationV0_26_0/input_config/STANDARD_SYNC.yaml
  airbyte-server/src/main/java/io/airbyte/server/converters/ConfigFileArchiver.java
Labels: area/core

#3648 🎉 Google Analytics connector is failing
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/39f092a6-8c87-4f6f-a8d9-5cef45b7dbe1.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-googleanalytics-singer/Dockerfile
  airbyte-integrations/connectors/source-googleanalytics-singer/acceptance-test-config.yml
  airbyte-integrations/connectors/source-googleanalytics-singer/build.gradle
  airbyte-integrations/connectors/source-googleanalytics-singer/integration_tests/__init__.py
  airbyte-integrations/connectors/source-googleanalytics-singer/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-googleanalytics-singer/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-googleanalytics-singer/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-googleanalytics-singer/sample_files/abnormal_state.json
  airbyte-integrations/connectors/source-googleanalytics-singer/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-googleanalytics-singer/source_googleanalytics_singer/source.py
  airbyte-integrations/connectors/source-googleanalytics-singer/source_googleanalytics_singer/spec.json
  docs/troubleshooting/running-sync.md
Labels: area/connectors, area/documentation

#4144 update style docs on import styles
  docs/contributing-to-airbyte/code-style.md
Labels: area/documentation

#3573 add section troubleshoot related issue btw kubectl/kustomize on k8s deploy
  docs/deploying-airbyte/on-kubernetes.md
Labels: area/documentation

#4146 Increase file size for import config
  airbyte-webapp/nginx/default.conf.template
Labels: area/frontend

#4136 Source: Facebook Marketing use latest version of facebook_bussiness dep lib
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e7778cfc-e97c-4458-9ecb-b4f2bba8946c.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-facebook-marketing/CHANGELOG.md
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/sample_files/configured_catalog_adsinsights.json
  airbyte-integrations/connectors/source-facebook-marketing/setup.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_client.py
Labels: area/connectors

#4154 Namespace fields were introduced between 0.24.6 and 0.24.8 in the backend
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_client.py
  airbyte-migration/src/main/resources/migrations/migrationV0_24_0/NamespaceDefinitionType.yaml
  airbyte-migration/src/main/resources/migrations/migrationV0_24_0/StandardSync.yaml
Labels: area/connectors

#4156 Source Facebook Marketing: remove fields deprecated in v11
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e7778cfc-e97c-4458-9ecb-b4f2bba8946c.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-facebook-marketing/CHANGELOG.md
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-facebook-marketing/sample_files/configured_catalog_adcreatives.json
  airbyte-integrations/connectors/source-facebook-marketing/sample_files/configured_catalog_adsinsights.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/client/api.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/client/client.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/ads_insights.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/ads_insights_age_and_gender.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/ads_insights_country.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/ads_insights_dma.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/ads_insights_platform_and_device.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/ads_insights_region.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/campaigns.json
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_client.py
Labels: area/connectors

#4158 Documentation correct summary normalization docs
  airbyte-integrations/bases/base-normalization/normalization/transform_catalog/stream_processor.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_client.py
  docs/SUMMARY.md
Labels: area/connectors, area/documentation, normalization

#4068 📚More clarity added for Windows based Docker Desktop environments
  docs/.gitbook/assets/01_set-up-preferences.png
  docs/contributing-to-airbyte/updating-documentation.md
  docs/deploying-airbyte/local-deployment.md
  docs/examples/postgres-replication.md
  docs/integrations/destinations/local-csv.md
  docs/integrations/destinations/local-json.md
  docs/quickstart/set-up-a-connection.md
  docs/understanding-airbyte/airbyte-specification.md
Labels: area/documentation, community_pr

#4149 Remove Tap / Target Nomenclature from Workers
  airbyte-config/models/src/main/resources/types/StandardSync.yaml
  airbyte-config/models/src/main/resources/types/StandardSyncSummary.yaml
  airbyte-config/models/src/main/resources/types/WorkerDestinationConfig.yaml
  airbyte-config/models/src/main/resources/types/WorkerSourceConfig.yaml
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/DestinationAcceptanceTest.java
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/LocalAirbyteDestination.java
  airbyte-integrations/bases/standard-source-test/src/main/java/io/airbyte/integrations/standardtest/source/SourceAbstractTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresSourceTest.java
  airbyte-migration/src/main/resources/migrations/migrationV0_14_0/airbyte_config/StandardSync.yaml
  airbyte-migration/src/main/resources/migrations/migrationV0_14_3/airbyte_config/StandardSync.yaml
  airbyte-migration/src/main/resources/migrations/migrationV0_20_0/StandardSync.yaml
  airbyte-migration/src/main/resources/migrations/migrationV0_23_0/StandardSync.yaml
  airbyte-migration/src/main/resources/migrations/migrationV0_24_0/StandardSync.yaml
  airbyte-migration/src/main/resources/migrations/migrationV0_25_0/StandardSync.yaml
  airbyte-tests/src/acceptanceTests/java/io/airbyte/test/acceptance/AcceptanceTests.java
  airbyte-workers/src/main/java/io/airbyte/workers/DefaultReplicationWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerUtils.java
  airbyte-workers/src/main/java/io/airbyte/workers/protocols/Destination.java
  airbyte-workers/src/main/java/io/airbyte/workers/protocols/MessageTracker.java
  airbyte-workers/src/main/java/io/airbyte/workers/protocols/Source.java
  airbyte-workers/src/main/java/io/airbyte/workers/protocols/airbyte/DefaultAirbyteDestination.java
  airbyte-workers/src/main/java/io/airbyte/workers/protocols/airbyte/DefaultAirbyteSource.java
  airbyte-workers/src/main/java/io/airbyte/workers/protocols/airbyte/EmptyAirbyteSource.java
  airbyte-workers/src/test/java/io/airbyte/workers/DefaultReplicationWorkerTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/protocols/airbyte/DefaultAirbyteDestinationTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/protocols/airbyte/DefaultAirbyteSourceTest.java
Labels: area/connectors, area/worker

#4130 Destination S3: check to verify prefix access instead of full-bucket access
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/s3/S3StreamCopier.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3Destination.java
Labels: area/connectors

#4166 Bump S3 destination version
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/4816b78f-1489-44c1-9060-4b19d5fa9362.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/connectors/destination-s3/Dockerfile
  docs/integrations/destinations/s3.md
Labels: area/connectors, area/documentation

#4108 Source Amazon Seller Partner: Error for max wait time reached when create report status is CANCELLED or FATAL
  airbyte-integrations/connectors/source-amazon-seller-partner/CHANGELOG.md
  airbyte-integrations/connectors/source-amazon-seller-partner/Dockerfile
  airbyte-integrations/connectors/source-amazon-seller-partner/setup.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/amazon.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/client.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FLAT_FILE_ALL_ORDERS_DATA_BY_ORDER_DATE_GENERAL.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/Orders.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/test.csv
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_client.py
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/connectors, area/documentation, community_pr

#4167 Source amazon seller partner: bump version
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e55879a8-0ef8-4557-abcf-ab34c53ec460.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/s3/S3StreamCopier.java
  airbyte-integrations/connectors/source-amazon-seller-partner/CHANGELOG.md
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/amazon.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/client.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FLAT_FILE_ALL_ORDERS_DATA_BY_ORDER_DATE_GENERAL.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/Orders.json
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_client.py
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/connectors, area/documentation

#4168 Frontend correct doc support link
  airbyte-webapp/src/config/index.ts
  docs/SUMMARY.md
Labels: area/documentation, area/frontend

#4145 explicitly check for jq in unit test
  airbyte-workers/src/test/java/io/airbyte/workers/process/DockerProcessFactoryTest.java
Labels: area/worker

#4171 add fullstory
  airbyte-webapp/nginx/default.conf.template
  airbyte-webapp/src/components/hooks/useFullStory.tsx
  airbyte-webapp/src/config/index.ts
  airbyte-webapp/src/pages/routes.tsx
  docker-compose.yaml
  kube/overlays/dev/.env
  kube/overlays/stable/.env
  kube/resources/webapp.yaml
Labels: area/frontend

#4172 Davinchia/release 0.26.0 alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend

#4129 Jamakase/add normalization select dropdown
  airbyte-api/src/main/openapi/config.yaml
  airbyte-e2e-testing/cypress/integration/connection.spec.js
  airbyte-e2e-testing/cypress/support/commands/connection.js
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/components/ArrayOfObjectsEditor/ArrayOfObjectsEditor.tsx
  airbyte-webapp/src/components/ArrayOfObjectsEditor/components/EditorHeader.tsx
  airbyte-webapp/src/components/CreateConnectionContent/CreateConnectionContent.tsx
  airbyte-webapp/src/components/EntityTable/hooks.tsx
  airbyte-webapp/src/components/GroupControls/GroupControls.tsx
  airbyte-webapp/src/components/Label/Label.tsx
  airbyte-webapp/src/components/LabeledControl/ControlLabels.tsx
  airbyte-webapp/src/components/Link/Link.tsx
  airbyte-webapp/src/components/ServiceForm/ServiceForm.test.tsx
  airbyte-webapp/src/components/ServiceForm/components/FormSection.tsx
  airbyte-webapp/src/components/ServiceForm/useBuildForm.tsx
  airbyte-webapp/src/components/base/DropDown/DropDown.tsx
  airbyte-webapp/src/components/hooks/services/useConnectionHook.tsx
  airbyte-webapp/src/config/index.ts
  airbyte-webapp/src/core/domain/connection/types.ts
  airbyte-webapp/src/core/jsonSchema/schemaToYup.ts
  airbyte-webapp/src/core/resources/Connection.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionItemPage.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/EnabledControl.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/SettingsView.tsx
  airbyte-webapp/src/pages/OnboardingPage/OnboardingPage.tsx
  airbyte-webapp/src/utils/objects.ts
  airbyte-webapp/src/views/Connection/ConnectionForm/ConnectionForm.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/components/CatalogTree/CatalogSection.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/components/CatalogTree/CatalogTree.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/components/CatalogTree/components/MainInfoCell.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/components/CatalogTree/components/Rows.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/components/NamespaceField.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/components/NormalizationField.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/components/Search.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/formConfig.tsx
  airbyte-webapp/src/views/Connection/TransformationForm/TransformationForm.tsx
  docs/reference/api/generated-api-html/index.html
Labels: area/api, area/core, area/documentation, area/frontend, type/enhancement

#3886 🎉 Add docs on namespace changes
  docs/understanding-airbyte/connections/README.md
  docs/understanding-airbyte/namespaces.md
Labels: area/documentation

#4135 Google Ads Connector: Release community-contributed
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/253487c0-2246-43ba-a21f-5116b20a2c50.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/fdc8b827-3257-4b33-83cc-106d234c34d4.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-google-ads/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/google_ads.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/ad_group_ad_report.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/spec.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/utils.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_google_ads.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_source.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_utils.py
  docs/SUMMARY.md
Labels: area/connectors, area/documentation

#4177 Remove noisy error log
  airbyte-workers/src/main/java/io/airbyte/workers/protocols/airbyte/NamespacingMapper.java
Labels: area/worker

#4185 Destination MSSQL: correct spec doc info
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/d4353156-9217-4cad-8dd7-c108fd4f74cf.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/connectors/destination-mssql/Dockerfile
  airbyte-integrations/connectors/destination-mssql/src/main/resources/spec.json
  docs/integrations/destinations/mssql.md
Labels: area/connectors, area/documentation

#3947 🎉 Make credentials optional in BigQuery connector (issue #3657)
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/22f6c74f-5699-40ff-833c-4a879ea40133.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/connectors/destination-bigquery/CHANGELOG.md
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDestination.java
  airbyte-integrations/connectors/destination-bigquery/src/main/resources/spec.json
Labels: area/connectors, community_pr

#4190 retry db connection pool creation in the server and scheduler
  airbyte-db/src/main/java/io/airbyte/db/Databases.java
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/SchedulerApp.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalPool.java
Labels: area/core, area/worker

#4193 new position_recruiter
  docs/SUMMARY.md
  docs/career-and-open-positions/recruiter.md
Labels: area/documentation

#4192 Format Bigquery connector
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDestination.java
Labels: area/connectors

#4137 kube zombie handling
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/SchedulerApp.java
  airbyte-workers/build.gradle
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubeProcessFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/WorkerHeartbeatServer.java
  airbyte-workers/src/main/resources/entrypoints/check.sh
  airbyte-workers/src/main/resources/entrypoints/main.sh
  airbyte-workers/src/test-integration/java/io/airbyte/workers/process/KubePodProcessIntegrationTest.java
  buildSrc/src/main/groovy/airbyte-integration-test-java.gradle
  kube/overlays/dev/.env
  kube/overlays/stable/.env
  kube/resources/scheduler.yaml
  tools/bin/acceptance_test_kube.sh
Labels: area/core, area/worker

#4194 6/17 changelog updates
  docs/project-overview/changelog/connectors.md
  docs/project-overview/changelog/platform.md
Labels: area/documentation

#4058 use ec2 runner for kube acceptance tests
  .github/workflows/gradle.yml
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubeProcessFactory.java
  airbyte-workers/src/test-integration/java/io/airbyte/workers/process/KubePodProcessIntegrationTest.java
  tools/bin/acceptance_test_kube.sh
Labels: area/worker

#4196 Bump version: 0.26.0-alpha → 0.26.1-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend

#4115 Validate source/destination definition ids before create connection - issue 144
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/ConfigNotFoundException.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/ConnectionsHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/ConnectionsHandlerTest.java
Labels: area/core

#4216 Update platform/connectors changelog to include changes from 0.26.1
  docs/project-overview/changelog/connectors.md
  docs/project-overview/changelog/platform.md
Labels: area/documentation

#4217 Fix formatting on 6/18 changelog
  docs/project-overview/changelog/connectors.md
Labels: area/documentation

#4215 Add CHANGELOG for Sources
  airbyte-integrations/connectors/source-facebook-marketing/CHANGELOG.md
  airbyte-integrations/connectors/source-shopify/CHANGELOG.md
  docs/integrations/sources/facebook-marketing.md
  docs/integrations/sources/file.md
  docs/integrations/sources/google-sheets.md
  docs/integrations/sources/googleanalytics.md
  docs/integrations/sources/http-request.md
  docs/integrations/sources/mssql.md
  docs/integrations/sources/mysql.md
  docs/integrations/sources/postgres.md
  docs/integrations/sources/salesforce.md
  docs/integrations/sources/shopify.md
Labels: area/connectors, area/documentation

#4214 fix gke file copy errors
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/SchedulerApp.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubeProcessFactory.java
  airbyte-workers/src/test-integration/java/io/airbyte/workers/process/KubePodProcessIntegrationTest.java
Labels: area/core, area/worker

#4220 make kube overwritten entrypoints posix-compatible
  airbyte-workers/src/main/resources/entrypoints/check.sh
  airbyte-workers/src/main/resources/entrypoints/main.sh
Labels: area/worker

#4222 🐛 Source Harvest: fix broken spec file
  airbyte-integrations/connectors/source-harvest/source_harvest/spec.json
Labels: area/connectors, community_pr

#4211 Write how to connect to external db
  .env
  docker-compose.yaml
  docs/SUMMARY.md
  docs/contributing-to-airbyte/accessing-jobs-db.md
  docs/operator-guides/configuring-airbyte-db.md
  docs/operator-guides/upgrading-airbyte.md
Labels: area/documentation

#4047 Request integration
  airbyte-webapp/src/components/Modal/Modal.tsx
  airbyte-webapp/src/components/Modal/index.tsx
  airbyte-webapp/src/components/ServiceForm/FormRoot.tsx
  airbyte-webapp/src/components/ServiceForm/ServiceForm.tsx
  airbyte-webapp/src/components/ServiceForm/components/Controls/ConnectorServiceTypeControl.tsx
  airbyte-webapp/src/components/ServiceForm/components/CreateControls.tsx
  airbyte-webapp/src/components/ServiceForm/serviceFormContext.tsx
  airbyte-webapp/src/components/base/DropDown/DropDown.tsx
  airbyte-webapp/src/components/hooks/services/useRequestConnector.tsx
  airbyte-webapp/src/components/index.tsx
  airbyte-webapp/src/core/analytics/AnalyticsService.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/types/react-widgets.d.ts
  airbyte-webapp/src/views/Connector/RequestConnectorModal/RequestConnectorModal.tsx
  airbyte-webapp/src/views/Connector/RequestConnectorModal/components/ConnectorForm.tsx
  airbyte-webapp/src/views/Connector/RequestConnectorModal/index.tsx
  airbyte-webapp/src/views/Connector/RequestConnectorModal/types.ts
Labels: area/frontend, type/enhancement

#4244 Reword some docs
  docs/understanding-airbyte/connections/incremental-append.md
  docs/understanding-airbyte/connections/incremental-deduped-history.md
  docs/understanding-airbyte/namespaces.md
Labels: area/documentation

#4250 fix db configuration for build
  .env
  docker-compose.yaml
  docs/operator-guides/configuring-airbyte-db.md
Labels: area/documentation

#4249 Bump version: 0.26.1-alpha → 0.26.2-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend

#4234 kubernetes v2 docs
  docs/SUMMARY.md
  docs/contributing-to-airbyte/developing-on-kubernetes.md
  docs/deploying-airbyte/on-kubernetes.md
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/dev/.env
  kube/overlays/stable/.env
Labels: area/documentation

#4256 Update deployment on Kubernetes stage from Alpha to Beta
  docs/SUMMARY.md
Labels: area/documentation

#4257 Add architecture diagram to K8s contribution doc
  docs/.gitbook/assets/contributing-to-airbyte-k8s-architecture.png
  docs/contributing-to-airbyte/developing-on-kubernetes.md
Labels: area/documentation

#4165 Documentation correct markdown list in csv and json destination
  docs/integrations/destinations/local-csv.md
  docs/integrations/destinations/local-json.md
Labels: area/documentation

#4259 Add 0.26.2 changelog
  docs/project-overview/changelog/README.md
  docs/project-overview/changelog/platform.md
Labels: area/documentation

#4248 Source Harvest: fixes #4247: Fix wrong data type on statement_key
  airbyte-integrations/connectors/source-harvest/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-harvest/source_harvest/schemas/clients.json
Labels: area/connectors

#3587 🎉 Source Looker: enable supporting of customer-hosted (self-hosted) instances
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/00405b19-9768-4e0c-b1ae-9fc2ee2b2a8c.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-looker/CHANGELOG.md
  airbyte-integrations/connectors/source-looker/Dockerfile
  airbyte-integrations/connectors/source-looker/source_looker/spec.json
Labels: area/connectors

#4241 Fix 'Learn more' link on Normalization & Transformation connection Settings
  airbyte-webapp/src/config/index.ts
Labels: area/frontend, community_pr

#4255 test for AIRBYTE_ENTRYPOINT env variable in connectors
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/DestinationAcceptanceTest.java
  airbyte-integrations/bases/standard-source-test/readme.md
  airbyte-integrations/bases/standard-source-test/src/main/java/io/airbyte/integrations/standardtest/source/SourceAbstractTest.java
  airbyte-integrations/bases/standard-source-test/src/main/java/io/airbyte/integrations/standardtest/source/SourceAcceptanceTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
  airbyte-workers/src/main/java/io/airbyte/workers/test_helpers/EntrypointEnvChecker.java
  docs/contributing-to-airbyte/building-new-connector/standard-source-tests.md
Labels: area/documentation, area/worker

#4274 Bump source Harvest docker version
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/fe2b4084-3386-4d3b-9ad6-308f61a6f1e6.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-harvest/Dockerfile
Labels: area/connectors

#3743 Source Facebook: migrate to CDK
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e7778cfc-e97c-4458-9ecb-b4f2bba8946c.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/README.md
  airbyte-integrations/connectors/source-facebook-marketing/acceptance-test-config.yml
  airbyte-integrations/connectors/source-facebook-marketing/build.gradle
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/__init__.py
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/configured_catalog_without_creatives.json
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/test_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/requirements.txt
  airbyte-integrations/connectors/source-facebook-marketing/sample_files/catalog.json
  airbyte-integrations/connectors/source-facebook-marketing/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-facebook-marketing/sample_files/configured_catalog_adcreatives.json
  airbyte-integrations/connectors/source-facebook-marketing/sample_files/configured_catalog_adsinsights.json
  airbyte-integrations/connectors/source-facebook-marketing/sample_files/sample_state.json
  airbyte-integrations/connectors/source-facebook-marketing/sample_files/simple_catalog.json
  airbyte-integrations/connectors/source-facebook-marketing/setup.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/api.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/client/__init__.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/client/api.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/client/client.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/common.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/ad_creatives.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/ad_sets.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/ads_insights_age_and_gender.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/ads_insights_country.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/ads_insights_dma.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/ads_insights_platform_and_device.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/ads_insights_region.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/source.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/spec.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_client.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_deep_merge.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/connectors, area/documentation

#4273 Track operation/namespace/prefix usage
  airbyte-integrations/connectors/destination-oracle/src/test-integration/java/io/airbyte/integrations/destination/oracle/OracleIntegrationTest.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/job_tracker/JobTracker.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/job_tracker/TrackingMetadata.java
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/job_tracker/JobTrackerTest.java
Labels: area/connectors, area/core

#4203 fix mysql-cdc OOM: use capped queue
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/435bb9a5-7887-4809-aa58-28c27df0d7ad.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/DebeziumRecordPublisher.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
Labels: area/connectors

#4287 fix master formatting
  airbyte-api/src/main/openapi/config.yaml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams.py
Labels: area/api, area/connectors

#4197 🎉 New Source: IBM DB2
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/447e0381-3780-4b46-bb62-00a4e3c8b8e2.json
  airbyte-config/init/src/main/resources/icons/db2.svg
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-db2/.dockerignore
  airbyte-integrations/connectors/source-db2/CHANGELOG.md
  airbyte-integrations/connectors/source-db2/Dockerfile
  airbyte-integrations/connectors/source-db2/README.md
  airbyte-integrations/connectors/source-db2/build.gradle
  airbyte-integrations/connectors/source-db2/src/main/java/io.airbyte.integrations.source.db2/Db2JdbcStreamingQueryConfiguration.java
  airbyte-integrations/connectors/source-db2/src/main/java/io.airbyte.integrations.source.db2/Db2Source.java
  airbyte-integrations/connectors/source-db2/src/main/resources/spec.json
  airbyte-integrations/connectors/source-db2/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/Db2SourceAcceptanceTest.java
  airbyte-integrations/connectors/source-db2/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/Db2SourceComprehensiveTest.java
  airbyte-integrations/connectors/source-db2/src/test/java/io.airbyte.integrations.source.db2/Db2JdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-jdbc/src/testFixtures/java/io/airbyte/integrations/source/jdbc/test/JdbcSourceAcceptanceTest.java
  docs/integrations/README.md
  docs/integrations/sources/db2.md
Labels: area/connectors, area/documentation

#4278 remove s3 logging from docker-compose and update upgrade docs
  .env
  docker-compose.yaml
  docs/operator-guides/upgrading-airbyte.md
Labels: area/documentation

#4310 Bump version: 0.26.2-alpha → 0.26.3-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend

#4308 Change all instances of DBT to dbt in markdown files.
  airbyte-integrations/bases/base-normalization/README.md
  airbyte-integrations/bases/base-normalization/dbt-project-template/README.md
  docs/SUMMARY.md
  docs/faq/differences-with/fivetran-vs-airbyte.md
  docs/faq/differences-with/meltano-vs-airbyte.md
  docs/faq/differences-with/pipelinewise-vs-airbyte.md
  docs/faq/differences-with/singer-vs-airbyte.md
  docs/faq/differences-with/stitchdata-vs-airbyte.md
  docs/faq/transformation-and-schemas.md
  docs/operator-guides/transformation-and-normalization/transformations-with-dbt.md
  docs/project-overview/roadmap.md
  docs/understanding-airbyte/basic-normalization.md
  docs/understanding-airbyte/connections/incremental-deduped-history.md
Labels: area/documentation

#4301 fix major kube performance issue
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
Labels: area/worker

#4267 Add fullstory identify call
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/components/hooks/services/Notification/NotificationService.tsx
  airbyte-webapp/src/components/hooks/useFullStory.tsx
  airbyte-webapp/src/config/index.ts
  airbyte-webapp/src/core/analytics/AnalyticsService.ts
  airbyte-webapp/src/pages/routes.tsx
Labels: area/frontend

#4238 Fix oracle integration test.
  airbyte-integrations/connectors/destination-oracle/src/test-integration/java/io/airbyte/integrations/destination/oracle/OracleIntegrationTest.java
Labels: area/connectors

#4313 Kube Improvements.
  airbyte-server/src/main/java/io/airbyte/server/errors/UncaughtExceptionMapper.java
  airbyte-tests/src/acceptanceTests/java/io/airbyte/test/acceptance/AcceptanceTests.java
  airbyte-workers/src/main/java/io/airbyte/workers/DefaultReplicationWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
  airbyte-workers/src/main/java/io/airbyte/workers/protocols/airbyte/DefaultAirbyteDestination.java
  airbyte-workers/src/main/java/io/airbyte/workers/protocols/airbyte/DefaultAirbyteSource.java
Labels: area/core, area/worker

#4324 Add Db2 to Summary.md in docs
  docs/SUMMARY.md
Labels: area/documentation

#4325 6/24/2021 connector changelog
  docs/project-overview/changelog/connectors.md
Labels: area/documentation

#4288 🐛 Bugfix incorrectly failing check connection operations in Google Ads and Amazon AP API connectors
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/253487c0-2246-43ba-a21f-5116b20a2c50.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e55879a8-0ef8-4557-abcf-ab34c53ec460.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/Dockerfile
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/client.py
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/source_google_ads/spec.json
  docs/integrations/sources/amazon-seller-partner.md
  docs/integrations/sources/google-ads.md
Labels: area/connectors, area/documentation, community_pr

#4009 🎉 Source Shopify: add pages, price rules and discount codes streams
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/9da77001-af33-4bcd-be46-6252bf9342b9.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-shopify/Dockerfile
  airbyte-integrations/connectors/source-shopify/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-shopify/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-shopify/integration_tests/no_refunds_catalog.json
  airbyte-integrations/connectors/source-shopify/integration_tests/state.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/discount_codes.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/pages.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/price_rules.json
  airbyte-integrations/connectors/source-shopify/source_shopify/source.py
  docs/integrations/sources/shopify.md
Labels: area/connectors, area/documentation, community_pr

#4332 Release Shopify source 0.1.6
  airbyte-integrations/connectors/source-google-ads/source_google_ads/spec.json
  airbyte-integrations/connectors/source-shopify/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-shopify/integration_tests/no_refunds_catalog.json
  airbyte-integrations/connectors/source-shopify/integration_tests/state.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/discount_codes.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/pages.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/price_rules.json
  airbyte-integrations/connectors/source-shopify/source_shopify/source.py
  docs/integrations/sources/shopify.md
Labels: area/connectors, area/documentation

#4317 Specify kube namespace
  airbyte-config/models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-config/models/src/main/java/io/airbyte/config/helpers/CloudLogs.java
  airbyte-config/models/src/main/java/io/airbyte/config/helpers/LogHelpers.java
  airbyte-config/models/src/main/java/io/airbyte/config/helpers/S3Logs.java
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/SchedulerApp.java
  kube/overlays/dev/kustomization.yaml
  kube/overlays/stable/kustomization.yaml
  kube/resources/scheduler-service-account.yaml
  kube/resources/scheduler.yaml
Labels: area/core

#4285 🐛 Source Mailchimp: use datacenter parameter from apikey info
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/b03a9f3e-22a5-11eb-adc1-0242ac120002.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-mailchimp/CHANGELOG.md
  airbyte-integrations/connectors/source-mailchimp/Dockerfile
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/source.py
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/streams.py
  docs/integrations/sources/mailchimp.md
Labels: area/connectors, area/documentation

#4293 Documentation: correct URL removing link to toy-connector old tutorial
  airbyte-integrations/bases/base-python/docs/tutorials/http_api_source.md
  docs/contributing-to-airbyte/python/tutorials/cdk-tutorial-python-http/7-use-connector-in-airbyte.md
Labels: area/documentation

#4334 add kube entrypoint env variable for google analytics
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/39f092a6-8c87-4f6f-a8d9-5cef45b7dbe1.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-googleanalytics-singer/Dockerfile
Labels: area/connectors

#4336 Bump version: 0.26.3-alpha → 0.26.4-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend

#4122 🎉 New source: AWS CloudTrail
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/6ff047c0-f5d5-4ce5-8c81-204a830fa7e1.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-aws-cloudtrail/.dockerignore
  airbyte-integrations/connectors/source-aws-cloudtrail/CHANGELOG.md
  airbyte-integrations/connectors/source-aws-cloudtrail/Dockerfile
  airbyte-integrations/connectors/source-aws-cloudtrail/README.md
  airbyte-integrations/connectors/source-aws-cloudtrail/acceptance-test-config.yml
  airbyte-integrations/connectors/source-aws-cloudtrail/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-aws-cloudtrail/build.gradle
  airbyte-integrations/connectors/source-aws-cloudtrail/integration_tests/__init__.py
  airbyte-integrations/connectors/source-aws-cloudtrail/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-aws-cloudtrail/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-aws-cloudtrail/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-aws-cloudtrail/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-aws-cloudtrail/integration_tests/state.json
  airbyte-integrations/connectors/source-aws-cloudtrail/main.py
  airbyte-integrations/connectors/source-aws-cloudtrail/requirements.txt
  airbyte-integrations/connectors/source-aws-cloudtrail/setup.py
  airbyte-integrations/connectors/source-aws-cloudtrail/source_aws_cloudtrail/__init__.py
  airbyte-integrations/connectors/source-aws-cloudtrail/source_aws_cloudtrail/schemas/management_events.json
  airbyte-integrations/connectors/source-aws-cloudtrail/source_aws_cloudtrail/source.py
  airbyte-integrations/connectors/source-aws-cloudtrail/source_aws_cloudtrail/spec.json
  airbyte-integrations/connectors/source-aws-cloudtrail/unit_tests/test_event_stream_slices.py
  docs/SUMMARY.md
  docs/integrations/sources/aws-cloudtrail.md
  tools/bin/ci_credentials.sh
Labels: area/connectors, area/documentation

#4002 🐛 300-page-gate issue for Tickets Stream in Freshdesk source connector
  .gitignore
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/ec4b9503-13cb-48ab-a4ab-6ade4be46567.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-freshdesk/CHANGELOG.md
  airbyte-integrations/connectors/source-freshdesk/Dockerfile
  airbyte-integrations/connectors/source-freshdesk/README.md
  airbyte-integrations/connectors/source-freshdesk/setup.py
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/api.py
  airbyte-integrations/connectors/source-freshdesk/unit_tests/test_300_page.py
Labels: area/connectors

#4343 Tweak notification tracking behavior
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/JobNotifier.java
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/JobNotifierTest.java
Labels: area/core

#3978 🎉 Source slack: new integration
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/c2281cee-86f9-4a86-bb48-d23286b4c7bd.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-slack/Dockerfile
  airbyte-integrations/connectors/source-slack/README.md
  airbyte-integrations/connectors/source-slack/acceptance-test-config.yml
  airbyte-integrations/connectors/source-slack/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-slack/build.gradle
  airbyte-integrations/connectors/source-slack/integration_tests/__init__.py
  airbyte-integrations/connectors/source-slack/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-slack/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-slack/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-slack/integration_tests/full_refresh_catalog.json
  airbyte-integrations/connectors/source-slack/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-slack/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-slack/source_slack/schemas/channel_messages.json
  airbyte-integrations/connectors/source-slack/source_slack/schemas/threads.json
  airbyte-integrations/connectors/source-slack/source_slack/source.py
  airbyte-integrations/connectors/source-slack/source_slack/spec.json
Labels: area/connectors

#4290 🐛 Bugfix for pagination in Shopify Source Connector #4284
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/9da77001-af33-4bcd-be46-6252bf9342b9.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-shopify/Dockerfile
  airbyte-integrations/connectors/source-shopify/setup.py
  airbyte-integrations/connectors/source-shopify/source_shopify/source.py
  airbyte-integrations/connectors/source-shopify/unit_tests/test_pagination.py
  docs/integrations/sources/shopify.md
Labels: area/connectors, area/documentation

#4339 🎉 New Destination: Google PubSub
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/356668e2-7e34-47f3-a3b0-67a8a481b692.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/destination-pubsub/.dockerignore
  airbyte-integrations/connectors/destination-pubsub/Dockerfile
  airbyte-integrations/connectors/destination-pubsub/README.md
  airbyte-integrations/connectors/destination-pubsub/build.gradle
  airbyte-integrations/connectors/destination-pubsub/src/main/java/io/airbyte/integrations/destination/pubsub/PubsubConsumer.java
  airbyte-integrations/connectors/destination-pubsub/src/main/java/io/airbyte/integrations/destination/pubsub/PubsubDestination.java
  airbyte-integrations/connectors/destination-pubsub/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-pubsub/src/test-integration/java/io/airbyte/integrations/destination/pubsub/PubsubDestinationAcceptanceTest.java
  docs/SUMMARY.md
  docs/integrations/destinations/pubsub.md
Labels: area/connectors, area/documentation, community_pr

#4350 Bump source looker connector version
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/00405b19-9768-4e0c-b1ae-9fc2ee2b2a8c.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-looker/CHANGELOG.md
  airbyte-integrations/connectors/source-looker/Dockerfile
  airbyte-integrations/connectors/source-looker/source_looker/client.py
  airbyte-integrations/connectors/source-looker/source_looker/schemas/run_looks.json
  docs/integrations/sources/looker.md
Labels: area/connectors, area/documentation

#4355 Update roadmap with more relevant information.
  docs/project-overview/roadmap.md
Labels: area/documentation

#4205 🎉 fix Google Adwords CI & publish new version
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/fdc8b827-3257-4b33-83cc-106d234c34d4.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-google-adwords-singer/Dockerfile
  airbyte-integrations/connectors/source-google-adwords-singer/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-adwords-singer/build.gradle
  airbyte-integrations/connectors/source-google-adwords-singer/integration_tests/__init__.py
  airbyte-integrations/connectors/source-google-adwords-singer/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-google-adwords-singer/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-google-adwords-singer/integration_tests/invalid_config.json
  docs/integrations/sources/google-adwords.md
Labels: area/connectors, area/documentation

#4008 Clarify the postgres connector supports replicating views
  docs/integrations/sources/postgres.md
Labels: area/documentation

#4379 FIx schema for required properties
  docs/contributing-to-airbyte/python/tutorials/cdk-tutorial-python-http/3-define-inputs.md
Labels: area/documentation, community_pr

#4323 Add paged results to Job History retrieval
  airbyte-api/src/main/openapi/config.yaml
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/DefaultJobPersistence.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/JobPersistence.java
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/DefaultJobPersistenceTest.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/JobHistoryHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/JobHistoryHandlerTest.java
  docs/reference/api/generated-api-html/index.html
Labels: area/api, area/core, area/documentation

#4368 save docker log space by setting log driver to none
  airbyte-workers/src/main/java/io/airbyte/workers/process/DockerProcessFactory.java
Labels: area/worker

#4391 Fix request connector form
  airbyte-webapp/src/views/Connector/RequestConnectorModal/components/ConnectorForm.tsx
Labels: area/frontend, type/bug

#4392 Add nullable state for dropdown.value
  airbyte-webapp/src/components/base/DropDown/DropDown.tsx
  airbyte-webapp/src/components/base/DropDown/components/ValueInput.tsx
Labels: area/frontend, type/bug

#4347 Add section how run custom dbt run
  docs/operator-guides/transformation-and-normalization/transformations-with-airbyte.md
Labels: area/documentation

#4413 use old seed mount only
  airbyte-server/seed.Dockerfile
  airbyte-tests/src/automaticMigrationAcceptanceTest/resources/docker-compose-migration-test-second-run.yaml
  docker-compose.yaml
  kube/resources/scheduler.yaml
Labels: area/core

#4418 respond to more code review for destination docs
  airbyte-integrations/connector-templates/source-java-jdbc/README.md
  airbyte-integrations/connectors/source-scaffold-java-jdbc/README.md
  docs/contributing-to-airbyte/tutorials/building-a-java-destination.md
  docs/understanding-airbyte/airbyte-specification.md
Labels: area/connectors, area/documentation

#4419 Fix broken links in docs.
  docs/contributing-to-airbyte/python/tutorials/cdk-tutorial-python-http/1-creating-the-source.md
  docs/contributing-to-airbyte/python/tutorials/cdk-tutorial-python-http/8-test-your-connector.md
  docs/contributing-to-airbyte/tutorials/building-a-python-source.md
  docs/deploying-airbyte/local-deployment.md
  docs/deploying-airbyte/on-aws-ec2.md
  docs/deploying-airbyte/on-azure-vm-cloud-shell.md
  docs/deploying-airbyte/on-gcp-compute-engine.md
  docs/project-overview/roadmap.md
  docs/understanding-airbyte/basic-normalization.md
Labels: area/documentation

#4309 Add note about repeated rows when attempting incremental append syncs with unchanged data
  docs/understanding-airbyte/connections/incremental-append.md
Labels: area/documentation

#4337 Documentation: Slack issue template
  docs/.gitbook/assets/issue-example.png
  docs/troubleshooting/README.md
Labels: area/documentation

#4395 Add Minio Support Docs.
  docs/deploying-airbyte/on-kubernetes.md
Labels: area/documentation

#4365 Add Minio support.
  .env
  airbyte-commons/src/main/resources/log4j2.xml
  airbyte-config/models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-config/models/src/main/java/io/airbyte/config/helpers/LogHelpers.java
  airbyte-config/models/src/main/java/io/airbyte/config/helpers/S3Logs.java
  docs/deploying-airbyte/on-kubernetes.md
  kube/overlays/dev/.env
  kube/overlays/stable/.env
  kube/resources/airbyte-minio.yaml
  kube/resources/kustomization.yaml
  kube/resources/scheduler.yaml
  kube/resources/server.yaml
  tools/bin/acceptance_test_kube.sh
Labels: area/documentation

#4421 Add CentOS 8 setup guide.
  docs/SUMMARY.md
  docs/faq/deploying-on-other-os.md
Labels: area/documentation

#4127 Source Oracle DB: Create comprehensive data type tests
  airbyte-integrations/connectors/source-oracle/src/test-integration/java/io/airbyte/integrations/source/oracle/OracleSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-oracle/src/test-integration/java/io/airbyte/integrations/source/oracle/OracleSourceComprehensiveTest.java
Labels: area/connectors

#4435 manual airbyte upgrade doc
  docs/operator-guides/upgrading-airbyte.md
Labels: area/documentation

#4394 don't log archive import binary
  airbyte-server/src/main/java/io/airbyte/server/RequestLogger.java
Labels: area/core

#4428 copy seed files from airbyte-config/init/build to airbyte-server to be used in migrations
  airbyte-server/build.gradle
Labels: area/core

#4297 Normalization: remove dedup cdc excluded
  airbyte-integrations/bases/base-normalization/.gitignore
  airbyte-integrations/bases/base-normalization/Dockerfile
  airbyte-integrations/bases/base-normalization/integration_tests/__init__.py
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/bigquery/test_primary_key_streams/final/airbyte_ctes/test_normalization/dedup_cdc_excluded_ab1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/bigquery/test_primary_key_streams/final/airbyte_ctes/test_normalization/dedup_cdc_excluded_ab2.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/bigquery/test_primary_key_streams/final/airbyte_ctes/test_normalization/dedup_cdc_excluded_ab3.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/bigquery/test_primary_key_streams/final/airbyte_ctes/test_normalization/dedup_cdc_excluded_ab4.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/bigquery/test_primary_key_streams/final/airbyte_tables/test_normalization/dedup_cdc_excluded.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/bigquery/test_primary_key_streams/final/airbyte_tables/test_normalization/dedup_cdc_excluded_scd.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/bigquery/test_primary_key_streams/models/dbt_schema_tests/schema_test.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/bigquery/test_primary_key_streams/models/generated/airbyte_ctes/test_normalization/dedup_cdc_excluded_ab1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/bigquery/test_primary_key_streams/models/generated/airbyte_ctes/test_normalization/dedup_cdc_excluded_ab2.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/bigquery/test_primary_key_streams/models/generated/airbyte_ctes/test_normalization/dedup_cdc_excluded_ab3.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/bigquery/test_primary_key_streams/models/generated/airbyte_ctes/test_normalization/dedup_cdc_excluded_ab4.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/bigquery/test_primary_key_streams/models/generated/airbyte_tables/test_normalization/dedup_cdc_excluded.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/bigquery/test_primary_key_streams/models/generated/airbyte_tables/test_normalization/dedup_cdc_excluded_scd.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/bigquery/test_primary_key_streams/models/generated/sources.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_primary_key_streams/final/airbyte_ctes/test_normalization/dedup_cdc_excluded_ab1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_primary_key_streams/final/airbyte_ctes/test_normalization/dedup_cdc_excluded_ab2.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_primary_key_streams/final/airbyte_ctes/test_normalization/dedup_cdc_excluded_ab3.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_primary_key_streams/final/airbyte_ctes/test_normalization/dedup_cdc_excluded_ab4.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_primary_key_streams/final/airbyte_tables/test_normalization/dedup_cdc_excluded.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_primary_key_streams/final/airbyte_tables/test_normalization/dedup_cdc_excluded_scd.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_primary_key_streams/models/dbt_schema_tests/schema_test.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_primary_key_streams/models/generated/airbyte_ctes/test_normalization/dedup_cdc_excluded_ab1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_primary_key_streams/models/generated/airbyte_ctes/test_normalization/dedup_cdc_excluded_ab2.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_primary_key_streams/models/generated/airbyte_ctes/test_normalization/dedup_cdc_excluded_ab3.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_primary_key_streams/models/generated/airbyte_ctes/test_normalization/dedup_cdc_excluded_ab4.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_primary_key_streams/models/generated/airbyte_tables/test_normalization/dedup_cdc_excluded.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_primary_key_streams/models/generated/airbyte_tables/test_normalization/dedup_cdc_excluded_scd.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_primary_key_streams/models/generated/sources.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/redshift/test_primary_key_streams/final/airbyte_tables/test_normalization/dedup_cdc_excluded.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/redshift/test_primary_key_streams/final/airbyte_tables/test_normalization/dedup_cdc_excluded_scd.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/redshift/test_primary_key_streams/models/generated/airbyte_ctes/test_normalization/dedup_cdc_excluded_ab1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/redshift/test_primary_key_streams/models/generated/airbyte_ctes/test_normalization/dedup_cdc_excluded_ab2.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/redshift/test_primary_key_streams/models/generated/airbyte_ctes/test_normalization/dedup_cdc_excluded_ab3.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/redshift/test_primary_key_streams/models/generated/airbyte_ctes/test_normalization/dedup_cdc_excluded_ab4.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/redshift/test_primary_key_streams/models/generated/airbyte_tables/test_normalization/dedup_cdc_excluded.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/redshift/test_primary_key_streams/models/generated/airbyte_tables/test_normalization/dedup_cdc_excluded_scd.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/redshift/test_primary_key_streams/models/generated/sources.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/snowflake/test_primary_key_streams/final/airbyte_ctes/TEST_NORMALIZATION/DEDUP_CDC_EXCLUDED_AB1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/snowflake/test_primary_key_streams/final/airbyte_ctes/TEST_NORMALIZATION/DEDUP_CDC_EXCLUDED_AB2.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/snowflake/test_primary_key_streams/final/airbyte_ctes/TEST_NORMALIZATION/DEDUP_CDC_EXCLUDED_AB3.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/snowflake/test_primary_key_streams/final/airbyte_ctes/TEST_NORMALIZATION/DEDUP_CDC_EXCLUDED_AB4.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/snowflake/test_primary_key_streams/final/airbyte_tables/TEST_NORMALIZATION/DEDUP_CDC_EXCLUDED.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/snowflake/test_primary_key_streams/final/airbyte_tables/TEST_NORMALIZATION/DEDUP_CDC_EXCLUDED_SCD.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/snowflake/test_primary_key_streams/models/dbt_schema_tests/schema_test.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/snowflake/test_primary_key_streams/models/generated/airbyte_ctes/TEST_NORMALIZATION/DEDUP_CDC_EXCLUDED_AB1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/snowflake/test_primary_key_streams/models/generated/airbyte_ctes/TEST_NORMALIZATION/DEDUP_CDC_EXCLUDED_AB2.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/snowflake/test_primary_key_streams/models/generated/airbyte_ctes/TEST_NORMALIZATION/DEDUP_CDC_EXCLUDED_AB3.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/snowflake/test_primary_key_streams/models/generated/airbyte_ctes/TEST_NORMALIZATION/DEDUP_CDC_EXCLUDED_AB4.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/snowflake/test_primary_key_streams/models/generated/airbyte_tables/TEST_NORMALIZATION/DEDUP_CDC_EXCLUDED.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/snowflake/test_primary_key_streams/models/generated/airbyte_tables/TEST_NORMALIZATION/DEDUP_CDC_EXCLUDED_SCD.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/snowflake/test_primary_key_streams/models/generated/sources.yml
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_primary_key_streams/data_input/catalog.json
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_primary_key_streams/data_input/messages.txt
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_primary_key_streams/dbt_data_tests/test_check_row_counts.sql
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_primary_key_streams/dbt_schema_tests/schema_test.yml
  airbyte-integrations/bases/base-normalization/normalization/transform_catalog/stream_processor.py
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/DefaultNormalizationRunner.java
Labels: area/worker, normalization

#4315 🐛 Source MySQl: Fixed MySQL CDC Decimal handling
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/435bb9a5-7887-4809-aa58-28c27df0d7ad.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/DebeziumRecordPublisher.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/source/mysql/CdcMySqlSourceComprehensiveTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/source/mysql/MySqlSourceComprehensiveTest.java
Labels: area/connectors

#3410 🎉 New source: Chargebee
  airbyte-integrations/connectors/source-chargebee/.dockerignore
  airbyte-integrations/connectors/source-chargebee/.gitignore
  airbyte-integrations/connectors/source-chargebee/Dockerfile
  airbyte-integrations/connectors/source-chargebee/README.md
  airbyte-integrations/connectors/source-chargebee/acceptance-test-config.yml
  airbyte-integrations/connectors/source-chargebee/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-chargebee/build.gradle
  airbyte-integrations/connectors/source-chargebee/integration_tests/__init__.py
  airbyte-integrations/connectors/source-chargebee/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-chargebee/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-chargebee/integration_tests/catalog.json
  airbyte-integrations/connectors/source-chargebee/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-chargebee/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-chargebee/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-chargebee/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-chargebee/main.py
  airbyte-integrations/connectors/source-chargebee/requirements.txt
  airbyte-integrations/connectors/source-chargebee/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-chargebee/setup.py
  airbyte-integrations/connectors/source-chargebee/source_chargebee/__init__.py
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/addon.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/customer.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/invoice.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/order.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/plan.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/subscription.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/source.py
  airbyte-integrations/connectors/source-chargebee/source_chargebee/spec.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/unit_test.py
Labels: community_pr
