Repository airbytehq/airbyte, pull requests merged in 2021-11, with the labels that each got.

#7463 Fix Google Analytics docs link on source definition
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/eff3616a-f9c3-11eb-9a03-0242ac130003.json
Labels: community

#7210 🐛 Source Zendesk chat: fix chats stream is only pulling for first page
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/40d24d0f-b8f9-4fe0-9e6c-b06c0f3f45e4.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-zendesk-chat/.dockerignore
  airbyte-integrations/connectors/source-zendesk-chat/Dockerfile
  airbyte-integrations/connectors/source-zendesk-chat/acceptance-test-config.yml
  airbyte-integrations/connectors/source-zendesk-chat/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-zendesk-chat/integration_tests/configured_catalog_incremental.json
  airbyte-integrations/connectors/source-zendesk-chat/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-zendesk-chat/main_dev.py
  airbyte-integrations/connectors/source-zendesk-chat/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-zendesk-chat/sample_files/sample_config.json
  airbyte-integrations/connectors/source-zendesk-chat/setup.py
  airbyte-integrations/connectors/source-zendesk-chat/source_zendesk_chat/source.py
  airbyte-integrations/connectors/source-zendesk-chat/source_zendesk_chat/streams.py
  docs/integrations/sources/zendesk-chat.md
Labels: area/documentation, area/connectors

#7214 🎉 New Source: Paystack 🌟
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/193bdcb8-1dd9-48d1-aade-91cadfd74f9b.json
  airbyte-config/init/src/main/resources/icons/paystack.svg
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-paystack/.dockerignore
  airbyte-integrations/connectors/source-paystack/BOOTSTRAP.md
  airbyte-integrations/connectors/source-paystack/Dockerfile
  airbyte-integrations/connectors/source-paystack/README.md
  airbyte-integrations/connectors/source-paystack/acceptance-test-config.yml
  airbyte-integrations/connectors/source-paystack/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-paystack/build.gradle
  airbyte-integrations/connectors/source-paystack/integration_tests/__init__.py
  airbyte-integrations/connectors/source-paystack/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-paystack/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-paystack/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-paystack/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-paystack/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-paystack/main.py
  airbyte-integrations/connectors/source-paystack/requirements.txt
  airbyte-integrations/connectors/source-paystack/sample_files/config.json
  airbyte-integrations/connectors/source-paystack/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-paystack/sample_files/state.json
  airbyte-integrations/connectors/source-paystack/setup.py
  airbyte-integrations/connectors/source-paystack/source_paystack/__init__.py
  airbyte-integrations/connectors/source-paystack/source_paystack/schemas/customers.json
  airbyte-integrations/connectors/source-paystack/source_paystack/schemas/disputes.json
  airbyte-integrations/connectors/source-paystack/source_paystack/schemas/invoices.json
  airbyte-integrations/connectors/source-paystack/source_paystack/schemas/refunds.json
  airbyte-integrations/connectors/source-paystack/source_paystack/schemas/settlements.json
  airbyte-integrations/connectors/source-paystack/source_paystack/schemas/subscriptions.json
  airbyte-integrations/connectors/source-paystack/source_paystack/schemas/transactions.json
  airbyte-integrations/connectors/source-paystack/source_paystack/schemas/transfers.json
  airbyte-integrations/connectors/source-paystack/source_paystack/source.py
  airbyte-integrations/connectors/source-paystack/source_paystack/spec.json
  airbyte-integrations/connectors/source-paystack/source_paystack/streams.py
  airbyte-integrations/connectors/source-paystack/unit_tests/__init__.py
  airbyte-integrations/connectors/source-paystack/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-paystack/unit_tests/test_source.py
  airbyte-integrations/connectors/source-paystack/unit_tests/test_streams.py
  docs/SUMMARY.md
  docs/integrations/README.md
  docs/integrations/sources/paystack.md
Labels: area/documentation, area/connectors, community, hacktober

#7519 Fix save button for renaming workspace
  airbyte-webapp/src/packages/cloud/views/workspaces/WorkspaceSettingsView/WorkspaceSettingsView.tsx
Labels: type/bug, area/frontend, area/platform

#7520 Support const selectors for oneOf
  airbyte-webapp/src/core/jsonSchema/schemaToYup.ts
Labels: type/bug, area/frontend, area/platform

#7532 Bump Airbyte version from 0.30.23-alpha to 0.30.24-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/platform, kubernetes

#7541 Bump Airbyte version from 0.30.23-alpha to 0.30.24-alpha (#7532)
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/platform, kubernetes

#4551 🎉 New Source Delighted!
  airbyte-integrations/connectors/source-delighted/.dockerignore
  airbyte-integrations/connectors/source-delighted/Dockerfile
  airbyte-integrations/connectors/source-delighted/README.md
  airbyte-integrations/connectors/source-delighted/acceptance-test-config.yml
  airbyte-integrations/connectors/source-delighted/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-delighted/build.gradle
  airbyte-integrations/connectors/source-delighted/integration_tests/__init__.py
  airbyte-integrations/connectors/source-delighted/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-delighted/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-delighted/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-delighted/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-delighted/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-delighted/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-delighted/main.py
  airbyte-integrations/connectors/source-delighted/requirements.txt
  airbyte-integrations/connectors/source-delighted/setup.py
  airbyte-integrations/connectors/source-delighted/source_delighted/__init__.py
  airbyte-integrations/connectors/source-delighted/source_delighted/schemas/TODO.md
  airbyte-integrations/connectors/source-delighted/source_delighted/schemas/bounced_people.json
  airbyte-integrations/connectors/source-delighted/source_delighted/schemas/people.json
  airbyte-integrations/connectors/source-delighted/source_delighted/schemas/survey_responses.json
  airbyte-integrations/connectors/source-delighted/source_delighted/schemas/unsubscribed_people.json
  airbyte-integrations/connectors/source-delighted/source_delighted/source.py
  airbyte-integrations/connectors/source-delighted/source_delighted/spec.json
  airbyte-integrations/connectors/source-delighted/unit_tests/unit_test.py
  docs/integrations/sources/delighted.md
Labels: area/documentation, area/connectors, community, hacktober

#7540 Publish PR 4551: new source delighted
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/cc88c43f-6f53-4e8a-8c4d-b284baaf9635.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-delighted/acceptance-test-config.yml
  airbyte-integrations/connectors/source-delighted/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-delighted/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-delighted/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-delighted/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-delighted/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-delighted/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-delighted/main.py
  airbyte-integrations/connectors/source-delighted/setup.py
  airbyte-integrations/connectors/source-delighted/source_delighted/schemas/TODO.md
  airbyte-integrations/connectors/source-delighted/source_delighted/schemas/bounced_people.json
  airbyte-integrations/connectors/source-delighted/source_delighted/schemas/bounces.json
  airbyte-integrations/connectors/source-delighted/source_delighted/schemas/people.json
  airbyte-integrations/connectors/source-delighted/source_delighted/schemas/unsubscribes.json
  airbyte-integrations/connectors/source-delighted/source_delighted/source.py
  airbyte-integrations/connectors/source-delighted/unit_tests/unit_test.py
  tools/bin/ci_credentials.sh
Labels: area/connectors

#7005 🎉 New Destination: Elasticsearch
  .gitignore
  .vscode/settings.json
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/68f351a7-2745-4bef-ad7f-996b8e51bb8c.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/destination-elasticsearch/.dockerignore
  airbyte-integrations/connectors/destination-elasticsearch/Dockerfile
  airbyte-integrations/connectors/destination-elasticsearch/README.md
  airbyte-integrations/connectors/destination-elasticsearch/bootstrap.md
  airbyte-integrations/connectors/destination-elasticsearch/build.gradle
  airbyte-integrations/connectors/destination-elasticsearch/docker-compose.yaml
  airbyte-integrations/connectors/destination-elasticsearch/src/main/java/io/airbyte/integrations/destination/elasticsearch/ConnectorConfiguration.java
  airbyte-integrations/connectors/destination-elasticsearch/src/main/java/io/airbyte/integrations/destination/elasticsearch/ElasticsearchAirbyteMessageConsumerFactory.java
  airbyte-integrations/connectors/destination-elasticsearch/src/main/java/io/airbyte/integrations/destination/elasticsearch/ElasticsearchAuthenticationMethod.java
  airbyte-integrations/connectors/destination-elasticsearch/src/main/java/io/airbyte/integrations/destination/elasticsearch/ElasticsearchConnection.java
  airbyte-integrations/connectors/destination-elasticsearch/src/main/java/io/airbyte/integrations/destination/elasticsearch/ElasticsearchDestination.java
  airbyte-integrations/connectors/destination-elasticsearch/src/main/java/io/airbyte/integrations/destination/elasticsearch/ElasticsearchWriteConfig.java
  airbyte-integrations/connectors/destination-elasticsearch/src/main/resources/log4j2-test.example.yml
  airbyte-integrations/connectors/destination-elasticsearch/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-elasticsearch/src/test-integration/java/io/airbyte/integrations/destination/elasticsearch/ElasticsearchDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-elasticsearch/src/test/java/io/airbyte/integrations/destination/elasticsearch/ConnectorConfigurationTest.java
  airbyte-integrations/connectors/destination-elasticsearch/src/test/java/io/airbyte/integrations/destination/elasticsearch/ElasticsearchConnectionTest.java
  airbyte-integrations/connectors/destination-elasticsearch/src/test/java/io/airbyte/integrations/destination/elasticsearch/ElasticsearchDestinationTest.java
  airbyte-integrations/connectors/destination-elasticsearch/src/test/java/io/airbyte/integrations/destination/elasticsearch/elasticsearch.yml
  docs/SUMMARY.md
  docs/integrations/README.md
  docs/integrations/destinations/elasticsearch.md
Labels: area/documentation, area/connectors, community, hacktober, gl

#7550 Publish PR 7005: new elasticsearch destination
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/68f351a7-2745-4bef-ad7f-996b8e51bb8c.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/connectors/destination-elasticsearch/docker-compose.yaml
  airbyte-integrations/connectors/destination-elasticsearch/src/test/java/io/airbyte/integrations/destination/elasticsearch/elasticsearch.yml
Labels: area/connectors

#7548 Bump Airbyte version from 0.30.24-alpha to 0.30.25-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/platform, kubernetes

#6966 🎉 New Source: Retently
  airbyte-integrations/connectors/source-retently/.dockerignore
  airbyte-integrations/connectors/source-retently/.gitignore
  airbyte-integrations/connectors/source-retently/Dockerfile
  airbyte-integrations/connectors/source-retently/README.md
  airbyte-integrations/connectors/source-retently/acceptance-test-config.yml
  airbyte-integrations/connectors/source-retently/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-retently/build.gradle
  airbyte-integrations/connectors/source-retently/integration_tests/__init__.py
  airbyte-integrations/connectors/source-retently/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-retently/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-retently/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-retently/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-retently/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-retently/main.py
  airbyte-integrations/connectors/source-retently/requirements.txt
  airbyte-integrations/connectors/source-retently/sample_files/config.json
  airbyte-integrations/connectors/source-retently/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-retently/sample_files/invalid_config.json
  airbyte-integrations/connectors/source-retently/setup.py
  airbyte-integrations/connectors/source-retently/source_retently/__init__.py
  airbyte-integrations/connectors/source-retently/source_retently/schemas/companies.json
  airbyte-integrations/connectors/source-retently/source_retently/schemas/customers.json
  airbyte-integrations/connectors/source-retently/source_retently/schemas/reports.json
  airbyte-integrations/connectors/source-retently/source_retently/source.py
  airbyte-integrations/connectors/source-retently/source_retently/spec.json
  airbyte-integrations/connectors/source-retently/unit_tests/__init__.py
  airbyte-integrations/connectors/source-retently/unit_tests/test_source.py
  airbyte-integrations/connectors/source-retently/unit_tests/test_streams.py
Labels: area/connectors, community, hacktober, zzm

#7552 Publish PR 6966: new source retently
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/db04ecd1-42e7-4115-9cec-95812905c626.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-retently/acceptance-test-config.yml
  airbyte-integrations/connectors/source-retently/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-retently/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-retently/main.py
  airbyte-integrations/connectors/source-retently/sample_files/invalid_config.json
  airbyte-integrations/connectors/source-retently/setup.py
  airbyte-integrations/connectors/source-retently/source_retently/schemas/customers.json
  airbyte-integrations/connectors/source-retently/source_retently/schemas/reports.json
  airbyte-integrations/connectors/source-retently/unit_tests/test_source.py
  tools/bin/ci_credentials.sh
Labels: area/connectors

#7553 📖 Add connector Development UX handbook
  docs/.gitbook/assets/ux_hierarchy_pyramid.png
  docs/.gitbook/assets/ux_username_bad.png
  docs/.gitbook/assets/ux_username_good.png
  docs/SUMMARY.md
  docs/connector-development/ux-handbook/README.md
Labels: area/documentation

#7524 Surveymonkey: oAuth backend.
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/badc5925-0485-42be-8caa-b34096cb71b5.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-surveymonkey/Dockerfile
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/source.py
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/spec.json
  airbyte-oauth/src/main/java/io/airbyte/oauth/OAuthImplementationFactory.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/SurveymonkeyOAuthFlow.java
  airbyte-oauth/src/test-integration/java/io.airbyte.oauth.flows/SurveymonkeyOAuthFlowIntegrationTest.java
  airbyte-oauth/src/test-integration/java/io/airbyte/oauth/flows/OAuthFlowIntegrationTest.java
  airbyte-oauth/src/test/java/io/airbyte/oauth/flows/SurveymonkeyOAuthFlowTest.java
  docs/integrations/sources/surveymonkey.md
  tools/git_hooks/spec_linter.py
Labels: area/documentation, area/connectors

#6975 🎉 New Source: Sentry
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/cdaf146a-9b75-49fd-9dd2-9d64a0bb4781.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-sentry/.dockerignore
  airbyte-integrations/connectors/source-sentry/.gitignore
  airbyte-integrations/connectors/source-sentry/Dockerfile
  airbyte-integrations/connectors/source-sentry/README.md
  airbyte-integrations/connectors/source-sentry/acceptance-test-config.yml
  airbyte-integrations/connectors/source-sentry/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-sentry/bootstrap.md
  airbyte-integrations/connectors/source-sentry/build.gradle
  airbyte-integrations/connectors/source-sentry/integration_tests/__init__.py
  airbyte-integrations/connectors/source-sentry/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-sentry/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-sentry/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-sentry/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-sentry/main.py
  airbyte-integrations/connectors/source-sentry/requirements.txt
  airbyte-integrations/connectors/source-sentry/setup.py
  airbyte-integrations/connectors/source-sentry/source_sentry/__init__.py
  airbyte-integrations/connectors/source-sentry/source_sentry/schemas/events.json
  airbyte-integrations/connectors/source-sentry/source_sentry/schemas/issues.json
  airbyte-integrations/connectors/source-sentry/source_sentry/schemas/project_detail.json
  airbyte-integrations/connectors/source-sentry/source_sentry/schemas/projects.json
  airbyte-integrations/connectors/source-sentry/source_sentry/source.py
  airbyte-integrations/connectors/source-sentry/source_sentry/spec.json
  airbyte-integrations/connectors/source-sentry/source_sentry/streams.py
  airbyte-integrations/connectors/source-sentry/unit_tests/__init__.py
  airbyte-integrations/connectors/source-sentry/unit_tests/test_source.py
  airbyte-integrations/connectors/source-sentry/unit_tests/test_streams.py
  docs/SUMMARY.md
  docs/integrations/README.md
  docs/integrations/sources/sentry.md
Labels: area/documentation, area/connectors, community, hacktober

#7537 use ADD to reduce docker image sizes
  .bumpversion.cfg
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-workers/Dockerfile
Labels: area/worker, area/platform, area/server, area/scheduler

#7377 🐛 Source Zendesk Support: fix initially_assigned_at type in ticket metrics
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/79c1aa37-dae3-42ae-b333-d1c105477715.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-zendesk-support/Dockerfile
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/ticket_metrics.json
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors, community

#7464 🎉 Source Google Directory: migrate to the CDK
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/d19ae824-e289-4b14-995a-0632eb46d246.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-google-directory/.dockerignore
  airbyte-integrations/connectors/source-google-directory/Dockerfile
  airbyte-integrations/connectors/source-google-directory/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-directory/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-google-directory/build.gradle
  airbyte-integrations/connectors/source-google-directory/integration_tests/__init__.py
  airbyte-integrations/connectors/source-google-directory/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-google-directory/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-google-directory/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-google-directory/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-google-directory/main.py
  airbyte-integrations/connectors/source-google-directory/requirements.txt
  airbyte-integrations/connectors/source-google-directory/setup.py
  airbyte-integrations/connectors/source-google-directory/source_google_directory/api.py
  airbyte-integrations/connectors/source-google-directory/source_google_directory/client.py
  airbyte-integrations/connectors/source-google-directory/source_google_directory/schemas/group_members.json
  airbyte-integrations/connectors/source-google-directory/source_google_directory/schemas/groups.json
  airbyte-integrations/connectors/source-google-directory/source_google_directory/schemas/users.json
  airbyte-integrations/connectors/source-google-directory/source_google_directory/source.py
  docs/integrations/sources/google-directory.md
Labels: area/documentation, area/connectors

#7570 Setup the right version for the docker container
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-workers/Dockerfile
Labels: area/worker, area/platform, area/server, area/scheduler

#7439 :bug: source mixpanel: match API limitation of requests rate
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/12928b32-bf0a-4f1e-964f-07e12e37153a.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-mixpanel/Dockerfile
  airbyte-integrations/connectors/source-mixpanel/acceptance-test-config.yml
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/source.py
  docs/integrations/sources/mixpanel.md
Labels: area/documentation, area/connectors

#7561 Reduce unnecessary socat logs.
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
Labels: area/worker, area/platform

#7582 remove kubectl from worker
  airbyte-workers/Dockerfile
Labels: area/worker, area/platform

#7578 upgrade fabric8 kube client from 5.5.0 -> 5.9.0
  airbyte-scheduler/app/build.gradle
Labels: area/platform, area/scheduler

#7504 Refactor JDBC JSON_Format into JDBC utils
  airbyte-db/lib/src/main/java/io/airbyte/db/jdbc/JdbcUtils.java
  airbyte-integrations/connectors/destination-databricks/src/test-integration/java/io/airbyte/integrations/destination/databricks/DatabricksDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-jdbc/src/test-integration/java/io/airbyte/integrations/destination/jdbc/JdbcDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mssql-strict-encrypt/src/test-integration/java/io/airbyte/integrations/destination/mssql_strict_encrypt/MssqlStrictEncryptDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mssql/src/test-integration/java/io/airbyte/integrations/destination/mssql/MSSQLDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mssql/src/test-integration/java/io/airbyte/integrations/destination/mssql/MSSQLDestinationAcceptanceTestSSL.java
  airbyte-integrations/connectors/destination-mssql/src/test-integration/java/io/airbyte/integrations/destination/mssql/SshMSSQLDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mysql-strict-encrypt/src/test-integration/java/io/airbyte/integrations/destination/mysql/MySQLStrictEncryptDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mysql/src/test-integration/java/io/airbyte/integrations/destination/mysql/MySQLDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mysql/src/test-integration/java/io/airbyte/integrations/destination/mysql/SshMySQLDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mysql/src/test-integration/java/io/airbyte/integrations/destination/mysql/SslMySQLDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-oracle/src/test-integration/java/io/airbyte/integrations/destination/oracle/SshOracleDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-oracle/src/test-integration/java/io/airbyte/integrations/destination/oracle/UnencryptedOracleDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/src/test-integration/java/io/airbyte/integrations/destination/postgres/PostgresDestinationStrictEncryptAcceptanceTest.java
  airbyte-integrations/connectors/destination-postgres/src/test-integration/java/io/airbyte/integrations/destination/postgres/PostgresDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-postgres/src/test-integration/java/io/airbyte/integrations/destination/postgres/SshPostgresDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/RedshiftCopyDestinationAcceptanceTest.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/DefaultJobPersistence.java
Labels: area/connectors, area/platform, community, area/scheduler

#6963 🎉 New Source: Freshsales
  airbyte-integrations/connectors/source-freshsales/.dockerignore
  airbyte-integrations/connectors/source-freshsales/Dockerfile
  airbyte-integrations/connectors/source-freshsales/README.md
  airbyte-integrations/connectors/source-freshsales/acceptance-test-config.yml
  airbyte-integrations/connectors/source-freshsales/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-freshsales/build.gradle
  airbyte-integrations/connectors/source-freshsales/integration_tests/__init__.py
  airbyte-integrations/connectors/source-freshsales/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-freshsales/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-freshsales/integration_tests/integration_test.py
  airbyte-integrations/connectors/source-freshsales/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-freshsales/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-freshsales/main.py
  airbyte-integrations/connectors/source-freshsales/requirements.txt
  airbyte-integrations/connectors/source-freshsales/setup.py
  airbyte-integrations/connectors/source-freshsales/source_freshsales/__init__.py
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/accounts.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/completed_tasks.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/contacts.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/lost_deals.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/open_deals.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/open_tasks.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/past_appointments.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/upcoming_appointments.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/won_deals.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/source.py
  airbyte-integrations/connectors/source-freshsales/source_freshsales/spec.json
  airbyte-integrations/connectors/source-freshsales/unit_tests/__init__.py
  airbyte-integrations/connectors/source-freshsales/unit_tests/conftest.py
  airbyte-integrations/connectors/source-freshsales/unit_tests/test_source.py
Labels: area/connectors, community, hacktober

#7584 fixed bug which crashes okta log incremental sync
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/1d4fdb25-64fc-4569-92da-fcdca79a8372.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-okta/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-okta/source_okta/source.py
Labels: area/connectors, community

#7585 Publish PR 6963: new source freshsales
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/eca08d79-7b92-4065-b7f3-79c14836ebe7.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/destination-oracle/src/test-integration/java/io/airbyte/integrations/destination/oracle/UnencryptedOracleDestinationAcceptanceTest.java
  airbyte-integrations/connectors/source-freshsales/acceptance-test-config.yml
  airbyte-integrations/connectors/source-freshsales/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-freshsales/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/accounts.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/contacts.json
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/source.py
  tools/bin/ci_credentials.sh
Labels: area/connectors

#7586 Test PR 7584: Okta source incremental streams
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/1d4fdb25-64fc-4569-92da-fcdca79a8372.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-okta/Dockerfile
  airbyte-integrations/connectors/source-okta/acceptance-test-config.yml
  airbyte-integrations/connectors/source-okta/source_okta/source.py
  docs/integrations/sources/okta.md
Labels: area/documentation, area/connectors

#7501 Generate seed connector specs on build
  airbyte-config/init/src/main/java/io/airbyte/config/init/SeedType.java
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-config/models/build.gradle
  airbyte-config/models/src/main/resources/types/DockerImageSpec.yaml
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/DatabaseConfigPersistence.java
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/YamlSeedConfigPersistence.java
  airbyte-config/persistence/src/test/java/io/airbyte/config/persistence/YamlSeedConfigPersistenceTest.java
  airbyte-config/specs/README.md
  airbyte-config/specs/build.gradle
  airbyte-config/specs/src/main/java/io/airbyte/config/specs/GcsBucketSpecFetcher.java
  airbyte-config/specs/src/main/java/io/airbyte/config/specs/SeedConnectorSpecGenerator.java
  airbyte-config/specs/src/main/java/io/airbyte/config/specs/SeedConnectorType.java
  airbyte-config/specs/src/test/java/io/airbyte/config/specs/GcsBucketSpecFetcherTest.java
  airbyte-config/specs/src/test/java/io/airbyte/config/specs/SeedConnectorSpecGeneratorTest.java
  airbyte-json-validation/build.gradle
  airbyte-protocol/models/build.gradle
  airbyte-scheduler/client/build.gradle
  airbyte-scheduler/client/src/main/java/io/airbyte/scheduler/client/BucketSpecCacheSchedulerClient.java
  airbyte-scheduler/client/src/test/java/io/airbyte/scheduler/client/BucketSpecCacheSchedulerClientTest.java
  airbyte-server/build.gradle
  build.gradle
  settings.gradle
Labels: area/platform, area/protocol, area/server, area/scheduler

#7562 🎉 Source Hubspot: Migrate Hubspot source to CDK structure
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/36c891d9-4bd9-43ac-bad2-10e12756272c.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-hubspot/.dockerignore
  airbyte-integrations/connectors/source-hubspot/.gitignore
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/build.gradle
  airbyte-integrations/connectors/source-hubspot/main.py
  airbyte-integrations/connectors/source-hubspot/requirements.txt
  airbyte-integrations/connectors/source-hubspot/setup.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/api.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/client.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/source.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_field_type_converting.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors

#7505 :bug: source mixpanel: hardcoded 'standard' properties for engage stream
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/12928b32-bf0a-4f1e-964f-07e12e37153a.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-mixpanel/Dockerfile
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/schemas/engage.json
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/source.py
  docs/integrations/sources/mixpanel.md
Labels: area/documentation, area/connectors

#7413 🐛 Destination BigQuery-denormalized: Added conversion from JSON Datetime to BigQuery format
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/079d5540-f236-4294-ba7c-ade8fd918496.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/connectors/destination-bigquery-denormalized/BOOTSTRAP.md
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedRecordConsumer.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedDestinationTest.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/util/BigQueryDenormalizedTestDataUtils.java
  airbyte-integrations/connectors/destination-bigquery/BOOTSTRAP.md
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryUtils.java
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, gl

#7591 Fix iterable memory consumption
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/2e875208-0c0b-4ee4-9e92-1cb3156ea799.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-iterable/Dockerfile
  airbyte-integrations/connectors/source-iterable/setup.py
  airbyte-integrations/connectors/source-iterable/source_iterable/api.py
  airbyte-integrations/connectors/source-iterable/unit_tests/__init__.py
  airbyte-integrations/connectors/source-iterable/unit_tests/test_exports_stream.py
  docs/integrations/sources/iterable.md
Labels: area/documentation, area/connectors

#7569 Documentation around temporal versioning
  airbyte-workers/README.md
Labels: area/worker, area/platform

#7581 Fixed compile errors in javadoc content.
  airbyte-commons/src/main/java/io/airbyte/commons/logging/MdcScope.java
  airbyte-commons/src/main/java/io/airbyte/commons/util/AutoCloseableIterators.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/split_secrets/ReadOnlySecretPersistence.java
  airbyte-db/lib/src/main/java/io/airbyte/db/instance/FlywayMigrationDatabase.java
  airbyte-migration/src/main/java/io/airbyte/migrate/migrations/MigrationV0_14_3.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/SalesforceOAuthFlow.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/JobPersistence.java
  airbyte-server/src/main/java/io/airbyte/server/ConfigDumpExporter.java
  airbyte-server/src/main/java/io/airbyte/server/ConfigDumpImporter.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePortManagerSingleton.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/CancellationHandler.java
Labels: area/worker, area/platform, area/server, area/scheduler

#7288 🎉 Destination S3 & GCS: support additional properties
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/4816b78f-1489-44c1-9060-4b19d5fa9362.json
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/ca8f6566-e555-4b40-943a-545bf123117a.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/connectors/destination-databricks/Dockerfile
  airbyte-integrations/connectors/destination-databricks/build.gradle
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksStreamCopier.java
  airbyte-integrations/connectors/destination-databricks/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-gcs/Dockerfile
  airbyte-integrations/connectors/destination-gcs/build.gradle
  airbyte-integrations/connectors/destination-gcs/src/main/java/io/airbyte/integrations/destination/gcs/avro/GcsAvroWriter.java
  airbyte-integrations/connectors/destination-gcs/src/main/java/io/airbyte/integrations/destination/gcs/parquet/GcsParquetWriter.java
  airbyte-integrations/connectors/destination-gcs/src/main/java/io/airbyte/integrations/destination/gcs/writer/ProductionWriterFactory.java
  airbyte-integrations/connectors/destination-gcs/src/test-integration/java/io/airbyte/integrations/destination/gcs/GcsAvroDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-gcs/src/test-integration/java/io/airbyte/integrations/destination/gcs/GcsDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-gcs/src/test-integration/java/io/airbyte/integrations/destination/gcs/GcsParquetDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-s3/Dockerfile
  airbyte-integrations/connectors/destination-s3/build.gradle
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/avro/AvroConstants.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/avro/AvroNameTransformer.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/avro/AvroRecordFactory.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/avro/JsonFieldNameUpdater.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/avro/JsonToAvroSchemaConverter.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/avro/S3AvroConstants.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/avro/S3AvroWriter.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/parquet/S3ParquetWriter.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/writer/ProductionWriterFactory.java
  airbyte-integrations/connectors/destination-s3/src/test-integration/java/io/airbyte/integrations/destination/s3/S3AvroDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-s3/src/test-integration/java/io/airbyte/integrations/destination/s3/S3DestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-s3/src/test-integration/java/io/airbyte/integrations/destination/s3/S3ParquetDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-s3/src/test/java/io/airbyte/integrations/destination/s3/avro/JsonFieldNameUpdaterTest.java
  airbyte-integrations/connectors/destination-s3/src/test/java/io/airbyte/integrations/destination/s3/avro/JsonToAvroConverterTest.java
  airbyte-integrations/connectors/destination-s3/src/test/resources/parquet/json_schema_converter/json_conversion_test_cases.json
  airbyte-integrations/connectors/destination-s3/src/test/resources/parquet/json_schema_converter/type_conversion_test_cases.json
  docs/SUMMARY.md
  docs/integrations/destinations/databricks.md
  docs/integrations/destinations/gcs.md
  docs/integrations/destinations/s3.md
  docs/understanding-airbyte/json-avro-conversion.md
  settings.gradle
Labels: area/documentation, area/connectors

#7599 Bump Airbyte version from 0.30.25-alpha to 0.30.26-alpha
  .bumpversion.cfg
  .env
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#7606 Bump Airbyte version from 0.30.26-alpha to 0.30.27-alpha
  .bumpversion.cfg
  .env
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#7397 Refactor EnvConfigs to be used just in main() and simplify LogClientDelegate to use a pojo LogConfiguration instead
  airbyte-config/models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-config/models/src/main/java/io/airbyte/config/helpers/GcsLogs.java
  airbyte-config/models/src/main/java/io/airbyte/config/helpers/LogClientSingleton.java
  airbyte-config/models/src/main/java/io/airbyte/config/helpers/LogConfigDelegator.java
  airbyte-config/models/src/main/java/io/airbyte/config/helpers/LogConfigs.java
  airbyte-config/models/src/main/java/io/airbyte/config/helpers/LogConfiguration.java
  airbyte-config/models/src/test/java/io/airbyte/config/helpers/GcsLogsTest.java
  airbyte-config/models/src/test/java/io/airbyte/config/helpers/KubeLoggingConfigTest.java
  airbyte-config/models/src/test/java/io/airbyte/config/helpers/LogClientSingletonTest.java
  airbyte-config/models/src/test/java/io/airbyte/config/helpers/S3LogsTest.java
  airbyte-config/persistence/src/test-integration/java/io/airbyte/config/persistence/GoogleSecretManagerPersistenceIntegrationTest.java
  airbyte-db/lib/src/main/java/io/airbyte/db/Databases.java
  airbyte-db/lib/src/main/java/io/airbyte/db/instance/configs/migrations/V0_30_22_001__Store_last_sync_state.java
  airbyte-db/lib/src/test/java/io/airbyte/db/instance/configs/migrations/V0_30_22_001__Store_last_sync_state_test.java
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/JobSubmitter.java
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/SchedulerApp.java
  airbyte-scheduler/app/src/test/java/io/airbyte/scheduler/app/JobSubmitterTest.java
  airbyte-server/src/main/java/io/airbyte/server/ConfigurationApiFactory.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/main/java/io/airbyte/server/ServerFactory.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/converters/JobConverter.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/JobHistoryHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/LogsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SchedulerHandler.java
  airbyte-server/src/test/java/io/airbyte/server/RequestLoggerTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/ConfigurationApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/converters/JobConverterTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/JobHistoryHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/LogsHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/SchedulerHandlerTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerApp.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/SyncWorkflow.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalAttemptExecution.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/check/connection/CheckConnectionActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/discover/catalog/DiscoverCatalogActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/spec/SpecActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/DefaultReplicationWorkerTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/normalization/DefaultNormalizationRunnerTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/protocols/airbyte/DefaultAirbyteDestinationTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/protocols/airbyte/DefaultAirbyteSourceTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/TemporalAttemptExecutionTest.java
Labels: area/worker, area/platform, area/server, area/scheduler

#7450 Source File Secure: Refactor to use the CDK
  airbyte-integrations/connectors/source-file-secure/Dockerfile
  airbyte-integrations/connectors/source-file-secure/acceptance-test-config.yml
  airbyte-integrations/connectors/source-file-secure/build.gradle
  airbyte-integrations/connectors/source-file-secure/integration_tests/config.json
  airbyte-integrations/connectors/source-file-secure/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-file-secure/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-file-secure/main.py
  airbyte-integrations/connectors/source-file-secure/requirements.txt
  airbyte-integrations/connectors/source-file-secure/setup.py
  airbyte-integrations/connectors/source-file-secure/source_file_secure/source.py
  airbyte-integrations/connectors/source-file-secure/unit_tests/unit_test.py
Labels: area/connectors

#7608 Bump Airbyte version from 0.30.27-alpha to 0.30.28-alpha
  .bumpversion.cfg
  .env
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#7589 Fix publishing docs
  docs/connector-development/README.md
Labels: area/documentation

#7618 Update Databricks doc
  docs/integrations/destinations/databricks.md
Labels: area/documentation

#7619 🐛Source Iterable: Fix date parsing
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/bases/source-acceptance-test/CHANGELOG.md
  airbyte-integrations/bases/source-acceptance-test/Dockerfile
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/tests/test_incremental.py
  airbyte-integrations/bases/source-acceptance-test/unit_tests/test_json_schema_helper.py
  airbyte-integrations/connectors/source-iterable/Dockerfile
  airbyte-integrations/connectors/source-iterable/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-iterable/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-iterable/source_iterable/api.py
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/templates.json
  docs/integrations/sources/iterable.md
Labels: area/documentation, area/connectors

#7621 Bump Airbyte version from 0.30.28-alpha to 0.30.29-alpha
  .bumpversion.cfg
  .env
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#7440 Facebook pages: generate Page token
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/010eb12f-837b-4685-892d-0a39f76a98f5.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/tests/test_full_refresh.py
  airbyte-integrations/connectors/source-facebook-pages/Dockerfile
  airbyte-integrations/connectors/source-facebook-pages/acceptance-test-config.yml
  airbyte-integrations/connectors/source-facebook-pages/source_facebook_pages/source.py
  airbyte-integrations/connectors/source-facebook-pages/source_facebook_pages/spec.json
  docs/integrations/sources/facebook-pages.md
Labels: area/documentation, area/connectors

#7559 🐛 Source MySQL: Value '65535' is outside valid range for type
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-db/lib/src/main/java/io/airbyte/db/jdbc/JdbcSourceOperations.java
  airbyte-integrations/connectors/source-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql-strict-encrypt/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/source/mysql/MySqlSourceDatatypeTest.java
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, gl

#7633 format master
  airbyte-db/lib/src/main/java/io/airbyte/db/jdbc/JdbcSourceOperations.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedRecordConsumer.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedDestinationTest.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/util/BigQueryDenormalizedTestDataUtils.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryUtils.java
  airbyte-integrations/connectors/destination-s3/src/test-integration/java/io/airbyte/integrations/destination/s3/S3AvroDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-s3/src/test/java/io/airbyte/integrations/destination/s3/avro/JsonToAvroConverterTest.java
  airbyte-integrations/connectors/destination-s3/src/test/resources/parquet/json_schema_converter/json_conversion_test_cases.json
  airbyte-integrations/connectors/destination-s3/src/test/resources/parquet/json_schema_converter/type_conversion_test_cases.json
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/source/mysql/MySqlSourceDatatypeTest.java
Labels: area/connectors

#7574 Oauth UI style fixes
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/core/domain/connector/types.ts
  airbyte-webapp/src/hooks/services/useConnectorAuth.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/AuthButton.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/useOauthFlowAdapter.tsx
Labels: area/frontend, area/platform

#7651 Bump Airbyte version from 0.30.29-alpha to 0.30.30-alpha
  .bumpversion.cfg
  .env
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#7657 fix container specific logging
  airbyte-commons/src/main/java/io/airbyte/commons/io/LineGobbler.java
  airbyte-commons/src/main/java/io/airbyte/commons/logging/MdcScope.java
  airbyte-commons/src/main/resources/log4j2.xml
  airbyte-workers/src/main/java/io/airbyte/workers/DbtTransformationRunner.java
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/DefaultNormalizationRunner.java
  airbyte-workers/src/main/java/io/airbyte/workers/protocols/airbyte/DefaultAirbyteDestination.java
  airbyte-workers/src/main/java/io/airbyte/workers/protocols/airbyte/DefaultAirbyteSource.java
  airbyte-workers/src/main/java/io/airbyte/workers/protocols/airbyte/DefaultAirbyteStreamFactory.java
  airbyte-workers/src/test/java/io/airbyte/workers/protocols/airbyte/DefaultAirbyteStreamFactoryTest.java
Labels: area/worker, area/platform

#7613 REDO: Generate seed connector specs on build
  .github/pull_request_template.md
  airbyte-config/init/build.gradle
  airbyte-config/init/src/main/java/io/airbyte/config/init/SeedType.java
  airbyte-config/init/src/main/java/io/airbyte/config/init/YamlSeedConfigPersistence.java
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-config/init/src/test/java/io/airbyte/config/init/YamlSeedConfigPersistenceTest.java
  airbyte-config/models/build.gradle
  airbyte-config/models/src/main/resources/types/DockerImageSpec.yaml
  airbyte-config/persistence/build.gradle
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/DatabaseConfigPersistence.java
  airbyte-config/persistence/src/test/java/io/airbyte/config/persistence/BaseDatabaseConfigPersistenceTest.java
  airbyte-config/persistence/src/test/java/io/airbyte/config/persistence/DatabaseConfigPersistenceLoadDataTest.java
  airbyte-config/specs/README.md
  airbyte-config/specs/build.gradle
  airbyte-config/specs/src/main/java/io/airbyte/config/specs/GcsBucketSpecFetcher.java
  airbyte-config/specs/src/main/java/io/airbyte/config/specs/SeedConnectorSpecGenerator.java
  airbyte-config/specs/src/main/java/io/airbyte/config/specs/SeedConnectorType.java
  airbyte-config/specs/src/test/java/io/airbyte/config/specs/GcsBucketSpecFetcherTest.java
  airbyte-config/specs/src/test/java/io/airbyte/config/specs/SeedConnectorSpecGeneratorTest.java
  airbyte-scheduler/client/build.gradle
  airbyte-scheduler/client/src/main/java/io/airbyte/scheduler/client/BucketSpecCacheSchedulerClient.java
  airbyte-scheduler/client/src/test/java/io/airbyte/scheduler/client/BucketSpecCacheSchedulerClientTest.java
  airbyte-server/build.gradle
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/ArchiveHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/migration/RunMigrationTest.java
  build.gradle
  docs/connector-development/README.md
  settings.gradle
Labels: area/documentation, area/platform, area/server, area/scheduler

#7662 Bump Airbyte version from 0.30.30-alpha to 0.30.31-alpha
  .bumpversion.cfg
  .env
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#7665 Remove onboarding call reference in introduction.
  README.md
Labels: area/documentation

#7241 🎉 New Source: Confluence
  airbyte-integrations/connectors/source-confluence/.dockerignore
  airbyte-integrations/connectors/source-confluence/Dockerfile
  airbyte-integrations/connectors/source-confluence/README.md
  airbyte-integrations/connectors/source-confluence/acceptance-test-config.yml
  airbyte-integrations/connectors/source-confluence/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-confluence/build.gradle
  airbyte-integrations/connectors/source-confluence/integration_tests/__init__.py
  airbyte-integrations/connectors/source-confluence/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-confluence/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-confluence/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-confluence/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-confluence/main.py
  airbyte-integrations/connectors/source-confluence/requirements.txt
  airbyte-integrations/connectors/source-confluence/setup.py
  airbyte-integrations/connectors/source-confluence/source_confluence/__init__.py
  airbyte-integrations/connectors/source-confluence/source_confluence/schemas/audit.json
  airbyte-integrations/connectors/source-confluence/source_confluence/schemas/blog_posts.json
  airbyte-integrations/connectors/source-confluence/source_confluence/schemas/group.json
  airbyte-integrations/connectors/source-confluence/source_confluence/schemas/pages.json
  airbyte-integrations/connectors/source-confluence/source_confluence/schemas/space.json
  airbyte-integrations/connectors/source-confluence/source_confluence/source.py
  airbyte-integrations/connectors/source-confluence/source_confluence/spec.json
  airbyte-integrations/connectors/source-confluence/unit_tests/__init__.py
  airbyte-integrations/connectors/source-confluence/unit_tests/conftest.py
  airbyte-integrations/connectors/source-confluence/unit_tests/test_source.py
Labels: area/connectors, community, hacktober

#7666 Publish new source Confluence #7241
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-integrations/connectors/source-confluence/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-confluence/source_confluence/source.py
  tools/bin/ci_credentials.sh
Labels: area/connectors

#7386 🐛 Source MSSQL: fix data type (smalldatetime, smallmoney) conversion from mssql source (#5609)
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/b5ea17b1-f170-46dc-bc31-cc744ca984c1.json
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/MSSQLConverter.java
  airbyte-integrations/connectors/source-mssql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mssql/Dockerfile
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcProperties.java
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors

#7659 Fix numerous create calls
  airbyte-webapp/src/packages/cloud/services/auth/AuthService.tsx
  airbyte-webapp/src/packages/cloud/views/auth/LoginPage/LoginPage.tsx
Labels: type/bug, area/frontend, area/platform

#7605 Source Facebook Marketing: Fix number and integer fields in schemas
  airbyte-integrations/connectors/source-facebook-marketing/acceptance-test-config.yml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams.py
Labels: area/connectors

#7500 Bmoric/remove docker compose for build
  .bumpversion.cfg
  .github/workflows/gradle.yml
  airbyte-cli/build.gradle
  airbyte-config/init/.dockerignore
  airbyte-config/init/Dockerfile
  airbyte-config/init/build.gradle
  airbyte-db/lib/.dockerignore
  airbyte-db/lib/Dockerfile
  airbyte-db/lib/build.gradle
  airbyte-migration/.dockerignore
  airbyte-migration/Dockerfile
  airbyte-migration/build.gradle
  airbyte-oauth/src/main/java/io/airbyte/oauth/BaseOAuthFlow.java
  airbyte-scheduler/app/.dockerignore
  airbyte-scheduler/app/Dockerfile
  airbyte-scheduler/app/build.gradle
  airbyte-server/.dockerignore
  airbyte-server/Dockerfile
  airbyte-server/build.gradle
  airbyte-webapp/.dockerignore
  airbyte-webapp/Dockerfile
  airbyte-webapp/build.gradle
  airbyte-workers/Dockerfile
  airbyte-workers/build.gradle
  build.gradle
  docs/SUMMARY.md
  docs/contributing-to-airbyte/developing-on-docker.md
  docs/project-overview/changelog/README.md
  tools/bin/gke-kube-acceptance-test/acceptance_test_kube_gke.sh
  tools/bin/release_version.sh
Labels: area/documentation, type/enhancement, area/frontend, area/worker, area/developer, build, area/platform, area/server, area/scheduler

#7409 🎉 Source Google Directory: support oauth
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/d19ae824-e289-4b14-995a-0632eb46d246.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-google-directory/Dockerfile
  airbyte-integrations/connectors/source-google-directory/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-directory/integration_tests/invalid_config_oauth.json
  airbyte-integrations/connectors/source-google-directory/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-google-directory/integration_tests/sample_config_oauth.json
  airbyte-integrations/connectors/source-google-directory/source_google_directory/api.py
  airbyte-integrations/connectors/source-google-directory/source_google_directory/client.py
  airbyte-integrations/connectors/source-google-directory/source_google_directory/spec.json
  docs/integrations/sources/google-directory.md
  tools/bin/ci_credentials.sh
Labels: area/documentation, area/connectors

#7186 🎉 New destination: Cassandra
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/707456df-6f4f-4ced-b5c6-03f73bcad1c5.json
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination/buffered_stream_consumer/BufferedStreamConsumer.java
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/DestinationAcceptanceTest.java
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/destination-cassandra/.dockerignore
  airbyte-integrations/connectors/destination-cassandra/Dockerfile
  airbyte-integrations/connectors/destination-cassandra/README.md
  airbyte-integrations/connectors/destination-cassandra/bootstrap.md
  airbyte-integrations/connectors/destination-cassandra/build.gradle
  airbyte-integrations/connectors/destination-cassandra/docker-compose.yml
  airbyte-integrations/connectors/destination-cassandra/sample_secrets/config.json
  airbyte-integrations/connectors/destination-cassandra/src/main/java/io/airbyte/integrations/destination/cassandra/CassandraConfig.java
  airbyte-integrations/connectors/destination-cassandra/src/main/java/io/airbyte/integrations/destination/cassandra/CassandraCqlProvider.java
  airbyte-integrations/connectors/destination-cassandra/src/main/java/io/airbyte/integrations/destination/cassandra/CassandraDestination.java
  airbyte-integrations/connectors/destination-cassandra/src/main/java/io/airbyte/integrations/destination/cassandra/CassandraMessageConsumer.java
  airbyte-integrations/connectors/destination-cassandra/src/main/java/io/airbyte/integrations/destination/cassandra/CassandraNameTransformer.java
  airbyte-integrations/connectors/destination-cassandra/src/main/java/io/airbyte/integrations/destination/cassandra/CassandraRecord.java
  airbyte-integrations/connectors/destination-cassandra/src/main/java/io/airbyte/integrations/destination/cassandra/CassandraStreamConfig.java
  airbyte-integrations/connectors/destination-cassandra/src/main/java/io/airbyte/integrations/destination/cassandra/SessionManager.java
  airbyte-integrations/connectors/destination-cassandra/src/main/java/io/airbyte/integrations/destination/cassandra/Tuple.java
  airbyte-integrations/connectors/destination-cassandra/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-cassandra/src/test-integration/java/io/airbyte/integrations/destination/cassandra/CassandraContainerInitializr.java
  airbyte-integrations/connectors/destination-cassandra/src/test-integration/java/io/airbyte/integrations/destination/cassandra/CassandraCqlProviderIT.java
  airbyte-integrations/connectors/destination-cassandra/src/test-integration/java/io/airbyte/integrations/destination/cassandra/CassandraDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-cassandra/src/test-integration/java/io/airbyte/integrations/destination/cassandra/CassandraDestinationIT.java
  airbyte-integrations/connectors/destination-cassandra/src/test-integration/java/io/airbyte/integrations/destination/cassandra/CassandraMessageConsumerIT.java
  airbyte-integrations/connectors/destination-cassandra/src/test-integration/java/io/airbyte/integrations/destination/cassandra/TestDataFactory.java
  airbyte-integrations/connectors/destination-cassandra/src/test/java/io/airbyte/integrations/destination/cassandra/CassandraConfigTest.java
  airbyte-integrations/connectors/destination-cassandra/src/test/java/io/airbyte/integrations/destination/cassandra/CassandraNameTransformerTest.java
  airbyte-integrations/connectors/destination-cassandra/src/test/java/io/airbyte/integrations/destination/cassandra/TestDataFactory.java
  docs/SUMMARY.md
  docs/integrations/README.md
  docs/integrations/destinations/cassandra.md
Labels: area/documentation, area/connectors, community, hacktober, gl

#7592 🐛 Source Salesforce: Fix getting `anyType` fields using BULK API
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/b117307c-14b6-41aa-9422-947e34922962.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-salesforce/BOOTSTRAP.md
  airbyte-integrations/connectors/source-salesforce/Dockerfile
  airbyte-integrations/connectors/source-salesforce/integration_tests/configured_catalog_bulk.json
  airbyte-integrations/connectors/source-salesforce/integration_tests/configured_catalog_rest.json
  airbyte-integrations/connectors/source-salesforce/source_salesforce/spec.json
  airbyte-integrations/connectors/source-salesforce/source_salesforce/streams.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors

#7687 Fixed Mac M1 build
  airbyte-config/init/Dockerfile
  airbyte-workers/Dockerfile
  build.gradle
  docs/contributing-to-airbyte/developing-locally.md
Labels: area/documentation, area/worker, area/platform, community

#7688 🐛 Bugfix: inject http client into server to prevent file churn
  airbyte-oauth/src/main/java/io/airbyte/oauth/BaseOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/OAuthImplementationFactory.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/AsanaOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/GithubOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/HubspotOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/SalesforceOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/SurveymonkeyOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/TrelloOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/facebook/FacebookMarketingOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/facebook/FacebookOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/facebook/FacebookPagesOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/facebook/InstagramOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/google/GoogleAdsOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/google/GoogleAnalyticsOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/google/GoogleOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/google/GoogleSearchConsoleOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/google/GoogleSheetsOAuthFlow.java
  airbyte-oauth/src/test-integration/java/io.airbyte.oauth.flows/FacebookOAuthFlowIntegrationTest.java
  airbyte-oauth/src/test-integration/java/io.airbyte.oauth.flows/GithubOAuthFlowIntegrationTest.java
  airbyte-oauth/src/test-integration/java/io.airbyte.oauth.flows/SalesforceOAuthFlowIntegrationTest.java
  airbyte-oauth/src/test-integration/java/io.airbyte.oauth.flows/SurveymonkeyOAuthFlowIntegrationTest.java
  airbyte-oauth/src/test-integration/java/io.airbyte.oauth.flows/TrelloOAuthFlowIntegrationTest.java
  airbyte-oauth/src/test-integration/java/io/airbyte/oauth/flows/HubspotOAuthFlowIntegrationTest.java
  airbyte-oauth/src/test-integration/java/io/airbyte/oauth/flows/OAuthFlowIntegrationTest.java
  airbyte-oauth/src/test-integration/java/io/airbyte/oauth/flows/google/GoogleAdsOAuthFlowIntegrationTest.java
  airbyte-oauth/src/test-integration/java/io/airbyte/oauth/flows/google/GoogleAnalyticsOAuthFlowIntegrationTest.java
  airbyte-oauth/src/test-integration/java/io/airbyte/oauth/flows/google/GoogleSearchConsoleOAuthFlowIntegrationTest.java
  airbyte-oauth/src/test-integration/java/io/airbyte/oauth/flows/google/GoogleSheetsOAuthFlowIntegrationTest.java
  airbyte-server/src/main/java/io/airbyte/server/ConfigurationApiFactory.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/main/java/io/airbyte/server/ServerFactory.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/OAuthHandler.java
  airbyte-server/src/test/java/io/airbyte/server/apis/ConfigurationApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/OAuthHandlerTest.java
Labels: area/platform, area/server

#7107 🎉 Source Shopify: Add `FulfillmentOrders` and `Fulfillments` streams
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/9da77001-af33-4bcd-be46-6252bf9342b9.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-shopify/Dockerfile
  airbyte-integrations/connectors/source-shopify/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-shopify/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-shopify/integration_tests/state.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/fulfillment_orders.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/fulfillments.json
  airbyte-integrations/connectors/source-shopify/source_shopify/source.py
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors, community

#7616 Backfill specs into definitions
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/test/java/io/airbyte/server/BackfillSpecTest.java
Labels: area/platform, area/server

#7698 Revert "Bmoric/remove docker compose for build (#7500)"
  .bumpversion.cfg
  .github/workflows/gradle.yml
  airbyte-cli/build.gradle
  airbyte-config/init/.dockerignore
  airbyte-config/init/Dockerfile
  airbyte-config/init/build.gradle
  airbyte-db/lib/.dockerignore
  airbyte-db/lib/Dockerfile
  airbyte-db/lib/build.gradle
  airbyte-migration/.dockerignore
  airbyte-migration/Dockerfile
  airbyte-migration/build.gradle
  airbyte-oauth/src/main/java/io/airbyte/oauth/BaseOAuthFlow.java
  airbyte-scheduler/app/.dockerignore
  airbyte-scheduler/app/Dockerfile
  airbyte-scheduler/app/build.gradle
  airbyte-server/.dockerignore
  airbyte-server/Dockerfile
  airbyte-server/build.gradle
  airbyte-webapp/.dockerignore
  airbyte-webapp/Dockerfile
  airbyte-webapp/build.gradle
  airbyte-workers/Dockerfile
  airbyte-workers/build.gradle
  build.gradle
  docs/SUMMARY.md
  docs/contributing-to-airbyte/developing-on-docker.md
  docs/project-overview/changelog/README.md
  tools/bin/gke-kube-acceptance-test/acceptance_test_kube_gke.sh
  tools/bin/release_version.sh
Labels: area/documentation, area/frontend, area/worker, area/platform, area/server, area/scheduler

#7700 Bump Airbyte version from 0.30.31-alpha to 0.30.32-alpha
  .bumpversion.cfg
  .env
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#7701 Bump Airbyte version from 0.30.32-alpha to 0.30.33-alpha
  .bumpversion.cfg
  .env
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#7703 Bump Airbyte version from 0.30.33-alpha to 0.30.34-alpha
  .bumpversion.cfg
  .env
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#7345 :tada: Source Stripe: add checkout_sessions stream, checkout_sessions_line_item stream and promotion_codes stream
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e094cb9a-26de-4645-8761-65c0c425d1de.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-stripe/Dockerfile
  airbyte-integrations/connectors/source-stripe/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-stripe/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-stripe/integration_tests/full_refresh_configured_catalog.json
  airbyte-integrations/connectors/source-stripe/integration_tests/non_invoice_line_items_catalog.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/checkout_sessions.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/checkout_sessions_line_items.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/promotion_codes.json
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, community

#7168 🎉 New Source: Monday
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/80a54ea2-9959-4040-aac1-eee42423ec9b.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-monday/.dockerignore
  airbyte-integrations/connectors/source-monday/Dockerfile
  airbyte-integrations/connectors/source-monday/README.md
  airbyte-integrations/connectors/source-monday/acceptance-test-config.yml
  airbyte-integrations/connectors/source-monday/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-monday/build.gradle
  airbyte-integrations/connectors/source-monday/integration_tests/__init__.py
  airbyte-integrations/connectors/source-monday/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-monday/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-monday/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-monday/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-monday/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-monday/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-monday/main.py
  airbyte-integrations/connectors/source-monday/requirements.txt
  airbyte-integrations/connectors/source-monday/setup.py
  airbyte-integrations/connectors/source-monday/source_monday/__init__.py
  airbyte-integrations/connectors/source-monday/source_monday/schemas/boards.json
  airbyte-integrations/connectors/source-monday/source_monday/schemas/items.json
  airbyte-integrations/connectors/source-monday/source_monday/schemas/teams.json
  airbyte-integrations/connectors/source-monday/source_monday/schemas/updates.json
  airbyte-integrations/connectors/source-monday/source_monday/schemas/users.json
  airbyte-integrations/connectors/source-monday/source_monday/source.py
  airbyte-integrations/connectors/source-monday/source_monday/spec.json
  airbyte-integrations/connectors/source-monday/unit_tests/__init__.py
  airbyte-integrations/connectors/source-monday/unit_tests/conftest.py
  airbyte-integrations/connectors/source-monday/unit_tests/test_source.py
  tools/bin/ci_credentials.sh
Labels: area/connectors, community, hacktober

#6797 improve link checker
  .github/workflows/doc-link-check.json
  .github/workflows/doc-link-check.yml
  docs/deploying-airbyte/on-kubernetes.md
  docs/integrations/sources/amplitude.md
  docs/integrations/sources/iterable.md
  docs/integrations/sources/klaviyo.md
  docs/integrations/sources/mixpanel.md
  docs/integrations/sources/trello.md
Labels: area/documentation

#7626 🎉 Source Recharge: improve 'backoff' for HTTP requests
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/45d2e135-2ede-49e1-939f-3e3ec357a65e.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-recharge/Dockerfile
  airbyte-integrations/connectors/source-recharge/source_recharge/api.py
  docs/integrations/sources/recharge.md
Labels: area/documentation, area/connectors

#7607 🎉 Source Greenhouse: Implement demographics streams support
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/59f1e50a-331f-4f09-b3e8-2e8d4d355f44.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-greenhouse/Dockerfile
  airbyte-integrations/connectors/source-greenhouse/acceptance-test-config.yml
  airbyte-integrations/connectors/source-greenhouse/integration_tests/configured_catalog_const_records.json
  airbyte-integrations/connectors/source-greenhouse/integration_tests/configured_catalog_no_demographics.json
  airbyte-integrations/connectors/source-greenhouse/source_greenhouse/source.py
  airbyte-integrations/connectors/source-greenhouse/source_greenhouse/streams.py
  docs/integrations/sources/greenhouse.md
Labels: area/documentation, area/connectors

#7730 Fix Hubspot and Asana oAuth.
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/36c891d9-4bd9-43ac-bad2-10e12756272c.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/source_hubspot/spec.json
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/AsanaOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/HubspotOAuthFlow.java
  airbyte-oauth/src/test/java/io/airbyte/oauth/flows/AsanaOAuthFlowTest.java
  airbyte-oauth/src/test/java/io/airbyte/oauth/flows/HubspotOAuthFlowTest.java
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors

#7669 Minor fixes to incremental normalization and nesting
  airbyte-integrations/bases/base-normalization/.gitignore
  airbyte-integrations/bases/base-normalization/Dockerfile
  airbyte-integrations/bases/base-normalization/dbt-project-template/macros/incremental.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/models/generated/airbyte_incremental/test_normalization/nested_stream_with_c___long_names_partition.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/models/generated/airbyte_incremental/test_normalization/nested_stream_with_c___names_partition_data.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_simple_streams/first_output/airbyte_incremental/scd/test_normalization/dedup_exchange_rate_scd.sql
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_nested_streams/data_input/catalog.json
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_nested_streams/data_input/messages.txt
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_nested_streams/data_input/messages_incremental.txt
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_nested_streams/dbt_test_config/dbt_data_tests_tmp_incremental/nested_streams_second_run_row_counts.sql
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_nested_streams/dbt_test_config/dbt_schema_tests/schema_test.yml
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_nested_streams/dbt_test_config/dbt_schema_tests_incremental/schema_test.yml
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_simple_streams/data_input/catalog.json
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_simple_streams/data_input/catalog_schema_change.json
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_simple_streams/data_input/messages.txt
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_simple_streams/data_input/messages_incremental.txt
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_simple_streams/data_input/messages_schema_change.txt
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_simple_streams/dbt_test_config/dbt_data_tests_tmp/simple_streams_first_run_row_counts.sql
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_simple_streams/dbt_test_config/dbt_data_tests_tmp_incremental/simple_streams_second_run_row_counts.sql
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_simple_streams/dbt_test_config/dbt_data_tests_tmp_schema_change/simple_streams_third_run_row_counts.sql
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_simple_streams/dbt_test_config/dbt_schema_tests/schema_test.yml
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_simple_streams/dbt_test_config/dbt_schema_tests_incremental/schema_test.yml
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_simple_streams/dbt_test_config/dbt_schema_tests_schema_change/schema_test.yml
  airbyte-integrations/bases/base-normalization/integration_tests/test_normalization.py
  airbyte-integrations/bases/base-normalization/normalization/transform_catalog/stream_processor.py
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/DestinationAcceptanceTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/NormalizationRunnerFactory.java
  docs/understanding-airbyte/basic-normalization.md
Labels: area/documentation, area/worker, normalization, area/platform

#7623 🎉 Source Google Workspace Admin Reports: migrate to the CDK
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/ed9dfefa-1bbc-419d-8c5e-4d78f0ef6734.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-google-workspace-admin-reports/.dockerignore
  airbyte-integrations/connectors/source-google-workspace-admin-reports/Dockerfile
  airbyte-integrations/connectors/source-google-workspace-admin-reports/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-workspace-admin-reports/build.gradle
  airbyte-integrations/connectors/source-google-workspace-admin-reports/main.py
  airbyte-integrations/connectors/source-google-workspace-admin-reports/requirements.txt
  airbyte-integrations/connectors/source-google-workspace-admin-reports/setup.py
  airbyte-integrations/connectors/source-google-workspace-admin-reports/source_google_workspace_admin_reports/api.py
  airbyte-integrations/connectors/source-google-workspace-admin-reports/source_google_workspace_admin_reports/client.py
  airbyte-integrations/connectors/source-google-workspace-admin-reports/source_google_workspace_admin_reports/source.py
  docs/integrations/sources/google-workspace-admin-reports.md
Labels: area/documentation, area/connectors

#7649 🎉 Source Tempo: migrate to the CDK
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/d1aa448b-7c54-498e-ad95-263cbebcd2db.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-tempo/.dockerignore
  airbyte-integrations/connectors/source-tempo/Dockerfile
  airbyte-integrations/connectors/source-tempo/acceptance-test-config.yml
  airbyte-integrations/connectors/source-tempo/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-tempo/build.gradle
  airbyte-integrations/connectors/source-tempo/integration_tests/__init__.py
  airbyte-integrations/connectors/source-tempo/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-tempo/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-tempo/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-tempo/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-tempo/main.py
  airbyte-integrations/connectors/source-tempo/requirements.txt
  airbyte-integrations/connectors/source-tempo/setup.py
  airbyte-integrations/connectors/source-tempo/source_tempo/client.py
  airbyte-integrations/connectors/source-tempo/source_tempo/schemas/workload-schemes.json
  airbyte-integrations/connectors/source-tempo/source_tempo/schemas/worklogs.json
  airbyte-integrations/connectors/source-tempo/source_tempo/source.py
  docs/integrations/sources/tempo.md
Labels: area/documentation, area/connectors

#7729 Source Stripe: remove \n from field tax_id
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e094cb9a-26de-4645-8761-65c0c425d1de.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-stripe/Dockerfile
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/payment_intents.json
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors

#7724 upgrade to node 16
  .github/workflows/gradle.yml
  airbyte-webapp/build.gradle
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  docs/contributing-to-airbyte/developing-locally.md
Labels: area/documentation, area/frontend, area/platform

#7312 4280/connectors guides
  airbyte-e2e-testing/README.md
  airbyte-webapp/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/App.tsx
  airbyte-webapp/src/components/Markdown/Markdown.tsx
  airbyte-webapp/src/components/Markdown/index.ts
  airbyte-webapp/src/components/SideView/SideView.tsx
  airbyte-webapp/src/components/SideView/index.ts
  airbyte-webapp/src/components/SideView/styled.ts
  airbyte-webapp/src/components/index.tsx
  airbyte-webapp/src/config/configProviders.ts
  airbyte-webapp/src/config/defaultConfig.ts
  airbyte-webapp/src/config/types.ts
  airbyte-webapp/src/core/domain/Documentation.ts
  airbyte-webapp/src/hooks/services/useDocumentation.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/packages/cloud/views/layout/SideBar/SideBar.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/CreateDestinationPage/components/DestinationForm.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/CreateSourcePage/components/SourceForm.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/ServiceForm.test.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/Controls/Instruction.tsx
  airbyte-webapp/src/views/layout/SideBar/SideBar.tsx
Labels: help wanted, area/frontend, area/platform

#7758 Fix package lock
  airbyte-webapp/package-lock.json
Labels: area/frontend, area/platform

#7763 Bump Airbyte version from 0.30.34-alpha to 0.30.35-alpha
  .bumpversion.cfg
  .env
  airbyte-migration/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#7752 Source Amazon Seller Partner: change check_connection step
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e55879a8-0ef8-4557-abcf-ab34c53ec460.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/Dockerfile
  airbyte-integrations/connectors/source-amazon-seller-partner/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation, area/connectors

#5957 🎉 New Source: Commerce Tools
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/008b2e26-11a3-11ec-82a8-0242ac130003.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-commercetools/.dockerignore
  airbyte-integrations/connectors/source-commercetools/Dockerfile
  airbyte-integrations/connectors/source-commercetools/README.md
  airbyte-integrations/connectors/source-commercetools/acceptance-test-config.yml
  airbyte-integrations/connectors/source-commercetools/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-commercetools/build.gradle
  airbyte-integrations/connectors/source-commercetools/integration_tests/__init__.py
  airbyte-integrations/connectors/source-commercetools/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-commercetools/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-commercetools/integration_tests/catalog.json
  airbyte-integrations/connectors/source-commercetools/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-commercetools/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-commercetools/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-commercetools/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-commercetools/main.py
  airbyte-integrations/connectors/source-commercetools/requirements.txt
  airbyte-integrations/connectors/source-commercetools/setup.py
  airbyte-integrations/connectors/source-commercetools/source_commercetools/__init__.py
  airbyte-integrations/connectors/source-commercetools/source_commercetools/schemas/customers.json
  airbyte-integrations/connectors/source-commercetools/source_commercetools/schemas/discount_codes.json
  airbyte-integrations/connectors/source-commercetools/source_commercetools/schemas/orders.json
  airbyte-integrations/connectors/source-commercetools/source_commercetools/schemas/payments.json
  airbyte-integrations/connectors/source-commercetools/source_commercetools/schemas/products.json
  airbyte-integrations/connectors/source-commercetools/source_commercetools/schemas/shared/address.json
  airbyte-integrations/connectors/source-commercetools/source_commercetools/schemas/shared/created_by.json
  airbyte-integrations/connectors/source-commercetools/source_commercetools/schemas/shared/custom.json
  airbyte-integrations/connectors/source-commercetools/source_commercetools/schemas/shared/dimension.json
  airbyte-integrations/connectors/source-commercetools/source_commercetools/schemas/shared/discounted_price_per_quantity.json
  airbyte-integrations/connectors/source-commercetools/source_commercetools/schemas/shared/field_type.json
  airbyte-integrations/connectors/source-commercetools/source_commercetools/schemas/shared/key_reference.json
  airbyte-integrations/connectors/source-commercetools/source_commercetools/schemas/shared/last_modified_by.json
  airbyte-integrations/connectors/source-commercetools/source_commercetools/schemas/shared/localized_string.json
  airbyte-integrations/connectors/source-commercetools/source_commercetools/schemas/shared/money.json
  airbyte-integrations/connectors/source-commercetools/source_commercetools/schemas/shared/price.json
  airbyte-integrations/connectors/source-commercetools/source_commercetools/schemas/shared/price_scoped.json
  airbyte-integrations/connectors/source-commercetools/source_commercetools/schemas/shared/product_data.json
  airbyte-integrations/connectors/source-commercetools/source_commercetools/schemas/shared/product_variant.json
  airbyte-integrations/connectors/source-commercetools/source_commercetools/schemas/shared/reference.json
  airbyte-integrations/connectors/source-commercetools/source_commercetools/schemas/shared/shipping_details.json
  airbyte-integrations/connectors/source-commercetools/source_commercetools/schemas/shared/state.json
  airbyte-integrations/connectors/source-commercetools/source_commercetools/schemas/shared/taxed_item_price.json
  airbyte-integrations/connectors/source-commercetools/source_commercetools/schemas/shared/taxed_price.json
  airbyte-integrations/connectors/source-commercetools/source_commercetools/schemas/shared/taxrate.json
  airbyte-integrations/connectors/source-commercetools/source_commercetools/source.py
  airbyte-integrations/connectors/source-commercetools/source_commercetools/spec.json
  airbyte-integrations/connectors/source-commercetools/unit_tests/__init__.py
  docs/integrations/sources/commercetools.md
  tools/bin/ci_credentials.sh
Labels: area/documentation, area/connectors, community, hacktober

#7719 🐛 Make all JDBC destinations (SF, RS, PG, MySQL, MSSQL, Oracle) handle wide rows by using byte-based record buffering
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination/buffered_stream_consumer/BufferedStreamConsumer.java
  airbyte-integrations/bases/base-java/src/test/java/io/airbyte/integrations/destination/buffered_stream_consumer/BufferedStreamConsumerTest.java
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/DestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-elasticsearch/src/main/java/io/airbyte/integrations/destination/elasticsearch/ElasticsearchAirbyteMessageConsumerFactory.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/JdbcBufferedConsumerFactory.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/SqlOperationsUtils.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/CopyConsumerFactory.java
  airbyte-integrations/connectors/destination-meilisearch/src/main/java/io/airbyte/integrations/destination/meilisearch/MeiliSearchDestination.java
  airbyte-integrations/connectors/destination-mssql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/destination-mssql/Dockerfile
  airbyte-integrations/connectors/destination-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/destination-mysql/Dockerfile
  airbyte-integrations/connectors/destination-oracle-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/destination-oracle/Dockerfile
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/destination-postgres/Dockerfile
  airbyte-integrations/connectors/destination-redshift/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeInsertDestinationAcceptanceTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/NormalizationRunnerFactory.java
  buildSrc/src/main/groovy/airbyte-integration-test-java.gradle
  docs/integrations/destinations/mssql.md
  docs/integrations/destinations/mysql.md
  docs/integrations/destinations/oracle.md
  docs/integrations/destinations/postgres.md
  docs/integrations/destinations/redshift.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, area/worker, area/platform

#7772 Bump Airbyte version from 0.30.35-alpha to 0.30.36-alpha
  .bumpversion.cfg
  .env
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination/buffered_stream_consumer/BufferedStreamConsumer.java
  airbyte-migration/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/NormalizationRunnerFactory.java
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#7734 Resolve discover catalog ref fields
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/utils/schema_helpers.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/utils/test_schema_helpers.py
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/setup.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, CDK

#7713 Jamakase/refactor initial load
  airbyte-webapp/src/hooks/services/useConnector.tsx
  airbyte-webapp/src/hooks/services/useDestinationDefinition.tsx
  airbyte-webapp/src/hooks/services/useSourceDefinition.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/packages/cloud/views/layout/SideBar/SideBar.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/AllDestinationsPage/components/DestinationsTable.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/CreateDestinationPage/CreateDestinationPage.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/SourcesPage.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/components/ConnectorCell.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/components/ConnectorsView.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/AllSourcesPage/components/SourcesTable.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SourceConnectionTable.tsx
  airbyte-webapp/src/views/layout/SideBar/NotificationIndicator.tsx
  airbyte-webapp/src/views/layout/SideBar/SideBar.tsx
Labels: area/frontend, area/platform

#7493 🎉 New Source: Pinterest
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/5cb7e5fe-38c2-11ec-8d3d-0242ac130003.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-pinterest/.dockerignore
  airbyte-integrations/connectors/source-pinterest/Dockerfile
  airbyte-integrations/connectors/source-pinterest/README.md
  airbyte-integrations/connectors/source-pinterest/acceptance-test-config.yml
  airbyte-integrations/connectors/source-pinterest/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-pinterest/bootstrap.md
  airbyte-integrations/connectors/source-pinterest/build.gradle
  airbyte-integrations/connectors/source-pinterest/integration_tests/__init__.py
  airbyte-integrations/connectors/source-pinterest/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-pinterest/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-pinterest/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-pinterest/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-pinterest/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-pinterest/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-pinterest/main.py
  airbyte-integrations/connectors/source-pinterest/requirements.txt
  airbyte-integrations/connectors/source-pinterest/setup.py
  airbyte-integrations/connectors/source-pinterest/source_pinterest/__init__.py
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/ad_account_analytics.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/ad_accounts.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/ad_analytics.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/ad_group_analytics.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/ad_groups.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/ads.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/board_pins.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/board_section_pins.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/board_sections.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/boards.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/campaign_analytics.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/campaigns.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/user_account_analytics.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/source.py
  airbyte-integrations/connectors/source-pinterest/source_pinterest/spec.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/utils.py
  airbyte-integrations/connectors/source-pinterest/unit_tests/__init__.py
  airbyte-integrations/connectors/source-pinterest/unit_tests/conftest.py
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_source.py
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_streams.py
  docs/SUMMARY.md
  docs/integrations/README.md
  docs/integrations/sources/pinterest.md
  tools/bin/ci_credentials.sh
Labels: area/documentation, area/connectors

#7736 🐛 Destination BigQuery-Denormalized: Fix JSON with $ref Definition keys
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedDestination.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedRecordConsumer.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedDestinationTest.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/util/BigQueryDenormalizedTestDataUtils.java
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors

#7784 📚 Fix typo in the cdk documentation
  docs/connector-development/cdk-python/schemas.md
Labels: area/documentation, community

#7744 Source Facebook Marketing: Fix fail when async job takes too long
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e7778cfc-e97c-4458-9ecb-b4f2bba8946c.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/common.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors

#7683 bugfix 'Hubspot' -> 'HubSpot'
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/36c891d9-4bd9-43ac-bad2-10e12756272c.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/README.md
  airbyte-integrations/connectors/source-hubspot/setup.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/api.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/client.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/spec.json
  airbyte-webapp/src/views/Connector/ServiceForm/components/Controls/ConnectorServiceTypeControl.tsx
  docs/SUMMARY.md
  docs/integrations/README.md
  docs/integrations/sources/hubspot.md
  docs/project-overview/changelog/README.md
  docs/project-overview/changelog/connectors.md
  docs/project-overview/changelog/platform.md
Labels: area/documentation, area/frontend, area/connectors, area/platform

#7695 Reduce CLI docker image size
  airbyte-cli/Dockerfile
Labels: community

#7060 :tada: intercom added oauth support
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/d8313939-3782-41b0-be29-b3ca20d8dd3a.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-intercom/Dockerfile
  airbyte-integrations/connectors/source-intercom/source_intercom/source.py
  airbyte-integrations/connectors/source-intercom/source_intercom/spec.json
  airbyte-oauth/build.gradle
  airbyte-oauth/src/main/java/io/airbyte/oauth/OAuthImplementationFactory.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/IntercomOAuthFlow.java
  airbyte-oauth/src/test-integration/java/io.airbyte.oauth.flows/IntercomOAuthFlowIntegrationTest.java
  airbyte-oauth/src/test/java/io/airbyte/oauth/flows/IntercomOAuthFlowTest.java
  docs/integrations/sources/intercom.md
  tools/bin/ci_credentials.sh
Labels: area/documentation, area/connectors

#7800 Bump Airbyte version from 0.30.36-alpha to 0.30.37-alpha
  .bumpversion.cfg
  .env
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-migration/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#7714 Check for defined instead of boolean check
  airbyte-webapp/src/views/Connector/ServiceForm/components/Property/Control.tsx
Labels: type/bug, area/frontend, area/platform

#7766 Add a task to generate all the docker images
  build.gradle
  docs/contributing-to-airbyte/developing-on-docker.md
Labels: area/documentation, build

#7793 🎉 Source Mixpanel: Support `start_date` older than 1 year
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/12928b32-bf0a-4f1e-964f-07e12e37153a.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-mixpanel/Dockerfile
  airbyte-integrations/connectors/source-mixpanel/acceptance-test-config.yml
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/source.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/spec.json
  docs/integrations/sources/mixpanel.md
Labels: area/documentation, area/connectors

#7803 Bump Airbyte version from 0.30.37-alpha to 0.30.38-alpha
  .bumpversion.cfg
  .env
  airbyte-migration/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#7804 🐛 Destination BQ Denormalized: handle null values in fields described by a `$ref` schema
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedDestination.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedRecordConsumer.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedDestinationTest.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/util/BigQueryDenormalizedTestDataUtils.java
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors

#7528 :tada: CI secrets: migration to GSM
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  docs/connector-development/README.md
  tools/bin/ci_credentials.sh
  tools/lib/gcp-token.sh
Labels: area/documentation

#7780 Iterable: split email send stream into slices.
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/2e875208-0c0b-4ee4-9e92-1cb3156ea799.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-iterable/Dockerfile
  airbyte-integrations/connectors/source-iterable/setup.py
  airbyte-integrations/connectors/source-iterable/source_iterable/api.py
  airbyte-integrations/connectors/source-iterable/source_iterable/iterable_streams.py
  airbyte-integrations/connectors/source-iterable/unit_tests/test_exports_stream.py
  airbyte-integrations/connectors/source-iterable/unit_tests/test_source.py
  docs/integrations/sources/iterable.md
Labels: area/documentation, area/connectors

#7595 Davinchia/tracking client refactor
  .github/workflows/gradle.yml
  airbyte-analytics/src/main/java/io/airbyte/analytics/SegmentTrackingClient.java
  airbyte-analytics/src/main/java/io/airbyte/analytics/TrackingClient.java
  airbyte-analytics/src/test/java/io/airbyte/analytics/SegmentTrackingClientTest.java
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedDestination.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedRecordConsumer.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedDestinationTest.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/util/BigQueryDenormalizedTestDataUtils.java
  airbyte-integrations/connectors/source-pinterest/integration_tests/configured_catalog.json
  build.gradle
Labels: area/connectors

#7767 Source Cart: add stream addresses
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/bb1a6d31-6879-4819-a2bd-3eed299ea8e2.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-cart/Dockerfile
  airbyte-integrations/connectors/source-cart/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-cart/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-cart/source_cart/schemas/addresses.json
  airbyte-integrations/connectors/source-cart/source_cart/source.py
  airbyte-integrations/connectors/source-cart/source_cart/streams.py
Labels: area/connectors

#7801 Do not ignore tools/bin
  .gitignore
Labels: type/bug, type/enhancement

#7824 Add doc on how to handle versioning with docker
  docs/contributing-to-airbyte/developing-on-docker.md
Labels: area/documentation

#7681 Custom auto-setup temporal docker image
  airbyte-temporal/Dockerfile
  airbyte-temporal/README.md
  airbyte-temporal/build.gradle
  airbyte-temporal/scripts/update-and-start-temporal.sh
  build.gradle
  docker-compose.debug.yaml
  docker-compose.yaml
  settings.gradle
  tools/bin/test-temporal-migration.sh
Labels: temporal, 2021-q4-platform

#7836 Revert "Revert "Custom auto-setup temporal docker image (#7681)" (#78…
  airbyte-temporal/Dockerfile
  airbyte-temporal/README.md
  airbyte-temporal/build.gradle
  airbyte-temporal/scripts/update-and-start-temporal.sh
  build.gradle
  docker-compose.debug.yaml
  docker-compose.yaml
  settings.gradle
  tools/bin/test-temporal-migration.sh
Labels: 2021-q4-platform

#7617 Source OneSignal: correct get_update_state and unit test
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/bb6afd81-87d5-47e3-97c4-e2c2901b1cf8.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-iterable/source_iterable/iterable_streams.py
  airbyte-integrations/connectors/source-onesignal/Dockerfile
  airbyte-integrations/connectors/source-onesignal/source_onesignal/streams.py
  airbyte-integrations/connectors/source-onesignal/unit_tests/test_incremental_streams.py
  docs/integrations/sources/onesignal.md
Labels: area/documentation, area/connectors

#7792 :tada: New Source DB2 secure-only
  airbyte-integrations/connectors/source-db2-strict-encrypt/.gitignore
  airbyte-integrations/connectors/source-db2-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-db2-strict-encrypt/acceptance-test-config.yml
  airbyte-integrations/connectors/source-db2-strict-encrypt/build.gradle
  airbyte-integrations/connectors/source-db2-strict-encrypt/src/main/java/io/airbyte/integrations/source/db2_strict_encrypt/Db2JdbcStreamingQueryConfiguration.java
  airbyte-integrations/connectors/source-db2-strict-encrypt/src/main/java/io/airbyte/integrations/source/db2_strict_encrypt/Db2StrictEncryptSource.java
  airbyte-integrations/connectors/source-db2-strict-encrypt/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/Db2StrictEncryptSourceCertificateAcceptanceTest.java
  airbyte-integrations/connectors/source-db2-strict-encrypt/src/test/java/io/airbyte/integrations/source/db2_strict_encrypt/Db2JdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-db2-strict-encrypt/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/source-db2/acceptance-test-config.yml
Labels: area/connectors

#7858 Add logging to make clear what is happening during Server start up.
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
Labels: area/platform, area/server

#7860 Bump Airbyte version from 0.30.38-alpha to 0.30.39-alpha
  .bumpversion.cfg
  .env
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-migration/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#7856 Github: resolve refs for some schemas
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/setup.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors

#7748 🐛 Fix handling binary data type for Mssql source
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/b5ea17b1-f170-46dc-bc31-cc744ca984c1.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-integrations/connectors/source-mssql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mssql/Dockerfile
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSourceOperations.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/MssqlSourceDatatypeTest.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
  airbyte-integrations/connectors/source-snowflake/src/main/java/io.airbyte.integrations.source.snowflake/SnowflakeSource.java
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, gl

#7808 CDK: fix logging configuration inside source and streams
  .pre-commit-config.yaml
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/entrypoint.py
  airbyte-cdk/python/setup.py
  buildSrc/src/main/groovy/airbyte-python.gradle
Labels: CDK

#7873 Fix master build
  airbyte-cdk/python/.gitignore
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/auth/oauth.py
  airbyte-cdk/python/unit_tests/sources/test_abstract_source.py
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/bases/base-python/base_python/cdk/streams/auth/oauth.py
Labels: CDK

#7878 Fix airbyte-cli build on Mac M1
  airbyte-cli/Dockerfile
Labels: community

#7879 prevent upgrading past the major version
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/test/java/io/airbyte/server/ServerAppTest.java
Labels: area/platform, area/server

#7876 Faux Major Version Bump (#7876)
  airbyte-config/init/src/main/java/io/airbyte/config/init/YamlSeedConfigPersistence.java
  airbyte-config/models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/DatabaseConfigPersistence.java
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/FileSystemConfigPersistence.java
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/ValidatingConfigPersistence.java
  airbyte-config/persistence/src/test/java/io/airbyte/config/persistence/ConfigRepositoryTest.java
  airbyte-server/src/main/java/io/airbyte/server/ConnectorDefinitionSpecBackfiller.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/test/java/io/airbyte/server/BackfillSpecTest.java
  airbyte-server/src/test/java/io/airbyte/server/ConnectorDefinitionSpecBackfillerTest.java
  airbyte-server/src/test/java/io/airbyte/server/ServerAppTest.java
  airbyte-temporal/Dockerfile
  airbyte-temporal/README.md
  airbyte-temporal/build.gradle
  airbyte-temporal/scripts/update-and-start-temporal.sh
  build.gradle
  docker-compose.debug.yaml
  docker-compose.yaml
  settings.gradle
  tools/bin/test-temporal-migration.sh
Labels: area/platform, area/server

#7612 Resolve linting errors in the javadoc contents
  .gitignore
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/AirbyteMessageConsumer.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/AirbyteFileOffsetBackingStore.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/AirbyteSchemaHistoryStorage.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/MySQLConverter.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/writer/BaseAzureBlobStorageWriter.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedRecordConsumer.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedDestinationTest.java
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksStreamCopier.java
  airbyte-integrations/connectors/destination-gcs/src/main/java/io/airbyte/integrations/destination/gcs/writer/BaseGcsWriter.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/avro/JsonToAvroSchemaConverter.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/util/AvroRecordHelper.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/util/S3OutputPathHelper.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/writer/BaseS3Writer.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/AbstractRelationalDbSource.java
Labels: area/connectors

#7895 Bump Airbyte version from 0.30.39-alpha to 0.31.0-alpha
  .bumpversion.cfg
  .env
  airbyte-migration/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#7888 Add temporal to docker compose build
  docker-compose.build.yaml
Labels: build

#7882 Bmoric/fix missing doc
  airbyte-webapp/Dockerfile
Labels: build, area/platform, 2021-q4-platform

#7819 🐛 Source CockroachDB: Fix cockroach Datatypes
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-cockroachdb/Dockerfile
  airbyte-integrations/connectors/source-cockroachdb/build.gradle
  airbyte-integrations/connectors/source-cockroachdb/src/main/java/io/airbyte/integrations/source/cockroachdb/CockroachDbSource.java
  airbyte-integrations/connectors/source-cockroachdb/src/main/java/io/airbyte/integrations/source/cockroachdb/CockroachJdbcSourceOperations.java
  airbyte-integrations/connectors/source-cockroachdb/src/test-integration/java/io/airbyte/integrations/source/cockroachdb/CockroachDbSourceDatatypeTest.java
  airbyte-integrations/connectors/source-cockroachdb/src/test/java/io/airbyte/integrations/source/cockroachdb/CockroachDbSourceTest.java
  docs/integrations/sources/cockroachdb.md
Labels: area/documentation, area/connectors, area/databases

#7325 oAuth input parameters UI
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/core/domain/connector/types.ts
  airbyte-webapp/src/hooks/services/useConnectorAuth.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/AuthButton.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/useOauthFlowAdapter.tsx
Labels: area/frontend, area/platform

#7863 Fix schema transformation false warnings.
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/utils/transform.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/utils/test_transform.py
Labels: CDK

#7884 update upgrade docs with instructions for faux major version bump
  docs/operator-guides/upgrading-airbyte.md
Labels: area/documentation

#7921 use tag in url instead of commit hash
  docs/operator-guides/upgrading-airbyte.md
Labels: area/documentation

#7919 add webapp docker build / tagging to README
  airbyte-webapp/README.md
Labels: area/frontend, area/platform

#7815 7513 oauth backend quickbooks
  airbyte-oauth/src/main/java/io/airbyte/oauth/OAuthImplementationFactory.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/QuickbooksOAuthFlow.java
  airbyte-oauth/src/test-integration/java/io.airbyte.oauth.flows/QuickbooksOAuthFlowIntegrationTest.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/OAuthHandler.java
Labels: area/platform, area/server

#7923 🐛 Fix Migration Bug in v0.31.0-alpha
  .env
  airbyte-config/models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-migration/src/main/java/io/airbyte/migrate/Migrations.java
  airbyte-migration/src/main/resources/migrations/migrationV0_23_0/StandardDestinationDefinition.yaml
  airbyte-migration/src/test/java/io/airbyte/migrate/MigrationCurrentSchemaTest.java
  airbyte-server/src/main/java/io/airbyte/server/ConnectorDefinitionSpecBackfiller.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/test/java/io/airbyte/server/ConnectorDefinitionSpecBackfillerTest.java
  airbyte-server/src/test/java/io/airbyte/server/ServerAppTest.java
  docker-compose.yaml
  docs/operator-guides/upgrading-airbyte.md
Labels: area/documentation, area/platform, area/server

#7869 Add ability to configure supporting worker job container images (curl, socat, busybox)
  .env
  airbyte-config/models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerUtils.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubeProcessFactory.java
Labels: area/worker, area/platform, community

#7904 Source Facebook Marketing: implement retry logic for async reports
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/__init__.py
  airbyte-integrations/connectors/source-facebook-marketing/setup.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/__init__.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/api.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/async_job.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/common.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/source.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_async_job.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors

#7928 Bump Airbyte version from 0.31.0-alpha to 0.32.0-alpha
  .bumpversion.cfg
  .env
  airbyte-migration/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#7931 Fix server errors
  airbyte-e2e-testing/cypress.json
  airbyte-e2e-testing/cypress/integration/base.spec.js
  airbyte-webapp/src/App.tsx
  airbyte-webapp/src/config/ConfigServiceProvider.tsx
  airbyte-webapp/src/config/defaultConfig.ts
  airbyte-webapp/src/packages/cloud/App.tsx
  airbyte-webapp/src/packages/cloud/services/AppServicesProvider.tsx
Labels: area/frontend, area/platform

#7831 Add to the new connection flow form with an existing source and dest…
  airbyte-e2e-testing/cypress/support/commands/connection.js
  airbyte-e2e-testing/package-lock.json
  airbyte-webapp/package-lock.json
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/ConnectionPage/pages/CreationFormPage/CreationFormPage.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/CreationFormPage/components/ExistingEntityForm.tsx
Labels: type/enhancement, area/frontend, area/platform

#7859 :tada: Extend logic for JDBC connectors to provide additional properties in JSON schema
  airbyte-config/models/src/test/java/io/airbyte/config/DataTypeEnumTest.java
  airbyte-db/lib/src/main/java/io/airbyte/db/jdbc/JdbcSourceOperations.java
  airbyte-db/lib/src/test/java/io/airbyte/db/jdbc/TestJdbcUtils.java
  airbyte-integrations/connectors/source-cockroachdb/src/main/java/io/airbyte/integrations/source/cockroachdb/CockroachJdbcSourceOperations.java
  airbyte-integrations/connectors/source-cockroachdb/src/test-integration/java/io/airbyte/integrations/source/cockroachdb/CockroachDbSourceDatatypeTest.java
  airbyte-integrations/connectors/source-cockroachdb/src/test/java/io/airbyte/integrations/source/cockroachdb/CockroachDbJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-db2-strict-encrypt/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/Db2StrictEncryptSourceCertificateAcceptanceTest.java
  airbyte-integrations/connectors/source-db2/src/main/java/io.airbyte.integrations.source.db2/Db2Source.java
  airbyte-integrations/connectors/source-db2/src/main/java/io.airbyte.integrations.source.db2/Db2SourceOperations.java
  airbyte-integrations/connectors/source-jdbc/src/testFixtures/java/io/airbyte/integrations/source/jdbc/test/JdbcSourceAcceptanceTest.java
  airbyte-protocol/models/src/main/java/io/airbyte/protocol/models/CatalogHelpers.java
  airbyte-protocol/models/src/main/java/io/airbyte/protocol/models/JsonSchemaPrimitive.java
Labels: area/connectors, area/platform, area/protocol

#7173 🐛 Source Zendesk Talk: migrate to CDK
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-zendesk-talk/.dockerignore
  airbyte-integrations/connectors/source-zendesk-talk/Dockerfile
  airbyte-integrations/connectors/source-zendesk-talk/README.md
  airbyte-integrations/connectors/source-zendesk-talk/acceptance-test-config.yml
  airbyte-integrations/connectors/source-zendesk-talk/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-zendesk-talk/build.gradle
  airbyte-integrations/connectors/source-zendesk-talk/integration_tests/__init__.py
  airbyte-integrations/connectors/source-zendesk-talk/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-zendesk-talk/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-zendesk-talk/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-zendesk-talk/integration_tests/integration_test.py
  airbyte-integrations/connectors/source-zendesk-talk/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-zendesk-talk/integration_tests/spec.json
  airbyte-integrations/connectors/source-zendesk-talk/main.py
  airbyte-integrations/connectors/source-zendesk-talk/requirements.txt
  airbyte-integrations/connectors/source-zendesk-talk/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-zendesk-talk/setup.py
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/__init__.py
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/api.py
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/client.py
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/errors.py
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/schemas/account_overview.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/schemas/agents_activity.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/schemas/agents_overview.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/schemas/call_legs.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/schemas/calls.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/schemas/current_queue_activity.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/schemas/ivr_menus.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/schemas/ivr_routes.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/schemas/ivrs.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/source.py
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/spec.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/streams.py
  airbyte-integrations/connectors/source-zendesk-talk/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-zendesk-talk/unit_tests/unit_test.py
  docs/integrations/sources/zendesk-talk.md
Labels: area/documentation, area/connectors

#7890 Update on-oci-vm.md
  docs/deploying-airbyte/on-oci-vm.md
Labels: area/documentation, community

#7953 🚀 Publish new source: Azure table storage
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-azure-table/.dockerignore
  airbyte-integrations/connectors/source-azure-table/Dockerfile
  airbyte-integrations/connectors/source-azure-table/README.md
  airbyte-integrations/connectors/source-azure-table/acceptance-test-config.yml
  airbyte-integrations/connectors/source-azure-table/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-azure-table/build.gradle
  airbyte-integrations/connectors/source-azure-table/integration_tests/__init__.py
  airbyte-integrations/connectors/source-azure-table/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-azure-table/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-azure-table/integration_tests/catalog.json
  airbyte-integrations/connectors/source-azure-table/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-azure-table/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-azure-table/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-azure-table/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-azure-table/main.py
  airbyte-integrations/connectors/source-azure-table/requirements.txt
  airbyte-integrations/connectors/source-azure-table/setup.py
  airbyte-integrations/connectors/source-azure-table/source_azure_table/__init__.py
  airbyte-integrations/connectors/source-azure-table/source_azure_table/constants.py
  airbyte-integrations/connectors/source-azure-table/source_azure_table/reader.py
  airbyte-integrations/connectors/source-azure-table/source_azure_table/source.py
  airbyte-integrations/connectors/source-azure-table/source_azure_table/spec.json
  airbyte-integrations/connectors/source-azure-table/unit_tests/unit_test.py
  docs/SUMMARY.md
  docs/integrations/sources/azure-table.md
  tools/bin/ci_credentials.sh
Labels: area/documentation, area/connectors

#7950 🐛 Fix Trello Source API docs for Boards stream
  airbyte-integrations/connectors/source-trello/source_trello/source.py
Labels: area/connectors, community

#7969 Revert ":tada: Extend logic for JDBC connectors to provide additional…
  airbyte-config/models/src/test/java/io/airbyte/config/DataTypeEnumTest.java
  airbyte-db/lib/src/main/java/io/airbyte/db/jdbc/JdbcSourceOperations.java
  airbyte-db/lib/src/test/java/io/airbyte/db/jdbc/TestJdbcUtils.java
  airbyte-integrations/connectors/source-cockroachdb/src/main/java/io/airbyte/integrations/source/cockroachdb/CockroachJdbcSourceOperations.java
  airbyte-integrations/connectors/source-cockroachdb/src/test-integration/java/io/airbyte/integrations/source/cockroachdb/CockroachDbSourceDatatypeTest.java
  airbyte-integrations/connectors/source-cockroachdb/src/test/java/io/airbyte/integrations/source/cockroachdb/CockroachDbJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-db2-strict-encrypt/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/Db2StrictEncryptSourceCertificateAcceptanceTest.java
  airbyte-integrations/connectors/source-db2/src/main/java/io.airbyte.integrations.source.db2/Db2Source.java
  airbyte-integrations/connectors/source-db2/src/main/java/io.airbyte.integrations.source.db2/Db2SourceOperations.java
  airbyte-integrations/connectors/source-jdbc/src/testFixtures/java/io/airbyte/integrations/source/jdbc/test/JdbcSourceAcceptanceTest.java
  airbyte-protocol/models/src/main/java/io/airbyte/protocol/models/CatalogHelpers.java
  airbyte-protocol/models/src/main/java/io/airbyte/protocol/models/JsonSchemaPrimitive.java
Labels: area/connectors, area/platform, area/protocol

#7820 🎉 Source Mysql - added basic MySql performance tests
  airbyte-integrations/bases/standard-source-test/src/main/java/io/airbyte/integrations/standardtest/source/AbstractSourceConnectorTest.java
  airbyte-integrations/bases/standard-source-test/src/main/java/io/airbyte/integrations/standardtest/source/AbstractSourcePerformanceTest.java
  airbyte-integrations/connectors/source-mysql/README.md
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/src/test-performance/java/io/airbyte/integrations/source/mysql/MySqlSourcePerformanceTest.java
  buildSrc/src/main/groovy/airbyte-performance-test-java.gradle
  docs/integrations/sources/mysql.md
  tools/bin/ci_performance_test.sh
Labels: area/documentation, area/connectors

#7827 Change protocol for new OAuth Spec
  airbyte-api/build.gradle
  airbyte-api/src/main/openapi/config.yaml
  airbyte-cdk/python/airbyte_cdk/models/airbyte_protocol.py
  airbyte-integrations/bases/airbyte-protocol/airbyte_protocol/models/airbyte_protocol.py
  airbyte-protocol/models/src/main/resources/airbyte_protocol/airbyte_protocol.yaml
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api, CDK, area/platform, area/protocol
