Repository airbytehq/airbyte, pull requests merged in 2021-03, with the labels that each got.

#2237 Show example for inputs in specs
  airbyte-webapp/src/components/ServiceForm/components/Property/Label.tsx
  airbyte-webapp/src/components/ServiceForm/components/Property/LabelMessage.tsx
  airbyte-webapp/src/components/hooks/services/useSourceHook.tsx
  airbyte-webapp/src/locales/en.json
Labels: area/frontend

#2284 Fix catalog issue
  airbyte-webapp/src/components/CreateConnectionContent/CreateConnectionContent.tsx
  airbyte-webapp/src/components/FrequencyForm/FrequencyForm.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/SettingsView.tsx
Labels: area/frontend, priority/high, type/bug

#2358 Make prefix optional
  airbyte-webapp/src/components/FrequencyForm/FrequencyForm.tsx
Labels: area/frontend

#2357 Service form behaviour
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/components/DropDown/DropDown.tsx
  airbyte-webapp/src/components/DropDown/components/ListItem.tsx
  airbyte-webapp/src/components/Label/index.tsx
  airbyte-webapp/src/components/LabeledInput/index.tsx
  airbyte-webapp/src/components/LabeledToggle/index.tsx
  airbyte-webapp/src/components/Link/index.tsx
  airbyte-webapp/src/components/ServiceForm/FormRoot.tsx
  airbyte-webapp/src/components/ServiceForm/ServiceForm.tsx
  airbyte-webapp/src/components/ServiceForm/components/BottomBlock.tsx
  airbyte-webapp/src/components/ServiceForm/components/EditControls.tsx
  airbyte-webapp/src/components/ServiceForm/components/FormContent.tsx
  airbyte-webapp/src/components/ServiceForm/components/FormSection.tsx
  airbyte-webapp/src/components/ServiceForm/components/Instruction.tsx
  airbyte-webapp/src/components/ServiceForm/components/Property.tsx
  airbyte-webapp/src/components/ServiceForm/components/Property/ConfirmationInput.tsx
  airbyte-webapp/src/components/ServiceForm/components/Property/Control.tsx
  airbyte-webapp/src/components/ServiceForm/components/Property/Property.tsx
  airbyte-webapp/src/components/ServiceForm/components/Property/index.tsx
  airbyte-webapp/src/components/ServiceForm/components/ShowLoadingMessage.tsx
  airbyte-webapp/src/components/ServiceForm/serviceFormContext.tsx
  airbyte-webapp/src/components/ServiceForm/types.ts
  airbyte-webapp/src/components/ServiceForm/useBuildForm.tsx
  airbyte-webapp/src/components/TextWithHTML/index.tsx
  airbyte-webapp/src/components/index.tsx
  airbyte-webapp/src/core/form/types.ts
  airbyte-webapp/src/core/form/uiWidget.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/OnboardingPage/components/usePrepareDropdownLists.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SourceSettings.tsx
Labels: area/frontend

#2396 Fix textarea for secrets
  airbyte-webapp/src/components/ServiceForm/ServiceForm.tsx
  airbyte-webapp/src/components/ServiceForm/components/Property/ConfirmationControl.tsx
  airbyte-webapp/src/components/ServiceForm/components/Property/Control.tsx
Labels: area/frontend

#2468 Add button to password input to toggle the password to become visible
  airbyte-webapp/src/components/Input/Input.tsx
Labels: area/frontend

#2462 Jamakase/update connector version
  airbyte-webapp/src/components/Indicator/Indicator.tsx
  airbyte-webapp/src/components/Indicator/index.tsx
  airbyte-webapp/src/components/SideBar/SideBar.tsx
  airbyte-webapp/src/components/hooks/services/useNotification.tsx
  airbyte-webapp/src/core/resources/DestinationDefinition.ts
  airbyte-webapp/src/core/resources/SourceDefinition.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/AdminPage/components/ConnectorCell.tsx
  airbyte-webapp/src/pages/AdminPage/components/DestinationsView.tsx
  airbyte-webapp/src/pages/AdminPage/components/PageComponents.tsx
  airbyte-webapp/src/pages/AdminPage/components/SourcesView.tsx
  airbyte-webapp/src/pages/AdminPage/components/VersionCell.tsx
Labels: area/frontend

#2521 Fix destination version update
  airbyte-webapp/src/core/resources/Destination.tsx
  airbyte-webapp/src/core/resources/Source.tsx
  airbyte-webapp/src/pages/AdminPage/components/DestinationsView.tsx
  airbyte-webapp/src/pages/AdminPage/components/SourcesView.tsx
Labels: area/frontend, type/bug

#2519 UI accommodate API change for get check, discover
  airbyte-webapp/src/components/JobItem/JobsLogItem.tsx
  airbyte-webapp/src/components/JobItem/components/JobCurrenLogs.tsx
  airbyte-webapp/src/components/JobItem/components/JobLogs.tsx
  airbyte-webapp/src/components/JobItem/components/MainInfo.tsx
  airbyte-webapp/src/core/domain/catalog/fieldUtil.ts
  airbyte-webapp/src/core/resources/Job.ts
  airbyte-webapp/src/core/resources/Scheduler.ts
Labels: area/frontend

#2506 Testing source and destination
  airbyte-webapp/src/components/ServiceForm/FormRoot.tsx
  airbyte-webapp/src/components/ServiceForm/ServiceForm.tsx
  airbyte-webapp/src/components/ServiceForm/components/BottomBlock.tsx
  airbyte-webapp/src/components/ServiceForm/components/EditControls.tsx
  airbyte-webapp/src/components/ServiceForm/components/TestingConnectionError.tsx
  airbyte-webapp/src/components/ServiceForm/components/TestingConnectionSpinner.tsx
  airbyte-webapp/src/components/ServiceForm/components/TestingConnectionSuccess.tsx
  airbyte-webapp/src/components/hooks/services/useDestinationHook.tsx
  airbyte-webapp/src/components/hooks/services/useSourceHook.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/DestinationPage/pages/DestinationItemPage/components/DestinationSettings.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SourceSettings.tsx
Labels: area/frontend

#2529 Fix tests
  .github/workflows/gradle.yml
  airbyte-e2e-testing/cypress/integration/destination.spec.js
  airbyte-e2e-testing/cypress/integration/source.spec.js
  airbyte-webapp/src/components/ServiceForm/components/TestingConnectionSuccess.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SourceSettings.tsx
Labels: area/frontend

#2494 Jamakase/variable input fields
  airbyte-webapp/src/components/ArrayOfObjectsEditor/ArrayOfObjectsEditor.tsx
  airbyte-webapp/src/components/ArrayOfObjectsEditor/components/EditorHeader.tsx
  airbyte-webapp/src/components/ArrayOfObjectsEditor/components/EditorRow.tsx
  airbyte-webapp/src/components/ArrayOfObjectsEditor/index.tsx
  airbyte-webapp/src/components/Multiselect/Multiselect.tsx
  airbyte-webapp/src/components/Multiselect/index.tsx
  airbyte-webapp/src/components/ServiceForm/FormRoot.tsx
  airbyte-webapp/src/components/ServiceForm/ServiceForm.tsx
  airbyte-webapp/src/components/ServiceForm/components/Controls/ConnectorNameControl.tsx
  airbyte-webapp/src/components/ServiceForm/components/Controls/ConnectorServiceTypeControl.tsx
  airbyte-webapp/src/components/ServiceForm/components/Controls/Instruction.tsx
  airbyte-webapp/src/components/ServiceForm/components/EditControls.tsx
  airbyte-webapp/src/components/ServiceForm/components/FormSection.tsx
  airbyte-webapp/src/components/ServiceForm/components/Property.tsx
  airbyte-webapp/src/components/ServiceForm/components/Property/Control.tsx
  airbyte-webapp/src/components/ServiceForm/components/Property/GroupControls.tsx
  airbyte-webapp/src/components/ServiceForm/components/Property/Label.tsx
  airbyte-webapp/src/components/ServiceForm/components/Property/LabelMessage.tsx
  airbyte-webapp/src/components/ServiceForm/components/PropertySection.tsx
  airbyte-webapp/src/components/ServiceForm/serviceFormContext.tsx
  airbyte-webapp/src/components/ServiceForm/types.ts
  airbyte-webapp/src/components/ServiceForm/useBuildForm.tsx
  airbyte-webapp/src/components/base/TagInput/TagInput.tsx
  airbyte-webapp/src/components/base/TagInput/TagItem.tsx
  airbyte-webapp/src/components/base/TagInput/index.tsx
  airbyte-webapp/src/components/base/index.tsx
  airbyte-webapp/src/components/index.tsx
  airbyte-webapp/src/core/form/types.ts
  airbyte-webapp/src/core/form/uiWidget.test.ts
  airbyte-webapp/src/core/form/uiWidget.ts
  airbyte-webapp/src/core/jsonSchema/schemaToUiWidget.test.ts
  airbyte-webapp/src/core/jsonSchema/schemaToUiWidget.ts
  airbyte-webapp/src/core/jsonSchema/schemaToYup.test.ts
  airbyte-webapp/src/core/jsonSchema/schemaToYup.ts
  airbyte-webapp/src/locales/en.json
Labels: area/frontend, type/enhancement

#2577 Source Hubspot: hotfix client tests
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/36c891d9-4bd9-43ac-bad2-10e12756272c.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/integration_tests/client_test.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/api.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/client.py
Labels: zazmic

#2592 Fix service form with group case
  .github/workflows/gradle.yml
  airbyte-webapp/src/components/ServiceForm/components/FormSection.tsx
Labels: priority/high, type/bug

#2546 Add connection failed status
  airbyte-webapp/src/components/EntityTable/ConnectionTable.tsx
  airbyte-webapp/src/components/EntityTable/components/AllConnectionsStatusCell.tsx
  airbyte-webapp/src/components/EntityTable/components/NameCell.tsx
  airbyte-webapp/src/components/EntityTable/types.ts
  airbyte-webapp/src/components/EntityTable/utils.tsx
  airbyte-webapp/src/components/StatusIcon/StatusIcon.tsx
  airbyte-webapp/src/core/resources/Connection.ts
  airbyte-webapp/src/theme.ts
Labels: area/frontend, type/enhancement

#2593 Add job cancel button
  airbyte-webapp/src/components/JobItem/components/MainInfo.tsx
  airbyte-webapp/src/components/hooks/services/useJob.tsx
  airbyte-webapp/src/core/resources/Job.ts
Labels: area/frontend

#2614 update connection settings
  airbyte-e2e-testing/cypress/integration/connection.spec.js
  airbyte-e2e-testing/cypress/support/commands/connection.js
  airbyte-webapp/src/components/CheckBox/CheckBox.tsx
  airbyte-webapp/src/components/ConnectionBlock/ConnectionBlock.tsx
  airbyte-webapp/src/components/ConnectionBlock/components/ConnectionBlockItem.tsx
  airbyte-webapp/src/components/CreateConnectionContent/CreateConnectionContent.tsx
  airbyte-webapp/src/components/DropDown/DropDown.tsx
  airbyte-webapp/src/components/FrequencyForm/components/SchemaView.tsx
  airbyte-webapp/src/components/RadioButton/RadioButton.tsx
  airbyte-webapp/src/components/RadioButton/index.tsx
  airbyte-webapp/src/components/SideBar/SideBar.tsx
  airbyte-webapp/src/components/SourceAndDestinationsBlocks/FormPageContent.tsx
  airbyte-webapp/src/components/TreeView/TreeView.tsx
  airbyte-webapp/src/components/TreeView/components/ChildRow.tsx
  airbyte-webapp/src/components/TreeView/components/ExpandFieldCell.tsx
  airbyte-webapp/src/components/TreeView/components/ItemRow.tsx
  airbyte-webapp/src/components/TreeView/components/MainInfoCell.tsx
  airbyte-webapp/src/components/TreeView/components/OverflowCell.tsx
  airbyte-webapp/src/components/TreeView/components/Rows.tsx
  airbyte-webapp/src/components/TreeView/components/SyncSettingsCell.tsx
  airbyte-webapp/src/components/TreeView/components/Tooltip.tsx
  airbyte-webapp/src/components/TreeView/components/TreeItem.tsx
  airbyte-webapp/src/components/TreeView/components/TreeRowWrapper.tsx
  airbyte-webapp/src/components/TreeView/components/TreeViewRow.tsx
  airbyte-webapp/src/components/TreeView/components/TreeViewSection.tsx
  airbyte-webapp/src/components/index.tsx
  airbyte-webapp/src/core/domain/catalog/api.ts
  airbyte-webapp/src/core/domain/catalog/models.ts
  airbyte-webapp/src/core/resources/Connection.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionItemPage.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/EnabledControl.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/SettingsView.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/StatusMainInfo.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/CreationFormPage/CreationFormPage.tsx
  airbyte-webapp/src/pages/OnboardingPage/OnboardingPage.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/ConnectionStep.tsx
  airbyte-webapp/src/theme.ts
  airbyte-webapp/src/utils/objects.ts
  airbyte-webapp/src/views/Connector/FrequencyForm/FrequencyForm.tsx
  airbyte-webapp/src/views/Connector/FrequencyForm/components/BottomBlock.tsx
  airbyte-webapp/src/views/Connector/FrequencyForm/components/Connector.tsx
  airbyte-webapp/src/views/Connector/FrequencyForm/components/EditControls.tsx
  airbyte-webapp/src/views/Connector/FrequencyForm/components/SchemaView.tsx
  airbyte-webapp/src/views/Connector/FrequencyForm/components/Search.tsx
  airbyte-webapp/src/views/Connector/FrequencyForm/index.tsx
  airbyte-webapp/src/views/Connector/FrequencyForm/useInitialSchema.tsx
Labels: area/frontend

#2623 Add loading button state for export in admin page
  airbyte-webapp/src/components/Button/LoadingButton.tsx
  airbyte-webapp/src/pages/AdminPage/components/ConfigurationView.tsx
  airbyte-webapp/src/pages/AdminPage/components/LogsContent.tsx
Labels: area/frontend

#2620 Upgrade all button
  airbyte-webapp/src/components/hooks/services/useNotification.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/AdminPage/components/DestinationsView.tsx
  airbyte-webapp/src/pages/AdminPage/components/PageComponents.tsx
  airbyte-webapp/src/pages/AdminPage/components/SourcesView.tsx
  airbyte-webapp/src/pages/AdminPage/components/UpgradeAllButton.tsx
Labels: area/frontend

#2644 Improve updating schema mode
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/SettingsView.tsx
Labels: area/frontend

#2666 Source Instagram: fix bug with transient failures
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/6acf6b55-4f1e-4fca-944e-1a3caef8aba8.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-instagram/Dockerfile
  airbyte-integrations/connectors/source-instagram/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-instagram/sample_files/configured_catalog_insights.json
  airbyte-integrations/connectors/source-instagram/source_instagram/client/api.py
  airbyte-integrations/connectors/source-instagram/source_instagram/client/common.py
Labels: zazmic
