Repository airbytehq/airbyte, pull requests merged in 2021-01, with the labels that each got.

#1615 Fix race condition for loading configurations
  airbyte-webapp/src/components/hooks/services/useDestinationHook.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/DestinationStep.tsx
Labels: area/frontend, type/bug

#1625 Fix flashing red sources/destinations fields after success submit
  airbyte-webapp/src/components/ServiceForm/ServiceForm.tsx
Labels: area/frontend, type/bug

#1632 Skip onboarding button
  airbyte-webapp/src/components/CreateConnectionContent/CreateConnectionContent.tsx
  airbyte-webapp/src/components/CreateConnectionContent/components/CreateConnection.tsx
  airbyte-webapp/src/components/FrequencyForm/FrequencyForm.tsx
  airbyte-webapp/src/components/FrequencyForm/components/BottomBlock.tsx
  airbyte-webapp/src/components/ServiceForm/ServiceForm.tsx
  airbyte-webapp/src/components/ServiceForm/components/BottomBlock.tsx
  airbyte-webapp/src/components/hooks/services/useConnectionHook.tsx
  airbyte-webapp/src/components/hooks/services/useWorkspaceHook.tsx
  airbyte-webapp/src/core/resources/Workspace.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/OnboardingPage/components/ConnectionStep.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/DestinationStep.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/SkipOnboardingButton.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/SourceStep.tsx
  airbyte-webapp/src/pages/PreferencesPage/PreferencesPage.tsx
  airbyte-webapp/src/pages/routes.tsx
Labels: area/frontend

#1736 web: Upgrade Rest Hooks to v5
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/components/hooks/services/useDestinationHook.tsx
  airbyte-webapp/src/components/hooks/services/useSourceHook.tsx
  airbyte-webapp/src/core/resources/BaseResource.ts
  airbyte-webapp/src/core/resources/Connection.ts
  airbyte-webapp/src/pages/ConnectionPage/pages/CreationFormPage/CreationFormPage.tsx
Labels: area/frontend

#1742 Sort catalog alphabetically
  airbyte-webapp/src/components/TreeView/TreeView.tsx
Labels: area/frontend

#1723 Manual update schema
  airbyte-webapp/src/components/CreateConnectionContent/CreateConnectionContent.tsx
  airbyte-webapp/src/components/FrequencyForm/FrequencyForm.tsx
  airbyte-webapp/src/components/FrequencyForm/components/EditControls.tsx
  airbyte-webapp/src/components/LoadingSchema/LoadingSchema.tsx
  airbyte-webapp/src/components/LoadingSchema/index.tsx
  airbyte-webapp/src/components/ResetDataModal/ResetDataModal.tsx
  airbyte-webapp/src/components/ResetDataModal/types.ts
  airbyte-webapp/src/components/hooks/services/useConnectionHook.tsx
  airbyte-webapp/src/core/resources/Connection.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionItemPage.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/SettingsView.tsx
Labels: area/frontend

#1718 Admin configuration section
  airbyte-server/src/main/java/io/airbyte/server/CorsFilter.java
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/components/FileDropZone/FileDropZone.tsx
  airbyte-webapp/src/components/FileDropZone/index.tsx
  airbyte-webapp/src/components/JobItem/JobItem.tsx
  airbyte-webapp/src/config/index.ts
  airbyte-webapp/src/core/resources/BaseResource.ts
  airbyte-webapp/src/core/resources/Deployment.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/AdminPage/AdminPage.tsx
  airbyte-webapp/src/pages/AdminPage/components/ConfigurationView.tsx
  airbyte-webapp/src/pages/AdminPage/components/CreateConnector.tsx
  airbyte-webapp/src/pages/AdminPage/components/ImportConfigurationModal.tsx
Labels: area/frontend

#1809 Add slack button in the left navbar
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/components/SideBar/SideBar.tsx
  airbyte-webapp/src/config/index.ts
  airbyte-webapp/src/locales/en.json
Labels: area/frontend

#1770 Get error message from BE request
  airbyte-webapp/src/components/CreateConnectionContent/components/CreateConnection.tsx
  airbyte-webapp/src/components/ServiceForm/components/EditControls.tsx
  airbyte-webapp/src/core/resources/Scheduler.ts
  airbyte-webapp/src/pages/ConnectionPage/pages/CreationFormPage/components/CheckConnection.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/CreationFormPage/components/DestinationForm.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/CreationFormPage/components/SourceForm.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/CreateDestinationPage/CreateDestinationPage.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/CreateDestinationPage/components/DestinationForm.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/DestinationItemPage/components/DestinationSettings.tsx
  airbyte-webapp/src/pages/OnboardingPage/OnboardingPage.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/DestinationStep.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/SourceStep.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/CreateSourcePage/CreateSourcePage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/CreateSourcePage/components/SourceForm.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SourceSettings.tsx
  airbyte-webapp/src/utils/errorStatusMessage.tsx
Labels: area/frontend

#1808 Show another message if loading spec spinner is shown for more than 1…
  airbyte-webapp/src/components/ServiceForm/components/FormContent.tsx
  airbyte-webapp/src/components/ServiceForm/components/ShowLoadingMessage.tsx
  airbyte-webapp/src/config/index.ts
  airbyte-webapp/src/locales/en.json
Labels: area/frontend

#1820 Add segment event on Skip Onboarding
  airbyte-webapp/src/components/hooks/services/useWorkspaceHook.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/ConnectionStep.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/DestinationStep.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/SkipOnboardingButton.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/SourceStep.tsx
Labels: area/frontend

#1831 Show Sync or Reset label in the job summary
  airbyte-webapp/src/components/JobItem/JobItem.tsx
  airbyte-webapp/src/components/JobItem/components/AttemptDetails.tsx
  airbyte-webapp/src/components/JobItem/components/MainInfo.tsx
  airbyte-webapp/src/core/resources/Connection.ts
  airbyte-webapp/src/core/resources/Deployment.ts
  airbyte-webapp/src/core/resources/Job.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/JobsList.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/StatusView.tsx
Labels: area/frontend

#1771 Edit secret input
  airbyte-webapp/src/components/BaseClearView/BaseClearView.tsx
  airbyte-webapp/src/components/DropDown/DropDown.tsx
  airbyte-webapp/src/components/DropDown/index.tsx
  airbyte-webapp/src/components/FrequencyForm/FrequencyForm.tsx
  airbyte-webapp/src/components/FrequencyForm/useInitialSchema.tsx
  airbyte-webapp/src/components/Input/Input.tsx
  airbyte-webapp/src/components/Input/index.tsx
  airbyte-webapp/src/components/LabeledControl/ControlLabels.tsx
  airbyte-webapp/src/components/LabeledControl/index.tsx
  airbyte-webapp/src/components/LabeledDropDown/index.tsx
  airbyte-webapp/src/components/LabeledInput/LabeledInput.tsx
  airbyte-webapp/src/components/ServiceForm/ServiceForm.tsx
  airbyte-webapp/src/components/ServiceForm/components/EditControls.tsx
  airbyte-webapp/src/components/ServiceForm/components/FormContent.tsx
  airbyte-webapp/src/components/ServiceForm/components/Property/ConfirmationInput.tsx
  airbyte-webapp/src/components/ServiceForm/components/Property/Control.tsx
  airbyte-webapp/src/components/ServiceForm/components/Property/Label.tsx
  airbyte-webapp/src/components/ServiceForm/components/Property/Property.tsx
  airbyte-webapp/src/components/ServiceForm/components/Property/index.tsx
  airbyte-webapp/src/components/ServiceForm/components/PropertyField.tsx
  airbyte-webapp/src/components/ServiceForm/uiWidgetContext.tsx
  airbyte-webapp/src/components/ServiceForm/useBuildForm.tsx
  airbyte-webapp/src/locales/en.json
Labels: area/frontend

#1870 Add new api call for chrck connection on update
  airbyte-webapp/src/components/hooks/services/useDestinationHook.tsx
  airbyte-webapp/src/components/hooks/services/useSourceHook.tsx
  airbyte-webapp/src/core/resources/Scheduler.ts
  airbyte-webapp/src/pages/DestinationPage/pages/DestinationItemPage/components/DestinationSettings.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SourceSettings.tsx
Labels: area/frontend

#1857 Looker source #1837 - CI tests failing
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/00405b19-9768-4e0c-b1ae-9fc2ee2b2a8c.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-looker/Dockerfile
  airbyte-integrations/connectors/source-looker/setup.py
  airbyte-integrations/connectors/source-looker/source_looker/client.py
Labels: zazmic

#1863 Hide job summary until attempt has succeeded or failed
  airbyte-webapp/src/components/JobItem/components/AttemptDetails.tsx
Labels: area/frontend

#1873 Source File: fix issue with boolean types in schema
  airbyte-integrations/connectors/source-file/integration_tests/client_storage_providers_test.py
  airbyte-integrations/connectors/source-file/integration_tests/sample_files/test.csv
  airbyte-integrations/connectors/source-file/integration_tests/sample_files/test.csv.gz
  airbyte-integrations/connectors/source-file/integration_tests/sample_files/test.pkl
  airbyte-integrations/connectors/source-file/integration_tests/sample_files/test.pkl.gz
  airbyte-integrations/connectors/source-file/source_file/client.py
  airbyte-integrations/connectors/source-file/unit_tests/unit_test.py
Labels: type/bug, zazmic
