Repository airbytehq/airbyte, pull requests merged in 2021-10, with the labels that each got.

#6536 Destination MongoDb: added support via TLS/SSL
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/8b746512-8c2e-6ac1-4adc-b59faafd473c.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-db/lib/src/main/java/io/airbyte/db/mongodb/MongoDatabase.java
  airbyte-db/lib/src/main/java/io/airbyte/db/mongodb/MongoUtils.java
  airbyte-integrations/connectors/destination-mongodb/Dockerfile
  airbyte-integrations/connectors/destination-mongodb/build.gradle
  airbyte-integrations/connectors/destination-mongodb/src/main/java/io/airbyte/integrations/destination/mongodb/MongodbDestination.java
  airbyte-integrations/connectors/destination-mongodb/src/main/java/io/airbyte/integrations/destination/mongodb/MongodbRecordConsumer.java
  airbyte-integrations/connectors/destination-mongodb/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-mongodb/src/test-integration/java/io/airbyte/integrations/destination/mongodb/MongodbDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mongodb/src/test/java/io/airbyte/integrations/destination/mongodb/MongodbDestinationTest.java
  airbyte-integrations/connectors/source-mongodb-v2/build.gradle
  airbyte-integrations/connectors/source-mongodb-v2/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/MongoDbSourceStandaloneAcceptanceTest.java
  docs/integrations/destinations/mongodb.md
Labels: area/documentation, area/connectors

#6576 Missing docs
  airbyte-integrations/bases/standard-source-test/src/main/java/io/airbyte/integrations/standardtest/source/SourceAcceptanceTest.java
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-kafka/README.md
  airbyte-integrations/connectors/source-kafka/src/main/java/io/airbyte/integrations/source/kafka/KafkaSourceConfig.java
  airbyte-integrations/connectors/source-kafka/src/main/resources/spec.json
  airbyte-integrations/connectors/source-kafka/src/test-integration/java/io/airbyte/integrations/source/kafka/KafkaSourceAcceptanceTest.java
Labels: area/connectors

#6565 Fix google ads specs
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/source_google_ads/spec.json
Labels: area/connectors

#6461 Feat/Fix: Amazon Ads connector
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/c6b0a29e-1da9-4512-9002-7bfd0cba2246.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-amazon-ads/Dockerfile
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/constants.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/source.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/spec.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/__init__.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/common.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/report_streams/__init__.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/report_streams/brands_video_report.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/report_streams/report_streams.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/test_report_streams.py
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, area/connectors

#6607 Fix cloud oauth
  airbyte-webapp/src/packages/cloud/routes.tsx
  airbyte-webapp/src/pages/routes.tsx
Labels: type/bug, area/frontend, cloud-public-launch

#6609 Fix amazon ads unittests and apply formatting
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/spec.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/constants.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/source.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/spec.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/__init__.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/common.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/report_streams/__init__.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/report_streams/brands_video_report.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/report_streams/report_streams.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/test_report_streams.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/test_source.py
Labels: area/connectors

#6612 🍾 Free the Health Check.
  airbyte-api/src/main/openapi/config.yaml
Labels: area/api

#6614 Bump Airbyte version from 0.30.3-alpha to 0.30.4-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, kubernetes

#6624 🎉 Make sure applications can use 75% of the configured RAM for heap.
  airbyte-scheduler/app/build.gradle
  airbyte-server/build.gradle
  airbyte-workers/build.gradle
Labels: area/worker, area/core

#6251 Redirect to oboarding page
  airbyte-webapp/src/packages/cloud/routes.tsx
  airbyte-webapp/src/packages/cloud/views/layout/SideBar/SideBar.tsx
  airbyte-webapp/src/pages/OnboardingPage/OnboardingPage.tsx
  airbyte-webapp/src/pages/SourcesPage/SourcesPage.tsx
  airbyte-webapp/src/pages/routes.tsx
  airbyte-webapp/src/views/layout/SideBar/SideBar.tsx
Labels: type/enhancement

#6629 Fix MacOS brew install command
  docs/deploying-airbyte/on-gcp-compute-engine.md
Labels: area/documentation

#6633 Bump Airbyte version from 0.30.4-alpha to 0.30.5-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, kubernetes

#6636 Bump Airbyte version from 0.30.5-alpha to 0.30.6-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, kubernetes

#6637 fix issue where configdumpimporter parses wrong type
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java
  airbyte-server/src/main/java/io/airbyte/server/ConfigDumpImporter.java
Labels: area/core

#6631 Move Tutorials up on the Connector Development Index
  docs/SUMMARY.md
Labels: area/documentation

#6644 Revert "Redirect to oboarding page"
  airbyte-webapp/src/packages/cloud/routes.tsx
  airbyte-webapp/src/packages/cloud/views/layout/SideBar/SideBar.tsx
  airbyte-webapp/src/pages/OnboardingPage/OnboardingPage.tsx
  airbyte-webapp/src/pages/SourcesPage/SourcesPage.tsx
  airbyte-webapp/src/pages/routes.tsx
  airbyte-webapp/src/views/layout/SideBar/SideBar.tsx
Labels: area/frontend

#6645 Bump Airbyte version from 0.30.6-alpha to 0.30.7-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, kubernetes

#6646 do not try to fetch logs for null path or empty path
  airbyte-config/models/src/main/java/io/airbyte/config/helpers/LogClientSingleton.java
  airbyte-config/models/src/test/java/io/airbyte/config/helpers/LogClientSingletonTest.java
  airbyte-scheduler/client/src/main/java/io/airbyte/scheduler/client/BucketSpecCacheSchedulerClient.java
Labels: area/core

#6647 Bump Airbyte version from 0.30.7-alpha to 0.30.8-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, kubernetes

#6648 fix issue where getting config causes webapp to spin
  airbyte-webapp/src/packages/cloud/services/config/configProviders.ts
Labels: area/frontend

#6653 Show message on UI when resending email verification
  airbyte-webapp/src/packages/cloud/locales/en.json
  airbyte-webapp/src/packages/cloud/views/auth/ConfirmEmailPage/ConfirmEmailPage.tsx
Labels: area/frontend

#6672 Implement password reset with firebase
  airbyte-webapp/src/packages/cloud/lib/auth/GoogleAuthService.ts
  airbyte-webapp/src/packages/cloud/locales/en.json
  airbyte-webapp/src/packages/cloud/services/auth/AuthService.tsx
  airbyte-webapp/src/packages/cloud/views/users/AccountSettingsView/components/PasswordSection.tsx
Labels: area/frontend

#6668 Add support for more dynamic variables in webapp
  airbyte-webapp/src/config/configProviders.ts
  airbyte-webapp/src/config/types.ts
  airbyte-webapp/src/hooks/useFullStory.tsx
  airbyte-webapp/src/index.tsx
Labels: area/frontend

#6685 Bump Airbyte version from 0.30.8-alpha to 0.30.9-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, kubernetes

#6679 feat: added intercom provider
  airbyte-webapp/.env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/packages/cloud/App.tsx
  airbyte-webapp/src/packages/cloud/routes.tsx
  airbyte-webapp/src/packages/cloud/views/layout/SideBar/SideBar.tsx
Labels: area/frontend

#6659 📚 Docs Refresh: Facebook Marketing Source
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation

#6660 📚 Docs Refresh: Google Ads Source
  docs/integrations/sources/google-ads.md
Labels: area/documentation

#6662 📚 Docs Refresh: Google Analytics v4 Source
  docs/integrations/sources/google-analytics-v4.md
Labels: area/documentation

#6663 📚 Docs Refresh: Files Source
  docs/integrations/sources/file.md
Labels: area/documentation

#6664 📚 Docs Refresh: Postgres Source
  docs/integrations/sources/postgres.md
Labels: area/documentation

#6665 📚 Docs Refresh: BigQuery Destination
  docs/integrations/destinations/bigquery.md
Labels: area/documentation

#6666 📚 Docs Refresh: MySQL Source
  docs/integrations/sources/mysql.md
Labels: area/documentation

#6667 📚 Docs Refresh: Google Adwords Source
  docs/integrations/sources/google-adwords.md
Labels: area/documentation

#6669 📚 Docs Refresh: Google Analytics Source
  docs/SUMMARY.md
  docs/integrations/sources/googleanalytics.md
Labels: area/documentation

#6670 📚 Docs Refresh: MSSQL Source
  docs/integrations/sources/mssql.md
Labels: area/documentation

#6671 📚 Docs Refresh: Oracle Source
  docs/integrations/sources/oracle.md
Labels: area/documentation

#6673 📚 Docs Refresh: MongoDB Destination
  docs/integrations/destinations/mongodb.md
Labels: area/documentation

#6675 📚 Docs Refresh: Postgres Destination
  docs/integrations/destinations/postgres.md
Labels: area/documentation

#6676 📚 Docs Refresh: MySQL Destination
  docs/integrations/destinations/mysql.md
Labels: area/documentation

#6677 📚 Docs Rework: MSSQL Destination
  docs/integrations/destinations/mssql.md
Labels: area/documentation

#6692 📚 Docs Refresh: Oracle Destination
  docs/integrations/destinations/oracle.md
Labels: area/documentation

#6694 📚 Docs Refresh: PokéAPI Source
  docs/integrations/sources/pokeapi.md
Labels: area/documentation

#6698 📚 Add Troubleshooting for BigQuery Destination.
  docs/integrations/destinations/bigquery.md
Labels: area/documentation

#6699 📚 Docs Refresh: Jira Source
  docs/integrations/destinations/bigquery.md
  docs/integrations/sources/jira.md
  docs/integrations/sources/mssql.md
Labels: area/documentation

#6700 📚 Docs Refresh: Hubspot Source
  docs/integrations/sources/hubspot.md
Labels: area/documentation

#6702 Add emitted field error Troubleshooting for BigQuery Destination
  docs/integrations/destinations/bigquery.md
Labels: area/documentation

#6703 Add Schema Selection to Postgres feature table
  docs/integrations/sources/postgres.md
Labels: area/documentation

#6704 📚 Docs Refresh: S3 Destination
  docs/integrations/destinations/s3.md
Labels: area/documentation

#6680 Revert "Revert "Redirect to oboarding page""
  airbyte-e2e-testing/cypress/integration/connection.spec.js
  airbyte-e2e-testing/cypress/integration/onboarding.spec.js
  airbyte-e2e-testing/cypress/support/commands/common.js
  airbyte-webapp/src/packages/cloud/routes.tsx
  airbyte-webapp/src/packages/cloud/views/layout/SideBar/SideBar.tsx
  airbyte-webapp/src/pages/OnboardingPage/OnboardingPage.tsx
  airbyte-webapp/src/pages/SourcesPage/SourcesPage.tsx
  airbyte-webapp/src/pages/routes.tsx
  airbyte-webapp/src/views/layout/SideBar/SideBar.tsx
Labels: area/frontend

#6613 :bug: Source S3: timestamp parquet data
  airbyte-integrations/connectors/source-s3/setup.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/formats/parquet_parser.py
  airbyte-integrations/connectors/source-s3/unit_tests/test_parquet_parser.py
Labels: area/connectors

#6397 Move SourceJdbcUtils.java to JdbcSourceOperations.java
  airbyte-db/lib/src/main/java/io/airbyte/db/jdbc/JdbcSourceOperations.java
  airbyte-db/lib/src/main/java/io/airbyte/db/jdbc/JdbcUtils.java
  airbyte-integrations/connectors/destination-mssql/src/test-integration/java/io/airbyte/integrations/destination/mssql/SshKeyMSSQLDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mssql/src/test-integration/java/io/airbyte/integrations/destination/mssql/SshMSSQLDestinationAcceptanceTest.java
  airbyte-integrations/connectors/source-clickhouse/src/main/java/io/airbyte/integrations/source/clickhouse/ClickHouseSource.java
  airbyte-integrations/connectors/source-clickhouse/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/ClickHouseSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-cockroachdb/src/test/java/io/airbyte/integrations/source/cockroachdb/CockroachDbJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-db2/src/test/java/io.airbyte.integrations.source.db2/Db2JdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/SourceJdbcUtils.java
  airbyte-integrations/connectors/source-jdbc/src/testFixtures/java/io/airbyte/integrations/source/jdbc/test/JdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-kafka/src/test-integration/java/io/airbyte/integrations/source/kafka/KafkaSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/source/mysql/MySqlSslSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/MySqlSslJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-oracle/src/test/java/io/airbyte/integrations/source/oracle/OracleJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-redshift/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/RedshiftSourceAcceptanceTest.java
Labels: area/connectors

#6608 🎉 Source MSSQL: Implement SSH bastion for acceptance/integration tests
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/AbstractSshMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/SshKeyMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/SshPasswordMssqlSourceAcceptanceTest.java
  tools/bin/ci_credentials.sh
Labels: area/connectors

#6705 Update about the helm chart
  docs/deploying-airbyte/on-kubernetes.md
Labels: area/documentation, community_pr

#6465 🎉 Source Hubspot: Support OAuth
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-integrations/connectors/source-hubspot/acceptance-test-config.yml
  airbyte-integrations/connectors/source-hubspot/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-hubspot/integration_tests/invalid_config_oauth.json
  airbyte-integrations/connectors/source-hubspot/integration_tests/invalid_config_wrong_title.json
  airbyte-integrations/connectors/source-hubspot/setup.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/api.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/client.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/spec.json
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_client.py
  docs/integrations/sources/hubspot.md
  tools/bin/ci_credentials.sh
Labels: area/documentation, area/connectors

#6683 change news oss link
  airbyte-webapp/src/config/uiConfig.ts
Labels: area/frontend

#6682 update signup page copy
  airbyte-webapp/src/packages/cloud/locales/en.json
Labels: area/frontend

#6686 Jamakase/add credits page
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/components/BarChart/BarChart.tsx
  airbyte-webapp/src/components/BarChart/index.tsx
  airbyte-webapp/src/components/ContentCard/ContentCard.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/packages/cloud/lib/domain/cloudWorkspaces/CloudWorkspacesService.ts
  airbyte-webapp/src/packages/cloud/lib/domain/cloudWorkspaces/types.ts
  airbyte-webapp/src/packages/cloud/routes.tsx
  airbyte-webapp/src/packages/cloud/services/workspaces/WorkspacesService.tsx
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/CreditsPage.tsx
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/components/CreditsTitle.tsx
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/components/CreditsUsagePage.tsx
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/components/RemainingCredits.tsx
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/index.tsx
  airbyte-webapp/src/packages/cloud/views/credits/index.tsx
  airbyte-webapp/src/packages/cloud/views/layout/SideBar/SideBar.tsx
  airbyte-webapp/src/theme.ts
  airbyte-webapp/src/views/Connection/ConnectionForm/components/SyncCatalogField.tsx
Labels: area/frontend, priority/high

#6585 Clarify ssh private key format for ssh tunnels
  .github/workflows/project.yaml
  airbyte-integrations/bases/base-java/src/main/resources/ssh-tunnel-spec.json
  docs/integrations/sources/mssql.md
  docs/integrations/sources/mysql.md
  docs/integrations/sources/oracle.md
  docs/integrations/sources/postgres.md
Labels: area/documentation

#6729 require terms of service to be selected
  airbyte-webapp/src/packages/cloud/views/auth/SignupPage/SignupPage.tsx
Labels: area/frontend

#6741 Bump Airbyte version from 0.30.9-alpha to 0.30.10-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, kubernetes

#6523 Source Jira: Add caching and more streams
  airbyte-integrations/connectors/source-jira/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-jira/setup.py
  airbyte-integrations/connectors/source-jira/source_jira/schemas/boards.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/sprints.json
  airbyte-integrations/connectors/source-jira/source_jira/source.py
  airbyte-integrations/connectors/source-jira/source_jira/streams.py
Labels: area/connectors, community_pr

#6750 Filter out oauth connectors which are not ready from the UI
  airbyte-webapp/src/views/Connector/ServiceForm/components/Controls/ConnectorServiceTypeControl.tsx
Labels: area/frontend

#6753 Bump Airbyte version from 0.30.10-alpha to 0.30.11-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, kubernetes

#6719 🎉 Source Facebook Marketing: update version of facebook_bussiness package to 12.0
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e7778cfc-e97c-4458-9ecb-b4f2bba8946c.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/setup.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors

#6756 Fix password reset
  airbyte-webapp/src/packages/cloud/locales/en.json
  airbyte-webapp/src/packages/cloud/routes.tsx
  airbyte-webapp/src/packages/cloud/services/auth/AuthService.tsx
  airbyte-webapp/src/packages/cloud/views/auth/Auth.tsx
  airbyte-webapp/src/packages/cloud/views/auth/ConfirmPasswordResetPage/ConfirmPasswordResetPage.tsx
  airbyte-webapp/src/packages/cloud/views/auth/ResetPasswordPage/ResetPasswordPage.tsx
Labels: area/frontend

#6720 feat: change url for remove users
  airbyte-webapp/src/packages/cloud/lib/domain/users/UserService.ts
  airbyte-webapp/src/packages/cloud/services/auth/AuthService.tsx
  airbyte-webapp/src/packages/cloud/services/users/UseUserHook.ts
  airbyte-webapp/src/packages/cloud/views/users/InviteUsersModal/InviteUsersModal.tsx
  airbyte-webapp/src/packages/cloud/views/users/UsersSettingsView/UsersSettingsView.tsx
Labels: area/frontend

#6017 :tada: Source Stripe: add lookback_window_days parameter for incremental update
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e094cb9a-26de-4645-8761-65c0c425d1de.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-stripe/Dockerfile
  airbyte-integrations/connectors/source-stripe/README.md
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  airbyte-integrations/connectors/source-stripe/source_stripe/spec.json
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_source.py
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors

#6730 Track oauth usage
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/JobScheduler.java
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/SchedulerApp.java
  airbyte-scheduler/client/src/main/java/io/airbyte/scheduler/client/DefaultSynchronousSchedulerClient.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/JobNotifier.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/job_factory/DefaultSyncJobFactory.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/job_factory/OAuthConfigSupplier.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/job_tracker/JobTracker.java
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/job_factory/OAuthConfigSupplierTest.java
  airbyte-server/src/main/java/io/airbyte/server/ConfigurationApiFactory.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/main/java/io/airbyte/server/ServerFactory.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/ConnectionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/OAuthHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SchedulerHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendDestinationsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendSourcesHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/ConnectionsHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/OAuthHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WebBackendSourcesHandlerTest.java
Labels: area/core

#6762 add workspace_id and workspace_name to connector jobs
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/job_tracker/JobTracker.java
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/job_tracker/JobTrackerTest.java
Labels: area/core

#6529 Bootstrap initial custom metrics library
  airbyte-config/models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/java/io/airbyte/integrations/destination/bigquery/JsonSchemaFormat.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedDestinationTest.java
  airbyte-integrations/connectors/destination-e2e-test/src/main/java/io/airbyte/integrations/destination/e2e_test/SilentDestination.java
  airbyte-integrations/connectors/destination-e2e-test/src/main/java/io/airbyte/integrations/destination/e2e_test/TestingDestinations.java
  airbyte-integrations/connectors/destination-e2e-test/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-mongodb/src/test/java/io/airbyte/integrations/destination/mongodb/MongodbDestinationTest.java
  airbyte-integrations/connectors/destination-mssql/src/test-integration/java/io/airbyte/integrations/destination/mssql/SshMSSQLDestinationAcceptanceTest.java
  airbyte-integrations/connectors/source-iterable/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-iterable/source_iterable/api.py
  airbyte-integrations/connectors/source-jira/source_jira/streams.py
  airbyte-integrations/connectors/source-kafka/src/main/resources/spec.json
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/AbstractSshMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/SshKeyMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/SshPasswordMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql-strict-encrypt/src/main/java/io/airbyte/integrations/source/mysql_strict_encrypt/MySqlStrictEncryptSource.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/MySqlTest.java
  airbyte-metrics/build.gradle
  airbyte-metrics/src/main/java/io/airbyte/metrics/MetricSingleton.java
  airbyte-metrics/src/main/java/io/airbyte/metrics/PrometheusBaseExample.java
  airbyte-metrics/src/test/java/io/airbyte/metrics/MetricSingletonTest.java
  airbyte-scheduler/app/build.gradle
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/SchedulerApp.java
  settings.gradle
Labels: area/connectors, area/core

#6691 Publish and Bump Version Jira Connector
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/68e63de2-bb83-4c7e-93fa-a8a9051e3993.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-jira/CHANGELOG.md
  airbyte-integrations/connectors/source-jira/Dockerfile
  airbyte-integrations/connectors/source-jira/source_jira/streams.py
  docs/integrations/sources/jira.md
Labels: area/documentation, area/connectors

#6770 Fix exceptions not being swallowed when notifying job failures
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/JobNotifier.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/OAuthHandler.java
Labels: area/core

#6774 Bump Airbyte version from 0.30.12-alpha to 0.30.13-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, kubernetes

#6782 Really swallow exceptions from JobNotifier
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/JobNotifier.java
Labels: area/core

#6783 fix: messages for sign up page
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/packages/cloud/views/auth/SignupPage/SignupPage.tsx
Labels: area/frontend

#6793 Bump Airbyte version from 0.30.13-alpha to 0.30.14-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/ci.sh
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, kubernetes

#6761 :tada: Source github: add oauth spec file
  airbyte-integrations/bases/source-acceptance-test/CHANGELOG.md
  airbyte-integrations/bases/source-acceptance-test/Dockerfile
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/utils/json_schema_helper.py
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-github/source_github/schemas/branches.json
  airbyte-integrations/connectors/source-github/source_github/source.py
  airbyte-integrations/connectors/source-github/source_github/spec.json
  airbyte-integrations/connectors/source-github/unit_tests/unit_test.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors

#6792 Add accept-terms property to databricks spec
  airbyte-integrations/connectors/destination-databricks/Dockerfile
  airbyte-integrations/connectors/destination-databricks/sample_secrets/config.json
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksDestinationConfig.java
  airbyte-integrations/connectors/destination-databricks/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-databricks/src/test/java/io/airbyte/integrations/destination/databricks/DatabricksDestinationConfigTest.java
  docs/integrations/destinations/databricks.md
Labels: area/documentation, area/connectors

#6801 Add onboarding context provider
  airbyte-webapp/src/packages/cloud/routes.tsx
Labels: area/frontend

#6808 Bump Airbyte version from 0.30.14-alpha to 0.30.15-alpha
  .bumpversion.cfg
  .env
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, kubernetes

#6805 Add Deploy guide ☁️
  docs/.gitbook/assets/cloud_connection_onboarding.png
  docs/.gitbook/assets/cloud_onboarding.png
  docs/SUMMARY.md
  docs/deploying-airbyte/on-cloud.md
Labels: area/documentation

#6757 Update set-up-a-connection.md
  docs/quickstart/set-up-a-connection.md
Labels: area/documentation, community

#6827 Configurable worker pull image policy in k8s
  airbyte-config/models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerUtils.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubeProcessFactory.java
  kube/overlays/dev-integration-test/.env
  kube/overlays/dev/.env
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable/.env
  kube/resources/worker.yaml
Labels: area/worker, kubernetes, community

#6789 fix(docs): remove #4232 since it is fixed
  docs/deploying-airbyte/on-kubernetes.md
Labels: area/documentation

#6550 Add few new `BOOTSTRAP.md` files + update existing ones
  airbyte-integrations/connectors/destination-databricks/BOOTSTRAP.md
  airbyte-integrations/connectors/source-asana/BOOTSTRAP.md
  airbyte-integrations/connectors/source-bing-ads/bootstrap.md
  airbyte-integrations/connectors/source-cart/BOOTSTRAP.md
  airbyte-integrations/connectors/source-chargebee/BOOTSTRAP.md
  airbyte-integrations/connectors/source-close-com/bootstrap.md
  airbyte-integrations/connectors/source-facebook-marketing/BOOTSTRAP.md
  airbyte-integrations/connectors/source-google-ads/BOOTSTRAP.md
  airbyte-integrations/connectors/source-google-search-console/BOOTSTRAP.md
  airbyte-integrations/connectors/source-marketo/bootstrap.md
  airbyte-integrations/connectors/source-salesforce/BOOTSTRAP.md
  airbyte-integrations/connectors/source-zuora/BOOTSTRAP.md
Labels: area/connectors

#6439 249/user cannot change email
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/packages/cloud/lib/auth/GoogleAuthService.ts
  airbyte-webapp/src/packages/cloud/lib/domain/cloudWorkspaces/CloudWorkspacesService.ts
  airbyte-webapp/src/packages/cloud/lib/domain/users/UserService.ts
  airbyte-webapp/src/packages/cloud/locales/en.json
  airbyte-webapp/src/packages/cloud/services/auth/AuthService.tsx
  airbyte-webapp/src/packages/cloud/services/workspaces/WorkspacesService.tsx
  airbyte-webapp/src/packages/cloud/views/users/AccountSettingsView/AccountSettingsView.tsx
  airbyte-webapp/src/packages/cloud/views/users/AccountSettingsView/components/EmailSection.tsx
  airbyte-webapp/src/packages/cloud/views/users/AccountSettingsView/components/EmailSection/EmailSection.tsx
  airbyte-webapp/src/packages/cloud/views/users/AccountSettingsView/components/EmailSection/hooks/index.ts
  airbyte-webapp/src/packages/cloud/views/users/AccountSettingsView/components/EmailSection/hooks/useEmail.ts
  airbyte-webapp/src/packages/cloud/views/users/AccountSettingsView/components/EmailSection/index.ts
  airbyte-webapp/src/packages/cloud/views/users/AccountSettingsView/components/EmailSection/typings.d.ts
  airbyte-webapp/src/packages/cloud/views/users/AccountSettingsView/components/PasswordSection/PasswordSection.tsx
  airbyte-webapp/src/packages/cloud/views/users/AccountSettingsView/components/PasswordSection/hooks/index.ts
  airbyte-webapp/src/packages/cloud/views/users/AccountSettingsView/components/PasswordSection/hooks/usePassword.ts
  airbyte-webapp/src/packages/cloud/views/users/AccountSettingsView/components/PasswordSection/index.ts
  airbyte-webapp/src/packages/cloud/views/users/AccountSettingsView/components/PasswordSection/typings.d.ts
  airbyte-webapp/src/packages/cloud/views/users/AccountSettingsView/components/index.ts
  airbyte-webapp/src/packages/cloud/views/workspaces/WorkspacePopout/WorkspacePopout.tsx
  airbyte-webapp/src/packages/cloud/views/workspaces/WorkspaceSettingsView/WorkspaceSettingsView.tsx
Labels: area/frontend

#6575 🎉 Source Zuora: Add `OAuth` support for Airbyte Cloud, Migrated to new CI Sandbox
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/3dc3037c-5ce8-4661-adc2-f7a9e3c5ece5.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-zuora/Dockerfile
  airbyte-integrations/connectors/source-zuora/README.md
  airbyte-integrations/connectors/source-zuora/acceptance-test-config.yml
  airbyte-integrations/connectors/source-zuora/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-zuora/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-zuora/integration_tests/integration_test.py
  airbyte-integrations/connectors/source-zuora/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-zuora/integration_tests/some_expected_records.txt
  airbyte-integrations/connectors/source-zuora/source_zuora/source.py
  airbyte-integrations/connectors/source-zuora/source_zuora/spec.json
  airbyte-integrations/connectors/source-zuora/source_zuora/zuora_auth.py
  airbyte-integrations/connectors/source-zuora/source_zuora/zuora_endpoint.py
  airbyte-integrations/connectors/source-zuora/source_zuora/zuora_errors.py
  airbyte-integrations/connectors/source-zuora/source_zuora/zuora_excluded_streams.py
  docs/integrations/sources/zuora.md
Labels: area/documentation, area/connectors

#7307 move file migration logic in ServerApp to its own method and mark as …
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
Labels: area/platform, area/server

#7433 🎉 Source SurveyMonkey: add OAuth support
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/badc5925-0485-42be-8caa-b34096cb71b5.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-surveymonkey/Dockerfile
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/source.py
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/spec.json
  docs/integrations/sources/surveymonkey.md
Labels: area/documentation, area/connectors

#6878 🎉 Source Google Workspace Admin: use SAT
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/ed9dfefa-1bbc-419d-8c5e-4d78f0ef6734.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-google-workspace-admin-reports/Dockerfile
  airbyte-integrations/connectors/source-google-workspace-admin-reports/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-workspace-admin-reports/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-google-workspace-admin-reports/build.gradle
  airbyte-integrations/connectors/source-google-workspace-admin-reports/integration_tests/__init__.py
  airbyte-integrations/connectors/source-google-workspace-admin-reports/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-google-workspace-admin-reports/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-google-workspace-admin-reports/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-google-workspace-admin-reports/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-google-workspace-admin-reports/requirements.txt
  airbyte-integrations/connectors/source-google-workspace-admin-reports/sample_files/sample_state.json
  airbyte-integrations/connectors/source-google-workspace-admin-reports/setup.py
  airbyte-integrations/connectors/source-google-workspace-admin-reports/source_google_workspace_admin_reports/api.py
  airbyte-integrations/connectors/source-google-workspace-admin-reports/source_google_workspace_admin_reports/schemas/admin.json
  airbyte-integrations/connectors/source-google-workspace-admin-reports/source_google_workspace_admin_reports/schemas/drive.json
  airbyte-integrations/connectors/source-google-workspace-admin-reports/source_google_workspace_admin_reports/schemas/logins.json
  airbyte-integrations/connectors/source-google-workspace-admin-reports/source_google_workspace_admin_reports/schemas/mobile.json
  airbyte-integrations/connectors/source-google-workspace-admin-reports/source_google_workspace_admin_reports/schemas/oauth_tokens.json
  docs/integrations/sources/google-workspace-admin-reports.md
Labels: area/documentation, area/connectors
