Repository airbytehq/airbyte, pull requests merged in 2021-12, with the labels that each got.

#8354 Change synchronisationProgress to synchronizationProgress
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/OnboardingPage/components/ProgressBlock.tsx
Labels: area/frontend, area/platform, community

#8338 Source Trello: Pull data only for configured board_ids
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/8da67652-004c-11ec-9a03-0242ac130003.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-trello/Dockerfile
  airbyte-integrations/connectors/source-trello/source_trello/source.py
  airbyte-integrations/connectors/source-trello/unit_tests/helpers.py
  airbyte-integrations/connectors/source-trello/unit_tests/test_streams.py
  tools/bin/ci_credentials.sh
Labels: area/connectors

#8378 Fix normalization when un-nesting
  airbyte-integrations/bases/base-normalization/dbt-project-template/macros/cross_db_utils/array.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/bigquery/test_nested_streams/models/generated/airbyte_ctes/test_normalization/nested_stream_with_complex_columns_resulting_into_long_names_partition_DATA_ab1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/bigquery/test_nested_streams/models/generated/airbyte_ctes/test_normalization/nested_stream_with_complex_columns_resulting_into_long_names_partition_ab1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/bigquery/test_nested_streams/models/generated/airbyte_ctes/test_normalization/nested_stream_with_complex_columns_resulting_into_long_names_partition_double_array_data_ab1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/bigquery/test_nested_streams/models/generated/airbyte_incremental/test_normalization/nested_stream_with_complex_columns_resulting_into_long_names_partition.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/bigquery/test_nested_streams/second_output/airbyte_incremental/test_normalization/nested_stream_with_complex_columns_resulting_into_long_names_partition.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mssql/test_nested_streams/first_output/airbyte_incremental/test_normalization/nested_stream_with_co___names_partition_data.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mssql/test_nested_streams/first_output/airbyte_incremental/test_normalization/nested_stream_with_co__ion_double_array_data.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mssql/test_nested_streams/models/generated/airbyte_ctes/test_normalization/nested_stream_with_co___long_names_partition_ab1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mssql/test_nested_streams/models/generated/airbyte_ctes/test_normalization/nested_stream_with_co___names_partition_data_ab1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mssql/test_nested_streams/models/generated/airbyte_ctes/test_normalization/nested_stream_with_co__ion_double_array_data_ab1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mssql/test_nested_streams/models/generated/airbyte_incremental/test_normalization/nested_stream_with_co___long_names_partition.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mssql/test_nested_streams/second_output/airbyte_incremental/test_normalization/nested_stream_with_co___long_names_partition.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mysql/test_nested_streams/first_output/airbyte_incremental/test_normalization/nested_stream_with_co___names_partition_data.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mysql/test_nested_streams/first_output/airbyte_incremental/test_normalization/nested_stream_with_co__ion_double_array_data.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mysql/test_nested_streams/models/generated/airbyte_ctes/test_normalization/nested_stream_with_co_2g_names_partition_ab1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mysql/test_nested_streams/models/generated/airbyte_ctes/test_normalization/nested_stream_with_co_3double_array_data_ab1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mysql/test_nested_streams/models/generated/airbyte_ctes/test_normalization/nested_stream_with_co_3es_partition_data_ab1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mysql/test_nested_streams/models/generated/airbyte_incremental/test_normalization/nested_stream_with_co___long_names_partition.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mysql/test_nested_streams/second_output/airbyte_incremental/test_normalization/nested_stream_with_co___names_partition_data.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mysql/test_nested_streams/second_output/airbyte_incremental/test_normalization/nested_stream_with_co__ion_double_array_data.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/models/generated/airbyte_ctes/test_normalization/conflict_stream_name___conflict_stream_name_ab1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/models/generated/airbyte_ctes/test_normalization/conflict_stream_name___conflict_stream_name_ab2.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/models/generated/airbyte_ctes/test_normalization/conflict_stream_name___conflict_stream_name_ab3.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/models/generated/airbyte_ctes/test_normalization/conflict_stream_name_conflict_stream_name_ab1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/models/generated/airbyte_ctes/test_normalization/conflict_stream_name_conflict_stream_name_ab2.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/models/generated/airbyte_ctes/test_normalization/conflict_stream_name_conflict_stream_name_ab3.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/models/generated/airbyte_ctes/test_normalization/nested_stream_with_c___long_names_partition_ab1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/models/generated/airbyte_ctes/test_normalization/nested_stream_with_c___long_names_partition_ab2.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/models/generated/airbyte_ctes/test_normalization/nested_stream_with_c___long_names_partition_ab3.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/models/generated/airbyte_ctes/test_normalization/nested_stream_with_c___names_partition_data_ab1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/models/generated/airbyte_ctes/test_normalization/nested_stream_with_c__ion_double_array_data_ab1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/models/generated/airbyte_ctes/test_normalization/unnest_alias_childre__column___with__quotes_ab1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/models/generated/airbyte_ctes/test_normalization/unnest_alias_children_ab1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/models/generated/airbyte_ctes/test_normalization/unnest_alias_children_owner_ab1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/models/generated/airbyte_ctes/test_normalization/unnest_alias_children_owner_ab2.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/models/generated/airbyte_ctes/test_normalization/unnest_alias_children_owner_ab3.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/models/generated/airbyte_incremental/test_normalization/nested_stream_with_c___long_names_partition.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/models/generated/airbyte_tables/test_normalization/conflict_stream_name___conflict_stream_name.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/models/generated/airbyte_tables/test_normalization/conflict_stream_name_conflict_stream_name.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/models/generated/airbyte_tables/test_normalization/unnest_alias_children_owner.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/second_output/airbyte_incremental/test_normalization/nested_stream_with_c___long_names_partition.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/redshift/test_nested_streams/first_output/airbyte_incremental/test_normalization/nested_stream_with_complex_columns_resulting_into_long_names_partition_data.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/redshift/test_nested_streams/first_output/airbyte_incremental/test_normalization/nested_stream_with_complex_columns_resulting_into_long_names_partition_double_array_data.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/redshift/test_nested_streams/models/generated/airbyte_ctes/test_normalization/nested_stream_with_complex_columns_resulting_into_long_names_partition_ab1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/redshift/test_nested_streams/models/generated/airbyte_ctes/test_normalization/nested_stream_with_complex_columns_resulting_into_long_names_partition_data_ab1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/redshift/test_nested_streams/models/generated/airbyte_ctes/test_normalization/nested_stream_with_complex_columns_resulting_into_long_names_partition_double_array_data_ab1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/redshift/test_nested_streams/models/generated/airbyte_incremental/test_normalization/nested_stream_with_complex_columns_resulting_into_long_names_partition.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/redshift/test_nested_streams/second_output/airbyte_incremental/test_normalization/nested_stream_with_complex_columns_resulting_into_long_names_partition.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/snowflake/test_nested_streams/models/generated/airbyte_ctes/TEST_NORMALIZATION/NESTED_STREAM_WITH_COMPLEX_COLUMNS_RESULTING_INTO_LONG_NAMES_PARTITION_AB1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/snowflake/test_nested_streams/models/generated/airbyte_ctes/TEST_NORMALIZATION/NESTED_STREAM_WITH_COMPLEX_COLUMNS_RESULTING_INTO_LONG_NAMES_PARTITION_DATA_AB1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/snowflake/test_nested_streams/models/generated/airbyte_ctes/TEST_NORMALIZATION/NESTED_STREAM_WITH_COMPLEX_COLUMNS_RESULTING_INTO_LONG_NAMES_PARTITION_DOUBLE_ARRAY_DATA_AB1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/snowflake/test_nested_streams/models/generated/airbyte_incremental/TEST_NORMALIZATION/NESTED_STREAM_WITH_COMPLEX_COLUMNS_RESULTING_INTO_LONG_NAMES_PARTITION.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/snowflake/test_nested_streams/second_output/airbyte_incremental/TEST_NORMALIZATION/NESTED_STREAM_WITH_COMPLEX_COLUMNS_RESULTING_INTO_LONG_NAMES_PARTITION.sql
  airbyte-integrations/bases/base-normalization/normalization/transform_catalog/stream_processor.py
Labels: normalization

#8350 fix off by one month
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/components/CreditsUsagePage.tsx
Labels: area/frontend, area/platform

#8355 allow retrieving deleted sources and destinations
  airbyte-server/src/main/java/io/airbyte/server/handlers/DestinationHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SourceHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/DestinationHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/SourceHandlerTest.java
Labels: area/platform, area/server

#8391 Bump Airbyte version from 0.32.8-alpha to 0.32.9-alpha
  .bumpversion.cfg
  .env
  airbyte-migration/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#8381 🐛 Source Mixpanel: fix for `discovery` command takes a very long time
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/12928b32-bf0a-4f1e-964f-07e12e37153a.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mixpanel/Dockerfile
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/source.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/spec.json
  docs/integrations/sources/mixpanel.md
Labels: area/documentation, area/connectors

#8403 Bump Airbyte version from 0.32.9-alpha to 0.32.10-alpha
  .bumpversion.cfg
  .env
  airbyte-migration/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#8264 Fix to pass two_sequential_reads test and skip test state_with_abnormally_large_values
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-analytics-v4/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-v4/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-analytics-v4/setup.py
  airbyte-integrations/connectors/source-google-analytics-v4/source_google_analytics_v4/source.py
  airbyte-integrations/connectors/source-google-analytics-v4/unit_tests/unit_test.py
  docs/integrations/sources/google-analytics-v4.md
Labels: area/documentation, area/connectors

#8360 Bump GCS version with avro/parquet timestamp conversion
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/ca8f6566-e555-4b40-943a-545bf123117a.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-gcs/Dockerfile
  docs/integrations/destinations/gcs.md
  docs/understanding-airbyte/json-avro-conversion.md
Labels: area/documentation, area/connectors

#8426 Bump Airbyte version from 0.32.10-alpha to 0.32.11-alpha
  .bumpversion.cfg
  .env
  airbyte-migration/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#8299 🐛 Source Zenloop: re-add missing seed files
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-zenloop/Dockerfile
  airbyte-integrations/connectors/source-zenloop/source_zenloop/spec.json
  docs/integrations/sources/zenloop.md
Labels: area/documentation, area/connectors

#7913 🎉 #7727 source postgres: add several types to integration tests
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcPostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/PostresSourceDatatypeTest.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors

#8382 🐛 Source LinkedIn Ads: hands 429 response status code
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-linkedin-ads/Dockerfile
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/source.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/source.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/formats/csv_parser.py
  airbyte-integrations/connectors/source-s3/unit_tests/abstract_test_parser.py
  docs/integrations/sources/linkedin-ads.md
Labels: area/documentation, area/connectors

#8428 Fix casing of Advanced Auth for source-harvest
  airbyte-integrations/connectors/source-harvest/Dockerfile
  airbyte-integrations/connectors/source-harvest/source_harvest/spec.json
  airbyte-server/src/main/java/io/airbyte/server/converters/OauthModelConverter.java
Labels: area/connectors, area/platform, area/server

#8021 Source Amazon Seller Partner: Add GET_SELLER_FEEDBACK_DATA report
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e55879a8-0ef8-4557-abcf-ab34c53ec460.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/Dockerfile
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_SELLER_FEEDBACK_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_repots_streams_rate_limits.py
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation, area/connectors, community

#8467 adding-prefect-in-roadmap
  docs/project-overview/roadmap.md
Labels: area/documentation

#8435 Close #8021: Adding new report to source Amazon seller partner
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_repots_streams_rate_limits.py
Labels: area/connectors

#8395 🐛 Source Intercom: backoff for companies' scrolling
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/d8313939-3782-41b0-be29-b3ca20d8dd3a.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connector-templates/source-python-http-api/acceptance-test-docker.sh
  airbyte-integrations/connector-templates/source-python/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-intercom/Dockerfile
  airbyte-integrations/connectors/source-intercom/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-intercom/integration_tests/integration_test.py
  airbyte-integrations/connectors/source-intercom/source_intercom/source.py
  airbyte-integrations/connectors/source-scaffold-source-http/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-scaffold-source-python/acceptance-test-docker.sh
  docs/integrations/sources/intercom.md
Labels: area/documentation, area/connectors

#8219 Allow dev-tagged connectors to always be updateable
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-server/src/main/java/io/airbyte/server/ServerConstants.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/DestinationDefinitionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SourceDefinitionsHandler.java
  airbyte-webapp/src/constants/constants.ts
  airbyte-webapp/src/core/domain/connector/connector.ts
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/components/VersionCell.tsx
Labels: area/frontend, area/platform, area/server

#8191 Salesforce make `start_date` optional and change format to YYYY-MM-DD
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-salesforce/Dockerfile
  airbyte-integrations/connectors/source-salesforce/source_salesforce/source.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/spec.json
  airbyte-integrations/connectors/source-salesforce/source_salesforce/streams.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/unit_test.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors

#8482 Fix OAuth Injection
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/job_factory/OAuthConfigSupplier.java
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/job_factory/OAuthConfigSupplierTest.java
Labels: area/platform, area/scheduler

#8199 🎉 Destination BigQuery and BigQuery denormalized: Use byte-based buffering batching
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedDestination.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedRecordConsumer.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/java/io/airbyte/integrations/destination/bigquery/strategy/BigQueryDenormalizedUploadStandardStrategy.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryRecordConsumer.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryUtils.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryWriteConfig.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/helpers/LoggerHelper.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/strategy/BigQueryUploadGCSStrategy.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/strategy/BigQueryUploadStandardStrategy.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/strategy/BigQueryUploadStrategy.java
Labels: area/connectors

#8462 Clean up Job env vars.
  .env
  .env.dev
  .pre-commit-config.yaml
  airbyte-config/models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-config/models/src/main/java/io/airbyte/config/TolerationPOJO.java
  airbyte-config/models/src/test/java/io/airbyte/config/EnvConfigsTest.java
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/SchedulerApp.java
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerApp.java
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerUtils.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubeProcessFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/SyncWorkflowImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/process/KubeProcessFactoryTest.java
  charts/airbyte/templates/env-configmap.yaml
  charts/airbyte/templates/scheduler/deployment.yaml
  charts/airbyte/templates/server/deployment.yaml
  charts/airbyte/templates/worker/deployment.yaml
  charts/airbyte/values.yaml
  docker-compose.yaml
  kube/overlays/dev-integration-test/.env
  kube/overlays/dev/.env
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable/.env
  kube/resources/scheduler.yaml
  kube/resources/server.yaml
  kube/resources/worker.yaml
Labels: area/worker, area/platform, kubernetes, area/scheduler

#8175 🐛 Source Google Analytics: Fix issue with custom error and simplify configuration
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/eff3616a-f9c3-11eb-9a03-0242ac130003.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-analytics-v4/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-v4/source_google_analytics_v4/source.py
  airbyte-integrations/connectors/source-google-analytics-v4/source_google_analytics_v4/spec.json
  airbyte-integrations/connectors/source-google-analytics-v4/unit_tests/unit_test.py
  docs/integrations/sources/google-analytics-v4.md
Labels: area/documentation, area/connectors

#8430 🎉 Remove deprecated dependencies for connectors in build.gradle
  airbyte-integrations/connectors/source-kustomer-singer/build.gradle
  airbyte-integrations/connectors/source-zendesk-chat/build.gradle
Labels: area/connectors

#8433 🎉 Source Python HTTP Tutorial: Migrate to CDK, remove deprecated dependencies
  airbyte-integrations/connectors/source-python-http-tutorial/.dockerignore
  airbyte-integrations/connectors/source-python-http-tutorial/Dockerfile
  airbyte-integrations/connectors/source-python-http-tutorial/build.gradle
  airbyte-integrations/connectors/source-python-http-tutorial/setup.py
  airbyte-integrations/connectors/source-python-http-tutorial/source_python_http_tutorial/__init__.py
  airbyte-integrations/connectors/source-python-http-tutorial/source_python_http_tutorial/spec.json
Labels: area/connectors

#8253 :tada: Snowflake Destination internal staging support
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/424892c4-daac-4491-b35d-c6688ba547ba.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingConsumerFactory.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeSQLNameTransformer.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeStagingSqlOperations.java
  airbyte-integrations/connectors/destination-snowflake/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingDestinatiomAcceptanceTest.java
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors

#8447 Rename env vars for better readability.
  .env
  .env.dev
  airbyte-commons/src/main/resources/log4j2.xml
  airbyte-config/models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-config/models/src/main/java/io/airbyte/config/TolerationPOJO.java
  airbyte-config/models/src/main/java/io/airbyte/config/helpers/CloudLogs.java
  airbyte-config/models/src/main/java/io/airbyte/config/helpers/GcsLogs.java
  airbyte-config/models/src/main/java/io/airbyte/config/helpers/LogClientSingleton.java
  airbyte-config/models/src/main/java/io/airbyte/config/helpers/LogConfigs.java
  airbyte-config/models/src/main/java/io/airbyte/config/helpers/LogConfiguration.java
  airbyte-config/models/src/test/java/io/airbyte/config/EnvConfigsTest.java
  airbyte-config/models/src/test/java/io/airbyte/config/helpers/CloudLogsClientTest.java
  airbyte-config/models/src/test/java/io/airbyte/config/helpers/GcsLogsTest.java
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/SchedulerApp.java
  airbyte-tests/src/automaticMigrationAcceptanceTest/resources/env-file-migration-test-0-32-0.env
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerApp.java
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerUtils.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubeProcessFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/SyncWorkflowImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/process/KubeProcessFactoryTest.java
  charts/airbyte/templates/env-configmap.yaml
  charts/airbyte/templates/scheduler/deployment.yaml
  charts/airbyte/templates/server/deployment.yaml
  charts/airbyte/templates/worker/deployment.yaml
  charts/airbyte/values.yaml
  docker-compose.yaml
  docs/deploying-airbyte/on-kubernetes.md
  kube/overlays/dev-integration-test/.env
  kube/overlays/dev/.env
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable/.env
  kube/resources/scheduler.yaml
  kube/resources/server.yaml
  kube/resources/worker.yaml
  tools/bin/cloud_storage_logging_test.sh
Labels: area/documentation, area/worker, area/platform, kubernetes, area/scheduler

#8493 Update seed resources.
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedRecordConsumer.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/java/io/airbyte/integrations/destination/bigquery/strategy/BigQueryDenormalizedUploadStandardStrategy.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryRecordConsumer.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/helpers/LoggerHelper.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/strategy/BigQueryUploadGCSStrategy.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/strategy/BigQueryUploadStandardStrategy.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/strategy/BigQueryUploadStrategy.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingConsumerFactory.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/PostresSourceDatatypeTest.java
Labels: area/connectors

#8371 :bug: Validate incorrect \n symbols in ssh key
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/25c5221d-dce2-4163-ade9-739ef790f503.json
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/294a4790-429b-40ae-9516-49826b9702e1.json
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/ca81ee7c-3163-4246-af40-094cc31e5e42.json
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/d4353156-9217-4cad-8dd7-c108fd4f74cf.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/435bb9a5-7887-4809-aa58-28c27df0d7ad.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/b39a7370-74c3-45a6-ac3a-380d48520a83.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/b5ea17b1-f170-46dc-bc31-cc744ca984c1.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/bad83517-5e54-4a3d-9b53-63e85fbd4d7c.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/decd338e-5647-4c0b-adf4-da0e75f5a750.json
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/ssh/SshTunnel.java
  airbyte-integrations/connectors/destination-mariadb-columnstore/Dockerfile
  airbyte-integrations/connectors/destination-mssql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/destination-mssql/Dockerfile
  airbyte-integrations/connectors/destination-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/destination-mysql/Dockerfile
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/destination-postgres/Dockerfile
  airbyte-integrations/connectors/source-clickhouse-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-clickhouse/Dockerfile
  airbyte-integrations/connectors/source-mssql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mssql/Dockerfile
  airbyte-integrations/connectors/source-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-oracle-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-oracle/Dockerfile
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  docs/integrations/destinations/mariadb-columnstore.md
  docs/integrations/destinations/mssql.md
  docs/integrations/destinations/mysql.md
  docs/integrations/destinations/postgres.md
  docs/integrations/sources/clickhouse.md
  docs/integrations/sources/mssql.md
  docs/integrations/sources/mysql.md
  docs/integrations/sources/oracle.md
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors

#8497 Bump Airbyte version from 0.32.11-alpha to 0.33.0-alpha
  .bumpversion.cfg
  .env
  airbyte-migration/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#8402 Bmoric/run real sync
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/worker_run/TemporalWorkerRunFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerApp.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalClient.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalUtils.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionUpdaterInput.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionUpdaterWorkflowImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/GetSyncInputActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/GetSyncInputActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/shared/ActivityConfiguration.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/SyncWorkflowImpl.java
  docker-compose.yaml
Labels: area/worker, area/platform, area/scheduler

#8386 🎉 Destination GCS: add new region
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-gcs/Dockerfile
  airbyte-integrations/connectors/destination-gcs/src/main/resources/spec.json
  docs/integrations/destinations/gcs.md
Labels: area/documentation, type/enhancement, area/connectors, community

#8392 Publish new GCS region
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-gcs/Dockerfile
  docs/integrations/destinations/gcs.md
Labels: area/documentation, area/connectors

#8345 🎉 advanced auth impl
  airbyte-webapp/.storybook/withProvider.tsx
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/App.tsx
  airbyte-webapp/src/config/defaultConfig.ts
  airbyte-webapp/src/config/types.ts
  airbyte-webapp/src/core/domain/connector/types.ts
  airbyte-webapp/src/core/form/uiWidget.test.ts
  airbyte-webapp/src/core/form/uiWidget.ts
  airbyte-webapp/src/core/jsonSchema/schemaToUiWidget.ts
  airbyte-webapp/src/core/jsonSchema/utils.ts
  airbyte-webapp/src/hooks/services/Feature/FeatureService.tsx
  airbyte-webapp/src/hooks/services/Feature/types.tsx
  airbyte-webapp/src/hooks/services/useConnectorAuth.tsx
  airbyte-webapp/src/hooks/services/useWorkspace.tsx
  airbyte-webapp/src/packages/cloud/App.tsx
  airbyte-webapp/src/packages/cloud/services/config/index.ts
  airbyte-webapp/src/utils/common.test.ts
  airbyte-webapp/src/utils/testutils.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/FormRoot.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/ServiceForm.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/Controls/ConnectorServiceTypeControl.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/FetchingConnectorError.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/FormSection.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/Sections/ArraySection.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/Sections/ConditionSection.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/Sections/FormSection.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/Sections/PropertySection.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/Sections/auth/AuthButton.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/Sections/auth/AuthSection.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/Sections/auth/GoogleAuthButton.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/Sections/auth/useOauthFlowAdapter.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/Sections/common.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/TestingConnectionError.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/TestingConnectionSpinner.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/TestingConnectionSuccess.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/serviceFormContext.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/useBuildForm.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/utils.ts
Labels: type/enhancement, area/frontend, area/platform

#8501 Bump s3 version to remove excessive logging
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-s3/Dockerfile
  docs/integrations/destinations/s3.md
Labels: area/documentation, area/connectors

#8510 Bump Airbyte version from 0.33.0-alpha to 0.33.1-alpha
  .bumpversion.cfg
  .env
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#8512 Bump Airbyte version from 0.33.1-alpha to 0.33.2-alpha
  .bumpversion.cfg
  .env
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#8514 [oc] log the job that is cancelled when pruning zombie jobs
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/SchedulerApp.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/CancellationHandler.java
Labels: area/worker, area/platform, area/scheduler

#8513 Improve URL creation in the CDK
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/http.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  airbyte-integrations/connectors/source-amplitude/source_amplitude/api.py
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/streams.py
  airbyte-integrations/connectors/source-marketo/source_marketo/source.py
  airbyte-integrations/connectors/source-okta/source_okta/source.py
  airbyte-integrations/connectors/source-shortio/source_shortio/source.py
  airbyte-integrations/connectors/source-typeform/source_typeform/source.py
Labels: area/connectors, CDK

#8515 Bump Airbyte version from 0.33.2-alpha to 0.33.3-alpha
  .bumpversion.cfg
  .env
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#8357 ✨ Add data to Trello Card Streams
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-trello/Dockerfile
  airbyte-integrations/connectors/source-trello/source_trello/source.py
Labels: area/connectors, community

#8520 Publishing: Source trello with new additions on cards stream
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-trello/source_trello/source.py
Labels: area/connectors

#8522 Improve URL creation in the CDK
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/setup.py
Labels: CDK

#8530 added __init__.py file to utils
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/utils/__init__.py
  airbyte-cdk/python/setup.py
Labels: CDK

#8531 show google sheets in UI again
  airbyte-webapp/src/views/Connector/ServiceForm/components/Controls/ConnectorServiceTypeControl.tsx
Labels: area/frontend, area/platform

#8335 :bug: Source-MySql: do not check cdc required param binlog_row_image for standard replication
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/435bb9a5-7887-4809-aa58-28c27df0d7ad.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors

#8469 🎉 Source Microsoft Teams: migrate to the CDK
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/eaf50f04-21dd-4620-913b-2a83f5635227.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-microsoft-teams/.dockerignore
  airbyte-integrations/connectors/source-microsoft-teams/Dockerfile
  airbyte-integrations/connectors/source-microsoft-teams/acceptance-test-config.yml
  airbyte-integrations/connectors/source-microsoft-teams/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-microsoft-teams/build.gradle
  airbyte-integrations/connectors/source-microsoft-teams/integration_tests/__init__.py
  airbyte-integrations/connectors/source-microsoft-teams/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-microsoft-teams/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-microsoft-teams/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-microsoft-teams/main.py
  airbyte-integrations/connectors/source-microsoft-teams/requirements.txt
  airbyte-integrations/connectors/source-microsoft-teams/setup.py
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/client.py
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/source.py
  docs/integrations/sources/microsoft-teams.md
Labels: area/documentation, area/connectors

#8551 Bump Airbyte version from 0.33.3-alpha to 0.33.4-alpha
  .bumpversion.cfg
  .env
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#8298 🐛 Source Marketo: Fix timestamp value format issue
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/9e0556f4-69df-4522-a3fb-03264d36b348.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-marketo/Dockerfile
  airbyte-integrations/connectors/source-marketo/acceptance-test-config.yml
  airbyte-integrations/connectors/source-marketo/integration_tests/expected_records.txt
  airbyte-integrations/connectors/source-marketo/source_marketo/source.py
  airbyte-integrations/connectors/source-marketo/source_marketo/spec.json
  docs/integrations/sources/marketo.md
Labels: area/documentation, area/connectors

#8043 🎉 Source Retently: add OAuth 2.0
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/db04ecd1-42e7-4115-9cec-95812905c626.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-retently/Dockerfile
  airbyte-integrations/connectors/source-retently/acceptance-test-config.yml
  airbyte-integrations/connectors/source-retently/source_retently/source.py
  airbyte-integrations/connectors/source-retently/source_retently/spec.json
  airbyte-oauth/src/main/java/io/airbyte/oauth/OAuthImplementationFactory.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/RetentlyOAuthFlow.java
  airbyte-oauth/src/test/java/io/airbyte/oauth/flows/RetentlyOAuthFlowTest.java
  tools/bin/ci_credentials.sh
Labels: area/connectors

#8528 Destination Snowflake: Return Standard Loading
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/424892c4-daac-4491-b35d-c6688ba547ba.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingConsumerFactory.java
  airbyte-integrations/connectors/destination-snowflake/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingDestinatiomAcceptanceTest.java
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors

#8565 Bump Airbyte version from 0.33.4-alpha to 0.33.5-alpha
  .bumpversion.cfg
  .env
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#8470 🎉 Source Google Sheets: migrate to the CDK
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/71607ba1-c0ac-4799-8049-7f4b90dd50f7.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-sheets/.dockerignore
  airbyte-integrations/connectors/source-google-sheets/Dockerfile
  airbyte-integrations/connectors/source-google-sheets/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-sheets/build.gradle
  airbyte-integrations/connectors/source-google-sheets/google_sheets_source/google_sheets_source.py
  airbyte-integrations/connectors/source-google-sheets/google_sheets_source/helpers.py
  airbyte-integrations/connectors/source-google-sheets/main.py
  airbyte-integrations/connectors/source-google-sheets/requirements.txt
  airbyte-integrations/connectors/source-google-sheets/setup.py
  airbyte-integrations/connectors/source-google-sheets/unit_tests/test_helpers.py
  docs/integrations/sources/google-sheets.md
  tools/bin/ci_credentials.sh
Labels: area/documentation, area/connectors

#8211 CDK: #3764 obfuscate secrets in logging
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/entrypoint.py
  airbyte-cdk/python/airbyte_cdk/logger.py
  airbyte-cdk/python/airbyte_cdk/utils/airbyte_secrets_utils.py
  airbyte-cdk/python/airbyte_cdk/utils/mapping_utils.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/test_entrypoint.py
  airbyte-cdk/python/unit_tests/test_logger.py
  airbyte-cdk/python/unit_tests/test_secure_logger.py
Labels: CDK

#8547 Create separate Airbyte Bootloader Application.
  .bumpversion.cfg
  airbyte-bootloader/Dockerfile
  airbyte-bootloader/build.gradle
  airbyte-bootloader/src/main/java/io/airbyte/bootloader/BootloaderApp.java
  airbyte-bootloader/src/test/java/io/airbyte/bootloader/BootloaderAppTest.java
  airbyte-db/lib/src/main/java/io/airbyte/db/instance/DatabaseMigrator.java
  airbyte-db/lib/src/main/java/io/airbyte/db/instance/FlywayDatabaseMigrator.java
  airbyte-db/lib/src/main/java/io/airbyte/db/instance/development/DevDatabaseMigrator.java
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/SchedulerApp.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  settings.gradle
Labels: area/platform, area/server, area/scheduler

#8583 flake8 fix 3764 obfuscate secrets logging
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/logger.py
  airbyte-cdk/python/airbyte_cdk/utils/airbyte_secrets_utils.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/test_logger.py
  airbyte-cdk/python/unit_tests/test_secure_logger.py
Labels: CDK

#8056 🎉 New Source: Mailgun
  airbyte-config/init/src/main/resources/icons/mailgun.svg
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mailgun/.dockerignore
  airbyte-integrations/connectors/source-mailgun/Dockerfile
  airbyte-integrations/connectors/source-mailgun/README.md
  airbyte-integrations/connectors/source-mailgun/acceptance-test-config.yml
  airbyte-integrations/connectors/source-mailgun/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-mailgun/build.gradle
  airbyte-integrations/connectors/source-mailgun/integration_tests/__init__.py
  airbyte-integrations/connectors/source-mailgun/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-mailgun/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-mailgun/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-mailgun/integration_tests/fill_data.py
  airbyte-integrations/connectors/source-mailgun/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-mailgun/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-mailgun/integration_tests/state.json
  airbyte-integrations/connectors/source-mailgun/integration_tests/test_data.json
  airbyte-integrations/connectors/source-mailgun/main.py
  airbyte-integrations/connectors/source-mailgun/requirements.txt
  airbyte-integrations/connectors/source-mailgun/setup.py
  airbyte-integrations/connectors/source-mailgun/source_mailgun/__init__.py
  airbyte-integrations/connectors/source-mailgun/source_mailgun/schemas/domains.json
  airbyte-integrations/connectors/source-mailgun/source_mailgun/schemas/events.json
  airbyte-integrations/connectors/source-mailgun/source_mailgun/source.py
  airbyte-integrations/connectors/source-mailgun/source_mailgun/spec.json
  airbyte-integrations/connectors/source-mailgun/unit_tests/__init__.py
  airbyte-integrations/connectors/source-mailgun/unit_tests/conftest.py
  airbyte-integrations/connectors/source-mailgun/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-mailgun/unit_tests/test_source.py
  airbyte-integrations/connectors/source-mailgun/unit_tests/test_streams.py
Labels: area/connectors

#8405 🐛 Source Salesforce: filter 'null' byte(s) in HTTP responses
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-salesforce/Dockerfile
  airbyte-integrations/connectors/source-salesforce/source_salesforce/streams.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/unit_test.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors

#8495 fix(mongodb-v2): set logging to debug when field list is out of sync
  airbyte-db/lib/src/main/java/io/airbyte/db/mongodb/MongoUtils.java
Labels: community, gl

#8491 🐛 fix(mongodb-v2): use max 10k documents while discovering MongoDB schema
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/b2e713cd-cc36-4c0a-b5bd-b47cb8a0561e.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-db/lib/src/main/java/io/airbyte/db/mongodb/MongoUtils.java
  airbyte-integrations/connectors/source-mongodb-v2/Dockerfile
  docs/integrations/sources/mongodb-v2.md
Labels: area/documentation, area/connectors, community, gl

#8571 Source Google Analytics: update source spec and documentation
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  docs/integrations/sources/google-analytics-v4.md
Labels: area/documentation

#8601 Format files: Mailgun connector and Snowflake
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingConsumerFactory.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingDestinatiomAcceptanceTest.java
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  airbyte-integrations/connectors/source-iterable/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-mailgun/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-mailgun/integration_tests/fill_data.py
  airbyte-integrations/connectors/source-mailgun/integration_tests/test_data.json
  airbyte-integrations/connectors/source-mailgun/main.py
  airbyte-integrations/connectors/source-mailgun/source_mailgun/schemas/events.json
  airbyte-integrations/connectors/source-mailgun/source_mailgun/source.py
  airbyte-integrations/connectors/source-mailgun/unit_tests/conftest.py
  airbyte-integrations/connectors/source-mailgun/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-mailgun/unit_tests/test_source.py
Labels: area/connectors

#8485 CDK: Add base pydantic model for connector config and schemas
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/destinations/destination.py
  airbyte-cdk/python/airbyte_cdk/entrypoint.py
  airbyte-cdk/python/airbyte_cdk/sources/abstract_source.py
  airbyte-cdk/python/airbyte_cdk/sources/config.py
  airbyte-cdk/python/airbyte_cdk/sources/utils/schema_helpers.py
  airbyte-cdk/python/airbyte_cdk/sources/utils/schema_models.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/destinations/test_destination.py
  airbyte-cdk/python/unit_tests/sources/test_config.py
  airbyte-cdk/python/unit_tests/sources/utils/test_schema_helpers.py
  airbyte-cdk/python/unit_tests/sources/utils/test_schema_models.py
Labels: CDK

#8558 Add a test for the new scheduler
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/JobSubmitter.java
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/SchedulerApp.java
  airbyte-scheduler/app/src/test/java/io/airbyte/scheduler/app/JobSubmitterTest.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/ConnectionsHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/ConnectionsHandlerTest.java
  airbyte-workers/build.gradle
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerApp.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalClient.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/exception/NonRetryableException.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionUpdaterInput.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionUpdaterWorkflowImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/ConfigFetchActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/ConfigFetchActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/GenerateInputActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/GenerateInputActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/PersistenceActivities.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/PersistenceActivitiesImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/EmptySyncWorkflow.java
  airbyte-workers/src/main/java/io/airbyte/workers/worker_run/TemporalWorkerRunFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/worker_run/WorkerRun.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/TemporalAttemptExecutionTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionUpdaterWorkflowTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/worker_run/TemporalWorkerRunFactoryTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/worker_run/WorkerRunTest.java
Labels: area/worker, area/platform, area/server, area/scheduler

#8416 Fix rfc2822 dates comparison source bigcommerce
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/59c5501b-9f95-411e-9269-7143c939adbd.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-bigcommerce/Dockerfile
  airbyte-integrations/connectors/source-bigcommerce/source_bigcommerce/source.py
  docs/integrations/sources/bigcommerce.md
Labels: area/documentation, area/connectors, community

#8297 Source Shopify: Add `Shop` stream
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/9da77001-af33-4bcd-be46-6252bf9342b9.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-shopify/Dockerfile
  airbyte-integrations/connectors/source-shopify/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/shop.json
  airbyte-integrations/connectors/source-shopify/source_shopify/source.py
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors, community

#8573 Refactor how we configure and build cloud storage clients in CloudLogs
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-config/models/src/main/java/io/airbyte/config/helpers/CloudLogs.java
  airbyte-config/models/src/main/java/io/airbyte/config/helpers/GcsLogs.java
  airbyte-config/models/src/main/java/io/airbyte/config/helpers/LogConfigs.java
  airbyte-config/models/src/main/java/io/airbyte/config/helpers/LogConfiguration.java
  airbyte-config/models/src/main/java/io/airbyte/config/helpers/S3Logs.java
  airbyte-config/models/src/main/java/io/airbyte/config/storage/CloudStorageConfigs.java
  airbyte-config/models/src/main/java/io/airbyte/config/storage/DefaultGcsClientFactory.java
  airbyte-config/models/src/main/java/io/airbyte/config/storage/DefaultS3ClientFactory.java
  airbyte-config/models/src/main/java/io/airbyte/config/storage/MinioS3ClientFactory.java
  airbyte-config/models/src/test/java/io/airbyte/config/helpers/CloudLogsClientTest.java
  airbyte-config/models/src/test/java/io/airbyte/config/helpers/GcsLogsTest.java
  airbyte-config/models/src/test/java/io/airbyte/config/helpers/S3LogsTest.java
  airbyte-config/models/src/test/java/io/airbyte/config/storage/CloudLogsClientTest.java
  airbyte-config/models/src/test/java/io/airbyte/config/storage/DefaultS3ClientFactoryTest.java
  airbyte-config/models/src/test/java/io/airbyte/config/storage/MinioS3ClientFactoryTest.java
  airbyte-scheduler/app/src/test/java/io/airbyte/scheduler/app/JobSubmitterTest.java
  airbyte-server/src/test/java/io/airbyte/server/RequestLoggerTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/ConfigurationApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/converters/JobConverterTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/JobHistoryHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/LogsHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/SchedulerHandlerTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/DefaultReplicationWorkerTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/normalization/DefaultNormalizationRunnerTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/protocols/airbyte/DefaultAirbyteDestinationTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/protocols/airbyte/DefaultAirbyteSourceTest.java
Labels: area/worker, area/platform, area/server, area/scheduler

#8600 upgrade temporal sdk to 1.6.0
  airbyte-scheduler/app/build.gradle
  airbyte-server/build.gradle
  airbyte-workers/build.gradle
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/TemporalAttemptExecutionTest.java
Labels: area/worker, area/platform, area/server, area/scheduler

#7872 Update platform containers to use non-root users
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/Dockerfile
  airbyte-webapp/nginx/default.conf.template
  airbyte-workers/Dockerfile
  charts/airbyte/templates/webapp/deployment.yaml
  docker-compose.yaml
  docs/contributing-to-airbyte/developing-on-kubernetes.md
  docs/deploying-airbyte/on-kubernetes.md
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/dev-integration-test/.env
  kube/overlays/dev/.env
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable/.env
  kube/resources/webapp.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, community, area/server, area/scheduler

#8518 Source Github: Retry connection using HTTPAdapter
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/source_github/streams.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors

#8579 🐛 Source Intercom: Fix conversations order and sorting
  airbyte-integrations/connectors/source-intercom/Dockerfile
  airbyte-integrations/connectors/source-intercom/acceptance-test-config.yml
  airbyte-integrations/connectors/source-intercom/integration_tests/expected_records.txt
  airbyte-integrations/connectors/source-intercom/source_intercom/source.py
  docs/integrations/sources/intercom.md
Labels: area/documentation, area/connectors

#8621 Redirect dbt log files to airbyte log when failing
  airbyte-integrations/bases/base-normalization/entrypoint.sh
Labels: normalization

#8609 split up insertions into batches of 100 when importing archived table into database
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/DefaultJobPersistence.java
Labels: area/platform, area/scheduler

#8648 Prevent deadlock when importing database
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/DefaultJobPersistence.java
Labels: area/platform, area/scheduler

#8650 update Upgrading Airbyte doc to point to patch-1 version of 0.32.0
  docs/operator-guides/upgrading-airbyte.md
Labels: area/documentation

#8652 Add resource requirements to sidecars.
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
Labels: area/worker, area/platform

#8653 Bump Airbyte version from 0.33.5-alpha to 0.33.6-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#8502 Remove status link from oss version
  airbyte-webapp/src/views/layout/SideBar/SideBar.tsx
Labels: area/frontend, area/platform

#8292 🐛 Source TikTok Marketing: fix incremental bug + new reports' streams
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/4bfac00d-ce15-44ff-95b9-9e3c3e8fbd35.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/Dockerfile
  airbyte-integrations/connectors/source-tiktok-marketing/acceptance-test-config.yml
  airbyte-integrations/connectors/source-tiktok-marketing/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/configured_prod_catalog.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-tiktok-marketing/setup.py
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/basic_reports.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/source.py
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/spec.py
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/streams.py
  docs/integrations/sources/tiktok-marketing.md
Labels: area/documentation, area/connectors

#8225 🐛Source Google ads: connector doesn't pull data for today
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/spec.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_google_ads.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_source.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors

#8676 🐛 Source Google Analytics V4: Fix window in days validation issue
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/eff3616a-f9c3-11eb-9a03-0242ac130003.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-analytics-v4/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-v4/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-google-analytics-v4/source_google_analytics_v4/source.py
  docs/integrations/sources/google-analytics-v4.md
Labels: area/documentation, area/connectors

#7503 :tada: Destination Amazon SQS: New connector
  airbyte-integrations/connectors/destination-amazon-sqs/.dockerignore
  airbyte-integrations/connectors/destination-amazon-sqs/Dockerfile
  airbyte-integrations/connectors/destination-amazon-sqs/README.md
  airbyte-integrations/connectors/destination-amazon-sqs/bootstrap.md
  airbyte-integrations/connectors/destination-amazon-sqs/build.gradle
  airbyte-integrations/connectors/destination-amazon-sqs/destination_amazon_sqs/__init__.py
  airbyte-integrations/connectors/destination-amazon-sqs/destination_amazon_sqs/destination.py
  airbyte-integrations/connectors/destination-amazon-sqs/destination_amazon_sqs/spec.json
  airbyte-integrations/connectors/destination-amazon-sqs/integration_tests/input_records_json
  airbyte-integrations/connectors/destination-amazon-sqs/integration_tests/integration_test.py
  airbyte-integrations/connectors/destination-amazon-sqs/main.py
  airbyte-integrations/connectors/destination-amazon-sqs/requirements.txt
  airbyte-integrations/connectors/destination-amazon-sqs/sample_files/configured_catalog.json
  airbyte-integrations/connectors/destination-amazon-sqs/setup.py
  airbyte-integrations/connectors/destination-amazon-sqs/unit_tests/unit_test.py
  docs/SUMMARY.md
  docs/integrations/README.md
  docs/integrations/destinations/amazon-sqs.md
Labels: area/documentation, area/connectors, community, hacktober

#8683 Docs: Update connector list
  docs/integrations/README.md
Labels: area/documentation

#8679 Publish new destination Amazon SQS
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-amazon-sqs/integration_tests/integration_test.py
  tools/bin/ci_credentials.sh
Labels: area/connectors

#8664 Docs: add Prefect tutorial
  docs/.gitbook/assets/airbyte_prefect_connection.png
  docs/.gitbook/assets/airbyte_prefect_flow.png
  docs/.gitbook/assets/airbyte_prefect_flow_configure_run.png
  docs/.gitbook/assets/airbyte_prefect_flow_run.png
  docs/.gitbook/assets/airbyte_prefect_register_flow.png
  docs/SUMMARY.md
  docs/operator-guides/using-prefect-task.md
Labels: area/documentation

#8688 Bump Airbyte version from 0.33.7-alpha to 0.33.8-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#8659 🐛 Source Amplitude: Fix response typos
  airbyte-integrations/connectors/source-amplitude/source_amplitude/api.py
Labels: area/connectors, community

#8425 Update fields in source-connectors specifications: smartsheets, square, strava, tiktok-marketing, typeform, zendesk-chat, airtable, amazon-seller-partner
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/14c6e7ea-97ed-4f5e-a7b5-25e9a80b8212.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/374ebc65-6636-4ea0-925c-7d35999a8ffc.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/40d24d0f-b8f9-4fe0-9e6c-b06c0f3f45e4.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/77225a51-cd15-4a13-af02-65816bd0ecf4.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/7a4327c4-315a-11ec-8d3d-0242ac130003.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e55879a8-0ef8-4557-abcf-ab34c53ec460.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e7eff203-90bf-43e5-a240-19ea3056c474.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-airtable/Dockerfile
  airbyte-integrations/connectors/source-airtable/source_airtable/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/Dockerfile
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.json
  airbyte-integrations/connectors/source-smartsheets/Dockerfile
  airbyte-integrations/connectors/source-smartsheets/source_smartsheets/spec.json
  airbyte-integrations/connectors/source-square/Dockerfile
  airbyte-integrations/connectors/source-square/source_square/spec.json
  airbyte-integrations/connectors/source-strava/Dockerfile
  airbyte-integrations/connectors/source-strava/source_strava/spec.json
  airbyte-integrations/connectors/source-tiktok-marketing/Dockerfile
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/spec.py
  airbyte-integrations/connectors/source-typeform/Dockerfile
  airbyte-integrations/connectors/source-typeform/source_typeform/spec.json
  airbyte-integrations/connectors/source-zendesk-chat/Dockerfile
  airbyte-integrations/connectors/source-zendesk-chat/source_zendesk_chat/spec.json
  docs/integrations/sources/airtable.md
  docs/integrations/sources/amazon-seller-partner.md
  docs/integrations/sources/square.md
  docs/integrations/sources/strava.md
  docs/integrations/sources/tiktok-marketing.md
  docs/integrations/sources/typeform.md
  docs/integrations/sources/zendesk-chat.md
Labels: area/documentation, area/connectors

#8680 Fix oauth input params
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/config/configProviders.ts
  airbyte-webapp/src/core/form/uiWidget.ts
  airbyte-webapp/src/core/request/AirbyteRequestService.ts
  airbyte-webapp/src/packages/cloud/lib/auth/RequestAuthMiddleware.ts
  airbyte-webapp/src/utils/objects.ts
  airbyte-webapp/src/views/Connector/ServiceForm/components/Sections/auth/useOauthFlowAdapter.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/useBuildForm.tsx
Labels: type/bug, area/frontend, area/platform

#8654 Add info about skipped failed tests in /test command message
  .github/workflows/test-command.yml
  airbyte-integrations/bases/source-acceptance-test/CHANGELOG.md
  airbyte-integrations/connectors/source-stripe/acceptance-test-config.yml
  tools/bin/ci_integration_test.sh
Labels: area/connectors

#8706 upgrade jaxb and jackson versions
  airbyte-server/build.gradle
  build.gradle
Labels: area/platform, area/server

#8707 Bump Airbyte version from 0.33.8-alpha to 0.33.9-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#8613 State Storage for new Scheduler
  airbyte-config/models/src/test/java/io/airbyte/config/helpers/S3LogsTest.java
  airbyte-workers/build.gradle
  airbyte-workers/src/main/java/io/airbyte/workers/storage/DockerComposeDocumentStoreClient.java
  airbyte-workers/src/main/java/io/airbyte/workers/storage/DocumentStoreClient.java
  airbyte-workers/src/main/java/io/airbyte/workers/storage/GcsDocumentStoreClient.java
  airbyte-workers/src/main/java/io/airbyte/workers/storage/S3DocumentStoreClient.java
  airbyte-workers/src/main/java/io/airbyte/workers/storage/WorkerStore.java
  airbyte-workers/src/test/java/io/airbyte/workers/storage/DockerComposeDocumentStoreClientTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/storage/GcsDocumentStoreClientTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/storage/S3DocumentStoreClientTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/storage/WorkerStoreTest.java
  build.gradle
  tools/bin/cloud_storage_logging_test.sh
Labels: area/worker, area/platform

#8614 Pipe through env variables for state storage
  .env
  airbyte-config/models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  charts/airbyte/templates/env-configmap.yaml
  charts/airbyte/templates/worker/deployment.yaml
  kube/overlays/dev-integration-test/.env
  kube/overlays/dev/.env
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable/.env
Labels: area/platform, kubernetes

#8637 🐛 Source Intercom: switching from scroll to standard endpoints
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/d8313939-3782-41b0-be29-b3ca20d8dd3a.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-intercom/integration_tests/integration_test.py
  airbyte-integrations/connectors/source-intercom/source_intercom/source.py
  docs/integrations/sources/intercom.md
Labels: area/documentation, area/connectors

#8709 fail zombie job attempts and add failure reason
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/SchedulerApp.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/JobPersistence.java
Labels: area/platform, area/scheduler

#8713 bump gcp dependencies to pick up grpc update
  airbyte-config/persistence/build.gradle
  airbyte-scheduler/client/build.gradle
  build.gradle
Labels: area/platform, area/scheduler

#8714 Bump Airbyte version from 0.33.9-alpha to 0.33.10-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#8524 Update fields in source-connectors specifications: file, freshdesk, github, google-directory, google-workspace-admin-reports, iterable
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/2e875208-0c0b-4ee4-9e92-1cb3156ea799.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/778daa7c-feaf-4db6-96f3-70fd645acc77.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/d19ae824-e289-4b14-995a-0632eb46d246.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/ec4b9503-13cb-48ab-a4ab-6ade4be46567.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/ed9dfefa-1bbc-419d-8c5e-4d78f0ef6734.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/ef69ef6e-aa7f-4af1-a01d-ef775033524e.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-file/Dockerfile
  airbyte-integrations/connectors/source-file/source_file/spec.json
  airbyte-integrations/connectors/source-freshdesk/Dockerfile
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/spec.json
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/source_github/spec.json
  airbyte-integrations/connectors/source-google-directory/Dockerfile
  airbyte-integrations/connectors/source-google-directory/source_google_directory/spec.json
  airbyte-integrations/connectors/source-google-workspace-admin-reports/Dockerfile
  airbyte-integrations/connectors/source-google-workspace-admin-reports/source_google_workspace_admin_reports/spec.json
  airbyte-integrations/connectors/source-iterable/Dockerfile
  airbyte-integrations/connectors/source-iterable/source_iterable/spec.json
  airbyte-integrations/connectors/source-kafka/Dockerfile
  airbyte-integrations/connectors/source-kafka/src/main/resources/spec.json
  docs/integrations/sources/file.md
  docs/integrations/sources/freshdesk.md
  docs/integrations/sources/github.md
  docs/integrations/sources/google-directory.md
  docs/integrations/sources/google-workspace-admin-reports.md
  docs/integrations/sources/iterable.md
  docs/integrations/sources/kafka.md
Labels: area/documentation, area/connectors

#8562 move S3Config into destination-s3; update dependencies accordingly
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksDestination.java
  airbyte-integrations/connectors/destination-jdbc/build.gradle
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/s3/S3Config.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/s3/S3StreamCopier.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/s3/S3StreamCopierFactory.java
  airbyte-integrations/connectors/destination-jdbc/src/test-integration/java/io/airbyte/integrations/destination/jdbc/JdbcDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-redshift/build.gradle
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftCopyS3Destination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftStreamCopier.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftStreamCopierFactory.java
  airbyte-integrations/connectors/destination-s3/build.gradle
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3Destination.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3DestinationConfig.java
  airbyte-integrations/connectors/destination-s3/src/test/java/io/airbyte/integrations/destination/s3/S3DestinationTest.java
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/README.md
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeCopyS3Destination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeS3StreamCopier.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeS3StreamCopierFactory.java
  docs/integrations/destinations/s3.md
Labels: area/documentation, area/connectors

#7964 upgrade to Gradle 7.3.1 / Java 17
  .github/workflows/gke-kube-test-command.yml
  .github/workflows/gradle.yml
  .github/workflows/publish-cdk-command.yml
  .github/workflows/release-airbyte-os.yml
  .github/workflows/test-command.yml
  airbyte-db/lib/src/main/resources/configs_database/schema.sql
  airbyte-db/lib/src/main/resources/jobs_database/schema.sql
  airbyte-db/lib/src/test/java/io/airbyte/db/instance/configs/migrations/V0_30_22_001__Store_last_sync_state_test.java
  airbyte-integrations/bases/base-java/Dockerfile
  airbyte-integrations/bases/base-standard-source-test-file/Dockerfile
  airbyte-integrations/bases/standard-source-test/Dockerfile
  airbyte-integrations/connectors/source-jdbc/build.gradle
  airbyte-integrations/infrastructure/ssh_tunnel/module/sql/postgresql-01-dbcreate.sql
  airbyte-integrations/infrastructure/ssh_tunnel/module/sql/postgresql-02-user-create.sql
  airbyte-scheduler/app/Dockerfile
  airbyte-scheduler/persistence/src/main/resources/job_history_purge.sql
  airbyte-server/Dockerfile
  airbyte-server/src/test/resources/migration/schema.sql
  airbyte-workers/Dockerfile
  airbyte-workers/build.gradle
  build.gradle
  docs/connector-development/testing-connectors/standard-source-tests.md
  docs/contributing-to-airbyte/developing-locally.md
  docs/understanding-airbyte/tech-stack.md
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  tools/bin/build_image.sh
Labels: area/documentation, area/connectors, area/worker, area/platform, area/server, area/scheduler

#8717 Bump connector versions for publishing
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-redshift/Dockerfile
  airbyte-integrations/connectors/destination-s3/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  docs/integrations/destinations/redshift.md
  docs/integrations/destinations/s3.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors

#8725 Add more tests for json avro logical type conversion
  airbyte-integrations/connectors/destination-s3/src/test/resources/parquet/json_schema_converter/json_conversion_test_cases.json
  airbyte-integrations/connectors/destination-s3/src/test/resources/parquet/json_schema_converter/type_conversion_test_cases.json
Labels: area/connectors

#8727 🐛 Increase sidecar memory.
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
Labels: area/worker, area/platform

#8728 Bump Airbyte version from 0.33.10-alpha to 0.33.11-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#8529 Added benchmarks scripts with small instruction
  airbyte-integrations/connectors/source-mssql/README.md
  airbyte-integrations/connectors/source-mssql/mssql-script.sql
  airbyte-integrations/connectors/source-mysql/README.md
  airbyte-integrations/connectors/source-mysql/mysql-script.sql
  airbyte-integrations/connectors/source-postgres/1-create-copy-tables-procedure.sql
  airbyte-integrations/connectors/source-postgres/2-create-insert-rows-to-table-procedure.sql
  airbyte-integrations/connectors/source-postgres/3-run-script.sql
  airbyte-integrations/connectors/source-postgres/README.md
Labels: area/connectors

#8731 Bump the minor version for mysql source
  .github/workflows/publish-command.yml
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/435bb9a5-7887-4809-aa58-28c27df0d7ad.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mysql/Dockerfile
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors

#8582 Update fields in source-connectors specifications: mysql, onesignal, oracle, outreach, paystack, pipedrive, pokeapi
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/193bdcb8-1dd9-48d1-aade-91cadfd74f9b.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/435bb9a5-7887-4809-aa58-28c27df0d7ad.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/6371b14b-bc68-4236-bfbd-468e8df8e968.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/b39a7370-74c3-45a6-ac3a-380d48520a83.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/bb6afd81-87d5-47e3-97c4-e2c2901b1cf8.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/d8286229-c680-4063-8c59-23b9b391c700.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-mysql/src/main/resources/spec.json
  airbyte-integrations/connectors/source-onesignal/Dockerfile
  airbyte-integrations/connectors/source-onesignal/source_onesignal/spec.json
  airbyte-integrations/connectors/source-oracle/Dockerfile
  airbyte-integrations/connectors/source-oracle/src/main/resources/spec.json
  airbyte-integrations/connectors/source-outreach/Dockerfile
  airbyte-integrations/connectors/source-outreach/source_outreach/spec.json
  airbyte-integrations/connectors/source-paystack/Dockerfile
  airbyte-integrations/connectors/source-paystack/source_paystack/spec.json
  airbyte-integrations/connectors/source-pipedrive/Dockerfile
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/spec.json
  airbyte-integrations/connectors/source-pokeapi/Dockerfile
  airbyte-integrations/connectors/source-pokeapi/source_pokeapi/spec.json
  docs/integrations/sources/mysql.md
  docs/integrations/sources/onesignal.md
  docs/integrations/sources/oracle.md
  docs/integrations/sources/outreach.md
  docs/integrations/sources/paystack.md
  docs/integrations/sources/pipedrive.md
  docs/integrations/sources/pokeapi.md
Labels: area/documentation, area/connectors

#7975 :tada: Source Mailchimp: updated Mailchimp schemas
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/b03a9f3e-22a5-11eb-adc1-0242ac120002.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-mailchimp/Dockerfile
  airbyte-integrations/connectors/source-mailchimp/setup.py
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/campaigns.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/addressMergeSegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/addressZipWithinSegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/aimSegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/automationSegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/birthdayMergeSegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/campaignPollSegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/campaignStatus.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/campaignType.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/conversationSegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/countryStateSegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/dateMergeSegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/dateSegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/dropdownRadioMergeSegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/ecommCategorySegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/ecommNumberSegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/ecommPurchasedSegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/ecommSpentSegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/ecommStoreSegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/emailClientSegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/emailSegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/fuzzySegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/geoInSegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/goalActivitySegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/goalTimestampSegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/interestSegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/ipGeoInZipSegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/languageSegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/memberRatingSegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/newSubscribers.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/predictedAgeSegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/predictedGenderSegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/segmentCondition.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/segmentationOptions.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/signupSourceSegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/socialAgeSegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/socialGenderSegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/socialInfluenceSegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/socialNetworkFollowSegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/socialNetworkSegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/staticSegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/surveyMonkeySegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/textOrNumberMergeSegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/unknownSegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/vipSegment.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/zipSegment.json
  docs/integrations/sources/mailchimp.md
Labels: area/documentation, area/connectors

#8736 🐛 Helm chart: Allow writing logs to S3 easily
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/templates/_helpers.tpl
  charts/airbyte/templates/env-configmap.yaml
  charts/airbyte/templates/scheduler/deployment.yaml
  charts/airbyte/templates/server/deployment.yaml
  charts/airbyte/templates/temporal/deployment.yaml
  charts/airbyte/templates/worker/deployment.yaml
  charts/airbyte/values.yaml
Labels: area/platform, kubernetes, community

#8692 MSSQL Destination: update docker images for integration tests
  airbyte-integrations/connectors/destination-mssql-strict-encrypt/src/test-integration/java/io/airbyte/integrations/destination/mssql_strict_encrypt/MssqlStrictEncryptDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mssql/src/test-integration/java/io/airbyte/integrations/destination/mssql/MSSQLDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mssql/src/test-integration/java/io/airbyte/integrations/destination/mssql/SshMSSQLDestinationAcceptanceTest.java
Labels: area/connectors

#8737 Remove multi-node test for Kube Acceptance Test.
  airbyte-bootloader/Dockerfile
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  kube/overlays/dev-integration-test/kustomization.yaml
  kube/overlays/dev-integration-test/pod-antiaffinity.yaml
  tools/bin/acceptance_test_kube.sh
Labels: area/platform, kubernetes

#8693 Source Oracle update docker images for integration tests
  airbyte-integrations/connectors/source-oracle-strict-encrypt/src/test-integration/java/io/airbyte/integrations/source/oracle_strict_encrypt/OracleContainer.java
  airbyte-integrations/connectors/source-oracle-strict-encrypt/src/test-integration/java/io/airbyte/integrations/source/oracle_strict_encrypt/OracleSourceNneAcceptanceTest.java
  airbyte-integrations/connectors/source-oracle-strict-encrypt/src/test-integration/java/io/airbyte/integrations/source/oracle_strict_encrypt/OracleStrictEncryptSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-oracle/src/test-integration/java/io/airbyte/integrations/source/oracle/AbstractSshOracleSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-oracle/src/test-integration/java/io/airbyte/integrations/source/oracle/OracleContainer.java
  airbyte-integrations/connectors/source-oracle/src/test-integration/java/io/airbyte/integrations/source/oracle/OracleSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-oracle/src/test-integration/java/io/airbyte/integrations/source/oracle/OracleSourceNneAcceptanceTest.java
Labels: area/connectors

#7807 add OAuth 2.0 for microsoft_teams source connector
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-microsoft-teams/Dockerfile
  airbyte-integrations/connectors/source-microsoft-teams/acceptance-test-config.yml
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/client.py
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/spec.json
  airbyte-oauth/src/main/java/io/airbyte/oauth/BaseOAuth2Flow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/BaseOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/OAuthImplementationFactory.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/AsanaOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/DriftOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/GithubOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/HarvestOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/HubspotOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/IntercomOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/LinkedinAdsOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/MicrosoftTeamsOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/PipeDriveOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/QuickbooksOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/RetentlyOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/SalesforceOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/SlackOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/SnapchatMarketingOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/SurveymonkeyOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/facebook/FacebookOAuthFlow.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/google/GoogleOAuthFlow.java
  airbyte-oauth/src/test/java/io/airbyte/oauth/flows/MicrosoftTeamsOAuthFlowTest.java
  docs/integrations/sources/microsoft-teams.md
  tools/bin/ci_credentials.sh
Labels: area/documentation, area/connectors

#8756 Format files
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksDestination.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/s3/S3StreamCopier.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/s3/S3StreamCopierFactory.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftCopyS3Destination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftStreamCopier.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftStreamCopierFactory.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3Destination.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3DestinationConfig.java
  airbyte-integrations/connectors/destination-s3/src/test/java/io/airbyte/integrations/destination/s3/S3DestinationTest.java
  airbyte-integrations/connectors/destination-s3/src/test/resources/parquet/json_schema_converter/json_conversion_test_cases.json
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeCopyS3Destination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeS3StreamCopier.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeS3StreamCopierFactory.java
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_google_ads.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_source.py
  airbyte-integrations/connectors/source-intercom/integration_tests/integration_test.py
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/spec.json
  airbyte-integrations/connectors/source-mssql/mssql-script.sql
  airbyte-integrations/connectors/source-mysql/mysql-script.sql
  airbyte-integrations/connectors/source-oracle-strict-encrypt/src/test-integration/java/io/airbyte/integrations/source/oracle_strict_encrypt/OracleContainer.java
  airbyte-integrations/connectors/source-oracle-strict-encrypt/src/test-integration/java/io/airbyte/integrations/source/oracle_strict_encrypt/OracleSourceNneAcceptanceTest.java
  airbyte-integrations/connectors/source-oracle-strict-encrypt/src/test-integration/java/io/airbyte/integrations/source/oracle_strict_encrypt/OracleStrictEncryptSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-oracle/src/test-integration/java/io/airbyte/integrations/source/oracle/AbstractSshOracleSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-oracle/src/test-integration/java/io/airbyte/integrations/source/oracle/OracleContainer.java
  airbyte-integrations/connectors/source-oracle/src/test-integration/java/io/airbyte/integrations/source/oracle/OracleSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/1-create-copy-tables-procedure.sql
  airbyte-integrations/connectors/source-postgres/2-create-insert-rows-to-table-procedure.sql
  airbyte-integrations/connectors/source-postgres/3-run-script.sql
Labels: area/connectors

#8521 Publish source: new streams are added in google ads
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/253487c0-2246-43ba-a21f-5116b20a2c50.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/google_ads.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/geographic_report.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/keyword_report.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_source.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors

#8704 🐛 CDK: Fix the logging of unhandled exceptions to show stacktrace
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/__init__.py
  airbyte-cdk/python/airbyte_cdk/destinations/__init__.py
  airbyte-cdk/python/airbyte_cdk/logger.py
  airbyte-cdk/python/airbyte_cdk/sources/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/config.py
  airbyte-cdk/python/airbyte_cdk/sources/singer/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/auth/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/requests_native_auth/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/utils/schema_helpers.py
  airbyte-cdk/python/airbyte_cdk/sources/utils/schema_models.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/utils/test_schema_models.py
  airbyte-cdk/python/unit_tests/test_logger.py
Labels: CDK

#7560 🎉 New destination: RabbitMQ
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/e06ad785-ad6f-4647-b2e8-3027a5c59454.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-rabbitmq/.dockerignore
  airbyte-integrations/connectors/destination-rabbitmq/Dockerfile
  airbyte-integrations/connectors/destination-rabbitmq/README.md
  airbyte-integrations/connectors/destination-rabbitmq/build.gradle
  airbyte-integrations/connectors/destination-rabbitmq/destination_rabbitmq/__init__.py
  airbyte-integrations/connectors/destination-rabbitmq/destination_rabbitmq/__init__.pyc
  airbyte-integrations/connectors/destination-rabbitmq/destination_rabbitmq/destination.py
  airbyte-integrations/connectors/destination-rabbitmq/destination_rabbitmq/spec.json
  airbyte-integrations/connectors/destination-rabbitmq/integration_tests/integration_test.py
  airbyte-integrations/connectors/destination-rabbitmq/integration_tests/invalid_config.json
  airbyte-integrations/connectors/destination-rabbitmq/main.py
  airbyte-integrations/connectors/destination-rabbitmq/requirements.txt
  airbyte-integrations/connectors/destination-rabbitmq/setup.py
  airbyte-integrations/connectors/destination-rabbitmq/unit_tests/unit_test.py
  docs/SUMMARY.md
  docs/integrations/README.md
  docs/integrations/destinations/rabbitmq.md
  tools/bin/ci_credentials.sh
Labels: area/documentation, area/connectors, community, hacktober

#8407 Bmoric/remove job submitter
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/JobSubmitter.java
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/SchedulerApp.java
  airbyte-scheduler/app/src/test/java/io/airbyte/scheduler/app/JobSubmitterTest.java
  airbyte-scheduler/models/src/main/java/io/airbyte/scheduler/models/Job.java
  airbyte-server/build.gradle
  airbyte-server/src/main/java/io/airbyte/server/ConfigurationApiFactory.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/main/java/io/airbyte/server/ServerFactory.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/ConnectionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/DestinationHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SchedulerHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SourceHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WorkspacesHandler.java
  airbyte-server/src/test/java/io/airbyte/server/apis/ConfigurationApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/converters/CatalogConverterTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/ConnectionsHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/helpers/ConnectionHelpers.java
  airbyte-workers/build.gradle
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerApp.java
  airbyte-workers/src/main/java/io/airbyte/workers/helper/CatalogConverter.java
  airbyte-workers/src/main/java/io/airbyte/workers/helper/ConnectionHelper.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalClient.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalUtils.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/exception/NonRetryableException.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/exception/RetryableException.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionUpdaterInput.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionUpdaterWorkflow.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionUpdaterWorkflowImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/SchedulingInput.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/WorkflowState.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/ConfigFetchActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/ConfigFetchActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/ConnectionDeletionActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/ConnectionDeletionActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/GenerateInputActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/GenerateInputActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/GetSyncInputActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/EmptySyncWorkflow.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/SyncWorkflowImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/worker_run/TemporalWorkerRunFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/worker_run/WorkerRun.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/TemporalAttemptExecutionTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionUpdaterWorkflowTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/worker_run/TemporalWorkerRunFactoryTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/worker_run/WorkerRunTest.java
  docker-compose.yaml
Labels: area/worker, area/platform, area/server, area/scheduler

#8164 Update on-oci-vm.md
  docs/.gitbook/assets/OCIScreen10.png
  docs/.gitbook/assets/OCIScreen11.png
  docs/.gitbook/assets/OCIScreen12.png
  docs/.gitbook/assets/OCIScreen13.png
  docs/.gitbook/assets/OCIScreen5.png
  docs/.gitbook/assets/OCIScreen6.png
  docs/.gitbook/assets/OCIScreen7.png
  docs/.gitbook/assets/OCIScreen8.png
  docs/.gitbook/assets/OCIScreen9.png
  docs/deploying-airbyte/on-oci-vm.md
Labels: area/documentation, community

#7945 🎉 New CDK: Dotnet/.NET/C# implementation + free exchange rates source connector
  docs/connector-development/README.md
  docs/connector-development/cdk-dotnet/README.md
Labels: area/documentation, community

#8592 🎉 Source Klaviyo: improve performance and make Global Exclusions stream incremental
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-klaviyo/Dockerfile
  airbyte-integrations/connectors/source-klaviyo/acceptance-test-config.yml
  airbyte-integrations/connectors/source-klaviyo/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-klaviyo/setup.py
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/__init__.py
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/schemas.py
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/source.py
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/streams.py
  airbyte-integrations/connectors/source-klaviyo/unit_tests/test_streams.py
  docs/integrations/sources/klaviyo.md
Labels: area/documentation, area/connectors

#8417 Woocommerce connector advanced date checking
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/b3c1ecb8-f0de-11eb-9a03-0242ac130003.json
  airbyte-integrations/connectors/source-woocommerce/Dockerfile
  airbyte-integrations/connectors/source-woocommerce/source_woocommerce/source.py
Labels: area/connectors, community

#8584 Switch to use Bootloader.
  .env
  .github/workflows/gradle.yml
  airbyte-bootloader/build.gradle
  airbyte-bootloader/src/main/java/io/airbyte/bootloader/BootloaderApp.java
  airbyte-bootloader/src/main/resources/banner/attention-banner.txt
  airbyte-config/models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-db/lib/src/main/java/io/airbyte/db/Databases.java
  airbyte-db/lib/src/main/java/io/airbyte/db/instance/BaseDatabaseInstance.java
  airbyte-db/lib/src/main/java/io/airbyte/db/instance/MinimumFlywayMigrationVersionCheck.java
  airbyte-db/lib/src/main/resources/init.sql
  airbyte-db/lib/src/test/java/io/airbyte/db/instance/MinimumFlywayMigrationVersionCheckTest.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/test/java/io/airbyte/server/ServerAppTest.java
  airbyte-tests/src/automaticMigrationAcceptanceTest/java/io/airbyte/test/automaticMigrationAcceptance/MigrationAcceptanceTest.java
  airbyte-tests/src/automaticMigrationAcceptanceTest/resources/env-file-migration-test-0-32-0.env
  airbyte-tests/src/main/java/io/airbyte/test/airbyte_test_container/AirbyteTestContainer.java
  docker-compose.build-m1.yaml
  docker-compose.build.yaml
  docker-compose.yaml
  kube/overlays/dev-integration-test/.env
  kube/overlays/dev-integration-test/kustomization.yaml
  kube/overlays/dev/.env
  kube/overlays/dev/kustomization.yaml
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  kube/resources/bootloader.yaml
  kube/resources/kustomization.yaml
  kube/resources/server.yaml
  tools/bin/acceptance_test.sh
  tools/bin/acceptance_test_kube.sh
Labels: area/platform, kubernetes, area/server

#8682 🎉 Source Freshdesk: migrate to CDK
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/ec4b9503-13cb-48ab-a4ab-6ade4be46567.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-freshdesk/.dockerignore
  airbyte-integrations/connectors/source-freshdesk/Dockerfile
  airbyte-integrations/connectors/source-freshdesk/acceptance-test-config.yml
  airbyte-integrations/connectors/source-freshdesk/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-freshdesk/build.gradle
  airbyte-integrations/connectors/source-freshdesk/integration_tests/__init__.py
  airbyte-integrations/connectors/source-freshdesk/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-freshdesk/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-freshdesk/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-freshdesk/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-freshdesk/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-freshdesk/main.py
  airbyte-integrations/connectors/source-freshdesk/requirements.txt
  airbyte-integrations/connectors/source-freshdesk/setup.py
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/api.py
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/client.py
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/schemas/companies.json
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/schemas/contacts.json
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/source.py
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/spec.json
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/utils.py
  docs/integrations/sources/freshdesk.md
Labels: area/documentation, area/connectors

#8685 🐛 Source Intercom: stop using time.sleep as a hacky rate limit
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/d8313939-3782-41b0-be29-b3ca20d8dd3a.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-intercom/Dockerfile
  airbyte-integrations/connectors/source-intercom/source_intercom/source.py
  docs/integrations/sources/intercom.md
Labels: area/documentation, area/connectors, community

#8776 airbyte-minio-fullname-debuged
  charts/airbyte/templates/_helpers.tpl
Labels: area/platform, kubernetes, community

#8764 📚 Chargify destination documentation update
  docs/integrations/destinations/chargify.md
Labels: area/documentation, community

#8790 Revert "Revert "Switch to use Bootloader. (#8584)" (#8778)"
  .env
  .github/workflows/gradle.yml
  airbyte-bootloader/build.gradle
  airbyte-bootloader/src/main/java/io/airbyte/bootloader/BootloaderApp.java
  airbyte-bootloader/src/main/resources/banner/attention-banner.txt
  airbyte-config/models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-db/lib/src/main/java/io/airbyte/db/Databases.java
  airbyte-db/lib/src/main/java/io/airbyte/db/instance/BaseDatabaseInstance.java
  airbyte-db/lib/src/main/java/io/airbyte/db/instance/MinimumFlywayMigrationVersionCheck.java
  airbyte-db/lib/src/main/resources/init.sql
  airbyte-db/lib/src/test/java/io/airbyte/db/instance/MinimumFlywayMigrationVersionCheckTest.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/test/java/io/airbyte/server/ServerAppTest.java
  airbyte-tests/src/automaticMigrationAcceptanceTest/java/io/airbyte/test/automaticMigrationAcceptance/MigrationAcceptanceTest.java
  airbyte-tests/src/automaticMigrationAcceptanceTest/resources/env-file-migration-test-0-32-0.env
  airbyte-tests/src/main/java/io/airbyte/test/airbyte_test_container/AirbyteTestContainer.java
  docker-compose.build-m1.yaml
  docker-compose.build.yaml
  docker-compose.yaml
  kube/overlays/dev-integration-test/.env
  kube/overlays/dev-integration-test/kustomization.yaml
  kube/overlays/dev/.env
  kube/overlays/dev/kustomization.yaml
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  kube/resources/bootloader.yaml
  kube/resources/kustomization.yaml
  kube/resources/server.yaml
  tools/bin/acceptance_test.sh
  tools/bin/acceptance_test_kube.sh
Labels: area/platform, kubernetes, area/server

#8561 🎉 CI secrets: full migration to GSM
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  .github/workflows/test-performance-command.yml
  docs/connector-development/README.md
  tools/bin/ci_credentials.sh
  tools/ci_common_utils/ci_common_utils/__init__.py
  tools/ci_common_utils/ci_common_utils/google_api.py
  tools/ci_common_utils/ci_common_utils/logger.py
  tools/ci_common_utils/setup.py
  tools/ci_common_utils/tests/__init__.py
  tools/ci_common_utils/tests/test_logger.py
  tools/ci_credentials/ci_credentials/__init__.py
  tools/ci_credentials/ci_credentials/main.py
  tools/ci_credentials/ci_credentials/secrets_loader.py
  tools/ci_credentials/setup.py
  tools/ci_credentials/tests/__init__.py
  tools/ci_credentials/tests/test_secrets.py
  tools/lib/gcp-token.sh
  tools/python/.flake8
  tools/tox_ci.ini
Labels: area/documentation

#8006 🎉 New Destination: Rockset
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/2c9d93a7-9a17-4789-9de9-f46f0097eb70.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/destination-rockset/.dockerignore
  airbyte-integrations/connectors/destination-rockset/BOOTSTRAP.md
  airbyte-integrations/connectors/destination-rockset/Dockerfile
  airbyte-integrations/connectors/destination-rockset/README.md
  airbyte-integrations/connectors/destination-rockset/build.gradle
  airbyte-integrations/connectors/destination-rockset/src/main/java/io/airbyte/integrations/destination/rockset/RocksetDestination.java
  airbyte-integrations/connectors/destination-rockset/src/main/java/io/airbyte/integrations/destination/rockset/RocksetSQLNameTransformer.java
  airbyte-integrations/connectors/destination-rockset/src/main/java/io/airbyte/integrations/destination/rockset/RocksetUtils.java
  airbyte-integrations/connectors/destination-rockset/src/main/java/io/airbyte/integrations/destination/rockset/RocksetWriteApiConsumer.java
  airbyte-integrations/connectors/destination-rockset/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-rockset/src/test-integration/java/io/airbyte/integrations/destination/rockset/RocksetDestinationAcceptanceTest.java
  docs/SUMMARY.md
  docs/integrations/README.md
  docs/integrations/destinations/rockset.md
Labels: area/documentation, area/connectors, community, hacktober, waiting-for-cred

#8483 🐛 Source Marketo: improve field conversion to conform schema
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-marketo/Dockerfile
  airbyte-integrations/connectors/source-marketo/source_marketo/source.py
  airbyte-integrations/connectors/source-marketo/source_marketo/utils.py
  airbyte-integrations/connectors/source-marketo/unit_tests/unit_test.py
  docs/integrations/sources/marketo.md
Labels: area/documentation, area/connectors

#8658 🐛 Source Hubspot: additionalProperties: true
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/source_hubspot/spec.json
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors

#8799 🐛 Source: Strava: support OAuth 2.0
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/7a4327c4-315a-11ec-8d3d-0242ac130003.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-strava/Dockerfile
  airbyte-integrations/connectors/source-strava/source_strava/spec.json
  airbyte-oauth/src/main/java/io/airbyte/oauth/OAuthImplementationFactory.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/StravaOAuthFlow.java
  airbyte-oauth/src/test/java/io/airbyte/oauth/flows/StravaOAuthFlowTest.java
  docs/integrations/sources/strava.md
Labels: area/documentation, area/connectors

#8821 Destination Rockset: format code
  airbyte-integrations/connectors/destination-rockset/src/main/java/io/airbyte/integrations/destination/rockset/RocksetDestination.java
  airbyte-integrations/connectors/destination-rockset/src/main/java/io/airbyte/integrations/destination/rockset/RocksetUtils.java
  airbyte-integrations/connectors/destination-rockset/src/main/java/io/airbyte/integrations/destination/rockset/RocksetWriteApiConsumer.java
  airbyte-integrations/connectors/destination-rockset/src/test-integration/java/io/airbyte/integrations/destination/rockset/RocksetDestinationAcceptanceTest.java
Labels: area/connectors

#8656 🐛Source Google Analytics v4: fix date format
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-analytics-v4/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-v4/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-analytics-v4/integration_tests/expected_records.txt
  airbyte-integrations/connectors/source-google-analytics-v4/source_google_analytics_v4/source.py
  docs/integrations/sources/google-analytics-v4.md
Labels: area/documentation, area/connectors

#7434 🎉 New Source: OpenWeather
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/d8540a80-6120-485d-b7d6-272bca477d9b.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-openweather/.dockerignore
  airbyte-integrations/connectors/source-openweather/Dockerfile
  airbyte-integrations/connectors/source-openweather/README.md
  airbyte-integrations/connectors/source-openweather/acceptance-test-config.yml
  airbyte-integrations/connectors/source-openweather/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-openweather/bootstrap.md
  airbyte-integrations/connectors/source-openweather/build.gradle
  airbyte-integrations/connectors/source-openweather/integration_tests/__init__.py
  airbyte-integrations/connectors/source-openweather/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-openweather/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-openweather/integration_tests/catalog.json
  airbyte-integrations/connectors/source-openweather/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-openweather/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-openweather/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-openweather/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-openweather/main.py
  airbyte-integrations/connectors/source-openweather/requirements.txt
  airbyte-integrations/connectors/source-openweather/setup.py
  airbyte-integrations/connectors/source-openweather/source_openweather/__init__.py
  airbyte-integrations/connectors/source-openweather/source_openweather/extra_validations.py
  airbyte-integrations/connectors/source-openweather/source_openweather/schemas/one_call.json
  airbyte-integrations/connectors/source-openweather/source_openweather/source.py
  airbyte-integrations/connectors/source-openweather/source_openweather/spec.json
  airbyte-integrations/connectors/source-openweather/source_openweather/streams.py
  airbyte-integrations/connectors/source-openweather/unit_tests/__init__.py
  airbyte-integrations/connectors/source-openweather/unit_tests/test_extra_validations.py
  airbyte-integrations/connectors/source-openweather/unit_tests/test_source.py
  airbyte-integrations/connectors/source-openweather/unit_tests/test_streams.py
  docs/SUMMARY.md
  docs/integrations/README.md
  docs/integrations/sources/openweather.md
Labels: area/documentation, area/connectors

#8822 Tweak connections doc formatting for clarity
  docs/understanding-airbyte/connections/README.md
Labels: area/documentation

#8784 🐛 [8783] Fix Broken HelmCharts v0.33.11
  charts/airbyte/templates/_helpers.tpl
  charts/airbyte/values.yaml
Labels: area/platform, kubernetes, community

#8804 fix KubePodProcess port offering race condition
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubeProcessFactory.java
  airbyte-workers/src/test-integration/java/io/airbyte/workers/process/KubePodProcessIntegrationTest.java
Labels: area/worker, area/platform

#8834 Bump Airbyte version from 0.33.12-alpha to 0.34.0-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#8749 🐛 Jdbc sources: switch from "string" to "array" schema type for columns with JDBCType.ARRAY
  airbyte-db/lib/src/main/java/io/airbyte/db/jdbc/AbstractJdbcCompatibleSourceOperations.java
  airbyte-db/lib/src/main/java/io/airbyte/db/jdbc/JdbcSourceOperations.java
  airbyte-db/lib/src/test/java/io/airbyte/db/jdbc/TestJdbcUtils.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/avro/JsonToAvroSchemaConverter.java
  airbyte-integrations/connectors/destination-s3/src/test/resources/parquet/json_schema_converter/json_conversion_test_cases.json
  airbyte-integrations/connectors/destination-s3/src/test/resources/parquet/json_schema_converter/type_conversion_test_cases.json
  airbyte-integrations/connectors/source-cockroachdb/src/test-integration/java/io/airbyte/integrations/source/cockroachdb/CockroachDbSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSourceOperations.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcPostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/PostgresSourceDatatypeTest.java
Labels: area/connectors

#8816 BigQuery locations update
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/src/main/resources/spec.json
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors

#8781 Destination Snowflake: update check method to verify permissions for staging
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/424892c4-daac-4491-b35d-c6688ba547ba.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeDatabase.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingDestination.java
  docs/integrations/destinations/snowflake.md
  tools/bin/ci_credentials.sh
Labels: area/documentation, area/connectors

#8179 Source Amazon Seller Partner: Add GET_BRAND_ANALYTICS_SEARCH_TERMS_REPORT report
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e55879a8-0ef8-4557-abcf-ab34c53ec460.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/Dockerfile
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_BRAND_ANALYTICS_SEARCH_TERMS_REPORT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_repots_streams_rate_limits.py
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation, area/connectors, community

#8836 Harshith/test pr 8179
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_BRAND_ANALYTICS_SEARCH_TERMS_REPORT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
Labels: area/connectors

#8839 fix how secretGenerator is declared
  kube/overlays/stable/kustomization.yaml
Labels: area/platform, kubernetes, community

#8835 fix prefect-task documentation
  docs/operator-guides/using-prefect-task.md
Labels: area/documentation, community
