Repository airbytehq/airbyte, pull requests merged in 2022-10, with the labels that each got.

#17459 upgrade debezium version to 1.9.6
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/bases/debezium-v1-9-6/build.gradle
  airbyte-integrations/bases/debezium-v1-9-6/src/main/java/io/airbyte/integrations/debezium/AirbyteDebeziumHandler.java
  airbyte-integrations/bases/debezium-v1-9-6/src/main/java/io/airbyte/integrations/debezium/CdcMetadataInjector.java
  airbyte-integrations/bases/debezium-v1-9-6/src/main/java/io/airbyte/integrations/debezium/CdcSavedInfoFetcher.java
  airbyte-integrations/bases/debezium-v1-9-6/src/main/java/io/airbyte/integrations/debezium/CdcStateHandler.java
  airbyte-integrations/bases/debezium-v1-9-6/src/main/java/io/airbyte/integrations/debezium/CdcTargetPosition.java
  airbyte-integrations/bases/debezium-v1-9-6/src/main/java/io/airbyte/integrations/debezium/internals/AirbyteFileOffsetBackingStore.java
  airbyte-integrations/bases/debezium-v1-9-6/src/main/java/io/airbyte/integrations/debezium/internals/AirbyteSchemaHistoryStorage.java
  airbyte-integrations/bases/debezium-v1-9-6/src/main/java/io/airbyte/integrations/debezium/internals/DebeziumConverterUtils.java
  airbyte-integrations/bases/debezium-v1-9-6/src/main/java/io/airbyte/integrations/debezium/internals/DebeziumEventUtils.java
  airbyte-integrations/bases/debezium-v1-9-6/src/main/java/io/airbyte/integrations/debezium/internals/DebeziumPropertiesManager.java
  airbyte-integrations/bases/debezium-v1-9-6/src/main/java/io/airbyte/integrations/debezium/internals/DebeziumRecordIterator.java
  airbyte-integrations/bases/debezium-v1-9-6/src/main/java/io/airbyte/integrations/debezium/internals/DebeziumRecordPublisher.java
  airbyte-integrations/bases/debezium-v1-9-6/src/main/java/io/airbyte/integrations/debezium/internals/MSSQLConverter.java
  airbyte-integrations/bases/debezium-v1-9-6/src/main/java/io/airbyte/integrations/debezium/internals/MySQLDateTimeConverter.java
  airbyte-integrations/bases/debezium-v1-9-6/src/main/java/io/airbyte/integrations/debezium/internals/PostgresConverter.java
  airbyte-integrations/bases/debezium-v1-9-6/src/main/java/io/airbyte/integrations/debezium/internals/PostgresCustomLoader.java
  airbyte-integrations/bases/debezium-v1-9-6/src/main/java/io/airbyte/integrations/debezium/internals/PostgresDebeziumStateUtil.java
  airbyte-integrations/bases/debezium-v1-9-6/src/main/java/io/airbyte/integrations/debezium/internals/SnapshotMetadata.java
  airbyte-integrations/bases/debezium-v1-9-6/src/test/java/io/airbyte/integrations/debezium/AirbyteDebeziumHandlerTest.java
  airbyte-integrations/bases/debezium-v1-9-6/src/test/java/io/airbyte/integrations/debezium/AirbyteFileOffsetBackingStoreTest.java
  airbyte-integrations/bases/debezium-v1-9-6/src/test/java/io/airbyte/integrations/debezium/DebeziumEventUtilsTest.java
  airbyte-integrations/bases/debezium-v1-9-6/src/test/java/io/airbyte/integrations/debezium/DebeziumRecordPublisherTest.java
  airbyte-integrations/bases/debezium-v1-9-6/src/test/java/io/airbyte/integrations/debezium/internals/DebeziumConverterUtilsTest.java
  airbyte-integrations/bases/debezium-v1-9-6/src/test/java/io/airbyte/integrations/debezium/internals/PostgresDebeziumStateUtilTest.java
  airbyte-integrations/bases/debezium-v1-9-6/src/test/resources/delete_change_event.json
  airbyte-integrations/bases/debezium-v1-9-6/src/test/resources/delete_message.json
  airbyte-integrations/bases/debezium-v1-9-6/src/test/resources/insert_change_event.json
  airbyte-integrations/bases/debezium-v1-9-6/src/test/resources/insert_message.json
  airbyte-integrations/bases/debezium-v1-9-6/src/test/resources/test_debezium_offset.dat
  airbyte-integrations/bases/debezium-v1-9-6/src/test/resources/update_change_event.json
  airbyte-integrations/bases/debezium-v1-9-6/src/test/resources/update_message.json
  airbyte-integrations/bases/debezium-v1-9-6/src/testFixtures/java/io/airbyte/integrations/debezium/CdcSourceTest.java
  airbyte-integrations/connectors/source-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  docs/integrations/sources/mysql.md
  docs/integrations/sources/postgres.md
  settings.gradle
Labels: area/documentation, area/connectors, connectors/source/mysql, connectors/source/postgres, connectors/source/mysql-strict-encrypt, connectors/source/postgres-strict-encrypt

#17483 Greg/clickhouse polishing
  airbyte-config/init/src/main/resources/icons/clickhouse.svg
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-config/init/src/test/resources/connector_catalog.json
  airbyte-db/db-lib/src/main/java/io/airbyte/db/jdbc/JdbcUtils.java
  airbyte-integrations/bases/base-normalization/integration_tests/dbt_integration_test.py
  airbyte-integrations/bases/base-normalization/normalization/transform_config/transform.py
  airbyte-integrations/bases/base-normalization/unit_tests/test_transform_config.py
  airbyte-integrations/connectors/destination-clickhouse-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/destination-clickhouse-strict-encrypt/src/test-integration/java/io/airbyte/integrations/destination/clickhouse/ClickhouseDestinationStrictEncryptAcceptanceTest.java
  airbyte-integrations/connectors/destination-clickhouse-strict-encrypt/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/destination-clickhouse/Dockerfile
  airbyte-integrations/connectors/destination-clickhouse/bootstrap.md
  airbyte-integrations/connectors/destination-clickhouse/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/java/io/airbyte/integrations/destination/clickhouse/ClickhouseDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/java/io/airbyte/integrations/destination/clickhouse/SshClickhouseDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-clickhouse/src/test/java/io/airbyte/integrations/destination/clickhouse/ClickhouseDestinationSpecTest.java
  docs/integrations/destinations/clickhouse.md
Labels: area/documentation, area/connectors, normalization, connectors/destination/clickhouse, connectors/destination/clickhouse-strict-encrypt

#17466 source-sentry: migrate to per-stream states
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-sentry/Dockerfile
  docs/integrations/sources/sentry.md
Labels: area/documentation, area/connectors, connectors/source/sentry

#17328 🪟 🔧  Add Segment track event to suggested destinations experiment
  airbyte-webapp/src/pages/DestinationPage/pages/CreateDestinationPage/components/DestinationForm.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/ServiceForm.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/FrequentlyUsedDestinations/FrequentlyUsedDestinations.test.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/FrequentlyUsedDestinations/FrequentlyUsedDestinations.tsx
Labels: area/platform, team/frontend, growth-eng, ui/analytics, team/growth

#17313 📖 Removing existing Glossary of Terms and link to new Data Glossary
  docs/cloud/core-concepts.md
  docs/integrations/destinations/databricks.md
  docs/understanding-airbyte/glossary.md
  docusaurus/docusaurus.config.js
  docusaurus/sidebars.js
Labels: area/documentation

#17493 🐛 Source Twilio: test fix backward compatibility
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-twilio/Dockerfile
  airbyte-integrations/connectors/source-twilio/acceptance-test-config.yml
Labels: area/connectors, connectors/source/twilio

#16342 🎉 Source Amazon Ads : Add attribution reports
  airbyte-integrations/connectors/source-amazon-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/expected_records.txt
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/__init__.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/attribution_report.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/source.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/__init__.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/attribution_report.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/common.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/test_attribution_report.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/test_source.py
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, area/connectors, community, connectors/source/amazon-ads, ga, bounty, bounty-XL

#16647 Source bigcommerce: add channel and store stream
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-bigcommerce/Dockerfile
  airbyte-integrations/connectors/source-bigcommerce/acceptance-test-config.yml
  airbyte-integrations/connectors/source-bigcommerce/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-bigcommerce/integration_tests/catalog.json
  airbyte-integrations/connectors/source-bigcommerce/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-bigcommerce/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-bigcommerce/source_bigcommerce/schemas/channels.json
  airbyte-integrations/connectors/source-bigcommerce/source_bigcommerce/schemas/store.json
  airbyte-integrations/connectors/source-bigcommerce/source_bigcommerce/source.py
  docs/integrations/sources/bigcommerce.md
Labels: area/documentation, area/connectors, community, connectors/source/bigcommerce, bounty, bounty-L

#17505 Source Bing Ads: Fix: limit cache size for ServiceClient
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-bing-ads/Dockerfile
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/client.py
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors, connectors/source/bing-ads

#17471 Small formatting change to Bing Ads doc
  docs/integrations/sources/bing-ads.md
Labels: area/documentation

#17349 Added GitHub to signup info in Getting Started with Airbyte Cloud doc
  docs/cloud/getting-started-with-airbyte-cloud.md
Labels: area/documentation

#16941 Updates to Managing Airbyte Cloud doc
  docs/cloud/managing-airbyte-cloud.md
Labels: area/documentation

#17485 Edited cron information docs
  docs/cloud/getting-started-with-airbyte-cloud.md
  docs/cloud/managing-airbyte-cloud.md
Labels: area/documentation

#17254 Update Google Analytics V4 doc
  docs/integrations/sources/google-analytics-v4.md
Labels: area/documentation

#17288 Update IP list to require all to be whitelisted
  docs/integrations/sources/postgres.md
Labels: area/documentation

#17418 Add workspace ownership requirement
  docs/integrations/sources/notion.md
Labels: area/documentation

#14758 Fail connection manager workflow on non-deterministic exception
  airbyte-webapp/src/test-utils/mock-data/mockDestinationDefinition.json
  airbyte-workers/src/main/java/io/airbyte/workers/ApplicationInitializer.java
Labels: area/worker, area/platform, team/frontend

#17516 Update minio and db with StatefulSet deployment; Remove bitnami deps
  charts/airbyte/Chart.yaml
  charts/airbyte/Chart.yaml.test
  charts/airbyte/templates/airbyte-db.yaml
  charts/airbyte/templates/minio.yaml
Labels: area/platform, kubernetes

#17487 Prepare injection of Versioning compatible StreamReaderFactory
  airbyte-commons-protocol/src/main/java/io/airbyte/commons/protocol/AirbyteMessageMigrator.java
  airbyte-commons-protocol/src/main/java/io/airbyte/commons/protocol/AirbyteMessageVersionedMigrator.java
  airbyte-commons-protocol/src/main/java/io/airbyte/commons/protocol/migrations/AirbyteMessageMigration.java
  airbyte-commons-protocol/src/main/java/io/airbyte/commons/protocol/migrations/AirbyteMessageMigrationV0.java
  airbyte-commons-protocol/src/main/java/io/airbyte/commons/protocol/serde/AirbyteMessageDeserializer.java
  airbyte-commons-protocol/src/main/java/io/airbyte/commons/protocol/serde/AirbyteMessageGenericDeserializer.java
  airbyte-commons-protocol/src/test/java/io/airbyte/commons/protocol/AirbyteMessageMigratorTest.java
  airbyte-commons-protocol/src/test/java/io/airbyte/commons/protocol/serde/AirbyteMessageV0SerDeTest.java
  airbyte-workers/build.gradle
  airbyte-workers/src/main/java/io/airbyte/workers/internal/DefaultAirbyteStreamFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/internal/VersionedAirbyteStreamFactory.java
Labels: area/worker, area/platform

#17474 Bring back GCS destination to Cloud
  airbyte-webapp/src/core/domain/connector/constants.ts
Labels: area/platform, team/frontend

#17170 🎉 MySQL Source : Make initial cdc timeout configurable for MySQL source
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql-strict-encrypt/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/helpers/CdcConfigurationHelper.java
  airbyte-integrations/connectors/source-mysql/src/main/resources/spec.json
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcBinlogsMySqlSourceDatatypeTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcInitialSnapshotMySqlSourceDatatypeTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcMySqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcMySqlSslCaCertificateSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/utils/TestConstants.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/CdcConfigurationHelperTest.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/CdcMysqlSourceTest.java
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, connectors/source/mysql, connectors/source/jdbc, connectors/source/mysql-strict-encrypt

#17340 🚨 Add SSL documentation and check logic for S3 Destination 🚨
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/bases/base-java-s3/src/main/java/io/airbyte/integrations/destination/s3/BaseS3Destination.java
  airbyte-integrations/bases/base-java-s3/src/main/java/io/airbyte/integrations/destination/s3/S3BaseChecks.java
  airbyte-integrations/bases/base-java-s3/src/main/java/io/airbyte/integrations/destination/s3/S3DestinationConfig.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/adaptive/AdaptiveDestinationRunner.java
  airbyte-integrations/connectors/destination-s3/Dockerfile
  airbyte-integrations/connectors/destination-s3/build.gradle
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3Destination.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3DestinationRunner.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3DestinationStrictEncrypt.java
  airbyte-integrations/connectors/destination-s3/src/test/java/io/airbyte/integrations/destination/s3/S3DestinationStrictEncryptTest.java
  airbyte-integrations/connectors/destination-s3/src/test/java/io/airbyte/integrations/destination/s3/S3DestinationTest.java
  airbyte-webapp/src/core/domain/connector/constants.ts
  docs/integrations/destinations/s3.md
Labels: area/documentation, area/connectors, area/platform, connectors/destination/s3, team/frontend

#17405 Added note about OAuth
  docs/integrations/sources/paypal-transaction.md
Labels: area/documentation

#17519 Publish file-secure
  airbyte-integrations/connectors/source-file-secure/Dockerfile
  airbyte-integrations/connectors/source-file/README.md
Labels: area/connectors, connectors/source/file, connectors/source/file-secure

#17534 Low-code connector docs
  docs/connector-development/config-based/advanced-topics.md
  docs/connector-development/config-based/index.md
  docs/connector-development/config-based/low-code-cdk-overview.md
  docs/connector-development/config-based/overview.md
  docs/connector-development/config-based/substreams.md
  docs/connector-development/config-based/tutorial/3-connecting-to-the-API-source.md
  docs/connector-development/config-based/tutorial/4-reading-data.md
  docs/connector-development/config-based/tutorial/5-incremental-reads.md
  docs/connector-development/config-based/tutorial/6-testing.md
  docs/connector-development/config-based/understanding-the-yaml-file/authentication.md
  docs/connector-development/config-based/understanding-the-yaml-file/error-handling.md
  docs/connector-development/config-based/understanding-the-yaml-file/pagination.md
  docs/connector-development/config-based/understanding-the-yaml-file/record-selector.md
  docs/connector-development/config-based/understanding-the-yaml-file/request-options.md
  docs/connector-development/config-based/understanding-the-yaml-file/requester.md
  docs/connector-development/config-based/understanding-the-yaml-file/stream-slicers.md
  docs/connector-development/config-based/understanding-the-yaml-file/yaml-overview.md
  docusaurus/sidebars.js
Labels: area/documentation

#17320 🐛Source Amplitude: fix start date validation
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amplitude/Dockerfile
  airbyte-integrations/connectors/source-amplitude/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-amplitude/source_amplitude/api.py
  airbyte-integrations/connectors/source-amplitude/source_amplitude/source.py
  airbyte-integrations/connectors/source-amplitude/unit_tests/test_source.py
  docs/integrations/sources/amplitude.md
Labels: area/documentation, area/connectors, connectors/source/amplitude

#16914 🐛Source Hubspot: Fixed 403 error validation
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/README.md
  airbyte-integrations/connectors/source-hubspot/acceptance-test-config.yml
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_source.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot

#17537 accept null value when evaluating whether to skip normalization
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/SyncWorkflowImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/sync/SyncWorkflowTest.java
Labels: area/worker, area/platform

#17538 Remove data field in the state aggregator if possible
  airbyte-workers/src/main/java/io/airbyte/workers/internal/state_aggregator/SingleStateAggregator.java
  airbyte-workers/src/main/java/io/airbyte/workers/internal/state_aggregator/StreamStateAggregator.java
  airbyte-workers/src/test/java/io/airbyte/workers/internal/state_aggregator/StateAggregatorTest.java
Labels: area/worker, area/platform

#17196 [#17107] Fix propagation of $options field in arrays
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/factory.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_factory.py
Labels: CDK

#17545 Updated s3.md changelog to include changes for enforcing TLS
  docs/integrations/destinations/s3.md
Labels: area/documentation

#17546 Check Replication Summary length
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/ReplicationActivityImpl.java
Labels: area/worker, area/platform

#17515 Match entry in client cert keystore to hardcoded postgres driver value
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-db/db-lib/src/main/java/io/airbyte/db/util/SSLCertificateUtils.java
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres, connectors/source/postgres-strict-encrypt

#17554 Source paypal transaction typeerror
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-paypal-transaction/Dockerfile
  airbyte-integrations/connectors/source-paypal-transaction/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-paypal-transaction/source_paypal_transaction/source.py
  airbyte-integrations/connectors/source-paypal-transaction/unit_tests/conftest.py
  docs/integrations/sources/paypal-transaction.md
Labels: area/documentation, area/connectors, connectors/source/paypal-transaction

#17551 Source Facebook Marketing: Add `cursor_field` for custom_insights stream schema
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/base_insight_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_base_insight_streams.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing

#17557 Source Slack, Source Tiktok-marketing - fix builds
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-slack/acceptance-test-config.yml
  airbyte-integrations/connectors/source-slack/integration_tests/expected_records.txt
  airbyte-integrations/connectors/source-tiktok-marketing/Dockerfile
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/streams_basic.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/streams_reports_daily.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/streams_reports_lifetime.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/streams_with_day_granularity.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/streams_with_lifetime_granularity.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/streams.py
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/unit_test.py
  docs/integrations/sources/tiktok-marketing.md
Labels: area/documentation, area/connectors, connectors/source/slack, connectors/source/tiktok-marketing

#17574 Disable normalization skip when no new data
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/SyncWorkflowImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/sync/SyncWorkflowTest.java
Labels: area/worker, area/platform

#17388 Use Micronaut auto-detected environment for docker vs kubernetes choices
  airbyte-commons-temporal/src/main/java/io/airbyte/commons/temporal/TemporalInitializationUtils.java
  airbyte-container-orchestrator/src/main/java/io/airbyte/container_orchestrator/ContainerOrchestratorApp.java
  airbyte-container-orchestrator/src/main/java/io/airbyte/container_orchestrator/DbtJobOrchestrator.java
  airbyte-container-orchestrator/src/main/java/io/airbyte/container_orchestrator/NormalizationJobOrchestrator.java
  airbyte-container-orchestrator/src/main/java/io/airbyte/container_orchestrator/ReplicationJobOrchestrator.java
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/DestinationAcceptanceTest.java
  airbyte-integrations/bases/standard-source-test/src/main/java/io/airbyte/integrations/standardtest/source/AbstractSourceConnectorTest.java
  airbyte-integrations/bases/standard-source-test/src/main/java/io/airbyte/integrations/standardtest/source/PythonSourceAcceptanceTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/ApplicationInitializer.java
  airbyte-workers/src/main/java/io/airbyte/workers/ContainerOrchestratorConfig.java
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerUtils.java
  airbyte-workers/src/main/java/io/airbyte/workers/config/ApplicationBeanFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/config/ContainerOrchestratorConfigBeanFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/config/ProcessFactoryBeanFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/config/WorkerConfigurationBeanFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/general/DbtTransformationRunner.java
  airbyte-workers/src/main/java/io/airbyte/workers/general/DefaultCheckConnectionWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/general/DefaultDiscoverCatalogWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/general/DefaultGetSpecWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/internal/DefaultAirbyteDestination.java
  airbyte-workers/src/main/java/io/airbyte/workers/internal/DefaultAirbyteSource.java
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/DefaultNormalizationRunner.java
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/NormalizationRunnerFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/DockerProcessFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/check/connection/CheckConnectionActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/discover/catalog/DiscoverCatalogActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/spec/SpecActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/DbtTransformationActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/LauncherWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/NormalizationActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/ReplicationActivityImpl.java
  airbyte-workers/src/main/resources/application.yml
  airbyte-workers/src/test/java/io/airbyte/workers/general/DefaultCheckConnectionWorkerTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/general/DefaultDiscoverCatalogWorkerTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/general/DefaultGetSpecWorkerTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/internal/DefaultAirbyteDestinationTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/internal/DefaultAirbyteSourceTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/normalization/DefaultNormalizationRunnerTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/normalization/NormalizationRunnerFactoryTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/process/DockerProcessFactoryTest.java
  charts/airbyte-worker/templates/deployment.yaml
  docker-compose.yaml
  kube/resources/worker.yaml
Labels: area/worker, area/platform, kubernetes

#17583 Revert "Remove data field in the state aggregator if possible"
  airbyte-workers/src/main/java/io/airbyte/workers/internal/state_aggregator/SingleStateAggregator.java
  airbyte-workers/src/main/java/io/airbyte/workers/internal/state_aggregator/StreamStateAggregator.java
  airbyte-workers/src/test/java/io/airbyte/workers/internal/state_aggregator/StateAggregatorTest.java
Labels: area/worker, area/platform

#17584 Revert "Revert "Remove data field in the state aggregator if possible""
  airbyte-workers/src/main/java/io/airbyte/workers/internal/state_aggregator/SingleStateAggregator.java
  airbyte-workers/src/main/java/io/airbyte/workers/internal/state_aggregator/StreamStateAggregator.java
  airbyte-workers/src/test/java/io/airbyte/workers/internal/state_aggregator/StateAggregatorTest.java
Labels: area/worker, area/platform

#17573 Source Iterable: use optional end_date for SATs
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-iterable/Dockerfile
  airbyte-integrations/connectors/source-iterable/source_iterable/slice_generators.py
  airbyte-integrations/connectors/source-iterable/source_iterable/source.py
  airbyte-integrations/connectors/source-iterable/source_iterable/streams.py
  docs/integrations/sources/iterable.md
Labels: area/documentation, area/connectors, connectors/source/iterable

#16539 🪟 🎉 Replace multiline + hidden connector field with `SecretTextArea` component
  airbyte-webapp/src/components/ui/Input/Input.tsx
  airbyte-webapp/src/components/ui/SecretTextArea/SecretTextArea.module.scss
  airbyte-webapp/src/components/ui/SecretTextArea/SecretTextArea.test.tsx
  airbyte-webapp/src/components/ui/SecretTextArea/SecretTextArea.tsx
  airbyte-webapp/src/components/ui/SecretTextArea/index.stories.tsx
  airbyte-webapp/src/components/ui/SecretTextArea/index.ts
  airbyte-webapp/src/components/ui/TextInputContainer/TextInputContainer.module.scss
  airbyte-webapp/src/components/ui/TextInputContainer/TextInputContainer.tsx
  airbyte-webapp/src/components/ui/TextInputContainer/index.stories.tsx
  airbyte-webapp/src/components/ui/TextInputContainer/index.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/views/Connector/ServiceForm/components/Property/Control.tsx
Labels: area/platform, team/frontend

#17565 :window: :tada: Add integration for Osano/GDPR
  airbyte-webapp/public/index.html
  airbyte-webapp/src/components/ui/SideMenu/SideMenu.tsx
  airbyte-webapp/src/index.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/packages/cloud/views/AcceptEmailInvite.tsx
  airbyte-webapp/src/packages/cloud/views/auth/SignupPage/components/SignupForm.tsx
  airbyte-webapp/src/packages/cloud/views/settings/CloudSettingsPage.tsx
  airbyte-webapp/src/pages/SettingsPage/SettingsPage.tsx
  airbyte-webapp/src/utils/dataPrivacy.test.ts
  airbyte-webapp/src/utils/dataPrivacy.ts
Labels: area/platform, team/frontend

#17582 :window: :art: New design and cleanup for CircleLoader
  airbyte-webapp/src/components/StatusIcon/CircleLoader.module.scss
  airbyte-webapp/src/components/StatusIcon/CircleLoader.tsx
  airbyte-webapp/src/components/StatusIcon/StatusIcon.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/FrequentlyUsedDestinations/__snapshots__/FrequentlyUsedDestinations.test.tsx.snap
  airbyte-webapp/src/views/Connector/ServiceForm/components/StartWithDestination/__snapshots__/StartWithDestination.test.tsx.snap
Labels: area/frontend, area/platform, team/workflow, team/frontend, ui/components

#17610 Bump Airbyte version from 0.40.10 to 0.40.11
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-cron/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte-bootloader/Chart.yaml
  charts/airbyte-server/Chart.yaml
  charts/airbyte-temporal/Chart.yaml
  charts/airbyte-webapp/Chart.yaml
  charts/airbyte-worker/Chart.yaml
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/worker, area/platform, kubernetes, area/server, team/frontend

#17562 Auto fail all workfow if there is a Versioning issue
  airbyte-workers/src/main/java/io/airbyte/workers/ApplicationInitializer.java
Labels: area/worker, area/platform

#17401 Mark/tables should be full width on all pages
  airbyte-webapp/src/components/ConnectorBlocks/TableItemTitle.module.scss
  airbyte-webapp/src/components/EntityTable/ConnectionTable.tsx
  airbyte-webapp/src/components/EntityTable/ImplementationTable.module.scss
  airbyte-webapp/src/components/MainPageWithScroll/MainPageWithScroll.module.scss
  airbyte-webapp/src/components/ui/PageHeader/PageHeader.module.scss
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/CreditsPage.module.scss
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/CreditsPage.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionStatusTab.module.scss
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionStatusTab.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/DestinationItemPage/components/DestinationConnectionTable.module.scss
  airbyte-webapp/src/pages/DestinationPage/pages/DestinationItemPage/components/DestinationConnectionTable.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/DestinationItemPage/components/DestinationSettings.module.scss
  airbyte-webapp/src/pages/SettingsPage/SettingsPage.module.scss
  airbyte-webapp/src/pages/SettingsPage/SettingsPage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SourceConnectionTable.module.scss
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SourceConnectionTable.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SourceSettings.module.scss
Labels: area/platform, team/frontend

#17605 🪟🧪 [Experiment] add hideOnboarding experiment
  airbyte-webapp/src/hooks/services/Experiment/experiments.ts
  airbyte-webapp/src/packages/cloud/cloudRoutes.tsx
  airbyte-webapp/src/packages/cloud/views/layout/SideBar/SideBar.tsx
Labels: area/platform, team/frontend, ui/onboarding

#17620 :window: :bug: Fixes connector checks not properly ending their loading state
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SourceSettings.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/ServiceForm.test.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/ServiceForm.tsx
Labels: area/platform, team/frontend, ui/connectors

#17544 Remove redundant title labels from connector specs
  airbyte-config/config-models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-bigquery/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-databricks/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-gcs/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-google-sheets/destination_google_sheets/spec.json
  airbyte-integrations/connectors/destination-postgres/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-r2/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-redshift/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-s3/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-snowflake/src/main/resources/spec.json
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/spec.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/spec.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.py
  airbyte-integrations/connectors/source-github/source_github/spec.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/spec.json
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/spec.json
  airbyte-integrations/connectors/source-google-analytics-v4/source_google_analytics_v4/spec.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/spec.json
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/spec.json
  airbyte-integrations/connectors/source-linkedin-pages/source_linkedin_pages/spec.json
  airbyte-integrations/connectors/source-looker/source_looker/spec.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/spec.json
  airbyte-integrations/connectors/source-monday/source_monday/spec.json
  airbyte-integrations/connectors/source-mysql/src/main/resources/spec.json
  airbyte-integrations/connectors/source-netsuite/source_netsuite/spec.yaml
  airbyte-integrations/connectors/source-okta/source_okta/spec.json
  airbyte-integrations/connectors/source-paypal-transaction/source_paypal_transaction/spec.json
  airbyte-integrations/connectors/source-postgres/src/main/resources/spec.json
  airbyte-integrations/connectors/source-s3/integration_tests/spec.json
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/spec.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/spec.yaml
  airbyte-integrations/connectors/source-sftp/src/main/resources/spec.json
  airbyte-integrations/connectors/source-smartsheets/source_smartsheets/spec.json
  airbyte-integrations/connectors/source-snapchat-marketing/source_snapchat_marketing/spec.json
  airbyte-integrations/connectors/source-stripe/source_stripe/spec.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/spec.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/spec.py
  airbyte-integrations/connectors/source-woocommerce/source_woocommerce/spec.json
  airbyte-integrations/connectors/source-zendesk-chat/source_zendesk_chat/spec.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/spec.json
  airbyte-server/src/main/java/io/airbyte/server/services/AirbyteGithubStore.java
  docker-compose.yaml
Labels: area/connectors, area/platform, area/server, connectors/source/snapchat-marketing, connectors/source/monday, connectors/source/looker, connectors/source/stripe, connectors/source/amazon-seller-partner, connectors/destination/bigquery, connectors/destination/bigquery-denormalized, connectors/source/amazon-ads, connectors/source/github, connectors/destination/snowflake, connectors/source/google-ads, connectors/source/google-analytics-v4, connectors/source/google-search-console, connectors/destination/redshift, connectors/source/linkedin-ads, connectors/destination/s3, connectors/source/mailchimp, connectors/source/mysql, connectors/source/okta, connectors/source/paypal-transaction, connectors/source/postgres, connectors/source/s3, connectors/source/salesforce, connectors/destination/databricks, connectors/destination/gcs, connectors/source/smartsheets, connectors/source/tiktok-marketing, connectors/source/zendesk-chat, connectors/source/zendesk-support, connectors/destination/postgres, connectors/source/woocommerce, connectors/destination/google-sheets, connectors/source/google-analytics-data-api, connectors/source/netsuite, connectors/source/linkedin-pages, connectors/source/sftp, connectors/destination/r2

#17591 Do not wait the end of a reset to return an update
  airbyte-commons-temporal/src/main/java/io/airbyte/commons/temporal/scheduling/ConnectionManagerWorkflow.java
  airbyte-commons-temporal/src/main/java/io/airbyte/commons/temporal/scheduling/state/WorkflowState.java
  airbyte-commons-temporal/src/main/java/io/airbyte/commons/temporal/scheduling/state/listener/WorkflowStateChangedListener.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SchedulerHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/scheduler/EventRunner.java
  airbyte-server/src/main/java/io/airbyte/server/scheduler/TemporalEventRunner.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/SchedulerHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WebBackendConnectionsHandlerTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalClient.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/TemporalClientTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowTest.java
Labels: area/worker, area/platform, area/server

#16438 airbyte-cron: update connector definitions from remote
  airbyte-bootloader/src/main/java/io/airbyte/bootloader/BootloaderApp.java
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/DatabaseConfigPersistence.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/DatabaseConfigPersistenceTest.java
  airbyte-config/init/src/main/java/io/airbyte/config/init/ApplyDefinitionsHelper.java
  airbyte-config/init/src/test/java/io/airbyte/config/init/ApplyDefinitionsHelperTest.java
  airbyte-cron/build.gradle
  airbyte-cron/src/main/java/io/airbyte/cron/DefinitionsUpdater.java
  airbyte-cron/src/main/java/io/airbyte/cron/config/ApplicationBeanFactory.java
  airbyte-cron/src/main/java/io/airbyte/cron/config/DatabaseBeanFactory.java
  airbyte-cron/src/main/resources/application.yml
  docker-compose.yaml
  kube/resources/cron.yaml
Labels: area/platform, kubernetes

#17524 Standardize HttpRequester's url_base and path format
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/http_requester.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/test_http_requester.py
Labels: CDK

#17640 Revert "Do not wait the end of a reset to return an update"
  airbyte-commons-temporal/src/main/java/io/airbyte/commons/temporal/scheduling/ConnectionManagerWorkflow.java
  airbyte-commons-temporal/src/main/java/io/airbyte/commons/temporal/scheduling/state/WorkflowState.java
  airbyte-commons-temporal/src/main/java/io/airbyte/commons/temporal/scheduling/state/listener/WorkflowStateChangedListener.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SchedulerHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/scheduler/EventRunner.java
  airbyte-server/src/main/java/io/airbyte/server/scheduler/TemporalEventRunner.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/SchedulerHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WebBackendConnectionsHandlerTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalClient.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/TemporalClientTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowTest.java
Labels: area/worker, area/platform, area/server

#17653 Bump Airbyte version from 0.40.11 to 0.40.12
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-cron/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte-bootloader/Chart.yaml
  charts/airbyte-server/Chart.yaml
  charts/airbyte-temporal/Chart.yaml
  charts/airbyte-webapp/Chart.yaml
  charts/airbyte-worker/Chart.yaml
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/worker, area/platform, kubernetes, area/server, team/frontend

#17641 Handle null workspace IDs in tracking/reporting methods gracefully
  airbyte-analytics/src/main/java/io/airbyte/analytics/LoggingTrackingClient.java
  airbyte-analytics/src/main/java/io/airbyte/analytics/SegmentTrackingClient.java
  airbyte-analytics/src/main/java/io/airbyte/analytics/TrackingClient.java
  airbyte-analytics/src/test/java/io/airbyte/analytics/SegmentTrackingClientTest.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/errorreporter/JobErrorReporter.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/errorreporter/JobErrorReporterTest.java
Labels: area/platform

#17631 Moving TrackingClientSingleton.initialize into the bean itself
  airbyte-workers/src/main/java/io/airbyte/workers/ApplicationInitializer.java
  airbyte-workers/src/main/java/io/airbyte/workers/config/TemporalBeanFactory.java
Labels: area/worker, area/platform

#17602 Source Iterable: Add permission check for stream
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-iterable/Dockerfile
  airbyte-integrations/connectors/source-iterable/README.md
  airbyte-integrations/connectors/source-iterable/setup.py
  airbyte-integrations/connectors/source-iterable/source_iterable/streams.py
  docs/integrations/sources/iterable.md
Labels: area/documentation, area/connectors, connectors/source/iterable

#17662 supply a source id for schema discovery in connector integration tests
  airbyte-integrations/bases/standard-source-test/src/main/java/io/airbyte/integrations/standardtest/source/AbstractSourceConnectorTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/general/DefaultDiscoverCatalogWorker.java
Labels: area/worker, area/platform

#17670 Fix link in docs
  docs/connector-development/config-based/tutorial/5-incremental-reads.md
Labels: area/documentation

#17668 🎉 Source Iterable: update releaseStage to GA
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
Labels: connectors/source/iterable

#17514 Mask connector configuration secrets when logged
  .gitignore
  airbyte-commons/src/main/java/io/airbyte/commons/constants/AirbyteSecretConstants.java
  airbyte-commons/src/main/java/io/airbyte/commons/logging/MaskedDataInterceptor.java
  airbyte-commons/src/main/java/io/airbyte/commons/yaml/Yamls.java
  airbyte-commons/src/main/resources/log4j2.xml
  airbyte-commons/src/test/java/io/airbyte/commons/logging/MaskedDataInterceptorTest.java
  airbyte-commons/src/test/resources/test_spec_secret_mask.yaml
  airbyte-config/config-persistence/build.gradle
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/split_secrets/JsonSecretsProcessor.java
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/split_secrets/SecretsHelpers.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/split_secrets/JsonSecretsProcessorTest.java
  airbyte-config/specs/build.gradle
  airbyte-config/specs/src/main/java/io/airbyte/config/specs/ConnectorSpecMaskGenerator.java
  airbyte-config/specs/src/main/java/io/airbyte/config/specs/SpecMaskPropertyGenerator.java
  airbyte-config/specs/src/test/java/io/airbyte/config/specs/ConnectorSpecMaskGeneratorTest.java
  airbyte-config/specs/src/test/java/io/airbyte/config/specs/SpecMaskPropertyGeneratorTest.java
  airbyte-config/specs/src/test/resources/valid_specs/test_specs.yaml
  airbyte-workers/build.gradle
Labels: area/worker, area/platform

#17672 🪟 🧹 Add cron string to segment calls, remove outdated `schedule` property use
  airbyte-webapp/src/config/utils.ts
  airbyte-webapp/src/core/analytics/utils.ts
  airbyte-webapp/src/hooks/services/useConnectionHook.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionItemPage.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionStatusTab.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/EnabledControl.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/StatusMainInfo.tsx
Labels: area/platform, team/frontend

#17590 🚨 Add ability to enforce SSL in MongoDB source connector
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mongodb-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mongodb-strict-encrypt/src/main/java/io.airbyte.integrations.source.mongodb/MongodbSourceStrictEncrypt.java
  airbyte-integrations/connectors/source-mongodb-strict-encrypt/src/test-integration/java/io/airbyte/integrations/source/mongodb/MongodbSourceStrictEncryptAcceptanceTest.java
  airbyte-integrations/connectors/source-mongodb-v2/Dockerfile
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io.airbyte.integrations.source.mongodb/MongoDbSource.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io.airbyte.integrations.source.mongodb/MongoDbSourceUtils.java
  docs/integrations/sources/mongodb-v2.md
Labels: area/documentation, area/connectors, connectors/source/mongodb-v2, connectors/source/mongodb-strict-encrypt

#17700 🐛 : Add missing component types to the types registry
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/class_types_registry.py
  airbyte-cdk/python/setup.py
Labels: CDK

#17682 Bump Airbyte version from 0.40.12 to 0.40.13
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-cron/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte-bootloader/Chart.yaml
  charts/airbyte-server/Chart.yaml
  charts/airbyte-temporal/Chart.yaml
  charts/airbyte-webapp/Chart.yaml
  charts/airbyte-worker/Chart.yaml
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/worker, area/platform, kubernetes, area/server, team/frontend

#17705 📝 Postgres source: document occasional full refresh under cdc mode
  docs/integrations/sources/postgres.md
Labels: area/documentation

#17626 #17047 Airbyte CDK: Improve error for returning non-iterable from connectors parse_response
  airbyte-cdk/python/airbyte_cdk/models/airbyte_protocol.py
  airbyte-cdk/python/unit_tests/sources/test_abstract_source.py
Labels: CDK, community

#17707 Revert: #17047 Airbyte CDK: Improve error for returning non-iterable from connectors parse_response
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/models/airbyte_protocol.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/test_abstract_source.py
Labels: CDK

#17696 :window: :wrench: Fix console errors
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/App.tsx
  airbyte-webapp/src/components/HeadTitle/HeadTitle.tsx
  airbyte-webapp/src/components/icons/CreditsIcon.tsx
  airbyte-webapp/src/components/ui/PageHeader/PageHeader.tsx
  airbyte-webapp/src/packages/cloud/App.tsx
Labels: area/platform, technical-debt, team/frontend

#17713 Missing NORMALIZATION_JOB_* environment variables in stable-with-resource-limits overlays
  kube/overlays/stable-with-resource-limits/.env
Labels: community

#17614 MongoDb Source: Increase performance of discover
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mongodb-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mongodb-strict-encrypt/src/test-integration/java/io/airbyte/integrations/source/mongodb/MongodbSourceStrictEncryptAcceptanceTest.java
  airbyte-integrations/connectors/source-mongodb-v2/Dockerfile
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io.airbyte.integrations.source.mongodb/MongoDbSource.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/MongoDbSourceAbstractAcceptanceTest.java
  docs/integrations/sources/mongodb-v2.md
Labels: area/documentation, area/connectors, connectors/source/mongodb-v2, connectors/source/mongodb-strict-encrypt

#17596 #17506 source snapchat marketing: retry failed request for refreshing access token
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-snapchat-marketing/Dockerfile
  airbyte-integrations/connectors/source-snapchat-marketing/acceptance-test-config.yml
  airbyte-integrations/connectors/source-snapchat-marketing/source_snapchat_marketing/source.py
  airbyte-integrations/connectors/source-snapchat-marketing/unit_tests/unit_test.py
  docs/integrations/sources/snapchat-marketing.md
Labels: area/documentation, area/connectors, connectors/source/snapchat-marketing

#17715 Source Github: improve 502 handling for `comments` stream
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors, connectors/source/github

#17723 Adds missing " in transformations-with-airbyte.md
  docs/operator-guides/transformation-and-normalization/transformations-with-airbyte.md
Labels: area/documentation, community

#17706 🪟 🔧 Fixed escape character i18n error
  airbyte-webapp/src/locales/en.json
Labels: area/platform, team/workflow, team/frontend

#17236 🎉 8890 Source MySql: Fix large table issue by fetch size
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSourceOperations.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlStreamingQueryConfig.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractMySqlSourceDatatypeTest.java
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, connectors/source/mysql

#17699 :bug: Source Mixpanel: solve cursor field none expected array
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mixpanel/Dockerfile
  airbyte-integrations/connectors/source-mixpanel/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams/engage.py
  docs/integrations/sources/mixpanel.md
Labels: area/documentation, area/connectors, connectors/source/mixpanel

#17724 Source linkedin-ads: retry 429/5xx when refreshing access token
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-linkedin-ads/Dockerfile
  airbyte-integrations/connectors/source-linkedin-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/source.py
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/source_tests/test_source.py
  docs/integrations/sources/linkedin-ads.md
Labels: area/documentation, area/connectors, connectors/source/linkedin-ads

#17669 Revert "Revert "Do not wait the end of a reset to return an update""
  airbyte-commons-temporal/src/main/java/io/airbyte/commons/temporal/scheduling/ConnectionManagerWorkflow.java
  airbyte-commons-temporal/src/main/java/io/airbyte/commons/temporal/scheduling/state/WorkflowState.java
  airbyte-commons-temporal/src/main/java/io/airbyte/commons/temporal/scheduling/state/listener/WorkflowStateChangedListener.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SchedulerHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/scheduler/EventRunner.java
  airbyte-server/src/main/java/io/airbyte/server/scheduler/TemporalEventRunner.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/SchedulerHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WebBackendConnectionsHandlerTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalClient.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/TemporalClientTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowTest.java
Labels: area/worker, area/platform, area/server

#17698 Fix ConnectionEditService test
  airbyte-webapp/src/hooks/services/ConnectionEdit/ConnectionEditService.test.tsx
Labels: area/platform, team/frontend

#17693 Edited Instagram Connector doc
  docs/integrations/sources/instagram.md
Labels: area/documentation

#16748 Connection Form Refactor - Part Two
  airbyte-webapp/src/components/ArrayOfObjectsEditor/ArrayOfObjectsEditor.tsx
  airbyte-webapp/src/components/ArrayOfObjectsEditor/components/EditorHeader.tsx
  airbyte-webapp/src/components/CreateConnection/CreateConnection.module.scss
  airbyte-webapp/src/components/CreateConnection/CreateConnection.tsx
  airbyte-webapp/src/components/CreateConnection/CreateConnectionForm.module.scss
  airbyte-webapp/src/components/CreateConnection/CreateConnectionForm.test.tsx
  airbyte-webapp/src/components/CreateConnection/CreateConnectionForm.tsx
  airbyte-webapp/src/components/CreateConnection/CreateConnectionNameField.module.scss
  airbyte-webapp/src/components/CreateConnection/CreateConnectionNameField.tsx
  airbyte-webapp/src/components/CreateConnection/SchemaError.tsx
  airbyte-webapp/src/components/CreateConnection/TryAfterErrorBlock.tsx
  airbyte-webapp/src/components/CreateConnection/__snapshots__/CreateConnectionForm.test.tsx.snap
  airbyte-webapp/src/components/CreateConnection/index.tsx
  airbyte-webapp/src/hooks/services/ConnectionEdit/ConnectionEditService.test.tsx
  airbyte-webapp/src/hooks/services/ConnectionEdit/ConnectionEditService.tsx
  airbyte-webapp/src/hooks/services/ConnectionForm/ConnectionFormService.test.tsx
  airbyte-webapp/src/hooks/services/ConnectionForm/ConnectionFormService.tsx
  airbyte-webapp/src/hooks/services/useConnectionHook.tsx
  airbyte-webapp/src/hooks/services/useSourceHook.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionItemPage.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionName.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionPageTitle.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionReplicationTab.module.scss
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionReplicationTab.test.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionReplicationTab.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionStatusTab.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionTransformationTab.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/EnabledControl.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ResetWarningModal.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/StatusMainInfo.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/__snapshots__/ConnectionReplicationTab.test.tsx.snap
  airbyte-webapp/src/pages/ConnectionPage/pages/CreationFormPage/CreationFormPage.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/ConnectionStep.tsx
  airbyte-webapp/src/test-utils/testutils.tsx
  airbyte-webapp/src/views/Connection/CatalogDiffModal/CatalogDiffModal.test.tsx
  airbyte-webapp/src/views/Connection/CatalogDiffModal/CatalogDiffModal.tsx
  airbyte-webapp/src/views/Connection/CatalogDiffModal/useConfirmCatalogDiff.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/ConnectionForm.test.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/ConnectionForm.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/ConnectionFormFields.module.scss
  airbyte-webapp/src/views/Connection/ConnectionForm/ConnectionFormFields.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/__snapshots__/formConfig.test.ts.snap
  airbyte-webapp/src/views/Connection/ConnectionForm/calculateInitialCatalog.ts
  airbyte-webapp/src/views/Connection/ConnectionForm/components/NamespaceDefinitionField.module.scss
  airbyte-webapp/src/views/Connection/ConnectionForm/components/NamespaceDefinitionField.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/components/NormalizationField.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/components/SyncCatalogField.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/components/TransformationField.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/components/refreshSourceSchemaWithConfirmationOnDirty.ts
  airbyte-webapp/src/views/Connection/ConnectionForm/formConfig.test.ts
  airbyte-webapp/src/views/Connection/ConnectionForm/formConfig.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/index.tsx
  airbyte-webapp/src/views/Connection/FormCard.tsx
Labels: area/platform, team/workflow, team/frontend

#17759 Revert "Use java-datadog-tracer-base image"
  airbyte-container-orchestrator/Dockerfile
  airbyte-cron/Dockerfile
  airbyte-workers/Dockerfile
Labels: area/worker, area/platform

#17754 September Release Notes
  docs/release_notes/august_2022.md
  docs/release_notes/september_2022.md
  docusaurus/sidebars.js
Labels: area/documentation

#17762 Bump Airbyte version from 0.40.13 to 0.40.14
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-cron/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte-bootloader/Chart.yaml
  charts/airbyte-server/Chart.yaml
  charts/airbyte-temporal/Chart.yaml
  charts/airbyte-webapp/Chart.yaml
  charts/airbyte-worker/Chart.yaml
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/worker, area/platform, kubernetes, area/server, team/frontend

#17752 Update lowcode docs
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/error_handlers/default_error_handler.py
  docs/connector-development/config-based/advanced-topics.md
  docs/connector-development/config-based/assets/connector-flow.png
  docs/connector-development/config-based/low-code-cdk-overview.md
  docs/connector-development/config-based/source_schema.yaml
  docs/connector-development/config-based/understanding-the-yaml-file/authentication.md
  docs/connector-development/config-based/understanding-the-yaml-file/error-handling.md
  docs/connector-development/config-based/understanding-the-yaml-file/pagination.md
  docs/connector-development/config-based/understanding-the-yaml-file/record-selector.md
  docs/connector-development/config-based/understanding-the-yaml-file/request-options.md
  docs/connector-development/config-based/understanding-the-yaml-file/requester.md
  docs/connector-development/config-based/understanding-the-yaml-file/stream-slicers.md
  docs/connector-development/config-based/understanding-the-yaml-file/yaml-overview.md
Labels: area/documentation, CDK

#16427 config db data catalog
  docs/understanding-airbyte/database-data-catalog.md
  docusaurus/sidebars.js
Labels: area/documentation

#16543 db data catalog jobs
  docs/understanding-airbyte/database-data-catalog.md
Labels: area/documentation

#17763 Add missing types to the registry
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/class_types_registry.py
  airbyte-cdk/python/setup.py
Labels: CDK

#17511 feat: replace openjdk with amazoncorretto:17.0.4 on connectors for seсurity compliance
  airbyte-integrations/bases/base-java/Dockerfile
  airbyte-integrations/bases/base-standard-source-test-file/Dockerfile
  airbyte-integrations/bases/base/Dockerfile
  airbyte-integrations/bases/standard-source-test/Dockerfile
  airbyte-integrations/connectors/destination-s3/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  tools/bin/build_image.sh
Labels: area/connectors, connectors/source/clickhouse, connectors/destination/bigquery, connectors/destination/bigquery-denormalized, connectors/destination/snowflake, connectors/destination/s3, connectors/source/mysql, connectors/source/postgres, connectors/source/snowflake, connectors/destination/clickhouse, connectors/destination/postgres, connectors/source/mongodb-v2, connectors/destination/postgres-strict-encrypt, connectors/destination/clickhouse-strict-encrypt, connectors/source/clickhouse-strict-encrypt, connectors/source/e2e-test-cloud, connectors/source/mongodb-strict-encrypt, connectors/source/mysql-strict-encrypt, connectors/source/postgres-strict-encrypt

#17773 :window: :wrench: Ignore classnames during jest snapshot comparison
  airbyte-webapp/package.json
  airbyte-webapp/scripts/classname-serializer.js
  airbyte-webapp/src/components/ui/Spinner/Spinner.test.tsx
  airbyte-webapp/src/components/ui/Spinner/__snapshots__/Spinner.test.tsx.snap
  airbyte-webapp/src/packages/cloud/views/auth/components/GitBlock/GitBlock.test.tsx
  airbyte-webapp/src/packages/cloud/views/auth/components/GitBlock/__snapshots__/GitBlock.test.tsx.snap
  airbyte-webapp/src/views/Connector/ServiceForm/components/FrequentlyUsedDestinations/FrequentlyUsedDestinations.test.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/FrequentlyUsedDestinations/__snapshots__/FrequentlyUsedDestinations.test.tsx.snap
  airbyte-webapp/src/views/Connector/ServiceForm/components/StartWithDestination/StartWithDestination.test.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/StartWithDestination/__snapshots__/StartWithDestination.test.tsx.snap
Labels: area/platform, team/frontend, ui/tests

#17787 Update cdc.md
  docs/understanding-airbyte/cdc.md
Labels: area/documentation

#17786 Update incremental-deduped-history.md
  docs/understanding-airbyte/connections/incremental-deduped-history.md
Labels: area/documentation

#17785 Update incremental-append.md
  docs/understanding-airbyte/connections/incremental-append.md
Labels: area/documentation

#17783 Update full-refresh-overwrite.md
  docs/understanding-airbyte/connections/full-refresh-overwrite.md
Labels: area/documentation

#17784 Update full-refresh-append.md
  docs/understanding-airbyte/connections/full-refresh-append.md
Labels: area/documentation

#17765 :window: :art: Fix design of log view
  airbyte-webapp/src/components/JobItem/components/AttemptDetails.module.scss
  airbyte-webapp/src/components/JobItem/components/AttemptDetails.tsx
  airbyte-webapp/src/components/JobItem/components/MainInfo.module.scss
  airbyte-webapp/src/components/JobItem/components/MainInfo.tsx
Labels: area/platform, team/frontend

#17360 Efficient queries for connection list
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/DatabaseConfigPersistence.java
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/DbConverter.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/ConfigRepositoryE2EReadWriteTest.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/MockData.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/DefaultJobPersistence.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/JobPersistence.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/DefaultJobPersistenceTest.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/JobHistoryHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WebBackendConnectionsHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/helpers/ConnectionHelpers.java
Labels: area/platform, area/server

#17586 :window: :wrench: Cleanup StepMenu properties
  airbyte-webapp/src/components/JobItem/components/JobLogs.tsx
  airbyte-webapp/src/components/JobItem/components/Tabs.tsx
  airbyte-webapp/src/components/ui/StepsMenu/Step.tsx
  airbyte-webapp/src/components/ui/StepsMenu/StepsMenu.tsx
Labels: area/platform, team/workflow, team/frontend, ui/components

#17650 Add Workspace and Connection Geography Support to API
  airbyte-analytics/src/test/java/io/airbyte/analytics/TrackingClientSingletonTest.java
  airbyte-api/src/main/openapi/config.yaml
  airbyte-bootloader/src/main/java/io/airbyte/bootloader/BootloaderApp.java
  airbyte-bootloader/src/test/java/io/airbyte/bootloader/BootloaderAppTest.java
  airbyte-config/config-models/src/main/resources/types/Geography.yaml
  airbyte-config/config-models/src/main/resources/types/StandardSync.yaml
  airbyte-config/config-models/src/main/resources/types/StandardWorkspace.yaml
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/DatabaseConfigPersistence.java
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/DbConverter.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/BaseDatabaseConfigPersistenceTest.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/DatabaseConfigPersistenceLoadDataTest.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/MockData.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/converters/ApiPojoConverters.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/ConnectionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendGeographiesHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WorkspacesHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/helpers/ConnectionMatcher.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/ConnectionsHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WebBackendConnectionsHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WebBackendGeographiesHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WorkspacesHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/helpers/ConnectionHelpers.java
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api, area/platform, area/server

#17779 get module name from sys.modules
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/declarative/schema/json_schema.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/declarative/schema/__init__.py
  airbyte-cdk/python/unit_tests/sources/declarative/schema/source_test/SourceTest.py
  airbyte-cdk/python/unit_tests/sources/declarative/schema/source_test/__init__.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_declarative_stream.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_yaml_declarative_source.py
Labels: CDK

#17817 Postgres source: fix expected spec file
  airbyte-integrations/connectors/source-postgres/src/test/resources/expected_spec.json
Labels: area/connectors, connectors/source/postgres

#17810 Source Iterable to GA (docs update)
  docs/integrations/sources/iterable.md
Labels: area/documentation, connectors/source/iterable

#17820 Revert "feat: replace openjdk with amazoncorretto:17.0.4 on connectors for seсurity compliance"
  airbyte-integrations/bases/base-java/Dockerfile
  airbyte-integrations/bases/base-standard-source-test-file/Dockerfile
  airbyte-integrations/bases/base/Dockerfile
  airbyte-integrations/bases/standard-source-test/Dockerfile
  airbyte-integrations/connectors/destination-s3/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  tools/bin/build_image.sh
Labels: area/connectors, connectors/destination/snowflake, connectors/destination/s3

#17727 Fixed gramatical errors and Spelling mistakes in README.md
  README.md
Labels: community

#17751 Source Google Search Console: improve config validation - site_urls
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-search-console/Dockerfile
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/source.py
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/spec.json
  airbyte-integrations/connectors/source-google-search-console/unit_tests/conftest.py
  airbyte-integrations/connectors/source-google-search-console/unit_tests/unit_test.py
  airbyte-integrations/connectors/source-google-search-console/unit_tests/utils.py
  docs/integrations/sources/google-search-console.md
Labels: area/documentation, area/connectors, connectors/source/google-search-console

#17833 Revert "Revert "feat: replace openjdk with amazoncorretto:17.0.4 on connectors for seсurity compliance""
  airbyte-integrations/bases/base-java/Dockerfile
  airbyte-integrations/bases/base-standard-source-test-file/Dockerfile
  airbyte-integrations/bases/base/Dockerfile
  airbyte-integrations/bases/standard-source-test/Dockerfile
  airbyte-integrations/connectors/destination-s3/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  tools/bin/build_image.sh
Labels: area/connectors, connectors/destination/snowflake, connectors/destination/s3

#17761 🐛 Source Orb: Fix bug to enrich multiple events with the same `event_id`
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-orb/Dockerfile
  airbyte-integrations/connectors/source-orb/source_orb/source.py
  airbyte-integrations/connectors/source-orb/unit_tests/test_incremental_streams.py
  docs/integrations/sources/orb.md
Labels: area/documentation, area/connectors, community, bounty, connectors/source/orb

#17755 Documentation Update for Timely
  airbyte-integrations/connectors/source-timely/README.md
  docs/integrations/sources/timely.md
Labels: area/documentation, area/connectors, community, bounty, connectors/source/timely

#17816 Add workspace ID to connector check calls to fix segment tracking
  airbyte-api/src/main/openapi/config.yaml
  airbyte-server/src/main/java/io/airbyte/server/handlers/SchedulerHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/SchedulerHandlerTest.java
  airbyte-webapp/src/core/domain/connector/SourceService.ts
  airbyte-webapp/src/hooks/services/useConnector.tsx
  airbyte-webapp/src/views/Connector/ConnectorCard/useTestConnector.tsx
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api, area/platform, area/server, team/frontend

#17848 Use locally-installed qemu rather than docker-installed version
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-faker/Dockerfile
  docs/integrations/sources/faker.md
  tools/integrations/manage.sh
Labels: area/documentation, area/connectors, connectors/source/faker, team/connector-ops

#16213 fix condition for KubePortManagerSingleton init twice
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePortManagerSingleton.java
  airbyte-workers/src/test-integration/java/io/airbyte/workers/process/KubePodProcessIntegrationTest.java
Labels: area/worker, area/platform, community

#17838 Update and publish source-orb
  airbyte-integrations/connectors/source-orb/unit_tests/test_incremental_streams.py
  docs/integrations/sources/orb.md
Labels: area/documentation, area/connectors, connectors/source/orb

#17778 source-salesforce: add EventWhoRelation to UNSUPPORTED_BULK_API_SALESFORCE_OBJECTS
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-salesforce/Dockerfile
  airbyte-integrations/connectors/source-salesforce/source_salesforce/api.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors, connectors/source/salesforce

#17822 source-recharge: do not parse json in `should_retry`
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-recharge/Dockerfile
  airbyte-integrations/connectors/source-recharge/source_recharge/api.py
  docs/integrations/sources/recharge.md
Labels: area/documentation, area/connectors, connectors/source/recharge

#17766 🐞 Source google sheets: fix nonetype exception when no spreadsheet id is found
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-sheets/Dockerfile
  airbyte-integrations/connectors/source-google-sheets/google_sheets_source/helpers.py
  docs/integrations/sources/google-sheets.md
Labels: area/documentation, area/connectors, connectors/source/google-sheets

#17834 remove worker tag
  charts/airbyte/values.yaml
Labels: area/platform, kubernetes, community

#17667 fix(charts): fix the service name used by the helm test
  charts/airbyte/templates/tests/test-webapp.yaml
Labels: area/platform, kubernetes, community

#17856 reuse existing ports for test; fix flaky test
  airbyte-workers/src/test-integration/java/io/airbyte/workers/process/KubePodProcessIntegrationTest.java
Labels: area/worker, area/platform

#17857 Add debug output for Osano
  airbyte-webapp/src/utils/dataPrivacy.ts
Labels: area/platform, team/frontend

#17782 postgres-source: handle 24:00:00 value for time column
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-db/db-lib/src/main/java/io/airbyte/db/jdbc/DateTimeConverter.java
  airbyte-integrations/connectors/source-alloydb-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-alloydb/Dockerfile
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractPostgresSourceDatatypeTest.java
  docs/integrations/sources/alloydb.md
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres, connectors/source/postgres-strict-encrypt, connectors/source/alloydb, connectors/source/alloydb-strict-encrypt

#17869 Source Facebook Marketing: remove "format" from optional datetime "end_date" field
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/acceptance-test-config.yml
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/spec.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing

#17840 Source Recharge: do not call response.json() when handling http errors
  airbyte-integrations/connectors/source-recharge/unit_tests/test_api.py
Labels: area/connectors, connectors/source/recharge

#17852 Source Github: Use default behaviour, retry on 429 and all 5XX errors
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors, connectors/source/github

#17872 :window: :art: Fix styling of dropdown
  airbyte-webapp/src/components/CreateConnection/CreateConnectionForm.test.tsx
  airbyte-webapp/src/components/CreateConnection/__snapshots__/CreateConnectionForm.test.tsx.snap
  airbyte-webapp/src/components/ui/DropDown/CustomSelect.tsx
  airbyte-webapp/src/components/ui/DropDown/components/Option.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionReplicationTab.test.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/__snapshots__/ConnectionReplicationTab.test.tsx.snap
  airbyte-webapp/src/views/Connector/ServiceForm/components/Controls/ConnectorServiceTypeControl.tsx
Labels: area/frontend, area/platform, team/workflow, team/frontend, ui/components

#17769 [17495] Source-oracle: fixed build and integration test
  airbyte-integrations/connectors/source-oracle-strict-encrypt/build.gradle
  airbyte-integrations/connectors/source-oracle-strict-encrypt/src/test-integration/java/io/airbyte/integrations/source/oracle_strict_encrypt/AirbyteOracleTestContainer.java
  airbyte-integrations/connectors/source-oracle-strict-encrypt/src/test-integration/java/io/airbyte/integrations/source/oracle_strict_encrypt/OracleStrictEncryptJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-oracle-strict-encrypt/src/test-integration/java/io/airbyte/integrations/source/oracle_strict_encrypt/OracleStrictEncryptSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-oracle/build.gradle
  airbyte-integrations/connectors/source-oracle/src/test-integration/java/io/airbyte/integrations/source/oracle/AbstractSshOracleSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-oracle/src/test-integration/java/io/airbyte/integrations/source/oracle/AirbyteOracleTestContainer.java
  airbyte-integrations/connectors/source-oracle/src/test-integration/java/io/airbyte/integrations/source/oracle/OracleJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-oracle/src/test-integration/java/io/airbyte/integrations/source/oracle/OracleSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-oracle/src/test-integration/java/io/airbyte/integrations/source/oracle/OracleSourceDatatypeTest.java
  airbyte-integrations/connectors/source-oracle/src/test-integration/java/io/airbyte/integrations/source/oracle/OracleSourceTest.java
Labels: area/connectors, connectors/source/oracle, connectors/source/oracle-strict-encrypt

#17777 🐛 Source Shopify: fix `404` for configured streams, fix missing cursor error for old records
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-shopify/Dockerfile
  airbyte-integrations/connectors/source-shopify/integration_tests/state.json
  airbyte-integrations/connectors/source-shopify/source_shopify/source.py
  airbyte-integrations/connectors/source-shopify/source_shopify/spec.json
  airbyte-integrations/connectors/source-shopify/unit_tests/unit_test.py
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors, connectors/source/shopify

#17843 Use the Airbyte Base Java Image for all services
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-cron/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-server/Dockerfile
  airbyte-workers/Dockerfile
  build.gradle
Labels: area/worker, area/platform, area/server

#17800 Source S3: Connector does not enforce SSL/TLS for non-S3 endpoints
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/integration_tests/config_minio.json
  airbyte-integrations/connectors/source-s3/integration_tests/spec.json
  airbyte-integrations/connectors/source-s3/source_s3/s3_utils.py
  airbyte-integrations/connectors/source-s3/source_s3/source.py
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3

#17854 Source Amplitude: Add empty series validation
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amplitude/Dockerfile
  airbyte-integrations/connectors/source-amplitude/source_amplitude/api.py
  airbyte-integrations/connectors/source-amplitude/unit_tests/test_api.py
  docs/integrations/sources/amplitude.md
Labels: area/documentation, area/connectors, connectors/source/amplitude

#17851 Introduce secrets management into workspace persistence
  airbyte-analytics/src/main/java/io/airbyte/analytics/TrackingClientSingleton.java
  airbyte-analytics/src/test/java/io/airbyte/analytics/TrackingClientSingletonTest.java
  airbyte-bootloader/src/main/java/io/airbyte/bootloader/BootloaderApp.java
  airbyte-bootloader/src/test/java/io/airbyte/bootloader/BootloaderAppTest.java
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/SecretsRepositoryReader.java
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/SecretsRepositoryWriter.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/ConfigRepositoryE2EReadWriteTest.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/ConfigRepositoryTest.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/StatePersistenceTest.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/JobNotifier.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/errorreporter/JobErrorReporter.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/tracker/JobTracker.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/JobNotifierTest.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/errorreporter/JobErrorReporterTest.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/tracker/JobTrackerTest.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/ConnectionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WorkspacesHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/ConnectionsHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WorkspacesHandlerTest.java
Labels: area/platform, area/server

#17889 Use locally-installed qemu rather than docker-installed version (2)
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-faker/Dockerfile
  docs/integrations/sources/faker.md
  tools/integrations/manage.sh
Labels: area/documentation, area/connectors, connectors/source/faker

#15799 🪟 🎉 Add optional invite user hint to connector create pages
  airbyte-webapp/src/components/CloudInviteUsersHint/CloudInviteUsersHint.tsx
  airbyte-webapp/src/components/CloudInviteUsersHint/index.ts
  airbyte-webapp/src/hooks/services/Experiment/experiments.ts
  airbyte-webapp/src/hooks/services/Notification/index.tsx
  airbyte-webapp/src/hooks/services/Notification/types.ts
  airbyte-webapp/src/packages/cloud/locales/en.json
  airbyte-webapp/src/packages/cloud/services/users/InviteUsersModalService.tsx
  airbyte-webapp/src/packages/cloud/views/settings/CloudSettingsPage.tsx
  airbyte-webapp/src/packages/cloud/views/settings/routePaths.ts
  airbyte-webapp/src/packages/cloud/views/users/InviteUsersHint/InviteUsersHint.module.scss
  airbyte-webapp/src/packages/cloud/views/users/InviteUsersHint/InviteUsersHint.test.tsx
  airbyte-webapp/src/packages/cloud/views/users/InviteUsersHint/InviteUsersHint.tsx
  airbyte-webapp/src/packages/cloud/views/users/InviteUsersHint/index.ts
  airbyte-webapp/src/packages/cloud/views/users/InviteUsersHint/types.ts
  airbyte-webapp/src/packages/cloud/views/users/InviteUsersModal/InviteUsersModal.tsx
  airbyte-webapp/src/packages/cloud/views/users/UsersSettingsView/UsersSettingsView.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/CreationFormPage/CreationFormPage.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/CreateDestinationPage/CreateDestinationPage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/CreateSourcePage/CreateSourcePage.tsx
Labels: area/platform, team/frontend

#17821 🪟 🔧 Add Datadog support to webapp, cleanup sentry init
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/config/types.ts
  airbyte-webapp/src/index.tsx
  airbyte-webapp/src/utils/datadog.ts
  airbyte-webapp/src/utils/sentry.ts
Labels: area/platform, team/frontend

#17796 Docs: Changes Checkout Streams to Checkout Sessions
  docs/integrations/sources/stripe.md
Labels: area/documentation

#17815 🎉 MySQL Source : Expose serverTimezone debezium option via MySQL Source spec for CDC
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql-strict-encrypt/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlCdcProperties.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/helpers/CdcConfigurationHelper.java
  airbyte-integrations/connectors/source-mysql/src/main/resources/spec.json
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/CdcConfigurationHelperTest.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/CdcMysqlSourceTest.java
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, connectors/source/mysql, connectors/source/mysql-strict-encrypt

#17572 Minor nit: Removing extra Note
  docs/integrations/sources/paypal-transaction.md
Labels: area/documentation

#16920 Google Analytics v4: Added support for segments and filters
  airbyte-integrations/connectors/source-google-analytics-v4/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-v4/integration_tests/configured_catalog_segment_filters.json
  airbyte-integrations/connectors/source-google-analytics-v4/source_google_analytics_v4/source.py
  docs/integrations/sources/google-analytics-v4.md
Labels: area/documentation, area/connectors, community, connectors/source/google-analytics-v4, bounty, bounty-M

#17870 🐛 Source: Amazon Ads : update amazon-ads version to 0.1.23
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-ads/Dockerfile
Labels: area/connectors, community, connectors/source/amazon-ads, bounty

#17904 Remove unpulbished version of source-amazon-ads from seed file
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-ads/Dockerfile
Labels: area/connectors, connectors/source/amazon-ads

#17896 Destination Clickhouse: Publish normalization after removing native port
  airbyte-commons-worker/src/main/java/io/airbyte/workers/normalization/NormalizationRunnerFactory.java
  airbyte-integrations/bases/base-normalization/Dockerfile
  docs/understanding-airbyte/basic-normalization.md
Labels: area/documentation, normalization

#17923 Return source catalog id after discovery
  airbyte-server/src/main/java/io/airbyte/server/handlers/SchedulerHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/SchedulerHandlerTest.java
Labels: area/platform, area/server

#17615 🐛 Source Salesforce: make paging work, if `cursor_field` is not changed inside one page
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-salesforce/Dockerfile
  airbyte-integrations/connectors/source-salesforce/source_salesforce/streams.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/api_test.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/conftest.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors, connectors/source/salesforce

#17905 Source google-anlytics-v4: do not retry exceeded daily quota
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-analytics-v4/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-v4/source_google_analytics_v4/source.py
  airbyte-integrations/connectors/source-google-analytics-v4/unit_tests/unit_test.py
  docs/integrations/sources/google-analytics-universal-analytics.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-v4

#17935 :window: :bug: Handle className removal on SVG
  airbyte-webapp/scripts/classname-serializer.js
  airbyte-webapp/src/components/CreateConnection/__snapshots__/CreateConnectionForm.test.tsx.snap
  airbyte-webapp/src/packages/cloud/views/auth/components/GitBlock/__snapshots__/GitBlock.test.tsx.snap
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/__snapshots__/ConnectionReplicationTab.test.tsx.snap
  airbyte-webapp/src/views/Connector/ServiceForm/components/FrequentlyUsedDestinations/__snapshots__/FrequentlyUsedDestinations.test.tsx.snap
Labels: area/platform, team/frontend, ui/tests

#17781 Add missing extraInitContainers
  charts/airbyte-bootloader/templates/pod.yaml
  charts/airbyte-server/templates/deployment.yaml
  charts/airbyte-webapp/templates/deployment.yaml
  charts/airbyte-worker/templates/deployment.yaml
Labels: area/platform, kubernetes, community

#17940 fix db and minio deploy
  charts/airbyte/Chart.yaml.test
  charts/airbyte/templates/airbyte-db.yaml
  charts/airbyte/templates/minio.yaml
  charts/airbyte/values.yaml
  charts/airbyte/values.yaml.test
Labels: area/platform, kubernetes

#17938 🐛 Source: Amazon Ads: recover expected_records.txt
  airbyte-integrations/connectors/source-amazon-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/expected_records.txt
Labels: area/connectors, connectors/source/amazon-ads

#17943 Source google-analytics-v4: fix pagination
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-analytics-v4/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-v4/source_google_analytics_v4/source.py
  airbyte-integrations/connectors/source-google-analytics-v4/unit_tests/response_golden_data.json
  airbyte-integrations/connectors/source-google-analytics-v4/unit_tests/response_non_golden_data.json
  airbyte-integrations/connectors/source-google-analytics-v4/unit_tests/response_with_sampling.json
  airbyte-integrations/connectors/source-google-analytics-v4/unit_tests/unit_test.py
  docs/integrations/sources/google-analytics-universal-analytics.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-v4
