Repository airbytehq/airbyte, pull requests merged in 2022-12, with the labels that each got.

#19910 Fix the underlying component schema to use check instead of checker
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/declarative/config_component_schema.json
  airbyte-cdk/python/airbyte_cdk/sources/declarative/manifest_declarative_source.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_manifest_declarative_source.py
Labels: CDK

#19711 JDBC Sources: Wrap SQLTransientException with ConfigErrorException
  airbyte-db/db-lib/src/main/java/io/airbyte/db/jdbc/DefaultJdbcDatabase.java
Labels: connectors/source/relational-db

#19879 🪟 🎨 Update text describing connection geography
  airbyte-webapp/src/components/CreateConnection/DataResidency.tsx
  airbyte-webapp/src/components/connection/UpdateConnectionDataResidency/UpdateConnectionDataResidency.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/packages/cloud/views/workspaces/DataResidencyView/DataResidencyView.tsx
  airbyte-webapp/src/utils/links.ts
Labels: area/platform, team/frontend

#19943 Add metric and attributes
  airbyte-metrics/metrics-lib/src/main/java/io/airbyte/metrics/lib/ApmTraceUtils.java
  airbyte-metrics/metrics-lib/src/main/java/io/airbyte/metrics/lib/OssMetricsRegistry.java
  airbyte-metrics/metrics-lib/src/test/java/io/airbyte/metrics/lib/ApmTraceUtilsTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/ReplicationActivityImpl.java
Labels: area/worker, area/platform

#19986 Source Gitlab: fix stream schema
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-gitlab/Dockerfile
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/group_milestones.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/spec.json
  docs/integrations/sources/gitlab.md
Labels: area/documentation, area/connectors, connectors/source/gitlab

#19964 Include http method in `SimpleRetriever` log message for requests
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/declarative/retrievers/simple_retriever.py
  airbyte-cdk/python/setup.py
Labels: CDK

#19490 Faker V0.3 - CDK, consistent naming, determinism, display name, and SAT
  airbyte-cdk/python/airbyte_cdk/sources/abstract_source.py
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-faker/Dockerfile
  airbyte-integrations/connectors/source-faker/acceptance-test-config.yml
  airbyte-integrations/connectors/source-faker/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-faker/integration_tests/catalog.json
  airbyte-integrations/connectors/source-faker/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-faker/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-faker/integration_tests/expected_records.txt
  airbyte-integrations/connectors/source-faker/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-faker/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-faker/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-faker/setup.py
  airbyte-integrations/connectors/source-faker/source_faker/record_data/products.json
  airbyte-integrations/connectors/source-faker/source_faker/schemas/products.json
  airbyte-integrations/connectors/source-faker/source_faker/schemas/purchases.json
  airbyte-integrations/connectors/source-faker/source_faker/schemas/users.json
  airbyte-integrations/connectors/source-faker/source_faker/source.py
  airbyte-integrations/connectors/source-faker/source_faker/streams.py
  airbyte-integrations/connectors/source-faker/source_faker/utils.py
  airbyte-integrations/connectors/source-faker/unit_tests/unit_test.py
  docs/integrations/sources/faker.md
Labels: area/documentation, area/connectors, CDK, connectors/source/faker

#19913 Source iterable: fix pendulum.parse memory leak
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-iterable/Dockerfile
  airbyte-integrations/connectors/source-iterable/setup.py
  airbyte-integrations/connectors/source-iterable/source_iterable/streams.py
  airbyte-integrations/connectors/source-iterable/source_iterable/utils.py
  airbyte-integrations/connectors/source-iterable/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-iterable/unit_tests/test_utils.py
  docs/integrations/sources/iterable.md
Labels: area/documentation, area/connectors, connectors/source/iterable

#19970 Source Slack - remove OAuth2.0 refresh_token
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-slack/Dockerfile
  airbyte-integrations/connectors/source-slack/source_slack/source.py
  airbyte-integrations/connectors/source-slack/source_slack/spec.json
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/SlackOAuthFlow.java
  airbyte-oauth/src/test/java/io/airbyte/oauth/flows/SlackOAuthFlowTest.java
  docs/integrations/sources/slack.md
Labels: area/documentation, area/connectors, connectors/source/slack, team/connectors-python

#20026 JDBC Sources: Switch integration tests to use system stubs
  airbyte-integrations/connectors/source-jdbc/build.gradle
  airbyte-integrations/connectors/source-jdbc/src/test/java/io/airbyte/integrations/source/jdbc/DefaultJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-jdbc/src/testFixtures/java/io/airbyte/integrations/source/jdbc/test/JdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql-strict-encrypt/build.gradle
  airbyte-integrations/connectors/source-mysql-strict-encrypt/src/test/java/io/airbyte/integrations/source/mysql_strict_encrypt/MySqlStrictEncryptJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcMySqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/MySqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/CdcMysqlSourceTest.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/MySqlJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresJdbcSourceAcceptanceTest.java
Labels: area/connectors, connectors/source/mysql, connectors/source/postgres, connectors/source/jdbc, connectors/source/mysql-strict-encrypt

#19226 🪟 🎉 Auto-detect schema changes UX flow
  airbyte-webapp/src/components/EntityTable/ConnectionTable.tsx
  airbyte-webapp/src/components/EntityTable/components/StatusCell.test.tsx
  airbyte-webapp/src/components/EntityTable/components/StatusCell.tsx
  airbyte-webapp/src/components/EntityTable/types.ts
  airbyte-webapp/src/components/EntityTable/utils.tsx
  airbyte-webapp/src/components/destination/DestinationConnectionTable/DestinationConnectionTable.tsx
  airbyte-webapp/src/hooks/connection/useSchemaChanges.ts
  airbyte-webapp/src/hooks/services/ConnectionEdit/ConnectionEditService.tsx
  airbyte-webapp/src/hooks/services/FormChangeTracker/FormChangeTrackerService.tsx
  airbyte-webapp/src/hooks/services/FormChangeTracker/hooks.test.ts
  airbyte-webapp/src/hooks/services/FormChangeTracker/hooks.ts
  airbyte-webapp/src/hooks/services/FormChangeTracker/types.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/ConnectionPage/pages/AllConnectionsPage/components/ConnectionsTable.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/EnabledControl.module.scss
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/EnabledControl.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/SchemaChangesDetected.module.scss
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/SchemaChangesDetected.test.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/SchemaChangesDetected.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/StatusMainInfo.module.scss
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/StatusMainInfo.test.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/StatusMainInfo.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SourceConnectionTable.tsx
  airbyte-webapp/src/test-utils/mock-data/mockDestinationDefinition.ts
  airbyte-webapp/src/test-utils/mock-data/mockSourceDefinition.ts
Labels: area/platform, team/frontend

#19024 Source postgres: fix schema permission issue
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/PostgresSourceAcceptanceTest.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres, connectors/source/postgres-strict-encrypt

#20007 :window: :broom: move connector builder components into the same shared components/connectorBuilder directory
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/ConfigMenu.module.scss
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/ConfigMenu.tsx
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/LogsDisplay.module.scss
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/LogsDisplay.tsx
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/PageDisplay.module.scss
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/PageDisplay.tsx
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/ResultDisplay.module.scss
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/ResultDisplay.tsx
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/SliceSelector.module.scss
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/SliceSelector.tsx
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/StreamSelector.module.scss
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/StreamSelector.tsx
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/StreamTester.module.scss
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/StreamTester.tsx
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/StreamTestingPanel.module.scss
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/StreamTestingPanel.tsx
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/index.tsx
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/utils.ts
  airbyte-webapp/src/components/connectorBuilder/YamlEditor/DownloadYamlButton.tsx
  airbyte-webapp/src/components/connectorBuilder/YamlEditor/YamlEditor.module.scss
  airbyte-webapp/src/components/connectorBuilder/YamlEditor/YamlEditor.tsx
  airbyte-webapp/src/components/connectorBuilder/YamlEditor/index.tsx
  airbyte-webapp/src/pages/ConnectorBuilderPage/ConnectorBuilderPage.tsx
Labels: area/platform, team/frontend

#19957 Added dark variant to Button
  airbyte-webapp/src/components/ui/Button/Button.module.scss
  airbyte-webapp/src/components/ui/Button/Button.tsx
  airbyte-webapp/src/components/ui/Button/index.stories.tsx
  airbyte-webapp/src/components/ui/Button/types.tsx
Labels: area/platform, team/frontend

#19824 Helm Chart: fix indentation of securityContext block
  charts/airbyte-bootloader/templates/pod.yaml
Labels: area/platform, kubernetes, community

#20023 Source gitlab - fix duplicate records issue
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-gitlab/Dockerfile
  airbyte-integrations/connectors/source-gitlab/source_gitlab/streams.py
  docs/integrations/sources/gitlab.md
Labels: area/documentation, area/connectors, connectors/source/gitlab

#19939 Source Zoom: upgrade CDK version
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-zoom/Dockerfile
  airbyte-integrations/connectors/source-zoom/README.md
  airbyte-integrations/connectors/source-zoom/setup.py
  docs/integrations/sources/zoom.md
Labels: area/documentation, area/connectors, community, bounty, connectors/source/zoom

#20017 Source smartsheets: OAuth2.0 support - disabled
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-smartsheets/Dockerfile
  airbyte-integrations/connectors/source-smartsheets/source_smartsheets/spec.json
  docs/integrations/sources/smartsheets.md
Labels: area/documentation, area/connectors, connectors/source/smartsheets

#19488 🪟 🎉 Add frontend redirect for Cloud API token management
  airbyte-webapp/src/hooks/services/AppMonitoringService/AppMonitoringService.tsx
  airbyte-webapp/src/hooks/services/AppMonitoringService/index.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/packages/cloud/cloudRoutes.tsx
  airbyte-webapp/src/packages/cloud/lib/domain/speakeasy/api.ts
  airbyte-webapp/src/packages/cloud/lib/domain/speakeasy/index.ts
  airbyte-webapp/src/packages/cloud/services/config/configProviders.ts
  airbyte-webapp/src/packages/cloud/services/config/index.ts
  airbyte-webapp/src/packages/cloud/services/config/types.ts
  airbyte-webapp/src/packages/cloud/services/speakeasy/index.ts
  airbyte-webapp/src/packages/cloud/services/speakeasy/useSpeakeasyRedirect.ts
  airbyte-webapp/src/pages/SpeakeasyRedirectPage/SpeakeasyRedirectPage.tsx
  airbyte-webapp/src/pages/SpeakeasyRedirectPage/index.tsx
  airbyte-webapp/src/pages/routePaths.tsx
Labels: area/platform, team/frontend

#12700 🎉 New source: Babelforce
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-babelforce/.dockerignore
  airbyte-integrations/connectors/source-babelforce/Dockerfile
  airbyte-integrations/connectors/source-babelforce/README.md
  airbyte-integrations/connectors/source-babelforce/acceptance-test-config.yml
  airbyte-integrations/connectors/source-babelforce/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-babelforce/build.gradle
  airbyte-integrations/connectors/source-babelforce/integration_tests/__init__.py
  airbyte-integrations/connectors/source-babelforce/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-babelforce/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-babelforce/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-babelforce/main.py
  airbyte-integrations/connectors/source-babelforce/requirements.txt
  airbyte-integrations/connectors/source-babelforce/setup.py
  airbyte-integrations/connectors/source-babelforce/source_babelforce/__init__.py
  airbyte-integrations/connectors/source-babelforce/source_babelforce/schemas/calls.json
  airbyte-integrations/connectors/source-babelforce/source_babelforce/source.py
  airbyte-integrations/connectors/source-babelforce/source_babelforce/spec.json
  airbyte-integrations/connectors/source-babelforce/unit_tests/__init__.py
  airbyte-integrations/connectors/source-babelforce/unit_tests/test_call_stream.py
  airbyte-integrations/connectors/source-babelforce/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-babelforce/unit_tests/test_source.py
  airbyte-integrations/connectors/source-babelforce/unit_tests/test_streams.py
  docs/integrations/sources/babelforce.md
Labels: area/documentation, area/connectors, new-connector, community, waiting-for-cred, internal, connectors/source/babelforce

#19755 🪟 🎉 Adds status change icon for connections
  airbyte-webapp/src/components/EntityTable/ConnectionTable.tsx
  airbyte-webapp/src/components/EntityTable/components/ChangesStatusIcon.module.scss
  airbyte-webapp/src/components/EntityTable/components/ChangesStatusIcon.tsx
  airbyte-webapp/src/components/EntityTable/components/StatusCell.module.scss
  airbyte-webapp/src/components/EntityTable/components/StatusCell.test.tsx
  airbyte-webapp/src/components/EntityTable/components/StatusCell.tsx
  airbyte-webapp/src/components/EntityTable/components/StatusCellControl.tsx
  airbyte-webapp/src/utils/strings.test.ts
  airbyte-webapp/src/utils/strings.ts
Labels: area/platform, team/frontend

#18587 Source file: fix pandas read_csv header none issue.
  airbyte-integrations/connectors/source-file/integration_tests/sample_files/test_no_header.csv
  airbyte-integrations/connectors/source-file/source_file/source.py
  airbyte-integrations/connectors/source-file/unit_tests/test_source.py
  docs/integrations/sources/file.md
Labels: area/documentation, area/connectors, community, connectors/source/file, bounty

#18326 🐛Destination-snowflake: Resolved typo in documentation
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, community, connectors/destination/snowflake

#19826 🪟 🔧 Add ConnectorIds utility
  airbyte-webapp/.eslintrc.js
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/packages/README.md
  airbyte-webapp/packages/eslint-plugin/index.js
  airbyte-webapp/packages/eslint-plugin/no-hardcoded-connector-ids.js
  airbyte-webapp/scripts/classname-serializer.js
  airbyte-webapp/src/components/connection/ConnectionOnboarding/ConnectionOnboarding.tsx
  airbyte-webapp/src/components/destination/DestinationForm/DestinationForm.tsx
  airbyte-webapp/src/core/domain/connector/constants.ts
  airbyte-webapp/src/test-utils/mock-data/mockConnection.ts
  airbyte-webapp/src/test-utils/mock-data/mockDestination.ts
  airbyte-webapp/src/test-utils/mock-data/mockDestinationDefinition.ts
  airbyte-webapp/src/test-utils/mock-data/mockSourceDefinition.ts
  airbyte-webapp/src/test-utils/mock-data/mockStartWithDestination.ts
  airbyte-webapp/src/utils/connectors/constants.ts
  airbyte-webapp/src/utils/connectors/destinations.json
  airbyte-webapp/src/utils/connectors/index.ts
  airbyte-webapp/src/utils/connectors/sources.json
  airbyte-webapp/src/views/Connector/ConnectorForm/components/Sections/auth/AuthButton.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/StartWithDestination/StartWithDestinationCard.test.tsx
Labels: area/platform, team/frontend, ui/connectors

#15705 Destination:PubSub Add Batching and Ordering configuration
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-pubsub/Dockerfile
  airbyte-integrations/connectors/destination-pubsub/src/main/java/io/airbyte/integrations/destination/pubsub/PubsubConsumer.java
  airbyte-integrations/connectors/destination-pubsub/src/main/java/io/airbyte/integrations/destination/pubsub/PubsubDestination.java
  airbyte-integrations/connectors/destination-pubsub/src/main/java/io/airbyte/integrations/destination/pubsub/PubsubDestinationConfig.java
  airbyte-integrations/connectors/destination-pubsub/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-pubsub/src/test-integration/java/io/airbyte/integrations/destination/pubsub/PubsubDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-pubsub/src/test/java/io/airbyte/integration/destination/pubsub/PubsubConsumerTest.java
  docs/integrations/destinations/pubsub.md
Labels: area/documentation, area/connectors, community, connectors/destination/pubsub, internal

#19988 Further simplify metrics tracker.
  airbyte-commons-worker/src/main/java/io/airbyte/workers/general/DefaultReplicationWorker.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/internal/book_keeping/AirbyteMessageTracker.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/internal/book_keeping/MessageTracker.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/internal/book_keeping/StateDeltaTracker.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/internal/book_keeping/StateMetricsTracker.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/internal/book_keeping/StreamStats.java
  airbyte-commons-worker/src/test/java/io/airbyte/workers/general/DefaultReplicationWorkerTest.java
  airbyte-commons-worker/src/test/java/io/airbyte/workers/internal/book_keeping/AirbyteMessageTrackerTest.java
  airbyte-commons-worker/src/test/java/io/airbyte/workers/internal/book_keeping/StateDeltaTrackerTest.java
  airbyte-commons-worker/src/test/java/io/airbyte/workers/internal/book_keeping/StateMetricsTrackerTest.java
  airbyte-container-orchestrator/src/main/java/io/airbyte/container_orchestrator/orchestrator/ReplicationJobOrchestrator.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/AttemptHandler.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/ReplicationActivityImpl.java
Labels: area/worker, area/platform, area/server

#20032 SimpleRetriever raises exception with error message extracted from the response
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/declarative/retrievers/simple_retriever.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/http.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/declarative/retrievers/test_simple_retriever.py
Labels: CDK

#20027 connector-builder server returns the request, response, and the error message if the read operation failed
  airbyte-connector-builder-server/connector_builder/impl/low_code_cdk_adapter.py
  airbyte-connector-builder-server/unit_tests/connector_builder/impl/test_low_code_cdk_adapter.py
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/PageDisplay.tsx
Labels: area/platform, team/frontend

#20016 Source: Facebook Marketing - action_breakdowns can be empty list
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-facebook-marketing/setup.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/source.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/spec.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/base_insight_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_base_insight_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_streams.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing

#20043 Source: Facebook Marketing - action_breakdowns can be empty list - bugfix for #20016
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/source.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/spec.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_source.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing

#19789 🎉 Source Shopify: Add a graphql products stream
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-shopify/Dockerfile
  airbyte-integrations/connectors/source-shopify/README.md
  airbyte-integrations/connectors/source-shopify/acceptance-test-config.yml
  airbyte-integrations/connectors/source-shopify/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-shopify/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-shopify/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-shopify/integration_tests/state.json
  airbyte-integrations/connectors/source-shopify/setup.py
  airbyte-integrations/connectors/source-shopify/source_shopify/graphql.py
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/products_graph_ql.json
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_schema.py
  airbyte-integrations/connectors/source-shopify/source_shopify/source.py
  airbyte-integrations/connectors/source-shopify/source_shopify/utils.py
  airbyte-integrations/connectors/source-shopify/unit_tests/test_cached_stream_state.py
  airbyte-integrations/connectors/source-shopify/unit_tests/test_control_rate_limit.py
  airbyte-integrations/connectors/source-shopify/unit_tests/test_source.py
  airbyte-integrations/connectors/source-shopify/unit_tests/unit_test.py
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors, connectors/source/shopify, bounty, bounty-L

#20015 🪟 🎉 Add options to tooltip of oneOf properties
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/views/Connector/ConnectorForm/components/Property/LabelInfo.module.scss
  airbyte-webapp/src/views/Connector/ConnectorForm/components/Property/LabelInfo.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/Property/PropertyLabel.stories.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/Property/PropertyLabel.tsx
Labels: area/platform, team/frontend

#18134 :bug: Source ElasticSearch: avoid too_long_frame_exception
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-elasticsearch/Dockerfile
  airbyte-integrations/connectors/source-elasticsearch/README.md
  airbyte-integrations/connectors/source-elasticsearch/src/main/java/io/airbyte/integrations/source/elasticsearch/ElasticsearchConnection.java
  docs/integrations/sources/elasticsearch.md
Labels: area/documentation, area/connectors, community, internal, connectors/source/elasticsearch

#19213 Fix formatting typo "octavia list command" line 46
  octavia-cli/README.md
Labels: community

#18826 🐛 Source RD Station Marketing: Fix stream analytics conversions
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-rd-station-marketing/Dockerfile
  airbyte-integrations/connectors/source-rd-station-marketing/source_rd_station_marketing/streams.py
  docs/integrations/sources/rd-station-marketing.md
Labels: area/documentation, area/connectors, community, bounty, bounty-M, connectors/source/rd-station-marketing

#20080 Enable PMD rule to prevent == string comparisons
  airbyte-db/db-lib/src/main/java/io/airbyte/db/instance/jobs/migrations/V0_35_40_001__MigrateFailureReasonEnumValues.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/JobNotifier.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WebBackendConnectionsHandlerTest.java
  airbyte-tests/src/acceptanceTests/java/io/airbyte/test/acceptance/ContainerOrchestratorAcceptanceTests.java
  tools/gradle/pmd/rules.xml
Labels: area/platform, area/server

#18337 octavia-cli: Added flag to control whether to reset the streams or not
  octavia-cli/integration_tests/configurations/connections/poke_to_pg/configuration.yaml
  octavia-cli/octavia_cli/apply/resources.py
  octavia-cli/octavia_cli/generate/templates/connection.yaml.j2
Labels: community

#20040 JDBC Sources Integration Test migration follow-up: Switch additional tests to use system stubs
  airbyte-integrations/bases/standard-source-test/src/main/java/io/airbyte/integrations/standardtest/source/AbstractSourceConnectorTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractPostgresSourceSSLCertificateAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractSshPostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcWalLogsPostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/PostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/PostgresSourceStrictEncryptAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/resources/expected_strict_encrypt_spec.json
  airbyte-integrations/connectors/source-relational-db/build.gradle
  airbyte-integrations/connectors/source-relational-db/src/test/java/io/airbyte/integrations/source/relationaldb/AbstractDbSourceTest.java
Labels: area/connectors, connectors/source/postgres, connectors/source/relational-db

#20096 Add missing "unknown" reason
  airbyte-api/src/main/openapi/config.yaml
Labels: area/api, area/platform

#20101 Add test on `failureOrigin` enum conversion
  airbyte-server/src/test/java/io/airbyte/server/converters/JobConverterTest.java
Labels: area/platform, area/server

#20095 🪟 🔧 Add testid to error view
  airbyte-webapp/src/views/common/ErrorOccurredView/ErrorOccurredView.tsx
Labels: area/platform, team/frontend

#19449 🪟 🎨 Row highlighting for new streams table
  airbyte-webapp/src/components/connection/CatalogTree/next/CatalogTreeTableRow.module.scss
  airbyte-webapp/src/components/connection/CatalogTree/next/CatalogTreeTableRow.tsx
  airbyte-webapp/src/components/connection/CatalogTree/next/CatalogTreeTableRowIcon.module.scss
  airbyte-webapp/src/components/connection/CatalogTree/next/CatalogTreeTableRowIcon.tsx
  airbyte-webapp/src/components/connection/CatalogTree/next/StreamPathSelect.module.scss
  airbyte-webapp/src/components/connection/CatalogTree/next/StreamPathSelect.tsx
  airbyte-webapp/src/components/connection/CatalogTree/next/SyncModeSelect.tsx
  airbyte-webapp/src/components/connection/CatalogTree/next/useCatalogTreeTableRowProps.test.tsx
  airbyte-webapp/src/components/connection/CatalogTree/next/useCatalogTreeTableRowProps.tsx
  airbyte-webapp/src/components/icons/ModificationIcon.tsx
  airbyte-webapp/src/scss/_colors.scss
Labels: area/platform, team/frontend

#20082 Add README info about using your local CDK locally and in docker
  airbyte-cdk/python/README.md
  tools/bin/build_image.sh
Labels: CDK

#19985 Source Postgres: Fix not being able to configure wal2json plugin
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcBinlogsMySqlSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/main/resources/spec.json
  airbyte-integrations/connectors/source-postgres/src/test-integration/resources/expected_spec.json
  airbyte-integrations/connectors/source-postgres/src/test-integration/resources/expected_strict_encrypt_spec.json
  airbyte-integrations/connectors/source-postgres/src/test/resources/expected_spec.json
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/mysql, connectors/source/postgres, connectors/source/jdbc, connectors/source/mysql-strict-encrypt

#20107 Validate connection id before sync
  airbyte-server/src/main/java/io/airbyte/server/handlers/SchedulerHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/SchedulerHandlerTest.java
Labels: area/platform, area/server

#19860 Move handling TIMESTAMP_WITH_TIMEZONE to common JdbcSourceOperations
  airbyte-db/db-lib/src/main/java/io/airbyte/db/jdbc/JdbcSourceOperations.java
  airbyte-integrations/connectors/source-snowflake/src/main/java/io.airbyte.integrations.source.snowflake/SnowflakeSourceOperations.java
Labels: area/connectors, connectors/source/snowflake

#19888 refresh before syncs when feature flag is on
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/DefaultJobPersistence.java
  airbyte-workers/src/main/java/io/airbyte/workers/config/ActivityBeanFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/config/ApiClientBeanFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/ConfigFetchActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/ConfigFetchActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/RefreshSchemaActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/RefreshSchemaActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/SyncWorkflowImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/RefreshSchemaActivityTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/sync/SyncWorkflowTest.java
Labels: area/worker, area/platform

#20072 🪟🐛 Warn on navigating away from unsaved connector form with error
  airbyte-webapp/src/components/destination/DestinationForm/DestinationForm.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/CreateSourcePage/components/SourceForm.tsx
  airbyte-webapp/src/views/Connector/ConnectorCard/ConnectorCard.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/ConnectorForm.test.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/ConnectorForm.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/index.stories.tsx
Labels: area/frontend, area/platform, team/extensibility, team/frontend, ui/connectors

#20123 🪟 🔧 Add comment about feature/experiment usage
  airbyte-webapp/src/hooks/services/Experiment/experiments.ts
  airbyte-webapp/src/hooks/services/Feature/types.tsx
Labels: area/platform, team/frontend

#20020 🪟 🐛 Fix tag input styles
  airbyte-webapp/src/components/ui/TagInput/TagInput.module.scss
  airbyte-webapp/src/components/ui/TagInput/TagInput.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/Property/Control.tsx
Labels: area/platform, team/frontend

#19979 SAT: Capture configuration updates from connectors' control messages
  .gitignore
  airbyte-integrations/bases/source-acceptance-test/CHANGELOG.md
  airbyte-integrations/bases/source-acceptance-test/Dockerfile
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/conftest.py
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/utils/connector_runner.py
  airbyte-integrations/bases/source-acceptance-test/unit_tests/test_container_runner.py
  airbyte-integrations/bases/source-acceptance-test/unit_tests/test_global_fixtures.py
Labels: Acceptance Tests, team/connector-ops

#19646 airbyte-cdk offset pagination strategy: page_size to be interpolated …
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/strategies/offset_increment.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/paginators/test_offset_increment.py
Labels: CDK

#20119 Fix additional MySQL integration tests
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/SshKeyMySqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/SshPasswordMySqlSourceAcceptanceTest.java
Labels: area/connectors, connectors/source/mysql

#13663 Update mssql.md
  docs/integrations/destinations/mssql.md
Labels: area/documentation

#19975 Update Stripe Customer Stream with additional info
  docs/integrations/sources/stripe.md
Labels: area/documentation

#20143 airbyte-cdk: bump version
  airbyte-cdk/python/setup.py
Labels: CDK

#20113 Revert "RecordSchemaValidator can resolve $ref schemas"
  airbyte-json-validation/src/main/java/io/airbyte/validation/json/JsonSchemaValidator.java
  airbyte-json-validation/src/test/java/io/airbyte/validation/json/JsonSchemaValidatorTest.java
  airbyte-workers/Dockerfile
  airbyte-workers/build.gradle
  build.gradle
Labels: area/worker, area/platform

#20035 🪟 🔧 Add auto-detect schema changes feature flag
  airbyte-webapp/src/components/EntityTable/ConnectionTable.tsx
  airbyte-webapp/src/components/EntityTable/components/StatusCell.tsx
  airbyte-webapp/src/hooks/connection/useIsAutoDetectSchemaChangesEnabled.ts
  airbyte-webapp/src/hooks/connection/useSchemaChanges.ts
  airbyte-webapp/src/hooks/services/Experiment/experiments.ts
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/SchemaChangesDetected.test.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/StatusMainInfo.test.tsx
Labels: area/platform, team/frontend

#20024 🪟 🧹 Move CatalogDiff modal from views to components
  airbyte-webapp/src/components/connection/CatalogDiffModal/CatalogDiffModal.module.scss
  airbyte-webapp/src/components/connection/CatalogDiffModal/CatalogDiffModal.test.tsx
  airbyte-webapp/src/components/connection/CatalogDiffModal/CatalogDiffModal.tsx
  airbyte-webapp/src/components/connection/CatalogDiffModal/DiffAccordion.module.scss
  airbyte-webapp/src/components/connection/CatalogDiffModal/DiffAccordion.tsx
  airbyte-webapp/src/components/connection/CatalogDiffModal/DiffAccordionHeader.module.scss
  airbyte-webapp/src/components/connection/CatalogDiffModal/DiffAccordionHeader.tsx
  airbyte-webapp/src/components/connection/CatalogDiffModal/DiffFieldTable.module.scss
  airbyte-webapp/src/components/connection/CatalogDiffModal/DiffFieldTable.tsx
  airbyte-webapp/src/components/connection/CatalogDiffModal/DiffHeader.tsx
  airbyte-webapp/src/components/connection/CatalogDiffModal/DiffIconBlock.module.scss
  airbyte-webapp/src/components/connection/CatalogDiffModal/DiffIconBlock.tsx
  airbyte-webapp/src/components/connection/CatalogDiffModal/DiffSection.module.scss
  airbyte-webapp/src/components/connection/CatalogDiffModal/DiffSection.tsx
  airbyte-webapp/src/components/connection/CatalogDiffModal/FieldRow.module.scss
  airbyte-webapp/src/components/connection/CatalogDiffModal/FieldRow.tsx
  airbyte-webapp/src/components/connection/CatalogDiffModal/FieldSection.module.scss
  airbyte-webapp/src/components/connection/CatalogDiffModal/FieldSection.tsx
  airbyte-webapp/src/components/connection/CatalogDiffModal/StreamRow.module.scss
  airbyte-webapp/src/components/connection/CatalogDiffModal/StreamRow.tsx
  airbyte-webapp/src/components/connection/CatalogDiffModal/index.stories.tsx
  airbyte-webapp/src/components/connection/CatalogDiffModal/index.ts
  airbyte-webapp/src/components/connection/CatalogDiffModal/types.ts
  airbyte-webapp/src/components/connection/CatalogDiffModal/utils.tsx
  airbyte-webapp/src/hooks/connection/useConfirmCatalogDiff.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionReplicationTab.tsx
Labels: area/platform, team/platform-workflow, team/frontend

#19889 Stop sync on a null value in a cursor column
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractPostgresSourceSSLCertificateAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractSshPostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/PostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/PostgresSourceStrictEncryptAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresSourceTest.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/AbstractDbSource.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/InvalidCursorInfoUtil.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres, connectors/source/jdbc, connectors/source/relational-db, connectors/source/postgres-strict-encrypt

#20019 Issue 19733 cdk clarify config error message for config files
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/connector.py
  airbyte-cdk/python/airbyte_cdk/sources/singer/source.py
  airbyte-cdk/python/airbyte_cdk/sources/source.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/test_source.py
  airbyte-cdk/python/unit_tests/test_connector.py
Labels: CDK, connectors/source/s3

#20171 Destination Clickhouse: Publish strict encrypt variant
  airbyte-integrations/connectors/destination-clickhouse-strict-encrypt/Dockerfile
  docs/integrations/destinations/clickhouse.md
Labels: area/documentation, area/connectors, connectors/destination/clickhouse-strict-encrypt

#19770 Use a separate node pool to run custom connector jobs
  airbyte-commons-temporal/src/main/java/io/airbyte/commons/temporal/TemporalClient.java
  airbyte-commons-temporal/src/main/java/io/airbyte/commons/temporal/sync/OrchestratorConstants.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/WorkerConfigs.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/general/DbtTransformationRunner.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/helper/EntrypointEnvChecker.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/normalization/DefaultNormalizationRunner.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/process/AirbyteIntegrationLauncher.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/process/DockerProcessFactory.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/process/KubeProcessFactory.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/process/ProcessFactory.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/sync/DbtLauncherWorker.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/sync/LauncherWorker.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/sync/NormalizationLauncherWorker.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/sync/ReplicationLauncherWorker.java
  airbyte-commons-worker/src/test/java/io/airbyte/workers/normalization/DefaultNormalizationRunnerTest.java
  airbyte-commons-worker/src/test/java/io/airbyte/workers/process/AirbyteIntegrationLauncherTest.java
  airbyte-commons-worker/src/test/java/io/airbyte/workers/process/DockerProcessFactoryTest.java
  airbyte-config/config-models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/config-models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-config/config-models/src/main/resources/types/JobCheckConnectionConfig.yaml
  airbyte-config/config-models/src/main/resources/types/JobDiscoverCatalogConfig.yaml
  airbyte-config/config-models/src/main/resources/types/JobGetSpecConfig.yaml
  airbyte-config/config-models/src/main/resources/types/JobResetConnectionConfig.yaml
  airbyte-config/config-models/src/main/resources/types/JobSyncConfig.yaml
  airbyte-container-orchestrator/src/main/java/io/airbyte/container_orchestrator/orchestrator/ReplicationJobOrchestrator.java
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/DestinationAcceptanceTest.java
  airbyte-integrations/bases/standard-source-test/src/main/java/io/airbyte/integrations/standardtest/source/AbstractSourceConnectorTest.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/DefaultJobCreator.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/JobCreator.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/factory/DefaultSyncJobFactory.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/DefaultJobCreatorTest.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/factory/DefaultSyncJobFactoryTest.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/DestinationDefinitionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SchedulerHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SourceDefinitionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/scheduler/DefaultSynchronousSchedulerClient.java
  airbyte-server/src/main/java/io/airbyte/server/scheduler/SynchronousSchedulerClient.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/DestinationDefinitionsHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/SchedulerHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/SourceDefinitionsHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/scheduler/DefaultSynchronousSchedulerClientTest.java
  airbyte-worker-models/src/main/resources/workers_models/IntegrationLauncherConfig.yaml
  airbyte-workers/src/main/java/io/airbyte/workers/config/WorkerConfigurationBeanFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/check/connection/CheckConnectionActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/discover/catalog/DiscoverCatalogActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/GenerateInputActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/spec/SpecActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/ReplicationActivityImpl.java
  airbyte-workers/src/main/resources/application.yml
  airbyte-workers/src/test-integration/java/io/airbyte/workers/process/KubePodProcessIntegrationTest.java
Labels: area/worker, area/platform, area/server

#20163 lint CDK files
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/strategies/offset_increment.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/paginators/test_offset_increment.py
  airbyte-integrations/connector-templates/source-java-jdbc/acceptance-test-config.yml.hbs
Labels: CDK, connectors/source/scaffold-java-jdbc

#20167 Remove Change Management section as it was outdated. Added Authentication section to clarify how to use the API in OSS.
  airbyte-api/src/main/openapi/config.yaml
Labels: area/api, area/platform

#19678 🪟 🎉 Add datepicker for date/date-time fields in connector form
  airbyte-webapp/.storybook/preview.ts
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/components/ui/DatePicker/DatePicker.module.scss
  airbyte-webapp/src/components/ui/DatePicker/DatePicker.test.tsx
  airbyte-webapp/src/components/ui/DatePicker/DatePicker.tsx
  airbyte-webapp/src/components/ui/DatePicker/index.stories.tsx
  airbyte-webapp/src/components/ui/DatePicker/index.ts
  airbyte-webapp/src/components/ui/Input/Input.tsx
  airbyte-webapp/src/core/jsonSchema/schemaToUiWidget.ts
  airbyte-webapp/src/hooks/services/Experiment/experiments.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/scss/_z-indices.scss
  airbyte-webapp/src/setupTests.ts
  airbyte-webapp/src/views/Connector/ConnectorForm/components/Property/Control.tsx
Labels: area/platform, team/frontend

#20187 🪟🐛 Fix types
  airbyte-webapp/src/core/form/types.ts
Labels: area/platform, team/extensibility, team/frontend, ui/connectors

#19713 🪟 🎉 new streams table edit modal namespace and stream
  airbyte-webapp/src/components/CreateConnection/__snapshots__/CreateConnectionForm.test.tsx.snap
  airbyte-webapp/src/components/connection/CatalogTree/next/CatalogTreeTableHeader.tsx
  airbyte-webapp/src/components/connection/CatalogTree/next/__snapshots__/BulkEditPanel.test.tsx.snap
  airbyte-webapp/src/components/connection/DestinationNamespaceModal/DestinationNamespaceModal.module.scss
  airbyte-webapp/src/components/connection/DestinationNamespaceModal/DestinationNamespaceModal.tsx
  airbyte-webapp/src/components/connection/DestinationNamespaceModal/ExampleSettingsTable.module.scss
  airbyte-webapp/src/components/connection/DestinationNamespaceModal/ExampleSettingsTable.tsx
  airbyte-webapp/src/components/connection/DestinationNamespaceModal/useExampleSettingsTable.ts
  airbyte-webapp/src/components/connection/DestinationStreamNamesModal/DestinationStreamNamesModal.module.scss
  airbyte-webapp/src/components/connection/DestinationStreamNamesModal/DestinationStreamNamesModal.tsx
  airbyte-webapp/src/components/ui/Tooltip/InfoTooltip.tsx
  airbyte-webapp/src/components/ui/Tooltip/Tooltip.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/__snapshots__/ConnectionReplicationTab.test.tsx.snap
  airbyte-webapp/src/views/Connection/ConnectionForm/ConnectionFormFields.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/FrequentlyUsedConnectors/__snapshots__/FrequentlyUsedConnectorsCard.test.tsx.snap
  airbyte-webapp/src/views/Connector/ConnectorForm/components/StartWithDestination/__snapshots__/StartWithDestinationCard.test.tsx.snap
Labels: area/platform, team/frontend

#20005 Source Bing Ads: add fields to schema
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-bing-ads/Dockerfile
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/keyword_performance_report.json
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors, community, connectors/source/bing-ads, connectors/source/google-ads, internal

#18968 Source Close.com: migration to low-code
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-close-com/Dockerfile
  airbyte-integrations/connectors/source-close-com/acceptance-test-config.yml
  airbyte-integrations/connectors/source-close-com/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-close-com/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-close-com/integration_tests/expected_records.txt
  airbyte-integrations/connectors/source-close-com/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-close-com/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-close-com/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-close-com/setup.py
  airbyte-integrations/connectors/source-close-com/source_close_com/__init__.py
  airbyte-integrations/connectors/source-close-com/source_close_com/close_com.yaml
  airbyte-integrations/connectors/source-close-com/source_close_com/datetime_slicer.py
  airbyte-integrations/connectors/source-close-com/source_close_com/schemas/custom_activities.json
  airbyte-integrations/connectors/source-close-com/source_close_com/schemas/custom_email_connected_accounts.json
  airbyte-integrations/connectors/source-close-com/source_close_com/schemas/smart_views.json
  airbyte-integrations/connectors/source-close-com/source_close_com/source_lc.py
  airbyte-integrations/connectors/source-close-com/source_close_com/spec.json
  airbyte-integrations/connectors/source-close-com/unit_tests/tests.py
  docs/integrations/sources/close-com.md
Labels: area/documentation, area/connectors, connectors/source/close-com

#19847 Bmoric/convert attempt micronaut
  airbyte-api/src/main/java/io/airbyte/api/client/AirbyteApiClient.java
  airbyte-server/src/main/java/io/airbyte/server/ServerFactory.java
  airbyte-server/src/main/java/io/airbyte/server/apis/AttemptApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/binders/AttemptApiBinder.java
  airbyte-server/src/main/java/io/airbyte/server/apis/factories/AttemptApiFactory.java
  airbyte-server/src/main/java/io/airbyte/server/config/HandlerFactory.java
  airbyte-server/src/main/java/io/airbyte/server/filter/CorsFilter.java
  airbyte-server/src/main/resources/application.yml
Labels: area/api, area/platform, area/server

#20191 regenerated lockfile with resolved & integrity
  airbyte-webapp/package-lock.json
Labels: area/platform, team/frontend

#19193 Display Throughput and Progress Bar in Sync UI
  airbyte-webapp/.eslintrc.js
  airbyte-webapp/src/components/JobItem/components/AttemptDetails.tsx
  airbyte-webapp/src/components/JobItem/components/MainInfo.module.scss
  airbyte-webapp/src/components/JobItem/components/MainInfo.tsx
  airbyte-webapp/src/components/connection/JobProgress/JobProgress.module.scss
  airbyte-webapp/src/components/connection/JobProgress/JobProgress.tsx
  airbyte-webapp/src/components/connection/JobProgress/JobProgressLine.module.scss
  airbyte-webapp/src/components/connection/JobProgress/JobProgressLine.tsx
  airbyte-webapp/src/components/connection/JobProgress/StreamProgress.module.scss
  airbyte-webapp/src/components/connection/JobProgress/StreamProgress.tsx
  airbyte-webapp/src/components/connection/JobProgress/index.tsx
  airbyte-webapp/src/components/connection/JobProgress/utils.test.ts
  airbyte-webapp/src/components/connection/JobProgress/utils.ts
  airbyte-webapp/src/components/ui/Text/Text.tsx
  airbyte-webapp/src/components/ui/Text/text.module.scss
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/utils/numberHelper.test.tsx
  airbyte-webapp/src/utils/numberHelper.tsx
Labels: area/platform, team/frontend

#19734 🪟 🎉 Add auto-detect schema changes option to connection UIs
  airbyte-webapp/src/components/CreateConnection/CreateConnectionForm.tsx
  airbyte-webapp/src/hooks/services/ConnectionForm/ConnectionFormService.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionReplicationTab.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/ConnectionFormFields.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/__snapshots__/formConfig.test.ts.snap
  airbyte-webapp/src/views/Connection/ConnectionForm/components/NonBreakingChangesPreferenceField.module.scss
  airbyte-webapp/src/views/Connection/ConnectionForm/components/NonBreakingChangesPreferenceField.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/formConfig.tsx
Labels: area/platform, team/frontend

#20188 🪟 🐛 Fix test assertion in datepicker tests
  airbyte-webapp/src/components/ui/DatePicker/DatePicker.test.tsx
Labels: area/platform, team/frontend

#20126 🪟 🎉 Change default sync mode
  airbyte-webapp/src/views/Connection/ConnectionForm/calculateInitialCatalog.test.ts
  airbyte-webapp/src/views/Connection/ConnectionForm/calculateInitialCatalog.ts
Labels: area/platform, team/platform-workflow, team/frontend

#20199 November release notes docs
  docs/release_notes/november_2022.md
  docusaurus/sidebars.js
Labels: area/documentation

#20205 Add custom connector flag for reset job
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/DefaultJobCreator.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/JobCreator.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/DefaultJobCreatorTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/run/TemporalWorkerRunFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/run/TemporalWorkerRunFactoryTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityTest.java
Labels: area/worker, area/platform

#20190 CDK: offset_increment.page_size make as [int, InterpolatedString]
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/strategies/offset_increment.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/paginators/test_offset_increment.py
Labels: CDK

#20206 Bump Airbyte version from 0.40.23 to 0.40.24
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-connector-builder-server/Dockerfile
  airbyte-connector-builder-server/setup.py
  airbyte-container-orchestrator/Dockerfile
  airbyte-cron/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-proxy/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte-bootloader/Chart.yaml
  charts/airbyte-connector-builder-server/Chart.yaml
  charts/airbyte-cron/Chart.yaml
  charts/airbyte-server/Chart.yaml
  charts/airbyte-temporal/Chart.yaml
  charts/airbyte-webapp/Chart.yaml
  charts/airbyte-worker/Chart.yaml
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/worker, area/platform, kubernetes, area/server, team/frontend

#20138 Enable full SAT for the Snowflake source
  airbyte-integrations/connectors/source-snowflake/acceptance-test-config.yml
  airbyte-integrations/connectors/source-snowflake/integration_tests/README.md
  airbyte-integrations/connectors/source-snowflake/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-snowflake/integration_tests/configured_catalog_inc.json
  airbyte-integrations/connectors/source-snowflake/integration_tests/expected_records.json
  airbyte-integrations/connectors/source-snowflake/integration_tests/sat_basic_dataset.sql
  airbyte-integrations/connectors/source-snowflake/integration_tests/sat_full_dataset.sql
Labels: area/connectors, connectors/source/snowflake

#19720 Enable full SAT for the BigQuery source
  airbyte-integrations/connectors/source-bigquery/acceptance-test-config.yml
  airbyte-integrations/connectors/source-bigquery/integration_tests/README.md
  airbyte-integrations/connectors/source-bigquery/integration_tests/basic_dataset.sql
  airbyte-integrations/connectors/source-bigquery/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-bigquery/integration_tests/configured_catalog_inc.json
  airbyte-integrations/connectors/source-bigquery/integration_tests/expected_records.json
  airbyte-integrations/connectors/source-bigquery/integration_tests/full_dataset.sql
Labels: area/connectors, connectors/source/bigquery

#20207 typo fix on nov release notes
  docs/release_notes/november_2022.md
Labels: area/documentation

#18914 Contributing guide: Add info about live-editing docs with `yarn start`
  docs/contributing-to-airbyte/updating-documentation.md
Labels: area/documentation

#19219 🪟 🎨 New stream details panel
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/components/connection/CatalogTree/CatalogSection.tsx
  airbyte-webapp/src/components/connection/CatalogTree/next/StreamConnectionHeader.tsx
  airbyte-webapp/src/components/connection/CatalogTree/next/StreamDetailsPanel.module.scss
  airbyte-webapp/src/components/connection/CatalogTree/next/StreamDetailsPanel/StreamDetailsPanel.module.scss
  airbyte-webapp/src/components/connection/CatalogTree/next/StreamDetailsPanel/StreamDetailsPanel.tsx
  airbyte-webapp/src/components/connection/CatalogTree/next/StreamDetailsPanel/StreamFieldsTable/ConnectorHeaderGroupIcon.module.scss
  airbyte-webapp/src/components/connection/CatalogTree/next/StreamDetailsPanel/StreamFieldsTable/ConnectorHeaderGroupIcon.tsx
  airbyte-webapp/src/components/connection/CatalogTree/next/StreamDetailsPanel/StreamFieldsTable/StreamFieldsTable.module.scss
  airbyte-webapp/src/components/connection/CatalogTree/next/StreamDetailsPanel/StreamFieldsTable/StreamFieldsTable.tsx
  airbyte-webapp/src/components/connection/CatalogTree/next/StreamDetailsPanel/StreamPanelHeader/StreamPanelHeader.module.scss
  airbyte-webapp/src/components/connection/CatalogTree/next/StreamDetailsPanel/StreamPanelHeader/StreamPanelHeader.tsx
  airbyte-webapp/src/components/connection/CatalogTree/next/StreamFieldsTable.tsx
  airbyte-webapp/src/components/connection/CatalogTree/next/StreamFieldsTableHeader.tsx
  airbyte-webapp/src/components/connection/CatalogTree/next/StreamFieldsTableRow.tsx
  airbyte-webapp/src/components/icons/ArrowRightIcon.tsx
  airbyte-webapp/src/components/ui/NextTable/NextTable.module.scss
  airbyte-webapp/src/components/ui/NextTable/NextTable.test.tsx
  airbyte-webapp/src/components/ui/NextTable/NextTable.tsx
  airbyte-webapp/src/components/ui/NextTable/index.stories.tsx
  airbyte-webapp/src/components/ui/NextTable/index.ts
  airbyte-webapp/src/types/react-table.d.ts
  airbyte-webapp/src/utils/useTranslateDataType.ts
Labels: area/platform, team/platform-workflow, team/frontend

#20156 [ISSUE #15628] apply lookback window on earliest datetime between sta…
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/declarative/stream_slicers/datetime_stream_slicer.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/declarative/stream_slicers/test_datetime_stream_slicer.py
Labels: CDK

#19980 🪟 🎨 Update toast design
  airbyte-webapp/src/components/connection/UpdateConnectionDataResidency/UpdateConnectionDataResidency.tsx
  airbyte-webapp/src/components/ui/Button/Button.module.scss
  airbyte-webapp/src/components/ui/Toast/ErrorSign.tsx
  airbyte-webapp/src/components/ui/Toast/Toast.module.scss
  airbyte-webapp/src/components/ui/Toast/Toast.tsx
  airbyte-webapp/src/components/ui/Toast/index.stories.tsx
  airbyte-webapp/src/hooks/services/Health/HealthPollService.tsx
  airbyte-webapp/src/hooks/services/Notification/NotificationService.tsx
  airbyte-webapp/src/hooks/services/Notification/types.ts
  airbyte-webapp/src/hooks/services/useConnectorAuth.tsx
  airbyte-webapp/src/hooks/useLoadingState.tsx
  airbyte-webapp/src/packages/cloud/views/FirebaseActionRoute.tsx
  airbyte-webapp/src/packages/cloud/views/auth/ConfirmPasswordResetPage/ConfirmPasswordResetPage.tsx
  airbyte-webapp/src/packages/cloud/views/auth/ResetPasswordPage/ResetPasswordPage.tsx
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/components/EmailVerificationHint.tsx
  airbyte-webapp/src/packages/cloud/views/users/InviteUsersModal/InviteUsersModal.tsx
  airbyte-webapp/src/packages/cloud/views/workspaces/DataResidencyView/DataResidencyView.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConfigurationsPage/components/LogsContent.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/NotificationPage/components/WebHookForm.tsx
  airbyte-webapp/src/scss/_variables.scss
  airbyte-webapp/src/scss/_z-indices.scss
Labels: area/platform, team/platform-workflow, team/frontend

#19727 :tada: Source Amplitude: enable data region selection
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amplitude/Dockerfile
  airbyte-integrations/connectors/source-amplitude/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amplitude/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-amplitude/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-amplitude/source_amplitude/api.py
  airbyte-integrations/connectors/source-amplitude/source_amplitude/source.py
  airbyte-integrations/connectors/source-amplitude/source_amplitude/spec.json
  airbyte-integrations/connectors/source-amplitude/unit_tests/test_api.py
  airbyte-integrations/connectors/source-amplitude/unit_tests/test_errors.py
  airbyte-integrations/connectors/source-amplitude/unit_tests/test_source.py
  docs/integrations/sources/amplitude.md
Labels: area/documentation, area/connectors, community, connectors/source/amplitude, internal

#20048 Source Gridly: add icon and make `grid_id` parameter required
  airbyte-config/init/src/main/resources/icons/gridly.svg
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-gridly/Dockerfile
  airbyte-integrations/connectors/source-gridly/acceptance-test-config.yml
  airbyte-integrations/connectors/source-gridly/source_gridly/spec.yaml
Labels: area/connectors, community, internal, connectors/source/gridly

#20213 Rm DbMigration Controller
  airbyte-api/src/main/java/io/airbyte/api/client/AirbyteApiClient.java
  airbyte-api/src/main/openapi/config.yaml
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/main/java/io/airbyte/server/ServerFactory.java
  airbyte-server/src/main/java/io/airbyte/server/apis/DbMigrationApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/binders/DbMigrationBinder.java
  airbyte-server/src/main/java/io/airbyte/server/apis/factories/DbMigrationApiFactory.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/DbMigrationHandler.java
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api, area/platform, area/server

#20228 🪟 🔧 Add storybook for `<RadioButton />` component
  airbyte-webapp/src/components/ui/RadioButton/index.stories.tsx
Labels: area/platform, team/platform-workflow, team/frontend

#20078 Fix: Tutorial config-based invalid keywords #20071
  CONTRIBUTORS.md
  docs/connector-development/config-based/tutorial/3-connecting-to-the-API-source.md
  docs/connector-development/config-based/tutorial/5-incremental-reads.md
Labels: area/documentation, community

#19915 Enable full SAT for the Redshift source
  airbyte-integrations/connectors/source-redshift/acceptance-test-config.yml
  airbyte-integrations/connectors/source-redshift/integration_tests/README.md
  airbyte-integrations/connectors/source-redshift/integration_tests/basic_dataset.sql
  airbyte-integrations/connectors/source-redshift/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-redshift/integration_tests/configured_catalog_inc.json
  airbyte-integrations/connectors/source-redshift/integration_tests/expected_records.json
Labels: area/connectors, connectors/source/redshift

#20250 Resolve package-lock.json issues
  airbyte-webapp/package-lock.json
Labels: area/platform, team/frontend

#20258 convert openapiapicontroller to micronaut
  airbyte-proxy/nginx-auth.conf.template
  airbyte-proxy/nginx-no-auth.conf.template
  airbyte-server/src/main/java/io/airbyte/server/EventListener.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/main/java/io/airbyte/server/ServerFactory.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConnectionApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/OpenapiApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/binders/OpenapiApiBinder.java
  airbyte-server/src/main/java/io/airbyte/server/apis/factories/OpenapiApiFactory.java
  airbyte-server/src/main/java/io/airbyte/server/config/ApplicationBeanFactory.java
  airbyte-server/src/main/java/io/airbyte/server/config/DatabaseBeanFactory.java
  airbyte-server/src/main/java/io/airbyte/server/config/HelperBeanFactory.java
  airbyte-server/src/main/java/io/airbyte/server/config/SecretPersistenceBeanFactory.java
  airbyte-server/src/main/java/io/airbyte/server/config/TemporalBeanFactory.java
  airbyte-server/src/main/java/io/airbyte/server/converters/JobConverter.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/ConnectionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/OpenApiConfigHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SchedulerHandler.java
  airbyte-workers/src/main/java/io/airbyte/workers/config/ApiClientBeanFactory.java
Labels: area/worker, area/platform, area/server

#20253 Use existing status when no breaking change
  airbyte-server/src/main/java/io/airbyte/server/handlers/SchedulerHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/SchedulerHandlerTest.java
Labels: area/platform, area/server

#20247 Added IP addresses to docs
  docs/cloud/getting-started-with-airbyte-cloud.md
Labels: area/documentation

#19786 Low-code CDK: Update autogenerated docs
  airbyte-integrations/connector-templates/destination-java/README.md.hbs
  airbyte-integrations/connector-templates/destination-python/README.md
  airbyte-integrations/connector-templates/source-configuration-based/README.md.hbs
  airbyte-integrations/connector-templates/source-configuration-based/source_{{snakeCase name}}/{{snakeCase name}}.yaml.hbs
  airbyte-integrations/connector-templates/source-generic/README.md
  airbyte-integrations/connector-templates/source-java-jdbc/README.md
  airbyte-integrations/connector-templates/source-python-http-api/README.md.hbs
  airbyte-integrations/connector-templates/source-python/README.md.hbs
  airbyte-integrations/connector-templates/source-singer/README.md.hbs
  airbyte-integrations/connectors/destination-scaffold-destination-python/README.md
  airbyte-integrations/connectors/source-scaffold-java-jdbc/README.md
  airbyte-integrations/connectors/source-scaffold-source-http/README.md
  airbyte-integrations/connectors/source-scaffold-source-python/README.md
Labels: type/enhancement, area/connectors, community, team/extensibility, bounty, connectors/source/scaffold-java-jdbc, connectors/destination/scaffold-destination-python, connectors/source/scaffold-source-http, connectors/source/scaffold-source-python, area/low-code

#20229 airbyte-server: set tags on span in `OAuthHandler`
  airbyte-metrics/metrics-lib/src/main/java/io/airbyte/metrics/lib/ApmTraceConstants.java
  airbyte-server/build.gradle
  airbyte-server/src/main/java/io/airbyte/server/handlers/OAuthHandler.java
Labels: area/platform, area/server

#20127 🪟🔧 Move connector loading state into connector card
  airbyte-webapp/src/components/destination/DestinationForm/DestinationForm.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/CreateSourcePage/components/SourceForm.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SourceSettings.tsx
  airbyte-webapp/src/pages/destination/DestinationSettingsPage/DestinationSettingsPage.tsx
  airbyte-webapp/src/views/Connector/ConnectorCard/ConnectorCard.module.scss
  airbyte-webapp/src/views/Connector/ConnectorCard/ConnectorCard.tsx
  airbyte-webapp/src/views/Connector/ConnectorCard/components/ShowLoadingMessage.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/ConnectorForm.test.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/ConnectorForm.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/FormRoot.module.scss
  airbyte-webapp/src/views/Connector/ConnectorForm/FormRoot.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/CreateControls.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/Sections/auth/AuthButton.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/connectorFormContext.tsx
Labels: area/frontend, area/platform, team/extensibility, team/frontend, ui/connectors

#20259 API changes to support configuring column selection
  airbyte-api/src/main/openapi/config.yaml
  airbyte-server/src/main/java/io/airbyte/server/converters/ApiPojoConverters.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/ConnectionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/helpers/CatalogConverter.java
  airbyte-server/src/test/java/io/airbyte/server/converters/CatalogConverterTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/ConnectionsHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/helpers/ConnectionHelpers.java
  airbyte-tests/src/acceptanceTests/java/io/airbyte/test/acceptance/BasicAcceptanceTests.java
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api, area/platform, area/server

#20279 Bump Airbyte version from 0.40.24 to 0.40.25
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-connector-builder-server/Dockerfile
  airbyte-connector-builder-server/setup.py
  airbyte-container-orchestrator/Dockerfile
  airbyte-cron/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-proxy/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte-bootloader/Chart.yaml
  charts/airbyte-connector-builder-server/Chart.yaml
  charts/airbyte-cron/Chart.yaml
  charts/airbyte-server/Chart.yaml
  charts/airbyte-temporal/Chart.yaml
  charts/airbyte-webapp/Chart.yaml
  charts/airbyte-worker/Chart.yaml
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/worker, area/platform, kubernetes, area/server, team/frontend

#20272 Add secrets for pulling custom connector images
  airbyte-commons-worker/src/main/java/io/airbyte/workers/WorkerConfigs.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/process/KubePodProcess.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/process/KubeProcessFactory.java
  airbyte-config/config-models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/config-models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-workers/src/main/java/io/airbyte/workers/config/WorkerConfigurationBeanFactory.java
Labels: area/worker, area/platform

#19758 🚨🚨 🐛 Source TikTok Marketing: fix error while converting `mobile_app_id` column to int in AudienceReports streams
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/Dockerfile
  airbyte-integrations/connectors/source-tiktok-marketing/acceptance-test-config.yml
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/audience_reports.json
  docs/integrations/sources/tiktok-marketing.md
Labels: area/documentation, area/connectors, community, connectors/source/tiktok-marketing, internal

#19276 🎉Source Chartmogul: Migrate connector from Alpha (Python) to Beta (YAML)
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-chartmogul/Dockerfile
  airbyte-integrations/connectors/source-chartmogul/acceptance-test-config.yml
  airbyte-integrations/connectors/source-chartmogul/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-chartmogul/integration_tests/expected_records.txt
  airbyte-integrations/connectors/source-chartmogul/setup.py
  airbyte-integrations/connectors/source-chartmogul/source_chartmogul/chartmogul.yaml
  airbyte-integrations/connectors/source-chartmogul/source_chartmogul/source.py
  airbyte-integrations/connectors/source-chartmogul/source_chartmogul/spec.json
  airbyte-integrations/connectors/source-chartmogul/source_chartmogul/spec.yaml
  airbyte-integrations/connectors/source-chartmogul/unit_tests/test_source.py
  airbyte-integrations/connectors/source-chartmogul/unit_tests/test_streams.py
  docs/integrations/sources/chartmogul.md
Labels: area/documentation, area/connectors, connectors/source/chartmogul

#18546 Source Hubspot: remove API Key authentication type
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/acceptance-test-config.yml
  airbyte-integrations/connectors/source-hubspot/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-hubspot/integration_tests/test_associations.py
  airbyte-integrations/connectors/source-hubspot/sample_files/basic_read_catalog.json
  airbyte-integrations/connectors/source-hubspot/sample_files/full_refresh_catalog.json
  airbyte-integrations/connectors/source-hubspot/sample_files/incremental_catalog.json
  airbyte-integrations/connectors/source-hubspot/sample_files/sample_state.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/constants.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/quotes.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/source.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/spec.yaml
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/conftest.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_source.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_streams.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot

#19143 🎉 Source SurveySparrow: add configuration to allow eu-based account to use connector
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-survey-sparrow/Dockerfile
  airbyte-integrations/connectors/source-survey-sparrow/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-survey-sparrow/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-survey-sparrow/setup.py
  airbyte-integrations/connectors/source-survey-sparrow/source_survey_sparrow/spec.yaml
  airbyte-integrations/connectors/source-survey-sparrow/source_survey_sparrow/survey_sparrow.yaml
  docs/integrations/sources/surveysparrow.md
Labels: area/documentation, area/connectors, community, bounty, bounty-M, connectors/source/survey-sparrow

#19822 🎉Source Delighted: migrate to lowcode + certify to beta
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-delighted/Dockerfile
  airbyte-integrations/connectors/source-delighted/acceptance-test-config.yml
  airbyte-integrations/connectors/source-delighted/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-delighted/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-delighted/integration_tests/expected_records.txt
  airbyte-integrations/connectors/source-delighted/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-delighted/source_delighted/delighted.yaml
  airbyte-integrations/connectors/source-delighted/source_delighted/schemas/people.json
  airbyte-integrations/connectors/source-delighted/source_delighted/source.py
  airbyte-integrations/connectors/source-delighted/source_delighted/spec.json
  airbyte-integrations/connectors/source-delighted/unit_tests/unit_test.py
  docs/integrations/sources/delighted.md
Labels: area/documentation, area/connectors, connectors/source/delighted

#20055 Add column.include.list for debezium column selection support
  airbyte-integrations/bases/debezium-v1-9-6/src/main/java/io/airbyte/integrations/debezium/internals/DebeziumPropertiesManager.java
  airbyte-integrations/bases/debezium-v1-9-6/src/test/java/io/airbyte/integrations/debezium/DebeziumRecordPublisherTest.java
  airbyte-integrations/bases/standard-source-test/src/main/java/io/airbyte/integrations/standardtest/source/SourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcMySqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcPostgresSourceAcceptanceTest.java
Labels: area/connectors, connectors/source/mysql, connectors/source/postgres

#20231 🪟 🔧 Allow overwriting features in dev by env variables
  airbyte-webapp/src/hooks/services/Feature/FeatureService.test.tsx
  airbyte-webapp/src/hooks/services/Feature/FeatureService.tsx
  airbyte-webapp/src/hooks/services/Feature/types.tsx
Labels: area/platform, team/frontend

#19581 🐛 Source Amazon Seller Partner: use replication end date from user provided config
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/Dockerfile
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation, area/connectors, community, connectors/source/amazon-seller-partner, bounty, bounty-S

#20288 fix wrong indentation in error handling docs
  docs/connector-development/config-based/understanding-the-yaml-file/error-handling.md
Labels: area/documentation, community

#20208 Disable all broken connections when source is refreshed
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/ConnectionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SchedulerHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/SchedulerHandlerTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/sync/SyncWorkflowTest.java
Labels: area/worker, area/platform, area/server

#20299 Helm Chart: add missing `TEMPORAL_HOST` is not set as default
  charts/airbyte-cron/templates/deployment.yaml
Labels: area/platform, kubernetes, community

#20319 :window: :bug: add object-fit: contain to fix connector image stretching
  airbyte-webapp/src/utils/imageUtils.tsx
Labels: area/platform, team/frontend

#20274 More destination fixes for `ci_check_dependency`
  docs/integrations/destinations/azure-blob-storage.md
  docs/integrations/destinations/redpanda.md
  tools/bin/ci_check_dependency.py
Labels: area/documentation

#20311 remove the requirement on the activity
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/ConfigFetchActivityImpl.java
Labels: area/worker, area/platform

#20269 Bmoric/convert destination controller micronaut
  airbyte-api/src/main/java/io/airbyte/api/client/AirbyteApiClient.java
  airbyte-proxy/nginx-auth.conf.template
  airbyte-proxy/nginx-no-auth.conf.template
  airbyte-server/src/main/java/io/airbyte/server/ServerFactory.java
  airbyte-server/src/main/java/io/airbyte/server/apis/DestinationApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/binders/DestinationApiBinder.java
  airbyte-server/src/main/java/io/airbyte/server/apis/factories/DestinationApiFactory.java
  airbyte-server/src/main/java/io/airbyte/server/config/ApplicationBeanFactory.java
  airbyte-server/src/main/java/io/airbyte/server/converters/ConfigurationUpdate.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/DestinationHandler.java
Labels: area/api, area/platform, area/server

#20277 Bmoric/convert destination definition controller micronaut
  airbyte-api/src/main/java/io/airbyte/api/client/AirbyteApiClient.java
  airbyte-proxy/nginx-auth.conf.template
  airbyte-proxy/nginx-no-auth.conf.template
  airbyte-server/src/main/java/io/airbyte/server/ServerFactory.java
  airbyte-server/src/main/java/io/airbyte/server/apis/DestinationDefinitionApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/binders/DestinationDefinitionApiBinder.java
  airbyte-server/src/main/java/io/airbyte/server/apis/factories/DestinationDefinitionApiFactory.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/DestinationDefinitionsHandler.java
Labels: area/api, area/platform, area/server

#20329 convert StateApiController to Micronaut
  airbyte-api/src/main/java/io/airbyte/api/client/AirbyteApiClient.java
  airbyte-proxy/nginx-auth.conf.template
  airbyte-proxy/nginx-no-auth.conf.template
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/main/java/io/airbyte/server/ServerFactory.java
  airbyte-server/src/main/java/io/airbyte/server/apis/StateApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/binders/StateApiBinder.java
  airbyte-server/src/main/java/io/airbyte/server/apis/factories/StateApiFactory.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/StateHandler.java
Labels: area/api, area/platform, area/server

#19303 🪟 🎨 Updating styles for PillButton component according to new Figma design changes
  airbyte-webapp/src/components/connection/CatalogTree/next/SyncModeSelect.tsx
  airbyte-webapp/src/components/connection/CatalogTree/next/__snapshots__/BulkEditPanel.test.tsx.snap
  airbyte-webapp/src/components/ui/DropDown/components/Option.tsx
  airbyte-webapp/src/components/ui/PillSelect/PillButton.module.scss
  airbyte-webapp/src/components/ui/PillSelect/PillButton.tsx
  airbyte-webapp/src/components/ui/PillSelect/PillSelect.tsx
  airbyte-webapp/src/components/ui/PillSelect/index.stories.tsx
Labels: area/platform, team/frontend

#20318 Move dest oauth to micronaut
  airbyte-proxy/nginx-auth.conf.template
  airbyte-proxy/nginx-no-auth.conf.template
  airbyte-server/src/main/java/io/airbyte/server/ServerFactory.java
  airbyte-server/src/main/java/io/airbyte/server/apis/DestinationOauthApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/binders/DestinationOauthApiBinder.java
  airbyte-server/src/main/java/io/airbyte/server/apis/factories/DestinationOauthApiFactory.java
  airbyte-server/src/main/java/io/airbyte/server/config/ApplicationBeanFactory.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/OAuthHandler.java
Labels: area/platform, area/server

#20308 Source Locker: Hide on cloud
  airbyte-webapp/src/core/domain/connector/constants.ts
Labels: area/platform, team/frontend

#19624 🎉Source Zenloop: migrate to lowcode
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-zenloop/Dockerfile
  airbyte-integrations/connectors/source-zenloop/README.md
  airbyte-integrations/connectors/source-zenloop/acceptance-test-config.yml
  airbyte-integrations/connectors/source-zenloop/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-zenloop/integration_tests/expected_records.txt
  airbyte-integrations/connectors/source-zenloop/source_zenloop/components.py
  airbyte-integrations/connectors/source-zenloop/source_zenloop/source.py
  airbyte-integrations/connectors/source-zenloop/source_zenloop/streams.py
  airbyte-integrations/connectors/source-zenloop/source_zenloop/zenloop.yaml
  airbyte-integrations/connectors/source-zenloop/unit_tests/__init__.py
  airbyte-integrations/connectors/source-zenloop/unit_tests/conftest.py
  airbyte-integrations/connectors/source-zenloop/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-zenloop/unit_tests/test_source.py
  airbyte-integrations/connectors/source-zenloop/unit_tests/test_streams.py
  docs/integrations/sources/zenloop.md
Labels: area/documentation, area/connectors, connectors/source/zenloop

#20334 Bmoric/convert source micronaut
  airbyte-api/src/main/java/io/airbyte/api/client/AirbyteApiClient.java
  airbyte-proxy/nginx-auth.conf.template
  airbyte-proxy/nginx-no-auth.conf.template
  airbyte-server/src/main/java/io/airbyte/server/ServerFactory.java
  airbyte-server/src/main/java/io/airbyte/server/apis/SourceApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/binders/SourceApiBinder.java
  airbyte-server/src/main/java/io/airbyte/server/apis/factories/SourceApiFactory.java
  airbyte-server/src/main/java/io/airbyte/server/config/ApplicationBeanFactory.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SourceHandler.java
Labels: area/api, area/platform, area/server

#19773 :window: :wrench: Handle LD feature flags besides `featureService.overwrites`
  airbyte-webapp/src/packages/cloud/services/thirdParty/launchdarkly/LDExperimentService.tsx
Labels: area/platform, team/frontend

#20348 Source Gitlab: fix EpicIssues stream
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-gitlab/Dockerfile
  airbyte-integrations/connectors/source-gitlab/acceptance-test-config.yml
  airbyte-integrations/connectors/source-gitlab/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-gitlab/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-gitlab/integration_tests/expected_records.txt
  airbyte-integrations/connectors/source-gitlab/integration_tests/incremental_catalog.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/project_milestones.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/streams.py
  docs/integrations/sources/gitlab.md
Labels: area/documentation, area/connectors, connectors/source/gitlab

#20323 Update web backend get connection to properly handle field selection and schema refresh
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WebBackendConnectionsHandlerTest.java
Labels: area/platform, area/server

#20157 Enable test after bug fixing
  airbyte-webapp-e2e-tests/cypress/integration/source.spec.ts
Labels: ui/tests

#20132 🪟🔧 Remove connector form name override
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/views/Connector/ConnectorForm/ConnectorForm.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/Controls/ConnectorNameControl.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/useBuildForm.tsx
Labels: area/frontend, area/platform, team/extensibility, team/frontend, ui/connectors

#20192 source-postgres:just throw a warning if a cursor column contains null value
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-alloydb-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-alloydb/Dockerfile
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresSourceTest.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/AbstractDbSource.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres, connectors/source/relational-db, connectors/source/postgres-strict-encrypt, connectors/source/alloydb, connectors/source/alloydb-strict-encrypt, team/db-dw-sources

#20203 🪟 🎉 Clear user-defined primary key(s) and cursor field(s) if the field is removed
  airbyte-webapp/src/views/Connection/ConnectionForm/calculateInitialCatalog.test.ts
  airbyte-webapp/src/views/Connection/ConnectionForm/calculateInitialCatalog.ts
  airbyte-webapp/src/views/Connection/ConnectionForm/formConfig.tsx
Labels: area/platform, team/frontend

#20305 🪟🔧 Adjust webapp e2e readme
  airbyte-webapp-e2e-tests/README.md
Labels: team/frontend

#20232 🪟 🔧 Move auto-detect schema changes feature flag to FeatureService
  airbyte-webapp/src/components/CreateConnection/CreateConnectionForm.tsx
  airbyte-webapp/src/components/EntityTable/ConnectionTable.tsx
  airbyte-webapp/src/components/EntityTable/components/StatusCell.tsx
  airbyte-webapp/src/hooks/connection/useIsAutoDetectSchemaChangesEnabled.ts
  airbyte-webapp/src/hooks/connection/useSchemaChanges.ts
  airbyte-webapp/src/hooks/services/ConnectionForm/ConnectionFormService.tsx
  airbyte-webapp/src/hooks/services/Experiment/experiments.ts
  airbyte-webapp/src/hooks/services/Feature/types.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionReplicationTab.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/SchemaChangesDetected.test.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/StatusMainInfo.test.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/ConnectionFormFields.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/formConfig.tsx
Labels: area/platform, team/frontend

#20370 🪟 🎨 Fix endOfLine formatting with prettier
  airbyte-webapp/.prettierrc.js
  airbyte-webapp/src/components/connection/DestinationNamespaceModal/DestinationNamespaceModal.module.scss
  airbyte-webapp/src/components/connection/DestinationNamespaceModal/ExampleSettingsTable.module.scss
  airbyte-webapp/src/components/connection/DestinationStreamNamesModal/DestinationStreamNamesModal.module.scss
Labels: area/platform, team/frontend

#20327 🪟 🎉 Re-validate connection edit form after schema refresh to highlight any missing keys or cursors
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionReplicationTab.tsx
Labels: area/platform, team/frontend

#20337 convert SchedulerApiController to Micronaut
  airbyte-commons/src/main/java/io/airbyte/commons/features/EnvVariableFeatureFlags.java
  airbyte-proxy/nginx-auth.conf.template
  airbyte-proxy/nginx-no-auth.conf.template
  airbyte-server/src/main/java/io/airbyte/server/ServerFactory.java
  airbyte-server/src/main/java/io/airbyte/server/apis/SchedulerApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/binders/SchedulerApiBinder.java
  airbyte-server/src/main/java/io/airbyte/server/apis/factories/SchedulerApiFactory.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SchedulerHandler.java
Labels: area/platform, area/server

#20338 Bmoric/convert source definition micronaut
  airbyte-proxy/nginx-auth.conf.template
  airbyte-server/build.gradle
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/main/java/io/airbyte/server/ServerFactory.java
  airbyte-server/src/main/java/io/airbyte/server/apis/SourceDefinitionApiController.java
  airbyte-server/src/main/java/io/airbyte/server/config/ApplicationBeanFactory.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SourceDefinitionsHandler.java
  airbyte-server/src/main/resources/application.yml
  airbyte-server/src/test/java/io/airbyte/server/handlers/SourceDefinitionsHandlerTest.java
Labels: area/platform, area/server, connectors/source/amazon-seller-partner, connectors/source/delighted, connectors/source/gitlab, connectors/source/mysql, connectors/source/postgres, connectors/source/zenloop, connectors/source/relational-db, connectors/source/postgres-strict-encrypt, connectors/source/alloydb, connectors/source/alloydb-strict-encrypt

#19977 CDK: `AbstractSource.read()` skips syncing stream if its unavailable (add `AvailabilityStrategy` concept)
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/abstract_source.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/checks/check_stream.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_source.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/availability_strategy.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/core.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/availability_strategy.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/http.py
  airbyte-cdk/python/airbyte_cdk/sources/utils/stream_helpers.py
  airbyte-cdk/python/docs/concepts/http-streams.md
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/declarative/checks/test_check_stream.py
  airbyte-cdk/python/unit_tests/sources/streams/http/test_availability_strategy.py
  airbyte-cdk/python/unit_tests/sources/streams/test_availability_strategy.py
  airbyte-cdk/python/unit_tests/sources/test_source.py
  airbyte-cdk/python/unit_tests/sources/utils/test_schema_helpers.py
Labels: CDK

#20255 Create documentation for Destination namespace example settings
  airbyte-webapp/src/components/connection/DestinationNamespaceModal/DestinationNamespaceModal.tsx
  airbyte-webapp/src/locales/en.json
Labels: area/platform, team/frontend

#19716 Low-Code: added SessionTokenAuthenticator
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/declarative/auth/token.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/config_component_schema.json
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/class_types_registry.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/declarative/auth/test_session_token_auth.py
Labels: CDK

#20386 update SourceOauthApiController to Micronaut
  airbyte-proxy/nginx-auth.conf.template
  airbyte-proxy/nginx-no-auth.conf.template
  airbyte-server/src/main/java/io/airbyte/server/ServerFactory.java
  airbyte-server/src/main/java/io/airbyte/server/apis/SourceOauthApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/binders/SourceOauthApiBinder.java
  airbyte-server/src/main/java/io/airbyte/server/apis/factories/SourceOauthApiFactory.java
Labels: area/platform, area/server

#20008 [Connector Builder] Configuration UI MVP
  airbyte-webapp/.gitignore
  airbyte-webapp/orval.config.ts
  airbyte-webapp/public/images/octavia/pointing.svg
  airbyte-webapp/src/components/connectorBuilder/Builder/AddStreamButton.module.scss
  airbyte-webapp/src/components/connectorBuilder/Builder/AddStreamButton.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/Builder.module.scss
  airbyte-webapp/src/components/connectorBuilder/Builder/Builder.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderCard.module.scss
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderCard.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderField.module.scss
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderField.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderSidebar.module.scss
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderSidebar.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/GlobalConfigView.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/StreamConfigView.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/UiYamlToggleButton.module.scss
  airbyte-webapp/src/components/connectorBuilder/Builder/UiYamlToggleButton.tsx
  airbyte-webapp/src/components/connectorBuilder/DownloadYamlButton.tsx
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/PageDisplay.module.scss
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/StreamSelector.module.scss
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/StreamSelector.tsx
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/StreamTester.module.scss
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/StreamTester.tsx
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/StreamTestingPanel.module.scss
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/StreamTestingPanel.tsx
  airbyte-webapp/src/components/connectorBuilder/YamlEditor/YamlEditor.module.scss
  airbyte-webapp/src/components/connectorBuilder/YamlEditor/YamlEditor.tsx
  airbyte-webapp/src/components/connectorBuilder/types.ts
  airbyte-webapp/src/components/ui/ListBox/ListBox.module.scss
  airbyte-webapp/src/components/ui/ResizablePanels/ResizablePanels.tsx
  airbyte-webapp/src/core/form/FormikPatch.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/ConnectorBuilderPage/ConnectorBuilderPage.module.scss
  airbyte-webapp/src/pages/ConnectorBuilderPage/ConnectorBuilderPage.tsx
  airbyte-webapp/src/pages/routes.tsx
  airbyte-webapp/src/scss/_mixins.scss
  airbyte-webapp/src/services/connectorBuilder/ConnectorBuilderStateService.tsx
  airbyte-webapp/src/services/connectorBuilder/connector_manifest_openapi.yaml
  airbyte-webapp/src/views/Connector/ConnectorDocumentationLayout/ConnectorDocumentationLayout.module.scss
  airbyte-webapp/src/views/Connector/ConnectorDocumentationLayout/ConnectorDocumentationLayout.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/ConnectorForm.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/useBuildForm.tsx
Labels: area/platform, team/frontend

#20214 convert WorkspaceApiController to micronaut
  airbyte-api/src/main/java/io/airbyte/api/client/AirbyteApiClient.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/WorkspaceHelper.java
  airbyte-proxy/nginx-auth.conf.template
  airbyte-proxy/nginx-no-auth.conf.template
  airbyte-server/build.gradle
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/main/java/io/airbyte/server/ServerFactory.java
  airbyte-server/src/main/java/io/airbyte/server/apis/SourceOauthApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/WorkspaceApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/binders/WorkspaceApiBinder.java
  airbyte-server/src/main/java/io/airbyte/server/apis/factories/WorkspaceApiFactory.java
  airbyte-server/src/main/java/io/airbyte/server/config/HelperBeanFactory.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/DestinationHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SourceHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WorkspacesHandler.java
  airbyte-server/src/main/resources/application.yml
Labels: area/api, area/platform, area/server

#20383 🐛 airbyte-proxy: Fix 413 Request Entity Too Large nginx/1.23.2 for Airbyte > 0.40.15
  airbyte-proxy/nginx-auth.conf.template
  airbyte-proxy/nginx-no-auth.conf.template
Labels: type/enhancement, community, team/prod-eng

#20382 Bmoric/convert jobs micronaut
  airbyte-api/src/main/java/io/airbyte/api/client/AirbyteApiClient.java
  airbyte-proxy/nginx-auth.conf.template
  airbyte-proxy/nginx-no-auth.conf.template
  airbyte-server/src/main/java/io/airbyte/server/ServerFactory.java
  airbyte-server/src/main/java/io/airbyte/server/apis/JobsApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/SourceDefinitionSpecificationApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/binders/JobsApiBinder.java
  airbyte-server/src/main/java/io/airbyte/server/apis/factories/JobsApiFactory.java
  airbyte-server/src/main/java/io/airbyte/server/converters/WorkflowStateConverter.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/JobHistoryHandler.java
Labels: area/api, area/platform, area/server

#20379 Bmoric/convert source definition specification micronaut
  airbyte-api/src/main/java/io/airbyte/api/client/AirbyteApiClient.java
  airbyte-proxy/nginx-auth.conf.template
  airbyte-proxy/nginx-no-auth.conf.template
  airbyte-server/src/main/java/io/airbyte/server/ServerFactory.java
  airbyte-server/src/main/java/io/airbyte/server/apis/binders/SourceDefinitionSpecificationApiBinder.java
  airbyte-server/src/main/java/io/airbyte/server/apis/factories/SourceDefinitionSpecificationApiFactory.java
Labels: area/api, area/platform, area/server

#20349 emit failure type in attempt_failure_by_origin
  airbyte-metrics/metrics-lib/src/main/java/io/airbyte/metrics/lib/ApmTraceConstants.java
  airbyte-metrics/metrics-lib/src/main/java/io/airbyte/metrics/lib/MetricTags.java
  airbyte-metrics/metrics-lib/src/main/java/io/airbyte/metrics/lib/OssMetricsRegistry.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityImpl.java
Labels: area/worker, area/platform

#19690 🎉 New implementation for AWS Secret Manager for issue
  airbyte-config/config-models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/config-models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-config/config-persistence/build.gradle
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/split_secrets/AWSSecretManagerPersistence.java
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/split_secrets/SecretPersistence.java
  airbyte-config/config-persistence/src/test-integration/java/io/airbyte/config/persistence/split_secrets/AWSSecretManagerPersistenceIntegrationTest.java
  docs/operator-guides/configuring-airbyte.md
Labels: area/documentation, community

#20369 implement column filtering in the replication workflow
  airbyte-commons-worker/src/main/java/io/airbyte/workers/general/DefaultReplicationWorker.java
  airbyte-commons-worker/src/test/java/io/airbyte/workers/general/DefaultReplicationWorkerTest.java
  airbyte-commons/src/main/java/io/airbyte/commons/features/EnvVariableFeatureFlags.java
  airbyte-commons/src/main/java/io/airbyte/commons/features/FeatureFlags.java
  airbyte-container-orchestrator/src/main/java/io/airbyte/container_orchestrator/orchestrator/ReplicationJobOrchestrator.java
  airbyte-test-utils/src/main/java/io/airbyte/test/utils/AirbyteAcceptanceTestHarness.java
  airbyte-tests/src/acceptanceTests/java/io/airbyte/test/acceptance/BasicAcceptanceTests.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/ReplicationActivityImpl.java
  tools/bin/acceptance_test.sh
Labels: area/worker, area/platform
