Repository airbytehq/airbyte, pull requests merged in 2022-02, with the labels that each got.

#9944 Bump Airbyte version from 0.35.13-alpha to 0.35.14-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#9940 Add sentry release for connectors
  .github/workflows/publish-command.yml
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  docs/integrations/destinations/e2e-test.md
Labels: area/documentation

#9945 🎉 Destination snowflake & bigquery: integrate with sentry
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/IntegrationRunner.java
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation

#9955 🎉 Source e2e-test: integrate with Sentry
  docs/integrations/sources/e2e-test.md
Labels: area/documentation

#9954 🐛 Mock source: fix schema validation and json generation
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/AbstractJdbcDestination.java
  airbyte-integrations/connectors/source-e2e-test-cloud/Dockerfile
  airbyte-integrations/connectors/source-e2e-test-cloud/src/main/java/io/airbyte/integrations/source/e2e_test/CloudTestingSources.java
  airbyte-integrations/connectors/source-e2e-test-cloud/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/source-e2e-test/Dockerfile
  airbyte-integrations/connectors/source-e2e-test/src/main/java/io/airbyte/integrations/source/e2e_test/ContinuousFeedConfig.java
  airbyte-integrations/connectors/source-e2e-test/src/main/java/io/airbyte/integrations/source/e2e_test/ContinuousFeedConstants.java
  airbyte-integrations/connectors/source-e2e-test/src/main/java/io/airbyte/integrations/source/e2e_test/TestingSources.java
  airbyte-integrations/connectors/source-e2e-test/src/main/resources/legacy_spec.json
  airbyte-integrations/connectors/source-e2e-test/src/main/resources/spec.json
  airbyte-integrations/connectors/source-e2e-test/src/test-integration/java/io/airbyte/integrations/source/e2e_test/LegacyInfiniteFeedSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-e2e-test/src/test/java/io/airbyte/integrations/source/e2e_test/GeneratorTest.java
  airbyte-integrations/connectors/source-e2e-test/src/test/java/io/airbyte/integrations/source/e2e_test/LegacyExceptionAfterNSourceTest.java
  airbyte-integrations/connectors/source-e2e-test/src/test/resources/generator_test_cases.json
  airbyte-integrations/connectors/source-e2e-test/src/test/resources/parse_mock_catalog_test_cases.json
  docs/integrations/sources/e2e-test.md
Labels: area/documentation, area/connectors

#9959 🐛 Destination snowflake & bigquery: fix null pointer exception
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination/buffered_stream_consumer/BufferedStreamConsumer.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/JdbcSqlOperations.java
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors

#9875 Db2 source: discover only permitted tables
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/447e0381-3780-4b46-bb62-00a4e3c8b8e2.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-db2-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-db2/Dockerfile
  airbyte-integrations/connectors/source-db2/src/main/java/io.airbyte.integrations.source.db2/Db2Source.java
  airbyte-integrations/connectors/source-db2/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/Db2SourceAcceptanceTest.java
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSource.java
  docs/integrations/sources/db2.md
Labels: area/documentation, area/connectors

#9974 🎉 Source File: Update airbyte-cdk>=0.1.47 to be compatible with latest SAT tests
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/778daa7c-feaf-4db6-96f3-70fd645acc77.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-file/Dockerfile
  docs/integrations/sources/file.md
Labels: area/documentation, area/connectors

#9906 Reintroduce GOOGLE_APPLICATION_CREDENTIALS secret in kube configuration
  kube/overlays/stable-with-resource-limits/.secrets
Labels: community

#9978 Fix Update of a running job
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowTest.java
Labels: area/worker, area/platform

#9981 Bump Airbyte version from 0.35.14-alpha to 0.35.15-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#8252 🐛 Source S3: Loading of files' metadata
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/69589781-7828-43c5-9f63-8925b1c1ccc2.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/acceptance-test-config.yml
  airbyte-integrations/connectors/source-s3/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-s3/integration_tests/config_minio.template.json
  airbyte-integrations/connectors/source-s3/integration_tests/conftest.py
  airbyte-integrations/connectors/source-s3/integration_tests/integration_test.py
  airbyte-integrations/connectors/source-s3/integration_tests/integration_test_abstract.py
  airbyte-integrations/connectors/source-s3/integration_tests/spec.json
  airbyte-integrations/connectors/source-s3/setup.py
  airbyte-integrations/connectors/source-s3/source_s3/s3_utils.py
  airbyte-integrations/connectors/source-s3/source_s3/s3file.py
  airbyte-integrations/connectors/source-s3/source_s3/source.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/file_info.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/formats/abstract_file_parser.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/formats/csv_parser.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/formats/parquet_parser.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/source.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/spec.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/storagefile.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/stream.py
  airbyte-integrations/connectors/source-s3/source_s3/stream.py
  airbyte-integrations/connectors/source-s3/source_s3/utils.py
  airbyte-integrations/connectors/source-s3/unit_tests/abstract_test_parser.py
  airbyte-integrations/connectors/source-s3/unit_tests/conftest.py
  airbyte-integrations/connectors/source-s3/unit_tests/test_abstract_file_parser.py
  airbyte-integrations/connectors/source-s3/unit_tests/test_csv_parser.py
  airbyte-integrations/connectors/source-s3/unit_tests/test_parquet_parser.py
  airbyte-integrations/connectors/source-s3/unit_tests/test_s3file.py
  airbyte-integrations/connectors/source-s3/unit_tests/test_stream.py
  buildSrc/src/main/groovy/airbyte-python.gradle
  docs/integrations/sources/s3.md
  tools/bin/ci_integration_test.sh
Labels: area/documentation, area/connectors

#9060 remove note about full refresh normalization
  docs/quickstart/set-up-a-connection.md
Labels: area/documentation

#9853 Bmoric/improve flakiness
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowTest.java
Labels: area/worker, area/platform

#9987 Add doc about Privacy and Security
  docs/project-overview/security.md
Labels: area/documentation

#9989 Add security doc to SUMMARY.md
  docs/SUMMARY.md
  docs/project-overview/security.md
Labels: area/documentation

#9990 Update roadmap.
  docs/project-overview/roadmap.md
Labels: area/documentation

#9991 Add changelog summaries for last month.
  docs/project-overview/changelog/README.md
Labels: area/documentation

#9992 Update connectors changelog
  docs/project-overview/changelog/connectors.md
Labels: area/documentation

#9993 Fix formatting for SearchMetrics connector doc and changelog
  docs/integrations/sources/search-metrics.md
  docs/project-overview/changelog/README.md
Labels: area/documentation

#9809 Update fields in source-connectors specifications: file-secure
  airbyte-integrations/connectors/source-file-secure/Dockerfile
  airbyte-integrations/connectors/source-file-secure/integration_tests/spec.json
Labels: area/connectors

#9973 Pass user information to fullstory
  airbyte-webapp/src/packages/cloud/cloudRoutes.tsx
  airbyte-webapp/src/packages/cloud/services/thirdParty/fullstory/useFullStory.tsx
Labels: area/frontend, area/platform

#9995 🎉 Destination databricks: move driver downloading to gradle
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-integrations/connectors/destination-databricks/.gitignore
  airbyte-integrations/connectors/destination-databricks/README.md
  airbyte-integrations/connectors/destination-databricks/build.gradle
  docs/integrations/destinations/databricks.md
  tools/bin/ci_integration_test.sh
  tools/integrations/manage.sh
  tools/lib/databricks.sh
Labels: area/documentation, area/connectors

#9928 Add streamr destination catalog
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/eebd85cf-60b2-4af6-9ba0-edeca01437b0.json
  airbyte-config/init/src/main/resources/icons/streamr.svg
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  docs/SUMMARY.md
  docs/integrations/README.md
  docs/integrations/destinations/streamr.md
Labels: area/documentation

#9929 Add Jenkins source from Faros AI to connector catalog
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/d6f73702-d7a0-4e95-9758-b0fb1af0bfba.json
  airbyte-config/init/src/main/resources/icons/jenkins.svg
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  docs/SUMMARY.md
  docs/integrations/README.md
  docs/integrations/sources/jenkins.md
Labels: area/documentation

#9868 🐛 Source Github: log the error message for streams that are restricted for OAuth
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/ef69ef6e-aa7f-4af1-a01d-ef775033524e.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/acceptance-test-config.yml
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/GithubOAuthFlow.java
  airbyte-oauth/src/test/java/io/airbyte/oauth/flows/GithubOAuthFlowTest.java
Labels: area/connectors

#9785 🐛 Source Zendesk support: add log message for 429 status code
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-zendesk-support/Dockerfile
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/streams.py
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors

#10005 Destination Kafka: Fix SASL config read issue
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/9f760101-60ae-462f-9ee6-b7a9dafd454d.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-kafka/Dockerfile
  airbyte-integrations/connectors/destination-kafka/src/main/java/io/airbyte/integrations/destination/kafka/KafkaDestinationConfig.java
  docs/integrations/destinations/kafka.md
Labels: area/documentation, area/connectors

#9831 chore: add confluence and firestore to definition yamls
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/27dc7500-6d1b-40b1-8b07-e2f2aea3c9f4.json
  airbyte-config/init/src/main/resources/icons/confluence.svg
  airbyte-config/init/src/main/resources/icons/firestore.svg
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-confluence/Dockerfile
  docs/integrations/sources/confluence.md
Labels: area/documentation, area/connectors

#9941 Fix settings link in the connection row
  airbyte-webapp/src/components/EntityTable/components/ConnectionSettingsCell.tsx
Labels: area/frontend, area/platform

#9939 Remove red indicators for connectors in cloud
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/components/ConnectorsView.tsx
Labels: area/frontend, area/platform

#10023 Added an official Deploy to DigitalOcean button
  docs/deploying-airbyte/on-digitalocean-droplet.md
Labels: area/documentation, community

#10024 📝 Source postgres: add workaround for syncing a subset of columns
  docs/integrations/sources/postgres.md
Labels: area/documentation

#10027 Remove redundant github issue links in postgres doc
  docs/integrations/sources/postgres.md
Labels: area/documentation

#9665 🐙 octavia-cli: implement init command
  octavia-cli/README.md
  octavia-cli/octavia_cli/check_context.py
  octavia-cli/octavia_cli/entrypoint.py
  octavia-cli/octavia_cli/init/__init__.py
  octavia-cli/octavia_cli/init/commands.py
  octavia-cli/unit_tests/test_check_context.py
  octavia-cli/unit_tests/test_entrypoint.py
  octavia-cli/unit_tests/test_init/__init__.py
  octavia-cli/unit_tests/test_init/test_commands.py
  octavia-cli/unit_tests/test_list/__init__.py
Labels: area/octavia-cli, user-support-eng

#9808 Update fields in source-connectors specifications: recharge
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/45d2e135-2ede-49e1-939f-3e3ec357a65e.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-recharge/Dockerfile
  airbyte-integrations/connectors/source-recharge/source_recharge/spec.json
  docs/integrations/sources/recharge.md
Labels: area/documentation, area/connectors

#9724 Improve documentation sidesheet
  airbyte-webapp/build.gradle
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/components/Markdown/Markdown.tsx
  airbyte-webapp/src/components/SideView/styled.ts
  airbyte-webapp/src/theme.ts
  airbyte-webapp/src/types/rehype-urls.d.ts
  airbyte-webapp/src/views/Connector/ServiceForm/components/Controls/Instruction.tsx
Labels: area/frontend, area/platform

#9983 Add progress bar
  airbyte-webapp/src/components/LoadingSchema/LoadingSchema.tsx
  airbyte-webapp/src/components/ProgressBar/ProgressBar.tsx
  airbyte-webapp/src/components/ProgressBar/index.tsx
  airbyte-webapp/src/components/index.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/views/Connector/ServiceForm/components/TestingConnectionSpinner.tsx
Labels: area/frontend, area/platform

#10046 Re-org reset after backup
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/ConnectionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/ConnectionsHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WebBackendConnectionsHandlerTest.java
Labels: area/platform, area/server

#10048 Bump Airbyte version from 0.35.15-alpha to 0.35.16-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#10036 Update deploy spelling error
  docs/deploying-airbyte/on-digitalocean-droplet.md
Labels: area/documentation, community

#9996 Source Google Ads: upgrade google-ads package version
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/setup.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/ad_group_ads.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors

#9792 :tada: Source smartsheets: oauth support
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/374ebc65-6636-4ea0-925c-7d35999a8ffc.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-smartsheets/Dockerfile
  airbyte-integrations/connectors/source-smartsheets/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-smartsheets/sample_files/catalog.json
  airbyte-integrations/connectors/source-smartsheets/source_smartsheets/source.py
  airbyte-integrations/connectors/source-smartsheets/source_smartsheets/spec.json
  airbyte-integrations/connectors/source-smartsheets/unit_tests/unit_test.py
  airbyte-oauth/src/main/java/io/airbyte/oauth/OAuthImplementationFactory.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/SmartsheetsOAuthFlow.java
  airbyte-oauth/src/test/java/io/airbyte/oauth/flows/SmartsheetsOAuthFlowTest.java
  docs/integrations/sources/smartsheets.md
Labels: area/documentation, area/connectors

#9812 Source Google Ads: handle page token expired exception
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/setup.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/custom_query_stream.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/__init__.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/common.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_google_ads.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_source.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_streams.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors

#10050 Don't run avoidable update signal and make a reset cancelable
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/state/WorkflowState.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/state/listener/WorkflowStateChangedListener.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowTest.java
Labels: area/worker, area/platform, area/server

#10109 Increate failure delay to 2 minutes (heartbeat is likely to fail))
  airbyte-config/models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalUtils.java
Labels: area/worker, area/platform

#10012 🐛 Source Salesforce: increase CSV field_size_limit
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/b117307c-14b6-41aa-9422-947e34922962.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-salesforce/Dockerfile
  airbyte-integrations/connectors/source-salesforce/source_salesforce/streams.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/unit_test.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors

#9786 :tada:Source hubspot add new streams for engagements(calls, emails, meetings, notes and tasks)
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/36c891d9-4bd9-43ac-bad2-10e12756272c.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-hubspot/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/client.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/engagements_calls.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/engagements_emails.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/engagements_meetings.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/engagements_notes.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/engagements_tasks.json
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, community

#10114 rm schedule to close and start and more retries
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/shared/ActivityConfiguration.java
Labels: area/worker, area/platform

#10022 Add AttemptFailureSummary to API response
  airbyte-api/src/main/openapi/config.yaml
  airbyte-config/models/src/main/resources/types/AttemptFailureSummary.yaml
  airbyte-config/models/src/main/resources/types/FailureReason.yaml
  airbyte-server/src/main/java/io/airbyte/server/converters/JobConverter.java
  airbyte-server/src/test/java/io/airbyte/server/converters/JobConverterTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/helper/FailureHelper.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowTest.java
  docs/reference/api/generated-api-html/index.html
  docs/understanding-airbyte/glossary.md
Labels: area/documentation, area/api, area/worker, area/platform, area/server

#9988 Add tombstone field to actor_definitions table
  airbyte-bootloader/src/test/java/io/airbyte/bootloader/BootloaderAppTest.java
  airbyte-config/init/src/main/java/io/airbyte/config/init/YamlSeedConfigPersistence.java
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/DatabaseConfigPersistence.java
  airbyte-config/persistence/src/test/java/io/airbyte/config/persistence/BaseDatabaseConfigPersistenceTest.java
  airbyte-config/persistence/src/test/java/io/airbyte/config/persistence/DatabaseConfigPersistenceTest.java
  airbyte-config/persistence/src/test/java/io/airbyte/config/persistence/MockData.java
  airbyte-db/lib/src/main/java/io/airbyte/db/instance/configs/migrations/V0_35_14_001__AddTombstoneToActorDefinition.java
  airbyte-db/lib/src/main/resources/configs_database/normalized_tables_schema.txt
  airbyte-db/lib/src/main/resources/configs_database/schema_dump.txt
  airbyte-db/lib/src/test/java/io/airbyte/db/instance/configs/migrations/V0_35_14_001__AddTombstoneToActorDefinitionTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/ArchiveHandlerTest.java
Labels: area/platform, area/server

#10051 Add release_stage and release_date to ActorDefinition table
  airbyte-api/src/main/openapi/config.yaml
  airbyte-bootloader/src/test/java/io/airbyte/bootloader/BootloaderAppTest.java
  airbyte-config/models/src/main/resources/types/StandardDestinationDefinition.yaml
  airbyte-config/models/src/main/resources/types/StandardSourceDefinition.yaml
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/DatabaseConfigPersistence.java
  airbyte-config/persistence/src/test/java/io/airbyte/config/persistence/DatabaseConfigPersistenceTest.java
  airbyte-db/lib/src/main/java/io/airbyte/db/instance/configs/migrations/V0_35_15_001__AddReleaseStageAndReleaseDateToActorDefinition.java
  airbyte-db/lib/src/main/resources/configs_database/normalized_tables_schema.txt
  airbyte-db/lib/src/main/resources/configs_database/schema_dump.txt
  airbyte-db/lib/src/test/java/io/airbyte/db/instance/configs/migrations/V0_35_15_001__AddReleaseStageAndReleaseDateToActorDefinition_Test.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/DestinationDefinitionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SourceDefinitionsHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/DestinationDefinitionsHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/SourceDefinitionsHandlerTest.java
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api, area/platform, area/server

#10108 prevent worker initialization from getting stuck
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerApp.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalUtils.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/TemporalUtilsTest.java
Labels: area/worker, area/platform

#10118 Bump Airbyte version from 0.35.16-alpha to 0.35.17-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/templates/env-configmap.yaml
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/dev-integration-test/.env
  kube/overlays/dev/.env
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#10127 make orchestrator cleanup safer
  airbyte-container-orchestrator/src/main/java/io/airbyte/container_orchestrator/ContainerOrchestratorApp.java
  airbyte-workers/src/main/java/io/airbyte/workers/DefaultReplicationWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerApp.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/AsyncOrchestratorPodProcess.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalAttemptExecution.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/check/connection/CheckConnectionActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/discover/catalog/DiscoverCatalogActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/spec/SpecActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/DbtLauncherWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/DbtTransformationActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/LauncherWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/NormalizationActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/NormalizationLauncherWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/ReplicationActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/ReplicationLauncherWorker.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/TemporalAttemptExecutionTest.java
Labels: area/worker, area/platform

#10133 fix envmap test on CI
  airbyte-workers/src/test/java/io/airbyte/workers/process/DockerProcessFactoryTest.java
Labels: area/worker, area/platform

#10134 Bump Airbyte version from 0.35.17-alpha to 0.35.18-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#10138 🎉 Source Facebook Marketing: add `primary_key` for all insights streams
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/test_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors

#9341 :bug: normalization for bigquery: allow datasetId and table to start with number
  airbyte-integrations/bases/base-normalization/Dockerfile
  airbyte-integrations/bases/base-normalization/normalization/transform_catalog/destination_name_transformer.py
  airbyte-integrations/bases/base-normalization/unit_tests/test_destination_name_transformer.py
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/NormalizationRunnerFactory.java
  docs/understanding-airbyte/basic-normalization.md
Labels: area/documentation, area/worker, normalization, area/platform

#10156 add namespace for container orchestrator creation
  airbyte-workers/src/main/java/io/airbyte/workers/process/AsyncOrchestratorPodProcess.java
Labels: area/worker, area/platform

#10157 Bump Airbyte version from 0.35.18-alpha to 0.35.19-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#10163 Bump Airbyte version from 0.35.19-alpha to 0.35.20-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#10166 Add failureReason enum values that were unsafely removed
  airbyte-api/src/main/openapi/config.yaml
  airbyte-config/models/src/main/resources/types/FailureReason.yaml
Labels: area/api, area/platform

#10167 Bump Airbyte version from 0.35.20-alpha to 0.35.21-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#10168 add secret mounting for orchestrator
  airbyte-config/models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerApp.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/AsyncOrchestratorPodProcess.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/LauncherWorker.java
  airbyte-workers/src/test-integration/java/io/airbyte/workers/process/AsyncOrchestratorPodProcessIntegrationTest.java
Labels: area/worker, area/platform

#10169 allow injecting the image for the container orchestrator
  airbyte-commons/src/test/java/io/airbyte/commons/version/AirbyteVersionTest.java
  airbyte-config/models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerApp.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/AsyncOrchestratorPodProcess.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/DbtLauncherWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/DbtTransformationActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/LauncherWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/NormalizationActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/NormalizationLauncherWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/ReplicationActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/ReplicationLauncherWorker.java
  airbyte-workers/src/test-integration/java/io/airbyte/workers/process/AsyncOrchestratorPodProcessIntegrationTest.java
Labels: area/worker, area/platform

#10170 Bump Airbyte version from 0.35.21-alpha to 0.35.22-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#10171 Bump Airbyte version from 0.35.22-alpha to 0.35.23-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#10152 Change progress bar speed
  airbyte-webapp/src/components/ProgressBar/ProgressBar.tsx
Labels: area/frontend, area/platform

#10175 🐛 Source Shopify: fixed compatibility issues for legacy user config
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/9da77001-af33-4bcd-be46-6252bf9342b9.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-shopify/Dockerfile
  airbyte-integrations/connectors/source-shopify/acceptance-test-config.yml
  airbyte-integrations/connectors/source-shopify/integration_tests/invalid_config_old.json
  airbyte-integrations/connectors/source-shopify/source_shopify/auth.py
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/inventory_levels.json
  airbyte-integrations/connectors/source-shopify/source_shopify/spec.json
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors

#10184 Bump Airbyte version from 0.35.23-alpha to 0.35.24-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#10185 Minor Kube Changes.
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
Labels: area/worker, area/platform

#10045 Add right text to onboarding steps
  airbyte-webapp/src/locales/en.json
Labels: area/frontend, area/platform

#10125 Distinguish source/destination/replication failures in Replication Worker runnables
  airbyte-workers/src/main/java/io/airbyte/workers/DefaultReplicationWorker.java
  airbyte-workers/src/test/java/io/airbyte/workers/DefaultReplicationWorkerTest.java
Labels: area/worker, area/platform

#10043 Set Attempt to failed status when Job is cancelled, and record cancellation failure reason
  airbyte-workers/src/main/java/io/airbyte/workers/helper/FailureHelper.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityTest.java
Labels: area/worker, area/platform

#10195 set env var for GCP logging for container orchestrator
  airbyte-config/models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerApp.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/AsyncOrchestratorPodProcess.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/LauncherWorker.java
  airbyte-workers/src/test-integration/java/io/airbyte/workers/process/AsyncOrchestratorPodProcessIntegrationTest.java
Labels: area/worker, area/platform

#10196 Bump Airbyte version from 0.35.24-alpha to 0.35.25-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#10198 fix normalization output processing in container orchestrator
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/LauncherWorker.java
Labels: area/worker, area/platform

#10201 Bump Airbyte version from 0.35.25-alpha to 0.35.26-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#9982 tweak snowflake destination to hide INSERT load method
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/resources/spec.json
Labels: area/connectors

#7102 Add Usage per connection block
  airbyte-webapp/src/components/ContentCard/ContentCard.tsx
  airbyte-webapp/src/components/Table/Table.tsx
  airbyte-webapp/src/hooks/services/useDestinationDefinition.tsx
  airbyte-webapp/src/hooks/services/useSourceDefinition.tsx
  airbyte-webapp/src/packages/cloud/lib/domain/cloudWorkspaces/types.ts
  airbyte-webapp/src/packages/cloud/locales/en.json
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/components/ConnectionCell.tsx
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/components/CreditsUsagePage.tsx
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/components/UsageCell.tsx
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/components/UsagePerConnectionTable.tsx
  airbyte-webapp/src/packages/cloud/views/layout/SideBar/SideBar.tsx
Labels: area/frontend, area/platform

#9999 🐛Source Github: remove BAD_GATEWAY code from backoff_time
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors

#10130 feat: added a new feature to copy all the job info
  airbyte-webapp/src/components/JobItem/JobItem.tsx
  airbyte-webapp/src/components/JobItem/components/AttemptDetails.tsx
  airbyte-webapp/src/components/JobItem/components/DebugInfoButton.tsx
  airbyte-webapp/src/components/JobItem/components/DebugInfoDetailsModal.tsx
  airbyte-webapp/src/components/JobItem/components/JobLogs.tsx
  airbyte-webapp/src/components/JobItem/components/LogsDetails.tsx
  airbyte-webapp/src/components/JobItem/components/MainInfo.tsx
  airbyte-webapp/src/components/JobItem/components/Tabs.tsx
  airbyte-webapp/src/components/StatusIcon/StatusIcon.tsx
  airbyte-webapp/src/components/StepsMenu/StepsMenu.tsx
  airbyte-webapp/src/components/StepsMenu/components/Step.tsx
  airbyte-webapp/src/core/domain/job/Job.ts
  airbyte-webapp/src/core/domain/job/JobsService.tsx
  airbyte-webapp/src/core/statuses.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/services/job/JobService.tsx
  airbyte-webapp/src/theme.ts
Labels: area/frontend, area/platform

#10180 🎉 Source Facebook Marketing: Add AdAccount and Images stream implementation
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e7778cfc-e97c-4458-9ecb-b4f2bba8946c.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/README.md
  airbyte-integrations/connectors/source-facebook-marketing/acceptance-test-config.yml
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/configured_catalog_without_insights.json
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/future_state.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/ad_account.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/images.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/source.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors

#10039 Add deployment affinity.
  charts/airbyte/templates/pod-sweeper/deployment.yaml
  charts/airbyte/templates/scheduler/deployment.yaml
  charts/airbyte/templates/server/deployment.yaml
  charts/airbyte/templates/temporal/deployment.yaml
  charts/airbyte/templates/webapp/deployment.yaml
  charts/airbyte/templates/worker/deployment.yaml
  charts/airbyte/values.yaml
Labels: area/platform, kubernetes, community

#10173 JDBC sources: update for sources that not have permissions issues
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/447e0381-3780-4b46-bb62-00a4e3c8b8e2.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/9fa5862c-da7c-11eb-8d19-0242ac130003.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/decd338e-5647-4c0b-adf4-da0e75f5a750.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-cockroachdb-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-cockroachdb/Dockerfile
  airbyte-integrations/connectors/source-cockroachdb/src/main/java/io/airbyte/integrations/source/cockroachdb/CockroachDbSource.java
  airbyte-integrations/connectors/source-db2-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-db2/Dockerfile
  airbyte-integrations/connectors/source-db2/src/main/java/io.airbyte.integrations.source.db2/Db2Source.java
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  docs/integrations/sources/cockroachdb.md
  docs/integrations/sources/db2.md
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors

#10165 🎉 Source Stripe:: improve 404 handling for `CheckoutSessionsLineItems` stream
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e094cb9a-26de-4645-8761-65c0c425d1de.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-stripe/Dockerfile
  airbyte-integrations/connectors/source-stripe/acceptance-test-config.yml
  airbyte-integrations/connectors/source-stripe/setup.py
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_streams.py
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors

#9439 Documentation: add Dagster integration
  docs/SUMMARY.md
  docs/operator-guides/using-dagster-integration.md
Labels: area/documentation

#10227 separate replication orchestrator resource requests
  airbyte-config/models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerConfigs.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/ReplicationLauncherWorker.java
Labels: area/worker, area/platform

#10228 Do not set cancel as true in a reset
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/state/WorkflowState.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/state/listener/WorkflowStateChangedListener.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowTest.java
Labels: area/worker, area/platform

#10233 fix partial success check
  airbyte-webapp/src/components/JobItem/JobItem.tsx
Labels: area/frontend, area/platform

#10232 Helm chart: fix CONFIGS_DATABASE_MINIMUM_FLYWAY_MIGRATION_VERSION in env-configmap.yaml
  charts/airbyte/templates/env-configmap.yaml
Labels: area/platform, kubernetes, community

#10234 Bump Airbyte version from 0.35.26-alpha to 0.35.27-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#10055 Source Hubspot: fix "quotes" key error exception
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/source_hubspot/source.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/__init__.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_client.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors

#9707 update code-checkers config
  airbyte-integrations/connectors/tasks.py
  pyproject.toml
Labels: area/connectors

#10218 Add missing annotations
  charts/airbyte/templates/bootloader/pod.yaml
  charts/airbyte/templates/scheduler/deployment.yaml
  charts/airbyte/templates/server/deployment.yaml
  charts/airbyte/templates/temporal/deployment.yaml
  charts/airbyte/values.yaml
Labels: area/platform, kubernetes, community

#10143 🎉 Source Chargebee: add event model
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/686473f1-76d9-4994-9cc7-9b13da46147c.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-chargebee/Dockerfile
  airbyte-integrations/connectors/source-chargebee/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/event.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/source.py
  airbyte-integrations/connectors/source-chargebee/source_chargebee/streams.py
  docs/integrations/sources/chargebee.md
Labels: area/documentation, area/connectors, community

#10150 🎉 Source Google Ads: Implement multiple customer ids for google ads
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-ads/integration_tests/configured_catalog_without_empty_streams.json
  airbyte-integrations/connectors/source-google-ads/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-google-ads/integration_tests/test_incremental.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/google_ads.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/spec.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_google_ads.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_source.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_streams.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors

#10251 :bug: Source MySQL CDC: sync failed when has Zero-date value in mandatory column
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/435bb9a5-7887-4809-aa58-28c27df0d7ad.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/MySQLConverter.java
  airbyte-integrations/connectors/source-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/source/mysql/CdcMySqlSourceDatatypeTest.java
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors

#10263 fix: shows partialSuccess icon for all attempts instead of individual status
  airbyte-webapp/src/components/JobItem/JobItem.tsx
  airbyte-webapp/src/components/JobItem/components/JobLogs.tsx
  airbyte-webapp/src/components/JobItem/components/LogsDetails.tsx
  airbyte-webapp/src/components/JobItem/components/MainInfo.tsx
  airbyte-webapp/src/locales/en.json
Labels: area/frontend, area/platform

#10275 Add CODEOWNERS and notify workflow
  .github/CODEOWNERS
  .github/workflows/notify-on-label.yml
Labels: build

#10238 Move to DogStatsD.
  airbyte-metrics/build.gradle
  airbyte-metrics/src/main/java/io/airbyte/metrics/DogstatsdMetricSingleton.java
  airbyte-metrics/src/main/java/io/airbyte/metrics/PrometheusBaseExample.java
  airbyte-metrics/src/main/java/io/airbyte/metrics/PrometheusMetricSingleton.java
  airbyte-metrics/src/test/java/io/airbyte/metrics/PrometheusMetricSingletonTest.java
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/SchedulerApp.java
Labels: area/platform, area/scheduler

#10267 Change streamr guide
  docs/integrations/destinations/streamr.md
Labels: area/documentation, community

#9935 :bug: Source BigCommerce: Fix `date-time` columns for `orders` (V2 stream)
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/59c5501b-9f95-411e-9269-7143c939adbd.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-bigcommerce/Dockerfile
  airbyte-integrations/connectors/source-bigcommerce/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-bigcommerce/integration_tests/catalog.json
  airbyte-integrations/connectors/source-bigcommerce/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-bigcommerce/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-bigcommerce/source_bigcommerce/schemas/orders.json
  airbyte-integrations/connectors/source-bigcommerce/source_bigcommerce/source.py
  docs/integrations/sources/bigcommerce.md
Labels: area/documentation, area/connectors, community

#10292 Bump Airbyte version from 0.35.27-alpha to 0.35.28-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#10298 🎉 End-to-end test source: support stream duplication
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/sentry/AirbyteSentry.java
  airbyte-integrations/connectors/source-e2e-test-cloud/Dockerfile
  airbyte-integrations/connectors/source-e2e-test-cloud/src/main/java/io/airbyte/integrations/source/e2e_test/CloudTestingSources.java
  airbyte-integrations/connectors/source-e2e-test-cloud/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/source-e2e-test/Dockerfile
  airbyte-integrations/connectors/source-e2e-test/src/main/java/io/airbyte/integrations/source/e2e_test/ContinuousFeedConfig.java
  airbyte-integrations/connectors/source-e2e-test/src/main/java/io/airbyte/integrations/source/e2e_test/ContinuousFeedSource.java
  airbyte-integrations/connectors/source-e2e-test/src/main/java/io/airbyte/integrations/source/e2e_test/TestingSources.java
  airbyte-integrations/connectors/source-e2e-test/src/main/resources/spec.json
  airbyte-integrations/connectors/source-e2e-test/src/test/java/io/airbyte/integrations/source/e2e_test/ContinuousFeedConfigTest.java
  airbyte-integrations/connectors/source-e2e-test/src/test/java/io/airbyte/integrations/source/e2e_test/GeneratorTest.java
  airbyte-integrations/connectors/source-e2e-test/src/test/resources/parse_mock_catalog_test_cases.json
  docs/integrations/sources/e2e-test.md
Labels: area/documentation, area/connectors

#10299 🎉 Destination GCS: fix connection check
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-gcs/Dockerfile
  airbyte-integrations/connectors/destination-gcs/src/main/java/io/airbyte/integrations/destination/gcs/GcsDestination.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3Destination.java
  docs/integrations/destinations/gcs.md
Labels: area/documentation, area/connectors

#9926 🐛 CDK: fixing type errors
  airbyte-cdk/python/airbyte_cdk/sources/singer/singer_helpers.py
  airbyte-cdk/python/airbyte_cdk/sources/singer/source.py
  airbyte-cdk/python/airbyte_cdk/sources/utils/schema_helpers.py
  airbyte-cdk/python/airbyte_cdk/sources/utils/sentry.py
  airbyte-cdk/python/setup.py
Labels: CDK

#10278 Fix failing sonar-scan without changes
  .github/workflows/sonar-scan.yml
Labels: build

#10306 Remove prometheus related metrics.
  airbyte-metrics/build.gradle
  airbyte-metrics/src/main/java/io/airbyte/metrics/PrometheusMetricSingleton.java
  airbyte-metrics/src/test/java/io/airbyte/metrics/PrometheusMetricSingletonTest.java
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/SchedulerApp.java
Labels: area/platform, area/scheduler

#10211 :tada: Source GitHub - added more meaningful error description for connector check
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/ef69ef6e-aa7f-4af1-a01d-ef775033524e.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/source_github/source.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors

#10321 Disable flaky test
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowTest.java
Labels: area/worker, area/platform

#9966 Helm chart: Getting job container resource configs from values and log configs from secret
  charts/airbyte/templates/env-configmap.yaml
  charts/airbyte/templates/scheduler/deployment.yaml
  charts/airbyte/templates/server/deployment.yaml
  charts/airbyte/templates/worker/deployment.yaml
  charts/airbyte/values.yaml
Labels: area/platform, kubernetes, community

#10296 fix race conditions in ConnectionManagerWorkflowTest
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/testsyncworkflow/SleepingSyncWorkflow.java
Labels: area/worker, area/platform

#10324 Bump Airbyte version from 0.35.28-alpha to 0.35.29-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#10335 Fix connector build
  airbyte-integrations/bases/base-normalization/dbt-project-template-clickhouse/packages.yml
Labels: normalization

#10297 🎉 Destination snowflake: reduce memory consumption
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination/buffered_stream_consumer/BufferedStreamConsumer.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/DataAdapter.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/JdbcSqlOperations.java
  airbyte-integrations/connectors/destination-postgres/src/main/java/io/airbyte/integrations/destination/postgres/PostgresSqlOperations.java
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingConsumerFactory.java
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors

#10318 :bug: Prevented double slashes in S3 destination path
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/4816b78f-1489-44c1-9060-4b19d5fa9362.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-s3/Dockerfile
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/util/S3OutputPathHelper.java
  airbyte-integrations/connectors/destination-s3/src/test/java/io/airbyte/integrations/destination/s3/util/S3OutputPathHelperTest.java
  docs/integrations/destinations/s3.md
Labels: area/documentation, area/connectors

#10343 Update Quickbooks to QuickBooks
  docs/integrations/sources/quickbooks.md
Labels: area/documentation

#10200 Configure kube pod process per job type
  airbyte-config/models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-config/models/src/test/java/io/airbyte/config/EnvConfigsTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerApp.java
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerConfigs.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubeProcessFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/ReplicationLauncherWorker.java
  airbyte-workers/src/test-integration/java/io/airbyte/workers/process/KubePodProcessIntegrationTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/DefaultCheckConnectionWorkerTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/WorkerConfigsTest.java
Labels: area/worker, area/platform

#10142 :tada:Source hubspot: add associations to tickets stream.
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/source_hubspot/client.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/tickets.json
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, community

#9920 :bug: Snowflake Destination: use better file size with S3 staging files
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/424892c4-daac-4491-b35d-c6688ba547ba.json
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/f7a7d195-377f-cf5b-70a5-be6b819019dc.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination/buffered_stream_consumer/BufferedStreamConsumer.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination/buffered_stream_consumer/CheckAndRemoveRecordWriter.java
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksStreamCopier.java
  airbyte-integrations/connectors/destination-jdbc/Dockerfile
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/constants/GlobalDataSizeConstants.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/CopyConsumerFactory.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/StreamCopier.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/gcs/GcsStreamCopier.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/s3/LegacyS3StreamCopier.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/s3/LegacyS3StreamCopierFactory.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/s3/S3StreamCopier.java
  airbyte-integrations/connectors/destination-jdbc/src/test/java/io/airbyte/integrations/destination/jdbc/StagingFilenameGeneratorTest.java
  airbyte-integrations/connectors/destination-jdbc/src/test/java/io/airbyte/integrations/destination/jdbc/copy/s3/LegacyS3StreamCopierTest.java
  airbyte-integrations/connectors/destination-redshift/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  docs/integrations/destinations/redshift.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors

#10358 Bump Airbyte version from 0.35.29-alpha to 0.35.30-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#10121 If an activity is failing, stuck the workflow and make it queriable
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflow.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/state/WorkflowState.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/state/listener/TestStateListener.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/state/listener/WorkflowStateChangedListener.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowTest.java
Labels: area/worker, area/platform

#10269 Source Chargebee: added coupon
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/coupon.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/source.py
  airbyte-integrations/connectors/source-chargebee/source_chargebee/streams.py
  docs/integrations/sources/chargebee.md
Labels: area/documentation, area/connectors, community

#10329 Publish PR 10269: new stream coupon for chargebee connector
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-chargebee/Dockerfile
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/coupon.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/source.py
  airbyte-integrations/connectors/source-chargebee/source_chargebee/streams.py
  docs/integrations/sources/chargebee.md
Labels: area/documentation, area/connectors

#10342 🐞 Snowflake destination: use pooled connections
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-db/lib/src/main/java/io/airbyte/db/Databases.java
  airbyte-db/lib/src/main/java/io/airbyte/db/jdbc/CloseableConnectionSupplier.java
  airbyte-db/lib/src/main/java/io/airbyte/db/jdbc/DataSourceConnectionSupplier.java
  airbyte-db/lib/src/main/java/io/airbyte/db/jdbc/DefaultJdbcDatabase.java
  airbyte-db/lib/src/main/java/io/airbyte/db/jdbc/JdbcDatabase.java
  airbyte-db/lib/src/main/java/io/airbyte/db/jdbc/StreamingJdbcDatabase.java
  airbyte-db/lib/src/test/java/io/airbyte/db/jdbc/TestDefaultJdbcDatabase.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/JdbcSqlOperations.java
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeDatabase.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeSqlOperations.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeStagingSqlOperations.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeDestinationIntegrationTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeInsertDestinationAcceptanceTest.java
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors

#10213 update Snowflake destination docs with more info
  docs/integrations/destinations/snowflake.md
Labels: area/documentation

#10214 Source Clickhouse: Fix exception in case `password` field is not provided in configuration
  airbyte-integrations/connectors/source-clickhouse-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-clickhouse/Dockerfile
  airbyte-integrations/connectors/source-clickhouse/src/main/java/io/airbyte/integrations/source/clickhouse/ClickHouseSource.java
  docs/integrations/sources/clickhouse.md
Labels: area/documentation, area/connectors, community

#10186 kafka (source, destination), added scram-sha-512 authentication
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/destination-kafka/Dockerfile
  airbyte-integrations/connectors/destination-kafka/src/main/resources/spec.json
  airbyte-integrations/connectors/source-kafka/Dockerfile
  airbyte-integrations/connectors/source-kafka/src/main/resources/spec.json
  docs/integrations/destinations/kafka.md
Labels: area/documentation, area/connectors, community

#10219 Normalization Clickhouse: Fix exception in case password is not provided
  airbyte-integrations/bases/base-normalization/Dockerfile
  airbyte-integrations/bases/base-normalization/normalization/transform_config/transform.py
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/NormalizationRunnerFactory.java
Labels: area/worker, normalization, area/platform, community

#10374 Accelerate snowflake integration test
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/DestinationAcceptanceTest.java
  airbyte-integrations/connectors/source-snowflake/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/SnowflakeSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-snowflake/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/SnowflakeSourceDatatypeTest.java
Labels: area/connectors

#10371 Clean up jdbc databases
  airbyte-db/lib/src/main/java/io/airbyte/db/Databases.java
  airbyte-db/lib/src/main/java/io/airbyte/db/jdbc/CloseableConnectionSupplier.java
  airbyte-db/lib/src/main/java/io/airbyte/db/jdbc/DataSourceConnectionSupplier.java
  airbyte-db/lib/src/main/java/io/airbyte/db/jdbc/DefaultJdbcDatabase.java
  airbyte-db/lib/src/main/java/io/airbyte/db/jdbc/JdbcQueryFunction.java
  airbyte-db/lib/src/main/java/io/airbyte/db/jdbc/JdbcStreamingQueryConfiguration.java
  airbyte-db/lib/src/main/java/io/airbyte/db/jdbc/StreamingJdbcDatabase.java
  airbyte-db/lib/src/test/java/io/airbyte/db/jdbc/TestStreamingJdbcDatabase.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeDatabase.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/source/mysql/CdcMySqlSourceDatatypeTest.java
Labels: area/connectors

#9746 CDK: add support for streams with state attribute
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/abstract_source.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/core.py
  airbyte-cdk/python/docs/concepts/incremental-stream.md
  airbyte-cdk/python/docs/tutorials/cdk-tutorial-python-http/6-read-data.md
  airbyte-cdk/python/docs/tutorials/http_api_source.md
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/test_abstract_source.py
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/configured_catalog.json
  docs/connector-development/cdk-python/incremental-stream.md
  docs/connector-development/tutorials/cdk-tutorial-python-http/6-read-data.md
Labels: area/documentation, area/connectors, CDK

#9805 🎉 🎉 Source FB Marketing: performance and reliability fixes
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e7778cfc-e97c-4458-9ecb-b4f2bba8946c.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/README.md
  airbyte-integrations/connectors/source-facebook-marketing/acceptance-test-config.yml
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/configured_catalog_without_insights.json
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/conftest.py
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/test_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/setup.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/README.md
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/api.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/async_job.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/ad_account.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/images.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/source.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/spec.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/__init__.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/async_job.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/async_job_manager.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/base_insight_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/base_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/common.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/conftest.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_async_job.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_async_job_manager.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_base_insight_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_client.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_deep_merge.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_source.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_streams.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors

#10362 🎉 Destination MySQL: Add jdbc_url_params support for optional JDBC parameters
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-mysql/Dockerfile
  airbyte-integrations/connectors/destination-mysql/src/main/java/io/airbyte/integrations/destination/mysql/MySQLDestination.java
  airbyte-integrations/connectors/destination-mysql/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-mysql/src/test-integration/java/io/airbyte/integrations/destination/mysql/SshMySQLDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mysql/src/test/java/io/airbyte/integrations/destination/mysql/MySQLDestinationTest.java
  docs/integrations/destinations/mysql.md
Labels: area/documentation, area/connectors

#10394 🎉 Snowflake destination: reduce memory footprint
  airbyte-cdk/python/airbyte_cdk/sources/streams/core.py
  airbyte-commons/src/main/java/io/airbyte/commons/bytes/ByteUtils.java
  airbyte-commons/src/test/java/io/airbyte/commons/bytes/ByteUtilsTest.java
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/IntegrationRunner.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination/buffered_stream_consumer/BufferedStreamConsumer.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination/buffered_stream_consumer/RecordSizeEstimator.java
  airbyte-integrations/bases/base-java/src/test/java/io/airbyte/integrations/destination/buffered_stream_consumer/BufferedStreamConsumerTest.java
  airbyte-integrations/bases/base-java/src/test/java/io/airbyte/integrations/destination/buffered_stream_consumer/RecordSizeEstimatorTest.java
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeStagingSqlOperations.java
  airbyte-workers/src/main/java/io/airbyte/workers/DefaultReplicationWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/DockerProcessFactory.java
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, area/worker, CDK, area/platform

#10294 continue workflows on restarts
  airbyte-container-orchestrator/src/main/java/io/airbyte/container_orchestrator/ContainerOrchestratorApp.java
  airbyte-tests/build.gradle
  airbyte-tests/src/acceptanceTests/java/io/airbyte/test/acceptance/AcceptanceTests.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalUtils.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/LauncherWorker.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/TemporalUtilsTest.java
  tools/bin/acceptance_test_kube_schedulerv2.sh
Labels: area/worker, area/platform

#10120 Track const config values in analytics
  airbyte-commons/src/main/java/io/airbyte/commons/json/Jsons.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/job_tracker/JobTracker.java
  airbyte-scheduler/persistence/src/main/resources/example_config.json
  airbyte-scheduler/persistence/src/main/resources/example_config_schema.json
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/job_tracker/JobTrackerTest.java
Labels: area/platform, area/scheduler

#10443 Add a maximum page size and use the count instead of the list
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalClient.java
Labels: area/worker, area/platform

#10446 Bump Airbyte version from 0.35.30-alpha to 0.35.31-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#10408 Set up initial metrics reporter.
  .bumpversion.cfg
  airbyte-metrics/lib/README.md
  airbyte-metrics/lib/build.gradle
  airbyte-metrics/lib/src/main/java/io/airbyte/metrics/lib/DogstatsdMetricSingleton.java
  airbyte-metrics/reporter/Dockerfile
  airbyte-metrics/reporter/README.md
  airbyte-metrics/reporter/build.gradle
  airbyte-metrics/reporter/src/main/java/io/airbyte/metrics/reporter/ReporterApp.java
  airbyte-scheduler/app/build.gradle
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/SchedulerApp.java
  settings.gradle
Labels: area/platform, area/scheduler

#10319 Show warning for Alpha and Beta connectors
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/views/Connector/ServiceForm/components/Controls/ConnectorServiceTypeControl.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/WarningMessage.tsx
Labels: area/frontend, area/platform

#10461 Bump Airbyte version from 0.35.31-alpha to 0.35.32-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#10370 Bmoric/refacto connection manager
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalClient.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionUpdaterInput.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/ConfigFetchActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/GenerateInputActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/GenerateInputActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/state/WorkflowState.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/state/listener/WorkflowStateChangedListener.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowTest.java
Labels: area/worker, area/platform

#10439 Bmoric/add worflow internal state
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/state/WorkflowInternalState.java
Labels: area/worker, area/platform

#10473 Add database object to ConfigRepository
  airbyte-bootloader/src/main/java/io/airbyte/bootloader/BootloaderApp.java
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java
  airbyte-config/persistence/src/test/java/io/airbyte/config/persistence/ConfigRepositoryTest.java
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/SchedulerApp.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/ArchiveHandlerTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerApp.java
Labels: area/worker, area/platform, area/server, area/scheduler

#10430 Add banner when there is a problem with credits
  airbyte-webapp/src/packages/cloud/lib/domain/cloudWorkspaces/types.ts
  airbyte-webapp/src/packages/cloud/locales/en.json
  airbyte-webapp/src/packages/cloud/views/layout/MainView/MainView.tsx
  airbyte-webapp/src/packages/cloud/views/layout/MainView/components/CreditsProblemBanner.tsx
  airbyte-webapp/src/theme.ts
Labels: area/frontend, area/platform

#10454 🎉 Salesforce Source: Support "Replicate Incremental Deletes"
  airbyte-integrations/connectors/source-salesforce/integration_tests/integration_test.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors

#10177 🎉 Source Hubspot: Migrate to CDK
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/acceptance-test-config.yml
  airbyte-integrations/connectors/source-hubspot/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-hubspot/setup.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/client.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/source.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_field_type_converting.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_source.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors
