Repository airbytehq/airbyte, pull requests merged in 2022-01, with the labels that each got.

#9098 Simplify Connection handler prototyp
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/ConnectionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/DestinationHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SourceHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WorkspacesHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/ConnectionsHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/SourceHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WebBackendConnectionsHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WorkspacesHandlerTest.java
Labels: area/platform, area/server

#9212 Source Amazon Seller Partner: GET_SELLER_FEEDBACK_DATA normalize header field names
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e55879a8-0ef8-4557-abcf-ab34c53ec460.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/Dockerfile
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_SELLER_FEEDBACK_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_transform_function.py
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation, area/connectors, community

#9076 Bmoric/migrate existing schedule
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalClient.java
  airbyte-workers/src/main/java/io/airbyte/workers/worker_run/TemporalWorkerRunFactory.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/TemporalClientTest.java
Labels: area/worker, area/platform, area/server

#9219 Documentation: Fix headers link in Postgres doc
  docs/integrations/sources/postgres.md
Labels: area/documentation

#9191 Document `MAX_*_WORKERS` in Workers & Jobs
  docs/understanding-airbyte/jobs.md
Labels: area/documentation, type/enhancement

#9260 raise init pod termination check timeout to 5 minutes
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
Labels: area/worker, area/platform

#9262 Bump Airbyte version from 0.35.2-alpha to 0.35.3-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#9268 Add test delays
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/testsyncworkflow/SleepingSyncWorkflow.java
Labels: area/worker, area/platform

#9249 Document various available configuration.
  airbyte-commons/src/main/resources/log4j2.xml
  airbyte-config/models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  docs/SUMMARY.md
  docs/operator-guides/scaling-airbyte.md
  docs/understanding-airbyte/configuring-airbyte.md
Labels: area/documentation

#9272 Move configurating airbyte doc to operator guides.
  docs/SUMMARY.md
  docs/operator-guides/configuring-airbyte.md
Labels: area/documentation

#9250 Helm chart: add preinstall hook to env-configmap
  charts/airbyte/templates/bootloader/pod.yaml
  charts/airbyte/templates/env-configmap.yaml
Labels: area/platform, kubernetes

#9270 Update fields in source-connectors specifications: jdbc
  airbyte-integrations/connectors/source-jdbc/Dockerfile
  airbyte-integrations/connectors/source-jdbc/src/main/resources/spec.json
Labels: area/documentation, area/connectors

#9158 Update fields in destination-connectors specifications: mssql, mssql-strict-encrypt
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/d4353156-9217-4cad-8dd7-c108fd4f74cf.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-mssql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/destination-mssql-strict-encrypt/src/test-integration/resources/expected_spec.json
  airbyte-integrations/connectors/destination-mssql/Dockerfile
  airbyte-integrations/connectors/destination-mssql/src/main/resources/spec.json
  docs/integrations/destinations/mssql.md
Labels: area/documentation, area/connectors

#9266 Increase sidecars' memory limit
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
Labels: area/worker, area/platform, community

#9236 Source Amazon Seller Partner: fix NoAuth deprecation warning
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e55879a8-0ef8-4557-abcf-ab34c53ec460.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/Dockerfile
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_reports_streams_rate_limits.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_transform_function.py
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation, area/connectors, community, connectors/sources-api, connectors/source/amazon_seller_partner

#9275 🐛 Source Delighted: Fix pagination for `survey_responses`, `bounces` and `unsubscribes` streams
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-delighted/Dockerfile
  airbyte-integrations/connectors/source-delighted/acceptance-test-config.yml
  airbyte-integrations/connectors/source-delighted/source_delighted/schemas/survey_responses.json
  airbyte-integrations/connectors/source-delighted/source_delighted/source.py
  docs/integrations/sources/delighted.md
Labels: area/documentation, area/connectors

#9288 decrease cost of health check
  airbyte-api/src/main/openapi/config.yaml
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/SchedulerApp.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/HealthCheckHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/HealthCheckHandlerTest.java
  airbyte-webapp/src/config/defaultConfig.ts
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/frontend, area/api, area/platform, area/server, area/scheduler

#9278 Refactor SCD Jinja templates for normalization
  airbyte-integrations/bases/base-normalization/normalization/transform_catalog/stream_processor.py
Labels: normalization

#7976 🎉 Source Zendesk Sunshine: support oauth
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-zendesk-sunshine/Dockerfile
  airbyte-integrations/connectors/source-zendesk-sunshine/acceptance-test-config.yml
  airbyte-integrations/connectors/source-zendesk-sunshine/integration_tests/invalid_config_api_token.json
  airbyte-integrations/connectors/source-zendesk-sunshine/integration_tests/invalid_config_oauth.json
  airbyte-integrations/connectors/source-zendesk-sunshine/source_zendesk_sunshine/source.py
  airbyte-integrations/connectors/source-zendesk-sunshine/source_zendesk_sunshine/spec.json
  airbyte-integrations/connectors/source-zendesk-sunshine/source_zendesk_sunshine/streams.py
  airbyte-oauth/src/main/java/io/airbyte/oauth/OAuthImplementationFactory.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/ZendeskSunshineOAuthFlow.java
  airbyte-oauth/src/test/java/io/airbyte/oauth/flows/ZendeskSunshineOAuthFlowTest.java
  docs/integrations/sources/zendesk-sunshine.md
Labels: area/documentation, area/connectors

#9294 Publish source Amazon SP: fix source only pulls first 100 orders
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/Dockerfile
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation, area/connectors

#9297 fix typo
  airbyte-integrations/connectors/source-gitlab/source_gitlab/spec.json
Labels: area/connectors, community

#9072 Publish PR 9029: clickhouse normalization
  airbyte-integrations/bases/base-normalization/.dockerignore
  airbyte-integrations/bases/base-normalization/Dockerfile
  airbyte-integrations/bases/base-normalization/build.gradle
  airbyte-integrations/bases/base-normalization/docker-compose.yaml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/first_output/airbyte_incremental/scd/test_normalization/dedup_cdc_excluded_scd.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/first_output/airbyte_incremental/scd/test_normalization/dedup_exchange_rate_scd.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/first_output/airbyte_incremental/scd/test_normalization/renamed_dedup_cdc_excluded_scd.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/first_output/airbyte_incremental/test_normalization/dedup_cdc_excluded.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/first_output/airbyte_incremental/test_normalization/dedup_exchange_rate.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/first_output/airbyte_incremental/test_normalization/renamed_dedup_cdc_excluded.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/first_output/airbyte_tables/test_normalization/exchange_rate.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/first_output/airbyte_views/test_normalization/dedup_cdc_excluded_ab3.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/first_output/airbyte_views/test_normalization/dedup_exchange_rate_stg.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/first_output/airbyte_views/test_normalization/pos_dedup_cdcx_ab3.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/first_output/airbyte_views/test_normalization/renamed_dedup_cdc_excluded_ab3.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/models/generated/airbyte_ctes/test_normalization/dedup_cdc_excluded_ab1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/models/generated/airbyte_ctes/test_normalization/dedup_cdc_excluded_ab2.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/models/generated/airbyte_ctes/test_normalization/dedup_exchange_rate_ab1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/models/generated/airbyte_ctes/test_normalization/dedup_exchange_rate_ab2.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/models/generated/airbyte_ctes/test_normalization/exchange_rate_ab1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/models/generated/airbyte_ctes/test_normalization/exchange_rate_ab2.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/models/generated/airbyte_ctes/test_normalization/exchange_rate_ab3.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/models/generated/airbyte_ctes/test_normalization/pos_dedup_cdcx_ab1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/models/generated/airbyte_ctes/test_normalization/pos_dedup_cdcx_ab2.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/models/generated/airbyte_ctes/test_normalization/renamed_dedup_cdc_excluded_ab1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/models/generated/airbyte_ctes/test_normalization/renamed_dedup_cdc_excluded_ab2.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/models/generated/airbyte_incremental/scd/test_normalization/dedup_cdc_excluded_scd.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/models/generated/airbyte_incremental/scd/test_normalization/dedup_exchange_rate_scd.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/models/generated/airbyte_incremental/scd/test_normalization/renamed_dedup_cdc_excluded_scd.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/models/generated/airbyte_incremental/test_normalization/dedup_cdc_excluded.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/models/generated/airbyte_incremental/test_normalization/dedup_exchange_rate.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/models/generated/airbyte_incremental/test_normalization/renamed_dedup_cdc_excluded.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/models/generated/airbyte_tables/test_normalization/exchange_rate.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/models/generated/airbyte_views/test_normalization/dedup_cdc_excluded_ab3.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/models/generated/airbyte_views/test_normalization/dedup_exchange_rate_stg.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/models/generated/airbyte_views/test_normalization/pos_dedup_cdcx_ab3.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/models/generated/airbyte_views/test_normalization/renamed_dedup_cdc_excluded_ab3.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/second_output/airbyte_tables/test_normalization/exchange_rate.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/second_output/airbyte_views/test_normalization/dedup_cdc_excluded_ab3.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/second_output/airbyte_views/test_normalization/dedup_exchange_rate_stg.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/second_output/airbyte_views/test_normalization/pos_dedup_cdcx_ab3.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/second_output/airbyte_views/test_normalization/renamed_dedup_cdc_excluded_ab3.sql
  airbyte-integrations/bases/base-normalization/normalization/transform_catalog/stream_processor.py
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/NormalizationRunnerFactory.java
  build.gradle
  settings.gradle
Labels: area/worker, normalization, area/platform

#9143 Update fields in source-connectors specifications: freshservice
  .gitignore
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-freshservice/Dockerfile
  airbyte-integrations/connectors/source-freshservice/source_freshservice/spec.json
  docs/integrations/sources/freshservice.md
Labels: area/documentation, area/connectors

#9101 Update fields in source-connectors specifications: freshsales
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/eca08d79-7b92-4065-b7f3-79c14836ebe7.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-freshsales/Dockerfile
  airbyte-integrations/connectors/source-freshsales/source_freshsales/spec.json
  airbyte-integrations/connectors/source-freshsales/unit_tests/test_source.py
  docs/integrations/sources/freshsales.md
Labels: area/documentation, area/connectors

#9186 Update fields in source-connectors specifications: google-search-console
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-google-search-console/Dockerfile
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/spec.json
  docs/integrations/sources/google-search-console.md
Labels: area/documentation, area/connectors

#9316 Add a note about the output of the engagements stream in Hubspot docs
  docs/integrations/sources/hubspot.md
Labels: area/documentation

#9116 🐛Source-postgres: added materialized views processing
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/decd338e-5647-4c0b-adf4-da0e75f5a750.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/PostgresSourceAcceptanceTest.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors

#9320 🐛 Source Mixpanel: bumped version, hot-fix.
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mixpanel/Dockerfile
  docs/integrations/sources/mixpanel.md
Labels: area/documentation, area/connectors

#9321 🐛 Update `bootloader` image to `0.35.3-alpha` in HelmCharts
  charts/airbyte/README.md
  charts/airbyte/values.yaml
Labels: area/platform, kubernetes, community

#9333 Source Delighted: add incremental sync mode to streams in `integration_tests/configured_catalog.json`
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-delighted/Dockerfile
  airbyte-integrations/connectors/source-delighted/integration_tests/configured_catalog.json
  docs/integrations/sources/delighted.md
Labels: area/documentation, area/connectors

#9091 Some updates for e2e tests
  airbyte-webapp-e2e-tests/cypress/global.d.ts
  airbyte-webapp-e2e-tests/cypress/support/commands/common.js
  airbyte-webapp-e2e-tests/cypress/support/commands/index.ts
  airbyte-webapp-e2e-tests/cypress/support/commands/sidebar.ts
  airbyte-webapp-e2e-tests/package-lock.json
  airbyte-webapp-e2e-tests/package.json
  airbyte-webapp-e2e-tests/tsconfig.json
  airbyte-webapp/src/components/SideMenu/SideMenu.tsx
  airbyte-webapp/src/components/SideMenu/components/MenuItem.tsx
  airbyte-webapp/src/packages/cloud/views/settings/CloudSettingsPage.tsx
Labels: area/frontend, area/platform

#9340 Include tcp port in Clickhouse destination configuration for normalization
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/bases/base-normalization/normalization/transform_config/transform.py
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/java/io/airbyte/integrations/destination/bigquery/formatter/DefaultBigQueryDenormalizedRecordFormatter.java
  airbyte-integrations/connectors/destination-clickhouse/Dockerfile
  airbyte-integrations/connectors/destination-clickhouse/src/main/resources/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
  airbyte-integrations/connectors/source-jira/source_jira/source.py
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/invoices.json
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/NormalizationRunnerFactory.java
Labels: area/connectors, area/worker, normalization, area/platform

#9317 🐛 Fix normalization issue with quoted & case sensitive columns
  airbyte-integrations/bases/base-normalization/.gitignore
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/bigquery/test_simple_streams/first_output/airbyte_views/test_normalization/multiple_column_names_conflicts_stg.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/bigquery/test_simple_streams/models/generated/sources.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/first_output/airbyte_incremental/test_normalization/dedup_cdc_excluded.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/first_output/airbyte_views/test_normalization/multiple_column_names_conflicts_stg.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/models/generated/airbyte_ctes/test_normalization/dedup_cdc_excluded_ab1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/models/generated/airbyte_ctes/test_normalization/dedup_cdc_excluded_ab2.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/models/generated/airbyte_ctes/test_normalization/exchange_rate_ab1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/models/generated/airbyte_ctes/test_normalization/exchange_rate_ab2.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/models/generated/airbyte_ctes/test_normalization/exchange_rate_ab3.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/models/generated/airbyte_ctes/test_normalization/pos_dedup_cdcx_ab1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/models/generated/airbyte_ctes/test_normalization/pos_dedup_cdcx_ab2.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/models/generated/airbyte_incremental/test_normalization/dedup_cdc_excluded.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/models/generated/sources.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/second_output/airbyte_incremental/scd/test_normalization/dedup_cdc_excluded_scd.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/second_output/airbyte_incremental/test_normalization/dedup_cdc_excluded.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mssql/test_simple_streams/first_output/airbyte_views/test_normalization/multiple_column_names_conflicts_stg.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mssql/test_simple_streams/models/generated/sources.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mysql/test_simple_streams/first_output/airbyte_views/test_normalization/multiple_column_names_conflicts_stg.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mysql/test_simple_streams/models/generated/sources.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/oracle/test_simple_streams/first_output/airbyte_views/test_normalization/multiple_column_names_conflicts_stg.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/oracle/test_simple_streams/models/generated/sources.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_simple_streams/first_output/airbyte_incremental/scd/test_normalization/multiple_column_names_conflicts_scd.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_simple_streams/first_output/airbyte_incremental/test_normalization/multiple_column_names_conflicts.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_simple_streams/first_output/airbyte_incremental/test_normalization/multiple_column_names_conflicts_stg.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_simple_streams/models/generated/airbyte_ctes/test_normalization/multiple_column_names_conflicts_ab1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_simple_streams/models/generated/airbyte_ctes/test_normalization/multiple_column_names_conflicts_ab2.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_simple_streams/models/generated/airbyte_incremental/scd/test_normalization/multiple_column_names_conflicts_scd.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_simple_streams/models/generated/airbyte_incremental/test_normalization/multiple_column_names_conflicts.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_simple_streams/models/generated/airbyte_incremental/test_normalization/multiple_column_names_conflicts_stg.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_simple_streams/models/generated/sources.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_simple_streams/second_output/airbyte_incremental/scd/test_normalization/multiple_column_names_conflicts_scd.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_simple_streams/second_output/airbyte_incremental/test_normalization/multiple_column_names_conflicts.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_simple_streams/second_output/airbyte_incremental/test_normalization/multiple_column_names_conflicts_stg.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/redshift/test_simple_streams/first_output/airbyte_views/test_normalization/multiple_column_names_conflicts_stg.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/redshift/test_simple_streams/models/generated/sources.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/snowflake/test_simple_streams/first_output/airbyte_views/TEST_NORMALIZATION/MULTIPLE_COLUMN_NAMES_CONFLICTS_STG.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/snowflake/test_simple_streams/models/generated/sources.yml
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_simple_streams/data_input/catalog.json
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_simple_streams/data_input/messages.txt
  airbyte-integrations/bases/base-normalization/normalization/transform_catalog/destination_name_transformer.py
  airbyte-integrations/bases/base-normalization/normalization/transform_catalog/stream_processor.py
  airbyte-integrations/connectors/destination-clickhouse/src/main/resources/spec.json
Labels: area/connectors, normalization

#9331 improve byte buffer handling
  airbyte-workers/src/main/java/io/airbyte/workers/protocols/airbyte/StateDeltaTracker.java
Labels: area/worker, area/platform

#9163 🐛 Source S3: work-around for format.delimiter change '\\t' -> '\t'
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/69589781-7828-43c5-9f63-8925b1c1ccc2.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/integration_tests/spec.json
  airbyte-integrations/connectors/source-s3/source_s3/source.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/formats/csv_spec.py
  airbyte-integrations/connectors/source-s3/unit_tests/test_source.py
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors

#9344 Fix build
  airbyte-container-orchestrator/src/main/java/io/airbyte/container_orchestrator/DbtJobOrchestrator.java
  airbyte-container-orchestrator/src/main/java/io/airbyte/container_orchestrator/NormalizationJobOrchestrator.java
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/NormalizationRunnerFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/DbtTransformationActivityImpl.java
Labels: area/worker, area/platform

#9255 clarify staging setup guide for bq destination
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/gcs.md
Labels: area/documentation, connectors/destination/bigquery, connectors/destinations-api

#9307 Remove incorrect description for record in protocol.yaml
  airbyte-protocol/models/src/main/resources/airbyte_protocol/airbyte_protocol.yaml
Labels: area/platform, area/protocol, community

#9299 Source Cloud: correct typo in spec.json
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/6ff047c0-f5d5-4ce5-8c81-204a830fa7e1.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-aws-cloudtrail/CHANGELOG.md
  airbyte-integrations/connectors/source-aws-cloudtrail/Dockerfile
  airbyte-integrations/connectors/source-aws-cloudtrail/source_aws_cloudtrail/spec.json
Labels: area/connectors

#9347 📖 Add service account doc to gcs connector readme
  airbyte-integrations/connectors/destination-gcs/README.md
Labels: area/connectors

#7622 🐞 Destination databricks: update jdbc driver to patch log4j
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/destination-databricks/README.md
  airbyte-integrations/connectors/destination-databricks/src/test-integration/java/io/airbyte/integrations/destination/databricks/DatabricksDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/CopyConsumerFactory.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/CopyDestination.java
  airbyte-workers/src/main/java/io/airbyte/workers/DefaultCheckConnectionWorker.java
  tools/bin/ci_integration_test.sh
  tools/integrations/manage.sh
  tools/lib/databricks.sh
Labels: area/connectors, area/worker, area/platform

#9153 🎉 Destination databricks: update fields specifications
  airbyte-integrations/connectors/destination-databricks/Dockerfile
  airbyte-integrations/connectors/destination-databricks/src/main/resources/spec.json
  docs/integrations/destinations/databricks.md
Labels: area/documentation, area/connectors

#9353 Bump Airbyte version from 0.35.3-alpha to 0.35.4-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#9094 🐛Source-mssql: added support for missed data types
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/b5ea17b1-f170-46dc-bc31-cc744ca984c1.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-db/lib/src/main/java/io/airbyte/db/DataTypeUtils.java
  airbyte-db/lib/src/main/java/io/airbyte/db/jdbc/JdbcDatabase.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/MSSQLConverter.java
  airbyte-integrations/connectors/source-mssql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mssql/Dockerfile
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSourceOperations.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceDatatypeTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/MssqlSourceDatatypeTest.java
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors

#9363 Refactor and clean up json avro schema converter
  airbyte-integrations/connectors/destination-gcs/src/main/java/io/airbyte/integrations/destination/gcs/writer/ProductionWriterFactory.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/avro/JsonToAvroSchemaConverter.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/util/AvroRecordHelper.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/writer/ProductionWriterFactory.java
  airbyte-integrations/connectors/destination-s3/src/test/java/io/airbyte/integrations/destination/s3/avro/JsonToAvroConverterTest.java
  airbyte-integrations/connectors/destination-s3/src/test/resources/parquet/json_schema_converter/json_conversion_test_cases.json
  docs/understanding-airbyte/json-avro-conversion.md
Labels: area/documentation, area/connectors

#9329 add ability to inject environment variables globally into launched processes
  airbyte-config/models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-config/models/src/test/java/io/airbyte/config/EnvConfigsTest.java
  airbyte-container-orchestrator/src/main/java/io/airbyte/container_orchestrator/ContainerOrchestratorApp.java
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerConfigs.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/DockerProcessFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubeProcessFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/OrchestratorConstants.java
  airbyte-workers/src/test-integration/java/io/airbyte/workers/process/KubePodProcessIntegrationTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/process/AirbyteIntegrationLauncherTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/process/DockerProcessFactoryTest.java
Labels: area/worker, area/platform

#9348 Fix connector base test
  airbyte-cdk/python/airbyte_cdk/models/airbyte_protocol.py
  airbyte-integrations/bases/airbyte-protocol/airbyte_protocol/models/airbyte_protocol.py
  airbyte-integrations/bases/source-acceptance-test/unit_tests/test_utils.py
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeInsertDestinationAcceptanceTest.java
Labels: area/connectors, CDK

#9373 Revert "Fix connector base test"
  airbyte-cdk/python/airbyte_cdk/models/airbyte_protocol.py
  airbyte-integrations/bases/airbyte-protocol/airbyte_protocol/models/airbyte_protocol.py
  airbyte-integrations/bases/source-acceptance-test/unit_tests/test_utils.py
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeInsertDestinationAcceptanceTest.java
Labels: area/connectors, CDK

#9356 source-googlesheet: Service account json should be secret
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-sheets/Dockerfile
  airbyte-integrations/connectors/source-google-sheets/google_sheets_source/spec.json
Labels: area/connectors

#7977 Source Plaid: port to Python CDK
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/ed799e2b-2158-4c66-8da4-b40fe63bc72a.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-plaid/.dockerignore
  airbyte-integrations/connectors/source-plaid/.gitignore
  airbyte-integrations/connectors/source-plaid/.prettierrc
  airbyte-integrations/connectors/source-plaid/Dockerfile
  airbyte-integrations/connectors/source-plaid/README.md
  airbyte-integrations/connectors/source-plaid/acceptance-test-config.yml
  airbyte-integrations/connectors/source-plaid/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-plaid/build.gradle
  airbyte-integrations/connectors/source-plaid/integration_tests/__init__.py
  airbyte-integrations/connectors/source-plaid/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-plaid/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-plaid/integration_tests/catalog.json
  airbyte-integrations/connectors/source-plaid/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-plaid/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-plaid/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-plaid/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-plaid/main.py
  airbyte-integrations/connectors/source-plaid/package-lock.json
  airbyte-integrations/connectors/source-plaid/package.json
  airbyte-integrations/connectors/source-plaid/requirements.txt
  airbyte-integrations/connectors/source-plaid/sample_files/fullrefresh_configured_catalog.json
  airbyte-integrations/connectors/source-plaid/setup.py
  airbyte-integrations/connectors/source-plaid/source.js
  airbyte-integrations/connectors/source-plaid/source_plaid/__init__.py
  airbyte-integrations/connectors/source-plaid/source_plaid/schemas/balance.json
  airbyte-integrations/connectors/source-plaid/source_plaid/schemas/transaction.json
  airbyte-integrations/connectors/source-plaid/source_plaid/source.py
  airbyte-integrations/connectors/source-plaid/source_plaid/spec.json
  docs/integrations/sources/plaid.md
Labels: area/documentation, area/connectors, community, hacktober

#9311 🐛 Snowflake destination: do not create schema if it exists
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/424892c4-daac-4491-b35d-c6688ba547ba.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/JdbcSqlOperations.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/SqlOperations.java
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeSqlOperations.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeStagingSqlOperations.java
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors

#9291 on upgrade of airbyte, explain logic for upgrading connectors
  docs/operator-guides/upgrading-airbyte.md
Labels: area/documentation

#9390 Minor - Fix JDK version to 17
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
Labels: community

#9141 Destination Snowflake : fixed duplicate rows on retries
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/424892c4-daac-4491-b35d-c6688ba547ba.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingConsumerFactory.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeSQLNameTransformer.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeStagingSqlOperations.java
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors

#9121 🐛Destination-gcs\destination-bigquery(gcs) - updated check() method to handle that user has both storage.objects.create and storage.multipartUploads.create roles
  airbyte-cdk/python/airbyte_cdk/models/airbyte_protocol.py
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/22f6c74f-5699-40ff-833c-4a879ea40133.json
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/ca8f6566-e555-4b40-943a-545bf123117a.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/bases/airbyte-protocol/airbyte_protocol/models/airbyte_protocol.py
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/DestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-gcs/Dockerfile
  airbyte-integrations/connectors/destination-gcs/README.md
  airbyte-integrations/connectors/destination-gcs/build.gradle
  airbyte-integrations/connectors/destination-gcs/sample_secrets/insufficient_roles_config.json
  airbyte-integrations/connectors/destination-gcs/src/main/java/io/airbyte/integrations/destination/gcs/GcsDestination.java
  airbyte-integrations/connectors/destination-gcs/src/test-integration/java/io/airbyte/integrations/destination/gcs/GcsDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeInsertDestinationAcceptanceTest.java
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/gcs.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/bigquery, connectors/destinations-api

#9129 🎉 Source HubSpot: support list memberships in Contacts stream
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/36c891d9-4bd9-43ac-bad2-10e12756272c.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/acceptance-test-config.yml
  airbyte-integrations/connectors/source-hubspot/sample_files/configured_catalog_for_oauth_config.json
  airbyte-integrations/connectors/source-hubspot/sample_files/full_refresh_catalog.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/api.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/client.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/contacts_list_memberships.json
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors

#9084 Source notion: fix doc url
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-notion/Dockerfile
  airbyte-integrations/connectors/source-notion/source_notion/spec.json
  docs/integrations/sources/notion.md
Labels: area/documentation, area/connectors

#8797 🎉 Source Salesforce: Support oauth'ing into sandbox environment, switching to advanced_auth
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/b117307c-14b6-41aa-9422-947e34922962.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-salesforce/Dockerfile
  airbyte-integrations/connectors/source-salesforce/source_salesforce/spec.json
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/SalesforceOAuthFlow.java
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors

#9386 🐛 Salesforce Connector: handling 400 error, while sobject doesn't support query or queryAll requests
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-salesforce/Dockerfile
  airbyte-integrations/connectors/source-salesforce/source_salesforce/streams.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors

#9409 🐛 Salesforce Connector: Correcting the presence of an extra 'else' handler in the error handling
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-salesforce/Dockerfile
  airbyte-integrations/connectors/source-salesforce/source_salesforce/streams.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors

#9304 🐛 Source Snowflake: fix tests
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e2d65910-8c8b-40a1-ae7d-ee2416b2bfa2.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-snowflake/Dockerfile
  airbyte-integrations/connectors/source-snowflake/build.gradle
  airbyte-integrations/connectors/source-snowflake/src/main/java/io.airbyte.integrations.source.snowflake/SnowflakeSource.java
  airbyte-integrations/connectors/source-snowflake/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/SnowflakeSourceDatatypeTest.java
  docs/integrations/sources/snowflake.md
Labels: area/documentation, area/connectors

#9203 Update fields in source-connectors specifications: snowflake
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e2d65910-8c8b-40a1-ae7d-ee2416b2bfa2.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-snowflake/Dockerfile
  airbyte-integrations/connectors/source-snowflake/src/main/resources/spec.json
  docs/integrations/sources/snowflake.md
Labels: area/documentation, area/connectors

#9327 Track per-stream record counts and records committed, and other sync summary metadata
  airbyte-config/models/src/main/resources/types/ReplicationAttemptSummary.yaml
  airbyte-config/models/src/main/resources/types/StandardSyncSummary.yaml
  airbyte-config/models/src/main/resources/types/StreamSyncStats.yaml
  airbyte-config/models/src/main/resources/types/SyncStats.yaml
  airbyte-container-orchestrator/src/main/java/io/airbyte/container_orchestrator/ReplicationJobOrchestrator.java
  airbyte-workers/src/main/java/io/airbyte/workers/DefaultReplicationWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/protocols/airbyte/AirbyteMessageTracker.java
  airbyte-workers/src/main/java/io/airbyte/workers/protocols/airbyte/MessageTracker.java
  airbyte-workers/src/main/java/io/airbyte/workers/protocols/airbyte/StateDeltaTracker.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/ReplicationActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/DefaultReplicationWorkerTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/protocols/airbyte/AirbyteMessageTrackerTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/protocols/airbyte/StateDeltaTrackerTest.java
Labels: area/worker, area/platform

#9396 Improve migration performances
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalClient.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/TemporalClientTest.java
Labels: area/worker, area/platform

#9421 Bump Airbyte version from 0.35.4-alpha to 0.35.5-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#9312 Source Amazon Seller Partner: add all remaining brand analytics report streams
  airbyte-integrations/connectors/source-amazon-seller-partner/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_brand_analytics_alternate_purchase.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_brand_analytics_item_comparison.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_brand_analytics_market_basket.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_brand_analytics_repeat_purchase.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_brand_analytics_search_terms.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_BRAND_ANALYTICS_ALTERNATE_PURCHASE_REPORT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_BRAND_ANALYTICS_ITEM_COMPARISON_REPORT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_BRAND_ANALYTICS_MARKET_BASKET_REPORT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_BRAND_ANALYTICS_REPEAT_PURCHASE_REPORT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation, area/connectors, community

#9424 Publish source amazon seller partner: added new reports
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/Dockerfile
Labels: area/connectors

#9367 🐞 Destination S3 & GCS Avro: support array with unknown item type
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-gcs/Dockerfile
  airbyte-integrations/connectors/destination-s3/Dockerfile
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/avro/JsonToAvroSchemaConverter.java
  airbyte-integrations/connectors/destination-s3/src/test/resources/parquet/json_schema_converter/json_conversion_test_cases.json
  airbyte-integrations/connectors/destination-s3/src/test/resources/parquet/json_schema_converter/type_conversion_test_cases.json
  docs/integrations/destinations/gcs.md
  docs/integrations/destinations/s3.md
  docs/understanding-airbyte/json-avro-conversion.md
Labels: area/documentation, area/connectors

#9190 Destination Azure Blob Storage: Added BufferedOutputStream to fix block count issue and improve performance
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/b4c5d105-31fd-4817-96b6-cb923bfc04cb.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-azure-blob-storage/Dockerfile
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageDestinationConfig.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageDestinationConstants.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/csv/AzureBlobStorageCsvWriter.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/jsonl/AzureBlobStorageJsonlWriter.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobDestinationTest.java
  docs/integrations/destinations/azureblobstorage.md
Labels: area/documentation, area/connectors, community, connectors/destination/azure_blob_storage, connectors/destinations-api

#9412 Destination Snowflake add test to avoid duplicated staged data
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingConsumerFactory.java
  airbyte-integrations/connectors/destination-snowflake/src/test/java/io/airbyte/integrations/destination/snowflake/SnowflakeDestinationTest.java
Labels: area/connectors

#9455 Add Plural deployment instructions
  docs/SUMMARY.md
  docs/deploying-airbyte/on-kubernetes.md
  docs/deploying-airbyte/on-plural.md
Labels: area/documentation

#9448 Documentation: High level suggestions on how to secure Airbyte
  docs/operator-guides/securing-airbyte.md
Labels: area/documentation

#9245 Correcting base URL for the example API
  docs/connector-development/tutorials/cdk-speedrun.md
Labels: area/documentation, community

#9238 Source MongoDB fetch authorized collections only
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/b2e713cd-cc36-4c0a-b5bd-b47cb8a0561e.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingConsumerFactory.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeSQLNameTransformer.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeStagingSqlOperations.java
  airbyte-integrations/connectors/source-mongodb-v2/Dockerfile
  airbyte-integrations/connectors/source-mongodb-v2/build.gradle
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io.airbyte.integrations.source.mongodb/MongoDbSource.java
  docs/integrations/sources/mongodb-v2.md
Labels: area/documentation, area/connectors

#9385 🎉 Source HubSpot: `engagements` stream, remove auto-generated `properties`
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/source_hubspot/api.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/engagements.json
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors

#9454 Only migrate active and disable connection
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/SchedulerApp.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
Labels: area/platform, area/server, area/scheduler

#9314 🎉 Destination DynamoDB: rename `dynamodb_table_name` to `dynamodb_table_name_prefix`
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/8ccd8909-4e99-4141-b48d-4984b70b2d89.json
  airbyte-integrations/connectors/destination-dynamodb/Dockerfile
  airbyte-integrations/connectors/destination-dynamodb/sample_secrets/config.json
  airbyte-integrations/connectors/destination-dynamodb/src/main/java/io/airbyte/integrations/destination/dynamodb/DynamodbChecker.java
  airbyte-integrations/connectors/destination-dynamodb/src/main/java/io/airbyte/integrations/destination/dynamodb/DynamodbDestinationConfig.java
  airbyte-integrations/connectors/destination-dynamodb/src/main/java/io/airbyte/integrations/destination/dynamodb/DynamodbOutputTableHelper.java
  airbyte-integrations/connectors/destination-dynamodb/src/main/java/io/airbyte/integrations/destination/dynamodb/DynamodbWriter.java
  airbyte-integrations/connectors/destination-dynamodb/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-dynamodb/src/test-integration/java/io/airbyte/integrations/destination/dynamodb/DynamodbDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-dynamodb/src/test/java/io/airbyte/integrations/destination/dynamodb/DynamodbDestinationTest.java
  docs/integrations/destinations/dynamodb.md
Labels: area/documentation, type/enhancement, area/connectors, connectors/destinations-database, connectors/destination/dynamodb

#9461 Polish docs for installing airbyte on Plural
  docs/deploying-airbyte/on-plural.md
Labels: area/documentation, community

#9489 Add workspaceId to intercom custom attributes
  airbyte-webapp/src/packages/cloud/services/thirdParty/intercom/index.tsx
  airbyte-webapp/src/packages/cloud/services/thirdParty/intercom/useIntercom.ts
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/components/CreditsTitle.tsx
  airbyte-webapp/src/packages/cloud/views/layout/SideBar/SideBar.tsx
  airbyte-webapp/src/services/workspaces/WorkspacesService.tsx
Labels: area/frontend, area/platform

#8011 Source Hubspot: adding form_submissions stream
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/36c891d9-4bd9-43ac-bad2-10e12756272c.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/acceptance-test-config.yml
  airbyte-integrations/connectors/source-hubspot/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-hubspot/sample_files/configured_catalog_for_oauth_config.json
  airbyte-integrations/connectors/source-hubspot/sample_files/full_refresh_catalog.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/api.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/client.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/form_submissions.json
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, community

#9399 destination-s3 use instanceprofile if credentials are not provided
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/4816b78f-1489-44c1-9060-4b19d5fa9362.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-s3/Dockerfile
  airbyte-integrations/connectors/destination-s3/README.md
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3DestinationConfig.java
  airbyte-integrations/connectors/destination-s3/src/main/resources/spec.json
  docs/integrations/destinations/s3.md
Labels: area/documentation, area/connectors, community, connectors/destination/s3

#9037 CDK: Fix typing errors
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/connector.py
  airbyte-cdk/python/airbyte_cdk/destinations/destination.py
  airbyte-cdk/python/airbyte_cdk/logger.py
  airbyte-cdk/python/airbyte_cdk/sources/abstract_source.py
  airbyte-cdk/python/airbyte_cdk/sources/config.py
  airbyte-cdk/python/airbyte_cdk/sources/deprecated/base_source.py
  airbyte-cdk/python/airbyte_cdk/sources/singer/singer_helpers.py
  airbyte-cdk/python/airbyte_cdk/sources/source.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/core.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/http.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/rate_limiting.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/requests_native_auth/oauth.py
  airbyte-cdk/python/airbyte_cdk/sources/utils/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/utils/schema_models.py
  airbyte-cdk/python/airbyte_cdk/sources/utils/transform.py
  airbyte-cdk/python/airbyte_cdk/utils/event_timing.py
  airbyte-cdk/python/airbyte_cdk/utils/mapping_utils.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/singer/test_singer_source.py
  airbyte-cdk/python/unit_tests/sources/streams/http/test_http.py
  airbyte-cdk/python/unit_tests/sources/test_abstract_source.py
  airbyte-cdk/python/unit_tests/sources/test_source.py
  airbyte-cdk/python/unit_tests/test_connector.py
  airbyte-cdk/python/unit_tests/test_logger.py
  airbyte-cdk/python/unit_tests/test_secure_logger.py
Labels: CDK

#7664 Clarify Connector Spec Caching in Developing Locally.
  docs/contributing-to-airbyte/developing-locally.md
Labels: area/documentation

#7461 Improve clarity on namespaces documentation.
  docs/understanding-airbyte/namespaces.md
Labels: area/documentation

#9510 🐛 Source Bing-Ads: fixed broken dependency
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/47f25999-dd5e-4636-8c39-e7cea2453331.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-bing-ads/Dockerfile
  airbyte-integrations/connectors/source-bing-ads/setup.py
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors

#8872 Add metadata to segment tracking
  airbyte-analytics/src/main/java/io/airbyte/analytics/SegmentTrackingClient.java
  airbyte-analytics/src/test/java/io/airbyte/analytics/SegmentTrackingClientTest.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageDestinationConfig.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/csv/AzureBlobStorageCsvWriter.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/java/io/airbyte/integrations/destination/azure_blob_storage/jsonl/AzureBlobStorageJsonlWriter.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/job_tracker/TrackingMetadata.java
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/JobNotifierTest.java
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/job_factory/OAuthConfigSupplierTest.java
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/job_tracker/JobTrackerTest.java
Labels: area/connectors, area/platform, area/scheduler

#8461 🎉 New Source: Hellobaton
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/492b56d1-937c-462e-8076-21ad2031e784.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/destination-snowflake/src/test/java/io/airbyte/integrations/destination/snowflake/SnowflakeDestinationTest.java
  airbyte-integrations/connectors/source-hellobaton/.dockerignore
  airbyte-integrations/connectors/source-hellobaton/Dockerfile
  airbyte-integrations/connectors/source-hellobaton/README.md
  airbyte-integrations/connectors/source-hellobaton/acceptance-test-config.yml
  airbyte-integrations/connectors/source-hellobaton/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-hellobaton/build.gradle
  airbyte-integrations/connectors/source-hellobaton/integration_tests/__init__.py
  airbyte-integrations/connectors/source-hellobaton/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-hellobaton/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-hellobaton/integration_tests/catalog.json
  airbyte-integrations/connectors/source-hellobaton/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-hellobaton/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-hellobaton/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-hellobaton/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-hellobaton/main.py
  airbyte-integrations/connectors/source-hellobaton/requirements.txt
  airbyte-integrations/connectors/source-hellobaton/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-hellobaton/sample_files/sample_config.json
  airbyte-integrations/connectors/source-hellobaton/setup.py
  airbyte-integrations/connectors/source-hellobaton/source_hellobaton/__init__.py
  airbyte-integrations/connectors/source-hellobaton/source_hellobaton/schemas/activity.json
  airbyte-integrations/connectors/source-hellobaton/source_hellobaton/schemas/companies.json
  airbyte-integrations/connectors/source-hellobaton/source_hellobaton/schemas/milestones.json
  airbyte-integrations/connectors/source-hellobaton/source_hellobaton/schemas/phases.json
  airbyte-integrations/connectors/source-hellobaton/source_hellobaton/schemas/project_attachments.json
  airbyte-integrations/connectors/source-hellobaton/source_hellobaton/schemas/projects.json
  airbyte-integrations/connectors/source-hellobaton/source_hellobaton/schemas/task_attachments.json
  airbyte-integrations/connectors/source-hellobaton/source_hellobaton/schemas/tasks.json
  airbyte-integrations/connectors/source-hellobaton/source_hellobaton/schemas/templates.json
  airbyte-integrations/connectors/source-hellobaton/source_hellobaton/schemas/time_entries.json
  airbyte-integrations/connectors/source-hellobaton/source_hellobaton/schemas/users.json
  airbyte-integrations/connectors/source-hellobaton/source_hellobaton/source.py
  airbyte-integrations/connectors/source-hellobaton/source_hellobaton/spec.json
  airbyte-integrations/connectors/source-hellobaton/source_hellobaton/streams.py
  docs/integrations/sources/hellobaton.md
Labels: area/documentation, area/connectors, community

#9277 🐙 octavia-cli: generate open api client
  .pre-commit-config.yaml
  build.gradle
  octavia-cli/.dockerignore
  octavia-cli/README.md
  octavia-cli/build.gradle
  octavia-cli/octavia_cli/entrypoint.py
  octavia-cli/setup.py
  octavia-cli/unit_tests/test_entrypoint.py
  tools/python/.flake8
Labels: area/octavia-cli

#7159 🎉 Source Mailchimp: support oauth flow
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mailchimp/Dockerfile
  airbyte-integrations/connectors/source-mailchimp/acceptance-test-config.yml
  airbyte-integrations/connectors/source-mailchimp/integration_tests/integration_test.py
  airbyte-integrations/connectors/source-mailchimp/integration_tests/invalid_config_apikey.json
  airbyte-integrations/connectors/source-mailchimp/integration_tests/invalid_config_oauth.json
  airbyte-integrations/connectors/source-mailchimp/setup.py
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/source.py
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/spec.json
  airbyte-oauth/src/main/java/io/airbyte/oauth/OAuthImplementationFactory.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/MailchimpOAuthFlow.java
  airbyte-oauth/src/test/java/io/airbyte/oauth/flows/MailchimpOAuthFlowTest.java
  docs/integrations/sources/mailchimp.md
Labels: area/documentation, area/connectors

#8887 Source Hubspot: Some incremental CRM objects and engagements
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/36c891d9-4bd9-43ac-bad2-10e12756272c.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-hubspot/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-hubspot/sample_files/sample_state.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/api.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/client.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, community

#9492 🐛 Source Github: Remove optional parameter `Accept` for reaction's streams to fix error with `502` HTTP status code
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors

#9508 🎉 SurveyMonkey source: scopes change
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-surveymonkey/Dockerfile
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/source.py
  docs/integrations/sources/surveymonkey.md
Labels: area/documentation, area/connectors

#6842 🎉 square: added oauth support
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/77225a51-cd15-4a13-af02-65816bd0ecf4.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-square/Dockerfile
  airbyte-integrations/connectors/source-square/acceptance-test-config.yml
  airbyte-integrations/connectors/source-square/integration_tests/configured_catalog_oauth.json
  airbyte-integrations/connectors/source-square/source_square/source.py
  airbyte-integrations/connectors/source-square/source_square/spec.json
  airbyte-integrations/connectors/source-square/unit_tests/connection_test.py
  airbyte-oauth/src/main/java/io/airbyte/oauth/OAuthImplementationFactory.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/SquareOAuthFlow.java
  airbyte-oauth/src/test-integration/java/io.airbyte.oauth.flows/SquareOAuthFlowIntegrationTest.java
  airbyte-oauth/src/test/java/io/airbyte/oauth/flows/SquareOAuthFlowTest.java
  docs/integrations/sources/square.md
Labels: area/documentation, area/connectors

#9571 fix master formatting
  airbyte-integrations/connectors/source-square/source_square/spec.json
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/SquareOAuthFlow.java
  airbyte-oauth/src/test/java/io/airbyte/oauth/flows/SquareOAuthFlowTest.java
Labels: area/connectors

#8383 Destination BigQuery: Accept Dataset ID field prefixed by Project ID
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/079d5540-f236-4294-ba7c-ade8fd918496.json
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/22f6c74f-5699-40ff-833c-4a879ea40133.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDestination.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryUtils.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDestinationTest.java
  airbyte-integrations/connectors/destination-bigquery/src/test/java/io/airbyte/integrations/destination/bigquery/BigQueryUtilsTest.java
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, community, connectors/destinations-warehouse, connectors/destination/bigquery

#9151 Source Salesforce: fix pagination in REST API streams
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-salesforce/Dockerfile
  airbyte-integrations/connectors/source-salesforce/source_salesforce/streams.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/unit_test.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors

#9381 🎉 New Source: Chartmogul
  airbyte-config/init/src/main/resources/icons/chartmogul.svg
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-chartmogul/Dockerfile
  airbyte-integrations/connectors/source-chartmogul/README.md
  airbyte-integrations/connectors/source-chartmogul/acceptance-test-config.yml
  airbyte-integrations/connectors/source-chartmogul/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-chartmogul/bootstrap.md
  airbyte-integrations/connectors/source-chartmogul/build.gradle
  airbyte-integrations/connectors/source-chartmogul/integration_tests/__init__.py
  airbyte-integrations/connectors/source-chartmogul/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-chartmogul/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-chartmogul/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-chartmogul/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-chartmogul/main.py
  airbyte-integrations/connectors/source-chartmogul/requirements.txt
  airbyte-integrations/connectors/source-chartmogul/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-chartmogul/setup.py
  airbyte-integrations/connectors/source-chartmogul/source_chartmogul/__init__.py
  airbyte-integrations/connectors/source-chartmogul/source_chartmogul/schemas/activities.json
  airbyte-integrations/connectors/source-chartmogul/source_chartmogul/schemas/customers.json
  airbyte-integrations/connectors/source-chartmogul/source_chartmogul/source.py
  airbyte-integrations/connectors/source-chartmogul/source_chartmogul/spec.json
  airbyte-integrations/connectors/source-chartmogul/unit_tests/__init__.py
  airbyte-integrations/connectors/source-chartmogul/unit_tests/test_source.py
  airbyte-integrations/connectors/source-chartmogul/unit_tests/test_streams.py
  docs/SUMMARY.md
  docs/integrations/README.md
  docs/integrations/sources/chartmogul.md
Labels: area/documentation, area/connectors, community

#9576 🐛 Fix syntax errors in Airbyte specification docs
  docs/understanding-airbyte/airbyte-specification.md
Labels: area/documentation

#9547 🐛 Minor correction in the frontend tech-stack
  docs/understanding-airbyte/tech-stack.md
Labels: area/documentation, community

#9335 add node strict check
  airbyte-webapp/.npmrc
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
Labels: area/frontend, area/platform

#9302 Source Salesforce: Deprecate API Type parameter
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-salesforce/Dockerfile
  airbyte-integrations/connectors/source-salesforce/acceptance-test-config.yml
  airbyte-integrations/connectors/source-salesforce/integration_tests/bulk_error_test.py
  airbyte-integrations/connectors/source-salesforce/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-salesforce/integration_tests/configured_catalog_rest.json
  airbyte-integrations/connectors/source-salesforce/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-salesforce/source_salesforce/api.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/source.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/spec.json
  airbyte-integrations/connectors/source-salesforce/source_salesforce/streams.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/unit_test.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors

#9574 🐛 Prevent SVG icons from leaking into DOM
  airbyte-webapp/src/utils/imageUtils.tsx
Labels: area/frontend, area/platform

#9149 Update fields in source-connectors specifications: google-ads
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/253487c0-2246-43ba-a21f-5116b20a2c50.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/source_google_ads/spec.json
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors

#9165 Update fields in source-connectors specifications: google-analytics-v4
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/eff3616a-f9c3-11eb-9a03-0242ac130003.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-analytics-v4/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-v4/source_google_analytics_v4/spec.json
  docs/integrations/sources/google-analytics-v4.md
Labels: area/documentation, area/connectors

#9567 Snowflake source: keep session alive to avoid breaking connection
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e2d65910-8c8b-40a1-ae7d-ee2416b2bfa2.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-snowflake/Dockerfile
  airbyte-integrations/connectors/source-snowflake/src/main/java/io.airbyte.integrations.source.snowflake/SnowflakeSource.java
  docs/integrations/sources/snowflake.md
Labels: area/documentation, area/connectors

#9513 🐛 Source Intercom: Fix handling of scroll param when it expired
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/d8313939-3782-41b0-be29-b3ca20d8dd3a.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-intercom/Dockerfile
  airbyte-integrations/connectors/source-intercom/source_intercom/source.py
  airbyte-integrations/connectors/source-intercom/unit_tests/unit_test.py
  docs/integrations/sources/intercom.md
Labels: area/documentation, area/connectors

#9597 Updated benchmarks databases and scripts
  airbyte-integrations/connectors/source-mssql/src/test-performance/java/io/airbyte/integrations/source/mssql/MsSqlRdsSourcePerformanceSecretTest.java
  airbyte-integrations/connectors/source-mssql/src/test-performance/sql/create_mssql_benchmarks.sql
  airbyte-integrations/connectors/source-mysql/src/test-performance/java/io/airbyte/integrations/source/mysql/MySqlRdsSourcePerformanceSecretTest.java
  airbyte-integrations/connectors/source-mysql/src/test-performance/sql/create_mysql_benchmarks.sql
  airbyte-integrations/connectors/source-postgres/src/test-performance/java/io/airbyte/integrations/source/postgres/PostgresRdsSourcePerformanceTest.java
Labels: area/connectors

#9619 Fix logger for function 'should_retry'
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/source_github/streams.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors

#9581 Amazon Seller Partner Fix: 0 records read in reports
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e55879a8-0ef8-4557-abcf-ab34c53ec460.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/Dockerfile
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation, area/connectors, community

#9556 Helm: add hooks to postgresql deployment
  charts/airbyte/values.yaml
Labels: area/platform, kubernetes

#9591 🎉 Source Shopify: implement Oauth2.0 for Airbyte-Cloud
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/9da77001-af33-4bcd-be46-6252bf9342b9.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryUtils.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDestinationTest.java
  airbyte-integrations/connectors/destination-bigquery/src/test/java/io/airbyte/integrations/destination/bigquery/BigQueryUtilsTest.java
  airbyte-integrations/connectors/source-shopify/Dockerfile
  airbyte-integrations/connectors/source-shopify/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-shopify/integration_tests/invalid_oauth_config.json
  airbyte-integrations/connectors/source-shopify/source_shopify/auth.py
  airbyte-integrations/connectors/source-shopify/source_shopify/spec.json
  airbyte-integrations/connectors/source-snowflake/src/main/java/io.airbyte.integrations.source.snowflake/SnowflakeSource.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/OAuthImplementationFactory.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/ShopifyOAuthFlow.java
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors

#9243 Fix generate.sh from bad trap for ERR signal by using bash instead of sh
  airbyte-integrations/connector-templates/generator/generate.sh
Labels: community

#9487 Fix record count and add acceptance test to the new scheduler
  .env
  .github/workflows/gradle.yml
  airbyte-commons/src/main/java/io/airbyte/commons/features/EnvVariableFeatureFlags.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/ConnectionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SchedulerHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WebBackendConnectionsHandlerTest.java
  airbyte-tests/build.gradle
  airbyte-tests/src/acceptanceTests/java/io/airbyte/test/acceptance/AcceptanceTests.java
  airbyte-workers/build.gradle
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerApp.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalClient.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflow.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionUpdaterInput.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/GenerateInputActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/GenerateInputActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/state/WorkflowState.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/state/listener/WorkflowStateChangedListener.java
  airbyte-workers/src/main/java/io/airbyte/workers/worker_run/TemporalWorkerRunFactory.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityTest.java
  docker-compose.yaml
  tools/bin/acceptance_test_with_new_scheduler.sh
Labels: area/worker, area/platform, area/server

#9630 Bump Airbyte version from 0.35.5-alpha to 0.35.6-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#9611 Documentation: More details about using an external database
  docs/operator-guides/configuring-airbyte-db.md
Labels: area/documentation

#9214 Update fields in source-connectors specifications: lever-hiring
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/3981c999-bd7d-4afc-849b-e53dea90c948.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-lever-hiring/Dockerfile
  airbyte-integrations/connectors/source-lever-hiring/integration_tests/spec.json
  airbyte-integrations/connectors/source-lever-hiring/source_lever_hiring/spec.json
  docs/integrations/sources/lever-hiring.md
Labels: area/documentation, area/connectors

#9242 async container launch kubernetes "process"
  .env
  airbyte-commons/src/main/resources/log4j2.xml
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-config/models/src/main/java/io/airbyte/config/storage/DefaultGcsClientFactory.java
  airbyte-config/models/src/main/java/io/airbyte/config/storage/DefaultS3ClientFactory.java
  airbyte-config/models/src/main/java/io/airbyte/config/storage/MinioS3ClientFactory.java
  airbyte-container-orchestrator/Dockerfile
  airbyte-container-orchestrator/src/main/java/io/airbyte/container_orchestrator/AsyncStateManager.java
  airbyte-container-orchestrator/src/main/java/io/airbyte/container_orchestrator/ContainerOrchestratorApp.java
  airbyte-container-orchestrator/src/main/java/io/airbyte/container_orchestrator/DbtJobOrchestrator.java
  airbyte-container-orchestrator/src/main/java/io/airbyte/container_orchestrator/DefaultAsyncStateManager.java
  airbyte-container-orchestrator/src/main/java/io/airbyte/container_orchestrator/JobOrchestrator.java
  airbyte-container-orchestrator/src/main/java/io/airbyte/container_orchestrator/NoOpOrchestrator.java
  airbyte-container-orchestrator/src/main/java/io/airbyte/container_orchestrator/NormalizationJobOrchestrator.java
  airbyte-container-orchestrator/src/main/java/io/airbyte/container_orchestrator/ReplicationJobOrchestrator.java
  airbyte-container-orchestrator/src/test/java/io/airbyte/container_orchestrator/DefaultAsyncStateManagerTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerApp.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/AsyncKubePodStatus.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/AsyncOrchestratorPodProcess.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePod.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodInfo.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubeProcessFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/storage/StateClients.java
  airbyte-workers/src/main/java/io/airbyte/workers/storage/WorkerStore.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/DbtLauncherWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/DbtTransformationActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/LauncherWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/NormalizationActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/NormalizationLauncherWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/OrchestratorConstants.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/ReplicationActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/ReplicationLauncherWorker.java
  airbyte-workers/src/main/resources/entrypoints/sync/check.sh
  airbyte-workers/src/main/resources/entrypoints/sync/main.sh
  airbyte-workers/src/test-integration/java/io/airbyte/workers/process/AsyncOrchestratorPodProcessIntegrationTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/storage/WorkerStoreTest.java
  charts/airbyte/templates/env-configmap.yaml
  charts/airbyte/templates/worker/deployment.yaml
  kube/overlays/dev-integration-test/.env
  kube/overlays/dev-integration-test/.secrets
  kube/overlays/dev/.env
  kube/overlays/dev/.secrets
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/.secrets
  kube/overlays/stable/.env
  kube/overlays/stable/.secrets
  kube/resources/worker.yaml
Labels: area/worker, area/platform, kubernetes

#9544 Fixes editing of already selected item for array of objects editor
  airbyte-webapp/src/views/Connector/ServiceForm/components/Sections/ArraySection.tsx
Labels: area/frontend, area/platform

#9662 temporarily disable async orchestrator integration test
  airbyte-workers/src/test-integration/java/io/airbyte/workers/process/AsyncOrchestratorPodProcessIntegrationTest.java
Labels: area/worker, area/platform

#9531 🎉 Destination-snowflake: start using new S3StreamCopier, and expose the purgeStagingData option
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/424892c4-daac-4491-b35d-c6688ba547ba.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/s3/S3CopyConfig.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/s3/S3StreamCopier.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftCopyS3Destination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftStreamCopier.java
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/README.md
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeCopyS3Destination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeS3StreamCopier.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeS3StreamCopierFactory.java
  airbyte-integrations/connectors/destination-snowflake/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-snowflake/src/test/java/io/airbyte/integrations/destination/snowflake/SnowflakeS3StreamCopierTest.java
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destinations-warehouse, connectors/destination/snowflake

#9649 Make sure generate.sh has docker running before trying to generate, and make sure its running from the correct directory
  airbyte-integrations/connector-templates/generator/generate.sh
Labels: community

#9583 Add totalStats and streamStats in Attempts API response
  airbyte-api/src/main/openapi/config.yaml
  airbyte-server/src/main/java/io/airbyte/server/converters/JobConverter.java
  airbyte-server/src/test/java/io/airbyte/server/converters/JobConverterTest.java
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api, area/platform, area/server

#9657 Change severity of StateDeltaTrackerException from error to warning
  airbyte-workers/src/main/java/io/airbyte/workers/protocols/airbyte/AirbyteMessageTracker.java
Labels: area/worker, area/platform

#9671 Use attemptNumber instead of attemptId where appropriate
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/JobPersistence.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityTest.java
Labels: area/worker, area/platform, area/scheduler

#9546 🐙 octavia-cli: list connectors
  octavia-cli/README.md
  octavia-cli/octavia_cli/entrypoint.py
  octavia-cli/octavia_cli/list/__init__.py
  octavia-cli/octavia_cli/list/commands.py
  octavia-cli/octavia_cli/list/connectors_definitions.py
  octavia-cli/unit_tests/test_entrypoint.py
  octavia-cli/unit_tests/test_list/test_commands.py
  octavia-cli/unit_tests/test_list/test_connectors_definitions.py
Labels: user-support-eng

#9558 Fix demo link in onboarding
  airbyte-webapp/src/config/uiConfig.ts
  airbyte-webapp/src/pages/OnboardingPage/components/FinalStep.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/VideoItem/VideoItem.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/VideoItem/components/PlayButton.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/WelcomeStep.tsx
Labels: area/frontend, area/platform

#9559 Hide for now settings/configuration
  airbyte-webapp/src/packages/cloud/views/settings/CloudSettingsPage.tsx
Labels: area/frontend, area/platform

#9691 🐛 Airbyte-webapp: Unblock shopify in connectors list in UI for Cloud
  airbyte-webapp/src/views/Connector/ServiceForm/components/Controls/ConnectorServiceTypeControl.tsx
Labels: area/frontend, area/platform

#9664 🐛 Source Github: add custom pagination size for large streams
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/source_github/source.py
  airbyte-integrations/connectors/source-github/source_github/spec.json
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors

#9695 fix docker process factory test on ci
  airbyte-container-orchestrator/src/main/java/io/airbyte/container_orchestrator/ContainerOrchestratorApp.java
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerApp.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/DockerProcessFactory.java
  airbyte-workers/src/test/java/io/airbyte/workers/process/DockerProcessFactoryTest.java
Labels: area/worker, area/platform

#9641 🎉 Source HubSpot: Add more fields for `email_events` stream
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/source_hubspot/api.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/email_events.json
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_field_type_converting.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors

#9515 🎉 New Source: PersistIq
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/3052c77e-8b91-47e2-97a0-a29a22794b4b.json
  airbyte-config/init/src/main/resources/icons/persistiq.svg
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-persistiq/.dockerignore
  airbyte-integrations/connectors/source-persistiq/Dockerfile
  airbyte-integrations/connectors/source-persistiq/README.md
  airbyte-integrations/connectors/source-persistiq/acceptance-test-config.yml
  airbyte-integrations/connectors/source-persistiq/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-persistiq/bootstrap.md
  airbyte-integrations/connectors/source-persistiq/build.gradle
  airbyte-integrations/connectors/source-persistiq/integration_tests/__init__.py
  airbyte-integrations/connectors/source-persistiq/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-persistiq/integration_tests/catalog.json
  airbyte-integrations/connectors/source-persistiq/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-persistiq/integration_tests/expected_campaigns_stream.txt
  airbyte-integrations/connectors/source-persistiq/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-persistiq/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-persistiq/main.py
  airbyte-integrations/connectors/source-persistiq/requirements.txt
  airbyte-integrations/connectors/source-persistiq/setup.py
  airbyte-integrations/connectors/source-persistiq/source_persistiq/__init__.py
  airbyte-integrations/connectors/source-persistiq/source_persistiq/schemas/campaigns.json
  airbyte-integrations/connectors/source-persistiq/source_persistiq/schemas/leads.json
  airbyte-integrations/connectors/source-persistiq/source_persistiq/schemas/users.json
  airbyte-integrations/connectors/source-persistiq/source_persistiq/source.py
  airbyte-integrations/connectors/source-persistiq/source_persistiq/spec.json
  airbyte-integrations/connectors/source-persistiq/unit_tests/__init__.py
  airbyte-integrations/connectors/source-persistiq/unit_tests/test_source.py
  airbyte-integrations/connectors/source-persistiq/unit_tests/test_streams.py
  docs/SUMMARY.md
  docs/integrations/README.md
  docs/integrations/sources/persistiq.md
Labels: area/documentation, area/connectors, community

#9621 🎉 Source Amazon Seller Partner: Add GET_FLAT_FILE_ALL_ORDERS_DATA_BY_LAST_UPDATE_GENERAL report
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/e55879a8-0ef8-4557-abcf-ab34c53ec460.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/Dockerfile
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_get_flat_file_all_orders_data_by_last_update_general.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FLAT_FILE_ALL_ORDERS_DATA_BY_LAST_UPDATE_GENERAL.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation, area/connectors, community

#7636 🎉 Source TikTok Marketing: support oauth flow
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/Dockerfile
  airbyte-integrations/connectors/source-tiktok-marketing/acceptance-test-config.yml
  airbyte-integrations/connectors/source-tiktok-marketing/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-tiktok-marketing/bootstrap.md
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/invalid_config_access_token.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/invalid_config_oauth.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-tiktok-marketing/setup.py
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/source.py
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/spec.py
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/streams.py
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/unit_test.py
  airbyte-oauth/src/main/java/io/airbyte/oauth/OAuthImplementationFactory.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/TikTokMarketingOAuthFlow.java
  docs/integrations/sources/tiktok-marketing.md
Labels: area/documentation, area/connectors

#9706 Revert "use attemptNumber instead of attemptId where appropriate"
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/JobPersistence.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityTest.java
Labels: area/worker, area/platform, area/scheduler

#9705 Update the cancellation
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
Labels: area/worker, area/platform

#9708 Bump Airbyte version from 0.35.6-alpha to 0.35.7-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#9666 🎉 Codecov: Implement Codecove into Sonar
  .github/actions/ci-py-tests/action.yml
  airbyte-integrations/connectors/source-github/unit_tests/__init__.py
  codecov.yml
Labels: area/connectors

#9585 Improve jobs logs error handling
  airbyte-webapp/src/components/CreateConnectionContent/CreateConnectionContent.tsx
  airbyte-webapp/src/components/JobItem/JobItem.tsx
  airbyte-webapp/src/components/JobItem/JobsLogItem.tsx
  airbyte-webapp/src/components/JobItem/components/AttemptDetails.tsx
  airbyte-webapp/src/components/JobItem/components/CenteredDetails.tsx
  airbyte-webapp/src/components/JobItem/components/DownloadButton.tsx
  airbyte-webapp/src/components/JobItem/components/JobCurrenLogs.tsx
  airbyte-webapp/src/components/JobItem/components/JobLogs.tsx
  airbyte-webapp/src/components/JobItem/components/Logs.tsx
  airbyte-webapp/src/components/JobItem/components/LogsDetails.tsx
  airbyte-webapp/src/components/JobItem/components/MainInfo.tsx
  airbyte-webapp/src/components/JobItem/components/Tabs.tsx
  airbyte-webapp/src/components/JobItem/index.tsx
  airbyte-webapp/src/components/StepsMenu/index.tsx
  airbyte-webapp/src/core/domain/catalog/api.ts
  airbyte-webapp/src/core/domain/job/Job.ts
  airbyte-webapp/src/core/domain/job/JobsService.tsx
  airbyte-webapp/src/core/domain/job/index.ts
  airbyte-webapp/src/core/request/LogsRequestError.ts
  airbyte-webapp/src/core/resources/Job.ts
  airbyte-webapp/src/core/resources/Scheduler.ts
  airbyte-webapp/src/core/resources/Schema.ts
  airbyte-webapp/src/core/resources/Workspace.ts
  airbyte-webapp/src/hooks/services/useJob.tsx
  airbyte-webapp/src/hooks/services/useSchemaHook.tsx
  airbyte-webapp/src/packages/cloud/services/useInitService.tsx
  airbyte-webapp/src/packages/cloud/services/workspaces/WorkspacesService.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/JobsList.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/StatusView.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/CreateDestinationPage/CreateDestinationPage.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/DestinationItemPage/components/DestinationSettings.tsx
  airbyte-webapp/src/pages/OnboardingPage/OnboardingPage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/CreateSourcePage/CreateSourcePage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SourceSettings.tsx
  airbyte-webapp/src/services/job/JobService.tsx
  airbyte-webapp/src/views/Connector/ConnectorCard/ConnectorCard.tsx
Labels: area/frontend, area/platform

#9478 🐛 Source Salesforce: Fix error during generating schema
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/b117307c-14b6-41aa-9422-947e34922962.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-salesforce/Dockerfile
  airbyte-integrations/connectors/source-salesforce/source_salesforce/api.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/source.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/streams.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/unit_test.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors

#9608 Source google ads: fix for page token expired
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_google_ads.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_source.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors

#9701 MIT license for docs so its consistent with connectors licensing
  docs/LICENSE
Labels: area/documentation, community

#9689 Add license check for webapp
  airbyte-webapp/build.gradle
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/scripts/license-check.js
Labels: area/frontend, area/platform

#9749 🐛 Publish strict-encrypt source-connectors: source-clickhouse-strict-encrypt, source-mysql-strict-encrypt, source-oracle-strict-encrypt
  airbyte-integrations/connectors/source-clickhouse-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql-strict-encrypt/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/source-oracle-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-oracle-strict-encrypt/src/test/resources/expected_spec.json
Labels: area/connectors

#9743 Destination Snowflake: edit schema name which contains the character -
  airbyte-config/init/src/main/resources/config/STANDARD_DESTINATION_DEFINITION/424892c4-daac-4491-b35d-c6688ba547ba.json
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingConsumerFactory.java
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors

#9554 🐛 Source Postgres: allow handling of java sql date
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/DebeziumConverterUtils.java
Labels: community, gl, area/databases

#9760 Documentation securing Airbyte: link in summary
  docs/SUMMARY.md
Labels: area/documentation

#9761 Reset error
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
Labels: area/worker, area/platform

#9762 Bump Airbyte version from 0.35.7-alpha to 0.35.8-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-container-orchestrator/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#9648 🎉 Source Shopify: Add privileges validation
  airbyte-config/init/src/main/resources/config/STANDARD_SOURCE_DEFINITION/9da77001-af33-4bcd-be46-6252bf9342b9.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-shopify/Dockerfile
  airbyte-integrations/connectors/source-shopify/source_shopify/source.py
  airbyte-integrations/connectors/source-shopify/source_shopify/utils.py
  airbyte-integrations/connectors/source-shopify/unit_tests/conftest.py
  airbyte-integrations/connectors/source-shopify/unit_tests/unit_test.py
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors
