Repository airbytehq/airbyte, pull requests merged in 2022-06, with the labels that each got.

#13213 Implement job state machine validations
  airbyte-scheduler/models/src/main/java/io/airbyte/scheduler/models/Job.java
  airbyte-scheduler/models/src/main/java/io/airbyte/scheduler/models/JobStatus.java
  airbyte-scheduler/models/src/test/java/io/airbyte/scheduler/models/JobTest.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/DefaultJobPersistence.java
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/DefaultJobPersistenceTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityTest.java
  docs/.gitbook/assets/job-state-machine.png
  docs/understanding-airbyte/jobs.md
Labels: area/documentation, area/worker, area/platform, area/scheduler

#13358 Bump Airbyte version from 0.39.6-alpha to 0.39.7-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/worker, area/platform, kubernetes, area/server, area/scheduler, team/frontend

#12952 Snowflake Destination apply buffering strategy on GCS staging
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeCopyGcsDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeDestinationResolver.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeGcsStagingDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeGcsStagingSqlOperations.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingSqlOperations.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeS3StagingDestination.java
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors

#13166 Postgres Source: add timezone awareness and handle BC dates
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-db/lib/src/main/java/io/airbyte/db/jdbc/AbstractJdbcCompatibleSourceOperations.java
  airbyte-integrations/connectors/source-jdbc/src/testFixtures/java/io/airbyte/integrations/source/jdbc/test/JdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres-strict-encrypt/src/test/java/io/airbyte/integrations/source/postgres/PostgresStrictEncryptJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres-strict-encrypt/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSourceOperations.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/PostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresJdbcSourceAcceptanceTest.java
  airbyte-protocol/models/src/main/java/io/airbyte/protocol/models/JsonSchemaType.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, area/platform, area/protocol

#13348 Update building-a-python-source.md
  docs/connector-development/tutorials/building-a-python-source.md
Labels: area/documentation

#13261 :bug: Source Zendesk Support: use `CDK v.0.1.60` to handle `ConnectionResetError`, increase test coverage
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-zendesk-support/Dockerfile
  airbyte-integrations/connectors/source-zendesk-support/setup.py
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/source.py
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/streams.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/test_backoff_on_rate_limit.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/test_data/data.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/test_futures.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/unit_test.py
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors

#12853 Low code connectors: implement components for sendgrid
  .github/workflows/gradle.yml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/extractors/jq.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/http_requester.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/next_page_url_paginator.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/offset_paginator.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/retrievers/simple_retriever.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/states/dict_state.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/states/state.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/stream_slicers/datetime_stream_slicer.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/declarative/checks/test_interpolated_mapping.py
  airbyte-cdk/python/unit_tests/sources/declarative/checks/test_interpolated_string.py
  airbyte-cdk/python/unit_tests/sources/declarative/checks/test_jinja.py
  airbyte-cdk/python/unit_tests/sources/declarative/interpolation/test_interpolated_request_parameter_provider.py
  airbyte-cdk/python/unit_tests/sources/declarative/iterators/test_interpolated_request_parameter_provider.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/paginators/test_next_page_url_paginator.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/paginators/test_offset_paginator.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/test_dict_state.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/test_http_requester.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/test_interpolated_request_parameter_provider.py
  airbyte-cdk/python/unit_tests/sources/declarative/retrievers/test_simple_retriever.py
  airbyte-cdk/python/unit_tests/sources/declarative/stream_slicers/__init__.py
  airbyte-cdk/python/unit_tests/sources/declarative/stream_slicers/test_datetime_stream_slicer.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_jq.py
Labels: CDK

#13374 Source Salesforce: fix build
  airbyte-integrations/connectors/source-salesforce/integration_tests/bulk_error_test.py
Labels: area/connectors

#13360 Updating Plural deployment doc with latest information
  docs/deploying-airbyte/on-plural.md
Labels: area/documentation, community

#13381 [OC-252] Hubspot Source: Request optional scopes
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/source_hubspot/source.py
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/HubspotOAuthFlow.java
  airbyte-oauth/src/test/java/io/airbyte/oauth/flows/HubspotOAuthFlowTest.java
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors

#13372 :tada: Source Mixpanel: Beta preparation
  airbyte-integrations/connectors/source-mixpanel/Dockerfile
  airbyte-integrations/connectors/source-mixpanel/acceptance-test-config.yml
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/property_transformation.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/source.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/spec.json
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams/__init__.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams/annotations.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams/base.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams/cohort_members.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams/cohorts.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams/engage.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams/export.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams/funnels.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams/revenue.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/testing.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_property_transformation.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_source.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/unit_test.py
  docs/integrations/sources/mixpanel.md
Labels: area/documentation, area/connectors

#13383 🎉Source Hubspot: Associated line items to deals
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/deals.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors

#13320 🎉Source Hubspot: Fix connector incremental state handling
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_source.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/utils.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors

#13287 [Low code CDK] add support for iterating over parent stream slices
  airbyte-cdk/python/airbyte_cdk/sources/declarative/stream_slicers/substream_slicer.py
  airbyte-cdk/python/unit_tests/sources/declarative/checks/test_interpolated_mapping.py
  airbyte-cdk/python/unit_tests/sources/declarative/stream_slicers/test_substream_slicer.py
Labels: CDK

#13433 Update postgres doc about cdc publication
  docs/integrations/sources/postgres.md
Labels: area/documentation

#13419 Source MSSQL: correct enum Standard method
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mssql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mssql-strict-encrypt/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/source-mssql/Dockerfile
  airbyte-integrations/connectors/source-mssql/src/main/resources/spec.json
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors

#13197 Updates error view with new design
  airbyte-webapp/public/images/octavia/biting-nails.png
  airbyte-webapp/src/components/ApiErrorBoundary/ApiErrorBoundary.tsx
  airbyte-webapp/src/components/BaseClearView/BaseClearView.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/DestinationPage/pages/DestinationItemPage/DestinationItemPage.tsx
  airbyte-webapp/src/pages/OnboardingPage/OnboardingPage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/SourceItemPage.tsx
  airbyte-webapp/src/views/common/ErrorOccurredView.tsx
  airbyte-webapp/src/views/common/ErrorOccurredView/ErrorOccurredView.module.scss
  airbyte-webapp/src/views/common/ErrorOccurredView/ErrorOccurredView.tsx
  airbyte-webapp/src/views/common/ErrorOccurredView/index.tsx
  airbyte-webapp/src/views/common/StartOverErrorView.tsx
Labels: area/frontend, area/platform, team/frontend

#13423 Source Google Ads: drop schema field that filters out the data from stream
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/ad_group_ad_report.json
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, connectors/source/google-ads

#13432 Helm chart dependencies fix
  charts/airbyte/Chart.lock
  charts/airbyte/Chart.yaml
Labels: area/platform, kubernetes, community

#13397 Improve kube deploy process.
  kube/resources/bootloader.yaml
  kube/resources/db.yaml
Labels: area/platform, kubernetes

#13446 🐛 Source Google Sheets: Retry on server errors
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-sheets/Dockerfile
  airbyte-integrations/connectors/source-google-sheets/google_sheets_source/client.py
  docs/integrations/sources/google-sheets.md
Labels: area/documentation, area/connectors, connectors/source/google-sheets

#13332 🎉 Source Freshdesk: Added new streams
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-freshdesk/Dockerfile
  airbyte-integrations/connectors/source-freshdesk/acceptance-test-config.yml
  airbyte-integrations/connectors/source-freshdesk/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/schemas/business_hours.json
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/schemas/canned_response_folders.json
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/schemas/canned_responses.json
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/schemas/discussion_categories.json
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/schemas/discussion_comments.json
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/schemas/discussion_forums.json
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/schemas/discussion_topics.json
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/schemas/email_configs.json
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/schemas/email_mailboxes.json
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/schemas/products.json
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/schemas/scenario_automations.json
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/schemas/settings.json
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/schemas/sla_policies.json
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/schemas/solution_articles.json
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/schemas/solution_categories.json
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/schemas/solution_folders.json
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/schemas/ticket_fields.json
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/source.py
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/streams.py
  airbyte-integrations/connectors/source-freshdesk/unit_tests/test_source.py
  airbyte-integrations/connectors/source-freshdesk/unit_tests/test_streams.py
  docs/integrations/sources/freshdesk.md
Labels: area/documentation, area/connectors, community, connectors/source/freshdesk, bounty

#13388 Fixed reverted PR: Fix cancel button when it doesn't provide feedback to the user + UX improvements
  airbyte-webapp/.eslintrc
  airbyte-webapp/src/components/ConfirmationModal/ConfirmationModal.tsx
  airbyte-webapp/src/components/JobItem/components/MainInfo.tsx
  airbyte-webapp/src/components/ResetDataModal/ResetDataModal.tsx
  airbyte-webapp/src/components/ResetDataModal/index.tsx
  airbyte-webapp/src/components/ResetDataModal/types.ts
  airbyte-webapp/src/components/SingletonCard/SingletonCard.tsx
  airbyte-webapp/src/components/ToolTip/ToolTip.tsx
  airbyte-webapp/src/components/base/Button/LoadingButton.tsx
  airbyte-webapp/src/hooks/services/ConfirmationModal/ConfirmationModalService.tsx
  airbyte-webapp/src/hooks/useLoadingState.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/packages/firebaseReact/sdk.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/ReplicationView.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/StatusView.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/ConnectionForm.test.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/ConnectionForm.tsx
Labels: area/frontend, area/platform, team/frontend

#13450 🐛 Source Mixpanel: publish v0.1.17
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mixpanel/README.md
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_property_transformation.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_source.py
Labels: area/connectors, connectors/source/mixpanel

#13392 Highlight removed and added streams in Connection form
  airbyte-webapp/src/pages/ConnectionPage/pages/CreationFormPage/CreationFormPage.tsx
  airbyte-webapp/src/scss/_colors.scss
  airbyte-webapp/src/views/Connection/CatalogTree/CatalogSection.module.scss
  airbyte-webapp/src/views/Connection/CatalogTree/CatalogSection.tsx
  airbyte-webapp/src/views/Connection/CatalogTree/CatalogTree.module.scss
  airbyte-webapp/src/views/Connection/CatalogTree/CatalogTree.tsx
  airbyte-webapp/src/views/Connection/CatalogTree/StreamHeader.module.scss
  airbyte-webapp/src/views/Connection/CatalogTree/StreamHeader.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/components/SyncCatalogField.module.scss
  airbyte-webapp/src/views/Connection/ConnectionForm/components/SyncCatalogField.tsx
Labels: area/platform, team/frontend

#13454 Bump Airbyte version from 0.39.8-alpha to 0.39.9-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/worker, area/platform, kubernetes, area/server, area/scheduler, team/frontend

#12828 Enable setting resource limits for bootloader and temporal pods
  charts/airbyte/README.md
  charts/airbyte/templates/bootloader/pod.yaml
  charts/airbyte/templates/temporal/deployment.yaml
  charts/airbyte/values.yaml
Labels: area/platform, kubernetes, community, on-hold

#13069 Destination Redshift: fixed array contents verification for SUPER
  airbyte-commons/src/main/java/io/airbyte/commons/json/Jsons.java
  airbyte-commons/src/test/java/io/airbyte/commons/json/JsonsTest.java
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-redshift/Dockerfile
  docs/integrations/destinations/redshift.md
Labels: area/documentation, area/connectors, community, connectors/destination/redshift, bounty

#13457 Check for invalidFields size before accessing
  airbyte-workers/src/main/java/io/airbyte/workers/RecordSchemaValidator.java
Labels: area/worker, area/platform

#13455 Source hubspot: filter out streams we don't have access to
  airbyte-cdk/python/airbyte_cdk/sources/streams/core.py
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/source_hubspot/source.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, CDK, connectors/source/hubspot

#13460 Formatting: run gradlew add headers, correct formatting
  airbyte-commons/src/test/java/io/airbyte/commons/json/JsonsTest.java
  airbyte-db/lib/src/test/java/io/airbyte/db/check/impl/ConfigsDatabaseMigrationCheckTest.java
  airbyte-db/lib/src/test/java/io/airbyte/db/check/impl/JobsDatabaseMigrationCheckTest.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedTestDataComparator.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeCopyGcsDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeGcsStagingDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeGcsStagingSqlOperations.java
  airbyte-integrations/connectors/source-faker/source_faker/products.json
  airbyte-integrations/connectors/source-freshdesk/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-sftp/src/main/java/io/airbyte/integrations/source/sftp/SftpClient.java
  airbyte-integrations/connectors/source-sftp/src/main/java/io/airbyte/integrations/source/sftp/SftpCommand.java
  airbyte-integrations/connectors/source-sftp/src/main/java/io/airbyte/integrations/source/sftp/SftpSource.java
  airbyte-integrations/connectors/source-sftp/src/main/java/io/airbyte/integrations/source/sftp/enums/SftpAuthMethod.java
  airbyte-integrations/connectors/source-sftp/src/main/java/io/airbyte/integrations/source/sftp/enums/SupportedFileExtension.java
  airbyte-integrations/connectors/source-sftp/src/main/java/io/airbyte/integrations/source/sftp/parsers/CsvFileParser.java
  airbyte-integrations/connectors/source-sftp/src/main/java/io/airbyte/integrations/source/sftp/parsers/JsonFileParser.java
  airbyte-integrations/connectors/source-sftp/src/main/java/io/airbyte/integrations/source/sftp/parsers/SftpFileParser.java
  airbyte-integrations/connectors/source-sftp/src/main/java/io/airbyte/integrations/source/sftp/parsers/SftpFileParserFactory.java
  airbyte-integrations/connectors/source-sftp/src/main/java/io/airbyte/integrations/source/sftp/util/JsonSchemaGenerator.java
  airbyte-integrations/connectors/source-sftp/src/main/resources/spec.json
  airbyte-integrations/connectors/source-sftp/src/test-integration/java/io/airbyte/integrations/source/sftp/SftpSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-sftp/src/test-integration/resources/sftp/log-20220420.json
  airbyte-integrations/connectors/source-sftp/src/test/java/io/airbyte/integrations/source/sftp/parsers/CsvFileParserTest.java
  airbyte-integrations/connectors/source-sftp/src/test/java/io/airbyte/integrations/source/sftp/parsers/JsonFileParserTest.java
  airbyte-integrations/connectors/source-sftp/src/test/resources/log-test.json
Labels: area/connectors, connectors/destination/bigquery-denormalized, connectors/source/freshdesk, connectors/destination/snowflake, connectors/source/sftp, connectors/source/faker

#13463 Edit getting started docs
  docs/cloud/getting-started-with-airbyte-cloud.md
Labels: area/documentation

#13465 revert redshift and json operations
  airbyte-commons/src/main/java/io/airbyte/commons/json/Jsons.java
  airbyte-commons/src/test/java/io/airbyte/commons/json/JsonsTest.java
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-redshift/Dockerfile
  docs/integrations/destinations/redshift.md
Labels: area/documentation, area/connectors, connectors/destination/redshift

#13470 Bump Airbyte version from 0.39.9-alpha to 0.39.10-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/worker, area/platform, kubernetes, area/server, area/scheduler, team/frontend

#13479 Update generate script to use new protocol models directory.
  airbyte-cdk/python/bin/generate-protocol-files.sh
Labels: CDK

#13480 Fat Jar: Rename Dir Part 3
  airbyte-bootloader/build.gradle
  airbyte-container-orchestrator/build.gradle
  airbyte-scheduler/app/build.gradle
  airbyte-scheduler/client/build.gradle
  airbyte-scheduler/scheduler-models/build.gradle
  airbyte-scheduler/scheduler-models/readme.md
  airbyte-scheduler/scheduler-models/src/main/java/io/airbyte/scheduler/models/Attempt.java
  airbyte-scheduler/scheduler-models/src/main/java/io/airbyte/scheduler/models/AttemptStatus.java
  airbyte-scheduler/scheduler-models/src/main/java/io/airbyte/scheduler/models/AttemptWithJobInfo.java
  airbyte-scheduler/scheduler-models/src/main/java/io/airbyte/scheduler/models/Job.java
  airbyte-scheduler/scheduler-models/src/main/java/io/airbyte/scheduler/models/JobStatus.java
  airbyte-scheduler/scheduler-models/src/main/java/io/airbyte/scheduler/models/JobWithStatusAndTimestamp.java
  airbyte-scheduler/scheduler-models/src/test/java/io/airbyte/scheduler/models/AttemptTest.java
  airbyte-scheduler/scheduler-models/src/test/java/io/airbyte/scheduler/models/JobTest.java
  airbyte-scheduler/scheduler-persistence/build.gradle
  airbyte-scheduler/scheduler-persistence/readme.md
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/DefaultJobCreator.java
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/DefaultJobPersistence.java
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/JobCreator.java
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/JobNotifier.java
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/JobPersistence.java
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/ResourceRequirementsUtils.java
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/WorkspaceHelper.java
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/job_factory/DefaultSyncJobFactory.java
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/job_factory/OAuthConfigSupplier.java
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/job_factory/SyncJobFactory.java
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/job_tracker/JobTracker.java
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/job_tracker/TrackingMetadata.java
  airbyte-scheduler/scheduler-persistence/src/main/resources/example_config.json
  airbyte-scheduler/scheduler-persistence/src/main/resources/example_config_schema.json
  airbyte-scheduler/scheduler-persistence/src/main/resources/job_history_purge.sql
  airbyte-scheduler/scheduler-persistence/src/test/java/io/airbyte/scheduler/persistence/DefaultJobCreatorTest.java
  airbyte-scheduler/scheduler-persistence/src/test/java/io/airbyte/scheduler/persistence/DefaultJobPersistenceTest.java
  airbyte-scheduler/scheduler-persistence/src/test/java/io/airbyte/scheduler/persistence/JobNotifierTest.java
  airbyte-scheduler/scheduler-persistence/src/test/java/io/airbyte/scheduler/persistence/ResourceRequirementsUtilsTest.java
  airbyte-scheduler/scheduler-persistence/src/test/java/io/airbyte/scheduler/persistence/WorkspaceHelperTest.java
  airbyte-scheduler/scheduler-persistence/src/test/java/io/airbyte/scheduler/persistence/job_factory/DefaultSyncJobFactoryTest.java
  airbyte-scheduler/scheduler-persistence/src/test/java/io/airbyte/scheduler/persistence/job_factory/OAuthConfigSupplierTest.java
  airbyte-scheduler/scheduler-persistence/src/test/java/io/airbyte/scheduler/persistence/job_tracker/JobTrackerTest.java
  airbyte-scheduler/scheduler-persistence/src/test/java/io/airbyte/scheduler/persistence/job_tracker/TrackingMetadataTest.java
  airbyte-server/build.gradle
  airbyte-workers/build.gradle
  build.gradle
  settings.gradle
Labels: area/worker, area/platform, area/server, area/scheduler

#13484 Start publishing proper artifacts.
  airbyte-analytics/build.gradle
  airbyte-api/build.gradle
  airbyte-bootloader/build.gradle
  airbyte-commons-cli/build.gradle
  airbyte-commons-docker/build.gradle
  airbyte-commons/build.gradle
  airbyte-config/config-models/build.gradle
  airbyte-config/config-persistence/build.gradle
  airbyte-config/init/build.gradle
  airbyte-config/specs/build.gradle
  airbyte-db/db-lib/build.gradle
  airbyte-db/jooq/build.gradle
  airbyte-json-validation/build.gradle
  airbyte-metrics/metrics-lib/build.gradle
  airbyte-notification/build.gradle
  airbyte-oauth/build.gradle
  airbyte-protocol/protocol-models/build.gradle
  airbyte-scheduler/app/build.gradle
  airbyte-scheduler/client/build.gradle
  airbyte-scheduler/scheduler-models/build.gradle
  airbyte-scheduler/scheduler-persistence/build.gradle
  airbyte-server/build.gradle
  airbyte-workers/build.gradle
Labels: area/api, area/worker, area/platform, area/protocol, area/server, area/scheduler

#13475 🐛 Source Hubspot: scope `crm.objects.feedback_submissions.read` added for `feedback_submissions` stream
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot

#13307 Source HubSpot: Bumped release stage version to GA
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
Labels: team/connectors-python

#13490 Bump Airbyte version from 0.39.10-alpha to 0.39.11-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/worker, area/platform, kubernetes, area/server, area/scheduler, team/frontend

#13481 Update slack-code-of-conduct.md
  docs/project-overview/slack-code-of-conduct.md
Labels: area/documentation

#13482 Create maintainer-code-of-conduct
  docs/project-overview/maintainer-code-of-conduct
Labels: area/documentation

#13510 Fix lost schedule when editing connection name and ensure connection name is not cleared in other connection updates
  airbyte-webapp/src/components/EntityTable/hooks.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/ConnectionName.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/EnabledControl.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/ReplicationView.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/TransformationView.tsx
  airbyte-webapp/src/utils/addEnterEscFuncForInput.tsx
Labels: area/frontend, team/frontend

#13509 Bump Airbyte version from 0.39.11-alpha to 0.39.12-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/worker, area/platform, kubernetes, area/server, team/frontend

#13513 Bump Airbyte version from 0.39.12-alpha to 0.39.13-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/worker, area/platform, kubernetes, area/server, team/frontend

#13356 Bmoric/add namespace to protocol
  airbyte-cdk/python/airbyte_cdk/models/airbyte_protocol.py
  airbyte-protocol/protocol-models/src/main/resources/airbyte_protocol/airbyte_protocol.yaml
Labels: CDK, area/platform, area/protocol

#13449 :tada: Source Stripe - to ga
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-stripe/Dockerfile
  airbyte-integrations/connectors/source-stripe/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-stripe/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-stripe/integration_tests/full_refresh_configured_catalog.json
  airbyte-integrations/connectors/source-stripe/setup.py
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/checkout_sessions_line_items.json
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_source.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_streams.py
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, connectors/source/stripe

#13551 13547 Fixed integration tests source-sftp Mac OS
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/util/HostPortResolver.java
  airbyte-integrations/connectors/source-sftp/build.gradle
  airbyte-integrations/connectors/source-sftp/src/test-integration/java/io/airbyte/integrations/source/sftp/SftpSourceAcceptanceTest.java
Labels: area/connectors, connectors/source/sftp

#13364 🎉 Source Amazon Seller Partner: add financial streams
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/Dockerfile
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_financial_data.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/ListFinancialEventGroups.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/ListFinancialEvents.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_finance_streams.py
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation, area/connectors, community, connectors/source/amazon-seller-partner, bounty, bounty-M

#13553 Upgrade all non major dependencies
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/scripts/license-check.js
Labels: area/platform, team/frontend

#13519 scrub secrets
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/http.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/vcr_helper.py
Labels: CDK

#13562 Fixed checkstyle errors
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-bigquery/src/main/resources/spec.json
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcPostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/PostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-stripe/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-stripe/integration_tests/configured_catalog.json
Labels: area/connectors, connectors/source/stripe, connectors/destination/bigquery, connectors/destination/bigquery-denormalized, connectors/source/postgres

#13296 Create interface, factory for metric client
  airbyte-metrics/metrics-lib/src/main/java/io/airbyte/metrics/lib/DogStatsDMetricClient.java
  airbyte-metrics/metrics-lib/src/main/java/io/airbyte/metrics/lib/MetricClient.java
  airbyte-metrics/metrics-lib/src/main/java/io/airbyte/metrics/lib/MetricClientFactory.java
  airbyte-metrics/metrics-lib/src/main/java/io/airbyte/metrics/lib/MetricEmittingApps.java
  airbyte-metrics/metrics-lib/src/main/java/io/airbyte/metrics/lib/NotImplementedMetricClient.java
  airbyte-metrics/metrics-lib/src/test/java/io/airbyte/metrics/lib/DogStatsDMetricClientTest.java
  airbyte-metrics/metrics-lib/src/test/java/io/airbyte/metrics/lib/MetricClientFactoryTest.java
  airbyte-metrics/reporter/src/main/java/io/airbyte/metrics/reporter/ReporterApp.java
  airbyte-metrics/reporter/src/main/java/io/airbyte/metrics/reporter/ToEmit.java
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerApp.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityImpl.java
Labels: area/worker, area/platform

#13566 Source Hubspot: report which scopes are missing to user
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/source_hubspot/source.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot

#13570 [low-code connectors] use jello instead of jq
  airbyte-cdk/python/airbyte_cdk/sources/declarative/extractors/jello.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/declarative/extractors/test_jello.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_factory.py
Labels: CDK

#13578 Bump Airbyte version from 0.39.13-alpha to 0.39.14-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/worker, area/platform, kubernetes, area/server, team/frontend

#13579 🐛 BigQuery destination: always run GCS destination check for GCS staging method
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDestination.java
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, connectors/destination/bigquery-denormalized

#13576 🎉 Postgres source: publish new version with JDBC fetch size v2
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  docs/integrations/sources/postgres.md
Labels: area/documentation

#13586 Update version in Dockerfile to match docs
  airbyte-integrations/connectors/destination-oracle-strict-encrypt/Dockerfile
Labels: area/connectors, connectors/destination/oracle-strict-encrypt

#11447 📚 Improve Connectors Changelog docs page
  docs/project-overview/changelog/connectors.md
Labels: area/documentation, community

#13588 test ERD publishing
  .github/actions/publish-connector-erd/action.yml
  .github/workflows/publish-command.yml
  airbyte-integrations/connectors/source-faker/Dockerfile
  tools/erds/generator.sh
  tools/erds/publish.sh
Labels: area/connectors, connectors/source/faker

#13587 Add ERD publishing
  .github/actions/publish-connector-erd/action.yml
  .github/workflows/publish-command.yml
  tools/erds/README.md
  tools/erds/allowlist.txt
  tools/erds/generator.sh
  tools/erds/publish.sh
Labels: connectors/source/faker

#13569 Generate DBML file from normalization
  .github/actions/publish-connector-erd/action.yml
  .github/workflows/publish-command.yml
  airbyte-integrations/bases/base-normalization/normalization/transform_catalog/catalog_processor.py
  airbyte-integrations/bases/base-normalization/normalization/transform_catalog/transform.py
  tools/erds/README.md
  tools/erds/allowlist.txt
  tools/erds/erd_generator/configured_catalog.py
  tools/erds/generator.sh
  tools/erds/publish.sh
  tools/erds/setup.py
Labels: normalization

#13054 🎉 Destination MSSQL: added custom JDBC parameters support.
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-mssql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/destination-mssql/Dockerfile
  airbyte-integrations/connectors/destination-mssql/src/main/java/io/airbyte/integrations/destination/mssql/MSSQLDestination.java
  airbyte-integrations/connectors/destination-mssql/src/test/java/io/airbyte/integrations/destination/mssql/MSSQLDestinationTest.java
  docs/integrations/destinations/mssql.md
Labels: area/documentation, area/connectors, community, connectors/destination/mssql, internal, connectors/destination/mssql-strict-encrypt

#13600 Validate links in frontend in CI
  .github/workflows/fe-validate-links.yml
  airbyte-webapp/build.gradle
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/scripts/validate-links.ts
  airbyte-webapp/src/components/DocumentationPanel/DocumentationPanel.tsx
  airbyte-webapp/src/config/defaultConfig.ts
  airbyte-webapp/src/config/links.ts
  airbyte-webapp/src/config/types.ts
  airbyte-webapp/src/packages/cloud/views/auth/SignupPage/SignupPage.tsx
  airbyte-webapp/src/packages/cloud/views/auth/components/Header.tsx
  airbyte-webapp/src/packages/cloud/views/auth/components/News.tsx
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/components/RemainingCredits.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/FinalStep.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/WelcomeStep.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConfigurationsPage/ConfigurationsPage.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/components/CreateConnectorModal.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/MetricsPage/components/MetricsForm.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/components/NormalizationField.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/components/SyncCatalogField.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/ShowLoadingMessage.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/WarningMessage.tsx
  airbyte-webapp/src/views/Settings/PreferencesForm/PreferencesForm.tsx
  airbyte-webapp/src/views/layout/SideBar/SideBar.tsx
  airbyte-webapp/src/views/layout/SideBar/components/SidebarPopout.tsx
Labels: area/platform, team/frontend

#13567 properly handle correcting quarantined workflows when performing update
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalClient.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/TemporalClientTest.java
Labels: area/worker, area/platform

#13628 Redesign landing page
  docs/readme.md
  docusaurus/docusaurus.config.js
  docusaurus/sidebars.js
Labels: area/documentation

#13627 Bump Airbyte version from 0.39.15-alpha to 0.39.16-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/worker, area/platform, kubernetes, area/server, team/frontend

#13630 🎉 Databricks destination: rename to Databricks delta lake
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-databricks/BOOTSTRAP.md
  airbyte-integrations/connectors/destination-databricks/Dockerfile
  airbyte-integrations/connectors/destination-databricks/README.md
  airbyte-integrations/connectors/destination-databricks/src/main/resources/spec.json
  docs/integrations/destinations/databricks.md
Labels: area/documentation, area/connectors, connectors/destination/databricks

#13558 🐛 Source Github: enable caching only for parent streams
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/source_github/streams.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors, connectors/source/github

#13618 Source Google Ads: add missing dependency
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/setup.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, connectors/source/google-ads

#13574 helm-chart: add support for JOB_KUBE_MAIN_CONTAINER_IMAGE_PULL_SECRET
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/templates/env-configmap.yaml
  charts/airbyte/templates/worker/deployment.yaml
  charts/airbyte/values.yaml
Labels: area/platform, kubernetes, community, helm

#13599 🎉 Source Amplitude: label as `generally_available` in UI
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
Labels: connectors/source/amplitude

#12964 source Myhours: Udate API schema
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-my-hours/Dockerfile
  airbyte-integrations/connectors/source-my-hours/source_my_hours/schemas/time_logs.json
  docs/integrations/sources/my-hours.md
Labels: area/documentation, area/connectors, community, connectors/source/intercom, internal, connectors/source/my-hours

#13637 :tada: Source Mailchimp: Change releaseStage to GA
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
Labels: team/connectors-python

#13317 Source Facebook Marketing: fix tax_id to string canadian has letters
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/ad_account.json
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing

#13652 Fix Connectors Base Build: CDK tests fail after `requests` update
  airbyte-cdk/python/unit_tests/sources/streams/http/test_http.py
Labels: CDK

#13415 🎉 Destination Redshift: Add "Loading Method" option to Redshift Destination spec and UI
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-redshift/Dockerfile
  airbyte-integrations/connectors/destination-redshift/README.md
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftDestination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftStagingS3Destination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/constants/RedshiftDestinationConstants.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/validator/RedshiftUtil.java
  airbyte-integrations/connectors/destination-redshift/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/RedshiftInsertDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/RedshiftS3StagingInsertDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/RedshiftStagingS3DestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-redshift/src/test/java/io/airbyte/integrations/destination/redshift/RedshiftDestinationTest.java
  docs/integrations/destinations/redshift.md
Labels: area/documentation, area/connectors, connectors/destination/redshift

#13665 Docs: Destination ElasticSearch remove port from doc requirements
  docs/integrations/destinations/elasticsearch.md
Labels: area/documentation

#13642 Separate platform and connector testcontainer versions
  airbyte-bootloader/build.gradle
  airbyte-config/config-persistence/build.gradle
  airbyte-container-orchestrator/build.gradle
  airbyte-db/db-lib/build.gradle
  airbyte-db/jooq/build.gradle
  airbyte-integrations/bases/base-java/build.gradle
  airbyte-integrations/connectors/destination-cassandra/build.gradle
  airbyte-integrations/connectors/destination-clickhouse-strict-encrypt/build.gradle
  airbyte-integrations/connectors/destination-clickhouse/build.gradle
  airbyte-integrations/connectors/destination-elasticsearch/build.gradle
  airbyte-integrations/connectors/destination-jdbc/build.gradle
  airbyte-integrations/connectors/destination-kafka/build.gradle
  airbyte-integrations/connectors/destination-mariadb-columnstore/build.gradle
  airbyte-integrations/connectors/destination-meilisearch/build.gradle
  airbyte-integrations/connectors/destination-mongodb-strict-encrypt/build.gradle
  airbyte-integrations/connectors/destination-mongodb/build.gradle
  airbyte-integrations/connectors/destination-mssql-strict-encrypt/build.gradle
  airbyte-integrations/connectors/destination-mssql/build.gradle
  airbyte-integrations/connectors/destination-mysql-strict-encrypt/build.gradle
  airbyte-integrations/connectors/destination-mysql/build.gradle
  airbyte-integrations/connectors/destination-oracle-strict-encrypt/build.gradle
  airbyte-integrations/connectors/destination-oracle/build.gradle
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/build.gradle
  airbyte-integrations/connectors/destination-postgres/build.gradle
  airbyte-integrations/connectors/destination-pulsar/build.gradle
  airbyte-integrations/connectors/destination-redis/build.gradle
  airbyte-integrations/connectors/destination-scylla/build.gradle
  airbyte-integrations/connectors/source-clickhouse-strict-encrypt/build.gradle
  airbyte-integrations/connectors/source-clickhouse/build.gradle
  airbyte-integrations/connectors/source-cockroachdb-strict-encrypt/build.gradle
  airbyte-integrations/connectors/source-cockroachdb/build.gradle
  airbyte-integrations/connectors/source-db2-strict-encrypt/build.gradle
  airbyte-integrations/connectors/source-db2/build.gradle
  airbyte-integrations/connectors/source-jdbc/build.gradle
  airbyte-integrations/connectors/source-kafka/build.gradle
  airbyte-integrations/connectors/source-mongodb-v2/build.gradle
  airbyte-integrations/connectors/source-mssql-strict-encrypt/build.gradle
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mysql-strict-encrypt/build.gradle
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-oracle-strict-encrypt/build.gradle
  airbyte-integrations/connectors/source-oracle/build.gradle
  airbyte-integrations/connectors/source-postgres-strict-encrypt/build.gradle
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-relational-db/build.gradle
  airbyte-integrations/connectors/source-sftp/build.gradle
  airbyte-integrations/connectors/source-tidb/build.gradle
  airbyte-metrics/metrics-lib/build.gradle
  airbyte-scheduler/scheduler-persistence/build.gradle
  airbyte-server/build.gradle
  airbyte-test-utils/build.gradle
  airbyte-tests/build.gradle
  airbyte-workers/build.gradle
  deps.toml
Labels: area/connectors, area/worker, area/platform, area/server, area/scheduler, connectors/source/clickhouse, connectors/source/cockroachdb, connectors/source/cockroachdb-strict-encrypt, connectors/source/db2, connectors/source/db2-strict-encrypt, connectors/destination/cassandra, connectors/destination/elasticsearch, connectors/source/kafka, connectors/source/mssql, connectors/source/mysql, connectors/destination/mysql, connectors/source/oracle, connectors/source/postgres, connectors/destination/clickhouse, connectors/destination/kafka, connectors/destination/mongodb, connectors/destination/mssql, connectors/destination/postgres, connectors/destination/mariadb-columnstore, connectors/destination/meilisearch, connectors/destination/pulsar, connectors/destination/scylla, connectors/destination/redis, connectors/destination/oracle-strict-encrypt, connectors/destination/jdbc, connectors/source/mongodb-v2, connectors/source/jdbc, connectors/destination/postgres-strict-encrypt, connectors/destination/mongodb-strict-encrypt, connectors/destination/mssql-strict-encrypt, connectors/destination/mysql-strict-encrypt, connectors/source/relational-db, connectors/destination/oracle, connectors/destination/clickhouse-strict-encrypt, connectors/source/clickhouse-strict-encrypt, connectors/source/mssql-strict-encrypt, connectors/source/mysql-strict-encrypt, connectors/source/oracle-strict-encrypt, connectors/source/postgres-strict-encrypt, connectors/source/sftp, connectors/source/tidb

#13559 [new]Add margin to bottom and sides for cloud pages
  airbyte-webapp/src/components/MainPageWithScroll/MainPageWithScroll.module.scss
  airbyte-webapp/src/components/MainPageWithScroll/MainPageWithScroll.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/DestinationItemPage/components/DestinationSettings.module.scss
  airbyte-webapp/src/pages/DestinationPage/pages/DestinationItemPage/components/DestinationSettings.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SourceSettings.module.scss
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SourceSettings.tsx
  airbyte-webapp/src/scss/_variables.scss
  airbyte-webapp/src/views/Connector/ConnectorDocumentationLayout/ConnectorDocumentationLayout.module.scss
  airbyte-webapp/src/views/Connector/ConnectorDocumentationLayout/ConnectorDocumentationLayout.tsx
Labels: area/platform, team/frontend

#13439 source-delighted: Unix changed to normal timestamp
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-delighted/Dockerfile
  airbyte-integrations/connectors/source-delighted/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-delighted/source_delighted/source.py
  airbyte-integrations/connectors/source-delighted/source_delighted/spec.json
  airbyte-integrations/connectors/source-delighted/unit_tests/unit_test.py
  docs/integrations/sources/delighted.md
Labels: area/documentation, area/connectors, community, connectors/source/delighted, internal

#13683 Upgrade node to latest LTS
  .github/actions/build-branch/action.yml
  .github/workflows/fe-validate-links.yml
  .github/workflows/gke-kube-test-command.yml
  .github/workflows/gradle.yml
  .github/workflows/release-airbyte-os.yml
  .github/workflows/run-specific-test-command.yml
  airbyte-webapp/.nvmrc
  airbyte-webapp/build.gradle
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/components/JobItem/components/ContentWrapper.tsx
Labels: area/platform, team/frontend

#13621 Show manual frequency in connection table and use intl for frequency values
  airbyte-webapp-e2e-tests/cypress/commands/connection.ts
  airbyte-webapp-e2e-tests/cypress/integration/connection.spec.ts
  airbyte-webapp/src/components/EntityTable/components/FrequencyCell.tsx
  airbyte-webapp/src/components/EntityTable/hooks.tsx
  airbyte-webapp/src/config/FrequencyConfig.json
  airbyte-webapp/src/config/utils.ts
  airbyte-webapp/src/hooks/services/useConnectionHook.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionItemPage.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/EnabledControl.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/StatusMainInfo.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/formConfig.tsx
Labels: area/frontend, area/platform, team/frontend

#13396 📚 Destination Databricks: Clarify on Destination Format with Delta-Table
  docs/integrations/destinations/databricks.md
Labels: area/documentation

#13681 Render Google Ads docs for users with Adblockers
  airbyte-webapp/build.gradle
  airbyte-webapp/src/setupProxy.js
  airbyte-webapp/src/views/Connector/ConnectorDocumentationLayout/DocumentationPanelContext.tsx
Labels: type/bug, area/platform, team/frontend

#13691 Source Hubspot: fix `URI too long` issue
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_split_properties.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot

#13289 Normalization - BigQuery use `json_extract_string_array` for array of simple types
  airbyte-db/db-lib/src/main/java/io/airbyte/db/bigquery/BigQuerySourceOperations.java
  airbyte-db/db-lib/src/main/java/io/airbyte/db/util/JsonUtil.java
  airbyte-integrations/bases/base-normalization/Dockerfile
  airbyte-integrations/bases/base-normalization/dbt-project-template/macros/cross_db_utils/json_operations.sql
  airbyte-integrations/bases/base-normalization/normalization/transform_catalog/stream_processor.py
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/comparator/AdvancedTestDataComparator.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryTestDataComparator.java
  airbyte-integrations/connectors/source-bigquery/src/test-integration/java/io/airbyte/integrations/source/bigquery/BigQuerySourceDatatypeTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/NormalizationRunnerFactory.java
  docs/understanding-airbyte/basic-normalization.md
Labels: area/documentation, area/connectors, area/worker, normalization, area/platform, connectors/destination/bigquery, connectors/source/bigquery

#11204 🎉 Destination mssql : adding ssh tunnel for normalisation
  airbyte-integrations/bases/base-normalization/Dockerfile
  airbyte-integrations/bases/base-normalization/normalization/transform_config/transform.py
  airbyte-integrations/bases/base-normalization/snowflake.Dockerfile
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/NormalizationRunnerFactory.java
  docs/understanding-airbyte/basic-normalization.md
Labels: area/documentation, area/worker, normalization, area/platform, community

#13573 Update schema
  airbyte-cdk/python/airbyte_cdk/models/airbyte_protocol.py
  airbyte-protocol/protocol-models/src/main/resources/airbyte_protocol/airbyte_protocol.yaml
Labels: CDK, area/platform, area/protocol

#13695 Faker Source emits times in proper ISO format
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-faker/Dockerfile
  airbyte-integrations/connectors/source-faker/source_faker/products.json
  airbyte-integrations/connectors/source-faker/source_faker/source.py
  docs/integrations/sources/faker.md
Labels: area/documentation, area/connectors, connectors/source/faker

#13708 📚 Source Notion: Updated docs as per new format
  docs/integrations/sources/notion.md
Labels: area/documentation, community

#13717 Updated BigQuery, Google Sheets, Facebook Marketing, Salesforce docs
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/snowflake.md
  docs/integrations/sources/facebook-marketing.md
  docs/integrations/sources/google-sheets.md
  docs/integrations/sources/salesforce.md
Labels: area/documentation

#13568 Fix connection read object building
  airbyte-server/src/main/java/io/airbyte/server/converters/ApiPojoConverters.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/helpers/ConnectionMatcher.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/ConnectionsHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/helpers/ConnectionHelpers.java
Labels: area/platform, area/server

#13724 Fix modal z-index bug
  airbyte-webapp/src/components/Modal/Modal.tsx
Labels: area/platform, team/frontend

#13655 :bug: Postgres Source: fixed unsupported date-time datatypes during incremental sync
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-jdbc/src/testFixtures/java/io/airbyte/integrations/source/jdbc/test/JdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres-strict-encrypt/src/test/java/io/airbyte/integrations/source/postgres/PostgresStrictEncryptJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSourceOperations.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresJdbcSourceAcceptanceTest.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres, connectors/source/jdbc, connectors/source/postgres-strict-encrypt

#13732 Bump version in Dockerfile to match source-postgres version
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
Labels: area/connectors, connectors/source/postgres-strict-encrypt

#13728 Fail the connection state instead of throwing an exception
  airbyte-workers/src/main/java/io/airbyte/workers/general/DefaultCheckConnectionWorker.java
  airbyte-workers/src/test/java/io/airbyte/workers/general/DefaultCheckConnectionWorkerTest.java
Labels: area/worker, area/platform

#13666 [low-code connectors] add a few unit tests
  airbyte-cdk/python/unit_tests/sources/declarative/extractors/test_jello.py
  airbyte-cdk/python/unit_tests/sources/declarative/interpolation/test_interpolated_boolean.py
Labels: CDK

#13722 Update Databricks naming
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-databricks/BOOTSTRAP.md
  airbyte-integrations/connectors/destination-databricks/Dockerfile
  airbyte-integrations/connectors/destination-databricks/README.md
  airbyte-integrations/connectors/destination-databricks/src/main/resources/spec.json
  docs/integrations/destinations/databricks.md
Labels: area/documentation, area/connectors, connectors/destination/databricks

#13745 Fallback to parsing datetime and time strings w/ and w/o timezones in case DateTimeParseException is thrown
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSourceOperations.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres

#13747 Bump source-postgres-strict-encrypt version to 0.4.23 to match source…
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
Labels: area/connectors, connectors/source/postgres-strict-encrypt

#13483 S3 destination: Updating processing data types for Avro/Parquet formats
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/NumberDataTypeTestArgumentProvider.java
  airbyte-integrations/bases/standard-destination-test/src/main/resources/number_data_type_array_test_catalog.json
  airbyte-integrations/bases/standard-destination-test/src/main/resources/number_data_type_array_test_messages.txt
  airbyte-integrations/bases/standard-destination-test/src/main/resources/number_data_type_test_catalog.json
  airbyte-integrations/bases/standard-destination-test/src/main/resources/number_data_type_test_messages.txt
  airbyte-integrations/connectors/destination-gcs/Dockerfile
  airbyte-integrations/connectors/destination-gcs/src/test-integration/java/io/airbyte/integrations/destination/gcs/GcsAvroDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-gcs/src/test-integration/java/io/airbyte/integrations/destination/gcs/GcsAvroParquetDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-gcs/src/test-integration/java/io/airbyte/integrations/destination/gcs/GcsParquetDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-s3/Dockerfile
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/avro/JsonSchemaType.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/avro/JsonToAvroSchemaConverter.java
  airbyte-integrations/connectors/destination-s3/src/test-integration/java/io/airbyte/integrations/destination/s3/S3AvroDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-s3/src/test-integration/java/io/airbyte/integrations/destination/s3/S3AvroParquetDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-s3/src/test-integration/java/io/airbyte/integrations/destination/s3/S3ParquetDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-s3/src/test/java/io/airbyte/integrations/destination/s3/avro/JsonSchemaTypeTest.java
  airbyte-integrations/connectors/destination-s3/src/test/resources/parquet/json_schema_converter/type_conversion_test_cases.json
  docs/integrations/destinations/gcs.md
  docs/integrations/destinations/s3.md
Labels: area/documentation, area/connectors, connectors/destination/s3, connectors/destination/gcs

#13658 Source Salesforce: fix sync capped streams with more records than page size
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-salesforce/Dockerfile
  airbyte-integrations/connectors/source-salesforce/source_salesforce/streams.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/api_test.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors, connectors/source/salesforce

#13739 Docs: update normalization setup guide
  docs/understanding-airbyte/basic-normalization.md
Labels: area/documentation

#13742 Update dbt version in custom normalization
  airbyte-webapp/src/views/Connection/ConnectionForm/formConfig.tsx
  docs/understanding-airbyte/operations.md
Labels: area/documentation, area/platform, team/frontend

#13701 Kube fix and Docs for open telemetry integration
  charts/airbyte/README.md
  charts/airbyte/templates/env-configmap.yaml
  charts/airbyte/templates/worker/deployment.yaml
  docs/.gitbook/assets/open_telemetry_example.png
  docs/operator-guides/collecting-metrics.md
  kube/resources/worker.yaml
Labels: area/documentation, area/platform, kubernetes

#13761 cdk: fix typo in `build.gradle.hbs`
  airbyte-integrations/connector-templates/destination-java/build.gradle.hbs
Labels: CDK, team/databases

#13759 Bump Airbyte version from 0.39.17-alpha to 0.39.18-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/worker, area/platform, kubernetes, area/server, team/frontend

#13549 🐛 Postgres Source: fixed truncated precision if the value of the milliseconds or seconds is 0
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-db/db-lib/src/main/java/io/airbyte/db/DataTypeUtils.java
  airbyte-db/db-lib/src/main/java/io/airbyte/db/jdbc/AbstractJdbcCompatibleSourceOperations.java
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSourceOperations.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/PostgresSourceDatatypeTest.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres, team/connectors-java

#13769 Postgres source strict encrypt trucnated precision bump version
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
Labels: area/connectors, connectors/source/postgres, connectors/source/postgres-strict-encrypt

#13741 Update getting-started-with-airbyte-cloud.md
  docs/cloud/getting-started-with-airbyte-cloud.md
Labels: area/documentation

#13709 Update Airbyte Protocol Docs
  airbyte-cdk/python/README.md
  airbyte-cdk/python/airbyte_cdk/models/airbyte_protocol.py
  airbyte-cdk/python/airbyte_cdk/sources/abstract_source.py
  airbyte-cdk/python/docs/concepts/README.md
  airbyte-cdk/python/docs/tutorials/cdk-tutorial-python-http/3-define-inputs.md
  airbyte-cdk/python/docs/tutorials/http_api_source.md
  airbyte-protocol/protocol-models/src/main/resources/airbyte_protocol/airbyte_protocol.yaml
  docs/.gitbook/assets/source-state-example.png
  docs/.gitbook/assets/sync-state-example.png
  docs/connector-development/README.md
  docs/connector-development/cdk-python/README.md
  docs/connector-development/connector-specification-reference.md
  docs/connector-development/testing-connectors/legacy-standard-source-tests.md
  docs/connector-development/testing-connectors/source-acceptance-tests-reference.md
  docs/connector-development/tutorials/build-a-connector-the-hard-way.md
  docs/connector-development/tutorials/building-a-java-destination.md
  docs/connector-development/tutorials/building-a-python-destination.md
  docs/connector-development/tutorials/building-a-python-source.md
  docs/connector-development/tutorials/cdk-tutorial-python-http/3-define-inputs.md
  docs/contributing-to-airbyte/README.md
  docs/integrations/sources/google-sheets.md
  docs/integrations/sources/smartsheets.md
  docs/understanding-airbyte/airbyte-protocol-docker.md
  docs/understanding-airbyte/airbyte-protocol.md
  docs/understanding-airbyte/airbyte-specification.md
  docs/understanding-airbyte/catalog.md
  docs/understanding-airbyte/connections/README.md
  docs/understanding-airbyte/glossary.md
  docs/understanding-airbyte/high-level-view.md
  docs/understanding-airbyte/jobs.md
  docs/understanding-airbyte/tech-stack.md
  docusaurus/sidebars.js
Labels: area/documentation, CDK, area/platform, area/protocol

#13749 Source Facebook marketing: fix `not syncing any data` issue
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/base_insight_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/conftest.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/helpers.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_base_insight_streams.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing

#13668 [low-code connectors] Support for list-based stream slicers
  airbyte-cdk/python/airbyte_cdk/sources/declarative/stream_slicers/list_stream_slicer.py
  airbyte-cdk/python/unit_tests/sources/declarative/stream_slicers/test_list_slicer.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_factory.py
Labels: CDK

#13784 📝 Postgres source: add troubleshooting for postgres hot standby
  docs/integrations/sources/postgres.md
Labels: area/documentation

#12893 octavia-cli: Add header name and header value arguments.
  octavia-cli/README.md
  octavia-cli/integration_tests/cassettes/test_api_http_headers.yaml
  octavia-cli/integration_tests/conftest.py
  octavia-cli/integration_tests/docker-compose-proxy.yaml
  octavia-cli/integration_tests/test_api_http_headers.py
  octavia-cli/octavia_cli/api_http_headers.py
  octavia-cli/octavia_cli/entrypoint.py
  octavia-cli/octavia_cli/init/commands.py
  octavia-cli/octavia_cli/init/example_files/__init__.py
  octavia-cli/octavia_cli/init/example_files/example_api_http_headers.yaml
  octavia-cli/setup.py
  octavia-cli/unit_tests/test_api_http_headers.py
  octavia-cli/unit_tests/test_entrypoint.py
  octavia-cli/unit_tests/test_init/test_commands.py
Labels: community, area/octavia-cli, team/use

#13707 🎉 Source Github: Fix API sorting, fix `get_starting_point` caching
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/source_github/source.py
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors, connectors/source/github

#13795 Fix mysql cdc acceptance test
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/source/mysql/CdcMySqlSourceAcceptanceTest.java
Labels: area/connectors, connectors/source/mysql

#13802 Update color palette, add scss colors, borders, and spacing
  airbyte-webapp/src/components/MainPageWithScroll/MainPageWithScroll.module.scss
  airbyte-webapp/src/components/base/Switch/Switch.module.scss
  airbyte-webapp/src/scss/_colors.scss
  airbyte-webapp/src/scss/_variables.scss
  airbyte-webapp/src/scss/export.module.scss
  airbyte-webapp/src/theme.ts
  airbyte-webapp/src/views/Connection/CatalogTree/CatalogSection.module.scss
  airbyte-webapp/src/views/Connection/CatalogTree/StreamHeader.module.scss
  airbyte-webapp/src/views/Connector/ConnectorDocumentationLayout/ConnectorDocumentationLayout.module.scss
  airbyte-webapp/src/views/common/ErrorOccurredView/ErrorOccurredView.module.scss
Labels: area/frontend, area/platform, team/frontend

#13418 Add style guide to front end repo
  airbyte-webapp/STYLEGUIDE.md
Labels: area/platform, team/frontend

#13810 Edited Stripe, HubSpot, Intercom docs
  docs/integrations/sources/hubspot.md
  docs/integrations/sources/intercom.md
  docs/integrations/sources/stripe.md
  docusaurus/sidebars.js
Labels: area/documentation

#13815 Fix broken link
  docs/archive/examples/slack-history.md
  docs/understanding-airbyte/beginners-guide-to-catalog.md
  docs/understanding-airbyte/connections/README.md
  docs/understanding-airbyte/connections/incremental-append.md
  docs/understanding-airbyte/connections/incremental-deduped-history.md
  docusaurus/docusaurus.config.js
Labels: area/documentation

#13798 Fix LabeledSwitch component width
  airbyte-webapp/src/components/LabeledSwitch/LabeledSwitch.module.scss
  airbyte-webapp/src/components/LabeledSwitch/LabeledSwitch.tsx
Labels: area/platform, team/frontend

#13812 Update 4-connection-checking.md
  docs/connector-development/tutorials/cdk-tutorial-python-http/4-connection-checking.md
Labels: area/documentation

#13820 Bump Airbyte version from 0.39.18-alpha to 0.39.19-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/worker, area/platform, kubernetes, area/server, team/frontend

#11470 Normalization: Upgrade MySQL to dbt 1.0.0
  airbyte-integrations/bases/base-normalization/Dockerfile
  airbyte-integrations/bases/base-normalization/dbt-project-template-mysql/dbt_project.yml
  airbyte-integrations/bases/base-normalization/dbt-project-template-mysql/packages.yml
  airbyte-integrations/bases/base-normalization/dbt-project-template/macros/cross_db_utils/concat.sql
  airbyte-integrations/bases/base-normalization/entrypoint.sh
  airbyte-integrations/bases/base-normalization/integration_tests/dbt_integration_test.py
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mysql/test_nested_streams/dbt_project.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mysql/test_nested_streams/first_output/airbyte_incremental/test_normalization/nested_stream_with_co___long_names_partition.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mysql/test_nested_streams/first_output/airbyte_incremental/test_normalization/nested_stream_with_co___names_partition_data.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mysql/test_nested_streams/first_output/airbyte_incremental/test_normalization/nested_stream_with_co__ion_double_array_data.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mysql/test_nested_streams/second_output/airbyte_incremental/test_normalization/nested_stream_with_co___long_names_partition.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mysql/test_nested_streams/second_output/airbyte_incremental/test_normalization/nested_stream_with_co___names_partition_data.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mysql/test_nested_streams/second_output/airbyte_incremental/test_normalization/nested_stream_with_co__ion_double_array_data.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mysql/test_simple_streams/dbt_project.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mysql/test_simple_streams/first_output/airbyte_tables/test_normalization/exchange_rate.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mysql/test_simple_streams/first_output/airbyte_views/test_normalization/dedup_exchange_rate_stg.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mysql/test_simple_streams/first_output/airbyte_views/test_normalization/multiple_column_names_conflicts_stg.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mysql/test_simple_streams/second_output/airbyte_tables/test_normalization/exchange_rate.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mysql/test_simple_streams/second_output/airbyte_views/test_normalization/dedup_exchange_rate_stg.sql
  airbyte-integrations/bases/base-normalization/mysql.Dockerfile
  airbyte-integrations/bases/base-normalization/snowflake.Dockerfile
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/NormalizationRunnerFactory.java
  docs/understanding-airbyte/basic-normalization.md
  tools/integrations/manage.sh
Labels: area/documentation, area/worker, blocked, normalization, area/platform

#13779 Restart workflow after activity failure instead of quarantining
  .env
  airbyte-config/config-models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/config-models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/ConnectionManagerUtils.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalUtils.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowTest.java
  charts/airbyte/templates/env-configmap.yaml
  charts/airbyte/templates/worker/deployment.yaml
  docker-compose.yaml
  kube/overlays/dev-integration-test/.env
  kube/overlays/dev/.env
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable/.env
  kube/resources/worker.yaml
Labels: area/worker, area/platform, kubernetes

#13829 Bump Airbyte version from 0.39.19-alpha to 0.39.20-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/worker, area/platform, kubernetes, area/server, team/frontend

#13823 🎉 Postgres source: prepare for removing strict-encrypt variant
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres, connectors/source/postgres-strict-encrypt

#13836 octavia: update versions in changelog
  octavia-cli/README.md
Labels: area/octavia-cli

#13740 [low-code connectors] Cartesian product stream slicer
  airbyte-cdk/python/airbyte_cdk/sources/declarative/stream_slicers/cartesian_product_stream_slicer.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/stream_slicers/list_stream_slicer.py
  airbyte-cdk/python/unit_tests/sources/declarative/stream_slicers/test_cartesian_product_stream_slicer.py
Labels: CDK

#13623 source-facebook-marketing: 🎉 Add fields to the ads_set stream
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/ad_sets.json
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, community, connectors/source/facebook-marketing, team/connectors-python, internal

#13763 🎉 Source Github: use GraphQL for `pull_request_stats` stream
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/setup.py
  airbyte-integrations/connectors/source-github/source_github/github_schema.py
  airbyte-integrations/connectors/source-github/source_github/graphql.py
  airbyte-integrations/connectors/source-github/source_github/schemas/pull_request_stats.json
  airbyte-integrations/connectors/source-github/source_github/source.py
  airbyte-integrations/connectors/source-github/source_github/streams.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors, connectors/source/github

#13853 source-facebook-marketing: bump to 0.2.53
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
Labels: area/connectors, connectors/source/facebook-marketing

#13837 Source Hubspot - fix missing data issue
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/acceptance-test-config.yml
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.txt
  airbyte-integrations/connectors/source-hubspot/sample_files/basic_read_catalog.json
  airbyte-integrations/connectors/source-hubspot/sample_files/basic_read_oauth_catalog.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/helpers.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_source.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_split_properties.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot

#13846 Source Amplitude: try-catch BadZipFile exception
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amplitude/Dockerfile
  airbyte-integrations/connectors/source-amplitude/source_amplitude/api.py
  docs/integrations/sources/amplitude.md
Labels: area/documentation, area/connectors, connectors/source/amplitude

#13855 🐛 Server can display streams with the same name in different namespaces
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WebBackendConnectionsHandlerTest.java
Labels: area/platform, area/server

#13862 Updated connector catalog
  docs/integrations/README.md
Labels: area/documentation

#13867 Persist state to reset connection job config
  airbyte-config/config-models/src/main/resources/types/JobResetConnectionConfig.yaml
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/DefaultJobCreator.java
  airbyte-scheduler/scheduler-persistence/src/test/java/io/airbyte/scheduler/persistence/DefaultJobCreatorTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/GenerateInputActivityImpl.java
Labels: area/worker, area/platform, area/scheduler

#13874 Harshith/test pr 12536
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-firebolt/.dockerignore
  airbyte-integrations/connectors/source-firebolt/Dockerfile
  airbyte-integrations/connectors/source-firebolt/README.md
  airbyte-integrations/connectors/source-firebolt/acceptance-test-config.yml
  airbyte-integrations/connectors/source-firebolt/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-firebolt/bootstrap.md
  airbyte-integrations/connectors/source-firebolt/build.gradle
  airbyte-integrations/connectors/source-firebolt/integration_tests/__init__.py
  airbyte-integrations/connectors/source-firebolt/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-firebolt/integration_tests/catalog.json
  airbyte-integrations/connectors/source-firebolt/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-firebolt/integration_tests/expected_records.txt
  airbyte-integrations/connectors/source-firebolt/integration_tests/integration_test.py
  airbyte-integrations/connectors/source-firebolt/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-firebolt/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-firebolt/main.py
  airbyte-integrations/connectors/source-firebolt/requirements.txt
  airbyte-integrations/connectors/source-firebolt/setup.py
  airbyte-integrations/connectors/source-firebolt/source_firebolt/__init__.py
  airbyte-integrations/connectors/source-firebolt/source_firebolt/database.py
  airbyte-integrations/connectors/source-firebolt/source_firebolt/source.py
  airbyte-integrations/connectors/source-firebolt/source_firebolt/spec.json
  airbyte-integrations/connectors/source-firebolt/source_firebolt/utils.py
  airbyte-integrations/connectors/source-firebolt/unit_tests/test_firebolt_source.py
  docs/SUMMARY.md
  docs/integrations/README.md
  docs/integrations/sources/firebolt.md
Labels: area/documentation, area/connectors, connectors/source/firebolt

#13854 :bug: Source Relational DB : remove unicode nulls from cursors
  airbyte-integrations/connectors/source-relational-db/Dockerfile
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/StateDecoratingIterator.java
  airbyte-integrations/connectors/source-relational-db/src/test/java/io/airbyte/integrations/source/relationaldb/StateDecoratingIteratorTest.java
Labels: area/connectors, connectors/source/relational-db

#13622 Reinitialize Account Settings form
  airbyte-webapp/src/pages/SettingsPage/pages/AccountPage/components/AccountForm.tsx
Labels: area/platform, team/frontend

#13889 Source instagram: fix build
  airbyte-integrations/connectors/source-instagram/acceptance-test-config.yml
Labels: area/connectors, connectors/source/instagram

#13886 Fix medium and large spacing scss var names
  airbyte-webapp/src/scss/_variables.scss
Labels: area/frontend, area/platform, team/frontend

#13564 Update connection update calls to use central utility to ensure connection update has all data
  airbyte-webapp/src/components/EntityTable/hooks.tsx
  airbyte-webapp/src/core/domain/connection/index.ts
  airbyte-webapp/src/core/domain/connection/utils.ts
  airbyte-webapp/src/hooks/services/useConnectionHook.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/ConnectionName.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/EnabledControl.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/ReplicationView.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/TransformationView.tsx
Labels: area/frontend, area/platform, team/frontend

#13394 Display connection state in connection setting page
  airbyte-webapp/nginx/default.conf.template
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/components/CodeEditor/CodeEditor.tsx
  airbyte-webapp/src/components/CodeEditor/index.tsx
  airbyte-webapp/src/components/base/Card/Card.tsx
  airbyte-webapp/src/components/index.tsx
  airbyte-webapp/src/core/domain/connection/ConnectionService.ts
  airbyte-webapp/src/hooks/services/useConnectionHook.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/SettingsView.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/StateBlock.tsx
  airbyte-webapp/src/setupProxy.js
Labels: area/frontend, area/platform, team/sources-dx, team/frontend

#13835 update api for per stream
  airbyte-api/build.gradle
  airbyte-api/src/main/openapi/config.yaml
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-webapp/src/core/request/AirbyteClient.ts
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api, area/platform, area/server, team/frontend

#13892 Update airbyte-protocol.md
  .github/CODEOWNERS
  docs/understanding-airbyte/airbyte-protocol.md
Labels: area/documentation

#13897 Edited Amplitude, Mailchimp, and Zendesk Support docs
  docs/integrations/sources/amplitude.md
  docs/integrations/sources/hubspot.md
  docs/integrations/sources/mailchimp.md
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation
