Repository airbytehq/airbyte, pull requests merged in 2022-07, with the labels that each got.

#14329 Bump Airbyte version from 0.39.29-alpha to 0.39.30-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/worker, area/platform, kubernetes, area/server, team/frontend

#14331 Release new postgres strict encrypt version
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  docs/integrations/sources/mssql.md
  docs/integrations/sources/mysql.md
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres-strict-encrypt

#14332 Release new destination s3 version to pick up latest change
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-s3/Dockerfile
  docs/integrations/destinations/s3.md
Labels: area/documentation, area/connectors, connectors/destination/s3

#14308 13538 Fix integration tests destination-scylla Mac OS
  airbyte-integrations/connectors/destination-scylla/src/main/java/io/airbyte/integrations/destination/scylla/ScyllaConfig.java
  airbyte-integrations/connectors/destination-scylla/src/test-integration/java/io/airbyte/integrations/destination/scylla/ScyllaCqlProviderTest.java
  airbyte-integrations/connectors/destination-scylla/src/test-integration/java/io/airbyte/integrations/destination/scylla/ScyllaDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-scylla/src/test-integration/java/io/airbyte/integrations/destination/scylla/ScyllaDestinationTest.java
Labels: area/connectors, connectors/destination/scylla

#14258 Update cdk-speedrun.md
  docs/connector-development/tutorials/cdk-speedrun.md
Labels: area/documentation

#14303 Update README.md
  airbyte-integrations/connectors/source-webflow/README.md
Labels: area/connectors, connectors/source/webflow

#14262 Update building-a-python-source.md
  docs/connector-development/tutorials/building-a-python-source.md
Labels: area/documentation

#14254 Update webflow.md
  docs/integrations/sources/webflow.md
Labels: area/documentation

#14268 Alex/declarative stream incremental fix
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_stream.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/interpolation/interpolated_boolean.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/interpolation/jinja.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/class_types_registry.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/default_implementation_registry.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/factory.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/interpolated_paginator.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/offset_paginator.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/retrievers/retriever.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/retrievers/simple_retriever.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/states/dict_state.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/stream_slicers/datetime_stream_slicer.py
  airbyte-cdk/python/unit_tests/sources/declarative/checks/test_jinja.py
  airbyte-cdk/python/unit_tests/sources/declarative/interpolation/test_interpolated_boolean.py
  airbyte-cdk/python/unit_tests/sources/declarative/interpolation/test_jinja.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/paginators/test_interpolated_paginator.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/paginators/test_interpolated_string.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/request_options/test_interpolated_request_options_provider.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/test_dict_state.py
  airbyte-cdk/python/unit_tests/sources/declarative/retrievers/test_simple_retriever.py
  airbyte-cdk/python/unit_tests/sources/declarative/stream_slicers/test_substream_slicer.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_declarative_stream.py
Labels: CDK, connectors/source/sendgrid

#14148 🐛 SingerSource: Fix incompatibilities and typing issues
  airbyte-cdk/python/airbyte_cdk/connector.py
  airbyte-cdk/python/airbyte_cdk/entrypoint.py
  airbyte-cdk/python/airbyte_cdk/sources/singer/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/singer/source.py
  airbyte-cdk/python/airbyte_cdk/sources/source.py
  airbyte-cdk/python/type_check_and_test.sh
  airbyte-integrations/connector-templates/source-singer/source_{{snakeCase name}}_singer/source.py.hbs
Labels: CDK, community

#14031 Add Image Pull Secrets Param for Helm Chart
  charts/airbyte/README.md
  charts/airbyte/templates/_helpers.tpl
  charts/airbyte/templates/bootloader/pod.yaml
  charts/airbyte/templates/pod-sweeper/deployment.yaml
  charts/airbyte/templates/server/deployment.yaml
  charts/airbyte/templates/temporal/deployment.yaml
  charts/airbyte/templates/webapp/deployment.yaml
  charts/airbyte/templates/worker/deployment.yaml
  charts/airbyte/values.yaml
Labels: area/platform, kubernetes, community

#14354 fix format
  airbyte-cdk/python/airbyte_cdk/connector.py
  airbyte-cdk/python/airbyte_cdk/sources/singer/source.py
  airbyte-cdk/python/airbyte_cdk/sources/source.py
Labels: CDK

#14355 Bump Airbyte version from 0.39.30-alpha to 0.39.31-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/worker, area/platform, kubernetes, area/server, team/frontend

#14312 Run some DATs as part of base-normalization tests
  .github/workflows/build-connector-command.yml
  .github/workflows/publish-command.yml
  .github/workflows/test-command.yml
  .github/workflows/test-performance-command.yml
  airbyte-integrations/bases/base-normalization/build.gradle
Labels: normalization

#14338 Revert "🎉 Source Github: rename field `mergeable` to `is_mergeable` (#14274)"
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/source_github/schemas/pull_request_stats.json
  airbyte-integrations/connectors/source-github/source_github/streams.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors, connectors/source/github

#14367 Properly update the hasEmitted state
  airbyte-workers/src/main/java/io/airbyte/workers/internal/EmptyAirbyteSource.java
  airbyte-workers/src/test/java/io/airbyte/workers/internal/EmptyAirbyteSourceTest.java
Labels: area/worker, area/platform

#14364 Bmoric/state aggregator
  airbyte-workers/src/main/java/io/airbyte/workers/internal/AirbyteMessageTracker.java
  airbyte-workers/src/main/java/io/airbyte/workers/internal/state_aggregator/DefaultStateAggregator.java
  airbyte-workers/src/main/java/io/airbyte/workers/internal/state_aggregator/SingleStateAggregator.java
  airbyte-workers/src/main/java/io/airbyte/workers/internal/state_aggregator/StateAggregator.java
  airbyte-workers/src/main/java/io/airbyte/workers/internal/state_aggregator/StreamStateAggregator.java
  airbyte-workers/src/test/java/io/airbyte/workers/internal/AirbyteMessageTrackerTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/internal/state_aggregator/StateAggregatorTest.java
Labels: area/worker, area/platform

#13165 Call the new revoke_user_session endpoint from the FE
  airbyte-webapp/src/packages/cloud/lib/domain/users/UserService.ts
  airbyte-webapp/src/packages/cloud/services/auth/AuthService.tsx
  airbyte-webapp/src/packages/cloud/views/users/AccountSettingsView/AccountSettingsView.tsx
Labels: area/platform, team/frontend

#14386 source-outreach: fix record parsing and cursor field access
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-outreach/Dockerfile
  airbyte-integrations/connectors/source-outreach/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-outreach/source_outreach/schemas/prospects.json
  airbyte-integrations/connectors/source-outreach/source_outreach/schemas/sequence_states.json
  airbyte-integrations/connectors/source-outreach/source_outreach/schemas/sequences.json
  airbyte-integrations/connectors/source-outreach/source_outreach/source.py
  airbyte-integrations/connectors/source-outreach/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-outreach/unit_tests/test_streams.py
  docs/integrations/sources/outreach.md
Labels: area/documentation, area/connectors, connectors/source/outreach

#13592 fix: clone api doesn't take update configurations
  airbyte-api/src/main/openapi/config.yaml
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/DestinationHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SourceHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/DestinationHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/SourceHandlerTest.java
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api, area/platform, area/server

#13923 Catalog: Attach namespace to stream
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/streams/core.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/streams/test_streams_core.py
Labels: CDK, community

#14243 Fix TiDB source connector
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-tidb/Dockerfile
  airbyte-integrations/connectors/source-tidb/src/main/java/io/airbyte/integrations/source/tidb/TiDBSource.java
  docs/integrations/sources/tidb.md
Labels: area/documentation, area/connectors, community, bounty, connectors/source/tidb

#14392 Source Google Ads: use docsaurus feature for warn/note and udpdate doc
  docs/integrations/sources/google-ads.md
Labels: area/documentation

#14267 source-facebook-marketing: allow configuration of MAX_BATCH_SIZE
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/source.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/spec.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/base_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/common.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_base_streams.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, community, connectors/source/facebook-marketing, bounty

#14376 🎉 Source Github: add Retry for GraphQL API Resource limitations
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors, connectors/source/github

#14395 Add more metadata to the JobErrorReporter
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/JobNotifier.java
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/WebUrlHelper.java
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/job_error_reporter/JobErrorReporter.java
  airbyte-scheduler/scheduler-persistence/src/test/java/io/airbyte/scheduler/persistence/JobNotifierTest.java
  airbyte-scheduler/scheduler-persistence/src/test/java/io/airbyte/scheduler/persistence/WebUrlHelperTest.java
  airbyte-scheduler/scheduler-persistence/src/test/java/io/airbyte/scheduler/persistence/job_error_reporter/JobErrorReporterTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerApp.java
Labels: area/worker, area/platform, area/scheduler

#14091 helm chart: Fix/double printing of extra volume mounts
  charts/airbyte/Chart.yaml
  charts/airbyte/templates/temporal/deployment.yaml
Labels: area/platform, kubernetes, community

#14398 SentryJobErrorReporter: better handling of multiline chained java exceptions
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/job_error_reporter/SentryExceptionHelper.java
  airbyte-scheduler/scheduler-persistence/src/test/java/io/airbyte/scheduler/persistence/job_error_reporter/SentryExceptionHelperTest.java
Labels: area/platform, area/scheduler, team/sources-dx

#14401 Docs: update GCP deployment guide
  docs/deploying-airbyte/on-gcp-compute-engine.md
Labels: area/documentation

#14374 🎉 octavia-cli: Add ability to import all resources
  octavia-cli/README.md
  octavia-cli/integration_tests/test_import/test_commands.py
  octavia-cli/octavia_cli/_import/commands.py
  octavia-cli/unit_tests/test__import/test_commands.py
Labels: community, area/octavia-cli

#14419 Bump Airbyte version from 0.39.32-alpha to 0.39.33-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/worker, area/platform, kubernetes, area/server, team/frontend

#14424 📝 MySql source: make it clear about tinyint (size > 1)
  docs/integrations/sources/mysql.md
Labels: area/documentation

#14413 🪟 🐛 Fix Setup Source Button on OAuth Sources
  airbyte-webapp/src/views/Connector/ServiceForm/FormRoot.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/CreateControls.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/Sections/auth/useOauthFlowAdapter.tsx
Labels: area/platform, team/frontend

#14428 Bump Airbyte version from 0.39.33-alpha to 0.39.34-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/worker, area/platform, kubernetes, area/server, team/frontend

#14317 [low-code cdk] Enable configurable state checkpointing
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_stream.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_declarative_stream.py
Labels: CDK

#14352 [low-code-connectors] fix type hints in DatetimeStreamSlicer
  airbyte-cdk/python/airbyte_cdk/sources/declarative/stream_slicers/datetime_stream_slicer.py
Labels: CDK

#11694 normalization: Do not return NULL for MySQL column values > 512 chars
  airbyte-integrations/bases/base-normalization/Dockerfile
  airbyte-integrations/bases/base-normalization/dbt-project-template/macros/cross_db_utils/json_operations.sql
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/NormalizationRunnerFactory.java
  docs/understanding-airbyte/basic-normalization.md
Labels: area/documentation, area/worker, normalization, area/platform, community

#14409 Snowflake Source and Destination: updated docs for using network policies
  docs/integrations/destinations/snowflake.md
  docs/integrations/sources/snowflake.md
Labels: area/documentation

#13516 Added socket_timeout property for destination-clickhouse
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-clickhouse-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/destination-clickhouse/Dockerfile
  airbyte-integrations/connectors/destination-clickhouse/src/main/java/io/airbyte/integrations/destination/clickhouse/ClickhouseDestination.java
  airbyte-integrations/connectors/destination-clickhouse/src/test/java/io/airbyte/integrations/destination/clickhouse/ClickhouseDestinationTest.java
  docs/integrations/destinations/clickhouse.md
Labels: area/documentation, area/connectors, community, connectors/destination/clickhouse, bounty, bounty-M, bounty-S, connectors/destination/clickhouse-strict-encrypt

#14399 implement logic to identify new streams to snapshot in postgres cdc
  airbyte-integrations/bases/debezium-v1-9-2/src/main/java/io/airbyte/integrations/debezium/AirbyteDebeziumHandler.java
  airbyte-integrations/bases/debezium-v1-9-2/src/main/java/io/airbyte/integrations/debezium/CdcStateHandler.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresCdcStateHandler.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/CdcStateManager.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/state/GlobalStateManager.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/state/LegacyStateManager.java
  airbyte-integrations/connectors/source-relational-db/src/test/java/io/airbyte/integrations/source/relationaldb/state/GlobalStateManagerTest.java
Labels: area/connectors, connectors/source/postgres, connectors/source/relational-db

#14403 :bug: Source Intercom: refactored slow streams to use `/search` endpoint
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-intercom/Dockerfile
  airbyte-integrations/connectors/source-intercom/acceptance-test-config.yml
  airbyte-integrations/connectors/source-intercom/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-intercom/integration_tests/integration_test.py
  airbyte-integrations/connectors/source-intercom/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-intercom/source_intercom/source.py
  airbyte-integrations/connectors/source-intercom/source_intercom/utils.py
  airbyte-integrations/connectors/source-intercom/unit_tests/test_cached_stream_state.py
  airbyte-integrations/connectors/source-intercom/unit_tests/test_control_rate_limit.py
  airbyte-integrations/connectors/source-intercom/unit_tests/unit_test.py
  docs/integrations/sources/intercom.md
Labels: area/documentation, area/connectors, connectors/source/intercom

#14444 Removed Sync Schema button during creation of connection
  airbyte-webapp/src/components/CreateConnectionContent/CreateConnectionContent.tsx
Labels: area/platform, team/frontend

#14466 Updated connector status page
  docs/integrations/README.md
  docs/integrations/sources/google-analytics-data-api.md
  docs/integrations/sources/google-analytics-universal-analytics.md
  docs/integrations/sources/google-analytics-v4.md
  docusaurus/docusaurus.config.js
Labels: area/documentation

#14475 Revert normalization bump
  airbyte-integrations/bases/base-normalization/Dockerfile
  airbyte-integrations/bases/base-normalization/dbt-project-template/macros/cross_db_utils/json_operations.sql
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/NormalizationRunnerFactory.java
  docs/understanding-airbyte/basic-normalization.md
Labels: area/documentation, area/worker, normalization, area/platform

#14351 Fix import order of archived data
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/DatabaseConfigPersistence.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/ArchiveHandlerTest.java
Labels: area/platform, area/server

#14434 Pass job id from resetConnection to synchronousResetConnection to avoid race condition
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalClient.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/TemporalClientTest.java
Labels: area/worker, area/platform

#14458 Fail fast if catalog struct bigger than 4mb during schema discovery
  airbyte-workers/src/main/java/io/airbyte/workers/general/DefaultDiscoverCatalogWorker.java
Labels: area/worker, area/platform

#14288 [low code cdk] Add MinMaxDate component and allow for it to be specified for DatetimeStreamSlicer
  airbyte-cdk/python/airbyte_cdk/sources/declarative/datetime/min_max_datetime.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/interpolation/jinja.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/class_types_registry.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/stream_slicers/datetime_stream_slicer.py
  airbyte-cdk/python/unit_tests/sources/declarative/datetime/test_min_max_datetime.py
  airbyte-cdk/python/unit_tests/sources/declarative/interpolation/test_jinja.py
  airbyte-cdk/python/unit_tests/sources/declarative/stream_slicers/test_cartesian_product_stream_slicer.py
  airbyte-cdk/python/unit_tests/sources/declarative/stream_slicers/test_datetime_stream_slicer.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_factory.py
Labels: CDK

#14506 Allow transition from INCOMPLETE to INCOMPLETE
  airbyte-scheduler/scheduler-models/src/main/java/io/airbyte/scheduler/models/JobStatus.java
Labels: area/platform, area/scheduler

#14394 🪟 🔧 Craco integration + fix CSS order issue
  airbyte-webapp/craco.config.js
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
Labels: area/platform, team/frontend

#14508 Bump Airbyte version from 0.39.34-alpha to 0.39.35-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/worker, area/platform, kubernetes, area/server, team/frontend

#14443 Source Monday: timeout errors
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-monday/Dockerfile
  airbyte-integrations/connectors/source-monday/acceptance-test-config.yml
  airbyte-integrations/connectors/source-monday/source_monday/source.py
  airbyte-integrations/connectors/source-monday/source_monday/spec.json
  docs/integrations/sources/monday.md
Labels: area/documentation, area/connectors, connectors/source/monday

#14489 Fix typo on Kubernetes deploy document
  docs/deploying-airbyte/on-kubernetes.md
Labels: area/documentation, community

#14397 🎉 Source Amazon S3: Fix docs link issue
  docs/integrations/sources/s3.md
Labels: area/documentation, connectors/source/s3

#14501 add reference docs for declarative source
  .readthedocs.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/checks/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/datetime/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/extractors/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/retrievers/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/schema/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/stream_slicers/__init__.py
  airbyte-cdk/python/reference_docs/_source/api/airbyte_cdk.rst
  airbyte-cdk/python/reference_docs/_source/api/airbyte_cdk.sources.declarative.checks.rst
  airbyte-cdk/python/reference_docs/_source/api/airbyte_cdk.sources.declarative.datetime.rst
  airbyte-cdk/python/reference_docs/_source/api/airbyte_cdk.sources.declarative.decoders.rst
  airbyte-cdk/python/reference_docs/_source/api/airbyte_cdk.sources.declarative.extractors.rst
  airbyte-cdk/python/reference_docs/_source/api/airbyte_cdk.sources.declarative.interpolation.rst
  airbyte-cdk/python/reference_docs/_source/api/airbyte_cdk.sources.declarative.parsers.rst
  airbyte-cdk/python/reference_docs/_source/api/airbyte_cdk.sources.declarative.requesters.paginators.rst
  airbyte-cdk/python/reference_docs/_source/api/airbyte_cdk.sources.declarative.requesters.request_headers.rst
  airbyte-cdk/python/reference_docs/_source/api/airbyte_cdk.sources.declarative.requesters.request_options.rst
  airbyte-cdk/python/reference_docs/_source/api/airbyte_cdk.sources.declarative.requesters.retriers.rst
  airbyte-cdk/python/reference_docs/_source/api/airbyte_cdk.sources.declarative.requesters.rst
  airbyte-cdk/python/reference_docs/_source/api/airbyte_cdk.sources.declarative.retrievers.rst
  airbyte-cdk/python/reference_docs/_source/api/airbyte_cdk.sources.declarative.rst
  airbyte-cdk/python/reference_docs/_source/api/airbyte_cdk.sources.declarative.schema.rst
  airbyte-cdk/python/reference_docs/_source/api/airbyte_cdk.sources.declarative.states.rst
  airbyte-cdk/python/reference_docs/_source/api/airbyte_cdk.sources.declarative.stream_slicers.rst
  airbyte-cdk/python/reference_docs/_source/api/airbyte_cdk.sources.rst
  airbyte-cdk/python/reference_docs/_source/api/airbyte_cdk.sources.utils.rst
  airbyte-cdk/python/reference_docs/_source/api/airbyte_cdk.utils.rst
  airbyte-cdk/python/reference_docs/_source/index.rst
Labels: CDK

#14465 🪟🐛 Fixes connector status icon alignment
  airbyte-webapp/src/components/StatusIcon/StatusIcon.tsx
  airbyte-webapp/src/components/StatusIcon/index.stories.tsx
Labels: area/platform, team/frontend

#13859 🪟🔧Update Segment tracking event names
  airbyte-webapp/src/components/CreateConnectionContent/CreateConnectionContent.tsx
  airbyte-webapp/src/components/EntityTable/hooks.tsx
  airbyte-webapp/src/hooks/services/useConnectionHook.tsx
  airbyte-webapp/src/hooks/services/useDestinationHook.tsx
  airbyte-webapp/src/hooks/services/useSourceHook.tsx
  airbyte-webapp/src/hooks/useTrackAction.test.tsx
  airbyte-webapp/src/hooks/useTrackAction.ts
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionItemPage.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/EnabledControl.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/CreateDestinationPage/components/DestinationForm.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/DestinationStep.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/SourceStep.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/CreateSourcePage/components/SourceForm.tsx
  airbyte-webapp/src/views/Connector/ConnectorCard/ConnectorCard.tsx
Labels: area/platform, team/frontend

#13550 🪟 🐛 Update connection name - fix minor issues
  airbyte-webapp-e2e-tests/cypress/commands/connection.ts
  airbyte-webapp/src/components/ConnectorCard/ConnectorCard.tsx
  airbyte-webapp/src/components/base/Input/Input.test.tsx
  airbyte-webapp/src/components/base/Input/Input.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/ConnectionName.module.scss
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/ConnectionName.tsx
  airbyte-webapp/src/scss/_variables.scss
  airbyte-webapp/src/utils/addEnterEscFuncForInput.tsx
  airbyte-webapp/src/utils/withKeystrokeHandler.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/ConnectionForm.test.tsx
Labels: area/frontend, area/platform, team/frontend

#13993 [Low Code CDK] configurable oauth request payload
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/declarative/auth/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/auth/oauth.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/factory.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/requests_native_auth/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/requests_native_auth/abstract_oauth.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/requests_native_auth/oauth.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/declarative/auth/__init__.py
  airbyte-cdk/python/unit_tests/sources/declarative/auth/test_oauth.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_factory.py
  airbyte-cdk/python/unit_tests/sources/streams/http/requests_native_auth/test_requests_native_auth.py
Labels: CDK

#14447 🎉 Postgres source: retrieve only the tables in the publication under cdc mode
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/bases/debezium-v1-9-2/src/main/java/io/airbyte/integrations/debezium/internals/DebeziumEventUtils.java
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresCdcCatalogHelper.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresCdcConnectorMetadataInjector.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresUtils.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresCdcCatalogHelperTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresCdcGetPublicizedTablesTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresSourceSSLTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresUtilsTest.java
  airbyte-integrations/connectors/source-relational-db/src/test/java/io/airbyte/integrations/source/relationaldb/AbstractDbSourceTest.java
  docs/02-integrations/01-sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres, connectors/source/relational-db, connectors/source/postgres-strict-encrypt

#14533 🐛 Source Amazon Ads: Fix SAT test fails - need more expect_records
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/expected_records.txt
Labels: area/connectors, connectors/source/amazon-ads

#14564 📝 doc: fix deadlink in repo readme.md
  README.md
Labels: community

#14049 🐛Source Freshdesk: Update parsing of start_date param
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-freshdesk/Dockerfile
  airbyte-integrations/connectors/source-freshdesk/README.md
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/streams.py
  airbyte-integrations/connectors/source-freshdesk/unit_tests/test_300_page.py
  docs/02-integrations/01-sources/freshdesk.md
Labels: area/documentation, area/connectors, connectors/source/freshdesk

#14579 Fix md and lg scss var names
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/ConnectionName.module.scss
  airbyte-webapp/src/scss/_variables.scss
Labels: area/frontend, area/platform, team/frontend

#14502 Destination S3: Update Parquet library version to resolve date-time with timezone encoding bug
  airbyte-integrations/connectors/destination-s3/build.gradle
  airbyte-integrations/connectors/destination-s3/src/test/java/io/airbyte/integrations/destination/s3/parquet/ParquetSerializedBufferTest.java
Labels: area/connectors, community, connectors/destination/s3, bounty

#14402 [Low-code CDK] Add ability to remove fields
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_stream.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/class_types_registry.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/http_requester.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/transformations/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/transformations/remove_fields.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/transformations/transformation.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/types.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/yaml_declarative_source.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_declarative_stream.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_factory.py
  airbyte-cdk/python/unit_tests/sources/declarative/transformations/test_remove_fields.py
Labels: CDK

#14620 Fix HubSpot documentation, remove mentioning of Mailchimp
  docs/integrations/sources/hubspot.md
Labels: area/documentation, community

#14588 🎉 Add YAML format to source-file reader
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-file/Dockerfile
  airbyte-integrations/connectors/source-file/integration_tests/file_formats_test.py
  airbyte-integrations/connectors/source-file/integration_tests/sample_files/formats/yaml/configured_catalog.json
  airbyte-integrations/connectors/source-file/integration_tests/sample_files/formats/yaml/demo.yaml
  airbyte-integrations/connectors/source-file/setup.py
  airbyte-integrations/connectors/source-file/source_file/client.py
  airbyte-integrations/connectors/source-file/source_file/spec.json
  docs/integrations/sources/file.md
Labels: area/documentation, area/connectors, connectors/source/file, connectors/sources-files, team/sources-dx

#14103 🪟 🎨 Redesign Sign-in/up pages
  airbyte-webapp/public/images/testimonials/cartdotcom-logo.svg
  airbyte-webapp/public/images/testimonials/cartdotcom-person-photo.png
  airbyte-webapp/src/packages/cloud/locales/en.json
  airbyte-webapp/src/packages/cloud/views/AcceptEmailInvite.tsx
  airbyte-webapp/src/packages/cloud/views/auth/Auth.module.scss
  airbyte-webapp/src/packages/cloud/views/auth/Auth.tsx
  airbyte-webapp/src/packages/cloud/views/auth/ConfirmPasswordResetPage/ConfirmPasswordResetPage.tsx
  airbyte-webapp/src/packages/cloud/views/auth/LoginPage/LoginPage.module.scss
  airbyte-webapp/src/packages/cloud/views/auth/LoginPage/LoginPage.tsx
  airbyte-webapp/src/packages/cloud/views/auth/ResetPasswordPage/ResetPasswordPage.tsx
  airbyte-webapp/src/packages/cloud/views/auth/SignupPage/SignupPage.module.scss
  airbyte-webapp/src/packages/cloud/views/auth/SignupPage/SignupPage.tsx
  airbyte-webapp/src/packages/cloud/views/auth/SignupPage/components/SignupForm.module.scss
  airbyte-webapp/src/packages/cloud/views/auth/SignupPage/components/SignupForm.tsx
  airbyte-webapp/src/packages/cloud/views/auth/SignupPage/components/SpecialBlock.module.scss
  airbyte-webapp/src/packages/cloud/views/auth/SignupPage/components/SpecialBlock.tsx
  airbyte-webapp/src/packages/cloud/views/auth/components/FormComponents.tsx
  airbyte-webapp/src/packages/cloud/views/auth/components/FormContent.tsx
  airbyte-webapp/src/packages/cloud/views/auth/components/FormTitle.tsx
  airbyte-webapp/src/packages/cloud/views/auth/components/FormTitle/FormTitle.module.scss
  airbyte-webapp/src/packages/cloud/views/auth/components/FormTitle/FormTitle.tsx
  airbyte-webapp/src/packages/cloud/views/auth/components/FormTitle/index.tsx
  airbyte-webapp/src/packages/cloud/views/auth/components/GitBlock/GitBlock.module.scss
  airbyte-webapp/src/packages/cloud/views/auth/components/GitBlock/GitBlock.test.tsx
  airbyte-webapp/src/packages/cloud/views/auth/components/GitBlock/GitBlock.tsx
  airbyte-webapp/src/packages/cloud/views/auth/components/GitBlock/__snapshots__/GitBlock.test.tsx.snap
  airbyte-webapp/src/packages/cloud/views/auth/components/GitBlock/index.tsx
  airbyte-webapp/src/packages/cloud/views/auth/components/Header.tsx
  airbyte-webapp/src/packages/cloud/views/auth/components/Header/Header.module.scss
  airbyte-webapp/src/packages/cloud/views/auth/components/Header/Header.tsx
  airbyte-webapp/src/packages/cloud/views/auth/components/Header/index.tsx
  airbyte-webapp/src/packages/cloud/views/auth/components/News.tsx
  airbyte-webapp/src/packages/cloud/views/auth/components/PersonQuoteCover/PersonQuoteCover.module.scss
  airbyte-webapp/src/packages/cloud/views/auth/components/PersonQuoteCover/PersonQuoteCover.test.tsx
  airbyte-webapp/src/packages/cloud/views/auth/components/PersonQuoteCover/PersonQuoteCover.tsx
  airbyte-webapp/src/packages/cloud/views/auth/components/PersonQuoteCover/__snapshots__/PersonQuoteCover.test.tsx.snap
  airbyte-webapp/src/packages/cloud/views/auth/components/PersonQuoteCover/index.tsx
Labels: area/platform, team/frontend

#14627 🐛 Source Amazon Ads: Fix SAT test fails - updated expect_records
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/expected_records.txt
Labels: area/connectors, connectors/source/amazon-ads

#14477 Remove withRefreshedCatalog param from updateConnection endpoint
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/converters/ProtocolConverters.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/ConnectionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WebBackendConnectionsHandlerTest.java
  tools/openapi2jsonschema/examples/airbyte.local/openapi.yaml
Labels: area/platform, area/server

#14118 🎉 New Source: Elasticsearch
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-elasticsearch/.dockerignore
  airbyte-integrations/connectors/source-elasticsearch/Dockerfile
  airbyte-integrations/connectors/source-elasticsearch/README.md
  airbyte-integrations/connectors/source-elasticsearch/acceptance-test-config.yml
  airbyte-integrations/connectors/source-elasticsearch/build.gradle
  airbyte-integrations/connectors/source-elasticsearch/src/main/java/io/airbyte/integrations/source/elasticsearch/ConnectorConfiguration.java
  airbyte-integrations/connectors/source-elasticsearch/src/main/java/io/airbyte/integrations/source/elasticsearch/ElasticsearchAuthenticationMethod.java
  airbyte-integrations/connectors/source-elasticsearch/src/main/java/io/airbyte/integrations/source/elasticsearch/ElasticsearchConnection.java
  airbyte-integrations/connectors/source-elasticsearch/src/main/java/io/airbyte/integrations/source/elasticsearch/ElasticsearchConstants.java
  airbyte-integrations/connectors/source-elasticsearch/src/main/java/io/airbyte/integrations/source/elasticsearch/ElasticsearchInclusions.java
  airbyte-integrations/connectors/source-elasticsearch/src/main/java/io/airbyte/integrations/source/elasticsearch/ElasticsearchSource.java
  airbyte-integrations/connectors/source-elasticsearch/src/main/java/io/airbyte/integrations/source/elasticsearch/ElasticsearchUtils.java
  airbyte-integrations/connectors/source-elasticsearch/src/main/java/io/airbyte/integrations/source/elasticsearch/UnsupportedDatatypeException.java
  airbyte-integrations/connectors/source-elasticsearch/src/main/java/io/airbyte/integrations/source/elasticsearch/typemapper/ElasticsearchTypeMapper.java
  airbyte-integrations/connectors/source-elasticsearch/src/main/resources/log4j2-test.example.yml
  airbyte-integrations/connectors/source-elasticsearch/src/main/resources/spec.json
  airbyte-integrations/connectors/source-elasticsearch/src/test-integration/java/io/airbyte/integrations/source/elasticsearch/ElasticsearchSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-elasticsearch/src/test-integration/resources/configured_catalog.json
  airbyte-integrations/connectors/source-elasticsearch/src/test/java/io/airbyte/integrations/source/elasticsearch/ElasticsearchSourcesTest.java
  airbyte-integrations/connectors/source-elasticsearch/src/test/resources/expected_output.json
  airbyte-integrations/connectors/source-elasticsearch/src/test/resources/expected_output_extra_fields.json
  airbyte-integrations/connectors/source-elasticsearch/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/source-elasticsearch/src/test/resources/sample_input.json
  airbyte-integrations/connectors/source-elasticsearch/src/test/resources/sample_input_extra_fields.json
  docs/integrations/sources/elasticsearch.md
Labels: area/documentation, area/connectors, community, bounty, bounty-XL, connectors/source/elasticsearch

#14341 🪟🐛 Keep refetching debug infos while job is running
  airbyte-webapp/src/components/JobItem/components/JobLogs.tsx
  airbyte-webapp/src/services/job/JobService.tsx
Labels: area/platform, team/frontend

#14609 simple update to add a lookback_window to the datetime stream slicer
  airbyte-cdk/python/airbyte_cdk/sources/declarative/stream_slicers/datetime_stream_slicer.py
  airbyte-cdk/python/unit_tests/sources/declarative/stream_slicers/test_datetime_stream_slicer.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_factory.py
Labels: CDK

#14535 Source file: remove nested properties
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-file/Dockerfile
  airbyte-integrations/connectors/source-file/setup.py
  airbyte-integrations/connectors/source-file/source_file/client.py
  airbyte-integrations/connectors/source-file/unit_tests/__init__.py
  airbyte-integrations/connectors/source-file/unit_tests/conftest.py
  airbyte-integrations/connectors/source-file/unit_tests/test_nested_json_schema.py
  docs/integrations/sources/file.md
Labels: area/documentation, area/connectors, connectors/source/file

#14610 source-okta: add custom roles stream
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-okta/Dockerfile
  airbyte-integrations/connectors/source-okta/acceptance-test-config.yml
  airbyte-integrations/connectors/source-okta/integration_tests/catalog.json
  airbyte-integrations/connectors/source-okta/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-okta/source_okta/schemas/custom_roles.json
  airbyte-integrations/connectors/source-okta/source_okta/schemas/shared/shared-link.json
  airbyte-integrations/connectors/source-okta/source_okta/source.py
  docs/integrations/sources/okta.md
Labels: area/documentation, area/connectors, community, connectors/source/okta, bounty, bounty-S

#12748 New Source: Kyriba
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-kyriba/.dockerignore
  airbyte-integrations/connectors/source-kyriba/Dockerfile
  airbyte-integrations/connectors/source-kyriba/README.md
  airbyte-integrations/connectors/source-kyriba/acceptance-test-config.yml
  airbyte-integrations/connectors/source-kyriba/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-kyriba/build.gradle
  airbyte-integrations/connectors/source-kyriba/integration_tests/__init__.py
  airbyte-integrations/connectors/source-kyriba/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-kyriba/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-kyriba/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-kyriba/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-kyriba/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-kyriba/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-kyriba/main.py
  airbyte-integrations/connectors/source-kyriba/requirements.txt
  airbyte-integrations/connectors/source-kyriba/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-kyriba/setup.py
  airbyte-integrations/connectors/source-kyriba/source_kyriba/__init__.py
  airbyte-integrations/connectors/source-kyriba/source_kyriba/schemas/accounts.json
  airbyte-integrations/connectors/source-kyriba/source_kyriba/schemas/bank_balances_eod.json
  airbyte-integrations/connectors/source-kyriba/source_kyriba/schemas/bank_balances_intraday.json
  airbyte-integrations/connectors/source-kyriba/source_kyriba/schemas/cash_balances_eod.json
  airbyte-integrations/connectors/source-kyriba/source_kyriba/schemas/cash_balances_intraday.json
  airbyte-integrations/connectors/source-kyriba/source_kyriba/schemas/cash_flows.json
  airbyte-integrations/connectors/source-kyriba/source_kyriba/schemas/shared/_definitions.json
  airbyte-integrations/connectors/source-kyriba/source_kyriba/source.py
  airbyte-integrations/connectors/source-kyriba/source_kyriba/spec.json
  airbyte-integrations/connectors/source-kyriba/unit_tests/__init__.py
  airbyte-integrations/connectors/source-kyriba/unit_tests/test_account_sub_stream.py
  airbyte-integrations/connectors/source-kyriba/unit_tests/test_bank_balances_stream.py
  airbyte-integrations/connectors/source-kyriba/unit_tests/test_cash_balances_stream.py
  airbyte-integrations/connectors/source-kyriba/unit_tests/test_cash_flows.py
  airbyte-integrations/connectors/source-kyriba/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-kyriba/unit_tests/test_source.py
  airbyte-integrations/connectors/source-kyriba/unit_tests/test_streams.py
  docs/integrations/README.md
  docs/integrations/sources/kyriba.md
Labels: area/documentation, area/connectors, community, bounty, connectors/source/kyriba

#14641 Bump local json connector
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-local-json/Dockerfile
  airbyte-integrations/connectors/destination-local-json/src/main/java/io/airbyte/integrations/destination/local_json/LocalJsonDestination.java
  docs/integrations/destinations/local-json.md
Labels: area/documentation, area/connectors, connectors/destination/local-json

#14676 Fix DeclarativeComponentFactory so we don't need to add concrete classes to the default implementations registry
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/default_implementation_registry.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/factory.py
Labels: CDK

#14678 [low-code connectors] set default paginator
  airbyte-cdk/python/airbyte_cdk/sources/declarative/retrievers/simple_retriever.py
Labels: CDK

#14488 🎉 Source File: add user-agent option
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-file/Dockerfile
  airbyte-integrations/connectors/source-file/integration_tests/client_storage_providers_test.py
  airbyte-integrations/connectors/source-file/integration_tests/config.json
  airbyte-integrations/connectors/source-file/source_file/client.py
  airbyte-integrations/connectors/source-file/source_file/spec.json
Labels: area/connectors, community, connectors/source/file, bounty

#13518 Improved schema_generator tool
  docs/connector-development/cdk-python/schemas.md
  tools/schema_generator/README.md
  tools/schema_generator/__init__.py
  tools/schema_generator/requirements.txt
  tools/schema_generator/schema_generator/__init__.py
  tools/schema_generator/schema_generator/configure_catalog.py
  tools/schema_generator/schema_generator/infer_schemas.py
  tools/schema_generator/schema_generator/main.py
  tools/schema_generator/setup.py
  tools/schema_generator/tests/test_schema_generator.py
  tools/schema_generator/tests/tests.py
Labels: area/documentation, community, team/sources-dx

#14614 🎉Source Google Ads: Updated API version from v9 to v11
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/README.md
  airbyte-integrations/connectors/source-google-ads/setup.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/custom_query_stream.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/google_ads.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/ad_group_ads.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/campaigns.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/spec.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/common.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_source.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_streams.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, connectors/source/google-ads

#14679 disable DATs in normalization test
  airbyte-integrations/bases/base-normalization/build.gradle
Labels: normalization

#14685 Fixing broken links
  docs/connector-development/tutorials/cdk-speedrun-deprecated.md
  docs/connector-development/tutorials/cdk-speedrun.md
  docs/integrations/sources/http-request.md
  docusaurus/docusaurus.config.js
  docusaurus/sidebars.js
Labels: area/documentation

#14647 Added _id and _cid to the schema for generated streams
  airbyte-integrations/connectors/source-webflow/source_webflow/source.py
Labels: area/connectors, connectors/source/webflow

#14669 🐛 Source S3: fixed bug when extra columns not in master schema
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/README.md
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/formats/parquet_parser.py
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3

#14476 🐛 normalization: Do not return NULL for MySQL column values > 512 chars
  airbyte-integrations/bases/base-normalization/Dockerfile
  airbyte-integrations/bases/base-normalization/build.gradle
  airbyte-integrations/bases/base-normalization/dbt-project-template/macros/cross_db_utils/json_operations.sql
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/NormalizationRunnerFactory.java
  docs/understanding-airbyte/basic-normalization.md
Labels: area/documentation, area/worker, normalization, area/platform, connectors/destination/postgres

#14690 Bump Airbyte version from 0.39.35-alpha to 0.39.36-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/worker, area/platform, kubernetes, area/server, team/frontend

#14608 Added Single vs. Multiple Workspaces section
  docs/cloud/managing-airbyte-cloud.md
Labels: area/documentation

#14521 [#3078] [CDK] Add support for enabling debug from command line and some basic general debug logs
  airbyte-cdk/python/airbyte_cdk/entrypoint.py
  airbyte-cdk/python/airbyte_cdk/logger.py
  airbyte-cdk/python/airbyte_cdk/sources/abstract_source.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/yaml_declarative_source.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/http.py
  airbyte-cdk/python/unit_tests/sources/streams/http/test_http.py
  airbyte-cdk/python/unit_tests/sources/test_source.py
  airbyte-cdk/python/unit_tests/test_entrypoint.py
  airbyte-cdk/python/unit_tests/test_logger.py
  docs/connector-development/cdk-python/README.md
  docs/connector-development/tutorials/building-a-python-source.md
Labels: area/documentation, CDK

#14677 🪟 🎨 Update Modal to SCSS, add modal body and footer components
  airbyte-webapp/src/components/Modal/Modal.module.scss
  airbyte-webapp/src/components/Modal/Modal.tsx
  airbyte-webapp/src/components/Modal/ModalBody.module.scss
  airbyte-webapp/src/components/Modal/ModalBody.tsx
  airbyte-webapp/src/components/Modal/ModalFooter.module.scss
  airbyte-webapp/src/components/Modal/ModalFooter.tsx
  airbyte-webapp/src/components/Modal/index.stories.tsx
  airbyte-webapp/src/components/Modal/index.tsx
  airbyte-webapp/src/scss/_variables.scss
Labels: area/frontend, area/platform, team/frontend

#14599 Validate state during migration to per stream
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/StatePersistence.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/StatePersistenceTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/PersistStateActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/PersistStateActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/SyncWorkflowImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/SyncWorkflowTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/sync/PersistStateActivityTest.java
Labels: area/worker, area/platform

#14522 🐛 Destination BIgQuery can handle nulls inside arrays
  airbyte-integrations/bases/base-normalization/Dockerfile
  airbyte-integrations/bases/base-normalization/dbt-project-template/macros/cross_db_utils/json_operations.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/bigquery/test_nested_streams/dbt_project.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/bigquery/test_nested_streams/models/generated/sources.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/bigquery/test_simple_streams/dbt_project.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/bigquery/test_simple_streams/first_dbt_project.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/bigquery/test_simple_streams/modified_models/generated/sources.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/dbt_project.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/first_output/airbyte_tables/test_normalization/arrays.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/first_output/airbyte_tables/test_normalization/arrays_nested_array_parent.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/models/generated/airbyte_ctes/test_normalization/arrays_ab1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/models/generated/airbyte_ctes/test_normalization/arrays_ab2.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/models/generated/airbyte_ctes/test_normalization/arrays_ab3.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/models/generated/airbyte_ctes/test_normalization/arrays_nested_array_parent_ab1.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/models/generated/airbyte_ctes/test_normalization/arrays_nested_array_parent_ab2.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/models/generated/airbyte_ctes/test_normalization/arrays_nested_array_parent_ab3.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/models/generated/airbyte_tables/test_normalization/arrays.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/models/generated/airbyte_tables/test_normalization/arrays_nested_array_parent.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/models/generated/sources.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/second_output/airbyte_tables/test_normalization/arrays.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/second_output/airbyte_tables/test_normalization/arrays_nested_array_parent.sql
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_nested_streams/data_input/catalog.json
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_nested_streams/data_input/messages.txt
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_nested_streams/dbt_test_config/dbt_data_tests_tmp/nested_streams_first_run_row_counts.sql
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/NormalizationRunnerFactory.java
  docs/understanding-airbyte/basic-normalization.md
Labels: area/documentation, area/worker, normalization, area/platform

#14666 Source Hubspot: refactor PropertyHistory stream
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/acceptance-test-config.yml
  airbyte-integrations/connectors/source-hubspot/sample_files/incremental_catalog.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot

#14617 🎉 Source Klaviyo: max_retries = 10 for `Lists` stream
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-klaviyo/Dockerfile
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/streams.py
  docs/integrations/sources/klaviyo.md
Labels: area/documentation, area/connectors, connectors/source/klaviyo, team/connectors-python

#14689 Webflow add ids to streams
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-webflow/Dockerfile
Labels: area/connectors, connectors/source/webflow

#14705 Source Freshsales: tune get_view_id function
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-freshsales/Dockerfile
  airbyte-integrations/connectors/source-freshsales/source_freshsales/source.py
  docs/integrations/sources/freshsales.md
Labels: area/documentation, area/connectors, connectors/source/freshsales

#14709 🐛 Source Amazon Ads: Fix SAT test fails - updated expect_records
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/expected_records.txt
Labels: area/connectors, connectors/source/amazon-ads

#14611 13525 Fix integration tests destination-elasticsearch
  airbyte-integrations/connectors/destination-elasticsearch/src/main/java/io/airbyte/integrations/destination/elasticsearch/ElasticsearchAirbyteMessageConsumerFactory.java
  airbyte-integrations/connectors/destination-elasticsearch/src/test-integration/java/io/airbyte/integrations/destination/elasticsearch/ElasticsearchDestinationAcceptanceTest.java
Labels: area/connectors, connectors/destination/elasticsearch

#14703 disable test cause its not valid for LEGACY state
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
Labels: area/connectors, connectors/source/postgres

#14695 fix typo; linmitations -> limitations
  docs/understanding-airbyte/supported-data-types.md
Labels: area/documentation, community

#14719 Bump Airbyte version from 0.39.36-alpha to 0.39.37-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/worker, area/platform, kubernetes, area/server, team/frontend

#14696 forgot to publish a new version of airbyte-cdk to PyPi
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/setup.py
Labels: CDK

#14694 Force legacy if feature flag not set
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres, connectors/source/postgres-strict-encrypt

#14721 Format Files with gradle
  airbyte-integrations/connectors/destination-cassandra/src/test-integration/java/io/airbyte/integrations/destination/cassandra/CassandraDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-clickhouse/src/main/java/io/airbyte/integrations/destination/clickhouse/ClickhouseDestination.java
  airbyte-integrations/connectors/destination-clickhouse/src/test/java/io/airbyte/integrations/destination/clickhouse/ClickhouseDestinationTest.java
  airbyte-integrations/connectors/destination-mysql-strict-encrypt/src/test-integration/java/io/airbyte/integrations/destination/mysql/MySqlTestDataComparator.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftStagingS3Destination.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/RedshiftInsertDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-redshift/src/test/java/io/airbyte/integrations/destination/redshift/util/RedshiftUtilTest.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3DestinationConfig.java
  airbyte-integrations/connectors/source-db2/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/Db2SourceCertificateAcceptanceTest.java
  airbyte-integrations/connectors/source-file/integration_tests/sample_files/formats/yaml/configured_catalog.json
  airbyte-integrations/connectors/source-file/integration_tests/sample_files/formats/yaml/demo.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/integration_tests/input_state.json
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/spec.json
  airbyte-integrations/connectors/source-intercom/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/conversation_parts.json
  airbyte-integrations/connectors/source-kyriba/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-kyriba/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-kyriba/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-kyriba/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-kyriba/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-kyriba/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-kyriba/source_kyriba/schemas/accounts.json
  airbyte-integrations/connectors/source-kyriba/source_kyriba/schemas/bank_balances_eod.json
  airbyte-integrations/connectors/source-kyriba/source_kyriba/schemas/bank_balances_intraday.json
  airbyte-integrations/connectors/source-kyriba/source_kyriba/schemas/cash_balances_eod.json
  airbyte-integrations/connectors/source-kyriba/source_kyriba/schemas/cash_balances_intraday.json
  airbyte-integrations/connectors/source-kyriba/source_kyriba/schemas/cash_flows.json
  airbyte-integrations/connectors/source-kyriba/source_kyriba/schemas/shared/_definitions.json
  airbyte-integrations/connectors/source-kyriba/source_kyriba/spec.json
  airbyte-integrations/connectors/source-metabase/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-metabase/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-metabase/source_metabase/schemas/activity.json
  airbyte-integrations/connectors/source-metabase/source_metabase/schemas/cards.json
  airbyte-integrations/connectors/source-metabase/source_metabase/schemas/collections.json
  airbyte-integrations/connectors/source-metabase/source_metabase/schemas/dashboards.json
  airbyte-integrations/connectors/source-metabase/source_metabase/schemas/users.json
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
  airbyte-integrations/connectors/source-notion/source_notion/schemas/databases.json
  airbyte-integrations/connectors/source-notion/source_notion/schemas/pages.json
  airbyte-integrations/connectors/source-notion/source_notion/schemas/shared/rich_text.json
  airbyte-integrations/connectors/source-notion/source_notion/schemas/shared/title.json
  airbyte-integrations/connectors/source-paypal-transaction/source_paypal_transaction/source.py
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresCdcStateHandler.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/main/resources/spec.json
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/source-relational-db/src/test/java/io/airbyte/integrations/source/relationaldb/state/GlobalStateManagerTest.java
  airbyte-integrations/connectors/source-salesforce/source_salesforce/spec.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/streams.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/streams_basic.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/streams_reports_daily.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/recordings.json
  airbyte-integrations/connectors/source-twilio/source_twilio/spec.json
Labels: area/connectors, connectors/source/intercom, connectors/source/notion, connectors/source/db2, connectors/destination/cassandra, connectors/source/file, connectors/destination/redshift, connectors/destination/s3, connectors/source/mssql, connectors/source/mysql, connectors/source/paypal-transaction, connectors/source/postgres, connectors/source/salesforce, connectors/destination/clickhouse, connectors/source/tiktok-marketing, connectors/source/twilio, connectors/destination/mysql-strict-encrypt, connectors/source/relational-db, connectors/source/google-analytics-data-api, connectors/source/kyriba, connectors/source/metabase

#14603 Add configuration diff
  airbyte-server/src/main/java/io/airbyte/server/handlers/ConnectionsHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/ConnectionsHandlerTest.java
  airbyte-test-utils/src/main/java/io/airbyte/test/utils/AirbyteAcceptanceTestHarness.java
Labels: area/platform, area/server

#14724 🪟 🐛 Fix input validation on blur and cleanup signup error handling
  airbyte-webapp/src/components/LabeledInput/LabeledInput.tsx
  airbyte-webapp/src/components/base/Input/Input.test.tsx
  airbyte-webapp/src/components/base/Input/Input.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/packages/cloud/views/auth/SignupPage/components/SignupForm.tsx
Labels: area/frontend, area/platform, team/frontend

#14626 Use the configuration diff calculation in the update endpoint
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WebBackendConnectionsHandlerTest.java
Labels: area/platform, area/server

#14706 🎉 Source Notion: add OAuth authorization for source-notion connector
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-notion/Dockerfile
  airbyte-integrations/connectors/source-notion/acceptance-test-config.yml
  airbyte-integrations/connectors/source-notion/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-notion/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-notion/integration_tests/sample_config_oauth.json
  airbyte-integrations/connectors/source-notion/source_notion/source.py
  airbyte-integrations/connectors/source-notion/source_notion/spec.json
  airbyte-oauth/src/main/java/io/airbyte/oauth/OAuthImplementationFactory.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/NotionOAuthFlow.java
  docs/integrations/sources/notion.md
Labels: area/documentation, area/connectors, connectors/source/notion

#14618 Remove `additionalProperties: false` from JDBC destination connectors
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-databricks/Dockerfile
  airbyte-integrations/connectors/destination-databricks/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-mssql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/destination-mssql-strict-encrypt/src/test-integration/resources/expected_spec.json
  airbyte-integrations/connectors/destination-mssql/Dockerfile
  airbyte-integrations/connectors/destination-mssql/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-oracle-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/destination-oracle/Dockerfile
  airbyte-integrations/connectors/destination-oracle/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/src/main/resources/spec.json
  docs/integrations/destinations/databricks.md
  docs/integrations/destinations/mssql.md
  docs/integrations/destinations/oracle.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/snowflake, connectors/destination/databricks, connectors/destination/mssql, connectors/destination/oracle-strict-encrypt, connectors/destination/mssql-strict-encrypt, connectors/destination/oracle

#14638 [low code cdk] add a transformation for adding fields into an outgoing record
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/declarative/interpolation/interpolated_string.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/class_types_registry.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/default_implementation_registry.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/factory.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/transformations/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/transformations/add_fields.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/transformations/remove_fields.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/transformations/transformation.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_factory.py
  airbyte-cdk/python/unit_tests/sources/declarative/transformations/test_add_fields.py
Labels: CDK

#14559 🪟🔧 Refactor feature service
  airbyte-webapp/src/App.tsx
  airbyte-webapp/src/components/ConnectorBlocks/TableItemTitle.tsx
  airbyte-webapp/src/components/EntityTable/ConnectionTable.tsx
  airbyte-webapp/src/config/defaultConfig.ts
  airbyte-webapp/src/config/types.ts
  airbyte-webapp/src/hooks/services/Feature/FeatureService.test.tsx
  airbyte-webapp/src/hooks/services/Feature/FeatureService.tsx
  airbyte-webapp/src/hooks/services/Feature/constants.ts
  airbyte-webapp/src/hooks/services/Feature/index.tsx
  airbyte-webapp/src/hooks/services/Feature/types.tsx
  airbyte-webapp/src/packages/cloud/App.tsx
  airbyte-webapp/src/packages/cloud/cloudRoutes.tsx
  airbyte-webapp/src/packages/cloud/services/config/index.ts
  airbyte-webapp/src/packages/cloud/services/thirdParty/launchdarkly/LDExperimentService.tsx
  airbyte-webapp/src/packages/cloud/services/workspaces/WorkspacesService.tsx
  airbyte-webapp/src/packages/cloud/views/layout/SideBar/SideBar.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/AllConnectionsPage/AllConnectionsPage.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/StatusMainInfo.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/StatusView.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/TransformationView.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/components/ConnectorsView.tsx
  airbyte-webapp/src/utils/testutils.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/components/OperationsSection.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/Sections/auth/AuthSection.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/serviceFormContext.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/useBuildForm.tsx
Labels: area/frontend, area/platform, technical-debt, team/frontend, ui/services

#13604 :tada: Source Amazon Seller Partner: Add new streams
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/Dockerfile
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_FULFILLMENT_CUSTOMER_RETURNS_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_V2_SETTLEMENT_REPORT_DATA_FLAT_FILE.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_reports_streams_settlement_report.py
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation, area/connectors, community, connectors/source/amazon-seller-partner, internal

#14379 🐛Source-mssql: aligned regular and cdc syncs and its datatype tests
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-db/db-lib/src/main/java/io/airbyte/db/DataTypeUtils.java
  airbyte-integrations/bases/debezium-v1-4-2/src/main/java/io/airbyte/integrations/debezium/internals/MSSQLConverter.java
  airbyte-integrations/connectors/source-mssql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mssql/Dockerfile
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSourceOperations.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/AbstractMssqlSourceDatatypeTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceDatatypeTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/MssqlSourceDatatypeTest.java
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, connectors/source/mssql, connectors/source/mssql-strict-encrypt

#14494 🎉Redshift, Databricks, Snowflake, S3 Destinations: Make S3 output filename configurable
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-databricks/Dockerfile
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksDestinationConfig.java
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksStreamCopier.java
  airbyte-integrations/connectors/destination-databricks/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-redshift/Dockerfile
  airbyte-integrations/connectors/destination-redshift/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-s3/Dockerfile
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3DestinationConfig.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3StorageOperations.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/avro/S3AvroWriter.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/constant/S3Constants.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/csv/S3CsvWriter.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/jsonl/S3JsonlWriter.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/parquet/S3ParquetWriter.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/template/S3FilenameTemplateManager.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/template/S3FilenameTemplateParameterObject.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/writer/BaseS3Writer.java
  airbyte-integrations/connectors/destination-s3/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-s3/src/test/java/io/airbyte/integrations/destination/s3/tamplate/S3FilenameTemplateManagerTest.java
  airbyte-integrations/connectors/destination-s3/src/test/java/io/airbyte/integrations/destination/s3/writer/BaseS3WriterTest.java
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/src/main/resources/spec.json
  docs/integrations/destinations/databricks.md
  docs/integrations/destinations/redshift.md
  docs/integrations/destinations/s3.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/snowflake, connectors/destination/redshift, connectors/destination/s3, connectors/destination/databricks

#14742 Fixed linter issue with add_fields.py comments
  airbyte-cdk/python/airbyte_cdk/sources/declarative/transformations/add_fields.py
Labels: CDK

#14736 Ryan/sync oracle version number
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  docs/integrations/destinations/oracle.md
Labels: area/documentation

#14640 Bump elasticsearch version
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-elasticsearch/Dockerfile
  docs/integrations/destinations/elasticsearch.md
Labels: area/documentation, area/connectors, connectors/destination/elasticsearch

#14657 Add error code to ManualOperationResult
  airbyte-server/src/main/java/io/airbyte/server/handlers/SchedulerHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/SchedulerHandlerTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/ErrorCode.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalClient.java
Labels: area/worker, area/platform, area/server

#14737 Pass USE_STREAM_CAPABLE_STATE env var to containers/deployments
  .env
  charts/airbyte/templates/env-configmap.yaml
  charts/airbyte/templates/worker/deployment.yaml
  docker-compose.yaml
  kube/overlays/dev-integration-test/.env
  kube/overlays/dev/.env
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable/.env
  kube/resources/worker.yaml
Labels: area/platform, kubernetes

#14713 🐛 Helm chart: Fix minio-secret naming
  charts/airbyte/values.yaml
Labels: area/platform, kubernetes, community

#14586 🚨 Validate source JDBC url parameters 🚨
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-db/db-lib/src/main/java/io/airbyte/db/jdbc/JdbcUtils.java
  airbyte-db/db-lib/src/test/java/io/airbyte/db/jdbc/TestJdbcUtils.java
  airbyte-integrations/connectors/destination-clickhouse/src/main/java/io/airbyte/integrations/destination/clickhouse/ClickhouseDestination.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/AbstractJdbcDestination.java
  airbyte-integrations/connectors/destination-mysql/src/main/java/io/airbyte/integrations/destination/mysql/MySQLDestination.java
  airbyte-integrations/connectors/destination-postgres/src/main/java/io/airbyte/integrations/destination/postgres/PostgresDestination.java
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresSourceTest.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/destination/mysql, connectors/source/postgres, connectors/destination/clickhouse, connectors/destination/postgres, connectors/destination/jdbc, connectors/source/jdbc

#14763 Fix catalog conversion issue in new update endpoint
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WebBackendConnectionsHandlerTest.java
Labels: area/platform, area/server

#14753 Apply Best Practices PMD rules
  airbyte-bootloader/src/main/java/io/airbyte/bootloader/BootloaderApp.java
  airbyte-commons/src/main/java/io/airbyte/commons/io/Archives.java
  airbyte-commons/src/main/java/io/airbyte/commons/json/JsonSchemas.java
  airbyte-db/db-lib/src/main/java/io/airbyte/db/DataTypeUtils.java
  airbyte-db/db-lib/src/main/java/io/airbyte/db/instance/configs/migrations/V0_30_22_001__Store_last_sync_state.java
  airbyte-db/db-lib/src/test/java/io/airbyte/db/instance/configs/migrations/V0_30_22_001__Store_last_sync_state_test.java
  airbyte-metrics/metrics-lib/src/test/java/io/airbyte/metrics/lib/MetricsQueriesTest.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/OAuthImplementationFactory.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/TrelloOAuthFlow.java
  airbyte-oauth/src/test-integration/java/io.airbyte.oauth.flows/TrelloOAuthFlowIntegrationTest.java
  airbyte-protocol/protocol-models/src/main/java/io/airbyte/protocol/models/CatalogHelpers.java
  airbyte-queue/src/test/java/io/airbyte/queue/OnDiskQueueTest.java
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/DefaultJobPersistence.java
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/JobNotifier.java
  airbyte-scheduler/scheduler-persistence/src/test/java/io/airbyte/scheduler/persistence/DefaultJobPersistenceTest.java
  airbyte-scheduler/scheduler-persistence/src/test/java/io/airbyte/scheduler/persistence/job_tracker/JobTrackerTest.java
  airbyte-server/src/main/java/io/airbyte/server/ConfigDumpImporter.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/DestinationDefinitionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/DestinationHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SchedulerHandler.java
  airbyte-server/src/test/java/io/airbyte/server/converters/ConfigurationUpdateTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/ConnectionsHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/DestinationDefinitionsHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/DestinationHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/SchedulerHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/SourceDefinitionsHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/SourceHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/helpers/ConnectionHelpers.java
  airbyte-test-utils/src/main/java/io/airbyte/test/airbyte_test_container/AirbyteTestContainer.java
  airbyte-tests/src/acceptanceTests/java/io/airbyte/test/acceptance/AdvancedAcceptanceTests.java
  airbyte-tests/src/acceptanceTests/java/io/airbyte/test/acceptance/BasicAcceptanceTests.java
  airbyte-workers/src/main/java/io/airbyte/workers/RecordSchemaValidator.java
  airbyte-workers/src/main/java/io/airbyte/workers/helper/EntrypointEnvChecker.java
  airbyte-workers/src/main/java/io/airbyte/workers/run/TemporalWorkerRunFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalAttemptExecution.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalClient.java
  airbyte-workers/src/test-integration/java/io/airbyte/workers/process/KubePodProcessIntegrationTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/process/AirbyteIntegrationLauncherTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/process/KubePodProcessTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/HeartbeatWorkflow.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/SyncWorkflowTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/testsyncworkflow/SyncWorkflowFailingOutputWorkflow.java
  tools/gradle/pmd/rules.xml
Labels: area/worker, area/platform, area/protocol, area/server, area/scheduler

#14577 :tada: Source Snapchat Marketing - stats streams, to beta
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-snapchat-marketing/Dockerfile
  airbyte-integrations/connectors/source-snapchat-marketing/acceptance-test-config.yml
  airbyte-integrations/connectors/source-snapchat-marketing/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-snapchat-marketing/integration_tests/catalog_daily.json
  airbyte-integrations/connectors/source-snapchat-marketing/integration_tests/catalog_lifetime.json
  airbyte-integrations/connectors/source-snapchat-marketing/integration_tests/test_schemas/adaccounts_stats_daily.json
  airbyte-integrations/connectors/source-snapchat-marketing/integration_tests/test_schemas/adaccounts_stats_lifetime.json
  airbyte-integrations/connectors/source-snapchat-marketing/integration_tests/test_schemas/ads_stats_daily.json
  airbyte-integrations/connectors/source-snapchat-marketing/integration_tests/test_schemas/ads_stats_hourly.json
  airbyte-integrations/connectors/source-snapchat-marketing/integration_tests/test_schemas/ads_stats_lifetime.json
  airbyte-integrations/connectors/source-snapchat-marketing/integration_tests/test_schemas/adsquads_stats_daily.json
  airbyte-integrations/connectors/source-snapchat-marketing/integration_tests/test_schemas/adsquads_stats_hourly.json
  airbyte-integrations/connectors/source-snapchat-marketing/integration_tests/test_schemas/adsquads_stats_lifetime.json
  airbyte-integrations/connectors/source-snapchat-marketing/integration_tests/test_schemas/campaigns_stats_daily.json
  airbyte-integrations/connectors/source-snapchat-marketing/integration_tests/test_schemas/campaigns_stats_hourly.json
  airbyte-integrations/connectors/source-snapchat-marketing/integration_tests/test_schemas/campaigns_stats_lifetime.json
  airbyte-integrations/connectors/source-snapchat-marketing/setup.py
  airbyte-integrations/connectors/source-snapchat-marketing/source_snapchat_marketing/schemas/basic_stats.json
  airbyte-integrations/connectors/source-snapchat-marketing/source_snapchat_marketing/source.py
  airbyte-integrations/connectors/source-snapchat-marketing/source_snapchat_marketing/spec.json
  airbyte-integrations/connectors/source-snapchat-marketing/unit_tests/unit_test.py
  docs/integrations/sources/snapchat-marketing.md
Labels: area/documentation, area/connectors, connectors/source/snapchat-marketing

#14551 CDC partial reset acceptance test
  airbyte-tests/src/acceptanceTests/java/io/airbyte/test/acceptance/BasicAcceptanceTests.java
  airbyte-tests/src/acceptanceTests/java/io/airbyte/test/acceptance/CdcAcceptanceTests.java
  airbyte-tests/src/acceptanceTests/resources/postgres_init_cdc.sql
  airbyte-workers/src/test/java/io/airbyte/workers/process/AirbyteIntegrationLauncherTest.java
  tools/bin/acceptance_test.sh
Labels: area/worker, area/platform

#14751 Google Sheets Destination flushes on every state message and flush when buffer gets too large
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-google-sheets/Dockerfile
  airbyte-integrations/connectors/destination-google-sheets/destination_google_sheets/buffer.py
  airbyte-integrations/connectors/destination-google-sheets/destination_google_sheets/destination.py
  airbyte-integrations/connectors/destination-google-sheets/destination_google_sheets/writer.py
  docs/integrations/destinations/google-sheets.md
  tools/bin/build_report.py
Labels: area/documentation, area/connectors, connectors/destination/google-sheets

#14661 improve doc for contributing locally
  docs/contributing-to-airbyte/developing-locally.md
Labels: area/documentation, community

#14752 Source Cart.com: add order_statuses and increase pagesize to 1000
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-cart/Dockerfile
  airbyte-integrations/connectors/source-cart/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-cart/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-cart/source_cart/schemas/order_payments.json
  airbyte-integrations/connectors/source-cart/source_cart/schemas/order_statuses.json
  airbyte-integrations/connectors/source-cart/source_cart/schemas/orders.json
  airbyte-integrations/connectors/source-cart/source_cart/source.py
  airbyte-integrations/connectors/source-cart/source_cart/streams.py
  docs/integrations/sources/cart.md
Labels: area/documentation, area/connectors, connectors/source/cart

#14412 :tada: Source Hubspot: Add private app authentication
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/source_hubspot/constants.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/source.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/spec.yaml
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, community, connectors/source/hubspot, bounty

#14731 Update public documentation to include restrictions for backwards incompatible changes
  docs/connector-development/best-practices.md
  docs/connector-development/cdk-python/schemas.md
Labels: area/documentation

#14296 Adds delete button for adding email form
  airbyte-webapp/src/packages/cloud/views/users/InviteUsersModal/InviteUsersModal.tsx
Labels: area/platform, team/frontend

#14680 🪟🎨 card and icon ui tweaks
  airbyte-webapp/src/components/ContentCard/ContentCard.tsx
  airbyte-webapp/src/components/EntityTable/ImplementationTable.module.scss
  airbyte-webapp/src/components/EntityTable/ImplementationTable.tsx
  airbyte-webapp/src/components/EntityTable/components/LastSyncCell.tsx
  airbyte-webapp/src/components/EntityTable/components/NameCell.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/StatusMainInfo.module.scss
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/StatusMainInfo.tsx
Labels: area/platform, team/frontend

#14775 Align strict-encrypt connector version with the actual connector
  airbyte-integrations/connectors/destination-oracle-strict-encrypt/Dockerfile
Labels: area/connectors, connectors/destination/oracle-strict-encrypt

#14712 Added redirection to onboarding page when server is up
  airbyte-webapp/src/components/ApiErrorBoundary/ApiErrorBoundary.tsx
  airbyte-webapp/src/components/ApiErrorBoundary/components/ServerUnavailableView.tsx
Labels: area/platform, team/frontend

#14810 [low-code connectors] Bugfix transformations
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_stream.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/factory.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/transformations/transformation.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_declarative_stream.py
Labels: CDK

#14791 Connectors: Fix AirbyteLogger() for source-google-ads, source-instagram, source-salesforce, source-s3
  airbyte-integrations/connectors/source-google-ads/integration_tests/test_incremental.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-instagram/integration_tests/test_streams.py
  airbyte-integrations/connectors/source-instagram/source_instagram/source.py
  airbyte-integrations/connectors/source-s3/integration_tests/integration_test.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/api_test.py
Labels: area/connectors, connectors/source/google-ads, connectors/source/instagram, connectors/source/s3, connectors/source/salesforce, team/connectors-python

#14585 Added the "properties" field to events.json
  airbyte-integrations/connectors/source-posthog/source_posthog/schemas/cohorts.json
  airbyte-integrations/connectors/source-posthog/source_posthog/schemas/events.json
Labels: area/connectors, community, connectors/source/posthog, bounty

#14786 Source Facebook marketing: check "MANAGE" task permission
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_client.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing

#13762 🪟🎨Main menu hover state
  airbyte-webapp/src/components/base/Popout/Popout.tsx
  airbyte-webapp/src/packages/cloud/views/layout/SideBar/SideBar.tsx
  airbyte-webapp/src/scss/_variables.scss
  airbyte-webapp/src/views/layout/SideBar/SideBar.module.scss
  airbyte-webapp/src/views/layout/SideBar/SideBar.tsx
  airbyte-webapp/src/views/layout/SideBar/components/SidebarPopout.tsx
Labels: area/platform, team/frontend

#14421 Add changelog update to publishing steps
  docs/connector-development/README.md
Labels: area/documentation

#14804 🎉 Source Paypal Transation: RESULTSET_TOO_LARGE validation
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-paypal-transaction/Dockerfile
  airbyte-integrations/connectors/source-paypal-transaction/setup.py
  airbyte-integrations/connectors/source-paypal-transaction/source_paypal_transaction/schemas/TODO.md
  airbyte-integrations/connectors/source-paypal-transaction/source_paypal_transaction/source.py
  airbyte-integrations/connectors/source-paypal-transaction/source_paypal_transaction/utils.py
  airbyte-integrations/connectors/source-paypal-transaction/unit_tests/transaction.json
  airbyte-integrations/connectors/source-paypal-transaction/unit_tests/unit_test.py
  docs/integrations/sources/paypal-transaction.md
Labels: area/documentation, area/connectors, connectors/source/google-ads, connectors/source/paypal-transaction

#14634 🪟 Per-Stream state new flow
  airbyte-webapp-e2e-tests/cypress/integration/connection.spec.ts
  airbyte-webapp/src/App.tsx
  airbyte-webapp/src/components/Modal/Modal.tsx
  airbyte-webapp/src/components/Modal/ModalBody.module.scss
  airbyte-webapp/src/core/domain/connection/ConnectionService.ts
  airbyte-webapp/src/core/domain/connection/WebBackendConnectionService.ts
  airbyte-webapp/src/core/domain/connection/utils.ts
  airbyte-webapp/src/hooks/services/Modal/ModalService.test.tsx
  airbyte-webapp/src/hooks/services/Modal/ModalService.tsx
  airbyte-webapp/src/hooks/services/Modal/index.ts
  airbyte-webapp/src/hooks/services/Modal/types.ts
  airbyte-webapp/src/hooks/services/useConnectionHook.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/packages/cloud/App.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/ReplicationView.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/ConnectionForm.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/components/EditControls.tsx
Labels: area/platform, team/documentation, team/frontend

#14715 Build failure reasons for synchronous jobs (check/spec/discover)
  airbyte-config/config-models/src/main/resources/types/ConnectorJobOutput.yaml
  airbyte-scheduler/client/src/main/java/io/airbyte/scheduler/client/DefaultSynchronousSchedulerClient.java
  airbyte-scheduler/client/src/main/java/io/airbyte/scheduler/client/SynchronousResponse.java
  airbyte-scheduler/client/src/test/java/io/airbyte/scheduler/client/DefaultSynchronousSchedulerClientTest.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SchedulerHandler.java
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerUtils.java
  airbyte-workers/src/main/java/io/airbyte/workers/general/CheckConnectionWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/general/DefaultCheckConnectionWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/general/DefaultDiscoverCatalogWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/general/DefaultGetSpecWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/general/DiscoverCatalogWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/general/GetSpecWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/helper/FailureHelper.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalClient.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/check/connection/CheckConnectionActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/check/connection/CheckConnectionActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/check/connection/CheckConnectionWorkflow.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/check/connection/CheckConnectionWorkflowImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/discover/catalog/DiscoverCatalogActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/discover/catalog/DiscoverCatalogActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/discover/catalog/DiscoverCatalogWorkflow.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/discover/catalog/DiscoverCatalogWorkflowImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/SyncCheckConnectionFailure.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/spec/SpecActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/spec/SpecActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/spec/SpecWorkflow.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/spec/SpecWorkflowImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/general/DefaultCheckConnectionWorkerTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/general/DefaultDiscoverCatalogWorkerTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/general/DefaultGetSpecWorkerTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/TemporalClientTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/check/connection/CheckConnectionWorkflowTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowTest.java
  airbyte-workers/src/test/resources/checkWorkflowHistory.json
Labels: area/worker, area/platform, area/server, area/scheduler, team/sources-dx

#14820 change jdbc clickhoue verstion into 0.3.2-patch9
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-clickhouse-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/destination-clickhouse/Dockerfile
  airbyte-integrations/connectors/destination-clickhouse/src/main/java/io/airbyte/integrations/destination/clickhouse/ClickhouseSqlOperations.java
  docs/integrations/destinations/clickhouse.md
Labels: area/documentation, area/connectors, connectors/destination/clickhouse, connectors/destination/clickhouse-strict-encrypt

#14855 Update the workflow being replayed
  airbyte-workers/src/test/resources/workflowHistory.json
Labels: area/worker, area/platform

#14485 normalization: bigquery partition pruning optimization
  airbyte-integrations/bases/base-normalization/Dockerfile
  airbyte-integrations/bases/base-normalization/dbt-project-template/macros/incremental.sql
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/NormalizationRunnerFactory.java
  docs/understanding-airbyte/basic-normalization.md
Labels: area/documentation, area/worker, normalization, area/platform, community, connectors/destination/bigquery, internal

#14817 fix(Helm Charts): stream capable formatting for worker
  charts/airbyte/templates/worker/deployment.yaml
Labels: area/platform, kubernetes, community

#14826 🐛 Destination S3: tests in S3FilenameTemplateManagerTest should use the same TZ
  airbyte-integrations/connectors/destination-s3/src/test/java/io/airbyte/integrations/destination/s3/tamplate/S3FilenameTemplateManagerTest.java
Labels: area/connectors, connectors/destination/s3
