Repository airbytehq/airbyte, pull requests merged in 2022-04, with the labels that each got.

#11642 Add discuss.airbyte.io forum to README
  README.md
Labels: community

#11104 🎉 Source Plaid: Fix 100 record limit and added start_date
  airbyte-integrations/connectors/source-plaid/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-plaid/source_plaid/source.py
  airbyte-integrations/connectors/source-plaid/source_plaid/spec.json
  docs/integrations/sources/plaid.md
Labels: area/documentation, area/connectors, community

#11645 Source Plaid bump connector version
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-plaid/Dockerfile
  docs/integrations/sources/plaid.md
Labels: area/documentation, area/connectors

#11652 Source bing-ads: rebump to 0.1.5
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-bing-ads/Dockerfile
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors

#11656 Bump Airbyte version from 0.35.63-alpha to 0.35.64-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#11626 Add one more error boundary layer for not found
  airbyte-webapp/src/components/ApiErrorBoundary/ApiErrorBoundary.tsx
  airbyte-webapp/src/views/common/ResorceNotFoundErrorBoundary.tsx
Labels: area/frontend, area/platform

#11653 Python CDK - Fix BaseBackoffException constructor
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/exceptions.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/streams/http/test_http.py
Labels: CDK

#11662 Print docker image in logs when running on kube
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubeProcessFactory.java
Labels: area/worker, area/platform

#11623 Source Github: re-implement incremental for `reviews` stream
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/acceptance-test-config.yml
  airbyte-integrations/connectors/source-github/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-github/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-github/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-github/source_github/schemas/reviews.json
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
  airbyte-integrations/connectors/source-github/unit_tests/utils.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors

#11671 Source Zendesk Support: Delete unused field and update links to dec
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/streams.py
Labels: area/connectors

#11620 10148 BigQuery Destination/Denormalized Destination spec updates
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/src/main/resources/spec.json
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors

#11512 🐛 Source Google Analytics: Unit and Acceptance tests
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-analytics-v4/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-v4/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-analytics-v4/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-google-analytics-v4/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-google-analytics-v4/source_google_analytics_v4/source.py
  airbyte-integrations/connectors/source-google-analytics-v4/unit_tests/empty_response.json
  airbyte-integrations/connectors/source-google-analytics-v4/unit_tests/response_is_data_golden_false.json
  airbyte-integrations/connectors/source-google-analytics-v4/unit_tests/response_with_records.json
  airbyte-integrations/connectors/source-google-analytics-v4/unit_tests/response_with_sampling.json
  airbyte-integrations/connectors/source-google-analytics-v4/unit_tests/unit_test.py
  docs/integrations/sources/google-analytics-v4.md
Labels: area/documentation, area/connectors

#11666 fix s3 file name
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-s3/Dockerfile
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3ConsumerFactory.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3DestinationConstants.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3StorageOperations.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/WriteConfig.java
  airbyte-integrations/connectors/destination-s3/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-s3/src/test-integration/java/io/airbyte/integrations/destination/s3/S3DestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-s3/src/test/java/io/airbyte/integrations/destination/s3/avro/AvroSerializedBufferTest.java
  docs/integrations/destinations/s3.md
Labels: area/documentation, area/connectors

#11650 cdk: remove false error logging in _send
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/http.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/streams/http/test_http.py
Labels: CDK

#11690 📝 Source LinkedIn Ads: MLP documentation corrections
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-linkedin-ads/Dockerfile
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/spec.json
  docs/integrations/sources/linkedin-ads.md
Labels: area/documentation, area/connectors

#11686 🎉 GCS destination: use serialized buffer; compress csv & jsonl
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedGcsDestinationTest.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/uploader/AbstractGscBigQueryUploader.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/uploader/BigQueryUploaderFactory.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryGcsDestinationTest.java
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksDestinationConfig.java
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksStreamCopier.java
  airbyte-integrations/connectors/destination-databricks/src/test/java/io/airbyte/integrations/destination/databricks/DatabricksStreamCopierTest.java
  airbyte-integrations/connectors/destination-gcs/Dockerfile
  airbyte-integrations/connectors/destination-gcs/src/main/java/io/airbyte/integrations/destination/gcs/GcsConsumer.java
  airbyte-integrations/connectors/destination-gcs/src/main/java/io/airbyte/integrations/destination/gcs/GcsDestination.java
  airbyte-integrations/connectors/destination-gcs/src/main/java/io/airbyte/integrations/destination/gcs/GcsDestinationConfig.java
  airbyte-integrations/connectors/destination-gcs/src/main/java/io/airbyte/integrations/destination/gcs/GcsNameTransformer.java
  airbyte-integrations/connectors/destination-gcs/src/main/java/io/airbyte/integrations/destination/gcs/GcsS3Helper.java
  airbyte-integrations/connectors/destination-gcs/src/main/java/io/airbyte/integrations/destination/gcs/GcsStorageOperations.java
  airbyte-integrations/connectors/destination-gcs/src/main/java/io/airbyte/integrations/destination/gcs/credential/GcsCredentialConfig.java
  airbyte-integrations/connectors/destination-gcs/src/main/java/io/airbyte/integrations/destination/gcs/credential/GcsCredentialConfigs.java
  airbyte-integrations/connectors/destination-gcs/src/main/java/io/airbyte/integrations/destination/gcs/credential/GcsCredentialType.java
  airbyte-integrations/connectors/destination-gcs/src/main/java/io/airbyte/integrations/destination/gcs/credential/GcsHmacKeyCredentialConfig.java
  airbyte-integrations/connectors/destination-gcs/src/main/java/io/airbyte/integrations/destination/gcs/parquet/GcsParquetWriter.java
  airbyte-integrations/connectors/destination-gcs/src/main/java/io/airbyte/integrations/destination/gcs/writer/GcsWriterFactory.java
  airbyte-integrations/connectors/destination-gcs/src/main/java/io/airbyte/integrations/destination/gcs/writer/ProductionWriterFactory.java
  airbyte-integrations/connectors/destination-gcs/src/test-integration/java/io/airbyte/integrations/destination/gcs/GcsCsvDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-gcs/src/test-integration/java/io/airbyte/integrations/destination/gcs/GcsDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-gcs/src/test-integration/java/io/airbyte/integrations/destination/gcs/GcsJsonlDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-gcs/src/test-integration/java/io/airbyte/integrations/destination/gcs/GcsParquetDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-gcs/src/test/java/io/airbyte/integrations/destination/gcs/GcsDestinationConfigTest.java
  airbyte-integrations/connectors/destination-gcs/src/test/java/io/airbyte/integrations/destination/gcs/avro/GcsAvroWriterTest.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/s3/S3StreamCopier.java
  airbyte-integrations/connectors/destination-jdbc/src/test/java/io/airbyte/integrations/destination/jdbc/copy/s3/S3StreamCopierTest.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftStreamCopier.java
  airbyte-integrations/connectors/destination-redshift/src/test/java/io/airbyte/integrations/destination/redshift/RedshiftStreamCopierTest.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3ConsumerFactory.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3Destination.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3DestinationConfig.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3DestinationConstants.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3StorageOperations.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/SerializedBufferFactory.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/avro/AvroSerializedBuffer.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/avro/S3AvroFormatConfig.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/credential/BlobStorageCredentialConfig.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/credential/S3AccessKeyCredentialConfig.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/credential/S3CredentialConfig.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/credential/S3CredentialType.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/credential/S3InstanceProfileCredentialConfig.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/csv/S3CsvFormatConfig.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/jsonl/JsonLSerializedBuffer.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/jsonl/S3JsonlFormatConfig.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/parquet/S3ParquetWriter.java
  airbyte-integrations/connectors/destination-s3/src/test-integration/java/io/airbyte/integrations/destination/s3/S3DestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-s3/src/test/java/io/airbyte/integrations/destination/s3/S3DestinationConfigTest.java
  airbyte-integrations/connectors/destination-s3/src/test/java/io/airbyte/integrations/destination/s3/S3DestinationTest.java
  airbyte-integrations/connectors/destination-s3/src/test/java/io/airbyte/integrations/destination/s3/avro/AvroSerializedBufferTest.java
  airbyte-integrations/connectors/destination-s3/src/test/java/io/airbyte/integrations/destination/s3/csv/S3CsvWriterTest.java
  airbyte-integrations/connectors/destination-s3/src/test/java/io/airbyte/integrations/destination/s3/util/ConfigTestUtils.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeS3StagingSqlOperations.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeS3StreamCopier.java
  airbyte-integrations/connectors/destination-snowflake/src/test/java/io/airbyte/integrations/destination/snowflake/SnowflakeS3StagingSqlOperationsTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test/java/io/airbyte/integrations/destination/snowflake/SnowflakeS3StreamCopierTest.java
  docs/integrations/destinations/gcs.md
Labels: area/documentation, area/connectors

#11678 Source Github: Fix "PAT Credentials" in spec
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/source_github/spec.json
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors

#11495 :bug: Fix the SQL Server Agent not querying in Chinese system
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mssql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mssql/Dockerfile
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, community

#11602 🎉 Source Google Ads: campaign stream includes campaign_budget.amount_micros
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/campaigns.json
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors

#10760 :tada: New Destination: AWS Datalake
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-aws-datalake/.dockerignore
  airbyte-integrations/connectors/destination-aws-datalake/Dockerfile
  airbyte-integrations/connectors/destination-aws-datalake/README.md
  airbyte-integrations/connectors/destination-aws-datalake/build.gradle
  airbyte-integrations/connectors/destination-aws-datalake/destination_aws_datalake/__init__.py
  airbyte-integrations/connectors/destination-aws-datalake/destination_aws_datalake/aws.py
  airbyte-integrations/connectors/destination-aws-datalake/destination_aws_datalake/config_reader.py
  airbyte-integrations/connectors/destination-aws-datalake/destination_aws_datalake/destination.py
  airbyte-integrations/connectors/destination-aws-datalake/destination_aws_datalake/spec.json
  airbyte-integrations/connectors/destination-aws-datalake/destination_aws_datalake/stream_writer.py
  airbyte-integrations/connectors/destination-aws-datalake/main.py
  airbyte-integrations/connectors/destination-aws-datalake/requirements.txt
  airbyte-integrations/connectors/destination-aws-datalake/setup.py
  airbyte-integrations/connectors/destination-aws-datalake/src/main/java/AthenaHelper.java
  airbyte-integrations/connectors/destination-aws-datalake/src/main/java/AwsDatalakeDestinationConfig.java
  airbyte-integrations/connectors/destination-aws-datalake/src/main/java/GlueHelper.java
  airbyte-integrations/connectors/destination-aws-datalake/src/test-integration/java/io/airbyte/integrations/destination/aws_datalake/AwsDatalakeDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-aws-datalake/src/test/AwsDatalakeDestinationTest.java
  airbyte-integrations/connectors/destination-aws-datalake/unit_tests/unit_test.py
  docs/integrations/destinations/aws-datalake.md
Labels: area/documentation, area/connectors, community

#11654 Publish command: call docker hub api to check the tag was registered
  airbyte-integrations/connectors/destination-e2e-test/Dockerfile
  tools/integrations/manage.sh
Labels: area/connectors

#11318 🐛 Source Mixpanel : Fix Export HTTP Response Parsing
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mixpanel/Dockerfile
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/source.py
  docs/integrations/sources/mixpanel.md
Labels: area/documentation, area/connectors, community

#11682 Improve onboarding performance
  airbyte-api/src/main/openapi/config.yaml
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WebBackendConnectionsHandlerTest.java
  airbyte-webapp/src/core/domain/workspace/Workspace.ts
  airbyte-webapp/src/core/domain/workspace/WorkspaceService.ts
  airbyte-webapp/src/pages/OnboardingPage/OnboardingPage.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/ConnectionStep.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/DestinationStep.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/FinalStep.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/LetterLine.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/SourceStep.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/WelcomeStep.tsx
  airbyte-webapp/src/pages/OnboardingPage/useStepsConfig.tsx
  airbyte-webapp/src/services/workspaces/WorkspacesService.tsx
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/frontend, area/api, area/platform, area/server

#11722 Bump Airbyte version from 0.35.64-alpha to 0.35.65-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#11688 📝 Source Zendesk Support: MLP documentation corrections
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-zendesk-support/Dockerfile
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/spec.json
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors

#10753 airbyte-workers: add support for kubernetes pod annotations
  airbyte-config/models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-config/models/src/test/java/io/airbyte/config/EnvConfigsTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerConfigs.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubeProcessFactory.java
  airbyte-workers/src/test/java/io/airbyte/workers/WorkerConfigsTest.java
  charts/airbyte/templates/worker/deployment.yaml
  docs/operator-guides/configuring-airbyte.md
  kube/overlays/dev-integration-test/.env
  kube/overlays/dev/.env
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable/.env
  kube/resources/worker.yaml
Labels: area/documentation, area/worker, area/platform, kubernetes, community

#9816 DAT: verify that a destination is able to write any ISO8601-compliant date string
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/DateTimeConverter.java
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/DateTimeUtils.java
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/DestinationAcceptanceTest.java
  airbyte-integrations/bases/standard-destination-test/src/main/resources/edge_case_catalog.json
  airbyte-integrations/bases/standard-destination-test/src/main/resources/edge_case_messages.txt
  airbyte-integrations/bases/standard-destination-test/src/main/resources/format_reference.txt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageCsvDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedGcsDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryUtils.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-databricks/src/test-integration/java/io/airbyte/integrations/destination/databricks/DatabricksDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-gcs/src/test-integration/java/io/airbyte/integrations/destination/gcs/GcsAvroDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-gcs/src/test-integration/java/io/airbyte/integrations/destination/gcs/GcsParquetDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mongodb-strict-encrypt/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/destination-mssql-strict-encrypt/src/test-integration/java/io/airbyte/integrations/destination/mssql_strict_encrypt/MssqlStrictEncryptDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mssql/src/test-integration/java/io/airbyte/integrations/destination/mssql/MSSQLDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mssql/src/test-integration/java/io/airbyte/integrations/destination/mssql/MSSQLDestinationAcceptanceTestSSL.java
  airbyte-integrations/connectors/destination-mssql/src/test-integration/java/io/airbyte/integrations/destination/mssql/SshMSSQLDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mysql-strict-encrypt/src/test-integration/java/io/airbyte/integrations/destination/mysql/MySQLStrictEncryptDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mysql-strict-encrypt/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/destination-mysql/src/test-integration/java/io/airbyte/integrations/destination/mysql/MySQLDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mysql/src/test-integration/java/io/airbyte/integrations/destination/mysql/SshMySQLDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/src/test-integration/java/io/airbyte/integrations/destination/postgres/PostgresDestinationStrictEncryptAcceptanceTest.java
  airbyte-integrations/connectors/destination-postgres/src/test-integration/java/io/airbyte/integrations/destination/postgres/PostgresDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-postgres/src/test-integration/java/io/airbyte/integrations/destination/postgres/SshPostgresDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-pubsub/Dockerfile
  airbyte-integrations/connectors/destination-pubsub/build.gradle
  airbyte-integrations/connectors/destination-pubsub/src/test-integration/java/io/airbyte/integrations/destination/pubsub/PubsubDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/RedshiftCopyDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-s3/src/test-integration/java/io/airbyte/integrations/destination/s3/S3AvroDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-s3/src/test-integration/java/io/airbyte/integrations/destination/s3/S3CsvDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-s3/src/test-integration/java/io/airbyte/integrations/destination/s3/S3ParquetDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeInsertDestinationAcceptanceTest.java
  docs/integrations/destinations/pubsub.md
Labels: area/documentation, area/connectors

#11499 GCS Destination: MLP documentation (Beta)
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-gcs/Dockerfile
  airbyte-integrations/connectors/destination-gcs/src/main/resources/spec.json
  docs/integrations/destinations/gcs.md
Labels: area/documentation, area/connectors

#11060 :tada: New Source: Pivotal Tracker
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/destination-gcs/src/main/java/io/airbyte/integrations/destination/gcs/GcsNameTransformer.java
  airbyte-integrations/connectors/destination-gcs/src/main/java/io/airbyte/integrations/destination/gcs/GcsStorageOperations.java
  airbyte-integrations/connectors/destination-gcs/src/test-integration/java/io/airbyte/integrations/destination/gcs/GcsDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/SerializedBufferFactory.java
  airbyte-integrations/connectors/source-google-analytics-v4/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-google-sheets/google_sheets_source/spec.json
  airbyte-integrations/connectors/source-pivotal-tracker/.dockerignore
  airbyte-integrations/connectors/source-pivotal-tracker/Dockerfile
  airbyte-integrations/connectors/source-pivotal-tracker/README.md
  airbyte-integrations/connectors/source-pivotal-tracker/acceptance-test-config.yml
  airbyte-integrations/connectors/source-pivotal-tracker/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-pivotal-tracker/build.gradle
  airbyte-integrations/connectors/source-pivotal-tracker/integration_tests/__init__.py
  airbyte-integrations/connectors/source-pivotal-tracker/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-pivotal-tracker/integration_tests/catalog.json
  airbyte-integrations/connectors/source-pivotal-tracker/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-pivotal-tracker/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-pivotal-tracker/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-pivotal-tracker/main.py
  airbyte-integrations/connectors/source-pivotal-tracker/requirements.txt
  airbyte-integrations/connectors/source-pivotal-tracker/setup.py
  airbyte-integrations/connectors/source-pivotal-tracker/source_pivotal_tracker/__init__.py
  airbyte-integrations/connectors/source-pivotal-tracker/source_pivotal_tracker/schemas.zip
  airbyte-integrations/connectors/source-pivotal-tracker/source_pivotal_tracker/schemas/activity.json
  airbyte-integrations/connectors/source-pivotal-tracker/source_pivotal_tracker/schemas/epics.json
  airbyte-integrations/connectors/source-pivotal-tracker/source_pivotal_tracker/schemas/labels.json
  airbyte-integrations/connectors/source-pivotal-tracker/source_pivotal_tracker/schemas/project_memberships.json
  airbyte-integrations/connectors/source-pivotal-tracker/source_pivotal_tracker/schemas/projects.json
  airbyte-integrations/connectors/source-pivotal-tracker/source_pivotal_tracker/schemas/releases.json
  airbyte-integrations/connectors/source-pivotal-tracker/source_pivotal_tracker/schemas/shared/label.json
  airbyte-integrations/connectors/source-pivotal-tracker/source_pivotal_tracker/schemas/shared/person.json
  airbyte-integrations/connectors/source-pivotal-tracker/source_pivotal_tracker/schemas/stories.json
  airbyte-integrations/connectors/source-pivotal-tracker/source_pivotal_tracker/source.py
  airbyte-integrations/connectors/source-pivotal-tracker/source_pivotal_tracker/spec.json
  airbyte-integrations/connectors/source-pivotal-tracker/unit_tests/__init__.py
  airbyte-integrations/connectors/source-pivotal-tracker/unit_tests/conftest.py
  airbyte-integrations/connectors/source-pivotal-tracker/unit_tests/responses/activity.json
  airbyte-integrations/connectors/source-pivotal-tracker/unit_tests/responses/epics.json
  airbyte-integrations/connectors/source-pivotal-tracker/unit_tests/responses/labels.json
  airbyte-integrations/connectors/source-pivotal-tracker/unit_tests/responses/project_memberships.json
  airbyte-integrations/connectors/source-pivotal-tracker/unit_tests/responses/projects.json
  airbyte-integrations/connectors/source-pivotal-tracker/unit_tests/responses/releases.json
  airbyte-integrations/connectors/source-pivotal-tracker/unit_tests/responses/stories.json
  airbyte-integrations/connectors/source-pivotal-tracker/unit_tests/test_source.py
  airbyte-integrations/connectors/source-pivotal-tracker/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/streams.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/test_futures.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/unit_test.py
  docs/integrations/sources/pivotal-tracker.md
Labels: area/documentation, area/connectors, community

#11733 Password Length Requires Improved for Signup
  airbyte-webapp/src/packages/cloud/lib/auth/GoogleAuthService.ts
  airbyte-webapp/src/packages/cloud/locales/en.json
  airbyte-webapp/src/packages/cloud/views/auth/SignupPage/SignupPage.tsx
  airbyte-webapp/src/services/useInitService.tsx
Labels: area/frontend, area/platform

#11714 add pod ip logging for orchestrator
  airbyte-workers/src/main/java/io/airbyte/workers/process/AsyncOrchestratorPodProcess.java
Labels: area/worker, area/platform

#11727 🐛 Source Zendesk Support: fix the bug when state was not parsed correctly
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-zendesk-support/Dockerfile
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/streams.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/unit_test.py
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors

#11166 :bug: Destination bigquery denormalize "allOf" and "anyOf" fix
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/java/io/airbyte/integrations/destination/bigquery/formatter/DefaultBigQueryDenormalizedRecordFormatter.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedDestinationTest.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/util/BigQueryDenormalizedTestDataUtils.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/resources/testdata/dataAnyOfFormats.json
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/resources/testdata/dataAnyOfFormatsWithEmptyList.json
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/resources/testdata/dataAnyOfFormatsWithNull.json
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/resources/testdata/schemaAnyOfAllOf.json
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/formatter/BigQueryRecordFormatter.java
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors

#11735 fix race condition in port reintroduction test
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePortManagerSingleton.java
  airbyte-workers/src/test-integration/java/io/airbyte/workers/process/KubePodProcessIntegrationTest.java
Labels: area/worker, area/platform

#11474 Build OSS branch for deploying to Cloud env
  .github/actions/build-and-push-branch/action.yml
  airbyte-bootloader/Dockerfile
  airbyte-bootloader/build.gradle
  airbyte-cli/build.gradle
  airbyte-commons/src/main/java/io/airbyte/commons/version/AirbyteVersion.java
  airbyte-config/init/build.gradle
  airbyte-container-orchestrator/Dockerfile
  airbyte-container-orchestrator/build.gradle
  airbyte-db/lib/build.gradle
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/IntegrationRunner.java
  airbyte-metrics/reporter/Dockerfile
  airbyte-metrics/reporter/build.gradle
  airbyte-scheduler/app/Dockerfile
  airbyte-scheduler/app/build.gradle
  airbyte-server/Dockerfile
  airbyte-server/build.gradle
  airbyte-temporal/build.gradle
  airbyte-webapp/build.gradle
  airbyte-workers/Dockerfile
  airbyte-workers/build.gradle
  build.gradle
  docker-compose-cloud.build.yaml
  docs/contributing-to-airbyte/developing-locally.md
  docs/contributing-to-airbyte/developing-on-docker.md
Labels: area/documentation, area/frontend, area/worker, area/platform, area/server, area/scheduler

#11712 Publish connector command now auto bumps version
  .github/workflows/publish-command.yml
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/destination-dev-null/Dockerfile
  airbyte-integrations/connectors/source-apify-dataset/Dockerfile
  docs/connector-development/README.md
  docs/integrations/sources/apify-dataset.md
Labels: area/documentation, area/connectors

#11709 Documentation: Adds snowflake destination note for 0.4.24 version
  docs/integrations/destinations/snowflake.md
Labels: area/documentation

#11743 Update `supported-data-types` docs to use `date-time`
  docs/understanding-airbyte/supported-data-types.md
Labels: area/documentation

#11739 📖 Added section to docs about the /publish command
  docs/connector-development/README.md
Labels: area/documentation

#11193 🎉 New Source: ZohoCRM
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-zoho-crm/.dockerignore
  airbyte-integrations/connectors/source-zoho-crm/Dockerfile
  airbyte-integrations/connectors/source-zoho-crm/README.md
  airbyte-integrations/connectors/source-zoho-crm/__init__.py
  airbyte-integrations/connectors/source-zoho-crm/acceptance-test-config.yml
  airbyte-integrations/connectors/source-zoho-crm/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-zoho-crm/build.gradle
  airbyte-integrations/connectors/source-zoho-crm/integration_tests/__init__.py
  airbyte-integrations/connectors/source-zoho-crm/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-zoho-crm/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-zoho-crm/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-zoho-crm/integration_tests/expected_records.json
  airbyte-integrations/connectors/source-zoho-crm/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-zoho-crm/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-zoho-crm/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-zoho-crm/integration_tests/test_stream_factory.py
  airbyte-integrations/connectors/source-zoho-crm/main.py
  airbyte-integrations/connectors/source-zoho-crm/requirements.txt
  airbyte-integrations/connectors/source-zoho-crm/setup.py
  airbyte-integrations/connectors/source-zoho-crm/source_zoho_crm/__init__.py
  airbyte-integrations/connectors/source-zoho-crm/source_zoho_crm/api.py
  airbyte-integrations/connectors/source-zoho-crm/source_zoho_crm/auth.py
  airbyte-integrations/connectors/source-zoho-crm/source_zoho_crm/exceptions.py
  airbyte-integrations/connectors/source-zoho-crm/source_zoho_crm/source.py
  airbyte-integrations/connectors/source-zoho-crm/source_zoho_crm/spec.json
  airbyte-integrations/connectors/source-zoho-crm/source_zoho_crm/streams.py
  airbyte-integrations/connectors/source-zoho-crm/source_zoho_crm/types.py
  airbyte-integrations/connectors/source-zoho-crm/unit_tests/__init__.py
  airbyte-integrations/connectors/source-zoho-crm/unit_tests/conftest.py
  airbyte-integrations/connectors/source-zoho-crm/unit_tests/parametrize.py
  airbyte-integrations/connectors/source-zoho-crm/unit_tests/test_api.py
  airbyte-integrations/connectors/source-zoho-crm/unit_tests/test_auth.py
  airbyte-integrations/connectors/source-zoho-crm/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-zoho-crm/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-zoho-crm/unit_tests/test_types.py
  docs/SUMMARY.md
  docs/integrations/sources/zoho-crm.md
Labels: area/documentation, area/connectors

#11716 Add docusaurus tool not pipeline logic
  README.md
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-bigquery/src/main/resources/spec.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/openapi_spec.json
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/unit_test.py
  docs/cloud/getting-started-with-airbyte-cloud.md
  docs/cloud/managing-airbyte-cloud.md
  docs/connector-development/ux-handbook.md
  docs/contributing-to-airbyte/updating-documentation.md
  docs/deploying-airbyte/on-digitalocean-droplet.md
  docs/integrations/destinations/snowflake.md
  docs/integrations/sources/drupal.md
  docs/integrations/sources/facebook-marketing.md
  docs/integrations/sources/salesforce.md
  docs/integrations/sources/sentry.md
  docs/project-overview/product-release-stages.md
  docs/readme.md
  docs/troubleshooting/running-sync.md
  docusaurus/.gitignore
  docusaurus/README.md
  docusaurus/babel.config.js
  docusaurus/docusaurus.config.js
  docusaurus/package-lock.json
  docusaurus/package.json
  docusaurus/sidebars.js
  docusaurus/src/css/custom.css
  docusaurus/static/.nojekyll
  docusaurus/static/img/favicon.png
  docusaurus/static/img/logo-dark.png
  docusaurus/static/img/logo-light.png
  docusaurus/static/img/logo.png
  docusaurus/static/img/logo_black.png
  docusaurus/tsconfig.json
  docusaurus/yarn.lock
Labels: area/documentation, area/connectors

#11746 Added useSuspenseQuery hook, remove top-level suspense: true
  airbyte-webapp/src/hooks/services/useConnectionHook.tsx
  airbyte-webapp/src/hooks/services/useDestinationHook.tsx
  airbyte-webapp/src/hooks/services/useDocumentation.ts
  airbyte-webapp/src/hooks/services/useSourceHook.tsx
  airbyte-webapp/src/packages/cloud/services/users/UseUserHook.ts
  airbyte-webapp/src/packages/cloud/services/workspaces/WorkspacesService.tsx
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/components/CreditsUsagePage.tsx
  airbyte-webapp/src/packages/cloud/views/users/UsersSettingsView/UsersSettingsView.tsx
  airbyte-webapp/src/services/connector/DestinationDefinitionService.ts
  airbyte-webapp/src/services/connector/DestinationDefinitionSpecificationService.tsx
  airbyte-webapp/src/services/connector/SourceDefinitionService.ts
  airbyte-webapp/src/services/connector/SourceDefinitionSpecificationService.tsx
  airbyte-webapp/src/services/connector/useSuspenseQuery.ts
  airbyte-webapp/src/services/job/JobService.tsx
  airbyte-webapp/src/services/workspaces/WorkspacesService.tsx
  airbyte-webapp/src/views/common/StoreProvider.tsx
Labels: area/frontend, area/platform

#11767 Fixing publish command gitref for bot push
  .github/workflows/publish-command.yml
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-openweather/Dockerfile
Labels: area/connectors

#11761 Source Facebook: upgrade SDK version to 13
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/setup.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors

#11745 Add Sidebar Popout for Support Links
  airbyte-webapp/src/config/uiConfig.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/packages/cloud/views/layout/SideBar/SideBar.tsx
  airbyte-webapp/src/views/layout/SideBar/SideBar.tsx
  airbyte-webapp/src/views/layout/SideBar/components/SidebarPopout.tsx
Labels: area/frontend, area/platform

#11734 Update option name
  docs/contributing-to-airbyte/code-style.md
Labels: area/documentation

#11768 S3 / GCS staging: use correct staging filename
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3StorageOperations.java
  airbyte-integrations/connectors/destination-s3/src/test/java/io/airbyte/integrations/destination/s3/S3StorageOperationsTest.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeS3StagingSqlOperations.java
Labels: area/connectors

#11704 SAT: check oneOf common property has only `const` keyword, no `default` and `enum` keywords
  airbyte-integrations/bases/source-acceptance-test/CHANGELOG.md
  airbyte-integrations/bases/source-acceptance-test/Dockerfile
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/tests/test_core.py
  airbyte-integrations/bases/source-acceptance-test/unit_tests/test_spec.py
  docs/connector-development/connector-specification-reference.md
Labels: area/documentation

#11755 Implement health check for server.
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java
  airbyte-config/persistence/src/test/java/io/airbyte/config/persistence/ConfigRepositoryTest.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/HealthCheckHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/HealthCheckHandlerTest.java
Labels: area/platform, area/server

#11793 Format java code
  airbyte-integrations/connectors/destination-aws-datalake/src/main/java/AthenaHelper.java
  airbyte-integrations/connectors/destination-aws-datalake/src/main/java/AwsDatalakeDestinationConfig.java
  airbyte-integrations/connectors/destination-aws-datalake/src/main/java/GlueHelper.java
  airbyte-integrations/connectors/destination-aws-datalake/src/test-integration/java/io/airbyte/integrations/destination/aws_datalake/AwsDatalakeDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-aws-datalake/src/test/AwsDatalakeDestinationTest.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3StorageOperations.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeS3StagingSqlOperations.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
Labels: area/connectors

#11729 :bug: Destination Redshift and Postgres handle custom namespace with '-'
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-jdbc/Dockerfile
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/JdbcBufferedConsumerFactory.java
  airbyte-integrations/connectors/destination-postgres/Dockerfile
  airbyte-integrations/connectors/destination-redshift/Dockerfile
  docs/integrations/destinations/postgres.md
  docs/integrations/destinations/redshift.md
Labels: area/documentation, area/connectors

#11809 Documentation update for insights start date
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation

#11807 Update openapi schema.
  airbyte-api/src/main/openapi/config.yaml
Labels: area/api, area/platform, community

#11813 📖 Add clarity on automatic version bump in docs / PR checklist
  .github/pull_request_template.md
  docs/connector-development/README.md
Labels: area/documentation

#11782 Support for node selectors and tolerations in bootloader pod
  charts/airbyte/templates/bootloader/pod.yaml
  charts/airbyte/values.yaml
Labels: area/platform, kubernetes, community

#11817 Add docs sidebar
  .github/workflows/documentation.yml
  docs/connector-development/tutorials/README.md
  docs/deploying-airbyte/README.md
  docs/integrations/destinations/README.md
  docs/operator-guides/README.md
  docs/quickstart/README.md
  docs/readme.md
  docusaurus/docs_contributing.md
  docusaurus/sidebars.js
  docusaurus/yarn.lock
  tools/bin/check_docusaurus_build_changes
  tools/shell_defaults
Labels: area/documentation

#11821 Fixed typo on registration page
  airbyte-webapp/src/packages/cloud/locales/en.json
Labels: area/frontend

#11384 🐛 Source Amazon Ads: test coverage more than 90% + improve test speed
  airbyte-integrations/connectors/source-amazon-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/configured_catalog_brands.json
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/configured_catalog_display.json
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/configured_catalog_full_refresh.json
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/configured_catalog_incremental.json
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/configured_catalog_products.json
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/configured_catalog_sponsored_display.json
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/expected_brands_stream.txt
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/expected_display_stream.txt
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/expected_products_stream.txt
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/expected_records.txt
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/expected_records_sponsored_display.txt
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/future_state.json
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/no_profiles_catalog.json
  airbyte-integrations/connectors/source-amazon-ads/setup.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/common.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/report_streams/products_report.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/report_streams/report_streams.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/test_report_streams.py
Labels: area/connectors

#11802 Revert "DAT: verify that a destination is able to write any ISO8601-compliant date string (#9816)"
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/DateTimeConverter.java
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/DateTimeUtils.java
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/DestinationAcceptanceTest.java
  airbyte-integrations/bases/standard-destination-test/src/main/resources/edge_case_catalog.json
  airbyte-integrations/bases/standard-destination-test/src/main/resources/edge_case_messages.txt
  airbyte-integrations/bases/standard-destination-test/src/main/resources/format_reference.txt
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageCsvDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedGcsDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-databricks/src/test-integration/java/io/airbyte/integrations/destination/databricks/DatabricksDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-gcs/src/test-integration/java/io/airbyte/integrations/destination/gcs/GcsAvroDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-gcs/src/test-integration/java/io/airbyte/integrations/destination/gcs/GcsCsvDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-gcs/src/test-integration/java/io/airbyte/integrations/destination/gcs/GcsParquetDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mssql-strict-encrypt/src/test-integration/java/io/airbyte/integrations/destination/mssql_strict_encrypt/MssqlStrictEncryptDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mssql/src/test-integration/java/io/airbyte/integrations/destination/mssql/MSSQLDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mssql/src/test-integration/java/io/airbyte/integrations/destination/mssql/MSSQLDestinationAcceptanceTestSSL.java
  airbyte-integrations/connectors/destination-mssql/src/test-integration/java/io/airbyte/integrations/destination/mssql/SshMSSQLDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mysql-strict-encrypt/src/test-integration/java/io/airbyte/integrations/destination/mysql/MySQLStrictEncryptDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mysql/src/test-integration/java/io/airbyte/integrations/destination/mysql/MySQLDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mysql/src/test-integration/java/io/airbyte/integrations/destination/mysql/SshMySQLDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/src/test-integration/java/io/airbyte/integrations/destination/postgres/PostgresDestinationStrictEncryptAcceptanceTest.java
  airbyte-integrations/connectors/destination-postgres/src/test-integration/java/io/airbyte/integrations/destination/postgres/PostgresDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-postgres/src/test-integration/java/io/airbyte/integrations/destination/postgres/SshPostgresDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-pubsub/src/test-integration/java/io/airbyte/integrations/destination/pubsub/PubsubDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/RedshiftCopyDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-s3/src/test-integration/java/io/airbyte/integrations/destination/s3/S3AvroDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-s3/src/test-integration/java/io/airbyte/integrations/destination/s3/S3CsvDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-s3/src/test-integration/java/io/airbyte/integrations/destination/s3/S3ParquetDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeInsertDestinationAcceptanceTest.java
Labels: area/connectors

#11798 🎉Source-postgres: fixed roles for fetching materialized view processing
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/PostgresSourceDatatypeTest.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors

#11644 Use time zone that does not switch to DST
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcPostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/PostgresSourceDatatypeTest.java
Labels: area/connectors

#11771 Unexpected Temporal State: Start a new workflow if no reachable workflow exists during update
  airbyte-tests/src/acceptanceTests/java/io/airbyte/test/acceptance/AcceptanceTests.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalClient.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/TemporalClientTest.java
Labels: area/worker, area/platform

#11808 Un-Revert OSS branch build for Cloud workflow
  .github/actions/build-and-push-branch/action.yml
  airbyte-bootloader/Dockerfile
  airbyte-bootloader/build.gradle
  airbyte-cli/build.gradle
  airbyte-commons/src/main/java/io/airbyte/commons/version/AirbyteVersion.java
  airbyte-config/init/build.gradle
  airbyte-container-orchestrator/Dockerfile
  airbyte-container-orchestrator/build.gradle
  airbyte-db/lib/build.gradle
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/IntegrationRunner.java
  airbyte-metrics/reporter/Dockerfile
  airbyte-metrics/reporter/build.gradle
  airbyte-scheduler/app/Dockerfile
  airbyte-scheduler/app/build.gradle
  airbyte-server/Dockerfile
  airbyte-server/build.gradle
  airbyte-temporal/build.gradle
  airbyte-webapp/build.gradle
  airbyte-workers/Dockerfile
  airbyte-workers/build.gradle
  build.gradle
  docker-compose-cloud.build.yaml
  docs/contributing-to-airbyte/developing-locally.md
  docs/contributing-to-airbyte/developing-on-docker.md
Labels: area/documentation, area/frontend, area/worker, area/platform, area/server, area/scheduler

#11699 Add script to setup venv for a connector
  airbyte-integrations/connectors/source-greenhouse/requirements.txt
  docs/contributing-to-airbyte/monorepo-python-development.md
  tools/bin/setup_connector_venv.sh
  tools/bin/update_intellij_venv.py
Labels: area/documentation, area/connectors

#11795 check should upload data into the bucket path provided
  airbyte-integrations/connectors/destination-gcs/src/main/java/io/airbyte/integrations/destination/gcs/GcsDestination.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3Destination.java
Labels: area/connectors

#11613 🐛 Source slack: add channel_filter config var to improve sync performance
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-slack/Dockerfile
  airbyte-integrations/connectors/source-slack/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-slack/integration_tests/invalid_oauth_config.json
  airbyte-integrations/connectors/source-slack/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-slack/source_slack/source.py
  airbyte-integrations/connectors/source-slack/source_slack/spec.json
  docs/integrations/sources/slack.md
Labels: area/documentation, area/connectors, community

#11511 Un-revert add /tmp emptyDir volume to connector pods
  airbyte-integrations/bases/base-normalization/Dockerfile
  airbyte-integrations/bases/base-normalization/dbt-project-template-clickhouse/dbt_project.yml
  airbyte-integrations/bases/base-normalization/dbt-project-template-mssql/dbt_project.yml
  airbyte-integrations/bases/base-normalization/dbt-project-template-mysql/dbt_project.yml
  airbyte-integrations/bases/base-normalization/dbt-project-template-oracle/dbt_project.yml
  airbyte-integrations/bases/base-normalization/dbt-project-template-snowflake/dbt_project.yml
  airbyte-integrations/bases/base-normalization/dbt-project-template/dbt_project.yml
  airbyte-integrations/bases/base-normalization/integration_tests/dbt_integration_test.py
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/bigquery/test_nested_streams/dbt_project.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/bigquery/test_simple_streams/dbt_project.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/bigquery/test_simple_streams/first_dbt_project.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/dbt_project.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/first_output/airbyte_tables/test_normalization/exchange_rate.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/first_output/airbyte_views/test_normalization/dedup_exchange_rate_stg.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/first_output/airbyte_views/test_normalization/multiple_column_names_conflicts_stg.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/second_output/airbyte_tables/test_normalization/exchange_rate.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/clickhouse/test_simple_streams/second_output/airbyte_views/test_normalization/dedup_exchange_rate_stg.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mssql/test_nested_streams/dbt_project.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mssql/test_nested_streams/second_output/airbyte_incremental/scd/test_normalization/nested_stream_with_co__lting_into_long_names_scd.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mssql/test_nested_streams/second_output/airbyte_incremental/test_normalization/nested_stream_with_co___long_names_partition.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mssql/test_nested_streams/second_output/airbyte_incremental/test_normalization/nested_stream_with_co___names_partition_data.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mssql/test_nested_streams/second_output/airbyte_incremental/test_normalization/nested_stream_with_co__ion_double_array_data.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mssql/test_nested_streams/second_output/airbyte_incremental/test_normalization/nested_stream_with_co__lting_into_long_names.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mssql/test_simple_streams/dbt_project.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mssql/test_simple_streams/second_output/airbyte_incremental/scd/test_normalization/dedup_exchange_rate_scd.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mssql/test_simple_streams/second_output/airbyte_incremental/test_normalization/dedup_exchange_rate.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mysql/test_nested_streams/dbt_project.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mysql/test_simple_streams/dbt_project.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/oracle/test_simple_streams/dbt_project.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_nested_streams/dbt_project.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_simple_streams/dbt_project.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/postgres/test_simple_streams/first_dbt_project.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/redshift/test_nested_streams/dbt_project.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/redshift/test_simple_streams/dbt_project.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/redshift/test_simple_streams/first_dbt_project.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/snowflake/test_nested_streams/dbt_project.yml
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/snowflake/test_simple_streams/dbt_project.yml
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/NormalizationRunnerFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
  docs/understanding-airbyte/basic-normalization.md
Labels: area/documentation, area/worker, normalization, area/platform

#11764 Create and Persist Normalization Output
  airbyte-config/models/src/main/resources/types/NormalizationSummary.yaml
  airbyte-config/models/src/main/resources/types/StandardSyncOutput.yaml
  airbyte-workers/src/main/java/io/airbyte/workers/DefaultNormalizationWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/NormalizationWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/NormalizationActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/NormalizationActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/NormalizationLauncherWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/SyncWorkflowImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/DefaultNormalizationWorkerTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/SyncWorkflowTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityTest.java
Labels: area/worker, area/platform

#11908 🎉 Update hardway tutorial & generic source template to use SAT
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/tests/test_core.py
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/utils/json_schema_helper.py
  airbyte-integrations/connector-templates/generator/plopfile.js
  airbyte-integrations/connector-templates/source-generic/.gitignore.hbs
  airbyte-integrations/connector-templates/source-generic/Dockerfile
  airbyte-integrations/connector-templates/source-generic/NEW_SOURCE_CHECKLIST.md.hbs
  airbyte-integrations/connector-templates/source-generic/README.md
  airbyte-integrations/connector-templates/source-generic/acceptance-test-config.yml
  airbyte-integrations/connector-templates/source-generic/acceptance-test-docker.sh
  airbyte-integrations/connector-templates/source-generic/build.gradle
  buildSrc/src/main/groovy/airbyte-source-acceptance-test.gradle
  docs/connector-development/tutorials/build-a-connector-the-hard-way.md
Labels: area/documentation

#11920 Bump Airbyte version from 0.35.65-alpha to 0.35.66-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#9407 🎉 Destination Redshift: Use SUPER data type on Redshift destination for raw JSON data
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-db/lib/src/main/java/io/airbyte/db/jdbc/JdbcDatabase.java
  airbyte-integrations/connectors/destination-jdbc/Dockerfile
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/JdbcBufferedConsumerFactory.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/SqlOperations.java
  airbyte-integrations/connectors/destination-redshift/Dockerfile
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftCopyS3Destination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftDestination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftInsertDestination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftSqlOperations.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/enums/RedshiftDataTmpTableMode.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/RedshiftCopyDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/RedshiftInsertDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-redshift/src/test/java/io/airbyte/integrations/destination/redshift/RedshiftDestinationTest.java
  docs/integrations/destinations/redshift.md
Labels: area/documentation, area/connectors

#11916 Update scaling-airbyte.md
  docs/operator-guides/scaling-airbyte.md
Labels: area/documentation, community

#11913 Improve out of credits message
  airbyte-webapp/src/packages/cloud/locales/en.json
  airbyte-webapp/src/packages/cloud/views/layout/MainView/components/CreditsProblemBanner.tsx
Labels: area/frontend, area/platform

#11837 📝 CDK tutorial: fix incorrect variable in code example
  docs/connector-development/tutorials/cdk-tutorial-python-http/6-read-data.md
Labels: area/documentation

#11952 Bump Airbyte version from 0.35.66-alpha to 0.35.67-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#11803 #10938 fix docs and spec
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-analytics-v4/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-v4/source_google_analytics_v4/source.py
  airbyte-integrations/connectors/source-google-analytics-v4/source_google_analytics_v4/spec.json
  airbyte-integrations/connectors/source-google-analytics-v4/unit_tests/unit_test.py
  docs/integrations/sources/google-analytics-v4.md
Labels: area/documentation, area/connectors

#11962 Update on-kubernetes.md
  docs/deploying-airbyte/on-kubernetes.md
Labels: area/documentation, community

#11969 Source File: Update Dockerfile to latest Airbyte template
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-file/Dockerfile
  airbyte-integrations/connectors/source-file/source_file/spec.json
Labels: area/connectors

#11940 Upgrade webapp dependencies
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
Labels: area/frontend, area/platform

#11692 🐛 [On call / 171] Source Salesforce: fixed the bug when `Bulk` fetch took all memory of kube pods
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-salesforce/Dockerfile
  airbyte-integrations/connectors/source-salesforce/README.md
  airbyte-integrations/connectors/source-salesforce/setup.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/exceptions.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/streams.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/api_test.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/test_memory.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors

#11981 fix parentheses and info/warning/danger formatting in docs
  airbyte-integrations/connectors/destination-databricks/README.md
  docs/api-documentation.md
  docs/archive/examples/postgres-replication.md
  docs/archive/examples/slack-history.md
  docs/connector-development/cdk-faros-js.md
  docs/connector-development/cdk-python/README.md
  docs/connector-development/connector-specification-reference.md
  docs/connector-development/testing-connectors/README.md
  docs/connector-development/testing-connectors/legacy-standard-source-tests.md
  docs/connector-development/tutorials/building-a-java-destination.md
  docs/connector-development/tutorials/building-a-python-destination.md
  docs/connector-development/tutorials/building-a-python-source.md
  docs/contributing-to-airbyte/README.md
  docs/contributing-to-airbyte/developing-locally.md
  docs/deploying-airbyte/local-deployment.md
  docs/deploying-airbyte/on-aws-ec2.md
  docs/deploying-airbyte/on-aws-ecs.md
  docs/deploying-airbyte/on-azure-vm-cloud-shell.md
  docs/deploying-airbyte/on-digitalocean-droplet.md
  docs/deploying-airbyte/on-gcp-compute-engine.md
  docs/deploying-airbyte/on-kubernetes.md
  docs/integrations/README.md
  docs/integrations/destinations/gcs.md
  docs/integrations/destinations/local-csv.md
  docs/integrations/destinations/local-json.md
  docs/integrations/destinations/mssql.md
  docs/integrations/destinations/redshift.md
  docs/integrations/sources/drupal.md
  docs/integrations/sources/google-ads.md
  docs/integrations/sources/http-request.md
  docs/integrations/sources/hubspot.md
  docs/integrations/sources/magento.md
  docs/integrations/sources/microsoft-dynamics-customer-engagement.md
  docs/integrations/sources/microsoft-dynamics-gp.md
  docs/integrations/sources/microsoft-dynamics-nav.md
  docs/integrations/sources/mssql.md
  docs/integrations/sources/okta.md
  docs/integrations/sources/oracle-peoplesoft.md
  docs/integrations/sources/oracle-siebel-crm.md
  docs/integrations/sources/sap-business-one.md
  docs/integrations/sources/slack.md
  docs/integrations/sources/spree-commerce.md
  docs/integrations/sources/sugar-crm.md
  docs/integrations/sources/wordpress.md
  docs/integrations/sources/zencart.md
  docs/operator-guides/configuring-airbyte-db.md
  docs/operator-guides/transformation-and-normalization/transformations-with-airbyte.md
  docs/operator-guides/transformation-and-normalization/transformations-with-dbt.md
  docs/operator-guides/transformation-and-normalization/transformations-with-sql.md
  docs/operator-guides/upgrading-airbyte.md
  docs/operator-guides/using-the-airflow-airbyte-operator.md
  docs/project-overview/changelog/platform.md
  docs/quickstart/add-a-destination.md
  docs/quickstart/add-a-source.md
  docs/quickstart/getting-started.md
  docs/understanding-airbyte/basic-normalization.md
  docs/understanding-airbyte/cdc.md
  docs/understanding-airbyte/glossary.md
  docs/understanding-airbyte/namespaces.md
Labels: area/documentation, area/connectors

#11484 source-bigquery: escape column names and update google cloud bigquery artifact
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-bigquery/Dockerfile
  airbyte-integrations/connectors/source-bigquery/build.gradle
  airbyte-integrations/connectors/source-bigquery/src/main/java/io/airbyte/integrations/source/bigquery/BigQuerySource.java
  airbyte-integrations/connectors/source-bigquery/src/test-integration/java/io/airbyte/integrations/source/bigquery/AbstractBigQuerySourceTest.java
  airbyte-integrations/connectors/source-bigquery/src/test-integration/java/io/airbyte/integrations/source/bigquery/BigQuerySourceDatatypeTest.java
  airbyte-integrations/connectors/source-bigquery/src/test-integration/java/io/airbyte/integrations/source/bigquery/BigQuerySourceEscapeColumnNameTest.java
  airbyte-integrations/connectors/source-bigquery/src/test-integration/java/io/airbyte/integrations/source/bigquery/BigQueryStructureSourceTest.java
  docs/integrations/sources/bigquery.md
Labels: area/documentation, area/connectors

#11970 doc: update troubleshooting section for forum migration
  docs/troubleshooting/README.md
Labels: area/documentation

#11848 Docs
  docs/operator-guides/upgrading-airbyte.md
  docs/understanding-airbyte/airbyte-specification.md
  docs/understanding-airbyte/namespaces.md
Labels: area/documentation, community

#11868 Issue: 11867 add option for sidecar pull policy
  airbyte-config/models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerConfigs.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubeProcessFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/OrchestratorConstants.java
  docs/operator-guides/configuring-airbyte.md
Labels: area/documentation, area/worker, area/platform, community

#11958 Use Firebase Auth Emulator host if present
  airbyte-webapp/src/packages/cloud/services/FirebaseSdkProvider.tsx
  airbyte-webapp/src/packages/cloud/services/config/configProviders.ts
  airbyte-webapp/src/packages/cloud/services/config/index.ts
  airbyte-webapp/src/packages/cloud/services/config/types.ts
Labels: area/frontend, area/platform

#11896 🎁 octavia-cli: add telemetry
  .bumpversion.cfg
  octavia-cli/README.md
  octavia-cli/octavia_cli/apply/commands.py
  octavia-cli/octavia_cli/base_commands.py
  octavia-cli/octavia_cli/entrypoint.py
  octavia-cli/octavia_cli/generate/commands.py
  octavia-cli/octavia_cli/init/commands.py
  octavia-cli/octavia_cli/list/commands.py
  octavia-cli/octavia_cli/telemetry.py
  octavia-cli/setup.py
  octavia-cli/unit_tests/conftest.py
  octavia-cli/unit_tests/test_apply/test_commands.py
  octavia-cli/unit_tests/test_base_commands.py
  octavia-cli/unit_tests/test_entrypoint.py
  octavia-cli/unit_tests/test_generate/test_commands.py
  octavia-cli/unit_tests/test_init/test_commands.py
  octavia-cli/unit_tests/test_list/test_commands.py
  octavia-cli/unit_tests/test_telemetry.py
Labels: area/octavia-cli

#12002 fix check operation for Redshift destination
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftCopyS3Destination.java
Labels: area/connectors

#11988 📝 Update "Hard Way" incremental sync tutorial to pass SAT
  docs/connector-development/tutorials/adding-incremental-sync.md
  docs/understanding-airbyte/catalog.md
Labels: area/documentation

#11818 Configure test retries for JUnit Acceptance Tests
  airbyte-tests/src/acceptanceTests/java/io/airbyte/test/acceptance/AcceptanceTests.java
  airbyte-workers/src/test-integration/java/io/airbyte/workers/process/KubePodProcessIntegrationTest.java
  build.gradle
Labels: area/worker, area/platform

#11990 Docs: remove duplicate section in Redshift
  docs/integrations/destinations/redshift.md
Labels: area/documentation

#11770 Correctly display `format` data types
  airbyte-webapp/.eslintrc
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/utils/__snapshots__/useTranslateDataType.test.tsx.snap
  airbyte-webapp/src/utils/testutils.tsx
  airbyte-webapp/src/utils/useTranslateDataType.test.tsx
  airbyte-webapp/src/utils/useTranslateDataType.ts
  airbyte-webapp/src/views/Connection/CatalogTree/CatalogSection.tsx
  airbyte-webapp/src/views/Connection/CatalogTree/FieldRow.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/ServiceForm.test.tsx
Labels: area/frontend, area/platform

#11858 allow importing `IncrementalMixin` from `airbyte_cdk.sources.streams`
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/streams/__init__.py
  airbyte-cdk/python/setup.py
  docs/connector-development/tutorials/cdk-tutorial-python-http/6-read-data.md
Labels: area/documentation, CDK

#12038 Relax `codecov` target coverage to 90%
  codecov.yml
Labels: team/sources-dx

#12040 downgrade redshift
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/NormalizationRunnerFactory.java
Labels: area/worker, area/platform

#12041 Revert Redshift SUPER PRs
  airbyte-db/lib/src/main/java/io/airbyte/db/jdbc/JdbcDatabase.java
  airbyte-integrations/bases/base-normalization/.dockerignore
  airbyte-integrations/bases/base-normalization/Dockerfile
  airbyte-integrations/bases/base-normalization/build.gradle
  airbyte-integrations/bases/base-normalization/dbt-project-template-redshift/dbt_project.yml
  airbyte-integrations/bases/base-normalization/dbt-project-template/macros/configuration.sql
  airbyte-integrations/bases/base-normalization/dbt-project-template/macros/cross_db_utils/array.sql
  airbyte-integrations/bases/base-normalization/dbt-project-template/macros/cross_db_utils/datatypes.sql
  airbyte-integrations/bases/base-normalization/dbt-project-template/macros/cross_db_utils/json_operations.sql
  airbyte-integrations/bases/base-normalization/dbt-project-template/macros/cross_db_utils/type_conversions.sql
  airbyte-integrations/bases/base-normalization/docker-compose.build.yaml
  airbyte-integrations/bases/base-normalization/docker-compose.yaml
  airbyte-integrations/bases/base-normalization/integration_tests/dbt_integration_test.py
  airbyte-integrations/bases/base-normalization/integration_tests/test_ephemeral.py
  airbyte-integrations/bases/base-normalization/integration_tests/test_normalization.py
  airbyte-integrations/bases/base-normalization/normalization/transform_catalog/catalog_processor.py
  airbyte-integrations/bases/base-normalization/normalization/transform_catalog/dbt_macro.py
  airbyte-integrations/bases/base-normalization/normalization/transform_catalog/stream_processor.py
  airbyte-integrations/bases/base-normalization/normalization/transform_catalog/transform.py
  airbyte-integrations/bases/base-normalization/normalization/transform_catalog/utils.py
  airbyte-integrations/bases/base-normalization/normalization/transform_config/transform.py
  airbyte-integrations/bases/base-normalization/redshift.Dockerfile
  airbyte-integrations/bases/base-normalization/unit_tests/test_transform_config.py
  airbyte-integrations/connectors/destination-jdbc/Dockerfile
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/JdbcBufferedConsumerFactory.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/SqlOperations.java
  airbyte-integrations/connectors/destination-redshift/Dockerfile
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftCopyS3Destination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftDestination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftInsertDestination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftSqlOperations.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/enums/RedshiftDataTmpTableMode.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/RedshiftCopyDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/RedshiftInsertDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-redshift/src/test/java/io/airbyte/integrations/destination/redshift/RedshiftDestinationTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/NormalizationRunnerFactory.java
  docs/integrations/destinations/redshift.md
  docs/understanding-airbyte/basic-normalization.md
Labels: area/documentation, area/connectors, area/worker, normalization, area/platform

#11609 Fix issues with the current caching of catalog
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/DatabaseConfigPersistence.java
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/DbConverter.java
  airbyte-config/persistence/src/test/java/io/airbyte/config/persistence/ConfigRepositoryE2EReadWriteTest.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SchedulerHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/SchedulerHandlerTest.java
Labels: area/platform, area/server

#12044 Bump Airbyte version from 0.35.68-alpha to 0.36.0-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#12023 Add normalization logging
  airbyte-workers/src/main/java/io/airbyte/workers/DefaultNormalizationWorker.java
Labels: area/worker, area/platform

#11738 🎉 New Source: Faker
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-faker/.dockerignore
  airbyte-integrations/connectors/source-faker/CHANGELOG.md
  airbyte-integrations/connectors/source-faker/Dockerfile
  airbyte-integrations/connectors/source-faker/README.md
  airbyte-integrations/connectors/source-faker/acceptance-test-config.yml
  airbyte-integrations/connectors/source-faker/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-faker/build.gradle
  airbyte-integrations/connectors/source-faker/integration_tests/__init__.py
  airbyte-integrations/connectors/source-faker/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-faker/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-faker/integration_tests/catalog.json
  airbyte-integrations/connectors/source-faker/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-faker/integration_tests/expected_records.txt
  airbyte-integrations/connectors/source-faker/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-faker/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-faker/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-faker/main.py
  airbyte-integrations/connectors/source-faker/requirements.txt
  airbyte-integrations/connectors/source-faker/setup.py
  airbyte-integrations/connectors/source-faker/source_faker/__init__.py
  airbyte-integrations/connectors/source-faker/source_faker/catalog.json
  airbyte-integrations/connectors/source-faker/source_faker/source.py
  airbyte-integrations/connectors/source-faker/source_faker/spec.json
  airbyte-integrations/connectors/source-faker/unit_tests/unit_test.py
  docs/SUMMARY.md
  docs/integrations/README.md
  docs/integrations/sources/faker.md
Labels: area/documentation, area/connectors, team/sources-dx

#11801 🐛Source Facebook Marketing: user_tos_accepted is an object
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/ad_account.json
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, community

#11751 🎉Source Facebook Marketing: use AdAccount('act_{id}') to find account instead of iterating
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/api.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/source.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/conftest.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_api.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_client.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, community

#11840 :bug: Destination S3: added documentation about S3 user policies
  docs/integrations/destinations/s3.md
Labels: area/documentation

#11977 source-google-sheets: remove print statement breaking airbyte protocol
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-sheets/Dockerfile
  airbyte-integrations/connectors/source-google-sheets/google_sheets_source/helpers.py
  docs/integrations/sources/google-sheets.md
Labels: area/documentation, area/connectors, community

#11978 🎉Destination-bigquery-denorm: fixed emittedAt timestamp
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/java/io/airbyte/integrations/destination/bigquery/formatter/DefaultBigQueryDenormalizedRecordFormatter.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedDestinationTest.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedUtilsTest.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test/java/io/airbyte/integrations/destination/bigquery/util/TestBigQueryDenormalizedRecordFormatter.java
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors

#12036 Add NoMatchingConnector event
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/views/Connector/ServiceForm/components/Controls/ConnectorServiceTypeControl.tsx
Labels: area/frontend, area/platform

#12062 patch time.sleep in unit tests to avoid actual sleeps
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_reports_streams_rate_limits.py
Labels: area/connectors, community

#11633 🎉 Source Mixpanel: Increase unit test coverage
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mixpanel/Dockerfile
  airbyte-integrations/connectors/source-mixpanel/setup.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/source.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/__init__.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/conftest.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_source.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/utils.py
  docs/integrations/sources/mixpanel.md
Labels: area/documentation, area/connectors, community

#12074 Docs post-migration cleanup
  docs/archive/examples/zoom-activity-dashboard.md
  docs/readme.md
  docusaurus/sidebars.js
Labels: area/documentation

#12068 🐛 BigQuery Destination failed conditional binding
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDestination.java
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors

#11941 Fix Greenhouse employee_id type
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-greenhouse/Dockerfile
  airbyte-integrations/connectors/source-greenhouse/source_greenhouse/schemas/applications.json
  airbyte-integrations/connectors/source-greenhouse/source_greenhouse/schemas/candidates.json
  airbyte-integrations/connectors/source-greenhouse/source_greenhouse/schemas/scorecards.json
  airbyte-integrations/connectors/source-greenhouse/source_greenhouse/schemas/users.json
  docs/integrations/sources/greenhouse.md
Labels: area/documentation, area/connectors, community

#11430 🎉 Source Amazon Ads: Implement OAuth2.0
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-ads/Dockerfile
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/spec.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/source.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/spec.py
  airbyte-oauth/src/main/java/io/airbyte/oauth/OAuthImplementationFactory.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/AmazonAdsOAuthFlow.java
  airbyte-oauth/src/test/java/io/airbyte/oauth/flows/AmazonAdsOAuthFlowTest.java
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, area/connectors

#11921 Add CSP header to webapp
  airbyte-webapp/nginx/default.conf.template
  airbyte-webapp/src/setupProxy.js
Labels: area/frontend, area/platform

#12081 Add cloud availability status on connector catalog page
  docs/integrations/README.md
  docs/integrations/sources/salesloft.md
Labels: area/documentation

#11911 :bug: Source Smartsheets: fix scrambled columns bug
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-smartsheets/Dockerfile
  airbyte-integrations/connectors/source-smartsheets/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-smartsheets/setup.py
  airbyte-integrations/connectors/source-smartsheets/source_smartsheets/source.py
  airbyte-integrations/connectors/source-smartsheets/unit_tests/__init__.py
  airbyte-integrations/connectors/source-smartsheets/unit_tests/test_source.py
  docs/integrations/sources/smartsheets.md
Labels: area/documentation, area/connectors

#12039 Cleanup StatusIcon component states
  airbyte-webapp/src/components/CreateConnectionContent/components/TryAfterErrorBlock.tsx
  airbyte-webapp/src/components/EntityTable/components/AllConnectionsStatusCell.tsx
  airbyte-webapp/src/components/EntityTable/components/NameCell.tsx
  airbyte-webapp/src/components/JobItem/components/MainInfo.tsx
  airbyte-webapp/src/components/StatusIcon/PauseIcon.tsx
  airbyte-webapp/src/components/StatusIcon/StatusIcon.test.tsx
  airbyte-webapp/src/components/StatusIcon/StatusIcon.tsx
  airbyte-webapp/src/components/StatusIcon/components/Pause.tsx
  airbyte-webapp/src/components/StepsMenu/components/Step.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/CreationFormPage/components/CheckConnection.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/TestingConnectionSuccess.tsx
Labels: area/frontend, area/platform

#12113 Docs formatting cleanup
  docs/cloud/core-concepts.md
  docs/cloud/getting-started-with-airbyte-cloud.md
  docs/cloud/managing-airbyte-cloud.md
  docs/integrations/sources/facebook-marketing.md
  docs/project-overview/licenses/README.md
  docs/project-overview/licenses/license-faq.md
Labels: area/documentation

#12106 Fixed typo in postgres destination documentation
  docs/integrations/destinations/postgres.md
Labels: area/documentation, community

#12102 Update cdk-speedrun.md
  docs/connector-development/tutorials/cdk-speedrun.md
Labels: area/documentation, community

#9310 Google ads added fields and reports
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/ad_group_ad_report.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/campaigns.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/click_view.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/display_keyword_performance_report.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/keyword_report.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
Labels: area/connectors, community, zzm

#12087 Bump Google Ads version and run format
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/destination-aws-datalake/destination_aws_datalake/aws.py
  airbyte-integrations/connectors/destination-aws-datalake/main.py
  airbyte-integrations/connectors/destination-aws-datalake/setup.py
  airbyte-integrations/connectors/destination-aws-datalake/unit_tests/unit_test.py
  airbyte-integrations/connectors/destination-gcs/src/test-integration/java/io/airbyte/integrations/destination/gcs/GcsCsvDestinationAcceptanceTest.java
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_reports_streams_rate_limits.py
  airbyte-integrations/connectors/source-faker/source_faker/spec.json
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-ads/integration_tests/test_incremental.py
  airbyte-integrations/connectors/source-mixpanel/setup.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/source.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/conftest.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_source.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/utils.py
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcPostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/unit_test.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors

#11971 ElasticSearch, GCS, Keen, Kafka, Kinesis destinations : Enable DAT tests
  airbyte-integrations/connectors/destination-elasticsearch/src/test-integration/java/io/airbyte/integrations/destination/elasticsearch/ElasticsearchDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-gcs/src/test-integration/java/io/airbyte/integrations/destination/gcs/GcsAvroDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-gcs/src/test-integration/java/io/airbyte/integrations/destination/gcs/GcsAvroTestDataComparator.java
  airbyte-integrations/connectors/destination-gcs/src/test-integration/java/io/airbyte/integrations/destination/gcs/GcsCsvDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-gcs/src/test-integration/java/io/airbyte/integrations/destination/gcs/GcsDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-gcs/src/test-integration/java/io/airbyte/integrations/destination/gcs/GcsParquetDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-kafka/src/test-integration/java/io/airbyte/integrations/destination/kafka/KafkaDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-keen/src/test-integration/java/io/airbyte/integrations/destination/keen/KeenDestinationTest.java
  airbyte-integrations/connectors/destination-kinesis/src/test-integration/java/io/airbyte/integrations/destination/kinesis/KinesisDestinationAcceptanceTest.java
Labels: area/connectors

#11965 Oracle & MongoDb destinations : Enable DAT tests
  airbyte-integrations/connectors/destination-mongodb/src/test-integration/java/io/airbyte/integrations/destination/mongodb/MongodbDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-oracle/src/test-integration/java/io/airbyte/integrations/destination/oracle/OracleTestDataComparator.java
  airbyte-integrations/connectors/destination-oracle/src/test-integration/java/io/airbyte/integrations/destination/oracle/SshOracleDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-oracle/src/test-integration/java/io/airbyte/integrations/destination/oracle/UnencryptedOracleDestinationAcceptanceTest.java
Labels: area/connectors

#12095 Source Mailchimp: Correct url property description
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/email_activity.json
Labels: area/connectors, community

#12073 Local_json, Maridb, Meilisearch, Mongodb, Mqtt destinations : Enable DAT tests
  airbyte-integrations/connectors/destination-local-json/src/test-integration/java/io/airbyte/integrations/destination/local_json/LocalJsonDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mariadb-columnstore/src/test-integration/java/io/airbyte/integrations/destination/mariadb_columnstore/MariaDbTestDataComparator.java
  airbyte-integrations/connectors/destination-mariadb-columnstore/src/test-integration/java/io/airbyte/integrations/destination/mariadb_columnstore/MariadbColumnstoreDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-meilisearch/src/test-integration/java/io/airbyte/integrations/destination/meilisearch/MeiliSearchDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mongodb/src/test-integration/java/io/airbyte/integrations/destination/mongodb/MongodbDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mqtt/src/test-integration/java/io/airbyte/integrations/destination/mqtt/MqttDestinationAcceptanceTest.java
Labels: area/connectors

#12098 S3 destination: added data types tests
  airbyte-integrations/connectors/destination-s3/src/test-integration/java/io/airbyte/integrations/destination/s3/S3AvroDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-s3/src/test-integration/java/io/airbyte/integrations/destination/s3/S3AvroParquetTestDataComparator.java
  airbyte-integrations/connectors/destination-s3/src/test-integration/java/io/airbyte/integrations/destination/s3/S3CsvDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-s3/src/test-integration/java/io/airbyte/integrations/destination/s3/S3DestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-s3/src/test-integration/java/io/airbyte/integrations/destination/s3/S3ParquetDestinationAcceptanceTest.java
Labels: area/connectors

#12125 Update docs to reflect Kubernetes edge cases
  docs/integrations/custom-connectors.md
Labels: area/documentation, community

#11725 🎉 Source Typeform: Increase unit test coverage
  airbyte-integrations/connectors/source-typeform/setup.py
  airbyte-integrations/connectors/source-typeform/source_typeform/source.py
  airbyte-integrations/connectors/source-typeform/unit_tests/conftest.py
  airbyte-integrations/connectors/source-typeform/unit_tests/test_source.py
  airbyte-integrations/connectors/source-typeform/unit_tests/test_streams.py
Labels: area/connectors, community

#12148 Bump Airbyte version from 0.36.0-alpha to 0.36.1-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#12134 Source/Destination Kafka: added support for PLAIN authentication
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/destination-kafka/Dockerfile
  airbyte-integrations/connectors/destination-kafka/src/main/resources/spec.json
  airbyte-integrations/connectors/source-kafka/Dockerfile
  airbyte-integrations/connectors/source-kafka/src/main/resources/spec.json
  docs/integrations/destinations/kafka.md
  docs/integrations/sources/kafka.md
Labels: area/documentation, area/connectors, community

#12122 🐛 Source Zendesk Support: Fix schema User stream to pull all users
  airbyte-integrations/connectors/source-zendesk-support/Dockerfile
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/spec.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/streams.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/unit_test.py
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors, community

#12150 Source Google Analytics: doc and specs minor fixes
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-analytics-v4/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-v4/source_google_analytics_v4/spec.json
  docs/integrations/sources/google-analytics-v4.md
Labels: area/documentation, area/connectors

#12142 Remove background/shadow from connector icon
  airbyte-webapp/src/components/ConnectionBlock/components/ConnectionBlockItem.tsx
  airbyte-webapp/src/components/ConnectorIcon/ConnectorIcon.tsx
  airbyte-webapp/src/components/ConnectorIcon/index.ts
  airbyte-webapp/src/components/EntityTable/components/ConnectorCell.tsx
  airbyte-webapp/src/components/EntityTable/components/NameCell.tsx
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/components/ConnectionCell.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/StatusMainInfo.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/CreationFormPage/components/ExistingEntityForm.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/DestinationItemPage/DestinationItemPage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/SourceItemPage.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/Controls/ConnectorServiceTypeControl.tsx
Labels: area/frontend, area/platform

#12149 Send available and enabled streams in Segment call
  airbyte-webapp/src/hooks/services/useConnectionHook.tsx
Labels: area/frontend, area/platform

#12085 🐛 Destination Redshift: fix switching mode
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/bases/base-normalization/integration_tests/resources/redshift_normalization_migration/test_pokemon_super.sql
  airbyte-integrations/connectors/destination-redshift/Dockerfile
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftDestination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftInsertDestination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftSqlOperations.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/enums/RedshiftDataTmpTableMode.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/RedshiftInsertDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/RedshiftS3StagingInsertDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-redshift/src/test/java/io/airbyte/integrations/destination/redshift/RedshiftDestinationTest.java
  docs/integrations/destinations/redshift.md
Labels: area/documentation, area/connectors, normalization

#12187 Docs: Google Analytics source doc now specifies v4
  docs/integrations/sources/google-analytics-v4.md
Labels: area/documentation

#12169 Fix wrong Json key in doc (`schema` instead of `json_schema`)
  docs/understanding-airbyte/airbyte-specification.md
Labels: area/documentation, community

#12104 🎉 CDK: support loading spec from yaml file
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/connector.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/test_connector.py
Labels: CDK

#11754 Helm Chart: add JOB_KUBE_ANNOTATIONS andJOB_KUBE_NODE_SELECTORS
  charts/airbyte/templates/_helpers.tpl
  charts/airbyte/templates/env-configmap.yaml
  charts/airbyte/templates/worker/deployment.yaml
  charts/airbyte/values.yaml
Labels: area/platform, kubernetes, community

#11670 Send Customer.io notifications and warnings for connections being auto-disabled
  airbyte-notification/src/main/resources/customerio/auto_disable_notification_template.json
  airbyte-notification/src/main/resources/customerio/auto_disable_warning_notification_template.json
  airbyte-scheduler/models/src/main/java/io/airbyte/scheduler/models/JobWithStatusAndTimestamp.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/DefaultJobPersistence.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/JobNotifier.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/JobPersistence.java
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/DefaultJobPersistenceTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerApp.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/AutoDisableConnectionActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/AutoDisableConnectionActivityTest.java
Labels: area/worker, area/platform, area/scheduler

#11861 🐛 Connector exit code should still be detected if resourceVersion is updated
  airbyte-container-orchestrator/build.gradle
  airbyte-container-orchestrator/src/main/java/io/airbyte/container_orchestrator/ContainerOrchestratorApp.java
  airbyte-scheduler/app/build.gradle
  airbyte-tests/build.gradle
  airbyte-workers/build.gradle
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerApp.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/AsyncOrchestratorPodProcess.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/ExitCodeWatcher.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubeProcessFactory.java
  airbyte-workers/src/test-integration/java/io/airbyte/workers/process/KubePodProcessIntegrationTest.java
Labels: area/worker, area/platform, area/scheduler

#12230 update some connectors to use YAML specs
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-exchange-rates/Dockerfile
  airbyte-integrations/connectors/source-exchange-rates/acceptance-test-config.yml
  airbyte-integrations/connectors/source-exchange-rates/setup.py
  airbyte-integrations/connectors/source-exchange-rates/source_exchange_rates/spec.json
  airbyte-integrations/connectors/source-exchange-rates/source_exchange_rates/spec.yaml
  airbyte-integrations/connectors/source-google-sheets/Dockerfile
  airbyte-integrations/connectors/source-google-sheets/README.md
  airbyte-integrations/connectors/source-google-sheets/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-sheets/google_sheets_source/spec.json
  airbyte-integrations/connectors/source-google-sheets/google_sheets_source/spec.yaml
  airbyte-integrations/connectors/source-google-sheets/setup.py
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/README.md
  airbyte-integrations/connectors/source-hubspot/acceptance-test-config.yml
  airbyte-integrations/connectors/source-hubspot/setup.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/spec.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/spec.yaml
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  airbyte-integrations/connectors/source-salesforce/Dockerfile
  airbyte-integrations/connectors/source-salesforce/README.md
  airbyte-integrations/connectors/source-salesforce/acceptance-test-config.yml
  airbyte-integrations/connectors/source-salesforce/setup.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/spec.json
  airbyte-integrations/connectors/source-salesforce/source_salesforce/spec.yaml
  airbyte-integrations/connectors/source-stripe/Dockerfile
  airbyte-integrations/connectors/source-stripe/README.md
  airbyte-integrations/connectors/source-stripe/acceptance-test-config.yml
  airbyte-integrations/connectors/source-stripe/setup.py
  airbyte-integrations/connectors/source-stripe/source_stripe/spec.json
  airbyte-integrations/connectors/source-stripe/source_stripe/spec.yaml
Labels: area/connectors

#12183 source-twilio: fixes to make acceptance tests pass
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-twilio/Dockerfile
  airbyte-integrations/connectors/source-twilio/acceptance-test-config.yml
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/calls.json
  airbyte-integrations/connectors/source-twilio/source_twilio/streams.py
  docs/integrations/sources/twilio.md
Labels: area/documentation, area/connectors, connectors/source/twilio

#12234 Revert formatting for test_pokemon_super.sql
  airbyte-integrations/bases/base-normalization/integration_tests/resources/redshift_normalization_migration/test_pokemon_super.sql
Labels: normalization

#11352 Source Mailchimp: update documentation
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mailchimp/Dockerfile
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/spec.json
  docs/integrations/sources/mailchimp.md
Labels: area/documentation, area/connectors

#12242 Fix build.
  .github/workflows/gradle.yml
  airbyte-integrations/bases/base-normalization/integration_tests/resources/redshift_normalization_migration/test_pokemon_super.sql
Labels: normalization

#12200 Add Destination Namespace default value
  airbyte-webapp/src/views/Connection/ConnectionForm/components/NamespaceDefinitionField.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/formConfig.tsx
Labels: area/frontend, area/platform

#11893 🐛 Source Github: add new streams TeamMembers, TeamMemberships
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/README.md
  airbyte-integrations/connectors/source-github/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-github/source_github/schemas/team_members.json
  airbyte-integrations/connectors/source-github/source_github/schemas/team_memberships.json
  airbyte-integrations/connectors/source-github/source_github/source.py
  airbyte-integrations/connectors/source-github/source_github/spec.json
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors

#12186 Add confirmation modal when navigating away from unsaved source or destination settings
  airbyte-webapp/src/components/ConnectorBlocks/ItemTabs.tsx
  airbyte-webapp/src/pages/DestinationPage/DestinationPage.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/DestinationItemPage/DestinationItemPage.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/DestinationItemPage/components/DestinationConnectionTable.tsx
  airbyte-webapp/src/pages/SourcesPage/SourcesPage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/SourceItemPage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SourceConnectionTable.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/ServiceForm.tsx
Labels: area/frontend, area/platform

#12235 Remove email verification screen
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/components/InfoBox/InfoBox.tsx
  airbyte-webapp/src/components/InfoBox/index.ts
  airbyte-webapp/src/components/StatusIcon/StatusIcon.test.tsx
  airbyte-webapp/src/packages/cloud/cloudRoutes.tsx
  airbyte-webapp/src/packages/cloud/locales/en.json
  airbyte-webapp/src/packages/cloud/services/auth/AuthService.tsx
  airbyte-webapp/src/packages/cloud/views/FirebaseActionRoute.tsx
  airbyte-webapp/src/packages/cloud/views/auth/ConfirmEmailPage/ConfirmEmailPage.tsx
  airbyte-webapp/src/packages/cloud/views/auth/ConfirmEmailPage/index.tsx
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/CreditsPage.tsx
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/components/EmailVerificationHint.tsx
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/components/RemainingCredits.tsx
Labels: area/frontend, area/platform
