Repository airbytehq/airbyte, pull requests merged in 2022-09, with the labels that each got.

#16195 Docker Operational Improvements.
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/DefaultJobCreator.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/DockerProcessFactory.java
Labels: area/worker, area/platform, area/scheduler

#16206 📝 S3 source: update doc about path_prefix + path_pattern
  docs/integrations/sources/s3.md
Labels: area/documentation

#16137 🐛 Source Tiktok: unnest `cursor` and `primary key` to the root-level
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/Dockerfile
  airbyte-integrations/connectors/source-tiktok-marketing/README.md
  airbyte-integrations/connectors/source-tiktok-marketing/acceptance-test-config.yml
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/abnormal_state_with_granullarity.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/streams.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/streams_all.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/streams_all_incremental.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/streams_audience_incremental.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/streams_reports_daily.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/streams_reports_lifetime.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/streams_with_day_granularity.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/streams_with_lifetime_granularity.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/audience_reports.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/basic_reports.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/source.py
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/spec.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/streams.py
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/streams_test.py
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/unit_test.py
  docs/integrations/sources/tiktok-marketing.md
Labels: area/documentation, area/connectors, connectors/source/tiktok-marketing

#16164 🎉 Source Pinterest: increase `unit_test` coverage up to 90%
  airbyte-integrations/connectors/source-pinterest/unit_tests/conftest.py
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_source.py
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_streams.py
Labels: area/connectors, connectors/source/pinterest

#16185 🐛 Source Amplitude: Re-release on new `airbyte_cdk==0.1.81`
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amplitude/Dockerfile
  docs/integrations/sources/amplitude.md
Labels: area/documentation, area/connectors, connectors/source/amplitude

#16188 🪟 🐛 Remove Debug Info button from UI pending API update
  airbyte-webapp/src/components/JobItem/components/DebugInfoButton.tsx
  airbyte-webapp/src/components/JobItem/components/DebugInfoDetailsModal.tsx
  airbyte-webapp/src/components/JobItem/components/LogsDetails.tsx
Labels: area/platform, team/frontend

#15231 Source Plaid: minimum last updated datetime support added for Capital One items
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-plaid/Dockerfile
  airbyte-integrations/connectors/source-plaid/source_plaid/source.py
  airbyte-integrations/connectors/source-plaid/source_plaid/spec.json
  docs/integrations/sources/plaid.md
Labels: area/documentation, area/connectors, community, connectors/source/plaid, bounty, bounty-S

#16207 🎉 Destination TiDB: add icon for TiDB connector
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
Labels: community

#16193 doc(fix): update minor typo on helm deploy
  docs/deploying-airbyte/on-kubernetes-via-helm.md
Labels: area/documentation, community

#16176 Add documentation for running the dev image of a connector
  docs/contributing-to-airbyte/developing-locally.md
Labels: area/documentation

#14492 destination-s3: added possibly failing test case for Json Avro converter.
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/avro/JsonToAvroSchemaConverter.java
  airbyte-integrations/connectors/destination-s3/src/test/resources/parquet/json_schema_converter/json_conversion_test_cases.json
Labels: area/connectors, community, connectors/destination/s3, bounty

#16204 Add documentation on how to configure and debug connector resources.
  docs/operator-guides/configuring-connector-resources.md
  docusaurus/sidebars.js
Labels: area/documentation

#16198 Add protocol_version to e2e testing connectors
  airbyte-integrations/connectors/destination-e2e-test/src/main/resources/spec.json
  airbyte-integrations/connectors/source-e2e-test/src/main/resources/spec.json
Labels: area/connectors, connectors/source/e2e-test, connectors/destination/e2e-test

#16243 🐛 Avro compatible destinations: fix field name clashing with combined restrict
  .github/workflows/slash-commands.yml
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-gcs/Dockerfile
  airbyte-integrations/connectors/destination-redshift/Dockerfile
  airbyte-integrations/connectors/destination-s3/Dockerfile
  airbyte-integrations/connectors/destination-s3/src/test/resources/parquet/json_schema_converter/json_conversion_test_cases.json
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/databricks.md
  docs/integrations/destinations/gcs.md
  docs/integrations/destinations/redshift.md
  docs/integrations/destinations/s3.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, connectors/destination/bigquery-denormalized, connectors/destination/snowflake, connectors/destination/redshift, connectors/destination/s3, connectors/destination/databricks, connectors/destination/gcs, connectors/destination/jdbc

#16253 [cdk] pin dataclasses-jsonschema to 2.15.1
  airbyte-cdk/python/setup.py
Labels: CDK

#16256 🎉 Jdbc sources: emit state messages more frequently
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-clickhouse-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-clickhouse/Dockerfile
  airbyte-integrations/connectors/source-clickhouse/src/main/java/io/airbyte/integrations/source/clickhouse/ClickHouseSource.java
  airbyte-integrations/connectors/source-cockroachdb-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-cockroachdb/Dockerfile
  airbyte-integrations/connectors/source-cockroachdb/src/main/java/io/airbyte/integrations/source/cockroachdb/CockroachDbSource.java
  airbyte-integrations/connectors/source-db2-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-db2/Dockerfile
  airbyte-integrations/connectors/source-db2/src/main/java/io.airbyte.integrations.source.db2/Db2Source.java
  airbyte-integrations/connectors/source-tidb/Dockerfile
  airbyte-integrations/connectors/source-tidb/src/main/java/io/airbyte/integrations/source/tidb/TiDBSource.java
  docs/integrations/sources/clickhouse.md
  docs/integrations/sources/cockroachdb.md
  docs/integrations/sources/db2.md
  docs/integrations/sources/tidb.md
Labels: area/documentation, area/connectors, connectors/source/clickhouse, connectors/source/cockroachdb, connectors/source/cockroachdb-strict-encrypt, connectors/source/db2, connectors/source/db2-strict-encrypt, connectors/source/jdbc, connectors/source/clickhouse-strict-encrypt, connectors/source/tidb

#16258 🎉 Redshift & snowflake sources: emit state messages more frequently
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-redshift/Dockerfile
  airbyte-integrations/connectors/source-redshift/src/main/java/io/airbyte/integrations/source/redshift/RedshiftSource.java
  airbyte-integrations/connectors/source-snowflake/Dockerfile
  airbyte-integrations/connectors/source-snowflake/src/main/java/io.airbyte.integrations.source.snowflake/SnowflakeSource.java
  airbyte-integrations/connectors/source-snowflake/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/SnowflakeJdbcSourceAcceptanceTest.java
  docs/integrations/sources/redshift.md
  docs/integrations/sources/snowflake.md
Labels: area/documentation, area/connectors, connectors/source/redshift, connectors/source/snowflake

#16226 🐛Destination-mssql: enabled DAT tests
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/ssh/SshBastionContainer.java
  airbyte-integrations/connectors/destination-mssql/src/test-integration/java/io/airbyte/integrations/destination/mssql/MSSQLDestinationAcceptanceTestSSL.java
  airbyte-integrations/connectors/destination-mssql/src/test-integration/java/io/airbyte/integrations/destination/mssql/SshMSSQLDestinationAcceptanceTest.java
Labels: area/connectors, connectors/destination/mssql

#16261 🎉 MS SQL sources: emit state messages more frequently
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mssql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mssql/Dockerfile
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, connectors/source/mssql, connectors/source/mssql-strict-encrypt

#16260 Enforce secure connection in destination-postgres-strict-encrypt
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/build.gradle
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/src/main/java/io/airbyte/integrations/destination/postgres/PostgresDestinationStrictEncrypt.java
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/src/test-integration/java/io/airbyte/integrations/destination/postgres/PostgresDestinationStrictEncryptAcceptanceTest.java
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/destination-postgres/Dockerfile
  docs/integrations/destinations/postgres.md
Labels: area/documentation, area/connectors, connectors/destination/postgres, connectors/destination/postgres-strict-encrypt

#16259 🎉 MySQL sources: emit state messages more frequently
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, connectors/source/mysql, connectors/source/mysql-strict-encrypt

#16025 Destination MongoDB: Remove additionalProperties:false
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-mongodb-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/destination-mongodb-strict-encrypt/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/destination-mongodb/Dockerfile
  airbyte-integrations/connectors/destination-mongodb/src/main/resources/spec.json
  docs/integrations/destinations/mongodb.md
Labels: area/documentation, area/connectors, connectors/destination/mongodb, connectors/destination/mongodb-strict-encrypt

#16223 Remove Fullstory leftovers
  airbyte-tests/src/automaticMigrationAcceptanceTest/resources/docker-compose-migration-test-0-32-0-alpha.yaml
  charts/airbyte/README.md
  charts/airbyte/templates/env-configmap.yaml
  charts/airbyte/values.yaml
  docker-compose.yaml
  kube/overlays/dev-integration-test/.env
  kube/overlays/dev/.env
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable/.env
  kube/resources/webapp.yaml
Labels: area/platform, kubernetes, ui/analytics

#16166 Improve airbyte-metrics support in the Helm chart
  charts/airbyte-metrics/.gitignore
  charts/airbyte-metrics/.helmignore
  charts/airbyte-metrics/Chart.lock
  charts/airbyte-metrics/Chart.yaml
  charts/airbyte-metrics/README.md
  charts/airbyte-metrics/templates/_helpers.tpl
  charts/airbyte-metrics/templates/deployment.yaml
  charts/airbyte-metrics/values.yaml
  charts/airbyte/Chart.yaml
  charts/airbyte/templates/env-configmap.yaml
  charts/airbyte/values.yaml
Labels: area/platform, kubernetes, community

#16011 Improve behavior of password input field
  airbyte-webapp/src/components/base/Input/Input.test.tsx
  airbyte-webapp/src/components/base/Input/Input.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/ConnectionName.tsx
Labels: area/platform, team/frontend

#16126 🪟 🔧 🧹 Migrate attempt `bytesSynced` to `totalStats.bytesEmitted` and cleanup `AttemptDetails` component
  airbyte-webapp/src/components/JobItem/components/AttemptDetails.module.scss
  airbyte-webapp/src/components/JobItem/components/AttemptDetails.tsx
Labels: area/platform, team/frontend

#15701 15700 add tests for PokeAPI
  airbyte-webapp-e2e-tests/cypress/commands/common.ts
  airbyte-webapp-e2e-tests/cypress/commands/connection.ts
  airbyte-webapp-e2e-tests/cypress/commands/connector.ts
  airbyte-webapp-e2e-tests/cypress/commands/destination.ts
  airbyte-webapp-e2e-tests/cypress/commands/sidebar.ts
  airbyte-webapp-e2e-tests/cypress/commands/source.ts
  airbyte-webapp-e2e-tests/cypress/integration/connection.spec.ts
  airbyte-webapp-e2e-tests/cypress/integration/destination.spec.ts
  airbyte-webapp-e2e-tests/cypress/integration/onboarding.spec.ts
  airbyte-webapp-e2e-tests/cypress/integration/source.spec.ts
  airbyte-webapp-e2e-tests/cypress/pages/createConnectorPage.ts
  airbyte-webapp-e2e-tests/cypress/pages/destinationPage.ts
  airbyte-webapp-e2e-tests/cypress/pages/replicationPage.ts
  airbyte-webapp-e2e-tests/cypress/pages/settingsConnectionPage.ts
  airbyte-webapp-e2e-tests/cypress/pages/sidebar.ts
  airbyte-webapp-e2e-tests/cypress/pages/sourcePage.ts
  airbyte-webapp/src/views/Connection/CatalogTree/components/SyncSettingsDropdown.tsx
Labels: area/platform, connectors/source/sentry, connectors/source/facebook-marketing, connectors/source/amplitude, connectors/destination/redshift, connectors/source/plaid, connectors/destination/s3, connectors/source/mysql, connectors/source/pinterest, connectors/source/postgres, connectors/source/redshift, connectors/source/snowflake, connectors/source/salesforce, connectors/source/sendgrid, connectors/source/tiktok-marketing, team/frontend, connectors/source/relational-db, connectors/source/mysql-strict-encrypt, connectors/source/oracle-strict-encrypt, connectors/source/postgres-strict-encrypt, connectors/source/tidb, connectors/destination/tidb

#16276 Hide ES and Redis destination connectors from Cloud
  airbyte-webapp/src/core/domain/connector/constants.ts
Labels: area/platform, team/frontend

#16275 Bump Airbyte version from 0.40.3 to 0.40.4
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte-bootloader/Chart.yaml
  charts/airbyte-server/Chart.yaml
  charts/airbyte-temporal/Chart.yaml
  charts/airbyte-webapp/Chart.yaml
  charts/airbyte-worker/Chart.yaml
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/worker, area/platform, kubernetes, area/server, team/frontend

#16287 Source Google Analytics v4: Re-name google analytics connectors
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/spec.json
  airbyte-integrations/connectors/source-google-analytics-v4/source_google_analytics_v4/spec.json
Labels: area/connectors, connectors/source/google-analytics-v4, connectors/source/google-analytics-data-api

#16222 🐛 Source Facebook Marketing: remove "end_date" from config if empty value (re-implement #16096)
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/source.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/spec.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/utils.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/__init__.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_source.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/utils.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing

#16306 Source Google Analytics v4: Re-name google analytics connector
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/spec.json
  docs/integrations/sources/google-analytics-v4.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-v4, connectors/source/google-analytics-data-api

#16310 Hide Destination connections from UI
  airbyte-webapp/src/core/domain/connector/constants.ts
Labels: area/platform, team/frontend

#16320 Hide a bunch more destination with potential unsecure API access
  airbyte-webapp/src/core/domain/connector/constants.ts
Labels: area/platform, team/frontend

#16215 MSSQL Source : Standardize spec.json for DB connectors that support log-based CDC replication
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mssql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mssql-strict-encrypt/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/source-mssql/Dockerfile
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcHelper.java
  airbyte-integrations/connectors/source-mssql/src/main/resources/spec.json
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceDatatypeTest.java
  airbyte-integrations/connectors/source-mssql/src/test-performance/java/io/airbyte/integrations/source/mssql/FillMsSqlTestDbScriptTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/MssqlCdcHelperTest.java
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, connectors/source/mssql, connectors/source/mssql-strict-encrypt

#16216 MySQL Source : Standardize spec.json for DB connectors that support log-based CDC replication
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql-strict-encrypt/src/test-integration/java/io/airbyte/integrations/source/mysql_strict_encrypt/AbstractMySqlSslCertificateStrictEncryptSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql-strict-encrypt/src/test-integration/java/io/airbyte/integrations/source/mysql_strict_encrypt/MySqlStrictEncryptSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql-strict-encrypt/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
  airbyte-integrations/connectors/source-mysql/src/main/resources/spec.json
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/source/mysql/AbstractMySqlSslCertificateSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/source/mysql/CdcBinlogsMySqlSourceDatatypeTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/source/mysql/CdcInitialSnapshotMySqlSourceDatatypeTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/source/mysql/CdcMySqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/source/mysql/CdcMySqlSslCaCertificateSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/source/mysql/MySqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/source/mysql/MySqlSourceDatatypeTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/source/mysql/MySqlSslSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/source/mysql/SshKeyMySqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/source/mysql/SshPasswordMySqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test-performance/java/io/airbyte/integrations/source/mysql/FillMySqlTestDbScriptTest.java
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, connectors/source/mysql, connectors/source/mysql-strict-encrypt

#16262 Add comments about intermediate state emission
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/StateDecoratingIterator.java
  airbyte-integrations/connectors/source-relational-db/src/test/java/io/airbyte/integrations/source/relationaldb/StateDecoratingIteratorTest.java
Labels: area/connectors, connectors/source/relational-db

#16191 🎉 Source Amazon Ads: improve `config.start_date` validation
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-ads/Dockerfile
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/source.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/report_streams/report_streams.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/test_report_streams.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/test_source.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/utils.py
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, area/connectors, connectors/source/amazon-ads

#16327 Add email to identify users
  airbyte-webapp/src/packages/cloud/cloudRoutes.tsx
Labels: area/platform, team/frontend

#16220 🪟 🔧 Add proper page view events for Segment
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/config/types.ts
  airbyte-webapp/src/core/analytics/AnalyticsService.test.ts
  airbyte-webapp/src/core/analytics/AnalyticsService.ts
  airbyte-webapp/src/core/analytics/types.ts
  airbyte-webapp/src/hooks/services/Analytics/index.tsx
  airbyte-webapp/src/hooks/services/Analytics/pageNameUtils.tsx
  airbyte-webapp/src/hooks/services/Analytics/pageTrackingCodes.tsx
  airbyte-webapp/src/hooks/services/Analytics/useTrackPageAnalytics.tsx
  airbyte-webapp/src/packages/cloud/cloudRoutes.tsx
  airbyte-webapp/src/packages/cloud/views/FirebaseActionRoute.tsx
  airbyte-webapp/src/packages/cloud/views/auth/LoginPage/LoginPage.tsx
  airbyte-webapp/src/packages/cloud/views/auth/ResetPasswordPage/ResetPasswordPage.tsx
  airbyte-webapp/src/packages/cloud/views/auth/SignupPage/SignupPage.tsx
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/CreditsPage.tsx
  airbyte-webapp/src/packages/cloud/views/users/AccountSettingsView/AccountSettingsView.tsx
  airbyte-webapp/src/packages/cloud/views/users/UsersSettingsView/UsersSettingsView.tsx
  airbyte-webapp/src/packages/cloud/views/workspaces/WorkspaceSettingsView/WorkspaceSettingsView.tsx
  airbyte-webapp/src/packages/cloud/views/workspaces/WorkspacesPage/WorkspacesPage.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/AllConnectionsPage/AllConnectionsPage.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionItemPage.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/ReplicationView.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/SettingsView.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/StatusView.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/TransformationView.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/CreationFormPage/CreationFormPage.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/AllDestinationsPage/AllDestinationsPage.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/CreateDestinationPage/CreateDestinationPage.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/DestinationItemPage/DestinationItemPage.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/DestinationItemPage/components/DestinationSettings.tsx
  airbyte-webapp/src/pages/OnboardingPage/OnboardingPage.tsx
  airbyte-webapp/src/pages/PreferencesPage/PreferencesPage.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/DestinationsPage.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/SourcesPage.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/MetricsPage/MetricsPage.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/NotificationPage/NotificationPage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/AllSourcesPage/AllSourcesPage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/CreateSourcePage/CreateSourcePage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/SourceItemPage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SourceSettings.tsx
  airbyte-webapp/src/pages/routes.tsx
Labels: area/platform, team/frontend, growth-eng, ui/analytics

#16002 Mssql source: add schemas during discovery
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mssql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mssql-strict-encrypt/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/source-mssql/Dockerfile
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
  airbyte-integrations/connectors/source-mssql/src/main/resources/spec.json
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, connectors/source/mssql, connectors/source/mssql-strict-encrypt

#16329 🪟 🔧 Add experiment information to page views events (Segment)
  airbyte-webapp/src/core/analytics/AnalyticsService.ts
Labels: area/platform, team/frontend

#15764 Sourse Zendesk Talk: OAuth2.0 and unittests
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-zendesk-talk/Dockerfile
  airbyte-integrations/connectors/source-zendesk-talk/acceptance-test-config.yml
  airbyte-integrations/connectors/source-zendesk-talk/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-zendesk-talk/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-zendesk-talk/integration_tests/spec.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/source.py
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/spec.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/streams.py
  airbyte-integrations/connectors/source-zendesk-talk/unit_tests/test_source.py
  airbyte-integrations/connectors/source-zendesk-talk/unit_tests/test_streams.py
  airbyte-oauth/src/main/java/io/airbyte/oauth/OAuthImplementationFactory.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/ZendeskTalkOAuthFlow.java
  airbyte-oauth/src/test/java/io/airbyte/oauth/flows/ZendeskTalkOAuthFlowTest.java
  docs/integrations/sources/zendesk-talk.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-talk

#16332 🎉Source Sendgrid: increase unit test coverage at least 90%
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-sendgrid/README.md
  airbyte-integrations/connectors/source-sendgrid/integration_tests/expected_records.txt
  airbyte-integrations/connectors/source-sendgrid/requirements.txt
  airbyte-integrations/connectors/source-sendgrid/setup.py
  airbyte-integrations/connectors/source-sendgrid/unit_tests/unit_test.py
Labels: area/connectors, connectors/source/sendgrid

#16335 Source Bing Ads: backoff socket.timeout
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-bing-ads/Dockerfile
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/client.py
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors, connectors/source/bing-ads

#16067 :tada: Source Iterable - added new events streams
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-iterable/Dockerfile
  airbyte-integrations/connectors/source-iterable/integration_tests/configured_catalog_additional_events.json
  airbyte-integrations/connectors/source-iterable/source_iterable/api.py
  airbyte-integrations/connectors/source-iterable/source_iterable/iterable_streams.py
  airbyte-integrations/connectors/source-iterable/source_iterable/source.py
  airbyte-integrations/connectors/source-iterable/source_iterable/streams.py
  airbyte-integrations/connectors/source-iterable/unit_tests/conftest.py
  airbyte-integrations/connectors/source-iterable/unit_tests/test_export_adjustable_range.py
  airbyte-integrations/connectors/source-iterable/unit_tests/test_exports_stream.py
  airbyte-integrations/connectors/source-iterable/unit_tests/test_source.py
  airbyte-integrations/connectors/source-iterable/unit_tests/test_stream_events.py
  airbyte-integrations/connectors/source-iterable/unit_tests/test_streams.py
  docs/integrations/sources/iterable.md
Labels: area/documentation, area/connectors, connectors/source/iterable

#16334 fix: airbyte-server deployment values error
  charts/airbyte-server/templates/deployment.yaml
Labels: area/platform, kubernetes, community

#16312 Update README.md
  docs/connector-development/cdk-python/README.md
Labels: area/documentation, community

#16264 fix grammar & typo describing parquet file in s3 source
  docs/integrations/sources/s3.md
Labels: area/documentation, community

#16270 Fix: Add airbyte-metrics to list of charts to be packaged
  .github/workflows/publish-helm-charts.yml
Labels: community, helm

#16340 Source: Instagram - Use latest CDK version
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-instagram/Dockerfile
  airbyte-integrations/connectors/source-instagram/setup.py
  docs/integrations/sources/instagram.md
Labels: area/documentation, area/connectors, connectors/source/instagram

#16271 Source Pinterest: support OAuth
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-pinterest/Dockerfile
  airbyte-integrations/connectors/source-pinterest/README.md
  airbyte-integrations/connectors/source-pinterest/acceptance-test-config.yml
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/ad_analytics.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/ad_group_analytics.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/campaign_analytics.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/source.py
  airbyte-integrations/connectors/source-pinterest/source_pinterest/spec.json
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_streams.py
  airbyte-oauth/src/main/java/io/airbyte/oauth/OAuthImplementationFactory.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/PinterestOAuthFlow.java
  docs/integrations/sources/pinterest.md
Labels: area/documentation, area/connectors, connectors/source/pinterest

#16136 🐛 Source OpenWeather: Update openweather onecall api to 3.0
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-openweather/Dockerfile
  airbyte-integrations/connectors/source-openweather/source_openweather/spec.json
  airbyte-integrations/connectors/source-openweather/source_openweather/streams.py
  airbyte-integrations/connectors/source-openweather/unit_tests/test_source.py
  docs/integrations/sources/openweather.md
Labels: area/documentation, area/connectors, community, bounty, connectors/source/openweather

#16161 🎉 Source Pinterest: Added backoff strategy for rate-limit errors
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-pinterest/Dockerfile
  airbyte-integrations/connectors/source-pinterest/source_pinterest/source.py
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_streams.py
  docs/integrations/sources/pinterest.md
Labels: area/documentation, area/connectors, connectors/source/pinterest

#16328 :window: :art: Design fixes of the authentication page
  airbyte-webapp/src/packages/cloud/views/auth/Auth.module.scss
  airbyte-webapp/src/packages/cloud/views/auth/OAuthLogin/OAuthLogin.module.scss
  airbyte-webapp/src/packages/cloud/views/auth/components/FormContent.tsx
  airbyte-webapp/src/packages/cloud/views/auth/components/GitBlock/GitBlock.module.scss
  airbyte-webapp/src/packages/cloud/views/auth/components/Header/Header.module.scss
Labels: area/platform, team/frontend

#16343 fix: Google Sheets Spec typo
  airbyte-integrations/connectors/source-google-sheets/google_sheets_source/spec.yaml
Labels: area/connectors, community, connectors/source/google-sheets, internal

#16362 Updated Google Analytics + Zendesk Talk docs
  docs/integrations/sources/google-analytics-universal-analytics.md
  docs/integrations/sources/google-analytics-v4.md
  docs/integrations/sources/zendesk-talk.md
Labels: area/documentation

#16175 deprecate import / export endpoints
  airbyte-api/src/main/openapi/config.yaml
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/components/FileDropZone/FileDropZone.tsx
  airbyte-webapp/src/components/FileDropZone/index.tsx
  airbyte-webapp/src/core/ApiServices.tsx
  airbyte-webapp/src/core/domain/deployment/DeploymentService.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/SettingsPage/pages/ConfigurationsPage/ConfigurationsPage.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConfigurationsPage/components/ImportConfigurationModal.tsx
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api, area/platform, area/server, team/frontend

#16354 Source DB2: Add custom jdbc params
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-db2-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-db2-strict-encrypt/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/source-db2/Dockerfile
  airbyte-integrations/connectors/source-db2/build.gradle
  airbyte-integrations/connectors/source-db2/src/main/java/io.airbyte.integrations.source.db2/Db2Source.java
  airbyte-integrations/connectors/source-db2/src/main/resources/spec.json
  airbyte-integrations/connectors/source-db2/src/test/java/io.airbyte.integrations.source.db2/Db2SpecTest.java
  docs/integrations/sources/db2.md
Labels: area/documentation, area/connectors, connectors/source/db2, connectors/source/db2-strict-encrypt

#16364 Pairing on Worker Micronaut
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/RouteToSyncTaskQueueActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/RouteToSyncTaskQueueActivityImpl.java
Labels: area/worker, area/platform

#16344 🐛 Source google ads: remove "end_date" from config if empty value
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-ads/integration_tests/test_incremental.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/spec.json
Labels: area/connectors, connectors/source/google-ads

#15724 🎉 Source Facebook Marketing: Added custom conversions stream
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/custom_conversions.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/source.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/__init__.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_source.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, community, connectors/source/facebook-marketing, internal

#15912 Add advanced mode toggle
  airbyte-webapp/src/components/LabeledSwitch/LabeledSwitch.tsx
  airbyte-webapp/src/hooks/services/useAdvancedModeSetting.test.ts
  airbyte-webapp/src/hooks/services/useAdvancedModeSetting.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/packages/cloud/locales/en.json
  airbyte-webapp/src/packages/cloud/views/workspaces/WorkspaceSettingsView/WorkspaceSettingsView.module.scss
  airbyte-webapp/src/packages/cloud/views/workspaces/WorkspaceSettingsView/WorkspaceSettingsView.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/SettingsView.test.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/SettingsView.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/AccountPage/components/AccountForm.module.scss
  airbyte-webapp/src/pages/SettingsPage/pages/AccountPage/components/AccountForm.tsx
  airbyte-webapp/src/utils/testutils.tsx
Labels: area/platform, team/frontend

#16314 Log sync summary and sync activity seperators
  airbyte-commons/src/main/java/io/airbyte/commons/io/LineGobbler.java
  airbyte-workers/src/main/java/io/airbyte/workers/general/DbtTransformationWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/general/DefaultCheckConnectionWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/general/DefaultNormalizationWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/general/DefaultReplicationWorker.java
Labels: area/worker, area/platform

#16385 Remove US/Pacific-New timezone
  airbyte-server/src/test/java/io/airbyte/server/handlers/ConnectionSchedulerHelperTest.java
  airbyte-webapp/src/config/availableCronTimeZones.json
Labels: area/platform, area/server, team/frontend

#16374 doc: add `airbyte_secret` field in example
  docs/connector-development/tutorials/cdk-tutorial-python-http/define-inputs.md
Labels: area/documentation

#16323 🎉Source-AlloyDB for Postgres: added new connector
  .github/CODEOWNERS
  airbyte-config/init/src/main/resources/icons/alloydb.svg
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-alloydb/.dockerignore
  airbyte-integrations/connectors/source-alloydb/Dockerfile
  airbyte-integrations/connectors/source-alloydb/acceptance-test-config.yml
  airbyte-integrations/connectors/source-alloydb/build.gradle
  airbyte-integrations/connectors/source-alloydb/src/main/java/io/airbyte/integrations/source/alloydb/AlloyDbSource.java
  docs/integrations/README.md
  docs/integrations/sources/alloydb.md
Labels: area/documentation, area/connectors, connectors/source/alloydb

#16263 MQTT Destination: Password is not marked as a secret field in spec
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-mqtt/Dockerfile
  airbyte-integrations/connectors/destination-mqtt/src/main/java/io/airbyte/integrations/destination/mqtt/MqttDestinationConfig.java
  airbyte-integrations/connectors/destination-mqtt/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-mqtt/src/test-integration/java/io/airbyte/integrations/destination/mqtt/MqttDestinationAcceptanceTest.java
  docs/integrations/destinations/mqtt.md
Labels: area/documentation, area/connectors, connectors/destination/mqtt

#16394 🎉Source-cockroachdb: added custom JDBC parameters field
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-cockroachdb-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-cockroachdb-strict-encrypt/src/main/resources/expected_spec.json
  airbyte-integrations/connectors/source-cockroachdb/Dockerfile
  airbyte-integrations/connectors/source-cockroachdb/src/main/java/io/airbyte/integrations/source/cockroachdb/CockroachDbSource.java
  airbyte-integrations/connectors/source-cockroachdb/src/main/resources/spec.json
  airbyte-integrations/connectors/source-cockroachdb/src/test/java/io/airbyte/integrations/source/cockroachdb/CockroachDbSpecTest.java
  docs/integrations/sources/cockroachdb.md
Labels: area/documentation, area/connectors, connectors/source/cockroachdb, connectors/source/cockroachdb-strict-encrypt

#16398 🪟 🎨 Add `SingletonCard` storybook
  airbyte-webapp/src/components/SingletonCard/SingletonCard.tsx
  airbyte-webapp/src/components/SingletonCard/index.stories.tsx
Labels: area/platform, team/frontend

#15859 🪟 🔧 Add accessibility linting
  airbyte-webapp/.eslintrc
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/components/EntityTable/components/StatusCell.tsx
  airbyte-webapp/src/components/Modal/Modal.module.scss
  airbyte-webapp/src/components/Modal/Modal.tsx
  airbyte-webapp/src/components/base/Popout/Popout.tsx
  airbyte-webapp/src/components/base/Switch/Switch.tsx
  airbyte-webapp/src/components/base/Tooltip/Tooltip.tsx
  airbyte-webapp/src/hooks/services/Modal/ModalService.test.tsx
  airbyte-webapp/src/packages/cloud/views/layout/SideBar/SideBar.tsx
  airbyte-webapp/src/packages/cloud/views/workspaces/WorkspacesPage/components/CreateWorkspaceForm.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/ConnectionName.tsx
  airbyte-webapp/src/pages/OnboardingPage/OnboardingPage.tsx
  airbyte-webapp/src/scss/_z-indices.scss
  airbyte-webapp/src/utils/testutils.tsx
  airbyte-webapp/src/views/Connection/CatalogTree/components/PathPopoutButton.module.scss
  airbyte-webapp/src/views/Connection/CatalogTree/components/PathPopoutButton.tsx
  airbyte-webapp/src/views/Connector/RequestConnectorModal/components/ConnectorForm.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/ServiceForm.test.tsx
  airbyte-webapp/src/views/layout/SideBar/SideBar.module.scss
  airbyte-webapp/src/views/layout/SideBar/SideBar.tsx
Labels: area/platform, team/frontend

#16303 Misc Improvements to assist Connection Form Refactor
  airbyte-webapp/src/components/CreateConnectionContent/CreateConnectionContent.tsx
  airbyte-webapp/src/hooks/services/useSourceHook.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/ReplicationView.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/CreateDestinationPage/components/DestinationForm.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/DestinationStep.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/SourceStep.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/CreateSourcePage/components/SourceForm.tsx
  airbyte-webapp/src/utils/errorStatusMessage.test.tsx
  airbyte-webapp/src/utils/errorStatusMessage.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/ConnectionForm.test.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/ConnectionForm.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/components/CreateControls.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/formConfig.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/index.tsx
  airbyte-webapp/src/views/Connection/FormCard.tsx
  airbyte-webapp/src/views/Connector/ConnectorCard/ConnectorCard.tsx
Labels: area/platform, team/frontend

#16290 Realign dockerfile that diverged
  airbyte-container-orchestrator/Dockerfile
  airbyte-workers/Dockerfile
Labels: area/worker, area/platform

#16205 [per-stream cdk] Support deserialization of legacy and per-stream state
  airbyte-cdk/python/airbyte_cdk/sources/abstract_source.py
  airbyte-cdk/python/airbyte_cdk/sources/connector_state_manager.py
  airbyte-cdk/python/airbyte_cdk/sources/source.py
  airbyte-cdk/python/unit_tests/sources/test_connector_state_manager.py
  airbyte-cdk/python/unit_tests/sources/test_source.py
Labels: CDK

#16387 Document guidelines on low-code support
  docs/connector-development/config-based/overview.md
Labels: area/documentation

#16293 Add tests to various hooks
  airbyte-webapp/src/components/ArrayOfObjectsEditor/components/EditorHeader.test.tsx
  airbyte-webapp/src/components/base/Input/Input.test.tsx
  airbyte-webapp/src/hooks/services/FormChangeTracker/hooks.test.ts
  airbyte-webapp/src/hooks/services/Modal/ModalService.test.tsx
  airbyte-webapp/src/packages/cloud/views/auth/OAuthLogin/OAuthLogin.test.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/SettingsView.test.tsx
  airbyte-webapp/src/test-utils/mock-data/mockConnection.json
  airbyte-webapp/src/test-utils/mock-data/mockDestinationDefinition.json
  airbyte-webapp/src/test-utils/testutils.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/ConnectionForm.test.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/__snapshots__/formConfig.test.ts.snap
  airbyte-webapp/src/views/Connection/ConnectionForm/formConfig.test.ts
  airbyte-webapp/src/views/Connector/ServiceForm/ServiceForm.test.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/Sections/auth/AuthButton.test.tsx
Labels: area/platform, team/frontend

#16285 Sync stats migration
  airbyte-bootloader/src/test/java/io/airbyte/bootloader/BootloaderAppTest.java
  airbyte-db/db-lib/src/main/java/io/airbyte/db/instance/jobs/migrations/V0_40_3_001__CreateSyncStats.java
  airbyte-db/db-lib/src/main/resources/jobs_database/schema_dump.txt
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/DefaultJobPersistence.java
  airbyte-scheduler/scheduler-persistence/src/test/java/io/airbyte/scheduler/persistence/DefaultJobPersistenceTest.java
Labels: area/platform, area/scheduler

#15491 Implement more Error Prone PMD rules
  airbyte-analytics/src/main/java/io/airbyte/analytics/TrackingIdentity.java
  airbyte-analytics/src/test/java/io/airbyte/analytics/SegmentTrackingClientTest.java
  airbyte-api/src/main/java/io/airbyte/api/client/PatchedLogsApi.java
  airbyte-commons/src/main/java/io/airbyte/commons/io/FileTtlManager.java
  airbyte-commons/src/main/java/io/airbyte/commons/version/AirbyteVersion.java
  airbyte-config/config-models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-config/config-models/src/main/java/io/airbyte/config/helpers/StateMessageHelper.java
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/StatePersistence.java
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/split_secrets/VaultSecretPersistence.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/StatePersistenceTest.java
  airbyte-config/init/src/main/java/io/airbyte/config/init/RemoteDefinitionsProvider.java
  airbyte-container-orchestrator/src/main/java/io/airbyte/container_orchestrator/ContainerOrchestratorApp.java
  airbyte-db/db-lib/src/main/java/io/airbyte/db/DataTypeUtils.java
  airbyte-db/db-lib/src/main/java/io/airbyte/db/IncrementalUtils.java
  airbyte-db/db-lib/src/main/java/io/airbyte/db/bigquery/BigQuerySourceOperations.java
  airbyte-db/db-lib/src/main/java/io/airbyte/db/instance/configs/migrations/V0_30_22_001__Store_last_sync_state.java
  airbyte-db/db-lib/src/main/java/io/airbyte/db/instance/jobs/migrations/V0_35_40_001__MigrateFailureReasonEnumValues.java
  airbyte-db/db-lib/src/main/java/io/airbyte/db/jdbc/JdbcUtils.java
  airbyte-db/db-lib/src/main/java/io/airbyte/db/jdbc/streaming/BaseSizeEstimator.java
  airbyte-db/db-lib/src/main/java/io/airbyte/db/mongodb/MongoDatabase.java
  airbyte-db/db-lib/src/main/java/io/airbyte/db/mongodb/MongoUtils.java
  airbyte-protocol/protocol-models/src/main/java/io/airbyte/protocol/models/CatalogHelpers.java
  airbyte-protocol/protocol-models/src/main/java/io/airbyte/protocol/models/CommonField.java
  airbyte-scheduler/scheduler-models/src/main/java/io/airbyte/scheduler/models/Job.java
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/DefaultJobPersistence.java
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/JobCleaner.java
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/job_error_reporter/SentryExceptionHelper.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/ConnectionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/OperationsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/services/AirbyteGithubStore.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/ArchiveHandlerTest.java
  airbyte-tests/src/acceptanceTests/java/io/airbyte/test/acceptance/CdcAcceptanceTests.java
  airbyte-tests/src/automaticMigrationAcceptanceTest/java/io/airbyte/test/automaticMigrationAcceptance/ImportApi.java
  airbyte-workers/src/main/java/io/airbyte/workers/general/DefaultGetSpecWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/general/DefaultReplicationWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/helper/EntrypointEnvChecker.java
  airbyte-workers/src/main/java/io/airbyte/workers/internal/DefaultAirbyteStreamFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/internal/StateMetricsTracker.java
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/DefaultNormalizationRunner.java
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/NormalizationAirbyteStreamFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
  airbyte-workers/src/main/java/io/airbyte/workers/run/WorkerRun.java
  tools/gradle/pmd/rules.xml
Labels: area/api, area/worker, area/platform, area/protocol, area/server, area/scheduler

#16431 🎉 Source Zendesk Chat: update `releaseStage` to GA
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
Labels: team/connectors-python

#16404 bump e2e connector versions
  airbyte-integrations/connectors/destination-e2e-test/src/main/resources/spec.json
  airbyte-integrations/connectors/source-e2e-test/Dockerfile
  airbyte-integrations/connectors/source-e2e-test/src/main/resources/spec.json
Labels: area/connectors, connectors/source/e2e-test, connectors/destination/e2e-test

#16458 Fix documentation typo
  docs/integrations/destinations/google-sheets.md
Labels: area/documentation, community

#16444 🎉Destination-clickhouse: added custom jdbc parameters field
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-clickhouse-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/destination-clickhouse-strict-encrypt/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/destination-clickhouse/Dockerfile
  airbyte-integrations/connectors/destination-clickhouse/build.gradle
  airbyte-integrations/connectors/destination-clickhouse/src/main/java/io/airbyte/integrations/destination/clickhouse/ClickhouseDestination.java
  airbyte-integrations/connectors/destination-clickhouse/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-clickhouse/src/test/java/io/airbyte/integrations/destination/clickhouse/ClickhouseDestinationSpecTest.java
  docs/integrations/destinations/clickhouse.md
Labels: area/documentation, area/connectors, connectors/destination/clickhouse, connectors/destination/clickhouse-strict-encrypt

#16169 🪟 🔧 Publish webapp storybook to chromatic in CI
  .github/workflows/gradle.yml
Labels: team/frontend

#14023 BigQuery Denormalized : Cover arrays only if they are nested
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedDestination.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/java/io/airbyte/integrations/destination/bigquery/formatter/DefaultBigQueryDenormalizedRecordFormatter.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/java/io/airbyte/integrations/destination/bigquery/formatter/arrayformater/ArrayFormatter.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/java/io/airbyte/integrations/destination/bigquery/formatter/arrayformater/DefaultArrayFormatter.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/java/io/airbyte/integrations/destination/bigquery/formatter/arrayformater/LegacyArrayFormatter.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedDestinationTest.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedGcsDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedGcsDestinationTest.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedTestConstants.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/util/BigQueryDenormalizedTestDataUtils.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/resources/testdata/dataArrays.json
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/resources/testdata/dataMaxNestedDepth.json
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/resources/testdata/dataTooDeepNestedDepth.json
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/resources/testdata/expectedDataArrays.json
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/resources/testdata/schemaArrays.json
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/resources/testdata/schemaMaxNestedDepth.json
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/resources/testdata/schemaTooDeepNestedDepth.json
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedUtilsTest.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test/java/io/airbyte/integrations/destination/bigquery/util/BigQueryDenormalizedTestSchemaUtils.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test/resources/schemas/expectedSchema.json
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test/resources/schemas/expectedSchemaArrays.json
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test/resources/schemas/expectedSchemaWithInvalidArrayType.json
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test/resources/schemas/schemaArrays.json
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDestination.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryGcsOperations.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryRecordConsumer.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryUtils.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/formatter/BigQueryRecordFormatter.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/uploader/AbstractBigQueryUploader.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/uploader/BigQueryUploaderFactory.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/uploader/config/UploaderConfig.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDestinationAcceptanceTest.java
Labels: area/connectors, connectors/destination/bigquery, connectors/destination/bigquery-denormalized

#16046 :bug: Destination Postgres: fix missing database name URL Encoding
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/destination-postgres/Dockerfile
  airbyte-integrations/connectors/destination-postgres/src/main/java/io/airbyte/integrations/destination/postgres/PostgresDestination.java
  airbyte-integrations/connectors/destination-postgres/src/test/java/io/airbyte/integrations/destination/postgres/PostgresDestinationTest.java
  docs/integrations/destinations/postgres.md
Labels: area/documentation, area/connectors, community, connectors/destination/postgres, internal, connectors/destination/postgres-strict-encrypt

#16416 Store protocol version from spec
  airbyte-api/src/main/openapi/config.yaml
  airbyte-commons/src/main/java/io/airbyte/commons/version/AirbyteProtocolVersion.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/DestinationDefinitionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SourceDefinitionsHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/DestinationDefinitionsHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/SourceDefinitionsHandlerTest.java
  airbyte-tests/src/acceptanceTests/java/io/airbyte/test/acceptance/VersioningAcceptanceTests.java
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api, area/platform, area/server

#16494 Destination BigQuery : Increase version for BQ PR #14023
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, connectors/destination/bigquery-denormalized

#16476 Populate and read from SyncStats table
  airbyte-bootloader/src/test/java/io/airbyte/bootloader/BootloaderAppTest.java
  airbyte-db/db-lib/src/main/java/io/airbyte/db/instance/jobs/migrations/V0_40_4_001__ChangeSyncStatsForeignKey.java
  airbyte-db/db-lib/src/main/resources/jobs_database/schema_dump.txt
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/DefaultJobPersistence.java
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/JobPersistence.java
  airbyte-scheduler/scheduler-persistence/src/test/java/io/airbyte/scheduler/persistence/DefaultJobPersistenceTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityTest.java
Labels: area/worker, area/platform, area/scheduler

#16528 Destination RabbitMQ: Make password marked as airbyte_secret
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-rabbitmq/Dockerfile
  airbyte-integrations/connectors/destination-rabbitmq/destination_rabbitmq/spec.json
  docs/integrations/destinations/rabbitmq.md
Labels: area/documentation, area/connectors, connectors/destination/rabbitmq

#16007 implement support for per-stream state in mysql source
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql-strict-encrypt/src/test-integration/java/io/airbyte/integrations/source/mysql_strict_encrypt/MySqlStrictEncryptSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql-strict-encrypt/src/test/java/io/airbyte/integrations/source/mysql_strict_encrypt/MySqlStrictEncryptJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/source/mysql/AbstractSshMySqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/source/mysql/CdcMySqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/source/mysql/MySqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/CdcMysqlSourceTest.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/MySqlJdbcSourceAcceptanceTest.java
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, connectors/source/mysql, connectors/source/mysql-strict-encrypt

#16214 :tada: Source Hubspot: Update Tickets, fix missing properties and change how state is updated.
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_source.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, community, connectors/source/hubspot, internal

#16531 fix: Update helm-docs
  charts/airbyte-temporal/README.md
  charts/airbyte/README.md
  charts/airbyte/values.yaml
Labels: area/platform, kubernetes

#16143 Change stripe pagination example link in http-streams documentation
  docs/connector-development/cdk-python/http-streams.md
Labels: area/documentation, community

#16504 Docs: Fix broken link in custom-connectors
  docs/integrations/custom-connectors.md
Labels: area/documentation, community

#16525 Release cdk with frozen dataclasses-jsonschema lib
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/setup.py
Labels: CDK

#16410 octavia-cli: Check if source discovery job failed and raise exception
  octavia-cli/octavia_cli/apply/resources.py
Labels: community

#15884 Source Exchange Rates - Refactor for API Layer
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-exchange-rates/Dockerfile
  airbyte-integrations/connectors/source-exchange-rates/source_exchange_rates/source.py
  airbyte-integrations/connectors/source-exchange-rates/source_exchange_rates/spec.yaml
  docs/integrations/sources/exchangeratesapi.md
Labels: area/documentation, area/connectors, blocked, community, connectors/source/exchange-rates, internal

#16418 Only STATE and RECORD messages from the Source should be sent to the Destination
  airbyte-workers/src/main/java/io/airbyte/workers/general/DefaultReplicationWorker.java
  airbyte-workers/src/test/java/io/airbyte/workers/general/DefaultReplicationWorkerTest.java
Labels: area/worker, area/platform

#15833 7198: SSH Tunnel: allow using OPENSSH key format
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/ssh/SshTunnel.java
  airbyte-integrations/bases/base-java/src/test/java/io/airbyte/integrations/base/ssh/SshTunnelTest.java
  airbyte-integrations/bases/base-normalization/Dockerfile
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/NormalizationRunnerFactory.java
  docs/understanding-airbyte/basic-normalization.md
Labels: area/documentation, area/worker, normalization, area/platform

#16547 Updated security docs
  docs/archive/securing-airbyte.md
  docs/operator-guides/security.md
  docs/project-overview/security.md
  docusaurus/docusaurus.config.js
  docusaurus/sidebars.js
Labels: area/documentation

#16556 Update low-code docs to reflect new `inject_into` parameter
  docs/connector-development/config-based/pagination.md
  docs/connector-development/config-based/request-options.md
Labels: area/documentation

#16561 Update security.md
  docs/operator-guides/security.md
Labels: area/documentation

#16545 Publish base-normalization
  airbyte-integrations/bases/base-java/src/test/java/io/airbyte/integrations/base/ssh/SshTunnelTest.java
  docs/understanding-airbyte/basic-normalization.md
Labels: area/documentation

#16566 fix cdk bug to send legacy format if connector overrides read()
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/source.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/test_source.py
Labels: CDK

#16384 Remove shared `getDockerBuildTask` to enable parallel docker builds
  airbyte-bootloader/build.gradle
  airbyte-bootloader/gradle.properties
  airbyte-cli/build.gradle
  airbyte-cli/gradle.properties
  airbyte-config/init/build.gradle
  airbyte-config/init/gradle.properties
  airbyte-container-orchestrator/build.gradle
  airbyte-container-orchestrator/gradle.properties
  airbyte-cron/build.gradle
  airbyte-cron/gradle.properties
  airbyte-db/db-lib/build.gradle
  airbyte-db/db-lib/gradle.properties
  airbyte-metrics/reporter/build.gradle
  airbyte-metrics/reporter/gradle.properties
  airbyte-server/build.gradle
  airbyte-server/gradle.properties
  airbyte-temporal/build.gradle
  airbyte-temporal/gradle.properties
  airbyte-webapp/build.gradle
  airbyte-webapp/gradle.properties
  airbyte-workers/build.gradle
  airbyte-workers/gradle.properties
  build.gradle
  docs/contributing-to-airbyte/developing-on-docker.md
Labels: area/documentation, area/worker, area/platform, area/server, team/oss, team/frontend

#16555 Update last state message received at when source emits state message
  airbyte-workers/src/main/java/io/airbyte/workers/internal/AirbyteMessageTracker.java
  airbyte-workers/src/main/java/io/airbyte/workers/internal/StateMetricsTracker.java
  airbyte-workers/src/test/java/io/airbyte/workers/internal/StateMetricsTrackerTest.java
Labels: area/worker, area/platform

#16453 🎉 Source Amazon Ads: increase report_wait_timeout 30 -> 60 minutes
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-ads/Dockerfile
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/spec.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/spec.yaml
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/report_streams/report_streams.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/test_report_streams.py
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, area/connectors, connectors/source/amazon-ads

#16365 Add the Osano snippet
  airbyte-webapp/.env
  airbyte-webapp/public/index.html
Labels: area/platform, team/frontend

#16391 Destiantion Mariadb: add custom JDBC params
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-mariadb-columnstore/Dockerfile
  airbyte-integrations/connectors/destination-mariadb-columnstore/build.gradle
  airbyte-integrations/connectors/destination-mariadb-columnstore/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-mariadb-columnstore/src/test/java/io/airbyte/integrations/destination/mariadb_columnstore/MariadbSpecTest.java
  docs/integrations/destinations/mariadb-columnstore.md
Labels: area/documentation, area/connectors, connectors/destination/mariadb-columnstore

#16571 fix: Add support for full minio endpoint names
  charts/airbyte/templates/_helpers.tpl
  charts/airbyte/values.yaml
Labels: area/platform, kubernetes, community

#16400 Source Sendgrid: change start time param type to datetime string
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/bases/source-acceptance-test/unit_tests/test_backward_compatibility.py
  airbyte-integrations/connectors/source-sendgrid/Dockerfile
  airbyte-integrations/connectors/source-sendgrid/acceptance-test-config.yml
  airbyte-integrations/connectors/source-sendgrid/integration_tests/invalid_api_key.json
  airbyte-integrations/connectors/source-sendgrid/integration_tests/invalid_time.json
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/source.py
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/spec.json
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/streams.py
  docs/integrations/sources/sendgrid.md
Labels: area/documentation, area/connectors, connectors/source/sendgrid

#16592 Source Recharge: Use TypeTransformer to convert integer values in Orders stream
  airbyte-integrations/connectors/source-recharge/Dockerfile
  airbyte-integrations/connectors/source-recharge/source_recharge/api.py
  docs/integrations/sources/recharge.md
Labels: area/documentation, area/connectors, connectors/source/recharge

#16590 Fix missing schedule dual write and consume the new format for tracking metadata
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/job_tracker/TrackingMetadata.java
  airbyte-server/src/main/java/io/airbyte/server/converters/ApiPojoConverters.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/helpers/ConnectionScheduleHelper.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/ConnectionSchedulerHelperTest.java
Labels: area/platform, area/server, area/scheduler

#16540 Fix intercom
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-intercom/Dockerfile
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/companies.json
  docs/integrations/sources/intercom.md
Labels: area/documentation, area/connectors, connectors/source/intercom

#16560 Add changelog for Airbyte Protocol
  airbyte-protocol/protocol-models/src/main/resources/airbyte_protocol/airbyte_protocol.yaml
  docs/understanding-airbyte/airbyte-protocol.md
Labels: area/documentation, area/platform, area/protocol

#16610 Bump Airbyte version from 0.40.4 to 0.40.5
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-cron/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte-bootloader/Chart.yaml
  charts/airbyte-server/Chart.yaml
  charts/airbyte-temporal/Chart.yaml
  charts/airbyte-webapp/Chart.yaml
  charts/airbyte-worker/Chart.yaml
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/worker, area/platform, kubernetes, area/server, team/frontend

#16569 Need to also emit legacy state for read override connectors when state is not specified
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/source.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/test_source.py
Labels: CDK

#16618 fix changelog formatting
  docs/docusaurus/deploying_and_reverting_docs.md
  docs/docusaurus/locally_testing_docusaurus.md
  docs/understanding-airbyte/airbyte-protocol.md
Labels: area/documentation

#16479 `AirbyteLogMessage.stack_trace` for logging messages with related (non-fatal) errors
  airbyte-cdk/python/airbyte_cdk/models/airbyte_protocol.py
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-faker/Dockerfile
  airbyte-integrations/connectors/source-faker/source_faker/source.py
  airbyte-integrations/connectors/source-faker/source_faker/spec.json
  airbyte-protocol/protocol-models/src/main/resources/airbyte_protocol/airbyte_protocol.yaml
  airbyte-workers/src/main/java/io/airbyte/workers/internal/DefaultAirbyteStreamFactory.java
  docs/integrations/sources/faker.md
  docs/understanding-airbyte/airbyte-protocol.md
Labels: area/documentation, area/connectors, area/worker, CDK, area/platform, area/protocol, connectors/source/faker

#16202 Cleans and Rebase Error Message Factory PR
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-db/db-lib/src/main/java/io/airbyte/db/exception/ConnectionErrorException.java
  airbyte-db/db-lib/src/main/java/io/airbyte/db/jdbc/DefaultJdbcDatabase.java
  airbyte-db/db-lib/src/main/java/io/airbyte/db/mongodb/MongoDatabase.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/errors/messages/ErrorMessage.java
  airbyte-integrations/bases/base-normalization/unit_tests/private_key_path.txt
  airbyte-integrations/connectors/destination-dynamodb/src/main/java/io/airbyte/integrations/destination/dynamodb/DynamodbChecker.java
  airbyte-integrations/connectors/destination-dynamodb/src/main/java/io/airbyte/integrations/destination/dynamodb/DynamodbWriter.java
  airbyte-integrations/connectors/destination-dynamodb/src/test-integration/java/io/airbyte/integrations/destination/dynamodb/DynamodbDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-gcs/src/main/java/io/airbyte/integrations/destination/gcs/GcsDestination.java
  airbyte-integrations/connectors/destination-gcs/src/test-integration/java/io/airbyte/integrations/destination/gcs/GcsDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/AbstractJdbcDestination.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/CopyDestination.java
  airbyte-integrations/connectors/destination-mongodb/src/main/java/io/airbyte/integrations/destination/mongodb/MongodbDestination.java
  airbyte-integrations/connectors/destination-mongodb/src/test-integration/java/io/airbyte/integrations/destination/mongodb/MongodbDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mysql/src/main/java/io/airbyte/integrations/destination/mysql/MySQLDestination.java
  airbyte-integrations/connectors/destination-mysql/src/test-integration/java/io/airbyte/integrations/destination/mysql/MySQLDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mysql/src/test-integration/java/io/airbyte/integrations/destination/mysql/SslMySQLDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-postgres/encrypt
  airbyte-integrations/connectors/destination-postgres/src/test/java/io/airbyte/integrations/destination/postgres/PostgresDestinationTest.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftStagingS3Destination.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/RedshiftStagingS3DestinationAcceptanceTest.java
  airbyte-integrations/connectors/source-jdbc/src/testFixtures/java/io/airbyte/integrations/source/jdbc/test/JdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io.airbyte.integrations.source.mongodb/MongoDbSource.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/MongoDbSourceAtlasAcceptanceTest.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/MongoDbSourceStandaloneAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/MssqlJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/MySqlJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-oracle/src/test/java/io/airbyte/integrations/source/oracle/OracleJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/AbstractDbSource.java
  airbyte-integrations/connectors/source-snowflake/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/SnowflakeJdbcSourceAcceptanceTest.java
  docs/integrations/sources/mysql.md
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, normalization, connectors/source/cockroachdb, connectors/source/cockroachdb-strict-encrypt, connectors/source/e2e-test, connectors/destination/bigquery, connectors/destination/bigquery-denormalized, connectors/destination/dynamodb, connectors/destination/e2e-test, connectors/source/instagram, connectors/destination/redshift, connectors/source/mssql, connectors/source/mysql, connectors/destination/mysql, connectors/source/oracle, connectors/source/postgres, connectors/source/snowflake, connectors/destination/clickhouse, connectors/destination/gcs, connectors/destination/mongodb, connectors/destination/mqtt, connectors/destination/postgres, connectors/destination/jdbc, connectors/source/mongodb-v2, connectors/source/jdbc, connectors/destination/postgres-strict-encrypt, connectors/source/relational-db, connectors/destination/clickhouse-strict-encrypt, connectors/source/mysql-strict-encrypt, connectors/source/postgres-strict-encrypt, connectors/source/alloydb

#16415 Improve job list API with more fetching capabilities
  airbyte-api/src/main/openapi/config.yaml
  airbyte-commons/src/main/java/io/airbyte/commons/text/Sqls.java
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/DefaultJobPersistence.java
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/JobPersistence.java
  airbyte-scheduler/scheduler-persistence/src/test/java/io/airbyte/scheduler/persistence/DefaultJobPersistenceTest.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/JobHistoryHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/JobHistoryHandlerTest.java
  docs/reference/api/generated-api-html/index.html
  tools/openapi2jsonschema/examples/airbyte.local/openapi.yaml
Labels: area/documentation, area/api, area/platform, area/server, area/scheduler

#16609 Store protocol version from the seeds
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/DatabaseConfigPersistence.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/BaseDatabaseConfigPersistenceTest.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/DatabaseConfigPersistenceLoadDataTest.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/DatabaseConfigPersistenceUpdateConnectorDefinitionsTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/ArchiveHandlerTest.java
Labels: area/platform, area/server

#15317 improve error message for tables with invalid columns as cursor
  airbyte-db/db-lib/src/main/java/io/airbyte/db/IncrementalUtils.java
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresSourceTest.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/AbstractDbSource.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/InvalidCursorException.java
Labels: area/connectors, connectors/source/mysql, connectors/source/postgres, connectors/source/jdbc, connectors/source/relational-db, connectors/source/tidb

#16544 CDK: make TypeTransformer more robust to incorrect incoming records
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/utils/transform.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/utils/test_transform.py
Labels: CDK

#16570 🎉 Source mixpanel: Improved connector's input configuration validation
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mixpanel/Dockerfile
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/source.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/spec.json
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams/base.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/testing.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/conftest.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_property_transformation.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_source.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/unit_test.py
  docs/integrations/sources/mixpanel.md
Labels: area/documentation, area/connectors, connectors/source/mixpanel

#16474 fix: proplerly render extraContainers
  charts/airbyte-bootloader/.gitignore
  charts/airbyte-bootloader/Chart.yaml
  charts/airbyte-bootloader/templates/pod.yaml
  charts/airbyte-bootloader/values.yaml
  charts/airbyte-metrics/Chart.yaml
  charts/airbyte-metrics/templates/deployment.yaml
  charts/airbyte-server/.gitignore
  charts/airbyte-server/Chart.yaml
  charts/airbyte-server/templates/deployment.yaml
  charts/airbyte-temporal/.gitignore
  charts/airbyte-temporal/Chart.yaml
  charts/airbyte-temporal/templates/deployment.yaml
  charts/airbyte-webapp/.gitignore
  charts/airbyte-webapp/Chart.yaml
  charts/airbyte-webapp/templates/deployment.yaml
  charts/airbyte-worker/.gitignore
  charts/airbyte-worker/Chart.yaml
  charts/airbyte/Chart.yaml
  charts/airbyte/values.yaml
Labels: area/platform, kubernetes, community

#16100 [Snyk] Security upgrade sanitize-html from 2.7.0 to 2.7.1
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
Labels: area/platform, team/frontend

#16027 Upgrade React Select
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/components/base/DropDown/CustomSelect.tsx
  airbyte-webapp/src/components/base/DropDown/DropDown.tsx
  airbyte-webapp/src/components/base/DropDown/SelectContainer.tsx
  airbyte-webapp/src/components/base/DropDown/components/DropdownIndicator.tsx
  airbyte-webapp/src/components/base/DropDown/components/Option.tsx
  airbyte-webapp/src/components/base/DropDown/components/SingleValue.tsx
  airbyte-webapp/src/components/base/DropDown/components/Text.tsx
  airbyte-webapp/src/components/base/DropDown/index.tsx
  airbyte-webapp/src/components/base/Popout/Popout.tsx
  airbyte-webapp/src/packages/cloud/views/workspaces/WorkspacePopout/WorkspacePopout.tsx
  airbyte-webapp/src/views/Connection/CatalogTree/components/PathPopout.tsx
  airbyte-webapp/src/views/Connection/CatalogTree/components/SyncSettingsDropdown.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/Controls/ConnectorServiceTypeControl.tsx
Labels: area/platform, team/frontend

#16363 🪟 🎨 Minor design updates
  airbyte-webapp/src/components/ContentCard/ContentCard.tsx
  airbyte-webapp/src/components/Table/Table.tsx
  airbyte-webapp/src/packages/cloud/views/users/AccountSettingsView/AccountSettingsView.tsx
Labels: area/platform, team/frontend

#16466 🪟 🧹 Clean up modal and onboarding video components
  airbyte-webapp/src/components/Modal/Modal.tsx
  airbyte-webapp/src/components/Modal/index.stories.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/VideoItem/components/ShowVideo.tsx
Labels: area/platform, team/frontend

#16632 Source Hubspot: remove FeedbackSubmissions stream
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/README.md
  airbyte-integrations/connectors/source-hubspot/acceptance-test-config.yml
  airbyte-integrations/connectors/source-hubspot/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-hubspot/sample_files/basic_read_catalog.json
  airbyte-integrations/connectors/source-hubspot/sample_files/incremental_catalog.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/source.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_source.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_streams.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot

#15827 Source:Kafka - Avro format message support
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-kafka/Dockerfile
  airbyte-integrations/connectors/source-kafka/build.gradle
  airbyte-integrations/connectors/source-kafka/src/main/java/io/airbyte/integrations/source/kafka/KafkaFormatFactory.java
  airbyte-integrations/connectors/source-kafka/src/main/java/io/airbyte/integrations/source/kafka/KafkaSource.java
  airbyte-integrations/connectors/source-kafka/src/main/java/io/airbyte/integrations/source/kafka/KafkaStrategy.java
  airbyte-integrations/connectors/source-kafka/src/main/java/io/airbyte/integrations/source/kafka/MessageFormat.java
  airbyte-integrations/connectors/source-kafka/src/main/java/io/airbyte/integrations/source/kafka/format/AbstractFormat.java
  airbyte-integrations/connectors/source-kafka/src/main/java/io/airbyte/integrations/source/kafka/format/AvroFormat.java
  airbyte-integrations/connectors/source-kafka/src/main/java/io/airbyte/integrations/source/kafka/format/JsonFormat.java
  airbyte-integrations/connectors/source-kafka/src/main/java/io/airbyte/integrations/source/kafka/format/KafkaFormat.java
  airbyte-integrations/connectors/source-kafka/src/main/resources/spec.json
  airbyte-integrations/connectors/source-kafka/src/test/java/io/airbyte/integrations/source/kafka/KafkaSourceTest.java
  airbyte-integrations/connectors/source-kafka/src/test/resources/test_config.json
  docs/integrations/sources/kafka.md
Labels: area/documentation, area/connectors, community, connectors/source/kafka, bounty, bounty-L

#16635 fix compilation error with cursor type method
  airbyte-integrations/connectors/source-bigquery/src/main/java/io/airbyte/integrations/source/bigquery/BigQuerySource.java
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/AbstractDbSource.java
Labels: area/connectors, connectors/source/bigquery, connectors/source/jdbc, connectors/source/relational-db

#16630 🐛 adding missing WORKSPACE_ROOT env to avoid cron container crashloop
  kube/resources/cron.yaml
Labels: area/platform, kubernetes, community

#16401 Destination: BigQuery (denormalized typed struct) - Could not evaluate union, field is expected to be one of these: NULL, STRING.
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-db/db-lib/src/main/java/io/airbyte/db/mongodb/MongoUtils.java
  airbyte-db/db-lib/src/test/java/io/airbyte/db/MongoUtilsTest.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/java/io/airbyte/integrations/destination/bigquery/formatter/DefaultBigQueryDenormalizedRecordFormatter.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedDestinationTest.java
  airbyte-integrations/connectors/source-mongodb-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mongodb-v2/Dockerfile
  docs/integrations/destinations/bigquery.md
  docs/integrations/sources/mongodb-v2.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, connectors/destination/bigquery-denormalized, connectors/source/mongodb-v2, connectors/source/mongodb-strict-encrypt

#16454 Remove PMD warning and fix a code style
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
Labels: area/worker, area/platform

#16513 Bmoric/fix diff
  airbyte-protocol/protocol-models/src/main/java/io/airbyte/protocol/models/CatalogHelpers.java
  airbyte-protocol/protocol-models/src/test/java/io/airbyte/protocol/models/CatalogHelpersTest.java
  airbyte-protocol/protocol-models/src/test/resources/companies_schema.json
  airbyte-protocol/protocol-models/src/test/resources/companies_schema_invalid.json
Labels: area/platform, area/protocol

#16447 Fix temporal restart by status
  airbyte-cron/src/main/java/io/airbyte/cron/selfhealing/Temporal.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalClient.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/TemporalClientTest.java
Labels: area/worker, area/platform

#16646 Ignore .stories.tsx for coverage reports
  airbyte-webapp/package.json
Labels: area/platform, team/frontend

#16656 Bump Airbyte version from 0.40.5 to 0.40.6
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-cron/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte-bootloader/Chart.yaml
  charts/airbyte-server/Chart.yaml
  charts/airbyte-temporal/Chart.yaml
  charts/airbyte-webapp/Chart.yaml
  charts/airbyte-worker/Chart.yaml
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/worker, area/platform, kubernetes, area/server, team/frontend

#16272 :bug: Source Notion: Update spec description to include working timestamp example
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-notion/Dockerfile
  airbyte-integrations/connectors/source-notion/source_notion/spec.json
  docs/integrations/sources/notion.md
Labels: area/documentation, area/connectors, community, connectors/source/notion, internal

#16644 🪟🐛 Fix error log expantion
  airbyte-webapp/src/components/JobItem/components/ContentWrapper.module.scss
  airbyte-webapp/src/components/JobItem/components/ContentWrapper.tsx
Labels: area/frontend, area/platform, team/frontend

#16407 🪟 🎨 🧹 Migrate Card component to SCSS and refactor
  airbyte-webapp/src/components/CenteredPageComponents/PaddedCard.tsx
  airbyte-webapp/src/components/ConnectionBlock/ConnectionBlock.module.scss
  airbyte-webapp/src/components/ConnectionBlock/ConnectionBlock.tsx
  airbyte-webapp/src/components/ContentCard/ContentCard.tsx
  airbyte-webapp/src/components/ContentCard/index.stories.tsx
  airbyte-webapp/src/components/ContentCard/index.tsx
  airbyte-webapp/src/components/CreateConnectionContent/CreateConnectionContent.tsx
  airbyte-webapp/src/components/DeleteBlock/DeleteBlock.tsx
  airbyte-webapp/src/components/Modal/Modal.tsx
  airbyte-webapp/src/components/base/Card/Card.module.scss
  airbyte-webapp/src/components/base/Card/Card.tsx
  airbyte-webapp/src/components/index.tsx
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/components/CreditsUsage.tsx
  airbyte-webapp/src/packages/cloud/views/workspaces/WorkspacesPage/components/WorkspaceItem.module.scss
  airbyte-webapp/src/packages/cloud/views/workspaces/WorkspacesPage/components/WorkspaceItem.tsx
  airbyte-webapp/src/packages/cloud/views/workspaces/WorkspacesPage/components/WorkspacesControl.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/StateBlock.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/StatusView.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/TransformationView.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/CreationFormPage/components/ExistingEntityForm.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/UseCaseBlock.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConfigurationsPage/ConfigurationsPage.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/SettingsComponents.tsx
  airbyte-webapp/src/views/Connection/CollapsibleCard.module.scss
  airbyte-webapp/src/views/Connection/CollapsibleCard.tsx
  airbyte-webapp/src/views/Connector/ConnectorCard/ConnectorCard.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/index.stories.tsx
Labels: area/platform, team/frontend

#16663 🪟 🐛 Fix master build using updated card prop
  airbyte-webapp/src/packages/cloud/views/users/AccountSettingsView/AccountSettingsView.tsx
Labels: area/platform, team/frontend

#16575 Update the worker/job documentation. Add documentation for container orchestrator.
  docs/understanding-airbyte/jobs.md
Labels: area/documentation

#16657 CDC sources: avoid busy wait when pushing to queue
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/bases/debezium-v1-9-2/src/main/java/io/airbyte/integrations/debezium/internals/DebeziumRecordPublisher.java
  airbyte-integrations/connectors/source-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  docs/integrations/sources/mysql.md
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/mysql, connectors/source/postgres, connectors/source/mysql-strict-encrypt, connectors/source/postgres-strict-encrypt

#16682 add jobInfoLight API endpoint that excludes attempt information
  airbyte-api/src/main/openapi/config.yaml
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/converters/JobConverter.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/JobHistoryHandler.java
  airbyte-server/src/test/java/io/airbyte/server/converters/JobConverterTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/JobHistoryHandlerTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/ReplicationActivityImpl.java
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api, area/worker, area/platform, area/server

#16361 🐛 Source Tempo: Avoid infinite loop for non-paginated APIs
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-tempo/Dockerfile
  airbyte-integrations/connectors/source-tempo/source_tempo/client.py
  airbyte-integrations/connectors/source-tempo/source_tempo/schemas/accounts.json
  airbyte-integrations/connectors/source-tempo/source_tempo/schemas/customers.json
  airbyte-integrations/connectors/source-tempo/source_tempo/schemas/workload-schemes.json
  airbyte-integrations/connectors/source-tempo/source_tempo/schemas/worklogs.json
  airbyte-integrations/connectors/source-tempo/source_tempo/spec.json
  docs/integrations/sources/tempo.md
Labels: area/documentation, area/connectors, community, connectors/source/tempo, bounty, bounty-S

#16685 Rename jobs/get-light to jobs/get_light and log response
  airbyte-api/src/main/openapi/config.yaml
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/ReplicationActivityImpl.java
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api, area/worker, area/platform

#16433 Source Google Search Console: add custom analytics stream
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-search-console/Dockerfile
  airbyte-integrations/connectors/source-google-search-console/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-search-console/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-google-search-console/integration_tests/catalog.json
  airbyte-integrations/connectors/source-google-search-console/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-google-search-console/integration_tests/configured_catalog_incremental.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/source.py
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/spec.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/streams.py
  docs/integrations/sources/google-search-console.md
Labels: area/documentation, area/connectors, connectors/source/google-search-console
