Repository airbytehq/airbyte, pull requests merged in 2022-08, with the labels that each got.

#15148 [Helm] [Airbyte-temporal] Fix yaml formatting error
  charts/airbyte-temporal/templates/deployment.yaml
Labels: area/platform, kubernetes, community

#15103 Link to roadmap is available in README
  README.md
Labels: community

#15159 fix: Fix extraEnv, Update OSS charts
  charts/airbyte-bootloader/README.md
  charts/airbyte-bootloader/templates/pod.yaml
  charts/airbyte-pod-sweeper/README.md
  charts/airbyte-pod-sweeper/templates/deployment.yaml
  charts/airbyte-server/README.md
  charts/airbyte-server/templates/deployment.yaml
  charts/airbyte-server/values.yaml
  charts/airbyte-temporal/Chart.lock
  charts/airbyte-temporal/README.md
  charts/airbyte-temporal/templates/deployment.yaml
  charts/airbyte-temporal/values.yaml
  charts/airbyte-webapp/README.md
  charts/airbyte-webapp/templates/deployment.yaml
  charts/airbyte-webapp/values.yaml
  charts/airbyte-worker/README.md
  charts/airbyte-worker/templates/deployment.yaml
  charts/airbyte-worker/values.yaml
  charts/airbyte/README.md
Labels: area/platform, kubernetes

#15142 AnalyticsService event cleanup
  airbyte-webapp/src/components/CreateConnectionContent/CreateConnectionContent.tsx
  airbyte-webapp/src/components/EntityTable/hooks.tsx
  airbyte-webapp/src/core/analytics/AnalyticsService.test.ts
  airbyte-webapp/src/core/analytics/AnalyticsService.ts
  airbyte-webapp/src/core/analytics/index.ts
  airbyte-webapp/src/core/analytics/types.ts
  airbyte-webapp/src/hooks/services/useConnectionHook.tsx
  airbyte-webapp/src/hooks/services/useDestinationHook.tsx
  airbyte-webapp/src/hooks/services/useRequestConnector.tsx
  airbyte-webapp/src/hooks/services/useSourceHook.tsx
  airbyte-webapp/src/hooks/services/useWorkspace.tsx
  airbyte-webapp/src/hooks/useTrackAction.test.tsx
  airbyte-webapp/src/hooks/useTrackAction.ts
  airbyte-webapp/src/packages/cloud/services/auth/AuthService.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionItemPage.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/EnabledControl.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/CreateDestinationPage/components/DestinationForm.tsx
  airbyte-webapp/src/pages/OnboardingPage/OnboardingPage.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/DestinationStep.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/SkipOnboardingButton.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/SourceStep.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/CreateSourcePage/components/SourceForm.tsx
  airbyte-webapp/src/views/Connector/ConnectorCard/ConnectorCard.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/Controls/ConnectorServiceTypeControl.tsx
Labels: area/platform, team/frontend

#15133 fix tests
  airbyte-integrations/bases/debezium-v1-4-2/src/testFixtures/java/io/airbyte/integrations/debezium/CdcSourceTest.java
  airbyte-integrations/connectors/source-cockroachdb/src/test/java/io/airbyte/integrations/source/cockroachdb/CockroachDbJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-cockroachdb/src/test/java/io/airbyte/integrations/source/cockroachdb/CockroachDbSourceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/AbstractMssqlSourceDatatypeTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/MssqlSourceTest.java
  airbyte-integrations/connectors/source-oracle-strict-encrypt/src/test/java/io/airbyte/integrations/source/oracle_strict_encrypt/OracleStrictEncryptJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-oracle/src/test/java/io/airbyte/integrations/source/oracle/OracleJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-redshift/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/RedshiftSourceAcceptanceTest.java
Labels: area/connectors, connectors/source/cockroachdb, connectors/source/mssql, connectors/source/oracle, connectors/source/redshift, connectors/source/oracle-strict-encrypt

#15165 fix HikariPool error on postgres destination integration tests
  airbyte-integrations/connectors/destination-postgres/src/test-integration/java/io/airbyte/integrations/destination/postgres/PostgresDestinationAcceptanceTest.java
Labels: area/connectors, connectors/destination/postgres

#15164 Degenderize sign-up quote wording
  airbyte-webapp/src/packages/cloud/locales/en.json
Labels: area/platform, team/frontend, ui/auth

#15166 Updated Postgres doc
  docs/integrations/sources/postgres.md
Labels: area/documentation

#15162 Fix callout formatting
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation

#15171 Remove outdated pages from Docs
  docs/career-and-open-positions/README.md
  docs/career-and-open-positions/founding-developer-evangelist.md
  docs/career-and-open-positions/head-of-growth.md
  docs/career-and-open-positions/revenue-product-manager.md
  docs/career-and-open-positions/senior-content-editor.md
  docs/career-and-open-positions/senior-product-manager.md
  docs/career-and-open-positions/senior-software-engineer.md
Labels: area/documentation

#15174 Docs cleanup
  docs/archive/examples/postgres-replication.md
  docs/integrations/sources/README.md
  docusaurus/sidebars.js
Labels: area/documentation

#15176 Publish source-postgres
  docs/integrations/sources/postgres.md
Labels: area/documentation

#15066 🚨Source shortio: Changing links primary key
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-shortio/Dockerfile
  airbyte-integrations/connectors/source-shortio/README.md
  airbyte-integrations/connectors/source-shortio/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-shortio/integration_tests/catalog.json
  airbyte-integrations/connectors/source-shortio/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-shortio/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-shortio/integration_tests/state.json
  airbyte-integrations/connectors/source-shortio/setup.py
  airbyte-integrations/connectors/source-shortio/source_shortio/schemas/links.json
  airbyte-integrations/connectors/source-shortio/source_shortio/source.py
  airbyte-integrations/connectors/source-shortio/source_shortio/spec.json
  airbyte-integrations/connectors/source-shortio/unit_tests/test_source.py
  airbyte-integrations/connectors/source-shortio/unit_tests/unit_test.py
  docs/integrations/sources/shortio.md
Labels: area/documentation, area/connectors, community, connectors/source/shortio, bounty

#15177 Revert "Release per stream to the OSS project"
  .env
  charts/airbyte/templates/env-configmap.yaml
  kube/overlays/dev-integration-test/.env
  kube/overlays/dev/.env
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable/.env
Labels: area/platform, kubernetes

#15175 fix build: re-generate scaffold connectors
  airbyte-integrations/connectors/source-scaffold-source-http/Dockerfile
Labels: area/connectors, connectors/source/scaffold-source-http

#14842 Export temporal metrics to datadog
  airbyte-metrics/metrics-lib/build.gradle
  airbyte-metrics/metrics-lib/src/main/java/io/airbyte/metrics/lib/MetricClientFactory.java
  airbyte-metrics/metrics-lib/src/test/java/io/airbyte/metrics/lib/MetricClientFactoryTest.java
  airbyte-workers/build.gradle
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerApp.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalUtils.java
  deps.toml
Labels: area/worker, area/platform

#14954 SAT: retrieve previous connector spec and create test to run checks against it
  airbyte-integrations/bases/source-acceptance-test/CHANGELOG.md
  airbyte-integrations/bases/source-acceptance-test/Dockerfile
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/config.py
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/conftest.py
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/tests/test_core.py
  docs/connector-development/testing-connectors/source-acceptance-tests-reference.md
Labels: area/documentation, Acceptance Tests

#15156 Source Hubspot: fix 401 for associations
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/integration_tests/conftest.py
  airbyte-integrations/connectors/source-hubspot/integration_tests/test_associations.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/source.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_source.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot

#14795 🎉 Source Github: PullRequestCommentReactions - re-implemented using GraphQL
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-github/source_github/graphql.py
  airbyte-integrations/connectors/source-github/source_github/schemas/pull_request_comment_reactions.json
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/unit_tests/pull_request_comment_reactions.json
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors, connectors/source/github

#15179 🐛 Source Okta: fix for failed stream on `Json Validation` NPE
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-okta/Dockerfile
  airbyte-integrations/connectors/source-okta/README.md
  airbyte-integrations/connectors/source-okta/source_okta/schemas/custom_roles.json
  airbyte-integrations/connectors/source-okta/source_okta/schemas/group_members.json
  airbyte-integrations/connectors/source-okta/source_okta/schemas/group_role_assignments.json
  airbyte-integrations/connectors/source-okta/source_okta/schemas/groups.json
  airbyte-integrations/connectors/source-okta/source_okta/schemas/logs.json
  airbyte-integrations/connectors/source-okta/source_okta/schemas/shared/shared-link.json
  airbyte-integrations/connectors/source-okta/source_okta/schemas/shared/shared-role.json
  airbyte-integrations/connectors/source-okta/source_okta/schemas/shared/shared-user.json
  airbyte-integrations/connectors/source-okta/source_okta/schemas/user_role_assignments.json
  airbyte-integrations/connectors/source-okta/source_okta/schemas/users.json
  docs/integrations/sources/okta.md
Labels: area/documentation, area/connectors, connectors/source/okta

#14818 report synchronous check/spec/discover failures to JobErrorReporter
  airbyte-scheduler/client/src/main/java/io/airbyte/scheduler/client/DefaultSynchronousSchedulerClient.java
  airbyte-scheduler/client/src/test/java/io/airbyte/scheduler/client/DefaultSynchronousSchedulerClientTest.java
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/job_error_reporter/ConnectorJobReportingContext.java
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/job_error_reporter/JobErrorReporter.java
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/job_error_reporter/JobErrorReportingClient.java
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/job_error_reporter/LoggingJobErrorReportingClient.java
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/job_error_reporter/SentryJobErrorReportingClient.java
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/job_error_reporter/SyncJobReportingContext.java
  airbyte-scheduler/scheduler-persistence/src/test/java/io/airbyte/scheduler/persistence/job_error_reporter/JobErrorReporterTest.java
  airbyte-scheduler/scheduler-persistence/src/test/java/io/airbyte/scheduler/persistence/job_error_reporter/SentryJobErrorReportingClientTest.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityTest.java
  docker-compose.yaml
Labels: area/worker, area/platform, area/server, area/scheduler

#14790 Add and persist job failures for Normalization
  airbyte-config/config-models/src/main/resources/types/NormalizationSummary.yaml
  airbyte-integrations/bases/base-normalization/Dockerfile
  airbyte-integrations/bases/base-normalization/entrypoint.sh
  airbyte-integrations/bases/base-normalization/main_dev_transform_catalog.py
  airbyte-integrations/bases/base-normalization/main_dev_transform_config.py
  airbyte-workers/src/main/java/io/airbyte/workers/general/DefaultNormalizationWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/helper/FailureHelper.java
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/DefaultNormalizationRunner.java
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/NormalizationAirbyteStreamFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/NormalizationRunner.java
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/NormalizationRunnerFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/general/DefaultNormalizationWorkerTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/normalization/DefaultNormalizationRunnerTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/testsyncworkflow/NormalizationTraceFailureSyncWorkflow.java
  docs/understanding-airbyte/basic-normalization.md
Labels: area/documentation, area/worker, normalization, area/platform

#15183 Generate reference docs schema
  airbyte-cdk/python/reference_docs/_source/api/airbyte_cdk.sources.declarative.auth.rst
  airbyte-cdk/python/reference_docs/_source/api/airbyte_cdk.sources.declarative.interpolation.rst
  airbyte-cdk/python/reference_docs/_source/api/airbyte_cdk.sources.declarative.requesters.error_handlers.backoff_strategies.rst
  airbyte-cdk/python/reference_docs/_source/api/airbyte_cdk.sources.declarative.requesters.error_handlers.rst
  airbyte-cdk/python/reference_docs/_source/api/airbyte_cdk.sources.declarative.requesters.paginators.rst
  airbyte-cdk/python/reference_docs/_source/api/airbyte_cdk.sources.declarative.requesters.paginators.strategies.rst
  airbyte-cdk/python/reference_docs/_source/api/airbyte_cdk.sources.declarative.requesters.rst
  airbyte-cdk/python/reference_docs/_source/api/airbyte_cdk.sources.declarative.rst
  airbyte-cdk/python/reference_docs/_source/api/airbyte_cdk.sources.declarative.transformations.rst
  airbyte-cdk/python/reference_docs/_source/api/airbyte_cdk.sources.streams.http.requests_native_auth.rst
Labels: CDK

#15180 Fix bq standard mode
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryRecordConsumer.java
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, connectors/destination/bigquery-denormalized

#15203 🪟 🐛 Trial end banner calculation
  airbyte-webapp/src/packages/cloud/views/layout/MainView/MainView.tsx
Labels: area/platform, team/frontend

#14357 Source Stripe: external account streams
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-stripe/Dockerfile
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/external_account_bank_accounts.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/external_account_cards.json
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_source.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_streams.py
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, community, connectors/source/stripe, team/connectors-python, bounty

#15216 🪟 🐛 Fix out of credits banner
  airbyte-webapp/src/packages/cloud/locales/en.json
  airbyte-webapp/src/packages/cloud/views/layout/MainView/MainView.tsx
Labels: area/platform, team/frontend

#15222 Delete outdated content from Docs
  docs/cloud/core-concepts.md
  docs/cloud/managing-airbyte-cloud.md
Labels: area/documentation

#15223 Fix debug output for banner
  airbyte-webapp/src/packages/cloud/locales/en.json
  airbyte-webapp/src/packages/cloud/views/layout/MainView/MainView.tsx
Labels: area/platform, team/frontend

#15190 Fix Validate JdbcUrls with additional test
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-integrations/connectors/source-jdbc/src/test/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
Labels: area/connectors, connectors/source/postgres, connectors/source/jdbc

#15240 Updated connector status page
  docs/integrations/README.md
  docs/integrations/sources/orbit.md
Labels: area/documentation

#15187 🐛 Source Postgres: Improve date handling
  airbyte-db/db-lib/src/main/java/io/airbyte/db/jdbc/AbstractJdbcCompatibleSourceOperations.java
  airbyte-integrations/bases/debezium-v1-9-2/src/main/java/io/airbyte/integrations/debezium/internals/DateTimeConverter.java
  airbyte-integrations/bases/debezium-v1-9-2/src/main/java/io/airbyte/integrations/debezium/internals/PostgresConverter.java
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresCdcProperties.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSourceOperations.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractPostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcPostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/PostgresSourceDatatypeTest.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres, connectors/source/postgres-strict-encrypt

#14953 🎉 Source Oracle: Use Service Name to connect to database
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-oracle-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-oracle-strict-encrypt/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/source-oracle/Dockerfile
  airbyte-integrations/connectors/source-oracle/src/main/java/io/airbyte/integrations/source/oracle/OracleSource.java
  airbyte-integrations/connectors/source-oracle/src/main/resources/spec.json
  airbyte-integrations/connectors/source-oracle/src/test-integration/java/io/airbyte/integrations/source/oracle/AbstractSshOracleSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-oracle/src/test-integration/java/io/airbyte/integrations/source/oracle/OracleSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-oracle/src/test-integration/java/io/airbyte/integrations/source/oracle/OracleSourceDatatypeTest.java
  airbyte-integrations/connectors/source-oracle/src/test-integration/java/io/airbyte/integrations/source/oracle/OracleSourceNneAcceptanceTest.java
  airbyte-integrations/connectors/source-oracle/src/test/java/io/airbyte/integrations/source/oracle/OracleSpecTest.java
  docs/integrations/sources/oracle.md
Labels: area/documentation, area/connectors, connectors/source/oracle, connectors/source/oracle-strict-encrypt

#14801 Fix multiply log bindings
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/bases/debezium-v1-4-2/build.gradle
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-databricks/build.gradle
  airbyte-integrations/connectors/destination-gcs/build.gradle
  airbyte-integrations/connectors/destination-s3/build.gradle
  airbyte-integrations/connectors/source-mssql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mssql/Dockerfile
  airbyte-integrations/connectors/source-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/gcs.md
  docs/integrations/destinations/s3.md
  docs/integrations/sources/mssql.md
  docs/integrations/sources/mysql.md
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, connectors/destination/bigquery-denormalized, connectors/destination/s3, connectors/source/mssql, connectors/source/mysql, connectors/source/postgres, connectors/destination/databricks, connectors/destination/gcs, connectors/source/mssql-strict-encrypt, connectors/source/mysql-strict-encrypt, connectors/source/postgres-strict-encrypt

#15039 Dual write old and new schedule schemas
  airbyte-config/config-models/src/main/java/io/airbyte/config/helpers/ScheduleHelpers.java
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/DatabaseConfigPersistence.java
  airbyte-server/src/main/java/io/airbyte/server/converters/ApiPojoConverters.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/ConnectionsHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/ConnectionsHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/helpers/ConnectionHelpers.java
  airbyte-workers/src/main/java/io/airbyte/workers/helper/ConnectionHelper.java
Labels: area/worker, area/platform, area/server

#15238 Add "External resources" section to TiDB source connector doc
  docs/integrations/sources/tidb.md
Labels: area/documentation, community

#15181 Sync Log Summary Doc
  docs/cloud/managing-airbyte-cloud.md
Labels: area/documentation

#14998 :tada: Source SurveyMonkey - to beta
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-surveymonkey/Dockerfile
  airbyte-integrations/connectors/source-surveymonkey/acceptance-test-config.yml
  airbyte-integrations/connectors/source-surveymonkey/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-surveymonkey/integration_tests/survey_ids.json
  airbyte-integrations/connectors/source-surveymonkey/integration_tests/survey_pages.json
  airbyte-integrations/connectors/source-surveymonkey/integration_tests/survey_questions.json
  airbyte-integrations/connectors/source-surveymonkey/integration_tests/survey_responses.json
  airbyte-integrations/connectors/source-surveymonkey/integration_tests/surveys.json
  airbyte-integrations/connectors/source-surveymonkey/sample_files/state.json
  airbyte-integrations/connectors/source-surveymonkey/setup.py
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/schemas/survey_ids.json
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/spec.json
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/streams.py
  airbyte-integrations/connectors/source-surveymonkey/unit_tests/test_source.py
  airbyte-integrations/connectors/source-surveymonkey/unit_tests/test_streams.py
  docs/integrations/sources/surveymonkey.md
Labels: area/documentation, area/connectors, connectors/source/surveymonkey

#15244 Typo fix
  docs/understanding-airbyte/supported-data-types.md
Labels: area/documentation

#14857 🪟 🐛 Fix connector form cancellation logic to ensure all fields are reset
  airbyte-webapp/src/views/Connector/ServiceForm/FormRoot.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/ServiceForm.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/EditControls.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/serviceFormContext.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/useBuildForm.tsx
Labels: area/frontend, area/platform, team/frontend

#15107 Source Google Sheets: exposes row batch size config
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-sheets/Dockerfile
  airbyte-integrations/connectors/source-google-sheets/google_sheets_source/google_sheets_source.py
  airbyte-integrations/connectors/source-google-sheets/google_sheets_source/spec.yaml
  docs/integrations/sources/google-sheets.md
Labels: area/documentation, area/connectors, community, connectors/source/google-sheets, bounty

#14784 Destination BigQuery: Enabling Application Default Credentials
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDestination.java
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, community, connectors/destination/bigquery, bounty

#15239 🪟 🔧 Update css-modules lint rules from warnings to errors
  airbyte-webapp/.eslintrc
Labels: area/frontend

#15199 fix: Update helm charts
  charts/airbyte-bootloader/README.md
  charts/airbyte-bootloader/templates/pod.yaml
  charts/airbyte-bootloader/values.yaml
  charts/airbyte-pod-sweeper/README.md
  charts/airbyte-pod-sweeper/values.yaml
  charts/airbyte-server/Chart.lock
  charts/airbyte-server/README.md
  charts/airbyte-server/templates/deployment.yaml
  charts/airbyte-server/values.yaml
  charts/airbyte-temporal/README.md
  charts/airbyte-temporal/templates/deployment.yaml
  charts/airbyte-temporal/values.yaml
  charts/airbyte-webapp/README.md
  charts/airbyte-webapp/templates/deployment.yaml
  charts/airbyte-webapp/values.yaml
  charts/airbyte-worker/README.md
  charts/airbyte-worker/templates/deployment.yaml
  charts/airbyte-worker/values.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
Labels: area/platform, kubernetes, community, team/infra

#14534 🎉Source Postgres: 13608, 12026, 14590 - Align regular and CDC integration tests and data mappers; improve BCE date handling
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-db/db-lib/src/main/java/io/airbyte/db/jdbc/AbstractJdbcCompatibleSourceOperations.java
  airbyte-integrations/bases/debezium-v1-9-2/src/main/java/io/airbyte/integrations/debezium/internals/DateTimeConverter.java
  airbyte-integrations/bases/debezium-v1-9-2/src/main/java/io/airbyte/integrations/debezium/internals/PostgresConverter.java
  airbyte-integrations/connectors/destination-clickhouse-strict-encrypt/src/test-integration/java/io/airbyte/integrations/destination/clickhouse/ClickhouseTestSourceOperations.java
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/java/io/airbyte/integrations/destination/clickhouse/ClickhouseTestSourceOperations.java
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresCdcProperties.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSourceOperations.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractPostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcPostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/PostgresSourceDatatypeTest.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres, connectors/destination/clickhouse, connectors/destination/clickhouse-strict-encrypt, connectors/source/postgres-strict-encrypt

#14903 🎉 Postgres source: emit state messages more frequently for incremental sync
  airbyte-integrations/connectors/source-bigquery/src/main/java/io/airbyte/integrations/source/bigquery/BigQuerySource.java
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io.airbyte.integrations.source.mongodb/MongoDbSource.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/AbstractDbSource.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/StateDecoratingIterator.java
  airbyte-integrations/connectors/source-relational-db/src/test/java/io/airbyte/integrations/source/relationaldb/StateDecoratingIteratorTest.java
Labels: area/connectors, connectors/source/bigquery, connectors/source/mssql, connectors/source/postgres, connectors/source/mongodb-v2, connectors/source/jdbc, connectors/source/relational-db

#15260 Align MS SQL regular and strict encrypt versions
  airbyte-integrations/connectors/destination-mssql-strict-encrypt/Dockerfile
  docs/integrations/destinations/mssql.md
Labels: area/documentation, area/connectors, connectors/destination/mssql-strict-encrypt

#15258 Align strict encrypt and regular connector versions for destination-mysql
  airbyte-integrations/connectors/destination-mysql-strict-encrypt/Dockerfile
  docs/integrations/destinations/mysql.md
Labels: area/documentation, area/connectors, connectors/destination/mysql-strict-encrypt

#14074 🪟 Add catalog changes modal on schema refresh
  airbyte-webapp/.storybook/withProvider.tsx
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/components/ImageBlock/ImageBlock.module.scss
  airbyte-webapp/src/components/ImageBlock/ImageBlock.tsx
  airbyte-webapp/src/components/Modal/ModalBody.module.scss
  airbyte-webapp/src/components/Modal/ModalBody.tsx
  airbyte-webapp/src/components/icons/ModificationIcon.tsx
  airbyte-webapp/src/hooks/services/Modal/ModalService.tsx
  airbyte-webapp/src/hooks/services/Modal/types.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/ReplicationView.tsx
  airbyte-webapp/src/scss/_colors.scss
  airbyte-webapp/src/views/Connection/CatalogDiffModal/CatalogDiffModal.module.scss
  airbyte-webapp/src/views/Connection/CatalogDiffModal/CatalogDiffModal.tsx
  airbyte-webapp/src/views/Connection/CatalogDiffModal/components/DiffAccordion.module.scss
  airbyte-webapp/src/views/Connection/CatalogDiffModal/components/DiffAccordion.tsx
  airbyte-webapp/src/views/Connection/CatalogDiffModal/components/DiffAccordionHeader.module.scss
  airbyte-webapp/src/views/Connection/CatalogDiffModal/components/DiffAccordionHeader.tsx
  airbyte-webapp/src/views/Connection/CatalogDiffModal/components/DiffFieldTable.module.scss
  airbyte-webapp/src/views/Connection/CatalogDiffModal/components/DiffFieldTable.tsx
  airbyte-webapp/src/views/Connection/CatalogDiffModal/components/DiffHeader.tsx
  airbyte-webapp/src/views/Connection/CatalogDiffModal/components/DiffIconBlock.module.scss
  airbyte-webapp/src/views/Connection/CatalogDiffModal/components/DiffIconBlock.tsx
  airbyte-webapp/src/views/Connection/CatalogDiffModal/components/DiffSection.module.scss
  airbyte-webapp/src/views/Connection/CatalogDiffModal/components/DiffSection.tsx
  airbyte-webapp/src/views/Connection/CatalogDiffModal/components/FieldRow.module.scss
  airbyte-webapp/src/views/Connection/CatalogDiffModal/components/FieldRow.tsx
  airbyte-webapp/src/views/Connection/CatalogDiffModal/components/FieldSection.module.scss
  airbyte-webapp/src/views/Connection/CatalogDiffModal/components/FieldSection.tsx
  airbyte-webapp/src/views/Connection/CatalogDiffModal/components/StreamRow.module.scss
  airbyte-webapp/src/views/Connection/CatalogDiffModal/components/StreamRow.tsx
  airbyte-webapp/src/views/Connection/CatalogDiffModal/types.tsx
  airbyte-webapp/src/views/Connection/CatalogDiffModal/utils.tsx
Labels: area/platform, team/frontend

#15261 Align Postgres Destination regular and strict encrypt versions
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/Dockerfile
Labels: area/connectors, connectors/destination/postgres-strict-encrypt

#15077 sync data from beginning if lsn is no longer valid in postgres cdc
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/bases/debezium-v1-9-2/src/main/java/io/airbyte/integrations/debezium/internals/DebeziumPropertiesManager.java
  airbyte-integrations/bases/debezium-v1-9-2/src/main/java/io/airbyte/integrations/debezium/internals/DebeziumRecordPublisher.java
  airbyte-integrations/bases/debezium-v1-9-2/src/main/java/io/airbyte/integrations/debezium/internals/PostgresCustomLoader.java
  airbyte-integrations/bases/debezium-v1-9-2/src/main/java/io/airbyte/integrations/debezium/internals/PostgresDebeziumStateUtil.java
  airbyte-integrations/bases/debezium-v1-9-2/src/test/java/io/airbyte/integrations/debezium/DebeziumRecordPublisherTest.java
  airbyte-integrations/bases/debezium-v1-9-2/src/test/java/io/airbyte/integrations/debezium/internals/PostgresDebeziumStateUtilTest.java
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres, connectors/source/postgres-strict-encrypt

#15211 Fix Mongo dest
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-mongodb-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/destination-mongodb/Dockerfile
  airbyte-integrations/connectors/destination-mongodb/src/main/java/io/airbyte/integrations/destination/mongodb/MongodbRecordConsumer.java
  docs/integrations/destinations/mongodb.md
Labels: area/documentation, area/connectors, connectors/destination/mongodb, connectors/destination/mongodb-strict-encrypt

#15280 increase report interval to 120s to minimize temporal metric reporting
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalUtils.java
Labels: area/worker, area/platform

#14862 Source Bing Ads adding missing columns
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-bing-ads/Dockerfile
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/reports.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/account_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/ad_group_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/ad_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/campaign_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/keyword_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/source.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/accountperformancereportmonthly_records.json
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors, community, connectors/source/bing-ads, internal

#15193 chore: fixed elasticsearch documentation
  docs/integrations/sources/elasticsearch.md
Labels: area/documentation

#15273 🐞 Postgres source: fix first record wait time parsing bug
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresUtils.java
  airbyte-integrations/connectors/source-postgres/src/main/resources/spec.json
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcPostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcPostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresCdcGetPublicizedTablesTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresUtilsTest.java
  airbyte-integrations/connectors/source-postgres/src/test/resources/expected_spec.json
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres, connectors/source/postgres-strict-encrypt

#15289 🐛Destination-postgres: fixed normalization java tests after changes in Python part
  airbyte-integrations/connectors/destination-postgres/src/test-integration/java/io/airbyte/integrations/destination/postgres/PostgresTestDataComparator.java
Labels: area/connectors, connectors/destination/postgres

#15233 🐛 Source Zendesk Support: add `Subscription Plan` check for available streams
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-zendesk-support/Dockerfile
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/source.py
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/streams.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/unit_test.py
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-support

#15276 🪟 🐛 Fixed disabled "Sign Up" button if form is valid
  airbyte-webapp/src/packages/cloud/views/auth/SignupPage/components/SignupForm.tsx
Labels: area/frontend, area/platform, team/frontend

#15287 Update Kafka destination to use outputRecordCollector to properly store state
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-kafka/Dockerfile
  airbyte-integrations/connectors/destination-kafka/build.gradle
  airbyte-integrations/connectors/destination-kafka/src/main/java/io/airbyte/integrations/destination/kafka/KafkaRecordConsumer.java
  airbyte-integrations/connectors/destination-kafka/src/test/java/io/airbyte/integrations/destination/kafka/KafkaRecordConsumerTest.java
Labels: area/connectors, connectors/destination/kafka

#15291 Update Keen destination to use outputRecordCollector to properly store state
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-keen/Dockerfile
  airbyte-integrations/connectors/destination-keen/build.gradle
  airbyte-integrations/connectors/destination-keen/src/main/java/io/airbyte/integrations/destination/keen/KeenRecordsConsumer.java
  airbyte-integrations/connectors/destination-keen/src/test/java/io/airbyte/integrations/destination/keen/KeenRecordConsumerTest.java
  airbyte-integrations/connectors/destination-keen/src/test/java/io/airbyte/integrations/destination/keen/KeenTimestampServiceTest.java
Labels: area/connectors, connectors/destination/keen

#15109 🪟 🐛 Correctly revalidate form when validationSchema changes
  airbyte-webapp/src/views/Connector/ServiceForm/ServiceForm.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/useBuildForm.tsx
Labels: area/platform, team/frontend

#15288 Update google-analytics-v4.md
  docs/integrations/sources/google-analytics-v4.md
Labels: area/documentation, community

#15294 Update Cassandra destination to use outputRecordCollector to properly store state
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-cassandra/Dockerfile
  airbyte-integrations/connectors/destination-cassandra/build.gradle
  airbyte-integrations/connectors/destination-cassandra/src/main/java/io/airbyte/integrations/destination/cassandra/CassandraDestination.java
  airbyte-integrations/connectors/destination-cassandra/src/main/java/io/airbyte/integrations/destination/cassandra/CassandraMessageConsumer.java
  airbyte-integrations/connectors/destination-cassandra/src/test-integration/java/io/airbyte/integrations/destination/cassandra/CassandraMessageConsumerIT.java
  airbyte-integrations/connectors/destination-cassandra/src/test/java/io/airbyte/integrations/destination/cassandra/CassandraRecordConsumerTest.java
Labels: area/connectors, connectors/destination/cassandra

#15279 Bmoric/test mongo per stream
  airbyte-integrations/connectors/destination-mongodb/build.gradle
  airbyte-integrations/connectors/destination-mongodb/src/test/java/io/airbyte/integrations/destination/mongodb/MongodbRecordConsumerTest.java
Labels: area/connectors, connectors/destination/mongodb

#14514 🪟 🎉 Improved rendering of variable input fields in source/destination and update custom transformations form.
  airbyte-webapp/src/components/ArrayOfObjectsEditor/ArrayOfObjectsEditor.module.scss
  airbyte-webapp/src/components/ArrayOfObjectsEditor/ArrayOfObjectsEditor.tsx
  airbyte-webapp/src/components/ArrayOfObjectsEditor/components/EditorHeader.tsx
  airbyte-webapp/src/components/ArrayOfObjectsEditor/components/EditorRow.module.scss
  airbyte-webapp/src/components/ArrayOfObjectsEditor/components/EditorRow.tsx
  airbyte-webapp/src/components/Modal/Modal.tsx
  airbyte-webapp/src/components/Modal/index.tsx
  airbyte-webapp/src/components/ToolTip/ToolTip.tsx
  airbyte-webapp/src/components/icons/CrossIcon.tsx
  airbyte-webapp/src/components/icons/PencilIcon.tsx
  airbyte-webapp/src/config/links.ts
  airbyte-webapp/src/core/form/types.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/views/Connection/ConnectionForm/components/TransformationField.tsx
  airbyte-webapp/src/views/Connection/TransformationForm/TransformationForm.tsx
  airbyte-webapp/src/views/Connector/ConnectorDocumentationLayout/DocumentationPanelContext.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/ServiceForm.test.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/ServiceForm.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/Sections/ArraySection.module.scss
  airbyte-webapp/src/views/Connector/ServiceForm/components/Sections/ArraySection.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/Sections/VariableInputFieldForm.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/serviceFormContext.tsx
Labels: area/frontend, area/platform, team/frontend, ui/transformation, ui/connectors

#15268 Source-MSSQL : special character support in dbname #14824 #15186
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mssql/Dockerfile
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceTest.java
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, community, connectors/source/mssql, bounty

#15067 Emit a state message even if no records were read
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/abstract_source.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/test_abstract_source.py
Labels: CDK

#15323 low-code bug fix: cast evaluated time to string before passing to strptime
  airbyte-cdk/python/airbyte_cdk/sources/declarative/datetime/min_max_datetime.py
  airbyte-cdk/python/unit_tests/sources/declarative/datetime/test_min_max_datetime.py
Labels: CDK

#15283 low-code connectors: Set slicer's request options
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/http_requester.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/limit_paginator.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/no_pagination.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/paginator.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/request_options/interpolated_request_options_provider.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/request_options/request_options_provider.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/requester.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/retrievers/simple_retriever.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/stream_slicers/cartesian_product_stream_slicer.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/stream_slicers/datetime_stream_slicer.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/stream_slicers/list_stream_slicer.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/stream_slicers/single_slice.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/stream_slicers/substream_slicer.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/request_options/test_interpolated_request_options_provider.py
  airbyte-cdk/python/unit_tests/sources/declarative/retrievers/test_simple_retriever.py
  airbyte-cdk/python/unit_tests/sources/declarative/stream_slicers/test_cartesian_product_stream_slicer.py
  airbyte-cdk/python/unit_tests/sources/declarative/stream_slicers/test_datetime_stream_slicer.py
  airbyte-cdk/python/unit_tests/sources/declarative/stream_slicers/test_list_slicer.py
Labels: CDK

#15277 Deleted trial info
  docs/cloud/getting-started-with-airbyte-cloud.md
Labels: area/documentation

#15226 Make `connectionTimeoutMs` configurable
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-db/db-lib/src/main/java/io/airbyte/db/factory/DataSourceFactory.java
  airbyte-db/db-lib/src/test/java/io/airbyte/db/factory/DataSourceFactoryTest.java
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres, connectors/source/jdbc, connectors/source/postgres-strict-encrypt

#15194 SAT: spec - backward compatibility - syntactic validation
  airbyte-integrations/bases/source-acceptance-test/CHANGELOG.md
  airbyte-integrations/bases/source-acceptance-test/Dockerfile
  airbyte-integrations/bases/source-acceptance-test/pytest.ini
  airbyte-integrations/bases/source-acceptance-test/setup.py
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/config.py
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/conftest.py
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/plugin.py
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/tests/test_core.py
  airbyte-integrations/bases/source-acceptance-test/unit_tests/test_backward_compatibility.py
  airbyte-integrations/bases/source-acceptance-test/unit_tests/test_spec.py
  docs/connector-development/testing-connectors/source-acceptance-tests-reference.md
Labels: area/documentation, connectors/source/openweather

#15031 🐛 Source Amazon Ads: Improve report streams date-range generation
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-ads/Dockerfile
  airbyte-integrations/connectors/source-amazon-ads/README.md
  airbyte-integrations/connectors/source-amazon-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amazon-ads/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/configured_catalog_report.json
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/configured_catalog_sponsored_display.json
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/expected_records.txt
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/expected_records_sponsored_display.txt
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/spec.json
  airbyte-integrations/connectors/source-amazon-ads/requirements.txt
  airbyte-integrations/connectors/source-amazon-ads/setup.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/constants.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/common.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/spec.yaml
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/report_streams/products_report.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/report_streams/report_streams.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/test_report_streams.py
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, area/connectors, connectors/source/amazon-ads

#15348 Update Kinesis destination to use outputRecordCollector to properly store state
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-kinesis/Dockerfile
  airbyte-integrations/connectors/destination-kinesis/build.gradle
  airbyte-integrations/connectors/destination-kinesis/src/main/java/io/airbyte/integrations/destination/kinesis/KinesisDestination.java
  airbyte-integrations/connectors/destination-kinesis/src/main/java/io/airbyte/integrations/destination/kinesis/KinesisMessageConsumer.java
  airbyte-integrations/connectors/destination-kinesis/src/test/java/io/airbyte/integrations/destination/kinesis/KinesisRecordConsumerTest.java
Labels: area/connectors, connectors/destination/kinesis

#15349 Update Pulsar destination to use outputRecordCollector to properly store state
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-pulsar/Dockerfile
  airbyte-integrations/connectors/destination-pulsar/build.gradle
  airbyte-integrations/connectors/destination-pulsar/src/main/java/io/airbyte/integrations/destination/pulsar/PulsarDestination.java
  airbyte-integrations/connectors/destination-pulsar/src/main/java/io/airbyte/integrations/destination/pulsar/PulsarRecordConsumer.java
  airbyte-integrations/connectors/destination-pulsar/src/test/java/io/airbyte/integrations/destination/pulsar/PulsarRecordConsumerTest.java
Labels: area/connectors, connectors/destination/pulsar

#15350 🎉 Destination DynamoDB: Handle per-stream state
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-dynamodb/Dockerfile
  airbyte-integrations/connectors/destination-dynamodb/build.gradle
  airbyte-integrations/connectors/destination-dynamodb/src/main/java/io/airbyte/integrations/destination/dynamodb/DynamodbConsumer.java
  airbyte-integrations/connectors/destination-dynamodb/src/test/java/io/airbyte/integrations/destination/dynamodb/DynamodbConsumerTest.java
  docs/integrations/destinations/dynamodb.md
Labels: area/documentation, area/connectors, connectors/destination/dynamodb

#15359 fixed formatting
  airbyte-integrations/connectors/destination-bigquery/src/test/java/io/airbyte/integrations/destination/bigquery/BigQueryRecordConsumerTest.java
  airbyte-integrations/connectors/destination-mongodb/src/test/java/io/airbyte/integrations/destination/mongodb/MongodbRecordConsumerTest.java
  airbyte-integrations/connectors/destination-oracle/src/test-integration/java/io/airbyte/integrations/destination/oracle/UnencryptedOracleDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-oracle/src/test/java/io/airbyte/integrations/destination/oracle/OracleDestinationTest.java
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/ad_account.json
  airbyte-integrations/connectors/source-github/unit_tests/pull_request_comment_reactions.json
  airbyte-integrations/connectors/source-jdbc/src/test/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-okta/source_okta/schemas/group_members.json
  airbyte-integrations/connectors/source-oracle-strict-encrypt/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/source-oracle/src/main/java/io/airbyte/integrations/source/oracle/OracleSource.java
  airbyte-integrations/connectors/source-oracle/src/main/resources/spec.json
  airbyte-integrations/connectors/source-paypal-transaction/integration_tests/invalid_config_oauth.json
  airbyte-integrations/connectors/source-paypal-transaction/unit_tests/conftest.py
  airbyte-integrations/connectors/source-paypal-transaction/unit_tests/test_source.py
  airbyte-integrations/connectors/source-paypal-transaction/unit_tests/unit_test.py
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSourceOperations.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractPostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractSshPostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcPostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcPostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/PostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-snowflake/src/main/java/io.airbyte.integrations.source.snowflake/SnowflakeSourceOperations.java
  airbyte-integrations/connectors/source-snowflake/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/SnowflakeJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-surveymonkey/sample_files/state.json
Labels: area/connectors, connectors/source/surveymonkey, connectors/source/facebook-marketing, connectors/destination/bigquery, connectors/source/github, connectors/source/okta, connectors/source/oracle, connectors/source/paypal-transaction, connectors/source/postgres, connectors/source/snowflake, connectors/destination/mongodb, connectors/source/jdbc, connectors/destination/oracle, connectors/source/oracle-strict-encrypt

#15354 Source Hubspot: fix Deals stream schema
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/deals.json
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot

#15355 15308 Destination PubSub: Handle per-stream state
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-pubsub/Dockerfile
  airbyte-integrations/connectors/destination-pubsub/build.gradle
  airbyte-integrations/connectors/destination-pubsub/src/main/java/io/airbyte/integrations/destination/pubsub/PubsubConsumer.java
  airbyte-integrations/connectors/destination-pubsub/src/test/java/io/airbyte/integration/destination/pubsub/PubsubConsumerTest.java
Labels: area/connectors, connectors/destination/pubsub

#15362 🐛Destination-mysql: fixed normalization tests after changes in python part
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/comparator/AdvancedTestDataComparator.java
  airbyte-integrations/connectors/destination-mysql/src/test-integration/java/io/airbyte/integrations/destination/mysql/MySqlTestDataComparator.java
  airbyte-integrations/connectors/destination-postgres/src/test-integration/java/io/airbyte/integrations/destination/postgres/PostgresTestDataComparator.java
Labels: area/connectors, connectors/destination/mysql, connectors/destination/postgres

#14955 🪟 🎉 Move the cancel button outside the run click area
  airbyte-webapp/src/components/JobItem/JobItem.tsx
  airbyte-webapp/src/components/JobItem/components/AttemptDetails.module.scss
  airbyte-webapp/src/components/JobItem/components/AttemptDetails.tsx
  airbyte-webapp/src/components/JobItem/components/LogsDetails.tsx
  airbyte-webapp/src/components/JobItem/components/MainInfo.module.scss
  airbyte-webapp/src/components/JobItem/components/MainInfo.tsx
  airbyte-webapp/src/components/icons/RotateIcon.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/StatusView.module.scss
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/StatusView.tsx
Labels: area/platform, team/frontend

#15360 S3, Databricks and Gcs destinations fix test and publish
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/bases/standard-destination-test/src/main/resources/number_data_type_array_test_messages.txt
  airbyte-integrations/connectors/destination-databricks/Dockerfile
  airbyte-integrations/connectors/destination-gcs/Dockerfile
  airbyte-integrations/connectors/destination-s3/Dockerfile
  docs/integrations/destinations/databricks.md
  docs/integrations/destinations/gcs.md
  docs/integrations/destinations/s3.md
Labels: area/documentation, area/connectors, connectors/destination/s3, connectors/source/postgres, connectors/destination/databricks, connectors/destination/gcs

#15343 Fix typo in change log
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/gcs.md
  docs/integrations/destinations/s3.md
  docs/integrations/sources/mssql.md
  docs/integrations/sources/mysql.md
  docs/integrations/sources/postgres.md
Labels: area/documentation

#15332 Fix connection settings changing randomly
  airbyte-webapp/src/components/CreateConnectionContent/CreateConnectionContent.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/ReplicationView.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/ConnectionForm.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/formConfig.tsx
Labels: area/platform, team/frontend

#15369 Update hubspot.md
  docs/integrations/sources/hubspot.md
Labels: area/documentation

#15365 🪟 Add Segment call for Connection Delete
  airbyte-webapp/src/hooks/services/useConnectionHook.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionItemPage.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/SettingsView.module.scss
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/SettingsView.tsx
Labels: area/frontend, area/platform, team/frontend

#15370 Fixed postgres doc formatting
  docs/integrations/sources/postgres.md
Labels: area/documentation

#15297 Updated postgres doc and fixed other minor nits
  docs/integrations/README.md
  docs/integrations/sources/glassfrog.md
  docs/integrations/sources/postgres.md
Labels: area/documentation

#15356 🎉 Source Freshdesk: update public docs
  docs/integrations/sources/freshdesk.md
Labels: area/documentation

#14546 File Buffer: new constructor for specifying max number of buffers
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination/record_buffer/FileBuffer.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/parquet/ParquetSerializedBuffer.java
Labels: area/connectors, community, connectors/destination/s3, bounty

#15342 Update spec.json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/resources/spec.json
  airbyte-integrations/connectors/source-postgres/src/test/resources/expected_spec.json
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres, connectors/source/postgres-strict-encrypt

#15335 Bump Airbyte version from 0.39.41-alpha to 0.39.42-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte-bootloader/Chart.yaml
  charts/airbyte-server/Chart.yaml
  charts/airbyte-temporal/Chart.yaml
  charts/airbyte-webapp/Chart.yaml
  charts/airbyte-worker/Chart.yaml
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/worker, area/platform, kubernetes, area/server, team/frontend

#15382 📄 Postgres source: fix links in the spec
  airbyte-integrations/connectors/source-postgres/src/main/resources/spec.json
  airbyte-integrations/connectors/source-postgres/src/test/resources/expected_spec.json
Labels: area/connectors, connectors/source/postgres

#15346 low-code-connectors: handle single records
  airbyte-cdk/python/airbyte_cdk/sources/declarative/extractors/record_selector.py
  airbyte-cdk/python/unit_tests/sources/declarative/extractors/test_record_selector.py
Labels: CDK

#15330 low-code connectors: reset pagination between stream slices
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/limit_paginator.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/no_pagination.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/paginator.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/strategies/cursor_pagination_strategy.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/strategies/offset_increment.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/strategies/page_increment.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/strategies/pagination_strategy.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/retrievers/simple_retriever.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/paginators/test_limit_paginator.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/paginators/test_offset_increment.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/paginators/test_page_increment.py
  airbyte-cdk/python/unit_tests/sources/declarative/retrievers/test_simple_retriever.py
Labels: CDK

#15380 Label source-postgres to GA
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/resources/spec.json
  airbyte-integrations/connectors/source-postgres/src/test/resources/expected_spec.json
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres, connectors/source/postgres-strict-encrypt

#15269 🎉 Source File: bump setup.py versions
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-file/Dockerfile
  airbyte-integrations/connectors/source-file/setup.py
  airbyte-integrations/connectors/source-file/source_file/client.py
  airbyte-integrations/connectors/source-file/source_file/spec.json
  docs/integrations/sources/file.md
Labels: area/documentation, area/connectors, connectors/source/file

#15378 🎉 Source Freshdesk: fix spec for backward compatibility
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-freshdesk/Dockerfile
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/spec.json
  docs/integrations/sources/freshdesk.md
Labels: area/documentation, area/connectors, connectors/source/freshdesk

#15336 low-code connectors: convert request headers to string before submitting them
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/declarative/retrievers/simple_retriever.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/stream_slicers/cartesian_product_stream_slicer.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/declarative/retrievers/test_simple_retriever.py
Labels: CDK

#15374 Remove unconditional resource assignment (Helm Chart with FluxCD)
  charts/airbyte-temporal/templates/deployment.yaml
Labels: area/platform, kubernetes, community

#15383 [low-code connectors] fix so we don't display yaml when debug flag is turned off
  airbyte-cdk/python/airbyte_cdk/sources/declarative/yaml_declarative_source.py
Labels: CDK

#15388 🐛 Destination mssql\redshift: fixed normalization tests after changes on Python side
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/comparator/AdvancedTestDataComparator.java
  airbyte-integrations/connectors/destination-mssql/src/test-integration/java/io/airbyte/integrations/destination/mssql/MSSQLTestDataComparator.java
  airbyte-integrations/connectors/destination-mysql/src/test-integration/java/io/airbyte/integrations/destination/mysql/MySqlTestDataComparator.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/RedshiftTestDataComparator.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceTest.java
Labels: area/connectors, connectors/destination/redshift, connectors/source/mssql, connectors/destination/mysql, connectors/destination/mssql

#15397 Updated normalization version for postgres destination
  airbyte-integrations/bases/base-normalization/Dockerfile
  airbyte-integrations/bases/base-normalization/normalization/transform_config/transform.py
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/NormalizationRunnerFactory.java
Labels: area/worker, normalization, area/platform

#14242 🪟 🎉 Add username editing
  airbyte-webapp/src/packages/cloud/lib/domain/users/UserService.ts
  airbyte-webapp/src/packages/cloud/lib/domain/users/types.ts
  airbyte-webapp/src/packages/cloud/locales/en.json
  airbyte-webapp/src/packages/cloud/services/auth/AuthService.tsx
  airbyte-webapp/src/packages/cloud/services/auth/reducer.ts
  airbyte-webapp/src/packages/cloud/views/users/AccountSettingsView/AccountSettingsView.tsx
  airbyte-webapp/src/packages/cloud/views/users/AccountSettingsView/components/NameSection/NameSection.tsx
  airbyte-webapp/src/packages/cloud/views/users/AccountSettingsView/components/NameSection/hooks/index.ts
  airbyte-webapp/src/packages/cloud/views/users/AccountSettingsView/components/NameSection/hooks/useName.ts
  airbyte-webapp/src/packages/cloud/views/users/AccountSettingsView/components/NameSection/index.ts
  airbyte-webapp/src/packages/cloud/views/users/AccountSettingsView/components/NameSection/types.ts
  airbyte-webapp/src/packages/cloud/views/users/AccountSettingsView/components/index.ts
Labels: area/platform, team/frontend

#15050 🎉 Source Okta: added parameter 'start_date'
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-okta/Dockerfile
  airbyte-integrations/connectors/source-okta/README.md
  airbyte-integrations/connectors/source-okta/source_okta/authenticator.py
  airbyte-integrations/connectors/source-okta/source_okta/source.py
  airbyte-integrations/connectors/source-okta/source_okta/spec.json
  airbyte-integrations/connectors/source-okta/source_okta/utils.py
  airbyte-integrations/connectors/source-okta/unit_tests/conftest.py
  airbyte-integrations/connectors/source-okta/unit_tests/test_source.py
  airbyte-integrations/connectors/source-okta/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-okta/unit_tests/test_utils.py
  docs/integrations/sources/okta.md
Labels: area/documentation, area/connectors, connectors/source/okta

#15312 🐛Source Harvest: “started_time” being incorrectly cast as datetime field
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-harvest/Dockerfile
  airbyte-integrations/connectors/source-harvest/README.md
  airbyte-integrations/connectors/source-harvest/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-harvest/requirements.txt
  airbyte-integrations/connectors/source-harvest/setup.py
  airbyte-integrations/connectors/source-harvest/source_harvest/schemas/time_entries.json
  airbyte-integrations/connectors/source-harvest/source_harvest/spec.json
  airbyte-integrations/connectors/source-harvest/source_harvest/streams.py
  airbyte-integrations/connectors/source-harvest/unit_tests/conftest.py
  airbyte-integrations/connectors/source-harvest/unit_tests/unit_test.py
  docs/integrations/sources/harvest.md
  docs/integrations/sources/paypal-transaction.md
Labels: area/documentation, area/connectors, connectors/source/harvest

#15395 15311 Updated Destination Rockset to handle per-stream state
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-rockset/Dockerfile
  airbyte-integrations/connectors/destination-rockset/build.gradle
  airbyte-integrations/connectors/destination-rockset/src/main/java/io/airbyte/integrations/destination/rockset/RocksetWriteApiConsumer.java
  airbyte-integrations/connectors/destination-rockset/src/test/java/io/airbyte/integrations/destination/rockset/RocksetWriteApiConsumerTest.java
Labels: area/connectors, connectors/destination/rockset

#15220 🎉Source Harvest: increase unit test coverage at least 90%
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/configured_catalog_report.json
  airbyte-integrations/connectors/source-harvest/unit_tests/conftest.py
  airbyte-integrations/connectors/source-harvest/unit_tests/unit_test.py
Labels: area/connectors, connectors/source/harvest, connectors/source/amazon-ads

#15366 🪟 Add Segment event for 'Buy Credits'
  airbyte-webapp/src/core/analytics/types.ts
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/components/RemainingCredits.tsx
Labels: area/frontend, area/platform, team/frontend, ui/analytics

#15392 📚Fix misspelled name in docs
  docs/integrations/destinations/oracle.md
  docs/integrations/sources/oracle.md
Labels: area/documentation, community

#15390 Fix the broken link to documentation of contribution guide.
  README.md
Labels: community

#15324 📝 Source Notion: Fix incorrect source type name in docs
  docs/integrations/sources/notion.md
Labels: area/documentation, community

#13393 Add datadog tracking to record schema validation errors
  airbyte-config/config-models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-container-orchestrator/build.gradle
  airbyte-container-orchestrator/src/main/java/io/airbyte/container_orchestrator/ReplicationJobOrchestrator.java
  airbyte-metrics/metrics-lib/src/main/java/io/airbyte/metrics/lib/MetricClientFactory.java
  airbyte-metrics/metrics-lib/src/main/java/io/airbyte/metrics/lib/OssMetricsRegistry.java
  airbyte-metrics/metrics-lib/src/test/java/io/airbyte/metrics/lib/MetricClientFactoryTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerMetricReporter.java
  airbyte-workers/src/main/java/io/airbyte/workers/general/DefaultReplicationWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/AsyncOrchestratorPodProcess.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/LauncherWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/OrchestratorConstants.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/ReplicationActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/general/DefaultReplicationWorkerTest.java
Labels: area/worker, area/platform

#15412 Destination azure: bump version
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-azure-blob-storage/Dockerfile
  docs/integrations/destinations/azureblobstorage.md
Labels: area/documentation, area/connectors, connectors/destination/azure-blob-storage

#15409 Bigquery destination: fix changelog and publish new version
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery-denormalized

#15404 Added confirmation message after selecting "Remove" in Access Management
  airbyte-webapp/src/packages/cloud/locales/en.json
  airbyte-webapp/src/packages/cloud/views/users/UsersSettingsView/UsersSettingsView.module.scss
  airbyte-webapp/src/packages/cloud/views/users/UsersSettingsView/UsersSettingsView.tsx
Labels: area/platform, team/frontend

#15347 [low code connectors] fix bug where headers were not passed to cursor interpolation
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/error_handlers/http_response_filter.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/strategies/cursor_pagination_strategy.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/error_handlers/test_default_error_handler.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/paginators/test_cursor_pagination_strategy.py
Labels: CDK

#15416 Source file-secure: bump to 0.2.15
  airbyte-integrations/connectors/source-file-secure/Dockerfile
  airbyte-integrations/connectors/source-file-secure/integration_tests/spec.json
  airbyte-integrations/connectors/source-file-secure/setup.py
Labels: area/connectors, connectors/source/file-secure

#15419 Updated Google Ads doc
  docs/integrations/sources/google-ads.md
Labels: area/documentation

#15326 low-code connectors: fix parse and format methods
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/declarative/datetime/min_max_datetime.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/stream_slicers/datetime_stream_slicer.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/declarative/stream_slicers/test_datetime_stream_slicer.py
Labels: CDK

#15434 14895 Update tests instance type to ATLAS
  airbyte-integrations/connectors/destination-mongodb-strict-encrypt/src/test-integration/java/io/airbyte/integrations/destination/mongodb/MongodbDestinationStrictEncryptAcceptanceTest.java
Labels: area/connectors, connectors/destination/mongodb-strict-encrypt

#15435 Source Typeform: update Forms schema
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-typeform/Dockerfile
  airbyte-integrations/connectors/source-typeform/source_typeform/schemas/forms.json
  docs/integrations/sources/typeform.md
Labels: area/documentation, area/connectors, connectors/source/typeform

#15436 14899 Update tests instance type to ATLAS
  airbyte-integrations/connectors/source-mongodb-strict-encrypt/src/test-integration/java/io/airbyte/integrations/source/mongodb/MongodbSourceStrictEncryptAcceptanceTest.java
Labels: area/connectors, connectors/source/mongodb-strict-encrypt

#15018 🎉 New Destination: SQLite
  airbyte-config/init/src/main/resources/icons/sqlite.svg
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-sqlite/.dockerignore
  airbyte-integrations/connectors/destination-sqlite/Dockerfile
  airbyte-integrations/connectors/destination-sqlite/README.md
  airbyte-integrations/connectors/destination-sqlite/build.gradle
  airbyte-integrations/connectors/destination-sqlite/destination_sqlite/__init__.py
  airbyte-integrations/connectors/destination-sqlite/destination_sqlite/destination.py
  airbyte-integrations/connectors/destination-sqlite/destination_sqlite/spec.json
  airbyte-integrations/connectors/destination-sqlite/integration_tests/config.json
  airbyte-integrations/connectors/destination-sqlite/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/destination-sqlite/integration_tests/integration_test.py
  airbyte-integrations/connectors/destination-sqlite/integration_tests/invalid_config.json
  airbyte-integrations/connectors/destination-sqlite/integration_tests/messages.jsonl
  airbyte-integrations/connectors/destination-sqlite/main.py
  airbyte-integrations/connectors/destination-sqlite/requirements.txt
  airbyte-integrations/connectors/destination-sqlite/setup.py
  airbyte-integrations/connectors/destination-sqlite/sqlite.db
  airbyte-integrations/connectors/destination-sqlite/unit_tests/unit_test.py
  docs/integrations/README.md
  docs/integrations/destinations/sqlite.md
Labels: area/documentation, area/connectors, community, internal, connectors/destination/sqlite

#15204 🪟 Updates to billing page icons & buttons
  airbyte-webapp/src/components/icons/CreditsIcon.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/components/RemainingCredits.tsx
  airbyte-webapp/src/packages/cloud/views/layout/SideBar/SideBar.tsx
Labels: area/platform, team/frontend

#15135 Source Jira: Added updates to include issue components and fixes to README files
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-jira/Dockerfile
  airbyte-integrations/connectors/source-jira/README.md
  airbyte-integrations/connectors/source-jira/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/audit_records.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/avatars.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/dashboards.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/epics.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/filter_sharing.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/filters.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/groups.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_comment_properties.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_custom_field_contexts.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_custom_field_options.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_custom_field_options_apps.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_field_configurations.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_fields.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_link_types.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_navigator_settings.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_notification_schemes.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_properties.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_remote_links.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_resolutions.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_security_schemes.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_type_properties.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_type_schemes.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_type_screen_schemes.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_types.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_votes.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_watchers.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issues.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/jira_settings.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/jql.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/permission_schemes.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/permissions.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/project_avatars.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/project_categories.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/project_email.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/project_permission_schemes.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/project_types.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/projects.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/screen_schemes.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/screen_tab_fields.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/screen_tabs.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/server_info.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/time_tracking.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/users.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/workflow_scheme_drafts.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/workflow_scheme_project_associations.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/workflow_schemes.json
  airbyte-integrations/connectors/source-jira/source_jira/streams.py
  docs/integrations/sources/jira.md
Labels: area/documentation, area/connectors, community, connectors/source/jira, bounty

#15368 Fix copy link to logs functionality
  airbyte-webapp/src/components/JobItem/JobItem.tsx
  airbyte-webapp/src/components/JobItem/components/ContentWrapper.tsx
  airbyte-webapp/src/components/JobItem/components/MainInfo.tsx
  airbyte-webapp/src/components/StatusIcon/StatusIcon.test.tsx
  airbyte-webapp/src/components/StatusIcon/StatusIcon.tsx
Labels: area/platform, team/frontend

#15478 Track number of streams in syncs
  airbyte-scheduler/scheduler-persistence/src/main/java/io/airbyte/scheduler/persistence/job_tracker/JobTracker.java
  airbyte-scheduler/scheduler-persistence/src/test/java/io/airbyte/scheduler/persistence/job_tracker/JobTrackerTest.java
Labels: area/platform, area/scheduler

#15314 🐛 Source snowflake: int columns should be discovered as ints
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-snowflake/Dockerfile
  airbyte-integrations/connectors/source-snowflake/src/main/java/io.airbyte.integrations.source.snowflake/SnowflakeSourceOperations.java
  airbyte-integrations/connectors/source-snowflake/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/SnowflakeJdbcSourceAcceptanceTest.java
  docs/integrations/sources/snowflake.md
Labels: area/documentation, area/connectors, connectors/source/snowflake

#15401 Revert "Revert "Release per stream to the OSS project (#15008)" (#151…
  .env
  charts/airbyte/templates/env-configmap.yaml
  kube/overlays/dev-integration-test/.env
  kube/overlays/dev/.env
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable/.env
Labels: area/platform, kubernetes

#15493 Bump Airbyte version from 0.39.42-alpha to 0.40.0-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte-bootloader/Chart.yaml
  charts/airbyte-server/Chart.yaml
  charts/airbyte-temporal/Chart.yaml
  charts/airbyte-webapp/Chart.yaml
  charts/airbyte-worker/Chart.yaml
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/worker, area/platform, kubernetes, area/server, team/frontend

#15469 🐛 Source Amazon Ads: define primary_key for all report streams
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-ads/Dockerfile
  airbyte-integrations/connectors/source-amazon-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/report_streams/products_report.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/report_streams/report_streams.py
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, area/connectors, connectors/source/amazon-ads

#15221 🎉Source Harvest: Added `parent_id` for all streams which have parent stream
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-harvest/Dockerfile
  airbyte-integrations/connectors/source-harvest/source_harvest/schemas/billable_rates.json
  airbyte-integrations/connectors/source-harvest/source_harvest/schemas/cost_rates.json
  airbyte-integrations/connectors/source-harvest/source_harvest/schemas/estimate_messages.json
  airbyte-integrations/connectors/source-harvest/source_harvest/schemas/invoice_messages.json
  airbyte-integrations/connectors/source-harvest/source_harvest/schemas/invoice_payments.json
  airbyte-integrations/connectors/source-harvest/source_harvest/schemas/project_assignments.json
  airbyte-integrations/connectors/source-harvest/source_harvest/streams.py
  docs/integrations/sources/harvest.md
Labels: area/documentation, area/connectors, connectors/source/harvest

#13956 :window: :art: Increases GroupTitle followed divs width from 180px to 250px
  airbyte-webapp/src/components/GroupControls/GroupControls.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/Sections/ConditionSection.module.scss
  airbyte-webapp/src/views/Connector/ServiceForm/components/Sections/ConditionSection.tsx
Labels: area/platform, team/frontend

#15510 fix: Update OSS charts
  charts/airbyte-temporal/templates/deployment.yaml
  charts/airbyte-webapp/templates/ingress.yaml
  charts/airbyte/templates/gcs-log-creds-secret.yaml
Labels: area/platform, kubernetes

#15455 🪟 🧹 Cleanup documentation panel components
  .vscode/frontend.code-workspace
  airbyte-webapp/src/components/DocumentationPanel/DocumentationPanel.module.scss
  airbyte-webapp/src/components/DocumentationPanel/DocumentationPanel.tsx
  airbyte-webapp/src/components/Markdown/Markdown.tsx
  airbyte-webapp/src/components/Markdown/index.ts
  airbyte-webapp/src/components/Markdown/styles.scss
Labels: area/platform, team/frontend

#15484 🪟 🐛 Fix styles impacting global list items in FieldSection component
  airbyte-webapp/src/views/Connection/CatalogDiffModal/components/FieldSection.module.scss
Labels: area/frontend, area/platform, team/frontend

#15486 SAT: compatibility tests for catalogs
  airbyte-integrations/bases/source-acceptance-test/CHANGELOG.md
  airbyte-integrations/bases/source-acceptance-test/Dockerfile
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/config.py
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/conftest.py
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/tests/test_core.py
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/utils/backward_compatibility.py
  airbyte-integrations/bases/source-acceptance-test/unit_tests/test_backward_compatibility.py
  docs/connector-development/testing-connectors/source-acceptance-tests-reference.md
Labels: area/documentation

#15481 fix postgres data handling from WAL logs in CDC mode
  airbyte-db/db-lib/src/main/java/io/airbyte/db/DataTypeUtils.java
  airbyte-db/db-lib/src/main/java/io/airbyte/db/jdbc/AbstractJdbcCompatibleSourceOperations.java
  airbyte-db/db-lib/src/main/java/io/airbyte/db/jdbc/DateTimeConverter.java
  airbyte-integrations/bases/debezium-v1-9-2/src/main/java/io/airbyte/integrations/debezium/internals/DateTimeConverter.java
  airbyte-integrations/bases/debezium-v1-9-2/src/main/java/io/airbyte/integrations/debezium/internals/DebeziumConverterUtils.java
  airbyte-integrations/bases/debezium-v1-9-2/src/main/java/io/airbyte/integrations/debezium/internals/PostgresConverter.java
  airbyte-integrations/bases/standard-source-test/src/main/java/io/airbyte/integrations/standardtest/source/AbstractSourceConnectorTest.java
  airbyte-integrations/bases/standard-source-test/src/main/java/io/airbyte/integrations/standardtest/source/AbstractSourceDatabaseTypeTest.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresCdcProperties.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSourceOperations.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractPostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcInitialSnapshotPostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcWalLogsPostgresSourceDatatypeTest.java
Labels: area/connectors, connectors/source/postgres

#15444 🐛 Source SalesForce: changed `DEFAULT_WAIT_TIMEOUT_SECONDS` to 24-hour limit
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-salesforce/Dockerfile
  airbyte-integrations/connectors/source-salesforce/README.md
  airbyte-integrations/connectors/source-salesforce/source_salesforce/streams.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors, connectors/source/salesforce

#15430 Source MSSQL: special character support in dbname for CDC method
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mssql/Dockerfile
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcTargetPosition.java
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, community, connectors/source/mssql, internal

#15394 Destination S3: add LZO compression support
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-s3/Dockerfile
  airbyte-integrations/connectors/destination-s3/build.gradle
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/util/JavaProcessRunner.java
  airbyte-integrations/connectors/destination-s3/src/test/java/io/airbyte/integrations/destination/s3/parquet/ParquetSerializedBufferTest.java
  docs/integrations/destinations/s3.md
Labels: area/documentation, area/connectors, connectors/destination/s3

#15425 Remove unused field from JsonSchema
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_stream.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/schema/json_schema.py
Labels: CDK

#15293 :tada: Source File - add support for custom encoding
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-file/Dockerfile
  airbyte-integrations/connectors/source-file/integration_tests/sample_files/test_utf16.csv
  airbyte-integrations/connectors/source-file/source_file/client.py
  airbyte-integrations/connectors/source-file/source_file/source.py
  airbyte-integrations/connectors/source-file/unit_tests/test_source.py
  docs/integrations/sources/file.md
Labels: area/documentation, area/connectors, connectors/source/file

#15489 [low-code connectors]: Assert there are no custom top-level fields
  airbyte-cdk/python/airbyte_cdk/sources/declarative/exceptions.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/retrievers/simple_retriever.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/yaml_declarative_source.py
  airbyte-cdk/python/unit_tests/sources/declarative/retrievers/test_simple_retriever.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_yaml_declarative_source.py
  airbyte-integrations/connector-templates/source-configuration-based/source_{{snakeCase name}}/{{snakeCase name}}.yaml.hbs
Labels: CDK

#15496 🐞 Postgres source: fix bug in intermediate state emission
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/StateDecoratingIterator.java
  airbyte-integrations/connectors/source-relational-db/src/test/java/io/airbyte/integrations/source/relationaldb/StateDecoratingIteratorTest.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres, connectors/source/relational-db, connectors/source/postgres-strict-encrypt

#15426 🪟 🔧 Add testing and storybook component for CatalogDiffModal
  airbyte-webapp/src/views/Connection/CatalogDiffModal/CatalogDiffModal.test.tsx
  airbyte-webapp/src/views/Connection/CatalogDiffModal/components/DiffAccordion.tsx
  airbyte-webapp/src/views/Connection/CatalogDiffModal/components/DiffFieldTable.tsx
  airbyte-webapp/src/views/Connection/CatalogDiffModal/components/DiffIconBlock.tsx
  airbyte-webapp/src/views/Connection/CatalogDiffModal/components/DiffSection.tsx
  airbyte-webapp/src/views/Connection/CatalogDiffModal/components/FieldRow.tsx
  airbyte-webapp/src/views/Connection/CatalogDiffModal/components/FieldSection.tsx
  airbyte-webapp/src/views/Connection/CatalogDiffModal/components/StreamRow.tsx
  airbyte-webapp/src/views/Connection/CatalogDiffModal/index.stories.tsx
Labels: area/platform, team/frontend

#15521 :tada: New Source: Hubplanner
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubplanner/.dockerignore
  airbyte-integrations/connectors/source-hubplanner/Dockerfile
  airbyte-integrations/connectors/source-hubplanner/README.md
  airbyte-integrations/connectors/source-hubplanner/acceptance-test-config.yml
  airbyte-integrations/connectors/source-hubplanner/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-hubplanner/build.gradle
  airbyte-integrations/connectors/source-hubplanner/integration_tests/__init__.py
  airbyte-integrations/connectors/source-hubplanner/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-hubplanner/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-hubplanner/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-hubplanner/main.py
  airbyte-integrations/connectors/source-hubplanner/requirements.txt
  airbyte-integrations/connectors/source-hubplanner/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-hubplanner/setup.py
  airbyte-integrations/connectors/source-hubplanner/source_hubplanner/__init__.py
  airbyte-integrations/connectors/source-hubplanner/source_hubplanner/schemas/billing_rates.json
  airbyte-integrations/connectors/source-hubplanner/source_hubplanner/schemas/bookings.json
  airbyte-integrations/connectors/source-hubplanner/source_hubplanner/schemas/clients.json
  airbyte-integrations/connectors/source-hubplanner/source_hubplanner/schemas/events.json
  airbyte-integrations/connectors/source-hubplanner/source_hubplanner/schemas/holidays.json
  airbyte-integrations/connectors/source-hubplanner/source_hubplanner/schemas/projects.json
  airbyte-integrations/connectors/source-hubplanner/source_hubplanner/schemas/resources.json
  airbyte-integrations/connectors/source-hubplanner/source_hubplanner/source.py
  airbyte-integrations/connectors/source-hubplanner/source_hubplanner/spec.json
  airbyte-integrations/connectors/source-hubplanner/unit_tests/__init__.py
  airbyte-integrations/connectors/source-hubplanner/unit_tests/test_source.py
  airbyte-integrations/connectors/source-hubplanner/unit_tests/test_streams.py
  docs/integrations/sources/hubplanner.md
Labels: area/documentation, area/connectors, connectors/source/hubplanner

#15495 Make it possible to specify normalization pod resources.
  .env
  airbyte-config/config-models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/config-models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-container-orchestrator/src/main/java/io/airbyte/container_orchestrator/ContainerOrchestratorApp.java
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerApp.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubeProcessFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/NormalizationActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/SyncWorkflowImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/SyncWorkflowTest.java
  docker-compose.yaml
  kube/overlays/dev/.env
  kube/overlays/stable/.env
  kube/resources/worker.yaml
Labels: area/worker, area/platform, kubernetes
