Repository airbytehq/airbyte, pull requests merged in 2022-03, with the labels that each got.

#10740 Bump Airbyte version from 0.35.40-alpha to 0.35.41-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#10746 Fix connectors build by running gradle format
  airbyte-cdk/python/airbyte_cdk/logger.py
Labels: CDK

#10747 Bump Airbyte version from 0.35.41-alpha to 0.35.42-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#10732 Fix back link on signup page
  airbyte-webapp/src/config/uiConfig.ts
  airbyte-webapp/src/packages/cloud/views/auth/components/Header.tsx
Labels: area/frontend, area/platform

#9744 🎉 Source redshift: implement privileges check
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-redshift/Dockerfile
  airbyte-integrations/connectors/source-redshift/src/main/java/io/airbyte/integrations/source/redshift/RedshiftSource.java
  airbyte-integrations/connectors/source-redshift/src/main/resources/spec.json
  airbyte-integrations/connectors/source-redshift/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/RedshiftJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-redshift/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/RedshiftSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-redshift/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/RedshiftSslSourceAcceptanceTest.java
  docs/integrations/sources/redshift.md
Labels: area/documentation, area/connectors, user-support-eng

#10696 update postgres source version
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
Labels: area/connectors

#10107 fix: nullable connection schedule
  airbyte-api/src/main/openapi/config.yaml
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api, area/platform, community

#10464 #10307 Fixes inconsistent casing on OperationID for Operations API
  airbyte-api/src/main/openapi/config.yaml
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api, area/platform, community

#10757 Display numbers in usage per connection table
  airbyte-webapp/src/components/Table/Table.tsx
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/components/UsageCell.tsx
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/components/UsagePerConnectionTable.tsx
Labels: area/frontend, area/platform

#10677 Add connector stage to dropdown value
  airbyte-webapp/src/components/base/DropDown/components/SingleValue.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/Controls/ConnectorServiceTypeControl.tsx
Labels: area/frontend, area/platform

#10673 Update snowflake destination docs for correct host
  airbyte-integrations/connectors/destination-snowflake/src/main/resources/spec.json
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, community

#10751 📕 source salesforce: fix broken page anchor in spec.json & add guide for adding read only user
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-salesforce/Dockerfile
  airbyte-integrations/connectors/source-salesforce/source_salesforce/spec.json
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors

#10655 🎉 Source facebook-marketing: add activities stream
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/configured_catalog_without_insights.json
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/future_state.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/activities.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/source.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/__init__.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_source.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, community

#10772 Add a note about running only in dev mode on M1
  docs/contributing-to-airbyte/developing-locally.md
Labels: area/documentation

#10715 push failures to segment
  airbyte-commons/src/main/java/io/airbyte/commons/json/Jsons.java
  airbyte-commons/src/test/java/io/airbyte/commons/json/JsonsTest.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/job_tracker/TrackingMetadata.java
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/job_tracker/JobTrackerTest.java
Labels: area/platform, area/scheduler

#10635 Update temporal retention TTL from 7 to 30 days
  airbyte-config/models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalUtils.java
Labels: area/worker, area/platform

#10759 airbyte-workers: add default sidecar cpu request and limit
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
Labels: area/worker, area/platform, community

#10686 close ssh tunnel in case of exception in destination consumer
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/ssh/SshWrappedDestination.java
  airbyte-integrations/connectors/destination-mssql/src/test/java/io/airbyte/integrations/destination/mssql/MSSQLDestinationTest.java
  airbyte-integrations/connectors/destination-mysql/src/main/java/io/airbyte/integrations/destination/mysql/MySQLDestination.java
  airbyte-integrations/connectors/destination-oracle-strict-encrypt/src/test-integration/java/io/airbyte/integrations/destination/oracle_strict_encrypt/OracleStrictEncryptDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-oracle/src/test-integration/java/io/airbyte/integrations/destination/oracle/NneOracleDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-oracle/src/test-integration/java/io/airbyte/integrations/destination/oracle/UnencryptedOracleDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-oracle/src/test/java/io/airbyte/integrations/destination/oracle/OracleDestinationTest.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/RedshiftCopyDestinationAcceptanceTest.java
  airbyte-integrations/connectors/source-cockroachdb/src/test/java/io/airbyte/integrations/source/cockroachdb/CockroachDbJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSource.java
Labels: area/connectors

#10739 Extract event from the temporal worker run factory
  airbyte-scheduler/client/src/main/java/io/airbyte/scheduler/client/EventRunner.java
  airbyte-scheduler/client/src/main/java/io/airbyte/scheduler/client/TemporalEventRunner.java
  airbyte-server/src/main/java/io/airbyte/server/ConfigurationApiFactory.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/main/java/io/airbyte/server/ServerFactory.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/ConnectionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SchedulerHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java
  airbyte-server/src/test/java/io/airbyte/server/apis/ConfigurationApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/ConnectionsHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/SchedulerHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WebBackendConnectionsHandlerTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalClient.java
  airbyte-workers/src/main/java/io/airbyte/workers/worker_run/TemporalWorkerRunFactory.java
Labels: area/worker, area/platform, area/server, area/scheduler

#10778 Bump Airbyte version from 0.35.42-alpha to 0.35.43-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#10776 Added a note about running in dev mode on M1 macs
  docs/deploying-airbyte/local-deployment.md
Labels: area/documentation

#10779 Destination Snowflake Docs: add missing version in changelog
  docs/integrations/destinations/snowflake.md
Labels: area/documentation

#10783 Hide shopify in cloud
  airbyte-webapp/src/views/Connector/ServiceForm/components/Controls/ConnectorServiceTypeControl.tsx
Labels: area/frontend, area/platform

#10789 Bump Airbyte version from 0.35.43-alpha to 0.35.44-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-config/models/src/test/java/io/airbyte/config/helpers/GcsLogsTest.java
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  tools/bin/cloud_storage_logging_test.sh
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#10799 jdbc build fixes
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/source/mysql/MySqlSourceDatatypeTest.java
  airbyte-integrations/connectors/source-mysql/src/test-performance/java/io/airbyte/integrations/source/mysql/FillMySqlTestDbScriptTest.java
  airbyte-integrations/connectors/source-mysql/src/test-performance/java/io/airbyte/integrations/source/mysql/MySqlRdsSourcePerformanceSecretTest.java
  airbyte-integrations/connectors/source-snowflake/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/SnowflakeSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-snowflake/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/SnowflakeSourceDatatypeTest.java
Labels: area/connectors

#10795 feat(chargebee) add credit note model
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-chargebee/Dockerfile
  airbyte-integrations/connectors/source-chargebee/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/credit_note.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/source.py
  airbyte-integrations/connectors/source-chargebee/source_chargebee/streams.py
  docs/integrations/sources/chargebee.md
Labels: area/documentation, area/connectors, community

#10811 Source Chargebee: run format and correct unit test
  airbyte-integrations/connectors/source-chargebee/source_chargebee/source.py
  airbyte-integrations/connectors/source-chargebee/source_chargebee/streams.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/test_source.py
Labels: area/connectors

#10756 🎉 Source Chartmogul: Add CustomerCount stream
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-chartmogul/Dockerfile
  airbyte-integrations/connectors/source-chartmogul/bootstrap.md
  airbyte-integrations/connectors/source-chartmogul/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-chartmogul/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-chartmogul/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-chartmogul/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-chartmogul/source_chartmogul/schemas/customer_count.json
  airbyte-integrations/connectors/source-chartmogul/source_chartmogul/source.py
  airbyte-integrations/connectors/source-chartmogul/source_chartmogul/spec.json
  airbyte-integrations/connectors/source-chartmogul/unit_tests/test_source.py
  docs/integrations/sources/chartmogul.md
Labels: area/documentation, area/connectors, community

#10800 default to no resource limits for OSS
  airbyte-config/models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/JobScheduler.java
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/SchedulerApp.java
  airbyte-scheduler/client/src/main/java/io/airbyte/scheduler/client/DefaultSchedulerJobClient.java
  airbyte-scheduler/client/src/test/java/io/airbyte/scheduler/client/DefaultSchedulerJobClientTest.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/job_factory/DefaultSyncJobFactory.java
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/job_factory/DefaultSyncJobFactoryTest.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerApp.java
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/set-resource-limits.yaml
Labels: area/worker, area/platform, kubernetes, area/server, area/scheduler

#10808 Add autoformat
  airbyte-scheduler/models/src/test/java/io/airbyte/scheduler/models/JobTest.java
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/ResourceRequirementsUtilsTest.java
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/job_factory/DefaultSyncJobFactoryTest.java
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/job_tracker/TrackingMetadataTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/AsyncOrchestratorPodProcess.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalClient.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalUtils.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/LauncherWorker.java
Labels: area/worker, area/platform, area/scheduler

#10818 Bump Airbyte version from 0.35.44-alpha to 0.35.45-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#10486 Set default values as current values in editMode
  airbyte-webapp/src/core/form/uiWidget.test.ts
  airbyte-webapp/src/core/form/uiWidget.ts
  airbyte-webapp/src/views/Connector/ServiceForm/ServiceForm.tsx
Labels: area/frontend, area/platform

#10768 Save signup fields
  airbyte-webapp/src/packages/cloud/lib/auth/GoogleAuthService.ts
  airbyte-webapp/src/packages/cloud/lib/domain/users/UserService.ts
  airbyte-webapp/src/packages/cloud/services/auth/AuthService.tsx
  airbyte-webapp/src/packages/cloud/views/auth/SignupPage/SignupPage.tsx
Labels: area/frontend, area/platform, airbyte-cloud

#10529 Source Woocommerce: fixes
  airbyte-integrations/connectors/source-woocommerce/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-woocommerce/integration_tests/catalog.json
  airbyte-integrations/connectors/source-woocommerce/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-woocommerce/source_woocommerce/schemas/coupons.json
  airbyte-integrations/connectors/source-woocommerce/source_woocommerce/schemas/customers.json
  airbyte-integrations/connectors/source-woocommerce/source_woocommerce/schemas/orders.json
  airbyte-integrations/connectors/source-woocommerce/source_woocommerce/source.py
  airbyte-integrations/connectors/source-woocommerce/source_woocommerce/spec.json
Labels: area/connectors, community

#10791 Source woocommerce: publishing connector
  airbyte-integrations/connectors/source-woocommerce/source_woocommerce/schemas/orders.json
  airbyte-integrations/connectors/source-woocommerce/source_woocommerce/schemas/shared/meta_data.json
  airbyte-integrations/connectors/source-woocommerce/source_woocommerce/spec.json
Labels: area/connectors

#10755 🐛 Handle try/catch in BigQuery destination consumers
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryRecordConsumer.java
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors

#10837 Format code
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mysql/test_nested_streams/first_output/airbyte_incremental/test_normalization/nested_stream_with_co___names_partition_data.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mysql/test_nested_streams/first_output/airbyte_incremental/test_normalization/nested_stream_with_co__ion_double_array_data.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mysql/test_nested_streams/models/generated/airbyte_ctes/test_normalization/nested_stream_with_co_1g_into_long_names_ab2.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mysql/test_nested_streams/second_output/airbyte_incremental/test_normalization/nested_stream_with_co___names_partition_data.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mysql/test_nested_streams/second_output/airbyte_incremental/test_normalization/nested_stream_with_co__ion_double_array_data.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mysql/test_simple_streams/first_output/airbyte_tables/test_normalization/exchange_rate.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mysql/test_simple_streams/first_output/airbyte_views/test_normalization/dedup_exchange_rate_stg.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mysql/test_simple_streams/first_output/airbyte_views/test_normalization/multiple_column_names_conflicts_stg.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mysql/test_simple_streams/models/generated/airbyte_ctes/test_normalization/dedup_exchange_rate_ab2.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mysql/test_simple_streams/second_output/airbyte_tables/test_normalization/exchange_rate.sql
  airbyte-integrations/bases/base-normalization/integration_tests/normalization_test_output/mysql/test_simple_streams/second_output/airbyte_views/test_normalization/dedup_exchange_rate_stg.sql
  airbyte-integrations/connectors/destination-clickhouse-strict-encrypt/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/destination-oracle/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-scaffold-destination-python/destination_scaffold_destination_python/destination.py
  airbyte-integrations/connectors/destination-scaffold-destination-python/setup.py
  airbyte-integrations/connectors/destination-snowflake/src/main/resources/spec.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/credit_note.json
  airbyte-integrations/connectors/source-chartmogul/source_chartmogul/schemas/customer_count.json
  airbyte-integrations/connectors/source-snowflake/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/SnowflakeSourceDatatypeTest.java
  airbyte-integrations/connectors/source-woocommerce/source_woocommerce/schemas/shared/meta_data.json
Labels: area/connectors, normalization

#10851 Update integrations README.md
  docs/integrations/README.md
Labels: area/documentation

#10843 Parker/acceptance test off benoit branch
  .github/workflows/gradle.yml
  airbyte-server/src/main/java/io/airbyte/server/handlers/SchedulerHandler.java
  airbyte-tests/src/acceptanceTests/java/io/airbyte/test/acceptance/AcceptanceTests.java
Labels: area/platform, area/server

#10794 🐛 Source Shopify: Minor specification re-order, fixed links in documentation
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-shopify/Dockerfile
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/abandoned_checkouts.json
  airbyte-integrations/connectors/source-shopify/source_shopify/spec.json
  docs/integrations/sources/shopify.md
Labels: type/bug, area/documentation, area/connectors

#10868 raise timeout on flaky test
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowTest.java
Labels: area/worker, area/platform

#10869 Bump Airbyte version from 0.35.45-alpha to 0.35.46-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#10846 Fix instructions for running acceptance tests
  docs/contributing-to-airbyte/developing-locally.md
Labels: area/documentation

#10827 Source Chargebee: fix credit note model
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-chargebee/Dockerfile
  airbyte-integrations/connectors/source-chargebee/source_chargebee/streams.py
  docs/integrations/sources/chargebee.md
Labels: area/documentation, area/connectors, community

#10771 Fix connection UI regressions
  airbyte-webapp/src/views/Connection/ConnectionForm/TransferFormCard.tsx
Labels: area/frontend, area/platform

#10855 Fix redshift and oracle acceptance tests
  airbyte-integrations/bases/base-java/src/test/java/io/airbyte/integrations/base/IntegrationRunnerTest.java
  airbyte-integrations/connectors/destination-scaffold-destination-python/destination_scaffold_destination_python/destination.py
  airbyte-integrations/connectors/destination-scaffold-destination-python/setup.py
  airbyte-integrations/connectors/source-oracle-strict-encrypt/src/test-integration/java/io/airbyte/integrations/source/oracle_strict_encrypt/OracleSourceNneAcceptanceTest.java
  airbyte-integrations/connectors/source-oracle-strict-encrypt/src/test-integration/java/io/airbyte/integrations/source/oracle_strict_encrypt/OracleStrictEncryptSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-oracle/src/test-integration/java/io/airbyte/integrations/source/oracle/OracleSourceNneAcceptanceTest.java
  airbyte-integrations/connectors/source-redshift/src/main/java/io/airbyte/integrations/source/redshift/RedshiftSource.java
  airbyte-integrations/connectors/source-redshift/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/RedshiftSslSourceAcceptanceTest.java
Labels: area/connectors

#10876 Rm remaining merge conflict in comments
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
Labels: area/worker, area/platform

#10754 Destination Clickhouse: enable normalization for Secure connections
  airbyte-integrations/bases/base-normalization/Dockerfile
  airbyte-integrations/bases/base-normalization/normalization/transform_config/transform.py
  airbyte-integrations/bases/base-normalization/unit_tests/test_transform_config.py
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/NormalizationRunnerFactory.java
Labels: area/worker, normalization, area/platform, community

#10707 🐛 Source Hubspot: Removed stage history from deals stream
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_source.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, community

#10320 Jamakase/select default sync modes
  airbyte-webapp/src/components/Markdown/__mocks__/Markdown.tsx
  airbyte-webapp/src/components/Markdown/__mocks__/index.ts
  airbyte-webapp/src/core/domain/catalog/api.ts
  airbyte-webapp/src/setupTests.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/ConnectionForm.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/formConfig.test.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/formConfig.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/ServiceForm.test.tsx
Labels: area/frontend, area/platform

#10849 :bug: Snowflake source - Fixed timestamp cursor for
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-snowflake/Dockerfile
  airbyte-integrations/connectors/source-snowflake/src/main/java/io.airbyte.integrations.source.snowflake/SnowflakeSourceOperations.java
Labels: area/connectors

#10703 🐙 octavia-cli: implement `apply`
  octavia-cli/README.md
  octavia-cli/integration_tests/test_generate/__init__.py
  octavia-cli/integration_tests/test_generate/conftest.py
  octavia-cli/integration_tests/test_generate/expected_rendered_yaml/destination_postgres/expected.yaml
  octavia-cli/integration_tests/test_generate/expected_rendered_yaml/destination_postgres/input_spec.yaml
  octavia-cli/integration_tests/test_generate/expected_rendered_yaml/destination_s3/expected.yaml
  octavia-cli/integration_tests/test_generate/expected_rendered_yaml/destination_s3/input_spec.yaml
  octavia-cli/integration_tests/test_generate/expected_rendered_yaml/source_postgres/expected.yaml
  octavia-cli/integration_tests/test_generate/expected_rendered_yaml/source_postgres/input_spec.yaml
  octavia-cli/integration_tests/test_generate/test_renderer.py
  octavia-cli/octavia_cli/apply/__init__.py
  octavia-cli/octavia_cli/apply/commands.py
  octavia-cli/octavia_cli/apply/diff_helpers.py
  octavia-cli/octavia_cli/apply/resources.py
  octavia-cli/octavia_cli/check_context.py
  octavia-cli/octavia_cli/entrypoint.py
  octavia-cli/octavia_cli/generate/commands.py
  octavia-cli/octavia_cli/generate/renderer.py
  octavia-cli/setup.py
  octavia-cli/unit_tests/__init__.py
  octavia-cli/unit_tests/conftest.py
  octavia-cli/unit_tests/test_apply/__init__.py
  octavia-cli/unit_tests/test_apply/test_commands.py
  octavia-cli/unit_tests/test_apply/test_diff_helpers.py
  octavia-cli/unit_tests/test_apply/test_resources.py
  octavia-cli/unit_tests/test_check_context.py
  octavia-cli/unit_tests/test_entrypoint.py
  octavia-cli/unit_tests/test_generate/__init__.py
  octavia-cli/unit_tests/test_generate/test_commands.py
  octavia-cli/unit_tests/test_generate/test_definitions.py
  octavia-cli/unit_tests/test_generate/test_renderer.py
  octavia-cli/unit_tests/test_init/__init__.py
  octavia-cli/unit_tests/test_init/test_commands.py
  octavia-cli/unit_tests/test_list/__init__.py
  octavia-cli/unit_tests/test_list/test_commands.py
  octavia-cli/unit_tests/test_list/test_formatting.py
  octavia-cli/unit_tests/test_list/test_listings.py
Labels: area/octavia-cli, user-support-eng

#10884 Add failure origin metric.
  airbyte-metrics/lib/src/main/java/io/airbyte/metrics/lib/MetricTags.java
  airbyte-metrics/lib/src/main/java/io/airbyte/metrics/lib/MetricsRegistry.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityImpl.java
Labels: area/worker, area/platform

#10921 Use variable instead of hard coded value
  docs/deploying-airbyte/on-gcp-compute-engine.md
Labels: area/documentation, community

#10927 Disable flaky test
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowTest.java
Labels: area/worker, area/platform

#9742 Allow slash commands on PRs from forks
  .github/workflows/gke-kube-test-command.yml
  .github/workflows/publish-cdk-command.yml
  .github/workflows/publish-command.yml
  .github/workflows/publish-external-command.yml
  .github/workflows/run-specific-test-command.yml
  .github/workflows/slash-commands.yml
  .github/workflows/test-command.yml
  .github/workflows/test-performance-command.yml
Labels: build

#10882 🐙 octavia-cli: use yaml safe load
  octavia-cli/integration_tests/test_generate/test_renderer.py
  octavia-cli/octavia_cli/apply/resources.py
  octavia-cli/unit_tests/test_apply/test_resources.py
Labels: area/octavia-cli

#9866 🎉 Recurly Schema Revamp
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-recurly/Dockerfile
  airbyte-integrations/connectors/source-recurly/acceptance-test-config.yml
  airbyte-integrations/connectors/source-recurly/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-recurly/integration_tests/future_state.json
  airbyte-integrations/connectors/source-recurly/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/account_coupon_redemptions.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/account_notes.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/accounts.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/add_ons.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/billing_infos.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/coupons.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/credit_payments.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/export_dates.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/invoices.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/line_items.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/measured_units.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/plans.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/shipping_addresses.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/shipping_methods.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/subscriptions.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/transactions.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/unique_coupons.json
  airbyte-integrations/connectors/source-recurly/source_recurly/source.py
  airbyte-integrations/connectors/source-recurly/source_recurly/spec.json
  airbyte-integrations/connectors/source-recurly/source_recurly/streams.py
  airbyte-integrations/connectors/source-recurly/unit_tests/test_streams.py
  docs/integrations/sources/recurly.md
Labels: area/documentation, area/connectors, community

#10957 Bump Airbyte version from 0.35.46-alpha to 0.35.47-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#10864 Bmoric/fix failure reset restart follow up
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalClient.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionUpdaterInput.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowTest.java
Labels: area/worker, area/platform

#10918 Update deployment.yaml added checksum/config annotation
  charts/airbyte/templates/pod-sweeper/deployment.yaml
Labels: area/platform, kubernetes, community

#10923 :bug: Fix ExternalDB settings are not passed to temporal deployment
  charts/airbyte/templates/external-db.yaml
Labels: area/platform, kubernetes, community

#10806 Add test that check that we continue a reset as a reset if it failed
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalClient.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflow.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionUpdaterInput.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/state/WorkflowState.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/state/listener/WorkflowStateChangedListener.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/testsyncworkflow/SyncWorkflowFailingOutputWorkflow.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/testsyncworkflow/SyncWorkflowFailingWithHearbeatTimeoutException.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/testsyncworkflow/SyncWorkflowWithActivityFailureException.java
Labels: area/worker, area/platform

#10970 Fixes a typo in airbyte_protocol.yaml
  airbyte-protocol/models/src/main/resources/airbyte_protocol/airbyte_protocol.yaml
Labels: area/platform, area/protocol, community

#10915 🐛 Source Shopify: Improve SubStream state handling
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-shopify/Dockerfile
  airbyte-integrations/connectors/source-shopify/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-shopify/integration_tests/state.json
  airbyte-integrations/connectors/source-shopify/source_shopify/source.py
  airbyte-integrations/connectors/source-shopify/source_shopify/utils.py
  airbyte-integrations/connectors/source-shopify/unit_tests/test_cached_stream_state.py
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors

#10983 📝 Document java connector memory profiling
  docs/SUMMARY.md
  docs/connector-development/tutorials/profile-java-connector-memory.md
Labels: area/documentation

#10475 Add connector metadata as sentry tags
  airbyte-cdk/python/airbyte_cdk/models/airbyte_protocol.py
  airbyte-commons/src/main/java/io/airbyte/commons/version/AirbyteVersion.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-config/models/src/main/java/io/airbyte/config/WorkerEnvConstants.java
  airbyte-config/models/src/test/java/io/airbyte/config/EnvConfigsTest.java
  airbyte-integrations/bases/airbyte-protocol/airbyte_protocol/models/airbyte_protocol.py
  airbyte-integrations/bases/base-java/build.gradle
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/IntegrationRunner.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/JavaBaseConstants.java
  airbyte-integrations/bases/base-java/src/test/java/io/airbyte/integrations/base/IntegrationRunnerTest.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-dev-null/Dockerfile
  airbyte-integrations/connectors/destination-e2e-test/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/source-e2e-test-cloud/Dockerfile
  airbyte-integrations/connectors/source-e2e-test/Dockerfile
  airbyte-workers/src/main/java/io/airbyte/workers/DbtTransformationRunner.java
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/DefaultNormalizationRunner.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/AirbyteIntegrationLauncher.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/DockerProcessFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubeProcessFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/ProcessFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/OrchestratorConstants.java
  airbyte-workers/src/main/java/io/airbyte/workers/test_helpers/EntrypointEnvChecker.java
  airbyte-workers/src/test-integration/java/io/airbyte/workers/process/KubePodProcessIntegrationTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/normalization/DefaultNormalizationRunnerTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/process/AirbyteIntegrationLauncherTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/process/DockerProcessFactoryTest.java
  octavia-cli/octavia_cli/generate/yaml_dumpers.py
Labels: area/connectors, area/worker, CDK, area/platform

#10883 Fix incorrect path selection for oneOf cases in jsonschema
  airbyte-webapp/src/core/jsonSchema/schemaToYup.test.ts
  airbyte-webapp/src/core/jsonSchema/schemaToYup.ts
Labels: area/frontend, area/platform

#10823 🐙 octavia-cli: package and install script
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/octavia_cli/entrypoint.py
  octavia-cli/octavia_cli/generate/renderers.py
  octavia-cli/octavia_cli/generate/templates/connection.yaml.j2
  octavia-cli/octavia_cli/generate/templates/source_or_destination.yaml.j2
  octavia-cli/octavia_cli/list/commands.py
  octavia-cli/publish.sh
  octavia-cli/setup.py
Labels: area/octavia-cli

#10885 🐙 octavia-cli: secret management
  octavia-cli/README.md
  octavia-cli/integration_tests/test_generate/expected_rendered_yaml/destination_postgres/expected.yaml
  octavia-cli/integration_tests/test_generate/expected_rendered_yaml/destination_s3/expected.yaml
  octavia-cli/integration_tests/test_generate/expected_rendered_yaml/source_postgres/expected.yaml
  octavia-cli/octavia_cli/apply/diff_helpers.py
  octavia-cli/octavia_cli/apply/resources.py
  octavia-cli/octavia_cli/apply/yaml_loaders.py
  octavia-cli/octavia_cli/generate/renderers.py
  octavia-cli/octavia_cli/generate/templates/source_or_destination.yaml.j2
  octavia-cli/unit_tests/test_apply/test_diff_helpers.py
  octavia-cli/unit_tests/test_apply/test_resources.py
  octavia-cli/unit_tests/test_apply/test_yaml_loaders.py
  octavia-cli/unit_tests/test_generate/test_renderers.py
Labels: area/octavia-cli

#10997 🐛 octavia-cli: [install.sh] read for user input from /dev/tty
  octavia-cli/install.sh
Labels: area/octavia-cli

#10998 Fix unit test failures from env configs
  airbyte-commons/src/main/java/io/airbyte/commons/lang/Exceptions.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-workers/src/test/java/io/airbyte/workers/process/AirbyteIntegrationLauncherTest.java
Labels: area/worker, area/platform

#11006 📝 Add connector-name examples in java profiling doc
  docs/connector-development/tutorials/profile-java-connector-memory.md
Labels: area/documentation

#11000 🐛 octavia-cli: do not use deepcopy in `_get_comparable_configuration`
  octavia-cli/octavia_cli/apply/resources.py
Labels: type/bug, area/octavia-cli

#11007 Bump Airbyte version from 0.35.47-alpha to 0.35.48-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#10875 Use ContainerRequestContext to pass requestBody between request and response filter
  airbyte-server/src/main/java/io/airbyte/server/RequestLogger.java
  airbyte-server/src/test/java/io/airbyte/server/RequestLoggerTest.java
Labels: area/platform, area/server

#11001 Enable reproducible archives in server and bootloader build
  airbyte-bootloader/build.gradle
  airbyte-server/build.gradle
  build.gradle
Labels: area/platform, area/server

#11014 Bump Airbyte version from 0.35.48-alpha to 0.35.49-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#10766 🐛 Source Github: add new stream `ProjectCards`
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/acceptance-test-config.yml
  airbyte-integrations/connectors/source-github/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-github/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-github/source_github/schemas/project_cards.json
  airbyte-integrations/connectors/source-github/source_github/schemas/project_columns.json
  airbyte-integrations/connectors/source-github/source_github/source.py
  airbyte-integrations/connectors/source-github/source_github/streams.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors

#10917 🐛 Source Facebook Marketing: Add temporary OAuth error handling
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/common.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_client.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors

#10761 airbyte-workers: add /tmp emptyDir volume to connector pods
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
Labels: area/worker, area/platform, community, on-hold

#11002 🐛 octavia-cli: update readme
  octavia-cli/README.md
Labels: area/octavia-cli

#10878 🐛 Source Github: Fix error handling for 404 streams
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
  airbyte-integrations/connectors/source-github/unit_tests/utils.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors

#11005 🐙 octavia-cli: create octavia env file during install
  octavia-cli/install.sh
Labels: type/enhancement, area/octavia-cli

#11012 Docs: add troubleshooting for mysql
  docs/integrations/destinations/mysql.md
  docs/integrations/sources/mysql.md
Labels: area/documentation

#10839 🎉 Source Orb: support enriching ledger entries with numeric properties
  airbyte-config/init/src/main/resources/icons/orb.svg
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-orb/Dockerfile
  airbyte-integrations/connectors/source-orb/bootstrap.md
  airbyte-integrations/connectors/source-orb/source_orb/schemas/credits_ledger_entries.json
  airbyte-integrations/connectors/source-orb/source_orb/schemas/customers.json
  airbyte-integrations/connectors/source-orb/source_orb/schemas/plans.json
  airbyte-integrations/connectors/source-orb/source_orb/schemas/subscriptions.json
  airbyte-integrations/connectors/source-orb/source_orb/source.py
  airbyte-integrations/connectors/source-orb/source_orb/spec.json
  airbyte-integrations/connectors/source-orb/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-orb/unit_tests/test_streams.py
  docs/integrations/sources/orb.md
Labels: area/documentation, area/connectors, community

#11044 📝 Edited Kubernetes Documentation
  docs/deploying-airbyte/on-kubernetes.md
Labels: area/documentation, community

#11050 Bump Airbyte version from 0.35.49-alpha to 0.35.50-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#10780 Remove the attemptId notion in the connectionManagerWorkflow
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/JobPersistence.java
  airbyte-workers/build.gradle
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/GenerateInputActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/GenerateInputActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/state/WorkflowInternalState.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/WorkflowReplayingTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityTest.java
  airbyte-workers/src/test/resources/workflowHistory.json
Labels: area/worker, area/platform, area/scheduler

#11053 Revert "add /tmp emptyDir volume to connector pods (#10761)"
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
Labels: area/worker, area/platform

#11013 Put getState() and isRunning() call within same try/catch block
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalClient.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/TemporalClientTest.java
Labels: area/worker, area/platform

#11057 Revert "Remove the attemptId notion in the connectionManagerWorkflow"
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/JobPersistence.java
  airbyte-workers/build.gradle
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/GenerateInputActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/GenerateInputActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/state/WorkflowInternalState.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/WorkflowReplayingTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityTest.java
  airbyte-workers/src/test/resources/workflowHistory.json
Labels: area/worker, area/platform, area/scheduler

#11059 Bump Airbyte version from 0.35.50-alpha to 0.35.51-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#10865 Refactor Snowflake internal Staging as a base class for other staging classes
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination/ExtendedNameTransformer.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination/NamingConventionTransformer.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination/StandardNameTransformer.java
  airbyte-integrations/connector-templates/destination-python/destination_{{snakeCase name}}/destination.py.hbs
  airbyte-integrations/connector-templates/destination-python/setup.py
  airbyte-integrations/connectors/destination-clickhouse/src/main/java/io/airbyte/integrations/destination/clickhouse/ClickhouseSQLNameTransformer.java
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksNameTransformer.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/WriteConfig.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/staging/StagingConsumerFactory.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/staging/StagingOperations.java
  airbyte-integrations/connectors/destination-mariadb-columnstore/src/main/java/io/airbyte/integrations/destination/mariadb_columnstore/MariadbColumnstoreNameTransformer.java
  airbyte-integrations/connectors/destination-mongodb/src/main/java/io/airbyte/integrations/destination/mongodb/MongodbNameTransformer.java
  airbyte-integrations/connectors/destination-mssql/src/main/java/io/airbyte/integrations/destination/mssql/MSSQLNameTransformer.java
  airbyte-integrations/connectors/destination-mysql/src/main/java/io/airbyte/integrations/destination/mysql/MySQLNameTransformer.java
  airbyte-integrations/connectors/destination-oracle/src/main/java/io/airbyte/integrations/destination/oracle/OracleNameTransformer.java
  airbyte-integrations/connectors/destination-postgres/src/main/java/io/airbyte/integrations/destination/postgres/PostgresSQLNameTransformer.java
  airbyte-integrations/connectors/destination-rockset/src/main/java/io/airbyte/integrations/destination/rockset/RocksetSQLNameTransformer.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3DestinationConfig.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/avro/AvroNameTransformer.java
  airbyte-integrations/connectors/destination-scaffold-destination-python/destination_scaffold_destination_python/destination.py
  airbyte-integrations/connectors/destination-scaffold-destination-python/setup.py
  airbyte-integrations/connectors/destination-snowflake/README.md
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingSqlOperations.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeSQLNameTransformer.java
  airbyte-integrations/connectors/destination-snowflake/src/test/java/io/airbyte/integrations/destination/snowflake/SnowflakeDestinationTest.java
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  airbyte-integrations/connectors/source-recurly/.python-version
  airbyte-integrations/connectors/source-recurly/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/accounts.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/subscriptions.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/transactions.json
  airbyte-integrations/connectors/source-recurly/source_recurly/spec.json
  airbyte-integrations/connectors/source-shopify/integration_tests/state.json
  airbyte-integrations/connectors/source-shopify/source_shopify/source.py
  airbyte-integrations/connectors/source-snowflake/src/main/java/io.airbyte.integrations.source.snowflake/SnowflakeSourceOperations.java
  airbyte-workers/src/main/java/io/airbyte/workers/DefaultReplicationWorker.java
Labels: area/connectors, area/worker, area/platform

#10699 Snowflake destination: added unit tests
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeDestinationResolver.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingSqlOperations.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeGcsCopyDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeInsertDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingDestinatiomAcceptanceTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeS3CopyDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test/java/io/airbyte/integrations/destination/snowflake/SnowflakeDestinationTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test/java/io/airbyte/integrations/destination/snowflake/SnowflakeGCSStreamCopierTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingSqlOperationsTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test/java/io/airbyte/integrations/destination/snowflake/SnowflakeS3StreamCopierTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test/java/io/airbyte/integrations/destination/snowflake/SnowflakeSqlOperationsTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test/resources/copy_gcs_config.json
  airbyte-integrations/connectors/destination-snowflake/src/test/resources/copy_s3_config.json
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors

#11073 Revert "Revert "Remove the attemptId notion in the connectionManagerWorkflow""
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/JobPersistence.java
  airbyte-workers/build.gradle
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/GenerateInputActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/GenerateInputActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/state/WorkflowInternalState.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/WorkflowReplayingTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityTest.java
  airbyte-workers/src/test/resources/workflowHistory.json
Labels: area/worker, area/platform, area/scheduler

#10773 Remove deprecated FailureReason enum values
  airbyte-api/src/main/openapi/config.yaml
  airbyte-bootloader/src/test/java/io/airbyte/bootloader/BootloaderAppTest.java
  airbyte-config/models/src/main/resources/types/FailureReason.yaml
  airbyte-db/lib/src/main/java/io/airbyte/db/instance/jobs/migrations/V0_35_40_001__MigrateFailureReasonEnumValues.java
  airbyte-db/lib/src/main/java/io/airbyte/db/instance/jobs/migrations/V0_35_5_001__Add_failureSummary_col_to_Attempts.java
  airbyte-db/lib/src/test/java/io/airbyte/db/instance/jobs/migrations/V0_35_40_001_MigrateFailureReasonEnumValues_Test.java
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/job_tracker/JobTrackerTest.java
Labels: area/api, area/platform, area/scheduler

#11075 Bump Airbyte version from 0.35.51-alpha to 0.35.52-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#10856 destination-s3: add a test for listObjects permission on destination bucket
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-s3/Dockerfile
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3Destination.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3DestinationConfig.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3DestinationConfigFactory.java
  airbyte-integrations/connectors/destination-s3/src/test/java/io/airbyte/integrations/destination/s3/S3DestinationTest.java
  docs/integrations/destinations/s3.md
Labels: area/documentation, area/connectors

#11081 Revert "Revert "Revert "Remove the attemptId notion in the connectionManagerWorkflow"""
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/JobPersistence.java
  airbyte-workers/build.gradle
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/GenerateInputActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/GenerateInputActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/state/WorkflowInternalState.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/WorkflowReplayingTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityTest.java
  airbyte-workers/src/test/resources/workflowHistory.json
Labels: area/worker, area/platform, area/scheduler

#11080 Revert "Jamakase/select default sync modes"
  airbyte-webapp/src/components/Markdown/__mocks__/Markdown.tsx
  airbyte-webapp/src/components/Markdown/__mocks__/index.ts
  airbyte-webapp/src/core/domain/catalog/api.ts
  airbyte-webapp/src/setupTests.ts
  airbyte-webapp/src/views/Connection/ConnectionForm/ConnectionForm.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/formConfig.test.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/formConfig.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/ServiceForm.test.tsx
Labels: area/frontend, area/platform

#11085 Bump Airbyte version from 0.35.52-alpha to 0.35.53-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#9290 add pod name to logs when KubePodProcess fails because pod was not found
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
Labels: area/worker, area/platform

#8898 Extract secrets handling out of ConfigRepository
  airbyte-bootloader/src/main/java/io/airbyte/bootloader/BootloaderApp.java
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/SecretsRepositoryReader.java
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/SecretsRepositoryWriter.java
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/split_secrets/MemorySecretPersistence.java
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/split_secrets/SecretsHelpers.java
  airbyte-config/persistence/src/test/java/io/airbyte/config/persistence/ConfigRepositoryE2EReadWriteTest.java
  airbyte-config/persistence/src/test/java/io/airbyte/config/persistence/ConfigRepositoryTest.java
  airbyte-config/persistence/src/test/java/io/airbyte/config/persistence/SecretsRepositoryReaderTest.java
  airbyte-config/persistence/src/test/java/io/airbyte/config/persistence/SecretsRepositoryWriterTest.java
  airbyte-scheduler/app/src/main/java/io/airbyte/scheduler/app/SchedulerApp.java
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/WorkspaceHelperTest.java
  airbyte-server/src/main/java/io/airbyte/server/ConfigDumpExporter.java
  airbyte-server/src/main/java/io/airbyte/server/ConfigDumpImporter.java
  airbyte-server/src/main/java/io/airbyte/server/ConfigurationApiFactory.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/main/java/io/airbyte/server/ServerFactory.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/converters/ConfigurationUpdate.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/ArchiveHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/DestinationHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SchedulerHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SourceHandler.java
  airbyte-server/src/test/java/io/airbyte/server/ConfigDumpImporterTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/ConfigurationApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/converters/ConfigurationUpdateTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/ArchiveHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/DestinationHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/SchedulerHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/SourceHandlerTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerApp.java
Labels: area/worker, area/platform, area/server, area/scheduler

#8893 Add readmes to all gradle modules
  airbyte-analytics/readme.md
  airbyte-api/readme.md
  airbyte-bootloader/readme.md
  airbyte-cli/readme.md
  airbyte-commons-cli/readme.md
  airbyte-commons-docker/readme.md
  airbyte-commons/build.gradle
  airbyte-commons/readme.md
  airbyte-config/init/readme.md
  airbyte-config/persistence/readme.md
  airbyte-container-orchestrator/readme.md
  airbyte-integrations/bases/readme.md
  airbyte-json-validation/readme.md
  airbyte-metrics/readme.md
  airbyte-notification/readme.md
  airbyte-oauth/readme.md
  airbyte-protocol/readme.md
  airbyte-queue/readme.md
  airbyte-scheduler/app/readme.md
  airbyte-scheduler/client/readme.md
  airbyte-scheduler/models/readme.md
  airbyte-scheduler/persistence/readme.md
  airbyte-server/readme.md
  airbyte-temporal/README.md
  airbyte-test-utils/readme.md
  airbyte-tests/readme.md
  airbyte-webapp/README.md
  airbyte-workers/README.md
  buildSrc/readme.md
  charts/airbyte/README.md
  docs/readme.md
  tools/README.md
Labels: area/documentation, area/frontend, area/api, area/worker, area/platform, area/protocol, kubernetes, area/server, area/scheduler

#11033 Credit label
  airbyte-webapp/src/components/BarChart/BarChart.tsx
Labels: area/frontend, area/platform

#11032 Skip feedback dialog permanently
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/OnboardingPage/components/FinalStep.tsx
  airbyte-webapp/src/views/Feedback/SyncCompletedModal/components/ModalBody.tsx
Labels: area/frontend, area/platform

#11066 Send analytics event on opening connector selection
  airbyte-webapp/src/hooks/services/Analytics/__mocks__/index.ts
  airbyte-webapp/src/hooks/services/Analytics/__mocks__/useAnalyticsService.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/ServiceForm.test.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/Controls/ConnectorServiceTypeControl.tsx
Labels: area/frontend, area/platform

#10341 :tada: Destination Snowflake: add Azure Blob Staging
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-jdbc/Dockerfile
  airbyte-integrations/connectors/destination-jdbc/build.gradle
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/azure/AzureBlobStorageConfig.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/azure/AzureBlobStorageStreamCopier.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/azure/AzureBlobStorageStreamCopierFactory.java
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/README.md
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeAzureBlobStorageStreamCopier.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeAzureBlobStorageStreamCopierFactory.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeCopyAzureBlobStorageDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeDestinationResolver.java
  airbyte-integrations/connectors/destination-snowflake/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeAzureBlobCopyDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test/java/io/airbyte/integrations/destination/snowflake/SnowflakeAzureBlobStreamCopierTest.java
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors

#11108 🐛 Source Facebook Marketing: Add new permission to OAuth flow
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/facebook/FacebookMarketingOAuthFlow.java
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation

#11106 🎉Source Facebook Marketing: Docs refactoring
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/spec.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors

#11112 incorrect line number
  docs/connector-development/tutorials/cdk-tutorial-python-http/3-define-inputs.md
Labels: area/documentation, community

#11082 Greg/source connector guide
  airbyte-integrations/connectors/source-stock-ticker-api-tutorial/Dockerfile
  airbyte-integrations/connectors/source-stock-ticker-api-tutorial/source.py
  airbyte-integrations/connectors/source-stock-ticker-api-tutorial/spec.json
  docs/.gitbook/assets/newsourcetutorial_add_destination.png
  docs/.gitbook/assets/newsourcetutorial_add_destination_new_destination.png
  docs/.gitbook/assets/newsourcetutorial_admin_page.png
  docs/.gitbook/assets/newsourcetutorial_configure_connection.png
  docs/.gitbook/assets/newsourcetutorial_connection_done.png
  docs/.gitbook/assets/newsourcetutorial_destination_config.png
  docs/.gitbook/assets/newsourcetutorial_find_your_connector.png
  docs/.gitbook/assets/newsourcetutorial_first_sync.png
  docs/.gitbook/assets/newsourcetutorial_launchsync.png
  docs/.gitbook/assets/newsourcetutorial_new_connector_modal.png
  docs/.gitbook/assets/newsourcetutorial_schema_select.png
  docs/.gitbook/assets/newsourcetutorial_settings_page.png
  docs/.gitbook/assets/newsourcetutorial_settings_sources_newconnector.png
  docs/.gitbook/assets/newsourcetutorial_sidebar_admin.png
  docs/.gitbook/assets/newsourcetutorial_sidebar_settings.png
  docs/.gitbook/assets/newsourcetutorial_source_config.png
  docs/.gitbook/assets/newsourcetutorial_sources_navbar.png
  docs/.gitbook/assets/newsourcetutorial_sources_page.png
  docs/.gitbook/assets/newsourcetutorial_sources_stock_ticker.png
  docs/.gitbook/assets/newsourcetutorial_syncdetail.png
  docs/connector-development/tutorials/build-a-connector-the-hard-way.md
Labels: area/documentation, area/connectors

#11077 🐛 Destination BigQuery: Handle embedded project ID in dataset ID during normalization
  airbyte-integrations/bases/base-normalization/Dockerfile
  airbyte-integrations/bases/base-normalization/normalization/transform_config/transform.py
  airbyte-integrations/bases/base-normalization/snowflake.Dockerfile
  airbyte-integrations/bases/base-normalization/unit_tests/test_transform_config.py
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/NormalizationRunnerFactory.java
  docs/understanding-airbyte/basic-normalization.md
Labels: area/documentation, area/worker, normalization, area/platform

#11091 Bump Airbyte version from 0.35.53-alpha to 0.35.54-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#10700 🐛 Source Hubspot: Handled 10K+ search-endpoint queries
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_source.py
Labels: area/connectors, community

#11127 Publish PR 10700: source hubspot handle 10k+ records
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_source.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors

#10889 Feat: first cut to allow naming for connections
  airbyte-api/src/main/openapi/config.yaml
  airbyte-bootloader/src/test/java/io/airbyte/bootloader/BootloaderAppTest.java
  airbyte-db/lib/src/main/java/io/airbyte/db/instance/configs/migrations/V0_35_49_001__ChangeDefaultConnectionName.java
  airbyte-server/src/main/java/io/airbyte/server/converters/ApiPojoConverters.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/ConnectionsHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WebBackendConnectionsHandlerTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/helper/ConnectionHelper.java
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api, area/worker, area/platform, area/server

#11153 Harshith/connection updates
  airbyte-api/src/main/openapi/config.yaml
  airbyte-bootloader/src/test/java/io/airbyte/bootloader/BootloaderAppTest.java
  airbyte-db/lib/src/main/java/io/airbyte/db/instance/configs/migrations/V0_35_54_001__ChangeDefaultConnectionName.java
  airbyte-server/src/main/java/io/airbyte/server/converters/ApiPojoConverters.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/ConnectionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/ConnectionsHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WebBackendConnectionsHandlerTest.java
  airbyte-tests/src/automaticMigrationAcceptanceTest/java/io/airbyte/test/automaticMigrationAcceptance/MigrationAcceptanceTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/helper/ConnectionHelper.java
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api, area/worker, area/platform, area/server

#11118 Revert "Revert "Revert "Revert "Remove the attemptId notion in the connectionManagerWorkflow""""
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/JobPersistence.java
  airbyte-workers/build.gradle
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/GenerateInputActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/GenerateInputActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/state/WorkflowInternalState.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/WorkflowReplayingTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityTest.java
  airbyte-workers/src/test/resources/workflowHistory.json
Labels: area/worker, area/platform, area/scheduler

#11121 🎉 Source HubSpot: Set Primary keys for streams with an identifier
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/README.md
  airbyte-integrations/connectors/source-hubspot/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors

#11161 Remove dependency and move helper to the right spot.
  airbyte-server/src/main/java/io/airbyte/server/converters/ApiPojoConverters.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/ConnectionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SchedulerHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/helpers/CatalogConverter.java
  airbyte-server/src/test/java/io/airbyte/server/converters/CatalogConverterTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/ConnectionsHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/helpers/ConnectionHelpers.java
  airbyte-workers/build.gradle
Labels: area/worker, area/platform, area/server

#11155 🐛 octavia-cli: fix interactive octavia, set version to 0.1.0, update readme
  octavia-cli/README.md
  octavia-cli/install.sh
Labels: area/octavia-cli

#11185 Small wording change in menu
  airbyte-webapp/src/locales/en.json
Labels: area/frontend, area/platform

#11068 Decrease connector stage warning severity
  airbyte-webapp/src/config/uiConfig.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/theme.ts
  airbyte-webapp/src/views/Connector/ServiceForm/components/WarningMessage.tsx
Labels: area/frontend, area/platform

#11105 🐛 Source Hubspot: fix casting of float numbers
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_field_type_converting.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors

#11162 🎉 Source Zendesk-Support: Implement `OAuth2.0`
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-zendesk-support/Dockerfile
  airbyte-integrations/connectors/source-zendesk-support/README.md
  airbyte-integrations/connectors/source-zendesk-support/acceptance-test-config.yml
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/source.py
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/spec.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/streams.py
  airbyte-oauth/src/main/java/io/airbyte/oauth/OAuthImplementationFactory.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/ZendeskSupportOAuthFlow.java
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors

#11159 Fix frequency form
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/ReplicationView.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/ConnectionForm.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/TransferFormCard.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/formConfig.tsx
Labels: area/frontend, area/platform

#11107 Use Segment token from window if available
  airbyte-webapp/src/config/configProviders.ts
  airbyte-webapp/src/config/types.ts
  airbyte-webapp/src/packages/cloud/services/ConfigProvider.tsx
Labels: area/frontend, area/platform

#11171 Add missing auth error messages
  airbyte-webapp/src/packages/cloud/lib/auth/GoogleAuthService.ts
  airbyte-webapp/src/packages/cloud/locales/en.json
Labels: area/frontend, area/platform

#11196 Pin the Google Sheet connector to the top
  airbyte-webapp/src/views/Connector/ServiceForm/components/Controls/ConnectorServiceTypeControl.tsx
Labels: area/frontend, area/platform

#11126 Update incremental sync tutorial to use Polygon.io API
  docs/connector-development/tutorials/adding-incremental-sync.md
Labels: area/documentation

#11225 Bump Airbyte version from 0.35.55-alpha to 0.35.56-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#10853 :tada: New Source Chargify: first connector
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-chargify/.dockerignore
  airbyte-integrations/connectors/source-chargify/Dockerfile
  airbyte-integrations/connectors/source-chargify/README.md
  airbyte-integrations/connectors/source-chargify/acceptance-test-config.yml
  airbyte-integrations/connectors/source-chargify/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-chargify/build.gradle
  airbyte-integrations/connectors/source-chargify/integration_tests/__init__.py
  airbyte-integrations/connectors/source-chargify/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-chargify/integration_tests/catalog.json
  airbyte-integrations/connectors/source-chargify/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-chargify/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-chargify/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-chargify/main.py
  airbyte-integrations/connectors/source-chargify/requirements.txt
  airbyte-integrations/connectors/source-chargify/setup.py
  airbyte-integrations/connectors/source-chargify/source_chargify/__init__.py
  airbyte-integrations/connectors/source-chargify/source_chargify/schemas/customers.json
  airbyte-integrations/connectors/source-chargify/source_chargify/schemas/subscriptions.json
  airbyte-integrations/connectors/source-chargify/source_chargify/source.py
  airbyte-integrations/connectors/source-chargify/source_chargify/spec.json
  airbyte-integrations/connectors/source-chargify/unit_tests/__init__.py
  airbyte-integrations/connectors/source-chargify/unit_tests/test_source.py
  airbyte-integrations/connectors/source-chargify/unit_tests/test_streams.py
  docs/integrations/sources/chargify.md
Labels: area/documentation, area/connectors, community

#11231 Fix Format Errors.
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeDestinationResolver.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingSqlOperations.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeDestinationIntegrationTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test/java/io/airbyte/integrations/destination/snowflake/SnowflakeDestinationTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingSqlOperationsTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test/java/io/airbyte/integrations/destination/snowflake/SnowflakeSqlOperationsTest.java
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-hubspot/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  airbyte-integrations/connectors/source-mssql/src/test-performance/java/io/airbyte/integrations/source/mssql/FillMsSqlTestDbScriptTest.java
  airbyte-integrations/connectors/source-mssql/src/test-performance/java/io/airbyte/integrations/source/mssql/MsSqlRdsSourcePerformanceSecretTest.java
  airbyte-integrations/connectors/source-mysql/src/test-performance/java/io/airbyte/integrations/source/mysql/FillMySqlTestDbScriptTest.java
  airbyte-integrations/connectors/source-mysql/src/test-performance/java/io/airbyte/integrations/source/mysql/MySqlRdsSourcePerformanceSecretTest.java
  airbyte-integrations/connectors/source-postgres/src/test-performance/java/io/airbyte/integrations/source/postgres/FillPostgresTestDbScriptTest.java
  airbyte-integrations/connectors/source-postgres/src/test-performance/java/io/airbyte/integrations/source/postgres/PostgresRdsSourcePerformanceTest.java
Labels: area/connectors

#11142 Enable shopify for a single workspace
  airbyte-webapp/src/views/Connector/ServiceForm/ServiceForm.test.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/Controls/ConnectorServiceTypeControl.tsx
Labels: area/frontend, area/platform

#11243 Bump Airbyte version from 0.35.56-alpha to 0.35.57-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#11242 Updated the Snowflake destination connector doc
  docs/integrations/destinations/snowflake.md
Labels: area/documentation

#11226 🐛 octavia-cli: cross-platform builds (arm64 + amd64)
  octavia-cli/README.md
  octavia-cli/publish.sh
Labels: area/octavia-cli

#11200 Disable refetch for reactQueries
  airbyte-webapp/src/App.tsx
  airbyte-webapp/src/packages/cloud/App.tsx
  airbyte-webapp/src/views/common/StoreProvider.tsx
Labels: area/frontend, area/platform

#11071 Serialized buffer consumer for destination snowflake
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination/buffered_stream_consumer/BufferedStreamConsumer.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination/buffered_stream_consumer/RecordWriter.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination/record_buffer/BaseSerializedBuffer.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination/record_buffer/BufferStorage.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination/record_buffer/BufferingStrategy.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination/record_buffer/FileBuffer.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination/record_buffer/InMemoryBuffer.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination/record_buffer/InMemoryRecordBufferingStrategy.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination/record_buffer/SerializableBuffer.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination/record_buffer/SerializedBufferingStrategy.java
  airbyte-integrations/bases/base-java/src/test/java/io/airbyte/integrations/destination/buffered_stream_consumer/BufferedStreamConsumerTest.java
  airbyte-integrations/bases/base-java/src/test/java/io/airbyte/integrations/destination/record_buffer/InMemoryRecordBufferingStrategyTest.java
  airbyte-integrations/bases/base-java/src/test/java/io/airbyte/integrations/destination/record_buffer/SerializedBufferingStrategyTest.java
  airbyte-integrations/connectors/destination-elasticsearch/src/main/java/io/airbyte/integrations/destination/elasticsearch/ElasticsearchAirbyteMessageConsumerFactory.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/JdbcBufferedConsumerFactory.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/CopyConsumerFactory.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/staging/StagingConsumerFactory.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/staging/StagingOperations.java
  airbyte-integrations/connectors/destination-meilisearch/src/main/java/io/airbyte/integrations/destination/meilisearch/MeiliSearchDestination.java
  airbyte-integrations/connectors/destination-oracle/certificate.pem
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/BlobStorageOperations.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3StorageOperations.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/WriteConfig.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/csv/CsvSerializedBuffer.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/csv/S3CsvFormatConfig.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/csv/StagingDatabaseCsvSheetGenerator.java
  airbyte-integrations/connectors/destination-s3/src/test/java/io/airbyte/integrations/destination/s3/csv/CsvSerializedBufferTest.java
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingSqlOperations.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeS3StagingDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeS3StagingSqlOperations.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeSqlOperations.java
  airbyte-integrations/connectors/destination-snowflake/src/test/java/io/airbyte/integrations/destination/snowflake/SnowflakeDestinationTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingSqlOperationsTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test/java/io/airbyte/integrations/destination/snowflake/SnowflakeS3StagingSqlOperationsTest.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSourceOperations.java
Labels: area/connectors

#11254 :bug: Destination Snowflake and Redshift : missing records when using S3 staging
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/copy/s3/S3StreamCopier.java
  airbyte-integrations/connectors/destination-redshift/Dockerfile
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftStreamCopier.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeS3StreamCopier.java
  airbyte-integrations/connectors/destination-snowflake/src/test/java/io/airbyte/integrations/destination/snowflake/SnowflakeS3StreamCopierTest.java
  docs/integrations/destinations/redshift.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors

#11197 fix some spotbugsTest errors in source connectors
  airbyte-integrations/connectors/destination-elasticsearch/src/test/java/io/airbyte/integrations/destination/elasticsearch/ElasticsearchConnectionTest.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSourceOperations.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceTest.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/MySqlJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/MySqlSourceTests.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/MySqlSslJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/MySqlStressTest.java
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/source.py
Labels: area/connectors

#11246 Avoid double-calling the deleteConnection activity
  airbyte-tests/src/acceptanceTests/java/io/airbyte/test/acceptance/AcceptanceTests.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowTest.java
Labels: area/worker, area/platform

#11099 Add Auto-Disable Failing Connections feature
  .env
  airbyte-commons/src/main/java/io/airbyte/commons/features/EnvVariableFeatureFlags.java
  airbyte-commons/src/main/java/io/airbyte/commons/features/FeatureFlags.java
  airbyte-config/models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/DefaultJobPersistence.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/JobPersistence.java
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/DefaultJobPersistenceTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerApp.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/AutoDisableConnectionActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/AutoDisableConnectionActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/AutoDisableConnectionActivityTest.java
  docker-compose.yaml
Labels: area/worker, area/platform, area/scheduler

#11263 Bump Airbyte version from 0.35.57-alpha to 0.35.58-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#11265 Fix incorrect var name and unit test from merging #11099
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowTest.java
Labels: area/worker, area/platform

#11218 Improve hubspot documentation
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/source_hubspot/spec.json
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors

#10967 🐛 Source Github: test coverage more than 90%
  airbyte-integrations/connectors/source-github/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-github/setup.py
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/unit_tests/test_source.py
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
  airbyte-integrations/connectors/source-github/unit_tests/utils.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors

#10793 Add namespace test in destination acceptance test
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination/NamingConventionTransformer.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination/StandardNameTransformer.java
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/DataArgumentsProvider.java
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/DestinationAcceptanceTest.java
  airbyte-integrations/bases/standard-destination-test/src/main/resources/namespace_catalog.json
  airbyte-integrations/bases/standard-destination-test/src/main/resources/namespace_messages.txt
  airbyte-integrations/bases/standard-destination-test/src/main/resources/namespace_test_cases.json
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedGcsDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryConsts.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQuerySQLNameTransformer.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryUtils.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/uploader/BigQueryUploaderFactory.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDestinationTest.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryGcsDestinationTest.java
  airbyte-integrations/connectors/destination-bigquery/src/test/java/io/airbyte/integrations/destination/bigquery/BigQuerySQLNameTransformerTest.java
  airbyte-integrations/connectors/destination-gcs/src/main/java/io/airbyte/integrations/destination/gcs/util/GcsUtils.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/staging/StagingConsumerFactory.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/avro/AvroNameTransformer.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/avro/JsonToAvroSchemaConverter.java
  airbyte-integrations/connectors/destination-s3/src/test/java/io/airbyte/integrations/destination/s3/avro/AvroNameTransformerTest.java
  airbyte-integrations/connectors/destination-s3/src/test/resources/parquet/json_schema_converter/json_conversion_test_cases.json
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeSQLNameTransformer.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeInsertDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test/java/io/airbyte/integrations/destination/snowflake/SnowflakeSqlNameTransformerTest.java
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors
