Repository airbytehq/airbyte, pull requests merged in 2022-05, with the labels that each got.

#12067 Multiple Template Sources: DRY acceptance test templates
  airbyte-integrations/connector-templates/generator/package.json
  airbyte-integrations/connector-templates/generator/plopfile.js
  airbyte-integrations/connector-templates/source-generic/acceptance-test-config.yml
  airbyte-integrations/connector-templates/source-python-http-api/acceptance-test-config.yml.hbs
  airbyte-integrations/connector-templates/source-python-http-api/acceptance-test-docker.sh
  airbyte-integrations/connector-templates/source-python/acceptance-test-docker.sh
  airbyte-integrations/connector-templates/source-singer/acceptance-test-config.yml.hbs
  airbyte-integrations/connector-templates/source-singer/acceptance-test-docker.sh
  airbyte-integrations/connector-templates/source_acceptance_test_files/acceptance-test-config.yml.hbs
  airbyte-integrations/connector-templates/source_acceptance_test_files/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-scaffold-source-http/acceptance-test-config.yml
Labels: area/connectors, community

#12475 Fix `<CircleLoader />` svg props
  airbyte-webapp/src/components/StatusIcon/CircleLoader.tsx
Labels: area/frontend, area/platform

#12398 Update Input password component layout to avoid password manager button overlap with visibility button
  airbyte-webapp/src/components/base/Input/Input.test.tsx
  airbyte-webapp/src/components/base/Input/Input.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/utils/testutils.tsx
Labels: area/frontend, area/platform

#12435 :tada: Source Tiktok Marketing - updated specs description
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/Dockerfile
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/spec.py
  docs/integrations/sources/tiktok-marketing.md
Labels: area/documentation, area/connectors

#12507 Ignore auto-disable activity if connection already inactive
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/AutoDisableConnectionActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/AutoDisableConnectionActivityTest.java
Labels: area/worker, area/platform

#12513 Fix stopColor prop in CircleLoader svg
  airbyte-webapp/src/components/StatusIcon/CircleLoader.tsx
Labels: area/frontend, area/platform

#11907 Source Gitlab: allow `container_expiration_policy` to be nullable + fix null projects list
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-gitlab/Dockerfile
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/projects.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/source.py
  docs/integrations/sources/gitlab.md
Labels: area/documentation, area/connectors, community

#11501 🎉 Source Mixpanel: Enhance streams to incremental
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mixpanel/Dockerfile
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/source.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_streams.py
  docs/integrations/sources/mixpanel.md
Labels: area/documentation, area/connectors, community, sponsored

#12528 Destination Bigquery: Update `Dataset location` field description
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/src/main/resources/spec.json
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors

#12515 Source Hubspot - Log instructions to update scopes when hitting 403 HTTP error
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors

#12503 Make job docker container name meaningful.
  airbyte-workers/src/main/java/io/airbyte/workers/process/DockerProcessFactory.java
Labels: area/worker, area/platform

#11917 S3 destination: updating specs regarding certification
  airbyte-integrations/connectors/destination-s3/src/main/resources/spec.json
Labels: area/connectors

#12390 Source Facebook Marketing: Attempt to retry failing jobs that are already split to minimum size
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/async_job.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/async_job_manager.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_async_job.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_async_job_manager.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors

#12387 Helm: Remove unused PVCs in Helm Chart
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/templates/server/deployment.yaml
  charts/airbyte/templates/server/pvc-data.yaml
  charts/airbyte/values.yaml
Labels: area/platform, kubernetes, community

#12426 Source Google Analytics: always sync data from two days ago
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-analytics-v4/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-v4/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-analytics-v4/integration_tests/expected_records.txt
  airbyte-integrations/connectors/source-google-analytics-v4/source_google_analytics_v4/source.py
  airbyte-integrations/connectors/source-google-analytics-v4/unit_tests/response_golden_data.json
  airbyte-integrations/connectors/source-google-analytics-v4/unit_tests/response_non_golden_data.json
  airbyte-integrations/connectors/source-google-analytics-v4/unit_tests/unit_test.py
  docs/integrations/sources/google-analytics-v4.md
Labels: area/documentation, area/connectors

#12535 Bump Airbyte version from 0.36.6-alpha to 0.36.7-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#12533 Refactor process naming logic.
  airbyte-workers/src/main/java/io/airbyte/workers/process/DockerProcessFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubeProcessFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/ProcessFactory.java
  airbyte-workers/src/test/java/io/airbyte/workers/process/ProcessFactoryTest.java
Labels: area/worker, area/platform

#12526 Fix new source / destination test connection success / failure tracking events
  airbyte-webapp/src/core/analytics/AnalyticsService.ts
  airbyte-webapp/src/hooks/services/useDestinationHook.tsx
  airbyte-webapp/src/hooks/services/useSourceHook.tsx
  airbyte-webapp/src/hooks/useTrackAction.ts
  airbyte-webapp/src/pages/DestinationPage/pages/CreateDestinationPage/components/DestinationForm.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/DestinationStep.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/SourceStep.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/CreateSourcePage/components/SourceForm.tsx
  airbyte-webapp/src/views/Connector/ConnectorCard/ConnectorCard.tsx
Labels: area/frontend, area/platform

#12495 Close all unsafe queries
  airbyte-db/lib/src/main/java/io/airbyte/db/jdbc/JdbcDatabase.java
  airbyte-db/lib/src/test/java/io/airbyte/db/jdbc/TestDefaultJdbcDatabase.java
  airbyte-db/lib/src/test/java/io/airbyte/db/jdbc/TestStreamingJdbcDatabase.java
  airbyte-integrations/connectors/destination-clickhouse-strict-encrypt/src/test-integration/java/io/airbyte/integrations/destination/clickhouse/ClickhouseDestinationStrictEncryptAcceptanceTest.java
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/java/io/airbyte/integrations/destination/clickhouse/ClickhouseDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/java/io/airbyte/integrations/destination/clickhouse/SshClickhouseDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mariadb-columnstore/src/main/java/io/airbyte/integrations/destination/mariadb_columnstore/MariadbColumnstoreSqlOperations.java
  airbyte-integrations/connectors/destination-mariadb-columnstore/src/test-integration/java/io/airbyte/integrations/destination/mariadb_columnstore/MariadbColumnstoreDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mysql/src/main/java/io/airbyte/integrations/destination/mysql/MySQLSqlOperations.java
  airbyte-integrations/connectors/destination-oracle-strict-encrypt/src/test-integration/java/io/airbyte/integrations/destination/oracle_strict_encrypt/OracleStrictEncryptDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-oracle/src/test-integration/java/io/airbyte/integrations/destination/oracle/NneOracleDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-oracle/src/test-integration/java/io/airbyte/integrations/destination/oracle/UnencryptedOracleDestinationAcceptanceTest.java
  airbyte-integrations/connectors/source-clickhouse/src/main/java/io/airbyte/integrations/source/clickhouse/ClickHouseSource.java
  airbyte-integrations/connectors/source-cockroachdb/src/main/java/io/airbyte/integrations/source/cockroachdb/CockroachDbSource.java
  airbyte-integrations/connectors/source-db2/src/main/java/io.airbyte.integrations.source.db2/Db2Source.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlCdcTargetPosition.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/helpers/CdcConfigurationHelper.java
  airbyte-integrations/connectors/source-oracle-strict-encrypt/src/test-integration/java/io/airbyte/integrations/source/oracle_strict_encrypt/OracleSourceNneAcceptanceTest.java
  airbyte-integrations/connectors/source-oracle/src/test-integration/java/io/airbyte/integrations/source/oracle/OracleSourceNneAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
Labels: area/connectors

#12458 Add AirbyteTraceMessage to Airbyte protocol
  airbyte-protocol/models/src/main/resources/airbyte_protocol/airbyte_protocol.yaml
  docs/understanding-airbyte/airbyte-specification.md
Labels: area/documentation, area/platform, area/protocol

#12531 Switch json libraries to jitpack
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-databricks/build.gradle
  airbyte-integrations/connectors/destination-gcs/build.gradle
  airbyte-integrations/connectors/destination-s3/build.gradle
  airbyte-integrations/connectors/source-e2e-test-cloud/build.gradle
  airbyte-integrations/connectors/source-e2e-test/build.gradle
  airbyte-integrations/connectors/source-e2e-test/src/main/java/io/airbyte/integrations/source/e2e_test/ContinuousFeedConstants.java
  airbyte-integrations/connectors/source-e2e-test/src/test/java/io/airbyte/integrations/source/e2e_test/GeneratorTest.java
  build.gradle
  settings.gradle
Labels: area/connectors

#12544 🐛 Prevent sources from hanging if they have orphaned threads
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/IntegrationRunner.java
  airbyte-integrations/connectors/source-mysql/Dockerfile
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors

#12552 Encoding is ISO-8859-1
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-salesforce/Dockerfile
  airbyte-integrations/connectors/source-salesforce/source_salesforce/streams.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/api_test.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors

#12553 Bump Airbyte version from 0.36.7-alpha to 0.36.8-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#12554 Use jsongenerator 1.0.1
  airbyte-cdk/python/airbyte_cdk/models/airbyte_protocol.py
  airbyte-integrations/bases/airbyte-protocol/airbyte_protocol/models/airbyte_protocol.py
  airbyte-integrations/connectors/source-e2e-test/build.gradle
Labels: area/connectors, CDK

#12562 Fix wording of empty screens
  airbyte-webapp/src/locales/en.json
Labels: area/frontend, area/platform

#12479 🎉 Source Amplitude: increase `unit_tests` coverage up to 90%
  airbyte-integrations/connectors/source-amplitude/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-amplitude/setup.py
  airbyte-integrations/connectors/source-amplitude/unit_tests/api_data/zipped.json
  airbyte-integrations/connectors/source-amplitude/unit_tests/test_api.py
  airbyte-integrations/connectors/source-amplitude/unit_tests/test_errors.py
  airbyte-integrations/connectors/source-amplitude/unit_tests/test_source.py
  docs/integrations/sources/amplitude.md
Labels: area/documentation, type/enhancement, area/connectors, connectors/source/amplitude, testing/unit_tests

#12543 Destination Postgres : Enable DAT and fix the data fetch.
  airbyte-integrations/bases/standard-destination-test/build.gradle
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/JdbcDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-postgres/src/test-integration/java/io/airbyte/integrations/destination/postgres/PostgresDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-postgres/src/test-integration/java/io/airbyte/integrations/destination/postgres/PostgresTestDataComparator.java
  airbyte-integrations/connectors/destination-postgres/src/test-integration/java/io/airbyte/integrations/destination/postgres/SshPostgresDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/RedshiftCopyDestinationAcceptanceTest.java
Labels: area/connectors

#10835 Source Jira: change wording for description of array fields
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-jira/Dockerfile
  airbyte-integrations/connectors/source-jira/source_jira/spec.json
  docs/integrations/sources/jira.md
Labels: area/documentation, type/enhancement, area/connectors, connectors/source/jira

#12452 🎉 Destination Snowflake: Add option to stage encrypted files via S3
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-gcs/src/main/java/io/airbyte/integrations/destination/gcs/GcsStorageOperations.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/staging/StagingConsumerFactory.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/AesCbcEnvelopeEncryption.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/AesCbcEnvelopeEncryptionBlobDecorator.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/BlobDecorator.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/BlobStorageOperations.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/EncryptionConfig.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/NoEncryption.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3StorageOperations.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/util/CompressionTypeHelper.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/util/StreamTransferManagerHelper.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/util/StreamTransferManagerWithMetadata.java
  airbyte-integrations/connectors/destination-s3/src/test/java/io/airbyte/integrations/destination/s3/AesCbcEnvelopeEncryptionBlobDecoratorTest.java
  airbyte-integrations/connectors/destination-s3/src/test/java/io/airbyte/integrations/destination/s3/BlobDecoratorTest.java
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeCopyS3Destination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeS3StagingDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeS3StagingSqlOperations.java
  airbyte-integrations/connectors/destination-snowflake/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeS3CopyEncryptedDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test/java/io/airbyte/integrations/destination/snowflake/SnowflakeDestinationTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test/java/io/airbyte/integrations/destination/snowflake/SnowflakeS3StagingSqlOperationsTest.java
  build.gradle
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors

#12523 source-amazon-seller-partner: allow to use IAM user arn or IAM role arn
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/Dockerfile
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/__init__.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_source.py
  docs/integrations/sources/amazon-seller-partner.md
  octavia-cli/README.md
Labels: area/documentation, area/connectors, community, connectors/source/amazon_seller_partner

#12487 Make MetricsRegistry as an interface
  airbyte-metrics/lib/src/main/java/io/airbyte/metrics/lib/DogStatsDMetricSingleton.java
  airbyte-metrics/lib/src/main/java/io/airbyte/metrics/lib/MetricsRegistry.java
  airbyte-metrics/lib/src/main/java/io/airbyte/metrics/lib/OssMetricsRegistry.java
  airbyte-metrics/lib/src/test/java/io/airbyte/metrics/lib/DogStatsDMetricSingletonTest.java
  airbyte-metrics/reporter/src/main/java/io/airbyte/metrics/reporter/ToEmit.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityImpl.java
Labels: area/worker, area/platform

#12564 Improve getting started
  docs/quickstart/getting-started.md
Labels: area/documentation, community

#12576 source salesforce: use utf8 by default and iso as fallback
  airbyte-integrations/connectors/source-salesforce/Dockerfile
  airbyte-integrations/connectors/source-salesforce/source_salesforce/streams.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/api_test.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors

#12578 Publish new connectors to log offending json fields in json to avro conversion for debugging
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-databricks/Dockerfile
  airbyte-integrations/connectors/destination-gcs/Dockerfile
  airbyte-integrations/connectors/destination-s3/Dockerfile
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/databricks.md
  docs/integrations/destinations/gcs.md
  docs/integrations/destinations/s3.md
Labels: area/documentation, area/connectors

#12583 Revert "Choose optimal sync modes by default on UI (#12411)"
  airbyte-webapp/package.json
  airbyte-webapp/src/views/Connection/CatalogTree/CatalogSection.tsx
  airbyte-webapp/src/views/Connection/CatalogTree/StreamFieldTable.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/formConfig.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/formConfigHelpers.test.ts
  airbyte-webapp/src/views/Connection/ConnectionForm/formConfigHelpers.ts
Labels: area/frontend, area/platform

#12550 add instructions to exclude files in search
  docs/.gitbook/assets/monorepo-exclude-files.png
  docs/contributing-to-airbyte/monorepo-python-development.md
Labels: area/documentation

#12585 Bump Airbyte version from 0.36.8-alpha to 0.36.9-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#12581 generate `AirbyeTraceMessage.type` enum with descriptive class name
  airbyte-cdk/python/airbyte_cdk/models/airbyte_protocol.py
  airbyte-cdk/python/bin/generate-protocol-files.sh
  airbyte-integrations/bases/airbyte-protocol/airbyte_protocol/models/airbyte_protocol.py
  airbyte-integrations/bases/airbyte-protocol/bin/generate-protocol-files.sh
  airbyte-protocol/models/src/main/resources/airbyte_protocol/airbyte_protocol.yaml
Labels: CDK, area/platform, area/protocol

#12482 Spec Updates
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-ads/Dockerfile
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/spec.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/spec.py
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/source_github/spec.json
  airbyte-integrations/connectors/source-google-search-console/Dockerfile
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/spec.json
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/source_hubspot/spec.yaml
  airbyte-integrations/connectors/source-intercom/Dockerfile
  airbyte-integrations/connectors/source-intercom/source_intercom/spec.json
  airbyte-integrations/connectors/source-intercom/unit_tests/unit_test.py
  airbyte-integrations/connectors/source-linkedin-ads/Dockerfile
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/spec.json
  airbyte-integrations/connectors/source-mixpanel/Dockerfile
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/spec.json
  docs/integrations/sources/amazon-ads.md
  docs/integrations/sources/github.md
  docs/integrations/sources/google-search-console.md
  docs/integrations/sources/hubspot.md
  docs/integrations/sources/intercom.md
  docs/integrations/sources/linkedin-ads.md
  docs/integrations/sources/mixpanel.md
Labels: area/documentation, area/connectors

#12500 Update input configs & docs copy
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-airtable/Dockerfile
  airbyte-integrations/connectors/source-amplitude/Dockerfile
  airbyte-integrations/connectors/source-amplitude/source_amplitude/spec.json
  airbyte-integrations/connectors/source-amplitude/unit_tests/test_source.py
  airbyte-integrations/connectors/source-bing-ads/Dockerfile
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/spec.json
  airbyte-integrations/connectors/source-google-analytics-v4/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-v4/source_google_analytics_v4/spec.json
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/integration_tests/spec.json
  airbyte-integrations/connectors/source-s3/setup.py
  airbyte-integrations/connectors/source-s3/source_s3/source.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/formats/csv_spec.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/formats/parquet_spec.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/spec.py
  airbyte-integrations/connectors/source-shopify/Dockerfile
  airbyte-integrations/connectors/source-shopify/source_shopify/spec.json
  airbyte-integrations/connectors/source-smartsheets/Dockerfile
  airbyte-integrations/connectors/source-smartsheets/source_smartsheets/spec.json
  airbyte-integrations/connectors/source-stripe/Dockerfile
  airbyte-integrations/connectors/source-stripe/source_stripe/spec.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/Dockerfile
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/spec.py
  docs/.gitbook/assets/airtable_api_key1.png
  docs/.gitbook/assets/airtable_api_key2.png
  docs/.gitbook/assets/airtable_base_id.png
  docs/.gitbook/assets/airtable_bases_ui_list1.png
  docs/integrations/sources/airtable.md
  docs/integrations/sources/amplitude.md
  docs/integrations/sources/bing-ads.md
  docs/integrations/sources/google-analytics-v4.md
  docs/integrations/sources/s3.md
  docs/integrations/sources/shopify.md
  docs/integrations/sources/smartsheets.md
  docs/integrations/sources/stripe.md
  docs/integrations/sources/tiktok-marketing.md
Labels: area/documentation, area/connectors

#12198 Source Hubspot: Added deals associations for quotes
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/quotes.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, community, connectors/source/hubspot

#12561 🎉 Inject Job Type into processes names.
  airbyte-workers/src/main/java/io/airbyte/workers/DbtTransformationRunner.java
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/DefaultNormalizationRunner.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/AirbyteIntegrationLauncher.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/DockerProcessFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubeProcessFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/ProcessFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/test_helpers/EntrypointEnvChecker.java
  airbyte-workers/src/test-integration/java/io/airbyte/workers/process/KubePodProcessIntegrationTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/normalization/DefaultNormalizationRunnerTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/process/AirbyteIntegrationLauncherTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/process/DockerProcessFactoryTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/process/ProcessFactoryTest.java
Labels: area/worker, area/platform

#12566 Destination Clickhouse : Enable and fix DAT tests
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/java/io/airbyte/integrations/destination/clickhouse/ClickhouseDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/java/io/airbyte/integrations/destination/clickhouse/ClickhouseTestDataComparator.java
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/java/io/airbyte/integrations/destination/clickhouse/SshClickhouseDestinationAcceptanceTest.java
Labels: area/connectors

#12428 🎉🐛: Source mongoDB: implement building JsonSchema with 'properties' for fields with type 'object'
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-db/lib/src/main/java/io/airbyte/db/mongodb/MongoUtils.java
  airbyte-integrations/connectors/source-mongodb-v2/Dockerfile
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io.airbyte.integrations.source.mongodb/MongoDbSource.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/MongoDbSourceAbstractAcceptanceTest.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/MongoDbSourceAtlasAcceptanceTest.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/MongoDbSourceStandaloneAcceptanceTest.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/AbstractDbSource.java
  airbyte-protocol/models/src/main/java/io/airbyte/protocol/models/CatalogHelpers.java
  airbyte-protocol/models/src/main/java/io/airbyte/protocol/models/CommonField.java
  airbyte-protocol/models/src/main/java/io/airbyte/protocol/models/Field.java
  airbyte-protocol/models/src/main/java/io/airbyte/protocol/models/TreeNode.java
  airbyte-protocol/models/src/test/java/io/airbyte/protocol/models/CatalogHelpersTest.java
  docs/integrations/sources/mongodb-v2.md
Labels: area/documentation, area/connectors, area/platform, area/protocol

#12171 🎉 source-facebook-marketing: allow configuration of page_size
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/source.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/spec.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/base_streams.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, community

#12604 Fixing the correct upgrading Airbyte guide link
  airbyte-server/src/main/java/io/airbyte/server/ConfigDumpImporter.java
  airbyte-webapp/src/config/uiConfig.ts
Labels: area/frontend, area/platform, community, area/server

#12610 Modify OSS Airbyte and Cloud Airbyte to use Catalogs - 809
  .github/workflows/gradle.yml
  build.gradle
  deps.toml
  docs/gradle-dependency-update.md
  settings.gradle
Labels: area/documentation

#12620 Update the section about updating docs
  .gitbook.yaml
  docs/contributing-to-airbyte/updating-documentation.md
Labels: area/documentation

#12595 remove base-singer and update or remove dependent modules
  airbyte-integrations/bases/base-singer/.dockerignore
  airbyte-integrations/bases/base-singer/Dockerfile
  airbyte-integrations/bases/base-singer/base_singer/__init__.py
  airbyte-integrations/bases/base-singer/base_singer/singer_helpers.py
  airbyte-integrations/bases/base-singer/base_singer/source.py
  airbyte-integrations/bases/base-singer/build.gradle
  airbyte-integrations/bases/base-singer/requirements.txt
  airbyte-integrations/bases/base-singer/setup.py
  airbyte-integrations/connectors/source-appsflyer-singer/.dockerignore
  airbyte-integrations/connectors/source-appsflyer-singer/.gitignore
  airbyte-integrations/connectors/source-appsflyer-singer/Dockerfile
  airbyte-integrations/connectors/source-appsflyer-singer/README.md
  airbyte-integrations/connectors/source-appsflyer-singer/build.gradle
  airbyte-integrations/connectors/source-appsflyer-singer/main_dev.py
  airbyte-integrations/connectors/source-appsflyer-singer/requirements.txt
  airbyte-integrations/connectors/source-appsflyer-singer/sample_files/catalog.json
  airbyte-integrations/connectors/source-appsflyer-singer/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-appsflyer-singer/setup.py
  airbyte-integrations/connectors/source-appsflyer-singer/singer_rendered_catalog.json
  airbyte-integrations/connectors/source-appsflyer-singer/source_appsflyer_singer/__init__.py
  airbyte-integrations/connectors/source-appsflyer-singer/source_appsflyer_singer/source.py
  airbyte-integrations/connectors/source-appsflyer-singer/source_appsflyer_singer/spec.json
  airbyte-integrations/connectors/source-appsflyer-singer/unit_tests/unit_test.py
  airbyte-integrations/connectors/source-zoom-singer/.dockerignore
  airbyte-integrations/connectors/source-zoom-singer/Dockerfile
  airbyte-integrations/connectors/source-zoom-singer/build.gradle
  airbyte-integrations/connectors/source-zoom-singer/main.py
  airbyte-integrations/connectors/source-zoom-singer/requirements.txt
  airbyte-integrations/connectors/source-zoom-singer/setup.py
  airbyte-integrations/connectors/source-zoom-singer/source_zoom_singer/source.py
Labels: area/connectors

#12626 Bump Airbyte version from 0.36.9-alpha to 0.36.10-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#12598 sweep `airbyte-integrations/bases/airbyte-protocol`
  airbyte-cdk/python/docs/tutorials/http_api_source.md
  airbyte-integrations/bases/airbyte-protocol/.dockerignore
  airbyte-integrations/bases/airbyte-protocol/Dockerfile
  airbyte-integrations/bases/airbyte-protocol/airbyte_protocol/__init__.py
  airbyte-integrations/bases/airbyte-protocol/airbyte_protocol/models/__init__.py
  airbyte-integrations/bases/airbyte-protocol/airbyte_protocol/models/airbyte_protocol.py
  airbyte-integrations/bases/airbyte-protocol/bin/generate-protocol-files.sh
  airbyte-integrations/bases/airbyte-protocol/build.gradle
  airbyte-integrations/bases/airbyte-protocol/requirements.txt
  airbyte-integrations/bases/airbyte-protocol/setup.py
  airbyte-integrations/bases/base-normalization/build.gradle
  airbyte-integrations/bases/base-normalization/normalization/transform_catalog/catalog_processor.py
  airbyte-integrations/bases/base-normalization/normalization/transform_catalog/stream_processor.py
  airbyte-integrations/bases/base-normalization/requirements.txt
  airbyte-integrations/bases/base-normalization/setup.py
  airbyte-integrations/bases/base-normalization/unit_tests/test_stream_processor.py
  settings.gradle
Labels: area/connectors, normalization, CDK

#12637 Fix broken password reset functionality
  airbyte-webapp/src/packages/cloud/views/FirebaseActionRoute.tsx
Labels: area/frontend, area/platform

#12639 Bump Airbyte version from 0.36.10-alpha to 0.36.11-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#11811 Fix typo in spec.json for destination AWS Datalake
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-aws-datalake/Dockerfile
  airbyte-integrations/connectors/destination-aws-datalake/README.md
  airbyte-integrations/connectors/destination-aws-datalake/build.gradle
  airbyte-integrations/connectors/destination-aws-datalake/destination_aws_datalake/aws.py
  airbyte-integrations/connectors/destination-aws-datalake/destination_aws_datalake/destination.py
  airbyte-integrations/connectors/destination-aws-datalake/destination_aws_datalake/spec.json
  airbyte-integrations/connectors/destination-aws-datalake/destination_aws_datalake/stream_writer.py
  airbyte-integrations/connectors/destination-aws-datalake/src/main/java/AthenaHelper.java
  airbyte-integrations/connectors/destination-aws-datalake/src/test-integration/java/io/airbyte/integrations/destination/aws_datalake/AwsDatalakeDestinationAcceptanceTest.java
  build.gradle
  docs/integrations/destinations/aws-datalake.md
Labels: area/documentation, area/connectors, community

#12625 Dynamically set y-axis label width for credits chart
  airbyte-webapp/src/components/BarChart/BarChart.tsx
Labels: area/frontend, area/platform

#12638 print notice logs for socat
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
Labels: area/worker, area/platform

#12133 🐙 octavia-cli: use model serialization
  airbyte-api/src/main/openapi/config.yaml
  airbyte-tests/src/acceptanceTests/java/io/airbyte/test/acceptance/AcceptanceTests.java
  octavia-cli/README.md
  octavia-cli/integration_tests/configurations/connections/poke_to_pg/configuration.yaml
  octavia-cli/integration_tests/conftest.py
  octavia-cli/integration_tests/test_apply/test_resources.py
  octavia-cli/integration_tests/test_generate/expected_rendered_yaml/connection/expected.yaml
  octavia-cli/octavia_cli/apply/resources.py
  octavia-cli/octavia_cli/generate/renderers.py
  octavia-cli/octavia_cli/generate/templates/connection.yaml.j2
  octavia-cli/unit_tests/test_apply/test_resources.py
Labels: area/api, area/platform, area/octavia-cli

#12632 explicitly close socat socket
  airbyte-workers/src/main/java/io/airbyte/workers/DefaultReplicationWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/process/KubePodProcess.java
  airbyte-workers/src/test/java/io/airbyte/workers/DefaultReplicationWorkerTest.java
Labels: area/worker, area/platform

#12516 Migrate to a secret store by default
  .env
  airbyte-bootloader/src/main/java/io/airbyte/bootloader/BootloaderApp.java
  airbyte-bootloader/src/main/java/io/airbyte/bootloader/SecretMigrator.java
  airbyte-bootloader/src/test/java/io/airbyte/bootloader/BootloaderAppTest.java
  airbyte-bootloader/src/test/java/io/airbyte/bootloader/SecretMigratorTest.java
  airbyte-commons/src/main/java/io/airbyte/commons/features/EnvVariableFeatureFlags.java
  airbyte-commons/src/main/java/io/airbyte/commons/features/FeatureFlags.java
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-config/models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/DefaultJobPersistence.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/JobPersistence.java
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/DefaultJobPersistenceTest.java
Labels: area/platform, area/scheduler

#12683 Bump Airbyte version from 0.36.11-alpha to 0.37.0-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#12593 CDK: emit `AirbyteTraceMessage` with exception trace information
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/entrypoint.py
  airbyte-cdk/python/airbyte_cdk/exception_handler.py
  airbyte-cdk/python/airbyte_cdk/logger.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/rate_limiting.py
  airbyte-cdk/python/airbyte_cdk/sources/utils/transform.py
  airbyte-cdk/python/airbyte_cdk/utils/airbyte_secrets_utils.py
  airbyte-cdk/python/airbyte_cdk/utils/event_timing.py
  airbyte-cdk/python/airbyte_cdk/utils/traced_exception.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/utils/test_transform.py
  airbyte-cdk/python/unit_tests/test_exception_handler.py
  airbyte-cdk/python/unit_tests/test_logger.py
  airbyte-cdk/python/unit_tests/test_secure_logger.py
  airbyte-cdk/python/unit_tests/utils/__init__.py
  airbyte-cdk/python/unit_tests/utils/test_secret_utils.py
  airbyte-cdk/python/unit_tests/utils/test_traced_exception.py
Labels: CDK

#12545 :tada: Tiktok marketing - remove odd auth method
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/Dockerfile
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/source.py
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/spec.py
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/TikTokMarketingOAuthFlow.java
  airbyte-oauth/src/test/java/io/airbyte/oauth/flows/BaseOAuthFlowTest.java
  airbyte-oauth/src/test/java/io/airbyte/oauth/flows/TikTokMarketingOAuthFlowTest.java
  docs/integrations/sources/tiktok-marketing.md
Labels: area/documentation, area/connectors

#11760 Postgres source: skipping columns with nullable values
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSourceOperations.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors

#12685 bump GA connectors to latest version of python cdk
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/README.md
  airbyte-integrations/connectors/source-facebook-marketing/setup.py
  airbyte-integrations/connectors/source-google-sheets/Dockerfile
  airbyte-integrations/connectors/source-google-sheets/README.md
  airbyte-integrations/connectors/source-google-sheets/setup.py
  airbyte-integrations/connectors/source-salesforce/Dockerfile
  airbyte-integrations/connectors/source-salesforce/README.md
  airbyte-integrations/connectors/source-salesforce/setup.py
  docs/integrations/sources/exchangeratesapi.md
  docs/integrations/sources/facebook-marketing.md
  docs/integrations/sources/google-sheets.md
  docs/integrations/sources/salesforce.md
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors

#12305 Mssql destination: enable DAT tests, use nvarchar and datetime2 by default
  airbyte-integrations/bases/base-normalization/Dockerfile
  airbyte-integrations/bases/base-normalization/dbt-project-template/macros/cross_db_utils/datatypes.sql
  airbyte-integrations/bases/base-normalization/integration_tests/dbt_integration_test.py
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/JdbcDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mssql/src/test-integration/java/io/airbyte/integrations/destination/mssql/MSSQLDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mssql/src/test-integration/java/io/airbyte/integrations/destination/mssql/MSSQLTestDataComparator.java
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/NormalizationRunnerFactory.java
  docs/understanding-airbyte/basic-normalization.md
Labels: area/documentation, area/connectors, area/worker, normalization, area/platform, connectors/destination/mssql

#11938 Use role-based permissions for source-postgres
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresSourceTest.java
Labels: area/connectors, community

#12541 🎉 Source Amazon Ads: improve docs for beta
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-ads/Dockerfile
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, area/connectors

#11611 Display union of schema and replicated schema in connection settings page
  airbyte-config/persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/ConnectionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WebBackendConnectionsHandlerTest.java
Labels: area/platform, area/server

#12689 🎉 Source postgres: publish fix of missing streams
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-integrations/connectors/source-jdbc/src/testFixtures/java/io/airbyte/integrations/source/jdbc/test/JdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-jdbc/src/testFixtures/java/io/airbyte/integrations/source/jdbc/test/JdbcStressTest.java
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors

#12534 Source Amazon S3: Refactored docs
  airbyte-integrations/connectors/source-s3/integration_tests/spec.json
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors

#12651 Source Google Ads: Improve unit and integration tests
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-ads/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-google-ads/integration_tests/test_incremental.py
  airbyte-integrations/connectors/source-google-ads/setup.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/custom_query_stream.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_source.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors

#12612 Bump ejs from 3.1.6 to 3.1.7 in /airbyte-webapp
  airbyte-webapp/package-lock.json
Labels: area/frontend, area/platform

#12707 Bump Airbyte version from 0.37.1-alpha to 0.38.0-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#12231 Add schema validation to replication worker
  airbyte-container-orchestrator/src/main/java/io/airbyte/container_orchestrator/ReplicationJobOrchestrator.java
  airbyte-workers/src/main/java/io/airbyte/workers/DefaultReplicationWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/RecordSchemaValidationException.java
  airbyte-workers/src/main/java/io/airbyte/workers/RecordSchemaValidator.java
  airbyte-workers/src/main/java/io/airbyte/workers/WorkerUtils.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/ReplicationActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/DefaultReplicationWorkerTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/RecordSchemaValidatorTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/TestConfigHelpers.java
  airbyte-workers/src/test/java/io/airbyte/workers/WorkerUtilsTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/protocols/airbyte/AirbyteMessageUtils.java
Labels: area/worker, area/platform

#12691 🐛 octavia-cli: fix argument parsing in octavia cli.
  octavia-cli/octavia_cli/base_commands.py
  octavia-cli/octavia_cli/telemetry.py
  octavia-cli/unit_tests/test_base_commands.py
  octavia-cli/unit_tests/test_telemetry.py
Labels: community, area/octavia-cli

#12698 📝 Source Amplitude: fix the doc to match the template
  docs/integrations/sources/amplitude.md
Labels: area/documentation, connectors/source/amplitude, team/connectors-python

#12724 Bump Airbyte version from 0.38.0-alpha to 0.38.1-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#12569 Fix cancel button when it doesn't provide feedback to the user + UX improvements
  airbyte-webapp/.eslintrc
  airbyte-webapp/src/components/ConfirmationModal/ConfirmationModal.tsx
  airbyte-webapp/src/components/EntityTable/utils.tsx
  airbyte-webapp/src/components/JobItem/components/MainInfo.tsx
  airbyte-webapp/src/components/ResetDataModal/ResetDataModal.tsx
  airbyte-webapp/src/components/ResetDataModal/index.tsx
  airbyte-webapp/src/components/ResetDataModal/types.ts
  airbyte-webapp/src/components/SingletonCard/SingletonCard.tsx
  airbyte-webapp/src/components/ToolTip/ToolTip.tsx
  airbyte-webapp/src/components/base/Button/LoadingButton.tsx
  airbyte-webapp/src/hooks/services/ConfirmationModal/ConfirmationModalService.tsx
  airbyte-webapp/src/hooks/useLoadingState.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/packages/firebaseReact/sdk.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/ReplicationView.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/StatusView.tsx
  airbyte-webapp/src/theme.ts
  airbyte-webapp/src/views/Connection/ConnectionForm/ConnectionForm.test.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/ConnectionForm.tsx
Labels: area/frontend, area/platform

#12753 Invalidate connections cache when enabling/disabling connections on connections list page
  airbyte-webapp/src/hooks/services/useConnectionHook.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/AllConnectionsPage/components/ConnectionsTable.tsx
Labels: area/frontend, area/platform

#12751 Add Java Catalog documentation.
  docs/contributing-to-airbyte/gradle-dependency-update.md
  docs/contributing-to-airbyte/updating-documentation.md
  docs/integrations/sources/s3.md
  docusaurus/sidebars.js
Labels: area/documentation

#12761 [docs] add reminder to clone repo in CDK speedrun guide
  docs/connector-development/tutorials/cdk-speedrun.md
Labels: area/documentation, community

#12737 Fix short tag link
  docs/project-overview/licenses/license-faq.md
Labels: area/documentation, community

#12765 Updated connector statuses
  docs/integrations/README.md
Labels: area/documentation

#12602 Add avro parser to s3 source
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/acceptance-test-config.yml
  airbyte-integrations/connectors/source-s3/integration_tests/expected_records_avro.txt
  airbyte-integrations/connectors/source-s3/integration_tests/spec.json
  airbyte-integrations/connectors/source-s3/setup.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/formats/avro_parser.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/formats/avro_spec.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/spec.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/stream.py
  airbyte-integrations/connectors/source-s3/unit_tests/test_avro_parser.py
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, community

#12570 A honcharenko/multiarch build 801
  .github/actions/start-aws-runner/action.yml
  airbyte-container-orchestrator/Dockerfile
  airbyte-workers/Dockerfile
  tools/bin/publish_docker.sh
  tools/bin/release_version.sh
Labels: area/worker, area/platform

#12730 🐛Source Amazon S3: Fixed empty options issue
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/formats/csv_parser.py
  airbyte-integrations/connectors/source-s3/source_s3/utils.py
  airbyte-integrations/connectors/source-s3/unit_tests/test_csv_parser.py
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors

#12789 Bump Airbyte version from 0.38.1-alpha to 0.38.2-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#12715 SAT: add `threshold_days` incremental test option
  airbyte-integrations/bases/source-acceptance-test/CHANGELOG.md
  airbyte-integrations/bases/source-acceptance-test/Dockerfile
  airbyte-integrations/bases/source-acceptance-test/setup.py
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/config.py
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/tests/test_incremental.py
  airbyte-integrations/bases/source-acceptance-test/unit_tests/test_incremental.py
  docs/connector-development/testing-connectors/source-acceptance-tests-reference.md
Labels: area/documentation

#12135 🎉 New Destination: Implement `Destination Google Sheets` using CDK
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/destination-google-sheets/.dockerignore
  airbyte-integrations/connectors/destination-google-sheets/Dockerfile
  airbyte-integrations/connectors/destination-google-sheets/README.md
  airbyte-integrations/connectors/destination-google-sheets/build.gradle
  airbyte-integrations/connectors/destination-google-sheets/destination_google_sheets/__init__.py
  airbyte-integrations/connectors/destination-google-sheets/destination_google_sheets/buffer.py
  airbyte-integrations/connectors/destination-google-sheets/destination_google_sheets/client.py
  airbyte-integrations/connectors/destination-google-sheets/destination_google_sheets/destination.py
  airbyte-integrations/connectors/destination-google-sheets/destination_google_sheets/helpers.py
  airbyte-integrations/connectors/destination-google-sheets/destination_google_sheets/spec.json
  airbyte-integrations/connectors/destination-google-sheets/destination_google_sheets/spreadsheet.py
  airbyte-integrations/connectors/destination-google-sheets/destination_google_sheets/writer.py
  airbyte-integrations/connectors/destination-google-sheets/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/destination-google-sheets/integration_tests/integration_test.py
  airbyte-integrations/connectors/destination-google-sheets/integration_tests/sample_config_oauth.json
  airbyte-integrations/connectors/destination-google-sheets/integration_tests/test_buffer.py
  airbyte-integrations/connectors/destination-google-sheets/integration_tests/test_client.py
  airbyte-integrations/connectors/destination-google-sheets/integration_tests/test_data/messages.txt
  airbyte-integrations/connectors/destination-google-sheets/integration_tests/test_data/test_buffer_catalog.json
  airbyte-integrations/connectors/destination-google-sheets/integration_tests/test_data/test_destination_messages.txt
  airbyte-integrations/connectors/destination-google-sheets/integration_tests/test_data/test_writer_catalog.json
  airbyte-integrations/connectors/destination-google-sheets/integration_tests/test_destination.py
  airbyte-integrations/connectors/destination-google-sheets/integration_tests/test_helpers.py
  airbyte-integrations/connectors/destination-google-sheets/integration_tests/test_spreadsheet.py
  airbyte-integrations/connectors/destination-google-sheets/integration_tests/test_writer.py
  airbyte-integrations/connectors/destination-google-sheets/main.py
  airbyte-integrations/connectors/destination-google-sheets/requirements.txt
  airbyte-integrations/connectors/destination-google-sheets/setup.py
  airbyte-webapp/src/views/Connector/ServiceForm/components/Sections/auth/AuthButton.tsx
  docs/SUMMARY.md
  docs/integrations/README.md
  docs/integrations/destinations/google-sheets.md
Labels: area/documentation, area/frontend, area/connectors, area/platform

#12791 Use `host.docker.internal` for acceptance testing on macs
  airbyte-tests/src/acceptanceTests/java/io/airbyte/test/acceptance/AcceptanceTests.java
Labels: team/sources-dx

#12601 Redshift Destination Apply buffering strategy
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/staging/StagingConsumerFactory.java
  airbyte-integrations/connectors/destination-redshift/Dockerfile
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftCopyS3Destination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftDestination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftInsertDestination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftStagingS3Destination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/copiers/RedshiftStreamCopier.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/copiers/RedshiftStreamCopierFactory.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/operations/RedshiftS3StagingSqlOperations.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/operations/RedshiftSqlOperations.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/RedshiftInsertDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/RedshiftS3StagingInsertDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/RedshiftStagingS3DestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-redshift/src/test/java/io/airbyte/integrations/destination/redshift/copiers/RedshiftStreamCopierTest.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3StorageOperations.java
  docs/integrations/destinations/redshift.md
Labels: area/documentation, area/connectors

#12711 Source Hubspot: ensure all oauth2.0 scopes in "check" command
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/source_hubspot/source.py
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/HubspotOAuthFlow.java
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors

#12614 base-java: Add utility for `AirbyteTraceMessage` and naively emit on any connector error
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/AirbyteExceptionHandler.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/AirbyteTraceMessageUtility.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/IntegrationRunner.java
  airbyte-integrations/bases/base-java/src/test/java/io/airbyte/integrations/base/AirbyteExceptionHandlerTest.java
  airbyte-integrations/bases/base-java/src/test/java/io/airbyte/integrations/base/AirbyteTraceMessageUtilityTest.java
  docs/connector-development/tutorials/building-a-java-destination.md
Labels: area/documentation

#12764 AzureBlobStorage destination: enable DAT tests
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageCsvDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-azure-blob-storage/src/test-integration/java/io/airbyte/integrations/destination/azure_blob_storage/AzureBlobStorageDestinationAcceptanceTest.java
Labels: area/connectors

#12300 🎉 Destination Google Sheets: Support OAuth2.0
  airbyte-oauth/src/main/java/io/airbyte/oauth/OAuthImplementationFactory.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/google/DestinationGoogleSheetsOAuthFlow.java
  airbyte-oauth/src/test/java/io/airbyte/oauth/flows/google/DestinationGoogleSheetsOAuthFlowTest.java
Labels: type/enhancement, area/oauth, airbyte-cloud, team/connectors-python, connectors/destination/google-sheets

#12302 feat: added sorting for name, connector and lastsync field
  airbyte-webapp/src/components/EntityTable/ConnectionTable.tsx
  airbyte-webapp/src/components/EntityTable/ImplementationTable.tsx
Labels: area/frontend, area/platform

#12805 Destinations BigQuery & Snowflake: use latest base-java to emit AirbyteTraceMessage on errros
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors

#12343 Follow up on #2655 Clean up kafka source connector docs
  airbyte-integrations/connectors/source-kafka/README.md
  docs/integrations/sources/kafka.md
Labels: area/documentation, area/connectors

#12811 Vertically center group label in connector form
  airbyte-webapp/src/views/Connector/ServiceForm/components/Sections/ConditionSection.tsx
Labels: area/frontend, area/platform

#12793 correct link to syncmode page
  airbyte-webapp/src/config/uiConfig.ts
Labels: area/frontend, area/platform

#12586 Update state message
  airbyte-protocol/models/src/main/resources/airbyte_protocol/airbyte_protocol.yaml
Labels: area/platform, area/protocol

#12797 Update spec to replace markdown
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-s3/Dockerfile
  airbyte-integrations/connectors/destination-s3/src/main/resources/spec.json
  docs/integrations/destinations/s3.md
Labels: area/documentation, area/connectors

#12678 Remove redirect to previous page after manual log out, expose redirect param, fix auth page titles
  airbyte-webapp/src/packages/cloud/cloudRoutes.tsx
  airbyte-webapp/src/packages/cloud/services/auth/AuthService.tsx
  airbyte-webapp/src/packages/cloud/services/auth/reducer.ts
  airbyte-webapp/src/packages/cloud/views/auth/Auth.tsx
  airbyte-webapp/src/packages/cloud/views/auth/LoginPage/LoginPage.tsx
  airbyte-webapp/src/packages/cloud/views/auth/ResetPasswordPage/ResetPasswordPage.tsx
  airbyte-webapp/src/packages/cloud/views/auth/SignupPage/SignupPage.tsx
  airbyte-webapp/src/utils/stateUtils.ts
Labels: area/frontend, area/platform

#12824 Docs: remove deprecated variable for mysql binlog config
  docs/integrations/sources/mysql.md
Labels: area/documentation

#12589 Clean job state before creating new jobs in connection manager workflow
  airbyte-api/src/main/openapi/config.yaml
  airbyte-config/models/src/main/resources/types/FailureReason.yaml
  airbyte-scheduler/models/src/main/java/io/airbyte/scheduler/models/JobStatus.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/DefaultJobPersistence.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/JobPersistence.java
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/DefaultJobPersistenceTest.java
  airbyte-tests/src/acceptanceTests/java/io/airbyte/test/acceptance/AcceptanceTests.java
  airbyte-workers/src/main/java/io/airbyte/workers/helper/FailureHelper.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityTest.java
Labels: area/api, area/worker, area/platform, area/scheduler

#12289 Repair temporal state when performing manual actions
  airbyte-api/src/main/openapi/config.yaml
  airbyte-config/models/src/main/resources/types/FailureReason.yaml
  airbyte-scheduler/client/src/main/java/io/airbyte/scheduler/client/EventRunner.java
  airbyte-scheduler/client/src/main/java/io/airbyte/scheduler/client/TemporalEventRunner.java
  airbyte-scheduler/models/src/main/java/io/airbyte/scheduler/models/JobStatus.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/DefaultJobPersistence.java
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/JobPersistence.java
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/DefaultJobPersistenceTest.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SchedulerHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/SchedulerHandlerTest.java
  airbyte-tests/src/acceptanceTests/java/io/airbyte/test/acceptance/AcceptanceTests.java
  airbyte-workers/src/main/java/io/airbyte/workers/helper/FailureHelper.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/ConnectionManagerUtils.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/TemporalClient.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/exception/DeletedWorkflowException.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/exception/UnreachableWorkflowException.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/TemporalClientTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityTest.java
Labels: area/api, area/worker, area/platform, area/server, area/scheduler

#12829 update CDK airbyte protocol models to fix `master` build
  airbyte-cdk/python/airbyte_cdk/models/airbyte_protocol.py
Labels: CDK

#12834 🐞 Postgres source: fix azure database catalog retrieval
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresSourceTest.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors

#12839 Bump Airbyte version from 0.38.2-alpha to 0.38.3-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#12548 Add 401 error message and cleanup error page
  airbyte-webapp/src/components/BaseClearView/BaseClearView.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/views/common/ErrorOccurredView.tsx
  airbyte-webapp/src/views/common/ResorceNotFoundErrorBoundary.tsx
  airbyte-webapp/src/views/common/StartOverErrorView.tsx
Labels: area/frontend, area/platform

#12735 🐛 Source: Orb: Remove unused catalog.json file
  airbyte-integrations/connectors/source-orb/integration_tests/catalog.json
Labels: area/connectors, community

#12807 Source Google Ads to GA: update spec and docs
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/source_google_ads/spec.json
  airbyte-integrations/connectors/source-google-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_streams.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors

#12294 🐛 Source Github: add incremental for `repositories`, `workflows`, `pull_request_comment_reactions`, `issue_reactions`, `issue_comment_reactions`, `commit_comment_reactions`
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/acceptance-test-config.yml
  airbyte-integrations/connectors/source-github/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-github/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-github/setup.py
  airbyte-integrations/connectors/source-github/source_github/schemas/issue_reactions.json
  airbyte-integrations/connectors/source-github/source_github/schemas/repositories.json
  airbyte-integrations/connectors/source-github/source_github/schemas/shared/reaction.json
  airbyte-integrations/connectors/source-github/source_github/schemas/workflows.json
  airbyte-integrations/connectors/source-github/source_github/source.py
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/unit_tests/test_source.py
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors

#12619 Use AirbyteErrorTraceMessages to populate failure reasons
  airbyte-workers/src/main/java/io/airbyte/workers/DefaultReplicationWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/helper/FailureHelper.java
  airbyte-workers/src/main/java/io/airbyte/workers/protocols/airbyte/AirbyteMessageTracker.java
  airbyte-workers/src/main/java/io/airbyte/workers/protocols/airbyte/DefaultAirbyteDestination.java
  airbyte-workers/src/main/java/io/airbyte/workers/protocols/airbyte/DefaultAirbyteSource.java
  airbyte-workers/src/main/java/io/airbyte/workers/protocols/airbyte/MessageTracker.java
  airbyte-workers/src/test/java/io/airbyte/workers/DefaultReplicationWorkerTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/helper/FailureHelperTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/protocols/airbyte/AirbyteMessageTrackerTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/protocols/airbyte/AirbyteMessageUtils.java
Labels: area/worker, area/platform

#12827 Generated python connectors use CDK version with YAML spec support
  airbyte-integrations/connector-templates/source-python-http-api/README.md.hbs
  airbyte-integrations/connector-templates/source-python-http-api/setup.py.hbs
  airbyte-integrations/connector-templates/source-python/README.md.hbs
  airbyte-integrations/connector-templates/source-python/setup.py.hbs
  airbyte-integrations/connector-templates/source-singer/README.md.hbs
  airbyte-integrations/connector-templates/source-singer/setup.py.hbs
  airbyte-integrations/connectors/source-scaffold-source-http/README.md
  airbyte-integrations/connectors/source-scaffold-source-http/setup.py
  airbyte-integrations/connectors/source-scaffold-source-python/README.md
  airbyte-integrations/connectors/source-scaffold-source-python/setup.py
Labels: area/connectors

#12768 📝 Destination bigquery: mark service account as required for cloud
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDestination.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryUtils.java
  airbyte-integrations/connectors/destination-bigquery/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-bigquery/src/test/java/io/airbyte/integrations/destination/bigquery/BigQueryUtilsTest.java
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors

#12860 Scylla destinations : Enable DAT tests
  airbyte-integrations/connectors/destination-scylla/src/test-integration/java/io/airbyte/integrations/destination/scylla/ScyllaDestinationAcceptanceTest.java
Labels: area/connectors

#12745 Normalization snowflake: add datetime without timezone
  airbyte-integrations/bases/base-normalization/Dockerfile
  airbyte-integrations/bases/base-normalization/integration_tests/dbt_integration_test.py
  airbyte-integrations/bases/base-normalization/normalization/transform_catalog/stream_processor.py
  airbyte-integrations/bases/base-normalization/normalization/transform_catalog/utils.py
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/NormalizationRunnerFactory.java
  docs/understanding-airbyte/basic-normalization.md
Labels: area/documentation, area/worker, normalization, area/platform

#12869 Destination Snowflake fixed NPE in S3 staging
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-redshift/Dockerfile
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftInsertDestination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftStagingS3Destination.java
  docs/integrations/destinations/redshift.md
Labels: area/documentation, area/connectors

#12861 🎉 Databricks destination: use new jdbc driver and open source the connector
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-db/lib/src/main/java/io/airbyte/db/factory/DatabaseDriver.java
  airbyte-integrations/connectors/destination-databricks/Dockerfile
  airbyte-integrations/connectors/destination-databricks/README.md
  airbyte-integrations/connectors/destination-databricks/build.gradle
  airbyte-integrations/connectors/destination-databricks/lib/.keep
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksDestination.java
  airbyte-integrations/connectors/destination-databricks/src/test-integration/java/io/airbyte/integrations/destination/databricks/DatabricksDestinationAcceptanceTest.java
  docs/integrations/destinations/databricks.md
Labels: area/documentation, area/connectors

#12895 📝 Update bigquery doc about hmac key troubleshooting
  docs/integrations/destinations/bigquery.md
Labels: area/documentation

#12875 Only log the first schema validation error
  airbyte-workers/src/main/java/io/airbyte/workers/DefaultReplicationWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/RecordSchemaValidationException.java
  airbyte-workers/src/main/java/io/airbyte/workers/RecordSchemaValidator.java
Labels: area/worker, area/platform

#12897 Bump Airbyte version from 0.38.3-alpha to 0.38.4-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler

#12840 🎉Source-postgres: added custom JDBC parameters (jdbc_url_params) field
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/main/resources/spec.json
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresSpecTest.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors

#12885 JobTracker reports enum values
  airbyte-scheduler/persistence/src/main/java/io/airbyte/scheduler/persistence/job_tracker/JobTracker.java
  airbyte-scheduler/persistence/src/main/resources/example_config.json
  airbyte-scheduler/persistence/src/main/resources/example_config_schema.json
  airbyte-scheduler/persistence/src/test/java/io/airbyte/scheduler/persistence/job_tracker/JobTrackerTest.java
Labels: area/platform, area/scheduler

#12912 Snowflake destination : Enable DAT tests
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/DestinationAcceptanceTestUtils.java
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/JdbcDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeCopyAzureBlobStorageDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeS3StagingDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeS3StagingSqlOperations.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeDestinationIntegrationTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeInsertDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeS3CopyEncryptedDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeTestDataComparator.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeTestSourceOperations.java
Labels: area/connectors

#12876 Destination Kafka: Allow configuring PLAIN SASL
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-kafka/Dockerfile
  docs/integrations/destinations/kafka.md
  docs/integrations/sources/kafka.md
Labels: area/documentation, area/connectors, community

#12922 Python CDK: fixed dependency install command
  docs/connector-development/cdk-python/README.md
Labels: area/documentation, community

#12938 CDK: publish version 0.1.57
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/setup.py
Labels: CDK

#12796 SAT: check that connectors emit an `AirbyteTraceMessage` on failure
  airbyte-integrations/bases/source-acceptance-test/CHANGELOG.md
  airbyte-integrations/bases/source-acceptance-test/Dockerfile
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/config.py
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/tests/test_core.py
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/utils/connector_runner.py
  airbyte-integrations/bases/source-acceptance-test/unit_tests/test_core.py
  docs/connector-development/testing-connectors/source-acceptance-tests-reference.md
Labels: area/documentation

#12943 📝 Databricks destination: clarify server hostname in the doc
  airbyte-integrations/connectors/destination-databricks/sample_secrets/config.json
  docs/integrations/destinations/databricks.md
Labels: area/documentation, area/connectors

#12924 Normalization: Checking --event-buffer-size on old dbt crashed entrypoint.sh
  airbyte-integrations/bases/base-normalization/Dockerfile
  airbyte-integrations/bases/base-normalization/entrypoint.sh
  airbyte-workers/src/main/java/io/airbyte/workers/normalization/NormalizationRunnerFactory.java
  docs/understanding-airbyte/basic-normalization.md
Labels: area/documentation, area/worker, normalization, area/platform

#12965 Update email placeholder example
  airbyte-webapp/src/packages/cloud/locales/en.json
Labels: area/frontend, area/platform

#12802 improve incremental SAT testing to walk through each stream state instead of just the latest
  airbyte-integrations/bases/source-acceptance-test/CHANGELOG.md
  airbyte-integrations/bases/source-acceptance-test/Dockerfile
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/config.py
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/tests/test_incremental.py
  airbyte-integrations/bases/source-acceptance-test/unit_tests/test_incremental.py
  airbyte-integrations/bases/source-acceptance-test/unit_tests/test_json_schema_helper.py
  docs/connector-development/testing-connectors/source-acceptance-tests-reference.md
Labels: area/documentation

#12942 Quote and comma-separate Pokemon examples to clarify help text
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-pokeapi/Dockerfile
  airbyte-integrations/connectors/source-pokeapi/source_pokeapi/spec.json
  docs/integrations/sources/pokeapi.md
Labels: area/documentation, area/connectors

#12948 CDK: TypeTransformer.default_convert catch TypeError
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/utils/transform.py
  airbyte-cdk/python/setup.py
Labels: CDK

#13008 Source Facebook Marketing - Update CDK to v0.1.58 avoid crashing on incorrect stream schemas
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors

#12866 MySql destination : Enable DAT tests
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/JdbcDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mysql-strict-encrypt/src/test-integration/java/io/airbyte/integrations/destination/mysql/MySQLStrictEncryptDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mysql/src/test-integration/java/io/airbyte/integrations/destination/mysql/MySQLDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mysql/src/test-integration/java/io/airbyte/integrations/destination/mysql/MySqlTestDataComparator.java
  airbyte-integrations/connectors/destination-mysql/src/test-integration/java/io/airbyte/integrations/destination/mysql/SshMySQLDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mysql/src/test-integration/java/io/airbyte/integrations/destination/mysql/SslMySQLDestinationAcceptanceTest.java
Labels: area/connectors

#12891 Update README.md
  docs/integrations/README.md
Labels: area/documentation

#11985 Show setup guide in side panel for Source and Destination creation
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/components/ConnectorBlocks/FormPageContent.tsx
  airbyte-webapp/src/components/DocumentationPanel/DocumentationPanel.tsx
  airbyte-webapp/src/components/DocumentationPanel/index.tsx
  airbyte-webapp/src/components/PageTitle/PageTitle.tsx
  airbyte-webapp/src/index.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/ConnectionPage/ConnectionPage.tsx
  airbyte-webapp/src/pages/ConnectionPage/index.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/CreationFormPage/CreationFormPage.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/CreationFormPage/components/DestinationForm.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/CreationFormPage/components/SourceForm.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/CreationFormPage/index.tsx
  airbyte-webapp/src/pages/DestinationPage/DestinationPage.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/CreateDestinationPage/CreateDestinationPage.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/CreateDestinationPage/components/DestinationForm.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/CreateDestinationPage/index.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/DestinationItemPage/DestinationItemPage.tsx
  airbyte-webapp/src/pages/OnboardingPage/OnboardingPage.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/DestinationStep.tsx
  airbyte-webapp/src/pages/OnboardingPage/components/SourceStep.tsx
  airbyte-webapp/src/pages/OnboardingPage/types.ts
  airbyte-webapp/src/pages/OnboardingPage/useStepsConfig.tsx
  airbyte-webapp/src/pages/SourcesPage/SourcesPage.tsx
  airbyte-webapp/src/pages/SourcesPage/index.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/CreateSourcePage/CreateSourcePage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/CreateSourcePage/components/SourceForm.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/CreateSourcePage/index.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/SourceItemPage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SourceSettings.tsx
  airbyte-webapp/src/views/Connector/ConnectorDocumentationLayout/ConnectorDocumentationLayout.module.css
  airbyte-webapp/src/views/Connector/ConnectorDocumentationLayout/ConnectorDocumentationLayout.tsx
  airbyte-webapp/src/views/Connector/ConnectorDocumentationLayout/ConnectorDocumentationWrapper.tsx
  airbyte-webapp/src/views/Connector/ConnectorDocumentationLayout/DocumentationPanelContext.tsx
  airbyte-webapp/src/views/Connector/ConnectorDocumentationLayout/index.ts
  airbyte-webapp/src/views/Connector/ServiceForm/ServiceForm.test.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/ServiceForm.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/Controls/ConnectorServiceTypeControl.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/Controls/DocumentationLink.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/Controls/Instruction.tsx
Labels: area/frontend, area/platform

#12993 Hide role from access management page and invite user modal in cloud
  airbyte-webapp/src/packages/cloud/views/users/InviteUsersModal/InviteUsersModal.tsx
  airbyte-webapp/src/packages/cloud/views/users/UsersSettingsView/UsersSettingsView.tsx
Labels: area/frontend, area/platform

#12944 CDK: provide better user-friendly error messages
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/abstract_source.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/core.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/http.py
  airbyte-cdk/python/airbyte_cdk/utils/airbyte_secrets_utils.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/streams/http/test_http.py
  airbyte-cdk/python/unit_tests/sources/test_abstract_source.py
Labels: CDK

#13053 results from gradle format on master
  airbyte-integrations/connectors/destination-google-sheets/destination_google_sheets/spec.json
  airbyte-integrations/connectors/destination-google-sheets/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/destination-google-sheets/integration_tests/sample_config_oauth.json
  airbyte-integrations/connectors/destination-google-sheets/integration_tests/test_data/test_buffer_catalog.json
  airbyte-integrations/connectors/destination-google-sheets/integration_tests/test_data/test_writer_catalog.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/__init__.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_source.py
  airbyte-integrations/connectors/source-google-sheets/google_sheets_source/spec.yaml
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/spec.json
  airbyte-integrations/connectors/source-notion/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-pipedrive/setup.py
  airbyte-integrations/connectors/source-pipedrive/unit_tests/conftest.py
  airbyte-integrations/connectors/source-pipedrive/unit_tests/test_source.py
  airbyte-integrations/connectors/source-pipedrive/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/schemas/Describe.json
  airbyte-integrations/connectors/source-scaffold-source-http/source_scaffold_source_http/spec.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/streams_audience_incremental.json
  airbyte-integrations/connectors/source-twilio/source_twilio/streams.py
  airbyte-integrations/connectors/source-typeform/setup.py
  airbyte-integrations/connectors/source-typeform/unit_tests/conftest.py
  airbyte-integrations/connectors/source-typeform/unit_tests/test_source.py
  airbyte-integrations/connectors/source-typeform/unit_tests/test_streams.py
Labels: area/connectors

#13050 Update smartsheets.md
  docs/integrations/sources/smartsheets.md
Labels: area/documentation, community

#13055 :bug: Source Zendesk-Support: fixed `ticket_audits` stream schema + fixed broken unit_test
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-zendesk-support/Dockerfile
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/ticket_audits.json
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/test_backoff_on_rate_limit.py
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors

#12940 Destination Redshift: Fixed maximum record size for SUPER type
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/DestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-redshift/Dockerfile
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/operations/RedshiftSqlOperations.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/RedshiftStagingS3DestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-redshift/src/test/java/io/airbyte/integrations/destination/redshift/operations/RedshiftSqlOperationsTest.java
  docs/integrations/destinations/redshift.md
Labels: area/documentation, area/connectors, community

#13043 Destination-S3: Remove configurable part size
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-s3/Dockerfile
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/S3DestinationConfig.java
  airbyte-integrations/connectors/destination-s3/src/main/java/io/airbyte/integrations/destination/s3/csv/S3CsvFormatConfig.java
  airbyte-integrations/connectors/destination-s3/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-s3/src/test/java/io/airbyte/integrations/destination/s3/S3DestinationConfigTest.java
  docs/integrations/destinations/s3.md
Labels: area/documentation, area/connectors

#13066 Revert "Fix cancel button when it doesn't provide feedback to the use…
  airbyte-webapp/.eslintrc
  airbyte-webapp/src/components/ConfirmationModal/ConfirmationModal.tsx
  airbyte-webapp/src/components/EntityTable/utils.tsx
  airbyte-webapp/src/components/JobItem/components/MainInfo.tsx
  airbyte-webapp/src/components/ResetDataModal/ResetDataModal.tsx
  airbyte-webapp/src/components/ResetDataModal/index.tsx
  airbyte-webapp/src/components/ResetDataModal/types.ts
  airbyte-webapp/src/components/SingletonCard/SingletonCard.tsx
  airbyte-webapp/src/components/ToolTip/ToolTip.tsx
  airbyte-webapp/src/components/base/Button/LoadingButton.tsx
  airbyte-webapp/src/hooks/services/ConfirmationModal/ConfirmationModalService.tsx
  airbyte-webapp/src/hooks/useLoadingState.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/packages/firebaseReact/sdk.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/ReplicationView.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/components/StatusView.tsx
  airbyte-webapp/src/theme.ts
  airbyte-webapp/src/views/Connection/ConnectionForm/ConnectionForm.test.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/ConnectionForm.tsx
Labels: area/frontend, area/platform

#13065 Bump Airbyte version from 0.38.4-alpha to 0.39.0-alpha
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-scheduler/app/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  charts/airbyte/values.yaml
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/frontend, area/worker, area/platform, kubernetes, area/server, area/scheduler
