Repository airbytehq/airbyte, pull requests merged in 2022-11, with the labels that each got.

#18748 Resurfaces hidden cloud connectors within UI
  airbyte-webapp/src/core/domain/connector/constants.ts
Labels: area/platform, team/frontend

#18757 Update helpers functions in subcharts
  charts/airbyte-bootloader/templates/_helpers.tpl
  charts/airbyte-cron/templates/_helpers.tpl
  charts/airbyte-metrics/templates/_helpers.tpl
  charts/airbyte-server/templates/_helpers.tpl
  charts/airbyte-webapp/templates/_helpers.tpl
  charts/airbyte-worker/templates/_helpers.tpl
Labels: area/platform, kubernetes

#18718 Update chart.yaml to reference right subchart
  charts/airbyte-cron/Chart.yaml
  charts/airbyte/Chart.lock
  charts/airbyte/Chart.yaml
Labels: area/platform, kubernetes

#18753 Source Salesforce: add get_error_display_message for ConnectionError
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-salesforce/Dockerfile
  airbyte-integrations/connectors/source-salesforce/integration_tests/bulk_error_test.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/source.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/streams.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/api_test.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors, connectors/source/salesforce

#18471 🎉 New Source: Public APIs [python CDK]
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-public-apis/.dockerignore
  airbyte-integrations/connectors/source-public-apis/Dockerfile
  airbyte-integrations/connectors/source-public-apis/README.md
  airbyte-integrations/connectors/source-public-apis/acceptance-test-config.yml
  airbyte-integrations/connectors/source-public-apis/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-public-apis/bootstrap.md
  airbyte-integrations/connectors/source-public-apis/build.gradle
  airbyte-integrations/connectors/source-public-apis/integration_tests/__init__.py
  airbyte-integrations/connectors/source-public-apis/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-public-apis/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-public-apis/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-public-apis/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-public-apis/main.py
  airbyte-integrations/connectors/source-public-apis/requirements.txt
  airbyte-integrations/connectors/source-public-apis/sample_files/config.json
  airbyte-integrations/connectors/source-public-apis/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-public-apis/sample_files/invalid_config.json
  airbyte-integrations/connectors/source-public-apis/setup.py
  airbyte-integrations/connectors/source-public-apis/source_public_apis/__init__.py
  airbyte-integrations/connectors/source-public-apis/source_public_apis/schemas/categories.json
  airbyte-integrations/connectors/source-public-apis/source_public_apis/schemas/services.json
  airbyte-integrations/connectors/source-public-apis/source_public_apis/source.py
  airbyte-integrations/connectors/source-public-apis/source_public_apis/spec.yaml
  airbyte-integrations/connectors/source-public-apis/unit_tests/__init__.py
  airbyte-integrations/connectors/source-public-apis/unit_tests/test_source.py
  airbyte-integrations/connectors/source-public-apis/unit_tests/test_streams.py
  docs/integrations/README.md
  docs/integrations/sources/public-apis.md
Labels: area/documentation, area/connectors, community, hacktober, bounty, bounty-XL, connectors/source/public-apis, reward-200

#18565 🎉 New Source: Coinmarketcap [low-code CDK]
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-coinmarketcap/.dockerignore
  airbyte-integrations/connectors/source-coinmarketcap/Dockerfile
  airbyte-integrations/connectors/source-coinmarketcap/README.md
  airbyte-integrations/connectors/source-coinmarketcap/__init__.py
  airbyte-integrations/connectors/source-coinmarketcap/acceptance-test-config.yml
  airbyte-integrations/connectors/source-coinmarketcap/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-coinmarketcap/build.gradle
  airbyte-integrations/connectors/source-coinmarketcap/integration_tests/__init__.py
  airbyte-integrations/connectors/source-coinmarketcap/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-coinmarketcap/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-coinmarketcap/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-coinmarketcap/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-coinmarketcap/main.py
  airbyte-integrations/connectors/source-coinmarketcap/requirements.txt
  airbyte-integrations/connectors/source-coinmarketcap/setup.py
  airbyte-integrations/connectors/source-coinmarketcap/source_coinmarketcap/__init__.py
  airbyte-integrations/connectors/source-coinmarketcap/source_coinmarketcap/coinmarketcap.yaml
  airbyte-integrations/connectors/source-coinmarketcap/source_coinmarketcap/schemas/categories.json
  airbyte-integrations/connectors/source-coinmarketcap/source_coinmarketcap/schemas/exchange.json
  airbyte-integrations/connectors/source-coinmarketcap/source_coinmarketcap/schemas/fiat.json
  airbyte-integrations/connectors/source-coinmarketcap/source_coinmarketcap/schemas/listing.json
  airbyte-integrations/connectors/source-coinmarketcap/source_coinmarketcap/schemas/quotes.json
  airbyte-integrations/connectors/source-coinmarketcap/source_coinmarketcap/source.py
  airbyte-integrations/connectors/source-coinmarketcap/source_coinmarketcap/spec.yaml
  docs/integrations/README.md
  docs/integrations/sources/coinmarketcap.md
Labels: area/documentation, area/connectors, community, hacktober, bounty, bounty-XL, connectors/source/coinmarketcap, reward-200

#18777 Filter Temporal exit errors from traces
  airbyte-workers/src/main/java/io/airbyte/workers/ApplicationInitializer.java
  airbyte-workers/src/main/java/io/airbyte/workers/tracing/StorageObjectGetInterceptor.java
  airbyte-workers/src/main/java/io/airbyte/workers/tracing/TemporalSdkInterceptor.java
  airbyte-workers/src/test/java/io/airbyte/workers/StorageObjectGetInterceptorTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/tracing/DummySpan.java
  airbyte-workers/src/test/java/io/airbyte/workers/tracing/StorageObjectGetInterceptorTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/tracing/TemporalSdkInterceptorTest.java
Labels: area/worker, area/platform

#18159 Mark/update notification settings design
  airbyte-webapp/src/components/icons/DocsIcon.tsx
  airbyte-webapp/src/components/icons/PlayIcon.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/packages/cloud/views/layout/SideBar/SideBar.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/NotificationPage/NotificationPage.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/NotificationPage/components/WebHookForm.module.scss
  airbyte-webapp/src/pages/SettingsPage/pages/NotificationPage/components/WebHookForm.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/NotificationPage/components/help.png
  airbyte-webapp/src/utils/links.ts
  airbyte-webapp/src/views/layout/SideBar/SideBar.tsx
Labels: area/platform, team/platform-workflow, team/frontend

#18789 Fix unit tests in source relational db
  airbyte-integrations/connectors/source-relational-db/src/test/java/io/airbyte/integrations/source/relationaldb/state/GlobalStateManagerTest.java
  airbyte-integrations/connectors/source-relational-db/src/test/java/io/airbyte/integrations/source/relationaldb/state/StreamStateManagerTest.java
Labels: area/connectors, connectors/source/relational-db

#18790 Correct coinmarket spec
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-coinmarketcap/Dockerfile
  airbyte-integrations/connectors/source-coinmarketcap/source_coinmarketcap/spec.yaml
Labels: area/connectors, connectors/source/coinmarketcap

#18197 Parameterize test_empty_streams and test_stream_with_1_airbyte_column by destination
  airbyte-integrations/bases/base-normalization/integration_tests/test_ephemeral.py
Labels: normalization

#18734 🐛 Source Facebook Marketing: reduce request limit after specific error
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/acceptance-test-config.yml
  airbyte-integrations/connectors/source-facebook-marketing/setup.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/common.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_client.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing

#18787 [charts/airbyte-cron] Cleanup env vars
  charts/airbyte-cron/templates/deployment.yaml
Labels: area/platform, kubernetes, helm

#18810 Use equalsIgnoreCase
  airbyte-workers/src/main/java/io/airbyte/workers/tracing/TemporalSdkInterceptor.java
Labels: area/worker, area/platform

#18729 🐛Destination Google Sheets: Fix empty headers list
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-google-sheets/Dockerfile
  airbyte-integrations/connectors/destination-google-sheets/README.md
  airbyte-integrations/connectors/destination-google-sheets/destination_google_sheets/spreadsheet.py
  docs/integrations/destinations/google-sheets.md
Labels: area/documentation, area/connectors, connectors/destination/google-sheets

#18726 🐛Source Exchange Rates: Fix handling error during check connection
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-exchange-rates/Dockerfile
  airbyte-integrations/connectors/source-exchange-rates/source_exchange_rates/source.py
  airbyte-integrations/connectors/source-exchange-rates/unit_tests/__init__.py
  airbyte-integrations/connectors/source-exchange-rates/unit_tests/conftest.py
  airbyte-integrations/connectors/source-exchange-rates/unit_tests/test_source.py
  docs/integrations/sources/exchangeratesapi.md
Labels: area/documentation, area/connectors, connectors/source/exchange-rates

#18813 Add normalization changelog and bump normalization version in platform
  airbyte-commons-worker/src/main/java/io/airbyte/workers/normalization/NormalizationRunnerFactory.java
  docs/understanding-airbyte/basic-normalization.md
Labels: area/documentation

#18800 Remove the "scary" parts of ConfigPersistence
  airbyte-bootloader/src/main/java/io/airbyte/bootloader/BootloaderApp.java
  airbyte-bootloader/src/test/java/io/airbyte/bootloader/BootloaderAppTest.java
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/ClassEnforcingConfigPersistence.java
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/ConfigPersistence.java
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/DatabaseConfigPersistence.java
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/SecretsRepositoryReader.java
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/SecretsRepositoryWriter.java
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/ValidatingConfigPersistence.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/ClassEnforcingConfigPersistenceTest.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/ConfigRepositoryE2EReadWriteTest.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/DatabaseConfigPersistenceE2EReadWriteTest.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/DatabaseConfigPersistenceTest.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/DatabaseConfigPersistenceUpdateConnectorDefinitionsTest.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/SecretsRepositoryReaderTest.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/SecretsRepositoryWriterTest.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/StatePersistenceTest.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/StreamResetPersistenceTest.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/ValidatingConfigPersistenceTest.java
  airbyte-cron/src/main/java/io/airbyte/cron/config/DatabaseBeanFactory.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-workers/src/main/java/io/airbyte/workers/config/DatabaseBeanFactory.java
Labels: area/worker, area/platform, area/server

#18803 hide config persistence
  airbyte-bootloader/src/main/java/io/airbyte/bootloader/BootloaderApp.java
  airbyte-bootloader/src/test/java/io/airbyte/bootloader/BootloaderAppTest.java
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/ConfigPersistence.java
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/DatabaseConfigPersistence.java
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/ValidatingConfigPersistence.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/ConfigRepositoryE2EReadWriteTest.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/ConfigRepositoryTest.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/StatePersistenceTest.java
  airbyte-cron/src/main/java/io/airbyte/cron/config/DatabaseBeanFactory.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-workers/src/main/java/io/airbyte/workers/config/DatabaseBeanFactory.java
Labels: area/worker, area/platform, area/server

#18723 Davinchia/running stream throughput
  .env
  airbyte-api/src/main/openapi/config.yaml
  airbyte-bootloader/src/test/java/io/airbyte/bootloader/BootloaderAppTest.java
  airbyte-commons-temporal/src/main/java/io/airbyte/commons/temporal/sync/OrchestratorConstants.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/general/DefaultReplicationWorker.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/internal/AirbyteMessageTracker.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/internal/MessageTracker.java
  airbyte-config/config-models/src/main/resources/types/SyncStats.yaml
  airbyte-db/db-lib/src/main/java/io/airbyte/db/instance/jobs/migrations/V0_40_17_001__AddEstimatedRecordsAndBytesColumns.java
  airbyte-db/db-lib/src/main/resources/jobs_database/schema_dump.txt
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/DefaultJobPersistence.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/JobPersistence.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/DefaultJobPersistenceTest.java
  airbyte-protocol/protocol-models/src/main/resources/airbyte_protocol/airbyte_protocol.yaml
  airbyte-server/src/main/java/io/airbyte/server/apis/AttemptApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/converters/JobConverter.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/AttemptHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/JobHistoryHandler.java
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api, area/platform, area/protocol, area/server

#18834 Davinchia/per stream stats 1
  airbyte-api/src/main/openapi/config.yaml
  airbyte-commons-worker/src/main/java/io/airbyte/workers/general/DefaultReplicationWorker.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/internal/AirbyteMessageTracker.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/internal/MessageTracker.java
  airbyte-config/config-models/src/main/resources/types/SyncStats.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-db/db-lib/src/main/java/io/airbyte/db/instance/jobs/migrations/V0_40_17_002__AddStreamStatsColumnToSyncStats.java
  airbyte-db/db-lib/src/main/resources/jobs_database/schema_dump.txt
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/DefaultJobPersistence.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/JobPersistence.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/DefaultJobPersistenceTest.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/AttemptHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/JobHistoryHandler.java
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api, area/platform, area/server

#18827 Bump Airbyte version from 0.40.17 to 0.40.18
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-container-orchestrator/Dockerfile
  airbyte-cron/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-proxy/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte-bootloader/Chart.yaml
  charts/airbyte-cron/Chart.yaml
  charts/airbyte-server/Chart.yaml
  charts/airbyte-temporal/Chart.yaml
  charts/airbyte-webapp/Chart.yaml
  charts/airbyte-worker/Chart.yaml
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/worker, area/platform, kubernetes, area/server, team/frontend

#18766 🪟🔧 Remove styled components (round 1)
  airbyte-webapp/src/components/ArrayOfObjectsEditor/components/EditorHeader.module.scss
  airbyte-webapp/src/components/ArrayOfObjectsEditor/components/EditorHeader.tsx
  airbyte-webapp/src/components/common/ConfirmationModal/ConfirmationModal.module.scss
  airbyte-webapp/src/components/common/ConfirmationModal/ConfirmationModal.tsx
  airbyte-webapp/src/components/common/ConnectorIcon/ConnectorIcon.module.scss
  airbyte-webapp/src/components/common/ConnectorIcon/ConnectorIcon.tsx
  airbyte-webapp/src/components/common/DeleteBlock/DeleteBlock.module.scss
  airbyte-webapp/src/components/common/DeleteBlock/DeleteBlock.tsx
  airbyte-webapp/src/components/common/EmptyResourceBlock/EmptyResourceBlock.module.scss
  airbyte-webapp/src/components/common/EmptyResourceBlock/EmptyResourceBlock.tsx
  airbyte-webapp/src/components/common/PageViewContainer/BaseClearView.module.scss
  airbyte-webapp/src/components/common/PageViewContainer/BaseClearView.tsx
  airbyte-webapp/src/components/connection/CatalogTree/Arrow.module.scss
  airbyte-webapp/src/components/connection/CatalogTree/Arrow.tsx
  airbyte-webapp/src/components/connection/CatalogTree/BulkHeader.module.scss
  airbyte-webapp/src/components/connection/CatalogTree/BulkHeader.tsx
  airbyte-webapp/src/components/connection/CatalogTree/CatalogTreeSearch.module.scss
  airbyte-webapp/src/components/connection/CatalogTree/CatalogTreeSearch.tsx
  airbyte-webapp/src/components/connection/CatalogTree/StreamFieldTable.module.scss
  airbyte-webapp/src/components/connection/CatalogTree/StreamFieldTable.tsx
  airbyte-webapp/src/components/connection/CatalogTree/StreamHeader.module.scss
  airbyte-webapp/src/components/connection/CatalogTree/StreamHeader.tsx
  airbyte-webapp/src/components/connection/CatalogTree/TreeRowWrapper.module.scss
  airbyte-webapp/src/components/connection/CatalogTree/TreeRowWrapper.tsx
Labels: area/platform, team/frontend

#18699 Amazon Ads: fixed acceptance tests
  airbyte-integrations/connectors/source-amazon-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/expected_records.txt
Labels: area/connectors, connectors/source/amazon-ads

#18764 🪟🔧 Reactor Breadcrumbs component to use anchors
  airbyte-webapp/src/components/ui/Breadcrumbs/Breadcrumbs.module.scss
  airbyte-webapp/src/components/ui/Breadcrumbs/Breadcrumbs.tsx
  airbyte-webapp/src/components/ui/Breadcrumbs/index.stories.tsx
  airbyte-webapp/src/pages/DestinationPage/pages/DestinationItemPage/DestinationItemPage.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/SourceItemPage.tsx
Labels: area/platform, team/frontend

#18807 increase test timeout for some webapp tests to prevent flakes
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionReplicationTab.test.tsx
Labels: area/platform, team/frontend

#18835 Add notes about EU OAUth
  docs/integrations/sources/surveymonkey.md
Labels: area/documentation

#18849 🪟🐛 Fix: visual regression in ConnectorIcon
  airbyte-webapp/src/components/common/ConnectorIcon/ConnectorIcon.tsx
Labels: area/frontend, area/platform, team/frontend

#18828 :window: :tada: Add links to demo page
  airbyte-webapp/src/components/common/EmptyResourceListView/EmptyResourceListView.module.scss
  airbyte-webapp/src/components/common/EmptyResourceListView/EmptyResourceListView.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/packages/cloud/views/layout/SideBar/SideBar.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/AllConnectionsPage/AllConnectionsPage.module.scss
  airbyte-webapp/src/pages/ConnectionPage/pages/AllConnectionsPage/AllConnectionsPage.tsx
Labels: area/platform, team/frontend, ui/connection

#18619 mysql-source:fix tinyint unsigned handling
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/bases/debezium-v1-9-6/src/main/java/io/airbyte/integrations/debezium/internals/CustomMySQLTinyIntOneToBooleanConverter.java
  airbyte-integrations/connectors/source-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlCdcProperties.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractMySqlSourceDatatypeTest.java
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, connectors/source/mysql, connectors/source/mysql-strict-encrypt

#18829 :window: :tada: Allow environment specific sections in docs
  airbyte-webapp/src/components/common/DocumentationPanel/DocumentationPanel.test.ts
  airbyte-webapp/src/components/common/DocumentationPanel/DocumentationPanel.tsx
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/platform, team/cloud, team/frontend, ui/connectors

#18852 Add connection ID to span
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityImpl.java
Labels: area/worker, area/platform

#18855 Edited GA connector docs
  docs/integrations/sources/chargebee.md
  docs/integrations/sources/freshdesk.md
  docs/integrations/sources/greenhouse.md
  docs/integrations/sources/harvest.md
  docs/integrations/sources/iterable.md
  docs/integrations/sources/klaviyo.md
  docs/integrations/sources/mixpanel.md
  docs/integrations/sources/notion.md
  docs/integrations/sources/pinterest.md
  docs/integrations/sources/sentry.md
  docs/integrations/sources/zendesk-chat.md
  docs/integrations/sources/zendesk-talk.md
Labels: area/documentation

#18856 Avoid NPE when adding connection ID to trace
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
Labels: area/worker, area/platform

#18687 🪟 🎨 Add color variants to `PillSelect` component
  airbyte-webapp/src/components/ui/PillSelect/PillButton.module.scss
  airbyte-webapp/src/components/ui/PillSelect/PillButton.tsx
  airbyte-webapp/src/components/ui/PillSelect/PillSelect.tsx
  airbyte-webapp/src/scss/_variables.scss
  airbyte-webapp/src/views/layout/SideBar/SideBar.module.scss
  airbyte-webapp/src/views/layout/SideBar/components/SidebarDropdownMenu.module.scss
Labels: area/platform, team/platform-workflow, team/frontend

#18524 Bmoric/extract jobs api
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/main/java/io/airbyte/server/ServerFactory.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/apis/JobsApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/binders/JobsApiBinder.java
  airbyte-server/src/main/java/io/airbyte/server/apis/factories/JobsApiFactory.java
Labels: area/platform, area/server

#18847 🐛 Source Sendgrid: Skip the stream on `authorization required` permission error `[400, 401]`
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-sendgrid/Dockerfile
  airbyte-integrations/connectors/source-sendgrid/README.md
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/streams.py
  airbyte-integrations/connectors/source-sendgrid/unit_tests/unit_test.py
  docs/integrations/sources/sendgrid.md
Labels: area/documentation, area/connectors, connectors/source/sendgrid

#18621 Bmoric/extract logs api
  airbyte-server/src/main/java/io/airbyte/server/ConfigurationApiFactory.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/main/java/io/airbyte/server/ServerFactory.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/apis/LogsApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/binders/LogsApiBinder.java
  airbyte-server/src/main/java/io/airbyte/server/apis/factories/LogsApiFactory.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/LogsHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/LogsHandlerTest.java
Labels: area/platform, area/server

#18845 Show version and changelog status for affected connectors
  .github/comment_templates/connector_dependency_template.md
  tools/bin/ci_check_dependency.py
Labels: connectors/source/postgres, connectors/source/relational-db

#18812 Bmoric/extract notification api
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/main/java/io/airbyte/server/ServerFactory.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/apis/NotificationsApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/binders/NotificationApiBinder.java
  airbyte-server/src/main/java/io/airbyte/server/apis/factories/NotificationsApiFactory.java
Labels: area/platform, area/server

#18639 Validate protocol version on connector update
  airbyte-commons/src/main/java/io/airbyte/commons/version/AirbyteProtocolVersionRange.java
  airbyte-commons/src/test/java/io/airbyte/commons/version/AirbyteProtocolVersionRangeTest.java
  airbyte-server/src/main/java/io/airbyte/server/errors/UnsupportedProtocolVersionException.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/DestinationDefinitionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SourceDefinitionsHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/DestinationDefinitionsHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/SourceDefinitionsHandlerTest.java
Labels: area/platform, area/server

#18571 DiscoverSchema endpoints calculates diff and breaking change
  airbyte-api/src/main/openapi/config.yaml
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/ConnectionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SchedulerHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/SchedulerHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WebBackendConnectionsHandlerTest.java
  docs/reference/api/generated-api-html/index.html
  tools/openapi2jsonschema/examples/airbyte.local/openapi.yaml
Labels: area/documentation, area/api, area/platform, area/server

#18818 Extract OAuth API
  airbyte-api/src/main/openapi/config.yaml
  airbyte-server/src/main/java/io/airbyte/server/ConfigurationApiFactory.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/main/java/io/airbyte/server/ServerFactory.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/apis/DestinationOauthApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/SourceOauthApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/binders/DestinationOauthApiBinder.java
  airbyte-server/src/main/java/io/airbyte/server/apis/binders/SourceOauthApiBinder.java
  airbyte-server/src/main/java/io/airbyte/server/apis/factories/DestinationOauthApiFactory.java
  airbyte-server/src/main/java/io/airbyte/server/apis/factories/SourceOauthApiFactory.java
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api, area/platform, area/server

#18879 Extract open API
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/main/java/io/airbyte/server/ServerFactory.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/apis/OpenapiApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/binders/OpenapiApiBinder.java
  airbyte-server/src/main/java/io/airbyte/server/apis/factories/OpenapiApiFactory.java
Labels: area/platform, area/server

#18887 fix: install java in oss catalog deploy action
  .github/workflows/deploy-oss-catalog.yml
Labels: team/connector-ops

#18690 :window: 🔧 Add doc url to track event
  airbyte-webapp/src/views/Connector/ConnectorCard/useAnalyticsTrackFunctions.tsx
Labels: area/platform, team/frontend

#18596 Hide Reject all button in consent dialog
  airbyte-webapp/src/utils/dataPrivacy.ts
Labels: area/platform, team/frontend

#18150 🎉 New Source: Datadog [python cdk]
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-datadog/.dockerignore
  airbyte-integrations/connectors/source-datadog/Dockerfile
  airbyte-integrations/connectors/source-datadog/README.md
  airbyte-integrations/connectors/source-datadog/acceptance-test-config.yml
  airbyte-integrations/connectors/source-datadog/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-datadog/build.gradle
  airbyte-integrations/connectors/source-datadog/integration_tests/__init__.py
  airbyte-integrations/connectors/source-datadog/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-datadog/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-datadog/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-datadog/integration_tests/inc_configured_catalog.json
  airbyte-integrations/connectors/source-datadog/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-datadog/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-datadog/main.py
  airbyte-integrations/connectors/source-datadog/requirements.txt
  airbyte-integrations/connectors/source-datadog/setup.py
  airbyte-integrations/connectors/source-datadog/source_datadog/__init__.py
  airbyte-integrations/connectors/source-datadog/source_datadog/schemas/audit_logs.json
  airbyte-integrations/connectors/source-datadog/source_datadog/schemas/dashboards.json
  airbyte-integrations/connectors/source-datadog/source_datadog/schemas/downtimes.json
  airbyte-integrations/connectors/source-datadog/source_datadog/schemas/incident_teams.json
  airbyte-integrations/connectors/source-datadog/source_datadog/schemas/incidents.json
  airbyte-integrations/connectors/source-datadog/source_datadog/schemas/logs.json
  airbyte-integrations/connectors/source-datadog/source_datadog/schemas/metrics.json
  airbyte-integrations/connectors/source-datadog/source_datadog/schemas/synthetic_tests.json
  airbyte-integrations/connectors/source-datadog/source_datadog/schemas/users.json
  airbyte-integrations/connectors/source-datadog/source_datadog/source.py
  airbyte-integrations/connectors/source-datadog/source_datadog/spec.yaml
  airbyte-integrations/connectors/source-datadog/source_datadog/streams.py
  airbyte-integrations/connectors/source-datadog/unit_tests/__init__.py
  airbyte-integrations/connectors/source-datadog/unit_tests/conftest.py
  airbyte-integrations/connectors/source-datadog/unit_tests/test_source.py
  airbyte-integrations/connectors/source-datadog/unit_tests/test_streams.py
  docs/integrations/README.md
  docs/integrations/sources/datadog.md
Labels: area/documentation, area/connectors, community, hacktober, internal, connectors/source/datadog

#18320 🎉 New Source: Alpha Vantage
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-alpha-vantage/.dockerignore
  airbyte-integrations/connectors/source-alpha-vantage/Dockerfile
  airbyte-integrations/connectors/source-alpha-vantage/README.md
  airbyte-integrations/connectors/source-alpha-vantage/__init__.py
  airbyte-integrations/connectors/source-alpha-vantage/acceptance-test-config.yml
  airbyte-integrations/connectors/source-alpha-vantage/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-alpha-vantage/build.gradle
  airbyte-integrations/connectors/source-alpha-vantage/integration_tests/__init__.py
  airbyte-integrations/connectors/source-alpha-vantage/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-alpha-vantage/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-alpha-vantage/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-alpha-vantage/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-alpha-vantage/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-alpha-vantage/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-alpha-vantage/main.py
  airbyte-integrations/connectors/source-alpha-vantage/requirements.txt
  airbyte-integrations/connectors/source-alpha-vantage/setup.py
  airbyte-integrations/connectors/source-alpha-vantage/source_alpha_vantage/__init__.py
  airbyte-integrations/connectors/source-alpha-vantage/source_alpha_vantage/alpha_vantage.yaml
  airbyte-integrations/connectors/source-alpha-vantage/source_alpha_vantage/object_dpath_extractor.py
  airbyte-integrations/connectors/source-alpha-vantage/source_alpha_vantage/schemas/time_series_daily.json
  airbyte-integrations/connectors/source-alpha-vantage/source_alpha_vantage/schemas/time_series_daily_adjusted.json
  airbyte-integrations/connectors/source-alpha-vantage/source_alpha_vantage/schemas/time_series_intraday.json
  airbyte-integrations/connectors/source-alpha-vantage/source_alpha_vantage/schemas/time_series_monthly.json
  airbyte-integrations/connectors/source-alpha-vantage/source_alpha_vantage/schemas/time_series_monthly_adjusted.json
  airbyte-integrations/connectors/source-alpha-vantage/source_alpha_vantage/schemas/time_series_weekly.json
  airbyte-integrations/connectors/source-alpha-vantage/source_alpha_vantage/schemas/time_series_weekly_adjusted.json
  airbyte-integrations/connectors/source-alpha-vantage/source_alpha_vantage/source.py
  airbyte-integrations/connectors/source-alpha-vantage/source_alpha_vantage/spec.yaml
  airbyte-integrations/connectors/source-alpha-vantage/unit_tests/__init__.py
  airbyte-integrations/connectors/source-alpha-vantage/unit_tests/test_object_dpath_extractor.py
  docs/integrations/sources/alpha-vantage.md
Labels: area/documentation, area/connectors, community, hacktober, bounty, connectors/source/alpha-vantage

#18342 New Source: Gridly
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-gridly/.dockerignore
  airbyte-integrations/connectors/source-gridly/Dockerfile
  airbyte-integrations/connectors/source-gridly/README.md
  airbyte-integrations/connectors/source-gridly/acceptance-test-config.yml
  airbyte-integrations/connectors/source-gridly/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-gridly/build.gradle
  airbyte-integrations/connectors/source-gridly/integration_tests/__init__.py
  airbyte-integrations/connectors/source-gridly/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-gridly/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-gridly/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-gridly/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-gridly/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-gridly/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-gridly/main.py
  airbyte-integrations/connectors/source-gridly/requirements.txt
  airbyte-integrations/connectors/source-gridly/setup.py
  airbyte-integrations/connectors/source-gridly/source_gridly/__init__.py
  airbyte-integrations/connectors/source-gridly/source_gridly/helpers.py
  airbyte-integrations/connectors/source-gridly/source_gridly/source.py
  airbyte-integrations/connectors/source-gridly/source_gridly/spec.yaml
  airbyte-integrations/connectors/source-gridly/unit_tests/__init__.py
  airbyte-integrations/connectors/source-gridly/unit_tests/test_helpers.py
  airbyte-integrations/connectors/source-gridly/unit_tests/test_source.py
  docs/.gitbook/assets/gridly_api_key1.png
  docs/.gitbook/assets/gridly_api_key2.png
  docs/.gitbook/assets/gridly_grid_id.png
  docs/integrations/README.md
  docs/integrations/sources/gridly.md
Labels: area/documentation, area/connectors, community, hacktober, bounty, connectors/source/gridly

#18864 Embed Metabase Connector Catalog
  docs/integrations/README.md
Labels: area/documentation

#18283 Source Amazon Seller Partner - add new reports and bump version
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/Dockerfile
  airbyte-integrations/connectors/source-amazon-seller-partner/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_get_fba_estimated_fba_fees_txt_data.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_get_fba_fulfillment_current_inventory_data.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_get_fba_fulfillment_customer_shipment_promotion_data.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_get_fba_fulfillment_inventory_adjustments_data.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_get_fba_fulfillment_inventory_receipts_data.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_get_fba_fulfillment_inventory_summary_data.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_get_fba_fulfillment_monthly_inventory_data.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_get_fba_inventory_planning_data.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_get_fba_myi_unsuppressed_inventory_data.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_get_fba_sns_forecast_data.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_get_fba_sns_performance_data.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_get_flat_file_archived_orders_data_by_order_date.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_get_flat_file_returns_data_by_return_date.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_get_ledger_detail_view_data.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_get_ledger_summary_view_data.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_get_merchant_cancelled_listings_data.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_get_merchant_listings_data.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_get_merchant_listings_data_back_compat.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_get_merchant_listings_inactive_data.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_get_merchants_listings_fyp_report.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_get_stranded_inventory_ui_data.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_get_xml_all_orders_data_by_order_date_general.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_AMAZON_FULFILLED_SHIPMENTS_DATA_GENERAL.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_ESTIMATED_FBA_FEES_TXT_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_FULFILLMENT_CURRENT_INVENTORY_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_FULFILLMENT_CUSTOMER_SHIPMENT_PROMOTION_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_FULFILLMENT_INVENTORY_ADJUSTMENTS_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_FULFILLMENT_INVENTORY_RECEIPTS_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_FULFILLMENT_INVENTORY_SUMMARY_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_FULFILLMENT_MONTHLY_INVENTORY_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_INVENTORY_PLANNING_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_MYI_UNSUPPRESSED_INVENTORY_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_SNS_FORECAST_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_SNS_PERFORMANCE_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FLAT_FILE_ARCHIVED_ORDERS_DATA_BY_ORDER_DATE.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FLAT_FILE_RETURNS_DATA_BY_RETURN_DATE.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_LEDGER_DETAIL_VIEW_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_LEDGER_SUMMARY_VIEW_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_MERCHANTS_LISTINGS_FYP_REPORT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_MERCHANT_CANCELLED_LISTINGS_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_MERCHANT_LISTINGS_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_MERCHANT_LISTINGS_DATA_BACK_COMPAT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_MERCHANT_LISTINGS_INACTIVE_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_STRANDED_INVENTORY_UI_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_XML_ALL_ORDERS_DATA_BY_ORDER_DATE_GENERAL.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation, area/connectors, community, connectors/source/amazon-seller-partner, connectors/source/asana, connectors/source/freshdesk, bounty, bounty-L, reward-150

#18907 Filter DestroyWorkflowThreadError from trace
  airbyte-workers/src/main/java/io/airbyte/workers/tracing/TemporalSdkInterceptor.java
  airbyte-workers/src/test/java/io/airbyte/workers/tracing/TemporalSdkInterceptorTest.java
Labels: area/worker, area/platform

#18889 Remove deprecated connector dependency report
  .github/comment_templates/connector_dependency_template.md
  .github/workflows/report-connectors-dependency.yml
Labels: connectors/source/postgres

#18851 MySQL Source: fixed unencrypted CDC connections
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlCdcProperties.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcMySqlSslRequiredSourceAcceptanceTest.java
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, connectors/source/mysql, connectors/source/mysql-strict-encrypt

#18846 Source Mixpanel: "export" stream make line parsing more robust
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mixpanel/Dockerfile
  airbyte-integrations/connectors/source-mixpanel/setup.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams/export.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_streams.py
  docs/integrations/sources/mixpanel.md
Labels: area/documentation, area/connectors, connectors/source/mixpanel

#18395 🎉 New Source: SurveySparrow
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-survey-sparrow/.dockerignore
  airbyte-integrations/connectors/source-survey-sparrow/Dockerfile
  airbyte-integrations/connectors/source-survey-sparrow/README.md
  airbyte-integrations/connectors/source-survey-sparrow/__init__.py
  airbyte-integrations/connectors/source-survey-sparrow/acceptance-test-config.yml
  airbyte-integrations/connectors/source-survey-sparrow/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-survey-sparrow/build.gradle
  airbyte-integrations/connectors/source-survey-sparrow/integration_tests/__init__.py
  airbyte-integrations/connectors/source-survey-sparrow/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-survey-sparrow/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-survey-sparrow/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-survey-sparrow/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-survey-sparrow/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-survey-sparrow/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-survey-sparrow/main.py
  airbyte-integrations/connectors/source-survey-sparrow/requirements.txt
  airbyte-integrations/connectors/source-survey-sparrow/setup.py
  airbyte-integrations/connectors/source-survey-sparrow/source_survey_sparrow/__init__.py
  airbyte-integrations/connectors/source-survey-sparrow/source_survey_sparrow/schemas/contact_lists.json
  airbyte-integrations/connectors/source-survey-sparrow/source_survey_sparrow/schemas/contacts.json
  airbyte-integrations/connectors/source-survey-sparrow/source_survey_sparrow/schemas/questions.json
  airbyte-integrations/connectors/source-survey-sparrow/source_survey_sparrow/schemas/responses.json
  airbyte-integrations/connectors/source-survey-sparrow/source_survey_sparrow/schemas/roles.json
  airbyte-integrations/connectors/source-survey-sparrow/source_survey_sparrow/schemas/survey_folders.json
  airbyte-integrations/connectors/source-survey-sparrow/source_survey_sparrow/schemas/surveys.json
  airbyte-integrations/connectors/source-survey-sparrow/source_survey_sparrow/schemas/users.json
  airbyte-integrations/connectors/source-survey-sparrow/source_survey_sparrow/source.py
  airbyte-integrations/connectors/source-survey-sparrow/source_survey_sparrow/spec.yaml
  airbyte-integrations/connectors/source-survey-sparrow/source_survey_sparrow/survey_sparrow.yaml
  docs/integrations/sources/surveysparrow.md
Labels: area/documentation, area/connectors, community, hacktober, bounty, connectors/source/survey-sparrow

#18811 Code cleanup in abstract classes
  airbyte-integrations/connectors/source-bigquery/src/main/java/io/airbyte/integrations/source/bigquery/BigQuerySource.java
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/AbstractDbSource.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/AbstractRelationalDbSource.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/RelationalDbQueryUtils.java
Labels: area/connectors, connectors/source/bigquery, connectors/source/mssql, connectors/source/jdbc, connectors/source/relational-db

#18343 New Source: Wikipedia Pageviews
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-wikipedia-pageviews/.dockerignore
  airbyte-integrations/connectors/source-wikipedia-pageviews/Dockerfile
  airbyte-integrations/connectors/source-wikipedia-pageviews/README.md
  airbyte-integrations/connectors/source-wikipedia-pageviews/__init__.py
  airbyte-integrations/connectors/source-wikipedia-pageviews/acceptance-test-config.yml
  airbyte-integrations/connectors/source-wikipedia-pageviews/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-wikipedia-pageviews/build.gradle
  airbyte-integrations/connectors/source-wikipedia-pageviews/integration_tests/__init__.py
  airbyte-integrations/connectors/source-wikipedia-pageviews/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-wikipedia-pageviews/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-wikipedia-pageviews/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-wikipedia-pageviews/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-wikipedia-pageviews/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-wikipedia-pageviews/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-wikipedia-pageviews/main.py
  airbyte-integrations/connectors/source-wikipedia-pageviews/requirements.txt
  airbyte-integrations/connectors/source-wikipedia-pageviews/setup.py
  airbyte-integrations/connectors/source-wikipedia-pageviews/source_wikipedia_pageviews/__init__.py
  airbyte-integrations/connectors/source-wikipedia-pageviews/source_wikipedia_pageviews/schemas/per-article.json
  airbyte-integrations/connectors/source-wikipedia-pageviews/source_wikipedia_pageviews/schemas/top.json
  airbyte-integrations/connectors/source-wikipedia-pageviews/source_wikipedia_pageviews/source.py
  airbyte-integrations/connectors/source-wikipedia-pageviews/source_wikipedia_pageviews/spec.yaml
  airbyte-integrations/connectors/source-wikipedia-pageviews/source_wikipedia_pageviews/wikipedia_pageviews.yaml
  docs/integrations/sources/wikipedia-pageviews.md
Labels: area/documentation, area/connectors, community, hacktober, bounty, connectors/source/wikipedia-pageviews

#18672 🐛Destination-dynamodb: enforce ssl connection
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-dynamodb/Dockerfile
  airbyte-integrations/connectors/destination-dynamodb/build.gradle
  airbyte-integrations/connectors/destination-dynamodb/src/main/java/io/airbyte/integrations/destination/dynamodb/DynamodbChecker.java
  airbyte-integrations/connectors/destination-dynamodb/src/main/java/io/airbyte/integrations/destination/dynamodb/DynamodbDestination.java
  airbyte-integrations/connectors/destination-dynamodb/src/main/java/io/airbyte/integrations/destination/dynamodb/DynamodbDestinationRunner.java
  airbyte-integrations/connectors/destination-dynamodb/src/main/java/io/airbyte/integrations/destination/dynamodb/DynamodbDestinationStrictEncrypt.java
  airbyte-integrations/connectors/destination-dynamodb/src/test/java/io/airbyte/integrations/destination/dynamodb/DynamodbDestinationStrictEncryptTest.java
  docs/integrations/destinations/dynamodb.md
Labels: area/documentation, area/connectors, connectors/destination/dynamodb

#18891 Job Persistence Refactor in preparation for progress bar.
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/DefaultJobPersistence.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/JobPersistence.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/DefaultJobPersistenceTest.java
Labels: area/platform

#18928 Extract Operation API
  airbyte-server/src/main/java/io/airbyte/server/ServerFactory.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/apis/OperationApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/binders/OperationApiBinder.java
  airbyte-server/src/main/java/io/airbyte/server/apis/factories/OperationApiFactory.java
Labels: area/platform, area/server

#18941 Bmoric/extract scheduler api
  airbyte-server/src/main/java/io/airbyte/server/ServerFactory.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/apis/SchedulerApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/binders/SchedulerApiBinder.java
  airbyte-server/src/main/java/io/airbyte/server/apis/factories/SchedulerApiFactory.java
Labels: area/platform, area/server

#18533 Connector builder test result display
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/components/StreamTestingPanel/PageDisplay.module.scss
  airbyte-webapp/src/components/StreamTestingPanel/PageDisplay.tsx
  airbyte-webapp/src/components/StreamTestingPanel/ResultDisplay.module.scss
  airbyte-webapp/src/components/StreamTestingPanel/ResultDisplay.tsx
  airbyte-webapp/src/components/StreamTestingPanel/SliceSelector.module.scss
  airbyte-webapp/src/components/StreamTestingPanel/SliceSelector.tsx
  airbyte-webapp/src/components/StreamTestingPanel/StreamSelector.module.scss
  airbyte-webapp/src/components/StreamTestingPanel/StreamSelector.tsx
  airbyte-webapp/src/components/StreamTestingPanel/StreamTestingPanel.module.scss
  airbyte-webapp/src/components/StreamTestingPanel/StreamTestingPanel.tsx
  airbyte-webapp/src/components/StreamTestingPanel/TestControls.tsx
  airbyte-webapp/src/components/ui/ListBox/ListBox.module.scss
  airbyte-webapp/src/components/ui/ListBox/ListBox.tsx
  airbyte-webapp/src/components/ui/ListBox/index.tsx
  airbyte-webapp/src/components/ui/Paginator/Paginator.module.scss
  airbyte-webapp/src/components/ui/Paginator/Paginator.tsx
  airbyte-webapp/src/components/ui/Paginator/index.tsx
  airbyte-webapp/src/core/domain/connectorBuilder/ConnectorBuilderRequestService.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/services/connectorBuilder/ConnectorBuilderApiService.ts
  connector-builder-server/src/main/openapi/openapi.yaml
Labels: area/platform, team/frontend

#18311 🎉 New Source: SpaceX API [low-code cdk]
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-spacex-api/.dockerignore
  airbyte-integrations/connectors/source-spacex-api/Dockerfile
  airbyte-integrations/connectors/source-spacex-api/README.md
  airbyte-integrations/connectors/source-spacex-api/__init__.py
  airbyte-integrations/connectors/source-spacex-api/acceptance-test-config.yml
  airbyte-integrations/connectors/source-spacex-api/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-spacex-api/bootstrap.md
  airbyte-integrations/connectors/source-spacex-api/build.gradle
  airbyte-integrations/connectors/source-spacex-api/integration_tests/__init__.py
  airbyte-integrations/connectors/source-spacex-api/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-spacex-api/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-spacex-api/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-spacex-api/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-spacex-api/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-spacex-api/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-spacex-api/main.py
  airbyte-integrations/connectors/source-spacex-api/requirements.txt
  airbyte-integrations/connectors/source-spacex-api/setup.py
  airbyte-integrations/connectors/source-spacex-api/source_spacex_api/__init__.py
  airbyte-integrations/connectors/source-spacex-api/source_spacex_api/schemas/capsules.json
  airbyte-integrations/connectors/source-spacex-api/source_spacex_api/schemas/company.json
  airbyte-integrations/connectors/source-spacex-api/source_spacex_api/schemas/cores.json
  airbyte-integrations/connectors/source-spacex-api/source_spacex_api/schemas/crew.json
  airbyte-integrations/connectors/source-spacex-api/source_spacex_api/schemas/dragons.json
  airbyte-integrations/connectors/source-spacex-api/source_spacex_api/schemas/history.json
  airbyte-integrations/connectors/source-spacex-api/source_spacex_api/schemas/landpads.json
  airbyte-integrations/connectors/source-spacex-api/source_spacex_api/schemas/launches.json
  airbyte-integrations/connectors/source-spacex-api/source_spacex_api/schemas/payloads.json
  airbyte-integrations/connectors/source-spacex-api/source_spacex_api/schemas/roadster.json
  airbyte-integrations/connectors/source-spacex-api/source_spacex_api/schemas/rockets.json
  airbyte-integrations/connectors/source-spacex-api/source_spacex_api/schemas/ships.json
  airbyte-integrations/connectors/source-spacex-api/source_spacex_api/schemas/starlink.json
  airbyte-integrations/connectors/source-spacex-api/source_spacex_api/source.py
  airbyte-integrations/connectors/source-spacex-api/source_spacex_api/spacex_api.yaml
  airbyte-integrations/connectors/source-spacex-api/source_spacex_api/spec.yaml
  docs/integrations/sources/spacex-api.md
Labels: area/documentation, area/connectors, community, hacktober, bounty, connectors/source/spacex-api

#18053 [low-code]: Evaluate backoff strategies at runtime
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/factory.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/error_handlers/backoff_strategies/constant_backoff_strategy.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/error_handlers/backoff_strategies/exponential_backoff_strategy.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/error_handlers/backoff_strategies/wait_time_from_header_backoff_strategy.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/error_handlers/backoff_strategies/wait_until_time_from_header_backoff_strategy.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/error_handlers/default_error_handler.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/error_handlers/backoff_strategies/test_constant_backoff.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/error_handlers/backoff_strategies/test_exponential_backoff.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/error_handlers/backoff_strategies/test_wait_time_from_header.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/error_handlers/backoff_strategies/test_wait_until_time_from_header.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/error_handlers/test_default_error_handler.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_factory.py
  docs/connector-development/config-based/understanding-the-yaml-file/error-handling.md
Labels: area/documentation, CDK

#18947 [low-code] replace emptySchemaLoader with DefaultSchemaLoader
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_stream.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/class_types_registry.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/default_implementation_registry.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/schema/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/schema/default_schema_loader.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/schema/empty_schema_loader.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/declarative/schema/test_default_schema_loader.py
  airbyte-cdk/python/unit_tests/sources/declarative/schema/test_json_file_schema_loader.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_factory.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_yaml_declarative_source.py
Labels: CDK

#18872 Multi-cloud documentation
  docs/cloud/getting-started-with-airbyte-cloud.md
  docs/cloud/managing-airbyte-cloud.md
Labels: area/documentation

#18954 🎉 Source redshift & bigquery: emit cursor count in state
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-bigquery/Dockerfile
  airbyte-integrations/connectors/source-redshift/Dockerfile
  airbyte-integrations/connectors/source-snowflake/src/main/java/io.airbyte.integrations.source.snowflake/SnowflakeDataSourceUtils.java
  docs/integrations/sources/bigquery.md
  docs/integrations/sources/redshift.md
Labels: area/documentation, area/connectors, connectors/source/bigquery, connectors/source/redshift, connectors/source/snowflake

#18862 🪟 🔧 Add Segment event to invite users modal
  .github/teams.yml
  .github/workflows/label-pr-by-team.yml
  airbyte-webapp/src/core/analytics/types.ts
  airbyte-webapp/src/packages/cloud/services/users/InviteUsersModalService.tsx
  airbyte-webapp/src/packages/cloud/views/users/InviteUsersHint/InviteUsersHint.tsx
  airbyte-webapp/src/packages/cloud/views/users/InviteUsersModal/InviteUsersModal.tsx
  airbyte-webapp/src/packages/cloud/views/users/UsersSettingsView/UsersSettingsView.tsx
Labels: area/platform, team/frontend, team/growth

#18931 Low-code CDK: safe get response.json
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/declarative/decoders/json_decoder.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/error_handlers/http_response_filter.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/declarative/decoders/__init__.py
  airbyte-cdk/python/unit_tests/sources/declarative/decoders/test_json_decoder.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/error_handlers/test_http_response_filter.py
Labels: CDK

#18611 🪟 🎉 Multi-cloud: edit connection & workspace data geographies in the UI
  airbyte-webapp/src/components/CreateConnection/CreateConnectionForm.tsx
  airbyte-webapp/src/components/CreateConnection/DataResidency.module.scss
  airbyte-webapp/src/components/CreateConnection/DataResidency.tsx
  airbyte-webapp/src/components/Label/Label.tsx
  airbyte-webapp/src/components/LabeledControl/ControlLabels.tsx
  airbyte-webapp/src/components/LabeledInput/LabeledInput.tsx
  airbyte-webapp/src/components/connection/UpdateConnectionDataResidency/UpdateConnectionDataResidency.module.scss
  airbyte-webapp/src/components/connection/UpdateConnectionDataResidency/UpdateConnectionDataResidency.tsx
  airbyte-webapp/src/components/connection/UpdateConnectionDataResidency/index.ts
  airbyte-webapp/src/components/ui/Card/Card.module.scss
  airbyte-webapp/src/components/ui/SideMenu/SideMenu.tsx
  airbyte-webapp/src/hooks/services/Analytics/pageTrackingCodes.tsx
  airbyte-webapp/src/hooks/services/ConnectionEdit/ConnectionEditService.test.tsx
  airbyte-webapp/src/hooks/services/ConnectionForm/ConnectionFormService.test.tsx
  airbyte-webapp/src/hooks/services/Feature/types.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/packages/cloud/lib/domain/geographies/GeographiesService.ts
  airbyte-webapp/src/packages/cloud/services/geographies/GeographiesService.ts
  airbyte-webapp/src/packages/cloud/views/settings/CloudSettingsPage.tsx
  airbyte-webapp/src/packages/cloud/views/settings/routePaths.ts
  airbyte-webapp/src/packages/cloud/views/workspaces/DataResidencyView/DataResidencyView.module.scss
  airbyte-webapp/src/packages/cloud/views/workspaces/DataResidencyView/DataResidencyView.tsx
  airbyte-webapp/src/packages/cloud/views/workspaces/DataResidencyView/index.ts
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionReplicationTab.test.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionSettingsTab.tsx
  airbyte-webapp/src/pages/SettingsPage/SettingsPage.module.scss
  airbyte-webapp/src/pages/SettingsPage/SettingsPage.tsx
  airbyte-webapp/src/test-utils/mock-data/mockConnection.json
  airbyte-webapp/src/test-utils/mock-data/mockWorkspace.json
  airbyte-webapp/src/test-utils/mock-data/mockWorkspaceId.ts
  airbyte-webapp/src/utils/links.ts
  airbyte-webapp/src/views/Connection/ConnectionForm/__snapshots__/formConfig.test.ts.snap
  airbyte-webapp/src/views/Connection/ConnectionForm/components/NamespaceDefinitionField.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/formConfig.test.ts
  airbyte-webapp/src/views/Connection/ConnectionForm/formConfig.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/components/Property/PropertyLabel.tsx
Labels: area/frontend, area/platform, team/cloud, team/frontend, ui/connection, ui/workspaces

#18799 🐛 Source SalesForce: fix Bulk API unsupported list
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-salesforce/Dockerfile
  airbyte-integrations/connectors/source-salesforce/source_salesforce/api.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors, connectors/source/salesforce

#18903 :window: :wrench: Improve pre-commit hook
  airbyte-webapp/.husky/pre-commit
Labels: team/frontend, ui/tooling

#18933 🪟 🐛 Fix validation when setting the connection stream cursor or primary key
  airbyte-webapp/src/components/connection/CatalogTree/CatalogTree.tsx
  airbyte-webapp/src/components/connection/CatalogTree/CatalogTreeBody.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionReplicationTab.tsx
Labels: area/platform, team/frontend

#18965 🐛 Source Google Analytics (UA): fix `discovery` stage, when `custom_reports` is provided as single `dict`
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-analytics-v4/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-v4/source_google_analytics_v4/custom_reports_validator.py
  airbyte-integrations/connectors/source-google-analytics-v4/source_google_analytics_v4/source.py
  airbyte-integrations/connectors/source-google-analytics-v4/unit_tests/test_custom_reports_validator.py
  docs/integrations/sources/google-analytics-universal-analytics.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-v4

#18487 🪟 🐛 New OAuth connectors should never say "re-authenticate"
  airbyte-webapp/src/views/Connector/ServiceForm/components/Sections/auth/useOauthFlowAdapter.tsx
  airbyte-webapp/src/views/Connector/ServiceForm/useAuthentication.tsx
Labels: area/platform, team/frontend

#18969 Handle null JobSyncConfig
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/DefaultJobPersistence.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/errorreporter/JobErrorReportingClient.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/errorreporter/SentryJobErrorReportingClient.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/DefaultJobPersistenceTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityTest.java
Labels: area/worker, area/platform

#18953 Progress Bar API Changes.
  airbyte-api/src/main/openapi/config.yaml
  airbyte-server/src/main/java/io/airbyte/server/apis/AttemptApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api, area/platform, area/server

#18732 mssql-source:upgrade debezium version to 1.9.6
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/bases/debezium-v1-9-6/build.gradle
  airbyte-integrations/bases/debezium-v1-9-6/src/main/java/io/airbyte/integrations/debezium/internals/FirstRecordWaitTimeUtil.java
  airbyte-integrations/bases/debezium-v1-9-6/src/main/java/io/airbyte/integrations/debezium/internals/MSSQLConverter.java
  airbyte-integrations/bases/debezium-v1-9-6/src/test/java/io/airbyte/integrations/debezium/internals/FirstRecordWaitTimeUtilTest.java
  airbyte-integrations/bases/debezium-v1-9-6/src/testFixtures/java/io/airbyte/integrations/debezium/CdcSourceTest.java
  airbyte-integrations/connectors/source-mssql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mssql-strict-encrypt/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/source-mssql/Dockerfile
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcHelper.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcStateHandler.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
  airbyte-integrations/connectors/source-mssql/src/main/resources/spec.json
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceDatatypeTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceTest.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/helpers/CdcConfigurationHelper.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/CdcConfigurationHelperTest.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/CdcMysqlSourceTest.java
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, connectors/source/mssql, connectors/source/mysql, connectors/source/mssql-strict-encrypt

#18911 Fix typo DataDaog ==> Datadog
  airbyte-base-java-image/Dockerfile
Labels: community

#18976 :window: :wrench: Hash filenames of extracted CSS
  airbyte-webapp/craco.config.js
Labels: area/platform, team/frontend, ui/tooling

#18952 Remove unused job persistence methods.
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/DefaultJobPersistence.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/JobPersistence.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/DefaultJobPersistenceTest.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/test/java/io/airbyte/server/ServerAppTest.java
Labels: area/platform, area/server

#18733 cleanup: delete debezium 1-4-2 module
  airbyte-integrations/bases/debezium-v1-4-2/build.gradle
  airbyte-integrations/bases/debezium-v1-4-2/src/main/java/io/airbyte/integrations/debezium/AirbyteDebeziumHandler.java
  airbyte-integrations/bases/debezium-v1-4-2/src/main/java/io/airbyte/integrations/debezium/CdcMetadataInjector.java
  airbyte-integrations/bases/debezium-v1-4-2/src/main/java/io/airbyte/integrations/debezium/CdcSavedInfoFetcher.java
  airbyte-integrations/bases/debezium-v1-4-2/src/main/java/io/airbyte/integrations/debezium/CdcStateHandler.java
  airbyte-integrations/bases/debezium-v1-4-2/src/main/java/io/airbyte/integrations/debezium/CdcTargetPosition.java
  airbyte-integrations/bases/debezium-v1-4-2/src/main/java/io/airbyte/integrations/debezium/internals/AirbyteFileOffsetBackingStore.java
  airbyte-integrations/bases/debezium-v1-4-2/src/main/java/io/airbyte/integrations/debezium/internals/AirbyteSchemaHistoryStorage.java
  airbyte-integrations/bases/debezium-v1-4-2/src/main/java/io/airbyte/integrations/debezium/internals/DebeziumConverterUtils.java
  airbyte-integrations/bases/debezium-v1-4-2/src/main/java/io/airbyte/integrations/debezium/internals/DebeziumEventUtils.java
  airbyte-integrations/bases/debezium-v1-4-2/src/main/java/io/airbyte/integrations/debezium/internals/DebeziumRecordIterator.java
  airbyte-integrations/bases/debezium-v1-4-2/src/main/java/io/airbyte/integrations/debezium/internals/DebeziumRecordPublisher.java
  airbyte-integrations/bases/debezium-v1-4-2/src/main/java/io/airbyte/integrations/debezium/internals/FilteredFileDatabaseHistory.java
  airbyte-integrations/bases/debezium-v1-4-2/src/main/java/io/airbyte/integrations/debezium/internals/MSSQLConverter.java
  airbyte-integrations/bases/debezium-v1-4-2/src/main/java/io/airbyte/integrations/debezium/internals/MySQLConverter.java
  airbyte-integrations/bases/debezium-v1-4-2/src/main/java/io/airbyte/integrations/debezium/internals/PostgresConverter.java
  airbyte-integrations/bases/debezium-v1-4-2/src/main/java/io/airbyte/integrations/debezium/internals/SnapshotMetadata.java
  airbyte-integrations/bases/debezium-v1-4-2/src/test/java/io/airbyte/integrations/debezium/AirbyteDebeziumHandlerTest.java
  airbyte-integrations/bases/debezium-v1-4-2/src/test/java/io/airbyte/integrations/debezium/AirbyteFileOffsetBackingStoreTest.java
  airbyte-integrations/bases/debezium-v1-4-2/src/test/java/io/airbyte/integrations/debezium/DebeziumEventUtilsTest.java
  airbyte-integrations/bases/debezium-v1-4-2/src/test/java/io/airbyte/integrations/debezium/DebeziumRecordPublisherTest.java
  airbyte-integrations/bases/debezium-v1-4-2/src/test/java/io/airbyte/integrations/debezium/internals/DebeziumConverterUtilsTest.java
  airbyte-integrations/bases/debezium-v1-4-2/src/test/resources/delete_change_event.json
  airbyte-integrations/bases/debezium-v1-4-2/src/test/resources/delete_message.json
  airbyte-integrations/bases/debezium-v1-4-2/src/test/resources/insert_change_event.json
  airbyte-integrations/bases/debezium-v1-4-2/src/test/resources/insert_message.json
  airbyte-integrations/bases/debezium-v1-4-2/src/test/resources/test_debezium_offset.dat
  airbyte-integrations/bases/debezium-v1-4-2/src/test/resources/update_change_event.json
  airbyte-integrations/bases/debezium-v1-4-2/src/test/resources/update_message.json
  airbyte-integrations/bases/debezium-v1-4-2/src/testFixtures/java/io/airbyte/integrations/debezium/CdcSourceTest.java
  settings.gradle
Labels: connectors/source/mssql

#18982 fix master build failure cause of TiDBDestinationTest
  airbyte-integrations/connectors/destination-tidb/src/test/java/io/airbyte/integrations/destination/tidb/TiDBDestinationTest.java
Labels: area/connectors, connectors/destination/tidb

#18981 Fix oauth controller
  airbyte-server/src/main/java/io/airbyte/server/ServerFactory.java
Labels: area/platform, area/server

#18983 Add new workspace api endpoint
  airbyte-api/src/main/openapi/config.yaml
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WorkspacesHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WorkspacesHandlerTest.java
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api, area/platform, area/server

#18989 Handling configuration exceptions in IntegrationRunner
  airbyte-commons/src/main/java/io/airbyte/commons/exceptions/ConfigErrorException.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/IntegrationRunner.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/AbstractDbSource.java
Labels: area/connectors, connectors/source/relational-db

#18978 :window: :art: Fix banner link color
  airbyte-webapp/src/components/ui/Banner/AlertBanner.module.scss
Labels: area/platform, team/frontend, ui/components

#18995 Migrating InvalidCursorException -> ConfigErrorException
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresSourceTest.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/AbstractDbSource.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/InvalidCursorInfoUtil.java
Labels: area/connectors, connectors/source/postgres, connectors/source/relational-db

#18944 Bmoric/extract source api
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/main/java/io/airbyte/server/ServerFactory.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/apis/SourceApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/binders/SourceApiBinder.java
  airbyte-server/src/main/java/io/airbyte/server/apis/factories/SourceApiFactory.java
Labels: area/platform, area/server

#18986 :window: :tada: Load credits consumption separate
  airbyte-webapp/src/packages/cloud/locales/en.json
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/CreditsPage.module.scss
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/CreditsPage.tsx
Labels: area/platform, team/cloud, team/frontend, ui/credits

#18972 Edit multi-cloud docs
  docs/cloud/getting-started-with-airbyte-cloud.md
  docs/cloud/managing-airbyte-cloud.md
Labels: area/documentation

#18971 🐛 Source Facebook Marketing: handle FacebookBadObjectError
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/async_job.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/base_insight_streams.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing

#18994 Unhide DynamoDB destination
  airbyte-webapp/src/core/domain/connector/constants.ts
Labels: area/platform, team/frontend

#18937 SAT: basic read on full catalog when `test_strictness_level == high`
  airbyte-integrations/bases/source-acceptance-test/CHANGELOG.md
  airbyte-integrations/bases/source-acceptance-test/Dockerfile
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/conftest.py
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/tests/test_core.py
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/utils/__init__.py
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/utils/common.py
  airbyte-integrations/bases/source-acceptance-test/unit_tests/test_core.py
  airbyte-integrations/bases/source-acceptance-test/unit_tests/test_global_fixtures.py
  airbyte-integrations/bases/source-acceptance-test/unit_tests/test_utils.py
  airbyte-integrations/connectors/source-pokeapi/acceptance-test-config.yml
  docs/connector-development/testing-connectors/source-acceptance-tests-reference.md
Labels: area/documentation, area/connectors, connectors/source/pokeapi

#19021 🪟 🐛 Fix wrong geography dropdown type
  airbyte-webapp/src/packages/cloud/views/workspaces/DataResidencyView/DataResidencyView.tsx
Labels: area/platform, team/frontend

#18899 🪟🧪 [Experiment] Move OAuth to top of signup page
  airbyte-webapp/src/hooks/services/Experiment/experiments.ts
  airbyte-webapp/src/packages/cloud/views/auth/LoginPage/LoginPage.tsx
  airbyte-webapp/src/packages/cloud/views/auth/OAuthLogin/OAuthLogin.module.scss
  airbyte-webapp/src/packages/cloud/views/auth/OAuthLogin/OAuthLogin.tsx
  airbyte-webapp/src/packages/cloud/views/auth/SignupPage/SignupPage.module.scss
  airbyte-webapp/src/packages/cloud/views/auth/SignupPage/SignupPage.tsx
  airbyte-webapp/src/packages/cloud/views/auth/SignupPage/components/Separator.module.scss
  airbyte-webapp/src/packages/cloud/views/auth/SignupPage/components/Separator.tsx
  airbyte-webapp/src/packages/cloud/views/auth/SignupPage/components/SignupForm.tsx
Labels: area/platform, team/frontend, team/growth

#19026 :window: :wrench: Add a start:cloud command to the webapp
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/scripts/environment.js
Labels: area/platform, team/cloud, team/frontend, ui/tooling

#19029 🪟 🎨 Adapt Osano banner to new UI
  airbyte-webapp/src/utils/dataPrivacy.ts
Labels: area/platform, team/frontend, team/growth

#18397 🐛 Source Freshdesk: Add mising `/` that's causing issues when building URL
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-freshdesk/Dockerfile
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/streams.py
  airbyte-integrations/connectors/source-freshdesk/unit_tests/test_300_page.py
  airbyte-integrations/connectors/source-freshdesk/unit_tests/test_streams.py
  docs/integrations/sources/freshdesk.md
Labels: area/documentation, area/connectors, community, connectors/source/freshdesk, bounty, bounty-S, reward-50

#18468 🪟 🧪 [Experiment] Show source selector on signup form
  airbyte-webapp/src/hooks/services/Experiment/experiments.ts
  airbyte-webapp/src/hooks/useLocationState.ts
  airbyte-webapp/src/packages/cloud/components/experiments/SignupSourceDropdown/SignupSourceDropdown.tsx
  airbyte-webapp/src/packages/cloud/components/experiments/SignupSourceDropdown/index.ts
  airbyte-webapp/src/packages/cloud/components/experiments/SignupSourceDropdown/sourceDefinitions.json
  airbyte-webapp/src/packages/cloud/components/experiments/SignupSourceDropdown/useGetSourceDefinitions.tsx
  airbyte-webapp/src/packages/cloud/components/experiments/SignupSourceDropdown/utils.tsx
  airbyte-webapp/src/packages/cloud/components/experiments/constants.ts
  airbyte-webapp/src/packages/cloud/locales/en.json
  airbyte-webapp/src/packages/cloud/views/DefaultView.tsx
  airbyte-webapp/src/packages/cloud/views/auth/SignupPage/components/SignupForm.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/CreationFormPage/CreationFormPage.tsx
Labels: area/platform, team/frontend, team/growth

#18505 🐛 Source JIRA - Field correction bug causing stream connection to fail
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-jira/Dockerfile
  airbyte-integrations/connectors/source-jira/acceptance-test-config.yml
  airbyte-integrations/connectors/source-jira/source_jira/spec.json
  airbyte-integrations/connectors/source-jira/source_jira/streams.py
  docs/integrations/sources/jira.md
Labels: area/documentation, area/connectors, community, connectors/source/jira, bounty

#18861 🎉 DatetimeStreamSlicer: Add support for monthly and yearly incremental updates
  airbyte-cdk/python/airbyte_cdk/sources/declarative/stream_slicers/datetime_stream_slicer.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/declarative/stream_slicers/test_datetime_stream_slicer.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_factory.py
Labels: CDK, community, hacktober

#19078 🪟 🐛 Fix broken UI build on master
  airbyte-webapp/src/packages/cloud/components/experiments/SignupSourceDropdown/SignupSourceDropdown.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/ConnectorForm.test.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/FormRoot.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/connectorFormContext.tsx
Labels: area/platform, team/platform-workflow, team/frontend

#19033 Bump CDK version
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/setup.py
Labels: CDK

#19027 Update tidb.md
  docs/integrations/destinations/tidb.md
Labels: area/documentation, community

#18917 [docs] Use correct header heirarchy in airbyte-protocol docs
  docs/understanding-airbyte/airbyte-protocol.md
Labels: area/documentation

#18943 Ensure that only 6-character hex values are passed to monaco editor
  airbyte-webapp/src/components/ui/CodeEditor/CodeEditor.tsx
Labels: area/platform, team/frontend

#18624 🐛 Source HubSpot: fix property scopes
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/source_hubspot/source.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
Labels: area/connectors, connectors/source/hubspot

#18411 [low-code cdk] Allow for spec file to be defined in the yaml manifest instead of an external file
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/class_types_registry.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/factory.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/spec/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/spec/spec.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/stream_slicers/datetime_stream_slicer.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/yaml_declarative_source.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_factory.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_yaml_declarative_source.py
  airbyte-integrations/connector-templates/source-configuration-based/source_{{snakeCase name}}/spec.yaml.hbs
  airbyte-integrations/connector-templates/source-configuration-based/source_{{snakeCase name}}/{{snakeCase name}}.yaml.hbs
Labels: CDK

#18385 🎉 New source: Klarna
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-klarna/.dockerignore
  airbyte-integrations/connectors/source-klarna/Dockerfile
  airbyte-integrations/connectors/source-klarna/README.md
  airbyte-integrations/connectors/source-klarna/acceptance-test-config.yml
  airbyte-integrations/connectors/source-klarna/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-klarna/build.gradle
  airbyte-integrations/connectors/source-klarna/integration_tests/__init__.py
  airbyte-integrations/connectors/source-klarna/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-klarna/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-klarna/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-klarna/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-klarna/main.py
  airbyte-integrations/connectors/source-klarna/requirements.txt
  airbyte-integrations/connectors/source-klarna/setup.py
  airbyte-integrations/connectors/source-klarna/source_klarna/__init__.py
  airbyte-integrations/connectors/source-klarna/source_klarna/schemas/payouts.json
  airbyte-integrations/connectors/source-klarna/source_klarna/schemas/transactions.json
  airbyte-integrations/connectors/source-klarna/source_klarna/source.py
  airbyte-integrations/connectors/source-klarna/source_klarna/spec.yaml
  airbyte-integrations/connectors/source-klarna/unit_tests/__init__.py
  airbyte-integrations/connectors/source-klarna/unit_tests/conftest.py
  airbyte-integrations/connectors/source-klarna/unit_tests/test_source.py
  airbyte-integrations/connectors/source-klarna/unit_tests/test_streams.py
  docs/integrations/sources/klarna.md
Labels: area/documentation, area/connectors, community, hacktober, bounty, connectors/source/klarna

#18442 🎉 New Source: Zapier Supported Storage
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-zapier-supported-storage/.dockerignore
  airbyte-integrations/connectors/source-zapier-supported-storage/Dockerfile
  airbyte-integrations/connectors/source-zapier-supported-storage/README.md
  airbyte-integrations/connectors/source-zapier-supported-storage/__init__.py
  airbyte-integrations/connectors/source-zapier-supported-storage/acceptance-test-config.yml
  airbyte-integrations/connectors/source-zapier-supported-storage/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-zapier-supported-storage/build.gradle
  airbyte-integrations/connectors/source-zapier-supported-storage/integration_tests/__init__.py
  airbyte-integrations/connectors/source-zapier-supported-storage/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-zapier-supported-storage/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-zapier-supported-storage/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-zapier-supported-storage/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-zapier-supported-storage/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-zapier-supported-storage/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-zapier-supported-storage/main.py
  airbyte-integrations/connectors/source-zapier-supported-storage/requirements.txt
  airbyte-integrations/connectors/source-zapier-supported-storage/setup.py
  airbyte-integrations/connectors/source-zapier-supported-storage/source_zapier_supported_storage/__init__.py
  airbyte-integrations/connectors/source-zapier-supported-storage/source_zapier_supported_storage/schemas/zapier_supported_storage.json
  airbyte-integrations/connectors/source-zapier-supported-storage/source_zapier_supported_storage/source.py
  airbyte-integrations/connectors/source-zapier-supported-storage/source_zapier_supported_storage/spec.yaml
  airbyte-integrations/connectors/source-zapier-supported-storage/source_zapier_supported_storage/zapier_supported_storage.yaml
  docs/integrations/sources/zapier-supported-storage.md
Labels: area/documentation, area/connectors, community, hacktober, bounty, connectors/source/zapier-supported-storage

#18980 Bmoric/extract state api
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/main/java/io/airbyte/server/ServerFactory.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/apis/StateApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/binders/StateApiBinder.java
  airbyte-server/src/main/java/io/airbyte/server/apis/factories/StateApiFactory.java
Labels: area/platform, area/server

#18593 🎉 New Source: Fastbill
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-fastbill/.dockerignore
  airbyte-integrations/connectors/source-fastbill/Dockerfile
  airbyte-integrations/connectors/source-fastbill/README.md
  airbyte-integrations/connectors/source-fastbill/acceptance-test-config.yml
  airbyte-integrations/connectors/source-fastbill/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-fastbill/build.gradle
  airbyte-integrations/connectors/source-fastbill/integration_tests/__init__.py
  airbyte-integrations/connectors/source-fastbill/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-fastbill/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-fastbill/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-fastbill/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-fastbill/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-fastbill/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-fastbill/main.py
  airbyte-integrations/connectors/source-fastbill/requirements.txt
  airbyte-integrations/connectors/source-fastbill/setup.py
  airbyte-integrations/connectors/source-fastbill/source_fastbill/__init__.py
  airbyte-integrations/connectors/source-fastbill/source_fastbill/helpers.py
  airbyte-integrations/connectors/source-fastbill/source_fastbill/schemas/customers.json
  airbyte-integrations/connectors/source-fastbill/source_fastbill/schemas/invoices.json
  airbyte-integrations/connectors/source-fastbill/source_fastbill/schemas/products.json
  airbyte-integrations/connectors/source-fastbill/source_fastbill/schemas/recurring_invoices.json
  airbyte-integrations/connectors/source-fastbill/source_fastbill/schemas/revenues.json
  airbyte-integrations/connectors/source-fastbill/source_fastbill/source.py
  airbyte-integrations/connectors/source-fastbill/source_fastbill/spec.yaml
  airbyte-integrations/connectors/source-fastbill/unit_tests/__init__.py
  airbyte-integrations/connectors/source-fastbill/unit_tests/test_source.py
  airbyte-integrations/connectors/source-fastbill/unit_tests/test_streams.py
  docs/integrations/sources/fastbill.md
Labels: area/documentation, area/connectors, community, hacktober, bounty, connectors/source/fastbill

#18595 🎉 New Source: Visma e-conomic
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-visma-economic/.dockerignore
  airbyte-integrations/connectors/source-visma-economic/BOOTSTRAP.md
  airbyte-integrations/connectors/source-visma-economic/Dockerfile
  airbyte-integrations/connectors/source-visma-economic/README.md
  airbyte-integrations/connectors/source-visma-economic/acceptance-test-config.yml
  airbyte-integrations/connectors/source-visma-economic/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-visma-economic/build.gradle
  airbyte-integrations/connectors/source-visma-economic/integration_tests/__init__.py
  airbyte-integrations/connectors/source-visma-economic/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-visma-economic/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-visma-economic/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-visma-economic/integration_tests/expected_records.txt
  airbyte-integrations/connectors/source-visma-economic/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-visma-economic/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-visma-economic/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-visma-economic/main.py
  airbyte-integrations/connectors/source-visma-economic/requirements.txt
  airbyte-integrations/connectors/source-visma-economic/setup.py
  airbyte-integrations/connectors/source-visma-economic/source_visma_economic/__init__.py
  airbyte-integrations/connectors/source-visma-economic/source_visma_economic/schemas/accounts.json
  airbyte-integrations/connectors/source-visma-economic/source_visma_economic/schemas/customers.json
  airbyte-integrations/connectors/source-visma-economic/source_visma_economic/schemas/invoices_booked.json
  airbyte-integrations/connectors/source-visma-economic/source_visma_economic/schemas/invoices_booked_document.json
  airbyte-integrations/connectors/source-visma-economic/source_visma_economic/schemas/invoices_paid.json
  airbyte-integrations/connectors/source-visma-economic/source_visma_economic/schemas/invoices_total.json
  airbyte-integrations/connectors/source-visma-economic/source_visma_economic/schemas/products.json
  airbyte-integrations/connectors/source-visma-economic/source_visma_economic/source.py
  airbyte-integrations/connectors/source-visma-economic/source_visma_economic/spec.yaml
  airbyte-integrations/connectors/source-visma-economic/unit_tests/__init__.py
  airbyte-integrations/connectors/source-visma-economic/unit_tests/test_source.py
  airbyte-integrations/connectors/source-visma-economic/unit_tests/test_streams.py
  docs/integrations/sources/visma-economic.md
Labels: area/documentation, area/connectors, community, hacktober, bounty, connectors/source/visma-economic

#18990 Check disabled connections after protocol update
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/StandardSyncPersistence.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/StandardSyncPersistenceE2ETest.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/DestinationDefinitionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SourceDefinitionsHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/DestinationDefinitionsHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/SourceDefinitionsHandlerTest.java
Labels: area/platform, area/server

#18650 🎉 New source: Breezometer [low-code cdk]
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-breezometer/.dockerignore
  airbyte-integrations/connectors/source-breezometer/Dockerfile
  airbyte-integrations/connectors/source-breezometer/README.md
  airbyte-integrations/connectors/source-breezometer/__init__.py
  airbyte-integrations/connectors/source-breezometer/acceptance-test-config.yml
  airbyte-integrations/connectors/source-breezometer/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-breezometer/bootstrap.md
  airbyte-integrations/connectors/source-breezometer/build.gradle
  airbyte-integrations/connectors/source-breezometer/integration_tests/__init__.py
  airbyte-integrations/connectors/source-breezometer/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-breezometer/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-breezometer/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-breezometer/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-breezometer/main.py
  airbyte-integrations/connectors/source-breezometer/requirements.txt
  airbyte-integrations/connectors/source-breezometer/setup.py
  airbyte-integrations/connectors/source-breezometer/source_breezometer/__init__.py
  airbyte-integrations/connectors/source-breezometer/source_breezometer/breezometer.yaml
  airbyte-integrations/connectors/source-breezometer/source_breezometer/schemas/air_quality_current.json
  airbyte-integrations/connectors/source-breezometer/source_breezometer/schemas/air_quality_forecast.json
  airbyte-integrations/connectors/source-breezometer/source_breezometer/schemas/air_quality_historical.json
  airbyte-integrations/connectors/source-breezometer/source_breezometer/schemas/pollen_forecast.json
  airbyte-integrations/connectors/source-breezometer/source_breezometer/schemas/weather_current.json
  airbyte-integrations/connectors/source-breezometer/source_breezometer/schemas/weather_forecast.json
  airbyte-integrations/connectors/source-breezometer/source_breezometer/schemas/wildfire_burnt_area.json
  airbyte-integrations/connectors/source-breezometer/source_breezometer/schemas/wildfire_locate.json
  airbyte-integrations/connectors/source-breezometer/source_breezometer/source.py
  airbyte-integrations/connectors/source-breezometer/source_breezometer/spec.yaml
  docs/integrations/sources/breezometer.md
Labels: area/documentation, area/connectors, community, hacktober, bounty, connectors/source/breezometer-pollen, connectors/source/breezometer

#18671 🎉 New Source - Recruitee [low-code SDK]
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-recruitee/.dockerignore
  airbyte-integrations/connectors/source-recruitee/Dockerfile
  airbyte-integrations/connectors/source-recruitee/README.md
  airbyte-integrations/connectors/source-recruitee/__init__.py
  airbyte-integrations/connectors/source-recruitee/acceptance-test-config.yml
  airbyte-integrations/connectors/source-recruitee/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-recruitee/build.gradle
  airbyte-integrations/connectors/source-recruitee/integration_tests/__init__.py
  airbyte-integrations/connectors/source-recruitee/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-recruitee/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-recruitee/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-recruitee/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-recruitee/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-recruitee/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-recruitee/main.py
  airbyte-integrations/connectors/source-recruitee/requirements.txt
  airbyte-integrations/connectors/source-recruitee/setup.py
  airbyte-integrations/connectors/source-recruitee/source_recruitee/__init__.py
  airbyte-integrations/connectors/source-recruitee/source_recruitee/recruitee.yaml
  airbyte-integrations/connectors/source-recruitee/source_recruitee/schemas/candidates.json
  airbyte-integrations/connectors/source-recruitee/source_recruitee/schemas/departments.json
  airbyte-integrations/connectors/source-recruitee/source_recruitee/schemas/offers.json
  airbyte-integrations/connectors/source-recruitee/source_recruitee/source.py
  airbyte-integrations/connectors/source-recruitee/source_recruitee/spec.yaml
  docs/integrations/sources/recruitee.md
Labels: area/documentation, area/connectors, community, hacktober, bounty, connectors/source/recruitee

#18572 Stream returns AirbyteMessages
  airbyte-cdk/python/airbyte_cdk/sources/abstract_source.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/core.py
  airbyte-cdk/python/airbyte_cdk/sources/utils/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/utils/record_helper.py
  airbyte-cdk/python/unit_tests/sources/streams/test_streams_core.py
  airbyte-cdk/python/unit_tests/sources/test_abstract_source.py
  airbyte-cdk/python/unit_tests/sources/test_source.py
  airbyte-cdk/python/unit_tests/sources/utils/test_record_helper.py
Labels: CDK

#19028 🪟 🎉 Enable frontend validation for <1hr syncs (cloud)
  airbyte-webapp/src/packages/cloud/App.tsx
Labels: area/frontend, team/cloud, team/frontend

#19019 🪟 🔧 Refactor FrequentlyUsedDestinations component
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/DestinationPage/pages/CreateDestinationPage/components/DestinationForm.tsx
  airbyte-webapp/src/test-utils/mock-data/mockFrequentlyUsedDestinations.ts
  airbyte-webapp/src/views/Connector/ConnectorForm/components/FrequentlyUsedConnectors/FrequentlyUsedConnectors.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/FrequentlyUsedConnectors/FrequentlyUsedConnectorsCard.module.scss
  airbyte-webapp/src/views/Connector/ConnectorForm/components/FrequentlyUsedConnectors/FrequentlyUsedConnectorsCard.test.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/FrequentlyUsedConnectors/FrequentlyUsedConnectorsCard.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/FrequentlyUsedConnectors/__snapshots__/FrequentlyUsedConnectorsCard.test.tsx.snap
  airbyte-webapp/src/views/Connector/ConnectorForm/components/FrequentlyUsedConnectors/index.stories.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/FrequentlyUsedConnectors/index.ts
  airbyte-webapp/src/views/Connector/ConnectorForm/components/FrequentlyUsedConnectors/useAnalyticsTrackFunctions.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/FrequentlyUsedConnectors/useSuggestedConnectors.ts
  airbyte-webapp/src/views/Connector/ConnectorForm/components/FrequentlyUsedDestinations/FrequentlyUsedDestinations.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/FrequentlyUsedDestinations/FrequentlyUsedDestinationsCard.test.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/FrequentlyUsedDestinations/FrequentlyUsedDestinationsCard.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/FrequentlyUsedDestinations/index.stories.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/FrequentlyUsedDestinations/index.ts
  airbyte-webapp/src/views/Connector/ConnectorForm/index.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/types.ts
Labels: area/platform, team/frontend, team/growth

#19006 Source S3: Add virtual-hosted-style option
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/integration_tests/config_minio.json
  airbyte-integrations/connectors/source-s3/source_s3/s3_utils.py
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, community, connectors/source/s3, bounty, bounty-S

#19125 🪟 🔧 FrequentlyUsedConnectors improvements
  airbyte-webapp/src/test-utils/mock-data/mockFrequentlyUsedDestinations.ts
  airbyte-webapp/src/views/Connector/ConnectorForm/components/FrequentlyUsedConnectors/FrequentlyUsedConnectors.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/FrequentlyUsedConnectors/FrequentlyUsedConnectorsCard.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/FrequentlyUsedConnectors/useSuggestedConnectors.ts
  airbyte-webapp/src/views/Connector/ConnectorForm/types.ts
Labels: area/platform, team/frontend, team/growth

#18988 Bmoric/extract webbackend api
  airbyte-server/src/main/java/io/airbyte/server/ConfigurationApiFactory.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/main/java/io/airbyte/server/ServerFactory.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/apis/WebBackendApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/binders/WebBackendApiBinder.java
  airbyte-server/src/main/java/io/airbyte/server/apis/factories/WebBackendApiFactory.java
Labels: area/platform, area/server

#18996 Bmoric/extract workspace api
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/IntegrationRunner.java
  airbyte-server/src/main/java/io/airbyte/server/ServerFactory.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/apis/WorkspaceApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/binders/WorkspaceApiBinder.java
  airbyte-server/src/main/java/io/airbyte/server/apis/factories/WorkspaceApiFactory.java
Labels: area/platform, area/server

#18378 🎉 New Source - Secoda [low-code cdk]
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-secoda/.dockerignore
  airbyte-integrations/connectors/source-secoda/Dockerfile
  airbyte-integrations/connectors/source-secoda/README.md
  airbyte-integrations/connectors/source-secoda/__init__.py
  airbyte-integrations/connectors/source-secoda/acceptance-test-config.yml
  airbyte-integrations/connectors/source-secoda/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-secoda/build.gradle
  airbyte-integrations/connectors/source-secoda/integration_tests/__init__.py
  airbyte-integrations/connectors/source-secoda/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-secoda/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-secoda/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-secoda/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-secoda/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-secoda/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-secoda/main.py
  airbyte-integrations/connectors/source-secoda/requirements.txt
  airbyte-integrations/connectors/source-secoda/setup.py
  airbyte-integrations/connectors/source-secoda/source_secoda/__init__.py
  airbyte-integrations/connectors/source-secoda/source_secoda/schemas/collections.json
  airbyte-integrations/connectors/source-secoda/source_secoda/schemas/tables.json
  airbyte-integrations/connectors/source-secoda/source_secoda/schemas/terms.json
  airbyte-integrations/connectors/source-secoda/source_secoda/secoda.yaml
  airbyte-integrations/connectors/source-secoda/source_secoda/source.py
  airbyte-integrations/connectors/source-secoda/source_secoda/spec.yaml
  docs/integrations/sources/secoda.md
Labels: area/documentation, area/connectors, community, hacktober, bounty, connectors/source/gutendex, connectors/source/secoda

#19095 [low-code cdk] decouple parsing the yaml manifest from the declarative source implementation
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/declarative/manifest_declarative_source.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/yaml_declarative_source.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_manifest_declarative_source.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_yaml_declarative_source.py
Labels: CDK

#19127 🪟 🎉 Add temporary dropdown component for geography selection
  airbyte-webapp/src/components/CreateConnection/DataResidency.tsx
  airbyte-webapp/src/components/common/DataGeographyDropdown/DataGeographyDropdown.module.scss
  airbyte-webapp/src/components/common/DataGeographyDropdown/DataGeographyDropdown.tsx
  airbyte-webapp/src/components/common/DataGeographyDropdown/index.ts
  airbyte-webapp/src/components/connection/UpdateConnectionDataResidency/UpdateConnectionDataResidency.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/packages/cloud/views/workspaces/DataResidencyView/DataResidencyView.tsx
  airbyte-webapp/src/utils/links.ts
Labels: area/platform, team/frontend

#19135 Fix OAuth login buttons
  airbyte-webapp/src/core/jsonSchema/schemaToYup.test.ts
  airbyte-webapp/src/core/jsonSchema/schemaToYup.ts
  airbyte-webapp/src/views/Connector/ConnectorForm/ConnectorForm.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/FormRoot.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/Property/Control.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/Sections/auth/AuthButton.test.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/Sections/auth/AuthButton.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/connectorFormContext.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/useAuthentication.test.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/useAuthentication.tsx
Labels: type/bug, area/platform, team/extensibility, team/frontend, ui/connectors

#19085 SAT: make `future_state` configuration mandatory in `high` test strictness level
  airbyte-integrations/bases/source-acceptance-test/CHANGELOG.md
  airbyte-integrations/bases/source-acceptance-test/Dockerfile
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/config.py
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/tests/test_incremental.py
  airbyte-integrations/bases/source-acceptance-test/unit_tests/test_incremental.py
  airbyte-integrations/connectors/source-github/acceptance-test-config.yml
  docs/connector-development/testing-connectors/source-acceptance-tests-reference.md
Labels: area/documentation, area/connectors, connectors/source/github, connectors/source/salesforce

#18985 Source Amazon Ads: remove "report_wait_timeout", "report_generation_max_retries" from config
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-ads/Dockerfile
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/spec.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/spec.yaml
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/report_streams/report_streams.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/utils.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/test_report_streams.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/test_utils.py
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, area/connectors, connectors/source/amazon-ads

#19093 Add improvements to "Building a connector the hard way"
  airbyte-integrations/connector-templates/source_acceptance_test_files/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-stock-ticker-api-tutorial/source.py
  docs/connector-development/tutorials/build-a-connector-the-hard-way.md
Labels: area/documentation, area/connectors, connectors/source/stock-ticker-api-tutorial

#18997 Bmoric/extract source definition specification api
  airbyte-server/src/main/java/io/airbyte/server/ConfigurationApiFactory.java
  airbyte-server/src/main/java/io/airbyte/server/ServerFactory.java
  airbyte-server/src/main/java/io/airbyte/server/apis/ConfigurationApi.java
  airbyte-server/src/main/java/io/airbyte/server/apis/SourceDefinitionSpecificationApiController.java
  airbyte-server/src/main/java/io/airbyte/server/apis/binders/SourceDefinitionSpecificationApiBinder.java
  airbyte-server/src/main/java/io/airbyte/server/apis/factories/SourceDefinitionSpecificationApiFactory.java
Labels: area/platform, area/server

#18949 :window: :tada: Add connector builder logs viewer and improve page/slice state
  airbyte-webapp/src/components/StreamTestingPanel/LogsDisplay.module.scss
  airbyte-webapp/src/components/StreamTestingPanel/LogsDisplay.tsx
  airbyte-webapp/src/components/StreamTestingPanel/PageDisplay.tsx
  airbyte-webapp/src/components/StreamTestingPanel/ResultDisplay.module.scss
  airbyte-webapp/src/components/StreamTestingPanel/ResultDisplay.tsx
  airbyte-webapp/src/components/StreamTestingPanel/StreamTestingPanel.module.scss
  airbyte-webapp/src/components/StreamTestingPanel/StreamTestingPanel.tsx
  airbyte-webapp/src/components/StreamTestingPanel/TestControls.module.scss
  airbyte-webapp/src/components/ui/ListBox/ListBox.module.scss
  airbyte-webapp/src/components/ui/Paginator/Paginator.module.scss
  airbyte-webapp/src/components/ui/Paginator/Paginator.tsx
  airbyte-webapp/src/components/ui/ResizablePanels/ResizablePanels.module.scss
  airbyte-webapp/src/components/ui/ResizablePanels/ResizablePanels.tsx
  airbyte-webapp/src/core/domain/connectorBuilder/ConnectorBuilderRequestService.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/ConnectorBuilderPage/ConnectorBuilderPage.tsx
  airbyte-webapp/src/services/connectorBuilder/ConnectorBuilderStateService.tsx
  airbyte-webapp/src/views/Connector/ConnectorDocumentationLayout/ConnectorDocumentationLayout.tsx
Labels: area/platform, team/frontend

#19189 docs: Add note about fields which don't have `order` field
  docs/connector-development/connector-specification-reference.md
Labels: area/documentation

#19001 :window: :tada: Add yaml validation to Connector Builder and disable buttons when invalid
  airbyte-webapp/src/components/StreamTestingPanel/TestControls.module.scss
  airbyte-webapp/src/components/StreamTestingPanel/TestControls.tsx
  airbyte-webapp/src/components/YamlEditor/DownloadYamlButton.tsx
  airbyte-webapp/src/components/YamlEditor/YamlEditor.tsx
  airbyte-webapp/src/components/YamlEditor/YamlTemplate.ts
  airbyte-webapp/src/components/ui/CodeEditor/CodeEditor.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/services/connectorBuilder/ConnectorBuilderStateService.tsx
Labels: area/platform, team/frontend

#18403 :tada: New Source: Convex.dev
  airbyte-config/init/src/main/resources/icons/convex.svg
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-convex/.dockerignore
  airbyte-integrations/connectors/source-convex/Dockerfile
  airbyte-integrations/connectors/source-convex/README.md
  airbyte-integrations/connectors/source-convex/acceptance-test-config.yml
  airbyte-integrations/connectors/source-convex/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-convex/bootstrap.md
  airbyte-integrations/connectors/source-convex/build.gradle
  airbyte-integrations/connectors/source-convex/integration_tests/__init__.py
  airbyte-integrations/connectors/source-convex/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-convex/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-convex/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-convex/integration_tests/expected_records.txt
  airbyte-integrations/connectors/source-convex/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-convex/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-convex/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-convex/main.py
  airbyte-integrations/connectors/source-convex/requirements.txt
  airbyte-integrations/connectors/source-convex/setup.py
  airbyte-integrations/connectors/source-convex/source_convex/__init__.py
  airbyte-integrations/connectors/source-convex/source_convex/source.py
  airbyte-integrations/connectors/source-convex/source_convex/spec.yaml
  airbyte-integrations/connectors/source-convex/unit_tests/__init__.py
  airbyte-integrations/connectors/source-convex/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-convex/unit_tests/test_source.py
  airbyte-integrations/connectors/source-convex/unit_tests/test_streams.py
  docs/integrations/sources/convex.md
Labels: area/documentation, area/connectors, community, hacktober, bounty, connectors/source/convex

#19187 Source-courier: test read with expected records
  airbyte-integrations/connectors/source-courier/acceptance-test-config.yml
  airbyte-integrations/connectors/source-courier/integration_tests/expected_records.txt
Labels: area/connectors, connectors/source/courier

#19100 :window: :art: Connector Builder light yaml editor theme
  airbyte-webapp/src/components/StreamTestingPanel/ConfigMenu.module.scss
  airbyte-webapp/src/components/StreamTestingPanel/ConfigMenu.tsx
  airbyte-webapp/src/components/YamlEditor/YamlEditor.module.scss
  airbyte-webapp/src/components/YamlEditor/YamlEditor.tsx
  airbyte-webapp/src/components/ui/CodeEditor/CodeEditor.module.scss
  airbyte-webapp/src/components/ui/CodeEditor/CodeEditor.tsx
  airbyte-webapp/src/pages/ConnectorBuilderPage/ConnectorBuilderPage.module.scss
Labels: area/platform, team/frontend

#18603 🎉 New source: Partnerstack
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-partnerstack/.dockerignore
  airbyte-integrations/connectors/source-partnerstack/Dockerfile
  airbyte-integrations/connectors/source-partnerstack/README.md
  airbyte-integrations/connectors/source-partnerstack/__init__.py
  airbyte-integrations/connectors/source-partnerstack/acceptance-test-config.yml
  airbyte-integrations/connectors/source-partnerstack/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-partnerstack/build.gradle
  airbyte-integrations/connectors/source-partnerstack/integration_tests/__init__.py
  airbyte-integrations/connectors/source-partnerstack/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-partnerstack/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-partnerstack/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-partnerstack/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-partnerstack/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-partnerstack/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-partnerstack/integration_tests/simple_catalog.json
  airbyte-integrations/connectors/source-partnerstack/integration_tests/simple_incremental_catalog.json
  airbyte-integrations/connectors/source-partnerstack/main.py
  airbyte-integrations/connectors/source-partnerstack/requirements.txt
  airbyte-integrations/connectors/source-partnerstack/setup.py
  airbyte-integrations/connectors/source-partnerstack/source_partnerstack/__init__.py
  airbyte-integrations/connectors/source-partnerstack/source_partnerstack/components.py
  airbyte-integrations/connectors/source-partnerstack/source_partnerstack/partnerstack.yaml
  airbyte-integrations/connectors/source-partnerstack/source_partnerstack/schemas/customers.json
  airbyte-integrations/connectors/source-partnerstack/source_partnerstack/schemas/deals.json
  airbyte-integrations/connectors/source-partnerstack/source_partnerstack/schemas/groups.json
  airbyte-integrations/connectors/source-partnerstack/source_partnerstack/schemas/leads.json
  airbyte-integrations/connectors/source-partnerstack/source_partnerstack/schemas/partnerships.json
  airbyte-integrations/connectors/source-partnerstack/source_partnerstack/schemas/rewards.json
  airbyte-integrations/connectors/source-partnerstack/source_partnerstack/schemas/transactions.json
  airbyte-integrations/connectors/source-partnerstack/source_partnerstack/source.py
  airbyte-integrations/connectors/source-partnerstack/source_partnerstack/spec.yaml
  docs/integrations/README.md
  docs/integrations/sources/partnerstack.md
Labels: area/documentation, area/connectors, community, hacktober, bounty, connectors/source/partnerstack

#18647 🎉 New Source: EmailOctopus [low-code cdk]
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-emailoctopus/.dockerignore
  airbyte-integrations/connectors/source-emailoctopus/BOOTSTRAP.md
  airbyte-integrations/connectors/source-emailoctopus/Dockerfile
  airbyte-integrations/connectors/source-emailoctopus/README.md
  airbyte-integrations/connectors/source-emailoctopus/__init__.py
  airbyte-integrations/connectors/source-emailoctopus/acceptance-test-config.yml
  airbyte-integrations/connectors/source-emailoctopus/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-emailoctopus/build.gradle
  airbyte-integrations/connectors/source-emailoctopus/integration_tests/__init__.py
  airbyte-integrations/connectors/source-emailoctopus/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-emailoctopus/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-emailoctopus/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-emailoctopus/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-emailoctopus/main.py
  airbyte-integrations/connectors/source-emailoctopus/requirements.txt
  airbyte-integrations/connectors/source-emailoctopus/setup.py
  airbyte-integrations/connectors/source-emailoctopus/source_emailoctopus/__init__.py
  airbyte-integrations/connectors/source-emailoctopus/source_emailoctopus/emailoctopus.yaml
  airbyte-integrations/connectors/source-emailoctopus/source_emailoctopus/schemas/campaigns.json
  airbyte-integrations/connectors/source-emailoctopus/source_emailoctopus/schemas/lists.json
  airbyte-integrations/connectors/source-emailoctopus/source_emailoctopus/source.py
  airbyte-integrations/connectors/source-emailoctopus/source_emailoctopus/spec.yaml
  docs/integrations/sources/emailoctopus.md
Labels: area/documentation, area/connectors, community, hacktober, bounty, connectors/source/emailoctopus

#18654 🎉 New Source: The Guardian API [low-code CDK]
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-the-guardian-api/.dockerignore
  airbyte-integrations/connectors/source-the-guardian-api/Dockerfile
  airbyte-integrations/connectors/source-the-guardian-api/README.md
  airbyte-integrations/connectors/source-the-guardian-api/__init__.py
  airbyte-integrations/connectors/source-the-guardian-api/acceptance-test-config.yml
  airbyte-integrations/connectors/source-the-guardian-api/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-the-guardian-api/bootstrap.md
  airbyte-integrations/connectors/source-the-guardian-api/build.gradle
  airbyte-integrations/connectors/source-the-guardian-api/integration_tests/__init__.py
  airbyte-integrations/connectors/source-the-guardian-api/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-the-guardian-api/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-the-guardian-api/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-the-guardian-api/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-the-guardian-api/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-the-guardian-api/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-the-guardian-api/main.py
  airbyte-integrations/connectors/source-the-guardian-api/requirements.txt
  airbyte-integrations/connectors/source-the-guardian-api/setup.py
  airbyte-integrations/connectors/source-the-guardian-api/source_the_guardian_api/__init__.py
  airbyte-integrations/connectors/source-the-guardian-api/source_the_guardian_api/custom_page_strategy.py
  airbyte-integrations/connectors/source-the-guardian-api/source_the_guardian_api/schemas/content.json
  airbyte-integrations/connectors/source-the-guardian-api/source_the_guardian_api/source.py
  airbyte-integrations/connectors/source-the-guardian-api/source_the_guardian_api/spec.yaml
  airbyte-integrations/connectors/source-the-guardian-api/source_the_guardian_api/the_guardian_api.yaml
  docs/integrations/sources/the-guardian-api.md
Labels: area/documentation, area/connectors, community, hacktober, bounty, connectors/source/the-guardian-api

#18674 🎉 New Source: Smaily [low-code cdk]
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-smaily/.dockerignore
  airbyte-integrations/connectors/source-smaily/Dockerfile
  airbyte-integrations/connectors/source-smaily/README.md
  airbyte-integrations/connectors/source-smaily/__init__.py
  airbyte-integrations/connectors/source-smaily/acceptance-test-config.yml
  airbyte-integrations/connectors/source-smaily/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-smaily/build.gradle
  airbyte-integrations/connectors/source-smaily/integration_tests/__init__.py
  airbyte-integrations/connectors/source-smaily/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-smaily/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-smaily/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-smaily/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-smaily/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-smaily/main.py
  airbyte-integrations/connectors/source-smaily/requirements.txt
  airbyte-integrations/connectors/source-smaily/setup.py
  airbyte-integrations/connectors/source-smaily/source_smaily/__init__.py
  airbyte-integrations/connectors/source-smaily/source_smaily/schemas/ab_tests.json
  airbyte-integrations/connectors/source-smaily/source_smaily/schemas/automations.json
  airbyte-integrations/connectors/source-smaily/source_smaily/schemas/campaigns.json
  airbyte-integrations/connectors/source-smaily/source_smaily/schemas/segments.json
  airbyte-integrations/connectors/source-smaily/source_smaily/schemas/templates.json
  airbyte-integrations/connectors/source-smaily/source_smaily/schemas/users.json
  airbyte-integrations/connectors/source-smaily/source_smaily/smaily.yaml
  airbyte-integrations/connectors/source-smaily/source_smaily/source.py
  airbyte-integrations/connectors/source-smaily/source_smaily/spec.yaml
  docs/integrations/sources/smaily.md
Labels: area/documentation, area/connectors, community, hacktober, bounty, connectors/source/smaily

#19204 :window: :wrench: Increase LaunchDarkly initialization timeout
  airbyte-webapp/src/packages/cloud/services/thirdParty/launchdarkly/LDExperimentService.tsx
Labels: area/platform, team/cloud, team/frontend, ui/services

#18661 🎉 New source: Ip2whois [low-code SDK]
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-ip2whois/.dockerignore
  airbyte-integrations/connectors/source-ip2whois/Dockerfile
  airbyte-integrations/connectors/source-ip2whois/README.md
  airbyte-integrations/connectors/source-ip2whois/__init__.py
  airbyte-integrations/connectors/source-ip2whois/acceptance-test-config.yml
  airbyte-integrations/connectors/source-ip2whois/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-ip2whois/build.gradle
  airbyte-integrations/connectors/source-ip2whois/integration_tests/__init__.py
  airbyte-integrations/connectors/source-ip2whois/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-ip2whois/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-ip2whois/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-ip2whois/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-ip2whois/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-ip2whois/main.py
  airbyte-integrations/connectors/source-ip2whois/requirements.txt
  airbyte-integrations/connectors/source-ip2whois/setup.py
  airbyte-integrations/connectors/source-ip2whois/source_ip2whois/__init__.py
  airbyte-integrations/connectors/source-ip2whois/source_ip2whois/ip2whois.yaml
  airbyte-integrations/connectors/source-ip2whois/source_ip2whois/schemas/whois.json
  airbyte-integrations/connectors/source-ip2whois/source_ip2whois/source.py
  airbyte-integrations/connectors/source-ip2whois/source_ip2whois/spec.yaml
  docs/integrations/sources/ip2whois.md
Labels: area/documentation, area/connectors, community, hacktober, bounty, connectors/source/ip2whois

#18808 🎉 New Source: GNews [low-code CDK]
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-gnews/.dockerignore
  airbyte-integrations/connectors/source-gnews/Dockerfile
  airbyte-integrations/connectors/source-gnews/README.md
  airbyte-integrations/connectors/source-gnews/__init__.py
  airbyte-integrations/connectors/source-gnews/acceptance-test-config.yml
  airbyte-integrations/connectors/source-gnews/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-gnews/build.gradle
  airbyte-integrations/connectors/source-gnews/integration_tests/__init__.py
  airbyte-integrations/connectors/source-gnews/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-gnews/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-gnews/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-gnews/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-gnews/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-gnews/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-gnews/main.py
  airbyte-integrations/connectors/source-gnews/requirements.txt
  airbyte-integrations/connectors/source-gnews/setup.py
  airbyte-integrations/connectors/source-gnews/source_gnews/__init__.py
  airbyte-integrations/connectors/source-gnews/source_gnews/gnews.yaml
  airbyte-integrations/connectors/source-gnews/source_gnews/schemas/search.json
  airbyte-integrations/connectors/source-gnews/source_gnews/schemas/top_headlines.json
  airbyte-integrations/connectors/source-gnews/source_gnews/source.py
  airbyte-integrations/connectors/source-gnews/source_gnews/spec.yaml
  airbyte-integrations/connectors/source-gnews/source_gnews/wait_until_midnight_backoff_strategy.py
  airbyte-integrations/connectors/source-gnews/unit_tests/__init__.py
  airbyte-integrations/connectors/source-gnews/unit_tests/test_wait_until_midnight_backoff.py
  docs/integrations/sources/gnews.md
Labels: area/documentation, area/connectors, community, hacktober, bounty, connectors/source/gnews

#18393 🎉 New Source - K6 Cloud [low-code cdk]
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-k6-cloud/.dockerignore
  airbyte-integrations/connectors/source-k6-cloud/Dockerfile
  airbyte-integrations/connectors/source-k6-cloud/README.md
  airbyte-integrations/connectors/source-k6-cloud/__init__.py
  airbyte-integrations/connectors/source-k6-cloud/acceptance-test-config.yml
  airbyte-integrations/connectors/source-k6-cloud/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-k6-cloud/build.gradle
  airbyte-integrations/connectors/source-k6-cloud/integration_tests/__init__.py
  airbyte-integrations/connectors/source-k6-cloud/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-k6-cloud/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-k6-cloud/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-k6-cloud/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-k6-cloud/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-k6-cloud/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-k6-cloud/main.py
  airbyte-integrations/connectors/source-k6-cloud/requirements.txt
  airbyte-integrations/connectors/source-k6-cloud/setup.py
  airbyte-integrations/connectors/source-k6-cloud/source_k6_cloud/__init__.py
  airbyte-integrations/connectors/source-k6-cloud/source_k6_cloud/k6_cloud.yaml
  airbyte-integrations/connectors/source-k6-cloud/source_k6_cloud/schemas/k6-tests.json
  airbyte-integrations/connectors/source-k6-cloud/source_k6_cloud/schemas/organizations.json
  airbyte-integrations/connectors/source-k6-cloud/source_k6_cloud/schemas/projects.json
  airbyte-integrations/connectors/source-k6-cloud/source_k6_cloud/source.py
  airbyte-integrations/connectors/source-k6-cloud/source_k6_cloud/spec.yaml
  airbyte-integrations/connectors/source-launchdarkly/.dockerignore
  airbyte-integrations/connectors/source-launchdarkly/Dockerfile
  airbyte-integrations/connectors/source-launchdarkly/README.md
  airbyte-integrations/connectors/source-launchdarkly/__init__.py
  airbyte-integrations/connectors/source-launchdarkly/acceptance-test-config.yml
  airbyte-integrations/connectors/source-launchdarkly/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-launchdarkly/build.gradle
  airbyte-integrations/connectors/source-launchdarkly/integration_tests/__init__.py
  airbyte-integrations/connectors/source-launchdarkly/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-launchdarkly/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-launchdarkly/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-launchdarkly/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-launchdarkly/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-launchdarkly/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-launchdarkly/main.py
  airbyte-integrations/connectors/source-launchdarkly/requirements.txt
  airbyte-integrations/connectors/source-launchdarkly/setup.py
  airbyte-integrations/connectors/source-launchdarkly/source_launchdarkly/__init__.py
  airbyte-integrations/connectors/source-launchdarkly/source_launchdarkly/launchdarkly.yaml
  airbyte-integrations/connectors/source-launchdarkly/source_launchdarkly/schemas/auditlog.json
  airbyte-integrations/connectors/source-launchdarkly/source_launchdarkly/schemas/environments.json
  airbyte-integrations/connectors/source-launchdarkly/source_launchdarkly/schemas/flags.json
  airbyte-integrations/connectors/source-launchdarkly/source_launchdarkly/schemas/members.json
  airbyte-integrations/connectors/source-launchdarkly/source_launchdarkly/schemas/metrics.json
  airbyte-integrations/connectors/source-launchdarkly/source_launchdarkly/schemas/projects.json
  airbyte-integrations/connectors/source-launchdarkly/source_launchdarkly/source.py
  airbyte-integrations/connectors/source-launchdarkly/source_launchdarkly/spec.yaml
  docs/integrations/sources/k6-cloud.md
  docs/integrations/sources/launchdarkly.md
Labels: area/documentation, area/connectors, community, hacktober, bounty, connectors/source/k6-cloud, connectors/source/launchdarkly

#18763 Source 3PL Central: add a check for HTTP URLs in config
  airbyte-integrations/connectors/source-tplcentral/Dockerfile
  airbyte-integrations/connectors/source-tplcentral/acceptance-test-config.yml
  airbyte-integrations/connectors/source-tplcentral/integration_tests/config_http_url.json
  airbyte-integrations/connectors/source-tplcentral/source_tplcentral/source.py
  airbyte-integrations/connectors/source-tplcentral/source_tplcentral/spec.json
  airbyte-integrations/connectors/source-tplcentral/unit_tests/test_source.py
  docs/integrations/sources/tplcentral.md
Labels: area/documentation, area/connectors, connectors/source/tplcentral

#19223 🎉 New Source: Demo - Youtube Analytics Business
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-youtube-analytics-business/.dockerignore
  airbyte-integrations/connectors/source-youtube-analytics-business/Dockerfile
  airbyte-integrations/connectors/source-youtube-analytics-business/README.md
  airbyte-integrations/connectors/source-youtube-analytics-business/acceptance-test-config.yml
  airbyte-integrations/connectors/source-youtube-analytics-business/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-youtube-analytics-business/build.gradle
  airbyte-integrations/connectors/source-youtube-analytics-business/integration_tests/__init__.py
  airbyte-integrations/connectors/source-youtube-analytics-business/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-youtube-analytics-business/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-youtube-analytics-business/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-youtube-analytics-business/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-youtube-analytics-business/main.py
  airbyte-integrations/connectors/source-youtube-analytics-business/requirements.txt
  airbyte-integrations/connectors/source-youtube-analytics-business/setup.py
  airbyte-integrations/connectors/source-youtube-analytics-business/source_youtube_analytics_business/__init__.py
  airbyte-integrations/connectors/source-youtube-analytics-business/source_youtube_analytics_business/defaults/channel_reports.json
  airbyte-integrations/connectors/source-youtube-analytics-business/source_youtube_analytics_business/schemas/channel_annotations_a1.json
  airbyte-integrations/connectors/source-youtube-analytics-business/source_youtube_analytics_business/schemas/channel_basic_a2.json
  airbyte-integrations/connectors/source-youtube-analytics-business/source_youtube_analytics_business/schemas/channel_cards_a1.json
  airbyte-integrations/connectors/source-youtube-analytics-business/source_youtube_analytics_business/schemas/channel_combined_a2.json
  airbyte-integrations/connectors/source-youtube-analytics-business/source_youtube_analytics_business/schemas/channel_demographics_a1.json
  airbyte-integrations/connectors/source-youtube-analytics-business/source_youtube_analytics_business/schemas/channel_device_os_a2.json
  airbyte-integrations/connectors/source-youtube-analytics-business/source_youtube_analytics_business/schemas/channel_end_screens_a1.json
  airbyte-integrations/connectors/source-youtube-analytics-business/source_youtube_analytics_business/schemas/channel_playback_location_a2.json
  airbyte-integrations/connectors/source-youtube-analytics-business/source_youtube_analytics_business/schemas/channel_province_a2.json
  airbyte-integrations/connectors/source-youtube-analytics-business/source_youtube_analytics_business/schemas/channel_sharing_service_a1.json
  airbyte-integrations/connectors/source-youtube-analytics-business/source_youtube_analytics_business/schemas/channel_subtitles_a2.json
  airbyte-integrations/connectors/source-youtube-analytics-business/source_youtube_analytics_business/schemas/channel_traffic_source_a2.json
  airbyte-integrations/connectors/source-youtube-analytics-business/source_youtube_analytics_business/schemas/playlist_basic_a1.json
  airbyte-integrations/connectors/source-youtube-analytics-business/source_youtube_analytics_business/schemas/playlist_combined_a1.json
  airbyte-integrations/connectors/source-youtube-analytics-business/source_youtube_analytics_business/schemas/playlist_device_os_a1.json
  airbyte-integrations/connectors/source-youtube-analytics-business/source_youtube_analytics_business/schemas/playlist_playback_location_a1.json
  airbyte-integrations/connectors/source-youtube-analytics-business/source_youtube_analytics_business/schemas/playlist_province_a1.json
  airbyte-integrations/connectors/source-youtube-analytics-business/source_youtube_analytics_business/schemas/playlist_traffic_source_a1.json
  airbyte-integrations/connectors/source-youtube-analytics-business/source_youtube_analytics_business/source.py
  airbyte-integrations/connectors/source-youtube-analytics-business/source_youtube_analytics_business/spec.json
  airbyte-integrations/connectors/source-youtube-analytics-business/unit_tests/unit_test.py
  airbyte-oauth/src/main/java/io/airbyte/oauth/OAuthImplementationFactory.java
  airbyte-oauth/src/main/java/io/airbyte/oauth/flows/google/YouTubeAnalyticsBusinessOAuthFlow.java
  airbyte-webapp/src/core/domain/connector/constants.ts
  airbyte-webapp/src/views/Connector/ConnectorForm/components/Sections/auth/AuthButton.tsx
Labels: area/connectors, area/platform, team/frontend, connectors/source/youtube-analytics-business
