Repository airbytehq/airbyte, pull requests merged in 2023-10, with the labels that each got.

#30820 Milvus, Chroma, Qdrant, Pinecone: Update CDK
  airbyte-integrations/connectors/destination-chroma/Dockerfile
  airbyte-integrations/connectors/destination-chroma/destination_chroma/destination.py
  airbyte-integrations/connectors/destination-chroma/metadata.yaml
  airbyte-integrations/connectors/destination-chroma/setup.py
  airbyte-integrations/connectors/destination-milvus/Dockerfile
  airbyte-integrations/connectors/destination-milvus/metadata.yaml
  airbyte-integrations/connectors/destination-milvus/setup.py
  airbyte-integrations/connectors/destination-pinecone/Dockerfile
  airbyte-integrations/connectors/destination-pinecone/metadata.yaml
  airbyte-integrations/connectors/destination-pinecone/setup.py
  airbyte-integrations/connectors/destination-qdrant/Dockerfile
  airbyte-integrations/connectors/destination-qdrant/metadata.yaml
  airbyte-integrations/connectors/destination-qdrant/setup.py
  docs/integrations/destinations/chroma.md
  docs/integrations/destinations/milvus.md
  docs/integrations/destinations/pinecone.md
  docs/integrations/destinations/qdrant.md
Labels: area/documentation, area/connectors, connectors/destination/milvus, connectors/destination/pinecone, connectors/destination/qdrant, connectors/destination/chroma

#30944 Docs: Update add-a-destination and set-up-a-connection OSS pages
  docs/.gitbook/assets/add-a-destination/getting-started-destination-list.png
  docs/.gitbook/assets/add-a-destination/getting-started-destination-page.png
  docs/.gitbook/assets/set-up-a-connection/getting-started-connection-config.png
  docs/.gitbook/assets/set-up-a-connection/getting-started-connection-streams.png
  docs/.gitbook/assets/set-up-a-connection/getting-started-connection-success.png
  docs/quickstart/add-a-destination.md
  docs/quickstart/add-a-source.md
  docs/quickstart/set-up-a-connection.md
Labels: area/documentation

#30137 Vector DB CDK: Add embedding option for openai-compatible embedding services
  airbyte-cdk/python/airbyte_cdk/destinations/vector_db_based/README.md
  airbyte-cdk/python/airbyte_cdk/destinations/vector_db_based/config.py
  airbyte-cdk/python/airbyte_cdk/destinations/vector_db_based/embedder.py
  airbyte-cdk/python/unit_tests/destinations/vector_db_based/embedder_test.py
Labels: CDK

#30972 Remove `source-google-analytics-v4` from Airbyte Cloud
  airbyte-integrations/connectors/source-google-analytics-v4/metadata.yaml
Labels: area/connectors, connectors/source/google-analytics-v4

#30930 :rotating_light: :rotating_light: Source Google Analytics: fix stream naming
  airbyte-integrations/connectors/source-google-analytics-data-api/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/source.py
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_source.py
  docs/integrations/sources/google-analytics-data-api-migrations.md
  docs/integrations/sources/google-analytics-data-api.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-data-api, breaking-change, checklist-action-run

#30980 CDK: Add helper for cloud env
  airbyte-cdk/python/airbyte_cdk/entrypoint.py
  airbyte-cdk/python/airbyte_cdk/utils/__init__.py
  airbyte-cdk/python/airbyte_cdk/utils/is_cloud_environment.py
Labels: CDK

#30989 Source Google Analytics: update migration guide
  docs/integrations/sources/google-analytics-data-api-migrations.md
Labels: area/documentation

#30979 Source GitHub: add archived project cards
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/unit_tests/conftest.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors, connectors/source/github

#30025 :rotating_light: :rotating_light: Source Mixpanel: fix typing
  airbyte-integrations/connectors/source-mixpanel/Dockerfile
  airbyte-integrations/connectors/source-mixpanel/acceptance-test-config.yml
  airbyte-integrations/connectors/source-mixpanel/integration_tests/configured_catalog_incremental.json
  airbyte-integrations/connectors/source-mixpanel/metadata.yaml
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams/engage.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams/export.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_streams.py
  docs/integrations/sources/mixpanel-migrations.md
  docs/integrations/sources/mixpanel.md
Labels: area/documentation, area/connectors, connectors/source/mixpanel, breaking-change

#30942 ✨ Source MongoDB V2: Filter included fields during conversion to Airbyte record
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/AirbyteDebeziumHandler.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/DebeziumEventUtils.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/DebeziumStateDecoratingIterator.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/mongodb/MongoDbCdcEventUtils.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/java/io/airbyte/cdk/integrations/debezium/DebeziumEventUtilsTest.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/java/io/airbyte/cdk/integrations/debezium/internals/DebeziumEventUtilsTest.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/java/io/airbyte/cdk/integrations/debezium/internals/mongodb/MongoDbCdcEventUtilsTest.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoDbStateIterator.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbCdcInitializer.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbCdcProperties.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbDebeziumFieldsUtil.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbCdcInitializerTest.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbCdcPropertiesTest.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbDebeziumFieldsUtilTest.java
Labels: area/connectors, CDK, connectors/source/mongodb-v2

#30971 :sparkles: Source Github: marked start date as optional field
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/acceptance-test-config.yml
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/source_github/source.py
  airbyte-integrations/connectors/source-github/source_github/spec.json
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/unit_tests/test_source.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors, connectors/source/github

#31017 Fix31015 typo in default issue template
  .github/ISSUE_TEMPLATE/1-issue-connector.yaml
  .github/ISSUE_TEMPLATE/3-issue-cli.yaml
  .github/ISSUE_TEMPLATE/5-feature-new-connector.yaml
  .github/ISSUE_TEMPLATE/6-feature-request.yaml
  .github/ISSUE_TEMPLATE/9-other.yaml
Labels: community

#30858 Update internal tool install instructions to include pyenv, editable, and force
  .python-version
  airbyte-ci/.python-version
  airbyte-ci/connectors/ci_credentials/README.md
  airbyte-ci/connectors/connector_ops/.python-version
  airbyte-ci/connectors/pipelines/README.md
  airbyte-ci/connectors/pipelines/pipelines/commands/airbyte_ci.py
  airbyte-ci/connectors/pipelines/pipelines/consts.py
  airbyte-ci/connectors/pipelines/pipelines/dagger_run.py
  airbyte-ci/connectors/pipelines/poetry.lock
  airbyte-ci/connectors/pipelines/pyproject.toml
  airbyte-integrations/bases/connector-acceptance-test/README.md
  octavia-cli/.python-version
Labels: connectors/source/google-ads

#31024 java-cdk: remove dead version.properties file
  airbyte-cdk/java/airbyte-cdk/src/main/resources/REAME.md
  airbyte-cdk/java/airbyte-cdk/src/main/resources/version.properties
Labels: CDK

#30838 CAT: add option to test with specific deployment_mode
  airbyte-integrations/bases/connector-acceptance-test/connector_acceptance_test/config.py
  airbyte-integrations/bases/connector-acceptance-test/connector_acceptance_test/conftest.py
  airbyte-integrations/bases/connector-acceptance-test/connector_acceptance_test/utils/connector_runner.py
  airbyte-integrations/bases/connector-acceptance-test/unit_tests/test_connector_runner.py
Labels: connectors/source/google-ads

#31000 Update GA4 breaking changes doc
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  docs/integrations/sources/google-analytics-data-api-migrations.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-data-api

#31031 ✨ Source MongoDB V2: Fix formatting
  docs/integrations/sources/mongodb-v2.md
Labels: area/documentation

#31034 ✨ Source MongoDB V2: Fix nested object filtering
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/mongodb/MongoDbCdcEventUtils.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/java/io/airbyte/cdk/integrations/debezium/internals/mongodb/MongoDbCdcEventUtilsTest.java
  airbyte-integrations/connectors/source-mongodb-v2/Dockerfile
  airbyte-integrations/connectors/source-mongodb-v2/metadata.yaml
  docs/integrations/sources/mongodb-v2.md
Labels: area/documentation, area/connectors, CDK, connectors/source/mongodb-v2

#31028 Destination Bigquery - Triple timeout
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryGcsOperations.java
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, checklist-action-run

#30248 ✨ Source Monday: add new field "type" to board stream
  airbyte-integrations/connectors/source-monday/Dockerfile
  airbyte-integrations/connectors/source-monday/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-monday/metadata.yaml
  airbyte-integrations/connectors/source-monday/source_monday/schemas/boards.json
  docs/integrations/sources/monday.md
Labels: area/documentation, area/connectors, community, connectors/source/monday, team/tse

#31067 Vector DB CDK: Fix chunk size for openai embedder
  airbyte-cdk/python/airbyte_cdk/destinations/vector_db_based/embedder.py
Labels: CDK

#31012 Fix broken links
  .github/pull_request_template.md
  CODE_OF_CONDUCT.md
Labels: community

#31056 Source GitHub: migrate repo and branches to array in spec
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/main.py
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/source_github/config_migrations.py
  airbyte-integrations/connectors/source-github/source_github/source.py
  airbyte-integrations/connectors/source-github/source_github/spec.json
  airbyte-integrations/connectors/source-github/unit_tests/test_migrations/test_config.json
  airbyte-integrations/connectors/source-github/unit_tests/test_migrations/test_config_migrations.py
  airbyte-integrations/connectors/source-github/unit_tests/test_migrations/test_new_config.json
  airbyte-integrations/connectors/source-github/unit_tests/test_source.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors, connectors/source/github

#31057 Set the user timezone for tests
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/build.gradle
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/DebeziumEventUtils.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/java/io/airbyte/cdk/integrations/debezium/internals/DebeziumEventUtilsTest.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/resources/mongodb/delete_airbyte_message.json
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/resources/mongodb/insert_airbyte_message.json
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/resources/mongodb/update_airbyte_message.json
  airbyte-integrations/connectors/source-mongodb-v2/build.gradle
  airbyte-integrations/connectors/source-mssql-strict-encrypt/build.gradle
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mysql-strict-encrypt/build.gradle
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-postgres-strict-encrypt/build.gradle
  airbyte-integrations/connectors/source-postgres/build.gradle
Labels: area/connectors, CDK, connectors/source/mssql, connectors/source/mysql, connectors/source/postgres, connectors/source/mongodb-v2, connectors/source/mssql-strict-encrypt, connectors/source/mysql-strict-encrypt, connectors/source/postgres-strict-encrypt

#31064 [Non-forked] ✨ Source Younium: Adding Booking and Account streams
  airbyte-integrations/connectors/source-younium/Dockerfile
  airbyte-integrations/connectors/source-younium/acceptance-test-config.yml
  airbyte-integrations/connectors/source-younium/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-younium/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-younium/metadata.yaml
  airbyte-integrations/connectors/source-younium/source_younium/schemas/account.json
  airbyte-integrations/connectors/source-younium/source_younium/schemas/booking.json
  airbyte-integrations/connectors/source-younium/source_younium/schemas/invoice.json
  airbyte-integrations/connectors/source-younium/source_younium/schemas/product.json
  airbyte-integrations/connectors/source-younium/source_younium/schemas/subscription.json
  airbyte-integrations/connectors/source-younium/source_younium/source.py
  airbyte-integrations/connectors/source-younium/unit_tests/test_source.py
  docs/integrations/sources/younium.md
  tools/schema_generator/schema_generator/infer_schemas.py
Labels: area/documentation, area/connectors, connectors/source/younium

#31027 gradle: remove SUB_BUILD env var and references
  .github/workflows/publish-cdk-command-manually.yml
  airbyte-cdk/python/README.md
  airbyte-config-oss/config-models-oss/README.md
  build.gradle
  octavia-cli/README.md
  settings.gradle
  tools/bin/ci_integration_test.sh
  tools/bin/ci_performance_test.sh
  tools/bin/integration_tests_octavia.sh
  tools/bin/release_version_octavia.sh
Labels: CDK, area/octavia-cli

#31082 Revert "T&D: Use non-null columns for PKs rather then scanning raw ta…
  airbyte-integrations/bases/base-typing-deduping-test/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/BaseSqlGeneratorIntegrationTest.java
  airbyte-integrations/bases/base-typing-deduping-test/src/main/resources/sqlgenerator/timestampformats_inputrecords.jsonl
  airbyte-integrations/bases/base-typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/AlterTableReport.java
  airbyte-integrations/bases/base-typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/BaseDestinationV1V2Migrator.java
  airbyte-integrations/bases/base-typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/DestinationV1V2Migrator.java
  airbyte-integrations/bases/base-typing-deduping/src/test/java/io/airbyte/integrations/base/destination/typing_deduping/DestinationV1V2MigratorTest.java
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGenerator.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGeneratorIntegrationTest.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/sqlgenerator/timestampformats_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeColumnDefinition.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeDestinationHandler.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGenerator.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeTableDefinition.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeV1V2Migrator.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeV2TableMigrator.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGeneratorIntegrationTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/sqlgenerator/timestampformats_expectedrecords_final.jsonl
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, connectors/destination/snowflake

#31085 Pin cdk back to 0.1.0 for postgres, mysql, mssql
  airbyte-integrations/connectors/source-mssql-strict-encrypt/build.gradle
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mysql-strict-encrypt/build.gradle
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-postgres-strict-encrypt/build.gradle
  airbyte-integrations/connectors/source-postgres/build.gradle
Labels: area/connectors, connectors/source/mssql, connectors/source/mysql, connectors/source/postgres, connectors/source/mssql-strict-encrypt, connectors/source/mysql-strict-encrypt, connectors/source/postgres-strict-encrypt

#30992 [ISSUE #82] configure event sharing
  docs/snowflake-native-apps/event-sharing.md
Labels: area/documentation

#31096 🐛Airbyte CDK: fix parsing of UUID fields in avro files
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/avro_parser.py
  airbyte-cdk/python/unit_tests/sources/file_based/file_types/test_avro_parser.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/avro_scenarios.py
Labels: CDK

#31040 :sparkles: Source Zendesk Support: connector health: fix unittests
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/conftest.py
Labels: area/connectors, connectors/source/zendesk-support

#31043 :sparkles: Source Jira: connector health: fix unit tests
  airbyte-integrations/connectors/source-jira/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-jira/unit_tests/conftest.py
Labels: area/connectors, connectors/source/jira

#31047 :sparkles: Source Shopify: connector health: fix unittests
  airbyte-integrations/connectors/source-shopify/unit_tests/conftest.py
Labels: area/connectors, connectors/source/shopify

#31050 Source Hubspot: type transformer for engagements stream
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/acceptance-test-config.yml
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot

#31073 Airbyte CDK: fix none type binary error in parquet parser
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/parquet_parser.py
  airbyte-cdk/python/unit_tests/sources/file_based/file_types/test_parquet_parser.py
Labels: CDK

#30978 CDK: Enable Page Number/Offset to be set on the first request
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/models/declarative_component_schema.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/default_paginator.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/strategies/cursor_pagination_strategy.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/strategies/offset_increment.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/strategies/page_increment.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/strategies/pagination_strategy.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/paginators/test_default_paginator.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/paginators/test_offset_increment.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/paginators/test_page_increment.py
Labels: CDK

#31052 :sparkles: Source Slack Source Linkedin Ads: connector health: fix unit tests
  airbyte-integrations/connectors/source-linkedin-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-slack/unit_tests/conftest.py
Labels: area/connectors, connectors/source/linkedin-ads, connectors/source/slack

#31105 Docs: update Source Chargebee supported stream list
  docs/integrations/sources/chargebee.md
Labels: area/documentation, connectors/source/chargebee

#30859 everhour-source: Fix typo in docs
  docs/integrations/sources/everhour.md
Labels: area/documentation, community

#30799 Connector builder: fix incremental sync docs
  docs/connector-development/connector-builder-ui/incremental-sync.md
Labels: area/documentation

#31129 reduce block size
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/GlobalMemoryManager.java
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/redshift.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/bigquery, connectors/destination/snowflake, connectors/destination/redshift

#31122 CDK: coerce read records to an iterator
  airbyte-cdk/python/airbyte_cdk/sources/streams/utils/stream_helper.py
  airbyte-cdk/python/unit_tests/sources/streams/http/test_availability_strategy.py
Labels: CDK

#31136 Fix test
  airbyte-cdk/java/airbyte-cdk/core/src/test/java/io/airbyte/cdk/integrations/destination_async/GlobalMemoryManagerTest.java
Labels: CDK

#31075 Vector DB Destinations: Fix OpenAI batch size and Weaviate field name collision
  airbyte-integrations/connectors/destination-chroma/Dockerfile
  airbyte-integrations/connectors/destination-chroma/metadata.yaml
  airbyte-integrations/connectors/destination-chroma/setup.py
  airbyte-integrations/connectors/destination-milvus/Dockerfile
  airbyte-integrations/connectors/destination-milvus/metadata.yaml
  airbyte-integrations/connectors/destination-milvus/setup.py
  airbyte-integrations/connectors/destination-pinecone/Dockerfile
  airbyte-integrations/connectors/destination-pinecone/metadata.yaml
  airbyte-integrations/connectors/destination-pinecone/setup.py
  airbyte-integrations/connectors/destination-qdrant/Dockerfile
  airbyte-integrations/connectors/destination-qdrant/metadata.yaml
  airbyte-integrations/connectors/destination-qdrant/setup.py
  airbyte-integrations/connectors/destination-weaviate/Dockerfile
  airbyte-integrations/connectors/destination-weaviate/destination_weaviate/indexer.py
  airbyte-integrations/connectors/destination-weaviate/metadata.yaml
  airbyte-integrations/connectors/destination-weaviate/setup.py
  docs/integrations/destinations/chroma.md
  docs/integrations/destinations/milvus.md
  docs/integrations/destinations/pinecone.md
  docs/integrations/destinations/qdrant.md
  docs/integrations/destinations/weaviate.md
Labels: area/documentation, area/connectors, connectors/destination/weaviate, connectors/destination/milvus, connectors/destination/pinecone, connectors/destination/qdrant, connectors/destination/chroma

#31134 Update slack to return empty iterable instead of a empty list
  airbyte-integrations/connectors/source-slack/Dockerfile
  airbyte-integrations/connectors/source-slack/metadata.yaml
  airbyte-integrations/connectors/source-slack/source_slack/source.py
  docs/integrations/sources/slack.md
Labels: area/documentation, area/connectors, connectors/source/slack, checklist-action-run

#31144 Remove AlloyDB phase 1: Remove from registry
  airbyte-integrations/connectors/source-alloydb-strict-encrypt/.dockerignore
  airbyte-integrations/connectors/source-alloydb-strict-encrypt/acceptance-test-config.yml
  airbyte-integrations/connectors/source-alloydb-strict-encrypt/build.gradle
  airbyte-integrations/connectors/source-alloydb-strict-encrypt/icon.svg
  airbyte-integrations/connectors/source-alloydb-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-alloydb-strict-encrypt/src/main/java/io/airbyte/integrations/source/alloydb/AlloyDbStrictEncryptSource.java
  airbyte-integrations/connectors/source-alloydb/.dockerignore
  airbyte-integrations/connectors/source-alloydb/acceptance-test-config.yml
  airbyte-integrations/connectors/source-alloydb/build.gradle
  airbyte-integrations/connectors/source-alloydb/icon.svg
  airbyte-integrations/connectors/source-alloydb/metadata.yaml
  airbyte-integrations/connectors/source-alloydb/src/main/java/io/airbyte/integrations/source/alloydb/AlloyDbSource.java
  docs/integrations/sources/alloydb.md
Labels: area/documentation, area/connectors, connectors/source/alloydb, connectors/source/alloydb-strict-encrypt

#31139 Bump CDk
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/test/java/io/airbyte/integrations/destination/bigquery/CdkImportTest.java
  airbyte-integrations/connectors/destination-redshift/build.gradle
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/bigquery, connectors/destination/snowflake, connectors/destination/redshift

#31145 Remove AlloyDB phase 2: Remove entirely
  airbyte-integrations/connectors/source-alloydb/metadata.yaml
Labels: area/connectors, connectors/source/alloydb

#30428 Source Apify Dataset: fix broken stream, manifest refactor
  airbyte-integrations/connectors/source-apify-dataset/Dockerfile
  airbyte-integrations/connectors/source-apify-dataset/README.md
  airbyte-integrations/connectors/source-apify-dataset/acceptance-test-config.yml
  airbyte-integrations/connectors/source-apify-dataset/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-apify-dataset/metadata.yaml
  airbyte-integrations/connectors/source-apify-dataset/source_apify_dataset/manifest.yaml
  airbyte-integrations/connectors/source-apify-dataset/source_apify_dataset/schemas/dataset.json
  airbyte-integrations/connectors/source-apify-dataset/source_apify_dataset/schemas/dataset_collection.json
  airbyte-integrations/connectors/source-apify-dataset/source_apify_dataset/schemas/item_collection.json
  airbyte-integrations/connectors/source-apify-dataset/source_apify_dataset/schemas/item_collection_wcc.json
  airbyte-integrations/connectors/source-apify-dataset/source_apify_dataset/source.py
  airbyte-integrations/connectors/source-apify-dataset/source_apify_dataset/spec.yaml
  docs/integrations/sources/apify-dataset-migrations.md
  docs/integrations/sources/apify-dataset.md
Labels: area/documentation, area/connectors, community, connectors/source/apify-dataset, team/tse

#31153 Add missing java options
  airbyte-integrations/connectors/destination-redshift/build.gradle
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  docs/integrations/destinations/redshift.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/snowflake, connectors/destination/redshift

#31072 Update doc to the right value
  docs/cloud/managing-airbyte-cloud/understand-airbyte-cloud-limits.md
Labels: area/documentation

#31118 Update broken github connector link in connector-development readme
  docs/connector-development/README.md
Labels: area/documentation, community

#31053 :sparkles: Source Notion: added new fields for blocks and pages streams
  airbyte-integrations/connectors/source-notion/Dockerfile
  airbyte-integrations/connectors/source-notion/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-notion/metadata.yaml
  airbyte-integrations/connectors/source-notion/source_notion/schemas/blocks.json
  airbyte-integrations/connectors/source-notion/source_notion/schemas/pages.json
  airbyte-integrations/connectors/source-notion/source_notion/schemas/shared/parent.json
  docs/integrations/sources/notion.md
Labels: area/documentation, area/connectors, connectors/source/notion, team/connectors-python

#31046 :sparkles: Source Stripe: updated: connector health: invoice_line_items stream schema, unit tests, expected records
  airbyte-integrations/connectors/source-stripe/Dockerfile
  airbyte-integrations/connectors/source-stripe/acceptance-test-config.yml
  airbyte-integrations/connectors/source-stripe/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/invoice_line_items.json
  airbyte-integrations/connectors/source-stripe/unit_tests/conftest.py
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, connectors/source/stripe, team/connectors-python

#30750 Source Notion: Add Availability Strategy
  airbyte-integrations/connectors/source-notion/Dockerfile
  airbyte-integrations/connectors/source-notion/metadata.yaml
  airbyte-integrations/connectors/source-notion/source_notion/streams.py
  airbyte-integrations/connectors/source-notion/unit_tests/test_streams.py
  docs/integrations/sources/notion.md
Labels: area/documentation, area/connectors, connectors/source/notion

#30780 Source Notion: Add suggested Streams and Optional Start Date
  airbyte-integrations/connectors/source-notion/Dockerfile
  airbyte-integrations/connectors/source-notion/metadata.yaml
  airbyte-integrations/connectors/source-notion/setup.py
  airbyte-integrations/connectors/source-notion/source_notion/source.py
  airbyte-integrations/connectors/source-notion/source_notion/spec.json
  airbyte-integrations/connectors/source-notion/source_notion/streams.py
  airbyte-integrations/connectors/source-notion/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-notion/unit_tests/test_source.py
  airbyte-integrations/connectors/source-notion/unit_tests/test_streams.py
  docs/integrations/sources/notion.md
Labels: area/documentation, area/connectors, connectors/source/notion

#30324 ✨Source Notion: add new stream `comments`
  airbyte-integrations/connectors/source-notion/Dockerfile
  airbyte-integrations/connectors/source-notion/integration_tests/catalog.json
  airbyte-integrations/connectors/source-notion/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-notion/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-notion/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-notion/metadata.yaml
  airbyte-integrations/connectors/source-notion/source_notion/schemas/blocks.json
  airbyte-integrations/connectors/source-notion/source_notion/schemas/comments.json
  airbyte-integrations/connectors/source-notion/source_notion/schemas/shared/parent.json
  airbyte-integrations/connectors/source-notion/source_notion/source.py
  airbyte-integrations/connectors/source-notion/source_notion/streams.py
  airbyte-integrations/connectors/source-notion/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-notion/unit_tests/test_source.py
  docs/integrations/sources/notion.inapp.md
  docs/integrations/sources/notion.md
Labels: area/documentation, area/connectors, connectors/source/notion, connectors/destination/pinecone

#31185 `destination-bigquery`: Increase staging file upload timeout to 5 minutes
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryGcsOperations.java
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery

#30587 🚨🚨🐛 Source Notion: JSON Schema Updates
  airbyte-integrations/connectors/source-notion/Dockerfile
  airbyte-integrations/connectors/source-notion/acceptance-test-config.yml
  airbyte-integrations/connectors/source-notion/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-notion/metadata.yaml
  airbyte-integrations/connectors/source-notion/source_notion/schemas/blocks.json
  airbyte-integrations/connectors/source-notion/source_notion/schemas/databases.json
  airbyte-integrations/connectors/source-notion/source_notion/schemas/pages.json
  airbyte-integrations/connectors/source-notion/source_notion/schemas/shared/heading.json
  airbyte-integrations/connectors/source-notion/source_notion/schemas/shared/parent.json
  airbyte-integrations/connectors/source-notion/source_notion/schemas/shared/rich_text.json
  airbyte-integrations/connectors/source-notion/source_notion/schemas/shared/text_element.json
  airbyte-integrations/connectors/source-notion/source_notion/schemas/shared/user.json
  docs/integrations/sources/notion-migrations.md
  docs/integrations/sources/notion.md
Labels: area/documentation, area/connectors, connectors/source/notion, breaking-change

#31187 Add Auto-Credits Feature
  docs/cloud/managing-airbyte-cloud/manage-credits.md
Labels: area/documentation

#31181 🚨🚨 Source AirTable: parse formula to simple data types
  airbyte-integrations/connectors/source-airtable/Dockerfile
  airbyte-integrations/connectors/source-airtable/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-airtable/metadata.yaml
  airbyte-integrations/connectors/source-airtable/source_airtable/schema_helpers.py
  airbyte-integrations/connectors/source-airtable/unit_tests/expected_schema_for_sample_table.json
  airbyte-integrations/connectors/source-airtable/unit_tests/sample_table_with_formulas.json
  airbyte-integrations/connectors/source-airtable/unit_tests/test_helpers.py
  docs/integrations/sources/airtable-migrations.md
  docs/integrations/sources/airtable.md
Labels: area/documentation, area/connectors, connectors/source/airtable

#31200 Add edit of notification email
  docs/cloud/managing-airbyte-cloud/manage-airbyte-cloud-notifications.md
Labels: area/documentation

#30487 🐛 Source Google Sheets: update range on each retry to account for batch size increase
  airbyte-integrations/connectors/source-google-sheets/Dockerfile
  airbyte-integrations/connectors/source-google-sheets/metadata.yaml
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/client.py
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/source.py
  airbyte-integrations/connectors/source-google-sheets/unit_tests/test_client.py
  docs/integrations/sources/google-sheets.md
Labels: area/documentation, area/connectors, community, gl, connectors/source/google-sheets, team/connectors-python

#31044 ✨Source Airtable: add table name to data records
  airbyte-integrations/connectors/source-airtable/Dockerfile
  airbyte-integrations/connectors/source-airtable/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-airtable/metadata.yaml
  airbyte-integrations/connectors/source-airtable/source_airtable/schema_helpers.py
  airbyte-integrations/connectors/source-airtable/source_airtable/source.py
  airbyte-integrations/connectors/source-airtable/source_airtable/streams.py
  airbyte-integrations/connectors/source-airtable/unit_tests/conftest.py
  airbyte-integrations/connectors/source-airtable/unit_tests/expected_schema_for_sample_table.json
  airbyte-integrations/connectors/source-airtable/unit_tests/test_helpers.py
  airbyte-integrations/connectors/source-airtable/unit_tests/test_streams.py
  docs/integrations/sources/airtable.md
Labels: area/documentation, area/connectors, connectors/source/airtable

#30698 CDK: create new method for parsing refresh token lifespan
  airbyte-cdk/python/airbyte_cdk/sources/declarative/auth/oauth.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/model_to_component_factory.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/requests_native_auth/abstract_oauth.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/requests_native_auth/oauth.py
  airbyte-cdk/python/unit_tests/sources/declarative/auth/test_oauth.py
  airbyte-cdk/python/unit_tests/sources/streams/http/requests_native_auth/test_requests_native_auth.py
Labels: CDK

#30029 ✨ Source MongoDB V2: Refactor common offset loading logic
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/DebeziumStateUtil.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/mongodb/MongoDbDebeziumStateUtil.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/mysql/MySqlDebeziumStateUtil.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/postgres/PostgresDebeziumStateUtil.java
Labels: CDK, connectors/destination/bigquery, connectors/source/mongodb-v2

#31119 🐛Source Airtable: wrap HTTPError 400 in AirbyteTracedException
  airbyte-integrations/connectors/source-airtable/Dockerfile
  airbyte-integrations/connectors/source-airtable/acceptance-test-config.yml
  airbyte-integrations/connectors/source-airtable/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-airtable/metadata.yaml
  airbyte-integrations/connectors/source-airtable/source_airtable/auth.py
  docs/integrations/sources/airtable.md
Labels: area/documentation, area/connectors, connectors/source/airtable

#31196 Fix typo in Java CDK
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/DebeziumEventUtils.java
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdkImportTest.java
Labels: area/connectors, CDK, connectors/source/postgres

#26203 🎉Source Amazon Ads: New Streams - DisplayCreatives
  airbyte-integrations/connectors/source-amazon-ads/Dockerfile
  airbyte-integrations/connectors/source-amazon-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amazon-ads/metadata.yaml
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/__init__.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_display.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/source.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/__init__.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/sponsored_display.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/test_source.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/test_streams.py
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, area/connectors, community, connectors/source/amazon-ads, team/tse

#31198 `destination-bigquery` - better config groups
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/resources/spec.json
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery

#31218 `destination-redshift`: Clarify configuration groups
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-redshift/src/main/resources/spec.json
  docs/integrations/destinations/redshift.md
Labels: area/documentation, area/connectors, connectors/destination/redshift

#31221 🐛 Set heartbeat timeout between messages for source linkedin ads to 24 hours
  airbyte-integrations/connectors/source-linkedin-ads/Dockerfile
  airbyte-integrations/connectors/source-linkedin-ads/metadata.yaml
  docs/integrations/sources/linkedin-ads.md
Labels: area/documentation, area/connectors, connectors/source/linkedin-ads

#31149 Remove Dv2 Null checks
  airbyte-integrations/bases/base-typing-deduping-test/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/BaseSqlGeneratorIntegrationTest.java
  airbyte-integrations/bases/base-typing-deduping-test/src/main/resources/dat/sync_null_pk.jsonl
  airbyte-integrations/bases/base-typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/BaseDestinationV1V2Migrator.java
  airbyte-integrations/bases/base-typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/DestinationV1V2Migrator.java
  airbyte-integrations/bases/base-typing-deduping/src/test/java/io/airbyte/integrations/base/destination/typing_deduping/DestinationV1V2MigratorTest.java
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGenerator.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/typing_deduping/AbstractBigQueryTypingDedupingTest.java
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeColumnDefinition.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeDestinationHandler.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGenerator.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeTableDefinition.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeV1V2Migrator.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeV2TableMigrator.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/typing_deduping/AbstractSnowflakeTypingDedupingTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGeneratorIntegrationTest.java
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, connectors/destination/snowflake

#31083 🐛 Fixing rounding of numeric values for async destinations
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/AsyncStreamConsumer.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/core/src/test/java/io/airbyte/cdk/integrations/destination_async/AsyncStreamConsumerTest.java
  airbyte-commons/src/main/java/io/airbyte/commons/json/Jsons.java
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/test/java/io/airbyte/integrations/destination/bigquery/CdkImportTest.java
  airbyte-integrations/connectors/destination-redshift/build.gradle
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/redshift.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/bigquery, connectors/destination/snowflake, connectors/destination/redshift

#30813 Update CI credentials docs to point to new GCP project
  airbyte-ci/connectors/ci_credentials/README.md
Labels: connectors/destination/s3

#31132 Source Facebook Marketing: fix permission error
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/base_insight_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_base_insight_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_errors.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing

#31270 🐛 Source Google Ads: update `expected records`
  airbyte-integrations/connectors/source-google-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-google-ads/integration_tests/expected_records_click.jsonl
Labels: area/connectors, connectors/source/google-ads, team/connectors-python, checklist-action-run

#31271 🐛 Source Zendesk Support: fix `expected records`
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/zendesk-support, team/connectors-python, checklist-action-run

#31272 🐛 Source Jira: fix `expected records`
  airbyte-integrations/connectors/source-jira/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/jira, team/connectors-python, checklist-action-run

#31273 🐛 Source Notion: fix `expected records`
  airbyte-integrations/connectors/source-notion/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/notion, team/connectors-python, checklist-action-run

#30474 [airbyte-ci] test connectors inside their built container
  airbyte-ci/connectors/connector_ops/connector_ops/utils.py
  airbyte-ci/connectors/pipelines/README.md
  airbyte-ci/connectors/pipelines/pipelines/actions/environments.py
  airbyte-ci/connectors/pipelines/pipelines/bases.py
  airbyte-ci/connectors/pipelines/pipelines/builds/python_connectors.py
  airbyte-ci/connectors/pipelines/pipelines/commands/groups/tests.py
  airbyte-ci/connectors/pipelines/pipelines/tests/common.py
  airbyte-ci/connectors/pipelines/pipelines/tests/python_connectors.py
  airbyte-ci/connectors/pipelines/pipelines/utils.py
  airbyte-ci/connectors/pipelines/poetry.lock
  airbyte-ci/connectors/pipelines/pyproject.toml
  airbyte-ci/connectors/pipelines/tests/test_tests/test_python_connectors.py
Labels: connectors/source/faker, connectors/destination/duckdb

#31269 🐛 Source Salesforce: fix `expected records`
  airbyte-integrations/connectors/source-salesforce/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/salesforce, team/connectors-python, checklist-action-run

#30526 [airbyte-ci] implement pre/post build hooks
  airbyte-ci/connectors/pipelines/README.md
  airbyte-ci/connectors/pipelines/pipelines/builds/build_customization.py
  airbyte-ci/connectors/pipelines/pipelines/builds/python_connectors.py
  airbyte-ci/connectors/pipelines/pyproject.toml
  airbyte-ci/connectors/pipelines/tests/test_builds/dummy_build_customization.py
  airbyte-ci/connectors/pipelines/tests/test_builds/test_python_connectors.py
  airbyte-integrations/connectors/source-zendesk-chat/Dockerfile
  airbyte-integrations/connectors/source-zendesk-chat/build_customization.py
  airbyte-integrations/connectors/source-zendesk-chat/metadata.yaml
  docs/integrations/sources/zendesk-chat.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-chat, connectors/source/auth0, checklist-action-run

#30969 ✨ Source PokeApi - Migrated to Low code
  airbyte-integrations/connectors/source-pokeapi/Dockerfile
  airbyte-integrations/connectors/source-pokeapi/README.md
  airbyte-integrations/connectors/source-pokeapi/__init__.py
  airbyte-integrations/connectors/source-pokeapi/acceptance-test-config.yml
  airbyte-integrations/connectors/source-pokeapi/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-pokeapi/integration_tests/__init__.py
  airbyte-integrations/connectors/source-pokeapi/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-pokeapi/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-pokeapi/integration_tests/config.json
  airbyte-integrations/connectors/source-pokeapi/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-pokeapi/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-pokeapi/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-pokeapi/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-pokeapi/main.py
  airbyte-integrations/connectors/source-pokeapi/metadata.yaml
  airbyte-integrations/connectors/source-pokeapi/requirements.txt
  airbyte-integrations/connectors/source-pokeapi/setup.py
  airbyte-integrations/connectors/source-pokeapi/source_pokeapi/__init__.py
  airbyte-integrations/connectors/source-pokeapi/source_pokeapi/manifest.yaml
  airbyte-integrations/connectors/source-pokeapi/source_pokeapi/pokemon_list.py
  airbyte-integrations/connectors/source-pokeapi/source_pokeapi/schemas/TODO.md
  airbyte-integrations/connectors/source-pokeapi/source_pokeapi/schemas/pokemon.json
  airbyte-integrations/connectors/source-pokeapi/source_pokeapi/source.py
  airbyte-integrations/connectors/source-pokeapi/source_pokeapi/spec.json
  airbyte-integrations/connectors/source-pokeapi/source_pokeapi/spec.yaml
  docs/integrations/sources/pokeapi.md
Labels: area/documentation, area/connectors, community, connectors/source/pokeapi, low-code-migration, hackathon-2023-10

#31285 Source GitHub: add unit tests
  airbyte-integrations/connectors/source-github/unit_tests/pull_request_stats_query.json
  airbyte-integrations/connectors/source-github/unit_tests/responses/contributor_activity_response.json
  airbyte-integrations/connectors/source-github/unit_tests/responses/graphql_reviews_responses.json
  airbyte-integrations/connectors/source-github/unit_tests/responses/projects_v2_response.json
  airbyte-integrations/connectors/source-github/unit_tests/responses/pull_request_comment_reactions.json
  airbyte-integrations/connectors/source-github/unit_tests/responses/pull_request_stats_response.json
  airbyte-integrations/connectors/source-github/unit_tests/test_source.py
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
Labels: area/connectors, connectors/source/github

#31279 CDK: Fix initialize of token_expiry_is_time_of_expiration field
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/model_to_component_factory.py
  airbyte-cdk/python/unit_tests/sources/declarative/parsers/test_model_to_component_factory.py
Labels: CDK

#31284 :bug: Source Facebook Marketing: do not request funding_source_details if api raises an error
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_errors.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing

#31194 Remove entry and allocated memory for empty buffers.
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/buffers/BufferDequeue.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/buffers/BufferManager.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/buffers/MemoryBoundedLinkedBlockingQueue.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/buffers/StreamAwareQueue.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/core/src/test/java/io/airbyte/cdk/integrations/destination_async/buffers/BufferDequeueTest.java
  airbyte-cdk/java/airbyte-cdk/core/src/test/java/io/airbyte/cdk/integrations/destination_async/buffers/MemoryBoundedLinkedBlockingQueueTest.java
  airbyte-cdk/java/airbyte-cdk/core/src/test/java/io/airbyte/cdk/integrations/destination_async/buffers/StreamAwareQueueTest.java
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/test/java/io/airbyte/integrations/destination/bigquery/CdkImportTest.java
  airbyte-integrations/connectors/destination-redshift/build.gradle
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/bigquery, connectors/destination/snowflake, connectors/destination/redshift

#31300 Source GitHub: add date-time format to fields
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/source_github/schemas/contributor_activity.json
  airbyte-integrations/connectors/source-github/source_github/schemas/issue_timeline_events.json
  airbyte-integrations/connectors/source-github/source_github/schemas/shared/events/comment.json
  airbyte-integrations/connectors/source-github/source_github/schemas/shared/events/commented.json
  airbyte-integrations/connectors/source-github/source_github/schemas/shared/events/cross_referenced.json
  airbyte-integrations/connectors/source-github/source_github/schemas/shared/events/reviewed.json
  airbyte-integrations/connectors/source-pokeapi/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-pokeapi/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-pokeapi/metadata.yaml
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors, connectors/source/github, connectors/source/pokeapi

#31288 airbyte enterprise copy tweaks
  docs/airbyte-enterprise.md
  docs/deploying-airbyte/on-kubernetes-via-helm.md
Labels: area/documentation

#30806 Cap each log field (message, stacktrace) to max 32K characters
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/log4j2.xml
  airbyte-cdk/java/airbyte-cdk/core/src/test/java/io/airbyte/cdk/integrations/base/AirbyteLogMessageTemplateTest.java
  airbyte-integrations/bases/base-java/javabase.sh
  airbyte-integrations/connectors/source-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-postgres-strict-encrypt/build.gradle
  airbyte-integrations/connectors/source-postgres-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  docs/integrations/sources/mysql.md
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, CDK, connectors/source/mysql, connectors/source/pokeapi, connectors/source/postgres, connectors/source/mysql-strict-encrypt, connectors/source/postgres-strict-encrypt, connectors/source/alloydb, connectors/source/alloydb-strict-encrypt

#31252 ✨Source Snowflake: Upgrade snowflake JDBC version to 3.14.1
  airbyte-integrations/connectors/source-snowflake/build.gradle
  airbyte-integrations/connectors/source-snowflake/metadata.yaml
  docs/integrations/sources/snowflake.md
Labels: area/documentation, area/connectors, connectors/source/snowflake

#31323 Revert "Connector Ops: Fix third party support in get_all_connectors_…
  airbyte-ci/connectors/connector_ops/connector_ops/utils.py
  airbyte-ci/connectors/connector_ops/tests/test_utils.py
  docs/integrations/sources/appstore-singer.md
  docusaurus/redirects.yml
Labels: area/documentation

#31320 Rename integrations getting started page to google ads
  docs/integrations/getting-started/source-google-ads.md
Labels: area/documentation

#31325 🐛 source-pokeapi: Downgrade pokeapi
  airbyte-integrations/connectors/source-pokeapi/metadata.yaml
Labels: area/connectors, connectors/source/pokeapi

#30113 CDK: Implement ThreadBasedConcurrentStream
  airbyte-cdk/python/airbyte_cdk/sources/streams/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/adapters.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/exceptions.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/partition_enqueuer.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/partition_reader.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/partitions/partition.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/partitions/types.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/thread_based_concurrent_stream.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/__init__.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_adapters.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_concurrent_partition_generator.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_partition_reader.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_thread_based_concurrent_stream.py
  airbyte-cdk/python/unit_tests/sources/streams/test_stream_read.py
Labels: CDK

#30111 CDK: ThreadBasedConcurrentStream skeleton and top-level AbstractStream
  airbyte-cdk/python/airbyte_cdk/sources/abstract_source.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/abstract_stream.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/adapters.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/availability_strategy.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/exceptions.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/partition_enqueuer.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/partition_reader.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/partitions/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/partitions/partition.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/partitions/partition_generator.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/partitions/record.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/partitions/types.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/thread_based_concurrent_stream.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/core.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/__init__.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_adapters.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_concurrent_partition_generator.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_partition_reader.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_thread_based_concurrent_stream.py
  airbyte-cdk/python/unit_tests/sources/streams/test_stream_read.py
Labels: CDK

#31282 [airbyte-ci] Implement pre/post build hooks
  airbyte-ci/connectors/pipelines/README.md
  airbyte-ci/connectors/pipelines/pipelines/builds/build_customization.py
  airbyte-ci/connectors/pipelines/pipelines/builds/python_connectors.py
  airbyte-ci/connectors/pipelines/pyproject.toml
  airbyte-ci/connectors/pipelines/tests/test_builds/dummy_build_customization.py
  airbyte-ci/connectors/pipelines/tests/test_builds/test_python_connectors.py
  airbyte-integrations/connectors/source-zendesk-chat/Dockerfile
  airbyte-integrations/connectors/source-zendesk-chat/build_customization.py
  airbyte-integrations/connectors/source-zendesk-chat/metadata.yaml
  docs/integrations/sources/zendesk-chat.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-chat

#31183 :sparkles: Source Gilab: Deployments Streams
  airbyte-integrations/connectors/source-gitlab/Dockerfile
  airbyte-integrations/connectors/source-gitlab/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-gitlab/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-gitlab/integration_tests/expected_records_with_ids.jsonl
  airbyte-integrations/connectors/source-gitlab/metadata.yaml
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/deployments.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/source.py
  airbyte-integrations/connectors/source-gitlab/source_gitlab/streams.py
  airbyte-integrations/connectors/source-gitlab/unit_tests/test_source.py
  airbyte-integrations/connectors/source-gitlab/unit_tests/test_streams.py
  docs/integrations/sources/gitlab.md
Labels: area/documentation, area/connectors, connectors/source/gitlab

#31277 :rotating_light: :rotating_light: Source Bing Ads: remove PKs from geographic performance reports
  airbyte-integrations/connectors/source-bing-ads/Dockerfile
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/source.py
  docs/integrations/sources/bing-ads-migrations.md
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors, connectors/source/bing-ads, breaking-change

#31158 Vector DB CDK: Batch by documents separately for each stream and namespace
  airbyte-cdk/python/airbyte_cdk/destinations/vector_db_based/README.md
  airbyte-cdk/python/airbyte_cdk/destinations/vector_db_based/__init__.py
  airbyte-cdk/python/airbyte_cdk/destinations/vector_db_based/batcher.py
  airbyte-cdk/python/airbyte_cdk/destinations/vector_db_based/indexer.py
  airbyte-cdk/python/airbyte_cdk/destinations/vector_db_based/writer.py
  airbyte-cdk/python/unit_tests/destinations/vector_db_based/batcher_test.py
  airbyte-cdk/python/unit_tests/destinations/vector_db_based/writer_test.py
Labels: CDK

#30407 CDK: URL-encode query parameters and request body, and reformat list and dict headers
  airbyte-cdk/python/airbyte_cdk/sources/declarative/interpolation/interpolated_mapping.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/interpolation/jinja.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/request_options/interpolated_request_input_provider.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/request_options/interpolated_request_options_provider.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/request_options/test_interpolated_request_options_provider.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/test_http_requester.py
Labels: CDK

#31342 Rename Pokeapi back to PokeAPI
  airbyte-integrations/connectors/source-pokeapi/metadata.yaml
Labels: area/connectors, connectors/source/pokeapi

#30996 Snowflake Native Apps: update Linkedin Ads instructions; add permissions needed for running the app with tasks
  docs/snowflake-native-apps/linkedin-ads.md
Labels: area/documentation

#31332 airbyte-ci: disable gradle step caching on source-postgres
  airbyte-ci/connectors/pipelines/README.md
  airbyte-ci/connectors/pipelines/pipelines/gradle.py
  airbyte-ci/connectors/pipelines/pipelines/hacks.py
  airbyte-ci/connectors/pipelines/pyproject.toml
Labels: connectors/source/postgres

#31307 Source GitHub: update links to docs
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/source_github/streams.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors, connectors/source/github

#31215 Source AirTable: Exclude bases without permission
  airbyte-integrations/connectors/source-airtable/Dockerfile
  airbyte-integrations/connectors/source-airtable/metadata.yaml
  airbyte-integrations/connectors/source-airtable/source_airtable/source.py
  airbyte-integrations/connectors/source-airtable/source_airtable/streams.py
  docs/.gitbook/assets/source/airtable/add_scopes.png
  docs/.gitbook/assets/source/airtable/generate_new_token.png
  docs/integrations/sources/airtable.md
Labels: area/documentation, area/connectors, connectors/source/airtable

#31065 ✨Source Square: Add new stream Cash Drawers
  airbyte-integrations/connectors/source-square/Dockerfile
  airbyte-integrations/connectors/source-square/acceptance-test-config.yml
  airbyte-integrations/connectors/source-square/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-square/metadata.yaml
  airbyte-integrations/connectors/source-square/source_square/manifest.yaml
  airbyte-integrations/connectors/source-square/source_square/schemas/cash_drawers.json
  docs/integrations/sources/square.md
Labels: area/documentation, area/connectors, community, connectors/source/square, topic/new-stream, hackathon-2023-10

#31328 🐛 Update initial load query for old postgres to return a defined order …
  airbyte-integrations/connectors/source-postgres-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/InitialSyncCtidIterator.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresSourceTest.java
  docs/integrations/sources/postgres.md
Labels: area/connectors, connectors/source/postgres, connectors/source/postgres-strict-encrypt

#31358 Destinations snowflake+bigquery: Fix string-json auto conversion for BigQuery
  airbyte-integrations/bases/base-typing-deduping-test/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/BaseSqlGeneratorIntegrationTest.java
  airbyte-integrations/bases/base-typing-deduping-test/src/main/resources/sqlgenerator/alltypes_inputrecords.jsonl
  airbyte-integrations/bases/base-typing-deduping-test/src/main/resources/sqlgenerator/json_types_in_string_inputrecords.jsonl
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGenerator.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGeneratorIntegrationTest.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/sqlgenerator/alltypes_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/sqlgenerator/json_types_in_string_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/sqlgenerator/json_types_in_string_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/sqlgenerator/json_types_in_string_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/sqlgenerator/json_types_in_string_expectedrecords_raw.jsonl
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, connectors/destination/snowflake

#31330 Vector DB CDK: Fix openai compatible embedder
  airbyte-cdk/python/airbyte_cdk/destinations/vector_db_based/embedder.py
Labels: CDK

#31281 File CDK: Allow configuration of parsed records during check and discover from parser
  airbyte-cdk/python/airbyte_cdk/sources/file_based/availability_strategy/default_file_based_availability_strategy.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/discovery_policy/abstract_discovery_policy.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/discovery_policy/default_discovery_policy.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/file_type_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/abstract_file_based_stream.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/default_file_based_stream.py
  airbyte-cdk/python/unit_tests/sources/file_based/availability_strategy/test_default_file_based_availability_strategy.py
  airbyte-cdk/python/unit_tests/sources/file_based/discovery_policy/__init__.py
  airbyte-cdk/python/unit_tests/sources/file_based/discovery_policy/test_default_discovery_policy.py
  airbyte-cdk/python/unit_tests/sources/file_based/helpers.py
  airbyte-cdk/python/unit_tests/sources/file_based/stream/test_default_file_based_stream.py
Labels: CDK

#31341 ✨ source-file: 🪓 dockerfile and fix integration tests
  airbyte-integrations/connectors/source-file-secure/metadata.yaml
  airbyte-integrations/connectors/source-file-secure/setup.py
  airbyte-integrations/connectors/source-file/Dockerfile
  airbyte-integrations/connectors/source-file/build_customization.py
  airbyte-integrations/connectors/source-file/metadata.yaml
  airbyte-integrations/connectors/source-file/setup.py
  docs/integrations/sources/file.md
Labels: area/documentation, area/connectors, connectors/source/file, connectors/source/file-secure, checklist-action-run

#31368 CDK: Enable debug logging when running availability check
  airbyte-cdk/python/airbyte_cdk/connector_builder/main.py
  airbyte-cdk/python/airbyte_cdk/sources/abstract_source.py
Labels: CDK

#31336 :sparkles: Source Azure Blob Storage: migrate to File-based CDK
  airbyte-integrations/connectors/source-azure-blob-storage/.dockerignore
  airbyte-integrations/connectors/source-azure-blob-storage/Dockerfile
  airbyte-integrations/connectors/source-azure-blob-storage/README.md
  airbyte-integrations/connectors/source-azure-blob-storage/acceptance-test-config.yml
  airbyte-integrations/connectors/source-azure-blob-storage/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-azure-blob-storage/build.gradle
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/__init__.py
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/abnormal_states/avro.json
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/abnormal_states/csv.json
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/abnormal_states/jsonl.json
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/abnormal_states/jsonl_newlines.json
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/abnormal_states/parquet.json
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/configured_catalogs/avro.json
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/configured_catalogs/csv.json
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/configured_catalogs/jsonl.json
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/configured_catalogs/parquet.json
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/expected_records/avro.jsonl
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/expected_records/csv.jsonl
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/expected_records/csv_custom_encoding.jsonl
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/expected_records/csv_custom_format.jsonl
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/expected_records/csv_no_header.jsonl
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/expected_records/csv_skip_rows.jsonl
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/expected_records/csv_skip_rows_no_header.jsonl
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/expected_records/csv_user_schema.jsonl
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/expected_records/csv_with_null_bools.jsonl
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/expected_records/csv_with_nulls.jsonl
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/expected_records/jsonl.jsonl
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/expected_records/jsonl_newlines.jsonl
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/expected_records/parquet.jsonl
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/spec.json
  airbyte-integrations/connectors/source-azure-blob-storage/main.py
  airbyte-integrations/connectors/source-azure-blob-storage/metadata.yaml
  airbyte-integrations/connectors/source-azure-blob-storage/requirements.txt
  airbyte-integrations/connectors/source-azure-blob-storage/setup.py
  airbyte-integrations/connectors/source-azure-blob-storage/source_azure_blob_storage/__init__.py
  airbyte-integrations/connectors/source-azure-blob-storage/source_azure_blob_storage/config.py
  airbyte-integrations/connectors/source-azure-blob-storage/source_azure_blob_storage/legacy_config_transformer.py
  airbyte-integrations/connectors/source-azure-blob-storage/source_azure_blob_storage/source.py
  airbyte-integrations/connectors/source-azure-blob-storage/source_azure_blob_storage/stream_reader.py
  airbyte-integrations/connectors/source-azure-blob-storage/src/main/java/io/airbyte/integrations/source/azureblobstorage/AzureBlob.java
  airbyte-integrations/connectors/source-azure-blob-storage/src/main/java/io/airbyte/integrations/source/azureblobstorage/AzureBlobAdditionalProperties.java
  airbyte-integrations/connectors/source-azure-blob-storage/src/main/java/io/airbyte/integrations/source/azureblobstorage/AzureBlobStorageConfig.java
  airbyte-integrations/connectors/source-azure-blob-storage/src/main/java/io/airbyte/integrations/source/azureblobstorage/AzureBlobStorageOperations.java
  airbyte-integrations/connectors/source-azure-blob-storage/src/main/java/io/airbyte/integrations/source/azureblobstorage/AzureBlobStorageSource.java
  airbyte-integrations/connectors/source-azure-blob-storage/src/main/java/io/airbyte/integrations/source/azureblobstorage/AzureBlobStorageStateManager.java
  airbyte-integrations/connectors/source-azure-blob-storage/src/main/java/io/airbyte/integrations/source/azureblobstorage/format/JsonlAzureBlobStorageOperations.java
  airbyte-integrations/connectors/source-azure-blob-storage/src/main/resources/spec.json
  airbyte-integrations/connectors/source-azure-blob-storage/src/test-integration/java/io/airbyte/integrations/source/azureblobstorage/AzureBlobStorageContainer.java
  airbyte-integrations/connectors/source-azure-blob-storage/src/test-integration/java/io/airbyte/integrations/source/azureblobstorage/AzureBlobStorageDataFactory.java
  airbyte-integrations/connectors/source-azure-blob-storage/src/test-integration/java/io/airbyte/integrations/source/azureblobstorage/AzureBlobStorageSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-azure-blob-storage/src/test-integration/java/io/airbyte/integrations/source/azureblobstorage/AzureBlobStorageSourceTest.java
  airbyte-integrations/connectors/source-azure-blob-storage/src/test-integration/java/io/airbyte/integrations/source/azureblobstorage/JsonlAzureBlobStorageOperationsTest.java
  airbyte-integrations/connectors/source-azure-blob-storage/src/test/java/io/airbyte/integrations/source/azureblobstorage/AzureBlobStorageConfigTest.java
  airbyte-integrations/connectors/source-azure-blob-storage/unit_tests/unit_tests.py
  docs/integrations/sources/azure-blob-storage.md
Labels: area/documentation, area/connectors, connectors/source/azure-blob-storage, checklist-action-run

#31381 🐛 Source Shopify: Fix feching `Deleted Events` with `STATE` presence
  airbyte-integrations/connectors/source-shopify/Dockerfile
  airbyte-integrations/connectors/source-shopify/acceptance-test-config.yml
  airbyte-integrations/connectors/source-shopify/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-shopify/metadata.yaml
  airbyte-integrations/connectors/source-shopify/source_shopify/source.py
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors, connectors/source/shopify

#31385 🐛 Source Jira: Fixed `aggregatetimeoriginalestimate, timeoriginalestimate` field types for the `Issues` stream schema
  airbyte-integrations/connectors/source-jira/Dockerfile
  airbyte-integrations/connectors/source-jira/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-jira/metadata.yaml
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issues.json
  docs/integrations/sources/jira.md
Labels: area/documentation, area/connectors, connectors/source/jira, team/connectors-python

#31382 🐛 Source LinkedIn Ads: Fix `expected records`
  airbyte-integrations/connectors/source-linkedin-ads/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/linkedin-ads, team/connectors-python

#31333 Source Apify Dataset: add item_collection stream with dynamic schema
  airbyte-integrations/connectors/source-apify-dataset/Dockerfile
  airbyte-integrations/connectors/source-apify-dataset/metadata.yaml
  airbyte-integrations/connectors/source-apify-dataset/source_apify_dataset/manifest.yaml
  airbyte-integrations/connectors/source-apify-dataset/source_apify_dataset/schemas/item_collection.json
  airbyte-integrations/connectors/source-apify-dataset/source_apify_dataset/wrapping_dpath_extractor.py
  docs/integrations/sources/apify-dataset-migrations.md
  docs/integrations/sources/apify-dataset.md
Labels: area/documentation, area/connectors, community, connectors/source/apify-dataset

#31210 🐛 Source Gitlab: handle expired `access_token` while checking the connection
  airbyte-integrations/connectors/source-gitlab/Dockerfile
  airbyte-integrations/connectors/source-gitlab/metadata.yaml
  airbyte-integrations/connectors/source-gitlab/source_gitlab/source.py
  airbyte-integrations/connectors/source-gitlab/unit_tests/conftest.py
  airbyte-integrations/connectors/source-gitlab/unit_tests/test_source.py
  docs/integrations/sources/gitlab.md
Labels: area/documentation, area/connectors, connectors/source/gitlab, team/connectors-python

#31151 Source Pipedrive: Fix Custom Fields not Syncing
  airbyte-integrations/connectors/source-pipedrive/Dockerfile
  airbyte-integrations/connectors/source-pipedrive/metadata.yaml
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/schemas/deals.json
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/schemas/leads.json
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/schemas/organization_fields.json
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/schemas/organizations.json
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/schemas/persons.json
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/schemas/product_fields.json
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/schemas/products.json
  docs/integrations/sources/pipedrive.md
Labels: type/bug, area/connectors, community, connectors/source/pipedrive, hackathon-2023-10

#31339 :bug: Source Gitlab: fix undeclared fields and validation errors
  airbyte-integrations/connectors/source-gitlab/Dockerfile
  airbyte-integrations/connectors/source-gitlab/acceptance-test-config.yml
  airbyte-integrations/connectors/source-gitlab/metadata.yaml
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/deployments.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/epic_issues.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/epics.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/group_members.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/groups.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/issues.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/project_members.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/projects.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/users.json
  docs/integrations/sources/gitlab.md
Labels: area/documentation, area/connectors, connectors/source/gitlab, team/connectors-python

#31375 :sparkles: Source Gitlab: spec: start date is optional, groups and projects to array
  airbyte-integrations/connectors/source-gitlab/Dockerfile
  airbyte-integrations/connectors/source-gitlab/acceptance-test-config.yml
  airbyte-integrations/connectors/source-gitlab/main.py
  airbyte-integrations/connectors/source-gitlab/metadata.yaml
  airbyte-integrations/connectors/source-gitlab/source_gitlab/config_migrations.py
  airbyte-integrations/connectors/source-gitlab/source_gitlab/source.py
  airbyte-integrations/connectors/source-gitlab/source_gitlab/spec.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/streams.py
  docs/integrations/sources/gitlab.md
Labels: area/documentation, area/connectors, connectors/source/gitlab, team/connectors-python

#31394 Docs: remove 'build a python destination'
  airbyte-integrations/connectors/destination-timeplus/README.md
  docs/connector-development/README.md
  docs/connector-development/tutorials/build-a-connector-the-hard-way.md
  docs/connector-development/tutorials/building-a-python-destination.md
  docusaurus/sidebars.js
Labels: area/documentation, area/connectors, connectors/destination/timeplus

#31386 Source GitHub: handle `ContributorActivity` continuous `ACCEPTED` response
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
  docs/integrations/sources/github.inapp.md
  docs/integrations/sources/github.md
Labels: connectors/source/github

#31168 Source Trello: Fix Failed Sync if Card with Cover Image Present
  airbyte-integrations/connectors/source-trello/Dockerfile
  airbyte-integrations/connectors/source-trello/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-trello/metadata.yaml
  airbyte-integrations/connectors/source-trello/source_trello/schemas/cards.json
  docs/integrations/sources/trello.md
Labels: type/bug, area/documentation, area/connectors, community, connectors/source/trello, hackathon-2023-10

#31309 [Source-Postgres] Update PostgresConverter to correctly stringify BigDecimals without scientific notation
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/postgres/PostgresConverter.java
  airbyte-integrations/connectors/source-postgres-strict-encrypt/build.gradle
  airbyte-integrations/connectors/source-postgres-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractPostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdkImportTest.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, CDK, connectors/source/postgres, connectors/source/postgres-strict-encrypt

#31205 Source Trello: Improve board_ids Description in Config
  airbyte-integrations/connectors/source-trello/Dockerfile
  airbyte-integrations/connectors/source-trello/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-trello/metadata.yaml
  airbyte-integrations/connectors/source-trello/source_trello/manifest.yaml
  docs/integrations/sources/trello.md
Labels: type/bug, area/documentation, area/connectors, community, connectors/source/trello, hackathon-2023-10

#31396 Source LinkedIn Ads: fix pagination for reporting
  airbyte-integrations/connectors/source-linkedin-ads/Dockerfile
  airbyte-integrations/connectors/source-linkedin-ads/metadata.yaml
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/streams.py
  docs/integrations/sources/linkedin-ads.md
Labels: area/documentation, area/connectors, connectors/source/linkedin-ads

#31403 fix typo
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
Labels: area/connectors, connectors/source/bing-ads, checklist-action-run

#31107 ✨Source Square: Add new stream Inventory
  airbyte-integrations/connectors/source-square/Dockerfile
  airbyte-integrations/connectors/source-square/acceptance-test-config.yml
  airbyte-integrations/connectors/source-square/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-square/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-square/metadata.yaml
  airbyte-integrations/connectors/source-square/source_square/manifest.yaml
  airbyte-integrations/connectors/source-square/source_square/schemas/inventory.json
  docs/integrations/sources/square.md
Labels: area/documentation, area/connectors, community, connectors/source/square, topic/new-stream, hackathon-2023-10

#31304 Fix connector harness performance ci run
  .github/workflows/connector-performance-command.yml
  airbyte-integrations/connectors-performance/source-harness/src/main/resources/catalogs/source-postgres/10m_catalog.json
  airbyte-integrations/connectors-performance/source-harness/src/main/resources/catalogs/source-postgres/1m_catalog.json
  airbyte-integrations/connectors-performance/source-harness/src/main/resources/catalogs/source-postgres/20m_catalog.json
Labels: connectors/source/pokeapi

#31324 Connector Ops: Fix third party support in get_all_connectors_in_repo
  airbyte-ci/connectors/connector_ops/connector_ops/utils.py
  airbyte-ci/connectors/connector_ops/tests/test_utils.py
  airbyte-ci/connectors/pipelines/pipelines/commands/groups/connectors.py
  docs/integrations/sources/appstore.md
  docusaurus/redirects.yml
Labels: area/documentation

#31406 bing-ads: fix breaking change message typo
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
Labels: area/connectors, connectors/source/bing-ads

#31397 Source Apify Dataset: improve connector documentation
  docs/integrations/sources/apify-dataset.md
Labels: area/documentation, community

#31048 :rotating_light: :rotating_light: Source Google Ads: update schemas and names of default streams
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-ads/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-google-ads/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-google-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-google-ads/integration_tests/expected_records_click.jsonl
  airbyte-integrations/connectors/source-google-ads/integration_tests/incremental_catalog.json
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/models.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/ad_group.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/ad_group_ad.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/ad_group_ad_label.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/ad_group_ad_legacy.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/ad_group_bidding_strategy.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/ad_group_criterion.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/ad_group_criterion_label.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/ad_group_label.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/ad_listing_group_criterion.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/campaign.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/campaign_bidding_strategy.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/campaign_budget.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/campaign_label.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/change_status.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/click_view.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/customer.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/customer_label.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/display_keyword_view.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/geographic_view.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/keyword_view.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/label.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/shopping_performance_view.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/topic_view.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/user_location_view.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/utils.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_errors.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_models.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_source.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_streams.py
  docs/integrations/sources/google-ads-migrations.md
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, connectors/source/google-ads, team/connectors-python, breaking-change

#31379 🐛Source Klaviyo: add availability strategy
  airbyte-integrations/connectors/source-klaviyo/Dockerfile
  airbyte-integrations/connectors/source-klaviyo/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-klaviyo/metadata.yaml
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/availability_strategy.py
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/streams.py
  airbyte-integrations/connectors/source-klaviyo/unit_tests/test_latest_streams.py
  airbyte-integrations/connectors/source-klaviyo/unit_tests/test_streams.py
  docs/integrations/sources/klaviyo.md
Labels: area/documentation, area/connectors, connectors/source/klaviyo

#31378 PokeAPI: Unpin connector
  airbyte-integrations/connectors/source-pokeapi/metadata.yaml
Labels: area/connectors, connectors/source/pokeapi

#31446 🐛 Source [Salesforce, Jira, Hubspot]: update `expected records`
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-jira/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-salesforce/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/hubspot, connectors/source/jira, connectors/source/salesforce

#31356 Enable mypy type checks for the Python CDK
  .github/workflows/run-mypy-on-modified-cdk-files.yml
Labels: connectors/source/python-http-tutorial

#31116 Source Chargify: Add Coupons, Transactions, Invoices Streams
  airbyte-integrations/connectors/source-chargify/Dockerfile
  airbyte-integrations/connectors/source-chargify/acceptance-test-config.yml
  airbyte-integrations/connectors/source-chargify/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-chargify/metadata.yaml
  airbyte-integrations/connectors/source-chargify/source_chargify/manifest.yaml
  airbyte-integrations/connectors/source-chargify/source_chargify/schemas/coupons.json
  airbyte-integrations/connectors/source-chargify/source_chargify/schemas/invoices.json
  airbyte-integrations/connectors/source-chargify/source_chargify/schemas/subscriptions.json
  airbyte-integrations/connectors/source-chargify/source_chargify/schemas/transactions.json
  docs/integrations/sources/chargify.md
Labels: area/documentation, area/connectors, community, connectors/source/chargify, topic/new-stream, hackathon-2023-10

#31468 gradle: remove broken mypy task
  airbyte-integrations/bases/base-normalization/build.gradle
  buildSrc/src/main/groovy/airbyte-python.gradle
  octavia-cli/build.gradle
Labels: normalization, area/octavia-cli

#31402 🐛 Concurrent CDK bug fixes
  airbyte-cdk/python/airbyte_cdk/entrypoint.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/adapters.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/partitions/record.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/thread_based_concurrent_stream.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_adapters.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_thread_based_concurrent_stream.py
Labels: CDK

#30984 ✨ source-file: prevent local file usage on cloud deployment mode
  airbyte-integrations/connectors/source-file/acceptance-test-config.yml
  airbyte-integrations/connectors/source-file/integration_tests/cloud_spec.json
  airbyte-integrations/connectors/source-file/integration_tests/local_config.json
  airbyte-integrations/connectors/source-file/metadata.yaml
  airbyte-integrations/connectors/source-file/setup.py
  airbyte-integrations/connectors/source-file/source_file/client.py
  airbyte-integrations/connectors/source-file/source_file/source.py
  airbyte-integrations/connectors/source-file/source_file/utils.py
  docs/integrations/sources/file.md
Labels: area/documentation, area/connectors, connectors/source/file

#31470 Cron action for connector harness
  .github/workflows/connector-performance-command.yml
  .github/workflows/connector-performance-cron.yml
Labels: connectors/source/bing-ads

#31009 ✨ Source Asana: Add SectionsCompact stream
  airbyte-integrations/connectors/source-asana/BOOTSTRAP.md
  airbyte-integrations/connectors/source-asana/Dockerfile
  airbyte-integrations/connectors/source-asana/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-asana/metadata.yaml
  airbyte-integrations/connectors/source-asana/source_asana/schemas/sections_compact.json
  airbyte-integrations/connectors/source-asana/source_asana/source.py
  airbyte-integrations/connectors/source-asana/source_asana/streams.py
  airbyte-integrations/connectors/source-asana/unit_tests/test_source.py
  airbyte-integrations/connectors/source-asana/unit_tests/test_streams.py
  docs/integrations/sources/asana.md
Labels: area/documentation, area/connectors, community, connectors/source/asana, topic/new-stream, hackathon-2023-10

#31477 🧹 remove source-file-secure
  airbyte-integrations/connectors/source-file-secure/.dockerignore
  airbyte-integrations/connectors/source-file-secure/README.md
  airbyte-integrations/connectors/source-file-secure/acceptance-test-config.yml
  airbyte-integrations/connectors/source-file-secure/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-file-secure/icon.svg
  airbyte-integrations/connectors/source-file-secure/integration_tests/__init__.py
  airbyte-integrations/connectors/source-file-secure/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-file-secure/integration_tests/config.json
  airbyte-integrations/connectors/source-file-secure/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-file-secure/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-file-secure/integration_tests/local_config.json
  airbyte-integrations/connectors/source-file-secure/integration_tests/spec.json
  airbyte-integrations/connectors/source-file-secure/main.py
  airbyte-integrations/connectors/source-file-secure/metadata.yaml
  airbyte-integrations/connectors/source-file-secure/requirements.txt
  airbyte-integrations/connectors/source-file-secure/setup.cfg
  airbyte-integrations/connectors/source-file-secure/setup.py
  airbyte-integrations/connectors/source-file-secure/source_file_secure/__init__.py
  airbyte-integrations/connectors/source-file-secure/source_file_secure/source.py
  airbyte-integrations/connectors/source-file-secure/unit_tests/unit_test.py
  airbyte-integrations/connectors/source-file/README.md
Labels: area/connectors, connectors/source/file, connectors/source/file-secure

#31106 ✨Source Square: Add new stream Loyalty
  airbyte-integrations/connectors/source-square/Dockerfile
  airbyte-integrations/connectors/source-square/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-square/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-square/metadata.yaml
  airbyte-integrations/connectors/source-square/source_square/manifest.yaml
  airbyte-integrations/connectors/source-square/source_square/schemas/loyalty.json
  docs/integrations/sources/square.md
Labels: area/documentation, area/connectors, community, connectors/source/square, topic/new-stream, hackathon-2023-10

#31089 ✨ Source Asana: Add Events stream
  airbyte-integrations/connectors/source-asana/BOOTSTRAP.md
  airbyte-integrations/connectors/source-asana/Dockerfile
  airbyte-integrations/connectors/source-asana/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-asana/metadata.yaml
  airbyte-integrations/connectors/source-asana/source_asana/schemas/events.json
  airbyte-integrations/connectors/source-asana/source_asana/streams.py
  docs/integrations/sources/asana.md
Labels: area/documentation, area/connectors, community, connectors/source/asana, topic/new-stream, hackathon-2023-10

#31244 Parameterize ScenarioBuilder on Source type
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/avro_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/check_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/csv_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/file_based_source_builder.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/incremental_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/jsonl_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/parquet_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/scenario_builder.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/user_input_schema_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/validation_policy_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/test_file_based_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/test_scenarios.py
Labels: CDK
