Repository airbytehq/airbyte, pull requests merged in 2023-12, with the labels that each got.

#32972 Remove approve-and-merge
  .github/workflows/airbyte-ci-tests.yml
  .github/workflows/approve-and-merge-demo-dispatch.yml
  .github/workflows/approve-and-merge-dispatch.yml
  .github/workflows/format_fix.yml
  .github/workflows/gradle.yml
  .github/workflows/slash-commands.yml
Labels: connectors/source/google-search-console

#33010 Update Docs for schema propagation
  docs/cloud/managing-airbyte-cloud/manage-schema-changes.md
  docs/cloud/managing-airbyte-cloud/review-sync-history.md
  docs/using-airbyte/core-concepts/readme.md
Labels: area/documentation

#33013 enable groovy formatting in airbyte-ci format config, remove spotless from gradle build
  airbyte-cdk/java/airbyte-cdk/build.gradle
  airbyte-cdk/java/airbyte-cdk/core/build.gradle
  airbyte-cdk/java/airbyte-cdk/db-destinations/build.gradle
  airbyte-cdk/java/airbyte-cdk/db-sources/build.gradle
  airbyte-cdk/java/airbyte-cdk/s3-destinations/build.gradle
  airbyte-cdk/java/airbyte-cdk/typing-deduping/build.gradle
  airbyte-integrations/connectors/destination-databricks/build.gradle
  airbyte-integrations/connectors/destination-gcs/build.gradle
  airbyte-integrations/connectors/source-bigquery/build.gradle
  airbyte-integrations/connectors/source-db2/build.gradle
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-redshift/build.gradle
  airbyte-integrations/connectors/source-snowflake/build.gradle
  build.gradle
  buildSrc/build.gradle
  buildSrc/src/main/groovy/airbyte-docker-legacy.gradle
  buildSrc/src/main/groovy/airbyte-java-cdk.gradle
  buildSrc/src/main/groovy/airbyte-python.gradle
  spotless-maven-pom.xml
Labels: area/connectors, CDK, connectors/source/db2, connectors/source/bigquery, connectors/source/mysql, connectors/source/redshift, connectors/source/snowflake, connectors/destination/databricks, connectors/destination/gcs

#32882 source-mssql: enforce SSL on Airbyte Cloud
  airbyte-integrations/connectors/source-mssql-strict-encrypt/acceptance-test-config.yml
  airbyte-integrations/connectors/source-mssql-strict-encrypt/build.gradle
  airbyte-integrations/connectors/source-mssql-strict-encrypt/gradle.properties
  airbyte-integrations/connectors/source-mssql-strict-encrypt/icon.svg
  airbyte-integrations/connectors/source-mssql-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-mssql-strict-encrypt/src/main/java/io/airbyte/integrations/source/mssql_strict_encrypt/MssqlSourceStrictEncrypt.java
  airbyte-integrations/connectors/source-mssql-strict-encrypt/src/test-integration/java/io/airbyte/integrations/source/mssql_strict_encrypt/MssqlStrictEncryptSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql-strict-encrypt/src/test/java/io/airbyte/integrations/source/mssql_strict_encrypt/MssqlStrictEncryptJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql-strict-encrypt/src/test/resources/config.json
  airbyte-integrations/connectors/source-mssql-strict-encrypt/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/CloudDeploymentSslEnabledMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/resources/expected_spec.json
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/CloudDeploymentMssqlTest.java
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, connectors/source/mssql, connectors/source/mssql-strict-encrypt

#32990 Source SurveyMonkey: Increase Test Coverage, Update QL
  airbyte-integrations/connectors/source-surveymonkey/metadata.yaml
  airbyte-integrations/connectors/source-surveymonkey/unit_tests/test_source.py
Labels: area/connectors, connectors/source/surveymonkey

#33003 Soure Harvest: update expected records
  airbyte-integrations/connectors/source-harvest/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-harvest/metadata.yaml
  docs/integrations/sources/harvest.md
Labels: area/documentation, area/connectors, connectors/source/harvest

#32396 Harvest Source: Update QL to 200
  airbyte-integrations/connectors/source-harvest/metadata.yaml
Labels: area/connectors, connectors/source/harvest

#32697 Vector DB destinations: Add omit_raw_text flag and increase code reuse
  airbyte-integrations/connectors/destination-chroma/Dockerfile
  airbyte-integrations/connectors/destination-chroma/destination_chroma/config.py
  airbyte-integrations/connectors/destination-chroma/destination_chroma/destination.py
  airbyte-integrations/connectors/destination-chroma/destination_chroma/indexer.py
  airbyte-integrations/connectors/destination-chroma/metadata.yaml
  airbyte-integrations/connectors/destination-chroma/setup.py
  airbyte-integrations/connectors/destination-chroma/unit_tests/test_destination.py
  airbyte-integrations/connectors/destination-milvus/destination_milvus/config.py
  airbyte-integrations/connectors/destination-milvus/destination_milvus/destination.py
  airbyte-integrations/connectors/destination-milvus/destination_milvus/indexer.py
  airbyte-integrations/connectors/destination-milvus/integration_tests/spec.json
  airbyte-integrations/connectors/destination-milvus/metadata.yaml
  airbyte-integrations/connectors/destination-milvus/setup.py
  airbyte-integrations/connectors/destination-milvus/unit_tests/destination_test.py
  airbyte-integrations/connectors/destination-pinecone/destination_pinecone/config.py
  airbyte-integrations/connectors/destination-pinecone/destination_pinecone/destination.py
  airbyte-integrations/connectors/destination-pinecone/destination_pinecone/indexer.py
  airbyte-integrations/connectors/destination-pinecone/integration_tests/spec.json
  airbyte-integrations/connectors/destination-pinecone/metadata.yaml
  airbyte-integrations/connectors/destination-pinecone/setup.py
  airbyte-integrations/connectors/destination-pinecone/unit_tests/destination_test.py
  airbyte-integrations/connectors/destination-qdrant/Dockerfile
  airbyte-integrations/connectors/destination-qdrant/destination_qdrant/config.py
  airbyte-integrations/connectors/destination-qdrant/destination_qdrant/destination.py
  airbyte-integrations/connectors/destination-qdrant/destination_qdrant/indexer.py
  airbyte-integrations/connectors/destination-qdrant/metadata.yaml
  airbyte-integrations/connectors/destination-qdrant/setup.py
  airbyte-integrations/connectors/destination-qdrant/unit_tests/test_destination.py
  airbyte-integrations/connectors/destination-weaviate/destination_weaviate/config.py
  airbyte-integrations/connectors/destination-weaviate/destination_weaviate/destination.py
  airbyte-integrations/connectors/destination-weaviate/destination_weaviate/indexer.py
  airbyte-integrations/connectors/destination-weaviate/integration_tests/spec.json
  airbyte-integrations/connectors/destination-weaviate/metadata.yaml
  airbyte-integrations/connectors/destination-weaviate/setup.py
  airbyte-integrations/connectors/destination-weaviate/unit_tests/destination_test.py
  docs/integrations/destinations/chroma.md
  docs/integrations/destinations/milvus.md
  docs/integrations/destinations/pinecone.md
  docs/integrations/destinations/qdrant.md
  docs/integrations/destinations/weaviate.md
Labels: area/documentation, area/connectors, connectors/source/google-search-console, connectors/destination/weaviate, connectors/destination/milvus, connectors/destination/pinecone, connectors/destination/qdrant, connectors/destination/chroma

#32535 Source Salesforce: use concurrent CDK for full refresh syncs
  airbyte-integrations/connectors/source-salesforce/integration_tests/bulk_error_test.py
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/setup.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/source.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/streams.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/api_test.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors, connectors/source/google-search-console, connectors/source/salesforce

#30999 ✨ Source Datadog: add `monitors` and `service_level_objectives` (SLOs) streams
  CONTRIBUTORS.md
  airbyte-integrations/connectors/source-datadog/Dockerfile
  airbyte-integrations/connectors/source-datadog/acceptance-test-config.yml
  airbyte-integrations/connectors/source-datadog/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-datadog/metadata.yaml
  airbyte-integrations/connectors/source-datadog/setup.py
  airbyte-integrations/connectors/source-datadog/source_datadog/manifest.yaml
  airbyte-integrations/connectors/source-datadog/source_datadog/schemas/monitors.json
  airbyte-integrations/connectors/source-datadog/source_datadog/schemas/service_level_objectives.json
  docs/integrations/sources/datadog.md
Labels: area/documentation, area/connectors, community, connectors/source/datadog

#30993 [Non-forked] 🎉 New Source: Klaus API connector
  airbyte-integrations/connectors/source-klaus-api/.dockerignore
  airbyte-integrations/connectors/source-klaus-api/Dockerfile
  airbyte-integrations/connectors/source-klaus-api/README.md
  airbyte-integrations/connectors/source-klaus-api/acceptance-test-config.yml
  airbyte-integrations/connectors/source-klaus-api/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-klaus-api/icon.svg
  airbyte-integrations/connectors/source-klaus-api/integration_tests/__init__.py
  airbyte-integrations/connectors/source-klaus-api/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-klaus-api/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-klaus-api/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-klaus-api/integration_tests/configured_catalog_inc.json
  airbyte-integrations/connectors/source-klaus-api/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-klaus-api/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-klaus-api/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-klaus-api/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-klaus-api/main.py
  airbyte-integrations/connectors/source-klaus-api/metadata.yaml
  airbyte-integrations/connectors/source-klaus-api/requirements.txt
  airbyte-integrations/connectors/source-klaus-api/setup.py
  airbyte-integrations/connectors/source-klaus-api/source_klaus_api/__init__.py
  airbyte-integrations/connectors/source-klaus-api/source_klaus_api/manifest.yaml
  airbyte-integrations/connectors/source-klaus-api/source_klaus_api/schemas/categories.json
  airbyte-integrations/connectors/source-klaus-api/source_klaus_api/schemas/reviews.json
  airbyte-integrations/connectors/source-klaus-api/source_klaus_api/schemas/users.json
  airbyte-integrations/connectors/source-klaus-api/source_klaus_api/source.py
  airbyte-integrations/connectors/source-klaus-api/source_klaus_api/spec.yaml
  docs/integrations/sources/klaus-api.md
  tools/schema_generator/schema_generator/infer_schemas.py
Labels: area/documentation, area/connectors, connectors/source/klaus-api

#33079 🐛 Source mysql: remove the culprit line for mysql not releasing
  airbyte-integrations/connectors/source-mysql/metadata.yaml
Labels: area/connectors, connectors/source/mysql

#32874 🐛 Source Freshcaller: fix page_size_option parameter in spec
  airbyte-integrations/connectors/source-freshcaller/Dockerfile
  airbyte-integrations/connectors/source-freshcaller/metadata.yaml
  airbyte-integrations/connectors/source-freshcaller/source_freshcaller/manifest.yaml
  docs/integrations/sources/freshcaller.md
Labels: area/documentation, area/connectors, community, connectors/source/freshcaller

#32685 Source Stripe: Update expected records
  airbyte-integrations/connectors/source-stripe/acceptance-test-config.yml
  airbyte-integrations/connectors/source-stripe/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/stripe

#33078 Destination bigquery: further increase gcs COPY timeout
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryGcsOperations.java
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery

#28593 :bug: Source Posthog: Fix events.event type
  airbyte-integrations/connectors/source-posthog/Dockerfile
  airbyte-integrations/connectors/source-posthog/metadata.yaml
  airbyte-integrations/connectors/source-posthog/source_posthog/schemas/events.json
  docs/integrations/sources/posthog-migrations.md
  docs/integrations/sources/posthog.md
Labels: area/documentation, area/connectors, community, connectors/source/posthog, team/tse, checklist-action-run

#33084 T&D SQL statements moved to debug log level
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQueryDestinationHandler.java
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeDestinationHandler.java
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, connectors/destination/snowflake

#32837 :tada: Source Xero handle 403 error
  airbyte-integrations/connectors/source-xero/Dockerfile
  airbyte-integrations/connectors/source-xero/acceptance-test-config.yml
  airbyte-integrations/connectors/source-xero/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-xero/metadata.yaml
  airbyte-integrations/connectors/source-xero/setup.py
  airbyte-integrations/connectors/source-xero/source_xero/source.py
  airbyte-integrations/connectors/source-xero/unit_tests/test_source.py
  airbyte-integrations/connectors/source-xero/unit_tests/test_streams.py
  docs/integrations/sources/xero.md
Labels: area/documentation, area/connectors, connectors/source/xero, checklist-action-run

#32787 CAT: validate stream schemas to be valid json schemas
  airbyte-integrations/bases/connector-acceptance-test/CHANGELOG.md
  airbyte-integrations/bases/connector-acceptance-test/connector_acceptance_test/tests/test_core.py
  airbyte-integrations/bases/connector-acceptance-test/pyproject.toml
  airbyte-integrations/bases/connector-acceptance-test/unit_tests/test_core.py
Labels: connectors/source/hubspot, connectors/source/facebook-marketing, connectors/source/github, connectors/source/mailchimp, connectors/source/pinterest, team/connectors-python

#32775 :bug: Source Typeform: 499 handling
  airbyte-integrations/connectors/source-typeform/metadata.yaml
  airbyte-integrations/connectors/source-typeform/source_typeform/manifest.yaml
  airbyte-integrations/connectors/source-typeform/unit_tests/test_authenticator.py
  docs/integrations/sources/typeform.md
Labels: area/documentation, area/connectors, connectors/source/typeform

#33012 🐛 Source Zendesk Support: Increase number of retries for backoff policy
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/streams.py
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-support

#32983 [ISSUE #32869] response builder
  airbyte-cdk/python/airbyte_cdk/test/http/response_builder.py
  airbyte-cdk/python/unit_tests/resource/http/response/test-resource.json
  airbyte-cdk/python/unit_tests/test/http/test_response_builder.py
Labels: CDK

#32937 [ISSUE #32868] create HttpMocker
  airbyte-cdk/python/airbyte_cdk/test/__init__.py
  airbyte-cdk/python/airbyte_cdk/test/http/__init__.py
  airbyte-cdk/python/airbyte_cdk/test/http/matcher.py
  airbyte-cdk/python/airbyte_cdk/test/http/mocker.py
  airbyte-cdk/python/airbyte_cdk/test/http/request.py
  airbyte-cdk/python/airbyte_cdk/test/http/response.py
  airbyte-cdk/python/airbyte_cdk/test/http/response_builder.py
  airbyte-cdk/python/unit_tests/resource/http/response/test-resource.json
  airbyte-cdk/python/unit_tests/test/__init__.py
  airbyte-cdk/python/unit_tests/test/http/__init__.py
  airbyte-cdk/python/unit_tests/test/http/test_matcher.py
  airbyte-cdk/python/unit_tests/test/http/test_mocker.py
  airbyte-cdk/python/unit_tests/test/http/test_request.py
  airbyte-cdk/python/unit_tests/test/http/test_response_builder.py
Labels: CDK

#33000 🐛 Source Freshdesk: Migrate to base image and update QL
  airbyte-integrations/connectors/source-freshdesk/Dockerfile
  airbyte-integrations/connectors/source-freshdesk/README.md
  airbyte-integrations/connectors/source-freshdesk/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-freshdesk/metadata.yaml
  docs/integrations/sources/freshdesk.md
Labels: area/documentation, area/connectors, connectors/source/freshdesk

#33109 docs(source-posthog): fix version in migration guide
  docs/integrations/sources/posthog-migrations.md
Labels: area/documentation

#33085 Redshift T&D SQL statements moved to debug log level
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcDestinationHandler.java
Labels: CDK

#33099 🐛 Source Klaviyo: Fix filtering for archived records stream
  airbyte-integrations/connectors/source-klaviyo/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-klaviyo/metadata.yaml
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/streams.py
  airbyte-integrations/connectors/source-klaviyo/unit_tests/test_streams.py
  docs/integrations/sources/klaviyo.md
Labels: area/documentation, area/connectors, connectors/source/klaviyo

#33129 Remove destination-bigquery-denormalized docs
  docs/integrations/destinations/bigquery-denormalized-migrations.md
  docs/integrations/destinations/bigquery-denormalized.md
Labels: area/documentation

#33132 Update typing-deduping.md
  docs/using-airbyte/core-concepts/typing-deduping.md
Labels: area/documentation

#33038 :bug: Source Stripe: added stream slice logging
  airbyte-integrations/connectors/source-stripe/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/refunds.json
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, connectors/source/stripe

#33188 📚 Contribution Guide: add msg about Java connectors in contribution guide
  docs/contributing-to-airbyte/README.md
Labels: area/documentation

#33187 File-based CDK Sources: Hide primary key
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/spec.json
  airbyte-integrations/connectors/source-azure-blob-storage/metadata.yaml
  airbyte-integrations/connectors/source-azure-blob-storage/setup.py
  airbyte-integrations/connectors/source-gcs/integration_tests/spec.json
  airbyte-integrations/connectors/source-gcs/metadata.yaml
  airbyte-integrations/connectors/source-gcs/setup.py
  airbyte-integrations/connectors/source-google-drive/integration_tests/spec.json
  airbyte-integrations/connectors/source-google-drive/metadata.yaml
  airbyte-integrations/connectors/source-google-drive/setup.py
  airbyte-integrations/connectors/source-s3/integration_tests/cloud_spec.json
  airbyte-integrations/connectors/source-s3/integration_tests/spec.json
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/setup.py
  docs/integrations/sources/azure-blob-storage.md
  docs/integrations/sources/gcs.md
  docs/integrations/sources/google-drive.md
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3, connectors/source/gcs, connectors/source/azure-blob-storage, connectors/source/google-drive

#33200 Revert "Redshift T&D SQL statements moved to debug log level"
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcDestinationHandler.java
Labels: CDK

#32965 Proxy DinD calls of airbyte-ci through Tailscale to access pull through cache
  .github/actions/run-dagger-pipeline/action.yml
  .github/workflows/airbyte-ci-tests.yml
  .github/workflows/cat-tests.yml
  .github/workflows/connectors_tests.yml
  .github/workflows/connectors_weekly_build.yml
  .github/workflows/format_check.yml
  .github/workflows/format_fix.yml
  .github/workflows/metadata_service_deploy_orchestrator_dagger.yml
  .github/workflows/publish_connectors.yml
  airbyte-ci/connectors/pipelines/pipelines/consts.py
  airbyte-ci/connectors/pipelines/pipelines/dagger/actions/system/docker.py
Labels: connectors/source/postgres, connectors/destination/postgres, connectors/destination/iceberg

#33203 📚 Destinations V2 docs: update safe rollback versions
  docs/release_notes/upgrading_to_destinations_v2.md
Labels: area/documentation

#33171 prettier format json files
  airbyte-integrations/connectors/destination-milvus/integration_tests/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_ESTIMATED_FBA_FEES_TXT_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FLAT_FILE_RETURNS_DATA_BY_RETURN_DATE.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_STRANDED_INVENTORY_UI_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_migrations/account_type_migration/migrated_config.json
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_migrations/account_type_migration/not_migrated_config.json
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_migrations/report_options_migration/migrated_config.json
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_migrations/report_options_migration/not_migrated_config.json
  airbyte-integrations/connectors/source-datadog/source_datadog/schemas/service_level_objectives.json
  airbyte-integrations/connectors/source-hubspot/sample_files/sample_state.json
  airbyte-integrations/connectors/source-klaus-api/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-klaus-api/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-klaus-api/source_klaus_api/schemas/categories.json
  airbyte-integrations/connectors/source-klaus-api/source_klaus_api/schemas/reviews.json
  airbyte-integrations/connectors/source-klaus-api/source_klaus_api/schemas/users.json
  airbyte-integrations/connectors/source-mailchimp/integration_tests/state.json
  airbyte-integrations/connectors/source-mongodb-v2/src/test/resources/schema_discovery_response.json
  airbyte-integrations/connectors/source-mongodb-v2/src/test/resources/schema_discovery_response_different_datatypes.json
  airbyte-integrations/connectors/source-my-hours/source_my_hours/schemas/time_logs.json
  airbyte-integrations/connectors/source-pinterest/integration_tests/configured_catalog_custom_report.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/spec.json
Labels: area/connectors, connectors/source/hubspot, connectors/source/amazon-seller-partner, connectors/source/mailchimp, connectors/source/pinterest, connectors/source/mongodb-v2, connectors/source/my-hours, connectors/source/datadog, connectors/source/klaus-api, connectors/destination/milvus

#33136 airbyte-cdk: failed stream does not end the sync
  airbyte-cdk/python/airbyte_cdk/sources/abstract_source.py
  airbyte-cdk/python/unit_tests/sources/test_abstract_source.py
Labels: CDK, connectors/source/klaviyo

#33082 [Source MySQL] : Improvements to schema snapshotting and error handling
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/DebeziumPropertiesManager.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/mysql/MySqlDebeziumStateUtil.java
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, CDK, connectors/source/mysql

#32851 introduce PostgresBaseImage
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractCdcPostgresSourceSslAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractPostgresSourceSSLCertificateAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractSshPostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CDCPostgresSourceCaCertificateSslAcceptanceLegacyCtidTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CDCPostgresSourceCaCertificateSslAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CDCPostgresSourceFullCertificateSslAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcInitialSnapshotPostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcPostgresSourceAcceptanceLegacyCtidTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcPostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcWalLogsPostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CloudDeploymentPostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/PostgresSourceAcceptanceLegacyCtidTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/PostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/PostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/XminPostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CloudDeploymentPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresCdcGetPublicizedTablesTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresSourceOperationsTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresSourceSSLTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/XminPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/XminPostgresWithOldServerSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/testFixtures/java/io/airbyte/integrations/source/postgres/PostgresTestDatabase.java
Labels: area/connectors, connectors/source/postgres

#32876 introduce ImageModifier
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractCdcPostgresSourceSslAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractPostgresSourceSSLCertificateAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractSshPostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcInitialSnapshotPostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcPostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcWalLogsPostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CloudDeploymentPostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/PostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CloudDeploymentPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresCdcGetPublicizedTablesTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresSourceOperationsTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresSourceSSLTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/testFixtures/java/io/airbyte/integrations/source/postgres/PostgresTestDatabase.java
Labels: area/connectors, connectors/source/postgres

#32897 introduce BaseImage for MsSql
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/AbstractSshMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceDatatypeTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/MssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/MssqlSourceDatatypeTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/MssqlJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/MssqlSourceTest.java
  airbyte-integrations/connectors/source-mssql/src/testFixtures/java/io/airbyte/integrations/source/mssql/MsSQLTestDatabase.java
Labels: area/connectors, connectors/source/mssql, connectors/source/postgres

#32898 introduce ImageModifier to MS SQL source
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/AbstractSshMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceDatatypeTest.java
  airbyte-integrations/connectors/source-mssql/src/testFixtures/java/io/airbyte/integrations/source/mssql/MsSQLTestDatabase.java
Labels: area/connectors, connectors/source/mssql, connectors/source/postgres

#33236 remove global step from enterprise docs
  docs/enterprise-setup/implementation-guide.md
Labels: area/documentation

#32900 introduce ImageModifier to MySql source
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcMySqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcMySqlSslCaCertificateSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcMySqlSslRequiredSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CloudDeploymentMySqlSslCaCertificateSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CloudDeploymentMySqlSslFullCertificateSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/MySqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/MySqlSslCaCertificateSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/MySqlSslFullCertificateSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/SshPasswordMySqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/CdcMysqlSourceTest.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/MySqlSourceTests.java
  airbyte-integrations/connectors/source-mysql/src/testFixtures/java/io/airbyte/integrations/source/mysql/MySQLTestDatabase.java
Labels: area/connectors, connectors/source/mssql, connectors/source/mysql, connectors/source/postgres

#32948 removing POSTGRES_16_ALPINE base image
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/testFixtures/java/io/airbyte/integrations/source/postgres/PostgresTestDatabase.java
Labels: area/connectors, connectors/source/mysql, connectors/source/postgres

#32951 simplify MSSQL images
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/AbstractSshMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceDatatypeTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/MssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/MssqlSourceDatatypeTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/MssqlJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/MssqlSourceTest.java
  airbyte-integrations/connectors/source-mssql/src/testFixtures/java/io/airbyte/integrations/source/mssql/MsSQLTestDatabase.java
Labels: area/connectors, connectors/source/mssql, connectors/source/mysql, connectors/source/postgres

#32952 simplify postgres base images
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractPostgresSourceSSLCertificateAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractSshPostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CDCPostgresSourceCaCertificateSslAcceptanceLegacyCtidTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CDCPostgresSourceCaCertificateSslAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CDCPostgresSourceFullCertificateSslAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcInitialSnapshotPostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcPostgresSourceAcceptanceLegacyCtidTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcPostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcWalLogsPostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CloudDeploymentPostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/PostgresSourceAcceptanceLegacyCtidTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/PostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/PostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/XminPostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CloudDeploymentPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresCdcGetPublicizedTablesTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresSourceOperationsTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/XminPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/XminPostgresWithOldServerSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/testFixtures/java/io/airbyte/integrations/source/postgres/PostgresTestDatabase.java
Labels: area/connectors, connectors/source/mssql, connectors/source/mysql, connectors/source/postgres

#33065 Vector DB CDK: Fix special tokens
  airbyte-cdk/python/airbyte_cdk/destinations/vector_db_based/document_processor.py
  airbyte-cdk/python/airbyte_cdk/destinations/vector_db_based/embedder.py
  airbyte-cdk/python/unit_tests/destinations/vector_db_based/document_processor_test.py
Labels: CDK

#32700 Unstructured parser: Handle parsing errors better
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/unstructured_format.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/unstructured_parser.py
  airbyte-cdk/python/unit_tests/sources/file_based/file_types/test_unstructured_parser.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/csv_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/unstructured_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/test_file_based_scenarios.py
Labels: CDK

#32726 CDK: low-code enable caching for parent streams
  airbyte-cdk/python/airbyte_cdk/sources/declarative/manifest_declarative_source.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/models/declarative_component_schema.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/model_to_component_factory.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/http_requester.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/test_http_requester.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_manifest_declarative_source.py
Labels: CDK

#33218 Weaviate: Normalize property names
  airbyte-integrations/connectors/destination-weaviate/destination_weaviate/indexer.py
  airbyte-integrations/connectors/destination-weaviate/metadata.yaml
  airbyte-integrations/connectors/destination-weaviate/unit_tests/indexer_test.py
  docs/integrations/destinations/weaviate.md
Labels: area/documentation, area/connectors, connectors/destination/weaviate

#33247 🐛CDK: Fix cdk models by adding use_cache param for HttpRequests into the declarative_components_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/models/declarative_component_schema.py
Labels: CDK

#33264 destination-s3: update configs with common defaults
  airbyte-integrations/connectors/destination-s3/metadata.yaml
  airbyte-integrations/connectors/destination-s3/src/main/resources/spec.json
  docs/integrations/destinations/s3.md
Labels: area/documentation, area/connectors, connectors/destination/s3

#33263 Destinations bigquery+snowflake+s3: Chore: upgrade CDK version
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-s3/build.gradle
  airbyte-integrations/connectors/destination-s3/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingSqlOperations.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeSqlOperations.java
  airbyte-integrations/connectors/destination-snowflake/src/test/java/io/airbyte/integrations/destination/snowflake/SnowflakeSqlOperationsTest.java
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/s3.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, connectors/destination/snowflake, connectors/destination/s3

#33252 doc: add code-formatting to sidebar.js
  docs/contributing-to-airbyte/resources/gradle.md
  docs/contributing-to-airbyte/resources/python-gradle-setup.md
  docusaurus/sidebars.js
Labels: area/documentation

#33227 Issue 32871/extract trace message creation
  airbyte-cdk/python/airbyte_cdk/exception_handler.py
  airbyte-cdk/python/airbyte_cdk/test/catalog_builder.py
  airbyte-cdk/python/airbyte_cdk/test/entrypoint_wrapper.py
  airbyte-cdk/python/airbyte_cdk/test/http/__init__.py
  airbyte-cdk/python/airbyte_cdk/test/mock_http/__init__.py
  airbyte-cdk/python/airbyte_cdk/test/mock_http/matcher.py
  airbyte-cdk/python/airbyte_cdk/test/mock_http/mocker.py
  airbyte-cdk/python/airbyte_cdk/test/mock_http/request.py
  airbyte-cdk/python/airbyte_cdk/test/mock_http/response.py
  airbyte-cdk/python/airbyte_cdk/test/mock_http/response_builder.py
  airbyte-cdk/python/airbyte_cdk/utils/traced_exception.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/csv_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/scenario_builder.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/user_input_schema_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/test_scenarios.py
  airbyte-cdk/python/unit_tests/test/mock_http/__init__.py
  airbyte-cdk/python/unit_tests/test/mock_http/test_matcher.py
  airbyte-cdk/python/unit_tests/test/mock_http/test_mocker.py
  airbyte-cdk/python/unit_tests/test/mock_http/test_request.py
  airbyte-cdk/python/unit_tests/test/mock_http/test_response_builder.py
  airbyte-cdk/python/unit_tests/test/test_entrypoint_wrapper.py
  airbyte-cdk/python/unit_tests/test_exception_handler.py
Labels: CDK

#33041 Update docusaurus to 3
  docs/connector-development/config-based/advanced-topics.md
  docs/connector-development/config-based/understanding-the-yaml-file/authentication.md
  docs/contributing-to-airbyte/resources/gradle.md
  docs/integrations/destinations/databricks.md
  docs/integrations/destinations/r2.md
  docs/integrations/destinations/redshift.md
  docs/integrations/destinations/s3-glue.md
  docs/integrations/destinations/s3.md
  docs/integrations/destinations/snowflake.md
  docs/integrations/sources/azure-blob-storage.md
  docs/integrations/sources/azure-table.md
  docs/integrations/sources/datadog.md
  docs/integrations/sources/file.md
  docs/integrations/sources/google-drive.md
  docs/integrations/sources/gutendex.md
  docs/integrations/sources/s3.md
  docs/integrations/sources/snapchat-marketing.md
  docs/integrations/sources/snowflake.md
  docs/integrations/sources/twilio-taskrouter.md
  docs/integrations/sources/twilio.md
  docs/integrations/sources/yandex-metrica.md
  docs/using-airbyte/core-concepts/namespaces.md
  docs/using-airbyte/core-concepts/typing-deduping.md
  docusaurus/docusaurus.config.js
  docusaurus/package.json
  docusaurus/src/components/HeaderDecoration.jsx
  docusaurus/src/components/HeaderDecoration.module.css
  docusaurus/src/css/custom.css
  docusaurus/src/remark/docsHeaderDecoration.js
  docusaurus/src/theme/MDXComponents/index.js
  docusaurus/yarn.lock
Labels: area/documentation

#33237 ✨ [source-klaviyo] Use latest CDK and continue syncing even if a stream fails
  airbyte-integrations/connectors/source-klaviyo/metadata.yaml
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/source.py
  docs/integrations/sources/klaviyo.md
Labels: area/documentation, area/connectors, connectors/source/klaviyo

#33210 🐛 Rodi/port zero date time behavior fix
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractMySqlSourceDatatypeTest.java
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, connectors/source/mysql

#33307 Destination redshift dv2: Update type mapping
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcSqlGenerator.java
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGenerator.java
  docs/integrations/destinations/redshift.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/redshift

#33267 remove debezium-bundles from deps.toml
  airbyte-cdk/java/airbyte-cdk/core/build.gradle
  airbyte-cdk/java/airbyte-cdk/db-destinations/build.gradle
  airbyte-cdk/java/airbyte-cdk/db-sources/build.gradle
  airbyte-integrations/connectors/source-mongodb-v2/build.gradle
  deps.toml
Labels: area/connectors, CDK, connectors/source/mongodb-v2

#33316 [Source-mssql] Remove reference to strict encrypt in metadata
  airbyte-integrations/connectors/source-mssql/metadata.yaml
Labels: area/connectors, connectors/source/mssql, checklist-action-run

#33328 dv2: code comment
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcSqlGenerator.java
Labels: CDK

#33027 [Part 1 ] : Hackday project to debug connections
  .gitignore
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/java/io/airbyte/cdk/integrations/debug/DebugUtil.java
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresUtils.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/cdc/PostgresCdcCtidInitializer.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresDebugger.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresUtilsTest.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, CDK, connectors/source/postgres

#32908 ✨ source-stripe: use concurrent source to read multiple streams concurrently
  airbyte-integrations/connectors/source-stripe/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-stripe/main.py
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/setup.py
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  airbyte-integrations/connectors/source-stripe/unit_tests/conftest.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_source.py
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, connectors/source/stripe

#33298 Source Hubspot: update docs
  docs/integrations/sources/hubspot.md
Labels: area/documentation

#33225 source-mssql: enable state compression
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcSavedInfoFetcher.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcStateHandler.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/CdcStateCompressionTest.java
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, connectors/source/mssql, connectors/source/mysql

#33361 🐛 Source Amazon Ads: make requestId field optional for error response base model
  airbyte-integrations/connectors/source-amazon-ads/metadata.yaml
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/common.py
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, area/connectors, connectors/source/amazon-ads

#33285 Docs: Fix typo credentiuals -> credentials in connector builder UI authentication docs
  docs/connector-development/connector-builder-ui/authentication.md
Labels: area/documentation, community

#33213 Documentation: Update the pre-defined icons directory
  docs/connector-development/connector-metadata-file.md
Labels: area/documentation, community

#33333 Update implementation-guide.md
  docs/enterprise-setup/implementation-guide.md
Labels: area/documentation

#33357 use latest image for mssql
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/CloudDeploymentSslEnabledMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/SslEnabledMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/CloudDeploymentMssqlTest.java
Labels: area/connectors, connectors/source/mssql

#33335 DV2: publish cdk + redshift
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-integrations/connectors/destination-redshift/build.gradle
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGenerator.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGeneratorIntegrationTest.java
  docs/integrations/destinations/redshift.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/redshift, checklist-action-run

#33330 [Source-mssql] Datetimeoffset field used as cursor error patch
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSourceOperations.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/MssqlSourceOperationsTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/resources/expected_spec.json
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, connectors/source/mssql

#33266 🚨🚨Source Hubspot: add property history streams for Deals and Companies
  airbyte-integrations/connectors/source-hubspot/acceptance-test-config.yml
  airbyte-integrations/connectors/source-hubspot/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/sample_files/basic_read_catalog.json
  airbyte-integrations/connectors/source-hubspot/sample_files/incremental_catalog.json
  airbyte-integrations/connectors/source-hubspot/sample_files/sample_state.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/helpers.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/companies_property_history.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/contacts_property_history.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/deals_property_history.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/source.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_source.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_streams.py
  docs/integrations/sources/hubspot-migrations.md
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot, breaking-change

#33340 update the cdk to use the latest version of the protocol
  airbyte-cdk/python/setup.py
Labels: CDK

#33367 Destination redshift v2: fix migration + add test
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/java/io/airbyte/integrations/base/destination/typing_deduping/BaseSqlGeneratorIntegrationTest.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/resources/sqlgenerator/all_types_v1_inputrecords.jsonl
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGenerator.java
  docs/integrations/destinations/redshift.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/redshift

#32667 Adding Mermaid Diagrams to Docs
  docs/.gitbook/assets/job-state-machine.png
  docs/.gitbook/assets/orchestrator-lifecycle.png
  docs/.gitbook/assets/worker-lifecycle.png
  docs/contributing-to-airbyte/writing-docs.md
  docs/understanding-airbyte/jobs.md
  docusaurus/docusaurus.config.js
  docusaurus/package.json
  docusaurus/yarn.lock
Labels: area/documentation

#33358 limit memory for MSSQL containers
  airbyte-integrations/connectors/source-mssql/src/testFixtures/java/io/airbyte/integrations/source/mssql/MsSQLContainerFactory.java
Labels: area/connectors, connectors/source/mssql

#33356 Add debugger drivers for MongoDB & MySQL
  airbyte-integrations/connectors/source-mongodb-v2/build.gradle
  airbyte-integrations/connectors/source-mongodb-v2/metadata.yaml
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbCdcInitializer.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/MongoDbDebugger.java
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/MySqlDebugger.java
  docs/integrations/sources/mongodb-v2.md
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, connectors/source/mysql, connectors/source/postgres, connectors/source/mongodb-v2

#33389 Fix some docs, remove outdated `accpetance-test` doc mentions and file
  airbyte-ci/connectors/pipelines/README.md
  airbyte-integrations/connectors/source-klaus-api/acceptance-test-docker.sh
  docs/connector-development/testing-connectors/connector-acceptance-tests-reference.md
Labels: area/documentation, area/connectors, connectors/source/klaus-api

#33372 📚 Docs: Updates `Contributing to Airbyte` documentation for accuracy
  docs/contributing-to-airbyte/README.md
Labels: area/documentation

#33018 [Source-MSSQL] Enable per-stream and Global states and migrate away from Legacy states
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcHelper.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcStateHandler.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/AbstractSshMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceDatatypeTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/CloudDeploymentSslEnabledMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/MssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/MssqlSourceDatatypeTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/SslEnabledMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/MssqlJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/MssqlSourceTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/MssqlStressTest.java
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, connectors/source/mssql

#33303 Vector DB Destinations: Update CDK
  airbyte-integrations/connectors/destination-chroma/Dockerfile
  airbyte-integrations/connectors/destination-chroma/metadata.yaml
  airbyte-integrations/connectors/destination-chroma/setup.py
  airbyte-integrations/connectors/destination-milvus/metadata.yaml
  airbyte-integrations/connectors/destination-milvus/setup.py
  airbyte-integrations/connectors/destination-pinecone/metadata.yaml
  airbyte-integrations/connectors/destination-pinecone/setup.py
  airbyte-integrations/connectors/destination-qdrant/Dockerfile
  airbyte-integrations/connectors/destination-qdrant/metadata.yaml
  airbyte-integrations/connectors/destination-qdrant/setup.py
  airbyte-integrations/connectors/destination-weaviate/metadata.yaml
  airbyte-integrations/connectors/destination-weaviate/setup.py
  docs/integrations/destinations/chroma.md
  docs/integrations/destinations/milvus.md
  docs/integrations/destinations/pinecone.md
  docs/integrations/destinations/qdrant.md
  docs/integrations/destinations/weaviate.md
Labels: area/documentation, area/connectors, connectors/destination/weaviate, connectors/destination/milvus, connectors/destination/pinecone, connectors/destination/qdrant, connectors/destination/chroma

#33300 File CDK: Handle 422 errors separately
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/unstructured_parser.py
  airbyte-cdk/python/unit_tests/sources/file_based/file_types/test_unstructured_parser.py
Labels: CDK

#33255 Vector DB CDK: Refactor to improve readability
  airbyte-cdk/python/airbyte_cdk/destinations/vector_db_based/embedder.py
  airbyte-cdk/python/airbyte_cdk/destinations/vector_db_based/writer.py
  airbyte-cdk/python/unit_tests/destinations/vector_db_based/embedder_test.py
  airbyte-cdk/python/unit_tests/destinations/vector_db_based/writer_test.py
Labels: CDK

#33353 🐛 Source Jira: Fix check command
  airbyte-integrations/connectors/source-jira/metadata.yaml
  airbyte-integrations/connectors/source-jira/source_jira/source.py
  airbyte-integrations/connectors/source-jira/source_jira/streams.py
  airbyte-integrations/connectors/source-jira/unit_tests/conftest.py
  airbyte-integrations/connectors/source-jira/unit_tests/responses/issue_custom_field_contexts.json
  airbyte-integrations/connectors/source-jira/unit_tests/responses/issue_custom_field_options.json
  airbyte-integrations/connectors/source-jira/unit_tests/responses/issue_fields.json
  airbyte-integrations/connectors/source-jira/unit_tests/test_source.py
  airbyte-integrations/connectors/source-jira/unit_tests/test_streams.py
  docs/integrations/sources/jira.md
Labels: area/documentation, area/connectors, connectors/source/jira

#33060 CDK: Raise error on passing unsupported value formats as query parameters
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/http_requester.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/test_http_requester.py
Labels: CDK

#33283 November 2023 Release Notes
  docs/release_notes/november_2023.md
  docusaurus/sidebars.js
Labels: area/documentation

#33095 :sparkles: Source Bing Ads: added account filtering
  airbyte-integrations/connectors/source-bing-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-bing-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/base_streams.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/bulk_streams.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/report_streams.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/source.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/spec.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_source.py
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors, connectors/source/bing-ads, team/connectors-python

#33350 Source Salesforce: process streams concurrently on full refresh
  airbyte-integrations/connectors/source-salesforce/integration_tests/bulk_error_test.py
  airbyte-integrations/connectors/source-salesforce/main.py
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/setup.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/source.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/api_test.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors, connectors/source/salesforce

#33369 Move common implementation to base implementation
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcSqlGenerator.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/TypeAndDedupeTransaction.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/java/io/airbyte/integrations/base/destination/typing_deduping/JdbcSqlGeneratorIntegrationTest.java
  airbyte-integrations/connectors/destination-redshift/build.gradle
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGenerator.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGeneratorIntegrationTest.java
  docs/integrations/destinations/redshift.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/redshift, checklist-action-run

#33270 pull MSSql debezium classes out of the CDK
  airbyte-cdk/java/airbyte-cdk/core/build.gradle
  airbyte-cdk/java/airbyte-cdk/core/src/test/java/io/airbyte/cdk/db/factory/DataSourceFactoryTest.java
  airbyte-cdk/java/airbyte-cdk/db-sources/build.gradle
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcHelper.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcTargetPosition.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlDebeziumConverter.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/MssqlDataSourceFactoryTest.java
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, CDK, connectors/source/mssql

#33232 DV2: Only run T+D if we have zero records or the previous sync left behind un-T+D-ed records
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination/StreamSyncSummary.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination/buffered_stream_consumer/BufferedStreamConsumer.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination/buffered_stream_consumer/OnCloseFunction.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/AsyncStreamConsumer.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/OnCloseFunction.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/partial_messages/PartialAirbyteRecordMessage.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/core/src/test/java/io/airbyte/cdk/integrations/destination/buffered_stream_consumer/BufferedStreamConsumerTest.java
  airbyte-cdk/java/airbyte-cdk/core/src/test/java/io/airbyte/cdk/integrations/destination_async/AsyncStreamConsumerTest.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/JdbcBufferedConsumerFactory.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/copy/CopyConsumerFactory.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcDestinationHandler.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/staging/GeneralStagingFunctions.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/s3/S3ConsumerFactory.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/staging/StagingConsumerFactory.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/DefaultTyperDeduper.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/DestinationHandler.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/NoOpTyperDeduperWithV1V2Migrations.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/NoopTyperDeduper.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/StreamId.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/TyperDeduper.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/test/java/io/airbyte/integrations/base/destination/typing_deduping/DefaultTyperDeduperTest.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/java/io/airbyte/integrations/base/destination/typing_deduping/BaseSqlGeneratorIntegrationTest.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/java/io/airbyte/integrations/base/destination/typing_deduping/BaseTypingDedupingTest.java
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDestination.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryStagingConsumerFactory.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQueryDestinationHandler.java
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeDestinationHandler.java
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/bigquery, connectors/destination/snowflake, checklist-action-run

#33310 Remove example second scope type
  airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/ConnectorMetadataDefinitionV0.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/ConnectorRegistryDestinationDefinition.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/ConnectorRegistrySourceDefinition.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/ConnectorRegistryV0.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/ConnectorReleases.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/models/src/ConnectorReleases.yaml
  docs/connector-development/connector-metadata-file.md
Labels: area/documentation

#33111 add scopedImpact to metadata for scoping breaking changes
  airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/ConnectorMetadataDefinitionV0.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/ConnectorRegistryDestinationDefinition.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/ConnectorRegistrySourceDefinition.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/ConnectorRegistryV0.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/ConnectorReleases.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/models/src/ConnectorReleases.yaml
  airbyte-ci/connectors/metadata_service/lib/pyproject.toml
  airbyte-ci/connectors/metadata_service/lib/tests/fixtures/metadata_validate/invalid/optional_top_level_property_invalid/releases_invalid/impact_scopes_invalid/metadata_breaking_changes_empty_impacted_stream.yaml
  airbyte-ci/connectors/metadata_service/lib/tests/fixtures/metadata_validate/invalid/optional_top_level_property_invalid/releases_invalid/impact_scopes_invalid/metadata_breaking_changes_impact_scopes_unknown_scope_type.yaml
  airbyte-ci/connectors/metadata_service/lib/tests/fixtures/metadata_validate/valid/with_optional_field/with_releases/metadata_breaking_changes_with_impact_scopes.yaml
  airbyte-ci/connectors/metadata_service/lib/tests/fixtures/metadata_validate/valid/with_optional_field/with_releases/metadata_breaking_changes_with_multipel_impact_scopes.yaml
  docs/connector-development/connector-metadata-file.md
  docs/contributing-to-airbyte/change-cdk-connector.md
Labels: area/documentation

#33471 📚 Destinations V2: update data types for BigQuery + Snowflake
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation

#33345 🐛 Source Typeform: Fix single use refresh token authentication
  airbyte-integrations/connectors/source-typeform/metadata.yaml
  airbyte-integrations/connectors/source-typeform/source_typeform/components.py
  airbyte-integrations/connectors/source-typeform/source_typeform/manifest.yaml
  airbyte-integrations/connectors/source-typeform/unit_tests/test_authenticator.py
  airbyte-integrations/connectors/source-typeform/unit_tests/test_form_id_partition_router.py
  docs/integrations/sources/typeform.md
Labels: area/documentation, area/connectors, connectors/source/typeform

#33435 🐛 Source Zendesk Support: Fix 504 Error for stream Ticket Audits
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/streams.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/unit_test.py
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-support

#33421 Source Slack: merge changes after code freeze
  airbyte-integrations/connectors/source-slack/acceptance-test-config.yml
  airbyte-integrations/connectors/source-slack/metadata.yaml
  airbyte-integrations/connectors/source-slack/source_slack/source.py
  docs/integrations/sources/slack.md
Labels: area/documentation, area/connectors, connectors/source/slack

#33305 Issue 32871/more integration test tooling to test events stream
  airbyte-cdk/python/airbyte_cdk/test/entrypoint_wrapper.py
  airbyte-cdk/python/airbyte_cdk/test/mock_http/matcher.py
  airbyte-cdk/python/airbyte_cdk/test/mock_http/mocker.py
  airbyte-cdk/python/airbyte_cdk/test/mock_http/response_builder.py
  airbyte-cdk/python/airbyte_cdk/test/state_builder.py
  airbyte-cdk/python/unit_tests/test/mock_http/test_matcher.py
  airbyte-cdk/python/unit_tests/test/mock_http/test_mocker.py
  airbyte-cdk/python/unit_tests/test/mock_http/test_response_builder.py
  airbyte-cdk/python/unit_tests/test/test_entrypoint_wrapper.py
Labels: CDK

#33448 🐛 Source Monday: Increase unit test coverage and migrate to base image
  airbyte-integrations/connectors/source-monday/Dockerfile
  airbyte-integrations/connectors/source-monday/README.md
  airbyte-integrations/connectors/source-monday/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-monday/metadata.yaml
  airbyte-integrations/connectors/source-monday/unit_tests/test_components.py
  airbyte-integrations/connectors/source-monday/unit_tests/test_extractor.py
  airbyte-integrations/connectors/source-monday/unit_tests/test_graphql_requester.py
  docs/integrations/sources/monday.md
Labels: area/documentation, area/connectors, connectors/source/monday

#33483 Docs fix: `ConfiguredAirbyteCatalog` refs
  docs/understanding-airbyte/airbyte-protocol.md
  tools/schema_generator/README.md
Labels: area/documentation

#33501 Update airbyte-protocol.md
  docs/understanding-airbyte/airbyte-protocol.md
Labels: area/documentation

#33451 Destination bigquery: remove unused option from spec?
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/resources/spec.json
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery

#33505 bump airbyte-cdk version
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, CDK, connectors/source/mssql

#33439 refactor DatasourceBuilder.withConnectionTimeout
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/db/factory/DataSourceFactory.java
Labels: CDK

#33440 move DataSourceBuilder.getConnectionTimeout to DataSourceFactory
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/db/factory/DataSourceFactory.java
Labels: CDK

#33442 change DataSourceFactory to take the connection timeout as an additional parameter
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/db/factory/DSLContextFactory.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/db/factory/DataSourceFactory.java
  airbyte-cdk/java/airbyte-cdk/core/src/test/java/io/airbyte/cdk/db/factory/DataSourceFactoryTest.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestination.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/java/io/airbyte/cdk/testutils/TestDatabase.java
Labels: CDK, connectors/source/mssql

#33443 add connectionTimeout parameter to DslContextFactory.create
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/db/factory/DSLContextFactory.java
  airbyte-cdk/java/airbyte-cdk/core/src/test/java/io/airbyte/cdk/db/factory/DSLContextFactoryTest.java
Labels: CDK

#33444 move getConnectionTimeout from DataSourceFactory to a new JdbcConnector class
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/db/factory/DataSourceFactory.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/JdbcConnector.java
  airbyte-cdk/java/airbyte-cdk/core/src/test/java/io/airbyte/cdk/db/factory/DSLContextFactoryTest.java
  airbyte-cdk/java/airbyte-cdk/core/src/test/java/io/airbyte/cdk/db/factory/DataSourceFactoryTest.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestination.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/java/io/airbyte/cdk/testutils/TestDatabase.java
Labels: CDK, connectors/source/mssql

#33445 AbstractJdbcSource and AbstractJdbcDestination now inherit from JdbcConnector
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/JdbcConnector.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestination.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/source/relationaldb/AbstractDbSource.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/java/io/airbyte/cdk/integrations/source/relationaldb/AbstractDbSourceTest.java
Labels: CDK

#32328 mongodb schema-less mode
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/AirbyteDebeziumHandler.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/DebeziumEventUtils.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/DebeziumStateDecoratingIterator.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/mongodb/MongoDbCdcEventUtils.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/mongodb/MongoDbDebeziumConstants.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/java/io/airbyte/cdk/integrations/debezium/internals/DebeziumEventUtilsTest.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/java/io/airbyte/cdk/integrations/debezium/internals/mongodb/MongoDbCdcEventUtilsTest.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/resources/mongodb/change_event_delete.json
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/resources/mongodb/change_event_insert.json
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/resources/mongodb/change_event_update.json
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/resources/mongodb/delete_airbyte_message_no_schema.json
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/resources/mongodb/delete_no_before_airbyte_message_no_schema.json
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/resources/mongodb/insert_airbyte_message_no_schema.json
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/resources/mongodb/update_airbyte_message_no_schema.json
  airbyte-integrations/connectors/source-mongodb-v2/build.gradle
  airbyte-integrations/connectors/source-mongodb-v2/integration_tests/expected_spec.json
  airbyte-integrations/connectors/source-mongodb-v2/metadata.yaml
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/InitialSnapshotHandler.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoCatalogHelper.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoConstants.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoDbSource.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoDbSourceConfig.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoDbStateIterator.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoUtil.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbCdcInitializer.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbCdcState.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbCdcStateHandler.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/resources/spec.json
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/InitialSnapshotHandlerTest.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/MongoCatalogHelperTest.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/MongoDbSourceConfigTest.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/MongoDbSourceTest.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/MongoDbStateIteratorTest.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/MongoUtilTest.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/resources/schema_discovery_response_schemaless.json
  docs/integrations/sources/mongodb-v2.md
Labels: area/documentation, area/connectors, CDK, connectors/source/bing-ads, connectors/source/mongodb-v2

#33470 rename driverClass into driverClassName
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/JdbcConnector.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestination.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/source/jdbc/AbstractJdbcSource.java
Labels: CDK

#33342 :tada: Source Salesforce new ContentDocumentLink stream
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/source_salesforce/api.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/source.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/streams.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/api_test.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors, connectors/source/salesforce

#32929 Unstructured parser: Support txt
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/unstructured_parser.py
  airbyte-cdk/python/unit_tests/sources/file_based/file_types/test_unstructured_parser.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/unstructured_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/test_file_based_scenarios.py
Labels: CDK

#32655 🎉 New Source: Microsoft OneDrive
  airbyte-integrations/connectors/source-microsoft-onedrive/README.md
  airbyte-integrations/connectors/source-microsoft-onedrive/acceptance-test-config.yml
  airbyte-integrations/connectors/source-microsoft-onedrive/icon.svg
  airbyte-integrations/connectors/source-microsoft-onedrive/integration_tests/__init__.py
  airbyte-integrations/connectors/source-microsoft-onedrive/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-microsoft-onedrive/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-microsoft-onedrive/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-microsoft-onedrive/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-microsoft-onedrive/integration_tests/spec.json
  airbyte-integrations/connectors/source-microsoft-onedrive/main.py
  airbyte-integrations/connectors/source-microsoft-onedrive/metadata.yaml
  airbyte-integrations/connectors/source-microsoft-onedrive/requirements.txt
  airbyte-integrations/connectors/source-microsoft-onedrive/setup.py
  airbyte-integrations/connectors/source-microsoft-onedrive/source_microsoft_onedrive/__init__.py
  airbyte-integrations/connectors/source-microsoft-onedrive/source_microsoft_onedrive/source.py
  airbyte-integrations/connectors/source-microsoft-onedrive/source_microsoft_onedrive/spec.py
  airbyte-integrations/connectors/source-microsoft-onedrive/source_microsoft_onedrive/stream_reader.py
  airbyte-integrations/connectors/source-microsoft-onedrive/unit_tests/__init__.py
  airbyte-integrations/connectors/source-microsoft-onedrive/unit_tests/unit_tests.py
  docs/integrations/sources/microsoft-onedrive.md
Labels: area/documentation, area/connectors, connectors/source/microsoft-onedrive

#33304 CDK: Update changelog
  airbyte-cdk/python/CHANGELOG.md
Labels: CDK

#33411 S3, Google Drive, Azure Blob Storage: Update cdk
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/expected_records/unstructured.jsonl
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/spec.json
  airbyte-integrations/connectors/source-azure-blob-storage/metadata.yaml
  airbyte-integrations/connectors/source-azure-blob-storage/setup.py
  airbyte-integrations/connectors/source-azure-blob-storage/source_azure_blob_storage/config.py
  airbyte-integrations/connectors/source-google-drive/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-google-drive/integration_tests/spec.json
  airbyte-integrations/connectors/source-google-drive/metadata.yaml
  airbyte-integrations/connectors/source-google-drive/setup.py
  airbyte-integrations/connectors/source-google-drive/source_google_drive/spec.py
  airbyte-integrations/connectors/source-s3/integration_tests/cloud_spec.json
  airbyte-integrations/connectors/source-s3/integration_tests/expected_records/unstructured.jsonl
  airbyte-integrations/connectors/source-s3/integration_tests/spec.json
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/setup.py
  airbyte-integrations/connectors/source-s3/source_s3/v4/config.py
  docs/integrations/sources/azure-blob-storage.md
  docs/integrations/sources/google-drive.md
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3, connectors/source/azure-blob-storage, connectors/source/google-drive

#32977 🚨🚨✨Source Amazon Seller Partner: make streams incremental
  airbyte-integrations/connectors/source-amazon-seller-partner/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/future_state.json
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/setup.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/auth.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/config_migrations.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/constants.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_AFN_INVENTORY_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_AFN_INVENTORY_DATA_BY_COUNTRY.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_AMAZON_FULFILLED_SHIPMENTS_DATA_GENERAL.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_BRAND_ANALYTICS_ALTERNATE_PURCHASE_REPORT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_BRAND_ANALYTICS_ITEM_COMPARISON_REPORT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_BRAND_ANALYTICS_MARKET_BASKET_REPORT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_BRAND_ANALYTICS_REPEAT_PURCHASE_REPORT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_BRAND_ANALYTICS_SEARCH_TERMS_REPORT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FLAT_FILE_ALL_ORDERS_DATA_BY_LAST_UPDATE_GENERAL.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FLAT_FILE_ALL_ORDERS_DATA_BY_ORDER_DATE_GENERAL.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_LEDGER_DETAIL_VIEW_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_MERCHANTS_LISTINGS_FYP_REPORT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_V2_SETTLEMENT_REPORT_DATA_FLAT_FILE.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_VENDOR_INVENTORY_REPORT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_VENDOR_NET_PURE_PRODUCT_MARGIN_REPORT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_VENDOR_REAL_TIME_INVENTORY_REPORT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_VENDOR_TRAFFIC_REPORT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/ListFinancialEvents.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/VendorDirectFulfillmentShipping.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/utils.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/conftest.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_analytics_streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_finance_streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_order_streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_reports_streams_settlement_report.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_transform_function.py
  docs/integrations/sources/amazon-seller-partner-migrations.md
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation, area/connectors, connectors/source/amazon-seller-partner, connectors/source/google-search-console

#32614 📄 docs: remove custom registry instructions
  docs/connector-development/testing-connectors/testing-a-local-catalog-in-development.md
  docusaurus/sidebars.js
Labels: area/documentation, connectors/source/bing-ads

#33530 🐛 Source LinkedIn Ads: Fix typo in `Pivot Category` list
  airbyte-integrations/connectors/source-linkedin-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-linkedin-ads/metadata.yaml
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/spec.json
  docs/integrations/sources/linkedin-ads.md
Labels: area/documentation, area/connectors, connectors/source/linkedin-ads

#33539 🐛 Source Microsoft OneDrive: Fix docs name
  docs/integrations/sources/microsoft-onedrive.md
Labels: area/documentation

#33513 java CDK: add debug logging of executed SQL in TestDatabase
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/java/io/airbyte/cdk/testutils/TestDatabase.java
Labels: CDK

#33527 🐛 Source Hubspot: fix query string length for properties with history
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/source_hubspot/helpers.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot

#33546 📚 Destination Redshift docs - update `SUPER` limitations
  docs/integrations/destinations/redshift.md
Labels: area/documentation

#33532 ✨ Source JIRA: Add lookback window
  airbyte-integrations/connectors/source-jira/metadata.yaml
  airbyte-integrations/connectors/source-jira/source_jira/source.py
  airbyte-integrations/connectors/source-jira/source_jira/spec.json
  airbyte-integrations/connectors/source-jira/source_jira/streams.py
  airbyte-integrations/connectors/source-jira/unit_tests/test_streams.py
  docs/integrations/sources/jira.md
Labels: area/documentation, area/connectors, connectors/source/jira

#32979 📚 Docs: add info about custom connectors creation in Airbyte Cloud
  docs/integrations/custom-connectors.md
Labels: area/documentation

#32866 ✨Destination Teradata: Added ENCRYPTDATA=ON for non-TLS connections for airbyte cloud
  airbyte-integrations/connectors/destination-teradata/Dockerfile
  airbyte-integrations/connectors/destination-teradata/metadata.yaml
  airbyte-integrations/connectors/destination-teradata/src/main/java/io/airbyte/integrations/destination/teradata/TeradataDestination.java
  docs/integrations/destinations/teradata.md
Labels: area/documentation, area/connectors, community, connectors/destination/teradata

#33500 :bug: Source Bing Ads: fix state setter for bulk streams
  airbyte-integrations/connectors/source-bing-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-bing-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/bulk_streams.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/report_streams.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_bulk_streams.py
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors, connectors/source/bing-ads

#33578 push hubspot/posthog upgrade deadlines
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-posthog/metadata.yaml
Labels: area/connectors, connectors/source/hubspot, connectors/source/posthog

#33570 Docs: fix typos
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/format/format_command.py
  airbyte-integrations/connectors/destination-amazon-sqs/bootstrap.md
  airbyte-integrations/connectors/source-pardot/pardot.md
  docs/cli-documentation.md
  docs/integrations/sources/azure-table.md
  docs/integrations/sources/pardot.md
  docs/integrations/sources/paypal-transaction-migrations.md
Labels: area/documentation, area/connectors, community, connectors/destination/amazon-sqs, connectors/source/pardot

#33434 java-cdk: remove LEGACY state
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/acceptance-test-harness/src/main/java/io/airbyte/workers/process/AirbyteIntegrationLauncher.java
  airbyte-cdk/java/airbyte-cdk/airbyte-commons/src/main/java/io/airbyte/commons/features/EnvVariableFeatureFlags.java
  airbyte-cdk/java/airbyte-cdk/airbyte-commons/src/main/java/io/airbyte/commons/features/FeatureFlags.java
  airbyte-cdk/java/airbyte-cdk/airbyte-commons/src/main/java/io/airbyte/commons/features/FeatureFlagsWrapper.java
  airbyte-cdk/java/airbyte-cdk/config-models-oss/src/main/java/io/airbyte/configoss/helpers/StateMessageHelper.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/source/relationaldb/AbstractDbSource.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/source/relationaldb/state/StateGeneratorUtils.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/java/io/airbyte/cdk/integrations/source/jdbc/DefaultJdbcSourceAcceptanceTest.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/java/io/airbyte/cdk/integrations/source/relationaldb/AbstractDbSourceTest.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/java/io/airbyte/cdk/integrations/source/jdbc/test/JdbcSourceAcceptanceTest.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/java/io/airbyte/cdk/integrations/standardtest/source/SourceAcceptanceTest.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/java/io/airbyte/cdk/testutils/NonContainer.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/test/java/io/airbyte/cdk/integrations/destination/s3/avro/AvroSerializedBufferTest.java
Labels: CDK, connectors/source/mssql, connectors/source/mongodb-v2

#30924 ✨ Maijet: retrieve subject from messages stream
  airbyte-integrations/connectors/source-mailjet-mail/Dockerfile
  airbyte-integrations/connectors/source-mailjet-mail/metadata.yaml
  airbyte-integrations/connectors/source-mailjet-mail/source_mailjet_mail/manifest.yaml
  docs/integrations/sources/mailjet-mail.md
Labels: area/documentation, area/connectors, community, team/tse, connectors/source/mailjet-mail

#33120 🚨🚨🐛Source Google Ads: upgrade API version to v15
  airbyte-integrations/connectors/source-google-ads/BOOTSTRAP.md
  airbyte-integrations/connectors/source-google-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-google-ads/integration_tests/expected_records_click.jsonl
  airbyte-integrations/connectors/source-google-ads/integration_tests/integration_tests.py
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/setup.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/custom_query_stream.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/google_ads.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/models.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/ad_listing_group_criterion.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/campaign.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/shopping_performance_view.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/utils.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/common.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_custom_query.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_errors.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_google_ads.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_incremental_events_streams.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_models.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_source.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_utils.py
  docs/integrations/sources/google-ads-migrations.md
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, connectors/source/google-ads

#33438 mongo-db-source: upgrade to latest CDK
  airbyte-integrations/connectors/source-mongodb-strict-encrypt/build.gradle
  airbyte-integrations/connectors/source-mongodb-v2/build.gradle
  airbyte-integrations/connectors/source-mongodb-v2/metadata.yaml
  docs/integrations/sources/mongodb-v2.md
Labels: area/documentation, area/connectors, connectors/source/mongodb-v2, connectors/source/mongodb-strict-encrypt

#33365 Emit stream status start message more consistently
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/airbyte-commons/src/main/java/io/airbyte/commons/util/CompositeIterator.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
Labels: CDK

#33484 sources(bigquery, redshift, snowflake): migrate to PER-STREAM state
  airbyte-integrations/connectors/source-bigquery/acceptance-test-config.yml
  airbyte-integrations/connectors/source-bigquery/build.gradle
  airbyte-integrations/connectors/source-bigquery/metadata.yaml
  airbyte-integrations/connectors/source-bigquery/src/main/java/io/airbyte/integrations/source/bigquery/BigQuerySource.java
  airbyte-integrations/connectors/source-redshift/acceptance-test-config.yml
  airbyte-integrations/connectors/source-redshift/build.gradle
  airbyte-integrations/connectors/source-redshift/metadata.yaml
  airbyte-integrations/connectors/source-redshift/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/RedshiftJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-redshift/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/RedshiftSourceOperationsTest.java
  airbyte-integrations/connectors/source-redshift/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/RedshiftSslSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-redshift/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/RedshiftTestDatabase.java
  airbyte-integrations/connectors/source-snowflake/acceptance-test-config.yml
  airbyte-integrations/connectors/source-snowflake/build.gradle
  airbyte-integrations/connectors/source-snowflake/metadata.yaml
  airbyte-integrations/connectors/source-snowflake/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/SnowflakeJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-snowflake/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/SnowflakeSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-snowflake/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/SnowflakeSourceDatatypeTest.java
  airbyte-integrations/connectors/source-snowflake/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/SnowflakeTestDatabase.java
  docs/integrations/sources/bigquery.md
  docs/integrations/sources/redshift.md
  docs/integrations/sources/snowflake.md
Labels: area/documentation, area/connectors, connectors/source/bigquery, connectors/source/redshift, connectors/source/snowflake

#32186 doc update to reflect minimum supported atlas tier.
  docs/integrations/sources/mongodb-v2.md
Labels: area/documentation

#33506 cdk fixes for dv2
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/FlushWorkers.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/JdbcSqlOperations.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/java/io/airbyte/cdk/integrations/standardtest/destination/DestinationAcceptanceTest.java
Labels: CDK

#33431 🐛 Source Convex: full_refresh stops after one page
  airbyte-integrations/connectors/source-convex/Dockerfile
  airbyte-integrations/connectors/source-convex/metadata.yaml
  airbyte-integrations/connectors/source-convex/source_convex/source.py
  airbyte-integrations/connectors/source-convex/unit_tests/test_streams.py
  docs/integrations/sources/convex.md
Labels: area/documentation, area/connectors, community, connectors/source/convex

#33549 [Source-mongo] : Op log logging
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/mongodb/MongoDbDebeziumStateUtil.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/java/io/airbyte/cdk/integrations/debug/DebugUtil.java
  airbyte-integrations/connectors/source-mongodb-v2/build.gradle
  airbyte-integrations/connectors/source-mongodb-v2/metadata.yaml
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbCdcInitializer.java
  docs/integrations/sources/mongodb-v2.md
Labels: area/documentation, area/connectors, CDK, connectors/source/mongodb-v2

#33584 Update full-refresh-overwrite.md
  docs/using-airbyte/core-concepts/sync-modes/full-refresh-overwrite.md
Labels: area/documentation

#27692 🐛 Destination Meilisearch: fix incomplete data indexing
  airbyte-integrations/connectors/destination-meilisearch/Dockerfile
  airbyte-integrations/connectors/destination-meilisearch/destination_meilisearch/destination.py
  airbyte-integrations/connectors/destination-meilisearch/destination_meilisearch/writer.py
  airbyte-integrations/connectors/destination-meilisearch/integration_tests/integration_test.py
  airbyte-integrations/connectors/destination-meilisearch/metadata.yaml
  airbyte-integrations/connectors/destination-meilisearch/unit_tests/unit_test.py
  docs/integrations/destinations/meilisearch.md
Labels: area/documentation, area/connectors, community, connectors/destination/meilisearch

#33551 enterprise upgrades
  docs/enterprise-setup/README.md
  docs/enterprise-setup/implementation-guide.md
  docs/enterprise-setup/upgrading-from-community.md
  docusaurus/sidebars.js
Labels: area/documentation

#33468 Destination mysql: fix tests + upgrade to latest CDK
  airbyte-integrations/connectors/destination-mysql-strict-encrypt/build.gradle
  airbyte-integrations/connectors/destination-mysql-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/destination-mysql-strict-encrypt/src/test-integration/java/io/airbyte/integrations/destination/mysql/MySQLStrictEncryptDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mysql/build.gradle
  airbyte-integrations/connectors/destination-mysql/metadata.yaml
  airbyte-integrations/connectors/destination-mysql/src/main/java/io/airbyte/integrations/destination/mysql/MySQLDestination.java
  airbyte-integrations/connectors/destination-mysql/src/main/java/io/airbyte/integrations/destination/mysql/MySQLSqlOperations.java
  airbyte-integrations/connectors/destination-mysql/src/test-integration/java/io/airbyte/integrations/destination/mysql/MySQLDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mysql/src/test-integration/java/io/airbyte/integrations/destination/mysql/SshMySQLDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mysql/src/test-integration/java/io/airbyte/integrations/destination/mysql/SshPasswordMySQLDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mysql/src/test-integration/java/io/airbyte/integrations/destination/mysql/SslMySQLDestinationAcceptanceTest.java
  docs/integrations/destinations/mysql.md
Labels: area/documentation, area/connectors, connectors/destination/mysql, connectors/destination/mysql-strict-encrypt, checklist-action-run

#33507 Destination Postgres - fix tests
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/build.gradle
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/src/test-integration/java/io/airbyte/integrations/destination/postgres/PostgresDestinationStrictEncryptAcceptanceTest.java
  airbyte-integrations/connectors/destination-postgres/build.gradle
  airbyte-integrations/connectors/destination-postgres/metadata.yaml
  airbyte-integrations/connectors/destination-postgres/src/main/java/io/airbyte/integrations/destination/postgres/PostgresDestination.java
  airbyte-integrations/connectors/destination-postgres/src/main/java/io/airbyte/integrations/destination/postgres/PostgresSqlOperations.java
  airbyte-integrations/connectors/destination-postgres/src/test-integration/java/io/airbyte/integrations/destination/postgres/PostgresDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-postgres/src/test-integration/java/io/airbyte/integrations/destination/postgres/PostgresDestinationSSLFullCertificateAcceptanceTest.java
  airbyte-integrations/connectors/destination-postgres/src/test-integration/java/io/airbyte/integrations/destination/postgres/SshPasswordPostgresDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-postgres/src/test-integration/java/io/airbyte/integrations/destination/postgres/SshPostgresDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-postgres/src/test/java/io/airbyte/integrations/destination/postgres/PostgresDestinationTest.java
  airbyte-integrations/connectors/destination-postgres/src/testFixtures/java/io/airbyte/integrations/destination/postgres/AbstractPostgresDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-postgres/src/testFixtures/java/io/airbyte/integrations/destination/postgres/PostgresContainerFactory.java
  airbyte-integrations/connectors/destination-postgres/src/testFixtures/java/io/airbyte/integrations/destination/postgres/PostgresTestDataComparator.java
  airbyte-integrations/connectors/destination-postgres/src/testFixtures/java/io/airbyte/integrations/destination/postgres/PostgresTestDatabase.java
  docs/integrations/destinations/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres, connectors/destination/postgres, connectors/destination/postgres-strict-encrypt

#31627 docs: add troubleshooting tip about CDK dependency caches
  airbyte-cdk/java/airbyte-cdk/README.md
Labels: CDK

#33619 Teradata cloud release - Addressed review comment about docker
  airbyte-integrations/connectors/destination-teradata/Dockerfile
Labels: area/connectors, community, connectors/destination/teradata

#33414 Prepare Google Sheets, Google Drive, Apify dataset and connector templates for airbyte-lib
  airbyte-integrations/connector-templates/source-python-http-api/main.py.hbs
  airbyte-integrations/connector-templates/source-python-http-api/setup.py.hbs
  airbyte-integrations/connector-templates/source-python-http-api/source_{{snakeCase name}}/run.py.hbs
  airbyte-integrations/connector-templates/source-python/main.py.hbs
  airbyte-integrations/connector-templates/source-python/setup.py.hbs
  airbyte-integrations/connector-templates/source-python/source_{{snakeCase name}}/run.py.hbs
  airbyte-integrations/connectors/source-apify-dataset/Dockerfile
  airbyte-integrations/connectors/source-apify-dataset/main.py
  airbyte-integrations/connectors/source-apify-dataset/metadata.yaml
  airbyte-integrations/connectors/source-apify-dataset/setup.py
  airbyte-integrations/connectors/source-apify-dataset/source_apify_dataset/run.py
  airbyte-integrations/connectors/source-google-drive/main.py
  airbyte-integrations/connectors/source-google-drive/metadata.yaml
  airbyte-integrations/connectors/source-google-drive/setup.py
  airbyte-integrations/connectors/source-google-drive/source_google_drive/run.py
  airbyte-integrations/connectors/source-google-sheets/main.py
  airbyte-integrations/connectors/source-google-sheets/metadata.yaml
  airbyte-integrations/connectors/source-google-sheets/setup.py
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/run.py
  docs/integrations/sources/apify-dataset.md
  docs/integrations/sources/google-drive.md
  docs/integrations/sources/google-sheets.md
Labels: area/documentation, area/connectors, connectors/source/apify-dataset, connectors/source/google-sheets, connectors/source/google-drive
