Repository airbytehq/airbyte, pull requests merged in 2023-11, with the labels that each got.

#32035 Source Hubspot, LinkedIn Ads, Shopify: fix builds
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/forms.json
  airbyte-integrations/connectors/source-linkedin-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-shopify/acceptance-test-config.yml
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot, connectors/source/shopify, connectors/source/linkedin-ads

#32037 Milvus: Improve code sample in documentation
  docs/integrations/destinations/milvus.md
Labels: area/documentation

#32017 Vector DB CDK: Prevent negative chunk size
  airbyte-cdk/python/airbyte_cdk/destinations/vector_db_based/config.py
Labels: CDK

#32032 ✨ Source Mailchimp: Add ListMembers stream
  airbyte-integrations/connectors/source-mailchimp/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-mailchimp/integration_tests/configured_catalog_without_email_activities.json
  airbyte-integrations/connectors/source-mailchimp/integration_tests/state.json
  airbyte-integrations/connectors/source-mailchimp/metadata.yaml
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/list_members.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/source.py
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/streams.py
  airbyte-integrations/connectors/source-mailchimp/unit_tests/test_source.py
  airbyte-integrations/connectors/source-mailchimp/unit_tests/test_streams.py
  docs/integrations/sources/mailchimp.md
Labels: area/documentation, area/connectors, connectors/source/mailchimp

#32055 improve changelog
  airbyte-cdk/python/CHANGELOG.md
Labels: CDK

#32024 Bump DBZ version from 2.2.0 -> 2.4.0 for mssql, mysql
  airbyte-integrations/connectors/source-mssql-strict-encrypt/build.gradle
  airbyte-integrations/connectors/source-mssql-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mysql-strict-encrypt/build.gradle
  airbyte-integrations/connectors/source-mysql-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  docs/integrations/sources/mssql.md
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, connectors/source/mssql, connectors/source/mysql, connectors/source/postgres, connectors/source/mssql-strict-encrypt, connectors/source/mysql-strict-encrypt

#32065 update doc
  docs/contributing-to-airbyte/resources/developing-locally.md
Labels: area/documentation

#32068 source-postgres : Bump deebezium version 2.2.0 -> 2.4.0
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CloudDeploymentPostgresSourceTest.java
  deps.toml
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres

#32028 ✨URL encode username and password fields
  airbyte-cdk/python/CHANGELOG.md
  airbyte-integrations/connectors/source-mongodb-v2/build.gradle
  airbyte-integrations/connectors/source-mongodb-v2/metadata.yaml
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoConnectionUtils.java
  airbyte-integrations/connectors/source-mssql-strict-encrypt/build.gradle
  airbyte-integrations/connectors/source-mssql-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mysql-strict-encrypt/build.gradle
  airbyte-integrations/connectors/source-mysql-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  docs/integrations/sources/mongodb-v2.md
  docs/integrations/sources/mssql.md
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, CDK, connectors/source/mssql, connectors/source/mysql, connectors/source/mongodb-v2, connectors/source/mssql-strict-encrypt, connectors/source/mysql-strict-encrypt

#32077 Revert "Automated Commit - Formatting Changes"
  airbyte-cdk/python/CHANGELOG.md
  airbyte-integrations/connectors/source-mssql-strict-encrypt/build.gradle
  airbyte-integrations/connectors/source-mssql-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mysql-strict-encrypt/build.gradle
  airbyte-integrations/connectors/source-mysql-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  docs/integrations/sources/mssql.md
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, CDK, connectors/source/mssql, connectors/source/mysql, connectors/source/mssql-strict-encrypt, connectors/source/mysql-strict-encrypt

#32062 improve datatype test error message
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/java/io/airbyte/cdk/integrations/standardtest/source/AbstractSourceDatabaseTypeTest.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/java/io/airbyte/cdk/integrations/standardtest/source/TestDataHolder.java
Labels: CDK, connectors/source/postgres

#32027 ✨ Source Bing Ads: Add new stream: `AdGroupImpressionPerformanceReport` (daily, hourly, weekly, monthly)
  airbyte-integrations/connectors/source-bing-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-bing-ads/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-bing-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/setup.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/ad_group_impression_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/ad_group_impression_performance_report_hourly.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/source.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/streams.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_source.py
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors, connectors/source/bing-ads

#31899 🐛 Source Notion: fix `table_row.cells` property in `Blocks` stream
  airbyte-integrations/connectors/source-notion/acceptance-test-config.yml
  airbyte-integrations/connectors/source-notion/metadata.yaml
  airbyte-integrations/connectors/source-notion/source_notion/schemas/blocks.json
  docs/integrations/sources/notion.md
Labels: area/documentation, area/connectors, connectors/source/notion

#32064 Source+Destination heartbeat docs
  docs/understanding-airbyte/heartbeats.md
Labels: area/documentation

#32084 Update pokeapi.md fix formatting
  docs/integrations/sources/pokeapi.md
Labels: area/documentation

#32038 Weaviate: Add retry
  airbyte-integrations/connectors/destination-weaviate/destination_weaviate/indexer.py
  airbyte-integrations/connectors/destination-weaviate/metadata.yaml
  docs/integrations/destinations/weaviate.md
Labels: area/documentation, area/connectors, connectors/destination/weaviate

#31997 File CDK unstructured parser: Improve file type detection
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/unstructured_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/remote_file.py
  airbyte-cdk/python/unit_tests/sources/file_based/file_types/test_unstructured_parser.py
  airbyte-cdk/python/unit_tests/sources/file_based/in_memory_files_source.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/unstructured_scenarios.py
Labels: CDK

#32085 Source Facebook Marketing, LinkedIn Ads, Zendesk Support: fix builds
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-linkedin-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/facebook-marketing, connectors/source/linkedin-ads, connectors/source/zendesk-support, checklist-action-run

#31458 ✨ Google Drive Source
  airbyte-integrations/connectors/source-google-drive/.dockerignore
  airbyte-integrations/connectors/source-google-drive/README.md
  airbyte-integrations/connectors/source-google-drive/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-drive/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-google-drive/examples/configured_catalog.json
  airbyte-integrations/connectors/source-google-drive/examples/state.json
  airbyte-integrations/connectors/source-google-drive/icon.svg
  airbyte-integrations/connectors/source-google-drive/integration_tests/__init__.py
  airbyte-integrations/connectors/source-google-drive/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-google-drive/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-google-drive/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-google-drive/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-google-drive/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-google-drive/integration_tests/spec.json
  airbyte-integrations/connectors/source-google-drive/main.py
  airbyte-integrations/connectors/source-google-drive/metadata.yaml
  airbyte-integrations/connectors/source-google-drive/requirements.txt
  airbyte-integrations/connectors/source-google-drive/setup.py
  airbyte-integrations/connectors/source-google-drive/source_google_drive/__init__.py
  airbyte-integrations/connectors/source-google-drive/source_google_drive/source.py
  airbyte-integrations/connectors/source-google-drive/source_google_drive/spec.py
  airbyte-integrations/connectors/source-google-drive/source_google_drive/stream_reader.py
  airbyte-integrations/connectors/source-google-drive/unit_tests/test_reader.py
  docs/integrations/sources/google-drive.md
Labels: area/documentation, area/connectors, connectors/source/google-drive

#32056 :bug: source-stripe: Use latest CDK version and pin the version
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/setup.py
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, connectors/source/stripe

#32093 Revert "Remove reference page from low-code docs"
  docs/connector-development/config-based/advanced-topics.md
  docs/connector-development/config-based/low-code-cdk-overview.md
  docs/connector-development/config-based/understanding-the-yaml-file/reference.md
  docs/connector-development/connector-builder-ui/incremental-sync.md
  docs/connector-development/connector-builder-ui/pagination.md
  docs/connector-development/connector-builder-ui/partitioning.md
  docs/connector-development/connector-builder-ui/tutorial.mdx
  docusaurus/sidebars.js
Labels: area/documentation

#32040 CDK: Fix class SessionTokenAuthenticator for CLASS_TYPES_REGISTRY mapper
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/class_types_registry.py
Labels: CDK

#31986 update helm repo example output
  docs/deploying-airbyte/on-kubernetes-via-helm.md
Labels: area/documentation

#31983 Destinations bigquery+snowflake: better sentry error grouping
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/base/AirbyteExceptionHandler.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/base/AirbyteTraceMessageUtility.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/core/src/test/java/io/airbyte/cdk/integrations/base/AirbyteExceptionHandlerTest.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/CatalogParser.java
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDestination.java
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeDestinationRunner.java
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/bigquery, connectors/destination/snowflake, checklist-action-run

#32094 🐛 Source Google Analytics Data API: Add handling for `JSONDecodeError` while checking for `api qouta` limits
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/api_quota.py
  docs/integrations/sources/google-analytics-data-api.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-data-api

#32118 update CDK to export the proper API packages, fix warnings
  airbyte-cdk/java/airbyte-cdk/acceptance-test-harness/build.gradle
  airbyte-cdk/java/airbyte-cdk/airbyte-api/build.gradle
  airbyte-cdk/java/airbyte-cdk/airbyte-commons-protocol/build.gradle
  airbyte-cdk/java/airbyte-cdk/airbyte-commons/build.gradle
  airbyte-cdk/java/airbyte-cdk/airbyte-commons/src/main/java/io/airbyte/commons/util/MoreIterators.java
  airbyte-cdk/java/airbyte-cdk/config-models-oss/build.gradle
  airbyte-cdk/java/airbyte-cdk/core/build.gradle
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-destinations/build.gradle
  airbyte-cdk/java/airbyte-cdk/db-sources/build.gradle
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/source/relationaldb/state/AbstractStateManager.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/source/relationaldb/state/StateManager.java
Labels: CDK

#32123 fix flaky test
  airbyte-cdk/java/airbyte-cdk/core/src/test/java/io/airbyte/cdk/integrations/destination/s3/avro/AvroSerializedBufferTest.java
Labels: CDK

#32127 Source Shopify, Source Salesforce: fix builds
  airbyte-integrations/connectors/source-salesforce/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-shopify/acceptance-test-config.yml
Labels: area/connectors, connectors/source/shopify, connectors/source/salesforce, checklist-action-run

#32091 🐛 Source TikTok Marketing: Fix incremental syncs; update docs; fix field type of preview_url_expire_time to date-time
  airbyte-integrations/connectors/source-tiktok-marketing/acceptance-test-config.yml
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-tiktok-marketing/metadata.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/creative_assets_videos.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/streams.py
  docs/integrations/sources/tiktok-marketing.md
Labels: area/documentation, area/connectors, connectors/source/tiktok-marketing

#32088 :sparkles: Source Bing Ads: increase unit test coverage + config error
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/source.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/app_install_ads_base.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_client.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_source.py
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors, connectors/source/bing-ads, team/connectors-python

#32134 Weaviate: Update weaviate client library
  airbyte-integrations/connectors/destination-weaviate/metadata.yaml
  airbyte-integrations/connectors/destination-weaviate/setup.py
  docs/integrations/destinations/weaviate.md
Labels: area/documentation, area/connectors, connectors/destination/weaviate

#32059 ✨ Source Bing Ads: add new stream `Campaign Impression Performance Report` (daily, hourly, weekly, monthly)
  airbyte-integrations/connectors/source-bing-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-bing-ads/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-bing-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/reports.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/campaign_impression_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/campaign_impression_performance_report_hourly.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/source.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/streams.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_reports.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_source.py
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors, connectors/source/bing-ads

#32132 🐛 Source Recharge: reduce `period in days` for `subsciptions` stream to avoid `504 - Gateway Timeout` error
  airbyte-integrations/connectors/source-recharge/Dockerfile
  airbyte-integrations/connectors/source-recharge/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-recharge/metadata.yaml
  airbyte-integrations/connectors/source-recharge/source_recharge/api.py
  docs/integrations/sources/recharge.md
Labels: area/documentation, area/connectors, connectors/source/recharge, team/connectors-python

#29038 Fix typo (Airbtye => Airbyte)
  airbyte-ci/connectors/metadata_service/orchestrator/tests/fixtures/cloud_registry.json
  airbyte-ci/connectors/metadata_service/orchestrator/tests/fixtures/oss_registry.json
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/resources/spec.json
  airbyte-integrations/connectors/source-postgres/src/test-integration/resources/expected_cloud_deployment_spec.json
  airbyte-integrations/connectors/source-postgres/src/test-integration/resources/expected_spec.json
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres, connectors/source/postgres-strict-encrypt, checklist-action-run

#32108 gradle: test task configuration changes
  airbyte-cdk/java/airbyte-cdk/airbyte-commons/src/main/resources/log4j2-test.xml
  airbyte-cdk/java/airbyte-cdk/config-models-oss/build.gradle
  airbyte-cdk/java/airbyte-cdk/core/src/test/java/io/airbyte/cdk/integrations/base/AirbyteLogMessageTemplateTest.java
  airbyte-cdk/java/airbyte-cdk/db-sources/build.gradle
  airbyte-integrations/connectors/destination-mssql-strict-encrypt/gradle.properties
  airbyte-integrations/connectors/destination-mssql/gradle.properties
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/gradle.properties
  airbyte-integrations/connectors/destination-postgres/gradle.properties
  airbyte-integrations/connectors/destination-snowflake/gradle.properties
  build.gradle
  buildSrc/src/main/groovy/airbyte-integration-test-java.gradle
  buildSrc/src/main/groovy/airbyte-python.gradle
Labels: area/connectors, CDK, connectors/destination/snowflake, connectors/destination/mssql, connectors/destination/postgres, connectors/destination/postgres-strict-encrypt, connectors/destination/mssql-strict-encrypt

#31114 ✨ Source Asana: Add Portfolios stream
  airbyte-integrations/connectors/source-asana/Dockerfile
  airbyte-integrations/connectors/source-asana/acceptance-test-config.yml
  airbyte-integrations/connectors/source-asana/metadata.yaml
  airbyte-integrations/connectors/source-asana/source_asana/schemas/portfolios.json
  airbyte-integrations/connectors/source-asana/source_asana/schemas/portfolios_compact.json
  airbyte-integrations/connectors/source-asana/source_asana/schemas/projects_compact.json
  airbyte-integrations/connectors/source-asana/source_asana/source.py
  airbyte-integrations/connectors/source-asana/source_asana/streams.py
  docs/integrations/sources/asana.md
Labels: area/documentation, area/connectors, community, connectors/source/asana, topic/new-stream, hackathon-2023-10

#32149 🐛 Source Google Analytics Data API: Fixed bug with missing `metadata` when the credntials are not valid
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/source.py
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_source.py
  docs/integrations/sources/google-analytics-data-api.md
Labels: area/documentation, area/connectors, team/connectors-python, connectors/source/google-analytics-data-api

#31265 :bug:Source Posthog: Fix Connector Date Formatting Error
  airbyte-integrations/connectors/source-posthog/Dockerfile
  airbyte-integrations/connectors/source-posthog/metadata.yaml
  airbyte-integrations/connectors/source-posthog/source_posthog/manifest.yaml
  docs/integrations/sources/posthog.md
Labels: type/bug, area/documentation, area/connectors, community, gl, connectors/source/posthog, team/connectors-python, hackathon-2023-10

#32159 Source Braze: fix tests
  airbyte-integrations/connectors/source-braze/Dockerfile
  airbyte-integrations/connectors/source-braze/acceptance-test-config.yml
  airbyte-integrations/connectors/source-braze/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-braze/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-braze/integration_tests/configured_catalog_incremental.json
  airbyte-integrations/connectors/source-braze/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-braze/integration_tests/minimal.json
  airbyte-integrations/connectors/source-braze/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-braze/metadata.yaml
  airbyte-integrations/connectors/source-braze/setup.py
  airbyte-integrations/connectors/source-braze/source_braze/components.py
  airbyte-integrations/connectors/source-braze/source_braze/datetime_incremental_sync.py
  airbyte-integrations/connectors/source-braze/source_braze/manifest.yaml
  airbyte-integrations/connectors/source-braze/source_braze/schemas/TODO.md
  airbyte-integrations/connectors/source-braze/source_braze/schemas/segments_analytics.json
  airbyte-integrations/connectors/source-braze/unit_tests/test_datetime_incremental_sync.py
  airbyte-integrations/connectors/source-braze/unit_tests/test_transformations.py
  docs/integrations/sources/braze.md
Labels: area/documentation, area/connectors, connectors/source/braze

#32124 Destination snowflake: Revert merge statement
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGenerator.java
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/snowflake

#31607 :bug:Source Braze: Fix CanvasAnalytics Stream Null Data for step_stats, variant_stats
  airbyte-integrations/connectors/source-braze/Dockerfile
  airbyte-integrations/connectors/source-braze/metadata.yaml
  airbyte-integrations/connectors/source-braze/source_braze/manifest.yaml
  airbyte-integrations/connectors/source-braze/source_braze/schemas/canvases_analytics.json
  docs/integrations/sources/braze.md
Labels: type/bug, area/documentation, area/connectors, community, gl, team/connectors-python, connectors/source/braze, hackathon-2023-10

#32173 source-postgres: use CDK 0.4.0
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresQueryUtils.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres

#32175 source-mssql*: use CDK 0.4.0
  airbyte-integrations/connectors/source-mssql-strict-encrypt/build.gradle
  airbyte-integrations/connectors/source-mssql/build.gradle
Labels: area/connectors, connectors/source/mssql, connectors/source/mssql-strict-encrypt

#32176 source-mongodb-v2: use CDK 0.4.0
  airbyte-integrations/connectors/source-mongodb-v2/build.gradle
Labels: area/connectors, connectors/source/mongodb-v2

#32177 destination-snowflake: use CDK 0.4.0
  airbyte-integrations/connectors/destination-snowflake/build.gradle
Labels: area/connectors, connectors/destination/snowflake

#32178 destination-s3: use CDK 0.4.0, fix broken lzo dep
  airbyte-integrations/connectors/destination-s3/build.gradle
  airbyte-integrations/connectors/destination-s3/finalize_build.sh
  airbyte-integrations/connectors/destination-s3/metadata.yaml
  docs/integrations/destinations/s3.md
Labels: area/documentation, area/connectors, connectors/destination/s3

#32179 destination-redshift: use CDK 0.4.0
  airbyte-integrations/connectors/destination-redshift/build.gradle
Labels: area/connectors, connectors/destination/redshift

#32180 destination-bigquery: use CDK 0.4.0
  airbyte-integrations/connectors/destination-bigquery/build.gradle
Labels: area/connectors, connectors/destination/bigquery

#32183 Destination Bigquery: delete unused methods
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGenerator.java
Labels: area/connectors, connectors/destination/bigquery

#31955 🚨🚨🐛 Source Mixapanel: Delete default primary key for Export stream
  airbyte-integrations/connectors/source-mixpanel/integration_tests/configured_catalog_incremental.json
  airbyte-integrations/connectors/source-mixpanel/metadata.yaml
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams/export.py
  docs/integrations/sources/mixpanel-migrations.md
  docs/integrations/sources/mixpanel.md
Labels: area/documentation, area/connectors, connectors/source/mixpanel

#32192 bump cdk version to 0.4.1 to fix bad 0.4.0 release
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
Labels: CDK

#32187 🪓 source-salesforce-singer: Delete empty source-salesforce-singer
  airbyte-integrations/connectors/source-salesforce-singer/metadata.yaml
Labels: area/connectors, connectors/source/salesforce-singer

#32174 source-mysql: use CDK 0.4.1
  airbyte-integrations/connectors/source-mysql-strict-encrypt/build.gradle
  airbyte-integrations/connectors/source-mysql/build.gradle
Labels: area/connectors, connectors/source/mysql, connectors/source/mysql-strict-encrypt

#32194 cdk:db-sources: fix flaky test by using correct offset
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/java/io/airbyte/cdk/integrations/debezium/internals/PostgresDebeziumStateUtilTest.java
Labels: CDK

#32193 update CDK to 0.4.1
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-redshift/build.gradle
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-s3/build.gradle
  airbyte-integrations/connectors/destination-s3/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/source-mongodb-v2/build.gradle
  airbyte-integrations/connectors/source-mongodb-v2/metadata.yaml
  airbyte-integrations/connectors/source-mssql-strict-encrypt/build.gradle
  airbyte-integrations/connectors/source-mssql-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/redshift.md
  docs/integrations/destinations/s3.md
  docs/integrations/destinations/snowflake.md
  docs/integrations/sources/mongodb-v2.md
  docs/integrations/sources/mssql.md
  docs/integrations/sources/mysql.md
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, connectors/destination/snowflake, connectors/destination/redshift, connectors/destination/s3, connectors/source/mssql, connectors/source/mysql, connectors/source/postgres, connectors/source/mongodb-v2, connectors/source/mssql-strict-encrypt

#31857 Source Braze: Add Campaigns, Canvases, Segments Details Streams
  airbyte-integrations/connectors/source-braze/Dockerfile
  airbyte-integrations/connectors/source-braze/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-braze/integration_tests/minimal.json
  airbyte-integrations/connectors/source-braze/metadata.yaml
  airbyte-integrations/connectors/source-braze/source_braze/manifest.yaml
  airbyte-integrations/connectors/source-braze/source_braze/schemas/campaigns_details.json
  airbyte-integrations/connectors/source-braze/source_braze/schemas/canvases_details.json
  airbyte-integrations/connectors/source-braze/source_braze/schemas/segments_details.json
  docs/integrations/sources/braze.md
Labels: area/documentation, area/connectors, community, connectors/source/braze, hackathon-2023-10

#32131 :sparkles: Source Bing Ads: add foreign keys
  airbyte-integrations/connectors/source-bing-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/ad_groups.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/ads.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/campaigns.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/streams.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_source.py
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors, connectors/source/bing-ads

#32148 :bug: Source Bing Ads: unexpected fields
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/ads.json
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors, connectors/source/bing-ads

#32000 :sparkles: Source Bing-Ads: update docs
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  docs/integrations/sources/bing-ads.inapp.md
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors, connectors/source/bing-ads, team/connectors-python

#32128 🚨🚨✨Source Klaviyo: Migrate to API version '2023-10-15'
  airbyte-integrations/connectors/source-klaviyo/acceptance-test-config.yml
  airbyte-integrations/connectors/source-klaviyo/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-klaviyo/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-klaviyo/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-klaviyo/metadata.yaml
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/availability_strategy.py
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/exceptions.py
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/schemas/campaigns.json
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/schemas/email_templates.json
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/schemas/events.json
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/schemas/flows.json
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/schemas/global_exclusions.json
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/schemas/lists.json
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/schemas/metrics.json
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/source.py
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/streams.py
  airbyte-integrations/connectors/source-klaviyo/unit_tests/test_latest_streams.py
  airbyte-integrations/connectors/source-klaviyo/unit_tests/test_source.py
  airbyte-integrations/connectors/source-klaviyo/unit_tests/test_streams.py
  docs/integrations/sources/klaviyo-migrations.md
  docs/integrations/sources/klaviyo.md
Labels: area/documentation, area/connectors, connectors/source/klaviyo

#32154 Run license check on repo
  airbyte-cdk/python/airbyte_cdk/utils/analytics_message.py
  airbyte-ci/connectors/pipelines/pipelines/cli/click_decorators.py
  airbyte-ci/connectors/pipelines/pipelines/cli/lazy_group.py
  airbyte-ci/connectors/pipelines/pipelines/models/contexts/click_pipeline_context.py
  airbyte-ci/connectors/pipelines/pipelines/models/singleton.py
  airbyte-ci/connectors/pipelines/tests/test_cli/test_click_decorators.py
  airbyte-ci/connectors/pipelines/tests/test_models/test_click_pipeline_context.py
  airbyte-ci/connectors/pipelines/tests/test_models/test_singleton.py
  airbyte-integrations/connectors/source-azure-blob-storage/source_azure_blob_storage/stream_reader.py
  airbyte-integrations/connectors/source-azure-blob-storage/unit_tests/unit_tests.py
  airbyte-integrations/connectors/source-github/unit_tests/conftest.py
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-s3/source_s3/v4/zip_reader.py
  airbyte-integrations/connectors/source-s3/unit_tests/v4/test_zip_reader.py
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/conftest.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/conftest.py
Labels: area/connectors, CDK, connectors/source/github, connectors/source/linkedin-ads, connectors/source/s3, connectors/source/tiktok-marketing, connectors/source/zendesk-support, connectors/source/azure-blob-storage

#31110 ✨Source Asana: Add new stream Portfolio Memberships
  airbyte-integrations/connectors/source-asana/Dockerfile
  airbyte-integrations/connectors/source-asana/acceptance-test-config.yml
  airbyte-integrations/connectors/source-asana/metadata.yaml
  airbyte-integrations/connectors/source-asana/source_asana/schemas/portfolios_memberships.json
  airbyte-integrations/connectors/source-asana/source_asana/schemas/projects_compact.json
  airbyte-integrations/connectors/source-asana/source_asana/source.py
  airbyte-integrations/connectors/source-asana/source_asana/streams.py
  docs/integrations/sources/asana.md
Labels: area/documentation, area/connectors, community, connectors/source/asana, topic/new-stream, hackathon-2023-10

#31147 :bug: Source-pipedrive: Use custom record extractor to handle records with null data
  airbyte-integrations/connectors/source-pipedrive/Dockerfile
  airbyte-integrations/connectors/source-pipedrive/metadata.yaml
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/extractor.py
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/manifest.yaml
  airbyte-integrations/connectors/source-pipedrive/unit_tests/__init__.py
  airbyte-integrations/connectors/source-pipedrive/unit_tests/test_extractor.py
  docs/integrations/sources/pipedrive.md
Labels: area/documentation, area/connectors, connectors/source/pipedrive, checklist-action-run

#32190 Destination bigquery + snowflake: Further error grouping improvements
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/base/AirbyteExceptionHandler.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/core/src/test/java/io/airbyte/cdk/integrations/base/AirbyteExceptionHandlerTest.java
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDestination.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryUtils.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQueryDestinationHandler.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/uploader/AbstractBigQueryUploader.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/writer/BigQueryTableWriter.java
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/bigquery, connectors/destination/snowflake

#32208 Remove old normalization guide for building connectors
  docs/connector-development/README.md
Labels: area/documentation

#32201 🐛 Source Bing Ads: Skip broken CSV report files
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/streams.py
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors, connectors/source/bing-ads

#31973 📚 Update docs on writing docs
  docs/contributing-to-airbyte/writing-docs.md
Labels: area/documentation

#31531 [Source-Mssql] Assess and map all SQLServer supported datatypes to the correct JDBC and Airbyte types for Standard and CDC mode
  airbyte-integrations/connectors/source-mssql-strict-encrypt/build.gradle
  airbyte-integrations/connectors/source-mssql-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-mssql-strict-encrypt/src/test/java/io/airbyte/integrations/source/mssql_strict_encrypt/MssqlStrictEncryptJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSourceOperations.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/AbstractMssqlSourceDatatypeTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceDatatypeTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/SslEnabledMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/MssqlJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/MssqlSourceTest.java
  docs/integrations/sources/mssql-migrations.md
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, connectors/source/mssql, connectors/source/mssql-strict-encrypt, breaking-change

#32026 Destinations BigQuery and Snowflake - Move SAFE/TRY casting to seperate transaction
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/java/io/airbyte/cdk/integrations/debezium/internals/PostgresDebeziumStateUtilTest.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/DefaultTyperDeduper.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/SqlGenerator.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/TypeAndDedupeTransaction.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/test/java/io/airbyte/integrations/base/destination/typing_deduping/DefaultTyperDeduperTest.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/test/java/io/airbyte/integrations/base/destination/typing_deduping/MockSqlGenerator.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/java/io/airbyte/integrations/base/destination/typing_deduping/BaseSqlGeneratorIntegrationTest.java
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGenerator.java
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGenerator.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeV2TableMigrator.java
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/bigquery, connectors/destination/snowflake

#32189 mysql doc rewrite
  docs/integrations/sources/mysql.md
  docs/integrations/sources/mysql/assets/airbyte_mysql_source.png
  docs/integrations/sources/mysql/mysql-troubleshooting.md
  docusaurus/sidebars.js
Labels: area/documentation

#32119 [java-cdk] : Add UUID codecs to custom registry for MongoDB
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/mongodb/MongoDbCdcEventUtils.java
Labels: CDK, connectors/source/mongodb-v2

#32211 🧹 update connectors templates to reflect airbyte-ci introduction
  airbyte-integrations/connector-templates/connector_acceptance_test_files/acceptance-test-docker.sh
  airbyte-integrations/connector-templates/destination-java/Dockerfile.hbs
  airbyte-integrations/connector-templates/destination-java/README.md.hbs
  airbyte-integrations/connector-templates/source-configuration-based/README.md.hbs
  airbyte-integrations/connector-templates/source-java-jdbc/Dockerfile
  airbyte-integrations/connector-templates/source-java-jdbc/README.md
  airbyte-integrations/connector-templates/source-java-jdbc/acceptance-test-docker.sh
  airbyte-integrations/connector-templates/source-python-http-api/README.md.hbs
  airbyte-integrations/connector-templates/source-python/README.md.hbs
  airbyte-integrations/connectors/source-scaffold-java-jdbc/Dockerfile
  airbyte-integrations/connectors/source-scaffold-java-jdbc/README.md
  airbyte-integrations/connectors/source-scaffold-java-jdbc/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-scaffold-java-jdbc/build.gradle
  airbyte-integrations/connectors/source-scaffold-source-http/README.md
  airbyte-integrations/connectors/source-scaffold-source-http/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-scaffold-source-python/README.md
  airbyte-integrations/connectors/source-scaffold-source-python/acceptance-test-docker.sh
Labels: area/connectors, connectors/source/scaffold-java-jdbc, connectors/source/scaffold-source-http, connectors/source/scaffold-source-python

#32228 Destination s3: pin cloud to 0.5.1
  airbyte-integrations/connectors/destination-s3/metadata.yaml
  docs/integrations/destinations/s3.md
Labels: area/documentation, area/connectors, connectors/destination/s3

#32250 [source-mongodb-v2] : Add support to read UUIDs
  airbyte-integrations/connectors/source-mongodb-v2/build.gradle
  airbyte-integrations/connectors/source-mongodb-v2/metadata.yaml
  docs/integrations/sources/mongodb-v2.md
Labels: area/documentation, area/connectors, connectors/source/mongodb-v2

#32238 Update docs on writing docs
  docs/contributing-to-airbyte/writing-docs.md
Labels: area/documentation

#32150 Fix ordering of postgres doc in sidebar
  docs/integrations/sources/sap-fieldglass.md
  docusaurus/sidebars.js
Labels: area/documentation

#31990 Release Notes for September & October 2023
  docs/release_notes/october_2023.md
  docs/release_notes/september_2023.md
  docusaurus/sidebars.js
Labels: area/documentation

#31481 🐛Source Square: Fix Duplicate Records in Payments and Refunds Streams
  airbyte-integrations/connectors/source-square/Dockerfile
  airbyte-integrations/connectors/source-square/metadata.yaml
  airbyte-integrations/connectors/source-square/source_square/manifest.yaml
  docs/integrations/sources/square.md
Labels: type/bug, area/documentation, area/connectors, community, gl, connectors/source/square, team/connectors-python, hackathon-2023-10

#31628 Airbyte-ci: Add ClickPipelineContext and update test to use
  airbyte-ci/connectors/pipelines/README.md
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/connectors/build_image/commands.py
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/connectors/bump_version/commands.py
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/connectors/commands.py
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/connectors/context.py
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/connectors/migrate_to_base_image/commands.py
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/connectors/reports.py
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/connectors/test/steps/common.py
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/connectors/upgrade_base_image/commands.py
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/steps/docker.py
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/steps/gradle.py
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/steps/no_op.py
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/steps/poetry.py
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/test/commands.py
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/test/pipeline.py
  airbyte-ci/connectors/pipelines/pipelines/cli/airbyte_ci.py
  airbyte-ci/connectors/pipelines/pipelines/cli/click_decorators.py
  airbyte-ci/connectors/pipelines/pipelines/cli/lazy_group.py
  airbyte-ci/connectors/pipelines/pipelines/cli/telemetry.py
  airbyte-ci/connectors/pipelines/pipelines/consts.py
  airbyte-ci/connectors/pipelines/pipelines/models/contexts/__init__.py
  airbyte-ci/connectors/pipelines/pipelines/models/contexts/click_pipeline_context.py
  airbyte-ci/connectors/pipelines/pipelines/models/contexts/pipeline_context.py
  airbyte-ci/connectors/pipelines/pipelines/models/singleton.py
  airbyte-ci/connectors/pipelines/pipelines/models/steps.py
  airbyte-ci/connectors/pipelines/poetry.lock
  airbyte-ci/connectors/pipelines/pyproject.toml
  airbyte-ci/connectors/pipelines/tests/conftest.py
  airbyte-ci/connectors/pipelines/tests/test_cli/__init__.py
  airbyte-ci/connectors/pipelines/tests/test_cli/test_click_decorators.py
  airbyte-ci/connectors/pipelines/tests/test_models/__init__.py
  airbyte-ci/connectors/pipelines/tests/test_models/test_click_pipeline_context.py
  airbyte-ci/connectors/pipelines/tests/test_models/test_singleton.py
  airbyte-ci/connectors/pipelines/tests/test_steps/test_simple_docker_step.py
Labels: connectors/source/github, connectors/source/linkedin-ads, connectors/source/s3, connectors/source/tiktok-marketing, connectors/source/zendesk-support, connectors/source/azure-blob-storage

#31276 API Call Rate limiter
  airbyte-cdk/python/airbyte_cdk/sources/streams/call_rate.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/http.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/streams/test_call_rate.py
Labels: CDK

#32278 Destination s3: also pin oss
  airbyte-integrations/connectors/destination-s3/metadata.yaml
  docs/integrations/destinations/s3.md
Labels: area/documentation, area/connectors, connectors/destination/s3

#32112 Destination bigquery: reduce commit frequency in GCS staging mode
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/DestinationFlushFunction.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/DetectStreamToFlush.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/core/src/test/java/io/airbyte/cdk/integrations/destination_async/FlushThresholdTest.java
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryAsyncFlush.java
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/bigquery

#32261 Destination bigquery: don't error on malformed creds
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDestination.java
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery

#32264 fix CloudDeploymentPostgresSourceTest
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
Labels: area/connectors, connectors/source/postgres

#32272 Implement max_time on error handler
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/error_handlers/composite_error_handler.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/error_handlers/default_error_handler.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/error_handlers/test_composite_error_handler.py
Labels: CDK

#32212 🧹remove legacy scripts
  airbyte-cdk/python/bin/run-cats-with-local-cdk.sh
  airbyte-integrations/scripts/run-acceptance-test-docker.sh
Labels: CDK

#32246 [ISSUE-32072] increase connection pool size
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/http_requester.py
  airbyte-cdk/python/airbyte_cdk/sources/http_config.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/http.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/test_http_requester.py
  airbyte-cdk/python/unit_tests/sources/streams/http/test_http.py
Labels: CDK

#32202 Spacex api: Fix manifest
  airbyte-integrations/connectors/source-spacex-api/Dockerfile
  airbyte-integrations/connectors/source-spacex-api/metadata.yaml
  airbyte-integrations/connectors/source-spacex-api/source_spacex_api/manifest.yaml
  airbyte-integrations/connectors/source-spacex-api/source_spacex_api/schemas/capsules.json
  airbyte-integrations/connectors/source-spacex-api/source_spacex_api/schemas/company.json
  airbyte-integrations/connectors/source-spacex-api/source_spacex_api/schemas/cores.json
  airbyte-integrations/connectors/source-spacex-api/source_spacex_api/schemas/crew.json
  airbyte-integrations/connectors/source-spacex-api/source_spacex_api/schemas/dragons.json
  airbyte-integrations/connectors/source-spacex-api/source_spacex_api/schemas/history.json
  airbyte-integrations/connectors/source-spacex-api/source_spacex_api/schemas/landpads.json
  airbyte-integrations/connectors/source-spacex-api/source_spacex_api/schemas/launches.json
  airbyte-integrations/connectors/source-spacex-api/source_spacex_api/schemas/payloads.json
  airbyte-integrations/connectors/source-spacex-api/source_spacex_api/schemas/roadster.json
  airbyte-integrations/connectors/source-spacex-api/source_spacex_api/schemas/rockets.json
  airbyte-integrations/connectors/source-spacex-api/source_spacex_api/schemas/ships.json
  airbyte-integrations/connectors/source-spacex-api/source_spacex_api/schemas/starlink.json
  airbyte-integrations/connectors/source-spacex-api/source_spacex_api/spec.yaml
  docs/integrations/sources/spacex-api.md
Labels: area/documentation, area/connectors, connectors/source/spacex-api

#32301 Update column change image
  docs/release_notes/assets/destinations-v2-column-changes.png
  docs/release_notes/assets/updated_table_columns.png
  docs/release_notes/upgrading_to_destinations_v2.md
  docs/understanding-airbyte/typing-deduping.md
Labels: area/documentation

#32147 Destination Bigquery: Replace usages of untyped JsonNode with Typed execution config
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDestination.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryExecutionConfig.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryStagingConsumerFactory.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryUtils.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/uploader/BigQueryUploaderFactory.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/uploader/config/UploaderConfig.java
  airbyte-integrations/connectors/destination-bigquery/src/test/java/io/airbyte/integrations/destination/bigquery/BigQueryExecutionConfigTest.java
  airbyte-integrations/connectors/destination-bigquery/src/test/resources/connection-spec/gcs-credentials-object.json
  airbyte-integrations/connectors/destination-bigquery/src/test/resources/connection-spec/gcs.json
  airbyte-integrations/connectors/destination-bigquery/src/test/resources/connection-spec/standard-missing-required.json
  airbyte-integrations/connectors/destination-bigquery/src/test/resources/connection-spec/standard.json
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery

#32312 Switch connector builder to connector setup in writing-docs heading
  docs/contributing-to-airbyte/writing-docs.md
Labels: area/documentation

#31489 :bug:Source Braintree: Fix Validation Error in Transactions Stream
  airbyte-integrations/connectors/source-braintree/Dockerfile
  airbyte-integrations/connectors/source-braintree/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-braintree/metadata.yaml
  airbyte-integrations/connectors/source-braintree/setup.py
  airbyte-integrations/connectors/source-braintree/source_braintree/manifest.yaml
  airbyte-integrations/connectors/source-braintree/source_braintree/schemas/transaction.py
  docs/integrations/sources/braintree.md
Labels: type/bug, area/documentation, area/connectors, community, gl, connectors/source/braintree, team/connectors-python, hackathon-2023-10

#32309 Destination bigquery: revert typed config object
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDestination.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryExecutionConfig.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryStagingConsumerFactory.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryUtils.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/uploader/BigQueryUploaderFactory.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/uploader/config/UploaderConfig.java
  airbyte-integrations/connectors/destination-bigquery/src/test/java/io/airbyte/integrations/destination/bigquery/BigQueryExecutionConfigTest.java
  airbyte-integrations/connectors/destination-bigquery/src/test/resources/connection-spec/gcs-credentials-object.json
  airbyte-integrations/connectors/destination-bigquery/src/test/resources/connection-spec/gcs.json
  airbyte-integrations/connectors/destination-bigquery/src/test/resources/connection-spec/standard-missing-required.json
  airbyte-integrations/connectors/destination-bigquery/src/test/resources/connection-spec/standard.json
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery

#32283 Update Google Sheets recommendations
  docs/integrations/destinations/google-sheets.md
Labels: area/documentation

#31348 Docs: Update Source Shopify docs
  docs/integrations/sources/shopify.inapp.md
  docs/integrations/sources/shopify.md
Labels: area/documentation, connectors/source/shopify

#32125 🐛 📝 re-update all connectors for new CDK version and more stringent javac checks
  airbyte-integrations/connectors-performance/destination-harness/build.gradle
  airbyte-integrations/connectors-performance/source-harness/build.gradle
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryGcsOperations.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryRecordConsumer.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryRecordStandardConsumer.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/uploader/BigQueryUploaderFactory.java
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeColumnDefinition.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGenerator.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeV1V2Migrator.java
  airbyte-integrations/connectors/source-mongodb-v2/metadata.yaml
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoUtil.java
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlQueryUtils.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialLoadHandler.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialLoadRecordIterator.java
  airbyte-integrations/connectors/source-postgres/build.gradle
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/snowflake.md
  docs/integrations/sources/mongodb-v2.md
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, connectors/destination/snowflake, connectors/destination/s3, connectors/source/mysql, connectors/source/postgres, connectors/source/mongodb-v2

#32314 java CDK, source-postgres: parallelize tests
  airbyte-cdk/java/airbyte-cdk/airbyte-commons/src/main/java/io/airbyte/commons/features/EnvVariableFeatureFlags.java
  airbyte-cdk/java/airbyte-cdk/airbyte-commons/src/main/java/io/airbyte/commons/features/FeatureFlags.java
  airbyte-cdk/java/airbyte-cdk/airbyte-commons/src/main/java/io/airbyte/commons/features/FeatureFlagsWrapper.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/base/adaptive/AdaptiveDestinationRunner.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/base/adaptive/AdaptiveSourceRunner.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/postgres/PostgresReplicationConnection.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/source/relationaldb/AbstractDbSource.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/java/io/airbyte/cdk/integrations/source/jdbc/test/JdbcSourceAcceptanceTest.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/java/io/airbyte/cdk/integrations/standardtest/source/AbstractSourceConnectorTest.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/java/io/airbyte/cdk/testutils/PostgresTestDatabase.java
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/gradle.properties
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractCdcPostgresSourceSslAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractPostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractPostgresSourceSSLCertificateAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractSshPostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CDCPostgresSourceCaCertificateSslAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CDCPostgresSourceFullCertificateSslAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcInitialSnapshotPostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcPostgresSourceAcceptanceLegacyCtidTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcPostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcWalLogsPostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CloudDeploymentPostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/PostgresSourceAcceptanceLegacyCtidTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/PostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/PostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/XminPostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceLegacyCtidTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CloudDeploymentPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresCdcGetPublicizedTablesTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresSourceOperationsTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresSourceSSLTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresStressTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/XminPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/XminPostgresWithOldServerSourceTest.java
Labels: area/connectors, CDK, connectors/source/postgres

#32234 Destination BigQuery - remove file_buffer_count
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDestination.java
  airbyte-integrations/connectors/destination-bigquery/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryGcsDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-csv/build.gradle
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, connectors/destination/redshift, connectors/destination/csv

#32289 Source Google Analytics Data API: increase test coverage
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/conftest.py
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_source.py
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_streams.py
Labels: area/connectors, connectors/source/google-analytics-data-api

#32293 Source Intercom: increase test coverage
  airbyte-integrations/connectors/source-intercom/unit_tests/test_components.py
  airbyte-integrations/connectors/source-intercom/unit_tests/test_source.py
Labels: area/connectors, connectors/source/intercom

#32321 Source Jira: increase test coverage
  airbyte-integrations/connectors/source-jira/unit_tests/test_streams.py
Labels: area/connectors, connectors/source/jira

#31517 :bug:Source Chartmogul: Refactor CustomerCount Stream
  airbyte-integrations/connectors/source-chartmogul/Dockerfile
  airbyte-integrations/connectors/source-chartmogul/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-chartmogul/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-chartmogul/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-chartmogul/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-chartmogul/metadata.yaml
  airbyte-integrations/connectors/source-chartmogul/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-chartmogul/setup.py
  airbyte-integrations/connectors/source-chartmogul/source_chartmogul/manifest.yaml
  airbyte-integrations/connectors/source-chartmogul/source_chartmogul/schemas/activities.json
  airbyte-integrations/connectors/source-chartmogul/source_chartmogul/schemas/customer_daily_count.json
  airbyte-integrations/connectors/source-chartmogul/source_chartmogul/schemas/customer_monthly_count.json
  airbyte-integrations/connectors/source-chartmogul/source_chartmogul/schemas/customer_quarterly_count.json
  airbyte-integrations/connectors/source-chartmogul/source_chartmogul/schemas/customer_weekly_count.json
  airbyte-integrations/connectors/source-chartmogul/source_chartmogul/spec.yaml
  docs/integrations/sources/chartmogul-migrations.md
  docs/integrations/sources/chartmogul.md
Labels: type/bug, area/documentation, area/connectors, community, gl, team/connectors-python, connectors/source/chartmogul, hackathon-2023-10

#32126 Update transformations-with-airbyte.md
  docs/operator-guides/transformation-and-normalization/transformations-with-airbyte.md
Labels: area/documentation, community

#32343 Source Linkedin Ads: increase test coverage
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/source_tests/test_source.py
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/utils_tests/samples/test_data_for_tranform.py
Labels: area/connectors, connectors/source/linkedin-ads

#32259 🐛 Source Amazon Seller Partner: mark "aws_secret_key" and "aws_access_key" as required
  airbyte-integrations/connectors/source-amazon-seller-partner/Dockerfile
  airbyte-integrations/connectors/source-amazon-seller-partner/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/Orders.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.json
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation, area/connectors, connectors/source/amazon-seller-partner

#32092 File CDK: Allow skipping unparseable file types
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/unstructured_format.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/unstructured_parser.py
  airbyte-cdk/python/unit_tests/sources/file_based/file_types/test_unstructured_parser.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/csv_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/unstructured_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/test_file_based_scenarios.py
Labels: CDK

#32292 Pinecone: Improve error messages and unit test coverage, Weaviate: Improve unit test coverage
  airbyte-integrations/connectors/destination-pinecone/destination_pinecone/indexer.py
  airbyte-integrations/connectors/destination-pinecone/destination_pinecone/measure_time.py
  airbyte-integrations/connectors/destination-pinecone/metadata.yaml
  airbyte-integrations/connectors/destination-pinecone/unit_tests/pinecone_indexer_test.py
  airbyte-integrations/connectors/destination-weaviate/metadata.yaml
  airbyte-integrations/connectors/destination-weaviate/unit_tests/destination_test.py
  airbyte-integrations/connectors/destination-weaviate/unit_tests/indexer_test.py
  docs/integrations/destinations/pinecone.md
  docs/integrations/destinations/weaviate.md
Labels: area/documentation, area/connectors, connectors/destination/weaviate, connectors/destination/pinecone

#32262 Milvus: Auto-create collection if it doesn't exist and improve working with existing collections
  airbyte-integrations/connectors/destination-milvus/destination_milvus/indexer.py
  airbyte-integrations/connectors/destination-milvus/integration_tests/milvus_integration_test.py
  airbyte-integrations/connectors/destination-milvus/metadata.yaml
  airbyte-integrations/connectors/destination-milvus/unit_tests/indexer_test.py
  docs/integrations/destinations/milvus.md
Labels: area/documentation, area/connectors, connectors/destination/milvus

#32374 Stephane/fast error message on docker creation
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/java/io/airbyte/cdk/testutils/PostgresTestDatabase.java
Labels: CDK

#31856 🐛 📝 don't missparse +/-infinity in postgres-source
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/airbyte-commons-protocol/src/test/resources/WellKnownTypes.json
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/postgres/PostgresConverter.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/source/relationaldb/state/StateManagerFactory.java
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSourceOperations.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractPostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcWalLogsPostgresSourceDatatypeTest.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, CDK, connectors/source/postgres

#32377 java CDK: skip dropping database in PostgresTestDatabase::close
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/java/io/airbyte/cdk/testutils/PostgresTestDatabase.java
  airbyte-integrations/connectors/source-postgres/build.gradle
  settings.gradle
Labels: area/connectors, CDK, connectors/source/postgres

#32327 schemaless scuffoldings
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/mongodb/MongoDbDebeziumConstants.java
  airbyte-integrations/connectors/source-mongodb-v2/build.gradle
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/InitialSnapshotHandler.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoConstants.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoDbSourceConfig.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbCdcInitializer.java
Labels: area/connectors, CDK, connectors/source/mongodb-v2

#32399 Fixing futures pruning
  .github/workflows/airbyte-ci-release-experiment.yml
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/thread_based_concurrent_stream.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_thread_based_concurrent_stream.py
Labels: CDK

#32402 airbyte-ci: set dagger cloud token for airbyters only
  airbyte-ci/connectors/pipelines/README.md
  airbyte-ci/connectors/pipelines/pipelines/cli/dagger_run.py
  airbyte-ci/connectors/pipelines/pyproject.toml
Labels: connectors/source/klaviyo

#32200 🐛 Source Instagram: Add INTERNAL_SERVER_ERROR to retriable errors
  airbyte-integrations/connectors/source-instagram/Dockerfile
  airbyte-integrations/connectors/source-instagram/README.md
  airbyte-integrations/connectors/source-instagram/acceptance-test-config.yml
  airbyte-integrations/connectors/source-instagram/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  airbyte-integrations/connectors/source-instagram/source_instagram/common.py
  airbyte-integrations/connectors/source-instagram/unit_tests/test_streams.py
  docs/integrations/sources/instagram.md
Labels: area/documentation, area/connectors, connectors/source/instagram

#32414 🐛 Source Google Ads: Add backoff strategy for read_records method
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/utils.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_utils.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, connectors/source/google-ads

#32340 :sparkles: Source Bing Ads: optional reports start date
  airbyte-integrations/connectors/source-bing-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-bing-ads/integration_tests/configured_catalog_full_refresh.json
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/client.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/reports.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/spec.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_source.py
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors, connectors/source/bing-ads, team/connectors-python

#32358 Docs: Updates Google Sheets Source Connector Docs (Removes inapp page, adds <HideInUI>, adds Limitations & Troubleshooting)
  docs/integrations/sources/google-sheets.inapp.md
  docs/integrations/sources/google-sheets.md
Labels: area/documentation

#32373 Docs: Updates Sendgrid Source Connector Docs (Removes inapp page, adds <HideInUI>, adds Limitations & Troubleshooting)
  docs/integrations/sources/sendgrid.inapp.md
  docs/integrations/sources/sendgrid.md
Labels: area/documentation

#31552 ✨ Source OpsGenie - Migrate Python CDK to Low Code CDK
  airbyte-integrations/connectors/source-opsgenie/Dockerfile
  airbyte-integrations/connectors/source-opsgenie/README.md
  airbyte-integrations/connectors/source-opsgenie/acceptance-test-config.yml
  airbyte-integrations/connectors/source-opsgenie/metadata.yaml
  airbyte-integrations/connectors/source-opsgenie/source_opsgenie/manifest.yaml
  airbyte-integrations/connectors/source-opsgenie/source_opsgenie/source.py
  airbyte-integrations/connectors/source-opsgenie/source_opsgenie/spec.yaml
  airbyte-integrations/connectors/source-opsgenie/source_opsgenie/streams.py
  airbyte-integrations/connectors/source-opsgenie/source_opsgenie/util.py
  airbyte-integrations/connectors/source-opsgenie/unit_tests/__init__.py
  airbyte-integrations/connectors/source-opsgenie/unit_tests/test_source.py
  airbyte-integrations/connectors/source-opsgenie/unit_tests/test_stream.py
  airbyte-integrations/connectors/source-opsgenie/unit_tests/unit_test.py
  docs/integrations/sources/opsgenie.md
Labels: area/documentation, area/connectors, community, connectors/source/opsgenie, low-code-migration, hackathon-2023-10

#31534 :bug:Source Close.com: Fix Email Activities Stream Pagination
  airbyte-integrations/connectors/source-close-com/Dockerfile
  airbyte-integrations/connectors/source-close-com/acceptance-test-config.yml
  airbyte-integrations/connectors/source-close-com/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-close-com/metadata.yaml
  airbyte-integrations/connectors/source-close-com/source_close_com/manifest.yaml
  airbyte-integrations/connectors/source-close-com/source_close_com/schemas/activity_custom_fields.json
  airbyte-integrations/connectors/source-close-com/source_close_com/schemas/call_activities.json
  airbyte-integrations/connectors/source-close-com/source_close_com/schemas/contact_custom_fields.json
  airbyte-integrations/connectors/source-close-com/source_close_com/schemas/created_activities.json
  airbyte-integrations/connectors/source-close-com/source_close_com/schemas/email_followup_tasks.json
  airbyte-integrations/connectors/source-close-com/source_close_com/schemas/events.json
  airbyte-integrations/connectors/source-close-com/source_close_com/schemas/lead_custom_fields.json
  airbyte-integrations/connectors/source-close-com/source_close_com/schemas/meeting_activities.json
  airbyte-integrations/connectors/source-close-com/source_close_com/schemas/opportunity_custom_fields.json
  airbyte-integrations/connectors/source-close-com/source_close_com/schemas/opportunity_status_change_activities.json
  airbyte-integrations/connectors/source-close-com/source_close_com/schemas/pipelines.json
  airbyte-integrations/connectors/source-close-com/source_close_com/schemas/sms_activities.json
  airbyte-integrations/connectors/source-close-com/source_close_com/schemas/task_completed_activities.json
  docs/integrations/sources/close-com.md
Labels: type/bug, area/documentation, area/connectors, python, community, gl, connectors/source/close-com, team/connectors-python, hackathon-2023-10

#32442 Source Facebook Marketing: fix expected records
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/facebook-marketing

#32443 Source Github: fix expected records
  airbyte-integrations/connectors/source-github/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/github

#32440 Source Zendesk Support: increase test coverage
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/streams.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/test_backoff_on_rate_limit.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/unit_test.py
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-support

#32444 Source Slack: fix expected records
  airbyte-integrations/connectors/source-slack/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/slack

#32245 🐛Source Instagram: skip reading MediaInsights if error code 10 received
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  airbyte-integrations/connectors/source-instagram/source_instagram/streams.py
  airbyte-integrations/connectors/source-instagram/unit_tests/test_streams.py
  docs/integrations/sources/instagram.md
Labels: area/documentation, area/connectors, connectors/source/instagram, connectors/source/appfollow

#32458 🐛 Source Asana: fix hidden config access
  airbyte-integrations/connectors/source-asana/Dockerfile
  airbyte-integrations/connectors/source-asana/metadata.yaml
  airbyte-integrations/connectors/source-asana/source_asana/source.py
  airbyte-integrations/connectors/source-asana/source_asana/streams.py
  docs/integrations/sources/asana.md
Labels: area/documentation, area/connectors, connectors/source/asana

#32457 🐛 Source Amazon Seller Partner: fix report decompression
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation, area/connectors, connectors/source/amazon-seller-partner

#18642 Destination BIgquery: Clarify service account usage
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, team/destinations

#31685 ✨ Source Freshsales : Migrate Python CDK to Low-code CDK
  airbyte-integrations/connectors/source-freshsales/Dockerfile
  airbyte-integrations/connectors/source-freshsales/README.md
  airbyte-integrations/connectors/source-freshsales/__int__.py
  airbyte-integrations/connectors/source-freshsales/acceptance-test-config.yml
  airbyte-integrations/connectors/source-freshsales/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-freshsales/metadata.yaml
  airbyte-integrations/connectors/source-freshsales/setup.py
  airbyte-integrations/connectors/source-freshsales/source_freshsales/manifest.yaml
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/accounts.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/completed_tasks.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/contacts.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/lost_deals.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/open_deals.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/open_tasks.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/past_appointments.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/upcoming_appointments.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/schemas/won_deals.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/source.py
  airbyte-integrations/connectors/source-freshsales/source_freshsales/spec.json
  airbyte-integrations/connectors/source-freshsales/source_freshsales/spec.yaml
  airbyte-integrations/connectors/source-freshsales/unit_tests/__init__.py
  airbyte-integrations/connectors/source-freshsales/unit_tests/conftest.py
  airbyte-integrations/connectors/source-freshsales/unit_tests/test_source.py
  docs/integrations/sources/freshsales-migrations.md
  docs/integrations/sources/freshsales.md
Labels: area/documentation, area/connectors, community, connectors/source/freshsales, low-code-migration, hackathon-2023-10

#32468 Destination bigquery error grouping: even more fixes
  .github/CODEOWNERS
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/base/AirbyteExceptionHandler.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/CatalogParser.java
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/bigquery

#32476 remove source-xero from Cloud
  airbyte-integrations/connectors/source-xero/metadata.yaml
Labels: area/connectors, connectors/source/xero

#32285 [source-mongodb-v2] : Fix support to read UUIDs
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/mongodb/MongoDbCdcEventUtils.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/java/io/airbyte/cdk/integrations/debezium/internals/mongodb/MongoDbCdcEventUtilsTest.java
  airbyte-integrations/connectors/source-mongodb-v2/build.gradle
  airbyte-integrations/connectors/source-mongodb-v2/metadata.yaml
  docs/integrations/sources/mongodb-v2.md
Labels: area/documentation, area/connectors, CDK, connectors/source/mongodb-v2

#32464 Fix missing QA link in docs
  docs/connector-development/testing-connectors/README.md
Labels: area/documentation

#31831 airbyte-ci: add format commands
  .github/workflows/format.yml
  .github/workflows/gradle.yml
  airbyte-cdk/python/airbyte_cdk/utils/analytics_message.py
  airbyte-cdk/python/unit_tests/destinations/vector_db_based/config_test.py
  airbyte-ci/connectors/pipelines/README.md
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/connectors/commands.py
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/connectors/list/commands.py
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/connectors/test/pipeline.py
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/connectors/test/steps/python_connectors.py
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/format/__init__.py
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/format/actions.py
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/format/check/commands.py
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/format/commands.py
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/format/consts.py
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/format/containers.py
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/format/fix/commands.py
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/steps/gradle.py
  airbyte-ci/connectors/pipelines/pipelines/cli/airbyte_ci.py
  airbyte-ci/connectors/pipelines/pipelines/cli/click_decorators.py
  airbyte-ci/connectors/pipelines/pipelines/consts.py
  airbyte-ci/connectors/pipelines/pipelines/dagger/containers/python.py
  airbyte-ci/connectors/pipelines/pipelines/helpers/cli.py
  airbyte-ci/connectors/pipelines/pipelines/models/contexts/click_pipeline_context.py
  airbyte-ci/connectors/pipelines/pipelines/models/singleton.py
  airbyte-ci/connectors/pipelines/pipelines/models/steps.py
  airbyte-ci/connectors/pipelines/poetry.lock
  airbyte-ci/connectors/pipelines/pyproject.toml
  airbyte-ci/connectors/pipelines/tests/test_cli/test_click_decorators.py
  airbyte-integrations/bases/base-normalization/build.gradle
  airbyte-integrations/connectors/source-azure-blob-storage/source_azure_blob_storage/stream_reader.py
  airbyte-integrations/connectors/source-azure-blob-storage/unit_tests/unit_tests.py
  airbyte-integrations/connectors/source-github/unit_tests/conftest.py
  airbyte-integrations/connectors/source-intercom/unit_tests/test_source.py
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/exceptions.py
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-pokeapi/main.py
  airbyte-integrations/connectors/source-s3/source_s3/v4/zip_reader.py
  airbyte-integrations/connectors/source-s3/unit_tests/v4/test_zip_reader.py
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/conftest.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/conftest.py
  build.gradle
  octavia-cli/build.gradle
  poetry.lock
  pyproject.toml
  settings.gradle
  tools/gradle/codestyle/sql-dbeaver.properties
Labels: area/connectors, normalization, CDK, connectors/source/intercom, area/octavia-cli, connectors/source/github, connectors/source/klaviyo, connectors/source/linkedin-ads, connectors/source/pokeapi, connectors/source/s3, connectors/source/tiktok-marketing, connectors/source/zendesk-support, connectors/source/azure-blob-storage

#32423 🐛 Source Instagram: Include media_product_type in Media and Stories Schemas
  airbyte-integrations/connectors/source-instagram/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/media.json
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/stories.json
  airbyte-integrations/connectors/source-instagram/source_instagram/streams.py
  docs/integrations/sources/instagram.md
Labels: area/documentation, area/connectors, connectors/source/instagram, connectors/source/appfollow

#32420 File CDK: Improve stream config appearance
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/file_based_stream_config.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/csv_scenarios.py
Labels: CDK

#32495 source-s3: remove useless test deps
  airbyte-integrations/connectors/source-s3/setup.py
Labels: area/connectors, connectors/source/s3

#32422 🐛 Source Bing Ads: normalize numeric values
  airbyte-integrations/connectors/source-bing-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-bing-ads/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-bing-ads/integration_tests/configured_catalog_full_refresh.json
  airbyte-integrations/connectors/source-bing-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/streams.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_reports.py
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors, connectors/source/bing-ads

#32429 Google Drive: Fix shared drives
  airbyte-integrations/connectors/source-google-drive/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-drive/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-google-drive/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-google-drive/integration_tests/spec.json
  airbyte-integrations/connectors/source-google-drive/metadata.yaml
  airbyte-integrations/connectors/source-google-drive/setup.py
  airbyte-integrations/connectors/source-google-drive/source_google_drive/spec.py
  airbyte-integrations/connectors/source-google-drive/source_google_drive/stream_reader.py
  docs/integrations/sources/google-drive.md
Labels: area/documentation, area/connectors, connectors/source/google-drive

#32357 S3, Azure Blob Storage, GCS, Pinecone, Weaviate, Milvus, Chroma, Qdrant: Update CDK to improve spec generation
  airbyte-integrations/connectors/destination-chroma/Dockerfile
  airbyte-integrations/connectors/destination-chroma/metadata.yaml
  airbyte-integrations/connectors/destination-chroma/setup.py
  airbyte-integrations/connectors/destination-milvus/destination_milvus/config.py
  airbyte-integrations/connectors/destination-milvus/integration_tests/spec.json
  airbyte-integrations/connectors/destination-milvus/metadata.yaml
  airbyte-integrations/connectors/destination-milvus/setup.py
  airbyte-integrations/connectors/destination-pinecone/destination_pinecone/config.py
  airbyte-integrations/connectors/destination-pinecone/integration_tests/spec.json
  airbyte-integrations/connectors/destination-pinecone/metadata.yaml
  airbyte-integrations/connectors/destination-pinecone/setup.py
  airbyte-integrations/connectors/destination-qdrant/Dockerfile
  airbyte-integrations/connectors/destination-qdrant/metadata.yaml
  airbyte-integrations/connectors/destination-qdrant/setup.py
  airbyte-integrations/connectors/destination-weaviate/destination_weaviate/config.py
  airbyte-integrations/connectors/destination-weaviate/integration_tests/spec.json
  airbyte-integrations/connectors/destination-weaviate/metadata.yaml
  airbyte-integrations/connectors/destination-weaviate/setup.py
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/spec.json
  airbyte-integrations/connectors/source-azure-blob-storage/metadata.yaml
  airbyte-integrations/connectors/source-azure-blob-storage/setup.py
  airbyte-integrations/connectors/source-gcs/Dockerfile
  airbyte-integrations/connectors/source-gcs/integration_tests/spec.json
  airbyte-integrations/connectors/source-gcs/metadata.yaml
  airbyte-integrations/connectors/source-gcs/setup.py
  airbyte-integrations/connectors/source-s3/integration_tests/cloud_spec.json
  airbyte-integrations/connectors/source-s3/integration_tests/spec.json
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/setup.py
  docs/integrations/destinations/chroma.md
  docs/integrations/destinations/milvus.md
  docs/integrations/destinations/pinecone.md
  docs/integrations/destinations/qdrant.md
  docs/integrations/destinations/weaviate.md
  docs/integrations/sources/azure-blob-storage.md
  docs/integrations/sources/gcs.md
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3, connectors/destination/weaviate, connectors/source/gcs, connectors/source/azure-blob-storage, connectors/destination/langchain, connectors/destination/milvus, connectors/destination/pinecone, connectors/destination/qdrant, connectors/destination/chroma, connectors/source/google-drive

#31162 ✨ Source Insightly : Migrate Python CDK to Low-code CDK
  airbyte-integrations/connectors/source-insightly/Dockerfile
  airbyte-integrations/connectors/source-insightly/README.md
  airbyte-integrations/connectors/source-insightly/__init__.py
  airbyte-integrations/connectors/source-insightly/acceptance-test-config.yml
  airbyte-integrations/connectors/source-insightly/bootstrap.md
  airbyte-integrations/connectors/source-insightly/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-insightly/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-insightly/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-insightly/metadata.yaml
  airbyte-integrations/connectors/source-insightly/setup.py
  airbyte-integrations/connectors/source-insightly/source_insightly/manifest.yaml
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/contacts.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/opportunities.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/organisations.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/projects.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/tasks.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/teams.json
  airbyte-integrations/connectors/source-insightly/source_insightly/source.py
  airbyte-integrations/connectors/source-insightly/source_insightly/spec.json
  airbyte-integrations/connectors/source-insightly/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-insightly/unit_tests/test_source.py
  airbyte-integrations/connectors/source-insightly/unit_tests/test_streams.py
  docs/integrations/sources/insightly.md
Labels: area/documentation, area/connectors, community, connectors/source/insightly, low-code-migration, hackathon-2023-10

#32306 :sparkles: Source Bing Ads: custom reports
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/client.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/source.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/spec.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/streams.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_client.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_source.py
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors, connectors/source/bing-ads, team/connectors-python

#32226 Source Mailchimp: Add expected records
  airbyte-integrations/connectors/source-mailchimp/acceptance-test-config.yml
  airbyte-integrations/connectors/source-mailchimp/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-mailchimp/integration_tests/state.json
  airbyte-integrations/connectors/source-mailchimp/metadata.yaml
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/reports.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/shared/campaignType.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/streams.py
  docs/integrations/sources/mailchimp.md
Labels: area/documentation, area/connectors, connectors/source/mailchimp

#32466 🐛 Source Mailchimp: Connection Check Error Handling
  airbyte-integrations/connectors/source-mailchimp/metadata.yaml
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/source.py
  airbyte-integrations/connectors/source-mailchimp/unit_tests/test_source.py
  docs/integrations/sources/mailchimp.md
Labels: area/documentation, area/connectors, connectors/source/mailchimp

#32516 CDK: increase `maximum_attempts_to_acquire` to avoid crashing in acquire_call
  airbyte-cdk/python/airbyte_cdk/sources/streams/call_rate.py
Labels: CDK

#32490 Update airbyte-protocol.md
  docs/understanding-airbyte/airbyte-protocol.md
Labels: area/documentation, community

#32460 update posthog rate limit docs
  docs/integrations/sources/posthog.md
Labels: area/documentation, community

#32522 Docs: fix posthog
  docs/integrations/sources/posthog.md
Labels: area/documentation

#32508 :bug: Source Amazon Seller Partner: remove AWS signature
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/setup.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/auth.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_finance_streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_order_items_stream.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_reports_stream_sales_and_traffic.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_reports_streams_rate_limits.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_reports_streams_settlement_report.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_transform_function.py
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation, area/connectors, connectors/source/amazon-seller-partner, checklist-action-run
