Repository airbytehq/airbyte, pull requests merged in 2023-09, with the labels that each got.

#30104 Revert "Bump Airbyte version from 0.50.24 to 0.0.99"
  .bumpversion.cfg
  docs/operator-guides/upgrading-airbyte.md
  gradle.properties
  run-ab-platform.sh
Labels: area/documentation

#30044 Clarify Cloud limits
  docs/cloud/managing-airbyte-cloud/understand-airbyte-cloud-limits.md
Labels: area/documentation, connectors/source/openweather, connectors/source/clockify

#30065 Build better snowflake exception when PK is missing
  airbyte-integrations/bases/base-typing-deduping-test/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/BaseSqlGeneratorIntegrationTest.java
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGenerator.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGeneratorIntegrationTest.java
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/snowflake

#30106 Remove mention of Intercom chat
  docs/project-overview/licenses/examples.md
Labels: area/documentation, connectors/source/openweather, connectors/source/clockify

#29108 🐛Source Harvest: fix date range for Time reports
  airbyte-integrations/connectors/source-harvest/Dockerfile
  airbyte-integrations/connectors/source-harvest/metadata.yaml
  airbyte-integrations/connectors/source-harvest/source_harvest/streams.py
  docs/integrations/sources/harvest.md
Labels: area/documentation, area/connectors, connectors/source/harvest, checklist-action-run

#30031 Source Zendesk Support: add streams
  airbyte-integrations/connectors/source-zendesk-support/Dockerfile
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/articles.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/organization_fields.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/source.py
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/spec.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/streams.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/unit_test.py
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-support, connectors/source/openweather, connectors/source/clockify

#30100 Make redirects in docusaurus a yml config
  docusaurus/docusaurus.config.js
  docusaurus/package.json
  docusaurus/redirects.yml
Labels: area/documentation

#30094 docs: remove conflicting guidance for breaking change metadata specification
  docs/connector-development/connector-metadata-file.md
Labels: area/documentation

#30120 ✨Destination bigquery: improve performance by skipping safe_cast for string columns
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGenerator.java
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, checklist-action-run

#30121 ✨Destination Snowflake: improve performance by skipping TRY_CAST for string columns
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGenerator.java
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/snowflake

#29944 File-based CDK: ensure no errors in Sentry given empty CSV
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/csv_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/remote_file.py
  airbyte-cdk/python/unit_tests/sources/file_based/file_types/test_csv_parser.py
Labels: CDK

#30005 Support config migration for V4
  airbyte-integrations/connectors/source-s3/main.py
  airbyte-integrations/connectors/source-s3/source_s3/v4/config.py
  airbyte-integrations/connectors/source-s3/source_s3/v4/source.py
  airbyte-integrations/connectors/source-s3/unit_tests/sample_files/catalog.json
  airbyte-integrations/connectors/source-s3/unit_tests/sample_files/v3_config.json
  airbyte-integrations/connectors/source-s3/unit_tests/sample_files/v4_config.json
  airbyte-integrations/connectors/source-s3/unit_tests/v4/test_source.py
Labels: area/connectors, connectors/source/s3

#30123 Update spec and fix autogenerated headers with skip after
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/avro_format.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/csv_format.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/jsonl_format.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/parquet_format.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/csv_parser.py
  airbyte-cdk/python/unit_tests/sources/file_based/file_types/test_csv_parser.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/csv_scenarios.py
Labels: CDK

#30079 🚨 Pinecone destination: Fix dedup bug
  airbyte-integrations/connectors/destination-pinecone/Dockerfile
  airbyte-integrations/connectors/destination-pinecone/destination_pinecone/document_processor.py
  airbyte-integrations/connectors/destination-pinecone/integration_tests/pinecone_integration_test.py
  airbyte-integrations/connectors/destination-pinecone/metadata.yaml
  airbyte-integrations/connectors/destination-pinecone/unit_tests/document_processor_test.py
  docs/integrations/destinations/pinecone.md
Labels: area/documentation, area/connectors, connectors/destination/pinecone

#30108 Source JIRA: Skip 404 error for stream `IssueWatchers`
  airbyte-integrations/connectors/source-jira/Dockerfile
  airbyte-integrations/connectors/source-jira/metadata.yaml
  airbyte-integrations/connectors/source-jira/source_jira/streams.py
  docs/integrations/sources/jira.md
Labels: area/documentation, area/connectors, connectors/source/jira

#29322 change to use the Exchange Rate Data API access token instead of the …
  docs/connector-development/config-based/tutorial/0-getting-started.md
  docs/connector-development/tutorials/cdk-tutorial-python-http/getting-started.md
  docs/integrations/sources/exchange-rates.md
Labels: area/documentation, community

#29986 :bug: Source S3: added config error for conversion error
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/formats/csv_parser.py
  airbyte-integrations/connectors/source-s3/unit_tests/sample_files/csv/test_file_invalid_conversation.csv
  airbyte-integrations/connectors/source-s3/unit_tests/test_csv_parser.py
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3

#30128 :bug: Source Bing Ads: added handling ReportingDownloadException
  airbyte-integrations/connectors/source-bing-ads/Dockerfile
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/client.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_client.py
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors, connectors/source/bing-ads, checklist-action-run

#29830 source-zendesk-sell: fix phone_number type from number to string #29828
  airbyte-integrations/connectors/source-zendesk-sell/Dockerfile
  airbyte-integrations/connectors/source-zendesk-sell/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-sell/source_zendesk_sell/schemas/calls.json
  docs/integrations/sources/zendesk-sell.md
Labels: area/documentation, area/connectors, community, connectors/source/zendesk-sell

#30131 📝 Add sample_config.json and test error message to clarify integration test requirements.
  airbyte-integrations/connectors/destination-pinecone/integration_tests/pinecone_integration_test.py
  airbyte-integrations/connectors/destination-pinecone/integration_tests/sample_config.json
Labels: area/connectors, community, connectors/destination/pinecone

#30145 Fix: Format on master
  airbyte-integrations/connectors/destination-pinecone/integration_tests/sample_config.json
Labels: area/connectors, connectors/destination/pinecone

#30028 :bug: Source Mixpanel: skip the stream if it queries data from future
  airbyte-integrations/connectors/source-mixpanel/Dockerfile
  airbyte-integrations/connectors/source-mixpanel/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-mixpanel/metadata.yaml
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams/base.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_streams.py
  docs/integrations/sources/mixpanel.md
Labels: area/documentation, area/connectors, connectors/source/mixpanel, checklist-action-run

#30138 ✨Source Zendesk Support: add streams: `Article Votes`, `Article Comments`, `Article Comment Votes`
  airbyte-integrations/connectors/source-zendesk-support/Dockerfile
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/incremental_catalog.json
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/article_comments.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/source.py
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/streams.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/unit_test.py
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-support

#30080 🚨 Langchain destination: Fix dedup bug
  airbyte-integrations/connectors/destination-langchain/Dockerfile
  airbyte-integrations/connectors/destination-langchain/destination_langchain/document_processor.py
  airbyte-integrations/connectors/destination-langchain/integration_tests/chroma_integration_test.py
  airbyte-integrations/connectors/destination-langchain/integration_tests/pinecone_integration_test.py
  airbyte-integrations/connectors/destination-langchain/metadata.yaml
  airbyte-integrations/connectors/destination-langchain/unit_tests/document_processor_test.py
  docs/integrations/destinations/langchain-migrations.md
  docs/integrations/destinations/langchain.md
Labels: area/documentation, area/connectors, connectors/destination/langchain

#30086 Pinecone destination: Switch to GRPC client
  airbyte-integrations/connectors/destination-pinecone/Dockerfile
  airbyte-integrations/connectors/destination-pinecone/destination_pinecone/embedder.py
  airbyte-integrations/connectors/destination-pinecone/destination_pinecone/indexer.py
  airbyte-integrations/connectors/destination-pinecone/integration_tests/pinecone_integration_test.py
  airbyte-integrations/connectors/destination-pinecone/metadata.yaml
  airbyte-integrations/connectors/destination-pinecone/setup.py
  docs/integrations/destinations/pinecone.md
Labels: area/documentation, area/connectors, connectors/destination/pinecone

#30153 ✨ Source S3: v4 rollout - take 3
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/acceptance-test-config.yml
  airbyte-integrations/connectors/source-s3/integration_tests/conftest.py
  airbyte-integrations/connectors/source-s3/integration_tests/expected_records/avro.jsonl
  airbyte-integrations/connectors/source-s3/integration_tests/expected_records/csv.jsonl
  airbyte-integrations/connectors/source-s3/integration_tests/expected_records/custom_server.jsonl
  airbyte-integrations/connectors/source-s3/integration_tests/expected_records/jsonl.jsonl
  airbyte-integrations/connectors/source-s3/integration_tests/expected_records/jsonl_newlines.jsonl
  airbyte-integrations/connectors/source-s3/integration_tests/expected_records/legacy_csv_custom_encoding.jsonl
  airbyte-integrations/connectors/source-s3/integration_tests/expected_records/legacy_csv_custom_format.jsonl
  airbyte-integrations/connectors/source-s3/integration_tests/expected_records/legacy_csv_no_header.jsonl
  airbyte-integrations/connectors/source-s3/integration_tests/expected_records/legacy_csv_skip_rows.jsonl
  airbyte-integrations/connectors/source-s3/integration_tests/expected_records/legacy_csv_skip_rows_no_header.jsonl
  airbyte-integrations/connectors/source-s3/integration_tests/expected_records/legacy_csv_user_schema.jsonl
  airbyte-integrations/connectors/source-s3/integration_tests/expected_records/legacy_csv_with_null_bools.jsonl
  airbyte-integrations/connectors/source-s3/integration_tests/expected_records/legacy_csv_with_nulls.jsonl
  airbyte-integrations/connectors/source-s3/integration_tests/expected_records/legacy_parquet_decimal.jsonl
  airbyte-integrations/connectors/source-s3/integration_tests/expected_records/parquet.jsonl
  airbyte-integrations/connectors/source-s3/integration_tests/expected_records/parquet_dataset.jsonl
  airbyte-integrations/connectors/source-s3/integration_tests/integration_test.py
  airbyte-integrations/connectors/source-s3/integration_tests/integration_test_abstract.py
  airbyte-integrations/connectors/source-s3/integration_tests/spec.json
  airbyte-integrations/connectors/source-s3/main.py
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/setup.py
  airbyte-integrations/connectors/source-s3/source_s3/v4/config.py
  airbyte-integrations/connectors/source-s3/source_s3/v4/legacy_config_transformer.py
  airbyte-integrations/connectors/source-s3/source_s3/v4/source.py
  airbyte-integrations/connectors/source-s3/source_s3/v4/stream_reader.py
  airbyte-integrations/connectors/source-s3/unit_tests/sample_files/catalog.json
  airbyte-integrations/connectors/source-s3/unit_tests/sample_files/v3_config.json
  airbyte-integrations/connectors/source-s3/unit_tests/sample_files/v4_config.json
  airbyte-integrations/connectors/source-s3/unit_tests/v4/test_legacy_config_transformer.py
  airbyte-integrations/connectors/source-s3/unit_tests/v4/test_source.py
  docs/integrations/sources/s3-migrations.md
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3

#30060 gradle: cleanup
  .github/pull_request_template.md
  .github/workflows/gradle.yml
  airbyte-api/build.gradle
  airbyte-cdk/java/airbyte-cdk/build.gradle
  airbyte-cdk/python/bin/run-mypy-on-modified-files.sh
  airbyte-cdk/python/build.gradle
  airbyte-ci/connectors/pipelines/pipelines/actions/environments.py
  airbyte-ci/connectors/pipelines/pipelines/tests/java_connectors.py
  airbyte-commons-cli/build.gradle
  airbyte-commons-protocol/build.gradle
  airbyte-commons/build.gradle
  airbyte-config-oss/config-models-oss/build.gradle
  airbyte-config-oss/init-oss/build.gradle
  airbyte-connector-test-harnesses/acceptance-test-harness/build.gradle
  airbyte-db/db-lib/build.gradle
  airbyte-integrations/bases/base-normalization/build.gradle
  airbyte-integrations/bases/standard-source-test/build.gradle
  airbyte-integrations/connector-templates/generator/README.md
  airbyte-integrations/connector-templates/generator/build.gradle
  airbyte-integrations/connectors/destination-clickhouse-strict-encrypt/build.gradle
  airbyte-integrations/connectors/destination-clickhouse/build.gradle
  airbyte-integrations/connectors/destination-iceberg/build.gradle
  airbyte-integrations/connectors/destination-mssql-strict-encrypt/build.gradle
  airbyte-integrations/connectors/destination-mssql/build.gradle
  airbyte-integrations/connectors/destination-redshift/build.gradle
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-tidb/build.gradle
  airbyte-integrations/connectors/source-bing-ads/build.gradle
  airbyte-integrations/connectors/source-mongodb/build.gradle
  airbyte-integrations/connectors/source-python-http-tutorial/build.gradle
  airbyte-integrations/connectors/source-railz/build.gradle
  airbyte-integrations/connectors/source-stock-ticker-api-tutorial/build.gradle
  airbyte-json-validation/build.gradle
  airbyte-test-utils/build.gradle
  build.gradle
  buildSrc/build.gradle
  buildSrc/src/main/groovy/airbyte-connector-acceptance-test.gradle
  buildSrc/src/main/groovy/airbyte-docker.gradle
  buildSrc/src/main/groovy/airbyte-integration-test-java.gradle
  buildSrc/src/main/groovy/airbyte-performance-test-java.gradle
  buildSrc/src/main/groovy/airbyte-python-docker.gradle
  buildSrc/src/main/groovy/airbyte-python.gradle
  buildSrc/src/main/groovy/airbyte-standard-source-test-file.gradle
  docs/reference/api/generated-api-html/index.html
  octavia-cli/build.gradle
  publish-repositories.gradle
  settings.gradle
  tools/integrations/manage.sh
Labels: area/documentation, area/connectors, area/api, normalization, CDK, connectors/source/bing-ads, area/octavia-cli, connectors/destination/snowflake, connectors/destination/redshift, connectors/source/mongodb, connectors/destination/clickhouse, connectors/destination/mssql, connectors/source/stock-ticker-api-tutorial, connectors/destination/mssql-strict-encrypt, connectors/destination/clickhouse-strict-encrypt, connectors/destination/tidb, connectors/source/railz, connectors/destination/iceberg, connectors/source/python-http-tutorial

#29941 🐛 Source Google Search Console: Add `primary key` to each stream, add `config migration` for `custom reports` to new format
  airbyte-integrations/connectors/source-google-search-console/Dockerfile
  airbyte-integrations/connectors/source-google-search-console/README.md
  airbyte-integrations/connectors/source-google-search-console/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-search-console/main.py
  airbyte-integrations/connectors/source-google-search-console/metadata.yaml
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/config_migrations.py
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/source.py
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/spec.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/streams.py
  airbyte-integrations/connectors/source-google-search-console/unit_tests/conftest.py
  airbyte-integrations/connectors/source-google-search-console/unit_tests/test_migrations/test_config.json
  airbyte-integrations/connectors/source-google-search-console/unit_tests/test_migrations/test_config_migrations.py
  airbyte-integrations/connectors/source-google-search-console/unit_tests/unit_test.py
  docs/integrations/sources/google-search-console.inapp.md
  docs/integrations/sources/google-search-console.md
Labels: area/documentation, area/connectors, connectors/source/google-search-console, team/connectors-python, connectors/source/clockify

#27872 Recommendation: Update test_incremental to be unaware when source defines the cursor
  airbyte-integrations/bases/connector-acceptance-test/CHANGELOG.md
  airbyte-integrations/bases/connector-acceptance-test/Dockerfile
  airbyte-integrations/bases/connector-acceptance-test/README.md
  airbyte-integrations/bases/connector-acceptance-test/connector_acceptance_test/config.py
  airbyte-integrations/bases/connector-acceptance-test/connector_acceptance_test/tests/test_core.py
  airbyte-integrations/bases/connector-acceptance-test/connector_acceptance_test/tests/test_incremental.py
  airbyte-integrations/bases/connector-acceptance-test/pyproject.toml
  airbyte-integrations/bases/connector-acceptance-test/sample_files/acceptance-test-config.yml
  airbyte-integrations/bases/connector-acceptance-test/unit_tests/test_config.py
  airbyte-integrations/bases/connector-acceptance-test/unit_tests/test_incremental.py
  airbyte-integrations/bases/connector-acceptance-test/unit_tests/test_json_schema_helper.py
  airbyte-integrations/connectors/source-apple-search-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-aws-cloudtrail/acceptance-test-config.yml
  airbyte-integrations/connectors/source-datascope/acceptance-test-config.yml
  airbyte-integrations/connectors/source-github/acceptance-test-config.yml
  airbyte-integrations/connectors/source-gitlab/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-analytics-data-api/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-analytics-v4/acceptance-test-config.yml
  airbyte-integrations/connectors/source-harvest/acceptance-test-config.yml
  airbyte-integrations/connectors/source-instagram/acceptance-test-config.yml
  airbyte-integrations/connectors/source-intercom/acceptance-test-config.yml
  airbyte-integrations/connectors/source-kustomer-singer/acceptance-test-config.yml
  airbyte-integrations/connectors/source-mailchimp/acceptance-test-config.yml
  airbyte-integrations/connectors/source-mixpanel/acceptance-test-config.yml
  airbyte-integrations/connectors/source-monday/acceptance-test-config.yml
  airbyte-integrations/connectors/source-mongodb-internal-poc/acceptance-test-config.yml
  airbyte-integrations/connectors/source-netsuite/acceptance-test-config.yml
  airbyte-integrations/connectors/source-nytimes/acceptance-test-config.yml
  airbyte-integrations/connectors/source-opsgenie/acceptance-test-config.yml
  airbyte-integrations/connectors/source-orb/acceptance-test-config.yml
  airbyte-integrations/connectors/source-paypal-transaction/acceptance-test-config.yml
  airbyte-integrations/connectors/source-posthog/acceptance-test-config.yml
  airbyte-integrations/connectors/source-railz/acceptance-test-config.yml
  airbyte-integrations/connectors/source-s3/acceptance-test-config.yml
  airbyte-integrations/connectors/source-sendgrid/acceptance-test-config.yml
  airbyte-integrations/connectors/source-trello/acceptance-test-config.yml
  airbyte-integrations/connectors/source-trustpilot/acceptance-test-config.yml
  airbyte-integrations/connectors/source-twilio/acceptance-test-config.yml
  airbyte-integrations/connectors/source-typeform/acceptance-test-config.yml
  airbyte-integrations/connectors/source-zendesk-chat/acceptance-test-config.yml
  airbyte-integrations/connectors/source-zendesk-support/acceptance-test-config.yml
  airbyte-integrations/connectors/source-zenloop/acceptance-test-config.yml
  docs/connector-development/testing-connectors/connector-acceptance-tests-reference.md
Labels: area/documentation, area/connectors, connectors/source/harvest, connectors/source/intercom, connectors/source/monday, connectors/source/mixpanel, connectors/source/trello, connectors/source/aws-cloudtrail, connectors/source/github, connectors/source/gitlab, connectors/source/google-ads, connectors/source/google-analytics-v4, connectors/source/instagram, connectors/source/mailchimp, connectors/source/paypal-transaction, connectors/source/posthog, connectors/source/s3, connectors/source/sendgrid, connectors/source/twilio, connectors/source/typeform, connectors/source/zendesk-chat, connectors/source/zendesk-support, connectors/source/zenloop, connectors/source/kustomer-singer, connectors/source/datascope, connectors/source/google-analytics-data-api, connectors/source/netsuite, connectors/source/opsgenie, connectors/source/orb, connectors/source/railz, connectors/source/trustpilot, connectors/source/nytimes, connectors/source/apple-search-ads, checklist-action-run, connectors/source/mongodb-internal-poc

#30117 T&D frequency: stream start, 6h(*)
  airbyte-integrations/bases/base-typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/TypeAndDedupeOperationValve.java
  airbyte-integrations/bases/base-typing-deduping/src/test/java/io/airbyte/integrations/base/destination/typing_deduping/TypeAndDedupeOperationValveTest.java
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, connectors/destination/snowflake

#30129 Vector DB CDK: Better error message for misconfigured text fields
  airbyte-cdk/python/airbyte_cdk/destinations/vector_db_based/document_processor.py
  airbyte-cdk/python/unit_tests/destinations/vector_db_based/document_processor_test.py
Labels: CDK

#30154 Correct minor typo in README.md to make command work
  octavia-cli/README.md
Labels: community, area/octavia-cli

#30140 Vector DB CDK: Add "from field" embedding strategy
  airbyte-cdk/python/airbyte_cdk/destinations/vector_db_based/README.md
  airbyte-cdk/python/airbyte_cdk/destinations/vector_db_based/config.py
  airbyte-cdk/python/airbyte_cdk/destinations/vector_db_based/document_processor.py
  airbyte-cdk/python/airbyte_cdk/destinations/vector_db_based/embedder.py
  airbyte-cdk/python/airbyte_cdk/destinations/vector_db_based/indexer.py
  airbyte-cdk/python/airbyte_cdk/destinations/vector_db_based/test_utils.py
  airbyte-cdk/python/airbyte_cdk/destinations/vector_db_based/writer.py
  airbyte-cdk/python/unit_tests/destinations/vector_db_based/embedder_test.py
  airbyte-cdk/python/unit_tests/destinations/vector_db_based/writer_test.py
Labels: CDK

#30174 fix langchain breaking change metadata
  airbyte-integrations/connectors/destination-langchain/metadata.yaml
  docs/integrations/destinations/langchain-migrations.md
Labels: area/documentation, area/connectors, connectors/destination/langchain

#29330 :rotating_light: :rotating_light: Source Stripe: sync modified objects
  .gitignore
  airbyte-integrations/connectors/source-stripe/Dockerfile
  airbyte-integrations/connectors/source-stripe/acceptance-test-config.yml
  airbyte-integrations/connectors/source-stripe/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-stripe/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-stripe/integration_tests/connected_account_configured_catalog.json
  airbyte-integrations/connectors/source-stripe/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-stripe/integration_tests/full_refresh_configured_catalog.json
  airbyte-integrations/connectors/source-stripe/integration_tests/non_invoice_line_items_catalog.json
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/setup.py
  airbyte-integrations/connectors/source-stripe/source_stripe/availability_strategy.py
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/application_fees.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/application_fees_refunds.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/authorizations.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/bank_accounts.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/charges.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/checkout_sessions.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/coupons.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/credit_notes.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/disputes.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/early_fraud_warnings.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/external_account_bank_accounts.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/external_account_cards.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/invoice_items.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/invoices.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/payouts.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/persons.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/plans.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/prices.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/products.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/promotion_codes.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/refunds.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/reviews.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/shared/card.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/shared/cardholder.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/shared/customer.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/shared/payment_intent.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/shared/payment_method.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/shared/setup_intent.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/subscription_schedule.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/subscriptions.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/top_ups.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/transactions.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/transfers.json
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  airbyte-integrations/connectors/source-stripe/source_stripe/spec.yaml
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
  airbyte-integrations/connectors/source-stripe/unit_tests/conftest.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_availability_strategy.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_source.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_streams.py
  docs/integrations/sources/stripe-migrations.md
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, connectors/source/stripe, breaking-change, checklist-action-run

#29672 postgres-source: validate filenode before processing each ctid chunk
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresQueryUtils.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/cdc/PostgresCdcCtidInitializer.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidGlobalStateManager.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidPerStreamStateManager.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidStateIterator.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidStateManager.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/FileNodeHandler.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/InitialSyncCtidIterator.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/InitialSyncCtidIteratorConstants.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/PostgresCtidHandler.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/cursor_based/CursorBasedCtidUtils.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/xmin/XminCtidUtils.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/ctid/PostgresCtidHandlerTest.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres, connectors/source/postgres-strict-encrypt

#30020 Destinations V2 - T&D Streams in parallel
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/IntegrationRunner.java
  airbyte-integrations/bases/base-typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/DefaultTyperDeduper.java
  airbyte-integrations/bases/base-typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/FutureUtils.java
  airbyte-integrations/bases/base-typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/NoopTyperDeduper.java
  airbyte-integrations/bases/base-typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/TyperDeduper.java
  airbyte-integrations/bases/base-typing-deduping/src/test/java/io/airbyte/integrations/base/destination/typing_deduping/DefaultTyperDeduperTest.java
  airbyte-integrations/bases/bases-destination-jdbc/src/main/java/io/airbyte/integrations/destination/staging/GeneralStagingFunctions.java
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDestination.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryRecordConsumer.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryStagingConsumerFactory.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQueryDestinationHandler.java
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingDestination.java
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, connectors/destination/snowflake

#30209 [oncall #2838] migrate parsing errors as config errors
  airbyte-cdk/python/airbyte_cdk/sources/file_based/exceptions.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/default_file_based_stream.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/csv_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/jsonl_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/parquet_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/test_scenarios.py
Labels: CDK

#30217 ✨ Source S3: ensure parsing errors are consider as config errors to avoid Sentry alerts
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/setup.py
  airbyte-integrations/connectors/source-s3/source_s3/__init__.py
  airbyte-integrations/connectors/source-s3/source_s3/s3_utils.py
  airbyte-integrations/connectors/source-s3/source_s3/s3file.py
  airbyte-integrations/connectors/source-s3/source_s3/source.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/file_info.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/formats/abstract_file_parser.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/formats/avro_parser.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/formats/csv_parser.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/formats/jsonl_parser.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/formats/parquet_parser.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/storagefile.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/stream.py
  airbyte-integrations/connectors/source-s3/unit_tests/abstract_test_parser.py
  airbyte-integrations/connectors/source-s3/unit_tests/conftest.py
  airbyte-integrations/connectors/source-s3/unit_tests/test_abstract_file_parser.py
  airbyte-integrations/connectors/source-s3/unit_tests/test_avro_parser.py
  airbyte-integrations/connectors/source-s3/unit_tests/test_csv_parser.py
  airbyte-integrations/connectors/source-s3/unit_tests/test_jsonl_parser.py
  airbyte-integrations/connectors/source-s3/unit_tests/test_parquet_parser.py
  airbyte-integrations/connectors/source-s3/unit_tests/test_s3file.py
  airbyte-integrations/connectors/source-s3/unit_tests/test_source.py
  airbyte-integrations/connectors/source-s3/unit_tests/test_stream.py
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3

#30220 Small adjustment to enterprise docs
  docs/deploying-airbyte/on-kubernetes-via-helm.md
Labels: area/documentation

#30223 Formatting issue
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/default_file_based_stream.py
Labels: CDK

#30070 🐛 Destination BigQuery - change typing and deduping error column creation
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGenerator.java
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, checklist-action-run

#30195 postgres-cdc: fix flaky tests
  airbyte-integrations/bases/debezium/src/testFixtures/java/io/airbyte/integrations/debezium/CdcSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
Labels: area/connectors, connectors/source/postgres

#30199 🐛 Source Hubspot: fix expected records for CAT
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/hubspot

#30071 🐛 Source Google Ads: Delete required start date
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-ads/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-google-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/google_ads.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/spec.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/common.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_source.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, connectors/source/google-ads

#30202 Document mockserver usage for CDK development
  airbyte-cdk/python/README.md
Labels: CDK

#30213 Enable MySQL CDC + PK 100%
  airbyte-integrations/connectors/source-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlCdcProperties.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlFeatureFlags.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcBinlogsMySqlSourceDatatypeTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcInitialSnapshotMySqlSourceDatatypeTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcMySqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcMySqlSslCaCertificateSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcMySqlSslRequiredSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/CdcMysqlSourceTest.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/InitialPkLoadEnabledCdcMysqlSourceTest.java
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, connectors/source/mysql, connectors/source/mysql-strict-encrypt

#30264 Update upgrading_to_destinations_v2.md
  docs/release_notes/upgrading_to_destinations_v2.md
Labels: area/documentation

#30181 Metadata: No extra properties
  airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/ConnectorMetadataDefinitionV0.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/models/src/ConnectorMetadataDefinitionV0.yaml
  airbyte-ci/connectors/metadata_service/lib/pyproject.toml
  airbyte-ci/connectors/metadata_service/lib/tests/fixtures/metadata_validate/invalid/metadata_extra_data.yaml
  airbyte-ci/connectors/metadata_service/orchestrator/poetry.lock
  airbyte-ci/connectors/pipelines/pipelines/commands/groups/metadata.py
  airbyte-ci/connectors/pipelines/pipelines/gradle.py
  airbyte-integrations/connectors/source-outbrain-amplify/metadata.yaml
Labels: area/connectors, connectors/source/outbrain-amplify

#30272 OC: rollback typeform to 1.0.0 on cloud
  airbyte-integrations/connectors/source-typeform/metadata.yaml
Labels: area/connectors, connectors/source/typeform

#30172 CAT: changing format or airbyte_type is a breaking change
  airbyte-cdk/python/airbyte_cdk/sources/declarative/models/declarative_component_schema.py
  airbyte-integrations/bases/connector-acceptance-test/CHANGELOG.md
  airbyte-integrations/bases/connector-acceptance-test/Dockerfile
  airbyte-integrations/bases/connector-acceptance-test/connector_acceptance_test/utils/backward_compatibility.py
  airbyte-integrations/bases/connector-acceptance-test/pyproject.toml
  airbyte-integrations/bases/connector-acceptance-test/unit_tests/test_backward_compatibility.py
Labels: CDK

#30254 :bug: Source Stripe: fix legacy cursor field for event-based incremental streams
  airbyte-integrations/connectors/source-stripe/Dockerfile
  airbyte-integrations/connectors/source-stripe/acceptance-test-config.yml
  airbyte-integrations/connectors/source-stripe/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_streams.py
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, connectors/source/stripe, checklist-action-run

#29950 :sparkles: Source Stripe: prepare for the next stage certification
  airbyte-integrations/connectors/source-stripe/Dockerfile
  airbyte-integrations/connectors/source-stripe/acceptance-test-config.yml
  airbyte-integrations/connectors/source-stripe/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/bank_accounts.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/checkout_sessions.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/checkout_sessions_line_items.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/coupons.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/external_account_bank_accounts.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/external_account_cards.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/invoice_items.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/invoices.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/persons.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/plans.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/prices.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/products.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/shared/customer.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/shared/tax_rate.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/shared/tax_rates.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/subscription_items.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/subscription_schedule.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/subscriptions.json
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  airbyte-integrations/connectors/source-stripe/source_stripe/spec.yaml
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
  airbyte-integrations/connectors/source-stripe/unit_tests/conftest.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_source.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_streams.py
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, connectors/source/stripe

#30142 Source Zendesk Support: handle Non JSON Response
  airbyte-integrations/connectors/source-zendesk-support/Dockerfile
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/incremental_catalog.json
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/streams.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/unit_test.py
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-support, connectors/source/hubplanner

#30133 Pinecone destination: Refactor to use vector DB CDK
  airbyte-integrations/connectors/destination-pinecone/Dockerfile
  airbyte-integrations/connectors/destination-pinecone/destination_pinecone/batcher.py
  airbyte-integrations/connectors/destination-pinecone/destination_pinecone/config.py
  airbyte-integrations/connectors/destination-pinecone/destination_pinecone/destination.py
  airbyte-integrations/connectors/destination-pinecone/destination_pinecone/document_processor.py
  airbyte-integrations/connectors/destination-pinecone/destination_pinecone/embedder.py
  airbyte-integrations/connectors/destination-pinecone/destination_pinecone/indexer.py
  airbyte-integrations/connectors/destination-pinecone/destination_pinecone/utils.py
  airbyte-integrations/connectors/destination-pinecone/integration_tests/base_integration_test.py
  airbyte-integrations/connectors/destination-pinecone/integration_tests/pinecone_integration_test.py
  airbyte-integrations/connectors/destination-pinecone/integration_tests/spec.json
  airbyte-integrations/connectors/destination-pinecone/metadata.yaml
  airbyte-integrations/connectors/destination-pinecone/setup.py
  airbyte-integrations/connectors/destination-pinecone/unit_tests/batcher_test.py
  airbyte-integrations/connectors/destination-pinecone/unit_tests/destination_test.py
  airbyte-integrations/connectors/destination-pinecone/unit_tests/document_processor_test.py
  airbyte-integrations/connectors/destination-pinecone/unit_tests/embedder_test.py
  airbyte-integrations/connectors/destination-pinecone/unit_tests/pinecone_indexer_test.py
  docs/integrations/destinations/pinecone.md
Labels: area/documentation, area/connectors, connectors/destination/pinecone

#27946 source delighted: change 'date since' title to 'replication start date'
  airbyte-integrations/connectors/source-delighted/Dockerfile
  airbyte-integrations/connectors/source-delighted/metadata.yaml
  airbyte-integrations/connectors/source-delighted/source_delighted/spec.json
  docs/integrations/sources/delighted.md
Labels: area/documentation, area/connectors, connectors/source/delighted

#30168 Source Zendesk Support: Make `start_date` field optional
  airbyte-integrations/connectors/source-zendesk-support/Dockerfile
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/setup.py
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/source.py
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/spec.json
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/unit_test.py
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-support

#29790 🎉 New Destination: Milvus
  airbyte-integrations/connectors/destination-milvus/.dockerignore
  airbyte-integrations/connectors/destination-milvus/Dockerfile
  airbyte-integrations/connectors/destination-milvus/README.md
  airbyte-integrations/connectors/destination-milvus/acceptance-test-config.yml
  airbyte-integrations/connectors/destination-milvus/acceptance-test-docker.sh
  airbyte-integrations/connectors/destination-milvus/bootstrap.md
  airbyte-integrations/connectors/destination-milvus/build.gradle
  airbyte-integrations/connectors/destination-milvus/destination_milvus/__init__.py
  airbyte-integrations/connectors/destination-milvus/destination_milvus/config.py
  airbyte-integrations/connectors/destination-milvus/destination_milvus/destination.py
  airbyte-integrations/connectors/destination-milvus/destination_milvus/indexer.py
  airbyte-integrations/connectors/destination-milvus/examples/configured_catalog.json
  airbyte-integrations/connectors/destination-milvus/examples/messages.jsonl
  airbyte-integrations/connectors/destination-milvus/icon.svg
  airbyte-integrations/connectors/destination-milvus/integration_tests/milvus_integration_test.py
  airbyte-integrations/connectors/destination-milvus/integration_tests/spec.json
  airbyte-integrations/connectors/destination-milvus/main.py
  airbyte-integrations/connectors/destination-milvus/metadata.yaml
  airbyte-integrations/connectors/destination-milvus/requirements.txt
  airbyte-integrations/connectors/destination-milvus/setup.py
  airbyte-integrations/connectors/destination-milvus/unit_tests/destination_test.py
  airbyte-integrations/connectors/destination-milvus/unit_tests/indexer_test.py
  docs/integrations/destinations/milvus.md
Labels: area/documentation, area/connectors, connectors/destination/milvus

#29992 :bug: Source Recharge: added old api version for orders stream
  airbyte-integrations/connectors/source-recharge/Dockerfile
  airbyte-integrations/connectors/source-recharge/metadata.yaml
  airbyte-integrations/connectors/source-recharge/source_recharge/api.py
  docs/integrations/sources/recharge.md
Labels: area/documentation, area/connectors, connectors/source/recharge

#30276 Update deploying-aribyte on-aws-ec2.md with docker compose plugin ins…
  docs/deploying-airbyte/on-aws-ec2.md
Labels: area/documentation, community

#30144 Docs: add banner new Python CDK Contributions
  docs/connector-development/cdk-python/README.md
  docs/contributing-to-airbyte/README.md
Labels: area/documentation, connectors/destination/pinecone

#30282 Langchain destination: Use embedders from CDK
  airbyte-integrations/connectors/destination-langchain/Dockerfile
  airbyte-integrations/connectors/destination-langchain/destination_langchain/config.py
  airbyte-integrations/connectors/destination-langchain/destination_langchain/destination.py
  airbyte-integrations/connectors/destination-langchain/destination_langchain/embedder.py
  airbyte-integrations/connectors/destination-langchain/destination_langchain/indexer.py
  airbyte-integrations/connectors/destination-langchain/integration_tests/chroma_integration_test.py
  airbyte-integrations/connectors/destination-langchain/integration_tests/docarray_integration_test.py
  airbyte-integrations/connectors/destination-langchain/integration_tests/pinecone_integration_test.py
  airbyte-integrations/connectors/destination-langchain/metadata.yaml
  docs/integrations/destinations/langchain.md
Labels: area/documentation, area/connectors, community, connectors/destination/langchain

#29666 Source Facebook-Marketing: Adding custom field `boosted_object_id` to a streams schema in campaigns catalog
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/campaigns.json
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, community, gl, connectors/source/facebook-marketing, gl-review-needs-triage

#30301 Fix broken env tags in google sheets docs
  docs/integrations/sources/google-sheets.md
Labels: area/documentation

#28639 Source S3: always show S3 Access Key fields
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/integration_tests/spec.json
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/source_s3/source.py
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3

#30297 Source Jira: remove extra dependencies
  airbyte-integrations/connectors/source-jira/Dockerfile
  airbyte-integrations/connectors/source-jira/metadata.yaml
  airbyte-integrations/connectors/source-jira/setup.py
  docs/integrations/sources/jira.md
Labels: area/documentation, area/connectors, connectors/source/jira

#30259 Source Zendesk Support: add stream `Deleted Tickets`
  airbyte-integrations/connectors/source-zendesk-support/Dockerfile
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/deleted_tickets.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/source.py
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/streams.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/unit_test.py
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-support

#30312 🚨 Source: Typeform - mark breaking change
  airbyte-integrations/connectors/source-typeform/metadata.yaml
  docs/integrations/sources/typeform-migrations.md
Labels: area/documentation, area/connectors, connectors/source/typeform

#30208 ✨ Source MongoDB Internal POC: Add CDC-focused Acceptance Tests
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/ChangeEventWithMetadata.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/DebeziumEventUtils.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/mongodb/MongoDbCdcEventUtils.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/mongodb/MongoDbDebeziumConstants.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/mongodb/MongoDbDebeziumStateUtil.java
  airbyte-integrations/bases/debezium/src/test/java/io/airbyte/integrations/debezium/internals/DebeziumEventUtilsTest.java
  airbyte-integrations/bases/debezium/src/test/java/io/airbyte/integrations/debezium/internals/mongodb/MongoDbCdcEventUtilsTest.java
  airbyte-integrations/bases/debezium/src/test/java/io/airbyte/integrations/debezium/internals/mongodb/MongoDbCdcTargetPositionTest.java
  airbyte-integrations/bases/debezium/src/test/java/io/airbyte/integrations/debezium/internals/mongodb/MongoDbDebeziumPropertiesManagerTest.java
  airbyte-integrations/bases/debezium/src/test/java/io/airbyte/integrations/debezium/internals/mongodb/MongoDbDebeziumStateUtilTest.java
  airbyte-integrations/bases/debezium/src/test/resources/mongodb/change_event_delete.json
  airbyte-integrations/bases/debezium/src/test/resources/mongodb/change_event_delete_no_before.json
  airbyte-integrations/bases/debezium/src/test/resources/mongodb/change_event_insert.json
  airbyte-integrations/bases/debezium/src/test/resources/mongodb/change_event_unsupported.json
  airbyte-integrations/bases/debezium/src/test/resources/mongodb/change_event_update.json
  airbyte-integrations/bases/debezium/src/test/resources/mongodb/delete_airbyte_message.json
  airbyte-integrations/bases/debezium/src/test/resources/mongodb/delete_no_before_airbyte_message.json
  airbyte-integrations/bases/debezium/src/test/resources/mongodb/insert_airbyte_message.json
  airbyte-integrations/bases/debezium/src/test/resources/mongodb/update_airbyte_message.json
  airbyte-integrations/connectors/source-mongodb-internal-poc/README.md
  airbyte-integrations/connectors/source-mongodb-internal-poc/build.gradle
  airbyte-integrations/connectors/source-mongodb-internal-poc/integration_tests/expected_spec.json
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/main/java/io/airbyte/integrations/source/mongodb/internal/MongoCatalogHelper.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/main/java/io/airbyte/integrations/source/mongodb/internal/MongoConnectionUtils.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/main/java/io/airbyte/integrations/source/mongodb/internal/MongoConstants.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/main/java/io/airbyte/integrations/source/mongodb/internal/MongoDbStateIterator.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/main/java/io/airbyte/integrations/source/mongodb/internal/MongoUtil.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/main/java/io/airbyte/integrations/source/mongodb/internal/cdc/MongoDbCdcInitialSnapshotUtils.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/main/java/io/airbyte/integrations/source/mongodb/internal/cdc/MongoDbCdcInitializer.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/main/java/io/airbyte/integrations/source/mongodb/internal/cdc/MongoDbCdcProperties.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/main/java/io/airbyte/integrations/source/mongodb/internal/cdc/MongoDbDebeziumFieldsUtil.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/main/resources/spec.json
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/test-integration/java/io/airbyte/integrations/source/mongodb/internal/MongoDbSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/test/java/io/airbyte/integrations/source/mongodb/internal/MongoCatalogHelperTest.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/test/java/io/airbyte/integrations/source/mongodb/internal/MongoConnectionUtilsTest.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/test/java/io/airbyte/integrations/source/mongodb/internal/MongoDbSourceTest.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/test/java/io/airbyte/integrations/source/mongodb/internal/MongoUtilTest.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/test/java/io/airbyte/integrations/source/mongodb/internal/cdc/MongoDbCdcInitializerTest.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/test/java/io/airbyte/integrations/source/mongodb/internal/cdc/MongoDbCdcPropertiesTest.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/test/kotlin/MongoDbInsertClient.kt
Labels: area/connectors, connectors/source/waiteraid, connectors/source/mongodb-internal-poc

#30197 postgres+mysql sources: use constants to keep checkpointing behaviour same
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/AirbyteDebeziumHandler.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/DebeziumIteratorConstants.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/DebeziumStateDecoratingIterator.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialLoadHandler.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialSyncStateIterator.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/CdcMysqlSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidStateIterator.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/PostgresCtidHandler.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/XminPostgresSourceTest.java
Labels: area/connectors, connectors/source/mysql, connectors/source/postgres

#30193 Pinecone destination: Improve spec and allowed hosts
  airbyte-integrations/connectors/destination-pinecone/Dockerfile
  airbyte-integrations/connectors/destination-pinecone/destination_pinecone/config.py
  airbyte-integrations/connectors/destination-pinecone/integration_tests/spec.json
  airbyte-integrations/connectors/destination-pinecone/metadata.yaml
  docs/integrations/destinations/pinecone.md
Labels: area/documentation, area/connectors, connectors/destination/pinecone

#30339 Realign documentation with implementation
  docs/integrations/sources/s3-migrations.md
  docs/integrations/sources/s3.md
Labels: area/documentation

#30300 :bug: Source Jira: 401 and 403 errors
  airbyte-integrations/connectors/source-jira/Dockerfile
  airbyte-integrations/connectors/source-jira/metadata.yaml
  airbyte-integrations/connectors/source-jira/source_jira/streams.py
  airbyte-integrations/connectors/source-jira/unit_tests/test_streams.py
  docs/integrations/sources/jira.md
Labels: area/documentation, area/connectors, connectors/source/jira

#30338 Change alpha to early access for Enterprise
  docs/airbyte-enterprise.md
  docs/deploying-airbyte/on-kubernetes-via-helm.md
Labels: area/documentation

#30346 Change airbyte.yml location in docs
  docs/deploying-airbyte/on-kubernetes-via-helm.md
Labels: area/documentation

#30367 Update migration guide
  docs/integrations/sources/s3-migrations.md
Labels: area/documentation

#28488 ⚠️ Retire `destination-bigquery-denormalized`
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  airbyte-integrations/connectors/destination-bigquery-denormalized/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedDestinationAcceptanceTest.java
  docs/integrations/destinations/bigquery-denormalized-migrations.md
  docs/integrations/destinations/bigquery-denormalized.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, connectors/destination/bigquery-denormalized, breaking-change

#30364 DV2: add log messages for name collisions
  airbyte-integrations/bases/base-typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/CatalogParser.java
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, connectors/destination/snowflake

#30376 🐛Source Google Ads: revert pagination changes
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/google_ads.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, connectors/source/google-ads, team/connectors-python, checklist-action-run

#30340 :sparkles: Source Jira: bad request message update
  airbyte-integrations/connectors/source-jira/Dockerfile
  airbyte-integrations/connectors/source-jira/metadata.yaml
  airbyte-integrations/connectors/source-jira/source_jira/streams.py
  airbyte-integrations/connectors/source-jira/unit_tests/test_streams.py
  docs/integrations/sources/jira.md
Labels: area/documentation, area/connectors, connectors/source/jira

#30247 Use shallow clone in local deployment
  docs/deploying-airbyte/local-deployment.md
Labels: area/documentation, community

#30290 ✨ Source Google Analytics Data API: add new reports
  airbyte-integrations/connectors/source-google-analytics-data-api/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-data-api/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-analytics-data-api/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-google-analytics-data-api/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-google-analytics-data-api/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/defaults/default_reports.json
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_source.py
  docs/integrations/sources/google-analytics-data-api.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-data-api

#30343 Source Jira: enable caching for `Issues` stream
  airbyte-integrations/connectors/source-jira/Dockerfile
  airbyte-integrations/connectors/source-jira/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-jira/metadata.yaml
  airbyte-integrations/connectors/source-jira/source_jira/streams.py
  airbyte-integrations/connectors/source-jira/unit_tests/test_streams.py
  docs/integrations/sources/jira.md
Labels: area/documentation, area/connectors, connectors/source/jira

#30381 🎉 Source Shopify: change internal status to `Silver`
  airbyte-integrations/connectors/source-shopify/acceptance-test-config.yml
  airbyte-integrations/connectors/source-shopify/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-shopify/metadata.yaml
Labels: area/connectors, connectors/source/shopify, team/connectors-python

#30347 File-based CDK: update record parse error message
  airbyte-cdk/python/airbyte_cdk/sources/file_based/exceptions.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/csv_parser.py
Labels: CDK

#30023 🎉 New Destination: Chroma (Vector Database)
  airbyte-integrations/connectors/destination-chroma/.dockerignore
  airbyte-integrations/connectors/destination-chroma/Dockerfile
  airbyte-integrations/connectors/destination-chroma/README.md
  airbyte-integrations/connectors/destination-chroma/build.gradle
  airbyte-integrations/connectors/destination-chroma/destination_chroma/__init__.py
  airbyte-integrations/connectors/destination-chroma/destination_chroma/config.py
  airbyte-integrations/connectors/destination-chroma/destination_chroma/destination.py
  airbyte-integrations/connectors/destination-chroma/destination_chroma/indexer.py
  airbyte-integrations/connectors/destination-chroma/destination_chroma/no_embedder.py
  airbyte-integrations/connectors/destination-chroma/destination_chroma/utils.py
  airbyte-integrations/connectors/destination-chroma/icon.svg
  airbyte-integrations/connectors/destination-chroma/integration_tests/integration_test.py
  airbyte-integrations/connectors/destination-chroma/main.py
  airbyte-integrations/connectors/destination-chroma/metadata.yaml
  airbyte-integrations/connectors/destination-chroma/requirements.txt
  airbyte-integrations/connectors/destination-chroma/setup.py
  airbyte-integrations/connectors/destination-chroma/unit_tests/__init__.py
  airbyte-integrations/connectors/destination-chroma/unit_tests/test_destination.py
  airbyte-integrations/connectors/destination-chroma/unit_tests/test_indexer.py
  docs/integrations/destinations/chroma.md
Labels: area/documentation, area/connectors, community, connectors/destination/chroma

#30308 mysql-source-cdc: enable compression logic for schema history
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/mysql/MysqlCdcStateConstants.java
  airbyte-integrations/connectors/source-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/CdcMysqlSourceTest.java
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, connectors/source/mysql, connectors/source/mysql-strict-encrypt

#30354 Docs: update add-a-source.md
  docs/.gitbook/assets/add-a-source/getting-started-source-list.png
  docs/.gitbook/assets/add-a-source/getting-started-source-page.png
  docs/quickstart/add-a-source.md
Labels: area/documentation

#30375 🐛 Only take table size info for streams syncing via primary key
  airbyte-integrations/connectors/source-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlQueryUtils.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialReadUtil.java
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, connectors/source/mysql, connectors/source/mysql-strict-encrypt

#30384 airbyte-ci: refactor gradle containers, use amazoncorretto
  airbyte-ci/connectors/pipelines/README.md
  airbyte-ci/connectors/pipelines/pipelines/actions/environments.py
  airbyte-ci/connectors/pipelines/pipelines/builds/java_connectors.py
  airbyte-ci/connectors/pipelines/pipelines/consts.py
  airbyte-ci/connectors/pipelines/pipelines/contexts.py
  airbyte-ci/connectors/pipelines/pipelines/format/java_connectors.py
  airbyte-ci/connectors/pipelines/pipelines/gradle.py
  airbyte-ci/connectors/pipelines/pipelines/pipelines/connectors.py
  airbyte-ci/connectors/pipelines/pipelines/tests/java_connectors.py
  airbyte-ci/connectors/pipelines/pyproject.toml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryUtils.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeDatabase.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSourceOperations.java
  settings.gradle
Labels: area/connectors, connectors/destination/bigquery, connectors/destination/snowflake, connectors/source/postgres

#30365 Source Jira: Add Unexpected Fields
  airbyte-integrations/connectors/source-jira/Dockerfile
  airbyte-integrations/connectors/source-jira/acceptance-test-config.yml
  airbyte-integrations/connectors/source-jira/metadata.yaml
  airbyte-integrations/connectors/source-jira/source_jira/schemas/application_roles.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/boards.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/dashboards.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_fields.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_priorities.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_properties.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_resolutions.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/project_components.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/projects.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/workflow_statuses.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/workflows.json
  docs/integrations/sources/jira.md
Labels: area/documentation, area/connectors, connectors/source/jira

#30404 add rolling back oss instructions
  docs/release_notes/upgrading_to_destinations_v2.md
Labels: area/documentation

#30419 🐛 [source-google-analytics-data-api] revert back to 1.1.3
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
Labels: area/connectors, connectors/source/google-analytics-data-api

#30380 :sparkles: Source Jira: add error messages from response to check connection method
  airbyte-integrations/connectors/source-jira/Dockerfile
  airbyte-integrations/connectors/source-jira/metadata.yaml
  airbyte-integrations/connectors/source-jira/source_jira/source.py
  airbyte-integrations/connectors/source-jira/unit_tests/test_source.py
  docs/integrations/sources/jira.md
Labels: area/documentation, area/connectors, connectors/source/jira

#30136 Vector DB CDK: AzureOpenAIEmbedder
  airbyte-cdk/python/airbyte_cdk/destinations/vector_db_based/config.py
  airbyte-cdk/python/airbyte_cdk/destinations/vector_db_based/embedder.py
  airbyte-cdk/python/unit_tests/destinations/vector_db_based/embedder_test.py
Labels: CDK

#30152 Source Google Analytics Data API: ability to add multiple property ids
  airbyte-integrations/connectors/source-google-analytics-data-api/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-data-api/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-analytics-data-api/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-google-analytics-data-api/main.py
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/config_migrations.py
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/source.py
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/spec.json
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_migration.py
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_source.py
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_streams.py
  docs/integrations/sources/google-analytics-data-api.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-data-api

#30382 Pinecone destination: Promote to beta/certified
  airbyte-integrations/connectors/destination-pinecone/Dockerfile
  airbyte-integrations/connectors/destination-pinecone/metadata.yaml
  docs/integrations/destinations/pinecone.md
Labels: area/documentation, area/connectors, connectors/destination/pinecone

#30416 🐛 Destination snowflake: Handle namespace/stream name/columns containing `${`
  airbyte-integrations/bases/base-typing-deduping-test/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/BaseSqlGeneratorIntegrationTest.java
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGenerator.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeTestUtils.java
  airbyte-integrations/connectors/destination-snowflake/src/test/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGeneratorTest.java
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/snowflake

#30438 airbyte-ci: fix integration test log buffering
  airbyte-ci/connectors/pipelines/README.md
  airbyte-ci/connectors/pipelines/pipelines/actions/environments.py
  airbyte-ci/connectors/pipelines/pipelines/gradle.py
  airbyte-ci/connectors/pipelines/pipelines/tests/common.py
  airbyte-ci/connectors/pipelines/pipelines/tests/python_connectors.py
  airbyte-ci/connectors/pipelines/pyproject.toml
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  buildSrc/src/main/groovy/airbyte-integration-test-java.gradle
Labels: area/connectors, connectors/destination/snowflake

#30414 🐛 Source Twilio - fix expected records of calls stream
  airbyte-integrations/connectors/source-twilio/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/twilio

#30439 Destinations v2: threadsafe setup
  airbyte-integrations/bases/base-typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/DefaultTyperDeduper.java
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_migration.py
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, connectors/destination/snowflake, connectors/source/google-analytics-data-api

#29960 🐛 Source Jira: Add boardId to sprints stream
  airbyte-integrations/connectors/source-jira/Dockerfile
  airbyte-integrations/connectors/source-jira/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-jira/metadata.yaml
  airbyte-integrations/connectors/source-jira/source_jira/schemas/sprints.json
  airbyte-integrations/connectors/source-jira/source_jira/streams.py
  docs/integrations/sources/jira.md
Labels: area/documentation, area/connectors, community, gl, connectors/source/jira, gl-review-needs-triage

#30447 Update pull-requests-handbook.md
  docs/contributing-to-airbyte/resources/pull-requests-handbook.md
Labels: area/documentation

#30387 Source S3: bump airbyte-cdk version to pick up error message improvement
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/setup.py
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3

#30420 Update salesforce docs to include recycle bin info
  docs/integrations/sources/salesforce.inapp.md
  docs/integrations/sources/salesforce.md
Labels: area/documentation

#30452 Clarify username/pass only working in docker compose
  docs/operator-guides/security.md
Labels: area/documentation

#29469 🎉 Migrate BigCommerce Source Connector to Low Code
  airbyte-integrations/connectors/source-bigcommerce/.dockerignore
  airbyte-integrations/connectors/source-bigcommerce/Dockerfile
  airbyte-integrations/connectors/source-bigcommerce/README.md
  airbyte-integrations/connectors/source-bigcommerce/__init__.py
  airbyte-integrations/connectors/source-bigcommerce/acceptance-test-config.yml
  airbyte-integrations/connectors/source-bigcommerce/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-bigcommerce/integration_tests/__init__.py
  airbyte-integrations/connectors/source-bigcommerce/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-bigcommerce/integration_tests/catalog.json
  airbyte-integrations/connectors/source-bigcommerce/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-bigcommerce/metadata.yaml
  airbyte-integrations/connectors/source-bigcommerce/setup.py
  airbyte-integrations/connectors/source-bigcommerce/source_bigcommerce/__init__.py
  airbyte-integrations/connectors/source-bigcommerce/source_bigcommerce/components.py
  airbyte-integrations/connectors/source-bigcommerce/source_bigcommerce/manifest.yaml
  airbyte-integrations/connectors/source-bigcommerce/source_bigcommerce/schemas/categories.json
  airbyte-integrations/connectors/source-bigcommerce/source_bigcommerce/schemas/channels.json
  airbyte-integrations/connectors/source-bigcommerce/source_bigcommerce/schemas/customers.json
  airbyte-integrations/connectors/source-bigcommerce/source_bigcommerce/schemas/pages.json
  airbyte-integrations/connectors/source-bigcommerce/source_bigcommerce/schemas/store.json
  airbyte-integrations/connectors/source-bigcommerce/source_bigcommerce/source.py
  airbyte-integrations/connectors/source-bigcommerce/source_bigcommerce/spec.json
  docs/integrations/sources/bigcommerce.md
Labels: area/documentation, area/connectors, community, connectors/source/bigcommerce, team/tse, Hackathon, august-hackathon

#30333 [Source-MySQL] Correctly set Debezium MySQL connector database timezone property
  airbyte-integrations/connectors/source-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlCdcProperties.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/CdcMysqlSourceTest.java
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, connectors/source/mysql, connectors/source/mysql-strict-encrypt

#30386 [ISSUE #72] LinkedIn Ads documentation
  docs/snowflake-native-apps/linkedin-ads-ui.gif
  docs/snowflake-native-apps/linkedin-ads.md
Labels: area/documentation

#30424 🐛 Source Google Analytics Data API: fix duplicated stream instance
  airbyte-integrations/connectors/source-google-analytics-data-api/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-data-api/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-analytics-data-api/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/defaults/default_reports.json
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_source.py
  docs/integrations/sources/google-analytics-data-api.md
Labels: area/documentation, area/connectors, team/connectors-python, connectors/source/google-analytics-data-api

#30296 ✨ Add azure embedder to destination-pinecone.
  airbyte-integrations/connectors/destination-pinecone/Dockerfile
  airbyte-integrations/connectors/destination-pinecone/destination_pinecone/config.py
  airbyte-integrations/connectors/destination-pinecone/destination_pinecone/destination.py
  airbyte-integrations/connectors/destination-pinecone/integration_tests/spec.json
  airbyte-integrations/connectors/destination-pinecone/metadata.yaml
  airbyte-integrations/connectors/destination-pinecone/setup.py
  docs/integrations/destinations/pinecone.md
Labels: area/documentation, area/connectors, community, connectors/destination/pinecone

#30463 snowflake native apps docs highlight notes and warnings
  docs/snowflake-native-apps/linkedin-ads.md
Labels: area/documentation

#30457 Update terraform-documentation.md
  docs/terraform-documentation.md
Labels: area/documentation, community

#30469 🐛 Source Mixpanel: Add default `primary key` to `export` stream
  airbyte-integrations/connectors/source-mixpanel/Dockerfile
  airbyte-integrations/connectors/source-mixpanel/acceptance-test-config.yml
  airbyte-integrations/connectors/source-mixpanel/metadata.yaml
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams/export.py
  docs/integrations/sources/mixpanel.md
Labels: area/documentation, area/connectors, connectors/source/mixpanel

#30455 More T&D docs about raw table users and cost
  docs/release_notes/upgrading_to_destinations_v2.md
Labels: area/documentation

#30481 Pin apify version
  airbyte-integrations/connectors/source-apify-dataset/metadata.yaml
Labels: area/connectors, connectors/source/apify-dataset

#30483 Snowflake Native App: Add feature parity warning and rename app in section
  docs/snowflake-native-apps/linkedin-ads.md
Labels: area/documentation

#30417 ✨Source Google Analytics (GAv4): change start date to optional; add suggested streams and update error…
  airbyte-integrations/connectors/source-google-analytics-data-api/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/source.py
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/spec.json
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/conftest.py
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_source.py
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_streams.py
  docs/integrations/sources/google-analytics-data-api.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-data-api

#30485 :tada: Source Facebook Marketing - add new fields to campaigns stream
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/acceptance-test-config.yml
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/campaigns.json
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing

#30499 Move access variables do docker specific section
  docs/operator-guides/configuring-airbyte.md
Labels: area/documentation

#30506 🐛 [source-google-analytics-data-api] fix issue if metrics or dimensions api response does not have name field
  airbyte-integrations/connectors/source-google-analytics-data-api/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/source.py
  docs/integrations/sources/google-analytics-data-api.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-data-api

#30471 Source Amplitude: fix most recent cursor value
  airbyte-integrations/connectors/source-amplitude/Dockerfile
  airbyte-integrations/connectors/source-amplitude/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-amplitude/metadata.yaml
  airbyte-integrations/connectors/source-amplitude/source_amplitude/streams.py
  docs/integrations/sources/amplitude.md
Labels: area/documentation, area/connectors, connectors/source/amplitude

#30507 Source Jira: add new stream `IssueTransitions`
  airbyte-integrations/connectors/source-jira/Dockerfile
  airbyte-integrations/connectors/source-jira/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-jira/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-jira/metadata.yaml
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_transitions.json
  airbyte-integrations/connectors/source-jira/source_jira/source.py
  airbyte-integrations/connectors/source-jira/source_jira/spec.json
  airbyte-integrations/connectors/source-jira/source_jira/streams.py
  airbyte-integrations/connectors/source-jira/unit_tests/test_source.py
  docs/integrations/sources/jira.md
Labels: area/documentation, area/connectors, connectors/source/jira

#30453 [ISSUE #30353] remove file_type from stream config
  airbyte-cdk/python/airbyte_cdk/sources/declarative/models/declarative_component_schema.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/availability_strategy/default_file_based_availability_strategy.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/file_based_stream_config.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_based_source.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/avro_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/csv_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/parquet_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/abstract_file_based_stream.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/default_file_based_stream.py
  airbyte-cdk/python/unit_tests/sources/file_based/file_types/test_avro_parser.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/avro_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/check_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/csv_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/incremental_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/jsonl_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/parquet_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/scenario_builder.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/user_input_schema_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/validation_policy_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/stream/test_default_file_based_cursor.py
  airbyte-cdk/python/unit_tests/sources/file_based/stream/test_default_file_based_stream.py
Labels: CDK

#30476 ✨ Source S3: remove `streams.*.file_type` from source-s3 configuration
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/acceptance-test-config.yml
  airbyte-integrations/connectors/source-s3/integration_tests/spec.json
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/setup.py
  airbyte-integrations/connectors/source-s3/source_s3/v4/legacy_config_transformer.py
  airbyte-integrations/connectors/source-s3/unit_tests/v4/test_cursor.py
  airbyte-integrations/connectors/source-s3/unit_tests/v4/test_legacy_config_transformer.py
  docs/integrations/sources/s3-migrations.md
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3

#30494 source-stripe: fix property of `invoices.lines` property
  airbyte-integrations/connectors/source-stripe/Dockerfile
  airbyte-integrations/connectors/source-stripe/acceptance-test-config.yml
  airbyte-integrations/connectors/source-stripe/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/invoices.json
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, connectors/source/stripe

#30503 Fix typo in low-code-cdk-overview.md
  docs/connector-development/config-based/low-code-cdk-overview.md
Labels: area/documentation, community

#30501 📚 Docs: Add Support Level, remove release stage
  docs/connector-development/config-based/low-code-cdk-overview.md
  docs/connector-development/config-based/tutorial/0-getting-started.md
  docs/integrations/README.md
  docs/operator-guides/contact-support.md
  docs/project-overview/product-release-stages.md
  docs/project-overview/product-support-levels.md
  docusaurus/redirects.yml
  docusaurus/sidebars.js
  docusaurus/src/components/ConnectorRegistry.jsx
Labels: area/documentation

#30491 DV2: Better errors in the UI
  airbyte-cdk/python/airbyte_cdk/sources/declarative/models/declarative_component_schema.py
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination/record_buffer/SerializedBufferingStrategy.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/util/ConnectorExceptionUtil.java
  airbyte-integrations/bases/base-typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/FutureUtils.java
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryRecordConsumer.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQueryDestinationHandler.java
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeDestinationHandler.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGeneratorIntegrationTest.java
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/bigquery, connectors/destination/snowflake

#30246 🎉 Source Shopify: Add ability to fetch `destroyed` records for `Articles, Blogs, CustomCollections, Orders, Pages, PriceRules, Products`
  airbyte-integrations/connectors/source-shopify/Dockerfile
  airbyte-integrations/connectors/source-shopify/acceptance-test-config.yml
  airbyte-integrations/connectors/source-shopify/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-shopify/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-shopify/integration_tests/state.json
  airbyte-integrations/connectors/source-shopify/metadata.yaml
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/articles.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/blogs.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/custom_collections.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/orders.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/pages.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/price_rules.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/products.json
  airbyte-integrations/connectors/source-shopify/source_shopify/source.py
  airbyte-integrations/connectors/source-shopify/unit_tests/conftest.py
  airbyte-integrations/connectors/source-shopify/unit_tests/test_deleted_events_stream.py
  airbyte-integrations/connectors/source-shopify/unit_tests/unit_test.py
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors, connectors/source/shopify, team/connectors-python

#30486 native apps docs had an extra : in the note which messed up formatting
  docs/snowflake-native-apps/linkedin-ads.md
Labels: area/documentation

#30529 Docs: Source S3 clarify bucket-level permissions
  docs/integrations/sources/s3.md
Labels: area/documentation, connectors/source/s3

#30270 [Source-MySQL] Enhanced Standard sync with PK initial load -> Cursor based switch over
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/AirbyteDebeziumHandler.java
  airbyte-integrations/bases/debezium/src/test/java/io/airbyte/integrations/debezium/AirbyteDebeziumHandlerTest.java
  airbyte-integrations/connectors/source-jdbc/src/testFixtures/java/io/airbyte/integrations/source/jdbc/test/JdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
  airbyte-integrations/connectors/source-mysql-strict-encrypt/src/test/java/io/airbyte/integrations/source/mysql_strict_encrypt/MySqlPkStrictEncryptJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql-strict-encrypt/src/test/java/io/airbyte/integrations/source/mysql_strict_encrypt/MySqlStrictEncryptJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlQueryUtils.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/cursor_based/MySqlCursorBasedStateManager.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlFeatureFlags.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialLoadGlobalStateManager.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialLoadHandler.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialLoadRecordIterator.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialLoadStateManager.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialLoadStreamStateManager.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialReadUtil.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/MySqlJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/MysqlPkJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresUtils.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresJdbcSourceAcceptanceTest.java
Labels: area/connectors, connectors/source/cockroachdb, connectors/source/mssql, connectors/source/mysql, connectors/source/oracle, connectors/source/postgres, connectors/source/snowflake, connectors/source/jdbc, connectors/source/mysql-strict-encrypt, connectors/source/oracle-strict-encrypt

#30479 Improve the memory usage of the async destination
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination_async/AsyncStreamConsumer.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination_async/buffers/BufferManager.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination_async/state/GlobalAsyncStateManager.java
  airbyte-integrations/bases/base-java/src/test/java/io/airbyte/integrations/destination_async/AsyncStreamConsumerTest.java
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/snowflake

#30551 `destination-bigquery` GCS staging comes first
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/resources/spec.json
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery

#30510 🐛 Pinecone destination: Fix delete with many entries on starter pods
  airbyte-integrations/connectors/destination-pinecone/Dockerfile
  airbyte-integrations/connectors/destination-pinecone/destination_pinecone/indexer.py
  airbyte-integrations/connectors/destination-pinecone/metadata.yaml
  airbyte-integrations/connectors/destination-pinecone/unit_tests/pinecone_indexer_test.py
  docs/integrations/destinations/pinecone.md
Labels: area/documentation, area/connectors, connectors/destination/pinecone

#30319 🐛 Destination Snowflake - support reserved column names
  airbyte-integrations/bases/base-typing-deduping-test/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/BaseSqlGeneratorIntegrationTest.java
  airbyte-integrations/bases/base-typing-deduping-test/src/main/resources/sqlgenerator/reservedkeywords_inputrecords_raw.jsonl
  airbyte-integrations/bases/base-typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/CatalogParser.java
  airbyte-integrations/bases/base-typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/SqlGenerator.java
  airbyte-integrations/bases/base-typing-deduping/src/test/java/io/airbyte/integrations/base/destination/typing_deduping/CatalogParserTest.java
  airbyte-integrations/bases/base-typing-deduping/src/test/java/io/airbyte/integrations/base/destination/typing_deduping/MockSqlGenerator.java
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryReservedKeywords.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGenerator.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/sqlgenerator/reservedkeywords_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeReservedKeywords.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGenerator.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/sqlgenerator/reservedkeywords_expectedrecords_final.jsonl
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, connectors/destination/snowflake

#30192 :sparkles: Source Sentry: added undeclared fields to stream schema
  airbyte-integrations/connectors/source-sentry/Dockerfile
  airbyte-integrations/connectors/source-sentry/acceptance-test-config.yml
  airbyte-integrations/connectors/source-sentry/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-sentry/metadata.yaml
  airbyte-integrations/connectors/source-sentry/source_sentry/schemas/events.json
  airbyte-integrations/connectors/source-sentry/source_sentry/schemas/issues.json
  airbyte-integrations/connectors/source-sentry/source_sentry/schemas/project_detail.json
  airbyte-integrations/connectors/source-sentry/source_sentry/schemas/projects.json
  airbyte-integrations/connectors/source-sentry/source_sentry/schemas/releases.json
  docs/integrations/sources/sentry.md
Labels: area/documentation, area/connectors, connectors/source/sentry

#30512 Vector DB CDK: Split openai embedding calls
  airbyte-cdk/python/airbyte_cdk/destinations/vector_db_based/embedder.py
  airbyte-cdk/python/airbyte_cdk/destinations/vector_db_based/utils.py
  airbyte-cdk/python/unit_tests/destinations/vector_db_based/embedder_test.py
Labels: CDK

#30525 Source Amplitude: fix data region keyerror
  airbyte-integrations/connectors/source-amplitude/Dockerfile
  airbyte-integrations/connectors/source-amplitude/metadata.yaml
  airbyte-integrations/connectors/source-amplitude/source_amplitude/source.py
  airbyte-integrations/connectors/source-amplitude/source_amplitude/streams.py
  docs/integrations/sources/amplitude.md
Labels: area/documentation, area/connectors, connectors/source/amplitude

#30421 ✨Source Google Analytics (GAv4): add `yearWeek`, `yearMonth`, `year` dimensions cursor
  airbyte-integrations/connectors/source-google-analytics-data-api/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-data-api/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-google-analytics-data-api/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-google-analytics-data-api/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/setup.py
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/defaults/default_reports.json
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/source.py
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/utils.py
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_source.py
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_utils.py
  docs/integrations/sources/google-analytics-data-api.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-data-api

#30517 ✨Source Amazon Ads: add report segmet filter
  airbyte-integrations/connectors/source-amazon-ads/Dockerfile
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-amazon-ads/metadata.yaml
  airbyte-integrations/connectors/source-amazon-ads/setup.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/attribution_report.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_brands.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_display.py
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, area/connectors, connectors/source/amazon-ads

#30332 🎉 New Destination: Qdrant (Vector Database)
  airbyte-integrations/connectors/destination-qdrant/.dockerignore
  airbyte-integrations/connectors/destination-qdrant/.gitignore
  airbyte-integrations/connectors/destination-qdrant/Dockerfile
  airbyte-integrations/connectors/destination-qdrant/README.md
  airbyte-integrations/connectors/destination-qdrant/build.gradle
  airbyte-integrations/connectors/destination-qdrant/destination_qdrant/__init__.py
  airbyte-integrations/connectors/destination-qdrant/destination_qdrant/config.py
  airbyte-integrations/connectors/destination-qdrant/destination_qdrant/destination.py
  airbyte-integrations/connectors/destination-qdrant/destination_qdrant/indexer.py
  airbyte-integrations/connectors/destination-qdrant/examples/configured_catalog.json
  airbyte-integrations/connectors/destination-qdrant/examples/messages.jsonl
  airbyte-integrations/connectors/destination-qdrant/icon.svg
  airbyte-integrations/connectors/destination-qdrant/main.py
  airbyte-integrations/connectors/destination-qdrant/metadata.yaml
  airbyte-integrations/connectors/destination-qdrant/requirements.txt
  airbyte-integrations/connectors/destination-qdrant/setup.py
  airbyte-integrations/connectors/destination-qdrant/unit_tests/__init__.py
  airbyte-integrations/connectors/destination-qdrant/unit_tests/test_destination.py
  airbyte-integrations/connectors/destination-qdrant/unit_tests/test_indexer.py
  docs/integrations/destinations/qdrant.md
Labels: area/documentation, area/connectors, community, connectors/destination/milvus, connectors/destination/qdrant

#30546 Make sure that the buffers are push at least every 5 minutes
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination_async/DetectStreamToFlush.java
  airbyte-integrations/bases/base-java/src/test/java/io/airbyte/integrations/destination_async/DetectStreamToFlushTest.java
  airbyte-integrations/bases/base-java/src/test/java/io/airbyte/integrations/destination_async/TimeTriggerTest.java
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/snowflake

#30560 ✨ Source Shopify: Include socat binary in docker image
  airbyte-integrations/connectors/source-shopify/Dockerfile
  airbyte-integrations/connectors/source-shopify/metadata.yaml
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors, connectors/source/shopify

#30578 Source Jira: fetch deleted and archived records
  airbyte-integrations/connectors/source-jira/Dockerfile
  airbyte-integrations/connectors/source-jira/metadata.yaml
  airbyte-integrations/connectors/source-jira/source_jira/streams.py
  airbyte-integrations/connectors/source-jira/unit_tests/conftest.py
  airbyte-integrations/connectors/source-jira/unit_tests/test_source.py
  airbyte-integrations/connectors/source-jira/unit_tests/test_streams.py
  docs/integrations/sources/jira.md
Labels: area/documentation, area/connectors, connectors/source/jira

#30589 make migration docs uppercase
  docs/release_notes/destinations_v2.js
Labels: area/documentation

#30515 :bug: Source JIra: validation error for date-time format, 404 error in success rates
  airbyte-integrations/connectors/source-jira/Dockerfile
  airbyte-integrations/connectors/source-jira/acceptance-test-config.yml
  airbyte-integrations/connectors/source-jira/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-jira/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-jira/metadata.yaml
  airbyte-integrations/connectors/source-jira/source_jira/source.py
  airbyte-integrations/connectors/source-jira/source_jira/streams.py
  airbyte-integrations/connectors/source-jira/source_jira/type_transfromer.py
  airbyte-integrations/connectors/source-jira/unit_tests/test_date_time_transformer.py
  airbyte-integrations/connectors/source-jira/unit_tests/test_source.py
  docs/integrations/sources/jira.md
Labels: area/documentation, area/connectors, connectors/source/jira

#30461 Airbyte-ci: Add local cdk support
  airbyte-cdk/python/README.md
  airbyte-ci/connectors/pipelines/README.md
  airbyte-ci/connectors/pipelines/pipelines/actions/environments.py
  airbyte-ci/connectors/pipelines/pipelines/commands/groups/connectors.py
  airbyte-ci/connectors/pipelines/pipelines/contexts.py
  airbyte-ci/connectors/pipelines/pipelines/gradle.py
  airbyte-ci/connectors/pipelines/pyproject.toml
Labels: CDK

#30440 🚨🚨 Source Zendesk Support: Remove stream `Deleted Tickets`
  airbyte-integrations/connectors/source-zendesk-support/Dockerfile
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/source.py
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/streams.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/unit_test.py
  docs/integrations/sources/zendesk-support-migrations.md
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-support, breaking-change
