Repository airbytehq/airbyte, pull requests merged in 2023-03, with the labels that each got.

#23600 Connector Health: Fixed SAT for Amazon Ads, Faker, Hubspot, Instagram, Pinterest, Sentry, Zendesk Talk
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-amazon-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-faker/acceptance-test-config.yml
  airbyte-integrations/connectors/source-faker/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-hubspot/acceptance-test-config.yml
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-instagram/README.md
  airbyte-integrations/connectors/source-instagram/acceptance-test-config.yml
  airbyte-integrations/connectors/source-instagram/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-instagram/integration_tests/test_streams.py
  airbyte-integrations/connectors/source-pinterest/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-pinterest/source_pinterest/source.py
  airbyte-integrations/connectors/source-sentry/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-zendesk-talk/acceptance-test-config.yml
  airbyte-integrations/connectors/source-zendesk-talk/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/hubspot, connectors/source/sentry, connectors/source/amazon-ads, connectors/source/instagram, connectors/source/pinterest, connectors/source/zendesk-talk, connectors/source/faker

#23586 Cleanup some webapp reminders
  .editorconfig
  .github/labeler.yml
  .gitignore
  .vscode/frontend.code-workspace
  .vscode/settings.json
  docs/connector-development/connector-specification-reference.md
  tools/bin/e2e_test.sh
Labels: area/documentation

#23411 Isolate our build so that the feedback loop is faster
  .github/workflows/gradle.yml
  .github/workflows/publish-cdk-command-manually.yml
  airbyte-cdk/python/README.md
  docs/contributing-to-airbyte/gradle-cheatsheet.md
  settings.gradle
Labels: area/documentation, CDK

#23620 [ISSUE #22442] move success message from pypi publish to docker image…
  .github/workflows/publish-cdk-command-manually.yml
  airbyte-cdk/python/.bumpversion.cfg
  airbyte-cdk/python/Dockerfile
Labels: CDK

#21688 Source Chargebee: Migrate to YAML
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-chargebee/BOOTSTRAP.md
  airbyte-integrations/connectors/source-chargebee/Dockerfile
  airbyte-integrations/connectors/source-chargebee/README.md
  airbyte-integrations/connectors/source-chargebee/__init__.py
  airbyte-integrations/connectors/source-chargebee/acceptance-test-config.yml
  airbyte-integrations/connectors/source-chargebee/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-chargebee/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-chargebee/integration_tests/future_state.json
  airbyte-integrations/connectors/source-chargebee/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-chargebee/requirements.txt
  airbyte-integrations/connectors/source-chargebee/setup.py
  airbyte-integrations/connectors/source-chargebee/source_chargebee/__init__.py
  airbyte-integrations/connectors/source-chargebee/source_chargebee/components.py
  airbyte-integrations/connectors/source-chargebee/source_chargebee/manifest.yaml
  airbyte-integrations/connectors/source-chargebee/source_chargebee/rate_limiting.py
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/contact.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/coupon.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/credit_note.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/gift.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/hosted_page.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/payment_source.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/promotional_credit.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/quote.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/quote_line_group.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/subscription.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/transaction.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/unbilled_charge.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/virtual_bank_account.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/source.py
  airbyte-integrations/connectors/source-chargebee/source_chargebee/spec.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/spec.yaml
  airbyte-integrations/connectors/source-chargebee/source_chargebee/streams.py
  airbyte-integrations/connectors/source-chargebee/source_chargebee/utils.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/conftest.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/responses/addons.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/responses/attached_items.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/responses/coupons.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/responses/customers.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/responses/events.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/responses/invoices.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/responses/item_prices.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/responses/items.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/responses/orders.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/responses/plans.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/responses/subscriptions.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/test_component.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/test_source.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/test_streams.py
  connectors.md
  docs/integrations/sources/chargebee.md
Labels: area/documentation, area/connectors, connectors/source/chargebee

#23539 Source Pipedrive: promote to cloud
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-pipedrive/Dockerfile
  airbyte-integrations/connectors/source-pipedrive/acceptance-test-config.yml
  airbyte-integrations/connectors/source-pipedrive/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/auth.py
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/schemas/activities.json
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/source.py
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/spec.json
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/streams.py
  airbyte-integrations/connectors/source-pipedrive/unit_tests/conftest.py
  airbyte-integrations/connectors/source-pipedrive/unit_tests/test_source.py
  airbyte-integrations/connectors/source-pipedrive/unit_tests/test_streams.py
  connectors.md
  docs/integrations/sources/pipedrive.md
Labels: area/documentation, area/connectors, connectors/source/pipedrive

#23650 Connector Health: Fixed SAT for Close.com, GitLab, Greenhouse, Recharge, Twilio
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-close-com/acceptance-test-config.yml
  airbyte-integrations/connectors/source-close-com/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-gitlab/acceptance-test-config.yml
  airbyte-integrations/connectors/source-gitlab/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-gitlab/integration_tests/expected_records_with_ids.jsonl
  airbyte-integrations/connectors/source-greenhouse/acceptance-test-config.yml
  airbyte-integrations/connectors/source-greenhouse/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-recharge/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-twilio/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/close-com, connectors/source/gitlab, connectors/source/greenhouse, connectors/source/recharge, connectors/source/twilio

#23653 Small fixes to support python3.8
  airbyte-cdk/python/.bumpversion.cfg
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/Dockerfile
  airbyte-cdk/python/README.md
  airbyte-cdk/python/airbyte_cdk/sources/utils/transform.py
  airbyte-cdk/python/setup.py
  airbyte-integrations/connectors/source-faker/source_faker/purchase_generator.py
  airbyte-integrations/connectors/source-faker/source_faker/streams.py
Labels: area/connectors, CDK, connectors/source/faker

#22892 Source Senseforce: Mark datefields in spec as dates
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-senseforce/Dockerfile
  airbyte-integrations/connectors/source-senseforce/source_senseforce/spec.yaml
  connectors.md
  docs/integrations/sources/senseforce.md
Labels: area/documentation, area/connectors, connectors/source/senseforce

#22901 Source Recharge: Mark datefields in spec as dates
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-recharge/Dockerfile
  airbyte-integrations/connectors/source-recharge/source_recharge/spec.json
  connectors.md
  docs/integrations/sources/recharge.md
Labels: area/documentation, area/connectors, connectors/source/recharge

#22942 Source Klaviyo: Mark datefields in spec as dates
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-klaviyo/Dockerfile
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/spec.json
  connectors.md
  docs/integrations/sources/klaviyo.md
Labels: area/documentation, area/connectors, connectors/source/klaviyo

#22979 Source Iterable: Mark datefields in spec as dates
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-iterable/Dockerfile
  airbyte-integrations/connectors/source-iterable/source_iterable/spec.json
  connectors.md
  docs/integrations/sources/iterable.md
Labels: area/documentation, area/connectors, connectors/source/iterable

#22869 Source Snapchat Marketing: Mark datefields in spec as dates
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-snapchat-marketing/Dockerfile
  airbyte-integrations/connectors/source-snapchat-marketing/source_snapchat_marketing/spec.json
  connectors.md
  docs/integrations/sources/snapchat-marketing.md
Labels: area/documentation, area/connectors, connectors/source/snapchat-marketing

#23649 🐛 Source Pinterest: fix for `HTTP - 400 Bad Request` when requesting data >= 90 days.
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-pinterest/Dockerfile
  connectors.md
  docs/integrations/sources/pinterest.md
Labels: area/documentation, area/connectors, connectors/source/pinterest

#22934 Source NASA: Mark datefields in spec as dates
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-nasa/Dockerfile
  airbyte-integrations/connectors/source-nasa/source_nasa/spec.yaml
  connectors.md
  docs/integrations/sources/nasa.md
Labels: area/documentation, area/connectors, connectors/source/nasa

#23087 Source Amplitude: Mark datefields in spec as dates
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amplitude/Dockerfile
  airbyte-integrations/connectors/source-amplitude/source_amplitude/spec.json
  connectors.md
  docs/integrations/sources/amplitude.md
Labels: area/documentation, area/connectors, connectors/source/amplitude

#22931 Source Notion: Mark datefields in spec as dates
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-notion/Dockerfile
  airbyte-integrations/connectors/source-notion/source_notion/spec.json
  connectors.md
  docs/integrations/sources/notion.md
Labels: area/documentation, area/connectors, connectors/source/notion

#22821 Source Woocommerce: Mark datefields in spec as dates
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-woocommerce/Dockerfile
  airbyte-integrations/connectors/source-woocommerce/source_woocommerce/spec.yaml
  connectors.md
  docs/integrations/sources/woocommerce.md
Labels: area/documentation, area/connectors, connectors/source/woocommerce

#23642 Revert "Postgres Source : Support JSONB datatype"
  airbyte-config/config-models/src/test/java/io/airbyte/config/DataTypeEnumTest.java
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/bases/debezium-v1-9-6/src/main/java/io/airbyte/integrations/debezium/internals/PostgresConverter.java
  airbyte-integrations/connectors/source-alloydb-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-alloydb/Dockerfile
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSourceOperations.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresType.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractPostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcInitialSnapshotPostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcWalLogsPostgresSourceDatatypeTest.java
  connectors.md
  deps.toml
  docs/integrations/sources/alloydb.md
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres, connectors/source/postgres-strict-encrypt, connectors/source/alloydb, connectors/source/alloydb-strict-encrypt

#22905 Source Prestashop: Mark datefields in spec as dates
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-prestashop/Dockerfile
  airbyte-integrations/connectors/source-prestashop/source_prestashop/spec.yaml
  connectors.md
  docs/integrations/sources/prestashop.md
Labels: area/documentation, area/connectors, connectors/source/prestashop

#22939 Source Mailgun: Mark datefields in spec as dates
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mailgun/Dockerfile
  airbyte-integrations/connectors/source-mailgun/integration_tests/test_data.json
  airbyte-integrations/connectors/source-mailgun/source_mailgun/spec.json
  connectors.md
  docs/integrations/sources/mailgun.md
Labels: area/documentation, area/connectors, connectors/source/mailgun

#23619 🐛 Source Sentry: fix `None` state_value + other bad `state_values`
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-sentry/Dockerfile
  airbyte-integrations/connectors/source-sentry/README.md
  airbyte-integrations/connectors/source-sentry/source_sentry/streams.py
  airbyte-integrations/connectors/source-sentry/unit_tests/test_streams.py
  connectors.md
  docs/integrations/sources/sentry.md
Labels: area/documentation, area/connectors, connectors/source/sentry

#22925 Source NY Times: Mark datefields in spec as dates
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-nytimes/Dockerfile
  airbyte-integrations/connectors/source-nytimes/source_nytimes/spec.yaml
  connectors.md
  docs/integrations/sources/nytimes.md
Labels: area/documentation, area/connectors, connectors/source/nytimes

#22940 Source Linkedin Ads: Mark datefields in spec as dates
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-linkedin-ads/Dockerfile
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/spec.json
  connectors.md
  docs/integrations/sources/linkedin-ads.md
Labels: area/documentation, area/connectors, connectors/source/linkedin-ads

#23598 Revert "Revert "🐛 Source Dynamodb: Fix reserved words in expression""
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-dynamodb/Dockerfile
  airbyte-integrations/connectors/source-dynamodb/src/main/java/io/airbyte/integrations/source/dynamodb/DynamodbConfig.java
  airbyte-integrations/connectors/source-dynamodb/src/main/java/io/airbyte/integrations/source/dynamodb/DynamodbOperations.java
  airbyte-integrations/connectors/source-dynamodb/src/main/java/io/airbyte/integrations/source/dynamodb/DynamodbUtils.java
  airbyte-integrations/connectors/source-dynamodb/src/main/resources/spec.json
  airbyte-integrations/connectors/source-dynamodb/src/test-integration/java/io/airbyte/integrations/source/dynamodb/DynamodbDataFactory.java
  airbyte-integrations/connectors/source-dynamodb/src/test-integration/java/io/airbyte/integrations/source/dynamodb/DynamodbOperationsTest.java
  connectors.md
  docs/integrations/sources/dynamodb.md
Labels: area/documentation, area/connectors, connectors/source/dynamodb

#23682 Docs: Encourage CDK devs to join slack channel to get updates
  docs/connector-development/cdk-python/README.md
  docs/connector-development/config-based/connector-builder-ui.md
  docs/connector-development/config-based/low-code-cdk-overview.md
Labels: area/documentation

#21882 Bmoric/controller utest
  airbyte-commons-server/src/main/java/io/airbyte/commons/server/handlers/SourceHandler.java
  airbyte-server/build.gradle
  airbyte-server/src/main/java/io/airbyte/server/errors/InvalidInputExceptionHandler.java
  airbyte-server/src/test/java/io/airbyte/server/apis/AttemptApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/BaseControllerTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/ConnectionApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/DestinationApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/DestinationDefinitionApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/DestinationDefinitionSpecificationApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/DestinationOauthApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/JobsApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/LogsApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/MicronautHealthCheck.java
  airbyte-server/src/test/java/io/airbyte/server/apis/OperationApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/SchedulerApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/SourceApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/SourceDefinitionApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/SourceDefinitionSpecificationApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/SourceOauthApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/StateApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/WebBackendApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/WorkspaceApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/config/DatabaseBeanFactory.java
  airbyte-server/src/test/resources/application-test.yml
Labels: area/platform, area/server, ready-to-ship

#23698 Revert "Bmoric/controller utest"
  airbyte-commons-server/src/main/java/io/airbyte/commons/server/handlers/SourceHandler.java
  airbyte-server/build.gradle
  airbyte-server/src/main/java/io/airbyte/server/errors/InvalidInputExceptionHandler.java
  airbyte-server/src/test/java/io/airbyte/server/apis/AttemptApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/BaseControllerTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/ConnectionApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/DestinationApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/DestinationDefinitionApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/DestinationDefinitionSpecificationApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/DestinationOauthApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/JobsApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/LogsApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/MicronautHealthCheck.java
  airbyte-server/src/test/java/io/airbyte/server/apis/OperationApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/SchedulerApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/SourceApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/SourceDefinitionApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/SourceDefinitionSpecificationApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/SourceOauthApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/StateApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/WebBackendApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/WorkspaceApiTest.java
  airbyte-server/src/test/java/io/airbyte/server/apis/config/DatabaseBeanFactory.java
  airbyte-server/src/test/resources/application-test.yml
Labels: area/platform, area/server

#23690 Low CDK: duration macro added
  airbyte-cdk/python/airbyte_cdk/sources/declarative/interpolation/macros.py
  airbyte-cdk/python/unit_tests/sources/declarative/interpolation/test_macros.py
Labels: CDK

#21524 Source Jira: Small fix in the board stream
  airbyte-integrations/connectors/source-jira/source_jira/streams.py
Labels: area/connectors, community, connectors/source/jira, bounty

#23703 Docs: Feb 2023 release notes
  docs/release_notes/february_2023.md
  docusaurus/sidebars.js
Labels: area/documentation

#23697 Update API doc table
  docs/api-documentation.md
Labels: area/documentation

#23713 Fix publish cdk
  .github/workflows/publish-cdk-command-manually.yml
  airbyte-cdk/python/.bumpversion.cfg
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/Dockerfile
  airbyte-cdk/python/setup.py
Labels: CDK

#23610 Source Salesforce: change the sequence of requests
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-salesforce/Dockerfile
  airbyte-integrations/connectors/source-salesforce/source_salesforce/streams.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/api_test.py
  connectors.md
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors, connectors/source/salesforce

#23669 🐛 Source S3: Make `Advanced Reader Options` and `Advanced Options` truly `Optional`
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/README.md
  airbyte-integrations/connectors/source-s3/acceptance-test-config.yml
  airbyte-integrations/connectors/source-s3/integration_tests/config_minio.json
  airbyte-integrations/connectors/source-s3/integration_tests/spec.json
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/formats/csv_spec.py
  airbyte-integrations/connectors/source-s3/source_s3/utils.py
  connectors.md
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3

#23665 Correct spelling error in nginx config
  docs/operator-guides/security.md
Labels: area/documentation, community

#23237 Source SmartSheets: fix oauth2 implementation
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-smartsheets/Dockerfile
  airbyte-integrations/connectors/source-smartsheets/README.md
  airbyte-integrations/connectors/source-smartsheets/acceptance-test-config.yml
  airbyte-integrations/connectors/source-smartsheets/source_smartsheets/sheet.py
  airbyte-integrations/connectors/source-smartsheets/source_smartsheets/spec.json
  airbyte-integrations/connectors/source-smartsheets/unit_tests/conftest.py
  connectors.md
  docs/integrations/sources/smartsheets.md
Labels: area/documentation, area/connectors, connectors/source/smartsheets

#23075 Source Chartmogul: Mark datefields in spec as dates
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-chartmogul/Dockerfile
  airbyte-integrations/connectors/source-chartmogul/source_chartmogul/spec.yaml
  connectors.md
  docs/integrations/sources/chartmogul.md
Labels: area/documentation, area/connectors, connectors/source/chartmogul

#23074 Source Close.com: Mark datefields in spec as dates
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-close-com/Dockerfile
  airbyte-integrations/connectors/source-close-com/source_close_com/spec.json
  connectors.md
  docs/integrations/sources/close-com.md
Labels: area/documentation, area/connectors, connectors/source/close-com

#23599 Source Woocommerce: fix pagination and removed lookback window
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-woocommerce/Dockerfile
  airbyte-integrations/connectors/source-woocommerce/source_woocommerce/manifest.yaml
  airbyte-integrations/connectors/source-woocommerce/source_woocommerce/spec.yaml
  connectors.md
  docs/integrations/sources/woocommerce.md
Labels: area/documentation, area/connectors, community, connectors/source/woocommerce, bounty

#22992 Source Gitlab: Mark datefields in spec as dates
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-gitlab/Dockerfile
  airbyte-integrations/connectors/source-gitlab/source_gitlab/spec.json
  connectors.md
  docs/integrations/sources/gitlab.md
Labels: area/documentation, area/connectors, connectors/source/gitlab

#23656 Add speed benchmark to e2e test source
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-e2e-test-cloud/Dockerfile
  airbyte-integrations/connectors/source-e2e-test-cloud/src/main/java/io/airbyte/integrations/source/e2e_test/CloudTestingSources.java
  airbyte-integrations/connectors/source-e2e-test-cloud/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/source-e2e-test/Dockerfile
  airbyte-integrations/connectors/source-e2e-test/src/main/java/io/airbyte/integrations/source/e2e_test/SpeedBenchmarkConfig.java
  airbyte-integrations/connectors/source-e2e-test/src/main/java/io/airbyte/integrations/source/e2e_test/SpeedBenchmarkFileGenerator.java
  airbyte-integrations/connectors/source-e2e-test/src/main/java/io/airbyte/integrations/source/e2e_test/SpeedBenchmarkGeneratorIterator.java
  airbyte-integrations/connectors/source-e2e-test/src/main/java/io/airbyte/integrations/source/e2e_test/SpeedBenchmarkSource.java
  airbyte-integrations/connectors/source-e2e-test/src/main/java/io/airbyte/integrations/source/e2e_test/TestingSources.java
  airbyte-integrations/connectors/source-e2e-test/src/main/resources/legacy_spec.json
  airbyte-integrations/connectors/source-e2e-test/src/main/resources/spec.json
  airbyte-integrations/connectors/source-e2e-test/src/test/java/io/airbyte/integrations/source/e2e_test/GeneratorTest.java
  airbyte-integrations/connectors/source-e2e-test/src/test/java/io/airbyte/integrations/source/e2e_test/SpeedBenchmarkSourceTest.java
  connectors.md
  docs/integrations/sources/e2e-test-cloud.md
  docs/integrations/sources/e2e-test.md
Labels: area/documentation, area/connectors, connectors/source/e2e-test, connectors/source/e2e-test-cloud, connectors/source/5gb-benchmark

#21760 Teradata Vantage - Added SSL support
  airbyte-integrations/connectors/destination-teradata/src/main/java/io/airbyte/integrations/destination/teradata/TeradataDestination.java
  airbyte-integrations/connectors/destination-teradata/src/main/java/io/airbyte/integrations/destination/teradata/TeradataSqlOperations.java
  airbyte-integrations/connectors/destination-teradata/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-teradata/src/test-integration/java/io/airbyte/integrations/destination/teradata/TeradataDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-teradata/src/test-integration/java/io/airbyte/integrations/destination/teradata/TeradataDestinationSSLAcceptanceTest.java
Labels: area/connectors, community, bounty, connectors/destination/teradata

#23705 Source Pipedrive: disable oAuth
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-pipedrive/Dockerfile
  airbyte-integrations/connectors/source-pipedrive/acceptance-test-config.yml
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/spec.json
  connectors.md
  docs/integrations/sources/pipedrive.md
Labels: area/documentation, area/connectors, connectors/source/pipedrive, connectors/source/twitter

#23467 :tada: Source Github - added user friendly messages, added AirbyteTracedException config_error
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/acceptance-test-config.yml
  airbyte-integrations/connectors/source-github/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-github/source_github/schemas/assignees.json
  airbyte-integrations/connectors/source-github/source_github/schemas/branches.json
  airbyte-integrations/connectors/source-github/source_github/schemas/collaborators.json
  airbyte-integrations/connectors/source-github/source_github/schemas/comments.json
  airbyte-integrations/connectors/source-github/source_github/schemas/commit_comment_reactions.json
  airbyte-integrations/connectors/source-github/source_github/schemas/commit_comments.json
  airbyte-integrations/connectors/source-github/source_github/schemas/commits.json
  airbyte-integrations/connectors/source-github/source_github/schemas/deployments.json
  airbyte-integrations/connectors/source-github/source_github/schemas/events.json
  airbyte-integrations/connectors/source-github/source_github/schemas/issue_comment_reactions.json
  airbyte-integrations/connectors/source-github/source_github/schemas/issue_events.json
  airbyte-integrations/connectors/source-github/source_github/schemas/issue_labels.json
  airbyte-integrations/connectors/source-github/source_github/schemas/issue_milestones.json
  airbyte-integrations/connectors/source-github/source_github/schemas/issue_reactions.json
  airbyte-integrations/connectors/source-github/source_github/schemas/issues.json
  airbyte-integrations/connectors/source-github/source_github/schemas/organizations.json
  airbyte-integrations/connectors/source-github/source_github/schemas/project_cards.json
  airbyte-integrations/connectors/source-github/source_github/schemas/project_columns.json
  airbyte-integrations/connectors/source-github/source_github/schemas/projects.json
  airbyte-integrations/connectors/source-github/source_github/schemas/pull_request_comment_reactions.json
  airbyte-integrations/connectors/source-github/source_github/schemas/pull_request_commits.json
  airbyte-integrations/connectors/source-github/source_github/schemas/pull_request_stats.json
  airbyte-integrations/connectors/source-github/source_github/schemas/pull_requests.json
  airbyte-integrations/connectors/source-github/source_github/schemas/releases.json
  airbyte-integrations/connectors/source-github/source_github/schemas/repositories.json
  airbyte-integrations/connectors/source-github/source_github/schemas/review_comments.json
  airbyte-integrations/connectors/source-github/source_github/schemas/reviews.json
  airbyte-integrations/connectors/source-github/source_github/schemas/stargazers.json
  airbyte-integrations/connectors/source-github/source_github/schemas/tags.json
  airbyte-integrations/connectors/source-github/source_github/schemas/team_members.json
  airbyte-integrations/connectors/source-github/source_github/schemas/team_memberships.json
  airbyte-integrations/connectors/source-github/source_github/schemas/teams.json
  airbyte-integrations/connectors/source-github/source_github/schemas/users.json
  airbyte-integrations/connectors/source-github/source_github/schemas/workflow_jobs.json
  airbyte-integrations/connectors/source-github/source_github/schemas/workflow_runs.json
  airbyte-integrations/connectors/source-github/source_github/schemas/workflows.json
  airbyte-integrations/connectors/source-github/source_github/source.py
  airbyte-integrations/connectors/source-github/source_github/streams.py
  connectors.md
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors, connectors/source/github

#22891 Source Salesforce: Mark datefields in spec as dates
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-salesforce/Dockerfile
  airbyte-integrations/connectors/source-salesforce/source_salesforce/spec.yaml
  connectors.md
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors, connectors/source/salesforce

#23710 Update API doc table (again)
  docs/api-documentation.md
Labels: area/documentation

#23708 Greg/teradata ssl
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-teradata/Dockerfile
  connectors.md
  docs/integrations/destinations/teradata.md
Labels: area/documentation, area/connectors, connectors/destination/teradata

#23377 Source Tiktok: allow to filter advertiser in reports
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/Dockerfile
  airbyte-integrations/connectors/source-tiktok-marketing/advertiser_ids.sqlite
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/source.py
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/spec.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/streams.py
  connectors.md
  docs/integrations/sources/tiktok-marketing.md
Labels: area/documentation, area/connectors, connectors/source/tiktok-marketing

#23606 🎉 Source Amazon Seller Partner - Implement reportOptions for all missing reports
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/Dockerfile
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  connectors.md
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation, area/connectors, community, connectors/source/amazon-seller-partner, bounty

#23787 Update API Docs
  docs/api-documentation.md
Labels: area/documentation

#23689 Remove createDatabaseInternal()
  airbyte-integrations/connectors/source-bigquery/src/main/java/io/airbyte/integrations/source/bigquery/BigQuerySource.java
  airbyte-integrations/connectors/source-cockroachdb/src/main/java/io/airbyte/integrations/source/cockroachdb/CockroachDbSource.java
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io.airbyte.integrations.source.mongodb/MongoDbSource.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/AbstractDbSource.java
  airbyte-integrations/connectors/source-snowflake/src/main/java/io.airbyte.integrations.source.snowflake/SnowflakeSource.java
Labels: area/connectors, connectors/source/cockroachdb, connectors/source/bigquery, connectors/source/postgres, connectors/source/snowflake, connectors/source/mongodb-v2, connectors/source/jdbc, connectors/source/relational-db

#22553 Update using-the-airflow-airbyte-operator.md
  docs/operator-guides/using-the-airflow-airbyte-operator.md
Labels: area/documentation

#23749 Source Twitter: certify to beta
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-twitter/Dockerfile
  airbyte-integrations/connectors/source-twitter/source_twitter/manifest.yaml
  airbyte-integrations/connectors/source-twitter/source_twitter/spec.yaml
  connectors.md
  docs/integrations/sources/twitter.md
Labels: area/documentation, area/connectors, connectors/source/twitter

#23813 Update using-the-airflow-airbyte-operator.md
  docs/operator-guides/using-the-airflow-airbyte-operator.md
Labels: area/documentation

#23828 Source Salesloft: use start_date to filter data
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-salesloft/Dockerfile
  airbyte-integrations/connectors/source-salesloft/source_salesloft/source.py
  connectors.md
  docs/integrations/sources/salesloft.md
Labels: area/documentation, area/connectors, connectors/source/salesloft

#22893 Source Salesloft: Mark datefields in spec as dates
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-salesloft/Dockerfile
  airbyte-integrations/connectors/source-salesloft/setup.py
  airbyte-integrations/connectors/source-salesloft/source_salesloft/spec.json
  connectors.md
  docs/integrations/sources/salesloft.md
Labels: area/documentation, area/connectors, connectors/source/salesloft

#23843 Docs: Added info about consecutive sync failures
  docs/cloud/managing-airbyte-cloud/understand-airbyte-cloud-limits.md
Labels: area/documentation

#23455 Adding allowHosts to all non-GA source database connectors
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-clickhouse-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-clickhouse/Dockerfile
  airbyte-integrations/connectors/source-cockroachdb-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-cockroachdb/Dockerfile
  airbyte-integrations/connectors/source-db2-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-db2/Dockerfile
  airbyte-integrations/connectors/source-oracle-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-oracle/Dockerfile
  airbyte-integrations/connectors/source-snowflake/Dockerfile
  airbyte-integrations/connectors/source-tidb/Dockerfile
  connectors.md
  docs/integrations/sources/clickhouse.md
  docs/integrations/sources/cockroachdb.md
  docs/integrations/sources/db2.md
  docs/integrations/sources/firebolt.md
  docs/integrations/sources/mysql.md
  docs/integrations/sources/oracle.md
  docs/integrations/sources/snowflake.md
  docs/integrations/sources/tidb.md
Labels: area/documentation, area/connectors, connectors/source/clickhouse, connectors/source/cockroachdb, connectors/source/cockroachdb-strict-encrypt, connectors/source/db2, connectors/source/db2-strict-encrypt, connectors/source/azure-table, connectors/source/mssql, connectors/source/mysql, connectors/source/oracle, connectors/source/redshift, connectors/source/snowflake, connectors/source/firebolt, connectors/source/clickhouse-strict-encrypt, connectors/source/mssql-strict-encrypt, connectors/source/mysql-strict-encrypt, connectors/source/oracle-strict-encrypt, connectors/source/tidb, connectors/source/fauna

#22654 🎉 octavia-cli: add pypi package workflow
  .github/workflows/release-airbyte-os.yml
  octavia-cli/.gitignore
Labels: python, lang/python, community, area/octavia-cli, team/platform-compose

#23876 Source Zendesk Chat (docs): fix zendesk chat changelog so 0.1.13 links to valid PR
  docs/integrations/sources/zendesk-chat.md
Labels: area/documentation

#23763 Source Airtable: to GA
  airbyte-integrations/connectors/source-airtable/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-airtable/source_airtable/schema_helpers.py
  airbyte-integrations/connectors/source-airtable/source_airtable/spec.json
  airbyte-integrations/connectors/source-airtable/unit_tests/conftest.py
  docs/integrations/sources/airtable.md
Labels: area/documentation, area/connectors, connectors/source/airtable

#23711 Connector Health: Fixed SAT for Instagram, Facebook pages, Google Search Console, Stripe, Typeform, Hubspot, Sentry, Faker, Zendesk support, Slack, Jira
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-facebook-pages/acceptance-test-config.yml
  airbyte-integrations/connectors/source-faker/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-google-search-console/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-search-console/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-instagram/acceptance-test-config.yml
  airbyte-integrations/connectors/source-instagram/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-jira/acceptance-test-config.yml
  airbyte-integrations/connectors/source-jira/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-sentry/acceptance-test-config.yml
  airbyte-integrations/connectors/source-sentry/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-slack/acceptance-test-config.yml
  airbyte-integrations/connectors/source-stripe/acceptance-test-config.yml
  airbyte-integrations/connectors/source-stripe/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-typeform/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-zendesk-support/README.md
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-zendesk-support/setup.py
Labels: area/connectors, connectors/source/hubspot, connectors/source/sentry, connectors/source/stripe, connectors/source/facebook-marketing, connectors/source/facebook-pages, connectors/source/google-search-console, connectors/source/instagram, connectors/source/jira, connectors/source/slack, connectors/source/typeform, connectors/source/zendesk-support, connectors/source/faker

#23231 [source-monday] [source-square] [source-greenhouse] [source-tempo] [source-zenloop] fix a few connectors with failing custom component unit tests + release some connectors w/ beta
  airbyte-cdk/python/bin/low-code-unit-tests.sh
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-greenhouse/Dockerfile
  airbyte-integrations/connectors/source-monday/Dockerfile
  airbyte-integrations/connectors/source-monday/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-monday/source_monday/__init__.py
  airbyte-integrations/connectors/source-monday/source_monday/dpath_string_extractor.py
  airbyte-integrations/connectors/source-monday/source_monday/manifest.yaml
  airbyte-integrations/connectors/source-square/Dockerfile
  airbyte-integrations/connectors/source-square/README.md
  airbyte-integrations/connectors/source-square/acceptance-test-config.yml
  airbyte-integrations/connectors/source-square/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-square/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-square/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-square/source_square/components.py
  airbyte-integrations/connectors/source-square/unit_tests/test_component.py
  airbyte-integrations/connectors/source-tempo/Dockerfile
  airbyte-integrations/connectors/source-zenloop/Dockerfile
  connectors.md
  docs/integrations/sources/greenhouse.md
  docs/integrations/sources/monday.md
  docs/integrations/sources/square.md
  docs/integrations/sources/tempo.md
  docs/integrations/sources/zenloop.md
Labels: area/documentation, area/connectors, CDK, connectors/source/monday, connectors/source/tempo, connectors/source/greenhouse, connectors/source/square, connectors/source/zenloop

#23884 fix tests for postgres source
  airbyte-integrations/connectors/source-postgres/acceptance-test-config.yml
Labels: area/connectors, connectors/source/postgres

#18294 Destination MSSQL: make Azure Synapse Compatibility In Test
  airbyte-integrations/connectors/destination-mssql/src/main/java/io/airbyte/integrations/destination/mssql/SqlServerOperations.java
Labels: area/connectors, community, connectors/destination/mssql, internal, team/destinations

#23799 `AbstractJdbcSource` refactoring : Move SSL out of abstract class
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/JdbcSSLConnectionUtils.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlCdcProperties.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresCdcProperties.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
Labels: area/connectors, connectors/source/mysql, connectors/source/postgres, connectors/source/jdbc

#23596 Adding allowedHost for Postgres AlloyDB
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-alloydb-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-alloydb/Dockerfile
  connectors.md
  docs/integrations/sources/alloydb.md
Labels: area/documentation, area/connectors, connectors/source/alloydb, connectors/source/alloydb-strict-encrypt

#23727 fix: Reduce errors on Postgres source tests
  airbyte-integrations/bases/standard-source-test/src/main/java/io/airbyte/integrations/standardtest/source/AbstractSourceDatabaseTypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcWalLogsPostgresSourceDatatypeTest.java
Labels: area/connectors, connectors/source/postgres

#19923 🎉 New Source: Unleash [low-code CDK]
  airbyte-config/init/src/main/resources/icons/unleash.svg
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-unleash/.dockerignore
  airbyte-integrations/connectors/source-unleash/Dockerfile
  airbyte-integrations/connectors/source-unleash/README.md
  airbyte-integrations/connectors/source-unleash/__init__.py
  airbyte-integrations/connectors/source-unleash/acceptance-test-config.yml
  airbyte-integrations/connectors/source-unleash/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-unleash/bootstrap.md
  airbyte-integrations/connectors/source-unleash/build.gradle
  airbyte-integrations/connectors/source-unleash/integration_tests/__init__.py
  airbyte-integrations/connectors/source-unleash/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-unleash/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-unleash/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-unleash/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-unleash/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-unleash/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-unleash/main.py
  airbyte-integrations/connectors/source-unleash/requirements.txt
  airbyte-integrations/connectors/source-unleash/setup.py
  airbyte-integrations/connectors/source-unleash/source_unleash/__init__.py
  airbyte-integrations/connectors/source-unleash/source_unleash/schemas/features.json
  airbyte-integrations/connectors/source-unleash/source_unleash/source.py
  airbyte-integrations/connectors/source-unleash/source_unleash/spec.yaml
  airbyte-integrations/connectors/source-unleash/source_unleash/unleash.yaml
  connectors.md
  docs/integrations/sources/unleash.md
Labels: area/documentation, area/connectors, community, bounty, bounty-XL, connectors/source/unleash

#23821 🐛 Source Iterable: add retry for 500 - Generic Error, increase `reduce slice max attempts`
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-iterable/Dockerfile
  airbyte-integrations/connectors/source-iterable/README.md
  airbyte-integrations/connectors/source-iterable/source_iterable/streams.py
  airbyte-integrations/connectors/source-iterable/unit_tests/test_export_adjustable_range.py
  airbyte-integrations/connectors/source-iterable/unit_tests/test_source.py
  airbyte-integrations/connectors/source-iterable/unit_tests/test_streams.py
  connectors.md
  docs/integrations/sources/iterable.md
Labels: area/documentation, area/connectors, connectors/source/iterable

#23625 Source Facebook Marketing: Decrease give up rate
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/api.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/spec.py
  connectors.md
  docs/integrations/sources/facebook-marketing.inapp.md
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing

#23909 🐛 Source Delighted: fix `Date Since` date-format bug in UI
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-delighted/Dockerfile
  airbyte-integrations/connectors/source-delighted/acceptance-test-config.yml
  airbyte-integrations/connectors/source-delighted/source_delighted/manifest.yaml
  airbyte-integrations/connectors/source-delighted/source_delighted/spec.json
  connectors.md
  docs/integrations/sources/delighted.md
Labels: area/documentation, area/connectors, connectors/source/delighted

#23917 fix: Cast the number of threads to integer in the Java connector tests 😵‍💫
  airbyte-integrations/connectors/destination-snowflake/gradle.properties
  build.gradle
  buildSrc/src/main/groovy/airbyte-integration-test-java.gradle
Labels: area/connectors, connectors/destination/snowflake

#20301 :bug: Low-Code CDK: convert expires_in to int when refreshing oauth
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/requests_native_auth/abstract_oauth.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/requests_native_auth/oauth.py
  airbyte-cdk/python/unit_tests/sources/streams/http/requests_native_auth/test_requests_native_auth.py
Labels: CDK, community

#23927 Low-code CDK: Override refresh_access_token logic DeclarativeOAuthAuthenticator
  airbyte-cdk/python/airbyte_cdk/sources/declarative/auth/oauth.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/requests_native_auth/abstract_oauth.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/requests_native_auth/oauth.py
  airbyte-cdk/python/unit_tests/sources/streams/http/requests_native_auth/test_requests_native_auth.py
Labels: CDK

#23723 Source Files: decrease give up rate
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-file-secure/Dockerfile
  airbyte-integrations/connectors/source-file-secure/integration_tests/spec.json
  airbyte-integrations/connectors/source-file/Dockerfile
  airbyte-integrations/connectors/source-file/source_file/source.py
  airbyte-integrations/connectors/source-file/source_file/spec.json
  airbyte-integrations/connectors/source-file/unit_tests/test_source.py
  connectors.md
  docs/integrations/sources/file.md
Labels: area/documentation, area/connectors, connectors/source/file, connectors/source/file-secure

#23466 Destination-S3: Correctly generate int64 values
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/bases/base-java-s3/src/main/java/io/airbyte/integrations/destination/s3/avro/JsonSchemaType.java
  airbyte-integrations/bases/base-java-s3/src/main/java/io/airbyte/integrations/destination/s3/avro/JsonToAvroSchemaConverter.java
  airbyte-integrations/bases/base-java-s3/src/test/resources/parquet/json_schema_converter/json_conversion_test_cases_v0.json
  airbyte-integrations/bases/base-java-s3/src/test/resources/parquet/json_schema_converter/json_conversion_test_cases_v1.json
  airbyte-integrations/bases/base-java-s3/src/test/resources/parquet/json_schema_converter/type_conversion_test_cases_v0.json
  airbyte-integrations/bases/base-java-s3/src/test/resources/parquet/json_schema_converter/type_conversion_test_cases_v1.json
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-gcs/Dockerfile
  airbyte-integrations/connectors/destination-redshift/Dockerfile
  airbyte-integrations/connectors/destination-s3/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  connectors.md
  docs/integrations/destinations/bigquery-denormalized.md
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/gcs.md
  docs/integrations/destinations/redshift.md
  docs/integrations/destinations/s3.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, connectors/destination/bigquery-denormalized, connectors/destination/snowflake, connectors/destination/redshift, connectors/destination/s3, connectors/destination/gcs

#23921 support reading "expires_in" when the API passes the value as string
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/auth/oauth.py
  airbyte-cdk/python/unit_tests/sources/streams/http/auth/test_auth.py
  airbyte-cdk/python/unit_tests/sources/streams/http/requests_native_auth/test_requests_native_auth.py
Labels: CDK, community

#23487 ci_connector_ops: POC of CI connector pipelines in python
  .github/workflows/connector_integration_test_single_dagger.yml
  .github/workflows/run-qa-engine.yml
  pyproject.toml
  tools/ci_common_utils/setup.py
  tools/ci_connector_ops/.gitignore
  tools/ci_connector_ops/.python-version
  tools/ci_connector_ops/ci_connector_ops/pipelines/README.md
  tools/ci_connector_ops/ci_connector_ops/pipelines/__init__.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/actions/__init__.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/actions/environments.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/actions/remote_storage.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/actions/secrets.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/actions/tests.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/connectors_ci.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/contexts.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/github.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/models.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/utils.py
  tools/ci_connector_ops/ci_connector_ops/utils.py
  tools/ci_connector_ops/setup.py
  tools/ci_connector_ops/tests/test_acceptance_test_config_checks.py
  tools/ci_connector_ops/tests/test_qa_engine/test_main.py
  tools/ci_credentials/setup.py
Labels: connectors/source/pokeapi, connectors/source/nytimes

#23931 Ryan/periodic buffer flush
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination/buffered_stream_consumer/BufferedStreamConsumer.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination/record_buffer/InMemoryRecordBufferingStrategy.java
  airbyte-integrations/bases/base-java/src/test/java/io/airbyte/integrations/destination/buffered_stream_consumer/BufferedStreamConsumerTest.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-redshift/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/gradle.properties
  connectors.md
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/redshift.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, connectors/destination/bigquery-denormalized, connectors/destination/snowflake, connectors/destination/redshift

#23954 ci: :wrench: revert version bumps
  .bumpversion.cfg
  docs/operator-guides/upgrading-airbyte.md
  gradle.properties
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation

#23822 🐛 Source Google Analytics 4 (GA4): improve rate limits messages and retry logic
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-data-api/README.md
  airbyte-integrations/connectors/source-google-analytics-data-api/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-analytics-data-api/setup.py
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/api_quota.py
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/source.py
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/utils.py
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_api_quota.py
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_streams.py
  connectors.md
  docs/integrations/sources/google-analytics-data-api.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-data-api

#23938 🐛 Source Iterable: improve retry on `500 - Generic Error`
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-iterable/Dockerfile
  airbyte-integrations/connectors/source-iterable/source_iterable/streams.py
  airbyte-integrations/connectors/source-iterable/source_iterable/utils.py
  airbyte-integrations/connectors/source-iterable/unit_tests/conftest.py
  airbyte-integrations/connectors/source-iterable/unit_tests/test_streams.py
  connectors.md
  docs/integrations/sources/iterable.md
Labels: area/documentation, area/connectors, connectors/source/iterable

#23726 Docs: update k8s docs file location
  docs/deploying-airbyte/on-kubernetes-via-helm.md
Labels: area/documentation, community

#23961 Update supported-data-types.md - fix link to well-known-type
  docs/understanding-airbyte/supported-data-types.md
Labels: area/documentation

#23827 🐛 Destination Azure Blob Storage: fix documentation URL link
  airbyte-integrations/connectors/destination-azure-blob-storage/src/main/resources/spec.json
Labels: area/connectors, community, connectors/destination/azure-blob-storage, bounty

#23317 Source Cart: remove incremental from order statuses stream
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-cart/Dockerfile
  airbyte-integrations/connectors/source-cart/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-cart/source_cart/streams.py
  connectors.md
  docs/integrations/sources/cart.md
Labels: area/documentation, area/connectors, connectors/source/cart

#23548 🐛 Source Braintree: Update `braintree` Python library to the latest version
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-braintree/Dockerfile
  airbyte-integrations/connectors/source-braintree/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-braintree/setup.py
  connectors.md
  docs/integrations/sources/braintree.md
Labels: area/documentation, area/connectors, community, connectors/source/braintree, bounty

#23999 🐛 Source Google Ads: fix stream *Campaigns* primary keys for incremental load
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
  connectors.md
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, community, connectors/source/google-ads, bounty

#24003 Do not remove trailing slash from path
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/http_requester.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/http.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/test_http_requester.py
  airbyte-cdk/python/unit_tests/sources/streams/http/test_http.py
Labels: CDK

#24004 Rearrange connector contribution docs
  docs/connector-development/README.md
  docs/connector-development/airbyte101.md
  docs/connector-development/cdk-faros-js.md
  docs/connector-development/cdk-python/README.md
  docusaurus/sidebars.js
  docusaurus/yarn.lock
Labels: area/documentation

#24006 Fix broken links in CDK speedrun tutorial
  docs/connector-development/tutorials/cdk-speedrun-assets/configured_catalog_pokeapi.json
  docs/connector-development/tutorials/cdk-speedrun-assets/pokemon.json
  docs/connector-development/tutorials/cdk-speedrun-deprecated.md
  docs/connector-development/tutorials/cdk-speedrun.md
  docusaurus/yarn.lock
Labels: area/documentation

#24035 add missing newline
  airbyte-cdk/python/unit_tests/sources/streams/http/test_http.py
  docs/connector-development/tutorials/cdk-speedrun-assets/configured_catalog_pokeapi.json
  docs/connector-development/tutorials/cdk-speedrun-assets/pokemon.json
Labels: area/documentation, CDK

#24042 [source-instagram] bump version to 1.0.2 (no changes)
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-instagram/Dockerfile
  connectors.md
  docs/integrations/sources/instagram.md
Labels: area/documentation, area/connectors, connectors/source/instagram

#23186 🎉 New Source: GCS
  airbyte-config/init/src/main/resources/icons/gcs.svg
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-gcs/.dockerignore
  airbyte-integrations/connectors/source-gcs/Dockerfile
  airbyte-integrations/connectors/source-gcs/README.md
  airbyte-integrations/connectors/source-gcs/acceptance-test-config.yml
  airbyte-integrations/connectors/source-gcs/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-gcs/build.gradle
  airbyte-integrations/connectors/source-gcs/integration_tests/__init__.py
  airbyte-integrations/connectors/source-gcs/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-gcs/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-gcs/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-gcs/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-gcs/main.py
  airbyte-integrations/connectors/source-gcs/requirements.txt
  airbyte-integrations/connectors/source-gcs/setup.py
  airbyte-integrations/connectors/source-gcs/source_gcs/__init__.py
  airbyte-integrations/connectors/source-gcs/source_gcs/helpers.py
  airbyte-integrations/connectors/source-gcs/source_gcs/source.py
  airbyte-integrations/connectors/source-gcs/source_gcs/spec.yaml
  airbyte-integrations/connectors/source-gcs/unit_tests/unit_test.py
  docs/integrations/sources/gcs.md
Labels: area/documentation, area/connectors, connectors/source/gcs

#23939 Add allowedHosts to MySQL and MSSQL DB Sources, for network isolation
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mssql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mssql/Dockerfile
  airbyte-integrations/connectors/source-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql/Dockerfile
  connectors.md
  docs/integrations/sources/mssql.md
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, connectors/source/mssql, connectors/source/mysql, connectors/source/mssql-strict-encrypt, connectors/source/mysql-strict-encrypt

#23189 Source S3: infer schema of the first file only
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/acceptance-test-config.yml
  airbyte-integrations/connectors/source-s3/integration_tests/config_minio.json
  airbyte-integrations/connectors/source-s3/integration_tests/integration_test_abstract.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/source.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/stream.py
  airbyte-integrations/connectors/source-s3/unit_tests/test_stream.py
  connectors.md
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3

#24065 Edited the Airtable doc
  docs/integrations/sources/airtable.md
Labels: area/documentation

#18677 🎉 Source Amazon Ads : use optional config report_record_types
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-ads/Dockerfile
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/spec.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/source.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/spec.yaml
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/report_streams/report_streams.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/test_report_streams.py
  connectors.md
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, area/connectors, community, connectors/source/amazon-ads, team/connectors-python, bounty, bounty-S

#24069 [ISSUE #24059] fix reset pagination issue
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/default_paginator.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/paginators/test_default_paginator.py
Labels: CDK

#23911 Edit the GA4 doc
  docs/integrations/sources/google-analytics-data-api.md
  docs/integrations/sources/google-analytics-v4.md
Labels: area/documentation

#23761 Update README.md
  README.md
Labels: community

#24070 Fixed docs nits
  docs/integrations/sources/airtable.md
  docs/integrations/sources/google-analytics-data-api.md
Labels: area/documentation

#23980 Source Amazon Seller Partner: prepare for cloud
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/Dockerfile
  airbyte-integrations/connectors/source-amazon-seller-partner/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_source.py
  connectors.md
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation, area/connectors, connectors/source/amazon-seller-partner

#23908 MySQL/MsSQL Source: stop sync on null cursor value
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mssql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mssql/Dockerfile
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/MssqlSourceTest.java
  airbyte-integrations/connectors/source-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/MySqlSourceTests.java
  connectors.md
  docs/integrations/sources/mssql.md
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, connectors/source/mssql, connectors/source/mysql, connectors/source/relational-db, connectors/source/mssql-strict-encrypt, connectors/source/mysql-strict-encrypt

#23929 Create a DbSourceDiscoverUtil for common utilities
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/AbstractDbSource.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/DbSourceDiscoverUtil.java
Labels: area/connectors, connectors/source/relational-db

#24058 Destination-snowflake: added write attempt to internal staging Check method
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingSqlOperations.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeS3StagingDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeS3StagingSqlOperations.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeSqlStagingOperations.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingDestinationAcceptanceTest.java
  connectors.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/snowflake

#24045 Source Trello: Enable in Cloud
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-trello/Dockerfile
  airbyte-integrations/connectors/source-trello/acceptance-test-config.yml
  airbyte-integrations/connectors/source-trello/setup.py
  airbyte-integrations/connectors/source-trello/source_trello/schemas/boards.json
  airbyte-integrations/connectors/source-trello/source_trello/schemas/cards.json
  airbyte-integrations/connectors/source-trello/source_trello/source.py
  connectors.md
  docs/integrations/sources/trello.md
Labels: area/documentation, area/connectors, connectors/source/trello

#24043 Source Instagram: do not emit incomplete records
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-instagram/Dockerfile
  airbyte-integrations/connectors/source-instagram/source_instagram/streams.py
  airbyte-integrations/connectors/source-instagram/unit_tests/conftest.py
  airbyte-integrations/connectors/source-instagram/unit_tests/test_streams.py
  connectors.md
  docs/integrations/sources/instagram.md
Labels: area/documentation, area/connectors, connectors/source/instagram

#24034 Source Zoho CRM: Set airbyte type to string for zoho autonumbers when they include prefix or suffix #23818
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-zoho-crm/Dockerfile
  airbyte-integrations/connectors/source-zoho-crm/acceptance-test-config.yml
  airbyte-integrations/connectors/source-zoho-crm/setup.py
  airbyte-integrations/connectors/source-zoho-crm/source_zoho_crm/auth.py
  airbyte-integrations/connectors/source-zoho-crm/source_zoho_crm/spec.json
  airbyte-integrations/connectors/source-zoho-crm/source_zoho_crm/types.py
  airbyte-integrations/connectors/source-zoho-crm/unit_tests/parametrize.py
  airbyte-integrations/connectors/source-zoho-crm/unit_tests/test_auth.py
  airbyte-integrations/connectors/source-zoho-crm/unit_tests/test_types.py
  connectors.md
  docs/integrations/sources/zoho-crm.md
Labels: area/documentation, area/connectors, connectors/source/zoho-crm

#24078 Fixup Google Analytics DocumentationURLs and Spec Names
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/spec.json
  airbyte-integrations/connectors/source-google-analytics-v4/source_google_analytics_v4/spec.json
  connectors.md
Labels: area/connectors, connectors/source/google-analytics-v4, connectors/source/google-analytics-data-api

#24051 Source Stripe: cache customers
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-stripe/Dockerfile
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_streams.py
  connectors.md
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, connectors/source/stripe

#24100 Update links
  docs/connector-development/config-based/tutorial/4-reading-data.md
  docs/connector-development/tutorials/cdk-tutorial-python-http/configured_catalog.json
  docs/connector-development/tutorials/cdk-tutorial-python-http/declare-schema.md
  docs/connector-development/tutorials/cdk-tutorial-python-http/exchange_rates_schema.json
  docs/connector-development/tutorials/cdk-tutorial-python-http/read-data.md
Labels: area/documentation

#24064 Change livecycle from Class to method, so the resources are not shared between tests
  airbyte-integrations/connectors/source-bigquery/acceptance-test-config.yml
  airbyte-integrations/connectors/source-bigquery/build.gradle
  airbyte-integrations/connectors/source-bigquery/src/test-integration/java/io/airbyte/integrations/source/bigquery/BigQuerySourceDatatypeTest.java
Labels: area/connectors, connectors/source/bigquery

#20749 SurveyCTO: Docs Fix
  docs/integrations/sources/surveycto.md
Labels: area/documentation, community

#24077 Normalization Bigquery: Add more reserved words
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/bases/base-normalization/Dockerfile
  airbyte-integrations/bases/base-normalization/normalization/transform_catalog/reserved_keywords.py
  docs/connector-development/tutorials/cdk-tutorial-python-http/configured_catalog.json
  docs/connector-development/tutorials/cdk-tutorial-python-http/exchange_rates_schema.json
  docs/understanding-airbyte/basic-normalization.md
Labels: area/documentation, normalization

#24108 Docs: Updated additional broken links
  docs/archive/changelog/README.md
  docs/archive/changelog/connectors.md
  docs/connector-development/config-based/connector-builder-ui.md
  docs/connector-development/config-based/low-code-cdk-overview.md
  docs/integrations/destinations/s3-glue.md
  docs/integrations/sources/talkdesk-explore.md
  docs/readme.md
Labels: area/documentation

#24111 Connector Builder: print jsonified AirbyteMessage
  airbyte-cdk/python/connector_builder/main.py
Labels: CDK

#24093 Source Airtable: update spec and doc
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-airtable/Dockerfile
  airbyte-integrations/connectors/source-airtable/source_airtable/spec.json
  connectors.md
  docs/integrations/sources/airtable.md
Labels: area/documentation, area/connectors, connectors/source/airtable

#24112 Source Mailchimp - Add Reports stream #23464
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mailchimp/Dockerfile
  airbyte-integrations/connectors/source-mailchimp/acceptance-test-config.yml
  airbyte-integrations/connectors/source-mailchimp/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-mailchimp/integration_tests/configured_catalog_without_email_activities.json
  airbyte-integrations/connectors/source-mailchimp/integration_tests/state.json
  airbyte-integrations/connectors/source-mailchimp/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-mailchimp/sample_files/state.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/reports.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/source.py
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/streams.py
  airbyte-integrations/connectors/source-mailchimp/unit_tests/test_source.py
  connectors.md
  docs/integrations/sources/mailchimp.md
Labels: area/documentation, area/connectors, connectors/source/mailchimp

#24082 MySQL/MsSQL sources fixed NPE during cursor values validation
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mssql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mssql/Dockerfile
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
  airbyte-integrations/connectors/source-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
  connectors.md
  docs/integrations/sources/mssql.md
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, connectors/source/mssql, connectors/source/mysql, connectors/source/mssql-strict-encrypt, connectors/source/mysql-strict-encrypt

#22095 Source Intercom: extend `Contacts` schema with `opted_out_subscription_types`
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-intercom/Dockerfile
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/contacts.json
  connectors.md
  docs/integrations/sources/intercom.md
Labels: area/documentation, area/connectors, community, connectors/source/intercom, bounty, contributor-program

#23688 Add X-Airbyte-Analytic-Source header to octavia api client
  octavia-cli/octavia_cli/entrypoint.py
Labels: ready-to-ship

#23946 Connector Health: Fixed SAT for GitHub, Google Analytics v4 (UA), Google Search Console, Hubspot, Recharge, Sendgrid, Greenhouse, Chargebee, Survey Monkey, Twitter, Zenloop, Zendesk-support, Pinterest, Slack, Sentry
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-chargebee/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-github/acceptance-test-config.yml
  airbyte-integrations/connectors/source-github/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-google-analytics-v4/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-analytics-v4/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-google-search-console/acceptance-test-config.yml
  airbyte-integrations/connectors/source-greenhouse/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-hubspot/acceptance-test-config.yml
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-pinterest/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-recharge/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-sendgrid/acceptance-test-config.yml
  airbyte-integrations/connectors/source-sendgrid/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-sendgrid/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-sentry/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-slack/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-surveymonkey/integration_tests/expected_records.txt
  airbyte-integrations/connectors/source-twitter/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-zenloop/acceptance-test-config.yml
Labels: area/connectors, connectors/source/hubspot, connectors/source/sentry, connectors/source/surveymonkey, connectors/source/chargebee, connectors/source/github, connectors/source/google-analytics-v4, connectors/source/google-search-console, connectors/source/greenhouse, connectors/source/instagram, connectors/source/slack, connectors/source/pinterest, connectors/source/recharge, connectors/source/sendgrid, connectors/source/zendesk-support, connectors/source/zenloop, connectors/source/twitter

#24000 #23949 Remove check() from read() method for sources Cockroach DB and Postgres
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-cockroachdb-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-cockroachdb/Dockerfile
  airbyte-integrations/connectors/source-cockroachdb/src/main/java/io/airbyte/integrations/source/cockroachdb/CockroachDbSource.java
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  connectors.md
  docs/integrations/sources/cockroachdb.md
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/cockroachdb, connectors/source/cockroachdb-strict-encrypt, connectors/source/postgres, connectors/source/postgres-strict-encrypt

#23925 Connector builder: support for test read with message grouping per slices
  airbyte-cdk/python/airbyte_cdk/sources/source.py
  airbyte-cdk/python/connector_builder/connector_builder_handler.py
  airbyte-cdk/python/connector_builder/main.py
  airbyte-cdk/python/connector_builder/message_grouper.py
  airbyte-cdk/python/connector_builder/models.py
  airbyte-cdk/python/unit_tests/connector_builder/test_connector_builder_handler.py
  airbyte-cdk/python/unit_tests/connector_builder/test_message_grouper.py
  airbyte-cdk/python/unit_tests/connector_builder/utils.py
Labels: CDK

#24098 🎉 Source Amazon Seller Partner - add Belgium marketplace
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/Dockerfile
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/constants.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  connectors.md
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation, area/connectors, community, connectors/source/amazon-seller-partner, bounty

#16768 🎉 New Source: OpsGenie [python cdk]
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-opsgenie/.dockerignore
  airbyte-integrations/connectors/source-opsgenie/.gitignore
  airbyte-integrations/connectors/source-opsgenie/Dockerfile
  airbyte-integrations/connectors/source-opsgenie/README.md
  airbyte-integrations/connectors/source-opsgenie/acceptance-test-config.yml
  airbyte-integrations/connectors/source-opsgenie/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-opsgenie/build.gradle
  airbyte-integrations/connectors/source-opsgenie/integration_tests/__init__.py
  airbyte-integrations/connectors/source-opsgenie/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-opsgenie/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-opsgenie/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-opsgenie/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-opsgenie/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-opsgenie/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-opsgenie/main.py
  airbyte-integrations/connectors/source-opsgenie/requirements.txt
  airbyte-integrations/connectors/source-opsgenie/setup.py
  airbyte-integrations/connectors/source-opsgenie/source_opsgenie/__init__.py
  airbyte-integrations/connectors/source-opsgenie/source_opsgenie/schemas/alert_logs.json
  airbyte-integrations/connectors/source-opsgenie/source_opsgenie/schemas/alert_recipients.json
  airbyte-integrations/connectors/source-opsgenie/source_opsgenie/schemas/alerts.json
  airbyte-integrations/connectors/source-opsgenie/source_opsgenie/schemas/incidents.json
  airbyte-integrations/connectors/source-opsgenie/source_opsgenie/schemas/integrations.json
  airbyte-integrations/connectors/source-opsgenie/source_opsgenie/schemas/services.json
  airbyte-integrations/connectors/source-opsgenie/source_opsgenie/schemas/teams.json
  airbyte-integrations/connectors/source-opsgenie/source_opsgenie/schemas/user_teams.json
  airbyte-integrations/connectors/source-opsgenie/source_opsgenie/schemas/users.json
  airbyte-integrations/connectors/source-opsgenie/source_opsgenie/source.py
  airbyte-integrations/connectors/source-opsgenie/source_opsgenie/spec.yaml
  airbyte-integrations/connectors/source-opsgenie/source_opsgenie/streams.py
  airbyte-integrations/connectors/source-opsgenie/source_opsgenie/util.py
  airbyte-integrations/connectors/source-opsgenie/unit_tests/__init__.py
  airbyte-integrations/connectors/source-opsgenie/unit_tests/test_source.py
  airbyte-integrations/connectors/source-opsgenie/unit_tests/test_stream.py
  airbyte-integrations/connectors/source-opsgenie/unit_tests/unit_test.py
  connectors.md
  docs/integrations/sources/opsgenie.md
Labels: area/documentation, area/connectors, community, bounty, bounty-XL, connectors/source/opsgenie, reward-200, contributor-program

#24133 Source google search console: update docs
  docs/integrations/sources/google-search-console.md
Labels: area/documentation

#24085 Source Paystack: enable in cloud
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-paystack/Dockerfile
  airbyte-integrations/connectors/source-paystack/acceptance-test-config.yml
  airbyte-integrations/connectors/source-paystack/source_paystack/spec.json
  airbyte-integrations/connectors/source-paystack/source_paystack/streams.py
  connectors.md
  docs/integrations/sources/paystack.md
Labels: area/documentation, area/connectors, connectors/source/paystack

#24005 Source Xero: Enable in Cloud
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-xero/Dockerfile
  airbyte-integrations/connectors/source-xero/acceptance-test-config.yml
  airbyte-integrations/connectors/source-xero/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-xero/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-xero/source_xero/oauth.py
  airbyte-integrations/connectors/source-xero/source_xero/schemas/allocations.json
  airbyte-integrations/connectors/source-xero/source_xero/schemas/bank_transactions.json
  airbyte-integrations/connectors/source-xero/source_xero/schemas/bank_transfers.json
  airbyte-integrations/connectors/source-xero/source_xero/schemas/credit_notes.json
  airbyte-integrations/connectors/source-xero/source_xero/schemas/expense_claims.json
  airbyte-integrations/connectors/source-xero/source_xero/schemas/invoices.json
  airbyte-integrations/connectors/source-xero/source_xero/schemas/items.json
  airbyte-integrations/connectors/source-xero/source_xero/schemas/line_items.json
  airbyte-integrations/connectors/source-xero/source_xero/schemas/manual_journals.json
  airbyte-integrations/connectors/source-xero/source_xero/schemas/nested_invoice.json
  airbyte-integrations/connectors/source-xero/source_xero/schemas/overpayments.json
  airbyte-integrations/connectors/source-xero/source_xero/schemas/payments.json
  airbyte-integrations/connectors/source-xero/source_xero/schemas/prepayments.json
  airbyte-integrations/connectors/source-xero/source_xero/schemas/purchase_orders.json
  airbyte-integrations/connectors/source-xero/source_xero/schemas/quotes.json
  airbyte-integrations/connectors/source-xero/source_xero/schemas/receipts.json
  airbyte-integrations/connectors/source-xero/source_xero/schemas/repeating_invoices.json
  airbyte-integrations/connectors/source-xero/source_xero/schemas/shared/allocations.json
  airbyte-integrations/connectors/source-xero/source_xero/schemas/shared/credit_notes.json
  airbyte-integrations/connectors/source-xero/source_xero/schemas/shared/line_items.json
  airbyte-integrations/connectors/source-xero/source_xero/schemas/shared/nested_invoice.json
  airbyte-integrations/connectors/source-xero/source_xero/schemas/shared/overpayments.json
  airbyte-integrations/connectors/source-xero/source_xero/schemas/shared/payments.json
  airbyte-integrations/connectors/source-xero/source_xero/schemas/shared/prepayments.json
  airbyte-integrations/connectors/source-xero/source_xero/schemas/shared/receipts.json
  airbyte-integrations/connectors/source-xero/source_xero/schemas/shared/repeating_invoices.json
  airbyte-integrations/connectors/source-xero/source_xero/schemas/tax_rates.json
  airbyte-integrations/connectors/source-xero/source_xero/source.py
  airbyte-integrations/connectors/source-xero/source_xero/spec.yaml
  airbyte-integrations/connectors/source-xero/source_xero/streams.py
  airbyte-integrations/connectors/source-xero/unit_tests/conftest.py
  airbyte-integrations/connectors/source-xero/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-xero/unit_tests/test_streams.py
  connectors.md
  docs/integrations/sources/xero.md
Labels: area/documentation, area/connectors, connectors/source/xero

#23872 Source Google Analytics v4: certify to GA
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-data-api/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-analytics-data-api/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/source.py
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/spec.json
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_source.py
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_streams.py
  connectors.md
  docs/integrations/sources/google-analytics-data-api.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-data-api

#24139 Destination Typesense: add icon, prepare for Cloud
  airbyte-config/init/src/main/resources/icons/typesense.svg
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  connectors.md
  docs/integrations/destinations/typesense.md
Labels: area/documentation

#24117 Add semantic versioning guidelines for contributions
  .github/pull_request_template.md
  docs/contributing-to-airbyte/README.md
Labels: area/documentation

#24071 Source Salesforce: update regex pattern, specify format to date-time
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-salesforce/Dockerfile
  airbyte-integrations/connectors/source-salesforce/source_salesforce/spec.yaml
  connectors.md
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors, connectors/source/salesforce

#24152 Fix heirarchy of contributing guide page
  docs/contributing-to-airbyte/README.md
Labels: area/documentation

#24146 Connector Health: Fixed SAT for Chargebee
  airbyte-integrations/connectors/source-chargebee/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/chargebee

#24096 Data types documentation: revert to v0 + update text
  docs/understanding-airbyte/supported-data-types.md
Labels: area/documentation

#23887 docs: fix formatting for source-python-http-tutorial
  airbyte-integrations/connectors/source-python-http-tutorial/source_python_http_tutorial/source.py
  airbyte-integrations/connectors/source-python-http-tutorial/source_python_http_tutorial/spec.json
Labels: area/connectors, connectors/source/python-http-tutorial

#23195 🐛 Source S3: fix datetime format string in FileStream
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-s3/integration_tests/config_minio.json
  airbyte-integrations/connectors/source-s3/integration_tests/expected_records/avro.jsonl
  airbyte-integrations/connectors/source-s3/integration_tests/expected_records/csv.jsonl
  airbyte-integrations/connectors/source-s3/integration_tests/expected_records/custom_server.jsonl
  airbyte-integrations/connectors/source-s3/integration_tests/expected_records/jsonl.jsonl
  airbyte-integrations/connectors/source-s3/integration_tests/expected_records/jsonl_newlines.jsonl
  airbyte-integrations/connectors/source-s3/integration_tests/expected_records/parquet.jsonl
  airbyte-integrations/connectors/source-s3/integration_tests/integration_test_abstract.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/formats/__init__.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/stream.py
  airbyte-integrations/connectors/source-s3/unit_tests/test_stream.py
  connectors.md
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, community, connectors/source/s3, team/connectors-python, bounty

#22805 🐛 Source Microsoft Dataverse: Fixed deduped not working correctly
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-microsoft-dataverse/Dockerfile
  airbyte-integrations/connectors/source-microsoft-dataverse/source_microsoft_dataverse/streams.py
  connectors.md
  docs/integrations/sources/microsoft-dataverse.md
Labels: area/documentation, area/connectors, community, bounty, connectors/source/microsoft-dataverse

#24076 🐛 Source Onesignal: Update connectors spec; fix incremental sync
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-onesignal/Dockerfile
  airbyte-integrations/connectors/source-onesignal/acceptance-test-config.yml
  airbyte-integrations/connectors/source-onesignal/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-onesignal/integration_tests/catalog.json
  airbyte-integrations/connectors/source-onesignal/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-onesignal/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-onesignal/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-onesignal/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-onesignal/source_onesignal/schemas/apps.json
  airbyte-integrations/connectors/source-onesignal/source_onesignal/schemas/devices.json
  airbyte-integrations/connectors/source-onesignal/source_onesignal/schemas/notifications.json
  airbyte-integrations/connectors/source-onesignal/source_onesignal/schemas/outcomes.json
  airbyte-integrations/connectors/source-onesignal/source_onesignal/source.py
  airbyte-integrations/connectors/source-onesignal/source_onesignal/spec.json
  airbyte-integrations/connectors/source-onesignal/source_onesignal/streams.py
  airbyte-integrations/connectors/source-onesignal/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-onesignal/unit_tests/test_source.py
  connectors.md
  docs/integrations/sources/onesignal.md
Labels: area/documentation, area/connectors, connectors/source/onesignal

#24161 🐛 🚨🚨 Source LinkedIn Pages: fixed failing connection checks
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-linkedin-pages/Dockerfile
  airbyte-integrations/connectors/source-linkedin-pages/acceptance-test-config.yml
  airbyte-integrations/connectors/source-linkedin-pages/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-linkedin-pages/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-linkedin-pages/source_linkedin_pages/spec.json
  connectors.md
  docs/integrations/sources/linkedin-pages.md
Labels: area/documentation, area/connectors, connectors/source/linkedin-pages

#24009 🎉 New Source: Trustpilot
  airbyte-config/init/src/main/resources/icons/trustpilot.svg
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-trustpilot/.dockerignore
  airbyte-integrations/connectors/source-trustpilot/Dockerfile
  airbyte-integrations/connectors/source-trustpilot/README.md
  airbyte-integrations/connectors/source-trustpilot/acceptance-test-config.yml
  airbyte-integrations/connectors/source-trustpilot/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-trustpilot/build.gradle
  airbyte-integrations/connectors/source-trustpilot/integration_tests/__init__.py
  airbyte-integrations/connectors/source-trustpilot/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-trustpilot/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-trustpilot/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-trustpilot/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-trustpilot/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-trustpilot/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-trustpilot/main.py
  airbyte-integrations/connectors/source-trustpilot/requirements.txt
  airbyte-integrations/connectors/source-trustpilot/setup.py
  airbyte-integrations/connectors/source-trustpilot/source_trustpilot/__init__.py
  airbyte-integrations/connectors/source-trustpilot/source_trustpilot/auth.py
  airbyte-integrations/connectors/source-trustpilot/source_trustpilot/schemas/business_units.json
  airbyte-integrations/connectors/source-trustpilot/source_trustpilot/schemas/configured_business_units.json
  airbyte-integrations/connectors/source-trustpilot/source_trustpilot/schemas/private_reviews.json
  airbyte-integrations/connectors/source-trustpilot/source_trustpilot/source.py
  airbyte-integrations/connectors/source-trustpilot/source_trustpilot/spec.yaml
  airbyte-integrations/connectors/source-trustpilot/source_trustpilot/streams.py
  airbyte-integrations/connectors/source-trustpilot/unit_tests/__init__.py
  airbyte-integrations/connectors/source-trustpilot/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-trustpilot/unit_tests/test_source.py
  airbyte-integrations/connectors/source-trustpilot/unit_tests/test_streams.py
  connectors.md
  docs/integrations/sources/trustpilot.md
Labels: area/documentation, area/connectors, community, bounty, connectors/source/trustpilot

#24157 Source S3: fix discovery issues
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/integration_tests/config_minio.json
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/formats/csv_parser.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/stream.py
  airbyte-integrations/connectors/source-s3/unit_tests/test_stream.py
  connectors.md
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3

#24164 Some more cleanup in abstract classes in preparation of splitting
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/AbstractDbSource.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/DbSourceDiscoverUtil.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/state/StateGeneratorUtils.java
  airbyte-integrations/connectors/source-relational-db/src/test/java/io/airbyte/integrations/source/relationaldb/AbstractDbSourceTest.java
Labels: area/connectors, connectors/source/relational-db

#24171 ella/even more tiny docs changes!
  docs/contributing-to-airbyte/README.md
  docs/readme.md
Labels: area/documentation

#24182 Connector Health: Fixed SAT for Zenloop, Jira
  airbyte-integrations/connectors/source-jira/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-zenloop/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/jira, connectors/source/zenloop

#19141 🎉 Source Facebook Marketing: Added level into custom ads insights
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/source.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/spec.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/base_insight_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_base_insight_streams.py
  connectors.md
  docs/integrations/sources/facebook-marketing.inapp.md
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, community, connectors/source/facebook-marketing, bounty, bounty-L
