Repository airbytehq/airbyte, pull requests merged in 2023-06, with the labels that each got.

#26867 Justin/updating docs
  docs/release_notes/april_2023.md
  docs/release_notes/march_2023.md
  docs/release_notes/may_2023.md
  docusaurus/README.md
  docusaurus/sidebars.js
Labels: area/documentation

#26886 connectors-ci: dynamic dagger pipeline name
  .github/workflows/publish_connectors.yml
  tools/ci_connector_ops/ci_connector_ops/pipelines/pipelines/connectors.py
Labels: connectors/source/pokeapi, connectors/source/openweather

#26716 🐛 Source Asana: migrate to advancedAuth
  airbyte-integrations/connectors/source-asana/Dockerfile
  airbyte-integrations/connectors/source-asana/metadata.yaml
  airbyte-integrations/connectors/source-asana/source_asana/spec.json
  docs/integrations/sources/asana.md
Labels: area/documentation, area/connectors, connectors/source/asana

#26887 :bug: Source Google Analytics Data API: deprecate authSpecification
  airbyte-integrations/connectors/source-google-analytics-data-api/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/spec.json
  docs/integrations/sources/google-analytics-data-api.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-data-api, checklist-action-run

#26831 🐛 Source Hubspot: migrate to advancedAuth
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/source_hubspot/spec.yaml
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot

#26910 Correct links at bottom of tutorial page
  docs/connector-development/connector-builder-ui/tutorial.mdx
Labels: area/documentation

#26908 source-s3: delete integration tests using minio
  airbyte-integrations/connectors/source-s3/integration_tests/config_minio.json
  airbyte-integrations/connectors/source-s3/integration_tests/config_minio.template.json
  airbyte-integrations/connectors/source-s3/integration_tests/conftest.py
  airbyte-integrations/connectors/source-s3/integration_tests/integration_test.py
Labels: area/connectors, connectors/source/s3

#26906 Source Jira: handle project permissions error
  airbyte-integrations/connectors/source-jira/Dockerfile
  airbyte-integrations/connectors/source-jira/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-jira/metadata.yaml
  airbyte-integrations/connectors/source-jira/source_jira/schemas/application_roles.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/audit_records.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/dashboards.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/filter_sharing.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/filters.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_custom_field_options_apps.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_field_configurations.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_fields.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_link_types.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_notification_schemes.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_remote_links.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_resolutions.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_security_schemes.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_types.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_votes.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_watchers.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issue_worklogs.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issues.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/permission_schemes.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/project_categories.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/project_components.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/project_versions.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/projects.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/screen_schemes.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/screen_tabs.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/screens.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/server_info.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/users.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/users_groups_detailed.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/webhooks.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/workflow_scheme_drafts.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/workflow_scheme_project_associations.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/workflow_schemes.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/workflow_status_categories.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/workflow_statuses.json
  airbyte-integrations/connectors/source-jira/source_jira/schemas/workflow_transition_rules.json
  airbyte-integrations/connectors/source-jira/source_jira/streams.py
  airbyte-integrations/connectors/source-jira/unit_tests/conftest.py
  airbyte-integrations/connectors/source-jira/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-linkedin-ads/output.jsonl
  docs/integrations/sources/jira.md
Labels: area/documentation, area/connectors, connectors/source/jira, connectors/source/linkedin-ads

#26746 :bug: Source Google Search Console: migrate to advanced auth
  airbyte-integrations/connectors/source-google-search-console/Dockerfile
  airbyte-integrations/connectors/source-google-search-console/metadata.yaml
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/spec.json
  docs/integrations/sources/google-search-console.md
Labels: area/documentation, area/connectors, connectors/source/google-search-console, checklist-action-run

#26891 Source Stripe: fix expected records
  airbyte-integrations/connectors/source-stripe/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/stripe

#25782 Destination Snowflake: Enable in-connector normalization
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  docs/integrations/destinations/snowflake.md
  tools/ci_connector_ops/ci_connector_ops/pipelines/actions/environments.py
Labels: area/documentation, area/connectors, connectors/destination/snowflake, connectors/source/snowflake

#26873 Source-postgres: Add prepareThreshold=0 to JDBC url to mitigate PGBouncer `prepared statement [X] already exists.`
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresSourceTest.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres, connectors/source/postgres-strict-encrypt, checklist-action-run

#26833 🐛 Source Google Sheets: migrate to advancedAuth
  airbyte-integrations/connectors/source-google-sheets/Dockerfile
  airbyte-integrations/connectors/source-google-sheets/metadata.yaml
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/spec.yaml
  docs/integrations/sources/google-sheets.md
Labels: area/documentation, area/connectors, connectors/source/google-sheets

#26850 Update upgrading-airbyte.md
  docs/operator-guides/upgrading-airbyte.md
Labels: area/documentation

#26945 🐛 Source Zendesk Support: forced `ticket metrics` stream to use `cursor pagination`
  airbyte-integrations/connectors/source-zendesk-support/Dockerfile
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/ZendeskSupportAvailabilityStrategy.py
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/streams.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/unit_test.py
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-support, checklist-action-run

#26930 Fix normalization builds
  airbyte-integrations/bases/base-normalization/setup.py
Labels: normalization

#26935 Docs: Update Local Catalog Generation
  airbyte-ci/connectors/metadata_service/orchestrator/README.md
  docs/connector-development/testing-connectors/testing-a-local-catalog-in-development.md
Labels: area/documentation

#25794 🐛 Source Salesforce: fix string with only digits inferred as float
  airbyte-integrations/connectors/source-salesforce/Dockerfile
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/source_salesforce/streams.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/api_test.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors, community, connectors/source/salesforce

#26948 Source Google Ads: refactor error messages; add pattern_descriptor
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/google_ads.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/spec.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/utils.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_google_ads.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_source.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_utils.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, connectors/source/google-ads

#26082 :bug: Source HubSpot: fix cast string as boolean using string comparison
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/deals.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_field_type_converting.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, community, connectors/source/hubspot, team/connectors-python

#26892 Source Pipedrive: fix expected records
  airbyte-integrations/connectors/source-pipedrive/Dockerfile
  airbyte-integrations/connectors/source-pipedrive/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-pipedrive/metadata.yaml
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/schemas/deal_fields.json
  docs/integrations/sources/pipedrive.md
Labels: area/documentation, area/connectors, connectors/source/pipedrive

#26947 Source Gitlab: update expected records for pipelines streams
  airbyte-integrations/connectors/source-gitlab/Dockerfile
  airbyte-integrations/connectors/source-gitlab/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-gitlab/integration_tests/expected_records_with_ids.jsonl
  airbyte-integrations/connectors/source-gitlab/metadata.yaml
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/pipelines.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/pipelines_extended.json
  docs/integrations/sources/gitlab.md
Labels: area/documentation, area/connectors, connectors/source/gitlab

#26949 Source Pinterest: fix expected records
  airbyte-integrations/connectors/source-pinterest/Dockerfile
  airbyte-integrations/connectors/source-pinterest/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/board_pins.json
  docs/integrations/sources/pinterest.md
Labels: area/documentation, area/connectors, connectors/source/pinterest

#26955 Source Woocommerce: updated products stream expected records
  airbyte-integrations/connectors/source-woocommerce/Dockerfile
  airbyte-integrations/connectors/source-woocommerce/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-woocommerce/metadata.yaml
  airbyte-integrations/connectors/source-woocommerce/source_woocommerce/schemas/products.json
  docs/integrations/sources/woocommerce.md
Labels: area/documentation, area/connectors, connectors/source/woocommerce

#26979 Fix grep versionbump
  .bumpversion.cfg
  docs/operator-guides/upgrading-airbyte.md
  gradle.properties
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
  run-ab-platform.sh
  tools/bin/bump_version.sh
Labels: area/documentation

#26974 Fix bug with getStateEmissionFrequency() settings
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSource.java
Labels: area/connectors, connectors/source/jdbc

#26991 [OC] pin smartsheets on cloud to v1.0.2
  airbyte-integrations/connectors/source-smartsheets/metadata.yaml
Labels: area/connectors, connectors/source/smartsheets

#26995 Fix docs homepage headers
  docs/readme.md
Labels: area/documentation

#27002 🤖 Cloud Availability updater: new connectors to deploy [20230605]
  airbyte-integrations/connectors/source-aha/Dockerfile
  airbyte-integrations/connectors/source-aha/metadata.yaml
  airbyte-integrations/connectors/source-aha/source_aha/spec.yaml
  airbyte-integrations/connectors/source-convex/metadata.yaml
  airbyte-integrations/connectors/source-lever-hiring/metadata.yaml
  docs/integrations/sources/aha.md
Labels: area/documentation, area/connectors, connectors/source/lever-hiring, team/connector-ops, connectors/source/convex, connectors/source/aha, cloud-availability-updater

#27011 source-google-analytics-data-api: fix formatting
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_streams.py
Labels: area/connectors, connectors/source/google-analytics-data-api

#21837 Source Mixpanel: add insert_id to export stream schema to have a unique event identifier
  airbyte-integrations/connectors/source-mixpanel/Dockerfile
  airbyte-integrations/connectors/source-mixpanel/metadata.yaml
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/schemas/export.json
  docs/integrations/sources/mixpanel.md
Labels: area/documentation, area/connectors, community, connectors/source/mixpanel, team/connectors-python, bounty, ga-connector-change, gl-review

#27000 Update mssql.md
  docs/integrations/sources/mssql.md
Labels: area/documentation, community

#26978 Source Freshdesk: handle change subscription level
  airbyte-integrations/connectors/source-freshdesk/Dockerfile
  airbyte-integrations/connectors/source-freshdesk/metadata.yaml
  airbyte-integrations/connectors/source-freshdesk/setup.py
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/streams.py
  docs/integrations/sources/freshdesk.md
Labels: area/documentation, area/connectors, connectors/source/freshdesk

#27036 Destination Clickhouse: install normalization
  airbyte-integrations/connectors/destination-clickhouse-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/destination-clickhouse-strict-encrypt/build.gradle
  airbyte-integrations/connectors/destination-clickhouse-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/destination-clickhouse/Dockerfile
  airbyte-integrations/connectors/destination-clickhouse/build.gradle
  airbyte-integrations/connectors/destination-clickhouse/metadata.yaml
  docs/integrations/destinations/clickhouse.md
Labels: area/documentation, area/connectors, connectors/destination/clickhouse, connectors/destination/clickhouse-strict-encrypt

#27034 Destination Mssql: install normalizatoin
  airbyte-integrations/connectors/destination-mssql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/destination-mssql-strict-encrypt/build.gradle
  airbyte-integrations/connectors/destination-mssql-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/destination-mssql/Dockerfile
  airbyte-integrations/connectors/destination-mssql/build.gradle
  airbyte-integrations/connectors/destination-mssql/metadata.yaml
  docs/integrations/destinations/mssql.md
  tools/ci_connector_ops/ci_connector_ops/pipelines/actions/environments.py
Labels: area/documentation, area/connectors, connectors/destination/mssql, connectors/destination/mssql-strict-encrypt, checklist-action-run

#27025 Destination TiDB: install normalization
  .github/CODEOWNERS
  airbyte-integrations/connectors/destination-tidb/Dockerfile
  airbyte-integrations/connectors/destination-tidb/build.gradle
  airbyte-integrations/connectors/destination-tidb/metadata.yaml
  docs/integrations/destinations/tidb.md
  tools/ci_connector_ops/ci_connector_ops/pipelines/actions/environments.py
Labels: area/documentation, area/connectors, connectors/destination/tidb, checklist-action-run

#26933 Metadata: Validate that metadata file exists on new connectors
  .github/workflows/metadata_validate_manifest_dagger.yml
  tools/ci_connector_ops/ci_connector_ops/acceptance_test_config_checks.py
  tools/ci_connector_ops/ci_connector_ops/allowed_hosts_checks.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/commands/groups/connectors.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/commands/groups/metadata.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/utils.py
  tools/ci_connector_ops/ci_connector_ops/utils.py
Labels: connectors/source/testme

#27035 Fix upgrade guide for Docker
  docs/operator-guides/upgrading-airbyte.md
Labels: area/documentation

#26781 Update in-app docs for select API sources
  docs/integrations/sources/airtable.inapp.md
  docs/integrations/sources/amazon-ads.inapp.md
  docs/integrations/sources/github.inapp.md
  docs/integrations/sources/google-analytics-v4.inapp.md
  docs/integrations/sources/google-search-console.inapp.md
  docs/integrations/sources/google-sheets.md
  docs/integrations/sources/hubspot.inapp.md
  docs/integrations/sources/instagram.inapp.md
  docs/integrations/sources/salesforce.inapp.md
Labels: area/documentation

#27087 connectors-ci: mask secrets in GHA logs with ::add-mask::
  tools/ci_connector_ops/ci_connector_ops/pipelines/actions/environments.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/actions/secrets.py
  tools/ci_credentials/ci_credentials/secrets_manager.py
  tools/ci_credentials/setup.py
Labels: connectors/source/openweather

#27044 📄 docs: add deprecation note for Google Analytics (Universal Analytics)
  docs/integrations/sources/google-analytics-v4.inapp.md
  docs/integrations/sources/google-analytics-v4.md
Labels: area/documentation

#27060 🐛 Source Notion: added skipping 404 error for steam bloks
  airbyte-integrations/connectors/source-notion/Dockerfile
  airbyte-integrations/connectors/source-notion/metadata.yaml
  airbyte-integrations/connectors/source-notion/source_notion/streams.py
  airbyte-integrations/connectors/source-notion/unit_tests/test_streams.py
  docs/integrations/sources/notion.md
Labels: area/documentation, area/connectors, connectors/source/notion

#26966 Extend low code OAuthAuthenticator with token refresh capabilities
  airbyte-cdk/python/airbyte_cdk/sources/declarative/auth/oauth.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/models/declarative_component_schema.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/model_to_component_factory.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/requests_native_auth/oauth.py
  airbyte-cdk/python/unit_tests/sources/declarative/parsers/test_model_to_component_factory.py
  airbyte-cdk/python/unit_tests/sources/streams/http/requests_native_auth/test_requests_native_auth.py
Labels: CDK

#27080 Update documentation about source_catalog_id and its reference to actor_catalog table
  docs/understanding-airbyte/database-data-catalog.md
Labels: area/documentation, community

#26922 [ISSUE #26909] add latest connector config control message to connect…
  airbyte-cdk/python/airbyte_cdk/connector_builder/message_grouper.py
  airbyte-cdk/python/airbyte_cdk/connector_builder/models.py
  airbyte-cdk/python/unit_tests/connector_builder/test_connector_builder_handler.py
  airbyte-cdk/python/unit_tests/connector_builder/test_message_grouper.py
Labels: CDK

#27053 Remove lowcode SingleUseRefreshTokenOauthAuthenticator
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/models/declarative_component_schema.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/model_to_component_factory.py
  airbyte-integrations/connectors/source-quickbooks/Dockerfile
  airbyte-integrations/connectors/source-quickbooks/metadata.yaml
  airbyte-integrations/connectors/source-quickbooks/source_quickbooks/manifest.yaml
  docs/integrations/sources/quickbooks.md
Labels: area/documentation, area/connectors, CDK, connectors/source/quickbooks

#27007 Update CDK for source-xero
  airbyte-integrations/connectors/source-xero/Dockerfile
  airbyte-integrations/connectors/source-xero/metadata.yaml
  airbyte-integrations/connectors/source-xero/source_xero/source.py
  docs/integrations/sources/xero.md
Labels: area/documentation, area/connectors, connectors/source/xero

#27073 :bug:Source Notion: added handing empty results in response
  airbyte-integrations/connectors/source-notion/Dockerfile
  airbyte-integrations/connectors/source-notion/metadata.yaml
  airbyte-integrations/connectors/source-notion/source_notion/streams.py
  airbyte-integrations/connectors/source-notion/unit_tests/test_streams.py
  docs/integrations/sources/notion.md
Labels: area/documentation, area/connectors, connectors/source/notion

#27109 📝 Fix broken connector documentation links
  airbyte-integrations/connectors/destination-azure-blob-storage/metadata.yaml
  airbyte-integrations/connectors/destination-csv/metadata.yaml
  airbyte-integrations/connectors/destination-sqlite/metadata.yaml
  airbyte-integrations/connectors/source-clickup-api/metadata.yaml
  airbyte-integrations/connectors/source-exchange-rates/metadata.yaml
  airbyte-integrations/connectors/source-hellobaton/metadata.yaml
  airbyte-integrations/connectors/source-kustomer-singer/metadata.yaml
  airbyte-integrations/connectors/source-qonto/metadata.yaml
  airbyte-integrations/connectors/source-zapier-supported-storage/metadata.yaml
Labels: area/connectors, connectors/source/exchange-rates, connectors/destination/azure-blob-storage, connectors/source/kustomer-singer, connectors/destination/csv, connectors/destination/sqlite, connectors/source/hellobaton, connectors/source/qonto, connectors/source/clickup-api, connectors/source/zapier-supported-storage

#26920 Source Jira: add expand on lead field
  airbyte-integrations/connectors/source-jira/Dockerfile
  airbyte-integrations/connectors/source-jira/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-jira/metadata.yaml
  airbyte-integrations/connectors/source-jira/source_jira/streams.py
  airbyte-integrations/connectors/source-jira/unit_tests/conftest.py
  airbyte-integrations/connectors/source-jira/unit_tests/test_source.py
  airbyte-integrations/connectors/source-jira/unit_tests/test_streams.py
  docs/integrations/sources/jira.md
Labels: area/documentation, area/connectors, community, connectors/source/jira

#27136 Bump Airbyte version from 0.44.12 to 0.50.0
  .bumpversion.cfg
  docs/operator-guides/upgrading-airbyte.md
  gradle.properties
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/setup.py
  run-ab-platform.sh
Labels: area/documentation

#26939 ✨ Source Facebok Pages: add advancedAuth
  airbyte-integrations/connectors/source-facebook-pages/Dockerfile
  airbyte-integrations/connectors/source-facebook-pages/metadata.yaml
  airbyte-integrations/connectors/source-facebook-pages/source_facebook_pages/spec.yaml
  docs/integrations/sources/facebook-pages.md
Labels: area/documentation, area/connectors, connectors/source/facebook-pages, checklist-action-run

#26885 :bug: Source google analytics v4 deprecate auth specification
  airbyte-integrations/connectors/source-google-analytics-v4/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-v4/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-v4/source_google_analytics_v4/spec.json
  docs/integrations/sources/google-analytics-v4.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-v4

#27148 :bug: Source Quickbooks: update spec
  airbyte-integrations/connectors/source-quickbooks/Dockerfile
  airbyte-integrations/connectors/source-quickbooks/metadata.yaml
  airbyte-integrations/connectors/source-quickbooks/source_quickbooks/spec.json
  docs/integrations/sources/quickbooks.md
Labels: area/documentation, area/connectors, connectors/source/quickbooks, checklist-action-run

#27150 :bug: Source Gitlab: fail on extra columns
  airbyte-integrations/connectors/source-gitlab/Dockerfile
  airbyte-integrations/connectors/source-gitlab/acceptance-test-config.yml
  airbyte-integrations/connectors/source-gitlab/metadata.yaml
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/epic_issues.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/epics.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/group_issue_boards.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/group_members.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/groups.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/issues.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/jobs.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/merge_request_commits.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/merge_requests.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/pipelines.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/pipelines_extended.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/project_members.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/projects.json
  docs/integrations/sources/gitlab.md
Labels: area/documentation, area/connectors, connectors/source/gitlab, checklist-action-run

#27107 connectors-ci: make source-file testable in airbyte-ci
  airbyte-integrations/connectors/source-file-secure/Dockerfile
  airbyte-integrations/connectors/source-file-secure/metadata.yaml
  airbyte-integrations/connectors/source-file-secure/requirements.txt
  airbyte-integrations/connectors/source-file-secure/setup.py
  airbyte-integrations/connectors/source-file-secure/source_file_secure/source.py
  airbyte-integrations/connectors/source-file/Dockerfile
  airbyte-integrations/connectors/source-file/integration_tests/conftest.py
  airbyte-integrations/connectors/source-file/integration_tests/docker-compose.yml
  airbyte-integrations/connectors/source-file/metadata.yaml
  airbyte-integrations/connectors/source-file/setup.py
  docs/integrations/sources/file.md
  tools/ci_connector_ops/ci_connector_ops/pipelines/actions/environments.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/actions/secrets.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/bases.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/pipelines/connectors.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/tests/common.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/tests/python_connectors.py
Labels: area/documentation, area/connectors, connectors/source/file, connectors/source/file-secure

#27094 Add metadata field to low-code schema
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/models/declarative_component_schema.py
Labels: CDK

#27157 Remove debug mode for pytest config
  airbyte-integrations/connectors/source-file-secure/Dockerfile
  airbyte-integrations/connectors/source-file-secure/metadata.yaml
  airbyte-integrations/connectors/source-file/Dockerfile
  airbyte-integrations/connectors/source-file/metadata.yaml
  airbyte-integrations/connectors/source-file/source_file/client.py
  docs/integrations/sources/file.md
  pyproject.toml
Labels: area/documentation, area/connectors, connectors/source/file, connectors/source/file-secure

#27164 🐛 Source facebook-marketing: Pin FB marketing to 0.4.0 on Cloud
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
Labels: area/connectors, connectors/source/facebook-marketing

#26942 ✨ Destination Databricks: connector supports schema evolution (schemaMerge) #26658
  airbyte-integrations/connectors/destination-databricks/Dockerfile
  airbyte-integrations/connectors/destination-databricks/metadata.yaml
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksDestinationConfig.java
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/s3/DatabricksS3StreamCopier.java
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/utils/DatabricksConstants.java
  airbyte-integrations/connectors/destination-databricks/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-databricks/src/test/java/io/airbyte/integrations/destination/databricks/DatabricksDestinationConfigTest.java
  airbyte-integrations/connectors/destination-databricks/src/test/resources/config.json
  docs/integrations/destinations/databricks.md
Labels: area/documentation, area/connectors, community, connectors/destination/databricks

#27170 🐛 Source Notion: fix typo in blocks stream
  airbyte-integrations/connectors/source-notion/Dockerfile
  airbyte-integrations/connectors/source-notion/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-notion/metadata.yaml
  airbyte-integrations/connectors/source-notion/source_notion/schemas/blocks.json
  docs/integrations/sources/notion.md
Labels: area/documentation, area/connectors, connectors/source/notion, checklist-action-run

#27145 redshift source docs: mention incremental is now supported
  docs/integrations/sources/redshift.md
Labels: area/documentation

#27101 Create additional setup guides for top API sources
  docs/integrations/sources/exchange-rates.inapp.md
  docs/integrations/sources/google-ads.inapp.md
  docs/integrations/sources/google-ads.md
  docs/integrations/sources/google-sheets.inapp.md
  docs/integrations/sources/jira.inapp.md
  docs/integrations/sources/shopify.md
  docs/integrations/sources/slack.inapp.md
  docs/integrations/sources/stripe.inapp.md
  docs/integrations/sources/zendesk-support.inapp.md
Labels: area/documentation

#27135 Source Confluence, Source Greenhouse, Source Hubspot, Source Stripe, Source Close com, Source Klaviyo, Source Notion, Source Pinterest, Source Snapchat Marketin, Source S3, Source Airtable and Source Posthog: fix builds
  airbyte-integrations/connectors/source-airtable/acceptance-test-config.yml
  airbyte-integrations/connectors/source-close-com/acceptance-test-config.yml
  airbyte-integrations/connectors/source-close-com/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-confluence/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-greenhouse/acceptance-test-config.yml
  airbyte-integrations/connectors/source-hubspot/acceptance-test-config.yml
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-klaviyo/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-pinterest/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-posthog/Dockerfile
  airbyte-integrations/connectors/source-posthog/metadata.yaml
  airbyte-integrations/connectors/source-posthog/source_posthog/components.py
  airbyte-integrations/connectors/source-s3/integration_tests/expected_records/parquet.jsonl
  airbyte-integrations/connectors/source-snapchat-marketing/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-stripe/integration_tests/expected_records.jsonl
  docs/integrations/sources/posthog.md
Labels: area/documentation, area/connectors, connectors/source/airtable, connectors/source/hubspot, connectors/source/snapchat-marketing, connectors/source/notion, connectors/source/confluence, connectors/source/stripe, connectors/source/close-com, connectors/source/greenhouse, connectors/source/klaviyo, connectors/source/pinterest, connectors/source/posthog, connectors/source/s3, team/connectors-python

#27190 source-file: bump version in metadata.yaml
  airbyte-integrations/connectors/source-file/metadata.yaml
Labels: area/connectors, connectors/source/file

#27009 Connector builder: Add documentation for new APIKeyAuthenticator feature
  docs/connector-development/connector-builder-ui/authentication.md
Labels: area/documentation

#27162 🐛Source Klaviyo: anonymize connection error messages
  airbyte-integrations/connectors/source-klaviyo/Dockerfile
  airbyte-integrations/connectors/source-klaviyo/metadata.yaml
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/source.py
  airbyte-integrations/connectors/source-klaviyo/unit_tests/test_source.py
  docs/integrations/sources/klaviyo.md
Labels: area/documentation, area/connectors, connectors/source/klaviyo

#27175 Source google analytics data api: Improve error messages
  airbyte-integrations/connectors/source-google-analytics-data-api/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-data-api/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/source.py
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/spec.json
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/utils.py
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_source.py
  docs/integrations/sources/google-analytics-data-api.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-data-api

#27220 Update faker produced tables in docs
  docs/integrations/sources/faker.md
Labels: area/documentation

#27218 Update connector builder docs for auto-import schema change
  docs/connector-development/connector-builder-ui/record-processing.mdx
  docs/connector-development/connector-builder-ui/tutorial.mdx
Labels: area/documentation

#27234 :bug: Source Gitlab: skip 404 error
  airbyte-integrations/connectors/source-gitlab/Dockerfile
  airbyte-integrations/connectors/source-gitlab/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-gitlab/integration_tests/expected_records_with_ids.jsonl
  airbyte-integrations/connectors/source-gitlab/metadata.yaml
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/group_members.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/merge_request_commits.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/merge_requests.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/streams.py
  airbyte-integrations/connectors/source-gitlab/unit_tests/conftest.py
  airbyte-integrations/connectors/source-gitlab/unit_tests/test_streams.py
  docs/integrations/sources/gitlab.md
Labels: area/documentation, area/connectors, connectors/source/gitlab, checklist-action-run

#27207 Source Google Analytics Data API: update api rate limit messages
  airbyte-integrations/connectors/source-google-analytics-data-api/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/api_quota.py
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/utils.py
  docs/integrations/sources/google-analytics-data-api.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-data-api

#27225 Set content-type header on oauth request
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/requests_native_auth/abstract_oauth.py
  airbyte-cdk/python/unit_tests/sources/declarative/auth/test_oauth.py
  airbyte-cdk/python/unit_tests/sources/streams/http/requests_native_auth/test_requests_native_auth.py
Labels: CDK

#27258 Registry: Disable all hidden connectors in cloud
  airbyte-integrations/connectors/destination-amazon-sqs/metadata.yaml
  airbyte-integrations/connectors/destination-cassandra/metadata.yaml
  airbyte-integrations/connectors/destination-kafka/metadata.yaml
  airbyte-integrations/connectors/destination-mariadb-columnstore/metadata.yaml
  airbyte-integrations/connectors/destination-meilisearch/metadata.yaml
  airbyte-integrations/connectors/destination-mqtt/metadata.yaml
  airbyte-integrations/connectors/destination-pulsar/metadata.yaml
  airbyte-integrations/connectors/destination-rabbitmq/metadata.yaml
  airbyte-integrations/connectors/destination-rockset/metadata.yaml
  airbyte-integrations/connectors/destination-scylla/metadata.yaml
  airbyte-integrations/connectors/source-drift/metadata.yaml
  airbyte-integrations/connectors/source-salesforce-singer/metadata.yaml
Labels: area/connectors, connectors/source/drift, connectors/destination/cassandra, connectors/destination/amazon-sqs, connectors/destination/kafka, connectors/destination/mqtt, connectors/destination/mariadb-columnstore, connectors/destination/meilisearch, connectors/destination/pulsar, connectors/destination/scylla, connectors/destination/rockset, connectors/destination/rabbitmq, checklist-action-run, connectors/source/salesforce-singer

#27149 Low code CDK: Datetime format documentation
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/models/declarative_component_schema.py
  docs/connector-development/connector-builder-ui/incremental-sync.md
Labels: area/documentation, CDK

#27222 Adds PartialAirbyteMessage overhead & removes serialize/deserialize on CSV writer
  airbyte-integrations/bases/base-java-s3/src/main/java/io/airbyte/integrations/destination/s3/csv/BaseSheetGenerator.java
  airbyte-integrations/bases/base-java-s3/src/main/java/io/airbyte/integrations/destination/s3/csv/CsvSerializedBuffer.java
  airbyte-integrations/bases/base-java-s3/src/main/java/io/airbyte/integrations/destination/s3/csv/CsvSheetGenerator.java
  airbyte-integrations/bases/base-java-s3/src/main/java/io/airbyte/integrations/destination/s3/csv/RootLevelFlatteningSheetGenerator.java
  airbyte-integrations/bases/base-java-s3/src/main/java/io/airbyte/integrations/destination/s3/csv/StagingDatabaseCsvSheetGenerator.java
  airbyte-integrations/bases/base-java-s3/src/main/java/io/airbyte/integrations/destination/s3/jsonl/JsonLSerializedBuffer.java
  airbyte-integrations/bases/base-java-s3/src/main/java/io/airbyte/integrations/destination/s3/parquet/ParquetSerializedBuffer.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination/record_buffer/BaseSerializedBuffer.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination/record_buffer/SerializableBuffer.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination_async/AsyncStreamConsumer.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination_async/partial_messages/PartialAirbyteRecordMessage.java
  airbyte-integrations/bases/bases-destination-jdbc/src/main/java/io/airbyte/integrations/destination/staging/AsyncFlush.java
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingSqlOperations.java
Labels: area/connectors, connectors/destination/snowflake

#27295 Add transitional icon field docs
  airbyte-ci/connectors/CONNECTOR_CHECKLIST.yaml
  docs/connector-development/connector-metadata-file.md
Labels: area/documentation

#26459 Source: Iterable - read timeout added
  airbyte-integrations/connectors/source-iterable/Dockerfile
  airbyte-integrations/connectors/source-iterable/metadata.yaml
  airbyte-integrations/connectors/source-iterable/source_iterable/streams.py
  airbyte-integrations/connectors/source-iterable/unit_tests/test_streams.py
  docs/integrations/sources/iterable.md
Labels: area/documentation, area/connectors, connectors/source/iterable

#27267 connectors-ci: run `dockerd` in a background task
  tools/ci_connector_ops/ci_connector_ops/pipelines/actions/environments.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/builds/java_connectors.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/consts.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/gradle.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/pipelines/connectors.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/tests/java_connectors.py
Labels: connectors/source/openweather

#27244 🐛 Source Monday: add `error_handler` for `403`, `500` HTTPError codes
  airbyte-integrations/connectors/source-monday/Dockerfile
  airbyte-integrations/connectors/source-monday/acceptance-test-config.yml
  airbyte-integrations/connectors/source-monday/metadata.yaml
  airbyte-integrations/connectors/source-monday/source_monday/manifest.yaml
  airbyte-integrations/connectors/source-monday/source_monday/schemas/boards.json
  airbyte-integrations/connectors/source-monday/source_monday/schemas/items.json
  airbyte-integrations/connectors/source-monday/source_monday/schemas/teams.json
  airbyte-integrations/connectors/source-monday/source_monday/schemas/updates.json
  docs/integrations/sources/monday.md
Labels: area/documentation, area/connectors, connectors/source/monday, checklist-action-run

#27206 Connector builder: Adjust documentation for incremental sync changes
  docs/connector-development/connector-builder-ui/incremental-sync.md
  docs/connector-development/connector-builder-ui/tutorial.mdx
Labels: area/documentation

#27348 connectors-ci: minor cleaning
  tools/ci_connector_ops/ci_connector_ops/pipelines/tests/common.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/utils.py
Labels: connectors/source/openweather

#27343 ✨Source Outreach: add streams users, tasks, templates, snippets
  airbyte-integrations/connectors/source-outreach/Dockerfile
  airbyte-integrations/connectors/source-outreach/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-outreach/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-outreach/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-outreach/metadata.yaml
  airbyte-integrations/connectors/source-outreach/source_outreach/schemas/snippets.json
  airbyte-integrations/connectors/source-outreach/source_outreach/schemas/tasks.json
  airbyte-integrations/connectors/source-outreach/source_outreach/schemas/templates.json
  airbyte-integrations/connectors/source-outreach/source_outreach/schemas/users.json
  airbyte-integrations/connectors/source-outreach/source_outreach/source.py
  airbyte-integrations/connectors/source-outreach/unit_tests/test_source.py
  docs/integrations/sources/outreach.md
Labels: area/documentation, area/connectors, community, connectors/source/outreach

#27375 Docs: Update documentation for support url to documentation url
  airbyte-ci/connectors/metadata_service/lib/tests/fixtures/metadata_upload/invalid/metadata_cloud_image_does_not_exist.yaml
  airbyte-ci/connectors/metadata_service/lib/tests/fixtures/metadata_upload/invalid/metadata_main_image_does_not_exist.yaml
  airbyte-ci/connectors/metadata_service/lib/tests/fixtures/metadata_upload/invalid/metadata_normalization_image_does_not_exist.yaml
  airbyte-ci/connectors/metadata_service/lib/tests/fixtures/metadata_upload/invalid/metadata_oss_image_does_not_exist.yaml
  airbyte-ci/connectors/metadata_service/lib/tests/fixtures/metadata_upload/valid/metadata_all_images_exist.yaml
  airbyte-ci/connectors/metadata_service/lib/tests/fixtures/metadata_upload/valid/metadata_main_image_does_not_exist_but_is_overrode.yaml
  docs/connector-development/connector-metadata-file.md
Labels: area/documentation

#27307 🐛 Source Google Search Console: Fix `data_state` config typo
  airbyte-integrations/connectors/source-google-search-console/Dockerfile
  airbyte-integrations/connectors/source-google-search-console/metadata.yaml
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/source.py
  docs/integrations/sources/google-search-console.md
Labels: area/documentation, area/connectors, community, connectors/source/google-search-console

#27350 :bug: CDK: replace `data` with `json` when making OAuth calls
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/requests_native_auth/abstract_oauth.py
  airbyte-cdk/python/unit_tests/sources/declarative/auth/test_oauth.py
  airbyte-cdk/python/unit_tests/sources/streams/http/requests_native_auth/test_requests_native_auth.py
Labels: CDK

#27373 :tada: New Source: KYVE Network
  airbyte-integrations/connectors/source-kyve/.dockerignore
  airbyte-integrations/connectors/source-kyve/Dockerfile
  airbyte-integrations/connectors/source-kyve/README.md
  airbyte-integrations/connectors/source-kyve/acceptance-test-config.yml
  airbyte-integrations/connectors/source-kyve/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-kyve/build.gradle
  airbyte-integrations/connectors/source-kyve/icon.svg
  airbyte-integrations/connectors/source-kyve/integration_tests/__init__.py
  airbyte-integrations/connectors/source-kyve/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-kyve/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-kyve/integration_tests/config.json
  airbyte-integrations/connectors/source-kyve/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-kyve/integration_tests/incremental_catalog.json
  airbyte-integrations/connectors/source-kyve/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-kyve/integration_tests/multiple_pools_config.json
  airbyte-integrations/connectors/source-kyve/main.py
  airbyte-integrations/connectors/source-kyve/metadata.yaml
  airbyte-integrations/connectors/source-kyve/requirements.txt
  airbyte-integrations/connectors/source-kyve/setup.py
  airbyte-integrations/connectors/source-kyve/source_kyve/__init__.py
  airbyte-integrations/connectors/source-kyve/source_kyve/schemas/bitcoin/block.json
  airbyte-integrations/connectors/source-kyve/source_kyve/schemas/bitcoin/transaction.json
  airbyte-integrations/connectors/source-kyve/source_kyve/schemas/celo/block.json
  airbyte-integrations/connectors/source-kyve/source_kyve/schemas/celo/transaction.json
  airbyte-integrations/connectors/source-kyve/source_kyve/schemas/cosmos/block.json
  airbyte-integrations/connectors/source-kyve/source_kyve/schemas/cosmos/parsedtxs.json
  airbyte-integrations/connectors/source-kyve/source_kyve/schemas/evm/block.json
  airbyte-integrations/connectors/source-kyve/source_kyve/schemas/evm/transaction.json
  airbyte-integrations/connectors/source-kyve/source_kyve/schemas/uniswap/event.json
  airbyte-integrations/connectors/source-kyve/source_kyve/source.py
  airbyte-integrations/connectors/source-kyve/source_kyve/spec.yaml
  airbyte-integrations/connectors/source-kyve/source_kyve/stream.py
  airbyte-integrations/connectors/source-kyve/source_kyve/util.py
  airbyte-integrations/connectors/source-kyve/unit_tests/__init__.py
  airbyte-integrations/connectors/source-kyve/unit_tests/test_data.py
  airbyte-integrations/connectors/source-kyve/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-kyve/unit_tests/test_source.py
  airbyte-integrations/connectors/source-kyve/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-kyve/unit_tests/test_util.py
  docs/integrations/sources/kyve.md
Labels: area/documentation, area/connectors, connectors/source/kyve, checklist-action-run

#27039 🐛 octavia-cli: does not suppress errors from image pull in octavia-cli install
  octavia-cli/install.sh
Labels: community

#21226 🎉 New Destination: Timeplus
  airbyte-integrations/connectors/destination-timeplus/.dockerignore
  airbyte-integrations/connectors/destination-timeplus/Dockerfile
  airbyte-integrations/connectors/destination-timeplus/README.md
  airbyte-integrations/connectors/destination-timeplus/build.gradle
  airbyte-integrations/connectors/destination-timeplus/destination_timeplus/__init__.py
  airbyte-integrations/connectors/destination-timeplus/destination_timeplus/destination.py
  airbyte-integrations/connectors/destination-timeplus/destination_timeplus/spec.json
  airbyte-integrations/connectors/destination-timeplus/icon.svg
  airbyte-integrations/connectors/destination-timeplus/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/destination-timeplus/integration_tests/integration_test.py
  airbyte-integrations/connectors/destination-timeplus/integration_tests/messages.jsonl
  airbyte-integrations/connectors/destination-timeplus/main.py
  airbyte-integrations/connectors/destination-timeplus/metadata.yaml
  airbyte-integrations/connectors/destination-timeplus/requirements.txt
  airbyte-integrations/connectors/destination-timeplus/setup.py
  airbyte-integrations/connectors/destination-timeplus/unit_tests/unit_test.py
  docs/integrations/destinations/timeplus.md
Labels: area/documentation, area/connectors, community, connectors/destination/timeplus, new-destination

#24192 🎉 New destination connector for Xata.io
  airbyte-integrations/connectors/destination-xata/.dockerignore
  airbyte-integrations/connectors/destination-xata/Dockerfile
  airbyte-integrations/connectors/destination-xata/README.md
  airbyte-integrations/connectors/destination-xata/bootstrap.md
  airbyte-integrations/connectors/destination-xata/build.gradle
  airbyte-integrations/connectors/destination-xata/destination_xata/__init__.py
  airbyte-integrations/connectors/destination-xata/destination_xata/destination.py
  airbyte-integrations/connectors/destination-xata/destination_xata/spec.json
  airbyte-integrations/connectors/destination-xata/icon.svg
  airbyte-integrations/connectors/destination-xata/integration_tests/integration_test.py
  airbyte-integrations/connectors/destination-xata/integration_tests/invalid_config.json
  airbyte-integrations/connectors/destination-xata/main.py
  airbyte-integrations/connectors/destination-xata/metadata.yaml
  airbyte-integrations/connectors/destination-xata/requirements.txt
  airbyte-integrations/connectors/destination-xata/sample_files/configured_catalog.json
  airbyte-integrations/connectors/destination-xata/setup.py
  airbyte-integrations/connectors/destination-xata/unit_tests/unit_test.py
  docs/integrations/destinations/xata.md
Labels: area/documentation, area/connectors, community, connectors/destination/xata, new-destination

#27351 :bug: Source Gitlab: fix OAuth token expiry date
  airbyte-integrations/connectors/source-gitlab/Dockerfile
  airbyte-integrations/connectors/source-gitlab/metadata.yaml
  airbyte-integrations/connectors/source-gitlab/source_gitlab/source.py
  docs/integrations/sources/gitlab.md
Labels: area/documentation, area/connectors, connectors/source/gitlab, checklist-action-run

#27346 :bug: Source Gitlab: disallow http in cloud, disallow endpoints in URLs
  airbyte-integrations/connectors/source-gitlab/Dockerfile
  airbyte-integrations/connectors/source-gitlab/metadata.yaml
  airbyte-integrations/connectors/source-gitlab/source_gitlab/source.py
  airbyte-integrations/connectors/source-gitlab/source_gitlab/spec.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/streams.py
  airbyte-integrations/connectors/source-gitlab/source_gitlab/utils.py
  airbyte-integrations/connectors/source-gitlab/unit_tests/conftest.py
  airbyte-integrations/connectors/source-gitlab/unit_tests/test_source.py
  docs/integrations/sources/gitlab.md
Labels: area/documentation, area/connectors, connectors/source/gitlab

#27201 🐛 Source Facebook Marketing: add `complete_oauth_server_output_specification` to spec
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/source.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing

#26535 :bug: Source Notion: migrated to advancedAuth
  airbyte-integrations/connectors/source-notion/Dockerfile
  airbyte-integrations/connectors/source-notion/metadata.yaml
  airbyte-integrations/connectors/source-notion/source_notion/spec.json
  docs/integrations/sources/notion.md
Labels: area/documentation, area/connectors, connectors/source/notion, checklist-action-run

#22223 Source Google Analytics: fix custom report with segments
  airbyte-integrations/connectors/source-google-analytics-v4/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-v4/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-v4/source_google_analytics_v4/custom_reports_validator.py
  airbyte-integrations/connectors/source-google-analytics-v4/unit_tests/test_custom_reports_validator.py
  docs/integrations/sources/google-analytics-v4.md
Labels: area/documentation, area/connectors, community, connectors/source/google-analytics-v4, ga-connector-change, gl-review

#27402 connectors-ci: do not run tests on fork PR
  .github/workflows/connectors_tests.yml
Labels: connectors/source/openweather

#27238 Source Stripe: Files and TopUps stream
  airbyte-integrations/connectors/source-stripe/Dockerfile
  airbyte-integrations/connectors/source-stripe/acceptance-test-config.yml
  airbyte-integrations/connectors/source-stripe/customers.sqlite
  airbyte-integrations/connectors/source-stripe/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-stripe/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-stripe/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/file_links.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/files.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/top_ups.json
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_source.py
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, connectors/source/stripe

#27420 📝 Update outdated docs urls in metadata files
  airbyte-integrations/connectors/destination-convex/metadata.yaml
  airbyte-integrations/connectors/destination-dev-null/metadata.yaml
  airbyte-integrations/connectors/destination-duckdb/metadata.yaml
  airbyte-integrations/connectors/destination-teradata/metadata.yaml
  airbyte-integrations/connectors/source-braze/metadata.yaml
  airbyte-integrations/connectors/source-e2e-test-cloud/metadata.yaml
  airbyte-integrations/connectors/source-firebase-realtime-database/metadata.yaml
  airbyte-integrations/connectors/source-salesforce-singer/metadata.yaml
  airbyte-integrations/connectors/source-zoom/metadata.yaml
Labels: area/connectors, connectors/destination/dev-null, connectors/source/e2e-test-cloud, connectors/destination/teradata, connectors/destination/duckdb, connectors/source/braze, connectors/source/firebase-realtime-database, connectors/source/zoom, connectors/destination/convex, connectors/source/salesforce-singer

#27431 ✨ Source Zendesk Support: add stream Organization Memeberships
  airbyte-integrations/connectors/source-zendesk-support/Dockerfile
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/incremental_catalog.json
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/organization_memberships.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/source.py
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/streams.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/unit_test.py
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-support, checklist-action-run

#27398 Maxi297/refactoring declarative state management
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_stream.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/incremental/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/incremental/cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/incremental/datetime_based_cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/incremental/per_partition_cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/model_to_component_factory.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/partition_routers/list_partition_router.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/partition_routers/single_partition_router.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/partition_routers/substream_partition_router.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/retrievers/simple_retriever.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/stream_slicers/cartesian_product_stream_slicer.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/stream_slicers/stream_slicer.py
  airbyte-cdk/python/unit_tests/sources/declarative/incremental/test_datetime_based_cursor.py
  airbyte-cdk/python/unit_tests/sources/declarative/incremental/test_per_partition_cursor.py
  airbyte-cdk/python/unit_tests/sources/declarative/incremental/test_per_partition_cursor_integration.py
  airbyte-cdk/python/unit_tests/sources/declarative/partition_routers/test_list_partition_router.py
  airbyte-cdk/python/unit_tests/sources/declarative/partition_routers/test_single_partition_router.py
  airbyte-cdk/python/unit_tests/sources/declarative/partition_routers/test_substream_partition_router.py
  airbyte-cdk/python/unit_tests/sources/declarative/retrievers/test_simple_retriever.py
  airbyte-cdk/python/unit_tests/sources/declarative/stream_slicers/test_cartesian_product_stream_slicer.py
Labels: CDK

#27291 add link to record selector docs
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/models/declarative_component_schema.py
Labels: CDK

#27444 Google Analytics V4: Set 500Mi for check_connection jobs
  airbyte-integrations/connectors/source-google-analytics-v4/metadata.yaml
Labels: area/connectors, connectors/source/google-analytics-v4

#27449 Adjust metadata on the intended connector
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-v4/metadata.yaml
Labels: area/connectors, connectors/source/google-analytics-v4, connectors/source/google-analytics-data-api

#27335 Remove noisy logging for `LegacyStateManager`
  airbyte-integrations/connectors/source-mssql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mssql-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-mssql/Dockerfile
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/state/LegacyStateManager.java
  airbyte-integrations/connectors/source-snowflake/Dockerfile
  airbyte-integrations/connectors/source-snowflake/metadata.yaml
  docs/integrations/sources/mssql.md
  docs/integrations/sources/snowflake.md
Labels: area/documentation, area/connectors, connectors/source/mssql, connectors/source/snowflake, connectors/source/relational-db, connectors/source/mssql-strict-encrypt

#27440 Fix Snowflake Destination Tests
  airbyte-integrations/connectors/destination-snowflake/README.md
Labels: area/connectors, connectors/destination/snowflake

#27463 Source Confluence: Update expected records
  airbyte-integrations/connectors/source-confluence/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/confluence

#27464 Source Notion: Update expected records
  airbyte-integrations/connectors/source-notion/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/notion

#27467 Source Pipedrive: Update expected records
  airbyte-integrations/connectors/source-pipedrive/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/pipedrive

#27455 🐛 Source Typeform: add undeclared columns to streams
  airbyte-integrations/connectors/source-typeform/Dockerfile
  airbyte-integrations/connectors/source-typeform/acceptance-test-config.yml
  airbyte-integrations/connectors/source-typeform/metadata.yaml
  airbyte-integrations/connectors/source-typeform/source_typeform/schemas/forms.json
  airbyte-integrations/connectors/source-typeform/source_typeform/schemas/images.json
  airbyte-integrations/connectors/source-typeform/source_typeform/schemas/responses.json
  airbyte-integrations/connectors/source-typeform/source_typeform/schemas/themes.json
  airbyte-integrations/connectors/source-typeform/source_typeform/schemas/workspaces.json
  docs/integrations/sources/typeform.md
Labels: area/documentation, area/connectors, connectors/source/typeform, checklist-action-run

#27470 Source Trello: Update expected records
  airbyte-integrations/connectors/source-trello/Dockerfile
  airbyte-integrations/connectors/source-trello/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-trello/metadata.yaml
  airbyte-integrations/connectors/source-trello/source_trello/schemas/organizations.json
  docs/integrations/sources/trello.md
Labels: area/documentation, area/connectors, connectors/source/trello

#27472 Source Sentry: Update expected records
  airbyte-integrations/connectors/source-sentry/acceptance-test-config.yml
  airbyte-integrations/connectors/source-sentry/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/sentry

#27353 connectors ci: auto format connectors code
  .github/workflows/connectors_format.yml
  .github/workflows/connectors_tests.yml
  tools/ci_connector_ops/ci_connector_ops/pipelines/README.md
  tools/ci_connector_ops/ci_connector_ops/pipelines/actions/environments.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/commands/airbyte_ci.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/commands/groups/connectors.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/consts.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/contexts.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/format/__init__.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/format/java_connectors.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/format/python_connectors.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/git.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/pipelines/connectors.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/tests/__init__.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/utils.py
Labels: connectors/destination/bigquery, connectors/destination/bigquery-denormalized, connectors/source/freshdesk, connectors/source/postgres, connectors/source/openweather

#27484 Source Salesloft: update expected records
  airbyte-integrations/connectors/source-salesloft/Dockerfile
  airbyte-integrations/connectors/source-salesloft/acceptance-test-config.yml
  airbyte-integrations/connectors/source-salesloft/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-salesloft/metadata.yaml
  airbyte-integrations/connectors/source-salesloft/source_salesloft/__init__.py
  docs/integrations/sources/salesloft.md
Labels: area/documentation, area/connectors, connectors/source/salesloft

#27487 Bumps Snowflake defaults to prep for async snowflake
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
Labels: area/connectors, connectors/destination/snowflake

#27325 Update postgres.md
  docs/integrations/sources/postgres.md
Labels: area/documentation

#25874 🐛Source Amazon Ads: fix `portfolioId` type
  airbyte-integrations/connectors/source-amazon-ads/Dockerfile
  airbyte-integrations/connectors/source-amazon-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/__init__.py
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-amazon-ads/metadata.yaml
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/__init__.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/__init__.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_brands.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_display.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_products.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/__init__.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/report_streams/__init__.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/__init__.py
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, area/connectors, connectors/source/amazon-ads, breaking-change, checklist-action-run

#27523 🐛 Use url encoding in oauth refresh request
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/requests_native_auth/abstract_oauth.py
  airbyte-cdk/python/unit_tests/sources/declarative/auth/test_oauth.py
  airbyte-cdk/python/unit_tests/sources/streams/http/requests_native_auth/test_requests_native_auth.py
Labels: CDK

#27536 Update google-analytics-v4.inapp.md
  docs/integrations/sources/google-analytics-v4.inapp.md
Labels: area/documentation

#27544 qa-check: add pydash deps
  tools/ci_connector_ops/setup.py
Labels: connectors/source/openweather

#27498 :bug: Source Klaviyo: do not store state in the future
  airbyte-integrations/connectors/source-klaviyo/Dockerfile
  airbyte-integrations/connectors/source-klaviyo/acceptance-test-config.yml
  airbyte-integrations/connectors/source-klaviyo/integration_tests/__init__.py
  airbyte-integrations/connectors/source-klaviyo/metadata.yaml
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/__init__.py
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/source.py
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/streams.py
  airbyte-integrations/connectors/source-klaviyo/unit_tests/test_streams.py
  docs/integrations/sources/klaviyo.md
Labels: area/documentation, area/connectors, connectors/source/klaviyo, checklist-action-run

#27542 🤖 Cloud Availability updater: new connectors to deploy [20230621]
  airbyte-ci/connectors/qa-engine/qa_engine/constants.py
  airbyte-integrations/connectors/destination-amazon-sqs/destination_amazon_sqs/__init__.py
  airbyte-integrations/connectors/destination-timeplus/destination_timeplus/__init__.py
  airbyte-integrations/connectors/destination-timeplus/destination_timeplus/destination.py
  airbyte-integrations/connectors/destination-timeplus/integration_tests/integration_test.py
  airbyte-integrations/connectors/destination-timeplus/main.py
  airbyte-integrations/connectors/destination-timeplus/metadata.yaml
  airbyte-integrations/connectors/destination-timeplus/setup.py
  airbyte-integrations/connectors/destination-timeplus/unit_tests/unit_test.py
  airbyte-integrations/connectors/destination-xata/Dockerfile
  airbyte-integrations/connectors/destination-xata/destination_xata/spec.json
  airbyte-integrations/connectors/destination-xata/metadata.yaml
  airbyte-integrations/connectors/source-appfollow/metadata.yaml
  airbyte-integrations/connectors/source-coingecko-coins/metadata.yaml
  docs/integrations/destinations/xata.md
Labels: area/documentation, area/connectors, connectors/destination/amazon-sqs, connectors/source/appfollow, team/connector-ops, connectors/source/coingecko-coins, connectors/destination/timeplus, connectors/destination/xata, cloud-availability-updater

#27531 Source Google Analytics Data API: Fix formatting
  airbyte-integrations/connectors/source-google-analytics-data-api/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/api_quota.py
  docs/integrations/sources/google-analytics-data-api.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-data-api

#27506 ref: broaden the use of the run-dagger-pipeline action
  .github/actions/run-dagger-pipeline/action.yml
  .github/workflows/connectors_nightly_build.yml
  .github/workflows/connectors_tests.yml
  .github/workflows/connectors_weekly_build.yml
  .github/workflows/publish_connectors.yml
  tools/ci_connector_ops/ci_connector_ops/pipelines/contexts.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/publish.py
Labels: connectors/source/freshdesk

#27522 Source Stripe: Fix formatting
  airbyte-integrations/connectors/source-stripe/Dockerfile
  airbyte-integrations/connectors/source-stripe/integration_tests/__init__.py
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/source_stripe/__init__.py
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, connectors/source/stripe

#27243 [ISSUE #26607] zenloop migration
  airbyte-cdk/python/airbyte_cdk/sources/declarative/incremental/per_partition_cursor.py
  airbyte-cdk/python/unit_tests/sources/declarative/incremental/test_per_partition_cursor.py
  airbyte-integrations/connectors/source-zenloop/acceptance-test-config.yml
  airbyte-integrations/connectors/source-zenloop/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-zenloop/integration_tests/sample_state.json
  docs/integrations/sources/zenloop.md
Labels: area/documentation, area/connectors, CDK, connectors/source/zenloop

#27481 Issue 26343/data feed incremental sync solution 2
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_stream.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/incremental/cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/incremental/datetime_based_cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/incremental/per_partition_cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/models/declarative_component_schema.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/model_to_component_factory.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/strategies/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/strategies/stop_condition.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/retrievers/simple_retriever.py
  airbyte-cdk/python/unit_tests/sources/declarative/incremental/test_datetime_based_cursor.py
  airbyte-cdk/python/unit_tests/sources/declarative/incremental/test_per_partition_cursor.py
  airbyte-cdk/python/unit_tests/sources/declarative/incremental/test_per_partition_cursor_integration.py
  airbyte-cdk/python/unit_tests/sources/declarative/parsers/test_model_to_component_factory.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/paginators/test_stop_condition.py
  airbyte-cdk/python/unit_tests/sources/declarative/retrievers/test_simple_retriever.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_declarative_stream.py
Labels: CDK

#27483 :bug: Source Facebook marketing: reduce start date by one day
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/acceptance-test-config.yml
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/__init__.py
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/__init__.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/async_job.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/utils.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/__init__.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_async_job.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_utils.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing, checklist-action-run

#27550 connectors-ci: better connector test debugging experience (1/2)
  tools/ci_connector_ops/ci_connector_ops/pipelines/actions/secrets.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/bases.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/commands/groups/connectors.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/contexts.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/pipelines/connectors.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/tests/templates/test_report.html.j2
  tools/ci_connector_ops/setup.py
Labels: connectors/source/pokeapi, connectors/source/openweather

#27226 🚨🚨 🐛 Convex source fix skipped records
  airbyte-integrations/connectors/source-convex/Dockerfile
  airbyte-integrations/connectors/source-convex/acceptance-test-config.yml
  airbyte-integrations/connectors/source-convex/metadata.yaml
  airbyte-integrations/connectors/source-convex/source_convex/source.py
  airbyte-integrations/connectors/source-convex/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-convex/unit_tests/test_streams.py
  docs/integrations/sources/convex.md
Labels: area/documentation, area/connectors, community, connectors/source/convex

#27589 deprecate otel docs
  docs/operator-guides/collecting-metrics.md
  docs/operator-guides/scaling-airbyte.md
  docs/release_notes/july_2022.md
  docusaurus/sidebars.js
Labels: area/documentation

#27466 source-postgres : Add logic to handle xmin wraparound
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/xmin/PostgresXminHandler.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/xmin/XminCtidUtils.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/xmin/PostgresXminHandlerTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/xmin/XminCtidUtilsTest.java
Labels: area/connectors, connectors/source/postgres

#27302 postgres-source: complete implementation for for ctid and xmin sync
  airbyte-commons/src/main/java/io/airbyte/commons/util/AutoCloseableIterators.java
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresQueryUtils.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/AirbyteMessageWithCtid.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidPostgresSourceOperations.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidStateIterator.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidStateManager.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/PostgresCtidHandler.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/xmin/PostgresXminHandler.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/xmin/XminCtidUtils.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/xmin/XminStateManager.java
  airbyte-integrations/connectors/source-postgres/src/main/resources/internal_models/internal_models.yaml
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/XminPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/xmin/PostgresXminHandlerTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/xmin/XminCtidUtilsTest.java
Labels: area/connectors, connectors/source/postgres, connectors/source/relational-db

#27604 Source S3: Add logging for file reading
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/stream.py
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3

#27061 Connector builder: Add documentation for unified oauth authenticator
  docs/connector-development/connector-builder-ui/authentication.md
Labels: area/documentation, ui/connector-builder

#27236 :bug: Source Google Directory: update version in cloud to 0.2.0
  airbyte-integrations/connectors/source-google-directory/Dockerfile
  airbyte-integrations/connectors/source-google-directory/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-directory/integration_tests/__init__.py
  airbyte-integrations/connectors/source-google-directory/metadata.yaml
  airbyte-integrations/connectors/source-google-directory/source_google_directory/__init__.py
  docs/integrations/sources/google-directory.md
Labels: area/documentation, area/connectors, connectors/source/google-directory, checklist-action-run

#27556 🐛 Source zenloop: update to state per partition
  airbyte-cdk/python/airbyte_cdk/sources/declarative/incremental/per_partition_cursor.py
  airbyte-cdk/python/unit_tests/sources/declarative/incremental/test_per_partition_cursor.py
  airbyte-commons/src/main/java/io/airbyte/commons/util/AutoCloseableIterators.java
  airbyte-integrations/connectors/source-zenloop/Dockerfile
  airbyte-integrations/connectors/source-zenloop/acceptance-test-config.yml
  airbyte-integrations/connectors/source-zenloop/integration_tests/__init__.py
  airbyte-integrations/connectors/source-zenloop/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-zenloop/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-zenloop/metadata.yaml
  airbyte-integrations/connectors/source-zenloop/setup.py
  airbyte-integrations/connectors/source-zenloop/source_zenloop/__init__.py
  docs/integrations/sources/zenloop.md
Labels: area/documentation, area/connectors, CDK, connectors/source/zenloop

#27611 Source S3: fix start date
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/source.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/stream.py
  airbyte-integrations/connectors/source-s3/unit_tests/test_stream.py
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3

#26283 Source Google Analytics v4: - add pk and lookback window
  airbyte-integrations/connectors/source-google-analytics-data-api/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-data-api/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-analytics-data-api/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-google-analytics-data-api/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-google-analytics-data-api/integration_tests/incremental_catalog.json
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/source.py
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/utils.py
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_source.py
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_streams.py
  docs/integrations/sources/google-analytics-data-api.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-data-api

#27315 Source Shopify: Added new streams
  airbyte-integrations/connectors/source-shopify/Dockerfile
  airbyte-integrations/connectors/source-shopify/acceptance-test-config.yml
  airbyte-integrations/connectors/source-shopify/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-shopify/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-shopify/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-shopify/metadata.yaml
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/countries.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/customer_address.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/customer_saved_search.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/product_variants.json
  airbyte-integrations/connectors/source-shopify/source_shopify/source.py
  airbyte-integrations/connectors/source-shopify/source_shopify/utils.py
  airbyte-integrations/connectors/source-shopify/unit_tests/unit_test.py
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors, connectors/source/shopify

#27534 [26989] Add request filter for cloud and integration test fixtures for e2e sync testing
  airbyte-cdk/python/airbyte_cdk/entrypoint.py
  airbyte-cdk/python/unit_tests/connector_builder/test_connector_builder_handler.py
  airbyte-cdk/python/unit_tests/sources/fixtures/__init__.py
  airbyte-cdk/python/unit_tests/sources/fixtures/source_test_fixture.py
  airbyte-cdk/python/unit_tests/sources/test_integration_source.py
  airbyte-cdk/python/unit_tests/test_entrypoint.py
Labels: CDK

#27600 [ISSUE #27289] Document macros output in the manifest schema
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/unit_tests/sources/declarative/interpolation/test_jinja.py
  airbyte-cdk/python/unit_tests/sources/declarative/interpolation/test_macros.py
Labels: CDK

#27608 Source Google Ads: handle authorization error
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/integration_tests/__init__.py
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/__init__.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/spec.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/__init__.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, connectors/source/google-ads

#27445 Maxi297/refactoring declarative state management
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_stream.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/incremental/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/incremental/cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/incremental/datetime_based_cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/incremental/per_partition_cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/model_to_component_factory.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/partition_routers/list_partition_router.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/partition_routers/single_partition_router.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/partition_routers/substream_partition_router.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/retrievers/simple_retriever.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/stream_slicers/cartesian_product_stream_slicer.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/stream_slicers/stream_slicer.py
  airbyte-cdk/python/unit_tests/sources/declarative/incremental/test_datetime_based_cursor.py
  airbyte-cdk/python/unit_tests/sources/declarative/incremental/test_per_partition_cursor.py
  airbyte-cdk/python/unit_tests/sources/declarative/incremental/test_per_partition_cursor_integration.py
  airbyte-cdk/python/unit_tests/sources/declarative/partition_routers/test_list_partition_router.py
  airbyte-cdk/python/unit_tests/sources/declarative/partition_routers/test_single_partition_router.py
  airbyte-cdk/python/unit_tests/sources/declarative/partition_routers/test_substream_partition_router.py
  airbyte-cdk/python/unit_tests/sources/declarative/retrievers/test_simple_retriever.py
  airbyte-cdk/python/unit_tests/sources/declarative/stream_slicers/test_cartesian_product_stream_slicer.py
Labels: CDK, team/connectors-python

#27132 Source Stripe: add new CreditNotes stream
  airbyte-integrations/connectors/source-stripe/Dockerfile
  airbyte-integrations/connectors/source-stripe/acceptance-test-config.yml
  airbyte-integrations/connectors/source-stripe/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-stripe/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/credit_notes.json
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_source.py
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, connectors/source/stripe

#27637 clean up otel docs
  docs/operator-guides/collecting-metrics.md
Labels: area/documentation

#27619 :bug: Source Bing Ads: retry DNS failure
  airbyte-integrations/connectors/source-bing-ads/Dockerfile
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/client.py
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors, connectors/source/bing-ads, checklist-action-run

#27546 Datetime inferrer: Improve detected formats
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/models/declarative_component_schema.py
  airbyte-cdk/python/airbyte_cdk/utils/datetime_format_inferrer.py
  airbyte-cdk/python/unit_tests/utils/test_datetime_format_inferrer.py
Labels: CDK

#27651 Source S3: handle Bucket Access Errors
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/source_s3/stream.py
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3

#27639 Remove trailing `"`
  docs/quickstart/deploy-airbyte.md
Labels: area/documentation, community

#27663 Source Sentry: update expected records
  airbyte-integrations/connectors/source-sentry/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/sentry
