Repository airbytehq/airbyte, pull requests merged in 2023-02, with the labels that each got.

#21109 🪟 🔧 UI Table migration to v8
  airbyte-webapp/src/components/EntityTable/ConnectionTable.module.scss
  airbyte-webapp/src/components/EntityTable/ConnectionTable.tsx
  airbyte-webapp/src/components/EntityTable/ImplementationTable.module.scss
  airbyte-webapp/src/components/EntityTable/ImplementationTable.tsx
  airbyte-webapp/src/components/EntityTable/components/AllConnectionsStatusCell.tsx
  airbyte-webapp/src/components/EntityTable/components/FrequencyCell.tsx
  airbyte-webapp/src/components/EntityTable/components/LastSyncCell.tsx
  airbyte-webapp/src/components/EntityTable/types.ts
  airbyte-webapp/src/components/EntityTable/utils.tsx
  airbyte-webapp/src/components/connection/CatalogTree/next/StreamDetailsPanel/StreamFieldsTable/StreamFieldsTable.module.scss
  airbyte-webapp/src/components/connection/CatalogTree/next/StreamDetailsPanel/StreamFieldsTable/StreamFieldsTable.tsx
  airbyte-webapp/src/components/connection/ConnectionForm/formConfig.tsx
  airbyte-webapp/src/components/destination/DestinationConnectionTable/DestinationConnectionTable.tsx
  airbyte-webapp/src/components/ui/NextTable/NextTable.module.scss
  airbyte-webapp/src/components/ui/NextTable/NextTable.tsx
  airbyte-webapp/src/components/ui/NextTable/index.stories.tsx
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/components/UsagePerConnectionTable.module.scss
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/components/UsagePerConnectionTable.tsx
  airbyte-webapp/src/packages/cloud/views/users/UsersSettingsView/UsersSettingsView.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/components/ConnectorsView.module.scss
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/components/ConnectorsView.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SourceConnectionTable.tsx
  airbyte-webapp/src/pages/connections/AllConnectionsPage/ConnectionsTable.tsx
  airbyte-webapp/src/types/react-table.d.ts
Labels: area/frontend

#22198 🪟 🔧 Switch to the new airbyte-cloud repo name
  airbyte-webapp/scripts/environment.js
Labels: area/frontend

#22194 🪟 🔧 Remove utmStorage util
  airbyte-webapp/src/packages/cloud/cloudRoutes.tsx
  airbyte-webapp/src/packages/cloud/services/auth/AuthService.tsx
  airbyte-webapp/src/pages/routes.tsx
  airbyte-webapp/src/utils/utmStorage.test.ts
  airbyte-webapp/src/utils/utmStorage.ts
Labels: area/frontend, team/growth

#22202 Source Iterable: fixed test_email_stream_chunked_encoding: added records filtering
  airbyte-integrations/connectors/source-iterable/unit_tests/test_export_adjustable_range.py
Labels: area/connectors, connectors/source/iterable

#22195 Source Github: updated epected records for stream workflows and workflow_jobs
  airbyte-integrations/connectors/source-github/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/github

#22139 Source Square: updated expected records for stream items
  airbyte-integrations/connectors/source-square/integration_tests/expected_records_oauth.jsonl
Labels: area/connectors, connectors/source/square

#21869 🪟 🔧 Don't request destination/source definition in `<ConnectionInfoCard />` directly, use `useConnectionFormService()` instead
  airbyte-webapp/src/components/connection/ConnectionInfoCard/ConnectionInfoCard.test.tsx
  airbyte-webapp/src/components/connection/ConnectionInfoCard/ConnectionInfoCard.tsx
  airbyte-webapp/src/components/connection/CreateConnectionForm/CreateConnectionForm.test.tsx
  airbyte-webapp/src/hooks/services/ConnectionEdit/ConnectionEditService.test.tsx
  airbyte-webapp/src/hooks/services/ConnectionForm/ConnectionFormService.test.tsx
  airbyte-webapp/src/hooks/services/ConnectionForm/ConnectionFormService.tsx
  airbyte-webapp/src/pages/connections/ConnectionReplicationPage/ConnectionReplicationPage.test.tsx
  airbyte-webapp/src/test-utils/mock-data/mockSource.ts
Labels: area/frontend

#22199 Remove test card from empty actor form
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/views/Connector/ConnectorCard/components/Controls.tsx
  airbyte-webapp/src/views/Connector/ConnectorCard/components/TestCard.tsx
Labels: team/extensibility, area/frontend, ui/connectors

#21839 🪟🎉 Connector form: Reload config if updated during connection check
  airbyte-webapp/src/hooks/services/useDestinationHook.tsx
  airbyte-webapp/src/hooks/services/useSourceHook.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/components/SourceSettings.tsx
  airbyte-webapp/src/pages/destination/DestinationSettingsPage/DestinationSettingsPage.tsx
  airbyte-webapp/src/views/Connector/ConnectorCard/ConnectorCard.tsx
Labels: area/frontend, ui/connectors

#21629 fix: refresh actor configuration and state between sync attempts
  airbyte-api/src/main/openapi/config.yaml
  airbyte-bootloader/src/test/java/io/airbyte/bootloader/BootloaderTest.java
  airbyte-commons-server/src/main/java/io/airbyte/commons/server/converters/ApiPojoConverters.java
  airbyte-commons-server/src/main/java/io/airbyte/commons/server/handlers/AttemptHandler.java
  airbyte-commons-server/src/test/java/io/airbyte/commons/server/handlers/AttemptHandlerTest.java
  airbyte-commons-server/src/test/java/io/airbyte/commons/server/handlers/JobHistoryHandlerTest.java
  airbyte-commons-temporal/src/main/java/io/airbyte/commons/temporal/TemporalClient.java
  airbyte-commons-temporal/src/test/java/io/airbyte/commons/temporal/TemporalClientTest.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/config/ApiClientBeanFactory.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/helper/ProtocolConverters.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/helper/StateConverter.java
  airbyte-config/config-models/src/main/resources/types/AttemptSyncConfig.yaml
  airbyte-config/config-models/src/main/resources/types/JobResetConnectionConfig.yaml
  airbyte-config/config-models/src/main/resources/types/JobSyncConfig.yaml
  airbyte-db/db-lib/src/main/java/io/airbyte/db/instance/jobs/migrations/V0_40_28_001__AddAttemptSyncConfig.java
  airbyte-db/db-lib/src/main/resources/jobs_database/Attempts.yaml
  airbyte-db/db-lib/src/main/resources/jobs_database/schema_dump.txt
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/DefaultJobCreator.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/DefaultJobPersistence.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/JobPersistence.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/models/Attempt.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/models/Job.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/tracker/JobTracker.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/DefaultJobCreatorTest.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/DefaultJobPersistenceTest.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/models/AttemptTest.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/models/JobTest.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/tracker/JobTrackerTest.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/tracker/TrackingMetadataTest.java
  airbyte-server/src/main/java/io/airbyte/server/apis/AttemptApiController.java
  airbyte-workers/build.gradle
  airbyte-workers/src/main/java/io/airbyte/workers/config/ApplicationBeanFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/run/TemporalWorkerRunFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/GenerateInputActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/run/TemporalWorkerRunFactoryTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/GenerateInputActivityTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityTest.java
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api, area/worker, area/platform, area/server, team/connector-ops

#22072 🪟 🧹 Clean up NotificationService imports
  airbyte-webapp/src/App.tsx
  airbyte-webapp/src/hooks/services/Notification/NotificationService.tsx
  airbyte-webapp/src/hooks/services/Notification/index.ts
  airbyte-webapp/src/hooks/services/Notification/index.tsx
  airbyte-webapp/src/packages/cloud/App.tsx
Labels: area/frontend

#22203 Source Marketo: handle null cursor values
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-marketo/Dockerfile
  airbyte-integrations/connectors/source-marketo/source_marketo/source.py
  airbyte-integrations/connectors/source-marketo/unit_tests/test_source.py
  docs/integrations/sources/marketo.md
Labels: area/documentation, area/connectors, connectors/source/marketo

#21995 [Connector Builder] Set default value for end_datetime
  airbyte-webapp/src/components/connectorBuilder/Builder/StreamSlicerSection.tsx
Labels: area/frontend

#22011 Turn off default httpavailabilitystrategy for source-iterable (GA)
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-iterable/Dockerfile
  airbyte-integrations/connectors/source-iterable/source_iterable/streams.py
  airbyte-integrations/connectors/source-iterable/unit_tests/test_export_adjustable_range.py
  docs/integrations/sources/iterable.md
Labels: area/documentation, area/connectors, connectors/source/iterable

#22211 Revert "fix: refresh actor configuration and state between sync attempts"
  airbyte-api/src/main/openapi/config.yaml
  airbyte-bootloader/src/test/java/io/airbyte/bootloader/BootloaderTest.java
  airbyte-commons-server/src/main/java/io/airbyte/commons/server/converters/ApiPojoConverters.java
  airbyte-commons-server/src/main/java/io/airbyte/commons/server/handlers/AttemptHandler.java
  airbyte-commons-server/src/test/java/io/airbyte/commons/server/handlers/AttemptHandlerTest.java
  airbyte-commons-server/src/test/java/io/airbyte/commons/server/handlers/JobHistoryHandlerTest.java
  airbyte-commons-temporal/src/main/java/io/airbyte/commons/temporal/TemporalClient.java
  airbyte-commons-temporal/src/test/java/io/airbyte/commons/temporal/TemporalClientTest.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/config/ApiClientBeanFactory.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/helper/ProtocolConverters.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/helper/StateConverter.java
  airbyte-config/config-models/src/main/resources/types/AttemptSyncConfig.yaml
  airbyte-config/config-models/src/main/resources/types/JobResetConnectionConfig.yaml
  airbyte-config/config-models/src/main/resources/types/JobSyncConfig.yaml
  airbyte-db/db-lib/src/main/java/io/airbyte/db/instance/jobs/migrations/V0_40_28_001__AddAttemptSyncConfig.java
  airbyte-db/db-lib/src/main/resources/jobs_database/Attempts.yaml
  airbyte-db/db-lib/src/main/resources/jobs_database/schema_dump.txt
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/DefaultJobCreator.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/DefaultJobPersistence.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/JobPersistence.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/models/Attempt.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/models/Job.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/tracker/JobTracker.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/DefaultJobCreatorTest.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/DefaultJobPersistenceTest.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/models/AttemptTest.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/models/JobTest.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/tracker/JobTrackerTest.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/tracker/TrackingMetadataTest.java
  airbyte-server/src/main/java/io/airbyte/server/apis/AttemptApiController.java
  airbyte-workers/build.gradle
  airbyte-workers/src/main/java/io/airbyte/workers/config/ApplicationBeanFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/run/TemporalWorkerRunFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/GenerateInputActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/run/TemporalWorkerRunFactoryTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/GenerateInputActivityTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityTest.java
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api, area/worker, area/platform, area/server

#21924 Restore HttpAvailabilityStrategy as default for HttpStreams
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/http.py
  airbyte-cdk/python/docs/concepts/http-streams.md
  airbyte-cdk/python/unit_tests/sources/declarative/checks/test_check_stream.py
  airbyte-cdk/python/unit_tests/sources/streams/http/test_availability_strategy.py
  airbyte-cdk/python/unit_tests/sources/test_source.py
Labels: CDK

#21138 Only checkUpdates if AllowUpdateConnectors enabled
  airbyte-webapp/src/services/connector/ConnectorService.ts
Labels: area/frontend

#22224 🐛 Source Airtable: fix `API Key` authentication
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-airtable/Dockerfile
  airbyte-integrations/connectors/source-airtable/acceptance-test-config.yml
  airbyte-integrations/connectors/source-airtable/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-airtable/source_airtable/auth.py
  docs/integrations/sources/airtable.md
Labels: area/documentation, area/connectors, connectors/source/airtable

#22226 📖 Reference new build system docs
  airbyte-integrations/builds-readme.md
  airbyte-integrations/builds.md
  tools/bin/build_report.py
  tools/ci_connector_ops/ci_connector_ops/qa_engine/inputs.py
  tools/status/report.sh
Labels: area/connectors

#22237 Revert "remove airbyte-commons-docker"
  .github/workflows/gradle.yml
  airbyte-commons-docker/build.gradle
  airbyte-commons-docker/readme.md
  airbyte-commons-docker/src/main/java/io/airbyte/commons/docker/DockerUtils.java
  airbyte-commons-docker/src/test/java/io/airbyte/commons/docker/DockerUtilsTest.java
  airbyte-commons-server/build.gradle
  airbyte-commons-server/src/main/java/io/airbyte/commons/server/handlers/DestinationDefinitionsHandler.java
  airbyte-commons-server/src/main/java/io/airbyte/commons/server/handlers/SchedulerHandler.java
  airbyte-commons-server/src/main/java/io/airbyte/commons/server/handlers/SourceDefinitionsHandler.java
  airbyte-commons-server/src/test/java/io/airbyte/commons/server/handlers/DestinationDefinitionsHandlerTest.java
  airbyte-commons-server/src/test/java/io/airbyte/commons/server/handlers/SchedulerHandlerTest.java
  airbyte-commons-server/src/test/java/io/airbyte/commons/server/handlers/SourceDefinitionsHandlerTest.java
  airbyte-commons-worker/build.gradle
  airbyte-commons-worker/src/test/java/io/airbyte/workers/normalization/DefaultNormalizationRunnerTest.java
  airbyte-commons-worker/src/test/java/io/airbyte/workers/process/KubePodProcessTest.java
  airbyte-commons/readme.md
  airbyte-config/config-persistence/build.gradle
  airbyte-config/init/build.gradle
  airbyte-config/init/src/main/java/io/airbyte/config/init/LocalDefinitionsProvider.java
  airbyte-config/specs/build.gradle
  airbyte-config/specs/src/main/java/io/airbyte/config/specs/CombinedConnectorCatalogGenerator.java
  airbyte-container-orchestrator/build.gradle
  airbyte-persistence/job-persistence/build.gradle
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/errorreporter/JobErrorReporter.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/factory/DefaultSyncJobFactory.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/factory/DefaultSyncJobFactoryTest.java
  airbyte-server/build.gradle
  airbyte-tests/build.gradle
  airbyte-workers/build.gradle
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/GenerateInputActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityTest.java
  settings.gradle
Labels: area/worker, area/platform, area/server

#22278 Go back v0 as default
  airbyte-bootloader/src/main/resources/application.yml
  airbyte-commons-protocol/src/main/java/io/airbyte/commons/protocol/migrations/MigrationContainer.java
  airbyte-commons-protocol/src/main/java/io/airbyte/commons/protocol/migrations/v1/AirbyteMessageMigrationV1.java
  airbyte-commons-protocol/src/main/java/io/airbyte/commons/protocol/migrations/v1/CatalogMigrationV1Helper.java
  airbyte-commons-protocol/src/main/java/io/airbyte/commons/protocol/migrations/v1/ConfiguredAirbyteCatalogMigrationV1.java
  airbyte-commons-protocol/src/main/java/io/airbyte/commons/protocol/migrations/v1/SchemaMigrationV1.java
  airbyte-commons-protocol/src/main/java/io/airbyte/commons/protocol/serde/AirbyteMessageV0Deserializer.java
  airbyte-commons-protocol/src/main/java/io/airbyte/commons/protocol/serde/AirbyteMessageV0Serializer.java
  airbyte-commons-protocol/src/test/java/io/airbyte/commons/protocol/MigratorsMicronautTest.java
  airbyte-commons-protocol/src/test/java/io/airbyte/commons/protocol/serde/AirbyteMessageV0SerDeTest.java
  airbyte-commons-worker/src/test/java/io/airbyte/workers/internal/VersionedAirbyteStreamFactoryTest.java
  airbyte-config/config-models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/DbConverter.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/ConfigRepositoryE2EReadWriteTest.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/DefaultJobPersistence.java
  airbyte-server/src/main/resources/application.yml
  airbyte-test-utils/src/main/java/io/airbyte/test/utils/AirbyteAcceptanceTestHarness.java
  airbyte-tests/src/acceptanceTests/java/io/airbyte/test/acceptance/BasicAcceptanceTests.java
  airbyte-tests/src/acceptanceTests/java/io/airbyte/test/acceptance/CdcAcceptanceTests.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/NormalizationActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/sync/NormalizationActivityImplTest.java
Labels: area/worker, area/platform, area/server

#22288 Performance: Inject Socat CPU resources into the Orchestrator.
  airbyte-commons-worker/src/main/java/io/airbyte/workers/process/AirbyteIntegrationLauncher.java
  airbyte-commons-worker/src/test/java/io/airbyte/workers/process/AirbyteIntegrationLauncherTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/config/ContainerOrchestratorConfigBeanFactory.java
Labels: area/worker, area/platform

#22245 🐛 Source Airtable: fix cases with empty `result` while discover the schema
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-airtable/Dockerfile
  airbyte-integrations/connectors/source-airtable/source_airtable/schema_helpers.py
  docs/integrations/sources/airtable.md
Labels: area/documentation, area/connectors, connectors/source/airtable

#22228 Source Mailchimp: add extra logs
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mailchimp/Dockerfile
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/streams.py
  docs/integrations/sources/mailchimp.md
Labels: area/documentation, area/connectors, connectors/source/mailchimp

#22214 🪟 🐛 Fix ResizablePanel component
  airbyte-webapp/src/components/ui/ResizablePanels/ResizablePanels.module.scss
  airbyte-webapp/src/components/ui/ResizablePanels/ResizablePanels.tsx
  airbyte-webapp/src/components/ui/StepsIndicator/StepsIndicator.tsx
Labels: area/frontend, ui/connectors

#22061 🪟🎉 Connector builder: Improve testing panel UX on invalid configuration
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderField.tsx
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/StreamSelector.tsx
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/StreamTestButton.tsx
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/StreamTester.module.scss
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/StreamTester.tsx
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/StreamTestingPanel.module.scss
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/StreamTestingPanel.tsx
  airbyte-webapp/src/components/connectorBuilder/useBuilderErrors.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/ConnectorBuilderPage/ConnectorBuilderPage.tsx
  airbyte-webapp/src/services/connectorBuilder/ConnectorBuilderStateService.tsx
Labels: area/frontend, ui/connector-builder

#20682 🪟 🧪 E2E Tests for auto-detect schema changes
  airbyte-webapp-e2e-tests/cypress/commands/api/api.ts
  airbyte-webapp-e2e-tests/cypress/commands/api/index.ts
  airbyte-webapp-e2e-tests/cypress/commands/api/payloads.ts
  airbyte-webapp-e2e-tests/cypress/commands/api/types.ts
  airbyte-webapp-e2e-tests/cypress/commands/api/workspace.ts
  airbyte-webapp-e2e-tests/cypress/commands/db/queries.ts
  airbyte-webapp-e2e-tests/cypress/integration/autoDetectSchema.spec.ts
  airbyte-webapp-e2e-tests/cypress/integration/connection.spec.ts
  airbyte-webapp-e2e-tests/cypress/pages/connectionPage.ts
  airbyte-webapp-e2e-tests/cypress/pages/connnectionsListPage.ts
  airbyte-webapp-e2e-tests/cypress/pages/modals/catalogDiffModal.ts
  airbyte-webapp-e2e-tests/cypress/pages/modals/updateSchemaModal.ts
  airbyte-webapp-e2e-tests/cypress/pages/replicationPage.ts
  airbyte-webapp/src/components/EntityTable/components/ChangesStatusIcon.tsx
  airbyte-webapp/src/components/EntityTable/components/StatusCell.tsx
  airbyte-webapp/src/components/connection/ConnectionInfoCard/SchemaChangesDetected.tsx
  airbyte-webapp/src/pages/connections/ConnectionReplicationPage/ResetWarningModal.tsx
Labels: area/frontend

#22311 🐛 source: airtable - handle singleSelect types
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-airtable/Dockerfile
  airbyte-integrations/connectors/source-airtable/source_airtable/schema_helpers.py
  docs/integrations/sources/airtable.md
Labels: area/documentation, area/connectors, connectors/source/airtable

#22326 Trace refresh schema operations
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/RefreshSchemaActivityImpl.java
Labels: area/worker, area/platform

#22141 Remove `checkpoint_interval` from source-prestashop manifest
  airbyte-integrations/connectors/source-prestashop/source_prestashop/manifest.yaml
Labels: area/connectors, connectors/source/prestashop

#22294 [Low-Code CDK] Rremove stream_cursor_field from stream and derive it from stream_slicer
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/models/declarative_component_schema.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/model_to_component_factory.py
  airbyte-cdk/python/unit_tests/sources/declarative/parsers/test_model_to_component_factory.py
  airbyte-integrations/connectors/source-braze/source_braze/manifest.yaml
  airbyte-integrations/connectors/source-callrail/source_callrail/manifest.yaml
  airbyte-integrations/connectors/source-close-com/source_close_com/manifest.yaml
  airbyte-integrations/connectors/source-coin-api/source_coin_api/manifest.yaml
  airbyte-integrations/connectors/source-datascope/source_datascope/manifest.yaml
  airbyte-integrations/connectors/source-delighted/source_delighted/manifest.yaml
  airbyte-integrations/connectors/source-gnews/source_gnews/manifest.yaml
  airbyte-integrations/connectors/source-gocardless/source_gocardless/manifest.yaml
  airbyte-integrations/connectors/source-greenhouse/source_greenhouse/manifest.yaml
  airbyte-integrations/connectors/source-mailersend/source_mailersend/manifest.yaml
  airbyte-integrations/connectors/source-nytimes/source_nytimes/manifest.yaml
  airbyte-integrations/connectors/source-partnerstack/source_partnerstack/manifest.yaml
  airbyte-integrations/connectors/source-posthog/source_posthog/manifest.yaml
  airbyte-integrations/connectors/source-prestashop/source_prestashop/manifest.yaml
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/manifest.yaml
  airbyte-integrations/connectors/source-senseforce/source_senseforce/manifest.yaml
  airbyte-integrations/connectors/source-square/source_square/manifest.yaml
  airbyte-integrations/connectors/source-tempo/source_tempo/manifest.yaml
  airbyte-integrations/connectors/source-the-guardian-api/source_the_guardian_api/manifest.yaml
  airbyte-integrations/connectors/source-waiteraid/source_waiteraid/manifest.yaml
  airbyte-integrations/connectors/source-woocommerce/source_woocommerce/manifest.yaml
  airbyte-integrations/connectors/source-zenloop/source_zenloop/components.py
  airbyte-integrations/connectors/source-zenloop/source_zenloop/manifest.yaml
Labels: area/connectors, CDK, connectors/source/tempo, connectors/source/delighted, connectors/source/close-com, connectors/source/greenhouse, connectors/source/posthog, connectors/source/prestashop, connectors/source/sendgrid, connectors/source/square, connectors/source/zenloop, connectors/source/woocommerce, connectors/source/datascope, connectors/source/braze, connectors/source/gocardless, connectors/source/waiteraid, connectors/source/coin-api, connectors/source/partnerstack, connectors/source/the-guardian-api, connectors/source/mailersend, connectors/source/callrail, connectors/source/nytimes, connectors/source/senseforce, connectors/source/gnews

#22370 Update connector-acceptance-tests-reference.md
  docs/connector-development/testing-connectors/connector-acceptance-tests-reference.md
Labels: area/documentation

#21891 Low Code CDK: only allow `name` and `primary_key` on `DeclarativeStream` components
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/models/declarative_component_schema.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/model_to_component_factory.py
  airbyte-cdk/python/unit_tests/sources/declarative/parsers/test_model_to_component_factory.py
  airbyte-integrations/connector-templates/source-configuration-based/source_{{snakeCase name}}/manifest.yaml.hbs
  airbyte-integrations/connectors/source-callrail/source_callrail/manifest.yaml
  airbyte-integrations/connectors/source-clickup-api/source_clickup_api/manifest.yaml
  airbyte-integrations/connectors/source-courier/source_courier/manifest.yaml
  airbyte-integrations/connectors/source-delighted/source_delighted/manifest.yaml
  airbyte-integrations/connectors/source-gocardless/source_gocardless/manifest.yaml
  airbyte-integrations/connectors/source-greenhouse/source_greenhouse/manifest.yaml
  airbyte-integrations/connectors/source-posthog/source_posthog/manifest.yaml
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/manifest.yaml
  airbyte-integrations/connectors/source-sentry/source_sentry/manifest.yaml
  airbyte-integrations/connectors/source-tempo/source_tempo/manifest.yaml
  airbyte-integrations/connectors/source-zenloop/source_zenloop/manifest.yaml
  docs/connector-development/config-based/understanding-the-yaml-file/request-options.md
  docs/connector-development/config-based/understanding-the-yaml-file/requester.md
  docs/connector-development/config-based/understanding-the-yaml-file/yaml-overview.md
Labels: area/documentation, area/connectors, CDK, connectors/source/sentry, connectors/source/tempo, connectors/source/delighted, connectors/source/greenhouse, connectors/source/posthog, connectors/source/sendgrid, connectors/source/zenloop, connectors/source/courier, connectors/source/clickup-api, connectors/source/gocardless, connectors/source/callrail

#22303 Source Sentry: turn on default availability strategy
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-sentry/Dockerfile
  airbyte-integrations/connectors/source-sentry/acceptance-test-config.yml
  airbyte-integrations/connectors/source-sentry/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-sentry/setup.py
  airbyte-integrations/connectors/source-sentry/source_sentry/streams.py
  airbyte-integrations/connectors/source-sentry/unit_tests/test_source.py
  docs/integrations/sources/sentry.md
Labels: area/documentation, area/connectors, connectors/source/sentry

#22053 🪟 🔧 Switch to `pnpm` for package managing
  .github/actions/cache-build-artifacts/action.yml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-webapp-e2e-tests/README.md
  airbyte-webapp/.eslintrc.js
  airbyte-webapp/.npmrc
  airbyte-webapp/README.md
  airbyte-webapp/build.gradle
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/packages/stylelint-plugin/index.js
  airbyte-webapp/packages/stylelint-plugin/no-color-variables-in-rgba.js
  airbyte-webapp/packages/stylelint-plugin/no-use-renaming.js
  airbyte-webapp/packages/vite-plugins/index.ts
  airbyte-webapp/packages/vite-plugins/patch-react-virtualized.ts
  airbyte-webapp/patches/react-virtualized@9.22.3.patch
  airbyte-webapp/pnpm-lock.yaml
  airbyte-webapp/src/components/connection/CatalogTree/next/__snapshots__/BulkEditPanel.test.tsx.snap
  airbyte-webapp/src/components/connection/CreateConnectionForm/__snapshots__/CreateConnectionForm.test.tsx.snap
  airbyte-webapp/src/components/connectorBuilder/types.ts
  airbyte-webapp/src/components/connectorBuilder/useManifestToBuilderForm.ts
  airbyte-webapp/src/components/ui/BarChart/BarChart.tsx
  airbyte-webapp/src/components/ui/Markdown/remarkAdmonitionsPlugin.ts
  airbyte-webapp/src/components/ui/NextTable/NextTable.tsx
  airbyte-webapp/src/components/ui/NextTable/types.ts
  airbyte-webapp/src/core/request/apiOverride.ts
  airbyte-webapp/src/packages/cloud/views/auth/components/GitBlock/__snapshots__/GitBlock.test.tsx.snap
  airbyte-webapp/src/pages/connections/ConnectionReplicationPage/__snapshots__/ConnectionReplicationPage.test.tsx.snap
  airbyte-webapp/src/types/react-table.d.ts
  airbyte-webapp/src/views/Connector/ConnectorForm/components/FrequentlyUsedConnectors/__snapshots__/FrequentlyUsedConnectorsCard.test.tsx.snap
  airbyte-webapp/vite.config.ts
  docs/contributing-to-airbyte/developing-locally.md
Labels: area/documentation, CDK, area/frontend

#22071 Source Klaviyo: fix schema
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-klaviyo/Dockerfile
  airbyte-integrations/connectors/source-klaviyo/acceptance-test-config.yml
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/schemas/events.json
  docs/integrations/sources/klaviyo.md
Labels: area/documentation, area/connectors, connectors/source/klaviyo

#21973 🪟🐛 Make modal scrollable
  airbyte-webapp/src/components/common/ConfirmationModal/ConfirmationModal.module.scss
  airbyte-webapp/src/components/connectorBuilder/Builder/InputsForm.module.scss
  airbyte-webapp/src/components/connectorBuilder/Builder/InputsForm.tsx
  airbyte-webapp/src/components/ui/Modal/Modal.module.scss
  airbyte-webapp/src/components/ui/Modal/Modal.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/components/CreateConnectorModal.tsx
  airbyte-webapp/src/views/Connector/RequestConnectorModal/RequestConnectorModal.module.scss
Labels: area/frontend, ui/connector-builder

#22301 Connector acceptance test: Fix discovered catalog caching for different configs
  airbyte-integrations/bases/connector-acceptance-test/CHANGELOG.md
  airbyte-integrations/bases/connector-acceptance-test/Dockerfile
  airbyte-integrations/bases/connector-acceptance-test/connector_acceptance_test/conftest.py
Labels: connectors/source/tiktok-marketing

#22351 🪟 🔧 [Connector Builder] Add telemetry for landing page events
  airbyte-webapp/src/core/analytics/types.ts
  airbyte-webapp/src/pages/connectorBuilder/ConnectorBuilderEditPage/ConnectorBuilderEditPage.tsx
  airbyte-webapp/src/pages/connectorBuilder/ConnectorBuilderLandingPage/ConnectorBuilderLandingPage.tsx
Labels: area/frontend

#22318 🪟 🧪 Add additional shorter setup guides
  airbyte-webapp/src/components/ui/Markdown/Markdown.module.scss
  airbyte-webapp/src/hooks/services/useDocumentation.ts
  docs/integrations/sources/google-analytics-v4.inapp.md
  docs/integrations/sources/google-search-console.inapp.md
  docs/integrations/sources/instagram.inapp.md
  docs/integrations/sources/notion.inapp.md
Labels: area/documentation, area/frontend

#22418 🪟 🔧 Fix pnpm cache path
  .github/actions/cache-build-artifacts/action.yml
Labels: type/bug

#22122 🪟 🎉 Connector Builder Landing Page
  airbyte-webapp-e2e-tests/cypress/integration/connectorBuilder.spec.ts
  airbyte-webapp-e2e-tests/cypress/pages/connectorBuilderPage.ts
  airbyte-webapp/public/images/airbyte/logo.svg
  airbyte-webapp/public/images/connector-builder/import-yaml.svg
  airbyte-webapp/public/images/connector-builder/load-existing-connector.svg
  airbyte-webapp/public/images/connector-builder/start-from-scratch.svg
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderSidebar.tsx
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/ConfigMenu.tsx
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/ConfigMenuErrorBoundary.tsx
  airbyte-webapp/src/components/connectorBuilder/types.ts
  airbyte-webapp/src/components/connectorBuilder/useManifestToBuilderForm.ts
  airbyte-webapp/src/core/analytics/types.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/connectorBuilder/ConnectorBuilderEditPage/ConnectorBuilderEditPage.module.scss
  airbyte-webapp/src/pages/connectorBuilder/ConnectorBuilderEditPage/ConnectorBuilderEditPage.tsx
  airbyte-webapp/src/pages/connectorBuilder/ConnectorBuilderEditPage/index.ts
  airbyte-webapp/src/pages/connectorBuilder/ConnectorBuilderLandingPage/ConnectorBuilderLandingPage.module.scss
  airbyte-webapp/src/pages/connectorBuilder/ConnectorBuilderLandingPage/ConnectorBuilderLandingPage.tsx
  airbyte-webapp/src/pages/connectorBuilder/ConnectorBuilderLandingPage/index.ts
  airbyte-webapp/src/pages/connectorBuilder/ConnectorBuilderRoutes.tsx
  airbyte-webapp/src/pages/routes.tsx
  airbyte-webapp/src/services/connectorBuilder/ConnectorBuilderLocalStorageService.tsx
  airbyte-webapp/src/services/connectorBuilder/ConnectorBuilderStateService.tsx
  docs/connector-development/config-based/assets/connector_builder_blank_form.png
  docs/connector-development/config-based/assets/connector_builder_landing_page.png
  docs/connector-development/config-based/assets/lowcode_landing_screen.png
  docs/connector-development/config-based/connector-builder-ui.md
Labels: area/documentation, area/frontend

#21875 Discover worker starts to use API to write schema result
  airbyte-commons-worker/src/main/java/io/airbyte/workers/config/ApiClientBeanFactory.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/general/DefaultDiscoverCatalogWorker.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/helper/CatalogClientConverters.java
  airbyte-commons-worker/src/test/java/io/airbyte/workers/helper/CatalogClientConvertersTest.java
  airbyte-integrations/bases/standard-source-test/build.gradle
  airbyte-integrations/bases/standard-source-test/src/main/java/io/airbyte/integrations/standardtest/source/AbstractSourceConnectorTest.java
  airbyte-workers/build.gradle
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/discover/catalog/DiscoverCatalogActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/general/DefaultDiscoverCatalogWorkerTest.java
Labels: area/worker, area/platform

#21902 🪟 🐛 Fixes BulkEditServiceProvider to use filtered streams instead of all streams
  airbyte-webapp/src/components/connection/CatalogTree/CatalogTree.tsx
  airbyte-webapp/src/components/connection/CatalogTree/CatalogTreeSearch.tsx
Labels: area/frontend

#22320 Add API source to tracking data
  airbyte-analytics/build.gradle
  airbyte-analytics/src/main/java/io/airbyte/analytics/SegmentTrackingClient.java
  airbyte-analytics/src/test/java/io/airbyte/analytics/SegmentTrackingClientTest.java
  airbyte-server/src/main/java/io/airbyte/server/CorsFilter.java
  deps.toml
Labels: area/platform, area/server

#22221 feat: Filter out system views out of system namespaces
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-bigquery/src/main/java/io/airbyte/integrations/source/bigquery/BigQuerySource.java
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/JdbcSource.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io.airbyte.integrations.source.mongodb/MongoDbSource.java
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresStressTest.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/AbstractDbSource.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/bigquery, connectors/source/postgres, connectors/source/mongodb-v2, connectors/source/jdbc, connectors/source/relational-db, connectors/source/postgres-strict-encrypt

#22244 Source TikTok Marketing: enabled high test strictness level in SAT
  airbyte-integrations/connectors/source-tiktok-marketing/acceptance-test-config.yml
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/expected_records2.jsonl
Labels: area/connectors, connectors/source/tiktok-marketing

#22425 Revert "feat: Filter out system views out of system namespaces"
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-bigquery/src/main/java/io/airbyte/integrations/source/bigquery/BigQuerySource.java
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/JdbcSource.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io.airbyte.integrations.source.mongodb/MongoDbSource.java
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresStressTest.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/AbstractDbSource.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/bigquery, connectors/source/postgres, connectors/source/mongodb-v2, connectors/source/jdbc, connectors/source/relational-db, connectors/source/postgres-strict-encrypt

#21634 fix-postgres-source: get rid of short lived objects
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-alloydb-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-alloydb/Dockerfile
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSourceOperations.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresType.java
  docs/integrations/sources/alloydb.md
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres, connectors/source/postgres-strict-encrypt, connectors/source/alloydb, connectors/source/alloydb-strict-encrypt

#22176 Icons passed to Button component must be wrapped in a div for proper styling
  airbyte-webapp/src/components/icons/RotateIcon.tsx
  airbyte-webapp/src/pages/connections/ConnectionStatusPage/ConnectionStatusPage.module.scss
  airbyte-webapp/src/pages/connections/ConnectionStatusPage/ConnectionStatusPage.tsx
Labels: team/platform-move, area/frontend

#22239 Revert "Revert "remove airbyte-commons-docker""
  .github/workflows/gradle.yml
  airbyte-commons-docker/build.gradle
  airbyte-commons-docker/readme.md
  airbyte-commons-docker/src/main/java/io/airbyte/commons/docker/DockerUtils.java
  airbyte-commons-docker/src/test/java/io/airbyte/commons/docker/DockerUtilsTest.java
  airbyte-commons-server/build.gradle
  airbyte-commons-server/src/main/java/io/airbyte/commons/server/handlers/DestinationDefinitionsHandler.java
  airbyte-commons-server/src/main/java/io/airbyte/commons/server/handlers/SchedulerHandler.java
  airbyte-commons-server/src/main/java/io/airbyte/commons/server/handlers/SourceDefinitionsHandler.java
  airbyte-commons-server/src/test/java/io/airbyte/commons/server/handlers/DestinationDefinitionsHandlerTest.java
  airbyte-commons-server/src/test/java/io/airbyte/commons/server/handlers/SchedulerHandlerTest.java
  airbyte-commons-server/src/test/java/io/airbyte/commons/server/handlers/SourceDefinitionsHandlerTest.java
  airbyte-commons-worker/build.gradle
  airbyte-commons-worker/src/test/java/io/airbyte/workers/normalization/DefaultNormalizationRunnerTest.java
  airbyte-commons-worker/src/test/java/io/airbyte/workers/process/KubePodProcessTest.java
  airbyte-commons/readme.md
  airbyte-config/config-persistence/build.gradle
  airbyte-config/init/build.gradle
  airbyte-config/init/src/main/java/io/airbyte/config/init/LocalDefinitionsProvider.java
  airbyte-config/specs/build.gradle
  airbyte-config/specs/src/main/java/io/airbyte/config/specs/CombinedConnectorCatalogGenerator.java
  airbyte-container-orchestrator/build.gradle
  airbyte-persistence/job-persistence/build.gradle
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/errorreporter/JobErrorReporter.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/factory/DefaultSyncJobFactory.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/factory/DefaultSyncJobFactoryTest.java
  airbyte-server/build.gradle
  airbyte-tests/build.gradle
  airbyte-workers/build.gradle
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/GenerateInputActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityTest.java
  settings.gradle
Labels: area/worker, area/platform, area/server

#22103 :tada: Source Bing Ads - added high test_strictness_level
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-bing-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-bing-ads/integration_tests/expected_records.txt
Labels: area/connectors, connectors/source/bing-ads

#22361 Source LinkedIn Ads: turn on default HttpAvailabilityStrategy
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-linkedin-ads/Dockerfile
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/source.py
  docs/integrations/sources/linkedin-ads.md
Labels: area/documentation, area/connectors, connectors/source/linkedin-ads

#22405 Source Mailchimp: revert extra logging
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mailchimp/Dockerfile
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/streams.py
  docs/integrations/sources/mailchimp.md
Labels: area/documentation, area/connectors, connectors/source/mailchimp

#22181 Add missing flags.yml download
  docs/deploying-airbyte/on-digitalocean-droplet.md
Labels: area/documentation, community

#22340 [Connector Builder] Set placeholder documentation_url for builder-generated spec
  airbyte-webapp/src/components/connectorBuilder/types.ts
Labels: area/frontend

#21775 Source Hubspot: enable SAT high strictness
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-hubspot/README.md
  airbyte-integrations/connectors/source-hubspot/acceptance-test-config.yml
  airbyte-integrations/connectors/source-hubspot/integration_tests/conftest.py
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-hubspot/setup.py
Labels: area/connectors, connectors/source/hubspot

#22241 Allow users to cancel a currently running sync on a disabled connection
  airbyte-webapp/src/pages/connections/ConnectionStatusPage/ConnectionStatusPage.module.scss
  airbyte-webapp/src/pages/connections/ConnectionStatusPage/ConnectionStatusPage.tsx
Labels: area/frontend

#22437 Docs: January 2023 release notes
  docs/cloud/core-concepts.md
  docs/release_notes/january_2023.md
  docusaurus/sidebars.js
Labels: area/documentation

#20616 :window: :bug: Add DbtCloudErrorBoundary
  airbyte-webapp/src/packages/cloud/locales/en.json
  airbyte-webapp/src/pages/connections/ConnectionTransformationPage/DbtCloudTransformationsCard.tsx
  airbyte-webapp/src/pages/connections/ConnectionTransformationPage/DbtCloudTransformationsCard/DbtCloudCard.scss
  airbyte-webapp/src/pages/connections/ConnectionTransformationPage/DbtCloudTransformationsCard/DbtCloudTransformationsCard.module.scss
  airbyte-webapp/src/pages/connections/ConnectionTransformationPage/DbtCloudTransformationsCard/DbtJobsForm.module.scss
  airbyte-webapp/src/pages/connections/ConnectionTransformationPage/DbtCloudTransformationsCard/DbtJobsForm.tsx
  airbyte-webapp/src/pages/connections/ConnectionTransformationPage/DbtCloudTransformationsCard/JobsList.module.scss
  airbyte-webapp/src/pages/connections/ConnectionTransformationPage/DbtCloudTransformationsCard/JobsList.tsx
  airbyte-webapp/src/pages/connections/ConnectionTransformationPage/DbtCloudTransformationsCard/JobsListItem.module.scss
  airbyte-webapp/src/pages/connections/ConnectionTransformationPage/DbtCloudTransformationsCard/JobsListItem.tsx
  airbyte-webapp/src/pages/connections/ConnectionTransformationPage/DbtCloudTransformationsCard/NoDbtIntegration.module.scss
  airbyte-webapp/src/pages/connections/ConnectionTransformationPage/DbtCloudTransformationsCard/NoDbtIntegration.tsx
  airbyte-webapp/src/pages/connections/ConnectionTransformationPage/DbtCloudTransformationsCard/dbt-bit_tm.svg
  airbyte-webapp/src/pages/connections/ConnectionTransformationPage/DbtCloudTransformationsCard/octavia-worker.png
Labels: area/frontend

#22462 fix eslint issues for webapp
  airbyte-webapp/src/components/EntityTable/ConnectionTable.tsx
  airbyte-webapp/src/components/EntityTable/components/ConnectionStatusCell.tsx
  airbyte-webapp/src/components/common/ConfirmationModal/ConfirmationModal.tsx
  airbyte-webapp/src/components/connection/CatalogTree/next/CatalogTreeTableRow.tsx
  airbyte-webapp/src/components/connection/CatalogTree/next/StreamDetailsPanel/StreamFieldsTable/CursorCell/CursorCell.tsx
  airbyte-webapp/src/components/connection/CatalogTree/next/StreamDetailsPanel/StreamFieldsTable/StreamFieldsTable.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/InputsForm.tsx
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/StreamSelector.tsx
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/StreamTestButton.tsx
  airbyte-webapp/src/components/connectorBuilder/YamlEditor/YamlEditor.tsx
  airbyte-webapp/src/core/request/apiOverride.ts
  airbyte-webapp/src/hooks/services/ConnectionEdit/ConnectionEditService.test.tsx
  airbyte-webapp/src/hooks/services/useConnectionHook.tsx
  airbyte-webapp/src/hooks/services/useConnectorAuth.tsx
  airbyte-webapp/src/hooks/services/useDestinationHook.tsx
  airbyte-webapp/src/hooks/services/useSourceHook.tsx
  airbyte-webapp/src/packages/cloud/cloudRoutes.tsx
  airbyte-webapp/src/packages/cloud/views/auth/components/GitBlock/GitBlock.test.tsx
  airbyte-webapp/src/pages/connections/ConnectionPage/ConnectionPageTitle.tsx
  airbyte-webapp/src/pages/destination/DestinationSettingsPage/DestinationSettingsPage.tsx
  airbyte-webapp/src/pages/routes.tsx
  airbyte-webapp/src/views/Connector/ConnectorCard/ConnectorCard.tsx
  airbyte-webapp/src/views/Connector/ConnectorCard/components/TestCard.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/ConnectorForm.test.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/Controls/ConnectorServiceTypeControl/ConnectorDefinitionTypeControl.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/Sections/auth/AuthSection.tsx
Labels: area/frontend

#22375 🪟 🔧 Connector Builder frontend fixes for low_code_cdk_to_beta
  airbyte-connector-builder-server/setup.py
  airbyte-webapp/src/components/connectorBuilder/types.ts
  airbyte-webapp/src/components/connectorBuilder/useManifestToBuilderForm.test.ts
  airbyte-webapp/src/components/connectorBuilder/useManifestToBuilderForm.ts
Labels: area/frontend

#22334 Source google search console: turn on default HttpAvailabilityStrategy
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-search-console/Dockerfile
  airbyte-integrations/connectors/source-google-search-console/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/streams.py
  docs/integrations/sources/google-search-console.md
Labels: area/documentation, area/connectors, connectors/source/google-search-console

#21822 Add routing logic for check and discover workflow
  airbyte-commons-server/src/main/java/io/airbyte/commons/server/scheduler/DefaultSynchronousSchedulerClient.java
  airbyte-commons-server/src/test/java/io/airbyte/commons/server/scheduler/DefaultSynchronousSchedulerClientTest.java
  airbyte-commons-temporal/src/main/java/io/airbyte/commons/temporal/TemporalClient.java
  airbyte-commons-temporal/src/main/java/io/airbyte/commons/temporal/TemporalWorkflowUtils.java
  airbyte-commons-temporal/src/main/java/io/airbyte/commons/temporal/scheduling/DefaultTaskQueueMapper.java
  airbyte-commons-temporal/src/main/java/io/airbyte/commons/temporal/scheduling/RouterService.java
  airbyte-commons-temporal/src/main/java/io/airbyte/commons/temporal/scheduling/TaskQueueMapper.java
  airbyte-commons-temporal/src/test/java/io/airbyte/commons/temporal/TemporalClientTest.java
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/ConfigRepositoryE2EReadWriteTest.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/main/java/io/airbyte/server/config/TemporalBeanFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/ApplicationInitializer.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/DefaultTaskQueueMapper.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/RouteToSyncTaskQueueActivityImpl.java
  airbyte-workers/src/main/resources/application.yml
  airbyte-workers/src/test/java/io/airbyte/commons/temporal/scheduling/DefaultTaskQueueMapperTest.java
  airbyte-workers/src/test/java/io/airbyte/commons/temporal/scheduling/RouterServiceTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/DefaultTaskQueueMapperTest.java
Labels: area/worker, area/platform, area/server

#22191 Fixes for state storage env vars
  airbyte-config/config-models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-server/src/main/resources/application.yml
  airbyte-workers/src/main/resources/application.yml
Labels: area/worker, area/platform, community, area/server

#22333 Fixed: Header for Destination S3: Wrong header on Step 2 #22331
  docs/integrations/destinations/s3.md
Labels: area/documentation, community

#22310 🪟 🐛 Fixes getAvailableSyncModesOptions function to return intersection of sync mode options
  airbyte-webapp/src/components/connection/CatalogTree/next/BulkEditPanel.test.tsx
  airbyte-webapp/src/components/connection/CatalogTree/next/BulkEditPanel.tsx
Labels: area/frontend

#22409 🪟 🔧 Improve Output when overwriting experiments
  airbyte-webapp/package.json
  airbyte-webapp/pnpm-lock.yaml
  airbyte-webapp/scripts/dev-overwrites.js
  airbyte-webapp/vite.config.ts
Labels: area/frontend

#22428 pass launchdarkly api environment variable to orchestrator
  airbyte-commons-temporal/src/main/java/io/airbyte/commons/temporal/sync/OrchestratorConstants.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/process/AirbyteIntegrationLauncher.java
  airbyte-commons-worker/src/test/java/io/airbyte/workers/process/AirbyteIntegrationLauncherTest.java
  airbyte-config/config-models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/config-models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-workers/src/main/java/io/airbyte/workers/config/ContainerOrchestratorConfigBeanFactory.java
Labels: area/worker, area/platform

#22404 Source Faker: updated expected records for stream purchases
  airbyte-integrations/connectors/source-faker/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/faker

#22415 Update pod-sweeper to allow multi-ns deploy
  charts/airbyte-pod-sweeper/templates/configmap.yaml
  charts/airbyte-pod-sweeper/templates/deployment.yaml
  charts/airbyte-pod-sweeper/values.yaml
Labels: area/platform, kubernetes

#22472 Docs: add flags.yml to all deploys and ugrade docs
  docs/deploying-airbyte/on-aws-ec2.md
  docs/deploying-airbyte/on-azure-vm-cloud-shell.md
  docs/deploying-airbyte/on-oci-vm.md
  docs/operator-guides/upgrading-airbyte.md
Labels: area/documentation

#22145 Source Freshdesk: add availability strategy
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-freshdesk/Dockerfile
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/availability_strategy.py
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/source.py
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/streams.py
  airbyte-integrations/connectors/source-freshdesk/unit_tests/test_source.py
  airbyte-integrations/connectors/source-freshdesk/unit_tests/test_streams.py
  docs/integrations/sources/freshdesk.md
Labels: area/documentation, area/connectors, connectors/source/freshdesk

#22477 Source Recharge: fixed expected records for shop and addresses streams
  airbyte-integrations/connectors/source-recharge/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/recharge

#22407 Use shallow clone in the getting started example
  README.md
Labels: community

#22394 Changed docs to differentiate between docker compose standalone and plugin
  docs/deploying-airbyte/local-deployment.md
Labels: area/documentation, community

#22396 🪟🐛 Connector form: Fix squeezed status icon
  airbyte-webapp/src/components/ui/StatusIcon/StatusIcon.tsx
Labels: team/extensibility, area/frontend

#22391 🪟🔧 Connector builder: Do not rely on local cdk anymore
  airbyte-webapp/package.json
  airbyte-webapp/scripts/load-declarative-schema.sh
  airbyte-webapp/src/services/connectorBuilder/connector_manifest_openapi.yaml
  docs/contributing-to-airbyte/developing-locally.md
Labels: area/documentation, area/frontend

#22324 🪟🐛 ConnectorsView: Remove "upgrade all" button from cloud
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/components/ConnectorsView.tsx
Labels: team/extensibility, area/frontend

#22374 Fix naming of functions for pod sweeper
  charts/airbyte-pod-sweeper/templates/configmap.yaml
  kube/resources/pod-sweeper.yaml
Labels: area/platform, kubernetes

#22419 Source SmartSheets: enable OAuth2
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-smartsheets/Dockerfile
  airbyte-integrations/connectors/source-smartsheets/source_smartsheets/spec.json
  docs/integrations/sources/smartsheets.md
Labels: area/documentation, area/connectors, connectors/source/smartsheets

#21951 Add SubscriptionUsage stream to Orb Source
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-orb/Dockerfile
  airbyte-integrations/connectors/source-orb/acceptance-test-config.yml
  airbyte-integrations/connectors/source-orb/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-orb/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-orb/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-orb/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-orb/source_orb/schemas/subscription_usage.json
  airbyte-integrations/connectors/source-orb/source_orb/schemas/subscriptions.json
  airbyte-integrations/connectors/source-orb/source_orb/source.py
  airbyte-integrations/connectors/source-orb/source_orb/spec.json
  airbyte-integrations/connectors/source-orb/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-orb/unit_tests/test_source.py
  airbyte-integrations/connectors/source-orb/unit_tests/test_streams.py
  docs/integrations/sources/orb.md
Labels: area/documentation, area/connectors, connectors/source/orb

#22507 🪟 🔧 Increase jest timeouts
  airbyte-webapp/src/components/connection/CreateConnectionForm/CreateConnectionForm.test.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/ConnectorForm.test.tsx
Labels: area/frontend

#22422 Sync cdk manifest between webapp and connector builder server
  .github/workflows/gradle.yml
  airbyte-connector-builder-server/CDK_VERSION
  airbyte-connector-builder-server/setup.py
  airbyte-webapp/scripts/load-declarative-schema.sh
Labels: area/frontend, ui/connector-builder, area/connector-builder

#21870 🪟 🧹 Credits page component cleanup
  airbyte-webapp/src/packages/cloud/lib/domain/cloudWorkspaces/types.ts
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/components/ConnectionCell.module.scss
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/components/ConnectionCell.tsx
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/components/CreditsUsage.module.scss
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/components/CreditsUsage.tsx
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/components/UsagePerConnectionTable.module.scss
Labels: area/frontend

#22495 Destination-redshift: fixed integration tests - added tmp tables removal
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/RedshiftInsertDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/RedshiftS3StagingInsertDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/RedshiftStagingS3DestinationAcceptanceTest.java
Labels: area/connectors, connectors/destination/redshift

#22471 Bmoric/right error for refresh
  airbyte-api/src/main/openapi/config.yaml
  airbyte-config/config-models/src/main/resources/types/FailureReason.yaml
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/SyncCheckConnectionFailure.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/SyncOutputProvider.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/SyncWorkflowImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/sync/SyncWorkflowTest.java
Labels: area/api, area/worker, area/platform

#22523 pass feature flag client env variable to orchestrator
  airbyte-commons-worker/src/main/java/io/airbyte/workers/process/AirbyteIntegrationLauncher.java
  airbyte-commons-worker/src/test/java/io/airbyte/workers/process/AirbyteIntegrationLauncherTest.java
  airbyte-config/config-models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/config-models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-workers/src/main/java/io/airbyte/workers/config/ContainerOrchestratorConfigBeanFactory.java
Labels: area/worker, area/platform

#22183 Set sync_mode as incremental instead of full refresh in catalog speci…
  docs/connector-development/tutorials/adding-incremental-sync.md
Labels: area/documentation

#22281 Revert "Revert "fix: refresh actor configuration and state between sync attempts""
  airbyte-api/src/main/openapi/config.yaml
  airbyte-bootloader/src/test/java/io/airbyte/bootloader/BootloaderTest.java
  airbyte-commons-server/src/main/java/io/airbyte/commons/server/converters/ApiPojoConverters.java
  airbyte-commons-server/src/main/java/io/airbyte/commons/server/handlers/AttemptHandler.java
  airbyte-commons-server/src/test/java/io/airbyte/commons/server/handlers/AttemptHandlerTest.java
  airbyte-commons-server/src/test/java/io/airbyte/commons/server/handlers/JobHistoryHandlerTest.java
  airbyte-commons-temporal/src/main/java/io/airbyte/commons/temporal/TemporalClient.java
  airbyte-commons-temporal/src/test/java/io/airbyte/commons/temporal/TemporalClientTest.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/config/ApiClientBeanFactory.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/helper/ProtocolConverters.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/helper/StateConverter.java
  airbyte-config/config-models/src/main/resources/types/AttemptSyncConfig.yaml
  airbyte-config/config-models/src/main/resources/types/JobResetConnectionConfig.yaml
  airbyte-config/config-models/src/main/resources/types/JobSyncConfig.yaml
  airbyte-db/db-lib/src/main/java/io/airbyte/db/instance/jobs/migrations/V0_40_28_001__AddAttemptSyncConfig.java
  airbyte-db/db-lib/src/main/resources/jobs_database/Attempts.yaml
  airbyte-db/db-lib/src/main/resources/jobs_database/schema_dump.txt
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/DefaultJobCreator.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/DefaultJobPersistence.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/JobPersistence.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/models/Attempt.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/models/Job.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/tracker/JobTracker.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/DefaultJobCreatorTest.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/DefaultJobPersistenceTest.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/models/AttemptTest.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/models/JobTest.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/tracker/JobTrackerTest.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/tracker/TrackingMetadataTest.java
  airbyte-server/src/main/java/io/airbyte/server/apis/AttemptApiController.java
  airbyte-workers/build.gradle
  airbyte-workers/src/main/java/io/airbyte/workers/config/ApplicationBeanFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/run/TemporalWorkerRunFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/GenerateInputActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/run/TemporalWorkerRunFactoryTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/GenerateInputActivityTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityTest.java
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api, area/worker, area/platform, area/server

#22531 remove tryNotification from WorkspaceHandler
  airbyte-commons-server/build.gradle
  airbyte-commons-server/src/main/java/io/airbyte/commons/server/handlers/WorkspacesHandler.java
  airbyte-server/src/main/java/io/airbyte/server/apis/NotificationsApiController.java
Labels: area/platform, area/server

#22514 Add normalization strict incremental feature flag
  airbyte-commons-temporal/src/main/java/io/airbyte/commons/temporal/sync/OrchestratorConstants.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/process/AirbyteIntegrationLauncher.java
  airbyte-commons-worker/src/test/java/io/airbyte/workers/process/AirbyteIntegrationLauncherTest.java
  airbyte-commons/src/main/java/io/airbyte/commons/features/EnvVariableFeatureFlags.java
  airbyte-commons/src/main/java/io/airbyte/commons/features/FeatureFlagHelper.java
  airbyte-commons/src/main/java/io/airbyte/commons/features/FeatureFlags.java
  airbyte-commons/src/test/java/io/airbyte/commons/features/FeatureFlagHelperTest.java
  airbyte-config/config-models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/config-models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-config/config-models/src/main/resources/types/NormalizationInput.yaml
  airbyte-workers/src/main/java/io/airbyte/workers/config/ContainerOrchestratorConfigBeanFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/NormalizationActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/sync/NormalizationActivityImplTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/sync/SyncWorkflowTest.java
  charts/airbyte-worker/templates/deployment.yaml
  docker-compose.yaml
  kube/resources/worker.yaml
Labels: area/worker, area/platform, kubernetes

#22528 Tentatively disallowed normalization for DuckDB
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-integrations/bases/base-normalization/integration_tests/dbt_integration_test.py
  docs/integrations/destinations/duckdb.md
  docs/understanding-airbyte/basic-normalization.md
Labels: area/documentation, normalization

#22494 Source Woocommerce: updated expected records for stream payment_gateways
  airbyte-integrations/connectors/source-woocommerce/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/woocommerce

#22481 Source Salesforce: updated expected records for stream AppDefinition
  airbyte-integrations/connectors/source-salesforce/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/salesforce

#22406 Source Harvest: updated expected records for stream time_team
  airbyte-integrations/connectors/source-harvest/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/harvest

#22480 🪟 🎉 Show notification if Airbyte got updated
  airbyte-webapp/.gitignore
  airbyte-webapp/packages/vite-plugins/build-info.ts
  airbyte-webapp/packages/vite-plugins/index.ts
  airbyte-webapp/src/components/ui/Toast/Toast.module.scss
  airbyte-webapp/src/components/ui/Toast/Toast.tsx
  airbyte-webapp/src/hooks/services/Notification/NotificationService.tsx
  airbyte-webapp/src/hooks/services/Notification/types.ts
  airbyte-webapp/src/hooks/services/useBuildUpdateCheck.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/packages/cloud/cloudRoutes.tsx
  airbyte-webapp/src/pages/routes.tsx
  airbyte-webapp/vite.config.ts
Labels: area/frontend

#21844 JDBC Sources: validate actual source schema
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/AbstractDbSource.java
Labels: area/connectors, connectors/source/postgres, connectors/source/relational-db

#22207 🪟 🧪 Add Purchase credits CTA on trial expiry banner.
  airbyte-webapp/src/packages/cloud/locales/en.json
  airbyte-webapp/src/packages/cloud/views/layout/MainView/MainView.tsx
Labels: area/frontend, team/growth

#22554 🪟 🧹 Remove experimentation flags for OAuth
  airbyte-webapp/src/hooks/services/Experiment/experiments.ts
  airbyte-webapp/src/packages/cloud/views/auth/OAuthLogin/OAuthLogin.test.tsx
  airbyte-webapp/src/packages/cloud/views/auth/OAuthLogin/OAuthLogin.tsx
  airbyte-webapp/src/packages/cloud/views/auth/SignupPage/SignupPage.tsx
Labels: area/frontend

#22304 🪟 🎨🔧 Remove oauth position ff
  airbyte-webapp/src/hooks/services/Experiment/experiments.ts
  airbyte-webapp/src/packages/cloud/views/auth/LoginPage/LoginPage.tsx
  airbyte-webapp/src/packages/cloud/views/auth/SignupPage/SignupPage.module.scss
  airbyte-webapp/src/packages/cloud/views/auth/SignupPage/SignupPage.tsx
Labels: area/frontend, team/growth

#22399 Source Instagram: removed floating fields from expected records
  airbyte-integrations/connectors/source-instagram/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/instagram

#22403 Source Close-com: updated expected records
  airbyte-integrations/connectors/source-close-com/acceptance-test-config.yml
  airbyte-integrations/connectors/source-close-com/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/close-com

#22075 Source GitLab: updated expected records
  airbyte-integrations/connectors/source-gitlab/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-gitlab/integration_tests/expected_records_with_ids.jsonl
Labels: area/connectors, connectors/source/gitlab

#22486 Source Typeform: updated expected records for stream themes and forms
  airbyte-integrations/connectors/source-typeform/acceptance-test-config.yml
  airbyte-integrations/connectors/source-typeform/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/typeform

#22322 Source Salesforce: drop ActivityMetricRollup stream
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-salesforce/Dockerfile
  airbyte-integrations/connectors/source-salesforce/source_salesforce/api.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/discovery_test.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors, connectors/source/salesforce

#22558 Correct typo in changelog "soruce" -> "source"
  docs/integrations/sources/faker.md
Labels: area/documentation

#22520 Connector builder server: Adjust readme
  airbyte-connector-builder-server/README.md
Labels: area/connector-builder

#22220 destination-s3-glue: Add TableType and fix race condition
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-s3-glue/Dockerfile
  airbyte-integrations/connectors/destination-s3-glue/src/main/java/io/airbyte/integrations/destination/s3_glue/GlueOperations.java
  airbyte-integrations/connectors/destination-s3-glue/src/main/java/io/airbyte/integrations/destination/s3_glue/S3GlueConsumerFactory.java
  airbyte-integrations/connectors/destination-s3-glue/src/main/java/io/airbyte/integrations/destination/s3_glue/S3GlueDestination.java
  docs/integrations/destinations/s3-glue.md
Labels: area/documentation, area/connectors, community, bounty, connectors/destination/s3-glue

#22473 Source Recharge: use default availability strategy
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-integrations/connectors/source-recharge/Dockerfile
  airbyte-integrations/connectors/source-recharge/source_recharge/api.py
  docs/integrations/sources/recharge.md
Labels: area/documentation, area/connectors, connectors/source/recharge

#22412 🪟 🚦 Add base E2E test for new stream table (part 1)
  airbyte-webapp-e2e-tests/cypress/commands/api/types.ts
  airbyte-webapp-e2e-tests/cypress/commands/common.ts
  airbyte-webapp-e2e-tests/cypress/commands/interceptors.ts
  airbyte-webapp-e2e-tests/cypress/integration/connection/streamTable.spec.ts
  airbyte-webapp-e2e-tests/cypress/pages/connnectionsListPage.ts
  airbyte-webapp-e2e-tests/cypress/pages/newConnectionPage.ts
  airbyte-webapp/src/components/connection/ConnectionOnboarding/ConnectionOnboarding.tsx
  airbyte-webapp/src/components/ui/PageHeader/PageHeader.tsx
  airbyte-webapp/src/pages/connections/AllConnectionsPage/AllConnectionsPage.tsx
  airbyte-webapp/src/pages/connections/CreateConnectionPage/ExistingEntityForm.tsx
Labels: area/frontend

#22400 CDK: improve `day_delta` macro and MinMaxDatetime component
  airbyte-cdk/python/airbyte_cdk/sources/declarative/datetime/min_max_datetime.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/interpolation/macros.py
  airbyte-cdk/python/unit_tests/sources/declarative/datetime/test_min_max_datetime.py
Labels: CDK

#22598 [ISSUE 19961] rename CustomStreamSlicer
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/models/declarative_component_schema.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/manifest_component_transformer.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/model_to_component_factory.py
  airbyte-cdk/python/unit_tests/sources/declarative/parsers/test_model_to_component_factory.py
  airbyte-integrations/connectors/source-posthog/source_posthog/manifest.yaml
  airbyte-integrations/connectors/source-square/source_square/components.py
  airbyte-integrations/connectors/source-square/source_square/manifest.yaml
Labels: area/connectors, CDK, connectors/source/posthog, connectors/source/square

#22565 🪟 🎨 Fix Configuration settings page layout
  airbyte-webapp/src/pages/SettingsPage/pages/ConfigurationsPage/ConfigurationsPage.tsx
Labels: area/frontend

#22591 [ISSUE #19961] rename SingleSlice to SinglePartitionRouter
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/models/declarative_component_schema.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/class_types_registry.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/default_implementation_registry.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/manifest_component_transformer.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/model_to_component_factory.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/partition_routers/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/partition_routers/single_partition_router.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/retrievers/simple_retriever.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/stream_slicers/__init__.py
  airbyte-cdk/python/unit_tests/sources/declarative/iterators/__init__.py
  airbyte-cdk/python/unit_tests/sources/declarative/parsers/test_manifest_component_transformer.py
  airbyte-cdk/python/unit_tests/sources/declarative/parsers/test_model_to_component_factory.py
  airbyte-cdk/python/unit_tests/sources/declarative/partition_routers/__init__.py
  airbyte-cdk/python/unit_tests/sources/declarative/partition_routers/test_single_partition_router.py
  airbyte-integrations/connectors/source-zenloop/source_zenloop/manifest.yaml
Labels: area/connectors, CDK, connectors/source/zenloop

#22289 :window: :bug: Poll backend for Free Connector Program enrollment success
  airbyte-webapp/src/core/request/pollUntil.test.ts
  airbyte-webapp/src/core/request/pollUntil.ts
  airbyte-webapp/src/packages/cloud/components/experiments/FreeConnectorProgram/hooks/useFreeConnectorProgram.ts
  airbyte-webapp/src/packages/cloud/locales/en.json
Labels: area/frontend

#22612 Revert "Add normalization strict incremental feature flag"
  airbyte-commons-temporal/src/main/java/io/airbyte/commons/temporal/sync/OrchestratorConstants.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/process/AirbyteIntegrationLauncher.java
  airbyte-commons-worker/src/test/java/io/airbyte/workers/process/AirbyteIntegrationLauncherTest.java
  airbyte-commons/src/main/java/io/airbyte/commons/features/EnvVariableFeatureFlags.java
  airbyte-commons/src/main/java/io/airbyte/commons/features/FeatureFlagHelper.java
  airbyte-commons/src/main/java/io/airbyte/commons/features/FeatureFlags.java
  airbyte-commons/src/test/java/io/airbyte/commons/features/FeatureFlagHelperTest.java
  airbyte-config/config-models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/config-models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-config/config-models/src/main/resources/types/NormalizationInput.yaml
  airbyte-workers/src/main/java/io/airbyte/workers/config/ContainerOrchestratorConfigBeanFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/NormalizationActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/sync/NormalizationActivityImplTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/sync/SyncWorkflowTest.java
  charts/airbyte-worker/templates/deployment.yaml
  docker-compose.yaml
  kube/resources/worker.yaml
Labels: area/worker, area/platform, kubernetes

#22619 Revert "Revert "Add normalization strict incremental feature flag""
  airbyte-commons-temporal/src/main/java/io/airbyte/commons/temporal/sync/OrchestratorConstants.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/process/AirbyteIntegrationLauncher.java
  airbyte-commons-worker/src/test/java/io/airbyte/workers/process/AirbyteIntegrationLauncherTest.java
  airbyte-commons/src/main/java/io/airbyte/commons/features/EnvVariableFeatureFlags.java
  airbyte-commons/src/main/java/io/airbyte/commons/features/FeatureFlagHelper.java
  airbyte-commons/src/main/java/io/airbyte/commons/features/FeatureFlags.java
  airbyte-commons/src/test/java/io/airbyte/commons/features/FeatureFlagHelperTest.java
  airbyte-config/config-models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/config-models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-config/config-models/src/main/resources/types/NormalizationInput.yaml
  airbyte-workers/src/main/java/io/airbyte/workers/config/ContainerOrchestratorConfigBeanFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/NormalizationActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/sync/NormalizationActivityImplTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/sync/SyncWorkflowTest.java
  charts/airbyte-worker/templates/deployment.yaml
  docker-compose.yaml
  kube/resources/worker.yaml
Labels: area/worker, area/platform, kubernetes

#22402 🪟 🧪 [Experiment] Simplify signup left side
  airbyte-webapp/src/hooks/services/Experiment/experiments.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/packages/cloud/locales/en.json
  airbyte-webapp/src/packages/cloud/views/auth/SignupPage/SignupPage.tsx
  airbyte-webapp/src/packages/cloud/views/auth/SignupPage/components/SignupForm.module.scss
  airbyte-webapp/src/packages/cloud/views/auth/SignupPage/components/SignupForm.tsx
  airbyte-webapp/src/packages/cloud/views/auth/SignupPage/components/SimpleLeftSide/SimpleLeftSide.module.scss
  airbyte-webapp/src/packages/cloud/views/auth/SignupPage/components/SimpleLeftSide/SimpleLeftSide.tsx
Labels: area/frontend, team/growth

#22479 Source Hubspot: turn on default HttpAvailabilityStrategy
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-hubspot/source_hubspot/source.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/conftest.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_source.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot

#22634 🐛📚 Octavia-cli docs: Fix incorrect env vars for airbyte-username and airbyte-password
  octavia-cli/README.md
Labels: community

#22597 Source Salesforce: handle too many properties
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-salesforce/Dockerfile
  airbyte-integrations/connectors/source-salesforce/source_salesforce/source.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/streams.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/api_test.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/conftest.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors, connectors/source/salesforce

#22637 Source Amplitude: removed empty stream from testing
  airbyte-integrations/connectors/source-amplitude/integration_tests/streams_with_output_records_catalog.json
Labels: area/connectors, connectors/source/amplitude

#22646 🪟 🔧 Add TS CSS modules plugin
  airbyte-webapp/package.json
  airbyte-webapp/pnpm-lock.yaml
  airbyte-webapp/tsconfig.json
Labels: area/frontend

#22291 Add emitted_at SAT test (22240)
  airbyte-integrations/bases/connector-acceptance-test/CHANGELOG.md
  airbyte-integrations/bases/connector-acceptance-test/Dockerfile
  airbyte-integrations/bases/connector-acceptance-test/connector_acceptance_test/tests/test_full_refresh.py
  airbyte-integrations/bases/connector-acceptance-test/unit_tests/test_test_full_refresh.py
Labels: Acceptance Tests, team/connector-ops

#22550 Source S3: validate CSV read options and convert options
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/formats/csv_parser.py
  airbyte-integrations/connectors/source-s3/unit_tests/test_source.py
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3

#22497 Destination-BigQuery: fixed table already exists error
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryGcsOperations.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryUtils.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDestinationTest.java
  docs/integrations/destinations/bigquery-denormalized.md
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, connectors/destination/bigquery-denormalized

#22635 fix: inject oauth params when generating sync input
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/GenerateInputActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/GenerateInputActivityTest.java
Labels: area/worker, area/platform

#22395 Connector acceptance test: Fix oneof check
  airbyte-integrations/bases/connector-acceptance-test/CHANGELOG.md
  airbyte-integrations/bases/connector-acceptance-test/Dockerfile
  airbyte-integrations/bases/connector-acceptance-test/connector_acceptance_test/tests/test_core.py
  airbyte-integrations/bases/connector-acceptance-test/connector_acceptance_test/utils/json_schema_helper.py
  airbyte-integrations/bases/connector-acceptance-test/unit_tests/test_spec.py
Labels: team/extensibility

#22500 Source S3: speed up discovery
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/stream.py
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3

#22596 [ISSUE #19961] rename SubstreamSlicer to SubstreamPartitionRouter
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/models/declarative_component_schema.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/class_types_registry.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/manifest_component_transformer.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/model_to_component_factory.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/partition_routers/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/partition_routers/substream_partition_router.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/stream_slicers/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/stream_slicers/datetime_stream_slicer.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/availability_strategy.py
  airbyte-cdk/python/unit_tests/sources/declarative/parsers/test_manifest_component_transformer.py
  airbyte-cdk/python/unit_tests/sources/declarative/parsers/test_model_to_component_factory.py
  airbyte-cdk/python/unit_tests/sources/declarative/parsers/testing_components.py
  airbyte-cdk/python/unit_tests/sources/declarative/partition_routers/__init__.py
  airbyte-cdk/python/unit_tests/sources/declarative/partition_routers/test_substream_partition_router.py
  airbyte-integrations/connectors/source-braze/source_braze/manifest.yaml
  airbyte-integrations/connectors/source-configcat/source_configcat/manifest.yaml
  airbyte-integrations/connectors/source-courier/source_courier/manifest.yaml
  airbyte-integrations/connectors/source-getlago/source_getlago/manifest.yaml
  airbyte-integrations/connectors/source-greenhouse/source_greenhouse/manifest.yaml
  airbyte-integrations/connectors/source-instatus/source_instatus/components.py
  airbyte-integrations/connectors/source-instatus/source_instatus/manifest.yaml
  airbyte-integrations/connectors/source-instatus/unit_tests/test_components.py
  airbyte-integrations/connectors/source-intruder/source_intruder/manifest.yaml
  airbyte-integrations/connectors/source-k6-cloud/source_k6_cloud/manifest.yaml
  airbyte-integrations/connectors/source-launchdarkly/source_launchdarkly/manifest.yaml
  airbyte-integrations/connectors/source-posthog/source_posthog/manifest.yaml
  airbyte-integrations/connectors/source-sendinblue/source_sendinblue/manifest.yaml
  airbyte-integrations/connectors/source-smartengage/source_smartengage/manifest.yaml
  airbyte-integrations/connectors/source-statuspage/source_statuspage/manifest.yaml
  airbyte-integrations/connectors/source-twilio-taskrouter/source_twilio_taskrouter/manifest.yaml
  airbyte-integrations/connectors/source-tyntec-sms/source_tyntec_sms/manifest.yaml
  airbyte-integrations/connectors/source-woocommerce/source_woocommerce/manifest.yaml
  airbyte-integrations/connectors/source-zenloop/source_zenloop/components.py
  airbyte-integrations/connectors/source-zenloop/source_zenloop/manifest.yaml
  airbyte-integrations/connectors/source-zoom/source_zoom/manifest.yaml
Labels: area/connectors, CDK, connectors/source/greenhouse, connectors/source/posthog, connectors/source/zenloop, connectors/source/woocommerce, connectors/source/courier, connectors/source/braze, connectors/source/instatus, connectors/source/zoom, connectors/source/k6-cloud, connectors/source/configcat, connectors/source/launchdarkly, connectors/source/statuspage, connectors/source/intruder, connectors/source/twilio-taskrouter, connectors/source/smartengage, connectors/source/getlago, connectors/source/sendinblue, connectors/source/tyntec-sms

#22427 feat: Filter out system views out of system namespaces
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-alloydb-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-alloydb/Dockerfile
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresStressTest.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/AbstractDbSource.java
  docs/integrations/sources/alloydb.md
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/bigquery, connectors/source/postgres, connectors/source/mongodb-v2, connectors/source/jdbc, connectors/source/relational-db, connectors/source/postgres-strict-encrypt, connectors/source/alloydb, connectors/source/alloydb-strict-encrypt

#22114 Helm: set new attribute
  charts/airbyte/templates/env-configmap.yaml
  charts/airbyte/values.yaml
  charts/airbyte/values.yaml.test
Labels: area/platform, kubernetes, community

#22666 Helm: update README.md
  charts/airbyte/README.md
Labels: area/platform, kubernetes, community

#22618 Update hubspot source documentation with correct scopes
  docs/integrations/sources/hubspot.md
Labels: area/documentation, community

#22593 [ISSUE #19961] rename ListStreamSlicer to ListPartitionRouter
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/models/declarative_component_schema.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/class_types_registry.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/manifest_component_transformer.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/model_to_component_factory.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/partition_routers/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/partition_routers/list_partition_router.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/stream_slicers/__init__.py
  airbyte-cdk/python/unit_tests/sources/declarative/parsers/test_model_to_component_factory.py
  airbyte-cdk/python/unit_tests/sources/declarative/partition_routers/test_list_partition_router.py
  airbyte-cdk/python/unit_tests/sources/declarative/stream_slicers/test_cartesian_product_stream_slicer.py
  airbyte-integrations/connectors/source-google-pagespeed-insights/source_google_pagespeed_insights/manifest.yaml
  airbyte-integrations/connectors/source-posthog/unit_tests/test_components.py
  airbyte-integrations/connectors/source-survey-sparrow/source_survey_sparrow/manifest.yaml
Labels: area/connectors, CDK, connectors/source/posthog, connectors/source/square, connectors/source/survey-sparrow, connectors/source/google-pagespeed-insights

#22353 Catch empty state in incremental SAT
  airbyte-integrations/bases/connector-acceptance-test/connector_acceptance_test/tests/test_incremental.py
  airbyte-integrations/bases/connector-acceptance-test/unit_tests/test_incremental.py
Labels: connectors/source/test

#22673 🪟 🐛 [Connector Builder] add check for undefined values.checkStreams
  airbyte-webapp/src/components/connectorBuilder/types.ts
Labels: area/frontend

#22617 [ISSUE #19961] rename DatetimeStreamSlicer
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/incremental/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/incremental/datetime_based_cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/models/declarative_component_schema.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/class_types_registry.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/model_to_component_factory.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/stream_slicers/__init__.py
  airbyte-cdk/python/unit_tests/<MagicMock name='mock.cache_filename' id='4575989568'>
  airbyte-cdk/python/unit_tests/<MagicMock name='mock.cache_filename' id='4615368608'>
  airbyte-cdk/python/unit_tests/<MagicMock name='mock.cache_filename' id='4615705936'>
  airbyte-cdk/python/unit_tests/cache.sqlite
  airbyte-cdk/python/unit_tests/cache_http_stream.sqlite
  airbyte-cdk/python/unit_tests/cache_http_stream_with_slices.sqlite
  airbyte-cdk/python/unit_tests/sources/declarative/incremental/__init__.py
  airbyte-cdk/python/unit_tests/sources/declarative/incremental/test_datetime_based_cursor.py
  airbyte-cdk/python/unit_tests/sources/declarative/parsers/test_model_to_component_factory.py
  airbyte-cdk/python/unit_tests/sources/declarative/retrievers/test_simple_retriever.py
  airbyte-cdk/python/unit_tests/sources/declarative/stream_slicers/test_cartesian_product_stream_slicer.py
  airbyte-integrations/connectors/source-braze/source_braze/datetime_incremental_sync.py
  airbyte-integrations/connectors/source-close-com/source_close_com/datetime_incremental_sync.py
  airbyte-integrations/connectors/source-posthog/source_posthog/manifest.yaml
  airbyte-integrations/connectors/source-posthog/unit_tests/test_components.py
  airbyte-integrations/connectors/source-square/source_square/components.py
  docs/connector-development/config-based/understanding-the-yaml-file/incremental-syncs.md
Labels: area/documentation, area/connectors, CDK, connectors/source/close-com, connectors/source/posthog, connectors/source/square, connectors/source/braze, connectors/source/instatus

#20841 Source Freshdesk: update documentation when not using start date
  docs/integrations/sources/freshdesk.md
Labels: area/documentation

#22638 🪟 🎉 Fetch LaunchDarkly flags & experiments scoped to a workspace
  airbyte-webapp/package.json
  airbyte-webapp/pnpm-lock.yaml
  airbyte-webapp/src/packages/cloud/cloudRoutePaths.tsx
  airbyte-webapp/src/packages/cloud/cloudRoutes.tsx
  airbyte-webapp/src/packages/cloud/services/thirdParty/launchdarkly/LDExperimentService.tsx
  airbyte-webapp/src/packages/cloud/views/DefaultView.tsx
  airbyte-webapp/src/services/workspaces/WorkspacesService.tsx
Labels: area/frontend

#22801 Revert "Helm: set new attribute (#22114)"
  charts/airbyte/templates/env-configmap.yaml
  charts/airbyte/values.yaml
  charts/airbyte/values.yaml.test
Labels: area/platform, kubernetes

#22803 fix: fix issues with dashes in name
  charts/airbyte-bootloader/values.yaml
  charts/airbyte/templates/env-configmap.yaml
  charts/airbyte/values.yaml
Labels: area/platform, kubernetes

#22580 Source Zenloop: Fix unhashable type in ZenloopSubstreamSlicer component
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-zenloop/Dockerfile
  airbyte-integrations/connectors/source-zenloop/source_zenloop/components.py
  docs/integrations/sources/zenloop.md
Labels: area/documentation, area/connectors, connectors/source/zenloop

#22647 🪟 🐛 Fix new table tooltips
  airbyte-webapp/package.json
  airbyte-webapp/pnpm-lock.yaml
  airbyte-webapp/src/components/connection/CatalogTree/next/CatalogTreeTableCell.tsx
Labels: area/frontend

#22577 use launchdarkly feature flagging for column selection
  airbyte-container-orchestrator/src/main/java/io/airbyte/container_orchestrator/orchestrator/ReplicationJobOrchestrator.java
  airbyte-featureflag/src/main/kotlin/Flags.kt
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/ReplicationActivityImpl.java
Labels: area/worker, area/platform

#22369 🪟 🐛 Allow Free Connector Program syncs in workspace with no credits
  airbyte-webapp/src/components/EntityTable/ConnectionTable.tsx
  airbyte-webapp/src/components/EntityTable/components/StatusCell.test.tsx
  airbyte-webapp/src/components/EntityTable/components/StatusCell.tsx
  airbyte-webapp/src/components/EntityTable/components/StatusCellControl.tsx
  airbyte-webapp/src/components/EntityTable/types.ts
  airbyte-webapp/src/components/EntityTable/utils.tsx
  airbyte-webapp/src/components/connection/ConnectionInfoCard/ConnectionInfoCard.tsx
  airbyte-webapp/src/core/domain/catalog/traverseSchemaToField.test.ts
  airbyte-webapp/src/hooks/services/Feature/FeatureService.test.tsx
  airbyte-webapp/src/hooks/services/Feature/constants.ts
  airbyte-webapp/src/hooks/services/Feature/types.tsx
  airbyte-webapp/src/hooks/services/useConnectionHook.tsx
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/packages/cloud/cloudRoutes.tsx
  airbyte-webapp/src/packages/cloud/components/experiments/FreeConnectorProgram/FreeTag.tsx
  airbyte-webapp/src/packages/cloud/components/experiments/FreeConnectorProgram/lib/model.ts
  airbyte-webapp/src/packages/cloud/locales/en.json
  airbyte-webapp/src/pages/connections/ConnectionStatusPage/ConnectionStatusPage.tsx
Labels: area/frontend

#22667 🪟 🐛 Add space between job is in progress and schema changes detected indicator in connections table
  airbyte-webapp/src/components/EntityTable/components/StatusCell.module.scss
Labels: team/platform-move, area/frontend

#22804 Source Facebook Pages: retry http 500 error
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-pages/Dockerfile
  airbyte-integrations/connectors/source-facebook-pages/setup.py
  airbyte-integrations/connectors/source-facebook-pages/source_facebook_pages/manifest.yaml
  airbyte-integrations/connectors/source-facebook-pages/unit_tests/test_streams.py
  docs/integrations/sources/facebook-pages.md
Labels: area/documentation, area/connectors, connectors/source/facebook-pages

#22615 Trivial grammar fix: add missing "be"
  docs/integrations/destinations/s3.md
Labels: area/documentation
