Repository airbytehq/airbyte, pull requests merged in 2023-04, with the labels that each got.

#23236 Source Klaviyo: adds stream Templates
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-klaviyo/Dockerfile
  airbyte-integrations/connectors/source-klaviyo/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-klaviyo/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/schemas/email_templates.json
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/source.py
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/streams.py
  airbyte-integrations/connectors/source-klaviyo/unit_tests/test_streams.py
  connectors.md
  docs/integrations/sources/klaviyo.md
Labels: area/documentation, area/connectors, community, connectors/source/klaviyo, bounty, contributor-program

#24763 Fix Cassandra Integration Test
  airbyte-integrations/connectors/destination-cassandra/src/test-integration/java/io/airbyte/integrations/destination/cassandra/CassandraMessageConsumerIT.java
Labels: area/connectors, connectors/destination/cassandra

#24767 🎉 New Source: Azure Blob Storage (publish)
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-azure-blob-storage/Dockerfile
  airbyte-integrations/connectors/source-azure-blob-storage/README.md
  airbyte-integrations/connectors/source-azure-blob-storage/acceptance-test-config.yml
  airbyte-integrations/connectors/source-azure-blob-storage/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-azure-blob-storage/build.gradle
  airbyte-integrations/connectors/source-azure-blob-storage/src/main/java/io/airbyte/integrations/source/azureblobstorage/AzureBlob.java
  airbyte-integrations/connectors/source-azure-blob-storage/src/main/java/io/airbyte/integrations/source/azureblobstorage/AzureBlobAdditionalProperties.java
  airbyte-integrations/connectors/source-azure-blob-storage/src/main/java/io/airbyte/integrations/source/azureblobstorage/AzureBlobStorageConfig.java
  airbyte-integrations/connectors/source-azure-blob-storage/src/main/java/io/airbyte/integrations/source/azureblobstorage/AzureBlobStorageOperations.java
  airbyte-integrations/connectors/source-azure-blob-storage/src/main/java/io/airbyte/integrations/source/azureblobstorage/AzureBlobStorageSource.java
  airbyte-integrations/connectors/source-azure-blob-storage/src/main/java/io/airbyte/integrations/source/azureblobstorage/AzureBlobStorageStateManager.java
  airbyte-integrations/connectors/source-azure-blob-storage/src/main/java/io/airbyte/integrations/source/azureblobstorage/format/JsonlAzureBlobStorageOperations.java
  airbyte-integrations/connectors/source-azure-blob-storage/src/main/resources/spec.json
  airbyte-integrations/connectors/source-azure-blob-storage/src/test-integration/java/io/airbyte/integrations/source/azureblobstorage/AzureBlobStorageContainer.java
  airbyte-integrations/connectors/source-azure-blob-storage/src/test-integration/java/io/airbyte/integrations/source/azureblobstorage/AzureBlobStorageDataFactory.java
  airbyte-integrations/connectors/source-azure-blob-storage/src/test-integration/java/io/airbyte/integrations/source/azureblobstorage/AzureBlobStorageSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-azure-blob-storage/src/test-integration/java/io/airbyte/integrations/source/azureblobstorage/AzureBlobStorageSourceTest.java
  airbyte-integrations/connectors/source-azure-blob-storage/src/test-integration/java/io/airbyte/integrations/source/azureblobstorage/JsonlAzureBlobStorageOperationsTest.java
  airbyte-integrations/connectors/source-azure-blob-storage/src/test/java/io/airbyte/integrations/source/azureblobstorage/AzureBlobStorageConfigTest.java
  connectors.md
  docs/integrations/sources/azure-blob-storage.md
Labels: area/documentation, area/connectors, connectors/source/azure-blob-storage

#24774 Group documentation navigation
  docs/operator-guides/security.md
  docs/readme.md
  docusaurus/docusaurus.config.js
  docusaurus/sidebars.js
  docusaurus/src/css/custom.css
Labels: area/documentation

#22815 Source Zendesk Talk: Mark datefields in spec as dates
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-zendesk-talk/Dockerfile
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/spec.json
  connectors.md
  docs/integrations/sources/zendesk-talk.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-talk

#22817 Source Zendesk Support: Mark datefields in spec as dates
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-zendesk-support/Dockerfile
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/spec.json
  connectors.md
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-support

#24772 Low-Code CDK: make RecordFilter.filter_records as generator
  airbyte-cdk/python/airbyte_cdk/sources/declarative/extractors/record_filter.py
  airbyte-cdk/python/unit_tests/sources/declarative/extractors/test_record_filter.py
  airbyte-cdk/python/unit_tests/sources/declarative/extractors/test_record_selector.py
Labels: CDK

#22867 Source Square: Mark datefields in spec as dates
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-square/Dockerfile
  airbyte-integrations/connectors/source-square/source_square/spec.yaml
  connectors.md
  docs/integrations/sources/square.md
Labels: area/documentation, area/connectors, connectors/source/square

#22980 Source Intercom: Mark datefields in spec as dates
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-intercom/Dockerfile
  airbyte-integrations/connectors/source-intercom/source_intercom/spec.json
  connectors.md
  docs/integrations/sources/intercom.md
Labels: area/documentation, area/connectors, connectors/source/intercom

#24768 :tada: Source Sentry: add stream `releases`
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-sentry/Dockerfile
  airbyte-integrations/connectors/source-sentry/acceptance-test-config.yml
  airbyte-integrations/connectors/source-sentry/bootstrap.md
  airbyte-integrations/connectors/source-sentry/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-sentry/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-sentry/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-sentry/source_sentry/schemas/releases.json
  airbyte-integrations/connectors/source-sentry/source_sentry/source.py
  airbyte-integrations/connectors/source-sentry/source_sentry/streams.py
  airbyte-integrations/connectors/source-sentry/unit_tests/test_source.py
  connectors.md
  docs/integrations/sources/sentry.md
Labels: area/documentation, area/connectors, connectors/source/sentry

#24778 Update databricks.md
  docs/integrations/destinations/databricks.md
Labels: area/documentation, community

#22910 Source Hubspot: new stream Email Subscriptions
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-hubspot/sample_files/basic_read_catalog.json
  airbyte-integrations/connectors/source-hubspot/sample_files/basic_read_oauth_catalog.json
  airbyte-integrations/connectors/source-hubspot/sample_files/full_refresh_catalog.json
  airbyte-integrations/connectors/source-hubspot/sample_files/full_refresh_oauth_catalog.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/email_subscriptions.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/source.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_source.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_streams.py
  connectors.md
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, community, connectors/source/hubspot, bounty, contributor-program

#23457 Source Pinterest - Adding missing columns for analytics streams
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-pinterest/Dockerfile
  airbyte-integrations/connectors/source-pinterest/acceptance-test-config.yml
  airbyte-integrations/connectors/source-pinterest/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-pinterest/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-pinterest/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/ad_account_analytics.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/ad_accounts.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/ad_analytics.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/ad_group_analytics.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/board_pins.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/boards.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/campaign_analytics.json
  airbyte-integrations/connectors/source-pinterest/source_pinterest/source.py
  airbyte-integrations/connectors/source-pinterest/source_pinterest/utils.py
  airbyte-integrations/connectors/source-pinterest/unit_tests/conftest.py
  connectors.md
  docs/integrations/sources/pinterest.md
Labels: area/documentation, area/connectors, community, connectors/source/pinterest, bounty, contributor-program

#22824 Source Typeform: Mark datefields in spec as dates
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-typeform/Dockerfile
  airbyte-integrations/connectors/source-typeform/source_typeform/spec.json
  connectors.md
  docs/integrations/sources/typeform.md
Labels: area/documentation, area/connectors, connectors/source/typeform

#22866 Source Stripe: Mark datefields in spec as dates
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-stripe/Dockerfile
  airbyte-integrations/connectors/source-stripe/source_stripe/spec.yaml
  connectors.md
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, connectors/source/stripe

#24683 Fix all tests to pass on local and CI environments
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/ssh/SshBastionContainer.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/ssh/SshHelpers.java
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/java/io/airbyte/integrations/destination/clickhouse/SshClickhouseDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-elasticsearch/src/test-integration/java/io/airbyte/integrations/destination/elasticsearch/SshElasticsearchDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mariadb-columnstore/src/test-integration/java/io/airbyte/integrations/destination/mariadb_columnstore/SshMariadbColumnstoreDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mongodb/src/test-integration/java/io/airbyte/integrations/destination/mongodb/SshMongoDbDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mssql/src/test-integration/java/io/airbyte/integrations/destination/mssql/SshMSSQLDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-oracle/src/test-integration/java/io/airbyte/integrations/destination/oracle/SshOracleDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-postgres/src/test-integration/java/io/airbyte/integrations/destination/postgres/SshPostgresDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-redis/src/test-integration/java/io/airbyte/integrations/destination/redis/SshRedisDestinationAcceptanceTest.java
  airbyte-integrations/connectors/source-clickhouse/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractSshClickHouseSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/AbstractSshMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/MssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql-strict-encrypt/src/test-integration/java/io/airbyte/integrations/source/mysql_strict_encrypt/AbstractMySqlSslCertificateStrictEncryptSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql-strict-encrypt/src/test/java/io/airbyte/integrations/source/mysql_strict_encrypt/MySqlStrictEncryptJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/SshPasswordMySqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/MySqlSourceOperationsTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractPostgresSourceSSLCertificateAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractSshPostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/PostgresSourceStrictEncryptAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresSourceStrictEncryptTest.java
Labels: area/connectors, connectors/source/clickhouse, connectors/destination/elasticsearch, connectors/source/mssql, connectors/source/mysql, connectors/source/postgres, connectors/destination/clickhouse, connectors/destination/mongodb, connectors/destination/mssql, connectors/destination/postgres, connectors/destination/mariadb-columnstore, connectors/destination/redis, connectors/destination/oracle, connectors/source/mysql-strict-encrypt

#24609 Move PostgresStrictEncrypt back to its original location
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-alloydb-strict-encrypt/build.gradle
  airbyte-integrations/connectors/source-alloydb-strict-encrypt/src/main/java/io/airbyte/integrations/source/alloydb/AlloyDbStrictEncryptSource.java
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres-strict-encrypt/build.gradle
  airbyte-integrations/connectors/source-postgres-strict-encrypt/src/main/java/io/airbyte/integrations/source/postgres_strict_encrypt/PostgresSourceStrictEncrypt.java
  airbyte-integrations/connectors/source-postgres-strict-encrypt/src/test-integration/java/io/airbyte/integrations/source/postgres_strict_encrypt/PostgresSourceStrictEncryptAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres-strict-encrypt/src/test-integration/resources/expected_strict_encrypt_spec.json
  airbyte-integrations/connectors/source-postgres-strict-encrypt/src/test/java/io/airbyte/integrations/source/postgres_strict_encrypt/PostgresSourceStrictEncryptTest.java
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSourceRunner.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSourceStrictEncrypt.java
  connectors.md
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres, connectors/source/postgres-strict-encrypt, connectors/source/alloydb-strict-encrypt

#24812 PostgresStrictEncrypt local integration test hot patch
  airbyte-integrations/connectors/source-postgres-strict-encrypt/src/test-integration/java/io/airbyte/integrations/source/postgres_strict_encrypt/PostgresSourceStrictEncryptAcceptanceTest.java
Labels: area/connectors, connectors/source/postgres-strict-encrypt

#24190 🐛 Source Zendesk Chat: fix remove too high min/max. definition #23833 🚨
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-zendesk-chat/Dockerfile
  airbyte-integrations/connectors/source-zendesk-chat/source_zendesk_chat/schemas/accounts.json
  connectors.md
  docs/integrations/sources/zendesk-chat.md
Labels: area/documentation, area/connectors, community, connectors/source/zendesk-chat, bounty

#24817 Update api-documentation.md
  docs/api-documentation.md
Labels: area/documentation

#24737 🎉 Source Orb: Add invoices incremental stream
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-orb/Dockerfile
  airbyte-integrations/connectors/source-orb/acceptance-test-config.yml
  airbyte-integrations/connectors/source-orb/bootstrap.md
  airbyte-integrations/connectors/source-orb/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-orb/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-orb/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-orb/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-orb/source_orb/schemas/invoices.json
  airbyte-integrations/connectors/source-orb/source_orb/source.py
  airbyte-integrations/connectors/source-orb/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-orb/unit_tests/test_source.py
  connectors.md
  docs/integrations/sources/orb.md
Labels: area/documentation, area/connectors, connectors/source/orb

#22889 Source Slack: Mark datefields in spec as dates
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-slack/Dockerfile
  airbyte-integrations/connectors/source-slack/source_slack/spec.json
  connectors.md
  docs/integrations/sources/slack.md
Labels: area/documentation, area/connectors, connectors/source/slack

#23013 🎉 Source Intercom: migrate from Python CDK to Declarative YAML (Low Code)
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-intercom/.dockerignore
  airbyte-integrations/connectors/source-intercom/Dockerfile
  airbyte-integrations/connectors/source-intercom/README.md
  airbyte-integrations/connectors/source-intercom/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-intercom/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-intercom/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-intercom/integration_tests/integration_test.py
  airbyte-integrations/connectors/source-intercom/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-intercom/setup.py
  airbyte-integrations/connectors/source-intercom/source_intercom/__init__.py
  airbyte-integrations/connectors/source-intercom/source_intercom/components.py
  airbyte-integrations/connectors/source-intercom/source_intercom/manifest.yaml
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/companies.json
  airbyte-integrations/connectors/source-intercom/source_intercom/source.py
  airbyte-integrations/connectors/source-intercom/source_intercom/utils.py
  airbyte-integrations/connectors/source-intercom/unit_tests/conftest.py
  airbyte-integrations/connectors/source-intercom/unit_tests/test_cached_stream_state.py
  airbyte-integrations/connectors/source-intercom/unit_tests/test_control_rate_limit.py
  airbyte-integrations/connectors/source-intercom/unit_tests/unit_test.py
  connectors.md
Labels: area/connectors, connectors/source/intercom

#24827 Low-code: fix duplicate stream_slicer update
  airbyte-cdk/python/airbyte_cdk/sources/declarative/retrievers/simple_retriever.py
  airbyte-cdk/python/unit_tests/sources/declarative/retrievers/test_simple_retriever.py
Labels: CDK

#24833 fix-cdc: errors retry debezium property should be less than max retry
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/DebeziumPropertiesManager.java
  airbyte-integrations/connectors/source-alloydb-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-alloydb/Dockerfile
  airbyte-integrations/connectors/source-mssql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mssql/Dockerfile
  airbyte-integrations/connectors/source-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  connectors.md
  docs/integrations/sources/alloydb.md
  docs/integrations/sources/mssql.md
  docs/integrations/sources/mysql.md
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/mssql, connectors/source/mysql, connectors/source/postgres, connectors/source/mssql-strict-encrypt, connectors/source/mysql-strict-encrypt, connectors/source/postgres-strict-encrypt, connectors/source/alloydb, connectors/source/alloydb-strict-encrypt

#22134 🎉 Source TikTok Marketing - Add country_code and platform audience reports
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/Dockerfile
  airbyte-integrations/connectors/source-tiktok-marketing/acceptance-test-config.yml
  airbyte-integrations/connectors/source-tiktok-marketing/bootstrap.md
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/abnormal_state_with_granullarity.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/configured_catalogs/streams.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/configured_catalogs/streams_audience_incremental.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/configured_catalogs/streams_reports_daily.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/source.py
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/streams.py
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/unit_test.py
  connectors.md
  docs/integrations/sources/tiktok-marketing.md
Labels: area/documentation, area/connectors, community, connectors/source/tiktok-marketing, bounty

#24895 fix-postgres: fix strict encrypt spec
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres-strict-encrypt/src/main/java/io/airbyte/integrations/source/postgres_strict_encrypt/PostgresSourceStrictEncrypt.java
  airbyte-integrations/connectors/source-postgres-strict-encrypt/src/test-integration/resources/expected_strict_encrypt_spec.json
  airbyte-integrations/connectors/source-postgres/Dockerfile
  connectors.md
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres, connectors/source/postgres-strict-encrypt

#24873 Corrected link to query builder
  docs/integrations/sources/google-ads.md
Labels: area/documentation

#24545 Add dev job to regenerate catalog from metadata and view diff
  .github/actions/run-dagger-pipeline/action.yml
  airbyte-ci/connectors/metadata_service/orchestrator/orchestrator/__init__.py
  airbyte-ci/connectors/metadata_service/orchestrator/orchestrator/assets/catalog.py
  airbyte-ci/connectors/metadata_service/orchestrator/orchestrator/assets/catalog_assets.py
  airbyte-ci/connectors/metadata_service/orchestrator/orchestrator/assets/catalog_report.py
  airbyte-ci/connectors/metadata_service/orchestrator/orchestrator/assets/dev.py
  airbyte-ci/connectors/metadata_service/orchestrator/orchestrator/assets/github.py
  airbyte-ci/connectors/metadata_service/orchestrator/orchestrator/assets/metadata.py
  airbyte-ci/connectors/metadata_service/orchestrator/orchestrator/assets/spec_cache.py
  airbyte-ci/connectors/metadata_service/orchestrator/orchestrator/assets/spec_cache_assets.py
  airbyte-ci/connectors/metadata_service/orchestrator/orchestrator/jobs/catalog.py
  airbyte-ci/connectors/metadata_service/orchestrator/orchestrator/models/metadata.py
  airbyte-ci/connectors/metadata_service/orchestrator/orchestrator/resources/gcp.py
  airbyte-ci/connectors/metadata_service/orchestrator/orchestrator/resources/github.py
  airbyte-ci/connectors/metadata_service/orchestrator/orchestrator/resources/local.py
  airbyte-ci/connectors/metadata_service/orchestrator/orchestrator/sensors/catalog.py
  airbyte-ci/connectors/metadata_service/orchestrator/orchestrator/utils/dagster_helpers.py
  airbyte-ci/connectors/metadata_service/orchestrator/orchestrator/utils/object_helpers.py
  airbyte-ci/connectors/metadata_service/orchestrator/tests/test_catalog.py
  airbyte-ci/connectors/metadata_service/orchestrator/tests/test_debug.py
  airbyte-ci/connectors/metadata_service/orchestrator/tests/test_metadata.py
Labels: team/connector-ops

#24802 Connector Health: Fixed SAT for marketo, close, chargebee, facebook marketing, paystack, hubspot, pipedrive and marketo
  airbyte-integrations/connectors/source-chargebee/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-chartmogul/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-close-com/acceptance-test-config.yml
  airbyte-integrations/connectors/source-close-com/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-facebook-marketing/acceptance-test-config.yml
  airbyte-integrations/connectors/source-file/README.md
  airbyte-integrations/connectors/source-hubspot/README.md
  airbyte-integrations/connectors/source-hubspot/acceptance-test-config.yml
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-jira/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-marketo/acceptance-test-config.yml
  airbyte-integrations/connectors/source-marketo/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-marketo/source_marketo/schemas/programs.json
  airbyte-integrations/connectors/source-marketo/source_marketo/utils.py
  airbyte-integrations/connectors/source-paystack/acceptance-test-config.yml
  airbyte-integrations/connectors/source-pipedrive/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-sentry/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-trello/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/hubspot, connectors/source/marketo, connectors/source/sentry, connectors/source/trello, connectors/source/facebook-marketing, connectors/source/chargebee, connectors/source/close-com, connectors/source/file, connectors/source/jira, connectors/source/paypal-transaction, connectors/source/paystack, connectors/source/pipedrive, connectors/source/zendesk-support, connectors/source/chartmogul

#24604 JDBC connections to support checkpointing
  airbyte-integrations/connectors/destination-clickhouse-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/destination-clickhouse/Dockerfile
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/JdbcBufferedConsumerFactory.java
  airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/staging/StagingConsumerFactory.java
  airbyte-integrations/connectors/destination-mssql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/destination-mssql/Dockerfile
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/destination-postgres/Dockerfile
  airbyte-integrations/connectors/destination-tidb/Dockerfile
  docs/integrations/destinations/clickhouse.md
  docs/integrations/destinations/mssql.md
  docs/integrations/destinations/postgres.md
  docs/integrations/destinations/tidb.md
Labels: area/documentation, area/connectors, connectors/destination/clickhouse, connectors/destination/mssql, connectors/destination/postgres, connectors/destination/jdbc, connectors/destination/postgres-strict-encrypt, connectors/destination/mssql-strict-encrypt, connectors/destination/clickhouse-strict-encrypt, connectors/destination/tidb

#20881 🎉 New Destination: SelectDB
  airbyte-config/init/src/main/resources/icons/selectdb.svg
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-selectdb/.dockerignore
  airbyte-integrations/connectors/destination-selectdb/Dockerfile
  airbyte-integrations/connectors/destination-selectdb/README.md
  airbyte-integrations/connectors/destination-selectdb/bootstrap.md
  airbyte-integrations/connectors/destination-selectdb/build.gradle
  airbyte-integrations/connectors/destination-selectdb/src/main/java/io/airbyte/integrations/destination/selectdb/BaseResponse.java
  airbyte-integrations/connectors/destination-selectdb/src/main/java/io/airbyte/integrations/destination/selectdb/CopyIntoResp.java
  airbyte-integrations/connectors/destination-selectdb/src/main/java/io/airbyte/integrations/destination/selectdb/LabelInfo.java
  airbyte-integrations/connectors/destination-selectdb/src/main/java/io/airbyte/integrations/destination/selectdb/SelectdbConnectionOptions.java
  airbyte-integrations/connectors/destination-selectdb/src/main/java/io/airbyte/integrations/destination/selectdb/SelectdbConsumer.java
  airbyte-integrations/connectors/destination-selectdb/src/main/java/io/airbyte/integrations/destination/selectdb/SelectdbCopyInto.java
  airbyte-integrations/connectors/destination-selectdb/src/main/java/io/airbyte/integrations/destination/selectdb/SelectdbDestination.java
  airbyte-integrations/connectors/destination-selectdb/src/main/java/io/airbyte/integrations/destination/selectdb/SelectdbOperations.java
  airbyte-integrations/connectors/destination-selectdb/src/main/java/io/airbyte/integrations/destination/selectdb/SelectdbWriteConfig.java
  airbyte-integrations/connectors/destination-selectdb/src/main/java/io/airbyte/integrations/destination/selectdb/exception/CopyIntoException.java
  airbyte-integrations/connectors/destination-selectdb/src/main/java/io/airbyte/integrations/destination/selectdb/exception/SelectdbRuntimeException.java
  airbyte-integrations/connectors/destination-selectdb/src/main/java/io/airbyte/integrations/destination/selectdb/exception/UploadException.java
  airbyte-integrations/connectors/destination-selectdb/src/main/java/io/airbyte/integrations/destination/selectdb/http/HttpPostBuilder.java
  airbyte-integrations/connectors/destination-selectdb/src/main/java/io/airbyte/integrations/destination/selectdb/http/HttpPutBuilder.java
  airbyte-integrations/connectors/destination-selectdb/src/main/java/io/airbyte/integrations/destination/selectdb/http/HttpUtil.java
  airbyte-integrations/connectors/destination-selectdb/src/main/java/io/airbyte/integrations/destination/selectdb/utils/ResponseUtils.java
  airbyte-integrations/connectors/destination-selectdb/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-selectdb/src/test-integration/java/io/airbyte/integrations/destination/selectdb/SelectdbDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-selectdb/src/test/java/io/airbyte/integrations/destination/selectdb/SelectdbDestinationTest.java
  docs/integrations/destinations/selectdb.md
Labels: area/documentation, area/connectors, community, bounty, bounty-XL, reward-200, connectors/destination/selectdb, promoted, difficulty - :star: :star:

#24921 Update best-practices.md
  docs/connector-development/best-practices.md
Labels: area/documentation

#24923 Fix version bump mistakes
  docs/operator-guides/upgrading-airbyte.md
  octavia-cli/README.md
Labels: area/documentation

#24622 🎉 Postgres Source : Allow streams not in CDC publication to be synced in Full-refresh mode
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-alloydb-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-alloydb/Dockerfile
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresCdcCatalogHelper.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  connectors.md
  docs/integrations/sources/alloydb.md
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres, connectors/source/postgres-strict-encrypt, connectors/source/alloydb, connectors/source/alloydb-strict-encrypt

#22983 Source Harvest: Mark datefields in spec as dates
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-harvest/Dockerfile
  airbyte-integrations/connectors/source-harvest/source_harvest/spec.json
  connectors.md
  docs/integrations/sources/harvest.md
Labels: area/documentation, area/connectors, connectors/source/harvest

#22936 Source Mixpanel: Mark datefields in spec as dates
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mixpanel/Dockerfile
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/spec.json
  connectors.md
  docs/integrations/sources/mixpanel.md
Labels: area/documentation, area/connectors, connectors/source/mixpanel

#24956 Connector Health: Fixed SAT for stripe, zendesk support and recharge
  airbyte-integrations/connectors/source-recharge/acceptance-test-config.yml
  airbyte-integrations/connectors/source-stripe/acceptance-test-config.yml
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/stripe, connectors/source/recharge, connectors/source/zendesk-support

#24957 Azure integration test infra setup instructions
  airbyte-integrations/connectors/destination-azure-blob-storage/README.md
  airbyte-integrations/connectors/destination-snowflake/README.md
Labels: area/connectors, connectors/destination/azure-blob-storage, connectors/destination/snowflake

#24881 Decouple flags for debug messages from connector builder log messages
  airbyte-cdk/python/airbyte_cdk/connector_builder/README.md
  airbyte-cdk/python/airbyte_cdk/connector_builder/main.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/model_to_component_factory.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/retrievers/simple_retriever.py
  airbyte-cdk/python/unit_tests/sources/declarative/parsers/test_model_to_component_factory.py
  airbyte-cdk/python/unit_tests/sources/declarative/retrievers/test_simple_retriever.py
Labels: CDK

#24820 Fix emitted intermediate state for initial incremental non-CDC syncs
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-bigquery/src/main/java/io/airbyte/integrations/source/bigquery/BigQuerySource.java
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io.airbyte.integrations.source.mongodb/MongoDbSource.java
  airbyte-integrations/connectors/source-mssql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mssql/Dockerfile
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
  airbyte-integrations/connectors/source-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresSourceTest.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/AbstractDbSource.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/RelationalDbQueryUtils.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/StateDecoratingIterator.java
  connectors.md
  docs/integrations/sources/mssql.md
  docs/integrations/sources/mysql.md
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/bigquery, connectors/source/mssql, connectors/source/mysql, connectors/source/postgres, connectors/source/mongodb-v2, connectors/source/jdbc, connectors/source/relational-db, connectors/source/mssql-strict-encrypt, connectors/source/mysql-strict-encrypt, connectors/source/postgres-strict-encrypt, connectors/source/alloydb, connectors/source/alloydb-strict-encrypt

#24890 Source Jira: fix streams "IssuePropertyKeys", "ScreenTabFields"
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-jira/Dockerfile
  airbyte-integrations/connectors/source-jira/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-jira/source_jira/streams.py
  airbyte-integrations/connectors/source-jira/unit_tests/responses/issue_property_keys.json
  connectors.md
  docs/integrations/sources/jira.md
Labels: area/documentation, area/connectors, connectors/source/jira

#24630 Source TikTok Marketing: migrate to v1.3 API (incompatible schema change!)
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/Dockerfile
  airbyte-integrations/connectors/source-tiktok-marketing/README.md
  airbyte-integrations/connectors/source-tiktok-marketing/acceptance-test-config.yml
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/abnormal_state_with_granullarity.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/configured_catalogs/configured_catalog_incremental.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/configured_catalogs/streams.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/configured_catalogs/streams_all.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/configured_catalogs/streams_all_incremental.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/configured_catalogs/streams_audience_incremental.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/configured_catalogs/streams_basic.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/configured_catalogs/streams_reports_daily.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/configured_catalogs/streams_reports_lifetime.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/configured_catalogs/streams_with_day_granularity.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/configured_catalogs/streams_with_lifetime_granularity.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/expected_records2.jsonl
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/ad_groups.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/ads.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/advertiser_ids.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/advertisers.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/audience_reports.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/basic_reports.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/campaigns.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/source.py
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/spec.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/spec.py
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/streams.py
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/streams_test.py
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/unit_test.py
  connectors.md
  docs/integrations/sources/tiktok-marketing.md
Labels: area/documentation, area/connectors, connectors/source/tiktok-marketing

#24962 Source-Iterable: ignore 500 per slice for ListUsers stream
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-iterable/Dockerfile
  airbyte-integrations/connectors/source-iterable/source_iterable/streams.py
  airbyte-integrations/connectors/source-iterable/source_iterable/utils.py
  airbyte-integrations/connectors/source-iterable/unit_tests/conftest.py
  airbyte-integrations/connectors/source-iterable/unit_tests/test_streams.py
  connectors.md
  docs/integrations/sources/iterable.md
Labels: area/documentation, area/connectors, connectors/source/iterable

#22982 Source Hubspot: Mark datefields in spec as dates
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/source_hubspot/spec.yaml
  connectors.md
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot

#24915 Source HubSpot: replace whitespace with underscore in response property fields
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  connectors.md
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot

#24712 🎉 Source TikTok Marketing: add optional `atttribution window`
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/Dockerfile
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/source.py
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/spec.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/streams.py
  connectors.md
  docs/integrations/sources/tiktok-marketing.md
Labels: area/documentation, area/connectors, connectors/source/tiktok-marketing

#24422 🐛 Source Insightly: fix remove timedelta for incremental causing missing records
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-insightly/Dockerfile
  airbyte-integrations/connectors/source-insightly/acceptance-test-config.yml
  airbyte-integrations/connectors/source-insightly/source_insightly/source.py
  docs/integrations/sources/insightly.md
Labels: area/documentation, area/connectors, community, bounty, connectors/source/insightly

#24993 fix spotlesssql errors
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-integrations/connectors/source-mysql/integration_tests/seed/full.sql
  airbyte-integrations/connectors/source-oracle/integration_tests/seed/full.sql
  connectors.md
Labels: area/connectors, connectors/source/mysql, connectors/source/oracle

#24990 🐛Source Recharge: Add slicing to fetch data with chunks
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-recharge/Dockerfile
  airbyte-integrations/connectors/source-recharge/acceptance-test-config.yml
  airbyte-integrations/connectors/source-recharge/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-recharge/source_recharge/api.py
  airbyte-integrations/connectors/source-recharge/source_recharge/source.py
  airbyte-integrations/connectors/source-recharge/unit_tests/test_api.py
  connectors.md
  docs/integrations/sources/recharge.md
Labels: area/documentation, area/connectors, connectors/source/recharge

#24980 Source hubspot: Add new stream `DealsArchived`
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/acceptance-test-config.yml
  airbyte-integrations/connectors/source-hubspot/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-hubspot/sample_files/full_refresh_catalog.json
  airbyte-integrations/connectors/source-hubspot/sample_files/incremental_catalog.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/deals_archived.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/source.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_source.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_streams.py
  connectors.md
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot

#25003 Source Facebook Marketing: don't fetch thumbnail_data_url if it's None
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/streams.py
  connectors.md
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing

#25012 Source Sentry: update expected records
  airbyte-integrations/connectors/source-sentry/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/sentry

#25013 Source Strava: update expected records
  airbyte-integrations/connectors/source-strava/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/strava

#24930 low-code: Add some unit tests for CompositeErrorHandler
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/error_handlers/test_composite_error_handler.py
Labels: CDK

#24525 Source File: fix example in Reader Options in specification
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-file-secure/Dockerfile
  airbyte-integrations/connectors/source-file-secure/integration_tests/spec.json
  airbyte-integrations/connectors/source-file/Dockerfile
  airbyte-integrations/connectors/source-file/source_file/spec.json
  connectors.md
  docs/integrations/sources/file.md
Labels: area/documentation, area/connectors, community, connectors/source/file, connectors/source/file-secure, bounty, ga-connector-change

#25011 Source Marketo: update expected records
  airbyte-integrations/connectors/source-marketo/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/marketo

#22874 🎉Source Twilio: New stream Executions and Flow
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-twilio/Dockerfile
  airbyte-integrations/connectors/source-twilio/integration_tests/constant_records_catalog.json
  airbyte-integrations/connectors/source-twilio/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/executions.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/flows.json
  airbyte-integrations/connectors/source-twilio/source_twilio/source.py
  airbyte-integrations/connectors/source-twilio/source_twilio/streams.py
  connectors.md
  docs/integrations/sources/twilio.md
Labels: area/documentation, area/connectors, community, connectors/source/twilio, bounty, contributor-program, ga-connector-change

#25045 Source Quickbooks: turn off advanced oauth + fix input date format
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-quickbooks/Dockerfile
  airbyte-integrations/connectors/source-quickbooks/acceptance-test-config.yml
  airbyte-integrations/connectors/source-quickbooks/source_quickbooks/__init__.py
  airbyte-integrations/connectors/source-quickbooks/source_quickbooks/components.py
  airbyte-integrations/connectors/source-quickbooks/source_quickbooks/spec.json
  airbyte-integrations/connectors/source-quickbooks/unit_tests/test_custom_component.py
  connectors.md
  docs/integrations/sources/quickbooks.md
Labels: area/documentation, area/connectors, connectors/source/quickbooks

#25041 Source Notion: improve error handling for API /search
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-notion/Dockerfile
  airbyte-integrations/connectors/source-notion/acceptance-test-config.yml
  airbyte-integrations/connectors/source-notion/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-notion/integration_tests/expected_records.txt.jsonl
  airbyte-integrations/connectors/source-notion/source_notion/streams.py
  airbyte-integrations/connectors/source-notion/unit_tests/test_streams.py
  connectors.md
  docs/integrations/sources/notion.md
Labels: area/documentation, area/connectors, connectors/source/notion

#25034 install dbt + copy normalization code into dest-bq
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/build.gradle
Labels: area/connectors, connectors/destination/bigquery

#22875 🎉Source Twilio: New Stream Conversation Messages
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-twilio/Dockerfile
  airbyte-integrations/connectors/source-twilio/acceptance-test-config.yml
  airbyte-integrations/connectors/source-twilio/integration_tests/constant_records_catalog.json
  airbyte-integrations/connectors/source-twilio/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/conversation_messages.json
  airbyte-integrations/connectors/source-twilio/source_twilio/source.py
  airbyte-integrations/connectors/source-twilio/source_twilio/streams.py
  connectors.md
  docs/integrations/sources/twilio.md
Labels: area/documentation, area/connectors, community, connectors/source/twilio, bounty, contributor-program, ga-connector-change

#24656 cdc: refactor to remove debezium dependency from connector packages
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/bases/debezium/build.gradle
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/AirbyteDebeziumHandler.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/CdcStateHandler.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/CdcTargetPosition.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/DebeziumPropertiesManager.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/DebeziumStateDecoratingIterator.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/mssql/MSSQLConverter.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/mssql/MssqlCdcTargetPosition.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/mysql/CustomMySQLTinyIntOneToBooleanConverter.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/mysql/MySQLDateTimeConverter.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/mysql/MySqlCdcPosition.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/mysql/MySqlCdcTargetPosition.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/postgres/PostgresCdcTargetPosition.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/postgres/PostgresConverter.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/postgres/PostgresCustomLoader.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/postgres/PostgresDebeziumStateUtil.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/postgres/PostgresReplicationConnection.java
  airbyte-integrations/bases/debezium/src/test/java/io/airbyte/integrations/debezium/internals/PostgresDebeziumStateUtilTest.java
  airbyte-integrations/connectors/source-alloydb-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-alloydb/Dockerfile
  airbyte-integrations/connectors/source-mssql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mssql/Dockerfile
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcHelper.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcStateHandler.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceTest.java
  airbyte-integrations/connectors/source-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlCdcProperties.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlCdcStateHandler.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/CdcMysqlSourceTest.java
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresCdcProperties.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresCdcStateHandler.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  connectors.md
  deps.toml
  docs/integrations/sources/alloydb.md
  docs/integrations/sources/mssql.md
  docs/integrations/sources/mysql.md
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/mssql, connectors/source/mysql, connectors/source/postgres, connectors/source/mssql-strict-encrypt, connectors/source/mysql-strict-encrypt, connectors/source/postgres-strict-encrypt, connectors/source/alloydb, connectors/source/alloydb-strict-encrypt

#24916 Add connector builder compatibility guide
  docs/connector-development/config-based/assets/connector_builder_compatibility/filters_example.png
  docs/connector-development/config-based/assets/connector_builder_compatibility/offset_limit_example.png
  docs/connector-development/config-based/assets/connector_builder_compatibility/page_count_example.png
  docs/connector-development/config-based/connector-builder-compatibility.md
  docs/connector-development/config-based/connector-builder-ui.md
Labels: area/documentation

#21260 Source Google Search Console: update doc and spec
  docs/integrations/sources/google-search-console.md
Labels: area/documentation, community, connectors/source/google-search-console, bounty, ga-connector-change

#25090 Destination S3 Glue: fix spec
  airbyte-config-oss/init-oss/src/main/resources/seed/destination_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/destination_specs.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-integrations/connectors/destination-s3-glue/Dockerfile
  airbyte-integrations/connectors/destination-s3-glue/src/main/resources/spec.json
  connectors.md
  docs/integrations/destinations/s3-glue.md
Labels: area/documentation, area/connectors, connectors/destination/s3-glue

#25029 Test all datatypes translation
  airbyte-config/init/src/main/resources/seed/oss_catalog.json
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CDCMySqlDatatypeAccuracyTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/MySqlDatatypeAccuracyTest.java
Labels: area/connectors, connectors/source/mysql

#24610 Cleanup state code in AbstractDbSource
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/AbstractDbSource.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/state/StateGeneratorUtils.java
  airbyte-integrations/connectors/source-relational-db/src/test/java/io/airbyte/integrations/source/relationaldb/AbstractDbSourceTest.java
Labels: area/connectors, connectors/source/mysql, connectors/source/postgres, connectors/source/relational-db

#24859 Remove SSL toggle for source-postgres in OSS
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres-strict-encrypt/src/main/java/io/airbyte/integrations/source/postgres_strict_encrypt/PostgresSourceStrictEncrypt.java
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/main/resources/spec.json
  airbyte-integrations/connectors/source-postgres/src/test-integration/resources/expected_spec.json
  connectors.md
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres, connectors/source/postgres-strict-encrypt

#25009 🐛Source Recharge: Fix owner slicing for metfaields stream
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-recharge/Dockerfile
  airbyte-integrations/connectors/source-recharge/acceptance-test-config.yml
  airbyte-integrations/connectors/source-recharge/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-recharge/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-recharge/integration_tests/streams_with_output_records_catalog.json
  airbyte-integrations/connectors/source-recharge/source_recharge/api.py
  airbyte-integrations/connectors/source-recharge/unit_tests/test_api.py
  connectors.md
  docs/integrations/sources/recharge.md
Labels: area/documentation, area/connectors, connectors/source/recharge

#19906 Source Stripe: expand tiers when syncing plans
  airbyte-integrations/connectors/source-stripe/Dockerfile
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/plans.json
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, community, connectors/source/stripe, internal, ga-connector-change

#25113 Source Stripe: generate seed source file
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  connectors.md
Labels: connectors/source/stripe

#25121 Connector builder: set pages and slices limits
  airbyte-cdk/python/airbyte_cdk/connector_builder/connector_builder_handler.py
  airbyte-cdk/python/airbyte_cdk/connector_builder/main.py
  airbyte-cdk/python/unit_tests/connector_builder/test_connector_builder_handler.py
Labels: CDK

#25138 source-postgres works with bigger datasets
  docs/integrations/sources/postgres.md
Labels: area/documentation

#22362 🚨🚨 Source Amplitude: migrate to YAML
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amplitude/Dockerfile
  airbyte-integrations/connectors/source-amplitude/README.md
  airbyte-integrations/connectors/source-amplitude/__init__.py
  airbyte-integrations/connectors/source-amplitude/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amplitude/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-amplitude/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-amplitude/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-amplitude/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-amplitude/setup.py
  airbyte-integrations/connectors/source-amplitude/source_amplitude/__init__.py
  airbyte-integrations/connectors/source-amplitude/source_amplitude/api.py
  airbyte-integrations/connectors/source-amplitude/source_amplitude/components.py
  airbyte-integrations/connectors/source-amplitude/source_amplitude/errors.py
  airbyte-integrations/connectors/source-amplitude/source_amplitude/manifest.yaml
  airbyte-integrations/connectors/source-amplitude/source_amplitude/schemas/active_users.json
  airbyte-integrations/connectors/source-amplitude/source_amplitude/schemas/annotations.json
  airbyte-integrations/connectors/source-amplitude/source_amplitude/schemas/average_session_length.json
  airbyte-integrations/connectors/source-amplitude/source_amplitude/schemas/cohorts.json
  airbyte-integrations/connectors/source-amplitude/source_amplitude/schemas/events.json
  airbyte-integrations/connectors/source-amplitude/source_amplitude/source.py
  airbyte-integrations/connectors/source-amplitude/source_amplitude/spec.json
  airbyte-integrations/connectors/source-amplitude/source_amplitude/spec.yaml
  airbyte-integrations/connectors/source-amplitude/unit_tests/records.json.zip
  airbyte-integrations/connectors/source-amplitude/unit_tests/test_api.py
  airbyte-integrations/connectors/source-amplitude/unit_tests/test_custom_extractors.py
  airbyte-integrations/connectors/source-amplitude/unit_tests/test_errors.py
  airbyte-integrations/connectors/source-amplitude/unit_tests/test_source.py
  airbyte-integrations/connectors/source-amplitude/unit_tests/zipped.json.gz
  connectors.md
  docs/integrations/sources/amplitude.md
Labels: area/documentation, area/connectors, connectors/source/amplitude

#25122 Add additional destination-bigquery datacenters
  airbyte-config-oss/init-oss/src/main/resources/seed/destination_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/destination_specs.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/src/main/resources/spec.json
  connectors.md
  docs/integrations/destinations/bigquery-denormalized.md
  docs/integrations/destinations/bigquery.md
  tools/integrations/manage.sh
Labels: area/documentation, area/connectors, connectors/destination/bigquery, connectors/destination/bigquery-denormalized

#25146 Source: Amazon Ads - Add pk validator for reports when expected pk is not returned
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-ads/Dockerfile
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/report_streams/report_streams.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/test_report_streams.py
  connectors.md
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, area/connectors, connectors/source/amazon-ads

#23995 🎉Source Twilio: New Stream Conversation Participants
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-twilio/Dockerfile
  airbyte-integrations/connectors/source-twilio/integration_tests/constant_records_catalog.json
  airbyte-integrations/connectors/source-twilio/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/conversation_participants.json
  airbyte-integrations/connectors/source-twilio/source_twilio/source.py
  airbyte-integrations/connectors/source-twilio/source_twilio/streams.py
  airbyte-integrations/connectors/source-twilio/unit_tests/test_source.py
  connectors.md
  docs/integrations/sources/twilio.md
Labels: area/documentation, area/connectors, community, connectors/source/twilio, bounty, contributor-program, ga-connector-change

#25144 Source Iterable: update expected records
  airbyte-integrations/connectors/source-iterable/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/iterable

#25159 metadata: fix strict-encrypt metadata dockerRepository
  airbyte-integrations/connectors/destination-clickhouse-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/destination-elasticsearch-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/destination-mongodb-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/destination-mssql-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/destination-mysql-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/destination-oracle-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-alloydb-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-clickhouse-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-cockroachdb-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-mongodb-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-mssql-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-mysql-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-oracle-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-postgres-strict-encrypt/metadata.yaml
Labels: area/connectors, connectors/source/cockroachdb-strict-encrypt, connectors/destination/oracle-strict-encrypt, connectors/destination/postgres-strict-encrypt, connectors/destination/mongodb-strict-encrypt, connectors/destination/mssql-strict-encrypt, connectors/destination/mysql-strict-encrypt, connectors/destination/clickhouse-strict-encrypt, connectors/source/clickhouse-strict-encrypt, connectors/source/mongodb-strict-encrypt, connectors/source/mssql-strict-encrypt, connectors/source/mysql-strict-encrypt, connectors/source/oracle-strict-encrypt, connectors/source/postgres-strict-encrypt, connectors/source/alloydb-strict-encrypt, connectors/destination/elasticsearch-strict-encryp

#25150 Source Slack: update expected records
  airbyte-integrations/connectors/source-slack/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/slack

#23082 change google analytics dockerfile order to pip install source
  airbyte-integrations/connectors/source-google-analytics-v4/Dockerfile
Labels: area/connectors, community, connectors/source/google-analytics-v4, bounty, ga-connector-change

#25131 Always show client cert and key
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-alloydb-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-alloydb/Dockerfile
  airbyte-integrations/connectors/source-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql-strict-encrypt/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-mysql/src/main/resources/spec.json
  airbyte-integrations/connectors/source-mysql/src/test-integration/resources/expected_spec.json
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres-strict-encrypt/src/test-integration/resources/expected_strict_encrypt_spec.json
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/resources/spec.json
  airbyte-integrations/connectors/source-postgres/src/test-integration/resources/expected_spec.json
  connectors.md
  docs/integrations/sources/alloydb.md
  docs/integrations/sources/mysql.md
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/mysql, connectors/source/postgres, connectors/source/mysql-strict-encrypt, connectors/source/postgres-strict-encrypt, connectors/source/alloydb, connectors/source/alloydb-strict-encrypt

#23759 :bug: Source File: fix column data types for numerical values
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-file-secure/Dockerfile
  airbyte-integrations/connectors/source-file/Dockerfile
  airbyte-integrations/connectors/source-file/source_file/client.py
  airbyte-integrations/connectors/source-file/unit_tests/test_client.py
  docs/integrations/sources/file.md
Labels: area/documentation, area/connectors, community, connectors/source/file, connectors/source/file-secure, bounty, ga-connector-change

#25148 Source Github: update expected records
  airbyte-integrations/connectors/source-github/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/github

#25199 Source Pipedrive: update expected records
  airbyte-integrations/connectors/source-pipedrive/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/pipedrive

#25200 Source Twilio: update expected records
  airbyte-integrations/connectors/source-twilio/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/twilio

#25180 connector builder: Emit message at start of slice
  airbyte-cdk/python/airbyte_cdk/connector_builder/connector_builder_handler.py
  airbyte-cdk/python/airbyte_cdk/sources/abstract_source.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/manifest_declarative_source.py
  airbyte-cdk/python/unit_tests/connector_builder/test_connector_builder_handler.py
Labels: CDK

#24717 CI checks for #23868
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-bing-ads/Dockerfile
  airbyte-integrations/connectors/source-bing-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-bing-ads/integration_tests/expected_records.txt
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/account_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/ad_group_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/ad_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/campaign_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/keyword_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/source.py
  connectors.md
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors, connectors/source/bing-ads

#25204 Source Facebook Marketing: fix data retention period validation
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/setup.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/source.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/utils.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_source.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_utils.py
  connectors.md
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing

#25217 Fix manifest_declarative_source + add unit tests
  airbyte-cdk/python/airbyte_cdk/sources/declarative/manifest_declarative_source.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_manifest_declarative_source.py
Labels: CDK

#25210 Document the config for docker workspace cleanup
  docs/operator-guides/configuring-airbyte.md
Labels: area/documentation

#25227 Cleanup some logging in source db connectors
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/state/CursorManager.java
Labels: area/connectors, connectors/source/postgres, connectors/source/jdbc, connectors/source/relational-db

#24221 🎉 New Source: Teradata
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/builds.md
  airbyte-integrations/connectors/source-jdbc/src/testFixtures/java/io/airbyte/integrations/source/jdbc/test/JdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-teradata/Dockerfile
  airbyte-integrations/connectors/source-teradata/README.md
  airbyte-integrations/connectors/source-teradata/acceptance-test-config.yml
  airbyte-integrations/connectors/source-teradata/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-teradata/build.gradle
  airbyte-integrations/connectors/source-teradata/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-teradata/src/main/java/io/airbyte/integrations/source/teradata/TeradataSource.java
  airbyte-integrations/connectors/source-teradata/src/main/java/io/airbyte/integrations/source/teradata/TeradataSourceOperations.java
  airbyte-integrations/connectors/source-teradata/src/main/java/io/airbyte/integrations/source/teradata/envclient/Headers.java
  airbyte-integrations/connectors/source-teradata/src/main/java/io/airbyte/integrations/source/teradata/envclient/TeradataHttpClient.java
  airbyte-integrations/connectors/source-teradata/src/main/java/io/airbyte/integrations/source/teradata/envclient/dto/CreateEnvironmentRequest.java
  airbyte-integrations/connectors/source-teradata/src/main/java/io/airbyte/integrations/source/teradata/envclient/dto/DeleteEnvironmentRequest.java
  airbyte-integrations/connectors/source-teradata/src/main/java/io/airbyte/integrations/source/teradata/envclient/dto/EnvironmentResponse.java
  airbyte-integrations/connectors/source-teradata/src/main/java/io/airbyte/integrations/source/teradata/envclient/dto/GetEnvironmentRequest.java
  airbyte-integrations/connectors/source-teradata/src/main/java/io/airbyte/integrations/source/teradata/envclient/dto/Region.java
  airbyte-integrations/connectors/source-teradata/src/main/java/io/airbyte/integrations/source/teradata/envclient/exception/BaseException.java
  airbyte-integrations/connectors/source-teradata/src/main/java/io/airbyte/integrations/source/teradata/envclient/exception/Error4xxException.java
  airbyte-integrations/connectors/source-teradata/src/main/java/io/airbyte/integrations/source/teradata/envclient/exception/Error5xxException.java
  airbyte-integrations/connectors/source-teradata/src/main/resources/spec.json
  airbyte-integrations/connectors/source-teradata/src/test-integration/java/io/airbyte/integrations/source/teradata/TeradataSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-teradata/src/test-integration/resources/dummy_config.json
  airbyte-integrations/connectors/source-teradata/src/test-integration/resources/expected_spec.json
  airbyte-integrations/connectors/source-teradata/src/test/java/io/airbyte/integrations/source/teradata/TeradataJdbcSourceAcceptanceTest.java
  docs/integrations/sources/teradata.md
Labels: area/documentation, area/connectors, community, connectors/source/jdbc, connectors/source/teradata

#23624 🎉Source Stripe: New Stream - Subscription Schedule
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-stripe/Dockerfile
  airbyte-integrations/connectors/source-stripe/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-stripe/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-stripe/integration_tests/connected_account_configured_catalog.json
  airbyte-integrations/connectors/source-stripe/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-stripe/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-stripe/sample_files/state.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/subscription_schedule.json
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_source.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_streams.py
  connectors.md
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, community, connectors/source/stripe, connectors/source/twilio, bounty, contributor-program, ga-connector-change

#25235 add note for security self-check to security.md
  docs/operator-guides/security.md
Labels: area/documentation

#24824 Source Copper: Add opportunities to streams
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-copper/Dockerfile
  airbyte-integrations/connectors/source-copper/source_copper/schemas/opportunities.json
  airbyte-integrations/connectors/source-copper/source_copper/source.py
  airbyte-integrations/connectors/source-copper/unit_tests/test_source.py
  connectors.md
  docs/integrations/sources/copper.md
Labels: area/documentation, area/connectors, community, bounty, connectors/source/copper, pr-alpha-beta

#25086 low-code: Clean up SessionTokenAuthenticator interface
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/models/declarative_component_schema.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/model_to_component_factory.py
  airbyte-cdk/python/unit_tests/sources/declarative/parsers/test_model_to_component_factory.py
  airbyte-integrations/connectors/source-metabase/source_metabase/manifest.yaml
  docs/connector-development/testing-connectors/README.md
Labels: area/documentation, area/connectors, CDK, connectors/source/metabase

#25220 Add logging functionality to understand Xmin wraparound
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-alloydb-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-alloydb/Dockerfile
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-integrations/connectors/source-mssql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mssql/Dockerfile
  airbyte-integrations/connectors/source-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresQueryUtils.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/AbstractDbSource.java
  connectors.md
  docs/integrations/sources/alloydb.md
  docs/integrations/sources/mssql.md
  docs/integrations/sources/mysql.md
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/mssql, connectors/source/mysql, connectors/source/postgres, connectors/source/jdbc, connectors/source/relational-db, connectors/source/mssql-strict-encrypt, connectors/source/mysql-strict-encrypt, connectors/source/postgres-strict-encrypt, connectors/source/alloydb, connectors/source/alloydb-strict-encrypt

#25209 Connector builder: Partitioning documentation
  docs/connector-development/connector-builder-ui/partitioning.md
Labels: area/documentation

#25112 Connector builder: Authentication documentation
  docs/connector-development/connector-builder-ui/authentication.md
  docs/connector-development/connector-builder-ui/partitioning.md
Labels: area/documentation

#25010 Source S3: Add start date filter for files
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/integration_tests/config_minio.json
  airbyte-integrations/connectors/source-s3/integration_tests/spec.json
  airbyte-integrations/connectors/source-s3/source_s3/source.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/stream.py
  airbyte-integrations/connectors/source-s3/source_s3/stream.py
  airbyte-integrations/connectors/source-s3/unit_tests/test_stream.py
  connectors.md
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3

#25271 Source Zendesk Chat: update expected records
  airbyte-integrations/connectors/source-zendesk-chat/integration_tests/expected_records.txt
Labels: area/connectors, connectors/source/zendesk-chat

#25067 Source S3: handle block size related errors
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/integration_tests/config_minio.json
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/formats/csv_parser.py
  connectors.md
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3

#25272 Source Zendesk Support: update expected records
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/zendesk-support

#22990 :tada: Source Facebook Marketing: Increase pause interval time after reach MIN_RATE or MAX_RATE.
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/api.py
  connectors.md
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, community, connectors/source/facebook-marketing, bounty, ga-connector-change

#19557 🎉 New Source: Apple Search Ads [low-code CDK]
  airbyte-config-oss/init-oss/src/main/resources/icons/apple.svg
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-apple-search-ads/.dockerignore
  airbyte-integrations/connectors/source-apple-search-ads/Dockerfile
  airbyte-integrations/connectors/source-apple-search-ads/README.md
  airbyte-integrations/connectors/source-apple-search-ads/__init__.py
  airbyte-integrations/connectors/source-apple-search-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-apple-search-ads/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-apple-search-ads/bootstrap.md
  airbyte-integrations/connectors/source-apple-search-ads/build.gradle
  airbyte-integrations/connectors/source-apple-search-ads/integration_tests/__init__.py
  airbyte-integrations/connectors/source-apple-search-ads/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-apple-search-ads/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-apple-search-ads/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-apple-search-ads/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-apple-search-ads/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-apple-search-ads/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-apple-search-ads/main.py
  airbyte-integrations/connectors/source-apple-search-ads/requirements.txt
  airbyte-integrations/connectors/source-apple-search-ads/setup.py
  airbyte-integrations/connectors/source-apple-search-ads/source_apple_search_ads/__init__.py
  airbyte-integrations/connectors/source-apple-search-ads/source_apple_search_ads/manifest.yaml
  airbyte-integrations/connectors/source-apple-search-ads/source_apple_search_ads/schemas/adgroups.json
  airbyte-integrations/connectors/source-apple-search-ads/source_apple_search_ads/schemas/adgroups_report_daily.json
  airbyte-integrations/connectors/source-apple-search-ads/source_apple_search_ads/schemas/campaigns.json
  airbyte-integrations/connectors/source-apple-search-ads/source_apple_search_ads/schemas/campaigns_report_daily.json
  airbyte-integrations/connectors/source-apple-search-ads/source_apple_search_ads/schemas/keywords.json
  airbyte-integrations/connectors/source-apple-search-ads/source_apple_search_ads/schemas/keywords_report_daily.json
  airbyte-integrations/connectors/source-apple-search-ads/source_apple_search_ads/source.py
  airbyte-integrations/connectors/source-apple-search-ads/source_apple_search_ads/spec.yaml
  connectors.md
  docs/integrations/sources/apple-search-ads.md
Labels: area/documentation, area/connectors, community, internal, connectors/source/apple-search-ads, new-source

#25240 🎉 New Source: Aircall [Low code CDK]
  airbyte-config-oss/init-oss/src/main/resources/icons/aircall.svg
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-aircall/.dockerignore
  airbyte-integrations/connectors/source-aircall/Dockerfile
  airbyte-integrations/connectors/source-aircall/README.md
  airbyte-integrations/connectors/source-aircall/__init__.py
  airbyte-integrations/connectors/source-aircall/acceptance-test-config.yml
  airbyte-integrations/connectors/source-aircall/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-aircall/build.gradle
  airbyte-integrations/connectors/source-aircall/integration_tests/__init__.py
  airbyte-integrations/connectors/source-aircall/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-aircall/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-aircall/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-aircall/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-aircall/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-aircall/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-aircall/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-aircall/main.py
  airbyte-integrations/connectors/source-aircall/requirements.txt
  airbyte-integrations/connectors/source-aircall/setup.py
  airbyte-integrations/connectors/source-aircall/source_aircall/__init__.py
  airbyte-integrations/connectors/source-aircall/source_aircall/manifest.yaml
  airbyte-integrations/connectors/source-aircall/source_aircall/schemas/calls.json
  airbyte-integrations/connectors/source-aircall/source_aircall/schemas/company.json
  airbyte-integrations/connectors/source-aircall/source_aircall/schemas/contacts.json
  airbyte-integrations/connectors/source-aircall/source_aircall/schemas/numbers.json
  airbyte-integrations/connectors/source-aircall/source_aircall/schemas/tags.json
  airbyte-integrations/connectors/source-aircall/source_aircall/schemas/teams.json
  airbyte-integrations/connectors/source-aircall/source_aircall/schemas/user_availablity.json
  airbyte-integrations/connectors/source-aircall/source_aircall/schemas/users.json
  airbyte-integrations/connectors/source-aircall/source_aircall/schemas/webhooks.json
  airbyte-integrations/connectors/source-aircall/source_aircall/source.py
  airbyte-integrations/connectors/source-aircall/source_aircall/spec.yaml
  connectors.md
  docs/integrations/sources/aircall.md
Labels: area/documentation, area/connectors, community, bounty, connectors/source/aircall, hackthon-developer-week

#25255 Adds 400 errors and reauth suggestion to Airtable doc
  docs/integrations/sources/airtable.md
Labels: area/documentation

#25275 🐛 Source Jira: Add missing types to issues json schema
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-jira/Dockerfile
  airbyte-integrations/connectors/source-jira/source_jira/schemas/issues.json
  connectors.md
  docs/integrations/sources/jira.md
Labels: area/documentation, area/connectors, community, connectors/source/jira, bounty

#25281 Source Amplitude: Reduce request_time_range
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amplitude/Dockerfile
  airbyte-integrations/connectors/source-amplitude/source_amplitude/components.py
  airbyte-integrations/connectors/source-amplitude/source_amplitude/manifest.yaml
  connectors.md
  docs/integrations/sources/amplitude.md
Labels: area/documentation, area/connectors, connectors/source/amplitude

#25136 Source Stripe: add account stream
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-stripe/Dockerfile
  airbyte-integrations/connectors/source-stripe/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-stripe/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-stripe/integration_tests/full_refresh_configured_catalog.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/accounts.json
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_source.py
  connectors.md
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, connectors/source/stripe

#25142 Remove session token auth section from compatibility guide
  docs/connector-development/config-based/connector-builder-compatibility.md
Labels: area/documentation

#25153 Connector builder: Tutorial
  docs/connector-development/connector-builder-ui/assets/tutorial-global-config.png
  docs/connector-development/connector-builder-ui/assets/tutorial-new-stream.png
  docs/connector-development/connector-builder-ui/assets/tutorial-schema.png
  docs/connector-development/connector-builder-ui/assets/tutorial-sync.png
  docs/connector-development/connector-builder-ui/assets/tutorial-testing-panel.png
  docs/connector-development/connector-builder-ui/assets/tutorial-testing-values.png
  docs/connector-development/connector-builder-ui/assets/tutorial-transformation.png
  docs/connector-development/connector-builder-ui/assets/tutorial-user-input.png
  docs/connector-development/connector-builder-ui/tutorial.mdx
Labels: area/documentation

#25309 Source Hubspot: update expected records
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/hubspot

#25315 source-amplitude: Only fetch date_time_fields once per request
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amplitude/Dockerfile
  airbyte-integrations/connectors/source-amplitude/source_amplitude/components.py
  connectors.md
  docs/integrations/sources/amplitude.md
Labels: area/documentation, area/connectors, connectors/source/amplitude

#24582 postgres-cdc checkpointing: fix LSN parsing bug + refactor for efficiency
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/AirbyteDebeziumHandler.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/CdcTargetPosition.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/AirbyteFileOffsetBackingStore.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/ChangeEventWithMetadata.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/DebeziumEventUtils.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/DebeziumRecordIterator.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/DebeziumStateDecoratingIterator.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/mssql/MssqlCdcTargetPosition.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/mysql/MySqlCdcTargetPosition.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/postgres/PostgresCdcTargetPosition.java
  airbyte-integrations/bases/debezium/src/test/java/io/airbyte/integrations/debezium/DebeziumEventUtilsTest.java
  airbyte-integrations/bases/debezium/src/test/java/io/airbyte/integrations/debezium/internals/DebeziumRecordIteratorTest.java
  airbyte-integrations/connectors/source-alloydb-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-alloydb/Dockerfile
  airbyte-integrations/connectors/source-mssql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mssql/Dockerfile
  airbyte-integrations/connectors/source-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresCdcStateHandler.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  connectors.md
  docs/integrations/sources/alloydb.md
  docs/integrations/sources/mssql.md
  docs/integrations/sources/mysql.md
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/mssql, connectors/source/mysql, connectors/source/postgres, bounty, connectors/source/mssql-strict-encrypt, connectors/source/mysql-strict-encrypt, connectors/source/postgres-strict-encrypt, connectors/source/alloydb, connectors/source/alloydb-strict-encrypt

#25320 Source Twilio: update expected records
  airbyte-integrations/connectors/source-twilio/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/twilio

#25261 Builder documentation: Pagination documentation
  docs/connector-development/connector-builder-ui/pagination.md
Labels: area/documentation

#24642 🐛 Destination AWS Datalake: fix airbyte type in complex data types
  airbyte-config-oss/init-oss/src/main/resources/seed/destination_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/destination_specs.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-integrations/connectors/destination-aws-datalake/Dockerfile
  airbyte-integrations/connectors/destination-aws-datalake/destination_aws_datalake/stream_writer.py
  airbyte-integrations/connectors/destination-aws-datalake/unit_tests/stream_writer_test.py
  connectors.md
  docs/integrations/destinations/aws-datalake.md
Labels: area/documentation, area/connectors, community, bounty, connectors/destination/aws-datalake, pr-alpha-beta

#24689 🎉Source Mailjet-Mail: Add `listrecipient` stream
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mailjet-mail/Dockerfile
  airbyte-integrations/connectors/source-mailjet-mail/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-mailjet-mail/integration_tests/test_catalog.json
  airbyte-integrations/connectors/source-mailjet-mail/source_mailjet_mail/manifest.yaml
  airbyte-integrations/connectors/source-mailjet-mail/source_mailjet_mail/schemas/contacts.json
  airbyte-integrations/connectors/source-mailjet-mail/source_mailjet_mail/schemas/listrecipient.json
  airbyte-integrations/connectors/source-mailjet-mail/source_mailjet_mail/schemas/message.json
  airbyte-integrations/connectors/source-mailjet-mail/source_mailjet_mail/schemas/stats_api_lifetime_message.json
  connectors.md
  docs/integrations/sources/mailjet-mail.md
Labels: area/documentation, area/connectors, community, bounty, connectors/source/mailjet-mail, pr-alpha-beta

#24657 24153 Destination Databricks: Fix support for external tables on S3
  airbyte-config-oss/init-oss/src/main/resources/seed/destination_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/destination_specs.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-integrations/connectors/destination-databricks/Dockerfile
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksStreamCopier.java
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/azure/DatabricksAzureBlobStorageStreamCopier.java
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/azure/DatabricksAzureBlobStorageStreamCopierFactory.java
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/s3/DatabricksS3StreamCopier.java
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/s3/DatabricksS3StreamCopierFactory.java
  airbyte-integrations/connectors/destination-databricks/src/test-integration/java/io/airbyte/integrations/destination/databricks/DatabricksDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-databricks/src/test-integration/java/io/airbyte/integrations/destination/databricks/DatabricksS3DestinationAcceptanceTest.java
  connectors.md
  docs/.gitbook/assets/destination/databricks/databrick_new_cluster.png
  docs/.gitbook/assets/destination/databricks/databricks_add_external_location.png
  docs/.gitbook/assets/destination/databricks/databricks_cluster_connection_details2.png
  docs/.gitbook/assets/destination/databricks/databricks_cluster_details_open.png
  docs/.gitbook/assets/destination/databricks/databricks_generate_token.png
  docs/.gitbook/assets/destination/databricks/databricks_new_external_location.png
  docs/.gitbook/assets/destination/databricks/databricks_new_metastore.png
  docs/.gitbook/assets/destination/databricks/databricks_new_warehouse.png
  docs/.gitbook/assets/destination/databricks/databricks_open_sql_warehouse.png
  docs/.gitbook/assets/destination/databricks/databricks_open_worspace.png
  docs/.gitbook/assets/destination/databricks/databricks_sql_warehouse_connection_details.png
  docs/.gitbook/assets/destination/databricks/databricks_workspace_quciksetup.png
  docs/.gitbook/assets/destination/databricks/databrikcs_metastore_fields.png
  docs/.gitbook/assets/destination/databricks/dtabricks_token_user_new.png
  docs/integrations/destinations/databricks.md
Labels: area/documentation, area/connectors, connectors/destination/databricks, bounty

#25341 Update managing-airbyte-cloud.md
  docs/cloud/managing-airbyte-cloud.md
Labels: area/documentation

#25287 Destination BigQuery + BigQuery denormalized: add configurable file buffer count
  airbyte-config-oss/init-oss/src/main/resources/seed/destination_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/destination_specs.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedGcsDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDestination.java
  airbyte-integrations/connectors/destination-bigquery/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryGcsDestinationAcceptanceTest.java
  connectors.md
  docs/integrations/destinations/bigquery-denormalized.md
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, connectors/destination/bigquery-denormalized

#25345 [JDBC sources] : Log database indexes per stream
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-db/db-lib/src/main/java/io/airbyte/db/jdbc/JdbcConstants.java
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-integrations/connectors/source-mssql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mssql/Dockerfile
  airbyte-integrations/connectors/source-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  connectors.md
  docs/integrations/sources/mssql.md
  docs/integrations/sources/mysql.md
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/mssql, connectors/source/mysql, connectors/source/postgres, connectors/source/jdbc, connectors/source/mssql-strict-encrypt, connectors/source/mysql-strict-encrypt, connectors/source/postgres-strict-encrypt

#25349 update link to `generateResources` readme
  docs/connector-development/README.md
Labels: area/documentation

#19224 Source SFTP-Bulk: Support custom CSV separators
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-sftp-bulk/Dockerfile
  airbyte-integrations/connectors/source-sftp-bulk/integration_tests/files/csv/test_2.csv
  airbyte-integrations/connectors/source-sftp-bulk/integration_tests/integration_test.py
  airbyte-integrations/connectors/source-sftp-bulk/source_sftp_bulk/client.py
  airbyte-integrations/connectors/source-sftp-bulk/source_sftp_bulk/source.py
  airbyte-integrations/connectors/source-sftp-bulk/source_sftp_bulk/spec.json
  airbyte-integrations/connectors/source-sftp-bulk/source_sftp_bulk/streams.py
  connectors.md
  docs/integrations/sources/sftp-bulk.md
Labels: area/documentation, area/connectors, community, bounty, bounty-S, connectors/source/sftp-bulk, pr-alpha-beta

#25317 Source Amplitude: refactor Events stream
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amplitude/Dockerfile
  airbyte-integrations/connectors/source-amplitude/source_amplitude/manifest.yaml
  airbyte-integrations/connectors/source-amplitude/source_amplitude/source.py
  airbyte-integrations/connectors/source-amplitude/source_amplitude/streams.py
  connectors.md
Labels: area/connectors, connectors/source/amplitude

#25290 low-code: Do not apply transforms on AirbyteLogMessages and AirbyteTraceMessages
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_stream.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_declarative_stream.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_manifest_declarative_source.py
Labels: CDK

#25366 Destination Databricks: use hive_metastore if catalog not set
  airbyte-config-oss/init-oss/src/main/resources/seed/destination_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/destination_specs.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-integrations/connectors/destination-databricks/Dockerfile
  airbyte-integrations/connectors/destination-databricks/sample_secrets/config.json
  airbyte-integrations/connectors/destination-databricks/src/main/java/io/airbyte/integrations/destination/databricks/DatabricksDestinationConfig.java
  airbyte-integrations/connectors/destination-databricks/src/test/java/io/airbyte/integrations/destination/databricks/DatabricksDestinationConfigTest.java
  connectors.md
  docs/integrations/destinations/databricks.md
Labels: area/documentation, area/connectors, connectors/destination/databricks

#25385 Source Salesforce: update fields in Account expected_records
  airbyte-integrations/connectors/source-salesforce/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/salesforce

#25387 Source Faker: update expected records
  airbyte-integrations/connectors/source-faker/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/faker

#25388 Source Freshsales: update expected records
  airbyte-integrations/connectors/source-freshsales/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/freshsales

#25392 Source Amplitude: update changelog
  docs/integrations/sources/amplitude.md
Labels: area/documentation

#20897 Source Snapchat Marketing: Add missing story metrics to basic stats
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-snapchat-marketing/Dockerfile
  airbyte-integrations/connectors/source-snapchat-marketing/acceptance-test-config.yml
  airbyte-integrations/connectors/source-snapchat-marketing/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-snapchat-marketing/source_snapchat_marketing/schemas/basic_stats.json
  airbyte-integrations/connectors/source-snapchat-marketing/source_snapchat_marketing/source.py
  connectors.md
  docs/integrations/sources/snapchat-marketing.md
Labels: area/documentation, area/connectors, community, connectors/source/snapchat-marketing, ga, internal, ga-connector-change, gl-review

#25390 Fix Java destination template
  airbyte-integrations/connector-templates/destination-java/Destination.java.hbs
Labels: community, bounty, connectors/destination/libsql

#25238 Connector builder: Incremental sync documentation
  docs/connector-development/connector-builder-ui/incremental-sync.md
  docs/connector-development/connector-builder-ui/tutorial.mdx
Labels: area/documentation

#25267 Conenctor builder: Record processing page
  docs/connector-development/connector-builder-ui/assets/record-processing-schema-diff.png
  docs/connector-development/connector-builder-ui/record-processing.mdx
Labels: area/documentation

#25399 🎉 New Destination: Starburst Galaxy
  airbyte-config-oss/init-oss/src/main/resources/icons/starburst-galaxy.svg
  airbyte-config-oss/init-oss/src/main/resources/seed/destination_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/destination_specs.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-db/db-lib/src/main/java/io/airbyte/db/factory/DatabaseDriver.java
  airbyte-integrations/connectors/destination-starburst-galaxy/.dockerignore
  airbyte-integrations/connectors/destination-starburst-galaxy/BOOTSTRAP.md
  airbyte-integrations/connectors/destination-starburst-galaxy/Dockerfile
  airbyte-integrations/connectors/destination-starburst-galaxy/README.md
  airbyte-integrations/connectors/destination-starburst-galaxy/build.gradle
  airbyte-integrations/connectors/destination-starburst-galaxy/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/destination-starburst-galaxy/sample_secrets/config.json
  airbyte-integrations/connectors/destination-starburst-galaxy/src/main/java/io/airbyte/integrations/destination/starburst_galaxy/ColumnMetadata.java
  airbyte-integrations/connectors/destination-starburst-galaxy/src/main/java/io/airbyte/integrations/destination/starburst_galaxy/HadoopCatalogIcebergS3ParquetWriter.java
  airbyte-integrations/connectors/destination-starburst-galaxy/src/main/java/io/airbyte/integrations/destination/starburst_galaxy/StarburstGalaxyBaseDestination.java
  airbyte-integrations/connectors/destination-starburst-galaxy/src/main/java/io/airbyte/integrations/destination/starburst_galaxy/StarburstGalaxyConstants.java
  airbyte-integrations/connectors/destination-starburst-galaxy/src/main/java/io/airbyte/integrations/destination/starburst_galaxy/StarburstGalaxyDestination.java
  airbyte-integrations/connectors/destination-starburst-galaxy/src/main/java/io/airbyte/integrations/destination/starburst_galaxy/StarburstGalaxyDestinationConfig.java
  airbyte-integrations/connectors/destination-starburst-galaxy/src/main/java/io/airbyte/integrations/destination/starburst_galaxy/StarburstGalaxyDestinationResolver.java
  airbyte-integrations/connectors/destination-starburst-galaxy/src/main/java/io/airbyte/integrations/destination/starburst_galaxy/StarburstGalaxyNameTransformer.java
  airbyte-integrations/connectors/destination-starburst-galaxy/src/main/java/io/airbyte/integrations/destination/starburst_galaxy/StarburstGalaxyS3Destination.java
  airbyte-integrations/connectors/destination-starburst-galaxy/src/main/java/io/airbyte/integrations/destination/starburst_galaxy/StarburstGalaxyS3StagingStorageConfig.java
  airbyte-integrations/connectors/destination-starburst-galaxy/src/main/java/io/airbyte/integrations/destination/starburst_galaxy/StarburstGalaxyS3StreamCopier.java
  airbyte-integrations/connectors/destination-starburst-galaxy/src/main/java/io/airbyte/integrations/destination/starburst_galaxy/StarburstGalaxyS3StreamCopierFactory.java
  airbyte-integrations/connectors/destination-starburst-galaxy/src/main/java/io/airbyte/integrations/destination/starburst_galaxy/StarburstGalaxySqlOperations.java
  airbyte-integrations/connectors/destination-starburst-galaxy/src/main/java/io/airbyte/integrations/destination/starburst_galaxy/StarburstGalaxyStagingStorageConfig.java
  airbyte-integrations/connectors/destination-starburst-galaxy/src/main/java/io/airbyte/integrations/destination/starburst_galaxy/StarburstGalaxyStagingStorageType.java
  airbyte-integrations/connectors/destination-starburst-galaxy/src/main/java/io/airbyte/integrations/destination/starburst_galaxy/StarburstGalaxyStreamCopier.java
  airbyte-integrations/connectors/destination-starburst-galaxy/src/main/java/io/airbyte/integrations/destination/starburst_galaxy/StarburstGalaxyStreamCopierFactory.java
  airbyte-integrations/connectors/destination-starburst-galaxy/src/main/java/io/airbyte/integrations/destination/starburst_galaxy/TableSchema.java
  airbyte-integrations/connectors/destination-starburst-galaxy/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-starburst-galaxy/src/test-integration/java/io/airbyte/integrations/destination/starburst_galaxy/StarburstGalaxyDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-starburst-galaxy/src/test-integration/java/io/airbyte/integrations/destination/starburst_galaxy/StarburstGalaxyS3DestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-starburst-galaxy/src/test-integration/resources/testdata/data-append.json
  airbyte-integrations/connectors/destination-starburst-galaxy/src/test-integration/resources/testdata/data-overwrite.json
  airbyte-integrations/connectors/destination-starburst-galaxy/src/test-integration/resources/testdata/dataV0.json
  airbyte-integrations/connectors/destination-starburst-galaxy/src/test-integration/resources/testdata/dataV1.json
  airbyte-integrations/connectors/destination-starburst-galaxy/src/test-integration/resources/testdata/datatypeV0.json
  airbyte-integrations/connectors/destination-starburst-galaxy/src/test-integration/resources/testdata/datatypeV1.json
  airbyte-integrations/connectors/destination-starburst-galaxy/src/test-integration/resources/testdata/expected-dataV0.json
  airbyte-integrations/connectors/destination-starburst-galaxy/src/test-integration/resources/testdata/expected-dataV1.json
  airbyte-integrations/connectors/destination-starburst-galaxy/src/test-integration/resources/testdata/expected-datatypeV0.json
  airbyte-integrations/connectors/destination-starburst-galaxy/src/test-integration/resources/testdata/expected-datatypeV1.json
  airbyte-integrations/connectors/destination-starburst-galaxy/src/test-integration/resources/testdata/expected-schema-append.json
  airbyte-integrations/connectors/destination-starburst-galaxy/src/test-integration/resources/testdata/expected-schema-overwrite.json
  airbyte-integrations/connectors/destination-starburst-galaxy/src/test-integration/resources/testdata/schema-append.json
  airbyte-integrations/connectors/destination-starburst-galaxy/src/test-integration/resources/testdata/schema-overwrite.json
  airbyte-integrations/connectors/destination-starburst-galaxy/src/test/java/io/airbyte/integrations/destination/starburst_galaxy/StarburstGalaxyDestinationConfigTest.java
  airbyte-integrations/connectors/destination-starburst-galaxy/src/test/java/io/airbyte/integrations/destination/starburst_galaxy/StarburstGalaxyDestinationResolverTest.java
  airbyte-integrations/connectors/destination-starburst-galaxy/src/test/java/io/airbyte/integrations/destination/starburst_galaxy/StarburstGalaxyStagingStorageConfigTest.java
  airbyte-integrations/connectors/destination-starburst-galaxy/src/test/java/io/airbyte/integrations/destination/starburst_galaxy/TypeConversionTest.java
  airbyte-integrations/connectors/destination-starburst-galaxy/src/test/resources/config.json
  airbyte-integrations/connectors/destination-starburst-galaxy/src/test/resources/schemas/type_conversion_test_cases_v0.json
  airbyte-integrations/connectors/destination-starburst-galaxy/src/test/resources/schemas/type_conversion_test_cases_v1.json
  connectors.md
  deps.toml
  docs/integrations/destinations/starburst-galaxy.md
Labels: area/documentation, area/connectors, connectors/destination/starburst-galaxy

#25397 Destination S3 Glue: Fix precision and scale of decimal type
  airbyte-config-oss/init-oss/src/main/resources/seed/destination_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/destination_specs.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-integrations/connectors/destination-s3-glue/Dockerfile
  airbyte-integrations/connectors/destination-s3-glue/src/main/java/io/airbyte/integrations/destination/s3_glue/GlueOperations.java
  connectors.md
  docs/integrations/destinations/s3-glue.md
Labels: area/documentation, area/connectors, connectors/destination/s3-glue

#25377 small docs fixes
  docs/connector-development/README.md
  docs/integrations/destinations/azure-blob-storage.md
  docs/integrations/destinations/cumulio.md
  docs/integrations/destinations/destination-azure-blob-storage.md
Labels: area/documentation

#25117 Add descriptions and examples to component schema
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/models/declarative_component_schema.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/request_option.py
  airbyte-cdk/python/bin/generate-component-manifest-files.sh
Labels: CDK

#25305 Fix and document macros and interpolation variables
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/interpolation/macros.py
  airbyte-cdk/python/unit_tests/sources/declarative/interpolation/test_jinja.py
  airbyte-cdk/python/unit_tests/sources/declarative/interpolation/test_macros.py
Labels: CDK

#25384 Source Twilio: update `messages` stream expected records
  airbyte-integrations/connectors/source-twilio/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/twilio

#23963 🎉 Source Stripe: add SetupIntents stream
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-stripe/Dockerfile
  airbyte-integrations/connectors/source-stripe/acceptance-test-config.yml
  airbyte-integrations/connectors/source-stripe/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-stripe/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-stripe/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/setup_intents.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/subscription_schedule.json
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_source.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_streams.py
  connectors.md
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, community, connectors/source/stripe, bounty, contributor-program, ga-connector-change, gl-review

#25389 Connector builder docs: Adjust stream_slice variable usage
  docs/connector-development/connector-builder-ui/partitioning.md
Labels: area/documentation, team/extensibility

#24888 🎉Source Salesforce: add checkpointing
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-salesforce/Dockerfile
  airbyte-integrations/connectors/source-salesforce/acceptance-test-config.yml
  airbyte-integrations/connectors/source-salesforce/integration_tests/bulk_error_test.py
  airbyte-integrations/connectors/source-salesforce/integration_tests/integration_test.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/source.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/streams.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/api_test.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/conftest.py
  connectors.md
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors, connectors/source/salesforce

#25402 [ISSUE #23994] make MessageGrouper use AirbyteEntrypoint
  airbyte-cdk/python/airbyte_cdk/connector_builder/message_grouper.py
  airbyte-cdk/python/airbyte_cdk/entrypoint.py
  airbyte-cdk/python/unit_tests/connector_builder/test_connector_builder_handler.py
  airbyte-cdk/python/unit_tests/connector_builder/test_message_grouper.py
Labels: CDK

#23389 🐛 Source Stripe: Add customer tax ids to invoices stream
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-stripe/Dockerfile
  airbyte-integrations/connectors/source-stripe/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-stripe/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/invoices.json
  connectors.md
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, community, connectors/source/stripe, bounty, ga-connector-change, gl-review

#25110 🐛 Source Shopify: fix `None` cursor field value, `access_scopes` keyError issue, `JSONDecodeError` issue, mark `datefields` as format of `date`
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-shopify/Dockerfile
  airbyte-integrations/connectors/source-shopify/README.md
  airbyte-integrations/connectors/source-shopify/acceptance-test-config.yml
  airbyte-integrations/connectors/source-shopify/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-shopify/integration_tests/state.json
  airbyte-integrations/connectors/source-shopify/metadata.yaml
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/customers.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/draft_orders.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/fulfillment_orders.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/fulfillments.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/inventory_items.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/inventory_levels.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/locations.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/metafield_blogs.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/metafield_collections.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/order_refunds.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/orders.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/pages.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/price_rules.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/product_images.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/shop.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/tender_transactions.json
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/transactions.json
  airbyte-integrations/connectors/source-shopify/source_shopify/source.py
  airbyte-integrations/connectors/source-shopify/source_shopify/spec.json
  airbyte-integrations/connectors/source-shopify/source_shopify/utils.py
  airbyte-integrations/connectors/source-shopify/unit_tests/conftest.py
  airbyte-integrations/connectors/source-shopify/unit_tests/test_source.py
  airbyte-integrations/connectors/source-shopify/unit_tests/unit_test.py
  connectors.md
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors, connectors/source/shopify
