Repository airbytehq/airbyte, pull requests merged in 2023-08, with the labels that each got.

#28758 Relax Type and Dedupe frequency
  airbyte-integrations/bases/base-typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/TypeAndDedupeOperationValve.java
  airbyte-integrations/bases/base-typing-deduping/src/test/java/io/airbyte/integrations/base/destination/typing_deduping/TypeAndDedupeOperationValveTest.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryStagingConsumerFactory.java
Labels: area/connectors, connectors/destination/bigquery

#28892 Quote cursor name to support uppercase letters (required by postgres)
  airbyte-integrations/connectors/source-alloydb-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-alloydb-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-alloydb/Dockerfile
  airbyte-integrations/connectors/source-alloydb/metadata.yaml
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresQueryUtils.java
  docs/integrations/sources/alloydb.md
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres, connectors/source/postgres-strict-encrypt, connectors/source/alloydb, connectors/source/alloydb-strict-encrypt

#28887 Source Stripe: Add properties to customer_shipping field in invoices stream
  airbyte-integrations/connectors/source-stripe/Dockerfile
  airbyte-integrations/connectors/source-stripe/acceptance-test-config.yml
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/invoices.json
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, connectors/source/stripe

#28905 🐛 Source Chargebee, Delighted: disabled Incremental tests
  airbyte-integrations/connectors/source-chargebee/Dockerfile
  airbyte-integrations/connectors/source-chargebee/README.md
  airbyte-integrations/connectors/source-chargebee/acceptance-test-config.yml
  airbyte-integrations/connectors/source-chargebee/metadata.yaml
  airbyte-integrations/connectors/source-chargebee/setup.py
  airbyte-integrations/connectors/source-delighted/acceptance-test-config.yml
  docs/integrations/sources/chargebee.md
Labels: area/documentation, area/connectors, connectors/source/delighted, connectors/source/chargebee, team/connectors-python

#28908 🐛 Source Monday, Harvest: update expected records
  airbyte-integrations/connectors/source-harvest/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-monday/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/harvest, connectors/source/monday, team/connectors-python

#28786 Source S3: basic structure using file-based CDK
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/setup.py
  airbyte-integrations/connectors/source-s3/source_s3/v4/__init__.py
  airbyte-integrations/connectors/source-s3/source_s3/v4/config.py
  airbyte-integrations/connectors/source-s3/source_s3/v4/stream_reader.py
  airbyte-integrations/connectors/source-s3/unit_tests/v4/__init__.py
  airbyte-integrations/connectors/source-s3/unit_tests/v4/test_config.py
  airbyte-integrations/connectors/source-s3/unit_tests/v4/test_stream_reader.py
  airbyte-integrations/connectors/source-s3/v4_main.py
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3

#25308 Source Zoom: Replace JWT Auth methods with server-to-server Oauth
  airbyte-integrations/connectors/source-zoom/Dockerfile
  airbyte-integrations/connectors/source-zoom/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-zoom/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-zoom/metadata.yaml
  airbyte-integrations/connectors/source-zoom/source_zoom/components.py
  airbyte-integrations/connectors/source-zoom/source_zoom/manifest.yaml
  airbyte-integrations/connectors/source-zoom/source_zoom/spec.yaml
  airbyte-integrations/connectors/source-zoom/unit_tests/test_zoom_authenticator.py
  docs/integrations/sources/zoom.md
Labels: area/documentation, area/connectors, community, team/tse, connectors/source/zoom

#28875 ✨ Source MongoDB Internal POC: Initial commit of new MongoDB source
  airbyte-integrations/connectors/source-mongodb-internal-poc/.dockerignore
  airbyte-integrations/connectors/source-mongodb-internal-poc/Dockerfile
  airbyte-integrations/connectors/source-mongodb-internal-poc/README.md
  airbyte-integrations/connectors/source-mongodb-internal-poc/acceptance-test-config.yml
  airbyte-integrations/connectors/source-mongodb-internal-poc/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-mongodb-internal-poc/build.gradle
  airbyte-integrations/connectors/source-mongodb-internal-poc/icon.svg
  airbyte-integrations/connectors/source-mongodb-internal-poc/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-mongodb-internal-poc/metadata.yaml
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/main/java/io/airbyte/integrations/source/mongodb/internal/MongoDbSource.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/main/resources/spec.json
Labels: area/connectors, connectors/source/mongodb-v3, connectors/source/mongodb-internal-poc

#28917 ✨Reduce log noise
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination_async/FlushWorkers.java
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/snowflake

#28932 ✨ Source MongoDB Internal POC: Discover Operation
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/main/java/io/airbyte/integrations/source/mongodb/internal/MongoConnectionUtils.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/main/java/io/airbyte/integrations/source/mongodb/internal/MongoDbSource.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/main/resources/spec.json
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/test-integration/java/io/airbyte/integrations/source/mongodb/internal/MongoDbSourceAcceptanceTest.java
Labels: area/connectors, connectors/source/mongodb-internal-poc

#28901 Airbyte Datadog integration docs
  docs/operator-guides/assets/DatadogAirbyteIntegration_OutOfTheBox_Dashboard.png
  docs/operator-guides/collecting-metrics.md
Labels: area/documentation

#28545 🐛 source-mssql: support `Read Committed` snapshot isolation level
  airbyte-integrations/connectors/source-mssql/Dockerfile
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcHelper.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/MssqlCdcHelperTest.java
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, connectors/source/mssql, checklist-action-run

#28936 [ISSUE #28782] support multiple cursor field datetime formats
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/incremental/datetime_based_cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/models/declarative_component_schema.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/model_to_component_factory.py
  airbyte-cdk/python/unit_tests/sources/declarative/incremental/test_datetime_based_cursor.py
Labels: CDK

#28902 Add public docs for typing & deduping
  docs/release_notes/assets/destinations-v2-column-changes.png
  docs/release_notes/upgrading_to_destinations_v2.md
  docs/understanding-airbyte/typing-deduping.md
  docusaurus/sidebars.js
Labels: area/documentation

#28833 Docs: Source Google Ads docs update
  docs/integrations/sources/google-ads.inapp.md
  docs/integrations/sources/google-ads.md
Labels: area/documentation, connectors/source/google-ads

#28780 Improve file identification for mypy
  airbyte-cdk/python/bin/run-mypy-on-modified-files.sh
Labels: CDK

#28894 ✨ Destinations V2: open up early access for BigQuery via spec toggle
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/resources/spec.json
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery

#28954 Use full enquoted table name for max cursor query
  airbyte-integrations/connectors/source-alloydb-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-alloydb-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-alloydb/Dockerfile
  airbyte-integrations/connectors/source-alloydb/metadata.yaml
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresQueryUtils.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  docs/integrations/sources/alloydb.md
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres, connectors/source/postgres-strict-encrypt, connectors/source/alloydb, connectors/source/alloydb-strict-encrypt

#28900 File cdk parser and cursor updates
  airbyte-cdk/python/airbyte_cdk/sources/declarative/models/declarative_component_schema.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/parquet_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/cursor/default_file_based_cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/default_file_based_stream.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/avro_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/csv_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/incremental_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/jsonl_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/parquet_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/user_input_schema_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/validation_policy_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/stream/test_default_file_based_cursor.py
Labels: CDK

#28789 connectors-ci: make unhandled error lead to failed report
  airbyte-ci/connectors/pipelines/README.md
  airbyte-ci/connectors/pipelines/pipelines/bases.py
  airbyte-ci/connectors/pipelines/pipelines/contexts.py
  airbyte-ci/connectors/pipelines/pipelines/tests/__init__.py
  airbyte-ci/connectors/pipelines/pyproject.toml
  airbyte-ci/connectors/pipelines/tests/test_bases.py
Labels: connectors/source/openweather

#28854 Python CDK: Relax pydantic version requirement
  airbyte-cdk/python/airbyte_cdk/models/__init__.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/test_config.py
  airbyte-integrations/bases/connector-acceptance-test/CHANGELOG.md
  airbyte-integrations/bases/connector-acceptance-test/Dockerfile
  airbyte-integrations/bases/connector-acceptance-test/connector_acceptance_test/tests/test_core.py
  airbyte-integrations/bases/connector-acceptance-test/unit_tests/test_spec.py
  airbyte-integrations/connectors/source-scaffold-java-jdbc/metadata.yaml
  airbyte-integrations/connectors/source-scaffold-source-http/metadata.yaml
  airbyte-integrations/connectors/source-scaffold-source-python/metadata.yaml
Labels: area/connectors, CDK, connectors/source/scaffold-java-jdbc, connectors/source/scaffold-source-http, connectors/source/scaffold-source-python

#28946 ✨ Source MongoDB Internal POC: Check Operation
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/main/java/io/airbyte/integrations/source/mongodb/internal/MongoConnectionUtils.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/main/java/io/airbyte/integrations/source/mongodb/internal/MongoConstants.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/main/java/io/airbyte/integrations/source/mongodb/internal/MongoDbSource.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/test-integration/java/io/airbyte/integrations/source/mongodb/internal/MongoDbSourceAcceptanceTest.java
Labels: area/connectors, connectors/source/mongodb-internal-poc

#28959 🐛 Destination bigquery v2: Fix _ab_cdc_deleted_at handling in non-dedup modes
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGenerator.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGeneratorIntegrationTest.java
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, checklist-action-run

#27050 🐛 Source Amazon Seller Partner: Fix non vendor accounts connector create/check issue
  airbyte-integrations/connectors/source-amazon-seller-partner/Dockerfile
  airbyte-integrations/connectors/source-amazon-seller-partner/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation, area/connectors, community, connectors/source/amazon-seller-partner, team/tse

#29004 p0-stripe-object-nodes-23-08-02 - revert stripe to 3.15.0
  airbyte-integrations/connectors/source-stripe/metadata.yaml
Labels: area/connectors, connectors/source/stripe

#28947 airbyte-ci: add dagger run url
  airbyte-ci/connectors/pipelines/README.md
  airbyte-ci/connectors/pipelines/pipelines/bases.py
  airbyte-ci/connectors/pipelines/pipelines/contexts.py
  airbyte-ci/connectors/pipelines/pipelines/dagger_run.py
  airbyte-ci/connectors/pipelines/pipelines/tests/templates/test_report.html.j2
  airbyte-ci/connectors/pipelines/pyproject.toml
Labels: connectors/source/faker

#29006 ✨ Source MongoDB Internal POC: Code Cleanup
  airbyte-integrations/connectors/source-mongodb-internal-poc/build.gradle
  airbyte-integrations/connectors/source-mongodb-internal-poc/metadata.yaml
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/main/java/io/airbyte/integrations/source/mongodb/internal/MongoConnectionUtils.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/main/java/io/airbyte/integrations/source/mongodb/internal/MongoDbSource.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/main/java/io/airbyte/integrations/source/mongodb/internal/MongoUtil.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/main/resources/spec.json
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/test/java/io/airbyte/integrations/source/mongodb/internal/MongoDbSourceTest.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/test/resources/authorized_collections_response.json
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/test/resources/no_authorized_collections_response.json
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/test/resources/schema_discovery_response.json
Labels: area/connectors, connectors/source/mongodb-internal-poc

#28976 🐛 Destinations snowflake + bigquery: only parse catalog in 1s1t mode
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDestination.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryStagingConsumerFactory.java
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeGcsStagingDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeS3StagingDestination.java
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, connectors/destination/snowflake, checklist-action-run

#28910 🐛 Source Github, Instagram, Zendesk-support, Zendesk-talk: fix CAT tests fail on `spec`
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/source_github/spec.json
  airbyte-integrations/connectors/source-instagram/Dockerfile
  airbyte-integrations/connectors/source-instagram/integration_tests/spec.json
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  airbyte-integrations/connectors/source-instagram/source_instagram/source.py
  airbyte-integrations/connectors/source-zendesk-support/Dockerfile
  airbyte-integrations/connectors/source-zendesk-support/README.md
  airbyte-integrations/connectors/source-zendesk-support/acceptance-test-config.yml
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/spec.json
  airbyte-integrations/connectors/source-zendesk-talk/Dockerfile
  airbyte-integrations/connectors/source-zendesk-talk/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/spec.json
  docs/integrations/sources/github.md
  docs/integrations/sources/instagram.md
  docs/integrations/sources/zendesk-support.md
  docs/integrations/sources/zendesk-talk.md
Labels: area/documentation, area/connectors, connectors/source/github, connectors/source/instagram, connectors/source/zendesk-support, connectors/source/zendesk-talk, team/connectors-python

#29019 🎉 Source Amazon Ads: Update docs
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation

#28873 CDK: Embedded reader utils
  airbyte-cdk/python/airbyte_cdk/sources/embedded/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/embedded/base_integration.py
  airbyte-cdk/python/airbyte_cdk/sources/embedded/catalog.py
  airbyte-cdk/python/airbyte_cdk/sources/embedded/runner.py
  airbyte-cdk/python/airbyte_cdk/sources/embedded/tools.py
  airbyte-cdk/python/unit_tests/sources/embedded/test_embedded_integration.py
Labels: CDK

#28657 🚨🚨 Low code CDK: Decouple SimpleRetriever and HttpStream
  airbyte-cdk/python/airbyte_cdk/connector_builder/connector_builder_handler.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/auth/token_provider.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_stream.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/model_to_component_factory.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/http_requester.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/no_pagination.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/paginator.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/requester.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/retrievers/retriever.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/retrievers/simple_retriever.py
  airbyte-cdk/python/airbyte_cdk/utils/mapping_helpers.py
  airbyte-cdk/python/unit_tests/connector_builder/test_connector_builder_handler.py
  airbyte-cdk/python/unit_tests/sources/declarative/incremental/test_per_partition_cursor_integration.py
  airbyte-cdk/python/unit_tests/sources/declarative/parsers/test_model_to_component_factory.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/test_http_requester.py
  airbyte-cdk/python/unit_tests/sources/declarative/retrievers/test_simple_retriever.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_manifest_declarative_source.py
  airbyte-cdk/python/unit_tests/utils/test_mapping_helpers.py
Labels: CDK

#29031 🐛 Source Github, Instagram, Zendesk Support / Talk - revert `spec` changes and improve
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/source_github/spec.json
  airbyte-integrations/connectors/source-instagram/Dockerfile
  airbyte-integrations/connectors/source-instagram/acceptance-test-config.yml
  airbyte-integrations/connectors/source-instagram/integration_tests/spec.json
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  airbyte-integrations/connectors/source-instagram/source_instagram/source.py
  airbyte-integrations/connectors/source-zendesk-support/Dockerfile
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/spec.json
  airbyte-integrations/connectors/source-zendesk-talk/Dockerfile
  airbyte-integrations/connectors/source-zendesk-talk/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/spec.json
  docs/integrations/sources/github.md
  docs/integrations/sources/instagram.md
  docs/integrations/sources/zendesk-support.md
  docs/integrations/sources/zendesk-talk.md
Labels: area/documentation, area/connectors, connectors/source/github, connectors/source/instagram, connectors/source/zendesk-support, connectors/source/zendesk-talk, team/connectors-python

#29001 Source oauth0: new streams and fix incremental
  airbyte-integrations/connectors/source-auth0/Dockerfile
  airbyte-integrations/connectors/source-auth0/acceptance-test-config.yml
  airbyte-integrations/connectors/source-auth0/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-auth0/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-auth0/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-auth0/metadata.yaml
  airbyte-integrations/connectors/source-auth0/source_auth0/schemas/clients.json
  airbyte-integrations/connectors/source-auth0/source_auth0/schemas/organization_member_roles.json
  airbyte-integrations/connectors/source-auth0/source_auth0/schemas/organization_members.json
  airbyte-integrations/connectors/source-auth0/source_auth0/schemas/organizations.json
  airbyte-integrations/connectors/source-auth0/source_auth0/schemas/users.json
  airbyte-integrations/connectors/source-auth0/source_auth0/source.py
  airbyte-integrations/connectors/source-auth0/unit_tests/conftest.py
  airbyte-integrations/connectors/source-auth0/unit_tests/test_source.py
  airbyte-integrations/connectors/source-auth0/unit_tests/test_streams.py
  docs/integrations/sources/auth0.md
Labels: area/documentation, area/connectors, connectors/source/auth0, checklist-action-run

#28816 🐛 Source Mongo: Fix failing acceptance tests
  airbyte-integrations/connectors/source-mongodb-strict-encrypt/src/test-integration/java/io/airbyte/integrations/source/mongodb/MongodbSourceStrictEncryptAcceptanceTest.java
  airbyte-integrations/connectors/source-mongodb-strict-encrypt/src/test-integration/resources/expected_spec.json
  airbyte-integrations/connectors/source-mongodb-v2/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/MongoDbSourceAtlasAcceptanceTest.java
Labels: area/connectors, connectors/source/mongodb-v2, connectors/source/mongodb-strict-encrypt

#28969 Source-Greenhouse: Fix unit tests for new CDK version
  airbyte-integrations/connectors/source-greenhouse/Dockerfile
  airbyte-integrations/connectors/source-greenhouse/metadata.yaml
  airbyte-integrations/connectors/source-greenhouse/unit_tests/test_streams.py
  docs/integrations/sources/greenhouse.md
Labels: area/documentation, area/connectors, connectors/source/greenhouse

#29051 Update Cloud Docs to "Extract" and "Load"
  docs/cloud/managing-airbyte-cloud/review-sync-summary.md
Labels: area/documentation

#26580 Proof of concept parallel source stream reading implementation for MySQL
  airbyte-commons/src/main/java/io/airbyte/commons/features/EnvVariableFeatureFlags.java
  airbyte-commons/src/main/java/io/airbyte/commons/features/FeatureFlags.java
  airbyte-commons/src/main/java/io/airbyte/commons/stream/StreamStatusUtils.java
  airbyte-commons/src/main/java/io/airbyte/commons/util/AutoCloseableIterator.java
  airbyte-commons/src/main/java/io/airbyte/commons/util/AutoCloseableIterators.java
  airbyte-commons/src/main/java/io/airbyte/commons/util/CompositeIterator.java
  airbyte-commons/src/main/java/io/airbyte/commons/util/DefaultAutoCloseableIterator.java
  airbyte-commons/src/main/java/io/airbyte/commons/util/LazyAutoCloseableIterator.java
  airbyte-commons/src/test/java/io/airbyte/commons/stream/StreamStatusUtilsTest.java
  airbyte-commons/src/test/java/io/airbyte/commons/util/AutoCloseableIteratorsTest.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/IntegrationRunner.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/Source.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/spec_modification/SpecModifyingSource.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/ssh/SshWrappedSource.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/util/concurrent/ConcurrentStreamConsumer.java
  airbyte-integrations/bases/base-java/src/test/java/io/airbyte/integrations/base/IntegrationRunnerTest.java
  airbyte-integrations/bases/base-java/src/test/java/io/airbyte/integrations/util/concurrent/ConcurrentStreamConsumerTest.java
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/AbstractDbSource.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/state/CursorManager.java
Labels: area/connectors, connectors/source/mysql, connectors/source/jdbc, connectors/source/relational-db

#29059 Datadog docs update
  docs/operator-guides/collecting-metrics.md
Labels: area/documentation

#29049 ✨ Source MongoDB Internal POC: Generate Test Data
  airbyte-integrations/connectors/source-mongodb-internal-poc/README.md
  airbyte-integrations/connectors/source-mongodb-internal-poc/build.gradle
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/test/kotlin/MongoDbInsertClient.kt
Labels: area/connectors, connectors/source/mongodb-internal-poc

#28964 Bump versions for mssql strict-encrypt
  airbyte-integrations/connectors/source-mssql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mssql-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceTest.java
Labels: area/connectors, connectors/source/mssql, connectors/source/mssql-strict-encrypt

#28882 🎨 Improve replication method selection UX
  airbyte-ci/connectors/metadata_service/orchestrator/tests/fixtures/cloud_registry.json
  airbyte-ci/connectors/metadata_service/orchestrator/tests/fixtures/oss_registry.json
  airbyte-integrations/connectors/source-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-mysql-strict-encrypt/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/src/main/resources/spec.json
  airbyte-integrations/connectors/source-mysql/src/test-integration/resources/expected_spec.json
  docs/integrations/sources/mysql.md
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/connectors, connectors/source/mysql, connectors/source/mysql-strict-encrypt

#29047 🐛 Avoid writing records to log
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination_async/AsyncStreamConsumer.java
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/snowflake

#28708 Rollout ctid cdc
  airbyte-commons/src/main/java/io/airbyte/commons/util/AutoCloseableIterators.java
  airbyte-integrations/connectors/source-alloydb-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-alloydb-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-alloydb/Dockerfile
  airbyte-integrations/connectors/source-alloydb/metadata.yaml
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidFeatureFlags.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractPostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcInitialSnapshotPostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcPostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcWalLogsPostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/XminPostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CtidEnabledCdcPostgresSourceTest.java
  docs/integrations/sources/alloydb.md
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres, connectors/source/postgres-strict-encrypt, connectors/source/alloydb, connectors/source/alloydb-strict-encrypt

#29064 connectors-ci: fix `unhashable type 'set'`
  airbyte-ci/connectors/pipelines/README.md
  airbyte-ci/connectors/pipelines/pipelines/bases.py
  airbyte-ci/connectors/pipelines/pipelines/commands/groups/tests.py
  airbyte-ci/connectors/pipelines/pipelines/utils.py
  airbyte-ci/connectors/pipelines/pyproject.toml
  airbyte-ci/connectors/pipelines/tests/conftest.py
  airbyte-ci/connectors/pipelines/tests/test_gradle.py
  airbyte-ci/connectors/pipelines/tests/test_utils.py
Labels: connectors/source/postgres, connectors/source/openweather

#28890 1s1t: Refactor sqlgenerator integration test
  airbyte-commons/src/main/java/io/airbyte/commons/util/AutoCloseableIterators.java
  airbyte-integrations/bases/base-typing-deduping-test/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/BaseSqlGeneratorIntegrationTest.java
  airbyte-integrations/bases/base-typing-deduping-test/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/BaseTypingDedupingTest.java
  airbyte-integrations/bases/base-typing-deduping-test/src/main/resources/dat/schema.json
  airbyte-integrations/bases/base-typing-deduping-test/src/main/resources/dat/sync1_cursorchange_messages.jsonl
  airbyte-integrations/bases/base-typing-deduping-test/src/main/resources/dat/sync1_messages.jsonl
  airbyte-integrations/bases/base-typing-deduping-test/src/main/resources/dat/sync2_messages.jsonl
  airbyte-integrations/bases/base-typing-deduping-test/src/main/resources/sqlgenerator/alltypes_inputrecords.jsonl
  airbyte-integrations/bases/base-typing-deduping-test/src/main/resources/sqlgenerator/cdcordering_insertafterdelete_inputrecords_final.jsonl
  airbyte-integrations/bases/base-typing-deduping-test/src/main/resources/sqlgenerator/cdcordering_insertafterdelete_inputrecords_raw.jsonl
  airbyte-integrations/bases/base-typing-deduping-test/src/main/resources/sqlgenerator/cdcordering_updateafterdelete_inputrecords.jsonl
  airbyte-integrations/bases/base-typing-deduping-test/src/main/resources/sqlgenerator/cdcupdate_inputrecords_final.jsonl
  airbyte-integrations/bases/base-typing-deduping-test/src/main/resources/sqlgenerator/cdcupdate_inputrecords_raw.jsonl
  airbyte-integrations/bases/base-typing-deduping-test/src/main/resources/sqlgenerator/incrementaldedup_inputrecords.jsonl
  airbyte-integrations/bases/base-typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/StreamId.java
  airbyte-integrations/bases/base-typing-deduping/src/test/java/io/airbyte/integrations/base/destination/typing_deduping/MockSqlGenerator.java
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGenerator.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGeneratorIntegrationTest.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/dat/sync1_cursorchange_expectedrecords_dedup_final.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/dat/sync1_cursorchange_expectedrecords_dedup_raw.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/dat/sync1_expectedrecords_dedup_final.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/dat/sync1_expectedrecords_dedup_raw.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/dat/sync1_expectedrecords_nondedup_final.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/dat/sync1_expectedrecords_nondedup_raw.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/dat/sync2_cursorchange_expectedrecords_incremental_dedup_final.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/dat/sync2_cursorchange_expectedrecords_incremental_dedup_raw.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_append_final.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_append_raw.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_overwrite_final.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_overwrite_raw.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/dat/sync2_expectedrecords_incremental_dedup_final.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/dat/sync2_expectedrecords_incremental_dedup_raw.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/sqlgenerator/alltypes_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/sqlgenerator/alltypes_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/sqlgenerator/incrementaldedup_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/sqlgenerator/incrementaldedup_expectedrecords_raw.jsonl
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery

#28980 airbyte-cdk: allow Entrypoint to extract config
  airbyte-cdk/python/airbyte_cdk/entrypoint.py
Labels: CDK

#29042 🐛 Source Facebook-Marketing: fix broken `OAuth` references in `spec`
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/spec.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing, team/connectors-python

#29065 Source S3: add defaults to file types to fix `spec` CATs
  airbyte-integrations/connectors/source-s3/integration_tests/spec.json
Labels: area/connectors, connectors/source/s3

#29027 File-based CDK: allow FileBasedSource to take a Cursor object
  airbyte-cdk/python/airbyte_cdk/sources/file_based/availability_strategy/default_file_based_availability_strategy.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_based_source.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/cursor/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/cursor/abstract_file_based_cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/cursor/default_file_based_cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/default_file_based_stream.py
  airbyte-cdk/python/unit_tests/sources/file_based/helpers.py
  airbyte-cdk/python/unit_tests/sources/file_based/in_memory_files_source.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/incremental_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/scenario_builder.py
  airbyte-cdk/python/unit_tests/sources/file_based/stream/test_default_file_based_cursor.py
Labels: CDK

#29081 connectors-ci: auto retry on `DaggerError`
  airbyte-ci/connectors/pipelines/pipelines/bases.py
  airbyte-ci/connectors/pipelines/tests/test_bases.py
Labels: connectors/source/openweather

#29044 ✨ Source MongoDB Internal POC: Source Defined Cursor
  airbyte-integrations/connectors/source-mongodb-internal-poc/build.gradle
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/main/java/io/airbyte/integrations/source/mongodb/internal/MongoCatalogHelper.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/main/java/io/airbyte/integrations/source/mongodb/internal/MongoUtil.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/test/java/io/airbyte/integrations/source/mongodb/internal/MongoCatalogHelperTest.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/test/java/io/airbyte/integrations/source/mongodb/internal/MongoDbSourceTest.java
Labels: area/connectors, connectors/source/mongodb-internal-poc

#29089 🐛 Destination bigquery 1s1t: wrap jsonpath fieldname in quotes
  airbyte-integrations/bases/base-typing-deduping-test/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/BaseSqlGeneratorIntegrationTest.java
  airbyte-integrations/bases/base-typing-deduping-test/src/main/resources/sqlgenerator/weirdcolumnnames_inputrecords_raw.jsonl
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGenerator.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/sqlgenerator/weirdcolumnnames_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/sqlgenerator/weirdcolumnnames_expectedrecords_raw.jsonl
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, checklist-action-run

#29067 ✨ Source MongoDB Internal POC: Survey documents for discover schema
  airbyte-integrations/connectors/source-mongodb-internal-poc/metadata.yaml
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/main/java/io/airbyte/integrations/source/mongodb/internal/MongoUtil.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/test-integration/java/io/airbyte/integrations/source/mongodb/internal/MongoDbSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/test/java/io/airbyte/integrations/source/mongodb/internal/MongoDbSourceTest.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/test/resources/schema_discovery_response.json
Labels: area/connectors, connectors/source/mongodb-internal-poc

#28770 ✨ Source Shopify: add new stream Disputes
  airbyte-integrations/connectors/source-shopify/Dockerfile
  airbyte-integrations/connectors/source-shopify/acceptance-test-config.yml
  airbyte-integrations/connectors/source-shopify/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-shopify/metadata.yaml
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/disputes.json
  airbyte-integrations/connectors/source-shopify/source_shopify/source.py
  airbyte-integrations/connectors/source-shopify/source_shopify/utils.py
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors, community, connectors/source/shopify, team/tse

#28757 source-mysql : CDC PK snapshotting
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/CdcMetadataInjector.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/mysql/MySqlDebeziumStateUtil.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcConnectorMetadataInjector.java
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlCdcConnectorMetadataInjector.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlCdcProperties.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlCdcSavedInfoFetcher.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlFeatureFlags.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialLoadGlobalStateManager.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialLoadHandler.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialLoadSourceOperations.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialLoadStateManager.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialReadUtil.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialSyncStateIterator.java
  airbyte-integrations/connectors/source-mysql/src/main/resources/internal_models/internal_models.yaml
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/CdcMysqlSourceTest.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/InitialPkLoadEnabledCdcMysqlSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/cdc/PostgresCdcConnectorMetadataInjector.java
Labels: area/connectors, connectors/source/mssql, connectors/source/mysql, connectors/source/postgres

#29025 Fix title & description of datetime_format field
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/models/declarative_component_schema.py
Labels: CDK

#29106 🐛 Destination bigquery 1s1t: handle erroneous cdc deletion record
  airbyte-integrations/bases/base-typing-deduping-test/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/BaseSqlGeneratorIntegrationTest.java
  airbyte-integrations/bases/base-typing-deduping-test/src/main/resources/sqlgenerator/cdcupdate_inputrecords_raw.jsonl
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGenerator.java
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery

#29069 Source S3: Add a few more CAT tests
  airbyte-integrations/connectors/source-s3/acceptance-test-config.yml
  airbyte-integrations/connectors/source-s3/integration_tests/expected_records/legacy_csv_custom_encoding.jsonl
  airbyte-integrations/connectors/source-s3/integration_tests/expected_records/legacy_csv_custom_format.jsonl
  airbyte-integrations/connectors/source-s3/integration_tests/expected_records/legacy_csv_no_header.jsonl
  airbyte-integrations/connectors/source-s3/integration_tests/expected_records/legacy_csv_skip_rows.jsonl
  airbyte-integrations/connectors/source-s3/integration_tests/expected_records/legacy_csv_user_schema.jsonl
  airbyte-integrations/connectors/source-s3/integration_tests/expected_records/legacy_csv_with_nulls.jsonl
  airbyte-integrations/connectors/source-s3/integration_tests/sample_files/csvfile/csv_encoded_as_cp1252.csv
  airbyte-integrations/connectors/source-s3/integration_tests/sample_files/csvfile/csv_with_nulls.csv
  airbyte-integrations/connectors/source-s3/integration_tests/sample_files/csvfile/custom_format.csv
  airbyte-integrations/connectors/source-s3/integration_tests/sample_files/csvfile/datatypes.csv
  airbyte-integrations/connectors/source-s3/integration_tests/sample_files/csvfile/no_header.csv
  airbyte-integrations/connectors/source-s3/integration_tests/sample_files/csvfile/skip_rows.csv
Labels: area/connectors, connectors/source/s3

#28729 dagger/connectors-ci: use kwargs for optional arguments
  airbyte-ci/connectors/pipelines/README.md
  airbyte-ci/connectors/pipelines/pipelines/actions/environments.py
  airbyte-ci/connectors/pipelines/pipelines/actions/remote_storage.py
  airbyte-ci/connectors/pipelines/pipelines/gradle.py
  airbyte-ci/connectors/pipelines/pipelines/hacks.py
  airbyte-ci/connectors/pipelines/pipelines/publish.py
  airbyte-ci/connectors/pipelines/pyproject.toml
  airbyte-ci/connectors/pipelines/tests/tests/test_common.py
Labels: team/connector-ops

#28909 ✨ Source Hubspot: handle connection errors
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/source_hubspot/errors.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/source.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_source.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot

#29045 Source LinkedIn Ads: move to next releaseStage
  airbyte-integrations/connectors/source-linkedin-ads/Dockerfile
  airbyte-integrations/connectors/source-linkedin-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-linkedin-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-linkedin-ads/metadata.yaml
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/schemas/campaign_groups.json
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/schemas/campaigns.json
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/schemas/creatives.json
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/source.py
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/streams.py
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/utils.py
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/source_tests/test_source.py
  docs/integrations/sources/linkedin-ads.md
Labels: area/documentation, area/connectors, connectors/source/linkedin-ads

#29160 :memo: chore(zendesk): Update zendesk doc
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, community

#29146 🤖 Cloud Availability updater: new connectors to deploy [20230807]
  airbyte-integrations/connectors/source-clockify/metadata.yaml
Labels: area/connectors, team/connector-ops, connectors/source/clockify, cloud-availability-updater

#28677 Destination snowflake: mostly done implementations for sqlgenerator+destinationhandler
  airbyte-integrations/bases/base-java-s3/src/main/java/io/airbyte/integrations/destination/s3/csv/StagingDatabaseCsvSheetGenerator.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/JavaBaseConstants.java
  airbyte-integrations/bases/base-typing-deduping-test/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/BaseSqlGeneratorIntegrationTest.java
  airbyte-integrations/bases/base-typing-deduping-test/src/main/resources/sqlgenerator/cdcupdate_inputrecords_final.jsonl
  airbyte-integrations/bases/bases-destination-jdbc/src/main/java/io/airbyte/integrations/destination/staging/GeneralStagingFunctions.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGeneratorIntegrationTest.java
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeGcsStagingDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeS3StagingDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeColumn.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeDestinationHandler.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGenerator.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeTableDefinition.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeInsertDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeTestSourceOperations.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeTestUtils.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/typing_deduping/AbstractSnowflakeTypingDedupingTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGeneratorIntegrationTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync1_cursorchange_expectedrecords_dedup_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync1_cursorchange_expectedrecords_dedup_raw.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync1_expectedrecords_dedup_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync1_expectedrecords_dedup_raw.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync1_expectedrecords_nondedup_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync1_expectedrecords_nondedup_raw.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_cursorchange_expectedrecords_incremental_dedup_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_cursorchange_expectedrecords_incremental_dedup_raw.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_append_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_append_raw.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_overwrite_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_overwrite_raw.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_expectedrecords_incremental_dedup_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_expectedrecords_incremental_dedup_raw.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/sqlgenerator/alltypes_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/sqlgenerator/alltypes_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/sqlgenerator/incrementaldedup_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/sqlgenerator/incrementaldedup_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/sqlgenerator/weirdcolumnnames_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/sqlgenerator/weirdcolumnnames_expectedrecords_raw.jsonl
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, connectors/destination/snowflake, checklist-action-run

#29163 🐛 Source Twilio, Woocommerce: fix `expected_records`
  airbyte-integrations/connectors/source-twilio/acceptance-test-config.yml
  airbyte-integrations/connectors/source-twilio/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-woocommerce/acceptance-test-config.yml
  airbyte-integrations/connectors/source-woocommerce/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/twilio, connectors/source/woocommerce, team/connectors-python, checklist-action-run

#29187 Source Hubspot: revert to 1.2.0
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
Labels: area/connectors, connectors/source/hubspot

#29192 Source Hubspot: revert latest public version to 1.2.0
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
Labels: area/connectors, connectors/source/hubspot

#28845 Add start_date to all file-based configs
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/abstract_file_based_spec.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/exceptions.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_based_stream_reader.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/default_file_based_stream.py
  airbyte-cdk/python/unit_tests/sources/file_based/in_memory_files_source.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/csv_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/test_file_based_stream_reader.py
  airbyte-cdk/python/unit_tests/sources/file_based/test_scenarios.py
Labels: CDK

#29189 Source LinkedIn Ads: fix empty accounts
  airbyte-integrations/connectors/source-linkedin-ads/Dockerfile
  airbyte-integrations/connectors/source-linkedin-ads/metadata.yaml
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/streams.py
  docs/integrations/sources/linkedin-ads.md
Labels: area/documentation, area/connectors, connectors/source/linkedin-ads

#29206 🐛 Source Close-Com: fix `DatePicker` format issue with `Start Date`
  airbyte-integrations/connectors/source-close-com/Dockerfile
  airbyte-integrations/connectors/source-close-com/metadata.yaml
  airbyte-integrations/connectors/source-close-com/source_close_com/spec.json
  docs/integrations/sources/close-com.md
Labels: area/documentation, area/connectors, connectors/source/close-com, team/connectors-python

#29168 ✨ Source Mongodb POC: Ignore data type for discovered field uniqueness
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/main/java/io/airbyte/integrations/source/mongodb/internal/MongoField.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/main/java/io/airbyte/integrations/source/mongodb/internal/MongoUtil.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/test-integration/java/io/airbyte/integrations/source/mongodb/internal/MongoDbSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/test/java/io/airbyte/integrations/source/mongodb/internal/MongoUtilTest.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/test/resources/schema_discovery_response_different_datatypes.json
Labels: area/connectors, connectors/source/mongodb-internal-poc

#29013 mysql-cdc:implementation to validate that saved offset still exists on server
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/mysql/MySqlDebeziumStateUtil.java
  airbyte-integrations/bases/debezium/src/test/java/io/airbyte/integrations/debezium/internals/MysqlDebeziumStateUtilTest.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialReadUtil.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/CdcMysqlSourceTest.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/InitialPkLoadEnabledCdcMysqlSourceTest.java
Labels: area/connectors, connectors/source/mysql

#29182 Avro parser: return Decimal fields as strings
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/avro_format.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/avro_parser.py
  airbyte-cdk/python/unit_tests/sources/file_based/file_types/test_avro_parser.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/avro_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/csv_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/test_scenarios.py
Labels: CDK

#29191 Parquet parser return Decimal fields as strings
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/parquet_parser.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/avro_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/parquet_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/test_scenarios.py
Labels: CDK

#29103 Source Google Analytics GA4: update spec file
  airbyte-integrations/connectors/source-google-analytics-data-api/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/spec.json
  docs/integrations/sources/google-analytics-data-api.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-data-api

#29179 Docs: Source Google Analytics (GA4) docs update
  docs/integrations/sources/google-analytics-data-api.md
Labels: area/documentation, connectors/source/google-analytics-data-api

#29229 update state copy info
  docs/release_notes/assets/airbyte_connection_update_state.png
  docs/release_notes/upgrading_to_destinations_v2.md
Labels: area/documentation

#29210 Amazon Seller Partner: new stream `orderitems`
  airbyte-integrations/connectors/source-amazon-seller-partner/Dockerfile
  airbyte-integrations/connectors/source-amazon-seller-partner/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_incremental.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/future_state.json
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/OrderItems.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_order_items_stream.py
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation, area/connectors, connectors/source/amazon-seller-partner, checklist-action-run

#29218 Source Chargify: fix schemas and spec
  airbyte-integrations/connectors/source-chargify/Dockerfile
  airbyte-integrations/connectors/source-chargify/acceptance-test-config.yml
  airbyte-integrations/connectors/source-chargify/metadata.yaml
  airbyte-integrations/connectors/source-chargify/source_chargify/schemas/customers.json
  airbyte-integrations/connectors/source-chargify/source_chargify/schemas/subscriptions.json
  airbyte-integrations/connectors/source-chargify/source_chargify/spec.json
  docs/integrations/sources/chargify.md
Labels: area/documentation, area/connectors, connectors/source/chargify, checklist-action-run

#29220 🎨 Source MySQL: Add 'Recommended' before CDC description
  airbyte-ci/connectors/metadata_service/orchestrator/tests/fixtures/cloud_registry.json
  airbyte-ci/connectors/metadata_service/orchestrator/tests/fixtures/oss_registry.json
  airbyte-integrations/connectors/source-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-mysql-strict-encrypt/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/src/main/resources/spec.json
  airbyte-integrations/connectors/source-mysql/src/test-integration/resources/expected_spec.json
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, connectors/source/mysql, connectors/source/mysql-strict-encrypt

#29075 🐛 [file based cdk] Fix S3 and abstract spec to be compatible with Airbyte UI and CAT
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/abstract_file_based_spec.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/avro_format.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/csv_format.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/file_based_stream_config.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/jsonl_format.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/parquet_format.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_based_source.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/avro_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/csv_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/parquet_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/schema_validation_policies/default_schema_validation_policies.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/default_file_based_stream.py
  airbyte-cdk/python/unit_tests/sources/file_based/config/test_file_based_stream_config.py
  airbyte-cdk/python/unit_tests/sources/file_based/file_types/test_parquet_parser.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/avro_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/check_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/csv_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/incremental_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/jsonl_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/parquet_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/user_input_schema_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/validation_policy_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/schema_validation_policies/test_default_schema_validation_policy.py
  airbyte-cdk/python/unit_tests/sources/file_based/stream/test_default_file_based_cursor.py
  airbyte-cdk/python/unit_tests/sources/file_based/test_scenarios.py
  airbyte-integrations/connectors/source-s3/source_s3/v4/config.py
  airbyte-integrations/connectors/source-s3/unit_tests/v4/test_config.py
  airbyte-integrations/connectors/source-s3/unit_tests/v4/test_stream_reader.py
Labels: area/connectors, CDK, connectors/source/s3

#29213 Source faker: change some fields to be integer
  airbyte-integrations/connectors/source-faker/Dockerfile
  airbyte-integrations/connectors/source-faker/acceptance-test-config.yml
  airbyte-integrations/connectors/source-faker/integration_tests/catalog.json
  airbyte-integrations/connectors/source-faker/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/source_faker/schemas/products.json
  airbyte-integrations/connectors/source-faker/source_faker/schemas/purchases.json
  airbyte-integrations/connectors/source-faker/source_faker/schemas/users.json
  airbyte-integrations/connectors/source-faker/unit_tests/unit_test.py
  docs/integrations/sources/faker-migrations.md
  docs/integrations/sources/faker.md
Labels: area/documentation, area/connectors, connectors/source/faker

#29188 Staging destinations: Simplify default namespace handling
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination_async/AsyncStreamConsumer.java
  airbyte-integrations/bases/base-java/src/test/java/io/airbyte/integrations/destination_async/AsyncStreamConsumerTest.java
  airbyte-integrations/bases/bases-destination-jdbc/src/main/java/io/airbyte/integrations/destination/staging/StagingConsumerFactory.java
  airbyte-integrations/connectors/destination-redshift/Dockerfile
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftStagingS3Destination.java
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeGcsStagingDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeS3StagingDestination.java
  docs/integrations/destinations/redshift.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/snowflake, connectors/destination/redshift

#28291 🎉 Source Shopify: updated `OAuth Spec`, allow `*.myshopify.com` shop names for `input configuration`
  airbyte-integrations/connectors/source-shopify/Dockerfile
  airbyte-integrations/connectors/source-shopify/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-shopify/metadata.yaml
  airbyte-integrations/connectors/source-shopify/source_shopify/source.py
  airbyte-integrations/connectors/source-shopify/source_shopify/spec.json
  airbyte-integrations/connectors/source-shopify/unit_tests/test_source.py
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors, connectors/source/shopify, team/connectors-python

#29245 🐛 Source Greenhouse, Xero: fix `expected records`
  airbyte-integrations/connectors/source-greenhouse/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-xero/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/greenhouse, team/connectors-python, connectors/source/xero

#29023 Source Sentry: Add incremental for issues stream
  airbyte-integrations/connectors/source-sentry/Dockerfile
  airbyte-integrations/connectors/source-sentry/acceptance-test-config.yml
  airbyte-integrations/connectors/source-sentry/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-sentry/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-sentry/metadata.yaml
  airbyte-integrations/connectors/source-sentry/source_sentry/streams.py
  airbyte-integrations/connectors/source-sentry/unit_tests/test_streams.py
  docs/integrations/sources/sentry.md
Labels: area/documentation, area/connectors, connectors/source/sentry

#27411 Source Google Analytics v4: remove print stmt
  airbyte-integrations/connectors/source-google-analytics-v4/source_google_analytics_v4/custom_reports_validator.py
Labels: area/connectors, connectors/source/google-analytics-v4

#29110 File-based CDK + Source S3 (v4): Pass configured file encoding to stream reader
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/csv_format.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_based_stream_reader.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/avro_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/csv_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/jsonl_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/parquet_parser.py
  airbyte-cdk/python/unit_tests/sources/file_based/file_types/test_csv_parser.py
  airbyte-cdk/python/unit_tests/sources/file_based/helpers.py
  airbyte-cdk/python/unit_tests/sources/file_based/in_memory_files_source.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/parquet_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/test_scenarios.py
  airbyte-integrations/connectors/source-s3/source_s3/v4/stream_reader.py
  airbyte-integrations/connectors/source-s3/unit_tests/v4/test_stream_reader.py
Labels: area/connectors, CDK, connectors/source/s3

#29158 Source MongoDB Internal POC: Handle missing properties
  airbyte-integrations/connectors/source-mongodb-internal-poc/build.gradle
Labels: area/connectors, connectors/source/mongodb-internal-poc

#29222 postgres-cdc:only include incremental streams for ctid sync
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/mysql/MySqlDebeziumStateUtil.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/cdc/PostgresCdcCtidUtils.java
Labels: area/connectors, connectors/source/postgres

#29174 Destination snowflake 1s1t: it works now
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/JavaBaseConstants.java
  airbyte-integrations/bases/base-typing-deduping-test/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/BaseSqlGeneratorIntegrationTest.java
  airbyte-integrations/bases/base-typing-deduping-test/src/main/resources/sqlgenerator/cdcupdate_inputrecords_final.jsonl
  airbyte-integrations/bases/base-typing-deduping-test/src/main/resources/sqlgenerator/cdcupdate_inputrecords_raw.jsonl
  airbyte-integrations/bases/base-typing-deduping-test/src/main/resources/sqlgenerator/timestampformats_inputrecords.jsonl
  airbyte-integrations/bases/bases-destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/JdbcSqlOperations.java
  airbyte-integrations/bases/bases-destination-jdbc/src/main/java/io/airbyte/integrations/destination/staging/GeneralStagingFunctions.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/sqlgenerator/timestampformats_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeGcsStagingDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingSqlOperations.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeS3StagingDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeSqlOperations.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGenerator.java
  airbyte-integrations/connectors/destination-snowflake/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeInsertDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeTestUtils.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/typing_deduping/AbstractSnowflakeTypingDedupingTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeGcsStagingTypingDedupingTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeInternalStagingRawSchemaOverrideTypingDedupingTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeInternalStagingTypingDedupingTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeS3StagingTypingDedupingTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGeneratorIntegrationTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync1_cursorchange_expectedrecords_dedup_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync1_cursorchange_expectedrecords_dedup_raw.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync1_expectedrecords_dedup_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync1_expectedrecords_dedup_raw.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync1_expectedrecords_nondedup_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync1_expectedrecords_nondedup_raw.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_cursorchange_expectedrecords_incremental_dedup_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_cursorchange_expectedrecords_incremental_dedup_raw.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_append_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_append_raw.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_overwrite_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_overwrite_raw.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_expectedrecords_incremental_dedup_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_expectedrecords_incremental_dedup_raw.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/sqlgenerator/timestampformats_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingSqlOperationsTest.java
  airbyte-integrations/connectors/destination-teradata/Dockerfile
  airbyte-integrations/connectors/destination-teradata/metadata.yaml
  airbyte-integrations/connectors/destination-teradata/src/main/java/io/airbyte/integrations/destination/teradata/TeradataSqlOperations.java
  docs/integrations/destinations/snowflake.md
  docs/integrations/destinations/teradata.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, connectors/destination/snowflake, connectors/destination/teradata

#29053 Docs: Update Source Facebook Marketing docs
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, connectors/source/facebook-marketing

#29254 📝 Docs: update Stripe docs page
  docs/integrations/sources/stripe.inapp.md
  docs/integrations/sources/stripe.md
Labels: area/documentation, connectors/source/stripe

#29256 Source Zendesk Support: update descriptions in spec
  airbyte-integrations/connectors/source-zendesk-support/Dockerfile
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/spec.json
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-support

#29295 postgres docs update & improvements
  docs/integrations/sources/postgres.md
  docs/integrations/sources/postgres/assets/airbyte_postgres_source.png
  docs/integrations/sources/postgres/assets/airbyte_source_selection.png
  docs/integrations/sources/postgres/postgres-troubleshooting.md
  docusaurus/sidebars.js
Labels: area/documentation

#29175 ✨ Source LinkedIn Ads: Add new analytics streams
  airbyte-integrations/connectors/source-linkedin-ads/Dockerfile
  airbyte-integrations/connectors/source-linkedin-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-linkedin-ads/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-linkedin-ads/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-linkedin-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-linkedin-ads/integration_tests/incremental_catalog.json
  airbyte-integrations/connectors/source-linkedin-ads/metadata.yaml
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/schemas/ad_analytics.json
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/schemas/ad_campaign_analytics.json
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/source.py
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/streams.py
  docs/integrations/sources/linkedin-ads.md
Labels: area/documentation, area/connectors, connectors/source/linkedin-ads

#29302 🐛 Source Shopify: handle the `HTTP-500` `Internal Server Error`
  airbyte-integrations/connectors/source-shopify/Dockerfile
  airbyte-integrations/connectors/source-shopify/metadata.yaml
  airbyte-integrations/connectors/source-shopify/source_shopify/utils.py
  airbyte-integrations/connectors/source-shopify/unit_tests/unit_test.py
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors, connectors/source/shopify, team/connectors-python

#29145 ✨ [file based cdk] S3 legacy config adapter
  airbyte-integrations/connectors/source-s3/source_s3/v4/__init__.py
  airbyte-integrations/connectors/source-s3/source_s3/v4/config.py
  airbyte-integrations/connectors/source-s3/source_s3/v4/legacy_config_transformer.py
  airbyte-integrations/connectors/source-s3/source_s3/v4/source.py
  airbyte-integrations/connectors/source-s3/unit_tests/v4/test_legacy_config_transformer.py
  airbyte-integrations/connectors/source-s3/v4_main.py
Labels: area/connectors, connectors/source/s3

#29303 🐛 Source Marketo: fix `expected records` for CAT
  airbyte-integrations/connectors/source-marketo/acceptance-test-config.yml
  airbyte-integrations/connectors/source-marketo/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/marketo, team/connectors-python

#27208 ✨Source Zendesk Support: New Stream - Topics
  airbyte-integrations/connectors/source-zendesk-support/Dockerfile
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/incremental_catalog.json
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/topics.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/source.py
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/streams.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/unit_test.py
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors, community, gl, connectors/source/zendesk-support, team/connectors-python, contributor-program, gl-review, gl-review-needs-triage

#29246 :bug: Source Google Sheets: added logic to skip modified sheet
  airbyte-integrations/connectors/source-google-sheets/Dockerfile
  airbyte-integrations/connectors/source-google-sheets/metadata.yaml
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/helpers.py
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/source.py
  airbyte-integrations/connectors/source-google-sheets/unit_tests/test_helpers.py
  docs/integrations/sources/google-sheets.md
Labels: area/documentation, area/connectors, connectors/source/google-sheets

#29212 Source Amazon Ads: Add new tactic support for sponsored_display_report_stream
  airbyte-integrations/connectors/source-amazon-ads/Dockerfile
  airbyte-integrations/connectors/source-amazon-ads/metadata.yaml
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/report_streams/brands_report.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/report_streams/brands_video_report.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/report_streams/display_report.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/report_streams/products_report.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/report_streams/report_streams.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/test_report_streams.py
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, area/connectors, connectors/source/amazon-ads

#29317 fix postgres docs broken links
  docs/integrations/sources/postgres.md
Labels: area/documentation

#29211 Source Hubspot: handle 400/403 errors with logger warnings
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/source_hubspot/errors.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_source.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot

#29315 Destinations v2: Add docs for manually migrating raw tables
  docs/release_notes/destinations_v2.js
  docs/release_notes/upgrading_to_destinations_v2.md
Labels: area/documentation

#29344 Docs: Update docs for adding a connector
  docs/connector-development/tutorials/building-a-python-source.md
Labels: area/documentation

#29331 [ISSUE #26764] support brute force multiline json objects for JSONL
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/jsonl_parser.py
  airbyte-cdk/python/unit_tests/sources/file_based/file_types/test_jsonl_parser.py
Labels: CDK

#29339 File-CDK (Avro) Set double_as_string to false by default
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/avro_format.py
  airbyte-cdk/python/unit_tests/sources/file_based/file_types/test_avro_parser.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/avro_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/csv_scenarios.py
Labels: CDK

#29327 :bug: Source Google Sheets: updated handling 404 and 403 error while discover
  airbyte-integrations/connectors/source-google-sheets/Dockerfile
  airbyte-integrations/connectors/source-google-sheets/metadata.yaml
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/source.py
  airbyte-integrations/connectors/source-google-sheets/unit_tests/test_stream.py
  docs/integrations/sources/google-sheets.md
Labels: area/documentation, area/connectors, connectors/source/google-sheets, checklist-action-run

#29326 Source Hubspot: add primary keys for ContactLists and PropertyHistory streams
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot

#29248 Source Hubspot: set `threadId` to string in `engagements` stream
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/engagements.json
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot

#29028 Source s3 cursor with history adapter
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/cursor/default_file_based_cursor.py
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/acceptance-test-config.yml
  airbyte-integrations/connectors/source-s3/integration_tests/v4_abnormal_state.json
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/stream.py
  airbyte-integrations/connectors/source-s3/source_s3/stream.py
  airbyte-integrations/connectors/source-s3/source_s3/v4/__init__.py
  airbyte-integrations/connectors/source-s3/source_s3/v4/cursor.py
  airbyte-integrations/connectors/source-s3/unit_tests/test_stream.py
  airbyte-integrations/connectors/source-s3/unit_tests/v4/test_cursor.py
  airbyte-integrations/connectors/source-s3/v4_main.py
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, CDK, connectors/source/s3

#29249 Source Hubspot: Add OwnersArchived stream
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/acceptance-test-config.yml
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/sample_files/basic_read_catalog.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/owners_archived.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/source.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_source.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_streams.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot

#29351 Source S3: Set CAT exact_order to true
  airbyte-integrations/connectors/source-s3/acceptance-test-config.yml
Labels: area/connectors, connectors/source/s3

#29364 Source Onesignal: fix schema and add additionalProperties true
  airbyte-integrations/connectors/source-onesignal/Dockerfile
  airbyte-integrations/connectors/source-onesignal/metadata.yaml
  airbyte-integrations/connectors/source-onesignal/source_onesignal/schemas/apps.json
  airbyte-integrations/connectors/source-onesignal/source_onesignal/schemas/devices.json
  airbyte-integrations/connectors/source-onesignal/source_onesignal/schemas/notifications.json
  airbyte-integrations/connectors/source-onesignal/source_onesignal/schemas/outcomes.json
  docs/integrations/sources/onesignal.md
Labels: area/documentation, area/connectors, connectors/source/onesignal, checklist-action-run

#29360 Airbyte Pro docs
  docs/airbyte-pro.md
  docs/assets/docs/okta-app-integration-name.png
  docs/assets/docs/okta-create-new-app-integration.png
  docs/assets/docs/okta-login-redirect-uris.png
  docs/deploying-airbyte/on-kubernetes-via-helm.md
  docusaurus/sidebars.js
Labels: area/documentation

#29368 Source 3: Add a few CAT tests to verify backwards compatibility
  airbyte-integrations/connectors/source-s3/acceptance-test-config.yml
  airbyte-integrations/connectors/source-s3/integration_tests/expected_records/legacy_csv_skip_rows_no_header.jsonl
  airbyte-integrations/connectors/source-s3/integration_tests/expected_records/legacy_csv_with_null_bools.jsonl
  airbyte-integrations/connectors/source-s3/integration_tests/expected_records/legacy_parquet_decimal.jsonl
  airbyte-integrations/connectors/source-s3/integration_tests/sample_files/csvfile/user_schema.csv
Labels: area/connectors, connectors/source/s3

#29309 Source-stripe: Revert 3.17.2 and apply atm_fee changes
  airbyte-integrations/connectors/source-stripe/Dockerfile
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/source_stripe/availability_strategy.py
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/charges.json
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
  airbyte-integrations/connectors/source-stripe/unit_tests/conftest.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_source.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_streams.py
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, connectors/source/stripe, checklist-action-run

#28781 Source SalesForce: move to next releaseStage
  airbyte-integrations/connectors/source-salesforce/Dockerfile
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/setup.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/api.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/rate_limiting.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/source.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/spec.yaml
  airbyte-integrations/connectors/source-salesforce/source_salesforce/streams.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/api_test.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/test_memory.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors, connectors/source/linkedin-ads, connectors/source/salesforce

#29395 :bug: Source Prestashop: fix build
  airbyte-integrations/connectors/source-prestashop/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-prestashop/integration_tests/docker-compose.yaml
  airbyte-integrations/connectors/source-prestashop/integration_tests/dump.sql.gz
Labels: area/connectors, connectors/source/prestashop, checklist-action-run

#29208 Source Facebook Marketing: Added account type validation
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/source.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/common.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_source.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing

#29252 Source LinkedIn Ads: move to next stage
  airbyte-integrations/connectors/source-linkedin-ads/Dockerfile
  airbyte-integrations/connectors/source-linkedin-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-linkedin-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-linkedin-ads/integration_tests/invalid_config_custom_report.json
  airbyte-integrations/connectors/source-linkedin-ads/metadata.yaml
  airbyte-integrations/connectors/source-linkedin-ads/setup.py
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/source.py
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/spec.json
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/streams.py
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/source_tests/test_source.py
  docs/integrations/sources/linkedin-ads.md
Labels: area/documentation, area/connectors, connectors/source/linkedin-ads

#29401 Source Sentry: fix None value in stream state
  airbyte-integrations/connectors/source-sentry/Dockerfile
  airbyte-integrations/connectors/source-sentry/metadata.yaml
  airbyte-integrations/connectors/source-sentry/source_sentry/streams.py
  docs/integrations/sources/sentry.md
Labels: area/documentation, area/connectors, connectors/source/sentry

#29298 file-based CDK: Configurable strings_can_be_null
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/csv_format.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/csv_parser.py
  airbyte-cdk/python/unit_tests/sources/file_based/file_types/test_csv_parser.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/csv_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/test_scenarios.py
Labels: CDK

#29403 Source SalesForce: update service level
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
Labels: area/connectors, connectors/source/salesforce

#28619 ✨Switch redshift staging to async mode
  airbyte-integrations/bases/bases-destination-jdbc/src/main/java/io/airbyte/integrations/destination/staging/AsyncFlush.java
  airbyte-integrations/connectors/destination-redshift/Dockerfile
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftStagingS3Destination.java
  docs/integrations/destinations/redshift.md
Labels: area/documentation, area/connectors, connectors/destination/snowflake, connectors/destination/redshift

#29415 improvements to postgres + cloudsql docs
  docs/integrations/sources/postgres.md
  docs/integrations/sources/postgres/assets/airbyte_cloud_sql_postgres_add_network.png
  docs/integrations/sources/postgres/assets/airbyte_cloud_sql_postgres_db.png
  docs/integrations/sources/postgres/assets/airbyte_cloud_sql_postgres_logical_replication_flag.png
  docs/integrations/sources/postgres/cloud-sql-postgres.md
  docusaurus/sidebars.js
Labels: area/documentation

#29353 ✨ [file-based cdk] S3 file format adapter
  airbyte-integrations/connectors/source-s3/source_s3/v4/legacy_config_transformer.py
  airbyte-integrations/connectors/source-s3/unit_tests/v4/test_legacy_config_transformer.py
Labels: area/connectors, connectors/source/s3

#29388 [file-based cdk] Remove CSV quoting_behavior config option
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/csv_format.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/csv_parser.py
  airbyte-cdk/python/unit_tests/sources/file_based/config/test_file_based_stream_config.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/csv_scenarios.py
Labels: CDK, connectors/source/s3

#29380 docs: _airbyte_meta Errors
  docs/release_notes/upgrading_to_destinations_v2.md
  docs/understanding-airbyte/typing-deduping.md
Labels: area/documentation

#29342 ✨Source S3 (v4): Set decimal_as_float to True for parquet files
  airbyte-integrations/connectors/source-s3/source_s3/v4/legacy_config_transformer.py
  airbyte-integrations/connectors/source-s3/unit_tests/v4/test_legacy_config_transformer.py
Labels: area/connectors, connectors/source/s3

#29402 Destination snowflake: test tweaks
  airbyte-integrations/connectors/destination-snowflake/README.md
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeInsertDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingDestinationAcceptanceTest.java
Labels: area/connectors, connectors/destination/snowflake

#29389 File-based CDK: handle legacy path_prefix + globs
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/file_based_stream_config.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_based_stream_reader.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/default_file_based_stream.py
  airbyte-cdk/python/unit_tests/sources/file_based/in_memory_files_source.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/csv_scenarios.py
Labels: CDK, connectors/source/sentry, connectors/source/facebook-marketing, connectors/destination/redshift, connectors/source/linkedin-ads, connectors/source/prestashop, connectors/source/s3, connectors/source/salesforce

#29421 Rbroughan/add retry docs
  docs/cloud/managing-airbyte-cloud/review-sync-summary.md
  docs/operator-guides/configuring-airbyte.md
  docs/understanding-airbyte/jobs.md
Labels: area/documentation

#29416 Docs: update Google search console docs
  docs/integrations/sources/google-search-console.inapp.md
  docs/integrations/sources/google-search-console.md
Labels: area/documentation, connectors/source/google-search-console

#29439 Source Exchange Rates: fix schema and tests
  airbyte-integrations/connectors/source-exchange-rates/Dockerfile
  airbyte-integrations/connectors/source-exchange-rates/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-exchange-rates/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-exchange-rates/metadata.yaml
  airbyte-integrations/connectors/source-exchange-rates/setup.py
  airbyte-integrations/connectors/source-exchange-rates/source_exchange_rates/schemas/exchange_rates.json
  airbyte-integrations/connectors/source-exchange-rates/unit_tests/conftest.py
  airbyte-integrations/connectors/source-exchange-rates/unit_tests/test_source.py
  docs/integrations/sources/exchange-rates.md
Labels: area/documentation, area/connectors, connectors/source/exchange-rates, checklist-action-run

#29440 Source Glassfrog: fix schema and tests
  airbyte-integrations/connectors/source-glassfrog/Dockerfile
  airbyte-integrations/connectors/source-glassfrog/metadata.yaml
  airbyte-integrations/connectors/source-glassfrog/source_glassfrog/schemas/people.json
  docs/integrations/sources/glassfrog.md
Labels: area/documentation, area/connectors, connectors/source/glassfrog, checklist-action-run

#29433 ✨ Source Mongodb POC: Configurable Snapshot Fetch Size
  airbyte-integrations/connectors/source-mongodb-internal-poc/integration_tests/expected_spec.json
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/main/java/io/airbyte/integrations/source/mongodb/internal/MongoConstants.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/main/java/io/airbyte/integrations/source/mongodb/internal/MongoDbSource.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/main/java/io/airbyte/integrations/source/mongodb/internal/MongoDbStateIterator.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/main/java/io/airbyte/integrations/source/mongodb/internal/MongodbStreamState.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/main/resources/spec.json
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/test-integration/java/io/airbyte/integrations/source/mongodb/internal/MongoDbSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/test/java/io/airbyte/integrations/source/mongodb/internal/MongoDbSourceTest.java
  airbyte-integrations/connectors/source-mongodb-internal-poc/src/test/java/io/airbyte/integrations/source/mongodb/internal/MongoDbStateIteratorTest.java
Labels: area/connectors, connectors/source/mongodb-internal-poc

#29429 Source Monday: fix null record in response
  airbyte-integrations/connectors/source-monday/Dockerfile
  airbyte-integrations/connectors/source-monday/metadata.yaml
  airbyte-integrations/connectors/source-monday/source_monday/extractor.py
  airbyte-integrations/connectors/source-monday/unit_tests/test_components.py
  docs/integrations/sources/monday.md
Labels: area/documentation, area/connectors, connectors/source/monday

#29447 Source Zendesk Sunshine: fix schemas and update version
  airbyte-integrations/connectors/source-zendesk-sunshine/Dockerfile
  airbyte-integrations/connectors/source-zendesk-sunshine/acceptance-test-config.yml
  airbyte-integrations/connectors/source-zendesk-sunshine/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-sunshine/source_zendesk_sunshine/schemas/jobs.json
  airbyte-integrations/connectors/source-zendesk-sunshine/source_zendesk_sunshine/schemas/limits.json
  airbyte-integrations/connectors/source-zendesk-sunshine/source_zendesk_sunshine/schemas/object_records.json
  airbyte-integrations/connectors/source-zendesk-sunshine/source_zendesk_sunshine/schemas/object_type_policies.json
  airbyte-integrations/connectors/source-zendesk-sunshine/source_zendesk_sunshine/schemas/object_types.json
  airbyte-integrations/connectors/source-zendesk-sunshine/source_zendesk_sunshine/schemas/relationship_records.json
  airbyte-integrations/connectors/source-zendesk-sunshine/source_zendesk_sunshine/schemas/relationship_types.json
  airbyte-integrations/connectors/source-zendesk-sunshine/source_zendesk_sunshine/spec.json
  docs/integrations/sources/zendesk-sunshine.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-sunshine, checklist-action-run

#29382 Source S3: handle legacy path_prefix + path_patterns
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/source_s3/v4/legacy_config_transformer.py
  airbyte-integrations/connectors/source-s3/source_s3/v4/stream_reader.py
  airbyte-integrations/connectors/source-s3/unit_tests/v4/test_cursor.py
  airbyte-integrations/connectors/source-s3/unit_tests/v4/test_legacy_config_transformer.py
  airbyte-integrations/connectors/source-s3/unit_tests/v4/test_stream_reader.py
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/stripe, connectors/destination/azure-blob-storage, connectors/destination/bigquery, connectors/destination/bigquery-denormalized, connectors/destination/cassandra, connectors/destination/dynamodb, connectors/destination/e2e-test, connectors/destination/elasticsearch, connectors/destination/snowflake, connectors/destination/redshift, connectors/destination/mysql, connectors/source/onesignal, connectors/source/s3, connectors/destination/clickhouse, connectors/destination/databricks, connectors/destination/gcs, connectors/destination/pubsub, connectors/destination/kafka, connectors/destination/keen, connectors/destination/local-json, connectors/destination/mongodb, connectors/destination/mqtt, connectors/destination/mssql, connectors/destination/postgres, connectors/destination/mariadb-columnstore, connectors/destination/pulsar, connectors/destination/scylla, connectors/destination/kinesis, connectors/destination/redis, connectors/destination/rockset, connectors/destination/oracle-strict-encrypt, connectors/source/chargify, connectors/destination/csv, connectors/destination/postgres-strict-encrypt, connectors/destination/mongodb-strict-encrypt, connectors/destination/mssql-strict-encrypt, connectors/destination/mysql-strict-encrypt, connectors/destination/oracle, connectors/destination/clickhouse-strict-encrypt, connectors/destination/dev-null, connectors/destination/tidb, connectors/destination/teradata, connectors/destination/doris, connectors/destination/yugabytedb, connectors/destination/elasticsearch-strict-encryp, connectors/destination/iceberg, connectors/destination/redpanda, connectors/destination/s3-glue, connectors/destination/exasol, connectors/destination/selectdb, connectors/destination/starburst-galaxy, connectors/destination/vertica

#29346 db-sources:sort primary key based on key-seq
  airbyte-db/db-lib/src/main/java/io/airbyte/db/jdbc/JdbcConstants.java
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/MySqlSourceTests.java
Labels: area/connectors, connectors/source/mysql, connectors/source/jdbc

#29418 🐛 Source S3 (V4): Ensure all files are not resync'd when migrating from v3 to v4
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/setup.py
  airbyte-integrations/connectors/source-s3/source_s3/v4/cursor.py
  airbyte-integrations/connectors/source-s3/unit_tests/v4/test_cursor.py
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3

#29445 Source LinkedIn Ads: update docs
  docs/integrations/sources/linkedin-ads.md
Labels: area/documentation

#29470 Docs: add google ads performance max warning note
  docs/integrations/sources/google-ads.md
Labels: area/documentation

#29451 Makes Helm no longer beta in the docs
  docs/deploying-airbyte/on-kubernetes-via-helm.md
Labels: area/documentation

#29446 Adding July Release Notes to Docs
  docs/release_notes/july_2023.md
  docusaurus/sidebars.js
Labels: area/documentation

#29476 Source Dockerhub: fix schema and update version
  airbyte-integrations/connectors/source-dockerhub/Dockerfile
  airbyte-integrations/connectors/source-dockerhub/acceptance-test-config.yml
  airbyte-integrations/connectors/source-dockerhub/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-dockerhub/metadata.yaml
  airbyte-integrations/connectors/source-dockerhub/source_dockerhub/schemas/docker_hub.json
  airbyte-integrations/connectors/source-dockerhub/source_dockerhub/spec.yaml
  docs/integrations/sources/dockerhub.md
Labels: area/documentation, area/connectors, connectors/source/dockerhub, checklist-action-run

#29480 Source S3: update Pyarrow to latest version 12.0.1
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/setup.py
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3
