Repository airbytehq/airbyte, pull requests merged in 2023-05, with the labels that each got.

#25602 Source Sentry: Add validation for project's and organization's name during connector setup
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-sentry/Dockerfile
  airbyte-integrations/connectors/source-sentry/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-sentry/source_sentry/source.py
  airbyte-integrations/connectors/source-sentry/unit_tests/test_source.py
  docs/integrations/sources/sentry.md
Labels: area/documentation, area/connectors, connectors/source/sentry

#25575 Source File: Fix OOM; read Excel files in chunks
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-file-secure/Dockerfile
  airbyte-integrations/connectors/source-file/Dockerfile
  airbyte-integrations/connectors/source-file/source_file/client.py
  airbyte-integrations/connectors/source-file/unit_tests/test_source.py
  docs/integrations/sources/file.md
Labels: area/documentation, area/connectors, connectors/source/file, connectors/source/file-secure

#25706 🐛 Source S3: remove minimum block size
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/integration_tests/config_minio.json
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/formats/csv_parser.py
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3

#25641 Source File: Handle network errors
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-file-secure/Dockerfile
  airbyte-integrations/connectors/source-file/Dockerfile
  airbyte-integrations/connectors/source-file/source_file/client.py
  airbyte-integrations/connectors/source-file/unit_tests/test_client.py
  docs/integrations/sources/file.md
Labels: area/documentation, area/connectors, connectors/source/file, connectors/source/file-secure

#25665 [ISSUE #25646] support parsing of non utc dates
  airbyte-cdk/python/airbyte_cdk/sources/declarative/datetime/datetime_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/datetime/min_max_datetime.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/incremental/datetime_based_cursor.py
  airbyte-cdk/python/unit_tests/sources/declarative/datetime/test_datetime_parser.py
  airbyte-cdk/python/unit_tests/sources/declarative/parsers/test_model_to_component_factory.py
Labels: CDK

#25677 [ISSUE #24720] connector builder set slice descriptor
  airbyte-cdk/python/airbyte_cdk/connector_builder/message_grouper.py
  airbyte-cdk/python/airbyte_cdk/connector_builder/models.py
  airbyte-cdk/python/unit_tests/connector_builder/test_connector_builder_handler.py
  airbyte-cdk/python/unit_tests/connector_builder/test_message_grouper.py
Labels: CDK

#25342 🎉 New Source: Merge [Low code CDK]
  airbyte-config-oss/init-oss/src/main/resources/icons/merge.svg
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-merge/.dockerignore
  airbyte-integrations/connectors/source-merge/Dockerfile
  airbyte-integrations/connectors/source-merge/README.md
  airbyte-integrations/connectors/source-merge/__init__.py
  airbyte-integrations/connectors/source-merge/acceptance-test-config.yml
  airbyte-integrations/connectors/source-merge/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-merge/build.gradle
  airbyte-integrations/connectors/source-merge/integration_tests/__init__.py
  airbyte-integrations/connectors/source-merge/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-merge/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-merge/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-merge/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-merge/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-merge/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-merge/main.py
  airbyte-integrations/connectors/source-merge/requirements.txt
  airbyte-integrations/connectors/source-merge/setup.py
  airbyte-integrations/connectors/source-merge/source_merge/__init__.py
  airbyte-integrations/connectors/source-merge/source_merge/manifest.yaml
  airbyte-integrations/connectors/source-merge/source_merge/schemas/account_details.json
  airbyte-integrations/connectors/source-merge/source_merge/schemas/activities.json
  airbyte-integrations/connectors/source-merge/source_merge/schemas/applications.json
  airbyte-integrations/connectors/source-merge/source_merge/schemas/attachments.json
  airbyte-integrations/connectors/source-merge/source_merge/schemas/candidates.json
  airbyte-integrations/connectors/source-merge/source_merge/schemas/departments.json
  airbyte-integrations/connectors/source-merge/source_merge/schemas/eeocs.json
  airbyte-integrations/connectors/source-merge/source_merge/schemas/interviews.json
  airbyte-integrations/connectors/source-merge/source_merge/schemas/job_interview_stages.json
  airbyte-integrations/connectors/source-merge/source_merge/schemas/jobs.json
  airbyte-integrations/connectors/source-merge/source_merge/schemas/offers.json
  airbyte-integrations/connectors/source-merge/source_merge/schemas/offices.json
  airbyte-integrations/connectors/source-merge/source_merge/schemas/sync_status.json
  airbyte-integrations/connectors/source-merge/source_merge/schemas/users.json
  airbyte-integrations/connectors/source-merge/source_merge/source.py
  airbyte-integrations/connectors/source-merge/source_merge/spec.yaml
  docs/integrations/sources/merge.md
Labels: area/documentation, area/connectors, community, bounty, hackthon-developer-week, connectors/source/merge

#25680 Updates Snowflake Invalid IP message
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeInsertDestinationAcceptanceTest.java
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/snowflake

#25361 Source S3: Parse nested avro schemas
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/integration_tests/config_minio.json
  airbyte-integrations/connectors/source-s3/integration_tests/integration_test_abstract.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/formats/avro_parser.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/stream.py
  airbyte-integrations/connectors/source-s3/unit_tests/test_avro_parser.py
  airbyte-integrations/connectors/source-s3/unit_tests/test_stream.py
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3

#25721 Docs: update entry to Pull Request title convention
  .github/pull_request_template.md
  airbyte-ci/connectors/CONNECTOR_CHECKLIST.yaml
  docs/contributing-to-airbyte/issues-and-pull-requests.md
Labels: area/documentation

#25707 🐛 CAT: updated `expected records` for `Zendesk-Support`, `Faker`, `Harvest`, `Freshdesk`
  airbyte-integrations/connectors/source-faker/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-freshdesk/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-harvest/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/harvest, connectors/source/freshdesk, connectors/source/zendesk-support, connectors/source/faker

#24053 🐛 Source Zendesk Support: stream sla_policies fix data type error (events.value)
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-zendesk-support/Dockerfile
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/ticket_audits.json
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors, community, connectors/source/zendesk-support, bounty, ga-connector-change

#25532 🎉 New Source: Yotpo [Low code CDK]
  airbyte-config-oss/init-oss/src/main/resources/icons/yotpo.svg
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-yotpo/.dockerignore
  airbyte-integrations/connectors/source-yotpo/Dockerfile
  airbyte-integrations/connectors/source-yotpo/README.md
  airbyte-integrations/connectors/source-yotpo/__init__.py
  airbyte-integrations/connectors/source-yotpo/acceptance-test-config.yml
  airbyte-integrations/connectors/source-yotpo/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-yotpo/build.gradle
  airbyte-integrations/connectors/source-yotpo/integration_tests/__init__.py
  airbyte-integrations/connectors/source-yotpo/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-yotpo/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-yotpo/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-yotpo/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-yotpo/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-yotpo/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-yotpo/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-yotpo/main.py
  airbyte-integrations/connectors/source-yotpo/requirements.txt
  airbyte-integrations/connectors/source-yotpo/setup.py
  airbyte-integrations/connectors/source-yotpo/source_yotpo/__init__.py
  airbyte-integrations/connectors/source-yotpo/source_yotpo/manifest.yaml
  airbyte-integrations/connectors/source-yotpo/source_yotpo/schemas/email_analytics.json
  airbyte-integrations/connectors/source-yotpo/source_yotpo/schemas/raw_data.json
  airbyte-integrations/connectors/source-yotpo/source_yotpo/schemas/reviews.json
  airbyte-integrations/connectors/source-yotpo/source_yotpo/schemas/unsubscribers.json
  airbyte-integrations/connectors/source-yotpo/source_yotpo/schemas/webhook_events.json
  airbyte-integrations/connectors/source-yotpo/source_yotpo/schemas/webhooks.json
  airbyte-integrations/connectors/source-yotpo/source_yotpo/source.py
  airbyte-integrations/connectors/source-yotpo/source_yotpo/spec.yaml
  docs/integrations/sources/yotpo.md
Labels: area/documentation, area/connectors, community, bounty, connectors/source/yotpo, hackthon-developer-week

#25465 🎉 New Source: FullStory [Low code CDK]
  airbyte-config-oss/init-oss/src/main/resources/icons/fullstory.svg
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-fullstory/.dockerignore
  airbyte-integrations/connectors/source-fullstory/Dockerfile
  airbyte-integrations/connectors/source-fullstory/README.md
  airbyte-integrations/connectors/source-fullstory/__init__.py
  airbyte-integrations/connectors/source-fullstory/acceptance-test-config.yml
  airbyte-integrations/connectors/source-fullstory/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-fullstory/build.gradle
  airbyte-integrations/connectors/source-fullstory/integration_tests/__init__.py
  airbyte-integrations/connectors/source-fullstory/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-fullstory/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-fullstory/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-fullstory/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-fullstory/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-fullstory/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-fullstory/main.py
  airbyte-integrations/connectors/source-fullstory/requirements.txt
  airbyte-integrations/connectors/source-fullstory/setup.py
  airbyte-integrations/connectors/source-fullstory/source_fullstory/__init__.py
  airbyte-integrations/connectors/source-fullstory/source_fullstory/manifest.yaml
  airbyte-integrations/connectors/source-fullstory/source_fullstory/schemas/blockrules.json
  airbyte-integrations/connectors/source-fullstory/source_fullstory/schemas/domainsettings.json
  airbyte-integrations/connectors/source-fullstory/source_fullstory/schemas/eventDefs.json
  airbyte-integrations/connectors/source-fullstory/source_fullstory/schemas/geosettings.json
  airbyte-integrations/connectors/source-fullstory/source_fullstory/schemas/operations.json
  airbyte-integrations/connectors/source-fullstory/source_fullstory/schemas/recordingfeatures.json
  airbyte-integrations/connectors/source-fullstory/source_fullstory/schemas/segments.json
  airbyte-integrations/connectors/source-fullstory/source_fullstory/schemas/sessions.json
  airbyte-integrations/connectors/source-fullstory/source_fullstory/schemas/targetrules.json
  airbyte-integrations/connectors/source-fullstory/source_fullstory/schemas/webhooks.json
  airbyte-integrations/connectors/source-fullstory/source_fullstory/source.py
  airbyte-integrations/connectors/source-fullstory/source_fullstory/spec.yaml
  docs/integrations/sources/fullstory.md
Labels: area/documentation, area/connectors, community, bounty, connectors/source/fullstory, hackthon-developer-week

#25214 Source Zendesk Support: Add new fields in ticket endpoint schema
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-zendesk-support/Dockerfile
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/tickets.json
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors, community, connectors/source/zendesk-support, bounty, ga-connector-change, gl-review

#25759 Source Sentry: Change stream that is used during check
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-sentry/Dockerfile
  airbyte-integrations/connectors/source-sentry/metadata.yaml
  airbyte-integrations/connectors/source-sentry/source_sentry/source.py
  airbyte-integrations/connectors/source-sentry/unit_tests/test_source.py
  docs/integrations/sources/sentry.md
Labels: area/documentation, area/connectors, connectors/source/sentry

#25758 🐛 Source Xero: fix `expected records` for CAT
  airbyte-integrations/connectors/source-xero/integration_tests/expected_records.jsonl
Labels: area/connectors, team/connectors-python, connectors/source/xero, checklist-action-run

#25735 docs: dead link on collecting-metrics.md
  docs/operator-guides/collecting-metrics.md
Labels: area/documentation

#25563 Connector builder documentation: Add example connectors
  docs/connector-development/connector-builder-ui/overview.md
Labels: area/documentation

#25698 Destination Redshift: deprecate old migration Java code
  airbyte-config-oss/init-oss/src/main/resources/seed/destination_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/destination_specs.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-integrations/bases/bases-destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/JdbcBufferedConsumerFactory.java
  airbyte-integrations/bases/bases-destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/SqlOperations.java
  airbyte-integrations/bases/bases-destination-jdbc/src/main/java/io/airbyte/integrations/destination/staging/StagingConsumerFactory.java
  airbyte-integrations/connectors/destination-redshift/Dockerfile
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/operations/RedshiftSqlOperations.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/RedshiftInsertDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/RedshiftS3StagingInsertDestinationAcceptanceTest.java
  docs/integrations/destinations/redshift.md
Labels: area/documentation, area/connectors, connectors/destination/redshift

#25767 📚 Update local dev setup instructions
  docs/contributing-to-airbyte/code-style.md
Labels: area/documentation

#25743 [non-forked] 🚨🚨Source Freshservice: correct data types in stream schemas to match Freshservice API
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-freshservice/Dockerfile
  airbyte-integrations/connectors/source-freshservice/acceptance-test-config.yml
  airbyte-integrations/connectors/source-freshservice/metadata.yaml
  airbyte-integrations/connectors/source-freshservice/requirements.txt
  airbyte-integrations/connectors/source-freshservice/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-freshservice/source_freshservice/schemas/agents.json
  airbyte-integrations/connectors/source-freshservice/source_freshservice/schemas/locations.json
  airbyte-integrations/connectors/source-freshservice/source_freshservice/schemas/requesters.json
  airbyte-integrations/connectors/source-freshservice/source_freshservice/schemas/tickets.json
  airbyte-integrations/connectors/source-freshservice/source_freshservice/spec.json
  docs/integrations/sources/freshservice.md
Labels: area/documentation, area/connectors, connectors/source/freshservice, checklist-action-run

#25770 Docs: fix fb marketing docs warning
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation

#25762 Docs: add note difference btw Google Analytics connectors
  docs/integrations/sources/google-analytics-data-api.md
  docs/integrations/sources/google-analytics-v4.md
Labels: area/documentation

#25764 fix doc naming for DatetimeCursorBased to DatetimeBasedCursor
  docs/connector-development/config-based/understanding-the-yaml-file/incremental-syncs.md
  docs/connector-development/config-based/understanding-the-yaml-file/yaml-overview.md
Labels: community

#25761 📝 Use correct CDC field names led by underscores
  docs/understanding-airbyte/cdc.md
Labels: area/documentation, community

#25768 📝 Update Convex destination connector docs
  docs/integrations/destinations/convex.md
Labels: area/documentation, community

#25056 Source Mixpanel: added HttpAvailabilityStrategy and undeclared fields for export and annotations streams
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mixpanel/Dockerfile
  airbyte-integrations/connectors/source-mixpanel/acceptance-test-config.yml
  airbyte-integrations/connectors/source-mixpanel/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-mixpanel/metadata.yaml
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/schemas/annotations.json
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/schemas/export.json
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams/base.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams/export.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/testing.py
  docs/integrations/sources/mixpanel.md
Labels: area/documentation, area/connectors, connectors/source/mixpanel

#25717 Source Mailchimp: handle unknown error in EmailActivity
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mailchimp/Dockerfile
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/streams.py
  airbyte-integrations/connectors/source-mailchimp/unit_tests/test_streams.py
  docs/integrations/sources/mailchimp.md
Labels: area/documentation, area/connectors, connectors/source/mailchimp

#25780 🐛 CAT: fix `close-com`, `confluence`, `gitlab`, `pipedrive`, `slack`, `xero` expected records
  airbyte-integrations/connectors/source-close-com/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-confluence/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-gitlab/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-gitlab/integration_tests/expected_records_with_ids.jsonl
  airbyte-integrations/connectors/source-pipedrive/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-slack/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-xero/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/confluence, connectors/source/close-com, connectors/source/gitlab, connectors/source/slack, connectors/source/pipedrive, team/connectors-python, connectors/source/xero, checklist-action-run

#25740 🐛 Source MySQL/MsSQL Disable index logging for MySQL
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-integrations/connectors/source-mssql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mssql/Dockerfile
  airbyte-integrations/connectors/source-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  docs/integrations/sources/mssql.md
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, connectors/source/mssql, connectors/source/mysql, connectors/source/postgres, connectors/source/jdbc, connectors/source/mssql-strict-encrypt, connectors/source/mysql-strict-encrypt

#25655 add max heartbeat
  airbyte-ci/connectors/metadata_service/lib/metadata_service/gcs_upload.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/models/generated/ConnectorMetadataDefinitionV0.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/models/src/ConnectorMetadataDefinitionV0.yaml
  airbyte-ci/connectors/metadata_service/lib/tests/test_gcs_upload.py
  airbyte-ci/connectors/metadata_service/orchestrator/orchestrator/assets/dev.py
  airbyte-ci/connectors/metadata_service/orchestrator/orchestrator/assets/registry.py
  airbyte-ci/connectors/metadata_service/orchestrator/orchestrator/jobs/registry.py
  airbyte-integrations/connector-templates/destination-java/metadata.yaml.hbs
  airbyte-integrations/connector-templates/destination-python/metadata.yaml.hbs
  airbyte-integrations/connector-templates/generator/Dockerfile
  airbyte-integrations/connector-templates/generator/build.gradle
  airbyte-integrations/connector-templates/generator/generate.sh
  airbyte-integrations/connector-templates/generator/plopfile.js
  airbyte-integrations/connector-templates/source-configuration-based/metadata.yaml.hbs
  airbyte-integrations/connector-templates/source-generic/metadata.yaml.hbs
  airbyte-integrations/connector-templates/source-java-jdbc/metadata.yaml.hbs
  airbyte-integrations/connector-templates/source-python-http-api/metadata.yaml.hbs
  airbyte-integrations/connector-templates/source-python/metadata.yaml.hbs
  airbyte-integrations/connector-templates/source-singer/metadata.yaml.hbs
  airbyte-integrations/connectors/destination-convex/metadata.yaml
  airbyte-integrations/connectors/destination-cumulio/metadata.yaml
  airbyte-integrations/connectors/destination-scaffold-destination-python/metadata.yaml
  airbyte-integrations/connectors/destination-selectdb/metadata.yaml
  airbyte-integrations/connectors/destination-starburst-galaxy/metadata.yaml
  airbyte-integrations/connectors/source-braze/metadata.yaml
  airbyte-integrations/connectors/source-gcs/metadata.yaml
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-jira/metadata.yaml
  airbyte-integrations/connectors/source-lemlist/metadata.yaml
  airbyte-integrations/connectors/source-linkedin-ads/metadata.yaml
  airbyte-integrations/connectors/source-postgres-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-quickbooks-singer/metadata.yaml
  airbyte-integrations/connectors/source-scaffold-java-jdbc/metadata.yaml
  airbyte-integrations/connectors/source-scaffold-source-http/metadata.yaml
  airbyte-integrations/connectors/source-scaffold-source-python/metadata.yaml
  airbyte-integrations/connectors/source-sentry/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  tools/ci_connector_ops/ci_connector_ops/pipelines/utils.py
Labels: area/connectors, connectors/source/lemlist, connectors/source/sentry, connectors/source/github, connectors/source/jira, connectors/source/linkedin-ads, connectors/source/postgres, connectors/source/quickbooks-singer, connectors/source/s3, connectors/source/twilio, connectors/source/zendesk-support, connectors/source/scaffold-java-jdbc, connectors/source/postgres-strict-encrypt, connectors/destination/scaffold-destination-python, connectors/source/scaffold-source-http, connectors/source/scaffold-source-python, connectors/source/braze, connectors/destination/convex, connectors/destination/selectdb, connectors/source/gcs, connectors/destination/cumulio, connectors/destination/starburst-galaxy, checklist-action-run

#25543 Source Mixpanel: ConnectionResetError fix
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mixpanel/Dockerfile
  airbyte-integrations/connectors/source-mixpanel/metadata.yaml
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams/export.py
  docs/integrations/sources/mixpanel.md
Labels: area/documentation, area/connectors, connectors/source/mixpanel

#25784 Source Square: Fix Authentication errors
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-square/Dockerfile
  airbyte-integrations/connectors/source-square/acceptance-test-config.yml
  airbyte-integrations/connectors/source-square/source_square/components.py
  airbyte-integrations/connectors/source-square/source_square/manifest.yaml
  airbyte-integrations/connectors/source-square/source_square/spec.yaml
  docs/integrations/sources/square.md
Labels: area/documentation, area/connectors, connectors/source/square

#25789 Source Github: update expected records after test PR was created
  airbyte-integrations/connectors/source-github/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/github

#25800 Source Amazon Ads: update docs
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation

#25809 Destination BigQuery: fix build by forcing urllib3 1.26.15
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
Labels: area/connectors, connectors/destination/bigquery, checklist-action-run

#25775 Docs: update contributing docs
  docs/contributing-to-airbyte/README.md
  docs/contributing-to-airbyte/contribute-documentation.md
  docs/contributing-to-airbyte/developing-on-kubernetes.md
  docs/contributing-to-airbyte/gradle-dependency-update.md
  docs/contributing-to-airbyte/gradle.md
  docs/contributing-to-airbyte/maintainer-code-of-conduct.md
  docusaurus/sidebars.js
Labels: area/documentation

#25813 🐛 Destination S3 Glue: Fix decimal type syntax
  airbyte-config-oss/init-oss/src/main/resources/seed/destination_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/destination_specs.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-integrations/connectors/destination-s3-glue/Dockerfile
  airbyte-integrations/connectors/destination-s3-glue/src/main/java/io/airbyte/integrations/destination/s3_glue/GlueOperations.java
  docs/integrations/destinations/s3-glue.md
Labels: area/documentation, area/connectors, connectors/destination/s3-glue

#25739 🚨 Removes defunct Azure Blob Storage laoding option for Snowflake 🚨
  airbyte-config-oss/init-oss/src/main/resources/seed/destination_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/destination_specs.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-integrations/bases/connector-acceptance-test/setup.py
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/README.md
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeAzureBlobStorageStreamCopier.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeAzureBlobStorageStreamCopierFactory.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeCopyAzureBlobStorageDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeDestinationResolver.java
  airbyte-integrations/connectors/destination-snowflake/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeAzureBlobCopyDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test/java/io/airbyte/integrations/destination/snowflake/SnowflakeAzureBlobStreamCopierTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test/resources/copy_azure_blog_config.json
  docs/integrations/destinations/snowflake.md
  octavia-cli/setup.py
Labels: area/documentation, area/connectors, connectors/destination/snowflake, breaking-change

#25820 pin the version of requests lib
  airbyte-cdk/python/setup.py
Labels: CDK

#25819 🐛 source-file GCP token is a secret
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-file/Dockerfile
  airbyte-integrations/connectors/source-file/metadata.yaml
  airbyte-integrations/connectors/source-file/source_file/spec.json
  docs/integrations/sources/file.md
Labels: type/bug, area/documentation, area/connectors, connectors/source/file

#25795 🐛 Source Stripe: fixed `subscription_schedule.canceled_at` type issues + update `expected_records`
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-stripe/Dockerfile
  airbyte-integrations/connectors/source-stripe/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, connectors/source/stripe, team/connectors-python

#25817 destination-postgres docs warning for large data
  docs/integrations/destinations/postgres.md
Labels: area/documentation

#25570 Avro destinations: map airbyte_type: integer to long
  airbyte-config-oss/init-oss/src/main/resources/seed/destination_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/destination_specs.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-integrations/bases/base-java-s3/src/main/java/io/airbyte/integrations/destination/s3/avro/JsonSchemaType.java
  airbyte-integrations/bases/base-java-s3/src/test/resources/parquet/json_schema_converter/type_conversion_test_cases_v0.json
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  airbyte-integrations/connectors/destination-bigquery-denormalized/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-gcs/Dockerfile
  airbyte-integrations/connectors/destination-gcs/metadata.yaml
  airbyte-integrations/connectors/destination-s3/Dockerfile
  airbyte-integrations/connectors/destination-s3/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  docs/integrations/destinations/bigquery-denormalized.md
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/gcs.md
  docs/integrations/destinations/s3.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing, connectors/destination/bigquery, connectors/destination/bigquery-denormalized, connectors/destination/snowflake, connectors/destination/s3, connectors/source/s3, connectors/destination/gcs

#25771 Destination Redshift: deprecate old migration normalization code
  airbyte-integrations/bases/base-normalization/Dockerfile
  airbyte-integrations/bases/base-normalization/dbt-project-template/macros/configuration.sql
  airbyte-integrations/bases/base-normalization/dbt-project-template/macros/cross_db_utils/array.sql
  airbyte-integrations/bases/base-normalization/dbt-project-template/macros/cross_db_utils/columns.sql
  airbyte-integrations/bases/base-normalization/dbt-project-template/macros/cross_db_utils/datatypes.sql
  airbyte-integrations/bases/base-normalization/dbt-project-template/macros/cross_db_utils/json_operations.sql
  airbyte-integrations/bases/base-normalization/dbt-project-template/macros/cross_db_utils/type_conversions.sql
  airbyte-integrations/bases/base-normalization/integration_tests/resources/redshift_normalization_migration/destination_catalog.json
  airbyte-integrations/bases/base-normalization/integration_tests/resources/redshift_normalization_migration/messages1.txt
  airbyte-integrations/bases/base-normalization/integration_tests/resources/redshift_normalization_migration/messages2.txt
  airbyte-integrations/bases/base-normalization/integration_tests/resources/redshift_normalization_migration/test_pokemon_super.sql.j2
  airbyte-integrations/bases/base-normalization/integration_tests/test_normalization.py
  docs/understanding-airbyte/basic-normalization.md
Labels: area/documentation, normalization

#25854 📚 Destination Redshift: update `_airbyte_data` column type in docs
  docs/integrations/destinations/redshift.md
Labels: area/documentation

#25860 Add metadata for file secure and bump
  airbyte-integrations/connectors/source-file-secure/Dockerfile
  airbyte-integrations/connectors/source-file-secure/metadata.yaml
  tools/ci_connector_ops/ci_connector_ops/qa_checks.py
Labels: area/connectors, connectors/source/file-secure, checklist-action-run

#25792 ✨ Source Amazon Ads: add availability strategy for basic streams
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-ads/Dockerfile
  airbyte-integrations/connectors/source-amazon-ads/metadata.yaml
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/common.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/report_streams/report_streams.py
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, area/connectors, connectors/source/amazon-ads, checklist-action-run

#25870 🐛 Source Trello: extend `organizations` schema
  airbyte-integrations/connectors/source-trello/Dockerfile
  airbyte-integrations/connectors/source-trello/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-trello/metadata.yaml
  airbyte-integrations/connectors/source-trello/source_trello/schemas/organizations.json
  airbyte-integrations/connectors/source-trello/source_trello/source.py
  docs/integrations/sources/trello.md
Labels: area/documentation, area/connectors, connectors/source/trello, team/connectors-python

#25880 Publishing Missing `0.3.2` `source-trello`
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-trello/README.md
Labels: area/connectors, connectors/source/trello, checklist-action-run

#25798 🐛Source Jira: add sprint information from team-managed project
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-jira/Dockerfile
  airbyte-integrations/connectors/source-jira/acceptance-test-config.yml
  airbyte-integrations/connectors/source-jira/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-jira/metadata.yaml
  airbyte-integrations/connectors/source-jira/source_jira/streams.py
  docs/integrations/sources/jira.md
Labels: area/documentation, area/connectors, connectors/source/jira, checklist-action-run

#25823 Doc modifications: Airbyte Cloud limits
  docs/cloud/managing-airbyte-cloud.md
  docs/cloud/managing-airbyte-cloud/understand-airbyte-cloud-limits.md
Labels: area/documentation

#24523 Source Github: Add undeclared columns to spec
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/acceptance-test-config.yml
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/source_github/schemas/assignees.json
  airbyte-integrations/connectors/source-github/source_github/schemas/branches.json
  airbyte-integrations/connectors/source-github/source_github/schemas/collaborators.json
  airbyte-integrations/connectors/source-github/source_github/schemas/comments.json
  airbyte-integrations/connectors/source-github/source_github/schemas/commit_comments.json
  airbyte-integrations/connectors/source-github/source_github/schemas/commits.json
  airbyte-integrations/connectors/source-github/source_github/schemas/deployments.json
  airbyte-integrations/connectors/source-github/source_github/schemas/events.json
  airbyte-integrations/connectors/source-github/source_github/schemas/issue_events.json
  airbyte-integrations/connectors/source-github/source_github/schemas/issue_labels.json
  airbyte-integrations/connectors/source-github/source_github/schemas/issue_milestones.json
  airbyte-integrations/connectors/source-github/source_github/schemas/issues.json
  airbyte-integrations/connectors/source-github/source_github/schemas/organizations.json
  airbyte-integrations/connectors/source-github/source_github/schemas/project_cards.json
  airbyte-integrations/connectors/source-github/source_github/schemas/project_columns.json
  airbyte-integrations/connectors/source-github/source_github/schemas/projects.json
  airbyte-integrations/connectors/source-github/source_github/schemas/pull_request_commits.json
  airbyte-integrations/connectors/source-github/source_github/schemas/pull_request_stats.json
  airbyte-integrations/connectors/source-github/source_github/schemas/pull_requests.json
  airbyte-integrations/connectors/source-github/source_github/schemas/releases.json
  airbyte-integrations/connectors/source-github/source_github/schemas/repositories.json
  airbyte-integrations/connectors/source-github/source_github/schemas/review_comments.json
  airbyte-integrations/connectors/source-github/source_github/schemas/reviews.json
  airbyte-integrations/connectors/source-github/source_github/schemas/shared/reactions.json
  airbyte-integrations/connectors/source-github/source_github/schemas/stargazers.json
  airbyte-integrations/connectors/source-github/source_github/schemas/tags.json
  airbyte-integrations/connectors/source-github/source_github/schemas/teams.json
  airbyte-integrations/connectors/source-github/source_github/schemas/workflow_jobs.json
  airbyte-integrations/connectors/source-github/source_github/schemas/workflow_runs.json
  airbyte-integrations/connectors/source-github/source_github/schemas/workflows.json
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors, connectors/source/github

#25899 Bnchrch/metadata/add missing metadata files
  .github/workflows/metadata_validate_manifest_dagger.yml
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-clickhouse-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/destination-clickhouse/metadata.yaml
  airbyte-integrations/connectors/destination-mssql-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/destination-mssql/metadata.yaml
  airbyte-integrations/connectors/destination-mysql-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/destination-mysql/metadata.yaml
  airbyte-integrations/connectors/destination-oracle-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/destination-oracle/metadata.yaml
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/destination-postgres/metadata.yaml
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-s3-glue/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-tidb/metadata.yaml
  airbyte-integrations/connectors/farosai/airbyte-customer-io-source/metadata.yaml
  airbyte-integrations/connectors/farosai/airbyte-harness-source/metadata.yaml
  airbyte-integrations/connectors/farosai/airbyte-jenkins-source/metadata.yaml
  airbyte-integrations/connectors/farosai/airbyte-pagerduty-source/metadata.yaml
  airbyte-integrations/connectors/farosai/airbyte-victorops-source/metadata.yaml
  airbyte-integrations/connectors/ghcr.io/devmate-cloud/streamr-airbyte-connectors/metadata.yaml
  airbyte-integrations/connectors/source-aircall/metadata.yaml
  airbyte-integrations/connectors/source-alloydb-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-fullstory/metadata.yaml
  airbyte-integrations/connectors/source-merge/metadata.yaml
  airbyte-integrations/connectors/source-mssql-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mysql-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-news-api/metadata.yaml
  airbyte-integrations/connectors/source-postgres-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-yotpo/metadata.yaml
  airbyte-integrations/connectors/source-zuora/metadata.yaml
Labels: area/connectors, connectors/destination/bigquery, connectors/destination/snowflake, connectors/destination/redshift, connectors/source/mssql, connectors/source/mysql, connectors/destination/mysql, connectors/source/salesforce, connectors/destination/clickhouse, connectors/source/zuora, connectors/destination/mssql, connectors/destination/postgres, connectors/destination/oracle-strict-encrypt, connectors/destination/postgres-strict-encrypt, connectors/destination/mssql-strict-encrypt, connectors/destination/mysql-strict-encrypt, connectors/destination/oracle, connectors/destination/clickhouse-strict-encrypt, connectors/source/mssql-strict-encrypt, connectors/source/mysql-strict-encrypt, connectors/source/postgres-strict-encrypt, connectors/source/fullstory, connectors/destination/tidb, connectors/source/alloydb-strict-encrypt, connectors/source/news-api, connectors/destination/s3-glue, connectors/source/aircall, connectors/source/yotpo, connectors/source/merge

#25589 low-code: Use Jinja sandbox environment and prevent use of range method
  airbyte-cdk/python/airbyte_cdk/sources/declarative/interpolation/jinja.py
  airbyte-cdk/python/unit_tests/sources/declarative/interpolation/test_interpolated_boolean.py
  airbyte-cdk/python/unit_tests/sources/declarative/interpolation/test_jinja.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/request_options/test_interpolated_request_options_provider.py
Labels: CDK

#25868 🐛 Source Close.com: extend `roles` schema with missing properties
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-close-com/Dockerfile
  airbyte-integrations/connectors/source-close-com/acceptance-test-config.yml
  airbyte-integrations/connectors/source-close-com/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-close-com/metadata.yaml
  airbyte-integrations/connectors/source-close-com/source_close_com/schemas/contacts.json
  airbyte-integrations/connectors/source-close-com/source_close_com/schemas/roles.json
  airbyte-integrations/connectors/source-close-com/source_close_com/source.py
  docs/integrations/sources/close-com.md
Labels: area/documentation, area/connectors, connectors/source/close-com, team/connectors-python

#25879 Connector builder documentation: Small adjustments
  docs/connector-development/connector-builder-ui/authentication.md
  docs/connector-development/connector-builder-ui/connector-builder-compatibility.md
  docs/connector-development/connector-builder-ui/overview.md
Labels: area/documentation, team/extensibility

#25902 [docs] help-connector-development > using-the-cdk
  docs/connector-development/cdk-python/README.md
  docs/connector-development/config-based/low-code-cdk-overview.md
Labels: area/documentation

#25903 ✨ Source-Faker users gain address sub-object
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-faker/Dockerfile
  airbyte-integrations/connectors/source-faker/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-faker/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/source_faker/schemas/users.json
  airbyte-integrations/connectors/source-faker/source_faker/user_generator.py
  airbyte-integrations/connectors/source-faker/unit_tests/unit_test.py
  docs/integrations/sources/faker.md
Labels: area/documentation, area/connectors, connectors/source/faker

#25900 Source Retently: correct schemas and make integration test work again
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-retently/Dockerfile
  airbyte-integrations/connectors/source-retently/metadata.yaml
  airbyte-integrations/connectors/source-retently/setup.py
  airbyte-integrations/connectors/source-retently/source_retently/schemas/feedback.json
  airbyte-integrations/connectors/source-retently/source_retently/schemas/nps.json
  airbyte-integrations/connectors/source-retently/source_retently/schemas/outbox.json
  airbyte-integrations/connectors/source-retently/source_retently/schemas/reports.json
  airbyte-integrations/connectors/source-retently/source_retently/source.py
  docs/integrations/sources/retently.md
Labels: area/documentation, area/connectors, connectors/source/retently

#24223 :tada: Source Bind Ads: add campaignlabels col
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-bing-ads/Dockerfile
  airbyte-integrations/connectors/source-bing-ads/integration_tests/expected_records.txt
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/campaign_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/source.py
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors, community, connectors/source/bing-ads, bounty, contributor-program, ga-connector-change, gl-review

#25935 📝 Add info on egress costs for Cloud storage connectors
  docs/integrations/destinations/azure-blob-storage.md
  docs/integrations/destinations/gcs.md
  docs/integrations/destinations/s3.md
  docs/integrations/sources/azure-blob-storage.md
  docs/integrations/sources/gcs.md
  docs/integrations/sources/s3.md
Labels: area/documentation

#25592 Remove Definition File References from Java files (LocalDefinitionProvider), shell scripts and docs
  .github/comment_templates/connector_dependency_template.md
  .github/workflows/deploy-oss-catalog.yml
  .github/workflows/publish-command.yml
  .gitignore
  .pre-commit-config.yaml
  airbyte-ci/connectors/CONNECTOR_CHECKLIST.yaml
  airbyte-commons/src/main/java/io/airbyte/commons/features/FeatureFlags.java
  airbyte-config-oss/config-models-oss/src/main/java/io/airbyte/configoss/CatalogDefinitionsConfig.java
  airbyte-config-oss/init-oss/readme.md
  airbyte-config-oss/init-oss/src/main/java/io/airbyte/configoss/init/LocalDefinitionsProvider.java
  airbyte-config-oss/init-oss/src/main/java/io/airbyte/configoss/init/RemoteDefinitionsProvider.java
  airbyte-config-oss/init-oss/src/main/java/io/airbyte/configoss/init/SeedType.java
  airbyte-config-oss/init-oss/src/main/resources/seed/destination_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/destination_specs.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-config-oss/init-oss/src/test/java/io/airbyte/configoss/init/LocalDefinitionsProviderTest.java
  airbyte-config-oss/specs-oss/README.md
  airbyte-config-oss/specs-oss/build.gradle
  airbyte-config-oss/specs-oss/src/main/java/io/airbyte/configoss/specs/CombinedConnectorCatalogGenerator.java
  airbyte-config-oss/specs-oss/src/main/java/io/airbyte/configoss/specs/ConnectorRegistryDownloader.java
  airbyte-config-oss/specs-oss/src/main/java/io/airbyte/configoss/specs/ConnectorSpecMaskDownloader.java
  airbyte-config-oss/specs-oss/src/main/java/io/airbyte/configoss/specs/ConnectorSpecMaskGenerator.java
  airbyte-config-oss/specs-oss/src/main/java/io/airbyte/configoss/specs/SeedConnectorSpecGenerator.java
  airbyte-config-oss/specs-oss/src/main/java/io/airbyte/configoss/specs/SeedConnectorType.java
  airbyte-config-oss/specs-oss/src/main/java/io/airbyte/configoss/specs/SpecMaskPropertyGenerator.java
  airbyte-config-oss/specs-oss/src/test/java/io/airbyte/configoss/specs/CombinedConnectorCatalogGeneratorTest.java
  airbyte-config-oss/specs-oss/src/test/java/io/airbyte/configoss/specs/ConnectorSpecMaskDownloaderTest.java
  airbyte-config-oss/specs-oss/src/test/java/io/airbyte/configoss/specs/ConnectorSpecMaskGeneratorTest.java
  airbyte-config-oss/specs-oss/src/test/java/io/airbyte/configoss/specs/SeedConnectorSpecGeneratorTest.java
  airbyte-config-oss/specs-oss/src/test/java/io/airbyte/configoss/specs/SpecMaskPropertyGeneratorTest.java
  airbyte-config-oss/specs-oss/src/test/resources/valid_specs/test_specs.yaml
  airbyte-integrations/connector-templates/destination-java/definition.yaml.hbs
  airbyte-integrations/connector-templates/generator/plopfile.js
  build.gradle
  docs/connector-development/README.md
  docs/connector-development/connector-metadata-file.md
  docs/connector-development/testing-connectors/connector-acceptance-tests-reference.md
  docs/connector-development/tutorials/building-a-python-source.md
  docs/troubleshooting/new-connection.md
  octavia-cli/integration_tests/test_generate/test_renderers.py
  octavia-cli/setup.py
  tools/bin/rebuild_acceptance_test_connector_images_locally.sh
  tools/integrations/manage.sh
Labels: area/documentation

#25842 :tada: Source Amplitude: added missing attrs in events schema, enabled default availability strategy
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amplitude/Dockerfile
  airbyte-integrations/connectors/source-amplitude/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amplitude/source_amplitude/schemas/cohorts.json
  airbyte-integrations/connectors/source-amplitude/source_amplitude/schemas/events.json
  airbyte-integrations/connectors/source-amplitude/source_amplitude/streams.py
  docs/integrations/sources/amplitude.md
Labels: area/documentation, area/connectors, connectors/source/amplitude

#25957 source-s3: update connector version in metadata.yaml
  airbyte-integrations/connectors/source-s3/metadata.yaml
Labels: area/connectors, connectors/source/s3

#25974 Metadata: bump source-amplitude
  airbyte-integrations/connectors/source-amplitude/metadata.yaml
Labels: area/connectors, connectors/source/amplitude

#25975 Action Fix: Update action and add demo folder
  .github/workflows/upload-metadata-files.yml
  airbyte-integrations/connectors/source-metadata-test-folder/README.md
  airbyte-integrations/connectors/source-metadata-test-folder/metadata.yaml
Labels: area/connectors, connectors/source/metadata-test-folder

#25460 Convert source mysql decimal number with 0 decimal digits to an int
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-db/db-lib/src/main/java/io/airbyte/db/jdbc/JdbcConstants.java
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-integrations/connectors/source-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSourceOperations.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractMySqlSourceDatatypeTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/MySqlDatatypeAccuracyTest.java
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, connectors/source/mysql, connectors/source/jdbc, connectors/source/mysql-strict-encrypt

#25979 Revert metadata service upload to use env var over json file for creds
  .github/workflows/upload-metadata-files.yml
  airbyte-ci/connectors/metadata_service/lib/metadata_service/commands.py
  airbyte-ci/connectors/metadata_service/lib/metadata_service/gcs_upload.py
  airbyte-ci/connectors/metadata_service/lib/tests/test_commands.py
  airbyte-ci/connectors/metadata_service/lib/tests/test_gcs_upload.py
  airbyte-integrations/connectors/source-metadata-test-folder/README.md
  airbyte-integrations/connectors/source-metadata-test-folder/metadata.yaml
  tools/ci_connector_ops/ci_connector_ops/pipelines/actions/environments.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/commands/groups/metadata.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/pipelines/metadata.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/publish.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/tests/common.py
Labels: area/connectors, checklist-action-run, connectors/source/metadata-test-folder

#25980 Metadata diff update
  airbyte-integrations/connectors/source-mysql-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-mysql/metadata.yaml
Labels: area/connectors, connectors/source/mysql, connectors/source/mysql-strict-encrypt, checklist-action-run

#25948 :bug: Source Gitlab, Source Hubspot, Source Snapchat-Marketing: fix builds
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-gitlab/Dockerfile
  airbyte-integrations/connectors/source-gitlab/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-gitlab/integration_tests/expected_records_with_ids.jsonl
  airbyte-integrations/connectors/source-gitlab/metadata.yaml
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/projects.json
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-snapchat-marketing/Dockerfile
  airbyte-integrations/connectors/source-snapchat-marketing/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-snapchat-marketing/metadata.yaml
  airbyte-integrations/connectors/source-snapchat-marketing/source_snapchat_marketing/schemas/campaigns.json
  docs/integrations/sources/gitlab.md
  docs/integrations/sources/snapchat-marketing.md
Labels: area/documentation, area/connectors, connectors/source/hubspot, connectors/source/snapchat-marketing, connectors/source/gitlab, checklist-action-run

#25915 🐛 Source Mixpanel, Source Pinterest, Source Freshdesk: fix builds
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-freshdesk/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-mixpanel/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-pinterest/Dockerfile
  airbyte-integrations/connectors/source-pinterest/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/board_pins.json
  docs/integrations/sources/pinterest.md
Labels: area/documentation, area/connectors, connectors/source/mixpanel, connectors/source/freshdesk, connectors/source/pinterest, connectors/source/pipedrive, checklist-action-run

#25961 🐛 Source Shopify: validate `shop` input (name only, reject urls)
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-shopify/Dockerfile
  airbyte-integrations/connectors/source-shopify/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-shopify/metadata.yaml
  airbyte-integrations/connectors/source-shopify/source_shopify/spec.json
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors, connectors/source/shopify, team/connectors-python

#25855 [ISSUE #25953] update frozen airbyte-connector-atelier-server python …
  .github/workflows/publish-cdk-command-manually.yml
  airbyte-cdk/python/setup.py
Labels: CDK

#25934 Docs: add note for breaking change title convention
  docs/contributing-to-airbyte/issues-and-pull-requests.md
Labels: area/documentation

#25996 source-bing-ads: implement retry logic if SSL verification failed
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-bing-ads/Dockerfile
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/setup.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/client.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/source.py
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors, connectors/source/bing-ads

#25959 Connector builder: Prepare docs for open beta
  docs/connector-development/connector-builder-ui/overview.md
  docs/connector-development/connector-builder-ui/tutorial.mdx
Labels: area/documentation, team/extensibility

#25942 connectors-ci: fix postgres integration testing
  .github/workflows/connector_integration_test_single_dagger.yml
  .github/workflows/connector_nightly_builds_dagger.yml
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/util/HostPortResolver.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractPostgresSourceSSLCertificateAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcInitialSnapshotPostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcPostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcWalLogsPostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/PostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresCdcGetPublicizedTablesTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresSpecTest.java
  tools/ci_connector_ops/ci_connector_ops/pipelines/actions/environments.py
Labels: area/connectors, connectors/source/mysql, connectors/source/postgres

#26006 fix broken docs link
  docs/contributing-to-airbyte/issues-and-pull-requests.md
Labels: area/documentation

#26015 Docs: Metadata add docs ahead of merge
  .github/comment_templates/connector_dependency_template.md
  .gitignore
  airbyte-ci/connectors/CONNECTOR_CHECKLIST.yaml
  airbyte-config-oss/init-oss/readme.md
  airbyte-config-oss/specs-oss/README.md
  docs/connector-development/README.md
  docs/connector-development/connector-metadata-file.md
  docs/connector-development/testing-connectors/connector-acceptance-tests-reference.md
  docs/connector-development/tutorials/building-a-python-source.md
  docs/contributing-to-airbyte/issues-and-pull-requests.md
Labels: area/documentation

#25936 Docs: add schema stream reference instructions
  docs/connector-development/schema-reference.md
  docusaurus/sidebars.js
Labels: area/documentation

#25965 🐛 Fix `date-time` for airbyte types
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/destination-convex/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/destination-cumulio/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/destination-duckdb/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/destination-firebolt/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/destination-sqlite/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-file/Dockerfile
  airbyte-integrations/connectors/source-file/metadata.yaml
  airbyte-integrations/connectors/source-file/source_file/client.py
  airbyte-integrations/connectors/source-file/unit_tests/test_client.py
  airbyte-integrations/connectors/source-firebolt/Dockerfile
  airbyte-integrations/connectors/source-firebolt/integration_tests/catalog.json
  airbyte-integrations/connectors/source-firebolt/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-firebolt/integration_tests/integration_test.py
  airbyte-integrations/connectors/source-firebolt/metadata.yaml
  airbyte-integrations/connectors/source-firebolt/source_firebolt/utils.py
  airbyte-integrations/connectors/source-firebolt/unit_tests/test_firebolt_source.py
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/ad_group_ad_report.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/shopping_performance_report.json
  airbyte-integrations/connectors/source-hellobaton/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-hellobaton/source_hellobaton/schemas/project_attachments.json
  airbyte-integrations/connectors/source-stripe/Dockerfile
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/subscription_schedule.json
  docs/integrations/sources/file.md
  docs/integrations/sources/firebolt.md
  docs/integrations/sources/google-ads.md
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, connectors/source/stripe, connectors/source/google-ads, connectors/source/file, connectors/source/firebolt, connectors/destination/firebolt, connectors/destination/sqlite, connectors/source/hellobaton, connectors/destination/duckdb, connectors/destination/convex, connectors/destination/cumulio

#25950 Update postgres.md
  docs/integrations/sources/postgres.md
Labels: area/documentation, community

#26008 🐛 Source Google Analytics V4 Data API: handle `429 - potentiallyThresholdedRequestsPerHour`
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-data-api/build.gradle
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/api_quota.py
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_api_quota.py
  docs/integrations/sources/google-analytics-data-api.md
Labels: area/documentation, area/connectors, team/connectors-python, connectors/source/google-analytics-data-api, checklist-action-run

#25993 Normalization: Better handling for interesting CDC situations
  airbyte-config-oss/init-oss/src/main/resources/seed/destination_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/destination_specs.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-integrations/bases/base-normalization/Dockerfile
  airbyte-integrations/bases/base-normalization/integration_tests/dbt_integration_test.py
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_simple_streams/data_input/catalog.json
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_simple_streams/data_input/catalog_schema_change.json
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_simple_streams/data_input/messages.txt
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_simple_streams/data_input/messages_incremental.txt
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_simple_streams/data_input/messages_schema_change.txt
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_simple_streams/data_input/replace_identifiers.json
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_simple_streams/dbt_test_config/dbt_data_tests/test_dedup_cdc_excluded_first_run_names.sql
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_simple_streams/dbt_test_config/dbt_data_tests_incremental/test_dedup_cdc_excluded_second_run_incorrect_names.sql
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_simple_streams/dbt_test_config/dbt_data_tests_schema_change/test_dedup_cdc_excluded_third_run_incorrect_names.sql
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_simple_streams/dbt_test_config/dbt_data_tests_tmp/dedup_cdc_excluded_first_run_incorrect_names.sql
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_simple_streams/dbt_test_config/dbt_data_tests_tmp/simple_streams_first_run_row_counts.sql
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_simple_streams/dbt_test_config/dbt_data_tests_tmp_incremental/dedup_cdc_excluded_second_run_incorrect_names.sql
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_simple_streams/dbt_test_config/dbt_data_tests_tmp_incremental/simple_streams_second_run_row_counts.sql
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_simple_streams/dbt_test_config/dbt_data_tests_tmp_schema_change/dedup_cdc_excluded_third_run_incorrect_names.sql
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_simple_streams/dbt_test_config/dbt_data_tests_tmp_schema_change/simple_streams_third_run_row_counts.sql
  airbyte-integrations/bases/base-normalization/integration_tests/resources/test_sparse_nested_streams/data_input/messages.txt
  airbyte-integrations/bases/base-normalization/normalization/transform_catalog/stream_processor.py
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-clickhouse/metadata.yaml
  airbyte-integrations/connectors/destination-mssql/metadata.yaml
  airbyte-integrations/connectors/destination-mysql/metadata.yaml
  airbyte-integrations/connectors/destination-oracle/metadata.yaml
  airbyte-integrations/connectors/destination-postgres/metadata.yaml
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-tidb/metadata.yaml
  docs/integrations/destinations/bigquery.md
  docs/understanding-airbyte/basic-normalization.md
Labels: area/documentation, area/connectors, normalization, connectors/destination/bigquery, connectors/destination/snowflake, connectors/destination/redshift, connectors/destination/mysql, connectors/destination/clickhouse, connectors/destination/mssql, connectors/destination/postgres, connectors/destination/oracle, connectors/destination/tidb

#26019 bump version of file secure
  airbyte-integrations/connectors/source-file-secure/Dockerfile
  airbyte-integrations/connectors/source-file-secure/metadata.yaml
Labels: area/connectors, connectors/source/file-secure, checklist-action-run

#26020 [lowcode] OAuth Authenticator: cast token expiry time to number
  airbyte-cdk/python/airbyte_cdk/sources/declarative/auth/oauth.py
  airbyte-cdk/python/unit_tests/sources/declarative/auth/test_oauth.py
Labels: CDK

#25987 🎉Categorized Config Errors Accurately for Google Analytics 4 (GA4) and Google Ads
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/utils.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_utils.py
  airbyte-integrations/connectors/source-google-analytics-data-api/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-data-api/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/source.py
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/spec.json
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_source.py
  docs/integrations/sources/google-ads.md
  docs/integrations/sources/google-analytics-data-api.md
Labels: area/documentation, area/connectors, connectors/source/google-ads, connectors/source/google-analytics-data-api

#26024 :bug: Source Close-Come, Source Hubspot, Source GitHub, Source TikTok-Marketing, Source SurveyMonkey, Source SmartSheets: fix builds
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-close-com/Dockerfile
  airbyte-integrations/connectors/source-close-com/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-close-com/metadata.yaml
  airbyte-integrations/connectors/source-close-com/source_close_com/schemas/email_sequences.json
  airbyte-integrations/connectors/source-github/acceptance-test-config.yml
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-smartsheets/Dockerfile
  airbyte-integrations/connectors/source-smartsheets/metadata.yaml
  airbyte-integrations/connectors/source-smartsheets/setup.py
  airbyte-integrations/connectors/source-surveymonkey/Dockerfile
  airbyte-integrations/connectors/source-surveymonkey/metadata.yaml
  airbyte-integrations/connectors/source-surveymonkey/setup.py
  airbyte-integrations/connectors/source-tiktok-marketing/Dockerfile
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-tiktok-marketing/metadata.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/ads.json
  docs/integrations/sources/close-com.md
  docs/integrations/sources/smartsheets.md
  docs/integrations/sources/surveymonkey.md
  docs/integrations/sources/tiktok-marketing.md
Labels: area/documentation, area/connectors, connectors/source/hubspot, connectors/source/surveymonkey, connectors/source/close-com, connectors/source/github, connectors/source/google-analytics-v4, connectors/source/smartsheets, connectors/source/tiktok-marketing, checklist-action-run

#23956 Source Marketo: New Stream Segmentation
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-marketo/Dockerfile
  airbyte-integrations/connectors/source-marketo/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-marketo/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-marketo/integration_tests/incremental_catalog.json
  airbyte-integrations/connectors/source-marketo/metadata.yaml
  airbyte-integrations/connectors/source-marketo/source_marketo/schemas/segmentations.json
  airbyte-integrations/connectors/source-marketo/source_marketo/source.py
  airbyte-integrations/connectors/source-marketo/unit_tests/test_source.py
  docs/integrations/sources/marketo.md
Labels: area/documentation, area/connectors, community, connectors/source/marketo, bounty, contributor-program, ga-connector-change, gl-review

#26063 :bug: Source Twilio, Source Gitlab, Source Hubspot: fix builds
  airbyte-integrations/connectors/source-gitlab/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-gitlab/integration_tests/expected_records_with_ids.jsonl
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-twilio/acceptance-test-config.yml
  airbyte-integrations/connectors/source-twilio/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/hubspot, connectors/source/gitlab, connectors/source/twilio, checklist-action-run

#26014 Source: Iterable - improve 500 handling for Events stream
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-iterable/Dockerfile
  airbyte-integrations/connectors/source-iterable/metadata.yaml
  airbyte-integrations/connectors/source-iterable/setup.py
  airbyte-integrations/connectors/source-iterable/source_iterable/source.py
  airbyte-integrations/connectors/source-iterable/source_iterable/streams.py
  airbyte-integrations/connectors/source-iterable/source_iterable/utils.py
  airbyte-integrations/connectors/source-iterable/unit_tests/conftest.py
  airbyte-integrations/connectors/source-iterable/unit_tests/test_export_adjustable_range.py
  airbyte-integrations/connectors/source-iterable/unit_tests/test_exports_stream.py
  airbyte-integrations/connectors/source-iterable/unit_tests/test_source.py
  airbyte-integrations/connectors/source-iterable/unit_tests/test_stream_events.py
  airbyte-integrations/connectors/source-iterable/unit_tests/test_streams.py
  docs/integrations/sources/iterable.md
Labels: area/documentation, area/connectors, connectors/source/iterable

#26048 Update Troubleshooting documentation
  docs/connector-development/README.md
  docs/deploying-airbyte/local-deployment.md
  docs/operator-guides/upgrading-airbyte.md
  docs/quickstart/deploy-airbyte.md
  docs/readme.md
  docs/troubleshooting.md
  docs/troubleshooting/README.md
  docs/troubleshooting/new-connection.md
  docs/troubleshooting/on-deploying.md
  docs/troubleshooting/on-upgrading.md
  docs/troubleshooting/running-sync.md
  docusaurus/sidebars.js
Labels: area/documentation

#25776 🚨🚨 e2e-test: Standardize e2e testing destination spec
  airbyte-config-oss/init-oss/src/main/resources/seed/destination_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/destination_specs.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-integrations/connectors/destination-dev-null/Dockerfile
  airbyte-integrations/connectors/destination-dev-null/metadata.yaml
  airbyte-integrations/connectors/destination-dev-null/src/main/java/io/airbyte/integrations/destination/dev_null/DevNullDestination.java
  airbyte-integrations/connectors/destination-dev-null/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/destination-e2e-test/Dockerfile
  airbyte-integrations/connectors/destination-e2e-test/metadata.yaml
  airbyte-integrations/connectors/destination-e2e-test/src/main/java/io/airbyte/integrations/destination/e2e_test/FailAfterNDestination.java
  airbyte-integrations/connectors/destination-e2e-test/src/main/java/io/airbyte/integrations/destination/e2e_test/TestingDestinations.java
  airbyte-integrations/connectors/destination-e2e-test/src/main/java/io/airbyte/integrations/destination/e2e_test/ThrottledDestination.java
  airbyte-integrations/connectors/destination-e2e-test/src/main/java/io/airbyte/integrations/destination/e2e_test/logging/TestingLoggerFactory.java
  airbyte-integrations/connectors/destination-e2e-test/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-e2e-test/src/test-integration/java/io/airbyte/integrations/destination/e2e_test/TestingSilentDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-e2e-test/src/test/java/io/airbyte/integrations/destination/e2e_test/ThrottledDestinationTest.java
  docs/integrations/destinations/dev-null.md
  docs/integrations/destinations/e2e-test.md
Labels: area/documentation, area/connectors, connectors/destination/e2e-test, connectors/destination/dev-null, breaking-change

#26102 Davinchia/upload workers
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination_async/AsyncStreamConsumer.java
  airbyte-integrations/bases/bases-destination-jdbc/src/main/java/io/airbyte/integrations/destination/staging/StagingConsumerFactory.java
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractPostgresSourceSSLCertificateAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcPostgresSourceAcceptanceTest.java
Labels: area/connectors, connectors/source/postgres, connectors/source/jdbc

#26094 Destination: dev-null - Add icon
  airbyte-integrations/connectors/destination-dev-null/metadata.yaml
Labels: area/connectors, connectors/destination/dev-null, checklist-action-run

#26087 📝 run java formatter
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractPostgresSourceSSLCertificateAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcPostgresSourceAcceptanceTest.java
Labels: area/connectors, connectors/source/postgres, connectors/source/jdbc

#26104 Fix: Pin metadata to 0.2.7
  airbyte-integrations/connectors/destination-dev-null/metadata.yaml
Labels: area/connectors, connectors/destination/dev-null

#26112 :bug: Source Pinterest, Source Strava, Source Sentry, Source Xero: fix builds
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-pinterest/Dockerfile
  airbyte-integrations/connectors/source-pinterest/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/board_pins.json
  airbyte-integrations/connectors/source-sentry/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-strava/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-xero/integration_tests/expected_records.jsonl
  docs/integrations/sources/pinterest.md
Labels: area/documentation, area/connectors, connectors/source/sentry, connectors/source/pinterest, connectors/source/strava, connectors/source/xero, checklist-action-run

#25947 Source Google Ads: improve GAQL parser error messages
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/utils.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_utils.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, connectors/source/google-ads

#26117 Source File: Check if reader options is JSON object
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-file-secure/Dockerfile
  airbyte-integrations/connectors/source-file-secure/metadata.yaml
  airbyte-integrations/connectors/source-file/Dockerfile
  airbyte-integrations/connectors/source-file/metadata.yaml
  airbyte-integrations/connectors/source-file/source_file/source.py
  airbyte-integrations/connectors/source-file/unit_tests/conftest.py
  airbyte-integrations/connectors/source-file/unit_tests/test_source.py
  docs/integrations/sources/file.md
Labels: area/documentation, area/connectors, connectors/source/file, connectors/source/file-secure

#25885 Source: Amazon Ads - Improve error handling for attribution_report(s) streams
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-ads/Dockerfile
  airbyte-integrations/connectors/source-amazon-ads/metadata.yaml
  airbyte-integrations/connectors/source-amazon-ads/setup.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/attribution_report.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/test_attribution_report.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/utils.py
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, area/connectors, connectors/source/amazon-ads

#26075 🐛Source GitHub: added description for no repos case error
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/source_github/source.py
  airbyte-integrations/connectors/source-github/unit_tests/test_source.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors, connectors/source/github, checklist-action-run

#26129 Bump file secure version
  airbyte-integrations/connectors/source-file-secure/Dockerfile
  airbyte-integrations/connectors/source-file-secure/metadata.yaml
  airbyte-integrations/connectors/source-file/metadata.yaml
Labels: area/connectors, connectors/source/file, connectors/source/file-secure, checklist-action-run

#25913 Source Amazon Ads: get rid of `fail_on_extra_columns: false` in SAT
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-ads/Dockerfile
  airbyte-integrations/connectors/source-amazon-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amazon-ads/metadata.yaml
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/common.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_display.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_products.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/test_source.py
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, area/connectors, connectors/source/amazon-ads

#26025 Source Github: better error explanation for 401
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/source_github/constants.py
  airbyte-integrations/connectors/source-github/source_github/source.py
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
  airbyte-integrations/connectors/source-github/unit_tests/unit_test.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors, connectors/source/github

#26013 Feat: Metadata Service remove old catalog system
  .github/workflows/deploy-oss-catalog.yml
  .github/workflows/gradle.yml
  .github/workflows/publish-command.yml
  .pre-commit-config.yaml
  airbyte-commons/src/main/java/io/airbyte/commons/features/FeatureFlags.java
  airbyte-commons/src/main/java/io/airbyte/commons/logging/MaskedDataInterceptor.java
  airbyte-config-oss/config-models-oss/src/main/java/io/airbyte/configoss/CatalogDefinitionsConfig.java
  airbyte-config-oss/init-oss/build.gradle
  airbyte-config-oss/init-oss/src/main/java/io/airbyte/configoss/init/IconValidationTask.java
  airbyte-config-oss/init-oss/src/main/java/io/airbyte/configoss/init/LocalDefinitionsProvider.java
  airbyte-config-oss/init-oss/src/main/java/io/airbyte/configoss/init/RemoteDefinitionsProvider.java
  airbyte-config-oss/init-oss/src/main/java/io/airbyte/configoss/init/SeedType.java
  airbyte-config-oss/init-oss/src/main/resources/seed/destination_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/destination_specs.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_catalog.json
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_registry.json
  airbyte-config-oss/init-oss/src/main/resources/seed/source_definitions.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/source_specs.yaml
  airbyte-config-oss/init-oss/src/test/java/io/airbyte/configoss/init/LocalDefinitionsProviderTest.java
  airbyte-config-oss/specs-oss/build.gradle
  airbyte-config-oss/specs-oss/src/main/java/io/airbyte/configoss/specs/CombinedConnectorCatalogGenerator.java
  airbyte-config-oss/specs-oss/src/main/java/io/airbyte/configoss/specs/ConnectorRegistryDownloader.java
  airbyte-config-oss/specs-oss/src/main/java/io/airbyte/configoss/specs/ConnectorSpecMaskDownloader.java
  airbyte-config-oss/specs-oss/src/main/java/io/airbyte/configoss/specs/ConnectorSpecMaskGenerator.java
  airbyte-config-oss/specs-oss/src/main/java/io/airbyte/configoss/specs/SeedConnectorSpecGenerator.java
  airbyte-config-oss/specs-oss/src/main/java/io/airbyte/configoss/specs/SeedConnectorType.java
  airbyte-config-oss/specs-oss/src/main/java/io/airbyte/configoss/specs/SpecMaskPropertyGenerator.java
  airbyte-config-oss/specs-oss/src/test/java/io/airbyte/configoss/specs/CombinedConnectorCatalogGeneratorTest.java
  airbyte-config-oss/specs-oss/src/test/java/io/airbyte/configoss/specs/ConnectorSpecMaskDownloaderTest.java
  airbyte-config-oss/specs-oss/src/test/java/io/airbyte/configoss/specs/ConnectorSpecMaskGeneratorTest.java
  airbyte-config-oss/specs-oss/src/test/java/io/airbyte/configoss/specs/SeedConnectorSpecGeneratorTest.java
  airbyte-config-oss/specs-oss/src/test/java/io/airbyte/configoss/specs/SpecMaskPropertyGeneratorTest.java
  airbyte-config-oss/specs-oss/src/test/resources/valid_specs/test_specs.yaml
  airbyte-integrations/bases/connector-acceptance-test/tools/acceptance_test_config_migration/definitions.py
  airbyte-integrations/connector-templates/destination-java/definition.yaml.hbs
  airbyte-integrations/connector-templates/generator/plopfile.js
  build.gradle
  octavia-cli/integration_tests/test_generate/test_renderers.py
  octavia-cli/setup.py
  tools/bin/build_report.py
  tools/bin/check_images_exist.sh
  tools/bin/ci_check_dependency.py
  tools/bin/ci_integration_workflow_launcher.py
  tools/bin/rebuild_acceptance_test_connector_images_locally.sh
  tools/bin/scan_all_spec_airbyte_secret.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/tests/common.py
  tools/ci_connector_ops/ci_connector_ops/utils.py
  tools/integrations/manage.sh
Labels: connectors/source/amazon-ads

#26097 Source Google Sheets: handle config errors
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_registry.json
  airbyte-integrations/connectors/source-google-sheets/Dockerfile
  airbyte-integrations/connectors/source-google-sheets/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-sheets/metadata.yaml
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/source.py
  airbyte-integrations/connectors/source-google-sheets/unit_tests/conftest.py
  airbyte-integrations/connectors/source-google-sheets/unit_tests/test_stream.py
  docs/integrations/sources/google-sheets.md
Labels: area/documentation, area/connectors, connectors/source/google-sheets

#26065 Source FreshCaller: fix spec type check
  airbyte-integrations/connectors/source-freshcaller/Dockerfile
  airbyte-integrations/connectors/source-freshcaller/acceptance-test-config.yml
  airbyte-integrations/connectors/source-freshcaller/metadata.yaml
  airbyte-integrations/connectors/source-freshcaller/setup.py
  airbyte-integrations/connectors/source-freshcaller/source_freshcaller/schemas/call_metrics.json
  airbyte-integrations/connectors/source-freshcaller/source_freshcaller/schemas/calls.json
  airbyte-integrations/connectors/source-freshcaller/source_freshcaller/schemas/teams.json
  airbyte-integrations/connectors/source-freshcaller/source_freshcaller/schemas/users.json
  airbyte-integrations/connectors/source-freshcaller/source_freshcaller/spec.json
  airbyte-integrations/connectors/source-freshcaller/source_freshcaller/streams.py
  docs/integrations/sources/freshcaller.md
Labels: area/documentation, area/connectors, connectors/source/freshcaller

#26131 Source File Secure: bump source-file version 0.2.38 -> 0.3.7
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_registry.json
  airbyte-integrations/connectors/source-file-secure/Dockerfile
  airbyte-integrations/connectors/source-file-secure/integration_tests/spec.json
  airbyte-integrations/connectors/source-file-secure/metadata.yaml
  airbyte-integrations/connectors/source-file/Dockerfile
  airbyte-integrations/connectors/source-file/metadata.yaml
  docs/integrations/sources/file.md
Labels: area/documentation, area/connectors, connectors/source/file, connectors/source/file-secure

#26166 Remove auto=bump from /publish
  .github/workflows/publish-command.yml
  docs/connector-development/README.md
Labels: area/documentation

#26175 Test Perf Bottleneck
  airbyte-integrations/connectors-performance/destination-harness/src/main/resources/catalogs/destination-snowflake/bottleneck_stream1_datasource.txt
Labels: area/connectors, connectors/destination/snowflake, checklist-action-run

#26179 async destination -- fix mem tracking
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination_async/BufferManager.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination_async/MemoryBoundedLinkedBlockingQueue.java
Labels: area/connectors

#26186 🐛 Source Slack: limit the `lookback window` range to prevent `Overflow` with dates
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_registry.json
  airbyte-integrations/connectors/source-slack/Dockerfile
  airbyte-integrations/connectors/source-slack/metadata.yaml
  airbyte-integrations/connectors/source-slack/source_slack/spec.json
  docs/integrations/sources/slack.md
Labels: area/documentation, area/connectors, connectors/source/slack, team/connectors-python, checklist-action-run

#26188 :bug: Source Hubspot, Gitlab, Salesloft, Pinterest: fix builds
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_registry.json
  airbyte-integrations/connectors/source-gitlab/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-gitlab/integration_tests/expected_records_with_ids.jsonl
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-pinterest/Dockerfile
  airbyte-integrations/connectors/source-pinterest/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/board_pins.json
  airbyte-integrations/connectors/source-salesloft/Dockerfile
  airbyte-integrations/connectors/source-salesloft/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-salesloft/metadata.yaml
  airbyte-integrations/connectors/source-salesloft/source_salesloft/schemas/cadences.json
  docs/integrations/sources/pinterest.md
  docs/integrations/sources/salesloft.md
Labels: area/documentation, area/connectors, connectors/source/hubspot, connectors/source/gitlab, connectors/source/pinterest, connectors/source/salesloft, checklist-action-run

#25793 Source Github: implement client-side throttling of requests
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_registry.json
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/setup.py
  airbyte-integrations/connectors/source-github/source_github/source.py
  airbyte-integrations/connectors/source-github/source_github/spec.json
  airbyte-integrations/connectors/source-github/source_github/utils.py
  airbyte-integrations/connectors/source-github/unit_tests/test_source.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors, connectors/source/github

#26139 🐛 Source Salesforce: update expected records after credentials rotation
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_registry.json
  airbyte-integrations/connectors/source-salesforce/README.md
  airbyte-integrations/connectors/source-salesforce/acceptance-test-config.yml
  airbyte-integrations/connectors/source-salesforce/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/salesforce

#25925 ✨ Destination Bigquery: stop running normalization container for DAT
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_registry.json
  airbyte-connector-test-harnesses/acceptance-test-harness/src/main/java/io/airbyte/workers/general/DbtTransformationRunner.java
  airbyte-connector-test-harnesses/acceptance-test-harness/src/main/java/io/airbyte/workers/helper/EntrypointEnvChecker.java
  airbyte-connector-test-harnesses/acceptance-test-harness/src/main/java/io/airbyte/workers/internal/AirbyteDestination.java
  airbyte-connector-test-harnesses/acceptance-test-harness/src/main/java/io/airbyte/workers/internal/DefaultAirbyteDestination.java
  airbyte-connector-test-harnesses/acceptance-test-harness/src/main/java/io/airbyte/workers/normalization/DefaultNormalizationRunner.java
  airbyte-connector-test-harnesses/acceptance-test-harness/src/main/java/io/airbyte/workers/process/AirbyteIntegrationLauncher.java
  airbyte-connector-test-harnesses/acceptance-test-harness/src/main/java/io/airbyte/workers/process/DockerProcessFactory.java
  airbyte-connector-test-harnesses/acceptance-test-harness/src/main/java/io/airbyte/workers/process/IntegrationLauncher.java
  airbyte-connector-test-harnesses/acceptance-test-harness/src/main/java/io/airbyte/workers/process/ProcessFactory.java
  airbyte-integrations/bases/base-normalization/README.md
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/DestinationAcceptanceTest.java
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/LocalAirbyteDestination.java
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/AbstractBigQueryDestinationAcceptanceTest.java
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, normalization, connectors/destination/bigquery

#25946 Source Airtable: skip missing streams
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_registry.json
  airbyte-integrations/connectors/source-airtable/Dockerfile
  airbyte-integrations/connectors/source-airtable/metadata.yaml
  airbyte-integrations/connectors/source-airtable/source_airtable/source.py
  airbyte-integrations/connectors/source-airtable/unit_tests/conftest.py
  airbyte-integrations/connectors/source-airtable/unit_tests/test_source.py
  docs/integrations/sources/airtable.md
Labels: area/documentation, area/connectors, connectors/source/airtable

#25701 🎉 New Source: Ringcentral [Low code CDK]
  airbyte-config-oss/init-oss/src/main/resources/icons/ringcentral.svg
  airbyte-integrations/connectors/source-ringcentral/.dockerignore
  airbyte-integrations/connectors/source-ringcentral/Dockerfile
  airbyte-integrations/connectors/source-ringcentral/README.md
  airbyte-integrations/connectors/source-ringcentral/__init__.py
  airbyte-integrations/connectors/source-ringcentral/acceptance-test-config.yml
  airbyte-integrations/connectors/source-ringcentral/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-ringcentral/build.gradle
  airbyte-integrations/connectors/source-ringcentral/integration_tests/__init__.py
  airbyte-integrations/connectors/source-ringcentral/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-ringcentral/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-ringcentral/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-ringcentral/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-ringcentral/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-ringcentral/main.py
  airbyte-integrations/connectors/source-ringcentral/metadata.yaml
  airbyte-integrations/connectors/source-ringcentral/requirements.txt
  airbyte-integrations/connectors/source-ringcentral/setup.py
  airbyte-integrations/connectors/source-ringcentral/source_ringcentral/__init__.py
  airbyte-integrations/connectors/source-ringcentral/source_ringcentral/manifest.yaml
  airbyte-integrations/connectors/source-ringcentral/source_ringcentral/schemas/blocked_allowed_phonenumbers.json
  airbyte-integrations/connectors/source-ringcentral/source_ringcentral/schemas/call_monitoring_groups.json
  airbyte-integrations/connectors/source-ringcentral/source_ringcentral/schemas/call_queues.json
  airbyte-integrations/connectors/source-ringcentral/source_ringcentral/schemas/call_record_settings.json
  airbyte-integrations/connectors/source-ringcentral/source_ringcentral/schemas/callblock_settings.json
  airbyte-integrations/connectors/source-ringcentral/source_ringcentral/schemas/company_business_hours.json
  airbyte-integrations/connectors/source-ringcentral/source_ringcentral/schemas/company_call_handling_rules.json
  airbyte-integrations/connectors/source-ringcentral/source_ringcentral/schemas/fax_cover.json
  airbyte-integrations/connectors/source-ringcentral/source_ringcentral/schemas/forwarding_numbers.json
  airbyte-integrations/connectors/source-ringcentral/source_ringcentral/schemas/greetings.json
  airbyte-integrations/connectors/source-ringcentral/source_ringcentral/schemas/ivr_prompts.json
  airbyte-integrations/connectors/source-ringcentral/source_ringcentral/schemas/user_active_calls.json
  airbyte-integrations/connectors/source-ringcentral/source_ringcentral/schemas/user_business_hours.json
  airbyte-integrations/connectors/source-ringcentral/source_ringcentral/schemas/user_call_records.json
  airbyte-integrations/connectors/source-ringcentral/source_ringcentral/source.py
  airbyte-integrations/connectors/source-ringcentral/source_ringcentral/spec.yaml
  docs/integrations/sources/ringcentral.md
Labels: area/documentation, area/connectors, bounty, hackthon-developer-week, connectors/source/ringcentral, community-legacy

#24450 🎉 Source Hubspot: add Goals stream
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/README.md
  airbyte-integrations/connectors/source-hubspot/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/sample_files/basic_read_catalog.json
  airbyte-integrations/connectors/source-hubspot/sample_files/basic_read_oauth_catalog.json
  airbyte-integrations/connectors/source-hubspot/sample_files/full_refresh_catalog.json
  airbyte-integrations/connectors/source-hubspot/sample_files/full_refresh_oauth_catalog.json
  airbyte-integrations/connectors/source-hubspot/sample_files/incremental_catalog.json
  airbyte-integrations/connectors/source-hubspot/sample_files/sample_state.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/goals.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/source.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_source.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_streams.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot, team/connectors-python, bounty, ga-connector-change, community-legacy

#26209 Source Google Ads: handle refresh error
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_registry.json
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/google_ads.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_google_ads.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, connectors/source/google-ads

#26213 🐛 Destination BigQuery (+denormalized): correctly parse buffer count
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_registry.json
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  airbyte-integrations/connectors/destination-bigquery-denormalized/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedGcsDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDestination.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryGcsDestinationAcceptanceTest.java
  docs/integrations/destinations/bigquery-denormalized.md
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/source/airtable, connectors/destination/bigquery, connectors/destination/bigquery-denormalized, checklist-action-run, connectors/source/ringcentral

#26106 Fix and unpin destination-dev-null
  airbyte-integrations/connectors/destination-dev-null/metadata.yaml
  airbyte-integrations/connectors/destination-dev-null/src/main/java/io/airbyte/integrations/destination/dev_null/DevNullDestination.java
  airbyte-integrations/connectors/destination-dev-null/src/test-integration/java/io/airbyte/integrations/destination/dev_null/DevNullDestinationAcceptanceTest.java
Labels: area/connectors, connectors/destination/dev-null

#24125 add documentation about new simplify connector form fields
  docs/.gitbook/assets/connector-form-groups.png
  docs/.gitbook/assets/connector-form-optional-fields.png
  docs/.gitbook/assets/connector-form-pattern-descriptors.png
  docs/connector-development/connector-specification-reference.md
Labels: area/documentation

#26196 Add OSS/Cloud tags to Google Ads doc
  docs/integrations/sources/google-ads.md
Labels: area/documentation

#25898 Source Postgres: Number(38,0) is incorrectly translated to a destination Double instead of BigInt
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_registry.json
  airbyte-db/db-lib/src/main/java/io/airbyte/db/jdbc/AbstractJdbcCompatibleSourceOperations.java
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/internals/postgres/PostgresConverter.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/MySqlSourceOperationsTest.java
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSourceOperations.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractPostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresSourceOperationsTest.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/mysql, connectors/source/postgres, connectors/source/jdbc, connectors/source/postgres-strict-encrypt, checklist-action-run

#16032 🎉 Source Hubspot: Added custom object streams
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/acceptance-test-config.yml
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/sample_files/basic_read_catalog.json
  airbyte-integrations/connectors/source-hubspot/sample_files/full_refresh_custom_objects.json
  airbyte-integrations/connectors/source-hubspot/setup.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/source.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_source.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_streams.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot, team/connectors-python, bounty, bounty-M, reward-100, ga-connector-change, community-legacy

#26264 Source Instagram: remove references to Setup via access tokens
  docs/integrations/sources/instagram.md
Labels: area/documentation

#26286 ✨ Source Notion: add parent field to `blocks` streams
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_registry.json
  airbyte-integrations/connectors/source-notion/Dockerfile
  airbyte-integrations/connectors/source-notion/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-notion/metadata.yaml
  airbyte-integrations/connectors/source-notion/source_notion/schemas/blocks.json
  docs/integrations/sources/notion.md
Labels: area/documentation, area/connectors, connectors/source/notion, checklist-action-run

#25929 [non-forked] Source Freshservice API: add stream for customer satisfaction survey responses endpoint
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_registry.json
  airbyte-integrations/connectors/source-freshservice/Dockerfile
  airbyte-integrations/connectors/source-freshservice/acceptance-test-config.yml
  airbyte-integrations/connectors/source-freshservice/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-freshservice/metadata.yaml
  airbyte-integrations/connectors/source-freshservice/source_freshservice/schemas/agents.json
  airbyte-integrations/connectors/source-freshservice/source_freshservice/schemas/satisfaction_survey_responses.json
  airbyte-integrations/connectors/source-freshservice/source_freshservice/schemas/tickets.json
  airbyte-integrations/connectors/source-freshservice/source_freshservice/source.py
  airbyte-integrations/connectors/source-freshservice/source_freshservice/streams.py
  airbyte-integrations/connectors/source-freshservice/unit_tests/test_source.py
  airbyte-integrations/connectors/source-freshservice/unit_tests/test_stream.py
  docs/integrations/sources/freshservice.md
Labels: area/documentation, area/connectors, connectors/source/freshservice, checklist-action-run

#26079 🐛 Source insightly: Make incremental logic inclusive
  airbyte-integrations/connectors/source-insightly/Dockerfile
  airbyte-integrations/connectors/source-insightly/metadata.yaml
  airbyte-integrations/connectors/source-insightly/source_insightly/source.py
  airbyte-integrations/connectors/source-insightly/unit_tests/test_incremental_streams.py
  docs/integrations/sources/insightly.md
Labels: area/documentation, area/connectors, community, bounty, connectors/source/insightly

#26310 :bug: Source Mixpanel: fix build
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_registry.json
  airbyte-integrations/connectors/source-mixpanel/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/mixpanel, checklist-action-run

#25714 🐛 Source Retently: Fix invalid json schema for `nps` stream
  airbyte-integrations/connectors/source-retently/Dockerfile
  airbyte-integrations/connectors/source-retently/acceptance-test-config.yml
  airbyte-integrations/connectors/source-retently/metadata.yaml
  airbyte-integrations/connectors/source-retently/source_retently/schemas/campaigns.json
  airbyte-integrations/connectors/source-retently/source_retently/schemas/companies.json
  airbyte-integrations/connectors/source-retently/source_retently/schemas/customers.json
  airbyte-integrations/connectors/source-retently/source_retently/schemas/feedback.json
  airbyte-integrations/connectors/source-retently/source_retently/schemas/nps.json
  airbyte-integrations/connectors/source-retently/source_retently/schemas/outbox.json
  airbyte-integrations/connectors/source-retently/source_retently/schemas/reports.json
  airbyte-integrations/connectors/source-retently/source_retently/schemas/templates.json
  airbyte-integrations/connectors/source-retently/source_retently/source.py
  docs/integrations/sources/retently.md
Labels: area/documentation, area/connectors, community, connectors/source/retently, bounty, community-legacy

#25865 connectors-ci: deprecate slash publish
  .github/workflows/gradle.yml
  .github/workflows/legacy-publish-command.yml
  .github/workflows/publish-command.yml
  .github/workflows/publish_connectors.yml
  .github/workflows/slash-commands.yml
  .github/workflows/upload-metadata-files.yml
  airbyte-ci/connectors/CONNECTOR_CHECKLIST.yaml
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_registry.json
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/ssh/readme.md
  airbyte-integrations/bases/base-normalization/README.md
  airbyte-integrations/bases/connector-acceptance-test/README.md
  docs/connector-development/README.md
  docs/connector-development/testing-connectors/README.md
  docs/connector-development/testing-connectors/legacy-standard-source-tests.md
  tools/ci_connector_ops/ci_connector_ops/pipelines/contexts.py
Labels: area/documentation, normalization

#26335 Low-code CDK: Improve grant type documentation
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/models/declarative_component_schema.py
Labels: CDK

#26284 🐛 Destination S3: Fix Parquet LZO compression
  airbyte-integrations/bases/base-java-s3/build.gradle
  airbyte-integrations/connectors/destination-s3/Dockerfile
  airbyte-integrations/connectors/destination-s3/build.gradle
  airbyte-integrations/connectors/destination-s3/metadata.yaml
  airbyte-integrations/connectors/destination-s3/src/test-integration/java/io/airbyte/integrations/destination/s3/S3ParquetDestinationAcceptanceTest.java
  docs/integrations/destinations/s3.md
Labels: area/documentation, area/connectors, connectors/destination/s3, connectors/source/mysql, connectors/source/postgres, checklist-action-run

#26355 pin dest-s3 to 0.4.0
  airbyte-integrations/connectors/destination-s3/metadata.yaml
Labels: area/connectors, connectors/destination/s3

#26211 ✨source-outreach: add additional stream `sequenceSteps`
  airbyte-integrations/connectors/source-outreach/Dockerfile
  airbyte-integrations/connectors/source-outreach/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-outreach/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-outreach/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-outreach/metadata.yaml
  airbyte-integrations/connectors/source-outreach/source_outreach/schemas/sequence_steps.json
  airbyte-integrations/connectors/source-outreach/source_outreach/source.py
  airbyte-integrations/connectors/source-outreach/unit_tests/test_source.py
  docs/integrations/sources/outreach.md
Labels: area/documentation, area/connectors, community, connectors/source/outreach, bounty, checklist-action-run

#25984 Source Pinterest: Add pattern for start_date
  airbyte-config-oss/init-oss/src/main/resources/seed/oss_registry.json
  airbyte-integrations/connectors/source-linkedin-ads/output.jsonl
  airbyte-integrations/connectors/source-pinterest/Dockerfile
  airbyte-integrations/connectors/source-pinterest/acceptance-test-config.yml
  airbyte-integrations/connectors/source-pinterest/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  airbyte-integrations/connectors/source-pinterest/source_pinterest/source.py
  airbyte-integrations/connectors/source-pinterest/source_pinterest/spec.json
  airbyte-integrations/connectors/source-pinterest/unit_tests/conftest.py
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_source.py
  docs/integrations/sources/pinterest.md
Labels: area/documentation, area/connectors, connectors/source/linkedin-ads, connectors/source/pinterest

#26096 Update low-code reference docs to mention that %s should be used for unix timestamp
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/models/declarative_component_schema.py
Labels: CDK

#25859 Allow sessionvariables jdbc url param in source-mysql
  airbyte-db/db-lib/src/main/java/io/airbyte/db/jdbc/JdbcUtils.java
  airbyte-integrations/bases/bases-destination-jdbc/src/test/java/io/airbyte/integrations/destination/jdbc/AbstractJdbcDestinationTest.java
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/JdbcDataSourceUtils.java
  airbyte-integrations/connectors/source-mysql-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-mysql/Dockerfile
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/MySqlSourceTests.java
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, connectors/source/mysql, connectors/source/jdbc, connectors/source/mysql-strict-encrypt

#25778 Source Github: Repository field accept full URL
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/acceptance-test-config.yml
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/source_github/source.py
  airbyte-integrations/connectors/source-github/source_github/spec.json
  airbyte-integrations/connectors/source-github/unit_tests/test_source.py
  airbyte-integrations/connectors/source-github/unit_tests/utils.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors, connectors/source/github, breaking-change

#26357 Source Sentry: fix expected records
  airbyte-integrations/connectors/source-sentry/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/sentry

#26356 Source Pinterest: fix expected records
  airbyte-integrations/connectors/source-pinterest/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/board_pins.json
Labels: area/connectors, connectors/source/pinterest

#26351 Source Faker: fix expected records
  airbyte-integrations/connectors/source-faker/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/faker

#26314 ✨ Source Sendgrid: add unsub groups stream
  airbyte-integrations/connectors/source-sendgrid/Dockerfile
  airbyte-integrations/connectors/source-sendgrid/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-sendgrid/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-sendgrid/metadata.yaml
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/manifest.yaml
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/schemas/unsubscribe_groups.json
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/source.py
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/streams.py
  airbyte-integrations/connectors/source-sendgrid/unit_tests/unit_test.py
  docs/integrations/sources/sendgrid.md
Labels: area/documentation, area/connectors, connectors/source/sendgrid, checklist-action-run

#26391 :tada: Source CockroachDB: added unit tests for spec validation
  airbyte-integrations/connectors/source-cockroachdb/src/test/java/io/airbyte/integrations/source/cockroachdb/CockroachDbSpecTest.java
Labels: area/connectors, community, connectors/source/cockroachdb

#25881 :bug: Source Monday: fix pagination for the items stream
  airbyte-integrations/connectors/source-monday/Dockerfile
  airbyte-integrations/connectors/source-monday/metadata.yaml
  airbyte-integrations/connectors/source-monday/source_monday/graphql_requester.py
  airbyte-integrations/connectors/source-monday/source_monday/item_pagination_strategy.py
  airbyte-integrations/connectors/source-monday/source_monday/manifest.yaml
  airbyte-integrations/connectors/source-monday/unit_tests/test_graphql_requester.py
  airbyte-integrations/connectors/source-monday/unit_tests/test_item_pagination_strategy.py
  docs/integrations/sources/monday.md
Labels: area/documentation, area/connectors, community, connectors/source/monday, bounty, checklist-action-run, community-legacy
