Repository airbytehq/airbyte, pull requests merged in 2023-07, with the labels that each got.

#27891 Revert "Destination Bigquery: Scaffolding for destinations v2 (#27268)"
  airbyte-integrations/bases/base-java-s3/src/main/java/io/airbyte/integrations/destination/s3/avro/AvroRecordFactory.java
  airbyte-integrations/bases/base-java-s3/src/test/java/io/airbyte/integrations/destination/s3/avro/AvroSerializedBufferTest.java
  airbyte-integrations/bases/base-java-s3/src/test/java/io/airbyte/integrations/destination/s3/parquet/ParquetSerializedBufferTest.java
  airbyte-integrations/bases/base-java/run_with_normalization.sh
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/DestinationConfig.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/IntegrationRunner.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/JavaBaseConstants.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/base/TypingAndDedupingFlag.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination/buffered_stream_consumer/BufferedStreamConsumer.java
  airbyte-integrations/bases/base-java/src/test/java/io/airbyte/integrations/base/DestinationConfigTest.java
  airbyte-integrations/bases/base-java/src/test/java/io/airbyte/integrations/destination/buffered_stream_consumer/BufferedStreamConsumerTest.java
  airbyte-integrations/bases/base-typing-deduping/build.gradle
  airbyte-integrations/bases/base-typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/AirbyteType.java
  airbyte-integrations/bases/base-typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/AirbyteTypeUtils.java
  airbyte-integrations/bases/base-typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/CatalogParser.java
  airbyte-integrations/bases/base-typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/SqlGenerator.java
  airbyte-integrations/bases/base-typing-deduping/src/test/java/io/airbyte/integrations/base/destination/typing_deduping/AirbyteTypeTest.java
  airbyte-integrations/bases/base-typing-deduping/src/test/java/io/airbyte/integrations/base/destination/typing_deduping/CatalogParserTest.java
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/DestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  airbyte-integrations/connectors/destination-bigquery-denormalized/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryAvroSerializedBuffer.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDestination.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryRecordConsumer.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryStagingConsumerFactory.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryUtils.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/formatter/BigQueryRecordFormatter.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/formatter/DefaultBigQueryRecordFormatter.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/formatter/GcsAvroBigQueryRecordFormatter.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQueryDestinationHandler.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGenerator.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/uploader/AbstractBigQueryUploader.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/uploader/AbstractGscBigQueryUploader.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/uploader/BigQueryDirectUploader.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/uploader/BigQueryUploaderFactory.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/uploader/config/UploaderConfig.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDestinationTest.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryGcsDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGeneratorIntegrationTest.java
  airbyte-integrations/connectors/destination-bigquery/src/test/java/io/airbyte/integrations/destination/bigquery/BigQueryRecordConsumerTest.java
  airbyte-integrations/connectors/destination-bigquery/src/test/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGeneratorTest.java
  airbyte-integrations/connectors/destination-gcs/Dockerfile
  airbyte-integrations/connectors/destination-gcs/build.gradle
  airbyte-integrations/connectors/destination-gcs/metadata.yaml
  airbyte-integrations/connectors/destination-gcs/src/main/java/io/airbyte/integrations/destination/gcs/util/GcsUtils.java
  airbyte-integrations/connectors/destination-gcs/src/test/java/io/airbyte/integrations/destination/gcs/avro/GcsAvroWriterTest.java
  docs/connector-development/debugging-docker.md
  docs/integrations/destinations/bigquery-denormalized.md
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/gcs.md
  docs/understanding-airbyte/supported-data-types.md
  settings.gradle
Labels: area/documentation, area/connectors, connectors/destination/bigquery, connectors/destination/bigquery-denormalized, connectors/destination/gcs, checklist-action-run

#27658 :bug: Source Hubspot: use fully qualified name for custom objects
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/acceptance-test-config.yml
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/source_hubspot/source.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_streams.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot

#27869 Source GitLab: add `shared_runners_setting` field to groups
  airbyte-integrations/connectors/source-gitlab/Dockerfile
  airbyte-integrations/connectors/source-gitlab/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-gitlab/integration_tests/expected_records_with_ids.jsonl
  airbyte-integrations/connectors/source-gitlab/metadata.yaml
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/branches.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/commits.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/epic_issues.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/epics.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/group_issue_boards.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/group_labels.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/group_members.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/group_milestones.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/groups.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/issues.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/jobs.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/merge_request_commits.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/merge_requests.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/pipelines.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/pipelines_extended.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/project_labels.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/project_members.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/project_milestones.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/projects.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/releases.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/tags.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/users.json
  docs/integrations/sources/gitlab.md
Labels: area/documentation, area/connectors, connectors/source/gitlab

#27828 Docs: Destination Meilisearch - Update broken link in connector documentation
  docs/integrations/destinations/meilisearch.md
Labels: area/documentation, community

#27760 Log connector dependencies
  tools/ci_connector_ops/ci_connector_ops/pipelines/commands/groups/connectors.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/utils.py
Labels: connectors/source/jdbc

#27835 :bug: Source Google Ads: fix query template
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-ads/integration_tests/configured_catalog_with_click_view.json
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/google_ads.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_google_ads.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, connectors/source/google-ads, checklist-action-run

#27906 🤖 Cloud Availability updater: new connectors to deploy [20230703]
  airbyte-integrations/connectors/source-datadog/metadata.yaml
Labels: area/connectors, team/connector-ops, connectors/source/datadog, cloud-availability-updater

#27909 :bug: Source Google Analytics Data API: limit custom report page size
  airbyte-integrations/connectors/source-google-analytics-data-api/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/api_quota.py
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/source.py
  docs/integrations/sources/google-analytics-data-api.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-data-api, checklist-action-run

#27913 Source Google Ads: handle Authorization Error
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, connectors/source/google-ads

#27896 Switch "request parameters" to "query parameters" in connector builder docs
  docs/connector-development/connector-builder-ui/incremental-sync.md
  docs/connector-development/connector-builder-ui/pagination.md
  docs/connector-development/connector-builder-ui/partitioning.md
  docs/connector-development/connector-builder-ui/tutorial.mdx
Labels: area/documentation

#27783 Update the request_body_data description to remove typos and be more readable
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/models/declarative_component_schema.py
Labels: CDK

#27941 🐛 Source Stripe: update expected records
  airbyte-integrations/connectors/source-stripe/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/stripe, checklist-action-run

#27942 🐛 Source Zendesk Talk: update expected records
  airbyte-integrations/connectors/source-zendesk-talk/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/zendesk-talk

#27943 🐛 Source Xero: update expected records
  airbyte-integrations/connectors/source-xero/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/xero

#27951 🐛 Source Jira: update expected records
  airbyte-integrations/connectors/source-jira/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/jira, checklist-action-run

#27965 🐛 Source Zendesk Chat: update expected records
  airbyte-integrations/connectors/source-zendesk-chat/integration_tests/expected_records.txt
Labels: area/connectors, connectors/source/zendesk-chat, checklist-action-run

#27967 🐛 Source Pipedrive: update expected records
  airbyte-integrations/connectors/source-pipedrive/Dockerfile
  airbyte-integrations/connectors/source-pipedrive/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-pipedrive/metadata.yaml
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/schemas/organization_fields.json
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/schemas/product_fields.json
  docs/integrations/sources/pipedrive.md
Labels: area/documentation, area/connectors, connectors/source/pipedrive, checklist-action-run

#27964 🐛 Source Pinterest: update expected records
  airbyte-integrations/connectors/source-pinterest/Dockerfile
  airbyte-integrations/connectors/source-pinterest/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  airbyte-integrations/connectors/source-pinterest/source_pinterest/schemas/ad_accounts.json
  docs/integrations/sources/pinterest.md
Labels: area/documentation, area/connectors, connectors/source/pinterest, checklist-action-run

#27607 ✨ Source Amazon-Ads: Add streams for portfolios and sponsored brands v3
  airbyte-integrations/connectors/source-amazon-ads/Dockerfile
  airbyte-integrations/connectors/source-amazon-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/configured_catalog_report.json
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-amazon-ads/metadata.yaml
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/__init__.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/common.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/source.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/__init__.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/common.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/portfolios.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/report_streams/__init__.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/report_streams/brands_report.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/test_report_streams.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/test_source.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/test_streams.py
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, area/connectors, connectors/source/amazon-ads

#27952 Source Google Search Console: added discover and googleNews to searchType
  airbyte-integrations/connectors/source-google-search-console/Dockerfile
  airbyte-integrations/connectors/source-google-search-console/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-search-console/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-google-search-console/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-google-search-console/integration_tests/configured_catalog_incremental.json
  airbyte-integrations/connectors/source-google-search-console/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-google-search-console/metadata.yaml
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/streams.py
  docs/integrations/sources/google-search-console.md
Labels: area/documentation, area/connectors, connectors/source/google-search-console, checklist-action-run

#27908 🎉 Source Instagram: Improve, refactor `STATE` management
  airbyte-integrations/connectors/source-instagram/Dockerfile
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  airbyte-integrations/connectors/source-instagram/sample_files/sample_state.json
  airbyte-integrations/connectors/source-instagram/source_instagram/streams.py
  airbyte-integrations/connectors/source-instagram/unit_tests/conftest.py
  airbyte-integrations/connectors/source-instagram/unit_tests/test_streams.py
  docs/integrations/sources/instagram.md
Labels: area/documentation, area/connectors, connectors/source/instagram, team/connectors-python

#27968 Source PayPal: mark `Client ID` and `Client Secret` as required fields
  airbyte-integrations/connectors/source-paypal-transaction/Dockerfile
  airbyte-integrations/connectors/source-paypal-transaction/acceptance-test-config.yml
  airbyte-integrations/connectors/source-paypal-transaction/metadata.yaml
  airbyte-integrations/connectors/source-paypal-transaction/source_paypal_transaction/spec.json
  docs/integrations/sources/paypal-transaction.md
Labels: area/documentation, area/connectors, connectors/source/paypal-transaction

#27981 Speed up BQ by having 2 queries, and not an OR
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGenerator.java
Labels: area/documentation, area/connectors, connectors/destination/bigquery

#27928 📝 docs: update delighted source page
  docs/integrations/sources/delighted.md
Labels: area/documentation

#27922 📝 docs: update close.com source page
  docs/integrations/sources/close-com.md
Labels: area/documentation

#27925 📝 docs: update chartmogul source page
  docs/integrations/sources/chartmogul.md
Labels: area/documentation

#27927 📝 docs: update confluence source page
  docs/integrations/sources/confluence.md
Labels: area/documentation

#27856 🐛 Destination Bigquery: fix bug in standard inserts for syncs >10K records
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryRecordConsumer.java
Labels: area/connectors, connectors/destination/bigquery, checklist-action-run

#27559 octavia-cli: deserialize selected field to a SelectedFieldInfo instance
  airbyte-api/src/main/openapi/config.yaml
  docs/reference/api/generated-api-html/index.html
  octavia-cli/octavia_cli/apply/resources.py
  octavia-cli/unit_tests/test_apply/test_resources.py
Labels: area/documentation, area/api, area/platform, area/octavia-cli

#27850 [26763] csv config options validation and use by reader
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/file_based_stream_config.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/default_file_based_availability_strategy.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_based_source.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/avro_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/csv_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/file_type_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/jsonl_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/parquet_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/abstract_file_based_stream.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/default_file_based_stream.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/file_based_stream_config.py
  airbyte-cdk/python/unit_tests/sources/file_based/config/__init__.py
  airbyte-cdk/python/unit_tests/sources/file_based/config/test_file_based_stream_config.py
  airbyte-cdk/python/unit_tests/sources/file_based/in_memory_files_source.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/csv_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/scenario_builder.py
  airbyte-cdk/python/unit_tests/sources/file_based/test_scenarios.py
Labels: CDK

#27816 File cdk validation policies
  airbyte-cdk/python/airbyte_cdk/sources/abstract_source.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/file_based_stream_config.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/default_file_based_availability_strategy.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/exceptions.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_based_source.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/csv_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/schema_helpers.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/schema_validation_policies/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/schema_validation_policies/abstract_schema_validation_policy.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/schema_validation_policies/default_schema_validation_policies.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/schema_validation_policies/default_schema_validation_policy.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/abstract_file_based_stream.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/default_file_based_stream.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/core.py
  airbyte-cdk/python/unit_tests/sources/file_based/config/test_file_based_stream_config.py
  airbyte-cdk/python/unit_tests/sources/file_based/helpers.py
  airbyte-cdk/python/unit_tests/sources/file_based/in_memory_files_source.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/check_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/csv_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/incremental_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/scenario_builder.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/validation_policy_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/schema_validation_policies/test_default_schema_validation_policy.py
  airbyte-cdk/python/unit_tests/sources/file_based/test_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/test_schema_helpers.py
Labels: CDK

#27915 Stream state is not recorded if cursor field is result of transformation
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_stream.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/extractors/dpath_extractor.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/extractors/record_selector.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/model_to_component_factory.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/retrievers/simple_retriever.py
  airbyte-cdk/python/unit_tests/sources/declarative/extractors/test_record_selector.py
  airbyte-cdk/python/unit_tests/sources/declarative/parsers/test_model_to_component_factory.py
  airbyte-cdk/python/unit_tests/sources/declarative/retrievers/test_simple_retriever.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_declarative_stream.py
Labels: CDK

#27654 Incremental data feed sync docs
  docs/connector-development/connector-builder-ui/incremental-sync.md
Labels: area/documentation

#27832 🚨🚨 Source Pipedrive: Remove `followers_count` field from `Products` stream
  airbyte-integrations/connectors/source-pipedrive/Dockerfile
  airbyte-integrations/connectors/source-pipedrive/acceptance-test-config.yml
  airbyte-integrations/connectors/source-pipedrive/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-pipedrive/metadata.yaml
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/schemas/products.json
  docs/integrations/sources/pipedrive.md
Labels: area/documentation, area/connectors, connectors/source/pipedrive, breaking-change

#27988 🐛 Source Tiktok Marketing: Update ad_groups schema
  airbyte-integrations/connectors/source-tiktok-marketing/Dockerfile
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-tiktok-marketing/metadata.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/ad_groups.json
  docs/integrations/sources/tiktok-marketing.md
Labels: area/documentation, area/connectors, connectors/source/tiktok-marketing, team/tse, checklist-action-run

#27991 Source Zendesk: add streams: `PostVotes`, `PostCommentVotes`
  airbyte-integrations/connectors/source-zendesk-support/Dockerfile
  airbyte-integrations/connectors/source-zendesk-support/acceptance-test-config.yml
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/votes.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/source.py
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/streams.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/unit_test.py
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-support

#28002 :tada: Amazon Ads - new streams for bids and keyword recommendations
  airbyte-integrations/connectors/source-amazon-ads/Dockerfile
  airbyte-integrations/connectors/source-amazon-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-amazon-ads/metadata.yaml
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/__init__.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_products.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/source.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/__init__.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/common.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/sponsored_products.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/test_source.py
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, area/connectors, connectors/source/amazon-ads

#27935 🐛 Destination Snowflake: Merge old snowflake work
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination_async/AsyncStreamConsumer.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination_async/buffers/StreamAwareQueue.java
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination_async/partial_messages/PartialAirbyteRecordMessage.java
  airbyte-integrations/bases/base-java/src/test/java/io/airbyte/integrations/destination_async/AsyncStreamConsumerTest.java
  airbyte-integrations/bases/base-java/src/test/java/io/airbyte/integrations/destination_async/PartialAirbyteMessageTest.java
  airbyte-integrations/bases/base-java/src/test/java/io/airbyte/integrations/destination_async/buffers/StreamAwareQueueTest.java
  airbyte-integrations/bases/bases-destination-jdbc/src/main/java/io/airbyte/integrations/destination/staging/AsyncFlush.java
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeGcsStagingSqlOperations.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingSqlOperations.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeS3StagingSqlOperations.java
  airbyte-integrations/connectors/destination-snowflake/src/test/java/io/airbyte/integrations/destination/snowflake/SnowflakeDestinationTest.java
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/source/stripe, connectors/source/amazon-ads, connectors/destination/snowflake, connectors/source/google-search-console, connectors/source/instagram, connectors/source/jira, connectors/source/pinterest, connectors/source/pipedrive, connectors/source/zendesk-chat, connectors/source/zendesk-talk, connectors/source/xero

#27652 source-postgres: implement logic to make CDC compatible with ctid
  airbyte-integrations/bases/debezium/src/main/java/io/airbyte/integrations/debezium/CdcMetadataInjector.java
  airbyte-integrations/bases/debezium/src/testFixtures/java/io/airbyte/integrations/debezium/CdcSourceTest.java
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/CdcMysqlSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresCdcConnectorMetadataInjector.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresQueryUtils.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/cdc/PostgresCdcConnectorMetadataInjector.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/cdc/PostgresCdcCtidInitializer.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/cdc/PostgresCdcCtidUtils.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/cdc/PostgresCdcProperties.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/cdc/PostgresCdcSavedInfoFetcher.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/cdc/PostgresCdcStateHandler.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidGlobalStateManager.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidPerStreamStateManager.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidPostgresSourceOperations.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidStateIterator.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidStateManager.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/PostgresCtidHandler.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/xmin/XminCtidUtils.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CtidEnabledCdcPostgresSourceTest.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/CdcStateManager.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/state/AbstractStateManager.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/state/CursorManager.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/state/GlobalStateManager.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/state/LegacyStateManager.java
  airbyte-integrations/connectors/source-relational-db/src/test/java/io/airbyte/integrations/source/relationaldb/state/CursorManagerTest.java
Labels: area/connectors, connectors/source/mysql, connectors/source/postgres, connectors/source/jdbc, connectors/source/relational-db

#27563 🚨🚨 Source Facebook Marketing: use SDK v17
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/acceptance-test-config.yml
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/setup.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/ad_account.json
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing, checklist-action-run

#28009 :tada: Source RD Station Marketing: migrated to advancedOAuth
  airbyte-integrations/connectors/source-rd-station-marketing/Dockerfile
  airbyte-integrations/connectors/source-rd-station-marketing/metadata.yaml
  airbyte-integrations/connectors/source-rd-station-marketing/source_rd_station_marketing/spec.json
  docs/integrations/sources/rd-station-marketing.md
Labels: area/documentation, area/connectors, connectors/source/rd-station-marketing

#27979 🐛 Source Facebook Marketing: restore reduced request record limit after `successful` response
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/api.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/source.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/common.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/conftest.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_client.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_source.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing, team/connectors-python, checklist-action-run

#28035 :sparkles: Destination Google Sheets: migrate to advanced auth
  airbyte-integrations/connectors/destination-google-sheets/Dockerfile
  airbyte-integrations/connectors/destination-google-sheets/destination_google_sheets/spec.json
  airbyte-integrations/connectors/destination-google-sheets/metadata.yaml
  docs/integrations/destinations/google-sheets.md
Labels: area/documentation, area/connectors, connectors/destination/google-sheets, checklist-action-run

#28013 🐛 Source Sentry: update expected records
  airbyte-integrations/connectors/source-sentry/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/sentry

#28038 🐛 Source Klaviyo: update expected records
  airbyte-integrations/connectors/source-klaviyo/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/klaviyo, checklist-action-run

#28005 🐛 Source Jira: update expected records
  airbyte-integrations/connectors/source-jira/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/jira

#27959 Source Google Ads: Add `audience` and `user_interest` streams
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-google-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/google_ads.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/audience.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/user_interest.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_source.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, connectors/source/google-ads

#20833 🐛 Source Okta: Fix Infinite Loop in GroupMembers Stream
  airbyte-integrations/connectors/source-okta/Dockerfile
  airbyte-integrations/connectors/source-okta/metadata.yaml
  airbyte-integrations/connectors/source-okta/source_okta/source.py
  airbyte-integrations/connectors/source-okta/unit_tests/test_streams.py
  docs/integrations/sources/okta.md
Labels: area/documentation, area/connectors, community, connectors/source/okta, team/tse, bounty-S, pr-alpha-beta

#28060 bump faker
  airbyte-integrations/connectors/source-faker/Dockerfile
  airbyte-integrations/connectors/source-faker/metadata.yaml
  docs/integrations/sources/faker.md
Labels: area/documentation, area/connectors, connectors/source/faker, checklist-action-run

#28021 Fixing vulnerabilities for source-salesforce - Premium support
  airbyte-integrations/connectors/source-salesforce/Dockerfile
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors, community, connectors/source/salesforce, team/tse

#28057 destination bigquery: misc updates to 1s1t code
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryStagingConsumerFactory.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGenerator.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/uploader/AbstractBigQueryUploader.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/uploader/AbstractGscBigQueryUploader.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/uploader/BigQueryDirectUploader.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/uploader/BigQueryUploaderFactory.java
  airbyte-integrations/connectors/destination-bigquery/src/test/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGeneratorTest.java
Labels: area/connectors, connectors/destination/bigquery

#16675 Add Orchestrator Diagram to the docs
  docs/.gitbook/assets/orchestrator-lifecycle.png
  docs/understanding-airbyte/jobs.md
Labels: area/documentation

#28042 Source Google Ads: Add metrics & segment to `Campaigns`
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/campaigns.json
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, connectors/source/google-ads

#28041 🐛 Source Mixpanel: specify ignored fields for streams funnels and revenue
  airbyte-integrations/connectors/source-mixpanel/acceptance-test-config.yml
Labels: area/connectors, connectors/source/mixpanel

#28049 Source Google Ads: Add metrics to `Keyword Report`
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/keyword_report.json
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, connectors/source/google-ads

#28078 🎉 Source Google Ads: add new stream `Campaign Budget`
  airbyte-integrations/connectors/source-google-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-ads/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-google-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-google-ads/integration_tests/incremental_catalog.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/google_ads.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/campaign_budget.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_source.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, connectors/source/google-ads

#26723 🎉 source-postgres : Enable xmin replication
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-postgres-strict-encrypt/src/test-integration/resources/expected_strict_encrypt_spec.json
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/resources/spec.json
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/XminPostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/resources/expected_spec.json
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres, connectors/source/relational-db, connectors/source/postgres-strict-encrypt

#28019 🐛 Source Square: fix display order of spec fields
  airbyte-integrations/connectors/source-square/Dockerfile
  airbyte-integrations/connectors/source-square/metadata.yaml
  airbyte-integrations/connectors/source-square/source_square/spec.yaml
  docs/integrations/sources/square.md
Labels: area/documentation, area/connectors, community, connectors/source/square, team/tse

#28093 🚨🚨🐛 Source Coda: Update Schemas and Fix Tests
  airbyte-integrations/connectors/source-coda/Dockerfile
  airbyte-integrations/connectors/source-coda/acceptance-test-config.yml
  airbyte-integrations/connectors/source-coda/metadata.yaml
  airbyte-integrations/connectors/source-coda/source_coda/schemas/docs.json
  airbyte-integrations/connectors/source-coda/source_coda/schemas/pages.json
  airbyte-integrations/connectors/source-coda/source_coda/source.py
  docs/integrations/sources/coda.md
Labels: area/documentation, area/connectors, team/tse, connectors/source/coda, pr-alpha-beta, checklist-action-run

#27797 ✨ Source Coda: Add rows to codaio source
  airbyte-integrations/connectors/source-coda/Dockerfile
  airbyte-integrations/connectors/source-coda/metadata.yaml
  airbyte-integrations/connectors/source-coda/source_coda/schemas/rows.json
  airbyte-integrations/connectors/source-coda/source_coda/source.py
  airbyte-integrations/connectors/source-coda/unit_tests/test_source.py
  docs/integrations/sources/coda.md
Labels: area/documentation, area/connectors, community, team/tse, connectors/source/coda

#28104 Fixing `XminCtidUtils` unit test
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/xmin/XminCtidUtilsTest.java
Labels: area/connectors, connectors/source/postgres, connectors/source/postgres-strict-encrypt

#28092 stop hardcoding pk
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGenerator.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGeneratorIntegrationTest.java
Labels: area/connectors, connectors/destination/bigquery

#28097 Refactor config to not store validation_policies on the config itself
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/file_based_stream_config.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/exceptions.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_based_source.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/abstract_file_based_stream.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/default_file_based_stream.py
  airbyte-cdk/python/unit_tests/sources/file_based/config/test_file_based_stream_config.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/check_scenarios.py
Labels: CDK

#28152 Docs: change discourse to github discussion
  README.md
  docs/archive/examples/zoom-activity-dashboard.md
  docs/archive/faq/README.md
  docs/cli-documentation.md
  docs/connector-development/cdk-python/README.md
  docs/integrations/sources/jira.md
  docs/integrations/sources/shopify.md
  docs/quickstart/deploy-airbyte.md
  docs/troubleshooting.md
  octavia-cli/README.md
Labels: area/documentation

#28063 File-based CDK: implement schemaless option
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/file_based_stream_config.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_based_source.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/schema_helpers.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/default_file_based_stream.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/csv_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/test_scenarios.py
Labels: CDK

#27410 :bug: Source Monday: Add new streams and update old
  airbyte-integrations/connectors/source-monday/Dockerfile
  airbyte-integrations/connectors/source-monday/acceptance-test-config.yml
  airbyte-integrations/connectors/source-monday/integration_tests/__init__.py
  airbyte-integrations/connectors/source-monday/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-monday/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-monday/metadata.yaml
  airbyte-integrations/connectors/source-monday/source_monday/__init__.py
  airbyte-integrations/connectors/source-monday/source_monday/graphql_requester.py
  airbyte-integrations/connectors/source-monday/source_monday/manifest.yaml
  airbyte-integrations/connectors/source-monday/source_monday/schemas/boards.json
  airbyte-integrations/connectors/source-monday/source_monday/schemas/items.json
  airbyte-integrations/connectors/source-monday/source_monday/schemas/tags.json
  airbyte-integrations/connectors/source-monday/source_monday/schemas/updates.json
  airbyte-integrations/connectors/source-monday/source_monday/schemas/workspaces.json
  airbyte-integrations/connectors/source-monday/unit_tests/__init__.py
  docs/integrations/sources/monday.md
Labels: area/documentation, area/connectors, connectors/source/monday, breaking-change

#27990 Test solution with logic in MessageRepository
  airbyte-cdk/python/airbyte_cdk/connector_builder/message_grouper.py
  airbyte-cdk/python/airbyte_cdk/connector_builder/models.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/model_to_component_factory.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/retrievers/simple_retriever.py
  airbyte-cdk/python/airbyte_cdk/sources/http_logger.py
  airbyte-cdk/python/airbyte_cdk/sources/message/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/message/repository.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/requests_native_auth/abstract_oauth.py
  airbyte-cdk/python/unit_tests/connector_builder/test_connector_builder_handler.py
  airbyte-cdk/python/unit_tests/connector_builder/test_message_grouper.py
  airbyte-cdk/python/unit_tests/sources/declarative/retrievers/test_simple_retriever.py
  airbyte-cdk/python/unit_tests/sources/message/test_repository.py
  airbyte-cdk/python/unit_tests/sources/streams/http/requests_native_auth/test_requests_native_auth.py
  airbyte-cdk/python/unit_tests/sources/test_http_logger.py
Labels: CDK

#23201 ✨ Destination Iceberg: Bump Iceberg from 1.0.0 to 1.1.0
  airbyte-integrations/connectors/destination-iceberg/Dockerfile
  airbyte-integrations/connectors/destination-iceberg/build.gradle
  airbyte-integrations/connectors/destination-iceberg/iceberg.svg
  airbyte-integrations/connectors/destination-iceberg/metadata.yaml
  airbyte-integrations/connectors/destination-iceberg/src/main/java/io/airbyte/integrations/destination/iceberg/IcebergConsumer.java
  airbyte-integrations/connectors/destination-iceberg/src/test-integration/resources/metastore-log4j.properties
  docs/integrations/destinations/iceberg.md
Labels: area/documentation, area/connectors, connectors/destination/iceberg, pr-alpha-beta, community-legacy

#28153 🐛 Source Apple Search Ads: manifest.yaml duplicate key error
  airbyte-integrations/connectors/source-apple-search-ads/Dockerfile
  airbyte-integrations/connectors/source-apple-search-ads/metadata.yaml
  airbyte-integrations/connectors/source-apple-search-ads/source_apple_search_ads/manifest.yaml
  docs/integrations/sources/apple-search-ads.md
Labels: area/documentation, area/connectors, connectors/source/apple-search-ads

#28146 🐛 Source Faker: update expected records
  airbyte-integrations/connectors/source-faker/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/faker

#28085 Source Google Sheets: fix several reported vulnerabilities
  airbyte-integrations/connectors/source-google-sheets/Dockerfile
  airbyte-integrations/connectors/source-google-sheets/metadata.yaml
  docs/integrations/sources/google-sheets.md
Labels: area/documentation, area/connectors, connectors/source/google-sheets, checklist-action-run

#28130 Change from T&D every 10k records to an increasing time based interval
  airbyte-integrations/bases/base-typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/TypeAndDedupeOperationValve.java
  airbyte-integrations/bases/base-typing-deduping/src/test/java/io/airbyte/integrations/base/destination/typing_deduping/TypeAndDedupeOperationValveTest.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryRecordConsumer.java
Labels: area/connectors, connectors/destination/bigquery

#28029 Simplify and speed up CDC delete support [DestinationsV2]
  airbyte-integrations/bases/base-normalization/Dockerfile
  airbyte-integrations/bases/base-normalization/build.gradle
  airbyte-integrations/bases/base-normalization/dbt.Dockerfile
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGenerator.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGeneratorIntegrationTest.java
Labels: area/connectors, normalization, connectors/destination/bigquery

#28081 bugfix: update google-analytics-data-api.md
  docs/integrations/sources/google-analytics-data-api.md
Labels: area/documentation, community

#27505 Source Salesloft: Added new streams (call data records, call dispositions, call sentiments, custom fields, meetings, searches)
  airbyte-integrations/connectors/source-salesloft/Dockerfile
  airbyte-integrations/connectors/source-salesloft/acceptance-test-config.yml
  airbyte-integrations/connectors/source-salesloft/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-salesloft/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-salesloft/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-salesloft/integration_tests/incremental_catalog.json
  airbyte-integrations/connectors/source-salesloft/metadata.yaml
  airbyte-integrations/connectors/source-salesloft/source_salesloft/schemas/call_data_records.json
  airbyte-integrations/connectors/source-salesloft/source_salesloft/schemas/call_dispositions.json
  airbyte-integrations/connectors/source-salesloft/source_salesloft/schemas/call_sentiments.json
  airbyte-integrations/connectors/source-salesloft/source_salesloft/schemas/custom_fields.json
  airbyte-integrations/connectors/source-salesloft/source_salesloft/schemas/meetings.json
  airbyte-integrations/connectors/source-salesloft/source_salesloft/schemas/searches.json
  airbyte-integrations/connectors/source-salesloft/source_salesloft/source.py
  airbyte-integrations/connectors/source-salesloft/unit_tests/test_source.py
  docs/integrations/sources/salesloft.md
Labels: area/documentation, area/connectors, community, connectors/source/salesloft, team/tse

#27809 [Source-Postgres] Switch over to user-defined-cursor after CTID initial sync
  airbyte-integrations/connectors/source-jdbc/src/testFixtures/java/io/airbyte/integrations/source/jdbc/test/JdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresQueryUtils.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidFeatureFlags.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidUtils.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/cursor_based/CursorBasedCtidUtils.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/cursor_based/PostgresCursorBasedStateManager.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/xmin/PostgresXminHandler.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/xmin/XminCtidUtils.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/xmin/XminStateManager.java
  airbyte-integrations/connectors/source-postgres/src/main/resources/internal_models/internal_models.yaml
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CtidEnabledCdcPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CtidEnabledPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/XminPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/cursor_based/CursorBasedCtidUtilsTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/utils/PostgresUnitTestsUtil.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/xmin/XminCtidUtilsTest.java
Labels: area/connectors, connectors/source/postgres, connectors/source/jdbc, connectors/source/relational-db

#28096 🐛 Source Zendesk Support: use cursor pagination only
  airbyte-integrations/connectors/source-zendesk-support/Dockerfile
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/source.py
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/streams.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/unit_test.py
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-support

#28194 🐛 Source Trello: update expected records
  airbyte-integrations/connectors/source-trello/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/trello, checklist-action-run

#28196 🐛 Source Intercom: update expected records
  airbyte-integrations/connectors/source-intercom/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/intercom, checklist-action-run

#28197 🐛 Source Zendesk Support: update expected records
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/zendesk-support, checklist-action-run

#28201 🐛 Source Stripe: update expected records
  airbyte-integrations/connectors/source-stripe/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/stripe, checklist-action-run

#28216 🐛 Source Twilio: update expected records
  airbyte-integrations/connectors/source-twilio/Dockerfile
  airbyte-integrations/connectors/source-twilio/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-twilio/metadata.yaml
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/conversation_messages.json
  docs/integrations/sources/twilio.md
Labels: area/documentation, area/connectors, connectors/source/twilio

#28230 Source Google Ads: disable logging
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, connectors/source/google-ads

#26184 🎉 New Destination Vector Database (powered by LangChain)
  airbyte-integrations/connectors/destination-langchain/.dockerignore
  airbyte-integrations/connectors/destination-langchain/Dockerfile
  airbyte-integrations/connectors/destination-langchain/README.md
  airbyte-integrations/connectors/destination-langchain/bootstrap.md
  airbyte-integrations/connectors/destination-langchain/build.gradle
  airbyte-integrations/connectors/destination-langchain/destination_langchain/__init__.py
  airbyte-integrations/connectors/destination-langchain/destination_langchain/batcher.py
  airbyte-integrations/connectors/destination-langchain/destination_langchain/config.py
  airbyte-integrations/connectors/destination-langchain/destination_langchain/destination.py
  airbyte-integrations/connectors/destination-langchain/destination_langchain/document_processor.py
  airbyte-integrations/connectors/destination-langchain/destination_langchain/embedder.py
  airbyte-integrations/connectors/destination-langchain/destination_langchain/indexer.py
  airbyte-integrations/connectors/destination-langchain/destination_langchain/measure_time.py
  airbyte-integrations/connectors/destination-langchain/destination_langchain/utils.py
  airbyte-integrations/connectors/destination-langchain/examples/configured_catalog.json
  airbyte-integrations/connectors/destination-langchain/examples/messages.jsonl
  airbyte-integrations/connectors/destination-langchain/icon.svg
  airbyte-integrations/connectors/destination-langchain/integration_tests/base_integration_test.py
  airbyte-integrations/connectors/destination-langchain/integration_tests/local_integration_test.py
  airbyte-integrations/connectors/destination-langchain/integration_tests/pinecone_integration_test.py
  airbyte-integrations/connectors/destination-langchain/main.py
  airbyte-integrations/connectors/destination-langchain/metadata.yaml
  airbyte-integrations/connectors/destination-langchain/requirements.txt
  airbyte-integrations/connectors/destination-langchain/setup.py
  airbyte-integrations/connectors/destination-langchain/test_local.py
  airbyte-integrations/connectors/destination-langchain/test_pinecone.py
  airbyte-integrations/connectors/destination-langchain/unit_tests/batcher_test.py
  airbyte-integrations/connectors/destination-langchain/unit_tests/destination_test.py
  airbyte-integrations/connectors/destination-langchain/unit_tests/docarray_indexer_test.py
  airbyte-integrations/connectors/destination-langchain/unit_tests/document_processor_test.py
  airbyte-integrations/connectors/destination-langchain/unit_tests/pinecone_indexer_test.py
  docs/integrations/destinations/langchain.md
  tools/ci_connector_ops/ci_connector_ops/pipelines/actions/environments.py
Labels: area/documentation, area/connectors, team/extensibility, connectors/destination/langchain

#28229 📝 Docs: Source S3 documentation update
  docs/integrations/sources/s3.md
Labels: area/documentation, connectors/source/s3

#28245 Remove insert tests that are no longer applicable.
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeInsertDestinationAcceptanceTest.java
Labels: area/connectors, connectors/destination/snowflake

#28064 Implement parquet parser
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/parquet_parser.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/file_based/file_types/__init__.py
  airbyte-cdk/python/unit_tests/sources/file_based/file_types/test_parquet_parser.py
  airbyte-cdk/python/unit_tests/sources/file_based/in_memory_files_source.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/parquet_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/test_scenarios.py
Labels: CDK

#28253 Revert delete insert test.
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeInsertDestinationAcceptanceTest.java
Labels: area/connectors, connectors/destination/snowflake

#28139 [file-based cdk] file based spec boilerplate backed by pydantic models
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/abstract_file_based_spec.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/file_based_stream_config.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_based_source.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/cursor/default_file_based_cursor.py
  airbyte-cdk/python/airbyte_cdk/utils/spec_schema_transformations.py
  airbyte-cdk/python/unit_tests/sources/file_based/conftest.py
  airbyte-cdk/python/unit_tests/sources/file_based/in_memory_files_source.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/csv_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/incremental_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/scenario_builder.py
  airbyte-cdk/python/unit_tests/sources/file_based/test_scenarios.py
Labels: CDK

#27944 ✨ Source Monday: Add incremental sync for Items stream
  airbyte-integrations/connectors/source-monday/Dockerfile
  airbyte-integrations/connectors/source-monday/acceptance-test-config.yml
  airbyte-integrations/connectors/source-monday/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-monday/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-monday/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-monday/integration_tests/incremental_catalog.json
  airbyte-integrations/connectors/source-monday/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-monday/metadata.yaml
  airbyte-integrations/connectors/source-monday/setup.py
  airbyte-integrations/connectors/source-monday/source_monday/components.py
  airbyte-integrations/connectors/source-monday/source_monday/extractor.py
  airbyte-integrations/connectors/source-monday/source_monday/graphql_requester.py
  airbyte-integrations/connectors/source-monday/source_monday/item_pagination_strategy.py
  airbyte-integrations/connectors/source-monday/source_monday/manifest.yaml
  airbyte-integrations/connectors/source-monday/source_monday/schemas/activity_logs.json
  airbyte-integrations/connectors/source-monday/source_monday/schemas/boards.json
  airbyte-integrations/connectors/source-monday/source_monday/schemas/items.json
  airbyte-integrations/connectors/source-monday/source_monday/schemas/tags.json
  airbyte-integrations/connectors/source-monday/source_monday/schemas/workspaces.json
  airbyte-integrations/connectors/source-monday/unit_tests/test_components.py
  airbyte-integrations/connectors/source-monday/unit_tests/test_graphql_requester.py
  docs/integrations/sources/monday.md
Labels: area/documentation, area/connectors, connectors/source/monday

#27916 🚨🚨 Source PayPal Transactions: Rename field in `Balances` schema
  airbyte-integrations/connectors/source-paypal-transaction/Dockerfile
  airbyte-integrations/connectors/source-paypal-transaction/acceptance-test-config.yml
  airbyte-integrations/connectors/source-paypal-transaction/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-paypal-transaction/integration_tests/expected_records_sandbox.jsonl
  airbyte-integrations/connectors/source-paypal-transaction/metadata.yaml
  airbyte-integrations/connectors/source-paypal-transaction/source_paypal_transaction/schemas/balances.json
  docs/integrations/sources/paypal-transaction.md
Labels: area/documentation, area/connectors, connectors/source/paypal-transaction, breaking-change

#28155 Source Amazon Ads: fix Nonetype error when recordId is missing
  airbyte-integrations/connectors/source-amazon-ads/Dockerfile
  airbyte-integrations/connectors/source-amazon-ads/metadata.yaml
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/report_streams/report_streams.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/test_report_streams.py
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, area/connectors, connectors/source/amazon-ads

#28271 🐛 Source Sentry: update expected records
  airbyte-integrations/connectors/source-sentry/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/sentry

#28040 🐛 Source Hubspot: update expected records
  airbyte-integrations/connectors/source-hubspot/acceptance-test-config.yml
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/hubspot

#28272 🐛 Source Pipedrive: update expected records
  airbyte-integrations/connectors/source-pipedrive/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/pipedrive, checklist-action-run

#27221 ✨Source Twilio: New streams UserConversations with parent Users
  airbyte-integrations/connectors/source-twilio/Dockerfile
  airbyte-integrations/connectors/source-twilio/integration_tests/constant_records_catalog.json
  airbyte-integrations/connectors/source-twilio/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-twilio/metadata.yaml
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/user_conversations.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/users.json
  airbyte-integrations/connectors/source-twilio/source_twilio/source.py
  airbyte-integrations/connectors/source-twilio/source_twilio/streams.py
  airbyte-integrations/connectors/source-twilio/unit_tests/test_source.py
  docs/integrations/sources/twilio.md
Labels: area/documentation, area/connectors, community, gl, connectors/source/twilio, team/connectors-python, contributor-program, gl-review, checklist-action-run

#27852 implement 1s1t DATs for destination-bigquery
  airbyte-integrations/bases/base-typing-deduping-test/build.gradle
  airbyte-integrations/bases/base-typing-deduping-test/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/BaseTypingDedupingTest.java
  airbyte-integrations/bases/base-typing-deduping-test/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/RecordDiffer.java
  airbyte-integrations/bases/base-typing-deduping-test/src/main/resources/schema.json
  airbyte-integrations/bases/base-typing-deduping-test/src/main/resources/sync1_expectedrecords_dedup_final.jsonl
  airbyte-integrations/bases/base-typing-deduping-test/src/main/resources/sync1_expectedrecords_dedup_raw.jsonl
  airbyte-integrations/bases/base-typing-deduping-test/src/main/resources/sync1_expectedrecords_nondedup_final.jsonl
  airbyte-integrations/bases/base-typing-deduping-test/src/main/resources/sync1_expectedrecords_nondedup_raw.jsonl
  airbyte-integrations/bases/base-typing-deduping-test/src/main/resources/sync1_messages.jsonl
  airbyte-integrations/bases/base-typing-deduping-test/src/main/resources/sync2_expectedrecords_fullrefresh_append_final.jsonl
  airbyte-integrations/bases/base-typing-deduping-test/src/main/resources/sync2_expectedrecords_fullrefresh_append_raw.jsonl
  airbyte-integrations/bases/base-typing-deduping-test/src/main/resources/sync2_expectedrecords_fullrefresh_overwrite_final.jsonl
  airbyte-integrations/bases/base-typing-deduping-test/src/main/resources/sync2_expectedrecords_fullrefresh_overwrite_raw.jsonl
  airbyte-integrations/bases/base-typing-deduping-test/src/main/resources/sync2_expectedrecords_incremental_dedup_final.jsonl
  airbyte-integrations/bases/base-typing-deduping-test/src/main/resources/sync2_expectedrecords_incremental_dedup_raw.jsonl
  airbyte-integrations/bases/base-typing-deduping-test/src/main/resources/sync2_messages.jsonl
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDestination.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGenerator.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDestinationTestUtils.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/typing_deduping/AbstractBigQueryTypingDedupingTest.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQueryGcsTypingDedupingTest.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGeneratorIntegrationTest.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQueryStandardInsertsTypingDedupingTest.java
  buildSrc/src/main/groovy/airbyte-integration-test-java.gradle
  settings.gradle
Labels: area/connectors, connectors/destination/bigquery, checklist-action-run

#27442 [Source-postgres] Set default cursor value for cdc mode
  airbyte-integrations/bases/debezium/src/testFixtures/java/io/airbyte/integrations/debezium/CdcSourceTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceTest.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/CdcMysqlSourceTest.java
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/acceptance-test-config.yml
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresCatalogHelper.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresCatalogHelperTest.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/mssql, connectors/source/mysql, connectors/source/postgres, connectors/source/postgres-strict-encrypt, breaking-change

#28263 [file-based cdk] spec schema improvements and fixes
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/abstract_file_based_spec.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/file_based_stream_config.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/csv_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/test_scenarios.py
Labels: CDK

#28255 Destinations V2: move create raw tables earlier
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryRecordConsumer.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/uploader/AbstractBigQueryUploader.java
Labels: area/connectors, connectors/destination/bigquery

#28296 Add explicit registry to metadata file for langchain and gainsight
  airbyte-integrations/connectors/destination-langchain/metadata.yaml
  airbyte-integrations/connectors/source-gainsight-px/metadata.yaml
Labels: area/connectors, connectors/destination/langchain, connectors/source/gainsight-px

#28298 [Source-Postgres] Handle empty table when syncing via Ctid -> cursor-based
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresQueryUtils.java
Labels: area/connectors, connectors/source/postgres

#27790 Run mypy on airbyte-cdk as part of the build pipeline and fix typing issues in the file-based module
  .github/workflows/gradle.yml
  airbyte-cdk/python/.mypy.ini
  airbyte-cdk/python/README.md
  airbyte-cdk/python/airbyte_cdk/models/__init__.py
  airbyte-cdk/python/airbyte_cdk/models/airbyte_protocol.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/file_based_stream_config.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/default_file_based_availability_strategy.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/exceptions.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_based_source.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/avro_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/csv_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/jsonl_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/remote_file.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/schema_helpers.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/schema_validation_policies/abstract_schema_validation_policy.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/schema_validation_policies/default_schema_validation_policies.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/abstract_file_based_stream.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/cursor/default_file_based_cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/cursor/file_based_cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/default_file_based_stream.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/types.py
  airbyte-cdk/python/airbyte_cdk/sources/utils/casing.py
  airbyte-cdk/python/bin/run-mypy-on-modified-files.sh
  airbyte-cdk/python/build.gradle
  airbyte-cdk/python/mypy.ini
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/type_check_and_test.sh
  airbyte-cdk/python/unit_tests/sources/file_based/config/test_file_based_stream_config.py
  airbyte-cdk/python/unit_tests/sources/file_based/helpers.py
  airbyte-cdk/python/unit_tests/sources/file_based/in_memory_files_source.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/check_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/scenario_builder.py
  airbyte-cdk/python/unit_tests/sources/file_based/schema_validation_policies/test_default_schema_validation_policy.py
  airbyte-cdk/python/unit_tests/sources/file_based/stream/test_default_file_based_cursor.py
  airbyte-cdk/python/unit_tests/sources/file_based/test_file_based_stream_reader.py
  airbyte-cdk/python/unit_tests/sources/file_based/test_schema_helpers.py
  buildSrc/src/main/groovy/airbyte-python.gradle
Labels: CDK, connectors/source/stripe

#28268 Improve date format detection
  airbyte-cdk/python/airbyte_cdk/utils/datetime_format_inferrer.py
  airbyte-cdk/python/unit_tests/utils/test_datetime_format_inferrer.py
Labels: CDK

#28089 🐛 Source Datadog - Additional stream and query details in response
  airbyte-integrations/connectors/source-datadog/Dockerfile
  airbyte-integrations/connectors/source-datadog/metadata.yaml
  airbyte-integrations/connectors/source-datadog/source_datadog/streams.py
  docs/integrations/sources/datadog.md
Labels: area/documentation, area/connectors, community, team/tse, connectors/source/datadog

#28315 🐛 Destination Snowflake: Pull in async minor bug fix.
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/snowflake

#28068 27982 Handle DB Views
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresQueryUtils.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresUtils.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/cdc/PostgresCdcCtidInitializer.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/cdc/PostgresCdcCtidUtils.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidStateManager.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/cursor_based/CursorBasedCtidUtils.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/xmin/XminCtidUtils.java
  airbyte-integrations/connectors/source-postgres/src/main/resources/internal_models/internal_models.yaml
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CtidEnabledCdcPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CtidEnabledPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/cursor_based/CursorBasedCtidUtilsTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/xmin/XminCtidUtilsTest.java
Labels: area/connectors, connectors/source/postgres, connectors/source/jdbc

#28326 Destination bigquery 1s1t: print better stats
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQueryDestinationHandler.java
Labels: area/connectors, connectors/destination/bigquery, checklist-action-run

#27993 `destination-redshift` should fail syncs if records or properties are too large, rather than silently skipping records and succeeding
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/DestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-redshift/Dockerfile
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/operations/RedshiftSqlOperations.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/RedshiftStagingS3DestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-redshift/src/test/java/io/airbyte/integrations/destination/redshift/operations/RedshiftSqlOperationsTest.java
  docs/integrations/destinations/redshift.md
Labels: area/documentation, area/connectors, connectors/destination/redshift

#26208 ✨Source Stripe: New Stream - Persons
  airbyte-integrations/connectors/source-stripe/Dockerfile
  airbyte-integrations/connectors/source-stripe/acceptance-test-config.yml
  airbyte-integrations/connectors/source-stripe/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-stripe/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/persons.json
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_source.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_streams.py
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, community, gl, connectors/source/stripe, team/connectors-python, contributor-program, gl-review

#28341 [Source-Postgres] Make Ctid-enabled tests default for source-postgres
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CtidEnabledPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresJdbcSourceAcceptanceTest.java
Labels: area/connectors, connectors/source/postgres

#28307 Allow empty reg in registry entry generation
  airbyte-ci/connectors/metadata_service/orchestrator/orchestrator/assets/registry_entry.py
  airbyte-ci/connectors/metadata_service/orchestrator/tests/test_registry.py
  airbyte-integrations/connector-templates/destination-java/metadata.yaml.hbs
  airbyte-integrations/connector-templates/destination-python/metadata.yaml.hbs
  airbyte-integrations/connector-templates/source-configuration-based/metadata.yaml.hbs
  airbyte-integrations/connector-templates/source-generic/metadata.yaml.hbs
  airbyte-integrations/connector-templates/source-java-jdbc/metadata.yaml.hbs
  airbyte-integrations/connector-templates/source-python-http-api/metadata.yaml.hbs
  airbyte-integrations/connector-templates/source-python/metadata.yaml.hbs
  airbyte-integrations/connector-templates/source-singer/metadata.yaml.hbs
  airbyte-integrations/connectors/destination-scaffold-destination-python/metadata.yaml
  airbyte-integrations/connectors/source-scaffold-java-jdbc/metadata.yaml
  airbyte-integrations/connectors/source-scaffold-source-http/metadata.yaml
  airbyte-integrations/connectors/source-scaffold-source-python/metadata.yaml
Labels: area/connectors, connectors/source/scaffold-java-jdbc, connectors/destination/scaffold-destination-python, connectors/source/scaffold-source-http, connectors/source/scaffold-source-python, checklist-action-run

#28344 Stop publishing java connectors on merge to master
  .github/workflows/publish_connectors.yml
  tools/ci_connector_ops/ci_connector_ops/pipelines/commands/groups/connectors.py
Labels: connectors/source/postgres, connectors/source/faker

#28345 Java Pipeline Bump patch bump all java connectors in july
  airbyte-integrations/connectors/destination-bigquery-denormalized/Dockerfile
  airbyte-integrations/connectors/destination-bigquery-denormalized/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-gcs/Dockerfile
  airbyte-integrations/connectors/destination-gcs/metadata.yaml
  airbyte-integrations/connectors/destination-iceberg/Dockerfile
  airbyte-integrations/connectors/destination-iceberg/metadata.yaml
  airbyte-integrations/connectors/destination-redshift/Dockerfile
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  docs/integrations/destinations/bigquery-denormalized.md
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/gcs.md
  docs/integrations/destinations/iceberg.md
  docs/integrations/destinations/redshift.md
  docs/integrations/destinations/snowflake.md
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, connectors/destination/bigquery-denormalized, connectors/destination/snowflake, connectors/destination/redshift, connectors/source/postgres, connectors/destination/gcs, connectors/source/postgres-strict-encrypt, connectors/destination/iceberg

#28366 Destination Bigquery: 1s1t: handle raw name collisions
  airbyte-integrations/bases/base-typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/CatalogParser.java
  airbyte-integrations/bases/base-typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/ColumnId.java
  airbyte-integrations/bases/base-typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/ParsedCatalog.java
  airbyte-integrations/bases/base-typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/SqlGenerator.java
  airbyte-integrations/bases/base-typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/StreamConfig.java
  airbyte-integrations/bases/base-typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/StreamId.java
  airbyte-integrations/bases/base-typing-deduping/src/test/java/io/airbyte/integrations/base/destination/typing_deduping/CatalogParserTest.java
  airbyte-integrations/bases/base-typing-deduping/src/test/java/io/airbyte/integrations/base/destination/typing_deduping/StreamIdTest.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDestination.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryRecordConsumer.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryStagingConsumerFactory.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQueryDestinationHandler.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGenerator.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/uploader/config/UploaderConfig.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/typing_deduping/AbstractBigQueryTypingDedupingTest.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGeneratorIntegrationTest.java
  airbyte-integrations/connectors/destination-bigquery/src/test/java/io/airbyte/integrations/destination/bigquery/BigQueryRecordConsumerTest.java
  airbyte-integrations/connectors/destination-bigquery/src/test/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGeneratorTest.java
Labels: area/connectors, connectors/destination/bigquery, checklist-action-run

#28369 Handle correctly full refresh streams.
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresUtils.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidUtils.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/PostgresCtidHandler.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/cursor_based/CursorBasedCtidUtils.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/xmin/XminCtidUtils.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/cursor_based/CursorBasedCtidUtilsTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/xmin/XminCtidUtilsTest.java
Labels: area/connectors, connectors/source/postgres

#28368 1s1t: remove unused variable
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGenerator.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGeneratorIntegrationTest.java
Labels: area/connectors, connectors/destination/bigquery, checklist-action-run

#28259 File-based CDK: implement JSONL parser
  airbyte-cdk/python/airbyte_cdk/sources/file_based/availability_strategy/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/availability_strategy/abstract_file_based_availability_strategy.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/availability_strategy/default_file_based_availability_strategy.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/file_based_stream_config.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_based_source.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/jsonl_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/schema_helpers.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/abstract_file_based_stream.py
  airbyte-cdk/python/unit_tests/sources/file_based/file_types/test_jsonl_parser.py
  airbyte-cdk/python/unit_tests/sources/file_based/helpers.py
  airbyte-cdk/python/unit_tests/sources/file_based/in_memory_files_source.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/jsonl_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/scenario_builder.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/user_input_schema_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/validation_policy_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/test_scenarios.py
Labels: CDK

#27752 :bug: Source Mixpanel: reimplement backoff strategy
  airbyte-integrations/connectors/source-mixpanel/Dockerfile
  airbyte-integrations/connectors/source-mixpanel/acceptance-test-config.yml
  airbyte-integrations/connectors/source-mixpanel/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-mixpanel/integration_tests/configured_catalog_annotations.json
  airbyte-integrations/connectors/source-mixpanel/integration_tests/configured_catalog_cohort_members.json
  airbyte-integrations/connectors/source-mixpanel/integration_tests/configured_catalog_cohorts.json
  airbyte-integrations/connectors/source-mixpanel/integration_tests/configured_catalog_engage.json
  airbyte-integrations/connectors/source-mixpanel/integration_tests/configured_catalog_export.json
  airbyte-integrations/connectors/source-mixpanel/integration_tests/configured_catalog_funnels.json
  airbyte-integrations/connectors/source-mixpanel/integration_tests/configured_catalog_revenue.json
  airbyte-integrations/connectors/source-mixpanel/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-mixpanel/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-mixpanel/metadata.yaml
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/source.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams/base.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams/cohort_members.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams/cohorts.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams/export.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams/funnels.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/testing.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/conftest.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_source.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/unit_test.py
  docs/integrations/sources/mixpanel.md
Labels: area/documentation, area/connectors, connectors/source/mixpanel, connectors/source/stripe

#28365 :bug: Source Google Ads: include `today` in the date range
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_source.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, connectors/source/google-ads, checklist-action-run

#28393 Fix pyyaml/cython issue
  airbyte-cdk/python/Dockerfile
  airbyte-cdk/python/setup.py
Labels: CDK

#28396 Remove pyyaml/cython tmp fix in airbyte-cdk docker
  airbyte-cdk/python/Dockerfile
Labels: CDK

#28373 destination bigquery 1s1t: print subquery stats
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQueryDestinationHandler.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGeneratorIntegrationTest.java
Labels: area/connectors, connectors/destination/bigquery

#28075 [Docs] Add comment for updating Airbyte Cloud IPs list
  docs/cloud/getting-started-with-airbyte-cloud.md
Labels: area/documentation

#28374 Add note about always_show and OAuth fields
  docs/connector-development/connector-specification-reference.md
Labels: area/documentation

#28413 Move pyarrow to CDK extra
  airbyte-cdk/python/setup.py
  airbyte-ci/connectors/CONNECTOR_CHECKLIST.yaml
Labels: CDK

#28293 connector builder: Set test_read_limit_reached to true if we hit the max records limit
  airbyte-cdk/python/airbyte_cdk/connector_builder/message_grouper.py
  airbyte-cdk/python/airbyte_cdk/connector_builder/models.py
  airbyte-cdk/python/airbyte_cdk/utils/datetime_format_inferrer.py
  airbyte-cdk/python/airbyte_cdk/utils/schema_inferrer.py
  airbyte-cdk/python/unit_tests/connector_builder/test_message_grouper.py
Labels: CDK

#28320 Parquet files: support decimal as floats, map, null, and fixed sized binary types
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/abstract_file_based_spec.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/csv_format.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/file_based_stream_config.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/jsonl_format.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/parquet_format.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/csv_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/parquet_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/default_file_based_stream.py
  airbyte-cdk/python/unit_tests/sources/file_based/config/test_abstract_file_based_spec.py
  airbyte-cdk/python/unit_tests/sources/file_based/config/test_file_based_stream_config.py
  airbyte-cdk/python/unit_tests/sources/file_based/file_types/test_parquet_parser.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/csv_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/parquet_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/test_scenarios.py
Labels: CDK

#28336 Add back full_refresh to xmin syncs
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresCatalogHelper.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/XminPostgresSourceTest.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres, connectors/source/postgres-strict-encrypt

#28447 Fix cdk unit test
  airbyte-cdk/python/unit_tests/sources/declarative/parsers/test_model_to_component_factory.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/csv_scenarios.py
Labels: CDK

#28451 fix pyyaml/cython dependency issue when building base-normalization
  airbyte-integrations/bases/base-normalization/Dockerfile
  airbyte-integrations/bases/base-normalization/clickhouse.Dockerfile
  airbyte-integrations/bases/base-normalization/duckdb.Dockerfile
  airbyte-integrations/bases/base-normalization/mssql.Dockerfile
  airbyte-integrations/bases/base-normalization/mysql.Dockerfile
  airbyte-integrations/bases/base-normalization/oracle.Dockerfile
  airbyte-integrations/bases/base-normalization/redshift.Dockerfile
  airbyte-integrations/bases/base-normalization/snowflake.Dockerfile
  airbyte-integrations/bases/base-normalization/tidb.Dockerfile
Labels: normalization

#28359 Ingore unit tests in mypy check
  airbyte-cdk/python/bin/run-mypy-on-modified-files.sh
Labels: CDK

#28386 Low code CDK: Fix mypy errors
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/model_to_component_factory.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/retrievers/simple_retriever.py
  airbyte-cdk/python/unit_tests/sources/declarative/retrievers/test_simple_retriever.py
Labels: CDK

#28466 :sparkles: :sparkles: Source Stripe: pin API version
  airbyte-integrations/connectors/source-stripe/Dockerfile
  airbyte-integrations/connectors/source-stripe/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_streams.py
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, connectors/source/stripe, checklist-action-run

#28050 🚨 Low code CDK: Add session token authenticator
  airbyte-cdk/python/airbyte_cdk/sources/declarative/auth/token.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/auth/token_provider.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/models/declarative_component_schema.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/model_to_component_factory.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/http_requester.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/requester.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/retrievers/simple_retriever.py
  airbyte-cdk/python/unit_tests/sources/declarative/auth/test_session_token_auth.py
  airbyte-cdk/python/unit_tests/sources/declarative/auth/test_token_auth.py
  airbyte-cdk/python/unit_tests/sources/declarative/auth/test_token_provider.py
  airbyte-cdk/python/unit_tests/sources/declarative/parsers/test_model_to_component_factory.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/test_http_requester.py
  airbyte-cdk/python/unit_tests/sources/declarative/retrievers/test_simple_retriever.py
Labels: CDK

#28464 connectors-ci: fix destination with normalization build
  tools/ci_connector_ops/ci_connector_ops/pipelines/actions/environments.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/contexts.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/hacks.py
Labels: connectors/destination/bigquery

#28149 Source Google Analytics (UA): specify date format in spec
  airbyte-integrations/connectors/source-google-analytics-v4/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-v4/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-v4/source_google_analytics_v4/spec.json
  docs/integrations/sources/google-analytics-v4.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-v4

#28011 Destination Teradata: Improved Acceptance tests and Unit tests
  airbyte-integrations/connectors/destination-teradata/src/main/java/io/airbyte/integrations/destination/teradata/TeradataDestination.java
  airbyte-integrations/connectors/destination-teradata/src/main/java/io/airbyte/integrations/destination/teradata/TeradataSqlOperations.java
  airbyte-integrations/connectors/destination-teradata/src/test-integration/java/io/airbyte/integrations/destination/teradata/TeradataDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-teradata/src/test-integration/java/io/airbyte/integrations/destination/teradata/TeradataDestinationSSLAcceptanceTest.java
  airbyte-integrations/connectors/destination-teradata/src/test-integration/java/io/airbyte/integrations/destination/teradata/envclient/Headers.java
  airbyte-integrations/connectors/destination-teradata/src/test-integration/java/io/airbyte/integrations/destination/teradata/envclient/TeradataHttpClient.java
  airbyte-integrations/connectors/destination-teradata/src/test-integration/java/io/airbyte/integrations/destination/teradata/envclient/dto/CreateEnvironmentRequest.java
  airbyte-integrations/connectors/destination-teradata/src/test-integration/java/io/airbyte/integrations/destination/teradata/envclient/dto/DeleteEnvironmentRequest.java
  airbyte-integrations/connectors/destination-teradata/src/test-integration/java/io/airbyte/integrations/destination/teradata/envclient/dto/EnvironmentRequest.java
  airbyte-integrations/connectors/destination-teradata/src/test-integration/java/io/airbyte/integrations/destination/teradata/envclient/dto/EnvironmentResponse.java
  airbyte-integrations/connectors/destination-teradata/src/test-integration/java/io/airbyte/integrations/destination/teradata/envclient/dto/GetEnvironmentRequest.java
  airbyte-integrations/connectors/destination-teradata/src/test-integration/java/io/airbyte/integrations/destination/teradata/envclient/dto/OperationRequest.java
  airbyte-integrations/connectors/destination-teradata/src/test-integration/java/io/airbyte/integrations/destination/teradata/envclient/dto/Region.java
  airbyte-integrations/connectors/destination-teradata/src/test-integration/java/io/airbyte/integrations/destination/teradata/envclient/exception/BaseException.java
  airbyte-integrations/connectors/destination-teradata/src/test-integration/java/io/airbyte/integrations/destination/teradata/envclient/exception/Error4xxException.java
  airbyte-integrations/connectors/destination-teradata/src/test-integration/java/io/airbyte/integrations/destination/teradata/envclient/exception/Error5xxException.java
  airbyte-integrations/connectors/destination-teradata/src/test/java/io/airbyte/integrations/destination/teradata/TeradataDestinationTest.java
Labels: area/connectors, community, team/tse, connectors/destination/teradata, connectors/source/teradata

#28158 ✨Destination Iceberg: Bump Iceberg from 1.1.0 to 1.3.0 and add REST catalog support
  airbyte-integrations/connectors/destination-iceberg/Dockerfile
  airbyte-integrations/connectors/destination-iceberg/build.gradle
  airbyte-integrations/connectors/destination-iceberg/metadata.yaml
  airbyte-integrations/connectors/destination-iceberg/src/main/java/io/airbyte/integrations/destination/iceberg/IcebergConstants.java
  airbyte-integrations/connectors/destination-iceberg/src/main/java/io/airbyte/integrations/destination/iceberg/config/catalog/CatalogType.java
  airbyte-integrations/connectors/destination-iceberg/src/main/java/io/airbyte/integrations/destination/iceberg/config/catalog/IcebergCatalogConfigFactory.java
  airbyte-integrations/connectors/destination-iceberg/src/main/java/io/airbyte/integrations/destination/iceberg/config/catalog/RESTCatalogConfig.java
  airbyte-integrations/connectors/destination-iceberg/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-iceberg/src/test-integration/java/io/airbyte/integrations/destination/iceberg/container/RESTServerWithMinioCompose.java
  airbyte-integrations/connectors/destination-iceberg/src/test-integration/java/io/airbyte/integrations/destination/iceberg/rest/BaseIcebergRESTCatalogS3IntegrationTest.java
  airbyte-integrations/connectors/destination-iceberg/src/test-integration/java/io/airbyte/integrations/destination/iceberg/rest/IcebergRESTCatalogS3AvroIntegrationTest.java
  airbyte-integrations/connectors/destination-iceberg/src/test-integration/java/io/airbyte/integrations/destination/iceberg/rest/IcebergRESTCatalogS3ParquetIntegrationTest.java
  airbyte-integrations/connectors/destination-iceberg/src/test-integration/resources/rest-catalog-compose.yml
  airbyte-integrations/connectors/destination-iceberg/src/test/java/io/airbyte/integrations/destination/iceberg/IcebergRESTCatalogConfigTest.java
  docs/integrations/destinations/iceberg.md
Labels: area/documentation, area/connectors, community, team/tse, connectors/destination/iceberg

#28478 Revert source-zendesk-support
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
Labels: area/connectors, connectors/source/zendesk-support

#28452 📝Source MailGun: Update documentation
  docs/integrations/sources/mailgun.md
Labels: area/documentation, community

#28316 📝 Docs: Source SFTP documentation update
  docs/integrations/sources/sftp.md
Labels: area/documentation, connectors/source/sftp

#28485 Ship a breaking change to faker
  airbyte-integrations/connectors/source-faker/Dockerfile
  airbyte-integrations/connectors/source-faker/metadata.yaml
  docs/integrations/sources/faker-migrations.md
  docs/integrations/sources/faker.md
Labels: area/documentation, area/connectors, connectors/source/faker, checklist-action-run

#28450 Replace deprecated dagger APIs
  tools/ci_connector_ops/ci_connector_ops/pipelines/actions/environments.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/actions/remote_storage.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/actions/secrets.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/bases.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/builds/java_connectors.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/commands/groups/connectors.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/format/__init__.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/format/java_connectors.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/gradle.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/pipelines/connectors.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/pipelines/metadata.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/publish.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/utils.py
Labels: community

#28442 Update documentation related to data residency
  docs/cloud/getting-started-with-airbyte-cloud.md
  docs/cloud/managing-airbyte-cloud.md
Labels: area/documentation

#28457 :bug:Source Iterable: fix type error
  airbyte-integrations/connectors/source-iterable/Dockerfile
  airbyte-integrations/connectors/source-iterable/metadata.yaml
  airbyte-integrations/connectors/source-iterable/source_iterable/slice_generators.py
  docs/integrations/sources/iterable.md
Labels: area/documentation, area/connectors, connectors/source/iterable, checklist-action-run

#28349 Source Hubspot: add new fields to schema
  airbyte-integrations/connectors/source-hubspot/Dockerfile
  airbyte-integrations/connectors/source-hubspot/acceptance-test-config.yml
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/campaigns.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/contact_lists.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/email_events.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/email_subscriptions.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/engagements.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/forms.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/goals.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/marketing_emails.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/property_history.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/subscription_changes.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/workflows.json
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot

#28509 destination-langchain: fix build
  airbyte-integrations/connectors/destination-langchain/Dockerfile
  airbyte-integrations/connectors/destination-langchain/metadata.yaml
  airbyte-integrations/connectors/destination-langchain/setup.py
  docs/integrations/destinations/langchain.md
Labels: area/documentation, area/connectors, connectors/destination/langchain

#28390 connectors-ci: centralize patches in `hacks.py`
  tools/ci_connector_ops/ci_connector_ops/pipelines/actions/environments.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/builds/java_connectors.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/contexts.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/format/java_connectors.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/format/python_connectors.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/gradle.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/hacks.py
  tools/ci_connector_ops/ci_connector_ops/pipelines/publish.py
Labels: connectors/destination/bigquery, connectors/source/postgres, connectors/source/openweather

#28382 ✨ Destination BigQuery - Handle Schema Changes
  airbyte-integrations/bases/base-typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/AlterTableReport.java
  airbyte-integrations/bases/base-typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/CollectionUtils.java
  airbyte-integrations/bases/base-typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/SqlGenerator.java
  airbyte-integrations/bases/base-typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/TableNotMigratedException.java
  airbyte-integrations/bases/base-typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/TypeAndDedupeOperationValve.java
  airbyte-integrations/bases/base-typing-deduping/src/test/java/io/airbyte/integrations/base/destination/typing_deduping/CollectionUtilsTest.java
  airbyte-integrations/bases/base-typing-deduping/src/test/java/io/airbyte/integrations/base/destination/typing_deduping/TypeAndDedupeOperationValveTest.java
  airbyte-integrations/connectors/destination-bigquery/Dockerfile
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryRecordConsumer.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryStagingConsumerFactory.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQueryDestinationHandler.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGenerator.java
  airbyte-integrations/connectors/destination-bigquery/src/test/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGeneratorTest.java
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery
