Repository airbytehq/airbyte, pull requests merged in 2023-01, with the labels that each got.

#20566 Fix snowflake destination spec
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-snowflake/Dockerfile
  airbyte-integrations/connectors/destination-snowflake/src/main/resources/spec.json
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/snowflake

#20544 🪟 🔧 Refactor column selection callback
  airbyte-webapp/src/components/connection/CatalogTree/CatalogSection.tsx
  airbyte-webapp/src/components/connection/CatalogTree/StreamFieldTable.tsx
Labels: area/platform, team/frontend

#20576 🪟 🎨 Fix typo in custom image modal
  airbyte-webapp/src/locales/en.json
Labels: area/platform, team/frontend

#20867 Change readme to use python command instead of pytest to run unit tests
  airbyte-cdk/python/README.md
Labels: CDK

#20637 🪟🐛 Connector form: Render input as number for type number
  airbyte-webapp/src/views/Connector/ConnectorForm/components/Property/Control.tsx
Labels: area/platform, team/extensibility, team/frontend, ui/connectors

#20741 Faker gets 250% faster
  airbyte-integrations/connectors/source-faker/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-faker/source_faker/airbyte_message_with_cached_json.py
  airbyte-integrations/connectors/source-faker/source_faker/purchase_generator.py
  airbyte-integrations/connectors/source-faker/source_faker/source.py
  airbyte-integrations/connectors/source-faker/source_faker/spec.json
  airbyte-integrations/connectors/source-faker/source_faker/streams.py
  airbyte-integrations/connectors/source-faker/source_faker/user_generator.py
  airbyte-integrations/connectors/source-faker/source_faker/utils.py
  airbyte-integrations/connectors/source-faker/unit_tests/unit_test.py
Labels: area/connectors, connectors/source/faker

#20492 [faker] decouple stream state
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-faker/Dockerfile
  airbyte-integrations/connectors/source-faker/acceptance-test-config.yml
  airbyte-integrations/connectors/source-faker/csv_export/README.md
  airbyte-integrations/connectors/source-faker/csv_export/main.sh
  airbyte-integrations/connectors/source-faker/csv_export/products.sh
  airbyte-integrations/connectors/source-faker/csv_export/purchases.sh
  airbyte-integrations/connectors/source-faker/csv_export/users.sh
  airbyte-integrations/connectors/source-faker/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-faker/source_faker/airbyte_message_with_cached_json.py
  airbyte-integrations/connectors/source-faker/source_faker/purchase_generator.py
  airbyte-integrations/connectors/source-faker/source_faker/source.py
  airbyte-integrations/connectors/source-faker/source_faker/spec.json
  airbyte-integrations/connectors/source-faker/source_faker/streams.py
  airbyte-integrations/connectors/source-faker/source_faker/user_generator.py
  airbyte-integrations/connectors/source-faker/source_faker/utils.py
  airbyte-integrations/connectors/source-faker/unit_tests/unit_test.py
  docs/integrations/sources/faker.md
Labels: area/documentation, area/connectors, connectors/source/faker

#20879 Destination Redshift: Introduces configurable value for file buffer count
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/bases/base-java/src/main/java/io/airbyte/integrations/destination/record_buffer/FileBuffer.java
  airbyte-integrations/connectors/destination-redshift/Dockerfile
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftStagingS3Destination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/util/RedshiftUtil.java
  airbyte-integrations/connectors/destination-redshift/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/RedshiftStagingS3DestinationAcceptanceTest.java
  docs/integrations/destinations/redshift.md
Labels: area/documentation, area/connectors, connectors/destination/redshift

#20595 🪟 🎉 Display "Credits" in sidebar and add info when user is running out of credits
  airbyte-webapp/src/components/ui/InfoBox/InfoBox.tsx
  airbyte-webapp/src/packages/cloud/locales/en.json
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/components/LowCreditBalanceHint/LowCreditBalanceHint.module.scss
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/components/LowCreditBalanceHint/LowCreditBalanceHint.tsx
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/components/LowCreditBalanceHint/index.tsx
  airbyte-webapp/src/packages/cloud/views/credits/CreditsPage/components/RemainingCredits.tsx
  airbyte-webapp/src/packages/cloud/views/layout/SideBar/SideBar.module.scss
  airbyte-webapp/src/packages/cloud/views/layout/SideBar/SideBar.tsx
Labels: area/platform, team/frontend, team/growth

#20557 [low-code] convert request.body to a dict when converting to AirbyteLogMessage
  airbyte-cdk/python/airbyte_cdk/sources/declarative/retrievers/simple_retriever.py
  airbyte-cdk/python/unit_tests/sources/declarative/retrievers/test_simple_retriever.py
  airbyte-connector-builder-server/connector_builder/impl/default_api.py
  airbyte-connector-builder-server/unit_tests/connector_builder/impl/test_default_api.py
Labels: CDK

#20146 🪟🚨 Refactor connector form code
  airbyte-webapp/src/components/GroupControls/index.stories.tsx
  airbyte-webapp/src/components/common/ApiErrorBoundary/ApiErrorBoundary.tsx
  airbyte-webapp/src/core/domain/catalog/traverseSchemaToField.test.ts
  airbyte-webapp/src/core/domain/connection/types.ts
  airbyte-webapp/src/core/form/FormBuildError.ts
  airbyte-webapp/src/core/form/schemaToFormBlock.test.ts
  airbyte-webapp/src/core/form/schemaToFormBlock.ts
  airbyte-webapp/src/core/form/schemaToYup.test.ts
  airbyte-webapp/src/core/form/schemaToYup.ts
  airbyte-webapp/src/core/form/types.ts
  airbyte-webapp/src/core/form/uiWidget.test.ts
  airbyte-webapp/src/core/form/uiWidget.ts
  airbyte-webapp/src/core/jsonSchema/index.ts
  airbyte-webapp/src/core/jsonSchema/schemaToYup.test.ts
  airbyte-webapp/src/core/jsonSchema/schemaToYup.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/views/Connector/ConnectorCard/ConnectorCard.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/ConnectorForm.test.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/ConnectorForm.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/Property/PropertyLabel.stories.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/Sections/ConditionSection.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/Sections/PropertySection.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/connectorFormContext.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/useBuildForm.tsx
  airbyte-webapp/src/views/common/ErrorOccurredView/ErrorOccurredView.tsx
Labels: area/platform, team/extensibility, team/frontend, ui/connectors

#20874 Code cleanup in `SourceOperations`
  airbyte-db/db-lib/src/main/java/io/airbyte/db/JdbcCompatibleSourceOperations.java
  airbyte-db/db-lib/src/main/java/io/airbyte/db/PostgresUtils.java
  airbyte-db/db-lib/src/main/java/io/airbyte/db/SourceOperations.java
  airbyte-db/db-lib/src/main/java/io/airbyte/db/bigquery/BigQueryDatabase.java
  airbyte-db/db-lib/src/main/java/io/airbyte/db/bigquery/BigQuerySourceOperations.java
  airbyte-db/db-lib/src/main/java/io/airbyte/db/jdbc/AbstractJdbcCompatibleSourceOperations.java
  airbyte-db/db-lib/src/main/java/io/airbyte/db/jdbc/JdbcSourceOperations.java
  airbyte-db/db-lib/src/test/java/io/airbyte/db/jdbc/TestJdbcUtils.java
  airbyte-integrations/connectors/destination-bigquery-denormalized/src/test-integration/java/io/airbyte/integrations/destination/bigquery/BigQueryDenormalizedDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/AbstractBigQueryDestinationAcceptanceTest.java
  airbyte-integrations/connectors/source-bigquery/src/main/java/io/airbyte/integrations/source/bigquery/BigQuerySource.java
  airbyte-integrations/connectors/source-cockroachdb/src/main/java/io/airbyte/integrations/source/cockroachdb/CockroachJdbcSourceOperations.java
  airbyte-integrations/connectors/source-db2-strict-encrypt/src/test/java/io/airbyte/integrations/source/db2_strict_encrypt/Db2JdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-db2/src/main/java/io.airbyte.integrations.source.db2/Db2SourceOperations.java
  airbyte-integrations/connectors/source-db2/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/Db2SourceDatatypeTest.java
  airbyte-integrations/connectors/source-db2/src/test/java/io.airbyte.integrations.source.db2/Db2JdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-jdbc/src/main/java/io/airbyte/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-integrations/connectors/source-jdbc/src/testFixtures/java/io/airbyte/integrations/source/jdbc/test/JdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io.airbyte.integrations.source.mongodb/MongoDbSource.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcTargetPosition.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSourceOperations.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSourceOperations.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/MySqlSourceOperationsTest.java
  airbyte-integrations/connectors/source-oracle-strict-encrypt/src/test-integration/java/io/airbyte/integrations/source/oracle_strict_encrypt/OracleStrictEncryptJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-oracle/src/test-integration/java/io/airbyte/integrations/source/oracle/OracleJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-oracle/src/test-integration/java/io/airbyte/integrations/source/oracle/OracleSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSourceOperations.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/AbstractDbSource.java
  airbyte-integrations/connectors/source-relational-db/src/main/java/io/airbyte/integrations/source/relationaldb/RelationalDbQueryUtils.java
  airbyte-integrations/connectors/source-snowflake/src/main/java/io.airbyte.integrations.source.snowflake/SnowflakeSourceOperations.java
  airbyte-integrations/connectors/source-tidb/src/main/java/io/airbyte/integrations/source/tidb/TiDBSourceOperations.java
  airbyte-protocol/protocol-models/src/main/java/io/airbyte/protocol/models/JsonSchemaReferenceTypes.java
  airbyte-protocol/protocol-models/src/main/java/io/airbyte/protocol/models/JsonSchemaType.java
Labels: area/connectors, area/platform, area/protocol, connectors/source/cockroachdb, connectors/source/db2, connectors/source/db2-strict-encrypt, connectors/destination/bigquery, connectors/destination/bigquery-denormalized, connectors/source/bigquery, connectors/source/mssql, connectors/source/mysql, connectors/source/oracle, connectors/source/postgres, connectors/source/snowflake, connectors/source/mongodb-v2, connectors/source/jdbc, connectors/source/relational-db, connectors/source/oracle-strict-encrypt, connectors/source/tidb

#20933 fix(oauth): handle fields missing in the stored config when building consent url
  airbyte-server/src/main/java/io/airbyte/server/handlers/OAuthHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/OAuthHandlerTest.java
Labels: area/platform, area/server, team/connector-ops

#20932 fix(oauth): dont convert config values to string when building consent url
  airbyte-server/src/main/java/io/airbyte/server/handlers/OAuthHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/OAuthHandlerTest.java
Labels: area/platform, area/server, team/connector-ops

#20965 Deployment docs and sidebar cleanup
  docs/api-documentation.md
  docs/deploying-airbyte/on-aws-ec2.md
  docs/deploying-airbyte/on-azure-vm-cloud-shell.md
  docs/deploying-airbyte/on-digitalocean-droplet.md
  docs/deploying-airbyte/on-gcp-compute-engine.md
  docs/deploying-airbyte/on-kubernetes-via-helm.md
  docs/deploying-airbyte/on-kubernetes.md
  docs/deploying-airbyte/on-oci-vm.md
  docs/deploying-airbyte/on-plural.md
  docs/deploying-airbyte/on-restack.md
  docs/integrations/destinations/csv.md
  docs/integrations/destinations/pubsub.md
  docs/integrations/sources/baton.md
  docs/integrations/sources/faker.md
  docs/integrations/sources/http-request.md
  docs/integrations/sources/mailerlite.md
  docs/integrations/sources/omnisend.md
  docs/integrations/sources/s3.md
  docs/integrations/sources/xero.md
  docs/operator-guides/security.md
  docusaurus/sidebars.js
Labels: area/documentation

#20923 CDK: `SingleUseRefreshTokenOauth2Authenticator` update config with access tokens and expiration date
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/config_observation.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/requests_native_auth/oauth.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/streams/http/requests_native_auth/test_requests_native_auth.py
Labels: CDK

#20725 🪟🎉 Connector form: Use proper validation in array section
  airbyte-webapp/src/views/Connector/ConnectorForm/ConnectorForm.test.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/Sections/ArraySection.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/Sections/VariableInputFieldForm.tsx
Labels: area/platform, team/frontend, ui/connectors

#20643 [docs] airbyte dagster docs update
  docs/operator-guides/using-dagster-integration.md
Labels: area/documentation

#20821 [local airbyte cdk tests] update README.md to fix gradle command and …
  airbyte-cdk/python/README.md
Labels: CDK

#20968 fix build: OAuthHandler missing import
  airbyte-server/src/main/java/io/airbyte/server/handlers/OAuthHandler.java
Labels: area/platform, area/server

#20971 Update to latest plugin
  airbyte-api/build.gradle
Labels: area/api, area/platform

#20585 Skip validation when previous state is empty due to reset
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/PersistStateActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/sync/PersistStateActivityTest.java
Labels: area/worker, area/platform

#20162 🪟 🐛 Focus Connection Name input on field selection
  airbyte-webapp-e2e-tests/cypress/integration/connection.spec.ts
  airbyte-webapp-e2e-tests/cypress/pages/replicationPage.ts
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionName.tsx
Labels: area/platform, team/frontend

#20625 🪟 🐛 Fix non-breaking schema changes preference issues
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/views/Connection/ConnectionForm/components/NonBreakingChangesPreferenceField.module.scss
  airbyte-webapp/src/views/Connection/ConnectionForm/components/NonBreakingChangesPreferenceField.tsx
Labels: area/platform, team/frontend

#20678 🪟 🧹 Use custom arrow icon in the new Streams Table
  airbyte-webapp/src/components/connection/CatalogTree/next/CatalogTreeTableRow.tsx
  airbyte-webapp/src/components/connection/CatalogTree/next/StreamConnectionHeader.tsx
Labels: area/platform, team/frontend

#20955 Store SQL scripts for Java source test datasets
  airbyte-integrations/connectors/source-clickhouse/integration_tests/seed/basic.sql
  airbyte-integrations/connectors/source-cockroachdb/integration_tests/seed/basic.sql
  airbyte-integrations/connectors/source-cockroachdb/integration_tests/seed/full.sql
  airbyte-integrations/connectors/source-cockroachdb/integration_tests/seed/full_without_nulls.sql
  airbyte-integrations/connectors/source-db2/integration_tests/seed/basic.sql
  airbyte-integrations/connectors/source-db2/integration_tests/seed/full.sql
  airbyte-integrations/connectors/source-db2/integration_tests/seed/full_without_nulls.sql
  airbyte-integrations/connectors/source-mssql/integration_tests/seed/basic.sql
  airbyte-integrations/connectors/source-mssql/integration_tests/seed/full.sql
  airbyte-integrations/connectors/source-mssql/integration_tests/seed/full_without_nulls.sql
  airbyte-integrations/connectors/source-mysql/integration_tests/seed/basic.sql
  airbyte-integrations/connectors/source-mysql/integration_tests/seed/full.sql
  airbyte-integrations/connectors/source-mysql/integration_tests/seed/full_without_nulls.sql
  airbyte-integrations/connectors/source-oracle/integration_tests/seed/basic.sql
  airbyte-integrations/connectors/source-oracle/integration_tests/seed/full.sql
  airbyte-integrations/connectors/source-oracle/integration_tests/seed/full_without_nulls.sql
  airbyte-integrations/connectors/source-postgres/integration_tests/seed/basic.sql
  airbyte-integrations/connectors/source-postgres/integration_tests/seed/full.sql
  airbyte-integrations/connectors/source-postgres/integration_tests/seed/full_without_nulls.sql
  airbyte-integrations/connectors/source-tidb/integration_tests/seed/basic.sql
Labels: area/connectors, connectors/source/clickhouse, connectors/source/cockroachdb, connectors/source/db2, connectors/source/mssql, connectors/source/mysql, connectors/source/oracle, connectors/source/postgres, connectors/source/tidb

#20774 Add cancelled status icon
  airbyte-webapp/src/components/CreateConnection/__snapshots__/CreateConnectionForm.test.tsx.snap
  airbyte-webapp/src/components/EntityTable/components/NameCell.tsx
  airbyte-webapp/src/components/EntityTable/types.ts
  airbyte-webapp/src/components/EntityTable/utils.tsx
  airbyte-webapp/src/components/JobItem/components/MainInfo.tsx
  airbyte-webapp/src/components/icons/CrossIcon.tsx
  airbyte-webapp/src/components/ui/StatusIcon/StatusIcon.test.tsx
  airbyte-webapp/src/components/ui/StatusIcon/StatusIcon.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/__snapshots__/ConnectionReplicationTab.test.tsx.snap
Labels: area/platform, team/frontend

#20762 Remove "Transfer" title from card in replication settings when new table is enabled
  airbyte-webapp/src/views/Connection/ConnectionForm/ConnectionFormFields.tsx
Labels: area/platform, team/frontend

#20155 Use the new get out of date connectors endpoint
  airbyte-webapp/src/hooks/services/useConnector.test.tsx
  airbyte-webapp/src/hooks/services/useConnector.tsx
  airbyte-webapp/src/pages/SettingsPage/SettingsPage.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/DestinationsPage.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/SourcesPage.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/components/ConnectorsView.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/components/VersionCell.tsx
  airbyte-webapp/src/services/connector/ConnectorDefinitions.ts
  airbyte-webapp/src/services/connector/ConnectorService.ts
  airbyte-webapp/src/services/connector/DestinationDefinitionService.ts
  airbyte-webapp/src/services/connector/SourceDefinitionService.ts
  airbyte-webapp/src/views/layout/SideBar/NotificationIndicator.tsx
Labels: area/platform, team/frontend, ui/performance

#20853 OSS changes to support acceptance test on data plane
  airbyte-test-utils/src/main/java/io/airbyte/test/utils/AirbyteAcceptanceTestHarness.java
  airbyte-workers/src/main/java/io/airbyte/workers/config/ApiClientBeanFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/config/SecretPersistenceBeanFactory.java
  airbyte-workers/src/main/resources/application.yml
Labels: area/worker, area/platform

#20690 Remove configRepo dependencies
  airbyte-workers/src/main/java/io/airbyte/workers/config/ApiClientBeanFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/ConfigFetchActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/ConfigFetchActivityTest.java
Labels: area/worker, area/platform

#20264 Improve performance of list connection operations
  airbyte-api/src/main/openapi/config.yaml
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/ConfigRepositoryE2EReadWriteTest.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/MockData.java
  airbyte-server/src/main/java/io/airbyte/server/apis/WebBackendApiController.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/DestinationHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SourceHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/WebBackendConnectionsHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WebBackendConnectionsHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/helpers/ConnectionHelpers.java
  airbyte-webapp/src/components/EntityTable/utils.tsx
  airbyte-webapp/src/components/destination/DestinationsTable/DestinationsTable.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/AllSourcesPage/components/SourcesTable.tsx
  airbyte-webapp/src/pages/SourcesPage/pages/SourceItemPage/SourceItemPage.tsx
  airbyte-webapp/src/pages/destination/DestinationOverviewPage.tsx
  airbyte-webapp/src/pages/destination/DestinationSettingsPage/DestinationSettingsPage.tsx
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api, area/platform, area/server, team/frontend, ui/performance

#20421 🐛 Destination Redshift: Add BOOLEAN to normalization keywords
  airbyte-integrations/bases/base-normalization/normalization/transform_catalog/reserved_keywords.py
Labels: normalization, community

#20589 pass workspace id to sync workflow and use it to selectively enable field selection
  airbyte-commons-temporal/src/main/java/io/airbyte/commons/temporal/sync/OrchestratorConstants.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/general/DefaultReplicationWorker.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/process/AirbyteIntegrationLauncher.java
  airbyte-commons-worker/src/test/java/io/airbyte/workers/process/AirbyteIntegrationLauncherTest.java
  airbyte-commons/src/main/java/io/airbyte/commons/features/EnvVariableFeatureFlags.java
  airbyte-commons/src/main/java/io/airbyte/commons/features/FeatureFlags.java
  airbyte-config/config-models/src/main/java/io/airbyte/config/Configs.java
  airbyte-config/config-models/src/main/java/io/airbyte/config/EnvConfigs.java
  airbyte-config/config-models/src/main/resources/types/JobResetConnectionConfig.yaml
  airbyte-config/config-models/src/main/resources/types/JobSyncConfig.yaml
  airbyte-config/config-models/src/main/resources/types/StandardSyncInput.yaml
  airbyte-container-orchestrator/src/main/java/io/airbyte/container_orchestrator/orchestrator/ReplicationJobOrchestrator.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/DefaultJobCreator.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/JobCreator.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/factory/DefaultSyncJobFactory.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/DefaultJobCreatorTest.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/factory/DefaultSyncJobFactoryTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/config/ContainerOrchestratorConfigBeanFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/GenerateInputActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/ReplicationActivityImpl.java
  docker-compose.yaml
Labels: area/worker, area/platform

#20709 Source Sentry: add incremental sync
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-sentry/Dockerfile
  airbyte-integrations/connectors/source-sentry/acceptance-test-config.yml
  airbyte-integrations/connectors/source-sentry/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-sentry/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-sentry/source_sentry/schemas/events.json
  airbyte-integrations/connectors/source-sentry/source_sentry/streams.py
  docs/integrations/sources/sentry.md
Labels: area/documentation, area/connectors, connectors/source/sentry

#20736 Source Facebook Marketing: fix OC 1040
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/base_insight_streams.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing

#20964 🎉 Source LinkedIn-Ads: update SAT to `high` strictness level
  airbyte-integrations/connectors/source-linkedin-ads/README.md
  airbyte-integrations/connectors/source-linkedin-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-linkedin-ads/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-linkedin-ads/integration_tests/expected_records.txt
Labels: area/connectors, connectors/source/linkedin-ads

#20469 source-postgres-cdc: allow LSN to be acknowledged after sync
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/bases/debezium-v1-9-6/build.gradle
  airbyte-integrations/bases/debezium-v1-9-6/debezium-connector-postgres-1.9.6.Final.jar
  airbyte-integrations/bases/debezium-v1-9-6/src/main/java/io/airbyte/integrations/debezium/internals/PostgresDebeziumStateUtil.java
  airbyte-integrations/bases/debezium-v1-9-6/src/test/java/io/airbyte/integrations/debezium/internals/PostgresDebeziumStateUtilTest.java
  airbyte-integrations/connectors/source-postgres-strict-encrypt/Dockerfile
  airbyte-integrations/connectors/source-postgres/Dockerfile
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresCdcProperties.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresUtils.java
  airbyte-integrations/connectors/source-postgres/src/main/resources/spec.json
  airbyte-integrations/connectors/source-postgres/src/test-integration/resources/expected_spec.json
  airbyte-integrations/connectors/source-postgres/src/test-integration/resources/expected_strict_encrypt_spec.json
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresSpecTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresUtilsTest.java
  airbyte-integrations/connectors/source-postgres/src/test/resources/expected_spec.json
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres, connectors/source/postgres-strict-encrypt

#20859 Source Jira: Fixed pagination for streams `issue_remote_links`, `sprints`
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-jira/Dockerfile
  airbyte-integrations/connectors/source-jira/source_jira/streams.py
  airbyte-integrations/connectors/source-jira/unit_tests/test_pagination.py
  docs/integrations/sources/jira.md
Labels: area/documentation, area/connectors, connectors/source/jira

#20549 source-postgres: enable SAT high test strictness level
  airbyte-integrations/bases/source-acceptance-test/CHANGELOG.md
  airbyte-integrations/bases/source-acceptance-test/Dockerfile
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/config.py
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/tests/test_incremental.py
  airbyte-integrations/bases/source-acceptance-test/unit_tests/test_incremental.py
  airbyte-integrations/connectors/source-postgres/acceptance-test-config.yml
  airbyte-integrations/connectors/source-postgres/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-postgres/integration_tests/README.md
  airbyte-integrations/connectors/source-postgres/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-postgres/integration_tests/expected_records.txt
  airbyte-integrations/connectors/source-postgres/integration_tests/incremental_configured_catalog.json
  airbyte-integrations/connectors/source-postgres/integration_tests/seed.sql
  docs/connector-development/testing-connectors/source-acceptance-tests-reference.md
Labels: area/documentation, area/connectors, connectors/source/postgres, SAT-on-database-source

#20809 🪟🎉 Connector builder UI: User inputs, request options, authentication, pagination, slicing
  airbyte-webapp/src/components/GroupControls/GroupControls.module.scss
  airbyte-webapp/src/components/GroupControls/GroupControls.tsx
  airbyte-webapp/src/components/GroupControls/index.stories.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/AddStreamButton.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/AuthenticationSection.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/Builder.module.scss
  airbyte-webapp/src/components/connectorBuilder/Builder/Builder.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderCard.module.scss
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderCard.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderField.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderOneOf.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderOptional.module.scss
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderOptional.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderSidebar.module.scss
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderSidebar.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/GlobalConfigView.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/InjectRequestOptionFields.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/InputsView.module.scss
  airbyte-webapp/src/components/connectorBuilder/Builder/InputsView.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/KeyValueListField.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/PaginationSection.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/StreamConfigView.module.scss
  airbyte-webapp/src/components/connectorBuilder/Builder/StreamConfigView.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/StreamSlicerSection.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/ToggleGroupField.module.scss
  airbyte-webapp/src/components/connectorBuilder/Builder/ToggleGroupField.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/UserInputField.module.scss
  airbyte-webapp/src/components/connectorBuilder/Builder/UserInputField.tsx
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/ConfigMenu.module.scss
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/ConfigMenu.tsx
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/ConfigMenuErrorBoundary.module.scss
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/ConfigMenuErrorBoundary.tsx
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/StreamTestButton.tsx
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/StreamTester.tsx
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/StreamTestingPanel.module.scss
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/StreamTestingPanel.tsx
  airbyte-webapp/src/components/connectorBuilder/types.ts
  airbyte-webapp/src/components/ui/Input/Input.module.scss
  airbyte-webapp/src/core/domain/connector/connector.ts
  airbyte-webapp/src/core/domain/connector/source.ts
  airbyte-webapp/src/core/domain/connector/types.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/ConnectorBuilderPage/ConnectorBuilderPage.tsx
  airbyte-webapp/src/services/connectorBuilder/ConnectorBuilderStateService.tsx
  airbyte-webapp/src/services/connectorBuilder/connector_manifest_openapi.yaml
  airbyte-webapp/src/views/Connector/ConnectorForm/ConnectorForm.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/FormRoot.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/CreateControls.module.scss
  airbyte-webapp/src/views/Connector/ConnectorForm/components/CreateControls.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/Sections/ConditionSection.module.scss
  airbyte-webapp/src/views/Connector/ConnectorForm/components/Sections/ConditionSection.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/Sections/auth/AuthButton.test.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/Sections/auth/AuthButton.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/Sections/auth/AuthSection.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/connectorFormContext.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/index.stories.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/useAuthentication.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/useBuildForm.tsx
Labels: area/platform, team/frontend, ui/connectors

#21000 make schema editor take up full height
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderConfigView.module.scss
  airbyte-webapp/src/components/connectorBuilder/Builder/StreamConfigView.module.scss
  airbyte-webapp/src/components/connectorBuilder/Builder/StreamConfigView.tsx
Labels: area/platform, team/frontend

#20588 🪟🎉 Connector form: Respect `default` value for oneOf properties
  airbyte-webapp/src/views/Connector/ConnectorForm/useBuildForm.tsx
Labels: area/platform, team/frontend, ui/connectors

#21011 🎉 Source Zendesk Chat: update SAT to `high` strictness
  airbyte-integrations/connectors/source-zendesk-chat/acceptance-test-config.yml
  airbyte-integrations/connectors/source-zendesk-chat/integration_tests/expected_records.txt
  airbyte-integrations/connectors/source-zendesk-chat/setup.py
Labels: area/connectors, connectors/source/zendesk-chat

#20925 Source Facebook Pages: fix tests; data is not permanent
  airbyte-integrations/connectors/source-facebook-pages/Dockerfile
  airbyte-integrations/connectors/source-facebook-pages/acceptance-test-config.yml
  docs/integrations/sources/facebook-pages.md
Labels: area/documentation, area/connectors, connectors/source/facebook-pages

#20858 Source Google Analytics UA: fix check connection
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-analytics-v4/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-v4/source_google_analytics_v4/source.py
  airbyte-integrations/connectors/source-google-analytics-v4/unit_tests/unit_test.py
  docs/integrations/sources/google-analytics-universal-analytics.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-v4

#20865 Source Snapchat Marketing: permission error
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-snapchat-marketing/Dockerfile
  airbyte-integrations/connectors/source-snapchat-marketing/source_snapchat_marketing/source.py
  airbyte-integrations/connectors/source-snapchat-marketing/unit_tests/unit_test.py
  docs/integrations/sources/snapchat-marketing.md
Labels: area/documentation, area/connectors, connectors/source/snapchat-marketing

#19798 🐛 Source Netsuite: fix early adopter issues
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-netsuite/Dockerfile
  airbyte-integrations/connectors/source-netsuite/acceptance-test-config.yml
  airbyte-integrations/connectors/source-netsuite/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-netsuite/setup.py
  airbyte-integrations/connectors/source-netsuite/source_netsuite/constraints.py
  airbyte-integrations/connectors/source-netsuite/source_netsuite/errors.py
  airbyte-integrations/connectors/source-netsuite/source_netsuite/source.py
  airbyte-integrations/connectors/source-netsuite/source_netsuite/streams.py
Labels: area/connectors, connectors/source/netsuite

#20943 🪟 🧹 Remove <StartWithDestination /> Component
  airbyte-webapp/src/components/destination/DestinationForm/DestinationForm.module.scss
  airbyte-webapp/src/components/destination/DestinationForm/DestinationForm.tsx
  airbyte-webapp/src/hooks/services/Experiment/experiments.ts
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/views/Connector/ConnectorForm/components/StartWithDestination/StartWithDestination.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/StartWithDestination/StartWithDestinationCard.module.scss
  airbyte-webapp/src/views/Connector/ConnectorForm/components/StartWithDestination/StartWithDestinationCard.test.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/StartWithDestination/StartWithDestinationCard.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/StartWithDestination/__snapshots__/StartWithDestinationCard.test.tsx.snap
  airbyte-webapp/src/views/Connector/ConnectorForm/components/StartWithDestination/index.stories.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/StartWithDestination/index.ts
  airbyte-webapp/src/views/Connector/ConnectorForm/index.tsx
Labels: area/platform, team/frontend, team/growth

#20944 🪟🧹 Introduce flex component
  airbyte-webapp/src/components/CreateConnection/CreateConnectionNameField.tsx
  airbyte-webapp/src/components/CreateConnection/DataResidency.module.scss
  airbyte-webapp/src/components/CreateConnection/DataResidency.tsx
  airbyte-webapp/src/components/ui/Flex/Flex.stories.tsx
  airbyte-webapp/src/components/ui/Flex/FlexContainer.module.scss
  airbyte-webapp/src/components/ui/Flex/FlexContainer.tsx
  airbyte-webapp/src/components/ui/Flex/FlexItem.module.scss
  airbyte-webapp/src/components/ui/Flex/FlexItem.tsx
  airbyte-webapp/src/components/ui/Flex/index.ts
  airbyte-webapp/src/views/Connection/ConnectionForm/ConnectionForm.module.scss
  airbyte-webapp/src/views/Connection/ConnectionForm/ConnectionFormFields.module.scss
  airbyte-webapp/src/views/Connection/ConnectionForm/ConnectionFormFields.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/ScheduleField/ScheduleField.module.scss
  airbyte-webapp/src/views/Connection/ConnectionForm/ScheduleField/ScheduleField.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/components/NamespaceDefinitionField.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/components/NonBreakingChangesPreferenceField.module.scss
  airbyte-webapp/src/views/Connection/ConnectionForm/components/NonBreakingChangesPreferenceField.tsx
Labels: area/platform, team/frontend

#20986 🪟 🐛 Show correct page header for creating connection from connector page
  airbyte-webapp/src/pages/ConnectionPage/pages/CreationFormPage/CreationFormPage.tsx
Labels: area/platform, team/frontend

#20980 🪟 🎨 Update modal overlay color to use new theme
  airbyte-webapp/src/components/ui/Overlay/Overlay.module.scss
Labels: area/platform, team/frontend

#20752 🪟 🎨 Fixed wrong color on hover "Cancel" sync button
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionStatusTab.module.scss
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionStatusTab.tsx
Labels: type/bug, area/frontend, area/platform, team/platform-workflow, team/frontend

#20662 Source Amazon Ads: fix bug with handling: "Report date is too far in the past."
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-ads/Dockerfile
  airbyte-integrations/connectors/source-amazon-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amazon-ads/setup.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/source.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/report_streams/report_streams.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/test_source.py
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, area/connectors, connectors/source/amazon-ads

#20377 🪟 🐛 Connection Name styles match other fields on Connection create
  airbyte-webapp/src/components/CreateConnection/CreateConnectionNameField.module.scss
  airbyte-webapp/src/components/CreateConnection/CreateConnectionNameField.tsx
  airbyte-webapp/src/components/CreateConnection/__snapshots__/CreateConnectionForm.test.tsx.snap
Labels: area/platform, team/frontend

#21021 Re-authenticating using the modern flow correcly sets form as dirty
  airbyte-webapp/src/views/Connector/ConnectorForm/components/Sections/auth/useOauthFlowAdapter.tsx
Labels: area/platform, team/frontend

#21012 Source File: Fix special characters bug
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-file-secure/Dockerfile
  airbyte-integrations/connectors/source-file/Dockerfile
  airbyte-integrations/connectors/source-file/integration_tests/conftest.py
  airbyte-integrations/connectors/source-file/integration_tests/docker-compose.yml
  airbyte-integrations/connectors/source-file/source_file/client.py
  docs/integrations/sources/file.md
Labels: area/documentation, area/connectors, connectors/source/file, connectors/source/file-secure

#20996 Source Monday: fix schema loader; delete old files
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-monday/Dockerfile
  airbyte-integrations/connectors/source-monday/source_monday/__init__.py
  airbyte-integrations/connectors/source-monday/source_monday/graphql_request_options_provider.py
  airbyte-integrations/connectors/source-monday/source_monday/monday.yaml
  airbyte-integrations/connectors/source-monday/source_monday/source.py
  airbyte-integrations/connectors/source-monday/source_monday/source_lc.py
  airbyte-integrations/connectors/source-monday/unit_tests/conftest.py
  airbyte-integrations/connectors/source-monday/unit_tests/test_source.py
  docs/integrations/sources/monday.md
Labels: area/documentation, area/connectors, connectors/source/monday

#20927 Source Salesforce: fix tests
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-salesforce/Dockerfile
  airbyte-integrations/connectors/source-salesforce/acceptance-test-config.yml
  airbyte-integrations/connectors/source-salesforce/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-salesforce/source_salesforce/api.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors, connectors/source/salesforce

#20737 🪟 🐛 🧹 Fix issues with Button component
  airbyte-webapp/src/components/ui/Button/Button.module.scss
  airbyte-webapp/src/components/ui/Button/Button.tsx
  airbyte-webapp/src/components/ui/Button/index.stories.tsx
Labels: area/platform, team/frontend

#21033 Remove config repo dependency for getStatus
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/ConfigFetchActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/ConfigFetchActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/sync/SyncWorkflowTest.java
Labels: area/worker, area/platform

#20998 :window: :art: Connector Builder UI: Rename offset pagination fields
  airbyte-webapp/src/components/connectorBuilder/Builder/PaginationSection.tsx
Labels: area/platform, team/frontend

#20908 remove config repository from config fetch activity impl scheduling
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/ConfigFetchActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/ConfigFetchActivityTest.java
Labels: area/worker, area/platform

#21046 Refactor code to avoid missing check
  airbyte-commons/src/main/java/io/airbyte/commons/features/FeatureFlagHelper.java
  airbyte-commons/src/test/java/io/airbyte/commons/features/FeatureFlagHelperTest.java
  airbyte-container-orchestrator/src/main/java/io/airbyte/container_orchestrator/orchestrator/ReplicationJobOrchestrator.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/ReplicationActivityImpl.java
Labels: area/worker, area/platform

#20785 New Desination: Heap Analytics [python cdk]
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-heap-analytics/.dockerignore
  airbyte-integrations/connectors/destination-heap-analytics/Dockerfile
  airbyte-integrations/connectors/destination-heap-analytics/README.md
  airbyte-integrations/connectors/destination-heap-analytics/bootstramp.md
  airbyte-integrations/connectors/destination-heap-analytics/build.gradle
  airbyte-integrations/connectors/destination-heap-analytics/destination_heap_analytics/__init__.py
  airbyte-integrations/connectors/destination-heap-analytics/destination_heap_analytics/client.py
  airbyte-integrations/connectors/destination-heap-analytics/destination_heap_analytics/destination.py
  airbyte-integrations/connectors/destination-heap-analytics/destination_heap_analytics/spec.json
  airbyte-integrations/connectors/destination-heap-analytics/destination_heap_analytics/utils.py
  airbyte-integrations/connectors/destination-heap-analytics/integration_tests/integration_test.py
  airbyte-integrations/connectors/destination-heap-analytics/integration_tests/invalid_config.json
  airbyte-integrations/connectors/destination-heap-analytics/main.py
  airbyte-integrations/connectors/destination-heap-analytics/requirements.txt
  airbyte-integrations/connectors/destination-heap-analytics/sample_files/config-aap.json
  airbyte-integrations/connectors/destination-heap-analytics/sample_files/config-aup.json
  airbyte-integrations/connectors/destination-heap-analytics/sample_files/config-events.json
  airbyte-integrations/connectors/destination-heap-analytics/sample_files/configured_catalog.json
  airbyte-integrations/connectors/destination-heap-analytics/sample_files/messages.jsonl
  airbyte-integrations/connectors/destination-heap-analytics/setup.py
  airbyte-integrations/connectors/destination-heap-analytics/unit_tests/test_client.py
  airbyte-integrations/connectors/destination-heap-analytics/unit_tests/test_parse_json.py
  airbyte-integrations/connectors/destination-heap-analytics/unit_tests/test_utils.py
  airbyte-integrations/connectors/destination-heap-analytics/unit_tests/unit_test.py
  docs/integrations/destinations/heap-analytics.md
Labels: area/documentation, area/connectors, community, bounty, bounty-XL, connectors/destination/heap-analytics

#21004 📝 Add warning for working with local files and Docker Desktop (`/tmp` and `/private`)
  docs/integrations/destinations/local-csv.md
  docs/integrations/destinations/local-json.md
  docs/integrations/destinations/sqlite.md
  docs/integrations/sources/file.md
  docs/operator-guides/browsing-output-logs.md
  docs/quickstart/getting-started.md
Labels: area/documentation

#20816 🪟🎉 Connector builder: Add copy to/from stream buttons
  airbyte-webapp/src/components/connectorBuilder/Builder/Builder.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderCard.module.scss
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderCard.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderConfigView.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/PaginationSection.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/StreamConfigView.module.scss
  airbyte-webapp/src/components/connectorBuilder/Builder/StreamConfigView.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/StreamSlicerSection.tsx
  airbyte-webapp/src/locales/en.json
Labels: area/platform, team/frontend, ui/connector-builder

#20810 Source Harvest: skip FORBIDDEN for EstimateItemCategories stream
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-harvest/Dockerfile
  airbyte-integrations/connectors/source-harvest/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-harvest/source_harvest/streams.py
  docs/integrations/sources/harvest.md
Labels: area/documentation, area/connectors, connectors/source/harvest

#20862 🪟🎉 Connector builder: Add manual schema
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderConfigView.module.scss
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderOptional.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/StreamConfigView.module.scss
  airbyte-webapp/src/components/connectorBuilder/Builder/StreamConfigView.tsx
  airbyte-webapp/src/components/connectorBuilder/types.ts
  airbyte-webapp/src/locales/en.json
Labels: area/platform, team/frontend, ui/connector-builder

#20817 🪟🎨 Connector builder: Always show inputs button
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/ConfigMenu.tsx
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/StreamTestingPanel.module.scss
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/StreamTestingPanel.tsx
Labels: area/platform, team/frontend, ui/connector-builder

#20886 Source Salesforce: remove ActivityMetric stream
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-salesforce/Dockerfile
  airbyte-integrations/connectors/source-salesforce/source_salesforce/api.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/discovery_test.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors, connectors/source/salesforce

#20855 Source google ads: retry transient errors
  airbyte-integrations/connectors/source-google-ads/Dockerfile
  airbyte-integrations/connectors/source-google-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-ads/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/google_ads.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_streams.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, connectors/source/google-ads

#21056 connector-templates: fix typo in `acceptance-test-config.yml.hbs`
  airbyte-integrations/connector-templates/source_acceptance_test_files/acceptance-test-config.yml.hbs
  airbyte-integrations/connectors/source-scaffold-source-http/acceptance-test-config.yml
  airbyte-integrations/connectors/source-scaffold-source-python/acceptance-test-config.yml
Labels: area/connectors, connectors/source/scaffold-source-http, connectors/source/scaffold-source-python

#20605 Utilize React-Lazy for Code Splitting
  airbyte-webapp/src/components/ui/DatePicker/DatePicker.tsx
  airbyte-webapp/src/components/ui/DatePicker/index.ts
  airbyte-webapp/src/packages/cloud/cloudRoutes.tsx
  airbyte-webapp/src/packages/cloud/views/AcceptEmailInvite.tsx
  airbyte-webapp/src/packages/cloud/views/DefaultView.tsx
  airbyte-webapp/src/packages/cloud/views/FirebaseActionRoute.tsx
  airbyte-webapp/src/packages/cloud/views/auth/Auth.tsx
  airbyte-webapp/src/packages/cloud/views/auth/ConfirmPasswordResetPage/index.tsx
  airbyte-webapp/src/packages/cloud/views/auth/LoginPage/LoginPage.tsx
  airbyte-webapp/src/packages/cloud/views/auth/LoginPage/index.tsx
  airbyte-webapp/src/packages/cloud/views/auth/ResetPasswordPage/index.tsx
  airbyte-webapp/src/packages/cloud/views/auth/SignupPage/index.tsx
  airbyte-webapp/src/packages/cloud/views/auth/components/PersonQuoteCover/index.tsx
  airbyte-webapp/src/packages/cloud/views/auth/index.tsx
  airbyte-webapp/src/packages/cloud/views/credits/index.tsx
  airbyte-webapp/src/packages/cloud/views/settings/CloudSettingsPage.tsx
  airbyte-webapp/src/packages/cloud/views/workspaces/index.tsx
  airbyte-webapp/src/pages/ConnectionPage/ConnectionPage.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionItemPage.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/CreationFormPage/CreationFormPage.tsx
  airbyte-webapp/src/pages/ConnectorBuilderPage/ConnectorBuilderPage.tsx
  airbyte-webapp/src/pages/SourcesPage/SourcesPage.tsx
  airbyte-webapp/src/pages/SpeakeasyRedirectPage/index.tsx
  airbyte-webapp/src/pages/destination/AllDestinationsPage/index.tsx
  airbyte-webapp/src/pages/destination/DestinationItemPage/index.tsx
  airbyte-webapp/src/pages/destination/DestinationOverviewPage.tsx
  airbyte-webapp/src/pages/destination/DestinationSettingsPage/index.ts
  airbyte-webapp/src/pages/routes.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/Property/Control.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/Sections/PropertySection.tsx
Labels: area/platform, team/frontend, ui/performance

#21057 Source Facebook Marketing: Remove extra properties
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/streams.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing

#20993 Common Jsons: add flag to apply flatten to arrays
  airbyte-commons/src/main/java/io/airbyte/commons/json/Jsons.java
  airbyte-commons/src/test/java/io/airbyte/commons/json/JsonsTest.java
  airbyte-integrations/connectors/destination-redshift/Dockerfile
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/operations/RedshiftSqlOperations.java
  docs/integrations/destinations/redshift.md
Labels: area/documentation, area/connectors, connectors/destination/redshift

#20600 Source CoinAPI - add quote stream to coin api
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-coin-api/Dockerfile
  airbyte-integrations/connectors/source-coin-api/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-coin-api/source_coin_api/coin_api.yaml
  airbyte-integrations/connectors/source-coin-api/source_coin_api/schemas/quotes_historical_data.json
  docs/integrations/sources/coin-api.md
Labels: area/documentation, area/connectors, community, bounty, bounty-M, connectors/source/coin-api

#20564 Source AlphaVantage - add quote stream to alpha-vantage
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-alpha-vantage/Dockerfile
  airbyte-integrations/connectors/source-alpha-vantage/acceptance-test-config.yml
  airbyte-integrations/connectors/source-alpha-vantage/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-alpha-vantage/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-alpha-vantage/source_alpha_vantage/alpha_vantage.yaml
  airbyte-integrations/connectors/source-alpha-vantage/source_alpha_vantage/schemas/quote.json
  airbyte-integrations/connectors/source-alpha-vantage/source_alpha_vantage/spec.yaml
  docs/integrations/sources/alpha-vantage.md
Labels: area/documentation, area/connectors, community, bounty, bounty-M, connectors/source/alpha-vantage

#21026 🪟 🐛 Remove unneeded scrollbar on Notification Settings page
  airbyte-webapp/src/pages/SettingsPage/pages/NotificationPage/components/WebHookForm.module.scss
Labels: area/platform, team/frontend

#21037 🪟 🔧 Update caniuse-lite dependency in webapp
  airbyte-webapp/package-lock.json
Labels: area/platform, team/frontend

#21070 Fix babelforce doc title (and navigation)
  docs/integrations/sources/babelforce.md
Labels: area/documentation

#21047 Switch order of namespaces and make Destination Default is the defaul…
  airbyte-webapp/src/components/CreateConnection/__snapshots__/CreateConnectionForm.test.tsx.snap
  airbyte-webapp/src/components/connection/DestinationNamespaceModal/DestinationNamespaceModal.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/components/NamespaceDefinitionField.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/formConfig.tsx
  tools/bin/load_test/connection_spec.json
Labels: area/platform, team/frontend

#20220 New Source: Commcare
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-commcare/.dockerignore
  airbyte-integrations/connectors/source-commcare/Dockerfile
  airbyte-integrations/connectors/source-commcare/README.md
  airbyte-integrations/connectors/source-commcare/acceptance-test-config.yml
  airbyte-integrations/connectors/source-commcare/acceptance-test-docker.sh
  airbyte-integrations/connectors/source-commcare/build.gradle
  airbyte-integrations/connectors/source-commcare/integration_tests/__init__.py
  airbyte-integrations/connectors/source-commcare/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-commcare/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-commcare/integration_tests/catalog.json
  airbyte-integrations/connectors/source-commcare/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-commcare/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-commcare/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-commcare/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-commcare/main.py
  airbyte-integrations/connectors/source-commcare/requirements.txt
  airbyte-integrations/connectors/source-commcare/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-commcare/setup.py
  airbyte-integrations/connectors/source-commcare/source_commcare/__init__.py
  airbyte-integrations/connectors/source-commcare/source_commcare/schemas/TODO.md
  airbyte-integrations/connectors/source-commcare/source_commcare/source.py
  airbyte-integrations/connectors/source-commcare/source_commcare/spec.yaml
  airbyte-integrations/connectors/source-commcare/unit_tests/__init__.py
  airbyte-integrations/connectors/source-commcare/unit_tests/test_source.py
  docs/integrations/sources/commcare.md
Labels: area/documentation, area/connectors, community, bounty, bounty-XL, connectors/source/commcare

#21079 Anne/re add changes
  airbyte-api/src/main/openapi/config.yaml
  airbyte-config/config-models/src/main/resources/types/ActorCatalogWithUpdatedAt.yaml
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/DbConverter.java
  airbyte-server/src/main/java/io/airbyte/server/apis/SourceApiController.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SourceHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/WebBackendConnectionsHandlerTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/RefreshSchemaActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/RefreshSchemaActivityTest.java
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api, area/worker, area/platform, area/server

#20861 🪟🎉 Connector builder: Substream slicer and cartesian slicer
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/components/connectorBuilder/Builder/AddStreamButton.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderList.module.scss
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderList.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderOneOf.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/KeyValueListField.module.scss
  airbyte-webapp/src/components/connectorBuilder/Builder/KeyValueListField.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/RemoveButton.module.scss
  airbyte-webapp/src/components/connectorBuilder/Builder/RemoveButton.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/StreamReferenceField.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/StreamSlicerSection.tsx
  airbyte-webapp/src/components/connectorBuilder/types.ts
  airbyte-webapp/src/locales/en.json
Labels: area/platform, team/frontend, ui/connector-builder

#21048 Remove workspace helper from fetchConfigActivity
  airbyte-workers/src/main/java/io/airbyte/workers/config/ApiClientBeanFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionNotificationWorkflowImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/ConfigFetchActivity.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/ConfigFetchActivityImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/ConnectionNotificationWorkflowTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/temporal/scheduling/activities/ConfigFetchActivityTest.java
Labels: area/worker, area/platform

#21083 Publish new version of destination-redshift
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  docs/integrations/destinations/redshift.md
Labels: area/documentation

#20937 Progress Bar Read APIs
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/DefaultJobPersistence.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/JobPersistence.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/models/Attempt.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/DefaultJobPersistenceTest.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/models/AttemptTest.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/models/JobTest.java
  airbyte-server/src/main/java/io/airbyte/server/converters/JobConverter.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/JobHistoryHandler.java
  airbyte-server/src/test/java/io/airbyte/server/converters/JobConverterTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/JobHistoryHandlerTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityImpl.java
Labels: area/worker, area/platform, area/server

#21045 Rm temporal version
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/test/resources/connectionManagerWorkflowHistory.json
Labels: area/worker, area/platform

#20983 🪟🎉 Connector builder: Available inputs dropdown
  airbyte-webapp/src/components/connectorBuilder/Builder/AuthenticationSection.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderField.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderFieldWithInputs.module.scss
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderFieldWithInputs.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/InjectRequestOptionFields.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/InputsForm.module.scss
  airbyte-webapp/src/components/connectorBuilder/Builder/InputsForm.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/InputsView.module.scss
  airbyte-webapp/src/components/connectorBuilder/Builder/InputsView.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/KeyValueListField.module.scss
  airbyte-webapp/src/components/connectorBuilder/Builder/KeyValueListField.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/PaginationSection.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/StreamConfigView.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/StreamSlicerSection.tsx
  airbyte-webapp/src/components/ui/Input/Input.tsx
  airbyte-webapp/src/components/ui/ListBox/ListBox.tsx
  airbyte-webapp/src/locales/en.json
Labels: area/platform, team/frontend, ui/connector-builder

#21059 🪟🐛 Connector form: Fill in all default values on oneOf switch
  airbyte-webapp/src/views/Connector/ConnectorForm/components/Sections/ConditionSection.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/useBuildForm.tsx
Labels: area/platform, team/extensibility, team/frontend, ui/connectors

#20416 🐛Source Freshdesk: Fix schema types
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-freshdesk/Dockerfile
  airbyte-integrations/connectors/source-freshdesk/acceptance-test-config.yml
  airbyte-integrations/connectors/source-freshdesk/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-freshdesk/setup.py
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/schemas/sla_policies.json
  docs/integrations/sources/freshdesk.md
Labels: area/documentation, area/connectors, connectors/source/freshdesk

#20941 CDK: Add schema inferrer class
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/utils/__init__.py
  airbyte-cdk/python/airbyte_cdk/utils/schema_inferrer.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/utils/test_schema_inferrer.py
Labels: CDK

#21105 Source Facebook Marketing: Docs update
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation

#21082 Source Amazon Ads: fix bug with handling: "Report date is too far in the past." (partial revert of #20662)
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-ads/Dockerfile
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/source.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/test_source.py
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, area/connectors, connectors/source/amazon-ads

#21115 Revert "Progress Bar Read APIs (#20937)"
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/DefaultJobPersistence.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/JobPersistence.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/models/Attempt.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/DefaultJobPersistenceTest.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/models/AttemptTest.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/models/JobTest.java
  airbyte-server/src/main/java/io/airbyte/server/converters/JobConverter.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/JobHistoryHandler.java
  airbyte-server/src/test/java/io/airbyte/server/converters/JobConverterTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/JobHistoryHandlerTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityImpl.java
Labels: area/worker, area/platform, area/server

#20724 mount data plane credentials secret to container orchestrator
  airbyte-commons-worker/src/main/java/io/airbyte/workers/ContainerOrchestratorConfig.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/process/AsyncOrchestratorPodProcess.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/sync/LauncherWorker.java
  airbyte-workers/src/main/java/io/airbyte/workers/config/ContainerOrchestratorConfigBeanFactory.java
  airbyte-workers/src/main/resources/application.yml
  airbyte-workers/src/test-integration/java/io/airbyte/workers/process/AsyncOrchestratorPodProcessIntegrationTest.java
Labels: area/worker, area/platform

#21111 Remove unneeded margin top and bottom
  airbyte-webapp/src/components/connection/CatalogTree/StreamHeader.module.scss
Labels: area/frontend, area/platform, team/platform-workflow, team/frontend

#19811 feat(Platform): update actor configuration when receiving control messages from connectors during sync
  airbyte-commons-worker/build.gradle
  airbyte-commons-worker/src/main/java/io/airbyte/workers/ContainerOrchestratorConfig.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/WorkerUtils.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/config/ApiClientBeanFactory.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/general/DefaultReplicationWorker.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/helper/ConnectorConfigUpdater.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/internal/DefaultAirbyteDestination.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/internal/DefaultAirbyteSource.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/internal/book_keeping/AirbyteMessageTracker.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/process/AsyncOrchestratorPodProcess.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/sync/LauncherWorker.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/test_utils/AirbyteMessageUtils.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/test_utils/TestConfigHelpers.java
  airbyte-commons-worker/src/test/java/io/airbyte/workers/general/DefaultReplicationWorkerTest.java
  airbyte-commons-worker/src/test/java/io/airbyte/workers/general/ReplicationWorkerPerformanceTest.java
  airbyte-commons-worker/src/test/java/io/airbyte/workers/helper/ConnectorConfigUpdaterTest.java
  airbyte-config/config-models/src/main/resources/types/StandardSyncInput.yaml
  airbyte-config/config-models/src/main/resources/types/WorkerDestinationConfig.yaml
  airbyte-config/config-models/src/main/resources/types/WorkerSourceConfig.yaml
  airbyte-container-orchestrator/src/main/java/io/airbyte/container_orchestrator/config/ContainerOrchestratorFactory.java
  airbyte-container-orchestrator/src/main/java/io/airbyte/container_orchestrator/orchestrator/ReplicationJobOrchestrator.java
  airbyte-container-orchestrator/src/main/resources/application.yml
  airbyte-container-orchestrator/src/test/java/io/airbyte/container_orchestrator/config/ContainerOrchestratorFactoryTest.java
  airbyte-container-orchestrator/src/test/resources/application.yml
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/factory/OAuthConfigSupplier.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/factory/OAuthConfigSupplierTest.java
  airbyte-server/src/main/java/io/airbyte/server/ServerApp.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/DestinationHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SourceHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/DestinationHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/SourceHandlerTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/config/ContainerOrchestratorConfigBeanFactory.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/GenerateInputActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/ReplicationActivityImpl.java
  airbyte-workers/src/main/resources/application.yml
  airbyte-workers/src/test-integration/java/io/airbyte/workers/process/AsyncOrchestratorPodProcessIntegrationTest.java
Labels: area/worker, area/platform, area/server

#20182 🐛Source Looker: Fix schema transformation issue
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-looker/Dockerfile
  airbyte-integrations/connectors/source-looker/README.md
  airbyte-integrations/connectors/source-looker/source_looker/spec.json
  airbyte-integrations/connectors/source-looker/source_looker/streams.py
  airbyte-integrations/connectors/source-looker/unit_tests/unit_test.py
  airbyte-webapp/src/core/domain/connector/constants.ts
  docs/integrations/sources/looker.md
Labels: area/documentation, area/connectors, area/platform, connectors/source/looker, team/frontend

#20717 [ISSUE #20322] add datetime_granularity logic to DatetimeStreamSlicer…
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/models/declarative_component_schema.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/stream_slicers/datetime_stream_slicer.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/declarative/retrievers/test_simple_retriever.py
  airbyte-cdk/python/unit_tests/sources/declarative/stream_slicers/test_cartesian_product_stream_slicer.py
  airbyte-cdk/python/unit_tests/sources/declarative/stream_slicers/test_datetime_stream_slicer.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_factory.py
  airbyte-integrations/bases/source-acceptance-test/source_acceptance_test/tests/test_incremental.py
  airbyte-integrations/connectors/source-braze/source_braze/braze.yaml
  airbyte-integrations/connectors/source-braze/unit_tests/test_datetime_slicer.py
  airbyte-integrations/connectors/source-callrail/source_callrail/callrail.yaml
  airbyte-integrations/connectors/source-close-com/source_close_com/close_com.yaml
  airbyte-integrations/connectors/source-coin-api/source_coin_api/coin_api.yaml
  airbyte-integrations/connectors/source-coingecko-coins/source_coingecko_coins/coingecko_coins.yaml
  airbyte-integrations/connectors/source-datascope/acceptance-test-config.yml
  airbyte-integrations/connectors/source-datascope/source_datascope/datascope.yaml
  airbyte-integrations/connectors/source-delighted/source_delighted/delighted.yaml
  airbyte-integrations/connectors/source-gnews/source_gnews/gnews.yaml
  airbyte-integrations/connectors/source-mailersend/source_mailersend/mailersend.yaml
  airbyte-integrations/connectors/source-nytimes/acceptance-test-config.yml
  airbyte-integrations/connectors/source-nytimes/source_nytimes/nytimes.yaml
  airbyte-integrations/connectors/source-posthog/source_posthog/posthog.yaml
  airbyte-integrations/connectors/source-posthog/unit_tests/test_components.py
  airbyte-integrations/connectors/source-prestashop/source_prestashop/prestashop.yaml
  airbyte-integrations/connectors/source-punk-api/source_punk_api/punk_api.yaml
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/sendgrid.yaml
  airbyte-integrations/connectors/source-senseforce/source_senseforce/senseforce.yaml
  airbyte-integrations/connectors/source-square/source_square/square.yaml
  airbyte-integrations/connectors/source-square/unit_tests/test_component.py
  airbyte-integrations/connectors/source-tempo/source_tempo/tempo.yaml
  airbyte-integrations/connectors/source-the-guardian-api/acceptance-test-config.yml
  airbyte-integrations/connectors/source-the-guardian-api/source_the_guardian_api/the_guardian_api.yaml
  airbyte-integrations/connectors/source-tvmaze-schedule/source_tvmaze_schedule/tvmaze_schedule.yaml
  airbyte-integrations/connectors/source-twitter/source_twitter/twitter.yaml
  airbyte-integrations/connectors/source-wikipedia-pageviews/source_wikipedia_pageviews/wikipedia_pageviews.yaml
  airbyte-integrations/connectors/source-woocommerce/source_woocommerce/components.py
  airbyte-integrations/connectors/source-woocommerce/source_woocommerce/woocommerce.yaml
  airbyte-integrations/connectors/source-zenloop/source_zenloop/zenloop.yaml
  docs/connector-development/config-based/understanding-the-yaml-file/stream-slicers.md
Labels: area/documentation, area/connectors, CDK, connectors/source/tempo, connectors/source/delighted, connectors/source/close-com, connectors/source/posthog, connectors/source/prestashop, connectors/source/sendgrid, connectors/source/square, connectors/source/zenloop, connectors/source/woocommerce, connectors/source/datascope, connectors/source/braze, connectors/source/twitter, connectors/source/waiteraid, connectors/source/coingecko-coins, connectors/source/coin-api, connectors/source/tvmaze-schedule, connectors/source/wikipedia-pageviews, connectors/source/the-guardian-api, connectors/source/mailersend, connectors/source/punk-api, connectors/source/callrail, connectors/source/nytimes, connectors/source/senseforce, connectors/source/gnews

#20767 Source Slack: update schema; data from openapi spec
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-slack/Dockerfile
  airbyte-integrations/connectors/source-slack/acceptance-test-config.yml
  airbyte-integrations/connectors/source-slack/source_slack/schemas/channel_messages.json
  docs/integrations/sources/slack.md
Labels: area/documentation, area/connectors, connectors/source/slack

#21101 🪟🐛 Connector form: Render name as first control in the form
  airbyte-webapp/src/views/Connector/ConnectorForm/useBuildForm.tsx
Labels: area/platform, team/extensibility, team/frontend, ui/connectors

#21084 Source Github: Raise Error if no organizations or repos are available
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-github/Dockerfile
  airbyte-integrations/connectors/source-github/acceptance-test-config.yml
  airbyte-integrations/connectors/source-github/source_github/source.py
  airbyte-integrations/connectors/source-github/unit_tests/test_source.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors, connectors/source/github

#21108 🪟 🐛 🎨 Fix stream table icon checkboxes and icons
  airbyte-webapp/src/components/CreateConnection/__snapshots__/CreateConnectionForm.test.tsx.snap
  airbyte-webapp/src/components/connection/CatalogTree/CatalogTreeHeader.module.scss
  airbyte-webapp/src/components/connection/CatalogTree/StreamHeader.module.scss
  airbyte-webapp/src/components/connection/CatalogTree/StreamHeader.tsx
  airbyte-webapp/src/components/connection/CatalogTree/next/CatalogTreeTableRow.module.scss
  airbyte-webapp/src/components/connection/CatalogTree/next/CatalogTreeTableRowIcon.module.scss
  airbyte-webapp/src/components/connection/CatalogTree/next/CatalogTreeTableRowIcon.tsx
  airbyte-webapp/src/components/connection/CatalogTree/next/useCatalogTreeTableRowProps.tsx
  airbyte-webapp/src/components/icons/MinusIcon.tsx
  airbyte-webapp/src/components/icons/ModificationIcon.tsx
  airbyte-webapp/src/components/icons/PlusIcon.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/__snapshots__/ConnectionReplicationTab.test.tsx.snap
Labels: area/platform, team/frontend

#20759 Use explicit configuration for Micronaut endpoints
  airbyte-container-orchestrator/src/main/resources/application.yml
  airbyte-cron/src/main/resources/application.yml
  airbyte-workers/src/main/java/io/airbyte/workers/controller/HeartbeatController.java
  airbyte-workers/src/main/resources/application.yml
Labels: area/worker, area/platform

#20894 process config control messages during `check` and `discover`
  airbyte-api/src/main/openapi/config.yaml
  airbyte-commons-temporal/src/main/java/io/airbyte/commons/temporal/TemporalClient.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/WorkerUtils.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/general/DefaultCheckConnectionWorker.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/general/DefaultDiscoverCatalogWorker.java
  airbyte-config/config-models/src/main/resources/types/JobCheckConnectionConfig.yaml
  airbyte-config/config-models/src/main/resources/types/StandardCheckConnectionInput.yaml
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/DestinationAcceptanceTest.java
  airbyte-integrations/bases/standard-source-test/src/main/java/io/airbyte/integrations/standardtest/source/AbstractSourceConnectorTest.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SchedulerHandler.java
  airbyte-server/src/main/java/io/airbyte/server/scheduler/DefaultSynchronousSchedulerClient.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/SchedulerHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/scheduler/DefaultSynchronousSchedulerClientTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/check/connection/CheckConnectionActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/discover/catalog/DiscoverCatalogActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
  airbyte-workers/src/test/java/io/airbyte/workers/general/DefaultCheckConnectionWorkerTest.java
  airbyte-workers/src/test/java/io/airbyte/workers/general/DefaultDiscoverCatalogWorkerTest.java
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api, area/worker, area/platform, area/server

#20957 🪟🧹 Connector builder: Fast fields performance improvements
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderField.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderFieldWithInputs.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderOneOf.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderSidebar.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/InputsForm.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/InputsView.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/KeyValueListField.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/StreamConfigView.tsx
  airbyte-webapp/src/components/connectorBuilder/types.ts
  airbyte-webapp/src/pages/ConnectorBuilderPage/ConnectorBuilderPage.tsx
  airbyte-webapp/src/services/connectorBuilder/ConnectorBuilderStateService.tsx
Labels: area/platform, team/frontend, ui/connector-builder

#21126 In Cloud, out of date connectors call always returns 0
  airbyte-webapp/src/services/connector/ConnectorService.ts
  airbyte-webapp/src/utils/app.ts
Labels: area/platform, team/frontend

#21085 Move hadoop-lzo to test dependency
  airbyte-integrations/bases/base-java-s3/build.gradle
  airbyte-integrations/connectors/destination-s3/build.gradle
Labels: area/connectors, connectors/destination/s3

#21129 Update Connector Builder docs to reflect configuration UI additions
  docs/connector-development/config-based/assets/lowcode_annotated_test_pane.png
  docs/connector-development/config-based/assets/lowcode_app_landing_screen.png
  docs/connector-development/config-based/assets/lowcode_landing_screen.png
  docs/connector-development/config-based/connector-builder-ui.md
Labels: area/documentation

#21103 🐛 Source Google Ads: publish missing `0.2.6`
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-ads/README.md
Labels: area/connectors, connectors/source/google-ads

#21124 Remerge Progress Bar Read API.
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/DefaultJobPersistence.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/JobPersistence.java
  airbyte-persistence/job-persistence/src/main/java/io/airbyte/persistence/job/models/Attempt.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/DefaultJobPersistenceTest.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/models/AttemptTest.java
  airbyte-persistence/job-persistence/src/test/java/io/airbyte/persistence/job/models/JobTest.java
  airbyte-server/src/main/java/io/airbyte/server/converters/JobConverter.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/JobHistoryHandler.java
  airbyte-server/src/test/java/io/airbyte/server/converters/JobConverterTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/JobHistoryHandlerTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/activities/JobCreationAndStatusUpdateActivityImpl.java
Labels: area/worker, area/platform, area/server

#21135 Bump Airbyte version from 0.40.26 to 0.40.27
  .bumpversion.cfg
  .env
  airbyte-bootloader/Dockerfile
  airbyte-connector-builder-server/Dockerfile
  airbyte-connector-builder-server/setup.py
  airbyte-container-orchestrator/Dockerfile
  airbyte-cron/Dockerfile
  airbyte-metrics/reporter/Dockerfile
  airbyte-proxy/Dockerfile
  airbyte-server/Dockerfile
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-workers/Dockerfile
  charts/airbyte-bootloader/Chart.yaml
  charts/airbyte-connector-builder-server/Chart.yaml
  charts/airbyte-cron/Chart.yaml
  charts/airbyte-server/Chart.yaml
  charts/airbyte-temporal/Chart.yaml
  charts/airbyte-webapp/Chart.yaml
  charts/airbyte-worker/Chart.yaml
  charts/airbyte/Chart.yaml
  charts/airbyte/README.md
  docs/operator-guides/upgrading-airbyte.md
  kube/overlays/stable-with-resource-limits/.env
  kube/overlays/stable-with-resource-limits/kustomization.yaml
  kube/overlays/stable/.env
  kube/overlays/stable/kustomization.yaml
  octavia-cli/Dockerfile
  octavia-cli/README.md
  octavia-cli/install.sh
  octavia-cli/setup.py
Labels: area/documentation, area/worker, area/platform, kubernetes, area/server, team/frontend

#21136 add import rule changes for Kotlin code
  docs/contributing-to-airbyte/code-style.md
Labels: area/documentation

#21088 Remove the quarantine status
  airbyte-commons-temporal/src/main/java/io/airbyte/commons/temporal/ConnectionManagerUtils.java
  airbyte-commons-temporal/src/main/java/io/airbyte/commons/temporal/scheduling/ConnectionManagerWorkflow.java
  airbyte-commons-temporal/src/main/java/io/airbyte/commons/temporal/scheduling/state/WorkflowState.java
  airbyte-commons-temporal/src/main/java/io/airbyte/commons/temporal/scheduling/state/listener/WorkflowStateChangedListener.java
  airbyte-commons-temporal/src/test/java/io/airbyte/commons/temporal/TemporalClientTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/scheduling/ConnectionManagerWorkflowImpl.java
Labels: area/worker, area/platform

#21005 normalization: delete supportsDbt and supportsNormalization from DestinationDefinitionSpecificationRead
  airbyte-api/src/main/openapi/config.yaml
  airbyte-server/src/main/java/io/airbyte/server/converters/ApiPojoConverters.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/DestinationDefinitionsHandler.java
  airbyte-server/src/main/java/io/airbyte/server/handlers/SchedulerHandler.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/DestinationDefinitionsHandlerTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/DestinationHandlerTest.java
  airbyte-webapp/src/components/CreateConnection/CreateConnectionForm.test.tsx
  airbyte-webapp/src/components/connection/CatalogTree/BulkHeader.tsx
  airbyte-webapp/src/components/connection/CatalogTree/CatalogSection.tsx
  airbyte-webapp/src/components/connection/CatalogTree/next/BulkEditPanel.test.tsx
  airbyte-webapp/src/components/connection/CatalogTree/next/BulkEditPanel.tsx
  airbyte-webapp/src/hooks/services/ConnectionEdit/ConnectionEditService.test.tsx
  airbyte-webapp/src/hooks/services/ConnectionForm/ConnectionFormService.test.tsx
  airbyte-webapp/src/hooks/services/ConnectionForm/ConnectionFormService.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionReplicationTab.test.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/ConnectionTransformationTab.tsx
  airbyte-webapp/src/pages/ConnectionPage/pages/ConnectionItemPage/StatusMainInfo.test.tsx
  airbyte-webapp/src/test-utils/mock-data/mockDestination.ts
  airbyte-webapp/src/test-utils/mock-data/mockDestinationDefinitionSpecification.ts
  airbyte-webapp/src/views/Connection/ConnectionForm/components/OperationsSection.tsx
  airbyte-webapp/src/views/Connection/ConnectionForm/formConfig.test.ts
  airbyte-webapp/src/views/Connection/ConnectionForm/formConfig.tsx
  docs/reference/api/generated-api-html/index.html
  octavia-cli/integration_tests/test_generate/expected_rendered_yaml/destination_postgres/input_spec.yaml
  octavia-cli/integration_tests/test_generate/expected_rendered_yaml/destination_s3/input_spec.yaml
  octavia-cli/integration_tests/test_generate/expected_rendered_yaml/source_postgres/input_spec.yaml
  octavia-cli/integration_tests/test_generate/test_renderers.py
  octavia-cli/octavia_cli/apply/resources.py
  octavia-cli/octavia_cli/generate/renderers.py
  octavia-cli/unit_tests/test_apply/test_resources.py
  octavia-cli/unit_tests/test_generate/test_renderers.py
Labels: area/documentation, area/api, area/platform, area/server, team/frontend

#21001 Allow for custom requesters to be defined in low-code manifests
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/models/declarative_component_schema.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/declarative/external_component.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_manifest_declarative_source.py
Labels: CDK

#20945 Connector builder server: Adjust readme
  airbyte-connector-builder-server/README.md
Labels: area/connector-builder

#20951 🪟🎨 Connector form: Improve logs look and feel
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/views/Connector/ConnectorCard/ConnectorCard.module.scss
  airbyte-webapp/src/views/Connector/ConnectorCard/ConnectorCard.tsx
  airbyte-webapp/src/views/Connector/ConnectorForm/components/EditControls.module.scss
  airbyte-webapp/src/views/Connector/ConnectorForm/components/EditControls.tsx
Labels: area/platform, team/frontend, ui/connectors

#20889 Source: Google Analytics 4 (GA4) - improve config validation and SAT
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/Dockerfile
  airbyte-integrations/connectors/source-google-analytics-data-api/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-analytics-data-api/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-google-analytics-data-api/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/defaults/custom_reports_schema.json
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/source.py
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/spec.json
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/utils.py
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_source.py
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_streams.py
  docs/integrations/sources/google-analytics-v4.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-data-api

#20999 Simplify messaging for sync canceled jobs
  airbyte-webapp/src/components/JobItem/JobItem.tsx
  airbyte-webapp/src/components/JobItem/components/AttemptDetails.module.scss
  airbyte-webapp/src/components/JobItem/components/AttemptDetails.tsx
  airbyte-webapp/src/components/JobItem/components/ErrorDetails.tsx
  airbyte-webapp/src/components/JobItem/components/JobLogs.tsx
  airbyte-webapp/src/components/JobItem/components/LogsDetails.tsx
  airbyte-webapp/src/components/JobItem/components/MainInfo.module.scss
  airbyte-webapp/src/components/JobItem/components/MainInfo.tsx
  airbyte-webapp/src/components/JobItem/utils.ts
Labels: area/platform, area/frontend

#21165 Fix Master
  airbyte-webapp/src/views/Connector/ConnectorCard/ConnectorCard.tsx
Labels: area/frontend

#21117 allow the cursors and primary keys to be deselected when the sync mode does not require it
  airbyte-server/src/main/java/io/airbyte/server/handlers/helpers/CatalogConverter.java
  airbyte-server/src/test/java/io/airbyte/server/converters/CatalogConverterTest.java
  airbyte-server/src/test/java/io/airbyte/server/handlers/ConnectionsHandlerTest.java
Labels: area/platform, area/server

#20942 Connector builder server: Add inferred schema to read API response
  airbyte-connector-builder-server/connector_builder/generated/models/stream_read.py
  airbyte-connector-builder-server/connector_builder/impl/default_api.py
  airbyte-connector-builder-server/src/main/openapi/openapi.yaml
Labels: area/connector-builder

#20909 New destination: databend (community PR #19815)
  airbyte-config/init/src/main/resources/icons/databend.svg
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/bases/base-normalization/build.gradle
  airbyte-integrations/connectors/destination-databend/.dockerignore
  airbyte-integrations/connectors/destination-databend/Dockerfile
  airbyte-integrations/connectors/destination-databend/README.md
  airbyte-integrations/connectors/destination-databend/build.gradle
  airbyte-integrations/connectors/destination-databend/destination_databend/__init__.py
  airbyte-integrations/connectors/destination-databend/destination_databend/__init__.pyc
  airbyte-integrations/connectors/destination-databend/destination_databend/client.py
  airbyte-integrations/connectors/destination-databend/destination_databend/destination.py
  airbyte-integrations/connectors/destination-databend/destination_databend/spec.json
  airbyte-integrations/connectors/destination-databend/destination_databend/writer.py
  airbyte-integrations/connectors/destination-databend/integration_tests/integration_test.py
  airbyte-integrations/connectors/destination-databend/integration_tests/sample_config.json
  airbyte-integrations/connectors/destination-databend/main.py
  airbyte-integrations/connectors/destination-databend/requirements.txt
  airbyte-integrations/connectors/destination-databend/setup.py
  airbyte-integrations/connectors/destination-databend/unit_tests/test_databend_destination.py
  airbyte-integrations/connectors/destination-databend/unit_tests/test_writer.py
  docs/integrations/destinations/databend.md
Labels: area/documentation, area/connectors, connectors/destination/databend

#21170 Update postgres.md
  docs/integrations/sources/postgres.md
Labels: area/documentation

#21149 Source Facebook Marketing: Update schema ad_account
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-facebook-marketing/Dockerfile
  airbyte-integrations/connectors/source-facebook-marketing/acceptance-test-config.yml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/ad_account.json
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing

#20896 Amazon Seller Partner: Validate connections without orders data
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/Dockerfile
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation, area/connectors, community, connectors/source/amazon-seller-partner, internal

#21151 Source Harvest: Skip 403 FORBIDDEN for all streams
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-harvest/Dockerfile
  airbyte-integrations/connectors/source-harvest/source_harvest/streams.py
  docs/integrations/sources/harvest.md
Labels: area/documentation, area/connectors, connectors/source/harvest

#20765 Source Mailchimp - fix the way request params are built
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-mailchimp/Dockerfile
  airbyte-integrations/connectors/source-mailchimp/acceptance-test-config.yml
  airbyte-integrations/connectors/source-mailchimp/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-mailchimp/integration_tests/configured_catalog_without_email_activities.json
  airbyte-integrations/connectors/source-mailchimp/integration_tests/state.json
  airbyte-integrations/connectors/source-mailchimp/setup.py
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/models/__init__.py
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/models/mailchimp.py
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/source.py
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/spec.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/streams.py
  airbyte-integrations/connectors/source-mailchimp/unit_tests/test_streams.py
  docs/integrations/sources/mailchimp.md
Labels: area/documentation, area/connectors, connectors/source/mailchimp

#21094 Extend connection list filtering
  airbyte-api/src/main/openapi/config.yaml
  airbyte-config/config-persistence/src/main/java/io/airbyte/config/persistence/ConfigRepository.java
  airbyte-config/config-persistence/src/test/java/io/airbyte/config/persistence/ConfigRepositoryE2EReadWriteTest.java
  docs/reference/api/generated-api-html/index.html
Labels: area/documentation, area/api, area/platform

#21174 🪟 🔧 Use jest directly as test runner
  airbyte-webapp/babel.config.js
  airbyte-webapp/jest.config.ts
  airbyte-webapp/package-lock.json
  airbyte-webapp/package.json
  airbyte-webapp/src/setupTests.ts
  airbyte-webapp/src/test-utils/classname-serializer.js
  airbyte-webapp/src/test-utils/mock-data/mockEmpty.js
  airbyte-webapp/src/test-utils/mock-data/mockIdentity.js
  airbyte-webapp/src/test-utils/setup-tests.ts
  airbyte-webapp/src/views/Connection/ConnectionForm/__snapshots__/formConfig.test.ts.snap
Labels: area/frontend

#20474 🪟 🎨 Refining BulkEditPanel component
  airbyte-webapp/src/components/connection/CatalogTree/next/BulkEditPanel.tsx
  airbyte-webapp/src/components/connection/CatalogTree/next/StreamPathSelect.module.scss
  airbyte-webapp/src/components/connection/CatalogTree/next/StreamPathSelect.tsx
  airbyte-webapp/src/components/connection/CatalogTree/next/__snapshots__/BulkEditPanel.test.tsx.snap
  airbyte-webapp/src/components/ui/InfoText/InfoText.module.scss
  airbyte-webapp/src/components/ui/InfoText/InfoText.tsx
  airbyte-webapp/src/components/ui/InfoText/constants.ts
  airbyte-webapp/src/components/ui/InfoText/index.stories.tsx
  airbyte-webapp/src/components/ui/InfoText/index.ts
  airbyte-webapp/src/components/ui/PillSelect/PillButton.module.scss
  airbyte-webapp/src/components/ui/PillSelect/PillSelect.tsx
  airbyte-webapp/src/locales/en.json
Labels: area/platform, area/frontend

#20820 🪟 🔧 Add tests for BulkEditService
  airbyte-webapp/src/hooks/services/BulkEdit/BulkEditService.test.tsx
Labels: area/platform, area/frontend

#21122 Connector builder: E2e tests
  airbyte-webapp-e2e-tests/README.md
  airbyte-webapp-e2e-tests/cypress/commands/connectorBuilder.ts
  airbyte-webapp-e2e-tests/cypress/integration/connectorBuilder.spec.ts
  airbyte-webapp-e2e-tests/cypress/pages/connectorBuilderPage.ts
  airbyte-webapp-e2e-tests/dummy_api.js
  airbyte-webapp-e2e-tests/package.json
  airbyte-webapp/src/components/connectorBuilder/Builder/AddStreamButton.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderCard.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderField.tsx
  airbyte-webapp/src/components/connectorBuilder/Builder/BuilderSidebar.tsx
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/ConfigMenu.tsx
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/ResultDisplay.tsx
  airbyte-webapp/src/components/connectorBuilder/StreamTestingPanel/StreamTestButton.tsx
  tools/bin/e2e_test.sh
Labels: area/frontend

#20935 🎉 Source Airtable: update `releaseStage` to `beta`
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  docs/integrations/sources/airtable.md
Labels: area/documentation

#20844 🪟 🎉 Disable deselection of cursor field/primary key in the UI
  airbyte-webapp/src/components/connection/CatalogTree/CatalogSection.tsx
  airbyte-webapp/src/components/connection/CatalogTree/FieldRow.tsx
  airbyte-webapp/src/components/connection/CatalogTree/StreamFieldTable.tsx
  airbyte-webapp/src/components/connection/CatalogTree/streamConfigHelpers/index.ts
  airbyte-webapp/src/components/connection/CatalogTree/streamConfigHelpers/streamConfigHelpers.test.ts
  airbyte-webapp/src/components/connection/CatalogTree/streamConfigHelpers/streamConfigHelpers.ts
  airbyte-webapp/src/locales/en.json
Labels: area/frontend

#21086 🪟 🔧 Update frontend typing of cloud api response
  airbyte-webapp/src/packages/cloud/lib/domain/cloudWorkspaces/types.ts
Labels: area/frontend

#19344 🪟 🔧 Use CSS Custom Properties for colors
  airbyte-webapp/.stylelintrc
  airbyte-webapp/src/components/connection/CatalogTree/StreamHeader.module.scss
  airbyte-webapp/src/components/connection/CatalogTree/next/StreamDetailsPanel/StreamDetailsPanel.module.scss
  airbyte-webapp/src/components/connection/ConnectionOnboarding/ConnectionOnboarding.module.scss
  airbyte-webapp/src/components/ui/CodeEditor/CodeEditor.tsx
  airbyte-webapp/src/components/ui/Overlay/Overlay.module.scss
  airbyte-webapp/src/components/ui/StatusIcon/CircleLoader.module.scss
  airbyte-webapp/src/components/ui/StatusIcon/CircleLoader.tsx
  airbyte-webapp/src/components/ui/Tooltip/Tooltip.module.scss
  airbyte-webapp/src/components/ui/Tooltip/TooltipTable.module.scss
  airbyte-webapp/src/packages/cloud/views/auth/components/PersonQuoteCover/PersonQuoteCover.module.scss
  airbyte-webapp/src/scss/_colors.scss
  airbyte-webapp/src/scss/_mixins.scss
  airbyte-webapp/src/scss/_theme-light.scss
  airbyte-webapp/src/scss/_variables.scss
  airbyte-webapp/src/scss/export.module.scss
  airbyte-webapp/src/scss/global.scss
  airbyte-webapp/src/theme.ts
  airbyte-webapp/src/views/layout/SideBar/SideBar.module.scss
Labels: area/frontend

#21163 [ISSUE-20322] updating tutorial documentation
  airbyte-cdk/python/airbyte_cdk/sources/declarative/stream_slicers/datetime_stream_slicer.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_factory.py
  docs/connector-development/config-based/tutorial/5-incremental-reads.md
  docs/connector-development/config-based/understanding-the-yaml-file/request-options.md
  docs/connector-development/config-based/understanding-the-yaml-file/stream-slicers.md
Labels: area/documentation, CDK

#21107 Connector builder server: Fix unit tests
  airbyte-connector-builder-server/unit_tests/connector_builder/impl/test_default_api.py
  airbyte-connector-builder-server/unit_tests/connector_builder/impl/test_low_code_cdk_adapter.py
Labels: team/extensibility, area/connector-builder

#21160 Destination connector for teradata vantage (rebased community PR)
  airbyte-config/init/src/main/resources/icons/teradata.svg
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-db/db-lib/build.gradle
  airbyte-db/db-lib/src/main/java/io/airbyte/db/factory/DatabaseDriver.java
  airbyte-integrations/connectors/destination-teradata/.dockerignore
  airbyte-integrations/connectors/destination-teradata/Dockerfile
  airbyte-integrations/connectors/destination-teradata/README.md
  airbyte-integrations/connectors/destination-teradata/build.gradle
  airbyte-integrations/connectors/destination-teradata/src/main/java/io/airbyte/integrations/destination/teradata/TeradataDestination.java
  airbyte-integrations/connectors/destination-teradata/src/main/java/io/airbyte/integrations/destination/teradata/TeradataSqlOperations.java
  airbyte-integrations/connectors/destination-teradata/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-teradata/src/test-integration/java/io/airbyte/integrations/destination/teradata/TeradataDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-teradata/src/test/java/io/airbyte/integrations/destination/teradata/TeradataDestinationTest.java
  docs/integrations/destinations/teradata.md
Labels: area/documentation, area/connectors, connectors/destination/teradata

#21171 convert EnvVariableFeatureFlag to an injected dependency
  airbyte-commons-worker/src/main/java/io/airbyte/workers/internal/DefaultAirbyteSource.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/internal/book_keeping/AirbyteMessageTracker.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/process/AirbyteIntegrationLauncher.java
  airbyte-commons-worker/src/test/java/io/airbyte/workers/general/ReplicationWorkerPerformanceTest.java
  airbyte-commons-worker/src/test/java/io/airbyte/workers/internal/DefaultAirbyteSourceTest.java
  airbyte-commons-worker/src/test/java/io/airbyte/workers/internal/book_keeping/AirbyteMessageTrackerTest.java
  airbyte-commons-worker/src/test/java/io/airbyte/workers/process/AirbyteIntegrationLauncherTest.java
  airbyte-commons/src/main/java/io/airbyte/commons/features/FeatureFlags.java
  airbyte-container-orchestrator/src/main/java/io/airbyte/container_orchestrator/orchestrator/ReplicationJobOrchestrator.java
  airbyte-integrations/bases/standard-destination-test/src/main/java/io/airbyte/integrations/standardtest/destination/DestinationAcceptanceTest.java
  airbyte-integrations/bases/standard-source-test/src/main/java/io/airbyte/integrations/standardtest/source/AbstractSourceConnectorTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/check/connection/CheckConnectionActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/discover/catalog/DiscoverCatalogActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/spec/SpecActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/ReplicationActivityImpl.java
Labels: area/worker, area/platform

#21181 Updated ISO certification date
  docs/operator-guides/security.md
Labels: area/documentation

#17998 🎉 Destination Local CSV: add custom delimiter
  airbyte-config/init/src/main/resources/seed/destination_definitions.yaml
  airbyte-config/init/src/main/resources/seed/destination_specs.yaml
  airbyte-integrations/connectors/destination-csv/Dockerfile
  airbyte-integrations/connectors/destination-csv/src/main/java/io/airbyte/integrations/destination/csv/CsvDestination.java
  airbyte-integrations/connectors/destination-csv/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-csv/src/test-integration/java/io/airbyte/integrations/destination/csv/CsvDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-csv/src/test/java/io/airbyte/integrations/destination/csv/CsvDestinationTest.java
  docs/integrations/destinations/local-csv.md
Labels: area/documentation, area/connectors, connectors/destination/csv

#20745 Update airbyte protocol migration
  airbyte-commons-protocol/src/main/java/io/airbyte/commons/protocol/AirbyteMessageMigrator.java
  airbyte-commons-protocol/src/main/java/io/airbyte/commons/protocol/AirbyteMessageVersionedMigrator.java
  airbyte-commons-protocol/src/main/java/io/airbyte/commons/protocol/AirbyteMessageVersionedMigratorFactory.java
  airbyte-commons-protocol/src/main/java/io/airbyte/commons/protocol/AirbyteProtocolVersionedMigratorFactory.java
  airbyte-commons-protocol/src/main/java/io/airbyte/commons/protocol/ConfiguredAirbyteCatalogMigrator.java
  airbyte-commons-protocol/src/main/java/io/airbyte/commons/protocol/DefaultProtocolSerializer.java
  airbyte-commons-protocol/src/main/java/io/airbyte/commons/protocol/ProtocolSerializer.java
  airbyte-commons-protocol/src/main/java/io/airbyte/commons/protocol/VersionedProtocolSerializer.java
  airbyte-commons-protocol/src/main/java/io/airbyte/commons/protocol/migrations/AirbyteMessageMigration.java
  airbyte-commons-protocol/src/main/java/io/airbyte/commons/protocol/migrations/AirbyteMessageMigrationV1.java
  airbyte-commons-protocol/src/main/java/io/airbyte/commons/protocol/migrations/ConfiguredAirbyteCatalogMigration.java
  airbyte-commons-protocol/src/main/java/io/airbyte/commons/protocol/migrations/ConfiguredAirbyteCatalogMigrationV1.java
  airbyte-commons-protocol/src/main/java/io/airbyte/commons/protocol/migrations/Migration.java
  airbyte-commons-protocol/src/main/java/io/airbyte/commons/protocol/migrations/MigrationContainer.java
  airbyte-commons-protocol/src/test/java/io/airbyte/commons/protocol/AirbyteMessageMigratorMicronautTest.java
  airbyte-commons-protocol/src/test/java/io/airbyte/commons/protocol/AirbyteMessageMigratorTest.java
  airbyte-commons-protocol/src/test/java/io/airbyte/commons/protocol/MigratorsMicronautTest.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/internal/DefaultAirbyteDestination.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/internal/DefaultAirbyteSource.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/internal/VersionedAirbyteMessageBufferedWriter.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/internal/VersionedAirbyteMessageBufferedWriterFactory.java
  airbyte-commons-worker/src/main/java/io/airbyte/workers/internal/VersionedAirbyteStreamFactory.java
  airbyte-commons-worker/src/test/java/io/airbyte/workers/internal/DefaultAirbyteDestinationTest.java
  airbyte-commons-worker/src/test/java/io/airbyte/workers/internal/DefaultAirbyteSourceTest.java
  airbyte-commons-worker/src/test/java/io/airbyte/workers/internal/VersionedAirbyteStreamFactoryTest.java
  airbyte-container-orchestrator/src/main/java/io/airbyte/container_orchestrator/config/ContainerOrchestratorFactory.java
  airbyte-container-orchestrator/src/main/java/io/airbyte/container_orchestrator/orchestrator/ReplicationJobOrchestrator.java
  airbyte-container-orchestrator/src/test/java/io/airbyte/container_orchestrator/config/ContainerOrchestratorFactoryTest.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/check/connection/CheckConnectionActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/discover/catalog/DiscoverCatalogActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/spec/SpecActivityImpl.java
  airbyte-workers/src/main/java/io/airbyte/workers/temporal/sync/ReplicationActivityImpl.java
Labels: area/worker, area/platform

#21215 Source Airtable: fix field names
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-airtable/Dockerfile
  airbyte-integrations/connectors/source-airtable/source_airtable/streams.py
  docs/integrations/sources/airtable.md
Labels: area/documentation, area/connectors, connectors/source/airtable

#21210 Source S3: update block size for json
  airbyte-config/init/src/main/resources/seed/source_definitions.yaml
  airbyte-config/init/src/main/resources/seed/source_specs.yaml
  airbyte-integrations/connectors/source-s3/Dockerfile
  airbyte-integrations/connectors/source-s3/integration_tests/config_minio.json
  airbyte-integrations/connectors/source-s3/integration_tests/spec.json
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/formats/jsonl_parser.py
  airbyte-integrations/connectors/source-s3/source_s3/source_files_abstract/formats/jsonl_spec.py
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3

#21034 🪟 🧹 Custom connectors in Cloud UI updates
  airbyte-webapp/src/locales/en.json
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/components/CreateConnectorModal.module.scss
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/components/CreateConnectorModal.tsx
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/components/ImageCell.module.scss
  airbyte-webapp/src/pages/SettingsPage/pages/ConnectorsPage/components/ImageCell.tsx
  airbyte-webapp/src/views/Connector/ConnectorDocumentationLayout/ConnectorDocumentationLayout.tsx
Labels: area/frontend
