Repository airbytehq/airbyte, pull requests merged in 2024-07, with the labels that each got.

#40593 🎉 Source Shopify: Use latest `CDK` version
  airbyte-integrations/connectors/source-shopify/metadata.yaml
  airbyte-integrations/connectors/source-shopify/poetry.lock
  airbyte-integrations/connectors/source-shopify/pyproject.toml
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/query.py
  airbyte-integrations/connectors/source-shopify/source_shopify/transform.py
  airbyte-integrations/connectors/source-shopify/unit_tests/conftest.py
  airbyte-integrations/connectors/source-shopify/unit_tests/graphql_bulk/test_query.py
  airbyte-integrations/connectors/source-shopify/unit_tests/test_transform.py
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors, connectors/source/shopify

#38316 🚨 🚨 ✨ Source Tik Tok Marketing: Migration to Low-Code
  airbyte-integrations/connectors/source-tiktok-marketing/.coveragerc
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-tiktok-marketing/integration_tests/expected_records2.jsonl
  airbyte-integrations/connectors/source-tiktok-marketing/metadata.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/poetry.lock
  airbyte-integrations/connectors/source-tiktok-marketing/pyproject.toml
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/components/advertiser_ids_partition_router.py
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/components/hourly_datetime_based_cursor.py
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/components/semi_incremental_record_filter.py
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/components/transformations.py
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/manifest.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/ad_groups.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/ads.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/advertiser_ids.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/advertisers.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/audience_reports.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/audiences.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/basic_reports.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/campaigns.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/creative_assets_images.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/creative_assets_music.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/creative_assets_portfolios.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/creative_assets_videos.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/source.py
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/spec.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/streams.py
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/conftest.py
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/integration/advetiser_slices.py
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/integration/config_builder.py
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/integration/test_creative_assets_music.py
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/integration/test_creative_assets_portfolios.py
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/integration/test_reports_hourly.py
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/resource/http/response/ad_groups_reports_hourly.json
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/resource/http/response/ads_reports_hourly.json
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/resource/http/response/advertisers.json
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/resource/http/response/advertisers_reports_hourly.json
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/resource/http/response/campaigns_reports_hourly.json
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/resource/http/response/creative_assets_music.json
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/resource/http/response/creative_assets_portfolios.json
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/streams_test.py
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/test_components.py
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/test_source.py
  airbyte-integrations/connectors/source-tiktok-marketing/unit_tests/unit_test.py
  docs/integrations/sources/tiktok-marketing-migrations.md
  docs/integrations/sources/tiktok-marketing.md
Labels: area/documentation, area/connectors, connectors/source/tiktok-marketing

#40638 Prefer a clustered over primary for initial load of table
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/initialsync/MssqlInitialLoadHandler.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/MssqlSourceTest.java
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, connectors/source/mssql

#40516 [DB-sources] : Improve heartbeat logic
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/db/DbAnalyticsUtils.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/debezium/AirbyteDebeziumHandler.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/debezium/internals/DebeziumRecordIterator.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/kotlin/io/airbyte/cdk/integrations/debezium/internals/DebeziumRecordIteratorTest.kt
  airbyte-integrations/connectors/source-mongodb-v2/build.gradle
  airbyte-integrations/connectors/source-mongodb-v2/metadata.yaml
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresUtils.java
  docs/integrations/sources/mongodb-v2.md
  docs/integrations/sources/mssql.md
  docs/integrations/sources/mysql.md
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, CDK, connectors/source/mssql, connectors/source/mysql, connectors/source/postgres, connectors/source/mongodb-v2

#40201 Destination Redshift: Add generation_id and sync_id
  airbyte-integrations/connectors/destination-redshift/build.gradle
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-redshift/src/main/kotlin/io/airbyte/integrations/destination/redshift/RedshiftDestination.kt
  airbyte-integrations/connectors/destination-redshift/src/main/kotlin/io/airbyte/integrations/destination/redshift/operation/RedshiftStagingStorageOperation.kt
  airbyte-integrations/connectors/destination-redshift/src/main/kotlin/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftDV2Migration.kt
  airbyte-integrations/connectors/destination-redshift/src/main/kotlin/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftDestinationHandler.kt
  airbyte-integrations/connectors/destination-redshift/src/main/kotlin/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftGenerationIdMigration.kt
  airbyte-integrations/connectors/destination-redshift/src/main/kotlin/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGenerator.kt
  airbyte-integrations/connectors/destination-redshift/src/main/kotlin/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftState.kt
  airbyte-integrations/connectors/destination-redshift/src/test-integration/kotlin/io/airbyte/integrations/destination/redshift/typing_deduping/AbstractRedshiftTypingDedupingTest.kt
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync1_cursorchange_expectedrecords_dedup_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync1_cursorchange_expectedrecords_dedup_raw.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync1_expectedrecords_dedup_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync1_expectedrecords_dedup_final2.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync1_expectedrecords_nondedup_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync1_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync1_expectedrecords_raw2.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync1_recordnull_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync1_recordnull_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync2_cursorchange_expectedrecords_incremental_dedup_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync2_cursorchange_expectedrecords_incremental_dedup_raw.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_append_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_append_mixed_meta_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_overwrite_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_overwrite_raw.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync2_expectedrecords_incremental_dedup_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync2_expectedrecords_incremental_dedup_final2.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync2_expectedrecords_incremental_dedup_meta_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync2_expectedrecords_mixed_meta_raw.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync2_expectedrecords_overwrite_raw.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync2_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync2_expectedrecords_raw2.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/sqlgenerator/alltypes_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/sqlgenerator/alltypes_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/sqlgenerator/alltypes_v1v2_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/sqlgenerator/alltypes_v1v2_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/sqlgenerator/incrementaldedup_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/sqlgenerator/json_types_in_string_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/sqlgenerator/mixedcasecolumnname_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/sqlgenerator/nocolumns_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/sqlgenerator/reservedkeywords_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/sqlgenerator/timestampformats_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/sqlgenerator/weirdcolumnnames_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test/resources/typing_deduping_with_cdc.sql
  docs/integrations/destinations/redshift.md
Labels: area/documentation, area/connectors, connectors/destination/redshift

#40499 CDK: Destinations: Backport CDK fixes for redshift
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcDestinationHandler.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcSqlGenerator.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/standardtest/destination/typing_deduping/JdbcSqlGeneratorIntegrationTest.kt
Labels: CDK

#39507 refactor[source-snapchat-marketing]: migrate to low-code
  airbyte-integrations/connectors/source-snapchat-marketing/.coveragerc
  airbyte-integrations/connectors/source-snapchat-marketing/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-snapchat-marketing/integration_tests/abnormal_state_daily.json
  airbyte-integrations/connectors/source-snapchat-marketing/integration_tests/catalog_hourly.json
  airbyte-integrations/connectors/source-snapchat-marketing/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-snapchat-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-snapchat-marketing/metadata.yaml
  airbyte-integrations/connectors/source-snapchat-marketing/poetry.lock
  airbyte-integrations/connectors/source-snapchat-marketing/pyproject.toml
  airbyte-integrations/connectors/source-snapchat-marketing/source_snapchat_marketing/manifest.yaml
  airbyte-integrations/connectors/source-snapchat-marketing/source_snapchat_marketing/schemas/adaccounts.json
  airbyte-integrations/connectors/source-snapchat-marketing/source_snapchat_marketing/schemas/ads.json
  airbyte-integrations/connectors/source-snapchat-marketing/source_snapchat_marketing/schemas/adsquads.json
  airbyte-integrations/connectors/source-snapchat-marketing/source_snapchat_marketing/schemas/basic_stats.json
  airbyte-integrations/connectors/source-snapchat-marketing/source_snapchat_marketing/schemas/campaigns.json
  airbyte-integrations/connectors/source-snapchat-marketing/source_snapchat_marketing/schemas/creatives.json
  airbyte-integrations/connectors/source-snapchat-marketing/source_snapchat_marketing/schemas/media.json
  airbyte-integrations/connectors/source-snapchat-marketing/source_snapchat_marketing/schemas/organizations.json
  airbyte-integrations/connectors/source-snapchat-marketing/source_snapchat_marketing/schemas/segments.json
  airbyte-integrations/connectors/source-snapchat-marketing/source_snapchat_marketing/source.py
  airbyte-integrations/connectors/source-snapchat-marketing/unit_tests/conftest.py
  airbyte-integrations/connectors/source-snapchat-marketing/unit_tests/unit_test.py
  docs/integrations/sources/snapchat-marketing-migrations.md
  docs/integrations/sources/snapchat-marketing.md
Labels: area/documentation, area/connectors, connectors/source/snapchat-marketing

#39473 Destination Snowflake: Storage ops to support refreshes
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/integrations/base/IntegrationRunner.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/kotlin/io/airbyte/integrations/base/destination/typing_deduping/CatalogParser.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/kotlin/io/airbyte/integrations/base/destination/typing_deduping/BaseTypingDedupingTest.kt
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeDestination.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/migrations/SnowflakeAbMetaAndGenIdMigration.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/operation/SnowflakeStagingClient.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/operation/SnowflakeStorageOperation.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeDestinationHandler.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeTestUtils.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/operation/SnowflakeStorageOperationIntegrationTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/AbstractSnowflakeTypingDedupingTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_append_with_new_gen_id_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_overwrite_with_new_gen_id_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_overwrite_with_new_gen_id_raw.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_expectedrecords_with_new_gen_id_raw.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/operation/SnowflakeStagingClientTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/operation/SnowflakeStorageOperationTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGeneratorTest.kt
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, CDK, connectors/source/tempo, connectors/source/close-com, connectors/destination/snowflake, connectors/source/clickup-api

#40662 Enable source-google-analytics-v4 on Cloud, but leave it as archived
  airbyte-integrations/connectors/source-google-analytics-v4-service-account-only/metadata.yaml
Labels: area/connectors, connectors/source/google-analytics-v4-service-acco

#40669 Revert "Enable source-google-analytics-v4 on Cloud, but leave it as archived"
  airbyte-integrations/connectors/source-google-analytics-v4-service-account-only/metadata.yaml
Labels: area/connectors, connectors/source/google-analytics-v4-service-acco

#40677 Update 4-reading-data.md
  docs/connector-development/config-based/tutorial/4-reading-data.md
Labels: area/documentation, community

#40562 🎉 New Source: Clazar
  airbyte-integrations/connectors/source-clazar/README.md
  airbyte-integrations/connectors/source-clazar/__init__.py
  airbyte-integrations/connectors/source-clazar/icon.svg
  airbyte-integrations/connectors/source-clazar/integration_tests/__init__.py
  airbyte-integrations/connectors/source-clazar/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-clazar/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-clazar/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-clazar/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-clazar/main.py
  airbyte-integrations/connectors/source-clazar/metadata.yaml
  airbyte-integrations/connectors/source-clazar/poetry.lock
  airbyte-integrations/connectors/source-clazar/pyproject.toml
  airbyte-integrations/connectors/source-clazar/source_clazar/__init__.py
  airbyte-integrations/connectors/source-clazar/source_clazar/manifest.yaml
  airbyte-integrations/connectors/source-clazar/source_clazar/run.py
  airbyte-integrations/connectors/source-clazar/source_clazar/source.py
  docs/integrations/sources/clazar.md
Labels: area/documentation, area/connectors, community, connectors/source/clazar

#40674 Change docs based on CLI prompt
  docs/connector-development/config-based/tutorial/1-create-source.md
Labels: area/documentation, community

#40590 fix(source-amazon-seller-partner): Add log message when data only accessible to seller accounts, use default start date if provided is older than 2y ago.
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/spec_oss.json
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/pyproject.toml
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/integration/test_report_based_streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_streams.py
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation, area/connectors, connectors/source/amazon-seller-partner

#40239 chore(cdk): Avoid using `time.sleep` in unit tests for backoff of http stream
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/rate_limiting.py
  airbyte-cdk/python/unit_tests/conftest.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/test_http_requester.py
  airbyte-cdk/python/unit_tests/sources/streams/http/requests_native_auth/test_requests_native_auth.py
  airbyte-cdk/python/unit_tests/sources/streams/http/test_http_client.py
  airbyte-cdk/python/unit_tests/utils/test_rate_limiting.py
Labels: CDK, community

#40683 Improve destination snowflake refreshes changelog
  docs/integrations/destinations/snowflake.md
Labels: area/documentation

#40569 ✨ Source Instagram: Migrate MediaInsights and StoryInsights to low-code
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  airbyte-integrations/connectors/source-instagram/pyproject.toml
  airbyte-integrations/connectors/source-instagram/source_instagram/components.py
  airbyte-integrations/connectors/source-instagram/source_instagram/manifest.yaml
  airbyte-integrations/connectors/source-instagram/source_instagram/source.py
  airbyte-integrations/connectors/source-instagram/source_instagram/streams.py
  airbyte-integrations/connectors/source-instagram/unit_tests/integration/request_builder.py
  airbyte-integrations/connectors/source-instagram/unit_tests/integration/test_media.py
  airbyte-integrations/connectors/source-instagram/unit_tests/integration/test_media_insights.py
  airbyte-integrations/connectors/source-instagram/unit_tests/integration/test_story_insights.py
  airbyte-integrations/connectors/source-instagram/unit_tests/records.py
  airbyte-integrations/connectors/source-instagram/unit_tests/resource/http/response/media_children_for_children.json
  airbyte-integrations/connectors/source-instagram/unit_tests/resource/http/response/media_for_carousel_album.json
  airbyte-integrations/connectors/source-instagram/unit_tests/resource/http/response/media_for_children.json
  airbyte-integrations/connectors/source-instagram/unit_tests/resource/http/response/media_for_error_posted_before_business.json
  airbyte-integrations/connectors/source-instagram/unit_tests/resource/http/response/media_for_error_with_wrong_permissions.json
  airbyte-integrations/connectors/source-instagram/unit_tests/resource/http/response/media_for_error_with_wrong_permissions_code_10.json
  airbyte-integrations/connectors/source-instagram/unit_tests/resource/http/response/media_for_general_media.json
  airbyte-integrations/connectors/source-instagram/unit_tests/resource/http/response/media_for_reels.json
  airbyte-integrations/connectors/source-instagram/unit_tests/resource/http/response/media_for_video.json
  airbyte-integrations/connectors/source-instagram/unit_tests/resource/http/response/media_for_video_feed.json
  airbyte-integrations/connectors/source-instagram/unit_tests/resource/http/response/media_insights_for_carousel_album.json
  airbyte-integrations/connectors/source-instagram/unit_tests/resource/http/response/media_insights_for_error_posted_before_business.json
  airbyte-integrations/connectors/source-instagram/unit_tests/resource/http/response/media_insights_for_error_with_wrong_permissions.json
  airbyte-integrations/connectors/source-instagram/unit_tests/resource/http/response/media_insights_for_error_with_wrong_permissions_code_10.json
  airbyte-integrations/connectors/source-instagram/unit_tests/resource/http/response/media_insights_for_general_media.json
  airbyte-integrations/connectors/source-instagram/unit_tests/resource/http/response/media_insights_for_reels.json
  airbyte-integrations/connectors/source-instagram/unit_tests/resource/http/response/media_insights_for_video.json
  airbyte-integrations/connectors/source-instagram/unit_tests/resource/http/response/media_insights_for_video_feed.json
  airbyte-integrations/connectors/source-instagram/unit_tests/resource/http/response/stories_for_story_insights_error_code_10.json
  airbyte-integrations/connectors/source-instagram/unit_tests/resource/http/response/stories_for_story_insights_happy_path.json
  airbyte-integrations/connectors/source-instagram/unit_tests/resource/http/response/story_insights_for_story_insights_error_code_10.json
  airbyte-integrations/connectors/source-instagram/unit_tests/resource/http/response/story_insights_for_story_insights_happy_path.json
  airbyte-integrations/connectors/source-instagram/unit_tests/test_components.py
  airbyte-integrations/connectors/source-instagram/unit_tests/test_streams.py
  docs/integrations/sources/instagram.md
Labels: area/documentation, area/connectors, connectors/source/instagram

#40678 Updating terminology Community Connector > Marketplace Connector, Certified Connector > Integration
  docs/contributing-to-airbyte/README.md
  docs/enterprise-setup/upgrading-from-community.md
  docs/integrations/README.md
  docs/integrations/connector-support-levels.md
  docs/understanding-airbyte/database-data-catalog.md
  docs/using-airbyte/getting-started/add-a-destination.md
Labels: area/documentation

#40687 Update readme.md
  docs/readme.md
Labels: area/documentation

#40688 Make relative Links GitHub friendly.
  docs/readme.md
Labels: area/documentation

#40668 docs: June Release Notes
  docs/release_notes/assets/connection-stream-status-graph.png
  docs/release_notes/assets/sync-progress.png
  docs/release_notes/june_2024.md
  docusaurus/sidebars.js
Labels: area/documentation

#40694 fix(docs): typo in low-code docs
  docs/connector-development/config-based/advanced-topics.md
Labels: area/documentation

#40695 fix(source-fleetio): Using base_image 1.2.2, support level fix, and cleanup
  airbyte-integrations/connectors/source-fleetio/.dockerignore
  airbyte-integrations/connectors/source-fleetio/metadata.yaml
  airbyte-integrations/connectors/source-fleetio/poetry.lock
  airbyte-integrations/connectors/source-fleetio/pyproject.toml
  airbyte-integrations/connectors/source-fleetio/source_fleetio/manifest.yaml
  docs/integrations/sources/fleetio.md
Labels: area/documentation, area/connectors, connectors/source/fleetio

#40707 🐛 Source Shopify: fix `product_images` stream emits records with no `PK`
  airbyte-integrations/connectors/source-shopify/metadata.yaml
  airbyte-integrations/connectors/source-shopify/pyproject.toml
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/query.py
  airbyte-integrations/connectors/source-shopify/unit_tests/conftest.py
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors, connectors/source/shopify

#40703 feedback item tested and edited
  docs/using-airbyte/getting-started/oss-quickstart.md
Labels: area/documentation

#40710 Revert "Updating terminology Community Connector > Marketplace Connec…
  docs/contributing-to-airbyte/README.md
  docs/enterprise-setup/upgrading-from-community.md
  docs/integrations/README.md
  docs/integrations/connector-support-levels.md
  docs/understanding-airbyte/database-data-catalog.md
  docs/using-airbyte/getting-started/add-a-destination.md
Labels: area/documentation

#40696 feat(python cdk): Allow regex_search in jinja interpolations
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/interpolation/filters.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/interpolation/jinja.py
  airbyte-cdk/python/unit_tests/sources/declarative/interpolation/test_filters.py
Labels: CDK

#40655 Re-order documentation on GCS and add detail blocks to overlooked destinations
  docs/integrations/destinations/databend.md
  docs/integrations/destinations/gcs.md
  docs/integrations/destinations/xata.md
Labels: area/documentation

#40645 🎉 Source Facebook-Marketing: Use latest `CDK` version possible
  airbyte-integrations/connectors/source-facebook-marketing/acceptance-test-config.yml
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/poetry.lock
  airbyte-integrations/connectors/source-facebook-marketing/pyproject.toml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/spec.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/base_streams.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing

#40744 CDK: Add jinja macro format_datetime_string
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/interpolation/macros.py
  airbyte-cdk/python/pyproject.toml
  airbyte-cdk/python/unit_tests/sources/declarative/interpolation/test_macros.py
Labels: CDK

#40592 🐛 Source [Trello, Zendesk-Support]: Update to the latest CDK Version, update `cursor pagination`
  airbyte-integrations/connectors/source-trello/README.md
  airbyte-integrations/connectors/source-trello/metadata.yaml
  airbyte-integrations/connectors/source-trello/poetry.lock
  airbyte-integrations/connectors/source-trello/pyproject.toml
  airbyte-integrations/connectors/source-trello/source_trello/manifest.yaml
  airbyte-integrations/connectors/source-zendesk-support/acceptance-test-config.yml
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/poetry.lock
  airbyte-integrations/connectors/source-zendesk-support/pyproject.toml
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/manifest.yaml
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/integrations/test_post_comment_votes.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/integrations/test_post_comments.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/integrations/test_post_votes.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/unit_test.py
  docs/integrations/sources/trello.md
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors, connectors/source/trello, connectors/source/zendesk-support

#40737 feat(Airbyte CDK): add with_json_schema method to ConfiguredAirbyteStreamBuilder
  airbyte-cdk/python/airbyte_cdk/test/catalog_builder.py
  airbyte-cdk/python/unit_tests/sources/mock_server_tests/test_resumable_full_refresh.py
Labels: CDK, connectors/source/facebook-marketing, connectors/source/instagram

#40722 fix(source-braintree): Fixes subscription data by @agpapa
  airbyte-integrations/connectors/source-braintree/.dockerignore
  airbyte-integrations/connectors/source-braintree/Dockerfile
  airbyte-integrations/connectors/source-braintree/README.md
  airbyte-integrations/connectors/source-braintree/metadata.yaml
  airbyte-integrations/connectors/source-braintree/poetry.lock
  airbyte-integrations/connectors/source-braintree/pyproject.toml
  airbyte-integrations/connectors/source-braintree/requirements.txt
  airbyte-integrations/connectors/source-braintree/setup.py
  airbyte-integrations/connectors/source-braintree/source_braintree/manifest.yaml
  airbyte-integrations/connectors/source-braintree/source_braintree/schemas/subscription.py
  airbyte-integrations/connectors/source-braintree/source_braintree/schemas/transaction.py
  docs/integrations/sources/braintree.md
Labels: area/documentation, area/connectors, connectors/source/braintree

#40618 Source Freshcaller: Migrate to poetry
  airbyte-integrations/connectors/source-freshcaller/.dockerignore
  airbyte-integrations/connectors/source-freshcaller/Dockerfile
  airbyte-integrations/connectors/source-freshcaller/README.md
  airbyte-integrations/connectors/source-freshcaller/metadata.yaml
  airbyte-integrations/connectors/source-freshcaller/poetry.lock
  airbyte-integrations/connectors/source-freshcaller/pyproject.toml
  airbyte-integrations/connectors/source-freshcaller/setup.py
  docs/integrations/sources/freshcaller.md
Labels: area/documentation, area/connectors, connectors/source/freshcaller

#40740 🐛 Source Punk API: Archiving Due to API Vendor Stopping Work - 1
  airbyte-integrations/connectors/source-punk-api/metadata.yaml
Labels: area/connectors, connectors/source/punk-api

#40607 ✨ Source Mixpanel: make engage stream really incremental
  airbyte-integrations/connectors/source-mixpanel/metadata.yaml
  airbyte-integrations/connectors/source-mixpanel/pyproject.toml
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/components.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/manifest.yaml
  docs/integrations/sources/mixpanel.md
Labels: area/documentation, area/connectors, community, connectors/source/mixpanel, team/marketplace

#40746 ✨ feat(source-bing-ads): support PerformanceMax Campaign Type
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/pyproject.toml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/base_streams.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_source.py
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors, connectors/source/bing-ads

#40719 [source-postgres] Fix duplicate streams in postgres
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/kotlin/io/airbyte/cdk/integrations/debezium/CdcSourceTest.kt
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidGlobalStateManager.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcPostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, CDK, connectors/source/postgres

#40750 source-mssql: bump debezium-connector-sqlserver to latest patch version
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, connectors/source/mssql

#40757 Revert "[source-postgres] Fix duplicate streams in postgres"
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidGlobalStateManager.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcPostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres

#39404 airbyte-cdk: run poetry check in CI
  airbyte-cdk/python/pyproject.toml
Labels: CDK

#41015 🐙 source-gcs: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-gcs/metadata.yaml
  airbyte-integrations/connectors/source-gcs/poetry.lock
  airbyte-integrations/connectors/source-gcs/pyproject.toml
  docs/integrations/sources/gcs.md
Labels: area/documentation, area/connectors, connectors/source/gcs, auto-merge, up-to-date

#41014 🐙 destination-duckdb: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/destination-duckdb/metadata.yaml
  airbyte-integrations/connectors/destination-duckdb/poetry.lock
  airbyte-integrations/connectors/destination-duckdb/pyproject.toml
  docs/integrations/destinations/duckdb.md
Labels: area/documentation, area/connectors, connectors/destination/duckdb, auto-merge, up-to-date

#41013 🐙 source-confluence: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-confluence/metadata.yaml
  airbyte-integrations/connectors/source-confluence/poetry.lock
  airbyte-integrations/connectors/source-confluence/pyproject.toml
  docs/integrations/sources/confluence.md
Labels: area/documentation, area/connectors, connectors/source/confluence, auto-merge, up-to-date

#41012 🐙 source-workable: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-workable/metadata.yaml
  airbyte-integrations/connectors/source-workable/poetry.lock
  airbyte-integrations/connectors/source-workable/pyproject.toml
  docs/integrations/sources/workable.md
Labels: area/documentation, area/connectors, connectors/source/workable, auto-merge, up-to-date

#41011 🐙 source-google-pagespeed-insights: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-google-pagespeed-insights/metadata.yaml
  airbyte-integrations/connectors/source-google-pagespeed-insights/poetry.lock
  airbyte-integrations/connectors/source-google-pagespeed-insights/pyproject.toml
  docs/integrations/sources/google-pagespeed-insights.md
Labels: area/documentation, area/connectors, connectors/source/google-pagespeed-insights, auto-merge, up-to-date

#41010 🐙 source-smaily: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-smaily/metadata.yaml
  airbyte-integrations/connectors/source-smaily/poetry.lock
  airbyte-integrations/connectors/source-smaily/pyproject.toml
  docs/integrations/sources/smaily.md
Labels: area/documentation, area/connectors, connectors/source/smaily, auto-merge, up-to-date

#41009 🐙 source-klaus-api: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-klaus-api/metadata.yaml
  airbyte-integrations/connectors/source-klaus-api/poetry.lock
  airbyte-integrations/connectors/source-klaus-api/pyproject.toml
  docs/integrations/sources/klaus-api.md
Labels: area/documentation, area/connectors, connectors/source/klaus-api, auto-merge, up-to-date

#41008 🐙 source-dremio: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-dremio/metadata.yaml
  airbyte-integrations/connectors/source-dremio/poetry.lock
  airbyte-integrations/connectors/source-dremio/pyproject.toml
  docs/integrations/sources/dremio.md
Labels: area/documentation, area/connectors, connectors/source/dremio, auto-merge, up-to-date

#41007 🐙 source-plaid: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-plaid/metadata.yaml
  airbyte-integrations/connectors/source-plaid/poetry.lock
  airbyte-integrations/connectors/source-plaid/pyproject.toml
  docs/integrations/sources/plaid.md
Labels: area/documentation, area/connectors, connectors/source/plaid, auto-merge, up-to-date

#41006 🐙 source-qonto: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-qonto/metadata.yaml
  airbyte-integrations/connectors/source-qonto/poetry.lock
  airbyte-integrations/connectors/source-qonto/pyproject.toml
  docs/integrations/sources/qonto.md
Labels: area/documentation, area/connectors, connectors/source/qonto, auto-merge, up-to-date

#41005 🐙 source-google-sheets: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-google-sheets/metadata.yaml
  airbyte-integrations/connectors/source-google-sheets/poetry.lock
  airbyte-integrations/connectors/source-google-sheets/pyproject.toml
  docs/integrations/sources/google-sheets.md
Labels: area/documentation, area/connectors, connectors/source/google-sheets, auto-merge, up-to-date

#41004 🐙 source-copper: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-copper/metadata.yaml
  airbyte-integrations/connectors/source-copper/poetry.lock
  airbyte-integrations/connectors/source-copper/pyproject.toml
  docs/integrations/sources/copper.md
Labels: area/documentation, area/connectors, connectors/source/copper, auto-merge, up-to-date

#41003 🐙 source-fastbill: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-fastbill/metadata.yaml
  airbyte-integrations/connectors/source-fastbill/poetry.lock
  airbyte-integrations/connectors/source-fastbill/pyproject.toml
  docs/integrations/sources/fastbill.md
Labels: area/documentation, area/connectors, connectors/source/fastbill, auto-merge, up-to-date

#41002 🐙 source-harvest: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-harvest/metadata.yaml
  airbyte-integrations/connectors/source-harvest/poetry.lock
  airbyte-integrations/connectors/source-harvest/pyproject.toml
  docs/integrations/sources/harvest.md
Labels: area/documentation, area/connectors, connectors/source/harvest, auto-merge, up-to-date

#41001 🐙 source-pocket: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-pocket/metadata.yaml
  airbyte-integrations/connectors/source-pocket/poetry.lock
  airbyte-integrations/connectors/source-pocket/pyproject.toml
  docs/integrations/sources/pocket.md
Labels: area/documentation, area/connectors, connectors/source/pocket, auto-merge, up-to-date

#41000 🐙 source-github: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/poetry.lock
  airbyte-integrations/connectors/source-github/pyproject.toml
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors, connectors/source/github, auto-merge, up-to-date

#40999 🐙 destination-google-sheets: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/destination-google-sheets/metadata.yaml
  airbyte-integrations/connectors/destination-google-sheets/poetry.lock
  airbyte-integrations/connectors/destination-google-sheets/pyproject.toml
  docs/integrations/destinations/google-sheets.md
Labels: area/documentation, area/connectors, connectors/destination/google-sheets, auto-merge, up-to-date

#40998 🐙 source-public-apis: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-public-apis/metadata.yaml
  airbyte-integrations/connectors/source-public-apis/poetry.lock
  airbyte-integrations/connectors/source-public-apis/pyproject.toml
  docs/integrations/sources/public-apis.md
Labels: area/documentation, area/connectors, connectors/source/public-apis, auto-merge, up-to-date

#40997 🐙 source-bigcommerce: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-bigcommerce/metadata.yaml
  airbyte-integrations/connectors/source-bigcommerce/poetry.lock
  airbyte-integrations/connectors/source-bigcommerce/pyproject.toml
  docs/integrations/sources/bigcommerce.md
Labels: area/documentation, area/connectors, connectors/source/bigcommerce, auto-merge, up-to-date

#40996 🐙 source-webflow: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-webflow/metadata.yaml
  airbyte-integrations/connectors/source-webflow/poetry.lock
  airbyte-integrations/connectors/source-webflow/pyproject.toml
  docs/integrations/sources/webflow.md
Labels: area/documentation, area/connectors, connectors/source/webflow, auto-merge, up-to-date

#40995 🐙 source-aws-cloudtrail: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-aws-cloudtrail/metadata.yaml
  airbyte-integrations/connectors/source-aws-cloudtrail/poetry.lock
  airbyte-integrations/connectors/source-aws-cloudtrail/pyproject.toml
  docs/integrations/sources/aws-cloudtrail.md
Labels: area/documentation, area/connectors, connectors/source/aws-cloudtrail, auto-merge, up-to-date

#40994 🐙 source-close-com: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-close-com/metadata.yaml
  airbyte-integrations/connectors/source-close-com/poetry.lock
  airbyte-integrations/connectors/source-close-com/pyproject.toml
  docs/integrations/sources/close-com.md
Labels: area/documentation, area/connectors, connectors/source/close-com, auto-merge, up-to-date

#40993 🐙 source-my-hours: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-my-hours/metadata.yaml
  airbyte-integrations/connectors/source-my-hours/poetry.lock
  airbyte-integrations/connectors/source-my-hours/pyproject.toml
  docs/integrations/sources/my-hours.md
Labels: area/documentation, area/connectors, connectors/source/my-hours, auto-merge, up-to-date

#40992 🐙 source-plausible: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-plausible/metadata.yaml
  airbyte-integrations/connectors/source-plausible/poetry.lock
  airbyte-integrations/connectors/source-plausible/pyproject.toml
  docs/integrations/sources/plausible.md
Labels: area/documentation, area/connectors, connectors/source/plausible, auto-merge, up-to-date

#40991 🐙 destination-rabbitmq: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/destination-rabbitmq/metadata.yaml
  airbyte-integrations/connectors/destination-rabbitmq/poetry.lock
  airbyte-integrations/connectors/destination-rabbitmq/pyproject.toml
  docs/integrations/destinations/rabbitmq.md
Labels: area/documentation, area/connectors, connectors/destination/rabbitmq, auto-merge, up-to-date

#40990 🐙 source-amazon-seller-partner: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/poetry.lock
  airbyte-integrations/connectors/source-amazon-seller-partner/pyproject.toml
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation, area/connectors, connectors/source/amazon-seller-partner, auto-merge, up-to-date

#40989 🐙 source-square: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-square/metadata.yaml
  airbyte-integrations/connectors/source-square/poetry.lock
  airbyte-integrations/connectors/source-square/pyproject.toml
  docs/integrations/sources/square.md
Labels: area/documentation, area/connectors, connectors/source/square, auto-merge, up-to-date

#40988 🐙 source-opsgenie: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-opsgenie/metadata.yaml
  airbyte-integrations/connectors/source-opsgenie/poetry.lock
  airbyte-integrations/connectors/source-opsgenie/pyproject.toml
  docs/integrations/sources/opsgenie.md
Labels: area/documentation, area/connectors, connectors/source/opsgenie, auto-merge, up-to-date

#40987 🐙 destination-convex: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/destination-convex/metadata.yaml
  airbyte-integrations/connectors/destination-convex/poetry.lock
  airbyte-integrations/connectors/destination-convex/pyproject.toml
  docs/integrations/destinations/convex.md
Labels: area/documentation, area/connectors, connectors/destination/convex, auto-merge, up-to-date

#40986 🐙 source-zoom: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-zoom/metadata.yaml
  airbyte-integrations/connectors/source-zoom/poetry.lock
  airbyte-integrations/connectors/source-zoom/pyproject.toml
  docs/integrations/sources/zoom.md
Labels: area/documentation, area/connectors, connectors/source/zoom, auto-merge, up-to-date

#40985 🐙 source-datadog: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-datadog/metadata.yaml
  airbyte-integrations/connectors/source-datadog/poetry.lock
  airbyte-integrations/connectors/source-datadog/pyproject.toml
  docs/integrations/sources/datadog.md
Labels: area/documentation, area/connectors, connectors/source/datadog, auto-merge, up-to-date

#40984 🐙 source-pendo: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-pendo/metadata.yaml
  airbyte-integrations/connectors/source-pendo/poetry.lock
  airbyte-integrations/connectors/source-pendo/pyproject.toml
  docs/integrations/sources/pendo.md
Labels: area/documentation, area/connectors, connectors/source/pendo, auto-merge, up-to-date

#40983 🐙 source-zendesk-sell: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-zendesk-sell/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-sell/poetry.lock
  airbyte-integrations/connectors/source-zendesk-sell/pyproject.toml
  docs/integrations/sources/zendesk-sell.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-sell, auto-merge, up-to-date

#40982 🐙 source-amplitude: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-amplitude/metadata.yaml
  airbyte-integrations/connectors/source-amplitude/poetry.lock
  airbyte-integrations/connectors/source-amplitude/pyproject.toml
  docs/integrations/sources/amplitude.md
Labels: area/documentation, area/connectors, connectors/source/amplitude, auto-merge, up-to-date

#40981 🐙 source-google-search-console: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-google-search-console/metadata.yaml
  airbyte-integrations/connectors/source-google-search-console/poetry.lock
  airbyte-integrations/connectors/source-google-search-console/pyproject.toml
  docs/integrations/sources/google-search-console.md
Labels: area/documentation, area/connectors, connectors/source/google-search-console, auto-merge, up-to-date

#40980 🐙 source-zapier-supported-storage: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-zapier-supported-storage/metadata.yaml
  airbyte-integrations/connectors/source-zapier-supported-storage/poetry.lock
  airbyte-integrations/connectors/source-zapier-supported-storage/pyproject.toml
  docs/integrations/sources/zapier-supported-storage.md
Labels: area/documentation, area/connectors, connectors/source/zapier-supported-storage, auto-merge, up-to-date

#40979 🐙 source-firebolt: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-firebolt/metadata.yaml
  airbyte-integrations/connectors/source-firebolt/poetry.lock
  airbyte-integrations/connectors/source-firebolt/pyproject.toml
  docs/integrations/sources/firebolt.md
Labels: area/documentation, area/connectors, connectors/source/firebolt, auto-merge, up-to-date

#40978 🐙 source-unleash: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-unleash/metadata.yaml
  airbyte-integrations/connectors/source-unleash/poetry.lock
  airbyte-integrations/connectors/source-unleash/pyproject.toml
  docs/integrations/sources/unleash.md
Labels: area/documentation, area/connectors, connectors/source/unleash, auto-merge, up-to-date

#40977 🐙 source-retently: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-retently/metadata.yaml
  airbyte-integrations/connectors/source-retently/poetry.lock
  airbyte-integrations/connectors/source-retently/pyproject.toml
  docs/integrations/sources/retently.md
Labels: area/documentation, area/connectors, connectors/source/retently, auto-merge, up-to-date

#40976 🐙 source-coin-api: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-coin-api/metadata.yaml
  airbyte-integrations/connectors/source-coin-api/poetry.lock
  airbyte-integrations/connectors/source-coin-api/pyproject.toml
  docs/integrations/sources/coin-api.md
Labels: area/documentation, area/connectors, connectors/source/coin-api, auto-merge, up-to-date

#40975 🐙 source-survey-sparrow: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-survey-sparrow/metadata.yaml
  airbyte-integrations/connectors/source-survey-sparrow/poetry.lock
  airbyte-integrations/connectors/source-survey-sparrow/pyproject.toml
  docs/integrations/sources/survey-sparrow.md
Labels: area/documentation, area/connectors, connectors/source/survey-sparrow, auto-merge, up-to-date

#40974 🐙 source-orbit: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-orbit/metadata.yaml
  airbyte-integrations/connectors/source-orbit/poetry.lock
  airbyte-integrations/connectors/source-orbit/pyproject.toml
  docs/integrations/sources/orbit.md
Labels: area/documentation, area/connectors, connectors/source/orbit, auto-merge, up-to-date

#40973 🐙 source-ringcentral: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-ringcentral/metadata.yaml
  airbyte-integrations/connectors/source-ringcentral/poetry.lock
  airbyte-integrations/connectors/source-ringcentral/pyproject.toml
  docs/integrations/sources/ringcentral.md
Labels: area/documentation, area/connectors, connectors/source/ringcentral, auto-merge, up-to-date

#40972 🐙 source-punk-api: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-punk-api/metadata.yaml
  airbyte-integrations/connectors/source-punk-api/poetry.lock
  airbyte-integrations/connectors/source-punk-api/pyproject.toml
  docs/integrations/sources/punk-api.md
Labels: area/documentation, area/connectors, connectors/source/punk-api, auto-merge, up-to-date

#40971 🐙 source-ashby: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-ashby/metadata.yaml
  airbyte-integrations/connectors/source-ashby/poetry.lock
  airbyte-integrations/connectors/source-ashby/pyproject.toml
  docs/integrations/sources/ashby.md
Labels: area/documentation, area/connectors, connectors/source/ashby, auto-merge, up-to-date

#40970 🐙 source-strava: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-strava/metadata.yaml
  airbyte-integrations/connectors/source-strava/poetry.lock
  airbyte-integrations/connectors/source-strava/pyproject.toml
  docs/integrations/sources/strava.md
Labels: area/documentation, area/connectors, connectors/source/strava, auto-merge, up-to-date

#40969 🐙 source-omnisend: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-omnisend/metadata.yaml
  airbyte-integrations/connectors/source-omnisend/poetry.lock
  airbyte-integrations/connectors/source-omnisend/pyproject.toml
  docs/integrations/sources/omnisend.md
Labels: area/documentation, area/connectors, connectors/source/omnisend, auto-merge, up-to-date

#40968 🐙 source-toggl: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-toggl/metadata.yaml
  airbyte-integrations/connectors/source-toggl/poetry.lock
  airbyte-integrations/connectors/source-toggl/pyproject.toml
  docs/integrations/sources/toggl.md
Labels: area/documentation, area/connectors, connectors/source/toggl, auto-merge, up-to-date

#40967 🐙 source-hubplanner: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-hubplanner/metadata.yaml
  airbyte-integrations/connectors/source-hubplanner/poetry.lock
  airbyte-integrations/connectors/source-hubplanner/pyproject.toml
  docs/integrations/sources/hubplanner.md
Labels: area/documentation, area/connectors, connectors/source/hubplanner, auto-merge, up-to-date

#40966 🐙 source-ip2whois: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-ip2whois/metadata.yaml
  airbyte-integrations/connectors/source-ip2whois/poetry.lock
  airbyte-integrations/connectors/source-ip2whois/pyproject.toml
  docs/integrations/sources/ip2whois.md
Labels: area/documentation, area/connectors, connectors/source/ip2whois, auto-merge, up-to-date

#40965 🐙 source-chargebee: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-chargebee/metadata.yaml
  airbyte-integrations/connectors/source-chargebee/poetry.lock
  airbyte-integrations/connectors/source-chargebee/pyproject.toml
  docs/integrations/sources/chargebee.md
Labels: area/documentation, area/connectors, connectors/source/chargebee, auto-merge, up-to-date

#40964 🐙 source-pivotal-tracker: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-pivotal-tracker/metadata.yaml
  airbyte-integrations/connectors/source-pivotal-tracker/poetry.lock
  airbyte-integrations/connectors/source-pivotal-tracker/pyproject.toml
  docs/integrations/sources/pivotal-tracker.md
Labels: area/documentation, area/connectors, connectors/source/pivotal-tracker, auto-merge, up-to-date

#40963 🐙 source-chartmogul: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-chartmogul/metadata.yaml
  airbyte-integrations/connectors/source-chartmogul/poetry.lock
  airbyte-integrations/connectors/source-chartmogul/pyproject.toml
  docs/integrations/sources/chartmogul.md
Labels: area/documentation, area/connectors, connectors/source/chartmogul, auto-merge, up-to-date

#40962 🐙 source-chargify: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-chargify/metadata.yaml
  airbyte-integrations/connectors/source-chargify/poetry.lock
  airbyte-integrations/connectors/source-chargify/pyproject.toml
  docs/integrations/sources/chargify.md
Labels: area/documentation, area/connectors, connectors/source/chargify, auto-merge, up-to-date

#40961 🐙 source-coinmarketcap: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-coinmarketcap/metadata.yaml
  airbyte-integrations/connectors/source-coinmarketcap/poetry.lock
  airbyte-integrations/connectors/source-coinmarketcap/pyproject.toml
  docs/integrations/sources/coinmarketcap.md
Labels: area/documentation, area/connectors, connectors/source/coinmarketcap, auto-merge, up-to-date

#40960 🐙 destination-amazon-sqs: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/destination-amazon-sqs/metadata.yaml
  airbyte-integrations/connectors/destination-amazon-sqs/poetry.lock
  airbyte-integrations/connectors/destination-amazon-sqs/pyproject.toml
  docs/integrations/destinations/amazon-sqs.md
Labels: area/documentation, area/connectors, connectors/destination/amazon-sqs, auto-merge, up-to-date

#40959 🐙 source-tmdb: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-tmdb/metadata.yaml
  airbyte-integrations/connectors/source-tmdb/poetry.lock
  airbyte-integrations/connectors/source-tmdb/pyproject.toml
  docs/integrations/sources/tmdb.md
Labels: area/documentation, area/connectors, connectors/source/tmdb, auto-merge, up-to-date

#40958 🐙 source-surveymonkey: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-surveymonkey/metadata.yaml
  airbyte-integrations/connectors/source-surveymonkey/poetry.lock
  airbyte-integrations/connectors/source-surveymonkey/pyproject.toml
  docs/integrations/sources/surveymonkey.md
Labels: area/documentation, area/connectors, connectors/source/surveymonkey, auto-merge, up-to-date

#40957 🐙 source-delighted: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-delighted/metadata.yaml
  airbyte-integrations/connectors/source-delighted/poetry.lock
  airbyte-integrations/connectors/source-delighted/pyproject.toml
  docs/integrations/sources/delighted.md
Labels: area/documentation, area/connectors, connectors/source/delighted, auto-merge, up-to-date

#40956 🐙 source-faker: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/poetry.lock
  airbyte-integrations/connectors/source-faker/pyproject.toml
  docs/integrations/sources/faker.md
Labels: area/documentation, area/connectors, connectors/source/faker, auto-merge, up-to-date

#40955 🐙 source-nytimes: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-nytimes/metadata.yaml
  airbyte-integrations/connectors/source-nytimes/poetry.lock
  airbyte-integrations/connectors/source-nytimes/pyproject.toml
  docs/integrations/sources/nytimes.md
Labels: area/documentation, area/connectors, connectors/source/nytimes, auto-merge, up-to-date

#40954 🐙 source-wrike: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-wrike/metadata.yaml
  airbyte-integrations/connectors/source-wrike/poetry.lock
  airbyte-integrations/connectors/source-wrike/pyproject.toml
  docs/integrations/sources/wrike.md
Labels: area/documentation, area/connectors, connectors/source/wrike, auto-merge, up-to-date

#40953 🐙 destination-vectara: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/destination-vectara/metadata.yaml
  airbyte-integrations/connectors/destination-vectara/poetry.lock
  airbyte-integrations/connectors/destination-vectara/pyproject.toml
  docs/integrations/destinations/vectara.md
Labels: area/documentation, area/connectors, connectors/destination/vectara, auto-merge, up-to-date

#40952 🐙 source-rocket-chat: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-rocket-chat/metadata.yaml
  airbyte-integrations/connectors/source-rocket-chat/poetry.lock
  airbyte-integrations/connectors/source-rocket-chat/pyproject.toml
  docs/integrations/sources/rocket-chat.md
Labels: area/documentation, area/connectors, connectors/source/rocket-chat, auto-merge, up-to-date

#40951 🐙 source-oura: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-oura/metadata.yaml
  airbyte-integrations/connectors/source-oura/poetry.lock
  airbyte-integrations/connectors/source-oura/pyproject.toml
  docs/integrations/sources/oura.md
Labels: area/documentation, area/connectors, connectors/source/oura, auto-merge, up-to-date

#40950 🐙 source-smartengage: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-smartengage/metadata.yaml
  airbyte-integrations/connectors/source-smartengage/poetry.lock
  airbyte-integrations/connectors/source-smartengage/pyproject.toml
  docs/integrations/sources/smartengage.md
Labels: area/documentation, area/connectors, connectors/source/smartengage, auto-merge, up-to-date

#40949 🐙 destination-xata: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/destination-xata/metadata.yaml
  airbyte-integrations/connectors/destination-xata/poetry.lock
  airbyte-integrations/connectors/destination-xata/pyproject.toml
  docs/integrations/destinations/xata.md
Labels: area/documentation, area/connectors, connectors/destination/xata, auto-merge, up-to-date

#40948 🐙 source-google-directory: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-google-directory/metadata.yaml
  airbyte-integrations/connectors/source-google-directory/poetry.lock
  airbyte-integrations/connectors/source-google-directory/pyproject.toml
  docs/integrations/sources/google-directory.md
Labels: area/documentation, area/connectors, connectors/source/google-directory, auto-merge, up-to-date

#40947 🐙 source-adjust: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-adjust/metadata.yaml
  airbyte-integrations/connectors/source-adjust/poetry.lock
  airbyte-integrations/connectors/source-adjust/pyproject.toml
  docs/integrations/sources/adjust.md
Labels: area/documentation, area/connectors, connectors/source/adjust, auto-merge, up-to-date

#40946 🐙 source-pexels-api: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-pexels-api/metadata.yaml
  airbyte-integrations/connectors/source-pexels-api/poetry.lock
  airbyte-integrations/connectors/source-pexels-api/pyproject.toml
  docs/integrations/sources/pexels-api.md
Labels: area/documentation, area/connectors, connectors/source/pexels-api, auto-merge, up-to-date

#40945 🐙 source-genesys: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-genesys/metadata.yaml
  airbyte-integrations/connectors/source-genesys/poetry.lock
  airbyte-integrations/connectors/source-genesys/pyproject.toml
  docs/integrations/sources/genesys.md
Labels: area/documentation, area/connectors, connectors/source/genesys, auto-merge, up-to-date

#40944 🐙 destination-sqlite: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/destination-sqlite/metadata.yaml
  airbyte-integrations/connectors/destination-sqlite/poetry.lock
  airbyte-integrations/connectors/destination-sqlite/pyproject.toml
  docs/integrations/destinations/sqlite.md
Labels: area/documentation, area/connectors, connectors/destination/sqlite, auto-merge, up-to-date

#40943 🐙 destination-weaviate: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/destination-weaviate/metadata.yaml
  airbyte-integrations/connectors/destination-weaviate/poetry.lock
  airbyte-integrations/connectors/destination-weaviate/pyproject.toml
  docs/integrations/destinations/weaviate.md
Labels: area/documentation, area/connectors, connectors/destination/weaviate, auto-merge, up-to-date

#40942 🐙 source-lemlist: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-lemlist/metadata.yaml
  airbyte-integrations/connectors/source-lemlist/poetry.lock
  airbyte-integrations/connectors/source-lemlist/pyproject.toml
  docs/integrations/sources/lemlist.md
Labels: area/documentation, area/connectors, connectors/source/lemlist, auto-merge, up-to-date

#40941 🐙 source-freshservice: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-freshservice/metadata.yaml
  airbyte-integrations/connectors/source-freshservice/poetry.lock
  airbyte-integrations/connectors/source-freshservice/pyproject.toml
  docs/integrations/sources/freshservice.md
Labels: area/documentation, area/connectors, connectors/source/freshservice, auto-merge, up-to-date

#40940 🐙 source-metabase: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-metabase/metadata.yaml
  airbyte-integrations/connectors/source-metabase/poetry.lock
  airbyte-integrations/connectors/source-metabase/pyproject.toml
  docs/integrations/sources/metabase.md
Labels: area/documentation, area/connectors, connectors/source/metabase, auto-merge, up-to-date

#40939 🐙 source-todoist: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-todoist/metadata.yaml
  airbyte-integrations/connectors/source-todoist/poetry.lock
  airbyte-integrations/connectors/source-todoist/pyproject.toml
  docs/integrations/sources/todoist.md
Labels: area/documentation, area/connectors, connectors/source/todoist, auto-merge, up-to-date

#40938 🐙 source-pokeapi: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-pokeapi/metadata.yaml
  airbyte-integrations/connectors/source-pokeapi/poetry.lock
  airbyte-integrations/connectors/source-pokeapi/pyproject.toml
  docs/integrations/sources/pokeapi.md
Labels: area/documentation, area/connectors, connectors/source/pokeapi, auto-merge, up-to-date

#40937 🐙 source-azure-table: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-azure-table/metadata.yaml
  airbyte-integrations/connectors/source-azure-table/poetry.lock
  airbyte-integrations/connectors/source-azure-table/pyproject.toml
  docs/integrations/sources/azure-table.md
Labels: area/documentation, area/connectors, connectors/source/azure-table, auto-merge, up-to-date

#40936 🐙 source-clickup-api: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-clickup-api/metadata.yaml
  airbyte-integrations/connectors/source-clickup-api/poetry.lock
  airbyte-integrations/connectors/source-clickup-api/pyproject.toml
  docs/integrations/sources/clickup-api.md
Labels: area/documentation, area/connectors, connectors/source/clickup-api, auto-merge, up-to-date

#40935 🐙 source-google-analytics-data-api: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/poetry.lock
  airbyte-integrations/connectors/source-google-analytics-data-api/pyproject.toml
  docs/integrations/sources/google-analytics-data-api.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-data-api, auto-merge, up-to-date

#40934 🐙 source-facebook-marketing: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/poetry.lock
  airbyte-integrations/connectors/source-facebook-marketing/pyproject.toml
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing, auto-merge, up-to-date

#40933 🐙 source-google-ads: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/poetry.lock
  airbyte-integrations/connectors/source-google-ads/pyproject.toml
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, connectors/source/google-ads, auto-merge, up-to-date

#40932 🐙 source-merge: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-merge/metadata.yaml
  airbyte-integrations/connectors/source-merge/poetry.lock
  airbyte-integrations/connectors/source-merge/pyproject.toml
  docs/integrations/sources/merge.md
Labels: area/documentation, area/connectors, connectors/source/merge, auto-merge, up-to-date

#40931 🐙 source-sap-fieldglass: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-sap-fieldglass/metadata.yaml
  airbyte-integrations/connectors/source-sap-fieldglass/poetry.lock
  airbyte-integrations/connectors/source-sap-fieldglass/pyproject.toml
  docs/integrations/sources/sap-fieldglass.md
Labels: area/documentation, area/connectors, connectors/source/sap-fieldglass, auto-merge, up-to-date

#40930 🐙 source-mailjet-mail: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-mailjet-mail/metadata.yaml
  airbyte-integrations/connectors/source-mailjet-mail/poetry.lock
  airbyte-integrations/connectors/source-mailjet-mail/pyproject.toml
  docs/integrations/sources/mailjet-mail.md
Labels: area/documentation, area/connectors, connectors/source/mailjet-mail, auto-merge, up-to-date

#40929 🐙 source-configcat: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-configcat/metadata.yaml
  airbyte-integrations/connectors/source-configcat/poetry.lock
  airbyte-integrations/connectors/source-configcat/pyproject.toml
  docs/integrations/sources/configcat.md
Labels: area/documentation, area/connectors, connectors/source/configcat, auto-merge, up-to-date

#40927 🐙 source-rki-covid: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-rki-covid/metadata.yaml
  airbyte-integrations/connectors/source-rki-covid/poetry.lock
  airbyte-integrations/connectors/source-rki-covid/pyproject.toml
  docs/integrations/sources/rki-covid.md
Labels: area/documentation, area/connectors, connectors/source/rki-covid, auto-merge, up-to-date

#40926 🐙 destination-chroma: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/destination-chroma/metadata.yaml
  airbyte-integrations/connectors/destination-chroma/poetry.lock
  airbyte-integrations/connectors/destination-chroma/pyproject.toml
  docs/integrations/destinations/chroma.md
Labels: area/documentation, area/connectors, connectors/destination/chroma, auto-merge, up-to-date

#40925 🐙 source-glassfrog: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-glassfrog/metadata.yaml
  airbyte-integrations/connectors/source-glassfrog/poetry.lock
  airbyte-integrations/connectors/source-glassfrog/pyproject.toml
  docs/integrations/sources/glassfrog.md
Labels: area/documentation, area/connectors, connectors/source/glassfrog, auto-merge, up-to-date

#40924 🐙 source-exchange-rates: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-exchange-rates/metadata.yaml
  airbyte-integrations/connectors/source-exchange-rates/poetry.lock
  airbyte-integrations/connectors/source-exchange-rates/pyproject.toml
  docs/integrations/sources/exchange-rates.md
Labels: area/documentation, area/connectors, connectors/source/exchange-rates, auto-merge, up-to-date

#40923 🐙 source-hubspot: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/poetry.lock
  airbyte-integrations/connectors/source-hubspot/pyproject.toml
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot, auto-merge, up-to-date

#40922 🐙 source-clazar: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-clazar/metadata.yaml
  airbyte-integrations/connectors/source-clazar/poetry.lock
  airbyte-integrations/connectors/source-clazar/pyproject.toml
  docs/integrations/sources/clazar.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/clazar

#40921 🐙 source-rss: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-rss/metadata.yaml
  airbyte-integrations/connectors/source-rss/poetry.lock
  airbyte-integrations/connectors/source-rss/pyproject.toml
  docs/integrations/sources/rss.md
Labels: area/documentation, area/connectors, connectors/source/rss, auto-merge, up-to-date

#40920 🐙 source-emailoctopus: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-emailoctopus/metadata.yaml
  airbyte-integrations/connectors/source-emailoctopus/poetry.lock
  airbyte-integrations/connectors/source-emailoctopus/pyproject.toml
  docs/integrations/sources/emailoctopus.md
Labels: area/documentation, area/connectors, connectors/source/emailoctopus, auto-merge, up-to-date

#40917 🐙 source-microsoft-sharepoint: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-microsoft-sharepoint/metadata.yaml
  airbyte-integrations/connectors/source-microsoft-sharepoint/poetry.lock
  airbyte-integrations/connectors/source-microsoft-sharepoint/pyproject.toml
  docs/integrations/sources/microsoft-sharepoint.md
Labels: area/documentation, area/connectors, connectors/source/microsoft-sharepoint, auto-merge, up-to-date

#40916 🐙 destination-databend: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/destination-databend/metadata.yaml
  airbyte-integrations/connectors/destination-databend/poetry.lock
  airbyte-integrations/connectors/destination-databend/pyproject.toml
  docs/integrations/destinations/databend.md
Labels: area/documentation, area/connectors, connectors/destination/databend, auto-merge, up-to-date

#40915 🐙 source-tiktok-marketing: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-tiktok-marketing/metadata.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/poetry.lock
  airbyte-integrations/connectors/source-tiktok-marketing/pyproject.toml
  docs/integrations/sources/tiktok-marketing.md
Labels: area/documentation, area/connectors, connectors/source/tiktok-marketing, auto-merge, up-to-date

#40914 🐙 source-senseforce: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-senseforce/metadata.yaml
  airbyte-integrations/connectors/source-senseforce/poetry.lock
  airbyte-integrations/connectors/source-senseforce/pyproject.toml
  docs/integrations/sources/senseforce.md
Labels: area/documentation, area/connectors, connectors/source/senseforce, auto-merge, up-to-date

#40913 🐙 source-microsoft-teams: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-microsoft-teams/metadata.yaml
  airbyte-integrations/connectors/source-microsoft-teams/poetry.lock
  airbyte-integrations/connectors/source-microsoft-teams/pyproject.toml
  docs/integrations/sources/microsoft-teams.md
Labels: area/documentation, area/connectors, connectors/source/microsoft-teams, auto-merge, up-to-date

#40912 🐙 source-polygon-stock-api: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-polygon-stock-api/metadata.yaml
  airbyte-integrations/connectors/source-polygon-stock-api/poetry.lock
  airbyte-integrations/connectors/source-polygon-stock-api/pyproject.toml
  docs/integrations/sources/polygon-stock-api.md
Labels: area/documentation, area/connectors, connectors/source/polygon-stock-api, auto-merge, up-to-date

#40911 🐙 source-babelforce: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-babelforce/metadata.yaml
  airbyte-integrations/connectors/source-babelforce/poetry.lock
  airbyte-integrations/connectors/source-babelforce/pyproject.toml
  docs/integrations/sources/babelforce.md
Labels: area/documentation, area/connectors, connectors/source/babelforce, auto-merge, up-to-date

#40910 🐙 source-outreach: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-outreach/metadata.yaml
  airbyte-integrations/connectors/source-outreach/poetry.lock
  airbyte-integrations/connectors/source-outreach/pyproject.toml
  docs/integrations/sources/outreach.md
Labels: area/documentation, area/connectors, connectors/source/outreach, auto-merge, up-to-date

#40909 🐙 source-tplcentral: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-tplcentral/metadata.yaml
  airbyte-integrations/connectors/source-tplcentral/poetry.lock
  airbyte-integrations/connectors/source-tplcentral/pyproject.toml
  docs/integrations/sources/tplcentral.md
Labels: area/documentation, area/connectors, connectors/source/tplcentral, auto-merge, up-to-date

#40908 🐙 source-gridly: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-gridly/metadata.yaml
  airbyte-integrations/connectors/source-gridly/poetry.lock
  airbyte-integrations/connectors/source-gridly/pyproject.toml
  docs/integrations/sources/gridly.md
Labels: area/documentation, area/connectors, connectors/source/gridly, auto-merge, up-to-date

#40907 🐙 destination-aws-datalake: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/destination-aws-datalake/metadata.yaml
  airbyte-integrations/connectors/destination-aws-datalake/poetry.lock
  airbyte-integrations/connectors/destination-aws-datalake/pyproject.toml
  docs/integrations/destinations/aws-datalake.md
Labels: area/documentation, area/connectors, connectors/destination/aws-datalake, auto-merge, up-to-date

#40906 🐙 source-bing-ads: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/poetry.lock
  airbyte-integrations/connectors/source-bing-ads/pyproject.toml
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors, connectors/source/bing-ads, auto-merge, up-to-date

#40905 🐙 source-visma-economic: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-visma-economic/metadata.yaml
  airbyte-integrations/connectors/source-visma-economic/poetry.lock
  airbyte-integrations/connectors/source-visma-economic/pyproject.toml
  docs/integrations/sources/visma-economic.md
Labels: area/documentation, area/connectors, connectors/source/visma-economic, auto-merge, up-to-date

#40904 🐙 source-okta: run up-to-date pipeline [2024-07-06]
  airbyte-integrations/connectors/source-okta/metadata.yaml
  airbyte-integrations/connectors/source-okta/poetry.lock
  airbyte-integrations/connectors/source-okta/pyproject.toml
  docs/integrations/sources/okta.md
Labels: area/documentation, area/connectors, connectors/source/okta, auto-merge, up-to-date
