Repository airbytehq/airbyte, pull requests merged in 2024-11, with the labels that each got.

#47297 Source Fastbill: Migrate to manifest-only format
  airbyte-integrations/connectors/source-fastbill/README.md
  airbyte-integrations/connectors/source-fastbill/__init__.py
  airbyte-integrations/connectors/source-fastbill/acceptance-test-config.yml
  airbyte-integrations/connectors/source-fastbill/components.py
  airbyte-integrations/connectors/source-fastbill/main.py
  airbyte-integrations/connectors/source-fastbill/manifest.yaml
  airbyte-integrations/connectors/source-fastbill/metadata.yaml
  airbyte-integrations/connectors/source-fastbill/poetry.lock
  airbyte-integrations/connectors/source-fastbill/pyproject.toml
  airbyte-integrations/connectors/source-fastbill/source_fastbill/__init__.py
  airbyte-integrations/connectors/source-fastbill/source_fastbill/manifest.yaml
  airbyte-integrations/connectors/source-fastbill/source_fastbill/run.py
  airbyte-integrations/connectors/source-fastbill/source_fastbill/source.py
  airbyte-integrations/connectors/source-fastbill/unit_tests/test_components.py
  docs/integrations/sources/fastbill.md
Labels: area/documentation, area/connectors, connectors/source/fastbill

#48065 source-sftp-bulk: add suuports file transfer flag to metadata
  airbyte-integrations/connectors/source-sftp-bulk/metadata.yaml
Labels: area/connectors, connectors/source/sftp-bulk

#47940 ref(source-amazon-ads): bump cdk to v5
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/spec.json
  airbyte-integrations/connectors/source-amazon-ads/metadata.yaml
  airbyte-integrations/connectors/source-amazon-ads/poetry.lock
  airbyte-integrations/connectors/source-amazon-ads/pyproject.toml
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/declarative_source_adapter.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/run.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/__init__.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/attribution_report.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/attribution_report_performance_adgroup.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/attribution_report_performance_campaign.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/attribution_report_performance_creative.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/attribution_report_products.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/common.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/portfolios.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/profile.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/profiles.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_brands.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_brands_ad_groups.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_brands_campaigns.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_brands_keywords.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_brands_v3_report_stream.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_display.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_display_ad_groups.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_display_budget_rules.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_display_campaigns.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_display_creatives.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_display_product_ads.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_display_report_stream.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_display_targetings.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_product_ad_group_bid_recommendations.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_product_ad_group_suggested_keywords.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_product_ad_groups.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_product_ads.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_product_campaign_negative_keywords.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_product_campaigns.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_product_keywords.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_product_negative_keywords.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_product_targetings.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_products.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_products_report_stream.json
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/source.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/spec.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/attribution_report.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/common.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/portfolios.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/profiles.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/report_streams/brands_report.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/report_streams/display_report.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/report_streams/products_report.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/report_streams/report_stream_models.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/report_streams/report_streams.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/sponsored_brands.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/sponsored_display.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/streams/sponsored_products.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/integrations/utils.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/test_attribution_report.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/test_report_streams.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/test_source.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/test_streams.py
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, area/connectors, connectors/source/amazon-ads

#47978 ✨ [source-chargebee] Allow low-code incremental streams to run within the Concurrent CDK framework
  airbyte-integrations/connectors/source-chargebee/metadata.yaml
  airbyte-integrations/connectors/source-chargebee/poetry.lock
  airbyte-integrations/connectors/source-chargebee/pyproject.toml
  airbyte-integrations/connectors/source-chargebee/source_chargebee/manifest.yaml
  airbyte-integrations/connectors/source-chargebee/source_chargebee/run.py
  airbyte-integrations/connectors/source-chargebee/source_chargebee/source.py
  airbyte-integrations/connectors/source-chargebee/source_chargebee/spec.yaml
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_addon.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_coupon.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_customer.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_event.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_hosted_page.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_plan.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_site_migration_detail.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_subscription.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_subscription_with_scheduled_changes.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_virtual_bank_account.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/resource/config/config.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/test_run.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/test_source.py
  docs/integrations/sources/chargebee.md
Labels: area/documentation, area/connectors, connectors/source/chargebee

#48114 Python-CDK: New text suggestion for raw files option
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/abstract_file_based_spec.py
Labels: CDK

#48119 revert config text change (broke CI)
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/abstract_file_based_spec.py
Labels: CDK

#48115 [source-mongodb] remove extra check on getDatabaseNames
  airbyte-integrations/connectors/source-mongodb-v2/metadata.yaml
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoDbSource.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoUtil.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/MongoDbSourceTest.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/MongoUtilTest.java
  docs/integrations/sources/mongodb-v2.md
Labels: area/documentation, area/connectors, connectors/source/mongodb-v2

#48018 Bulk load CDK: add complex type tests
  airbyte-cdk/bulk/core/load/src/integrationTest/kotlin/io/airbyte/cdk/load/mock_integration_test/MockBasicFunctionalityIntegrationTest.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/AirbyteValue.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/json/JsonToAirbyteValue.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/RecordDiffer.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/BasicFunctionalityIntegrationTest.kt
  airbyte-cdk/bulk/toolkits/load-avro/src/main/kotlin/io/airbyte/cdk/load/data/avro/AirbyteValueToAvroRecord.kt
  airbyte-cdk/bulk/toolkits/load-csv/src/testFixtures/kotlin/io/airbyte/cdk/load/data/csv/CsvRowToAirbyteValue.kt
  airbyte-integrations/connectors/destination-dev-null/src/test-integration/kotlin/io/airbyte/integrations/destination/dev_null/DevNullBasicFunctionalityIntegrationTest.kt
  airbyte-integrations/connectors/destination-s3-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_v2/S3V2WriteTest.kt
Labels: area/connectors, CDK, connectors/destination/dev-null, connectors/destination/s3-v2

#48090 Bulk Load CDK: Object Storage Dst State from Metadata
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/file/StreamProcessor.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/file/object_storage/ObjectStorageClient.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/file/object_storage/ObjectStoragePathFactory.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/state/object_storage/ObjectStorageDestinationStateManager.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/write/object_storage/ObjectStorageStreamLoaderFactory.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/test/kotlin/io/airbyte/cdk/load/file/object_storage/ObjectStoragePathFactoryTest.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/test/kotlin/io/airbyte/cdk/load/state/object_storage/ObjectStorageDestinationStateTest.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/testFixtures/kotlin/io/airbyte/cdk/load/MockObjectStorageClient.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/testFixtures/kotlin/io/airbyte/cdk/load/MockPathFactory.kt
  airbyte-cdk/bulk/toolkits/load-s3/src/main/kotlin/io/airbyte/cdk/load/command/s3/S3PathSpecification.kt
  airbyte-cdk/bulk/toolkits/load-s3/src/main/kotlin/io/airbyte/cdk/load/file/s3/S3Client.kt
  airbyte-integrations/connectors/destination-s3-v2/metadata.yaml
  airbyte-integrations/connectors/destination-s3-v2/src/main/kotlin/S3V2Checker.kt
  airbyte-integrations/connectors/destination-s3-v2/src/main/kotlin/S3V2Specification.kt
  airbyte-integrations/connectors/destination-s3-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_v2/S3V2CheckTest.kt
  airbyte-integrations/connectors/destination-s3-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_v2/S3V2TestUtils.kt
  airbyte-integrations/connectors/destination-s3-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_v2/S3V2WriteTest.kt
  airbyte-integrations/connectors/destination-s3-v2/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-s3-v2/src/test-integration/resources/expected-spec-oss.json
Labels: area/connectors, CDK, connectors/destination/s3-v2

#47313 ✨ Source Zendesk Talk : Migrate to Manifest-only
  airbyte-integrations/connectors/source-zendesk-talk/.coveragerc
  airbyte-integrations/connectors/source-zendesk-talk/.gitignore
  airbyte-integrations/connectors/source-zendesk-talk/README.md
  airbyte-integrations/connectors/source-zendesk-talk/acceptance-test-config.yml
  airbyte-integrations/connectors/source-zendesk-talk/components.py
  airbyte-integrations/connectors/source-zendesk-talk/main.py
  airbyte-integrations/connectors/source-zendesk-talk/manifest.yaml
  airbyte-integrations/connectors/source-zendesk-talk/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-talk/poetry.lock
  airbyte-integrations/connectors/source-zendesk-talk/pyproject.toml
  airbyte-integrations/connectors/source-zendesk-talk/sample_files/configured_catalog_activities_overview.json
  airbyte-integrations/connectors/source-zendesk-talk/sample_files/sample_config.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/__init__.py
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/manifest.yaml
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/run.py
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/schemas/account_overview.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/schemas/addresses.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/schemas/agents_activity.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/schemas/agents_overview.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/schemas/call_legs.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/schemas/calls.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/schemas/current_queue_activity.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/schemas/greeting_categories.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/schemas/greetings.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/schemas/ivr_menus.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/schemas/ivr_routes.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/schemas/ivrs.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/schemas/phone_numbers.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/source.py
  airbyte-integrations/connectors/source-zendesk-talk/unit_tests/test_components.py
  docs/integrations/sources/zendesk-talk.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-talk

#48109 Bulk Load: Mark Completed States as Persisted.
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/state/StreamManager.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/state/StreamManagerTest.kt
  docs/understanding-airbyte/jobs.md
Labels: area/documentation, CDK

#48083 Docs Update: Create new "Writing Connector Documentation" guide
  docs/connector-development/writing-connector-docs.md
  docs/contributing-to-airbyte/writing-docs.md
  docs/integrations/sources/sftp-bulk.md
Labels: area/documentation

#47291 Source Retently: Migrate to manifest-only format with components
  airbyte-integrations/connectors/source-retently/README.md
  airbyte-integrations/connectors/source-retently/__init__.py
  airbyte-integrations/connectors/source-retently/acceptance-test-config.yml
  airbyte-integrations/connectors/source-retently/components.py
  airbyte-integrations/connectors/source-retently/main.py
  airbyte-integrations/connectors/source-retently/manifest.yaml
  airbyte-integrations/connectors/source-retently/metadata.yaml
  airbyte-integrations/connectors/source-retently/poetry.lock
  airbyte-integrations/connectors/source-retently/pyproject.toml
  airbyte-integrations/connectors/source-retently/source_retently/__init__.py
  airbyte-integrations/connectors/source-retently/source_retently/manifest.yaml
  airbyte-integrations/connectors/source-retently/source_retently/run.py
  airbyte-integrations/connectors/source-retently/source_retently/source.py
  airbyte-integrations/connectors/source-retently/source_retently/spec.yaml
  docs/integrations/sources/retently.md
Labels: area/documentation, area/connectors, connectors/source/retently

#44898 Source Zendesk Chat: Migrate to new base URL as per official update
  airbyte-integrations/connectors/source-zendesk-chat/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-chat/pyproject.toml
  airbyte-integrations/connectors/source-zendesk-chat/source_zendesk_chat/manifest.yaml
  airbyte-integrations/connectors/source-zendesk-chat/source_zendesk_chat/spec.json
  airbyte-integrations/connectors/source-zendesk-chat/unit_tests/components/test_bans_record_extractor.py
  airbyte-integrations/connectors/source-zendesk-chat/unit_tests/components/test_id_offset_pagination.py
  airbyte-integrations/connectors/source-zendesk-chat/unit_tests/components/test_time_offset_pagination.py
  docs/integrations/sources/zendesk-chat-migrations.md
  docs/integrations/sources/zendesk-chat.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-chat

#48129 docs: updated changelog
  docs/integrations/enterprise-connectors/source-workday.md
Labels: area/documentation

#48135 🐛 Source Amazon Ads: Fix heartbeat issues on report processing
  airbyte-integrations/connectors/source-amazon-ads/metadata.yaml
Labels: area/connectors, connectors/source/amazon-ads

#48107 Bulk load CDK: First test for refreshes behavior
  airbyte-cdk/bulk/core/load/src/integrationTest/kotlin/io/airbyte/cdk/load/mock_integration_test/MockBasicFunctionalityIntegrationTest.kt
  airbyte-cdk/bulk/core/load/src/integrationTest/kotlin/io/airbyte/cdk/load/mock_integration_test/MockDestinationBackend.kt
  airbyte-cdk/bulk/core/load/src/integrationTest/kotlin/io/airbyte/cdk/load/mock_integration_test/MockDestinationWriter.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/IntegrationTest.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/destination_process/DestinationUncleanExitException.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/destination_process/DockerizedDestination.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/destination_process/NonDockerizedDestination.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/BasicFunctionalityIntegrationTest.kt
  airbyte-integrations/connectors/destination-dev-null/src/test-integration/kotlin/io/airbyte/integrations/destination/dev_null/DevNullBasicFunctionalityIntegrationTest.kt
  airbyte-integrations/connectors/destination-s3-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_v2/S3V2WriteTest.kt
Labels: area/connectors, CDK, connectors/destination/dev-null, connectors/destination/s3-v2

#48134 Destination mssql: remove incorrect dedupe sync mode
  airbyte-integrations/connectors/destination-mssql-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/destination-mssql/metadata.yaml
  airbyte-integrations/connectors/destination-mssql/src/main/resources/spec.json
  docs/integrations/destinations/mssql.md
Labels: area/documentation, area/connectors, connectors/destination/mssql, connectors/destination/mssql-strict-encrypt

#47420 source-onfleet contribution from aazam-gh
  airbyte-integrations/connectors/source-onfleet/README.md
  airbyte-integrations/connectors/source-onfleet/acceptance-test-config.yml
  airbyte-integrations/connectors/source-onfleet/icon.svg
  airbyte-integrations/connectors/source-onfleet/manifest.yaml
  airbyte-integrations/connectors/source-onfleet/metadata.yaml
  docs/integrations/sources/onfleet.md
Labels: area/documentation, area/connectors, community, hack-2024-10, connectors/source/onfleet

#48133 fix: fix `error message pattern` to handle the `Product 1.0 catalog` related issues
  airbyte-integrations/connectors/source-chargebee/acceptance-test-config.yml
  airbyte-integrations/connectors/source-chargebee/metadata.yaml
  airbyte-integrations/connectors/source-chargebee/pyproject.toml
  airbyte-integrations/connectors/source-chargebee/source_chargebee/manifest.yaml
  docs/integrations/sources/chargebee.md
Labels: area/documentation, area/connectors, connectors/source/chargebee

#47429 source-revolut-merchant contribution from aazam-gh
  airbyte-integrations/connectors/source-revolut-merchant/README.md
  airbyte-integrations/connectors/source-revolut-merchant/acceptance-test-config.yml
  airbyte-integrations/connectors/source-revolut-merchant/icon.svg
  airbyte-integrations/connectors/source-revolut-merchant/manifest.yaml
  airbyte-integrations/connectors/source-revolut-merchant/metadata.yaml
  docs/integrations/sources/revolut-merchant.md
Labels: area/documentation, area/connectors, community, hack-2024-10, connectors/source/revolut-merchant

#48136 source-stripe: add subsciption_schedule to empty streams to make CAT pass
  airbyte-integrations/connectors/source-stripe/acceptance-test-config.yml
Labels: area/connectors, connectors/source/stripe

#47477 source-akeneo contribution from parthiv11
  airbyte-integrations/connectors/source-akeneo/README.md
  airbyte-integrations/connectors/source-akeneo/acceptance-test-config.yml
  airbyte-integrations/connectors/source-akeneo/icon.svg
  airbyte-integrations/connectors/source-akeneo/manifest.yaml
  airbyte-integrations/connectors/source-akeneo/metadata.yaml
  docs/integrations/sources/akeneo.md
Labels: area/documentation, area/connectors, community, hack-2024-10, connectors/source/akeneo

#47481 source-e-conomic contribution from parthiv11
  airbyte-integrations/connectors/source-e-conomic/README.md
  airbyte-integrations/connectors/source-e-conomic/acceptance-test-config.yml
  airbyte-integrations/connectors/source-e-conomic/icon.svg
  airbyte-integrations/connectors/source-e-conomic/manifest.yaml
  airbyte-integrations/connectors/source-e-conomic/metadata.yaml
  docs/integrations/sources/e-conomic.md
Labels: area/documentation, area/connectors, community, hack-2024-10, connectors/source/e-conomic

#47486 source-eventee contribution from parthiv11
  airbyte-integrations/connectors/source-eventee/README.md
  airbyte-integrations/connectors/source-eventee/acceptance-test-config.yml
  airbyte-integrations/connectors/source-eventee/icon.svg
  airbyte-integrations/connectors/source-eventee/manifest.yaml
  airbyte-integrations/connectors/source-eventee/metadata.yaml
  docs/integrations/sources/eventee.md
Labels: area/documentation, area/connectors, community, hack-2024-10, connectors/source/eventee

#48162 🐙 destination-xata: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/destination-xata/metadata.yaml
  airbyte-integrations/connectors/destination-xata/poetry.lock
  airbyte-integrations/connectors/destination-xata/pyproject.toml
  docs/integrations/destinations/xata.md
Labels: area/documentation, area/connectors, connectors/destination/xata, auto-merge, up-to-date

#48160 🐙 source-mixmax: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-mixmax/metadata.yaml
  docs/integrations/sources/mixmax.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/mixmax

#48158 🐙 source-height: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-height/metadata.yaml
  docs/integrations/sources/height.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/height

#48157 🐙 source-planhat: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-planhat/metadata.yaml
  docs/integrations/sources/planhat.md
Labels: area/documentation, area/connectors, connectors/source/planhat, auto-merge, up-to-date

#48156 🐙 source-cimis: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-cimis/metadata.yaml
  docs/integrations/sources/cimis.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/cimis

#48154 🐙 source-firebolt: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-firebolt/metadata.yaml
  airbyte-integrations/connectors/source-firebolt/poetry.lock
  airbyte-integrations/connectors/source-firebolt/pyproject.toml
  docs/integrations/sources/firebolt.md
Labels: area/documentation, area/connectors, connectors/source/firebolt, auto-merge, up-to-date

#48152 🐙 source-guru: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-guru/metadata.yaml
  docs/integrations/sources/guru.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/guru

#48151 🐙 source-kissmetrics: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-kissmetrics/metadata.yaml
  docs/integrations/sources/kissmetrics.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/kissmetrics

#48149 🐙 source-teamwork: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-teamwork/metadata.yaml
  docs/integrations/sources/teamwork.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/teamwork

#48146 🐙 source-copper: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-copper/metadata.yaml
  docs/integrations/sources/copper.md
Labels: area/documentation, area/connectors, connectors/source/copper, auto-merge, up-to-date

#48145 🐙 source-fleetio: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-fleetio/metadata.yaml
  docs/integrations/sources/fleetio.md
Labels: area/documentation, area/connectors, connectors/source/fleetio, auto-merge, up-to-date

#48143 🐙 source-news-api: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-news-api/metadata.yaml
  docs/integrations/sources/news-api.md
Labels: area/documentation, area/connectors, connectors/source/news-api, auto-merge, up-to-date

#48142 🐙 source-thinkific: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-thinkific/metadata.yaml
  docs/integrations/sources/thinkific.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/thinkific

#47868 🐙 source-mode: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-mode/metadata.yaml
  docs/integrations/sources/mode.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/mode

#47831 🐙 source-dropbox-sign: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-dropbox-sign/metadata.yaml
  docs/integrations/sources/dropbox-sign.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/dropbox-sign

#43726 🐙 source-cart: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-cart/metadata.yaml
  airbyte-integrations/connectors/source-cart/poetry.lock
  airbyte-integrations/connectors/source-cart/pyproject.toml
  docs/integrations/sources/cart.md
Labels: area/documentation, area/connectors, connectors/source/cart, auto-merge, up-to-date

#46881 source-zoho-campaign contribution from bishalbera
  airbyte-integrations/connectors/source-zoho-campaign/README.md
  airbyte-integrations/connectors/source-zoho-campaign/acceptance-test-config.yml
  airbyte-integrations/connectors/source-zoho-campaign/icon.svg
  airbyte-integrations/connectors/source-zoho-campaign/manifest.yaml
  airbyte-integrations/connectors/source-zoho-campaign/metadata.yaml
  docs/integrations/sources/zoho-campaign.md
Labels: area/documentation, area/connectors, community, hack-2024-10, connectors/source/zoho-campaign

#47298 Source Salesloft: Migrate to manifest-only format with components
  airbyte-integrations/connectors/source-salesloft/README.md
  airbyte-integrations/connectors/source-salesloft/__init__.py
  airbyte-integrations/connectors/source-salesloft/acceptance-test-config.yml
  airbyte-integrations/connectors/source-salesloft/components.py
  airbyte-integrations/connectors/source-salesloft/main.py
  airbyte-integrations/connectors/source-salesloft/manifest.yaml
  airbyte-integrations/connectors/source-salesloft/metadata.yaml
  airbyte-integrations/connectors/source-salesloft/poetry.lock
  airbyte-integrations/connectors/source-salesloft/pyproject.toml
  airbyte-integrations/connectors/source-salesloft/source_salesloft/__init__.py
  airbyte-integrations/connectors/source-salesloft/source_salesloft/manifest.yaml
  airbyte-integrations/connectors/source-salesloft/source_salesloft/run.py
  airbyte-integrations/connectors/source-salesloft/source_salesloft/source.py
  airbyte-integrations/connectors/source-salesloft/unit_tests/conftest.py
  airbyte-integrations/connectors/source-salesloft/unit_tests/test_source.py
  airbyte-integrations/connectors/source-salesloft/unit_tests/test_streams.py
  docs/integrations/sources/salesloft.md
Labels: area/documentation, area/connectors, connectors/source/salesloft

#48203 🐙 source-mailersend: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-mailersend/metadata.yaml
  docs/integrations/sources/mailersend.md
Labels: area/documentation, area/connectors, connectors/source/mailersend, auto-merge, up-to-date

#48202 🐙 source-microsoft-lists: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-microsoft-lists/metadata.yaml
  docs/integrations/sources/microsoft-lists.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/microsoft-lists

#48200 🐙 source-tplcentral: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-tplcentral/metadata.yaml
  airbyte-integrations/connectors/source-tplcentral/poetry.lock
  airbyte-integrations/connectors/source-tplcentral/pyproject.toml
  docs/integrations/sources/tplcentral.md
Labels: area/documentation, area/connectors, connectors/source/tplcentral, auto-merge, up-to-date

#48199 🐙 source-hubspot: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/poetry.lock
  airbyte-integrations/connectors/source-hubspot/pyproject.toml
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot, auto-merge, up-to-date

#48196 🐙 source-ashby: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-ashby/metadata.yaml
  docs/integrations/sources/ashby.md
Labels: area/documentation, area/connectors, connectors/source/ashby, auto-merge, up-to-date

#48191 🐙 destination-qdrant: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/destination-qdrant/metadata.yaml
  airbyte-integrations/connectors/destination-qdrant/poetry.lock
  airbyte-integrations/connectors/destination-qdrant/pyproject.toml
  docs/integrations/destinations/qdrant.md
Labels: area/documentation, area/connectors, connectors/destination/qdrant, auto-merge, up-to-date

#48190 🐙 source-kyve: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-kyve/metadata.yaml
  airbyte-integrations/connectors/source-kyve/poetry.lock
  airbyte-integrations/connectors/source-kyve/pyproject.toml
  docs/integrations/sources/kyve.md
Labels: area/documentation, area/connectors, connectors/source/kyve, auto-merge, up-to-date

#48189 🐙 source-oura: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-oura/metadata.yaml
  docs/integrations/sources/oura.md
Labels: area/documentation, area/connectors, connectors/source/oura, auto-merge, up-to-date

#48188 🐙 source-sharetribe: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-sharetribe/metadata.yaml
  docs/integrations/sources/sharetribe.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/sharetribe

#48187 🐙 source-clazar: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-clazar/metadata.yaml
  docs/integrations/sources/clazar.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/clazar

#48186 🐙 source-commercetools: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-commercetools/metadata.yaml
  airbyte-integrations/connectors/source-commercetools/poetry.lock
  airbyte-integrations/connectors/source-commercetools/pyproject.toml
  docs/integrations/sources/commercetools.md
Labels: area/documentation, area/connectors, connectors/source/commercetools, auto-merge, up-to-date

#48185 🐙 source-smartsheets: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-smartsheets/metadata.yaml
  airbyte-integrations/connectors/source-smartsheets/poetry.lock
  airbyte-integrations/connectors/source-smartsheets/pyproject.toml
  docs/integrations/sources/smartsheets.md
Labels: area/documentation, area/connectors, connectors/source/smartsheets, auto-merge, up-to-date

#48184 🐙 source-partnerstack: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-partnerstack/metadata.yaml
  airbyte-integrations/connectors/source-partnerstack/poetry.lock
  airbyte-integrations/connectors/source-partnerstack/pyproject.toml
  docs/integrations/sources/partnerstack.md
Labels: area/documentation, area/connectors, connectors/source/partnerstack, auto-merge, up-to-date

#48183 🐙 source-codefresh: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-codefresh/metadata.yaml
  docs/integrations/sources/codefresh.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/codefresh

#48182 🐙 source-algolia: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-algolia/metadata.yaml
  docs/integrations/sources/algolia.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/algolia

#48180 🐙 source-ezofficeinventory: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-ezofficeinventory/metadata.yaml
  docs/integrations/sources/ezofficeinventory.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/ezofficeinventory

#48179 🐙 source-jotform: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-jotform/metadata.yaml
  docs/integrations/sources/jotform.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/jotform

#48177 🐙 source-captain-data: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-captain-data/metadata.yaml
  docs/integrations/sources/captain-data.md
Labels: area/documentation, area/connectors, connectors/source/captain-data, auto-merge, up-to-date

#48175 🐙 source-asana: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-asana/metadata.yaml
  airbyte-integrations/connectors/source-asana/poetry.lock
  airbyte-integrations/connectors/source-asana/pyproject.toml
  docs/integrations/sources/asana.md
Labels: area/documentation, area/connectors, connectors/source/asana, auto-merge, up-to-date

#48174 🐙 source-7shifts: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-7shifts/metadata.yaml
  docs/integrations/sources/7shifts.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/7shifts

#48173 🐙 source-zoho-books: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-zoho-books/metadata.yaml
  docs/integrations/sources/zoho-books.md
Labels: area/documentation, area/connectors, connectors/source/zoho-books, auto-merge, up-to-date

#48171 🐙 source-bitly: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-bitly/metadata.yaml
  docs/integrations/sources/bitly.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/bitly

#48170 🐙 source-jina-ai-reader: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-jina-ai-reader/metadata.yaml
  airbyte-integrations/connectors/source-jina-ai-reader/poetry.lock
  airbyte-integrations/connectors/source-jina-ai-reader/pyproject.toml
  docs/integrations/sources/jina-ai-reader.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/jina-ai-reader

#48169 🐙 source-bing-ads: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/poetry.lock
  airbyte-integrations/connectors/source-bing-ads/pyproject.toml
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors, connectors/source/bing-ads, auto-merge, up-to-date

#48168 🐙 source-surveymonkey: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-surveymonkey/metadata.yaml
  airbyte-integrations/connectors/source-surveymonkey/poetry.lock
  airbyte-integrations/connectors/source-surveymonkey/pyproject.toml
  docs/integrations/sources/surveymonkey.md
Labels: area/documentation, area/connectors, connectors/source/surveymonkey, auto-merge, up-to-date

#48167 🐙 source-twelve-data: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-twelve-data/metadata.yaml
  docs/integrations/sources/twelve-data.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/twelve-data

#48166 🐙 source-senseforce: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-senseforce/metadata.yaml
  docs/integrations/sources/senseforce.md
Labels: area/documentation, area/connectors, connectors/source/senseforce, auto-merge, up-to-date

#48164 🐙 source-justcall: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-justcall/metadata.yaml
  docs/integrations/sources/justcall.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/justcall

#48155 🐙 source-facebook-marketing: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/poetry.lock
  airbyte-integrations/connectors/source-facebook-marketing/pyproject.toml
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing, auto-merge, up-to-date

#47933 🐙 source-close-com: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-close-com/metadata.yaml
  airbyte-integrations/connectors/source-close-com/poetry.lock
  airbyte-integrations/connectors/source-close-com/pyproject.toml
  docs/integrations/sources/close-com.md
Labels: area/documentation, area/connectors, connectors/source/close-com, auto-merge, up-to-date

#47910 🐙 source-tyntec-sms: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-tyntec-sms/metadata.yaml
  docs/integrations/sources/tyntec-sms.md
Labels: area/documentation, area/connectors, connectors/source/tyntec-sms, auto-merge, up-to-date

#47842 🐙 source-incident-io: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-incident-io/metadata.yaml
  docs/integrations/sources/incident-io.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/incident-io

#47828 🐙 source-uppromote: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-uppromote/metadata.yaml
  docs/integrations/sources/uppromote.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/uppromote

#47658 🐙 source-shortcut: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-shortcut/metadata.yaml
  docs/integrations/sources/shortcut.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/shortcut

#47107 🐙 source-zenloop: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-zenloop/metadata.yaml
  airbyte-integrations/connectors/source-zenloop/poetry.lock
  airbyte-integrations/connectors/source-zenloop/pyproject.toml
  docs/integrations/sources/zenloop.md
Labels: area/documentation, area/connectors, connectors/source/zenloop, auto-merge, up-to-date

#46863 source-zoho-desk contribution from itsxdamdam
  airbyte-integrations/connectors/source-zoho-desk/README.md
  airbyte-integrations/connectors/source-zoho-desk/acceptance-test-config.yml
  airbyte-integrations/connectors/source-zoho-desk/icon.svg
  airbyte-integrations/connectors/source-zoho-desk/manifest.yaml
  airbyte-integrations/connectors/source-zoho-desk/metadata.yaml
  docs/integrations/sources/zoho-desk.md
Labels: area/documentation, area/connectors, community, connectors/source/zoho-desk, hack-2024-10

#47029 🐙 destination-cumulio: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/destination-cumulio/metadata.yaml
  airbyte-integrations/connectors/destination-cumulio/poetry.lock
  airbyte-integrations/connectors/destination-cumulio/pyproject.toml
  docs/integrations/destinations/cumulio.md
Labels: area/documentation, area/connectors, connectors/destination/cumulio, auto-merge, up-to-date

#43855 🐙 source-sentry: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-sentry/metadata.yaml
  airbyte-integrations/connectors/source-sentry/poetry.lock
  airbyte-integrations/connectors/source-sentry/pyproject.toml
  docs/integrations/sources/sentry.md
Labels: area/documentation, area/connectors, connectors/source/sentry, auto-merge, up-to-date

#48258 🐙 source-mention: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-mention/metadata.yaml
  docs/integrations/sources/mention.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/mention

#48257 🐙 source-northpass-lms: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-northpass-lms/metadata.yaml
  docs/integrations/sources/northpass-lms.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/northpass-lms

#48254 🐙 source-veeqo: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-veeqo/metadata.yaml
  docs/integrations/sources/veeqo.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/veeqo

#48252 🐙 source-rss: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-rss/metadata.yaml
  airbyte-integrations/connectors/source-rss/poetry.lock
  airbyte-integrations/connectors/source-rss/pyproject.toml
  docs/integrations/sources/rss.md
Labels: area/documentation, area/connectors, connectors/source/rss, auto-merge, up-to-date

#48250 🐙 source-chameleon: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-chameleon/metadata.yaml
  docs/integrations/sources/chameleon.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/chameleon

#48249 🐙 source-picqer: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-picqer/metadata.yaml
  docs/integrations/sources/picqer.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/picqer

#48248 🐙 source-recurly: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-recurly/metadata.yaml
  airbyte-integrations/connectors/source-recurly/poetry.lock
  airbyte-integrations/connectors/source-recurly/pyproject.toml
  docs/integrations/sources/recurly.md
Labels: area/documentation, area/connectors, connectors/source/recurly, auto-merge, up-to-date

#48247 🐙 source-persona: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-persona/metadata.yaml
  docs/integrations/sources/persona.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/persona

#48244 🐙 destination-weaviate: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/destination-weaviate/metadata.yaml
  airbyte-integrations/connectors/destination-weaviate/poetry.lock
  airbyte-integrations/connectors/destination-weaviate/pyproject.toml
  docs/integrations/destinations/weaviate.md
Labels: area/documentation, area/connectors, connectors/destination/weaviate, auto-merge, up-to-date

#48243 🐙 destination-aws-datalake: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/destination-aws-datalake/metadata.yaml
  airbyte-integrations/connectors/destination-aws-datalake/poetry.lock
  airbyte-integrations/connectors/destination-aws-datalake/pyproject.toml
  docs/integrations/destinations/aws-datalake.md
Labels: area/documentation, area/connectors, connectors/destination/aws-datalake, auto-merge, up-to-date

#48242 🐙 source-recharge: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-recharge/metadata.yaml
  airbyte-integrations/connectors/source-recharge/poetry.lock
  airbyte-integrations/connectors/source-recharge/pyproject.toml
  docs/integrations/sources/recharge.md
Labels: area/documentation, area/connectors, connectors/source/recharge, auto-merge, up-to-date

#48240 🐙 source-rootly: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-rootly/metadata.yaml
  docs/integrations/sources/rootly.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/rootly

#48236 🐙 destination-chroma: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/destination-chroma/metadata.yaml
  airbyte-integrations/connectors/destination-chroma/poetry.lock
  airbyte-integrations/connectors/destination-chroma/pyproject.toml
  docs/integrations/destinations/chroma.md
Labels: area/documentation, area/connectors, connectors/destination/chroma, auto-merge, up-to-date

#48235 🐙 source-canny: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-canny/metadata.yaml
  docs/integrations/sources/canny.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/canny

#48234 🐙 source-bigcommerce: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-bigcommerce/metadata.yaml
  docs/integrations/sources/bigcommerce.md
Labels: area/documentation, area/connectors, connectors/source/bigcommerce, auto-merge, up-to-date

#48233 🐙 source-squarespace: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-squarespace/metadata.yaml
  docs/integrations/sources/squarespace.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/squarespace

#48232 🐙 source-campaign-monitor: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-campaign-monitor/metadata.yaml
  docs/integrations/sources/campaign-monitor.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/campaign-monitor

#48231 🐙 source-mux: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-mux/metadata.yaml
  docs/integrations/sources/mux.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/mux

#48230 🐙 source-public-apis: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-public-apis/metadata.yaml
  airbyte-integrations/connectors/source-public-apis/poetry.lock
  airbyte-integrations/connectors/source-public-apis/pyproject.toml
  docs/integrations/sources/public-apis.md
Labels: area/documentation, area/connectors, connectors/source/public-apis, auto-merge, up-to-date

#48228 🐙 source-buzzsprout: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-buzzsprout/metadata.yaml
  docs/integrations/sources/buzzsprout.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/buzzsprout

#48226 🐙 source-lob: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-lob/metadata.yaml
  docs/integrations/sources/lob.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/lob

#48225 🐙 source-customer-io: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-customer-io/metadata.yaml
  docs/integrations/sources/customer-io.md
Labels: area/documentation, area/connectors, connectors/source/customer-io, auto-merge, up-to-date

#48223 🐙 destination-firestore: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/destination-firestore/metadata.yaml
  airbyte-integrations/connectors/destination-firestore/poetry.lock
  airbyte-integrations/connectors/destination-firestore/pyproject.toml
  docs/integrations/destinations/firestore.md
Labels: area/documentation, area/connectors, connectors/destination/firestore, auto-merge, up-to-date

#48222 🐙 destination-vectara: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/destination-vectara/metadata.yaml
  airbyte-integrations/connectors/destination-vectara/poetry.lock
  airbyte-integrations/connectors/destination-vectara/pyproject.toml
  docs/integrations/destinations/vectara.md
Labels: area/documentation, area/connectors, connectors/destination/vectara, auto-merge, up-to-date

#48221 🐙 source-genesys: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-genesys/metadata.yaml
  airbyte-integrations/connectors/source-genesys/poetry.lock
  airbyte-integrations/connectors/source-genesys/pyproject.toml
  docs/integrations/sources/genesys.md
Labels: area/documentation, area/connectors, connectors/source/genesys, auto-merge, up-to-date

#48219 🐙 source-xsolla: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-xsolla/metadata.yaml
  docs/integrations/sources/xsolla.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/xsolla

#48217 🐙 source-convertkit: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-convertkit/metadata.yaml
  docs/integrations/sources/convertkit.md
Labels: area/documentation, area/connectors, connectors/source/convertkit, auto-merge, up-to-date

#48215 🐙 source-concord: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-concord/metadata.yaml
  docs/integrations/sources/concord.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/concord

#48213 🐙 source-you-need-a-budget-ynab: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-you-need-a-budget-ynab/metadata.yaml
  docs/integrations/sources/you-need-a-budget-ynab.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/you-need-a-budget-ynab

#48212 🐙 source-braintree: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-braintree/metadata.yaml
  airbyte-integrations/connectors/source-braintree/poetry.lock
  airbyte-integrations/connectors/source-braintree/pyproject.toml
  docs/integrations/sources/braintree.md
Labels: area/documentation, area/connectors, connectors/source/braintree, auto-merge, up-to-date

#48210 🐙 source-pandadoc: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-pandadoc/metadata.yaml
  docs/integrations/sources/pandadoc.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/pandadoc

#48207 🐙 destination-meilisearch: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/destination-meilisearch/metadata.yaml
  airbyte-integrations/connectors/destination-meilisearch/poetry.lock
  airbyte-integrations/connectors/destination-meilisearch/pyproject.toml
  docs/integrations/destinations/meilisearch.md
Labels: area/documentation, area/connectors, connectors/destination/meilisearch, auto-merge, up-to-date

#48206 🐙 source-google-analytics-v4: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-google-analytics-v4/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-v4/poetry.lock
  airbyte-integrations/connectors/source-google-analytics-v4/pyproject.toml
  docs/integrations/sources/google-analytics-v4.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-v4, auto-merge, up-to-date

#48205 🐙 source-chargedesk: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-chargedesk/metadata.yaml
  docs/integrations/sources/chargedesk.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/chargedesk

#47909 🐙 source-teamtailor: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-teamtailor/metadata.yaml
  docs/integrations/sources/teamtailor.md
Labels: area/documentation, area/connectors, connectors/source/teamtailor, auto-merge, up-to-date

#47902 🐙 source-pennylane: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-pennylane/metadata.yaml
  docs/integrations/sources/pennylane.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/pennylane

#47900 🐙 source-okta: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-okta/metadata.yaml
  airbyte-integrations/connectors/source-okta/poetry.lock
  airbyte-integrations/connectors/source-okta/pyproject.toml
  docs/integrations/sources/okta.md
Labels: area/documentation, area/connectors, connectors/source/okta, auto-merge, up-to-date

#47865 🐙 source-coassemble: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-coassemble/metadata.yaml
  docs/integrations/sources/coassemble.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/coassemble

#47816 🐙 source-savvycal: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-savvycal/metadata.yaml
  docs/integrations/sources/savvycal.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/savvycal

#47773 🐙 source-testrail: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-testrail/metadata.yaml
  docs/integrations/sources/testrail.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/testrail

#47086 🐙 source-looker: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-looker/metadata.yaml
  airbyte-integrations/connectors/source-looker/poetry.lock
  airbyte-integrations/connectors/source-looker/pyproject.toml
  docs/integrations/sources/looker.md
Labels: area/documentation, area/connectors, connectors/source/looker, auto-merge, up-to-date

#47041 🐙 source-firebase-realtime-database: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-firebase-realtime-database/metadata.yaml
  airbyte-integrations/connectors/source-firebase-realtime-database/poetry.lock
  airbyte-integrations/connectors/source-firebase-realtime-database/pyproject.toml
  docs/integrations/sources/firebase-realtime-database.md
Labels: area/documentation, area/connectors, connectors/source/firebase-realtime-database, auto-merge, up-to-date

#47290 Source Recurly: Migrate to manifest-only format with components
  airbyte-integrations/connectors/source-recurly/README.md
  airbyte-integrations/connectors/source-recurly/acceptance-test-config.yml
  airbyte-integrations/connectors/source-recurly/components.py
  airbyte-integrations/connectors/source-recurly/main.py
  airbyte-integrations/connectors/source-recurly/manifest.yaml
  airbyte-integrations/connectors/source-recurly/metadata.yaml
  airbyte-integrations/connectors/source-recurly/poetry.lock
  airbyte-integrations/connectors/source-recurly/pyproject.toml
  airbyte-integrations/connectors/source-recurly/source_recurly/__init__.py
  airbyte-integrations/connectors/source-recurly/source_recurly/manifest.yaml
  airbyte-integrations/connectors/source-recurly/source_recurly/run.py
  airbyte-integrations/connectors/source-recurly/source_recurly/source.py
  airbyte-integrations/connectors/source-recurly/unit_tests/__init__.py
  airbyte-integrations/connectors/source-recurly/unit_tests/conftest.py
  airbyte-integrations/connectors/source-recurly/unit_tests/test_streams.py
  docs/integrations/sources/recurly.md
Labels: area/documentation, area/connectors, connectors/source/recurly

#48298 🐙 source-castor-edc: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-castor-edc/metadata.yaml
  docs/integrations/sources/castor-edc.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/castor-edc

#48297 🐙 source-ticketmaster: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-ticketmaster/metadata.yaml
  docs/integrations/sources/ticketmaster.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/ticketmaster

#48295 🐙 source-gocardless: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-gocardless/metadata.yaml
  docs/integrations/sources/gocardless.md
Labels: area/documentation, area/connectors, connectors/source/gocardless, auto-merge, up-to-date

#48294 🐙 source-iterable: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-iterable/metadata.yaml
  airbyte-integrations/connectors/source-iterable/poetry.lock
  airbyte-integrations/connectors/source-iterable/pyproject.toml
  docs/integrations/sources/iterable.md
Labels: area/documentation, area/connectors, connectors/source/iterable, auto-merge, up-to-date

#48293 🐙 source-pipedrive: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-pipedrive/metadata.yaml
  airbyte-integrations/connectors/source-pipedrive/poetry.lock
  airbyte-integrations/connectors/source-pipedrive/pyproject.toml
  docs/integrations/sources/pipedrive.md
Labels: area/documentation, area/connectors, connectors/source/pipedrive, auto-merge, up-to-date

#48292 🐙 source-leadfeeder: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-leadfeeder/metadata.yaml
  docs/integrations/sources/leadfeeder.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/leadfeeder

#48291 🐙 source-flexport: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-flexport/metadata.yaml
  docs/integrations/sources/flexport.md
Labels: area/documentation, area/connectors, connectors/source/flexport, auto-merge, up-to-date

#48290 🐙 source-uservoice: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-uservoice/metadata.yaml
  docs/integrations/sources/uservoice.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/uservoice

#48289 🐙 source-productive: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-productive/metadata.yaml
  docs/integrations/sources/productive.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/productive

#48287 🐙 source-workramp: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-workramp/metadata.yaml
  docs/integrations/sources/workramp.md
Labels: area/documentation, area/connectors, connectors/source/workramp, auto-merge, up-to-date

#48283 🐙 source-countercyclical: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-countercyclical/metadata.yaml
  docs/integrations/sources/countercyclical.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/countercyclical

#48281 🐙 destination-google-sheets: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/destination-google-sheets/metadata.yaml
  airbyte-integrations/connectors/destination-google-sheets/poetry.lock
  airbyte-integrations/connectors/destination-google-sheets/pyproject.toml
  docs/integrations/destinations/google-sheets.md
Labels: area/documentation, area/connectors, connectors/destination/google-sheets, auto-merge, up-to-date

#48280 🐙 source-pinterest: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  airbyte-integrations/connectors/source-pinterest/poetry.lock
  airbyte-integrations/connectors/source-pinterest/pyproject.toml
  docs/integrations/sources/pinterest.md
Labels: area/documentation, area/connectors, connectors/source/pinterest, auto-merge, up-to-date

#48279 🐙 source-calendly: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-calendly/metadata.yaml
  docs/integrations/sources/calendly.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/calendly

#48278 🐙 source-survicate: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-survicate/metadata.yaml
  docs/integrations/sources/survicate.md
Labels: area/documentation, area/connectors, connectors/source/survicate, auto-merge, up-to-date

#48277 🐙 source-free-agent-connector: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-free-agent-connector/metadata.yaml
  docs/integrations/sources/free-agent-connector.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/free-agent-connector

#48276 🐙 source-illumina-basespace: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-illumina-basespace/metadata.yaml
  docs/integrations/sources/illumina-basespace.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/illumina-basespace

#48275 🐙 source-whisky-hunter: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-whisky-hunter/metadata.yaml
  docs/integrations/sources/whisky-hunter.md
Labels: area/documentation, area/connectors, connectors/source/whisky-hunter, auto-merge, up-to-date

#48274 🐙 source-microsoft-onedrive: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-microsoft-onedrive/metadata.yaml
  airbyte-integrations/connectors/source-microsoft-onedrive/poetry.lock
  airbyte-integrations/connectors/source-microsoft-onedrive/pyproject.toml
  docs/integrations/sources/microsoft-onedrive.md
Labels: area/documentation, area/connectors, connectors/source/microsoft-onedrive, auto-merge, up-to-date

#48272 🐙 destination-databend: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/destination-databend/metadata.yaml
  airbyte-integrations/connectors/destination-databend/poetry.lock
  airbyte-integrations/connectors/destination-databend/pyproject.toml
  docs/integrations/destinations/databend.md
Labels: area/documentation, area/connectors, connectors/destination/databend, auto-merge, up-to-date

#48271 🐙 source-linnworks: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-linnworks/metadata.yaml
  airbyte-integrations/connectors/source-linnworks/poetry.lock
  airbyte-integrations/connectors/source-linnworks/pyproject.toml
  docs/integrations/sources/linnworks.md
Labels: area/documentation, area/connectors, connectors/source/linnworks, auto-merge, up-to-date

#48270 🐙 source-vercel: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-vercel/metadata.yaml
  docs/integrations/sources/vercel.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/vercel

#48269 🐙 source-web-scrapper: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-web-scrapper/metadata.yaml
  docs/integrations/sources/web-scrapper.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/web-scrapper

#48268 🐙 source-circa: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-circa/metadata.yaml
  docs/integrations/sources/circa.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/circa

#48267 🐙 source-appcues: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-appcues/metadata.yaml
  docs/integrations/sources/appcues.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/appcues

#48265 🐙 source-qonto: run up-to-date pipeline [2024-11-04]
  airbyte-integrations/connectors/source-qonto/metadata.yaml
  docs/integrations/sources/qonto.md
Labels: area/documentation, area/connectors, connectors/source/qonto, auto-merge, up-to-date
