Repository airbytehq/airbyte, pull requests merged in 2024-12, with the labels that each got.

#48754 Read schema history with a clean instance of FileSchemaHistory to pre…
  airbyte-cdk/bulk/toolkits/extract-cdc/src/main/kotlin/io/airbyte/cdk/read/cdc/DebeziumStateFilesAccessor.kt
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/src/test/kotlin/io/airbyte/integrations/source/mysql/MysqlCdcIntegrationTest.kt
Labels: area/connectors, CDK, connectors/source/mysql

#48758 chore: add missing dependencies to destination
  airbyte-integrations/connectors/destination-iceberg-v2/build.gradle
  airbyte-integrations/connectors/destination-iceberg-v2/metadata.yaml
Labels: area/connectors, connectors/destination/iceberg-v2

#48748 🐛bug(source-klaviyo): bump cdk to more recent release
  airbyte-integrations/connectors/source-klaviyo/metadata.yaml
  airbyte-integrations/connectors/source-klaviyo/poetry.lock
  airbyte-integrations/connectors/source-klaviyo/pyproject.toml
  docs/integrations/sources/klaviyo.md
Labels: area/documentation, area/connectors, connectors/source/klaviyo

#48763 chore: iceberg destination polish
  airbyte-integrations/connectors/destination-iceberg-v2/metadata.yaml
  airbyte-integrations/connectors/destination-iceberg-v2/src/main/kotlin/io/airbyte/integrations/destination/iceberg/v2/IcebergV2Checker.kt
  airbyte-integrations/connectors/destination-iceberg-v2/src/main/kotlin/io/airbyte/integrations/destination/iceberg/v2/IcebergV2Configuration.kt
Labels: area/connectors, connectors/destination/iceberg-v2

#48775 Fix bad merge
  docs/integrations/sources/stripe.md
Labels: area/documentation

#48629 Handle empty table states
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/read/StateManager.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/JdbcPartitionsCreator.kt
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/src/main/kotlin/io/airbyte/integrations/source/mysql/MysqlCdcInitialSnapshotStateValue.kt
  airbyte-integrations/connectors/source-mysql/src/main/kotlin/io/airbyte/integrations/source/mysql/MysqlJdbcPartition.kt
  airbyte-integrations/connectors/source-mysql/src/main/kotlin/io/airbyte/integrations/source/mysql/MysqlJdbcPartitionFactory.kt
  airbyte-integrations/connectors/source-mysql/src/main/kotlin/io/airbyte/integrations/source/mysql/MysqlJdbcStreamStateValue.kt
  airbyte-integrations/connectors/source-mysql/src/test/kotlin/io/airbyte/integrations/source/mysql/MysqlCursorBasedIntegrationTest.kt
Labels: area/connectors, CDK, connectors/source/mysql

#48769 Update source-workday.md
  docs/integrations/enterprise-connectors/source-workday.md
Labels: area/documentation

#48771 chore: upgrade to iceberg 1.7.0
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/build.gradle
  airbyte-integrations/connectors/destination-iceberg-v2/build.gradle
  airbyte-integrations/connectors/destination-iceberg-v2/metadata.yaml
  airbyte-integrations/connectors/destination-iceberg-v2/src/main/kotlin/io/airbyte/integrations/destination/iceberg/v2/io/IcebergTableCleaner.kt
  airbyte-integrations/connectors/destination-iceberg-v2/src/test/kotlin/io/airbyte/integrations/destination/iceberg/v2/io/IcebergTableCleanerTest.kt
Labels: area/connectors, CDK, connectors/destination/iceberg-v2

#48779 Destination Databricks: bump resource reqs for check
  airbyte-integrations/connectors/destination-databricks/metadata.yaml
  docs/integrations/destinations/databricks.md
Labels: area/documentation, area/connectors, connectors/destination/databricks

#48777 chore: distinguish between error cases.
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/message/DestinationMessageDeserializer.kt
Labels: CDK

#48555 Fixed small typo
  docs/integrations/sources/xkcd.md
Labels: area/documentation, community

#48793 feat: update destination dev-null for progressive rollout testing
  airbyte-integrations/connectors/destination-dev-null/metadata.yaml
  docs/integrations/destinations/dev-null.md
Labels: area/documentation, area/connectors, connectors/destination/dev-null

#48655 🐙 destination-milvus: run up-to-date pipeline [2024-11-25]
  airbyte-integrations/connectors/destination-milvus/metadata.yaml
  airbyte-integrations/connectors/destination-milvus/poetry.lock
  airbyte-integrations/connectors/destination-milvus/pyproject.toml
  docs/integrations/destinations/milvus.md
Labels: area/documentation, area/connectors, connectors/destination/milvus, auto-merge, up-to-date

#48738 feat(source-jira): enable concurrency for substreams without cursor
  airbyte-integrations/connectors/source-jira/metadata.yaml
  airbyte-integrations/connectors/source-jira/poetry.lock
  airbyte-integrations/connectors/source-jira/pyproject.toml
  airbyte-integrations/connectors/source-jira/source_jira/manifest.yaml
  docs/integrations/sources/jira.md
Labels: area/documentation, area/connectors, connectors/source/jira

#47201 destination-s3-glue: build against latest CDK
  airbyte-integrations/connectors/destination-s3-glue/build.gradle
  airbyte-integrations/connectors/destination-s3-glue/metadata.yaml
  airbyte-integrations/connectors/destination-s3-glue/src/main/java/io/airbyte/integrations/destination/s3_glue/S3GlueConsumerFactory.java
  airbyte-integrations/connectors/destination-s3-glue/src/main/java/io/airbyte/integrations/destination/s3_glue/S3GlueDestination.java
  airbyte-integrations/connectors/destination-s3-glue/src/main/java/io/airbyte/integrations/destination/s3_glue/S3GlueWriteConfig.java
  airbyte-integrations/connectors/destination-s3-glue/src/test-integration/java/io/airbyte/integrations/destination/s3_glue/S3GlueJsonlDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-s3-glue/src/test-integration/java/io/airbyte/integrations/destination/s3_glue/S3GlueJsonlGzipDestinationAcceptanceTest.java
  docs/integrations/destinations/s3-glue.md
Labels: area/documentation, area/connectors, connectors/destination/s3-glue

#48798 Implement New Error Handler Based on RegexExceptionClassifierRule and JdbcExceptionClassifierRule
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/src/main/resources/application.yml
Labels: area/connectors, connectors/source/mysql

#48791 Nullify failed column conversion and mark with meta change in record
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/JdbcPartitionReader.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/SelectQuerier.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/test/kotlin/io/airbyte/cdk/read/TestFixtures.kt
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/src/main/kotlin/io/airbyte/integrations/source/mysql/MysqlJdbcPartitionFactory.kt
Labels: area/connectors, CDK, connectors/source/mysql

#48786 Docs OSS Quickstart guide revision
  docs/deploying-airbyte/abctl-ec2.md
  docs/deploying-airbyte/migrating-from-docker-compose.md
  docs/using-airbyte/getting-started/oss-quickstart.md
  docusaurus/docusaurus.config.js
  docusaurus/package.json
  docusaurus/pnpm-lock.yaml
  docusaurus/sidebars.js
  docusaurus/src/css/custom.css
Labels: area/documentation, team/documentation

#48734 source-hugging-face-datasets contribution from michel-tricot
  airbyte-integrations/connectors/source-hugging-face-datasets/README.md
  airbyte-integrations/connectors/source-hugging-face-datasets/acceptance-test-config.yml
  airbyte-integrations/connectors/source-hugging-face-datasets/icon.svg
  airbyte-integrations/connectors/source-hugging-face-datasets/manifest.yaml
  airbyte-integrations/connectors/source-hugging-face-datasets/metadata.yaml
  docs/integrations/sources/hugging-face-datasets.md
Labels: area/documentation, area/connectors, connectors/source/hugging-face-datasets

#48696 source-navan contribution from matteogp
  airbyte-integrations/connectors/source-navan/README.md
  airbyte-integrations/connectors/source-navan/acceptance-test-config.yml
  airbyte-integrations/connectors/source-navan/icon.svg
  airbyte-integrations/connectors/source-navan/manifest.yaml
  airbyte-integrations/connectors/source-navan/metadata.yaml
  docs/integrations/sources/navan.md
Labels: area/documentation, area/connectors, connectors/source/navan

#48764 Destination S3V2: Endpoint URL support
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/message/DestinationMessage.kt
  airbyte-cdk/bulk/toolkits/load-s3/src/main/kotlin/io/airbyte/cdk/load/file/s3/S3Client.kt
  airbyte-integrations/connectors/destination-s3-v2/gradle.properties
  airbyte-integrations/connectors/destination-s3-v2/metadata.yaml
  airbyte-integrations/connectors/destination-s3-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_v2/S3V2TestUtils.kt
  airbyte-integrations/connectors/destination-s3-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_v2/S3V2WriteTest.kt
Labels: area/connectors, CDK, connectors/destination/s3-v2

#48569 Update values keys in integrations/secrets
  docs/deploying-airbyte/integrations/secrets.md
Labels: area/documentation, community

#48821 Update implementation-guide.md
  docs/enterprise-setup/implementation-guide.md
Labels: area/documentation

#48711 Updated link and text.
  docs/using-airbyte/getting-started/readme.md
  docs/using-airbyte/pyairbyte/getting-started.mdx
Labels: area/documentation, team/documentation

#48625 Rewrite SurveyMonkey source doc
  docs/integrations/sources/surveymonkey.md
Labels: area/documentation, team/documentation

#48810 Bulk Load CDK: Unwrap multipart streaming upload
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/state/ReservationManager.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/task/internal/SpillToDiskTask.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/file/object_storage/ObjectStorageClient.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/file/object_storage/ObjectStorageFormattingWriter.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/write/object_storage/ObjectStorageStreamLoaderFactory.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/test/kotlin/io/airbyte/cdk/load/write/object_storage/ObjectStorageStreamLoaderTest.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/testFixtures/kotlin/io/airbyte/cdk/load/MockObjectStorageClient.kt
  airbyte-cdk/bulk/toolkits/load-s3/src/main/kotlin/io/airbyte/cdk/load/file/s3/S3Client.kt
  airbyte-cdk/bulk/toolkits/load-s3/src/main/kotlin/io/airbyte/cdk/load/file/s3/S3MultipartUpload.kt
  airbyte-integrations/connectors/destination-s3-v2/gradle.properties
  airbyte-integrations/connectors/destination-s3-v2/metadata.yaml
  airbyte-integrations/connectors/destination-s3-v2/src/main/kotlin/S3V2Writer.kt
  airbyte-integrations/connectors/destination-s3-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_v2/S3V2WriteTest.kt
Labels: area/connectors, CDK, connectors/destination/s3-v2

#48712 [source-asana] Upgrade to concurrent for non-incremental substreams / list based
  airbyte-integrations/connectors/source-asana/metadata.yaml
  airbyte-integrations/connectors/source-asana/poetry.lock
  airbyte-integrations/connectors/source-asana/pyproject.toml
  airbyte-integrations/connectors/source-asana/source_asana/manifest.yaml
  airbyte-integrations/connectors/source-asana/source_asana/run.py
  airbyte-integrations/connectors/source-asana/source_asana/source.py
  airbyte-integrations/connectors/source-asana/unit_tests/test_config_migrations.py
  docs/integrations/sources/asana.md
Labels: area/documentation, area/connectors, connectors/source/asana

#48828 Update storage.md for Azure blob
  docs/deploying-airbyte/integrations/storage.md
Labels: area/documentation, community

#48781 source-pingdom contribution from KimPlv
  airbyte-integrations/connectors/source-pingdom/README.md
  airbyte-integrations/connectors/source-pingdom/acceptance-test-config.yml
  airbyte-integrations/connectors/source-pingdom/icon.svg
  airbyte-integrations/connectors/source-pingdom/manifest.yaml
  airbyte-integrations/connectors/source-pingdom/metadata.yaml
  docs/integrations/sources/pingdom.md
Labels: area/documentation, area/connectors, community, connectors/source/pingdom

#48782 ✨ Source Partnerstack : add incremental Feature
  airbyte-integrations/connectors/source-partnerstack/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-partnerstack/metadata.yaml
  airbyte-integrations/connectors/source-partnerstack/poetry.lock
  airbyte-integrations/connectors/source-partnerstack/pyproject.toml
  airbyte-integrations/connectors/source-partnerstack/source_partnerstack/manifest.yaml
  docs/integrations/sources/partnerstack.md
Labels: area/documentation, area/connectors, community, connectors/source/partnerstack

#48743 source-greythr contribution from bhushan-dhwaniris
  airbyte-integrations/connectors/source-greythr/README.md
  airbyte-integrations/connectors/source-greythr/acceptance-test-config.yml
  airbyte-integrations/connectors/source-greythr/icon.svg
  airbyte-integrations/connectors/source-greythr/manifest.yaml
  airbyte-integrations/connectors/source-greythr/metadata.yaml
  docs/integrations/sources/greythr.md
Labels: area/documentation, area/connectors, community, connectors/source/greythr

#48562 [MotherDuck connector] fix: Pass config to connect_args in create_engine
  airbyte-integrations/connectors/destination-motherduck/destination_motherduck/processors/duckdb.py
  airbyte-integrations/connectors/destination-motherduck/destination_motherduck/processors/motherduck.py
  airbyte-integrations/connectors/destination-motherduck/integration_tests/integration_test.py
  airbyte-integrations/connectors/destination-motherduck/metadata.yaml
  airbyte-integrations/connectors/destination-motherduck/pyproject.toml
  docs/integrations/destinations/motherduck.md
Labels: area/documentation, area/connectors, community, connectors/destination/motherduck

#48839 Updated connector count, which is more like 550 now.
  docs/enterprise-setup/README.md
  docs/readme.md
Labels: area/documentation, team/documentation

#48836 airbyte-ci: give explicit file ownership on manifest-only connector build
  airbyte-ci/connectors/pipelines/README.md
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/connectors/build_image/steps/common.py
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/connectors/build_image/steps/manifest_only_connectors.py
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/connectors/build_image/steps/python_connectors.py
  airbyte-ci/connectors/pipelines/pyproject.toml
  airbyte-ci/connectors/pipelines/tests/test_build_image/test_manifest_only_connectors.py
  airbyte-ci/connectors/pipelines/tests/test_commands/test_groups/test_connectors.py
Labels: connectors/source/pokeapi

#48840 Set fetch size on a jdbc resultset rather than on a statement
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/SelectQuerier.kt
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/src/main/kotlin/io/airbyte/integrations/source/mysql/MysqlJdbcPartitionFactory.kt
  airbyte-integrations/connectors/source-mysql/src/main/kotlin/io/airbyte/integrations/source/mysql/MysqlSelectQuerier.kt
Labels: area/connectors, CDK, connectors/source/mysql

#48825 Bulk load cdk: support batch groups
  airbyte-cdk/bulk/core/load/src/integrationTest/kotlin/io/airbyte/cdk/load/mock_integration_test/MockDestinationWriter.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/message/Batch.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/state/StreamManager.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/task/DestinationTaskLauncher.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/state/StreamManagerTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/task/DestinationTaskLauncherTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/task/implementor/ProcessRecordsTaskTest.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/write/object_storage/ObjectStorageStreamLoaderFactory.kt
  airbyte-integrations/connectors/destination-s3-v2/metadata.yaml
Labels: area/connectors, CDK, connectors/destination/s3-v2

#48859 🐛 Source Jira: Update source-jira with the new ocncurrency fixes
  airbyte-integrations/connectors/source-jira/metadata.yaml
  airbyte-integrations/connectors/source-jira/poetry.lock
  airbyte-integrations/connectors/source-jira/pyproject.toml
  docs/integrations/sources/jira.md
Labels: area/documentation, area/connectors, connectors/source/jira

#48220 🐙 source-pokeapi: run up-to-date pipeline [2024-12-09]
  airbyte-integrations/connectors/source-pokeapi/metadata.yaml
  docs/integrations/sources/pokeapi.md
Labels: area/documentation, area/connectors, connectors/source/pokeapi, auto-merge, up-to-date

#48838 🐛 Source Jira: fix timezone issue
  airbyte-integrations/connectors/source-jira/metadata.yaml
  airbyte-integrations/connectors/source-jira/poetry.lock
  airbyte-integrations/connectors/source-jira/pyproject.toml
  airbyte-integrations/connectors/source-jira/source_jira/manifest.yaml
  airbyte-integrations/connectors/source-jira/unit_tests/integration/__init__.py
  airbyte-integrations/connectors/source-jira/unit_tests/integration/config.py
  airbyte-integrations/connectors/source-jira/unit_tests/integration/test_issues.py
  docs/integrations/sources/jira.md
Labels: area/documentation, area/connectors, connectors/source/jira

#48827 v-1.3-release-note
  docs/release_notes/assets/1.3-improved-log-viewer.png
  docs/release_notes/assets/1.3-mappers-api-reference.png
  docs/release_notes/assets/1.3-webhook-schema-notifications.png
  docs/release_notes/v-1.3.md
  docusaurus/sidebars.js
Labels: area/documentation

#48871 🐙 source-openweather: run up-to-date pipeline [2024-12-10]
  airbyte-integrations/connectors/source-openweather/metadata.yaml
  docs/integrations/sources/openweather.md
Labels: area/documentation, area/connectors, connectors/source/openweather, auto-merge, up-to-date

#48727 Fix file related DAT tests
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/message/DestinationMessage.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/write/object_storage/ObjectStorageStreamLoaderFactory.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/test/kotlin/io/airbyte/cdk/load/write/object_storage/ObjectStorageStreamLoaderTest.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/standardtest/destination/BaseDestinationAcceptanceTest.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/standardtest/destination/DestinationAcceptanceTest.kt
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/destination/s3/S3DestinationAcceptanceTest.kt
  airbyte-integrations/connectors/destination-s3-v2/src/test-integration-legacy/kotlin/io/airbyte/integrations/destination/s3/S3V2AvroDestinationAcceptanceTest.kt
  airbyte-integrations/connectors/destination-s3-v2/src/test-integration-legacy/kotlin/io/airbyte/integrations/destination/s3/S3V2CsvAssumeRoleDestinationAcceptanceTest.kt
  airbyte-integrations/connectors/destination-s3-v2/src/test-integration-legacy/kotlin/io/airbyte/integrations/destination/s3/S3V2CsvDestinationAcceptanceTest.kt
  airbyte-integrations/connectors/destination-s3-v2/src/test-integration-legacy/kotlin/io/airbyte/integrations/destination/s3/S3V2CsvGzipDestinationAcceptanceTest.kt
  airbyte-integrations/connectors/destination-s3-v2/src/test-integration-legacy/kotlin/io/airbyte/integrations/destination/s3/S3V2FileTransferDestinationTest.kt
  airbyte-integrations/connectors/destination-s3-v2/src/test-integration-legacy/kotlin/io/airbyte/integrations/destination/s3/S3V2JsonlDestinationAcceptanceTest.kt
  airbyte-integrations/connectors/destination-s3-v2/src/test-integration-legacy/kotlin/io/airbyte/integrations/destination/s3/S3V2JsonlGzipDestinationAcceptanceTest.kt
  airbyte-integrations/connectors/destination-s3-v2/src/test-integration-legacy/kotlin/io/airbyte/integrations/destination/s3/S3V2ParquetDestinationAcceptanceTest.kt
Labels: area/connectors, CDK, connectors/destination/s3-v2

#48881 docs: Update Credits information
  docs/cloud/managing-airbyte-cloud/manage-credits.md
Labels: area/documentation

#48804 Adding reader options for Excel: header & skiprows
  airbyte-integrations/connectors/source-file/metadata.yaml
  airbyte-integrations/connectors/source-file/pyproject.toml
  airbyte-integrations/connectors/source-file/source_file/client.py
  airbyte-integrations/connectors/source-file/unit_tests/test_client.py
  docs/integrations/sources/file.md
Labels: area/documentation, area/connectors, connectors/source/file

#48480 feat(source-hubspot): adds individual read scopes to LineItems Stream
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/pyproject.toml
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, community, connectors/source/hubspot

#48770 Remove duplication in manifest, fix updated_at[gt] query param
  airbyte-integrations/connectors/source-salesloft/acceptance-test-config.yml
  airbyte-integrations/connectors/source-salesloft/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-salesloft/integration_tests/incremental_catalog.json
  airbyte-integrations/connectors/source-salesloft/manifest.yaml
  airbyte-integrations/connectors/source-salesloft/metadata.yaml
  docs/integrations/sources/salesloft.md
Labels: area/documentation, area/connectors, connectors/source/salesloft

#48201 🐙 source-the-guardian-api: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-the-guardian-api/metadata.yaml
  docs/integrations/sources/the-guardian-api.md
Labels: area/documentation, area/connectors, connectors/source/the-guardian-api, auto-merge, up-to-date

#48914 🐙 source-drip: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-drip/metadata.yaml
  docs/integrations/sources/drip.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/drip

#48913 🐙 source-concord: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-concord/metadata.yaml
  docs/integrations/sources/concord.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/concord

#48912 🐙 source-mux: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-mux/metadata.yaml
  docs/integrations/sources/mux.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/mux

#48906 🐙 source-cin7: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-cin7/metadata.yaml
  docs/integrations/sources/cin7.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/cin7

#48903 🐙 source-guru: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-guru/metadata.yaml
  docs/integrations/sources/guru.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/guru

#48902 🐙 source-breezometer: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-breezometer/metadata.yaml
  docs/integrations/sources/breezometer.md
Labels: area/documentation, area/connectors, connectors/source/breezometer, auto-merge, up-to-date

#48901 🐙 source-high-level: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-high-level/metadata.yaml
  docs/integrations/sources/high-level.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/high-level

#48900 🐙 source-captain-data: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-captain-data/metadata.yaml
  docs/integrations/sources/captain-data.md
Labels: area/documentation, area/connectors, connectors/source/captain-data, auto-merge, up-to-date

#48898 🐙 source-clarif-ai: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-clarif-ai/metadata.yaml
  docs/integrations/sources/clarif-ai.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/clarif-ai

#48897 🐙 source-freshcaller: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-freshcaller/metadata.yaml
  airbyte-integrations/connectors/source-freshcaller/poetry.lock
  airbyte-integrations/connectors/source-freshcaller/pyproject.toml
  docs/integrations/sources/freshcaller.md
Labels: area/documentation, area/connectors, connectors/source/freshcaller, auto-merge, up-to-date

#48304 🐙 source-coda: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-coda/metadata.yaml
  docs/integrations/sources/coda.md
Labels: area/documentation, area/connectors, connectors/source/coda, auto-merge, up-to-date

#47903 🐙 source-chargify: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-chargify/metadata.yaml
  docs/integrations/sources/chargify.md
Labels: area/documentation, area/connectors, connectors/source/chargify, auto-merge, up-to-date

#47089 🐙 source-fastbill: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-fastbill/metadata.yaml
  docs/integrations/sources/fastbill.md
Labels: area/documentation, area/connectors, connectors/source/fastbill, auto-merge, up-to-date

#48946 🐙 source-dropbox-sign: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-dropbox-sign/metadata.yaml
  docs/integrations/sources/dropbox-sign.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/dropbox-sign

#48944 🐙 source-nocrm: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-nocrm/metadata.yaml
  docs/integrations/sources/nocrm.md
Labels: area/connectors, auto-merge, up-to-date, connectors/source/nocrm

#48942 🐙 source-freshbooks: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-freshbooks/metadata.yaml
  docs/integrations/sources/freshbooks.md
Labels: area/connectors, auto-merge, up-to-date, connectors/source/freshbooks

#48941 🐙 source-microsoft-entra-id: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-microsoft-entra-id/metadata.yaml
  docs/integrations/sources/microsoft-entra-id.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/microsoft-entra-id

#48939 🐙 source-freshservice: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-freshservice/metadata.yaml
  docs/integrations/sources/freshservice.md
Labels: area/documentation, area/connectors, connectors/source/freshservice, auto-merge, up-to-date

#48937 🐙 source-coingecko-coins: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-coingecko-coins/metadata.yaml
  docs/integrations/sources/coingecko-coins.md
Labels: area/documentation, area/connectors, auto-merge, connectors/source/coingecko-coins, up-to-date

#48934 🐙 source-deputy: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-deputy/metadata.yaml
  docs/integrations/sources/deputy.md
Labels: area/connectors, auto-merge, up-to-date, connectors/source/deputy

#48933 🐙 source-box: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-box/metadata.yaml
  docs/integrations/sources/box.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/box

#48932 🐙 source-ezofficeinventory: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-ezofficeinventory/metadata.yaml
  docs/integrations/sources/ezofficeinventory.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/ezofficeinventory

#48931 🐙 source-appcues: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-appcues/metadata.yaml
  docs/integrations/sources/appcues.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/appcues

#48911 🐙 source-hugging-face-datasets: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-hugging-face-datasets/metadata.yaml
  docs/integrations/sources/hugging-face-datasets.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/hugging-face-datasets

#48910 🐙 source-gitbook: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-gitbook/metadata.yaml
  docs/integrations/sources/gitbook.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/gitbook

#48909 🐙 source-leadfeeder: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-leadfeeder/metadata.yaml
  docs/integrations/sources/leadfeeder.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/leadfeeder

#48908 🐙 source-getgist: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-getgist/metadata.yaml
  docs/integrations/sources/getgist.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/getgist

#48907 🐙 source-northpass-lms: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-northpass-lms/metadata.yaml
  docs/integrations/sources/northpass-lms.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/northpass-lms

#48904 🐙 source-dremio: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-dremio/metadata.yaml
  docs/integrations/sources/dremio.md
Labels: area/documentation, area/connectors, connectors/source/dremio, auto-merge, up-to-date

#48899 🐙 source-lob: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-lob/metadata.yaml
  docs/integrations/sources/lob.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/lob

#48306 🐙 source-dockerhub: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-dockerhub/metadata.yaml
  docs/integrations/sources/dockerhub.md
Labels: area/documentation, area/connectors, connectors/source/dockerhub, auto-merge, up-to-date

#48285 🐙 source-my-hours: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-my-hours/metadata.yaml
  docs/integrations/sources/my-hours.md
Labels: area/documentation, area/connectors, connectors/source/my-hours, auto-merge, up-to-date

#48246 🐙 source-aha: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-aha/metadata.yaml
  docs/integrations/sources/aha.md
Labels: area/documentation, area/connectors, connectors/source/aha, auto-merge, up-to-date

#48159 🐙 source-harvest: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-harvest/metadata.yaml
  docs/integrations/sources/harvest.md
Labels: area/documentation, area/connectors, connectors/source/harvest, auto-merge, up-to-date

#47906 🐙 source-merge: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-merge/metadata.yaml
  docs/integrations/sources/merge.md
Labels: area/documentation, area/connectors, connectors/source/merge, auto-merge, up-to-date

#47793 🐙 source-google-pagespeed-insights: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-google-pagespeed-insights/metadata.yaml
  docs/integrations/sources/google-pagespeed-insights.md
Labels: area/documentation, area/connectors, connectors/source/google-pagespeed-insights, auto-merge, up-to-date

#47674 🐙 source-drift: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-drift/metadata.yaml
  docs/integrations/sources/drift.md
Labels: area/documentation, area/connectors, connectors/source/drift, auto-merge, up-to-date

#48989 🐙 source-incident-io: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-incident-io/metadata.yaml
  docs/integrations/sources/incident-io.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/incident-io

#48988 🐙 source-nutshell: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-nutshell/metadata.yaml
  docs/integrations/sources/nutshell.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/nutshell

#48987 🐙 source-invoiced: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-invoiced/metadata.yaml
  docs/integrations/sources/invoiced.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/invoiced

#48986 🐙 source-mixmax: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-mixmax/metadata.yaml
  docs/integrations/sources/mixmax.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/mixmax

#48983 🐙 source-kisi: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-kisi/metadata.yaml
  docs/integrations/sources/kisi.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/kisi

#48982 🐙 source-metabase: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-metabase/metadata.yaml
  docs/integrations/sources/metabase.md
Labels: area/documentation, area/connectors, connectors/source/metabase, auto-merge, up-to-date

#48981 🐙 source-hellobaton: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-hellobaton/metadata.yaml
  docs/integrations/sources/hellobaton.md
Labels: area/documentation, area/connectors, connectors/source/hellobaton, auto-merge, up-to-date

#48977 🐙 source-height: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-height/metadata.yaml
  docs/integrations/sources/height.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/height

#48976 🐙 source-hardcoded-records: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-hardcoded-records/metadata.yaml
  airbyte-integrations/connectors/source-hardcoded-records/poetry.lock
  airbyte-integrations/connectors/source-hardcoded-records/pyproject.toml
  docs/integrations/sources/hardcoded-records.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/hardcoded-records

#48973 🐙 source-gorgias: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-gorgias/metadata.yaml
  docs/integrations/sources/gorgias.md
Labels: area/documentation, area/connectors, connectors/source/gorgias, auto-merge, up-to-date

#48972 🐙 source-hibob: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-hibob/metadata.yaml
  docs/integrations/sources/hibob.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/hibob

#48968 🐙 source-mailtrap: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-mailtrap/metadata.yaml
  docs/integrations/sources/mailtrap.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/mailtrap

#48959 🐙 source-chargify: run up-to-date pipeline [2024-12-11]
  docs/integrations/sources/chargify.md
Labels: auto-merge, up-to-date

#48954 🐙 source-lightspeed-retail: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-lightspeed-retail/metadata.yaml
  docs/integrations/sources/lightspeed-retail.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/lightspeed-retail

#48950 🐙 source-cin7: run up-to-date pipeline [2024-12-11]
  docs/integrations/sources/cin7.md
Labels: auto-merge, up-to-date

#48949 🐙 source-google-tasks: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-google-tasks/metadata.yaml
  docs/integrations/sources/google-tasks.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/google-tasks

#48938 🐙 source-brex: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-brex/metadata.yaml
  docs/integrations/sources/brex.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/brex

#48924 🐙 source-linkedin-pages: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-linkedin-pages/metadata.yaml
  docs/integrations/sources/linkedin-pages.md
Labels: area/documentation, area/connectors, connectors/source/linkedin-pages, auto-merge, up-to-date

#48319 🐙 source-nylas: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-nylas/metadata.yaml
  docs/integrations/sources/nylas.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/nylas

#48204 🐙 source-k6-cloud: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-k6-cloud/metadata.yaml
  docs/integrations/sources/k6-cloud.md
Labels: area/documentation, area/connectors, connectors/source/k6-cloud, auto-merge, up-to-date

#48144 🐙 source-lemlist: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-lemlist/metadata.yaml
  docs/integrations/sources/lemlist.md
Labels: area/documentation, area/connectors, connectors/source/lemlist, auto-merge, up-to-date

#47810 🐙 source-mailjet-sms: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-mailjet-sms/metadata.yaml
  docs/integrations/sources/mailjet-sms.md
Labels: area/documentation, area/connectors, connectors/source/mailjet-sms, auto-merge, up-to-date

#47796 🐙 source-missive: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-missive/metadata.yaml
  docs/integrations/sources/missive.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/missive

#48835 feat(source-google-sheets): add integration tests
  airbyte-integrations/connectors/source-google-sheets/metadata.yaml
  airbyte-integrations/connectors/source-google-sheets/pyproject.toml
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/client.py
  airbyte-integrations/connectors/source-google-sheets/unit_tests/integration/__init__.py
  airbyte-integrations/connectors/source-google-sheets/unit_tests/integration/custom_http_mocker.py
  airbyte-integrations/connectors/source-google-sheets/unit_tests/integration/request_builder.py
  airbyte-integrations/connectors/source-google-sheets/unit_tests/integration/test_credentials.py
  airbyte-integrations/connectors/source-google-sheets/unit_tests/integration/test_source.py
  airbyte-integrations/connectors/source-google-sheets/unit_tests/resource/http/response/auth_invalid_client.json
  airbyte-integrations/connectors/source-google-sheets/unit_tests/resource/http/response/auth_response.json
  airbyte-integrations/connectors/source-google-sheets/unit_tests/resource/http/response/check_duplicate_headers.json
  airbyte-integrations/connectors/source-google-sheets/unit_tests/resource/http/response/check_succeeded_meta.json
  airbyte-integrations/connectors/source-google-sheets/unit_tests/resource/http/response/check_succeeded_range.json
  airbyte-integrations/connectors/source-google-sheets/unit_tests/resource/http/response/check_wrong_range.json
  airbyte-integrations/connectors/source-google-sheets/unit_tests/resource/http/response/internal_server_error.json
  airbyte-integrations/connectors/source-google-sheets/unit_tests/resource/http/response/invalid_link.json
  airbyte-integrations/connectors/source-google-sheets/unit_tests/resource/http/response/invalid_permissions.json
  airbyte-integrations/connectors/source-google-sheets/unit_tests/resource/http/response/multiple_streams_schemas_a_stream_name_range.json
  airbyte-integrations/connectors/source-google-sheets/unit_tests/resource/http/response/multiple_streams_schemas_a_stream_name_range_2.json
  airbyte-integrations/connectors/source-google-sheets/unit_tests/resource/http/response/multiple_streams_schemas_b_stream_name_range.json
  airbyte-integrations/connectors/source-google-sheets/unit_tests/resource/http/response/multiple_streams_schemas_b_stream_name_range_2.json
  airbyte-integrations/connectors/source-google-sheets/unit_tests/resource/http/response/multiple_streams_schemas_c_stream_name_range.json
  airbyte-integrations/connectors/source-google-sheets/unit_tests/resource/http/response/multiple_streams_schemas_c_stream_name_range_2.json
  airbyte-integrations/connectors/source-google-sheets/unit_tests/resource/http/response/multiple_streams_schemas_meta.json
  airbyte-integrations/connectors/source-google-sheets/unit_tests/resource/http/response/names_conversion_range.json
  airbyte-integrations/connectors/source-google-sheets/unit_tests/resource/http/response/no_rows_meta.json
  airbyte-integrations/connectors/source-google-sheets/unit_tests/resource/http/response/no_rows_range.json
  airbyte-integrations/connectors/source-google-sheets/unit_tests/resource/http/response/non_grid_sheet_meta.json
  airbyte-integrations/connectors/source-google-sheets/unit_tests/resource/http/response/only_headers_meta.json
  airbyte-integrations/connectors/source-google-sheets/unit_tests/resource/http/response/only_headers_range.json
  airbyte-integrations/connectors/source-google-sheets/unit_tests/resource/http/response/rate_limit_error.json
  airbyte-integrations/connectors/source-google-sheets/unit_tests/resource/http/response/read_records_meta.json
  airbyte-integrations/connectors/source-google-sheets/unit_tests/resource/http/response/read_records_meta_2.json
  airbyte-integrations/connectors/source-google-sheets/unit_tests/resource/http/response/read_records_range.json
  airbyte-integrations/connectors/source-google-sheets/unit_tests/resource/http/response/read_records_range_2.json
  airbyte-integrations/connectors/source-google-sheets/unit_tests/resource/http/response/read_records_range_empty.json
  airbyte-integrations/connectors/source-google-sheets/unit_tests/resource/http/response/read_records_range_with_dimensions.json
  airbyte-integrations/connectors/source-google-sheets/unit_tests/resource/http/response/read_records_range_with_dimensions_2.json
  airbyte-integrations/connectors/source-google-sheets/unit_tests/resource/http/response/read_records_range_with_unexpected_extra_sheet.json
  docs/integrations/sources/google-sheets.md
Labels: area/documentation, area/connectors, connectors/source/google-sheets

#49001 🐙 source-intruder: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-intruder/metadata.yaml
  docs/integrations/sources/intruder.md
Labels: area/documentation, area/connectors, connectors/source/intruder, auto-merge, up-to-date

#48999 🐙 source-newsdata-io: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-newsdata-io/metadata.yaml
  docs/integrations/sources/newsdata-io.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/newsdata-io

#48992 🐙 source-looker: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-looker/metadata.yaml
  airbyte-integrations/connectors/source-looker/poetry.lock
  airbyte-integrations/connectors/source-looker/pyproject.toml
  docs/integrations/sources/looker.md
Labels: area/documentation, area/connectors, connectors/source/looker, auto-merge, up-to-date

#48991 🐙 source-katana: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-katana/metadata.yaml
  docs/integrations/sources/katana.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/katana

#48990 🐙 source-nasa: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-nasa/metadata.yaml
  docs/integrations/sources/nasa.md
Labels: area/documentation, area/connectors, connectors/source/nasa, auto-merge, up-to-date

#48947 🐙 source-mailersend: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-mailersend/metadata.yaml
  docs/integrations/sources/mailersend.md
Labels: area/documentation, area/connectors, connectors/source/mailersend, auto-merge, up-to-date

#48141 🐙 source-google-webfonts: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-google-webfonts/metadata.yaml
  docs/integrations/sources/google-webfonts.md
Labels: area/documentation, area/connectors, connectors/source/google-webfonts, auto-merge, up-to-date

#49055 🐙 source-sharetribe: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-sharetribe/metadata.yaml
  docs/integrations/sources/sharetribe.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/sharetribe

#49054 🐙 source-sendowl: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-sendowl/metadata.yaml
  docs/integrations/sources/sendowl.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/sendowl

#49053 🐙 source-pennylane: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-pennylane/metadata.yaml
  docs/integrations/sources/pennylane.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/pennylane

#49052 🐙 source-revolut-merchant: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-revolut-merchant/metadata.yaml
  docs/integrations/sources/revolut-merchant.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/revolut-merchant

#49051 🐙 source-onfleet: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-onfleet/metadata.yaml
  docs/integrations/sources/onfleet.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/onfleet

#49050 🐙 source-oura: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-oura/metadata.yaml
  docs/integrations/sources/oura.md
Labels: area/documentation, area/connectors, connectors/source/oura, auto-merge, up-to-date

#49044 🐙 source-savvycal: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-savvycal/metadata.yaml
  docs/integrations/sources/savvycal.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/savvycal

#49037 🐙 source-chargedesk: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-chargedesk/metadata.yaml
  docs/integrations/sources/chargedesk.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/chargedesk

#49035 🐙 source-babelforce: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-babelforce/metadata.yaml
  docs/integrations/sources/babelforce.md
Labels: area/documentation, area/connectors, connectors/source/babelforce, auto-merge, up-to-date

#49031 🐙 source-bigmailer: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-bigmailer/metadata.yaml
  docs/integrations/sources/bigmailer.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/bigmailer

#49029 🐙 source-buzzsprout: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-buzzsprout/metadata.yaml
  docs/integrations/sources/buzzsprout.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/buzzsprout

#49028 🐙 source-capsule-crm: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-capsule-crm/metadata.yaml
  docs/integrations/sources/capsule-crm.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/capsule-crm

#49027 🐙 source-algolia: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-algolia/metadata.yaml
  docs/integrations/sources/algolia.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/algolia

#49026 🐙 source-agilecrm: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-agilecrm/metadata.yaml
  docs/integrations/sources/agilecrm.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/agilecrm

#49024 🐙 source-cimis: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-cimis/metadata.yaml
  docs/integrations/sources/cimis.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/cimis

#49023 🐙 source-cal-com: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-cal-com/metadata.yaml
  docs/integrations/sources/cal-com.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/cal-com

#49021 🐙 destination-meilisearch: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/destination-meilisearch/metadata.yaml
  airbyte-integrations/connectors/destination-meilisearch/poetry.lock
  airbyte-integrations/connectors/destination-meilisearch/pyproject.toml
  docs/integrations/destinations/meilisearch.md
Labels: area/documentation, area/connectors, connectors/destination/meilisearch, auto-merge, up-to-date

#49019 🐙 source-castor-edc: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-castor-edc/metadata.yaml
  docs/integrations/sources/castor-edc.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/castor-edc

#49016 🐙 source-bigcommerce: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-bigcommerce/metadata.yaml
  docs/integrations/sources/bigcommerce.md
Labels: area/documentation, area/connectors, connectors/source/bigcommerce, auto-merge, up-to-date

#47604 🐙 source-rentcast: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-rentcast/metadata.yaml
  docs/integrations/sources/rentcast.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/rentcast

#49093 🐙 source-scryfall: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-scryfall/metadata.yaml
  docs/integrations/sources/scryfall.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/scryfall

#49092 🐙 source-repairshopr: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-repairshopr/metadata.yaml
  docs/integrations/sources/repairshopr.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/repairshopr

#49091 🐙 source-recurly: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-recurly/metadata.yaml
  docs/integrations/sources/recurly.md
Labels: area/documentation, area/connectors, connectors/source/recurly, auto-merge, up-to-date

#49090 🐙 source-openfda: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-openfda/metadata.yaml
  docs/integrations/sources/openfda.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/openfda

#49089 🐙 source-sage-hr: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-sage-hr/metadata.yaml
  docs/integrations/sources/sage-hr.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/sage-hr

#49087 🐙 source-productboard: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-productboard/metadata.yaml
  docs/integrations/sources/productboard.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/productboard

#49086 🐙 source-safetyculture: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-safetyculture/metadata.yaml
  docs/integrations/sources/safetyculture.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/safetyculture

#49085 🐙 source-partnerstack: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-partnerstack/metadata.yaml
  airbyte-integrations/connectors/source-partnerstack/pyproject.toml
  docs/integrations/sources/partnerstack.md
Labels: area/documentation, area/connectors, connectors/source/partnerstack, auto-merge, up-to-date

#49084 🐙 source-rollbar: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-rollbar/metadata.yaml
  docs/integrations/sources/rollbar.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/rollbar

#49083 🐙 source-openaq: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-openaq/metadata.yaml
  docs/integrations/sources/openaq.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/openaq

#49082 🐙 source-rss: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-rss/metadata.yaml
  airbyte-integrations/connectors/source-rss/poetry.lock
  airbyte-integrations/connectors/source-rss/pyproject.toml
  docs/integrations/sources/rss.md
Labels: area/documentation, area/connectors, connectors/source/rss, auto-merge, up-to-date

#49080 🐙 source-ruddr: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-ruddr/metadata.yaml
  docs/integrations/sources/ruddr.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/ruddr

#49077 🐙 source-pipeliner: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-pipeliner/metadata.yaml
  docs/integrations/sources/pipeliner.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/pipeliner

#49076 🐙 source-secoda: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-secoda/metadata.yaml
  docs/integrations/sources/secoda.md
Labels: area/documentation, area/connectors, connectors/source/secoda, auto-merge, up-to-date

#49075 🐙 source-paperform: run up-to-date pipeline [2024-12-11]
  airbyte-integrations/connectors/source-paperform/metadata.yaml
  docs/integrations/sources/paperform.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/paperform
