Repository airbytehq/airbyte, pull requests merged in 2024-08, with the labels that each got.

#39559 🐛 Source Pinterest: returns config_error after low-code migration without reset
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  airbyte-integrations/connectors/source-pinterest/poetry.lock
  airbyte-integrations/connectors/source-pinterest/pyproject.toml
  airbyte-integrations/connectors/source-pinterest/source_pinterest/python_stream_auth.py
  airbyte-integrations/connectors/source-pinterest/source_pinterest/reports/models.py
  airbyte-integrations/connectors/source-pinterest/source_pinterest/reports/reports.py
  airbyte-integrations/connectors/source-pinterest/source_pinterest/source.py
  airbyte-integrations/connectors/source-pinterest/source_pinterest/streams.py
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_auth.py
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_source.py
  airbyte-integrations/connectors/source-pinterest/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-pinterest/unit_tests/utils.py
  docs/integrations/sources/pinterest.md
Labels: area/documentation, area/connectors, connectors/source/pinterest

#42891 🔧 Source Klaviyo: Remove BackoffStrategy custom implementation
  airbyte-integrations/connectors/source-klaviyo/metadata.yaml
  airbyte-integrations/connectors/source-klaviyo/poetry.lock
  airbyte-integrations/connectors/source-klaviyo/pyproject.toml
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/components/klaviyo_backoff_strategy.py
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/streams.py
  airbyte-integrations/connectors/source-klaviyo/unit_tests/test_streams.py
  docs/integrations/sources/klaviyo.md
Labels: area/documentation, area/connectors, connectors/source/klaviyo

#42496 docs: refactor the developing locally page around abctl
  docs/contributing-to-airbyte/developing-locally.md
  docs/contributing-to-airbyte/resources/developing-locally.md
  docs/contributing-to-airbyte/resources/developing-on-docker.md
  docs/contributing-to-airbyte/writing-docs.md
  docusaurus/sidebars.js
Labels: area/documentation

#40692 Destination Databricks: Implement refreshes
  airbyte-integrations/connectors/destination-databricks/build.gradle
  airbyte-integrations/connectors/destination-databricks/metadata.yaml
  airbyte-integrations/connectors/destination-databricks/src/main/kotlin/io/airbyte/integrations/destination/databricks/DatabricksDestination.kt
  airbyte-integrations/connectors/destination-databricks/src/main/kotlin/io/airbyte/integrations/destination/databricks/jdbc/DatabricksDestinationHandler.kt
  airbyte-integrations/connectors/destination-databricks/src/main/kotlin/io/airbyte/integrations/destination/databricks/jdbc/DatabricksSqlGenerator.kt
  airbyte-integrations/connectors/destination-databricks/src/main/kotlin/io/airbyte/integrations/destination/databricks/model/DatabricksConnectorConfig.kt
  airbyte-integrations/connectors/destination-databricks/src/main/kotlin/io/airbyte/integrations/destination/databricks/operation/DatabricksStorageOperation.kt
  airbyte-integrations/connectors/destination-databricks/src/main/kotlin/io/airbyte/integrations/destination/databricks/operation/DatabricksStreamOperation.kt
  airbyte-integrations/connectors/destination-databricks/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-databricks/src/test-integration/kotlin/io/airbyte/integrations/destination/databricks/DatabricksDestinationIntegrationTest.kt
  airbyte-integrations/connectors/destination-databricks/src/test-integration/kotlin/io/airbyte/integrations/destination/databricks/DatabricksIntegrationTestUtils.kt
  airbyte-integrations/connectors/destination-databricks/src/test-integration/kotlin/io/airbyte/integrations/destination/databricks/operation/DatabricksStorageOperationIntegrationTest.kt
  airbyte-integrations/connectors/destination-databricks/src/test-integration/kotlin/io/airbyte/integrations/destination/databricks/typededupe/DatabricksSqlGeneratorIntegrationTest.kt
  airbyte-integrations/connectors/destination-databricks/src/test-integration/kotlin/io/airbyte/integrations/destination/databricks/typededupe/DatabricksTypingDedupingTest.kt
  airbyte-integrations/connectors/destination-databricks/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_append_with_new_gen_id_final.jsonl
  airbyte-integrations/connectors/destination-databricks/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_overwrite_with_new_gen_id_final.jsonl
  airbyte-integrations/connectors/destination-databricks/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_overwrite_with_new_gen_id_raw.jsonl
  airbyte-integrations/connectors/destination-databricks/src/test-integration/resources/dat/sync2_expectedrecords_with_new_gen_id_raw.jsonl
  docs/integrations/destinations/databricks.md
Labels: area/documentation, area/connectors, connectors/destination/databricks

#42511 BigQueryDestination: Added a copy operation to validate copy permissions in the check function
  airbyte-integrations/connectors/destination-bigquery/README.md
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/BigQueryDestination.kt
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/kotlin/io/airbyte/integrations/destination/bigquery/BigQueryDestinationTest.kt
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery

#42551 feat: make woocommerce builder-compatible and upgrade cdk
  airbyte-integrations/connectors/source-woocommerce/acceptance-test-config.yml
  airbyte-integrations/connectors/source-woocommerce/metadata.yaml
  airbyte-integrations/connectors/source-woocommerce/poetry.lock
  airbyte-integrations/connectors/source-woocommerce/pyproject.toml
  airbyte-integrations/connectors/source-woocommerce/source_woocommerce/manifest.yaml
  airbyte-integrations/connectors/source-woocommerce/source_woocommerce/spec.yaml
  airbyte-integrations/connectors/source-woocommerce/unit_tests/integration/__init__.py
  airbyte-integrations/connectors/source-woocommerce/unit_tests/integration/config.py
  airbyte-integrations/connectors/source-woocommerce/unit_tests/integration/request_builder.py
  airbyte-integrations/connectors/source-woocommerce/unit_tests/integration/response_builder.py
  airbyte-integrations/connectors/source-woocommerce/unit_tests/integration/test_coupons.py
  airbyte-integrations/connectors/source-woocommerce/unit_tests/integration/test_customers.py
  airbyte-integrations/connectors/source-woocommerce/unit_tests/integration/test_order_notes.py
  airbyte-integrations/connectors/source-woocommerce/unit_tests/integration/test_orders.py
  airbyte-integrations/connectors/source-woocommerce/unit_tests/integration/test_payment_gateways.py
  airbyte-integrations/connectors/source-woocommerce/unit_tests/integration/test_product_attribute_terms.py
  airbyte-integrations/connectors/source-woocommerce/unit_tests/integration/test_product_attributes.py
  airbyte-integrations/connectors/source-woocommerce/unit_tests/integration/test_product_categories.py
  airbyte-integrations/connectors/source-woocommerce/unit_tests/integration/test_product_reviews.py
  airbyte-integrations/connectors/source-woocommerce/unit_tests/integration/test_product_shipping_classes.py
  airbyte-integrations/connectors/source-woocommerce/unit_tests/integration/test_product_tags.py
  airbyte-integrations/connectors/source-woocommerce/unit_tests/integration/test_product_variations.py
  airbyte-integrations/connectors/source-woocommerce/unit_tests/integration/test_products.py
  airbyte-integrations/connectors/source-woocommerce/unit_tests/integration/test_refunds.py
  airbyte-integrations/connectors/source-woocommerce/unit_tests/integration/test_shipping_methods.py
  airbyte-integrations/connectors/source-woocommerce/unit_tests/integration/test_shipping_zone_locations.py
  airbyte-integrations/connectors/source-woocommerce/unit_tests/integration/test_shipping_zone_methods.py
  airbyte-integrations/connectors/source-woocommerce/unit_tests/integration/test_shipping_zones.py
  airbyte-integrations/connectors/source-woocommerce/unit_tests/integration/test_system_status_tools.py
  airbyte-integrations/connectors/source-woocommerce/unit_tests/integration/test_tax_classes.py
  airbyte-integrations/connectors/source-woocommerce/unit_tests/integration/test_tax_rates.py
  airbyte-integrations/connectors/source-woocommerce/unit_tests/integration/utils.py
  airbyte-integrations/connectors/source-woocommerce/unit_tests/resource/http/response/coupons.json
  airbyte-integrations/connectors/source-woocommerce/unit_tests/resource/http/response/customers.json
  airbyte-integrations/connectors/source-woocommerce/unit_tests/resource/http/response/order_notes.json
  airbyte-integrations/connectors/source-woocommerce/unit_tests/resource/http/response/orders.json
  airbyte-integrations/connectors/source-woocommerce/unit_tests/resource/http/response/payment_gateways.json
  airbyte-integrations/connectors/source-woocommerce/unit_tests/resource/http/response/product_attribute_terms.json
  airbyte-integrations/connectors/source-woocommerce/unit_tests/resource/http/response/product_attributes.json
  airbyte-integrations/connectors/source-woocommerce/unit_tests/resource/http/response/product_categories.json
  airbyte-integrations/connectors/source-woocommerce/unit_tests/resource/http/response/product_reviews.json
  airbyte-integrations/connectors/source-woocommerce/unit_tests/resource/http/response/product_shipping_classes.json
  airbyte-integrations/connectors/source-woocommerce/unit_tests/resource/http/response/product_tags.json
  airbyte-integrations/connectors/source-woocommerce/unit_tests/resource/http/response/product_variations.json
  airbyte-integrations/connectors/source-woocommerce/unit_tests/resource/http/response/products.json
  airbyte-integrations/connectors/source-woocommerce/unit_tests/resource/http/response/refunds.json
  airbyte-integrations/connectors/source-woocommerce/unit_tests/resource/http/response/shipping_methods.json
  airbyte-integrations/connectors/source-woocommerce/unit_tests/resource/http/response/shipping_zone_locations.json
  airbyte-integrations/connectors/source-woocommerce/unit_tests/resource/http/response/shipping_zone_methods.json
  airbyte-integrations/connectors/source-woocommerce/unit_tests/resource/http/response/shipping_zones.json
  airbyte-integrations/connectors/source-woocommerce/unit_tests/resource/http/response/system_status_tools.json
  airbyte-integrations/connectors/source-woocommerce/unit_tests/resource/http/response/tax_classes.json
  airbyte-integrations/connectors/source-woocommerce/unit_tests/resource/http/response/tax_rates.json
  docs/integrations/sources/woocommerce.md
Labels: area/documentation, area/connectors, connectors/source/woocommerce

#39909 Source file: Fix error on zipped files
  airbyte-integrations/connectors/source-file/integration_tests/sample_files/test_utf16.csv.zip
  airbyte-integrations/connectors/source-file/metadata.yaml
  airbyte-integrations/connectors/source-file/poetry.lock
  airbyte-integrations/connectors/source-file/pyproject.toml
  airbyte-integrations/connectors/source-file/source_file/client.py
  airbyte-integrations/connectors/source-file/unit_tests/test_source.py
  docs/integrations/sources/file.md
Labels: area/documentation, area/connectors, community, connectors/source/file, team/connectors-python

#42565 [source-amplitude] - Migrate to CDK v4.1.0
  airbyte-integrations/connectors/source-amplitude/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amplitude/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-amplitude/metadata.yaml
  airbyte-integrations/connectors/source-amplitude/poetry.lock
  airbyte-integrations/connectors/source-amplitude/pyproject.toml
  airbyte-integrations/connectors/source-amplitude/source_amplitude/manifest.yaml
  airbyte-integrations/connectors/source-amplitude/source_amplitude/streams.py
  airbyte-integrations/connectors/source-amplitude/unit_tests/test_custom_extractors.py
  docs/integrations/sources/amplitude.md
Labels: area/documentation, area/connectors, connectors/source/amplitude

#42429 [RFR for API Sources] Add SubstreamResumableFullRefreshCursor to the Python CDK
  airbyte-cdk/python/airbyte_cdk/sources/declarative/incremental/per_partition_cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/checkpoint/checkpoint_reader.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/checkpoint/per_partition_key_serializer.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/checkpoint/substream_resumable_full_refresh_cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/http.py
  airbyte-cdk/python/unit_tests/sources/mock_server_tests/test_mock_server_abstract_source.py
  airbyte-cdk/python/unit_tests/sources/streams/checkpoint/test_substream_resumable_full_refresh_cursor.py
  airbyte-cdk/python/unit_tests/sources/streams/http/test_http.py
Labels: CDK

#38314 refactor[source-linkedin-ads]: migrate to low-code
  airbyte-integrations/connectors/source-linkedin-ads/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-linkedin-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-linkedin-ads/metadata.yaml
  airbyte-integrations/connectors/source-linkedin-ads/poetry.lock
  airbyte-integrations/connectors/source-linkedin-ads/pyproject.toml
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/analytics_streams.py
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/components.py
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/config_migrations.py
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/manifest.yaml
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/run.py
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/schemas/account_users.json
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/schemas/accounts.json
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/schemas/ad_analytics.json
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/schemas/campaign_groups.json
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/schemas/campaigns.json
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/schemas/conversions.json
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/schemas/creatives.json
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/source.py
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/spec.yaml
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/streams.py
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/utils.py
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/__init__.py
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/output_slices.json
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/test_analytics_streams.py
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/test_config_migration.py
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/test_configs/test_config_without_credentials.json
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/test_source.py
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/utils_tests/test_make_slice.py
  docs/integrations/sources/linkedin-ads-migrations.md
  docs/integrations/sources/linkedin-ads.md
Labels: area/documentation, area/connectors, connectors/source/linkedin-ads

#42405 S3 Destination Uses Async Framework
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/integrations/destination/record_buffer/BufferingStrategy.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/integrations/destination/record_buffer/InMemoryRecordBufferingStrategy.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/integrations/destination/record_buffer/SerializedBufferingStrategy.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/standardtest/destination/DestinationAcceptanceTest.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/resources/v0/data_type_array_object_test_messages.txt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/resources/v0/data_type_array_test_messages.txt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/resources/v0/data_type_basic_test_messages.txt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/resources/v0/data_type_object_test_messages.txt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/resources/v0/edge_case_messages.txt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/resources/v0/exchange_rate_messages.txt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/resources/v1/data_type_array_object_test_messages.txt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/resources/v1/data_type_array_test_messages.txt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/resources/v1/data_type_basic_test_messages.txt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/resources/v1/data_type_object_test_messages.txt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/resources/v1/edge_case_messages.txt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/resources/v1/exchange_rate_messages.txt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/resources/v1/number_data_type_array_test_messages.txt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/resources/v1/number_data_type_test_messages.txt
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/s3/BaseS3Destination.kt
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/s3/BlobStorageOperations.kt
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/s3/S3ConsumerFactory.kt
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/s3/S3DestinationFlushFunction.kt
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/s3/S3StorageOperations.kt
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/s3/SerializedBufferFactory.kt
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/s3/WriteConfig.kt
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/s3/csv/CsvSerializedBuffer.kt
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/test/kotlin/io/airbyte/cdk/integrations/destination/s3/csv/CsvSerializedBufferTest.kt
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/destination/s3/S3AvroParquetDestinationAcceptanceTest.kt
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/destination/s3/S3DestinationAcceptanceTest.kt
  airbyte-integrations/connectors/destination-s3/build.gradle
  airbyte-integrations/connectors/destination-s3/finalize_build.sh
  airbyte-integrations/connectors/destination-s3/metadata.yaml
  airbyte-integrations/connectors/destination-s3/src/test-integration/kotlin/io/airbyte/integrations/destination/s3/S3ParquetDestinationAcceptanceTest.kt
  docs/integrations/destinations/s3.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/s3

#42943 attempt to fix mssql
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/CloudDeploymentSslEnabledMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/SslEnabledMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/CloudDeploymentMssqlTest.java
  airbyte-integrations/connectors/source-mssql/src/testFixtures/java/io/airbyte/integrations/source/mssql/MsSQLTestDatabase.java
Labels: area/connectors, connectors/source/mssql

#42568 perf(airbyte-cdk): performance enhancement:: add PrintBuffer
  airbyte-cdk/python/airbyte_cdk/entrypoint.py
  airbyte-cdk/python/airbyte_cdk/utils/__init__.py
  airbyte-cdk/python/airbyte_cdk/utils/print_buffer.py
Labels: CDK

#42960 fix(source-google-ads): updated handling of 500 error
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/pyproject.toml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/google_ads.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_streams.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, connectors/source/google-ads

#42964 Update dbt-cloud-integration.md
  docs/cloud/managing-airbyte-cloud/dbt-cloud-integration.md
Labels: area/documentation

#42969 fix(cdk): source-declarative-manifest publish
  airbyte-integrations/connectors/source-declarative-manifest/metadata.yaml
  airbyte-integrations/connectors/source-declarative-manifest/poetry.lock
  airbyte-integrations/connectors/source-declarative-manifest/pyproject.toml
  airbyte-integrations/connectors/source-declarative-manifest/unit_tests/fixtures/valid_local_manifest.yaml
  docs/integrations/sources/low-code.md
Labels: area/documentation, area/connectors, connectors/source/declarative-manifest

#42956 docs: update the upgrade docs.
  docs/operator-guides/upgrading-airbyte.md
Labels: area/documentation

#42550 [source-mssql/postgres/mysql] fix rfr losing stream state
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/kotlin/io/airbyte/cdk/integrations/debezium/CdcSourceTest.kt
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/initialsync/MssqlInitialLoadGlobalStateManager.java
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialLoadGlobalStateManager.java
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidGlobalStateManager.java
  docs/integrations/sources/mssql.md
  docs/integrations/sources/mysql.md
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, CDK, connectors/source/mssql, connectors/source/mysql, connectors/source/postgres

#42955 docs: update the security document to link to the Authentication page and remove reference to docker compose
  docs/operating-airbyte/security.md
Labels: area/documentation

#42971 fix(source-google-ads): fix attribute error on check connection
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/pyproject.toml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, connectors/source/google-ads

#42975 [source-recharge, source-zendesk-support, source-google-sheets] - Migrate to CDK v4.3.0
  airbyte-integrations/connectors/source-google-sheets/metadata.yaml
  airbyte-integrations/connectors/source-google-sheets/poetry.lock
  airbyte-integrations/connectors/source-google-sheets/pyproject.toml
  airbyte-integrations/connectors/source-recharge/metadata.yaml
  airbyte-integrations/connectors/source-recharge/poetry.lock
  airbyte-integrations/connectors/source-recharge/pyproject.toml
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/poetry.lock
  airbyte-integrations/connectors/source-zendesk-support/pyproject.toml
  docs/integrations/sources/google-sheets.md
  docs/integrations/sources/recharge.md
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors, connectors/source/google-sheets, connectors/source/recharge, connectors/source/zendesk-support

#42987 Source Activecampaign: Migrate to Manifest-Only
  airbyte-integrations/connectors/source-activecampaign/README.md
  airbyte-integrations/connectors/source-activecampaign/__init__.py
  airbyte-integrations/connectors/source-activecampaign/acceptance-test-config.yml
  airbyte-integrations/connectors/source-activecampaign/main.py
  airbyte-integrations/connectors/source-activecampaign/manifest.yaml
  airbyte-integrations/connectors/source-activecampaign/metadata.yaml
  airbyte-integrations/connectors/source-activecampaign/poetry.lock
  airbyte-integrations/connectors/source-activecampaign/pyproject.toml
  airbyte-integrations/connectors/source-activecampaign/source_activecampaign/__init__.py
  airbyte-integrations/connectors/source-activecampaign/source_activecampaign/run.py
  airbyte-integrations/connectors/source-activecampaign/source_activecampaign/source.py
  docs/integrations/sources/activecampaign.md
Labels: area/documentation, area/connectors, connectors/source/activecampaign

#42950 Source Zenefits: Migrate to Manifest Only
  airbyte-integrations/connectors/source-zenefits/README.md
  airbyte-integrations/connectors/source-zenefits/__init__.py
  airbyte-integrations/connectors/source-zenefits/acceptance-test-config.yml
  airbyte-integrations/connectors/source-zenefits/main.py
  airbyte-integrations/connectors/source-zenefits/manifest.yaml
  airbyte-integrations/connectors/source-zenefits/metadata.yaml
  airbyte-integrations/connectors/source-zenefits/poetry.lock
  airbyte-integrations/connectors/source-zenefits/pyproject.toml
  airbyte-integrations/connectors/source-zenefits/source_zenefits/__init__.py
  airbyte-integrations/connectors/source-zenefits/source_zenefits/run.py
  airbyte-integrations/connectors/source-zenefits/source_zenefits/source.py
  docs/integrations/sources/zenefits.md
Labels: area/documentation, area/connectors, connectors/source/zenefits

#43021 fix(source-activecampaign): disable pypi in metadata
  airbyte-integrations/connectors/source-activecampaign/metadata.yaml
Labels: area/connectors, connectors/source/activecampaign

#43022 fix(source-zenefits): don't publish manifest-only connector on pypi
  airbyte-integrations/connectors/source-zenefits/metadata.yaml
Labels: area/connectors, connectors/source/zenefits

#42986 [RFR for API Sources] fix issue where full refresh state is passed by regression tester
  airbyte-cdk/python/airbyte_cdk/sources/abstract_source.py
  airbyte-cdk/python/unit_tests/sources/test_abstract_source.py
Labels: CDK

#43296 🐙 source-close-com: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-close-com/metadata.yaml
  airbyte-integrations/connectors/source-close-com/poetry.lock
  airbyte-integrations/connectors/source-close-com/pyproject.toml
  docs/integrations/sources/close-com.md
Labels: area/documentation, area/connectors, connectors/source/close-com, auto-merge, up-to-date

#43295 🐙 source-nasa: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-nasa/metadata.yaml
  airbyte-integrations/connectors/source-nasa/poetry.lock
  airbyte-integrations/connectors/source-nasa/pyproject.toml
  docs/integrations/sources/nasa.md
Labels: area/documentation, area/connectors, connectors/source/nasa, auto-merge, up-to-date

#43294 🐙 source-smartengage: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-smartengage/metadata.yaml
  airbyte-integrations/connectors/source-smartengage/poetry.lock
  airbyte-integrations/connectors/source-smartengage/pyproject.toml
  docs/integrations/sources/smartengage.md
Labels: area/documentation, area/connectors, connectors/source/smartengage, auto-merge, up-to-date

#43293 🐙 source-appfollow: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-appfollow/metadata.yaml
  airbyte-integrations/connectors/source-appfollow/poetry.lock
  airbyte-integrations/connectors/source-appfollow/pyproject.toml
  docs/integrations/sources/appfollow.md
Labels: area/documentation, area/connectors, connectors/source/appfollow, auto-merge, up-to-date

#43292 🐙 source-azure-table: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-azure-table/metadata.yaml
  airbyte-integrations/connectors/source-azure-table/poetry.lock
  airbyte-integrations/connectors/source-azure-table/pyproject.toml
  docs/integrations/sources/azure-table.md
Labels: area/documentation, area/connectors, connectors/source/azure-table, auto-merge, up-to-date

#43291 🐙 source-pardot: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-pardot/metadata.yaml
  airbyte-integrations/connectors/source-pardot/poetry.lock
  airbyte-integrations/connectors/source-pardot/pyproject.toml
  docs/integrations/sources/pardot.md
Labels: area/documentation, area/connectors, connectors/source/pardot, auto-merge, up-to-date

#43290 🐙 source-google-sheets: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-google-sheets/metadata.yaml
  airbyte-integrations/connectors/source-google-sheets/poetry.lock
  airbyte-integrations/connectors/source-google-sheets/pyproject.toml
  docs/integrations/sources/google-sheets.md
Labels: area/documentation, area/connectors, connectors/source/google-sheets, auto-merge, up-to-date

#43288 🐙 source-railz: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-railz/metadata.yaml
  airbyte-integrations/connectors/source-railz/poetry.lock
  airbyte-integrations/connectors/source-railz/pyproject.toml
  docs/integrations/sources/railz.md
Labels: area/documentation, area/connectors, connectors/source/railz, auto-merge, up-to-date

#43287 🐙 source-oura: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-oura/metadata.yaml
  airbyte-integrations/connectors/source-oura/poetry.lock
  airbyte-integrations/connectors/source-oura/pyproject.toml
  docs/integrations/sources/oura.md
Labels: area/documentation, area/connectors, connectors/source/oura, auto-merge, up-to-date

#43286 🐙 source-alpha-vantage: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-alpha-vantage/metadata.yaml
  airbyte-integrations/connectors/source-alpha-vantage/poetry.lock
  airbyte-integrations/connectors/source-alpha-vantage/pyproject.toml
  docs/integrations/sources/alpha-vantage.md
Labels: area/documentation, area/connectors, connectors/source/alpha-vantage, auto-merge, up-to-date

#43285 🐙 source-klaus-api: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-klaus-api/metadata.yaml
  airbyte-integrations/connectors/source-klaus-api/poetry.lock
  airbyte-integrations/connectors/source-klaus-api/pyproject.toml
  docs/integrations/sources/klaus-api.md
Labels: area/documentation, area/connectors, connectors/source/klaus-api, auto-merge, up-to-date

#43283 🐙 source-strava: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-strava/metadata.yaml
  airbyte-integrations/connectors/source-strava/poetry.lock
  airbyte-integrations/connectors/source-strava/pyproject.toml
  docs/integrations/sources/strava.md
Labels: area/documentation, area/connectors, connectors/source/strava, auto-merge, up-to-date

#43282 🐙 destination-typesense: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/destination-typesense/metadata.yaml
  airbyte-integrations/connectors/destination-typesense/poetry.lock
  airbyte-integrations/connectors/destination-typesense/pyproject.toml
  docs/integrations/destinations/typesense.md
Labels: area/documentation, area/connectors, connectors/destination/typesense, auto-merge, up-to-date

#43281 🐙 source-linkedin-pages: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-linkedin-pages/metadata.yaml
  airbyte-integrations/connectors/source-linkedin-pages/poetry.lock
  airbyte-integrations/connectors/source-linkedin-pages/pyproject.toml
  docs/integrations/sources/linkedin-pages.md
Labels: area/documentation, area/connectors, connectors/source/linkedin-pages, auto-merge, up-to-date

#43280 🐙 source-pinterest: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  airbyte-integrations/connectors/source-pinterest/poetry.lock
  airbyte-integrations/connectors/source-pinterest/pyproject.toml
  docs/integrations/sources/pinterest.md
Labels: area/documentation, area/connectors, connectors/source/pinterest, auto-merge, up-to-date

#43279 🐙 source-okta: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-okta/metadata.yaml
  airbyte-integrations/connectors/source-okta/poetry.lock
  airbyte-integrations/connectors/source-okta/pyproject.toml
  docs/integrations/sources/okta.md
Labels: area/documentation, area/connectors, connectors/source/okta, auto-merge, up-to-date

#43278 🐙 destination-amazon-sqs: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/destination-amazon-sqs/metadata.yaml
  airbyte-integrations/connectors/destination-amazon-sqs/poetry.lock
  airbyte-integrations/connectors/destination-amazon-sqs/pyproject.toml
  docs/integrations/destinations/amazon-sqs.md
Labels: area/documentation, area/connectors, connectors/destination/amazon-sqs, auto-merge, up-to-date

#43277 🐙 source-declarative-manifest: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-declarative-manifest/metadata.yaml
  airbyte-integrations/connectors/source-declarative-manifest/poetry.lock
  airbyte-integrations/connectors/source-declarative-manifest/pyproject.toml
  docs/integrations/sources/low-code.md
Labels: area/documentation, area/connectors, connectors/source/declarative-manifest, auto-merge, up-to-date

#43276 🐙 source-intercom: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-intercom/metadata.yaml
  airbyte-integrations/connectors/source-intercom/poetry.lock
  airbyte-integrations/connectors/source-intercom/pyproject.toml
  docs/integrations/sources/intercom.md
Labels: area/documentation, area/connectors, connectors/source/intercom, auto-merge, up-to-date

#43275 🐙 source-gong: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-gong/metadata.yaml
  airbyte-integrations/connectors/source-gong/poetry.lock
  airbyte-integrations/connectors/source-gong/pyproject.toml
  docs/integrations/sources/gong.md
Labels: area/documentation, area/connectors, connectors/source/gong, auto-merge, up-to-date

#43274 🐙 source-senseforce: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-senseforce/metadata.yaml
  airbyte-integrations/connectors/source-senseforce/poetry.lock
  airbyte-integrations/connectors/source-senseforce/pyproject.toml
  docs/integrations/sources/senseforce.md
Labels: area/documentation, area/connectors, connectors/source/senseforce, auto-merge, up-to-date

#43273 🐙 source-zapier-supported-storage: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-zapier-supported-storage/metadata.yaml
  airbyte-integrations/connectors/source-zapier-supported-storage/poetry.lock
  airbyte-integrations/connectors/source-zapier-supported-storage/pyproject.toml
  docs/integrations/sources/zapier-supported-storage.md
Labels: area/documentation, area/connectors, connectors/source/zapier-supported-storage, auto-merge, up-to-date

#43272 🐙 source-configcat: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-configcat/metadata.yaml
  airbyte-integrations/connectors/source-configcat/poetry.lock
  airbyte-integrations/connectors/source-configcat/pyproject.toml
  docs/integrations/sources/configcat.md
Labels: area/documentation, area/connectors, connectors/source/configcat, auto-merge, up-to-date

#43271 🐙 source-newsdata: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-newsdata/metadata.yaml
  airbyte-integrations/connectors/source-newsdata/poetry.lock
  airbyte-integrations/connectors/source-newsdata/pyproject.toml
  docs/integrations/sources/newsdata.md
Labels: area/documentation, area/connectors, connectors/source/newsdata, auto-merge, up-to-date

#43270 🐙 source-launchdarkly: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-launchdarkly/metadata.yaml
  airbyte-integrations/connectors/source-launchdarkly/poetry.lock
  airbyte-integrations/connectors/source-launchdarkly/pyproject.toml
  docs/integrations/sources/launchdarkly.md
Labels: area/documentation, area/connectors, connectors/source/launchdarkly, auto-merge, up-to-date

#43269 🐙 source-sendgrid: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-sendgrid/metadata.yaml
  airbyte-integrations/connectors/source-sendgrid/poetry.lock
  airbyte-integrations/connectors/source-sendgrid/pyproject.toml
  docs/integrations/sources/sendgrid.md
Labels: area/documentation, area/connectors, connectors/source/sendgrid, auto-merge, up-to-date

#43268 🐙 source-firebolt: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-firebolt/metadata.yaml
  airbyte-integrations/connectors/source-firebolt/poetry.lock
  airbyte-integrations/connectors/source-firebolt/pyproject.toml
  docs/integrations/sources/firebolt.md
Labels: area/documentation, area/connectors, connectors/source/firebolt, auto-merge, up-to-date

#43267 🐙 source-amplitude: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-amplitude/metadata.yaml
  airbyte-integrations/connectors/source-amplitude/poetry.lock
  airbyte-integrations/connectors/source-amplitude/pyproject.toml
  docs/integrations/sources/amplitude.md
Labels: area/documentation, area/connectors, connectors/source/amplitude, auto-merge, up-to-date

#43266 🐙 source-klarna: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-klarna/metadata.yaml
  airbyte-integrations/connectors/source-klarna/poetry.lock
  airbyte-integrations/connectors/source-klarna/pyproject.toml
  docs/integrations/sources/klarna.md
Labels: area/documentation, area/connectors, connectors/source/klarna, auto-merge, up-to-date

#43265 🐙 source-postmarkapp: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-postmarkapp/metadata.yaml
  airbyte-integrations/connectors/source-postmarkapp/poetry.lock
  airbyte-integrations/connectors/source-postmarkapp/pyproject.toml
  docs/integrations/sources/postmarkapp.md
Labels: area/documentation, area/connectors, connectors/source/postmarkapp, auto-merge, up-to-date

#43264 🐙 source-recruitee: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-recruitee/metadata.yaml
  airbyte-integrations/connectors/source-recruitee/poetry.lock
  airbyte-integrations/connectors/source-recruitee/pyproject.toml
  docs/integrations/sources/recruitee.md
Labels: area/documentation, area/connectors, connectors/source/recruitee, auto-merge, up-to-date

#43263 🐙 source-gnews: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-gnews/metadata.yaml
  airbyte-integrations/connectors/source-gnews/poetry.lock
  airbyte-integrations/connectors/source-gnews/pyproject.toml
  docs/integrations/sources/gnews.md
Labels: area/documentation, area/connectors, connectors/source/gnews, auto-merge, up-to-date

#43262 🐙 source-pokeapi: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-pokeapi/metadata.yaml
  airbyte-integrations/connectors/source-pokeapi/poetry.lock
  airbyte-integrations/connectors/source-pokeapi/pyproject.toml
  docs/integrations/sources/pokeapi.md
Labels: area/documentation, area/connectors, connectors/source/pokeapi, auto-merge, up-to-date

#43261 🐙 source-glassfrog: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-glassfrog/metadata.yaml
  airbyte-integrations/connectors/source-glassfrog/poetry.lock
  airbyte-integrations/connectors/source-glassfrog/pyproject.toml
  docs/integrations/sources/glassfrog.md
Labels: area/documentation, area/connectors, connectors/source/glassfrog, auto-merge, up-to-date

#43260 🐙 source-wrike: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-wrike/metadata.yaml
  airbyte-integrations/connectors/source-wrike/poetry.lock
  airbyte-integrations/connectors/source-wrike/pyproject.toml
  docs/integrations/sources/wrike.md
Labels: area/documentation, area/connectors, connectors/source/wrike, auto-merge, up-to-date

#43259 🐙 source-tmdb: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-tmdb/metadata.yaml
  airbyte-integrations/connectors/source-tmdb/poetry.lock
  airbyte-integrations/connectors/source-tmdb/pyproject.toml
  docs/integrations/sources/tmdb.md
Labels: area/documentation, area/connectors, connectors/source/tmdb, auto-merge, up-to-date

#43258 🐙 source-gutendex: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-gutendex/metadata.yaml
  airbyte-integrations/connectors/source-gutendex/poetry.lock
  airbyte-integrations/connectors/source-gutendex/pyproject.toml
  docs/integrations/sources/gutendex.md
Labels: area/documentation, area/connectors, connectors/source/gutendex, auto-merge, up-to-date

#43257 🐙 source-nytimes: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-nytimes/metadata.yaml
  airbyte-integrations/connectors/source-nytimes/poetry.lock
  airbyte-integrations/connectors/source-nytimes/pyproject.toml
  docs/integrations/sources/nytimes.md
Labels: area/documentation, area/connectors, connectors/source/nytimes, auto-merge, up-to-date

#43256 🐙 source-kyriba: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-kyriba/metadata.yaml
  airbyte-integrations/connectors/source-kyriba/poetry.lock
  airbyte-integrations/connectors/source-kyriba/pyproject.toml
  docs/integrations/sources/kyriba.md
Labels: area/documentation, area/connectors, connectors/source/kyriba, auto-merge, up-to-date

#43255 🐙 source-twilio-taskrouter: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-twilio-taskrouter/metadata.yaml
  airbyte-integrations/connectors/source-twilio-taskrouter/poetry.lock
  airbyte-integrations/connectors/source-twilio-taskrouter/pyproject.toml
  docs/integrations/sources/twilio-taskrouter.md
Labels: area/documentation, area/connectors, connectors/source/twilio-taskrouter, auto-merge, up-to-date

#43254 🐙 source-freshservice: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-freshservice/metadata.yaml
  airbyte-integrations/connectors/source-freshservice/poetry.lock
  airbyte-integrations/connectors/source-freshservice/pyproject.toml
  docs/integrations/sources/freshservice.md
Labels: area/documentation, area/connectors, connectors/source/freshservice, auto-merge, up-to-date

#43253 🐙 source-sendinblue: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-sendinblue/metadata.yaml
  airbyte-integrations/connectors/source-sendinblue/poetry.lock
  airbyte-integrations/connectors/source-sendinblue/pyproject.toml
  docs/integrations/sources/sendinblue.md
Labels: area/documentation, area/connectors, connectors/source/sendinblue, auto-merge, up-to-date

#43252 🐙 source-plausible: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-plausible/metadata.yaml
  airbyte-integrations/connectors/source-plausible/poetry.lock
  airbyte-integrations/connectors/source-plausible/pyproject.toml
  docs/integrations/sources/plausible.md
Labels: area/documentation, area/connectors, connectors/source/plausible, auto-merge, up-to-date

#43251 🐙 source-microsoft-teams: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-microsoft-teams/metadata.yaml
  airbyte-integrations/connectors/source-microsoft-teams/poetry.lock
  airbyte-integrations/connectors/source-microsoft-teams/pyproject.toml
  docs/integrations/sources/microsoft-teams.md
Labels: area/documentation, area/connectors, connectors/source/microsoft-teams, auto-merge, up-to-date

#43250 🐙 source-auth0: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-auth0/metadata.yaml
  airbyte-integrations/connectors/source-auth0/poetry.lock
  airbyte-integrations/connectors/source-auth0/pyproject.toml
  docs/integrations/sources/auth0.md
Labels: area/documentation, area/connectors, connectors/source/auth0, auto-merge, up-to-date

#43249 🐙 source-sonar-cloud: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-sonar-cloud/metadata.yaml
  airbyte-integrations/connectors/source-sonar-cloud/poetry.lock
  airbyte-integrations/connectors/source-sonar-cloud/pyproject.toml
  docs/integrations/sources/sonar-cloud.md
Labels: area/documentation, area/connectors, connectors/source/sonar-cloud, auto-merge, up-to-date

#43248 🐙 source-opsgenie: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-opsgenie/metadata.yaml
  airbyte-integrations/connectors/source-opsgenie/poetry.lock
  airbyte-integrations/connectors/source-opsgenie/pyproject.toml
  docs/integrations/sources/opsgenie.md
Labels: area/documentation, area/connectors, connectors/source/opsgenie, auto-merge, up-to-date

#43247 🐙 source-klaviyo: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-klaviyo/metadata.yaml
  airbyte-integrations/connectors/source-klaviyo/poetry.lock
  airbyte-integrations/connectors/source-klaviyo/pyproject.toml
  docs/integrations/sources/klaviyo.md
Labels: area/documentation, area/connectors, connectors/source/klaviyo, auto-merge, up-to-date

#43246 🐙 source-zendesk-sunshine: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-zendesk-sunshine/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-sunshine/poetry.lock
  airbyte-integrations/connectors/source-zendesk-sunshine/pyproject.toml
  docs/integrations/sources/zendesk-sunshine.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-sunshine, auto-merge, up-to-date

#43245 🐙 source-bing-ads: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/poetry.lock
  airbyte-integrations/connectors/source-bing-ads/pyproject.toml
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors, connectors/source/bing-ads, auto-merge, up-to-date

#43244 🐙 source-hardcoded-records: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-hardcoded-records/metadata.yaml
  airbyte-integrations/connectors/source-hardcoded-records/poetry.lock
  airbyte-integrations/connectors/source-hardcoded-records/pyproject.toml
  docs/integrations/sources/hardcoded-records.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/hardcoded-records

#43243 🐙 source-zenloop: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-zenloop/metadata.yaml
  airbyte-integrations/connectors/source-zenloop/poetry.lock
  airbyte-integrations/connectors/source-zenloop/pyproject.toml
  docs/integrations/sources/zenloop.md
Labels: area/documentation, area/connectors, connectors/source/zenloop, auto-merge, up-to-date

#43242 🐙 source-waiteraid: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-waiteraid/metadata.yaml
  airbyte-integrations/connectors/source-waiteraid/poetry.lock
  airbyte-integrations/connectors/source-waiteraid/pyproject.toml
  docs/integrations/sources/waiteraid.md
Labels: area/documentation, area/connectors, connectors/source/waiteraid, auto-merge, up-to-date

#43241 🐙 source-intruder: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-intruder/metadata.yaml
  airbyte-integrations/connectors/source-intruder/poetry.lock
  airbyte-integrations/connectors/source-intruder/pyproject.toml
  docs/integrations/sources/intruder.md
Labels: area/documentation, area/connectors, connectors/source/intruder, auto-merge, up-to-date

#43240 🐙 source-webflow: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-webflow/metadata.yaml
  airbyte-integrations/connectors/source-webflow/poetry.lock
  airbyte-integrations/connectors/source-webflow/pyproject.toml
  docs/integrations/sources/webflow.md
Labels: area/documentation, area/connectors, connectors/source/webflow, auto-merge, up-to-date

#43239 🐙 source-plaid: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-plaid/metadata.yaml
  airbyte-integrations/connectors/source-plaid/poetry.lock
  airbyte-integrations/connectors/source-plaid/pyproject.toml
  docs/integrations/sources/plaid.md
Labels: area/documentation, area/connectors, connectors/source/plaid, auto-merge, up-to-date

#43238 🐙 source-freshcaller: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-freshcaller/metadata.yaml
  airbyte-integrations/connectors/source-freshcaller/poetry.lock
  airbyte-integrations/connectors/source-freshcaller/pyproject.toml
  docs/integrations/sources/freshcaller.md
Labels: area/documentation, area/connectors, connectors/source/freshcaller, auto-merge, up-to-date

#43237 🐙 source-convertkit: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-convertkit/metadata.yaml
  airbyte-integrations/connectors/source-convertkit/poetry.lock
  airbyte-integrations/connectors/source-convertkit/pyproject.toml
  docs/integrations/sources/convertkit.md
Labels: area/documentation, area/connectors, connectors/source/convertkit, auto-merge, up-to-date

#43236 🐙 source-gcs: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-gcs/metadata.yaml
  airbyte-integrations/connectors/source-gcs/poetry.lock
  airbyte-integrations/connectors/source-gcs/pyproject.toml
  docs/integrations/sources/gcs.md
Labels: area/documentation, area/connectors, connectors/source/gcs, auto-merge, up-to-date

#43235 🐙 source-microsoft-sharepoint: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-microsoft-sharepoint/metadata.yaml
  airbyte-integrations/connectors/source-microsoft-sharepoint/poetry.lock
  airbyte-integrations/connectors/source-microsoft-sharepoint/pyproject.toml
  docs/integrations/sources/microsoft-sharepoint.md
Labels: area/documentation, area/connectors, connectors/source/microsoft-sharepoint, auto-merge, up-to-date

#43234 🐙 destination-databend: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/destination-databend/metadata.yaml
  airbyte-integrations/connectors/destination-databend/poetry.lock
  airbyte-integrations/connectors/destination-databend/pyproject.toml
  docs/integrations/destinations/databend.md
Labels: area/documentation, area/connectors, connectors/destination/databend, auto-merge, up-to-date

#43233 🐙 source-hellobaton: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-hellobaton/metadata.yaml
  airbyte-integrations/connectors/source-hellobaton/poetry.lock
  airbyte-integrations/connectors/source-hellobaton/pyproject.toml
  docs/integrations/sources/hellobaton.md
Labels: area/documentation, area/connectors, connectors/source/hellobaton, auto-merge, up-to-date

#43232 🐙 source-posthog: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-posthog/metadata.yaml
  airbyte-integrations/connectors/source-posthog/poetry.lock
  airbyte-integrations/connectors/source-posthog/pyproject.toml
  docs/integrations/sources/posthog.md
Labels: area/documentation, area/connectors, connectors/source/posthog, auto-merge, up-to-date

#43231 🐙 source-chartmogul: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-chartmogul/metadata.yaml
  airbyte-integrations/connectors/source-chartmogul/poetry.lock
  airbyte-integrations/connectors/source-chartmogul/pyproject.toml
  docs/integrations/sources/chartmogul.md
Labels: area/documentation, area/connectors, connectors/source/chartmogul, auto-merge, up-to-date

#43230 🐙 source-gocardless: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-gocardless/metadata.yaml
  airbyte-integrations/connectors/source-gocardless/poetry.lock
  airbyte-integrations/connectors/source-gocardless/pyproject.toml
  docs/integrations/sources/gocardless.md
Labels: area/documentation, area/connectors, connectors/source/gocardless, auto-merge, up-to-date

#43229 🐙 source-appsflyer: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-appsflyer/metadata.yaml
  airbyte-integrations/connectors/source-appsflyer/poetry.lock
  airbyte-integrations/connectors/source-appsflyer/pyproject.toml
  docs/integrations/sources/appsflyer.md
Labels: area/documentation, area/connectors, connectors/source/appsflyer, auto-merge, up-to-date

#43228 🐙 source-mailchimp: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-mailchimp/metadata.yaml
  airbyte-integrations/connectors/source-mailchimp/poetry.lock
  airbyte-integrations/connectors/source-mailchimp/pyproject.toml
  docs/integrations/sources/mailchimp.md
Labels: area/documentation, area/connectors, connectors/source/mailchimp, auto-merge, up-to-date

#43227 🐙 source-coinmarketcap: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-coinmarketcap/metadata.yaml
  airbyte-integrations/connectors/source-coinmarketcap/poetry.lock
  airbyte-integrations/connectors/source-coinmarketcap/pyproject.toml
  docs/integrations/sources/coinmarketcap.md
Labels: area/documentation, area/connectors, connectors/source/coinmarketcap, auto-merge, up-to-date

#43226 🐙 source-timely: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-timely/metadata.yaml
  airbyte-integrations/connectors/source-timely/poetry.lock
  airbyte-integrations/connectors/source-timely/pyproject.toml
  docs/integrations/sources/timely.md
Labels: area/documentation, area/connectors, connectors/source/timely, auto-merge, up-to-date

#43225 🐙 source-braintree: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-braintree/metadata.yaml
  airbyte-integrations/connectors/source-braintree/poetry.lock
  airbyte-integrations/connectors/source-braintree/pyproject.toml
  docs/integrations/sources/braintree.md
Labels: area/documentation, area/connectors, connectors/source/braintree, auto-merge, up-to-date

#43224 🐙 source-facebook-pages: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-facebook-pages/metadata.yaml
  airbyte-integrations/connectors/source-facebook-pages/poetry.lock
  airbyte-integrations/connectors/source-facebook-pages/pyproject.toml
  docs/integrations/sources/facebook-pages.md
Labels: area/documentation, area/connectors, connectors/source/facebook-pages, auto-merge, up-to-date

#43223 🐙 source-pivotal-tracker: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-pivotal-tracker/metadata.yaml
  airbyte-integrations/connectors/source-pivotal-tracker/poetry.lock
  airbyte-integrations/connectors/source-pivotal-tracker/pyproject.toml
  docs/integrations/sources/pivotal-tracker.md
Labels: area/documentation, area/connectors, connectors/source/pivotal-tracker, auto-merge, up-to-date

#43222 🐙 source-chargify: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-chargify/metadata.yaml
  airbyte-integrations/connectors/source-chargify/poetry.lock
  airbyte-integrations/connectors/source-chargify/pyproject.toml
  docs/integrations/sources/chargify.md
Labels: area/documentation, area/connectors, connectors/source/chargify, auto-merge, up-to-date

#43221 🐙 source-tyntec-sms: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-tyntec-sms/metadata.yaml
  airbyte-integrations/connectors/source-tyntec-sms/poetry.lock
  airbyte-integrations/connectors/source-tyntec-sms/pyproject.toml
  docs/integrations/sources/tyntec-sms.md
Labels: area/documentation, area/connectors, connectors/source/tyntec-sms, auto-merge, up-to-date

#43220 🐙 source-mailerlite: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-mailerlite/metadata.yaml
  airbyte-integrations/connectors/source-mailerlite/poetry.lock
  airbyte-integrations/connectors/source-mailerlite/pyproject.toml
  docs/integrations/sources/mailerlite.md
Labels: area/documentation, area/connectors, connectors/source/mailerlite, auto-merge, up-to-date

#43219 🐙 destination-qdrant: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/destination-qdrant/metadata.yaml
  airbyte-integrations/connectors/destination-qdrant/poetry.lock
  airbyte-integrations/connectors/destination-qdrant/pyproject.toml
  docs/integrations/destinations/qdrant.md
Labels: area/documentation, area/connectors, connectors/destination/qdrant, auto-merge, up-to-date

#43217 🐙 source-openweather: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-openweather/metadata.yaml
  airbyte-integrations/connectors/source-openweather/poetry.lock
  airbyte-integrations/connectors/source-openweather/pyproject.toml
  docs/integrations/sources/openweather.md
Labels: area/documentation, area/connectors, connectors/source/openweather, auto-merge, up-to-date

#43216 🐙 destination-timeplus: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/destination-timeplus/metadata.yaml
  airbyte-integrations/connectors/destination-timeplus/poetry.lock
  airbyte-integrations/connectors/destination-timeplus/pyproject.toml
  docs/integrations/destinations/timeplus.md
Labels: area/documentation, area/connectors, connectors/destination/timeplus, auto-merge, up-to-date

#43215 🐙 source-reply-io: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-reply-io/metadata.yaml
  airbyte-integrations/connectors/source-reply-io/poetry.lock
  airbyte-integrations/connectors/source-reply-io/pyproject.toml
  docs/integrations/sources/reply-io.md
Labels: area/documentation, area/connectors, connectors/source/reply-io, auto-merge, up-to-date

#43214 🐙 source-us-census: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-us-census/metadata.yaml
  airbyte-integrations/connectors/source-us-census/poetry.lock
  airbyte-integrations/connectors/source-us-census/pyproject.toml
  docs/integrations/sources/us-census.md
Labels: area/documentation, area/connectors, connectors/source/us-census, auto-merge, up-to-date

#43213 🐙 source-trustpilot: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-trustpilot/metadata.yaml
  airbyte-integrations/connectors/source-trustpilot/poetry.lock
  airbyte-integrations/connectors/source-trustpilot/pyproject.toml
  docs/integrations/sources/trustpilot.md
Labels: area/documentation, area/connectors, connectors/source/trustpilot, auto-merge, up-to-date

#43212 🐙 source-typeform: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-typeform/metadata.yaml
  airbyte-integrations/connectors/source-typeform/poetry.lock
  airbyte-integrations/connectors/source-typeform/pyproject.toml
  docs/integrations/sources/typeform.md
Labels: area/documentation, area/connectors, connectors/source/typeform, auto-merge, up-to-date

#43211 🐙 source-salesforce: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/poetry.lock
  airbyte-integrations/connectors/source-salesforce/pyproject.toml
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors, connectors/source/salesforce, auto-merge, up-to-date

#43209 🐙 source-todoist: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-todoist/metadata.yaml
  airbyte-integrations/connectors/source-todoist/poetry.lock
  airbyte-integrations/connectors/source-todoist/pyproject.toml
  docs/integrations/sources/todoist.md
Labels: area/documentation, area/connectors, connectors/source/todoist, auto-merge, up-to-date

#43208 🐙 source-statuspage: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-statuspage/metadata.yaml
  airbyte-integrations/connectors/source-statuspage/poetry.lock
  airbyte-integrations/connectors/source-statuspage/pyproject.toml
  docs/integrations/sources/statuspage.md
Labels: area/documentation, area/connectors, connectors/source/statuspage, auto-merge, up-to-date

#43207 🐙 source-workramp: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-workramp/metadata.yaml
  airbyte-integrations/connectors/source-workramp/poetry.lock
  airbyte-integrations/connectors/source-workramp/pyproject.toml
  docs/integrations/sources/workramp.md
Labels: area/documentation, area/connectors, connectors/source/workramp, auto-merge, up-to-date

#43206 🐙 source-insightly: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-insightly/metadata.yaml
  airbyte-integrations/connectors/source-insightly/poetry.lock
  airbyte-integrations/connectors/source-insightly/pyproject.toml
  docs/integrations/sources/insightly.md
Labels: area/documentation, area/connectors, connectors/source/insightly, auto-merge, up-to-date

#43205 🐙 source-everhour: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-everhour/metadata.yaml
  airbyte-integrations/connectors/source-everhour/poetry.lock
  airbyte-integrations/connectors/source-everhour/pyproject.toml
  docs/integrations/sources/everhour.md
Labels: area/documentation, area/connectors, connectors/source/everhour, auto-merge, up-to-date

#43204 🐙 source-yahoo-finance-price: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-yahoo-finance-price/metadata.yaml
  airbyte-integrations/connectors/source-yahoo-finance-price/poetry.lock
  airbyte-integrations/connectors/source-yahoo-finance-price/pyproject.toml
  docs/integrations/sources/yahoo-finance-price.md
Labels: area/documentation, area/connectors, connectors/source/yahoo-finance-price, auto-merge, up-to-date

#43203 🐙 source-zendesk-talk: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-zendesk-talk/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-talk/poetry.lock
  airbyte-integrations/connectors/source-zendesk-talk/pyproject.toml
  docs/integrations/sources/zendesk-talk.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-talk, auto-merge, up-to-date

#43202 🐙 source-public-apis: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-public-apis/metadata.yaml
  airbyte-integrations/connectors/source-public-apis/poetry.lock
  airbyte-integrations/connectors/source-public-apis/pyproject.toml
  docs/integrations/sources/public-apis.md
Labels: area/documentation, area/connectors, connectors/source/public-apis, auto-merge, up-to-date

#43201 🐙 source-dremio: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-dremio/metadata.yaml
  airbyte-integrations/connectors/source-dremio/poetry.lock
  airbyte-integrations/connectors/source-dremio/pyproject.toml
  docs/integrations/sources/dremio.md
Labels: area/documentation, area/connectors, connectors/source/dremio, auto-merge, up-to-date

#43200 🐙 destination-xata: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/destination-xata/metadata.yaml
  airbyte-integrations/connectors/destination-xata/poetry.lock
  airbyte-integrations/connectors/destination-xata/pyproject.toml
  docs/integrations/destinations/xata.md
Labels: area/documentation, area/connectors, connectors/destination/xata, auto-merge, up-to-date

#43199 🐙 source-qualaroo: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-qualaroo/metadata.yaml
  airbyte-integrations/connectors/source-qualaroo/poetry.lock
  airbyte-integrations/connectors/source-qualaroo/pyproject.toml
  docs/integrations/sources/qualaroo.md
Labels: area/documentation, area/connectors, connectors/source/qualaroo, auto-merge, up-to-date

#43198 🐙 source-yotpo: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-yotpo/metadata.yaml
  airbyte-integrations/connectors/source-yotpo/poetry.lock
  airbyte-integrations/connectors/source-yotpo/pyproject.toml
  docs/integrations/sources/yotpo.md
Labels: area/documentation, area/connectors, connectors/source/yotpo, auto-merge, up-to-date

#43197 🐙 source-fullstory: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-fullstory/metadata.yaml
  airbyte-integrations/connectors/source-fullstory/poetry.lock
  airbyte-integrations/connectors/source-fullstory/pyproject.toml
  docs/integrations/sources/fullstory.md
Labels: area/documentation, area/connectors, connectors/source/fullstory, auto-merge, up-to-date

#43196 🐙 source-jira: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-jira/metadata.yaml
  airbyte-integrations/connectors/source-jira/poetry.lock
  airbyte-integrations/connectors/source-jira/pyproject.toml
  docs/integrations/sources/jira.md
Labels: area/documentation, area/connectors, connectors/source/jira, auto-merge, up-to-date

#43195 🐙 source-apple-search-ads: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-apple-search-ads/metadata.yaml
  airbyte-integrations/connectors/source-apple-search-ads/poetry.lock
  airbyte-integrations/connectors/source-apple-search-ads/pyproject.toml
  docs/integrations/sources/apple-search-ads.md
Labels: area/documentation, area/connectors, connectors/source/apple-search-ads, auto-merge, up-to-date

#43193 🐙 source-commcare: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-commcare/metadata.yaml
  airbyte-integrations/connectors/source-commcare/poetry.lock
  airbyte-integrations/connectors/source-commcare/pyproject.toml
  docs/integrations/sources/commcare.md
Labels: area/documentation, area/connectors, connectors/source/commcare, auto-merge, up-to-date

#43192 🐙 source-freshsales: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-freshsales/metadata.yaml
  airbyte-integrations/connectors/source-freshsales/poetry.lock
  airbyte-integrations/connectors/source-freshsales/pyproject.toml
  docs/integrations/sources/freshsales.md
Labels: area/documentation, area/connectors, connectors/source/freshsales, auto-merge, up-to-date

#43191 🐙 source-babelforce: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-babelforce/metadata.yaml
  airbyte-integrations/connectors/source-babelforce/poetry.lock
  airbyte-integrations/connectors/source-babelforce/pyproject.toml
  docs/integrations/sources/babelforce.md
Labels: area/documentation, area/connectors, connectors/source/babelforce, auto-merge, up-to-date

#43190 🐙 source-surveycto: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-surveycto/metadata.yaml
  airbyte-integrations/connectors/source-surveycto/poetry.lock
  airbyte-integrations/connectors/source-surveycto/pyproject.toml
  docs/integrations/sources/surveycto.md
Labels: area/documentation, area/connectors, connectors/source/surveycto, auto-merge, up-to-date

#43189 🐙 source-vitally: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-vitally/metadata.yaml
  airbyte-integrations/connectors/source-vitally/poetry.lock
  airbyte-integrations/connectors/source-vitally/pyproject.toml
  docs/integrations/sources/vitally.md
Labels: area/documentation, area/connectors, connectors/source/vitally, auto-merge, up-to-date

#43188 🐙 source-orbit: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-orbit/metadata.yaml
  airbyte-integrations/connectors/source-orbit/poetry.lock
  airbyte-integrations/connectors/source-orbit/pyproject.toml
  docs/integrations/sources/orbit.md
Labels: area/documentation, area/connectors, connectors/source/orbit, auto-merge, up-to-date

#43187 🐙 source-genesys: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-genesys/metadata.yaml
  airbyte-integrations/connectors/source-genesys/poetry.lock
  airbyte-integrations/connectors/source-genesys/pyproject.toml
  docs/integrations/sources/genesys.md
Labels: area/documentation, area/connectors, connectors/source/genesys, auto-merge, up-to-date

#43186 🐙 source-aha: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-aha/metadata.yaml
  airbyte-integrations/connectors/source-aha/poetry.lock
  airbyte-integrations/connectors/source-aha/pyproject.toml
  docs/integrations/sources/aha.md
Labels: area/documentation, area/connectors, connectors/source/aha, auto-merge, up-to-date

#43185 🐙 source-customer-io: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-customer-io/metadata.yaml
  airbyte-integrations/connectors/source-customer-io/poetry.lock
  airbyte-integrations/connectors/source-customer-io/pyproject.toml
  docs/integrations/sources/customer-io.md
Labels: area/documentation, area/connectors, connectors/source/customer-io, auto-merge, up-to-date

#43184 🐙 source-wikipedia-pageviews: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-wikipedia-pageviews/metadata.yaml
  airbyte-integrations/connectors/source-wikipedia-pageviews/poetry.lock
  airbyte-integrations/connectors/source-wikipedia-pageviews/pyproject.toml
  docs/integrations/sources/wikipedia-pageviews.md
Labels: area/documentation, area/connectors, connectors/source/wikipedia-pageviews, auto-merge, up-to-date

#43183 🐙 source-linnworks: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-linnworks/metadata.yaml
  airbyte-integrations/connectors/source-linnworks/poetry.lock
  airbyte-integrations/connectors/source-linnworks/pyproject.toml
  docs/integrations/sources/linnworks.md
Labels: area/documentation, area/connectors, connectors/source/linnworks, auto-merge, up-to-date

#43182 🐙 source-mixpanel: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-mixpanel/metadata.yaml
  airbyte-integrations/connectors/source-mixpanel/poetry.lock
  airbyte-integrations/connectors/source-mixpanel/pyproject.toml
  docs/integrations/sources/mixpanel.md
Labels: area/documentation, area/connectors, connectors/source/mixpanel, auto-merge, up-to-date

#43181 🐙 source-google-webfonts: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-google-webfonts/metadata.yaml
  airbyte-integrations/connectors/source-google-webfonts/poetry.lock
  airbyte-integrations/connectors/source-google-webfonts/pyproject.toml
  docs/integrations/sources/google-webfonts.md
Labels: area/documentation, area/connectors, connectors/source/google-webfonts, auto-merge, up-to-date

#43180 🐙 source-retently: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-retently/metadata.yaml
  airbyte-integrations/connectors/source-retently/poetry.lock
  airbyte-integrations/connectors/source-retently/pyproject.toml
  docs/integrations/sources/retently.md
Labels: area/documentation, area/connectors, connectors/source/retently, auto-merge, up-to-date

#43179 🐙 source-mailjet-sms: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-mailjet-sms/metadata.yaml
  airbyte-integrations/connectors/source-mailjet-sms/poetry.lock
  airbyte-integrations/connectors/source-mailjet-sms/pyproject.toml
  docs/integrations/sources/mailjet-sms.md
Labels: area/documentation, area/connectors, connectors/source/mailjet-sms, auto-merge, up-to-date

#43178 🐙 destination-cumulio: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/destination-cumulio/metadata.yaml
  airbyte-integrations/connectors/destination-cumulio/poetry.lock
  airbyte-integrations/connectors/destination-cumulio/pyproject.toml
  docs/integrations/destinations/cumulio.md
Labels: area/documentation, area/connectors, connectors/destination/cumulio, auto-merge, up-to-date

#43177 🐙 source-weatherstack: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-weatherstack/metadata.yaml
  airbyte-integrations/connectors/source-weatherstack/poetry.lock
  airbyte-integrations/connectors/source-weatherstack/pyproject.toml
  docs/integrations/sources/weatherstack.md
Labels: area/documentation, area/connectors, connectors/source/weatherstack, auto-merge, up-to-date

#43176 🐙 source-spacex-api: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-spacex-api/metadata.yaml
  airbyte-integrations/connectors/source-spacex-api/poetry.lock
  airbyte-integrations/connectors/source-spacex-api/pyproject.toml
  docs/integrations/sources/spacex-api.md
Labels: area/documentation, area/connectors, connectors/source/spacex-api, auto-merge, up-to-date

#43175 🐙 source-smaily: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-smaily/metadata.yaml
  airbyte-integrations/connectors/source-smaily/poetry.lock
  airbyte-integrations/connectors/source-smaily/pyproject.toml
  docs/integrations/sources/smaily.md
Labels: area/documentation, area/connectors, connectors/source/smaily, auto-merge, up-to-date

#43174 🐙 source-snapchat-marketing: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-snapchat-marketing/metadata.yaml
  airbyte-integrations/connectors/source-snapchat-marketing/poetry.lock
  airbyte-integrations/connectors/source-snapchat-marketing/pyproject.toml
  docs/integrations/sources/snapchat-marketing.md
Labels: area/documentation, area/connectors, connectors/source/snapchat-marketing, auto-merge, up-to-date

#43173 🐙 source-callrail: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-callrail/metadata.yaml
  airbyte-integrations/connectors/source-callrail/poetry.lock
  airbyte-integrations/connectors/source-callrail/pyproject.toml
  docs/integrations/sources/callrail.md
Labels: area/documentation, area/connectors, connectors/source/callrail, auto-merge, up-to-date

#43172 🐙 source-harness: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-harness/metadata.yaml
  airbyte-integrations/connectors/source-harness/poetry.lock
  airbyte-integrations/connectors/source-harness/pyproject.toml
  docs/integrations/sources/harness.md
Labels: area/documentation, area/connectors, connectors/source/harness, auto-merge, up-to-date

#43171 🐙 source-recharge: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-recharge/metadata.yaml
  airbyte-integrations/connectors/source-recharge/poetry.lock
  airbyte-integrations/connectors/source-recharge/pyproject.toml
  docs/integrations/sources/recharge.md
Labels: area/documentation, area/connectors, connectors/source/recharge, auto-merge, up-to-date

#43170 🐙 source-n8n: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-n8n/metadata.yaml
  airbyte-integrations/connectors/source-n8n/poetry.lock
  airbyte-integrations/connectors/source-n8n/pyproject.toml
  docs/integrations/sources/n8n.md
Labels: area/documentation, area/connectors, connectors/source/n8n, auto-merge, up-to-date

#43169 🐙 source-delighted: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-delighted/metadata.yaml
  airbyte-integrations/connectors/source-delighted/poetry.lock
  airbyte-integrations/connectors/source-delighted/pyproject.toml
  docs/integrations/sources/delighted.md
Labels: area/documentation, area/connectors, connectors/source/delighted, auto-merge, up-to-date

#43168 🐙 source-microsoft-onedrive: run up-to-date pipeline [2024-08-03]
  airbyte-integrations/connectors/source-microsoft-onedrive/metadata.yaml
  airbyte-integrations/connectors/source-microsoft-onedrive/poetry.lock
  airbyte-integrations/connectors/source-microsoft-onedrive/pyproject.toml
  docs/integrations/sources/microsoft-onedrive.md
Labels: area/documentation, area/connectors, connectors/source/microsoft-onedrive, auto-merge, up-to-date
