Repository airbytehq/airbyte, pull requests merged in 2024-09, with the labels that each got.

#45064 🐙 source-klaviyo: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-klaviyo/metadata.yaml
  airbyte-integrations/connectors/source-klaviyo/poetry.lock
  airbyte-integrations/connectors/source-klaviyo/pyproject.toml
  docs/integrations/sources/klaviyo.md
Labels: area/documentation, area/connectors, connectors/source/klaviyo, auto-merge, up-to-date

#45063 🐙 destination-pinecone: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/destination-pinecone/metadata.yaml
  airbyte-integrations/connectors/destination-pinecone/poetry.lock
  airbyte-integrations/connectors/destination-pinecone/pyproject.toml
  docs/integrations/destinations/pinecone.md
Labels: area/documentation, area/connectors, connectors/destination/pinecone, auto-merge, up-to-date

#45061 🐙 source-github: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/poetry.lock
  airbyte-integrations/connectors/source-github/pyproject.toml
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors, connectors/source/github, auto-merge, up-to-date

#45060 🐙 source-pinterest: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  airbyte-integrations/connectors/source-pinterest/poetry.lock
  airbyte-integrations/connectors/source-pinterest/pyproject.toml
  docs/integrations/sources/pinterest.md
Labels: area/documentation, area/connectors, connectors/source/pinterest, auto-merge, up-to-date

#45059 🐙 source-mixpanel: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-mixpanel/metadata.yaml
  airbyte-integrations/connectors/source-mixpanel/poetry.lock
  airbyte-integrations/connectors/source-mixpanel/pyproject.toml
  docs/integrations/sources/mixpanel.md
Labels: area/documentation, area/connectors, connectors/source/mixpanel, auto-merge, up-to-date

#45058 🐙 source-rss: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-rss/metadata.yaml
  airbyte-integrations/connectors/source-rss/poetry.lock
  airbyte-integrations/connectors/source-rss/pyproject.toml
  docs/integrations/sources/rss.md
Labels: area/documentation, area/connectors, connectors/source/rss, auto-merge, up-to-date

#45057 🐙 destination-typesense: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/destination-typesense/metadata.yaml
  airbyte-integrations/connectors/destination-typesense/poetry.lock
  airbyte-integrations/connectors/destination-typesense/pyproject.toml
  docs/integrations/destinations/typesense.md
Labels: area/documentation, area/connectors, connectors/destination/typesense, auto-merge, up-to-date

#45056 🐙 source-outreach: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-outreach/metadata.yaml
  airbyte-integrations/connectors/source-outreach/poetry.lock
  airbyte-integrations/connectors/source-outreach/pyproject.toml
  docs/integrations/sources/outreach.md
Labels: area/documentation, area/connectors, connectors/source/outreach, auto-merge, up-to-date

#45055 🐙 source-firebase-realtime-database: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-firebase-realtime-database/metadata.yaml
  airbyte-integrations/connectors/source-firebase-realtime-database/poetry.lock
  airbyte-integrations/connectors/source-firebase-realtime-database/pyproject.toml
  docs/integrations/sources/firebase-realtime-database.md
Labels: area/documentation, area/connectors, connectors/source/firebase-realtime-database, auto-merge, up-to-date

#45054 🐙 source-younium: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-younium/metadata.yaml
  airbyte-integrations/connectors/source-younium/poetry.lock
  airbyte-integrations/connectors/source-younium/pyproject.toml
  docs/integrations/sources/younium.md
Labels: area/documentation, area/connectors, connectors/source/younium, auto-merge, up-to-date

#45053 🐙 source-partnerstack: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-partnerstack/metadata.yaml
  airbyte-integrations/connectors/source-partnerstack/poetry.lock
  airbyte-integrations/connectors/source-partnerstack/pyproject.toml
  docs/integrations/sources/partnerstack.md
Labels: area/documentation, area/connectors, connectors/source/partnerstack, auto-merge, up-to-date

#45052 🐙 source-facebook-pages: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-facebook-pages/metadata.yaml
  airbyte-integrations/connectors/source-facebook-pages/poetry.lock
  airbyte-integrations/connectors/source-facebook-pages/pyproject.toml
  docs/integrations/sources/facebook-pages.md
Labels: area/documentation, area/connectors, connectors/source/facebook-pages, auto-merge, up-to-date

#45051 🐙 source-amazon-ads: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-amazon-ads/metadata.yaml
  airbyte-integrations/connectors/source-amazon-ads/poetry.lock
  airbyte-integrations/connectors/source-amazon-ads/pyproject.toml
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, area/connectors, connectors/source/amazon-ads, auto-merge, up-to-date

#45050 🐙 source-recurly: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-recurly/metadata.yaml
  airbyte-integrations/connectors/source-recurly/poetry.lock
  airbyte-integrations/connectors/source-recurly/pyproject.toml
  docs/integrations/sources/recurly.md
Labels: area/documentation, area/connectors, connectors/source/recurly, auto-merge, up-to-date

#45049 🐙 source-kyriba: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-kyriba/metadata.yaml
  airbyte-integrations/connectors/source-kyriba/poetry.lock
  airbyte-integrations/connectors/source-kyriba/pyproject.toml
  docs/integrations/sources/kyriba.md
Labels: area/documentation, area/connectors, connectors/source/kyriba, auto-merge, up-to-date

#45048 🐙 source-microsoft-onedrive: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-microsoft-onedrive/metadata.yaml
  airbyte-integrations/connectors/source-microsoft-onedrive/poetry.lock
  airbyte-integrations/connectors/source-microsoft-onedrive/pyproject.toml
  docs/integrations/sources/microsoft-onedrive.md
Labels: area/documentation, area/connectors, connectors/source/microsoft-onedrive, auto-merge, up-to-date

#45047 🐙 source-amplitude: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-amplitude/metadata.yaml
  airbyte-integrations/connectors/source-amplitude/poetry.lock
  airbyte-integrations/connectors/source-amplitude/pyproject.toml
  docs/integrations/sources/amplitude.md
Labels: area/documentation, area/connectors, connectors/source/amplitude, auto-merge, up-to-date

#45046 🐙 source-onesignal: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-onesignal/metadata.yaml
  airbyte-integrations/connectors/source-onesignal/poetry.lock
  airbyte-integrations/connectors/source-onesignal/pyproject.toml
  docs/integrations/sources/onesignal.md
Labels: area/documentation, area/connectors, connectors/source/onesignal, auto-merge, up-to-date

#45044 🐙 source-zenloop: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-zenloop/metadata.yaml
  airbyte-integrations/connectors/source-zenloop/poetry.lock
  airbyte-integrations/connectors/source-zenloop/pyproject.toml
  docs/integrations/sources/zenloop.md
Labels: area/documentation, area/connectors, connectors/source/zenloop, auto-merge, up-to-date

#45043 🐙 source-convex: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-convex/metadata.yaml
  airbyte-integrations/connectors/source-convex/poetry.lock
  airbyte-integrations/connectors/source-convex/pyproject.toml
  docs/integrations/sources/convex.md
Labels: area/documentation, area/connectors, connectors/source/convex, auto-merge, up-to-date

#45042 🐙 source-n8n: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-n8n/metadata.yaml
  airbyte-integrations/connectors/source-n8n/poetry.lock
  airbyte-integrations/connectors/source-n8n/pyproject.toml
  docs/integrations/sources/n8n.md
Labels: area/documentation, area/connectors, connectors/source/n8n, auto-merge, up-to-date

#45041 🐙 source-braintree: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-braintree/metadata.yaml
  airbyte-integrations/connectors/source-braintree/poetry.lock
  airbyte-integrations/connectors/source-braintree/pyproject.toml
  docs/integrations/sources/braintree.md
Labels: area/documentation, area/connectors, connectors/source/braintree, auto-merge, up-to-date

#45040 🐙 source-webflow: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-webflow/metadata.yaml
  airbyte-integrations/connectors/source-webflow/poetry.lock
  airbyte-integrations/connectors/source-webflow/pyproject.toml
  docs/integrations/sources/webflow.md
Labels: area/documentation, area/connectors, connectors/source/webflow, auto-merge, up-to-date

#45039 🐙 source-azure-table: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-azure-table/metadata.yaml
  airbyte-integrations/connectors/source-azure-table/poetry.lock
  airbyte-integrations/connectors/source-azure-table/pyproject.toml
  docs/integrations/sources/azure-table.md
Labels: area/documentation, area/connectors, connectors/source/azure-table, auto-merge, up-to-date

#45038 🐙 source-commcare: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-commcare/metadata.yaml
  airbyte-integrations/connectors/source-commcare/poetry.lock
  airbyte-integrations/connectors/source-commcare/pyproject.toml
  docs/integrations/sources/commcare.md
Labels: area/documentation, area/connectors, connectors/source/commcare, auto-merge, up-to-date

#45037 🐙 source-zoom: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-zoom/metadata.yaml
  airbyte-integrations/connectors/source-zoom/poetry.lock
  airbyte-integrations/connectors/source-zoom/pyproject.toml
  docs/integrations/sources/zoom.md
Labels: area/documentation, area/connectors, connectors/source/zoom, auto-merge, up-to-date

#45036 🐙 source-railz: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-railz/metadata.yaml
  airbyte-integrations/connectors/source-railz/poetry.lock
  airbyte-integrations/connectors/source-railz/pyproject.toml
  docs/integrations/sources/railz.md
Labels: area/documentation, area/connectors, connectors/source/railz, auto-merge, up-to-date

#45035 🐙 source-flexport: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-flexport/metadata.yaml
  airbyte-integrations/connectors/source-flexport/poetry.lock
  airbyte-integrations/connectors/source-flexport/pyproject.toml
  docs/integrations/sources/flexport.md
Labels: area/documentation, area/connectors, connectors/source/flexport, auto-merge, up-to-date

#45034 🐙 source-gnews: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-gnews/metadata.yaml
  airbyte-integrations/connectors/source-gnews/poetry.lock
  airbyte-integrations/connectors/source-gnews/pyproject.toml
  docs/integrations/sources/gnews.md
Labels: area/documentation, area/connectors, connectors/source/gnews, auto-merge, up-to-date

#45033 🐙 destination-cumulio: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/destination-cumulio/metadata.yaml
  airbyte-integrations/connectors/destination-cumulio/poetry.lock
  airbyte-integrations/connectors/destination-cumulio/pyproject.toml
  docs/integrations/destinations/cumulio.md
Labels: area/documentation, area/connectors, connectors/destination/cumulio, auto-merge, up-to-date

#45032 🐙 destination-aws-datalake: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/destination-aws-datalake/metadata.yaml
  airbyte-integrations/connectors/destination-aws-datalake/poetry.lock
  airbyte-integrations/connectors/destination-aws-datalake/pyproject.toml
  docs/integrations/destinations/aws-datalake.md
Labels: area/documentation, area/connectors, connectors/destination/aws-datalake, auto-merge, up-to-date

#45031 🐙 source-mailchimp: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-mailchimp/metadata.yaml
  airbyte-integrations/connectors/source-mailchimp/poetry.lock
  airbyte-integrations/connectors/source-mailchimp/pyproject.toml
  docs/integrations/sources/mailchimp.md
Labels: area/documentation, area/connectors, connectors/source/mailchimp, auto-merge, up-to-date

#45030 🐙 source-firebolt: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-firebolt/metadata.yaml
  airbyte-integrations/connectors/source-firebolt/poetry.lock
  airbyte-integrations/connectors/source-firebolt/pyproject.toml
  docs/integrations/sources/firebolt.md
Labels: area/documentation, area/connectors, connectors/source/firebolt, auto-merge, up-to-date

#45029 🐙 source-iterable: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-iterable/metadata.yaml
  airbyte-integrations/connectors/source-iterable/poetry.lock
  airbyte-integrations/connectors/source-iterable/pyproject.toml
  docs/integrations/sources/iterable.md
Labels: area/documentation, area/connectors, connectors/source/iterable, auto-merge, up-to-date

#45028 🐙 source-chargebee: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-chargebee/metadata.yaml
  airbyte-integrations/connectors/source-chargebee/poetry.lock
  airbyte-integrations/connectors/source-chargebee/pyproject.toml
  docs/integrations/sources/chargebee.md
Labels: area/documentation, area/connectors, connectors/source/chargebee, auto-merge, up-to-date

#45027 🐙 destination-xata: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/destination-xata/metadata.yaml
  airbyte-integrations/connectors/destination-xata/poetry.lock
  airbyte-integrations/connectors/destination-xata/pyproject.toml
  docs/integrations/destinations/xata.md
Labels: area/documentation, area/connectors, connectors/destination/xata, auto-merge, up-to-date

#45026 🐙 source-surveycto: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-surveycto/metadata.yaml
  airbyte-integrations/connectors/source-surveycto/poetry.lock
  airbyte-integrations/connectors/source-surveycto/pyproject.toml
  docs/integrations/sources/surveycto.md
Labels: area/documentation, area/connectors, connectors/source/surveycto, auto-merge, up-to-date

#45025 🐙 source-faker: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/poetry.lock
  airbyte-integrations/connectors/source-faker/pyproject.toml
  docs/integrations/sources/faker.md
Labels: area/documentation, area/connectors, connectors/source/faker, auto-merge, up-to-date

#45024 🐙 source-outbrain-amplify: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-outbrain-amplify/metadata.yaml
  airbyte-integrations/connectors/source-outbrain-amplify/poetry.lock
  airbyte-integrations/connectors/source-outbrain-amplify/pyproject.toml
  docs/integrations/sources/outbrain-amplify.md
Labels: area/documentation, area/connectors, connectors/source/outbrain-amplify, auto-merge, up-to-date

#45023 🐙 source-qonto: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-qonto/metadata.yaml
  airbyte-integrations/connectors/source-qonto/poetry.lock
  airbyte-integrations/connectors/source-qonto/pyproject.toml
  docs/integrations/sources/qonto.md
Labels: area/documentation, area/connectors, connectors/source/qonto, auto-merge, up-to-date

#45022 🐙 source-commercetools: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-commercetools/metadata.yaml
  airbyte-integrations/connectors/source-commercetools/poetry.lock
  airbyte-integrations/connectors/source-commercetools/pyproject.toml
  docs/integrations/sources/commercetools.md
Labels: area/documentation, area/connectors, connectors/source/commercetools, auto-merge, up-to-date

#45021 🐙 destination-vectara: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/destination-vectara/metadata.yaml
  airbyte-integrations/connectors/destination-vectara/poetry.lock
  airbyte-integrations/connectors/destination-vectara/pyproject.toml
  docs/integrations/destinations/vectara.md
Labels: area/documentation, area/connectors, connectors/destination/vectara, auto-merge, up-to-date

#45020 🐙 destination-timeplus: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/destination-timeplus/metadata.yaml
  airbyte-integrations/connectors/destination-timeplus/poetry.lock
  airbyte-integrations/connectors/destination-timeplus/pyproject.toml
  docs/integrations/destinations/timeplus.md
Labels: area/documentation, area/connectors, connectors/destination/timeplus, auto-merge, up-to-date

#45019 🐙 source-zendesk-talk: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-zendesk-talk/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-talk/poetry.lock
  airbyte-integrations/connectors/source-zendesk-talk/pyproject.toml
  docs/integrations/sources/zendesk-talk.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-talk, auto-merge, up-to-date

#45017 🐙 destination-chroma: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/destination-chroma/metadata.yaml
  airbyte-integrations/connectors/destination-chroma/poetry.lock
  airbyte-integrations/connectors/destination-chroma/pyproject.toml
  docs/integrations/destinations/chroma.md
Labels: area/documentation, area/connectors, connectors/destination/chroma, auto-merge, up-to-date

#45016 🐙 source-typeform: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-typeform/metadata.yaml
  airbyte-integrations/connectors/source-typeform/poetry.lock
  airbyte-integrations/connectors/source-typeform/pyproject.toml
  docs/integrations/sources/typeform.md
Labels: area/documentation, area/connectors, connectors/source/typeform, auto-merge, up-to-date

#45015 🐙 source-jina-ai-reader: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-jina-ai-reader/metadata.yaml
  airbyte-integrations/connectors/source-jina-ai-reader/poetry.lock
  airbyte-integrations/connectors/source-jina-ai-reader/pyproject.toml
  docs/integrations/sources/jina-ai-reader.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/jina-ai-reader

#45014 🐙 source-looker: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-looker/metadata.yaml
  airbyte-integrations/connectors/source-looker/poetry.lock
  airbyte-integrations/connectors/source-looker/pyproject.toml
  docs/integrations/sources/looker.md
Labels: area/documentation, area/connectors, connectors/source/looker, auto-merge, up-to-date

#45013 🐙 source-apple-search-ads: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-apple-search-ads/metadata.yaml
  airbyte-integrations/connectors/source-apple-search-ads/poetry.lock
  airbyte-integrations/connectors/source-apple-search-ads/pyproject.toml
  docs/integrations/sources/apple-search-ads.md
Labels: area/documentation, area/connectors, connectors/source/apple-search-ads, auto-merge, up-to-date

#45012 🐙 source-smartsheets: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-smartsheets/metadata.yaml
  airbyte-integrations/connectors/source-smartsheets/poetry.lock
  airbyte-integrations/connectors/source-smartsheets/pyproject.toml
  docs/integrations/sources/smartsheets.md
Labels: area/documentation, area/connectors, connectors/source/smartsheets, auto-merge, up-to-date

#45011 🐙 source-yahoo-finance-price: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-yahoo-finance-price/metadata.yaml
  airbyte-integrations/connectors/source-yahoo-finance-price/poetry.lock
  airbyte-integrations/connectors/source-yahoo-finance-price/pyproject.toml
  docs/integrations/sources/yahoo-finance-price.md
Labels: area/documentation, area/connectors, connectors/source/yahoo-finance-price, auto-merge, up-to-date

#45010 🐙 source-gcs: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-gcs/metadata.yaml
  airbyte-integrations/connectors/source-gcs/poetry.lock
  airbyte-integrations/connectors/source-gcs/pyproject.toml
  docs/integrations/sources/gcs.md
Labels: area/documentation, area/connectors, connectors/source/gcs, auto-merge, up-to-date

#45009 🐙 source-s3: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/poetry.lock
  airbyte-integrations/connectors/source-s3/pyproject.toml
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3, auto-merge, up-to-date

#45008 🐙 source-zendesk-sunshine: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-zendesk-sunshine/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-sunshine/poetry.lock
  airbyte-integrations/connectors/source-zendesk-sunshine/pyproject.toml
  docs/integrations/sources/zendesk-sunshine.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-sunshine, auto-merge, up-to-date

#45007 🐙 source-trustpilot: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-trustpilot/metadata.yaml
  airbyte-integrations/connectors/source-trustpilot/poetry.lock
  airbyte-integrations/connectors/source-trustpilot/pyproject.toml
  docs/integrations/sources/trustpilot.md
Labels: area/documentation, area/connectors, connectors/source/trustpilot, auto-merge, up-to-date

#45006 🐙 source-google-directory: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-google-directory/metadata.yaml
  airbyte-integrations/connectors/source-google-directory/poetry.lock
  airbyte-integrations/connectors/source-google-directory/pyproject.toml
  docs/integrations/sources/google-directory.md
Labels: area/documentation, area/connectors, connectors/source/google-directory, auto-merge, up-to-date

#45005 🐙 source-pardot: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-pardot/metadata.yaml
  airbyte-integrations/connectors/source-pardot/poetry.lock
  airbyte-integrations/connectors/source-pardot/pyproject.toml
  docs/integrations/sources/pardot.md
Labels: area/documentation, area/connectors, connectors/source/pardot, auto-merge, up-to-date

#45004 🐙 source-unleash: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-unleash/metadata.yaml
  airbyte-integrations/connectors/source-unleash/poetry.lock
  airbyte-integrations/connectors/source-unleash/pyproject.toml
  docs/integrations/sources/unleash.md
Labels: area/documentation, area/connectors, connectors/source/unleash, auto-merge, up-to-date

#45003 🐙 source-hardcoded-records: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-hardcoded-records/metadata.yaml
  airbyte-integrations/connectors/source-hardcoded-records/poetry.lock
  airbyte-integrations/connectors/source-hardcoded-records/pyproject.toml
  docs/integrations/sources/hardcoded-records.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/hardcoded-records

#45002 🐙 source-surveymonkey: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-surveymonkey/metadata.yaml
  airbyte-integrations/connectors/source-surveymonkey/poetry.lock
  airbyte-integrations/connectors/source-surveymonkey/pyproject.toml
  docs/integrations/sources/surveymonkey.md
Labels: area/documentation, area/connectors, connectors/source/surveymonkey, auto-merge, up-to-date

#45001 🐙 destination-databend: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/destination-databend/metadata.yaml
  airbyte-integrations/connectors/destination-databend/poetry.lock
  airbyte-integrations/connectors/destination-databend/pyproject.toml
  docs/integrations/destinations/databend.md
Labels: area/documentation, area/connectors, connectors/destination/databend, auto-merge, up-to-date

#45000 🐙 source-aws-cloudtrail: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-aws-cloudtrail/metadata.yaml
  airbyte-integrations/connectors/source-aws-cloudtrail/poetry.lock
  airbyte-integrations/connectors/source-aws-cloudtrail/pyproject.toml
  docs/integrations/sources/aws-cloudtrail.md
Labels: area/documentation, area/connectors, connectors/source/aws-cloudtrail, auto-merge, up-to-date

#44999 🐙 source-fastbill: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-fastbill/metadata.yaml
  airbyte-integrations/connectors/source-fastbill/poetry.lock
  airbyte-integrations/connectors/source-fastbill/pyproject.toml
  docs/integrations/sources/fastbill.md
Labels: area/documentation, area/connectors, connectors/source/fastbill, auto-merge, up-to-date

#44998 🐙 source-snapchat-marketing: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-snapchat-marketing/metadata.yaml
  airbyte-integrations/connectors/source-snapchat-marketing/poetry.lock
  airbyte-integrations/connectors/source-snapchat-marketing/pyproject.toml
  docs/integrations/sources/snapchat-marketing.md
Labels: area/documentation, area/connectors, connectors/source/snapchat-marketing, auto-merge, up-to-date

#44997 🐙 source-the-guardian-api: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-the-guardian-api/metadata.yaml
  airbyte-integrations/connectors/source-the-guardian-api/poetry.lock
  airbyte-integrations/connectors/source-the-guardian-api/pyproject.toml
  docs/integrations/sources/the-guardian-api.md
Labels: area/documentation, area/connectors, connectors/source/the-guardian-api, auto-merge, up-to-date

#44996 🐙 source-posthog: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-posthog/metadata.yaml
  airbyte-integrations/connectors/source-posthog/poetry.lock
  airbyte-integrations/connectors/source-posthog/pyproject.toml
  docs/integrations/sources/posthog.md
Labels: area/documentation, area/connectors, connectors/source/posthog, auto-merge, up-to-date

#44995 🐙 source-recharge: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-recharge/metadata.yaml
  airbyte-integrations/connectors/source-recharge/poetry.lock
  airbyte-integrations/connectors/source-recharge/pyproject.toml
  docs/integrations/sources/recharge.md
Labels: area/documentation, area/connectors, connectors/source/recharge, auto-merge, up-to-date

#44994 🐙 source-pocket: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-pocket/metadata.yaml
  airbyte-integrations/connectors/source-pocket/poetry.lock
  airbyte-integrations/connectors/source-pocket/pyproject.toml
  docs/integrations/sources/pocket.md
Labels: area/documentation, area/connectors, connectors/source/pocket, auto-merge, up-to-date

#44993 🐙 source-rki-covid: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-rki-covid/metadata.yaml
  airbyte-integrations/connectors/source-rki-covid/poetry.lock
  airbyte-integrations/connectors/source-rki-covid/pyproject.toml
  docs/integrations/sources/rki-covid.md
Labels: area/documentation, area/connectors, connectors/source/rki-covid, auto-merge, up-to-date

#44992 🐙 source-datadog: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-datadog/metadata.yaml
  airbyte-integrations/connectors/source-datadog/poetry.lock
  airbyte-integrations/connectors/source-datadog/pyproject.toml
  docs/integrations/sources/datadog.md
Labels: area/documentation, area/connectors, connectors/source/datadog, auto-merge, up-to-date

#44991 🐙 destination-firebolt: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/destination-firebolt/metadata.yaml
  airbyte-integrations/connectors/destination-firebolt/poetry.lock
  airbyte-integrations/connectors/destination-firebolt/pyproject.toml
  docs/integrations/destinations/firebolt.md
Labels: area/documentation, area/connectors, connectors/destination/firebolt, auto-merge, up-to-date

#44990 🐙 source-instatus: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-instatus/metadata.yaml
  airbyte-integrations/connectors/source-instatus/poetry.lock
  airbyte-integrations/connectors/source-instatus/pyproject.toml
  docs/integrations/sources/instatus.md
Labels: area/documentation, area/connectors, connectors/source/instatus, auto-merge, up-to-date

#44989 🐙 destination-google-sheets: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/destination-google-sheets/metadata.yaml
  airbyte-integrations/connectors/destination-google-sheets/poetry.lock
  airbyte-integrations/connectors/destination-google-sheets/pyproject.toml
  docs/integrations/destinations/google-sheets.md
Labels: area/documentation, area/connectors, connectors/destination/google-sheets, auto-merge, up-to-date

#44988 🐙 destination-rabbitmq: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/destination-rabbitmq/metadata.yaml
  airbyte-integrations/connectors/destination-rabbitmq/poetry.lock
  airbyte-integrations/connectors/destination-rabbitmq/pyproject.toml
  docs/integrations/destinations/rabbitmq.md
Labels: area/documentation, area/connectors, connectors/destination/rabbitmq, auto-merge, up-to-date

#44987 🐙 source-microsoft-dataverse: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-microsoft-dataverse/metadata.yaml
  airbyte-integrations/connectors/source-microsoft-dataverse/poetry.lock
  airbyte-integrations/connectors/source-microsoft-dataverse/pyproject.toml
  docs/integrations/sources/microsoft-dataverse.md
Labels: area/documentation, area/connectors, connectors/source/microsoft-dataverse, auto-merge, up-to-date

#44985 🐙 source-adjust: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-adjust/metadata.yaml
  airbyte-integrations/connectors/source-adjust/poetry.lock
  airbyte-integrations/connectors/source-adjust/pyproject.toml
  docs/integrations/sources/adjust.md
Labels: area/documentation, area/connectors, connectors/source/adjust, auto-merge, up-to-date

#44984 🐙 source-retently: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-retently/metadata.yaml
  airbyte-integrations/connectors/source-retently/poetry.lock
  airbyte-integrations/connectors/source-retently/pyproject.toml
  docs/integrations/sources/retently.md
Labels: area/documentation, area/connectors, connectors/source/retently, auto-merge, up-to-date

#44983 🐙 destination-astra: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/destination-astra/metadata.yaml
  airbyte-integrations/connectors/destination-astra/poetry.lock
  airbyte-integrations/connectors/destination-astra/pyproject.toml
  docs/integrations/destinations/astra.md
Labels: area/documentation, area/connectors, connectors/destination/astra, auto-merge, up-to-date

#44982 🐙 destination-snowflake-cortex: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/destination-snowflake-cortex/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake-cortex/poetry.lock
  airbyte-integrations/connectors/destination-snowflake-cortex/pyproject.toml
  docs/integrations/destinations/snowflake-cortex.md
Labels: area/documentation, area/connectors, connectors/destination/snowflake-cortex, auto-merge, up-to-date

#44981 🐙 source-pipedrive: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-pipedrive/metadata.yaml
  airbyte-integrations/connectors/source-pipedrive/poetry.lock
  airbyte-integrations/connectors/source-pipedrive/pyproject.toml
  docs/integrations/sources/pipedrive.md
Labels: area/documentation, area/connectors, connectors/source/pipedrive, auto-merge, up-to-date

#44980 🐙 source-google-analytics-data-api: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/poetry.lock
  airbyte-integrations/connectors/source-google-analytics-data-api/pyproject.toml
  docs/integrations/sources/google-analytics-data-api.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-data-api, auto-merge, up-to-date

#44979 🐙 source-bigcommerce: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-bigcommerce/metadata.yaml
  airbyte-integrations/connectors/source-bigcommerce/poetry.lock
  airbyte-integrations/connectors/source-bigcommerce/pyproject.toml
  docs/integrations/sources/bigcommerce.md
Labels: area/documentation, area/connectors, connectors/source/bigcommerce, auto-merge, up-to-date

#44978 🐙 source-bamboo-hr: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-bamboo-hr/metadata.yaml
  airbyte-integrations/connectors/source-bamboo-hr/poetry.lock
  airbyte-integrations/connectors/source-bamboo-hr/pyproject.toml
  docs/integrations/sources/bamboo-hr.md
Labels: area/documentation, area/connectors, connectors/source/bamboo-hr, auto-merge, up-to-date

#44977 🐙 source-okta: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-okta/metadata.yaml
  airbyte-integrations/connectors/source-okta/poetry.lock
  airbyte-integrations/connectors/source-okta/pyproject.toml
  docs/integrations/sources/okta.md
Labels: area/documentation, area/connectors, connectors/source/okta, auto-merge, up-to-date

#44976 🐙 source-close-com: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-close-com/metadata.yaml
  airbyte-integrations/connectors/source-close-com/poetry.lock
  airbyte-integrations/connectors/source-close-com/pyproject.toml
  docs/integrations/sources/close-com.md
Labels: area/documentation, area/connectors, connectors/source/close-com, auto-merge, up-to-date

#44975 🐙 source-postmarkapp: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-postmarkapp/metadata.yaml
  airbyte-integrations/connectors/source-postmarkapp/poetry.lock
  airbyte-integrations/connectors/source-postmarkapp/pyproject.toml
  docs/integrations/sources/postmarkapp.md
Labels: area/documentation, area/connectors, connectors/source/postmarkapp, auto-merge, up-to-date

#44974 🐙 source-file: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-file/metadata.yaml
  airbyte-integrations/connectors/source-file/poetry.lock
  airbyte-integrations/connectors/source-file/pyproject.toml
  docs/integrations/sources/file.md
Labels: area/documentation, area/connectors, connectors/source/file, auto-merge, up-to-date

#44973 🐙 source-freshcaller: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-freshcaller/metadata.yaml
  airbyte-integrations/connectors/source-freshcaller/poetry.lock
  airbyte-integrations/connectors/source-freshcaller/pyproject.toml
  docs/integrations/sources/freshcaller.md
Labels: area/documentation, area/connectors, connectors/source/freshcaller, auto-merge, up-to-date

#44972 🐙 source-alpha-vantage: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-alpha-vantage/metadata.yaml
  airbyte-integrations/connectors/source-alpha-vantage/poetry.lock
  airbyte-integrations/connectors/source-alpha-vantage/pyproject.toml
  docs/integrations/sources/alpha-vantage.md
Labels: area/documentation, area/connectors, connectors/source/alpha-vantage, auto-merge, up-to-date

#44971 🐙 source-shopify: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-shopify/metadata.yaml
  airbyte-integrations/connectors/source-shopify/poetry.lock
  airbyte-integrations/connectors/source-shopify/pyproject.toml
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors, connectors/source/shopify, auto-merge, up-to-date

#44970 🐙 source-asana: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-asana/metadata.yaml
  airbyte-integrations/connectors/source-asana/poetry.lock
  airbyte-integrations/connectors/source-asana/pyproject.toml
  docs/integrations/sources/asana.md
Labels: area/documentation, area/connectors, connectors/source/asana, auto-merge, up-to-date

#44969 🐙 source-orbit: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-orbit/metadata.yaml
  airbyte-integrations/connectors/source-orbit/poetry.lock
  airbyte-integrations/connectors/source-orbit/pyproject.toml
  docs/integrations/sources/orbit.md
Labels: area/documentation, area/connectors, connectors/source/orbit, auto-merge, up-to-date

#44968 🐙 source-linnworks: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-linnworks/metadata.yaml
  airbyte-integrations/connectors/source-linnworks/poetry.lock
  airbyte-integrations/connectors/source-linnworks/pyproject.toml
  docs/integrations/sources/linnworks.md
Labels: area/documentation, area/connectors, connectors/source/linnworks, auto-merge, up-to-date

#44967 🐙 source-salesloft: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-salesloft/metadata.yaml
  airbyte-integrations/connectors/source-salesloft/poetry.lock
  airbyte-integrations/connectors/source-salesloft/pyproject.toml
  docs/integrations/sources/salesloft.md
Labels: area/documentation, area/connectors, connectors/source/salesloft, auto-merge, up-to-date

#44966 🐙 source-intercom: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-intercom/metadata.yaml
  airbyte-integrations/connectors/source-intercom/poetry.lock
  airbyte-integrations/connectors/source-intercom/pyproject.toml
  docs/integrations/sources/intercom.md
Labels: area/documentation, area/connectors, connectors/source/intercom, auto-merge, up-to-date

#44965 🐙 source-zendesk-support: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/poetry.lock
  airbyte-integrations/connectors/source-zendesk-support/pyproject.toml
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-support, auto-merge, up-to-date

#44964 🐙 destination-weaviate: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/destination-weaviate/metadata.yaml
  airbyte-integrations/connectors/destination-weaviate/poetry.lock
  airbyte-integrations/connectors/destination-weaviate/pyproject.toml
  docs/integrations/destinations/weaviate.md
Labels: area/documentation, area/connectors, connectors/destination/weaviate, auto-merge, up-to-date

#44963 🐙 source-genesys: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-genesys/metadata.yaml
  airbyte-integrations/connectors/source-genesys/poetry.lock
  airbyte-integrations/connectors/source-genesys/pyproject.toml
  docs/integrations/sources/genesys.md
Labels: area/documentation, area/connectors, connectors/source/genesys, auto-merge, up-to-date

#44962 🐙 source-apify-dataset: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-apify-dataset/metadata.yaml
  airbyte-integrations/connectors/source-apify-dataset/poetry.lock
  airbyte-integrations/connectors/source-apify-dataset/pyproject.toml
  docs/integrations/sources/apify-dataset.md
Labels: area/documentation, area/connectors, connectors/source/apify-dataset, auto-merge, up-to-date

#44961 🐙 source-quickbooks: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-quickbooks/metadata.yaml
  airbyte-integrations/connectors/source-quickbooks/poetry.lock
  airbyte-integrations/connectors/source-quickbooks/pyproject.toml
  docs/integrations/sources/quickbooks.md
Labels: area/documentation, area/connectors, connectors/source/quickbooks, auto-merge, up-to-date

#44960 🐙 destination-milvus: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/destination-milvus/metadata.yaml
  airbyte-integrations/connectors/destination-milvus/poetry.lock
  airbyte-integrations/connectors/destination-milvus/pyproject.toml
  docs/integrations/destinations/milvus.md
Labels: area/documentation, area/connectors, connectors/destination/milvus, auto-merge, up-to-date

#44959 🐙 source-salesforce: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/poetry.lock
  airbyte-integrations/connectors/source-salesforce/pyproject.toml
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors, connectors/source/salesforce, auto-merge, up-to-date

#44958 🐙 source-qualaroo: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-qualaroo/metadata.yaml
  airbyte-integrations/connectors/source-qualaroo/poetry.lock
  airbyte-integrations/connectors/source-qualaroo/pyproject.toml
  docs/integrations/sources/qualaroo.md
Labels: area/documentation, area/connectors, connectors/source/qualaroo, auto-merge, up-to-date

#44957 🐙 source-woocommerce: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-woocommerce/metadata.yaml
  airbyte-integrations/connectors/source-woocommerce/poetry.lock
  airbyte-integrations/connectors/source-woocommerce/pyproject.toml
  docs/integrations/sources/woocommerce.md
Labels: area/documentation, area/connectors, connectors/source/woocommerce, auto-merge, up-to-date

#44956 🐙 source-appsflyer: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-appsflyer/metadata.yaml
  airbyte-integrations/connectors/source-appsflyer/poetry.lock
  airbyte-integrations/connectors/source-appsflyer/pyproject.toml
  docs/integrations/sources/appsflyer.md
Labels: area/documentation, area/connectors, connectors/source/appsflyer, auto-merge, up-to-date

#44955 🐙 source-kyve: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-kyve/metadata.yaml
  airbyte-integrations/connectors/source-kyve/poetry.lock
  airbyte-integrations/connectors/source-kyve/pyproject.toml
  docs/integrations/sources/kyve.md
Labels: area/documentation, area/connectors, connectors/source/kyve, auto-merge, up-to-date

#44954 🐙 source-tiktok-marketing: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-tiktok-marketing/metadata.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/poetry.lock
  airbyte-integrations/connectors/source-tiktok-marketing/pyproject.toml
  docs/integrations/sources/tiktok-marketing.md
Labels: area/documentation, area/connectors, connectors/source/tiktok-marketing, auto-merge, up-to-date

#44953 🐙 source-sendgrid: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-sendgrid/metadata.yaml
  airbyte-integrations/connectors/source-sendgrid/poetry.lock
  airbyte-integrations/connectors/source-sendgrid/pyproject.toml
  docs/integrations/sources/sendgrid.md
Labels: area/documentation, area/connectors, connectors/source/sendgrid, auto-merge, up-to-date

#44952 🐙 destination-duckdb: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/destination-duckdb/metadata.yaml
  airbyte-integrations/connectors/destination-duckdb/poetry.lock
  airbyte-integrations/connectors/destination-duckdb/pyproject.toml
  docs/integrations/destinations/duckdb.md
Labels: area/documentation, area/connectors, connectors/destination/duckdb, auto-merge, up-to-date

#44951 🐙 source-tplcentral: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-tplcentral/metadata.yaml
  airbyte-integrations/connectors/source-tplcentral/poetry.lock
  airbyte-integrations/connectors/source-tplcentral/pyproject.toml
  docs/integrations/sources/tplcentral.md
Labels: area/documentation, area/connectors, connectors/source/tplcentral, auto-merge, up-to-date

#44950 🐙 source-linkedin-ads: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-linkedin-ads/metadata.yaml
  airbyte-integrations/connectors/source-linkedin-ads/poetry.lock
  airbyte-integrations/connectors/source-linkedin-ads/pyproject.toml
  docs/integrations/sources/linkedin-ads.md
Labels: area/documentation, area/connectors, connectors/source/linkedin-ads, auto-merge, up-to-date

#44949 🐙 source-gridly: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-gridly/metadata.yaml
  airbyte-integrations/connectors/source-gridly/poetry.lock
  airbyte-integrations/connectors/source-gridly/pyproject.toml
  docs/integrations/sources/gridly.md
Labels: area/documentation, area/connectors, connectors/source/gridly, auto-merge, up-to-date

#44948 🐙 source-my-hours: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-my-hours/metadata.yaml
  airbyte-integrations/connectors/source-my-hours/poetry.lock
  airbyte-integrations/connectors/source-my-hours/pyproject.toml
  docs/integrations/sources/my-hours.md
Labels: area/documentation, area/connectors, connectors/source/my-hours, auto-merge, up-to-date

#44947 🐙 source-public-apis: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-public-apis/metadata.yaml
  airbyte-integrations/connectors/source-public-apis/poetry.lock
  airbyte-integrations/connectors/source-public-apis/pyproject.toml
  docs/integrations/sources/public-apis.md
Labels: area/documentation, area/connectors, connectors/source/public-apis, auto-merge, up-to-date

#44755 🐙 source-greenhouse: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-greenhouse/metadata.yaml
  airbyte-integrations/connectors/source-greenhouse/poetry.lock
  airbyte-integrations/connectors/source-greenhouse/pyproject.toml
  docs/integrations/sources/greenhouse.md
Labels: area/documentation, area/connectors, connectors/source/greenhouse, auto-merge, up-to-date

#44702 🐙 source-yandex-metrica: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-yandex-metrica/metadata.yaml
  airbyte-integrations/connectors/source-yandex-metrica/poetry.lock
  airbyte-integrations/connectors/source-yandex-metrica/pyproject.toml
  docs/integrations/sources/yandex-metrica.md
Labels: area/documentation, area/connectors, connectors/source/yandex-metrica, auto-merge, up-to-date

#44678 🐙 destination-qdrant: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/destination-qdrant/metadata.yaml
  airbyte-integrations/connectors/destination-qdrant/poetry.lock
  airbyte-integrations/connectors/destination-qdrant/pyproject.toml
  docs/integrations/destinations/qdrant.md
Labels: area/documentation, area/connectors, connectors/destination/qdrant, auto-merge, up-to-date

#44326 🐙 source-google-ads: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/poetry.lock
  airbyte-integrations/connectors/source-google-ads/pyproject.toml
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, connectors/source/google-ads, auto-merge, up-to-date

#44276 🐙 source-bing-ads: run up-to-date pipeline [2024-08-31]
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/poetry.lock
  airbyte-integrations/connectors/source-bing-ads/pyproject.toml
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors, connectors/source/bing-ads, auto-merge, up-to-date

#45067 source-calendly contribution from natikgadzhi
  airbyte-integrations/connectors/source-calendly/README.md
  airbyte-integrations/connectors/source-calendly/acceptance-test-config.yml
  airbyte-integrations/connectors/source-calendly/icon.svg
  airbyte-integrations/connectors/source-calendly/manifest.yaml
  airbyte-integrations/connectors/source-calendly/metadata.yaml
  docs/integrations/sources/calendly.md
Labels: area/documentation, area/connectors, connectors/source/calendly

#45069 source-savvycal contribution from natikgadzhi
  airbyte-integrations/connectors/source-savvycal/README.md
  airbyte-integrations/connectors/source-savvycal/acceptance-test-config.yml
  airbyte-integrations/connectors/source-savvycal/icon.svg
  airbyte-integrations/connectors/source-savvycal/manifest.yaml
  airbyte-integrations/connectors/source-savvycal/metadata.yaml
  docs/integrations/sources/savvycal.md
Labels: area/documentation, area/connectors, connectors/source/savvycal

#45097 feat(source-hardcoded-records): bump CDK version
  airbyte-integrations/connectors/source-hardcoded-records/metadata.yaml
  airbyte-integrations/connectors/source-hardcoded-records/poetry.lock
  airbyte-integrations/connectors/source-hardcoded-records/pyproject.toml
  docs/integrations/sources/hardcoded-records.md
Labels: area/documentation, area/connectors, connectors/source/hardcoded-records

#44882 doc: app-name is now called appName
  docs/enterprise-setup/implementation-guide.md
Labels: area/documentation

#45101 Fix pagination issue while setting is_resumable properly
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/pyproject.toml
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, connectors/source/stripe

#44908 (source-s3) - Upgrade CDK 3.9.6
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/poetry.lock
  airbyte-integrations/connectors/source-s3/pyproject.toml
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3

#44842 bulk-cdk-toolkits-extract-jdbc: noop JdbcCheckQueries when no queries defined
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/check/JdbcCheckQueries.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/test/kotlin/io/airbyte/cdk/check/JdbcCheckQueriesTest.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/test/kotlin/io/airbyte/cdk/discover/JdbcMetadataQuerierTest.kt
Labels: CDK

#45110 docs: remove lingering mentions of dbt core
  docs/deploying-airbyte/on-kubernetes-via-helm.md
  docs/understanding-airbyte/operations.md
  docusaurus/sidebars.js
Labels: area/documentation

#44945 State manager test, rational range behavior throughout
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/message/AirbyteStateMessageFactory.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/message/MessageConverter.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/message/MessageQueueWriter.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/state/StateManager.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/state/StreamManager.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/state/StateManagerTest.kt
Labels: CDK

#45115 Destination Databricks - clarify catalog name option
  airbyte-integrations/connectors/destination-databricks/metadata.yaml
  airbyte-integrations/connectors/destination-databricks/src/main/resources/spec.json
  docs/integrations/destinations/databricks.md
Labels: area/documentation, area/connectors, connectors/destination/databricks

#45090 Unit tests for streams manager
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/command/DestinationCatalog.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/message/MessageQueueWriter.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/state/StreamsManager.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/task/TeardownTask.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/command/MockCatalogFactory.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/state/StateManagerTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/state/StreamsManagerTest.kt
Labels: CDK

#45116 🐛 Source Shopify: Have message and description be nullable for custom_collections delet…
  airbyte-integrations/connectors/source-shopify/metadata.yaml
  airbyte-integrations/connectors/source-shopify/pyproject.toml
  airbyte-integrations/connectors/source-shopify/source_shopify/streams/base_streams.py
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors, connectors/source/shopify

#44592 fix(source-github): fix state handling for stream WorkflowRuns
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/pyproject.toml
  airbyte-integrations/connectors/source-github/source_github/streams.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors, connectors/source/github

#44927 Update `abctl version` command in oss-quickstart
  docs/using-airbyte/getting-started/oss-quickstart.md
Labels: area/documentation, community

#45126 source-faker: test release candidate
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  docs/integrations/sources/faker.md
Labels: area/documentation, area/connectors, connectors/source/faker

#45127 Destination databricks: add banner for gcp oauth
  docs/integrations/destinations/databricks.md
Labels: area/documentation

#45141 bulk-cdk: make exception classifiers recursive
  airbyte-cdk/bulk/core/base/src/main/kotlin/io/airbyte/cdk/output/DefaultExceptionClassifier.kt
  airbyte-cdk/bulk/core/base/src/main/kotlin/io/airbyte/cdk/output/ExceptionClassifier.kt
  airbyte-cdk/bulk/core/base/src/test/kotlin/io/airbyte/cdk/output/RegexExceptionClassifierTest.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/output/JdbcExceptionClassifier.kt
Labels: CDK

#45142 [source-mssql] update datetimeoffset format
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlQueryUtils.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSourceOperations.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/initialsync/MssqlInitialReadUtil.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/MssqlSourceOperationsTest.java
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, connectors/source/mssql

#45160 gradle: remove deps.toml
  airbyte-cdk/java/airbyte-cdk/db-destinations/build.gradle
  airbyte-ci/connectors/pipelines/README.md
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/steps/gradle.py
  airbyte-ci/connectors/pipelines/pyproject.toml
  airbyte-integrations/connectors/destination-clickhouse-strict-encrypt/build.gradle
  airbyte-integrations/connectors/destination-clickhouse/build.gradle
  airbyte-integrations/connectors/destination-elasticsearch-strict-encrypt/build.gradle
  airbyte-integrations/connectors/destination-elasticsearch/build.gradle
  airbyte-integrations/connectors/destination-iceberg/build.gradle
  airbyte-integrations/connectors/destination-kafka/build.gradle
  airbyte-integrations/connectors/destination-mssql-strict-encrypt/build.gradle
  airbyte-integrations/connectors/destination-mssql/build.gradle
  airbyte-integrations/connectors/destination-mysql-strict-encrypt/build.gradle
  airbyte-integrations/connectors/destination-mysql/build.gradle
  airbyte-integrations/connectors/destination-oracle-strict-encrypt/build.gradle
  airbyte-integrations/connectors/destination-oracle/build.gradle
  airbyte-integrations/connectors/destination-redis/build.gradle
  airbyte-integrations/connectors/destination-s3-glue/build.gradle
  deps.toml
  settings.gradle
Labels: area/connectors, CDK, connectors/destination/elasticsearch, connectors/destination/mysql, connectors/destination/clickhouse, connectors/destination/kafka, connectors/destination/mssql, connectors/destination/redis, connectors/destination/oracle-strict-encrypt, connectors/destination/mssql-strict-encrypt, connectors/destination/mysql-strict-encrypt, connectors/destination/oracle, connectors/destination/clickhouse-strict-encrypt, connectors/destination/elasticsearch-strict-encryp, connectors/destination/iceberg, connectors/destination/s3-glue

#45153 docs(airbyte-cdk): update migration guide
  airbyte-cdk/python/cdk-migrations.md
Labels: CDK

#44910 (source-tiktok-marketing) - Upgrade CDK 4.6.1
  airbyte-integrations/connectors/source-tiktok-marketing/metadata.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/poetry.lock
  airbyte-integrations/connectors/source-tiktok-marketing/pyproject.toml
  docs/integrations/sources/tiktok-marketing.md
Labels: area/documentation, area/connectors, connectors/source/tiktok-marketing

#45161 Source Looker: Enable latest version in Cloud registry
  airbyte-integrations/connectors/source-looker/metadata.yaml
  airbyte-integrations/connectors/source-looker/poetry.lock
  airbyte-integrations/connectors/source-looker/pyproject.toml
  docs/integrations/sources/looker.md
Labels: area/documentation, area/connectors, connectors/source/looker

#45143 destination-s3: don't reuse names of existing objects
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/s3/S3StorageOperations.kt
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/s3/parquet/JsonRecordParquetPreprocessor.kt
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/test/kotlin/io/airbyte/cdk/integrations/destination/s3/S3StorageOperationsTest.kt
  airbyte-integrations/connectors/destination-s3/build.gradle
  airbyte-integrations/connectors/destination-s3/metadata.yaml
  docs/integrations/destinations/s3.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/s3

#45091 Bulk Load CDK: Unit tests for memory manager
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/state/MemoryManager.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/state/MemoryManagerTest.kt
Labels: CDK

#44606 [source-mysqlv2] A new mysqlv2
  airbyte-integrations/connectors/source-mysql-v2/build.gradle
  airbyte-integrations/connectors/source-mysql-v2/gradle.properties
  airbyte-integrations/connectors/source-mysql-v2/icon.svg
  airbyte-integrations/connectors/source-mysql-v2/metadata.yaml
  airbyte-integrations/connectors/source-mysql-v2/src/main/kotlin/io/airbyte/integrations/source/mysql/MysqlJdbcSelectQuerier.kt
  airbyte-integrations/connectors/source-mysql-v2/src/main/kotlin/io/airbyte/integrations/source/mysql/MysqlSource.kt
  airbyte-integrations/connectors/source-mysql-v2/src/main/kotlin/io/airbyte/integrations/source/mysql/MysqlSourceConfiguration.kt
  airbyte-integrations/connectors/source-mysql-v2/src/main/kotlin/io/airbyte/integrations/source/mysql/MysqlSourceConfigurationJsonObject.kt
  airbyte-integrations/connectors/source-mysql-v2/src/main/kotlin/io/airbyte/integrations/source/mysql/MysqlSourceMetadataQuerier.kt
  airbyte-integrations/connectors/source-mysql-v2/src/main/kotlin/io/airbyte/integrations/source/mysql/MysqlSourceOperations.kt
  airbyte-integrations/connectors/source-mysql-v2/src/main/resources/application.yml
  airbyte-integrations/connectors/source-mysql-v2/src/test/kotlin/io/airbyte/integrations/source/mysql/MysqlContainerFactory.kt
  airbyte-integrations/connectors/source-mysql-v2/src/test/kotlin/io/airbyte/integrations/source/mysql/MysqlSourceConfigurationJsonObjectTest.kt
  airbyte-integrations/connectors/source-mysql-v2/src/test/kotlin/io/airbyte/integrations/source/mysql/MysqlSourceConfigurationTest.kt
  airbyte-integrations/connectors/source-mysql-v2/src/test/kotlin/io/airbyte/integrations/source/mysql/MysqlSourceDatatypeIntegrationTest.kt
  airbyte-integrations/connectors/source-mysql-v2/src/test/kotlin/io/airbyte/integrations/source/mysql/MysqlSourceSelectQueryGeneratorTest.kt
  airbyte-integrations/connectors/source-mysql-v2/src/test/kotlin/io/airbyte/integrations/source/mysql/MysqlSourceTestConfigurationFactory.kt
  airbyte-integrations/connectors/source-mysql-v2/src/test/kotlin/io/airbyte/integrations/source/mysql/MysqlSpecIntegrationTest.kt
  airbyte-integrations/connectors/source-mysql-v2/src/test/resources/expected-spec.json
Labels: area/connectors, connectors/source/mysql-v2

#45187 feat(source-zendesk-support): update CDK to v5
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/poetry.lock
  airbyte-integrations/connectors/source-zendesk-support/pyproject.toml
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/streams.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/integrations/test_post_comment_votes.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/integrations/test_post_comments.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/integrations/test_post_votes.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/integrations/test_ticket_metrics.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/integrations/utils.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/unit_test.py
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-support

#45194 docs(airbyte-cdk): Fix error in incremental sync docs
  docs/connector-development/config-based/understanding-the-yaml-file/incremental-syncs.md
Labels: area/documentation

#45195 Source The Guardian API: Migrate to Manifest Only
  airbyte-integrations/connectors/source-the-guardian-api/README.md
  airbyte-integrations/connectors/source-the-guardian-api/__init__.py
  airbyte-integrations/connectors/source-the-guardian-api/acceptance-test-config.yml
  airbyte-integrations/connectors/source-the-guardian-api/bootstrap.md
  airbyte-integrations/connectors/source-the-guardian-api/components.py
  airbyte-integrations/connectors/source-the-guardian-api/main.py
  airbyte-integrations/connectors/source-the-guardian-api/manifest.yaml
  airbyte-integrations/connectors/source-the-guardian-api/metadata.yaml
  airbyte-integrations/connectors/source-the-guardian-api/poetry.lock
  airbyte-integrations/connectors/source-the-guardian-api/pyproject.toml
  airbyte-integrations/connectors/source-the-guardian-api/source_the_guardian_api/__init__.py
  airbyte-integrations/connectors/source-the-guardian-api/source_the_guardian_api/manifest.yaml
  airbyte-integrations/connectors/source-the-guardian-api/source_the_guardian_api/run.py
  airbyte-integrations/connectors/source-the-guardian-api/source_the_guardian_api/schemas/content.json
  airbyte-integrations/connectors/source-the-guardian-api/source_the_guardian_api/source.py
  airbyte-integrations/connectors/source-the-guardian-api/source_the_guardian_api/spec.yaml
  docs/integrations/sources/the-guardian-api.md
Labels: area/documentation, area/connectors, connectors/source/the-guardian-api, auto-merge

#45198 bug(airbyte-cdk) Fix extras not being printed
  airbyte-cdk/python/airbyte_cdk/logger.py
  airbyte-cdk/python/unit_tests/test_logger.py
Labels: CDK

#45207 add kind custom connector troubleshooting to quickstart
  docs/operator-guides/assets/custom-connector-error1.png
  docs/operator-guides/assets/custom-connector-error2.png
  docs/operator-guides/using-custom-connectors.md
  docs/using-airbyte/getting-started/oss-quickstart.md
Labels: area/documentation

#45330 🐙 destination-astra: run up-to-date pipeline [2024-09-07]
  airbyte-integrations/connectors/destination-astra/metadata.yaml
  airbyte-integrations/connectors/destination-astra/poetry.lock
  airbyte-integrations/connectors/destination-astra/pyproject.toml
  docs/integrations/destinations/astra.md
Labels: area/documentation, area/connectors, connectors/destination/astra, auto-merge, up-to-date
