Repository airbytehq/airbyte, pull requests merged in 2024-06, with the labels that each got.

#38831 [source-faker][chore]: Allow CDK 1.x versions
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/poetry.lock
  airbyte-integrations/connectors/source-faker/pyproject.toml
  docs/integrations/sources/faker.md
Labels: area/documentation, area/connectors, connectors/source/faker

#38841 ✨Source Whisky Hunter: Make Connector Compatible with Builder
  airbyte-integrations/connectors/source-whisky-hunter/metadata.yaml
  airbyte-integrations/connectors/source-whisky-hunter/pyproject.toml
  airbyte-integrations/connectors/source-whisky-hunter/requirements.txt
  airbyte-integrations/connectors/source-whisky-hunter/source_whisky_hunter/manifest.yaml
  airbyte-integrations/connectors/source-whisky-hunter/source_whisky_hunter/schemas/auctions_data.json
  airbyte-integrations/connectors/source-whisky-hunter/source_whisky_hunter/schemas/auctions_info.json
  airbyte-integrations/connectors/source-whisky-hunter/source_whisky_hunter/schemas/distilleries_info.json
  airbyte-integrations/connectors/source-whisky-hunter/source_whisky_hunter/spec.yaml
  docs/integrations/sources/whisky-hunter.md
Labels: area/documentation, area/connectors, connectors/source/whisky-hunter

#38815 Update google-ads.md to fix line breaks
  docs/integrations/sources/google-ads.md
Labels: area/documentation

#38839 ✨Source Vantage: Make Connector Compatible with Builder
  airbyte-integrations/connectors/source-vantage/metadata.yaml
  airbyte-integrations/connectors/source-vantage/pyproject.toml
  airbyte-integrations/connectors/source-vantage/requirements.txt
  airbyte-integrations/connectors/source-vantage/source_vantage/manifest.yaml
  airbyte-integrations/connectors/source-vantage/source_vantage/spec.yaml
  docs/integrations/sources/vantage.md
Labels: area/documentation, area/connectors, connectors/source/vantage

#38818 ✨Source GoCardless: Make Connector Compatible with Builder
  airbyte-integrations/connectors/source-gocardless/metadata.yaml
  airbyte-integrations/connectors/source-gocardless/pyproject.toml
  airbyte-integrations/connectors/source-gocardless/requirements.txt
  airbyte-integrations/connectors/source-gocardless/source_gocardless/manifest.yaml
  airbyte-integrations/connectors/source-gocardless/source_gocardless/schemas/mandates.json
  airbyte-integrations/connectors/source-gocardless/source_gocardless/schemas/payments.json
  airbyte-integrations/connectors/source-gocardless/source_gocardless/schemas/payouts.json
  airbyte-integrations/connectors/source-gocardless/source_gocardless/schemas/refunds.json
  airbyte-integrations/connectors/source-gocardless/source_gocardless/spec.yaml
  docs/integrations/sources/gocardless.md
Labels: area/documentation, area/connectors, connectors/source/gocardless

#38787 ✨Source SmartEngage: Make Connector Compatible with Builder
  airbyte-integrations/connectors/source-smartengage/metadata.yaml
  airbyte-integrations/connectors/source-smartengage/pyproject.toml
  airbyte-integrations/connectors/source-smartengage/requirements.txt
  airbyte-integrations/connectors/source-smartengage/source_smartengage/manifest.yaml
  airbyte-integrations/connectors/source-smartengage/source_smartengage/spec.yaml
  docs/integrations/sources/smartengage.md
Labels: area/documentation, area/connectors, connectors/source/smartengage

#36814 CAT: fix incremental by running tests per stream
  airbyte-integrations/bases/connector-acceptance-test/connector_acceptance_test/tests/test_incremental.py
  airbyte-integrations/bases/connector-acceptance-test/unit_tests/test_incremental.py
Labels: team/connectors-python

#38604 Fix bash location for run-ab-platform.sh
  run-ab-platform.sh
Labels: community

#38858 doc: describe how to enable a test suite in metadata
  docs/connector-development/connector-metadata-file.md
Labels: area/documentation

#38576 Destination DuckDB: Bump duckdb engine to `0.10.3`
  airbyte-integrations/connectors/destination-duckdb/destination_duckdb/destination.py
  airbyte-integrations/connectors/destination-duckdb/destination_duckdb/run.py
  airbyte-integrations/connectors/destination-duckdb/integration_tests/integration_test.py
  airbyte-integrations/connectors/destination-duckdb/metadata.yaml
  airbyte-integrations/connectors/destination-duckdb/poetry.lock
  airbyte-integrations/connectors/destination-duckdb/pyproject.toml
  airbyte-integrations/connectors/destination-duckdb/unit_tests/destination_unit_tests.py
  airbyte-integrations/connectors/destination-duckdb/unit_tests/unit_test.py
  docs/integrations/destinations/duckdb-migrations.md
  docs/integrations/destinations/duckdb.md
  pyproject.toml
Labels: area/documentation, area/connectors, connectors/destination/duckdb

#38860 🐛 Source Facebook Marketing: "Tried accessing nonexisting field on node type" fix
  airbyte-integrations/connectors/source-facebook-marketing/acceptance-test-config.yml
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/pyproject.toml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/ads_insights.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/shared/ads_action_stats.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/spec.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/integration/test_ads_insights_action_product_id.py
  docs/integrations/sources/facebook-marketing-migrations.md
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing

#38658 Destination Snowflake: Adapting to new connector interfaces
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeDatabaseUtils.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeDestination.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingSqlOperations.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeSqlOperations.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeSqlStagingOperations.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/migrations/SnowflakeDV2Migration.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/operation/SnowflakeStagingClient.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/operation/SnowflakeStorageOperation.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeDestinationHandler.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGenerator.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeV1V2Migrator.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeV2TableMigrator.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeDestinationIntegrationTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeInsertDestinationAcceptanceTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeTestDataComparator.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/AbstractSnowflakeTypingDedupingTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeInternalStagingCaseInsensitiveTypingDedupingTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeInternalStagingLowercaseDatabaseTypingDedupingTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGeneratorIntegrationTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_expectedrecords_v1v2_fullrefresh_append_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_expectedrecords_v1v2_raw.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeDestinationTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingSqlOperationsTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeSqlOperationsTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeSqlOperationsThrowConfigExceptionTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/operation/SnowflakeStagingClientTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/operation/SnowflakeStorageOperationTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeDestinationHandlerTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGeneratorTest.kt
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/snowflake

#38855 Docs typo: wrong month in refreshes section
  docs/operator-guides/refreshes.md
Labels: area/documentation

#38846 [airbyte-cdk] Python 3.11 dataclass compatibility
  airbyte-cdk/python/airbyte_cdk/sources/declarative/auth/token_provider.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/extractors/dpath_extractor.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/default_paginator.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/strategies/cursor_pagination_strategy.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/strategies/offset_increment.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/retrievers/simple_retriever.py
  airbyte-cdk/python/unit_tests/sources/declarative/parsers/testing_components.py
Labels: CDK

#38872 :bug: Source Shopify: skip `comprehensive incremental` tests
  airbyte-integrations/connectors/source-shopify/acceptance-test-config.yml
Labels: connectors/source/shopify, team/critical-connectors

#38832 [destination-oracle] Update oracle.md to update requirements #37400
  docs/integrations/destinations/oracle.md
Labels: area/documentation, community

#38847 [airbyte-cdk] Fix dpath.util.* deprecation warnings
  airbyte-cdk/python/airbyte_cdk/destinations/vector_db_based/config.py
  airbyte-cdk/python/airbyte_cdk/destinations/vector_db_based/document_processor.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/auth/selective_authenticator.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/auth/token_provider.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/extractors/dpath_extractor.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/partition_routers/substream_partition_router.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/transformations/add_fields.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/transformations/remove_fields.py
  airbyte-cdk/python/airbyte_cdk/sources/embedded/tools.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/abstract_file_based_spec.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/unstructured_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/requests_native_auth/oauth.py
  airbyte-cdk/python/airbyte_cdk/utils/airbyte_secrets_utils.py
  airbyte-cdk/python/unit_tests/destinations/vector_db_based/config_test.py
  airbyte-cdk/python/unit_tests/sources/declarative/interpolation/test_interpolated_nested_mapping.py
Labels: CDK

#38834 Publish CDK for postgres source connector
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-integrations/connectors/source-postgres/build.gradle
Labels: area/connectors, CDK, connectors/source/postgres

#38901 destination-timeplus: Replace AirbyteLogger with logging.Logger
  airbyte-integrations/connectors/destination-timeplus/destination_timeplus/destination.py
  airbyte-integrations/connectors/destination-timeplus/metadata.yaml
  airbyte-integrations/connectors/destination-timeplus/pyproject.toml
  docs/integrations/destinations/timeplus.md
Labels: area/documentation, area/connectors, connectors/destination/timeplus, autopull, auto-merge

#38894 destination-kvdb: Replace AirbyteLogger with logging.Logger
  airbyte-integrations/connectors/destination-kvdb/destination_kvdb/destination.py
  airbyte-integrations/connectors/destination-kvdb/metadata.yaml
  airbyte-integrations/connectors/destination-kvdb/pyproject.toml
  docs/integrations/destinations/kvdb.md
Labels: area/documentation, area/connectors, connectors/destination/kvdb, autopull, auto-merge

#38276 refactor(destination-milvus): Replace AirbyteLogger with logging.Logger
  airbyte-integrations/connectors/destination-milvus/destination_milvus/destination.py
  airbyte-integrations/connectors/destination-milvus/metadata.yaml
  airbyte-integrations/connectors/destination-milvus/pyproject.toml
  airbyte-integrations/connectors/destination-milvus/unit_tests/destination_test.py
  docs/integrations/destinations/milvus.md
Labels: area/documentation, area/connectors, connectors/destination/milvus, auto-merge

#38830 [destination-snowflake-cortex][ci]: add missing test config (`connectorTestSuitesOptions`)
  airbyte-integrations/connectors/destination-snowflake-cortex/destination_snowflake_cortex/common/destinations/record_processor.py
  airbyte-integrations/connectors/destination-snowflake-cortex/destination_snowflake_cortex/cortex_processor.py
  airbyte-integrations/connectors/destination-snowflake-cortex/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake-cortex/poetry.lock
  airbyte-integrations/connectors/destination-snowflake-cortex/pyproject.toml
  docs/integrations/destinations/snowflake-cortex.md
Labels: area/documentation, area/connectors, connectors/destination/snowflake-cortex

#38865 fix(source-google-analytics-data-api): enforce unique property IDs
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/pyproject.toml
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/spec.json
  docs/integrations/sources/google-analytics-data-api.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-data-api

#38951 source-captain-data: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-captain-data/metadata.yaml
  airbyte-integrations/connectors/source-captain-data/pyproject.toml
  docs/integrations/sources/captain-data.md
Labels: area/documentation, area/connectors, connectors/source/captain-data, autopull, auto-merge

#38950 source-recreation: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-recreation/metadata.yaml
  airbyte-integrations/connectors/source-recreation/pyproject.toml
  docs/integrations/sources/recreation.md
Labels: area/documentation, area/connectors, connectors/source/recreation, autopull, auto-merge

#38943 source-flexport: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-flexport/metadata.yaml
  airbyte-integrations/connectors/source-flexport/pyproject.toml
  docs/integrations/sources/flexport.md
Labels: area/documentation, area/connectors, connectors/source/flexport, autopull, auto-merge

#38941 source-workramp: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-workramp/metadata.yaml
  airbyte-integrations/connectors/source-workramp/pyproject.toml
  docs/integrations/sources/workramp.md
Labels: area/documentation, area/connectors, connectors/source/workramp, autopull, auto-merge

#38939 source-mailjet-mail: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-mailjet-mail/metadata.yaml
  airbyte-integrations/connectors/source-mailjet-mail/pyproject.toml
  docs/integrations/sources/mailjet-mail.md
Labels: area/documentation, area/connectors, connectors/source/mailjet-mail, autopull, auto-merge

#38919 source-tplcentral: Replace AirbyteLogger with logging.Logger
  airbyte-integrations/connectors/source-tplcentral/metadata.yaml
  airbyte-integrations/connectors/source-tplcentral/pyproject.toml
  airbyte-integrations/connectors/source-tplcentral/source_tplcentral/source.py
  docs/integrations/sources/tplcentral.md
Labels: area/documentation, area/connectors, connectors/source/tplcentral, autopull, auto-merge

#38918 source-linkedin-pages: Replace AirbyteLogger with logging.Logger
  airbyte-integrations/connectors/source-linkedin-pages/metadata.yaml
  airbyte-integrations/connectors/source-linkedin-pages/pyproject.toml
  airbyte-integrations/connectors/source-linkedin-pages/source_linkedin_pages/source.py
  docs/integrations/sources/linkedin-pages.md
Labels: area/documentation, area/connectors, connectors/source/linkedin-pages, autopull, auto-merge

#38916 source-rd-station-marketing: Replace AirbyteLogger with logging.Logger
  airbyte-integrations/connectors/source-rd-station-marketing/metadata.yaml
  airbyte-integrations/connectors/source-rd-station-marketing/pyproject.toml
  airbyte-integrations/connectors/source-rd-station-marketing/source_rd_station_marketing/source.py
  docs/integrations/sources/rd-station-marketing.md
Labels: area/documentation, area/connectors, connectors/source/rd-station-marketing, autopull, auto-merge

#38915 source-azure-table: Replace AirbyteLogger with logging.Logger
  airbyte-integrations/connectors/source-azure-table/metadata.yaml
  airbyte-integrations/connectors/source-azure-table/pyproject.toml
  airbyte-integrations/connectors/source-azure-table/source_azure_table/azure_table.py
  airbyte-integrations/connectors/source-azure-table/source_azure_table/source.py
  docs/integrations/sources/azure-table.md
Labels: area/documentation, area/connectors, connectors/source/azure-table, autopull, auto-merge

#38914 source-looker: Replace AirbyteLogger with logging.Logger
  airbyte-integrations/connectors/source-looker/metadata.yaml
  airbyte-integrations/connectors/source-looker/pyproject.toml
  airbyte-integrations/connectors/source-looker/source_looker/source.py
  docs/integrations/sources/looker.md
Labels: area/documentation, area/connectors, connectors/source/looker, autopull, auto-merge

#38911 source-aws-cloudtrail: Replace AirbyteLogger with logging.Logger
  airbyte-integrations/connectors/source-aws-cloudtrail/metadata.yaml
  airbyte-integrations/connectors/source-aws-cloudtrail/pyproject.toml
  airbyte-integrations/connectors/source-aws-cloudtrail/source_aws_cloudtrail/source.py
  docs/integrations/sources/aws-cloudtrail.md
Labels: area/documentation, area/connectors, connectors/source/aws-cloudtrail, autopull, auto-merge

#38910 source-firebase-realtime-database: Replace AirbyteLogger with logging.Logger
  airbyte-integrations/connectors/source-firebase-realtime-database/metadata.yaml
  airbyte-integrations/connectors/source-firebase-realtime-database/pyproject.toml
  airbyte-integrations/connectors/source-firebase-realtime-database/source_firebase_realtime_database/source.py
  docs/integrations/sources/firebase-realtime-database.md
Labels: area/documentation, area/connectors, connectors/source/firebase-realtime-database, autopull, auto-merge

#38902 destination-firestore: Replace AirbyteLogger with logging.Logger
  airbyte-integrations/connectors/destination-firestore/destination_firestore/destination.py
  airbyte-integrations/connectors/destination-firestore/integration_tests/integration_test.py
  airbyte-integrations/connectors/destination-firestore/metadata.yaml
  airbyte-integrations/connectors/destination-firestore/pyproject.toml
  docs/integrations/destinations/firestore.md
Labels: area/documentation, area/connectors, connectors/destination/firestore, autopull, auto-merge

#38892 source-firebolt: Replace AirbyteLogger with logging.Logger
  airbyte-integrations/connectors/source-firebolt/metadata.yaml
  airbyte-integrations/connectors/source-firebolt/pyproject.toml
  airbyte-integrations/connectors/source-firebolt/source_firebolt/database.py
  airbyte-integrations/connectors/source-firebolt/source_firebolt/source.py
  docs/integrations/sources/firebolt.md
Labels: area/documentation, area/connectors, connectors/source/firebolt, autopull, auto-merge

#38958 source-monday: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-monday/metadata.yaml
  airbyte-integrations/connectors/source-monday/pyproject.toml
  docs/integrations/sources/monday.md
Labels: area/documentation, area/connectors, connectors/source/monday, autopull, auto-merge

#38957 source-secoda: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-secoda/metadata.yaml
  airbyte-integrations/connectors/source-secoda/pyproject.toml
  docs/integrations/sources/secoda.md
Labels: area/documentation, area/connectors, connectors/source/secoda, autopull, auto-merge

#38956 source-primetric: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-primetric/metadata.yaml
  airbyte-integrations/connectors/source-primetric/pyproject.toml
  docs/integrations/sources/primetric.md
Labels: area/documentation, area/connectors, connectors/source/primetric, autopull, auto-merge

#38966 source-appfollow: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-appfollow/metadata.yaml
  airbyte-integrations/connectors/source-appfollow/pyproject.toml
  docs/integrations/sources/appfollow.md
Labels: area/documentation, area/connectors, connectors/source/appfollow, autopull, auto-merge

#38964 source-partnerstack: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-partnerstack/metadata.yaml
  airbyte-integrations/connectors/source-partnerstack/pyproject.toml
  docs/integrations/sources/partnerstack.md
Labels: area/documentation, area/connectors, connectors/source/partnerstack, autopull, auto-merge

#38963 source-plaid: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-plaid/metadata.yaml
  airbyte-integrations/connectors/source-plaid/pyproject.toml
  docs/integrations/sources/plaid.md
Labels: area/documentation, area/connectors, connectors/source/plaid, autopull, auto-merge

#38962 source-amazon-ads: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-amazon-ads/metadata.yaml
  airbyte-integrations/connectors/source-amazon-ads/pyproject.toml
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, area/connectors, connectors/source/amazon-ads, autopull, auto-merge

#38961 source-zenloop: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-zenloop/metadata.yaml
  airbyte-integrations/connectors/source-zenloop/pyproject.toml
  docs/integrations/sources/zenloop.md
Labels: area/documentation, area/connectors, connectors/source/zenloop, autopull, auto-merge

#38960 source-google-webfonts: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-google-webfonts/metadata.yaml
  airbyte-integrations/connectors/source-google-webfonts/pyproject.toml
  docs/integrations/sources/google-webfonts.md
Labels: area/documentation, area/connectors, connectors/source/google-webfonts, autopull, auto-merge

#38851 :bug: Source Google Sheets: emit state message
  airbyte-integrations/connectors/source-google-sheets/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-sheets/metadata.yaml
  airbyte-integrations/connectors/source-google-sheets/poetry.lock
  airbyte-integrations/connectors/source-google-sheets/pyproject.toml
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/source.py
  airbyte-integrations/connectors/source-google-sheets/unit_tests/conftest.py
  airbyte-integrations/connectors/source-google-sheets/unit_tests/test_stream.py
  docs/integrations/sources/google-sheets.md
Labels: area/documentation, area/connectors, connectors/source/google-sheets

#39013 Remove Snowflake OAuth from docs
  docs/integrations/destinations/snowflake.md
Labels: area/documentation

#39092 Fix writing to destination when multiple chunks exist for a document
  airbyte-integrations/connectors/destination-snowflake-cortex/destination_snowflake_cortex/cortex_processor.py
  airbyte-integrations/connectors/destination-snowflake-cortex/integration_tests/integration_test.py
  airbyte-integrations/connectors/destination-snowflake-cortex/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake-cortex/pyproject.toml
  docs/integrations/destinations/snowflake-cortex.md
Labels: area/documentation, area/connectors, connectors/destination/snowflake-cortex

#38848 source-postgres: improve UI message and doc on xmin
  airbyte-integrations/connectors/source-postgres/acceptance-test-config.yml
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/resources/spec.json
  airbyte-integrations/connectors/source-postgres/src/test-integration/resources/expected_cloud_deployment_spec.json
  airbyte-integrations/connectors/source-postgres/src/test-integration/resources/expected_spec.json
  docs/integrations/sources/postgres.md
  docs/integrations/sources/postgres/postgres-troubleshooting.md
Labels: area/documentation, area/connectors, connectors/source/postgres

#38931 ✨Source Smaily: Make Connector Compatible with Builder
  airbyte-integrations/connectors/source-smaily/metadata.yaml
  airbyte-integrations/connectors/source-smaily/pyproject.toml
  airbyte-integrations/connectors/source-smaily/requirements.txt
  airbyte-integrations/connectors/source-smaily/source_smaily/manifest.yaml
  airbyte-integrations/connectors/source-smaily/source_smaily/spec.yaml
  docs/integrations/sources/smaily.md
Labels: area/documentation, area/connectors, connectors/source/smaily

#39101 source-nytimes: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-nytimes/metadata.yaml
Labels: area/connectors, connectors/source/nytimes, autopull, auto-merge

#39099 destination-milvus: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/destination-milvus/metadata.yaml
Labels: area/connectors, connectors/destination/milvus, autopull, auto-merge

#39098 source-gitlab: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-gitlab/metadata.yaml
Labels: area/connectors, connectors/source/gitlab, autopull, auto-merge

#39095 source-pipedrive: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-pipedrive/metadata.yaml
  airbyte-integrations/connectors/source-pipedrive/pyproject.toml
  docs/integrations/sources/pipedrive.md
Labels: area/documentation, area/connectors, connectors/source/pipedrive, autopull, auto-merge

#39094 source-getlago: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-getlago/metadata.yaml
  airbyte-integrations/connectors/source-getlago/pyproject.toml
  docs/integrations/sources/getlago.md
Labels: area/documentation, area/connectors, connectors/source/getlago, autopull, auto-merge

#39093 source-survey-sparrow: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-survey-sparrow/metadata.yaml
  airbyte-integrations/connectors/source-survey-sparrow/pyproject.toml
  docs/integrations/sources/survey-sparrow.md
Labels: area/documentation, area/connectors, connectors/source/survey-sparrow, autopull, auto-merge

#39090 destination-databend: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/destination-databend/metadata.yaml
  airbyte-integrations/connectors/destination-databend/pyproject.toml
  docs/integrations/destinations/databend.md
Labels: area/documentation, area/connectors, connectors/destination/databend, autopull, auto-merge

#39089 source-airtable: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-airtable/metadata.yaml
  airbyte-integrations/connectors/source-airtable/pyproject.toml
  docs/integrations/sources/airtable.md
Labels: area/documentation, area/connectors, connectors/source/airtable, autopull, auto-merge

#39088 destination-xata: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/destination-xata/metadata.yaml
  docs/integrations/destinations/xata.md
Labels: area/documentation, area/connectors, connectors/destination/xata, autopull, auto-merge

#39087 source-pardot: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-pardot/metadata.yaml
  airbyte-integrations/connectors/source-pardot/pyproject.toml
  docs/integrations/sources/pardot.md
Labels: area/documentation, area/connectors, connectors/source/pardot, autopull, auto-merge

#39086 source-zenefits: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-zenefits/metadata.yaml
  airbyte-integrations/connectors/source-zenefits/pyproject.toml
  docs/integrations/sources/zenefits.md
Labels: area/documentation, area/connectors, connectors/source/zenefits, autopull, auto-merge

#39081 source-vantage: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-vantage/metadata.yaml
  airbyte-integrations/connectors/source-vantage/pyproject.toml
  docs/integrations/sources/vantage.md
Labels: area/documentation, area/connectors, connectors/source/vantage, autopull, auto-merge

#39079 source-everhour: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-everhour/metadata.yaml
  airbyte-integrations/connectors/source-everhour/pyproject.toml
  docs/integrations/sources/everhour.md
Labels: area/documentation, area/connectors, autopull, connectors/source/everhour, auto-merge

#39078 source-github: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/pyproject.toml
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors, connectors/source/github, autopull, auto-merge

#39077 source-iterable: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-iterable/metadata.yaml
  airbyte-integrations/connectors/source-iterable/pyproject.toml
  docs/integrations/sources/iterable.md
Labels: area/documentation, area/connectors, connectors/source/iterable, autopull, auto-merge

#39073 source-senseforce: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-senseforce/metadata.yaml
  airbyte-integrations/connectors/source-senseforce/pyproject.toml
  docs/integrations/sources/senseforce.md
Labels: area/documentation, area/connectors, connectors/source/senseforce, autopull, auto-merge

#39070 destination-amazon-sqs: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/destination-amazon-sqs/metadata.yaml
  airbyte-integrations/connectors/destination-amazon-sqs/pyproject.toml
  docs/integrations/destinations/amazon-sqs.md
Labels: area/documentation, area/connectors, connectors/destination/amazon-sqs, autopull, auto-merge

#39066 source-fastbill: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-fastbill/metadata.yaml
  airbyte-integrations/connectors/source-fastbill/pyproject.toml
  docs/integrations/sources/fastbill.md
Labels: area/documentation, area/connectors, connectors/source/fastbill, autopull, auto-merge

#39064 source-statuspage: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-statuspage/metadata.yaml
  airbyte-integrations/connectors/source-statuspage/pyproject.toml
  docs/integrations/sources/statuspage.md
Labels: area/documentation, area/connectors, connectors/source/statuspage, autopull, auto-merge

#39062 source-postmarkapp: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-postmarkapp/metadata.yaml
  airbyte-integrations/connectors/source-postmarkapp/pyproject.toml
  docs/integrations/sources/postmarkapp.md
Labels: area/documentation, area/connectors, connectors/source/postmarkapp, autopull, auto-merge

#39060 source-datadog: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-datadog/metadata.yaml
  airbyte-integrations/connectors/source-datadog/pyproject.toml
  docs/integrations/sources/datadog.md
Labels: area/documentation, area/connectors, connectors/source/datadog, autopull, auto-merge

#39059 source-google-search-console: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-google-search-console/metadata.yaml
  airbyte-integrations/connectors/source-google-search-console/pyproject.toml
  docs/integrations/sources/google-search-console.md
Labels: area/documentation, area/connectors, connectors/source/google-search-console, autopull, auto-merge

#39053 source-tvmaze-schedule: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-tvmaze-schedule/metadata.yaml
  airbyte-integrations/connectors/source-tvmaze-schedule/pyproject.toml
  docs/integrations/sources/tvmaze-schedule.md
Labels: area/documentation, area/connectors, connectors/source/tvmaze-schedule, autopull, auto-merge

#39050 destination-typesense: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/destination-typesense/metadata.yaml
  airbyte-integrations/connectors/destination-typesense/pyproject.toml
  docs/integrations/destinations/typesense.md
Labels: area/documentation, area/connectors, connectors/destination/typesense, autopull, auto-merge

#39048 source-pokeapi: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-pokeapi/metadata.yaml
  airbyte-integrations/connectors/source-pokeapi/pyproject.toml
  docs/integrations/sources/pokeapi.md
Labels: area/documentation, area/connectors, connectors/source/pokeapi, autopull, auto-merge

#39044 source-k6-cloud: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-k6-cloud/metadata.yaml
  airbyte-integrations/connectors/source-k6-cloud/pyproject.toml
  docs/integrations/sources/k6-cloud.md
Labels: area/documentation, area/connectors, connectors/source/k6-cloud, autopull, auto-merge

#39043 source-tyntec-sms: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-tyntec-sms/metadata.yaml
  airbyte-integrations/connectors/source-tyntec-sms/pyproject.toml
  docs/integrations/sources/tyntec-sms.md
Labels: area/documentation, area/connectors, connectors/source/tyntec-sms, autopull, auto-merge

#39042 source-salesloft: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-salesloft/metadata.yaml
  airbyte-integrations/connectors/source-salesloft/pyproject.toml
  docs/integrations/sources/salesloft.md
Labels: area/documentation, area/connectors, connectors/source/salesloft, autopull, auto-merge

#39041 source-zapier-supported-storage: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-zapier-supported-storage/metadata.yaml
  airbyte-integrations/connectors/source-zapier-supported-storage/pyproject.toml
  docs/integrations/sources/zapier-supported-storage.md
Labels: area/documentation, area/connectors, connectors/source/zapier-supported-storage, autopull, auto-merge

#39038 source-news-api: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-news-api/metadata.yaml
  airbyte-integrations/connectors/source-news-api/pyproject.toml
  docs/integrations/sources/news-api.md
Labels: area/documentation, area/connectors, connectors/source/news-api, autopull, auto-merge

#39033 destination-aws-datalake: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/destination-aws-datalake/metadata.yaml
  airbyte-integrations/connectors/destination-aws-datalake/pyproject.toml
  docs/integrations/destinations/aws-datalake.md
Labels: area/documentation, area/connectors, connectors/destination/aws-datalake, autopull, auto-merge

#38836 source-postgres: check() throws config error upon detecting transaction ID wraparound
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres, connectors/source/db

#39067 source-twilio-taskrouter: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-twilio-taskrouter/metadata.yaml
  airbyte-integrations/connectors/source-twilio-taskrouter/pyproject.toml
  docs/integrations/sources/twilio-taskrouter.md
Labels: area/documentation, area/connectors, connectors/source/twilio-taskrouter, autopull, auto-merge

#39065 source-freshsales: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-freshsales/metadata.yaml
  airbyte-integrations/connectors/source-freshsales/pyproject.toml
  docs/integrations/sources/freshsales.md
Labels: area/documentation, area/connectors, connectors/source/freshsales, autopull, auto-merge

#39056 source-glassfrog: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-glassfrog/metadata.yaml
  airbyte-integrations/connectors/source-glassfrog/pyproject.toml
  docs/integrations/sources/glassfrog.md
Labels: area/documentation, area/connectors, connectors/source/glassfrog, autopull, auto-merge

#39054 source-timely: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-timely/metadata.yaml
  airbyte-integrations/connectors/source-timely/pyproject.toml
  docs/integrations/sources/timely.md
Labels: area/documentation, area/connectors, connectors/source/timely, autopull, auto-merge

#39051 source-gridly: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-gridly/metadata.yaml
  airbyte-integrations/connectors/source-gridly/pyproject.toml
  docs/integrations/sources/gridly.md
Labels: area/documentation, area/connectors, connectors/source/gridly, autopull, auto-merge

#39072 source-oura: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-oura/metadata.yaml
  airbyte-integrations/connectors/source-oura/pyproject.toml
  docs/integrations/sources/oura.md
Labels: area/documentation, area/connectors, connectors/source/oura, autopull, auto-merge

#39071 source-pivotal-tracker: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-pivotal-tracker/metadata.yaml
  airbyte-integrations/connectors/source-pivotal-tracker/pyproject.toml
  docs/integrations/sources/pivotal-tracker.md
Labels: area/documentation, area/connectors, connectors/source/pivotal-tracker, autopull, auto-merge

#39029 source-faker: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  docs/integrations/sources/faker.md
Labels: area/documentation, area/connectors, connectors/source/faker, autopull, auto-merge

#39028 source-open-exchange-rates: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-open-exchange-rates/metadata.yaml
  airbyte-integrations/connectors/source-open-exchange-rates/pyproject.toml
  docs/integrations/sources/open-exchange-rates.md
Labels: area/documentation, area/connectors, connectors/source/open-exchange-rates, autopull, auto-merge

#39026 source-commcare: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-commcare/metadata.yaml
  airbyte-integrations/connectors/source-commcare/pyproject.toml
  docs/integrations/sources/commcare.md
Labels: area/documentation, area/connectors, connectors/source/commcare, autopull, auto-merge

#39024 source-snapchat-marketing: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-snapchat-marketing/metadata.yaml
Labels: area/connectors, connectors/source/snapchat-marketing, autopull, auto-merge

#39021 source-sap-fieldglass: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-sap-fieldglass/metadata.yaml
  airbyte-integrations/connectors/source-sap-fieldglass/pyproject.toml
  docs/integrations/sources/sap-fieldglass.md
Labels: area/documentation, area/connectors, connectors/source/sap-fieldglass, autopull, auto-merge

#39020 source-qonto: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-qonto/metadata.yaml
  airbyte-integrations/connectors/source-qonto/pyproject.toml
  docs/integrations/sources/qonto.md
Labels: area/documentation, area/connectors, connectors/source/qonto, autopull, auto-merge

#39019 source-shopify: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-shopify/metadata.yaml
  airbyte-integrations/connectors/source-shopify/pyproject.toml
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors, connectors/source/shopify, autopull, auto-merge

#39017 source-gutendex: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-gutendex/metadata.yaml
  airbyte-integrations/connectors/source-gutendex/pyproject.toml
  docs/integrations/sources/gutendex.md
Labels: area/documentation, area/connectors, connectors/source/gutendex, autopull, auto-merge

#39016 source-okta: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-okta/metadata.yaml
  airbyte-integrations/connectors/source-okta/pyproject.toml
  docs/integrations/sources/okta.md
Labels: area/documentation, area/connectors, connectors/source/okta, autopull, auto-merge

#39015 source-orb: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-orb/metadata.yaml
  airbyte-integrations/connectors/source-orb/pyproject.toml
  docs/integrations/sources/orb.md
Labels: area/documentation, area/connectors, connectors/source/orb, autopull, auto-merge

#39012 source-reply-io: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-reply-io/metadata.yaml
  airbyte-integrations/connectors/source-reply-io/pyproject.toml
  docs/integrations/sources/reply-io.md
Labels: area/documentation, area/connectors, connectors/source/reply-io, autopull, auto-merge

#39011 destination-google-sheets: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/destination-google-sheets/metadata.yaml
  airbyte-integrations/connectors/destination-google-sheets/pyproject.toml
  docs/integrations/destinations/google-sheets.md
Labels: area/documentation, area/connectors, connectors/destination/google-sheets, autopull, auto-merge

#39010 source-apify-dataset: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-apify-dataset/metadata.yaml
  airbyte-integrations/connectors/source-apify-dataset/pyproject.toml
  docs/integrations/sources/apify-dataset.md
Labels: area/documentation, area/connectors, connectors/source/apify-dataset, autopull, auto-merge

#39006 source-mixpanel: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-mixpanel/metadata.yaml
  airbyte-integrations/connectors/source-mixpanel/pyproject.toml
  docs/integrations/sources/mixpanel.md
Labels: area/documentation, area/connectors, connectors/source/mixpanel, autopull, auto-merge

#39004 source-kyve: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-kyve/metadata.yaml
  airbyte-integrations/connectors/source-kyve/pyproject.toml
  docs/integrations/sources/kyve.md
Labels: area/documentation, area/connectors, connectors/source/kyve, autopull, auto-merge

#38999 source-yandex-metrica: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-yandex-metrica/metadata.yaml
  airbyte-integrations/connectors/source-yandex-metrica/pyproject.toml
  docs/integrations/sources/yandex-metrica.md
Labels: area/documentation, area/connectors, connectors/source/yandex-metrica, autopull, auto-merge

#38995 source-commercetools: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-commercetools/metadata.yaml
  airbyte-integrations/connectors/source-commercetools/pyproject.toml
  docs/integrations/sources/commercetools.md
Labels: area/documentation, area/connectors, connectors/source/commercetools, autopull, auto-merge

#38993 source-surveycto: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-surveycto/metadata.yaml
  airbyte-integrations/connectors/source-surveycto/pyproject.toml
  docs/integrations/sources/surveycto.md
Labels: area/documentation, area/connectors, connectors/source/surveycto, autopull, auto-merge

#38992 source-rocket-chat: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-rocket-chat/metadata.yaml
  airbyte-integrations/connectors/source-rocket-chat/pyproject.toml
  docs/integrations/sources/rocket-chat.md
Labels: area/documentation, area/connectors, connectors/source/rocket-chat, autopull, auto-merge

#38989 source-activecampaign: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-activecampaign/metadata.yaml
  airbyte-integrations/connectors/source-activecampaign/pyproject.toml
  docs/integrations/sources/activecampaign.md
Labels: area/documentation, area/connectors, connectors/source/activecampaign, autopull, auto-merge

#38988 source-amplitude: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-amplitude/metadata.yaml
  airbyte-integrations/connectors/source-amplitude/pyproject.toml
  docs/integrations/sources/amplitude.md
Labels: area/documentation, area/connectors, connectors/source/amplitude, autopull, auto-merge

#38985 source-toggl: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-toggl/metadata.yaml
  airbyte-integrations/connectors/source-toggl/pyproject.toml
  docs/integrations/sources/toggl.md
Labels: area/documentation, area/connectors, connectors/source/toggl, autopull, auto-merge

#38983 source-paypal-transaction: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-paypal-transaction/metadata.yaml
  airbyte-integrations/connectors/source-paypal-transaction/pyproject.toml
  docs/integrations/sources/paypal-transaction.md
Labels: area/documentation, area/connectors, connectors/source/paypal-transaction, autopull, auto-merge

#38982 source-visma-economic: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-visma-economic/metadata.yaml
  airbyte-integrations/connectors/source-visma-economic/pyproject.toml
  docs/integrations/sources/visma-economic.md
Labels: area/documentation, area/connectors, connectors/source/visma-economic, autopull, auto-merge

#38981 source-hubspot: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/pyproject.toml
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot, autopull, auto-merge

#38980 source-customer-io: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-customer-io/metadata.yaml
  airbyte-integrations/connectors/source-customer-io/pyproject.toml
  docs/integrations/sources/customer-io.md
Labels: area/documentation, area/connectors, connectors/source/customer-io, autopull, auto-merge

#38979 source-gainsight-px: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-gainsight-px/metadata.yaml
  airbyte-integrations/connectors/source-gainsight-px/pyproject.toml
  docs/integrations/sources/gainsight-px.md
Labels: area/documentation, area/connectors, connectors/source/gainsight-px, autopull, auto-merge

#38976 source-spacex-api: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-spacex-api/metadata.yaml
  airbyte-integrations/connectors/source-spacex-api/pyproject.toml
  docs/integrations/sources/spacex-api.md
Labels: area/documentation, area/connectors, connectors/source/spacex-api, autopull, auto-merge

#38975 destination-sqlite: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/destination-sqlite/metadata.yaml
  airbyte-integrations/connectors/destination-sqlite/pyproject.toml
  docs/integrations/destinations/sqlite.md
Labels: area/documentation, area/connectors, connectors/destination/sqlite, autopull, auto-merge

#38974 source-plausible: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-plausible/metadata.yaml
  airbyte-integrations/connectors/source-plausible/pyproject.toml
  docs/integrations/sources/plausible.md
Labels: area/documentation, area/connectors, connectors/source/plausible, autopull, auto-merge

#38972 source-outreach: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-outreach/metadata.yaml
  airbyte-integrations/connectors/source-outreach/pyproject.toml
  docs/integrations/sources/outreach.md
Labels: area/documentation, area/connectors, connectors/source/outreach, autopull, auto-merge

#38971 source-coingecko-coins: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-coingecko-coins/metadata.yaml
  airbyte-integrations/connectors/source-coingecko-coins/pyproject.toml
  docs/integrations/sources/coingecko-coins.md
Labels: area/documentation, area/connectors, autopull, auto-merge, connectors/source/coingecko-coins

#38970 source-shortio: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-shortio/metadata.yaml
  airbyte-integrations/connectors/source-shortio/pyproject.toml
  docs/integrations/sources/shortio.md
Labels: area/documentation, area/connectors, connectors/source/shortio, autopull, auto-merge

#38969 source-amazon-seller-partner: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/pyproject.toml
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation, area/connectors, connectors/source/amazon-seller-partner, autopull, auto-merge

#38968 source-azure-table: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-azure-table/metadata.yaml
  airbyte-integrations/connectors/source-azure-table/pyproject.toml
  docs/integrations/sources/azure-table.md
Labels: area/documentation, area/connectors, connectors/source/azure-table, autopull, auto-merge

#38967 source-apple-search-ads: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-apple-search-ads/metadata.yaml
  airbyte-integrations/connectors/source-apple-search-ads/pyproject.toml
  docs/integrations/sources/apple-search-ads.md
Labels: area/documentation, area/connectors, connectors/source/apple-search-ads, autopull, auto-merge

#38955 destination-snowflake-cortex: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/destination-snowflake-cortex/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake-cortex/pyproject.toml
  docs/integrations/destinations/snowflake-cortex.md
Labels: area/documentation, area/connectors, autopull, connectors/destination/snowflake-cortex, auto-merge

#38938 source-alpha-vantage: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-alpha-vantage/metadata.yaml
  airbyte-integrations/connectors/source-alpha-vantage/pyproject.toml
  docs/integrations/sources/alpha-vantage.md
Labels: area/documentation, area/connectors, connectors/source/alpha-vantage, autopull, auto-merge

#38937 source-ringcentral: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-ringcentral/metadata.yaml
  airbyte-integrations/connectors/source-ringcentral/pyproject.toml
  docs/integrations/sources/ringcentral.md
Labels: area/documentation, area/connectors, connectors/source/ringcentral, autopull, auto-merge

#38936 source-todoist: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-todoist/metadata.yaml
  airbyte-integrations/connectors/source-todoist/pyproject.toml
  docs/integrations/sources/todoist.md
Labels: area/documentation, area/connectors, connectors/source/todoist, autopull, auto-merge

#38935 source-klaviyo: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-klaviyo/metadata.yaml
  airbyte-integrations/connectors/source-klaviyo/pyproject.toml
  docs/integrations/sources/klaviyo.md
Labels: area/documentation, area/connectors, connectors/source/klaviyo, autopull, auto-merge

#38934 source-google-analytics-v4: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-google-analytics-v4/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-v4/pyproject.toml
  docs/integrations/sources/google-analytics-v4.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-v4, autopull, auto-merge

#39045 source-klarna: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-klarna/metadata.yaml
  airbyte-integrations/connectors/source-klarna/pyproject.toml
  docs/integrations/sources/klarna.md
Labels: area/documentation, area/connectors, connectors/source/klarna, autopull, auto-merge

#39035 source-opsgenie: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-opsgenie/metadata.yaml
  airbyte-integrations/connectors/source-opsgenie/pyproject.toml
  docs/integrations/sources/opsgenie.md
Labels: area/documentation, area/connectors, connectors/source/opsgenie, autopull, auto-merge

#39037 source-pinterest: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  airbyte-integrations/connectors/source-pinterest/pyproject.toml
  docs/integrations/sources/pinterest.md
Labels: area/documentation, area/connectors, connectors/source/pinterest, autopull, auto-merge

#39036 source-zendesk-talk: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-zendesk-talk/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-talk/pyproject.toml
  docs/integrations/sources/zendesk-talk.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-talk, autopull, auto-merge

#39085 source-rss: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-rss/metadata.yaml
  airbyte-integrations/connectors/source-rss/pyproject.toml
  docs/integrations/sources/rss.md
Labels: area/documentation, area/connectors, connectors/source/rss, autopull, auto-merge

#39083 destination-convex: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/destination-convex/metadata.yaml
  airbyte-integrations/connectors/destination-convex/pyproject.toml
  docs/integrations/destinations/convex.md
Labels: area/documentation, area/connectors, connectors/destination/convex, autopull, auto-merge

#39082 source-lever-hiring: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-lever-hiring/metadata.yaml
  airbyte-integrations/connectors/source-lever-hiring/pyproject.toml
  docs/integrations/sources/lever-hiring.md
Labels: area/documentation, area/connectors, connectors/source/lever-hiring, autopull, auto-merge

#39047 source-delighted: [autopull] Upgrade base image to v1.2.1
  airbyte-integrations/connectors/source-delighted/metadata.yaml
  airbyte-integrations/connectors/source-delighted/pyproject.toml
  docs/integrations/sources/delighted.md
Labels: area/documentation, area/connectors, connectors/source/delighted, autopull, auto-merge

#38869 feat(low-code): add new format float_s
  airbyte-cdk/python/airbyte_cdk/sources/declarative/datetime/datetime_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/unit_tests/sources/declarative/datetime/test_datetime_parser.py
Labels: CDK

#38181 [destination-astra] Explicit projection when reading from Astra DB
  airbyte-integrations/connectors/destination-astra/destination_astra/astra_client.py
  airbyte-integrations/connectors/destination-astra/metadata.yaml
  airbyte-integrations/connectors/destination-astra/poetry.lock
  airbyte-integrations/connectors/destination-astra/pyproject.toml
  docs/integrations/destinations/astra.md
Labels: area/documentation, area/connectors, community, connectors/destination/astra

#38933 Move cancel and get_results to HttpClient
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/job.py
Labels: area/connectors, connectors/source/shopify

#38685 Issue 7935/integrate httpclient to bulk job creation and status update
  airbyte-integrations/connectors/source-shopify/source_shopify/http_request.py
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/exceptions.py
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/job.py
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/retry.py
  airbyte-integrations/connectors/source-shopify/source_shopify/streams/base_streams.py
  airbyte-integrations/connectors/source-shopify/unit_tests/conftest.py
  airbyte-integrations/connectors/source-shopify/unit_tests/graphql_bulk/test_job.py
  airbyte-integrations/connectors/source-shopify/unit_tests/integration/api/bulk.py
  airbyte-integrations/connectors/source-shopify/unit_tests/integration/test_bulk_stream.py
Labels: area/connectors, connectors/source/shopify

#38678 Issue 7935/integrate httpclient to access scopes
  airbyte-integrations/connectors/source-shopify/poetry.lock
  airbyte-integrations/connectors/source-shopify/pyproject.toml
  airbyte-integrations/connectors/source-shopify/source_shopify/http_request.py
  airbyte-integrations/connectors/source-shopify/source_shopify/scopes.py
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/exceptions.py
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/job.py
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/retry.py
  airbyte-integrations/connectors/source-shopify/source_shopify/streams/base_streams.py
  airbyte-integrations/connectors/source-shopify/source_shopify/utils.py
  airbyte-integrations/connectors/source-shopify/unit_tests/conftest.py
  airbyte-integrations/connectors/source-shopify/unit_tests/graphql_bulk/test_job.py
  airbyte-integrations/connectors/source-shopify/unit_tests/integration/api/bulk.py
  airbyte-integrations/connectors/source-shopify/unit_tests/integration/test_bulk_stream.py
Labels: area/connectors, connectors/source/shopify

#38329 Destination Yellowbrick: update CDK and simplify casting
  airbyte-integrations/connectors/destination-yellowbrick/build.gradle
  airbyte-integrations/connectors/destination-yellowbrick/metadata.yaml
  airbyte-integrations/connectors/destination-yellowbrick/src/main/java/io/airbyte/integrations/destination/yellowbrick/YellowbrickDestination.java
  airbyte-integrations/connectors/destination-yellowbrick/src/main/java/io/airbyte/integrations/destination/yellowbrick/YellowbrickSqlOperations.java
  airbyte-integrations/connectors/destination-yellowbrick/src/main/java/io/airbyte/integrations/destination/yellowbrick/typing_deduping/YellowbrickSqlGenerator.java
  airbyte-integrations/connectors/destination-yellowbrick/src/test-integration/java/io/airbyte/integrations/destination/yellowbrick/YellowbrickDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-yellowbrick/src/test-integration/java/io/airbyte/integrations/destination/yellowbrick/YellowbrickInsertDestinationAcceptanceTest.java
  docs/integrations/destinations/yellowbrick.md
Labels: area/documentation, area/connectors, community, connectors/destination/yellowbrick

#39121 fix(source-slack): change cursor format for `channel_messages` stream to `%s_as_float`
  airbyte-integrations/connectors/source-slack/metadata.yaml
  airbyte-integrations/connectors/source-slack/poetry.lock
  airbyte-integrations/connectors/source-slack/pyproject.toml
  airbyte-integrations/connectors/source-slack/source_slack/components/join_channels.py
  airbyte-integrations/connectors/source-slack/source_slack/manifest.yaml
  airbyte-integrations/connectors/source-slack/unit_tests/test_components.py
  docs/integrations/sources/slack.md
Labels: area/documentation, area/connectors, connectors/source/slack

#39106 Destination CDK: Skip flush of zero byte records.
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/staging/operation/StagingStreamOperations.kt
Labels: CDK, connectors/destination/snowflake

#38468 source-qonto: Turn API key into a required secret
  airbyte-integrations/connectors/source-qonto/metadata.yaml
  airbyte-integrations/connectors/source-qonto/poetry.lock
  airbyte-integrations/connectors/source-qonto/pyproject.toml
  airbyte-integrations/connectors/source-qonto/source_qonto/manifest.yaml
  docs/integrations/sources/qonto.md
Labels: area/documentation, area/connectors, community, connectors/source/qonto

#38875 source-postgres: read() throws config exception upon xmin wraparound
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres
