Repository airbytehq/airbyte, pull requests merged in 2024-10, with the labels that each got.

#46095 🐛 Source Shopify: fix `duplicates` for `Product Images`, `Metafield Product Images` and `Metafield Products` streams for Incremental syncs
  airbyte-integrations/connectors/source-shopify/acceptance-test-config.yml
  airbyte-integrations/connectors/source-shopify/metadata.yaml
  airbyte-integrations/connectors/source-shopify/pyproject.toml
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/query.py
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/tools.py
  airbyte-integrations/connectors/source-shopify/source_shopify/streams/base_streams.py
  airbyte-integrations/connectors/source-shopify/source_shopify/streams/streams.py
  airbyte-integrations/connectors/source-shopify/unit_tests/conftest.py
  airbyte-integrations/connectors/source-shopify/unit_tests/graphql_bulk/test_query.py
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors, connectors/source/shopify

#45673 feat(airbyte-cdk) - Async job salesforce
  airbyte-cdk/python/airbyte_cdk/sources/declarative/async_job/job.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/async_job/job_orchestrator.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/async_job/job_tracker.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/async_job/repository.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/decoders/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/decoders/noop_decoder.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/models/declarative_component_schema.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/model_to_component_factory.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/http_job_repository.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/requester.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/adapters.py
  airbyte-cdk/python/airbyte_cdk/sources/types.py
  airbyte-cdk/python/airbyte_cdk/test/mock_http/mocker.py
  airbyte-cdk/python/pyproject.toml
  airbyte-cdk/python/unit_tests/sources/declarative/async_job/test_integration.py
  airbyte-cdk/python/unit_tests/sources/declarative/async_job/test_job_orchestrator.py
  airbyte-cdk/python/unit_tests/sources/declarative/async_job/test_job_tracker.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/test_http_job_repository.py
Labels: CDK

#46285 fix dependencies
  airbyte-cdk/python/poetry.lock
Labels: CDK

#45929 Bulk CDK: Enable setting deployment mode in integration tests; update destinations check test appropriately
  airbyte-cdk/bulk/core/base/src/main/kotlin/io/airbyte/cdk/AirbyteConnectorRunner.kt
  airbyte-cdk/bulk/core/base/src/testFixtures/kotlin/io/airbyte/cdk/command/CliRunner.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/test/check/CheckIntegrationTest.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/test/util/DestinationProcess.kt
  airbyte-integrations/connectors/destination-dev-null/metadata.yaml
  airbyte-integrations/connectors/destination-dev-null/src/main/kotlin/io/airbyte/integrations/destination/dev_null/DevNullChecker.kt
  airbyte-integrations/connectors/destination-dev-null/src/test-integration/kotlin/io/airbyte/integrations/destination/dev_null/DevNullCheckIntegrationTest.kt
  docs/integrations/destinations/dev-null.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/dev-null

#45951 fix(docs): remove missing secret values in values for database
  docs/deploying-airbyte/integrations/database.md
Labels: area/documentation

#45718 fix(concurrent-cdk): follow-up #44946 update state to state_manager state in convert to concurrent stream
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/concurrent_source_adapter.py
  airbyte-cdk/python/unit_tests/sources/concurrent_source/test_concurrent_source_adapter.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/scenarios/stream_facade_builder.py
Labels: CDK

#45930 Destination dev null: reenable legacy DATs
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/message/DestinationMessage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/message/MessageConverter.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/standardtest/destination/DestinationAcceptanceTest.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/resources/v0/data_type_array_object_test_messages.txt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/resources/v0/data_type_array_test_messages.txt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/resources/v0/data_type_basic_test_messages.txt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/resources/v0/data_type_object_test_messages.txt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/resources/v0/edge_case_messages.txt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/resources/v0/every_time_type_messages.txt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/resources/v0/exchange_rate_messages.txt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/resources/v0/namespace_messages.txt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/resources/v0/number_data_type_array_test_messages.txt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/resources/v0/number_data_type_test_messages.txt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/resources/v0/problematic_types_messages_in.txt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/resources/v0/users_with_generation_id_messages.txt
  airbyte-integrations/connectors/destination-dev-null/build.gradle
  airbyte-integrations/connectors/destination-dev-null/src/test-integration/kotlin/io/airbyte/integrations/destination/dev_null/CloudDevNullDestinationAcceptanceTest.kt
  airbyte-integrations/connectors/destination-dev-null/src/test-integration/kotlin/io/airbyte/integrations/destination/dev_null/TestingSilentDestinationAcceptanceTest.kt
Labels: area/connectors, CDK, connectors/destination/dev-null

#46269 feat(concurrent-cdk): replace availability strategy to always available
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/adapters.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/availability_strategy.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/scenarios/thread_based_concurrent_stream_scenarios.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/scenarios/thread_based_concurrent_stream_source_builder.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_adapters.py
Labels: CDK

#46287 source-easypost contribution from btkcodedev
  airbyte-integrations/connectors/source-easypost/README.md
  airbyte-integrations/connectors/source-easypost/acceptance-test-config.yml
  airbyte-integrations/connectors/source-easypost/icon.svg
  airbyte-integrations/connectors/source-easypost/manifest.yaml
  airbyte-integrations/connectors/source-easypost/metadata.yaml
  docs/integrations/sources/easypost.md
Labels: area/documentation, area/connectors, connectors/source/easypost

#46296 docs: add the azure docs to the enterprise implementation guide.
  docs/deploying-airbyte/integrations/secrets.md
  docs/enterprise-setup/implementation-guide.md
Labels: area/documentation

#46297 ci(source-s3): fix skipped unit tests in CI
  airbyte-integrations/connectors/source-s3/metadata.yaml
Labels: area/connectors, connectors/source/s3

#45712 feat(concurrent-cdk): add cursor partition generator
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/adapters.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/cursor.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_adapters.py
Labels: CDK

#46286 feat(airbyte-cdk) Async jobs - Limit memory usage
  airbyte-cdk/python/airbyte_cdk/sources/declarative/extractors/response_to_file_extractor.py
  airbyte-cdk/python/unit_tests/conftest.py
  airbyte-cdk/python/unit_tests/sources/declarative/decoders/test_json_decoder.py
  airbyte-cdk/python/unit_tests/sources/declarative/extractors/test_response_to_file_extractor.py
Labels: CDK

#45887 bulk-cdk-toolkits-extract-cdc,source-mysql-v2: flesh out CDC
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/read/Resource.kt
  airbyte-cdk/bulk/toolkits/extract-cdc/build.gradle
  airbyte-cdk/bulk/toolkits/extract-cdc/src/main/kotlin/io.airbyte.cdk/read/AirbyteFileOffsetBackingStore.kt
  airbyte-cdk/bulk/toolkits/extract-cdc/src/main/kotlin/io.airbyte.cdk/read/AirbyteSchemaHistoryStorage.kt
  airbyte-cdk/bulk/toolkits/extract-cdc/src/main/kotlin/io.airbyte.cdk/read/CdcContext.kt
  airbyte-cdk/bulk/toolkits/extract-cdc/src/main/kotlin/io.airbyte.cdk/read/CdcPartitionCreator.kt
  airbyte-cdk/bulk/toolkits/extract-cdc/src/main/kotlin/io.airbyte.cdk/read/CdcPartitionReader.kt
  airbyte-cdk/bulk/toolkits/extract-cdc/src/main/kotlin/io.airbyte.cdk/read/CdcPartitionsCreatorFactory.kt
  airbyte-cdk/bulk/toolkits/extract-cdc/src/main/kotlin/io.airbyte.cdk/read/CdcPositionMapper.kt
  airbyte-cdk/bulk/toolkits/extract-cdc/src/main/kotlin/io.airbyte.cdk/read/CdcSourceConfiguration.kt
  airbyte-cdk/bulk/toolkits/extract-cdc/src/main/kotlin/io.airbyte.cdk/read/DebeziumEventConverter.kt
  airbyte-cdk/bulk/toolkits/extract-cdc/src/main/kotlin/io.airbyte.cdk/read/DebeziumManager.kt
  airbyte-cdk/bulk/toolkits/extract-cdc/src/main/kotlin/io.airbyte.cdk/read/DebeziumRecord.kt
  airbyte-cdk/bulk/toolkits/extract-cdc/src/main/kotlin/io.airbyte.cdk/read/InitialCdcStateCreator.kt
  airbyte-cdk/bulk/toolkits/extract-cdc/src/main/kotlin/io/airbyte/cdk/command/CdcSourceConfiguration.kt
  airbyte-cdk/bulk/toolkits/extract-cdc/src/main/kotlin/io/airbyte/cdk/read/cdc/CdcGlobalLockResource.kt
  airbyte-cdk/bulk/toolkits/extract-cdc/src/main/kotlin/io/airbyte/cdk/read/cdc/CdcPartitionReader.kt
  airbyte-cdk/bulk/toolkits/extract-cdc/src/main/kotlin/io/airbyte/cdk/read/cdc/CdcPartitionsCreator.kt
  airbyte-cdk/bulk/toolkits/extract-cdc/src/main/kotlin/io/airbyte/cdk/read/cdc/CdcPartitionsCreatorFactory.kt
  airbyte-cdk/bulk/toolkits/extract-cdc/src/main/kotlin/io/airbyte/cdk/read/cdc/Debezium.kt
  airbyte-cdk/bulk/toolkits/extract-cdc/src/main/kotlin/io/airbyte/cdk/read/cdc/DebeziumOperations.kt
  airbyte-cdk/bulk/toolkits/extract-cdc/src/main/kotlin/io/airbyte/cdk/read/cdc/DebeziumPropertiesBuilder.kt
  airbyte-cdk/bulk/toolkits/extract-cdc/src/main/kotlin/io/airbyte/cdk/read/cdc/DebeziumStateFilesAccessor.kt
  airbyte-cdk/bulk/toolkits/extract-cdc/src/test/kotlin/io/airbyte/cdk/read/cdc/CdcPartitionReaderTest.kt
  airbyte-cdk/bulk/toolkits/extract-cdc/src/test/kotlin/io/airbyte/cdk/read/cdc/CdcPartitionsCreatorTest.kt
  airbyte-cdk/bulk/toolkits/extract-cdc/src/test/kotlin/io/airbyte/cdk/read/cdc/DebeziumPropertiesBuilderTest.kt
  airbyte-cdk/bulk/toolkits/extract-cdc/src/test/kotlin/io/airbyte/cdk/read/cdc/DebeziumStateFilesAccessorTest.kt
  airbyte-integrations/connectors/source-mysql-v2/build.gradle
  airbyte-integrations/connectors/source-mysql-v2/metadata.yaml
  airbyte-integrations/connectors/source-mysql-v2/src/main/kotlin/io/airbyte/integrations/source/mysql/MysqlSourceConfiguration.kt
  airbyte-integrations/connectors/source-mysql-v2/src/main/kotlin/io/airbyte/integrations/source/mysql/cdc/MySqlCdcPositionMapper.kt
  airbyte-integrations/connectors/source-mysql-v2/src/main/kotlin/io/airbyte/integrations/source/mysql/cdc/MySqlCdcState.kt
  airbyte-integrations/connectors/source-mysql-v2/src/main/kotlin/io/airbyte/integrations/source/mysql/cdc/MySqlDebeziumEventConverter.kt
  airbyte-integrations/connectors/source-mysql-v2/src/main/kotlin/io/airbyte/integrations/source/mysql/cdc/MySqlDebeziumManager.kt
  airbyte-integrations/connectors/source-mysql-v2/src/main/kotlin/io/airbyte/integrations/source/mysql/cdc/MySqlDebeziumOperations.kt
  airbyte-integrations/connectors/source-mysql-v2/src/main/kotlin/io/airbyte/integrations/source/mysql/cdc/MySqlDebeziumStateUtil.kt
  airbyte-integrations/connectors/source-mysql-v2/src/main/kotlin/io/airbyte/integrations/source/mysql/cdc/MySqlPosition.kt
Labels: area/connectors, CDK, connectors/source/mysql-v2

#46294 🐛 Source Chargebee: Update CDK version to `^5`; increased the `maxSecondsBetweenMessages`
  airbyte-integrations/connectors/source-chargebee/metadata.yaml
  airbyte-integrations/connectors/source-chargebee/poetry.lock
  airbyte-integrations/connectors/source-chargebee/pyproject.toml
  airbyte-integrations/connectors/source-chargebee/source_chargebee/components.py
  airbyte-integrations/connectors/source-chargebee/source_chargebee/manifest.yaml
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_addon.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_coupon.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_customer.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_event.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_hosted_page.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_plan.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_site_migration_detail.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_subscription.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_subscription_with_scheduled_changes.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_virtual_bank_account.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/test_component.py
  docs/integrations/sources/chargebee.md
Labels: area/documentation, area/connectors, connectors/source/chargebee

#45108 fix(source-google-sheets): fail the sync attempt when google responds with an api error
  airbyte-integrations/connectors/source-google-sheets/metadata.yaml
  airbyte-integrations/connectors/source-google-sheets/pyproject.toml
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/source.py
  airbyte-integrations/connectors/source-google-sheets/unit_tests/test_stream.py
  docs/integrations/sources/google-sheets.md
Labels: area/documentation, area/connectors, community, connectors/source/google-sheets

#46315 source-care-quality-commission contribution from pabloescoder
  airbyte-integrations/connectors/source-care-quality-commission/README.md
  airbyte-integrations/connectors/source-care-quality-commission/acceptance-test-config.yml
  airbyte-integrations/connectors/source-care-quality-commission/icon.svg
  airbyte-integrations/connectors/source-care-quality-commission/manifest.yaml
  airbyte-integrations/connectors/source-care-quality-commission/metadata.yaml
  docs/integrations/sources/care-quality-commission.md
Labels: area/documentation, area/connectors, connectors/source/care-quality-commission

#46299 [source-postgres] make postgres source compile and use the latest CDK
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/cdc/PostgresCdcProperties.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CloudDeploymentPostgresSourceTest.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres

#46322 [source-postgres] support cdc against a read-replica (continuation)
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/cdc/PostgresDebeziumStateUtil.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres, team/db-dw-sources

#46303 [airbyte-cdk] remove PrintBuffer due to issues when used by concurrent CDK
  airbyte-cdk/python/airbyte_cdk/entrypoint.py
Labels: CDK

#45678 ✨ Source Salesforce: Bulk stream uses async CDK components
  airbyte-integrations/connectors/source-salesforce/integration_tests/bulk_error_test.py
  airbyte-integrations/connectors/source-salesforce/integration_tests/integration_test.py
  airbyte-integrations/connectors/source-salesforce/integration_tests/state.json
  airbyte-integrations/connectors/source-salesforce/integration_tests/state_migration.py
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/poetry.lock
  airbyte-integrations/connectors/source-salesforce/pyproject.toml
  airbyte-integrations/connectors/source-salesforce/source_salesforce/api.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/rate_limiting.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/run.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/source.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/streams.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/api_test.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/conftest.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/integration/test_bulk_stream.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/integration/test_rest_stream.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/integration/test_source.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/integration/utils.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/test_memory.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/test_rate_limiting.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/test_slice_generation.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors, connectors/source/salesforce

#46323 ✨ feat(Source sftp-bulk): upgrade to CDK 5
  airbyte-integrations/connectors/source-sftp-bulk/integration_tests/integration_test.py
  airbyte-integrations/connectors/source-sftp-bulk/metadata.yaml
  airbyte-integrations/connectors/source-sftp-bulk/poetry.lock
  airbyte-integrations/connectors/source-sftp-bulk/pyproject.toml
  docs/integrations/sources/sftp-bulk.md
Labels: area/documentation, area/connectors, connectors/source/sftp-bulk

#46336 bulk-cdk: fix test-logs location
  airbyte-cdk/bulk/core/base/src/testFixtures/resources/log4j2-test.xml
Labels: CDK

#46335 bulk-cdk-toolkit-extract-cdc: use Debezium 3.0.0.Final
  airbyte-cdk/bulk/toolkits/extract-cdc/build.gradle
Labels: CDK

#46341 bulk-cdk-toolkit-extract-cdc,source-mysql-v2: speed up Debezium tests with mysql
  airbyte-cdk/bulk/toolkits/extract-cdc/src/test/kotlin/io/airbyte/cdk/read/cdc/CdcPartitionReaderTest.kt
  airbyte-integrations/connectors/source-mysql-v2/metadata.yaml
  airbyte-integrations/connectors/source-mysql-v2/src/main/kotlin/io/airbyte/integrations/source/mysql/MysqlSourceConfiguration.kt
  airbyte-integrations/connectors/source-mysql-v2/src/main/kotlin/io/airbyte/integrations/source/mysql/cdc/MySqlDebeziumOperations.kt
  airbyte-integrations/connectors/source-mysql-v2/src/test/kotlin/io/airbyte/integrations/source/mysql/MysqlSourceTestConfigurationFactory.kt
Labels: area/connectors, CDK, connectors/source/mysql-v2

#46320 docs: 1.1.0 release noes
  docs/release_notes/assets/new-schema-tab.png
  docs/release_notes/v-1.1.md
  docusaurus/sidebars.js
Labels: area/documentation

#46345 source-mysql-v2: rename MysqlSourceConfigurationJsonObject to MysqlSourceConfigurationSpecification
  airbyte-integrations/connectors/source-mysql-v2/metadata.yaml
  airbyte-integrations/connectors/source-mysql-v2/src/main/kotlin/io/airbyte/integrations/source/mysql/MysqlSourceConfiguration.kt
  airbyte-integrations/connectors/source-mysql-v2/src/main/kotlin/io/airbyte/integrations/source/mysql/MysqlSourceConfigurationSpecification.kt
  airbyte-integrations/connectors/source-mysql-v2/src/test/kotlin/io/airbyte/integrations/source/mysql/MysqlCdcIntegrationTest.kt
  airbyte-integrations/connectors/source-mysql-v2/src/test/kotlin/io/airbyte/integrations/source/mysql/MysqlContainerFactory.kt
  airbyte-integrations/connectors/source-mysql-v2/src/test/kotlin/io/airbyte/integrations/source/mysql/MysqlSourceConfigurationSpecificationTest.kt
  airbyte-integrations/connectors/source-mysql-v2/src/test/kotlin/io/airbyte/integrations/source/mysql/MysqlSourceConfigurationTest.kt
  airbyte-integrations/connectors/source-mysql-v2/src/test/kotlin/io/airbyte/integrations/source/mysql/MysqlSourceDatatypeIntegrationTest.kt
  airbyte-integrations/connectors/source-mysql-v2/src/test/kotlin/io/airbyte/integrations/source/mysql/MysqlSourceTestConfigurationFactory.kt
Labels: area/connectors, connectors/source/mysql-v2

#46300 Bulk load cdk: Update spec test to run against cloud+oss modes
  .prettierignore
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/test/spec/SpecTest.kt
  airbyte-integrations/connectors/destination-dev-null/src/test-integration/kotlin/io/airbyte/integrations/destination/dev_null/DevNullBasicFunctionalityIntegrationTest.kt
  airbyte-integrations/connectors/destination-dev-null/src/test-integration/kotlin/io/airbyte/integrations/destination/dev_null/DevNullSpecTest.kt
  airbyte-integrations/connectors/destination-dev-null/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-dev-null/src/test-integration/resources/expected-spec-oss.json
Labels: area/connectors, CDK, connectors/destination/dev-null

#46316 Bulk Load CDK: Exception Handling for TaskLauncher
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/message/MessageQueueWriter.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/state/StreamManager.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/state/SyncManager.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/task/CloseStreamTask.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/task/DestinationTaskLauncher.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/task/FailStreamTask.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/task/FailSyncTask.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/task/OpenStreamTask.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/task/ProcessBatchTask.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/task/ProcessRecordsTask.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/task/SpillToDiskTask.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/task/TaskRunner.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/task/TeardownTask.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/write/DestinationWriter.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/write/StreamLoader.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/write/WriteOperation.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/message/DestinationMessageQueueWriterTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/state/CheckpointManagerTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/state/MockSyncManager.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/state/StreamManagerTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/state/SyncManagerTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/task/DestinationTaskLauncherExceptionHandlerTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/task/DestinationTaskLauncherTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/task/MockTaskLauncher.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/task/ProcessRecordsTaskTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/task/SpillToDiskTaskTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/test/util/CoroutineTestUtils.kt
Labels: CDK

#46357 Revert async component release release
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
Labels: area/connectors, connectors/source/salesforce

#46318 Bulk Load CDK: Add a dedicated flush checkpoints task
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/message/Batch.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/state/CheckpointManager.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/state/StreamManager.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/task/DestinationTaskLauncher.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/task/FlushCheckpointsTask.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/task/DestinationTaskLauncherTest.kt
Labels: CDK

#46321 Bulk Load CDK: Restore CheckpointManager Test
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/message/DestinationMessageQueueWriterTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/state/CheckpointManagerTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/state/StreamManagerTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/task/DestinationTaskLauncherTest.kt
Labels: CDK

#45634 Bulk Load CDK: Add integration test using in-memory mock destination
  .github/workflows/publish-bulk-cdk.yml
  airbyte-cdk/bulk/build.gradle
  airbyte-cdk/bulk/core/load/build.gradle
  airbyte-cdk/bulk/core/load/src/integrationTest/kotlin/io/airbyte/cdk/mock_integration_test/MockBasicFunctionalityIntegrationTest.kt
  airbyte-cdk/bulk/core/load/src/integrationTest/kotlin/io/airbyte/cdk/mock_integration_test/MockDestinationBackend.kt
  airbyte-cdk/bulk/core/load/src/integrationTest/kotlin/io/airbyte/cdk/mock_integration_test/MockDestinationChecker.kt
  airbyte-cdk/bulk/core/load/src/integrationTest/kotlin/io/airbyte/cdk/mock_integration_test/MockDestinationConfiguration.kt
  airbyte-cdk/bulk/core/load/src/integrationTest/kotlin/io/airbyte/cdk/mock_integration_test/MockDestinationWriter.kt
  airbyte-cdk/bulk/core/load/src/integrationTest/resources/metadata.yaml
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/test/util/RecordDifferTest.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/test/util/OutputRecord.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/test/write/BasicFunctionalityIntegrationTest.kt
Labels: CDK, connectors/destination/dev-null

#46327 [source-stripe] 🐛 bump cdk to 5.10.2 to stop using PrintBuffer due to record count mismatches
  airbyte-integrations/connectors/source-stripe/acceptance-test-config.yml
  airbyte-integrations/connectors/source-stripe/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/poetry.lock
  airbyte-integrations/connectors/source-stripe/pyproject.toml
  docs/integrations/sources/stripe-migrations.md
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, connectors/source/stripe

#46293 source-simplesat contribution from aazam-gh
  airbyte-integrations/connectors/source-simplesat/README.md
  airbyte-integrations/connectors/source-simplesat/acceptance-test-config.yml
  airbyte-integrations/connectors/source-simplesat/icon.svg
  airbyte-integrations/connectors/source-simplesat/manifest.yaml
  airbyte-integrations/connectors/source-simplesat/metadata.yaml
  docs/integrations/sources/simplesat.md
Labels: area/documentation, area/connectors, community, connectors/source/simplesat, hack-2024-10

#46369 Bulk Load CDK: Preparatory Refactor for adding Force Flush
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/message/MessageQueueReader.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/state/FlushStrategy.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/task/SpillToDiskTask.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/util/CoroutineUtils.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/util/RangeUtils.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/task/SpillToDiskTaskTest.kt
Labels: CDK

#46362 Bulk load cdk: split the destination process stuff into multiple files in their own package
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/test/check/CheckIntegrationTest.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/test/spec/SpecTest.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/test/util/DestinationProcess.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/test/util/IntegrationTest.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/test/util/destination_process/DestinationProcess.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/test/util/destination_process/DockerizedDestination.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/test/util/destination_process/NonDockerizedDestination.kt
  airbyte-integrations/connectors/destination-dev-null/src/test-integration/kotlin/io/airbyte/integrations/destination/dev_null/DevNullCheckIntegrationTest.kt
Labels: area/connectors, CDK, connectors/destination/dev-null

#46314 bulk-cdk-core-extract: fix TRACE STATUS message emission
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/read/Feed.kt
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/read/FeedReader.kt
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/read/RootReader.kt
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/read/StreamStatusManager.kt
  airbyte-cdk/bulk/core/extract/src/test/kotlin/io/airbyte/cdk/read/RootReaderIntegrationTest.kt
  airbyte-cdk/bulk/core/extract/src/test/kotlin/io/airbyte/cdk/read/StreamStatusManagerTest.kt
Labels: CDK

#46382 Bulk Load CDK: Checkpoint flush every 15 minutes
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/command/DestinationConfiguration.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/file/TimeProvider.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/state/CheckpointManager.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/state/EventConsumer.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/state/EventProducer.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/state/FlushStrategy.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/task/DestinationTaskLauncher.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/task/TimedForcedCheckpointFlushTask.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/command/MockDestinationConfiguration.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/file/MockTimeProvider.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/message/DestinationMessageQueueWriterTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/state/CheckpointManagerTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/state/DefaultFlushStrategyTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/state/MockCheckpointManager.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/state/SyncManagerUtils.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/task/DestinationTaskLauncherTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/task/MockTaskLauncher.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/task/SpillToDiskTaskTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/task/TimedForcedCheckpointFlushTaskTest.kt
Labels: CDK

#46292 source-simplecast contribution from parthiv11
  airbyte-integrations/connectors/source-simplecast/README.md
  airbyte-integrations/connectors/source-simplecast/acceptance-test-config.yml
  airbyte-integrations/connectors/source-simplecast/icon.svg
  airbyte-integrations/connectors/source-simplecast/manifest.yaml
  airbyte-integrations/connectors/source-simplecast/metadata.yaml
  docs/integrations/sources/simplecast.md
Labels: area/documentation, area/connectors, community, connectors/source/simplecast, hack-2024-10

#46288 ✨ Source Apple Search Ads : Migrate to Manifest-only
  airbyte-integrations/connectors/source-apple-search-ads/README.md
  airbyte-integrations/connectors/source-apple-search-ads/__init__.py
  airbyte-integrations/connectors/source-apple-search-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-apple-search-ads/main.py
  airbyte-integrations/connectors/source-apple-search-ads/manifest.yaml
  airbyte-integrations/connectors/source-apple-search-ads/metadata.yaml
  airbyte-integrations/connectors/source-apple-search-ads/poetry.lock
  airbyte-integrations/connectors/source-apple-search-ads/pyproject.toml
  airbyte-integrations/connectors/source-apple-search-ads/source_apple_search_ads/__init__.py
  airbyte-integrations/connectors/source-apple-search-ads/source_apple_search_ads/manifest.yaml
  airbyte-integrations/connectors/source-apple-search-ads/source_apple_search_ads/run.py
  airbyte-integrations/connectors/source-apple-search-ads/source_apple_search_ads/schemas/adgroups.json
  airbyte-integrations/connectors/source-apple-search-ads/source_apple_search_ads/schemas/adgroups_report_daily.json
  airbyte-integrations/connectors/source-apple-search-ads/source_apple_search_ads/schemas/campaigns.json
  airbyte-integrations/connectors/source-apple-search-ads/source_apple_search_ads/schemas/campaigns_report_daily.json
  airbyte-integrations/connectors/source-apple-search-ads/source_apple_search_ads/schemas/keywords.json
  airbyte-integrations/connectors/source-apple-search-ads/source_apple_search_ads/schemas/keywords_report_daily.json
  airbyte-integrations/connectors/source-apple-search-ads/source_apple_search_ads/source.py
  airbyte-integrations/connectors/source-apple-search-ads/source_apple_search_ads/spec.yaml
  docs/integrations/sources/apple-search-ads.md
Labels: area/documentation, area/connectors, connectors/source/apple-search-ads

#46248 Source Chameleon: Fix survey_responses schema and resize icon to 250x250
  airbyte-integrations/connectors/source-chameleon/icon.svg
  airbyte-integrations/connectors/source-chameleon/manifest.yaml
  airbyte-integrations/connectors/source-chameleon/metadata.yaml
  docs/integrations/sources/chameleon.md
Labels: area/documentation, area/connectors, connectors/source/chameleon

#46372 Source Onesignal: Migrate to manifest-only
  airbyte-integrations/connectors/source-onesignal/README.md
  airbyte-integrations/connectors/source-onesignal/__init__.py
  airbyte-integrations/connectors/source-onesignal/acceptance-test-config.yml
  airbyte-integrations/connectors/source-onesignal/main.py
  airbyte-integrations/connectors/source-onesignal/manifest.yaml
  airbyte-integrations/connectors/source-onesignal/metadata.yaml
  airbyte-integrations/connectors/source-onesignal/poetry.lock
  airbyte-integrations/connectors/source-onesignal/pyproject.toml
  airbyte-integrations/connectors/source-onesignal/source_onesignal/__init__.py
  airbyte-integrations/connectors/source-onesignal/source_onesignal/manifest.yaml
  airbyte-integrations/connectors/source-onesignal/source_onesignal/run.py
  airbyte-integrations/connectors/source-onesignal/source_onesignal/schemas/apps.json
  airbyte-integrations/connectors/source-onesignal/source_onesignal/schemas/devices.json
  airbyte-integrations/connectors/source-onesignal/source_onesignal/schemas/notifications.json
  airbyte-integrations/connectors/source-onesignal/source_onesignal/schemas/outcomes.json
  airbyte-integrations/connectors/source-onesignal/source_onesignal/source.py
  airbyte-integrations/connectors/source-onesignal/source_onesignal/spec.yaml
  docs/integrations/sources/onesignal.md
Labels: area/documentation, area/connectors, connectors/source/onesignal

#46387 ✨ Source Datadog : Migrate to Manifest-only
  airbyte-integrations/connectors/source-datadog/README.md
  airbyte-integrations/connectors/source-datadog/__init__.py
  airbyte-integrations/connectors/source-datadog/acceptance-test-config.yml
  airbyte-integrations/connectors/source-datadog/main.py
  airbyte-integrations/connectors/source-datadog/manifest.yaml
  airbyte-integrations/connectors/source-datadog/metadata.yaml
  airbyte-integrations/connectors/source-datadog/poetry.lock
  airbyte-integrations/connectors/source-datadog/pyproject.toml
  airbyte-integrations/connectors/source-datadog/source_datadog/__init__.py
  airbyte-integrations/connectors/source-datadog/source_datadog/run.py
  airbyte-integrations/connectors/source-datadog/source_datadog/source.py
  docs/integrations/sources/datadog.md
Labels: area/documentation, area/connectors, connectors/source/datadog

#46386 Bulk Load CDK Stream Incomplete Prep Refactor: Memory manager provide…
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/message/DestinationMessageQueue.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/state/MemoryManager.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/util/CoroutineUtils.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/state/MemoryManagerTest.kt
  spotbugs-exclude-filter-file.xml
Labels: CDK

#46510 🐙 source-recharge: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-recharge/metadata.yaml
  airbyte-integrations/connectors/source-recharge/poetry.lock
  airbyte-integrations/connectors/source-recharge/pyproject.toml
  docs/integrations/sources/recharge.md
Labels: area/documentation, area/connectors, connectors/source/recharge, auto-merge, up-to-date

#46509 🐙 source-postmarkapp: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-postmarkapp/metadata.yaml
  airbyte-integrations/connectors/source-postmarkapp/poetry.lock
  airbyte-integrations/connectors/source-postmarkapp/pyproject.toml
  docs/integrations/sources/postmarkapp.md
Labels: area/documentation, area/connectors, connectors/source/postmarkapp, auto-merge, up-to-date

#46508 🐙 source-tplcentral: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-tplcentral/metadata.yaml
  airbyte-integrations/connectors/source-tplcentral/poetry.lock
  airbyte-integrations/connectors/source-tplcentral/pyproject.toml
  docs/integrations/sources/tplcentral.md
Labels: area/documentation, area/connectors, connectors/source/tplcentral, auto-merge, up-to-date

#46507 🐙 source-trustpilot: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-trustpilot/metadata.yaml
  airbyte-integrations/connectors/source-trustpilot/poetry.lock
  airbyte-integrations/connectors/source-trustpilot/pyproject.toml
  docs/integrations/sources/trustpilot.md
Labels: area/documentation, area/connectors, connectors/source/trustpilot, auto-merge, up-to-date

#46506 🐙 source-greenhouse: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-greenhouse/metadata.yaml
  airbyte-integrations/connectors/source-greenhouse/poetry.lock
  airbyte-integrations/connectors/source-greenhouse/pyproject.toml
  docs/integrations/sources/greenhouse.md
Labels: area/documentation, area/connectors, connectors/source/greenhouse, auto-merge, up-to-date

#46505 🐙 source-fastbill: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-fastbill/metadata.yaml
  airbyte-integrations/connectors/source-fastbill/poetry.lock
  airbyte-integrations/connectors/source-fastbill/pyproject.toml
  docs/integrations/sources/fastbill.md
Labels: area/documentation, area/connectors, connectors/source/fastbill, auto-merge, up-to-date

#46504 🐙 source-bing-ads: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/poetry.lock
  airbyte-integrations/connectors/source-bing-ads/pyproject.toml
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors, connectors/source/bing-ads, auto-merge, up-to-date

#46503 🐙 source-klaviyo: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-klaviyo/metadata.yaml
  airbyte-integrations/connectors/source-klaviyo/poetry.lock
  airbyte-integrations/connectors/source-klaviyo/pyproject.toml
  docs/integrations/sources/klaviyo.md
Labels: area/documentation, area/connectors, connectors/source/klaviyo, auto-merge, up-to-date

#46501 🐙 source-asana: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-asana/metadata.yaml
  airbyte-integrations/connectors/source-asana/poetry.lock
  airbyte-integrations/connectors/source-asana/pyproject.toml
  docs/integrations/sources/asana.md
Labels: area/documentation, area/connectors, connectors/source/asana, auto-merge, up-to-date

#46500 🐙 source-bamboo-hr: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-bamboo-hr/metadata.yaml
  airbyte-integrations/connectors/source-bamboo-hr/poetry.lock
  airbyte-integrations/connectors/source-bamboo-hr/pyproject.toml
  docs/integrations/sources/bamboo-hr.md
Labels: area/documentation, area/connectors, connectors/source/bamboo-hr, auto-merge, up-to-date

#46498 🐙 source-aws-cloudtrail: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-aws-cloudtrail/metadata.yaml
  airbyte-integrations/connectors/source-aws-cloudtrail/poetry.lock
  airbyte-integrations/connectors/source-aws-cloudtrail/pyproject.toml
  docs/integrations/sources/aws-cloudtrail.md
Labels: area/documentation, area/connectors, connectors/source/aws-cloudtrail, auto-merge, up-to-date

#46497 🐙 source-commercetools: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-commercetools/metadata.yaml
  airbyte-integrations/connectors/source-commercetools/poetry.lock
  airbyte-integrations/connectors/source-commercetools/pyproject.toml
  docs/integrations/sources/commercetools.md
Labels: area/documentation, area/connectors, connectors/source/commercetools, auto-merge, up-to-date

#46496 🐙 source-braintree: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-braintree/metadata.yaml
  airbyte-integrations/connectors/source-braintree/poetry.lock
  airbyte-integrations/connectors/source-braintree/pyproject.toml
  docs/integrations/sources/braintree.md
Labels: area/documentation, area/connectors, connectors/source/braintree, auto-merge, up-to-date

#46495 🐙 source-rki-covid: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-rki-covid/metadata.yaml
  airbyte-integrations/connectors/source-rki-covid/poetry.lock
  airbyte-integrations/connectors/source-rki-covid/pyproject.toml
  docs/integrations/sources/rki-covid.md
Labels: area/documentation, area/connectors, connectors/source/rki-covid, auto-merge, up-to-date

#46494 🐙 source-hubspot: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/poetry.lock
  airbyte-integrations/connectors/source-hubspot/pyproject.toml
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot, auto-merge, up-to-date

#46492 🐙 source-hardcoded-records: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-hardcoded-records/metadata.yaml
  airbyte-integrations/connectors/source-hardcoded-records/poetry.lock
  airbyte-integrations/connectors/source-hardcoded-records/pyproject.toml
  docs/integrations/sources/hardcoded-records.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/hardcoded-records

#46491 🐙 source-salesloft: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-salesloft/metadata.yaml
  airbyte-integrations/connectors/source-salesloft/poetry.lock
  airbyte-integrations/connectors/source-salesloft/pyproject.toml
  docs/integrations/sources/salesloft.md
Labels: area/documentation, area/connectors, connectors/source/salesloft, auto-merge, up-to-date

#46490 🐙 source-unleash: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-unleash/metadata.yaml
  airbyte-integrations/connectors/source-unleash/poetry.lock
  airbyte-integrations/connectors/source-unleash/pyproject.toml
  docs/integrations/sources/unleash.md
Labels: area/documentation, area/connectors, connectors/source/unleash, auto-merge, up-to-date

#46489 🐙 source-amplitude: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-amplitude/metadata.yaml
  airbyte-integrations/connectors/source-amplitude/poetry.lock
  airbyte-integrations/connectors/source-amplitude/pyproject.toml
  docs/integrations/sources/amplitude.md
Labels: area/documentation, area/connectors, connectors/source/amplitude, auto-merge, up-to-date

#46488 🐙 source-alpha-vantage: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-alpha-vantage/metadata.yaml
  airbyte-integrations/connectors/source-alpha-vantage/poetry.lock
  airbyte-integrations/connectors/source-alpha-vantage/pyproject.toml
  docs/integrations/sources/alpha-vantage.md
Labels: area/documentation, area/connectors, connectors/source/alpha-vantage, auto-merge, up-to-date

#46487 🐙 source-pipedrive: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-pipedrive/metadata.yaml
  airbyte-integrations/connectors/source-pipedrive/poetry.lock
  airbyte-integrations/connectors/source-pipedrive/pyproject.toml
  docs/integrations/sources/pipedrive.md
Labels: area/documentation, area/connectors, connectors/source/pipedrive, auto-merge, up-to-date

#46486 🐙 source-zendesk-sunshine: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-zendesk-sunshine/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-sunshine/poetry.lock
  airbyte-integrations/connectors/source-zendesk-sunshine/pyproject.toml
  docs/integrations/sources/zendesk-sunshine.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-sunshine, auto-merge, up-to-date

#46484 🐙 source-instatus: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-instatus/metadata.yaml
  airbyte-integrations/connectors/source-instatus/poetry.lock
  airbyte-integrations/connectors/source-instatus/pyproject.toml
  docs/integrations/sources/instatus.md
Labels: area/documentation, area/connectors, connectors/source/instatus, auto-merge, up-to-date

#46483 🐙 destination-milvus: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/destination-milvus/metadata.yaml
  airbyte-integrations/connectors/destination-milvus/poetry.lock
  airbyte-integrations/connectors/destination-milvus/pyproject.toml
  docs/integrations/destinations/milvus.md
Labels: area/documentation, area/connectors, connectors/destination/milvus, auto-merge, up-to-date

#46482 🐙 source-pinterest: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  airbyte-integrations/connectors/source-pinterest/poetry.lock
  airbyte-integrations/connectors/source-pinterest/pyproject.toml
  docs/integrations/sources/pinterest.md
Labels: area/documentation, area/connectors, connectors/source/pinterest, auto-merge, up-to-date

#46481 🐙 source-okta: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-okta/metadata.yaml
  airbyte-integrations/connectors/source-okta/poetry.lock
  airbyte-integrations/connectors/source-okta/pyproject.toml
  docs/integrations/sources/okta.md
Labels: area/documentation, area/connectors, connectors/source/okta, auto-merge, up-to-date

#46478 🐙 source-chargebee: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-chargebee/metadata.yaml
  airbyte-integrations/connectors/source-chargebee/poetry.lock
  airbyte-integrations/connectors/source-chargebee/pyproject.toml
  docs/integrations/sources/chargebee.md
Labels: area/documentation, area/connectors, connectors/source/chargebee, auto-merge, up-to-date

#46475 🐙 source-google-analytics-data-api: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/poetry.lock
  airbyte-integrations/connectors/source-google-analytics-data-api/pyproject.toml
  docs/integrations/sources/google-analytics-data-api.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-data-api, auto-merge, up-to-date

#46474 🐙 destination-pinecone: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/destination-pinecone/metadata.yaml
  airbyte-integrations/connectors/destination-pinecone/poetry.lock
  airbyte-integrations/connectors/destination-pinecone/pyproject.toml
  docs/integrations/destinations/pinecone.md
Labels: area/documentation, area/connectors, connectors/destination/pinecone, auto-merge, up-to-date

#46473 🐙 source-amazon-seller-partner: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/poetry.lock
  airbyte-integrations/connectors/source-amazon-seller-partner/pyproject.toml
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation, area/connectors, connectors/source/amazon-seller-partner, auto-merge, up-to-date

#46471 🐙 source-firebolt: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-firebolt/metadata.yaml
  airbyte-integrations/connectors/source-firebolt/poetry.lock
  airbyte-integrations/connectors/source-firebolt/pyproject.toml
  docs/integrations/sources/firebolt.md
Labels: area/documentation, area/connectors, connectors/source/firebolt, auto-merge, up-to-date

#46470 🐙 source-harvest: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-harvest/metadata.yaml
  airbyte-integrations/connectors/source-harvest/poetry.lock
  airbyte-integrations/connectors/source-harvest/pyproject.toml
  docs/integrations/sources/harvest.md
Labels: area/documentation, area/connectors, connectors/source/harvest, auto-merge, up-to-date

#46469 🐙 source-my-hours: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-my-hours/metadata.yaml
  airbyte-integrations/connectors/source-my-hours/poetry.lock
  airbyte-integrations/connectors/source-my-hours/pyproject.toml
  docs/integrations/sources/my-hours.md
Labels: area/documentation, area/connectors, connectors/source/my-hours, auto-merge, up-to-date

#46468 🐙 source-yahoo-finance-price: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-yahoo-finance-price/metadata.yaml
  airbyte-integrations/connectors/source-yahoo-finance-price/poetry.lock
  airbyte-integrations/connectors/source-yahoo-finance-price/pyproject.toml
  docs/integrations/sources/yahoo-finance-price.md
Labels: area/documentation, area/connectors, connectors/source/yahoo-finance-price, auto-merge, up-to-date

#46467 🐙 destination-xata: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/destination-xata/metadata.yaml
  airbyte-integrations/connectors/destination-xata/poetry.lock
  airbyte-integrations/connectors/destination-xata/pyproject.toml
  docs/integrations/destinations/xata.md
Labels: area/documentation, area/connectors, connectors/destination/xata, auto-merge, up-to-date

#46466 🐙 source-genesys: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-genesys/metadata.yaml
  airbyte-integrations/connectors/source-genesys/poetry.lock
  airbyte-integrations/connectors/source-genesys/pyproject.toml
  docs/integrations/sources/genesys.md
Labels: area/documentation, area/connectors, connectors/source/genesys, auto-merge, up-to-date

#46465 🐙 destination-weaviate: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/destination-weaviate/metadata.yaml
  airbyte-integrations/connectors/destination-weaviate/poetry.lock
  airbyte-integrations/connectors/destination-weaviate/pyproject.toml
  docs/integrations/destinations/weaviate.md
Labels: area/documentation, area/connectors, connectors/destination/weaviate, auto-merge, up-to-date

#46464 🐙 destination-google-sheets: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/destination-google-sheets/metadata.yaml
  airbyte-integrations/connectors/destination-google-sheets/poetry.lock
  airbyte-integrations/connectors/destination-google-sheets/pyproject.toml
  docs/integrations/destinations/google-sheets.md
Labels: area/documentation, area/connectors, connectors/destination/google-sheets, auto-merge, up-to-date

#46463 🐙 destination-duckdb: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/destination-duckdb/metadata.yaml
  airbyte-integrations/connectors/destination-duckdb/poetry.lock
  airbyte-integrations/connectors/destination-duckdb/pyproject.toml
  docs/integrations/destinations/duckdb.md
Labels: area/documentation, area/connectors, connectors/destination/duckdb, auto-merge, up-to-date

#46462 🐙 source-railz: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-railz/metadata.yaml
  airbyte-integrations/connectors/source-railz/poetry.lock
  airbyte-integrations/connectors/source-railz/pyproject.toml
  docs/integrations/sources/railz.md
Labels: area/documentation, area/connectors, connectors/source/railz, auto-merge, up-to-date

#46461 🐙 source-facebook-pages: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-facebook-pages/metadata.yaml
  airbyte-integrations/connectors/source-facebook-pages/poetry.lock
  airbyte-integrations/connectors/source-facebook-pages/pyproject.toml
  docs/integrations/sources/facebook-pages.md
Labels: area/documentation, area/connectors, connectors/source/facebook-pages, auto-merge, up-to-date

#46460 🐙 source-sendgrid: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-sendgrid/metadata.yaml
  airbyte-integrations/connectors/source-sendgrid/poetry.lock
  airbyte-integrations/connectors/source-sendgrid/pyproject.toml
  docs/integrations/sources/sendgrid.md
Labels: area/documentation, area/connectors, connectors/source/sendgrid, auto-merge, up-to-date

#46459 🐙 source-kyriba: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-kyriba/metadata.yaml
  airbyte-integrations/connectors/source-kyriba/poetry.lock
  airbyte-integrations/connectors/source-kyriba/pyproject.toml
  docs/integrations/sources/kyriba.md
Labels: area/documentation, area/connectors, connectors/source/kyriba, auto-merge, up-to-date

#46458 🐙 source-gcs: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-gcs/metadata.yaml
  airbyte-integrations/connectors/source-gcs/poetry.lock
  airbyte-integrations/connectors/source-gcs/pyproject.toml
  docs/integrations/sources/gcs.md
Labels: area/documentation, area/connectors, connectors/source/gcs, auto-merge, up-to-date

#46457 🐙 source-firebase-realtime-database: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-firebase-realtime-database/metadata.yaml
  airbyte-integrations/connectors/source-firebase-realtime-database/poetry.lock
  airbyte-integrations/connectors/source-firebase-realtime-database/pyproject.toml
  docs/integrations/sources/firebase-realtime-database.md
Labels: area/documentation, area/connectors, connectors/source/firebase-realtime-database, auto-merge, up-to-date

#46456 🐙 source-recurly: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-recurly/metadata.yaml
  airbyte-integrations/connectors/source-recurly/poetry.lock
  airbyte-integrations/connectors/source-recurly/pyproject.toml
  docs/integrations/sources/recurly.md
Labels: area/documentation, area/connectors, connectors/source/recurly, auto-merge, up-to-date

#46455 🐙 source-flexport: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-flexport/metadata.yaml
  airbyte-integrations/connectors/source-flexport/poetry.lock
  airbyte-integrations/connectors/source-flexport/pyproject.toml
  docs/integrations/sources/flexport.md
Labels: area/documentation, area/connectors, connectors/source/flexport, auto-merge, up-to-date

#46454 🐙 source-rss: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-rss/metadata.yaml
  airbyte-integrations/connectors/source-rss/poetry.lock
  airbyte-integrations/connectors/source-rss/pyproject.toml
  docs/integrations/sources/rss.md
Labels: area/documentation, area/connectors, connectors/source/rss, auto-merge, up-to-date

#46453 🐙 source-bigcommerce: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-bigcommerce/metadata.yaml
  airbyte-integrations/connectors/source-bigcommerce/poetry.lock
  airbyte-integrations/connectors/source-bigcommerce/pyproject.toml
  docs/integrations/sources/bigcommerce.md
Labels: area/documentation, area/connectors, connectors/source/bigcommerce, auto-merge, up-to-date

#46452 🐙 source-partnerstack: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-partnerstack/metadata.yaml
  airbyte-integrations/connectors/source-partnerstack/poetry.lock
  airbyte-integrations/connectors/source-partnerstack/pyproject.toml
  docs/integrations/sources/partnerstack.md
Labels: area/documentation, area/connectors, connectors/source/partnerstack, auto-merge, up-to-date

#46451 🐙 source-amazon-ads: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-amazon-ads/metadata.yaml
  airbyte-integrations/connectors/source-amazon-ads/poetry.lock
  airbyte-integrations/connectors/source-amazon-ads/pyproject.toml
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, area/connectors, connectors/source/amazon-ads, auto-merge, up-to-date

#46450 🐙 source-surveycto: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-surveycto/metadata.yaml
  airbyte-integrations/connectors/source-surveycto/poetry.lock
  airbyte-integrations/connectors/source-surveycto/pyproject.toml
  docs/integrations/sources/surveycto.md
Labels: area/documentation, area/connectors, connectors/source/surveycto, auto-merge, up-to-date

#46449 🐙 source-close-com: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-close-com/metadata.yaml
  airbyte-integrations/connectors/source-close-com/poetry.lock
  airbyte-integrations/connectors/source-close-com/pyproject.toml
  docs/integrations/sources/close-com.md
Labels: area/documentation, area/connectors, connectors/source/close-com, auto-merge, up-to-date

#46448 🐙 source-surveymonkey: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-surveymonkey/metadata.yaml
  airbyte-integrations/connectors/source-surveymonkey/poetry.lock
  airbyte-integrations/connectors/source-surveymonkey/pyproject.toml
  docs/integrations/sources/surveymonkey.md
Labels: area/documentation, area/connectors, connectors/source/surveymonkey, auto-merge, up-to-date

#46447 🐙 source-intercom: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-intercom/metadata.yaml
  airbyte-integrations/connectors/source-intercom/poetry.lock
  airbyte-integrations/connectors/source-intercom/pyproject.toml
  docs/integrations/sources/intercom.md
Labels: area/documentation, area/connectors, connectors/source/intercom, auto-merge, up-to-date

#46446 🐙 source-jina-ai-reader: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-jina-ai-reader/metadata.yaml
  airbyte-integrations/connectors/source-jina-ai-reader/poetry.lock
  airbyte-integrations/connectors/source-jina-ai-reader/pyproject.toml
  docs/integrations/sources/jina-ai-reader.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/jina-ai-reader

#46445 🐙 destination-cumulio: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/destination-cumulio/metadata.yaml
  airbyte-integrations/connectors/destination-cumulio/poetry.lock
  airbyte-integrations/connectors/destination-cumulio/pyproject.toml
  docs/integrations/destinations/cumulio.md
Labels: area/documentation, area/connectors, connectors/destination/cumulio, auto-merge, up-to-date

#46444 🐙 source-yandex-metrica: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-yandex-metrica/metadata.yaml
  airbyte-integrations/connectors/source-yandex-metrica/poetry.lock
  airbyte-integrations/connectors/source-yandex-metrica/pyproject.toml
  docs/integrations/sources/yandex-metrica.md
Labels: area/documentation, area/connectors, connectors/source/yandex-metrica, auto-merge, up-to-date

#46443 🐙 destination-timeplus: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/destination-timeplus/metadata.yaml
  airbyte-integrations/connectors/destination-timeplus/poetry.lock
  airbyte-integrations/connectors/destination-timeplus/pyproject.toml
  docs/integrations/destinations/timeplus.md
Labels: area/documentation, area/connectors, connectors/destination/timeplus, auto-merge, up-to-date

#46442 🐙 source-us-census: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-us-census/metadata.yaml
  airbyte-integrations/connectors/source-us-census/poetry.lock
  airbyte-integrations/connectors/source-us-census/pyproject.toml
  docs/integrations/sources/us-census.md
Labels: area/documentation, area/connectors, connectors/source/us-census, auto-merge, up-to-date

#46441 🐙 source-pardot: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-pardot/metadata.yaml
  airbyte-integrations/connectors/source-pardot/poetry.lock
  airbyte-integrations/connectors/source-pardot/pyproject.toml
  docs/integrations/sources/pardot.md
Labels: area/documentation, area/connectors, connectors/source/pardot, auto-merge, up-to-date

#46440 🐙 source-public-apis: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-public-apis/metadata.yaml
  airbyte-integrations/connectors/source-public-apis/poetry.lock
  airbyte-integrations/connectors/source-public-apis/pyproject.toml
  docs/integrations/sources/public-apis.md
Labels: area/documentation, area/connectors, connectors/source/public-apis, auto-merge, up-to-date

#46439 🐙 source-qualaroo: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-qualaroo/metadata.yaml
  airbyte-integrations/connectors/source-qualaroo/poetry.lock
  airbyte-integrations/connectors/source-qualaroo/pyproject.toml
  docs/integrations/sources/qualaroo.md
Labels: area/documentation, area/connectors, connectors/source/qualaroo, auto-merge, up-to-date

#46438 🐙 destination-vectara: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/destination-vectara/metadata.yaml
  airbyte-integrations/connectors/destination-vectara/poetry.lock
  airbyte-integrations/connectors/destination-vectara/pyproject.toml
  docs/integrations/destinations/vectara.md
Labels: area/documentation, area/connectors, connectors/destination/vectara, auto-merge, up-to-date

#46437 🐙 destination-rabbitmq: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/destination-rabbitmq/metadata.yaml
  airbyte-integrations/connectors/destination-rabbitmq/poetry.lock
  airbyte-integrations/connectors/destination-rabbitmq/pyproject.toml
  docs/integrations/destinations/rabbitmq.md
Labels: area/documentation, area/connectors, connectors/destination/rabbitmq, auto-merge, up-to-date

#46436 🐙 source-salesforce: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/poetry.lock
  airbyte-integrations/connectors/source-salesforce/pyproject.toml
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors, connectors/source/salesforce, auto-merge, up-to-date

#46435 🐙 source-freshcaller: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-freshcaller/metadata.yaml
  airbyte-integrations/connectors/source-freshcaller/poetry.lock
  airbyte-integrations/connectors/source-freshcaller/pyproject.toml
  docs/integrations/sources/freshcaller.md
Labels: area/documentation, area/connectors, connectors/source/freshcaller, auto-merge, up-to-date

#46433 🐙 source-linkedin-ads: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-linkedin-ads/metadata.yaml
  airbyte-integrations/connectors/source-linkedin-ads/poetry.lock
  airbyte-integrations/connectors/source-linkedin-ads/pyproject.toml
  docs/integrations/sources/linkedin-ads.md
Labels: area/documentation, area/connectors, connectors/source/linkedin-ads, auto-merge, up-to-date

#46432 🐙 source-younium: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-younium/metadata.yaml
  airbyte-integrations/connectors/source-younium/poetry.lock
  airbyte-integrations/connectors/source-younium/pyproject.toml
  docs/integrations/sources/younium.md
Labels: area/documentation, area/connectors, connectors/source/younium, auto-merge, up-to-date

#46431 🐙 source-zenloop: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-zenloop/metadata.yaml
  airbyte-integrations/connectors/source-zenloop/poetry.lock
  airbyte-integrations/connectors/source-zenloop/pyproject.toml
  docs/integrations/sources/zenloop.md
Labels: area/documentation, area/connectors, connectors/source/zenloop, auto-merge, up-to-date

#46430 🐙 source-apify-dataset: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-apify-dataset/metadata.yaml
  airbyte-integrations/connectors/source-apify-dataset/poetry.lock
  airbyte-integrations/connectors/source-apify-dataset/pyproject.toml
  docs/integrations/sources/apify-dataset.md
Labels: area/documentation, area/connectors, connectors/source/apify-dataset, auto-merge, up-to-date

#46429 🐙 source-retently: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-retently/metadata.yaml
  airbyte-integrations/connectors/source-retently/poetry.lock
  airbyte-integrations/connectors/source-retently/pyproject.toml
  docs/integrations/sources/retently.md
Labels: area/documentation, area/connectors, connectors/source/retently, auto-merge, up-to-date

#46428 🐙 source-mixpanel: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-mixpanel/metadata.yaml
  airbyte-integrations/connectors/source-mixpanel/poetry.lock
  airbyte-integrations/connectors/source-mixpanel/pyproject.toml
  docs/integrations/sources/mixpanel.md
Labels: area/documentation, area/connectors, connectors/source/mixpanel, auto-merge, up-to-date

#46427 🐙 source-smartsheets: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-smartsheets/metadata.yaml
  airbyte-integrations/connectors/source-smartsheets/poetry.lock
  airbyte-integrations/connectors/source-smartsheets/pyproject.toml
  docs/integrations/sources/smartsheets.md
Labels: area/documentation, area/connectors, connectors/source/smartsheets, auto-merge, up-to-date

#46426 🐙 destination-typesense: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/destination-typesense/metadata.yaml
  airbyte-integrations/connectors/destination-typesense/poetry.lock
  airbyte-integrations/connectors/destination-typesense/pyproject.toml
  docs/integrations/destinations/typesense.md
Labels: area/documentation, area/connectors, connectors/destination/typesense, auto-merge, up-to-date

#46425 🐙 source-gnews: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-gnews/metadata.yaml
  airbyte-integrations/connectors/source-gnews/poetry.lock
  airbyte-integrations/connectors/source-gnews/pyproject.toml
  docs/integrations/sources/gnews.md
Labels: area/documentation, area/connectors, connectors/source/gnews, auto-merge, up-to-date

#46424 🐙 source-quickbooks: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-quickbooks/metadata.yaml
  airbyte-integrations/connectors/source-quickbooks/poetry.lock
  airbyte-integrations/connectors/source-quickbooks/pyproject.toml
  docs/integrations/sources/quickbooks.md
Labels: area/documentation, area/connectors, connectors/source/quickbooks, auto-merge, up-to-date

#46423 🐙 source-woocommerce: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-woocommerce/metadata.yaml
  airbyte-integrations/connectors/source-woocommerce/poetry.lock
  airbyte-integrations/connectors/source-woocommerce/pyproject.toml
  docs/integrations/sources/woocommerce.md
Labels: area/documentation, area/connectors, connectors/source/woocommerce, auto-merge, up-to-date

#46422 🐙 source-google-directory: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-google-directory/metadata.yaml
  airbyte-integrations/connectors/source-google-directory/poetry.lock
  airbyte-integrations/connectors/source-google-directory/pyproject.toml
  docs/integrations/sources/google-directory.md
Labels: area/documentation, area/connectors, connectors/source/google-directory, auto-merge, up-to-date

#46421 🐙 source-posthog: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-posthog/metadata.yaml
  airbyte-integrations/connectors/source-posthog/poetry.lock
  airbyte-integrations/connectors/source-posthog/pyproject.toml
  docs/integrations/sources/posthog.md
Labels: area/documentation, area/connectors, connectors/source/posthog, auto-merge, up-to-date

#46420 🐙 destination-firebolt: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/destination-firebolt/metadata.yaml
  airbyte-integrations/connectors/destination-firebolt/poetry.lock
  airbyte-integrations/connectors/destination-firebolt/pyproject.toml
  docs/integrations/destinations/firebolt.md
Labels: area/documentation, area/connectors, connectors/destination/firebolt, auto-merge, up-to-date

#46419 🐙 source-snapchat-marketing: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-snapchat-marketing/metadata.yaml
  airbyte-integrations/connectors/source-snapchat-marketing/poetry.lock
  airbyte-integrations/connectors/source-snapchat-marketing/pyproject.toml
  docs/integrations/sources/snapchat-marketing.md
Labels: area/documentation, area/connectors, connectors/source/snapchat-marketing, auto-merge, up-to-date

#46418 🐙 destination-databend: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/destination-databend/metadata.yaml
  airbyte-integrations/connectors/destination-databend/poetry.lock
  airbyte-integrations/connectors/destination-databend/pyproject.toml
  docs/integrations/destinations/databend.md
Labels: area/documentation, area/connectors, connectors/destination/databend, auto-merge, up-to-date

#46417 🐙 destination-qdrant: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/destination-qdrant/metadata.yaml
  airbyte-integrations/connectors/destination-qdrant/poetry.lock
  airbyte-integrations/connectors/destination-qdrant/pyproject.toml
  docs/integrations/destinations/qdrant.md
Labels: area/documentation, area/connectors, connectors/destination/qdrant, auto-merge, up-to-date

#46415 🐙 source-github: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/poetry.lock
  airbyte-integrations/connectors/source-github/pyproject.toml
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors, connectors/source/github, auto-merge, up-to-date

#46414 🐙 source-qonto: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-qonto/metadata.yaml
  airbyte-integrations/connectors/source-qonto/poetry.lock
  airbyte-integrations/connectors/source-qonto/pyproject.toml
  docs/integrations/sources/qonto.md
Labels: area/documentation, area/connectors, connectors/source/qonto, auto-merge, up-to-date

#46413 🐙 source-commcare: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-commcare/metadata.yaml
  airbyte-integrations/connectors/source-commcare/poetry.lock
  airbyte-integrations/connectors/source-commcare/pyproject.toml
  docs/integrations/sources/commcare.md
Labels: area/documentation, area/connectors, connectors/source/commcare, auto-merge, up-to-date

#46412 🐙 source-zoom: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-zoom/metadata.yaml
  airbyte-integrations/connectors/source-zoom/poetry.lock
  airbyte-integrations/connectors/source-zoom/pyproject.toml
  docs/integrations/sources/zoom.md
Labels: area/documentation, area/connectors, connectors/source/zoom, auto-merge, up-to-date

#46411 🐙 source-adjust: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-adjust/metadata.yaml
  airbyte-integrations/connectors/source-adjust/poetry.lock
  airbyte-integrations/connectors/source-adjust/pyproject.toml
  docs/integrations/sources/adjust.md
Labels: area/documentation, area/connectors, connectors/source/adjust, auto-merge, up-to-date

#46410 🐙 source-webflow: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-webflow/metadata.yaml
  airbyte-integrations/connectors/source-webflow/poetry.lock
  airbyte-integrations/connectors/source-webflow/pyproject.toml
  docs/integrations/sources/webflow.md
Labels: area/documentation, area/connectors, connectors/source/webflow, auto-merge, up-to-date

#46409 🐙 source-square: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-square/metadata.yaml
  airbyte-integrations/connectors/source-square/poetry.lock
  airbyte-integrations/connectors/source-square/pyproject.toml
  docs/integrations/sources/square.md
Labels: area/documentation, area/connectors, connectors/source/square, auto-merge, up-to-date

#46408 🐙 source-zendesk-support: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/poetry.lock
  airbyte-integrations/connectors/source-zendesk-support/pyproject.toml
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-support, auto-merge, up-to-date

#46407 🐙 source-n8n: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-n8n/metadata.yaml
  airbyte-integrations/connectors/source-n8n/poetry.lock
  airbyte-integrations/connectors/source-n8n/pyproject.toml
  docs/integrations/sources/n8n.md
Labels: area/documentation, area/connectors, connectors/source/n8n, auto-merge, up-to-date

#46405 🐙 source-outreach: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-outreach/metadata.yaml
  airbyte-integrations/connectors/source-outreach/poetry.lock
  airbyte-integrations/connectors/source-outreach/pyproject.toml
  docs/integrations/sources/outreach.md
Labels: area/documentation, area/connectors, connectors/source/outreach, auto-merge, up-to-date

#46404 🐙 source-pocket: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-pocket/metadata.yaml
  airbyte-integrations/connectors/source-pocket/poetry.lock
  airbyte-integrations/connectors/source-pocket/pyproject.toml
  docs/integrations/sources/pocket.md
Labels: area/documentation, area/connectors, connectors/source/pocket, auto-merge, up-to-date

#46403 🐙 source-outbrain-amplify: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-outbrain-amplify/metadata.yaml
  airbyte-integrations/connectors/source-outbrain-amplify/poetry.lock
  airbyte-integrations/connectors/source-outbrain-amplify/pyproject.toml
  docs/integrations/sources/outbrain-amplify.md
Labels: area/documentation, area/connectors, connectors/source/outbrain-amplify, auto-merge, up-to-date

#46402 🐙 destination-astra: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/destination-astra/metadata.yaml
  airbyte-integrations/connectors/destination-astra/poetry.lock
  airbyte-integrations/connectors/destination-astra/pyproject.toml
  docs/integrations/destinations/astra.md
Labels: area/documentation, area/connectors, connectors/destination/astra, auto-merge, up-to-date

#46400 🐙 destination-aws-datalake: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/destination-aws-datalake/metadata.yaml
  airbyte-integrations/connectors/destination-aws-datalake/poetry.lock
  airbyte-integrations/connectors/destination-aws-datalake/pyproject.toml
  docs/integrations/destinations/aws-datalake.md
Labels: area/documentation, area/connectors, connectors/destination/aws-datalake, auto-merge, up-to-date

#46399 🐙 source-iterable: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-iterable/metadata.yaml
  airbyte-integrations/connectors/source-iterable/poetry.lock
  airbyte-integrations/connectors/source-iterable/pyproject.toml
  docs/integrations/sources/iterable.md
Labels: area/documentation, area/connectors, connectors/source/iterable, auto-merge, up-to-date

#46398 🐙 source-faker: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/poetry.lock
  airbyte-integrations/connectors/source-faker/pyproject.toml
  docs/integrations/sources/faker.md
Labels: area/documentation, area/connectors, connectors/source/faker, auto-merge, up-to-date

#46394 🐙 source-zendesk-talk: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-zendesk-talk/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-talk/poetry.lock
  airbyte-integrations/connectors/source-zendesk-talk/pyproject.toml
  docs/integrations/sources/zendesk-talk.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-talk, auto-merge, up-to-date

#46393 🐙 source-appsflyer: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-appsflyer/metadata.yaml
  airbyte-integrations/connectors/source-appsflyer/poetry.lock
  airbyte-integrations/connectors/source-appsflyer/pyproject.toml
  docs/integrations/sources/appsflyer.md
Labels: area/documentation, area/connectors, connectors/source/appsflyer, auto-merge, up-to-date

#46164 🐙 source-tiktok-marketing: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-tiktok-marketing/metadata.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/poetry.lock
  airbyte-integrations/connectors/source-tiktok-marketing/pyproject.toml
  docs/integrations/sources/tiktok-marketing.md
Labels: area/documentation, area/connectors, connectors/source/tiktok-marketing, auto-merge, up-to-date

#45759 🐙 source-shopify: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-shopify/metadata.yaml
  airbyte-integrations/connectors/source-shopify/poetry.lock
  airbyte-integrations/connectors/source-shopify/pyproject.toml
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors, connectors/source/shopify, auto-merge, up-to-date

#43881 🐙 source-stripe: run up-to-date pipeline [2024-10-05]
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/poetry.lock
  airbyte-integrations/connectors/source-stripe/pyproject.toml
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, connectors/source/stripe, auto-merge, up-to-date
