Repository airbytehq/airbyte, pull requests merged in 2024-03, with the labels that each got.

#35742 🏥Source Google Search Console: fix expected records
  airbyte-integrations/connectors/source-google-search-console/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-search-console/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/google-search-console

#35201 :sparkles: Source Bing Ads: Stream budget and product dimension performance report
  airbyte-integrations/connectors/source-bing-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-bing-ads/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-bing-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-bing-ads/integration_tests/expected_records_no_start_date.jsonl
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/pyproject.toml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/bulk_streams.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/report_streams.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/budget.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/product_dimension_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/product_dimension_performance_report_hourly.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/source.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/base_test.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/client_builder.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/config_builder.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/suds_response_mock.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/test_budget_stream.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/test_bulk_stream.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/test_product_dimension_performance_report.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/test_report_stream.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/http/response/oauth.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/budget.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/budget_empty.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/budget_with_cursor_value.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/budget_with_state.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/product_dimension_performance_report_daily.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/product_dimension_performance_report_daily_incremental.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/product_dimension_performance_report_hourly.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/product_dimension_performance_report_hourly_incremental.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/product_dimension_performance_report_monthly.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/product_dimension_performance_report_monthly_incremental.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/product_dimension_performance_report_weekly.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/product_dimension_performance_report_weekly_incremental.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/state/budget_state.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/state/product_dimension_performance_report_daily_state.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/state/product_dimension_performance_report_hourly_state.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/state/product_dimension_performance_report_monthly_state.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/state/product_dimension_performance_report_weekly_state.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_bulk_streams.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_source.py
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors, connectors/source/bing-ads

#35743 🏥Source Amplitude: fix CAT
  airbyte-integrations/connectors/source-amplitude/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amplitude/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/amplitude

#35664 :bug: Source Google Ads: Fix error for new customers for incremental events streams
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/poetry.lock
  airbyte-integrations/connectors/source-google-ads/pyproject.toml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_incremental_events_streams.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, connectors/source/google-ads, team/connectors-python

#35748 🏥Source Amplitude: fix formatting
  airbyte-integrations/connectors/source-amplitude/acceptance-test-config.yml
Labels: area/connectors, connectors/source/amplitude

#35584 ✨ Source Microsoft OneDrive: Enable connector in Cloud
  airbyte-integrations/connectors/source-microsoft-onedrive/README.md
  airbyte-integrations/connectors/source-microsoft-onedrive/metadata.yaml
  airbyte-integrations/connectors/source-microsoft-onedrive/poetry.lock
  airbyte-integrations/connectors/source-microsoft-onedrive/pyproject.toml
  airbyte-integrations/connectors/source-microsoft-onedrive/setup.py
  docs/integrations/sources/microsoft-onedrive.md
Labels: area/documentation, area/connectors, connectors/source/microsoft-onedrive

#35728 Omit run.py from test coverage for source Sendgrid, Sentry, Zendesk Chat
  airbyte-integrations/connectors/source-sendgrid/.coveragerc
  airbyte-integrations/connectors/source-sentry/.coveragerc
  airbyte-integrations/connectors/source-zendesk-chat/.coveragerc
Labels: connectors/source/sentry, connectors/source/sendgrid, connectors/source/zendesk-chat

#35751 🏥Source Twilio: fix CAT
  airbyte-integrations/connectors/source-twilio/README.md
  airbyte-integrations/connectors/source-twilio/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-twilio/unit_tests/test_streams.py
Labels: area/connectors, connectors/source/twilio

#35753 🏥Source Sendgrid: fix CAT
  airbyte-integrations/connectors/source-sendgrid/unit_tests/unit_test.py
Labels: area/connectors, connectors/source/sendgrid

#35752 Archive connectors already hidden with legacy state
  airbyte-integrations/connectors/source-appstore-singer/metadata.yaml
  airbyte-integrations/connectors/source-courier/metadata.yaml
  airbyte-integrations/connectors/source-dv-360/metadata.yaml
  airbyte-integrations/connectors/source-kustomer-singer/metadata.yaml
  airbyte-integrations/connectors/source-recurly/metadata.yaml
  airbyte-integrations/connectors/source-search-metrics/metadata.yaml
  airbyte-integrations/connectors/source-talkdesk-explore/metadata.yaml
  airbyte-integrations/connectors/source-zuora/metadata.yaml
Labels: area/connectors, connectors/source/linnworks, connectors/source/appstore-singer, connectors/source/recurly, connectors/source/zuora, connectors/source/kustomer-singer, connectors/source/search-metrics, connectors/source/dv-360, connectors/source/talkdesk-explore, connectors/source/courier

#35303 DV2 destinations: Build DestinationState / Migration framework
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestination.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcDestinationHandler.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/test/java/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestinationTest.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/java/io/airbyte/cdk/integrations/standardtest/destination/typing_deduping/JdbcSqlGeneratorIntegrationTest.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/BaseDestinationV1V2Migrator.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/DefaultTyperDeduper.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/DestinationHandler.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/DestinationInitialState.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/DestinationInitialStateImpl.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/DestinationInitialStatus.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/DestinationV1V2Migrator.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/InitialRawTableStatus.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/NoOpDestinationV1V2Migrator.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/NoOpTyperDeduperWithV1V2Migrations.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/TypeAndDedupeTransaction.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/TyperDeduperUtil.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/V2TableMigrator.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/migrators/Migration.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/migrators/MinimumDestinationState.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/test/java/io/airbyte/integrations/base/destination/typing_deduping/DefaultTyperDeduperTest.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/test/java/io/airbyte/integrations/base/destination/typing_deduping/DestinationV1V2MigratorTest.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/java/io/airbyte/integrations/base/destination/typing_deduping/BaseSqlGeneratorIntegrationTest.java
Labels: CDK

#35313 Java CDK: Staging destinations include timezone in extracted_at in CSV file
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/s3/csv/StagingDatabaseCsvSheetGenerator.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/test/java/io/airbyte/cdk/integrations/destination/s3/csv/S3CsvWriterTest.java
Labels: CDK, connectors/destination/snowflake

#35760 Certify Postgres
  airbyte-integrations/connectors/destination-postgres/metadata.yaml
  airbyte-integrations/connectors/destination-postgres/src/main/java/io/airbyte/integrations/destination/postgres/PostgresDestination.java
  docs/integrations/destinations/postgres.md
Labels: area/documentation, area/connectors, connectors/destination/postgres

#35762 Postgres Strict Encrypt
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/src/main/java/io/airbyte/integrations/destination/postgres/PostgresDestinationStrictEncrypt.java
Labels: area/connectors, connectors/destination/postgres, connectors/destination/postgres-strict-encrypt

#35767 add a timeout to junit test
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/core/src/testFixtures/java/io/airbyte/cdk/extensions/LoggingInvocationInterceptor.java
  airbyte-cdk/java/airbyte-cdk/core/src/testFixtures/java/io/airbyte/cdk/testutils/ContainerFactory.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/test/java/io/airbyte/cdk/integrations/destination/s3/csv/S3CsvWriterTest.java
Labels: CDK

#35781 🏥Source Paypal Transaction: fix CAT
  airbyte-integrations/connectors/source-paypal-transaction/acceptance-test-config.yml
Labels: area/connectors, connectors/source/paypal-transaction

#35787 🏥Source Google Search Console: fix expected records
  airbyte-integrations/connectors/source-google-search-console/README.md
  airbyte-integrations/connectors/source-google-search-console/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/google-search-console

#35783 🏥Source Zendesk Talk: change order of authentication methods in spec
  airbyte-integrations/connectors/source-zendesk-talk/README.md
  airbyte-integrations/connectors/source-zendesk-talk/acceptance-test-config.yml
  airbyte-integrations/connectors/source-zendesk-talk/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-zendesk-talk/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-talk/pyproject.toml
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/spec.json
  docs/integrations/sources/zendesk-talk.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-talk

#35788 🏥Source Pinterest: fix CAT
  airbyte-integrations/connectors/source-pinterest/acceptance-test-config.yml
  airbyte-integrations/connectors/source-pinterest/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/pinterest

#35763 Source Recurly: Unarchive and release as 1.0
  airbyte-integrations/connectors/source-recurly/.dockerignore
  airbyte-integrations/connectors/source-recurly/README.md
  airbyte-integrations/connectors/source-recurly/acceptance-test-config.yml
  airbyte-integrations/connectors/source-recurly/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-recurly/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-recurly/integration_tests/future_state.json
  airbyte-integrations/connectors/source-recurly/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-recurly/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-recurly/main.py
  airbyte-integrations/connectors/source-recurly/metadata.yaml
  airbyte-integrations/connectors/source-recurly/poetry.lock
  airbyte-integrations/connectors/source-recurly/pyproject.toml
  airbyte-integrations/connectors/source-recurly/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-recurly/sample_files/sample_catalog.json
  airbyte-integrations/connectors/source-recurly/sample_files/sample_config.json
  airbyte-integrations/connectors/source-recurly/source_recurly/__init__.py
  airbyte-integrations/connectors/source-recurly/source_recurly/run.py
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/account_coupon_redemptions.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/account_notes.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/accounts.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/add_ons.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/billing_infos.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/coupons.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/credit_payments.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/export_dates.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/invoices.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/line_items.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/measured_units.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/plans.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/shared/account_details.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/shared/billing_infos.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/shared/coupon_redemptions.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/shared/coupons.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/shared/external_accounts.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/shared/line_items.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/shared/shipping_addresses.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/shared/tax_info.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/shared/unique_coupons.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/shared/users.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/shipping_addresses.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/shipping_methods.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/subscriptions.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/transactions.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/unique_coupons.json
  airbyte-integrations/connectors/source-recurly/source_recurly/source.py
  airbyte-integrations/connectors/source-recurly/source_recurly/spec.json
  airbyte-integrations/connectors/source-recurly/source_recurly/streams.py
  airbyte-integrations/connectors/source-recurly/unit_tests/__init__.py
  airbyte-integrations/connectors/source-recurly/unit_tests/test_streams.py
  docs/integrations/sources/recurly-migrations.md
  docs/integrations/sources/recurly.md
Labels: area/documentation, area/connectors, connectors/source/recurly

#35785 apply latest airbyte-ci formatting
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/util/ConfiguredCatalogUtil.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/RawOnlySqlGenerator.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/DestinationInitialStatus.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/NoOpRawTableTDLock.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/TyperDeduperUtil.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/migrators/Migration.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/migrators/MinimumDestinationState.kt
  airbyte-integrations/connectors/source-mongodb-v2/src/test/debezium/DebeziumMongoDbConnectorTest.kt
  airbyte-integrations/connectors/source-mongodb-v2/src/test/generator/MongoDbInsertClient.kt
Labels: area/connectors, CDK, connectors/source/mongodb-v2

#35784 airbyte-ci: add kotlin support, update license message template
  LICENSE_SHORT
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/util/ConfiguredCatalogUtil.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/RawOnlySqlGenerator.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/DestinationInitialStatus.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/NoOpRawTableTDLock.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/TyperDeduperUtil.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/migrators/Migration.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/migrators/MinimumDestinationState.kt
  airbyte-ci/connectors/pipelines/README.md
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/format/configuration.py
  airbyte-ci/connectors/pipelines/pyproject.toml
  airbyte-ci/connectors/pipelines/tests/test_format/formatted_code/java.java
  airbyte-ci/connectors/pipelines/tests/test_format/formatted_code/python.py
  airbyte-integrations/connectors/source-mongodb-v2/src/test/debezium/DebeziumMongoDbConnectorTest.kt
  airbyte-integrations/connectors/source-mongodb-v2/src/test/generator/MongoDbInsertClient.kt
  spotless-maven-pom.xml
Labels: area/connectors, CDK, connectors/source/mongodb-v2

#35315 Destination bigquery: upgrade cdk
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDestination.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryStagingConsumerFactory.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQueryDestinationHandler.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGenerator.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/typing_deduping/AbstractBigQueryTypingDedupingTest.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGeneratorIntegrationTest.java
  airbyte-integrations/connectors/destination-bigquery/src/test/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGeneratorTest.java
  airbyte-integrations/connectors/destination-bigquery/src/test/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigqueryDestinationHandlerTest.java
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery

#35774 minor changes to the java CDK test code
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/core/src/testFixtures/java/io/airbyte/cdk/extensions/LoggingInvocationInterceptor.java
  airbyte-cdk/java/airbyte-cdk/core/src/testFixtures/java/io/airbyte/cdk/testutils/TestDatabase.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/source/relationaldb/CdcStateManager.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/java/io/airbyte/cdk/integrations/debezium/CdcSourceTest.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/java/io/airbyte/cdk/integrations/standardtest/source/AbstractSourceDatabaseTypeTest.java
  airbyte-cdk/java/airbyte-cdk/dependencies/src/testFixtures/java/io/airbyte/workers/internal/DefaultAirbyteSource.java
Labels: CDK

#35815 update support level metadata
  airbyte-integrations/connectors/source-recurly/metadata.yaml
Labels: area/connectors, connectors/source/recurly

#35806 Archive `destination-vertica`, restore `destination-vectara`
  airbyte-integrations/connectors/destination-vectara/.dockerignore
  airbyte-integrations/connectors/destination-vectara/Dockerfile
  airbyte-integrations/connectors/destination-vectara/README.md
  airbyte-integrations/connectors/destination-vectara/destination_vectara/__init__.py
  airbyte-integrations/connectors/destination-vectara/destination_vectara/client.py
  airbyte-integrations/connectors/destination-vectara/destination_vectara/config.py
  airbyte-integrations/connectors/destination-vectara/destination_vectara/destination.py
  airbyte-integrations/connectors/destination-vectara/destination_vectara/writer.py
  airbyte-integrations/connectors/destination-vectara/integration_tests/integration_test.py
  airbyte-integrations/connectors/destination-vectara/main.py
  airbyte-integrations/connectors/destination-vectara/requirements.txt
  airbyte-integrations/connectors/destination-vectara/setup.py
  airbyte-integrations/connectors/destination-vectara/unit_tests/__init__.py
  airbyte-integrations/connectors/destination-vertica/README.md
  airbyte-integrations/connectors/destination-vertica/build.gradle
  airbyte-integrations/connectors/destination-vertica/src/main/java/io/airbyte/integrations/destination/vertica/VerticaDestination.java
  airbyte-integrations/connectors/destination-vertica/src/main/java/io/airbyte/integrations/destination/vertica/VerticaNameTransformer.java
  airbyte-integrations/connectors/destination-vertica/src/main/java/io/airbyte/integrations/destination/vertica/VerticaSqlOperations.java
  airbyte-integrations/connectors/destination-vertica/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-vertica/src/test-integration/java/io/airbyte/integrations/destination/vertica/VerticaContainer.java
  airbyte-integrations/connectors/destination-vertica/src/test-integration/java/io/airbyte/integrations/destination/vertica/VerticaDestinationAcceptanceTest.java
Labels: area/connectors, connectors/destination/vertica, connectors/destination/vectara

#35688 file cdk: handle scalar values that resolve to None
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/parquet_parser.py
  airbyte-cdk/python/unit_tests/sources/file_based/file_types/test_parquet_parser.py
Labels: CDK

#35316 Destination redshift: Upgrade cdk
  airbyte-integrations/connectors/destination-redshift/build.gradle
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftInsertDestination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftStagingS3Destination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftDestinationHandler.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftState.kt
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGeneratorIntegrationTest.java
  docs/integrations/destinations/redshift.md
Labels: area/documentation, area/connectors, connectors/destination/redshift

#35818 CDK: upgrade pyarrow
  airbyte-cdk/python/setup.py
Labels: CDK

#35828 Source Recurly: bump version to unarchive in Cloud
  airbyte-integrations/connectors/source-recurly/metadata.yaml
  airbyte-integrations/connectors/source-recurly/pyproject.toml
  docs/integrations/sources/recurly.md
Labels: area/documentation, area/connectors, connectors/source/recurly

#35825 docs about how to unarchive a connector
  docs/integrations/connector-support-levels.md
Labels: area/documentation

#35528 Destination postgres: upgrade cdk
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/build.gradle
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/destination-postgres/build.gradle
  airbyte-integrations/connectors/destination-postgres/metadata.yaml
  airbyte-integrations/connectors/destination-postgres/src/main/java/io/airbyte/integrations/destination/postgres/PostgresDestination.java
  airbyte-integrations/connectors/destination-postgres/src/main/java/io/airbyte/integrations/destination/postgres/typing_deduping/PostgresDestinationHandler.java
  airbyte-integrations/connectors/destination-postgres/src/main/java/io/airbyte/integrations/destination/postgres/typing_deduping/PostgresState.kt
  airbyte-integrations/connectors/destination-postgres/src/test-integration/java/io/airbyte/integrations/destination/postgres/typing_deduping/PostgresSqlGeneratorIntegrationTest.java
  airbyte-integrations/connectors/destination-postgres/src/testFixtures/java/io/airbyte/integrations/destination/postgres/PostgresContainerFactory.java
  airbyte-integrations/connectors/destination-postgres/src/testFixtures/java/io/airbyte/integrations/destination/postgres/PostgresTestDatabase.java
  docs/integrations/destinations/postgres.md
Labels: area/documentation, area/connectors, connectors/destination/postgres, connectors/destination/postgres-strict-encrypt

#35735 [low-code] allow page size to be defined with string interpolation
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/models/declarative_component_schema.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/model_to_component_factory.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/strategies/page_increment.py
  airbyte-cdk/python/unit_tests/sources/declarative/parsers/test_model_to_component_factory.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/paginators/test_page_increment.py
Labels: CDK

#35827 java-CDK fixes to the Junit interceptor
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/core/src/testFixtures/java/io/airbyte/cdk/extensions/LoggingInvocationInterceptor.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/test/java/io/airbyte/cdk/integrations/destination/s3/csv/S3CsvWriterTest.java
  build.gradle
Labels: CDK

#35471 :bug: low-code: Fix incremental substreams
  airbyte-cdk/python/airbyte_cdk/sources/declarative/datetime/min_max_datetime.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_stream.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/incremental/datetime_based_cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/incremental/per_partition_cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/interpolation/jinja.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/partition_routers/list_partition_router.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/partition_routers/single_partition_router.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/partition_routers/substream_partition_router.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/http_requester.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/request_options/request_options_provider.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/retrievers/retriever.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/retrievers/simple_retriever.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/types.py
  airbyte-cdk/python/unit_tests/sources/declarative/datetime/test_min_max_datetime.py
  airbyte-cdk/python/unit_tests/sources/declarative/incremental/test_datetime_based_cursor.py
  airbyte-cdk/python/unit_tests/sources/declarative/incremental/test_per_partition_cursor.py
  airbyte-cdk/python/unit_tests/sources/declarative/incremental/test_per_partition_cursor_integration.py
  airbyte-cdk/python/unit_tests/sources/declarative/parsers/test_model_to_component_factory.py
  airbyte-cdk/python/unit_tests/sources/declarative/partition_routers/test_list_partition_router.py
  airbyte-cdk/python/unit_tests/sources/declarative/partition_routers/test_single_partition_router.py
  airbyte-cdk/python/unit_tests/sources/declarative/partition_routers/test_substream_partition_router.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_declarative_stream.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_types.py
Labels: CDK, connectors/source/chargebee

#35746 🚨🚨 Source Facebook Marketing: update API to `v19.0`
  airbyte-integrations/connectors/source-facebook-marketing/acceptance-test-config.yml
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/test_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/poetry.lock
  airbyte-integrations/connectors/source-facebook-marketing/pyproject.toml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/ads_insights.json
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/conftest.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/integration/request_builder.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/integration/test_ads_insights_action_product_id.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/integration/test_videos.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_api.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_async_job.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_async_job_manager.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_base_insight_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_base_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_client.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_config_migrations.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_errors.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_source.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_utils.py
  docs/integrations/sources/facebook-marketing-migrations.md
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing, breaking-change

#35481 ✨Source Amazon Ads: migrate source to `YamlDeclarativeSource` with custom `check_connection`
  airbyte-integrations/connectors/source-amazon-ads/metadata.yaml
  airbyte-integrations/connectors/source-amazon-ads/pyproject.toml
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/declarative_source_adapter.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/manifest.yaml
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/run.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/source.py
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/spec.yaml
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/integrations/utils.py
  airbyte-integrations/connectors/source-amazon-ads/unit_tests/test_source.py
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, area/connectors, connectors/source/amazon-ads

#35847 🏥Source Zendesk Support: fix expected records
  airbyte-integrations/connectors/source-zendesk-support/README.md
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/zendesk-support

#35725 Fix tags in metadata files for migrated community connectors
  airbyte-integrations/connectors/source-braintree/metadata.yaml
  airbyte-integrations/connectors/source-everhour/metadata.yaml
  airbyte-integrations/connectors/source-klaus-api/metadata.yaml
  airbyte-integrations/connectors/source-plaid/metadata.yaml
  airbyte-integrations/connectors/source-unleash/metadata.yaml
Labels: area/connectors, connectors/source/braintree, connectors/source/plaid, connectors/source/everhour, connectors/source/unleash, connectors/source/klaus-api

#35848 📝Source Amazon Seller Partner: update supportLevel to certified
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
Labels: area/connectors, connectors/source/amazon-seller-partner

#35624 live-tests: debug mode and initial regression tests framework
  .github/workflows/airbyte-ci-tests.yml
  .gitignore
  airbyte-ci/connectors/live-tests/README.md
  airbyte-ci/connectors/live-tests/poetry.lock
  airbyte-ci/connectors/live-tests/pyproject.toml
  airbyte-ci/connectors/live-tests/src/live_tests/__init__.py
  airbyte-ci/connectors/live-tests/src/live_tests/cli.py
  airbyte-ci/connectors/live-tests/src/live_tests/commons/__init__.py
  airbyte-ci/connectors/live-tests/src/live_tests/commons/backends/__init__.py
  airbyte-ci/connectors/live-tests/src/live_tests/commons/backends/base_backend.py
  airbyte-ci/connectors/live-tests/src/live_tests/commons/backends/file_backend.py
  airbyte-ci/connectors/live-tests/src/live_tests/commons/connector_runner.py
  airbyte-ci/connectors/live-tests/src/live_tests/commons/models.py
  airbyte-ci/connectors/live-tests/src/live_tests/commons/utils.py
  airbyte-ci/connectors/live-tests/src/live_tests/debug/__init__.py
  airbyte-ci/connectors/live-tests/src/live_tests/debug/cli.py
  airbyte-ci/connectors/live-tests/tests/__init__.py
  airbyte-ci/connectors/live-tests/tests/backends/__init__.py
  airbyte-ci/connectors/live-tests/tests/backends/test_file_backend.py
  airbyte-ci/connectors/pipelines/README.md
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/test/__init__.py
  airbyte-ci/connectors/pipelines/pyproject.toml
Labels: connectors/source/pokeapi

#35808 Source s3 cache connection
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/poetry.lock
  airbyte-integrations/connectors/source-s3/pyproject.toml
  airbyte-integrations/connectors/source-s3/source_s3/v4/stream_reader.py
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3

#35800 Source File: Add Python 3.11 support
  airbyte-integrations/connectors/source-file/metadata.yaml
  airbyte-integrations/connectors/source-file/poetry.lock
  airbyte-integrations/connectors/source-file/pyproject.toml
  docs/integrations/sources/file.md
Labels: area/documentation, area/connectors, connectors/source/file

#35857 Source S3: upgrade dependencies to avoid transformers transitive dependency
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/poetry.lock
  airbyte-integrations/connectors/source-s3/pyproject.toml
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3

#35721 get source-mssql CI to green
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mssql/gradle.properties
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcHelper.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcStateHandler.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcTargetPosition.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/cdc/MssqlDebeziumStateUtil.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/initialsync/MssqlInitialSyncStateIterator.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/AbstractMssqlSourceDatatypeTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/AbstractSshMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceDatatypeTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/CdcMssqlSslSourceTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/CdcStateCompressionTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/MssqlAgentStateTest.java
  airbyte-integrations/connectors/source-mssql/src/testFixtures/java/io/airbyte/integrations/source/mssql/MsSQLContainerFactory.java
  airbyte-integrations/connectors/source-mssql/src/testFixtures/java/io/airbyte/integrations/source/mssql/MsSQLTestDatabase.java
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, connectors/source/mssql

#35858 Source Microsoft Onedrive: Bump poetry.lock to upgrade transitive dependency
  airbyte-integrations/connectors/source-microsoft-onedrive/metadata.yaml
  airbyte-integrations/connectors/source-microsoft-onedrive/poetry.lock
  airbyte-integrations/connectors/source-microsoft-onedrive/pyproject.toml
  docs/integrations/sources/microsoft-onedrive.md
Labels: area/documentation, area/connectors, connectors/source/microsoft-onedrive

#35816 make query safer for servers that are case sensitive
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/cdc/MssqlDebeziumStateUtil.java
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, connectors/source/mssql

#35308 Destination Snowflake: Write extracted_at in UTC
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeDestinationHandler.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGenerator.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/migrations/SnowflakeState.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/typing_deduping/AbstractSnowflakeTypingDedupingTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGeneratorIntegrationTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/ltz_extracted_at_sync1_expectedrecords_dedup_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/ltz_extracted_at_sync1_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync1_cursorchange_expectedrecords_dedup_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync1_cursorchange_expectedrecords_dedup_raw.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync1_expectedrecords_dedup_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync1_expectedrecords_dedup_final2.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync1_expectedrecords_nondedup_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync1_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync1_expectedrecords_raw2.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_cursorchange_expectedrecords_incremental_dedup_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_cursorchange_expectedrecords_incremental_dedup_raw.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_append_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_overwrite_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_overwrite_raw.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_expectedrecords_incremental_dedup_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_expectedrecords_incremental_dedup_final2.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_expectedrecords_incremental_dedup_final_mixed_tzs.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_expectedrecords_raw2.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_expectedrecords_raw_mixed_tzs.jsonl
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, area/octavia-cli, connectors/destination/snowflake

#35206 🐛 Destination Vectara: Improve title extraction logic
  airbyte-integrations/connectors/destination-vectara/Dockerfile
  airbyte-integrations/connectors/destination-vectara/destination_vectara/writer.py
  airbyte-integrations/connectors/destination-vectara/metadata.yaml
  docs/integrations/destinations/vectara.md
Labels: area/documentation, area/connectors, community, connectors/destination/vectara

#35727 add background threads to MssqlTestDatabase
  airbyte-integrations/connectors/source-mssql/src/testFixtures/java/io/airbyte/integrations/source/mssql/MsSQLTestDatabase.java
  airbyte-integrations/connectors/source-mssql/src/testFixtures/java/io/airbyte/integrations/source/mssql/MsSqlTestDatabaseWithBackgroundThreads.java
Labels: area/connectors, connectors/source/mssql

#35669 [source-mongodb] record count in state & initial iterator refactor
  airbyte-integrations/connectors/source-mongodb-v2/build.gradle
  airbyte-integrations/connectors/source-mongodb-v2/metadata.yaml
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/InitialSnapshotHandler.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoDbSource.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoDbStateIterator.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbCdcInitializer.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/state/MongoDbStateManager.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test-integration/java/io/airbyte/integrations/source/mongodb/MongoDbSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/InitialSnapshotHandlerTest.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/MongoDbStateManagerTest.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbCdcInitializerTest.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbCdcStateHandlerTest.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/state/MongoDbStateManagerTest.java
  docs/integrations/sources/mongodb-v2.md
Labels: area/documentation, area/connectors, connectors/source/mongodb-v2

#35842 [Source-postgres]: Add logging in case of multiple records with same LSN
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/DebeziumStateDecoratingIterator.java
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/gradle.properties
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/testFixtures/java/io/airbyte/integrations/source/postgres/PostgresTestDatabase.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, CDK, connectors/source/postgres

#33839 Docs: Tutorials formatting + from scratch connector tutorial cleanup
  docs/connector-development/tutorials/building-a-java-destination.md
  docs/connector-development/tutorials/building-a-python-source.md
  docs/connector-development/tutorials/cdk-speedrun.md
  docs/connector-development/tutorials/cdk-tutorial-python-http/connection-checking.md
  docs/connector-development/tutorials/cdk-tutorial-python-http/creating-the-source.md
  docs/connector-development/tutorials/cdk-tutorial-python-http/declare-schema.md
  docs/connector-development/tutorials/cdk-tutorial-python-http/define-inputs.md
  docs/connector-development/tutorials/cdk-tutorial-python-http/getting-started.md
  docs/connector-development/tutorials/cdk-tutorial-python-http/install-dependencies.md
  docs/connector-development/tutorials/cdk-tutorial-python-http/read-data.md
  docs/connector-development/tutorials/cdk-tutorial-python-http/test-your-connector.md
  docs/connector-development/tutorials/cdk-tutorial-python-http/use-connector-in-airbyte.md
  docs/connector-development/tutorials/profile-java-connector-memory.md
  docs/connector-development/tutorials/the-hard-way/adding-incremental-sync.md
  docs/connector-development/tutorials/the-hard-way/build-a-connector-the-hard-way.md
Labels: area/documentation, team/documentation

#35403 update mssql doc
  docs/integrations/sources/mssql.md
Labels: area/documentation

#35850 :bug: Source S3: Return iam docs
  docs/integrations/sources/s3.md
Labels: area/documentation, connectors/source/microsoft-onedrive

#35812 :sparkles: Source Bing Ads: new streams: Audience Performance Report, Goals And Funnels Report, Product Dimension Performance Report
  airbyte-integrations/connectors/source-bing-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-bing-ads/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/pyproject.toml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/report_streams.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/audience_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/audience_performance_report_hourly.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/goals_and_funnels_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/goals_and_funnels_report_hourly.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/product_search_query_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/product_search_query_performance_report_hourly.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/source.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/test_audience_performance_report.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/test_goals_and_funnels_report.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/test_product_search_query_performance_report.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/test_report_stream.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/audience_performance_report_daily.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/audience_performance_report_daily_incremental.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/audience_performance_report_hourly.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/audience_performance_report_hourly_incremental.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/audience_performance_report_monthly.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/audience_performance_report_monthly_incremental.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/audience_performance_report_weekly.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/audience_performance_report_weekly_incremental.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/goals_and_funnels_report_daily.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/goals_and_funnels_report_daily_incremental.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/goals_and_funnels_report_hourly.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/goals_and_funnels_report_hourly_incremental.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/goals_and_funnels_report_monthly.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/goals_and_funnels_report_monthly_incremental.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/goals_and_funnels_report_weekly.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/goals_and_funnels_report_weekly_incremental.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/product_search_query_performance_report_daily.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/product_search_query_performance_report_daily_incremental.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/product_search_query_performance_report_hourly.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/product_search_query_performance_report_hourly_incremental.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/product_search_query_performance_report_monthly.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/product_search_query_performance_report_monthly_incremental.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/product_search_query_performance_report_weekly.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/product_search_query_performance_report_weekly_incremental.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/state/audience_performance_report_daily_state.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/state/audience_performance_report_hourly_state.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/state/audience_performance_report_monthly_state.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/state/audience_performance_report_weekly_state.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/state/goals_and_funnels_report_daily_state.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/state/goals_and_funnels_report_hourly_state.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/state/goals_and_funnels_report_monthly_state.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/state/goals_and_funnels_report_weekly_state.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/state/product_search_query_performance_report_daily_state.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/state/product_search_query_performance_report_hourly_state.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/state/product_search_query_performance_report_monthly_state.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/state/product_search_query_performance_report_weekly_state.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_source.py
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors, connectors/source/bing-ads, team/connectors-python

#35855 source-mssql: reduce the number of containers used in tests
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/AbstractSshMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/MssqlSslSourceTest.java
  airbyte-integrations/connectors/source-mssql/src/testFixtures/java/io/airbyte/integrations/source/mssql/MsSQLContainerFactory.java
  airbyte-integrations/connectors/source-mssql/src/testFixtures/java/io/airbyte/integrations/source/mssql/MsSQLTestDatabase.java
Labels: area/connectors, connectors/source/mssql

#35799 speed up source-mssql tests
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceDatatypeTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/CdcMssqlSslSourceTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/CdcStateCompressionTest.java
Labels: area/connectors, connectors/source/mssql

#35879 Declarative CDK: Fix None error on stream_slice
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_stream.py
Labels: CDK

#35865 🐛 follow up to #35471: update the cartesian stream slicer
  airbyte-cdk/python/airbyte_cdk/sources/declarative/stream_slicers/cartesian_product_stream_slicer.py
  airbyte-cdk/python/unit_tests/sources/declarative/stream_slicers/test_cartesian_product_stream_slicer.py
Labels: CDK

#35104 📝 Updated Qdrant destination icon
  airbyte-integrations/connectors/destination-qdrant/icon.svg
Labels: area/connectors, community, connectors/destination/qdrant

#34242 Source Ringcentral: add logo
  airbyte-integrations/connectors/source-ringcentral/icon.svg
  airbyte-integrations/connectors/source-ringcentral/metadata.yaml
Labels: area/connectors, community, connectors/source/ringcentral

#34724 [source-postgres] State counter on postgres
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/DebeziumIteratorConstants.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/java/io/airbyte/cdk/integrations/debezium/CdcSourceTest.java
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidStateIterator.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidStateManager.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/PostgresCtidHandler.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/xmin/PostgresXminHandler.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/xmin/XminStateIterator.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/xmin/XminStateManager.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/XminPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/XminPostgresWithOldServerSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/xmin/XminSourceStateIteratorTest.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, CDK, connectors/source/postgres

#35900 Docs: Fix link in Core Concepts page
  docs/using-airbyte/core-concepts/readme.md
Labels: area/documentation

#35899 Destination Snowflake: Handle NPE for state value.
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcDestinationHandler.java
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/build.gradle
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/destination-postgres/build.gradle
  airbyte-integrations/connectors/destination-postgres/metadata.yaml
  airbyte-integrations/connectors/destination-postgres/src/test/java/io/airbyte/integrations/destination/postgres/PostgresDestinationTest.java
  airbyte-integrations/connectors/destination-redshift/build.gradle
  airbyte-integrations/connectors/destination-redshift/gradle.properties
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/gradle.properties
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  docs/integrations/destinations/postgres.md
  docs/integrations/destinations/redshift.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/snowflake, connectors/destination/redshift, connectors/destination/postgres, connectors/destination/postgres-strict-encrypt

#35903 updated instructions for external logging
  docs/enterprise-setup/implementation-guide.md
Labels: area/documentation

#35873 GA release 4.0.0
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  docs/integrations/sources/mssql-migrations.md
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, connectors/source/mssql

#35685 connectors-qa: check cdk and language tags
  airbyte-ci/connectors/connectors_qa/src/connectors_qa/checks/metadata.py
  airbyte-ci/connectors/connectors_qa/tests/unit_tests/test_checks/test_metadata.py
  docs/contributing-to-airbyte/resources/qa-checks.md
Labels: area/documentation

#35662 🚨🚨 Source Hubspot: Update `Deals Property History` and `Companies Property History` to API `v3`
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/pyproject.toml
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/companies_property_history.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/deals_property_history.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/conftest.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_source.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_streams.py
  docs/integrations/sources/hubspot-migrations.md
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot, breaking-change

#35897 🐛 Source Orb: update enrich ledger entry with event stream to pass timeframe bounds
  airbyte-integrations/connectors/source-orb/Dockerfile
  airbyte-integrations/connectors/source-orb/acceptance-test-config.yml
  airbyte-integrations/connectors/source-orb/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-orb/integration_tests/abnormal_state_credits.json
  airbyte-integrations/connectors/source-orb/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-orb/integration_tests/configured_catalog_credits.json
  airbyte-integrations/connectors/source-orb/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-orb/metadata.yaml
  airbyte-integrations/connectors/source-orb/poetry.lock
  airbyte-integrations/connectors/source-orb/pyproject.toml
  airbyte-integrations/connectors/source-orb/setup.py
  airbyte-integrations/connectors/source-orb/source_orb/source.py
  airbyte-integrations/connectors/source-orb/unit_tests/test_incremental_streams.py
  docs/integrations/sources/orb.md
Labels: area/documentation, area/connectors, connectors/source/orb

#35913 Source Facebook Marketing: Fix lookback window
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/pyproject.toml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/base_insight_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_base_insight_streams.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing

#35927 Source Google Search Console: Update records/test config
  airbyte-integrations/connectors/source-google-search-console/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-search-console/integration_tests/expected_records.jsonl
  docs/integrations/sources/google-search-console.md
Labels: area/documentation, area/connectors, connectors/source/google-search-console

#35905 Introduce FinalStateCursor to emit state messages at the end of full refresh syncs
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_based_source.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/concurrent/adapters.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/concurrent/cursor/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/concurrent/cursor/file_based_final_state_cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/adapters.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/default_stream.py
  airbyte-cdk/python/unit_tests/sources/concurrent_source/test_concurrent_source_adapter.py
  airbyte-cdk/python/unit_tests/sources/file_based/stream/concurrent/test_adapters.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/scenarios/stream_facade_builder.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/scenarios/thread_based_concurrent_stream_scenarios.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/scenarios/thread_based_concurrent_stream_source_builder.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_default_stream.py
  airbyte-cdk/python/unit_tests/sources/streams/test_stream_read.py
  airbyte-cdk/python/unit_tests/sources/test_concurrent_source.py
  airbyte-cdk/python/unit_tests/sources/test_source_read.py
Labels: CDK

#35932 Better Heartbeating External Documentation.
  docs/understanding-airbyte/heartbeats.md
Labels: area/documentation

#35934 Improve Heartbeating External Docs.
  docs/understanding-airbyte/heartbeats.md
Labels: area/documentation

#35907 Emit record counts in state messages for concurrent streams
  airbyte-cdk/python/airbyte_cdk/entrypoint.py
  airbyte-cdk/python/airbyte_cdk/sources/connector_state_manager.py
  airbyte-cdk/python/airbyte_cdk/utils/message_utils.py
  airbyte-cdk/python/unit_tests/sources/file_based/test_scenarios.py
  airbyte-cdk/python/unit_tests/sources/mock_server_tests/test_mock_server_abstract_source.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/scenarios/thread_based_concurrent_stream_scenarios.py
  airbyte-cdk/python/unit_tests/test_entrypoint.py
  airbyte-cdk/python/unit_tests/utils/test_message_utils.py
Labels: CDK, connectors/source/stripe

#35861 added integration instructions to getting started
  docs/using-airbyte/pyairbyte/getting-started.mdx
Labels: area/documentation

#35951 📝 Source Amazon Ads: Update tags in metadata.yaml
  airbyte-integrations/connectors/source-amazon-ads/metadata.yaml
Labels: area/connectors, connectors/source/amazon-ads

#35935 Update on-kubernetes-via-helm.md - 0.52.0 helm charts upgrade informa…
  docs/deploying-airbyte/on-kubernetes-via-helm.md
Labels: area/documentation

#35955 Source S3: pin `transformers` transitive dependency
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/poetry.lock
  airbyte-integrations/connectors/source-s3/pyproject.toml
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3

#35966 Update enterprise setup guide for storage
  docs/enterprise-setup/implementation-guide.md
Labels: area/documentation

#35975 [Docs] Edit recharge wording
  docs/cloud/managing-airbyte-cloud/manage-credits.md
Labels: area/documentation

#35904 [source-postgres] : Add retries back to the DBZ connector
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/DebeziumPropertiesManager.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/DebeziumRecordIterator.java
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, CDK, connectors/source/postgres

#35976 [airbyte-cdk] entrypoint wrapper should use per-stream state not legacy format
  airbyte-cdk/python/airbyte_cdk/test/entrypoint_wrapper.py
  airbyte-cdk/python/unit_tests/test/test_entrypoint_wrapper.py
Labels: CDK

#35956 Source Microsoft Onedrive: pin transformers transitive dependency
  airbyte-integrations/connectors/source-microsoft-onedrive/metadata.yaml
  airbyte-integrations/connectors/source-microsoft-onedrive/poetry.lock
  airbyte-integrations/connectors/source-microsoft-onedrive/pyproject.toml
  docs/integrations/sources/microsoft-onedrive.md
Labels: area/documentation, area/connectors, connectors/source/microsoft-onedrive

#35954 ✨Source Amazon Seller Partner: add `GET_VENDOR_FORECASTING_REPORT` streams
  airbyte-integrations/connectors/source-amazon-seller-partner/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/pyproject.toml
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_VENDOR_FORECASTING_FRESH_REPORT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_VENDOR_FORECASTING_RETAIL_REPORT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/shared/GET_VENDOR_FORECASTING_REPORT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/integration/test_report_based_streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/resource/http/response/GET_VENDOR_FORECASTING_FRESH_REPORT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/resource/http/response/GET_VENDOR_FORECASTING_RETAIL_REPORT.json
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation, area/connectors, connectors/source/amazon-seller-partner

#35964 🏥Source Mixpanel: fix expected records
  airbyte-integrations/connectors/source-mixpanel/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/mixpanel

#35982 🐛 Source Recharge: Add `sort_by` to guarantee the records are in `ASC` order
  airbyte-integrations/connectors/source-recharge/README.md
  airbyte-integrations/connectors/source-recharge/metadata.yaml
  airbyte-integrations/connectors/source-recharge/poetry.lock
  airbyte-integrations/connectors/source-recharge/pyproject.toml
  airbyte-integrations/connectors/source-recharge/source_recharge/api.py
  airbyte-integrations/connectors/source-recharge/unit_tests/test_api.py
  docs/integrations/sources/recharge.md
Labels: area/documentation, area/connectors, connectors/source/recharge

#35987 Source Amplitude: unpin CDK
  airbyte-integrations/connectors/source-amplitude/integration_tests/integration_test.py
  airbyte-integrations/connectors/source-amplitude/metadata.yaml
  airbyte-integrations/connectors/source-amplitude/poetry.lock
  airbyte-integrations/connectors/source-amplitude/pyproject.toml
  docs/integrations/sources/amplitude.md
Labels: area/documentation, area/connectors, connectors/source/amplitude

#35868 raise exception with the full class name if a class for a custom comp…
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/model_to_component_factory.py
  airbyte-cdk/python/unit_tests/sources/declarative/parsers/test_model_to_component_factory.py
Labels: CDK

#35369 Source Zoom: Fix authenticator bug and add missing fields
  airbyte-integrations/connectors/source-zoom/Dockerfile
  airbyte-integrations/connectors/source-zoom/README.md
  airbyte-integrations/connectors/source-zoom/acceptance-test-config.yml
  airbyte-integrations/connectors/source-zoom/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-zoom/metadata.yaml
  airbyte-integrations/connectors/source-zoom/poetry.lock
  airbyte-integrations/connectors/source-zoom/pyproject.toml
  airbyte-integrations/connectors/source-zoom/requirements.txt
  airbyte-integrations/connectors/source-zoom/setup.py
  airbyte-integrations/connectors/source-zoom/source_zoom/components.py
  airbyte-integrations/connectors/source-zoom/source_zoom/manifest.yaml
  airbyte-integrations/connectors/source-zoom/source_zoom/schemas/meeting_poll_results.json
  airbyte-integrations/connectors/source-zoom/source_zoom/schemas/meeting_polls.json
  airbyte-integrations/connectors/source-zoom/source_zoom/schemas/meeting_registrants.json
  airbyte-integrations/connectors/source-zoom/source_zoom/schemas/meeting_registration_questions.json
  airbyte-integrations/connectors/source-zoom/source_zoom/schemas/meetings.json
  airbyte-integrations/connectors/source-zoom/source_zoom/schemas/meetings_list_tmp.json
  airbyte-integrations/connectors/source-zoom/source_zoom/schemas/report_meeting_participants.json
  airbyte-integrations/connectors/source-zoom/source_zoom/schemas/report_meetings.json
  airbyte-integrations/connectors/source-zoom/source_zoom/schemas/report_webinar_participants.json
  airbyte-integrations/connectors/source-zoom/source_zoom/schemas/report_webinars.json
  airbyte-integrations/connectors/source-zoom/source_zoom/schemas/users.json
  airbyte-integrations/connectors/source-zoom/source_zoom/schemas/webinar_absentees.json
  airbyte-integrations/connectors/source-zoom/source_zoom/schemas/webinar_panelists.json
  airbyte-integrations/connectors/source-zoom/source_zoom/schemas/webinar_poll_results.json
  airbyte-integrations/connectors/source-zoom/source_zoom/schemas/webinar_polls.json
  airbyte-integrations/connectors/source-zoom/source_zoom/schemas/webinar_qna_results.json
  airbyte-integrations/connectors/source-zoom/source_zoom/schemas/webinar_registrants.json
  airbyte-integrations/connectors/source-zoom/source_zoom/schemas/webinar_registration_questions.json
  airbyte-integrations/connectors/source-zoom/source_zoom/schemas/webinar_tracking_sources.json
  airbyte-integrations/connectors/source-zoom/source_zoom/schemas/webinars.json
  airbyte-integrations/connectors/source-zoom/source_zoom/schemas/webinars_list_tmp.json
  airbyte-integrations/connectors/source-zoom/unit_tests/test_zoom_authenticator.py
  docs/integrations/sources/zoom-migrations.md
  docs/integrations/sources/zoom.md
Labels: area/documentation, area/connectors, connectors/source/zoom

#35986 🐛 Source Github: Handle rate limit exception as config error
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/pyproject.toml
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/unit_tests/integration/test_events.py
  airbyte-integrations/connectors/source-github/unit_tests/test_multiple_token_authenticator.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors, connectors/source/github

#35967 Archive Google Workspace Admin Reports
  airbyte-integrations/connectors/source-google-workspace-admin-reports/.dockerignore
  airbyte-integrations/connectors/source-google-workspace-admin-reports/.gitignore
  airbyte-integrations/connectors/source-google-workspace-admin-reports/Dockerfile
  airbyte-integrations/connectors/source-google-workspace-admin-reports/README.md
  airbyte-integrations/connectors/source-google-workspace-admin-reports/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-workspace-admin-reports/integration_tests/__init__.py
  airbyte-integrations/connectors/source-google-workspace-admin-reports/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-google-workspace-admin-reports/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-google-workspace-admin-reports/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-google-workspace-admin-reports/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-google-workspace-admin-reports/main.py
  airbyte-integrations/connectors/source-google-workspace-admin-reports/metadata.yaml
  airbyte-integrations/connectors/source-google-workspace-admin-reports/requirements.txt
  airbyte-integrations/connectors/source-google-workspace-admin-reports/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-google-workspace-admin-reports/setup.py
  airbyte-integrations/connectors/source-google-workspace-admin-reports/source_google_workspace_admin_reports/__init__.py
  airbyte-integrations/connectors/source-google-workspace-admin-reports/source_google_workspace_admin_reports/api.py
  airbyte-integrations/connectors/source-google-workspace-admin-reports/source_google_workspace_admin_reports/client.py
  airbyte-integrations/connectors/source-google-workspace-admin-reports/source_google_workspace_admin_reports/run.py
  airbyte-integrations/connectors/source-google-workspace-admin-reports/source_google_workspace_admin_reports/schemas/admin.json
  airbyte-integrations/connectors/source-google-workspace-admin-reports/source_google_workspace_admin_reports/schemas/drive.json
  airbyte-integrations/connectors/source-google-workspace-admin-reports/source_google_workspace_admin_reports/schemas/logins.json
  airbyte-integrations/connectors/source-google-workspace-admin-reports/source_google_workspace_admin_reports/schemas/meet.json
  airbyte-integrations/connectors/source-google-workspace-admin-reports/source_google_workspace_admin_reports/schemas/mobile.json
  airbyte-integrations/connectors/source-google-workspace-admin-reports/source_google_workspace_admin_reports/schemas/oauth_tokens.json
  airbyte-integrations/connectors/source-google-workspace-admin-reports/source_google_workspace_admin_reports/source.py
  airbyte-integrations/connectors/source-google-workspace-admin-reports/source_google_workspace_admin_reports/spec.json
  airbyte-integrations/connectors/source-google-workspace-admin-reports/source_google_workspace_admin_reports/utils.py
  airbyte-integrations/connectors/source-google-workspace-admin-reports/unit_tests/unit_test.py
Labels: area/connectors, connectors/source/google-workspace-admin-reports

#36000 🐛 [source-shopify] Fix discover command if shop name does not exist
  airbyte-integrations/connectors/source-shopify/metadata.yaml
  airbyte-integrations/connectors/source-shopify/pyproject.toml
  airbyte-integrations/connectors/source-shopify/source_shopify/source.py
  airbyte-integrations/connectors/source-shopify/unit_tests/test_source.py
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors, connectors/source/shopify

#36018 gradle: add kotlin support in all projects, warnings as errors
  airbyte-cdk/java/airbyte-cdk/build.gradle
  airbyte-cdk/java/airbyte-cdk/db-sources/build.gradle
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/migrators/MinimumDestinationState.kt
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/build.gradle
  airbyte-integrations/connectors/destination-postgres/build.gradle
  airbyte-integrations/connectors/destination-postgres/src/main/java/io/airbyte/integrations/destination/postgres/typing_deduping/PostgresState.kt
  airbyte-integrations/connectors/destination-redshift/build.gradle
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftState.kt
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/migrations/SnowflakeState.kt
  airbyte-integrations/connectors/source-mongodb-v2/build.gradle
  build.gradle
Labels: area/connectors, CDK, connectors/destination/bigquery, connectors/destination/snowflake, connectors/destination/redshift, connectors/destination/postgres, connectors/source/mongodb-v2, connectors/destination/postgres-strict-encrypt

#35901 [airbyte-cdk] Fix tab delimiter configuration in CSV file type
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/csv_format.py
  airbyte-cdk/python/unit_tests/sources/file_based/config/test_csv_format.py
Labels: CDK, community

#36030 Update linkedin-ads.md
  docs/integrations/sources/linkedin-ads.md
Labels: area/documentation

#36011 configure debezium to correctly convert column with default value whe…
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/DebeziumPropertiesManager.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/SnapshotMetadata.java
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/AbstractMssqlSourceDatatypeTest.java
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, cdc, CDK, connectors/source/mssql

#36034 Docs (PyAirbyte): Add pyairbyte telemetry information and top-level `/telemetry` docs redirect
  docs/operator-guides/telemetry.md
  docusaurus/redirects.yml
Labels: area/documentation

#35939 [Source-postgres] : Compare each record’s lsn_commit value instead of lsn_proc.
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/cdc/PostgresCdcTargetPosition.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/cdc/PostgresDebeziumStateUtil.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres

#36036 🐛 Source Orb: fix window request for `credit_ledger_entries`
  airbyte-integrations/connectors/source-orb/metadata.yaml
  airbyte-integrations/connectors/source-orb/pyproject.toml
  airbyte-integrations/connectors/source-orb/source_orb/source.py
  docs/integrations/sources/orb.md
Labels: area/documentation, area/connectors, connectors/source/orb

#35509 Source Chargebee - Implement integration testing for otherwise untested streams [ITAS]
  airbyte-integrations/connectors/source-chargebee/acceptance-test-config.yml
  airbyte-integrations/connectors/source-chargebee/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-chargebee/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-chargebee/integration_tests/future_state.json
  airbyte-integrations/connectors/source-chargebee/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-chargebee/metadata.yaml
  airbyte-integrations/connectors/source-chargebee/poetry.lock
  airbyte-integrations/connectors/source-chargebee/pyproject.toml
  airbyte-integrations/connectors/source-chargebee/source_chargebee/manifest.yaml
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/__init__.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/config.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/pagination.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/request_builder.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/response_builder.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_addon.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_coupon.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_customer.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_event.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_hosted_page.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_plan.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_site_migration_detail.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_subscription.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/integration/test_virtual_bank_account.py
  airbyte-integrations/connectors/source-chargebee/unit_tests/resource/http/response/400.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/resource/http/response/401.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/resource/http/response/403.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/resource/http/response/429.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/resource/http/response/500.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/resource/http/response/addon.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/resource/http/response/coupon.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/resource/http/response/customer.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/resource/http/response/event.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/resource/http/response/hosted_page.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/resource/http/response/plan.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/resource/http/response/site_migration_detail.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/resource/http/response/subscription.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/resource/http/response/virtual_bank_account.json
  docs/integrations/sources/chargebee.md
Labels: area/documentation, area/connectors, connectors/source/chargebee

#35944 Destinations CDK: Plumbing related to airbyte_meta from protocol to raw table
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/base/JavaBaseConstants.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination/record_buffer/BaseSerializedBuffer.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination/record_buffer/SerializableBuffer.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/AsyncStreamConsumer.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/deser/DeserializationUtil.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/deser/IdentityDataTransformer.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/deser/StreamAwareDataTransformer.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/partial_messages/PartialAirbyteRecordMessage.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/core/src/test/java/io/airbyte/cdk/integrations/destination_async/AsyncStreamConsumerTest.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestination.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/JdbcSqlOperations.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcSqlGenerator.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/test/java/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestinationTest.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/java/io/airbyte/cdk/integrations/standardtest/destination/typing_deduping/JdbcSqlGeneratorIntegrationTest.java
  airbyte-cdk/java/airbyte-cdk/dependencies/build.gradle
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/s3/avro/AvroSerializedBuffer.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/s3/csv/BaseSheetGenerator.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/s3/csv/CsvSerializedBuffer.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/s3/csv/CsvSheetGenerator.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/s3/csv/StagingDatabaseCsvSheetGenerator.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/s3/jsonl/JsonLSerializedBuffer.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/s3/parquet/ParquetSerializedBuffer.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/staging/AsyncFlush.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/BaseDestinationV1V2Migrator.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/test/java/io/airbyte/integrations/base/destination/typing_deduping/DestinationV1V2MigratorTest.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/java/io/airbyte/integrations/base/destination/typing_deduping/BaseSqlGeneratorIntegrationTest.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/resources/dat/sync1_messages.jsonl
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/resources/sqlgenerator/alltypes_inputrecords.jsonl
Labels: CDK

#35999 Install Command Update, External Secret Management & Kubernetes Secrets
  docs/enterprise-setup/implementation-guide.md
Labels: area/documentation

#36038 fix sso auth block
  docs/enterprise-setup/implementation-guide.md
Labels: area/documentation

#35792 [source-mssql] mssql use SourceStateIterator to send out counts
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/initialsync/MssqlInitialLoadGlobalStateManager.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/initialsync/MssqlInitialLoadHandler.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/initialsync/MssqlInitialLoadStateManager.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/initialsync/MssqlInitialLoadStreamStateManager.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/initialsync/MssqlInitialReadUtil.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/initialsync/MssqlInitialSyncStateIterator.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceTest.java
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, connectors/source/mssql

#36010 Updated connector development overview doc
  docs/connector-development/README.md
  docs/connector-development/cdk-dotnet/README.md
Labels: area/documentation

#35997 Update on-kubernetes-via-helm.md
  docs/deploying-airbyte/on-kubernetes-via-helm.md
Labels: area/documentation, kubernetes

#35988 Source Greenhouse: unpin CDK
  airbyte-integrations/connectors/source-greenhouse/metadata.yaml
  airbyte-integrations/connectors/source-greenhouse/poetry.lock
  airbyte-integrations/connectors/source-greenhouse/pyproject.toml
  airbyte-integrations/connectors/source-greenhouse/source_greenhouse/components.py
  airbyte-integrations/connectors/source-greenhouse/source_greenhouse/manifest.yaml
  docs/integrations/sources/greenhouse.md
Labels: area/documentation, area/connectors, connectors/source/greenhouse

#36039 fix connector changelogs
  docs/integrations/destinations/astra.md
  docs/integrations/sources/adjust.md
  docs/integrations/sources/commcare.md
  docs/integrations/sources/e2e-test-cloud.md
  docs/integrations/sources/e2e-test.md
  docs/integrations/sources/genesys.md
  docs/integrations/sources/ip2whois.md
  docs/integrations/sources/kyriba.md
  docs/integrations/sources/kyve.md
  docs/integrations/sources/rocket-chat.md
  docs/integrations/sources/surveycto.md
  docs/integrations/sources/talkdesk-explore.md
Labels: area/documentation

#36037 Source Chargebee: Declare Unexpected Fields
  airbyte-integrations/connectors/source-chargebee/metadata.yaml
  airbyte-integrations/connectors/source-chargebee/pyproject.toml
  airbyte-integrations/connectors/source-chargebee/source_chargebee/components.py
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/coupon.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/customer.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/transaction.json
  airbyte-integrations/connectors/source-chargebee/unit_tests/test_component.py
  docs/integrations/sources/chargebee.md
Labels: area/documentation, area/connectors, connectors/source/chargebee

#36019 java CDK: add static deserialize*(byte[]) methods to Jsons
  airbyte-cdk/java/airbyte-cdk/dependencies/src/main/java/io/airbyte/commons/json/Jsons.java
Labels: CDK

#36020 java-cdk: prettier gradle dependency ordering
  airbyte-cdk/java/airbyte-cdk/db-destinations/build.gradle
  airbyte-cdk/java/airbyte-cdk/s3-destinations/build.gradle
Labels: CDK

#36022 java-cdk: bump version, update readme
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
Labels: CDK

#36023 java-cdk: change log level in log4j2-test.xml
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/core/src/testFixtures/resources/log4j2-test.xml
Labels: CDK

#36135 source-zoom: reference published version in breaking changes
  airbyte-integrations/connectors/source-zoom/metadata.yaml
  docs/integrations/sources/zoom-migrations.md
Labels: area/documentation, area/connectors, connectors/source/zoom

#36160 [source-s3] Bump python-cdk version to include CSV tab delimiter fix
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/poetry.lock
  airbyte-integrations/connectors/source-s3/pyproject.toml
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, community, connectors/source/s3

#36041 update redshift docs
  docs/integrations/destinations/redshift.md
Labels: area/documentation

#35909 [Docs] Release Notes for February 2024
  docs/release_notes/february_2024.md
  docusaurus/sidebars.js
Labels: area/documentation

#36172 Add Enterprise API instructions
  docs/enterprise-setup/api-access-config.md
  docs/enterprise-setup/assets/enterprise-applications-creation.png
  docs/enterprise-setup/implementation-guide.md
  docusaurus/sidebars.js
Labels: area/documentation

#36173 🎉 Source PayPal Transactions: Extend `Disputes` stream schema with missing properties
  airbyte-integrations/connectors/source-paypal-transaction/metadata.yaml
  airbyte-integrations/connectors/source-paypal-transaction/poetry.lock
  airbyte-integrations/connectors/source-paypal-transaction/pyproject.toml
  airbyte-integrations/connectors/source-paypal-transaction/source_paypal_transaction/schemas/list_disputes.json
  docs/integrations/sources/paypal-transaction.md
Labels: area/documentation, area/connectors, connectors/source/paypal-transaction

#36185 docs: fix or remove broken links
  docs/connector-development/tutorials/the-hard-way/build-a-connector-the-hard-way.md
  docs/understanding-airbyte/cdc.md
Labels: area/documentation

#36170 🐛 Source Shopify: fix `STATE` messages frequency for the `nested` sub-streams
  airbyte-integrations/connectors/source-shopify/integration_tests/expected_records_transactions_with_user_id.jsonl
  airbyte-integrations/connectors/source-shopify/metadata.yaml
  airbyte-integrations/connectors/source-shopify/poetry.lock
  airbyte-integrations/connectors/source-shopify/pyproject.toml
  airbyte-integrations/connectors/source-shopify/source_shopify/streams/base_streams.py
  airbyte-integrations/connectors/source-shopify/unit_tests/conftest.py
  airbyte-integrations/connectors/source-shopify/unit_tests/test_source.py
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors, connectors/source/shopify, team/connectors-python

#36187 🐛 low-code: remove debug sleep
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/http_requester.py
Labels: CDK

#36188 fix spacing and bad alerts
  docs/deploying-airbyte/on-kubernetes-via-helm.md
Labels: area/documentation

#36191 java-cdk: update README
  airbyte-cdk/java/airbyte-cdk/README.md
Labels: CDK

#36165 Source Paypal Transaction: Unpin CDK
  airbyte-integrations/connectors/source-paypal-transaction/metadata.yaml
  airbyte-integrations/connectors/source-paypal-transaction/poetry.lock
  airbyte-integrations/connectors/source-paypal-transaction/pyproject.toml
  docs/integrations/sources/paypal-transaction.md
Labels: area/documentation, area/connectors, connectors/source/paypal-transaction

#36196 delete bad or useless README files
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/base/ssh/readme.md
  airbyte-integrations/bases/base-normalization/README.md
  airbyte-integrations/bases/readme.md
  buildSrc/readme.md
  connectors.md
  tools/README.md
Labels: normalization, CDK

#36207 Wrap default namespace in optional to avoid NPE
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/integrations/destination/async/AsyncStreamConsumer.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/integrations/destination/async/buffers/BufferEnqueue.kt
  airbyte-cdk/java/airbyte-cdk/core/src/test/kotlin/io/airbyte/cdk/integrations/destination/async/AsyncStreamConsumerTest.kt
  airbyte-cdk/java/airbyte-cdk/core/src/test/kotlin/io/airbyte/cdk/integrations/destination/async/buffers/BufferDequeueTest.kt
  airbyte-cdk/java/airbyte-cdk/core/src/test/kotlin/io/airbyte/cdk/integrations/destination/async/buffers/BufferEnqueueTest.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/JdbcBufferedConsumerFactory.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/staging/StagingConsumerFactory.java
Labels: CDK

#36197 docs: update and remove some bad content
  docs/connector-development/README.md
  docs/connector-development/connector-metadata-file.md
  docs/connector-development/migration-to-base-image.md
  docs/connector-development/testing-connectors/standard-source-tests.md
  docs/connector-development/tutorials/profile-java-connector-memory.md
  docs/contributing-to-airbyte/README.md
  docs/contributing-to-airbyte/change-cdk-connector.md
  docs/contributing-to-airbyte/resources/code-style.md
  docs/contributing-to-airbyte/resources/developing-locally.md
  docs/contributing-to-airbyte/resources/gradle.md
  docs/contributing-to-airbyte/resources/python-gradle-setup.md
  docs/integrations/README.md
  docs/understanding-airbyte/tech-stack.md
  docusaurus/sidebars.js
Labels: area/documentation

#35843 Base datetime cursor state off latest observed record
  airbyte-cdk/python/airbyte_cdk/sources/declarative/incremental/cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/incremental/datetime_based_cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/incremental/per_partition_cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/retrievers/simple_retriever.py
  airbyte-cdk/python/unit_tests/sources/declarative/incremental/test_datetime_based_cursor.py
  airbyte-cdk/python/unit_tests/sources/declarative/incremental/test_per_partition_cursor_integration.py
  airbyte-cdk/python/unit_tests/sources/declarative/retrievers/test_simple_retriever.py
Labels: CDK

#35978 ✨ [source-facebook-marketing] [source-google-analytics-data-api] [source-salesforce] [source-stripe] bumping airbyte-cdk, regenerating poetry lock and fixing various tests
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/test_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/poetry.lock
  airbyte-integrations/connectors/source-facebook-marketing/pyproject.toml
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/integration/test_ads_insights_action_product_id.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/integration/test_videos.py
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/poetry.lock
  airbyte-integrations/connectors/source-salesforce/pyproject.toml
  airbyte-integrations/connectors/source-salesforce/source_salesforce/source.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/api_test.py
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/poetry.lock
  airbyte-integrations/connectors/source-stripe/pyproject.toml
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_application_fees.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_application_fees_refunds.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_authorizations.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_bank_accounts.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_cards.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_early_fraud_warnings.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_events.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_external_account_bank_accounts.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_external_account_cards.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_payment_methods.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_persons.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_reviews.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_transactions.py
  docs/integrations/sources/facebook-marketing.md
  docs/integrations/sources/google-analytics-data-api.md
  docs/integrations/sources/salesforce.md
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, connectors/source/stripe, connectors/source/facebook-marketing, connectors/source/salesforce, connectors/source/google-analytics-data-api

#36208 🎉 Source Google Ads: Add `Unrecognized Field` description while `check_connection`
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/poetry.lock
  airbyte-integrations/connectors/source-google-ads/pyproject.toml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/config_migrations.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/google_ads.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/utils.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/common.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_errors.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, connectors/source/google-ads

#36228 🏥 Source Twilio: Update expected records
  airbyte-integrations/connectors/source-twilio/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/twilio

#36015 🚨🚨✨ Source Facebook Pages: Upgrade Facebook API to v19.0
  airbyte-integrations/connectors/source-facebook-pages/Dockerfile
  airbyte-integrations/connectors/source-facebook-pages/README.md
  airbyte-integrations/connectors/source-facebook-pages/metadata.yaml
  airbyte-integrations/connectors/source-facebook-pages/poetry.lock
  airbyte-integrations/connectors/source-facebook-pages/pyproject.toml
  airbyte-integrations/connectors/source-facebook-pages/setup.py
  airbyte-integrations/connectors/source-facebook-pages/source_facebook_pages/manifest.yaml
  airbyte-integrations/connectors/source-facebook-pages/source_facebook_pages/schemas/page.json
  airbyte-integrations/connectors/source-facebook-pages/source_facebook_pages/schemas/shared/commercemerchantsettings.json
  airbyte-integrations/connectors/source-facebook-pages/source_facebook_pages/schemas/shared/commerceordertransactiondetail.json
  airbyte-integrations/connectors/source-facebook-pages/source_facebook_pages/schemas/shared/commercepayout.json
  airbyte-integrations/connectors/source-facebook-pages/source_facebook_pages/schemas/shared/instantarticle.json
  airbyte-integrations/connectors/source-facebook-pages/source_facebook_pages/schemas/shared/instantarticleinsightsqueryresult.json
  airbyte-integrations/connectors/source-facebook-pages/source_facebook_pages/schemas/shared/pagecommerceeligibility.json
  airbyte-integrations/connectors/source-facebook-pages/unit_tests/initial_record.json
  airbyte-integrations/connectors/source-facebook-pages/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-facebook-pages/unit_tests/transformed_record.json
  docs/integrations/sources/facebook-pages-migrations.md
  docs/integrations/sources/facebook-pages.md
Labels: area/documentation, area/connectors, connectors/source/facebook-pages

#36040 low-code: Allow developers to use a custom schema loader
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/models/declarative_component_schema.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/model_to_component_factory.py
  airbyte-cdk/python/unit_tests/sources/declarative/parsers/test_model_to_component_factory.py
Labels: CDK

#36227 java-cdk-destination: mark logs as debug
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/integrations/destination/async/state/GlobalAsyncStateManager.kt
Labels: CDK

#36058 Airbyte CDK (low code): add refresh_token_error handler to `DeclarativeOauth2Authenticator`
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/models/declarative_component_schema.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/parsers/model_to_component_factory.py
  airbyte-cdk/python/unit_tests/sources/declarative/parsers/test_model_to_component_factory.py
Labels: CDK

#36203 Destination Redshift: Json transformer for graceful handling of large records
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestination.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/JdbcBufferedConsumerFactory.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/staging/StagingConsumerFactory.java
  airbyte-integrations/connectors/destination-redshift/build.gradle
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftInsertDestination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftStagingS3Destination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/operations/RedshiftSqlOperations.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSuperLimitationTransformer.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/typing_deduping/AbstractRedshiftTypingDedupingTest.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync1_cursorchange_expectedrecords_dedup_raw.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync1_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync1_expectedrecords_raw2.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync1_recordnull_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync1_recordnull_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync2_cursorchange_expectedrecords_incremental_dedup_raw.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_overwrite_raw.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync2_expectedrecords_mixed_meta_raw.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync2_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync2_expectedrecords_raw2.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test/java/io/airbyte/integrations/destination/redshift/operations/RedshiftSqlOperationsTest.java
  airbyte-integrations/connectors/destination-redshift/src/test/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSuperLimitationTransformerTest.java
  airbyte-integrations/connectors/destination-redshift/src/test/resources/test.json
  docs/integrations/destinations/redshift.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/redshift

#36164 Source Typeform: Unpin CDK version
  airbyte-integrations/connectors/source-typeform/metadata.yaml
  airbyte-integrations/connectors/source-typeform/poetry.lock
  airbyte-integrations/connectors/source-typeform/pyproject.toml
  airbyte-integrations/connectors/source-typeform/source_typeform/components.py
  docs/integrations/sources/typeform.md
Labels: area/documentation, area/connectors, connectors/source/typeform

#36259 Update supported-data-types and nullability
  docs/understanding-airbyte/supported-data-types.md
Labels: area/documentation

#36216 Remove `most_recent_record` arg from `Cursor.close_slice`
  airbyte-cdk/python/airbyte_cdk/sources/declarative/incremental/cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/incremental/datetime_based_cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/incremental/per_partition_cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/retrievers/simple_retriever.py
  airbyte-cdk/python/unit_tests/sources/declarative/incremental/test_datetime_based_cursor.py
  airbyte-cdk/python/unit_tests/sources/declarative/incremental/test_per_partition_cursor.py
  airbyte-cdk/python/unit_tests/sources/declarative/retrievers/test_simple_retriever.py
Labels: CDK

#36279 Update bing-ads.md
  docs/integrations/sources/bing-ads.md
Labels: area/documentation

#36255 Destination Redshift: Certification & docs update
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  docs/integrations/destinations/redshift.md
Labels: area/documentation, area/connectors, connectors/destination/redshift

#36263 Custom convert incoming long for date and datetime types
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/db/jdbc/DateTimeConverter.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlDebeziumConverter.java
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, CDK, connectors/source/mssql

#36258 Attempt to fix flakiness
  airbyte-integrations/connectors/source-postgres/acceptance-test-config.yml
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/xmin/XminSourceStateIteratorTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/xmin/XminTestConstants.java
Labels: area/connectors, connectors/source/postgres

#36052 📝 [docs] fix small typo
  docs/connector-development/tutorials/cdk-tutorial-python-http/read-data.md
Labels: area/documentation, community

#36201 [ISSUE #6548] make all fields nullable except from pk and cursor field
  airbyte-cdk/python/airbyte_cdk/connector_builder/message_grouper.py
  airbyte-cdk/python/airbyte_cdk/test/catalog_builder.py
  airbyte-cdk/python/airbyte_cdk/utils/schema_inferrer.py
  airbyte-cdk/python/unit_tests/connector_builder/test_connector_builder_handler.py
  airbyte-cdk/python/unit_tests/connector_builder/test_message_grouper.py
  airbyte-cdk/python/unit_tests/utils/test_schema_inferrer.py
  airbyte-integrations/bases/connector-acceptance-test/unit_tests/test_backward_compatibility.py
Labels: CDK

#36235 📝Update certified connectors docs with full list of supported streams
  docs/integrations/sources/greenhouse.md
  docs/integrations/sources/harvest.md
  docs/integrations/sources/sendgrid.md
  docs/integrations/sources/surveymonkey.md
Labels: area/documentation, connectors/source/harvest, connectors/source/surveymonkey, connectors/source/greenhouse, connectors/source/sendgrid

#36025 Source Facebook Marketing: fix start_date selection behaviour
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/test_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/pyproject.toml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/base_insight_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_base_insight_streams.py
  docs/integrations/sources/facebook-marketing-migrations.md
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing
