Repository airbytehq/airbyte, pull requests merged in 2024-05, with the labels that each got.

#31935 🐛 Source Dynamodb: fix list more than 100 tables
  airbyte-integrations/connectors/source-dynamodb/metadata.yaml
  airbyte-integrations/connectors/source-dynamodb/src/main/java/io/airbyte/integrations/source/dynamodb/DynamodbOperations.java
  docs/integrations/sources/dynamodb.md
Labels: area/documentation, area/connectors, community, connectors/source/dynamodb

#37726 [Source-postgres] : Remove debezium retries
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/debezium/internals/DebeziumPropertiesManager.kt
  airbyte-integrations/connectors/source-postgres/build.gradle
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, CDK, connectors/source/postgres

#37267 source-survey-sparrow: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-survey-sparrow/Dockerfile
  airbyte-integrations/connectors/source-survey-sparrow/README.md
  airbyte-integrations/connectors/source-survey-sparrow/metadata.yaml
  airbyte-integrations/connectors/source-survey-sparrow/poetry.lock
  airbyte-integrations/connectors/source-survey-sparrow/pyproject.toml
  airbyte-integrations/connectors/source-survey-sparrow/setup.py
  airbyte-integrations/connectors/source-survey-sparrow/source_survey_sparrow/manifest.yaml
  airbyte-integrations/connectors/source-survey-sparrow/source_survey_sparrow/schemas/contact_lists.json
  airbyte-integrations/connectors/source-survey-sparrow/source_survey_sparrow/schemas/contacts.json
  airbyte-integrations/connectors/source-survey-sparrow/source_survey_sparrow/schemas/questions.json
  airbyte-integrations/connectors/source-survey-sparrow/source_survey_sparrow/schemas/responses.json
  airbyte-integrations/connectors/source-survey-sparrow/source_survey_sparrow/schemas/roles.json
  airbyte-integrations/connectors/source-survey-sparrow/source_survey_sparrow/schemas/survey_folders.json
  airbyte-integrations/connectors/source-survey-sparrow/source_survey_sparrow/schemas/surveys.json
  airbyte-integrations/connectors/source-survey-sparrow/source_survey_sparrow/schemas/users.json
  docs/integrations/sources/survey-sparrow.md
Labels: area/documentation, area/connectors, connectors/source/survey-sparrow, autopull

#37248 source-retently: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-retently/Dockerfile
  airbyte-integrations/connectors/source-retently/README.md
  airbyte-integrations/connectors/source-retently/metadata.yaml
  airbyte-integrations/connectors/source-retently/poetry.lock
  airbyte-integrations/connectors/source-retently/pyproject.toml
  airbyte-integrations/connectors/source-retently/setup.py
  airbyte-integrations/connectors/source-retently/source_retently/manifest.yaml
  airbyte-integrations/connectors/source-retently/source_retently/schemas/campaigns.json
  airbyte-integrations/connectors/source-retently/source_retently/schemas/companies.json
  airbyte-integrations/connectors/source-retently/source_retently/schemas/customers.json
  airbyte-integrations/connectors/source-retently/source_retently/schemas/feedback.json
  airbyte-integrations/connectors/source-retently/source_retently/schemas/nps.json
  airbyte-integrations/connectors/source-retently/source_retently/schemas/outbox.json
  airbyte-integrations/connectors/source-retently/source_retently/schemas/reports.json
  airbyte-integrations/connectors/source-retently/source_retently/schemas/templates.json
  docs/integrations/sources/retently.md
Labels: area/documentation, area/connectors, connectors/source/retently, autopull

#37246 source-recurly: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-recurly/metadata.yaml
  airbyte-integrations/connectors/source-recurly/poetry.lock
  airbyte-integrations/connectors/source-recurly/pyproject.toml
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/account_coupon_redemptions.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/account_notes.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/accounts.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/add_ons.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/credit_payments.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/export_dates.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/invoices.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/measured_units.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/plans.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/shipping_methods.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/subscriptions.json
  airbyte-integrations/connectors/source-recurly/source_recurly/schemas/transactions.json
  docs/integrations/sources/recurly.md
Labels: area/documentation, area/connectors, connectors/source/recurly, autopull

#37244 source-recreation: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-recreation/Dockerfile
  airbyte-integrations/connectors/source-recreation/README.md
  airbyte-integrations/connectors/source-recreation/metadata.yaml
  airbyte-integrations/connectors/source-recreation/poetry.lock
  airbyte-integrations/connectors/source-recreation/pyproject.toml
  airbyte-integrations/connectors/source-recreation/setup.py
  airbyte-integrations/connectors/source-recreation/source_recreation/manifest.yaml
  airbyte-integrations/connectors/source-recreation/source_recreation/schemas/activities.json
  airbyte-integrations/connectors/source-recreation/source_recreation/schemas/campsites.json
  airbyte-integrations/connectors/source-recreation/source_recreation/schemas/events.json
  airbyte-integrations/connectors/source-recreation/source_recreation/schemas/facilities.json
  airbyte-integrations/connectors/source-recreation/source_recreation/schemas/facilityaddresses.json
  airbyte-integrations/connectors/source-recreation/source_recreation/schemas/links.json
  airbyte-integrations/connectors/source-recreation/source_recreation/schemas/media.json
  airbyte-integrations/connectors/source-recreation/source_recreation/schemas/organizations.json
  airbyte-integrations/connectors/source-recreation/source_recreation/schemas/permits.json
  airbyte-integrations/connectors/source-recreation/source_recreation/schemas/recreationareaaddresses.json
  airbyte-integrations/connectors/source-recreation/source_recreation/schemas/recreationareas.json
  airbyte-integrations/connectors/source-recreation/source_recreation/schemas/tours.json
  docs/integrations/sources/recreation.md
Labels: area/documentation, area/connectors, connectors/source/recreation, autopull

#37722 :bug: Source Monday: fetch display value when text is empty
  airbyte-integrations/connectors/source-monday/metadata.yaml
  airbyte-integrations/connectors/source-monday/pyproject.toml
  airbyte-integrations/connectors/source-monday/source_monday/extractor.py
  airbyte-integrations/connectors/source-monday/source_monday/graphql_requester.py
  airbyte-integrations/connectors/source-monday/unit_tests/test_extractor.py
  airbyte-integrations/connectors/source-monday/unit_tests/test_graphql_requester.py
  docs/integrations/sources/monday.md
Labels: area/documentation, area/connectors, connectors/source/monday

#37237 source-pypi: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-pypi/Dockerfile
  airbyte-integrations/connectors/source-pypi/README.md
  airbyte-integrations/connectors/source-pypi/metadata.yaml
  airbyte-integrations/connectors/source-pypi/poetry.lock
  airbyte-integrations/connectors/source-pypi/pyproject.toml
  airbyte-integrations/connectors/source-pypi/setup.py
  airbyte-integrations/connectors/source-pypi/source_pypi/manifest.yaml
  airbyte-integrations/connectors/source-pypi/source_pypi/schemas/project.json
  airbyte-integrations/connectors/source-pypi/source_pypi/schemas/release.json
  airbyte-integrations/connectors/source-pypi/source_pypi/schemas/stats.json
  docs/integrations/sources/pypi.md
Labels: area/documentation, area/connectors, connectors/source/pypi, autopull

#37232 source-postmarkapp: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-postmarkapp/Dockerfile
  airbyte-integrations/connectors/source-postmarkapp/README.md
  airbyte-integrations/connectors/source-postmarkapp/metadata.yaml
  airbyte-integrations/connectors/source-postmarkapp/poetry.lock
  airbyte-integrations/connectors/source-postmarkapp/pyproject.toml
  airbyte-integrations/connectors/source-postmarkapp/setup.py
  airbyte-integrations/connectors/source-postmarkapp/source_postmarkapp/manifest.yaml
  airbyte-integrations/connectors/source-postmarkapp/source_postmarkapp/schemas/bounces.json
  airbyte-integrations/connectors/source-postmarkapp/source_postmarkapp/schemas/deliverystats.json
  airbyte-integrations/connectors/source-postmarkapp/source_postmarkapp/schemas/domains.json
  airbyte-integrations/connectors/source-postmarkapp/source_postmarkapp/schemas/message-streams.json
  airbyte-integrations/connectors/source-postmarkapp/source_postmarkapp/schemas/messages.json
  airbyte-integrations/connectors/source-postmarkapp/source_postmarkapp/schemas/outbound-stats.json
  airbyte-integrations/connectors/source-postmarkapp/source_postmarkapp/schemas/server.json
  airbyte-integrations/connectors/source-postmarkapp/source_postmarkapp/schemas/servers.json
  airbyte-integrations/connectors/source-postmarkapp/source_postmarkapp/schemas/templates.json
  docs/integrations/sources/postmarkapp.md
Labels: area/documentation, area/connectors, connectors/source/postmarkapp, autopull

#37230 source-polygon-stock-api: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-polygon-stock-api/Dockerfile
  airbyte-integrations/connectors/source-polygon-stock-api/README.md
  airbyte-integrations/connectors/source-polygon-stock-api/metadata.yaml
  airbyte-integrations/connectors/source-polygon-stock-api/poetry.lock
  airbyte-integrations/connectors/source-polygon-stock-api/pyproject.toml
  airbyte-integrations/connectors/source-polygon-stock-api/setup.py
  airbyte-integrations/connectors/source-polygon-stock-api/source_polygon_stock_api/manifest.yaml
  airbyte-integrations/connectors/source-polygon-stock-api/source_polygon_stock_api/schemas/stock_api.json
  docs/integrations/sources/polygon-stock-api.md
Labels: area/documentation, area/connectors, connectors/source/polygon-stock-api, autopull

#37228 source-pocket: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-pocket/Dockerfile
  airbyte-integrations/connectors/source-pocket/README.md
  airbyte-integrations/connectors/source-pocket/metadata.yaml
  airbyte-integrations/connectors/source-pocket/poetry.lock
  airbyte-integrations/connectors/source-pocket/pyproject.toml
  airbyte-integrations/connectors/source-pocket/setup.py
  airbyte-integrations/connectors/source-pocket/source_pocket/manifest.yaml
  airbyte-integrations/connectors/source-pocket/source_pocket/schemas/retrieve.json
  docs/integrations/sources/pocket.md
Labels: area/documentation, area/connectors, connectors/source/pocket, autopull

#37220 source-pendo: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-pendo/Dockerfile
  airbyte-integrations/connectors/source-pendo/README.md
  airbyte-integrations/connectors/source-pendo/metadata.yaml
  airbyte-integrations/connectors/source-pendo/poetry.lock
  airbyte-integrations/connectors/source-pendo/pyproject.toml
  airbyte-integrations/connectors/source-pendo/setup.py
  airbyte-integrations/connectors/source-pendo/source_pendo/manifest.yaml
  docs/integrations/sources/pendo.md
Labels: area/documentation, area/connectors, connectors/source/pendo, autopull

#37215 source-outreach: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-outreach/Dockerfile
  airbyte-integrations/connectors/source-outreach/README.md
  airbyte-integrations/connectors/source-outreach/metadata.yaml
  airbyte-integrations/connectors/source-outreach/poetry.lock
  airbyte-integrations/connectors/source-outreach/pyproject.toml
  airbyte-integrations/connectors/source-outreach/setup.py
  airbyte-integrations/connectors/source-outreach/source_outreach/schemas/accounts.json
  airbyte-integrations/connectors/source-outreach/source_outreach/schemas/call_dispositions.json
  airbyte-integrations/connectors/source-outreach/source_outreach/schemas/call_purposes.json
  airbyte-integrations/connectors/source-outreach/source_outreach/schemas/calls.json
  airbyte-integrations/connectors/source-outreach/source_outreach/schemas/mailboxes.json
  airbyte-integrations/connectors/source-outreach/source_outreach/schemas/mailings.json
  airbyte-integrations/connectors/source-outreach/source_outreach/schemas/opportunities.json
  airbyte-integrations/connectors/source-outreach/source_outreach/schemas/personas.json
  airbyte-integrations/connectors/source-outreach/source_outreach/schemas/prospects.json
  airbyte-integrations/connectors/source-outreach/source_outreach/schemas/sequence_states.json
  airbyte-integrations/connectors/source-outreach/source_outreach/schemas/sequence_steps.json
  airbyte-integrations/connectors/source-outreach/source_outreach/schemas/sequences.json
  airbyte-integrations/connectors/source-outreach/source_outreach/schemas/snippets.json
  airbyte-integrations/connectors/source-outreach/source_outreach/schemas/stages.json
  airbyte-integrations/connectors/source-outreach/source_outreach/schemas/tasks.json
  airbyte-integrations/connectors/source-outreach/source_outreach/schemas/templates.json
  airbyte-integrations/connectors/source-outreach/source_outreach/schemas/users.json
  docs/integrations/sources/outreach.md
Labels: area/documentation, area/connectors, connectors/source/outreach, autopull

#37296 source-yandex-metrica: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-yandex-metrica/Dockerfile
  airbyte-integrations/connectors/source-yandex-metrica/README.md
  airbyte-integrations/connectors/source-yandex-metrica/metadata.yaml
  airbyte-integrations/connectors/source-yandex-metrica/poetry.lock
  airbyte-integrations/connectors/source-yandex-metrica/pyproject.toml
  airbyte-integrations/connectors/source-yandex-metrica/setup.py
  airbyte-integrations/connectors/source-yandex-metrica/source_yandex_metrica/schemas/sessions.json
  airbyte-integrations/connectors/source-yandex-metrica/source_yandex_metrica/schemas/views.json
  docs/integrations/sources/yandex-metrica.md
Labels: area/documentation, area/connectors, connectors/source/yandex-metrica, autopull

#37283 source-visma-economic: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-visma-economic/Dockerfile
  airbyte-integrations/connectors/source-visma-economic/README.md
  airbyte-integrations/connectors/source-visma-economic/metadata.yaml
  airbyte-integrations/connectors/source-visma-economic/poetry.lock
  airbyte-integrations/connectors/source-visma-economic/pyproject.toml
  airbyte-integrations/connectors/source-visma-economic/setup.py
  airbyte-integrations/connectors/source-visma-economic/source_visma_economic/manifest.yaml
  airbyte-integrations/connectors/source-visma-economic/source_visma_economic/schemas/accounts.json
  airbyte-integrations/connectors/source-visma-economic/source_visma_economic/schemas/customers.json
  airbyte-integrations/connectors/source-visma-economic/source_visma_economic/schemas/invoices_booked.json
  airbyte-integrations/connectors/source-visma-economic/source_visma_economic/schemas/invoices_booked_document.json
  airbyte-integrations/connectors/source-visma-economic/source_visma_economic/schemas/invoices_paid.json
  airbyte-integrations/connectors/source-visma-economic/source_visma_economic/schemas/invoices_total.json
  airbyte-integrations/connectors/source-visma-economic/source_visma_economic/schemas/products.json
  docs/integrations/sources/visma-economic.md
Labels: area/documentation, area/connectors, connectors/source/visma-economic, autopull, test_context

#37115 source-apify-dataset: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-apify-dataset/Dockerfile
  airbyte-integrations/connectors/source-apify-dataset/README.md
  airbyte-integrations/connectors/source-apify-dataset/metadata.yaml
  airbyte-integrations/connectors/source-apify-dataset/poetry.lock
  airbyte-integrations/connectors/source-apify-dataset/pyproject.toml
  airbyte-integrations/connectors/source-apify-dataset/setup.py
  airbyte-integrations/connectors/source-apify-dataset/source_apify_dataset/manifest.yaml
  airbyte-integrations/connectors/source-apify-dataset/source_apify_dataset/schemas/dataset.json
  airbyte-integrations/connectors/source-apify-dataset/source_apify_dataset/schemas/dataset_collection.json
  airbyte-integrations/connectors/source-apify-dataset/source_apify_dataset/schemas/item_collection.json
  airbyte-integrations/connectors/source-apify-dataset/source_apify_dataset/schemas/item_collection_wcc.json
  docs/integrations/sources/apify-dataset.md
Labels: area/documentation, area/connectors, connectors/source/apify-dataset, autopull

#37124 source-bamboo-hr: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-bamboo-hr/Dockerfile
  airbyte-integrations/connectors/source-bamboo-hr/README.md
  airbyte-integrations/connectors/source-bamboo-hr/metadata.yaml
  airbyte-integrations/connectors/source-bamboo-hr/poetry.lock
  airbyte-integrations/connectors/source-bamboo-hr/pyproject.toml
  airbyte-integrations/connectors/source-bamboo-hr/setup.py
  airbyte-integrations/connectors/source-bamboo-hr/source_bamboo_hr/schemas/custom_reports_stream.json
  airbyte-integrations/connectors/source-bamboo-hr/source_bamboo_hr/schemas/employees_directory_stream.json
  docs/integrations/sources/bamboo-hr.md
Labels: area/documentation, area/connectors, connectors/source/bamboo-hr, autopull

#37131 source-cart: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-cart/Dockerfile
  airbyte-integrations/connectors/source-cart/README.md
  airbyte-integrations/connectors/source-cart/metadata.yaml
  airbyte-integrations/connectors/source-cart/poetry.lock
  airbyte-integrations/connectors/source-cart/pyproject.toml
  airbyte-integrations/connectors/source-cart/setup.py
  airbyte-integrations/connectors/source-cart/source_cart/schemas/addresses.json
  airbyte-integrations/connectors/source-cart/source_cart/schemas/customers_cart.json
  airbyte-integrations/connectors/source-cart/source_cart/schemas/order_items.json
  airbyte-integrations/connectors/source-cart/source_cart/schemas/order_payments.json
  airbyte-integrations/connectors/source-cart/source_cart/schemas/order_statuses.json
  airbyte-integrations/connectors/source-cart/source_cart/schemas/orders.json
  airbyte-integrations/connectors/source-cart/source_cart/schemas/products.json
  docs/integrations/sources/cart.md
Labels: area/documentation, area/connectors, connectors/source/cart, autopull

#37135 source-clockify: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-clockify/Dockerfile
  airbyte-integrations/connectors/source-clockify/README.md
  airbyte-integrations/connectors/source-clockify/metadata.yaml
  airbyte-integrations/connectors/source-clockify/poetry.lock
  airbyte-integrations/connectors/source-clockify/pyproject.toml
  airbyte-integrations/connectors/source-clockify/setup.py
  airbyte-integrations/connectors/source-clockify/source_clockify/manifest.yaml
  airbyte-integrations/connectors/source-clockify/source_clockify/schemas/clients.json
  airbyte-integrations/connectors/source-clockify/source_clockify/schemas/projects.json
  airbyte-integrations/connectors/source-clockify/source_clockify/schemas/tags.json
  airbyte-integrations/connectors/source-clockify/source_clockify/schemas/tasks.json
  airbyte-integrations/connectors/source-clockify/source_clockify/schemas/time_entries.json
  airbyte-integrations/connectors/source-clockify/source_clockify/schemas/user_groups.json
  airbyte-integrations/connectors/source-clockify/source_clockify/schemas/users.json
  docs/integrations/sources/clockify.md
Labels: area/documentation, area/connectors, connectors/source/clockify, autopull

#37138 source-coin-api: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-coin-api/Dockerfile
  airbyte-integrations/connectors/source-coin-api/README.md
  airbyte-integrations/connectors/source-coin-api/metadata.yaml
  airbyte-integrations/connectors/source-coin-api/poetry.lock
  airbyte-integrations/connectors/source-coin-api/pyproject.toml
  airbyte-integrations/connectors/source-coin-api/setup.py
  airbyte-integrations/connectors/source-coin-api/source_coin_api/manifest.yaml
  airbyte-integrations/connectors/source-coin-api/source_coin_api/schemas/ohlcv_historical_data.json
  airbyte-integrations/connectors/source-coin-api/source_coin_api/schemas/quotes_historical_data.json
  airbyte-integrations/connectors/source-coin-api/source_coin_api/schemas/trades_historical_data.json
  docs/integrations/sources/coin-api.md
Labels: area/documentation, area/connectors, connectors/source/coin-api, autopull

#37143 source-confluence: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-confluence/README.md
  airbyte-integrations/connectors/source-confluence/metadata.yaml
  airbyte-integrations/connectors/source-confluence/poetry.lock
  airbyte-integrations/connectors/source-confluence/pyproject.toml
  airbyte-integrations/connectors/source-confluence/source_confluence/manifest.yaml
  airbyte-integrations/connectors/source-confluence/source_confluence/schemas/audit.json
  airbyte-integrations/connectors/source-confluence/source_confluence/schemas/blog_posts.json
  airbyte-integrations/connectors/source-confluence/source_confluence/schemas/group.json
  airbyte-integrations/connectors/source-confluence/source_confluence/schemas/pages.json
  airbyte-integrations/connectors/source-confluence/source_confluence/schemas/space.json
  docs/integrations/sources/confluence.md
Labels: area/documentation, area/connectors, connectors/source/confluence, autopull

#37149 source-delighted: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-delighted/Dockerfile
  airbyte-integrations/connectors/source-delighted/README.md
  airbyte-integrations/connectors/source-delighted/metadata.yaml
  airbyte-integrations/connectors/source-delighted/poetry.lock
  airbyte-integrations/connectors/source-delighted/pyproject.toml
  airbyte-integrations/connectors/source-delighted/setup.py
  airbyte-integrations/connectors/source-delighted/source_delighted/manifest.yaml
  airbyte-integrations/connectors/source-delighted/source_delighted/schemas/bounces.json
  airbyte-integrations/connectors/source-delighted/source_delighted/schemas/people.json
  airbyte-integrations/connectors/source-delighted/source_delighted/schemas/survey_responses.json
  airbyte-integrations/connectors/source-delighted/source_delighted/schemas/unsubscribes.json
  docs/integrations/sources/delighted.md
Labels: area/documentation, area/connectors, connectors/source/delighted, autopull

#37151 source-dockerhub: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-dockerhub/Dockerfile
  airbyte-integrations/connectors/source-dockerhub/README.md
  airbyte-integrations/connectors/source-dockerhub/metadata.yaml
  airbyte-integrations/connectors/source-dockerhub/poetry.lock
  airbyte-integrations/connectors/source-dockerhub/pyproject.toml
  airbyte-integrations/connectors/source-dockerhub/setup.py
  airbyte-integrations/connectors/source-dockerhub/source_dockerhub/manifest.yaml
  airbyte-integrations/connectors/source-dockerhub/source_dockerhub/schemas/docker_hub.json
  docs/integrations/sources/dockerhub.md
Labels: area/documentation, area/connectors, connectors/source/dockerhub, autopull

#37153 source-drift: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-drift/Dockerfile
  airbyte-integrations/connectors/source-drift/README.md
  airbyte-integrations/connectors/source-drift/metadata.yaml
  airbyte-integrations/connectors/source-drift/poetry.lock
  airbyte-integrations/connectors/source-drift/pyproject.toml
  airbyte-integrations/connectors/source-drift/setup.py
  airbyte-integrations/connectors/source-drift/source_drift/manifest.yaml
  airbyte-integrations/connectors/source-drift/source_drift/schemas/accounts.json
  airbyte-integrations/connectors/source-drift/source_drift/schemas/contacts.json
  airbyte-integrations/connectors/source-drift/source_drift/schemas/conversations.json
  airbyte-integrations/connectors/source-drift/source_drift/schemas/messages.json
  airbyte-integrations/connectors/source-drift/source_drift/schemas/users.json
  docs/integrations/sources/drift.md
Labels: area/documentation, area/connectors, connectors/source/drift, autopull

#37154 source-emailoctopus: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-emailoctopus/Dockerfile
  airbyte-integrations/connectors/source-emailoctopus/README.md
  airbyte-integrations/connectors/source-emailoctopus/metadata.yaml
  airbyte-integrations/connectors/source-emailoctopus/poetry.lock
  airbyte-integrations/connectors/source-emailoctopus/pyproject.toml
  airbyte-integrations/connectors/source-emailoctopus/setup.py
  airbyte-integrations/connectors/source-emailoctopus/source_emailoctopus/manifest.yaml
  airbyte-integrations/connectors/source-emailoctopus/source_emailoctopus/schemas/campaigns.json
  airbyte-integrations/connectors/source-emailoctopus/source_emailoctopus/schemas/lists.json
  docs/integrations/sources/emailoctopus.md
Labels: area/documentation, area/connectors, connectors/source/emailoctopus, autopull

#37159 source-fastbill: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-fastbill/Dockerfile
  airbyte-integrations/connectors/source-fastbill/README.md
  airbyte-integrations/connectors/source-fastbill/metadata.yaml
  airbyte-integrations/connectors/source-fastbill/poetry.lock
  airbyte-integrations/connectors/source-fastbill/pyproject.toml
  airbyte-integrations/connectors/source-fastbill/setup.py
  airbyte-integrations/connectors/source-fastbill/source_fastbill/manifest.yaml
  airbyte-integrations/connectors/source-fastbill/source_fastbill/schemas/customers.json
  airbyte-integrations/connectors/source-fastbill/source_fastbill/schemas/invoices.json
  airbyte-integrations/connectors/source-fastbill/source_fastbill/schemas/products.json
  airbyte-integrations/connectors/source-fastbill/source_fastbill/schemas/recurring_invoices.json
  airbyte-integrations/connectors/source-fastbill/source_fastbill/schemas/revenues.json
  docs/integrations/sources/fastbill.md
Labels: area/documentation, area/connectors, connectors/source/fastbill, autopull

#37162 source-freshservice: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-freshservice/Dockerfile
  airbyte-integrations/connectors/source-freshservice/README.md
  airbyte-integrations/connectors/source-freshservice/metadata.yaml
  airbyte-integrations/connectors/source-freshservice/poetry.lock
  airbyte-integrations/connectors/source-freshservice/pyproject.toml
  airbyte-integrations/connectors/source-freshservice/setup.py
  airbyte-integrations/connectors/source-freshservice/source_freshservice/manifest.yaml
  airbyte-integrations/connectors/source-freshservice/source_freshservice/schemas/agents.json
  airbyte-integrations/connectors/source-freshservice/source_freshservice/schemas/assets.json
  airbyte-integrations/connectors/source-freshservice/source_freshservice/schemas/changes.json
  airbyte-integrations/connectors/source-freshservice/source_freshservice/schemas/locations.json
  airbyte-integrations/connectors/source-freshservice/source_freshservice/schemas/problems.json
  airbyte-integrations/connectors/source-freshservice/source_freshservice/schemas/products.json
  airbyte-integrations/connectors/source-freshservice/source_freshservice/schemas/purchase_orders.json
  airbyte-integrations/connectors/source-freshservice/source_freshservice/schemas/releases.json
  airbyte-integrations/connectors/source-freshservice/source_freshservice/schemas/requested_items.json
  airbyte-integrations/connectors/source-freshservice/source_freshservice/schemas/requesters.json
  airbyte-integrations/connectors/source-freshservice/source_freshservice/schemas/satisfaction_survey_responses.json
  airbyte-integrations/connectors/source-freshservice/source_freshservice/schemas/software.json
  airbyte-integrations/connectors/source-freshservice/source_freshservice/schemas/tickets.json
  airbyte-integrations/connectors/source-freshservice/source_freshservice/schemas/vendors.json
  docs/integrations/sources/freshservice.md
Labels: area/documentation, area/connectors, connectors/source/freshservice, autopull

#37167 source-glassfrog: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-glassfrog/Dockerfile
  airbyte-integrations/connectors/source-glassfrog/README.md
  airbyte-integrations/connectors/source-glassfrog/metadata.yaml
  airbyte-integrations/connectors/source-glassfrog/poetry.lock
  airbyte-integrations/connectors/source-glassfrog/pyproject.toml
  airbyte-integrations/connectors/source-glassfrog/setup.py
  airbyte-integrations/connectors/source-glassfrog/source_glassfrog/manifest.yaml
  airbyte-integrations/connectors/source-glassfrog/source_glassfrog/schemas/assignments.json
  airbyte-integrations/connectors/source-glassfrog/source_glassfrog/schemas/checklist_items.json
  airbyte-integrations/connectors/source-glassfrog/source_glassfrog/schemas/circles.json
  airbyte-integrations/connectors/source-glassfrog/source_glassfrog/schemas/custom_fields.json
  airbyte-integrations/connectors/source-glassfrog/source_glassfrog/schemas/metrics.json
  airbyte-integrations/connectors/source-glassfrog/source_glassfrog/schemas/people.json
  airbyte-integrations/connectors/source-glassfrog/source_glassfrog/schemas/projects.json
  airbyte-integrations/connectors/source-glassfrog/source_glassfrog/schemas/roles.json
  docs/integrations/sources/glassfrog.md
Labels: area/documentation, area/connectors, connectors/source/glassfrog, autopull

#37169 source-gong: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-gong/Dockerfile
  airbyte-integrations/connectors/source-gong/README.md
  airbyte-integrations/connectors/source-gong/metadata.yaml
  airbyte-integrations/connectors/source-gong/poetry.lock
  airbyte-integrations/connectors/source-gong/pyproject.toml
  airbyte-integrations/connectors/source-gong/setup.py
  airbyte-integrations/connectors/source-gong/source_gong/manifest.yaml
  airbyte-integrations/connectors/source-gong/source_gong/schemas/answeredScorecards.json
  airbyte-integrations/connectors/source-gong/source_gong/schemas/calls.json
  airbyte-integrations/connectors/source-gong/source_gong/schemas/scorecards.json
  airbyte-integrations/connectors/source-gong/source_gong/schemas/users.json
  docs/integrations/sources/gong.md
Labels: area/documentation, area/connectors, connectors/source/gong, autopull

#37171 source-google-pagespeed-insights: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-google-pagespeed-insights/Dockerfile
  airbyte-integrations/connectors/source-google-pagespeed-insights/README.md
  airbyte-integrations/connectors/source-google-pagespeed-insights/metadata.yaml
  airbyte-integrations/connectors/source-google-pagespeed-insights/poetry.lock
  airbyte-integrations/connectors/source-google-pagespeed-insights/pyproject.toml
  airbyte-integrations/connectors/source-google-pagespeed-insights/setup.py
  airbyte-integrations/connectors/source-google-pagespeed-insights/source_google_pagespeed_insights/manifest.yaml
  airbyte-integrations/connectors/source-google-pagespeed-insights/source_google_pagespeed_insights/schemas/pagespeed.json
  docs/integrations/sources/google-pagespeed-insights.md
Labels: area/documentation, area/connectors, connectors/source/google-pagespeed-insights, autopull

#37172 source-google-webfonts: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-google-webfonts/Dockerfile
  airbyte-integrations/connectors/source-google-webfonts/README.md
  airbyte-integrations/connectors/source-google-webfonts/metadata.yaml
  airbyte-integrations/connectors/source-google-webfonts/poetry.lock
  airbyte-integrations/connectors/source-google-webfonts/pyproject.toml
  airbyte-integrations/connectors/source-google-webfonts/setup.py
  airbyte-integrations/connectors/source-google-webfonts/source_google_webfonts/manifest.yaml
  airbyte-integrations/connectors/source-google-webfonts/source_google_webfonts/schemas/fonts.json
  docs/integrations/sources/google-webfonts.md
Labels: area/documentation, area/connectors, connectors/source/google-webfonts, autopull

#37177 source-insightly: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-insightly/Dockerfile
  airbyte-integrations/connectors/source-insightly/README.md
  airbyte-integrations/connectors/source-insightly/metadata.yaml
  airbyte-integrations/connectors/source-insightly/poetry.lock
  airbyte-integrations/connectors/source-insightly/pyproject.toml
  airbyte-integrations/connectors/source-insightly/setup.py
  airbyte-integrations/connectors/source-insightly/source_insightly/manifest.yaml
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/activity_sets.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/contacts.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/countries.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/currencies.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/emails.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/events.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/knowledge_article_categories.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/knowledge_article_folders.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/knowledge_articles.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/lead_sources.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/lead_statuses.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/leads.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/milestones.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/notes.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/opportunities.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/opportunity_categories.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/opportunity_products.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/opportunity_state_reasons.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/organisations.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/pipeline_stages.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/pipelines.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/pricebook_entries.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/pricebooks.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/products.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/project_categories.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/projects.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/prospects.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/quote_products.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/quotes.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/relationships.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/tags.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/task_categories.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/tasks.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/team_members.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/teams.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/tickets.json
  airbyte-integrations/connectors/source-insightly/source_insightly/schemas/users.json
  docs/integrations/sources/insightly.md
Labels: area/documentation, area/connectors, connectors/source/insightly, autopull

#37180 source-ip2whois: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-ip2whois/Dockerfile
  airbyte-integrations/connectors/source-ip2whois/README.md
  airbyte-integrations/connectors/source-ip2whois/metadata.yaml
  airbyte-integrations/connectors/source-ip2whois/poetry.lock
  airbyte-integrations/connectors/source-ip2whois/pyproject.toml
  airbyte-integrations/connectors/source-ip2whois/setup.py
  airbyte-integrations/connectors/source-ip2whois/source_ip2whois/manifest.yaml
  airbyte-integrations/connectors/source-ip2whois/source_ip2whois/schemas/whois.json
  docs/integrations/sources/ip2whois.md
Labels: area/documentation, area/connectors, connectors/source/ip2whois, autopull

#37181 source-k6-cloud: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-k6-cloud/Dockerfile
  airbyte-integrations/connectors/source-k6-cloud/README.md
  airbyte-integrations/connectors/source-k6-cloud/metadata.yaml
  airbyte-integrations/connectors/source-k6-cloud/poetry.lock
  airbyte-integrations/connectors/source-k6-cloud/pyproject.toml
  airbyte-integrations/connectors/source-k6-cloud/setup.py
  airbyte-integrations/connectors/source-k6-cloud/source_k6_cloud/manifest.yaml
  airbyte-integrations/connectors/source-k6-cloud/source_k6_cloud/schemas/k6-tests.json
  airbyte-integrations/connectors/source-k6-cloud/source_k6_cloud/schemas/organizations.json
  airbyte-integrations/connectors/source-k6-cloud/source_k6_cloud/schemas/projects.json
  docs/integrations/sources/k6-cloud.md
Labels: area/documentation, area/connectors, connectors/source/k6-cloud, autopull

#37184 source-kyriba: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-kyriba/README.md
  airbyte-integrations/connectors/source-kyriba/metadata.yaml
  airbyte-integrations/connectors/source-kyriba/poetry.lock
  airbyte-integrations/connectors/source-kyriba/pyproject.toml
  airbyte-integrations/connectors/source-kyriba/setup.py
  airbyte-integrations/connectors/source-kyriba/source_kyriba/schemas/accounts.json
  airbyte-integrations/connectors/source-kyriba/source_kyriba/schemas/bank_balances_eod.json
  airbyte-integrations/connectors/source-kyriba/source_kyriba/schemas/bank_balances_intraday.json
  airbyte-integrations/connectors/source-kyriba/source_kyriba/schemas/cash_balances_eod.json
  airbyte-integrations/connectors/source-kyriba/source_kyriba/schemas/cash_balances_intraday.json
  airbyte-integrations/connectors/source-kyriba/source_kyriba/schemas/cash_flows.json
  docs/integrations/sources/kyriba.md
Labels: area/documentation, area/connectors, connectors/source/kyriba, autopull

#37188 source-linnworks: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-linnworks/metadata.yaml
  airbyte-integrations/connectors/source-linnworks/poetry.lock
  airbyte-integrations/connectors/source-linnworks/pyproject.toml
  airbyte-integrations/connectors/source-linnworks/source_linnworks/schemas/processed_orders.json
  airbyte-integrations/connectors/source-linnworks/source_linnworks/schemas/stock_locations.json
  docs/integrations/sources/linnworks.md
Labels: area/documentation, area/connectors, connectors/source/linnworks, autopull

#37193 source-mailgun: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-mailgun/Dockerfile
  airbyte-integrations/connectors/source-mailgun/README.md
  airbyte-integrations/connectors/source-mailgun/metadata.yaml
  airbyte-integrations/connectors/source-mailgun/poetry.lock
  airbyte-integrations/connectors/source-mailgun/pyproject.toml
  airbyte-integrations/connectors/source-mailgun/setup.py
  airbyte-integrations/connectors/source-mailgun/source_mailgun/manifest.yaml
  airbyte-integrations/connectors/source-mailgun/source_mailgun/schemas/domains.json
  airbyte-integrations/connectors/source-mailgun/source_mailgun/schemas/events.json
  docs/integrations/sources/mailgun.md
Labels: area/documentation, area/connectors, connectors/source/mailgun, autopull

#37195 source-mailjet-sms: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-mailjet-sms/Dockerfile
  airbyte-integrations/connectors/source-mailjet-sms/README.md
  airbyte-integrations/connectors/source-mailjet-sms/metadata.yaml
  airbyte-integrations/connectors/source-mailjet-sms/poetry.lock
  airbyte-integrations/connectors/source-mailjet-sms/pyproject.toml
  airbyte-integrations/connectors/source-mailjet-sms/setup.py
  airbyte-integrations/connectors/source-mailjet-sms/source_mailjet_sms/manifest.yaml
  airbyte-integrations/connectors/source-mailjet-sms/source_mailjet_sms/schemas/sms.json
  docs/integrations/sources/mailjet-sms.md
Labels: area/documentation, area/connectors, connectors/source/mailjet-sms, autopull

#37204 source-nytimes: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-nytimes/Dockerfile
  airbyte-integrations/connectors/source-nytimes/README.md
  airbyte-integrations/connectors/source-nytimes/metadata.yaml
  airbyte-integrations/connectors/source-nytimes/poetry.lock
  airbyte-integrations/connectors/source-nytimes/pyproject.toml
  airbyte-integrations/connectors/source-nytimes/setup.py
  airbyte-integrations/connectors/source-nytimes/source_nytimes/manifest.yaml
  airbyte-integrations/connectors/source-nytimes/source_nytimes/schemas/archive.json
  airbyte-integrations/connectors/source-nytimes/source_nytimes/schemas/most_popular_emailed.json
  airbyte-integrations/connectors/source-nytimes/source_nytimes/schemas/most_popular_shared.json
  airbyte-integrations/connectors/source-nytimes/source_nytimes/schemas/most_popular_viewed.json
  docs/integrations/sources/nytimes.md
Labels: area/documentation, area/connectors, connectors/source/nytimes, autopull

#37209 source-openweather: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-openweather/README.md
  airbyte-integrations/connectors/source-openweather/metadata.yaml
  airbyte-integrations/connectors/source-openweather/poetry.lock
  airbyte-integrations/connectors/source-openweather/pyproject.toml
  airbyte-integrations/connectors/source-openweather/source_openweather/manifest.yaml
  airbyte-integrations/connectors/source-openweather/source_openweather/schemas/onecall.json
  docs/integrations/sources/openweather.md
Labels: area/documentation, area/connectors, connectors/source/openweather, autopull

#37210 source-opsgenie: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-opsgenie/Dockerfile
  airbyte-integrations/connectors/source-opsgenie/README.md
  airbyte-integrations/connectors/source-opsgenie/metadata.yaml
  airbyte-integrations/connectors/source-opsgenie/poetry.lock
  airbyte-integrations/connectors/source-opsgenie/pyproject.toml
  airbyte-integrations/connectors/source-opsgenie/setup.py
  airbyte-integrations/connectors/source-opsgenie/source_opsgenie/manifest.yaml
  airbyte-integrations/connectors/source-opsgenie/source_opsgenie/schemas/alert_logs.json
  airbyte-integrations/connectors/source-opsgenie/source_opsgenie/schemas/alert_recipients.json
  airbyte-integrations/connectors/source-opsgenie/source_opsgenie/schemas/alerts.json
  airbyte-integrations/connectors/source-opsgenie/source_opsgenie/schemas/incidents.json
  airbyte-integrations/connectors/source-opsgenie/source_opsgenie/schemas/integrations.json
  airbyte-integrations/connectors/source-opsgenie/source_opsgenie/schemas/services.json
  airbyte-integrations/connectors/source-opsgenie/source_opsgenie/schemas/teams.json
  airbyte-integrations/connectors/source-opsgenie/source_opsgenie/schemas/user_teams.json
  airbyte-integrations/connectors/source-opsgenie/source_opsgenie/schemas/users.json
  docs/integrations/sources/opsgenie.md
Labels: area/documentation, area/connectors, connectors/source/opsgenie, autopull

#37212 source-orbit: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-orbit/Dockerfile
  airbyte-integrations/connectors/source-orbit/README.md
  airbyte-integrations/connectors/source-orbit/metadata.yaml
  airbyte-integrations/connectors/source-orbit/poetry.lock
  airbyte-integrations/connectors/source-orbit/pyproject.toml
  airbyte-integrations/connectors/source-orbit/setup.py
  airbyte-integrations/connectors/source-orbit/source_orbit/manifest.yaml
  airbyte-integrations/connectors/source-orbit/source_orbit/schemas/members.json
  airbyte-integrations/connectors/source-orbit/source_orbit/schemas/workspace.json
  docs/integrations/sources/orbit.md
Labels: area/documentation, area/connectors, connectors/source/orbit, autopull

#37272 source-todoist: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-todoist/README.md
  airbyte-integrations/connectors/source-todoist/metadata.yaml
  airbyte-integrations/connectors/source-todoist/poetry.lock
  airbyte-integrations/connectors/source-todoist/pyproject.toml
  airbyte-integrations/connectors/source-todoist/setup.py
  airbyte-integrations/connectors/source-todoist/source_todoist/manifest.yaml
  airbyte-integrations/connectors/source-todoist/source_todoist/schemas/employees.json
  airbyte-integrations/connectors/source-todoist/source_todoist/schemas/projects.json
  airbyte-integrations/connectors/source-todoist/source_todoist/schemas/tasks.json
  docs/integrations/sources/todoist.md
Labels: area/documentation, area/connectors, connectors/source/todoist, autopull

#37270 source-timely: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-timely/Dockerfile
  airbyte-integrations/connectors/source-timely/README.md
  airbyte-integrations/connectors/source-timely/metadata.yaml
  airbyte-integrations/connectors/source-timely/poetry.lock
  airbyte-integrations/connectors/source-timely/pyproject.toml
  airbyte-integrations/connectors/source-timely/setup.py
  airbyte-integrations/connectors/source-timely/source_timely/manifest.yaml
  airbyte-integrations/connectors/source-timely/source_timely/schemas/events.json
  docs/integrations/sources/timely.md
Labels: area/documentation, area/connectors, connectors/source/timely, autopull

#37266 source-strava: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-strava/Dockerfile
  airbyte-integrations/connectors/source-strava/README.md
  airbyte-integrations/connectors/source-strava/metadata.yaml
  airbyte-integrations/connectors/source-strava/poetry.lock
  airbyte-integrations/connectors/source-strava/pyproject.toml
  airbyte-integrations/connectors/source-strava/setup.py
  airbyte-integrations/connectors/source-strava/source_strava/manifest.yaml
  airbyte-integrations/connectors/source-strava/source_strava/schemas/activities.json
  airbyte-integrations/connectors/source-strava/source_strava/schemas/athlete_stats.json
  docs/integrations/sources/strava.md
Labels: area/documentation, area/connectors, connectors/source/strava, autopull

#37261 source-smartengage: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-smartengage/Dockerfile
  airbyte-integrations/connectors/source-smartengage/README.md
  airbyte-integrations/connectors/source-smartengage/metadata.yaml
  airbyte-integrations/connectors/source-smartengage/poetry.lock
  airbyte-integrations/connectors/source-smartengage/pyproject.toml
  airbyte-integrations/connectors/source-smartengage/setup.py
  airbyte-integrations/connectors/source-smartengage/source_smartengage/manifest.yaml
  airbyte-integrations/connectors/source-smartengage/source_smartengage/schemas/avatars.json
  airbyte-integrations/connectors/source-smartengage/source_smartengage/schemas/custom_fields.json
  airbyte-integrations/connectors/source-smartengage/source_smartengage/schemas/sequences.json
  airbyte-integrations/connectors/source-smartengage/source_smartengage/schemas/tags.json
  docs/integrations/sources/smartengage.md
Labels: area/documentation, area/connectors, connectors/source/smartengage, autopull

#37742 [Certified sources] : Bump cdk versions to disable DBZ retries
  airbyte-integrations/connectors/source-mongodb-v2/build.gradle
  airbyte-integrations/connectors/source-mongodb-v2/metadata.yaml
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbCdcInitializer.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbDebeziumPropertiesManagerTest.java
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  docs/integrations/sources/mongodb-v2.md
  docs/integrations/sources/mssql.md
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, connectors/source/mssql, connectors/source/mysql, connectors/source/mongodb-v2

#37731 Remove schema evolution restriction from CDC docs and other tweaks
  docs/understanding-airbyte/cdc.md
Labels: area/documentation

#37755 bump metadata
  airbyte-integrations/connectors/source-postgres/metadata.yaml
Labels: area/connectors, connectors/source/postgres

#37754 Add debezium engine logs
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/debezium/internals/DebeziumRecordPublisher.kt
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, CDK, connectors/source/postgres

#37757 Update destinations/gcs.md
  docs/integrations/destinations/gcs.md
Labels: area/documentation

#37758 Set debezium num retries property to zero
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/debezium/internals/DebeziumPropertiesManager.kt
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, CDK, connectors/source/postgres

#37619 File-based CDK: fix schemas merge for nullable object types
  airbyte-cdk/python/airbyte_cdk/sources/file_based/schema_helpers.py
  airbyte-cdk/python/unit_tests/sources/file_based/test_schema_helpers.py
Labels: CDK

#37692 [Docs] Homepage video and product descriptions
  README.md
  docs/readme.md
Labels: area/documentation

#37600 Source Wrike: Changed last records to last record
  airbyte-integrations/connectors/source-wrike/Dockerfile
  airbyte-integrations/connectors/source-wrike/acceptance-test-config.yml
  airbyte-integrations/connectors/source-wrike/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-wrike/metadata.yaml
  airbyte-integrations/connectors/source-wrike/poetry.lock
  airbyte-integrations/connectors/source-wrike/pyproject.toml
  airbyte-integrations/connectors/source-wrike/requirements.txt
  airbyte-integrations/connectors/source-wrike/setup.py
  airbyte-integrations/connectors/source-wrike/source_wrike/manifest.yaml
  airbyte-integrations/connectors/source-wrike/source_wrike/schemas/workflows.json
  docs/integrations/sources/wrike.md
Labels: area/documentation, area/connectors, connectors/source/wrike

#37763 :hospital: Source Google Ads: Update expected records
  airbyte-integrations/connectors/source-google-ads/integration_tests/expected_records_click.jsonl
Labels: area/connectors, connectors/source/google-ads

#37594 Source Mailgun: Changed last recrods to last record
  airbyte-integrations/connectors/source-mailgun/metadata.yaml
  airbyte-integrations/connectors/source-mailgun/poetry.lock
  airbyte-integrations/connectors/source-mailgun/pyproject.toml
  airbyte-integrations/connectors/source-mailgun/requirements.txt
  airbyte-integrations/connectors/source-mailgun/source_mailgun/manifest.yaml
  docs/integrations/sources/mailgun.md
Labels: area/documentation, area/connectors, connectors/source/mailgun

#37573 :sparkles: Source Linkedin Ads: Update API version to `202404`
  airbyte-integrations/connectors/source-linkedin-ads/metadata.yaml
  airbyte-integrations/connectors/source-linkedin-ads/pyproject.toml
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/analytics_streams.py
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/streams.py
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/output_slices.json
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/test_source.py
  docs/integrations/sources/linkedin-ads.md
Labels: area/documentation, area/connectors, connectors/source/linkedin-ads, connectors/source/zendesk-support

#37768 [Docs] Define a record
  docs/using-airbyte/core-concepts/readme.md
Labels: area/documentation

#37761 :bug: Source Zendesk Support: Ticket Audits: added stop condition for fetching next pages, ignore 403 and 404 status codes.
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/pyproject.toml
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/components.py
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/manifest.yaml
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-support

#37770 :sparkles: Source Auth0: Replace custom multiple authenticators with Selective Authenticator
  airbyte-integrations/connectors/source-auth0/README.md
  airbyte-integrations/connectors/source-auth0/metadata.yaml
  airbyte-integrations/connectors/source-auth0/poetry.lock
  airbyte-integrations/connectors/source-auth0/pyproject.toml
  airbyte-integrations/connectors/source-auth0/setup.py
  airbyte-integrations/connectors/source-auth0/source_auth0/components.py
  airbyte-integrations/connectors/source-auth0/source_auth0/manifest.yaml
  docs/integrations/sources/auth0.md
Labels: area/documentation, area/connectors, connectors/source/auth0

#37773 File-based CDK: allow to merge schemas with nullable object values
  airbyte-cdk/python/airbyte_cdk/sources/file_based/schema_helpers.py
  airbyte-cdk/python/unit_tests/sources/file_based/test_schema_helpers.py
Labels: CDK

#37589 🐛 Source Shopify: Allow the known `HTTP errors` to be retried more than once for the BULK streams
  airbyte-integrations/connectors/source-shopify/metadata.yaml
  airbyte-integrations/connectors/source-shopify/pyproject.toml
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/job.py
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/retry.py
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/status.py
  airbyte-integrations/connectors/source-shopify/source_shopify/streams/base_streams.py
  airbyte-integrations/connectors/source-shopify/source_shopify/utils.py
  airbyte-integrations/connectors/source-shopify/unit_tests/graphql_bulk/test_job.py
  airbyte-integrations/connectors/source-shopify/unit_tests/test_control_rate_limit.py
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors, connectors/source/shopify, team/critical-connectors

#37776 Source S3: Update `airbyte-cdk` to fix the `discovery` command issue
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/poetry.lock
  airbyte-integrations/connectors/source-s3/pyproject.toml
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3

#37781 bump connectors to latest CDK version
  airbyte-integrations/connectors/source-mongodb-v2/build.gradle
  airbyte-integrations/connectors/source-mongodb-v2/metadata.yaml
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbDebeziumPropertiesManagerTest.java
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  docs/integrations/sources/mongodb-v2.md
  docs/integrations/sources/mssql.md
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, connectors/source/mssql, connectors/source/mysql, connectors/source/mongodb-v2

#37753 [Source-mongo] : Chunk size(limit) should correspond to ~1GB of data
  airbyte-integrations/connectors/source-mongodb-v2/metadata.yaml
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/InitialSnapshotHandler.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoUtil.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbCdcInitialSnapshotUtils.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/MongoUtilTest.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbCdcInitialSnapshotUtilsTest.java
  docs/integrations/sources/mongodb-v2.md
Labels: area/documentation, area/connectors, connectors/source/mongodb-v2

#37786 airbyte-ci: reduce required env var when running in CI (fixed)
  airbyte-ci/connectors/pipelines/README.md
  airbyte-ci/connectors/pipelines/pipelines/cli/dagger_pipeline_command.py
  airbyte-ci/connectors/pipelines/pipelines/models/contexts/pipeline_context.py
  airbyte-ci/connectors/pipelines/pyproject.toml
Labels: connectors/source/openweather

#37788 gradle.yml: make it run on forks
  .github/workflows/gradle.yml
Labels: connectors/destination/bigquery

#37592 Source Drift: Changed last records to last record
  airbyte-integrations/connectors/source-drift/metadata.yaml
  airbyte-integrations/connectors/source-drift/poetry.lock
  airbyte-integrations/connectors/source-drift/pyproject.toml
  airbyte-integrations/connectors/source-drift/requirements.txt
  airbyte-integrations/connectors/source-drift/source_drift/manifest.yaml
  docs/integrations/sources/drift.md
Labels: area/documentation, area/connectors, connectors/source/drift

#37593 Source Gainsight Px: Changed last records to last record
  airbyte-integrations/connectors/source-gainsight-px/Dockerfile
  airbyte-integrations/connectors/source-gainsight-px/metadata.yaml
  airbyte-integrations/connectors/source-gainsight-px/poetry.lock
  airbyte-integrations/connectors/source-gainsight-px/pyproject.toml
  airbyte-integrations/connectors/source-gainsight-px/requirements.txt
  airbyte-integrations/connectors/source-gainsight-px/setup.py
  airbyte-integrations/connectors/source-gainsight-px/source_gainsight_px/manifest.yaml
  docs/integrations/sources/gainsight-px.md
Labels: area/documentation, area/connectors, connectors/source/gainsight-px

#36497 Airbyte CDK: Test via airbyte CI test poetry packages
  .github/workflows/airbyte-ci-tests.yml
  .github/workflows/python_cdk_tests.yml
  airbyte-cdk/python/pyproject.toml
  airbyte-ci/connectors/pipelines/README.md
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/test/__init__.py
  airbyte-ci/connectors/pipelines/pyproject.toml
Labels: CDK

#36910 convert destination-snowflake to Kotlin CDK
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/db/jdbc/JdbcDatabase.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/integrations/base/IntegrationRunner.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/jdbc/JdbcSqlOperations.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcDestinationHandler.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/standardtest/destination/LocalAirbyteDestination.kt
  airbyte-cdk/java/airbyte-cdk/dependencies/src/testFixtures/kotlin/io/airbyte/workers/internal/AirbyteDestination.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/kotlin/io/airbyte/integrations/base/destination/typing_deduping/BaseDestinationV1V2Migrator.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/kotlin/io/airbyte/integrations/base/destination/typing_deduping/BaseSqlGeneratorIntegrationTest.kt
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/gradle.properties
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeDatabase.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeDestinationRunner.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeSourceOperations.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeSqlOperations.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeSqlStagingOperations.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeDestinationHandler.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGenerator.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeV1V2Migrator.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeV2TableMigrator.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeInsertDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeTestUtils.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/typing_deduping/AbstractSnowflakeTypingDedupingTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeInternalStagingLowercaseDatabaseTypingDedupingTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGeneratorIntegrationTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test/java/io/airbyte/integrations/destination/snowflake/SnowflakeSqlNameTransformerTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test/java/io/airbyte/integrations/destination/snowflake/SnowflakeSqlOperationsTest.java
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/snowflake, connectors/source/dynamodb

#36932 Mysql to emit stream initial loader
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/source/jdbc/AbstractJdbcSource.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/source/relationaldb/AbstractDbSource.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/source/relationaldb/InitialLoadHandler.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/kotlin/io/airbyte/cdk/integrations/debezium/CdcSourceTest.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/kotlin/io/airbyte/cdk/integrations/source/jdbc/test/JdbcSourceAcceptanceTest.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/kotlin/io/airbyte/cdk/integrations/standardtest/source/SourceAcceptanceTest.kt
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialLoadGlobalStateManager.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialLoadHandler.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialLoadStateManager.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialLoadStreamStateManager.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialReadUtil.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/CdcMysqlSourceTest.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/MySqlJdbcSourceAcceptanceTest.java
  docs/integrations/sources/mysql.md
  docs/integrations/sources/mysql/mysql-troubleshooting.md
Labels: area/documentation, area/connectors, CDK, connectors/source/mysql

#36929 Java CDK updates for mysql
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/integrations/base/spec_modification/SpecModifyingDestination.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/core/src/testFixtures/kotlin/io/airbyte/cdk/testutils/TestDatabase.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestination.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/jdbc/JdbcBufferedConsumerFactory.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/jdbc/JdbcSqlOperations.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcDestinationHandler.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcSqlGenerator.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcV1V2Migrator.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/NoOpJdbcDestinationHandler.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/RawOnlySqlGenerator.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/staging/SerialStagingConsumerFactory.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/standardtest/destination/typing_deduping/JdbcSqlGeneratorIntegrationTest.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/standardtest/destination/typing_deduping/JdbcTypingDedupingTest.kt
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/staging/StagingConsumerFactory.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/kotlin/io/airbyte/integrations/base/destination/typing_deduping/CatalogParser.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/kotlin/io/airbyte/integrations/base/destination/typing_deduping/SqlGenerator.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/kotlin/io/airbyte/integrations/base/destination/typing_deduping/StreamConfig.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/kotlin/io/airbyte/integrations/base/destination/typing_deduping/StreamId.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/kotlin/io/airbyte/integrations/base/destination/typing_deduping/migrators/MinimumDestinationState.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/test/kotlin/io/airbyte/integrations/base/destination/typing_deduping/CatalogParserTest.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/test/kotlin/io/airbyte/integrations/base/destination/typing_deduping/DefaultTyperDeduperTest.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/test/kotlin/io/airbyte/integrations/base/destination/typing_deduping/DestinationV1V2MigratorTest.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/test/kotlin/io/airbyte/integrations/base/destination/typing_deduping/MockSqlGenerator.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/kotlin/io/airbyte/integrations/base/destination/typing_deduping/BaseSqlGeneratorIntegrationTest.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/kotlin/io/airbyte/integrations/base/destination/typing_deduping/BaseTypingDedupingTest.kt
Labels: CDK, connectors/destination/mysql, connectors/destination/mysql-strict-encrypt

#36935 Java CDK: DV2 tests have separate testcases for safe_cast
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/kotlin/io/airbyte/integrations/base/destination/typing_deduping/BaseSqlGeneratorIntegrationTest.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/resources/dat/sync1_cursorchange_messages.jsonl
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/resources/dat/sync1_messages.jsonl
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/resources/sqlgenerator/all_types_v1_inputrecords.jsonl
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/resources/sqlgenerator/alltypes_inputrecords.jsonl
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/resources/sqlgenerator/alltypes_unsafe_inputrecords.jsonl
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/resources/sqlgenerator/cdcupdate_inputrecords_raw.jsonl
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/resources/sqlgenerator/incrementaldedup_inputrecords.jsonl
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/resources/sqlgenerator/mixedcasecolumnname_inputrecords.jsonl
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/resources/sqlgenerator/safe_cast/all_types_v1_inputrecords.jsonl
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/resources/sqlgenerator/safe_cast/alltypes_inputrecords.jsonl
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/resources/sqlgenerator/safe_cast/cdcupdate_inputrecords_raw.jsonl
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/resources/sqlgenerator/safe_cast/incrementaldedup_inputrecords.jsonl
Labels: CDK

#37807 rollback source-mysql to 3.3.25
  airbyte-integrations/connectors/source-mysql/metadata.yaml
Labels: area/connectors, connectors/source/mysql

#37752 📝 Update Builder's Record Selector docs
  docs/connector-development/connector-builder-ui/record-processing.mdx
Labels: area/documentation

#37824 [source-mysql] Fix NPE on cursor based full refresh
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/kotlin/io/airbyte/cdk/integrations/source/jdbc/test/JdbcSourceAcceptanceTest.kt
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlQueryUtils.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialReadUtil.java
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, CDK, connectors/source/mysql

#37749 ✨ Source Salesforce: Adding bulk stream mock server tests
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/pyproject.toml
  airbyte-integrations/connectors/source-salesforce/unit_tests/api_test.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/integration/test_bulk_stream.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/integration/test_rest_stream.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/salesforce_job_response_builder.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors, connectors/source/salesforce

#37844 Source Linkedin Ads: pin 2.0.0v on cloud.
  airbyte-integrations/connectors/source-linkedin-ads/metadata.yaml
Labels: area/connectors, connectors/source/linkedin-ads

#34613 Destination redshift: Update to latest cdk
  airbyte-integrations/connectors/destination-redshift/build.gradle
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftInsertDestination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftStagingS3Destination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/operations/RedshiftS3StagingSqlOperations.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftRawTableAirbyteMetaMigration.kt
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGenerator.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/typing_deduping/AbstractRedshiftTypingDedupingTest.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGeneratorIntegrationTest.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync1_cursorchange_expectedrecords_dedup_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync1_cursorchange_expectedrecords_dedup_raw.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync1_expectedrecords_dedup_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync1_expectedrecords_nondedup_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync1_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync1_messages_before_meta.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync2_cursorchange_expectedrecords_incremental_dedup_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync2_cursorchange_expectedrecords_incremental_dedup_raw.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_append_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_append_mixed_meta_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync2_expectedrecords_incremental_dedup_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync2_expectedrecords_incremental_dedup_meta_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync2_expectedrecords_mixed_meta_raw.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync2_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync2_messages_after_meta.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/sqlgenerator/alltypes_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/sqlgenerator/alltypes_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/sqlgenerator/alltypes_v1v2_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/sqlgenerator/alltypes_v1v2_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/sqlgenerator/incrementaldedup_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/sqlgenerator/incrementaldedup_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/sqlgenerator/mixedcasecolumnname_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/sqlgenerator/mixedcasecolumnname_expectedrecords_raw.jsonl
  docs/integrations/destinations/redshift.md
Labels: area/documentation, area/connectors, connectors/destination/redshift

#37854 allow BaseTypingDedupingTest to be interrupted
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/kotlin/io/airbyte/integrations/base/destination/typing_deduping/BaseTypingDedupingTest.kt
Labels: CDK

#37857 Destination Snowflake: Use safe executeMetadataQuery call
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeDestinationHandler.java
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/snowflake

#37429 [RFR for API Sources] New Python interfaces to support resumable full refresh
  airbyte-cdk/python/airbyte_cdk/sources/abstract_source.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_stream.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/concurrent/cursor/file_based_final_state_cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/checkpoint/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/checkpoint/checkpoint_reader.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/core.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_declarative_stream.py
  airbyte-cdk/python/unit_tests/sources/mock_server_tests/mock_source_fixture.py
  airbyte-cdk/python/unit_tests/sources/mock_server_tests/test_helpers/__init__.py
  airbyte-cdk/python/unit_tests/sources/mock_server_tests/test_helpers/airbyte_message_assertions.py
  airbyte-cdk/python/unit_tests/sources/mock_server_tests/test_mock_server_abstract_source.py
  airbyte-cdk/python/unit_tests/sources/mock_server_tests/test_resumable_full_refresh.py
  airbyte-cdk/python/unit_tests/sources/streams/checkpoint/__init__.py
  airbyte-cdk/python/unit_tests/sources/streams/checkpoint/test_checkpoint_reader.py
  airbyte-cdk/python/unit_tests/sources/streams/test_stream_read.py
  airbyte-cdk/python/unit_tests/sources/streams/test_streams_core.py
  airbyte-cdk/python/unit_tests/sources/test_abstract_source.py
  airbyte-cdk/python/unit_tests/sources/test_source.py
  airbyte-integrations/bases/connector-acceptance-test/unit_tests/test_core.py
  docs/connector-development/cdk-python/full-refresh-stream.md
  docs/connector-development/cdk-python/incremental-stream.md
  docs/connector-development/cdk-python/resumable-full-refresh-stream.md
Labels: area/documentation, CDK

#36851 [Source-mongo] : Add options for CAPTURE_MODE
  airbyte-integrations/connectors/source-mongodb-v2/build.gradle
  airbyte-integrations/connectors/source-mongodb-v2/integration_tests/expected_spec.json
  airbyte-integrations/connectors/source-mongodb-v2/metadata.yaml
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoConstants.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoDbSourceConfig.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbDebeziumPropertiesManager.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/resources/spec.json
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbDebeziumPropertiesManagerTest.java
  docs/integrations/sources/mongodb-v2.md
Labels: area/documentation, area/connectors, connectors/source/mongodb-v2

#37756 🌟 [destination-pinecone]: Add support for Pinecone Serverless
  airbyte-integrations/connectors/destination-pinecone/destination_pinecone/destination.py
  airbyte-integrations/connectors/destination-pinecone/destination_pinecone/indexer.py
  airbyte-integrations/connectors/destination-pinecone/integration_tests/pinecone_integration_test.py
  airbyte-integrations/connectors/destination-pinecone/metadata.yaml
  airbyte-integrations/connectors/destination-pinecone/poetry.lock
  airbyte-integrations/connectors/destination-pinecone/pyproject.toml
  airbyte-integrations/connectors/destination-pinecone/unit_tests/pinecone_indexer_test.py
  docs/integrations/destinations/pinecone.md
Labels: area/documentation, area/connectors, connectors/destination/pinecone

#37800 :sparkles: Source Square: Replace custom multiple authenticators with Selective Authenticator
  airbyte-integrations/connectors/source-square/Dockerfile
  airbyte-integrations/connectors/source-square/README.md
  airbyte-integrations/connectors/source-square/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-square/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-square/metadata.yaml
  airbyte-integrations/connectors/source-square/poetry.lock
  airbyte-integrations/connectors/source-square/pyproject.toml
  airbyte-integrations/connectors/source-square/setup.py
  airbyte-integrations/connectors/source-square/source_square/components.py
  airbyte-integrations/connectors/source-square/source_square/manifest.yaml
  airbyte-integrations/connectors/source-square/unit_tests/test_component.py
  airbyte-integrations/connectors/source-square/unit_tests/test_source.py
  docs/integrations/sources/square.md
Labels: area/documentation, area/connectors, connectors/source/square

#38013 :bug: Source Linkedin Ads: Fix issue where `Accounts` stream did not correctly handle provided account IDs
  airbyte-integrations/connectors/source-linkedin-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-linkedin-ads/metadata.yaml
  airbyte-integrations/connectors/source-linkedin-ads/poetry.lock
  airbyte-integrations/connectors/source-linkedin-ads/pyproject.toml
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/streams.py
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/test_source.py
  docs/integrations/sources/linkedin-ads.md
Labels: area/documentation, area/connectors, connectors/source/linkedin-ads

#37655 📝 Source Amazon Ads: add info agency account to docs/spec/error messages
  airbyte-integrations/connectors/source-amazon-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/spec.json
  airbyte-integrations/connectors/source-amazon-ads/metadata.yaml
  airbyte-integrations/connectors/source-amazon-ads/pyproject.toml
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/manifest.yaml
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/source.py
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, area/connectors, connectors/source/amazon-ads, team/connectors-python

#38010 🐛Source Klaviyo: add error handler for 5XX status codes
  airbyte-integrations/connectors/source-klaviyo/metadata.yaml
  airbyte-integrations/connectors/source-klaviyo/pyproject.toml
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/manifest.yaml
  docs/integrations/sources/klaviyo.md
Labels: area/documentation, area/connectors, connectors/source/klaviyo

#36630 source-amazon-seller-partner: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/poetry.lock
  airbyte-integrations/connectors/source-amazon-seller-partner/pyproject.toml
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_AFN_INVENTORY_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_AFN_INVENTORY_DATA_BY_COUNTRY.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_AMAZON_FULFILLED_SHIPMENTS_DATA_GENERAL.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_BRAND_ANALYTICS_MARKET_BASKET_REPORT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_BRAND_ANALYTICS_REPEAT_PURCHASE_REPORT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_BRAND_ANALYTICS_SEARCH_TERMS_REPORT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_ESTIMATED_FBA_FEES_TXT_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_FULFILLMENT_CUSTOMER_RETURNS_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_FULFILLMENT_CUSTOMER_SHIPMENT_PROMOTION_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_FULFILLMENT_CUSTOMER_SHIPMENT_REPLACEMENT_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_FULFILLMENT_REMOVAL_ORDER_DETAIL_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_FULFILLMENT_REMOVAL_SHIPMENT_DETAIL_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_INVENTORY_PLANNING_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_MYI_UNSUPPRESSED_INVENTORY_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_REIMBURSEMENTS_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_SNS_FORECAST_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_SNS_PERFORMANCE_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FBA_STORAGE_FEE_CHARGES_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FLAT_FILE_ACTIONABLE_ORDER_DATA_SHIPPING.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FLAT_FILE_ALL_ORDERS_DATA_BY_LAST_UPDATE_GENERAL.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FLAT_FILE_ALL_ORDERS_DATA_BY_ORDER_DATE_GENERAL.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FLAT_FILE_ARCHIVED_ORDERS_DATA_BY_ORDER_DATE.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FLAT_FILE_OPEN_LISTINGS_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_FLAT_FILE_RETURNS_DATA_BY_RETURN_DATE.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_LEDGER_DETAIL_VIEW_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_LEDGER_SUMMARY_VIEW_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_MERCHANTS_LISTINGS_FYP_REPORT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_MERCHANT_CANCELLED_LISTINGS_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_MERCHANT_LISTINGS_ALL_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_MERCHANT_LISTINGS_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_MERCHANT_LISTINGS_DATA_BACK_COMPAT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_MERCHANT_LISTINGS_INACTIVE_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_ORDER_REPORT_DATA_SHIPPING.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_RESTOCK_INVENTORY_RECOMMENDATIONS_REPORT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_SALES_AND_TRAFFIC_REPORT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_SELLER_FEEDBACK_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_STRANDED_INVENTORY_UI_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_V2_SETTLEMENT_REPORT_DATA_FLAT_FILE.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_VENDOR_INVENTORY_REPORT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_VENDOR_NET_PURE_PRODUCT_MARGIN_REPORT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_VENDOR_REAL_TIME_INVENTORY_REPORT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_VENDOR_SALES_REPORT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_VENDOR_TRAFFIC_REPORT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_XML_ALL_ORDERS_DATA_BY_ORDER_DATE_GENERAL.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_XML_BROWSE_TREE_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/ListFinancialEventGroups.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/ListFinancialEvents.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/OrderItems.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/Orders.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/VendorDirectFulfillmentShipping.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/VendorOrders.json
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation, area/connectors, connectors/source/amazon-seller-partner, autopull

#36631 source-amplitude: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-amplitude/metadata.yaml
  airbyte-integrations/connectors/source-amplitude/poetry.lock
  airbyte-integrations/connectors/source-amplitude/pyproject.toml
  airbyte-integrations/connectors/source-amplitude/source_amplitude/manifest.yaml
  airbyte-integrations/connectors/source-amplitude/source_amplitude/schemas/active_users.json
  airbyte-integrations/connectors/source-amplitude/source_amplitude/schemas/annotations.json
  airbyte-integrations/connectors/source-amplitude/source_amplitude/schemas/average_session_length.json
  airbyte-integrations/connectors/source-amplitude/source_amplitude/schemas/cohorts.json
  airbyte-integrations/connectors/source-amplitude/source_amplitude/schemas/events.json
  docs/integrations/sources/amplitude.md
Labels: area/documentation, area/connectors, connectors/source/amplitude, autopull

#36632 source-bing-ads: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/poetry.lock
  airbyte-integrations/connectors/source-bing-ads/pyproject.toml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/account_impression_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/account_impression_performance_report_hourly.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/account_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/account_performance_report_hourly.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/accounts.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/ad_group_impression_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/ad_group_impression_performance_report_hourly.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/ad_group_labels.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/ad_group_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/ad_group_performance_report_hourly.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/ad_groups.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/ad_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/ad_performance_report_hourly.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/ads.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/age_gender_audience_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/age_gender_audience_report_hourly.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/app_install_ad_labels.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/app_install_ads.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/audience_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/audience_performance_report_hourly.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/budget.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/budget_summary_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/campaign_impression_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/campaign_impression_performance_report_hourly.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/campaign_labels.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/campaign_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/campaign_performance_report_hourly.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/campaigns.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/geographic_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/geographic_performance_report_hourly.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/goals_and_funnels_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/goals_and_funnels_report_hourly.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/keyword_labels.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/keyword_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/keyword_performance_report_daily.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/keyword_performance_report_hourly.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/keywords.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/labels.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/product_dimension_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/product_dimension_performance_report_hourly.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/product_search_query_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/product_search_query_performance_report_hourly.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/search_query_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/search_query_performance_report_hourly.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/user_location_performance_report.json
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/schemas/user_location_performance_report_hourly.json
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors, connectors/source/bing-ads, connectors/source/amazon-seller-partner, autopull

#36637 source-gitlab: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-gitlab/metadata.yaml
  airbyte-integrations/connectors/source-gitlab/poetry.lock
  airbyte-integrations/connectors/source-gitlab/pyproject.toml
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/branches.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/commits.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/deployments.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/epic_issues.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/epics.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/group_issue_boards.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/group_labels.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/group_milestones.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/groups.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/issues.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/jobs.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/merge_request_commits.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/merge_requests.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/pipelines.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/pipelines_extended.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/project_labels.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/project_milestones.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/projects.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/releases.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/tags.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/users.json
  docs/integrations/sources/gitlab.md
Labels: area/documentation, area/connectors, connectors/source/gitlab, autopull

#36638 source-google-ads: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/poetry.lock
  airbyte-integrations/connectors/source-google-ads/pyproject.toml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/account_performance_report.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/ad_group.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/ad_group_ad.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/ad_group_ad_label.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/ad_group_ad_legacy.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/ad_group_bidding_strategy.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/ad_group_criterion.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/ad_group_criterion_label.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/ad_group_label.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/ad_listing_group_criterion.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/audience.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/campaign.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/campaign_bidding_strategy.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/campaign_budget.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/campaign_criterion.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/campaign_label.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/change_status.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/click_view.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/customer.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/customer_client.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/customer_label.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/display_keyword_view.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/geographic_view.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/keyword_view.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/label.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/service_accounts.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/shopping_performance_view.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/topic_view.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/user_interest.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/user_location_view.json
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, connectors/source/google-ads, autopull

#36639 source-google-search-console: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-google-search-console/metadata.yaml
  airbyte-integrations/connectors/source-google-search-console/poetry.lock
  airbyte-integrations/connectors/source-google-search-console/pyproject.toml
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/schemas/search_analytics_all_fields.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/schemas/search_analytics_by_country.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/schemas/search_analytics_by_date.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/schemas/search_analytics_by_device.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/schemas/search_analytics_by_page.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/schemas/search_analytics_by_query.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/schemas/search_analytics_keyword_page_report.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/schemas/search_analytics_keyword_site_report_by_page.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/schemas/search_analytics_keyword_site_report_by_site.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/schemas/search_analytics_page_report.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/schemas/search_analytics_site_report_by_page.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/schemas/search_analytics_site_report_by_site.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/schemas/sitemaps.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/schemas/sites.json
  docs/integrations/sources/google-search-console.md
Labels: area/documentation, area/connectors, connectors/source/google-search-console, autopull

#36643 source-instagram: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  airbyte-integrations/connectors/source-instagram/poetry.lock
  airbyte-integrations/connectors/source-instagram/pyproject.toml
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/media.json
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/media_insights.json
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/stories.json
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/story_insights.json
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/user_insights.json
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/user_lifetime_insights.json
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/users.json
  docs/integrations/sources/instagram.md
Labels: area/documentation, area/connectors, connectors/source/instagram, autopull

#36648 source-linkedin-ads: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-linkedin-ads/metadata.yaml
  airbyte-integrations/connectors/source-linkedin-ads/poetry.lock
  airbyte-integrations/connectors/source-linkedin-ads/pyproject.toml
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/schemas/account_users.json
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/schemas/accounts.json
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/schemas/ad_analytics.json
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/schemas/campaign_groups.json
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/schemas/campaigns.json
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/schemas/conversions.json
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/schemas/creatives.json
  docs/integrations/sources/linkedin-ads.md
Labels: area/documentation, area/connectors, connectors/source/linkedin-ads, connectors/source/mailchimp, autopull

#36649 source-mailchimp: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-mailchimp/metadata.yaml
  airbyte-integrations/connectors/source-mailchimp/poetry.lock
  airbyte-integrations/connectors/source-mailchimp/pyproject.toml
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/automations.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/campaigns.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/email_activity.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/interest_categories.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/interests.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/list_members.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/lists.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/reports.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/segment_members.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/segments.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/tags.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/schemas/unsubscribes.json
  docs/integrations/sources/mailchimp.md
Labels: area/documentation, area/connectors, connectors/source/mailchimp, autopull

#36661 source-slack: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-slack/metadata.yaml
  airbyte-integrations/connectors/source-slack/poetry.lock
  airbyte-integrations/connectors/source-slack/pyproject.toml
  airbyte-integrations/connectors/source-slack/source_slack/schemas/channel_members.json
  airbyte-integrations/connectors/source-slack/source_slack/schemas/channel_messages.json
  airbyte-integrations/connectors/source-slack/source_slack/schemas/channels.json
  airbyte-integrations/connectors/source-slack/source_slack/schemas/threads.json
  airbyte-integrations/connectors/source-slack/source_slack/schemas/users.json
  docs/integrations/sources/slack.md
Labels: area/documentation, area/connectors, connectors/source/slack, autopull

#36662 source-snapchat-marketing: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-snapchat-marketing/metadata.yaml
  airbyte-integrations/connectors/source-snapchat-marketing/poetry.lock
  airbyte-integrations/connectors/source-snapchat-marketing/pyproject.toml
  airbyte-integrations/connectors/source-snapchat-marketing/source_snapchat_marketing/schemas/adaccounts.json
  airbyte-integrations/connectors/source-snapchat-marketing/source_snapchat_marketing/schemas/ads.json
  airbyte-integrations/connectors/source-snapchat-marketing/source_snapchat_marketing/schemas/adsquads.json
  airbyte-integrations/connectors/source-snapchat-marketing/source_snapchat_marketing/schemas/basic_stats.json
  airbyte-integrations/connectors/source-snapchat-marketing/source_snapchat_marketing/schemas/campaigns.json
  airbyte-integrations/connectors/source-snapchat-marketing/source_snapchat_marketing/schemas/creatives.json
  airbyte-integrations/connectors/source-snapchat-marketing/source_snapchat_marketing/schemas/media.json
  airbyte-integrations/connectors/source-snapchat-marketing/source_snapchat_marketing/schemas/organizations.json
  airbyte-integrations/connectors/source-snapchat-marketing/source_snapchat_marketing/schemas/segments.json
  docs/integrations/sources/snapchat-marketing.md
Labels: area/documentation, area/connectors, connectors/source/snapchat-marketing, autopull

#36664 source-surveymonkey: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-surveymonkey/metadata.yaml
  airbyte-integrations/connectors/source-surveymonkey/poetry.lock
  airbyte-integrations/connectors/source-surveymonkey/pyproject.toml
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/schemas/collectors.json
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/schemas/survey_collectors.json
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/schemas/survey_ids.json
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/schemas/survey_pages.json
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/schemas/survey_questions.json
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/schemas/survey_responses.json
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/schemas/surveys.json
  docs/integrations/sources/surveymonkey.md
Labels: area/documentation, area/connectors, connectors/source/surveymonkey, autopull

#38023 :hospital: Source Huspot: Fix expected records
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/hubspot

#36645 source-iterable: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-iterable/metadata.yaml
  airbyte-integrations/connectors/source-iterable/poetry.lock
  airbyte-integrations/connectors/source-iterable/pyproject.toml
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/campaigns.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/campaigns_metrics.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/channels.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/email_bounce.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/email_click.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/email_complaint.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/email_open.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/email_send.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/email_send_skip.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/email_subscribe.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/email_unsubscribe.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/events.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/list_users.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/lists.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/message_types.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/metadata.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/templates.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/users.json
  docs/integrations/sources/iterable.md
Labels: area/documentation, area/connectors, connectors/source/iterable, autopull

#36651 source-mixpanel: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-mixpanel/metadata.yaml
  airbyte-integrations/connectors/source-mixpanel/poetry.lock
  airbyte-integrations/connectors/source-mixpanel/pyproject.toml
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/schemas/annotations.json
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/schemas/cohort_members.json
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/schemas/cohorts.json
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/schemas/engage.json
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/schemas/export.json
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/schemas/funnels.json
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/schemas/revenue.json
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_streams.py
  docs/integrations/sources/mixpanel.md
Labels: area/documentation, area/connectors, connectors/source/mixpanel, autopull

#36666 source-twilio: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-twilio/metadata.yaml
  airbyte-integrations/connectors/source-twilio/poetry.lock
  airbyte-integrations/connectors/source-twilio/pyproject.toml
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/accounts.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/addresses.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/alerts.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/applications.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/available_phone_number_countries.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/available_phone_numbers_local.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/available_phone_numbers_mobile.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/available_phone_numbers_toll_free.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/calls.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/conference_participants.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/conferences.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/conversation_messages.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/conversation_participants.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/conversations.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/dependent_phone_numbers.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/executions.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/flows.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/incoming_phone_numbers.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/keys.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/message_media.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/messages.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/outgoing_caller_ids.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/queues.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/recordings.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/roles.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/services.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/step.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/transcriptions.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/trunks.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/usage_records.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/usage_triggers.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/user_conversations.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/users.json
  airbyte-integrations/connectors/source-twilio/source_twilio/schemas/verify_services.json
  docs/integrations/sources/twilio.md
Labels: area/documentation, area/connectors, connectors/source/twilio, autopull

#36669 source-zendesk-support: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/poetry.lock
  airbyte-integrations/connectors/source-zendesk-support/pyproject.toml
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/account_attributes.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/article_comments.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/articles.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/attribute_definitions.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/audit_logs.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/brands.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/custom_roles.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/deleted_tickets.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/group_memberships.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/groups.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/macros.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/organization_fields.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/organization_memberships.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/organizations.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/post_comments.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/posts.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/satisfaction_ratings.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/schedules.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/sla_policies.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/tags.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/ticket_audits.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/ticket_comments.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/ticket_fields.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/ticket_forms.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/ticket_metric_events.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/ticket_metrics.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/ticket_skips.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/topics.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/user_fields.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/users.json
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/schemas/votes.json
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-support, autopull

#36625 source-zendesk-talk: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-zendesk-talk/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-talk/poetry.lock
  airbyte-integrations/connectors/source-zendesk-talk/pyproject.toml
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/schemas/account_overview.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/schemas/addresses.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/schemas/agents_activity.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/schemas/agents_overview.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/schemas/call_legs.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/schemas/calls.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/schemas/current_queue_activity.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/schemas/greeting_categories.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/schemas/greetings.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/schemas/ivr_menus.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/schemas/ivr_routes.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/schemas/ivrs.json
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/schemas/phone_numbers.json
  docs/integrations/sources/zendesk-talk.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-talk, autopull

#36665 source-tiktok-marketing: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-tiktok-marketing/metadata.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/poetry.lock
  airbyte-integrations/connectors/source-tiktok-marketing/pyproject.toml
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/ad_groups.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/ads.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/advertiser_ids.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/advertisers.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/audience_reports.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/audiences.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/basic_reports.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/campaigns.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/creative_assets_images.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/creative_assets_music.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/creative_assets_portfolios.json
  airbyte-integrations/connectors/source-tiktok-marketing/source_tiktok_marketing/schemas/creative_assets_videos.json
  docs/integrations/sources/tiktok-marketing.md
Labels: area/documentation, area/connectors, connectors/source/tiktok-marketing, autopull

#36654 source-paypal-transaction: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-paypal-transaction/metadata.yaml
  airbyte-integrations/connectors/source-paypal-transaction/poetry.lock
  airbyte-integrations/connectors/source-paypal-transaction/pyproject.toml
  airbyte-integrations/connectors/source-paypal-transaction/source_paypal_transaction/manifest.yaml
  airbyte-integrations/connectors/source-paypal-transaction/source_paypal_transaction/schemas/balances.json
  airbyte-integrations/connectors/source-paypal-transaction/source_paypal_transaction/schemas/list_disputes.json
  airbyte-integrations/connectors/source-paypal-transaction/source_paypal_transaction/schemas/list_payments.json
  airbyte-integrations/connectors/source-paypal-transaction/source_paypal_transaction/schemas/list_products.json
  airbyte-integrations/connectors/source-paypal-transaction/source_paypal_transaction/schemas/search_invoices.json
  airbyte-integrations/connectors/source-paypal-transaction/source_paypal_transaction/schemas/show_product_details.json
  airbyte-integrations/connectors/source-paypal-transaction/source_paypal_transaction/schemas/transactions.json
  docs/integrations/sources/paypal-transaction.md
Labels: area/documentation, area/connectors, connectors/source/paypal-transaction, autopull

#37799 :bug: Source File: add engine fastparquet to parquet reader options
  airbyte-integrations/connectors/source-file/metadata.yaml
  airbyte-integrations/connectors/source-file/poetry.lock
  airbyte-integrations/connectors/source-file/pyproject.toml
  airbyte-integrations/connectors/source-file/source_file/client.py
  docs/integrations/sources/file.md
Labels: area/documentation, area/connectors, connectors/source/file

#37451 Resumable Full Refresh sync for mssql
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/kotlin/io/airbyte/cdk/integrations/source/jdbc/DefaultJdbcSourceAcceptanceTest.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/kotlin/io/airbyte/cdk/integrations/source/jdbc/test/JdbcSourceAcceptanceTest.kt
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcHelper.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcStateHandler.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlQueryUtils.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/cdc/MssqlDebeziumStateUtil.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/initialsync/MssqlInitialLoadGlobalStateManager.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/initialsync/MssqlInitialLoadHandler.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/initialsync/MssqlInitialLoadRecordIterator.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/initialsync/MssqlInitialLoadStateManager.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/initialsync/MssqlInitialLoadStreamStateManager.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/initialsync/MssqlInitialReadUtil.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/CdcMssqlSslSourceTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/MssqlAgentStateTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/MssqlDebeziumStateUtilTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/MssqlInitialLoadHandlerTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/MssqlJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/testFixtures/java/io/airbyte/integrations/source/mssql/MsSQLTestDatabase.java
  airbyte-integrations/connectors/source-mssql/src/testFixtures/java/io/airbyte/integrations/source/mssql/MsSqlTestDatabaseWithBackgroundThreads.java
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, CDK, connectors/source/mssql

#38029 mssql rfr publish cdk
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, CDK, connectors/source/mssql

#37771 Source FB Marketing: Handle errors without API Error Code/Messages
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/pyproject.toml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/common.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_errors.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing

#38047 Postgres Docs: Fix Changelog Formatting
  docs/integrations/sources/postgres.md
Labels: area/documentation

#38046 Only check sourcedefined pk for eligibility of rfr
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, connectors/source/mysql

#37860 source-insightly: Pin to 0.2.0
  airbyte-integrations/connectors/source-insightly/metadata.yaml
Labels: area/connectors, connectors/source/insightly

#37660 Destination Postgres: Upgrade to latest CDK
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/build.gradle
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/src/test-integration/resources/dat/sync1_cursorchange_expectedrecords_dedup_final.jsonl
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/src/test-integration/resources/dat/sync1_cursorchange_expectedrecords_dedup_raw.jsonl
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/src/test-integration/resources/dat/sync1_expectedrecords_dedup_final.jsonl
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/src/test-integration/resources/dat/sync1_expectedrecords_nondedup_final.jsonl
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/src/test-integration/resources/dat/sync1_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/src/test-integration/resources/dat/sync2_cursorchange_expectedrecords_incremental_dedup_final.jsonl
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/src/test-integration/resources/dat/sync2_cursorchange_expectedrecords_incremental_dedup_raw.jsonl
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_append_final.jsonl
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_append_mixed_meta_final.jsonl
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/src/test-integration/resources/dat/sync2_expectedrecords_incremental_dedup_final.jsonl
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/src/test-integration/resources/dat/sync2_expectedrecords_incremental_dedup_meta_final.jsonl
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/src/test-integration/resources/dat/sync2_expectedrecords_mixed_meta_raw.jsonl
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/src/test-integration/resources/dat/sync2_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/src/test-integration/resources/dat/sync2_messages_after_meta.jsonl
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/src/test-integration/resources/dat/sync2_mixedcase_expectedrecords_fullrefresh_append_final.jsonl
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/src/test-integration/resources/dat/sync2_mixedcase_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-postgres/build.gradle
  airbyte-integrations/connectors/destination-postgres/metadata.yaml
  airbyte-integrations/connectors/destination-postgres/src/main/java/io/airbyte/integrations/destination/postgres/PostgresSQLNameTransformer.java
  airbyte-integrations/connectors/destination-postgres/src/main/java/io/airbyte/integrations/destination/postgres/typing_deduping/PostgresSqlGenerator.java
  airbyte-integrations/connectors/destination-postgres/src/test-integration/java/io/airbyte/integrations/destination/postgres/typing_deduping/PostgresSqlGeneratorIntegrationTest.java
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/dat/sync1_cursorchange_expectedrecords_dedup_final.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/dat/sync1_cursorchange_expectedrecords_dedup_raw.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/dat/sync1_expectedrecords_dedup_final.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/dat/sync1_expectedrecords_nondedup_final.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/dat/sync1_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/dat/sync1_messages_before_meta.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/dat/sync2_cursorchange_expectedrecords_incremental_dedup_final.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/dat/sync2_cursorchange_expectedrecords_incremental_dedup_raw.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_append_final.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_append_mixed_meta_final.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/dat/sync2_expectedrecords_incremental_dedup_final.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/dat/sync2_expectedrecords_incremental_dedup_meta_final.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/dat/sync2_expectedrecords_mixed_meta_raw.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/dat/sync2_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/dat/sync2_messages_after_meta.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/dat/sync2_mixedcase_expectedrecords_fullrefresh_append_final.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/dat/sync2_mixedcase_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/sqlgenerator/alltypes_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/sqlgenerator/alltypes_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/sqlgenerator/alltypes_v1v2_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/sqlgenerator/alltypes_v1v2_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/sqlgenerator/incrementaldedup_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/sqlgenerator/incrementaldedup_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/sqlgenerator/mixedcasecolumnname_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/sqlgenerator/mixedcasecolumnname_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-postgres/src/testFixtures/java/io/airbyte/integrations/destination/postgres/AbstractPostgresDestinationAcceptanceTest.java
  docs/integrations/destinations/postgres.md
Labels: area/documentation, area/connectors, connectors/destination/postgres, connectors/destination/postgres-strict-encrypt

#34611 Destination bigquery: Update to latest CDK
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/gradle.properties
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGeneratorIntegrationTest.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/dat/sync1_cursorchange_expectedrecords_dedup_final.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/dat/sync1_cursorchange_expectedrecords_dedup_raw.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/dat/sync1_expectedrecords_dedup_final.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/dat/sync1_expectedrecords_nondedup_final.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/dat/sync1_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/dat/sync2_cursorchange_expectedrecords_incremental_dedup_final.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/dat/sync2_cursorchange_expectedrecords_incremental_dedup_raw.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_append_final.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/dat/sync2_expectedrecords_incremental_dedup_final.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/dat/sync2_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/sqlgenerator/alltypes_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/sqlgenerator/alltypes_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/sqlgenerator/alltypes_v1v2_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/sqlgenerator/alltypes_v1v2_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/sqlgenerator/incrementaldedup_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/sqlgenerator/incrementaldedup_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/sqlgenerator/mixedcasecolumnname_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/sqlgenerator/mixedcasecolumnname_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigqueryDestinationHandlerTest.java
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery

#38042 Bump debezium in mssql to latest
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, connectors/source/mssql

#37712 DV2 CDK: remove incremental T+D
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/staging/GeneralStagingFunctions.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/staging/SerialFlush.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/staging/SerialStagingConsumerFactory.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/test/kotlin/io/airbyte/cdk/integrations/destination/staging/SerialStagingConsumerFactoryTest.kt
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/staging/AsyncFlush.kt
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/staging/StagingConsumerFactory.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/kotlin/io/airbyte/integrations/base/destination/typing_deduping/DefaultTyperDeduper.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/kotlin/io/airbyte/integrations/base/destination/typing_deduping/NoOpTyperDeduperWithV1V2Migrations.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/kotlin/io/airbyte/integrations/base/destination/typing_deduping/NoopTyperDeduper.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/kotlin/io/airbyte/integrations/base/destination/typing_deduping/TypeAndDedupeOperationValve.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/kotlin/io/airbyte/integrations/base/destination/typing_deduping/TyperDeduper.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/test/kotlin/io/airbyte/integrations/base/destination/typing_deduping/DefaultTyperDeduperTest.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/test/kotlin/io/airbyte/integrations/base/destination/typing_deduping/TypeAndDedupeOperationValveTest.kt
Labels: CDK

#36320 [airbyte-cdk] Increase the maximum parseable field size for CSV files
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/csv_parser.py
  airbyte-cdk/python/unit_tests/sources/file_based/file_types/test_csv_parser.py
Labels: CDK, community, team/extensibility

#34612 Destination snowflake: Update to latest cdk
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/gradle.properties
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeDestinationHandler.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGeneratorIntegrationTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/ltz_extracted_at_sync1_expectedrecords_dedup_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/ltz_extracted_at_sync1_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync1_cursorchange_expectedrecords_dedup_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync1_cursorchange_expectedrecords_dedup_raw.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync1_expectedrecords_dedup_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync1_expectedrecords_nondedup_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync1_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_cursorchange_expectedrecords_incremental_dedup_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_cursorchange_expectedrecords_incremental_dedup_raw.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_append_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_expectedrecords_incremental_dedup_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_expectedrecords_incremental_dedup_final_mixed_tzs.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_expectedrecords_raw_mixed_tzs.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/sqlgenerator/alltypes_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/sqlgenerator/alltypes_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/sqlgenerator/alltypes_v1v2_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/sqlgenerator/alltypes_v1v2_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/sqlgenerator/incrementaldedup_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/sqlgenerator/incrementaldedup_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/sqlgenerator/mixedcasecolumnname_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/sqlgenerator/mixedcasecolumnname_expectedrecords_raw.jsonl
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/snowflake

#36724 🎉 Source Mixpanel low code migration
  airbyte-integrations/connectors/source-mixpanel/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-mixpanel/metadata.yaml
  airbyte-integrations/connectors/source-mixpanel/pyproject.toml
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/components.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/manifest.yaml
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/schemas/funnel_ids.json
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/source.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams/__init__.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams/annotations.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams/base.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams/cohort_members.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams/cohorts.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams/engage.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams/funnels.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/streams/revenue.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/testing.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/conftest.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_source.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/unit_test.py
  airbyte-integrations/connectors/source-mixpanel/unit_tests/utils.py
  docs/integrations/sources/mixpanel.md
Labels: area/documentation, area/connectors, connectors/source/mixpanel, low-code-migration

#37789 Source Klaviyo: move stream schemas to manifest
  airbyte-integrations/connectors/source-klaviyo/metadata.yaml
  airbyte-integrations/connectors/source-klaviyo/pyproject.toml
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/manifest.yaml
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/schemas/email_templates.json
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/schemas/events.json
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/schemas/global_exclusions.json
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/schemas/lists.json
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/schemas/lists_detailed.json
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/schemas/metrics.json
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/schemas/profiles.json
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/schemas/shared/list_properties.json
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/schemas/shared/subscriptions.json
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/spec.json
  docs/integrations/sources/klaviyo.md
Labels: area/documentation, area/connectors, connectors/source/klaviyo

#38055 :bug: Source Harvest: Fix retryable error handler
  airbyte-integrations/connectors/source-harvest/metadata.yaml
  airbyte-integrations/connectors/source-harvest/poetry.lock
  airbyte-integrations/connectors/source-harvest/pyproject.toml
  airbyte-integrations/connectors/source-harvest/source_harvest/manifest.yaml
  docs/integrations/sources/harvest.md
Labels: area/documentation, area/connectors, connectors/source/harvest

#38043 [airbyte-ci] Format using a poe task
  airbyte-cdk/python/airbyte_cdk/connector_builder/connector_builder_handler.py
  airbyte-cdk/python/airbyte_cdk/connector_builder/message_grouper.py
  airbyte-cdk/python/airbyte_cdk/test/catalog_builder.py
  airbyte-cdk/python/airbyte_cdk/test/mock_http/response_builder.py
  airbyte-cdk/python/airbyte_cdk/test/state_builder.py
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/format/configuration.py
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/format/consts.py
  airbyte-integrations/connectors/source-zendesk-chat/build_customization.py
  poetry.lock
  pyproject.toml
Labels: area/connectors, CDK, connectors/source/zendesk-chat

#38060 Marcos/destination firebolt up sdk
  airbyte-integrations/connectors/destination-firebolt/Dockerfile
  airbyte-integrations/connectors/destination-firebolt/README.md
  airbyte-integrations/connectors/destination-firebolt/destination_firebolt/destination.py
  airbyte-integrations/connectors/destination-firebolt/destination_firebolt/spec.json
  airbyte-integrations/connectors/destination-firebolt/metadata.yaml
  airbyte-integrations/connectors/destination-firebolt/poetry.lock
  airbyte-integrations/connectors/destination-firebolt/pyproject.toml
  airbyte-integrations/connectors/destination-firebolt/setup.py
  airbyte-integrations/connectors/destination-firebolt/unit_tests/test_firebolt_destination.py
  dagger_engine_logs.tgz
  dagger_engine_logs/dagger-engine-81cc306759c2da0f.log
  docs/integrations/destinations/firebolt.md
Labels: area/documentation, area/connectors, connectors/destination/firebolt

#38052 revert contention-reducing change in destination-snowflake
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/db/jdbc/JdbcDatabase.kt
  airbyte-integrations/connectors/destination-snowflake/gradle.properties
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeDestinationHandler.java
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/snowflake

#37714 Destination Bigquery: Remove reference to TDValve
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryRecordConsumer.java
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery

#37713 Destination Redshift: Remove incremental T+D option
  airbyte-integrations/connectors/destination-redshift/build.gradle
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftStagingS3Destination.java
  airbyte-integrations/connectors/destination-redshift/src/main/resources/spec.json
  docs/integrations/destinations/redshift.md
Labels: area/documentation, area/connectors, connectors/destination/redshift

#38074 java-cdk: fix ContainerFactory logging
  airbyte-cdk/java/airbyte-cdk/core/src/testFixtures/kotlin/io/airbyte/cdk/testutils/ContainerFactory.kt
Labels: CDK

#38073 java-cdk: fix LoggingInvocationInterceptor for dynamic tests
  airbyte-cdk/java/airbyte-cdk/core/src/testFixtures/kotlin/io/airbyte/cdk/extensions/LoggingInvocationInterceptor.kt
Labels: CDK

#38070 docs: Platform Wording Updates
  docs/access-management/sso-providers/okta.md
  docs/cloud/managing-airbyte-cloud/dbt-cloud-integration.md
  docs/cloud/managing-airbyte-cloud/manage-connection-state.md
  docs/cloud/managing-airbyte-cloud/review-connection-status.md
Labels: area/documentation

#38026 Airbyte CDK: use pytz.utc instead of datetime.utc
  airbyte-cdk/python/airbyte_cdk/sources/declarative/interpolation/macros.py
  airbyte-cdk/python/unit_tests/sources/declarative/interpolation/test_macros.py
Labels: CDK

#38030 [DB sources] : Add plumbing for adding transient errors
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/integrations/base/AirbyteExceptionHandler.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/integrations/base/AirbyteTraceMessageUtility.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/integrations/base/IntegrationRunner.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/integrations/util/ConnectorExceptionUtil.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/dependencies/build.gradle
  airbyte-cdk/java/airbyte-cdk/dependencies/src/main/kotlin/io/airbyte/commons/exceptions/TransientErrorException.kt
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresJdbcSourceAcceptanceTest.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, CDK, connectors/source/postgres

#38096 Update postgres.md
  docs/integrations/sources/postgres.md
Labels: area/documentation

#38097 Destination e2e test: enable dedup
  airbyte-integrations/connectors/destination-e2e-test/metadata.yaml
  airbyte-integrations/connectors/destination-e2e-test/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-e2e-test/src/test-integration/java/io/airbyte/integrations/destination/e2e_test/TestingSilentDestinationAcceptanceTest.java
  dagger_engine_logs.tgz
  dagger_engine_logs/dagger-engine-81cc306759c2da0f.log
  docs/integrations/destinations/e2e-test.md
Labels: area/documentation, area/connectors, connectors/destination/e2e-test

#38098 Destination bigquery: switch to artifact cdk
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery

#37591 [Docs] Add Webhook notifications
  docs/cloud/managing-airbyte-cloud/manage-airbyte-cloud-notifications.md
Labels: area/documentation

#38106 Pin mixpanel to 2.2.0
  airbyte-integrations/connectors/source-mixpanel/metadata.yaml
Labels: area/connectors, connectors/source/mixpanel

#36644 source-intercom: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-intercom/metadata.yaml
  airbyte-integrations/connectors/source-intercom/poetry.lock
  airbyte-integrations/connectors/source-intercom/pyproject.toml
  airbyte-integrations/connectors/source-intercom/source_intercom/components.py
  airbyte-integrations/connectors/source-intercom/source_intercom/manifest.yaml
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/activity_logs.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/admins.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/companies.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/company_attributes.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/company_segments.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/contact_attributes.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/contacts.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/conversation_parts.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/conversations.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/segments.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/tags.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/teams.json
  docs/integrations/sources/intercom.md
Labels: area/documentation, area/connectors, connectors/source/intercom, autopull, test_parameters

#36633 source-chargebee: ensure inline schemas, updated cdk, poetry (where possible)
  airbyte-integrations/connectors/source-chargebee/README.md
  airbyte-integrations/connectors/source-chargebee/metadata.yaml
  airbyte-integrations/connectors/source-chargebee/poetry.lock
  airbyte-integrations/connectors/source-chargebee/pyproject.toml
  airbyte-integrations/connectors/source-chargebee/source_chargebee/components.py
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/addon.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/attached_item.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/comment.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/contact.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/coupon.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/credit_note.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/customer.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/differential_price.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/event.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/gift.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/hosted_page.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/invoice.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/item.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/item_family.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/item_price.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/order.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/payment_source.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/plan.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/promotional_credit.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/quote.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/quote_line_group.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/site_migration_detail.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/subscription.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/transaction.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/unbilled_charge.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/virtual_bank_account.json
  docs/integrations/sources/chargebee.md
Labels: area/documentation, area/connectors, connectors/source/chargebee, autopull

#38113 fix(connector-builder): update deps
  airbyte-cdk/python/poetry.lock
  airbyte-cdk/python/pyproject.toml
Labels: CDK

#38090 [source-s3] Bump the Python CDK to include the CSV field length fix
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/poetry.lock
  airbyte-integrations/connectors/source-s3/pyproject.toml
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, community, connectors/source/s3

#37112 Postgres on Resumable full refresh
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/kotlin/io/airbyte/cdk/integrations/debezium/CdcSourceTest.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/kotlin/io/airbyte/cdk/integrations/source/jdbc/test/JdbcSourceAcceptanceTest.kt
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/cdc/PostgresCdcConnectorMetadataInjector.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/cdc/PostgresCdcCtidInitializer.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/cdc/PostgresCdcCtidUtils.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidGlobalStateManager.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidPerStreamStateManager.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidStateManager.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidUtils.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/PostgresCtidHandler.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/cursor_based/CursorBasedCtidUtils.java
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/xmin/XminCtidUtils.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresSourceSSLTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/cursor_based/CursorBasedCtidUtilsTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/utils/PostgresUnitTestsUtil.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/xmin/XminCtidUtilsTest.java
  docs/integrations/sources/postgres.md
  docs/integrations/sources/postgres/postgres-troubleshooting.md
Labels: area/documentation, area/connectors, CDK, connectors/source/postgres

#38118 Destination dev null: support dedup
  airbyte-integrations/connectors/destination-dev-null/metadata.yaml
  airbyte-integrations/connectors/destination-dev-null/src/test-integration/java/io/airbyte/integrations/destination/dev_null/DevNullDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-dev-null/src/test/resources/expected_spec.json
  docs/integrations/destinations/dev-null.md
Labels: area/documentation, area/connectors, connectors/destination/dev-null

#38103 Add support for binary _id field in source-mongodb
  airbyte-integrations/connectors/source-mongodb-v2/metadata.yaml
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoDbInitialLoadRecordIterator.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/state/IdType.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/state/MongoDbStateManager.java
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/state/MongoDbStreamState.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/InitialSnapshotHandlerTest.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/state/IdTypeTest.java
  docs/integrations/sources/mongodb-v2.md
Labels: area/documentation, area/connectors, connectors/source/mongodb-v2

#38111 Destination BigQuery: Nuking old remnants
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryAsyncStandardFlush.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDestination.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryRecordConsumer.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryRecordStandardConsumer.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryStagingConsumerFactory.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryUtils.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/formatter/BigQueryRecordFormatter.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/formatter/DefaultBigQueryRecordFormatter.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/formatter/GcsAvroBigQueryRecordFormatter.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/formatter/GcsCsvBigQueryRecordFormatter.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/uploader/AbstractBigQueryUploader.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/uploader/BigQueryDirectUploader.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/uploader/BigQueryUploaderFactory.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/writer/BigQueryTableWriter.java
  airbyte-integrations/connectors/destination-bigquery/src/test/java/io/airbyte/integrations/destination/bigquery/BigQueryRecordConsumerTest.java
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery

#38122 make sure AirbyteExceptionHandler always terminates
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/integrations/base/AirbyteExceptionHandler.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
Labels: CDK
