Repository airbytehq/airbyte, pull requests merged in 2024-01, with the labels that each got.

#33849 Docusaurus: README update
  docusaurus/README.md
Labels: team/documentation

#33822 Docs: review and update connector form scratch documentation and related guides
  .prettierrc
  airbyte-cdk/python/README.md
  airbyte-integrations/connector-templates/generator/plopfile.js
  docs/connector-development/cdk-python/README.md
  docs/connector-development/tutorials/adding-incremental-sync.md
  docs/connector-development/tutorials/build-a-connector-the-hard-way.md
  docs/connector-development/tutorials/building-a-python-source.md
  docs/understanding-airbyte/tech-stack.md
Labels: area/documentation, CDK

#33728 Destinations V2 - Default to Type and Dedupe once at the end of a sync
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/base/DestinationConfig.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/TypeAndDedupeOperationValve.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/test/java/io/airbyte/integrations/base/destination/typing_deduping/TypeAndDedupeOperationValveTest.java
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-redshift/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/resources/spec.json
  docs/integrations/destinations/redshift.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/snowflake, connectors/destination/redshift

#33741 🐛Source Amazon Seller Partner: improve report streams performance
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_analytics_streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_streams.py
  docs/integrations/sources/amazon-seller-partner-migrations.md
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation, area/connectors, connectors/source/amazon-seller-partner

#33616 :tada: New Destination: Vectara
  airbyte-integrations/connectors/destination-vectara/.dockerignore
  airbyte-integrations/connectors/destination-vectara/Dockerfile
  airbyte-integrations/connectors/destination-vectara/README.md
  airbyte-integrations/connectors/destination-vectara/destination_vectara/__init__.py
  airbyte-integrations/connectors/destination-vectara/destination_vectara/client.py
  airbyte-integrations/connectors/destination-vectara/destination_vectara/config.py
  airbyte-integrations/connectors/destination-vectara/destination_vectara/destination.py
  airbyte-integrations/connectors/destination-vectara/destination_vectara/writer.py
  airbyte-integrations/connectors/destination-vectara/icon.svg
  airbyte-integrations/connectors/destination-vectara/integration_tests/integration_test.py
  airbyte-integrations/connectors/destination-vectara/main.py
  airbyte-integrations/connectors/destination-vectara/metadata.yaml
  airbyte-integrations/connectors/destination-vectara/requirements.txt
  airbyte-integrations/connectors/destination-vectara/setup.py
  airbyte-integrations/connectors/destination-vectara/unit_tests/__init__.py
  docs/integrations/destinations/vectara.md
Labels: area/documentation, area/connectors, community, connectors/destination/weaviate, new-destination, connectors/destination/vectara

#33409 airbyte-lib base implementation
  .github/workflows/airbyte-ci-tests.yml
  airbyte-lib/.gitignore
  airbyte-lib/README.md
  airbyte-lib/airbyte_lib/__init__.py
  airbyte-lib/airbyte_lib/cache.py
  airbyte-lib/airbyte_lib/executor.py
  airbyte-lib/airbyte_lib/factories.py
  airbyte-lib/airbyte_lib/py.typed
  airbyte-lib/airbyte_lib/registry.py
  airbyte-lib/airbyte_lib/source.py
  airbyte-lib/airbyte_lib/sync_result.py
  airbyte-lib/examples/run_spacex.py
  airbyte-lib/examples/run_test_source.py
  airbyte-lib/poetry.lock
  airbyte-lib/pyproject.toml
  airbyte-lib/tests/integration_tests/__init__.py
  airbyte-lib/tests/integration_tests/fixtures/registry.json
  airbyte-lib/tests/integration_tests/fixtures/source-test/setup.py
  airbyte-lib/tests/integration_tests/fixtures/source-test/source_test/run.py
  airbyte-lib/tests/integration_tests/test_integration.py
Labels: airbyte-lib

#33783 🐛 Source GitHub: Fix retry for 504 error in GraphQL based streams
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/source_github/streams.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors, connectors/source/github

#33745 Source Microsoft OneDrive: Add sl and ql to metadata
  airbyte-integrations/connectors/source-microsoft-onedrive/metadata.yaml
  docs/integrations/sources/microsoft-onedrive.md
Labels: area/documentation, area/connectors, connectors/source/microsoft-onedrive

#33302 Source Hubspot: Docs: Update hubspot.md
  docs/integrations/sources/hubspot.md
Labels: area/documentation

#33884 Enable vectara destination on cloud and OSS
  airbyte-integrations/connectors/destination-vectara/metadata.yaml
Labels: area/connectors, connectors/destination/vectara

#33828 Source Facebook Marketing: fix job timeout
  airbyte-integrations/connectors/source-facebook-marketing/acceptance-test-config.yml
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/source.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/spec.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/async_job.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/base_insight_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_async_job.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing

#33106 Source Iterable: Update QL, remove outdated/unnecessary test
  airbyte-integrations/connectors/source-iterable/Dockerfile
  airbyte-integrations/connectors/source-iterable/README.md
  airbyte-integrations/connectors/source-iterable/acceptance-test-config.yml
  airbyte-integrations/connectors/source-iterable/metadata.yaml
  airbyte-integrations/connectors/source-iterable/unit_tests/test_exports_stream.py
  docs/integrations/sources/iterable.md
Labels: area/documentation, area/connectors, connectors/source/iterable

#33840 Docs: Upgrading to latest Babel, PostCSS plugins, etc
  docusaurus/package.json
  docusaurus/yarn.lock
Labels: area/documentation, team/documentation

#33788 S3 Destinations: Move partId generation to AtomicInteger (remove UUID file part names)
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/s3/S3StorageOperations.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/test/java/io/airbyte/cdk/integrations/destination/s3/S3StorageOperationsTest.java
  airbyte-integrations/connectors/destination-redshift/build.gradle
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-s3/build.gradle
  airbyte-integrations/connectors/destination-s3/metadata.yaml
  docs/integrations/destinations/redshift.md
  docs/integrations/destinations/s3.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/redshift, connectors/destination/s3

#33890 Source US Census: Allow additionalProps in connector config
  airbyte-integrations/connectors/source-us-census/Dockerfile
  airbyte-integrations/connectors/source-us-census/metadata.yaml
  airbyte-integrations/connectors/source-us-census/setup.py
  airbyte-integrations/connectors/source-us-census/source_us_census/spec.json
  docs/integrations/sources/us-census.md
Labels: area/documentation, area/connectors, connectors/source/us-census

#33877 destination-redshift: Fix StackOverflowError with eager rendering of nested jooq function call sql.
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGenerator.java
  airbyte-integrations/connectors/destination-redshift/src/test/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGeneratorTest.java
  airbyte-integrations/connectors/destination-redshift/src/test/resources/typing_deduping_with_cdc.sql
  docs/integrations/destinations/redshift.md
Labels: area/documentation, area/connectors, connectors/destination/redshift, checklist-action-run

#33889 🐛 Source Instagram: change requested metrics for stream `media_insights`
  airbyte-integrations/connectors/source-instagram/acceptance-test-config.yml
  airbyte-integrations/connectors/source-instagram/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  airbyte-integrations/connectors/source-instagram/source_instagram/streams.py
  docs/integrations/sources/instagram.md
Labels: area/documentation, area/connectors, connectors/source/instagram

#33696 Source Chargebee: Adds fields, Adds streams, removes bypass for streams, adds expected records
  airbyte-integrations/connectors/source-chargebee/acceptance-test-config.yml
  airbyte-integrations/connectors/source-chargebee/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-chargebee/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-chargebee/integration_tests/future_state.json
  airbyte-integrations/connectors/source-chargebee/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-chargebee/metadata.yaml
  airbyte-integrations/connectors/source-chargebee/source_chargebee/manifest.yaml
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/comment.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/differential_price.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/invoice.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/item_family.json
  airbyte-integrations/connectors/source-chargebee/source_chargebee/schemas/site_migration_detail.json
  docs/integrations/sources/chargebee.md
Labels: area/documentation, area/connectors, connectors/source/chargebee

#33817 🚨🚨 Source Amazon Ads: update schema
  airbyte-integrations/connectors/source-amazon-ads/metadata.yaml
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_brands.py
  docs/connector-development/connector-metadata-file.md
  docs/integrations/sources/amazon-ads-migrations.md
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, area/connectors, connectors/source/amazon-ads

#33753 DV2: Use Sql struct instead of passing around strings
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcDestinationHandler.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcSqlGenerator.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/DefaultTyperDeduper.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/DestinationHandler.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/NoOpTyperDeduperWithV1V2Migrations.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/Sql.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/SqlGenerator.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/TypeAndDedupeTransaction.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/test/java/io/airbyte/integrations/base/destination/typing_deduping/DefaultTyperDeduperTest.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/test/java/io/airbyte/integrations/base/destination/typing_deduping/DestinationV1V2MigratorTest.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/test/java/io/airbyte/integrations/base/destination/typing_deduping/MockSqlGenerator.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/java/io/airbyte/integrations/base/destination/typing_deduping/BaseSqlGeneratorIntegrationTest.java
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQueryDestinationHandler.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGenerator.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGeneratorIntegrationTest.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGeneratorIntegrationTest.java
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeDestinationHandler.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGenerator.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGeneratorIntegrationTest.java
Labels: area/connectors, CDK, connectors/destination/bigquery, connectors/destination/snowflake, connectors/destination/redshift

#33312 ✨ Introduce StateIteratorProcessor in CDK
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/source/relationaldb/state/SourceStateIterator.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/source/relationaldb/state/SourceStateIteratorManager.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/java/io/airbyte/cdk/integrations/source/relationaldb/state/SourceStateIteratorTest.java
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialLoadHandler.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialSyncStateIterator.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialSyncStateIteratorManager.java
  deps.toml
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, CDK, connectors/source/mysql

#33755 ✨Use base64 to encode mssql binary field
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcHelper.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlDebeziumConverter.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSourceOperations.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/AbstractMssqlSourceDatatypeTest.java
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, connectors/source/mssql

#33717 [ISSUE #32871] integration tests for UpdatedCursorIncrementalStripeLa…
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/request_builder.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_application_fees_refunds.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_bank_accounts.py
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/application_fees_refunds.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/bank_accounts.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/customers_expand_data_source.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/refunds.json
Labels: area/connectors, connectors/source/stripe

#33597 [ISSUE #32871] adding integration tests for UpdatedCursorIncrementalS…
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/request_builder.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_application_fees_refunds.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_bank_accounts.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_early_fraud_warnings.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_external_account_bank_accounts.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_external_account_cards.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_payment_methods.py
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/application_fees_refunds.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/bank_accounts.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/customers_expand_data_source.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/external_account_cards.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/external_bank_accounts.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/payment_methods.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/radar_early_fraud_warnings.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/refunds.json
Labels: area/connectors, connectors/source/stripe

#33544 Issue 32871/test other incremental stripe stream
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/request_builder.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_application_fees_refunds.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_authorizations.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_bank_accounts.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_cards.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_early_fraud_warnings.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_external_account_bank_accounts.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_external_account_cards.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_payment_methods.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_reviews.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_transactions.py
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/application_fees_refunds.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/bank_accounts.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/customers_expand_data_source.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/external_account_cards.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/external_bank_accounts.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/issuing_authorizations.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/issuing_cards.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/issuing_transactions.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/payment_methods.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/radar_early_fraud_warnings.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/refunds.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/reviews.json
Labels: area/connectors, connectors/source/stripe

#33352 Issue 32871/test application fees
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/request_builder.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/response_builder.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_application_fees.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_application_fees_refunds.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_authorizations.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_bank_accounts.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_cards.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_early_fraud_warnings.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_events.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_external_account_bank_accounts.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_external_account_cards.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_payment_methods.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_reviews.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_transactions.py
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/400.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/401.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/429.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/500.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/application_fees.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/application_fees_refunds.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/bank_accounts.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/customers_expand_data_source.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/external_account_cards.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/external_bank_accounts.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/issuing_authorizations.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/issuing_cards.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/issuing_transactions.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/payment_methods.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/radar_early_fraud_warnings.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/refunds.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/reviews.json
Labels: area/connectors, connectors/source/stripe

#33718 [ISSUE #32871] enable debug logs for integration tests
  airbyte-cdk/python/airbyte_cdk/test/entrypoint_wrapper.py
Labels: CDK

#33927 source-file: fix readme
  airbyte-integrations/connectors/source-file/README.md
Labels: area/connectors, connectors/source/file

#33802 🐛 Source Google Analytics Data API: Add `CohortSpec` to custom report in specification
  airbyte-integrations/connectors/source-google-analytics-data-api/acceptance-test-config.yml
  airbyte-integrations/connectors/source-google-analytics-data-api/main.py
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/config_migrations.py
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/source.py
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/spec.json
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_migration_cohortspec/test_config.json
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_migration_cohortspec/test_config_migration_cohortspec.py
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_migration_cohortspec/test_new_config.json
  docs/integrations/sources/google-analytics-data-api.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-data-api

#33261 don't use MsSQLConfigBuilder.withSsl with strings, but instead properly named and typed methods
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/CloudDeploymentSslEnabledMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/SslEnabledMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/CloudDeploymentMssqlTest.java
  airbyte-integrations/connectors/source-mssql/src/testFixtures/java/io/airbyte/integrations/source/mssql/MsSQLTestDatabase.java
Labels: area/connectors, connectors/source/mssql

#33873 Destination postgres: enable in-connector normalization
  airbyte-integrations/bases/base-java/run_with_normalization.sh
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/src/test-integration/java/io/airbyte/integrations/destination/postgres/PostgresDestinationStrictEncryptAcceptanceTest.java
  airbyte-integrations/connectors/destination-postgres/metadata.yaml
  airbyte-integrations/connectors/destination-postgres/src/testFixtures/java/io/airbyte/integrations/destination/postgres/AbstractPostgresDestinationAcceptanceTest.java
  docs/integrations/destinations/postgres.md
Labels: area/documentation, area/connectors, connectors/destination/postgres, connectors/destination/postgres-strict-encrypt

#33071 add SSL options to mssql
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/db/util/SSLCertificateUtils.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/source/jdbc/AbstractJdbcSource.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/source/jdbc/JdbcDataSourceUtils.java
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcHelper.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
  airbyte-integrations/connectors/source-mssql/src/main/resources/spec.json
  airbyte-integrations/connectors/source-mssql/src/test-integration/resources/dummy_config.json
  airbyte-integrations/connectors/source-mssql/src/test-integration/resources/expected_spec.json
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/CdcMssqlSslSourceTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/MssqlSslSourceTest.java
  airbyte-integrations/connectors/source-mssql/src/testFixtures/java/io/airbyte/integrations/source/mssql/MsSQLContainerFactory.java
  airbyte-integrations/connectors/source-mssql/src/testFixtures/java/io/airbyte/integrations/source/mssql/MsSQLTestDatabase.java
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, CDK, connectors/source/mssql

#33922 Use pnpm to manage docusaurus packages
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/format/consts.py
  docs/contributing-to-airbyte/writing-docs.md
  docusaurus/.nvmrc
  docusaurus/README.md
  docusaurus/pnpm-lock.yaml
  docusaurus/yarn.lock
Labels: area/documentation

#32371 Docs: Updates Salesforce Source Connector Docs (Removes inapp page, adds <HideInUI>, adds Limitations & Troubleshooting)
  docs/integrations/sources/salesforce.inapp.md
  docs/integrations/sources/salesforce.md
Labels: area/documentation

#32363 Docs: Updates Instagram Source Connector Docs (Removes inapp page, adds <HideInUI>, adds Limitations & Troubleshooting)
  docs/integrations/sources/instagram.md
Labels: area/documentation, connectors/source/instagram

#33833 Source Amazon Ads: add region to inputOAuthConfiguration
  airbyte-integrations/connectors/source-amazon-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amazon-ads/integration_tests/spec.json
  airbyte-integrations/connectors/source-amazon-ads/metadata.yaml
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/spec.yaml
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, area/connectors, connectors/source/amazon-ads

#33730 Destinations Bigquery, snowflake, redshift: internal CDK refactors for DV2
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-destinations/build.gradle
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestination.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcDestinationHandler.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcSqlGenerator.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/java/io/airbyte/cdk/integrations/standardtest/destination/typing_deduping/JdbcSqlGeneratorIntegrationTest.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/test/java/io/airbyte/cdk/integrations/destination/s3/csv/S3CsvWriterTest.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/DefaultTyperDeduper.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/DestinationHandler.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/NoOpTyperDeduperWithV1V2Migrations.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/Sql.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/SqlGenerator.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/TypeAndDedupeTransaction.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/test/java/io/airbyte/integrations/base/destination/typing_deduping/DefaultTyperDeduperTest.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/test/java/io/airbyte/integrations/base/destination/typing_deduping/DestinationV1V2MigratorTest.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/test/java/io/airbyte/integrations/base/destination/typing_deduping/MockSqlGenerator.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/java/io/airbyte/integrations/base/destination/typing_deduping/BaseSqlGeneratorIntegrationTest.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/java/io/airbyte/integrations/base/destination/typing_deduping/JdbcSqlGeneratorIntegrationTest.java
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQueryDestinationHandler.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGenerator.java
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQuerySqlGeneratorIntegrationTest.java
  airbyte-integrations/connectors/destination-redshift/build.gradle
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGenerator.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGeneratorIntegrationTest.java
  airbyte-integrations/connectors/destination-redshift/src/test/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGeneratorTest.java
  airbyte-integrations/connectors/destination-redshift/src/test/resources/typing_deduping_with_cdc.sql
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeDestinationHandler.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGenerator.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGeneratorIntegrationTest.java
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/redshift.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/bigquery, connectors/destination/snowflake, connectors/destination/redshift

#33769 Source Google Ads: run decorator as a thread with timeout
  airbyte-integrations/connectors/source-google-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-google-ads/integration_tests/expected_records_click.jsonl
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/setup.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/utils.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_incremental_events_streams.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, connectors/source/google-ads

#33924 AWS Destinations: New AWS regions
  airbyte-integrations/connectors/destination-amazon-sqs/Dockerfile
  airbyte-integrations/connectors/destination-amazon-sqs/destination_amazon_sqs/spec.json
  airbyte-integrations/connectors/destination-amazon-sqs/metadata.yaml
  airbyte-integrations/connectors/destination-aws-datalake/Dockerfile
  airbyte-integrations/connectors/destination-aws-datalake/destination_aws_datalake/spec.json
  airbyte-integrations/connectors/destination-aws-datalake/metadata.yaml
  airbyte-integrations/connectors/destination-databricks/metadata.yaml
  airbyte-integrations/connectors/destination-databricks/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-dynamodb/metadata.yaml
  airbyte-integrations/connectors/destination-dynamodb/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-iceberg/metadata.yaml
  airbyte-integrations/connectors/destination-iceberg/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-redshift/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-s3-glue/metadata.yaml
  airbyte-integrations/connectors/destination-s3-glue/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-s3/metadata.yaml
  airbyte-integrations/connectors/destination-s3/src/main/resources/spec.json
  airbyte-integrations/connectors/source-amazon-sqs/Dockerfile
  airbyte-integrations/connectors/source-amazon-sqs/metadata.yaml
  airbyte-integrations/connectors/source-amazon-sqs/source_amazon_sqs/spec.json
  airbyte-integrations/connectors/source-dynamodb/metadata.yaml
  airbyte-integrations/connectors/source-dynamodb/src/main/resources/spec.json
  docs/integrations/destinations/amazon-sqs.md
  docs/integrations/destinations/aws-datalake.md
  docs/integrations/destinations/databricks.md
  docs/integrations/destinations/dynamodb.md
  docs/integrations/destinations/iceberg.md
  docs/integrations/destinations/redshift.md
  docs/integrations/destinations/s3-glue.md
  docs/integrations/destinations/s3.md
  docs/integrations/sources/amazon-sqs.md
  docs/integrations/sources/dynamodb.md
Labels: area/documentation, area/connectors, connectors/destination/dynamodb, connectors/destination/redshift, connectors/destination/s3, connectors/destination/amazon-sqs, connectors/destination/databricks, connectors/source/amazon-sqs, connectors/destination/aws-datalake, connectors/source/dynamodb, connectors/destination/iceberg, connectors/destination/s3-glue, connectors/destination/starburst-galaxy

#33727 tuning ssh keepalive settings
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/base/ssh/SshTunnel.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/base/ssh/SshWrappedDestination.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
Labels: CDK

#33315 Source Webflow: Update CDK & include additional schema properties
  airbyte-integrations/connectors/source-webflow/Dockerfile
  airbyte-integrations/connectors/source-webflow/README.md
  airbyte-integrations/connectors/source-webflow/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-webflow/metadata.yaml
  airbyte-integrations/connectors/source-webflow/setup.py
  airbyte-integrations/connectors/source-webflow/source_webflow/auth.py
  airbyte-integrations/connectors/source-webflow/source_webflow/source.py
  airbyte-integrations/connectors/source-webflow/source_webflow/spec.yaml
  airbyte-integrations/connectors/source-webflow/source_webflow/webflow_to_airbyte_mapping.py
  docs/integrations/sources/webflow.md
Labels: area/documentation, area/connectors, connectors/source/webflow

#32957 Source Sentry: Increases Test Coverage, Migrates Base Image, adds missing field to schema, updates QL
  airbyte-integrations/connectors/source-sentry/Dockerfile
  airbyte-integrations/connectors/source-sentry/README.md
  airbyte-integrations/connectors/source-sentry/acceptance-test-config.yml
  airbyte-integrations/connectors/source-sentry/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-sentry/metadata.yaml
  airbyte-integrations/connectors/source-sentry/source_sentry/schemas/events.json
  airbyte-integrations/connectors/source-sentry/source_sentry/schemas/issues.json
  airbyte-integrations/connectors/source-sentry/source_sentry/schemas/project_detail.json
  airbyte-integrations/connectors/source-sentry/source_sentry/schemas/projects.json
  airbyte-integrations/connectors/source-sentry/source_sentry/schemas/releases.json
  airbyte-integrations/connectors/source-sentry/source_sentry/streams.py
  airbyte-integrations/connectors/source-sentry/unit_tests/test_streams.py
  docs/integrations/sources/sentry.md
Labels: area/documentation, area/connectors, connectors/source/sentry

#33930 🚨🚨 Source Instagram: upgrade to v18
  airbyte-integrations/connectors/source-instagram/acceptance-test-config.yml
  airbyte-integrations/connectors/source-instagram/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  airbyte-integrations/connectors/source-instagram/setup.py
  airbyte-integrations/connectors/source-instagram/source_instagram/api.py
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/media_insights.json
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/story_insights.json
  airbyte-integrations/connectors/source-instagram/source_instagram/schemas/user_lifetime_insights.json
  airbyte-integrations/connectors/source-instagram/source_instagram/streams.py
  airbyte-integrations/connectors/source-instagram/unit_tests/conftest.py
  airbyte-integrations/connectors/source-instagram/unit_tests/test_streams.py
  docs/integrations/sources/instagram-migrations.md
  docs/integrations/sources/instagram.md
Labels: area/documentation, area/connectors, connectors/source/instagram

#33988 Update typing-deduping.md
  docs/using-airbyte/core-concepts/typing-deduping.md
Labels: area/documentation

#33989 🐛 Source Instagram: remove metrics from video feed
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  airbyte-integrations/connectors/source-instagram/source_instagram/streams.py
  docs/integrations/sources/instagram.md
Labels: area/documentation, area/connectors, connectors/source/instagram

#33680 🐛Source Zendesk Support: fix pagination for incremetal export streams
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/streams.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/unit_test.py
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-support

#33948 destination-redshift: Heartbeats for bastion and other minor bugfixes
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/DefaultTyperDeduper.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/java/io/airbyte/integrations/base/destination/typing_deduping/BaseSqlGeneratorIntegrationTest.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/resources/sqlgenerator/all_types_v1_inputrecords.jsonl
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/resources/sqlgenerator/alltypes_inputrecords.jsonl
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/sqlgenerator/alltypes_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/sqlgenerator/alltypes_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-redshift/build.gradle
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftInsertDestination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftStagingS3Destination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftDestinationHandler.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/sqlgenerator/alltypes_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/sqlgenerator/alltypes_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGeneratorIntegrationTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/sqlgenerator/alltypes_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/sqlgenerator/alltypes_expectedrecords_raw.jsonl
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/redshift.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/bigquery, connectors/destination/snowflake, connectors/destination/redshift

#33926 🐛Source Stripe: update endpoint for bank_accounts stream
  airbyte-integrations/connectors/source-stripe/acceptance-test-config.yml
  airbyte-integrations/connectors/source-stripe/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/source_stripe/schemas/bank_accounts.json
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_streams.py
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, connectors/source/stripe

#33999 🐛 Source Marketo: Raise config error if quota exceeded
  airbyte-integrations/connectors/source-marketo/metadata.yaml
  airbyte-integrations/connectors/source-marketo/source_marketo/source.py
  airbyte-integrations/connectors/source-marketo/unit_tests/test_source.py
  docs/integrations/sources/marketo.md
Labels: area/documentation, area/connectors, connectors/source/marketo

#34014 Destination Redshift - Reorder Spec options
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-redshift/src/main/resources/spec.json
  docs/integrations/destinations/redshift.md
  docs/release_notes/upgrading_to_destinations_v2.md
Labels: area/documentation, area/connectors, connectors/destination/redshift, checklist-action-run

#33844 🐛Source Hubspot: fix property_history PK
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_source.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot

#33510 source-mssql: shorten capture job polling interval in tests
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcTargetPosition.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/CdcStateCompressionTest.java
  airbyte-integrations/connectors/source-mssql/src/testFixtures/java/io/airbyte/integrations/source/mssql/MsSQLTestDatabase.java
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, connectors/source/mssql, checklist-action-run

#34021 Destination BigQuery: add row ids for dummy inserts in check
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryUtils.java
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, checklist-action-run

#34034 Update typing-deduping.md - Loading Data Incrementally to Final Tables
  docs/using-airbyte/core-concepts/typing-deduping.md
Labels: area/documentation

#32967 :bug: fix declarative oauth initialization
  airbyte-cdk/python/airbyte_cdk/sources/declarative/auth/oauth.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/http/requests_native_auth/abstract_oauth.py
  airbyte-cdk/python/unit_tests/sources/declarative/auth/test_oauth.py
  airbyte-cdk/python/unit_tests/sources/declarative/parsers/test_model_to_component_factory.py
Labels: CDK

#34000 Docs: fixing wrong jinja example and stating how airbyte decides last date cursor
  docs/connector-development/connector-builder-ui/incremental-sync.md
Labels: area/documentation

#33968 airbyte-lib: Improve error message on missing config
  airbyte-lib/airbyte_lib/source.py
  airbyte-lib/tests/integration_tests/test_integration.py
Labels: team/ai-language-models, airbyte-lib

#33967 airbyte-lib: Add pip_url option and enforce source versions in a more consistent manner
  airbyte-lib/airbyte_lib/executor.py
  airbyte-lib/airbyte_lib/factories.py
  airbyte-lib/tests/integration_tests/test_integration.py
Labels: team/ai-language-models, airbyte-lib

#33934 Source Facebook Marketing: Convert to airbyte-lib
  airbyte-integrations/connectors/source-facebook-marketing/main.py
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/setup.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/run.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing

#33936 Source Salesforce: Convert to airbyte-lib
  airbyte-integrations/connectors/source-salesforce/main.py
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/setup.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/run.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors, connectors/source/salesforce

#33937 Source S3: Convert to airbyte-lib
  airbyte-integrations/connectors/source-s3/.coveragerc
  airbyte-integrations/connectors/source-s3/main.py
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/setup.py
  airbyte-integrations/connectors/source-s3/source_s3/run.py
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3

#33676 :hospital: Source Gitlab: increase test coverage, update Groups, Commits and Projects schemas.
  airbyte-integrations/connectors/source-gitlab/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-gitlab/integration_tests/expected_records_with_ids.jsonl
  airbyte-integrations/connectors/source-gitlab/metadata.yaml
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/commits.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/groups.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/issues.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/jobs.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/projects.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/streams.py
  airbyte-integrations/connectors/source-gitlab/unit_tests/test_config.json
  airbyte-integrations/connectors/source-gitlab/unit_tests/test_config_migrations.py
  airbyte-integrations/connectors/source-gitlab/unit_tests/test_source.py
  airbyte-integrations/connectors/source-gitlab/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-gitlab/unit_tests/test_utils.py
  docs/integrations/sources/gitlab.md
Labels: area/documentation, area/connectors, connectors/source/gitlab, team/connectors-python

#34002 airbyte-lib: Validation helper command
  airbyte-lib/README.md
  airbyte-lib/airbyte_lib/validate.py
  airbyte-lib/poetry.lock
  airbyte-lib/pyproject.toml
  airbyte-lib/tests/integration_tests/fixtures/invalid_config.json
  airbyte-lib/tests/integration_tests/fixtures/source-test/metadata.yaml
  airbyte-lib/tests/integration_tests/fixtures/valid_config.json
  airbyte-lib/tests/integration_tests/test_validation.py
Labels: team/ai-language-models, airbyte-lib

#33997 airbyte-lib: Generate docs
  airbyte-lib/.gitattributes
  airbyte-lib/README.md
  airbyte-lib/docs.py
  airbyte-lib/docs/frame.html.jinja2
  airbyte-lib/docs/generated/airbyte_lib.html
  airbyte-lib/docs/generated/airbyte_lib/caches.html
  airbyte-lib/docs/generated/airbyte_lib/file_writers.html
  airbyte-lib/docs/generated/index.html
  airbyte-lib/poetry.lock
  airbyte-lib/pyproject.toml
  airbyte-lib/tests/docs_tests/__init__.py
  airbyte-lib/tests/docs_tests/test_docs_checked_in.py
Labels: team/ai-language-models, airbyte-lib

#33603 🐛 Source Google Ads: Fix custom queries
  airbyte-integrations/connectors/source-google-ads/main.py
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/setup.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/config_migrations.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/custom_query_stream.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/spec.json
  airbyte-integrations/connectors/source-google-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_config_migrations.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_custom_query.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_errors.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_migrations/custom_query/test_config.json
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_migrations/custom_query/test_new_config.json
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_source.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_utils.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, connectors/source/google-ads

#33969 java-cdk-destination: implement logic to update destination stats in state message from async framework
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/AsyncStreamConsumer.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/FlushWorkers.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/buffers/BufferEnqueue.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/buffers/MemoryAwareMessageBatch.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/state/GlobalAsyncStateManager.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/state/PartialStateWithDestinationStats.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/core/src/test/java/io/airbyte/cdk/integrations/destination_async/AsyncStreamConsumerTest.java
  airbyte-cdk/java/airbyte-cdk/core/src/test/java/io/airbyte/cdk/integrations/destination_async/buffers/BufferDequeueTest.java
  airbyte-cdk/java/airbyte-cdk/core/src/test/java/io/airbyte/cdk/integrations/destination_async/buffers/BufferEnqueueTest.java
  airbyte-cdk/java/airbyte-cdk/core/src/test/java/io/airbyte/cdk/integrations/destination_async/state/GlobalAsyncStateManagerTest.java
Labels: CDK, connectors/destination/snowflake

#33658 bubble up debezium config error messages as exceptions
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/DebeziumRecordPublisher.java
Labels: CDK

#33005 Add count in state message for incremental syncs
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/DebeziumStateDecoratingIterator.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/source/relationaldb/StateDecoratingIterator.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/source/relationaldb/state/SourceStateIterator.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/java/io/airbyte/cdk/integrations/source/relationaldb/StateDecoratingIteratorTest.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/java/io/airbyte/cdk/integrations/debezium/CdcSourceTest.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/java/io/airbyte/cdk/integrations/source/jdbc/test/JdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialLoadGlobalStateManager.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialLoadStateManager.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/CdcMysqlSourceTest.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/MySqlJdbcSourceAcceptanceTest.java
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, CDK, connectors/source/mysql, connectors/source/postgres

#34001 ✨Airbyte CDK: add POST method to HttpMocker
  airbyte-cdk/python/airbyte_cdk/test/mock_http/mocker.py
  airbyte-cdk/python/airbyte_cdk/test/mock_http/request.py
  airbyte-cdk/python/unit_tests/test/mock_http/test_mocker.py
  airbyte-cdk/python/unit_tests/test/mock_http/test_request.py
Labels: CDK

#33715 🚨🚨 Source JIRA: Save state for Boards Issues per board
  airbyte-integrations/connectors/source-jira/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-jira/metadata.yaml
  airbyte-integrations/connectors/source-jira/source_jira/streams.py
  airbyte-integrations/connectors/source-jira/unit_tests/test_streams.py
  docs/integrations/sources/jira-migrations.md
  docs/integrations/sources/jira.md
Labels: area/documentation, area/connectors, connectors/source/jira

#34010 Source Zendesk Support: Convert to airbyte-lib
  airbyte-integrations/connectors/source-zendesk-support/main.py
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/setup.py
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/run.py
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-support

#34018 Source Google Analytics Universal: Convert to airbyte-lib
  airbyte-integrations/connectors/source-google-analytics-data-api/main.py
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/setup.py
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/run.py
  docs/integrations/sources/google-analytics-data-api.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-data-api

#34012 Source Smartsheets: Convert to airbyte-lib
  airbyte-integrations/connectors/source-smartsheets/Dockerfile
  airbyte-integrations/connectors/source-smartsheets/main.py
  airbyte-integrations/connectors/source-smartsheets/metadata.yaml
  airbyte-integrations/connectors/source-smartsheets/setup.py
  airbyte-integrations/connectors/source-smartsheets/source_smartsheets/run.py
  docs/integrations/sources/smartsheets.md
Labels: area/documentation, area/connectors, connectors/source/smartsheets, connectors/source/zendesk-support

#33751 Airbyte CDK: handle private network exception as config error
  airbyte-cdk/python/airbyte_cdk/entrypoint.py
  airbyte-cdk/python/unit_tests/connector_builder/test_connector_builder_handler.py
  airbyte-cdk/python/unit_tests/sources/test_integration_source.py
  airbyte-cdk/python/unit_tests/test_entrypoint.py
Labels: CDK

#34084 Azure Blob Storage: Fix unstructured format
  airbyte-integrations/connectors/source-azure-blob-storage/acceptance-test-config.yml
  airbyte-integrations/connectors/source-azure-blob-storage/metadata.yaml
  airbyte-integrations/connectors/source-azure-blob-storage/source_azure_blob_storage/stream_reader.py
  docs/integrations/sources/azure-blob-storage.md
Labels: area/documentation, area/connectors, connectors/source/azure-blob-storage

#34122 MongoDB Oplog Troubleshooting
  docs/integrations/sources/mongodb-v2.md
Labels: area/documentation

#33959 🚨🚨 Source Microsoft Teams: Update Schemas
  airbyte-integrations/connectors/source-microsoft-teams/Dockerfile
  airbyte-integrations/connectors/source-microsoft-teams/metadata.yaml
  airbyte-integrations/connectors/source-microsoft-teams/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-microsoft-teams/setup.py
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/client.py
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/schemas/channel.json
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/schemas/channel_members.json
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/schemas/channel_message_replies.json
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/schemas/channel_messages.json
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/schemas/channel_tabs.json
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/schemas/channels.json
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/schemas/conversation_posts.json
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/schemas/conversation_threads.json
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/schemas/conversations.json
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/schemas/group_members.json
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/schemas/group_owners.json
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/schemas/groups.json
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/schemas/team_device_usage_report.json
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/schemas/team_drives.json
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/schemas/users.json
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/spec.json
  docs/integrations/sources/microsoft-teams-migrations.md
  docs/integrations/sources/microsoft-teams.md
Labels: area/documentation, area/connectors, connectors/source/microsoft-teams

#34119 java cdk: remove wal2json support
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/postgres/PostgresDebeziumStateUtil.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/java/io/airbyte/cdk/integrations/debezium/CdcSourceTest.java
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresJdbcSourceAcceptanceTest.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, CDK, connectors/source/postgres

#34125 Destination Databricks: pin cloud + OSS version to 1.1.0
  airbyte-integrations/connectors/destination-databricks/metadata.yaml
  docs/integrations/destinations/databricks.md
Labels: area/documentation, area/connectors, connectors/destination/databricks

#33538 ✨ Source Facebook Marketing: Add support for multiple Account IDs
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/conftest.py
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/api.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/config_migrations.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/run.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/activities.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/videos.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/source.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/spec.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/async_job_manager.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/base_insight_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/base_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/conftest.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_api.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_async_job_manager.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_base_insight_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_base_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_client.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_config_migrations.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_errors.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_migrations/test_new_config.json
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_migrations/test_old_config.json
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_migrations/test_upgraded_config.json
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_source.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_streams.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing

#33875 destination-postgres: Add tunnel heartbeats and keepalive
  airbyte-cdk/java/airbyte-cdk/core/build.gradle
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/java/io/airbyte/cdk/integrations/standardtest/destination/DestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/build.gradle
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/destination-postgres/build.gradle
  airbyte-integrations/connectors/destination-postgres/metadata.yaml
  airbyte-integrations/connectors/destination-postgres/src/test-integration/java/io/airbyte/integrations/destination/postgres/SshPostgresDestinationAcceptanceTest.java
  docs/integrations/destinations/postgres.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/postgres, connectors/destination/postgres-strict-encrypt

#34073 📝 Fix BigQuery Destination: fail when using Google Default Application Credentials
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryDestination.java
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/BigQueryUtils.java
  airbyte-integrations/connectors/destination-bigquery/src/test/java/io/airbyte/integrations/destination/bigquery/BigQueryUtilsTest.java
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery

#33955 ✨ [source-stripe] [33348] Add integration tests for the persons stream
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/request_builder.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_persons.py
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/403.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/accounts.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/persons.json
Labels: area/connectors, connectors/source/stripe

#34105 airbyte-lib: Add uninstall
  airbyte-lib/airbyte_lib/executor.py
  airbyte-lib/airbyte_lib/factories.py
  airbyte-lib/airbyte_lib/source.py
  airbyte-lib/docs/generated/airbyte_lib.html
  airbyte-lib/docs/generated/airbyte_lib/datasets.html
  airbyte-lib/docs/generated/airbyte_lib/factories.html
  airbyte-lib/tests/integration_tests/test_integration.py
Labels: team/ai-language-models, airbyte-lib

#33075 Source Marketo: Increase test coverage, update QL
  airbyte-integrations/connectors/source-marketo/metadata.yaml
  airbyte-integrations/connectors/source-marketo/unit_tests/test_source.py
Labels: area/connectors, connectors/source/marketo

#34045 🐛 Source Bing Ads: Speed up record transformation
  airbyte-integrations/connectors/source-bing-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/setup.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/report_streams.py
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors, connectors/source/bing-ads

#34064 🐛 Source Zendesk Support: Skip 504 Error for stream `Ticket Audits`
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/source_zendesk_support/streams.py
  airbyte-integrations/connectors/source-zendesk-support/unit_tests/unit_test.py
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-support

#33306 🐛 Source Stripe: adding integration tests
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/setup.py
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
  airbyte-integrations/connectors/source-stripe/unit_tests/conftest.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/__init__.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/config.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/pagination.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/request_builder.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/response_builder.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_application_fees.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_application_fees_refunds.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_authorizations.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_bank_accounts.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_cards.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_early_fraud_warnings.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_events.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_external_account_bank_accounts.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_external_account_cards.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_payment_methods.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_persons.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_reviews.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_transactions.py
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/400.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/401.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/403.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/429.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/500.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/accounts.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/application_fees.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/application_fees_refunds.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/bank_accounts.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/customers_expand_data_source.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/events.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/external_account_cards.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/external_bank_accounts.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/issuing_authorizations.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/issuing_cards.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/issuing_transactions.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/payment_methods.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/persons.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/radar_early_fraud_warnings.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/refunds.json
  airbyte-integrations/connectors/source-stripe/unit_tests/resource/http/response/reviews.json
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, connectors/source/stripe

#32385 Zendesk Talk Source: Updated QL to 200
  airbyte-integrations/connectors/source-zendesk-talk/metadata.yaml
Labels: area/connectors, connectors/source/zendesk-talk

#32383 Zendesk Chat: Updated QL to 200
  airbyte-integrations/connectors/source-zendesk-chat/metadata.yaml
Labels: area/connectors, connectors/source/zendesk-chat

#34083 snowflake-destination: upgrade cdk version to start emitting destination stats as part of state
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/snowflake

#30931 ✨ Source Iterable: add userId to applicable streams
  airbyte-integrations/connectors/source-iterable/metadata.yaml
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/email_bounce.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/email_click.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/email_complaint.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/email_open.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/email_send.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/email_send_skip.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/email_subscribe.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/email_unsubscribe.json
  airbyte-integrations/connectors/source-iterable/source_iterable/schemas/events.json
  docs/integrations/sources/iterable.md
Labels: area/documentation, area/connectors, community, connectors/source/iterable, team/connectors-python

#34087 docs: Mention that DBT Worker not supported on kubernetes
  docs/deploying-airbyte/on-kubernetes-via-helm.md
Labels: area/documentation, community

#34134 🧹 Destination Redshift: clean up DAT classes
  airbyte-integrations/connectors/destination-redshift/build.gradle
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/RedshiftConnectionTest.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/RedshiftDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/RedshiftFileBufferTest.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/RedshiftInsertDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/RedshiftS3StagingInsertDestinationAcceptanceTest.java
Labels: area/connectors, connectors/destination/redshift

#32589 🎉 Airbyte CDK (File-based CDK): Stop the sync if the record could not be parsed
  airbyte-cdk/python/.bumpversion.cfg
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/Dockerfile
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/avro_format.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/config/parquet_format.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/exceptions.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_based_source.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/avro_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/csv_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/jsonl_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_types/parquet_parser.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/abstract_file_based_stream.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/default_file_based_stream.py
  airbyte-cdk/python/setup.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/csv_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/unstructured_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/validation_policy_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/stream/test_default_file_based_stream.py
  airbyte-cdk/python/unit_tests/sources/file_based/test_file_based_scenarios.py
Labels: CDK, team/connectors-python

#34080 Docs: Updated grammar and formatting for clarity and consistency
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, community

#33707 ✨Source Google Ads: Add possibility to sync all connected accounts
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/google_ads.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/models.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/schemas/customer_client.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/spec.json
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/common.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_errors.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_google_ads.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_incremental_events_streams.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_models.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_source.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_streams.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, connectors/source/google-ads

#34185 cdk bump to 0.12.0
  airbyte-integrations/connectors/destination-redshift/build.gradle
Labels: area/connectors, connectors/destination/redshift, checklist-action-run

#34173 DV2 TypingDedupingTest: read container stdout in real time
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/java/io/airbyte/integrations/base/destination/typing_deduping/BaseTypingDedupingTest.java
Labels: CDK

#34098 Source Slack: Convert to airbyte-lib
  airbyte-integrations/connectors/source-slack/main.py
  airbyte-integrations/connectors/source-slack/metadata.yaml
  airbyte-integrations/connectors/source-slack/setup.py
  airbyte-integrations/connectors/source-slack/source_slack/run.py
  docs/integrations/sources/slack.md
Labels: area/documentation, area/connectors, connectors/source/slack

#34101 Source Freshdesk: Convert to airbyte-lib
  airbyte-integrations/connectors/source-freshdesk/main.py
  airbyte-integrations/connectors/source-freshdesk/metadata.yaml
  airbyte-integrations/connectors/source-freshdesk/setup.py
  airbyte-integrations/connectors/source-freshdesk/source_freshdesk/run.py
  docs/integrations/sources/freshdesk.md
Labels: area/documentation, area/connectors, connectors/source/freshdesk

#34158 Source GCS: Fix unstructured format
  airbyte-integrations/connectors/source-gcs/integration_tests/spec.json
  airbyte-integrations/connectors/source-gcs/metadata.yaml
  airbyte-integrations/connectors/source-gcs/source_gcs/config.py
  airbyte-integrations/connectors/source-gcs/source_gcs/stream_reader.py
  docs/integrations/sources/gcs.md
Labels: area/documentation, area/connectors, connectors/source/gcs

#34200 🐛 Source Google Ads: Disable raising error for not enabled accounts
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/streams.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_errors.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, connectors/source/google-ads

#33872 Destination Teradata: Added Primary Index on _airbyte_ab_id to fix NoPI issue
  airbyte-integrations/connectors/destination-teradata/metadata.yaml
  airbyte-integrations/connectors/destination-teradata/src/main/java/io/airbyte/integrations/destination/teradata/TeradataSqlOperations.java
  docs/integrations/destinations/teradata.md
Labels: area/documentation, area/connectors, community, connectors/destination/teradata

#33944 Add S3 IAM roles + ALB ingress definition
  docs/enterprise-setup/implementation-guide.md
Labels: area/documentation

#33607 AirbyteLib SQLCaches for DuckDB and Postgres (also includes Ruff+Mypy cleanup)
  airbyte-lib/airbyte_lib/__init__.py
  airbyte-lib/airbyte_lib/_executor.py
  airbyte-lib/airbyte_lib/_factories/__init__.py
  airbyte-lib/airbyte_lib/_factories/cache_factories.py
  airbyte-lib/airbyte_lib/_factories/connector_factories.py
  airbyte-lib/airbyte_lib/_file_writers/__init__.py
  airbyte-lib/airbyte_lib/_file_writers/base.py
  airbyte-lib/airbyte_lib/_file_writers/parquet.py
  airbyte-lib/airbyte_lib/_processors.py
  airbyte-lib/airbyte_lib/_util/__init__.py
  airbyte-lib/airbyte_lib/_util/protocol_util.py
  airbyte-lib/airbyte_lib/cache.py
  airbyte-lib/airbyte_lib/caches/__init__.py
  airbyte-lib/airbyte_lib/caches/base.py
  airbyte-lib/airbyte_lib/caches/duckdb.py
  airbyte-lib/airbyte_lib/caches/postgres.py
  airbyte-lib/airbyte_lib/caches/snowflake.py
  airbyte-lib/airbyte_lib/config.py
  airbyte-lib/airbyte_lib/datasets/__init__.py
  airbyte-lib/airbyte_lib/datasets/_base.py
  airbyte-lib/airbyte_lib/datasets/_cached.py
  airbyte-lib/airbyte_lib/datasets/_lazy.py
  airbyte-lib/airbyte_lib/datasets/_map.py
  airbyte-lib/airbyte_lib/registry.py
  airbyte-lib/airbyte_lib/results.py
  airbyte-lib/airbyte_lib/source.py
  airbyte-lib/airbyte_lib/sync_result.py
  airbyte-lib/airbyte_lib/types.py
  airbyte-lib/airbyte_lib/validate.py
  airbyte-lib/docs/generated/airbyte_lib.html
  airbyte-lib/docs/generated/airbyte_lib/caches.html
  airbyte-lib/docs/generated/airbyte_lib/datasets.html
  airbyte-lib/docs/generated/airbyte_lib/factories.html
  airbyte-lib/docs/generated/airbyte_lib/file_writers.html
  airbyte-lib/examples/run_faker.py
  airbyte-lib/examples/run_spacex.py
  airbyte-lib/examples/run_test_source.py
  airbyte-lib/poetry.lock
  airbyte-lib/pyproject.toml
  airbyte-lib/tests/conftest.py
  airbyte-lib/tests/integration_tests/test_integration.py
  airbyte-lib/tests/lint_tests/__init__.py
  airbyte-lib/tests/lint_tests/test_mypy.py
  airbyte-lib/tests/lint_tests/test_ruff.py
  airbyte-lib/tests/unit_tests/__init__.py
  airbyte-lib/tests/unit_tests/test_caches.py
  airbyte-lib/tests/unit_tests/test_type_translation.py
  airbyte-lib/tests/unit_tests/test_writers.py
  pyproject.toml
Labels: connectors/source/hubspot, connectors/source/bing-ads, connectors/source/monday, connectors/source/amazon-seller-partner, connectors/destination/bigquery, connectors/source/bigquery, connectors/source/google-ads, connectors/source/jira, connectors/source/linkedin-ads, connectors/source/mssql, connectors/destination/mysql, connectors/source/posthog, connectors/source/redshift, connectors/source/snowflake, connectors/source/s3, connectors/source/salesforce, connectors/destination/amazon-sqs, connectors/destination/postgres, connectors/destination/meilisearch, connectors/source/mongodb-v2, connectors/source/pardot, connectors/destination/postgres-strict-encrypt, connectors/destination/mysql-strict-encrypt, connectors/source/mongodb-strict-encrypt, connectors/source/mailjet-mail, connectors/source/convex, connectors/source/azure-blob-storage, connectors/source/google-drive, connectors/source/microsoft-onedrive, airbyte-lib

#34159 Vectara Destination: Add info box
  docs/integrations/destinations/vectara.md
Labels: area/documentation

#34194 Destination Redshift: Use cdk for TD dependency
  airbyte-integrations/connectors/destination-redshift/build.gradle
Labels: area/connectors, connectors/destination/redshift, checklist-action-run

#34226 Destination Bigquery: Clean up dependencies with TD/CDK
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/uploader/BigQueryUploaderFactory.java
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, checklist-action-run

#34227 Destination Snowflake: Cleanup dependencies and upgrade CDK
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/snowflake, checklist-action-run

#34108 🚨🚨 Source Monday migration to new api version 2024-01
  airbyte-integrations/connectors/source-monday/acceptance-test-config.yml
  airbyte-integrations/connectors/source-monday/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-monday/metadata.yaml
  airbyte-integrations/connectors/source-monday/source_monday/extractor.py
  airbyte-integrations/connectors/source-monday/source_monday/graphql_requester.py
  airbyte-integrations/connectors/source-monday/source_monday/item_pagination_strategy.py
  airbyte-integrations/connectors/source-monday/source_monday/manifest.yaml
  airbyte-integrations/connectors/source-monday/source_monday/schemas/boards.json
  airbyte-integrations/connectors/source-monday/source_monday/schemas/items.json
  airbyte-integrations/connectors/source-monday/source_monday/schemas/tags.json
  airbyte-integrations/connectors/source-monday/source_monday/schemas/teams.json
  airbyte-integrations/connectors/source-monday/source_monday/schemas/updates.json
  airbyte-integrations/connectors/source-monday/source_monday/schemas/users.json
  airbyte-integrations/connectors/source-monday/source_monday/schemas/workspaces.json
  airbyte-integrations/connectors/source-monday/unit_tests/test_extractor.py
  airbyte-integrations/connectors/source-monday/unit_tests/test_graphql_requester.py
  airbyte-integrations/connectors/source-monday/unit_tests/test_item_pagination_strategy.py
  docs/integrations/sources/monday-migrations.md
  docs/integrations/sources/monday.md
Labels: area/documentation, area/connectors, connectors/source/monday

#34222 🐛 Source Linkedin Ads: Use stream slices for Analytics streams
  airbyte-integrations/connectors/source-linkedin-ads/metadata.yaml
  airbyte-integrations/connectors/source-linkedin-ads/setup.py
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/analytics.py
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/analytics_streams.py
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/source.py
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/streams.py
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/utils.py
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/__init__.py
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/analytics_tests/samples/test_data_for_analytics.py
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/analytics_tests/test_chunk_analytics_fields.py
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/analytics_tests/test_make_analytics_slices.py
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/analytics_tests/test_make_date_slices.py
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/analytics_tests/test_merge_chunks.py
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/output_slices.json
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/responses/ad_member_country_analytics/response_1.json
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/responses/ad_member_country_analytics/response_2.json
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/responses/ad_member_country_analytics/response_3.json
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/test_analytics_streams.py
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/test_source.py
  docs/integrations/sources/linkedin-ads.md
Labels: area/documentation, area/connectors, connectors/source/linkedin-ads

#34176 ✨ Source google analytics Data API: add a report option `keepEmptyRows`
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/source.py
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/spec.json
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/conftest.py
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_streams.py
  docs/integrations/sources/google-analytics-data-api.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-data-api

#33935 Source Shopify: Convert to airbyte-lib
  airbyte-integrations/connectors/source-shopify/main.py
  airbyte-integrations/connectors/source-shopify/metadata.yaml
  airbyte-integrations/connectors/source-shopify/setup.py
  airbyte-integrations/connectors/source-shopify/source_shopify/run.py
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors, connectors/source/shopify

#34011 :bug: CDK HttpRequester should support str http_method which comes from manifest.yaml file
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/http_requester.py
Labels: CDK

#34241 add run method in run.py
  airbyte-integrations/connector-templates/source-python/source_{{snakeCase name}}/run.py.hbs
Labels: community

#32236 🐛 Source Quickbooks: Fix refresh token issue by upgrading airbyte-cdk
  airbyte-integrations/connectors/source-quickbooks/Dockerfile
  airbyte-integrations/connectors/source-quickbooks/metadata.yaml
  airbyte-integrations/connectors/source-quickbooks/setup.py
  airbyte-integrations/connectors/source-quickbooks/source_quickbooks/manifest.yaml
  docs/integrations/sources/quickbooks.md
Labels: area/documentation, area/connectors, community, connectors/source/quickbooks

#33961 fix link in MSSQL source documentation to pr
  docs/integrations/sources/mssql.md
Labels: area/documentation, community

#33882 ✨ Source Intercom: Add new stream Activity logs stream
  airbyte-integrations/connectors/source-intercom/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-intercom/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-intercom/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-intercom/integration_tests/incremental_catalog.json
  airbyte-integrations/connectors/source-intercom/metadata.yaml
  airbyte-integrations/connectors/source-intercom/setup.py
  airbyte-integrations/connectors/source-intercom/source_intercom/components.py
  airbyte-integrations/connectors/source-intercom/source_intercom/manifest.yaml
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/activity_logs.json
  docs/integrations/sources/intercom.md
Labels: area/documentation, area/connectors, connectors/source/intercom

#33725 Change link in documentation to point to English AWS documentation
  docs/deploying-airbyte/on-aws-ec2.md
Labels: area/documentation, community

#33679 airbyte-lib: Add telemetry
  airbyte-lib/airbyte_lib/_executor.py
  airbyte-lib/airbyte_lib/caches/base.py
  airbyte-lib/airbyte_lib/caches/duckdb.py
  airbyte-lib/airbyte_lib/caches/postgres.py
  airbyte-lib/airbyte_lib/caches/snowflake.py
  airbyte-lib/airbyte_lib/registry.py
  airbyte-lib/airbyte_lib/source.py
  airbyte-lib/airbyte_lib/telemetry.py
  airbyte-lib/airbyte_lib/version.py
  airbyte-lib/docs/generated/airbyte_lib/caches.html
  airbyte-lib/docs/generated/airbyte_lib/factories.html
  airbyte-lib/examples/run_test_source_single_stream.py
  airbyte-lib/tests/integration_tests/fixtures/source-test/source_test/run.py
  airbyte-lib/tests/integration_tests/test_integration.py
Labels: team/ai-language-models, airbyte-lib

#34157 source-mailchimp: Convert to airbyte-lib
  airbyte-integrations/connectors/source-mailchimp/main.py
  airbyte-integrations/connectors/source-mailchimp/metadata.yaml
  airbyte-integrations/connectors/source-mailchimp/setup.py
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/run.py
  docs/integrations/sources/mailchimp.md
Labels: area/documentation, area/connectors, connectors/source/mailchimp

#34153 source-pipedrive: Convert to airbyte-lib
  airbyte-integrations/connectors/source-pipedrive/Dockerfile
  airbyte-integrations/connectors/source-pipedrive/main.py
  airbyte-integrations/connectors/source-pipedrive/metadata.yaml
  airbyte-integrations/connectors/source-pipedrive/setup.py
  airbyte-integrations/connectors/source-pipedrive/source_pipedrive/run.py
  docs/integrations/sources/pipedrive.md
Labels: area/documentation, area/connectors, connectors/source/pipedrive

#34154 source-xero: Convert to airbyte-lib
  airbyte-integrations/connectors/source-xero/Dockerfile
  airbyte-integrations/connectors/source-xero/main.py
  airbyte-integrations/connectors/source-xero/metadata.yaml
  airbyte-integrations/connectors/source-xero/setup.py
  airbyte-integrations/connectors/source-xero/source_xero/run.py
  docs/integrations/sources/xero.md
Labels: area/documentation, area/connectors, connectors/source/xero

#34208 source-iterable: Convert to airbyte-lib
  airbyte-integrations/connectors/source-iterable/main.py
  airbyte-integrations/connectors/source-iterable/metadata.yaml
  airbyte-integrations/connectors/source-iterable/setup.py
  airbyte-integrations/connectors/source-iterable/source_iterable/run.py
  docs/integrations/sources/iterable.md
Labels: area/documentation, area/connectors, connectors/source/iterable

#34145 Source Typeform: Convert to airbyte-lib
  airbyte-integrations/connectors/source-typeform/.coveragerc
  airbyte-integrations/connectors/source-typeform/main.py
  airbyte-integrations/connectors/source-typeform/metadata.yaml
  airbyte-integrations/connectors/source-typeform/setup.py
  airbyte-integrations/connectors/source-typeform/source_typeform/run.py
  docs/integrations/sources/typeform.md
Labels: area/documentation, area/connectors, connectors/source/typeform

#34203 source-gitlab: Convert to airbyte-lib
  airbyte-integrations/connectors/source-gitlab/main.py
  airbyte-integrations/connectors/source-gitlab/metadata.yaml
  airbyte-integrations/connectors/source-gitlab/setup.py
  airbyte-integrations/connectors/source-gitlab/source_gitlab/run.py
  docs/integrations/sources/gitlab.md
Labels: area/documentation, area/connectors, connectors/source/gitlab

#34155 source-paypal-transaction: Convert to airbyte-lib
  airbyte-integrations/connectors/source-paypal-transaction/main.py
  airbyte-integrations/connectors/source-paypal-transaction/metadata.yaml
  airbyte-integrations/connectors/source-paypal-transaction/setup.py
  airbyte-integrations/connectors/source-paypal-transaction/source_paypal_transaction/run.py
  docs/integrations/sources/paypal-transaction.md
Labels: area/documentation, area/connectors, connectors/source/paypal-transaction

#34152 source-linkedin-ads: Convert to airbyte-lib
  airbyte-integrations/connectors/source-linkedin-ads/.coveragerc
  airbyte-integrations/connectors/source-linkedin-ads/main.py
  airbyte-integrations/connectors/source-linkedin-ads/metadata.yaml
  airbyte-integrations/connectors/source-linkedin-ads/setup.py
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/run.py
  docs/integrations/sources/linkedin-ads.md
Labels: area/documentation, area/connectors, connectors/source/linkedin-ads

#34204 source-zendesk-talk: Convert to airbyte-lib
  airbyte-integrations/connectors/source-zendesk-talk/.coveragerc
  airbyte-integrations/connectors/source-zendesk-talk/main.py
  airbyte-integrations/connectors/source-zendesk-talk/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-talk/setup.py
  airbyte-integrations/connectors/source-zendesk-talk/source_zendesk_talk/run.py
  docs/integrations/sources/zendesk-talk.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-talk

#34147 Source Mixpanel: Convert to airbyte-lib
  airbyte-integrations/connectors/source-mixpanel/main.py
  airbyte-integrations/connectors/source-mixpanel/metadata.yaml
  airbyte-integrations/connectors/source-mixpanel/setup.py
  airbyte-integrations/connectors/source-mixpanel/source_mixpanel/run.py
  docs/integrations/sources/mixpanel.md
Labels: area/documentation, area/connectors, connectors/source/mixpanel

#34007 Source Google Ads: Convert to airbyte-lib
  airbyte-integrations/connectors/source-google-ads/main.py
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/setup.py
  airbyte-integrations/connectors/source-google-ads/source_google_ads/run.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, connectors/source/google-ads

#34272 🌟 Source Freshservice: add `requested_items` stream
  airbyte-integrations/connectors/source-freshservice/Dockerfile
  airbyte-integrations/connectors/source-freshservice/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-freshservice/metadata.yaml
  airbyte-integrations/connectors/source-freshservice/setup.py
  airbyte-integrations/connectors/source-freshservice/source_freshservice/manifest.yaml
  airbyte-integrations/connectors/source-freshservice/source_freshservice/schemas/agents.json
  airbyte-integrations/connectors/source-freshservice/source_freshservice/schemas/requested_items.json
  docs/integrations/sources/freshservice.md
Labels: area/documentation, area/connectors, connectors/source/freshservice

#34286 Source Close.com: add custom fields
  airbyte-integrations/connectors/source-close-com/Dockerfile
  airbyte-integrations/connectors/source-close-com/metadata.yaml
  airbyte-integrations/connectors/source-close-com/source_close_com/__init__.py
  airbyte-integrations/connectors/source-close-com/source_close_com/source.py
  docs/integrations/sources/close-com.md
Labels: area/documentation, area/connectors, connectors/source/close-com

#34254 source-instagram: Convert to airbyte-lib
  airbyte-integrations/connectors/source-instagram/main.py
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  airbyte-integrations/connectors/source-instagram/setup.py
  airbyte-integrations/connectors/source-instagram/source_instagram/run.py
  docs/integrations/sources/instagram.md
Labels: area/documentation, area/connectors, connectors/source/instagram

#34246 source-marketo: Convert to airbyte-lib
  airbyte-integrations/connectors/source-marketo/main.py
  airbyte-integrations/connectors/source-marketo/metadata.yaml
  airbyte-integrations/connectors/source-marketo/setup.py
  airbyte-integrations/connectors/source-marketo/source_marketo/run.py
  docs/integrations/sources/marketo.md
Labels: area/documentation, area/connectors, connectors/source/marketo

#34293 Fix typo in docs
  docs/using-airbyte/getting-started/readme.md
Labels: area/documentation, community

#34303 Destination Postgres: Unpin cloud from 0.4.0
  airbyte-integrations/connectors/destination-postgres/metadata.yaml
Labels: area/connectors, connectors/destination/postgres, checklist-action-run

#34186 Destination Redshift - additional check method check, fix s3 file deletion
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestination.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/staging/GeneralStagingFunctions.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/staging/SerialFlush.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/staging/StagingOperations.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/s3/BlobStorageOperations.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/s3/S3ConsumerFactory.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/s3/S3StorageOperations.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/staging/AsyncFlush.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/staging/StagingConsumerFactory.java
  airbyte-integrations/connectors/destination-redshift/build.gradle
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftInsertDestination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftStagingS3Destination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/operations/RedshiftS3StagingSqlOperations.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/util/RedshiftUtil.java
  docs/integrations/destinations/redshift.md
Labels: area/documentation, area/connectors, CDK, connectors/source/google-ads, connectors/destination/redshift

#34223 AirbyteLib: Ruff lint rules cleanup
  airbyte-lib/airbyte_lib/__init__.py
  airbyte-lib/airbyte_lib/_executor.py
  airbyte-lib/airbyte_lib/_factories/cache_factories.py
  airbyte-lib/airbyte_lib/_factories/connector_factories.py
  airbyte-lib/airbyte_lib/_file_writers/base.py
  airbyte-lib/airbyte_lib/_file_writers/parquet.py
  airbyte-lib/airbyte_lib/_processors.py
  airbyte-lib/airbyte_lib/_util/protocol_util.py
  airbyte-lib/airbyte_lib/caches/base.py
  airbyte-lib/airbyte_lib/caches/duckdb.py
  airbyte-lib/airbyte_lib/caches/postgres.py
  airbyte-lib/airbyte_lib/datasets/_lazy.py
  airbyte-lib/airbyte_lib/registry.py
  airbyte-lib/airbyte_lib/source.py
  airbyte-lib/airbyte_lib/telemetry.py
  airbyte-lib/airbyte_lib/types.py
  airbyte-lib/airbyte_lib/validate.py
  airbyte-lib/docs.py
  airbyte-lib/docs/generated/airbyte_lib.html
  airbyte-lib/docs/generated/airbyte_lib/factories.html
  airbyte-lib/poetry.lock
  airbyte-lib/pyproject.toml
  airbyte-lib/tests/lint_tests/test_ruff.py
Labels: Sweep

#34229 🐛 Destination Weaviate: Multi Tenancy Support
  airbyte-integrations/connectors/destination-weaviate/destination_weaviate/config.py
  airbyte-integrations/connectors/destination-weaviate/destination_weaviate/indexer.py
  airbyte-integrations/connectors/destination-weaviate/integration_tests/spec.json
  airbyte-integrations/connectors/destination-weaviate/metadata.yaml
  airbyte-integrations/connectors/destination-weaviate/unit_tests/indexer_test.py
  docs/integrations/destinations/weaviate.md
Labels: area/documentation, area/connectors, community, connectors/destination/weaviate

#34283 🐛Source Amazon Seller Partner: delete deprecated streams
  airbyte-integrations/connectors/source-amazon-seller-partner/acceptance-test-config.yml
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_brand_analytics_alternate_purchase.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/configured_catalog_brand_analytics_item_comparison.json
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-amazon-seller-partner/integration_tests/future_state.json
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_BRAND_ANALYTICS_ALTERNATE_PURCHASE_REPORT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_BRAND_ANALYTICS_ITEM_COMPARISON_REPORT.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/spec.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation, area/connectors, connectors/source/amazon-seller-partner

#34284 Unify lowcode tags
  airbyte-integrations/connector-templates/source-configuration-based/metadata.yaml.hbs
  airbyte-integrations/connectors/source-apify-dataset/metadata.yaml
  airbyte-integrations/connectors/source-appfollow/metadata.yaml
  airbyte-integrations/connectors/source-auth0/metadata.yaml
  airbyte-integrations/connectors/source-babelforce/metadata.yaml
  airbyte-integrations/connectors/source-chargify/metadata.yaml
  airbyte-integrations/connectors/source-clockify/metadata.yaml
  airbyte-integrations/connectors/source-commercetools/metadata.yaml
  airbyte-integrations/connectors/source-copper/metadata.yaml
  airbyte-integrations/connectors/source-customer-io/metadata.yaml
  airbyte-integrations/connectors/source-dixa/metadata.yaml
  airbyte-integrations/connectors/source-dockerhub/metadata.yaml
  airbyte-integrations/connectors/source-drift/metadata.yaml
  airbyte-integrations/connectors/source-exchange-rates/metadata.yaml
  airbyte-integrations/connectors/source-fastbill/metadata.yaml
  airbyte-integrations/connectors/source-freshcaller/metadata.yaml
  airbyte-integrations/connectors/source-freshservice/metadata.yaml
  airbyte-integrations/connectors/source-glassfrog/metadata.yaml
  airbyte-integrations/connectors/source-harness/metadata.yaml
  airbyte-integrations/connectors/source-hubplanner/metadata.yaml
  airbyte-integrations/connectors/source-insightly/metadata.yaml
  airbyte-integrations/connectors/source-lemlist/metadata.yaml
  airbyte-integrations/connectors/source-nasa/metadata.yaml
  airbyte-integrations/connectors/source-onesignal/metadata.yaml
  airbyte-integrations/connectors/source-open-exchange-rates/metadata.yaml
  airbyte-integrations/connectors/source-openweather/metadata.yaml
  airbyte-integrations/connectors/source-opsgenie/metadata.yaml
  airbyte-integrations/connectors/source-orbit/metadata.yaml
  airbyte-integrations/connectors/source-pagerduty/metadata.yaml
  airbyte-integrations/connectors/source-persistiq/metadata.yaml
  airbyte-integrations/connectors/source-pipedrive/metadata.yaml
  airbyte-integrations/connectors/source-pokeapi/metadata.yaml
  airbyte-integrations/connectors/source-public-apis/metadata.yaml
  airbyte-integrations/connectors/source-qonto/metadata.yaml
  airbyte-integrations/connectors/source-qualaroo/metadata.yaml
  airbyte-integrations/connectors/source-serpstat/metadata.yaml
  airbyte-integrations/connectors/source-shortio/metadata.yaml
  airbyte-integrations/connectors/source-todoist/metadata.yaml
  airbyte-integrations/connectors/source-visma-economic/metadata.yaml
  airbyte-integrations/connectors/source-wrike/metadata.yaml
  airbyte-integrations/connectors/source-younium/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-sell/metadata.yaml
  airbyte-integrations/connectors/source-zenefits/metadata.yaml
Labels: area/connectors, connectors/source/drift, connectors/source/lemlist, connectors/source/commercetools, connectors/source/shortio, connectors/source/dixa, connectors/source/exchange-rates, connectors/source/apify-dataset, connectors/source/freshservice, connectors/source/onesignal, connectors/source/pipedrive, connectors/source/pokeapi, connectors/source/chargify, connectors/source/customer-io, connectors/source/hubplanner, connectors/source/babelforce, connectors/source/dockerhub, connectors/source/orbit, connectors/source/glassfrog, connectors/source/openweather, connectors/source/appfollow, connectors/source/opsgenie, connectors/source/freshcaller, connectors/source/zenefits, connectors/source/wrike, connectors/source/qonto, connectors/source/clockify, connectors/source/zendesk-sell, connectors/source/insightly, connectors/source/auth0, connectors/source/nasa, connectors/source/public-apis, connectors/source/fastbill, connectors/source/visma-economic, connectors/source/younium, connectors/source/copper, connectors/source/open-exchange-rates, connectors/source/todoist, connectors/source/qualaroo, connectors/source/pagerduty, connectors/source/serpstat, connectors/source/persistiq, connectors/source/harness

#34314 [Source-mongo] : Relax minimum document discovery size to 100
  airbyte-integrations/connectors/source-mongodb-v2/integration_tests/expected_spec.json
  airbyte-integrations/connectors/source-mongodb-v2/metadata.yaml
  airbyte-integrations/connectors/source-mongodb-v2/src/main/resources/spec.json
  docs/integrations/sources/mongodb-v2.md
Labels: area/documentation, area/connectors, connectors/source/mongodb-v2

#33818 ✨ Source S3: Add IAM Role Authentication
  airbyte-integrations/connectors/source-s3/acceptance-test-config.yml
  airbyte-integrations/connectors/source-s3/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-s3/integration_tests/cloud_spec.json
  airbyte-integrations/connectors/source-s3/integration_tests/spec.json
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/setup.py
  airbyte-integrations/connectors/source-s3/source_s3/source.py
  airbyte-integrations/connectors/source-s3/source_s3/v4/config.py
  airbyte-integrations/connectors/source-s3/source_s3/v4/stream_reader.py
  airbyte-integrations/connectors/source-s3/unit_tests/v4/test_stream_reader.py
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3

#34177 Destination postgres: DV2 beta implementation
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/db/factory/DataSourceFactory.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/db/jdbc/JdbcDatabase.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestination.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/JdbcSqlOperations.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcDestinationHandler.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/java/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcSqlGenerator.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/java/io/airbyte/cdk/integrations/standardtest/destination/typing_deduping/JdbcSqlGeneratorIntegrationTest.java
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/java/io/airbyte/cdk/integrations/standardtest/destination/typing_deduping/JdbcTypingDedupingTest.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/java/io/airbyte/integrations/base/destination/typing_deduping/DefaultTyperDeduper.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/java/io/airbyte/integrations/base/destination/typing_deduping/BaseSqlGeneratorIntegrationTest.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/resources/sqlgenerator/alltypes_unsafe_inputrecords.jsonl
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/build.gradle
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/gradle.properties
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/destination-postgres/build.gradle
  airbyte-integrations/connectors/destination-postgres/gradle.properties
  airbyte-integrations/connectors/destination-postgres/metadata.yaml
  airbyte-integrations/connectors/destination-postgres/src/main/java/io/airbyte/integrations/destination/postgres/PostgresDestination.java
  airbyte-integrations/connectors/destination-postgres/src/main/java/io/airbyte/integrations/destination/postgres/PostgresSqlOperations.java
  airbyte-integrations/connectors/destination-postgres/src/main/java/io/airbyte/integrations/destination/postgres/typing_deduping/PostgresSqlGenerator.java
  airbyte-integrations/connectors/destination-postgres/src/test-integration/java/io/airbyte/integrations/destination/postgres/typing_deduping/PostgresRawOverrideTypingDedupingTest.java
  airbyte-integrations/connectors/destination-postgres/src/test-integration/java/io/airbyte/integrations/destination/postgres/typing_deduping/PostgresSqlGeneratorIntegrationTest.java
  airbyte-integrations/connectors/destination-postgres/src/test-integration/java/io/airbyte/integrations/destination/postgres/typing_deduping/PostgresTypingDedupingTest.java
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/dat/sync1_cursorchange_expectedrecords_dedup_final.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/dat/sync1_cursorchange_expectedrecords_dedup_raw.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/dat/sync1_expectedrecords_dedup_final.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/dat/sync1_expectedrecords_dedup_final2.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/dat/sync1_expectedrecords_nondedup_final.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/dat/sync1_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/dat/sync1_expectedrecords_raw2.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/dat/sync2_cursorchange_expectedrecords_incremental_dedup_final.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/dat/sync2_cursorchange_expectedrecords_incremental_dedup_raw.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_append_final.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_overwrite_final.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_overwrite_raw.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/dat/sync2_expectedrecords_incremental_dedup_final.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/dat/sync2_expectedrecords_incremental_dedup_final2.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/dat/sync2_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/dat/sync2_expectedrecords_raw2.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/sqlgenerator/alltypes_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/sqlgenerator/alltypes_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/sqlgenerator/incrementaldedup_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/sqlgenerator/incrementaldedup_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/sqlgenerator/json_types_in_string_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/sqlgenerator/json_types_in_string_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/sqlgenerator/nocolumns_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/sqlgenerator/nocolumns_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/sqlgenerator/reservedkeywords_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/sqlgenerator/timestampformats_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/sqlgenerator/weirdcolumnnames_expectedrecords_final.jsonl
  airbyte-integrations/connectors/destination-postgres/src/test-integration/resources/sqlgenerator/weirdcolumnnames_expectedrecords_raw.jsonl
  docs/integrations/destinations/postgres.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/bigquery, connectors/destination/snowflake, connectors/destination/redshift, connectors/destination/postgres, connectors/destination/postgres-strict-encrypt, checklist-action-run

#34344 source-faker: unique state messages
  airbyte-integrations/connectors/source-faker/Dockerfile
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/source_faker/streams.py
  docs/integrations/sources/faker.md
Labels: area/documentation, area/connectors, connectors/source/faker

#33669 concurrent cdk: improve resource usage and stop waiting on the main thread
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/concurrent_read_processor.py
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/concurrent_source.py
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/thread_pool_manager.py
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/throttler.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/partition_enqueuer.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/partition_reader.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/partitions/throttled_queue.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_concurrent_partition_generator.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_concurrent_read_processor.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_thread_pool_manager.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_throttled_queue.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_throttler.py
Labels: CDK, connectors/source/stripe

#34352 🐛Source Google Analytics: add incorrect custom reports config handling
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/source.py
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/utils.py
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_source.py
  docs/integrations/sources/google-analytics-data-api.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-data-api

#34131 Concurrent CDK: fix state message ordering
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/state_converters/abstract_stream_state_converter.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/state_converters/datetime_stream_state_converter.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/scenarios/stream_facade_builder.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_cursor.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_datetime_state_converter.py
Labels: CDK, connectors/source/salesforce
