Repository airbytehq/airbyte, pull requests merged in 2024-04, with the labels that each got.

#35281 🚨🚨 Source Mailchimp: Migrate to Low code
  airbyte-integrations/connectors/source-mailchimp/.coveragerc
  airbyte-integrations/connectors/source-mailchimp/acceptance-test-config.yml
  airbyte-integrations/connectors/source-mailchimp/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-mailchimp/integration_tests/state.json
  airbyte-integrations/connectors/source-mailchimp/metadata.yaml
  airbyte-integrations/connectors/source-mailchimp/poetry.lock
  airbyte-integrations/connectors/source-mailchimp/pyproject.toml
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/components.py
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/config_migrations.py
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/manifest.yaml
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/run.py
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/source.py
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/spec.json
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/streams.py
  airbyte-integrations/connectors/source-mailchimp/unit_tests/conftest.py
  airbyte-integrations/connectors/source-mailchimp/unit_tests/integration/__init__.py
  airbyte-integrations/connectors/source-mailchimp/unit_tests/integration/config.py
  airbyte-integrations/connectors/source-mailchimp/unit_tests/integration/test_automations.py
  airbyte-integrations/connectors/source-mailchimp/unit_tests/resource/http/response/automations.json
  airbyte-integrations/connectors/source-mailchimp/unit_tests/test_component_custom_email_activity_extractor.py
  airbyte-integrations/connectors/source-mailchimp/unit_tests/test_component_custom_filter.py
  airbyte-integrations/connectors/source-mailchimp/unit_tests/test_config_datacenter_migration.py
  airbyte-integrations/connectors/source-mailchimp/unit_tests/test_configs/test_config_api_key.json
  airbyte-integrations/connectors/source-mailchimp/unit_tests/test_configs/test_config_oauth.json
  airbyte-integrations/connectors/source-mailchimp/unit_tests/test_source.py
  airbyte-integrations/connectors/source-mailchimp/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-mailchimp/unit_tests/unit_test.py
  docs/integrations/sources/mailchimp-migrations.md
  docs/integrations/sources/mailchimp.md
Labels: area/documentation, area/connectors, connectors/source/mailchimp, breaking-change

#36719 fix wrong partition key definition after legacy state migration
  airbyte-cdk/python/airbyte_cdk/sources/declarative/migrations/legacy_to_per_partition_state_migration.py
  airbyte-cdk/python/unit_tests/sources/declarative/migrations/test_legacy_to_per_partition_migration.py
Labels: CDK

#35989 🚨🚨🎉Source GitLab: migrate to low-code
  airbyte-integrations/connectors/source-gitlab/.coveragerc
  airbyte-integrations/connectors/source-gitlab/README.md
  airbyte-integrations/connectors/source-gitlab/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-gitlab/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-gitlab/metadata.yaml
  airbyte-integrations/connectors/source-gitlab/poetry.lock
  airbyte-integrations/connectors/source-gitlab/pyproject.toml
  airbyte-integrations/connectors/source-gitlab/source_gitlab/components/partition_routers.py
  airbyte-integrations/connectors/source-gitlab/source_gitlab/manifest.yaml
  airbyte-integrations/connectors/source-gitlab/source_gitlab/source.py
  airbyte-integrations/connectors/source-gitlab/source_gitlab/streams.py
  airbyte-integrations/connectors/source-gitlab/unit_tests/conftest.py
  airbyte-integrations/connectors/source-gitlab/unit_tests/test_partition_routers.py
  airbyte-integrations/connectors/source-gitlab/unit_tests/test_source.py
  airbyte-integrations/connectors/source-gitlab/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-gitlab/unit_tests/test_utils.py
  docs/integrations/sources/gitlab-migrations.md
  docs/integrations/sources/gitlab.md
Labels: area/documentation, area/connectors, connectors/source/gitlab, low-code-migration

#36695 Airbyte CDK: fix file-based deps
  airbyte-cdk/python/poetry.lock
  airbyte-cdk/python/pyproject.toml
Labels: CDK

#36731 :bug: Source Sentry: add time format
  airbyte-integrations/connectors/source-sentry/metadata.yaml
  airbyte-integrations/connectors/source-sentry/poetry.lock
  airbyte-integrations/connectors/source-sentry/pyproject.toml
  airbyte-integrations/connectors/source-sentry/source_sentry/manifest.yaml
  airbyte-integrations/connectors/source-sentry/unit_tests/resource/http/response/events_incremental.json
  docs/integrations/sources/sentry.md
Labels: area/documentation, area/connectors, connectors/source/sentry

#36733 add lombok dependencies to all java connectors
  buildSrc/src/main/groovy/airbyte-java-connector.gradle
Labels: connectors/destination/teradata

#36584 [Source-postgres] : Move to new Kotlin CDK
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/db/AbstractDatabase.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/db/DbAnalyticsUtils.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/db/factory/DatabaseDriver.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/db/jdbc/AbstractJdbcCompatibleSourceOperations.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/integrations/JdbcConnector.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/integrations/base/AirbyteTraceMessageUtility.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/integrations/base/ssh/SshHelpers.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/core/src/testFixtures/kotlin/io/airbyte/cdk/integrations/base/ssh/SshBastionContainer.kt
  airbyte-cdk/java/airbyte-cdk/core/src/testFixtures/kotlin/io/airbyte/cdk/testutils/TestDatabase.kt
  airbyte-cdk/java/airbyte-cdk/datastore-postgres/src/main/kotlin/io/airbyte/cdk/db/PgLsn.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/debezium/AirbyteDebeziumHandler.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/debezium/CdcTargetPosition.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/debezium/DebeziumIteratorConstants.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/debezium/internals/AirbyteFileOffsetBackingStore.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/debezium/internals/DebeziumConverterUtils.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/debezium/internals/DebeziumMessageProducer.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/source/jdbc/AbstractJdbcSource.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/source/jdbc/JdbcDataSourceUtils.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/source/jdbc/JdbcSSLConnectionUtils.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/source/jdbc/dto/JdbcPrivilegeDto.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/source/relationaldb/AbstractDbSource.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/source/relationaldb/DbSourceDiscoverUtil.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/source/relationaldb/RelationalDbQueryUtils.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/source/relationaldb/state/SourceStateIterator.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/source/relationaldb/state/StateManagerFactory.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/source/relationaldb/state/StreamStateManager.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/kotlin/io/airbyte/cdk/integrations/debezium/CdcSourceTest.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/kotlin/io/airbyte/cdk/integrations/debug/DebugUtil.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/kotlin/io/airbyte/cdk/integrations/source/jdbc/test/JdbcSourceAcceptanceTest.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/kotlin/io/airbyte/cdk/integrations/standardtest/source/AbstractSourceConnectorTest.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/kotlin/io/airbyte/cdk/integrations/standardtest/source/AbstractSourceDatabaseTypeTest.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/kotlin/io/airbyte/cdk/integrations/standardtest/source/SourceAcceptanceTest.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/kotlin/io/airbyte/cdk/integrations/standardtest/source/TestDataHolder.kt
  airbyte-cdk/java/airbyte-cdk/dependencies/src/main/kotlin/io/airbyte/commons/features/FeatureFlagsWrapper.kt
  airbyte-cdk/java/airbyte-cdk/dependencies/src/main/kotlin/io/airbyte/commons/io/IOs.kt
  airbyte-cdk/java/airbyte-cdk/dependencies/src/main/kotlin/io/airbyte/commons/json/Jsons.kt
  airbyte-cdk/java/airbyte-cdk/dependencies/src/main/kotlin/io/airbyte/commons/map/MoreMaps.kt
  airbyte-cdk/java/airbyte-cdk/dependencies/src/main/kotlin/io/airbyte/commons/stream/AirbyteStreamUtils.kt
  airbyte-cdk/java/airbyte-cdk/dependencies/src/main/kotlin/io/airbyte/commons/util/AutoCloseableIterators.kt
  airbyte-cdk/java/airbyte-cdk/dependencies/src/main/kotlin/io/airbyte/commons/util/MoreIterators.kt
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractSshPostgresSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcWalLogsPostgresSourceDatatypeTest.java
  airbyte-integrations/connectors/source-postgres/src/test-performance/java/io/airbyte/integrations/source/postgres/PostgresRdsSourcePerformanceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-postgres/src/testFixtures/java/io/airbyte/integrations/source/postgres/PostgresTestDatabase.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, CDK, connectors/source/postgres

#35561 ✨Source Survey Monkey: Migrate to low code
  airbyte-integrations/connectors/source-surveymonkey/.coveragerc
  airbyte-integrations/connectors/source-surveymonkey/README.md
  airbyte-integrations/connectors/source-surveymonkey/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-surveymonkey/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-surveymonkey/metadata.yaml
  airbyte-integrations/connectors/source-surveymonkey/poetry.lock
  airbyte-integrations/connectors/source-surveymonkey/pyproject.toml
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/__init__.py
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/components.py
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/config_migrations.py
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/manifest.yaml
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/run.py
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/source.py
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/spec.json
  airbyte-integrations/connectors/source-surveymonkey/source_surveymonkey/streams.py
  airbyte-integrations/connectors/source-surveymonkey/unit_tests/conftest.py
  airbyte-integrations/connectors/source-surveymonkey/unit_tests/test_config_migrations.py
  airbyte-integrations/connectors/source-surveymonkey/unit_tests/test_config_migrations/test_new_config.json
  airbyte-integrations/connectors/source-surveymonkey/unit_tests/test_config_migrations/test_old_config.json
  airbyte-integrations/connectors/source-surveymonkey/unit_tests/test_config_migrations/test_upgraded_config.json
  airbyte-integrations/connectors/source-surveymonkey/unit_tests/test_custom_router.py
  airbyte-integrations/connectors/source-surveymonkey/unit_tests/test_source.py
  airbyte-integrations/connectors/source-surveymonkey/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-surveymonkey/unit_tests/test_streams/records_survey_collectors.json
  airbyte-integrations/connectors/source-surveymonkey/unit_tests/test_streams/records_survey_ids.json
  airbyte-integrations/connectors/source-surveymonkey/unit_tests/test_streams/records_survey_pages.json
  airbyte-integrations/connectors/source-surveymonkey/unit_tests/test_streams/records_survey_questions.json
  airbyte-integrations/connectors/source-surveymonkey/unit_tests/test_streams/records_surveys.json
  airbyte-integrations/connectors/source-surveymonkey/unit_tests/test_streams/response_survey_collectors.json
  airbyte-integrations/connectors/source-surveymonkey/unit_tests/test_streams/response_survey_details.json
  airbyte-integrations/connectors/source-surveymonkey/unit_tests/test_streams/response_survey_ids.json
  docs/integrations/sources/surveymonkey.md
Labels: area/documentation, area/connectors, connectors/source/surveymonkey, low-code, low-code-migration

#36709 📝 Fix misspelling & missing punctuation mark in Pull Request Handbook Documentation.
  docs/contributing-to-airbyte/resources/pull-requests-handbook.md
Labels: area/documentation, community

#36739 [Source-Postgres] : Toggle useLocalCdk = false
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres

#36589 Destination Redshift: Adapting to Kotlin CDK
  airbyte-integrations/connectors/destination-redshift/build.gradle
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftStagingS3Destination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/operations/RedshiftS3StagingSqlOperations.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/operations/RedshiftSqlOperations.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftDestinationHandler.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftRawTableAirbyteMetaMigration.kt
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGenerator.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSuperLimitationTransformer.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/typing_deduping/AbstractRedshiftTypingDedupingTest.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftSqlGeneratorIntegrationTest.java
  docs/integrations/destinations/redshift.md
Labels: area/documentation, area/connectors, connectors/destination/redshift

#36747 Fix misspellings & missing punctuations
  docs/contributing-to-airbyte/resources/pull-requests-handbook.md
Labels: area/documentation, community

#36408 low-code: Add last_page_size and last_record to pagination context
  airbyte-cdk/python/airbyte_cdk/sources/declarative/declarative_component_schema.yaml
  airbyte-cdk/python/airbyte_cdk/sources/declarative/models/declarative_component_schema.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/strategies/cursor_pagination_strategy.py
  airbyte-cdk/python/unit_tests/sources/declarative/parsers/test_model_to_component_factory.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/paginators/test_cursor_pagination_strategy.py
Labels: CDK

#36673 Remove the custom implementation of buffered input stream reader
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/integrations/base/IntegrationRunner.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/core/src/test/kotlin/io/airbyte/cdk/integrations/base/IntegrationRunnerBackwardsCompatabilityTest.kt
Labels: CDK

#36749 re-enable rabbitmq on OSS
  airbyte-integrations/connectors/destination-rabbitmq/Dockerfile
  airbyte-integrations/connectors/destination-rabbitmq/metadata.yaml
  docs/integrations/destinations/rabbitmq.md
Labels: area/documentation, area/connectors, connectors/destination/rabbitmq

#36758 Update azure-entra-id.md
  docs/access-management/sso-providers/azure-entra-id.md
Labels: area/documentation

#36767 fix rabbitmq icon and simplify docs registry code
  airbyte-integrations/connectors/destination-rabbitmq/icon.svg
  docusaurus/src/components/ConnectorRegistry.jsx
  docusaurus/src/connector_registry.js
Labels: area/connectors, connectors/destination/rabbitmq

#36760 low-code: Fix cursor pagination instantiation if the stop_condition is a string
  airbyte-cdk/python/airbyte_cdk/sources/declarative/requesters/paginators/strategies/cursor_pagination_strategy.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/paginators/test_cursor_pagination_strategy.py
Labels: CDK

#36774 add backward compatibility for an old close slice logic
  airbyte-cdk/python/airbyte_cdk/sources/declarative/incremental/cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/incremental/datetime_based_cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/incremental/per_partition_cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/declarative/retrievers/simple_retriever.py
  airbyte-cdk/python/unit_tests/sources/declarative/retrievers/test_simple_retriever.py
Labels: CDK

#36738 chore(connectors): remove tasks.py and top-level requirements.txt
  airbyte-integrations/connectors/requirements.txt
  airbyte-integrations/connectors/tasks.py
Labels: area/connectors

#36746 ✨Source Monday: Bumped CDK version dependency
  airbyte-integrations/connectors/source-monday/metadata.yaml
  airbyte-integrations/connectors/source-monday/poetry.lock
  airbyte-integrations/connectors/source-monday/pyproject.toml
  airbyte-integrations/connectors/source-monday/source_monday/components.py
  airbyte-integrations/connectors/source-monday/unit_tests/integrations/test_teams_stream.py
  airbyte-integrations/connectors/source-monday/unit_tests/test_item_pagination_strategy.py
  docs/integrations/sources/monday.md
Labels: area/documentation, area/connectors, connectors/source/monday

#36385 Salesforce: retry on download_data and create_stream_job
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/pyproject.toml
  airbyte-integrations/connectors/source-salesforce/source_salesforce/api.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/rate_limiting.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/streams.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/api_test.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/conftest.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors, connectors/source/salesforce

#36542 Source Azure Blob Storage: add integration tests
  airbyte-integrations/connectors/source-azure-blob-storage/.coveragerc
  airbyte-integrations/connectors/source-azure-blob-storage/build_customization.py
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/configs/config_integration_avro.json
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/configs/config_integration_csv.json
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/configs/config_integration_jsonl.json
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/configs/config_integration_parquet.json
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/conftest.py
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/csv_export/README.md
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/csv_export/configured_catalog/configured_catalog.json
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/csv_export/main.sh
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/csv_export/products.sh
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/csv_export/purchases.sh
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/csv_export/secret_faker/secret_faker.json
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/csv_export/users.sh
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/docker-compose.yaml
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/integration_configured_catalog/configured_catalog.json
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/integration_test.py
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/utils.py
  airbyte-integrations/connectors/source-azure-blob-storage/metadata.yaml
  airbyte-integrations/connectors/source-azure-blob-storage/poetry.lock
  airbyte-integrations/connectors/source-azure-blob-storage/pyproject.toml
  airbyte-integrations/connectors/source-azure-blob-storage/source_azure_blob_storage/stream_reader.py
  docs/integrations/sources/azure-blob-storage.md
Labels: area/documentation, area/connectors, connectors/source/azure-blob-storage

#36515 Source Google Sheets: address dependency conflict and update CDK
  airbyte-integrations/connectors/source-google-sheets/metadata.yaml
  airbyte-integrations/connectors/source-google-sheets/poetry.lock
  airbyte-integrations/connectors/source-google-sheets/pyproject.toml
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/source.py
  docs/integrations/sources/google-sheets.md
Labels: area/documentation, area/connectors, connectors/source/google-sheets

#36759 java-cdk: re-export airbyte-api dependency
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/azure-destinations/build.gradle
  airbyte-cdk/java/airbyte-cdk/build.gradle
  airbyte-cdk/java/airbyte-cdk/core/build.gradle
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/datastore-bigquery/build.gradle
  airbyte-cdk/java/airbyte-cdk/datastore-mongo/build.gradle
  airbyte-cdk/java/airbyte-cdk/datastore-postgres/build.gradle
  airbyte-cdk/java/airbyte-cdk/db-destinations/build.gradle
  airbyte-cdk/java/airbyte-cdk/db-sources/build.gradle
  airbyte-cdk/java/airbyte-cdk/dependencies/build.gradle
  airbyte-cdk/java/airbyte-cdk/gcs-destinations/build.gradle
  airbyte-cdk/java/airbyte-cdk/s3-destinations/build.gradle
  airbyte-cdk/java/airbyte-cdk/typing-deduping/build.gradle
  airbyte-integrations/bases/base-normalization/build.gradle
  airbyte-integrations/connectors-performance/destination-harness/build.gradle
  airbyte-integrations/connectors-performance/source-harness/build.gradle
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  build.gradle
  buildSrc/src/main/groovy/airbyte-java-connector.gradle
  docs/integrations/sources/postgres.md
  settings.gradle
Labels: area/documentation, area/connectors, normalization, CDK, connectors/source/postgres

#36723 ✨ Source Salesforce, Shopify: add maxSecondsBetweenMessages in metadata
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-shopify/metadata.yaml
Labels: area/connectors, connectors/source/shopify, connectors/source/salesforce

#36581 ✨ source-google-drive: migrate to poetry
  airbyte-integrations/connectors/source-google-drive/README.md
  airbyte-integrations/connectors/source-google-drive/integration_tests/spec.json
  airbyte-integrations/connectors/source-google-drive/metadata.yaml
  airbyte-integrations/connectors/source-google-drive/poetry.lock
  airbyte-integrations/connectors/source-google-drive/pyproject.toml
  airbyte-integrations/connectors/source-google-drive/requirements.txt
  airbyte-integrations/connectors/source-google-drive/setup.py
  docs/integrations/sources/google-drive.md
Labels: area/documentation, area/connectors, connectors/source/google-drive

#36701 enable spotbugs for cdk typing_and_deduping submodule
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcSqlGenerator.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/standardtest/destination/typing_deduping/JdbcSqlGeneratorIntegrationTest.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/build.gradle
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/kotlin/io/airbyte/integrations/base/destination/typing_deduping/SqlGenerator.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/kotlin/io/airbyte/integrations/base/destination/typing_deduping/TypeAndDedupeTransaction.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/test/kotlin/io/airbyte/integrations/base/destination/typing_deduping/AirbyteTypeTest.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/test/kotlin/io/airbyte/integrations/base/destination/typing_deduping/CollectionUtilsTest.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/test/kotlin/io/airbyte/integrations/base/destination/typing_deduping/DefaultTyperDeduperTest.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/test/kotlin/io/airbyte/integrations/base/destination/typing_deduping/DestinationV1V2MigratorTest.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/test/kotlin/io/airbyte/integrations/base/destination/typing_deduping/MockSqlGenerator.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/kotlin/io/airbyte/integrations/base/destination/typing_deduping/BaseSqlGeneratorIntegrationTest.kt
Labels: CDK

#36702 enable spotbugs for db-destinations CDK submodule
  airbyte-cdk/java/airbyte-cdk/db-destinations/build.gradle
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/standardtest/destination/DestinationAcceptanceTest.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/standardtest/destination/TestingNamespaces.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/standardtest/destination/typing_deduping/JdbcSqlGeneratorIntegrationTest.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/standardtest/destination/typing_deduping/JdbcTypingDedupingTest.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/kotlin/io/airbyte/integrations/base/destination/typing_deduping/BaseSqlGeneratorIntegrationTest.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/kotlin/io/airbyte/integrations/base/destination/typing_deduping/BaseTypingDedupingTest.kt
Labels: CDK

#36703 enabling spotbugs for gcs-destinations submodule
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/standardtest/destination/DestinationAcceptanceTest.kt
  airbyte-cdk/java/airbyte-cdk/gcs-destinations/build.gradle
  airbyte-cdk/java/airbyte-cdk/gcs-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/destination/gcs/GcsAvroParquetDestinationAcceptanceTest.kt
  airbyte-cdk/java/airbyte-cdk/gcs-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/destination/gcs/GcsBaseAvroDestinationAcceptanceTest.kt
  airbyte-cdk/java/airbyte-cdk/gcs-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/destination/gcs/GcsBaseCsvDestinationAcceptanceTest.kt
  airbyte-cdk/java/airbyte-cdk/gcs-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/destination/gcs/GcsBaseJsonlDestinationAcceptanceTest.kt
  airbyte-cdk/java/airbyte-cdk/gcs-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/destination/gcs/GcsBaseParquetDestinationAcceptanceTest.kt
  airbyte-cdk/java/airbyte-cdk/gcs-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/destination/gcs/GcsDestinationAcceptanceTest.kt
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/destination/s3/S3BaseAvroDestinationAcceptanceTest.kt
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/destination/s3/S3BaseCsvDestinationAcceptanceTest.kt
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/destination/s3/S3BaseJsonlDestinationAcceptanceTest.kt
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/destination/s3/S3BaseParquetDestinationAcceptanceTest.kt
Labels: CDK

#36704 enabling spotbugs for datastore-postgres submodule
  airbyte-cdk/java/airbyte-cdk/datastore-postgres/build.gradle
  airbyte-cdk/java/airbyte-cdk/datastore-postgres/src/test/kotlin/io/airbyte/cdk/db/PostgresUtilsTest.kt
Labels: CDK

#36705 enable spotbugs for db-sources submodule
  airbyte-cdk/java/airbyte-cdk/db-sources/build.gradle
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/debezium/CdcTargetPosition.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/kotlin/io/airbyte/cdk/integrations/debezium/internals/DebeziumMessageProducerTest.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/kotlin/io/airbyte/cdk/integrations/debezium/internals/DebeziumRecordIteratorTest.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/kotlin/io/airbyte/cdk/integrations/source/jdbc/DefaultJdbcSourceAcceptanceTest.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/kotlin/io/airbyte/cdk/integrations/source/relationaldb/state/SourceStateIteratorForTest.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/kotlin/io/airbyte/cdk/integrations/source/relationaldb/state/SourceStateIteratorTest.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/kotlin/io/airbyte/cdk/integrations/debezium/CdcSourceTest.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/kotlin/io/airbyte/cdk/integrations/source/jdbc/test/JdbcSourceAcceptanceTest.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/kotlin/io/airbyte/cdk/integrations/standardtest/source/AbstractSourceConnectorTest.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/kotlin/io/airbyte/cdk/integrations/standardtest/source/AbstractSourceDatabaseTypeTest.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/kotlin/io/airbyte/cdk/integrations/standardtest/source/PythonSourceAcceptanceTest.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/kotlin/io/airbyte/cdk/integrations/standardtest/source/SourceAcceptanceTest.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/kotlin/io/airbyte/cdk/integrations/standardtest/source/performancetest/AbstractSourcePerformanceTest.kt
Labels: CDK

#36812 Log trace
  airbyte-integrations/connectors/destination-e2e-test/metadata.yaml
  airbyte-integrations/connectors/destination-e2e-test/src/main/java/io/airbyte/integrations/destination/e2e_test/logging/LoggingConsumer.java
  docs/integrations/destinations/e2e-test.md
Labels: area/documentation, area/connectors, connectors/destination/e2e-test

#36834 CDK: fix misaligned version numbers
  airbyte-cdk/python/.bumpversion.cfg
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/Dockerfile
Labels: CDK

#36837 [source-mongo] : Adopt CDK 0.28.0
  airbyte-integrations/connectors/source-mongodb-v2/build.gradle
  airbyte-integrations/connectors/source-mongodb-v2/gradle.properties
  airbyte-integrations/connectors/source-mongodb-v2/metadata.yaml
  airbyte-integrations/connectors/source-mongodb-v2/src/test-integration/java/io/airbyte/integrations/source/mongodb/MongoDbSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbDebeziumPropertiesManagerTest.java
  docs/integrations/sources/mongodb-v2.md
Labels: area/documentation, area/connectors, connectors/source/mongodb-v2

#36772 Adapt source-mssql to latest Kotlin converted CDK
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/db/DataTypeUtils.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/db/jdbc/AbstractJdbcCompatibleSourceOperations.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/db/jdbc/JdbcDatabase.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/db/jdbc/JdbcSourceOperations.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/integrations/JdbcConnector.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/integrations/base/ssh/SshHelpers.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/core/src/testFixtures/kotlin/io/airbyte/cdk/testutils/TestDatabase.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/debezium/internals/AirbyteFileOffsetBackingStore.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/debezium/internals/AirbyteSchemaHistoryStorage.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/debezium/internals/RecordWaitTimeUtil.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/source/jdbc/AbstractJdbcSource.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/source/relationaldb/RelationalDbQueryUtils.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/source/relationaldb/RelationalDbReadUtil.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/source/relationaldb/state/StateGeneratorUtils.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/kotlin/io/airbyte/cdk/integrations/debezium/CdcSourceTest.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/kotlin/io/airbyte/cdk/integrations/source/jdbc/test/JdbcSourceAcceptanceTest.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/kotlin/io/airbyte/cdk/integrations/standardtest/source/AbstractSourceDatabaseTypeTest.kt
  airbyte-cdk/java/airbyte-cdk/dependencies/src/main/kotlin/io/airbyte/commons/util/AutoCloseableIterators.kt
  airbyte-cdk/java/airbyte-cdk/dependencies/src/main/kotlin/io/airbyte/commons/util/MoreIterators.kt
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcStateHandler.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/cdc/MssqlDebeziumStateUtil.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/AbstractSshMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-performance/java/io/airbyte/integrations/source/mssql/MssqlSourcePerformanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/MssqlJdbcSourceAcceptanceTest.java
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, CDK, connectors/source/mssql

#36845 [Source-mongo] : Migrate to Kotlin
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/debezium/internals/DebeziumEventConverter.kt
  airbyte-cdk/java/airbyte-cdk/dependencies/src/main/kotlin/io/airbyte/commons/util/AutoCloseableIterators.kt
  airbyte-integrations/connectors/source-mongodb-v2/build.gradle
  airbyte-integrations/connectors/source-mongodb-v2/metadata.yaml
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbCdcTargetPosition.java
  docs/integrations/sources/mongodb-v2.md
Labels: area/documentation, area/connectors, CDK, connectors/source/mongodb-v2

#36329 Add "What is Airbyte" section to homepage
  docs/readme.md
Labels: area/documentation

#36850 minor java CDK fixes
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/core/src/testFixtures/kotlin/io/airbyte/cdk/testutils/TestDatabase.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/standardtest/destination/DestinationAcceptanceTest.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/kotlin/io/airbyte/integrations/base/destination/typing_deduping/BaseSqlGeneratorIntegrationTest.kt
Labels: CDK

#36856 Set maxSecondsBetweenMessages value for certified connectors Phase 3
  airbyte-integrations/connectors/source-airtable/metadata.yaml
  airbyte-integrations/connectors/source-amazon-ads/metadata.yaml
  airbyte-integrations/connectors/source-amplitude/metadata.yaml
  airbyte-integrations/connectors/source-chargebee/metadata.yaml
  airbyte-integrations/connectors/source-file/metadata.yaml
  airbyte-integrations/connectors/source-freshdesk/metadata.yaml
  airbyte-integrations/connectors/source-gitlab/metadata.yaml
  airbyte-integrations/connectors/source-greenhouse/metadata.yaml
  airbyte-integrations/connectors/source-harvest/metadata.yaml
  airbyte-integrations/connectors/source-iterable/metadata.yaml
  airbyte-integrations/connectors/source-jira/metadata.yaml
  airbyte-integrations/connectors/source-mailchimp/metadata.yaml
  airbyte-integrations/connectors/source-monday/metadata.yaml
  airbyte-integrations/connectors/source-notion/metadata.yaml
  airbyte-integrations/connectors/source-paypal-transaction/metadata.yaml
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  airbyte-integrations/connectors/source-recharge/metadata.yaml
  airbyte-integrations/connectors/source-sendgrid/metadata.yaml
  airbyte-integrations/connectors/source-slack/metadata.yaml
  airbyte-integrations/connectors/source-snapchat-marketing/metadata.yaml
  airbyte-integrations/connectors/source-surveymonkey/metadata.yaml
  airbyte-integrations/connectors/source-twilio/metadata.yaml
  airbyte-integrations/connectors/source-typeform/metadata.yaml
Labels: area/connectors, connectors/source/airtable, connectors/source/harvest, connectors/source/snapchat-marketing, connectors/source/notion, connectors/source/monday, connectors/source/surveymonkey, connectors/source/amplitude, connectors/source/amazon-ads, connectors/source/chargebee, connectors/source/freshdesk, connectors/source/gitlab, connectors/source/file, connectors/source/greenhouse, connectors/source/iterable, connectors/source/jira, connectors/source/slack, connectors/source/mailchimp, connectors/source/paypal-transaction, connectors/source/pinterest, connectors/source/recharge, connectors/source/sendgrid, connectors/source/twilio, connectors/source/typeform

#36501 Move source-declarative-manifest to a standard source, published in step with python cdk
  .github/workflows/publish-cdk-command-manually.yml
  .github/workflows/slash-commands.yml
  airbyte-cdk/python/.bumpversion.cfg
  airbyte-cdk/python/Dockerfile
  airbyte-cdk/python/source_declarative_manifest/README.md
  airbyte-cdk/python/source_declarative_manifest/main.py
  airbyte-cdk/python/unit_tests/__init__.py
  airbyte-integrations/connectors/source-declarative-manifest/README.md
  airbyte-integrations/connectors/source-declarative-manifest/__init__.py
  airbyte-integrations/connectors/source-declarative-manifest/integration_tests/pokeapi_config.json
  airbyte-integrations/connectors/source-declarative-manifest/main.py
  airbyte-integrations/connectors/source-declarative-manifest/metadata.yaml
  airbyte-integrations/connectors/source-declarative-manifest/poetry.lock
  airbyte-integrations/connectors/source-declarative-manifest/pyproject.toml
  airbyte-integrations/connectors/source-declarative-manifest/source_declarative_manifest/__init__.py
  airbyte-integrations/connectors/source-declarative-manifest/source_declarative_manifest/run.py
  airbyte-integrations/connectors/source-declarative-manifest/source_declarative_manifest/spec.json
  airbyte-integrations/connectors/source-declarative-manifest/unit_tests/__init__.py
  airbyte-integrations/connectors/source-declarative-manifest/unit_tests/test_source_declarative_manifest.py
  docs/integrations/sources/low-code.md
  docusaurus/sidebars.js
  tools/integrations/manage.sh
Labels: area/documentation, area/connectors, CDK, connectors/source/declarative-manifest

#36742 MySQL to adapt to new cdk
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/db/jdbc/DefaultJdbcDatabase.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/db/jdbc/streaming/AdaptiveStreamingQueryConfig.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/core/src/testFixtures/kotlin/io/airbyte/cdk/testutils/TestDatabase.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/debezium/internals/DebeziumPropertiesManager.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/debezium/internals/RecordWaitTimeUtil.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/source/jdbc/AbstractJdbcSource.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/source/relationaldb/DbSourceDiscoverUtil.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/source/relationaldb/RelationalDbQueryUtils.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/source/relationaldb/state/StateGeneratorUtils.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/kotlin/io/airbyte/cdk/integrations/debezium/CdcSourceTest.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/kotlin/io/airbyte/cdk/integrations/source/jdbc/test/JdbcSourceAcceptanceTest.kt
  airbyte-cdk/java/airbyte-cdk/dependencies/src/main/kotlin/io/airbyte/commons/util/AutoCloseableIterators.kt
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlQueryUtils.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/cdc/MySqlDebeziumStateUtil.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialLoadRecordIterator.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractSshMySqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/MySqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test-performance/java/io/airbyte/integrations/source/mysql/FillMySqlTestDbScriptTest.java
  airbyte-integrations/connectors/source-mysql/src/test-performance/java/io/airbyte/integrations/source/mysql/MySqlRdsSourcePerformanceSecretTest.java
  airbyte-integrations/connectors/source-mysql/src/test-performance/sql/create_mysql_benchmarks.sql
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/CdcMysqlSourceTest.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/CdcMysqlSourceWithSpecialDbNameTest.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/CloudDeploymentMySqlSslTest.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/MySqlJdbcSourceAcceptanceTest.java
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, CDK, connectors/source/mysql

#36863 cdk publish: commit changes failed to commit
  airbyte-integrations/connectors/source-declarative-manifest/metadata.yaml
  airbyte-integrations/connectors/source-declarative-manifest/poetry.lock
  airbyte-integrations/connectors/source-declarative-manifest/pyproject.toml
  docs/integrations/sources/low-code.md
Labels: area/documentation, area/connectors, connectors/source/declarative-manifest

#36862 Source Salesforce: Update CDK version
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/poetry.lock
  airbyte-integrations/connectors/source-salesforce/pyproject.toml
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors, connectors/source/salesforce

#36620 Destination Postgres: Adapt to kotlin CDK
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/standardtest/destination/DestinationAcceptanceTest.kt
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/build.gradle
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/destination-postgres/build.gradle
  airbyte-integrations/connectors/destination-postgres/metadata.yaml
  airbyte-integrations/connectors/destination-postgres/src/main/java/io/airbyte/integrations/destination/postgres/PostgresDestination.java
  airbyte-integrations/connectors/destination-postgres/src/main/java/io/airbyte/integrations/destination/postgres/PostgresSqlOperations.java
  airbyte-integrations/connectors/destination-postgres/src/main/java/io/airbyte/integrations/destination/postgres/typing_deduping/PostgresSqlGenerator.java
  airbyte-integrations/connectors/destination-postgres/src/test-integration/java/io/airbyte/integrations/destination/postgres/typing_deduping/PostgresSqlGeneratorIntegrationTest.java
  airbyte-integrations/connectors/destination-postgres/src/testFixtures/java/io/airbyte/integrations/destination/postgres/PostgresTestDatabase.java
  airbyte-integrations/connectors/destination-postgres/src/testFixtures/java/io/airbyte/integrations/destination/postgres/typing_deduping/AbstractPostgresTypingDedupingTest.java
  docs/integrations/destinations/postgres.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/postgres, connectors/destination/postgres-strict-encrypt

#36577 not throwing config error
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/integrations/base/AirbyteExceptionHandler.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, CDK, connectors/source/mysql

#36365 Destination redshift: delete unused spec option
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftStagingS3Destination.java
  airbyte-integrations/connectors/destination-redshift/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/RedshiftFileBufferTest.java
  docs/integrations/destinations/redshift.md
Labels: area/documentation, area/connectors, connectors/destination/redshift

#36872 Add maxSecondsBetweenMessages to metadata yaml
  airbyte-integrations/connectors/source-mongodb-v2/metadata.yaml
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  docs/integrations/sources/mongodb-v2.md
  docs/integrations/sources/mssql.md
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, connectors/source/mssql, connectors/source/mysql, connectors/source/mongodb-v2

#36884 Fix(destination-duckdb): Re-lock project dependencies, resolve failing `check`
  airbyte-integrations/connectors/destination-duckdb/destination_duckdb/run.py
  airbyte-integrations/connectors/destination-duckdb/main.py
  airbyte-integrations/connectors/destination-duckdb/metadata.yaml
  airbyte-integrations/connectors/destination-duckdb/poetry.lock
  airbyte-integrations/connectors/destination-duckdb/pyproject.toml
  docs/integrations/destinations/duckdb.md
Labels: area/documentation, area/connectors, connectors/destination/duckdb

#36717 :bug: Source Monday: handle complexityBudgetExhausted error
  airbyte-integrations/connectors/source-monday/metadata.yaml
  airbyte-integrations/connectors/source-monday/pyproject.toml
  airbyte-integrations/connectors/source-monday/source_monday/manifest.yaml
  airbyte-integrations/connectors/source-monday/unit_tests/integrations/monday_responses/error_response_builder.py
  airbyte-integrations/connectors/source-monday/unit_tests/integrations/test_teams_stream.py
  airbyte-integrations/connectors/source-monday/unit_tests/resource/http/response/200_ComplexityException.json
  airbyte-integrations/connectors/source-monday/unit_tests/resource/http/response/200_complexityBudgetExhausted.json
  docs/integrations/sources/monday.md
Labels: area/documentation, area/connectors, connectors/source/monday, team/connectors-python

#36600 Source Facebook Marketing: fix acceptance tests
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/facebook-marketing

#36894 🏥Source Google Ads: update expected records
  airbyte-integrations/connectors/source-google-ads/README.md
  airbyte-integrations/connectors/source-google-ads/integration_tests/expected_records_click.jsonl
Labels: area/connectors, connectors/source/google-ads

#36889 🏥Source Harvest: unpin CDK version
  airbyte-integrations/connectors/source-harvest/README.md
  airbyte-integrations/connectors/source-harvest/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-harvest/metadata.yaml
  airbyte-integrations/connectors/source-harvest/poetry.lock
  airbyte-integrations/connectors/source-harvest/pyproject.toml
  docs/integrations/sources/harvest.md
Labels: area/documentation, area/connectors, connectors/source/harvest

#36891 Source Google Ads: optimize check method
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/pyproject.toml
  airbyte-integrations/connectors/source-google-ads/source_google_ads/source.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, connectors/source/google-ads

#36541 Source Hubspot: fix acceptance tests
  airbyte-integrations/connectors/source-hubspot/acceptance-test-config.yml
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/poetry.lock
  airbyte-integrations/connectors/source-hubspot/pyproject.toml
  airbyte-integrations/connectors/source-hubspot/source_hubspot/source.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot

#35387 conectors-qa: verify connector breaking changes are at least 7 days ahead
  airbyte-ci/connectors/connectors_qa/README.md
  airbyte-ci/connectors/connectors_qa/pyproject.toml
  airbyte-ci/connectors/connectors_qa/src/connectors_qa/checks/metadata.py
  airbyte-ci/connectors/connectors_qa/tests/unit_tests/test_models.py
  docs/contributing-to-airbyte/resources/qa-checks.md
Labels: area/documentation, team/extensibility

#36885 🐛 Source Salesforce: Add retry on REST API
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/pyproject.toml
  airbyte-integrations/connectors/source-salesforce/source_salesforce/streams.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/config_builder.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/integration/__init__.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/integration/test_rest_salesforce_stream.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors, connectors/source/salesforce

#36768 Destinations: handle collisions between destination states
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcDestinationHandler.kt
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/build.gradle
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/destination-postgres/build.gradle
  airbyte-integrations/connectors/destination-postgres/metadata.yaml
  docs/integrations/destinations/postgres.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/postgres, connectors/destination/postgres-strict-encrypt

#36868 CDK s3-destinations: fixes for s3 connector compilation
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/integrations/base/adaptive/AdaptiveDestinationRunner.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/staging/GeneralStagingFunctions.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/standardtest/destination/DestinationAcceptanceTest.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/standardtest/destination/argproviders/DataArgumentsProvider.kt
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/s3/BaseS3Destination.kt
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/s3/BlobStorageOperations.kt
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/s3/S3BaseChecks.kt
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/s3/S3ConsumerFactory.kt
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/s3/S3DestinationConfigFactory.kt
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/s3/S3StorageOperations.kt
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/destination/s3/S3AvroParquetDestinationAcceptanceTest.kt
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/destination/s3/S3BaseCsvDestinationAcceptanceTest.kt
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/destination/s3/S3BaseCsvGzipDestinationAcceptanceTest.kt
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/destination/s3/S3BaseJsonlDestinationAcceptanceTest.kt
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/destination/s3/S3BaseJsonlGzipDestinationAcceptanceTest.kt
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/destination/s3/S3DestinationAcceptanceTest.kt
Labels: CDK

#36902 roll back mysql to 3.3.13
  airbyte-integrations/connectors/source-mysql/metadata.yaml
Labels: area/connectors, connectors/source/mysql

#36905 roll back mssql to 4.0.6
  airbyte-integrations/connectors/source-mssql/metadata.yaml
Labels: area/connectors, connectors/source/mssql

#36912 source-pinterest fix icon
  airbyte-integrations/connectors/source-pinterest/icon.svg
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  airbyte-integrations/connectors/source-pinterest/pyproject.toml
  docs/integrations/sources/pinterest.md
Labels: area/documentation, area/connectors, connectors/source/pinterest

#36743 Add a walkthrough of building a custom Python connector
  docs/connector-development/README.md
  docs/connector-development/cdk-python/README.md
  docs/connector-development/config-based/tutorial/4-reading-data.md
  docs/connector-development/config-based/tutorial/6-testing.md
  docs/connector-development/config-based/tutorial/exchange_rates_schema.json
  docs/connector-development/tutorials/building-a-python-source.md
  docs/connector-development/tutorials/cdk-speedrun.md
  docs/connector-development/tutorials/cdk-tutorial-python-http/configured_catalog.json
  docs/connector-development/tutorials/cdk-tutorial-python-http/connection-checking.md
  docs/connector-development/tutorials/cdk-tutorial-python-http/creating-the-source.md
  docs/connector-development/tutorials/cdk-tutorial-python-http/declare-schema.md
  docs/connector-development/tutorials/cdk-tutorial-python-http/define-inputs.md
  docs/connector-development/tutorials/cdk-tutorial-python-http/getting-started.md
  docs/connector-development/tutorials/cdk-tutorial-python-http/install-dependencies.md
  docs/connector-development/tutorials/cdk-tutorial-python-http/read-data.md
  docs/connector-development/tutorials/cdk-tutorial-python-http/test-your-connector.md
  docs/connector-development/tutorials/cdk-tutorial-python-http/use-connector-in-airbyte.md
  docs/connector-development/tutorials/custom-python-connector/0-getting-started.md
  docs/connector-development/tutorials/custom-python-connector/1-environment-setup.md
  docs/connector-development/tutorials/custom-python-connector/2-reading-a-page.md
  docs/connector-development/tutorials/custom-python-connector/3-reading-multiple-pages.md
  docs/connector-development/tutorials/custom-python-connector/4-check-and-error-handling.md
  docs/connector-development/tutorials/custom-python-connector/5-discover.md
  docs/connector-development/tutorials/custom-python-connector/6-incremental-reads.md
  docs/connector-development/tutorials/custom-python-connector/7-reading-from-a-subresource.md
  docs/connector-development/tutorials/custom-python-connector/8-concurrency.md
  docs/integrations/sources/http-request.md
  docusaurus/README.md
  docusaurus/redirects.yml
  docusaurus/sidebars.js
Labels: area/documentation

#36898 `source-faker`: update the car prices and years
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/record_data/products.json
  docs/integrations/sources/faker.md
Labels: area/documentation, area/connectors, connectors/source/faker

#36923 🏥Source Facebook Marketing: fix expected records
  airbyte-integrations/connectors/source-facebook-marketing/README.md
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/expected_records.jsonl
  docusaurus/redirects.yml
Labels: area/connectors, connectors/source/facebook-marketing

#36930 Destination Snowflake: Tear down destination state after tests
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/typing_deduping/AbstractSnowflakeTypingDedupingTest.java
Labels: area/connectors, connectors/destination/snowflake

#35448 Update paypal-transaction.md
  docs/integrations/sources/paypal-transaction.md
Labels: area/documentation

#36937 Bump salesforce CDK dependency and patch version
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/poetry.lock
  airbyte-integrations/connectors/source-salesforce/pyproject.toml
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors, connectors/source/salesforce

#36811 Concurrent CDK: support partitioned states
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/concurrent_read_processor.py
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/concurrent_source.py
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/stream_thread_exception.py
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/thread_pool_manager.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/partition_enqueuer.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/partition_reader.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/partitions/types.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/state_converters/abstract_stream_state_converter.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/state_converters/datetime_stream_state_converter.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/scenarios/stream_facade_builder.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/scenarios/stream_facade_scenarios.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/scenarios/thread_based_concurrent_stream_scenarios.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_concurrent_read_processor.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_cursor.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_datetime_state_converter.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_partition_enqueuer.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_partition_reader.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_thread_pool_manager.py
  airbyte-cdk/python/unit_tests/sources/test_concurrent_source.py
  airbyte-cdk/python/unit_tests/sources/test_source_read.py
Labels: CDK, connectors/source/salesforce

#36911 CDK: unpin `airbyte-protocol-models` version
  airbyte-cdk/python/poetry.lock
  airbyte-cdk/python/pyproject.toml
Labels: CDK, checklist-action-run

#36418 ✨Source Rss: Migrate Python CDK to Low-code CDK
  airbyte-integrations/connectors/source-rss/.dockerignore
  airbyte-integrations/connectors/source-rss/Dockerfile
  airbyte-integrations/connectors/source-rss/README.md
  airbyte-integrations/connectors/source-rss/__init__.py
  airbyte-integrations/connectors/source-rss/acceptance-test-config.yml
  airbyte-integrations/connectors/source-rss/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-rss/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-rss/integration_tests/catalog.json
  airbyte-integrations/connectors/source-rss/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-rss/integration_tests/incremental_configured_catalog.json
  airbyte-integrations/connectors/source-rss/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-rss/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-rss/metadata.yaml
  airbyte-integrations/connectors/source-rss/poetry.lock
  airbyte-integrations/connectors/source-rss/pyproject.toml
  airbyte-integrations/connectors/source-rss/requirements.txt
  airbyte-integrations/connectors/source-rss/setup.py
  airbyte-integrations/connectors/source-rss/source_rss/components.py
  airbyte-integrations/connectors/source-rss/source_rss/manifest.yaml
  airbyte-integrations/connectors/source-rss/source_rss/schemas/items.json
  airbyte-integrations/connectors/source-rss/source_rss/source.py
  airbyte-integrations/connectors/source-rss/source_rss/spec.yaml
  airbyte-integrations/connectors/source-rss/unit_tests/test_incremental_streams.py
  airbyte-integrations/connectors/source-rss/unit_tests/test_source.py
  airbyte-integrations/connectors/source-rss/unit_tests/test_streams.py
  docs/integrations/sources/rss-migrations.md
  docs/integrations/sources/rss.md
Labels: area/documentation, area/connectors, connectors/source/rss, low-code-migration

#36047 Update CDK for Raw Only Dv2 destinations
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/db/jdbc/JdbcUtils.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/integrations/base/JavaBaseConstants.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestination.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/NoOpJdbcDestinationHandler.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/standardtest/destination/DestinationAcceptanceTest.kt
Labels: CDK

#30586 ✨ Source Snapchat Marketing : add attribution_windows and action_report_time to request parameters
  airbyte-integrations/connectors/source-snapchat-marketing/metadata.yaml
  airbyte-integrations/connectors/source-snapchat-marketing/pyproject.toml
  airbyte-integrations/connectors/source-snapchat-marketing/source_snapchat_marketing/source.py
  airbyte-integrations/connectors/source-snapchat-marketing/source_snapchat_marketing/spec.json
  airbyte-integrations/connectors/source-snapchat-marketing/unit_tests/unit_test.py
  docs/integrations/sources/snapchat-marketing.md
Labels: area/documentation, area/connectors, community, gl, connectors/source/snapchat-marketing, team/connectors-python, gl-review, certified

#36689 :bug: Source Facebook Marketing: fix keyerror account_id
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/pyproject.toml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/base_insight_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_base_insight_streams.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing

#36960 🏥Source Stripe: fix imports
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/pyproject.toml
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, connectors/source/stripe

#36890 🏥Source Notion: unpin CDK version
  airbyte-integrations/connectors/source-notion/README.md
  airbyte-integrations/connectors/source-notion/acceptance-test-config.yml
  airbyte-integrations/connectors/source-notion/metadata.yaml
  airbyte-integrations/connectors/source-notion/poetry.lock
  airbyte-integrations/connectors/source-notion/pyproject.toml
  docs/integrations/sources/notion.md
Labels: area/documentation, area/connectors, connectors/source/notion

#36945 Small fixes to python cdk publishing
  .github/workflows/publish-cdk-command-manually.yml
  docs/integrations/sources/low-code.md
Labels: area/documentation

#36805 Postgres: column name truncation spike
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/main/kotlin/io/airbyte/integrations/base/destination/typing_deduping/CatalogParser.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/test/kotlin/io/airbyte/integrations/base/destination/typing_deduping/CatalogParserTest.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/kotlin/io/airbyte/integrations/base/destination/typing_deduping/BaseSqlGeneratorIntegrationTest.kt
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/build.gradle
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/destination-postgres/build.gradle
  airbyte-integrations/connectors/destination-postgres/metadata.yaml
  airbyte-integrations/connectors/destination-postgres/src/main/java/io/airbyte/integrations/destination/postgres/PostgresSQLNameTransformer.java
  airbyte-integrations/connectors/destination-postgres/src/main/java/io/airbyte/integrations/destination/postgres/typing_deduping/PostgresSqlGenerator.java
  docs/integrations/destinations/postgres.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/postgres, connectors/destination/postgres-strict-encrypt

#36876 🐛 Source Openweather: fix longitude parameter in spec
  airbyte-integrations/connectors/source-openweather/.dockerignore
  airbyte-integrations/connectors/source-openweather/Dockerfile
  airbyte-integrations/connectors/source-openweather/metadata.yaml
  airbyte-integrations/connectors/source-openweather/poetry.lock
  airbyte-integrations/connectors/source-openweather/pyproject.toml
  airbyte-integrations/connectors/source-openweather/setup.py
  airbyte-integrations/connectors/source-openweather/source_openweather/manifest.yaml
  docs/integrations/sources/openweather.md
Labels: area/documentation, area/connectors, community, connectors/source/openweather

#35754 Destinatoin snowflake: Add config option to enable time travel
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeSqlOperations.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGenerator.java
  airbyte-integrations/connectors/destination-snowflake/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/SnowflakeInsertDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/typing_deduping/AbstractSnowflakeTypingDedupingTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGeneratorIntegrationTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test/java/io/airbyte/integrations/destination/snowflake/SnowflakeSqlOperationsTest.java
  airbyte-integrations/connectors/destination-snowflake/src/test/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGeneratorTest.java
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/snowflake

#36972 docs: Change connector development overview to link to the new guide
  docs/connector-development/README.md
Labels: area/documentation

#36950 ✨Source Microsoft Teams Migrate Python CDK to Low-code CDK
  airbyte-integrations/connectors/source-microsoft-teams/.dockerignore
  airbyte-integrations/connectors/source-microsoft-teams/.gitignore
  airbyte-integrations/connectors/source-microsoft-teams/Dockerfile
  airbyte-integrations/connectors/source-microsoft-teams/README.md
  airbyte-integrations/connectors/source-microsoft-teams/__init__.py
  airbyte-integrations/connectors/source-microsoft-teams/acceptance-test-config.yml
  airbyte-integrations/connectors/source-microsoft-teams/integration_tests/__init__.py
  airbyte-integrations/connectors/source-microsoft-teams/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-microsoft-teams/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-microsoft-teams/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-microsoft-teams/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-microsoft-teams/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-microsoft-teams/integration_tests/sample_state.json
  airbyte-integrations/connectors/source-microsoft-teams/metadata.yaml
  airbyte-integrations/connectors/source-microsoft-teams/poetry.lock
  airbyte-integrations/connectors/source-microsoft-teams/pyproject.toml
  airbyte-integrations/connectors/source-microsoft-teams/requirements.txt
  airbyte-integrations/connectors/source-microsoft-teams/sample_files/catalog.json
  airbyte-integrations/connectors/source-microsoft-teams/sample_files/sample_config.json
  airbyte-integrations/connectors/source-microsoft-teams/setup.py
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/__init__.py
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/client.py
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/manifest.yaml
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/run.py
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/schemas/channel.json
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/schemas/channel_members.json
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/schemas/channel_message_replies.json
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/schemas/channel_messages.json
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/schemas/channel_tabs.json
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/schemas/channels.json
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/schemas/conversation_posts.json
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/schemas/conversation_threads.json
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/schemas/conversations.json
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/schemas/group_members.json
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/schemas/group_owners.json
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/schemas/groups.json
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/schemas/team_device_usage_report.json
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/schemas/team_drives.json
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/schemas/users.json
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/source.py
  airbyte-integrations/connectors/source-microsoft-teams/source_microsoft_teams/spec.json
  docs/integrations/sources/microsoft-teams-migrations.md
  docs/integrations/sources/microsoft-teams.md
Labels: area/documentation, area/connectors, connectors/source/microsoft-teams, team/extensibility, low-code-migration

#36981 [Db analytics] : add message for data type serialization error
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/db/DbAnalyticsUtils.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/db/jdbc/AbstractJdbcCompatibleSourceOperations.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/ctid/CtidPostgresSourceOperations.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, CDK, connectors/source/postgres

#36982 [Source-postgres] : Populate airyte_meta.changes for xmin path
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/xmin/PostgresXminHandler.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres

#36973 Destination Redshift: Limit Standard insert statement size < 16MB
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestination.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/jdbc/JdbcBufferedConsumerFactory.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/jdbc/JdbcInsertFlushFunction.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/standardtest/destination/DestinationAcceptanceTest.kt
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/kotlin/io/airbyte/integrations/base/destination/typing_deduping/BaseSqlGeneratorIntegrationTest.kt
  airbyte-integrations/connectors/destination-redshift/build.gradle
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftInsertDestination.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/operations/RedshiftSqlOperations.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/RedshiftDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/typing_deduping/AbstractRedshiftTypingDedupingTest.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/java/io/airbyte/integrations/destination/redshift/typing_deduping/RedshiftStandardInsertsTypingDedupingTest.java
  docs/integrations/destinations/redshift.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/redshift

#36971 Upgrade zenloop to the latest version of the CDK
  airbyte-integrations/connectors/source-zenloop/Dockerfile
  airbyte-integrations/connectors/source-zenloop/README.md
  airbyte-integrations/connectors/source-zenloop/metadata.yaml
  airbyte-integrations/connectors/source-zenloop/poetry.lock
  airbyte-integrations/connectors/source-zenloop/pyproject.toml
  airbyte-integrations/connectors/source-zenloop/setup.py
  airbyte-integrations/connectors/source-zenloop/source_zenloop/components.py
  docs/integrations/sources/zenloop.md
Labels: area/documentation, area/connectors, connectors/source/zenloop

#36976 Concurrent CDK: add logging on exception
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/concurrent_read_processor.py
Labels: CDK

#36964 🐛 Source Stripe: update to new Concurrent CDK interface
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/poetry.lock
  airbyte-integrations/connectors/source-stripe/pyproject.toml
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, connectors/source/stripe

#36389 🐛 Source Quickbooks: Update missing stream props and add token refresh udpater
  airbyte-integrations/connectors/source-quickbooks/acceptance-test-config.yml
  airbyte-integrations/connectors/source-quickbooks/metadata.yaml
  airbyte-integrations/connectors/source-quickbooks/pyproject.toml
  airbyte-integrations/connectors/source-quickbooks/source_quickbooks/manifest.yaml
  airbyte-integrations/connectors/source-quickbooks/source_quickbooks/schemas/bills.json
  airbyte-integrations/connectors/source-quickbooks/source_quickbooks/schemas/deposits.json
  airbyte-integrations/connectors/source-quickbooks/source_quickbooks/schemas/journal_entries.json
  airbyte-integrations/connectors/source-quickbooks/source_quickbooks/schemas/purchases.json
  docs/integrations/sources/quickbooks.md
Labels: area/documentation, area/connectors, community, connectors/source/quickbooks

#36980 python: assert actual == expected ordering
  airbyte-cdk/python/unit_tests/connector_builder/test_message_grouper.py
  airbyte-cdk/python/unit_tests/destinations/test_destination.py
  airbyte-cdk/python/unit_tests/sources/declarative/datetime/test_datetime_parser.py
  airbyte-cdk/python/unit_tests/sources/declarative/incremental/test_datetime_based_cursor.py
  airbyte-cdk/python/unit_tests/sources/declarative/partition_routers/test_list_partition_router.py
  airbyte-cdk/python/unit_tests/sources/declarative/partition_routers/test_substream_partition_router.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/paginators/test_cursor_pagination_strategy.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/paginators/test_offset_increment.py
  airbyte-cdk/python/unit_tests/sources/declarative/requesters/paginators/test_page_increment.py
  airbyte-cdk/python/unit_tests/sources/declarative/retrievers/test_simple_retriever.py
  airbyte-cdk/python/unit_tests/sources/declarative/stream_slicers/test_cartesian_product_stream_slicer.py
  airbyte-cdk/python/unit_tests/sources/declarative/test_manifest_declarative_source.py
  airbyte-cdk/python/unit_tests/sources/file_based/stream/concurrent/test_adapters.py
  airbyte-cdk/python/unit_tests/sources/file_based/stream/test_default_file_based_cursor.py
  airbyte-cdk/python/unit_tests/sources/file_based/test_scenarios.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_adapters.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_concurrent_read_processor.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_default_stream.py
  airbyte-cdk/python/unit_tests/sources/streams/http/auth/test_auth.py
  airbyte-cdk/python/unit_tests/sources/streams/http/test_availability_strategy.py
  airbyte-cdk/python/unit_tests/sources/streams/http/test_http.py
  airbyte-cdk/python/unit_tests/sources/streams/test_stream_read.py
  airbyte-cdk/python/unit_tests/sources/test_abstract_source.py
  airbyte-cdk/python/unit_tests/sources/utils/test_catalog_helpers.py
  airbyte-cdk/python/unit_tests/sources/utils/test_record_helper.py
  airbyte-cdk/python/unit_tests/test_connector.py
  airbyte-ci/connectors/common_utils/tests/test_logger.py
  airbyte-ci/connectors/metadata_service/orchestrator/tests/test_registry.py
  airbyte-ci/connectors/pipelines/tests/test_helpers/test_utils.py
  airbyte-ci/connectors/pipelines/tests/test_upgrade_java_cdk.py
  airbyte-ci/connectors/pipelines/tests/test_upgrade_python_cdk.py
  airbyte-integrations/bases/base-normalization/unit_tests/test_transform_config.py
  airbyte-integrations/bases/connector-acceptance-test/connector_acceptance_test/tests/test_core.py
  airbyte-integrations/bases/connector-acceptance-test/unit_tests/test_json_schema_helper.py
  airbyte-integrations/bases/connector-acceptance-test/unit_tests/test_utils.py
  docusaurus/redirects.yml
Labels: normalization, CDK

#35404 ✨ [source-google-sheets] add row_batch_size as an input parameter with higher increase
  airbyte-integrations/connectors/source-google-sheets/metadata.yaml
  airbyte-integrations/connectors/source-google-sheets/pyproject.toml
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/client.py
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/source.py
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/spec.yaml
  airbyte-integrations/connectors/source-google-sheets/unit_tests/test_client.py
  docs/integrations/sources/google-sheets.md
Labels: area/documentation, area/connectors, community, connectors/source/google-sheets, certified

#36974 Destination postgres: add option for cascade drop
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestination.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/jdbc/typing_deduping/JdbcSqlGenerator.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/test/kotlin/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestinationTest.kt
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/build.gradle
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/destination-postgres/build.gradle
  airbyte-integrations/connectors/destination-postgres/metadata.yaml
  airbyte-integrations/connectors/destination-postgres/src/main/java/io/airbyte/integrations/destination/postgres/PostgresDestination.java
  airbyte-integrations/connectors/destination-postgres/src/main/java/io/airbyte/integrations/destination/postgres/typing_deduping/PostgresSqlGenerator.java
  airbyte-integrations/connectors/destination-postgres/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-postgres/src/test-integration/java/io/airbyte/integrations/destination/postgres/typing_deduping/PostgresSqlGeneratorIntegrationTest.java
  airbyte-integrations/connectors/destination-postgres/src/testFixtures/java/io/airbyte/integrations/destination/postgres/typing_deduping/AbstractPostgresTypingDedupingTest.java
  docs/integrations/destinations/postgres.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/postgres, connectors/destination/postgres-strict-encrypt

#37000 [airbyte-cdk] add print parameter to flush the print buffer after each invocation
  airbyte-cdk/python/airbyte_cdk/entrypoint.py
Labels: CDK

#37007 Source Quick Books: hide in cloud
  airbyte-integrations/connectors/source-quickbooks/metadata.yaml
Labels: area/connectors, connectors/source/quickbooks

#37001 🐛 [source-salesforce] [source-stripe] [source-s3] Update airbyte-cdk to flush print buffer for every message
  airbyte-integrations/connectors/source-s3/integration_tests/cloud_spec.json
  airbyte-integrations/connectors/source-s3/integration_tests/spec.json
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/poetry.lock
  airbyte-integrations/connectors/source-s3/pyproject.toml
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/poetry.lock
  airbyte-integrations/connectors/source-salesforce/pyproject.toml
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/poetry.lock
  airbyte-integrations/connectors/source-stripe/pyproject.toml
  docs/integrations/sources/s3.md
  docs/integrations/sources/salesforce.md
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, connectors/source/stripe, connectors/source/s3, connectors/source/salesforce

#36048 oracle_x_norm
  airbyte-integrations/connectors/destination-oracle-strict-encrypt/build.gradle
  airbyte-integrations/connectors/destination-oracle-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/destination-oracle-strict-encrypt/src/test-integration/java/io/airbyte/integrations/destination/oracle_strict_encrypt/OracleStrictEncryptDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-oracle-strict-encrypt/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/destination-oracle/build.gradle
  airbyte-integrations/connectors/destination-oracle/metadata.yaml
  airbyte-integrations/connectors/destination-oracle/src/main/java/io/airbyte/integrations/destination/oracle/OracleDestination.java
  airbyte-integrations/connectors/destination-oracle/src/main/java/io/airbyte/integrations/destination/oracle/OracleNameTransformer.java
  airbyte-integrations/connectors/destination-oracle/src/main/java/io/airbyte/integrations/destination/oracle/OracleOperations.java
  airbyte-integrations/connectors/destination-oracle/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-oracle/src/test-integration/java/io/airbyte/integrations/destination/oracle/NneOracleDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-oracle/src/test-integration/java/io/airbyte/integrations/destination/oracle/SshOracleDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-oracle/src/test-integration/java/io/airbyte/integrations/destination/oracle/UnencryptedOracleDestinationAcceptanceTest.java
  docs/integrations/destinations/oracle-migrations.md
  docs/integrations/destinations/oracle.md
Labels: area/documentation, area/connectors, connectors/destination/oracle-strict-encrypt, connectors/destination/oracle

#36775 source-coda: Replace use of last_records with last_record
  airbyte-integrations/connectors/source-coda/Dockerfile
  airbyte-integrations/connectors/source-coda/README.md
  airbyte-integrations/connectors/source-coda/metadata.yaml
  airbyte-integrations/connectors/source-coda/poetry.lock
  airbyte-integrations/connectors/source-coda/pyproject.toml
  airbyte-integrations/connectors/source-coda/setup.py
  airbyte-integrations/connectors/source-coda/source_coda/manifest.yaml
  docs/integrations/sources/coda.md
Labels: area/documentation, area/connectors, connectors/source/coda

#36919 Prevent conversion of null fields
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/db/jdbc/AbstractJdbcCompatibleSourceOperations.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/kotlin/io/airbyte/cdk/integrations/standardtest/source/AbstractSourceDatabaseTypeTest.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/kotlin/io/airbyte/cdk/integrations/standardtest/source/SourceAcceptanceTest.kt
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/CloudDeploymentSslEnabledMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/MssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/SslEnabledMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcMySqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/MySqlSourceAcceptanceTest.java
  docs/integrations/sources/mssql.md
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, CDK, connectors/source/mssql, connectors/source/mysql

#36871 [Docs] March 2024 Release Notes
  docs/cloud/managing-airbyte-cloud/assets/connection-job-history.png
  docs/cloud/managing-airbyte-cloud/assets/connection-status-page.png
  docs/cloud/managing-airbyte-cloud/assets/notification-slack-add-webhook.png
  docs/cloud/managing-airbyte-cloud/assets/notification-slack-create-app.png
  docs/cloud/managing-airbyte-cloud/assets/notification-slack-success.png
  docs/cloud/managing-airbyte-cloud/assets/notification-slack-webhook-url-success.png
  docs/cloud/managing-airbyte-cloud/assets/notifications-email.png
  docs/cloud/managing-airbyte-cloud/manage-airbyte-cloud-notifications.md
  docs/cloud/managing-airbyte-cloud/manage-credits.md
  docs/cloud/managing-airbyte-cloud/manage-data-residency.md
  docs/release_notes/march_2024.md
  docs/using-airbyte/core-concepts/namespaces.md
  docs/using-airbyte/core-concepts/readme.md
  docs/using-airbyte/workspaces.md
  docusaurus/sidebars.js
Labels: area/documentation

#36926 Destination mysql: upgrade to latest cdk
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/integrations/destination/PropertyNameSimplifyingDataTransformer.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/jdbc/AbstractJdbcDestination.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/jdbc/JdbcSqlOperations.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/jdbc/WriteConfig.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/standardtest/destination/DestinationAcceptanceTest.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/testFixtures/kotlin/io/airbyte/cdk/integrations/standardtest/destination/comparator/AdvancedTestDataComparator.kt
  airbyte-integrations/connectors/destination-mysql-strict-encrypt/build.gradle
  airbyte-integrations/connectors/destination-mysql-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/destination-mysql-strict-encrypt/src/test-integration/java/io/airbyte/integrations/destination/mysql/MySQLStrictEncryptDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mysql/build.gradle
  airbyte-integrations/connectors/destination-mysql/metadata.yaml
  airbyte-integrations/connectors/destination-mysql/src/main/java/io/airbyte/integrations/destination/mysql/MySQLDestination.java
  airbyte-integrations/connectors/destination-mysql/src/main/java/io/airbyte/integrations/destination/mysql/MySQLSqlOperations.java
  airbyte-integrations/connectors/destination-mysql/src/test-integration/java/io/airbyte/integrations/destination/mysql/MySQLDestinationAcceptanceTest.java
  airbyte-integrations/connectors/destination-mysql/src/test-integration/java/io/airbyte/integrations/destination/mysql/SshMySQLDestinationAcceptanceTest.java
  docs/integrations/destinations/mysql.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/mysql, connectors/destination/mysql-strict-encrypt

#37106 Destination CDK: Simplify AsyncStreamConsumer constructors
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/integrations/destination/async/AsyncStreamConsumer.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/integrations/destination/async/deser/AirbyteMessageDeserializer.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/core/src/test/kotlin/io/airbyte/cdk/integrations/destination/async/AsyncStreamConsumerTest.kt
  airbyte-cdk/java/airbyte-cdk/db-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/jdbc/JdbcBufferedConsumerFactory.kt
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/staging/AsyncFlush.kt
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/kotlin/io/airbyte/cdk/integrations/destination/staging/StagingConsumerFactory.kt
Labels: CDK

#37108 Add StreamDescriptor as params of AirbyteTracedException.__init__
  airbyte-cdk/python/airbyte_cdk/sources/abstract_source.py
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/concurrent_read_processor.py
  airbyte-cdk/python/airbyte_cdk/utils/traced_exception.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_concurrent_read_processor.py
  airbyte-cdk/python/unit_tests/utils/test_traced_exception.py
Labels: CDK

#37094 🏥Source Mixpanel: fix expected records
  airbyte-integrations/connectors/source-mixpanel/README.md
  airbyte-integrations/connectors/source-mixpanel/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/mixpanel

#37093 🏥Source Zendesk Support: fix expected records
  airbyte-integrations/connectors/source-zendesk-support/integration_tests/expected_records.jsonl
Labels: area/connectors, connectors/source/zendesk-support

#36825 Source Azure Blob Storage: support OAuth
  airbyte-integrations/connectors/source-azure-blob-storage/README.md
  airbyte-integrations/connectors/source-azure-blob-storage/acceptance-test-config.yml
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/configs/config_integration_avro.json
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/configs/config_integration_csv.json
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/configs/config_integration_jsonl.json
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/configs/config_integration_parquet.json
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/spec.json
  airbyte-integrations/connectors/source-azure-blob-storage/metadata.yaml
  airbyte-integrations/connectors/source-azure-blob-storage/pyproject.toml
  airbyte-integrations/connectors/source-azure-blob-storage/source_azure_blob_storage/config.py
  airbyte-integrations/connectors/source-azure-blob-storage/source_azure_blob_storage/config_migrations.py
  airbyte-integrations/connectors/source-azure-blob-storage/source_azure_blob_storage/run.py
  airbyte-integrations/connectors/source-azure-blob-storage/source_azure_blob_storage/source.py
  airbyte-integrations/connectors/source-azure-blob-storage/source_azure_blob_storage/stream_reader.py
  airbyte-integrations/connectors/source-azure-blob-storage/unit_tests/test_config_migration.py
  airbyte-integrations/connectors/source-azure-blob-storage/unit_tests/test_configs/test_config_without_credentials.json
  docs/integrations/sources/azure-blob-storage.md
  docs/integrations/sources/azure-blob-storage/access_control_iam.png
  docs/integrations/sources/azure-blob-storage/add_members.png
  docs/integrations/sources/azure-blob-storage/add_role.png
  docs/integrations/sources/azure-blob-storage/search_role.png
Labels: area/documentation, area/connectors, connectors/source/azure-blob-storage

#37105 🐛 Source Salesforce: have clear error when stream preparation fails
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/poetry.lock
  airbyte-integrations/connectors/source-salesforce/pyproject.toml
  airbyte-integrations/connectors/source-salesforce/source_salesforce/api.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/integration/test_bulk_stream.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/integration/test_rest_stream.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/integration/test_source.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/integration/utils.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors, connectors/source/salesforce

#37323 Source Azure Blob Storage: fix docs images
  docs/.gitbook/assets/source/azure-blob-storage/access_control_iam.png
  docs/.gitbook/assets/source/azure-blob-storage/add_members.png
  docs/.gitbook/assets/source/azure-blob-storage/add_role.png
  docs/.gitbook/assets/source/azure-blob-storage/search_role.png
  docs/integrations/sources/azure-blob-storage.md
Labels: area/documentation

#36256 🚨🚨 Source SFTP Bulk: migrate to file-based CDK
  airbyte-integrations/connectors/source-sftp-bulk/.coveragerc
  airbyte-integrations/connectors/source-sftp-bulk/Dockerfile
  airbyte-integrations/connectors/source-sftp-bulk/README.md
  airbyte-integrations/connectors/source-sftp-bulk/acceptance-test-config.yml
  airbyte-integrations/connectors/source-sftp-bulk/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-sftp-bulk/integration_tests/configs/config_password.json
  airbyte-integrations/connectors/source-sftp-bulk/integration_tests/configs/config_private_key.json
  airbyte-integrations/connectors/source-sftp-bulk/integration_tests/configs/stream_csv.json
  airbyte-integrations/connectors/source-sftp-bulk/integration_tests/configs/stream_jsonl.json
  airbyte-integrations/connectors/source-sftp-bulk/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-sftp-bulk/integration_tests/conftest.py
  airbyte-integrations/connectors/source-sftp-bulk/integration_tests/docker-compose.yaml
  airbyte-integrations/connectors/source-sftp-bulk/integration_tests/files/csv/test_3.csv
  airbyte-integrations/connectors/source-sftp-bulk/integration_tests/files/empty/empty.json
  airbyte-integrations/connectors/source-sftp-bulk/integration_tests/files/empty/empty.jsonl
  airbyte-integrations/connectors/source-sftp-bulk/integration_tests/files/jsonl/test_1.jsonl
  airbyte-integrations/connectors/source-sftp-bulk/integration_tests/files/jsonl/test_2.jsonl
  airbyte-integrations/connectors/source-sftp-bulk/integration_tests/files/test_2.json
  airbyte-integrations/connectors/source-sftp-bulk/integration_tests/integration_test.py
  airbyte-integrations/connectors/source-sftp-bulk/integration_tests/spec.json
  airbyte-integrations/connectors/source-sftp-bulk/integration_tests/utils.py
  airbyte-integrations/connectors/source-sftp-bulk/integration_tests/valid_config.json
  airbyte-integrations/connectors/source-sftp-bulk/metadata.yaml
  airbyte-integrations/connectors/source-sftp-bulk/poetry.lock
  airbyte-integrations/connectors/source-sftp-bulk/pyproject.toml
  airbyte-integrations/connectors/source-sftp-bulk/setup.py
  airbyte-integrations/connectors/source-sftp-bulk/source_sftp_bulk/__init__.py
  airbyte-integrations/connectors/source-sftp-bulk/source_sftp_bulk/client.py
  airbyte-integrations/connectors/source-sftp-bulk/source_sftp_bulk/run.py
  airbyte-integrations/connectors/source-sftp-bulk/source_sftp_bulk/source.py
  airbyte-integrations/connectors/source-sftp-bulk/source_sftp_bulk/spec.json
  airbyte-integrations/connectors/source-sftp-bulk/source_sftp_bulk/spec.py
  airbyte-integrations/connectors/source-sftp-bulk/source_sftp_bulk/stream_reader.py
  airbyte-integrations/connectors/source-sftp-bulk/source_sftp_bulk/streams.py
  airbyte-integrations/connectors/source-sftp-bulk/unit_tests/client_test.py
  airbyte-integrations/connectors/source-sftp-bulk/unit_tests/source_test.py
  airbyte-integrations/connectors/source-sftp-bulk/unit_tests/stream_reader_test.py
  docs/integrations/sources/sftp-bulk-migrations.md
  docs/integrations/sources/sftp-bulk.md
Labels: area/documentation, area/connectors, connectors/source/sftp-bulk, breaking-change

#36231 ✨Source Iterable: Migrate to low code
  airbyte-integrations/connectors/source-iterable/metadata.yaml
  airbyte-integrations/connectors/source-iterable/poetry.lock
  airbyte-integrations/connectors/source-iterable/pyproject.toml
  airbyte-integrations/connectors/source-iterable/source_iterable/components.py
  airbyte-integrations/connectors/source-iterable/source_iterable/manifest.yaml
  airbyte-integrations/connectors/source-iterable/source_iterable/source.py
  airbyte-integrations/connectors/source-iterable/source_iterable/spec.json
  airbyte-integrations/connectors/source-iterable/source_iterable/streams.py
  airbyte-integrations/connectors/source-iterable/source_iterable/utils.py
  airbyte-integrations/connectors/source-iterable/unit_tests/conftest.py
  airbyte-integrations/connectors/source-iterable/unit_tests/test_export_adjustable_range.py
  airbyte-integrations/connectors/source-iterable/unit_tests/test_exports_stream.py
  airbyte-integrations/connectors/source-iterable/unit_tests/test_extractors.py
  airbyte-integrations/connectors/source-iterable/unit_tests/test_slice_generator.py
  airbyte-integrations/connectors/source-iterable/unit_tests/test_source.py
  airbyte-integrations/connectors/source-iterable/unit_tests/test_stream_events.py
  airbyte-integrations/connectors/source-iterable/unit_tests/test_streams.py
  docs/integrations/sources/iterable.md
Labels: area/documentation, area/connectors, connectors/source/iterable, low-code-migration

#35477 :tada: Source Slack migration to low code
  airbyte-integrations/connectors/source-slack/.coveragerc
  airbyte-integrations/connectors/source-slack/acceptance-test-config.yml
  airbyte-integrations/connectors/source-slack/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-slack/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-slack/metadata.yaml
  airbyte-integrations/connectors/source-slack/poetry.lock
  airbyte-integrations/connectors/source-slack/pyproject.toml
  airbyte-integrations/connectors/source-slack/source_slack/components/__init__.py
  airbyte-integrations/connectors/source-slack/source_slack/components/channel_members_extractor.py
  airbyte-integrations/connectors/source-slack/source_slack/components/join_channels.py
  airbyte-integrations/connectors/source-slack/source_slack/config_migrations.py
  airbyte-integrations/connectors/source-slack/source_slack/manifest.yaml
  airbyte-integrations/connectors/source-slack/source_slack/run.py
  airbyte-integrations/connectors/source-slack/source_slack/source.py
  airbyte-integrations/connectors/source-slack/source_slack/spec.json
  airbyte-integrations/connectors/source-slack/source_slack/streams.py
  airbyte-integrations/connectors/source-slack/source_slack/utils.py
  airbyte-integrations/connectors/source-slack/unit_tests/configs/actual_config.json
  airbyte-integrations/connectors/source-slack/unit_tests/configs/legacy_config.json
  airbyte-integrations/connectors/source-slack/unit_tests/conftest.py
  airbyte-integrations/connectors/source-slack/unit_tests/test_components.py
  airbyte-integrations/connectors/source-slack/unit_tests/test_config_migrations.py
  airbyte-integrations/connectors/source-slack/unit_tests/test_source.py
  airbyte-integrations/connectors/source-slack/unit_tests/test_streams.py
  docs/integrations/sources/slack-migrations.md
  docs/integrations/sources/slack.md
Labels: area/documentation, area/connectors, connectors/source/slack, low-code-migration

#35776 🚨🚨 Source Sendgrid: migrate to low code
  airbyte-integrations/bases/connector-acceptance-test/connector_acceptance_test/conftest.py
  airbyte-integrations/connectors/source-sendgrid/.coveragerc
  airbyte-integrations/connectors/source-sendgrid/README.md
  airbyte-integrations/connectors/source-sendgrid/acceptance-test-config.yml
  airbyte-integrations/connectors/source-sendgrid/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-sendgrid/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-sendgrid/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-sendgrid/integration_tests/invalid_api_key.json
  airbyte-integrations/connectors/source-sendgrid/integration_tests/invalid_time.json
  airbyte-integrations/connectors/source-sendgrid/integration_tests/no_spam_reports_configured_catalog.json
  airbyte-integrations/connectors/source-sendgrid/metadata.yaml
  airbyte-integrations/connectors/source-sendgrid/poetry.lock
  airbyte-integrations/connectors/source-sendgrid/pyproject.toml
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/config_migrations.py
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/manifest.yaml
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/run.py
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/schemas/blocks.json
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/schemas/bounces.json
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/schemas/campaigns.json
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/schemas/global_suppressions.json
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/schemas/invalid_emails.json
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/schemas/lists.json
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/schemas/segments.json
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/schemas/single_sends.json
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/schemas/spam_reports.json
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/schemas/stats_automations.json
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/schemas/suppression_group_members.json
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/schemas/suppression_groups.json
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/schemas/templates.json
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/schemas/unsubscribe_groups.json
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/source.py
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/spec.json
  airbyte-integrations/connectors/source-sendgrid/source_sendgrid/streams.py
  airbyte-integrations/connectors/source-sendgrid/unit_tests/test_migration.py
  airbyte-integrations/connectors/source-sendgrid/unit_tests/unit_test.py
  docs/integrations/sources/sendgrid-migrations.md
  docs/integrations/sources/sendgrid.md
Labels: area/documentation, area/connectors, connectors/source/sendgrid, team/connectors-python, low-code-migration

#36264 🎉Source Klaviyo: migrate to low-code
  airbyte-integrations/connectors/source-klaviyo/.coveragerc 
  airbyte-integrations/connectors/source-klaviyo/README.md
  airbyte-integrations/connectors/source-klaviyo/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-klaviyo/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-klaviyo/metadata.yaml
  airbyte-integrations/connectors/source-klaviyo/poetry.lock
  airbyte-integrations/connectors/source-klaviyo/pyproject.toml
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/components/datetime_based_cursor.py
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/manifest.yaml
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/source.py
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/streams.py
  airbyte-integrations/connectors/source-klaviyo/unit_tests/test_source.py
  airbyte-integrations/connectors/source-klaviyo/unit_tests/test_streams.py
  docs/integrations/sources/klaviyo.md
Labels: area/documentation, area/connectors, connectors/source/klaviyo, low-code-migration

#37324 [Source-mysql] : Remove mysql initial source operations
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSourceOperations.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/CdcMetadataInjector.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialLoadSourceOperations.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialReadUtil.java
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, connectors/source/mysql

#37104 Update the local-deployment documentation to use the new abctl command.
  docs/deploying-airbyte/docker-compose.md
  docs/deploying-airbyte/local-deployment.md
  docusaurus/sidebars.js
Labels: area/documentation

#36934 source-mongo allowed hosts
  airbyte-integrations/connectors/source-mongodb-v2/metadata.yaml
Labels: area/connectors, connectors/source/mongodb-v2

#37327 Python CDK : Update LangChain version
  airbyte-cdk/python/CHANGELOG.md
  airbyte-cdk/python/airbyte_cdk/destinations/vector_db_based/document_processor.py
  airbyte-cdk/python/poetry.lock
  airbyte-cdk/python/pyproject.toml
Labels: CDK

#37325 [Source-mssql] : Add meta error handling in initial load path
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSourceOperations.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/initialsync/MssqlInitialLoadHandler.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/initialsync/MssqlInitialLoadRecordIterator.java
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, connectors/source/mssql

#37328 [Source-mysql] : Add meta error handling in initial load path
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSourceOperations.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialLoadHandler.java
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/initialsync/MySqlInitialLoadRecordIterator.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/CdcMysqlSourceTest.java
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, connectors/source/mysql

#37326 source-mssql: Allow 60min for MAX_FIRST_RECORD_WAIT_TIME
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/debezium/internals/RecordWaitTimeUtil.kt
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/resources/spec.json
  airbyte-integrations/connectors/source-mssql/src/test-integration/resources/expected_spec.json
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, CDK, connectors/source/mssql

#37320 Source Facebook Marketing: add retry for transient error
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/pyproject.toml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/common.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_errors.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing

#37352 update destination postgres docs for column name truncation
  docs/integrations/destinations/postgres.md
Labels: area/documentation

#35945 Source Hubspot: add integration tests
  airbyte-integrations/connectors/source-hubspot/acceptance-test-config.yml
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/poetry.lock
  airbyte-integrations/connectors/source-hubspot/pyproject.toml
  airbyte-integrations/connectors/source-hubspot/source_hubspot/source.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/conftest.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/integrations/__init__.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/integrations/config_builder.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/integrations/request_builders/__init__.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/integrations/request_builders/api.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/integrations/request_builders/streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/integrations/response_builder/__init__.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/integrations/response_builder/api.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/integrations/response_builder/helpers.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/integrations/response_builder/pagination.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/integrations/response_builder/streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/integrations/test_engagements_calls.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/integrations/test_owners_archived.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/integrations/test_web_analytics_streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/resource/__init__.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/resource/http/__init__.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/resource/http/response/__init__.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/resource/http/response/companies.json
  airbyte-integrations/connectors/source-hubspot/unit_tests/resource/http/response/companies_web_analytics.json
  airbyte-integrations/connectors/source-hubspot/unit_tests/resource/http/response/contacts.json
  airbyte-integrations/connectors/source-hubspot/unit_tests/resource/http/response/contacts_web_analytics.json
  airbyte-integrations/connectors/source-hubspot/unit_tests/resource/http/response/deals.json
  airbyte-integrations/connectors/source-hubspot/unit_tests/resource/http/response/deals_web_analytics.json
  airbyte-integrations/connectors/source-hubspot/unit_tests/resource/http/response/engagements_calls.json
  airbyte-integrations/connectors/source-hubspot/unit_tests/resource/http/response/engagements_calls_web_analytics.json
  airbyte-integrations/connectors/source-hubspot/unit_tests/resource/http/response/engagements_emails.json
  airbyte-integrations/connectors/source-hubspot/unit_tests/resource/http/response/engagements_emails_web_analytics.json
  airbyte-integrations/connectors/source-hubspot/unit_tests/resource/http/response/engagements_meetings.json
  airbyte-integrations/connectors/source-hubspot/unit_tests/resource/http/response/engagements_meetings_web_analytics.json
  airbyte-integrations/connectors/source-hubspot/unit_tests/resource/http/response/engagements_notes.json
  airbyte-integrations/connectors/source-hubspot/unit_tests/resource/http/response/engagements_notes_web_analytics.json
  airbyte-integrations/connectors/source-hubspot/unit_tests/resource/http/response/engagements_tasks.json
  airbyte-integrations/connectors/source-hubspot/unit_tests/resource/http/response/engagements_tasks_web_analytics.json
  airbyte-integrations/connectors/source-hubspot/unit_tests/resource/http/response/goals.json
  airbyte-integrations/connectors/source-hubspot/unit_tests/resource/http/response/goals_web_analytics.json
  airbyte-integrations/connectors/source-hubspot/unit_tests/resource/http/response/line_items.json
  airbyte-integrations/connectors/source-hubspot/unit_tests/resource/http/response/line_items_web_analytics.json
  airbyte-integrations/connectors/source-hubspot/unit_tests/resource/http/response/owners_archived.json
  airbyte-integrations/connectors/source-hubspot/unit_tests/resource/http/response/products.json
  airbyte-integrations/connectors/source-hubspot/unit_tests/resource/http/response/products_web_analytics.json
  airbyte-integrations/connectors/source-hubspot/unit_tests/resource/http/response/properties.json
  airbyte-integrations/connectors/source-hubspot/unit_tests/resource/http/response/tickets.json
  airbyte-integrations/connectors/source-hubspot/unit_tests/resource/http/response/tickets_web_analytics.json
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot

#37348 [Source-mongodb] : Populate null values in airbyte record message
  airbyte-integrations/connectors/source-mongodb-v2/build.gradle
  airbyte-integrations/connectors/source-mongodb-v2/metadata.yaml
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbCdcEventUtils.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbCdcEventUtilsTest.java
  docs/integrations/sources/mongodb-v2.md
Labels: area/documentation, area/connectors, connectors/source/mongodb-v2

#37111 [Source-mysql/mssql] : Populate null values
  airbyte-cdk/java/airbyte-cdk/core/src/main/kotlin/io/airbyte/cdk/db/jdbc/AbstractJdbcCompatibleSourceOperations.kt
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSourceOperations.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/MssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSourceOperations.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CdcMySqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/MySqlSourceAcceptanceTest.java
  docs/integrations/sources/mssql.md
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, CDK, connectors/source/mssql, connectors/source/mysql, connectors/source/mongodb-v2

#37338 Update vitally.md
  docs/integrations/sources/vitally.md
Labels: area/documentation, community

#37330 [python-cdk] readme entry about publishing new versions
  airbyte-cdk/python/README.md
Labels: CDK

#37306 [python-cdk] README cleanup
  airbyte-cdk/python/README.md
  airbyte-cdk/python/airbyte_cdk/connector_builder/README.md
Labels: CDK

#37331 Bump airbyte_cdk in source-declarative-manifest manually
  airbyte-integrations/connectors/source-declarative-manifest/metadata.yaml
  airbyte-integrations/connectors/source-declarative-manifest/poetry.lock
  airbyte-integrations/connectors/source-declarative-manifest/pyproject.toml
Labels: area/connectors, connectors/source/declarative-manifest

#37367 🐛 [source-facebook-marketing] Should not run migration if the legacy field account_id is not present
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/pyproject.toml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/config_migrations.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_config_migrations.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_migrations/account_id_to_array/test_new_config_without_account_id.json
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing

#36788 🎉 Source Shopify: dynamically adjust the size of the `slice` for Bulk API streams
  airbyte-integrations/connectors/source-shopify/acceptance-test-config.yml
  airbyte-integrations/connectors/source-shopify/metadata.yaml
  airbyte-integrations/connectors/source-shopify/poetry.lock
  airbyte-integrations/connectors/source-shopify/pyproject.toml
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/exceptions.py
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/job.py
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/query.py
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/record.py
  airbyte-integrations/connectors/source-shopify/source_shopify/streams/base_streams.py
  airbyte-integrations/connectors/source-shopify/source_shopify/streams/streams.py
  airbyte-integrations/connectors/source-shopify/source_shopify/utils.py
  airbyte-integrations/connectors/source-shopify/unit_tests/graphql_bulk/test_job.py
  airbyte-integrations/connectors/source-shopify/unit_tests/graphql_bulk/test_query.py
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors, connectors/source/shopify, team/critical-connectors

#37364 [Python CDK] Delete `SingerSource`
  airbyte-cdk/python/README.md
  airbyte-cdk/python/airbyte_cdk/sources/singer/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/singer/singer_helpers.py
  airbyte-cdk/python/airbyte_cdk/sources/singer/source.py
  airbyte-cdk/python/unit_tests/singer/__init__.py
  airbyte-cdk/python/unit_tests/singer/test_singer_helpers.py
  airbyte-cdk/python/unit_tests/singer/test_singer_source.py
Labels: CDK

#37376 ✨ Source Salesforce: improve rate limit error message during check command
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/pyproject.toml
  airbyte-integrations/connectors/source-salesforce/source_salesforce/source.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/api_test.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors, connectors/source/salesforce

#37341 ✨ Source Facebook Marketing: improve rate limit error message
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/poetry.lock
  airbyte-integrations/connectors/source-facebook-marketing/pyproject.toml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/base_insight_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/common.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/utils.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_async_job.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_client.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_config_migrations.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_utils.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing

#37357 [Docs] Update "Reset" to "Clear"
  docs/integrations/sources/harvest-migrations.md
  docs/integrations/sources/linkedin-ads-migrations.md
  docs/integrations/sources/notion-migrations.md
  docs/integrations/sources/rss-migrations.md
  docs/integrations/sources/sendgrid-migrations.md
  docs/integrations/sources/sftp-bulk-migrations.md
  docs/integrations/sources/slack-migrations.md
  docs/operator-guides/reset.md
  docs/release_notes/upgrading_to_destinations_v2.md
Labels: area/documentation

#37382 Fix NPE
  airbyte-integrations/connectors/destination-e2e-test/metadata.yaml
  airbyte-integrations/connectors/destination-e2e-test/src/main/java/io/airbyte/integrations/destination/e2e_test/logging/LoggingConsumer.java
  docs/integrations/destinations/e2e-test.md
Labels: area/documentation, area/connectors, connectors/destination/e2e-test

#37389 Fix partitioned state saving issue
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/concurrent_read_processor.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/partition_reader.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/partitions/types.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/test_concurrent_read_processor.py
Labels: CDK

#37381 Update the broken link to the quickstart.
  docs/readme.md
Labels: area/documentation

#37392 🐛 Source Salesforce: Update CDK version to have partitioned state fix and add tests
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/poetry.lock
  airbyte-integrations/connectors/source-salesforce/pyproject.toml
  airbyte-integrations/connectors/source-salesforce/unit_tests/integration/test_bulk_stream.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors, connectors/source/salesforce

#37095 :sparkles: Source Facebook Marketing: remove testing deleted records from integration test, move it to mock server tests
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/test_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/integration/config.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/integration/request_builder.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/integration/test_include_deleted.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/resource/http/response/ad_sets.json
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/resource/http/response/ads.json
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/resource/http/response/campaigns.json
Labels: area/connectors, connectors/source/facebook-marketing

#37406 Fix partitioned state issue by updating CDK
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/poetry.lock
  airbyte-integrations/connectors/source-stripe/pyproject.toml
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, connectors/source/stripe

#37391 Update the abctl Local Deployment documentation to clarify uses and installation methods
  docs/deploying-airbyte/local-deployment.md
Labels: area/documentation

#37370 ✨Source Klaviyo: add new streams
  airbyte-integrations/connectors/source-klaviyo/acceptance-test-config.yml
  airbyte-integrations/connectors/source-klaviyo/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-klaviyo/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-klaviyo/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-klaviyo/metadata.yaml
  airbyte-integrations/connectors/source-klaviyo/poetry.lock
  airbyte-integrations/connectors/source-klaviyo/pyproject.toml
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/manifest.yaml
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/schemas/campaigns.json
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/schemas/campaigns_detailed.json
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/schemas/lists.json
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/schemas/lists_detailed.json
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/schemas/shared/campaign_properties.json
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/schemas/shared/list_properties.json
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/source.py
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/streams.py
  airbyte-integrations/connectors/source-klaviyo/unit_tests/test_source.py
  airbyte-integrations/connectors/source-klaviyo/unit_tests/test_streams.py
  docs/integrations/sources/klaviyo.md
Labels: area/documentation, area/connectors, connectors/source/klaviyo

#37109 connector builder: Set state on stream slices
  airbyte-cdk/python/airbyte_cdk/connector_builder/message_grouper.py
  airbyte-cdk/python/unit_tests/connector_builder/test_message_grouper.py
Labels: CDK

#37419 🐛 Source Salesforce: Break Python application with status 1 on exception
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/poetry.lock
  airbyte-integrations/connectors/source-salesforce/pyproject.toml
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors, connectors/source/salesforce

#37418 🐛 Source Stripe: Break Python application with status 1 on exception
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/poetry.lock
  airbyte-integrations/connectors/source-stripe/pyproject.toml
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_persons.py
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, connectors/source/stripe

#37397 [connector-template] macro to use current year for new connectors
  airbyte-integrations/connector-templates/destination-python/destination_{{snakeCase name}}/__init__.py.hbs
  airbyte-integrations/connector-templates/destination-python/destination_{{snakeCase name}}/destination.py.hbs
  airbyte-integrations/connector-templates/destination-python/integration_tests/integration_test.py.hbs
  airbyte-integrations/connector-templates/destination-python/main.py.hbs
  airbyte-integrations/connector-templates/destination-python/setup.py.hbs
  airbyte-integrations/connector-templates/destination-python/unit_tests/unit_test.py
  airbyte-integrations/connector-templates/destination-python/unit_tests/unit_test.py.hbs
  airbyte-integrations/connector-templates/generator/plopfile.js
  airbyte-integrations/connector-templates/source-low-code/__init__.py
  airbyte-integrations/connector-templates/source-low-code/__init__.py.hbs
  airbyte-integrations/connector-templates/source-low-code/integration_tests/__init__.py
  airbyte-integrations/connector-templates/source-low-code/integration_tests/__init__.py.hbs
  airbyte-integrations/connector-templates/source-low-code/integration_tests/acceptance.py
  airbyte-integrations/connector-templates/source-low-code/main.py.hbs
  airbyte-integrations/connector-templates/source-low-code/source_{{snakeCase name}}/__init__.py.hbs
  airbyte-integrations/connector-templates/source-low-code/source_{{snakeCase name}}/run.py.hbs
  airbyte-integrations/connector-templates/source-low-code/source_{{snakeCase name}}/source.py.hbs
  airbyte-integrations/connector-templates/source-python/integration_tests/__init__.py
  airbyte-integrations/connector-templates/source-python/integration_tests/__init__.py.hbs
  airbyte-integrations/connector-templates/source-python/integration_tests/acceptance.py.hbs
  airbyte-integrations/connector-templates/source-python/main.py.hbs
  airbyte-integrations/connector-templates/source-python/source_{{snakeCase name}}/__init__.py.hbs
  airbyte-integrations/connector-templates/source-python/source_{{snakeCase name}}/run.py.hbs
  airbyte-integrations/connector-templates/source-python/source_{{snakeCase name}}/source.py.hbs
  airbyte-integrations/connector-templates/source-python/unit_tests/__init__.py
  airbyte-integrations/connector-templates/source-python/unit_tests/__init__.py.hbs
  airbyte-integrations/connector-templates/source-python/unit_tests/test_incremental_streams.py.hbs
  airbyte-integrations/connector-templates/source-python/unit_tests/test_source.py.hbs
  airbyte-integrations/connector-templates/source-python/unit_tests/test_streams.py.hbs
Labels: community

#37424 Update the wording of the warning and use the new issue type in the description
  docs/deploying-airbyte/local-deployment.md
Labels: area/documentation

#37421 🐛 Source Linkedin Ads: fix changing next_page_token stopping criteria (test copy for #34166)
  airbyte-integrations/connectors/source-linkedin-ads/metadata.yaml
  airbyte-integrations/connectors/source-linkedin-ads/pyproject.toml
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/analytics_streams.py
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/streams.py
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/test_source.py
  docs/integrations/sources/linkedin-ads.md
Labels: area/documentation, area/connectors, connectors/source/linkedin-ads

#37434 🐛Source Mailchimp: fix cursor format for email_activity stream
  airbyte-integrations/connectors/source-mailchimp/metadata.yaml
  airbyte-integrations/connectors/source-mailchimp/pyproject.toml
  airbyte-integrations/connectors/source-mailchimp/source_mailchimp/manifest.yaml
  docs/integrations/sources/mailchimp.md
Labels: area/documentation, area/connectors, connectors/source/mailchimp

#37435 🐛 Source PayPal Transactions: update `manifest.yaml` to use the latest CDK version to fix the STATE for Incremental streams
  airbyte-integrations/connectors/source-paypal-transaction/README.md
  airbyte-integrations/connectors/source-paypal-transaction/acceptance-test-config.yml
  airbyte-integrations/connectors/source-paypal-transaction/metadata.yaml
  airbyte-integrations/connectors/source-paypal-transaction/poetry.lock
  airbyte-integrations/connectors/source-paypal-transaction/pyproject.toml
  airbyte-integrations/connectors/source-paypal-transaction/source_paypal_transaction/manifest.yaml
  docs/integrations/sources/paypal-transaction.md
Labels: area/documentation, area/connectors, connectors/source/paypal-transaction, team/critical-connectors
