Repository airbytehq/airbyte, pull requests merged in 2024-02, with the labels that each got.

#34642 remove alloydb once again
  airbyte-integrations/connectors/source-alloydb/metadata.yaml
  docs/integrations/sources/alloydb.md
Labels: area/documentation, area/connectors, connectors/source/alloydb

#34694 Publish to pypi batch11
  airbyte-integrations/connectors/source-statuspage/metadata.yaml
  airbyte-integrations/connectors/source-strava/metadata.yaml
  airbyte-integrations/connectors/source-survey-sparrow/metadata.yaml
  airbyte-integrations/connectors/source-surveycto/metadata.yaml
  airbyte-integrations/connectors/source-surveymonkey/metadata.yaml
  airbyte-integrations/connectors/source-talkdesk-explore/metadata.yaml
  airbyte-integrations/connectors/source-tempo/metadata.yaml
  airbyte-integrations/connectors/source-the-guardian-api/metadata.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/metadata.yaml
  airbyte-integrations/connectors/source-timely/metadata.yaml
  airbyte-integrations/connectors/source-tmdb/metadata.yaml
  airbyte-integrations/connectors/source-todoist/metadata.yaml
  airbyte-integrations/connectors/source-toggl/metadata.yaml
  airbyte-integrations/connectors/source-tplcentral/metadata.yaml
  airbyte-integrations/connectors/source-trello/metadata.yaml
  airbyte-integrations/connectors/source-trustpilot/metadata.yaml
  airbyte-integrations/connectors/source-tvmaze-schedule/metadata.yaml
  airbyte-integrations/connectors/source-twilio-taskrouter/metadata.yaml
  airbyte-integrations/connectors/source-twilio/metadata.yaml
  airbyte-integrations/connectors/source-twitter/metadata.yaml
Labels: area/connectors, connectors/source/surveymonkey, connectors/source/tempo, connectors/source/trello, connectors/source/strava, connectors/source/tiktok-marketing, connectors/source/twilio, connectors/source/timely, connectors/source/talkdesk-explore, connectors/source/twitter, connectors/source/trustpilot, connectors/source/tplcentral, connectors/source/tvmaze-schedule, connectors/source/survey-sparrow, connectors/source/toggl, connectors/source/tmdb, connectors/source/the-guardian-api, connectors/source/statuspage, connectors/source/twilio-taskrouter, connectors/source/surveycto, connectors/source/todoist

#34664 Publish to pypi batch12
  airbyte-integrations/connectors/source-tyntec-sms/metadata.yaml
  airbyte-integrations/connectors/source-unleash/metadata.yaml
  airbyte-integrations/connectors/source-us-census/metadata.yaml
  airbyte-integrations/connectors/source-vantage/metadata.yaml
  airbyte-integrations/connectors/source-visma-economic/metadata.yaml
  airbyte-integrations/connectors/source-vitally/metadata.yaml
  airbyte-integrations/connectors/source-waiteraid/metadata.yaml
  airbyte-integrations/connectors/source-weatherstack/metadata.yaml
  airbyte-integrations/connectors/source-webflow/metadata.yaml
  airbyte-integrations/connectors/source-whisky-hunter/metadata.yaml
  airbyte-integrations/connectors/source-wikipedia-pageviews/metadata.yaml
  airbyte-integrations/connectors/source-woocommerce/metadata.yaml
  airbyte-integrations/connectors/source-workable/metadata.yaml
  airbyte-integrations/connectors/source-workramp/metadata.yaml
  airbyte-integrations/connectors/source-wrike/metadata.yaml
  airbyte-integrations/connectors/source-xkcd/metadata.yaml
  airbyte-integrations/connectors/source-yahoo-finance-price/metadata.yaml
  airbyte-integrations/connectors/source-yandex-metrica/metadata.yaml
  airbyte-integrations/connectors/source-yotpo/metadata.yaml
  airbyte-integrations/connectors/source-younium/metadata.yaml
Labels: area/connectors, connectors/source/us-census, connectors/source/woocommerce, connectors/source/webflow, connectors/source/yandex-metrica, connectors/source/yahoo-finance-price, connectors/source/wrike, connectors/source/weatherstack, connectors/source/whisky-hunter, connectors/source/workable, connectors/source/xkcd, connectors/source/waiteraid, connectors/source/wikipedia-pageviews, connectors/source/vitally, connectors/source/visma-economic, connectors/source/vantage, connectors/source/younium, connectors/source/workramp, connectors/source/tyntec-sms, connectors/source/unleash, connectors/source/yotpo

#34712 :bug: Source Bing Ads: fix duplicates in report-based streams
  airbyte-integrations/connectors/source-bing-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/report_streams.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_reports.py
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors, connectors/source/bing-ads

#34654 🐛Source Amazon Seller Partner: fix date format in state message for streams with custom dates formatting
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_streams.py
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation, area/connectors, connectors/source/amazon-seller-partner

#34702 airbyte-lib: Hidden documentation
  docs/assets/docs/airbyte-lib-high-level-architecture.svg
  docs/contributing-to-airbyte/writing-docs.md
  docs/using-airbyte/airbyte-lib/getting-started.mdx
  docs/using-airbyte/airbyte-lib/reference.mdx
  docusaurus/docusaurus.config.js
  docusaurus/package.json
  docusaurus/pnpm-lock.yaml
  docusaurus/src/components/AirbyteLibConnectors.jsx
  docusaurus/src/components/AirbyteLibDefinitions.jsx
  docusaurus/src/components/AirbyteLibExample.jsx
  docusaurus/src/components/SpecSchema.jsx
  docusaurus/src/connector_registry.js
  docusaurus/src/remark/connectorList.js
  docusaurus/src/remark/docsHeaderDecoration.js
  docusaurus/src/remark/specDecoration.js
  docusaurus/src/remark/utils.js
Labels: area/documentation

#34658 Publish to pypi batch13
  airbyte-integrations/connectors/source-apify-dataset/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-freshdesk/metadata.yaml
  airbyte-integrations/connectors/source-gitlab/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  airbyte-integrations/connectors/source-google-drive/metadata.yaml
  airbyte-integrations/connectors/source-google-sheets/metadata.yaml
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  airbyte-integrations/connectors/source-iterable/metadata.yaml
  airbyte-integrations/connectors/source-youtube-analytics/metadata.yaml
  airbyte-integrations/connectors/source-zapier-supported-storage/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-sell/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-sunshine/metadata.yaml
  airbyte-integrations/connectors/source-zenefits/metadata.yaml
  airbyte-integrations/connectors/source-zenloop/metadata.yaml
  airbyte-integrations/connectors/source-zoho-crm/metadata.yaml
  airbyte-integrations/connectors/source-zoom/metadata.yaml
  airbyte-integrations/connectors/source-zuora/metadata.yaml
Labels: area/connectors, connectors/source/facebook-marketing, connectors/source/apify-dataset, connectors/source/freshdesk, connectors/source/gitlab, connectors/source/google-ads, connectors/source/google-sheets, connectors/source/instagram, connectors/source/iterable, connectors/source/zuora, connectors/source/youtube-analytics, connectors/source/zendesk-sunshine, connectors/source/zenloop, connectors/source/zoho-crm, connectors/source/google-analytics-data-api, connectors/source/zenefits, connectors/source/zendesk-sell, connectors/source/zoom, connectors/source/zapier-supported-storage, connectors/source/google-drive

#34662 Publish to pypi batch14
  airbyte-integrations/connectors/source-azure-blob-storage/metadata.yaml
  airbyte-integrations/connectors/source-gcs/metadata.yaml
  airbyte-integrations/connectors/source-google-drive/metadata.yaml
  airbyte-integrations/connectors/source-linkedin-ads/metadata.yaml
  airbyte-integrations/connectors/source-mailchimp/metadata.yaml
  airbyte-integrations/connectors/source-marketo/metadata.yaml
  airbyte-integrations/connectors/source-microsoft-onedrive/metadata.yaml
  airbyte-integrations/connectors/source-mixpanel/metadata.yaml
  airbyte-integrations/connectors/source-monday/metadata.yaml
  airbyte-integrations/connectors/source-paypal-transaction/metadata.yaml
  airbyte-integrations/connectors/source-pipedrive/metadata.yaml
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-shopify/metadata.yaml
  airbyte-integrations/connectors/source-slack/metadata.yaml
  airbyte-integrations/connectors/source-smartsheets/metadata.yaml
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-typeform/metadata.yaml
  airbyte-integrations/connectors/source-xero/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-talk/metadata.yaml
Labels: area/connectors, connectors/source/monday, connectors/source/marketo, connectors/source/mixpanel, connectors/source/stripe, connectors/source/shopify, connectors/source/linkedin-ads, connectors/source/slack, connectors/source/mailchimp, connectors/source/paypal-transaction, connectors/source/pipedrive, connectors/source/s3, connectors/source/salesforce, connectors/source/smartsheets, connectors/source/typeform, connectors/source/zendesk-support, connectors/source/zendesk-talk, connectors/source/xero, connectors/source/gcs, connectors/source/azure-blob-storage, connectors/source/google-drive, connectors/source/microsoft-onedrive

#34707 🐛 Source Recharge: Added the UI toggle `Use 'Orders' Deprecated API` to switch between `deprecated` and `modern` api versions for `Orders` stream
  airbyte-integrations/connectors/source-recharge/acceptance-test-config.yml
  airbyte-integrations/connectors/source-recharge/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-recharge/integration_tests/expected_records_orders_modern_api.jsonl
  airbyte-integrations/connectors/source-recharge/main.py
  airbyte-integrations/connectors/source-recharge/metadata.yaml
  airbyte-integrations/connectors/source-recharge/setup.py
  airbyte-integrations/connectors/source-recharge/source_recharge/api.py
  airbyte-integrations/connectors/source-recharge/source_recharge/run.py
  airbyte-integrations/connectors/source-recharge/source_recharge/schemas/orders.json
  airbyte-integrations/connectors/source-recharge/source_recharge/source.py
  airbyte-integrations/connectors/source-recharge/source_recharge/spec.json
  airbyte-integrations/connectors/source-recharge/unit_tests/test_api.py
  docs/integrations/sources/recharge.md
Labels: area/documentation, area/connectors, connectors/source/recharge

#34723 Bump source-postgres to cdk version 0.16.3
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/mysql, connectors/source/postgres

#34665 Source S3: pin CDK and moto
  airbyte-integrations/connectors/source-s3/acceptance-test-config.yml
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/setup.py
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3

#34545 Source Kyriba: Updates CDK, Increases Testing Coverage, Fixes Acceptance Test Config, Adds Expected Records
  airbyte-integrations/connectors/source-kyriba/Dockerfile
  airbyte-integrations/connectors/source-kyriba/README.md
  airbyte-integrations/connectors/source-kyriba/acceptance-test-config.yml
  airbyte-integrations/connectors/source-kyriba/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-kyriba/metadata.yaml
  airbyte-integrations/connectors/source-kyriba/sample_files/configured_catalog.json
  airbyte-integrations/connectors/source-kyriba/setup.py
  airbyte-integrations/connectors/source-kyriba/source_kyriba/schemas/accounts.json
  airbyte-integrations/connectors/source-kyriba/source_kyriba/schemas/bank_balances_eod.json
  airbyte-integrations/connectors/source-kyriba/source_kyriba/schemas/bank_balances_intraday.json
  airbyte-integrations/connectors/source-kyriba/source_kyriba/schemas/cash_balances_eod.json
  airbyte-integrations/connectors/source-kyriba/source_kyriba/schemas/cash_balances_intraday.json
  airbyte-integrations/connectors/source-kyriba/source_kyriba/schemas/cash_flows.json
  airbyte-integrations/connectors/source-kyriba/source_kyriba/schemas/shared/_definitions.json
  airbyte-integrations/connectors/source-kyriba/source_kyriba/source.py
  airbyte-integrations/connectors/source-kyriba/source_kyriba/spec.json
  airbyte-integrations/connectors/source-kyriba/unit_tests/test_bank_balances_stream.py
  airbyte-integrations/connectors/source-kyriba/unit_tests/test_source.py
  docs/integrations/sources/kyriba.md
Labels: area/documentation, area/connectors, connectors/source/kyriba

#34727 CDK destinations: Future based output reader for T+D test
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/java/io/airbyte/integrations/base/destination/typing_deduping/BaseTypingDedupingTest.java
Labels: CDK

#34728 Destination BigQuery: CDK updates for latest changes
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/java/io/airbyte/integrations/destination/bigquery/typing_deduping/BigQueryDestinationHandler.java
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, checklist-action-run

#34635 🐛 Source Hubspot: Fix pagination for companies_properties_history stream
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/companies_property_history.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot

#34453 🐛 bump cdk versions for java sources
  airbyte-integrations/connectors/source-bigquery/build.gradle
  airbyte-integrations/connectors/source-bigquery/metadata.yaml
  airbyte-integrations/connectors/source-clickhouse-strict-encrypt/build.gradle
  airbyte-integrations/connectors/source-clickhouse-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-clickhouse/build.gradle
  airbyte-integrations/connectors/source-clickhouse/metadata.yaml
  airbyte-integrations/connectors/source-cockroachdb/build.gradle
  airbyte-integrations/connectors/source-cockroachdb/metadata.yaml
  airbyte-integrations/connectors/source-db2/build.gradle
  airbyte-integrations/connectors/source-db2/metadata.yaml
  airbyte-integrations/connectors/source-dynamodb/build.gradle
  airbyte-integrations/connectors/source-dynamodb/metadata.yaml
  airbyte-integrations/connectors/source-mongodb-strict-encrypt/build.gradle
  airbyte-integrations/connectors/source-oracle-strict-encrypt/build.gradle
  airbyte-integrations/connectors/source-oracle-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/source-oracle/build.gradle
  airbyte-integrations/connectors/source-oracle/metadata.yaml
  airbyte-integrations/connectors/source-redshift/build.gradle
  airbyte-integrations/connectors/source-redshift/metadata.yaml
  airbyte-integrations/connectors/source-scaffold-java-jdbc/build.gradle
  airbyte-integrations/connectors/source-sftp/build.gradle
  airbyte-integrations/connectors/source-sftp/metadata.yaml
  airbyte-integrations/connectors/source-teradata/build.gradle
  airbyte-integrations/connectors/source-teradata/metadata.yaml
  airbyte-integrations/connectors/source-tidb/build.gradle
  airbyte-integrations/connectors/source-tidb/metadata.yaml
  docs/integrations/sources/bigquery.md
  docs/integrations/sources/clickhouse.md
  docs/integrations/sources/cockroachdb.md
  docs/integrations/sources/db2.md
  docs/integrations/sources/dynamodb.md
  docs/integrations/sources/elasticsearch.md
  docs/integrations/sources/kafka.md
  docs/integrations/sources/oracle.md
  docs/integrations/sources/redshift.md
  docs/integrations/sources/sftp.md
  docs/integrations/sources/snowflake.md
  docs/integrations/sources/teradata.md
  docs/integrations/sources/tidb.md
Labels: area/documentation, area/connectors, connectors/source/clickhouse, connectors/source/cockroachdb, connectors/source/db2, connectors/source/e2e-test, connectors/source/bigquery, connectors/source/kafka, connectors/source/oracle, connectors/source/redshift, connectors/source/snowflake, connectors/source/scaffold-java-jdbc, connectors/source/clickhouse-strict-encrypt, connectors/source/e2e-test-cloud, connectors/source/mongodb-strict-encrypt, connectors/source/oracle-strict-encrypt, connectors/source/sftp, connectors/source/tidb, connectors/source/elasticsearch, connectors/source/dynamodb, connectors/source/teradata

#34700 🐛 Source GitHub: Continue Sync on Stream failure
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/source_github/schemas/collaborators.json
  airbyte-integrations/connectors/source-github/source_github/schemas/issue_events.json
  airbyte-integrations/connectors/source-github/source_github/schemas/issue_timeline_events.json
  airbyte-integrations/connectors/source-github/source_github/schemas/pull_requests.json
  airbyte-integrations/connectors/source-github/source_github/schemas/repositories.json
  airbyte-integrations/connectors/source-github/source_github/schemas/shared/events/cross_referenced.json
  airbyte-integrations/connectors/source-github/source_github/source.py
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/unit_tests/test_multiple_token_authenticator.py
  airbyte-integrations/connectors/source-github/unit_tests/test_source.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors, connectors/source/github

#34772 Source Recharge: Fix airbyte-lib integration
  airbyte-integrations/connectors/source-recharge/metadata.yaml
  airbyte-integrations/connectors/source-recharge/setup.py
  docs/integrations/sources/recharge.md
Labels: area/documentation, area/connectors, connectors/source/recharge

#34777 add log4jConfig to docs
  docs/enterprise-setup/implementation-guide.md
Labels: area/documentation

#34762 AirbyteLib: fix examples in getting started
  airbyte-lib/examples/run_faker.py
  docs/using-airbyte/airbyte-lib/getting-started.mdx
Labels: area/documentation

#33537 🎉 New Source: Microsoft SharePoint
  airbyte-integrations/connectors/source-microsoft-sharepoint/.coveragerc
  airbyte-integrations/connectors/source-microsoft-sharepoint/README.md
  airbyte-integrations/connectors/source-microsoft-sharepoint/acceptance-test-config.yml
  airbyte-integrations/connectors/source-microsoft-sharepoint/icon.svg
  airbyte-integrations/connectors/source-microsoft-sharepoint/integration_tests/__init__.py
  airbyte-integrations/connectors/source-microsoft-sharepoint/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-microsoft-sharepoint/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-microsoft-sharepoint/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-microsoft-sharepoint/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-microsoft-sharepoint/integration_tests/invalid_config.json
  airbyte-integrations/connectors/source-microsoft-sharepoint/integration_tests/sample_config.json
  airbyte-integrations/connectors/source-microsoft-sharepoint/integration_tests/spec.json
  airbyte-integrations/connectors/source-microsoft-sharepoint/main.py
  airbyte-integrations/connectors/source-microsoft-sharepoint/metadata.yaml
  airbyte-integrations/connectors/source-microsoft-sharepoint/requirements.txt
  airbyte-integrations/connectors/source-microsoft-sharepoint/setup.py
  airbyte-integrations/connectors/source-microsoft-sharepoint/source_microsoft_sharepoint/__init__.py
  airbyte-integrations/connectors/source-microsoft-sharepoint/source_microsoft_sharepoint/source.py
  airbyte-integrations/connectors/source-microsoft-sharepoint/source_microsoft_sharepoint/spec.py
  airbyte-integrations/connectors/source-microsoft-sharepoint/source_microsoft_sharepoint/stream_reader.py
  airbyte-integrations/connectors/source-microsoft-sharepoint/source_microsoft_sharepoint/utils.py
  airbyte-integrations/connectors/source-microsoft-sharepoint/unit_tests/__init__.py
  airbyte-integrations/connectors/source-microsoft-sharepoint/unit_tests/test_stream_reader.py
  airbyte-integrations/connectors/source-microsoft-sharepoint/unit_tests/test_utils.py
  docs/integrations/sources/microsoft-sharepoint.md
Labels: area/documentation, area/connectors, connectors/source/microsoft-sharepoint

#34788 📘Docs: Update source Linnworks page
  docs/integrations/sources/linnworks.md
Labels: area/documentation

#34826 🐛 Source Coin API: Fix catalog typos
  airbyte-integrations/connectors/source-coin-api/Dockerfile
  airbyte-integrations/connectors/source-coin-api/metadata.yaml
  airbyte-integrations/connectors/source-coin-api/source_coin_api/schemas/quotes_historical_data.json
  docs/integrations/sources/coin-api.md
Labels: area/documentation, area/connectors, connectors/source/coin-api

#33522 Source Salesforce: concurrent incremental syncs
  airbyte-integrations/connectors/source-salesforce/integration_tests/bulk_error_test.py
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/setup.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/run.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/source.py
  airbyte-integrations/connectors/source-salesforce/source_salesforce/streams.py
  airbyte-integrations/connectors/source-salesforce/unit_tests/api_test.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors, connectors/source/salesforce

#34591 Source S3: updates for compatibility with the concurrent CDK
  airbyte-integrations/connectors/source-s3/acceptance-test-config.yml
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/setup.py
  airbyte-integrations/connectors/source-s3/source_s3/run.py
  airbyte-integrations/connectors/source-s3/source_s3/v4/source.py
  airbyte-integrations/connectors/source-s3/unit_tests/v4/test_source.py
  airbyte-integrations/connectors/source-s3/v4_main.py
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3

#34844 :bug: Source Google Ads: Add ignore fields for multiple fields
  airbyte-integrations/connectors/source-google-ads/acceptance-test-config.yml
Labels: area/connectors, connectors/source/google-ads

#34847 Source Gong: Adjust schemas
  airbyte-integrations/connectors/source-gong/Dockerfile
  airbyte-integrations/connectors/source-gong/metadata.yaml
  airbyte-integrations/connectors/source-gong/source_gong/schemas/calls.json
  airbyte-integrations/connectors/source-gong/source_gong/schemas/users.json
  docs/integrations/sources/gong.md
Labels: area/documentation, area/connectors, connectors/source/gong

#34856 source-mssql: double MSSQL_MEMORY_LIMIT_MB value
  airbyte-integrations/connectors/source-mssql/src/testFixtures/java/io/airbyte/integrations/source/mssql/MsSQLContainerFactory.java
Labels: area/connectors, connectors/source/mssql

#34621 Kubernetes docs: external logs with S3
  docs/deploying-airbyte/on-kubernetes-via-helm.md
Labels: area/documentation

#34759 [source-mongodb-v2] : Fail sync if initial snapshot for any stream fails
  airbyte-integrations/connectors/source-mongodb-v2/metadata.yaml
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/MongoDbStateIterator.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/MongoDbStateIteratorTest.java
  docs/integrations/sources/mongodb-v2.md
Labels: area/documentation, area/connectors, connectors/source/mongodb-v2

#34858 Docs: update pg13 requirement for external db
  docs/enterprise-setup/implementation-guide.md
  docs/operator-guides/configuring-airbyte-db.md
Labels: area/documentation

#34754 Improve error messages for concurrent CDK
  airbyte-cdk/python/airbyte_cdk/sources/concurrent_source/thread_pool_manager.py
  airbyte-cdk/python/airbyte_cdk/sources/streams/concurrent/cursor.py
Labels: CDK

#34861 Update http-streams.md typo
  docs/connector-development/cdk-python/http-streams.md
Labels: area/documentation

#34870 rollback source-github to 1.5.7
  airbyte-integrations/connectors/source-github/metadata.yaml
Labels: area/connectors, connectors/source/github

#34592 AirbyteLib: Support write strategies: 'merge' and 'auto'
  airbyte-lib/airbyte_lib/_executor.py
  airbyte-lib/airbyte_lib/_processors.py
  airbyte-lib/airbyte_lib/caches/base.py
  airbyte-lib/airbyte_lib/caches/duckdb.py
  airbyte-lib/airbyte_lib/caches/postgres.py
  airbyte-lib/airbyte_lib/caches/snowflake.py
  airbyte-lib/airbyte_lib/source.py
  airbyte-lib/airbyte_lib/strategies.py
  airbyte-lib/docs/generated/airbyte_lib.html
  airbyte-lib/docs/generated/airbyte_lib/caches.html
  airbyte-lib/poetry.lock
  airbyte-lib/pyproject.toml
  airbyte-lib/tests/conftest.py
  airbyte-lib/tests/integration_tests/test_source_faker_integration.py
  airbyte-lib/tests/integration_tests/test_source_test_fixture.py
  airbyte-lib/tests/integration_tests/test_validation.py
Labels: connectors/source/faker

#34044 airbyte-lib: Add testing to connectors
  airbyte-ci/connectors/pipelines/README.md
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/connectors/consts.py
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/connectors/test/steps/python_connectors.py
  airbyte-ci/connectors/pipelines/poetry.lock
  airbyte-ci/connectors/pipelines/pyproject.toml
  airbyte-ci/connectors/pipelines/tests/test_tests/test_python_connectors.py
Labels: connectors/source/pokeapi, team/ai-language-models, airbyte-lib

#34842 ✨ Source S3: Add region to S3 source
  airbyte-integrations/connectors/source-s3/integration_tests/cloud_spec.json
  airbyte-integrations/connectors/source-s3/integration_tests/spec.json
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/source_s3/source.py
  airbyte-integrations/connectors/source-s3/source_s3/v4/config.py
  airbyte-integrations/connectors/source-s3/source_s3/v4/stream_reader.py
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3

#34857 airbyte-lib: Fix processed records counter
  airbyte-lib/airbyte_lib/progress.py
  airbyte-lib/airbyte_lib/source.py
  airbyte-lib/tests/integration_tests/fixtures/source-test/source_test/run.py
Labels: team/ai-language-models, airbyte-lib

#34849 airbyte-lib: Improve source factory
  airbyte-lib/airbyte_lib/__init__.py
  airbyte-lib/airbyte_lib/_factories/connector_factories.py
  airbyte-lib/airbyte_lib/source.py
  airbyte-lib/airbyte_lib/validate.py
  airbyte-lib/docs/generated/airbyte_lib.html
  airbyte-lib/examples/run_faker.py
  airbyte-lib/examples/run_github.py
  airbyte-lib/examples/run_pokeapi.py
  airbyte-lib/examples/run_snowflake_faker.py
  airbyte-lib/examples/run_spacex.py
  airbyte-lib/examples/run_test_source.py
  airbyte-lib/examples/run_test_source_single_stream.py
  airbyte-lib/tests/integration_tests/test_install.py
  airbyte-lib/tests/integration_tests/test_source_faker_integration.py
  airbyte-lib/tests/integration_tests/test_source_test_fixture.py
  docs/using-airbyte/airbyte-lib/getting-started.mdx
Labels: area/documentation, team/ai-language-models, airbyte-lib

#34863 airbyte-lib: Use proper segment key
  airbyte-lib/airbyte_lib/telemetry.py
  airbyte-lib/tests/integration_tests/test_source_test_fixture.py
Labels: team/ai-language-models, airbyte-lib

#34778 airbyte-lib: Stream state
  airbyte-lib/airbyte_lib/_file_writers/base.py
  airbyte-lib/airbyte_lib/_processors.py
  airbyte-lib/airbyte_lib/caches/_catalog_manager.py
  airbyte-lib/airbyte_lib/caches/base.py
  airbyte-lib/airbyte_lib/source.py
  airbyte-lib/docs/generated/airbyte_lib.html
  airbyte-lib/docs/generated/airbyte_lib/caches.html
  airbyte-lib/tests/integration_tests/test_source_faker_integration.py
  airbyte-lib/tests/integration_tests/test_source_test_fixture.py
Labels: team/ai-language-models, airbyte-lib

#34619 ✨ Source Stripe: Events stream concurrent on incremental syncs
  airbyte-integrations/connectors/source-stripe/acceptance-test-config.yml
  airbyte-integrations/connectors/source-stripe/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/setup.py
  airbyte-integrations/connectors/source-stripe/source_stripe/run.py
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  airbyte-integrations/connectors/source-stripe/unit_tests/conftest.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_application_fees.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_application_fees_refunds.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_authorizations.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_bank_accounts.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_cards.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_early_fraud_warnings.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_events.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_external_account_bank_accounts.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_external_account_cards.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_payment_methods.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_persons.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_reviews.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_transactions.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_source.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_streams.py
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, connectors/source/stripe

#34903 S3 and Google Analytics v4: Enable pypi publishing
  airbyte-integrations/connectors/source-google-analytics-v4/metadata.yaml
  airbyte-integrations/connectors/source-s3/metadata.yaml
Labels: area/connectors, connectors/source/google-analytics-v4, connectors/source/s3

#34907 ✨ Source Google Analytics Data API: Add spec parameter to convert `conversions:purchase` to float
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/source.py
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/spec.json
  docs/integrations/sources/google-analytics-data-api.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-data-api

#34891 Destination Postgres: Remove varchar limit of 64k, defaults to 10MiB limit
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/destination-postgres/metadata.yaml
  airbyte-integrations/connectors/destination-postgres/src/main/java/io/airbyte/integrations/destination/postgres/typing_deduping/PostgresSqlGenerator.java
  airbyte-integrations/connectors/destination-postgres/src/test-integration/java/io/airbyte/integrations/destination/postgres/typing_deduping/PostgresTypingDedupingTest.java
  docs/integrations/destinations/postgres.md
Labels: area/documentation, area/connectors, connectors/destination/postgres, connectors/destination/postgres-strict-encrypt

#34926 source-s3: pin to version 4.4.1
  airbyte-integrations/connectors/source-s3/metadata.yaml
Labels: area/connectors, connectors/source/s3

#34912 CDK: fix flaky scenario-based tests by sorting on k & v
  airbyte-cdk/python/unit_tests/sources/file_based/test_scenarios.py
Labels: CDK

#34936 File based sources fix sync mode bug
  airbyte-integrations/connectors/source-azure-blob-storage/metadata.yaml
  airbyte-integrations/connectors/source-azure-blob-storage/setup.py
  airbyte-integrations/connectors/source-gcs/metadata.yaml
  airbyte-integrations/connectors/source-gcs/setup.py
  airbyte-integrations/connectors/source-google-drive/metadata.yaml
  airbyte-integrations/connectors/source-google-drive/setup.py
  airbyte-integrations/connectors/source-microsoft-onedrive/metadata.yaml
  airbyte-integrations/connectors/source-microsoft-onedrive/setup.py
  docs/integrations/sources/azure-blob-storage.md
  docs/integrations/sources/gcs.md
  docs/integrations/sources/google-drive.md
  docs/integrations/sources/microsoft-onedrive.md
Labels: area/documentation, area/connectors, connectors/source/gcs, connectors/source/azure-blob-storage, connectors/source/google-drive, connectors/source/microsoft-onedrive

#34914 🐛Source Amazon Seller Partner: fix date formatting for ledger reports with aggregation by month
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/schemas/GET_LEDGER_SUMMARY_VIEW_DATA.json
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_analytics_streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_transform_function.py
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation, area/connectors, connectors/source/amazon-seller-partner

#34845 :bug: Source Facebook Marketing: Add missing fields
  airbyte-integrations/connectors/source-facebook-marketing/acceptance-test-config.yml
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/ad_creatives.json
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/schemas/shared/targeting.json
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing

#34915 Source Hubspot: add notes about property history stream
  docs/integrations/sources/hubspot.md
Labels: area/documentation

#34930 Source S3: bump CDK version to fix issue when SyncMode is missing from catalog
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/setup.py
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3

#34855 Update reset.md
  docs/operator-guides/reset.md
Labels: area/documentation

#34951 ✨ Source Google Analytics Data API: Replace convert_conversions_purchase with convert_conversions_event
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/source.py
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/spec.json
  docs/integrations/sources/google-analytics-data-api.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-data-api

#34941 fix version of airbyte-cdk in Dockerfile pip install
  airbyte-cdk/python/Dockerfile
Labels: CDK

#34636 Emit multiple error trace messages and continue syncs by default
  airbyte-cdk/python/airbyte_cdk/sources/abstract_source.py
  airbyte-cdk/python/airbyte_cdk/utils/traced_exception.py
  airbyte-cdk/python/unit_tests/sources/test_abstract_source.py
  airbyte-cdk/python/unit_tests/sources/test_integration_source.py
  airbyte-cdk/python/unit_tests/sources/test_source_read.py
Labels: CDK, connectors/source/klaviyo

#34948 db-sources-java-cdk: fix logic to calculate the state stats count in db sources iterator
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/source/relationaldb/StateDecoratingIterator.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/test/java/io/airbyte/cdk/integrations/source/relationaldb/StateDecoratingIteratorTest.java
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, CDK, connectors/source/postgres

#34829 ✨ Source Hubspot: Add contacts form submissions stream
  airbyte-integrations/connectors/source-hubspot/README.md
  airbyte-integrations/connectors/source-hubspot/acceptance-test-config.yml
  airbyte-integrations/connectors/source-hubspot/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/sample_files/basic_read_catalog.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/contacts_form_submissions.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/deals_property_history.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/engagements.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/shared/default_event_properties.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/schemas/ticket_pipelines.json
  airbyte-integrations/connectors/source-hubspot/source_hubspot/source.py
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_source.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot

#34892 make exclusive containers first class citizens
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/airbyte-commons/src/main/java/io/airbyte/commons/logging/LoggingHelper.java
  airbyte-cdk/java/airbyte-cdk/airbyte-commons/src/main/java/io/airbyte/commons/logging/MdcScope.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/java/io/airbyte/cdk/testutils/ContainerFactory.java
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/src/testFixtures/java/io/airbyte/integrations/source/postgres/PostgresContainerFactory.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, CDK, connectors/source/mssql, connectors/source/postgres

#34981 remove useLocalCdk for source-postgres
  airbyte-integrations/connectors/source-postgres/build.gradle
Labels: area/connectors, connectors/source/postgres

#34980 source-postgres/mysql: fix wrong tags in metadata
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-postgres/metadata.yaml
Labels: area/connectors, connectors/source/mysql, connectors/source/postgres

#34979 AirbyteLib: Require stream selection
  airbyte-lib/airbyte_lib/_factories/connector_factories.py
  airbyte-lib/airbyte_lib/exceptions.py
  airbyte-lib/airbyte_lib/source.py
  airbyte-lib/docs/generated/airbyte_lib.html
  airbyte-lib/examples/run_faker.py
  airbyte-lib/examples/run_github.py
  airbyte-lib/tests/integration_tests/test_source_test_fixture.py
  docs/using-airbyte/airbyte-lib/getting-started.mdx
Labels: area/documentation

#34990 Revert "Emit multiple error trace messages and continue syncs by default"
  airbyte-cdk/python/airbyte_cdk/sources/abstract_source.py
  airbyte-cdk/python/airbyte_cdk/utils/traced_exception.py
  airbyte-cdk/python/unit_tests/sources/test_abstract_source.py
  airbyte-cdk/python/unit_tests/sources/test_integration_source.py
  airbyte-cdk/python/unit_tests/sources/test_source_read.py
Labels: CDK

#34540 File-based CDK: make incremental syncs concurrent
  airbyte-cdk/python/airbyte_cdk/sources/abstract_source.py
  airbyte-cdk/python/airbyte_cdk/sources/connector_state_manager.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/file_based_source.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/abstract_file_based_stream.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/concurrent/adapters.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/concurrent/cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/concurrent/cursor/__init__.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/concurrent/cursor/abstract_concurrent_file_based_cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/concurrent/cursor/file_based_concurrent_cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/concurrent/cursor/file_based_noop_cursor.py
  airbyte-cdk/python/airbyte_cdk/sources/file_based/stream/default_file_based_stream.py
  airbyte-cdk/python/unit_tests/sources/file_based/helpers.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/concurrent_incremental_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/scenarios/scenario_builder.py
  airbyte-cdk/python/unit_tests/sources/file_based/stream/concurrent/__init__.py
  airbyte-cdk/python/unit_tests/sources/file_based/stream/concurrent/test_file_based_concurrent_cursor.py
  airbyte-cdk/python/unit_tests/sources/file_based/test_file_based_scenarios.py
  airbyte-cdk/python/unit_tests/sources/file_based/test_scenarios.py
  airbyte-cdk/python/unit_tests/sources/streams/concurrent/scenarios/stream_facade_builder.py
  airbyte-cdk/python/unit_tests/sources/test_abstract_source.py
  airbyte-cdk/python/unit_tests/sources/test_connector_state_manager.py
Labels: CDK, connectors/source/s3

#34430 improve startup performance of airbyte-ci
  airbyte-ci/connectors/pipelines/README.md
  airbyte-ci/connectors/pipelines/pipelines/models/contexts/pipeline_context.py
  airbyte-ci/connectors/pipelines/pyproject.toml
  airbyte-ci/connectors/pipelines/tests/test_helpers/test_utils.py
Labels: connectors/source/mssql

#35008 source-google-sheets: use poetry for dependency management [2]
  airbyte-integrations/connectors/source-google-sheets/README.md
  airbyte-integrations/connectors/source-google-sheets/metadata.yaml
  airbyte-integrations/connectors/source-google-sheets/poetry.lock
  airbyte-integrations/connectors/source-google-sheets/pyproject.toml
  airbyte-integrations/connectors/source-google-sheets/setup.py
  docs/integrations/sources/google-sheets.md
Labels: area/documentation, area/connectors, connectors/source/google-sheets

#35013 ✨ Source Amazon Ads: Add missing field to `sponsored_display_budget_rules` stream schema
  airbyte-integrations/connectors/source-amazon-ads/metadata.yaml
  airbyte-integrations/connectors/source-amazon-ads/source_amazon_ads/schemas/sponsored_display.py
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, area/connectors, connectors/source/amazon-ads

#35000 CDK: allow ConnectorStateManager stream_instance_map to take ConfiguredAirbyteStream or Stream
  airbyte-cdk/python/airbyte_cdk/sources/connector_state_manager.py
Labels: CDK

#34633 🐛 Source Freshservice - add backoff policy to requested_items stream and bump changelog
  airbyte-integrations/connectors/source-freshservice/Dockerfile
  airbyte-integrations/connectors/source-freshservice/metadata.yaml
  airbyte-integrations/connectors/source-freshservice/source_freshservice/manifest.yaml
  docs/integrations/sources/freshservice.md
Labels: area/documentation, area/connectors, connectors/source/freshservice

#34989 Add Information about Snowflake Column Case change to V2 Doc
  docs/release_notes/upgrading_to_destinations_v2.md
Labels: area/documentation

#35028 fix low-code tags on source-sendgrid/sentry/intercom
  airbyte-integrations/connectors/source-intercom/metadata.yaml
  airbyte-integrations/connectors/source-monday/metadata.yaml
  airbyte-integrations/connectors/source-sentry/metadata.yaml
Labels: area/connectors, connectors/source/intercom, connectors/source/monday, connectors/source/sentry

#34998 Source Klaviyo: Add missing fields to stream schemas
  airbyte-integrations/connectors/source-klaviyo/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-klaviyo/metadata.yaml
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/schemas/campaigns.json
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/schemas/email_templates.json
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/schemas/events.json
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/schemas/flows.json
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/schemas/global_exclusions.json
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/schemas/lists.json
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/schemas/metrics.json
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/schemas/profiles.json
  airbyte-integrations/connectors/source-klaviyo/source_klaviyo/streams.py
  docs/integrations/sources/klaviyo.md
Labels: area/documentation, area/connectors, connectors/source/klaviyo

#34717 Source Linnworks: Unblock CDK update
  airbyte-integrations/connectors/source-linnworks/Dockerfile
  airbyte-integrations/connectors/source-linnworks/README.md
  airbyte-integrations/connectors/source-linnworks/acceptance-test-config.yml
  airbyte-integrations/connectors/source-linnworks/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-linnworks/metadata.yaml
  airbyte-integrations/connectors/source-linnworks/setup.py
  airbyte-integrations/connectors/source-linnworks/source_linnworks/schemas/processed_order_details.json
  airbyte-integrations/connectors/source-linnworks/source_linnworks/schemas/processed_orders.json
  airbyte-integrations/connectors/source-linnworks/source_linnworks/schemas/stock_items.json
  airbyte-integrations/connectors/source-linnworks/source_linnworks/schemas/stock_location_details.json
  airbyte-integrations/connectors/source-linnworks/source_linnworks/schemas/stock_locations.json
  airbyte-integrations/connectors/source-linnworks/source_linnworks/source.py
  airbyte-integrations/connectors/source-linnworks/source_linnworks/spec.json
  docs/integrations/sources/linnworks.md
Labels: area/documentation, area/connectors, connectors/source/linnworks

#35038 Remove sources with LEGACY STATE from registry
  airbyte-integrations/connectors/source-appstore-singer/metadata.yaml
  airbyte-integrations/connectors/source-courier/metadata.yaml
  airbyte-integrations/connectors/source-dv-360/metadata.yaml
  airbyte-integrations/connectors/source-kustomer-singer/metadata.yaml
  airbyte-integrations/connectors/source-linnworks/metadata.yaml
  airbyte-integrations/connectors/source-recurly/metadata.yaml
  airbyte-integrations/connectors/source-search-metrics/metadata.yaml
  airbyte-integrations/connectors/source-talkdesk-explore/metadata.yaml
  airbyte-integrations/connectors/source-zuora/metadata.yaml
Labels: area/connectors, connectors/source/linnworks, connectors/source/appstore-singer, connectors/source/recurly, connectors/source/zuora, connectors/source/kustomer-singer, connectors/source/search-metrics, connectors/source/dv-360, connectors/source/talkdesk-explore, connectors/source/courier

#34502 🐛 Destination snowflake: use 200MB batches
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/DestinationFlushFunction.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/staging/AsyncFlush.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/src/main/java/io/airbyte/cdk/integrations/destination/staging/StagingConsumerFactory.java
  airbyte-integrations/connectors/destination-redshift/build.gradle
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/RedshiftStagingS3Destination.java
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingDestination.java
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeDestinationHandler.java
  docs/integrations/destinations/redshift.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/snowflake, connectors/destination/redshift, checklist-action-run

#34781 [source-postgres] : Provide option to advance LSN
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/cdc/PostgresCdcProperties.java
  airbyte-integrations/connectors/source-postgres/src/main/resources/spec.json
  airbyte-integrations/connectors/source-postgres/src/test-integration/resources/expected_cloud_deployment_spec.json
  airbyte-integrations/connectors/source-postgres/src/test-integration/resources/expected_spec.json
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CdcPostgresSourceTest.java
  docs/integrations/sources/postgres.md
  docs/integrations/sources/postgres/postgres-troubleshooting.md
Labels: area/documentation, area/connectors, connectors/source/postgres

#35027 async-destination-framework: make GlobalAsyncStateManager entirely thread safe
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/state/GlobalAsyncStateManager.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/bigquery, connectors/destination/snowflake

#34182 Checkpointing source-mssql
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/db/jdbc/JdbcConstants.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/build.gradle
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/CdcTargetPosition.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/DebeziumStateDecoratingIterator.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/source/relationaldb/RelationalDbQueryUtils.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/source/relationaldb/RelationalDbReadUtil.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/resources/db_models/internal_models.yaml
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/java/io/airbyte/cdk/integrations/source/jdbc/test/JdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcConnectorMetadataInjector.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcHelper.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcSavedInfoFetcher.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcStateHandler.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcTargetPosition.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlDebeziumConverter.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlQueryUtils.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/cdc/MssqlCdcStateConstants.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/cdc/MssqlDebeziumStateUtil.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/cursor_based/MssqlCursorBasedStateManager.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/initialsync/MssqlInitialLoadGlobalStateManager.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/initialsync/MssqlInitialLoadHandler.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/initialsync/MssqlInitialLoadRecordIterator.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/initialsync/MssqlInitialLoadSourceOperations.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/initialsync/MssqlInitialLoadStateManager.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/initialsync/MssqlInitialLoadStreamStateManager.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/initialsync/MssqlInitialReadUtil.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/initialsync/MssqlInitialSyncStateIterator.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/SshKeyMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/SshPasswordMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/CdcMssqlSslSourceTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/CdcStateCompressionTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/MssqlDataSourceFactoryTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/MssqlDebeziumStateUtilTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/MssqlInitialLoadHandlerTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/MssqlJdbcSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/MssqlStressTest.java
  airbyte-integrations/connectors/source-mssql/src/testFixtures/java/io/airbyte/integrations/source/mssql/MsSQLContainerFactory.java
  airbyte-integrations/connectors/source-mssql/src/testFixtures/java/io/airbyte/integrations/source/mssql/MsSQLTestDatabase.java
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, CDK, connectors/source/stripe, connectors/source/google-analytics-v4, connectors/source/google-sheets, connectors/destination/redshift, connectors/source/mssql, connectors/source/mysql, connectors/destination/postgres, connectors/source/mongodb-v2, connectors/destination/postgres-strict-encrypt, connectors/source/sftp

#35018 airbyte-lib: Show list of actually available connectors
  airbyte-lib/airbyte_lib/registry.py
Labels: team/ai-language-models, airbyte-lib

#35015 airbyte-lib: Clean up test schema in Snowflake
  airbyte-lib/tests/conftest.py
  airbyte-lib/tests/integration_tests/test_source_test_fixture.py
Labels: team/ai-language-models, airbyte-lib

#34955 airbyte-lib: Fix telemetry for streaming
  airbyte-lib/airbyte_lib/source.py
  airbyte-lib/tests/integration_tests/test_source_test_fixture.py
Labels: team/ai-language-models, airbyte-lib

#34946 Docs reference: Fix bug with hidden array item properties
  docusaurus/src/components/SpecSchema.jsx
Labels: team/ai-language-models, airbyte-lib

#35054 undo useLocalCdk = true from #34745
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-gcs/build.gradle
  airbyte-integrations/connectors/destination-mongodb-strict-encrypt/build.gradle
  airbyte-integrations/connectors/destination-mongodb/build.gradle
Labels: area/connectors, connectors/destination/bigquery, connectors/destination/gcs, connectors/destination/mongodb, connectors/destination/mongodb-strict-encrypt

#34753 [Docs] January 2024 release notes
  docs/release_notes/january_2024.md
  docusaurus/sidebars.js
Labels: area/documentation

#35057 Update documentation for aws secret manager configs
  docs/operator-guides/configuring-airbyte.md
Labels: area/documentation

#35019 ✨ Source Bing Ads: Add ignore fields for ads stream
  airbyte-integrations/connectors/source-bing-ads/acceptance-test-config.yml
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
Labels: area/connectors, connectors/source/bing-ads

#35016 Source Monday: add integration tests
  airbyte-integrations/connectors/source-monday/acceptance-test-config.yml
  airbyte-integrations/connectors/source-monday/metadata.yaml
  airbyte-integrations/connectors/source-monday/setup.py
  airbyte-integrations/connectors/source-monday/unit_tests/integrations/__init__.py
  airbyte-integrations/connectors/source-monday/unit_tests/integrations/config.py
  airbyte-integrations/connectors/source-monday/unit_tests/integrations/monday_requests/__init__.py
  airbyte-integrations/connectors/source-monday/unit_tests/integrations/monday_requests/base_requests_builder.py
  airbyte-integrations/connectors/source-monday/unit_tests/integrations/monday_requests/request_authenticators/__init__.py
  airbyte-integrations/connectors/source-monday/unit_tests/integrations/monday_requests/request_authenticators/api_token_authenticator.py
  airbyte-integrations/connectors/source-monday/unit_tests/integrations/monday_requests/request_authenticators/authenticator.py
  airbyte-integrations/connectors/source-monday/unit_tests/integrations/monday_requests/teams_requests_builder.py
  airbyte-integrations/connectors/source-monday/unit_tests/integrations/monday_responses/__init__.py
  airbyte-integrations/connectors/source-monday/unit_tests/integrations/monday_responses/error_response_builder.py
  airbyte-integrations/connectors/source-monday/unit_tests/integrations/monday_responses/records/__init__.py
  airbyte-integrations/connectors/source-monday/unit_tests/integrations/monday_responses/records/record_builder.py
  airbyte-integrations/connectors/source-monday/unit_tests/integrations/monday_responses/records/teams_record_builder.py
  airbyte-integrations/connectors/source-monday/unit_tests/integrations/monday_responses/teams_response_builder.py
  airbyte-integrations/connectors/source-monday/unit_tests/integrations/test_teams_stream.py
  airbyte-integrations/connectors/source-monday/unit_tests/integrations/utils.py
  airbyte-integrations/connectors/source-monday/unit_tests/resource/http/response/200.json
  airbyte-integrations/connectors/source-monday/unit_tests/resource/http/response/403.json
  airbyte-integrations/connectors/source-monday/unit_tests/resource/http/response/500.json
  airbyte-integrations/connectors/source-monday/unit_tests/resource/http/response/teams.json
  docs/integrations/sources/monday.md
Labels: area/documentation, area/connectors, connectors/source/monday

#35063 ✨ Source Intercom: Add missing fields
  airbyte-integrations/connectors/source-intercom/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-intercom/metadata.yaml
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/company_attributes.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/contact_attributes.json
  airbyte-integrations/connectors/source-intercom/source_intercom/schemas/contacts.json
  docs/integrations/sources/intercom.md
Labels: area/documentation, area/connectors, connectors/source/intercom

#35062 :bug: Source Amazon Seller Partner: Fix check command to check access to correct streams
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_analytics_streams.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_migrations.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_source.py
  airbyte-integrations/connectors/source-amazon-seller-partner/unit_tests/test_streams.py
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation, area/connectors, connectors/source/amazon-seller-partner

#35105 [ISSUE #34910] add headers to HttpResponse for test framework
  airbyte-cdk/python/airbyte_cdk/test/mock_http/mocker.py
  airbyte-cdk/python/airbyte_cdk/test/mock_http/response.py
  airbyte-cdk/python/unit_tests/test/mock_http/test_mocker.py
Labels: CDK

#35087 ✨ source-github: migrate to poetry
  airbyte-integrations/connectors/source-github/README.md
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/poetry.lock
  airbyte-integrations/connectors/source-github/pyproject.toml
  airbyte-integrations/connectors/source-github/setup.py
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors, connectors/source/github, poetry-migration

#35077 ✨ source-greenhouse: migrate to poetry
  airbyte-integrations/connectors/source-greenhouse/README.md
  airbyte-integrations/connectors/source-greenhouse/metadata.yaml
  airbyte-integrations/connectors/source-greenhouse/poetry.lock
  airbyte-integrations/connectors/source-greenhouse/pyproject.toml
  airbyte-integrations/connectors/source-greenhouse/setup.py
  docs/integrations/sources/greenhouse.md
Labels: area/documentation, area/connectors, connectors/source/greenhouse, poetry-migration

#35068 ✨ source-stripe: migrate to poetry
  airbyte-integrations/connectors/source-stripe/README.md
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/poetry.lock
  airbyte-integrations/connectors/source-stripe/pyproject.toml
  airbyte-integrations/connectors/source-stripe/setup.py
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, connectors/source/stripe, poetry-migration

#34391 [Docs] Create homepage for Sources/Destinations
  docs/connector-development/connector-builder-ui/overview.md
  docs/integrations/destinations/README.md
  docs/integrations/sources/README.md
  docusaurus/sidebars.js
Labels: area/documentation

#34562 Destination redshift: Switch back to jooq execution; add e2e special characters test
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/java/io/airbyte/integrations/base/destination/typing_deduping/BaseTypingDedupingTest.java
  airbyte-cdk/java/airbyte-cdk/typing-deduping/src/testFixtures/resources/dat/sync1_messages.jsonl
  airbyte-integrations/connectors/destination-redshift/build.gradle
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/operations/RedshiftS3StagingSqlOperations.java
  airbyte-integrations/connectors/destination-redshift/src/main/java/io/airbyte/integrations/destination/redshift/operations/RedshiftSqlOperations.java
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync1_expectedrecords_dedup_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync1_expectedrecords_nondedup_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync1_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_append_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync2_expectedrecords_incremental_dedup_final.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test-integration/resources/dat/sync2_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-redshift/src/test/resources/typing_deduping_with_cdc.sql
  docs/integrations/destinations/redshift.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/redshift, checklist-action-run

#34747 destination-snowflake: adopt cleaned-up cdk
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/java/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingSqlOperations.java
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/snowflake

#34748 source-mongodb-v2: adopt cleaned-up cdk
  airbyte-integrations/connectors/source-mongodb-v2/build.gradle
  airbyte-integrations/connectors/source-mongodb-v2/metadata.yaml
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbCdcEventUtilsTest.java
  airbyte-integrations/connectors/source-mongodb-v2/src/test/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbDebeziumEventConverterTest.java
  docs/integrations/sources/mongodb-v2.md
Labels: area/documentation, area/connectors, connectors/source/mongodb-v2

#34751 source-postgres: adopt cleaned-up cdk
  airbyte-integrations/connectors/source-postgres/build.gradle
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  airbyte-integrations/connectors/source-postgres/src/main/java/io/airbyte/integrations/source/postgres/PostgresSource.java
  airbyte-integrations/connectors/source-postgres/src/test-performance/java/io/airbyte/integrations/source/postgres/FillPostgresTestDbScriptTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/CloudDeploymentPostgresSourceTest.java
  airbyte-integrations/connectors/source-postgres/src/test/java/io/airbyte/integrations/source/postgres/PostgresSourceTest.java
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres

#34749 source-mssql: adopt cleaned-up cdk
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlDebeziumConverter.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSourceOperations.java
  airbyte-integrations/connectors/source-mssql/src/test-integration/java/io/airbyte/integrations/source/mssql/AbstractSshMssqlSourceAcceptanceTest.java
  airbyte-integrations/connectors/source-mssql/src/test-performance/java/io/airbyte/integrations/source/mssql/FillMsSqlTestDbScriptTest.java
Labels: area/connectors, connectors/source/mssql

#34750 source-mysql: adopt cleaned-up cdk
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/MySqlSource.java
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/AbstractMySqlSourceDatatypeTest.java
  airbyte-integrations/connectors/source-mysql/src/test-performance/java/io/airbyte/integrations/source/mysql/MySqlRdsSourcePerformanceSecretTest.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/MySqlStressTest.java
  airbyte-integrations/connectors/source-mysql/src/testFixtures/java/io/airbyte/integrations/source/mysql/MySQLContainerFactory.java
  airbyte-integrations/connectors/source-mysql/src/testFixtures/java/io/airbyte/integrations/source/mysql/MySQLTestDatabase.java
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, connectors/source/mysql

#35086 ✨ source-linkedin-ads: migrate to poetry
  airbyte-integrations/connectors/source-linkedin-ads/README.md
  airbyte-integrations/connectors/source-linkedin-ads/metadata.yaml
  airbyte-integrations/connectors/source-linkedin-ads/poetry.lock
  airbyte-integrations/connectors/source-linkedin-ads/pyproject.toml
  airbyte-integrations/connectors/source-linkedin-ads/setup.py
  docs/integrations/sources/linkedin-ads.md
Labels: area/documentation, area/connectors, connectors/source/linkedin-ads, poetry-migration

#34575 Destinatino bigquery: update test fixtures
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/dat/sync1_expectedrecords_dedup_final.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/dat/sync1_expectedrecords_nondedup_final.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/dat/sync1_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_append_final.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/dat/sync2_expectedrecords_incremental_dedup_final.jsonl
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/resources/dat/sync2_expectedrecords_raw.jsonl
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, connectors/destination/redshift

#34983 Source Google Ads: add test for empty streams
  airbyte-integrations/connectors/source-google-ads/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-google-ads/integration_tests/expected_records_click.jsonl
  airbyte-integrations/connectors/source-google-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-google-ads/unit_tests/test_empty_streams.py
Labels: area/connectors, connectors/source/google-ads

#35045 [Source-mysql] Add soft link in mysql test db
  airbyte-integrations/connectors/source-mysql/src/test-integration/java/io/airbyte/integrations/io/airbyte/integration_tests/sources/CDCMySqlDatatypeAccuracyTest.java
  airbyte-integrations/connectors/source-mysql/src/testFixtures/java/io/airbyte/integrations/source/mysql/MySQLTestDatabase.java
Labels: area/connectors, connectors/source/mysql

#34574 Destination snowflake: update test fixtures
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync1_expectedrecords_dedup_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync1_expectedrecords_nondedup_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync1_expectedrecords_raw.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_expectedrecords_fullrefresh_append_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_expectedrecords_incremental_dedup_final.jsonl
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/dat/sync2_expectedrecords_raw.jsonl
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/snowflake, connectors/destination/redshift, checklist-action-run

#34969 airbyte-lib: Escape column names
  airbyte-lib/airbyte_lib/caches/base.py
  airbyte-lib/airbyte_lib/caches/duckdb.py
  airbyte-lib/airbyte_lib/caches/snowflake.py
  airbyte-lib/examples/run_pokeapi.py
Labels: team/ai-language-models, airbyte-lib

#34418 Update docs reference from Java 17 to 21
  docs/contributing-to-airbyte/resources/developing-locally.md
Labels: area/documentation

#35103 migrate everything from java 17 to java 21
  .github/actions/runner-prepare-for-build/action.yml
  .github/workflows/connector-performance-command.yml
  .github/workflows/gradle.yml
  .github/workflows/jacoco_report.yml
  .github/workflows/legacy-publish-command.yml
  .github/workflows/legacy-test-command.yml
  .github/workflows/publish-cdk-command-manually.yml
  .github/workflows/publish-java-cdk-command.yml
  .github/workflows/release-airbyte-os.yml
  .github/workflows/test-performance-command.yml
  airbyte-cdk/java/airbyte-cdk/core/build.gradle
  airbyte-cdk/java/airbyte-cdk/datastore-postgres/build.gradle
  airbyte-cdk/java/airbyte-cdk/db-destinations/build.gradle
  airbyte-cdk/java/airbyte-cdk/db-sources/build.gradle
  airbyte-cdk/java/airbyte-cdk/dependencies/build.gradle
  airbyte-cdk/java/airbyte-cdk/dependencies/src/main/resources/log4j2-test.xml
  airbyte-cdk/java/airbyte-cdk/dependencies/src/test/java/io/airbyte/workers/TestHarnessUtilsTest.java
  airbyte-cdk/java/airbyte-cdk/s3-destinations/build.gradle
  airbyte-ci/connectors/pipelines/README.md
  airbyte-ci/connectors/pipelines/pipelines/consts.py
  airbyte-ci/connectors/pipelines/pyproject.toml
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-iceberg/build.gradle
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/source-mongodb-v2/build.gradle
  airbyte-integrations/connectors/source-mssql/build.gradle
  build.gradle
  buildSrc/src/main/groovy/airbyte-integration-test-java.gradle
  deps.toml
  gradle/wrapper/gradle-wrapper.properties
  spotbugs-exclude-filter-file.xml
Labels: area/connectors, CDK, connectors/destination/bigquery, connectors/destination/snowflake, connectors/source/mssql, connectors/source/mongodb-v2, connectors/destination/iceberg

#35123 Update airbyte-protocol.md
  docs/understanding-airbyte/airbyte-protocol.md
Labels: area/documentation

#35101 ✨ source-google-analytics-v4: migrate to poetry
  airbyte-integrations/connectors/source-google-analytics-v4/README.md
  airbyte-integrations/connectors/source-google-analytics-v4/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-v4/poetry.lock
  airbyte-integrations/connectors/source-google-analytics-v4/pyproject.toml
  airbyte-integrations/connectors/source-google-analytics-v4/setup.py
  docs/integrations/sources/google-analytics-v4.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-v4, poetry-migration

#35092 ✨ source-mailchimp: migrate to poetry
  airbyte-integrations/connectors/source-mailchimp/README.md
  airbyte-integrations/connectors/source-mailchimp/metadata.yaml
  airbyte-integrations/connectors/source-mailchimp/poetry.lock
  airbyte-integrations/connectors/source-mailchimp/pyproject.toml
  airbyte-integrations/connectors/source-mailchimp/setup.py
  docs/integrations/sources/mailchimp.md
Labels: area/documentation, area/connectors, connectors/source/mailchimp, poetry-migration

#35088 ✨ source-klaviyo: migrate to poetry
  airbyte-integrations/connectors/source-klaviyo/README.md
  airbyte-integrations/connectors/source-klaviyo/metadata.yaml
  airbyte-integrations/connectors/source-klaviyo/poetry.lock
  airbyte-integrations/connectors/source-klaviyo/pyproject.toml
  airbyte-integrations/connectors/source-klaviyo/setup.py
  docs/integrations/sources/klaviyo.md
Labels: area/documentation, area/connectors, connectors/source/klaviyo, poetry-migration

#35083 ✨ source-zendesk-support: migrate to poetry
  airbyte-integrations/connectors/source-zendesk-support/README.md
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-support/poetry.lock
  airbyte-integrations/connectors/source-zendesk-support/pyproject.toml
  airbyte-integrations/connectors/source-zendesk-support/setup.py
  docs/integrations/sources/zendesk-support.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-support, poetry-migration

#35078 ✨ source-marketo: migrate to poetry
  airbyte-integrations/connectors/source-marketo/README.md
  airbyte-integrations/connectors/source-marketo/metadata.yaml
  airbyte-integrations/connectors/source-marketo/poetry.lock
  airbyte-integrations/connectors/source-marketo/pyproject.toml
  airbyte-integrations/connectors/source-marketo/setup.py
  docs/integrations/sources/marketo.md
Labels: area/documentation, area/connectors, connectors/source/marketo, poetry-migration

#35075 ✨ source-paypal-transaction: migrate to poetry
  airbyte-integrations/connectors/source-paypal-transaction/README.md
  airbyte-integrations/connectors/source-paypal-transaction/metadata.yaml
  airbyte-integrations/connectors/source-paypal-transaction/poetry.lock
  airbyte-integrations/connectors/source-paypal-transaction/pyproject.toml
  airbyte-integrations/connectors/source-paypal-transaction/setup.py
  docs/integrations/sources/paypal-transaction.md
Labels: area/documentation, area/connectors, connectors/source/paypal-transaction, poetry-migration

#35073 ✨ source-google-analytics-data-api: migrate to poetry
  airbyte-integrations/connectors/source-google-analytics-data-api/README.md
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/poetry.lock
  airbyte-integrations/connectors/source-google-analytics-data-api/pyproject.toml
  airbyte-integrations/connectors/source-google-analytics-data-api/setup.py
  docs/integrations/sources/google-analytics-data-api.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-data-api, poetry-migration

#35111 destination-async-framework: use the value from stats counter for global state conversion
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/state/GlobalAsyncStateManager.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/core/src/test/java/io/airbyte/cdk/integrations/destination_async/state/GlobalAsyncStateManagerTest.java
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/bigquery, connectors/destination/snowflake

#35136 source-google-sheets: fix license in pyproject.toml
  airbyte-integrations/connectors/source-google-sheets/metadata.yaml
  airbyte-integrations/connectors/source-google-sheets/pyproject.toml
  docs/integrations/sources/google-sheets.md
Labels: area/documentation, area/connectors, connectors/source/google-sheets

#35106 ✨ Source Amazon Seller Partner: Add logs for the failed check command
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/source_amazon_seller_partner/source.py
  docs/integrations/sources/amazon-seller-partner.md
Labels: area/documentation, area/connectors, connectors/source/amazon-seller-partner

#35146 ✨ source-monday: migrate to poetry
  airbyte-integrations/connectors/source-monday/README.md
  airbyte-integrations/connectors/source-monday/metadata.yaml
  airbyte-integrations/connectors/source-monday/poetry.lock
  airbyte-integrations/connectors/source-monday/pyproject.toml
  airbyte-integrations/connectors/source-monday/setup.py
  docs/integrations/sources/monday.md
Labels: area/documentation, area/connectors, connectors/source/monday, poetry-migration

#35147 ✨ source-salesforce: migrate to poetry
  airbyte-integrations/connectors/source-salesforce/README.md
  airbyte-integrations/connectors/source-salesforce/metadata.yaml
  airbyte-integrations/connectors/source-salesforce/poetry.lock
  airbyte-integrations/connectors/source-salesforce/pyproject.toml
  airbyte-integrations/connectors/source-salesforce/setup.py
  docs/integrations/sources/salesforce.md
Labels: area/documentation, area/connectors, connectors/source/salesforce, poetry-migration

#35150 ✨ source-iterable: migrate to poetry
  airbyte-integrations/connectors/source-iterable/README.md
  airbyte-integrations/connectors/source-iterable/metadata.yaml
  airbyte-integrations/connectors/source-iterable/poetry.lock
  airbyte-integrations/connectors/source-iterable/pyproject.toml
  airbyte-integrations/connectors/source-iterable/setup.py
  docs/integrations/sources/iterable.md
Labels: area/documentation, area/connectors, connectors/source/iterable, poetry-migration

#35151 ✨ source-mixpanel: migrate to poetry
  airbyte-integrations/connectors/source-mixpanel/README.md
  airbyte-integrations/connectors/source-mixpanel/metadata.yaml
  airbyte-integrations/connectors/source-mixpanel/poetry.lock
  airbyte-integrations/connectors/source-mixpanel/pyproject.toml
  airbyte-integrations/connectors/source-mixpanel/setup.py
  docs/integrations/sources/mixpanel.md
Labels: area/documentation, area/connectors, connectors/source/mixpanel, poetry-migration

#35152 ✨ source-typeform: migrate to poetry
  airbyte-integrations/connectors/source-typeform/README.md
  airbyte-integrations/connectors/source-typeform/metadata.yaml
  airbyte-integrations/connectors/source-typeform/poetry.lock
  airbyte-integrations/connectors/source-typeform/pyproject.toml
  airbyte-integrations/connectors/source-typeform/setup.py
  docs/integrations/sources/typeform.md
Labels: area/documentation, area/connectors, connectors/source/typeform, poetry-migration

#35153 ✨ source-twilio: migrate to poetry
  airbyte-integrations/connectors/source-twilio/README.md
  airbyte-integrations/connectors/source-twilio/metadata.yaml
  airbyte-integrations/connectors/source-twilio/poetry.lock
  airbyte-integrations/connectors/source-twilio/pyproject.toml
  airbyte-integrations/connectors/source-twilio/setup.py
  docs/integrations/sources/twilio.md
Labels: area/documentation, area/connectors, connectors/source/twilio, poetry-migration

#35156 ✨ source-zendesk-talk: migrate to poetry
  airbyte-integrations/connectors/source-zendesk-talk/README.md
  airbyte-integrations/connectors/source-zendesk-talk/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-talk/poetry.lock
  airbyte-integrations/connectors/source-zendesk-talk/pyproject.toml
  airbyte-integrations/connectors/source-zendesk-talk/setup.py
  docs/integrations/sources/zendesk-talk.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-talk, poetry-migration

#35162 ✨ source-amplitude: migrate to poetry
  airbyte-integrations/connectors/source-amplitude/README.md
  airbyte-integrations/connectors/source-amplitude/metadata.yaml
  airbyte-integrations/connectors/source-amplitude/poetry.lock
  airbyte-integrations/connectors/source-amplitude/pyproject.toml
  airbyte-integrations/connectors/source-amplitude/setup.py
  docs/integrations/sources/amplitude.md
Labels: area/documentation, area/connectors, connectors/source/amplitude, poetry-migration

#35160 ✨ source-jira: migrate to poetry
  airbyte-integrations/connectors/source-jira/README.md
  airbyte-integrations/connectors/source-jira/metadata.yaml
  airbyte-integrations/connectors/source-jira/poetry.lock
  airbyte-integrations/connectors/source-jira/pyproject.toml
  airbyte-integrations/connectors/source-jira/setup.py
  docs/integrations/sources/jira.md
Labels: area/documentation, area/connectors, connectors/source/jira, poetry-migration

#35158 ✨ source-google-ads: migrate to poetry
  airbyte-integrations/connectors/source-google-ads/README.md
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/poetry.lock
  airbyte-integrations/connectors/source-google-ads/pyproject.toml
  airbyte-integrations/connectors/source-google-ads/setup.py
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, connectors/source/google-ads, poetry-migration

#35131 🐛 Source Slack: Join to the channels while `read` instead of `discovery`
  airbyte-integrations/connectors/source-slack/README.md
  airbyte-integrations/connectors/source-slack/acceptance-test-config.yml
  airbyte-integrations/connectors/source-slack/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-slack/metadata.yaml
  airbyte-integrations/connectors/source-slack/source_slack/schemas/channel_messages.json
  airbyte-integrations/connectors/source-slack/source_slack/schemas/threads.json
  airbyte-integrations/connectors/source-slack/source_slack/schemas/users.json
  airbyte-integrations/connectors/source-slack/source_slack/source.py
  airbyte-integrations/connectors/source-slack/source_slack/utils.py
  airbyte-integrations/connectors/source-slack/unit_tests/conftest.py
  airbyte-integrations/connectors/source-slack/unit_tests/test_source.py
  airbyte-integrations/connectors/source-slack/unit_tests/test_streams.py
  docs/integrations/sources/slack.md
Labels: area/documentation, area/connectors, connectors/source/slack, team/connectors-python

#35165 ✨ source-hubspot: migrate to poetry
  airbyte-integrations/connectors/source-hubspot/README.md
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/poetry.lock
  airbyte-integrations/connectors/source-hubspot/pyproject.toml
  airbyte-integrations/connectors/source-hubspot/setup.py
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot, poetry-migration

#35159 ✨ source-pinterest: migrate to poetry
  airbyte-integrations/connectors/source-pinterest/README.md
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  airbyte-integrations/connectors/source-pinterest/poetry.lock
  airbyte-integrations/connectors/source-pinterest/pyproject.toml
  airbyte-integrations/connectors/source-pinterest/setup.py
  docs/integrations/sources/pinterest.md
Labels: area/documentation, area/connectors, connectors/source/pinterest, poetry-migration

#35145 ✨ source-sentry: migrate to poetry
  airbyte-integrations/connectors/source-sentry/README.md
  airbyte-integrations/connectors/source-sentry/metadata.yaml
  airbyte-integrations/connectors/source-sentry/poetry.lock
  airbyte-integrations/connectors/source-sentry/pyproject.toml
  airbyte-integrations/connectors/source-sentry/setup.py
  docs/integrations/sources/sentry.md
Labels: area/documentation, area/connectors, connectors/source/sentry, poetry-migration

#35169 ✨ source-chargebee: migrate to poetry
  airbyte-integrations/connectors/source-chargebee/README.md
  airbyte-integrations/connectors/source-chargebee/metadata.yaml
  airbyte-integrations/connectors/source-chargebee/poetry.lock
  airbyte-integrations/connectors/source-chargebee/pyproject.toml
  airbyte-integrations/connectors/source-chargebee/setup.py
  docs/integrations/sources/chargebee.md
Labels: area/documentation, area/connectors, connectors/source/chargebee, poetry-migration

#35170 source-snapchat-marketing: adopt our base image
  airbyte-integrations/connectors/source-snapchat-marketing/.dockerignore
  airbyte-integrations/connectors/source-snapchat-marketing/Dockerfile
  airbyte-integrations/connectors/source-snapchat-marketing/metadata.yaml
Labels: area/connectors, connectors/source/snapchat-marketing

#35171 ✨ source-snapchat-marketing: migrate to poetry
  airbyte-integrations/connectors/source-snapchat-marketing/README.md
  airbyte-integrations/connectors/source-snapchat-marketing/metadata.yaml
  airbyte-integrations/connectors/source-snapchat-marketing/poetry.lock
  airbyte-integrations/connectors/source-snapchat-marketing/pyproject.toml
  airbyte-integrations/connectors/source-snapchat-marketing/setup.py
  docs/integrations/sources/snapchat-marketing.md
Labels: area/documentation, area/connectors, connectors/source/snapchat-marketing, poetry-migration

#35172 source-faker: adopt our base image
  airbyte-integrations/connectors/source-faker/Dockerfile
  airbyte-integrations/connectors/source-faker/README.md
  airbyte-integrations/connectors/source-faker/metadata.yaml
  docs/integrations/sources/faker.md
Labels: area/documentation, area/connectors, connectors/source/faker

#35174 ✨ source-faker: migrate to poetry
  airbyte-integrations/connectors/source-faker/README.md
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/poetry.lock
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/setup.py
  docs/integrations/sources/faker.md
Labels: area/documentation, area/connectors, connectors/source/faker, poetry-migration

#35180 ✨ source-amazon-ads: migrate to poetry
  airbyte-integrations/connectors/source-amazon-ads/README.md
  airbyte-integrations/connectors/source-amazon-ads/metadata.yaml
  airbyte-integrations/connectors/source-amazon-ads/poetry.lock
  airbyte-integrations/connectors/source-amazon-ads/pyproject.toml
  airbyte-integrations/connectors/source-amazon-ads/setup.py
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, area/connectors, connectors/source/amazon-ads, poetry-migration

#35179 ✨ source-bing-ads: migrate to poetry
  airbyte-integrations/connectors/source-bing-ads/README.md
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/poetry.lock
  airbyte-integrations/connectors/source-bing-ads/pyproject.toml
  airbyte-integrations/connectors/source-bing-ads/setup.py
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors, connectors/source/bing-ads, poetry-migration

#35177 ✨ source-instagram: migrate to poetry
  airbyte-integrations/connectors/source-instagram/README.md
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  airbyte-integrations/connectors/source-instagram/poetry.lock
  airbyte-integrations/connectors/source-instagram/pyproject.toml
  airbyte-integrations/connectors/source-instagram/setup.py
  docs/integrations/sources/instagram.md
Labels: area/documentation, area/connectors, connectors/source/instagram, poetry-migration

#35178 ✨ source-facebook-marketing: migrate to poetry
  airbyte-integrations/connectors/source-facebook-marketing/README.md
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/poetry.lock
  airbyte-integrations/connectors/source-facebook-marketing/pyproject.toml
  airbyte-integrations/connectors/source-facebook-marketing/setup.py
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing, poetry-migration

#35144 destination-async-framework: make emission of state from FlushWorkers synchronized
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/FlushWorkers.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/state/GlobalAsyncStateManager.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/java/io/airbyte/cdk/integrations/destination_async/state/PartialStateWithDestinationStats.java
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-integrations/connectors/destination-bigquery/build.gradle
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/bigquery, connectors/destination/snowflake

#34580 🐛 source-mysql Support special chars in dbname
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/java/io/airbyte/cdk/integrations/debezium/internals/DebeziumPropertiesManager.java
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/java/io/airbyte/cdk/integrations/debezium/CdcSourceTest.java
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/src/main/java/io/airbyte/integrations/source/mysql/cdc/MySqlDebeziumStateUtil.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/CdcMysqlSourceTest.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/CdcMysqlSourceWithSpecialDbNameTest.java
  airbyte-integrations/connectors/source-mysql/src/test/java/io/airbyte/integrations/source/mysql/MysqlDebeziumStateUtilTest.java
  airbyte-integrations/connectors/source-mysql/src/testFixtures/java/io/airbyte/integrations/source/mysql/MySQLContainerFactory.java
  airbyte-integrations/connectors/source-mysql/src/testFixtures/java/io/airbyte/integrations/source/mysql/MySQLTestDatabase.java
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, CDK, connectors/source/mysql

#35182 ✨ source-recharge: migrate to poetry
  airbyte-integrations/connectors/source-recharge/README.md
  airbyte-integrations/connectors/source-recharge/main.py
  airbyte-integrations/connectors/source-recharge/metadata.yaml
  airbyte-integrations/connectors/source-recharge/poetry.lock
  airbyte-integrations/connectors/source-recharge/pyproject.toml
  airbyte-integrations/connectors/source-recharge/setup.py
  airbyte-integrations/connectors/source-recharge/source_recharge/run.py
  docs/integrations/sources/recharge.md
Labels: area/documentation, area/connectors, connectors/source/recharge, poetry-migration

#35161 ✨ source-tiktok-marketing: migrate to poetry
  airbyte-integrations/connectors/source-tiktok-marketing/README.md
  airbyte-integrations/connectors/source-tiktok-marketing/metadata.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/poetry.lock
  airbyte-integrations/connectors/source-tiktok-marketing/pyproject.toml
  airbyte-integrations/connectors/source-tiktok-marketing/setup.py
  docs/integrations/sources/tiktok-marketing.md
Labels: area/documentation, area/connectors, connectors/source/tiktok-marketing, poetry-migration

#35194 Destination snowflake: reorder auth spec options
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/resources/spec.json
  docs/integrations/destinations/snowflake.md
Labels: area/documentation, area/connectors, connectors/destination/snowflake

#35185 ✨ source-zendesk-chat: migrate to poetry
  airbyte-integrations/connectors/source-zendesk-chat/README.md
  airbyte-integrations/connectors/source-zendesk-chat/build_customization.py
  airbyte-integrations/connectors/source-zendesk-chat/main.py
  airbyte-integrations/connectors/source-zendesk-chat/metadata.yaml
  airbyte-integrations/connectors/source-zendesk-chat/poetry.lock
  airbyte-integrations/connectors/source-zendesk-chat/pyproject.toml
  airbyte-integrations/connectors/source-zendesk-chat/setup.py
  airbyte-integrations/connectors/source-zendesk-chat/source_zendesk_chat/run.py
  docs/integrations/sources/zendesk-chat.md
Labels: area/documentation, area/connectors, connectors/source/zendesk-chat, poetry-migration

#35167 ✨ source-gitlab: migrate to poetry
  airbyte-integrations/connectors/source-gitlab/README.md
  airbyte-integrations/connectors/source-gitlab/metadata.yaml
  airbyte-integrations/connectors/source-gitlab/poetry.lock
  airbyte-integrations/connectors/source-gitlab/pyproject.toml
  airbyte-integrations/connectors/source-gitlab/setup.py
  docs/integrations/sources/gitlab.md
Labels: area/documentation, area/connectors, connectors/source/gitlab, poetry-migration

#35149 ✨ source-airtable: migrate to poetry
  airbyte-integrations/connectors/source-airtable/README.md
  airbyte-integrations/connectors/source-airtable/metadata.yaml
  airbyte-integrations/connectors/source-airtable/poetry.lock
  airbyte-integrations/connectors/source-airtable/pyproject.toml
  airbyte-integrations/connectors/source-airtable/setup.py
  docs/integrations/sources/airtable.md
Labels: area/documentation, area/connectors, connectors/source/airtable, poetry-migration
