Repository airbytehq/airbyte, pull requests merged in 2025-06, with the labels that each got.

#59750 feat(source-bing-ads): migrate ad_performance_reports and campaigns lo low_code
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/poetry.lock
  airbyte-integrations/connectors/source-bing-ads/pyproject.toml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/components.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/manifest.yaml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/report_streams.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/reports/__init__.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/reports/ad_performance_report.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/reports/bing_ads_reporting_service_performance_stream.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/reports/bing_ads_reporting_service_stream.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/reports/hourly_report_transformer_mixin.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/source.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/base_test.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/protocol_helpers.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/request_builder.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/test_hourly_reports.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/test_report_stream.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/http/response/accounts_search_for_report.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/http/response/generate_report.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/http/response/generate_report_poll.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/ad_performance_report_hourly_incremental_with_records_further_cursor.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/ad_performance_report_hourly_with_records_further_config_start_date.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/state/hourly_reports_state_after_migration.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/state/hourly_reports_state_after_migration_with_cursor_further_config_start_date.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/state/hourly_reports_state_legacy.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_components.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_reports.py
  docs/integrations/sources/bing-ads.md
Labels: connectors/source/bing-ads

#61014 remove local in mysql cdk version
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  docs/integrations/sources/mysql.md
Labels: connectors/source/mysql, dependencies-change

#61321 Destination bigquery: no need to drop namespace anymore
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/check/BigqueryCheckCleaner.kt
  docs/integrations/destinations/bigquery.md
Labels: connectors/destination/bigquery

#51664 🐙 source-google-ads: run up-to-date pipeline [2025-05-31]
  airbyte-integrations/connectors/source-google-ads/metadata.yaml
  airbyte-integrations/connectors/source-google-ads/poetry.lock
  airbyte-integrations/connectors/source-google-ads/pyproject.toml
  docs/integrations/sources/google-ads.md
Labels: area/documentation, area/connectors, connectors/source/google-ads, auto-merge, up-to-date

#59015 🐙 source-shopify: run up-to-date pipeline [2025-05-17]
  airbyte-integrations/connectors/source-shopify/metadata.yaml
  airbyte-integrations/connectors/source-shopify/poetry.lock
  airbyte-integrations/connectors/source-shopify/pyproject.toml
  docs/integrations/sources/shopify.md
Labels: connectors/source/shopify, auto-merge, up-to-date

#61320 Add error handling and bump CDK version
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/cdc/MssqlDebeziumStateUtil.java
  airbyte-integrations/connectors/source-mssql/src/main/kotlin/io/airbyte/integrations/source/mssql/MSSqlSourceExceptionHandler.kt
  docs/integrations/sources/mssql.md
Labels: connectors/source/mssql, dependencies-change

#61347 feat: add '/build-connector-images' command and related workflows for pre-release docker image builds
  .github/pr-welcome-community.md
  .github/pr-welcome-internal.md
  .github/workflows/build-connector-images-command.yml
  .github/workflows/connector-image-build.yml
  .github/workflows/slash-commands.yml
  docs/platform/connector-development/local-connector-development.md
  docusaurus/platform_versioned_docs/version-1.6/connector-development/local-connector-development.md
  poe-tasks/gradle-connector-tasks.toml
  poe-tasks/manifest-only-connector-tasks.toml
  poe-tasks/poetry-connector-tasks.toml
  poe_tasks.toml
Labels: connectors/source/klaviyo

#61353 Update dolibarr.md
  docs/integrations/sources/dolibarr.md
Labels: community

#61351 fix: source-amazon-seller-partner patch vulnerabilities
  airbyte-integrations/connectors/source-amazon-seller-partner/metadata.yaml
  airbyte-integrations/connectors/source-amazon-seller-partner/poetry.lock
  airbyte-integrations/connectors/source-amazon-seller-partner/pyproject.toml
  docs/integrations/sources/amazon-seller-partner.md
Labels: connectors/source/amazon-seller-partner

#61374 chore: move elastisearch to new gradle flow.
  airbyte-integrations/connectors/destination-elasticsearch-strict-encrypt/build.gradle
  airbyte-integrations/connectors/destination-elasticsearch-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/destination-elasticsearch/build.gradle
  airbyte-integrations/connectors/destination-elasticsearch/metadata.yaml
Labels: connectors/destination/elasticsearch, connectors/destination/elasticsearch-strict-encryp

#61380 feat(source-google-search-console) - promote 1.6.0-rc.1 to main version
  airbyte-integrations/connectors/source-google-search-console/metadata.yaml
  airbyte-integrations/connectors/source-google-search-console/pyproject.toml
  docs/integrations/sources/google-search-console.md
Labels: connectors/source/google-search-console

#61354 Bmoric/abstraction
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/client/AirbyteClient.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/DatabaseHandler.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/DatabaseInitialStatusGatherer.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/DirectLoadSqlGenerator.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/DirectLoadTableOperations.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/DirectLoadTableWriter.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/ClickhouseBeanFactory.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/ClickhouseDatabaseHandler.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/ClickhouseNameGenerators.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/client/ClickhouseAirbyteClient.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/direct/ClickhouseDirectLoadDatabaseInitialStatusGatherer.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/direct/ClickhouseDirectLoadNativeTableOperations.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/direct/ClickhouseDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/direct/ClickhouseDirectLoadSqlTableOperations.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/direct/ClickhouseDirectLoader.kt
Labels: connectors/destination/clickhouse-v2

#61369 [source-mongodb-v2] Do not pin the version to 1.5.17
  airbyte-integrations/connectors/source-mongodb-v2/metadata.yaml
  docs/integrations/sources/mongodb-v2.md
Labels: connectors/source/mongodb-v2

#58608 🎉 New Destination: Ragie
  airbyte-integrations/connectors/destination-ragie/README.md
  airbyte-integrations/connectors/destination-ragie/acceptance-test-config.yml
  airbyte-integrations/connectors/destination-ragie/destination_ragie/__init__.py
  airbyte-integrations/connectors/destination-ragie/destination_ragie/client.py
  airbyte-integrations/connectors/destination-ragie/destination_ragie/config.py
  airbyte-integrations/connectors/destination-ragie/destination_ragie/destination.py
  airbyte-integrations/connectors/destination-ragie/destination_ragie/run.py
  airbyte-integrations/connectors/destination-ragie/destination_ragie/writer.py
  airbyte-integrations/connectors/destination-ragie/icon.svg
  airbyte-integrations/connectors/destination-ragie/integration_tests/test_integration.py
  airbyte-integrations/connectors/destination-ragie/main.py
  airbyte-integrations/connectors/destination-ragie/metadata.yaml
  airbyte-integrations/connectors/destination-ragie/poetry.lock
  airbyte-integrations/connectors/destination-ragie/pyproject.toml
  airbyte-integrations/connectors/destination-ragie/unit_tests/__init__.py
  airbyte-integrations/connectors/destination-ragie/unit_tests/test_ragie_client.py
  airbyte-integrations/connectors/destination-ragie/unit_tests/test_ragie_config.py
  airbyte-integrations/connectors/destination-ragie/unit_tests/test_ragie_destination.py
  airbyte-integrations/connectors/destination-ragie/unit_tests/test_ragie_writer.py
  docs/integrations/destinations/ragie.md
Labels: community, connectors/destination/ragie

#61393 fix: source-airtable, pin back to 4.5.1
  airbyte-integrations/connectors/source-airtable/metadata.yaml
  docs/integrations/sources/airtable.md
Labels: connectors/source/airtable

#58586 [destination-elasticsearch] Adding path prefix to connector's host
  airbyte-integrations/connectors/destination-elasticsearch-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/destination-elasticsearch-strict-encrypt/src/test/resources/expected_spec.json
  airbyte-integrations/connectors/destination-elasticsearch/metadata.yaml
  airbyte-integrations/connectors/destination-elasticsearch/src/main/java/io/airbyte/integrations/destination/elasticsearch/ConnectorConfiguration.java
  airbyte-integrations/connectors/destination-elasticsearch/src/main/java/io/airbyte/integrations/destination/elasticsearch/ElasticsearchConnection.java
  airbyte-integrations/connectors/destination-elasticsearch/src/main/resources/spec.json
  docs/integrations/destinations/elasticsearch.md
Labels: community, connectors/destination/elasticsearch, connectors/destination/elasticsearch-strict-encryp

#61388 ✨ Source Dolibarr: Add incremental sync for all parent streams in the connector improving the performance
  airbyte-integrations/connectors/source-dolibarr/manifest.yaml
  airbyte-integrations/connectors/source-dolibarr/metadata.yaml
  docs/integrations/sources/dolibarr-migrations.md
  docs/integrations/sources/dolibarr.md
Labels: community, connectors/source/dolibarr

#61399 ci: merge all summary status checks into a single check result, add logic to explicitly fail if anything fails
  .github/workflows/connector-ci-checks.yml
Labels: connectors/source/airtable

#53033 🐙 source-typeform: run up-to-date pipeline [2025-05-31]
  airbyte-integrations/connectors/source-typeform/metadata.yaml
  docs/integrations/sources/typeform.md
Labels: area/documentation, area/connectors, connectors/source/typeform, auto-merge, up-to-date

#61332 feat(source-google-search-console): Migrate search_by_keyword streams to low-code
  airbyte-integrations/connectors/source-google-search-console/metadata.yaml
  airbyte-integrations/connectors/source-google-search-console/pyproject.toml
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/manifest.yaml
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/schemas/search_analytics_keyword_page_report.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/schemas/search_analytics_keyword_site_report_by_page.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/schemas/search_analytics_keyword_site_report_by_site.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/source.py
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/spec.json
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/streams.py
  airbyte-integrations/connectors/source-google-search-console/unit_tests/unit_test.py
  docs/integrations/sources/google-search-console.md
Labels: connectors/source/google-search-console

#61413 Save work.
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/write/db/DbConstants.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/client/ClickhouseAirbyteClient.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/config/ClickhouseBeanFactory.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/ClickHouseWriter.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/ClickhouseDirectLoadDatabaseInitialStatusGatherer.kt
Labels: connectors/destination/clickhouse-v2

#61405 fix(source-airtable) - Fix manifest indentation and config migration conditions
  airbyte-integrations/connectors/source-airtable/manifest.yaml
  airbyte-integrations/connectors/source-airtable/metadata.yaml
  docs/integrations/sources/airtable.md
Labels: connectors/source/airtable

#60342 feat(source-google-analytics): migrate to low-code
  airbyte-integrations/connectors/source-google-analytics-data-api/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/poetry.lock
  airbyte-integrations/connectors/source-google-analytics-data-api/pyproject.toml
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/__init__.py
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/api_quota.py
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/authenticator.py
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/components.py
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/config_migrations.py
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/defaults/custom_reports_schema.json
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/defaults/default_reports.json
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/google_analytics_data_api_base_error_mapping.py
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/google_analytics_data_api_metadata_error_mapping.py
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/manifest.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/run.py
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/source.py
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/spec.json
  airbyte-integrations/connectors/source-google-analytics-data-api/source_google_analytics_data_api/utils.py
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/__init__.py
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/conftest.py
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_api_quota.py
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_authenticator.py
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_migration.py
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_migration_cohortspec/test_config.json
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_migration_cohortspec/test_config_migration_cohortspec.py
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_migration_cohortspec/test_new_config.json
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_migrations/test_config.json
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_migrations/test_config_migrations.py
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_source.py
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/test_utils.py
  airbyte-integrations/connectors/source-google-analytics-data-api/unit_tests/utils.py
  docs/integrations/sources/google-analytics-data-api.md
Labels: connectors/source/stripe, connectors/source/google-analytics-data-api

#58641 bulk load cdk: direct-load orchestration
  airbyte-cdk/bulk/core/base/src/main/kotlin/io/airbyte/cdk/util/CollectionUtils.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/mock/MockDestinationBackend.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/BasicFunctionalityIntegrationTest.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/DestinationNames.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/Sql.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/AlterTableReport.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/DirectLoadInitialStatus.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/DirectLoadSqlGenerator.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/DirectLoadTableExecutionConfig.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/DirectLoadTableOperations.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/DirectLoadTableStreamLoader.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/DirectLoadTableWriter.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/migrations/DirectLoadTableTempTableNameMigration.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/legacy_typing_deduping/AlterTableReport.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/legacy_typing_deduping/TypingDedupingSqlGenerator.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/testFixtures/kotlin/io/airbyte/cdk/load/data/icerberg/parquet/IcebergWriteTest.kt
  airbyte-integrations/connectors/destination-mssql/src/test-integration/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLWriterTest.kt
Labels: connectors/destination/bigquery, connectors/destination/mssql

#61384 Bmoric/chv2 integration tests
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/BasicFunctionalityIntegrationTest.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/build.gradle
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/check/ClickhouseChecker.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/spec/ClickhouseConfiguration.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/spec/ClickhouseSpecification.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/direct/ClickhouseDirectLoader.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse_v2/ClickhouseConfigUpdater.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse_v2/ClickhouseContainerHelper.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse_v2/Utils.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse_v2/check/ClickhouseCheckTest.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse_v2/spec/ClickhouseSpecTest.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/direct/ClickhouseDirectLoadWriter.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test-integration/resources/expected-spec-oss.json
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test-integration/resources/non_valid_connection_host.json
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test-integration/resources/non_valid_credentials_connection.json
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test-integration/resources/valid_connection.json
Labels: connectors/destination/bigquery, connectors/destination/pubsub, connectors/destination/clickhouse-v2

#61408 feat(source-google-search-console): Migrate custom reports streams to dynamic low-code streams
  airbyte-integrations/connectors/source-google-search-console/metadata.yaml
  airbyte-integrations/connectors/source-google-search-console/pyproject.toml
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/components.py
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/manifest.yaml
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/source.py
  airbyte-integrations/connectors/source-google-search-console/source_google_search_console/streams.py
  airbyte-integrations/connectors/source-google-search-console/unit_tests/__init__.py
  airbyte-integrations/connectors/source-google-search-console/unit_tests/conftest.py
  airbyte-integrations/connectors/source-google-search-console/unit_tests/test_components.py
  airbyte-integrations/connectors/source-google-search-console/unit_tests/unit_test.py
  docs/integrations/sources/google-search-console.md
Labels: connectors/source/google-search-console

#61479 Destination bigquery: revert to 2.10.2
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
Labels: connectors/destination/bigquery

#60836 Feat(Source-Google-Sheets): Added additional sanitization flags when using Convert Column Names to SQL-Compliant Format (names_conversion)
  airbyte-integrations/connectors/source-google-sheets/metadata.yaml
  airbyte-integrations/connectors/source-google-sheets/pyproject.toml
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/components/extractors.py
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/spec.yaml
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/utils.py
  airbyte-integrations/connectors/source-google-sheets/unit_tests/test_components.py
  docs/integrations/sources/google-sheets.md
Labels: connectors/source/google-sheets

#51743 🐙 destination-snowflake-cortex: run up-to-date pipeline [2025-05-17]
  airbyte-integrations/connectors/destination-snowflake-cortex/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake-cortex/poetry.lock
  airbyte-integrations/connectors/destination-snowflake-cortex/pyproject.toml
  docs/integrations/destinations/snowflake-cortex.md
Labels: area/documentation, area/connectors, connectors/destination/snowflake-cortex, auto-merge, up-to-date

#61480 Destination bigquery: fix build; really roll back
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/legacy_typing_deduping/AlterTableReport.kt
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/typing_deduping/BigqueryDatabaseInitialStatusGatherer.kt
Labels: connectors/destination/bigquery

#61325 feat(source-bing-ads): migrate account_performance_report_daily to low-code
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/poetry.lock
  airbyte-integrations/connectors/source-bing-ads/pyproject.toml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/components.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/manifest.yaml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/source.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/test_hourly_reports.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/account_performance_report_hourly_incremental_with_records_further_cursor.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/account_performance_report_hourly_with_records_further_config_start_date.csv
  docs/integrations/sources/bing-ads.md
Labels: connectors/source/bing-ads

#61442 Rbroughan/productionalize check
  airbyte-integrations/connectors/destination-clickhouse-v2/build.gradle
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/check/ClickhouseChecker.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test/kotlin/io/airbyte/integrations/destination/clickhouse_v2/check/ClickhouseCheckerTest.kt
Labels: connectors/destination/clickhouse-v2

#54931 🐙 source-github: run up-to-date pipeline [2025-06-07]
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/poetry.lock
  airbyte-integrations/connectors/source-github/pyproject.toml
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors, connectors/source/github, auto-merge, up-to-date

#61485 Rbroughan/rebase master ch
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/client/AirbyteClient.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/DatabaseInitialStatusGatherer.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/write/db/DbConstants.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/.gitignore
  airbyte-integrations/connectors/destination-clickhouse-v2/README.md
  airbyte-integrations/connectors/destination-clickhouse-v2/bootstrap.md
  airbyte-integrations/connectors/destination-clickhouse-v2/build.gradle
  airbyte-integrations/connectors/destination-clickhouse-v2/icon.svg
  airbyte-integrations/connectors/destination-clickhouse-v2/metadata.yaml
  airbyte-integrations/connectors/destination-clickhouse-v2/poe_tasks.toml
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/ClickhouseV2Destination.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/check/ClickhouseChecker.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/client/ClickhouseAirbyteClient.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/client/ClickhouseSqlGenerator.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/config/ClickhouseBeanFactory.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/config/ClickhouseNameGenerators.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/spec/ClickhouseConfiguration.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/spec/ClickhouseSpecification.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/ClickHouseWriter.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/ClickhouseDirectLoadDatabaseInitialStatusGatherer.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/direct/ClickhouseDirectLoader.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/direct/ClickhouseDirectLoaderFactory.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse_v2/ClickhouseConfigUpdater.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse_v2/ClickhouseContainerHelper.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse_v2/Utils.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse_v2/check/ClickhouseCheckTest.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse_v2/spec/ClickhouseSpecTest.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/direct/ClickhouseDirectLoadWriter.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test-integration/resources/expected-spec-oss.json
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test-integration/resources/non_valid_connection_host.json
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test-integration/resources/non_valid_credentials_connection.json
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test-integration/resources/valid_connection.json
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test/kotlin/io/airbyte/integrations/destination/clickhouse_v2/check/ClickhouseCheckerTest.kt
  docs/integrations/destinations/clickhouse-v2.md
Labels: connectors/destination/bigquery, connectors/destination/pubsub, connectors/destination/clickhouse-v2

#61477 feat: remove action_report_time from spec
  airbyte-integrations/connectors/source-facebook-marketing/integration_tests/spec.json
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/pyproject.toml
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/config_migrations.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/run.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/source.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/spec.py
  airbyte-integrations/connectors/source-facebook-marketing/source_facebook_marketing/streams/base_insight_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/integration/test_ads_insights_action_product_id.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_async_job.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_base_insight_streams.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_config_migrations.py
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_migrations/remove_action_report_time/test_new_config.json
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_migrations/remove_action_report_time/test_old_config.json
  airbyte-integrations/connectors/source-facebook-marketing/unit_tests/test_streams.py
  docs/integrations/sources/facebook-marketing.md
Labels: connectors/source/facebook-marketing

#61432 Destination bigquery: Write compressed CSV files
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/bulk_loader/BigQueryBulkLoaderConfiguration.kt
  docs/integrations/destinations/bigquery.md
Labels: connectors/destination/bigquery

#61494 Make various direct load interface methods that do IO suspend.
  airbyte-cdk/bulk/core/load/src/integrationTest/kotlin/io/airbyte/cdk/load/mock_integration_test/MockDestinationDirectLoader.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/write/DirectLoader.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/DirectLoadTableOperations.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/DirectLoadTableStreamLoader.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/standard_insert/BigqueryBatchStandardInsertLoader.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/client/ClickhouseAirbyteClient.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/direct/ClickhouseDirectLoadDatabaseInitialStatusGatherer.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/direct/ClickhouseDirectLoader.kt
Labels: connectors/destination/bigquery, connectors/destination/mssql, connectors/destination/dev-null, connectors/destination/s3-data-lake, connectors/destination/clickhouse-v2

#61486 [BigQuery] Refactor common code between BigQueryCSVRowGenerator and BigQueryRecordFormatter
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/formatter/BigQueryRecordFormatter.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/bulk_loader/BigQueryCSVRowGenerator.kt
Labels: connectors/destination/bigquery

#61510 fix: set clickhouse spec default protocol
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/spec/ClickhouseSpecification.kt
Labels: connectors/destination/clickhouse-v2

#61509 chore: enable acceptance test rebase master
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/client/ClickhouseSqlGenerator.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/direct/ClickhouseDirectLoader.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse_v2/ClickhouseConfigUpdater.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse_v2/ClickhouseContainerHelper.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/direct/ClickhouseDirectLoadWriter.kt
Labels: connectors/destination/clickhouse-v2

#61489 Feat:(Source-Google-Sheets) - Add Stream Name Override Options
  airbyte-integrations/connectors/source-google-sheets/metadata.yaml
  airbyte-integrations/connectors/source-google-sheets/pyproject.toml
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/components/extractors.py
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/manifest.yaml
  airbyte-integrations/connectors/source-google-sheets/source_google_sheets/spec.yaml
  airbyte-integrations/connectors/source-google-sheets/unit_tests/integration/test_source.py
  docs/integrations/sources/google-sheets.md
Labels: connectors/source/google-sheets

#61504 feat: improve uuid generation performance
  airbyte-cdk/bulk/core/load/build.gradle
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/DestinationRecordToAirbyteValueWithMeta.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/message/DestinationMessage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/message/DestinationMessageFactory.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/message/DestinationRecordRaw.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/util/UUIDGenerator.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/data/DestinationRecordAirbyteValueToAirbyteValueWithMetaTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/data/EnrichedDestinationRecordAirbyteValueTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/message/DestinationMessageTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/message/DestinationRecordRawTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/message/PipelineEventBookkeepingRouterTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/task/internal/InputConsumerTaskUTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/task/internal/LoadPipelineStepTaskUTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/test/util/StubDestinationMessageFactory.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/util/UUIDGeneratorTest.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/file/object_storage/ObjectStorageFormattingWriter.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/pipline/object_storage/file/FileChunkStep.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/pipline/object_storage/file/UploadIdGenerator.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/test/kotlin/io/airbyte/cdk/load/pipeline/object_storage/file/FileChunkTaskTest.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/test/kotlin/io/airbyte/cdk/load/pipeline/object_storage/file/ForwardFileRecordTaskTest.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/test/kotlin/io/airbyte/cdk/load/pipeline/object_storage/file/RouteEventTaskTest.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/test/kotlin/io/airbyte/cdk/load/write/object_storage/ObjectLoaderPartFormatterTest.kt
Labels: dependencies-change

#61534 Destinations: fix builds
  airbyte-integrations/connectors/destination-dev-null/src/main/kotlin/io/airbyte/integrations/destination/dev_null/DevNullDirectLoader.kt
  airbyte-integrations/connectors/destination-dev-null/src/test-integration-legacy/kotlin/io/airbyte/integrations/destination/dev_null/CloudDevNullDestinationAcceptanceTest.kt
  airbyte-integrations/connectors/destination-dev-null/src/test-integration-legacy/kotlin/io/airbyte/integrations/destination/dev_null/TestingSilentDestinationAcceptanceTest.kt
  airbyte-integrations/connectors/destination-mssql/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLChecker.kt
  airbyte-integrations/connectors/destination-mssql/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLDirectLoader.kt
  airbyte-integrations/connectors/destination-mssql/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLQueryBuilder.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeDirectLoader.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeStreamLoaderTest.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test/kotlin/io/airbyte/integrations/destination/s3_data_lake/io/S3DataLakeUtilTest.kt
  airbyte-integrations/connectors/destination-s3/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_v2/S3V2WriteTest.kt
Labels: connectors/destination/s3, connectors/destination/mssql, connectors/destination/dev-null, connectors/destination/s3-data-lake

#61519 Re-enable tests
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/direct/ClickhouseDirectLoader.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/direct/ClickhouseDirectLoadWriter.kt
Labels: connectors/destination/clickhouse-v2

#61429 Destination bigquery direct-load: better temp table handling; delete temp table migration
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/IntegrationTest.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/DatabaseInitialStatusGatherer.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/DestinationNames.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/DirectLoadTableStreamLoader.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/DirectLoadTableWriter.kt
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/direct_load_table/migrations/DirectLoadTableTempTableNameMigration.kt
  airbyte-cdk/bulk/toolkits/load-db/src/test/kotlin/io/airbyte/cdk/load/toolkits/load/db/orchestration/DefaultTempTableNameGeneratorTest.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/BigqueryBeansFactory.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/direct_load_tables/BigqueryDirectLoadDatabaseInitialStatusGatherer.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/direct_load_tables/BigqueryDirectLoadNativeTableOperations.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/typing_deduping/direct_load_tables/BigqueryDirectLoadTableExistenceChecker.kt
  airbyte-integrations/connectors/destination-bigquery/src/test/kotlin/io/airbyte/integrations/destination/bigquery/typing_deduping/direct_load_tables/BigqueryDirectLoadNativeTableOperationsTest.kt
Labels: connectors/destination/bigquery

#61516 [BigQuery] Refactor Value validation and extract common code
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/formatter/BigQueryRecordFormatter.kt
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/bulk_loader/BigQueryCSVRowGenerator.kt
Labels: connectors/destination/bigquery

#61574 fix temp table for CH.
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/config/ClickhouseBeanFactory.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/ClickHouseWriter.kt
  airbyte-integrations/connectors/destination-clickhouse-v2/src/main/kotlin/io/airbyte/integrations/destination/clickhouse_v2/write/direct/ClickhouseDirectLoadDatabaseInitialStatusGatherer.kt
Labels: connectors/destination/clickhouse-v2

#53828 🐙 source-monday: run up-to-date pipeline [2025-05-31]
  airbyte-integrations/connectors/source-monday/metadata.yaml
  airbyte-integrations/connectors/source-monday/pyproject.toml
  airbyte-integrations/connectors/source-monday/source_monday/extractor.py
  docs/integrations/sources/monday.md
Labels: area/documentation, area/connectors, connectors/source/monday, auto-merge, up-to-date

#61373 protobuf
  airbyte-cdk/bulk/core/base/src/main/kotlin/io/airbyte/cdk/output/OutputConsumer.kt
  airbyte-cdk/bulk/core/base/src/testFixtures/kotlin/io/airbyte/cdk/output/BufferingOutputConsumer.kt
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/output/OutputMessageRouter.kt
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/output/sockets/EnhancedOutputConsumer.kt
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/output/sockets/SocketManager.kt
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/output/sockets/SocketOutputConsumer.kt
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/output/sockets/SocketWrapper.kt
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/read/FeedBootstrap.kt
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/read/FeedReader.kt
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/read/ReadOperation.kt
  airbyte-cdk/bulk/core/extract/src/main/kotlin/io/airbyte/cdk/read/RootReader.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/file/ProtobufDataChannelReaderTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/task/internal/StatsEmitterTest.kt
  airbyte-cdk/bulk/toolkits/extract-cdc/src/main/kotlin/io/airbyte/cdk/read/cdc/CdcPartitionReader.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/JdbcPartitionReader.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/JdbcPartitionsCreator.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/read/SelectQuerier.kt
  airbyte-integrations/connectors/source-mysql/metadata.yaml
Labels: connectors/source/mysql

#61564 fix: avoid race condition when marking end of stream in socket mode
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/state/PipelineEventBookkeepingRouter.kt
  airbyte-integrations/connectors/destination-s3/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_v2/S3V2WriteTest.kt
Labels: connectors/destination/s3

#61584 fix: only build and push connectors if versions have changed.
  .github/workflows/publish_connectors.yml
  poe-tasks/build-and-publish-java-connectors-with-tag.sh
Labels: connectors/destination/dev-null

#61587 chore: use dev-null to test new publishing flow.
  airbyte-integrations/connectors/destination-dev-null/metadata.yaml
  docs/integrations/destinations/dev-null.md
Labels: connectors/destination/dev-null

#61588 chore: preemptively bump certified connectors.
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-s3-data-lake/metadata.yaml
  airbyte-integrations/connectors/destination-s3/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/s3-data-lake.md
  docs/integrations/destinations/s3.md
  docs/integrations/destinations/snowflake.md
Labels: connectors/destination/bigquery, connectors/destination/snowflake, connectors/destination/s3, connectors/destination/s3-data-lake

#61581 chore: revert clickhouse build change.
  airbyte-integrations/connectors/destination-clickhouse-strict-encrypt/build.gradle
  airbyte-integrations/connectors/destination-clickhouse-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/destination-clickhouse/build.gradle
  airbyte-integrations/connectors/destination-clickhouse/metadata.yaml
  poe-tasks/build-and-publish-java-connectors-with-tag.sh
Labels: connectors/destination/clickhouse, connectors/destination/clickhouse-strict-encrypt

#61593 Destinations S3, S3 Data Lake: pin back to last known-good version
  airbyte-integrations/connectors/destination-s3-data-lake/metadata.yaml
  airbyte-integrations/connectors/destination-s3/metadata.yaml
Labels: connectors/destination/s3, connectors/destination/s3-data-lake

#59717 fix(source-stripe): updated slicer for invoice_line_items and normalization for events based streams
  airbyte-integrations/connectors/source-stripe/.coveragerc
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/poetry.lock
  airbyte-integrations/connectors/source-stripe/pyproject.toml
  airbyte-integrations/connectors/source-stripe/source_stripe/error_handlers/__init__.py
  airbyte-integrations/connectors/source-stripe/source_stripe/error_handlers/parent_incremental_stripe_sub_stream_error_handler.py
  airbyte-integrations/connectors/source-stripe/source_stripe/error_handlers/stripe_error_handler.py
  airbyte-integrations/connectors/source-stripe/source_stripe/error_mappings/__init__.py
  airbyte-integrations/connectors/source-stripe/source_stripe/error_mappings/parent_incremental_stripe_sub_stream_error_mapping.py
  airbyte-integrations/connectors/source-stripe/source_stripe/manifest.yaml
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
  airbyte-integrations/connectors/source-stripe/source_stripe/utils.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_application_fees_refunds.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_bank_accounts.py
  docs/integrations/sources/stripe.md
Labels: connectors/source/stripe

#61627 🐙 source-buildkite: run up-to-date pipeline [2025-06-15]
  airbyte-integrations/connectors/source-buildkite/metadata.yaml
  docs/integrations/sources/buildkite.md
Labels: auto-merge, up-to-date, connectors/source/buildkite

#61626 🐙 source-apple-search-ads: run up-to-date pipeline [2025-06-15]
  airbyte-integrations/connectors/source-apple-search-ads/metadata.yaml
  docs/integrations/sources/apple-search-ads.md
Labels: connectors/source/apple-search-ads, auto-merge, up-to-date

#61620 🐙 source-repairshopr: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-repairshopr/metadata.yaml
  docs/integrations/sources/repairshopr.md
Labels: auto-merge, up-to-date, connectors/source/repairshopr

#61619 🐙 source-signnow: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-signnow/metadata.yaml
  docs/integrations/sources/signnow.md
Labels: auto-merge, up-to-date, connectors/source/signnow

#61615 🐙 source-tickettailor: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-tickettailor/metadata.yaml
  docs/integrations/sources/tickettailor.md
Labels: auto-merge, up-to-date, connectors/source/tickettailor

#61612 🐙 source-thrive-learning: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-thrive-learning/metadata.yaml
  docs/integrations/sources/thrive-learning.md
Labels: auto-merge, up-to-date, connectors/source/thrive-learning

#61611 🐙 source-revolut-merchant: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-revolut-merchant/metadata.yaml
  docs/integrations/sources/revolut-merchant.md
Labels: auto-merge, up-to-date, connectors/source/revolut-merchant

#61610 🐙 source-tinyemail: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-tinyemail/metadata.yaml
  docs/integrations/sources/tinyemail.md
Labels: auto-merge, up-to-date, connectors/source/tinyemail

#61607 🐙 source-shortio: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-shortio/metadata.yaml
  docs/integrations/sources/shortio.md
Labels: connectors/source/shortio, auto-merge, up-to-date

#61602 🐙 source-notion: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-notion/metadata.yaml
  airbyte-integrations/connectors/source-notion/poetry.lock
  airbyte-integrations/connectors/source-notion/pyproject.toml
  docs/integrations/sources/notion.md
Labels: connectors/source/notion, auto-merge, up-to-date

#61474 🐙 source-woocommerce: run up-to-date pipeline [2025-06-15]
  airbyte-integrations/connectors/source-woocommerce/metadata.yaml
  docs/integrations/sources/woocommerce.md
Labels: connectors/source/woocommerce, auto-merge, up-to-date

#61469 🐙 source-taboola: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-taboola/metadata.yaml
  docs/integrations/sources/taboola.md
Labels: auto-merge, up-to-date, connectors/source/taboola

#61465 🐙 source-tremendous: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-tremendous/metadata.yaml
  docs/integrations/sources/tremendous.md
Labels: auto-merge, up-to-date, connectors/source/tremendous

#61451 🐙 source-buzzsprout: run up-to-date pipeline [2025-06-15]
  airbyte-integrations/connectors/source-buzzsprout/metadata.yaml
  docs/integrations/sources/buzzsprout.md
Labels: auto-merge, up-to-date, connectors/source/buzzsprout

#61447 🐙 source-brevo: run up-to-date pipeline [2025-06-15]
  airbyte-integrations/connectors/source-brevo/metadata.yaml
  docs/integrations/sources/brevo.md
Labels: auto-merge, up-to-date, connectors/source/brevo

#61316 🐙 source-retently: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-retently/metadata.yaml
  docs/integrations/sources/retently.md
Labels: connectors/source/retently, auto-merge, up-to-date

#61313 🐙 source-rocketlane: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-rocketlane/metadata.yaml
  docs/integrations/sources/rocketlane.md
Labels: auto-merge, up-to-date, connectors/source/rocketlane

#61310 🐙 source-teamtailor: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-teamtailor/metadata.yaml
  docs/integrations/sources/teamtailor.md
Labels: connectors/source/teamtailor, auto-merge, up-to-date

#61307 🐙 source-shortcut: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-shortcut/metadata.yaml
  docs/integrations/sources/shortcut.md
Labels: auto-merge, up-to-date, connectors/source/shortcut

#61304 🐙 source-simplesat: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-simplesat/metadata.yaml
  docs/integrations/sources/simplesat.md
Labels: auto-merge, up-to-date, connectors/source/simplesat

#61298 🐙 source-rentcast: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-rentcast/metadata.yaml
  docs/integrations/sources/rentcast.md
Labels: auto-merge, up-to-date, connectors/source/rentcast

#61296 🐙 source-timely: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-timely/metadata.yaml
  docs/integrations/sources/timely.md
Labels: connectors/source/timely, auto-merge, up-to-date

#61294 🐙 source-scryfall: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-scryfall/metadata.yaml
  docs/integrations/sources/scryfall.md
Labels: auto-merge, up-to-date, connectors/source/scryfall

#61293 🐙 source-testrail: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-testrail/metadata.yaml
  docs/integrations/sources/testrail.md
Labels: auto-merge, up-to-date, connectors/source/testrail

#61290 🐙 source-facebook-marketing: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/poetry.lock
  airbyte-integrations/connectors/source-facebook-marketing/pyproject.toml
  docs/integrations/sources/facebook-marketing.md
Labels: connectors/source/facebook-marketing, auto-merge, up-to-date

#61289 🐙 source-freshsales: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-freshsales/metadata.yaml
  docs/integrations/sources/freshsales.md
Labels: connectors/source/freshsales, auto-merge, up-to-date

#61287 🐙 source-concord: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-concord/metadata.yaml
  docs/integrations/sources/concord.md
Labels: auto-merge, up-to-date, connectors/source/concord

#61286 🐙 source-drift: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-drift/metadata.yaml
  docs/integrations/sources/drift.md
Labels: connectors/source/drift, auto-merge, up-to-date

#61285 🐙 source-delighted: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-delighted/metadata.yaml
  docs/integrations/sources/delighted.md
Labels: connectors/source/delighted, auto-merge, up-to-date

#61281 🐙 source-front: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-front/metadata.yaml
  docs/integrations/sources/front.md
Labels: auto-merge, up-to-date, connectors/source/front

#61280 🐙 source-docuseal: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-docuseal/metadata.yaml
  docs/integrations/sources/docuseal.md
Labels: auto-merge, up-to-date, connectors/source/docuseal

#61268 🐙 source-fulcrum: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-fulcrum/metadata.yaml
  docs/integrations/sources/fulcrum.md
Labels: auto-merge, up-to-date, connectors/source/fulcrum

#61265 🐙 source-giphy: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-giphy/metadata.yaml
  docs/integrations/sources/giphy.md
Labels: auto-merge, up-to-date, connectors/source/giphy

#61264 🐙 source-fleetio: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-fleetio/metadata.yaml
  docs/integrations/sources/fleetio.md
Labels: connectors/source/fleetio, auto-merge, up-to-date

#61259 🐙 source-clazar: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-clazar/metadata.yaml
  docs/integrations/sources/clazar.md
Labels: auto-merge, up-to-date, connectors/source/clazar

#61257 🐙 source-free-agent-connector: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-free-agent-connector/metadata.yaml
  docs/integrations/sources/free-agent-connector.md
Labels: auto-merge, up-to-date, connectors/source/free-agent-connector

#61255 🐙 source-getgist: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-getgist/metadata.yaml
  docs/integrations/sources/getgist.md
Labels: auto-merge, up-to-date, connectors/source/getgist

#61252 🐙 source-cin7: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-cin7/metadata.yaml
  docs/integrations/sources/cin7.md
Labels: auto-merge, up-to-date, connectors/source/cin7

#61251 🐙 source-employment-hero: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-employment-hero/metadata.yaml
  docs/integrations/sources/employment-hero.md
Labels: auto-merge, up-to-date, connectors/source/employment-hero

#61250 🐙 source-ebay-fulfillment: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-ebay-fulfillment/metadata.yaml
  docs/integrations/sources/ebay-fulfillment.md
Labels: auto-merge, up-to-date, connectors/source/ebay-fulfillment

#61248 🐙 source-zendesk-chat: run up-to-date pipeline [2025-06-15]
  airbyte-integrations/connectors/source-zendesk-chat/metadata.yaml
  docs/integrations/sources/zendesk-chat.md
Labels: connectors/source/zendesk-chat, auto-merge, up-to-date

#61245 🐙 source-zoho-invoice: run up-to-date pipeline [2025-06-15]
  airbyte-integrations/connectors/source-zoho-invoice/metadata.yaml
  docs/integrations/sources/zoho-invoice.md
Labels: auto-merge, up-to-date, connectors/source/zoho-invoice

#61244 🐙 source-encharge: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-encharge/metadata.yaml
  docs/integrations/sources/encharge.md
Labels: auto-merge, up-to-date, connectors/source/encharge

#61242 🐙 source-vantage: run up-to-date pipeline [2025-06-15]
  airbyte-integrations/connectors/source-vantage/metadata.yaml
  docs/integrations/sources/vantage.md
Labels: connectors/source/vantage, auto-merge, up-to-date

#61241 🐙 source-easypromos: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-easypromos/metadata.yaml
  docs/integrations/sources/easypromos.md
Labels: auto-merge, up-to-date, connectors/source/easypromos

#61227 🐙 source-uppromote: run up-to-date pipeline [2025-06-15]
  airbyte-integrations/connectors/source-uppromote/metadata.yaml
  docs/integrations/sources/uppromote.md
Labels: auto-merge, up-to-date, connectors/source/uppromote

#61221 🐙 source-dwolla: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-dwolla/metadata.yaml
  docs/integrations/sources/dwolla.md
Labels: auto-merge, up-to-date, connectors/source/dwolla

#61217 🐙 source-e-conomic: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-e-conomic/metadata.yaml
  docs/integrations/sources/e-conomic.md
Labels: auto-merge, up-to-date, connectors/source/e-conomic

#61212 🐙 source-workflowmax: run up-to-date pipeline [2025-06-15]
  airbyte-integrations/connectors/source-workflowmax/metadata.yaml
  docs/integrations/sources/workflowmax.md
Labels: auto-merge, up-to-date, connectors/source/workflowmax

#61211 🐙 source-freightview: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-freightview/metadata.yaml
  docs/integrations/sources/freightview.md
Labels: auto-merge, up-to-date, connectors/source/freightview

#61210 🐙 source-zendesk-sunshine: run up-to-date pipeline [2025-06-15]
  airbyte-integrations/connectors/source-zendesk-sunshine/metadata.yaml
  docs/integrations/sources/zendesk-sunshine.md
Labels: connectors/source/zendesk-sunshine, auto-merge, up-to-date

#61209 🐙 source-freshchat: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-freshchat/metadata.yaml
  docs/integrations/sources/freshchat.md
Labels: auto-merge, up-to-date, connectors/source/freshchat

#61205 🐙 source-zoom: run up-to-date pipeline [2025-06-15]
  airbyte-integrations/connectors/source-zoom/metadata.yaml
  docs/integrations/sources/zoom.md
Labels: connectors/source/zoom, auto-merge, up-to-date

#61204 🐙 source-freshbooks: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-freshbooks/metadata.yaml
  docs/integrations/sources/freshbooks.md
Labels: auto-merge, up-to-date, connectors/source/freshbooks

#61203 🐙 source-wufoo: run up-to-date pipeline [2025-06-15]
  airbyte-integrations/connectors/source-wufoo/metadata.yaml
  docs/integrations/sources/wufoo.md
Labels: auto-merge, up-to-date, connectors/source/wufoo

#61202 🐙 source-eventee: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-eventee/metadata.yaml
  docs/integrations/sources/eventee.md
Labels: auto-merge, up-to-date, connectors/source/eventee

#61200 🐙 source-cimis: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-cimis/metadata.yaml
  docs/integrations/sources/cimis.md
Labels: auto-merge, up-to-date, connectors/source/cimis

#61199 🐙 source-cloudbeds: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-cloudbeds/metadata.yaml
  docs/integrations/sources/cloudbeds.md
Labels: auto-merge, up-to-date, connectors/source/cloudbeds

#61197 🐙 source-zoho-inventory: run up-to-date pipeline [2025-06-15]
  airbyte-integrations/connectors/source-zoho-inventory/metadata.yaml
  docs/integrations/sources/zoho-inventory.md
Labels: auto-merge, up-to-date, connectors/source/zoho-inventory

#61196 🐙 source-wordpress: run up-to-date pipeline [2025-06-15]
  airbyte-integrations/connectors/source-wordpress/metadata.yaml
  docs/integrations/sources/wordpress.md
Labels: auto-merge, up-to-date, connectors/source/wordpress

#61194 🐙 source-when-i-work: run up-to-date pipeline [2025-06-15]
  airbyte-integrations/connectors/source-when-i-work/metadata.yaml
  docs/integrations/sources/when-i-work.md
Labels: auto-merge, up-to-date, connectors/source/when-i-work

#61193 🐙 source-zoho-billing: run up-to-date pipeline [2025-06-15]
  airbyte-integrations/connectors/source-zoho-billing/metadata.yaml
  docs/integrations/sources/zoho-billing.md
Labels: auto-merge, up-to-date, connectors/source/zoho-billing

#61187 🐙 source-countercyclical: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-countercyclical/metadata.yaml
  docs/integrations/sources/countercyclical.md
Labels: auto-merge, up-to-date, connectors/source/countercyclical

#61185 🐙 source-eventzilla: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-eventzilla/metadata.yaml
  docs/integrations/sources/eventzilla.md
Labels: auto-merge, up-to-date, connectors/source/eventzilla

#61182 🐙 source-dropbox-sign: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-dropbox-sign/metadata.yaml
  docs/integrations/sources/dropbox-sign.md
Labels: auto-merge, up-to-date, connectors/source/dropbox-sign

#61177 🐙 source-flowlu: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-flowlu/metadata.yaml
  docs/integrations/sources/flowlu.md
Labels: auto-merge, up-to-date, connectors/source/flowlu

#61175 🐙 source-vercel: run up-to-date pipeline [2025-06-15]
  airbyte-integrations/connectors/source-vercel/metadata.yaml
  docs/integrations/sources/vercel.md
Labels: auto-merge, up-to-date, connectors/source/vercel

#61171 🐙 source-youtube-data: run up-to-date pipeline [2025-06-15]
  airbyte-integrations/connectors/source-youtube-data/metadata.yaml
  docs/integrations/sources/youtube-data.md
Labels: connectors/source/youtube-data, auto-merge, up-to-date

#61170 🐙 source-chargedesk: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-chargedesk/metadata.yaml
  docs/integrations/sources/chargedesk.md
Labels: auto-merge, up-to-date, connectors/source/chargedesk

#61166 🐙 source-younium: run up-to-date pipeline [2025-06-15]
  airbyte-integrations/connectors/source-younium/metadata.yaml
  docs/integrations/sources/younium.md
Labels: connectors/source/younium, auto-merge, up-to-date

#61164 🐙 source-zoho-analytics-metadata-api: run up-to-date pipeline [2025-06-15]
  airbyte-integrations/connectors/source-zoho-analytics-metadata-api/metadata.yaml
  docs/integrations/sources/zoho-analytics-metadata-api.md
Labels: auto-merge, up-to-date, connectors/source/zoho-analytics-metadata-api

#61162 🐙 source-visma-economic: run up-to-date pipeline [2025-06-15]
  airbyte-integrations/connectors/source-visma-economic/metadata.yaml
  docs/integrations/sources/visma-economic.md
Labels: connectors/source/visma-economic, auto-merge, up-to-date

#61160 🐙 source-convex: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-convex/metadata.yaml
  airbyte-integrations/connectors/source-convex/poetry.lock
  airbyte-integrations/connectors/source-convex/pyproject.toml
  docs/integrations/sources/convex.md
Labels: connectors/source/convex, auto-merge, up-to-date

#61158 🐙 source-kissmetrics: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-kissmetrics/metadata.yaml
  docs/integrations/sources/kissmetrics.md
Labels: auto-merge, up-to-date, connectors/source/kissmetrics

#61154 🐙 source-mendeley: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-mendeley/metadata.yaml
  docs/integrations/sources/mendeley.md
Labels: auto-merge, up-to-date, connectors/source/mendeley

#61148 🐙 source-lob: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-lob/metadata.yaml
  docs/integrations/sources/lob.md
Labels: auto-merge, up-to-date, connectors/source/lob

#61147 🐙 source-gorgias: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-gorgias/metadata.yaml
  docs/integrations/sources/gorgias.md
Labels: connectors/source/gorgias, auto-merge, up-to-date

#61144 🐙 source-mailosaur: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-mailosaur/metadata.yaml
  docs/integrations/sources/mailosaur.md
Labels: auto-merge, up-to-date, connectors/source/mailosaur

#61137 🐙 source-jamf-pro: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-jamf-pro/metadata.yaml
  docs/integrations/sources/jamf-pro.md
Labels: auto-merge, up-to-date, connectors/source/jamf-pro

#61134 🐙 source-gmail: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-gmail/metadata.yaml
  docs/integrations/sources/gmail.md
Labels: auto-merge, up-to-date, connectors/source/gmail

#61131 🐙 source-hugging-face-datasets: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-hugging-face-datasets/metadata.yaml
  docs/integrations/sources/hugging-face-datasets.md
Labels: auto-merge, up-to-date, connectors/source/hugging-face-datasets

#61130 🐙 source-invoiced: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-invoiced/metadata.yaml
  docs/integrations/sources/invoiced.md
Labels: auto-merge, up-to-date, connectors/source/invoiced

#61129 🐙 source-keka: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-keka/metadata.yaml
  docs/integrations/sources/keka.md
Labels: auto-merge, up-to-date, connectors/source/keka

#61124 🐙 source-illumina-basespace: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-illumina-basespace/metadata.yaml
  docs/integrations/sources/illumina-basespace.md
Labels: auto-merge, up-to-date, connectors/source/illumina-basespace

#61112 🐙 source-help-scout: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-help-scout/metadata.yaml
  docs/integrations/sources/help-scout.md
Labels: connectors/source/help-scout, auto-merge, up-to-date

#61104 🐙 source-invoiceninja: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-invoiceninja/metadata.yaml
  docs/integrations/sources/invoiceninja.md
Labels: auto-merge, up-to-date, connectors/source/invoiceninja

#61094 🐙 source-imagga: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-imagga/metadata.yaml
  docs/integrations/sources/imagga.md
Labels: auto-merge, up-to-date, connectors/source/imagga

#61092 🐙 source-google-forms: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-google-forms/metadata.yaml
  docs/integrations/sources/google-forms.md
Labels: auto-merge, up-to-date, connectors/source/google-forms

#61088 🐙 source-basecamp: run up-to-date pipeline [2025-06-15]
  airbyte-integrations/connectors/source-basecamp/metadata.yaml
  docs/integrations/sources/basecamp.md
Labels: auto-merge, up-to-date, connectors/source/basecamp

#61086 🐙 source-high-level: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-high-level/metadata.yaml
  docs/integrations/sources/high-level.md
Labels: auto-merge, up-to-date, connectors/source/high-level

#61083 🐙 source-katana: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-katana/metadata.yaml
  docs/integrations/sources/katana.md
Labels: auto-merge, up-to-date, connectors/source/katana

#61081 🐙 source-ip2whois: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-ip2whois/metadata.yaml
  docs/integrations/sources/ip2whois.md
Labels: connectors/source/ip2whois, auto-merge, up-to-date

#61080 🐙 source-launchdarkly: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-launchdarkly/metadata.yaml
  docs/integrations/sources/launchdarkly.md
Labels: connectors/source/launchdarkly, auto-merge, up-to-date

#61079 🐙 source-gitbook: run up-to-date pipeline [2025-06-14]
  airbyte-integrations/connectors/source-gitbook/metadata.yaml
  docs/integrations/sources/gitbook.md
Labels: auto-merge, up-to-date, connectors/source/gitbook
