Repository airbytehq/airbyte, pull requests merged in 2025-09, with the labels that each got.

#65921 [Snowflake] Base Spec
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/gradle.properties
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/OssCloudEnvVarConsts.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeDatabaseUtils.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeDestination.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeSQLNameTransformer.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeSourceOperations.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/migrations/SnowflakeAbMetaAndGenIdMigration.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/migrations/SnowflakeDV2Migration.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/migrations/SnowflakeState.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/operation/SnowflakeStagingClient.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/operation/SnowflakeStorageOperation.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeConfiguration.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeSpecification.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeDestinationHandler.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGenerator.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeV1V2Migrator.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/resources/spec.json
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeDestinationIntegrationTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeTestDataComparator.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeTestUtils.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/operation/SnowflakeStagingClientIntegrationTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/operation/SnowflakeStorageOperationIntegrationTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeSpecTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/AbstractSnowflakeSqlGeneratorIntegrationTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/AbstractSnowflakeTypingDedupingTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeInternalStagingCaseInsensitiveTypingDedupingTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeInternalStagingDisableTypingDedupingTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeInternalStagingLowercaseDatabaseTypingDedupingTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeInternalStagingRawSchemaOverrideDisableTypingDedupingTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeInternalStagingRawSchemaOverrideTypingDedupingTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeInternalStagingTypingDedupingTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGeneratorIntegrationTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGeneratorWithMergeIntegrationTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/resources/expected-spec-oss.json
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeDestinationTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeSqlNameTransformerTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/operation/SnowflakeStagingClientTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/operation/SnowflakeStorageOperationTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeDestinationHandlerTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/typing_deduping/SnowflakeSqlGeneratorTest.kt
  docs/integrations/destinations/snowflake-migrations.md
  docs/integrations/destinations/snowflake.md
Labels: connectors/destination/snowflake, dependencies-change

#65914 feat: upgrade source-faker CDK to 6.28.0 and remove pendulum dependency
  airbyte-integrations/connectors/source-faker/metadata.yaml
  airbyte-integrations/connectors/source-faker/poetry.lock
  airbyte-integrations/connectors/source-faker/pyproject.toml
  airbyte-integrations/connectors/source-faker/source_faker/airbyte_message_with_cached_json.py
  airbyte-integrations/connectors/source-faker/unit_tests/unit_test.py
  docs/integrations/sources/faker.md
Labels: connectors/source/faker

#65926 feat: implement dataflow cdk artifacts
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/cdk/WriteOperationV2.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/dataflow/SnowflakeAggregate.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/dataflow/SnowflakeAggregateFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBuffer.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/transform/SnowflakeRecordMunger.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/cdk/WriteOperationV2Test.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/dataflow/SnowflakeAggregateFactoryTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/dataflow/SnowflakeAggregateTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/transform/SnowflakeRecordMungerTest.kt
Labels: connectors/destination/snowflake

#65945 chore: switch to thin jdbc driver
  airbyte-integrations/connectors/destination-snowflake/build.gradle
  airbyte-integrations/connectors/destination-snowflake/build.gradle.kts
Labels: connectors/destination/snowflake, dependencies-change

#65606 Socket support for Dataflow
  airbyte-cdk/bulk/build.gradle
  airbyte-cdk/bulk/changelog.md
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/DestinationLifecycle.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/aggregate/AggregateStore.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/config/InputBeanFactory.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/config/MemoryAndParallelismConfig.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/input/DataFlowPipelineInputFlow.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/input/DestinationMessageInputFlow.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/pipeline/DataFlowPipeline.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/pipeline/PipelineCompletionHandler.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/pipeline/PipelineRunner.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/pipeline/PipelineStartHandler.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/dataflow/stages/AggregateStage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/file/ClientSocket.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/dataflow/DestinationLifecycleTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/dataflow/config/InputBeanFactoryTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/dataflow/pipeline/DataFlowPipelineTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/dataflow/pipeline/PipelineCompletionHandlerTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/dataflow/pipeline/PipelineRunnerTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/dataflow/pipeline/PipelineStartHandlerTest.kt
Labels: connectors/destination/clickhouse

#65962 chore(destination-azure-blob-storage): pin the cdk for dest azure blob
  airbyte-integrations/connectors/destination-azure-blob-storage/build.gradle
Labels: connectors/destination/azure-blob-storage, dependencies-change

#65602 Fix(Source-TikTok Marketing): Add record filter to `ads` stream to filter records without `modify_time`.
  airbyte-integrations/connectors/source-tiktok-marketing/manifest.yaml
  airbyte-integrations/connectors/source-tiktok-marketing/metadata.yaml
  docs/integrations/sources/tiktok-marketing.md
Labels: connectors/source/tiktok-marketing

#62486 source-acuity-scheduling contribution from chanronson
  airbyte-integrations/connectors/source-acuity-scheduling/README.md
  airbyte-integrations/connectors/source-acuity-scheduling/acceptance-test-config.yml
  airbyte-integrations/connectors/source-acuity-scheduling/icon.svg
  airbyte-integrations/connectors/source-acuity-scheduling/manifest.yaml
  airbyte-integrations/connectors/source-acuity-scheduling/metadata.yaml
  docs/integrations/sources/acuity-scheduling.md
Labels: community, connectors/source/acuity-scheduling

#64127 🐛 source-prestashop: change user agent string
  airbyte-integrations/connectors/source-prestashop/manifest.yaml
  airbyte-integrations/connectors/source-prestashop/metadata.yaml
  docs/integrations/sources/prestashop.md
Labels: community, connectors/source/prestashop

#65534 feat(uptick): add properties extra_field to the uptick source
  airbyte-integrations/connectors/source-uptick/manifest.yaml
  airbyte-integrations/connectors/source-uptick/metadata.yaml
  docs/integrations/sources/uptick.md
Labels: community, connectors/source/uptick

#64947 ✨ Source Ticktick: add oauth2 method
  airbyte-integrations/connectors/source-ticktick/manifest.yaml
  airbyte-integrations/connectors/source-ticktick/metadata.yaml
  docs/integrations/sources/ticktick.md
Labels: community, connectors/source/ticktick

#64482 source-defillama contribution from Ismailabdulraheem
  airbyte-integrations/connectors/source-defillama/README.md
  airbyte-integrations/connectors/source-defillama/acceptance-test-config.yml
  airbyte-integrations/connectors/source-defillama/icon.svg
  airbyte-integrations/connectors/source-defillama/manifest.yaml
  airbyte-integrations/connectors/source-defillama/metadata.yaml
  docs/integrations/sources/defillama.md
Labels: community, connectors/source/defillama

#65150 🐛 Source Mantle: fix pagination for subscriptions streams from KimPlv
  airbyte-integrations/connectors/source-mantle/manifest.yaml
  airbyte-integrations/connectors/source-mantle/metadata.yaml
  docs/integrations/sources/mantle.md
Labels: community, connectors/source/mantle

#65157 feat(declarative bulk): spec for low code
  airbyte-cdk/bulk/build.gradle
  airbyte-cdk/bulk/core/base/src/main/kotlin/io/airbyte/cdk/AirbyteConnectorRunnable.kt
  airbyte-cdk/bulk/core/base/src/main/kotlin/io/airbyte/cdk/spec/SpecOperation.kt
  airbyte-cdk/bulk/core/base/src/test/kotlin/io/airbyte/cdk/AirbyteConnectorRunnableTest.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/check/CheckOperationV2.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/check/DestinationCheckerV2.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/discover/DestinationDiscoverer.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/discover/DiscoverOperation.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/main/kotlin/io/airbyte/cdk/load/checker/CompositeDlqChecker.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/main/kotlin/io/airbyte/cdk/load/checker/HttpRequestChecker.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/main/kotlin/io/airbyte/cdk/load/interpolation/StringInterpolator.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/main/kotlin/io/airbyte/cdk/load/lowcode/DeclarativeDestinationFactory.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/main/kotlin/io/airbyte/cdk/load/model/DeclarativeDestination.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/main/kotlin/io/airbyte/cdk/load/model/spec/Spec.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/main/kotlin/io/airbyte/cdk/load/spec/DeclarativeCdkConfiguration.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/main/kotlin/io/airbyte/cdk/load/spec/DeclarativeSpecificationFactory.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/main/kotlin/io/airbyte/cdk/load/spec/NoopSpec.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/test/kotlin/io/airbyte/cdk/load/checker/CompositeDlqCheckerTest.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/test/kotlin/io/airbyte/cdk/load/lowcode/DeclarativeDestinationFactoryTest.kt
  airbyte-cdk/bulk/toolkits/load-low-code/src/test/kotlin/io/airbyte/cdk/load/lowcode/ManifestBuilder.kt
  airbyte-integrations/connectors/destination-customer-io/metadata.yaml
  airbyte-integrations/connectors/destination-customer-io/src/main/kotlin/CustomerIoBeanFactory.kt
  airbyte-integrations/connectors/destination-customer-io/src/main/kotlin/CustomerIoConfiguration.kt
  airbyte-integrations/connectors/destination-customer-io/src/main/kotlin/CustomerIoConfigurationFactory.kt
  airbyte-integrations/connectors/destination-customer-io/src/main/kotlin/CustomerIoDiscoverer.kt
  airbyte-integrations/connectors/destination-customer-io/src/main/kotlin/CustomerIoSpecification.kt
  airbyte-integrations/connectors/destination-customer-io/src/main/resources/manifest.yaml
  airbyte-integrations/connectors/destination-customer-io/src/test-integration/kotlin/CustomerIoCheckTest.kt
  airbyte-integrations/connectors/destination-customer-io/src/test-integration/kotlin/CustomerIoDiscoverTest.kt
  airbyte-integrations/connectors/destination-customer-io/src/test-integration/kotlin/CustomerIoWriterTest.kt
  airbyte-integrations/connectors/destination-customer-io/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-customer-io/src/test-integration/resources/expected-spec-oss.json
  airbyte-integrations/connectors/destination-hubspot/metadata.yaml
  airbyte-integrations/connectors/destination-hubspot/src/main/kotlin/HubSpotBeanFactory.kt
  airbyte-integrations/connectors/destination-hubspot/src/main/kotlin/HubSpotDiscoverer.kt
  airbyte-integrations/connectors/destination-hubspot/src/main/resources/manifest.yaml
  docs/integrations/destinations/customer-io.md
  docs/integrations/destinations/hubspot.md
Labels: connectors/destination/customer-io, connectors/destination/hubspot

#65952 [Snowflake] Adding a basic Snowflake client
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeBeansFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClient.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeSqlGenerator.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/config/DataSourceFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/config/DataSourceFactoryTest.kt
Labels: connectors/destination/snowflake

#66043 🐙 source-mailgun: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-mailgun/metadata.yaml
  docs/integrations/sources/mailgun.md
Labels: connectors/source/mailgun, auto-merge, up-to-date

#66041 🐙 source-incident-io: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-incident-io/metadata.yaml
  docs/integrations/sources/incident-io.md
Labels: auto-merge, up-to-date, connectors/source/incident-io

#66040 🐙 source-getlago: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-getlago/metadata.yaml
  docs/integrations/sources/getlago.md
Labels: connectors/source/getlago, auto-merge, up-to-date

#66039 🐙 source-google-pagespeed-insights: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-google-pagespeed-insights/metadata.yaml
  docs/integrations/sources/google-pagespeed-insights.md
Labels: connectors/source/google-pagespeed-insights, auto-merge, up-to-date

#66037 🐙 source-aviationstack: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-aviationstack/metadata.yaml
  docs/integrations/sources/aviationstack.md
Labels: auto-merge, up-to-date, connectors/source/aviationstack

#66031 🐙 source-bugsnag: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-bugsnag/metadata.yaml
  docs/integrations/sources/bugsnag.md
Labels: auto-merge, up-to-date, connectors/source/bugsnag

#65880 🐙 source-cimis: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-cimis/metadata.yaml
  docs/integrations/sources/cimis.md
Labels: auto-merge, up-to-date, connectors/source/cimis

#65874 🐙 source-eventee: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-eventee/metadata.yaml
  docs/integrations/sources/eventee.md
Labels: auto-merge, up-to-date, connectors/source/eventee

#65844 🐙 source-encharge: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-encharge/metadata.yaml
  docs/integrations/sources/encharge.md
Labels: auto-merge, up-to-date, connectors/source/encharge

#65827 🐙 source-clarif-ai: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-clarif-ai/metadata.yaml
  docs/integrations/sources/clarif-ai.md
Labels: auto-merge, up-to-date, connectors/source/clarif-ai

#65822 🐙 source-file: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-file/metadata.yaml
  airbyte-integrations/connectors/source-file/poetry.lock
  airbyte-integrations/connectors/source-file/pyproject.toml
  docs/integrations/sources/file.md
Labels: connectors/source/file, auto-merge, up-to-date

#65814 🐙 source-fulcrum: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-fulcrum/metadata.yaml
  docs/integrations/sources/fulcrum.md
Labels: auto-merge, up-to-date, connectors/source/fulcrum

#65804 🐙 source-firebolt: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-firebolt/metadata.yaml
  airbyte-integrations/connectors/source-firebolt/poetry.lock
  airbyte-integrations/connectors/source-firebolt/pyproject.toml
  docs/integrations/sources/firebolt.md
Labels: connectors/source/firebolt, auto-merge, up-to-date

#65767 🐙 source-cin7: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-cin7/metadata.yaml
  docs/integrations/sources/cin7.md
Labels: auto-merge, up-to-date, connectors/source/cin7

#65642 🐙 source-buzzsprout: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-buzzsprout/metadata.yaml
  docs/integrations/sources/buzzsprout.md
Labels: auto-merge, up-to-date, connectors/source/buzzsprout

#66127 🐙 source-taboola: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-taboola/metadata.yaml
  docs/integrations/sources/taboola.md
Labels: auto-merge, up-to-date, connectors/source/taboola

#66126 🐙 source-testrail: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-testrail/metadata.yaml
  docs/integrations/sources/testrail.md
Labels: auto-merge, up-to-date, connectors/source/testrail

#66122 🐙 source-svix: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-svix/metadata.yaml
  docs/integrations/sources/svix.md
Labels: auto-merge, up-to-date, connectors/source/svix

#66121 🐙 source-savvycal: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-savvycal/metadata.yaml
  docs/integrations/sources/savvycal.md
Labels: auto-merge, up-to-date, connectors/source/savvycal

#66120 🐙 source-retently: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-retently/metadata.yaml
  docs/integrations/sources/retently.md
Labels: connectors/source/retently, auto-merge, up-to-date

#66119 🐙 source-productboard: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-productboard/metadata.yaml
  docs/integrations/sources/productboard.md
Labels: auto-merge, up-to-date, connectors/source/productboard

#66115 🐙 source-stripe: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  docs/integrations/sources/stripe.md
Labels: connectors/source/stripe, auto-merge, up-to-date

#66114 🐙 source-sentry: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-sentry/metadata.yaml
  docs/integrations/sources/sentry.md
Labels: connectors/source/sentry, auto-merge, up-to-date

#66112 🐙 source-rootly: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-rootly/metadata.yaml
  docs/integrations/sources/rootly.md
Labels: auto-merge, up-to-date, connectors/source/rootly

#66110 🐙 source-smaily: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-smaily/metadata.yaml
  docs/integrations/sources/smaily.md
Labels: connectors/source/smaily, auto-merge, up-to-date

#66108 🐙 source-google-drive: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-google-drive/metadata.yaml
  airbyte-integrations/connectors/source-google-drive/poetry.lock
  airbyte-integrations/connectors/source-google-drive/pyproject.toml
  docs/integrations/sources/google-drive.md
Labels: connectors/source/google-drive, auto-merge, up-to-date

#66107 🐙 source-iterable: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-iterable/metadata.yaml
  airbyte-integrations/connectors/source-iterable/poetry.lock
  airbyte-integrations/connectors/source-iterable/pyproject.toml
  docs/integrations/sources/iterable.md
Labels: connectors/source/iterable, auto-merge, up-to-date

#66105 🐙 source-greythr: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-greythr/metadata.yaml
  docs/integrations/sources/greythr.md
Labels: auto-merge, up-to-date, connectors/source/greythr

#66103 🐙 source-keka: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-keka/metadata.yaml
  docs/integrations/sources/keka.md
Labels: auto-merge, up-to-date, connectors/source/keka

#66102 🐙 source-leadfeeder: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-leadfeeder/metadata.yaml
  docs/integrations/sources/leadfeeder.md
Labels: auto-merge, up-to-date, connectors/source/leadfeeder

#66101 🐙 source-giphy: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-giphy/metadata.yaml
  docs/integrations/sources/giphy.md
Labels: auto-merge, up-to-date, connectors/source/giphy

#66100 🐙 source-hubspot: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  docs/integrations/sources/hubspot.md
Labels: connectors/source/hubspot, auto-merge, up-to-date

#66097 🐙 source-gologin: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-gologin/metadata.yaml
  docs/integrations/sources/gologin.md
Labels: auto-merge, up-to-date, connectors/source/gologin

#66087 🐙 source-launchdarkly: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-launchdarkly/metadata.yaml
  docs/integrations/sources/launchdarkly.md
Labels: connectors/source/launchdarkly, auto-merge, up-to-date

#66084 🐙 source-lightspeed-retail: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-lightspeed-retail/metadata.yaml
  docs/integrations/sources/lightspeed-retail.md
Labels: auto-merge, up-to-date, connectors/source/lightspeed-retail

#66083 🐙 source-lever-hiring: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-lever-hiring/metadata.yaml
  docs/integrations/sources/lever-hiring.md
Labels: connectors/source/lever-hiring, auto-merge, up-to-date

#66074 🐙 source-height: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-height/metadata.yaml
  docs/integrations/sources/height.md
Labels: auto-merge, up-to-date, connectors/source/height

#66072 🐙 source-hibob: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-hibob/metadata.yaml
  docs/integrations/sources/hibob.md
Labels: auto-merge, up-to-date, connectors/source/hibob

#66071 🐙 source-mailerlite: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-mailerlite/metadata.yaml
  docs/integrations/sources/mailerlite.md
Labels: connectors/source/mailerlite, auto-merge, up-to-date

#66070 🐙 source-klaviyo: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-klaviyo/metadata.yaml
  docs/integrations/sources/klaviyo.md
Labels: connectors/source/klaviyo, auto-merge, up-to-date

#66066 🐙 source-high-level: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-high-level/metadata.yaml
  docs/integrations/sources/high-level.md
Labels: auto-merge, up-to-date, connectors/source/high-level

#66063 🐙 source-gmail: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-gmail/metadata.yaml
  docs/integrations/sources/gmail.md
Labels: auto-merge, up-to-date, connectors/source/gmail

#66060 🐙 source-judge-me-reviews: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-judge-me-reviews/metadata.yaml
  docs/integrations/sources/judge-me-reviews.md
Labels: auto-merge, up-to-date, connectors/source/judge-me-reviews

#66059 🐙 source-linnworks: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-linnworks/metadata.yaml
  airbyte-integrations/connectors/source-linnworks/poetry.lock
  airbyte-integrations/connectors/source-linnworks/pyproject.toml
  docs/integrations/sources/linnworks.md
Labels: connectors/source/linnworks, auto-merge, up-to-date

#66057 🐙 source-hoorayhr: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-hoorayhr/metadata.yaml
  docs/integrations/sources/hoorayhr.md
Labels: auto-merge, up-to-date, connectors/source/hoorayhr

#66056 🐙 source-intercom: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-intercom/metadata.yaml
  docs/integrations/sources/intercom.md
Labels: connectors/source/intercom, auto-merge, up-to-date

#66053 🐙 source-kyriba: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-kyriba/metadata.yaml
  airbyte-integrations/connectors/source-kyriba/poetry.lock
  airbyte-integrations/connectors/source-kyriba/pyproject.toml
  docs/integrations/sources/kyriba.md
Labels: connectors/source/kyriba, auto-merge, up-to-date

#66050 🐙 source-invoiceninja: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-invoiceninja/metadata.yaml
  docs/integrations/sources/invoiceninja.md
Labels: auto-merge, up-to-date, connectors/source/invoiceninja

#66049 🐙 source-jotform: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-jotform/metadata.yaml
  docs/integrations/sources/jotform.md
Labels: auto-merge, up-to-date, connectors/source/jotform

#66048 🐙 source-inflowinventory: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-inflowinventory/metadata.yaml
  docs/integrations/sources/inflowinventory.md
Labels: auto-merge, up-to-date, connectors/source/inflowinventory

#66047 🐙 source-kissmetrics: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-kissmetrics/metadata.yaml
  docs/integrations/sources/kissmetrics.md
Labels: auto-merge, up-to-date, connectors/source/kissmetrics

#66046 🐙 source-google-calendar: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-google-calendar/metadata.yaml
  docs/integrations/sources/google-calendar.md
Labels: connectors/source/google-calendar, auto-merge, up-to-date

#65902 🐙 source-katana: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-katana/metadata.yaml
  docs/integrations/sources/katana.md
Labels: auto-merge, up-to-date, connectors/source/katana

#65899 🐙 source-imagga: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-imagga/metadata.yaml
  docs/integrations/sources/imagga.md
Labels: auto-merge, up-to-date, connectors/source/imagga

#65896 🐙 source-greenhouse: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-greenhouse/metadata.yaml
  docs/integrations/sources/greenhouse.md
Labels: connectors/source/greenhouse, auto-merge, up-to-date

#65829 🐙 source-printify: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-printify/metadata.yaml
  docs/integrations/sources/printify.md
Labels: auto-merge, up-to-date, connectors/source/printify

#65725 🐙 source-segment: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-segment/metadata.yaml
  docs/integrations/sources/segment.md
Labels: auto-merge, up-to-date, connectors/source/segment

#65711 🐙 source-shortio: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-shortio/metadata.yaml
  docs/integrations/sources/shortio.md
Labels: connectors/source/shortio, auto-merge, up-to-date

#65709 🐙 source-tempo: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-tempo/metadata.yaml
  docs/integrations/sources/tempo.md
Labels: connectors/source/tempo, auto-merge, up-to-date

#65702 🐙 source-recurly: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-recurly/metadata.yaml
  docs/integrations/sources/recurly.md
Labels: connectors/source/recurly, auto-merge, up-to-date

#65693 🐙 source-survicate: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-survicate/metadata.yaml
  docs/integrations/sources/survicate.md
Labels: connectors/source/survicate, auto-merge, up-to-date

#65687 🐙 source-retailexpress-by-maropost: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-retailexpress-by-maropost/metadata.yaml
  docs/integrations/sources/retailexpress-by-maropost.md
Labels: auto-merge, up-to-date, connectors/source/retailexpress-by-maropost

#65678 🐙 source-qualaroo: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-qualaroo/metadata.yaml
  docs/integrations/sources/qualaroo.md
Labels: connectors/source/qualaroo, auto-merge, up-to-date

#65677 🐙 source-tavus: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-tavus/metadata.yaml
  docs/integrations/sources/tavus.md
Labels: auto-merge, up-to-date, connectors/source/tavus

#65674 🐙 source-recharge: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-recharge/metadata.yaml
  airbyte-integrations/connectors/source-recharge/poetry.lock
  airbyte-integrations/connectors/source-recharge/pyproject.toml
  docs/integrations/sources/recharge.md
Labels: connectors/source/recharge, auto-merge, up-to-date

#65672 🐙 source-systeme: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-systeme/metadata.yaml
  docs/integrations/sources/systeme.md
Labels: auto-merge, up-to-date, connectors/source/systeme

#65669 🐙 source-referralhero: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-referralhero/metadata.yaml
  docs/integrations/sources/referralhero.md
Labels: auto-merge, up-to-date, connectors/source/referralhero

#65668 🐙 source-revolut-merchant: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-revolut-merchant/metadata.yaml
  docs/integrations/sources/revolut-merchant.md
Labels: auto-merge, up-to-date, connectors/source/revolut-merchant

#65664 🐙 source-strava: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-strava/metadata.yaml
  docs/integrations/sources/strava.md
Labels: connectors/source/strava, auto-merge, up-to-date

#65656 🐙 source-repairshopr: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-repairshopr/metadata.yaml
  docs/integrations/sources/repairshopr.md
Labels: auto-merge, up-to-date, connectors/source/repairshopr

#65655 🐙 source-scryfall: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-scryfall/metadata.yaml
  docs/integrations/sources/scryfall.md
Labels: auto-merge, up-to-date, connectors/source/scryfall

#66137 chore: merge bean factories
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeBeanFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeBeansFactory.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeBeanFactoryTest.kt
Labels: connectors/destination/snowflake

#66132 🐙 source-stockdata: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-stockdata/metadata.yaml
  docs/integrations/sources/stockdata.md
Labels: auto-merge, up-to-date, connectors/source/stockdata

#66131 🐙 source-solarwinds-service-desk: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-solarwinds-service-desk/metadata.yaml
  docs/integrations/sources/solarwinds-service-desk.md
Labels: auto-merge, up-to-date, connectors/source/solarwinds-service-desk

#66130 🐙 source-sigma-computing: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-sigma-computing/metadata.yaml
  docs/integrations/sources/sigma-computing.md
Labels: auto-merge, up-to-date, connectors/source/sigma-computing

#65831 🐙 source-primetric: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-primetric/metadata.yaml
  docs/integrations/sources/primetric.md
Labels: connectors/source/primetric, auto-merge, up-to-date

#65743 🐙 source-zoho-expense: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-zoho-expense/metadata.yaml
  docs/integrations/sources/zoho-expense.md
Labels: auto-merge, up-to-date, connectors/source/zoho-expense

#65738 🐙 source-younium: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-younium/metadata.yaml
  docs/integrations/sources/younium.md
Labels: connectors/source/younium, auto-merge, up-to-date

#65736 🐙 source-zonka-feedback: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-zonka-feedback/metadata.yaml
  docs/integrations/sources/zonka-feedback.md
Labels: auto-merge, up-to-date, connectors/source/zonka-feedback

#65733 🐙 source-uptick: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-uptick/metadata.yaml
  docs/integrations/sources/uptick.md
Labels: auto-merge, up-to-date, connectors/source/uptick

#65729 🐙 source-zendesk-support: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  docs/integrations/sources/zendesk-support.md
Labels: connectors/source/zendesk-support, auto-merge, up-to-date

#65726 🐙 source-teamwork: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-teamwork/metadata.yaml
  docs/integrations/sources/teamwork.md
Labels: auto-merge, up-to-date, connectors/source/teamwork

#65710 🐙 source-yotpo: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-yotpo/metadata.yaml
  docs/integrations/sources/yotpo.md
Labels: connectors/source/yotpo, auto-merge, up-to-date

#65698 🐙 source-rentcast: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-rentcast/metadata.yaml
  docs/integrations/sources/rentcast.md
Labels: auto-merge, up-to-date, connectors/source/rentcast

#65695 🐙 source-visma-economic: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-visma-economic/metadata.yaml
  docs/integrations/sources/visma-economic.md
Labels: connectors/source/visma-economic, auto-merge, up-to-date

#65694 🐙 source-vantage: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-vantage/metadata.yaml
  docs/integrations/sources/vantage.md
Labels: connectors/source/vantage, auto-merge, up-to-date

#65692 🐙 source-when-i-work: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-when-i-work/metadata.yaml
  docs/integrations/sources/when-i-work.md
Labels: auto-merge, up-to-date, connectors/source/when-i-work

#65685 🐙 source-ticketmaster: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-ticketmaster/metadata.yaml
  docs/integrations/sources/ticketmaster.md
Labels: auto-merge, up-to-date, connectors/source/ticketmaster

#65683 🐙 source-zoho-campaign: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-zoho-campaign/metadata.yaml
  docs/integrations/sources/zoho-campaign.md
Labels: auto-merge, up-to-date, connectors/source/zoho-campaign

#65673 🐙 source-wrike: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-wrike/metadata.yaml
  docs/integrations/sources/wrike.md
Labels: connectors/source/wrike, auto-merge, up-to-date

#65659 🐙 source-zoho-invoice: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-zoho-invoice/metadata.yaml
  docs/integrations/sources/zoho-invoice.md
Labels: auto-merge, up-to-date, connectors/source/zoho-invoice

#65658 🐙 source-statsig: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-statsig/metadata.yaml
  docs/integrations/sources/statsig.md
Labels: auto-merge, up-to-date, connectors/source/statsig

#66134 Change the decimal type
  airbyte-integrations/connectors/destination-clickhouse/metadata.yaml
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/client/ClickhouseAirbyteClient.kt
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/client/ClickhouseSqlGenerator.kt
  docs/integrations/destinations/clickhouse.md
Labels: connectors/destination/clickhouse

#66133 [Snowflake] Adding the InitialStatusGatherer
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClient.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/config/SnowflakeDirectLoadDatabaseInitialStatusGatherer.kt
Labels: connectors/destination/snowflake

#65992 chore: amazon-ads cdk 7 migration
  airbyte-integrations/connectors/source-amazon-ads/metadata.yaml
  docs/integrations/sources/amazon-ads.md
Labels: connectors/source/amazon-ads

#65735 🐙 source-zendesk-sunshine: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-zendesk-sunshine/metadata.yaml
  docs/integrations/sources/zendesk-sunshine.md
Labels: connectors/source/zendesk-sunshine, auto-merge, up-to-date

#65734 🐙 source-xkcd: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-xkcd/metadata.yaml
  docs/integrations/sources/xkcd.md
Labels: connectors/source/xkcd, auto-merge, up-to-date

#65732 🐙 source-zoho-bigin: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-zoho-bigin/metadata.yaml
  docs/integrations/sources/zoho-bigin.md
Labels: auto-merge, up-to-date, connectors/source/zoho-bigin

#65728 🐙 source-zoho-analytics-metadata-api: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-zoho-analytics-metadata-api/metadata.yaml
  docs/integrations/sources/zoho-analytics-metadata-api.md
Labels: auto-merge, up-to-date, connectors/source/zoho-analytics-metadata-api

#65713 🐙 source-todoist: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-todoist/metadata.yaml
  docs/integrations/sources/todoist.md
Labels: connectors/source/todoist, auto-merge, up-to-date

#65704 🐙 source-tmdb: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-tmdb/metadata.yaml
  docs/integrations/sources/tmdb.md
Labels: connectors/source/tmdb, auto-merge, up-to-date

#65680 🐙 source-uppromote: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-uppromote/metadata.yaml
  docs/integrations/sources/uppromote.md
Labels: auto-merge, up-to-date, connectors/source/uppromote

#65663 🐙 source-zoho-billing: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-zoho-billing/metadata.yaml
  docs/integrations/sources/zoho-billing.md
Labels: auto-merge, up-to-date, connectors/source/zoho-billing

#65891 🐙 source-opuswatch: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-opuswatch/metadata.yaml
  docs/integrations/sources/opuswatch.md
Labels: auto-merge, up-to-date, connectors/source/opuswatch

#65883 🐙 source-openaq: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-openaq/metadata.yaml
  docs/integrations/sources/openaq.md
Labels: auto-merge, up-to-date, connectors/source/openaq

#65882 🐙 source-pexels-api: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-pexels-api/metadata.yaml
  docs/integrations/sources/pexels-api.md
Labels: connectors/source/pexels-api, auto-merge, up-to-date

#65881 🐙 source-perigon: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-perigon/metadata.yaml
  docs/integrations/sources/perigon.md
Labels: auto-merge, up-to-date, connectors/source/perigon

#65875 🐙 source-pretix: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-pretix/metadata.yaml
  docs/integrations/sources/pretix.md
Labels: auto-merge, up-to-date, connectors/source/pretix

#65870 🐙 source-mailtrap: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-mailtrap/metadata.yaml
  docs/integrations/sources/mailtrap.md
Labels: auto-merge, up-to-date, connectors/source/mailtrap

#65859 🐙 source-oncehub: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-oncehub/metadata.yaml
  docs/integrations/sources/oncehub.md
Labels: auto-merge, up-to-date, connectors/source/oncehub

#65857 🐙 source-nocrm: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-nocrm/metadata.yaml
  docs/integrations/sources/nocrm.md
Labels: auto-merge, up-to-date, connectors/source/nocrm

#65855 🐙 source-marketo: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-marketo/metadata.yaml
  airbyte-integrations/connectors/source-marketo/poetry.lock
  airbyte-integrations/connectors/source-marketo/pyproject.toml
  docs/integrations/sources/marketo.md
Labels: connectors/source/marketo, auto-merge, up-to-date

#65850 🐙 source-my-hours: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-my-hours/metadata.yaml
  docs/integrations/sources/my-hours.md
Labels: connectors/source/my-hours, auto-merge, up-to-date

#65848 🐙 source-pipeliner: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-pipeliner/metadata.yaml
  docs/integrations/sources/pipeliner.md
Labels: auto-merge, up-to-date, connectors/source/pipeliner

#65847 🐙 source-outbrain-amplify: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-outbrain-amplify/metadata.yaml
  airbyte-integrations/connectors/source-outbrain-amplify/poetry.lock
  airbyte-integrations/connectors/source-outbrain-amplify/pyproject.toml
  docs/integrations/sources/outbrain-amplify.md
Labels: connectors/source/outbrain-amplify, auto-merge, up-to-date

#65843 🐙 source-navan: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-navan/metadata.yaml
  docs/integrations/sources/navan.md
Labels: auto-merge, up-to-date, connectors/source/navan

#65824 🐙 source-polygon-stock-api: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-polygon-stock-api/metadata.yaml
  docs/integrations/sources/polygon-stock-api.md
Labels: connectors/source/polygon-stock-api, auto-merge, up-to-date

#65817 🐙 source-missive: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-missive/metadata.yaml
  docs/integrations/sources/missive.md
Labels: auto-merge, up-to-date, connectors/source/missive

#65813 🐙 source-netsuite: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-netsuite/metadata.yaml
  airbyte-integrations/connectors/source-netsuite/poetry.lock
  airbyte-integrations/connectors/source-netsuite/pyproject.toml
  docs/integrations/sources/netsuite.md
Labels: connectors/source/netsuite, auto-merge, up-to-date

#65812 🐙 source-payfit: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-payfit/metadata.yaml
  docs/integrations/sources/payfit.md
Labels: auto-merge, up-to-date, connectors/source/payfit

#65806 🐙 source-paddle: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-paddle/metadata.yaml
  docs/integrations/sources/paddle.md
Labels: auto-merge, up-to-date, connectors/source/paddle

#65802 🐙 source-metricool: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-metricool/metadata.yaml
  docs/integrations/sources/metricool.md
Labels: auto-merge, up-to-date, connectors/source/metricool

#65788 🐙 source-openfda: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-openfda/metadata.yaml
  docs/integrations/sources/openfda.md
Labels: auto-merge, up-to-date, connectors/source/openfda

#65787 🐙 source-pandadoc: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-pandadoc/metadata.yaml
  docs/integrations/sources/pandadoc.md
Labels: auto-merge, up-to-date, connectors/source/pandadoc

#65778 🐙 source-partnerize: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-partnerize/metadata.yaml
  docs/integrations/sources/partnerize.md
Labels: auto-merge, up-to-date, connectors/source/partnerize

#65775 🐙 source-onepagecrm: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-onepagecrm/metadata.yaml
  docs/integrations/sources/onepagecrm.md
Labels: auto-merge, up-to-date, connectors/source/onepagecrm

#65761 🐙 source-picqer: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-picqer/metadata.yaml
  docs/integrations/sources/picqer.md
Labels: auto-merge, up-to-date, connectors/source/picqer

#65757 🐙 source-microsoft-lists: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-microsoft-lists/metadata.yaml
  docs/integrations/sources/microsoft-lists.md
Labels: auto-merge, up-to-date, connectors/source/microsoft-lists

#65747 🐙 source-mailosaur: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-mailosaur/metadata.yaml
  docs/integrations/sources/mailosaur.md
Labels: auto-merge, up-to-date, connectors/source/mailosaur

#66148 Revert clickhouse changes inadvertently merged in.
  airbyte-integrations/connectors/destination-clickhouse/build.gradle
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/write/load/ClickhouseDirectLoader.kt
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/write/load/ClickhouseDirectLoaderFactory.kt
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/write/transform/ClickhouseCoercer.kt
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/write/transform/ClickhouseColumnNameMapper.kt
  airbyte-integrations/connectors/destination-clickhouse/src/main/kotlin/io/airbyte/integrations/destination/clickhouse/write/transform/RecordMunger.kt
  airbyte-integrations/connectors/destination-clickhouse/src/test-integration/kotlin/io/airbyte/integrations/destination/clickhouse/write/load/ClickhouseAcceptanceTest.kt
  airbyte-integrations/connectors/destination-clickhouse/src/test/kotlin/io/airbyte/integrations/destination/clickhouse/write/load/ClickhouseDirectLoaderFactoryTest.kt
  airbyte-integrations/connectors/destination-clickhouse/src/test/kotlin/io/airbyte/integrations/destination/clickhouse/write/load/ClickhouseDirectLoaderTest.kt
  airbyte-integrations/connectors/destination-clickhouse/src/test/kotlin/io/airbyte/integrations/destination/clickhouse/write/transform/ClickhouseCoercerTest.kt
  airbyte-integrations/connectors/destination-clickhouse/src/test/kotlin/io/airbyte/integrations/destination/clickhouse/write/transform/RecordMungerTest.kt
Labels: connectors/destination/clickhouse, dependencies-change

#65890 🐙 source-oveit: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-oveit/metadata.yaml
  docs/integrations/sources/oveit.md
Labels: auto-merge, up-to-date, connectors/source/oveit

#65872 🐙 source-pocket: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-pocket/metadata.yaml
  docs/integrations/sources/pocket.md
Labels: connectors/source/pocket, auto-merge, up-to-date

#65858 🐙 source-pagerduty: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-pagerduty/metadata.yaml
  docs/integrations/sources/pagerduty.md
Labels: connectors/source/pagerduty, auto-merge, up-to-date

#65846 🐙 source-piwik: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-piwik/metadata.yaml
  docs/integrations/sources/piwik.md
Labels: auto-merge, up-to-date, connectors/source/piwik

#65825 🐙 source-nylas: run up-to-date pipeline [2025-09-09]
  airbyte-integrations/connectors/source-nylas/metadata.yaml
  docs/integrations/sources/nylas.md
Labels: auto-merge, up-to-date, connectors/source/nylas
