Repository airbytehq/airbyte, pull requests merged in 2025-10, with the labels that each got.

#66736 chore(source-github) update to airbyte cdk v7
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/poetry.lock
  airbyte-integrations/connectors/source-github/pyproject.toml
  airbyte-integrations/connectors/source-github/source_github/config_migrations.py
  airbyte-integrations/connectors/source-github/source_github/errors_handlers.py
  airbyte-integrations/connectors/source-github/source_github/streams.py
  airbyte-integrations/connectors/source-github/source_github/utils.py
  airbyte-integrations/connectors/source-github/unit_tests/conftest.py
  airbyte-integrations/connectors/source-github/unit_tests/integration/test_assignees.py
  airbyte-integrations/connectors/source-github/unit_tests/integration/test_events.py
  airbyte-integrations/connectors/source-github/unit_tests/test_multiple_token_authenticator.py
  airbyte-integrations/connectors/source-github/unit_tests/test_source.py
  airbyte-integrations/connectors/source-github/unit_tests/test_stream.py
  airbyte-integrations/connectors/source-github/unit_tests/utils.py
  docs/integrations/sources/github.md
Labels: connectors/source/github

#67025 fix(source-pinterest): Add timeout status for reports
  airbyte-integrations/connectors/source-pinterest/manifest.yaml
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  docs/integrations/sources/pinterest.md
Labels: connectors/source/pinterest

#67026 fix(source-github): fix datetime converting in workflows stream
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/pyproject.toml
  airbyte-integrations/connectors/source-github/source_github/streams.py
  docs/integrations/sources/github.md
Labels: connectors/source/github

#66993 [Snowflake] Update the doc to fit the new connector
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  docs/integrations/destinations/snowflake-migrations.md
  docs/integrations/destinations/snowflake.md
Labels: connectors/destination/snowflake

#66999 [Snowflake] Fix namespace special chars
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClient.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/db/SnowflakeNameGenerators.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/spec/SnowflakeConfiguration.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeColumnUtils.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGenerator.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeSqlNameUtils.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/SnowflakeWriter.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBuffer.kt
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeRecordFormatter.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/write/SnowflakeAcceptanceTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/write/SnowflakeDataCleaner.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/write/SnowflakeExpectedRawRecordMapper.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/write/SnowflakeRawDataDumper.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/check/SnowflakeCheckerTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/client/SnowflakeAirbyteClientTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/db/SnowflakeColumnNameGeneratorTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/db/SnowflakeFinalTableNameGeneratorTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/db/SnowflakeNameGeneratorsTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeColumnUtilsTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeDirectLoadSqlGeneratorTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/sql/SnowflakeSqlNameUtilsTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/SnowflakeWriterTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeInsertBufferTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeRawRecordFormatterTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/load/SnowflakeSchemaRecordFormatterTest.kt
Labels: connectors/destination/snowflake

#66716 docs(destination-firebolt): fix documentation to reflect the correct connector settings
  docs/integrations/destinations/firebolt.md
Labels: community

#67078 chore: remove memory limits from certified GA destinations
  airbyte-integrations/connectors/destination-azure-blob-storage/metadata.yaml
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  airbyte-integrations/connectors/destination-s3/metadata.yaml
  docs/integrations/destinations/azure-blob-storage.md
  docs/integrations/destinations/bigquery.md
  docs/integrations/destinations/s3.md
Labels: connectors/destination/azure-blob-storage, connectors/destination/bigquery, connectors/destination/redshift, connectors/destination/s3

#67101 [Snowflake] Final knob tweaks for 4.0
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeBeanFactory.kt
Labels: connectors/destination/snowflake

#67106 Rbroughan/remove allocations from snowflake isvalid
  airbyte-integrations/connectors/destination-clickhouse/toil.txt
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/main/kotlin/io/airbyte/integrations/destination/snowflake/write/transform/SnowflakeValueCoercer.kt
  airbyte-integrations/connectors/destination-snowflake/src/test/kotlin/io/airbyte/integrations/destination/snowflake/write/transform/SnowflakeValueCoercerTest.kt
  docs/integrations/destinations/snowflake.md
Labels: connectors/destination/snowflake, connectors/destination/clickhouse

#67017 source-postgres: support all types as cursors
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/operations/types/HstoreFieldType.kt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/operations/types/InfFieldType.kt
  airbyte-integrations/connectors/source-postgres/src/main/kotlin/io/airbyte/integrations/source/postgres/operations/types/ObjectFieldTypes.kt
  airbyte-integrations/connectors/source-postgres/src/test/kotlin/io/airbyte/integrations/source/postgres/PostgresContainerFactory.kt
  airbyte-integrations/connectors/source-postgres/src/test/kotlin/io/airbyte/integrations/source/postgres/PostgresSourceFieldTypeMapperTest.kt
Labels: connectors/source/postgres

#61052 🐙 source-outreach: run up-to-date pipeline [2025-10-07]
  airbyte-integrations/connectors/source-outreach/metadata.yaml
  docs/integrations/sources/outreach.md
Labels: connectors/source/outreach, auto-merge, up-to-date

#66826 Bulk CDK: add GHA cron to bump CDK version in certified connectors
  .github/workflows/auto-upgrade-certified-connectors-cdk.yml
  tools/bin/bulk-cdk-auto-upgrade/bump-connector-metadata.sh
  tools/bin/bulk-cdk-auto-upgrade/list-connectors-to-upgrade.sh
  tools/bin/bulk-cdk-auto-upgrade/populate-connector-changelog.sh
Labels: connectors/destination/dev-null

#62329 🐙 source-pinterest: run up-to-date pipeline [2025-10-07]
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  docs/integrations/sources/pinterest.md
Labels: connectors/source/pinterest, auto-merge, up-to-date

#66677 feat: support speed mode in snowflake destination
  airbyte-integrations/connectors/destination-snowflake/build.gradle.kts
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/write/SnowflakeAcceptanceTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/write/SnowflakeNameMapper.kt
Labels: connectors/destination/snowflake
