Repository airbytehq/airbyte, pull requests merged in 2025-01, with the labels that each got.

#50849 feat: add config update hook to cdk integration tests
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/check/CheckIntegrationTest.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/spec/SpecTest.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/ConfigurationUpdater.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/IntegrationTest.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/BasicFunctionalityIntegrationTest.kt
Labels: CDK

#49959 Load CDK: Support strongly/weakly-typed mappers
  airbyte-cdk/bulk/core/load/src/integrationTest/kotlin/io/airbyte/cdk/load/mock_integration_test/MockBasicFunctionalityIntegrationTest.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/AirbyteValue.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/AirbyteValueDeepCoercingMapper.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/AirbyteValueIdentityMapper.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/NullOutOfRangeIntegers.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/SchemalessTypesToJsonString.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/TimeStringToInteger.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/json/AirbyteValueToJson.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/json/JsonToAirbyteValue.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/message/DestinationMessage.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/util/TimeStringUtility.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/data/AirbyteValueDeepCoercingMapperTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/data/AirbyteValueIdentityMapperTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/data/MapperPipelineTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/data/SchemalessTypesToJsonStringTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/data/TimeStringToIntegerTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/data/json/AirbyteValueToJsonTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/data/json/JsonToAirbyteValueTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/test/util/RecordDifferTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/util/TimeStringUtilityTest.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/message/InputMessage.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/AirbyteValueWithMetaToOutputRecord.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/ExpectedRecordMapper.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/RecordDiffer.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/BasicFunctionalityIntegrationTest.kt
  airbyte-cdk/bulk/toolkits/load-avro/src/main/kotlin/io/airbyte/cdk/load/data/avro/AvroMapperPipelineFactory.kt
  airbyte-cdk/bulk/toolkits/load-avro/src/testFixtures/kotlin/io/airbyte/cdk/load/data/avro/AvroRecordToAirbyteValue.kt
  airbyte-cdk/bulk/toolkits/load-csv/src/main/kotlin/io/airbyte/cdk/load/data/csv/AirbyteValueToCsvRow.kt
  airbyte-cdk/bulk/toolkits/load-csv/src/testFixtures/kotlin/io/airbyte/cdk/load/data/csv/CsvRowToAirbyteValue.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/data/iceberg/parquet/AirbyteTypeToIcebergSchema.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/data/iceberg/parquet/AirbyteValueToIcebergRecord.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/data/iceberg/parquet/IcebergParquetPipelineFactory.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/data/iceberg/parquet/SchemalessTypesToStringType.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/testFixtures/kotlin/io/airbyte/cdk/load/data/icerberg/parquet/AirbyteValueToIcebergRecordTest.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/testFixtures/kotlin/io/airbyte/cdk/load/ObjectStorageDataDumper.kt
  airbyte-cdk/bulk/toolkits/load-parquet/src/main/kotlin/io/airbyte/cdk/load/data/parquet/ParquetMapperPipelineFactory.kt
  airbyte-integrations/connectors/destination-iceberg-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/iceberg/v2/IcebergExpectedRecordMapper.kt
  airbyte-integrations/connectors/destination-iceberg-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/iceberg/v2/IcebergV2WriteTest.kt
  airbyte-integrations/connectors/destination-iceberg-v2/src/test/kotlin/io/airbyte/integrations/destination/iceberg/v2/io/IcebergUtilTest.kt
  airbyte-integrations/connectors/destination-s3-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_v2/S3V2WriteTest.kt
Labels: area/connectors, CDK, connectors/destination/s3-v2, connectors/destination/iceberg-v2

#50406 [Load CDK] test improvements
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/BasicFunctionalityIntegrationTest.kt
  airbyte-cdk/bulk/toolkits/load-avro/src/testFixtures/kotlin/io/airbyte/cdk/load/data/avro/AvroExpectedRecordMapper.kt
  airbyte-cdk/bulk/toolkits/load-avro/src/testFixtures/kotlin/io/airbyte/cdk/load/data/avro/AvroRecordToAirbyteValue.kt
  airbyte-cdk/bulk/toolkits/load-avro/src/testFixtures/kotlin/io/airbyte/cdk/load/file/avro/AvroReader.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/testFixtures/kotlin/io/airbyte/cdk/load/ObjectStorageDataDumper.kt
  airbyte-cdk/bulk/toolkits/load-parquet/src/testFixtures/kotlin/io/airbyte/cdk/load/file/parquet/ParquetReader.kt
  airbyte-integrations/connectors/destination-iceberg-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/iceberg/v2/IcebergV2WriteTest.kt
  airbyte-integrations/connectors/destination-s3-v2/build.gradle
  airbyte-integrations/connectors/destination-s3-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_v2/S3V2WriteTest.kt
Labels: area/connectors, CDK, connectors/destination/s3-v2, connectors/destination/iceberg-v2

#50854 Various documentation corrections
  docs/integrations/enterprise-connectors/source-oracle.md
  docs/integrations/sources/mssql.md
  docs/integrations/sources/postgres/postgres-troubleshooting.md
Labels: area/documentation

#50867 bulk-cdk: fix ConnectorUncleanExitException message
  airbyte-cdk/bulk/core/base/src/main/kotlin/io/airbyte/cdk/ConnectorUncleanExitException.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/destination_process/DestinationUncleanExitException.kt
Labels: CDK

#50875 chore: remove bad comment.
  airbyte-cdk/bulk/toolkits/load-s3/src/main/kotlin/io/airbyte/cdk/load/file/s3/S3Client.kt
Labels: CDK

#50869 feat: use mssql server test container in integration tests
  airbyte-integrations/connectors/destination-mssql-v2/build.gradle.kts
  airbyte-integrations/connectors/destination-mssql-v2/docker-compose.yml
  airbyte-integrations/connectors/destination-mssql-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLCheckTest.kt
  airbyte-integrations/connectors/destination-mssql-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLContainerHelper.kt
  airbyte-integrations/connectors/destination-mssql-v2/src/test-integration/resources/check/fail-internal-schema-invalid.json
  airbyte-integrations/connectors/destination-mssql-v2/src/test-integration/resources/check/valid-ssl-trust.json
  airbyte-integrations/connectors/destination-mssql-v2/src/test-integration/resources/check/valid.json
Labels: area/connectors, connectors/destination/mssql-v2

#50877 chore: remove disabled out of date Snowflake tests part 1.
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeInternalStagingDestinationAcceptanceTest.kt
Labels: area/connectors, connectors/destination/snowflake

#50872 Destination Iceberg V2: new release
  airbyte-integrations/connectors/destination-iceberg-v2/metadata.yaml
Labels: area/connectors, connectors/destination/iceberg-v2

#50868 source-mysql: fix indentation level for rules defs
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/src/main/resources/application.yml
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, connectors/source/mysql

#50878 chore: remove disabled out of date Snowflake tests part 2.
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeDestinationIntegrationTest.kt
  airbyte-integrations/connectors/destination-snowflake/src/test-integration/kotlin/io/airbyte/integrations/destination/snowflake/SnowflakeInsertDestinationAcceptanceTest.kt
Labels: area/connectors, connectors/destination/snowflake

#50885 chore: remove metadata secrets that are no longer used.
  airbyte-integrations/connectors/destination-snowflake/README.md
  airbyte-integrations/connectors/destination-snowflake/metadata.yaml
Labels: area/connectors, connectors/destination/snowflake

#50879 Destination S3-V2: Parquet mappings propagate into converted unions
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/AirbyteValueIdentityMapper.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/SchemalessTypesToJsonString.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/data/UnionTypeToDisjointRecord.kt
  airbyte-cdk/bulk/toolkits/load-parquet/src/test/kotlin/ParquetMapperPipelineTest.kt
Labels: CDK

#50906 🐙 source-amplitude: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-amplitude/metadata.yaml
  airbyte-integrations/connectors/source-amplitude/poetry.lock
  airbyte-integrations/connectors/source-amplitude/pyproject.toml
  docs/integrations/sources/amplitude.md
Labels: area/documentation, area/connectors, connectors/source/amplitude, auto-merge, up-to-date

#50904 🐙 destination-pinecone: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/destination-pinecone/metadata.yaml
  airbyte-integrations/connectors/destination-pinecone/poetry.lock
  airbyte-integrations/connectors/destination-pinecone/pyproject.toml
  docs/integrations/destinations/pinecone.md
Labels: area/documentation, area/connectors, connectors/destination/pinecone, auto-merge, up-to-date

#50903 🐙 source-alpha-vantage: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-alpha-vantage/metadata.yaml
  airbyte-integrations/connectors/source-alpha-vantage/poetry.lock
  airbyte-integrations/connectors/source-alpha-vantage/pyproject.toml
  docs/integrations/sources/alpha-vantage.md
Labels: area/documentation, area/connectors, connectors/source/alpha-vantage, auto-merge, up-to-date

#50902 🐙 source-amazon-ads: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-amazon-ads/metadata.yaml
  airbyte-integrations/connectors/source-amazon-ads/poetry.lock
  airbyte-integrations/connectors/source-amazon-ads/pyproject.toml
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, area/connectors, connectors/source/amazon-ads, auto-merge, up-to-date

#50901 🐙 source-adjust: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-adjust/metadata.yaml
  airbyte-integrations/connectors/source-adjust/poetry.lock
  airbyte-integrations/connectors/source-adjust/pyproject.toml
  docs/integrations/sources/adjust.md
Labels: area/documentation, area/connectors, connectors/source/adjust, auto-merge, up-to-date

#50900 🐙 destination-xata: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/destination-xata/metadata.yaml
  airbyte-integrations/connectors/destination-xata/poetry.lock
  airbyte-integrations/connectors/destination-xata/pyproject.toml
  docs/integrations/destinations/xata.md
Labels: area/documentation, area/connectors, connectors/destination/xata, auto-merge, up-to-date

#50899 🐙 source-okta: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-okta/metadata.yaml
  airbyte-integrations/connectors/source-okta/poetry.lock
  airbyte-integrations/connectors/source-okta/pyproject.toml
  docs/integrations/sources/okta.md
Labels: area/documentation, area/connectors, connectors/source/okta, auto-merge, up-to-date

#50898 🐙 source-hubspot: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/poetry.lock
  airbyte-integrations/connectors/source-hubspot/pyproject.toml
  docs/integrations/sources/hubspot.md
Labels: area/documentation, area/connectors, connectors/source/hubspot, auto-merge, up-to-date

#50897 🐙 source-looker: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-looker/metadata.yaml
  airbyte-integrations/connectors/source-looker/poetry.lock
  airbyte-integrations/connectors/source-looker/pyproject.toml
  docs/integrations/sources/looker.md
Labels: area/documentation, area/connectors, connectors/source/looker, auto-merge, up-to-date

#50896 🐙 source-newsdata: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-newsdata/metadata.yaml
  docs/integrations/sources/newsdata.md
Labels: area/documentation, area/connectors, connectors/source/newsdata, auto-merge, up-to-date

#50895 🐙 source-hardcoded-records: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-hardcoded-records/metadata.yaml
  airbyte-integrations/connectors/source-hardcoded-records/poetry.lock
  airbyte-integrations/connectors/source-hardcoded-records/pyproject.toml
  docs/integrations/sources/hardcoded-records.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/hardcoded-records

#50894 🐙 source-mailchimp: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-mailchimp/metadata.yaml
  airbyte-integrations/connectors/source-mailchimp/poetry.lock
  airbyte-integrations/connectors/source-mailchimp/pyproject.toml
  docs/integrations/sources/mailchimp.md
Labels: area/documentation, area/connectors, connectors/source/mailchimp, auto-merge, up-to-date

#50893 🐙 source-klaviyo: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-klaviyo/metadata.yaml
  airbyte-integrations/connectors/source-klaviyo/poetry.lock
  airbyte-integrations/connectors/source-klaviyo/pyproject.toml
  docs/integrations/sources/klaviyo.md
Labels: area/documentation, area/connectors, connectors/source/klaviyo, auto-merge, up-to-date

#50892 🐙 source-jina-ai-reader: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-jina-ai-reader/metadata.yaml
  airbyte-integrations/connectors/source-jina-ai-reader/poetry.lock
  airbyte-integrations/connectors/source-jina-ai-reader/pyproject.toml
  docs/integrations/sources/jina-ai-reader.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/jina-ai-reader

#50891 🐙 source-mixpanel: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-mixpanel/metadata.yaml
  airbyte-integrations/connectors/source-mixpanel/poetry.lock
  airbyte-integrations/connectors/source-mixpanel/pyproject.toml
  docs/integrations/sources/mixpanel.md
Labels: area/documentation, area/connectors, connectors/source/mixpanel, auto-merge, up-to-date

#50890 🐙 source-marketo: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-marketo/metadata.yaml
  airbyte-integrations/connectors/source-marketo/poetry.lock
  airbyte-integrations/connectors/source-marketo/pyproject.toml
  docs/integrations/sources/marketo.md
Labels: area/documentation, area/connectors, connectors/source/marketo, auto-merge, up-to-date

#50889 🐙 source-iterable: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-iterable/metadata.yaml
  airbyte-integrations/connectors/source-iterable/poetry.lock
  airbyte-integrations/connectors/source-iterable/pyproject.toml
  docs/integrations/sources/iterable.md
Labels: area/documentation, area/connectors, connectors/source/iterable, auto-merge, up-to-date

#50888 🐙 source-microsoft-onedrive: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-microsoft-onedrive/metadata.yaml
  airbyte-integrations/connectors/source-microsoft-onedrive/poetry.lock
  airbyte-integrations/connectors/source-microsoft-onedrive/pyproject.toml
  docs/integrations/sources/microsoft-onedrive.md
Labels: area/documentation, area/connectors, connectors/source/microsoft-onedrive, auto-merge, up-to-date

#50887 🐙 source-instatus: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-instatus/metadata.yaml
  airbyte-integrations/connectors/source-instatus/poetry.lock
  airbyte-integrations/connectors/source-instatus/pyproject.toml
  docs/integrations/sources/instatus.md
Labels: area/documentation, area/connectors, connectors/source/instatus, auto-merge, up-to-date

#50886 🐙 source-jira: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-jira/metadata.yaml
  airbyte-integrations/connectors/source-jira/poetry.lock
  airbyte-integrations/connectors/source-jira/pyproject.toml
  docs/integrations/sources/jira.md
Labels: area/documentation, area/connectors, connectors/source/jira, auto-merge, up-to-date

#50657 🐙 source-hellobaton: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-hellobaton/metadata.yaml
  docs/integrations/sources/hellobaton.md
Labels: area/documentation, area/connectors, connectors/source/hellobaton, auto-merge, up-to-date

#50629 🐙 source-harvest: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-harvest/metadata.yaml
  docs/integrations/sources/harvest.md
Labels: area/documentation, area/connectors, connectors/source/harvest, auto-merge, up-to-date

#50927 🐙 source-recharge: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-recharge/metadata.yaml
  airbyte-integrations/connectors/source-recharge/poetry.lock
  airbyte-integrations/connectors/source-recharge/pyproject.toml
  docs/integrations/sources/recharge.md
Labels: area/documentation, area/connectors, connectors/source/recharge, auto-merge, up-to-date

#50926 🐙 source-railz: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-railz/metadata.yaml
  airbyte-integrations/connectors/source-railz/poetry.lock
  airbyte-integrations/connectors/source-railz/pyproject.toml
  docs/integrations/sources/railz.md
Labels: area/documentation, area/connectors, connectors/source/railz, auto-merge, up-to-date

#50925 🐙 source-google-directory: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-google-directory/metadata.yaml
  airbyte-integrations/connectors/source-google-directory/poetry.lock
  airbyte-integrations/connectors/source-google-directory/pyproject.toml
  docs/integrations/sources/google-directory.md
Labels: area/documentation, area/connectors, connectors/source/google-directory, auto-merge, up-to-date

#50924 🐙 source-firebase-realtime-database: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-firebase-realtime-database/metadata.yaml
  airbyte-integrations/connectors/source-firebase-realtime-database/poetry.lock
  airbyte-integrations/connectors/source-firebase-realtime-database/pyproject.toml
  docs/integrations/sources/firebase-realtime-database.md
Labels: area/documentation, area/connectors, connectors/source/firebase-realtime-database, auto-merge, up-to-date

#50923 🐙 source-facebook-pages: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-facebook-pages/metadata.yaml
  airbyte-integrations/connectors/source-facebook-pages/poetry.lock
  airbyte-integrations/connectors/source-facebook-pages/pyproject.toml
  docs/integrations/sources/facebook-pages.md
Labels: area/documentation, area/connectors, connectors/source/facebook-pages, auto-merge, up-to-date

#50922 🐙 source-facebook-marketing: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/poetry.lock
  airbyte-integrations/connectors/source-facebook-marketing/pyproject.toml
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing, auto-merge, up-to-date

#50921 🐙 source-google-analytics-v4: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-google-analytics-v4/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-v4/poetry.lock
  airbyte-integrations/connectors/source-google-analytics-v4/pyproject.toml
  docs/integrations/sources/google-analytics-v4.md
Labels: area/documentation, area/connectors, connectors/source/google-analytics-v4, auto-merge, up-to-date

#50920 🐙 source-close-com: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-close-com/metadata.yaml
  airbyte-integrations/connectors/source-close-com/poetry.lock
  airbyte-integrations/connectors/source-close-com/pyproject.toml
  docs/integrations/sources/close-com.md
Labels: area/documentation, area/connectors, connectors/source/close-com, auto-merge, up-to-date

#50919 🐙 source-google-search-console: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-google-search-console/metadata.yaml
  airbyte-integrations/connectors/source-google-search-console/poetry.lock
  airbyte-integrations/connectors/source-google-search-console/pyproject.toml
  docs/integrations/sources/google-search-console.md
Labels: area/documentation, area/connectors, connectors/source/google-search-console, auto-merge, up-to-date

#50918 🐙 source-commercetools: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-commercetools/metadata.yaml
  airbyte-integrations/connectors/source-commercetools/poetry.lock
  airbyte-integrations/connectors/source-commercetools/pyproject.toml
  docs/integrations/sources/commercetools.md
Labels: area/documentation, area/connectors, connectors/source/commercetools, auto-merge, up-to-date

#50917 🐙 destination-qdrant: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/destination-qdrant/metadata.yaml
  airbyte-integrations/connectors/destination-qdrant/poetry.lock
  airbyte-integrations/connectors/destination-qdrant/pyproject.toml
  docs/integrations/destinations/qdrant.md
Labels: area/documentation, area/connectors, connectors/destination/qdrant, auto-merge, up-to-date

#50916 🐙 destination-milvus: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/destination-milvus/metadata.yaml
  airbyte-integrations/connectors/destination-milvus/poetry.lock
  airbyte-integrations/connectors/destination-milvus/pyproject.toml
  docs/integrations/destinations/milvus.md
Labels: area/documentation, area/connectors, connectors/destination/milvus, auto-merge, up-to-date

#50915 🐙 source-asana: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-asana/metadata.yaml
  airbyte-integrations/connectors/source-asana/poetry.lock
  airbyte-integrations/connectors/source-asana/pyproject.toml
  docs/integrations/sources/asana.md
Labels: area/documentation, area/connectors, connectors/source/asana, auto-merge, up-to-date

#50914 🐙 destination-aws-datalake: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/destination-aws-datalake/metadata.yaml
  airbyte-integrations/connectors/destination-aws-datalake/poetry.lock
  airbyte-integrations/connectors/destination-aws-datalake/pyproject.toml
  docs/integrations/destinations/aws-datalake.md
Labels: area/documentation, area/connectors, connectors/destination/aws-datalake, auto-merge, up-to-date

#50913 🐙 destination-chroma: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/destination-chroma/metadata.yaml
  airbyte-integrations/connectors/destination-chroma/poetry.lock
  airbyte-integrations/connectors/destination-chroma/pyproject.toml
  docs/integrations/destinations/chroma.md
Labels: area/documentation, area/connectors, connectors/destination/chroma, auto-merge, up-to-date

#50912 🐙 destination-google-sheets: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/destination-google-sheets/metadata.yaml
  airbyte-integrations/connectors/destination-google-sheets/poetry.lock
  airbyte-integrations/connectors/destination-google-sheets/pyproject.toml
  docs/integrations/destinations/google-sheets.md
Labels: area/documentation, area/connectors, connectors/destination/google-sheets, auto-merge, up-to-date

#50911 🐙 destination-firestore: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/destination-firestore/metadata.yaml
  airbyte-integrations/connectors/destination-firestore/poetry.lock
  airbyte-integrations/connectors/destination-firestore/pyproject.toml
  docs/integrations/destinations/firestore.md
Labels: area/documentation, area/connectors, connectors/destination/firestore, auto-merge, up-to-date

#50910 🐙 destination-astra: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/destination-astra/metadata.yaml
  airbyte-integrations/connectors/destination-astra/poetry.lock
  airbyte-integrations/connectors/destination-astra/pyproject.toml
  docs/integrations/destinations/astra.md
Labels: area/documentation, area/connectors, connectors/destination/astra, auto-merge, up-to-date

#50908 🐙 destination-weaviate: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/destination-weaviate/metadata.yaml
  airbyte-integrations/connectors/destination-weaviate/poetry.lock
  airbyte-integrations/connectors/destination-weaviate/pyproject.toml
  docs/integrations/destinations/weaviate.md
Labels: area/documentation, area/connectors, connectors/destination/weaviate, auto-merge, up-to-date

#50907 🐙 destination-timeplus: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/destination-timeplus/metadata.yaml
  airbyte-integrations/connectors/destination-timeplus/poetry.lock
  airbyte-integrations/connectors/destination-timeplus/pyproject.toml
  docs/integrations/destinations/timeplus.md
Labels: area/documentation, area/connectors, connectors/destination/timeplus, auto-merge, up-to-date

#50905 🐙 source-bing-ads: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/poetry.lock
  airbyte-integrations/connectors/source-bing-ads/pyproject.toml
  docs/integrations/sources/bing-ads.md
Labels: area/documentation, area/connectors, connectors/source/bing-ads, auto-merge, up-to-date

#50587 🐙 source-fullstory: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-fullstory/metadata.yaml
  docs/integrations/sources/fullstory.md
Labels: area/documentation, area/connectors, connectors/source/fullstory, auto-merge, up-to-date

#50585 🐙 source-deputy: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-deputy/metadata.yaml
  docs/integrations/sources/deputy.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/deputy

#50582 🐙 source-customer-io: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-customer-io/metadata.yaml
  docs/integrations/sources/customer-io.md
Labels: area/documentation, area/connectors, connectors/source/customer-io, auto-merge, up-to-date

#50542 🐙 source-freshcaller: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-freshcaller/metadata.yaml
  airbyte-integrations/connectors/source-freshcaller/poetry.lock
  airbyte-integrations/connectors/source-freshcaller/pyproject.toml
  docs/integrations/sources/freshcaller.md
Labels: area/documentation, area/connectors, connectors/source/freshcaller, auto-merge, up-to-date

#50523 🐙 source-fastbill: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-fastbill/metadata.yaml
  docs/integrations/sources/fastbill.md
Labels: area/documentation, area/connectors, connectors/source/fastbill, auto-merge, up-to-date

#50517 🐙 source-github: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-github/metadata.yaml
  airbyte-integrations/connectors/source-github/poetry.lock
  airbyte-integrations/connectors/source-github/pyproject.toml
  docs/integrations/sources/github.md
Labels: area/documentation, area/connectors, connectors/source/github, auto-merge, up-to-date

#50244 🐙 source-pendo: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-pendo/metadata.yaml
  docs/integrations/sources/pendo.md
Labels: area/documentation, area/connectors, connectors/source/pendo, auto-merge, up-to-date

#50938 🐙 source-shopify: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-shopify/metadata.yaml
  airbyte-integrations/connectors/source-shopify/poetry.lock
  airbyte-integrations/connectors/source-shopify/pyproject.toml
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors, connectors/source/shopify, auto-merge, up-to-date

#50937 🐙 source-typeform: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-typeform/metadata.yaml
  airbyte-integrations/connectors/source-typeform/poetry.lock
  airbyte-integrations/connectors/source-typeform/pyproject.toml
  docs/integrations/sources/typeform.md
Labels: area/documentation, area/connectors, connectors/source/typeform, auto-merge, up-to-date

#50936 🐙 source-surveymonkey: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-surveymonkey/metadata.yaml
  airbyte-integrations/connectors/source-surveymonkey/poetry.lock
  airbyte-integrations/connectors/source-surveymonkey/pyproject.toml
  docs/integrations/sources/surveymonkey.md
Labels: area/documentation, area/connectors, connectors/source/surveymonkey, auto-merge, up-to-date

#50935 🐙 source-rss: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-rss/metadata.yaml
  airbyte-integrations/connectors/source-rss/poetry.lock
  airbyte-integrations/connectors/source-rss/pyproject.toml
  docs/integrations/sources/rss.md
Labels: area/documentation, area/connectors, connectors/source/rss, auto-merge, up-to-date

#50934 🐙 source-partnerstack: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-partnerstack/metadata.yaml
  airbyte-integrations/connectors/source-partnerstack/poetry.lock
  airbyte-integrations/connectors/source-partnerstack/pyproject.toml
  docs/integrations/sources/partnerstack.md
Labels: area/documentation, area/connectors, connectors/source/partnerstack, auto-merge, up-to-date

#50933 🐙 source-pinterest: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-pinterest/metadata.yaml
  airbyte-integrations/connectors/source-pinterest/poetry.lock
  airbyte-integrations/connectors/source-pinterest/pyproject.toml
  docs/integrations/sources/pinterest.md
Labels: area/documentation, area/connectors, connectors/source/pinterest, auto-merge, up-to-date

#50932 🐙 source-s3: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-s3/metadata.yaml
  airbyte-integrations/connectors/source-s3/poetry.lock
  airbyte-integrations/connectors/source-s3/pyproject.toml
  docs/integrations/sources/s3.md
Labels: area/documentation, area/connectors, connectors/source/s3, auto-merge, up-to-date

#50931 🐙 source-outreach: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-outreach/metadata.yaml
  airbyte-integrations/connectors/source-outreach/poetry.lock
  airbyte-integrations/connectors/source-outreach/pyproject.toml
  docs/integrations/sources/outreach.md
Labels: area/documentation, area/connectors, connectors/source/outreach, auto-merge, up-to-date

#50930 🐙 source-sentry: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-sentry/metadata.yaml
  airbyte-integrations/connectors/source-sentry/poetry.lock
  airbyte-integrations/connectors/source-sentry/pyproject.toml
  docs/integrations/sources/sentry.md
Labels: area/documentation, area/connectors, connectors/source/sentry, auto-merge, up-to-date

#50929 🐙 source-pipedrive: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-pipedrive/metadata.yaml
  airbyte-integrations/connectors/source-pipedrive/poetry.lock
  airbyte-integrations/connectors/source-pipedrive/pyproject.toml
  docs/integrations/sources/pipedrive.md
Labels: area/documentation, area/connectors, connectors/source/pipedrive, auto-merge, up-to-date

#50928 🐙 source-public-apis: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-public-apis/metadata.yaml
  airbyte-integrations/connectors/source-public-apis/poetry.lock
  airbyte-integrations/connectors/source-public-apis/pyproject.toml
  docs/integrations/sources/public-apis.md
Labels: area/documentation, area/connectors, connectors/source/public-apis, auto-merge, up-to-date

#50753 🐙 source-youtube-data: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-youtube-data/metadata.yaml
  docs/integrations/sources/youtube-data.md
Labels: area/documentation, area/connectors, connectors/source/youtube-data, auto-merge, up-to-date

#50749 🐙 source-statuspage: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-statuspage/metadata.yaml
  docs/integrations/sources/statuspage.md
Labels: area/documentation, area/connectors, connectors/source/statuspage, auto-merge, up-to-date

#50748 🐙 source-solarwinds-service-desk: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-solarwinds-service-desk/metadata.yaml
  docs/integrations/sources/solarwinds-service-desk.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/solarwinds-service-desk

#50287 🐙 source-primetric: run up-to-date pipeline [2025-01-04]
  airbyte-integrations/connectors/source-primetric/metadata.yaml
  docs/integrations/sources/primetric.md
Labels: area/documentation, area/connectors, connectors/source/primetric, auto-merge, up-to-date

#50870 source-postgres: bump base image version to 2.0.0
  airbyte-integrations/connectors/source-postgres/metadata.yaml
  docs/integrations/sources/postgres.md
Labels: area/documentation, area/connectors, connectors/source/postgres

#49903 destination-redshift: Use airbyte/java-connector-base:1.0.0
  airbyte-integrations/connectors/destination-redshift/metadata.yaml
  docs/integrations/destinations/redshift.md
Labels: area/documentation, area/connectors, connectors/destination/redshift, base-image-migration

#50943 source-mssql: make it non root
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  docs/integrations/sources/mssql.md
Labels: area/documentation, area/connectors, connectors/source/mssql

#49911 source-snowflake: Use airbyte/java-connector-base:1.0.0
  airbyte-integrations/connectors/source-snowflake/metadata.yaml
  docs/integrations/sources/snowflake.md
Labels: area/documentation, area/connectors, connectors/source/snowflake, base-image-migration

#50949 Destination S3-V2: Release candidate with avro union fix
  airbyte-integrations/connectors/destination-s3/build.gradle
  airbyte-integrations/connectors/destination-s3/metadata.yaml
  docs/integrations/destinations/s3.md
Labels: area/documentation, area/connectors, connectors/destination/s3

#49926 Jamhouston/source recharge add stream bundle selections
  airbyte-integrations/connectors/source-recharge/acceptance-test-config.yml
  airbyte-integrations/connectors/source-recharge/integration_tests/abnormal_state.json
  airbyte-integrations/connectors/source-recharge/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/source-recharge/integration_tests/streams_with_output_records_catalog.json
  airbyte-integrations/connectors/source-recharge/metadata.yaml
  airbyte-integrations/connectors/source-recharge/poetry.lock
  airbyte-integrations/connectors/source-recharge/pyproject.toml
  airbyte-integrations/connectors/source-recharge/sample_files/sample_state.json
  airbyte-integrations/connectors/source-recharge/source_recharge/manifest.yaml
  airbyte-integrations/connectors/source-recharge/source_recharge/schemas/bundle_selections.json
  airbyte-integrations/connectors/source-recharge/unit_tests/integration/streams/test_bundle_selections.py
  airbyte-integrations/connectors/source-recharge/unit_tests/resource/http/response/bundle_selections.json
  airbyte-integrations/connectors/source-recharge/unit_tests/test_streams.py
  docs/integrations/sources/recharge.md
Labels: area/documentation, area/connectors, connectors/source/recharge

#50398 ✨ Source Azure Blob Storage: add client_credentials auth
  airbyte-integrations/connectors/source-azure-blob-storage/integration_tests/spec.json
  airbyte-integrations/connectors/source-azure-blob-storage/metadata.yaml
  airbyte-integrations/connectors/source-azure-blob-storage/pyproject.toml
  airbyte-integrations/connectors/source-azure-blob-storage/source_azure_blob_storage/spec.py
  airbyte-integrations/connectors/source-azure-blob-storage/source_azure_blob_storage/stream_reader.py
  airbyte-integrations/connectors/source-azure-blob-storage/unit_tests/test_authenticator.py
  airbyte-integrations/connectors/source-azure-blob-storage/unit_tests/test_config_migration.py
  docs/integrations/sources/azure-blob-storage.md
Labels: area/documentation, area/connectors, community, connectors/source/azure-blob-storage

#50952 Bulk Load CDK: Guard against multiple runs of close stream
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/task/DestinationTaskLauncher.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/task/DestinationTaskLauncherUTest.kt
Labels: CDK

#50953 Bulk Load CDK: Obj Storage Toolkit: Safer concurrent access to destin…
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/state/object_storage/ObjectStorageDestinationStateManager.kt
Labels: CDK

#50859 Destination S3V2: fix deps
  airbyte-integrations/connectors/destination-s3/build.gradle
Labels: area/connectors, connectors/destination/s3, connectors/destination/s3-v2

#50884 ✨ Source Shopify: Add `moments` field to CustomerJourneySummary stream
  airbyte-integrations/connectors/source-shopify/metadata.yaml
  airbyte-integrations/connectors/source-shopify/poetry.lock
  airbyte-integrations/connectors/source-shopify/pyproject.toml
  airbyte-integrations/connectors/source-shopify/source_shopify/schemas/customer_journey_summary.json
  airbyte-integrations/connectors/source-shopify/source_shopify/shopify_graphql/bulk/query.py
  docs/integrations/sources/shopify.md
Labels: area/documentation, area/connectors, community, connectors/source/shopify

#50954 Destination S3 V2: Release candidate with multipler closure fix
  airbyte-integrations/connectors/destination-s3/build.gradle
  airbyte-integrations/connectors/destination-s3/metadata.yaml
  docs/integrations/destinations/s3.md
Labels: area/documentation, area/connectors, connectors/destination/s3

#50961 Re-enable test
  airbyte-integrations/connectors/destination-dev-null/src/test-integration/kotlin/io/airbyte/integrations/destination/dev_null/DevNullBasicFunctionalityIntegrationTest.kt
  airbyte-integrations/connectors/destination-iceberg-v2/src/test-integration/kotlin/io/airbyte/integrations/destination/iceberg/v2/IcebergV2WriteTest.kt
Labels: area/connectors, connectors/destination/dev-null, connectors/destination/iceberg-v2

#50967 bulk-cdk-toolkit-extract-cdc: fix CustomConverter bug
  airbyte-cdk/bulk/toolkits/extract-cdc/src/main/kotlin/io/airbyte/cdk/read/cdc/RelationalColumnCustomConverter.kt
Labels: CDK

#50399 bulk-cdk-toolkit-extract-jdbc: remove converters
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/jdbc/converters/DataTypeUtils.kt
  airbyte-cdk/bulk/toolkits/extract-jdbc/src/main/kotlin/io/airbyte/cdk/jdbc/converters/DateTimeConverter.kt
Labels: CDK

#50965 source-mysql: fix converter bug
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  airbyte-integrations/connectors/source-mysql/src/main/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceCdcBooleanConverter.kt
  airbyte-integrations/connectors/source-mysql/src/main/kotlin/io/airbyte/integrations/source/mysql/MySqlSourceCdcTemporalConverter.kt
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, connectors/source/mysql

#50985 Lazebnyi/source linkedin ads move custom streams to manifest only
  airbyte-integrations/connectors/source-linkedin-ads/metadata.yaml
  airbyte-integrations/connectors/source-linkedin-ads/poetry.lock
  airbyte-integrations/connectors/source-linkedin-ads/pyproject.toml
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/manifest.yaml
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/run.py
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/source.py
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/test_config_migration.py
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/test_source.py
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/test_streams.py
  docs/integrations/sources/linkedin-ads.md
Labels: area/documentation, area/connectors

#50986 bulk-cdk-toolkit-extract-cdc: bump debezium shutdown timeout
  airbyte-cdk/bulk/toolkits/extract-cdc/src/main/kotlin/io/airbyte/cdk/read/cdc/DebeziumPropertiesBuilder.kt
Labels: CDK

#50968 Destination S3 Data Lake: Easier beta logistics
  airbyte-integrations/connectors/destination-s3-data-lake/README.md
  airbyte-integrations/connectors/destination-s3-data-lake/build.gradle
  airbyte-integrations/connectors/destination-s3-data-lake/gradle.properties
  airbyte-integrations/connectors/destination-s3-data-lake/icon.svg
  airbyte-integrations/connectors/destination-s3-data-lake/metadata.yaml
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/java/io/airbyte/integrations/destination/iceberg/v2/io/BaseDeltaTaskWriter.java
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/iceberg/v2/GlueCredentialsProvider.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/iceberg/v2/IcebergDestination.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/iceberg/v2/IcebergStreamLoader.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/iceberg/v2/IcebergV2Checker.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/iceberg/v2/IcebergV2Configuration.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/iceberg/v2/IcebergV2Specification.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/iceberg/v2/IcebergV2Writer.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/iceberg/v2/TableIdGenerator.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/iceberg/v2/io/IcebergTableCleaner.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/iceberg/v2/io/IcebergTableWriterFactory.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/iceberg/v2/io/IcebergUtil.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/iceberg/v2/io/Operation.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/iceberg/v2/io/PartitionedWriters.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/iceberg/v2/io/RecordWrapper.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/iceberg/v2/io/UnpartitionedWriters.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/iceberg/v2/IcebergDestinationCleaner.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/iceberg/v2/IcebergExpectedRecordMapper.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/iceberg/v2/IcebergV2CheckTest.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/iceberg/v2/IcebergV2DataDumper.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/iceberg/v2/IcebergV2SpecTest.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/iceberg/v2/IcebergV2TestUtil.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/iceberg/v2/IcebergV2WriteTest.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/iceberg/v2/NessieTestContainers.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/resources/expected-spec-oss.json
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/resources/nessie/authn-keycloak/config/iceberg-realm.json
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/resources/nessie/docker-compose.yml
  airbyte-integrations/connectors/destination-s3-data-lake/src/test/kotlin/io/airbyte/integrations/destination/iceberg/v2/IcebergV2WriterTest.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test/kotlin/io/airbyte/integrations/destination/iceberg/v2/io/BaseDeltaTaskWriterTest.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test/kotlin/io/airbyte/integrations/destination/iceberg/v2/io/IcebergTableCleanerTest.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test/kotlin/io/airbyte/integrations/destination/iceberg/v2/io/IcebergTableWriterFactoryTest.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test/kotlin/io/airbyte/integrations/destination/iceberg/v2/io/IcebergUtilTest.kt
Labels: area/connectors, connectors/destination/s3-data-lake

#50987 source-mysql: use CDK version 257
  airbyte-integrations/connectors/source-mysql/build.gradle
  airbyte-integrations/connectors/source-mysql/metadata.yaml
  docs/integrations/sources/mysql.md
Labels: area/documentation, area/connectors, connectors/source/mysql

#50980 Update api-documentation.md
  docs/api-documentation.md
Labels: area/documentation

#50992 ci: fix failing `airbyte-ci-install` (related to `ubuntu-latest` image no longer compatible with `airbyte-ci` binaries)
  .github/actions/install-airbyte-ci/action.yml
  .github/workflows/connectors_tests.yml
  .github/workflows/connectors_version_increment_check.yml
  .github/workflows/gradle.yml
  .github/workflows/live_tests.yml
  .github/workflows/publish-bulk-cdk.yml
  .github/workflows/publish-java-cdk-command.yml
  .github/workflows/regression_tests.yml
Labels: connectors/source/pokeapi

#50995 chore: config aws s3 sdk to avoid connection closed error 2
  airbyte-cdk/bulk/toolkits/load-s3/build.gradle
  airbyte-cdk/bulk/toolkits/load-s3/src/main/kotlin/io/airbyte/cdk/load/file/s3/S3Client.kt
Labels: CDK

#50991 Destination S3 Data Lake: update metadata, add docs
  airbyte-integrations/connectors/destination-s3-data-lake/metadata.yaml
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/resources/expected-spec-oss.json
  docs/integrations/destinations/s3-data-lake.md
Labels: area/documentation, area/connectors, connectors/destination/s3-data-lake

#49887 destination-postgres: Use airbyte/java-connector-base:1.0.0
  airbyte-integrations/connectors/destination-postgres-strict-encrypt/metadata.yaml
  airbyte-integrations/connectors/destination-postgres/metadata.yaml
  docs/integrations/destinations/postgres.md
Labels: area/documentation, area/connectors, connectors/destination/postgres, connectors/destination/postgres-strict-encrypt, base-image-migration

#49898 destination-databricks: Use airbyte/java-connector-base:1.0.0
  airbyte-integrations/connectors/destination-databricks/metadata.yaml
  docs/integrations/destinations/databricks.md
Labels: area/documentation, area/connectors, connectors/destination/databricks, base-image-migration

#49902 destination-bigquery: Use airbyte/java-connector-base:1.0.0
  airbyte-integrations/connectors/destination-bigquery/metadata.yaml
  docs/integrations/destinations/bigquery.md
Labels: area/documentation, area/connectors, connectors/destination/bigquery, base-image-migration

#50994 [enterprise-source-netsuite] netsuite doc
  docs/integrations/enterprise-connectors/source-netsuite.md
Labels: area/documentation

#50957 [Iceberg] Add support for RBAC (assume aws role) auth
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/IntegrationTest.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/destination_process/DockerizedDestination.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/destination_process/NonDockerizedDestination.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/BasicFunctionalityIntegrationTest.kt
  airbyte-cdk/bulk/toolkits/load-iceberg-parquet/src/main/kotlin/io/airbyte/cdk/load/command/iceberg/parquet/IcebergCatalogSpecifications.kt
  airbyte-integrations/connectors/destination-s3-data-lake/metadata.yaml
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/iceberg/v2/IcebergV2Writer.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/iceberg/v2/io/IcebergUtil.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/iceberg/v2/IcebergV2DataDumper.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/iceberg/v2/IcebergV2TestUtil.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/iceberg/v2/IcebergV2WriteTest.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/resources/expected-spec-cloud.json
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/resources/expected-spec-oss.json
  docs/integrations/destinations/s3-data-lake.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/iceberg-v2, connectors/destination/s3-data-lake

#50989 Destination S3V2: Restore Thread-Safety to Unique Key Counter
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/state/object_storage/ObjectStorageDestinationStateManager.kt
  airbyte-integrations/connectors/destination-s3/build.gradle
  airbyte-integrations/connectors/destination-s3/gradle.properties
  airbyte-integrations/connectors/destination-s3/metadata.yaml
  airbyte-integrations/connectors/destination-s3/src/main/kotlin/S3V2Checker.kt
  airbyte-integrations/connectors/destination-s3/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_v2/S3V2WriteTest.kt
  docs/integrations/destinations/s3.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/s3

#51015 Bulk Load CDK: Obj Storage Kit: Fix: Nested gen map
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/state/object_storage/ObjectStorageDestinationStateManager.kt
  airbyte-integrations/connectors/destination-s3/metadata.yaml
  docs/integrations/destinations/s3.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/s3

#51022 [S3 Data Lake] Rename every class to remove references to Iceberg v2 - Part 2
  airbyte-integrations/connectors/destination-s3-data-lake/metadata.yaml
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeChecker.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeConfiguration.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeDestination.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeSpecification.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeStreamLoader.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeWriter.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/TableIdGenerator.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/io/S3DataLakeTableCleaner.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/io/S3DataLakeTableWriterFactory.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/io/S3DataLakeUtil.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeCheckTest.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeDataDumper.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeDestinationCleaner.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeExpectedRecordMapper.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeSpecTest.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeTestUtil.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeWriteTest.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeWriterTest.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test/kotlin/io/airbyte/integrations/destination/s3_data_lake/io/S3DataLakeTableCleanerTest.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test/kotlin/io/airbyte/integrations/destination/s3_data_lake/io/S3DataLakeTableWriterFactoryTest.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test/kotlin/io/airbyte/integrations/destination/s3_data_lake/io/S3DataLakeUtilTest.kt
  docs/integrations/destinations/s3-data-lake.md
Labels: area/documentation, area/connectors, connectors/destination/s3-data-lake

#48863 feat(source-linkedin-ads): move custom streams to manifest only
  airbyte-integrations/connectors/source-linkedin-ads/metadata.yaml
  airbyte-integrations/connectors/source-linkedin-ads/poetry.lock
  airbyte-integrations/connectors/source-linkedin-ads/pyproject.toml
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/components.py
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/manifest.yaml
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/run.py
  airbyte-integrations/connectors/source-linkedin-ads/source_linkedin_ads/source.py
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/conftest.py
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/test_config_migration.py
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/test_source.py
  airbyte-integrations/connectors/source-linkedin-ads/unit_tests/test_streams.py
  docs/integrations/sources/linkedin-ads.md
Labels: area/documentation, area/connectors, connectors/source/linkedin-ads

#51021 chore: Use CRT http engine.
  airbyte-cdk/bulk/toolkits/load-s3/build.gradle
  airbyte-cdk/bulk/toolkits/load-s3/src/main/kotlin/io/airbyte/cdk/load/file/s3/S3Client.kt
Labels: CDK

#50400 feat: implement schema comparison logic
  airbyte-integrations/connectors/destination-s3-data-lake/metadata.yaml
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeTypesComparator.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeTypesComparatorTest.kt
  docs/integrations/destinations/s3-data-lake.md
Labels: area/documentation, area/connectors, connectors/destination/iceberg-v2, connectors/destination/s3-data-lake

#49827 [airbyte-ci/auto-merge] - Updates PR pipeline to bypass CI checks for promoted release candidate PRs
  airbyte-ci/connectors/auto_merge/README.md
  airbyte-ci/connectors/auto_merge/pyproject.toml
  airbyte-ci/connectors/auto_merge/src/auto_merge/consts.py
  airbyte-ci/connectors/auto_merge/src/auto_merge/main.py
  airbyte-ci/connectors/auto_merge/src/auto_merge/pr_validators.py
  airbyte-ci/connectors/pipelines/README.md
  airbyte-ci/connectors/pipelines/pipelines/airbyte_ci/connectors/publish/pipeline.py
  airbyte-ci/connectors/pipelines/pipelines/helpers/utils.py
  airbyte-ci/connectors/pipelines/poetry.lock
  airbyte-ci/connectors/pipelines/pyproject.toml
  airbyte-ci/connectors/pipelines/tests/test_helpers/test_execution/test_run_steps.py
Labels: area/airbyte-ci

#51019 Bulk Load CDK: Remove interface from scope provider and migrate tests
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/task/DestinationTaskLauncher.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/task/Task.kt
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/task/TaskScopeProvider.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/task/DestinationTaskLauncherTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/task/DestinationTaskLauncherUTest.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/task/MockScopeProvider.kt
Labels: CDK

#51023 fix: avoid okhttp idle connection handling errors.
  airbyte-integrations/connectors/destination-s3/metadata.yaml
  docs/integrations/destinations/s3.md
Labels: area/documentation, area/connectors, connectors/destination/s3

#50984 fix: (DeclarativeOAuthFlow) - update the `source-monday` spec to use the `Jinja2` style variables declaration
  airbyte-integrations/connectors/source-monday/metadata.yaml
  airbyte-integrations/connectors/source-monday/pyproject.toml
  airbyte-integrations/connectors/source-monday/source_monday/spec.json
  docs/integrations/sources/monday.md
Labels: area/documentation, area/connectors, area/oauth, connectors/source/monday, declarative-oauth-flow

#51035 fix: (source-monday) - fix the `oauth_connector_input_specification` structure
  airbyte-integrations/connectors/source-monday/source_monday/spec.json
Labels: area/connectors, connectors/source/monday

#50862 [docs] improve docs on incremental sync around cursor granularity
  docs/connector-development/config-based/understanding-the-yaml-file/incremental-syncs.md
  docs/connector-development/connector-builder-ui/incremental-sync.md
Labels: area/documentation, community

#50971 Destination S3 Data Lake: avoid System.setProperty in assume role mode
  airbyte-cdk/bulk/toolkits/load-s3/src/main/kotlin/io/airbyte/cdk/load/file/s3/S3Client.kt
  airbyte-integrations/connectors/destination-s3-data-lake/metadata.yaml
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/GlueCredentialsProvider.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/io/S3DataLakeUtil.kt
  docs/integrations/destinations/s3-data-lake.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/iceberg-v2, connectors/destination/s3-data-lake

#50402 docs: add oss api access information
  docs/api-documentation.md
Labels: area/documentation, community

#50960 destination-s3: Use airbyte/java-connector-base:1.0.0
  airbyte-integrations/connectors/destination-s3/metadata.yaml
  docs/integrations/destinations/s3.md
Labels: area/documentation, area/connectors, connectors/destination/s3, base-image-migration

#50876 Destination Iceberg V2: support aws instance profile auth
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/check/CheckOperation.kt
  airbyte-integrations/connectors/destination-s3-data-lake/metadata.yaml
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/GlueCredentialsProvider.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/main/kotlin/io/airbyte/integrations/destination/s3_data_lake/io/S3DataLakeUtil.kt
  docs/integrations/destinations/s3-data-lake.md
Labels: area/documentation, area/connectors, CDK, connectors/destination/iceberg-v2, connectors/destination/s3-data-lake

#51039 Destination S3-V2: Bug: Honor path variables in bucket prefix
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/file/object_storage/ObjectStoragePathFactory.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/test/kotlin/io/airbyte/cdk/load/file/object_storage/ObjectStoragePathFactoryUTest.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/test/kotlin/io/airbyte/cdk/load/state/object_storage/ObjectStorageDestinationStateTest.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/testFixtures/kotlin/io/airbyte/cdk/load/MockPathFactory.kt
Labels: CDK

#51043 Destination-S3-V2: Bug: Do not hang on stream missing state
  airbyte-cdk/bulk/core/load/src/main/kotlin/io/airbyte/cdk/load/state/CheckpointManager.kt
  airbyte-cdk/bulk/core/load/src/test/kotlin/io/airbyte/cdk/load/state/CheckpointManagerUTest.kt
Labels: CDK

#51049 Destination S3-V2: Resolve away null namespaces
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/file/object_storage/ObjectStoragePathFactory.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/test/kotlin/io/airbyte/cdk/load/file/object_storage/ObjectStoragePathFactoryUTest.kt
Labels: CDK

#51099 🐙 source-finnworlds: run up-to-date pipeline [2025-01-11]
  airbyte-integrations/connectors/source-finnworlds/metadata.yaml
  docs/integrations/sources/finnworlds.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/finnworlds

#51098 🐙 source-google-directory: run up-to-date pipeline [2025-01-11]
  airbyte-integrations/connectors/source-google-directory/metadata.yaml
  airbyte-integrations/connectors/source-google-directory/poetry.lock
  airbyte-integrations/connectors/source-google-directory/pyproject.toml
  docs/integrations/sources/google-directory.md
Labels: area/documentation, area/connectors, connectors/source/google-directory, auto-merge, up-to-date

#51096 🐙 source-drift: run up-to-date pipeline [2025-01-11]
  airbyte-integrations/connectors/source-drift/metadata.yaml
  docs/integrations/sources/drift.md
Labels: area/documentation, area/connectors, connectors/source/drift, auto-merge, up-to-date

#51095 🐙 source-ezofficeinventory: run up-to-date pipeline [2025-01-11]
  airbyte-integrations/connectors/source-ezofficeinventory/metadata.yaml
  docs/integrations/sources/ezofficeinventory.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/ezofficeinventory

#51094 🐙 source-convex: run up-to-date pipeline [2025-01-11]
  airbyte-integrations/connectors/source-convex/metadata.yaml
  airbyte-integrations/connectors/source-convex/poetry.lock
  airbyte-integrations/connectors/source-convex/pyproject.toml
  docs/integrations/sources/convex.md
Labels: area/documentation, area/connectors, connectors/source/convex, auto-merge, up-to-date

#51092 🐙 source-delighted: run up-to-date pipeline [2025-01-11]
  airbyte-integrations/connectors/source-delighted/metadata.yaml
  docs/integrations/sources/delighted.md
Labels: area/documentation, area/connectors, connectors/source/delighted, auto-merge, up-to-date

#51091 🐙 source-formbricks: run up-to-date pipeline [2025-01-11]
  airbyte-integrations/connectors/source-formbricks/metadata.yaml
  docs/integrations/sources/formbricks.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/formbricks

#51090 🐙 source-gainsight-px: run up-to-date pipeline [2025-01-11]
  airbyte-integrations/connectors/source-gainsight-px/metadata.yaml
  docs/integrations/sources/gainsight-px.md
Labels: area/documentation, area/connectors, connectors/source/gainsight-px, auto-merge, up-to-date

#51089 🐙 source-easypromos: run up-to-date pipeline [2025-01-11]
  airbyte-integrations/connectors/source-easypromos/metadata.yaml
  docs/integrations/sources/easypromos.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/easypromos

#51088 🐙 source-codefresh: run up-to-date pipeline [2025-01-11]
  airbyte-integrations/connectors/source-codefresh/metadata.yaml
  docs/integrations/sources/codefresh.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/codefresh

#51087 🐙 source-freshbooks: run up-to-date pipeline [2025-01-11]
  airbyte-integrations/connectors/source-freshbooks/metadata.yaml
  docs/integrations/sources/freshbooks.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/freshbooks

#51086 🐙 source-dbt: run up-to-date pipeline [2025-01-11]
  airbyte-integrations/connectors/source-dbt/metadata.yaml
  docs/integrations/sources/dbt.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/dbt

#51085 🐙 source-getgist: run up-to-date pipeline [2025-01-11]
  airbyte-integrations/connectors/source-getgist/metadata.yaml
  docs/integrations/sources/getgist.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/getgist

#51084 🐙 source-flexport: run up-to-date pipeline [2025-01-11]
  airbyte-integrations/connectors/source-flexport/metadata.yaml
  docs/integrations/sources/flexport.md
Labels: area/documentation, area/connectors, connectors/source/flexport, auto-merge, up-to-date

#51082 🐙 source-easypost: run up-to-date pipeline [2025-01-11]
  airbyte-integrations/connectors/source-easypost/metadata.yaml
  docs/integrations/sources/easypost.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/easypost

#51081 🐙 source-employment-hero: run up-to-date pipeline [2025-01-11]
  airbyte-integrations/connectors/source-employment-hero/metadata.yaml
  docs/integrations/sources/employment-hero.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/employment-hero

#51080 🐙 source-facebook-marketing: run up-to-date pipeline [2025-01-11]
  airbyte-integrations/connectors/source-facebook-marketing/metadata.yaml
  airbyte-integrations/connectors/source-facebook-marketing/poetry.lock
  airbyte-integrations/connectors/source-facebook-marketing/pyproject.toml
  docs/integrations/sources/facebook-marketing.md
Labels: area/documentation, area/connectors, connectors/source/facebook-marketing, auto-merge, up-to-date

#51079 🐙 source-commercetools: run up-to-date pipeline [2025-01-11]
  airbyte-integrations/connectors/source-commercetools/metadata.yaml
  airbyte-integrations/connectors/source-commercetools/poetry.lock
  airbyte-integrations/connectors/source-commercetools/pyproject.toml
  docs/integrations/sources/commercetools.md
Labels: area/documentation, area/connectors, connectors/source/commercetools, auto-merge, up-to-date

#51078 🐙 source-fullstory: run up-to-date pipeline [2025-01-11]
  airbyte-integrations/connectors/source-fullstory/metadata.yaml
  docs/integrations/sources/fullstory.md
Labels: area/documentation, area/connectors, connectors/source/fullstory, auto-merge, up-to-date

#51077 🐙 source-eventee: run up-to-date pipeline [2025-01-11]
  airbyte-integrations/connectors/source-eventee/metadata.yaml
  docs/integrations/sources/eventee.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/eventee

#51076 🐙 source-dropbox-sign: run up-to-date pipeline [2025-01-11]
  airbyte-integrations/connectors/source-dropbox-sign/metadata.yaml
  docs/integrations/sources/dropbox-sign.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/dropbox-sign

#51075 🐙 source-freshservice: run up-to-date pipeline [2025-01-11]
  airbyte-integrations/connectors/source-freshservice/metadata.yaml
  docs/integrations/sources/freshservice.md
Labels: area/documentation, area/connectors, connectors/source/freshservice, auto-merge, up-to-date

#51074 🐙 source-cloudbeds: run up-to-date pipeline [2025-01-11]
  airbyte-integrations/connectors/source-cloudbeds/metadata.yaml
  docs/integrations/sources/cloudbeds.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/cloudbeds

#51073 🐙 source-coda: run up-to-date pipeline [2025-01-11]
  airbyte-integrations/connectors/source-coda/metadata.yaml
  docs/integrations/sources/coda.md
Labels: area/documentation, area/connectors, connectors/source/coda, auto-merge, up-to-date
