Repository airbytehq/airbyte, pull requests merged in 2025-04, with the labels that each got.

#56934 Chore: bump to archive.
  airbyte-integrations/connectors/destination-iceberg/metadata.yaml
  airbyte-integrations/connectors/destination-s3-glue/metadata.yaml
Labels: connectors/destination/iceberg, connectors/destination/s3-glue

#54162 feat(source-stripe): migrate `events`, `shipping_rates`, `balance_transactions`, `files` and `file_links` to low-code
  airbyte-integrations/connectors/source-stripe/acceptance-test-config.yml
  airbyte-integrations/connectors/source-stripe/erd/discovered_catalog.json
  airbyte-integrations/connectors/source-stripe/integration_tests/__init__.py
  airbyte-integrations/connectors/source-stripe/integration_tests/acceptance.py
  airbyte-integrations/connectors/source-stripe/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-stripe/main.py
  airbyte-integrations/connectors/source-stripe/metadata.yaml
  airbyte-integrations/connectors/source-stripe/poetry.lock
  airbyte-integrations/connectors/source-stripe/pyproject.toml
  airbyte-integrations/connectors/source-stripe/source_stripe/__init__.py
  airbyte-integrations/connectors/source-stripe/source_stripe/error_handlers/parent_incremental_stripe_sub_stream_error_handler.py
  airbyte-integrations/connectors/source-stripe/source_stripe/error_handlers/stripe_error_handler.py
  airbyte-integrations/connectors/source-stripe/source_stripe/error_mappings/parent_incremental_stripe_sub_stream_error_mapping.py
  airbyte-integrations/connectors/source-stripe/source_stripe/manifest.yaml
  airbyte-integrations/connectors/source-stripe/source_stripe/run.py
  airbyte-integrations/connectors/source-stripe/source_stripe/source.py
  airbyte-integrations/connectors/source-stripe/source_stripe/spec.yaml
  airbyte-integrations/connectors/source-stripe/source_stripe/streams.py
  airbyte-integrations/connectors/source-stripe/unit_tests/conftest.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/config.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/helpers.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/pagination.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/request_builder.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/response_builder.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_accounts.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_application_fees.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_application_fees_refunds.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_authorizations.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_bank_accounts.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_cards.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_early_fraud_warnings.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_events.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_external_account_bank_accounts.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_external_account_cards.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_payment_methods.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_payout_balance_transactions.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_persons.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_reviews.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_setup_attempts.py
  airbyte-integrations/connectors/source-stripe/unit_tests/integration/test_transactions.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_source.py
  airbyte-integrations/connectors/source-stripe/unit_tests/test_streams.py
  docs/integrations/sources/stripe.md
Labels: area/documentation, area/connectors, connectors/source/stripe

#56946 chore(source-stripe): enable progressive rollout
  airbyte-integrations/connectors/source-stripe/metadata.yaml
Labels: connectors/source/stripe

#56935 Dest-S3: Enable ObjectLoader Interface
  .github/workflows/connectors_pre_release_checks.yml
  .github/workflows/connectors_tests.yml
  .github/workflows/gradle.yml
  .github/workflows/live_tests.yml
  .github/workflows/publish-bulk-cdk.yml
  .github/workflows/publish-java-cdk-command.yml
  .github/workflows/regression_tests.yml
  airbyte-integrations/connectors/destination-s3/metadata.yaml
  airbyte-integrations/connectors/destination-s3/src/main/kotlin/S3V2Configuration.kt
  airbyte-integrations/connectors/destination-s3/src/main/kotlin/S3V2ObjectLoader.kt
  docs/integrations/destinations/s3.md
Labels: connectors/destination/s3

#55912 ✨feat(source-microsoft-sharepoint): add all sites iteration
  airbyte-integrations/connectors/source-microsoft-sharepoint/integration_tests/spec.json
  airbyte-integrations/connectors/source-microsoft-sharepoint/metadata.yaml
  airbyte-integrations/connectors/source-microsoft-sharepoint/poetry.lock
  airbyte-integrations/connectors/source-microsoft-sharepoint/pyproject.toml
  airbyte-integrations/connectors/source-microsoft-sharepoint/source_microsoft_sharepoint/spec.py
  airbyte-integrations/connectors/source-microsoft-sharepoint/source_microsoft_sharepoint/stream_reader.py
  airbyte-integrations/connectors/source-microsoft-sharepoint/source_microsoft_sharepoint/utils.py
  airbyte-integrations/connectors/source-microsoft-sharepoint/unit_tests/test_stream_reader.py
  airbyte-integrations/connectors/source-microsoft-sharepoint/unit_tests/test_utils.py
  docs/integrations/sources/microsoft-sharepoint.md
Labels: connectors/source/microsoft-sharepoint

#56941 source-ebay-finance contribution from adityamohta
  airbyte-integrations/connectors/source-ebay-finance/README.md
  airbyte-integrations/connectors/source-ebay-finance/acceptance-test-config.yml
  airbyte-integrations/connectors/source-ebay-finance/icon.svg
  airbyte-integrations/connectors/source-ebay-finance/manifest.yaml
  airbyte-integrations/connectors/source-ebay-finance/metadata.yaml
  docs/integrations/sources/ebay-finance.md
Labels: community, connectors/source/ebay-finance

#56974 [Dest-S3] Release 1.7.0: S3 Uses ObjectLoader Interface
  airbyte-integrations/connectors/destination-s3/metadata.yaml
  docs/integrations/destinations/s3.md
Labels: connectors/destination/s3

#56973 [source-mongodb-v2] Update logs
  airbyte-integrations/connectors/source-mongodb-v2/metadata.yaml
  airbyte-integrations/connectors/source-mongodb-v2/src/main/java/io/airbyte/integrations/source/mongodb/cdc/MongoDbDebeziumStateUtil.java
  docs/integrations/sources/mongodb-v2.md
Labels: connectors/source/mongodb-v2

#56942 source-cisco-meraki contribution from btkcodedev
  airbyte-integrations/connectors/source-cisco-meraki/README.md
  airbyte-integrations/connectors/source-cisco-meraki/acceptance-test-config.yml
  airbyte-integrations/connectors/source-cisco-meraki/icon.svg
  airbyte-integrations/connectors/source-cisco-meraki/manifest.yaml
  airbyte-integrations/connectors/source-cisco-meraki/metadata.yaml
  docs/integrations/sources/cisco-meraki.md
Labels: connectors/source/cisco-meraki

#56353 Dest-MSSQL: MSSQL Uses BulkLoader Interface
  airbyte-integrations/connectors/destination-mssql/build.gradle.kts
  airbyte-integrations/connectors/destination-mssql/metadata.yaml
  airbyte-integrations/connectors/destination-mssql/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLBulkLoadStreamLoader.kt
  airbyte-integrations/connectors/destination-mssql/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLBulkLoader.kt
  airbyte-integrations/connectors/destination-mssql/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLWriter.kt
  airbyte-integrations/connectors/destination-mssql/src/main/kotlin/io/airbyte/integrations/destination/mssql/v2/config/MSSQLBulkLoadConfiguration.kt
  docs/integrations/destinations/mssql.md
Labels: connectors/destination/s3, connectors/destination/mssql, connectors/destination/s3-data-lake

#56962 source-alpaca-broker-api contribution from btkcodedev
  airbyte-integrations/connectors/source-alpaca-broker-api/README.md
  airbyte-integrations/connectors/source-alpaca-broker-api/acceptance-test-config.yml
  airbyte-integrations/connectors/source-alpaca-broker-api/icon.svg
  airbyte-integrations/connectors/source-alpaca-broker-api/manifest.yaml
  airbyte-integrations/connectors/source-alpaca-broker-api/metadata.yaml
  docs/integrations/sources/alpaca-broker-api.md
Labels: connectors/source/alpaca-broker-api

#56943 source-docuseal contribution from btkcodedev
  airbyte-integrations/connectors/source-docuseal/README.md
  airbyte-integrations/connectors/source-docuseal/acceptance-test-config.yml
  airbyte-integrations/connectors/source-docuseal/icon.svg
  airbyte-integrations/connectors/source-docuseal/manifest.yaml
  airbyte-integrations/connectors/source-docuseal/metadata.yaml
  docs/integrations/sources/docuseal.md
Labels: connectors/source/docuseal

#56919 feat(source-hubspot): Update to CDK v6
  airbyte-integrations/connectors/source-hubspot/integration_tests/test_associations.py
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/poetry.lock
  airbyte-integrations/connectors/source-hubspot/pyproject.toml
  airbyte-integrations/connectors/source-hubspot/source_hubspot/streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/integrations/__init__.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/integrations/test_contacts_form_submissions.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/integrations/test_contacts_list_memberships.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/integrations/test_contacts_merged_audit.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/integrations/test_engagements_calls.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/integrations/test_leads.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/integrations/test_owners_archived.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/integrations/test_web_analytics_streams.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_field_type_converting.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_handle_retry_token_expired.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_source.py
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_streams.py
  docs/integrations/sources/hubspot.md
Labels: connectors/source/hubspot

#56978 Dest-S3: Pin CDK Version
  airbyte-integrations/connectors/destination-s3/build.gradle
  airbyte-integrations/connectors/destination-s3/metadata.yaml
  docs/integrations/destinations/s3.md
Labels: connectors/destination/s3

#56932 source-partnerize contribution from btkcodedev
  airbyte-integrations/connectors/source-partnerize/README.md
  airbyte-integrations/connectors/source-partnerize/acceptance-test-config.yml
  airbyte-integrations/connectors/source-partnerize/icon.svg
  airbyte-integrations/connectors/source-partnerize/manifest.yaml
  airbyte-integrations/connectors/source-partnerize/metadata.yaml
  docs/integrations/sources/partnerize.md
Labels: connectors/source/partnerize

#56951 source-yousign contribution from btkcodedev
  airbyte-integrations/connectors/source-yousign/README.md
  airbyte-integrations/connectors/source-yousign/acceptance-test-config.yml
  airbyte-integrations/connectors/source-yousign/icon.svg
  airbyte-integrations/connectors/source-yousign/manifest.yaml
  airbyte-integrations/connectors/source-yousign/metadata.yaml
  docs/integrations/sources/yousign.md
Labels: connectors/source/yousign

#56977 source-signnow contribution from btkcodedev
  airbyte-integrations/connectors/source-signnow/README.md
  airbyte-integrations/connectors/source-signnow/acceptance-test-config.yml
  airbyte-integrations/connectors/source-signnow/icon.svg
  airbyte-integrations/connectors/source-signnow/manifest.yaml
  airbyte-integrations/connectors/source-signnow/metadata.yaml
  docs/integrations/sources/signnow.md
Labels: connectors/source/signnow

#56998 source-shutterstock contribution from btkcodedev
  airbyte-integrations/connectors/source-shutterstock/README.md
  airbyte-integrations/connectors/source-shutterstock/acceptance-test-config.yml
  airbyte-integrations/connectors/source-shutterstock/icon.svg
  airbyte-integrations/connectors/source-shutterstock/manifest.yaml
  airbyte-integrations/connectors/source-shutterstock/metadata.yaml
  docs/integrations/sources/shutterstock.md
Labels: connectors/source/shutterstock

#57005 source-boldsign contribution from btkcodedev
  airbyte-integrations/connectors/source-boldsign/README.md
  airbyte-integrations/connectors/source-boldsign/acceptance-test-config.yml
  airbyte-integrations/connectors/source-boldsign/icon.svg
  airbyte-integrations/connectors/source-boldsign/manifest.yaml
  airbyte-integrations/connectors/source-boldsign/metadata.yaml
  docs/integrations/sources/boldsign.md
Labels: connectors/source/boldsign

#57010 source-gologin contribution from btkcodedev
  airbyte-integrations/connectors/source-gologin/README.md
  airbyte-integrations/connectors/source-gologin/acceptance-test-config.yml
  airbyte-integrations/connectors/source-gologin/icon.svg
  airbyte-integrations/connectors/source-gologin/manifest.yaml
  airbyte-integrations/connectors/source-gologin/metadata.yaml
  docs/integrations/sources/gologin.md
Labels: connectors/source/gologin

#57012 source-phyllo contribution from btkcodedev
  airbyte-integrations/connectors/source-phyllo/README.md
  airbyte-integrations/connectors/source-phyllo/acceptance-test-config.yml
  airbyte-integrations/connectors/source-phyllo/icon.svg
  airbyte-integrations/connectors/source-phyllo/manifest.yaml
  airbyte-integrations/connectors/source-phyllo/metadata.yaml
  docs/integrations/sources/phyllo.md
Labels: connectors/source/phyllo

#57013 source-ninjaone-rmm contribution from btkcodedev
  airbyte-integrations/connectors/source-ninjaone-rmm/README.md
  airbyte-integrations/connectors/source-ninjaone-rmm/acceptance-test-config.yml
  airbyte-integrations/connectors/source-ninjaone-rmm/icon.svg
  airbyte-integrations/connectors/source-ninjaone-rmm/manifest.yaml
  airbyte-integrations/connectors/source-ninjaone-rmm/metadata.yaml
  docs/integrations/sources/ninjaone-rmm.md
Labels: connectors/source/ninjaone-rmm

#57004 source-dwolla contribution from btkcodedev
  airbyte-integrations/connectors/source-dwolla/README.md
  airbyte-integrations/connectors/source-dwolla/acceptance-test-config.yml
  airbyte-integrations/connectors/source-dwolla/icon.svg
  airbyte-integrations/connectors/source-dwolla/manifest.yaml
  airbyte-integrations/connectors/source-dwolla/metadata.yaml
  docs/integrations/sources/dwolla.md
Labels: connectors/source/dwolla

#57003 source-paddle contribution from btkcodedev
  airbyte-integrations/connectors/source-paddle/README.md
  airbyte-integrations/connectors/source-paddle/acceptance-test-config.yml
  airbyte-integrations/connectors/source-paddle/icon.svg
  airbyte-integrations/connectors/source-paddle/manifest.yaml
  airbyte-integrations/connectors/source-paddle/metadata.yaml
  docs/integrations/sources/paddle.md
Labels: connectors/source/paddle

#57063 🐙 source-google-analytics-data-api: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/poetry.lock
  airbyte-integrations/connectors/source-google-analytics-data-api/pyproject.toml
  docs/integrations/sources/google-analytics-data-api.md
Labels: connectors/source/google-analytics-data-api, auto-merge, up-to-date

#57062 🐙 source-high-level: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-high-level/metadata.yaml
  docs/integrations/sources/high-level.md
Labels: auto-merge, up-to-date, connectors/source/high-level

#57061 🐙 source-greythr: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-greythr/metadata.yaml
  docs/integrations/sources/greythr.md
Labels: auto-merge, up-to-date, connectors/source/greythr

#57060 🐙 source-google-forms: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-google-forms/metadata.yaml
  docs/integrations/sources/google-forms.md
Labels: auto-merge, up-to-date, connectors/source/google-forms

#57059 🐙 source-jotform: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-jotform/metadata.yaml
  docs/integrations/sources/jotform.md
Labels: auto-merge, up-to-date, connectors/source/jotform

#57058 🐙 source-microsoft-onedrive: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-microsoft-onedrive/metadata.yaml
  airbyte-integrations/connectors/source-microsoft-onedrive/poetry.lock
  airbyte-integrations/connectors/source-microsoft-onedrive/pyproject.toml
  docs/integrations/sources/microsoft-onedrive.md
Labels: connectors/source/microsoft-onedrive, auto-merge, up-to-date

#57057 🐙 source-iterable: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-iterable/metadata.yaml
  airbyte-integrations/connectors/source-iterable/poetry.lock
  airbyte-integrations/connectors/source-iterable/pyproject.toml
  docs/integrations/sources/iterable.md
Labels: connectors/source/iterable, auto-merge, up-to-date

#57056 🐙 source-jina-ai-reader: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-jina-ai-reader/metadata.yaml
  airbyte-integrations/connectors/source-jina-ai-reader/poetry.lock
  airbyte-integrations/connectors/source-jina-ai-reader/pyproject.toml
  docs/integrations/sources/jina-ai-reader.md
Labels: auto-merge, up-to-date, connectors/source/jina-ai-reader

#57055 🐙 source-google-analytics-v4: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-google-analytics-v4/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-v4/poetry.lock
  airbyte-integrations/connectors/source-google-analytics-v4/pyproject.toml
  docs/integrations/sources/google-analytics-v4.md
Labels: connectors/source/google-analytics-v4, auto-merge, up-to-date

#57054 🐙 source-kyve: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-kyve/metadata.yaml
  airbyte-integrations/connectors/source-kyve/poetry.lock
  airbyte-integrations/connectors/source-kyve/pyproject.toml
  docs/integrations/sources/kyve.md
Labels: connectors/source/kyve, auto-merge, up-to-date

#57052 🐙 source-leadfeeder: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-leadfeeder/metadata.yaml
  docs/integrations/sources/leadfeeder.md
Labels: auto-merge, up-to-date, connectors/source/leadfeeder

#57051 🐙 source-intruder: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-intruder/metadata.yaml
  docs/integrations/sources/intruder.md
Labels: connectors/source/intruder, auto-merge, up-to-date

#57050 🐙 source-lob: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-lob/metadata.yaml
  docs/integrations/sources/lob.md
Labels: auto-merge, up-to-date, connectors/source/lob

#57049 🐙 source-klarna: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-klarna/metadata.yaml
  docs/integrations/sources/klarna.md
Labels: connectors/source/klarna, auto-merge, up-to-date

#57048 🐙 source-missive: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-missive/metadata.yaml
  docs/integrations/sources/missive.md
Labels: auto-merge, up-to-date, connectors/source/missive

#57047 🐙 source-less-annoying-crm: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-less-annoying-crm/metadata.yaml
  docs/integrations/sources/less-annoying-crm.md
Labels: auto-merge, up-to-date, connectors/source/less-annoying-crm

#57046 🐙 source-gutendex: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-gutendex/metadata.yaml
  docs/integrations/sources/gutendex.md
Labels: connectors/source/gutendex, auto-merge, up-to-date

#57045 🐙 source-invoiced: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-invoiced/metadata.yaml
  docs/integrations/sources/invoiced.md
Labels: auto-merge, up-to-date, connectors/source/invoiced

#57044 🐙 source-gologin: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-gologin/metadata.yaml
  docs/integrations/sources/gologin.md
Labels: auto-merge, up-to-date, connectors/source/gologin

#57043 🐙 source-mailchimp: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-mailchimp/metadata.yaml
  airbyte-integrations/connectors/source-mailchimp/poetry.lock
  airbyte-integrations/connectors/source-mailchimp/pyproject.toml
  docs/integrations/sources/mailchimp.md
Labels: connectors/source/mailchimp, auto-merge, up-to-date

#57042 🐙 source-microsoft-lists: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-microsoft-lists/metadata.yaml
  docs/integrations/sources/microsoft-lists.md
Labels: auto-merge, up-to-date, connectors/source/microsoft-lists

#57041 🐙 source-gorgias: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-gorgias/metadata.yaml
  docs/integrations/sources/gorgias.md
Labels: connectors/source/gorgias, auto-merge, up-to-date

#57040 🐙 source-mixmax: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-mixmax/metadata.yaml
  docs/integrations/sources/mixmax.md
Labels: auto-merge, up-to-date, connectors/source/mixmax

#57038 🐙 source-mailersend: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-mailersend/metadata.yaml
  docs/integrations/sources/mailersend.md
Labels: connectors/source/mailersend, auto-merge, up-to-date

#57037 🐙 source-hugging-face-datasets: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-hugging-face-datasets/metadata.yaml
  docs/integrations/sources/hugging-face-datasets.md
Labels: auto-merge, up-to-date, connectors/source/hugging-face-datasets

#57036 🐙 source-just-sift: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-just-sift/metadata.yaml
  docs/integrations/sources/just-sift.md
Labels: auto-merge, up-to-date, connectors/source/just-sift

#57035 🐙 source-launchdarkly: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-launchdarkly/metadata.yaml
  docs/integrations/sources/launchdarkly.md
Labels: connectors/source/launchdarkly, auto-merge, up-to-date

#57034 🐙 source-harvest: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-harvest/metadata.yaml
  docs/integrations/sources/harvest.md
Labels: connectors/source/harvest, auto-merge, up-to-date

#57033 🐙 source-klaviyo: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-klaviyo/metadata.yaml
  docs/integrations/sources/klaviyo.md
Labels: connectors/source/klaviyo, auto-merge, up-to-date

#57032 🐙 source-google-tasks: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-google-tasks/metadata.yaml
  docs/integrations/sources/google-tasks.md
Labels: auto-merge, up-to-date, connectors/source/google-tasks

#57031 🐙 source-help-scout: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-help-scout/metadata.yaml
  docs/integrations/sources/help-scout.md
Labels: connectors/source/help-scout, auto-merge, up-to-date

#57030 🐙 source-kissmetrics: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-kissmetrics/metadata.yaml
  docs/integrations/sources/kissmetrics.md
Labels: auto-merge, up-to-date, connectors/source/kissmetrics

#57029 🐙 source-mailgun: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-mailgun/metadata.yaml
  docs/integrations/sources/mailgun.md
Labels: connectors/source/mailgun, auto-merge, up-to-date

#57028 🐙 source-hubplanner: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-hubplanner/metadata.yaml
  docs/integrations/sources/hubplanner.md
Labels: connectors/source/hubplanner, auto-merge, up-to-date

#57027 🐙 source-justcall: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-justcall/metadata.yaml
  docs/integrations/sources/justcall.md
Labels: auto-merge, up-to-date, connectors/source/justcall

#57026 🐙 source-looker: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-looker/metadata.yaml
  airbyte-integrations/connectors/source-looker/poetry.lock
  airbyte-integrations/connectors/source-looker/pyproject.toml
  docs/integrations/sources/looker.md
Labels: connectors/source/looker, auto-merge, up-to-date

#57025 🐙 source-kyriba: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-kyriba/metadata.yaml
  airbyte-integrations/connectors/source-kyriba/poetry.lock
  airbyte-integrations/connectors/source-kyriba/pyproject.toml
  docs/integrations/sources/kyriba.md
Labels: connectors/source/kyriba, auto-merge, up-to-date

#57024 🐙 source-google-directory: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-google-directory/metadata.yaml
  airbyte-integrations/connectors/source-google-directory/poetry.lock
  airbyte-integrations/connectors/source-google-directory/pyproject.toml
  docs/integrations/sources/google-directory.md
Labels: connectors/source/google-directory, auto-merge, up-to-date

#57114 🐙 destination-sftp-json: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/destination-sftp-json/metadata.yaml
  airbyte-integrations/connectors/destination-sftp-json/poetry.lock
  airbyte-integrations/connectors/destination-sftp-json/pyproject.toml
  docs/integrations/destinations/sftp-json.md
Labels: connectors/destination/sftp-json, auto-merge, up-to-date

#57113 🐙 destination-sqlite: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/destination-sqlite/metadata.yaml
  airbyte-integrations/connectors/destination-sqlite/poetry.lock
  airbyte-integrations/connectors/destination-sqlite/pyproject.toml
  docs/integrations/destinations/sqlite.md
Labels: connectors/destination/sqlite, auto-merge, up-to-date

#57112 🐙 source-azure-table: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-azure-table/metadata.yaml
  airbyte-integrations/connectors/source-azure-table/poetry.lock
  airbyte-integrations/connectors/source-azure-table/pyproject.toml
  docs/integrations/sources/azure-table.md
Labels: connectors/source/azure-table, auto-merge, up-to-date

#57111 🐙 source-appsflyer: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-appsflyer/metadata.yaml
  airbyte-integrations/connectors/source-appsflyer/poetry.lock
  airbyte-integrations/connectors/source-appsflyer/pyproject.toml
  docs/integrations/sources/appsflyer.md
Labels: connectors/source/appsflyer, auto-merge, up-to-date

#57110 🐙 source-insightly: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-insightly/metadata.yaml
  docs/integrations/sources/insightly.md
Labels: connectors/source/insightly, auto-merge, up-to-date

#57109 🐙 source-kisi: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-kisi/metadata.yaml
  docs/integrations/sources/kisi.md
Labels: auto-merge, up-to-date, connectors/source/kisi

#57108 🐙 source-lemlist: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-lemlist/metadata.yaml
  docs/integrations/sources/lemlist.md
Labels: connectors/source/lemlist, auto-merge, up-to-date

#57107 🐙 source-invoiceninja: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-invoiceninja/metadata.yaml
  docs/integrations/sources/invoiceninja.md
Labels: auto-merge, up-to-date, connectors/source/invoiceninja

#57105 🐙 source-katana: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-katana/metadata.yaml
  docs/integrations/sources/katana.md
Labels: auto-merge, up-to-date, connectors/source/katana

#57104 🐙 source-klaus-api: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-klaus-api/metadata.yaml
  docs/integrations/sources/klaus-api.md
Labels: connectors/source/klaus-api, auto-merge, up-to-date

#57103 🐙 source-luma: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-luma/metadata.yaml
  docs/integrations/sources/luma.md
Labels: auto-merge, up-to-date, connectors/source/luma

#57102 🐙 source-mailjet-sms: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-mailjet-sms/metadata.yaml
  docs/integrations/sources/mailjet-sms.md
Labels: connectors/source/mailjet-sms, auto-merge, up-to-date

#57101 🐙 source-mixpanel: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-mixpanel/metadata.yaml
  airbyte-integrations/connectors/source-mixpanel/poetry.lock
  airbyte-integrations/connectors/source-mixpanel/pyproject.toml
  docs/integrations/sources/mixpanel.md
Labels: connectors/source/mixpanel, auto-merge, up-to-date

#57100 🐙 source-microsoft-dataverse: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-microsoft-dataverse/metadata.yaml
  airbyte-integrations/connectors/source-microsoft-dataverse/poetry.lock
  airbyte-integrations/connectors/source-microsoft-dataverse/pyproject.toml
  docs/integrations/sources/microsoft-dataverse.md
Labels: connectors/source/microsoft-dataverse, auto-merge, up-to-date

#57099 🐙 source-hibob: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-hibob/metadata.yaml
  docs/integrations/sources/hibob.md
Labels: auto-merge, up-to-date, connectors/source/hibob

#57098 🐙 source-hellobaton: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-hellobaton/metadata.yaml
  docs/integrations/sources/hellobaton.md
Labels: connectors/source/hellobaton, auto-merge, up-to-date

#57097 🐙 source-lokalise: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-lokalise/metadata.yaml
  docs/integrations/sources/lokalise.md
Labels: connectors/source/lokalise, auto-merge, up-to-date

#57095 🐙 source-mailtrap: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-mailtrap/metadata.yaml
  docs/integrations/sources/mailtrap.md
Labels: auto-merge, up-to-date, connectors/source/mailtrap

#57094 🐙 source-incident-io: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-incident-io/metadata.yaml
  docs/integrations/sources/incident-io.md
Labels: auto-merge, up-to-date, connectors/source/incident-io

#57093 🐙 source-keka: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-keka/metadata.yaml
  docs/integrations/sources/keka.md
Labels: auto-merge, up-to-date, connectors/source/keka

#57092 🐙 source-k6-cloud: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-k6-cloud/metadata.yaml
  docs/integrations/sources/k6-cloud.md
Labels: connectors/source/k6-cloud, auto-merge, up-to-date

#57091 🐙 source-hardcoded-records: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-hardcoded-records/metadata.yaml
  airbyte-integrations/connectors/source-hardcoded-records/poetry.lock
  airbyte-integrations/connectors/source-hardcoded-records/pyproject.toml
  docs/integrations/sources/hardcoded-records.md
Labels: auto-merge, up-to-date, connectors/source/hardcoded-records

#57090 🐙 source-gridly: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-gridly/metadata.yaml
  airbyte-integrations/connectors/source-gridly/poetry.lock
  airbyte-integrations/connectors/source-gridly/pyproject.toml
  docs/integrations/sources/gridly.md
Labels: connectors/source/gridly, auto-merge, up-to-date

#57089 🐙 source-linnworks: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-linnworks/metadata.yaml
  airbyte-integrations/connectors/source-linnworks/poetry.lock
  airbyte-integrations/connectors/source-linnworks/pyproject.toml
  docs/integrations/sources/linnworks.md
Labels: connectors/source/linnworks, auto-merge, up-to-date

#57088 🐙 source-inflowinventory: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-inflowinventory/metadata.yaml
  docs/integrations/sources/inflowinventory.md
Labels: auto-merge, up-to-date, connectors/source/inflowinventory

#57087 🐙 source-marketstack: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-marketstack/metadata.yaml
  docs/integrations/sources/marketstack.md
Labels: auto-merge, up-to-date, connectors/source/marketstack

#57086 🐙 source-metabase: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-metabase/metadata.yaml
  docs/integrations/sources/metabase.md
Labels: connectors/source/metabase, auto-merge, up-to-date

#57084 🐙 source-harness: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-harness/metadata.yaml
  docs/integrations/sources/harness.md
Labels: connectors/source/harness, auto-merge, up-to-date

#57083 🐙 source-mailjet-mail: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-mailjet-mail/metadata.yaml
  docs/integrations/sources/mailjet-mail.md
Labels: connectors/source/mailjet-mail, auto-merge, up-to-date

#57082 🐙 source-miro: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-miro/metadata.yaml
  docs/integrations/sources/miro.md
Labels: auto-merge, up-to-date, connectors/source/miro

#57081 🐙 source-lightspeed-retail: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-lightspeed-retail/metadata.yaml
  docs/integrations/sources/lightspeed-retail.md
Labels: auto-merge, up-to-date, connectors/source/lightspeed-retail

#57080 🐙 source-google-classroom: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-google-classroom/metadata.yaml
  docs/integrations/sources/google-classroom.md
Labels: auto-merge, up-to-date, connectors/source/google-classroom

#57079 🐙 source-humanitix: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-humanitix/metadata.yaml
  docs/integrations/sources/humanitix.md
Labels: auto-merge, up-to-date, connectors/source/humanitix

#57078 🐙 source-mailosaur: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-mailosaur/metadata.yaml
  docs/integrations/sources/mailosaur.md
Labels: auto-merge, up-to-date, connectors/source/mailosaur

#57077 🐙 source-google-webfonts: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-google-webfonts/metadata.yaml
  docs/integrations/sources/google-webfonts.md
Labels: connectors/source/google-webfonts, auto-merge, up-to-date

#57076 🐙 source-height: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-height/metadata.yaml
  docs/integrations/sources/height.md
Labels: auto-merge, up-to-date, connectors/source/height

#57075 🐙 source-mode: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-mode/metadata.yaml
  docs/integrations/sources/mode.md
Labels: auto-merge, up-to-date, connectors/source/mode

#57074 🐙 source-illumina-basespace: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-illumina-basespace/metadata.yaml
  docs/integrations/sources/illumina-basespace.md
Labels: auto-merge, up-to-date, connectors/source/illumina-basespace

#57073 🐙 source-microsoft-entra-id: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-microsoft-entra-id/metadata.yaml
  docs/integrations/sources/microsoft-entra-id.md
Labels: auto-merge, up-to-date, connectors/source/microsoft-entra-id

#57072 🐙 source-google-drive: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-google-drive/metadata.yaml
  airbyte-integrations/connectors/source-google-drive/poetry.lock
  airbyte-integrations/connectors/source-google-drive/pyproject.toml
  docs/integrations/sources/google-drive.md
Labels: connectors/source/google-drive, auto-merge, up-to-date

#57071 🐙 source-marketo: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-marketo/metadata.yaml
  airbyte-integrations/connectors/source-marketo/poetry.lock
  airbyte-integrations/connectors/source-marketo/pyproject.toml
  docs/integrations/sources/marketo.md
Labels: connectors/source/marketo, auto-merge, up-to-date

#57070 🐙 source-hoorayhr: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-hoorayhr/metadata.yaml
  docs/integrations/sources/hoorayhr.md
Labels: auto-merge, up-to-date, connectors/source/hoorayhr

#57069 🐙 source-instagram: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  airbyte-integrations/connectors/source-instagram/poetry.lock
  airbyte-integrations/connectors/source-instagram/pyproject.toml
  docs/integrations/sources/instagram.md
Labels: connectors/source/instagram, auto-merge, up-to-date

#57067 🐙 source-jobnimbus: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-jobnimbus/metadata.yaml
  docs/integrations/sources/jobnimbus.md
Labels: auto-merge, up-to-date, connectors/source/jobnimbus

#57065 🐙 source-microsoft-sharepoint: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-microsoft-sharepoint/metadata.yaml
  airbyte-integrations/connectors/source-microsoft-sharepoint/poetry.lock
  airbyte-integrations/connectors/source-microsoft-sharepoint/pyproject.toml
  docs/integrations/sources/microsoft-sharepoint.md
Labels: connectors/source/microsoft-sharepoint, auto-merge, up-to-date

#56679 🐙 source-linkedin-pages: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-linkedin-pages/metadata.yaml
  docs/integrations/sources/linkedin-pages.md
Labels: connectors/source/linkedin-pages, auto-merge, up-to-date

#43869 🐙 source-azure-blob-storage: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-azure-blob-storage/metadata.yaml
  airbyte-integrations/connectors/source-azure-blob-storage/poetry.lock
  airbyte-integrations/connectors/source-azure-blob-storage/pyproject.toml
  docs/integrations/sources/azure-blob-storage.md
Labels: area/documentation, area/connectors, connectors/source/azure-blob-storage, auto-merge, up-to-date

#57158 🐙 source-apple-search-ads: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-apple-search-ads/metadata.yaml
  docs/integrations/sources/apple-search-ads.md
Labels: connectors/source/apple-search-ads, auto-merge, up-to-date

#57157 🐙 source-basecamp: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-basecamp/metadata.yaml
  docs/integrations/sources/basecamp.md
Labels: auto-merge, up-to-date, connectors/source/basecamp

#57156 🐙 source-bigmailer: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-bigmailer/metadata.yaml
  docs/integrations/sources/bigmailer.md
Labels: auto-merge, up-to-date, connectors/source/bigmailer

#57155 🐙 source-airbyte: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-airbyte/metadata.yaml
  docs/integrations/sources/airbyte.md
Labels: auto-merge, up-to-date, connectors/source/airbyte

#57154 🐙 source-box-data-extract: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-box-data-extract/metadata.yaml
  airbyte-integrations/connectors/source-box-data-extract/poetry.lock
  airbyte-integrations/connectors/source-box-data-extract/pyproject.toml
  docs/integrations/sources/box-data-extract.md
Labels: auto-merge, up-to-date, connectors/source/box-data-extract

#57153 🐙 source-chargify: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-chargify/metadata.yaml
  docs/integrations/sources/chargify.md
Labels: connectors/source/chargify, auto-merge, up-to-date

#57152 🐙 source-campaign-monitor: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-campaign-monitor/metadata.yaml
  docs/integrations/sources/campaign-monitor.md
Labels: auto-merge, up-to-date, connectors/source/campaign-monitor

#57149 🐙 source-beamer: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-beamer/metadata.yaml
  docs/integrations/sources/beamer.md
Labels: auto-merge, up-to-date, connectors/source/beamer

#57148 🐙 destination-couchbase: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/destination-couchbase/metadata.yaml
  airbyte-integrations/connectors/destination-couchbase/poetry.lock
  airbyte-integrations/connectors/destination-couchbase/pyproject.toml
  docs/integrations/destinations/couchbase.md
Labels: auto-merge, up-to-date, connectors/destination/couchbase

#57147 🐙 source-bunny-inc: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-bunny-inc/metadata.yaml
  docs/integrations/sources/bunny-inc.md
Labels: auto-merge, up-to-date, connectors/source/bunny-inc

#57145 🐙 destination-cumulio: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/destination-cumulio/metadata.yaml
  airbyte-integrations/connectors/destination-cumulio/poetry.lock
  airbyte-integrations/connectors/destination-cumulio/pyproject.toml
  docs/integrations/destinations/cumulio.md
Labels: connectors/destination/cumulio, auto-merge, up-to-date

#57144 🐙 destination-databend: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/destination-databend/metadata.yaml
  airbyte-integrations/connectors/destination-databend/poetry.lock
  airbyte-integrations/connectors/destination-databend/pyproject.toml
  docs/integrations/destinations/databend.md
Labels: connectors/destination/databend, auto-merge, up-to-date

#57142 🐙 source-appcues: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-appcues/metadata.yaml
  docs/integrations/sources/appcues.md
Labels: auto-merge, up-to-date, connectors/source/appcues

#57141 🐙 source-agilecrm: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-agilecrm/metadata.yaml
  docs/integrations/sources/agilecrm.md
Labels: auto-merge, up-to-date, connectors/source/agilecrm

#57140 🐙 source-chameleon: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-chameleon/metadata.yaml
  docs/integrations/sources/chameleon.md
Labels: auto-merge, up-to-date, connectors/source/chameleon

#57139 🐙 source-buildkite: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-buildkite/metadata.yaml
  docs/integrations/sources/buildkite.md
Labels: auto-merge, up-to-date, connectors/source/buildkite

#57138 🐙 source-amazon-ads: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-amazon-ads/metadata.yaml
  airbyte-integrations/connectors/source-amazon-ads/poetry.lock
  airbyte-integrations/connectors/source-amazon-ads/pyproject.toml
  docs/integrations/sources/amazon-ads.md
Labels: connectors/source/amazon-ads, auto-merge, up-to-date

#57137 🐙 destination-meilisearch: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/destination-meilisearch/metadata.yaml
  airbyte-integrations/connectors/destination-meilisearch/poetry.lock
  airbyte-integrations/connectors/destination-meilisearch/pyproject.toml
  docs/integrations/destinations/meilisearch.md
Labels: connectors/destination/meilisearch, auto-merge, up-to-date

#57136 🐙 destination-aws-datalake: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/destination-aws-datalake/metadata.yaml
  airbyte-integrations/connectors/destination-aws-datalake/poetry.lock
  airbyte-integrations/connectors/destination-aws-datalake/pyproject.toml
  docs/integrations/destinations/aws-datalake.md
Labels: connectors/destination/aws-datalake, auto-merge, up-to-date

#57135 🐙 source-bigcommerce: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-bigcommerce/metadata.yaml
  docs/integrations/sources/bigcommerce.md
Labels: connectors/source/bigcommerce, auto-merge, up-to-date

#57134 🐙 source-apify-dataset: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-apify-dataset/metadata.yaml
  docs/integrations/sources/apify-dataset.md
Labels: connectors/source/apify-dataset, auto-merge, up-to-date

#57132 🐙 source-braze: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-braze/metadata.yaml
  docs/integrations/sources/braze.md
Labels: connectors/source/braze, auto-merge, up-to-date

#57131 🐙 source-box: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-box/metadata.yaml
  docs/integrations/sources/box.md
Labels: auto-merge, up-to-date, connectors/source/box

#57130 🐙 source-chargebee: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-chargebee/metadata.yaml
  docs/integrations/sources/chargebee.md
Labels: connectors/source/chargebee, auto-merge, up-to-date

#57129 🐙 destination-xata: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/destination-xata/metadata.yaml
  airbyte-integrations/connectors/destination-xata/poetry.lock
  airbyte-integrations/connectors/destination-xata/pyproject.toml
  docs/integrations/destinations/xata.md
Labels: connectors/destination/xata, auto-merge, up-to-date

#57128 🐙 source-bugsnag: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-bugsnag/metadata.yaml
  docs/integrations/sources/bugsnag.md
Labels: auto-merge, up-to-date, connectors/source/bugsnag

#57127 🐙 destination-glassflow: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/destination-glassflow/metadata.yaml
  airbyte-integrations/connectors/destination-glassflow/poetry.lock
  airbyte-integrations/connectors/destination-glassflow/pyproject.toml
  docs/integrations/destinations/glassflow.md
Labels: auto-merge, up-to-date, connectors/destination/glassflow

#57126 🐙 source-brevo: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-brevo/metadata.yaml
  docs/integrations/sources/brevo.md
Labels: auto-merge, up-to-date, connectors/source/brevo

#57125 🐙 source-care-quality-commission: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-care-quality-commission/metadata.yaml
  docs/integrations/sources/care-quality-commission.md
Labels: auto-merge, up-to-date, connectors/source/care-quality-commission

#57124 🐙 source-cart: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-cart/metadata.yaml
  airbyte-integrations/connectors/source-cart/poetry.lock
  airbyte-integrations/connectors/source-cart/pyproject.toml
  docs/integrations/sources/cart.md
Labels: connectors/source/cart, auto-merge, up-to-date

#57123 🐙 source-calendly: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-calendly/metadata.yaml
  docs/integrations/sources/calendly.md
Labels: auto-merge, up-to-date, connectors/source/calendly

#57121 🐙 source-brex: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-brex/metadata.yaml
  docs/integrations/sources/brex.md
Labels: auto-merge, up-to-date, connectors/source/brex

#57120 🐙 source-7shifts: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-7shifts/metadata.yaml
  docs/integrations/sources/7shifts.md
Labels: auto-merge, up-to-date, connectors/source/7shifts

#57119 🐙 source-aha: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-aha/metadata.yaml
  docs/integrations/sources/aha.md
Labels: connectors/source/aha, auto-merge, up-to-date

#57118 🐙 source-breezy-hr: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-breezy-hr/metadata.yaml
  docs/integrations/sources/breezy-hr.md
Labels: auto-merge, up-to-date, connectors/source/breezy-hr

#57117 🐙 source-captain-data: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-captain-data/metadata.yaml
  docs/integrations/sources/captain-data.md
Labels: connectors/source/captain-data, auto-merge, up-to-date

#57116 🐙 source-blogger: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-blogger/metadata.yaml
  docs/integrations/sources/blogger.md
Labels: auto-merge, up-to-date, connectors/source/blogger

#57115 🐙 destination-firebolt: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/destination-firebolt/metadata.yaml
  airbyte-integrations/connectors/destination-firebolt/poetry.lock
  airbyte-integrations/connectors/destination-firebolt/pyproject.toml
  docs/integrations/destinations/firebolt.md
Labels: connectors/destination/firebolt, auto-merge, up-to-date

#56603 🐙 source-cal-com: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-cal-com/metadata.yaml
  docs/integrations/sources/cal-com.md
Labels: auto-merge, up-to-date, connectors/source/cal-com

#57205 🐙 source-eventzilla: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-eventzilla/metadata.yaml
  docs/integrations/sources/eventzilla.md
Labels: auto-merge, up-to-date, connectors/source/eventzilla

#57204 🐙 source-freshchat: run up-to-date pipeline [2025-04-05]
  airbyte-integrations/connectors/source-freshchat/metadata.yaml
  docs/integrations/sources/freshchat.md
Labels: auto-merge, up-to-date, connectors/source/freshchat
