Repository airbytehq/airbyte, pull requests merged in 2025-03, with the labels that each got.

#54734 fix(destination-pinecone): add build_customization to fix pinecone builds
  airbyte-integrations/connectors/destination-pinecone/build_customization.py
Labels: area/connectors, connectors/destination/pinecone

#54786 🐙 source-kyve: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-kyve/metadata.yaml
  airbyte-integrations/connectors/source-kyve/poetry.lock
  airbyte-integrations/connectors/source-kyve/pyproject.toml
  docs/integrations/sources/kyve.md
Labels: area/documentation, area/connectors, connectors/source/kyve, auto-merge, up-to-date

#54785 🐙 source-greythr: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-greythr/metadata.yaml
  docs/integrations/sources/greythr.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/greythr

#54784 🐙 source-google-webfonts: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-google-webfonts/metadata.yaml
  docs/integrations/sources/google-webfonts.md
Labels: area/documentation, area/connectors, connectors/source/google-webfonts, auto-merge, up-to-date

#54783 🐙 source-nasa: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-nasa/metadata.yaml
  docs/integrations/sources/nasa.md
Labels: area/documentation, area/connectors, connectors/source/nasa, auto-merge, up-to-date

#54782 🐙 source-lemlist: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-lemlist/metadata.yaml
  docs/integrations/sources/lemlist.md
Labels: area/documentation, area/connectors, connectors/source/lemlist, auto-merge, up-to-date

#54781 🐙 source-google-tasks: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-google-tasks/metadata.yaml
  docs/integrations/sources/google-tasks.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/google-tasks

#54780 🐙 source-incident-io: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-incident-io/metadata.yaml
  docs/integrations/sources/incident-io.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/incident-io

#54779 🐙 source-newsdata-io: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-newsdata-io/metadata.yaml
  docs/integrations/sources/newsdata-io.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/newsdata-io

#54778 🐙 source-humanitix: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-humanitix/metadata.yaml
  docs/integrations/sources/humanitix.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/humanitix

#54777 🐙 source-microsoft-entra-id: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-microsoft-entra-id/metadata.yaml
  docs/integrations/sources/microsoft-entra-id.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/microsoft-entra-id

#54776 🐙 source-insightly: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-insightly/metadata.yaml
  docs/integrations/sources/insightly.md
Labels: area/documentation, area/connectors, connectors/source/insightly, auto-merge, up-to-date

#54775 🐙 source-linkedin-pages: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-linkedin-pages/metadata.yaml
  docs/integrations/sources/linkedin-pages.md
Labels: area/documentation, area/connectors, connectors/source/linkedin-pages, auto-merge, up-to-date

#54774 🐙 source-mailosaur: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-mailosaur/metadata.yaml
  docs/integrations/sources/mailosaur.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/mailosaur

#54773 🐙 source-hubplanner: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-hubplanner/metadata.yaml
  docs/integrations/sources/hubplanner.md
Labels: area/documentation, area/connectors, connectors/source/hubplanner, auto-merge, up-to-date

#54772 🐙 source-launchdarkly: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-launchdarkly/metadata.yaml
  docs/integrations/sources/launchdarkly.md
Labels: area/documentation, area/connectors, connectors/source/launchdarkly, auto-merge, up-to-date

#54771 🐙 source-hellobaton: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-hellobaton/metadata.yaml
  docs/integrations/sources/hellobaton.md
Labels: area/documentation, area/connectors, connectors/source/hellobaton, auto-merge, up-to-date

#54770 🐙 source-klaviyo: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-klaviyo/metadata.yaml
  docs/integrations/sources/klaviyo.md
Labels: area/documentation, area/connectors, connectors/source/klaviyo, auto-merge, up-to-date

#54769 🐙 source-mixpanel: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-mixpanel/metadata.yaml
  airbyte-integrations/connectors/source-mixpanel/poetry.lock
  airbyte-integrations/connectors/source-mixpanel/pyproject.toml
  docs/integrations/sources/mixpanel.md
Labels: area/documentation, area/connectors, connectors/source/mixpanel, auto-merge, up-to-date

#54767 🐙 source-nocrm: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-nocrm/metadata.yaml
  docs/integrations/sources/nocrm.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/nocrm

#54766 🐙 source-keka: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-keka/metadata.yaml
  docs/integrations/sources/keka.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/keka

#54765 🐙 source-navan: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-navan/metadata.yaml
  docs/integrations/sources/navan.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/navan

#54764 🐙 source-mailjet-mail: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-mailjet-mail/metadata.yaml
  docs/integrations/sources/mailjet-mail.md
Labels: area/documentation, area/connectors, connectors/source/mailjet-mail, auto-merge, up-to-date

#54763 🐙 source-northpass-lms: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-northpass-lms/metadata.yaml
  docs/integrations/sources/northpass-lms.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/northpass-lms

#54762 🐙 source-hugging-face-datasets: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-hugging-face-datasets/metadata.yaml
  docs/integrations/sources/hugging-face-datasets.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/hugging-face-datasets

#54761 🐙 source-marketo: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-marketo/metadata.yaml
  airbyte-integrations/connectors/source-marketo/poetry.lock
  airbyte-integrations/connectors/source-marketo/pyproject.toml
  docs/integrations/sources/marketo.md
Labels: area/documentation, area/connectors, connectors/source/marketo, auto-merge, up-to-date

#54760 🐙 source-linnworks: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-linnworks/metadata.yaml
  airbyte-integrations/connectors/source-linnworks/poetry.lock
  airbyte-integrations/connectors/source-linnworks/pyproject.toml
  docs/integrations/sources/linnworks.md
Labels: area/documentation, area/connectors, connectors/source/linnworks, auto-merge, up-to-date

#54758 🐙 source-illumina-basespace: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-illumina-basespace/metadata.yaml
  docs/integrations/sources/illumina-basespace.md
Labels: auto-merge, up-to-date, connectors/source/illumina-basespace

#54757 🐙 source-high-level: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-high-level/metadata.yaml
  docs/integrations/sources/high-level.md
Labels: area/connectors, auto-merge, up-to-date, connectors/source/high-level

#54756 🐙 source-hoorayhr: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-hoorayhr/metadata.yaml
  docs/integrations/sources/hoorayhr.md
Labels: area/connectors, auto-merge, up-to-date, connectors/source/hoorayhr

#54755 🐙 source-justcall: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-justcall/metadata.yaml
  docs/integrations/sources/justcall.md
Labels: area/connectors, auto-merge, up-to-date, connectors/source/justcall

#54754 🐙 source-gutendex: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-gutendex/metadata.yaml
  docs/integrations/sources/gutendex.md
Labels: area/connectors, connectors/source/gutendex, auto-merge, up-to-date

#54753 🐙 source-less-annoying-crm: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-less-annoying-crm/metadata.yaml
  docs/integrations/sources/less-annoying-crm.md
Labels: area/connectors, auto-merge, up-to-date, connectors/source/less-annoying-crm

#54752 🐙 source-my-hours: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-my-hours/metadata.yaml
  docs/integrations/sources/my-hours.md
Labels: area/connectors, connectors/source/my-hours, auto-merge, up-to-date

#54751 🐙 source-n8n: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-n8n/metadata.yaml
  docs/integrations/sources/n8n.md
Labels: area/documentation, area/connectors, connectors/source/n8n, auto-merge, up-to-date

#54750 🐙 source-inflowinventory: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-inflowinventory/metadata.yaml
  docs/integrations/sources/inflowinventory.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/inflowinventory

#54749 🐙 source-microsoft-sharepoint: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-microsoft-sharepoint/metadata.yaml
  airbyte-integrations/connectors/source-microsoft-sharepoint/poetry.lock
  airbyte-integrations/connectors/source-microsoft-sharepoint/pyproject.toml
  docs/integrations/sources/microsoft-sharepoint.md
Labels: area/documentation, area/connectors, connectors/source/microsoft-sharepoint, auto-merge, up-to-date

#54748 🐙 source-k6-cloud: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-k6-cloud/metadata.yaml
  docs/integrations/sources/k6-cloud.md
Labels: area/documentation, area/connectors, connectors/source/k6-cloud, auto-merge, up-to-date

#54747 🐙 source-luma: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-luma/metadata.yaml
  docs/integrations/sources/luma.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/luma

#54746 🐙 source-lokalise: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-lokalise/metadata.yaml
  docs/integrations/sources/lokalise.md
Labels: area/documentation, area/connectors, connectors/source/lokalise, auto-merge, up-to-date

#54745 🐙 source-instatus: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-instatus/metadata.yaml
  docs/integrations/sources/instatus.md
Labels: area/documentation, area/connectors, connectors/source/instatus, auto-merge, up-to-date

#54744 🐙 source-mode: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-mode/metadata.yaml
  docs/integrations/sources/mode.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/mode

#54743 🐙 source-klarna: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-klarna/metadata.yaml
  docs/integrations/sources/klarna.md
Labels: area/documentation, area/connectors, connectors/source/klarna, auto-merge, up-to-date

#54742 🐙 source-hibob: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-hibob/metadata.yaml
  docs/integrations/sources/hibob.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/hibob

#54831 🐙 destination-firestore: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/destination-firestore/metadata.yaml
  airbyte-integrations/connectors/destination-firestore/poetry.lock
  airbyte-integrations/connectors/destination-firestore/pyproject.toml
  docs/integrations/destinations/firestore.md
Labels: area/documentation, area/connectors, connectors/destination/firestore, auto-merge, up-to-date

#54830 🐙 source-mention: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-mention/metadata.yaml
  docs/integrations/sources/mention.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/mention

#54829 🐙 source-marketstack: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-marketstack/metadata.yaml
  docs/integrations/sources/marketstack.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/marketstack

#54828 🐙 source-nutshell: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-nutshell/metadata.yaml
  docs/integrations/sources/nutshell.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/nutshell

#54827 🐙 source-invoiceninja: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-invoiceninja/metadata.yaml
  docs/integrations/sources/invoiceninja.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/invoiceninja

#54826 🐙 source-klaus-api: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-klaus-api/metadata.yaml
  docs/integrations/sources/klaus-api.md
Labels: area/documentation, area/connectors, connectors/source/klaus-api, auto-merge, up-to-date

#54825 🐙 source-merge: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-merge/metadata.yaml
  docs/integrations/sources/merge.md
Labels: area/documentation, area/connectors, connectors/source/merge, auto-merge, up-to-date

#54824 🐙 source-katana: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-katana/metadata.yaml
  docs/integrations/sources/katana.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/katana

#54823 🐙 source-missive: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-missive/metadata.yaml
  docs/integrations/sources/missive.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/missive

#54822 🐙 source-jina-ai-reader: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-jina-ai-reader/metadata.yaml
  airbyte-integrations/connectors/source-jina-ai-reader/poetry.lock
  airbyte-integrations/connectors/source-jina-ai-reader/pyproject.toml
  docs/integrations/sources/jina-ai-reader.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/jina-ai-reader

#54821 🐙 source-netsuite: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-netsuite/metadata.yaml
  airbyte-integrations/connectors/source-netsuite/poetry.lock
  airbyte-integrations/connectors/source-netsuite/pyproject.toml
  docs/integrations/sources/netsuite.md
Labels: area/documentation, area/connectors, connectors/source/netsuite, auto-merge, up-to-date

#54820 🐙 source-leadfeeder: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-leadfeeder/metadata.yaml
  docs/integrations/sources/leadfeeder.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/leadfeeder

#54819 🐙 source-jobnimbus: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-jobnimbus/metadata.yaml
  docs/integrations/sources/jobnimbus.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/jobnimbus

#54818 🐙 source-invoiced: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-invoiced/metadata.yaml
  docs/integrations/sources/invoiced.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/invoiced

#54817 🐙 source-microsoft-lists: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-microsoft-lists/metadata.yaml
  docs/integrations/sources/microsoft-lists.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/microsoft-lists

#54816 🐙 source-intruder: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-intruder/metadata.yaml
  docs/integrations/sources/intruder.md
Labels: area/documentation, area/connectors, connectors/source/intruder, auto-merge, up-to-date

#54815 🐙 source-just-sift: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-just-sift/metadata.yaml
  docs/integrations/sources/just-sift.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/just-sift

#54814 🐙 source-hardcoded-records: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-hardcoded-records/metadata.yaml
  airbyte-integrations/connectors/source-hardcoded-records/poetry.lock
  airbyte-integrations/connectors/source-hardcoded-records/pyproject.toml
  docs/integrations/sources/hardcoded-records.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/hardcoded-records

#54813 🐙 source-linkedin-ads: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-linkedin-ads/metadata.yaml
  airbyte-integrations/connectors/source-linkedin-ads/poetry.lock
  airbyte-integrations/connectors/source-linkedin-ads/pyproject.toml
  docs/integrations/sources/linkedin-ads.md
Labels: area/documentation, area/connectors, connectors/source/linkedin-ads, auto-merge, up-to-date

#54812 🐙 source-news-api: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-news-api/metadata.yaml
  docs/integrations/sources/news-api.md
Labels: area/documentation, area/connectors, connectors/source/news-api, auto-merge, up-to-date

#54811 🐙 source-kisi: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-kisi/metadata.yaml
  docs/integrations/sources/kisi.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/kisi

#54810 🐙 source-mailgun: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-mailgun/metadata.yaml
  docs/integrations/sources/mailgun.md
Labels: area/documentation, area/connectors, connectors/source/mailgun, auto-merge, up-to-date

#54809 🐙 source-mixmax: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-mixmax/metadata.yaml
  docs/integrations/sources/mixmax.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/mixmax

#54808 🐙 source-mailjet-sms: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-mailjet-sms/metadata.yaml
  docs/integrations/sources/mailjet-sms.md
Labels: area/documentation, area/connectors, connectors/source/mailjet-sms, auto-merge, up-to-date

#54807 🐙 source-mux: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-mux/metadata.yaml
  docs/integrations/sources/mux.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/mux

#54806 🐙 source-gridly: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-gridly/metadata.yaml
  airbyte-integrations/connectors/source-gridly/poetry.lock
  airbyte-integrations/connectors/source-gridly/pyproject.toml
  docs/integrations/sources/gridly.md
Labels: area/documentation, area/connectors, connectors/source/gridly, auto-merge, up-to-date

#54805 🐙 source-mailersend: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-mailersend/metadata.yaml
  docs/integrations/sources/mailersend.md
Labels: area/documentation, area/connectors, connectors/source/mailersend, auto-merge, up-to-date

#54804 🐙 source-miro: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-miro/metadata.yaml
  docs/integrations/sources/miro.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/miro

#54803 🐙 source-lob: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-lob/metadata.yaml
  docs/integrations/sources/lob.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/lob

#54802 🐙 source-jotform: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-jotform/metadata.yaml
  docs/integrations/sources/jotform.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/jotform

#54800 🐙 source-lightspeed-retail: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-lightspeed-retail/metadata.yaml
  docs/integrations/sources/lightspeed-retail.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/lightspeed-retail

#54799 🐙 source-mailtrap: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-mailtrap/metadata.yaml
  docs/integrations/sources/mailtrap.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/mailtrap

#54798 🐙 source-help-scout: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-help-scout/metadata.yaml
  docs/integrations/sources/help-scout.md
Labels: area/documentation, area/connectors, connectors/source/help-scout, auto-merge, up-to-date

#54797 🐙 source-microsoft-onedrive: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-microsoft-onedrive/metadata.yaml
  airbyte-integrations/connectors/source-microsoft-onedrive/poetry.lock
  airbyte-integrations/connectors/source-microsoft-onedrive/pyproject.toml
  docs/integrations/sources/microsoft-onedrive.md
Labels: area/documentation, area/connectors, connectors/source/microsoft-onedrive, auto-merge, up-to-date

#54796 🐙 source-harvest: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-harvest/metadata.yaml
  docs/integrations/sources/harvest.md
Labels: area/documentation, area/connectors, connectors/source/harvest, auto-merge, up-to-date

#54795 🐙 source-mailchimp: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-mailchimp/metadata.yaml
  airbyte-integrations/connectors/source-mailchimp/poetry.lock
  airbyte-integrations/connectors/source-mailchimp/pyproject.toml
  docs/integrations/sources/mailchimp.md
Labels: area/documentation, area/connectors, connectors/source/mailchimp, auto-merge, up-to-date

#54794 🐙 source-gorgias: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-gorgias/metadata.yaml
  docs/integrations/sources/gorgias.md
Labels: area/documentation, area/connectors, connectors/source/gorgias, auto-merge, up-to-date

#54793 🐙 source-metabase: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-metabase/metadata.yaml
  docs/integrations/sources/metabase.md
Labels: area/documentation, area/connectors, connectors/source/metabase, auto-merge, up-to-date

#54792 🐙 source-guru: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-guru/metadata.yaml
  docs/integrations/sources/guru.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/guru

#54791 🐙 source-ip2whois: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-ip2whois/metadata.yaml
  docs/integrations/sources/ip2whois.md
Labels: area/documentation, area/connectors, connectors/source/ip2whois, auto-merge, up-to-date

#54790 🐙 source-kissmetrics: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-kissmetrics/metadata.yaml
  docs/integrations/sources/kissmetrics.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/kissmetrics

#54789 🐙 source-instagram: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  airbyte-integrations/connectors/source-instagram/poetry.lock
  airbyte-integrations/connectors/source-instagram/pyproject.toml
  docs/integrations/sources/instagram.md
Labels: area/documentation, area/connectors, connectors/source/instagram, auto-merge, up-to-date

#54788 🐙 source-kyriba: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-kyriba/metadata.yaml
  airbyte-integrations/connectors/source-kyriba/poetry.lock
  airbyte-integrations/connectors/source-kyriba/pyproject.toml
  docs/integrations/sources/kyriba.md
Labels: area/documentation, area/connectors, connectors/source/kyriba, auto-merge, up-to-date

#54787 🐙 source-looker: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-looker/metadata.yaml
  airbyte-integrations/connectors/source-looker/poetry.lock
  airbyte-integrations/connectors/source-looker/pyproject.toml
  docs/integrations/sources/looker.md
Labels: area/documentation, area/connectors, connectors/source/looker, auto-merge, up-to-date

#43874 🐙 source-harness: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-harness/metadata.yaml
  docs/integrations/sources/harness.md
Labels: area/documentation, area/connectors, connectors/source/harness, auto-merge, up-to-date

#54872 🐙 source-castor-edc: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-castor-edc/metadata.yaml
  docs/integrations/sources/castor-edc.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/castor-edc

#54871 🐙 destination-astra: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/destination-astra/metadata.yaml
  airbyte-integrations/connectors/destination-astra/poetry.lock
  airbyte-integrations/connectors/destination-astra/pyproject.toml
  docs/integrations/destinations/astra.md
Labels: area/documentation, area/connectors, connectors/destination/astra, auto-merge, up-to-date

#54869 🐙 source-appsflyer: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-appsflyer/metadata.yaml
  airbyte-integrations/connectors/source-appsflyer/poetry.lock
  airbyte-integrations/connectors/source-appsflyer/pyproject.toml
  docs/integrations/sources/appsflyer.md
Labels: area/documentation, area/connectors, connectors/source/appsflyer, auto-merge, up-to-date

#54868 🐙 destination-sftp-json: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/destination-sftp-json/metadata.yaml
  airbyte-integrations/connectors/destination-sftp-json/poetry.lock
  airbyte-integrations/connectors/destination-sftp-json/pyproject.toml
  docs/integrations/destinations/sftp-json.md
Labels: area/documentation, area/connectors, connectors/destination/sftp-json, auto-merge, up-to-date

#54867 🐙 source-canny: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-canny/metadata.yaml
  docs/integrations/sources/canny.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/canny

#54866 🐙 source-campayn: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-campayn/metadata.yaml
  docs/integrations/sources/campayn.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/campayn

#54865 🐙 source-bigmailer: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-bigmailer/metadata.yaml
  docs/integrations/sources/bigmailer.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/bigmailer

#54864 🐙 source-clazar: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-clazar/metadata.yaml
  docs/integrations/sources/clazar.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/clazar

#54862 🐙 source-azure-table: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-azure-table/metadata.yaml
  airbyte-integrations/connectors/source-azure-table/poetry.lock
  airbyte-integrations/connectors/source-azure-table/pyproject.toml
  docs/integrations/sources/azure-table.md
Labels: area/documentation, area/connectors, connectors/source/azure-table, auto-merge, up-to-date

#54861 🐙 destination-pinecone: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/destination-pinecone/metadata.yaml
  airbyte-integrations/connectors/destination-pinecone/poetry.lock
  airbyte-integrations/connectors/destination-pinecone/pyproject.toml
  docs/integrations/destinations/pinecone.md
Labels: area/documentation, area/connectors, connectors/destination/pinecone, auto-merge, up-to-date

#54860 🐙 source-care-quality-commission: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-care-quality-commission/metadata.yaml
  docs/integrations/sources/care-quality-commission.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/care-quality-commission

#54859 🐙 source-circa: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-circa/metadata.yaml
  docs/integrations/sources/circa.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/circa

#54858 🐙 source-braze: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-braze/metadata.yaml
  docs/integrations/sources/braze.md
Labels: area/documentation, area/connectors, connectors/source/braze, auto-merge, up-to-date

#54857 🐙 destination-rabbitmq: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/destination-rabbitmq/metadata.yaml
  airbyte-integrations/connectors/destination-rabbitmq/poetry.lock
  airbyte-integrations/connectors/destination-rabbitmq/pyproject.toml
  docs/integrations/destinations/rabbitmq.md
Labels: area/documentation, area/connectors, connectors/destination/rabbitmq, auto-merge, up-to-date

#54856 🐙 source-algolia: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-algolia/metadata.yaml
  docs/integrations/sources/algolia.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/algolia

#54855 🐙 source-activecampaign: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-activecampaign/metadata.yaml
  docs/integrations/sources/activecampaign.md
Labels: area/documentation, area/connectors, connectors/source/activecampaign, auto-merge, up-to-date

#54853 🐙 destination-firebolt: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/destination-firebolt/metadata.yaml
  airbyte-integrations/connectors/destination-firebolt/poetry.lock
  airbyte-integrations/connectors/destination-firebolt/pyproject.toml
  docs/integrations/destinations/firebolt.md
Labels: area/documentation, area/connectors, connectors/destination/firebolt, auto-merge, up-to-date

#54852 🐙 destination-chroma: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/destination-chroma/metadata.yaml
  airbyte-integrations/connectors/destination-chroma/poetry.lock
  airbyte-integrations/connectors/destination-chroma/pyproject.toml
  docs/integrations/destinations/chroma.md
Labels: area/documentation, area/connectors, connectors/destination/chroma, auto-merge, up-to-date

#54851 🐙 source-bigcommerce: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-bigcommerce/metadata.yaml
  docs/integrations/sources/bigcommerce.md
Labels: area/documentation, area/connectors, connectors/source/bigcommerce, auto-merge, up-to-date

#54850 🐙 source-7shifts: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-7shifts/metadata.yaml
  docs/integrations/sources/7shifts.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/7shifts

#54849 🐙 destination-milvus: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/destination-milvus/metadata.yaml
  airbyte-integrations/connectors/destination-milvus/poetry.lock
  airbyte-integrations/connectors/destination-milvus/pyproject.toml
  docs/integrations/destinations/milvus.md
Labels: area/documentation, area/connectors, connectors/destination/milvus, auto-merge, up-to-date

#54848 🐙 destination-aws-datalake: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/destination-aws-datalake/metadata.yaml
  airbyte-integrations/connectors/destination-aws-datalake/poetry.lock
  airbyte-integrations/connectors/destination-aws-datalake/pyproject.toml
  docs/integrations/destinations/aws-datalake.md
Labels: area/documentation, area/connectors, connectors/destination/aws-datalake, auto-merge, up-to-date

#54847 🐙 destination-google-sheets: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/destination-google-sheets/metadata.yaml
  airbyte-integrations/connectors/destination-google-sheets/poetry.lock
  airbyte-integrations/connectors/destination-google-sheets/pyproject.toml
  docs/integrations/destinations/google-sheets.md
Labels: area/documentation, area/connectors, connectors/destination/google-sheets, auto-merge, up-to-date

#54846 🐙 source-capsule-crm: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-capsule-crm/metadata.yaml
  docs/integrations/sources/capsule-crm.md
Labels: auto-merge, up-to-date, connectors/source/capsule-crm

#54845 🐙 source-chargify: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-chargify/metadata.yaml
  docs/integrations/sources/chargify.md
Labels: connectors/source/chargify, auto-merge, up-to-date

#54844 🐙 source-chameleon: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-chameleon/metadata.yaml
  docs/integrations/sources/chameleon.md
Labels: auto-merge, up-to-date, connectors/source/chameleon

#54843 🐙 source-appcues: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-appcues/metadata.yaml
  docs/integrations/sources/appcues.md
Labels: auto-merge, up-to-date, connectors/source/appcues

#54842 🐙 source-bamboo-hr: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-bamboo-hr/metadata.yaml
  docs/integrations/sources/bamboo-hr.md
Labels: connectors/source/bamboo-hr, auto-merge, up-to-date

#54841 🐙 source-airbyte: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-airbyte/metadata.yaml
  docs/integrations/sources/airbyte.md
Labels: auto-merge, up-to-date, connectors/source/airbyte

#54840 🐙 source-bunny-inc: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-bunny-inc/metadata.yaml
  docs/integrations/sources/bunny-inc.md
Labels: auto-merge, up-to-date, connectors/source/bunny-inc

#54839 🐙 source-calendly: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-calendly/metadata.yaml
  docs/integrations/sources/calendly.md
Labels: auto-merge, up-to-date, connectors/source/calendly

#54838 🐙 source-babelforce: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-babelforce/metadata.yaml
  docs/integrations/sources/babelforce.md
Labels: connectors/source/babelforce, auto-merge, up-to-date

#54837 🐙 source-clarif-ai: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-clarif-ai/metadata.yaml
  docs/integrations/sources/clarif-ai.md
Labels: auto-merge, up-to-date, connectors/source/clarif-ai

#54836 🐙 source-blogger: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-blogger/metadata.yaml
  docs/integrations/sources/blogger.md
Labels: auto-merge, up-to-date, connectors/source/blogger

#54835 🐙 source-beamer: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-beamer/metadata.yaml
  docs/integrations/sources/beamer.md
Labels: auto-merge, up-to-date, connectors/source/beamer

#54834 🐙 source-captain-data: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-captain-data/metadata.yaml
  docs/integrations/sources/captain-data.md
Labels: connectors/source/captain-data, auto-merge, up-to-date

#54833 🐙 source-box: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-box/metadata.yaml
  docs/integrations/sources/box.md
Labels: auto-merge, up-to-date, connectors/source/box

#54249 🐙 destination-timeplus: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/destination-timeplus/metadata.yaml
  airbyte-integrations/connectors/destination-timeplus/poetry.lock
  airbyte-integrations/connectors/destination-timeplus/pyproject.toml
  docs/integrations/destinations/timeplus.md
Labels: area/documentation, area/connectors, connectors/destination/timeplus, auto-merge, up-to-date

#54913 🐙 source-freshsales: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-freshsales/metadata.yaml
  docs/integrations/sources/freshsales.md
Labels: connectors/source/freshsales, auto-merge, up-to-date

#54912 🐙 source-commcare: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-commcare/metadata.yaml
  airbyte-integrations/connectors/source-commcare/poetry.lock
  airbyte-integrations/connectors/source-commcare/pyproject.toml
  docs/integrations/sources/commcare.md
Labels: connectors/source/commcare, auto-merge, up-to-date

#54911 🐙 source-firebase-realtime-database: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-firebase-realtime-database/metadata.yaml
  airbyte-integrations/connectors/source-firebase-realtime-database/poetry.lock
  airbyte-integrations/connectors/source-firebase-realtime-database/pyproject.toml
  docs/integrations/sources/firebase-realtime-database.md
Labels: connectors/source/firebase-realtime-database, auto-merge, up-to-date

#54910 🐙 destination-typesense: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/destination-typesense/metadata.yaml
  airbyte-integrations/connectors/destination-typesense/poetry.lock
  airbyte-integrations/connectors/destination-typesense/pyproject.toml
  docs/integrations/destinations/typesense.md
Labels: area/documentation, area/connectors, connectors/destination/typesense, auto-merge, up-to-date

#54908 🐙 source-agilecrm: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-agilecrm/metadata.yaml
  docs/integrations/sources/agilecrm.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/agilecrm

#54907 🐙 source-cal-com: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-cal-com/metadata.yaml
  docs/integrations/sources/cal-com.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/cal-com

#54905 🐙 source-clickup-api: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-clickup-api/metadata.yaml
  docs/integrations/sources/clickup-api.md
Labels: area/documentation, area/connectors, connectors/source/clickup-api, auto-merge, up-to-date

#54904 🐙 source-appfollow: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-appfollow/metadata.yaml
  docs/integrations/sources/appfollow.md
Labels: area/documentation, area/connectors, connectors/source/appfollow, auto-merge, up-to-date

#54903 🐙 source-apptivo: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-apptivo/metadata.yaml
  docs/integrations/sources/apptivo.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/apptivo

#54902 🐙 source-bitly: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-bitly/metadata.yaml
  docs/integrations/sources/bitly.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/bitly

#54901 🐙 source-akeneo: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-akeneo/metadata.yaml
  docs/integrations/sources/akeneo.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/akeneo

#54900 🐙 source-brex: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-brex/metadata.yaml
  docs/integrations/sources/brex.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/brex

#54898 🐙 source-buildkite: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-buildkite/metadata.yaml
  docs/integrations/sources/buildkite.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/buildkite

#54896 🐙 destination-meilisearch: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/destination-meilisearch/metadata.yaml
  airbyte-integrations/connectors/destination-meilisearch/poetry.lock
  airbyte-integrations/connectors/destination-meilisearch/pyproject.toml
  docs/integrations/destinations/meilisearch.md
Labels: area/documentation, area/connectors, connectors/destination/meilisearch, auto-merge, up-to-date

#54895 🐙 source-amazon-ads: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-amazon-ads/metadata.yaml
  airbyte-integrations/connectors/source-amazon-ads/poetry.lock
  airbyte-integrations/connectors/source-amazon-ads/pyproject.toml
  docs/integrations/sources/amazon-ads.md
Labels: area/documentation, area/connectors, connectors/source/amazon-ads, auto-merge, up-to-date

#54894 🐙 destination-xata: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/destination-xata/metadata.yaml
  airbyte-integrations/connectors/destination-xata/poetry.lock
  airbyte-integrations/connectors/destination-xata/pyproject.toml
  docs/integrations/destinations/xata.md
Labels: area/documentation, area/connectors, connectors/destination/xata, auto-merge, up-to-date

#54893 🐙 source-buzzsprout: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-buzzsprout/metadata.yaml
  docs/integrations/sources/buzzsprout.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/buzzsprout

#54892 🐙 source-appfigures: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-appfigures/metadata.yaml
  docs/integrations/sources/appfigures.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/appfigures

#54891 🐙 source-bugsnag: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-bugsnag/metadata.yaml
  docs/integrations/sources/bugsnag.md
Labels: area/documentation, area/connectors, auto-merge, up-to-date, connectors/source/bugsnag

#54890 🐙 source-alpha-vantage: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-alpha-vantage/metadata.yaml
  docs/integrations/sources/alpha-vantage.md
Labels: area/documentation, area/connectors, connectors/source/alpha-vantage, auto-merge, up-to-date

#54889 🐙 destination-qdrant: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/destination-qdrant/metadata.yaml
  airbyte-integrations/connectors/destination-qdrant/poetry.lock
  airbyte-integrations/connectors/destination-qdrant/pyproject.toml
  docs/integrations/destinations/qdrant.md
Labels: area/documentation, area/connectors, connectors/destination/qdrant, auto-merge, up-to-date

#54888 🐙 source-ashby: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-ashby/metadata.yaml
  docs/integrations/sources/ashby.md
Labels: area/documentation, area/connectors, connectors/source/ashby, auto-merge, up-to-date

#54887 🐙 source-callrail: run up-to-date pipeline [2025-03-01]
  airbyte-integrations/connectors/source-callrail/metadata.yaml
  docs/integrations/sources/callrail.md
Labels: area/documentation, area/connectors, connectors/source/callrail, auto-merge, up-to-date
