Repository airbytehq/airbyte, pull requests merged in 2025-07, with the labels that each got.

#61729 [source-mssql] Support logical primary key for initial snapshot and CDC
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/testFixtures/kotlin/io/airbyte/cdk/integrations/debezium/CdcSourceTest.kt
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlCdcHelper.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/initialsync/MssqlInitialReadUtil.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/CdcMssqlSourceTest.java
  docs/integrations/sources/mssql.md
Labels: connectors/source/mssql, dependencies-change

#62052 Revert recent change to CDK function signature
  airbyte-cdk/java/airbyte-cdk/README.md
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/source/jdbc/AbstractJdbcSource.kt
  airbyte-cdk/java/airbyte-cdk/db-sources/src/main/kotlin/io/airbyte/cdk/integrations/source/relationaldb/AbstractDbSource.kt
  airbyte-integrations/connectors/source-mssql/build.gradle
  airbyte-integrations/connectors/source-mssql/metadata.yaml
  airbyte-integrations/connectors/source-mssql/src/main/java/io/airbyte/integrations/source/mssql/MssqlSource.java
  airbyte-integrations/connectors/source-mssql/src/test/java/io/airbyte/integrations/source/mssql/MssqlSourceTest.java
  docs/integrations/sources/mssql.md
Labels: connectors/source/mssql, dependencies-change

#62068 chore: prepare rc release
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/file/object_storage/ProtoToJsonFormatter.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/main/kotlin/io/airbyte/cdk/load/file/object_storage/ProtoToJsonWriter.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/test/kotlin/io/airbyte/cdk/load/file/object_storage/ProtoToJsonFormattingTest.kt
  airbyte-cdk/bulk/toolkits/load-object-storage/src/testFixtures/kotlin/io/airbyte/cdk/load/ObjectStorageDataDumper.kt
  airbyte-integrations/connectors/destination-s3/metadata.yaml
  airbyte-integrations/connectors/destination-s3/src/main/kotlin/S3V2Configuration.kt
  airbyte-integrations/connectors/destination-s3/src/main/kotlin/S3V2ObjectLoader.kt
  airbyte-integrations/connectors/destination-s3/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_v2/S3V2DataDumper.kt
  airbyte-integrations/connectors/destination-s3/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_v2/S3V2WriteTest.kt
  docs/integrations/destinations/s3.md
Labels: connectors/destination/s3

#47283 ✨ Source Greenhouse : Migrate to Manifest-only
  airbyte-integrations/connectors/source-greenhouse/.coveragerc
  airbyte-integrations/connectors/source-greenhouse/README.md
  airbyte-integrations/connectors/source-greenhouse/acceptance-test-config.yml
  airbyte-integrations/connectors/source-greenhouse/components.py
  airbyte-integrations/connectors/source-greenhouse/main.py
  airbyte-integrations/connectors/source-greenhouse/manifest.yaml
  airbyte-integrations/connectors/source-greenhouse/metadata.yaml
  airbyte-integrations/connectors/source-greenhouse/pyproject.toml
  airbyte-integrations/connectors/source-greenhouse/source_greenhouse/__init__.py
  airbyte-integrations/connectors/source-greenhouse/source_greenhouse/manifest.yaml
  airbyte-integrations/connectors/source-greenhouse/source_greenhouse/run.py
  airbyte-integrations/connectors/source-greenhouse/source_greenhouse/source.py
  airbyte-integrations/connectors/source-greenhouse/unit_tests/conftest.py
  airbyte-integrations/connectors/source-greenhouse/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-greenhouse/unit_tests/pyproject.toml
  airbyte-integrations/connectors/source-greenhouse/unit_tests/test_components.py
  airbyte-integrations/connectors/source-greenhouse/unit_tests/test_streams.py
  docs/integrations/sources/greenhouse.md
Labels: area/documentation, area/connectors, connectors/source/greenhouse

#62481 fix(source-hubspot): Add error handler to the underlying associations requester so OAuth refresh on 401 is handled properly
  airbyte-integrations/connectors/source-hubspot/components.py
  airbyte-integrations/connectors/source-hubspot/metadata.yaml
  airbyte-integrations/connectors/source-hubspot/unit_tests/test_components.py
  docs/integrations/sources/hubspot.md
Labels: connectors/source/hubspot

#62479 Source-Paddle - Added new adjustments stream + incremental fix
  airbyte-integrations/connectors/source-paddle/manifest.yaml
  airbyte-integrations/connectors/source-paddle/metadata.yaml
  docs/integrations/sources/paddle.md
Labels: community, connectors/source/paddle

#62480 feat(source-gitlab): migrate to manifest-only
  airbyte-integrations/connectors/source-gitlab/.coveragerc
  airbyte-integrations/connectors/source-gitlab/README.md
  airbyte-integrations/connectors/source-gitlab/acceptance-test-config.yml
  airbyte-integrations/connectors/source-gitlab/components.py
  airbyte-integrations/connectors/source-gitlab/main.py
  airbyte-integrations/connectors/source-gitlab/manifest.yaml
  airbyte-integrations/connectors/source-gitlab/metadata.yaml
  airbyte-integrations/connectors/source-gitlab/pyproject.toml
  airbyte-integrations/connectors/source-gitlab/source_gitlab/__init__.py
  airbyte-integrations/connectors/source-gitlab/source_gitlab/config_migrations.py
  airbyte-integrations/connectors/source-gitlab/source_gitlab/manifest.yaml
  airbyte-integrations/connectors/source-gitlab/source_gitlab/run.py
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/branches.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/commits.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/deployments.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/epic_issues.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/epics.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/group_issue_boards.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/group_labels.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/group_members.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/group_milestones.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/groups.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/issues.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/jobs.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/merge_request_commits.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/merge_requests.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/pipelines.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/pipelines_extended.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/project_labels.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/project_members.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/project_milestones.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/projects.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/releases.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/tags.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/schemas/users.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/source.py
  airbyte-integrations/connectors/source-gitlab/source_gitlab/spec.json
  airbyte-integrations/connectors/source-gitlab/source_gitlab/utils.py
  airbyte-integrations/connectors/source-gitlab/unit_tests/__init__.py
  airbyte-integrations/connectors/source-gitlab/unit_tests/conftest.py
  airbyte-integrations/connectors/source-gitlab/unit_tests/poetry.lock
  airbyte-integrations/connectors/source-gitlab/unit_tests/pyproject.toml
  airbyte-integrations/connectors/source-gitlab/unit_tests/test_config.json
  airbyte-integrations/connectors/source-gitlab/unit_tests/test_config_migrations.py
  airbyte-integrations/connectors/source-gitlab/unit_tests/test_partition_routers.py
  airbyte-integrations/connectors/source-gitlab/unit_tests/test_source.py
  airbyte-integrations/connectors/source-gitlab/unit_tests/test_streams.py
  airbyte-integrations/connectors/source-gitlab/unit_tests/test_utils.py
  docs/integrations/sources/amazon-seller-partner.md
  docs/integrations/sources/gitlab.md
Labels: connectors/source/gitlab

#62087 feat(source-bing-ads): custom streams to low code
  airbyte-integrations/connectors/source-bing-ads/metadata.yaml
  airbyte-integrations/connectors/source-bing-ads/poetry.lock
  airbyte-integrations/connectors/source-bing-ads/pyproject.toml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/components.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/manifest.yaml
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/report_streams.py
  airbyte-integrations/connectors/source-bing-ads/source_bing_ads/source.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/config_builder.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/test_custom_report.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/integrations/test_report_stream.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/custom_hourly_with_record_further_config_start_date.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/custom_report.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/custom_report_day_of_week.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/custom_report_hour_of_day.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/custom_report_hourly.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/custom_report_hourly_incremental.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/custom_report_hourly_incremental_with_records_further_cursor.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/custom_report_incremental.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/custom_report_incremental_with_records_further_cursor.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/custom_report_summary.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/response/custom_report_with_record_further_start_date.csv
  airbyte-integrations/connectors/source-bing-ads/unit_tests/resource/state/custom_report.json
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_reports.py
  airbyte-integrations/connectors/source-bing-ads/unit_tests/test_source.py
  docs/integrations/sources/bing-ads.md
Labels: connectors/source/bing-ads

#62033 [source-notion] add in_trash fields to pages/ stream
  airbyte-integrations/connectors/source-notion/README.md
  airbyte-integrations/connectors/source-notion/integration_tests/expected_records.jsonl
  airbyte-integrations/connectors/source-notion/metadata.yaml
  airbyte-integrations/connectors/source-notion/source_notion/manifest.yaml
  airbyte-integrations/connectors/source-notion/source_notion/schemas/pages.json
  docs/integrations/sources/notion.md
Labels: community, connectors/source/notion

#62118 Fix(Airtable): OOM on Discover - Bump Mem to 1.5 GB
  airbyte-integrations/connectors/source-airtable/metadata.yaml
  docs/integrations/sources/airtable.md
Labels: connectors/source/airtable

#59742 destination-surrealdb: Adds SurrealDB Destination w/ Destinations V2 support
  airbyte-integrations/connectors/destination-surrealdb/.gitignore
  airbyte-integrations/connectors/destination-surrealdb/README.md
  airbyte-integrations/connectors/destination-surrealdb/destination_surrealdb/__init__.py
  airbyte-integrations/connectors/destination-surrealdb/destination_surrealdb/destination.py
  airbyte-integrations/connectors/destination-surrealdb/destination_surrealdb/spec.json
  airbyte-integrations/connectors/destination-surrealdb/icon.svg
  airbyte-integrations/connectors/destination-surrealdb/integration_tests/config.json
  airbyte-integrations/connectors/destination-surrealdb/integration_tests/configured_catalog.json
  airbyte-integrations/connectors/destination-surrealdb/integration_tests/integration_test.py
  airbyte-integrations/connectors/destination-surrealdb/integration_tests/messages.jsonl
  airbyte-integrations/connectors/destination-surrealdb/integration_tests/spec.json
  airbyte-integrations/connectors/destination-surrealdb/main.py
  airbyte-integrations/connectors/destination-surrealdb/metadata.yaml
  airbyte-integrations/connectors/destination-surrealdb/poetry.lock
  airbyte-integrations/connectors/destination-surrealdb/pyproject.toml
  airbyte-integrations/connectors/destination-surrealdb/unit_tests/unit_test.py
  docs/integrations/destinations/surrealdb.md
Labels: community, connectors/destination/surrealdb

#62583 🐙 source-lob: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-lob/metadata.yaml
  docs/integrations/sources/lob.md
Labels: auto-merge, up-to-date, connectors/source/lob

#62582 🐙 source-phyllo: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-phyllo/metadata.yaml
  docs/integrations/sources/phyllo.md
Labels: auto-merge, up-to-date, connectors/source/phyllo

#62579 🐙 source-miro: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-miro/metadata.yaml
  docs/integrations/sources/miro.md
Labels: auto-merge, up-to-date, connectors/source/miro

#62578 🐙 source-perigon: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-perigon/metadata.yaml
  docs/integrations/sources/perigon.md
Labels: auto-merge, up-to-date, connectors/source/perigon

#62576 🐙 source-mercado-ads: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-mercado-ads/metadata.yaml
  docs/integrations/sources/mercado-ads.md
Labels: auto-merge, up-to-date, connectors/source/mercado-ads

#62575 🐙 source-pabbly-subscriptions-billing: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-pabbly-subscriptions-billing/metadata.yaml
  docs/integrations/sources/pabbly-subscriptions-billing.md
Labels: auto-merge, up-to-date, connectors/source/pabbly-subscriptions-billing

#62574 🐙 source-opuswatch: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-opuswatch/metadata.yaml
  docs/integrations/sources/opuswatch.md
Labels: auto-merge, up-to-date, connectors/source/opuswatch

#62573 🐙 source-google-pagespeed-insights: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-google-pagespeed-insights/metadata.yaml
  docs/integrations/sources/google-pagespeed-insights.md
Labels: connectors/source/google-pagespeed-insights, auto-merge, up-to-date

#62572 🐙 source-kisi: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-kisi/metadata.yaml
  docs/integrations/sources/kisi.md
Labels: auto-merge, up-to-date, connectors/source/kisi

#62571 🐙 source-papersign: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-papersign/metadata.yaml
  docs/integrations/sources/papersign.md
Labels: auto-merge, up-to-date, connectors/source/papersign

#62569 🐙 source-newsdata-io: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-newsdata-io/metadata.yaml
  docs/integrations/sources/newsdata-io.md
Labels: auto-merge, up-to-date, connectors/source/newsdata-io

#62568 🐙 source-linnworks: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-linnworks/metadata.yaml
  airbyte-integrations/connectors/source-linnworks/poetry.lock
  airbyte-integrations/connectors/source-linnworks/pyproject.toml
  docs/integrations/sources/linnworks.md
Labels: connectors/source/linnworks, auto-merge, up-to-date

#62567 🐙 source-leadfeeder: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-leadfeeder/metadata.yaml
  docs/integrations/sources/leadfeeder.md
Labels: auto-merge, up-to-date, connectors/source/leadfeeder

#62566 🐙 source-paddle: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-paddle/metadata.yaml
  docs/integrations/sources/paddle.md
Labels: auto-merge, up-to-date, connectors/source/paddle

#62565 🐙 source-mendeley: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-mendeley/metadata.yaml
  docs/integrations/sources/mendeley.md
Labels: auto-merge, up-to-date, connectors/source/mendeley

#62562 🐙 source-pokeapi: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-pokeapi/metadata.yaml
  docs/integrations/sources/pokeapi.md
Labels: connectors/source/pokeapi, auto-merge, up-to-date

#62559 🐙 source-pardot: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-pardot/metadata.yaml
  docs/integrations/sources/pardot.md
Labels: connectors/source/pardot, auto-merge, up-to-date

#62558 🐙 source-kissmetrics: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-kissmetrics/metadata.yaml
  docs/integrations/sources/kissmetrics.md
Labels: auto-merge, up-to-date, connectors/source/kissmetrics

#62557 🐙 source-openaq: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-openaq/metadata.yaml
  docs/integrations/sources/openaq.md
Labels: auto-merge, up-to-date, connectors/source/openaq

#62556 🐙 source-mailtrap: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-mailtrap/metadata.yaml
  docs/integrations/sources/mailtrap.md
Labels: auto-merge, up-to-date, connectors/source/mailtrap

#62554 🐙 source-paystack: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-paystack/metadata.yaml
  docs/integrations/sources/paystack.md
Labels: connectors/source/paystack, auto-merge, up-to-date

#62552 🐙 source-pagerduty: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-pagerduty/metadata.yaml
  docs/integrations/sources/pagerduty.md
Labels: connectors/source/pagerduty, auto-merge, up-to-date

#62550 🐙 source-launchdarkly: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-launchdarkly/metadata.yaml
  docs/integrations/sources/launchdarkly.md
Labels: connectors/source/launchdarkly, auto-merge, up-to-date

#62546 🐙 source-less-annoying-crm: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-less-annoying-crm/metadata.yaml
  docs/integrations/sources/less-annoying-crm.md
Labels: auto-merge, up-to-date, connectors/source/less-annoying-crm

#62545 🐙 source-navan: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-navan/metadata.yaml
  docs/integrations/sources/navan.md
Labels: auto-merge, up-to-date, connectors/source/navan

#62543 🐙 source-oncehub: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-oncehub/metadata.yaml
  docs/integrations/sources/oncehub.md
Labels: auto-merge, up-to-date, connectors/source/oncehub

#62542 🐙 source-kyriba: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-kyriba/metadata.yaml
  airbyte-integrations/connectors/source-kyriba/poetry.lock
  airbyte-integrations/connectors/source-kyriba/pyproject.toml
  docs/integrations/sources/kyriba.md
Labels: connectors/source/kyriba, auto-merge, up-to-date

#62541 🐙 source-buzzsprout: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-buzzsprout/metadata.yaml
  docs/integrations/sources/buzzsprout.md
Labels: auto-merge, up-to-date, connectors/source/buzzsprout

#62540 🐙 source-apify-dataset: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-apify-dataset/metadata.yaml
  docs/integrations/sources/apify-dataset.md
Labels: connectors/source/apify-dataset, auto-merge, up-to-date

#62538 🐙 source-agilecrm: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-agilecrm/metadata.yaml
  docs/integrations/sources/agilecrm.md
Labels: auto-merge, up-to-date, connectors/source/agilecrm

#62536 🐙 source-campaign-monitor: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-campaign-monitor/metadata.yaml
  docs/integrations/sources/campaign-monitor.md
Labels: auto-merge, up-to-date, connectors/source/campaign-monitor

#62533 🐙 source-assemblyai: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-assemblyai/metadata.yaml
  docs/integrations/sources/assemblyai.md
Labels: auto-merge, up-to-date, connectors/source/assemblyai

#62531 🐙 source-boldsign: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-boldsign/metadata.yaml
  docs/integrations/sources/boldsign.md
Labels: auto-merge, up-to-date, connectors/source/boldsign

#62529 🐙 source-canny: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-canny/metadata.yaml
  docs/integrations/sources/canny.md
Labels: auto-merge, up-to-date, connectors/source/canny

#62528 🐙 source-braze: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-braze/metadata.yaml
  docs/integrations/sources/braze.md
Labels: connectors/source/braze, auto-merge, up-to-date

#62527 🐙 source-brevo: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-brevo/metadata.yaml
  docs/integrations/sources/brevo.md
Labels: auto-merge, up-to-date, connectors/source/brevo

#61623 🐙 destination-pgvector: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/destination-pgvector/metadata.yaml
  airbyte-integrations/connectors/destination-pgvector/poetry.lock
  airbyte-integrations/connectors/destination-pgvector/pyproject.toml
  docs/integrations/destinations/pgvector.md
Labels: auto-merge, up-to-date, connectors/destination/pgvector

#61135 🐙 source-google-analytics-data-api: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  docs/integrations/sources/google-analytics-data-api.md
Labels: connectors/source/google-analytics-data-api, auto-merge, up-to-date

#60720 🐙 source-brex: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-brex/metadata.yaml
  docs/integrations/sources/brex.md
Labels: auto-merge, up-to-date, connectors/source/brex

#62657 🐙 source-microsoft-lists: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-microsoft-lists/metadata.yaml
  docs/integrations/sources/microsoft-lists.md
Labels: auto-merge, up-to-date, connectors/source/microsoft-lists

#62656 🐙 source-inflowinventory: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-inflowinventory/metadata.yaml
  docs/integrations/sources/inflowinventory.md
Labels: auto-merge, up-to-date, connectors/source/inflowinventory

#62654 🐙 source-justcall: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-justcall/metadata.yaml
  docs/integrations/sources/justcall.md
Labels: auto-merge, up-to-date, connectors/source/justcall

#62653 🐙 source-google-calendar: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-google-calendar/metadata.yaml
  docs/integrations/sources/google-calendar.md
Labels: connectors/source/google-calendar, auto-merge, up-to-date

#62652 🐙 source-hugging-face-datasets: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-hugging-face-datasets/metadata.yaml
  docs/integrations/sources/hugging-face-datasets.md
Labels: auto-merge, up-to-date, connectors/source/hugging-face-datasets

#62651 🐙 source-marketstack: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-marketstack/metadata.yaml
  docs/integrations/sources/marketstack.md
Labels: auto-merge, up-to-date, connectors/source/marketstack

#62650 🐙 source-oveit: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-oveit/metadata.yaml
  docs/integrations/sources/oveit.md
Labels: auto-merge, up-to-date, connectors/source/oveit

#62648 🐙 source-openweather: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-openweather/metadata.yaml
  docs/integrations/sources/openweather.md
Labels: connectors/source/openweather, auto-merge, up-to-date

#62646 🐙 source-nebius-ai: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-nebius-ai/metadata.yaml
  docs/integrations/sources/nebius-ai.md
Labels: auto-merge, up-to-date, connectors/source/nebius-ai

#62645 🐙 source-keka: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-keka/metadata.yaml
  docs/integrations/sources/keka.md
Labels: auto-merge, up-to-date, connectors/source/keka

#62644 🐙 source-getlago: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-getlago/metadata.yaml
  docs/integrations/sources/getlago.md
Labels: connectors/source/getlago, auto-merge, up-to-date

#62643 🐙 source-illumina-basespace: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-illumina-basespace/metadata.yaml
  docs/integrations/sources/illumina-basespace.md
Labels: auto-merge, up-to-date, connectors/source/illumina-basespace

#62641 🐙 source-gong: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-gong/metadata.yaml
  docs/integrations/sources/gong.md
Labels: connectors/source/gong, auto-merge, up-to-date

#62640 🐙 source-jira: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-jira/metadata.yaml
  docs/integrations/sources/jira.md
Labels: connectors/source/jira, auto-merge, up-to-date

#62639 🐙 source-google-tasks: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-google-tasks/metadata.yaml
  docs/integrations/sources/google-tasks.md
Labels: auto-merge, up-to-date, connectors/source/google-tasks

#62638 🐙 source-luma: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-luma/metadata.yaml
  docs/integrations/sources/luma.md
Labels: auto-merge, up-to-date, connectors/source/luma

#62637 🐙 source-nylas: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-nylas/metadata.yaml
  docs/integrations/sources/nylas.md
Labels: auto-merge, up-to-date, connectors/source/nylas

#62635 🐙 source-pandadoc: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-pandadoc/metadata.yaml
  docs/integrations/sources/pandadoc.md
Labels: auto-merge, up-to-date, connectors/source/pandadoc

#62634 🐙 source-partnerize: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-partnerize/metadata.yaml
  docs/integrations/sources/partnerize.md
Labels: auto-merge, up-to-date, connectors/source/partnerize

#62633 🐙 source-nocrm: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-nocrm/metadata.yaml
  docs/integrations/sources/nocrm.md
Labels: auto-merge, up-to-date, connectors/source/nocrm

#62632 🐙 source-invoiceninja: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-invoiceninja/metadata.yaml
  docs/integrations/sources/invoiceninja.md
Labels: auto-merge, up-to-date, connectors/source/invoiceninja

#62630 🐙 source-outbrain-amplify: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-outbrain-amplify/metadata.yaml
  airbyte-integrations/connectors/source-outbrain-amplify/poetry.lock
  airbyte-integrations/connectors/source-outbrain-amplify/pyproject.toml
  docs/integrations/sources/outbrain-amplify.md
Labels: connectors/source/outbrain-amplify, auto-merge, up-to-date

#62629 🐙 source-help-scout: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-help-scout/metadata.yaml
  docs/integrations/sources/help-scout.md
Labels: connectors/source/help-scout, auto-merge, up-to-date

#62628 🐙 source-guru: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-guru/metadata.yaml
  docs/integrations/sources/guru.md
Labels: auto-merge, up-to-date, connectors/source/guru

#62627 🐙 source-just-sift: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-just-sift/metadata.yaml
  docs/integrations/sources/just-sift.md
Labels: auto-merge, up-to-date, connectors/source/just-sift

#62625 🐙 source-paypal-transaction: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-paypal-transaction/metadata.yaml
  docs/integrations/sources/paypal-transaction.md
Labels: connectors/source/paypal-transaction, auto-merge, up-to-date

#62623 🐙 source-mux: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-mux/metadata.yaml
  docs/integrations/sources/mux.md
Labels: auto-merge, up-to-date, connectors/source/mux

#62622 🐙 source-pennylane: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-pennylane/metadata.yaml
  docs/integrations/sources/pennylane.md
Labels: auto-merge, up-to-date, connectors/source/pennylane

#62621 🐙 source-ninjaone-rmm: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-ninjaone-rmm/metadata.yaml
  docs/integrations/sources/ninjaone-rmm.md
Labels: auto-merge, up-to-date, connectors/source/ninjaone-rmm

#62620 🐙 source-nasa: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-nasa/metadata.yaml
  docs/integrations/sources/nasa.md
Labels: connectors/source/nasa, auto-merge, up-to-date

#62619 🐙 source-opinion-stage: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-opinion-stage/metadata.yaml
  docs/integrations/sources/opinion-stage.md
Labels: auto-merge, up-to-date, connectors/source/opinion-stage

#62617 🐙 source-greythr: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-greythr/metadata.yaml
  docs/integrations/sources/greythr.md
Labels: auto-merge, up-to-date, connectors/source/greythr

#62616 🐙 source-jotform: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-jotform/metadata.yaml
  docs/integrations/sources/jotform.md
Labels: auto-merge, up-to-date, connectors/source/jotform

#62612 🐙 source-mode: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-mode/metadata.yaml
  docs/integrations/sources/mode.md
Labels: auto-merge, up-to-date, connectors/source/mode

#62607 🐙 source-productive: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-productive/metadata.yaml
  docs/integrations/sources/productive.md
Labels: auto-merge, up-to-date, connectors/source/productive

#62606 🐙 source-newsdata: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-newsdata/metadata.yaml
  docs/integrations/sources/newsdata.md
Labels: connectors/source/newsdata, auto-merge, up-to-date

#62605 🐙 source-planhat: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-planhat/metadata.yaml
  docs/integrations/sources/planhat.md
Labels: connectors/source/planhat, auto-merge, up-to-date

#62603 🐙 source-polygon-stock-api: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-polygon-stock-api/metadata.yaml
  docs/integrations/sources/polygon-stock-api.md
Labels: connectors/source/polygon-stock-api, auto-merge, up-to-date

#62602 🐙 source-invoiced: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-invoiced/metadata.yaml
  docs/integrations/sources/invoiced.md
Labels: auto-merge, up-to-date, connectors/source/invoiced

#62601 🐙 source-linear: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-linear/metadata.yaml
  docs/integrations/sources/linear.md
Labels: auto-merge, up-to-date, connectors/source/linear

#62600 🐙 source-height: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-height/metadata.yaml
  docs/integrations/sources/height.md
Labels: auto-merge, up-to-date, connectors/source/height

#62599 🐙 source-pocket: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-pocket/metadata.yaml
  docs/integrations/sources/pocket.md
Labels: connectors/source/pocket, auto-merge, up-to-date

#62598 🐙 source-lever-hiring: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-lever-hiring/metadata.yaml
  docs/integrations/sources/lever-hiring.md
Labels: connectors/source/lever-hiring, auto-merge, up-to-date

#62596 🐙 source-lightspeed-retail: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-lightspeed-retail/metadata.yaml
  docs/integrations/sources/lightspeed-retail.md
Labels: auto-merge, up-to-date, connectors/source/lightspeed-retail

#62594 🐙 source-pendo: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-pendo/metadata.yaml
  docs/integrations/sources/pendo.md
Labels: connectors/source/pendo, auto-merge, up-to-date

#62593 🐙 source-poplar: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-poplar/metadata.yaml
  docs/integrations/sources/poplar.md
Labels: auto-merge, up-to-date, connectors/source/poplar

#62592 🐙 source-intercom: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-intercom/metadata.yaml
  docs/integrations/sources/intercom.md
Labels: connectors/source/intercom, auto-merge, up-to-date

#62591 🐙 source-incident-io: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-incident-io/metadata.yaml
  docs/integrations/sources/incident-io.md
Labels: auto-merge, up-to-date, connectors/source/incident-io

#62588 🐙 source-qualaroo: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-qualaroo/metadata.yaml
  docs/integrations/sources/qualaroo.md
Labels: connectors/source/qualaroo, auto-merge, up-to-date

#62587 🐙 source-google-classroom: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-google-classroom/metadata.yaml
  docs/integrations/sources/google-classroom.md
Labels: auto-merge, up-to-date, connectors/source/google-classroom

#62586 🐙 source-microsoft-entra-id: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-microsoft-entra-id/metadata.yaml
  docs/integrations/sources/microsoft-entra-id.md
Labels: auto-merge, up-to-date, connectors/source/microsoft-entra-id

#62585 🐙 source-imagga: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-imagga/metadata.yaml
  docs/integrations/sources/imagga.md
Labels: auto-merge, up-to-date, connectors/source/imagga

#62584 🐙 source-onepagecrm: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-onepagecrm/metadata.yaml
  docs/integrations/sources/onepagecrm.md
Labels: auto-merge, up-to-date, connectors/source/onepagecrm

#61142 🐙 source-marketo: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-marketo/metadata.yaml
  airbyte-integrations/connectors/source-marketo/poetry.lock
  airbyte-integrations/connectors/source-marketo/pyproject.toml
  docs/integrations/sources/marketo.md
Labels: connectors/source/marketo, auto-merge, up-to-date

#62729 🐙 source-zoom: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-zoom/metadata.yaml
  docs/integrations/sources/zoom.md
Labels: connectors/source/zoom, auto-merge, up-to-date

#62728 🐙 source-tavus: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-tavus/metadata.yaml
  docs/integrations/sources/tavus.md
Labels: auto-merge, up-to-date, connectors/source/tavus

#62726 🐙 source-repairshopr: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-repairshopr/metadata.yaml
  docs/integrations/sources/repairshopr.md
Labels: auto-merge, up-to-date, connectors/source/repairshopr

#62724 🐙 source-sage-hr: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-sage-hr/metadata.yaml
  docs/integrations/sources/sage-hr.md
Labels: auto-merge, up-to-date, connectors/source/sage-hr

#62722 🐙 source-revolut-merchant: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-revolut-merchant/metadata.yaml
  docs/integrations/sources/revolut-merchant.md
Labels: auto-merge, up-to-date, connectors/source/revolut-merchant

#62721 🐙 source-simfin: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-simfin/metadata.yaml
  docs/integrations/sources/simfin.md
Labels: auto-merge, up-to-date, connectors/source/simfin

#62720 🐙 source-zapsign: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-zapsign/metadata.yaml
  docs/integrations/sources/zapsign.md
Labels: auto-merge, up-to-date, connectors/source/zapsign

#62718 🐙 source-revenuecat: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-revenuecat/metadata.yaml
  docs/integrations/sources/revenuecat.md
Labels: auto-merge, up-to-date, connectors/source/revenuecat

#62717 🐙 source-zoho-expense: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-zoho-expense/metadata.yaml
  docs/integrations/sources/zoho-expense.md
Labels: auto-merge, up-to-date, connectors/source/zoho-expense

#62716 🐙 source-sentry: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-sentry/metadata.yaml
  docs/integrations/sources/sentry.md
Labels: connectors/source/sentry, auto-merge, up-to-date

#62715 🐙 source-zoho-invoice: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-zoho-invoice/metadata.yaml
  docs/integrations/sources/zoho-invoice.md
Labels: auto-merge, up-to-date, connectors/source/zoho-invoice

#62714 🐙 source-yousign: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-yousign/metadata.yaml
  docs/integrations/sources/yousign.md
Labels: auto-merge, up-to-date, connectors/source/yousign

#62712 🐙 source-vantage: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-vantage/metadata.yaml
  docs/integrations/sources/vantage.md
Labels: connectors/source/vantage, auto-merge, up-to-date

#62710 🐙 source-visma-economic: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-visma-economic/metadata.yaml
  docs/integrations/sources/visma-economic.md
Labels: connectors/source/visma-economic, auto-merge, up-to-date

#62709 🐙 source-slack: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-slack/metadata.yaml
  airbyte-integrations/connectors/source-slack/poetry.lock
  airbyte-integrations/connectors/source-slack/pyproject.toml
  docs/integrations/sources/slack.md
Labels: connectors/source/slack, auto-merge, up-to-date

#62707 🐙 source-tremendous: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-tremendous/metadata.yaml
  docs/integrations/sources/tremendous.md
Labels: auto-merge, up-to-date, connectors/source/tremendous

#62706 🐙 source-zoho-billing: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-zoho-billing/metadata.yaml
  docs/integrations/sources/zoho-billing.md
Labels: auto-merge, up-to-date, connectors/source/zoho-billing

#62705 🐙 source-savvycal: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-savvycal/metadata.yaml
  docs/integrations/sources/savvycal.md
Labels: auto-merge, up-to-date, connectors/source/savvycal

#62704 🐙 source-smartreach: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-smartreach/metadata.yaml
  docs/integrations/sources/smartreach.md
Labels: auto-merge, up-to-date, connectors/source/smartreach

#62701 🐙 source-youtube-data: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-youtube-data/metadata.yaml
  docs/integrations/sources/youtube-data.md
Labels: connectors/source/youtube-data, auto-merge, up-to-date

#62700 🐙 source-when-i-work: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-when-i-work/metadata.yaml
  docs/integrations/sources/when-i-work.md
Labels: auto-merge, up-to-date, connectors/source/when-i-work

#62698 🐙 source-referralhero: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-referralhero/metadata.yaml
  docs/integrations/sources/referralhero.md
Labels: auto-merge, up-to-date, connectors/source/referralhero

#62697 🐙 source-reddit: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-reddit/metadata.yaml
  docs/integrations/sources/reddit.md
Labels: connectors/source/reddit, auto-merge, up-to-date

#62696 🐙 source-rollbar: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-rollbar/metadata.yaml
  docs/integrations/sources/rollbar.md
Labels: auto-merge, up-to-date, connectors/source/rollbar

#62695 🐙 source-sigma-computing: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-sigma-computing/metadata.yaml
  docs/integrations/sources/sigma-computing.md
Labels: auto-merge, up-to-date, connectors/source/sigma-computing

#62693 🐙 source-systeme: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-systeme/metadata.yaml
  docs/integrations/sources/systeme.md
Labels: auto-merge, up-to-date, connectors/source/systeme

#62692 🐙 source-wufoo: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-wufoo/metadata.yaml
  docs/integrations/sources/wufoo.md
Labels: auto-merge, up-to-date, connectors/source/wufoo

#62691 🐙 source-zendesk-support: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-zendesk-support/metadata.yaml
  docs/integrations/sources/zendesk-support.md
Labels: connectors/source/zendesk-support, auto-merge, up-to-date

#62689 🐙 source-woocommerce: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-woocommerce/metadata.yaml
  docs/integrations/sources/woocommerce.md
Labels: connectors/source/woocommerce, auto-merge, up-to-date

#62686 🐙 source-vercel: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-vercel/metadata.yaml
  docs/integrations/sources/vercel.md
Labels: auto-merge, up-to-date, connectors/source/vercel

#62685 🐙 source-zoho-analytics-metadata-api: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-zoho-analytics-metadata-api/metadata.yaml
  docs/integrations/sources/zoho-analytics-metadata-api.md
Labels: auto-merge, up-to-date, connectors/source/zoho-analytics-metadata-api

#62681 🐙 source-survicate: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-survicate/metadata.yaml
  docs/integrations/sources/survicate.md
Labels: connectors/source/survicate, auto-merge, up-to-date

#62680 🐙 source-svix: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-svix/metadata.yaml
  docs/integrations/sources/svix.md
Labels: auto-merge, up-to-date, connectors/source/svix

#62679 🐙 source-recurly: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-recurly/metadata.yaml
  docs/integrations/sources/recurly.md
Labels: connectors/source/recurly, auto-merge, up-to-date

#62678 🐙 source-shutterstock: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-shutterstock/metadata.yaml
  docs/integrations/sources/shutterstock.md
Labels: auto-merge, up-to-date, connectors/source/shutterstock

#62677 🐙 source-zendesk-chat: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-zendesk-chat/metadata.yaml
  docs/integrations/sources/zendesk-chat.md
Labels: connectors/source/zendesk-chat, auto-merge, up-to-date

#62676 🐙 source-zoho-inventory: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-zoho-inventory/metadata.yaml
  docs/integrations/sources/zoho-inventory.md
Labels: auto-merge, up-to-date, connectors/source/zoho-inventory

#62675 🐙 source-zoho-campaign: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-zoho-campaign/metadata.yaml
  docs/integrations/sources/zoho-campaign.md
Labels: auto-merge, up-to-date, connectors/source/zoho-campaign

#62670 🐙 source-salesflare: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-salesflare/metadata.yaml
  docs/integrations/sources/salesflare.md
Labels: auto-merge, up-to-date, connectors/source/salesflare

#62669 🐙 source-simplecast: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-simplecast/metadata.yaml
  docs/integrations/sources/simplecast.md
Labels: auto-merge, up-to-date, connectors/source/simplecast

#62667 🐙 source-split-io: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-split-io/metadata.yaml
  docs/integrations/sources/split-io.md
Labels: auto-merge, up-to-date, connectors/source/split-io

#62665 🐙 source-iterable: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-iterable/metadata.yaml
  airbyte-integrations/connectors/source-iterable/poetry.lock
  airbyte-integrations/connectors/source-iterable/pyproject.toml
  docs/integrations/sources/iterable.md
Labels: connectors/source/iterable, auto-merge, up-to-date

#62664 🐙 source-katana: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-katana/metadata.yaml
  docs/integrations/sources/katana.md
Labels: auto-merge, up-to-date, connectors/source/katana

#62660 🐙 source-nutshell: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-nutshell/metadata.yaml
  docs/integrations/sources/nutshell.md
Labels: auto-merge, up-to-date, connectors/source/nutshell

#61454 🐙 source-teamwork: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-teamwork/metadata.yaml
  docs/integrations/sources/teamwork.md
Labels: auto-merge, up-to-date, connectors/source/teamwork

#61236 🐙 source-xkcd: run up-to-date pipeline [2025-07-05]
  airbyte-integrations/connectors/source-xkcd/metadata.yaml
  docs/integrations/sources/xkcd.md
Labels: connectors/source/xkcd, auto-merge, up-to-date
