Repository airbytehq/airbyte, pull requests merged in 2025-05, with the labels that each got.

#59173 Update dependencies for security.
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/s3-destinations/build.gradle
Labels: connectors/destination/snowflake

#59187 fix(ci): use binary installation instead of installing from source
  .github/actions/install-airbyte-ci/action.yml
Labels: connectors/destination/mysql

#59137 Bulk load CDK: destinationcleaner must be singleton
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/DestinationCleaner.kt
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/test/util/IntegrationTest.kt
  airbyte-integrations/connectors/destination-mssql/src/test-integration/kotlin/io/airbyte/integrations/destination/mssql/v2/MSSQLWriterTest.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeCleaner.kt
  airbyte-integrations/connectors/destination-s3-data-lake/src/test-integration/kotlin/io/airbyte/integrations/destination/s3_data_lake/S3DataLakeWriteTest.kt
Labels: connectors/destination/mssql, connectors/destination/s3-data-lake

#59192 Bulk load CDK: improve configurability for timetz data type tests
  airbyte-cdk/bulk/core/load/src/testFixtures/kotlin/io/airbyte/cdk/load/write/BasicFunctionalityIntegrationTest.kt
Labels: connectors/destination/bigquery

#58648 feat: improved bulk cdk bump flow
  .github/workflows/bump-bulk-cdk-and-release-connectors-command.yml
  .github/workflows/bump-bulk-cdk-and-release-connectors.yml
  .github/workflows/publish_connectors.yml
  .github/workflows/slash-commands.yml
  tools/bin/cdk-auto-release/update-bulk-cdk-version-in-connectors.sh
  tools/bin/cdk-auto-release/update-changelog.sh
Labels: connectors/destination/dev-null

#59191 bigquery: handle nested integral number behavior
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/kotlin/io/airbyte/integrations/destination/bigquery/BigqueryWriteTest.kt
  airbyte-integrations/connectors/destination-bigquery/src/test-integration/kotlin/io/airbyte/integrations/destination/bigquery/IntegralNumberRecordMapper.kt
Labels: connectors/destination/bigquery

#59153 [BigQuery] Name collision (table and columns)
  airbyte-cdk/bulk/toolkits/load-db/src/main/kotlin/io/airbyte/cdk/load/orchestration/db/legacy_typing_deduping/TableNameMapFactory.kt
  airbyte-cdk/bulk/toolkits/load-db/src/test/kotlin/io/airbyte/cdk/load/toolkits/load/db/orchestration/TableCatalogFactoryTest.kt
Labels: connectors/destination/bigquery

#58651 [BigQuery] Uppdate the filePath for the bulkloader staging files
  airbyte-integrations/connectors/destination-bigquery/src/main/kotlin/io/airbyte/integrations/destination/bigquery/write/bulk_loader/BigQueryBulkLoaderConfiguration.kt
Labels: connectors/destination/bigquery

#59206 chore: rename workflow
  .github/workflows/bump-bulk-cdk-and-release-connectors-command.yml
Labels: connectors/destination/dev-null

#59221 Final set of high vulnerability changes.
  airbyte-cdk/java/airbyte-cdk/core/src/main/resources/version.properties
  airbyte-cdk/java/airbyte-cdk/s3-destinations/build.gradle
Labels: connectors/destination/snowflake

#59257 🐙 source-marketstack: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-marketstack/metadata.yaml
  docs/integrations/sources/marketstack.md
Labels: auto-merge, up-to-date, connectors/source/marketstack

#59256 🐙 source-kisi: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-kisi/metadata.yaml
  docs/integrations/sources/kisi.md
Labels: auto-merge, up-to-date, connectors/source/kisi

#59255 🐙 source-hugging-face-datasets: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-hugging-face-datasets/metadata.yaml
  docs/integrations/sources/hugging-face-datasets.md
Labels: auto-merge, up-to-date, connectors/source/hugging-face-datasets

#59254 🐙 source-harvest: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-harvest/metadata.yaml
  docs/integrations/sources/harvest.md
Labels: connectors/source/harvest, auto-merge, up-to-date

#59253 🐙 source-microsoft-entra-id: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-microsoft-entra-id/metadata.yaml
  docs/integrations/sources/microsoft-entra-id.md
Labels: auto-merge, up-to-date, connectors/source/microsoft-entra-id

#59251 🐙 source-mailgun: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-mailgun/metadata.yaml
  docs/integrations/sources/mailgun.md
Labels: connectors/source/mailgun, auto-merge, up-to-date

#59248 🐙 source-hubplanner: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-hubplanner/metadata.yaml
  docs/integrations/sources/hubplanner.md
Labels: connectors/source/hubplanner, auto-merge, up-to-date

#59247 🐙 source-keka: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-keka/metadata.yaml
  docs/integrations/sources/keka.md
Labels: auto-merge, up-to-date, connectors/source/keka

#59244 🐙 source-hellobaton: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-hellobaton/metadata.yaml
  docs/integrations/sources/hellobaton.md
Labels: connectors/source/hellobaton, auto-merge, up-to-date

#59243 🐙 source-instagram: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-instagram/metadata.yaml
  airbyte-integrations/connectors/source-instagram/poetry.lock
  airbyte-integrations/connectors/source-instagram/pyproject.toml
  docs/integrations/sources/instagram.md
Labels: connectors/source/instagram, auto-merge, up-to-date

#59241 🐙 source-gridly: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-gridly/metadata.yaml
  airbyte-integrations/connectors/source-gridly/poetry.lock
  airbyte-integrations/connectors/source-gridly/pyproject.toml
  docs/integrations/sources/gridly.md
Labels: connectors/source/gridly, auto-merge, up-to-date

#59240 🐙 source-gorgias: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-gorgias/metadata.yaml
  docs/integrations/sources/gorgias.md
Labels: connectors/source/gorgias, auto-merge, up-to-date

#59239 🐙 source-klarna: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-klarna/metadata.yaml
  docs/integrations/sources/klarna.md
Labels: connectors/source/klarna, auto-merge, up-to-date

#59238 🐙 source-mailtrap: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-mailtrap/metadata.yaml
  docs/integrations/sources/mailtrap.md
Labels: auto-merge, up-to-date, connectors/source/mailtrap

#59237 🐙 source-glassfrog: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-glassfrog/metadata.yaml
  docs/integrations/sources/glassfrog.md
Labels: connectors/source/glassfrog, auto-merge, up-to-date

#59236 🐙 source-luma: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-luma/metadata.yaml
  docs/integrations/sources/luma.md
Labels: auto-merge, up-to-date, connectors/source/luma

#59235 🐙 source-ip2whois: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-ip2whois/metadata.yaml
  docs/integrations/sources/ip2whois.md
Labels: connectors/source/ip2whois, auto-merge, up-to-date

#59234 🐙 source-inflowinventory: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-inflowinventory/metadata.yaml
  docs/integrations/sources/inflowinventory.md
Labels: auto-merge, up-to-date, connectors/source/inflowinventory

#59233 🐙 source-instatus: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-instatus/metadata.yaml
  docs/integrations/sources/instatus.md
Labels: connectors/source/instatus, auto-merge, up-to-date

#59232 🐙 source-k6-cloud: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-k6-cloud/metadata.yaml
  docs/integrations/sources/k6-cloud.md
Labels: connectors/source/k6-cloud, auto-merge, up-to-date

#59231 🐙 source-incident-io: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-incident-io/metadata.yaml
  docs/integrations/sources/incident-io.md
Labels: auto-merge, up-to-date, connectors/source/incident-io

#59230 🐙 source-invoiceninja: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-invoiceninja/metadata.yaml
  docs/integrations/sources/invoiceninja.md
Labels: auto-merge, up-to-date, connectors/source/invoiceninja

#59229 🐙 source-merge: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-merge/metadata.yaml
  docs/integrations/sources/merge.md
Labels: connectors/source/merge, auto-merge, up-to-date

#59228 🐙 source-help-scout: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-help-scout/metadata.yaml
  docs/integrations/sources/help-scout.md
Labels: connectors/source/help-scout, auto-merge, up-to-date

#59227 🐙 source-gocardless: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-gocardless/metadata.yaml
  docs/integrations/sources/gocardless.md
Labels: connectors/source/gocardless, auto-merge, up-to-date

#59226 🐙 source-kyriba: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-kyriba/metadata.yaml
  airbyte-integrations/connectors/source-kyriba/poetry.lock
  airbyte-integrations/connectors/source-kyriba/pyproject.toml
  docs/integrations/sources/kyriba.md
Labels: connectors/source/kyriba, auto-merge, up-to-date

#59225 🐙 source-google-analytics-data-api: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-google-analytics-data-api/metadata.yaml
  airbyte-integrations/connectors/source-google-analytics-data-api/poetry.lock
  airbyte-integrations/connectors/source-google-analytics-data-api/pyproject.toml
  docs/integrations/sources/google-analytics-data-api.md
Labels: connectors/source/google-analytics-data-api, auto-merge, up-to-date

#58824 🐙 source-klaus-api: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-klaus-api/metadata.yaml
  docs/integrations/sources/klaus-api.md
Labels: connectors/source/klaus-api, auto-merge, up-to-date

#58794 🐙 source-mailjet-mail: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-mailjet-mail/metadata.yaml
  docs/integrations/sources/mailjet-mail.md
Labels: connectors/source/mailjet-mail, auto-merge, up-to-date

#58788 🐙 source-marketo: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-marketo/metadata.yaml
  airbyte-integrations/connectors/source-marketo/poetry.lock
  airbyte-integrations/connectors/source-marketo/pyproject.toml
  docs/integrations/sources/marketo.md
Labels: connectors/source/marketo, auto-merge, up-to-date

#59295 🐙 source-launchdarkly: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-launchdarkly/metadata.yaml
  docs/integrations/sources/launchdarkly.md
Labels: connectors/source/launchdarkly, auto-merge, up-to-date

#59294 🐙 source-mailjet-sms: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-mailjet-sms/metadata.yaml
  docs/integrations/sources/mailjet-sms.md
Labels: connectors/source/mailjet-sms, auto-merge, up-to-date

#59293 🐙 source-imagga: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-imagga/metadata.yaml
  docs/integrations/sources/imagga.md
Labels: auto-merge, up-to-date, connectors/source/imagga

#59292 🐙 source-microsoft-dataverse: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-microsoft-dataverse/metadata.yaml
  airbyte-integrations/connectors/source-microsoft-dataverse/poetry.lock
  airbyte-integrations/connectors/source-microsoft-dataverse/pyproject.toml
  docs/integrations/sources/microsoft-dataverse.md
Labels: connectors/source/microsoft-dataverse, auto-merge, up-to-date

#59291 🐙 source-jamf-pro: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-jamf-pro/metadata.yaml
  docs/integrations/sources/jamf-pro.md
Labels: auto-merge, up-to-date, connectors/source/jamf-pro

#59290 🐙 source-humanitix: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-humanitix/metadata.yaml
  docs/integrations/sources/humanitix.md
Labels: auto-merge, up-to-date, connectors/source/humanitix

#59289 🐙 source-justcall: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-justcall/metadata.yaml
  docs/integrations/sources/justcall.md
Labels: auto-merge, up-to-date, connectors/source/justcall

#59288 🐙 source-invoiced: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-invoiced/metadata.yaml
  docs/integrations/sources/invoiced.md
Labels: auto-merge, up-to-date, connectors/source/invoiced

#59287 🐙 source-lightspeed-retail: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-lightspeed-retail/metadata.yaml
  docs/integrations/sources/lightspeed-retail.md
Labels: auto-merge, up-to-date, connectors/source/lightspeed-retail

#59285 🐙 source-insightful: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-insightful/metadata.yaml
  docs/integrations/sources/insightful.md
Labels: auto-merge, up-to-date, connectors/source/insightful

#59284 🐙 source-guru: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-guru/metadata.yaml
  docs/integrations/sources/guru.md
Labels: auto-merge, up-to-date, connectors/source/guru

#59282 🐙 source-leadfeeder: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-leadfeeder/metadata.yaml
  docs/integrations/sources/leadfeeder.md
Labels: auto-merge, up-to-date, connectors/source/leadfeeder

#59281 🐙 source-google-tasks: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-google-tasks/metadata.yaml
  docs/integrations/sources/google-tasks.md
Labels: auto-merge, up-to-date, connectors/source/google-tasks

#59280 🐙 source-looker: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-looker/metadata.yaml
  airbyte-integrations/connectors/source-looker/poetry.lock
  airbyte-integrations/connectors/source-looker/pyproject.toml
  docs/integrations/sources/looker.md
Labels: connectors/source/looker, auto-merge, up-to-date

#59279 🐙 source-less-annoying-crm: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-less-annoying-crm/metadata.yaml
  docs/integrations/sources/less-annoying-crm.md
Labels: auto-merge, up-to-date, connectors/source/less-annoying-crm

#59278 🐙 source-mailersend: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-mailersend/metadata.yaml
  docs/integrations/sources/mailersend.md
Labels: connectors/source/mailersend, auto-merge, up-to-date

#59276 🐙 source-gmail: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-gmail/metadata.yaml
  docs/integrations/sources/gmail.md
Labels: auto-merge, up-to-date, connectors/source/gmail

#59274 🐙 source-hoorayhr: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-hoorayhr/metadata.yaml
  docs/integrations/sources/hoorayhr.md
Labels: auto-merge, up-to-date, connectors/source/hoorayhr

#59272 🐙 source-gong: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-gong/metadata.yaml
  docs/integrations/sources/gong.md
Labels: connectors/source/gong, auto-merge, up-to-date

#59270 🐙 source-metabase: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-metabase/metadata.yaml
  docs/integrations/sources/metabase.md
Labels: connectors/source/metabase, auto-merge, up-to-date

#59269 🐙 source-lob: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-lob/metadata.yaml
  docs/integrations/sources/lob.md
Labels: auto-merge, up-to-date, connectors/source/lob

#59268 🐙 source-just-sift: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-just-sift/metadata.yaml
  docs/integrations/sources/just-sift.md
Labels: auto-merge, up-to-date, connectors/source/just-sift

#59266 🐙 source-illumina-basespace: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-illumina-basespace/metadata.yaml
  docs/integrations/sources/illumina-basespace.md
Labels: auto-merge, up-to-date, connectors/source/illumina-basespace

#59265 🐙 source-linnworks: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-linnworks/metadata.yaml
  airbyte-integrations/connectors/source-linnworks/poetry.lock
  airbyte-integrations/connectors/source-linnworks/pyproject.toml
  docs/integrations/sources/linnworks.md
Labels: connectors/source/linnworks, auto-merge, up-to-date

#59264 🐙 source-google-directory: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-google-directory/metadata.yaml
  airbyte-integrations/connectors/source-google-directory/poetry.lock
  airbyte-integrations/connectors/source-google-directory/pyproject.toml
  docs/integrations/sources/google-directory.md
Labels: connectors/source/google-directory, auto-merge, up-to-date

#59263 🐙 source-jina-ai-reader: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-jina-ai-reader/metadata.yaml
  airbyte-integrations/connectors/source-jina-ai-reader/poetry.lock
  airbyte-integrations/connectors/source-jina-ai-reader/pyproject.toml
  docs/integrations/sources/jina-ai-reader.md
Labels: auto-merge, up-to-date, connectors/source/jina-ai-reader

#59261 🐙 source-height: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-height/metadata.yaml
  docs/integrations/sources/height.md
Labels: auto-merge, up-to-date, connectors/source/height

#59258 🐙 source-goldcast: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-goldcast/metadata.yaml
  docs/integrations/sources/goldcast.md
Labels: auto-merge, connectors/source/goldcast, up-to-date

#58811 🐙 source-google-webfonts: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-google-webfonts/metadata.yaml
  docs/integrations/sources/google-webfonts.md
Labels: connectors/source/google-webfonts, auto-merge, up-to-date

#58810 🐙 source-mailosaur: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-mailosaur/metadata.yaml
  docs/integrations/sources/mailosaur.md
Labels: auto-merge, up-to-date, connectors/source/mailosaur

#58804 🐙 source-google-pagespeed-insights: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-google-pagespeed-insights/metadata.yaml
  docs/integrations/sources/google-pagespeed-insights.md
Labels: connectors/source/google-pagespeed-insights, auto-merge, up-to-date

#58801 🐙 source-linkedin-pages: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-linkedin-pages/metadata.yaml
  docs/integrations/sources/linkedin-pages.md
Labels: connectors/source/linkedin-pages, auto-merge, up-to-date

#58789 🐙 source-hardcoded-records: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-hardcoded-records/metadata.yaml
  airbyte-integrations/connectors/source-hardcoded-records/poetry.lock
  airbyte-integrations/connectors/source-hardcoded-records/pyproject.toml
  docs/integrations/sources/hardcoded-records.md
Labels: auto-merge, up-to-date, connectors/source/hardcoded-records

#58784 🐙 source-hibob: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-hibob/metadata.yaml
  docs/integrations/sources/hibob.md
Labels: auto-merge, up-to-date, connectors/source/hibob

#58164 🐙 source-jobnimbus: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-jobnimbus/metadata.yaml
  docs/integrations/sources/jobnimbus.md
Labels: auto-merge, up-to-date, connectors/source/jobnimbus

#57683 🐙 source-high-level: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-high-level/metadata.yaml
  docs/integrations/sources/high-level.md
Labels: auto-merge, up-to-date, connectors/source/high-level

#59300 🐙 source-kyve: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-kyve/metadata.yaml
  airbyte-integrations/connectors/source-kyve/poetry.lock
  airbyte-integrations/connectors/source-kyve/pyproject.toml
  docs/integrations/sources/kyve.md
Labels: connectors/source/kyve, auto-merge, up-to-date

#59299 🐙 source-linear: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-linear/metadata.yaml
  docs/integrations/sources/linear.md
Labels: auto-merge, up-to-date, connectors/source/linear

#59298 🐙 source-katana: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-katana/metadata.yaml
  docs/integrations/sources/katana.md
Labels: auto-merge, up-to-date, connectors/source/katana

#59297 🐙 source-mendeley: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-mendeley/metadata.yaml
  docs/integrations/sources/mendeley.md
Labels: auto-merge, up-to-date, connectors/source/mendeley

#59296 🐙 source-greythr: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-greythr/metadata.yaml
  docs/integrations/sources/greythr.md
Labels: auto-merge, up-to-date, connectors/source/greythr

#59335 🐙 source-beamer: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-beamer/metadata.yaml
  docs/integrations/sources/beamer.md
Labels: auto-merge, up-to-date, connectors/source/beamer

#59334 🐙 destination-firestore: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/destination-firestore/metadata.yaml
  airbyte-integrations/connectors/destination-firestore/poetry.lock
  airbyte-integrations/connectors/destination-firestore/pyproject.toml
  docs/integrations/destinations/firestore.md
Labels: connectors/destination/firestore, auto-merge, up-to-date

#59333 🐙 destination-cumulio: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/destination-cumulio/metadata.yaml
  airbyte-integrations/connectors/destination-cumulio/poetry.lock
  airbyte-integrations/connectors/destination-cumulio/pyproject.toml
  docs/integrations/destinations/cumulio.md
Labels: connectors/destination/cumulio, auto-merge, up-to-date

#59331 🐙 destination-typesense: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/destination-typesense/metadata.yaml
  airbyte-integrations/connectors/destination-typesense/poetry.lock
  airbyte-integrations/connectors/destination-typesense/pyproject.toml
  docs/integrations/destinations/typesense.md
Labels: connectors/destination/typesense, auto-merge, up-to-date

#59330 🐙 source-bigcommerce: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-bigcommerce/metadata.yaml
  docs/integrations/sources/bigcommerce.md
Labels: connectors/source/bigcommerce, auto-merge, up-to-date

#59329 🐙 source-assemblyai: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-assemblyai/metadata.yaml
  docs/integrations/sources/assemblyai.md
Labels: auto-merge, up-to-date, connectors/source/assemblyai

#59328 🐙 source-7shifts: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-7shifts/metadata.yaml
  docs/integrations/sources/7shifts.md
Labels: auto-merge, up-to-date, connectors/source/7shifts

#59326 🐙 destination-chroma: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/destination-chroma/metadata.yaml
  airbyte-integrations/connectors/destination-chroma/poetry.lock
  airbyte-integrations/connectors/destination-chroma/pyproject.toml
  docs/integrations/destinations/chroma.md
Labels: connectors/destination/chroma, auto-merge, up-to-date

#59325 🐙 source-cal-com: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-cal-com/metadata.yaml
  docs/integrations/sources/cal-com.md
Labels: auto-merge, up-to-date, connectors/source/cal-com

#59324 🐙 source-azure-table: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-azure-table/metadata.yaml
  airbyte-integrations/connectors/source-azure-table/poetry.lock
  airbyte-integrations/connectors/source-azure-table/pyproject.toml
  docs/integrations/sources/azure-table.md
Labels: connectors/source/azure-table, auto-merge, up-to-date

#59323 🐙 source-cart: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-cart/metadata.yaml
  airbyte-integrations/connectors/source-cart/poetry.lock
  airbyte-integrations/connectors/source-cart/pyproject.toml
  docs/integrations/sources/cart.md
Labels: connectors/source/cart, auto-merge, up-to-date

#59322 🐙 source-ashby: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-ashby/metadata.yaml
  docs/integrations/sources/ashby.md
Labels: connectors/source/ashby, auto-merge, up-to-date

#59321 🐙 source-captain-data: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-captain-data/metadata.yaml
  docs/integrations/sources/captain-data.md
Labels: connectors/source/captain-data, auto-merge, up-to-date

#59320 🐙 source-care-quality-commission: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-care-quality-commission/metadata.yaml
  docs/integrations/sources/care-quality-commission.md
Labels: auto-merge, up-to-date, connectors/source/care-quality-commission

#59319 🐙 source-breezometer: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-breezometer/metadata.yaml
  docs/integrations/sources/breezometer.md
Labels: connectors/source/breezometer, auto-merge, up-to-date

#59318 🐙 source-azure-blob-storage: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-azure-blob-storage/metadata.yaml
  airbyte-integrations/connectors/source-azure-blob-storage/poetry.lock
  airbyte-integrations/connectors/source-azure-blob-storage/pyproject.toml
  docs/integrations/sources/azure-blob-storage.md
Labels: connectors/source/azure-blob-storage, auto-merge, up-to-date

#59317 🐙 source-chargedesk: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-chargedesk/metadata.yaml
  docs/integrations/sources/chargedesk.md
Labels: auto-merge, up-to-date, connectors/source/chargedesk

#59316 🐙 destination-firebolt: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/destination-firebolt/metadata.yaml
  airbyte-integrations/connectors/destination-firebolt/poetry.lock
  airbyte-integrations/connectors/destination-firebolt/pyproject.toml
  docs/integrations/destinations/firebolt.md
Labels: connectors/destination/firebolt, auto-merge, up-to-date

#59314 🐙 source-calendly: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-calendly/metadata.yaml
  docs/integrations/sources/calendly.md
Labels: auto-merge, up-to-date, connectors/source/calendly

#59313 🐙 source-canny: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-canny/metadata.yaml
  docs/integrations/sources/canny.md
Labels: auto-merge, up-to-date, connectors/source/canny

#59312 🐙 source-apify-dataset: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-apify-dataset/metadata.yaml
  docs/integrations/sources/apify-dataset.md
Labels: connectors/source/apify-dataset, auto-merge, up-to-date

#59311 🐙 source-brex: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-brex/metadata.yaml
  docs/integrations/sources/brex.md
Labels: auto-merge, up-to-date, connectors/source/brex

#59309 🐙 source-braze: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-braze/metadata.yaml
  docs/integrations/sources/braze.md
Labels: connectors/source/braze, auto-merge, up-to-date

#59308 🐙 source-apple-search-ads: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-apple-search-ads/metadata.yaml
  docs/integrations/sources/apple-search-ads.md
Labels: connectors/source/apple-search-ads, auto-merge, up-to-date

#59307 🐙 source-buildkite: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-buildkite/metadata.yaml
  docs/integrations/sources/buildkite.md
Labels: auto-merge, up-to-date, connectors/source/buildkite

#59306 🐙 source-activecampaign: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-activecampaign/metadata.yaml
  docs/integrations/sources/activecampaign.md
Labels: connectors/source/activecampaign, auto-merge, up-to-date

#59305 🐙 source-bigmailer: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-bigmailer/metadata.yaml
  docs/integrations/sources/bigmailer.md
Labels: auto-merge, up-to-date, connectors/source/bigmailer

#59304 🐙 source-appfollow: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-appfollow/metadata.yaml
  docs/integrations/sources/appfollow.md
Labels: connectors/source/appfollow, auto-merge, up-to-date

#59303 🐙 source-callrail: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-callrail/metadata.yaml
  docs/integrations/sources/callrail.md
Labels: connectors/source/callrail, auto-merge, up-to-date

#59302 🐙 destination-meilisearch: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/destination-meilisearch/metadata.yaml
  airbyte-integrations/connectors/destination-meilisearch/poetry.lock
  airbyte-integrations/connectors/destination-meilisearch/pyproject.toml
  docs/integrations/destinations/meilisearch.md
Labels: connectors/destination/meilisearch, auto-merge, up-to-date

#58739 🐙 source-alpaca-broker-api: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-alpaca-broker-api/metadata.yaml
  docs/integrations/sources/alpaca-broker-api.md
Labels: auto-merge, up-to-date, connectors/source/alpaca-broker-api

#58704 🐙 source-brevo: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-brevo/metadata.yaml
  docs/integrations/sources/brevo.md
Labels: auto-merge, up-to-date, connectors/source/brevo

#58696 🐙 destination-rabbitmq: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/destination-rabbitmq/metadata.yaml
  airbyte-integrations/connectors/destination-rabbitmq/poetry.lock
  airbyte-integrations/connectors/destination-rabbitmq/pyproject.toml
  docs/integrations/destinations/rabbitmq.md
Labels: connectors/destination/rabbitmq, auto-merge, up-to-date

#59370 🐙 source-airbyte: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-airbyte/metadata.yaml
  docs/integrations/sources/airbyte.md
Labels: auto-merge, up-to-date, connectors/source/airbyte

#59369 🐙 source-amplitude: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-amplitude/metadata.yaml
  docs/integrations/sources/amplitude.md
Labels: connectors/source/amplitude, auto-merge, up-to-date

#59368 🐙 source-castor-edc: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-castor-edc/metadata.yaml
  docs/integrations/sources/castor-edc.md
Labels: auto-merge, up-to-date, connectors/source/castor-edc

#59367 🐙 source-campayn: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-campayn/metadata.yaml
  docs/integrations/sources/campayn.md
Labels: auto-merge, up-to-date, connectors/source/campayn

#59366 🐙 destination-aws-datalake: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/destination-aws-datalake/metadata.yaml
  airbyte-integrations/connectors/destination-aws-datalake/poetry.lock
  airbyte-integrations/connectors/destination-aws-datalake/pyproject.toml
  docs/integrations/destinations/aws-datalake.md
Labels: connectors/destination/aws-datalake, auto-merge, up-to-date

#59365 🐙 source-100ms: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-100ms/metadata.yaml
  docs/integrations/sources/100ms.md
Labels: auto-merge, up-to-date, connectors/source/100ms

#59364 🐙 source-aviationstack: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-aviationstack/metadata.yaml
  docs/integrations/sources/aviationstack.md
Labels: auto-merge, up-to-date, connectors/source/aviationstack

#59363 🐙 source-bunny-inc: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-bunny-inc/metadata.yaml
  docs/integrations/sources/bunny-inc.md
Labels: auto-merge, up-to-date, connectors/source/bunny-inc

#59362 🐙 source-basecamp: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-basecamp/metadata.yaml
  docs/integrations/sources/basecamp.md
Labels: auto-merge, up-to-date, connectors/source/basecamp

#59361 🐙 source-alpha-vantage: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-alpha-vantage/metadata.yaml
  docs/integrations/sources/alpha-vantage.md
Labels: connectors/source/alpha-vantage, auto-merge, up-to-date

#59360 🐙 source-breezy-hr: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-breezy-hr/metadata.yaml
  docs/integrations/sources/breezy-hr.md
Labels: auto-merge, up-to-date, connectors/source/breezy-hr

#59359 🐙 source-appsflyer: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-appsflyer/metadata.yaml
  airbyte-integrations/connectors/source-appsflyer/poetry.lock
  airbyte-integrations/connectors/source-appsflyer/pyproject.toml
  docs/integrations/sources/appsflyer.md
Labels: connectors/source/appsflyer, auto-merge, up-to-date

#59358 🐙 destination-couchbase: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/destination-couchbase/metadata.yaml
  airbyte-integrations/connectors/destination-couchbase/poetry.lock
  airbyte-integrations/connectors/destination-couchbase/pyproject.toml
  docs/integrations/destinations/couchbase.md
Labels: auto-merge, up-to-date, connectors/destination/couchbase

#59357 🐙 destination-convex: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/destination-convex/metadata.yaml
  airbyte-integrations/connectors/destination-convex/poetry.lock
  airbyte-integrations/connectors/destination-convex/pyproject.toml
  docs/integrations/destinations/convex.md
Labels: connectors/destination/convex, auto-merge, up-to-date

#59356 🐙 source-aha: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-aha/metadata.yaml
  docs/integrations/sources/aha.md
Labels: connectors/source/aha, auto-merge, up-to-date

#59355 🐙 source-blogger: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-blogger/metadata.yaml
  docs/integrations/sources/blogger.md
Labels: auto-merge, up-to-date, connectors/source/blogger

#59353 🐙 destination-sftp-json: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/destination-sftp-json/metadata.yaml
  airbyte-integrations/connectors/destination-sftp-json/poetry.lock
  airbyte-integrations/connectors/destination-sftp-json/pyproject.toml
  docs/integrations/destinations/sftp-json.md
Labels: connectors/destination/sftp-json, auto-merge, up-to-date

#59352 🐙 source-bugsnag: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-bugsnag/metadata.yaml
  docs/integrations/sources/bugsnag.md
Labels: auto-merge, up-to-date, connectors/source/bugsnag

#59349 🐙 destination-glassflow: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/destination-glassflow/metadata.yaml
  airbyte-integrations/connectors/destination-glassflow/poetry.lock
  airbyte-integrations/connectors/destination-glassflow/pyproject.toml
  docs/integrations/destinations/glassflow.md
Labels: auto-merge, up-to-date, connectors/destination/glassflow

#59348 🐙 destination-sqlite: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/destination-sqlite/metadata.yaml
  airbyte-integrations/connectors/destination-sqlite/poetry.lock
  airbyte-integrations/connectors/destination-sqlite/pyproject.toml
  docs/integrations/destinations/sqlite.md
Labels: connectors/destination/sqlite, auto-merge, up-to-date

#59346 🐙 source-babelforce: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-babelforce/metadata.yaml
  docs/integrations/sources/babelforce.md
Labels: connectors/source/babelforce, auto-merge, up-to-date

#59345 🐙 source-boldsign: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-boldsign/metadata.yaml
  docs/integrations/sources/boldsign.md
Labels: auto-merge, up-to-date, connectors/source/boldsign

#59344 🐙 source-amazon-sqs: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-amazon-sqs/metadata.yaml
  airbyte-integrations/connectors/source-amazon-sqs/poetry.lock
  airbyte-integrations/connectors/source-amazon-sqs/pyproject.toml
  docs/integrations/sources/amazon-sqs.md
Labels: connectors/source/amazon-sqs, auto-merge, up-to-date

#59343 🐙 destination-timeplus: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/destination-timeplus/metadata.yaml
  airbyte-integrations/connectors/destination-timeplus/poetry.lock
  airbyte-integrations/connectors/destination-timeplus/pyproject.toml
  docs/integrations/destinations/timeplus.md
Labels: connectors/destination/timeplus, auto-merge, up-to-date

#59342 🐙 source-chameleon: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-chameleon/metadata.yaml
  docs/integrations/sources/chameleon.md
Labels: auto-merge, up-to-date, connectors/source/chameleon

#59341 🐙 source-akeneo: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-akeneo/metadata.yaml
  docs/integrations/sources/akeneo.md
Labels: auto-merge, up-to-date, connectors/source/akeneo

#59339 🐙 source-algolia: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-algolia/metadata.yaml
  docs/integrations/sources/algolia.md
Labels: auto-merge, up-to-date, connectors/source/algolia

#59336 🐙 source-apptivo: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-apptivo/metadata.yaml
  docs/integrations/sources/apptivo.md
Labels: auto-merge, up-to-date, connectors/source/apptivo

#58718 🐙 destination-qdrant: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/destination-qdrant/metadata.yaml
  airbyte-integrations/connectors/destination-qdrant/poetry.lock
  airbyte-integrations/connectors/destination-qdrant/pyproject.toml
  docs/integrations/destinations/qdrant.md
Labels: connectors/destination/qdrant, auto-merge, up-to-date

#58717 🐙 destination-deepset: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/destination-deepset/metadata.yaml
  airbyte-integrations/connectors/destination-deepset/poetry.lock
  airbyte-integrations/connectors/destination-deepset/pyproject.toml
  docs/integrations/destinations/deepset.md
Labels: auto-merge, up-to-date, connectors/destination/deepset

#58710 🐙 source-appcues: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-appcues/metadata.yaml
  docs/integrations/sources/appcues.md
Labels: auto-merge, up-to-date, connectors/source/appcues

#58700 🐙 source-capsule-crm: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-capsule-crm/metadata.yaml
  docs/integrations/sources/capsule-crm.md
Labels: auto-merge, up-to-date, connectors/source/capsule-crm

#58689 🐙 source-buzzsprout: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-buzzsprout/metadata.yaml
  docs/integrations/sources/buzzsprout.md
Labels: auto-merge, up-to-date, connectors/source/buzzsprout

#59420 🐙 source-clazar: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-clazar/metadata.yaml
  docs/integrations/sources/clazar.md
Labels: auto-merge, up-to-date, connectors/source/clazar

#59419 🐙 source-fulcrum: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-fulcrum/metadata.yaml
  docs/integrations/sources/fulcrum.md
Labels: auto-merge, up-to-date, connectors/source/fulcrum

#59417 🐙 source-codefresh: run up-to-date pipeline [2025-05-03]
  airbyte-integrations/connectors/source-codefresh/metadata.yaml
  docs/integrations/sources/codefresh.md
Labels: auto-merge, up-to-date, connectors/source/codefresh
